---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-lb-sad-jones","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-08-31T19:05:28.580600097Z","description":"","frontend_count":0,"id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","instances":[],"ip":[{"id":"41ac02e7-bfa9-4f6b-9c73-c1595bcff88a","ip_address":"51.15.207.230","lb_id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-15-207-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"tf-lb-sad-jones","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-08-31T19:05:28.580600097Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 375.804814ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/812ce35f-6dd6-4fdf-a68b-3094df4417a5
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-08-31T19:05:28.580600Z","description":"","frontend_count":0,"id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","instances":[],"ip":[{"id":"41ac02e7-bfa9-4f6b-9c73-c1595bcff88a","ip_address":"51.15.207.230","lb_id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-15-207-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"tf-lb-sad-jones","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-08-31T19:05:28.580600Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.665485ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/812ce35f-6dd6-4fdf-a68b-3094df4417a5/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.359445ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-tf-tmpl-nice-booth","tags":["terraform-test","scaleway_autoscaling_group","lb_config"],"server_tags":null,"server_type":"PRO2-M","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"created_at":"2026-08-31T19:05:59.232893Z","filesystem_ids":[],"id":"514ce1c7-c48c-4099-ac5c-dd60c0b6251d","name":"tf-tf-tmpl-nice-booth","private_networks":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public_ip_v4_count":0,"public_ip_v6_count":0,"server_tags":[],"server_type":"PRO2-M","tags":["terraform-test","scaleway_autoscaling_group","lb_config"],"updated_at":"2026-08-31T19:05:59.232893Z","volumes":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 174.820602ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-sleepy-varahamihira","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/812ce35f-6dd6-4fdf-a68b-3094df4417a5/backends
        method: POST
      response:
        body: '{"created_at":"2026-08-31T19:05:59.304013022Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"fefe708e-3904-4293-8a68-bf11a3f9ff08","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-08-31T19:05:28.580600Z","description":"","frontend_count":0,"id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","instances":[{"created_at":"2026-08-31T19:04:27.539569Z","id":"b36cf553-b6e6-4a99-80d1-3e63dc807007","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-08-31T19:05:59.328214397Z","zone":"fr-par-1"}],"ip":[{"id":"41ac02e7-bfa9-4f6b-9c73-c1595bcff88a","ip_address":"51.15.207.230","lb_id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-15-207-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"tf-lb-sad-jones","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-08-31T19:05:31.488260Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-sleepy-varahamihira","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-08-31T19:05:59.304013022Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 297.595689ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/fefe708e-3904-4293-8a68-bf11a3f9ff08
        method: GET
      response:
        body: '{"created_at":"2026-08-31T19:05:59.304013Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-asg-lb-config","tags":["terraform-test","scaleway_autoscaling_group","lb_config"],"template_id":"514ce1c7-c48c-4099-ac5c-dd60c0b6251d","scaling_policy_spec":{"minimum_size":0,"maximum_size":25,"scale_out_cooldown":"60.000000000s","scale_in_cooldown":"60.000000000s","scale_in_step":1,"scale_out_step":1,"fixed_size":{"size":1}},"load_balancer_configuration_spec":{"load_balancer_id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","backends":[{"backend_id":"fefe708e-3904-4293-8a68-bf11a3f9ff08","address_family":"ipv4","private_network_id":null}],"auto_healing":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
        method: POST
      response:
        body: '{"created_at":"2026-08-31T19:05:59.828953Z","current_size":0,"id":"01a05936-d12a-7812-bb65-3d988c453bfc","last_scale_in_at":null,"last_scale_out_at":null,"load_balancer_configuration":{"auto_healing":{"enabled":false,"grace_period":"300s"},"backends":[{"address_family":"ipv4","backend_id":"fefe708e-3904-4293-8a68-bf11a3f9ff08"}],"load_balancer_id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5"},"name":"tf-test-acc-asg-lb-config","open_alerts":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","scaling_policy":{"fixed_size":{"size":1},"maximum_size":25,"minimum_size":0,"scale_in_cooldown":"60s","scale_in_step":1,"scale_out_cooldown":"60s","scale_out_step":1},"status":"active","tags":["terraform-test","scaleway_autoscaling_group","lb_config"],"target_size":0,"template_id":"514ce1c7-c48c-4099-ac5c-dd60c0b6251d","updated_at":"2026-08-31T19:05:59.828953Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 222.664ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups?order_by=created_at_desc&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&template_id=514ce1c7-c48c-4099-ac5c-dd60c0b6251d
        method: GET
      response:
        body: '{"group_summaries":[{"created_at":"2026-08-31T19:05:59.828953Z","current_size":0,"id":"01a05936-d12a-7812-bb65-3d988c453bfc","load_balancer_id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5","maximum_size":25,"minimum_size":0,"name":"tf-test-acc-asg-lb-config","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","scaling_policy_target_type":"fixed_size","status":"active","tags":["terraform-test","scaleway_autoscaling_group","lb_config"],"template_id":"514ce1c7-c48c-4099-ac5c-dd60c0b6251d","updated_at":"2026-08-31T19:05:59.828953Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 81.389006ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a05936-d12a-7812-bb65-3d988c453bfc
        method: GET
      response:
        body: '{"created_at":"2026-08-31T19:05:59.828953Z","current_size":0,"id":"01a05936-d12a-7812-bb65-3d988c453bfc","last_scale_in_at":null,"last_scale_out_at":null,"load_balancer_configuration":{"auto_healing":{"enabled":false,"grace_period":"300s"},"backends":[{"address_family":"ipv4","backend_id":"fefe708e-3904-4293-8a68-bf11a3f9ff08"}],"load_balancer_id":"812ce35f-6dd6-4fdf-a68b-3094df4417a5"},"name":"tf-test-acc-asg-lb-config","open_alerts":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","scaling_policy":{"fixed_size":{"size":1},"maximum_size":25,"minimum_size":0,"scale_in_cooldown":"60s","scale_in_step":1,"scale_out_cooldown":"60s","scale_out_step":1},"status":"active","tags":["terraform-test","scaleway_autoscaling_group","lb_config"],"target_size":0,"template_id":"514ce1c7-c48c-4099-ac5c-dd60c0b6251d","updated_at":"2026-08-31T19:05:59.828953Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 121.255027ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/514ce1c7-c48c-4099-ac5c-dd60c0b6251d
        method: GET
      response:
        body: '{"created_at":"2026-08-31T19:05:59.232893Z","filesystem_ids":[],"id":"514ce1c7-c48c-4099-ac5c-dd60c0b6251d","name":"tf-tf-tmpl-nice-booth","private_networks":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public_ip_v4_count":0,"public_ip_v6_count":0,"server_tags":[],"server_type":"PRO2-M","tags":["terraform-test","scaleway_autoscaling_group","lb_config"],"updated_at":"2026-08-31T19:05:59.232893Z","volumes":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 69.648406ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-objective-kowalevski","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-31T19:06:02.390213Z","custom_routes_propagation_enabled":true,"id":"58e2edca-cba3-400e-9ca8-8b9508fb0e36","is_default":false,"name":"tf-vpc-objective-kowalevski","object_storage_private_access_enabled":false,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-31T19:06:02.390213Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 109.935877ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.843971ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/58e2edca-cba3-400e-9ca8-8b9508fb0e36
        method: GET
      response:
        body: '{"created_at":"2026-08-31T19:06:02.390213Z","custom_routes_propagation_enabled":true,"id":"58e2edca-cba3-400e-9ca8-8b9508fb0e36","is_default":false,"name":"tf-vpc-objective-kowalevski","object_storage_private_access_enabled":false,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-31T19:06:02.390213Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 31.864591ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hopeful-brown","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"58e2edca-cba3-400e-9ca8-8b9508fb0e36","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-31T19:06:02.567761Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"6b2b781c-308c-4ee3-8775-f0d7900cec16","name":"tf-pn-hopeful-brown","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2026-08-31T19:06:02.567761Z","id":"8e7aed2b-13bf-4197-acd5-0197080cbe35","private_network_id":"6b2b781c-308c-4ee3-8775-f0d7900cec16","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnet":"172.16.80.0/22","updated_at":"2026-08-31T19:06:02.567761Z","vpc_id":"58e2edca-cba3-400e-9ca8-8b9508fb0e36"},{"created_at":"2026-08-31T19:06:02.567761Z","id":"018d6247-83b3-4b1b-84c3-f5a57a804dad","private_network_id":"6b2b781c-308c-4ee3-8775-f0d7900cec16","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnet":"fd63:256c:45f7:912f::/64","updated_at":"2026-08-31T19:06:02.567761Z","vpc_id":"58e2edca-cba3-400e-9ca8-8b9508fb0e36"}],"tags":[],"updated_at":"2026-08-31T19:06:02.567761Z","vpc_id":"58e2edca-cba3-400e-9ca8-8b9508fb0e36"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 858.785935ms
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6b2b781c-308c-4ee3-8775-f0d7900cec16
        method: GET
      response:
        body: '{"created_at":"2026-08-31T19:06:02.567761Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"6b2b781c-308c-4ee3-8775-f0d7900cec16","name":"tf-pn-hopeful-brown","org[...]
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a05936-d12a-7812-bb65-3d988c453bfc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"autoscaling_group","resource_id":"01a05936-d12a-7812-bb65-3d988c453bfc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 38.843445ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/812ce35f-6dd6-4fdf-a68b-3094df4417a5?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 232.483494ms
[...]
