---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tf-tmpl-serene-panini","tags":["terraform-test","scaleway_autoscaling_group","basic"],"server_tags":null,"server_type":"PRO2-M","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"created_at":"2026-08-31T19:05:35.368950Z","filesystem_ids":[],"id":"271ac856-e302-4f58-a4e2-0689ec495287","name":"tf-tf-tmpl-serene-panini","private_networks":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ip_v4_count":0,"public_ip_v6_count":0,"server_tags":[],"server_type":"PRO2-M","tags":["terraform-test","scaleway_autoscaling_group","basic"],"updated_at":"2026-08-31T19:05:35.368950Z","volumes":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 538.284308ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tf-asg-thirsty-goldwasser","tags":["terraform-test","scaleway_autoscaling_group","basic"],"template_id":"271ac856-e302-4f58-a4e2-0689ec495287","scaling_policy_spec":{"minimum_size":3,"maximum_size":12,"scale_out_cooldown":"40.000000000s","scale_in_cooldown":"300.000000000s","scale_in_step":2,"scale_out_step":1,"fixed_size":{"size":7}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
        method: POST
      response:
        body: '{"created_at":"2026-08-31T19:05:35.844170Z","current_size":0,"id":"01a05936-7373-7a11-8883-efafbe4d5487","last_scale_in_at":null,"last_scale_out_at":null,"name":"tf-tf-asg-thirsty-goldwasser","open_alerts":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","scaling_policy":{"fixed_size":{"size":7},"maximum_size":12,"minimum_size":3,"scale_in_cooldown":"300s","scale_in_step":2,"scale_out_cooldown":"40s","scale_out_step":1},"status":"active","tags":["terraform-test","scaleway_autoscaling_group","basic"],"target_size":0,"template_id":"271ac856-e302-4f58-a4e2-0689ec495287","updated_at":"2026-08-31T19:05:35.844170Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 500.724687ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups?order_by=created_at_desc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&template_id=271ac856-e302-4f58-a4e2-0689ec495287
        method: GET
      response:
        body: '{"group_summaries":[{"created_at":"2026-08-31T19:05:35.844170Z","current_size":0,"id":"01a05936-7373-7a11-8883-efafbe4d5487","maximum_size":12,"minimum_size":3,"name":"tf-tf-asg-thirsty-goldwasser","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","scaling_policy_target_type":"fixed_size","status":"active","tags":["terraform-test","scaleway_autoscaling_group","basic"],"template_id":"271ac856-e302-4f58-a4e2-0689ec495287","updated_at":"2026-08-31T19:05:35.844170Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 246.497988ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a05936-7373-7a11-8883-efafbe4d5487
        method: GET
      response:
        body: '{"created_at":"2026-08-31T19:05:35.844170Z","current_size":0,"id":"01a05936-7373-7a11-8883-efafbe4d5487","last_scale_in_at":null,"last_scale_out_at":null,"name":"tf-tf-asg-thirsty-goldwasser","open_alerts":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","scaling_policy":{"fixed_size":{"size":7},"maximum_size":12,"minimum_size":3,"scale_in_cooldown":"300s","scale_in_step":2,"scale_out_cooldown":"40s","scale_out_step":1},"status":"active","tags":["terraform-test","scaleway_autoscaling_group","basic"],"target_size":0,"template_id":"271ac856-e302-4f58-a4e2-0689ec495287","updated_at":"2026-08-31T19:05:35.844170Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 187.620795ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/271ac856-e302-4f58-a4e2-0689ec495287
        method: GET
      response:
        body: '{"created_at":"2026-08-31T19:05:35.368950Z","filesystem_ids":[],"id":"271ac856-e302-4f58-a4e2-0689ec495287","name":"tf-tf-tmpl-serene-panini","private_networks":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ip_v4_count":0,"public_ip_v6_count":0,"server_tags":[],"server_type":"PRO2-M","tags":["terraform-test","scaleway_autoscaling_group","basic"],"updated_at":"2026-08-31T19:05:35.368950Z","volumes":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 365.73422ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-acc-asg-basic-renamed","tags":[],"scaling_policy_spec":{"minimum_size":1,"maximum_size":17,"scale_out_cooldown":"60.000000000s","scale_in_cooldown":"60.000000000s","scale_in_step":1,"scale_out_step":1,"cpu_target":{"target_avg_percent":80}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a05936-7373-7a11-8883-efafbe4d5487
        method: PATCH
      response:
        body: '{"created_at":"2026-08-31T19:05:35.844170Z","current_size":0,"id":"01a05936-7373-7a11-8883-efafbe4d5487","last_scale_in_at":null,"last_scale_out_at":null,"name":"tf-test-acc-asg-basic-renamed","open_alerts":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","scaling_policy":{"cpu_target":{"target_avg_percent":80},"maximum_size":17,"minimum_size":1,"scale_in_cooldown":"60s","scale_in_step":1,"scale_out_cooldown":"60s","scale_out_step":1},"status":"active","tags":[],"target_size":0,"template_id":"65a87c25-ca01-485c-8986-51dae0213abd","updated_at":"2026-08-31T19:05:40.988206Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 235.073046ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"scaling_policy_spec":{"minimum_size":1,"maximum_size":17,"scale_out_cooldown":"60.000000000s","scale_in_cooldown":"60.000000000s","scale_in_step":1,"scale_out_step":1,"memory_target":{"target_avg_percent":95}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a05936-7373-7a11-8883-efafbe4d5487
        method: PATCH
      response:
        body: '{"created_at":"2026-08-31T19:05:35.844170Z","current_size":0,"id":"01a05936-7373-7a11-8883-efafbe4d5487","last_scale_in_at":null,"last_scale_out_at":null,"name":"tf-test-acc-asg-basic-renamed","open_alerts":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","scaling_policy":{"maximum_size":17,"memory_target":{"target_avg_percent":95},"minimum_size":1,"scale_in_cooldown":"60s","scale_in_step":1,"scale_out_cooldown":"60s","scale_out_step":1},"status":"active","tags":[],"target_size":0,"template_id":"65a87c25-ca01-485c-8986-51dae0213abd","updated_at":"2026-08-31T19:05:40.988206Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 267.500429ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a05936-7373-7a11-8883-efafbe4d5487
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"autoscaling_group","resource_id":"01a05936-7373-7a11-8883-efafbe4d5487","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 43.412493ms
[...]
