---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_address":"195.154.73.21","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-21.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.257291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-27T07:37:07.642999Z","custom_routes_propagation_enabled":true,"id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d","is_default":false,"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-27T07:37:07.642999Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.023875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-elegant-brattain","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-02-27T07:37:07.642434Z","id":"26600693-36d4-4938-9f81-3d668e3789b6","last_detached_at":null,"name":"tf-volume-elegant-brattain","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-02-27T07:37:07.642434Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.008208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/1cd046ba-e4be-41a9-bd9c-011418253e02
        method: GET
      response:
        body: '{"id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_address":"195.154.73.21","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-21.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.549042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/77ae8df1-b585-4fea-ae6c-0dc864c6fc7d
        method: GET
      response:
        body: '{"created_at":"2026-02-27T07:37:07.642999Z","custom_routes_propagation_enabled":true,"id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d","is_default":false,"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-27T07:37:07.642999Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.676916ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/26600693-36d4-4938-9f81-3d668e3789b6
        method: GET
      response:
        body: '{"created_at":"2026-02-27T07:37:07.642434Z","id":"26600693-36d4-4938-9f81-3d668e3789b6","last_detached_at":null,"name":"tf-volume-elegant-brattain","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-02-27T07:37:07.642434Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.312917ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-27T07:37:07.867699Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"61985602-610b-4bf6-b07a-6fc53697827c","name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-27T07:37:07.867699Z","id":"8d94100b-c4be-493a-847e-c50523eb955f","private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.32.0/22","updated_at":"2026-02-27T07:37:07.867699Z","vpc_id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d"},{"created_at":"2026-02-27T07:37:07.867699Z","id":"746701b1-8da3-4089-9392-d580af9bf018","private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6236::/64","updated_at":"2026-02-27T07:37:07.867699Z","vpc_id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d"}],"tags":[],"updated_at":"2026-02-27T07:37:07.867699Z","vpc_id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 708.083375ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/61985602-610b-4bf6-b07a-6fc53697827c
        method: GET
      response:
        body: '{"created_at":"2026-02-27T07:37:07.867699Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"61985602-610b-4bf6-b07a-6fc53697827c","name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-27T07:37:07.867699Z","id":"8d94100b-c4be-493a-847e-c50523eb955f","private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.32.0/22","updated_at":"2026-02-27T07:37:07.867699Z","vpc_id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d"},{"created_at":"2026-02-27T07:37:07.867699Z","id":"746701b1-8da3-4089-9392-d580af9bf018","private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6236::/64","updated_at":"2026-02-27T07:37:07.867699Z","vpc_id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d"}],"tags":[],"updated_at":"2026-02-27T07:37:07.867699Z","vpc_id":"77ae8df1-b585-4fea-ae6c-0dc864c6fc7d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.758875ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","description":"","ip_id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-27T07:37:08.696711834Z","description":"","frontend_count":0,"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","instances":[],"ip":[{"id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_address":"195.154.73.21","lb_id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-21.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T07:37:08.696711834Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.886041ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3711710f-e07b-407c-bf77-a32c3ae2ade9
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-27T07:37:08.696712Z","description":"","frontend_count":0,"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","instances":[{"created_at":"2026-02-27T07:01:21.059042Z","id":"c70c2fa8-8e1f-4ce0-b7d6-b811fd671658","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-27T07:37:08.873712Z","zone":"fr-par-1"}],"ip":[{"id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_address":"195.154.73.21","lb_id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-21.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T07:37:08.881488Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.241333ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"26600693-36d4-4938-9f81-3d668e3789b6","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-02-27T07:37:13.135771Z","id":"84a18328-503e-47f4-9605-344f75641279","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"26600693-36d4-4938-9f81-3d668e3789b6","name":"tf-volume-elegant-brattain","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-02-27T07:37:13.135771Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 555.109084ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/84a18328-503e-47f4-9605-344f75641279
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-02-27T07:37:13.135771Z","id":"84a18328-503e-47f4-9605-344f75641279","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"26600693-36d4-4938-9f81-3d668e3789b6","name":"tf-volume-elegant-brattain","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-02-27T07:37:13.135771Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.839917ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"84a18328-503e-47f4-9605-344f75641279"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","private_network_ids":["61985602-610b-4bf6-b07a-6fc53697827c"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-02-27T07:37:19.833065867Z","id":"5089e37b-fff9-46fc-9165-993caac1308f","image_id":null,"name":"TestAccASGInstanceGroup","placement_group_id":null,"private_network_ids":["61985602-610b-4bf6-b07a-6fc53697827c"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-02-27T07:37:19.833065867Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"84a18328-503e-47f4-9605-344f75641279"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.634208ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/5089e37b-fff9-46fc-9165-993caac1308f
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-02-27T07:37:19.833065Z","id":"5089e37b-fff9-46fc-9165-993caac1308f","image_id":null,"name":"TestAccASGInstanceGroup","placement_group_id":null,"private_network_ids":["61985602-610b-4bf6-b07a-6fc53697827c"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-02-27T07:37:19.833065Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"84a18328-503e-47f4-9605-344f75641279"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.472417ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3711710f-e07b-407c-bf77-a32c3ae2ade9/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-02-27T07:37:39.225507278Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-02-27T07:37:08.696712Z","description":"","frontend_count":0,"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","instances":[{"created_at":"2026-02-27T07:01:21.059042Z","id":"c70c2fa8-8e1f-4ce0-b7d6-b811fd671658","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-02-27T07:37:10.429642Z","zone":"fr-par-1"}],"ip":[{"id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_address":"195.154.73.21","lb_id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-21.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T07:37:11.375678Z","zone":"fr-par-1"},"private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c","status":"pending","updated_at":"2026-02-27T07:37:39.225507278Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.111875ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3711710f-e07b-407c-bf77-a32c3ae2ade9/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2026-02-27T07:37:39.225507Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-02-27T07:37:08.696712Z","description":"","frontend_count":0,"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","instances":[],"ip":[{"id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_address":"195.154.73.21","lb_id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-21.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T07:37:11.375678Z","zone":"fr-par-1"},"private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c","status":"pending","updated_at":"2026-02-27T07:37:39.225507Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.196167ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=61985602-610b-4bf6-b07a-6fc53697827c&resource_id=3711710f-e07b-407c-bf77-a32c3ae2ade9&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.32.2/22","created_at":"2026-02-27T07:37:39.526102Z","id":"31b8e554-0dd9-421f-a5ec-c4df97b01cd0","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","mac_address":"02:00:00:11:82:2A","name":"TestAccASGInstanceGroup","type":"lb_server"},"reverses":[],"source":{"subnet_id":"8d94100b-c4be-493a-847e-c50523eb955f"},"tags":[],"updated_at":"2026-02-27T07:37:40.012941Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.566083ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-hopeful-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3711710f-e07b-407c-bf77-a32c3ae2ade9/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-27T07:38:10.437254748Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"f3e3572b-62e7-4797-9002-61f6a994e1c3","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-27T07:37:08.696712Z","description":"","frontend_count":0,"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","instances":[{"created_at":"2026-02-27T07:01:21.059042Z","id":"c70c2fa8-8e1f-4ce0-b7d6-b811fd671658","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-27T07:38:10.463549853Z","zone":"fr-par-1"}],"ip":[{"id":"1cd046ba-e4be-41a9-bd9c-011418253e02","ip_address":"195.154.73.21","lb_id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-21.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T07:37:11.375678Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-hopeful-lehmann","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-27T07:38:10.437254748Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.0585ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f3e3572b-62e7-4797-9002-61f6a994e1c3
        method: GET
      response:
        body: '{"created_at":"2026-02-27T07:38:10.437255Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","tags":["terraform-test","instance-group"],"template_id":"5089e37b-fff9-46fc-9165-993caac1308f","capacity":{"max_replicas":5,"min_replicas":1,"cooldown_delay":"300.000000000s"},"loadbalancer":{"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","backend_ids":["f3e3572b-62e7-4797-9002-61f6a994e1c3"],"private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
        method: POST
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-02-27T07:38:11.253788104Z","error_messages":[],"id":"a57d70a8-3097-4982-a6e3-88587a7aff30","instance_template_id":"5089e37b-fff9-46fc-9165-993caac1308f","loadbalancer":{"backend_ids":["f3e3572b-62e7-4797-9002-61f6a994e1c3"],"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c"},"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-02-27T07:38:11.253788104Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.240875ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/a57d70a8-3097-4982-a6e3-88587a7aff30
        method: GET
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-02-27T07:38:11.253788Z","error_messages":[],"id":"a57d70a8-3097-4982-a6e3-88587a7aff30","instance_template_id":"5089e37b-fff9-46fc-9165-993caac1308f","loadbalancer":{"backend_ids":["f3e3572b-62e7-4797-9002-61f6a994e1c3"],"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c"},"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-02-27T07:38:11.253788Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.848208ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups?order_by=created_at_desc
        method: GET
      response:
        body: '{"instance_groups":[{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-02-27T07:38:11.253788Z","error_messages":[],"id":"a57d70a8-3097-4982-a6e3-88587a7aff30","instance_template_id":"5089e37b-fff9-46fc-9165-993caac1308f","loadbalancer":{"backend_ids":["f3e3572b-62e7-4797-9002-61f6a994e1c3"],"id":"3711710f-e07b-407c-bf77-a32c3ae2ade9","private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c"},"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-02-27T07:38:11.253788Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.726667ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=a57d70a8-3097-4982-a6e3-88587a7aff30&order=creation_date_desc
        method: GET
      response:
        body: '{"servers":[]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&name=a57d70a8-3097-4982-a6e3-88587a7aff30&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 172.190833ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/84a18328-503e-47f4-9605-344f75641279
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"84a18328-503e-47f4-9605-344f75641279","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.474958ms
[...]
    - id: 96
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"61985602-610b-4bf6-b07a-6fc53697827c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3711710f-e07b-407c-bf77-a32c3ae2ade9/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 279.150291ms
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3711710f-e07b-407c-bf77-a32c3ae2ade9?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
[...]
