---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"4400d7b8-84b8-4ccd-908c-a9b79a6317d4","ip_address":"51.159.26.98","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.854917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-27T11:39:29.382181Z","custom_routes_propagation_enabled":true,"id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa","is_default":false,"name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-27T11:39:29.382181Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.89175ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-dreamy-taussig","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-02-27T11:39:29.395416Z","id":"34e12bc2-158b-4c60-9296-c8383d9f9b54","last_detached_at":null,"name":"tf-volume-dreamy-taussig","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-02-27T11:39:29.395416Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.690792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/724e38dc-2b4e-49ce-956b-65a3e1df23aa
        method: GET
      response:
        body: '{"created_at":"2026-02-27T11:39:29.382181Z","custom_routes_propagation_enabled":true,"id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa","is_default":false,"name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-27T11:39:29.382181Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.567ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/4400d7b8-84b8-4ccd-908c-a9b79a6317d4
        method: GET
      response:
        body: '{"id":"4400d7b8-84b8-4ccd-908c-a9b79a6317d4","ip_address":"51.159.26.98","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.830541ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/34e12bc2-158b-4c60-9296-c8383d9f9b54
        method: GET
      response:
        body: '{"created_at":"2026-02-27T11:39:29.395416Z","id":"34e12bc2-158b-4c60-9296-c8383d9f9b54","last_detached_at":null,"name":"tf-volume-dreamy-taussig","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-02-27T11:39:29.395416Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.188417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-27T11:39:29.553566Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-27T11:39:29.553566Z","id":"6e1f77ea-f025-434f-9a02-0d910060c52d","private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.16.0/22","updated_at":"2026-02-27T11:39:29.553566Z","vpc_id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa"},{"created_at":"2026-02-27T11:39:29.553566Z","id":"9f84484e-4ad8-4c0b-b8bd-79f24aa980f1","private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:e1f2::/64","updated_at":"2026-02-27T11:39:29.553566Z","vpc_id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa"}],"tags":[],"updated_at":"2026-02-27T11:39:29.553566Z","vpc_id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 575.885167ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7
        method: GET
      response:
        body: '{"created_at":"2026-02-27T11:39:29.553566Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-27T11:39:29.553566Z","id":"6e1f77ea-f025-434f-9a02-0d910060c52d","private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.16.0/22","updated_at":"2026-02-27T11:39:29.553566Z","vpc_id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa"},{"created_at":"2026-02-27T11:39:29.553566Z","id":"9f84484e-4ad8-4c0b-b8bd-79f24aa980f1","private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:e1f2::/64","updated_at":"2026-02-27T11:39:29.553566Z","vpc_id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa"}],"tags":[],"updated_at":"2026-02-27T11:39:29.553566Z","vpc_id":"724e38dc-2b4e-49ce-956b-65a3e1df23aa"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.926583ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceTemplatePrivateNetwork","description":"","ip_id":"4400d7b8-84b8-4ccd-908c-a9b79a6317d4","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-27T11:39:30.309945668Z","description":"","frontend_count":0,"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","instances":[],"ip":[{"id":"4400d7b8-84b8-4ccd-908c-a9b79a6317d4","ip_address":"51.159.26.98","lb_id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T11:39:30.309945668Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.326208ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-27T11:39:30.309946Z","description":"","frontend_count":0,"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","instances":[{"created_at":"2026-02-27T11:33:11.159840Z","id":"189e6973-0c79-4c20-b180-64431a0cf1a[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"34e12bc2-158b-4c60-9296-c8383d9f9b54","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-02-27T11:39:34.741429Z","id":"3407519c-3a88-47fb-b284-c55c8d3747cd","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"34e12bc2-158b-4c60-9296-c8383d9f9b54","name":"tf-volume-dreamy-taussig","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-02-27T11:39:34.741429Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.17525ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/3407519c-3a88-47fb-b284-c55c8d3747cd
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-02-27T11:39:34.741429Z","id":"3407519c-3a88-47fb-b284-c55c8d3747cd","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"34e12bc2-158b-4c60-9296-c8383d9f9b54","name":"tf-volume-dreamy-taussig","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-02-27T11:39:34.741429Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.848167ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"3407519c-3a88-47fb-b284-c55c8d3747cd"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstancePolicy","private_network_ids":["3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-02-27T11:39:41.334766386Z","id":"4a2438ba-6d72-4bbe-aa63-42c23d7cbcd1","image_id":null,"name":"TestAccASGInstancePolicy","placement_group_id":null,"private_network_ids":["3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-02-27T11:39:41.334766386Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"3407519c-3a88-47fb-b284-c55c8d3747cd"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.600125ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/4a2438ba-6d72-4bbe-aa63-42c23d7cbcd1
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-02-27T11:39:41.334766Z","id":"4a2438ba-6d72-4bbe-aa63-42c23d7cbcd1","image_id":null,"name":"TestAccASGInstancePolicy","placement_group_id":null,"private_network_ids":["3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-02-27T11:39:41.334766Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"3407519c-3a88-47fb-b284-c55c8d3747cd"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.498709ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-02-27T11:40:00.919077866Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-02-27T11:39:30.309946Z","description":"","frontend_count":0,"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","instances":[{"created_at":"2026-02-27T11:33:11.159840Z","id":"189e6973-0c79-4c20-b180-64431a0cf1ac","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-02-27T11:39:31.901601Z","zone":"fr-par-1"}],"ip":[{"id":"4400d7b8-84b8-4ccd-908c-a9b79a6317d4","ip_address":"51.159.26.98","lb_id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T11:39:32.719973Z","zone":"fr-par-1"},"private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","status":"pending","updated_at":"2026-02-27T11:40:00.919077866Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.814958ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2026-02-27T11:40:00.919078Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-02-27T11:39:30.309946Z","description":"","frontend_count":0,"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","instances":[],"ip":[{"id":"4400d7b8-84b8-4ccd-908c-a9b79a6317d4","ip_address":"51.159.26.98","lb_id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T11:39:32.719973Z","zone":"fr-par-1"},"private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7","status":"pending","updated_at":"2026-02-27T11:40:00.919078Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.91075ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7&resource_id=7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.16.2/22","created_at":"2026-02-27T11:40:01.324735Z","id":"771e7602-1549-4b91-99e1-36b41bf2fe61","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","mac_address":"02:00:00:18:ED:03","name":"TestAccASGInstanceTemplatePrivateNetwork","type":"lb_server"},"reverses":[],"source":{"subnet_id":"6e1f77ea-f025-434f-9a02-0d910060c52d"},"tags":[],"updated_at":"2026-02-27T11:40:01.903442Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.094834ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-hardcore-aryabhata","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-27T11:40:32.334662886Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"cd14f6be-aebe-48d0-8b62-b17241e144d5","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-27T11:39:30.309946Z","description":"","frontend_count":0,"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","instances":[{"created_at":"2026-02-27T11:33:11.159840Z","id":"189e6973-0c79-4c20-b180-64431a0cf1ac","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-27T11:40:32.365753364Z","zone":"fr-par-1"}],"ip":[{"id":"4400d7b8-84b8-4ccd-908c-a9b79a6317d4","ip_address":"51.159.26.98","lb_id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-27T11:39:32.719973Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-hardcore-aryabhata","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-27T11:40:32.334662886Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 417.706292ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/cd14f6be-aebe-48d0-8b62-b17241e144d5
        method: GET
      response:
        body: '{"created_at":"2026-02-27T11:40:32.334663Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstancePolicy","tags":["terraform-test","instance-group"],"template_id":"4a2438ba-6d72-4bbe-aa63-42c23d7cbcd1","capacity":{"max_replicas":5,"min_replicas":1,"cooldown_delay":"300.000000000s"},"loadbalancer":{"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","backend_ids":["cd14f6be-aebe-48d0-8b62-b17241e144d5"],"private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
        method: POST
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-02-27T11:40:33.301965597Z","error_messages":[],"id":"c3484b17-a263-4472-982d-6993bee9bae3","instance_template_id":"4a2438ba-6d72-4bbe-aa63-42c23d7cbcd1","loadbalancer":{"backend_ids":["cd14f6be-aebe-48d0-8b62-b17241e144d5"],"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7"},"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-02-27T11:40:33.301965597Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 501.759625ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/c3484b17-a263-4472-982d-6993bee9bae3
        method: GET
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-02-27T11:40:33.301965Z","error_messages":[],"id":"c3484b17-a263-4472-982d-6993bee9bae3","instance_template_id":"4a2438ba-6d72-4bbe-aa63-42c23d7cbcd1","loadbalancer":{"backend_ids":["cd14f6be-aebe-48d0-8b62-b17241e144d5"],"id":"7d4d2b61-45c1-4d5c-9c5d-7ae657c6ea89","private_network_id":"3d3e5ad5-cf54-4b32-be81-b8f3ee11a4e7"},"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-02-27T11:40:33.301965Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.839791ms
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","metric":{"name":"cpu scale down","managed_metric":"managed_metric_instance_cpu","operator":"operator_less_than","aggregate":"aggregate_average","sampling_range_min":5,"threshold":40},"action":"scale_down","type":"flat_count","value":1,"priority":2,"instance_group_id":"c3484b17-a263-4472-982d-6993bee9bae3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies
        method: POST
      response:
        body: '{"action":"scale_down","id":"15365bf3-e887-4d69-b01d-ebc626dfa7c6","instance_group_id":"c3484b17-a263-4472-982d-6993bee9bae3","metric":{"aggregate":"aggregate_average","managed_metric":"managed_metric_instance_cpu","name":"cpu scale down","operator":"operator_less_than","sampling_range_min":5,"threshold":40},"name":"TestAccASGInstancePolicy","priority":2,"type":"flat_count","value":1,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.809708ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies/15365bf3-e887-4d69-b01d-ebc626dfa7c6
        method: GET
      response:
        body: '{"action":"scale_down","id":"15365bf3-e887-4d69-b01d-ebc626dfa7c6","instance_group_id":"c3484b17-a263-4472-982d-6993bee9bae3","metric":{"aggregate":"aggregate_average","managed_metric":"managed_metric_instance_cpu","name":"cpu scale down","operator":"operator_less_than","sampling_range_min":5,"threshold":40},"name":"TestAccASGInstancePolicy","priority":2,"type":"flat_count","value":1,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.450417ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies?instance_group_id=c3484b17-a263-4472-982d-6993bee9bae3&order_by=created_at_desc
        method: GET
      response:
        body: '{"policies":[{"action":"scale_down","id":"15365bf3-e887-4d69-b01d-ebc626dfa7c6","instance_group_id":"c3484b17-a263-4472-982d-6993bee9bae3","metric":{"aggregate":"aggregate_average","managed_metric":"managed_metric_instance_cpu","name":"cpu scale down","operator":"operator_less_than","sampling_range_min":5,"threshold":40},"name":"TestAccASGInstancePolicy","priority":2,"type":"flat_count","value":1,"zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.254625ms
[...]
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=c3484b17-a263-4472-982d-6993bee9bae3&order=creation_date_desc
        method: GET
      response:
[...]
