---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-beautiful-babbage","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-06-12T20:34:11.398727Z","id":"6f74507c-e55f-4b36-968f-76c534f099ba","last_detached_at":null,"name":"tf-volume-beautiful-babbage","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T20:34:11.398727Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.066ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/6f74507c-e55f-4b36-968f-76c534f099ba
        method: GET
      response:
        body: '{"created_at":"2025-06-12T20:34:11.398727Z","id":"6f74507c-e55f-4b36-968f-76c534f099ba","last_detached_at":null,"name":"tf-volume-beautiful-babbage","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T20:34:11.398727Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.750875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"6f74507c-e55f-4b36-968f-76c534f099ba","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T20:34:16.690730Z","id":"493889c2-c919-423b-9b96-49095205b3ec","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"6f74507c-e55f-4b36-968f-76c534f099ba","name":"tf-volume-beautiful-babbage","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T20:34:16.690730Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 331.74325ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/493889c2-c919-423b-9b96-49095205b3ec
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T20:34:16.690730Z","id":"493889c2-c919-423b-9b96-49095205b3ec","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"6f74507c-e55f-4b36-968f-76c534f099ba","name":"tf-volume-beautiful-babbage","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T20:34:16.690730Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.100541ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"493889c2-c919-423b-9b96-49095205b3ec"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-autoscaling-instance-template-basic","private_network_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T20:34:22.623307103Z","id":"551b53ae-8433-4d6f-9d67-21319918bd3f","image_id":null,"name":"test-autoscaling-instance-template-basic","placement_group_id":null,"private_network_ids":[],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2025-06-12T20:34:22.623307103Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"493889c2-c919-423b-9b96-49095205b3ec"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.531375ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/551b53ae-8433-4d6f-9d67-21319918bd3f
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T20:34:22.623307Z","id":"551b53ae-8433-4d6f-9d67-21319918bd3f","image_id":null,"name":"test-autoscaling-instance-template-basic","placement_group_id":null,"private_network_ids":[],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2025-06-12T20:34:22.623307Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"493889c2-c919-423b-9b96-49095205b3ec"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.679792ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/493889c2-c919-423b-9b96-49095205b3ec
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"493889c2-c919-423b-9b96-49095205b3ec","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.496166ms
[...]
