---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-exciting-cohen\",\"perf_iops\":5000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"from_empty\":{\"size\":10000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"83624011-2655-43d0-addf-7b90716bb1ac\",\"name\":\"tf-volume-exciting-cohen\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:05.360892Z\",\"updated_at\":\"2025-08-26T16:25:05.360892Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.187481013s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/83624011-2655-43d0-addf-7b90716bb1ac
    method: GET
  response:
    body: "{\"id\":\"83624011-2655-43d0-addf-7b90716bb1ac\",\"name\":\"tf-volume-exciting-cohen\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:05.360892Z\",\"updated_at\":\"2025-08-26T16:25:05.360892Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"available\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.348ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"83624011-2655-43d0-addf-7b90716bb1ac\",\"name\":\"test-ds-block-snapshot-basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"e854500e-b897-40dd-8f27-0c0d737031da\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"83624011-2655-43d0-addf-7b90716bb1ac\",\"name\":\"tf-volume-exciting-cohen\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.225547Z\",\"updated_at\":\"2025-08-26T16:25:06.225547Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 415.100105ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e854500e-b897-40dd-8f27-0c0d737031da
    method: GET
  response:
    body: "{\"id\":\"e854500e-b897-40dd-8f27-0c0d737031da\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"83624011-2655-43d0-addf-7b90716bb1ac\",\"name\":\"tf-volume-exciting-cohen\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.225547Z\",\"updated_at\":\"2025-08-26T16:25:06.225547Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.094523ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"commercial_type\":\"PLAY2-MICRO\",\"volumes\":{\"0\":{\"name\":\"as-volume\",\"perf_iops\":5000,\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"e854500e-b897-40dd-8f27-0c0d737031da\"},\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"public_ips_v4_count\":1,\"public_ips_v6_count\":0,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-autoscaling-instance-template-basic\",\"private_network_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
    method: POST
  response:
    body: "{\"id\":\"c856775c-b02f-48aa-82b6-f58dcedae939\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"e854500e-b897-40dd-8f27-0c0d737031da\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-autoscaling-instance-template-basic\",\"private_network_ids\":[],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:12.448952765Z\",\"updated_at\":\"2025-08-26T16:25:12.448952765Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 430.637303ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/c856775c-b02f-48aa-82b6-f58dcedae939
    method: GET
  response:
    body: "{\"id\":\"c856775c-b02f-48aa-82b6-f58dcedae939\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"e854500e-b897-40dd-8f27-0c0d737031da\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-autoscaling-instance-template-basic\",\"private_network_ids\":[],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:12.448952Z\",\"updated_at\":\"2025-08-26T16:25:12.448952Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.900836ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e854500e-b897-40dd-8f27-0c0d737031da
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"snapshot\",\"resource_id\":\"e854500e-b897-40dd-8f27-0c0d737031da\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 84.506884ms
[...]
