---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:17:59.765689Z","custom_routes_propagation_enabled":false,"id":"44b91620-a1f9-495e-9c57-38edee07f042","is_default":false,"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-12T21:17:59.765689Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.677417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_address":"62.210.39.68","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-68.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.759834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/44b91620-a1f9-495e-9c57-38edee07f042
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:17:59.765689Z","custom_routes_propagation_enabled":false,"id":"44b91620-a1f9-495e-9c57-38edee07f042","is_default":false,"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-12T21:17:59.765689Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.131708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b3c7a45f-299e-488a-87e0-b5d4683ca8b9
        method: GET
      response:
        body: '{"id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_address":"62.210.39.68","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-68.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.904166ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-gallant-swirles","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:17:59.792165Z","id":"ad11e111-fcf1-4311-80e9-ab0fc8e35554","last_detached_at":null,"name":"tf-volume-gallant-swirles","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T21:17:59.792165Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.355542ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/ad11e111-fcf1-4311-80e9-ab0fc8e35554
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:17:59.792165Z","id":"ad11e111-fcf1-4311-80e9-ab0fc8e35554","last_detached_at":null,"name":"tf-volume-gallant-swirles","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T21:17:59.792165Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.644916ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"44b91620-a1f9-495e-9c57-38edee07f042"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:17:59.891310Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-12T21:17:59.891310Z","id":"b85b1cb6-d876-45f9-b298-21538be19f11","private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-06-12T21:17:59.891310Z","vpc_id":"44b91620-a1f9-495e-9c57-38edee07f042"},{"created_at":"2025-06-12T21:17:59.891310Z","id":"d9710eba-31de-40b9-865c-49ef1797b01a","private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:1018::/64","updated_at":"2025-06-12T21:17:59.891310Z","vpc_id":"44b91620-a1f9-495e-9c57-38edee07f042"}],"tags":[],"updated_at":"2025-06-12T21:17:59.891310Z","vpc_id":"44b91620-a1f9-495e-9c57-38edee07f042"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 714.333875ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d83d1f33-cc9a-4599-9d0e-73dc9f55c640
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:17:59.891310Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-12T21:17:59.891310Z","id":"b85b1cb6-d876-45f9-b298-21538be19f11","private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-06-12T21:17:59.891310Z","vpc_id":"44b91620-a1f9-495e-9c57-38edee07f042"},{"created_at":"2025-06-12T21:17:59.891310Z","id":"d9710eba-31de-40b9-865c-49ef1797b01a","private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:1018::/64","updated_at":"2025-06-12T21:17:59.891310Z","vpc_id":"44b91620-a1f9-495e-9c57-38edee07f042"}],"tags":[],"updated_at":"2025-06-12T21:17:59.891310Z","vpc_id":"44b91620-a1f9-495e-9c57-38edee07f042"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.807084ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","description":"","ip_id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-06-12T21:18:00.742263643Z","description":"","frontend_count":0,"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","instances":[],"ip":[{"id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_address":"62.210.39.68","lb_id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-68.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:18:00.742263643Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 403.786333ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b4e399e-07ed-4dfc-93d4-38da69644b21
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-06-12T21:18:00.742264Z","description":"","frontend_count":0,"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","instances":[{"created_at":"2025-06-12T21:15:26.549777Z","id":"c7585d24-9ba0-4d2a-8b42-20a94c624770","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-06-12T21:18:01.022710Z","zone":"fr-par-1"}],"ip":[{"id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_address":"62.210.39.68","lb_id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-68.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:18:01.031899Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.068792ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"ad11e111-fcf1-4311-80e9-ab0fc8e35554","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T21:18:05.112125Z","id":"b71a9d64-b9a5-40e6-a78b-1530503a0fdc","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"ad11e111-fcf1-4311-80e9-ab0fc8e35554","name":"tf-volume-gallant-swirles","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T21:18:05.112125Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.8325ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/b71a9d64-b9a5-40e6-a78b-1530503a0fdc
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T21:18:05.112125Z","id":"b71a9d64-b9a5-40e6-a78b-1530503a0fdc","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"ad11e111-fcf1-4311-80e9-ab0fc8e35554","name":"tf-volume-gallant-swirles","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T21:18:05.112125Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.61275ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"b71a9d64-b9a5-40e6-a78b-1530503a0fdc"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","private_network_ids":["d83d1f33-cc9a-4599-9d0e-73dc9f55c640"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T21:18:11.383614467Z","id":"e0e1fe16-cea4-4a20-97de-f652560c7bee","image_id":null,"name":"TestAccASGInstanceGroup","placement_group_id":null,"private_network_ids":["d83d1f33-cc9a-4599-9d0e-73dc9f55c640"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2025-06-12T21:18:11.383614467Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"b71a9d64-b9a5-40e6-a78b-1530503a0fdc"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 480.968958ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/e0e1fe16-cea4-4a20-97de-f652560c7bee
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T21:18:11.383614Z","id":"e0e1fe16-cea4-4a20-97de-f652560c7bee","image_id":null,"name":"TestAccASGInstanceGroup","placement_group_id":null,"private_network_ids":["d83d1f33-cc9a-4599-9d0e-73dc9f55c640"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2025-06-12T21:18:11.383614Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"b71a9d64-b9a5-40e6-a78b-1530503a0fdc"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.162667ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b4e399e-07ed-4dfc-93d4-38da69644b21/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:18:31.382806758Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-06-12T21:18:00.742264Z","description":"","frontend_count":0,"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","instances":[{"created_at":"2025-06-12T21:15:26.549777Z","id":"c7585d24-9ba0-4d2a-8b42-20a94c624770","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-06-12T21:18:02.928678Z","zone":"fr-par-1"}],"ip":[{"id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_address":"62.210.39.68","lb_id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-68.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:18:04.107956Z","zone":"fr-par-1"},"private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","status":"pending","updated_at":"2025-06-12T21:18:31.382806758Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 377.255917ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b4e399e-07ed-4dfc-93d4-38da69644b21/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-06-12T21:18:31.382807Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-06-12T21:18:00.742264Z","description":"","frontend_count":0,"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","instances":[],"ip":[{"id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_address":"62.210.39.68","lb_id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-68.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:18:04.107956Z","zone":"fr-par-1"},"private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640","status":"pending","updated_at":"2025-06-12T21:18:31.382807Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.916458ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d83d1f33-cc9a-4599-9d0e-73dc9f55c640&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.20.2/22","created_at":"2025-06-12T21:18:31.864595Z","id":"be0a59c5-c609-4a20-83b7-c0ecdead72ba","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","mac_address":"02:00:00:14:1D:98","name":"TestAccASGInstanceGroup","type":"lb_server"},"reverses":[],"source":{"subnet_id":"b85b1cb6-d876-45f9-b298-21538be19f11"},"tags":[],"updated_at":"2025-06-12T21:18:32.528668Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.706583ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-dazzling-fermi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b4e399e-07ed-4dfc-93d4-38da69644b21/backends
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:19:02.559083027Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"a847241f-febe-4702-959b-1b8fdd19bd65","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-12T21:18:00.742264Z","description":"","frontend_count":0,"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","instances":[{"created_at":"2025-06-12T21:15:26.549777Z","id":"c7585d24-9ba0-4d2a-8b42-20a94c624770","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-06-12T21:19:02.589245673Z","zone":"fr-par-1"}],"ip":[{"id":"b3c7a45f-299e-488a-87e0-b5d4683ca8b9","ip_address":"62.210.39.68","lb_id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-68.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:18:04.107956Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-dazzling-fermi","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-06-12T21:19:02.559083027Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.217416ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a847241f-febe-4702-959b-1b8fdd19bd65
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:19:02.559083Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","tags":["terraform-test","instance-group"],"template_id":"e0e1fe16-cea4-4a20-97de-f652560c7bee","capacity":{"max_replicas":5,"min_replicas":1,"cooldown_delay":"300.000000000s"},"loadbalancer":{"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","backend_ids":["a847241f-febe-4702-959b-1b8fdd19bd65"],"private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
        method: POST
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2025-06-12T21:19:03.289524576Z","error_messages":[],"id":"9bfa9c42-1747-4392-b74b-c2121e40807f","instance_template_id":"e0e1fe16-cea4-4a20-97de-f652560c7bee","loadbalancer":{"backend_ids":["a847241f-febe-4702-959b-1b8fdd19bd65"],"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640"},"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2025-06-12T21:19:03.289524576Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.858875ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/9bfa9c42-1747-4392-b74b-c2121e40807f
        method: GET
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2025-06-12T21:19:03.289524Z","error_messages":[],"id":"9bfa9c42-1747-4392-b74b-c2121e40807f","instance_template_id":"e0e1fe16-cea4-4a20-97de-f652560c7bee","loadbalancer":{"backend_ids":["a847241f-febe-4702-959b-1b8fdd19bd65"],"id":"3b4e399e-07ed-4dfc-93d4-38da69644b21","private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640"},"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2025-06-12T21:19:03.289524Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.223292ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=9bfa9c42-1747-4392-b74b-c2121e40807f&order=creation_date_desc
        method: GET
      response:
        body: '{"servers":[]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&name=9bfa9c42-1747-4392-b74b-c2121e40807f&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 104.863667ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/b71a9d64-b9a5-40e6-a78b-1530503a0fdc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"b71a9d64-b9a5-40e6-a78b-1530503a0fdc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.561667ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"d83d1f33-cc9a-4599-9d0e-73dc9f55c640"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b4e399e-07ed-4dfc-93d4-38da69644b21/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 270.124125ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b4e399e-07ed-4dfc-93d4-38da69644b21?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 337.210666ms
[...]
