---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:19:17.610322Z","custom_routes_propagation_enabled":true,"id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223","is_default":false,"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-02T14:19:17.610322Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.291667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_address":"62.210.39.161","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-161.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.637917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-compassionate-heyrovsky","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:19:17.621242Z","id":"4a4fee72-fcb5-4786-a568-ea172c1bd64b","last_detached_at":null,"name":"tf-volume-compassionate-heyrovsky","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-03-02T14:19:17.621242Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.29975ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e5c2416d-c41b-42eb-a51f-d9149cd4d223
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:19:17.610322Z","custom_routes_propagation_enabled":true,"id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223","is_default":false,"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-02T14:19:17.610322Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.781667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/4a4fee72-fcb5-4786-a568-ea172c1bd64b
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:19:17.621242Z","id":"4a4fee72-fcb5-4786-a568-ea172c1bd64b","last_detached_at":null,"name":"tf-volume-compassionate-heyrovsky","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-03-02T14:19:17.621242Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.248834ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/2e20d68f-52e4-491b-929c-cbcee56bb726
        method: GET
      response:
        body: '{"id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_address":"62.210.39.161","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-161.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.478625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:19:17.755525Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"ffe80c37-19db-42d5-8495-8a295896d269","name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-02T14:19:17.755525Z","id":"4c6b1a40-f89a-4d97-8cbd-a8b74f383af8","private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.36.0/22","updated_at":"2026-03-02T14:19:17.755525Z","vpc_id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223"},{"created_at":"2026-03-02T14:19:17.755525Z","id":"00af6db9-f5dd-4052-ba3e-00cf8b17b23c","private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:20ec::/64","updated_at":"2026-03-02T14:19:17.755525Z","vpc_id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223"}],"tags":[],"updated_at":"2026-03-02T14:19:17.755525Z","vpc_id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.057481708s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ffe80c37-19db-42d5-8495-8a295896d269
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:19:17.755525Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"ffe80c37-19db-42d5-8495-8a295896d269","name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-02T14:19:17.755525Z","id":"4c6b1a40-f89a-4d97-8cbd-a8b74f383af8","private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.36.0/22","updated_at":"2026-03-02T14:19:17.755525Z","vpc_id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223"},{"created_at":"2026-03-02T14:19:17.755525Z","id":"00af6db9-f5dd-4052-ba3e-00cf8b17b23c","private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:20ec::/64","updated_at":"2026-03-02T14:19:17.755525Z","vpc_id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223"}],"tags":[],"updated_at":"2026-03-02T14:19:17.755525Z","vpc_id":"e5c2416d-c41b-42eb-a51f-d9149cd4d223"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.13725ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","description":"","ip_id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-03-02T14:19:18.936931116Z","description":"","frontend_count":0,"id":"57d741bc-d2df-4781-834b-028553ff38b7","instances":[],"ip":[{"id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_address":"62.210.39.161","lb_id":"57d741bc-d2df-4781-834b-028553ff38b7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-161.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:19:18.936931116Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.193709ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57d741bc-d2df-4781-834b-028553ff38b7
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-03-02T14:19:18.936931Z","description":"","frontend_count":0,"id":"57d741bc-d2df-4781-834b-028553ff38b7","instances":[{"created_at":"2026-03-02T13:30:51.074180Z","id":"74c60174-b4fe-42c9-a422-a47a07c3462e","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-03-02T14:19:19.166540Z","zone":"fr-par-1"}],"ip":[{"id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_address":"62.210.39.161","lb_id":"57d741bc-d2df-4781-834b-028553ff38b7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-161.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:19:18.936931Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.200625ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"4a4fee72-fcb5-4786-a568-ea172c1bd64b","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-03-02T14:19:22.942787Z","id":"65c1230f-a4f0-40e8-8201-d554e8bd439e","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"4a4fee72-fcb5-4786-a568-ea172c1bd64b","name":"tf-volume-compassionate-heyrovsky","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-03-02T14:19:22.942787Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.211669708s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/65c1230f-a4f0-40e8-8201-d554e8bd439e
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-03-02T14:19:22.942787Z","id":"65c1230f-a4f0-40e8-8201-d554e8bd439e","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"4a4fee72-fcb5-4786-a568-ea172c1bd64b","name":"tf-volume-compassionate-heyrovsky","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-03-02T14:19:22.942787Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 858.793958ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"65c1230f-a4f0-40e8-8201-d554e8bd439e"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","private_network_ids":["ffe80c37-19db-42d5-8495-8a295896d269"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-03-02T14:19:31.142125912Z","id":"f50e797c-18e9-4b0c-91eb-a6129bf68566","image_id":null,"name":"TestAccASGInstanceGroup","placement_group_id":null,"private_network_ids":["ffe80c37-19db-42d5-8495-8a295896d269"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-03-02T14:19:31.142125912Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"65c1230f-a4f0-40e8-8201-d554e8bd439e"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 600.728792ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/f50e797c-18e9-4b0c-91eb-a6129bf68566
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-03-02T14:19:31.142125Z","id":"f50e797c-18e9-4b0c-91eb-a6129bf68566","image_id":null,"name":"TestAccASGInstanceGroup","placement_group_id":null,"private_network_ids":["ffe80c37-19db-42d5-8495-8a295896d269"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-03-02T14:19:31.142125Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"65c1230f-a4f0-40e8-8201-d554e8bd439e"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.613541ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57d741bc-d2df-4781-834b-028553ff38b7/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:19:49.517697345Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-03-02T14:19:18.936931Z","description":"","frontend_count":0,"id":"57d741bc-d2df-4781-834b-028553ff38b7","instances":[{"created_at":"2026-03-02T13:30:51.074180Z","id":"74c60174-b4fe-42c9-a422-a47a07c3462e","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-03-02T14:19:20.927052Z","zone":"fr-par-1"}],"ip":[{"id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_address":"62.210.39.161","lb_id":"57d741bc-d2df-4781-834b-028553ff38b7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-161.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:19:22.360910Z","zone":"fr-par-1"},"private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269","status":"pending","updated_at":"2026-03-02T14:19:49.517697345Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 458.557417ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57d741bc-d2df-4781-834b-028553ff38b7/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2026-03-02T14:19:49.517697Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-03-02T14:19:18.936931Z","description":"","frontend_count":0,"id":"57d741bc-d2df-4781-834b-028553ff38b7","instances":[],"ip":[{"id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_address":"62.210.39.161","lb_id":"57d741bc-d2df-4781-834b-028553ff38b7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-161.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:19:22.360910Z","zone":"fr-par-1"},"private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269","status":"pending","updated_at":"2026-03-02T14:19:49.517697Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.242833ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=ffe80c37-19db-42d5-8495-8a295896d269&resource_id=57d741bc-d2df-4781-834b-028553ff38b7&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.36.2/22","created_at":"2026-03-02T14:19:49.966049Z","id":"5d7c6705-998a-4c9b-a58e-c72ffade9eb1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"57d741bc-d2df-4781-834b-028553ff38b7","mac_address":"02:00:00:16:7A:29","name":"TestAccASGInstanceGroup","type":"lb_server"},"reverses":[],"source":{"subnet_id":"4c6b1a40-f89a-4d97-8cbd-a8b74f383af8"},"tags":[],"updated_at":"2026-03-02T14:19:50.539166Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.418083ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-friendly-colden","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57d741bc-d2df-4781-834b-028553ff38b7/backends
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:20:21.191272685Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"97391dd1-c8b6-49f3-a45d-b4fc92798a6d","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-03-02T14:19:18.936931Z","description":"","frontend_count":0,"id":"57d741bc-d2df-4781-834b-028553ff38b7","instances":[{"created_at":"2026-03-02T13:30:51.074180Z","id":"74c60174-b4fe-42c9-a422-a47a07c3462e","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-03-02T14:20:21.267194637Z","zone":"fr-par-1"}],"ip":[{"id":"2e20d68f-52e4-491b-929c-cbcee56bb726","ip_address":"62.210.39.161","lb_id":"57d741bc-d2df-4781-834b-028553ff38b7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-161.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceGroup","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:19:22.360910Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-friendly-colden","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-03-02T14:20:21.191272685Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.695917ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/97391dd1-c8b6-49f3-a45d-b4fc92798a6d
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:20:21.191273Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceGroup","tags":["terraform-test","instance-group"],"template_id":"f50e797c-18e9-4b0c-91eb-a6129bf68566","capacity":{"max_replicas":5,"min_replicas":1,"cooldown_delay":"300.000000000s"},"loadbalancer":{"id":"57d741bc-d2df-4781-834b-028553ff38b7","backend_ids":["97391dd1-c8b6-49f3-a45d-b4fc92798a6d"],"private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
        method: POST
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-03-02T14:20:22.157157204Z","error_messages":[],"id":"2bc201a0-0b34-4fb6-8db3-17a3d64acfe0","instance_template_id":"f50e797c-18e9-4b0c-91eb-a6129bf68566","loadbalancer":{"backend_ids":["97391dd1-c8b6-49f3-a45d-b4fc92798a6d"],"id":"57d741bc-d2df-4781-834b-028553ff38b7","private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269"},"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-03-02T14:20:22.157157204Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.526292ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/2bc201a0-0b34-4fb6-8db3-17a3d64acfe0
        method: GET
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-03-02T14:20:22.157157Z","error_messages":[],"id":"2bc201a0-0b34-4fb6-8db3-17a3d64acfe0","instance_template_id":"f50e797c-18e9-4b0c-91eb-a6129bf68566","loadbalancer":{"backend_ids":["97391dd1-c8b6-49f3-a45d-b4fc92798a6d"],"id":"57d741bc-d2df-4781-834b-028553ff38b7","private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269"},"name":"TestAccASGInstanceGroup","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-03-02T14:20:22.157157Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.39175ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=2bc201a0-0b34-4fb6-8db3-17a3d64acfe0&order=creation_date_desc
        method: GET
      response:
        body: '{"servers":[]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&name=2bc201a0-0b34-4fb6-8db3-17a3d64acfe0&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 111.188ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"ffe80c37-19db-42d5-8495-8a295896d269"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57d741bc-d2df-4781-834b-028553ff38b7/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 292.3145ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/65c1230f-a4f0-40e8-8201-d554e8bd439e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"65c1230f-a4f0-40e8-8201-d554e8bd439e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.271167ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57d741bc-d2df-4781-834b-028553ff38b7?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 399.844042ms
[...]
