---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccASGInstanceGroup\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\",\"name\":\"TestAccASGInstanceGroup\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:06.019974Z\",\"updated_at\":\"2025-08-26T16:25:06.019974Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.450326ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"5d7f7f5c-d67c-403b-91fa-1cc93d0a983c\",\"ip_address\":\"51.159.204.52\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":null,\"reverse\":\"51-159-204-52.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.229688ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/aaae2873-08d9-49a1-a635-083feb680eb4
    method: GET
  response:
    body: "{\"id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\",\"name\":\"TestAccASGInstanceGroup\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:06.019974Z\",\"updated_at\":\"2025-08-26T16:25:06.019974Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.870777ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-great-jackson\",\"perf_iops\":5000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"from_empty\":{\"size\":10000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"4fa26cfe-2519-4c56-9b5e-5247a2d70099\",\"name\":\"tf-volume-great-jackson\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.063938Z\",\"updated_at\":\"2025-08-26T16:25:06.063938Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 216.250003ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5d7f7f5c-d67c-403b-91fa-1cc93d0a983c
    method: GET
  response:
    body: "{\"id\":\"5d7f7f5c-d67c-403b-91fa-1cc93d0a983c\",\"ip_address\":\"51.159.204.52\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":null,\"reverse\":\"51-159-204-52.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.404787ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/4fa26cfe-2519-4c56-9b5e-5247a2d70099
    method: GET
  response:
    body: "{\"id\":\"4fa26cfe-2519-4c56-9b5e-5247a2d70099\",\"name\":\"tf-volume-great-jackson\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.063938Z\",\"updated_at\":\"2025-08-26T16:25:06.063938Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.448119ms
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccASGInstanceGroup\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"name\":\"TestAccASGInstanceGroup\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:06.424926Z\",\"updated_at\":\"2025-08-26T16:25:06.424926Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"7c1dbdd0-e7a8-4aca-bfc6-1610170f3067\",\"created_at\":\"2025-08-26T16:25:06.424926Z\",\"updated_at\":\"2025-08-26T16:25:06.424926Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"vpc_id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\"},{\"id\":\"e927a6a0-05e8-45f3-836f-d68666a70738\",\"created_at\":\"2025-08-26T16:25:06.424926Z\",\"updated_at\":\"2025-08-26T16:25:06.424926Z\",\"subnet\":\"fde7:767f:1bb5:4da6::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"vpc_id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\"}],\"vpc_id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.056132767s
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5dd8eecd-7a73-4672-b514-dcd9e095c0fa
    method: GET
  response:
    body: "{\"id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"name\":\"TestAccASGInstanceGroup\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:06.424926Z\",\"updated_at\":\"2025-08-26T16:25:06.424926Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"7c1dbdd0-e7a8-4aca-bfc6-1610170f3067\",\"created_at\":\"2025-08-26T16:25:06.424926Z\",\"updated_at\":\"2025-08-26T16:25:06.424926Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"vpc_id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\"},{\"id\":\"e927a6a0-05e8-45f3-836f-d68666a70738\",\"created_at\":\"2025-08-26T16:25:06.424926Z\",\"updated_at\":\"2025-08-26T16:25:06.424926Z\",\"subnet\":\"fde7:767f:1bb5:4da6::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"vpc_id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\"}],\"vpc_id\":\"aaae2873-08d9-49a1-a635-083feb680eb4\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.534784ms
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceGroup\",\"description\":\"\",\"ip_id\":\"5d7f7f5c-d67c-403b-91fa-1cc93d0a983c\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"name\":\"TestAccASGInstanceGroup\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5d7f7f5c-d67c-403b-91fa-1cc93d0a983c\",\"ip_address\":\"51.159.204.52\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"reverse\":\"51-159-204-52.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.661660998Z\",\"updated_at\":\"2025-08-26T16:25:07.661660998Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 521.670411ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b04bc244-5005-40b5-a29f-944f71fa0b8b
    method: GET
  response:
    body: "{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"name\":\"TestAccASGInstanceGroup\",\"description\":\"\",\"status\":\"creating\",\"instances\":[{\"id\":\"f31b1889-170d-4a16-abc4-517ff1bd146a\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T16:00:25.108257Z\",\"updated_at\":\"2025[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"4fa26cfe-2519-4c56-9b5e-5247a2d70099\",\"name\":\"test-ds-block-snapshot-basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"8b7da0d4-c0f1-4616-b119-1a34fabc74c5\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"4fa26cfe-2519-4c56-9b5e-5247a2d70099\",\"name\":\"tf-volume-great-jackson\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:11.772164Z\",\"updated_at\":\"2025-08-26T16:25:11.772164Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 319.44204ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/8b7da0d4-c0f1-4616-b119-1a34fabc74c5
    method: GET
  response:
    body: "{\"id\":\"8b7da0d4-c0f1-4616-b119-1a34fabc74c5\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"4fa26cfe-2519-4c56-9b5e-5247a2d70099\",\"name\":\"tf-volume-great-jackson\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:11.772164Z\",\"updated_at\":\"2025-08-26T16:25:11.772164Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.224697ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"commercial_type\":\"PLAY2-MICRO\",\"volumes\":{\"0\":{\"name\":\"as-volume\",\"perf_iops\":5000,\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"8b7da0d4-c0f1-4616-b119-1a34fabc74c5\"},\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"public_ips_v4_count\":1,\"public_ips_v6_count\":0,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceGroup\",\"private_network_ids\":[\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
    method: POST
  response:
    body: "{\"id\":\"d85d3820-bf9a-4c48-ab23-de42f2e4ff71\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"8b7da0d4-c0f1-4616-b119-1a34fabc74c5\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceGroup\",\"private_network_ids\":[\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\"],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:17.742754023Z\",\"updated_at\":\"2025-08-26T16:25:17.742754023Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 260.039687ms
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/d85d3820-bf9a-4c48-ab23-de42f2e4ff71
    method: GET
  response:
    body: "{\"id\":\"d85d3820-bf9a-4c48-ab23-de42f2e4ff71\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"8b7da0d4-c0f1-4616-b119-1a34fabc74c5\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceGroup\",\"private_network_ids\":[\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\"],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:17.742754Z\",\"updated_at\":\"2025-08-26T16:25:17.742754Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.762508ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"ipam_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b04bc244-5005-40b5-a29f-944f71fa0b8b/attach-private-network
    method: POST
  response:
    body: "{\"lb\":{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"name\":\"TestAccASGInstanceGroup\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"f31b1889-170d-4a16-abc4-517ff1bd146a\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T16:00:25.108257Z\",\"updated_at\":\"2025-08-26T16:25:10.303829Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5d7f7f5c-d67c-403b-91fa-1cc93d0a983c\",\"ip_address\":\"51.159.204.52\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"reverse\":\"51-159-204-52.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.661661Z\",\"updated_at\":\"2025-08-26T16:25:11.808989Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"status\":\"pending\",\"created_at\":\"2025-08-26T16:25:38.699935774Z\",\"updated_at\":\"2025-08-26T16:25:38.699935774Z\",\"dhcp_config\":{\"ip_id\":null},\"ipam_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 563.063822ms
- id: 20
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b04bc244-5005-40b5-a29f-944f71fa0b8b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[{\"lb\":{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"name\":\"TestAccASGInstanceGroup\",\"description\":\"\",\"status\":\"ready\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5d7f7f5c-d67c-403b-91fa-1cc93d0a983c\",\"ip_address\":\"51.159.204.52\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"reverse\":\"51-159-204-52.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.661661Z\",\"updated_at\":\"2025-08-26T16:25:11.808989Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\",\"status\":\"pending\",\"created_at\":\"2025-08-26T16:25:38.699936Z\",\"updated_at\":\"2025-08-26T16:25:38.699936Z\",\"dhcp_config\":{\"ip_id\":null},\"ipam_ids\":[]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 438.452526ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 5dd8eecd-7a73-4672-b514-dcd9e095c0fa
      resource_type:
      - lb_server
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5dd8eecd-7a73-4672-b514-dcd9e095c0fa&resource_type=lb_server
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"cbd8bfff-5d6a-46f0-88d0-ee46c236f2f0\",\"address\":\"172.16.4.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:25:39.175199Z\",\"updated_at\":\"2025-08-26T16:25:39.723427Z\",\"source\":{\"subnet_id\":\"7c1dbdd0-e7a8-4aca-bfc6-1610170f3067\"},\"resource\":{\"type\":\"lb_server\",\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"mac_address\":\"02:00:00:12:D3:AE\",\"name\":\"TestAccASGInstanceGroup\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.804211ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-frosty-bohr\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b04bc244-5005-40b5-a29f-944f71fa0b8b/backends
    method: POST
  response:
    body: "{\"id\":\"a4d75d01-944c-4952-84e9-843597546c87\",\"name\":\"tf-lb-bkd-frosty-bohr\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"name\":\"TestAccASGInstanceGroup\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"f31b1889-170d-4a16-abc4-517ff1bd146a\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T16:00:25.108257Z\",\"updated_at\":\"2025-08-26T16:26:10.767639951Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5d7f7f5c-d67c-403b-91fa-1cc93d0a983c\",\"ip_address\":\"51.159.204.52\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"reverse\":\"51-159-204-52.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.661661Z\",\"updated_at\":\"2025-08-26T16:25:11.808989Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-08-26T16:26:10.742412663Z\",\"updated_at\":\"2025-08-26T16:26:10.742412663Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 335.204269ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a4d75d01-944c-4952-84e9-843597546c87
    method: GET
  response:
    body: "{\"id\":\"a4d75d01-944c-4952-84e9-843597546c87\",\"name\":\"tf-lb-bkd-frosty-bohr\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check[...]
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceGroup\",\"tags\":[\"terraform-test\",\"instance-group\"],\"template_id\":\"d85d3820-bf9a-4c48-ab23-de42f2e4ff71\",\"capacity\":{\"max_replicas\":5,\"min_replicas\":1,\"cooldown_delay\":\"300.000000000s\"},\"loadbalancer\":{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"backend_ids\":[\"a4d75d01-944c-4952-84e9-843597546c87\"],\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
    method: POST
  response:
    body: "{\"id\":\"d6156a8e-f1b1-4544-a084-aa6b53ba985c\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceGroup\",\"tags\":[\"terraform-test\",\"instance-group\"],\"instance_template_id\":\"d85d3820-bf9a-4c48-ab23-de42f2e4ff71\",\"capacity\":{\"max_replicas\":5,\"min_replicas\":1,\"cooldown_delay\":\"300s\"},\"loadbalancer\":{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"backend_ids\":[\"a4d75d01-944c-4952-84e9-843597546c87\"],\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\"},\"error_messages\":[],\"created_at\":\"2025-08-26T16:26:11.973477931Z\",\"updated_at\":\"2025-08-26T16:26:11.973477931Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 534.308209ms
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/d6156a8e-f1b1-4544-a084-aa6b53ba985c
    method: GET
  response:
    body: "{\"id\":\"d6156a8e-f1b1-4544-a084-aa6b53ba985c\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceGroup\",\"tags\":[\"terraform-test\",\"instance-group\"],\"instance_template_id\":\"d85d3820-bf9a-4c48-ab23-de42f2e4ff71\",\"capacity\":{\"max_replicas\":5,\"min_replicas\":1,\"cooldown_delay\":\"300s\"},\"loadbalancer\":{\"id\":\"b04bc244-5005-40b5-a29f-944f71fa0b8b\",\"backend_ids\":[\"a4d75d01-944c-4952-84e9-843597546c87\"],\"private_network_id\":\"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\"},\"error_messages\":[],\"created_at\":\"2025-08-26T16:26:11.973477Z\",\"updated_at\":\"2025-08-26T16:26:11.973477Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.004024ms
[...]
- id: 49
  request:
    host: api.scaleway.com
    form:
      name:
      - d6156a8e-f1b1-4544-a084-aa6b53ba985c
      order:
      - creation_date_desc
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=d6156a8e-f1b1-4544-a084-aa6b53ba985c&order=creation_date_desc
    method: GET
  response:
    body: "{\"servers\": [{\"id\": \"d8184d02-7ce4-43e0-99ba-4c8c323f18ba\", \"name\": \"d6156a8e-f1b1-4544-a084-aa6b53ba985c_0198e733-9e73-7a67-b1d2-18466e47cb8d\", \"arch\": \"x86_64\", \"commercial_type\": \"PLAY2-MICRO\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"d03c0af1-fec9-44aa-a12c-54cb13072778\", \"hostname\": \"d6156a8e-f1b1-4544-a084-aa6b53ba985c-0198e733-9e73-7a67-b1d2-18466e47cb8d\", \"image\": null, \"volumes\": {\"0\": {\"boot\": true, \"volume_type\": \"sbs_volume\", \"id\": \"f61c768b-2ce0-4ae1-8dbe-af27943cb7a5\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"autoscaling_id:d6156a8e-f1b1-4544-a084-aa6b53ba985c\", \"autoscaling_name:TestAccASGInstanceGroup\"], \"state\": \"running\", \"protected\": false, \"state_detail\": \"booting kernel\", \"public_ip\": {\"id\": \"67049895-e99b-4e36-aa58-98ac57c465f4\", \"address\": \"51.15.224.110\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"terraform-test\", \"instance-template\"], \"state\": \"attached\", \"ipam_id\": \"b5241ca7-060c-49fe-960d-f672867ce4fc\"}, \"public_ips\": [{\"id\": \"67049895-e99b-4e36-aa58-98ac57c465f4\", \"address\": \"51.15.224.110\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"terraform-test\", \"instance-template\"], \"state\": \"attached\", \"ipam_id\": \"b5241ca7-060c-49fe-960d-f672867ce4fc\"}], \"mac_address\": \"de:00:00:c5:49:cd\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": false, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-08-26T16:26:16.723119+00:00\", \"modification_date\": \"2025-08-26T16:26:21.168053+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"b52abfa3-9877-48da-a854-4730c099cf73\", \"name\": \"Default security group\"}, \"location\": {\"zone_id\": \"fr-par-1\", \"platform_id\": \"14\", \"cluster_id\": \"30\", \"hypervisor_id\": \"701\", \"node_id\": \"74\"}, \"maintenances\": [], \"allowed_actions\": [\"poweroff\", \"terminate\", \"reboot\", \"stop_in_place\", \"backup\"], \"placement_group\": null, \"private_nics\": [{\"id\": \"92934505-ee20-4af7-909d-41212a08a292\", \"private_network_id\": \"5dd8eecd-7a73-4672-b514-dcd9e095c0fa\", \"server_id\": \"d8184d02-7ce4-43e0-99ba-4c8c323f18ba\", \"mac_address\": \"02:00:00:17:31:ac\", \"state\": \"available\", \"creation_date\": \"2025-08-26T16:26:17.919851+00:00\", \"modification_date\": \"2025-08-26T16:26:18.078714+00:00\", \"zone\": \"fr-par-1\", \"tags\": [], \"ipam_ip_ids\": [\"f88f29a8-f087-47c2-89af-71c4156dfe68\", \"861dce06-79e0-45d0-967d-46305e523e93\"]}], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&name=d6156a8e-f1b1-4544-a084-aa6b53ba985c&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 481.20509ms
- id: 50
  request:
    host: api.scaleway.com
    body: "{\"action\":\"terminate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d8184d02-7ce4-43e0-99ba-4c8c323f18ba/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"55c1900f-67d3-4245-a76c-f202f7fcedf5\", \"description\": \"server_terminate\", \"status\": \"pending\", \"href_from\": \"/servers/d8184d02-7ce4-43e0-99ba-4c8c323f18ba/action\", \"href_result\": \"/servers/d8184d02-7ce4-43e0-99ba-4c8c323f18ba\", \"started_at\": \"2025-08-26T16:26:27.337469+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/55c1900f-67d3-4245-a76c-f202f7fcedf5
    status: 202 Accepted
    code: 202
[...]
