---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-competent-goldwasser","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-03-09T08:52:51.167219Z","id":"9300f818-a56e-4a07-9176-ecc77c34cf20","last_detached_at":null,"name":"tf-volume-competent-goldwasser","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-03-09T08:52:51.167219Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.612625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/9300f818-a56e-4a07-9176-ecc77c34cf20
        method: GET
      response:
        body: '{"created_at":"2026-03-09T08:52:51.167219Z","id":"9300f818-a56e-4a07-9176-ecc77c34cf20","last_detached_at":null,"name":"tf-volume-competent-goldwasser","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-03-09T08:52:51.167219Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.835541ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"9300f818-a56e-4a07-9176-ecc77c34cf20","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-03-09T08:52:56.539411Z","id":"37b34635-e1c5-45d9-b9b8-22efe81ec7ed","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"9300f818-a56e-4a07-9176-ecc77c34cf20","name":"tf-volume-competent-goldwasser","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-03-09T08:52:56.539411Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.483990208s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/37b34635-e1c5-45d9-b9b8-22efe81ec7ed
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-03-09T08:52:56.539411Z","id":"37b34635-e1c5-45d9-b9b8-22efe81ec7ed","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"9300f818-a56e-4a07-9176-ecc77c34cf20","name":"tf-volume-competent-goldwasser","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-03-09T08:52:56.539411Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 602.473791ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"37b34635-e1c5-45d9-b9b8-22efe81ec7ed"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-autoscaling-instance-template-basic","private_network_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-03-09T08:53:00.285945235Z","id":"9a80148b-b9da-41a3-a09c-ff38c81fc680","image_id":null,"name":"test-autoscaling-instance-template-basic","placement_group_id":null,"private_network_ids":[],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-03-09T08:53:00.285945235Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"37b34635-e1c5-45d9-b9b8-22efe81ec7ed"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.70775ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/9a80148b-b9da-41a3-a09c-ff38c81fc680
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-03-09T08:53:00.285945Z","id":"9a80148b-b9da-41a3-a09c-ff38c81fc680","image_id":null,"name":"test-autoscaling-instance-template-basic","placement_group_id":null,"private_network_ids":[],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-03-09T08:53:00.285945Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"37b34635-e1c5-45d9-b9b8-22efe81ec7ed"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.6095ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/37b34635-e1c5-45d9-b9b8-22efe81ec7ed
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"37b34635-e1c5-45d9-b9b8-22efe81ec7ed","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 144.645833ms
[...]
