---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2\",\"ip_address\":\"195.154.71.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":null,\"reverse\":\"195-154-71-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 230.132319ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccASGInstancePolicy\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\",\"name\":\"TestAccASGInstancePolicy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:05.346640Z\",\"updated_at\":\"2025-08-26T16:25:05.346640Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 233.802882ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2
    method: GET
  response:
    body: "{\"id\":\"5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2\",\"ip_address\":\"195.154.71.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":null,\"reverse\":\"195-154-71-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 195.109118ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3994a78c-29b1-4ac5-81d2-5ca67d8e3270
    method: GET
  response:
    body: "{\"id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\",\"name\":\"TestAccASGInstancePolicy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:05.346640Z\",\"updated_at\":\"2025-08-26T16:25:05.346640Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 188.789226ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-laughing-villani\",\"perf_iops\":5000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"from_empty\":{\"size\":10000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"bdfdbec6-497f-46e1-85e8-adec3787694d\",\"name\":\"tf-volume-laughing-villani\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:05.375866Z\",\"updated_at\":\"2025-08-26T16:25:05.375866Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 437.727744ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/bdfdbec6-497f-46e1-85e8-adec3787694d
    method: GET
  response:
    body: "{\"id\":\"bdfdbec6-497f-46e1-85e8-adec3787694d\",\"name\":\"tf-volume-laughing-villani\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:05.375866Z\",\"updated_at\":\"2025-08-26T16:25:05.375866Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"available\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.391112ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"bdfdbec6-497f-46e1-85e8-adec3787694d\",\"name\":\"test-ds-block-snapshot-basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"a2ef857f-deee-485c-8a38-c83423671441\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"bdfdbec6-497f-46e1-85e8-adec3787694d\",\"name\":\"tf-volume-laughing-villani\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.092439Z\",\"updated_at\":\"2025-08-26T16:25:06.092439Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 531.44354ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/a2ef857f-deee-485c-8a38-c83423671441
    method: GET
  response:
    body: "{\"id\":\"a2ef857f-deee-485c-8a38-c83423671441\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"bdfdbec6-497f-46e1-85e8-adec3787694d\",\"name\":\"tf-volume-laughing-villani\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.092439Z\",\"updated_at\":\"2025-08-26T16:25:06.092439Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 187.715182ms
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccASGInstancePolicy\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"name\":\"TestAccASGInstancePolicy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:06.133741Z\",\"updated_at\":\"2025-08-26T16:25:06.133741Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f1d18556-d4f9-4467-aa5a-833bfc74541b\",\"created_at\":\"2025-08-26T16:25:06.133741Z\",\"updated_at\":\"2025-08-26T16:25:06.133741Z\",\"subnet\":\"172.16.24.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"vpc_id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\"},{\"id\":\"88aebd7d-f11c-4fb5-a618-6682ca51217a\",\"created_at\":\"2025-08-26T16:25:06.133741Z\",\"updated_at\":\"2025-08-26T16:25:06.133741Z\",\"subnet\":\"fde7:767f:1bb5:2352::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"vpc_id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\"}],\"vpc_id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.307930783s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a9c31e1f-0ba5-4cd3-bd40-3b44c7221901
    method: GET
  response:
    body: "{\"id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"name\":\"TestAccASGInstancePolicy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:06.133741Z\",\"updated_at\":\"2025-08-26T16:25:06.133741Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f1d18556-d4f9-4467-aa5a-833bfc74541b\",\"created_at\":\"2025-08-26T16:25:06.133741Z\",\"updated_at\":\"2025-08-26T16:25:06.133741Z\",\"subnet\":\"172.16.24.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"vpc_id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\"},{\"id\":\"88aebd7d-f11c-4fb5-a618-6682ca51217a\",\"created_at\":\"2025-08-26T16:25:06.133741Z\",\"updated_at\":\"2025-08-26T16:25:06.133741Z\",\"subnet\":\"fde7:767f:1bb5:2352::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"vpc_id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\"}],\"vpc_id\":\"3994a78c-29b1-4ac5-81d2-5ca67d8e3270\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.672591ms
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"description\":\"\",\"ip_id\":\"5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2\",\"ip_address\":\"195.154.71.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"reverse\":\"195-154-71-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.233354453Z\",\"updated_at\":\"2025-08-26T16:25:07.233354453Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 513.330725ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c027bed3-02f3-4802-8eec-04413643be77
    method: GET
  response:
    body: "{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[{\"id\":\"68777971-7728-4c5f-8731-a89f360cbcc0\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T16:23:46.120563Z\",\"[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"commercial_type\":\"PLAY2-MICRO\",\"volumes\":{\"0\":{\"name\":\"as-volume\",\"perf_iops\":5000,\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"a2ef857f-deee-485c-8a38-c83423671441\"},\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"public_ips_v4_count\":1,\"public_ips_v6_count\":0,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstancePolicy\",\"private_network_ids\":[\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
    method: POST
  response:
    body: "{\"id\":\"3370889d-d63b-478c-bb42-254db1da2897\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"a2ef857f-deee-485c-8a38-c83423671441\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstancePolicy\",\"private_network_ids\":[\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\"],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:12.548235689Z\",\"updated_at\":\"2025-08-26T16:25:12.548235689Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 570.625222ms
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/3370889d-d63b-478c-bb42-254db1da2897
    method: GET
  response:
    body: "{\"id\":\"3370889d-d63b-478c-bb42-254db1da2897\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"a2ef857f-deee-485c-8a38-c83423671441\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"instance-template\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstancePolicy\",\"private_network_ids\":[\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\"],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:12.548235Z\",\"updated_at\":\"2025-08-26T16:25:12.548235Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.6867ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"ipam_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c027bed3-02f3-4802-8eec-04413643be77/attach-private-network
    method: POST
  response:
    body: "{\"lb\":{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"68777971-7728-4c5f-8731-a89f360cbcc0\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T16:23:46.120563Z\",\"updated_at\":\"2025-08-26T16:25:10.288695Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2\",\"ip_address\":\"195.154.71.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"reverse\":\"195-154-71-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.233354Z\",\"updated_at\":\"2025-08-26T16:25:12.015013Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"status\":\"pending\",\"created_at\":\"2025-08-26T16:25:38.174958792Z\",\"updated_at\":\"2025-08-26T16:25:38.174958792Z\",\"dhcp_config\":{\"ip_id\":null},\"ipam_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 556.7592ms
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c027bed3-02f3-4802-8eec-04413643be77/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[{\"lb\":{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"description\":\"\",\"status\":\"ready\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2\",\"ip_address\":\"195.154.71.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"reverse\":\"195-154-71-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.233354Z\",\"updated_at\":\"2025-08-26T16:25:12.015013Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\",\"status\":\"pending\",\"created_at\":\"2025-08-26T16:25:38.174959Z\",\"updated_at\":\"2025-08-26T16:25:38.174959Z\",\"dhcp_config\":{\"ip_id\":null},\"ipam_ids\":[]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 349.626254ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - a9c31e1f-0ba5-4cd3-bd40-3b44c7221901
      resource_type:
      - lb_server
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a9c31e1f-0ba5-4cd3-bd40-3b44c7221901&resource_type=lb_server
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"1257d4b1-dc57-497b-b8d0-c8ba43200a9e\",\"address\":\"172.16.24.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:25:38.567536Z\",\"updated_at\":\"2025-08-26T16:25:39.225275Z\",\"source\":{\"subnet_id\":\"f1d18556-d4f9-4467-aa5a-833bfc74541b\"},\"resource\":{\"type\":\"lb_server\",\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"mac_address\":\"02:00:00:1B:3A:7B\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 243.380537ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-jolly-gauss\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c027bed3-02f3-4802-8eec-04413643be77/backends
    method: POST
  response:
    body: "{\"id\":\"4df6523b-351c-4160-84e3-944f48a921a0\",\"name\":\"tf-lb-bkd-jolly-gauss\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"68777971-7728-4c5f-8731-a89f360cbcc0\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T16:23:46.120563Z\",\"updated_at\":\"2025-08-26T16:26:10.155115429Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"5a36b3a9-45d7-4d61-89eb-1511d3a6d6e2\",\"ip_address\":\"195.154.71.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"reverse\":\"195-154-71-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:07.233354Z\",\"updated_at\":\"2025-08-26T16:25:12.015013Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-08-26T16:26:10.129738307Z\",\"updated_at\":\"2025-08-26T16:26:10.129738307Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 433.682244ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/4df6523b-351c-4160-84e3-944f48a921a0
    method: GET
  response:
    body: "{\"id\":\"4df6523b-351c-4160-84e3-944f48a921a0\",\"name\":\"tf-lb-bkd-jolly-gauss\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check[...]
[...]
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstancePolicy\",\"tags\":[\"terraform-test\",\"instance-group\"],\"template_id\":\"3370889d-d63b-478c-bb42-254db1da2897\",\"capacity\":{\"max_replicas\":5,\"min_replicas\":1,\"cooldown_delay\":\"300.000000000s\"},\"loadbalancer\":{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"backend_ids\":[\"4df6523b-351c-4160-84e3-944f48a921a0\"],\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
    method: POST
  response:
    body: "{\"id\":\"b77011a5-e421-47b0-88d5-f8065fe37e17\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstancePolicy\",\"tags\":[\"terraform-test\",\"instance-group\"],\"instance_template_id\":\"3370889d-d63b-478c-bb42-254db1da2897\",\"capacity\":{\"max_replicas\":5,\"min_replicas\":1,\"cooldown_delay\":\"300s\"},\"loadbalancer\":{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"backend_ids\":[\"4df6523b-351c-4160-84e3-944f48a921a0\"],\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\"},\"error_messages\":[],\"created_at\":\"2025-08-26T16:26:11.173205556Z\",\"updated_at\":\"2025-08-26T16:26:11.173205556Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 404.592917ms
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/b77011a5-e421-47b0-88d5-f8065fe37e17
    method: GET
  response:
    body: "{\"id\":\"b77011a5-e421-47b0-88d5-f8065fe37e17\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstancePolicy\",\"tags\":[\"terraform-test\",\"instance-group\"],\"instance_template_id\":\"3370889d-d63b-478c-bb42-254db1da2897\",\"capacity\":{\"max_replicas\":5,\"min_replicas\":1,\"cooldown_delay\":\"300s\"},\"loadbalancer\":{\"id\":\"c027bed3-02f3-4802-8eec-04413643be77\",\"backend_ids\":[\"4df6523b-351c-4160-84e3-944f48a921a0\"],\"private_network_id\":\"a9c31e1f-0ba5-4cd3-bd40-3b44c7221901\"},\"error_messages\":[],\"created_at\":\"2025-08-26T16:26:11.173205Z\",\"updated_at\":\"2025-08-26T16:26:11.173205Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 154.847407ms
- id: 32
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccASGInstancePolicy\",\"metric\":{\"name\":\"cpu scale down\",\"managed_metric\":\"managed_metric_instance_cpu\",\"operator\":\"operator_less_than\",\"aggregate\":\"aggregate_average\",\"sampling_range_min\":5,\"threshold\":40},\"action\":\"scale_down\",\"type\":\"flat_count\",\"value\":1,\"priority\":2,\"instance_group_id\":\"b77011a5-e421-47b0-88d5-f8065fe37e17\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies
    method: POST
  response:
    body: "{\"id\":\"69ca1701-1757-4f79-b19d-bad9513f9977\",\"name\":\"TestAccASGInstancePolicy\",\"metric\":{\"name\":\"cpu scale down\",\"managed_metric\":\"managed_metric_instance_cpu\",\"operator\":\"operator_less_than\",\"aggregate\":\"aggregate_average\",\"sampling_range_min\":5,\"threshold\":40},\"action\":\"scale_down\",\"type\":\"flat_count\",\"value\":1,\"priority\":2,\"instance_group_id\":\"b77011a5-e421-47b0-88d5-f8065fe37e17\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.43583ms
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies/69ca1701-1757-4f79-b19d-bad9513f9977
    method: GET
  response:
    body: "{\"id\":\"69ca1701-1757-4f79-b19d-bad9513f9977\",\"name\":\"TestAccASGInstancePolicy\",\"metric\":{\"name\":\"cpu scale down\",\"managed_metric\":\"managed_metric_instance_cpu\",\"operator\":\"operator_less_than\",\"aggregate\":\"aggregate_average\",\"sampling_range_min\":5,\"threshold\":40},\"action\":\"scale_down\",\"type\":\"flat_count\",\"value\":1,\"priority\":2,\"instance_group_id\":\"b77011a5-e421-47b0-88d5-f8065fe37e17\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 139.436388ms
[...]
- id: 52
  request:
    host: api.scaleway.com
    form:
      name:
      - b77011a5-e421-47b0-88d5-f8065fe37e17
      order:
      - creation_date_desc
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=b77011a5-e421-47b0-88d5-f8065fe37e17&order=creation_date_desc
    method: GET
  response:
[...]
