---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceTemplatePrivateNetwork","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:08:17.608483Z","custom_routes_propagation_enabled":false,"id":"3e934ef5-a3e7-4dbe-868c-9a45c3ca83ce","is_default":false,"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-12T21:08:17.608483Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.851458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-eager-tharp","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:08:17.617539Z","id":"d980b615-d0bd-43be-b731-6edc161d1eb3","last_detached_at":null,"name":"tf-volume-eager-tharp","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T21:08:17.617539Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.414875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3e934ef5-a3e7-4dbe-868c-9a45c3ca83ce
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:08:17.608483Z","custom_routes_propagation_enabled":false,"id":"3e934ef5-a3e7-4dbe-868c-9a45c3ca83ce","is_default":false,"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-12T21:08:17.608483Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.809833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d980b615-d0bd-43be-b731-6edc161d1eb3
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:08:17.617539Z","id":"d980b615-d0bd-43be-b731-6edc161d1eb3","last_detached_at":null,"name":"tf-volume-eager-tharp","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T21:08:17.617539Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.315958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstanceTemplatePrivateNetwork","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"3e934ef5-a3e7-4dbe-868c-9a45c3ca83ce"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:08:17.724474Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c9f871c4-4573-4852-8c7d-d70cf481b466","name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-12T21:08:17.724474Z","id":"10073bc2-5def-40a3-b455-0b15a268bde8","private_network_id":"c9f871c4-4573-4852-8c7d-d70cf481b466","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2025-06-12T21:08:17.724474Z","vpc_id":"3e934ef5-a3e7-4dbe-868c-9a45c3ca83ce"},{"created_at":"2025-06-12T21:08:17.724474Z","id":"36bf1421-49b9-45c0-acd2-3bbe229c077e","private_network_id":"c9f871c4-4573-4852-8c7d-d70cf481b466","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6229::/64","updated_at":"2025-06-12T21:08:17.724474Z","vpc_id":"3e934ef5-a3e7-4dbe-868c-9a45c3ca83ce"}],"tags":[],"updated_at":"2025-06-12T21:08:17.724474Z","vpc_id":"3e934ef5-a3e7-4dbe-868c-9a45c3ca83ce"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 636.690917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c9f871c4-4573-4852-8c7d-d70cf481b466
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:08:17.724474Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c9f871c4-4573-4852-8c7d-d70cf481b466","name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa51[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d980b615-d0bd-43be-b731-6edc161d1eb3","name":"TestAccASGInstanceTemplatePrivateNetwork","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T21:08:22.901600Z","id":"904171ab-04a8-413a-b017-8e0526b92588","name":"TestAccASGInstanceTemplatePrivateNetwork","parent_volume":{"id":"d980b615-d0bd-43be-b731-6edc161d1eb3","name":"tf-volume-eager-tharp","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T21:08:22.901600Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 580.754167ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/904171ab-04a8-413a-b017-8e0526b92588
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T21:08:22.901600Z","id":"904171ab-04a8-413a-b017-8e0526b92588","name":"TestAccASGInstanceTemplatePrivateNetwork","parent_volume":{"id":"d980b615-d0bd-43be-b731-6edc161d1eb3","name":"tf-volume-eager-tharp","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T21:08:22.901600Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.007125ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"904171ab-04a8-413a-b017-8e0526b92588"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","basic"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceTemplatePrivateNetwork","private_network_ids":["c9f871c4-4573-4852-8c7d-d70cf481b466"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T21:08:29.021329216Z","id":"1ce3519f-03dc-4824-861c-cb2aacd8c6d4","image_id":null,"name":"TestAccASGInstanceTemplatePrivateNetwork","placement_group_id":null,"private_network_ids":["c9f871c4-4573-4852-8c7d-d70cf481b466"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","basic"],"updated_at":"2025-06-12T21:08:29.021329216Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"904171ab-04a8-413a-b017-8e0526b92588"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.303792ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/1ce3519f-03dc-4824-861c-cb2aacd8c6d4
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T21:08:29.021329Z","id":"1ce3519f-03dc-4824-861c-cb2aacd8c6d4","image_id":null,"name":"TestAccASGInstanceTemplatePrivateNetwork","placement_group_id":null,"private_network_ids":["c9f871c4-4573-4852-8c7d-d70cf481b466"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","basic"],"updated_at":"2025-06-12T21:08:29.021329Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"904171ab-04a8-413a-b017-8e0526b92588"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.784791ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/904171ab-04a8-413a-b017-8e0526b92588
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"904171ab-04a8-413a-b017-8e0526b92588","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.367916ms
[...]
