---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd","ip_address":"51.159.27.210","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-210.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.880125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-brave-nash","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:48:47.445831Z","id":"3e242dd2-ec82-4093-92c7-8365f8db4fc9","last_detached_at":null,"name":"tf-volume-brave-nash","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-03-02T14:48:47.445831Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.909416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:48:47.424764Z","custom_routes_propagation_enabled":true,"id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9","is_default":false,"name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-02T14:48:47.424764Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.932167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c79fba22-3b93-4cab-91ea-dcd877a6cdc9
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:48:47.424764Z","custom_routes_propagation_enabled":true,"id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9","is_default":false,"name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-02T14:48:47.424764Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.152792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd
        method: GET
      response:
        body: '{"id":"35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd","ip_address":"51.159.27.210","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-210.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.432542ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/3e242dd2-ec82-4093-92c7-8365f8db4fc9
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:48:47.445831Z","id":"3e242dd2-ec82-4093-92c7-8365f8db4fc9","last_detached_at":null,"name":"tf-volume-brave-nash","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-03-02T14:48:47.445831Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.416459ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:48:47.656729Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-02T14:48:47.656729Z","id":"4ae2bd74-2e97-4c1d-b010-37ad436ac4c3","private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.36.0/22","updated_at":"2026-03-02T14:48:47.656729Z","vpc_id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9"},{"created_at":"2026-03-02T14:48:47.656729Z","id":"aace1d0f-a982-4111-925c-5c412adc4439","private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:131d::/64","updated_at":"2026-03-02T14:48:47.656729Z","vpc_id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9"}],"tags":[],"updated_at":"2026-03-02T14:48:47.656729Z","vpc_id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 727.70925ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1696f88e-2ad2-4851-b09a-0604af7ba3d5
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:48:47.656729Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-02T14:48:47.656729Z","id":"4ae2bd74-2e97-4c1d-b010-37ad436ac4c3","private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.36.0/22","updated_at":"2026-03-02T14:48:47.656729Z","vpc_id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9"},{"created_at":"2026-03-02T14:48:47.656729Z","id":"aace1d0f-a982-4111-925c-5c412adc4439","private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:131d::/64","updated_at":"2026-03-02T14:48:47.656729Z","vpc_id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9"}],"tags":[],"updated_at":"2026-03-02T14:48:47.656729Z","vpc_id":"c79fba22-3b93-4cab-91ea-dcd877a6cdc9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.311ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceTemplatePrivateNetwork","description":"","ip_id":"35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-03-02T14:48:48.487634203Z","description":"","frontend_count":0,"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","instances":[],"ip":[{"id":"35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd","ip_address":"51.159.27.210","lb_id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-210.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:48:48.487634203Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.229875ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-03-02T14:48:48.487634Z","description":"","frontend_count":0,"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","instances":[{"created_at":"2026-03-02T14:46:51.203153Z","id":"13b03872-c09b-4c7a-b6e6-121d9a5cfe[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"volume_id":"3e242dd2-ec82-4093-92c7-8365f8db4fc9","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-03-02T14:48:47.750593Z","id":"20811246-db53-44f1-ab83-cf4a38dce4fd","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"3e242dd2-ec82-4093-92c7-8365f8db4fc9","name":"tf-volume-brave-nash","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-03-02T14:48:47.750593Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.620820708s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/20811246-db53-44f1-ab83-cf4a38dce4fd
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-03-02T14:48:47.750593Z","id":"20811246-db53-44f1-ab83-cf4a38dce4fd","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"3e242dd2-ec82-4093-92c7-8365f8db4fc9","name":"tf-volume-brave-nash","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-03-02T14:48:47.750593Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 809.141625ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"20811246-db53-44f1-ab83-cf4a38dce4fd"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstancePolicy","private_network_ids":["1696f88e-2ad2-4851-b09a-0604af7ba3d5"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-03-02T14:48:51.964857666Z","id":"6432c957-90f0-4db6-ac5f-78d1a20389bb","image_id":null,"name":"TestAccASGInstancePolicy","placement_group_id":null,"private_network_ids":["1696f88e-2ad2-4851-b09a-0604af7ba3d5"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-03-02T14:48:51.964857666Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"20811246-db53-44f1-ab83-cf4a38dce4fd"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 508.074375ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/6432c957-90f0-4db6-ac5f-78d1a20389bb
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2026-03-02T14:48:51.964857Z","id":"6432c957-90f0-4db6-ac5f-78d1a20389bb","image_id":null,"name":"TestAccASGInstancePolicy","placement_group_id":null,"private_network_ids":["1696f88e-2ad2-4851-b09a-0604af7ba3d5"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2026-03-02T14:48:51.964857Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"20811246-db53-44f1-ab83-cf4a38dce4fd"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}},"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.863292ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:49:19.258743844Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-03-02T14:48:48.487634Z","description":"","frontend_count":0,"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","instances":[{"created_at":"2026-03-02T14:46:51.203153Z","id":"13b03872-c09b-4c7a-b6e6-121d9a5cfe82","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-03-02T14:48:50.347291Z","zone":"fr-par-1"}],"ip":[{"id":"35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd","ip_address":"51.159.27.210","lb_id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-210.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:48:51.603854Z","zone":"fr-par-1"},"private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","status":"pending","updated_at":"2026-03-02T14:49:19.258743844Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.591291ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2026-03-02T14:49:19.258744Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-03-02T14:48:48.487634Z","description":"","frontend_count":0,"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","instances":[],"ip":[{"id":"35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd","ip_address":"51.159.27.210","lb_id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-210.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:48:51.603854Z","zone":"fr-par-1"},"private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5","status":"pending","updated_at":"2026-03-02T14:49:19.258744Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.781042ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=1696f88e-2ad2-4851-b09a-0604af7ba3d5&resource_id=fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.36.2/22","created_at":"2026-03-02T14:49:19.659568Z","id":"3872d35a-238a-49bd-acb3-0d2aa0873a44","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","mac_address":"02:00:00:18:70:32","name":"TestAccASGInstanceTemplatePrivateNetwork","type":"lb_server"},"reverses":[],"source":{"subnet_id":"4ae2bd74-2e97-4c1d-b010-37ad436ac4c3"},"tags":[],"updated_at":"2026-03-02T14:49:20.233619Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.5905ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-keen-wilson","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4/backends
        method: POST
      response:
        body: '{"created_at":"2026-03-02T14:49:50.546591754Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"e6e64590-06b2-40d5-ae1b-fe4db1a9a06e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-03-02T14:48:48.487634Z","description":"","frontend_count":0,"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","instances":[{"created_at":"2026-03-02T14:46:51.203153Z","id":"13b03872-c09b-4c7a-b6e6-121d9a5cfe82","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-03-02T14:49:50.568716169Z","zone":"fr-par-1"}],"ip":[{"id":"35c89cde-f90e-4c84-a3a9-3dabb4f0f2cd","ip_address":"51.159.27.210","lb_id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-210.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-02T14:48:51.603854Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-keen-wilson","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-03-02T14:49:50.546591754Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.793666ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/e6e64590-06b2-40d5-ae1b-fe4db1a9a06e
        method: GET
      response:
        body: '{"created_at":"2026-03-02T14:49:50.546592Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstancePolicy","tags":["terraform-test","instance-group"],"template_id":"6432c957-90f0-4db6-ac5f-78d1a20389bb","capacity":{"max_replicas":5,"min_replicas":1,"cooldown_delay":"300.000000000s"},"loadbalancer":{"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","backend_ids":["e6e64590-06b2-40d5-ae1b-fe4db1a9a06e"],"private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
        method: POST
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-03-02T14:49:51.378163367Z","error_messages":[],"id":"9e7e57da-b9e5-43cc-9138-ed98fc20a542","instance_template_id":"6432c957-90f0-4db6-ac5f-78d1a20389bb","loadbalancer":{"backend_ids":["e6e64590-06b2-40d5-ae1b-fe4db1a9a06e"],"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5"},"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-03-02T14:49:51.378163367Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 452.129334ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/9e7e57da-b9e5-43cc-9138-ed98fc20a542
        method: GET
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2026-03-02T14:49:51.378163Z","error_messages":[],"id":"9e7e57da-b9e5-43cc-9138-ed98fc20a542","instance_template_id":"6432c957-90f0-4db6-ac5f-78d1a20389bb","loadbalancer":{"backend_ids":["e6e64590-06b2-40d5-ae1b-fe4db1a9a06e"],"id":"fc7b7deb-8f57-4f7e-a4eb-d32e82c01ea4","private_network_id":"1696f88e-2ad2-4851-b09a-0604af7ba3d5"},"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2026-03-02T14:49:51.378163Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.601667ms
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","metric":{"name":"cpu scale down","managed_metric":"managed_metric_instance_cpu","operator":"operator_less_than","aggregate":"aggregate_average","sampling_range_min":5,"threshold":40},"action":"scale_down","type":"flat_count","value":1,"priority":2,"instance_group_id":"9e7e57da-b9e5-43cc-9138-ed98fc20a542"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies
        method: POST
      response:
        body: '{"action":"scale_down","id":"7365ae47-f158-42b5-8d75-344f47504a67","instance_group_id":"9e7e57da-b9e5-43cc-9138-ed98fc20a542","metric":{"aggregate":"aggregate_average","managed_metric":"managed_metric_instance_cpu","name":"cpu scale down","operator":"operator_less_than","sampling_range_min":5,"threshold":40},"name":"TestAccASGInstancePolicy","priority":2,"type":"flat_count","value":1,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.498958ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies/7365ae47-f158-42b5-8d75-344f47504a67
        method: GET
      response:
        body: '{"action":"scale_down","id":"7365ae47-f158-42b5-8d75-344f47504a67","instance_group_id":"9e7e57da-b9e5-43cc-9138-ed98fc20a542","metric":{"aggregate":"aggregate_average","managed_metric":"managed_metric_instance_cpu","name":"cpu scale down","operator":"operator_less_than","sampling_range_min":5,"threshold":40},"name":"TestAccASGInstancePolicy","priority":2,"type":"flat_count","value":1,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.990417ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=9e7e57da-b9e5-43cc-9138-ed98fc20a542&order=creation_date_desc
        method: GET
      response:
[...]
