---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"cfd9041d-b76a-42be-950b-13d7b8254793","ip_address":"62.210.39.230","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.099208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:06:26.312861Z","custom_routes_propagation_enabled":false,"id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30","is_default":false,"name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-12T21:06:26.312861Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.014167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-nervous-leavitt","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:06:26.329676Z","id":"08bde3dc-52b4-4214-bad9-d44dc8c2055b","last_detached_at":null,"name":"tf-volume-nervous-leavitt","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T21:06:26.329676Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.234416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5c5e70be-53cd-4c1e-80b9-82c626f2eb30
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:06:26.312861Z","custom_routes_propagation_enabled":false,"id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30","is_default":false,"name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-12T21:06:26.312861Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.025333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cfd9041d-b76a-42be-950b-13d7b8254793
        method: GET
      response:
        body: '{"id":"cfd9041d-b76a-42be-950b-13d7b8254793","ip_address":"62.210.39.230","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.618167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/08bde3dc-52b4-4214-bad9-d44dc8c2055b
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:06:26.329676Z","id":"08bde3dc-52b4-4214-bad9-d44dc8c2055b","last_detached_at":null,"name":"tf-volume-nervous-leavitt","parent_snapshot_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-12T21:06:26.329676Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.018291ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:06:26.438519Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5a8661dc-b373-45dd-af58-75055b504f8f","name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-12T21:06:26.438519Z","id":"b9e0ba10-9e15-45a1-bc4a-d5a289364002","private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.52.0/22","updated_at":"2025-06-12T21:06:26.438519Z","vpc_id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30"},{"created_at":"2025-06-12T21:06:26.438519Z","id":"faf35aac-2ded-4514-b3aa-c4c20d9efee2","private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7029::/64","updated_at":"2025-06-12T21:06:26.438519Z","vpc_id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30"}],"tags":[],"updated_at":"2025-06-12T21:06:26.438519Z","vpc_id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 627.455833ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5a8661dc-b373-45dd-af58-75055b504f8f
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:06:26.438519Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5a8661dc-b373-45dd-af58-75055b504f8f","name":"TestAccASGInstancePolicy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-12T21:06:26.438519Z","id":"b9e0ba10-9e15-45a1-bc4a-d5a289364002","private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.52.0/22","updated_at":"2025-06-12T21:06:26.438519Z","vpc_id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30"},{"created_at":"2025-06-12T21:06:26.438519Z","id":"faf35aac-2ded-4514-b3aa-c4c20d9efee2","private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7029::/64","updated_at":"2025-06-12T21:06:26.438519Z","vpc_id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30"}],"tags":[],"updated_at":"2025-06-12T21:06:26.438519Z","vpc_id":"5c5e70be-53cd-4c1e-80b9-82c626f2eb30"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.213292ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstanceTemplatePrivateNetwork","description":"","ip_id":"cfd9041d-b76a-42be-950b-13d7b8254793","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-06-12T21:06:27.213251949Z","description":"","frontend_count":0,"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","instances":[],"ip":[{"id":"cfd9041d-b76a-42be-950b-13d7b8254793","ip_address":"62.210.39.230","lb_id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:06:27.213251949Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 424.050875ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c66f634e-f040-4e3e-a68b-9d63f8d732f3
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-06-12T21:06:27.213252Z","description":"","frontend_count":0,"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","instances":[{"created_at":"2025-06-12T21:02:06.473295Z","id":"052a2d3c-384d-4c8e-8f87-674769acfa1[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"08bde3dc-52b4-4214-bad9-d44dc8c2055b","name":"test-ds-block-snapshot-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T21:06:31.589673Z","id":"5a051f0d-05ca-4af6-bfa3-1497b03336f8","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"08bde3dc-52b4-4214-bad9-d44dc8c2055b","name":"tf-volume-nervous-leavitt","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T21:06:31.589673Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.680708ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/5a051f0d-05ca-4af6-bfa3-1497b03336f8
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-06-12T21:06:31.589673Z","id":"5a051f0d-05ca-4af6-bfa3-1497b03336f8","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"08bde3dc-52b4-4214-bad9-d44dc8c2055b","name":"tf-volume-nervous-leavitt","status":"available","type":"sbs_5k"},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-06-12T21:06:31.589673Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.618333ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"commercial_type":"PLAY2-MICRO","volumes":{"0":{"name":"as-volume","perf_iops":5000,"from_snapshot":{"size":null,"snapshot_id":"5a051f0d-05ca-4af6-bfa3-1497b03336f8"},"tags":[],"boot":true,"volume_type":"sbs"}},"tags":["terraform-test","instance-template"],"public_ips_v4_count":1,"public_ips_v6_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstancePolicy","private_network_ids":["5a8661dc-b373-45dd-af58-75055b504f8f"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
        method: POST
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T21:06:37.437088673Z","id":"ce8711a2-337f-452e-a48c-8883e6d75548","image_id":null,"name":"TestAccASGInstancePolicy","placement_group_id":null,"private_network_ids":["5a8661dc-b373-45dd-af58-75055b504f8f"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2025-06-12T21:06:37.437088673Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"5a051f0d-05ca-4af6-bfa3-1497b03336f8"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.865625ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/ce8711a2-337f-452e-a48c-8883e6d75548
        method: GET
      response:
        body: '{"commercial_type":"PLAY2-MICRO","created_at":"2025-06-12T21:06:37.437088Z","id":"ce8711a2-337f-452e-a48c-8883e6d75548","image_id":null,"name":"TestAccASGInstancePolicy","placement_group_id":null,"private_network_ids":["5a8661dc-b373-45dd-af58-75055b504f8f"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ips_v4_count":1,"security_group_id":null,"status":"unknown_status","tags":["terraform-test","instance-template"],"updated_at":"2025-06-12T21:06:37.437088Z","volumes":{"0":{"boot":true,"from_snapshot":{"size":null,"snapshot_id":"5a051f0d-05ca-4af6-bfa3-1497b03336f8"},"name":"as-volume","perf_iops":5000,"tags":[],"volume_type":"sbs"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.5425ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c66f634e-f040-4e3e-a68b-9d63f8d732f3/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:06:57.810398584Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-06-12T21:06:27.213252Z","description":"","frontend_count":0,"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","instances":[{"created_at":"2025-06-12T21:02:06.473295Z","id":"052a2d3c-384d-4c8e-8f87-674769acfa1c","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-06-12T21:06:29.130455Z","zone":"fr-par-1"}],"ip":[{"id":"cfd9041d-b76a-42be-950b-13d7b8254793","ip_address":"62.210.39.230","lb_id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:06:30.259592Z","zone":"fr-par-1"},"private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f","status":"pending","updated_at":"2025-06-12T21:06:57.810398584Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 465.903375ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c66f634e-f040-4e3e-a68b-9d63f8d732f3/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-06-12T21:06:57.810399Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-06-12T21:06:27.213252Z","description":"","frontend_count":0,"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","instances":[],"ip":[{"id":"cfd9041d-b76a-42be-950b-13d7b8254793","ip_address":"62.210.39.230","lb_id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:06:30.259592Z","zone":"fr-par-1"},"private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f","status":"pending","updated_at":"2025-06-12T21:06:57.810399Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.066459ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5a8661dc-b373-45dd-af58-75055b504f8f&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.52.2/22","created_at":"2025-06-12T21:07:00.361977Z","id":"54a79388-5867-4fe3-9a36-dddabf478e03","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","mac_address":"02:00:00:1A:2E:74","name":"TestAccASGInstanceTemplatePrivateNetwork","type":"lb_server"},"reverses":[],"source":{"subnet_id":"b9e0ba10-9e15-45a1-bc4a-d5a289364002"},"tags":[],"updated_at":"2025-06-12T21:07:01.035434Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.36125ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-magical-agnesi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c66f634e-f040-4e3e-a68b-9d63f8d732f3/backends
        method: POST
      response:
        body: '{"created_at":"2025-06-12T21:07:28.963446998Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"b60bb92d-a9dd-4d8c-96bc-91aa10cbfd3a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-12T21:06:27.213252Z","description":"","frontend_count":0,"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","instances":[{"created_at":"2025-06-12T21:02:06.473295Z","id":"052a2d3c-384d-4c8e-8f87-674769acfa1c","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-06-12T21:07:28.987547285Z","zone":"fr-par-1"}],"ip":[{"id":"cfd9041d-b76a-42be-950b-13d7b8254793","ip_address":"62.210.39.230","lb_id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-230.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"TestAccASGInstanceTemplatePrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-12T21:06:30.259592Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-magical-agnesi","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-06-12T21:07:28.963446998Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.469291ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/b60bb92d-a9dd-4d8c-96bc-91aa10cbfd3a
        method: GET
      response:
        body: '{"created_at":"2025-06-12T21:07:28.963447Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccASGInstancePolicy","tags":["terraform-test","instance-group"],"template_id":"ce8711a2-337f-452e-a48c-8883e6d75548","capacity":{"max_replicas":5,"min_replicas":1,"cooldown_delay":"300.000000000s"},"loadbalancer":{"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","backend_ids":["b60bb92d-a9dd-4d8c-96bc-91aa10cbfd3a"],"private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups
        method: POST
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2025-06-12T21:07:29.738302804Z","error_messages":[],"id":"91a8adf1-1e31-496a-8a06-f9e1ef22831e","instance_template_id":"ce8711a2-337f-452e-a48c-8883e6d75548","loadbalancer":{"backend_ids":["b60bb92d-a9dd-4d8c-96bc-91aa10cbfd3a"],"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f"},"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2025-06-12T21:07:29.738302804Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.362084ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-groups/91a8adf1-1e31-496a-8a06-f9e1ef22831e
        method: GET
      response:
        body: '{"capacity":{"cooldown_delay":"300s","max_replicas":5,"min_replicas":1},"created_at":"2025-06-12T21:07:29.738302Z","error_messages":[],"id":"91a8adf1-1e31-496a-8a06-f9e1ef22831e","instance_template_id":"ce8711a2-337f-452e-a48c-8883e6d75548","loadbalancer":{"backend_ids":["b60bb92d-a9dd-4d8c-96bc-91aa10cbfd3a"],"id":"c66f634e-f040-4e3e-a68b-9d63f8d732f3","private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f"},"name":"TestAccASGInstancePolicy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","instance-group"],"updated_at":"2025-06-12T21:07:29.738302Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.370875ms
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccASGInstancePolicy","metric":{"name":"cpu scale down","managed_metric":"managed_metric_instance_cpu","operator":"operator_less_than","aggregate":"aggregate_average","sampling_range_min":5,"threshold":40},"action":"scale_down","type":"flat_count","value":1,"priority":2,"instance_group_id":"91a8adf1-1e31-496a-8a06-f9e1ef22831e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies
        method: POST
      response:
        body: '{"action":"scale_down","id":"4c080a7d-86e4-44dc-a3e2-3a6e679fe2e0","instance_group_id":"91a8adf1-1e31-496a-8a06-f9e1ef22831e","metric":{"aggregate":"aggregate_average","managed_metric":"managed_metric_instance_cpu","name":"cpu scale down","operator":"operator_less_than","sampling_range_min":5,"threshold":40},"name":"TestAccASGInstancePolicy","priority":2,"type":"flat_count","value":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.381959ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-policies/4c080a7d-86e4-44dc-a3e2-3a6e679fe2e0
        method: GET
      response:
        body: '{"action":"scale_down","id":"4c080a7d-86e4-44dc-a3e2-3a6e679fe2e0","instance_group_id":"91a8adf1-1e31-496a-8a06-f9e1ef22831e","metric":{"aggregate":"aggregate_average","managed_metric":"managed_metric_instance_cpu","name":"cpu scale down","operator":"operator_less_than","sampling_range_min":5,"threshold":40},"name":"TestAccASGInstancePolicy","priority":2,"type":"flat_count","value":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.146209ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=91a8adf1-1e31-496a-8a06-f9e1ef22831e&order=creation_date_desc
        method: GET
      response:
        body: '{"servers":[]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&name=91a8adf1-1e31-496a-8a06-f9e1ef22831e&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 114.132292ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/5a051f0d-05ca-4af6-bfa3-1497b03336f8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"5a051f0d-05ca-4af6-bfa3-1497b03336f8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.824292ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"5a8661dc-b373-45dd-af58-75055b504f8f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c66f634e-f040-4e3e-a68b-9d63f8d732f3/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 275.826375ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c66f634e-f040-4e3e-a68b-9d63f8d732f3?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 331.278625ms
[...]
