---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"da68fe66-699b-4e15-b3ff-d747d51c5f72\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:05.282535Z\",\"updated_at\":\"2025-08-26T16:25:05.282535Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.721294ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/da68fe66-699b-4e15-b3ff-d747d51c5f72
    method: GET
  response:
    body: "{\"id\":\"da68fe66-699b-4e15-b3ff-d747d51c5f72\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:05.282535Z\",\"updated_at\":\"2025-08-26T16:25:05.282535Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 236.704727ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-lucid-driscoll\",\"perf_iops\":5000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"from_empty\":{\"size\":10000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"4396681d-e76a-4873-bcb3-15f0b85c82b8\",\"name\":\"tf-volume-lucid-driscoll\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:05.303185Z\",\"updated_at\":\"2025-08-26T16:25:05.303185Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 418.007603ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/4396681d-e76a-4873-bcb3-15f0b85c82b8
    method: GET
  response:
    body: "{\"id\":\"4396681d-e76a-4873-bcb3-15f0b85c82b8\",\"name\":\"tf-volume-lucid-driscoll\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:05.303185Z\",\"updated_at\":\"2025-08-26T16:25:05.303185Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"available\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.426819ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"4396681d-e76a-4873-bcb3-15f0b85c82b8\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"5baa9305-03fc-4c4e-97f7-100df2031669\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"parent_volume\":{\"id\":\"4396681d-e76a-4873-bcb3-15f0b85c82b8\",\"name\":\"tf-volume-lucid-driscoll\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.183874Z\",\"updated_at\":\"2025-08-26T16:25:06.183874Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 456.012988ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/5baa9305-03fc-4c4e-97f7-100df2031669
    method: GET
  response:
    body: "{\"id\":\"5baa9305-03fc-4c4e-97f7-100df2031669\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"parent_volume\":{\"id\":\"4396681d-e76a-4873-bcb3-15f0b85c82b8\",\"name\":\"tf-volume-lucid-driscoll\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:06.183874Z\",\"updated_at\":\"2025-08-26T16:25:06.183874Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.227569ms
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"da68fe66-699b-4e15-b3ff-d747d51c5f72\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"e793e7be-f1af-46c4-892f-eab66a9e5f2b\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:05.780850Z\",\"updated_at\":\"2025-08-26T16:25:05.780850Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"919c4090-43d8-45ff-8c06-c08983b2999e\",\"created_at\":\"2025-08-26T16:25:05.780850Z\",\"updated_at\":\"2025-08-26T16:25:05.780850Z\",\"subnet\":\"172.16.0.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e793e7be-f1af-46c4-892f-eab66a9e5f2b\",\"vpc_id\":\"da68fe66-699b-4e15-b3ff-d747d51c5f72\"},{\"id\":\"75bcd98e-24e7-4669-a048-1c08886cc9e5\",\"created_at\":\"2025-08-26T16:25:05.780850Z\",\"updated_at\":\"2025-08-26T16:25:05.780850Z\",\"subnet\":\"fde7:767f:1bb5:72d6::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e793e7be-f1af-46c4-892f-eab66a9e5f2b\",\"vpc_id\":\"da68fe66-699b-4e15-b3ff-d747d51c5f72\"}],\"vpc_id\":\"da68fe66-699b-4e15-b3ff-d747d51c5f72\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.011000672s
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e793e7be-f1af-46c4-892f-eab66a9e5f2b
    method: GET
  response:
    body: "{\"id\":\"e793e7be-f1af-46c4-892f-eab66a9e5f2b\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:05.780850Z\",\"updated_at\":\"2025-08-26T16:25:05.780850Z\",\"project_id\":\"d03c0[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"commercial_type\":\"PLAY2-MICRO\",\"volumes\":{\"0\":{\"name\":\"as-volume\",\"perf_iops\":5000,\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"5baa9305-03fc-4c4e-97f7-100df2031669\"},\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"basic\"],\"public_ips_v4_count\":1,\"public_ips_v6_count\":0,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"private_network_ids\":[\"e793e7be-f1af-46c4-892f-eab66a9e5f2b\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates
    method: POST
  response:
    body: "{\"id\":\"6c8f2010-db24-4c74-9c06-66070e76eeeb\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"5baa9305-03fc-4c4e-97f7-100df2031669\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"basic\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"private_network_ids\":[\"e793e7be-f1af-46c4-892f-eab66a9e5f2b\"],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:12.448454352Z\",\"updated_at\":\"2025-08-26T16:25:12.448454352Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 473.805622ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/autoscaling/v1alpha1/zones/fr-par-1/instance-templates/6c8f2010-db24-4c74-9c06-66070e76eeeb
    method: GET
  response:
    body: "{\"id\":\"6c8f2010-db24-4c74-9c06-66070e76eeeb\",\"commercial_type\":\"PLAY2-MICRO\",\"image_id\":null,\"volumes\":{\"0\":{\"name\":\"as-volume\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"5baa9305-03fc-4c4e-97f7-100df2031669\"},\"perf_iops\":5000,\"tags\":[],\"boot\":true,\"volume_type\":\"sbs\"}},\"tags\":[\"terraform-test\",\"basic\"],\"security_group_id\":null,\"placement_group_id\":null,\"public_ips_v4_count\":1,\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccASGInstanceTemplatePrivateNetwork\",\"private_network_ids\":[\"e793e7be-f1af-46c4-892f-eab66a9e5f2b\"],\"status\":\"unknown_status\",\"created_at\":\"2025-08-26T16:25:12.448454Z\",\"updated_at\":\"2025-08-26T16:25:12.448454Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.110039ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/5baa9305-03fc-4c4e-97f7-100df2031669
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"snapshot\",\"resource_id\":\"5baa9305-03fc-4c4e-97f7-100df2031669\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 69.79043ms
[...]
