---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T12:48:27.678324Z\",\"updated_at\":\"2025-09-01T12:48:27.678324Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 313.62017ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e71e6a68-06bf-4c65-a493-1ba64e0387aa
    method: GET
  response:
    body: "{\"id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T12:48:27.678324Z\",\"updated_at\":\"2025-09-01T12:48:27.678324Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.305793ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-cocky-gauss\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"name\":\"tf-pn-cocky-gauss\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T12:48:27.898606Z\",\"updated_at\":\"2025-09-01T12:48:27.898606Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"2d9e0b4e-4a15-439b-b632-4dff7f6187f1\",\"created_at\":\"2025-09-01T12:48:27.898606Z\",\"updated_at\":\"2025-09-01T12:48:27.898606Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"vpc_id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\"},{\"id\":\"80d8f1c3-6567-4e57-99f1-f8de526d0a88\",\"created_at\":\"2025-09-01T12:48:27.898606Z\",\"updated_at\":\"2025-09-01T12:48:27.898606Z\",\"subnet\":\"fd5f:519c:6d46:3f63::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"vpc_id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\"}],\"vpc_id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 611.877915ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f0bc73a3-2917-46cf-8d92-5f09626fe086
    method: GET
  response:
    body: "{\"id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"name\":\"tf-pn-cocky-gauss\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T12:48:27.898606Z\",\"updated_at\":\"2025-09-01T12:48:27.898606Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"2d9e0b4e-4a15-439b-b632-4dff7f6187f1\",\"created_at\":\"2025-09-01T12:48:27.898606Z\",\"updated_at\":\"2025-09-01T12:48:27.898606Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"vpc_id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\"},{\"id\":\"80d8f1c3-6567-4e57-99f1-f8de526d0a88\",\"created_at\":\"2025-09-01T12:48:27.898606Z\",\"updated_at\":\"2025-09-01T12:48:27.898606Z\",\"subnet\":\"fd5f:519c:6d46:3f63::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"vpc_id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\"}],\"vpc_id\":\"e71e6a68-06bf-4c65-a493-1ba64e0387aa\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.721526ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test_redis_endpoints\",\"version\":\"7.0.5\",\"tags\":null,\"node_type\":\"RED1-XS\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"cluster_size\":3,\"acl_rules\":null,\"endpoints\":[{\"private_network\":{\"id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"service_ips\":null,\"ipam_config\":{}}}],\"tls_enabled\":false,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"938c53db-4b0c-441e-8606-3f1dda6152db\",\"name\":\"test_redis_endpoints\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"private_network\":{\"id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"service_ips\":[\"172.16.32.2/22\",\"172.16.32.3/22\",\"172.16.32.4/22\"],\"provisioning_mode\":\"ipam\",\"zone\":\"fr-par-1\"},\"ips\":[\"172.16.32.2\",\"172.16.32.3\",\"172.16.32.4\"],\"id\":\"47b67e5a-0e12-4009-83d0-d559425916bf\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-09-01T12:48:29.003407Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":3,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.389283903s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/938c53db-4b0c-441e-8606-3f1dda6152db
    method: GET
  response:
    body: "{\"id\":\"938c53db-4b0c-441e-8606-3f1dda6152db\",\"name\":\"test_redis_endpoints\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"private_network\":{\"id\":\"f0bc73a3-2917-46cf-8d92-5f09626fe086\",\"service_ips\":[\"172.16.32.2/22\",\"172.16.32.3/22\",\"172.16.32.4/22\"],\"provisioning_mode\":\"ipam\",\"zone\":\"fr-par-1\"},\"ips\":[\"172.16.32.2\",\"172.16.32.3\",\"172.16.32.4\"],\"id\":\"47b67e5a-0e12-4009-83d0-d559425916bf\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-09-01T12:48:29.003407Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":3,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 139.003764ms
[...]
- id: 46
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - f0bc73a3-2917-46cf-8d92-5f09626fe086
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_id:
      - 938c53db-4b0c-441e-8606-3f1dda6152db
      resource_type:
      - redis_cluster
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=f0bc73a3-2917-46cf-8d92-5f09626fe086&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=938c53db-4b0c-441e-8606-3f1dda6152db&resource_type=redis_cluster
    method: GET
  response:
    body: "{\"total_count\":3,\"ips\":[{\"id\":\"5839216b-8eaf-467a-a620-f6d9f740c426\",\"address\":\"172.16.32.2/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T12:48:29.526523Z\",\"updated_at\":\"2025-09-01T12:51:50.353694Z\",\"source\":{\"subnet_id\":\"2d9e0b4e-4a15-439b-b632-4dff7f6187f1\"},\"resource\":{\"type\":\"redis_cluster\",\"id\":\"938c53db-4b0c-441e-8606-3f1dda6152db\",\"mac_address\":\"02:00:00:1A:87:E2\",\"name\":\"test_redis_endpoints\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"ada18e18-835f-4eb9-8054-d200489b3f94\",\"address\":\"172.16.32.3/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T12:48:29.526523Z\",\"updated_at\":\"2025-09-01T12:51:50.572843Z\",\"source\":{\"subnet_id\":\"2d9e0b4e-4a15-439b-b632-4dff7f6187f1\"},\"resource\":{\"type\":\"redis_cluster\",\"id\":\"938c53db-4b0c-441e-8606-3f1dda6152db\",\"mac_address\":\"02:00:00:19:3D:0B\",\"name\":\"test_redis_endpoints\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"8732cd08-2287-4b5e-bd69-60cdbe840328\",\"address\":\"172.16.32.4/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T12:48:29.526523Z\",\"updated_at\":\"2025-09-01T12:51:50.810816Z\",\"source\":{\"subnet_id\":\"2d9e0b4e-4a15-439b-b632-4dff7f6187f1\"},\"resource\":{\"type\":\"redis_cluster\",\"id\":\"938c53db-4b0c-441e-8606-3f1dda6152db\",\"mac_address\":\"02:00:00:12:5E:B4\",\"name\":\"test_redis_endpoints\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.645257ms
[...]
- id: 55
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
      order_by:
      - created_at_desc
      page:
      - "1"
      resource_id:
      - 938c53db-4b0c-441e-8606-3f1dda6152db
      resource_type:
      - redis_cluster
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=938c53db-4b0c-441e-8606-3f1dda6152db&resource_type=redis_cluster
    method: GET
  response:
    body: "{\"total_count\":3,\"ips\":[{\"id\":\"5839216b-8eaf-467a-a620-f6d9f740c426\",\"address\":\"172.16.32.2/22\",\"project_id\":\"105bdce1-64c0-48ab-[...]
[...]
- id: 79
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/938c53db-4b0c-441e-8606-3f1dda6152db
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"938c53db-4b0c-441e-8606-3f1dda6152db\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 38.970874ms
- id: 80
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      page:
      - "1"
      private_network_id:
      - f0bc73a3-2917-46cf-8d92-5f09626fe086
      resource_id:
      - 938c53db-4b0c-441e-8606-3f1dda6152db
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&private_network_id=f0bc73a3-2917-46cf-8d92-5f09626fe086&resource_id=938c53db-4b0c-441e-8606-3f1d[...]
- id: 81
  request:
    host: api.scaleway.com
    body: "{\"resource\":{\"mac_address\":\"02:00:00:1A:87:E2\",\"name\":\"test_redis_endpoints\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/5839216b-8eaf-467a-a620-f6d9f740c426/detach
    method: POST
  response:
    body: "{\"help_message\":\"IP 5839216b-8eaf-467a-a620-f6d9f740c426 is not attached to resource custom/00000000-0000-0000-0000-000000000000 but to redis_cluster/938c53db-4b0c-441e-8606-3f1dda6152db\",\"message\":\"precondition is not respected\",\"precondition\":\"resource_still_in_use\",\"type\":\"precondition_failed\"}"
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: 100.686712ms
