---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:20:18.058749Z","id":"8fd0cb18-079f-4792-b574-c55e7b50d41e","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T17:20:18.058749Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.492805ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8fd0cb18-079f-4792-b574-c55e7b50d41e
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:20:18.058749Z","id":"8fd0cb18-079f-4792-b574-c55e7b50d41e","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T17:20:18.058749Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.851056ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"8fd0cb18-079f-4792-b574-c55e7b50d41e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:20:18.282818Z","dhcp_enabled":true,"id":"17fa4884-57a9-4129-8638-ddfec13f8630","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:20:18.282818Z","id":"1ba0e4ce-73fb-4d3c-9efa-ca8766abd809","private_network_id":"17fa4884-57a9-4129-8638-ddfec13f8630","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.0.0/22","updated_at":"2024-10-03T17:20:18.282818Z","vpc_id":"8fd0cb18-079f-4792-b574-c55e7b50d41e"},{"created_at":"2024-10-03T17:20:18.282818Z","id":"26aac1e3-a09e-444c-8806-bbf67231171c","private_network_id":"17fa4884-57a9-4129-8638-ddfec13f8630","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a4cf::/64","updated_at":"2024-10-03T17:20:18.282818Z","vpc_id":"8fd0cb18-079f-4792-b574-c55e7b50d41e"}],"tags":[],"updated_at":"2024-10-03T17:20:18.282818Z","vpc_id":"8fd0cb18-079f-4792-b574-c55e7b50d41e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 540.703733ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/17fa4884-57a9-4129-8638-ddfec13f8630
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:20:18.282818Z","dhcp_enabled":true,"id":"17fa4884-57a9-4129-8638-ddfec13f8630","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:20:18.282818Z","id":"1ba0e4ce-73fb-4d3c-9efa-ca8766abd809","private_network_id":"17fa4884-57a9-4129-8638-ddfec13f8630","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.0.0/22","updated_at":"2024-10-03T17:20:18.282818Z","vpc_id":"8fd0cb18-079f-4792-b574-c55e7b50d41e"},{"created_at":"2024-10-03T17:20:18.282818Z","id":"26aac1e3-a09e-444c-8806-bbf67231171c","private_network_id":"17fa4884-57a9-4129-8638-ddfec13f8630","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a4cf::/64","updated_at":"2024-10-03T17:20:18.282818Z","vpc_id":"8fd0cb18-079f-4792-b574-c55e7b50d41e"}],"tags":[],"updated_at":"2024-10-03T17:20:18.282818Z","vpc_id":"8fd0cb18-079f-4792-b574-c55e7b50d41e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.818293ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-ipam-ip-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"17fa4884-57a9-4129-8638-ddfec13f8630","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T17:20:19.137054Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"779a1e46-c087-4687-a905-81a9025d67f5","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"17fa4884-57a9-4129-8638-ddfec13f8630","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"93e25cd0-e199-424e-9971-b75ad40a4ed0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"bbef168f-fd05-450b-9a2f-6d78dd20d0d9","minor_version":"15.8","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.659467562s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/93e25cd0-e199-424e-9971-b75ad40a4ed0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T17:20:19.137054Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"779a1e46-c0[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/93e25cd0-e199-424e-9971-b75ad40a4ed0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T17:20:19.137054Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"779a1e46-c087-4687-a905-81a9025d67f5","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"17fa4884-57a9-4129-8638-ddfec13f8630","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"93e25cd0-e199-424e-9971-b75ad40a4ed0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"bbef168f-fd05-450b-9a2f-6d78dd20d0d9","minor_version":"15.8","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.554854ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/93e25cd0-e199-424e-9971-b75ad40a4ed0/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVYnNWUlliZk0vbHpxQlVjRXdMdWU3RGNwQW0wd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalF4Ck1EQXpNVGN5TVRNMFdoY05NelF4TURBeE1UY3lNVE0wV2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=17fa4884-57a9-4129-8638-ddfec13f8630&resource_id=93e25cd0-e199-424e-9971-b75ad40a4ed0&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2024-10-03T17:20:20.134515Z","id":"4aa83472-be0c-49a5-b0ac-3bd8e88ebce5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"93e25cd0-e199-424e-9971-b75ad40a4ed0","mac_address":"02:00:00:1C:61:CC","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"1ba0e4ce-73fb-4d3c-9efa-ca8766abd809"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T17:21:02.179426Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.190228ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2024-10-03T17:20:20.134515Z","id":"4aa83472-be0c-49a5-b0ac-3bd8e88ebce5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"93e25cd0-e199-424e-9971-b75ad40a4ed0","mac_address":"02:00:00:1C:61:CC","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"1ba0e4ce-73fb-4d3c-9efa-ca8766abd809"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T17:21:02.179426Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.271119ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/93e25cd0-e199-424e-9971-b75ad40a4ed0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"93e25cd0-e199-424e-9971-b75ad40a4ed0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 203.813285ms
[...]
