---
version: 2
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-09T16:01:22.061634Z","id":"12dff0e9-21e8-4b03-920b-46c0928fae08","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-09T16:01:22.061634Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/12dff0e9-21e8-4b03-920b-46c0928fae08
    method: GET
  response:
    body: '{"created_at":"2024-01-09T16:01:22.061634Z","id":"12dff0e9-21e8-4b03-920b-46c0928fae08","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-09T16:01:22.061634Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-hopeful-volhard","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"12dff0e9-21e8-4b03-920b-46c0928fae08"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-09T16:01:22.282037Z","dhcp_enabled":true,"id":"62ad50aa-4bce-49a0-a76a-c29ca6147ca2","name":"tf-pn-hopeful-volhard","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-09T16:01:22.282037Z","id":"e13f24e4-6bf3-437e-8fb9-13107c068c5d","subnet":"172.16.32.0/22","updated_at":"2024-01-09T16:01:22.282037Z"},{"created_at":"2024-01-09T16:01:22.282037Z","id":"20b4a5e1-acf3-4fe0-a50a-2e8686c02195","subnet":"fd46:78ab:30b8:dd71::/64","updated_at":"2024-01-09T16:01:22.282037Z"}],"tags":[],"updated_at":"2024-01-09T16:01:22.282037Z","vpc_id":"12dff0e9-21e8-4b03-920b-46c0928fae08"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/62ad50aa-4bce-49a0-a76a-c29ca6147ca2
    method: GET
  response:
    body: '{"created_at":"2024-01-09T16:01:22.282037Z","dhcp_enabled":true,"id":"62ad50aa-4bce-49a0-a76a-c29ca6147ca2","name":"tf-pn-hopeful-volhard","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-09T16:01:22.282037Z","id":"e13f24e4-6bf3-437e-8fb9-13107c068c5d","subnet":"172.16.32.0/22","updated_at":"2024-01-09T16:01:22.282037Z"},{"created_at":"2024-01-09T16:01:22.282037Z","id":"20b4a5e1-acf3-4fe0-a50a-2e8686c02195","subnet":"fd46:78ab:30b8:dd71::/64","updated_at":"2024-01-09T16:01:22.282037Z"}],"tags":[],"updated_at":"2024-01-09T16:01:22.282037Z","vpc_id":"12dff0e9-21e8-4b03-920b-46c0928fae08"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"62ad50aa-4bce-49a0-a76a-c29ca6147ca2"},"is_ipv6":false,"tags":["terraform-test","data_scaleway_ipam_ips"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.2/22","created_at":"2024-01-09T16:01:24.001221Z","id":"10d36785-8534-44c4-af39-f1c7db54d664","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"e13f24e4-6bf3-437e-8fb9-13107c068c5d"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2024-01-09T16:01:24.001221Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/10d36785-8534-44c4-af39-f1c7db54d664
    method: GET
  response:
    body: '{"address":"172.16.32.2/22","created_at":"2024-01-09T16:01:24.001221Z","id":"10d36785-8534-44c4-af39-f1c7db54d664","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"e13f24e4-6bf3-437e-8fb9-13107c068c5d"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2024-01-09T16:01:24.001221Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.32.3/22","created_at":"2024-01-09T16:01:24.018862Z","id":"709fc822-0a74-403e-9ea2-1242a9861141","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"e13f24e4-6bf3-437e-8fb9-13107c068c5d"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2024-01-09T16:01:24.018862Z","zone":null},{"address":"172.16.32.2/22","created_at":"2024-01-09T16:01:24.001221Z","id":"10d36785-8534-44c4-af3[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips&zonal=fr-par-2
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/709fc822-0a74-403e-9ea2-1242a9861141
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"709fc822-0a74-403e-9ea2-1242a9861141","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
