---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:56:18.744296Z","custom_routes_propagation_enabled":true,"id":"24dc6a4c-127e-4d73-a3ce-a5f7b7dded61","is_default":false,"name":"my vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T12:56:18.744296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.207647ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.007474ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/24dc6a4c-127e-4d73-a3ce-a5f7b7dded61
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:56:18.744296Z","custom_routes_propagation_enabled":true,"id":"24dc6a4c-127e-4d73-a3ce-a5f7b7dded61","is_default":false,"name":"my vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T12:56:18.744296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.604556ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-festive-napier","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"24dc6a4c-127e-4d73-a3ce-a5f7b7dded61","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:56:18.919724Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"5ba9af18-66b3-441f-8951-75e6faa2e0d3","name":"tf-pn-festive-napier","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T12:56:18.919724Z","id":"45b380ce-949d-4a87-b80f-2c11e2494827","private_network_id":"5ba9af18-66b3-441f-8951-75e6faa2e0d3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"172.16.32.0/22","updated_at":"2026-08-26T12:56:18.919724Z","vpc_id":"24dc6a4c-127e-4d73-a3ce-a5f7b7dded61"},{"created_at":"2026-08-26T12:56:18.919724Z","id":"6a1930a3-68e7-43bd-ad11-d03bc751185c","private_network_id":"5ba9af18-66b3-441f-8951-75e6faa2e0d3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:ea23::/64","updated_at":"2026-08-26T12:56:18.919724Z","vpc_id":"24dc6a4c-127e-4d73-a3ce-a5f7b7dded61"}],"tags":[],"updated_at":"2026-08-26T12:56:18.919724Z","vpc_id":"24dc6a4c-127e-4d73-a3ce-a5f7b7dded61"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 567.793445ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5ba9af18-66b3-441f-8951-75e6faa2e0d3
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:56:18.919724Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"5ba9af18-66b3-441f-8951-75e6faa2e0d3","name":"tf-pn-festive-napier","org[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"5ba9af18-66b3-441f-8951-75e6faa2e0d3"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2026-08-26T12:56:19.815895Z","id":"29ccb58f-09d8-4cdb-a4b5-ef9fd7874af4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"45b380ce-949d-4a87-b80f-2c11e2494827"},"tags":[],"updated_at":"2026-08-26T12:56:19.815895Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.595254ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/29ccb58f-09d8-4cdb-a4b5-ef9fd7874af4
        method: GET
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2026-08-26T12:56:19.815895Z","id":"29ccb58f-09d8-4cdb-a4b5-ef9fd7874af4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"45b380ce-949d-4a87-b80f-2c11e2494827"},"tags":[],"updated_at":"2026-08-26T12:56:19.815895Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.971624ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/29ccb58f-09d8-4cdb-a4b5-ef9fd7874af4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"29ccb58f-09d8-4cdb-a4b5-ef9fd7874af4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.138046ms
[...]
