---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:18:56.745775Z","custom_routes_propagation_enabled":false,"id":"37b9cc14-6aac-48b5-a094-79521b05a013","is_default":false,"name":"my vpc","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-22T15:18:56.745775Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.052098542s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/37b9cc14-6aac-48b5-a094-79521b05a013
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:18:56.745775Z","custom_routes_propagation_enabled":false,"id":"37b9cc14-6aac-48b5-a094-79521b05a013","is_default":false,"name":"my vpc","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-22T15:18:56.745775Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.067ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-pensive-dijkstra","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"37b9cc14-6aac-48b5-a094-79521b05a013"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:18:56.899903Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"df760a70-a2e9-4fc3-8223-26f2672df79b","name":"tf-pn-pensive-dijkstra","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T15:18:56.899903Z","id":"0bd94b7e-12d3-4f48-9b04-358b84b574b4","private_network_id":"df760a70-a2e9-4fc3-8223-26f2672df79b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.32.0/22","updated_at":"2025-05-22T15:18:56.899903Z","vpc_id":"37b9cc14-6aac-48b5-a094-79521b05a013"},{"created_at":"2025-05-22T15:18:56.899903Z","id":"ff3c3716-e2a7-4614-ba1c-c0b82cd116cc","private_network_id":"df760a70-a2e9-4fc3-8223-26f2672df79b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:4c7b::/64","updated_at":"2025-05-22T15:18:56.899903Z","vpc_id":"37b9cc14-6aac-48b5-a094-79521b05a013"}],"tags":[],"updated_at":"2025-05-22T15:18:56.899903Z","vpc_id":"37b9cc14-6aac-48b5-a094-79521b05a013"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 793.003667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/df760a70-a2e9-4fc3-8223-26f2672df79b
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:18:56.899903Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"df760a70-a2e9-4fc3-8223-26f2672df79b","name":"tf-pn-pensive-dijkstra","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T15:18:56.899903Z","id":"0bd94b7e-12d3-4f48-9b04-358b84b574b4","private_network_id":"df760a70-a2e9-4fc3-8223-26f2672df79b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.32.0/22","updated_at":"2025-05-22T15:18:56.899903Z","vpc_id":"37b9cc14-6aac-48b5-a094-79521b05a013"},{"created_at":"2025-05-22T15:18:56.899903Z","id":"ff3c3716-e2a7-4614-ba1c-c0b82cd116cc","private_network_id":"df760a70-a2e9-4fc3-8223-26f2672df79b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:4c7b::/64","updated_at":"2025-05-22T15:18:56.899903Z","vpc_id":"37b9cc14-6aac-48b5-a094-79521b05a013"}],"tags":[],"updated_at":"2025-05-22T15:18:56.899903Z","vpc_id":"37b9cc14-6aac-48b5-a094-79521b05a013"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.210708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","source":{"private_network_id":"df760a70-a2e9-4fc3-8223-26f2672df79b"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-05-22T15:18:57.925463Z","id":"3882151b-1ea3-4489-923d-576a2128edea","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"0bd94b7e-12d3-4f48-9b04-358b84b574b4"},"tags":[],"updated_at":"2025-05-22T15:18:57.925463Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.810916ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/3882151b-1ea3-4489-923d-576a2128edea
        method: GET
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-05-22T15:18:57.925463Z","id":"3882151b-1ea3-4489-923d-576a2128edea","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"0bd94b7e-12d3-4f48-9b04-358b84b574b4"},"tags":[],"updated_at":"2025-05-22T15:18:57.925463Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.623125ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/3882151b-1ea3-4489-923d-576a2128edea
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"3882151b-1ea3-4489-923d-576a2128edea","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.271ms
[...]
