---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:29:42.685631Z","custom_routes_propagation_enabled":false,"id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:29:42.685631Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.322542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/18c0cc84-1f64-4d65-bd2f-abe72ba329e1
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:29:42.685631Z","custom_routes_propagation_enabled":false,"id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:29:42.685631Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.6955ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hardcore-booth","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:29:42.950990Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0169631f-110b-41d0-9c70-a5b82e3501cd","name":"tf-pn-hardcore-booth","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:29:42.950990Z","id":"e692fec5-d939-4ff5-99d8-3701bc8d3840","private_network_id":"0169631f-110b-41d0-9c70-a5b82e3501cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:29:42.950990Z","vpc_id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1"},{"created_at":"2025-06-10T15:29:42.950990Z","id":"d5996c1e-1c9d-4af7-8618-58d7724cde3b","private_network_id":"0169631f-110b-41d0-9c70-a5b82e3501cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:38cc::/64","updated_at":"2025-06-10T15:29:42.950990Z","vpc_id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1"}],"tags":[],"updated_at":"2025-06-10T15:29:42.950990Z","vpc_id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 728.682958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0169631f-110b-41d0-9c70-a5b82e3501cd
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:29:42.950990Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0169631f-110b-41d0-9c70-a5b82e3501cd","name":"tf-pn-hardcore-booth","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:29:42.950990Z","id":"e692fec5-d939-4ff5-99d8-3701bc8d3840","private_network_id":"0169631f-110b-41d0-9c70-a5b82e3501cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:29:42.950990Z","vpc_id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1"},{"created_at":"2025-06-10T15:29:42.950990Z","id":"d5996c1e-1c9d-4af7-8618-58d7724cde3b","private_network_id":"0169631f-110b-41d0-9c70-a5b82e3501cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:38cc::/64","updated_at":"2025-06-10T15:29:42.950990Z","vpc_id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1"}],"tags":[],"updated_at":"2025-06-10T15:29:42.950990Z","vpc_id":"18c0cc84-1f64-4d65-bd2f-abe72ba329e1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.980625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"0169631f-110b-41d0-9c70-a5b82e3501cd","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-06-10T15:29:44.151532Z","endpoints":[{"id":"d9db2aa8-b2b4-4948-b89d-ef411b4c89da","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"0169631f-110b-41d0-9c70-a5b82e3501cd","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"dc7c61b5-b5a3-4187-b74b-9555cd86d8aa","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.74076825s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/dc7c61b5-b5a3-4187-b74b-9555cd86d8aa
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-06-10T15:29:44.151532Z","endpoints":[{"id":"d9db2aa8-b2b4-4948-b89d-ef411b4c89da","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"0169631f-110b-41d0-9c70-a5b82e3501cd","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"dc7c61b5-b5a3-4187-b74b-9555cd86d8aa","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.226708ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=0169631f-110b-41d0-9c70-a5b82e3501cd&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=dc7c61b5-b5a3-4187-b74b-9555cd86d8aa&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.4/22","created_at":"2025-06-10T15:29:44.787055Z","id":"36dfd0b1-6595-407e-8645-824dcc5bc406","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"dc7c61b5-b5a3-4187-b74b-9555cd86d8aa","mac_address":"02:00:00:10:0A:6A","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"e692fec5-d939-4ff5-99d8-3701bc8d3840"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-10T15:32:33.500269Z","zone":null},{"address":"172.16.32.2/22","created_at":"2025-06-10T15:29:44.787055Z","id":"5ebd39e1-2ea8-488b-95cf-dfbe86489670","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"dc7c61b5-b5a3-4187-b74b-9555cd86d8aa","mac_address":"02:00:00:13:63:D1","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"e692fec5-d939-4ff5-99d8-3701bc8d3840"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-10T15:32:33.040133Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-06-10T15:29:44.787055Z","id":"bd5b2e95-8502-4f13-b2fc-d907a03a0065","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"dc7c61b5-b5a3-4187-b74b-9555cd86d8aa","mac_address":"02:00:00:1C:BE:2B","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"e692fec5-d939-4ff5-99d8-3701bc8d3840"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-10T15:32:33.272904Z","zone":null}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.579875ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=dc7c61b5-b5a3-4187-b74b-9555cd86d8aa&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.4/22","created_at":"2025-06-10T15:29:44.787055Z","id":"36dfd0b1-6595-407e-8645-824dcc5bc406","is_ipv6":false,"project_id"[...]
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/dc7c61b5-b5a3-4187-b74b-9555cd86d8aa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"dc7c61b5-b5a3-4187-b74b-9555cd86d8aa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.942333ms
[...]
