---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:30:29.735993Z","custom_routes_propagation_enabled":false,"id":"6642880c-12e7-4819-aa7d-18adb645a9db","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:30:29.735993Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.527042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6642880c-12e7-4819-aa7d-18adb645a9db
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:30:29.735993Z","custom_routes_propagation_enabled":false,"id":"6642880c-12e7-4819-aa7d-18adb645a9db","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:30:29.735993Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.175125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"6642880c-12e7-4819-aa7d-18adb645a9db"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:30:29.836436Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"98f58534-e9b7-4ace-952e-53393e668c2b","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:30:29.836436Z","id":"988339b3-ade6-4727-ba1c-b5abc2ed8511","private_network_id":"98f58534-e9b7-4ace-952e-53393e668c2b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.0.0/22","updated_at":"2025-06-10T15:30:29.836436Z","vpc_id":"6642880c-12e7-4819-aa7d-18adb645a9db"},{"created_at":"2025-06-10T15:30:29.836436Z","id":"36fd852a-ceae-4e2a-ab4f-65d25aff764a","private_network_id":"98f58534-e9b7-4ace-952e-53393e668c2b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:72e6::/64","updated_at":"2025-06-10T15:30:29.836436Z","vpc_id":"6642880c-12e7-4819-aa7d-18adb645a9db"}],"tags":[],"updated_at":"2025-06-10T15:30:29.836436Z","vpc_id":"6642880c-12e7-4819-aa7d-18adb645a9db"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 642.693083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/98f58534-e9b7-4ace-952e-53393e668c2b
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:30:29.836436Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"98f58534-e9b7-4ace-952e-53393e668c2b","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4f[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-ipam-ip-rdb","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"98f58534-e9b7-4ace-952e-53393e668c2b","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-10T15:30:30.832460Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"45e2802b-3c9c-4de7-a5cd-86d4c2996418","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"98f58534-e9b7-4ace-952e-53393e668c2b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.296098125s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-10T15:30:30.832460Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"45e2802b-3c9c-4de7-a5cd-86d4c2996418","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"98f58534-e9b7-4ace-952e-53393e668c2b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.83575ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-10T15:30:30.832460Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"45e2802b-3c9c-4de7-a5cd-86d4c2996418","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"98f58534-e9b7-4ace-952e-53393e668c2b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.690625ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVVnZTa1FPZ0xLMWppVmI4Z1dOMEVwcGhSSFMwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck5qRXdNVFV6TVRVNFdoY05NelV3TmpBNE1UVXpNVFU0V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=98f58534-e9b7-4ace-952e-53393e668c2b&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-06-10T15:30:31.369270Z","id":"9ef53ecf-6e85-413b-9610-2039f03c40f2","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97","mac_address":"02:00:00:1D:D9:BA","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"988339b3-ade6-4727-ba1c-b5abc2ed8511"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-10T15:31:00.570868Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.817833ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-06-10T15:30:31.369270Z","id":"9ef53ecf-6e85-413b-9610-2039f03c40f2","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97","mac_address":"02:00:00:1D:D9:BA","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"988339b3-ade6-4727-ba1c-b5abc2ed8511"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-10T15:31:00.570868Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.539208ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"6bdd3f3a-cf8e-4bd1-bcde-1e3fe3537e97","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 79.060541ms
[...]
