---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.812432Z","id":"97215aed-3f79-4d79-9508-cc9afbf2a76a","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.812432Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.88125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/97215aed-3f79-4d79-9508-cc9afbf2a76a
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.812432Z","id":"97215aed-3f79-4d79-9508-cc9afbf2a76a","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.812432Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.6525ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-nifty-chatterjee","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"97215aed-3f79-4d79-9508-cc9afbf2a76a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:41.006414Z","dhcp_enabled":true,"id":"bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72","name":"tf-pn-nifty-chatterjee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:41.006414Z","id":"3d8325b2-3760-4af0-b610-7a8e5c21975b","private_network_id":"bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:41.006414Z","vpc_id":"97215aed-3f79-4d79-9508-cc9afbf2a76a"},{"created_at":"2025-01-24T14:07:41.006414Z","id":"0e788140-ed72-4aa4-89a9-36b1d5f6461c","private_network_id":"bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:ca11::/64","updated_at":"2025-01-24T14:07:41.006414Z","vpc_id":"97215aed-3f79-4d79-9508-cc9afbf2a76a"}],"tags":[],"updated_at":"2025-01-24T14:07:41.006414Z","vpc_id":"97215aed-3f79-4d79-9508-cc9afbf2a76a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.0990405s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:41.006414Z","dhcp_enabled":true,"id":"bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72","name":"tf-pn-nifty-chatterjee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:41.006414Z","id":"3d8325b2-3760-4af0-b610-7a8e5c21975b","private_network_id":"bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:41.006414Z","vpc_id":"97215aed-3f79-4d79-9508-cc9afbf2a76a"},{"created_at":"2025-01-24T14:07:41.006414Z","id":"0e788140-ed72-4aa4-89a9-36b1d5f6461c","private_network_id":"bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:ca11::/64","updated_at":"2025-01-24T14:07:41.006414Z","vpc_id":"97215aed-3f79-4d79-9508-cc9afbf2a76a"}],"tags":[],"updated_at":"2025-01-24T14:07:41.006414Z","vpc_id":"97215aed-3f79-4d79-9508-cc9afbf2a76a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.305209ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"bc9b53dd-979f-42f2-bcb1-c1cd2f91cc72"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-01-24T14:07:43.168320Z","id":"ecaa5f10-39d6-4f7a-a0e1-f6ca29a5faf0","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3d8325b2-3760-4af0-b610-7a8e5c21975b"},"tags":[],"updated_at":"2025-01-24T14:07:43.168320Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.183167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ecaa5f10-39d6-4f7a-a0e1-f6ca29a5faf0
        method: GET
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-01-24T14:07:43.168320Z","id":"ecaa5f10-39d6-4f7a-a0e1-f6ca29a5faf0","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3d8325b2-3760-4af0-b610-7a8e5c21975b"},"tags":[],"updated_at":"2025-01-24T14:07:43.168320Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.442542ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ecaa5f10-39d6-4f7a-a0e1-f6ca29a5faf0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"ecaa5f10-39d6-4f7a-a0e1-f6ca29a5faf0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.906916ms
[...]
