---
version: 2
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-02-08T17:04:54.807339Z","id":"bca9ce06-0ba3-4f2c-8664-dd02afe0cd70","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-02-08T17:04:54.807339Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bca9ce06-0ba3-4f2c-8664-dd02afe0cd70
    method: GET
  response:
    body: '{"created_at":"2024-02-08T17:04:54.807339Z","id":"bca9ce06-0ba3-4f2c-8664-dd02afe0cd70","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-02-08T17:04:54.807339Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-great-chaplygin","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"bca9ce06-0ba3-4f2c-8664-dd02afe0cd70"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-08T17:04:55.051257Z","dhcp_enabled":true,"id":"d542e965-ea92-4d20-8cd3-108930fd238d","name":"tf-pn-great-chaplygin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-02-08T17:04:55.051257Z","id":"3266482b-dc37-4d1b-a35c-e40464d3eada","subnet":"172.16.32.0/22","updated_at":"2024-02-08T17:04:55.051257Z"},{"created_at":"2024-02-08T17:04:55.051257Z","id":"29529605-785e-4e46-a627-a52ae37b04fa","subnet":"fd46:78ab:30b8:a211::/64","updated_at":"2024-02-08T17:04:55.051257Z"}],"tags":[],"updated_at":"2024-02-08T17:04:55.051257Z","vpc_id":"bca9ce06-0ba3-4f2c-8664-dd02afe0cd70"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d542e965-ea92-4d20-8cd3-108930fd238d
    method: GET
  response:
    body: '{"created_at":"2024-02-08T17:04:55.051257Z","dhcp_enabled":true,"id":"d542e965-ea92-4d20-8cd3-108930fd238d","name":"tf-pn-great-chaplygin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-02-08T17:04:55.051257Z","id":"3266482b-dc37-4d1b-a35c-e40464d3eada","subnet":"172.16.32.0/22","updated_at":"2024-02-08T17:04:55.051257Z"},{"created_at":"2024-02-08T17:04:55.051257Z","id":"29529605-785e-4e46-a627-a52ae37b04fa","subnet":"fd46:78ab:30b8:a211::/64","updated_at":"2024-02-08T17:04:55.051257Z"}],"tags":[],"updated_at":"2024-02-08T17:04:55.051257Z","vpc_id":"bca9ce06-0ba3-4f2c-8664-dd02afe0cd70"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"d542e965-ea92-4d20-8cd3-108930fd238d"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-02-08T17:04:57.081351Z","id":"7461adce-7dc5-4895-8108-3d3b8659c02d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3266482b-dc37-4d1b-a35c-e40464d3eada"},"tags":[],"updated_at":"2024-02-08T17:04:57.081351Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7461adce-7dc5-4895-8108-3d3b8659c02d
    method: GET
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-02-08T17:04:57.081351Z","id":"7461adce-7dc5-4895-8108-3d3b8659c02d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3266482b-dc37-4d1b-a35c-e40464d3eada"},"tags":[],"updated_at":"2024-02-08T17:04:57.081351Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7461adce-7dc5-4895-8108-3d3b8659c02d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"7461adce-7dc5-4895-8108-3d3b8659c02d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
