---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:48:37.170690Z","custom_routes_propagation_enabled":false,"id":"42594341-255b-4ca3-8ca5-3875f593a242","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:48:37.170690Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.853916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/42594341-255b-4ca3-8ca5-3875f593a242/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:48:37.170690Z","custom_routes_propagation_enabled":true,"id":"42594341-255b-4ca3-8ca5-3875f593a242","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:48:37.231785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.865917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/42594341-255b-4ca3-8ca5-3875f593a242
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:48:37.170690Z","custom_routes_propagation_enabled":true,"id":"42594341-255b-4ca3-8ca5-3875f593a242","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:48:37.231785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.354833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-thirsty-darwin","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"42594341-255b-4ca3-8ca5-3875f593a242","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:48:37.324689Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1d83b574-1e39-4458-a6af-a413dc779f80","name":"tf-pn-thirsty-darwin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:48:37.324689Z","id":"59b3145e-0e9b-447f-bb9f-be03ecf73c2f","private_network_id":"1d83b574-1e39-4458-a6af-a413dc779f80","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:48:37.324689Z","vpc_id":"42594341-255b-4ca3-8ca5-3875f593a242"},{"created_at":"2025-06-30T15:48:37.324689Z","id":"3b8292e5-1ba2-48ba-ab51-85be2def50b0","private_network_id":"1d83b574-1e39-4458-a6af-a413dc779f80","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c535::/64","updated_at":"2025-06-30T15:48:37.324689Z","vpc_id":"42594341-255b-4ca3-8ca5-3875f593a242"}],"tags":[],"updated_at":"2025-06-30T15:48:37.324689Z","vpc_id":"42594341-255b-4ca3-8ca5-3875f593a242"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.501ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1d83b574-1e39-4458-a6af-a413dc779f80
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:48:37.324689Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1d83b574-1e39-4458-a6af-a413dc779f80","name":"tf-pn-thirsty-darwin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:48:37.324689Z","id":"59b3145e-0e9b-447f-bb9f-be03ecf73c2f","private_network_id":"1d83b574-1e39-4458-a6af-a413dc779f80","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:48:37.324689Z","vpc_id":"42594341-255b-4ca3-8ca5-3875f593a242"},{"created_at":"2025-06-30T15:48:37.324689Z","id":"3b8292e5-1ba2-48ba-ab51-85be2def50b0","private_network_id":"1d83b574-1e39-4458-a6af-a413dc779f80","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c535::/64","updated_at":"2025-06-30T15:48:37.324689Z","vpc_id":"42594341-255b-4ca3-8ca5-3875f593a242"}],"tags":[],"updated_at":"2025-06-30T15:48:37.324689Z","vpc_id":"42594341-255b-4ca3-8ca5-3875f593a242"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.037791ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"1d83b574-1e39-4458-a6af-a413dc779f80","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-06-30T15:48:38.283981Z","endpoints":[{"id":"9aaaabe3-5be8-4bac-a29e-e7602482aab5","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"1d83b574-1e39-4458-a6af-a413dc779f80","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"fb9f30bb-33f8-4ba9-bc66-d5e53d469658","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.382878583s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/fb9f30bb-33f8-4ba9-bc66-d5e53d469658
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-06-30T15:48:38.283981Z","endpoints":[{"id":"9aaaabe3-5be8-4bac-a29e-e7602482aab5","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"1d83b574-1e39-4458-a6af-a413dc779f80","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"fb9f30bb-33f8-4ba9-bc66-d5e53d469658","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.462125ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=1d83b574-1e39-4458-a6af-a413dc779f80&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=fb9f30bb-33f8-4ba9-bc66-d5e53d469658&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2025-06-30T15:48:40.022356Z","id":"94dce7d5-2290-4b64-8d5c-69edd012205b","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"fb9f30bb-33f8-4ba9-bc66-d5e53d469658","mac_address":"02:00:00:1D:8B:67","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"59b3145e-0e9b-447f-bb9f-be03ecf73c2f"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:51:37.871160Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-06-30T15:48:40.022356Z","id":"6d1e4c8a-509d-4753-bcc5-170669146eec","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"fb9f30bb-33f8-4ba9-bc66-d5e53d469658","mac_address":"02:00:00:10:38:C8","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"59b3145e-0e9b-447f-bb9f-be03ecf73c2f"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:51:38.142516Z","zone":null},{"address":"172.16.32.4/22","created_at":"2025-06-30T15:48:40.022356Z","id":"1fe745e1-8c8a-4d7b-b5b6-2bc4b610ae72","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"fb9f30bb-33f8-4ba9-bc66-d5e53d469658","mac_address":"02:00:00:15:E2:FF","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"59b3145e-0e9b-447f-bb9f-be03ecf73c2f"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:51:38.357142Z","zone":null}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.111166ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=fb9f30bb-33f8-4ba9-bc66-d5e53d469658&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.3/22","created_at":"2025-06-30T15:48:40.022356Z","id":"6d1e4c8a-509d-4753-bcc5-170669146eec","is_ipv6":false,"project_id"[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/fb9f30bb-33f8-4ba9-bc66-d5e53d469658
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"fb9f30bb-33f8-4ba9-bc66-d5e53d469658","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.518166ms
[...]
