---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers?page=1
        method: GET
      response:
        body: '{"servers":{"BASIC2-A16C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2067,"mig_profile":null,"monthly_price":150.891,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A16C-64G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2756,"mig_profile":null,"monthly_price":201.188,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-4G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.023,"mig_profile":null,"monthly_price":16.79,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0345,"mig_profile":null,"monthly_price":25.185,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0689,"mig_profile":null,"monthly_price":50.297,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0517,"mig_profile":null,"monthly_price":37.741,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1034,"mig_profile":null,"monthly_price":75.482,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1378,"mig_profile":null,"monthly_price":100.594,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.355247,"mig_profile":null,"monthly_price":259.33031,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.473285,"mig_profile":null,"monthly_price":345.49805,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.039449,"mig_profile":null,"monthly_price":28.79777,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.059225,"mig_profile":null,"monthly_price":43.23425,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.11845,"mig_profile":null,"monthly_price":86.4685,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.079001,"mig_profile":null,"monthly_price":57.67073,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.177675,"mig_profile":null,"monthly_price":129.70275,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.236797,"mig_profile":null,"monthly_price":172.86181,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.4682,"mig_profile":null,"monthly_price":341.786,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":4000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":4000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":320000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0585,"mig_profile":null,"monthly_price":42.705,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":40000000000,"scratch_storage_max_volumes_count":1,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X32C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1000341504,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.9363,"mig_profile":null,"monthly_price":683.499,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":8000000000,"internet_bandwidth":8000000000}],"ipv6_support":true,"sum_internal_bandwidth":8000000000,"sum_internet_bandwidth":8000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":640000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X48C-96G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.397,"mig_profile":null,"monthly_price":1019.81,"ncpus":48,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":103079215104,"scratch_storage_max_size":960000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X4C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.117,"mig_profile":null,"monthly_price":85.41,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":1000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":1000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":80000000000,"scratch_storage_max_volumes_count":2,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X64C-128G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.8726,"mig_profile":null,"monthly_price":1366.998,"ncpus":64,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":137438953472,"scratch_storage_max_size":1280000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X8C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2341,"mig_profile":null,"monthly_price":170.893,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":2000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":2000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":160000000000,"scratch_storage_max_volumes_count":2,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X96C-192G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":2.794,"mig_profile":null,"monthly_price":2039.62,"ncpus":96,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":206158430208,"scratch_storage_max_size":1280000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"DEV1-L":{"alt_names":[],"arch":"x86_64","block_bandwidth":209715200,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.04284,"mig_profile":null,"monthly_price":31.2732,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":80000000000,"min_size":0}},"DEV1-M":{"alt_names":[],"arch":"x86_64","block_bandwidth":157286400,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.020196,"mig_profile":null,"monthly_price":14.74308,"ncpus":3,"network":{"interfaces":[{"internal_bandwidth":300000000,"internet_bandwidth":300000000}],"ipv6_support":true,"sum_internal_bandwidth":300000000,"sum_internet_bandwidth":300000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":40000000000,"min_size":0}},"DEV1-S":{"alt_names":[],"arch":"x86_64","block_bandwidth":104857600,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.008976,"mig_profile":null,"monthly_price":6.55248,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":2147483648,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":20000000000,"min_size":0}},"DEV1-XL":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.065076,"mig_profile":null,"monthly_price":47.50548,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":500000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":500000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":12884901888,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":120000000000,"min_size":0}},"GP1-L":{"alt_names":[],"arch":"x86_64","block_bandwidth":1073741824,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.77418,"mig_profile":null,"monthly_price":565.1514,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":5000000000,"internet_bandwidth":5000000000}],"ipv6_support":true,"sum_internal_bandwidth":5000000000,"sum_internet_bandwidth":5000000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":137438953472,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":600000000000,"min_size":0}},"GP1-M":{"alt_names":[],"arch":"x86_64","block_bandwidth":838860800,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.38352,"mig_profile":null,"monthly_price":279.9696,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":600000000000,"min_size":0}},"GP1-S":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.19074,"mig_profile":null,"monthly_price":139.2402,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":300000000000,"min_size":0}},"GP1-XL":{"alt_names":[],"arch":"x86_64","block_bandwidth":2147483648,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.67382,"mig_profile":null,"monthly_price":1221.8886,"ncpus":48,"network":{"interfaces":[{"internal_bandwidth":10000000000,"internet_bandwidth":10000000000}],"ipv6_support":true,"sum_internal_bandwidth":10000000000,"sum_internet_bandwidth":10000000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":274877906944,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":600000000000,"min_size":0}},"GP1-XS":{"alt_names":[],"arch":"x86_64","block_bandwidth":314572800,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.09282,"mig_profile":null,"monthly_price":67.7586,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":500000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":500000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":150000000000,"min_size":0}},"L4-1-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":1,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":0.7875,"mig_profile":null,"monthly_price":574.875,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":2500000000,"internet_bandwidth":2500000000}],"ipv6_support":true,"sum_internal_bandwidth":2500000000,"sum_internet_bandwidth":2500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":51539607552,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"L4-2-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1572864000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":2,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":1.575,"mig_profile":null,"monthly_price":1149.75,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":5000000000,"internet_bandwidth":5000000000}],"ipv6_support":true,"sum_internal_bandwidth":5000000000,"sum_internet_bandwidth":5000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":103079215104,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"L4-4-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":2621440000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":4,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":3.15,"mig_profile":null,"monthly_price":2299.5,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":10000000000,"internet_bandwidth":10000000000}],"ipv6_support":true,"sum_internal_bandwidth":10000000000,"sum_internet_bandwidth":10000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":206158430208,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"L4-8-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":5242880000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":16,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":8,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":6.3,"mig_profile":null,"monthly_price":4599,"ncpus":64,"network":{"interfaces":[{"internal_bandwidth":20000000000,"internet_bandwidth":20000000000}],"ipv6_support":true,"sum_internal_bandwidth":20000000000,"sum_internet_bandwidth":20000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":412316860416,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"MEMORY3-X16C-128G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.9064,"mig_profile":null,"monthly_price":661.672,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":4000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":4000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":137438953472,"scratch_storage_max_size":320000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"MEMORY3-X2C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1133,"mig_profile":null,"monthly_price":82.709,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":
[...]
