---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 160.841875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:09.598920Z","custom_routes_propagation_enabled":false,"id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:09.598920Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.491041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b54dcdaf-52de-47a8-be2e-3b4a94f228c8/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:09.598920Z","custom_routes_propagation_enabled":true,"id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:09.649977Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.987292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b54dcdaf-52de-47a8-be2e-3b4a94f228c8
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:09.598920Z","custom_routes_propagation_enabled":true,"id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:09.649977Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.1415ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-gracious-shamir","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:09.743791Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b65ceb93-6477-45d4-874a-c264d5c7b903","name":"tf-pn-gracious-shamir","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:09.743791Z","id":"b30736bf-18a1-4f78-bef9-58d2507e2c8b","private_network_id":"b65ceb93-6477-45d4-874a-c264d5c7b903","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:09.743791Z","vpc_id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8"},{"created_at":"2025-06-30T15:02:09.743791Z","id":"edbad254-78ce-459f-8d31-4005564b2d7c","private_network_id":"b65ceb93-6477-45d4-874a-c264d5c7b903","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:5296::/64","updated_at":"2025-06-30T15:02:09.743791Z","vpc_id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8"}],"tags":[],"updated_at":"2025-06-30T15:02:09.743791Z","vpc_id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 598.585334ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b65ceb93-6477-45d4-874a-c264d5c7b903
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:09.743791Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b65ceb93-6477-45d4-874a-c264d5c7b903","name":"tf-pn-gracious-shamir","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:09.743791Z","id":"b30736bf-18a1-4f78-bef9-58d2507e2c8b","private_network_id":"b65ceb93-6477-45d4-874a-c264d5c7b903","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:09.743791Z","vpc_id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8"},{"created_at":"2025-06-30T15:02:09.743791Z","id":"edbad254-78ce-459f-8d31-4005564b2d7c","private_network_id":"b65ceb93-6477-45d4-874a-c264d5c7b903","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:5296::/64","updated_at":"2025-06-30T15:02:09.743791Z","vpc_id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8"}],"tags":[],"updated_at":"2025-06-30T15:02:09.743791Z","vpc_id":"b54dcdaf-52de-47a8-be2e-3b4a94f228c8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.087292ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"b65ceb93-6477-45d4-874a-c264d5c7b903","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-06-30T15:02:10.747390Z","endpoints":[{"id":"df17979b-df8d-4f3d-9fce-ce75a2773b09","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"b65ceb93-6477-45d4-874a-c264d5c7b903","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"bf0f9547-a58b-4cfc-a560-90b94a95923b","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.090061042s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/bf0f9547-a58b-4cfc-a560-90b94a95923b
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-06-30T15:02:10.747390Z","endpoints":[{"id":"df17979b-df8d-4f3d-9fce-ce75a2773b09","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"b65ceb93-6477-45d4-874a-c264d5c7b903","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"bf0f9547-a58b-4cfc-a560-90b94a95923b","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.834917ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=b65ceb93-6477-45d4-874a-c264d5c7b903&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=bf0f9547-a58b-4cfc-a560-90b94a95923b&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:13.231072Z","id":"3cda2bc0-2a0f-440f-bede-4b307bf822fa","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"bf0f9547-a58b-4cfc-a560-90b94a95923b","mac_address":"02:00:00:1C:B6:A5","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"b30736bf-18a1-4f78-bef9-58d2507e2c8b"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:05:15.659519Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-06-30T15:02:13.231072Z","id":"112daed3-be2f-44ed-a1b9-d3fa6421a1ba","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"bf0f9547-a58b-4cfc-a560-90b94a95923b","mac_address":"02:00:00:14:EB:3B","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"b30736bf-18a1-4f78-bef9-58d2507e2c8b"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:05:15.880285Z","zone":null},{"address":"172.16.32.4/22","created_at":"2025-06-30T15:02:13.231072Z","id":"f86bb437-4876-4b5a-98e4-da977ee9a476","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"bf0f9547-a58b-4cfc-a560-90b94a95923b","mac_address":"02:00:00:18:E2:29","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"b30736bf-18a1-4f78-bef9-58d2507e2c8b"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:05:16.098462Z","zone":null}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.0755ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=bf0f9547-a58b-4cfc-a560-90b94a95923b&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:13.231072Z","id":"3cda2bc0-2a0f-440f-bede-4b307bf822fa","is_ipv6":false,"project_id"[...]
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/bf0f9547-a58b-4cfc-a560-90b94a95923b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"bf0f9547-a58b-4cfc-a560-90b94a95923b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.109125ms
[...]
