---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.459748Z","custom_routes_propagation_enabled":false,"id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.459748Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.353958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/758a0f38-3fdb-4ab4-97c0-f9dcc156227a/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.459748Z","custom_routes_propagation_enabled":true,"id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.525753Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.373083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/758a0f38-3fdb-4ab4-97c0-f9dcc156227a
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.459748Z","custom_routes_propagation_enabled":true,"id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.525753Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.193541ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.612652Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.612652Z","id":"8a9ae719-9b51-4db1-9c74-5a60cbe74e46","private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.0.0/22","updated_at":"2025-06-30T15:02:07.612652Z","vpc_id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a"},{"created_at":"2025-06-30T15:02:07.612652Z","id":"1e683233-bf03-4f4d-a8f0-2b8996ae8ba4","private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3feb::/64","updated_at":"2025-06-30T15:02:07.612652Z","vpc_id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a"}],"tags":[],"updated_at":"2025-06-30T15:02:07.612652Z","vpc_id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 617.925708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2f4331d2-4339-455f-9df6-2559ca19ae9b
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.612652Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.612652Z","id":"8a9ae719-9b51-4db1-9c74-5a60cbe74e46","private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.0.0/22","updated_at":"2025-06-30T15:02:07.612652Z","vpc_id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a"},{"created_at":"2025-06-30T15:02:07.612652Z","id":"1e683233-bf03-4f4d-a8f0-2b8996ae8ba4","private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3feb::/64","updated_at":"2025-06-30T15:02:07.612652Z","vpc_id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a"}],"tags":[],"updated_at":"2025-06-30T15:02:07.612652Z","vpc_id":"758a0f38-3fdb-4ab4-97c0-f9dcc156227a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.52225ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-ipam-ip-rdb","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:02:08.547618Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"d14fe907-d856-4c78-aaaa-ba6350b393a7","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6d647a07-fcc7-4bfd-9605-49657339623b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.259255459s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d647a07-fcc7-4bfd-9605-49657339623b
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:02:08.547618Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"d14fe907-d856-4c78-aaaa-ba6350b393a7","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6d647a07-fcc7-4bfd-9605-49657339623b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.175708ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d647a07-fcc7-4bfd-9605-49657339623b
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:02:08.547618Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"d14fe907-d856-4c78-aaaa-ba6350b393a7","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"2f4331d2-4339-455f-9df6-2559ca19ae9b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6d647a07-fcc7-4bfd-9605-49657339623b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.230459ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d647a07-fcc7-4bfd-9605-49657339623b/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVUUFjdy9tNW1aSk5QQ3J1WTVpRVFuNlR3ekNVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck5qTXdNVFV3TXpFd1doY05NelV3TmpJNE1UVXdNekV3V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=2f4331d2-4339-455f-9df6-2559ca19ae9b&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=6d647a07-fcc7-4bfd-9605-49657339623b&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-06-30T15:02:10.961231Z","id":"b6827c40-43ab-4c75-b4cb-b07cf7e9fcbb","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6d647a07-fcc7-4bfd-9605-49657339623b","mac_address":"02:00:00:1F:99:A5","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"8a9ae719-9b51-4db1-9c74-5a60cbe74e46"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:02:42.334134Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.428875ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-06-30T15:02:10.961231Z","id":"b6827c40-43ab-4c75-b4cb-b07cf7e9fcbb","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6d647a07-fcc7-4bfd-9605-49657339623b","mac_address":"02:00:00:1F:99:A5","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"8a9ae719-9b51-4db1-9c74-5a60cbe74e46"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:02:42.334134Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.399291ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d647a07-fcc7-4bfd-9605-49657339623b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"6d647a07-fcc7-4bfd-9605-49657339623b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.596833ms
[...]
