---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:45:25.939286Z","id":"9c8825e0-ee5b-42b8-b776-19f5209e361e","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T18:45:25.939286Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.426191ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/9c8825e0-ee5b-42b8-b776-19f5209e361e
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:45:25.939286Z","id":"9c8825e0-ee5b-42b8-b776-19f5209e361e","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T18:45:25.939286Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.052083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"9c8825e0-ee5b-42b8-b776-19f5209e361e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:45:26.076557Z","dhcp_enabled":true,"id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:45:26.076557Z","id":"1503b1f6-4a29-452f-b65b-2c1a649ffac6","private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-13T18:45:26.076557Z","vpc_id":"9c8825e0-ee5b-42b8-b776-19f5209e361e"},{"created_at":"2025-05-13T18:45:26.076557Z","id":"7609a5a7-e116-491f-9b16-7837bf7719c5","private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:1b32::/64","updated_at":"2025-05-13T18:45:26.076557Z","vpc_id":"9c8825e0-ee5b-42b8-b776-19f5209e361e"}],"tags":[],"updated_at":"2025-05-13T18:45:26.076557Z","vpc_id":"9c8825e0-ee5b-42b8-b776-19f5209e361e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 524.612248ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e4ab0b82-2196-47c8-9178-7e8de6640da6
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:45:26.076557Z","dhcp_enabled":true,"id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:45:26.076557Z","id":"1503b1f6-4a29-452f-b65b-2c1a649ffac6","private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-13T18:45:26.076557Z","vpc_id":"9c8825e0-ee5b-42b8-b776-19f5209e361e"},{"created_at":"2025-05-13T18:45:26.076557Z","id":"7609a5a7-e116-491f-9b16-7837bf7719c5","private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:1b32::/64","updated_at":"2025-05-13T18:45:26.076557Z","vpc_id":"9c8825e0-ee5b-42b8-b776-19f5209e361e"}],"tags":[],"updated_at":"2025-05-13T18:45:26.076557Z","vpc_id":"9c8825e0-ee5b-42b8-b776-19f5209e361e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.98269ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-ipam-ip-rdb","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-13T18:45:26.970153Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"9c7813e0-ef0b-41a3-a378-456c5914a0c8","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"646d4309-8588-44dc-a460-3a737d96fcaf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.414594342s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/646d4309-8588-44dc-a460-3a737d96fcaf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-13T18:45:26.970153Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"9c7813e0-ef0b-41a3-a378-456c5914a0c8","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"646d4309-8588-44dc-a460-3a737d96fcaf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.271073ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/646d4309-8588-44dc-a460-3a737d96fcaf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-13T18:45:26.970153Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"9c7813e0-ef0b-41a3-a378-456c5914a0c8","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"e4ab0b82-2196-47c8-9178-7e8de6640da6","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"646d4309-8588-44dc-a460-3a737d96fcaf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.405128ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/646d4309-8588-44dc-a460-3a737d96fcaf/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVWC83cjBoSUtGdUROQlRvTXlEdGZzcnV5NTZRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck5URXpNVGcwTmpJMFdoY05NelV3TlRFeE1UZzBOakkwV2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=e4ab0b82-2196-47c8-9178-7e8de6640da6&resource_id=646d4309-8588-44dc-a460-3a737d96fcaf&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-05-13T18:45:27.538074Z","id":"9d7abd18-66c8-46f4-85f7-79349398c47f","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"646d4309-8588-44dc-a460-3a737d96fcaf","mac_address":"02:00:00:18:BF:08","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"1503b1f6-4a29-452f-b65b-2c1a649ffac6"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-13T18:45:51.585088Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.953726ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-05-13T18:45:27.538074Z","id":"9d7abd18-66c8-46f4-85f7-79349398c47f","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"646d4309-8588-44dc-a460-3a737d96fcaf","mac_address":"02:00:00:18:BF:08","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"1503b1f6-4a29-452f-b65b-2c1a649ffac6"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-13T18:45:51.585088Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.573026ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/646d4309-8588-44dc-a460-3a737d96fcaf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"646d4309-8588-44dc-a460-3a737d96fcaf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 159.49976ms
[...]
