---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 159.238834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:09.617828Z","custom_routes_propagation_enabled":false,"id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:09.617828Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.30825ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f3d70086-e69e-4966-b6b9-a0fdc987d6a6/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:09.617828Z","custom_routes_propagation_enabled":true,"id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:09.662884Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.841667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f3d70086-e69e-4966-b6b9-a0fdc987d6a6
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:09.617828Z","custom_routes_propagation_enabled":true,"id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:09.662884Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.277833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hardcore-cannon","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:09.778093Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0e3e39ab-6146-475b-b929-4968fe46d9ea","name":"tf-pn-hardcore-cannon","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:09.778093Z","id":"433467f7-73c4-4266-a0e1-131dd8c62a9c","private_network_id":"0e3e39ab-6146-475b-b929-4968fe46d9ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:09.778093Z","vpc_id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6"},{"created_at":"2025-06-30T15:02:09.778093Z","id":"116e1d0f-c962-44bf-b869-c891bbe95a69","private_network_id":"0e3e39ab-6146-475b-b929-4968fe46d9ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a129::/64","updated_at":"2025-06-30T15:02:09.778093Z","vpc_id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6"}],"tags":[],"updated_at":"2025-06-30T15:02:09.778093Z","vpc_id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 570.136458ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0e3e39ab-6146-475b-b929-4968fe46d9ea
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:09.778093Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0e3e39ab-6146-475b-b929-4968fe46d9ea","name":"tf-pn-hardcore-cannon","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:09.778093Z","id":"433467f7-73c4-4266-a0e1-131dd8c62a9c","private_network_id":"0e3e39ab-6146-475b-b929-4968fe46d9ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:09.778093Z","vpc_id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6"},{"created_at":"2025-06-30T15:02:09.778093Z","id":"116e1d0f-c962-44bf-b869-c891bbe95a69","private_network_id":"0e3e39ab-6146-475b-b929-4968fe46d9ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a129::/64","updated_at":"2025-06-30T15:02:09.778093Z","vpc_id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6"}],"tags":[],"updated_at":"2025-06-30T15:02:09.778093Z","vpc_id":"f3d70086-e69e-4966-b6b9-a0fdc987d6a6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.096ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"0e3e39ab-6146-475b-b929-4968fe46d9ea"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-06-30T15:02:11.091224Z","id":"b85ce57a-a690-4440-a2c9-92914ac83f5d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"433467f7-73c4-4266-a0e1-131dd8c62a9c"},"tags":[],"updated_at":"2025-06-30T15:02:11.091224Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 827.093375ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/b85ce57a-a690-4440-a2c9-92914ac83f5d
        method: GET
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-06-30T15:02:11.091224Z","id":"b85ce57a-a690-4440-a2c9-92914ac83f5d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"433467f7-73c4-4266-a0e1-131dd8c62a9c"},"tags":[],"updated_at":"2025-06-30T15:02:11.091224Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.653666ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/b85ce57a-a690-4440-a2c9-92914ac83f5d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"b85ce57a-a690-4440-a2c9-92914ac83f5d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.526583ms
[...]
