---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:29:29.325693Z","custom_routes_propagation_enabled":false,"id":"f34b4fb5-70bc-48df-be17-b042f8e7f551","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:29:29.325693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.927792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f34b4fb5-70bc-48df-be17-b042f8e7f551
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:29:29.325693Z","custom_routes_propagation_enabled":false,"id":"f34b4fb5-70bc-48df-be17-b042f8e7f551","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:29:29.325693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.555125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-unruffled-babbage","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"f34b4fb5-70bc-48df-be17-b042f8e7f551"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:29:29.615046Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a7748b8e-71fe-43af-91e1-38f320b02e12","name":"tf-pn-unruffled-babbage","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:29:29.615046Z","id":"1c72602a-f7e0-45fd-a817-a126f0d0d68e","private_network_id":"a7748b8e-71fe-43af-91e1-38f320b02e12","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:29:29.615046Z","vpc_id":"f34b4fb5-70bc-48df-be17-b042f8e7f551"},{"created_at":"2025-06-10T15:29:29.615046Z","id":"969bdc6e-6822-4ce3-ad7a-f92f9f5e03d6","private_network_id":"a7748b8e-71fe-43af-91e1-38f320b02e12","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:dd6b::/64","updated_at":"2025-06-10T15:29:29.615046Z","vpc_id":"f34b4fb5-70bc-48df-be17-b042f8e7f551"}],"tags":[],"updated_at":"2025-06-10T15:29:29.615046Z","vpc_id":"f34b4fb5-70bc-48df-be17-b042f8e7f551"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 710.921333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a7748b8e-71fe-43af-91e1-38f320b02e12
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:29:29.615046Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a7748b8e-71fe-43af-91e1-38f320b02e12","name":"tf-pn-unruffled-babbage","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:29:29.615046Z","id":"1c72602a-f7e0-45fd-a817-a126f0d0d68e","private_network_id":"a7748b8e-71fe-43af-91e1-38f320b02e12","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:29:29.615046Z","vpc_id":"f34b4fb5-70bc-48df-be17-b042f8e7f551"},{"created_at":"2025-06-10T15:29:29.615046Z","id":"969bdc6e-6822-4ce3-ad7a-f92f9f5e03d6","private_network_id":"a7748b8e-71fe-43af-91e1-38f320b02e12","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:dd6b::/64","updated_at":"2025-06-10T15:29:29.615046Z","vpc_id":"f34b4fb5-70bc-48df-be17-b042f8e7f551"}],"tags":[],"updated_at":"2025-06-10T15:29:29.615046Z","vpc_id":"f34b4fb5-70bc-48df-be17-b042f8e7f551"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.860916ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"a7748b8e-71fe-43af-91e1-38f320b02e12"},"is_ipv6":false,"tags":["terraform-test","data_scaleway_ipam_ips"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:29:30.712342Z","id":"7a566171-180d-4121-86ca-c446f6ec3d09","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1c72602a-f7e0-45fd-a817-a126f0d0d68e"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-10T15:29:30.712342Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.789125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7a566171-180d-4121-86ca-c446f6ec3d09
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:29:30.712342Z","id":"7a566171-180d-4121-86ca-c446f6ec3d09","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1c72602a-f7e0-45fd-a817-a126f0d0d68e"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-10T15:29:30.712342Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.442875ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.3/22","created_at":"2025-06-10T15:29:30.731891Z","id":"abcbe1ee-6a1e-4ce9-8751-e658bdc5ccf7","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1c72602a-f7e0-45fd-a817-a126f0d0d68e"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-10T15:29:30.731891Z","zone":null},{"address":"172.16.32.2/22","created_at":"2025-06-10T15:29:30.712342Z","id":"7a566171-180d-4121-86ca-c446f6ec3d09","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1c72602a-f7e0-45fd-a817-a126f0d0d68e"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-10T15:29:30.712342Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.286792ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips&zonal=fr-par-2
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.090083ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7a566171-180d-4121-86ca-c446f6ec3d09
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"7a566171-180d-4121-86ca-c446f6ec3d09","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.7135ms
[...]
