---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:26:17.947496Z","id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T17:26:17.947496Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.150671ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/26cad14d-c2e1-4c39-ae53-0f146a2d1deb
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:26:17.947496Z","id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T17:26:17.947496Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.53293ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-vigorous-gagarin","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:26:18.199480Z","dhcp_enabled":true,"id":"a7be5f85-762b-4a50-a466-6d4254e596ce","name":"tf-pn-vigorous-gagarin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:26:18.199480Z","id":"8fb5049f-8e65-4e83-a0b3-444befe69657","private_network_id":"a7be5f85-762b-4a50-a466-6d4254e596ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-10-03T17:26:18.199480Z","vpc_id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb"},{"created_at":"2024-10-03T17:26:18.199480Z","id":"cbeb4e2c-cbeb-44b0-9745-b265f092749b","private_network_id":"a7be5f85-762b-4a50-a466-6d4254e596ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:cdb8::/64","updated_at":"2024-10-03T17:26:18.199480Z","vpc_id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb"}],"tags":[],"updated_at":"2024-10-03T17:26:18.199480Z","vpc_id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 541.059321ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a7be5f85-762b-4a50-a466-6d4254e596ce
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:26:18.199480Z","dhcp_enabled":true,"id":"a7be5f85-762b-4a50-a466-6d4254e596ce","name":"tf-pn-vigorous-gagarin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:26:18.199480Z","id":"8fb5049f-8e65-4e83-a0b3-444befe69657","private_network_id":"a7be5f85-762b-4a50-a466-6d4254e596ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-10-03T17:26:18.199480Z","vpc_id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb"},{"created_at":"2024-10-03T17:26:18.199480Z","id":"cbeb4e2c-cbeb-44b0-9745-b265f092749b","private_network_id":"a7be5f85-762b-4a50-a466-6d4254e596ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:cdb8::/64","updated_at":"2024-10-03T17:26:18.199480Z","vpc_id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb"}],"tags":[],"updated_at":"2024-10-03T17:26:18.199480Z","vpc_id":"26cad14d-c2e1-4c39-ae53-0f146a2d1deb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.539509ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"a7be5f85-762b-4a50-a466-6d4254e596ce","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2024-10-03T17:26:19.136081Z","endpoints":[{"id":"ca9da84a-d9aa-42be-9b35-a8245ed1b3c5","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"a7be5f85-762b-4a50-a466-6d4254e596ce","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.785274774s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2024-10-03T17:26:19.136081Z","endpoints":[{"id":"ca9da84a-d9aa-42be-9b35-a8245ed1b3c5","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"a7be5f85-762b-4a50-a466-6d4254e596ce","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.900142ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a7be5f85-762b-4a50-a466-6d4254e596ce&resource_id=02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.4/22","created_at":"2024-10-03T17:26:19.813326Z","id":"4416991e-4407-4826-9631-435fd8010519","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28","mac_address":"02:00:00:12:F7:AE","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"8fb5049f-8e65-4e83-a0b3-444befe69657"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T17:29:05.796907Z","zone":null},{"address":"172.16.32.2/22","created_at":"2024-10-03T17:26:19.813326Z","id":"a77aa2fa-2a35-4eec-b078-61b6c6a491e3","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28","mac_address":"02:00:00:13:CD:30","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"8fb5049f-8e65-4e83-a0b3-444befe69657"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T17:29:05.352876Z","zone":null},{"address":"172.16.32.3/22","created_at":"2024-10-03T17:26:19.813326Z","id":"a14b2cf3-75be-4595-84f6-cf9dec76c060","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28","mac_address":"02:00:00:14:35:26","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"8fb5049f-8e65-4e83-a0b3-444befe69657"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T17:29:05.564745Z","zone":null}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.578539ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.4/22","created_at":"2024-10-03T17:26:19.813326Z","id":"4416991e-4407-4826-9631-435fd8010519","is_ipv6":false,"project_id"[...]
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"02d6bb19-7feb-4a50-aaf9-b4cd1ba4cd28","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.097705ms
[...]
