---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.380518Z\",\"updated_at\":\"2025-08-29T16:16:12.380518Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.667254ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6e83e532-326a-4d2a-bd5c-e992de7c6839
    method: GET
  response:
    body: "{\"id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.380518Z\",\"updated_at\":\"2025-08-29T16:16:12.380518Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 49.664686ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-angry-greider\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"430ef020-c2a5-43af-bc33-38cb3c2bc005\",\"name\":\"tf-pn-angry-greider\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:13.941673Z\",\"updated_at\":\"2025-08-29T16:16:13.941673Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"983a8237-5a5c-430f-a90e-6d3286ee2757\",\"created_at\":\"2025-08-29T16:16:13.941673Z\",\"updated_at\":\"2025-08-29T16:16:13.941673Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"430ef020-c2a5-43af-bc33-38cb3c2bc005\",\"vpc_id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\"},{\"id\":\"3e0f72b2-f103-4ffd-95eb-5275a5b176b9\",\"created_at\":\"2025-08-29T16:16:13.941673Z\",\"updated_at\":\"2025-08-29T16:16:13.941673Z\",\"subnet\":\"fde7:767f:1bb5:a364::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"430ef020-c2a5-43af-bc33-38cb3c2bc005\",\"vpc_id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\"}],\"vpc_id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.366945694s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/430ef020-c2a5-43af-bc33-38cb3c2bc005
    method: GET
  response:
    body: "{\"id\":\"430ef020-c2a5-43af-bc33-38cb3c2bc005\",\"name\":\"tf-pn-angry-greider\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:13.941673Z\",\"updated_at\":\"2025-08-29T16:16:13.941673Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"983a8237-5a5c-430f-a90e-6d3286ee2757\",\"created_at\":\"2025-08-29T16:16:13.941673Z\",\"updated_at\":\"2025-08-29T16:16:13.941673Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"430ef020-c2a5-43af-bc33-38cb3c2bc005\",\"vpc_id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\"},{\"id\":\"3e0f72b2-f103-4ffd-95eb-5275a5b176b9\",\"created_at\":\"2025-08-29T16:16:13.941673Z\",\"updated_at\":\"2025-08-29T16:16:13.941673Z\",\"subnet\":\"fde7:767f:1bb5:a364::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"430ef020-c2a5-43af-bc33-38cb3c2bc005\",\"vpc_id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\"}],\"vpc_id\":\"6e83e532-326a-4d2a-bd5c-e992de7c6839\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.553598ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"430ef020-c2a5-43af-bc33-38cb3c2bc005\"},\"is_ipv6\":false,\"tags\":[\"terraform-test\",\"data_scaleway_ipam_ips\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"ba5579bd-83d3-4073-b93c-8b9a0d5f1c29\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:14.999856Z\",\"updated_at\":\"2025-08-29T16:16:14.999856Z\",\"source\":{\"subnet_id\":\"983a8237-5a5c-430f-a90e-6d3286ee2757\"},\"resource\":null,\"tags\":[\"terraform-test\",\"data_scaleway_ipam_ips\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.738094ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ba5579bd-83d3-4073-b93c-8b9a0d5f1c29
    method: GET
  response:
    body: "{\"id\":\"ba5579bd-83d3-4073-b93c-8b9a0d5f1c29\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:14.999856Z\",\"updated_at\":\"2025-08-29T16:16:14.999856Z\",\"source\":{\"subnet_id\":\"983a8237-5a5c-430f-a90e-6d3286ee2757\"},\"resource\":null,\"tags\":[\"terraform-test\",\"data_scaleway_ipam_ips\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 48.799208ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      page:
      - "1"
      resource_type:
      - unknown_type
      tags:
      - terraform-test
      - data_scaleway_ipam_ips
      zonal:
      - fr-par-2
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips&zonal=fr-par-2
    method: GET
  response:
    body: "{\"total_count\":0,\"ips\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 132.504878ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      page:
      - "1"
      resource_type:
      - unknown_type
      tags:
      - terraform-test
      - data_scaleway_ipam_ips
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"812ee557-b679-4953-999f-9bcf22293557\",\"address\":\"172.16.32.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:15.050429Z\",\"updated_at\":\"2025-08-29T16:16:15.050429Z\",\"source\":{\"subnet_id\":\"983a8237-5a5c-430f-a90e-6d3286ee2757\"},\"resource\":null,\"tags\":[\"terraform-test\",\"data_scaleway_ipam_ips\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"ba5579bd-83d3-4073-b93c-8b9a0d5f1c29\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:14.999856Z\",\"updated_at\":\"2025-08-29T16:16:14.999856Z\",\"source\":{\"subnet_id\":\"983a8237-5a5c-430f-a90e-6d3286ee2757\"},\"resource\":null,\"tags\":[\"terraform-test\",\"data_scaleway_ipam_ips\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.534461ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/812ee557-b679-4953-999f-9bcf22293557
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"812ee557-b679-4953-999f-9bcf22293557\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 50.560048ms
[...]
