---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.417927Z","id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.417927Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.028792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.417927Z","id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.417927Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.927167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-gallant-hypatia","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.735207Z","dhcp_enabled":true,"id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","name":"tf-pn-gallant-hypatia","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.735207Z","id":"d14b6dbd-1997-4edc-91c5-3abcb0f5ce7a","private_network_id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.735207Z","vpc_id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba"},{"created_at":"2025-01-24T14:07:40.735207Z","id":"2b39caea-3edb-4625-a602-e1763ae66e6c","private_network_id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:db09::/64","updated_at":"2025-01-24T14:07:40.735207Z","vpc_id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba"}],"tags":[],"updated_at":"2025-01-24T14:07:40.735207Z","vpc_id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.144909917s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2dae4ed7-3485-4ea1-b436-19ed6002c3e3
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.735207Z","dhcp_enabled":true,"id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","name":"tf-pn-gallant-hypatia","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.735207Z","id":"d14b6dbd-1997-4edc-91c5-3abcb0f5ce7a","private_network_id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.735207Z","vpc_id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba"},{"created_at":"2025-01-24T14:07:40.735207Z","id":"2b39caea-3edb-4625-a602-e1763ae66e6c","private_network_id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:db09::/64","updated_at":"2025-01-24T14:07:40.735207Z","vpc_id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba"}],"tags":[],"updated_at":"2025-01-24T14:07:40.735207Z","vpc_id":"c0ffa533-d0bf-4cec-bc1e-fe8d5f3805ba"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.187042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-01-24T14:07:42.291473Z","endpoints":[{"id":"40826653-3c88-4d3c-95b4-bddb810522d4","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"612702b0-84a5-4300-a905-19a979cd4dcd","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.77077975s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/612702b0-84a5-4300-a905-19a979cd4dcd
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-01-24T14:07:42.291473Z","endpoints":[{"id":"40826653-3c88-4d3c-95b4-bddb810522d4","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"2dae4ed7-3485-4ea1-b436-19ed6002c3e3","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"612702b0-84a5-4300-a905-19a979cd4dcd","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.755125ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=612702b0-84a5-4300-a905-19a979cd4dcd&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.3/22","created_at":"2025-01-24T14:07:42.912908Z","id":"58c91a25-4499-4523-a784-56431e4a9482","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"612702b0-84a5-4300-a905-19a979cd4dcd","mac_address":"02:00:00:1B:7D:97","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"d14b6dbd-1997-4edc-91c5-3abcb0f5ce7a"},"tags":["managed","scwdbaas"],"updated_at":"2025-01-24T14:11:14.172328Z","zone":null},{"address":"172.16.32.4/22","created_at":"2025-01-24T14:07:42.912908Z","id":"e9d68388-8db7-4ce5-bbe6-a5b2aabde1d2","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"612702b0-84a5-4300-a905-19a979cd4dcd","mac_address":"02:00:00:1F:90:59","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"d14b6dbd-1997-4edc-91c5-3abcb0f5ce7a"},"tags":["managed","scwdbaas"],"updated_at":"2025-01-24T14:11:14.401810Z","zone":null},{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:42.912908Z","id":"626d215e-ee1b-4e58-8a0e-2cbca139471c","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"612702b0-84a5-4300-a905-19a979cd4dcd","mac_address":"02:00:00:14:D2:07","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"d14b6dbd-1997-4edc-91c5-3abcb0f5ce7a"},"tags":["managed","scwdbaas"],"updated_at":"2025-01-24T14:11:13.819504Z","zone":null}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.18125ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/612702b0-84a5-4300-a905-19a979cd4dcd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"612702b0-84a5-4300-a905-19a979cd4dcd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.436916ms
[...]
