---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.558164Z\",\"updated_at\":\"2025-08-29T16:16:12.558164Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.473119ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5b6d5381-15f8-4369-b32b-dd4c16a4669e
    method: GET
  response:
    body: "{\"id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.558164Z\",\"updated_at\":\"2025-08-29T16:16:12.558164Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.403138ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-zealous-lalande\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"6aa80d32-3282-4099-9465-cf494ef60e69\",\"name\":\"tf-pn-zealous-lalande\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.803233Z\",\"updated_at\":\"2025-08-29T16:16:12.803233Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"723a336f-16b1-4304-8f6b-8badce4beb8a\",\"created_at\":\"2025-08-29T16:16:12.803233Z\",\"updated_at\":\"2025-08-29T16:16:12.803233Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"6aa80d32-3282-4099-9465-cf494ef60e69\",\"vpc_id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\"},{\"id\":\"1626504f-f489-4f6a-a8c1-10e31b3c9543\",\"created_at\":\"2025-08-29T16:16:12.803233Z\",\"updated_at\":\"2025-08-29T16:16:12.803233Z\",\"subnet\":\"fde7:767f:1bb5:603c::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"6aa80d32-3282-4099-9465-cf494ef60e69\",\"vpc_id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\"}],\"vpc_id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.155737483s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6aa80d32-3282-4099-9465-cf494ef60e69
    method: GET
  response:
    body: "{\"id\":\"6aa80d32-3282-4099-9465-cf494ef60e69\",\"name\":\"tf-pn-zealous-lalande\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.803233Z\",\"updated_at\":\"2025-08-29T16:16:12.803233Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"723a336f-16b1-4304-8f6b-8badce4beb8a\",\"created_at\":\"2025-08-29T16:16:12.803233Z\",\"updated_at\":\"2025-08-29T16:16:12.803233Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"6aa80d32-3282-4099-9465-cf494ef60e69\",\"vpc_id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\"},{\"id\":\"1626504f-f489-4f6a-a8c1-10e31b3c9543\",\"created_at\":\"2025-08-29T16:16:12.803233Z\",\"updated_at\":\"2025-08-29T16:16:12.803233Z\",\"subnet\":\"fde7:767f:1bb5:603c::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"6aa80d32-3282-4099-9465-cf494ef60e69\",\"vpc_id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\"}],\"vpc_id\":\"5b6d5381-15f8-4369-b32b-dd4c16a4669e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 29.467246ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"6aa80d32-3282-4099-9465-cf494ef60e69\"},\"is_ipv6\":false,\"address\":\"172.16.32.5\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"6775cc33-ebe9-41d8-897a-5889e2df36cf\",\"address\":\"172.16.32.5/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:14.031737Z\",\"updated_at\":\"2025-08-29T16:16:14.031737Z\",\"source\":{\"subnet_id\":\"723a336f-16b1-4304-8f6b-8badce4beb8a\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.519704ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6775cc33-ebe9-41d8-897a-5889e2df36cf
    method: GET
  response:
    body: "{\"id\":\"6775cc33-ebe9-41d8-897a-5889e2df36cf\",\"address\":\"172.16.32.5/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:14.031737Z\",\"updated_at\":\"2025-08-29T16:16:14.031737Z\",\"source\":{\"subnet_id\":\"723a336f-16b1-4304-8f6b-8badce4beb8a\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 62.553415ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6775cc33-ebe9-41d8-897a-5889e2df36cf
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"6775cc33-ebe9-41d8-897a-5889e2df36cf\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 62.769712ms
[...]
