---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:30:46.079237Z","custom_routes_propagation_enabled":false,"id":"52d0042b-9d4a-451a-9111-8dfff99316de","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:30:46.079237Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.333167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/52d0042b-9d4a-451a-9111-8dfff99316de
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:30:46.079237Z","custom_routes_propagation_enabled":false,"id":"52d0042b-9d4a-451a-9111-8dfff99316de","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:30:46.079237Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.007542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-brave-proskuriakova","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"52d0042b-9d4a-451a-9111-8dfff99316de"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:30:46.176839Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"77d729ef-6703-475c-9fa5-c6d54f8a3f52","name":"tf-pn-brave-proskuriakova","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:30:46.176839Z","id":"4fbdee57-3724-4251-bf3e-fd4eb1426085","private_network_id":"77d729ef-6703-475c-9fa5-c6d54f8a3f52","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:30:46.176839Z","vpc_id":"52d0042b-9d4a-451a-9111-8dfff99316de"},{"created_at":"2025-06-10T15:30:46.176839Z","id":"f92cf676-4940-46a1-9b33-017e15253a3d","private_network_id":"77d729ef-6703-475c-9fa5-c6d54f8a3f52","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:45e4::/64","updated_at":"2025-06-10T15:30:46.176839Z","vpc_id":"52d0042b-9d4a-451a-9111-8dfff99316de"}],"tags":[],"updated_at":"2025-06-10T15:30:46.176839Z","vpc_id":"52d0042b-9d4a-451a-9111-8dfff99316de"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.041958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/77d729ef-6703-475c-9fa5-c6d54f8a3f52
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:30:46.176839Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"77d729ef-6703-475c-9fa5-c6d54f8a3f52","name":"tf-pn-brave-proskuriakova","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:30:46.176839Z","id":"4fbdee57-3724-4251-bf3e-fd4eb1426085","private_network_id":"77d729ef-6703-475c-9fa5-c6d54f8a3f52","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:30:46.176839Z","vpc_id":"52d0042b-9d4a-451a-9111-8dfff99316de"},{"created_at":"2025-06-10T15:30:46.176839Z","id":"f92cf676-4940-46a1-9b33-017e15253a3d","private_network_id":"77d729ef-6703-475c-9fa5-c6d54f8a3f52","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:45e4::/64","updated_at":"2025-06-10T15:30:46.176839Z","vpc_id":"52d0042b-9d4a-451a-9111-8dfff99316de"}],"tags":[],"updated_at":"2025-06-10T15:30:46.176839Z","vpc_id":"52d0042b-9d4a-451a-9111-8dfff99316de"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.878625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"77d729ef-6703-475c-9fa5-c6d54f8a3f52"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-06-10T15:30:47.059173Z","id":"991e0088-54ae-498f-8e95-83f830a4fbc3","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"4fbdee57-3724-4251-bf3e-fd4eb1426085"},"tags":[],"updated_at":"2025-06-10T15:30:47.059173Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.756167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/991e0088-54ae-498f-8e95-83f830a4fbc3
        method: GET
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-06-10T15:30:47.059173Z","id":"991e0088-54ae-498f-8e95-83f830a4fbc3","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"4fbdee57-3724-4251-bf3e-fd4eb1426085"},"tags":[],"updated_at":"2025-06-10T15:30:47.059173Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.991833ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/991e0088-54ae-498f-8e95-83f830a4fbc3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"991e0088-54ae-498f-8e95-83f830a4fbc3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.084417ms
[...]
