---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:36.770504Z","id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:36.770504Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.094125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3387aab4-ec1c-4bcb-8d8e-166cd4abc786
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:36.770504Z","id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:36.770504Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.041625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:36.931500Z","dhcp_enabled":true,"id":"4c583a85-f6ec-420e-b079-d00688dbb697","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:36.931500Z","id":"3a38dcf8-eb9f-4d41-9cdb-95cb67d0677e","private_network_id":"4c583a85-f6ec-420e-b079-d00688dbb697","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:07:36.931500Z","vpc_id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786"},{"created_at":"2025-01-24T14:07:36.931500Z","id":"dd33f517-d0ec-4270-bbd7-0ec9544bc947","private_network_id":"4c583a85-f6ec-420e-b079-d00688dbb697","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f958::/64","updated_at":"2025-01-24T14:07:36.931500Z","vpc_id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786"}],"tags":[],"updated_at":"2025-01-24T14:07:36.931500Z","vpc_id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.582875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4c583a85-f6ec-420e-b079-d00688dbb697
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:36.931500Z","dhcp_enabled":true,"id":"4c583a85-f6ec-420e-b079-d00688dbb697","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:36.931500Z","id":"3a38dcf8-eb9f-4d41-9cdb-95cb67d0677e","private_network_id":"4c583a85-f6ec-420e-b079-d00688dbb697","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:07:36.931500Z","vpc_id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786"},{"created_at":"2025-01-24T14:07:36.931500Z","id":"dd33f517-d0ec-4270-bbd7-0ec9544bc947","private_network_id":"4c583a85-f6ec-420e-b079-d00688dbb697","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f958::/64","updated_at":"2025-01-24T14:07:36.931500Z","vpc_id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786"}],"tags":[],"updated_at":"2025-01-24T14:07:36.931500Z","vpc_id":"3387aab4-ec1c-4bcb-8d8e-166cd4abc786"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.308958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ipam-ip-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"4c583a85-f6ec-420e-b079-d00688dbb697","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-24T14:07:37.794536Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"db0b2e37-9189-4e32-8707-e7b5b29fe8c3","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"4c583a85-f6ec-420e-b079-d00688dbb697","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"7bc9d99d-c022-4146-bc13-760db8be792f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.502045s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bc9d99d-c022-4146-bc13-760db8be792f
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-24T14:07:37.794536Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"db0b2e37-91[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bc9d99d-c022-4146-bc13-760db8be792f
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-24T14:07:37.794536Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"db0b2e37-9189-4e32-8707-e7b5b29fe8c3","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"4c583a85-f6ec-420e-b079-d00688dbb697","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"7bc9d99d-c022-4146-bc13-760db8be792f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.251166ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bc9d99d-c022-4146-bc13-760db8be792f/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVY2RhSEcyT0gvV29XaHVLaWRCb2djdzQ5MU1nd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck1USTBNVFF3T0RVeldoY05NelV3TVRJeU1UUXdPRFV6V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-01-24T14:07:38.399038Z","id":"250e7d40-697c-4470-902c-814bc28954aa","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"7bc9d99d-c022-4146-bc13-760db8be792f","mac_address":"02:00:00:16:F9:EE","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"3a38dcf8-eb9f-4d41-9cdb-95cb67d0677e"},"tags":["managed","scwdbaas"],"updated_at":"2025-01-24T14:08:21.282883Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.16275ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bc9d99d-c022-4146-bc13-760db8be792f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"7bc9d99d-c022-4146-bc13-760db8be792f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100.70825ms
[...]
