---
version: 2
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-09T15:57:06.635252Z","id":"c46e1534-f0c3-4985-a5f1-2a3e32eaa80c","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-09T15:57:06.635252Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c46e1534-f0c3-4985-a5f1-2a3e32eaa80c
    method: GET
  response:
    body: '{"created_at":"2024-01-09T15:57:06.635252Z","id":"c46e1534-f0c3-4985-a5f1-2a3e32eaa80c","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-09T15:57:06.635252Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-nifty-burnell","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"c46e1534-f0c3-4985-a5f1-2a3e32eaa80c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-09T15:57:06.933570Z","dhcp_enabled":true,"id":"0b0472d3-5822-4b57-a56f-2392bd978d81","name":"tf-pn-nifty-burnell","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-09T15:57:06.933570Z","id":"e39760a5-27e2-4559-a666-4e698b50af69","subnet":"172.16.32.0/22","updated_at":"2024-01-09T15:57:06.933570Z"},{"created_at":"2024-01-09T15:57:06.933570Z","id":"fce9d980-f079-495d-a97a-743c55588072","subnet":"fd46:78ab:30b8:e2a9::/64","updated_at":"2024-01-09T15:57:06.933570Z"}],"tags":[],"updated_at":"2024-01-09T15:57:06.933570Z","vpc_id":"c46e1534-f0c3-4985-a5f1-2a3e32eaa80c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0b0472d3-5822-4b57-a56f-2392bd978d81
    method: GET
  response:
    body: '{"created_at":"2024-01-09T15:57:06.933570Z","dhcp_enabled":true,"id":"0b0472d3-5822-4b57-a56f-2392bd978d81","name":"tf-pn-nifty-burnell","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-09T15:57:06.933570Z","id":"e39760a5-27e2-4559-a666-4e698b50af69","subnet":"172.16.32.0/22","updated_at":"2024-01-09T15:57:06.933570Z"},{"created_at":"2024-01-09T15:57:06.933570Z","id":"fce9d980-f079-495d-a97a-743c55588072","subnet":"fd46:78ab:30b8:e2a9::/64","updated_at":"2024-01-09T15:57:06.933570Z"}],"tags":[],"updated_at":"2024-01-09T15:57:06.933570Z","vpc_id":"c46e1534-f0c3-4985-a5f1-2a3e32eaa80c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"0b0472d3-5822-4b57-a56f-2392bd978d81","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2024-01-09T15:57:08.001209Z","endpoints":[{"id":"3833fa1c-31d8-4451-acdc-75165db9bfa1","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"0b0472d3-5822-4b57-a56f-2392bd978d81","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2024-01-09T15:57:08.001209Z","endpoints":[{"id":"3833fa1c-31d8-4451-acdc-75165db9bfa1","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"0b0472d3-5822-4b57-a56f-2392bd978d81","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636&resource_type=redis_cluster
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.32.3/22","created_at":"2024-01-09T15:57:08.415144Z","id":"55d0fcc2-487c-401b-b8eb-338a49156046","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636","mac_address":"02:00:00:16:87:1C","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"e39760a5-27e2-4559-a666-4e698b50af69"},"tags":["managed","scwdbaas"],"updated_at":"2024-01-09T15:59:57.748117Z","zone":null},{"address":"172.16.32.2/22","created_at":"2024-01-09T15:57:08.415144Z","id":"0d43fcce-79a2-4990-8f86-255e098d07a2","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636","mac_address":"02:00:00:16:87:1B","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"e39760a5-27e2-4559-a666-4e698b50af69"},"tags":["managed","scwdbaas"],"updated_at":"2024-01-09T15:59:57.532691Z","zone":null},{"address":"172.16.32.4/22","created_at":"2024-01-09T15:57:08.415144Z","id":"12e26719-e35d-466f-a9db-160e0d552170","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636","mac_address":"02:00:00:16:87:1A","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"e39760a5-27e2-4559-a666-4e698b50af69"},"tags":["managed","scwdbaas"],"updated_at":"2024-01-09T15:59:58.016502Z","zone":null}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6b7d8e27-4e80-4d6f-bfaf-8bce2dc61636","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
