---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.752785Z","id":"2961a70d-db45-47a0-bf47-462719768a7b","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.752785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.034083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2961a70d-db45-47a0-bf47-462719768a7b
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.752785Z","id":"2961a70d-db45-47a0-bf47-462719768a7b","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.752785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.26375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-jovial-haibt","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"2961a70d-db45-47a0-bf47-462719768a7b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.934554Z","dhcp_enabled":true,"id":"0fb98467-831b-4bc7-8f1d-d00e6a624af6","name":"tf-pn-jovial-haibt","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.934554Z","id":"73953736-f219-48cc-96a0-1361edef93e0","private_network_id":"0fb98467-831b-4bc7-8f1d-d00e6a624af6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.934554Z","vpc_id":"2961a70d-db45-47a0-bf47-462719768a7b"},{"created_at":"2025-01-24T14:07:40.934554Z","id":"31b469fa-3184-42bc-8ab3-b82a82c41182","private_network_id":"0fb98467-831b-4bc7-8f1d-d00e6a624af6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:c316::/64","updated_at":"2025-01-24T14:07:40.934554Z","vpc_id":"2961a70d-db45-47a0-bf47-462719768a7b"}],"tags":[],"updated_at":"2025-01-24T14:07:40.934554Z","vpc_id":"2961a70d-db45-47a0-bf47-462719768a7b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.145904666s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0fb98467-831b-4bc7-8f1d-d00e6a624af6
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.934554Z","dhcp_enabled":true,"id":"0fb98467-831b-4bc7-8f1d-d00e6a624af6","name":"tf-pn-jovial-haibt","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.934554Z","id":"73953736-f219-48cc-96a0-1361edef93e0","private_network_id":"0fb98467-831b-4bc7-8f1d-d00e6a624af6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.934554Z","vpc_id":"2961a70d-db45-47a0-bf47-462719768a7b"},{"created_at":"2025-01-24T14:07:40.934554Z","id":"31b469fa-3184-42bc-8ab3-b82a82c41182","private_network_id":"0fb98467-831b-4bc7-8f1d-d00e6a624af6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:c316::/64","updated_at":"2025-01-24T14:07:40.934554Z","vpc_id":"2961a70d-db45-47a0-bf47-462719768a7b"}],"tags":[],"updated_at":"2025-01-24T14:07:40.934554Z","vpc_id":"2961a70d-db45-47a0-bf47-462719768a7b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.004042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"0fb98467-831b-4bc7-8f1d-d00e6a624af6"},"is_ipv6":false,"tags":["terraform-test","data_scaleway_ipam_ips"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:43.223300Z","id":"f0f7db61-2269-452a-bd77-40f289eaeddc","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"73953736-f219-48cc-96a0-1361edef93e0"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-01-24T14:07:43.223300Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.095208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f0f7db61-2269-452a-bd77-40f289eaeddc
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:43.223300Z","id":"f0f7db61-2269-452a-bd77-40f289eaeddc","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"73953736-f219-48cc-96a0-1361edef93e0"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-01-24T14:07:43.223300Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.979416ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips&zonal=fr-par-2
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.260792ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.3/22","created_at":"2025-01-24T14:07:43.289803Z","id":"be4b77e7-55e7-4687-b0ed-b58c92408fa8","is_ipv6":false,"project_id":"105bdce1-64c0-[...]
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f0f7db61-2269-452a-bd77-40f289eaeddc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"f0f7db61-2269-452a-bd77-40f289eaeddc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.872709ms
[...]
