---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:39:05.133884Z","custom_routes_propagation_enabled":false,"id":"2e33c4f6-d918-4339-b898-83ace43210b4","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:39:05.133884Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.152542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2e33c4f6-d918-4339-b898-83ace43210b4/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:39:05.133884Z","custom_routes_propagation_enabled":true,"id":"2e33c4f6-d918-4339-b898-83ace43210b4","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:39:05.218399Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.729667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2e33c4f6-d918-4339-b898-83ace43210b4
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:39:05.133884Z","custom_routes_propagation_enabled":true,"id":"2e33c4f6-d918-4339-b898-83ace43210b4","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:39:05.218399Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.665875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-priceless-davinci","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"2e33c4f6-d918-4339-b898-83ace43210b4","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:39:05.390405Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d45daa31-335d-455d-b62a-9f4a138b489e","name":"tf-pn-priceless-davinci","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:39:05.390405Z","id":"bfeec783-bb5a-443e-9048-011666119386","private_network_id":"d45daa31-335d-455d-b62a-9f4a138b489e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:39:05.390405Z","vpc_id":"2e33c4f6-d918-4339-b898-83ace43210b4"},{"created_at":"2025-06-30T15:39:05.390405Z","id":"6bf4414d-40c4-4b6c-af37-f37bd424b656","private_network_id":"d45daa31-335d-455d-b62a-9f4a138b489e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a8b7::/64","updated_at":"2025-06-30T15:39:05.390405Z","vpc_id":"2e33c4f6-d918-4339-b898-83ace43210b4"}],"tags":[],"updated_at":"2025-06-30T15:39:05.390405Z","vpc_id":"2e33c4f6-d918-4339-b898-83ace43210b4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 546.101958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d45daa31-335d-455d-b62a-9f4a138b489e
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:39:05.390405Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d45daa31-335d-455d-b62a-9f4a138b489e","name":"tf-pn-priceless-davinci","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:39:05.390405Z","id":"bfeec783-bb5a-443e-9048-011666119386","private_network_id":"d45daa31-335d-455d-b62a-9f4a138b489e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:39:05.390405Z","vpc_id":"2e33c4f6-d918-4339-b898-83ace43210b4"},{"created_at":"2025-06-30T15:39:05.390405Z","id":"6bf4414d-40c4-4b6c-af37-f37bd424b656","private_network_id":"d45daa31-335d-455d-b62a-9f4a138b489e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a8b7::/64","updated_at":"2025-06-30T15:39:05.390405Z","vpc_id":"2e33c4f6-d918-4339-b898-83ace43210b4"}],"tags":[],"updated_at":"2025-06-30T15:39:05.390405Z","vpc_id":"2e33c4f6-d918-4339-b898-83ace43210b4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.971333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"d45daa31-335d-455d-b62a-9f4a138b489e"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-06-30T15:39:06.709608Z","id":"45e30276-5628-4031-86cb-a2f267279046","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"bfeec783-bb5a-443e-9048-011666119386"},"tags":[],"updated_at":"2025-06-30T15:39:06.709608Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 851.975708ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/45e30276-5628-4031-86cb-a2f267279046
        method: GET
      response:
        body: '{"address":"172.16.32.5/22","created_at":"2025-06-30T15:39:06.709608Z","id":"45e30276-5628-4031-86cb-a2f267279046","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"bfeec783-bb5a-443e-9048-011666119386"},"tags":[],"updated_at":"2025-06-30T15:39:06.709608Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.386458ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/45e30276-5628-4031-86cb-a2f267279046
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"45e30276-5628-4031-86cb-a2f267279046","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.057417ms
[...]
