---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-05T19:51:18.147922Z","id":"25891520-5999-4817-b87a-f8a25d6412e6","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T19:51:18.147922Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.245864ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/25891520-5999-4817-b87a-f8a25d6412e6
        method: GET
      response:
        body: '{"created_at":"2025-05-05T19:51:18.147922Z","id":"25891520-5999-4817-b87a-f8a25d6412e6","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T19:51:18.147922Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.51933ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"25891520-5999-4817-b87a-f8a25d6412e6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T19:51:18.263003Z","dhcp_enabled":true,"id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T19:51:18.263003Z","id":"0c32f039-d380-489f-9276-4e3247edc8ab","private_network_id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T19:51:18.263003Z","vpc_id":"25891520-5999-4817-b87a-f8a25d6412e6"},{"created_at":"2025-05-05T19:51:18.263003Z","id":"088ecb58-c075-4e79-8c56-1fbf52d9bde9","private_network_id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:8d9d::/64","updated_at":"2025-05-05T19:51:18.263003Z","vpc_id":"25891520-5999-4817-b87a-f8a25d6412e6"}],"tags":[],"updated_at":"2025-05-05T19:51:18.263003Z","vpc_id":"25891520-5999-4817-b87a-f8a25d6412e6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 745.673242ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1463cd68-1a7e-412a-8e59-b47ef359bf34
        method: GET
      response:
        body: '{"created_at":"2025-05-05T19:51:18.263003Z","dhcp_enabled":true,"id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T19:51:18.263003Z","id":"0c32f039-d380-489f-9276-4e3247edc8ab","private_network_id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T19:51:18.263003Z","vpc_id":"25891520-5999-4817-b87a-f8a25d6412e6"},{"created_at":"2025-05-05T19:51:18.263003Z","id":"088ecb58-c075-4e79-8c56-1fbf52d9bde9","private_network_id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:8d9d::/64","updated_at":"2025-05-05T19:51:18.263003Z","vpc_id":"25891520-5999-4817-b87a-f8a25d6412e6"}],"tags":[],"updated_at":"2025-05-05T19:51:18.263003Z","vpc_id":"25891520-5999-4817-b87a-f8a25d6412e6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.271524ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-ipam-ip-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T19:51:19.369463Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"2fbf9ece-b6e4-4f61-8ee8-e2f4029a56b4","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"1f50170e-ca22-4b80-b2a9-80492db95dcf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"95ff43bc-3f96-4ab1-a682-d88a39899d3d","minor_version":"15.12","name":"PostgreSQL-15","version":"15"},{"id":"bf79ca4c-afdd-4226-b5ec-658b34e28a08","minor_version":"16.8","name":"PostgreSQL-16","version":"16"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.970915637s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1f50170e-ca22-4b80-b2a9-80492db95dcf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T19:51:19.369463Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"2fbf9ece-b6[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1f50170e-ca22-4b80-b2a9-80492db95dcf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T19:51:19.369463Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"2fbf9ece-b6e4-4f61-8ee8-e2f4029a56b4","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"1463cd68-1a7e-412a-8e59-b47ef359bf34","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"1f50170e-ca22-4b80-b2a9-80492db95dcf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"95ff43bc-3f96-4ab1-a682-d88a39899d3d","minor_version":"15.12","name":"PostgreSQL-15","version":"15"},{"id":"bf79ca4c-afdd-4226-b5ec-658b34e28a08","minor_version":"16.8","name":"PostgreSQL-16","version":"16"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.534119ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1f50170e-ca22-4b80-b2a9-80492db95dcf/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVYXlhNjFVQmtTYjQxd281citPZHlCMmF5dzhVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck5UQTFNVGsxTWpFNVdoY05NelV3TlRBek1UazFNakU1V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=1463cd68-1a7e-412a-8e59-b47ef359bf34&resource_id=1f50170e-ca22-4b80-b2a9-80492db95dcf&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-05-05T19:51:20.302952Z","id":"9d14330a-d3a6-43f6-acf4-27a54209f02f","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"1f50170e-ca22-4b80-b2a9-80492db95dcf","mac_address":"02:00:00:13:31:82","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"0c32f039-d380-489f-9276-4e3247edc8ab"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T19:51:46.886571Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.142287ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-05-05T19:51:20.302952Z","id":"9d14330a-d3a6-43f6-acf4-27a54209f02f","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"1f50170e-ca22-4b80-b2a9-80492db95dcf","mac_address":"02:00:00:13:31:82","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"0c32f039-d380-489f-9276-4e3247edc8ab"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T19:51:46.886571Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.685063ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1f50170e-ca22-4b80-b2a9-80492db95dcf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"1f50170e-ca22-4b80-b2a9-80492db95dcf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 189.530523ms
[...]
