---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-05T22:21:49.067145Z","id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T22:21:49.067145Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.480151ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/06be1b4a-e6a4-4c6e-b909-6fdac9522097
        method: GET
      response:
        body: '{"created_at":"2025-05-05T22:21:49.067145Z","id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T22:21:49.067145Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.793458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-happy-dubinsky","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T22:21:49.252544Z","dhcp_enabled":true,"id":"43dfe369-7573-46e9-9078-347934de441a","name":"tf-pn-happy-dubinsky","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:21:49.252544Z","id":"53ab876d-30f7-415d-8699-c2fece0c670a","private_network_id":"43dfe369-7573-46e9-9078-347934de441a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-05T22:21:49.252544Z","vpc_id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097"},{"created_at":"2025-05-05T22:21:49.252544Z","id":"d37ae71b-0325-4860-aea0-fd0304730193","private_network_id":"43dfe369-7573-46e9-9078-347934de441a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:2db5::/64","updated_at":"2025-05-05T22:21:49.252544Z","vpc_id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097"}],"tags":[],"updated_at":"2025-05-05T22:21:49.252544Z","vpc_id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.753237ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/43dfe369-7573-46e9-9078-347934de441a
        method: GET
      response:
        body: '{"created_at":"2025-05-05T22:21:49.252544Z","dhcp_enabled":true,"id":"43dfe369-7573-46e9-9078-347934de441a","name":"tf-pn-happy-dubinsky","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:21:49.252544Z","id":"53ab876d-30f7-415d-8699-c2fece0c670a","private_network_id":"43dfe369-7573-46e9-9078-347934de441a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-05T22:21:49.252544Z","vpc_id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097"},{"created_at":"2025-05-05T22:21:49.252544Z","id":"d37ae71b-0325-4860-aea0-fd0304730193","private_network_id":"43dfe369-7573-46e9-9078-347934de441a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:2db5::/64","updated_at":"2025-05-05T22:21:49.252544Z","vpc_id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097"}],"tags":[],"updated_at":"2025-05-05T22:21:49.252544Z","vpc_id":"06be1b4a-e6a4-4c6e-b909-6fdac9522097"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.312588ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"43dfe369-7573-46e9-9078-347934de441a","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-05-05T22:21:50.210694Z","endpoints":[{"id":"52d98b09-c785-4cbe-ba7f-60f66ae7712c","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"43dfe369-7573-46e9-9078-347934de441a","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.408343804s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-05-05T22:21:50.210694Z","endpoints":[{"id":"52d98b09-c785-4cbe-ba7f-60f66ae7712c","ips":["172.16.32.2","172.16.32.3","172.16.32.4"],"port":6379,"private_network":{"id":"43dfe369-7573-46e9-9078-347934de441a","provisioning_mode":"ipam","service_ips":["172.16.32.2/22","172.16.32.3/22","172.16.32.4/22"],"zone":"fr-par-1"}}],"id":"dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.722802ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=43dfe369-7573-46e9-9078-347934de441a&resource_id=dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2025-05-05T22:21:51.237259Z","id":"32cd31d6-a55c-4603-847e-6e8aa33aafe0","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4","mac_address":"02:00:00:1E:BC:A8","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"53ab876d-30f7-415d-8699-c2fece0c670a"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T22:24:56.902918Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-05-05T22:21:51.237259Z","id":"14388536-757d-4e00-b9b9-e1078dbf7840","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4","mac_address":"02:00:00:1F:D5:9C","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"53ab876d-30f7-415d-8699-c2fece0c670a"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T22:24:57.134918Z","zone":null},{"address":"172.16.32.4/22","created_at":"2025-05-05T22:21:51.237259Z","id":"cb73061d-a8ec-4bc4-8a4e-fb41608a8138","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4","mac_address":"02:00:00:19:A8:49","name":"test_redis_endpoints","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"53ab876d-30f7-415d-8699-c2fece0c670a"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T22:24:57.366514Z","zone":null}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.221665ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2025-05-05T22:21:51.237259Z","id":"32cd31d6-a55c-4603-847e-6e8aa33aafe0","is_ipv6":false,"project_id"[...]
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"dc2ebe98-32cd-4b7d-8ae3-cd56d64fbad4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.806315ms
[...]
