---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-05-14T11:15:01.973499Z","id":"08899428-9d4a-48f4-9144-7a2e0fbf906a","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-14T11:15:01.973499Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.019695ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/08899428-9d4a-48f4-9144-7a2e0fbf906a
        method: GET
      response:
        body: '{"created_at":"2024-05-14T11:15:01.973499Z","id":"08899428-9d4a-48f4-9144-7a2e0fbf906a","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-14T11:15:01.973499Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.926814ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"08899428-9d4a-48f4-9144-7a2e0fbf906a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T11:15:02.228296Z","dhcp_enabled":true,"id":"72a3ed87-f154-40b9-ae87-ab9c97f15c10","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T11:15:02.228296Z","id":"ccb5910d-a65e-4d0f-a76d-18f8d557cdb5","subnet":"172.16.0.0/22","updated_at":"2024-05-14T11:15:02.228296Z"},{"created_at":"2024-05-14T11:15:02.228296Z","id":"3c06c8d4-343c-4510-b7ee-ca0203252d64","subnet":"fd5f:519c:6d46:5091::/64","updated_at":"2024-05-14T11:15:02.228296Z"}],"tags":[],"updated_at":"2024-05-14T11:15:02.228296Z","vpc_id":"08899428-9d4a-48f4-9144-7a2e0fbf906a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.302279ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/72a3ed87-f154-40b9-ae87-ab9c97f15c10
        method: GET
      response:
        body: '{"created_at":"2024-05-14T11:15:02.228296Z","dhcp_enabled":true,"id":"72a3ed87-f154-40b9-ae87-ab9c97f15c10","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T11:15:02.228296Z","id":"ccb5910d-a65e-4d0f-a76d-18f8d557cdb5","subnet":"172.16.0.0/22","updated_at":"2024-05-14T11:15:02.228296Z"},{"created_at":"2024-05-14T11:15:02.228296Z","id":"3c06c8d4-343c-4510-b7ee-ca0203252d64","subnet":"fd5f:519c:6d46:5091::/64","updated_at":"2024-05-14T11:15:02.228296Z"}],"tags":[],"updated_at":"2024-05-14T11:15:02.228296Z","vpc_id":"08899428-9d4a-48f4-9144-7a2e0fbf906a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.169094ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ipam-ip-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"72a3ed87-f154-40b9-ae87-ab9c97f15c10","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T11:15:03.245664Z","endpoint":null,"endpoints":[{"id":"54861143-ba70-4967-878c-fcfd315eb178","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"72a3ed87-f154-40b9-ae87-ab9c97f15c10","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"6a2489e5-eadd-4690-bfb8-60fad47656cb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.375518987s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a2489e5-eadd-4690-bfb8-60fad47656cb
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T11:15:03.245664Z","endpoint":null,"endpoints":[{"id":"54861143-ba70-4967-878c-fcfd315eb178","ip"[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a2489e5-eadd-4690-bfb8-60fad47656cb
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T11:15:03.245664Z","endpoint":null,"endpoints":[{"id":"54861143-ba70-4967-878c-fcfd315eb178","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"72a3ed87-f154-40b9-ae87-ab9c97f15c10","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"6a2489e5-eadd-4690-bfb8-60fad47656cb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.864958ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a2489e5-eadd-4690-bfb8-60fad47656cb/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVSUZuUXpGMGRibnlmV3A2T1B6dGhkc3E4a2FBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalF3Ck5URTBNVEV4TmpFeVdoY05NelF3TlRFeU1URXhOakV5V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2024-05-14T11:15:03.678312Z","id":"7c34c73e-b91d-4d7e-800d-a338c2d50ef4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"6a2489e5-eadd-4690-bfb8-60fad47656cb","mac_address":"02:00:00:1A:A7:10","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"ccb5910d-a65e-4d0f-a76d-18f8d557cdb5"},"tags":["managed","scwdbaas"],"updated_at":"2024-05-14T11:15:40.471304Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.377525ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a2489e5-eadd-4690-bfb8-60fad47656cb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"6a2489e5-eadd-4690-bfb8-60fad47656cb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.256067ms
[...]
