---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.430168Z","custom_routes_propagation_enabled":false,"id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.430168Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.299792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bcb84ce0-a3ba-4985-852a-4cbd21a62ebc/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.430168Z","custom_routes_propagation_enabled":true,"id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.495405Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.560584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bcb84ce0-a3ba-4985-852a-4cbd21a62ebc
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.430168Z","custom_routes_propagation_enabled":true,"id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.495405Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.08875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-vigilant-satoshi","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.650716Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2a476dfe-6e76-439c-839f-e03e009aa04c","name":"tf-pn-vigilant-satoshi","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.650716Z","id":"9fca300c-c2d8-4c0f-a05a-f1fa2c396514","private_network_id":"2a476dfe-6e76-439c-839f-e03e009aa04c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.650716Z","vpc_id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc"},{"created_at":"2025-06-30T15:02:07.650716Z","id":"cff34dc9-867a-44fd-a97b-8d36f485900e","private_network_id":"2a476dfe-6e76-439c-839f-e03e009aa04c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:5fd0::/64","updated_at":"2025-06-30T15:02:07.650716Z","vpc_id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc"}],"tags":[],"updated_at":"2025-06-30T15:02:07.650716Z","vpc_id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 628.898ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2a476dfe-6e76-439c-839f-e03e009aa04c
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.650716Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2a476dfe-6e76-439c-839f-e03e009aa04c","name":"tf-pn-vigilant-satoshi","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.650716Z","id":"9fca300c-c2d8-4c0f-a05a-f1fa2c396514","private_network_id":"2a476dfe-6e76-439c-839f-e03e009aa04c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.650716Z","vpc_id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc"},{"created_at":"2025-06-30T15:02:07.650716Z","id":"cff34dc9-867a-44fd-a97b-8d36f485900e","private_network_id":"2a476dfe-6e76-439c-839f-e03e009aa04c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:5fd0::/64","updated_at":"2025-06-30T15:02:07.650716Z","vpc_id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc"}],"tags":[],"updated_at":"2025-06-30T15:02:07.650716Z","vpc_id":"bcb84ce0-a3ba-4985-852a-4cbd21a62ebc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.912083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"2a476dfe-6e76-439c-839f-e03e009aa04c"},"is_ipv6":false,"tags":["terraform-test","data_scaleway_ipam_ips"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.952803Z","id":"6351c66e-638a-4925-be77-2cb82e861f6f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"9fca300c-c2d8-4c0f-a05a-f1fa2c396514"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-30T15:02:10.952803Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.988071041s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6351c66e-638a-4925-be77-2cb82e861f6f
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.952803Z","id":"6351c66e-638a-4925-be77-2cb82e861f6f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"9fca300c-c2d8-4c0f-a05a-f1fa2c396514"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-30T15:02:10.952803Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.519167ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.952803Z","id":"6351c66e-638a-4925-be77-2cb82e861f6f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"9fca300c-c2d8-4c0f-a05a-f1fa2c396514"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-30T15:02:10.952803Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-06-30T15:02:10.950270Z","id":"e6ed3dfe-94e5-463e-82a7-6a73266dfa59","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"9fca300c-c2d8-4c0f-a05a-f1fa2c396514"},"tags":["terraform-test","data_scaleway_ipam_ips"],"updated_at":"2025-06-30T15:02:10.950270Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.869875ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&resource_type=unknown_type&tags=terraform-test&tags=data_scaleway_ipam_ips&zonal=fr-par-2
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.17975ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6351c66e-638a-4925-be77-2cb82e861f6f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"6351c66e-638a-4925-be77-2cb82e861f6f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.314083ms
[...]
