---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:11.965247Z\",\"updated_at\":\"2025-08-29T16:16:11.965247Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.530016ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/be45cb78-1635-4b5f-839d-1ec5d3c76a57
    method: GET
  response:
    body: "{\"id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:11.965247Z\",\"updated_at\":\"2025-08-29T16:16:11.965247Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.01473ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-festive-kowalevski\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"f1d84106-0542-47c9-8e17-d00c072e6d9f\",\"name\":\"tf-pn-festive-kowalevski\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.175878Z\",\"updated_at\":\"2025-08-29T16:16:12.175878Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"bcfa4183-65de-4533-a0ca-275785e39b74\",\"created_at\":\"2025-08-29T16:16:12.175878Z\",\"updated_at\":\"2025-08-29T16:16:12.175878Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1d84106-0542-47c9-8e17-d00c072e6d9f\",\"vpc_id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\"},{\"id\":\"b691d1e0-096d-4337-bfcd-f46a8f328647\",\"created_at\":\"2025-08-29T16:16:12.175878Z\",\"updated_at\":\"2025-08-29T16:16:12.175878Z\",\"subnet\":\"fde7:767f:1bb5:e354::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1d84106-0542-47c9-8e17-d00c072e6d9f\",\"vpc_id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\"}],\"vpc_id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 788.224128ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f1d84106-0542-47c9-8e17-d00c072e6d9f
    method: GET
  response:
    body: "{\"id\":\"f1d84106-0542-47c9-8e17-d00c072e6d9f\",\"name\":\"tf-pn-festive-kowalevski\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.175878Z\",\"updated_at\":\"2025-08-29T16:16:12.175878Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"bcfa4183-65de-4533-a0ca-275785e39b74\",\"created_at\":\"2025-08-29T16:16:12.175878Z\",\"updated_at\":\"2025-08-29T16:16:12.175878Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1d84106-0542-47c9-8e17-d00c072e6d9f\",\"vpc_id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\"},{\"id\":\"b691d1e0-096d-4337-bfcd-f46a8f328647\",\"created_at\":\"2025-08-29T16:16:12.175878Z\",\"updated_at\":\"2025-08-29T16:16:12.175878Z\",\"subnet\":\"fde7:767f:1bb5:e354::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1d84106-0542-47c9-8e17-d00c072e6d9f\",\"vpc_id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\"}],\"vpc_id\":\"be45cb78-1635-4b5f-839d-1ec5d3c76a57\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 29.303509ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"f1d84106-0542-47c9-8e17-d00c072e6d9f\"},\"is_ipv6\":false,\"tags\":[],\"resource\":{\"mac_address\":\"bc:24:11:74:d0:5a\",\"name\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"e0eefc81-a209-4ec6-86f7-2910a6255083\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:13.229193Z\",\"updated_at\":\"2025-08-29T16:16:13.229193Z\",\"source\":{\"subnet_id\":\"bcfa4183-65de-4533-a0ca-275785e39b74\"},\"resource\":{\"type\":\"custom\",\"id\":\"e0eefc81-a209-4ec6-86f7-2910a6255083\",\"mac_address\":\"BC:24:11:74:D0:5A\",\"name\":null},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 385.319379ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/e0eefc81-a209-4ec6-86f7-2910a6255083
    method: GET
  response:
    body: "{\"id\":\"e0eefc81-a209-4ec6-86f7-2910a6255083\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:13.229193Z\",\"updated_at\":\"2025-08-29T16:16:13.229193Z\",\"source\":{\"subnet_id\":\"bcfa4183-65de-4533-a0ca-275785e39b74\"},\"resource\":{\"type\":\"custom\",\"id\":\"e0eefc81-a209-4ec6-86f7-2910a6255083\",\"mac_address\":\"BC:24:11:74:D0:5A\",\"name\":null},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.464617ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"from_resource\":{\"mac_address\":\"bc:24:11:74:d0:5a\",\"name\":null},\"to_resource\":{\"mac_address\":\"bc:24:11:74:d0:5b\",\"name\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/e0eefc81-a209-4ec6-86f7-2910a6255083/move
    method: POST
  response:
    body: "{\"id\":\"e0eefc81-a209-4ec6-86f7-2910a6255083\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:13.229193Z\",\"updated_at\":\"2025-08-29T16:16:18.849103Z\",\"source\":{\"subnet_id\":\"bcfa4183-65de-4533-a0ca-275785e39b74\"},\"resource\":{\"type\":\"custom\",\"id\":\"e0eefc81-a209-4ec6-86f7-2910a6255083\",\"mac_address\":\"BC:24:11:74:D0:5B\",\"name\":null},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.454066ms
[...]
- id: 39
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/e0eefc81-a209-4ec6-86f7-2910a6255083
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"e0eefc81-a209-4ec6-86f7-2910a6255083\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.785354ms
