---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:26:40.556578Z","custom_routes_propagation_enabled":true,"id":"2326d570-9f1d-4b78-bba3-b46784272975","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T12:26:40.556578Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.416816ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.371873ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2326d570-9f1d-4b78-bba3-b46784272975
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:26:40.556578Z","custom_routes_propagation_enabled":true,"id":"2326d570-9f1d-4b78-bba3-b46784272975","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T12:26:40.556578Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.074295ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-musing-albattani","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"2326d570-9f1d-4b78-bba3-b46784272975","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:26:40.817338Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"e19dc26c-ffb9-46d7-955b-56aeed372bb3","name":"tf-pn-musing-albattani","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-24T12:26:40.817338Z","id":"ddb33113-d94e-4370-8911-51b47478fd3e","private_network_id":"e19dc26c-ffb9-46d7-955b-56aeed372bb3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"172.16.32.0/22","updated_at":"2026-08-24T12:26:40.817338Z","vpc_id":"2326d570-9f1d-4b78-bba3-b46784272975"},{"created_at":"2026-08-24T12:26:40.817338Z","id":"2d2dd6c2-25a1-47e6-9a0b-c17e88c28827","private_network_id":"e19dc26c-ffb9-46d7-955b-56aeed372bb3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:eef5::/64","updated_at":"2026-08-24T12:26:40.817338Z","vpc_id":"2326d570-9f1d-4b78-bba3-b46784272975"}],"tags":[],"updated_at":"2026-08-24T12:26:40.817338Z","vpc_id":"2326d570-9f1d-4b78-bba3-b46784272975"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 816.916081ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e19dc26c-ffb9-46d7-955b-56aeed372bb3
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:26:40.817338Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"e19dc26c-ffb9-46d7-955b-56aeed372bb3","name":"tf-pn-musing-albattani","organization_id"[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"e19dc26c-ffb9-46d7-955b-56aeed372bb3"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2026-08-24T12:26:42.113311Z","id":"ef264cf8-58be-40a3-bdc3-4666d2eb4188","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ddb33113-d94e-4370-8911-51b47478fd3e"},"tags":[],"updated_at":"2026-08-24T12:26:42.113311Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.605456ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ef264cf8-58be-40a3-bdc3-4666d2eb4188
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2026-08-24T12:26:42.113311Z","id":"ef264cf8-58be-40a3-bdc3-4666d2eb4188","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ddb33113-d94e-4370-8911-51b47478fd3e"},"tags":[],"updated_at":"2026-08-24T12:26:42.113311Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.658396ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ef264cf8-58be-40a3-bdc3-4666d2eb4188
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"ef264cf8-58be-40a3-bdc3-4666d2eb4188","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.414431ms
