---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-11-20T14:09:05.682639Z","custom_routes_propagation_enabled":true,"id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T14:09:05.682639Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.373375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/98952c9a-4d48-4fb8-84c9-7b08b89a8554
        method: GET
      response:
        body: '{"created_at":"2025-11-20T14:09:05.682639Z","custom_routes_propagation_enabled":true,"id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T14:09:05.682639Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.090458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-pensive-black","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-20T14:09:05.841028Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0f3f52ea-97a3-405c-be24-2722a508a2ea","name":"tf-pn-pensive-black","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T14:09:05.841028Z","id":"6935827d-20c0-457e-8298-6133bd36c8ea","private_network_id":"0f3f52ea-97a3-405c-be24-2722a508a2ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-20T14:09:05.841028Z","vpc_id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554"},{"created_at":"2025-11-20T14:09:05.841028Z","id":"472b51aa-09f8-4b5f-b185-5f22c1ece53c","private_network_id":"0f3f52ea-97a3-405c-be24-2722a508a2ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f066::/64","updated_at":"2025-11-20T14:09:05.841028Z","vpc_id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554"}],"tags":[],"updated_at":"2025-11-20T14:09:05.841028Z","vpc_id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.544542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0f3f52ea-97a3-405c-be24-2722a508a2ea
        method: GET
      response:
        body: '{"created_at":"2025-11-20T14:09:05.841028Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0f3f52ea-97a3-405c-be24-2722a508a2ea","name":"tf-pn-pensive-black","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T14:09:05.841028Z","id":"6935827d-20c0-457e-8298-6133bd36c8ea","private_network_id":"0f3f52ea-97a3-405c-be24-2722a508a2ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-20T14:09:05.841028Z","vpc_id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554"},{"created_at":"2025-11-20T14:09:05.841028Z","id":"472b51aa-09f8-4b5f-b185-5f22c1ece53c","private_network_id":"0f3f52ea-97a3-405c-be24-2722a508a2ea","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f066::/64","updated_at":"2025-11-20T14:09:05.841028Z","vpc_id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554"}],"tags":[],"updated_at":"2025-11-20T14:09:05.841028Z","vpc_id":"98952c9a-4d48-4fb8-84c9-7b08b89a8554"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.990708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"0f3f52ea-97a3-405c-be24-2722a508a2ea"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-11-20T14:09:06.717033Z","id":"94384594-8ccb-4fe5-bbc8-fa0183ab5b30","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"6935827d-20c0-457e-8298-6133bd36c8ea"},"tags":[],"updated_at":"2025-11-20T14:09:06.717033Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.782334ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/94384594-8ccb-4fe5-bbc8-fa0183ab5b30
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-11-20T14:09:06.717033Z","id":"94384594-8ccb-4fe5-bbc8-fa0183ab5b30","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"6935827d-20c0-457e-8298-6133bd36c8ea"},"tags":[],"updated_at":"2025-11-20T14:09:06.717033Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.850791ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/94384594-8ccb-4fe5-bbc8-fa0183ab5b30
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"94384594-8ccb-4fe5-bbc8-fa0183ab5b30","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.971208ms
