---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.193894Z\",\"updated_at\":\"2025-08-29T16:16:12.193894Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.228543ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f5be3135-e6c8-4117-81f5-c1c418f085b6
    method: GET
  response:
    body: "{\"id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.193894Z\",\"updated_at\":\"2025-08-29T16:16:12.193894Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 56.152883ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-modest-heisenberg\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"message\":\"internal error\"}"
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: 2.880091677s
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-modest-heisenberg\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"7539fb26-733a-4796-b896-baf27e04e8e5\",\"name\":\"tf-pn-modest-heisenberg\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:17.254091Z\",\"updated_at\":\"2025-08-29T16:16:17.254091Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"fb2c17a7-67a3-4366-b422-de5fec0c1390\",\"created_at\":\"2025-08-29T16:16:17.254091Z\",\"updated_at\":\"2025-08-29T16:16:17.254091Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"7539fb26-733a-4796-b896-baf27e04e8e5\",\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\"},{\"id\":\"ae3aa64c-2ede-4a78-9174-65f26b6a9a6e\",\"created_at\":\"2025-08-29T16:16:17.254091Z\",\"updated_at\":\"2025-08-29T16:16:17.254091Z\",\"subnet\":\"fde7:767f:1bb5:3f28::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"7539fb26-733a-4796-b896-baf27e04e8e5\",\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\"}],\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 699.965507ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7539fb26-733a-4796-b896-baf27e04e8e5
    method: GET
  response:
    body: "{\"id\":\"7539fb26-733a-4796-b896-baf27e04e8e5\",\"name\":\"tf-pn-modest-heisenberg\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:17.254091Z\",\"updated_at\":\"2025-08-29T16:16:17.254091Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"fb2c17a7-67a3-4366-b422-de5fec0c1390\",\"created_at\":\"2025-08-29T16:16:17.254091Z\",\"updated_at\":\"2025-08-29T16:16:17.254091Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"7539fb26-733a-4796-b896-baf27e04e8e5\",\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\"},{\"id\":\"ae3aa64c-2ede-4a78-9174-65f26b6a9a6e\",\"created_at\":\"2025-08-29T16:16:17.254091Z\",\"updated_at\":\"2025-08-29T16:16:17.254091Z\",\"subnet\":\"fde7:767f:1bb5:3f28::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"7539fb26-733a-4796-b896-baf27e04e8e5\",\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\"}],\"vpc_id\":\"f5be3135-e6c8-4117-81f5-c1c418f085b6\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 174.685273ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"7539fb26-733a-4796-b896-baf27e04e8e5\"},\"is_ipv6\":false,\"address\":\"172.16.32.7\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"1b50f209-9b2c-4118-9f1b-2ecb81e58d3c\",\"address\":\"172.16.32.7/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:18.197806Z\",\"updated_at\":\"2025-08-29T16:16:18.197806Z\",\"source\":{\"subnet_id\":\"fb2c17a7-67a3-4366-b422-de5fec0c1390\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 150.309229ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/1b50f209-9b2c-4118-9f1b-2ecb81e58d3c
    method: GET
  response:
    body: "{\"id\":\"1b50f209-9b2c-4118-9f1b-2ecb81e58d3c\",\"address\":\"172.16.32.7/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:18.197806Z\",\"updated_at\":\"2025-08-29T16:16:18.197806Z\",\"source\":{\"subnet_id\":\"fb2c17a7-67a3-4366-b422-de5fec0c1390\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 27.340377ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/1b50f209-9b2c-4118-9f1b-2ecb81e58d3c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"1b50f209-9b2c-4118-9f1b-2ecb81e58d3c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 66.761175ms
