---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.533189Z","custom_routes_propagation_enabled":false,"id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.533189Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.016541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e4e22609-5cd5-47a5-a7cf-85e05de80f65/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.533189Z","custom_routes_propagation_enabled":true,"id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.582019Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.760292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e4e22609-5cd5-47a5-a7cf-85e05de80f65
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.533189Z","custom_routes_propagation_enabled":true,"id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.582019Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.993333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-xenodochial-hamilton","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.703140Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"76724308-953a-4386-a146-8da74c570602","name":"tf-pn-xenodochial-hamilton","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.703140Z","id":"86195cda-7e40-40f1-b7e0-b7296f5dfc2c","private_network_id":"76724308-953a-4386-a146-8da74c570602","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.703140Z","vpc_id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65"},{"created_at":"2025-06-30T15:02:07.703140Z","id":"92884e36-abcf-4091-9980-0898a2cb4f8e","private_network_id":"76724308-953a-4386-a146-8da74c570602","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:df1f::/64","updated_at":"2025-06-30T15:02:07.703140Z","vpc_id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65"}],"tags":[],"updated_at":"2025-06-30T15:02:07.703140Z","vpc_id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 633.991458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/76724308-953a-4386-a146-8da74c570602
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.703140Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"76724308-953a-4386-a146-8da74c570602","name":"tf-pn-xenodochial-hamilton","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.703140Z","id":"86195cda-7e40-40f1-b7e0-b7296f5dfc2c","private_network_id":"76724308-953a-4386-a146-8da74c570602","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.703140Z","vpc_id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65"},{"created_at":"2025-06-30T15:02:07.703140Z","id":"92884e36-abcf-4091-9980-0898a2cb4f8e","private_network_id":"76724308-953a-4386-a146-8da74c570602","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:df1f::/64","updated_at":"2025-06-30T15:02:07.703140Z","vpc_id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65"}],"tags":[],"updated_at":"2025-06-30T15:02:07.703140Z","vpc_id":"e4e22609-5cd5-47a5-a7cf-85e05de80f65"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.964291ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"76724308-953a-4386-a146-8da74c570602"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.950563Z","id":"7d5c754f-226d-40d1-bf81-d6bc67013da1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"86195cda-7e40-40f1-b7e0-b7296f5dfc2c"},"tags":[],"updated_at":"2025-06-30T15:02:10.950563Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.922825542s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7d5c754f-226d-40d1-bf81-d6bc67013da1
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.950563Z","id":"7d5c754f-226d-40d1-bf81-d6bc67013da1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"86195cda-7e40-40f1-b7e0-b7296f5dfc2c"},"tags":[],"updated_at":"2025-06-30T15:02:10.950563Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.469083ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7d5c754f-226d-40d1-bf81-d6bc67013da1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"7d5c754f-226d-40d1-bf81-d6bc67013da1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.230291ms
