---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.427518Z\",\"updated_at\":\"2025-08-29T16:16:12.427518Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.988798ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5586d064-d81e-4ba4-9db4-e1e2807a58eb
    method: GET
  response:
    body: "{\"id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.427518Z\",\"updated_at\":\"2025-08-29T16:16:12.427518Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.497285ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-musing-faraday\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"f345f515-b558-4e54-9eef-0ed5855cae84\",\"name\":\"tf-pn-musing-faraday\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:14.398423Z\",\"updated_at\":\"2025-08-29T16:16:14.398423Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"42d911e3-9604-45d9-b675-e2090b09c099\",\"created_at\":\"2025-08-29T16:16:14.398423Z\",\"updated_at\":\"2025-08-29T16:16:14.398423Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f345f515-b558-4e54-9eef-0ed5855cae84\",\"vpc_id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\"},{\"id\":\"1ab50617-443a-4399-bc05-236942de8e48\",\"created_at\":\"2025-08-29T16:16:14.398423Z\",\"updated_at\":\"2025-08-29T16:16:14.398423Z\",\"subnet\":\"fde7:767f:1bb5:ff12::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f345f515-b558-4e54-9eef-0ed5855cae84\",\"vpc_id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\"}],\"vpc_id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.653123726s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f345f515-b558-4e54-9eef-0ed5855cae84
    method: GET
  response:
    body: "{\"id\":\"f345f515-b558-4e54-9eef-0ed5855cae84\",\"name\":\"tf-pn-musing-faraday\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:14.398423Z\",\"updated_at\":\"2025-08-29T16:16:14.398423Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"42d911e3-9604-45d9-b675-e2090b09c099\",\"created_at\":\"2025-08-29T16:16:14.398423Z\",\"updated_at\":\"2025-08-29T16:16:14.398423Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f345f515-b558-4e54-9eef-0ed5855cae84\",\"vpc_id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\"},{\"id\":\"1ab50617-443a-4399-bc05-236942de8e48\",\"created_at\":\"2025-08-29T16:16:14.398423Z\",\"updated_at\":\"2025-08-29T16:16:14.398423Z\",\"subnet\":\"fde7:767f:1bb5:ff12::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f345f515-b558-4e54-9eef-0ed5855cae84\",\"vpc_id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\"}],\"vpc_id\":\"5586d064-d81e-4ba4-9db4-e1e2807a58eb\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.992834ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"f345f515-b558-4e54-9eef-0ed5855cae84\"},\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"99a58e66-04ff-4507-95a2-4754a46f1b1a\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:15.474275Z\",\"updated_at\":\"2025-08-29T16:16:15.474275Z\",\"source\":{\"subnet_id\":\"42d911e3-9604-45d9-b675-e2090b09c099\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 219.991536ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/99a58e66-04ff-4507-95a2-4754a46f1b1a
    method: GET
  response:
    body: "{\"id\":\"99a58e66-04ff-4507-95a2-4754a46f1b1a\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:15.474275Z\",\"updated_at\":\"2025-08-29T16:16:15.474275Z\",\"source\":{\"subnet_id\":\"42d911e3-9604-45d9-b675-e2090b09c099\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 73.062852ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/99a58e66-04ff-4507-95a2-4754a46f1b1a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"99a58e66-04ff-4507-95a2-4754a46f1b1a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 34.788539ms
