---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.775997Z","id":"5c61006d-2533-4e62-a016-98950570bff9","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.775997Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.398208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5c61006d-2533-4e62-a016-98950570bff9
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.775997Z","id":"5c61006d-2533-4e62-a016-98950570bff9","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.775997Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.645083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hungry-mendeleev","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"5c61006d-2533-4e62-a016-98950570bff9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.867502Z","dhcp_enabled":true,"id":"618d1df0-4bb2-48e8-bf4b-91e56eb40be4","name":"tf-pn-hungry-mendeleev","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.867502Z","id":"2a4bcb3c-26e8-4159-b5c8-ceb916ce050f","private_network_id":"618d1df0-4bb2-48e8-bf4b-91e56eb40be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.867502Z","vpc_id":"5c61006d-2533-4e62-a016-98950570bff9"},{"created_at":"2025-01-24T14:07:40.867502Z","id":"afce69e4-5d6e-4f34-a097-139f2cd786e2","private_network_id":"618d1df0-4bb2-48e8-bf4b-91e56eb40be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6723::/64","updated_at":"2025-01-24T14:07:40.867502Z","vpc_id":"5c61006d-2533-4e62-a016-98950570bff9"}],"tags":[],"updated_at":"2025-01-24T14:07:40.867502Z","vpc_id":"5c61006d-2533-4e62-a016-98950570bff9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.346048125s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/618d1df0-4bb2-48e8-bf4b-91e56eb40be4
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.867502Z","dhcp_enabled":true,"id":"618d1df0-4bb2-48e8-bf4b-91e56eb40be4","name":"tf-pn-hungry-mendeleev","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.867502Z","id":"2a4bcb3c-26e8-4159-b5c8-ceb916ce050f","private_network_id":"618d1df0-4bb2-48e8-bf4b-91e56eb40be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.867502Z","vpc_id":"5c61006d-2533-4e62-a016-98950570bff9"},{"created_at":"2025-01-24T14:07:40.867502Z","id":"afce69e4-5d6e-4f34-a097-139f2cd786e2","private_network_id":"618d1df0-4bb2-48e8-bf4b-91e56eb40be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6723::/64","updated_at":"2025-01-24T14:07:40.867502Z","vpc_id":"5c61006d-2533-4e62-a016-98950570bff9"}],"tags":[],"updated_at":"2025-01-24T14:07:40.867502Z","vpc_id":"5c61006d-2533-4e62-a016-98950570bff9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.1565ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"618d1df0-4bb2-48e8-bf4b-91e56eb40be4"},"is_ipv6":false,"tags":[],"resource":{"mac_address":"bc:24:11:74:d0:5a","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:42.488177Z","id":"2d4df01d-b32a-425f-8a68-864b7722b6f5","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"2d4df01d-b32a-425f-8a68-864b7722b6f5","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"2a4bcb3c-26e8-4159-b5c8-ceb916ce050f"},"tags":[],"updated_at":"2025-01-24T14:07:42.488177Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 751.994625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2d4df01d-b32a-425f-8a68-864b7722b6f5
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:42.488177Z","id":"2d4df01d-b32a-425f-8a68-864b7722b6f5","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"2d4df01d-b32a-425f-8a68-864b7722b6f5","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"2a4bcb3c-26e8-4159-b5c8-ceb916ce050f"},"tags":[],"updated_at":"2025-01-24T14:07:42.488177Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.248083ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"from_resource":{"mac_address":"bc:24:11:74:d0:5a","name":null},"to_resource":{"mac_address":"bc:24:11:74:d0:5b","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2d4df01d-b32a-425f-8a68-864b7722b6f5/move
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:42.488177Z","id":"2d4df01d-b32a-425f-8a68-864b7722b6f5","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"2d4df01d-b32a-425f-8a68-864b7722b6f5","mac_address":"BC:24:11:74:D0:5B","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"2a4bcb3c-26e8-4159-b5c8-ceb916ce050f"},"tags":[],"updated_at":"2025-01-24T14:07:48.142087Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.346417ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2d4df01d-b32a-425f-8a68-864b7722b6f5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"2d4df01d-b32a-425f-8a68-864b7722b6f5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.165667ms
