---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.345216Z","custom_routes_propagation_enabled":false,"id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.345216Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.9885ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/15c2cd0d-682d-4d3d-a1e9-ccc2795ea360
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.345216Z","custom_routes_propagation_enabled":false,"id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.345216Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.332333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-great-edison","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.485919Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d8097484-8569-47e7-95d4-f6cc7ef0f64a","name":"tf-pn-great-edison","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.485919Z","id":"9782ef74-9ce6-4d8b-a937-f1cf4837971a","private_network_id":"d8097484-8569-47e7-95d4-f6cc7ef0f64a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.485919Z","vpc_id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360"},{"created_at":"2025-06-10T15:28:03.485919Z","id":"311ba436-1563-4f13-892f-72a356f217f7","private_network_id":"d8097484-8569-47e7-95d4-f6cc7ef0f64a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:cc25::/64","updated_at":"2025-06-10T15:28:03.485919Z","vpc_id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360"}],"tags":[],"updated_at":"2025-06-10T15:28:03.485919Z","vpc_id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 588.095209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d8097484-8569-47e7-95d4-f6cc7ef0f64a
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.485919Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d8097484-8569-47e7-95d4-f6cc7ef0f64a","name":"tf-pn-great-edison","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.485919Z","id":"9782ef74-9ce6-4d8b-a937-f1cf4837971a","private_network_id":"d8097484-8569-47e7-95d4-f6cc7ef0f64a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.485919Z","vpc_id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360"},{"created_at":"2025-06-10T15:28:03.485919Z","id":"311ba436-1563-4f13-892f-72a356f217f7","private_network_id":"d8097484-8569-47e7-95d4-f6cc7ef0f64a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:cc25::/64","updated_at":"2025-06-10T15:28:03.485919Z","vpc_id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360"}],"tags":[],"updated_at":"2025-06-10T15:28:03.485919Z","vpc_id":"15c2cd0d-682d-4d3d-a1e9-ccc2795ea360"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.154291ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"d8097484-8569-47e7-95d4-f6cc7ef0f64a"},"is_ipv6":false,"tags":[],"resource":{"mac_address":"bc:24:11:74:d0:5a","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:28:04.298506Z","id":"f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"9782ef74-9ce6-4d8b-a937-f1cf4837971a"},"tags":[],"updated_at":"2025-06-10T15:28:04.298506Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.006792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:28:04.298506Z","id":"f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"9782ef74-9ce6-4d8b-a937-f1cf4837971a"},"tags":[],"updated_at":"2025-06-10T15:28:04.298506Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.252208ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"from_resource":{"mac_address":"bc:24:11:74:d0:5a","name":null},"to_resource":{"mac_address":"bc:24:11:74:d0:5b","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28/move
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:28:04.298506Z","id":"f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28","mac_address":"BC:24:11:74:D0:5B","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"9782ef74-9ce6-4d8b-a937-f1cf4837971a"},"tags":[],"updated_at":"2025-06-10T15:28:05.377435Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.357542ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"f31b1c0a-58b1-4a0e-ba4d-d0ca00c74c28","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.703417ms
