---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.333159Z","custom_routes_propagation_enabled":false,"id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.333159Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.45625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/fc4c5842-7a67-4f55-8ed2-37fcfd614a2f
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.333159Z","custom_routes_propagation_enabled":false,"id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.333159Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.725292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-strange-raman","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.533748Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6cd74f92-6066-4ef4-ae1e-9721cc1ae51d","name":"tf-pn-strange-raman","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.533748Z","id":"8741ee89-9f55-4db6-9673-a86fce8fa116","private_network_id":"6cd74f92-6066-4ef4-ae1e-9721cc1ae51d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.533748Z","vpc_id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f"},{"created_at":"2025-06-10T15:28:03.533748Z","id":"0133ee41-de8e-4ab5-b8c8-abebb830a720","private_network_id":"6cd74f92-6066-4ef4-ae1e-9721cc1ae51d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:17c5::/64","updated_at":"2025-06-10T15:28:03.533748Z","vpc_id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f"}],"tags":[],"updated_at":"2025-06-10T15:28:03.533748Z","vpc_id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 709.164958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6cd74f92-6066-4ef4-ae1e-9721cc1ae51d
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.533748Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6cd74f92-6066-4ef4-ae1e-9721cc1ae51d","name":"tf-pn-strange-raman","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.533748Z","id":"8741ee89-9f55-4db6-9673-a86fce8fa116","private_network_id":"6cd74f92-6066-4ef4-ae1e-9721cc1ae51d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.533748Z","vpc_id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f"},{"created_at":"2025-06-10T15:28:03.533748Z","id":"0133ee41-de8e-4ab5-b8c8-abebb830a720","private_network_id":"6cd74f92-6066-4ef4-ae1e-9721cc1ae51d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:17c5::/64","updated_at":"2025-06-10T15:28:03.533748Z","vpc_id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f"}],"tags":[],"updated_at":"2025-06-10T15:28:03.533748Z","vpc_id":"fc4c5842-7a67-4f55-8ed2-37fcfd614a2f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.383ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"6cd74f92-6066-4ef4-ae1e-9721cc1ae51d"},"is_ipv6":false,"tags":["terraform-test","ipam"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:28:04.390766Z","id":"ba0192d4-2b9b-4ea4-b919-fac6a47505fe","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8741ee89-9f55-4db6-9673-a86fce8fa116"},"tags":["terraform-test","ipam"],"updated_at":"2025-06-10T15:28:04.390766Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.422416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ba0192d4-2b9b-4ea4-b919-fac6a47505fe
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:28:04.390766Z","id":"ba0192d4-2b9b-4ea4-b919-fac6a47505fe","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8741ee89-9f55-4db6-9673-a86fce8fa116"},"tags":["terraform-test","ipam"],"updated_at":"2025-06-10T15:28:04.390766Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.045958ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ba0192d4-2b9b-4ea4-b919-fac6a47505fe
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"ba0192d4-2b9b-4ea4-b919-fac6a47505fe","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.55275ms
