---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.451348Z","custom_routes_propagation_enabled":false,"id":"3a4ad4f0-9af8-47de-86f3-716e947f79be","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.451348Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.193542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3a4ad4f0-9af8-47de-86f3-716e947f79be/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.451348Z","custom_routes_propagation_enabled":true,"id":"3a4ad4f0-9af8-47de-86f3-716e947f79be","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.526207Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.300542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3a4ad4f0-9af8-47de-86f3-716e947f79be
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.451348Z","custom_routes_propagation_enabled":true,"id":"3a4ad4f0-9af8-47de-86f3-716e947f79be","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.526207Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.485333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hopeful-mayer","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 1.810641208s
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hopeful-mayer","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:11.477844Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"43834507-0205-4b0c-9c40-8f0faa7a56ce","name":"tf-pn-hopeful-mayer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:11.477844Z","id":"20d32be0-7443-4f19-bc9d-4a256dfc9bdd","private_network_id":"43834507-0205-4b0c-9c40-8f0faa7a56ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:11.477844Z","vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be"},{"created_at":"2025-06-30T15:02:11.477844Z","id":"b7087a9e-ee39-4a28-a595-a2efdd610ad8","private_network_id":"43834507-0205-4b0c-9c40-8f0faa7a56ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:4d22::/64","updated_at":"2025-06-30T15:02:11.477844Z","vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be"}],"tags":[],"updated_at":"2025-06-30T15:02:11.477844Z","vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 566.628709ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/43834507-0205-4b0c-9c40-8f0faa7a56ce
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:11.477844Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"43834507-0205-4b0c-9c40-8f0faa7a56ce","name":"tf-pn-hopeful-mayer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:11.477844Z","id":"20d32be0-7443-4f19-bc9d-4a256dfc9bdd","private_network_id":"43834507-0205-4b0c-9c40-8f0faa7a56ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:11.477844Z","vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be"},{"created_at":"2025-06-30T15:02:11.477844Z","id":"b7087a9e-ee39-4a28-a595-a2efdd610ad8","private_network_id":"43834507-0205-4b0c-9c40-8f0faa7a56ce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:4d22::/64","updated_at":"2025-06-30T15:02:11.477844Z","vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be"}],"tags":[],"updated_at":"2025-06-30T15:02:11.477844Z","vpc_id":"3a4ad4f0-9af8-47de-86f3-716e947f79be"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.986666ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"43834507-0205-4b0c-9c40-8f0faa7a56ce"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-30T15:02:13.236170Z","id":"2ae75ad9-e5f0-47a8-9505-27b80cf219a1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"20d32be0-7443-4f19-bc9d-4a256dfc9bdd"},"tags":[],"updated_at":"2025-06-30T15:02:13.236170Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.237219917s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2ae75ad9-e5f0-47a8-9505-27b80cf219a1
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-30T15:02:13.236170Z","id":"2ae75ad9-e5f0-47a8-9505-27b80cf219a1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"20d32be0-7443-4f19-bc9d-4a256dfc9bdd"},"tags":[],"updated_at":"2025-06-30T15:02:13.236170Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.5695ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2ae75ad9-e5f0-47a8-9505-27b80cf219a1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"2ae75ad9-e5f0-47a8-9505-27b80cf219a1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.432209ms
