---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"310b7044-9542-4a34-9265-b6d987ef6914\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.002166Z\",\"updated_at\":\"2025-08-29T16:16:12.002166Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.181267ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/310b7044-9542-4a34-9265-b6d987ef6914
    method: GET
  response:
    body: "{\"id\":\"310b7044-9542-4a34-9265-b6d987ef6914\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.002166Z\",\"updated_at\":\"2025-08-29T16:16:12.002166Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.333649ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-pensive-visvesvaraya\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"310b7044-9542-4a34-9265-b6d987ef6914\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e\",\"name\":\"tf-pn-pensive-visvesvaraya\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.413713Z\",\"updated_at\":\"2025-08-29T16:16:12.413713Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"137df67d-0804-4b95-850e-06b580957e5d\",\"created_at\":\"2025-08-29T16:16:12.413713Z\",\"updated_at\":\"2025-08-29T16:16:12.413713Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e\",\"vpc_id\":\"310b7044-9542-4a34-9265-b6d987ef6914\"},{\"id\":\"711ff384-95df-44f6-9e5b-76125a215daa\",\"created_at\":\"2025-08-29T16:16:12.413713Z\",\"updated_at\":\"2025-08-29T16:16:12.413713Z\",\"subnet\":\"fde7:767f:1bb5:a7b0::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e\",\"vpc_id\":\"310b7044-9542-4a34-9265-b6d987ef6914\"}],\"vpc_id\":\"310b7044-9542-4a34-9265-b6d987ef6914\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.150433982s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e
    method: GET
  response:
    body: "{\"id\":\"8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e\",\"name\":\"tf-pn-pensive-visvesvaraya\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:16:12.413713Z\",\"updated_at\":\"2025-08-29T16:16:12.413713Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"137df67d-0804-4b95-850e-06b580957e5d\",\"created_at\":\"2025-08-29T16:16:12.413713Z\",\"updated_at\":\"2025-08-29T16:16:12.413713Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e\",\"vpc_id\":\"310b7044-9542-4a34-9265-b6d987ef6914\"},{\"id\":\"711ff384-95df-44f6-9e5b-76125a215daa\",\"created_at\":\"2025-08-29T16:16:12.413713Z\",\"updated_at\":\"2025-08-29T16:16:12.413713Z\",\"subnet\":\"fde7:767f:1bb5:a7b0::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e\",\"vpc_id\":\"310b7044-9542-4a34-9265-b6d987ef6914\"}],\"vpc_id\":\"310b7044-9542-4a34-9265-b6d987ef6914\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 30.9267ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"8200a3c1-b1eb-4445-b21d-e1d5ade3ed3e\"},\"is_ipv6\":false,\"tags\":[\"terraform-test\",\"ipam\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"5f6fd9a2-d633-418c-b159-1fa5abf6542b\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:13.577650Z\",\"updated_at\":\"2025-08-29T16:16:13.577650Z\",\"source\":{\"subnet_id\":\"137df67d-0804-4b95-850e-06b580957e5d\"},\"resource\":null,\"tags\":[\"terraform-test\",\"ipam\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 198.217162ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/5f6fd9a2-d633-418c-b159-1fa5abf6542b
    method: GET
  response:
    body: "{\"id\":\"5f6fd9a2-d633-418c-b159-1fa5abf6542b\",\"address\":\"172.16.32.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:16:13.577650Z\",\"updated_at\":\"2025-08-29T16:16:13.577650Z\",\"source\":{\"subnet_id\":\"137df67d-0804-4b95-850e-06b580957e5d\"},\"resource\":null,\"tags\":[\"terraform-test\",\"ipam\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 73.909464ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/5f6fd9a2-d633-418c-b159-1fa5abf6542b
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"5f6fd9a2-d633-418c-b159-1fa5abf6542b\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.695184ms
