---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.486514Z","custom_routes_propagation_enabled":false,"id":"080235f8-088a-49a8-8ecd-2353d85181a3","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.486514Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.651166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/080235f8-088a-49a8-8ecd-2353d85181a3/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.486514Z","custom_routes_propagation_enabled":true,"id":"080235f8-088a-49a8-8ecd-2353d85181a3","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.536114Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.071ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/080235f8-088a-49a8-8ecd-2353d85181a3
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.486514Z","custom_routes_propagation_enabled":true,"id":"080235f8-088a-49a8-8ecd-2353d85181a3","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.536114Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.136375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-gallant-diffie","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"080235f8-088a-49a8-8ecd-2353d85181a3","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.687813Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f9a14fb1-1158-4301-834d-522b5bc23de0","name":"tf-pn-gallant-diffie","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.687813Z","id":"353c90bf-fc51-4a24-8118-22736d07e529","private_network_id":"f9a14fb1-1158-4301-834d-522b5bc23de0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.687813Z","vpc_id":"080235f8-088a-49a8-8ecd-2353d85181a3"},{"created_at":"2025-06-30T15:02:07.687813Z","id":"94d02b4d-2d80-4fc1-8993-00d2824b7241","private_network_id":"f9a14fb1-1158-4301-834d-522b5bc23de0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:15ab::/64","updated_at":"2025-06-30T15:02:07.687813Z","vpc_id":"080235f8-088a-49a8-8ecd-2353d85181a3"}],"tags":[],"updated_at":"2025-06-30T15:02:07.687813Z","vpc_id":"080235f8-088a-49a8-8ecd-2353d85181a3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 671.570959ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f9a14fb1-1158-4301-834d-522b5bc23de0
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.687813Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f9a14fb1-1158-4301-834d-522b5bc23de0","name":"tf-pn-gallant-diffie","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.687813Z","id":"353c90bf-fc51-4a24-8118-22736d07e529","private_network_id":"f9a14fb1-1158-4301-834d-522b5bc23de0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.687813Z","vpc_id":"080235f8-088a-49a8-8ecd-2353d85181a3"},{"created_at":"2025-06-30T15:02:07.687813Z","id":"94d02b4d-2d80-4fc1-8993-00d2824b7241","private_network_id":"f9a14fb1-1158-4301-834d-522b5bc23de0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:15ab::/64","updated_at":"2025-06-30T15:02:07.687813Z","vpc_id":"080235f8-088a-49a8-8ecd-2353d85181a3"}],"tags":[],"updated_at":"2025-06-30T15:02:07.687813Z","vpc_id":"080235f8-088a-49a8-8ecd-2353d85181a3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.841ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"f9a14fb1-1158-4301-834d-522b5bc23de0"},"is_ipv6":false,"tags":["terraform-test","ipam"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.967542Z","id":"7ae44882-d1f0-4b4a-9214-6ccff14a2f16","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"353c90bf-fc51-4a24-8118-22736d07e529"},"tags":["terraform-test","ipam"],"updated_at":"2025-06-30T15:02:10.967542Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.910014666s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7ae44882-d1f0-4b4a-9214-6ccff14a2f16
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.967542Z","id":"7ae44882-d1f0-4b4a-9214-6ccff14a2f16","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"353c90bf-fc51-4a24-8118-22736d07e529"},"tags":["terraform-test","ipam"],"updated_at":"2025-06-30T15:02:10.967542Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.205709ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/7ae44882-d1f0-4b4a-9214-6ccff14a2f16
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"7ae44882-d1f0-4b4a-9214-6ccff14a2f16","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.142083ms
