---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-11-20T14:09:23.951064Z","custom_routes_propagation_enabled":true,"id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T14:09:23.951064Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.129458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e
        method: GET
      response:
        body: '{"created_at":"2025-11-20T14:09:23.951064Z","custom_routes_propagation_enabled":true,"id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T14:09:23.951064Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.012167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-charming-blackburn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-20T14:09:24.060619Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b8acf678-d75c-4a8b-a853-5dfdeb6f02f7","name":"tf-pn-charming-blackburn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T14:09:24.060619Z","id":"d6f50c62-4d90-4c80-b673-53a614f53de1","private_network_id":"b8acf678-d75c-4a8b-a853-5dfdeb6f02f7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-20T14:09:24.060619Z","vpc_id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e"},{"created_at":"2025-11-20T14:09:24.060619Z","id":"8a92ad15-1c96-4298-afef-238d2dffe5f9","private_network_id":"b8acf678-d75c-4a8b-a853-5dfdeb6f02f7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3aa3::/64","updated_at":"2025-11-20T14:09:24.060619Z","vpc_id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e"}],"tags":[],"updated_at":"2025-11-20T14:09:24.060619Z","vpc_id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.720625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b8acf678-d75c-4a8b-a853-5dfdeb6f02f7
        method: GET
      response:
        body: '{"created_at":"2025-11-20T14:09:24.060619Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b8acf678-d75c-4a8b-a853-5dfdeb6f02f7","name":"tf-pn-charming-blackburn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T14:09:24.060619Z","id":"d6f50c62-4d90-4c80-b673-53a614f53de1","private_network_id":"b8acf678-d75c-4a8b-a853-5dfdeb6f02f7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-20T14:09:24.060619Z","vpc_id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e"},{"created_at":"2025-11-20T14:09:24.060619Z","id":"8a92ad15-1c96-4298-afef-238d2dffe5f9","private_network_id":"b8acf678-d75c-4a8b-a853-5dfdeb6f02f7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3aa3::/64","updated_at":"2025-11-20T14:09:24.060619Z","vpc_id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e"}],"tags":[],"updated_at":"2025-11-20T14:09:24.060619Z","vpc_id":"ee95e642-59a7-4e07-bfb9-24d6eeb6cf4e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.895125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"b8acf678-d75c-4a8b-a853-5dfdeb6f02f7"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-11-20T14:09:24.747422Z","id":"8a7ff36c-7e00-441f-bfda-b6bdcb8ecc5f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"d6f50c62-4d90-4c80-b673-53a614f53de1"},"tags":[],"updated_at":"2025-11-20T14:09:24.747422Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.530459ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/8a7ff36c-7e00-441f-bfda-b6bdcb8ecc5f
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-11-20T14:09:24.747422Z","id":"8a7ff36c-7e00-441f-bfda-b6bdcb8ecc5f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"d6f50c62-4d90-4c80-b673-53a614f53de1"},"tags":[],"updated_at":"2025-11-20T14:09:24.747422Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.014916ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/8a7ff36c-7e00-441f-bfda-b6bdcb8ecc5f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"8a7ff36c-7e00-441f-bfda-b6bdcb8ecc5f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.876917ms
