---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.789233Z","id":"48442668-1c21-43f0-bcab-e746c67cbdf3","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.789233Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.083459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/48442668-1c21-43f0-bcab-e746c67cbdf3
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.789233Z","id":"48442668-1c21-43f0-bcab-e746c67cbdf3","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.789233Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.541042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-suspicious-khorana","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"48442668-1c21-43f0-bcab-e746c67cbdf3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.895400Z","dhcp_enabled":true,"id":"3953d970-068a-4286-9015-1b29937656de","name":"tf-pn-suspicious-khorana","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.895400Z","id":"3c23e5fa-966b-4d45-bba2-c48939846b2a","private_network_id":"3953d970-068a-4286-9015-1b29937656de","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.895400Z","vpc_id":"48442668-1c21-43f0-bcab-e746c67cbdf3"},{"created_at":"2025-01-24T14:07:40.895400Z","id":"cf85bcb9-7aa6-4637-80e8-bc9c76ca89a1","private_network_id":"3953d970-068a-4286-9015-1b29937656de","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:eaa8::/64","updated_at":"2025-01-24T14:07:40.895400Z","vpc_id":"48442668-1c21-43f0-bcab-e746c67cbdf3"}],"tags":[],"updated_at":"2025-01-24T14:07:40.895400Z","vpc_id":"48442668-1c21-43f0-bcab-e746c67cbdf3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.10664325s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3953d970-068a-4286-9015-1b29937656de
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.895400Z","dhcp_enabled":true,"id":"3953d970-068a-4286-9015-1b29937656de","name":"tf-pn-suspicious-khorana","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.895400Z","id":"3c23e5fa-966b-4d45-bba2-c48939846b2a","private_network_id":"3953d970-068a-4286-9015-1b29937656de","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.895400Z","vpc_id":"48442668-1c21-43f0-bcab-e746c67cbdf3"},{"created_at":"2025-01-24T14:07:40.895400Z","id":"cf85bcb9-7aa6-4637-80e8-bc9c76ca89a1","private_network_id":"3953d970-068a-4286-9015-1b29937656de","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:eaa8::/64","updated_at":"2025-01-24T14:07:40.895400Z","vpc_id":"48442668-1c21-43f0-bcab-e746c67cbdf3"}],"tags":[],"updated_at":"2025-01-24T14:07:40.895400Z","vpc_id":"48442668-1c21-43f0-bcab-e746c67cbdf3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.236209ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"3953d970-068a-4286-9015-1b29937656de"},"is_ipv6":false,"tags":["terraform-test","ipam"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:43.225463Z","id":"2da9823b-a9fe-4649-afd8-407f0c44b999","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3c23e5fa-966b-4d45-bba2-c48939846b2a"},"tags":["terraform-test","ipam"],"updated_at":"2025-01-24T14:07:43.225463Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.863042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2da9823b-a9fe-4649-afd8-407f0c44b999
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:43.225463Z","id":"2da9823b-a9fe-4649-afd8-407f0c44b999","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3c23e5fa-966b-4d45-bba2-c48939846b2a"},"tags":["terraform-test","ipam"],"updated_at":"2025-01-24T14:07:43.225463Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.660833ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2da9823b-a9fe-4649-afd8-407f0c44b999
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"2da9823b-a9fe-4649-afd8-407f0c44b999","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.726625ms
