---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.315359Z","custom_routes_propagation_enabled":false,"id":"b898347a-f1bb-4f16-8c07-822c250c4fd4","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.315359Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.894417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b898347a-f1bb-4f16-8c07-822c250c4fd4
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.315359Z","custom_routes_propagation_enabled":false,"id":"b898347a-f1bb-4f16-8c07-822c250c4fd4","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.315359Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.912958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-inspiring-mendel","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"b898347a-f1bb-4f16-8c07-822c250c4fd4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.450107Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"35de1bb9-f810-47cd-a674-8cde9a75a7dc","name":"tf-pn-inspiring-mendel","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.450107Z","id":"1eba050b-6571-4a1e-af4b-2d1655e48f67","private_network_id":"35de1bb9-f810-47cd-a674-8cde9a75a7dc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.450107Z","vpc_id":"b898347a-f1bb-4f16-8c07-822c250c4fd4"},{"created_at":"2025-06-10T15:28:03.450107Z","id":"2e7258e4-99da-455e-9b54-8ab9f2515c9b","private_network_id":"35de1bb9-f810-47cd-a674-8cde9a75a7dc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2c79::/64","updated_at":"2025-06-10T15:28:03.450107Z","vpc_id":"b898347a-f1bb-4f16-8c07-822c250c4fd4"}],"tags":[],"updated_at":"2025-06-10T15:28:03.450107Z","vpc_id":"b898347a-f1bb-4f16-8c07-822c250c4fd4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 595.430667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/35de1bb9-f810-47cd-a674-8cde9a75a7dc
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.450107Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"35de1bb9-f810-47cd-a674-8cde9a75a7dc","name":"tf-pn-inspiring-mendel","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.450107Z","id":"1eba050b-6571-4a1e-af4b-2d1655e48f67","private_network_id":"35de1bb9-f810-47cd-a674-8cde9a75a7dc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.450107Z","vpc_id":"b898347a-f1bb-4f16-8c07-822c250c4fd4"},{"created_at":"2025-06-10T15:28:03.450107Z","id":"2e7258e4-99da-455e-9b54-8ab9f2515c9b","private_network_id":"35de1bb9-f810-47cd-a674-8cde9a75a7dc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2c79::/64","updated_at":"2025-06-10T15:28:03.450107Z","vpc_id":"b898347a-f1bb-4f16-8c07-822c250c4fd4"}],"tags":[],"updated_at":"2025-06-10T15:28:03.450107Z","vpc_id":"b898347a-f1bb-4f16-8c07-822c250c4fd4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.927709ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"35de1bb9-f810-47cd-a674-8cde9a75a7dc"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-10T15:28:04.204882Z","id":"12fc2475-de83-4839-bab9-cbbd3a1f55d1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1eba050b-6571-4a1e-af4b-2d1655e48f67"},"tags":[],"updated_at":"2025-06-10T15:28:04.204882Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.000125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/12fc2475-de83-4839-bab9-cbbd3a1f55d1
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-10T15:28:04.204882Z","id":"12fc2475-de83-4839-bab9-cbbd3a1f55d1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1eba050b-6571-4a1e-af4b-2d1655e48f67"},"tags":[],"updated_at":"2025-06-10T15:28:04.204882Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.4335ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/12fc2475-de83-4839-bab9-cbbd3a1f55d1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"12fc2475-de83-4839-bab9-cbbd3a1f55d1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.587334ms
