---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.625253Z","id":"04e775f4-c717-4d2e-ad8b-bc584962df15","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.625253Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.86375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/04e775f4-c717-4d2e-ad8b-bc584962df15
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.625253Z","id":"04e775f4-c717-4d2e-ad8b-bc584962df15","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.625253Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.53ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-pedantic-heisenberg","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"04e775f4-c717-4d2e-ad8b-bc584962df15"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.954879Z","dhcp_enabled":true,"id":"9f3ab0e8-0112-43ea-b29b-15d4fa26e557","name":"tf-pn-pedantic-heisenberg","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.954879Z","id":"def8f7d7-3033-4dcf-adcb-00d8e1a82dd3","private_network_id":"9f3ab0e8-0112-43ea-b29b-15d4fa26e557","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.954879Z","vpc_id":"04e775f4-c717-4d2e-ad8b-bc584962df15"},{"created_at":"2025-01-24T14:07:40.954879Z","id":"062e8902-4bd2-4fcd-a375-39075f2873ad","private_network_id":"9f3ab0e8-0112-43ea-b29b-15d4fa26e557","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:32d7::/64","updated_at":"2025-01-24T14:07:40.954879Z","vpc_id":"04e775f4-c717-4d2e-ad8b-bc584962df15"}],"tags":[],"updated_at":"2025-01-24T14:07:40.954879Z","vpc_id":"04e775f4-c717-4d2e-ad8b-bc584962df15"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.176838958s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9f3ab0e8-0112-43ea-b29b-15d4fa26e557
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.954879Z","dhcp_enabled":true,"id":"9f3ab0e8-0112-43ea-b29b-15d4fa26e557","name":"tf-pn-pedantic-heisenberg","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.954879Z","id":"def8f7d7-3033-4dcf-adcb-00d8e1a82dd3","private_network_id":"9f3ab0e8-0112-43ea-b29b-15d4fa26e557","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.954879Z","vpc_id":"04e775f4-c717-4d2e-ad8b-bc584962df15"},{"created_at":"2025-01-24T14:07:40.954879Z","id":"062e8902-4bd2-4fcd-a375-39075f2873ad","private_network_id":"9f3ab0e8-0112-43ea-b29b-15d4fa26e557","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:32d7::/64","updated_at":"2025-01-24T14:07:40.954879Z","vpc_id":"04e775f4-c717-4d2e-ad8b-bc584962df15"}],"tags":[],"updated_at":"2025-01-24T14:07:40.954879Z","vpc_id":"04e775f4-c717-4d2e-ad8b-bc584962df15"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.044375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"9f3ab0e8-0112-43ea-b29b-15d4fa26e557"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:43.270238Z","id":"6626d52d-539b-4e37-858e-33ef4b4324fc","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"def8f7d7-3033-4dcf-adcb-00d8e1a82dd3"},"tags":[],"updated_at":"2025-01-24T14:07:43.270238Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.708334ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6626d52d-539b-4e37-858e-33ef4b4324fc
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-01-24T14:07:43.270238Z","id":"6626d52d-539b-4e37-858e-33ef4b4324fc","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"def8f7d7-3033-4dcf-adcb-00d8e1a82dd3"},"tags":[],"updated_at":"2025-01-24T14:07:43.270238Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.197666ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6626d52d-539b-4e37-858e-33ef4b4324fc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"6626d52d-539b-4e37-858e-33ef4b4324fc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.658458ms
