---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-10-24T22:13:32.675151Z","id":"49be94d3-7013-4c33-99a4-9b06752b1424","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-24T22:13:32.675151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.832446ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/49be94d3-7013-4c33-99a4-9b06752b1424
        method: GET
      response:
        body: '{"created_at":"2024-10-24T22:13:32.675151Z","id":"49be94d3-7013-4c33-99a4-9b06752b1424","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-24T22:13:32.675151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.562811ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-tender-rubin","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"49be94d3-7013-4c33-99a4-9b06752b1424"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-24T22:13:32.943289Z","dhcp_enabled":true,"id":"cb33edf5-f4c0-44ca-a887-e16ec5291849","name":"tf-pn-tender-rubin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-24T22:13:32.943289Z","id":"17fb828a-8234-48c0-829b-14b074fa0e94","private_network_id":"cb33edf5-f4c0-44ca-a887-e16ec5291849","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-10-24T22:13:32.943289Z","vpc_id":"49be94d3-7013-4c33-99a4-9b06752b1424"},{"created_at":"2024-10-24T22:13:32.943289Z","id":"40d35885-3cde-440d-baa2-62dcb62f902d","private_network_id":"cb33edf5-f4c0-44ca-a887-e16ec5291849","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:4145::/64","updated_at":"2024-10-24T22:13:32.943289Z","vpc_id":"49be94d3-7013-4c33-99a4-9b06752b1424"}],"tags":[],"updated_at":"2024-10-24T22:13:32.943289Z","vpc_id":"49be94d3-7013-4c33-99a4-9b06752b1424"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.394791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cb33edf5-f4c0-44ca-a887-e16ec5291849
        method: GET
      response:
        body: '{"created_at":"2024-10-24T22:13:32.943289Z","dhcp_enabled":true,"id":"cb33edf5-f4c0-44ca-a887-e16ec5291849","name":"tf-pn-tender-rubin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-24T22:13:32.943289Z","id":"17fb828a-8234-48c0-829b-14b074fa0e94","private_network_id":"cb33edf5-f4c0-44ca-a887-e16ec5291849","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-10-24T22:13:32.943289Z","vpc_id":"49be94d3-7013-4c33-99a4-9b06752b1424"},{"created_at":"2024-10-24T22:13:32.943289Z","id":"40d35885-3cde-440d-baa2-62dcb62f902d","private_network_id":"cb33edf5-f4c0-44ca-a887-e16ec5291849","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:4145::/64","updated_at":"2024-10-24T22:13:32.943289Z","vpc_id":"49be94d3-7013-4c33-99a4-9b06752b1424"}],"tags":[],"updated_at":"2024-10-24T22:13:32.943289Z","vpc_id":"49be94d3-7013-4c33-99a4-9b06752b1424"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.068538ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"cb33edf5-f4c0-44ca-a887-e16ec5291849"},"is_ipv6":false,"tags":[],"resource":{"mac_address":"bc:24:11:74:d0:5a","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2024-10-24T22:13:33.750967Z","id":"0e77924d-c03f-4197-a07c-f1e0a847d1ac","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"0e77924d-c03f-4197-a07c-f1e0a847d1ac","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"17fb828a-8234-48c0-829b-14b074fa0e94"},"tags":[],"updated_at":"2024-10-24T22:13:33.750967Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 422.19469ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/0e77924d-c03f-4197-a07c-f1e0a847d1ac
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2024-10-24T22:13:33.750967Z","id":"0e77924d-c03f-4197-a07c-f1e0a847d1ac","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"0e77924d-c03f-4197-a07c-f1e0a847d1ac","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"17fb828a-8234-48c0-829b-14b074fa0e94"},"tags":[],"updated_at":"2024-10-24T22:13:33.750967Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.458145ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"from_resource":{"mac_address":"bc:24:11:74:d0:5a","name":null},"to_resource":{"mac_address":"bc:24:11:74:d0:5b","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/0e77924d-c03f-4197-a07c-f1e0a847d1ac/move
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2024-10-24T22:13:33.750967Z","id":"0e77924d-c03f-4197-a07c-f1e0a847d1ac","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"0e77924d-c03f-4197-a07c-f1e0a847d1ac","mac_address":"BC:24:11:74:D0:5B","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"17fb828a-8234-48c0-829b-14b074fa0e94"},"tags":[],"updated_at":"2024-10-24T22:13:36.056326Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.335775ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/0e77924d-c03f-4197-a07c-f1e0a847d1ac
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"0e77924d-c03f-4197-a07c-f1e0a847d1ac","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.997191ms
