---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.637706Z","id":"26e96742-ecf0-46f0-96b9-c32ffba075f0","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.637706Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.620625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/26e96742-ecf0-46f0-96b9-c32ffba075f0
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.637706Z","id":"26e96742-ecf0-46f0-96b9-c32ffba075f0","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:07:40.637706Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.752333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-elated-stallman","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"26e96742-ecf0-46f0-96b9-c32ffba075f0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:07:40.827497Z","dhcp_enabled":true,"id":"66883051-4ca2-40c9-a34f-c31536079397","name":"tf-pn-elated-stallman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.827497Z","id":"a2f9cd8c-4d74-453c-a642-e3d8c74d5f5a","private_network_id":"66883051-4ca2-40c9-a34f-c31536079397","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.827497Z","vpc_id":"26e96742-ecf0-46f0-96b9-c32ffba075f0"},{"created_at":"2025-01-24T14:07:40.827497Z","id":"fda8bd8a-a5a3-4e1b-8eef-312635a18e31","private_network_id":"66883051-4ca2-40c9-a34f-c31536079397","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fc50::/64","updated_at":"2025-01-24T14:07:40.827497Z","vpc_id":"26e96742-ecf0-46f0-96b9-c32ffba075f0"}],"tags":[],"updated_at":"2025-01-24T14:07:40.827497Z","vpc_id":"26e96742-ecf0-46f0-96b9-c32ffba075f0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.107348s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/66883051-4ca2-40c9-a34f-c31536079397
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:07:40.827497Z","dhcp_enabled":true,"id":"66883051-4ca2-40c9-a34f-c31536079397","name":"tf-pn-elated-stallman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:07:40.827497Z","id":"a2f9cd8c-4d74-453c-a642-e3d8c74d5f5a","private_network_id":"66883051-4ca2-40c9-a34f-c31536079397","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:07:40.827497Z","vpc_id":"26e96742-ecf0-46f0-96b9-c32ffba075f0"},{"created_at":"2025-01-24T14:07:40.827497Z","id":"fda8bd8a-a5a3-4e1b-8eef-312635a18e31","private_network_id":"66883051-4ca2-40c9-a34f-c31536079397","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fc50::/64","updated_at":"2025-01-24T14:07:40.827497Z","vpc_id":"26e96742-ecf0-46f0-96b9-c32ffba075f0"}],"tags":[],"updated_at":"2025-01-24T14:07:40.827497Z","vpc_id":"26e96742-ecf0-46f0-96b9-c32ffba075f0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.294292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"66883051-4ca2-40c9-a34f-c31536079397"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-01-24T14:07:42.138313Z","id":"6cb8739e-01c2-441a-b4f8-b450ff48c302","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a2f9cd8c-4d74-453c-a642-e3d8c74d5f5a"},"tags":[],"updated_at":"2025-01-24T14:07:42.138313Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.222375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6cb8739e-01c2-441a-b4f8-b450ff48c302
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-01-24T14:07:42.138313Z","id":"6cb8739e-01c2-441a-b4f8-b450ff48c302","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a2f9cd8c-4d74-453c-a642-e3d8c74d5f5a"},"tags":[],"updated_at":"2025-01-24T14:07:42.138313Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.968833ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6cb8739e-01c2-441a-b4f8-b450ff48c302
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"6cb8739e-01c2-441a-b4f8-b450ff48c302","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.61975ms
