---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-12T08:43:36.371295Z","custom_routes_propagation_enabled":true,"id":"b9e11e00-54bf-41dd-be88-2e758809d3cf","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-12T08:43:36.371295Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.423208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b9e11e00-54bf-41dd-be88-2e758809d3cf
        method: GET
      response:
        body: '{"created_at":"2026-03-12T08:43:36.371295Z","custom_routes_propagation_enabled":true,"id":"b9e11e00-54bf-41dd-be88-2e758809d3cf","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-12T08:43:36.371295Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.352042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-beautiful-mayer","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"b9e11e00-54bf-41dd-be88-2e758809d3cf","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-12T08:43:36.608200Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"262bd293-0ffd-442d-8951-148b84cf147d","name":"tf-pn-beautiful-mayer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-12T08:43:36.608200Z","id":"12073fcb-5114-46fd-b84e-bd72fdd684b6","private_network_id":"262bd293-0ffd-442d-8951-148b84cf147d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2026-03-12T08:43:36.608200Z","vpc_id":"b9e11e00-54bf-41dd-be88-2e758809d3cf"},{"created_at":"2026-03-12T08:43:36.608200Z","id":"77651df8-2170-476c-aab5-33de3f1c6e5f","private_network_id":"262bd293-0ffd-442d-8951-148b84cf147d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:db89::/64","updated_at":"2026-03-12T08:43:36.608200Z","vpc_id":"b9e11e00-54bf-41dd-be88-2e758809d3cf"}],"tags":[],"updated_at":"2026-03-12T08:43:36.608200Z","vpc_id":"b9e11e00-54bf-41dd-be88-2e758809d3cf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 604.791667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/262bd293-0ffd-442d-8951-148b84cf147d
        method: GET
      response:
        body: '{"created_at":"2026-03-12T08:43:36.608200Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"262bd293-0ffd-442d-8951-148b84cf147d","name":"tf-pn-beautiful-mayer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-12T08:43:36.608200Z","id":"12073fcb-5114-46fd-b84e-bd72fdd684b6","private_network_id":"262bd293-0ffd-442d-8951-148b84cf147d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2026-03-12T08:43:36.608200Z","vpc_id":"b9e11e00-54bf-41dd-be88-2e758809d3cf"},{"created_at":"2026-03-12T08:43:36.608200Z","id":"77651df8-2170-476c-aab5-33de3f1c6e5f","private_network_id":"262bd293-0ffd-442d-8951-148b84cf147d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:db89::/64","updated_at":"2026-03-12T08:43:36.608200Z","vpc_id":"b9e11e00-54bf-41dd-be88-2e758809d3cf"}],"tags":[],"updated_at":"2026-03-12T08:43:36.608200Z","vpc_id":"b9e11e00-54bf-41dd-be88-2e758809d3cf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.836791ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"262bd293-0ffd-442d-8951-148b84cf147d"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2026-03-12T08:43:37.311562Z","id":"03adfd64-bdc8-4bb5-87af-6d0c8e1a5617","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"12073fcb-5114-46fd-b84e-bd72fdd684b6"},"tags":[],"updated_at":"2026-03-12T08:43:37.311562Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.775292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/03adfd64-bdc8-4bb5-87af-6d0c8e1a5617
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2026-03-12T08:43:37.311562Z","id":"03adfd64-bdc8-4bb5-87af-6d0c8e1a5617","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"12073fcb-5114-46fd-b84e-bd72fdd684b6"},"tags":[],"updated_at":"2026-03-12T08:43:37.311562Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.986ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/03adfd64-bdc8-4bb5-87af-6d0c8e1a5617
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"03adfd64-bdc8-4bb5-87af-6d0c8e1a5617","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.228833ms
