---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":null,"id":"ab624661-d50e-47f6-879e-7e32c8da2f77","ipam_id":"ab624661-d50e-47f6-879e-7e32c8da2f77","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":"2001:bc8:711:4b80::/64","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ab624661-d50e-47f6-879e-7e32c8da2f77
        status: 201 Created
        code: 201
        duration: 358.405339ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers?page=1
        method: GET
      response:
        body: '{"servers":{"BASIC2-A16C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2067,"mig_profile":null,"monthly_price":150.89,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A16C-64G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2756,"mig_profile":null,"monthly_price":201.19,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-4G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.023,"mig_profile":null,"monthly_price":16.79,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0345,"mig_profile":null,"monthly_price":25.19,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0689,"mig_profile":null,"monthly_price":50.3,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0517,"mig_profile":null,"monthly_price":37.74,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1034,"mig_profile":null,"monthly_price":75.48,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1378,"mig_profile":null,"monthly_price":100.59,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.33,"mig_profile":null,"monthly_price":240.9,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.44,"mig_profile":null,"monthly_price":321.2,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0367,"mig_profile":null,"monthly_price":26.791,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.055,"mig_profile":null,"monthly_price":40.15,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.11,"mig_profile":null,"monthly_price":80.3,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0733,"mig_profile":null,"monthly_price":53.509,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.165,"mig_profile":null,"monthly_price":120.45,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.22,"mig_profile":null,"monthly_price":160.6,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.4682,"mig_profile":null,"monthly_price":341.786,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":4000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":4000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":320000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0585,"mig_profile":null,"monthly_price":42.705,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":40000000000,"scratch_storage_max_volumes_count":1,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X32C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1000341504,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.9363,"mig_profile":null,"monthly_price":683.499,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":8000000000,"internet_bandwidth":8000000000}],"ipv6_support":true,"sum_internal_bandwidth":8000000000,"sum_internet_bandwidth":8000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":640000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X48C-96G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.397,"mig_profile":null,"monthly_price":1019.81,"ncpus":48,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":103079215104,"scratch_storage_max_size":960000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X4C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.117,"mig_profile":null,"monthly_price":85.41,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":1000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":1000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":80000000000,"scratch_storage_max_volumes_count":2,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X64C-128G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.8726,"mig_profile":null,"monthly_price":1366.998,"ncpus":64,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":137438953472,"scratch_storage_max_size":1280000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X8C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2341,"mig_profile":null,"monthly_price":170.893,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":2000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":2000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":160000000000,"scratch_storage_max_volumes_count":2,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X96C-192G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":2.794,"mig_profile":null,"monthly_price":2039.62,"ncpus":96,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":206158430208,"scratch_storage_max_size":1280000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"DEV1-L":{"alt_names":[],"arch":"x86_64","block_bandwidth":209715200,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.042,"mig_profile":null,"monthly_price":30.66,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":80000000000,"min_size":0}},"DEV1-M":{"alt_names":[],"arch":"x86_64","block_bandwidth":157286400,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0198,"mig_profile":null,"monthly_price":14.454,"ncpus":3,"network":{"interfaces":[{"internal_bandwidth":300000000,"internet_bandwidth":300000000}],"ipv6_support":true,"sum_internal_bandwidth":300000000,"sum_internet_bandwidth":300000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":40000000000,"min_size":0}},"DEV1-S":{"alt_names":[],"arch":"x86_64","block_bandwidth":104857600,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0088,"mig_profile":null,"monthly_price":6.424,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":2147483648,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":20000000000,"min_size":0}},"DEV1-XL":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.06378,"mig_profile":null,"monthly_price":46.5734,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":500000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":500000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":12884901888,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":120000000000,"min_size":0}},"GP1-L":{"alt_names":[],"arch":"x86_64","block_bandwidth":1073741824,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.759,"mig_profile":null,"monthly_price":554.07,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":5000000000,"internet_bandwidth":5000000000}],"ipv6_support":true,"sum_internal_bandwidth":5000000000,"sum_internet_bandwidth":5000000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":137438953472,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":600000000000,"min_size":0}},"GP1-M":{"alt_names":[],"arch":"x86_64","block_bandwidth":838860800,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.376,"mig_profile":null,"monthly_price":274.48,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":600000000000,"min_size":0}},"GP1-S":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.187,"mig_profile":null,"monthly_price":136.51,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":300000000000,"min_size":0}},"GP1-XL":{"alt_names":[],"arch":"x86_64","block_bandwidth":2147483648,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.641,"mig_profile":null,"monthly_price":1197.93,"ncpus":48,"network":{"interfaces":[{"internal_bandwidth":10000000000,"internet_bandwidth":10000000000}],"ipv6_support":true,"sum_internal_bandwidth":10000000000,"sum_internet_bandwidth":10000000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":274877906944,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":600000000000,"min_size":0}},"GP1-XS":{"alt_names":[],"arch":"x86_64","block_bandwidth":314572800,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.091,"mig_profile":null,"monthly_price":66.43,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":500000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":500000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":150000000000,"min_size":0}},"L4-1-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":1,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":0.75,"mig_profile":null,"monthly_price":547.5,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":2500000000,"internet_bandwidth":2500000000}],"ipv6_support":true,"sum_internal_bandwidth":2500000000,"sum_internet_bandwidth":2500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":51539607552,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"L4-2-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1572864000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":2,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":1.5,"mig_profile":null,"monthly_price":1095,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":5000000000,"internet_bandwidth":5000000000}],"ipv6_support":true,"sum_internal_bandwidth":5000000000,"sum_internet_bandwidth":5000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":103079215104,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"L4-4-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":2621440000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":4,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":3,"mig_profile":null,"monthly_price":2190,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":10000000000,"internet_bandwidth":10000000000}],"ipv6_support":true,"sum_internal_bandwidth":10000000000,"sum_internet_bandwidth":10000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":206158430208,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"L4-8-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":5242880000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":16,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":8,"gpu_info":{"gpu_manufacturer":"NVIDIA","gpu_memory":25769803776,"gpu_name":"L4"},"hourly_price":6,"mig_profile":null,"monthly_price":4380,"ncpus":64,"network":{"interfaces":[{"internal_bandwidth":20000000000,"internet_bandwidth":20000000000}],"ipv6_support":true,"sum_internal_bandwidth":20000000000,"sum_internet_bandwidth":20000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":412316860416,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"MEMORY3-X16C-128G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.824,"mig_profile":null,"monthly_price":601,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":4000000000}],"ipv6_support":true,"sum_internal
[...]
