---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.515675Z","custom_routes_propagation_enabled":false,"id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.515675Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.663417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/44dea996-01a0-4e5b-8a7c-1fb85608a80e/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.515675Z","custom_routes_propagation_enabled":true,"id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.575564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.135083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/44dea996-01a0-4e5b-8a7c-1fb85608a80e
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.515675Z","custom_routes_propagation_enabled":true,"id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:02:07.575564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.431375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-goofy-volhard","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:02:07.733144Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"cab0379a-7c1a-40bb-9f75-b60d7dd73034","name":"tf-pn-goofy-volhard","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.733144Z","id":"2438b67d-b57d-4d19-9896-94f6f20277ad","private_network_id":"cab0379a-7c1a-40bb-9f75-b60d7dd73034","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.733144Z","vpc_id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e"},{"created_at":"2025-06-30T15:02:07.733144Z","id":"2ea10fc8-b698-4f44-ad34-fd1706b0b4e0","private_network_id":"cab0379a-7c1a-40bb-9f75-b60d7dd73034","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:d550::/64","updated_at":"2025-06-30T15:02:07.733144Z","vpc_id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e"}],"tags":[],"updated_at":"2025-06-30T15:02:07.733144Z","vpc_id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 644.610084ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cab0379a-7c1a-40bb-9f75-b60d7dd73034
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:02:07.733144Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"cab0379a-7c1a-40bb-9f75-b60d7dd73034","name":"tf-pn-goofy-volhard","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:02:07.733144Z","id":"2438b67d-b57d-4d19-9896-94f6f20277ad","private_network_id":"cab0379a-7c1a-40bb-9f75-b60d7dd73034","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:02:07.733144Z","vpc_id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e"},{"created_at":"2025-06-30T15:02:07.733144Z","id":"2ea10fc8-b698-4f44-ad34-fd1706b0b4e0","private_network_id":"cab0379a-7c1a-40bb-9f75-b60d7dd73034","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:d550::/64","updated_at":"2025-06-30T15:02:07.733144Z","vpc_id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e"}],"tags":[],"updated_at":"2025-06-30T15:02:07.733144Z","vpc_id":"44dea996-01a0-4e5b-8a7c-1fb85608a80e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.790708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"cab0379a-7c1a-40bb-9f75-b60d7dd73034"},"is_ipv6":false,"tags":[],"resource":{"mac_address":"bc:24:11:74:d0:5a","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.950535Z","id":"f274515f-1535-46bd-aaed-e15ef3cb1432","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f274515f-1535-46bd-aaed-e15ef3cb1432","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"2438b67d-b57d-4d19-9896-94f6f20277ad"},"tags":[],"updated_at":"2025-06-30T15:02:10.950535Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.923824875s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f274515f-1535-46bd-aaed-e15ef3cb1432
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.950535Z","id":"f274515f-1535-46bd-aaed-e15ef3cb1432","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f274515f-1535-46bd-aaed-e15ef3cb1432","mac_address":"BC:24:11:74:D0:5A","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"2438b67d-b57d-4d19-9896-94f6f20277ad"},"tags":[],"updated_at":"2025-06-30T15:02:10.950535Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.461958ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"from_resource":{"mac_address":"bc:24:11:74:d0:5a","name":null},"to_resource":{"mac_address":"bc:24:11:74:d0:5b","name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f274515f-1535-46bd-aaed-e15ef3cb1432/move
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-30T15:02:10.950535Z","id":"f274515f-1535-46bd-aaed-e15ef3cb1432","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f274515f-1535-46bd-aaed-e15ef3cb1432","mac_address":"BC:24:11:74:D0:5B","name":null,"type":"custom"},"reverses":[],"source":{"subnet_id":"2438b67d-b57d-4d19-9896-94f6f20277ad"},"tags":[],"updated_at":"2025-06-30T15:02:13.232354Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.365167ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f274515f-1535-46bd-aaed-e15ef3cb1432
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"f274515f-1535-46bd-aaed-e15ef3cb1432","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.217375ms
