---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.282204Z","custom_routes_propagation_enabled":false,"id":"8ac8966f-8992-4e21-b75e-02a7c844bb20","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.282204Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.241833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8ac8966f-8992-4e21-b75e-02a7c844bb20
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.282204Z","custom_routes_propagation_enabled":false,"id":"8ac8966f-8992-4e21-b75e-02a7c844bb20","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-10T15:28:03.282204Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.713208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-peaceful-lehmann","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"8ac8966f-8992-4e21-b75e-02a7c844bb20"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:28:03.508416Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2293156c-f6e7-4d38-9ab9-53f117ae1003","name":"tf-pn-peaceful-lehmann","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.508416Z","id":"ee5c1748-8a40-499a-b7fa-07e741fbce87","private_network_id":"2293156c-f6e7-4d38-9ab9-53f117ae1003","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.508416Z","vpc_id":"8ac8966f-8992-4e21-b75e-02a7c844bb20"},{"created_at":"2025-06-10T15:28:03.508416Z","id":"afa25642-9a13-4bd3-9495-7d2f6d5f84c6","private_network_id":"2293156c-f6e7-4d38-9ab9-53f117ae1003","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7930::/64","updated_at":"2025-06-10T15:28:03.508416Z","vpc_id":"8ac8966f-8992-4e21-b75e-02a7c844bb20"}],"tags":[],"updated_at":"2025-06-10T15:28:03.508416Z","vpc_id":"8ac8966f-8992-4e21-b75e-02a7c844bb20"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 715.981166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2293156c-f6e7-4d38-9ab9-53f117ae1003
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:28:03.508416Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2293156c-f6e7-4d38-9ab9-53f117ae1003","name":"tf-pn-peaceful-lehmann","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-10T15:28:03.508416Z","id":"ee5c1748-8a40-499a-b7fa-07e741fbce87","private_network_id":"2293156c-f6e7-4d38-9ab9-53f117ae1003","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-10T15:28:03.508416Z","vpc_id":"8ac8966f-8992-4e21-b75e-02a7c844bb20"},{"created_at":"2025-06-10T15:28:03.508416Z","id":"afa25642-9a13-4bd3-9495-7d2f6d5f84c6","private_network_id":"2293156c-f6e7-4d38-9ab9-53f117ae1003","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7930::/64","updated_at":"2025-06-10T15:28:03.508416Z","vpc_id":"8ac8966f-8992-4e21-b75e-02a7c844bb20"}],"tags":[],"updated_at":"2025-06-10T15:28:03.508416Z","vpc_id":"8ac8966f-8992-4e21-b75e-02a7c844bb20"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.276041ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"2293156c-f6e7-4d38-9ab9-53f117ae1003"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:28:04.395777Z","id":"b2820e59-472f-4260-a394-5e50996e17e1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ee5c1748-8a40-499a-b7fa-07e741fbce87"},"tags":[],"updated_at":"2025-06-10T15:28:04.395777Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.997125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/b2820e59-472f-4260-a394-5e50996e17e1
        method: GET
      response:
        body: '{"address":"172.16.32.2/22","created_at":"2025-06-10T15:28:04.395777Z","id":"b2820e59-472f-4260-a394-5e50996e17e1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ee5c1748-8a40-499a-b7fa-07e741fbce87"},"tags":[],"updated_at":"2025-06-10T15:28:04.395777Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.086833ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/b2820e59-472f-4260-a394-5e50996e17e1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"b2820e59-472f-4260-a394-5e50996e17e1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.419708ms
