---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:47:38.180899Z","custom_routes_propagation_enabled":false,"id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:47:38.180899Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 492.803042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4e2a84d7-25c7-47f7-88cd-eaf53ebed57a/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:47:38.180899Z","custom_routes_propagation_enabled":true,"id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:47:38.238694Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.424417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4e2a84d7-25c7-47f7-88cd-eaf53ebed57a
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:47:38.180899Z","custom_routes_propagation_enabled":true,"id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:47:38.238694Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.392958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-recursing-kirch","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:47:38.370558Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32","name":"tf-pn-recursing-kirch","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:47:38.370558Z","id":"79b2f6fa-1afd-42a8-a090-b53187abdd8b","private_network_id":"e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:47:38.370558Z","vpc_id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a"},{"created_at":"2025-06-30T15:47:38.370558Z","id":"0b6f5629-453a-4673-8b05-8fa35682d759","private_network_id":"e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a992::/64","updated_at":"2025-06-30T15:47:38.370558Z","vpc_id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a"}],"tags":[],"updated_at":"2025-06-30T15:47:38.370558Z","vpc_id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 642.792792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:47:38.370558Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32","name":"tf-pn-recursing-kirch","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:47:38.370558Z","id":"79b2f6fa-1afd-42a8-a090-b53187abdd8b","private_network_id":"e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:47:38.370558Z","vpc_id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a"},{"created_at":"2025-06-30T15:47:38.370558Z","id":"0b6f5629-453a-4673-8b05-8fa35682d759","private_network_id":"e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a992::/64","updated_at":"2025-06-30T15:47:38.370558Z","vpc_id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a"}],"tags":[],"updated_at":"2025-06-30T15:47:38.370558Z","vpc_id":"4e2a84d7-25c7-47f7-88cd-eaf53ebed57a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.614333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"e2cd9e1d-8b4b-4aae-9b96-5b79b5ab6e32"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-30T15:47:39.764541Z","id":"51d34241-1d5d-4600-beba-2991108d1e8f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"79b2f6fa-1afd-42a8-a090-b53187abdd8b"},"tags":[],"updated_at":"2025-06-30T15:47:39.764541Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 778.948333ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/51d34241-1d5d-4600-beba-2991108d1e8f
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-30T15:47:39.764541Z","id":"51d34241-1d5d-4600-beba-2991108d1e8f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"79b2f6fa-1afd-42a8-a090-b53187abdd8b"},"tags":[],"updated_at":"2025-06-30T15:47:39.764541Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.495209ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/51d34241-1d5d-4600-beba-2991108d1e8f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"51d34241-1d5d-4600-beba-2991108d1e8f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.155417ms
