---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T15:01:15.130509Z","description":"","id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","name":"tf-tests-ipam-ip-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T15:01:15.130509Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 721.514531ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0fc78600-9f85-4984-9fbb-f59a7434b92c
        method: GET
      response:
        body: '{"created_at":"2026-08-17T15:01:15.130509Z","description":"","id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","name":"tf-tests-ipam-ip-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T15:01:15.130509Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.973938ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-ipam-list","project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-17T15:01:15.998544Z","custom_routes_propagation_enabled":true,"id":"a30c1a64-d29f-44a4-98b8-a56151429044","is_default":false,"name":"test-vpc-ipam-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T15:01:15.998544Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.843252ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a30c1a64-d29f-44a4-98b8-a56151429044
        method: GET
      response:
        body: '{"created_at":"2026-08-17T15:01:15.998544Z","custom_routes_propagation_enabled":true,"id":"a30c1a64-d29f-44a4-98b8-a56151429044","is_default":false,"name":"test-vpc-ipam-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T15:01:15.998544Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.656519ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-pn-ipam","project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","tags":[],"subnets":null,"vpc_id":"a30c1a64-d29f-44a4-98b8-a56151429044","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-17T15:01:16.385392Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"036f79b6-26f7-4e22-9cc2-cd2a53edc30c","name":"test-pn-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","subnets":[{"created_at":"2026-08-17T15:01:16.385392Z","id":"019313a2-bfbe-404d-a231-e91af857cf8d","private_network_id":"036f79b6-26f7-4e22-9cc2-cd2a53edc30c","project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","subnet":"172.16.16.0/22","updated_at":"2026-08-17T15:01:16.385392Z","vpc_id":"a30c1a64-d29f-44a4-98b8-a56151429044"},{"created_at":"2026-08-17T15:01:16.385392Z","id":"f51a5493-2d02-4ead-890b-c816c226add4","private_network_id":"036f79b6-26f7-4e22-9cc2-cd2a53edc30c","project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","subnet":"fde4:3bbf:8583:ff29::/64","updated_at":"2026-08-17T15:01:16.385392Z","vpc_id":"a30c1a64-d29f-44a4-98b8-a56151429044"}],"tags":[],"updated_at":"2026-08-17T15:01:16.385392Z","vpc_id":"a30c1a64-d29f-44a4-98b8-a56151429044"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 760.670716ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/036f79b6-26f7-4e22-9cc2-cd2a53edc30c
        method: GET
      response:
        body: '{"created_at":"2026-08-17T15:01:16.385392Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"036f79b6-26f7-4e22-9cc2-cd2a53edc30c","name":"test-pn-ipam","organization_id":"105bdce1[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","source":{"private_network_id":"036f79b6-26f7-4e22-9cc2-cd2a53edc30c"},"is_ipv6":false,"tags":["test-ipam-list"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.16.2/22","created_at":"2026-08-17T15:01:17.649551Z","id":"5da4622d-dad5-4d9f-ada0-f7015541b7d3","is_ipv6":false,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"019313a2-bfbe-404d-a231-e91af857cf8d"},"tags":["test-ipam-list"],"updated_at":"2026-08-17T15:01:17.649551Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 632.388637ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/5da4622d-dad5-4d9f-ada0-f7015541b7d3
        method: GET
      response:
        body: '{"address":"172.16.16.2/22","created_at":"2026-08-17T15:01:17.649551Z","id":"5da4622d-dad5-4d9f-ada0-f7015541b7d3","is_ipv6":false,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"019313a2-bfbe-404d-a231-e91af857cf8d"},"tags":["test-ipam-list"],"updated_at":"2026-08-17T15:01:17.649551Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.034312ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&project_id=0fc78600-9f85-4984-9fbb-f59a7434b92c&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.16.3/22","created_at":"2026-08-17T15:01:17.664396Z","id":"402cb955-0856-4fae-89d1-13af34d9838a","is_ipv6":false,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"019313a2-bfbe-404d-a231-e91af857cf8d"},"tags":["test-ipam-list","extra"],"updated_at":"2026-08-17T15:01:17.664396Z","zone":null},{"address":"172.16.16.2/22","created_at":"2026-08-17T15:01:17.649551Z","id":"5da4622d-dad5-4d9f-ada0-f7015541b7d3","is_ipv6":false,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"019313a2-bfbe-404d-a231-e91af857cf8d"},"tags":["test-ipam-list"],"updated_at":"2026-08-17T15:01:17.649551Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.488567ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&project_id=0fc78600-9f85-4984-9fbb-f59a7434b92c&resource_type=unknown_type&tags=extra
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.16.3/22","created_at":"2026-08-17T15:01:17.664396Z","id":"402cb955-0856-4fae-89d1-13af34d9838a","is_ipv6":false,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"019313a2-bfbe-404d-a231-e91af857cf8d"},"tags":["test-ipam-list","extra"],"updated_at":"2026-08-17T15:01:17.664396Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.408855ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&private_network_id=036f79b6-26f7-4e22-9cc2-cd2a53edc30c&project_id=0fc78600-9f85-4984-9fbb-f59a7434b92c&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.16.3/22","created_at":"2026-08-17T15:01:17.664396Z","id":"402cb955-0856-4fae-89d1-13af34d9838a","is_ipv6":false,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"019313a2-bfbe-404d-a231-e91af857cf8d"},"tags":["test-ipam-list","extra"],"updated_at":"2026-08-17T15:01:17.664396Z","zone":null},{"address":"172.16.16.2/22","created_at":"2026-08-17T15:01:17.649551Z","id":"5da4622d-dad5-4d9f-ada0-f7015541b7d3","is_ipv6":false,"project_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"019313a2-bfbe-404d-a231-e91af857cf8d"},"tags":["test-ipam-list"],"updated_at":"2026-08-17T15:01:17.649551Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.15282ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0fc78600-9f85-4984-9fbb-f59a7434b92c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"0fc78600-9f85-4984-9fbb-f59a7434b92c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.783263ms
