---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-unruffled-perlman","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-04T15:19:57.829889Z","description":"","id":"fc15662f-c57b-4734-971a-3aefe7ebae40","name":"tf-project-unruffled-perlman","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-05-04T15:19:57.829889Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 446.439208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fc15662f-c57b-4734-971a-3aefe7ebae40
        method: GET
      response:
        body: '{"created_at":"2026-05-04T15:19:57.829889Z","description":"","id":"fc15662f-c57b-4734-971a-3aefe7ebae40","name":"tf-project-unruffled-perlman","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-04T15:19:57.829889Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.20075ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-ipam-list","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-05-04T15:19:58.112930Z","custom_routes_propagation_enabled":true,"id":"2145b68d-49ed-4229-99cb-cbca2849bccf","is_default":false,"name":"test-vpc-ipam-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-04T15:19:58.112930Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.184083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2145b68d-49ed-4229-99cb-cbca2849bccf
        method: GET
      response:
        body: '{"created_at":"2026-05-04T15:19:58.112930Z","custom_routes_propagation_enabled":true,"id":"2145b68d-49ed-4229-99cb-cbca2849bccf","is_default":false,"name":"test-vpc-ipam-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-04T15:19:58.112930Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.976833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-pn-ipam","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","tags":[],"subnets":null,"vpc_id":"2145b68d-49ed-4229-99cb-cbca2849bccf","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-04T15:19:58.273Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d","name":"test-pn-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","subnets":[{"created_at":"2026-05-04T15:19:58.273Z","id":"ed302657-ed7d-416b-a6a5-baba8aeda222","private_network_id":"03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","subnet":"172.16.4.0/22","updated_at":"2026-05-04T15:19:58.273Z","vpc_id":"2145b68d-49ed-4229-99cb-cbca2849bccf"},{"created_at":"2026-05-04T15:19:58.273Z","id":"35716fbe-d94b-4cae-915e-9ab8eddf9611","private_network_id":"03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","subnet":"fd98:d31d:b753:c61e::/64","updated_at":"2026-05-04T15:19:58.273Z","vpc_id":"2145b68d-49ed-4229-99cb-cbca2849bccf"}],"tags":[],"updated_at":"2026-05-04T15:19:58.273Z","vpc_id":"2145b68d-49ed-4229-99cb-cbca2849bccf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.048251209s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d
        method: GET
      response:
        body: '{"created_at":"2026-05-04T15:19:58.273Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d","name":"test-pn-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","subnets":[{"created_at":"2026-05-04T15:19:58.273Z","id":"ed302657-ed7d-416b-a6a5-baba8aeda222","private_network_id":"03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","subnet":"172.16.4.0/22","updated_at":"2026-05-04T15:19:58.273Z","vpc_id":"2145b68d-49ed-4229-99cb-cbca2849bccf"},{"created_at":"2026-05-04T15:19:58.273Z","id":"35716fbe-d94b-4cae-915e-9ab8eddf9611","private_network_id":"03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d","project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","subnet":"fd98:d31d:b753:c61e::/64","updated_at":"2026-05-04T15:19:58.273Z","vpc_id":"2145b68d-49ed-4229-99cb-cbca2849bccf"}],"tags":[],"updated_at":"2026-05-04T15:19:58.273Z","vpc_id":"2145b68d-49ed-4229-99cb-cbca2849bccf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.149916ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","source":{"private_network_id":"03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d"},"is_ipv6":false,"tags":["test-ipam-list"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.4.2/22","created_at":"2026-05-04T15:19:59.504692Z","id":"d540f370-51a9-4b63-94a1-6c611d4a9ef0","is_ipv6":false,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ed302657-ed7d-416b-a6a5-baba8aeda222"},"tags":["test-ipam-list"],"updated_at":"2026-05-04T15:19:59.504692Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.245667ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/d540f370-51a9-4b63-94a1-6c611d4a9ef0
        method: GET
      response:
        body: '{"address":"172.16.4.2/22","created_at":"2026-05-04T15:19:59.504692Z","id":"d540f370-51a9-4b63-94a1-6c611d4a9ef0","is_ipv6":false,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ed302657-ed7d-416b-a6a5-baba8aeda222"},"tags":["test-ipam-list"],"updated_at":"2026-05-04T15:19:59.504692Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.495917ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&project_id=fc15662f-c57b-4734-971a-3aefe7ebae40&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.4.3/22","created_at":"2026-05-04T15:19:59.526915Z","id":"79fc0a1c-f4fc-40b1-9094-2d201575fcbe","is_ipv6":false,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ed302657-ed7d-416b-a6a5-baba8aeda222"},"tags":["test-ipam-list","extra"],"updated_at":"2026-05-04T15:19:59.526915Z","zone":null},{"address":"172.16.4.2/22","created_at":"2026-05-04T15:19:59.504692Z","id":"d540f370-51a9-4b63-94a1-6c611d4a9ef0","is_ipv6":false,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ed302657-ed7d-416b-a6a5-baba8aeda222"},"tags":["test-ipam-list"],"updated_at":"2026-05-04T15:19:59.504692Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.462542ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&project_id=fc15662f-c57b-4734-971a-3aefe7ebae40&resource_type=unknown_type&tags=extra
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.4.3/22","created_at":"2026-05-04T15:19:59.526915Z","id":"79fc0a1c-f4fc-40b1-9094-2d201575fcbe","is_ipv6":false,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ed302657-ed7d-416b-a6a5-baba8aeda222"},"tags":["test-ipam-list","extra"],"updated_at":"2026-05-04T15:19:59.526915Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.17875ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&page=1&private_network_id=03ed2bc4-da7f-41f7-a3ea-1d0658dbf94d&project_id=fc15662f-c57b-4734-971a-3aefe7ebae40&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.4.3/22","created_at":"2026-05-04T15:19:59.526915Z","id":"79fc0a1c-f4fc-40b1-9094-2d201575fcbe","is_ipv6":false,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ed302657-ed7d-416b-a6a5-baba8aeda222"},"tags":["test-ipam-list","extra"],"updated_at":"2026-05-04T15:19:59.526915Z","zone":null},{"address":"172.16.4.2/22","created_at":"2026-05-04T15:19:59.504692Z","id":"d540f370-51a9-4b63-94a1-6c611d4a9ef0","is_ipv6":false,"project_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ed302657-ed7d-416b-a6a5-baba8aeda222"},"tags":["test-ipam-list"],"updated_at":"2026-05-04T15:19:59.504692Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.965042ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fc15662f-c57b-4734-971a-3aefe7ebae40
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"fc15662f-c57b-4734-971a-3aefe7ebae40","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.11125ms
