---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-pipeline-name","description":"pipeline for name filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-20T06:58:16.652486425Z","description":"pipeline for name filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"af7c78c5-b7ad-48de-927f-1122016189cc","name":"tf-tests-ds-pipeline-name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-20T06:58:16.652486425Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.299083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/af7c78c5-b7ad-48de-927f-1122016189cc
        method: GET
      response:
        body: '{"created_at":"2026-03-20T06:58:16.652486Z","description":"pipeline for name filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"af7c78c5-b7ad-48de-927f-1122016189cc","name":"tf-tests-ds-pipeline-name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-20T06:58:16.652486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.283625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines?name=tf-tests-ds-pipeline-name&order_by=created_at_asc
        method: GET
      response:
        body: '{"pipelines":[{"created_at":"2026-03-20T06:58:16.652486Z","description":"pipeline for name filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"af7c78c5-b7ad-48de-927f-1122016189cc","name":"tf-tests-ds-pipeline-name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-20T06:58:16.652486Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.663584ms
[...]
