---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.304334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-cache-filter","description":"pipeline for cache filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:24:35.380122747Z","description":"pipeline for cache filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"b903a4f6-b62e-406b-96e8-2fe758f9baab","name":"tf-tests-ds-cache-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:24:35.380122747Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.9925ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b903a4f6-b62e-406b-96e8-2fe758f9baab
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:24:35.380122Z","description":"pipeline for cache filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"b903a4f6-b62e-406b-96e8-2fe758f9baab","name":"tf-tests-ds-cache-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:24:35.380122Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.644583ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8dede9a5-80cd-4c96-a479-b5683628ea8d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152434Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-cache-filter
            X-Amz-Request-Id:
                - txgec978a8a92aa43c4866c-0069c54fb3
        status: 200 OK
        code: 200
        duration: 939.308791ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2a92590a-8b87-4b7e-a3a9-c5f776d23a51
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152435Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgafed4451745f49f8985f-0069c54fb3
        status: 200 OK
        code: 200
        duration: 305.17225ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - be53c360-eca4-4ad8-bf49-13a8599026b4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152436Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3da3d239c291428ca0a0-0069c54fb4
        status: 200 OK
        code: 200
        duration: 215.908959ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ed109ace-8277-42e4-b261-c972129628da
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152436Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg92427d64eb02447ca410-0069c54fb4</RequestId><HostId>txg92427d64eb02447ca410-0069c54fb4</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg92427d64eb02447ca410-0069c54fb4
        status: 404 Not Found
        code: 404
        duration: 206.1915ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8ecc2b3c-737c-4c8d-97a0-6a22b1a1ae60
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152436Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-cache-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc42f512621bc4349be15-0069c54fb4
        status: 200 OK
        code: 200
        duration: 311.553583ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4d30391c-201b-49bb-b1ef-3af49dbfbe47
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152436Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg17435009323f453fbd03-0069c54fb4</RequestId><HostId>txg17435009323f453fbd03-0069c54fb4</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg17435009323f453fbd03-0069c54fb4
        status: 404 Not Found
        code: 404
        duration: 108.654791ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0bd0ac46-d5ce-44dd-b0b6-3b72f4aa0de6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152436Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg257be298b8da4fe68656-0069c54fb4</RequestId><HostId>txg257be298b8da4fe68656-0069c54fb4</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg257be298b8da4fe68656-0069c54fb4
        status: 404 Not Found
        code: 404
        duration: 120.232625ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e871d091-b3d1-430e-8a79-7afc90f70a5e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152437Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg036bfb7cffd248e988be-0069c54fb5
        status: 200 OK
        code: 200
        duration: 59.981417ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 89ae5793-7125-4f22-b4d5-979bef2a9372
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152437Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgc095e7c49ef54731a50f-0069c54fb5</RequestId><HostId>txgc095e7c49ef54731a50f-0069c54fb5</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc095e7c49ef54731a50f-0069c54fb5
        status: 404 Not Found
        code: 404
        duration: 75.924667ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b903a4f6-b62e-406b-96e8-2fe758f9baab/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:24:38.712477307Z","id":"00340f8c-ad9c-4846-9464-f76a3783140e","pipeline_id":"b903a4f6-b62e-406b-96e8-2fe758f9baab","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:24:38.712477307Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.522985875s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/00340f8c-ad9c-4846-9464-f76a3783140e
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:24:38.712477Z","id":"00340f8c-ad9c-4846-9464-f76a3783140e","pipeline_id":"b903a4f6-b62e-406b-96e8-2fe758f9baab","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:24:38.712477Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.469125ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"7200.000000000s","include_cookies":false,"backend_stage_id":"00340f8c-ad9c-4846-9464-f76a3783140e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b903a4f6-b62e-406b-96e8-2fe758f9baab/cache-stages
        method: POST
      response:
        body: '{"backend_stage_id":"00340f8c-ad9c-4846-9464-f76a3783140e","created_at":"2026-03-26T15:24:38.864930176Z","fallback_ttl":"7200s","id":"ba2578c8-7815-4aec-bc05-5ee5dbd6e992","include_cookies":false,"pipeline_id":"b903a4f6-b62e-406b-96e8-2fe758f9baab","updated_at":"2026-03-26T15:24:38.864930176Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.473792ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/ba2578c8-7815-4aec-bc05-5ee5dbd6e992
        method: GET
      response:
        body: '{"backend_stage_id":"00340f8c-ad9c-4846-9464-f76a3783140e","created_at":"2026-03-26T15:24:38.864930Z","fallback_ttl":"7200s","id":"ba2578c8-7815-4aec-bc05-5ee5dbd6e992","include_cookies":false,"pipeline_id":"b903a4f6-b62e-406b-96e8-2fe758f9baab","updated_at":"2026-03-26T15:24:38.864930Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.90575ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b903a4f6-b62e-406b-96e8-2fe758f9baab/cache-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"00340f8c-ad9c-4846-9464-f76a3783140e","created_at":"2026-03-26T15:24:38.864930Z","fallback_ttl":"7200s","id":"ba2578c8-7815-4aec-bc05-5ee5dbd6e992","include_cookies":false,"pipeline_id":"b903a4f6-b62e-406b-96e8-2fe758f9baab","updated_at":"2026-03-26T15:24:38.864930Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.5165ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.518333ms
[...]
