---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-waf-id","description":"pipeline for WAF data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:35:57.522047998Z","description":"pipeline for WAF data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"8265a16f-e067-4ae4-9260-14ceaa01dae8","name":"tf-tests-ds-waf-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:35:57.522047998Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.495375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8265a16f-e067-4ae4-9260-14ceaa01dae8
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:35:57.522047Z","description":"pipeline for WAF data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"8265a16f-e067-4ae4-9260-14ceaa01dae8","name":"tf-tests-ds-waf-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:35:57.522047Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.371125ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6671c22a-0009-49f2-a507-d0c302184348
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083557Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-waf-id
            X-Amz-Request-Id:
                - txgd4f9c583820f47278e09-0069bbb56d
        status: 200 OK
        code: 200
        duration: 4.4694265s
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b0ae33e5-a0ba-4fee-bf33-ab26479c1317
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083601Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg4c86a7e3be954648b6b5-0069bbb571
        status: 200 OK
        code: 200
        duration: 180.590916ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1d9d6094-4bf2-439f-bf9f-7a275d548b57
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083601Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf6a122aac9444b3cb0e6-0069bbb572
        status: 200 OK
        code: 200
        duration: 158.346166ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 55793cb9-0ca0-4e55-8485-8356665478f0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083602Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txge58c1fd33b894c95ae2a-0069bbb572</RequestId><HostId>txge58c1fd33b894c95ae2a-0069bbb572</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge58c1fd33b894c95ae2a-0069bbb572
        status: 404 Not Found
        code: 404
        duration: 60.669209ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 94385430-bd95-4a74-9fe4-ebb3fd53cb5c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083602Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-waf-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg49adbead061a4463b1b1-0069bbb572
        status: 200 OK
        code: 200
        duration: 186.486667ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bbacdd97-192c-45b4-98ab-6337769aebbd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083602Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg1fd7630ce84e466ea53e-0069bbb572</RequestId><HostId>txg1fd7630ce84e466ea53e-0069bbb572</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1fd7630ce84e466ea53e-0069bbb572
        status: 404 Not Found
        code: 404
        duration: 54.939292ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d5cde2da-c817-4077-81dc-7cee9c57e726
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083602Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg27ea99c147b944f3b086-0069bbb572</RequestId><HostId>txg27ea99c147b944f3b086-0069bbb572</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg27ea99c147b944f3b086-0069bbb572
        status: 404 Not Found
        code: 404
        duration: 53.961959ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 96e01736-cb99-4b69-846e-b0ee50539e3b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083602Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg06d5102c8f7c4eb0b602-0069bbb572
        status: 200 OK
        code: 200
        duration: 132.177209ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2b13587f-31c0-483b-a42f-8de0a5f7e0c1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083602Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg019f8f069acb483c9366-0069bbb572</RequestId><HostId>txg019f8f069acb483c9366-0069bbb572</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg019f8f069acb483c9366-0069bbb572
        status: 404 Not Found
        code: 404
        duration: 49.095542ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8265a16f-e067-4ae4-9260-14ceaa01dae8/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:36:03.324713183Z","id":"e1028129-b857-4071-a370-bab9a5054fb3","pipeline_id":"8265a16f-e067-4ae4-9260-14ceaa01dae8","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:36:03.324713183Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.789792ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/e1028129-b857-4071-a370-bab9a5054fb3
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:36:03.324713Z","id":"e1028129-b857-4071-a370-bab9a5054fb3","pipeline_id":"8265a16f-e067-4ae4-9260-14ceaa01dae8","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:36:03.324713Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.139875ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2,"backend_stage_id":"e1028129-b857-4071-a370-bab9a5054fb3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8265a16f-e067-4ae4-9260-14ceaa01dae8/waf-stages
        method: POST
      response:
        body: '{"backend_stage_id":"e1028129-b857-4071-a370-bab9a5054fb3","created_at":"2026-03-19T08:36:03.498640269Z","id":"131a8d60-9da6-4581-bd16-1b52d4357bab","mode":"enable","paranoia_level":2,"pipeline_id":"8265a16f-e067-4ae4-9260-14ceaa01dae8","updated_at":"2026-03-19T08:36:03.498640269Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.623791ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/131a8d60-9da6-4581-bd16-1b52d4357bab
        method: GET
      response:
        body: '{"backend_stage_id":"e1028129-b857-4071-a370-bab9a5054fb3","created_at":"2026-03-19T08:36:03.498640Z","id":"131a8d60-9da6-4581-bd16-1b52d4357bab","mode":"enable","paranoia_level":2,"pipeline_id":"8265a16f-e067-4ae4-9260-14ceaa01dae8","updated_at":"2026-03-19T08:36:03.498640Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.411666ms
[...]
