---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.968291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-backend-filter","description":"pipeline for backend filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:18:31.119172992Z","description":"pipeline for backend filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"14bbb867-ac98-40e3-9288-2e702285b7d8","name":"tf-tests-ds-backend-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:18:31.119172992Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.060917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/14bbb867-ac98-40e3-9288-2e702285b7d8
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:18:31.119172Z","description":"pipeline for backend filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"14bbb867-ac98-40e3-9288-2e702285b7d8","name":"tf-tests-ds-backend-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:18:31.119172Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.077375ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0e08c6ca-2ac0-46c6-ae5d-9f520261f7e8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151830Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-backend-filter
            X-Amz-Request-Id:
                - txgfe10e6a564cb485ea1fb-0069c54e46
        status: 200 OK
        code: 200
        duration: 4.804430416s
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 72a22ab6-2667-4037-915a-c6b54434d509
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgf887ad6e5845438e8ed1-0069c54e4b
        status: 200 OK
        code: 200
        duration: 219.082583ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9bb69458-6c39-49ea-94c3-e8c4b11df6b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd0ae2c1700c8494ab548-0069c54e4b
        status: 200 OK
        code: 200
        duration: 47.544417ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4ab3d7cc-f1a2-42ee-bb6c-4fb7eb6ef383
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg36d869cb762e4ea0b95d-0069c54e4b</RequestId><HostId>txg36d869cb762e4ea0b95d-0069c54e4b</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg36d869cb762e4ea0b95d-0069c54e4b
        status: 404 Not Found
        code: 404
        duration: 136.926041ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6fbf0737-44da-4370-85a6-fcce927c06d6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-backend-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb5305ee9ae074c91bac3-0069c54e4b
        status: 200 OK
        code: 200
        duration: 21.147208ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1a5c9211-a8e1-43f0-812d-fe1c57129ae2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgf1684f0d2d0941268895-0069c54e4b</RequestId><HostId>txgf1684f0d2d0941268895-0069c54e4b</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf1684f0d2d0941268895-0069c54e4b
        status: 404 Not Found
        code: 404
        duration: 6.760209ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 82902a1a-3f59-4afc-a816-9e852983337e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge1f217ac52724f93957c-0069c54e4b</RequestId><HostId>txge1f217ac52724f93957c-0069c54e4b</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge1f217ac52724f93957c-0069c54e4b
        status: 404 Not Found
        code: 404
        duration: 6.241042ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 73ab5938-dff8-44ab-b405-6179021103c8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg25351a17de0d431ab116-0069c54e4b
        status: 200 OK
        code: 200
        duration: 6.725083ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fa16b6eb-9c30-4150-810b-fbdb05de63d0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151835Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txge83421a3aa1749ccb811-0069c54e4b</RequestId><HostId>txge83421a3aa1749ccb811-0069c54e4b</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge83421a3aa1749ccb811-0069c54e4b
        status: 404 Not Found
        code: 404
        duration: 6.340541ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/14bbb867-ac98-40e3-9288-2e702285b7d8/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:18:37.140572755Z","id":"e176651e-cf83-4784-b8d1-33c55b289a9a","pipeline_id":"14bbb867-ac98-40e3-9288-2e702285b7d8","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:18:37.140572755Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.219076875s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/e176651e-cf83-4784-b8d1-33c55b289a9a
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:18:37.140572Z","id":"e176651e-cf83-4784-b8d1-33c55b289a9a","pipeline_id":"14bbb867-ac98-40e3-9288-2e702285b7d8","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:18:37.140572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.214041ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/14bbb867-ac98-40e3-9288-2e702285b7d8/backend-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"created_at":"2026-03-26T15:18:37.140572Z","id":"e176651e-cf83-4784-b8d1-33c55b289a9a","pipeline_id":"14bbb867-ac98-40e3-9288-2e702285b7d8","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:18:37.140572Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.9525ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.472166ms
[...]
