---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.454375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-backend-id","description":"pipeline for backend data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:18:17.847096537Z","description":"pipeline for backend data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"92d009f6-2223-42e7-b4c1-d1c07c7a427f","name":"tf-tests-ds-backend-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:18:17.847096537Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.968625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/92d009f6-2223-42e7-b4c1-d1c07c7a427f
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:18:17.847096Z","description":"pipeline for backend data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"92d009f6-2223-42e7-b4c1-d1c07c7a427f","name":"tf-tests-ds-backend-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:18:17.847096Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.346875ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1c768731-4f55-4aee-be91-8ef37698e13d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151817Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-backend-id
            X-Amz-Request-Id:
                - txg64a1581dd2da4d1ea07c-0069c54e39
        status: 200 OK
        code: 200
        duration: 5.197903708s
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9c4f43b5-dcea-4128-b1c3-7ad61f896205
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151822Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgff2f3a27913d4acfb4d5-0069c54e3e
        status: 200 OK
        code: 200
        duration: 176.447959ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 82cb5261-1bc1-4328-bbbf-095c457f3eeb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151822Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txga4daf454339a482b9f6b-0069c54e3e
        status: 200 OK
        code: 200
        duration: 46.378292ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cd3f6af5-2c05-4a19-8ec4-54e30fb84a29
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151822Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg754eee160024470b8d9d-0069c54e3e</RequestId><HostId>txg754eee160024470b8d9d-0069c54e3e</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg754eee160024470b8d9d-0069c54e3e
        status: 404 Not Found
        code: 404
        duration: 76.44ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 70e69c10-cc98-425f-a62a-a88cc74f6ae3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151822Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-backend-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc94a430fb9a74943aa0e-0069c54e3f
        status: 200 OK
        code: 200
        duration: 282.752167ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7b582444-9ace-4bd1-9044-db86cb524fee
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151823Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgba7433f2484648269a67-0069c54e3f</RequestId><HostId>txgba7433f2484648269a67-0069c54e3f</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgba7433f2484648269a67-0069c54e3f
        status: 404 Not Found
        code: 404
        duration: 145.887708ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 10fe5c56-5a28-457a-8f8a-94576ca25355
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151823Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge256b4d236e74d13b747-0069c54e3f</RequestId><HostId>txge256b4d236e74d13b747-0069c54e3f</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge256b4d236e74d13b747-0069c54e3f
        status: 404 Not Found
        code: 404
        duration: 181.393291ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ed8e4237-c721-4f33-9b81-00518a456147
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151823Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgead5eaf65d2d4872ba19-0069c54e3f
        status: 200 OK
        code: 200
        duration: 82.727042ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9e550b4a-83bd-48c8-b052-5bc77021854e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T151823Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgb173f0a69f0745c999e5-0069c54e3f</RequestId><HostId>txgb173f0a69f0745c999e5-0069c54e3f</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb173f0a69f0745c999e5-0069c54e3f
        status: 404 Not Found
        code: 404
        duration: 52.200375ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/92d009f6-2223-42e7-b4c1-d1c07c7a427f/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:18:24.333242325Z","id":"aa832bbe-5228-4c5d-9c2e-0af8ffa76ff6","pipeline_id":"92d009f6-2223-42e7-b4c1-d1c07c7a427f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:18:24.333242325Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.254708ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/aa832bbe-5228-4c5d-9c2e-0af8ffa76ff6
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:18:24.333242Z","id":"aa832bbe-5228-4c5d-9c2e-0af8ffa76ff6","pipeline_id":"92d009f6-2223-42e7-b4c1-d1c07c7a427f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:18:24.333242Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.259917ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.721334ms
[...]
