---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.720792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-dns-id","description":"pipeline for DNS data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:28:11.140859393Z","description":"pipeline for DNS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"047da46f-f49c-4b69-8525-75eb66595f6b","name":"tf-tests-ds-dns-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:28:11.140859393Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.721333ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7b1578dc-f190-4c0a-98ac-d9cbe0dd27a9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152810Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-dns-id
            X-Amz-Request-Id:
                - txg579b391b32074d799c4f-0069c5508a
        status: 200 OK
        code: 200
        duration: 508.347083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/047da46f-f49c-4b69-8525-75eb66595f6b
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:28:11.140859Z","description":"pipeline for DNS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"047da46f-f49c-4b69-8525-75eb66595f6b","name":"tf-tests-ds-dns-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:28:11.140859Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.309709ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cc353271-1af9-4d38-9489-2138e7ad467c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152811Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg89d9f7233b26471b9d86-0069c5508b
        status: 200 OK
        code: 200
        duration: 174.793916ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c3cac8a2-d8b9-4f38-be5a-29881feb26ca
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152811Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4dd8405a01c846bb9aa6-0069c5508b
        status: 200 OK
        code: 200
        duration: 292.361791ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 927aa061-f7fa-4d7b-b840-446a69d24fba
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152811Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg55fcb9e788fb49708ead-0069c5508b</RequestId><HostId>txg55fcb9e788fb49708ead-0069c5508b</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg55fcb9e788fb49708ead-0069c5508b
        status: 404 Not Found
        code: 404
        duration: 116.9015ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 82a5b122-f2b8-4e90-bd6c-ce00e300c2c3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152811Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-dns-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg90f561ba8d8e4e229341-0069c5508b
        status: 200 OK
        code: 200
        duration: 106.858583ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - afd930fe-e306-436b-a687-7e08462eb470
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152812Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgf5b54acf81b643ef8f18-0069c5508c</RequestId><HostId>txgf5b54acf81b643ef8f18-0069c5508c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf5b54acf81b643ef8f18-0069c5508c
        status: 404 Not Found
        code: 404
        duration: 157.201042ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ab0ce4b2-1b39-4002-8697-c05b46bff933
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152812Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgc5e1d513a89048059b9f-0069c5508c</RequestId><HostId>txgc5e1d513a89048059b9f-0069c5508c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc5e1d513a89048059b9f-0069c5508c
        status: 404 Not Found
        code: 404
        duration: 144.509459ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 09d19688-1182-4c2d-bdcc-b3740122dcf9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152812Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5b7586412d1f406b91b6-0069c5508c
        status: 200 OK
        code: 200
        duration: 62.511583ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f308662-1dfb-48aa-9fbd-d1c5b08d5e09
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152812Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg429e0077d94b4b36a3d2-0069c5508c</RequestId><HostId>txg429e0077d94b4b36a3d2-0069c5508c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg429e0077d94b4b36a3d2-0069c5508c
        status: 404 Not Found
        code: 404
        duration: 80.289083ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/047da46f-f49c-4b69-8525-75eb66595f6b/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:28:13.038037022Z","id":"7eedf0ab-e1cf-47d8-808c-7e20514aba69","pipeline_id":"047da46f-f49c-4b69-8525-75eb66595f6b","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:28:13.038037022Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 596.454958ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/7eedf0ab-e1cf-47d8-808c-7e20514aba69
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:28:13.038037Z","id":"7eedf0ab-e1cf-47d8-808c-7e20514aba69","pipeline_id":"047da46f-f49c-4b69-8525-75eb66595f6b","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:28:13.038037Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.058875ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"backend_stage_id":"7eedf0ab-e1cf-47d8-808c-7e20514aba69"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/047da46f-f49c-4b69-8525-75eb66595f6b/dns-stages
        method: POST
      response:
        body: '{"backend_stage_id":"7eedf0ab-e1cf-47d8-808c-7e20514aba69","created_at":"2026-03-26T15:28:13.194094806Z","default_fqdn":"","fqdns":[],"id":"eba0cefb-421e-465f-9a78-bdac6c367d33","pipeline_id":"047da46f-f49c-4b69-8525-75eb66595f6b","type":"auto","updated_at":"2026-03-26T15:28:13.194094806Z","wildcard_domain":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.056584ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/eba0cefb-421e-465f-9a78-bdac6c367d33
        method: GET
      response:
        body: '{"backend_stage_id":"7eedf0ab-e1cf-47d8-808c-7e20514aba69","created_at":"2026-03-26T15:28:13.194094Z","default_fqdn":"","fqdns":[],"id":"eba0cefb-421e-465f-9a78-bdac6c367d33","pipeline_id":"047da46f-f49c-4b69-8525-75eb66595f6b","type":"auto","updated_at":"2026-03-26T15:28:13.194094Z","wildcard_domain":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.158459ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.173ms
[...]
