---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.276792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-waf-filter","description":"pipeline for WAF filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:49:16.756715841Z","description":"pipeline for WAF filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"09aca08c-7954-40da-9d26-55b14696a688","name":"tf-tests-ds-waf-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:49:16.756715841Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.247917ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 483155d9-81e0-4b2b-a1e2-c66d3f5ff440
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154916Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-waf-filter
            X-Amz-Request-Id:
                - txg63a556f7ca30407fbdee-0069c5557c
        status: 200 OK
        code: 200
        duration: 516.591167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/09aca08c-7954-40da-9d26-55b14696a688
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:49:16.756715Z","description":"pipeline for WAF filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"09aca08c-7954-40da-9d26-55b14696a688","name":"tf-tests-ds-waf-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:49:16.756715Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.496291ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e176169f-f742-430c-8efe-1fdd20d1e86c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154916Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg08cbe06091314ecab1cc-0069c5557c
        status: 200 OK
        code: 200
        duration: 132.630042ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 55f85fe7-2758-44f0-8cc8-b093da511782
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154917Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txge8ecff83caf84e418eb7-0069c5557d
        status: 200 OK
        code: 200
        duration: 52.806584ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dc2d992f-ab7a-48a5-a65b-4c3d27753527
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154917Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txga7f9b4939751464bb905-0069c5557d</RequestId><HostId>txga7f9b4939751464bb905-0069c5557d</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga7f9b4939751464bb905-0069c5557d
        status: 404 Not Found
        code: 404
        duration: 90.954333ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 857f46ec-57df-4b07-9bf5-42b164da8035
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154917Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-waf-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7210cac09a62451ab860-0069c5557d
        status: 200 OK
        code: 200
        duration: 124.215416ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a688cfc3-fead-4122-9af7-57d65fdef3f6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154917Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg07e0ca6e14034b1cb65e-0069c5557d</RequestId><HostId>txg07e0ca6e14034b1cb65e-0069c5557d</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg07e0ca6e14034b1cb65e-0069c5557d
        status: 404 Not Found
        code: 404
        duration: 118.071541ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0bcbddf9-d7f9-4390-a798-c31e22121d17
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154917Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg14d5d0846d86427fbf6f-0069c5557d</RequestId><HostId>txg14d5d0846d86427fbf6f-0069c5557d</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg14d5d0846d86427fbf6f-0069c5557d
        status: 404 Not Found
        code: 404
        duration: 49.360709ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c2bc3d80-7d01-4178-9ed5-68a101345bdf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154917Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg65099a60937741edb097-0069c5557d
        status: 200 OK
        code: 200
        duration: 58.424084ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d8dba1a7-2c34-441f-ba40-4268365188f9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154917Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg299677e210bc47a6981f-0069c5557d</RequestId><HostId>txg299677e210bc47a6981f-0069c5557d</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg299677e210bc47a6981f-0069c5557d
        status: 404 Not Found
        code: 404
        duration: 146.75475ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/09aca08c-7954-40da-9d26-55b14696a688/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:49:18.091109351Z","id":"2721baf4-1f0c-4949-9d17-b5ecf3ab1938","pipeline_id":"09aca08c-7954-40da-9d26-55b14696a688","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:49:18.091109351Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 426.802208ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/2721baf4-1f0c-4949-9d17-b5ecf3ab1938
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:49:18.091109Z","id":"2721baf4-1f0c-4949-9d17-b5ecf3ab1938","pipeline_id":"09aca08c-7954-40da-9d26-55b14696a688","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:49:18.091109Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.413334ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2,"backend_stage_id":"2721baf4-1f0c-4949-9d17-b5ecf3ab1938"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/09aca08c-7954-40da-9d26-55b14696a688/waf-stages
        method: POST
      response:
        body: '{"backend_stage_id":"2721baf4-1f0c-4949-9d17-b5ecf3ab1938","created_at":"2026-03-26T15:49:18.220422679Z","id":"f910ae44-66df-47e9-b35c-acbed52432fd","mode":"enable","paranoia_level":2,"pipeline_id":"09aca08c-7954-40da-9d26-55b14696a688","updated_at":"2026-03-26T15:49:18.220422679Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.456ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/f910ae44-66df-47e9-b35c-acbed52432fd
        method: GET
      response:
        body: '{"backend_stage_id":"2721baf4-1f0c-4949-9d17-b5ecf3ab1938","created_at":"2026-03-26T15:49:18.220422Z","id":"f910ae44-66df-47e9-b35c-acbed52432fd","mode":"enable","paranoia_level":2,"pipeline_id":"09aca08c-7954-40da-9d26-55b14696a688","updated_at":"2026-03-26T15:49:18.220422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.182334ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/09aca08c-7954-40da-9d26-55b14696a688/waf-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"2721baf4-1f0c-4949-9d17-b5ecf3ab1938","created_at":"2026-03-26T15:49:18.220422Z","id":"f910ae44-66df-47e9-b35c-acbed52432fd","mode":"enable","paranoia_level":2,"pipeline_id":"09aca08c-7954-40da-9d26-55b14696a688","updated_at":"2026-03-26T15:49:18.220422Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.676291ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.562375ms
[...]
