---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-backend-filter","description":"pipeline for backend filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-18T13:47:41.910154584Z","description":"pipeline for backend filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"76891250-a64c-41bd-ba9c-9a62fc87de52","name":"tf-tests-ds-backend-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T13:47:41.910154584Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.79675ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/76891250-a64c-41bd-ba9c-9a62fc87de52
        method: GET
      response:
        body: '{"created_at":"2026-03-18T13:47:41.910154Z","description":"pipeline for backend filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"76891250-a64c-41bd-ba9c-9a62fc87de52","name":"tf-tests-ds-backend-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T13:47:41.910154Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.640875ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 61671c4d-ca77-4354-98a3-a75ab5825697
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134741Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-backend-filter
            X-Amz-Request-Id:
                - txg2b16e817380f44a7a1a9-0069baacfd
        status: 200 OK
        code: 200
        duration: 806.764625ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d947bda2-0085-45e8-b547-77fb37ed2ec3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134742Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgc37665811ca344bf8fd2-0069baacfe
        status: 200 OK
        code: 200
        duration: 109.188167ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0e36de24-6976-4150-b5fb-e8abd43c15d4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134742Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg38ecee4509ee4759a7cd-0069baacfe
        status: 200 OK
        code: 200
        duration: 111.383333ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - db6a93e5-504f-43c3-8301-a2c770a12640
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134742Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgbeef87bea7714a57904f-0069baacfe</RequestId><HostId>txgbeef87bea7714a57904f-0069baacfe</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbeef87bea7714a57904f-0069baacfe
        status: 404 Not Found
        code: 404
        duration: 94.455792ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0d8a612f-7869-437a-84c4-bd59b067ed24
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134742Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-backend-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg52dd4e045d274b13985e-0069baacfe
        status: 200 OK
        code: 200
        duration: 235.465125ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2da9a524-35ad-4e27-8033-27f91542d0c1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134743Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg1fb4894bdc2548d98fcc-0069baacff</RequestId><HostId>txg1fb4894bdc2548d98fcc-0069baacff</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1fb4894bdc2548d98fcc-0069baacff
        status: 404 Not Found
        code: 404
        duration: 8.779708ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d1054e00-5e6f-4e44-bb35-35b4cbfcf7aa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134743Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg81e74d1e40ff43b0869c-0069baacff</RequestId><HostId>txg81e74d1e40ff43b0869c-0069baacff</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg81e74d1e40ff43b0869c-0069baacff
        status: 404 Not Found
        code: 404
        duration: 11.190458ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cde95f40-eee0-475a-a47f-c9625b07a656
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134743Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd5fd5eb96d0749ac8946-0069baacff
        status: 200 OK
        code: 200
        duration: 33.785ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0a9229a9-7501-4bb9-bb36-1a303ecac0a0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134743Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg827b757a789f407aab87-0069baacff</RequestId><HostId>txg827b757a789f407aab87-0069baacff</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg827b757a789f407aab87-0069baacff
        status: 404 Not Found
        code: 404
        duration: 19.116333ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/76891250-a64c-41bd-ba9c-9a62fc87de52/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-18T13:47:43.639637473Z","id":"1907a956-3661-46b7-aa72-46457dcbaa49","pipeline_id":"76891250-a64c-41bd-ba9c-9a62fc87de52","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T13:47:43.639637473Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.017917ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/1907a956-3661-46b7-aa72-46457dcbaa49
        method: GET
      response:
        body: '{"created_at":"2026-03-18T13:47:43.639637Z","id":"1907a956-3661-46b7-aa72-46457dcbaa49","pipeline_id":"76891250-a64c-41bd-ba9c-9a62fc87de52","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T13:47:43.639637Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.146916ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/76891250-a64c-41bd-ba9c-9a62fc87de52/backend-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"created_at":"2026-03-18T13:47:43.639637Z","id":"1907a956-3661-46b7-aa72-46457dcbaa49","pipeline_id":"76891250-a64c-41bd-ba9c-9a62fc87de52","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T13:47:43.639637Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.891166ms
[...]
