---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-cache-id","description":"pipeline for cache data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:11:22.942128784Z","description":"pipeline for cache data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389","name":"tf-tests-ds-cache-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:11:22.942128784Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.179166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:11:22.942128Z","description":"pipeline for cache data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389","name":"tf-tests-ds-cache-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:11:22.942128Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.147417ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e75bf850-4d47-4d46-8356-ba16aeb61668
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151122Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-cache-id
            X-Amz-Request-Id:
                - txgad3368b981874fc88a05-0069bac09a
        status: 200 OK
        code: 200
        duration: 800.026ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 91fbd3f6-0cc7-49c0-a1f5-e910a8797b2e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151123Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg725d085ff99e486e8db9-0069bac09b
        status: 200 OK
        code: 200
        duration: 1.046606792s
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - db70577f-ab0e-45e7-93bb-12751396bf68
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151124Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5929a3c10a90469ea003-0069bac09c
        status: 200 OK
        code: 200
        duration: 54.980208ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ee750769-087e-4b76-9ad8-e9d80a17dfff
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151124Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg4b885ae95502403ca9f8-0069bac09c</RequestId><HostId>txg4b885ae95502403ca9f8-0069bac09c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4b885ae95502403ca9f8-0069bac09c
        status: 404 Not Found
        code: 404
        duration: 43.627625ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5e8b6a92-a6c1-499e-a9cc-002f894ee910
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151124Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-cache-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2003182e57484bcba92c-0069bac09c
        status: 200 OK
        code: 200
        duration: 187.840417ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3ab130b1-fe1e-4804-a08c-98d5f19529ba
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151124Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txge0684c1c2a324fa3b846-0069bac09c</RequestId><HostId>txge0684c1c2a324fa3b846-0069bac09c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge0684c1c2a324fa3b846-0069bac09c
        status: 404 Not Found
        code: 404
        duration: 54.7195ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c806c1d3-6112-43df-9e78-31c200a8a461
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151124Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge7bf24cbb48e49c38678-0069bac09c</RequestId><HostId>txge7bf24cbb48e49c38678-0069bac09c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge7bf24cbb48e49c38678-0069bac09c
        status: 404 Not Found
        code: 404
        duration: 162.228667ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 64a59775-c250-4521-973e-18f9a4d7c2b0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151124Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2d4a75266b4e4ba7b939-0069bac09d
        status: 200 OK
        code: 200
        duration: 145.653833ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c86f4f24-1509-4a0f-8f21-ecaea731d745
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151125Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgf5abd0abfa3747dabc13-0069bac09d</RequestId><HostId>txgf5abd0abfa3747dabc13-0069bac09d</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf5abd0abfa3747dabc13-0069bac09d
        status: 404 Not Found
        code: 404
        duration: 44.2955ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:11:26.000312498Z","id":"67d173a2-20ae-4875-ae4f-8bbdc574e4d0","pipeline_id":"8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:11:26.000312498Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 818.053708ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/67d173a2-20ae-4875-ae4f-8bbdc574e4d0
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:11:26.000312Z","id":"67d173a2-20ae-4875-ae4f-8bbdc574e4d0","pipeline_id":"8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:11:26.000312Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.07325ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s","include_cookies":false,"backend_stage_id":"67d173a2-20ae-4875-ae4f-8bbdc574e4d0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389/cache-stages
        method: POST
      response:
        body: '{"backend_stage_id":"67d173a2-20ae-4875-ae4f-8bbdc574e4d0","created_at":"2026-03-18T15:11:26.162726277Z","fallback_ttl":"3600s","id":"a019e759-435f-4c59-b871-0b73a06dd723","include_cookies":false,"pipeline_id":"8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389","updated_at":"2026-03-18T15:11:26.162726277Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.18475ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/a019e759-435f-4c59-b871-0b73a06dd723
        method: GET
      response:
        body: '{"backend_stage_id":"67d173a2-20ae-4875-ae4f-8bbdc574e4d0","created_at":"2026-03-18T15:11:26.162726Z","fallback_ttl":"3600s","id":"a019e759-435f-4c59-b871-0b73a06dd723","include_cookies":false,"pipeline_id":"8ca3e850-ec8c-4d6a-b549-d9d4f9d8c389","updated_at":"2026-03-18T15:11:26.162726Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.732458ms
[...]
