---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-tls-filter","description":"pipeline for TLS filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:30:35.803339180Z","description":"pipeline for TLS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"c6165c60-1f1e-414a-9b15-44c23d785e76","name":"tf-tests-ds-tls-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:30:35.803339180Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.601709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/c6165c60-1f1e-414a-9b15-44c23d785e76
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:30:35.803339Z","description":"pipeline for TLS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"c6165c60-1f1e-414a-9b15-44c23d785e76","name":"tf-tests-ds-tls-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:30:35.803339Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.327042ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f9fc4fd0-bad7-45f4-819e-f77f6d1e4ae5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083035Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-tls-filter
            X-Amz-Request-Id:
                - txgd4e09ed096b94f03b3dc-0069bbb42b
        status: 200 OK
        code: 200
        duration: 732.811ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1bd5baef-6f92-4bc4-a823-08af14fa8cee
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083036Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgce2f642bfe9948a1af3d-0069bbb42c
        status: 200 OK
        code: 200
        duration: 135.361959ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e2da61d2-4d48-4ad1-a31c-f9781e6e7532
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083036Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg06bd9e51601148bb95a1-0069bbb42c
        status: 200 OK
        code: 200
        duration: 196.729791ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5afe1491-a59e-4c50-84c5-3572b69f696a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083036Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg75c152d96b9b4e379a1c-0069bbb42c</RequestId><HostId>txg75c152d96b9b4e379a1c-0069bbb42c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg75c152d96b9b4e379a1c-0069bbb42c
        status: 404 Not Found
        code: 404
        duration: 99.479125ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 613ae4ef-03ab-4b1a-b05b-a94fc4305c9e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083036Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-tls-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg715c0fb6f61649cf893f-0069bbb42c
        status: 200 OK
        code: 200
        duration: 160.468541ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 02f34dea-a50c-4bf6-af27-6e5335270a68
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083036Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgdbc785bcf222422fa099-0069bbb42c</RequestId><HostId>txgdbc785bcf222422fa099-0069bbb42c</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgdbc785bcf222422fa099-0069bbb42c
        status: 404 Not Found
        code: 404
        duration: 155.939375ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dccf7a05-4e52-4a2d-969d-bcdcc0ea19ed
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083037Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg249e1766582f49dfab4d-0069bbb42d</RequestId><HostId>txg249e1766582f49dfab4d-0069bbb42d</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg249e1766582f49dfab4d-0069bbb42d
        status: 404 Not Found
        code: 404
        duration: 239.096083ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1da85377-7504-408f-a1b6-1cce156b83df
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083037Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg9b194fab93e644499b82-0069bbb42d
        status: 200 OK
        code: 200
        duration: 89.644375ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dbb5f2a9-7b65-4196-be2e-abb1978a63ab
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083037Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg2fa363f98b6044ae8582-0069bbb42d</RequestId><HostId>txg2fa363f98b6044ae8582-0069bbb42d</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2fa363f98b6044ae8582-0069bbb42d
        status: 404 Not Found
        code: 404
        duration: 230.022792ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/c6165c60-1f1e-414a-9b15-44c23d785e76/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:30:38.123278927Z","id":"d899accd-86ae-40fa-98f1-99886d96dd1a","pipeline_id":"c6165c60-1f1e-414a-9b15-44c23d785e76","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:30:38.123278927Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 508.918041ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/d899accd-86ae-40fa-98f1-99886d96dd1a
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:30:38.123278Z","id":"d899accd-86ae-40fa-98f1-99886d96dd1a","pipeline_id":"c6165c60-1f1e-414a-9b15-44c23d785e76","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:30:38.123278Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.605792ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"secrets":[],"managed_certificate":true,"backend_stage_id":"d899accd-86ae-40fa-98f1-99886d96dd1a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/c6165c60-1f1e-414a-9b15-44c23d785e76/tls-stages
        method: POST
      response:
        body: '{"backend_stage_id":"d899accd-86ae-40fa-98f1-99886d96dd1a","certificate_expires_at":null,"created_at":"2026-03-19T08:30:38.263254220Z","id":"abdc0f9a-1e9b-4bb2-8e83-5fefd80d6440","managed_certificate":true,"pipeline_id":"c6165c60-1f1e-414a-9b15-44c23d785e76","secrets":[],"updated_at":"2026-03-19T08:30:38.263254220Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.142166ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/abdc0f9a-1e9b-4bb2-8e83-5fefd80d6440
        method: GET
      response:
        body: '{"backend_stage_id":"d899accd-86ae-40fa-98f1-99886d96dd1a","certificate_expires_at":null,"created_at":"2026-03-19T08:30:38.263254Z","id":"abdc0f9a-1e9b-4bb2-8e83-5fefd80d6440","managed_certificate":true,"pipeline_id":"c6165c60-1f1e-414a-9b15-44c23d785e76","secrets":[],"updated_at":"2026-03-19T08:30:38.263254Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.585708ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/c6165c60-1f1e-414a-9b15-44c23d785e76/tls-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"d899accd-86ae-40fa-98f1-99886d96dd1a","certificate_expires_at":null,"created_at":"2026-03-19T08:30:38.263254Z","id":"abdc0f9a-1e9b-4bb2-8e83-5fefd80d6440","managed_certificate":true,"pipeline_id":"c6165c60-1f1e-414a-9b15-44c23d785e76","secrets":[],"updated_at":"2026-03-19T08:30:38.263254Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.450666ms
[...]
