---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-route-filter","description":"pipeline for route filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:50.414921079Z","description":"pipeline for route filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","name":"tf-tests-ds-route-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T17:51:50.414921079Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.904375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/cd1d9afb-5c32-4d3b-a390-3e12f46ccf45
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:50.414921Z","description":"pipeline for route filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","name":"tf-tests-ds-route-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T17:51:50.414921Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.871292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/cd1d9afb-5c32-4d3b-a390-3e12f46ccf45/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:50.592492712Z","id":"28e59dcd-af0e-48a1-954a-b5bf4ff65c03","mode":"enable","paranoia_level":3,"pipeline_id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","updated_at":"2026-03-19T17:51:50.592492712Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.86525ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/28e59dcd-af0e-48a1-954a-b5bf4ff65c03
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:50.592492Z","id":"28e59dcd-af0e-48a1-954a-b5bf4ff65c03","mode":"enable","paranoia_level":3,"pipeline_id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","updated_at":"2026-03-19T17:51:50.592492Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.352125ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ce1a62bd-9f52-42d1-9360-f380fbfbfbfc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175150Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-route-filter
            X-Amz-Request-Id:
                - txg7b09f64962de4aeeb5c8-0069bc37b6
        status: 200 OK
        code: 200
        duration: 872.620167ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 10fab8e8-9ddd-4aa0-949c-d7dbae822158
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175151Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg775952e2cec842099d75-0069bc37b7
        status: 200 OK
        code: 200
        duration: 265.972541ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 80ceb5e7-666e-4dbe-801f-ea824ddb8fce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175151Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgb4bf10977245495088a0-0069bc37b7
        status: 200 OK
        code: 200
        duration: 140.703625ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b0eaa766-9ae2-40b0-8c6b-dfa182656a52
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175151Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txga1bc037a91484fd6ab47-0069bc37b7</RequestId><HostId>txga1bc037a91484fd6ab47-0069bc37b7</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga1bc037a91484fd6ab47-0069bc37b7
        status: 404 Not Found
        code: 404
        duration: 158.492083ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e1b5389a-e1c3-4b52-9c76-450c901f25f4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175151Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-route-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg088568c2ac134448aa52-0069bc37b7
        status: 200 OK
        code: 200
        duration: 120.656125ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 210fff6e-5274-43a0-b2f7-61098dd7807e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175151Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg91eb0508e20d47039d02-0069bc37b7</RequestId><HostId>txg91eb0508e20d47039d02-0069bc37b7</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg91eb0508e20d47039d02-0069bc37b7
        status: 404 Not Found
        code: 404
        duration: 57.366875ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2d146264-823e-497a-9af3-37716f2da12a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175151Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg12d007926a484b40ba37-0069bc37b7</RequestId><HostId>txg12d007926a484b40ba37-0069bc37b7</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg12d007926a484b40ba37-0069bc37b7
        status: 404 Not Found
        code: 404
        duration: 181.197084ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8c28f370-0e01-48ac-966e-6c065884084a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175151Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgce808e4ddf8a4c2b851d-0069bc37b8
        status: 200 OK
        code: 200
        duration: 82.414917ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f728e835-abee-469b-b72c-5af6fa2a3819
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175152Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg1f81410cd29a462e9d7f-0069bc37b8</RequestId><HostId>txg1f81410cd29a462e9d7f-0069bc37b8</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1f81410cd29a462e9d7f-0069bc37b8
        status: 404 Not Found
        code: 404
        duration: 162.1875ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/cd1d9afb-5c32-4d3b-a390-3e12f46ccf45/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:52.670419752Z","id":"cce9edb5-3bfb-456a-a733-fb9d16f74ca0","pipeline_id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T17:51:52.670419752Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.644125ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/cce9edb5-3bfb-456a-a733-fb9d16f74ca0
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:52.670419Z","id":"cce9edb5-3bfb-456a-a733-fb9d16f74ca0","pipeline_id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T17:51:52.670419Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.290792ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"28e59dcd-af0e-48a1-954a-b5bf4ff65c03"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/cd1d9afb-5c32-4d3b-a390-3e12f46ccf45/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:52.842026225Z","id":"46c21c7e-7b93-45ce-a04d-27a672b50234","pipeline_id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","updated_at":"2026-03-19T17:51:52.842026225Z","waf_stage_id":"28e59dcd-af0e-48a1-954a-b5bf4ff65c03"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.050625ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}},"backend_stage_id":"cce9edb5-3bfb-456a-a733-fb9d16f74ca0"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/46c21c7e-7b93-45ce-a04d-27a672b50234/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"cce9edb5-3bfb-456a-a733-fb9d16f74ca0","position":1,"route_stage_id":"46c21c7e-7b93-45ce-a04d-27a672b50234","rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.933084ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/46c21c7e-7b93-45ce-a04d-27a672b50234
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:52.842026Z","id":"46c21c7e-7b93-45ce-a04d-27a672b50234","pipeline_id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","updated_at":"2026-03-19T17:51:53.007825Z","waf_stage_id":"28e59dcd-af0e-48a1-954a-b5bf4ff65c03"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.079542ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/46c21c7e-7b93-45ce-a04d-27a672b50234/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"cce9edb5-3bfb-456a-a733-fb9d16f74ca0","position":1,"route_stage_id":"46c21c7e-7b93-45ce-a04d-27a672b50234","rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.166417ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/cd1d9afb-5c32-4d3b-a390-3e12f46ccf45/route-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"created_at":"2026-03-19T17:51:52.842026Z","id":"46c21c7e-7b93-45ce-a04d-27a672b50234","pipeline_id":"cd1d9afb-5c32-4d3b-a390-3e12f46ccf45","updated_at":"2026-03-19T17:51:53.007825Z","waf_stage_id":"28e59dcd-af0e-48a1-954a-b5bf4ff65c03"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.84225ms
[...]
