---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.475208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-route-filter","description":"pipeline for route filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:31:11.385146193Z","description":"pipeline for route filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"d665b70b-442d-4e14-af95-28107ecef45d","name":"tf-tests-ds-route-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:31:11.385146193Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.683375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d665b70b-442d-4e14-af95-28107ecef45d
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:31:11.385146Z","description":"pipeline for route filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"d665b70b-442d-4e14-af95-28107ecef45d","name":"tf-tests-ds-route-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:31:11.385146Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.213833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d665b70b-442d-4e14-af95-28107ecef45d/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:31:11.522634257Z","id":"a89279d2-8ed9-4050-a1f4-a8ab688fbea7","mode":"enable","paranoia_level":3,"pipeline_id":"d665b70b-442d-4e14-af95-28107ecef45d","updated_at":"2026-03-26T15:31:11.522634257Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.972542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/a89279d2-8ed9-4050-a1f4-a8ab688fbea7
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:31:11.522634Z","id":"a89279d2-8ed9-4050-a1f4-a8ab688fbea7","mode":"enable","paranoia_level":3,"pipeline_id":"d665b70b-442d-4e14-af95-28107ecef45d","updated_at":"2026-03-26T15:31:11.522634Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.03ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4a098376-07ba-44be-b6db-52518139877b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153110Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-route-filter
            X-Amz-Request-Id:
                - txg134e15ddecff4011b5b6-0069c5513f
        status: 200 OK
        code: 200
        duration: 4.459951s
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 74d9e682-bbcf-44f6-9993-128a1d802b10
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153115Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg179bf30cedbb4d22aa59-0069c55143
        status: 200 OK
        code: 200
        duration: 356.440708ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1ade4bce-d7cc-4a6d-96db-dd685b3290d1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153115Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3a805b52f23948bc9dce-0069c55143
        status: 200 OK
        code: 200
        duration: 43.54775ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 58bb5507-ba42-4467-96af-5b9d79e6d733
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153115Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txga4f4ce1d19694284a8c8-0069c55143</RequestId><HostId>txga4f4ce1d19694284a8c8-0069c55143</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga4f4ce1d19694284a8c8-0069c55143
        status: 404 Not Found
        code: 404
        duration: 30.01075ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8dbff58f-8f5c-42ba-b3ae-824dc2715e08
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153115Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-route-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc98f7acdae4a4912b1e0-0069c55143
        status: 200 OK
        code: 200
        duration: 226.260417ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a3030815-95b2-4dd7-8097-5a9b5c0c53a1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153116Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg38701700e3854b62951e-0069c55144</RequestId><HostId>txg38701700e3854b62951e-0069c55144</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg38701700e3854b62951e-0069c55144
        status: 404 Not Found
        code: 404
        duration: 14.157208ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3f885ea1-dfad-453e-bec0-ff8a1102e528
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153116Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg1cea5dc127714425991c-0069c55144</RequestId><HostId>txg1cea5dc127714425991c-0069c55144</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1cea5dc127714425991c-0069c55144
        status: 404 Not Found
        code: 404
        duration: 53.395459ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 28d544dd-7cbd-4e5e-b6ca-6536ae7656ce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153116Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgeceae9f7921b477eb8b5-0069c55144
        status: 200 OK
        code: 200
        duration: 156.155959ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 46495b04-47d5-4a7e-8902-d1dedd36af7f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153116Z
        url: https://test-acc-scaleway-object-bucket-ds-route-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg1f4a1754d48c44f1ab9d-0069c55144</RequestId><HostId>txg1f4a1754d48c44f1ab9d-0069c55144</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1f4a1754d48c44f1ab9d-0069c55144
        status: 404 Not Found
        code: 404
        duration: 111.684959ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d665b70b-442d-4e14-af95-28107ecef45d/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:31:17.148766279Z","id":"c8a00ff6-2750-4f88-a100-54a121c3dc31","pipeline_id":"d665b70b-442d-4e14-af95-28107ecef45d","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:31:17.148766279Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 709.683542ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/c8a00ff6-2750-4f88-a100-54a121c3dc31
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:31:17.148766Z","id":"c8a00ff6-2750-4f88-a100-54a121c3dc31","pipeline_id":"d665b70b-442d-4e14-af95-28107ecef45d","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:31:17.148766Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.111167ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"a89279d2-8ed9-4050-a1f4-a8ab688fbea7"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d665b70b-442d-4e14-af95-28107ecef45d/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:31:17.292169598Z","id":"0be1cd84-d9ec-40fc-bf85-aefbec19bfdb","pipeline_id":"d665b70b-442d-4e14-af95-28107ecef45d","updated_at":"2026-03-26T15:31:17.292169598Z","waf_stage_id":"a89279d2-8ed9-4050-a1f4-a8ab688fbea7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.368417ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"},"host_filter":null},"backend_stage_id":"c8a00ff6-2750-4f88-a100-54a121c3dc31"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/0be1cd84-d9ec-40fc-bf85-aefbec19bfdb/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"c8a00ff6-2750-4f88-a100-54a121c3dc31","position":1,"route_stage_id":"0be1cd84-d9ec-40fc-bf85-aefbec19bfdb","rule_http_match":{"host_filter":null,"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.909875ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/0be1cd84-d9ec-40fc-bf85-aefbec19bfdb
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:31:17.292169Z","id":"0be1cd84-d9ec-40fc-bf85-aefbec19bfdb","pipeline_id":"d665b70b-442d-4e14-af95-28107ecef45d","updated_at":"2026-03-26T15:31:17.476380Z","waf_stage_id":"a89279d2-8ed9-4050-a1f4-a8ab688fbea7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.336458ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/0be1cd84-d9ec-40fc-bf85-aefbec19bfdb/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"c8a00ff6-2750-4f88-a100-54a121c3dc31","position":1,"route_stage_id":"0be1cd84-d9ec-40fc-bf85-aefbec19bfdb","rule_http_match":{"host_filter":null,"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.326125ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d665b70b-442d-4e14-af95-28107ecef45d/route-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"created_at":"2026-03-26T15:31:17.292169Z","id":"0be1cd84-d9ec-40fc-bf85-aefbec19bfdb","pipeline_id":"d665b70b-442d-4e14-af95-28107ecef45d","updated_at":"2026-03-26T15:31:17.476380Z","waf_stage_id":"a89279d2-8ed9-4050-a1f4-a8ab688fbea7"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.231916ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.963625ms
[...]
