---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-waf-filter","description":"pipeline for WAF filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:37:58.428611130Z","description":"pipeline for WAF filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"76464504-dca0-46db-89e9-cf9f945c0e84","name":"tf-tests-ds-waf-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:37:58.428611130Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.761292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/76464504-dca0-46db-89e9-cf9f945c0e84
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:37:58.428611Z","description":"pipeline for WAF filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"76464504-dca0-46db-89e9-cf9f945c0e84","name":"tf-tests-ds-waf-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:37:58.428611Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.728166ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e4170bca-2c84-4f8c-b4de-8dd11fc06578
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083758Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-waf-filter
            X-Amz-Request-Id:
                - txgac3d09ef4ba64c5d8902-0069bbb5e6
        status: 200 OK
        code: 200
        duration: 4.616265583s
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 349da772-e83c-48a3-abfe-12008a5f1aaf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083802Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgafdc5a1f392044f085b3-0069bbb5ea
        status: 200 OK
        code: 200
        duration: 163.6525ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a5ae720e-4b82-4db0-9c49-6735bfd84f15
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083802Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgec590876b50c4494aff8-0069bbb5eb
        status: 200 OK
        code: 200
        duration: 54.155375ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9557c105-92a5-436d-ba55-48617ed35ea3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083803Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg4974abed73e24a7aa0a4-0069bbb5eb</RequestId><HostId>txg4974abed73e24a7aa0a4-0069bbb5eb</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4974abed73e24a7aa0a4-0069bbb5eb
        status: 404 Not Found
        code: 404
        duration: 63.5515ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cc3b15c9-b449-4bcc-bb3e-67aa54e1a69a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083803Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-waf-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge7f963d30c5c4aec93a1-0069bbb5eb
        status: 200 OK
        code: 200
        duration: 99.889292ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 676d76bb-49be-461c-9482-f4658678fc44
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083803Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txged4a166d31d94a5bb01f-0069bbb5eb</RequestId><HostId>txged4a166d31d94a5bb01f-0069bbb5eb</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txged4a166d31d94a5bb01f-0069bbb5eb
        status: 404 Not Found
        code: 404
        duration: 64.250208ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f4937c33-6f53-4771-9c20-48ead06653d8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083803Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg2635c007acf84c87bd79-0069bbb5eb</RequestId><HostId>txg2635c007acf84c87bd79-0069bbb5eb</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2635c007acf84c87bd79-0069bbb5eb
        status: 404 Not Found
        code: 404
        duration: 66.184167ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8a3a9254-a430-45fc-afc4-e19b5463e1f4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083803Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4d44021d674743c4b59c-0069bbb5eb
        status: 200 OK
        code: 200
        duration: 94.490125ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5a8781be-f292-4d3b-b31f-d6136591126a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T083803Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgadc4f035487042bea80f-0069bbb5eb</RequestId><HostId>txgadc4f035487042bea80f-0069bbb5eb</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgadc4f035487042bea80f-0069bbb5eb
        status: 404 Not Found
        code: 404
        duration: 239.711333ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/76464504-dca0-46db-89e9-cf9f945c0e84/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:38:04.237373656Z","id":"4dda9bed-3da4-4868-95b3-cf281b1b7383","pipeline_id":"76464504-dca0-46db-89e9-cf9f945c0e84","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:38:04.237373656Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 557.590916ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/4dda9bed-3da4-4868-95b3-cf281b1b7383
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:38:04.237373Z","id":"4dda9bed-3da4-4868-95b3-cf281b1b7383","pipeline_id":"76464504-dca0-46db-89e9-cf9f945c0e84","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:38:04.237373Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.931333ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2,"backend_stage_id":"4dda9bed-3da4-4868-95b3-cf281b1b7383"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/76464504-dca0-46db-89e9-cf9f945c0e84/waf-stages
        method: POST
      response:
        body: '{"backend_stage_id":"4dda9bed-3da4-4868-95b3-cf281b1b7383","created_at":"2026-03-19T08:38:04.419710738Z","id":"888f5fca-a3e4-4647-9058-a4ed0153d57e","mode":"enable","paranoia_level":2,"pipeline_id":"76464504-dca0-46db-89e9-cf9f945c0e84","updated_at":"2026-03-19T08:38:04.419710738Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.19375ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/888f5fca-a3e4-4647-9058-a4ed0153d57e
        method: GET
      response:
        body: '{"backend_stage_id":"4dda9bed-3da4-4868-95b3-cf281b1b7383","created_at":"2026-03-19T08:38:04.419710Z","id":"888f5fca-a3e4-4647-9058-a4ed0153d57e","mode":"enable","paranoia_level":2,"pipeline_id":"76464504-dca0-46db-89e9-cf9f945c0e84","updated_at":"2026-03-19T08:38:04.419710Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.307ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/76464504-dca0-46db-89e9-cf9f945c0e84/waf-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"4dda9bed-3da4-4868-95b3-cf281b1b7383","created_at":"2026-03-19T08:38:04.419710Z","id":"888f5fca-a3e4-4647-9058-a4ed0153d57e","mode":"enable","paranoia_level":2,"pipeline_id":"76464504-dca0-46db-89e9-cf9f945c0e84","updated_at":"2026-03-19T08:38:04.419710Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.803792ms
[...]
