---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-dns-id","description":"pipeline for DNS data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:30:46.736246323Z","description":"pipeline for DNS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"20d504b0-db1b-4ce2-9f00-0db3ac0eb803","name":"tf-tests-ds-dns-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:30:46.736246323Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.04525ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/20d504b0-db1b-4ce2-9f00-0db3ac0eb803
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:30:46.736246Z","description":"pipeline for DNS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"20d504b0-db1b-4ce2-9f00-0db3ac0eb803","name":"tf-tests-ds-dns-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:30:46.736246Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.511959ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2a2148ef-fc57-42cc-9f38-5454d88e027e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153046Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-dns-id
            X-Amz-Request-Id:
                - txg1acd5ecceb9d42919ca1-0069bac526
        status: 200 OK
        code: 200
        duration: 783.9435ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2bde78e2-a804-4172-bfb5-e81cf40bd3c4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153047Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg42ae5948a6ad416186ba-0069bac527
        status: 200 OK
        code: 200
        duration: 173.444417ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f6829b13-82cc-4659-9125-f486cc965dee
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153047Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8a24eb97e729460c93b6-0069bac527
        status: 200 OK
        code: 200
        duration: 177.514666ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 423b81f6-66bb-41d9-9a28-9347a94e4321
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153047Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg8fc1a09cb36a4e38a004-0069bac527</RequestId><HostId>txg8fc1a09cb36a4e38a004-0069bac527</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8fc1a09cb36a4e38a004-0069bac527
        status: 404 Not Found
        code: 404
        duration: 122.886333ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d7ad46a0-6717-4adf-a5cb-921733e5b38b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153047Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-dns-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgdc90ff15c3244c62936d-0069bac527
        status: 200 OK
        code: 200
        duration: 80.627208ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 726c0e88-4979-4750-9f28-b4853ddba182
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153047Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg984d4b79a82c48ef8b18-0069bac527</RequestId><HostId>txg984d4b79a82c48ef8b18-0069bac527</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg984d4b79a82c48ef8b18-0069bac527
        status: 404 Not Found
        code: 404
        duration: 166.231708ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 035de85e-d84f-43fa-9c39-f9670e2ba2f5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153047Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgaf3f974c75164b269726-0069bac527</RequestId><HostId>txgaf3f974c75164b269726-0069bac527</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgaf3f974c75164b269726-0069bac527
        status: 404 Not Found
        code: 404
        duration: 41.444834ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fd823c33-17f3-4a2b-9168-b4357fddb003
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153047Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3aeff290b1f0462e9be2-0069bac527
        status: 200 OK
        code: 200
        duration: 47.075834ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f601587-35d6-4d5a-bf9f-e3c102cde317
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153048Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg19b76c1dcf594a878166-0069bac528</RequestId><HostId>txg19b76c1dcf594a878166-0069bac528</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg19b76c1dcf594a878166-0069bac528
        status: 404 Not Found
        code: 404
        duration: 183.120125ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/20d504b0-db1b-4ce2-9f00-0db3ac0eb803/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:30:48.663130414Z","id":"da83289e-eb75-4aac-bbbd-af85f8c784a5","pipeline_id":"20d504b0-db1b-4ce2-9f00-0db3ac0eb803","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:30:48.663130414Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 515.639792ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/da83289e-eb75-4aac-bbbd-af85f8c784a5
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:30:48.663130Z","id":"da83289e-eb75-4aac-bbbd-af85f8c784a5","pipeline_id":"20d504b0-db1b-4ce2-9f00-0db3ac0eb803","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:30:48.663130Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.2125ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"backend_stage_id":"da83289e-eb75-4aac-bbbd-af85f8c784a5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/20d504b0-db1b-4ce2-9f00-0db3ac0eb803/dns-stages
        method: POST
      response:
        body: '{"backend_stage_id":"da83289e-eb75-4aac-bbbd-af85f8c784a5","created_at":"2026-03-18T15:30:48.876493440Z","default_fqdn":"","fqdns":[],"id":"26d55bd3-6775-4340-a430-c3bc10e45c8c","pipeline_id":"20d504b0-db1b-4ce2-9f00-0db3ac0eb803","type":"auto","updated_at":"2026-03-18T15:30:48.876493440Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.232875ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/26d55bd3-6775-4340-a430-c3bc10e45c8c
        method: GET
      response:
        body: '{"backend_stage_id":"da83289e-eb75-4aac-bbbd-af85f8c784a5","created_at":"2026-03-18T15:30:48.876493Z","default_fqdn":"","fqdns":[],"id":"26d55bd3-6775-4340-a430-c3bc10e45c8c","pipeline_id":"20d504b0-db1b-4ce2-9f00-0db3ac0eb803","type":"auto","updated_at":"2026-03-18T15:30:48.876493Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.266333ms
[...]
