---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.32725ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-dns-filter","description":"pipeline for DNS filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:29:13.226381002Z","description":"pipeline for DNS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"6a6d3885-12c1-4fe0-b421-5aa19a198b11","name":"tf-tests-ds-dns-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:29:13.226381002Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.727792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/6a6d3885-12c1-4fe0-b421-5aa19a198b11
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:29:13.226381Z","description":"pipeline for DNS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"6a6d3885-12c1-4fe0-b421-5aa19a198b11","name":"tf-tests-ds-dns-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:29:13.226381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.498458ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8fdcc191-aa3f-4280-b77a-279a69d6696f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152912Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-dns-filter
            X-Amz-Request-Id:
                - txg4b3a5ff643274fd7979c-0069c550c8
        status: 200 OK
        code: 200
        duration: 762.134584ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 05a06ec8-e3b7-4cff-a5ce-38703dd05131
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152913Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg85f0b37dcc6145e58382-0069c550c9
        status: 200 OK
        code: 200
        duration: 359.605458ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 933f21a1-e813-4cb4-aae0-e335c92e4fbb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152913Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgdd03dba474f44308b9dd-0069c550c9
        status: 200 OK
        code: 200
        duration: 141.631ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 44af8abb-08d9-435e-8879-774c026501d8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152914Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg1d8f961af8894b67b14a-0069c550ca</RequestId><HostId>txg1d8f961af8894b67b14a-0069c550ca</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1d8f961af8894b67b14a-0069c550ca
        status: 404 Not Found
        code: 404
        duration: 181.35225ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - afd40c5d-3b08-4919-9949-c85d16236249
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152914Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-dns-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg11bab5566e2941c093b4-0069c550ca
        status: 200 OK
        code: 200
        duration: 197.721375ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1f245cb0-6a24-4a3e-9769-48cc21cb69ef
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152914Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg7b79524312fb43c7adc8-0069c550ca</RequestId><HostId>txg7b79524312fb43c7adc8-0069c550ca</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7b79524312fb43c7adc8-0069c550ca
        status: 404 Not Found
        code: 404
        duration: 55.160459ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 16b510ad-114c-4a7c-b877-9d775ea6633e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152914Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg8b0546d79c51448b9d90-0069c550ca</RequestId><HostId>txg8b0546d79c51448b9d90-0069c550ca</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8b0546d79c51448b9d90-0069c550ca
        status: 404 Not Found
        code: 404
        duration: 82.672875ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 736abbcb-11aa-42da-9176-f848f0d0b5aa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152914Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8b03aa44131548baa6b6-0069c550ca
        status: 200 OK
        code: 200
        duration: 136.754416ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5fb8f3ab-dce5-4b04-a2f6-cee170a998e4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152914Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg97674e3647b34e84ab5d-0069c550ca</RequestId><HostId>txg97674e3647b34e84ab5d-0069c550ca</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg97674e3647b34e84ab5d-0069c550ca
        status: 404 Not Found
        code: 404
        duration: 154.420083ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/6a6d3885-12c1-4fe0-b421-5aa19a198b11/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:29:15.482017425Z","id":"01a8d59e-3ad3-4f2d-8705-bcb1485e4b57","pipeline_id":"6a6d3885-12c1-4fe0-b421-5aa19a198b11","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:29:15.482017425Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 645.016875ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/01a8d59e-3ad3-4f2d-8705-bcb1485e4b57
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:29:15.482017Z","id":"01a8d59e-3ad3-4f2d-8705-bcb1485e4b57","pipeline_id":"6a6d3885-12c1-4fe0-b421-5aa19a198b11","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:29:15.482017Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.061875ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"backend_stage_id":"01a8d59e-3ad3-4f2d-8705-bcb1485e4b57"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/6a6d3885-12c1-4fe0-b421-5aa19a198b11/dns-stages
        method: POST
      response:
        body: '{"backend_stage_id":"01a8d59e-3ad3-4f2d-8705-bcb1485e4b57","created_at":"2026-03-26T15:29:15.620924066Z","default_fqdn":"","fqdns":[],"id":"0d47648d-a18d-47a1-b0ec-e4aeeb104755","pipeline_id":"6a6d3885-12c1-4fe0-b421-5aa19a198b11","type":"auto","updated_at":"2026-03-26T15:29:15.620924066Z","wildcard_domain":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.377541ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/0d47648d-a18d-47a1-b0ec-e4aeeb104755
        method: GET
      response:
        body: '{"backend_stage_id":"01a8d59e-3ad3-4f2d-8705-bcb1485e4b57","created_at":"2026-03-26T15:29:15.620924Z","default_fqdn":"","fqdns":[],"id":"0d47648d-a18d-47a1-b0ec-e4aeeb104755","pipeline_id":"6a6d3885-12c1-4fe0-b421-5aa19a198b11","type":"auto","updated_at":"2026-03-26T15:29:15.620924Z","wildcard_domain":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.577041ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/6a6d3885-12c1-4fe0-b421-5aa19a198b11/dns-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"01a8d59e-3ad3-4f2d-8705-bcb1485e4b57","created_at":"2026-03-26T15:29:15.620924Z","default_fqdn":"","fqdns":[],"id":"0d47648d-a18d-47a1-b0ec-e4aeeb104755","pipeline_id":"6a6d3885-12c1-4fe0-b421-5aa19a198b11","type":"auto","updated_at":"2026-03-26T15:29:15.620924Z","wildcard_domain":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.64325ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.831083ms
[...]
