---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.094416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-cache-id","description":"pipeline for cache data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:23:03.854983499Z","description":"pipeline for cache data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"09ac2f41-bd4c-4620-aac1-b49996d9c796","name":"tf-tests-ds-cache-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:23:03.854983499Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.81125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/09ac2f41-bd4c-4620-aac1-b49996d9c796
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:23:03.854983Z","description":"pipeline for cache data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"09ac2f41-bd4c-4620-aac1-b49996d9c796","name":"tf-tests-ds-cache-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:23:03.854983Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.114125ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c0c8fd6d-0650-455c-b717-702e63d403fa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152303Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-cache-id
            X-Amz-Request-Id:
                - txg72c83f149083479c86ce-0069c54f57
        status: 200 OK
        code: 200
        duration: 617.376167ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5adf0589-469e-48aa-88fa-cff974137c2d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgaf55dbad3b194758a607-0069c54f58
        status: 200 OK
        code: 200
        duration: 71.265583ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b942e6e0-c32a-4f6f-934e-ce6535fb575f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4a511294647f49e084bb-0069c54f58
        status: 200 OK
        code: 200
        duration: 153.062ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 51bc2c19-71ac-44ca-831f-be34fc46886d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgb69deeaaacb74be28be4-0069c54f58</RequestId><HostId>txgb69deeaaacb74be28be4-0069c54f58</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb69deeaaacb74be28be4-0069c54f58
        status: 404 Not Found
        code: 404
        duration: 25.256ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3a07bbe7-2ee8-4f36-9df6-6c5a2fb0053a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-cache-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0539d0198db843bc89b1-0069c54f58
        status: 200 OK
        code: 200
        duration: 23.575833ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - af9f5311-258c-4fb1-9e82-2a7956c3ec4e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgda588eb9a39741beb497-0069c54f58</RequestId><HostId>txgda588eb9a39741beb497-0069c54f58</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgda588eb9a39741beb497-0069c54f58
        status: 404 Not Found
        code: 404
        duration: 22.260833ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1fe82df4-82a0-4d75-8ffc-f7e3f581f760
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgc747eb39d2c94c78b837-0069c54f58</RequestId><HostId>txgc747eb39d2c94c78b837-0069c54f58</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc747eb39d2c94c78b837-0069c54f58
        status: 404 Not Found
        code: 404
        duration: 18.525458ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e38e8a68-bce3-4660-9342-f53f5d398af8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgaa2e564864e641daa8f9-0069c54f58
        status: 200 OK
        code: 200
        duration: 98.895125ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0b6f3acc-c259-4f70-b3c7-0874f3793d3e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T152304Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg565f8876b3fe4378895b-0069c54f58</RequestId><HostId>txg565f8876b3fe4378895b-0069c54f58</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg565f8876b3fe4378895b-0069c54f58
        status: 404 Not Found
        code: 404
        duration: 22.740542ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/09ac2f41-bd4c-4620-aac1-b49996d9c796/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:23:06.748354613Z","id":"445b9bdf-ffc4-4412-beaf-2d12095ec7e9","pipeline_id":"09ac2f41-bd4c-4620-aac1-b49996d9c796","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:23:06.748354613Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.191449416s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/445b9bdf-ffc4-4412-beaf-2d12095ec7e9
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:23:06.748354Z","id":"445b9bdf-ffc4-4412-beaf-2d12095ec7e9","pipeline_id":"09ac2f41-bd4c-4620-aac1-b49996d9c796","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:23:06.748354Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.783542ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s","include_cookies":false,"backend_stage_id":"445b9bdf-ffc4-4412-beaf-2d12095ec7e9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/09ac2f41-bd4c-4620-aac1-b49996d9c796/cache-stages
        method: POST
      response:
        body: '{"backend_stage_id":"445b9bdf-ffc4-4412-beaf-2d12095ec7e9","created_at":"2026-03-26T15:23:06.897872693Z","fallback_ttl":"3600s","id":"7751ba49-85d9-4646-89b6-b94e655a714e","include_cookies":false,"pipeline_id":"09ac2f41-bd4c-4620-aac1-b49996d9c796","updated_at":"2026-03-26T15:23:06.897872693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.466959ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/7751ba49-85d9-4646-89b6-b94e655a714e
        method: GET
      response:
        body: '{"backend_stage_id":"445b9bdf-ffc4-4412-beaf-2d12095ec7e9","created_at":"2026-03-26T15:23:06.897872Z","fallback_ttl":"3600s","id":"7751ba49-85d9-4646-89b6-b94e655a714e","include_cookies":false,"pipeline_id":"09ac2f41-bd4c-4620-aac1-b49996d9c796","updated_at":"2026-03-26T15:23:06.897872Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.761125ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.931042ms
[...]
