---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-route-id","description":"pipeline for route data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:28.541425182Z","description":"pipeline for route data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"fe751039-3908-4041-b335-bd61476e9fb3","name":"tf-tests-ds-route-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T17:51:28.541425182Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.553375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fe751039-3908-4041-b335-bd61476e9fb3
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:28.541425Z","description":"pipeline for route data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"fe751039-3908-4041-b335-bd61476e9fb3","name":"tf-tests-ds-route-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T17:51:28.541425Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.313958ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bdb3fe4b-7d35-487b-879a-8aa188e7ad2b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175128Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-route-id
            X-Amz-Request-Id:
                - txg78eed85fbc694070a819-0069bc37a0
        status: 200 OK
        code: 200
        duration: 639.771375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fe751039-3908-4041-b335-bd61476e9fb3/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:28.870054358Z","id":"022a353d-5e1e-4fb1-9ff3-b4c8ac3b20ba","mode":"enable","paranoia_level":3,"pipeline_id":"fe751039-3908-4041-b335-bd61476e9fb3","updated_at":"2026-03-19T17:51:28.870054358Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.94ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/022a353d-5e1e-4fb1-9ff3-b4c8ac3b20ba
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:28.870054Z","id":"022a353d-5e1e-4fb1-9ff3-b4c8ac3b20ba","mode":"enable","paranoia_level":3,"pipeline_id":"fe751039-3908-4041-b335-bd61476e9fb3","updated_at":"2026-03-19T17:51:28.870054Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.679084ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d4a9e659-d62e-44d7-8d8e-e531943d89d0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175128Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg5b7a83ddb0dd4205a9a6-0069bc37a0
        status: 200 OK
        code: 200
        duration: 200.191667ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fa6850be-75b8-47d0-872d-f75d3d50987c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175128Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8cac552725124f8c8432-0069bc37a1
        status: 200 OK
        code: 200
        duration: 148.284958ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6c6a2791-0462-4d1a-899e-af569c32f564
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175129Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg4ea5f542bac647199cc3-0069bc37a1</RequestId><HostId>txg4ea5f542bac647199cc3-0069bc37a1</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4ea5f542bac647199cc3-0069bc37a1
        status: 404 Not Found
        code: 404
        duration: 72.719958ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a2ceccf8-37a5-4d58-9c1e-ab51557ce2d5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175129Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-route-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg21eaa1f66dab4ff7bfff-0069bc37a1
        status: 200 OK
        code: 200
        duration: 69.226875ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a5046104-aba6-47ac-a01f-2d3ca48dc76e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175129Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg1032d23615434b4ab61d-0069bc37a1</RequestId><HostId>txg1032d23615434b4ab61d-0069bc37a1</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1032d23615434b4ab61d-0069bc37a1
        status: 404 Not Found
        code: 404
        duration: 50.267792ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 458015ea-7e5a-4513-b779-d43efed6d407
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175129Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg8029027000b74dae9310-0069bc37a1</RequestId><HostId>txg8029027000b74dae9310-0069bc37a1</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8029027000b74dae9310-0069bc37a1
        status: 404 Not Found
        code: 404
        duration: 111.103583ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7bfb1a88-1c02-4061-87bd-bede8fbed707
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175129Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgaec7e2b671964b15bfda-0069bc37a1
        status: 200 OK
        code: 200
        duration: 1.048141458s
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5afba80d-6a73-4627-872e-68d080e71863
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T175130Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg3bac77f33dcc4e768b91-0069bc37a2</RequestId><HostId>txg3bac77f33dcc4e768b91-0069bc37a2</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3bac77f33dcc4e768b91-0069bc37a2
        status: 404 Not Found
        code: 404
        duration: 201.862583ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fe751039-3908-4041-b335-bd61476e9fb3/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:31.316126198Z","id":"096bf571-80d4-400b-8419-c9aeb0b12ba6","pipeline_id":"fe751039-3908-4041-b335-bd61476e9fb3","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T17:51:31.316126198Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 625.04175ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/096bf571-80d4-400b-8419-c9aeb0b12ba6
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:31.316126Z","id":"096bf571-80d4-400b-8419-c9aeb0b12ba6","pipeline_id":"fe751039-3908-4041-b335-bd61476e9fb3","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T17:51:31.316126Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.673583ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"022a353d-5e1e-4fb1-9ff3-b4c8ac3b20ba"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fe751039-3908-4041-b335-bd61476e9fb3/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T17:51:31.469734845Z","id":"c033cba0-814c-42ce-b6b5-0d57874c3039","pipeline_id":"fe751039-3908-4041-b335-bd61476e9fb3","updated_at":"2026-03-19T17:51:31.469734845Z","waf_stage_id":"022a353d-5e1e-4fb1-9ff3-b4c8ac3b20ba"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.163167ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}},"backend_stage_id":"096bf571-80d4-400b-8419-c9aeb0b12ba6"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/c033cba0-814c-42ce-b6b5-0d57874c3039/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"096bf571-80d4-400b-8419-c9aeb0b12ba6","position":1,"route_stage_id":"c033cba0-814c-42ce-b6b5-0d57874c3039","rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.702084ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/c033cba0-814c-42ce-b6b5-0d57874c3039
        method: GET
      response:
        body: '{"created_at":"2026-03-19T17:51:31.469734Z","id":"c033cba0-814c-42ce-b6b5-0d57874c3039","pipeline_id":"fe751039-3908-4041-b335-bd61476e9fb3","updated_at":"2026-03-19T17:51:31.837602Z","waf_stage_id":"022a353d-5e1e-4fb1-9ff3-b4c8ac3b20ba"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.438542ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/c033cba0-814c-42ce-b6b5-0d57874c3039/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"096bf571-80d4-400b-8419-c9aeb0b12ba6","position":1,"route_stage_id":"c033cba0-814c-42ce-b6b5-0d57874c3039","rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.714708ms
[...]
