---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-dns-filter","description":"pipeline for DNS filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:30:58.795139496Z","description":"pipeline for DNS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"171866c7-8b1d-4f57-8054-1cc4018405e7","name":"tf-tests-ds-dns-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:30:58.795139496Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.965958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/171866c7-8b1d-4f57-8054-1cc4018405e7
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:30:58.795139Z","description":"pipeline for DNS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"171866c7-8b1d-4f57-8054-1cc4018405e7","name":"tf-tests-ds-dns-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:30:58.795139Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.056583ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b3d48b14-010c-455a-8716-f00cdb07760d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153058Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-dns-filter
            X-Amz-Request-Id:
                - txg752275f40a1d4b96bdc7-0069bac532
        status: 200 OK
        code: 200
        duration: 722.938125ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e64a1f0d-3200-4b99-85c5-ae9e6e725583
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgf9ff908da0ba49ea9430-0069bac533
        status: 200 OK
        code: 200
        duration: 162.776625ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ac334cce-f4b8-41ff-b800-c39fa8549079
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0a7d96215dc746c08329-0069bac533
        status: 200 OK
        code: 200
        duration: 88.823333ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ac457714-bbca-43aa-8ce8-b0597686aedd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txga4d88731a62e46a3b392-0069bac533</RequestId><HostId>txga4d88731a62e46a3b392-0069bac533</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga4d88731a62e46a3b392-0069bac533
        status: 404 Not Found
        code: 404
        duration: 183.869666ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3a0a9548-999b-4a83-b247-c0cb3e1350dc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-dns-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6bb0d51f0d7a4a55bc49-0069bac533
        status: 200 OK
        code: 200
        duration: 141.28575ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 341750dd-bfbd-4df6-bc2c-2e119c5f6524
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgb5e0e532a0334fd18a8f-0069bac533</RequestId><HostId>txgb5e0e532a0334fd18a8f-0069bac533</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb5e0e532a0334fd18a8f-0069bac533
        status: 404 Not Found
        code: 404
        duration: 7.339625ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9ac4a34b-cfb4-48ba-a426-4cafa88c941b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg6dc1bbcda70449cf9d5b-0069bac533</RequestId><HostId>txg6dc1bbcda70449cf9d5b-0069bac533</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6dc1bbcda70449cf9d5b-0069bac533
        status: 404 Not Found
        code: 404
        duration: 43.184458ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 53f6cf5b-3f9c-4fb4-a7c0-4bf0465558ac
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg02119a4261984e178af4-0069bac533
        status: 200 OK
        code: 200
        duration: 78.822417ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 09fb4995-37bf-4cd2-ac4f-38f69929b3f2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T153100Z
        url: https://test-acc-scaleway-object-bucket-ds-dns-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg048f4fefd8d845a4ad96-0069bac534</RequestId><HostId>txg048f4fefd8d845a4ad96-0069bac534</HostId><Resource>/test-acc-scaleway-object-bucket-ds-dns-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-dns-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg048f4fefd8d845a4ad96-0069bac534
        status: 404 Not Found
        code: 404
        duration: 19.727ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/171866c7-8b1d-4f57-8054-1cc4018405e7/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:31:00.464399089Z","id":"8d67f8ed-d602-4bca-b1b6-1e4d40229c88","pipeline_id":"171866c7-8b1d-4f57-8054-1cc4018405e7","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:31:00.464399089Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 439.934ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/8d67f8ed-d602-4bca-b1b6-1e4d40229c88
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:31:00.464399Z","id":"8d67f8ed-d602-4bca-b1b6-1e4d40229c88","pipeline_id":"171866c7-8b1d-4f57-8054-1cc4018405e7","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-dns-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:31:00.464399Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.83575ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"backend_stage_id":"8d67f8ed-d602-4bca-b1b6-1e4d40229c88"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/171866c7-8b1d-4f57-8054-1cc4018405e7/dns-stages
        method: POST
      response:
        body: '{"backend_stage_id":"8d67f8ed-d602-4bca-b1b6-1e4d40229c88","created_at":"2026-03-18T15:31:00.644520185Z","default_fqdn":"","fqdns":[],"id":"23ef67ee-b0e1-44e6-84f5-e8bcde81f1f8","pipeline_id":"171866c7-8b1d-4f57-8054-1cc4018405e7","type":"auto","updated_at":"2026-03-18T15:31:00.644520185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.621292ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/23ef67ee-b0e1-44e6-84f5-e8bcde81f1f8
        method: GET
      response:
        body: '{"backend_stage_id":"8d67f8ed-d602-4bca-b1b6-1e4d40229c88","created_at":"2026-03-18T15:31:00.644520Z","default_fqdn":"","fqdns":[],"id":"23ef67ee-b0e1-44e6-84f5-e8bcde81f1f8","pipeline_id":"171866c7-8b1d-4f57-8054-1cc4018405e7","type":"auto","updated_at":"2026-03-18T15:31:00.644520Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.463708ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/171866c7-8b1d-4f57-8054-1cc4018405e7/dns-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"8d67f8ed-d602-4bca-b1b6-1e4d40229c88","created_at":"2026-03-18T15:31:00.644520Z","default_fqdn":"","fqdns":[],"id":"23ef67ee-b0e1-44e6-84f5-e8bcde81f1f8","pipeline_id":"171866c7-8b1d-4f57-8054-1cc4018405e7","type":"auto","updated_at":"2026-03-18T15:31:00.644520Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.675458ms
[...]
