---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.368583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-tls-id","description":"pipeline for TLS data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:48:27.961245928Z","description":"pipeline for TLS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"659e5be0-edee-4d81-b869-d07961fdc3aa","name":"tf-tests-ds-tls-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:48:27.961245928Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.186042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/659e5be0-edee-4d81-b869-d07961fdc3aa
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:48:27.961245Z","description":"pipeline for TLS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"659e5be0-edee-4d81-b869-d07961fdc3aa","name":"tf-tests-ds-tls-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:48:27.961245Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.545625ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 66e48b48-700b-4a39-8270-fd9a4fdf2848
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154827Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-tls-id
            X-Amz-Request-Id:
                - txg0023818e60eb49c1a786-0069c5554b
        status: 200 OK
        code: 200
        duration: 4.846370125s
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 76dd5d90-de93-4f50-ada2-a762b29fc7cc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154832Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6423b3d5926949d6aaa3-0069c55550
        status: 200 OK
        code: 200
        duration: 372.213708ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6157afd2-d4ac-4f0b-acc2-56ace7a0ff7e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154832Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg1dd708e7bbf8488ab9ae-0069c55550
        status: 200 OK
        code: 200
        duration: 49.093916ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 87ee9f7d-918f-4f19-8c89-10ceb68ea844
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154832Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgca1026b6d2b1495281ef-0069c55550</RequestId><HostId>txgca1026b6d2b1495281ef-0069c55550</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgca1026b6d2b1495281ef-0069c55550
        status: 404 Not Found
        code: 404
        duration: 148.375084ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aceedd12-e483-4ea4-8709-e46be6ecb244
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154833Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-tls-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3a822a28d6434e839bae-0069c55551
        status: 200 OK
        code: 200
        duration: 207.398084ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d73fa931-7ac1-4eae-ba0e-209591936f15
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154833Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg1b7323dfc5cd47088feb-0069c55551</RequestId><HostId>txg1b7323dfc5cd47088feb-0069c55551</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1b7323dfc5cd47088feb-0069c55551
        status: 404 Not Found
        code: 404
        duration: 9.429291ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aa3ca2de-86fd-42c5-b7dd-3a55d339c5ca
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154833Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txga720bb60e31c460897b2-0069c55551</RequestId><HostId>txga720bb60e31c460897b2-0069c55551</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga720bb60e31c460897b2-0069c55551
        status: 404 Not Found
        code: 404
        duration: 157.946042ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 949d5ba2-d179-4034-b1e4-1f27c607d386
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154833Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg11b63a15546947f687bd-0069c55551
        status: 200 OK
        code: 200
        duration: 9.034625ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 32a6c849-3eb5-4f48-b416-1765d03e36b9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154833Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg88f454fcc358438ebfae-0069c55551</RequestId><HostId>txg88f454fcc358438ebfae-0069c55551</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg88f454fcc358438ebfae-0069c55551
        status: 404 Not Found
        code: 404
        duration: 158.295167ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/659e5be0-edee-4d81-b869-d07961fdc3aa/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:48:34.647844026Z","id":"c83cf34b-53aa-4ed2-a29a-0d94a50640f4","pipeline_id":"659e5be0-edee-4d81-b869-d07961fdc3aa","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:48:34.647844026Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.048894625s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/c83cf34b-53aa-4ed2-a29a-0d94a50640f4
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:48:34.647844Z","id":"c83cf34b-53aa-4ed2-a29a-0d94a50640f4","pipeline_id":"659e5be0-edee-4d81-b869-d07961fdc3aa","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:48:34.647844Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.206792ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"secrets":[],"managed_certificate":true,"backend_stage_id":"c83cf34b-53aa-4ed2-a29a-0d94a50640f4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/659e5be0-edee-4d81-b869-d07961fdc3aa/tls-stages
        method: POST
      response:
        body: '{"backend_stage_id":"c83cf34b-53aa-4ed2-a29a-0d94a50640f4","certificate_expires_at":null,"created_at":"2026-03-26T15:48:34.802778486Z","id":"e87a3edb-1092-49fa-84b4-3a194263b640","managed_certificate":true,"pipeline_id":"659e5be0-edee-4d81-b869-d07961fdc3aa","secrets":[],"updated_at":"2026-03-26T15:48:34.802778486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.560334ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/e87a3edb-1092-49fa-84b4-3a194263b640
        method: GET
      response:
        body: '{"backend_stage_id":"c83cf34b-53aa-4ed2-a29a-0d94a50640f4","certificate_expires_at":null,"created_at":"2026-03-26T15:48:34.802778Z","id":"e87a3edb-1092-49fa-84b4-3a194263b640","managed_certificate":true,"pipeline_id":"659e5be0-edee-4d81-b869-d07961fdc3aa","secrets":[],"updated_at":"2026-03-26T15:48:34.802778Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.991083ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.739792ms
[...]
