---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.3335ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-waf-id","description":"pipeline for WAF data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:49:05.979817945Z","description":"pipeline for WAF data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0bd4f23b-fab4-45f0-b052-7c5e470a863f","name":"tf-tests-ds-waf-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:49:05.979817945Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.603083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0bd4f23b-fab4-45f0-b052-7c5e470a863f
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:49:05.979817Z","description":"pipeline for WAF data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0bd4f23b-fab4-45f0-b052-7c5e470a863f","name":"tf-tests-ds-waf-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:49:05.979817Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.186208ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 96f6eb24-8cec-4e24-b20e-dbf4dbcc4eb9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154905Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-waf-id
            X-Amz-Request-Id:
                - txg2008631dfe8f46d6b5ac-0069c55571
        status: 200 OK
        code: 200
        duration: 618.72425ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7bb9bf04-fb33-45af-bf8e-5a0a4e33be08
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154906Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg169bb534d4014466aa9c-0069c55572
        status: 200 OK
        code: 200
        duration: 286.399958ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0bb2ec00-2984-4281-bc9d-d5d6a4ac13dc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154906Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg18122b7cbf0d41d48f24-0069c55572
        status: 200 OK
        code: 200
        duration: 534.819583ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 67d82f55-6a33-457b-9c4c-755b870381a8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154907Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg738a67035efb44b089cd-0069c55573</RequestId><HostId>txg738a67035efb44b089cd-0069c55573</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg738a67035efb44b089cd-0069c55573
        status: 404 Not Found
        code: 404
        duration: 149.381958ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1fa53d41-037b-4c2b-9deb-41cab91f0125
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154907Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-waf-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg05fba4b568f44c668319-0069c55573
        status: 200 OK
        code: 200
        duration: 302.801708ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1a5f9fba-c158-4f75-968d-39991be315da
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154907Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg7bd0f436d3e54006bb82-0069c55573</RequestId><HostId>txg7bd0f436d3e54006bb82-0069c55573</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7bd0f436d3e54006bb82-0069c55573
        status: 404 Not Found
        code: 404
        duration: 198.471625ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 24ed326e-1436-4e4e-acdd-3fef3688db4c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154907Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg1eca11813ae0424eb53a-0069c55573</RequestId><HostId>txg1eca11813ae0424eb53a-0069c55573</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1eca11813ae0424eb53a-0069c55573
        status: 404 Not Found
        code: 404
        duration: 97.839083ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b5447787-8c07-4056-b46c-cf5f41cacefa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154907Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txge23a629f39d84098a06e-0069c55573
        status: 200 OK
        code: 200
        duration: 15.337791ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6de52276-a3a7-423a-ac9a-d63f9a3182e0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154907Z
        url: https://test-acc-scaleway-object-bucket-ds-waf-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg7ee87b88d6f241c49ff3-0069c55573</RequestId><HostId>txg7ee87b88d6f241c49ff3-0069c55573</HostId><Resource>/test-acc-scaleway-object-bucket-ds-waf-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-waf-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7ee87b88d6f241c49ff3-0069c55573
        status: 404 Not Found
        code: 404
        duration: 6.485333ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0bd4f23b-fab4-45f0-b052-7c5e470a863f/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:49:08.461248949Z","id":"8118e463-573f-45f2-9e90-530f58f6487c","pipeline_id":"0bd4f23b-fab4-45f0-b052-7c5e470a863f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:49:08.461248949Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 718.797458ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/8118e463-573f-45f2-9e90-530f58f6487c
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:49:08.461248Z","id":"8118e463-573f-45f2-9e90-530f58f6487c","pipeline_id":"0bd4f23b-fab4-45f0-b052-7c5e470a863f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-waf-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:49:08.461248Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.7445ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2,"backend_stage_id":"8118e463-573f-45f2-9e90-530f58f6487c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0bd4f23b-fab4-45f0-b052-7c5e470a863f/waf-stages
        method: POST
      response:
        body: '{"backend_stage_id":"8118e463-573f-45f2-9e90-530f58f6487c","created_at":"2026-03-26T15:49:08.605157041Z","id":"bbc68c71-4fee-45d1-9064-6dae6cd238aa","mode":"enable","paranoia_level":2,"pipeline_id":"0bd4f23b-fab4-45f0-b052-7c5e470a863f","updated_at":"2026-03-26T15:49:08.605157041Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.860875ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/bbc68c71-4fee-45d1-9064-6dae6cd238aa
        method: GET
      response:
        body: '{"backend_stage_id":"8118e463-573f-45f2-9e90-530f58f6487c","created_at":"2026-03-26T15:49:08.605157Z","id":"bbc68c71-4fee-45d1-9064-6dae6cd238aa","mode":"enable","paranoia_level":2,"pipeline_id":"0bd4f23b-fab4-45f0-b052-7c5e470a863f","updated_at":"2026-03-26T15:49:08.605157Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.803292ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.809958ms
[...]
