---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.40825ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-tls-filter","description":"pipeline for TLS filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:48:40.973539036Z","description":"pipeline for TLS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"10b55c47-8314-4951-8953-0e1e5fa6da23","name":"tf-tests-ds-tls-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:48:40.973539036Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.131166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/10b55c47-8314-4951-8953-0e1e5fa6da23
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:48:40.973539Z","description":"pipeline for TLS filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"10b55c47-8314-4951-8953-0e1e5fa6da23","name":"tf-tests-ds-tls-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:48:40.973539Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.409458ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - db17146b-19bb-41aa-89e6-720d5e3e86e4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154840Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-tls-filter
            X-Amz-Request-Id:
                - txg90abd2a141b942999879-0069c55558
        status: 200 OK
        code: 200
        duration: 608.428208ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f3a49f00-3b06-43e1-b977-c3fc5c974ca8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154841Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg5e25aa2fc07a434f8b39-0069c55559
        status: 200 OK
        code: 200
        duration: 263.289375ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c1abe0df-d828-4e45-b5e2-e3709e2f66ff
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154841Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0161a179661a401f890a-0069c55559
        status: 200 OK
        code: 200
        duration: 150.859709ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b92964c4-5e64-496a-b075-84cbeb81664d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154841Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6bceff050c6b486fa4fc-0069c55559</RequestId><HostId>txg6bceff050c6b486fa4fc-0069c55559</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6bceff050c6b486fa4fc-0069c55559
        status: 404 Not Found
        code: 404
        duration: 442.004708ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b934ca16-4263-4b9a-962b-be83cfe6cbca
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154842Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-tls-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb3a4d06a2ff145888ca3-0069c5555a
        status: 200 OK
        code: 200
        duration: 59.039416ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8f831ec1-5255-4a6f-a7b4-034f52272ea4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154842Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg93e2764644f149458cce-0069c5555a</RequestId><HostId>txg93e2764644f149458cce-0069c5555a</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg93e2764644f149458cce-0069c5555a
        status: 404 Not Found
        code: 404
        duration: 125.17975ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c24f5f64-1527-4842-85a8-39e0b5bfe3cf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154842Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg4e992e2b6ea046e28d10-0069c5555a</RequestId><HostId>txg4e992e2b6ea046e28d10-0069c5555a</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4e992e2b6ea046e28d10-0069c5555a
        status: 404 Not Found
        code: 404
        duration: 16.860333ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4f66e020-be59-4f57-bc88-80a28c8f3e39
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154842Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg11353cac05f2490fa993-0069c5555a
        status: 200 OK
        code: 200
        duration: 173.548ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 835876c4-2de4-493b-9631-abefee032870
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T154842Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg178ed9ba89fd4fd881d9-0069c5555a</RequestId><HostId>txg178ed9ba89fd4fd881d9-0069c5555a</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg178ed9ba89fd4fd881d9-0069c5555a
        status: 404 Not Found
        code: 404
        duration: 87.121709ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/10b55c47-8314-4951-8953-0e1e5fa6da23/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:48:43.038008652Z","id":"1ec3d002-eb02-4a4a-a98b-4dd8ce5ecb89","pipeline_id":"10b55c47-8314-4951-8953-0e1e5fa6da23","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:48:43.038008652Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.114625ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/1ec3d002-eb02-4a4a-a98b-4dd8ce5ecb89
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:48:43.038008Z","id":"1ec3d002-eb02-4a4a-a98b-4dd8ce5ecb89","pipeline_id":"10b55c47-8314-4951-8953-0e1e5fa6da23","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:48:43.038008Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.131666ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"secrets":[],"managed_certificate":true,"backend_stage_id":"1ec3d002-eb02-4a4a-a98b-4dd8ce5ecb89"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/10b55c47-8314-4951-8953-0e1e5fa6da23/tls-stages
        method: POST
      response:
        body: '{"backend_stage_id":"1ec3d002-eb02-4a4a-a98b-4dd8ce5ecb89","certificate_expires_at":null,"created_at":"2026-03-26T15:48:43.200521314Z","id":"5cc5dc4a-4c9b-4cff-9f44-4b90163f6286","managed_certificate":true,"pipeline_id":"10b55c47-8314-4951-8953-0e1e5fa6da23","secrets":[],"updated_at":"2026-03-26T15:48:43.200521314Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.237875ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/5cc5dc4a-4c9b-4cff-9f44-4b90163f6286
        method: GET
      response:
        body: '{"backend_stage_id":"1ec3d002-eb02-4a4a-a98b-4dd8ce5ecb89","certificate_expires_at":null,"created_at":"2026-03-26T15:48:43.200521Z","id":"5cc5dc4a-4c9b-4cff-9f44-4b90163f6286","managed_certificate":true,"pipeline_id":"10b55c47-8314-4951-8953-0e1e5fa6da23","secrets":[],"updated_at":"2026-03-26T15:48:43.200521Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.011792ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/10b55c47-8314-4951-8953-0e1e5fa6da23/tls-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"1ec3d002-eb02-4a4a-a98b-4dd8ce5ecb89","certificate_expires_at":null,"created_at":"2026-03-26T15:48:43.200521Z","id":"5cc5dc4a-4c9b-4cff-9f44-4b90163f6286","managed_certificate":true,"pipeline_id":"10b55c47-8314-4951-8953-0e1e5fa6da23","secrets":[],"updated_at":"2026-03-26T15:48:43.200521Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.126417ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.593ms
[...]
