---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-backend-id","description":"pipeline for backend data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-18T13:47:24.833329518Z","description":"pipeline for backend data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"b31d857d-03fd-4838-ab57-08aed4d9b238","name":"tf-tests-ds-backend-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T13:47:24.833329518Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.070833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b31d857d-03fd-4838-ab57-08aed4d9b238
        method: GET
      response:
        body: '{"created_at":"2026-03-18T13:47:24.833329Z","description":"pipeline for backend data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"b31d857d-03fd-4838-ab57-08aed4d9b238","name":"tf-tests-ds-backend-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T13:47:24.833329Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.143833ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d7db4999-5388-4ee2-b01d-80cac4e71dad
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134724Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-backend-id
            X-Amz-Request-Id:
                - txg1920c4ff8d4e442b9471-0069baacec
        status: 200 OK
        code: 200
        duration: 814.50775ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 72a5124c-0b7d-48c5-a33d-ba9e4d83520e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134725Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txga926dbe1c9174d7a9783-0069baaced
        status: 200 OK
        code: 200
        duration: 168.186209ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 62905ae2-9685-4c11-a5c8-7d44a5982c87
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134725Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txga19ce9f8f6984edd9219-0069baaced
        status: 200 OK
        code: 200
        duration: 60.570459ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e4e41b25-e12a-49d7-931e-f8cba467147d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134725Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txge3c3cf062ea245de9ec0-0069baaced</RequestId><HostId>txge3c3cf062ea245de9ec0-0069baaced</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge3c3cf062ea245de9ec0-0069baaced
        status: 404 Not Found
        code: 404
        duration: 85.996ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3f92d607-c9b6-4344-82f9-b679cad3b295
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134725Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-backend-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb5d3c99809844ef3b864-0069baaced
        status: 200 OK
        code: 200
        duration: 1.423531417s
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 91b10ef7-187b-4b2e-a05a-7012d7775545
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134727Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg1023974b364d464da94a-0069baacef</RequestId><HostId>txg1023974b364d464da94a-0069baacef</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1023974b364d464da94a-0069baacef
        status: 404 Not Found
        code: 404
        duration: 171.254041ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 079cf17c-4a06-4ef7-a857-f0c4bb9e3607
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134727Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg01b173d6560343978bc6-0069baacef</RequestId><HostId>txg01b173d6560343978bc6-0069baacef</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg01b173d6560343978bc6-0069baacef
        status: 404 Not Found
        code: 404
        duration: 152.383167ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 73dc1e68-a3fb-43b2-91a1-38e5eed728ba
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134727Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg21d623739aee492da48c-0069baacef
        status: 200 OK
        code: 200
        duration: 74.57875ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2a61c32a-acbf-43a0-b680-09e0d7c81ee8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T134727Z
        url: https://test-acc-scaleway-object-bucket-ds-backend-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg095bb1b9a53c41bc8430-0069baacef</RequestId><HostId>txg095bb1b9a53c41bc8430-0069baacef</HostId><Resource>/test-acc-scaleway-object-bucket-ds-backend-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-backend-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg095bb1b9a53c41bc8430-0069baacef
        status: 404 Not Found
        code: 404
        duration: 174.620417ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b31d857d-03fd-4838-ab57-08aed4d9b238/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-18T13:47:28.628318873Z","id":"6c26bc2c-89f8-439c-b67d-f7325089d38b","pipeline_id":"b31d857d-03fd-4838-ab57-08aed4d9b238","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T13:47:28.628318873Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.041966625s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/6c26bc2c-89f8-439c-b67d-f7325089d38b
        method: GET
      response:
        body: '{"created_at":"2026-03-18T13:47:28.628318Z","id":"6c26bc2c-89f8-439c-b67d-f7325089d38b","pipeline_id":"b31d857d-03fd-4838-ab57-08aed4d9b238","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-backend-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T13:47:28.628318Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.685333ms
[...]
