---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-tls-id","description":"pipeline for TLS data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:29:54.718536513Z","description":"pipeline for TLS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"04171623-678c-46fe-b021-67464d059284","name":"tf-tests-ds-tls-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:29:54.718536513Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.77575ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/04171623-678c-46fe-b021-67464d059284
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:29:54.718536Z","description":"pipeline for TLS data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"04171623-678c-46fe-b021-67464d059284","name":"tf-tests-ds-tls-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-19T08:29:54.718536Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.611917ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 784ac531-2016-4e30-9d1f-dc35b3dd5668
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082954Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-tls-id
            X-Amz-Request-Id:
                - txge5ab1d13f36f4893b4b9-0069bbb402
        status: 200 OK
        code: 200
        duration: 844.884416ms
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 02c8c348-a766-4fed-aeba-b65311215416
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082955Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg52ff91b0e2864c489cd3-0069bbb403
        status: 200 OK
        code: 200
        duration: 90.310708ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2cf32f3e-e6c8-4e05-8426-dbb3fb955b70
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082955Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg58bc95d8019c4f8b885a-0069bbb403
        status: 200 OK
        code: 200
        duration: 160.407833ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 681806b5-6211-4a34-8665-66fead1bcc44
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082955Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg8e1f6184532443809c12-0069bbb403</RequestId><HostId>txg8e1f6184532443809c12-0069bbb403</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8e1f6184532443809c12-0069bbb403
        status: 404 Not Found
        code: 404
        duration: 326.42475ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b11eab88-104d-41c2-bef8-2d1435891fc9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082955Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-tls-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgea67d00ea69c43d5b5aa-0069bbb403
        status: 200 OK
        code: 200
        duration: 87.877708ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 90c5258a-98bf-4e23-950d-39b827d46de5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082956Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg7c6b60dd82404a7c870c-0069bbb404</RequestId><HostId>txg7c6b60dd82404a7c870c-0069bbb404</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7c6b60dd82404a7c870c-0069bbb404
        status: 404 Not Found
        code: 404
        duration: 45.603958ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 12ee689b-6ad6-431c-a8d5-d9a7c03b9042
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082956Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgcbe40e4aed3443bbbbe3-0069bbb404</RequestId><HostId>txgcbe40e4aed3443bbbbe3-0069bbb404</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgcbe40e4aed3443bbbbe3-0069bbb404
        status: 404 Not Found
        code: 404
        duration: 58.627166ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fe73b2f8-1ac0-4395-a7bb-d8fbb073a457
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082956Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0460afe6aa1d426bb3d2-0069bbb404
        status: 200 OK
        code: 200
        duration: 57.150041ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 08bf3df4-6712-4eb6-be56-498c1e3f3f10
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260319T082956Z
        url: https://test-acc-scaleway-object-bucket-ds-tls-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgcd567174c1644518ac02-0069bbb404</RequestId><HostId>txgcd567174c1644518ac02-0069bbb404</HostId><Resource>/test-acc-scaleway-object-bucket-ds-tls-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-tls-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgcd567174c1644518ac02-0069bbb404
        status: 404 Not Found
        code: 404
        duration: 51.021416ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/04171623-678c-46fe-b021-67464d059284/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-19T08:29:56.990684250Z","id":"07c635f7-b8d2-4597-bf54-2bac3fb8fe1a","pipeline_id":"04171623-678c-46fe-b021-67464d059284","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:29:56.990684250Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 787.866583ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/07c635f7-b8d2-4597-bf54-2bac3fb8fe1a
        method: GET
      response:
        body: '{"created_at":"2026-03-19T08:29:56.990684Z","id":"07c635f7-b8d2-4597-bf54-2bac3fb8fe1a","pipeline_id":"04171623-678c-46fe-b021-67464d059284","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-tls-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-19T08:29:56.990684Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.329542ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"secrets":[],"managed_certificate":true,"backend_stage_id":"07c635f7-b8d2-4597-bf54-2bac3fb8fe1a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/04171623-678c-46fe-b021-67464d059284/tls-stages
        method: POST
      response:
        body: '{"backend_stage_id":"07c635f7-b8d2-4597-bf54-2bac3fb8fe1a","certificate_expires_at":null,"created_at":"2026-03-19T08:29:57.202300851Z","id":"2dc50e1f-3424-4799-9888-dbc6336224a6","managed_certificate":true,"pipeline_id":"04171623-678c-46fe-b021-67464d059284","secrets":[],"updated_at":"2026-03-19T08:29:57.202300851Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.954916ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/2dc50e1f-3424-4799-9888-dbc6336224a6
        method: GET
      response:
        body: '{"backend_stage_id":"07c635f7-b8d2-4597-bf54-2bac3fb8fe1a","certificate_expires_at":null,"created_at":"2026-03-19T08:29:57.202300Z","id":"2dc50e1f-3424-4799-9888-dbc6336224a6","managed_certificate":true,"pipeline_id":"04171623-678c-46fe-b021-67464d059284","secrets":[],"updated_at":"2026-03-19T08:29:57.202300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.383292ms
[...]
