---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.247708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-route-id","description":"pipeline for route data source test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:59.641242027Z","description":"pipeline for route data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","name":"tf-tests-ds-route-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:30:59.641242027Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.693166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fcdc6af4-6864-4ecc-bedc-10499562a2ed
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:59.641242Z","description":"pipeline for route data source test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","name":"tf-tests-ds-route-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:30:59.641242Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.156542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fcdc6af4-6864-4ecc-bedc-10499562a2ed/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:59.785077012Z","id":"5918afba-d14a-4bb7-8d3a-ee1aebc94837","mode":"enable","paranoia_level":3,"pipeline_id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","updated_at":"2026-03-26T15:30:59.785077012Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.442333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/5918afba-d14a-4bb7-8d3a-ee1aebc94837
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:59.785077Z","id":"5918afba-d14a-4bb7-8d3a-ee1aebc94837","mode":"enable","paranoia_level":3,"pipeline_id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","updated_at":"2026-03-26T15:30:59.785077Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.385125ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3da27f10-b5c1-457b-b77f-f9ac0197e1c1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153059Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-route-id
            X-Amz-Request-Id:
                - txg07eef105fb7147949e74-0069c55133
        status: 200 OK
        code: 200
        duration: 2.051500667s
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cb501f3d-1ee3-4a82-8eee-d5c6df7743e1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153101Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6dcd89c0f1ce4c6fabb6-0069c55135
        status: 200 OK
        code: 200
        duration: 385.562583ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0740c1d8-635d-4e37-80ba-bf86b58f8b05
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153101Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg22fdb176902c4cd18ecf-0069c55135
        status: 200 OK
        code: 200
        duration: 147.965084ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a1a54e97-a4a5-4ac8-a1b9-debcacd8a876
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153101Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgef64f82835234296b5cf-0069c55135</RequestId><HostId>txgef64f82835234296b5cf-0069c55135</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgef64f82835234296b5cf-0069c55135
        status: 404 Not Found
        code: 404
        duration: 153.984792ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e5a58c06-d67c-4730-a6f7-46a26557591d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153102Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-route-id</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9ba6fb88d8964b2e89a0-0069c55136
        status: 200 OK
        code: 200
        duration: 120.491458ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - da74f280-78ee-48e0-aebe-5e9f604adf20
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153102Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg3b47ee729f224fab895c-0069c55136</RequestId><HostId>txg3b47ee729f224fab895c-0069c55136</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3b47ee729f224fab895c-0069c55136
        status: 404 Not Found
        code: 404
        duration: 51.75325ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 789e92d3-a4bc-4b8c-a6a8-b4285389056f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153102Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg2d75850985004ee6b7f2-0069c55136</RequestId><HostId>txg2d75850985004ee6b7f2-0069c55136</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2d75850985004ee6b7f2-0069c55136
        status: 404 Not Found
        code: 404
        duration: 68.935167ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a32d9d17-8fdf-4e1c-a919-24bd17792072
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153102Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgcaed604bcbad4679b47b-0069c55136
        status: 200 OK
        code: 200
        duration: 118.780416ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - eab5354d-94d6-462f-8f45-67d602f64461
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153102Z
        url: https://test-acc-scaleway-object-bucket-ds-route-id.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg17154fc163a741de8afe-0069c55136</RequestId><HostId>txg17154fc163a741de8afe-0069c55136</HostId><Resource>/test-acc-scaleway-object-bucket-ds-route-id</Resource><BucketName>test-acc-scaleway-object-bucket-ds-route-id</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg17154fc163a741de8afe-0069c55136
        status: 404 Not Found
        code: 404
        duration: 156.486041ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-id","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fcdc6af4-6864-4ecc-bedc-10499562a2ed/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:31:03.383092162Z","id":"7c4e0433-c8f8-4c58-b6ac-1056e7031646","pipeline_id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:31:03.383092162Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 821.433042ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/7c4e0433-c8f8-4c58-b6ac-1056e7031646
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:31:03.383092Z","id":"7c4e0433-c8f8-4c58-b6ac-1056e7031646","pipeline_id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-route-id","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:31:03.383092Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.811375ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"5918afba-d14a-4bb7-8d3a-ee1aebc94837"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/fcdc6af4-6864-4ecc-bedc-10499562a2ed/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:31:03.519494049Z","id":"052b951e-8e09-446c-af92-397f9deb4189","pipeline_id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","updated_at":"2026-03-26T15:31:03.519494049Z","waf_stage_id":"5918afba-d14a-4bb7-8d3a-ee1aebc94837"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.901208ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"},"host_filter":null},"backend_stage_id":"7c4e0433-c8f8-4c58-b6ac-1056e7031646"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/052b951e-8e09-446c-af92-397f9deb4189/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"7c4e0433-c8f8-4c58-b6ac-1056e7031646","position":1,"route_stage_id":"052b951e-8e09-446c-af92-397f9deb4189","rule_http_match":{"host_filter":null,"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.364709ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/052b951e-8e09-446c-af92-397f9deb4189
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:31:03.519494Z","id":"052b951e-8e09-446c-af92-397f9deb4189","pipeline_id":"fcdc6af4-6864-4ecc-bedc-10499562a2ed","updated_at":"2026-03-26T15:31:03.624001Z","waf_stage_id":"5918afba-d14a-4bb7-8d3a-ee1aebc94837"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.500708ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/052b951e-8e09-446c-af92-397f9deb4189/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"7c4e0433-c8f8-4c58-b6ac-1056e7031646","position":1,"route_stage_id":"052b951e-8e09-446c-af92-397f9deb4189","rule_http_match":{"host_filter":null,"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.450167ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.825125ms
[...]
