---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-ds-cache-filter","description":"pipeline for cache filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:10:49.964099122Z","description":"pipeline for cache filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"26442ed0-73b0-4ee9-bf02-f5342ff2889f","name":"tf-tests-ds-cache-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:10:49.964099122Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.451041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/26442ed0-73b0-4ee9-bf02-f5342ff2889f
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:10:49.964099Z","description":"pipeline for cache filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"26442ed0-73b0-4ee9-bf02-f5342ff2889f","name":"tf-tests-ds-cache-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-18T15:10:49.964099Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.901292ms
    - id: 2
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7df8dfe3-4098-4ef6-b501-8fecb796f45c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151049Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-ds-cache-filter
            X-Amz-Request-Id:
                - txge3ddfd5997574e4a8102-0069bac079
        status: 200 OK
        code: 200
        duration: 4.458607416s
    - id: 3
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 32fcd772-ab15-4981-b085-db4a2d557237
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6fbb8cdd92854f3f80a4-0069bac07e
        status: 200 OK
        code: 200
        duration: 46.427917ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0801e553-8652-4701-bcbe-6b2ec068e845
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3a8889dd659a4ad1bc19-0069bac07e
        status: 200 OK
        code: 200
        duration: 57.445584ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b1dcacf5-4f13-4f8f-bfea-bc00dd0f8b6d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txga03303cb260e4861b5e2-0069bac07e</RequestId><HostId>txga03303cb260e4861b5e2-0069bac07e</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga03303cb260e4861b5e2-0069bac07e
        status: 404 Not Found
        code: 404
        duration: 52.237292ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d5e5be96-9766-4d96-a110-5bada32b69dd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-ds-cache-filter</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge66ff53d9d694296be80-0069bac07e
        status: 200 OK
        code: 200
        duration: 185.518959ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9bbb6838-dedd-4d34-bd77-4aab806138db
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg26269264502249ce92b1-0069bac07e</RequestId><HostId>txg26269264502249ce92b1-0069bac07e</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg26269264502249ce92b1-0069bac07e
        status: 404 Not Found
        code: 404
        duration: 77.454708ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 60911348-d23e-4f45-8280-a2fc111cd2f4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg45d6ee4c494844e0994d-0069bac07e</RequestId><HostId>txg45d6ee4c494844e0994d-0069bac07e</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg45d6ee4c494844e0994d-0069bac07e
        status: 404 Not Found
        code: 404
        duration: 164.304458ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 501555b4-7248-49a3-9266-dc058098de2f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd2c12b35f4ec4cefac2c-0069bac07e
        status: 200 OK
        code: 200
        duration: 152.498375ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 64e4f5b7-1fb9-4ca7-9ff2-31eae5e16a77
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260318T151054Z
        url: https://test-acc-scaleway-object-bucket-ds-cache-filter.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg714e12ae212347a8a09b-0069bac07e</RequestId><HostId>txg714e12ae212347a8a09b-0069bac07e</HostId><Resource>/test-acc-scaleway-object-bucket-ds-cache-filter</Resource><BucketName>test-acc-scaleway-object-bucket-ds-cache-filter</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg714e12ae212347a8a09b-0069bac07e
        status: 404 Not Found
        code: 404
        duration: 21.21425ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-filter","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/26442ed0-73b0-4ee9-bf02-f5342ff2889f/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-18T15:10:56.095016699Z","id":"18e95932-dc52-414b-bdbb-14b476b408ef","pipeline_id":"26442ed0-73b0-4ee9-bf02-f5342ff2889f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:10:56.095016699Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.160410209s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/18e95932-dc52-414b-bdbb-14b476b408ef
        method: GET
      response:
        body: '{"created_at":"2026-03-18T15:10:56.095016Z","id":"18e95932-dc52-414b-bdbb-14b476b408ef","pipeline_id":"26442ed0-73b0-4ee9-bf02-f5342ff2889f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-ds-cache-filter","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-18T15:10:56.095016Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.053208ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"7200.000000000s","include_cookies":false,"backend_stage_id":"18e95932-dc52-414b-bdbb-14b476b408ef"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/26442ed0-73b0-4ee9-bf02-f5342ff2889f/cache-stages
        method: POST
      response:
        body: '{"backend_stage_id":"18e95932-dc52-414b-bdbb-14b476b408ef","created_at":"2026-03-18T15:10:56.238695785Z","fallback_ttl":"7200s","id":"9c5bb850-0d04-4997-9c55-6bc9103e7f50","include_cookies":false,"pipeline_id":"26442ed0-73b0-4ee9-bf02-f5342ff2889f","updated_at":"2026-03-18T15:10:56.238695785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.69375ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/9c5bb850-0d04-4997-9c55-6bc9103e7f50
        method: GET
      response:
        body: '{"backend_stage_id":"18e95932-dc52-414b-bdbb-14b476b408ef","created_at":"2026-03-18T15:10:56.238695Z","fallback_ttl":"7200s","id":"9c5bb850-0d04-4997-9c55-6bc9103e7f50","include_cookies":false,"pipeline_id":"26442ed0-73b0-4ee9-bf02-f5342ff2889f","updated_at":"2026-03-18T15:10:56.238695Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.288959ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/26442ed0-73b0-4ee9-bf02-f5342ff2889f/cache-stages?order_by=created_at_asc
        method: GET
      response:
        body: '{"stages":[{"backend_stage_id":"18e95932-dc52-414b-bdbb-14b476b408ef","created_at":"2026-03-18T15:10:56.238695Z","fallback_ttl":"7200s","id":"9c5bb850-0d04-4997-9c55-6bc9103e7f50","include_cookies":false,"pipeline_id":"26442ed0-73b0-4ee9-bf02-f5342ff2889f","updated_at":"2026-03-18T15:10:56.238695Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.46575ms
[...]
