---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-06-27T12:50:26.977372452Z","description":"pipeline description","errors":[],"id":"075364c3-bd70-479a-8e04-fca32f210302","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-06-27T12:50:26.977372452Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.914ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/075364c3-bd70-479a-8e04-fca32f210302
        method: GET
      response:
        body: '{"created_at":"2025-06-27T12:50:26.977372Z","description":"pipeline description","errors":[],"id":"075364c3-bd70-479a-8e04-fca32f210302","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-06-27T12:50:26.977372Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.667917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s","include_cookies":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/075364c3-bd70-479a-8e04-fca32f210302/cache-stages
        method: POST
      response:
        body: '{"created_at":"2025-06-27T12:50:27.172262211Z","fallback_ttl":"3600s","id":"3c330095-0979-481a-a5f8-33bbad769e72","include_cookies":false,"pipeline_id":"075364c3-bd70-479a-8e04-fca32f210302","updated_at":"2025-06-27T12:50:27.172262211Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.280917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/3c330095-0979-481a-a5f8-33bbad769e72
        method: GET
      response:
        body: '{"created_at":"2025-06-27T12:50:27.172262Z","fallback_ttl":"3600s","id":"3c330095-0979-481a-a5f8-33bbad769e72","include_cookies":false,"pipeline_id":"075364c3-bd70-479a-8e04-fca32f210302","updated_at":"2025-06-27T12:50:27.172262Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.777334ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/3c330095-0979-481a-a5f8-33bbad769e72
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 60.098709ms
