---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"7bf595da-0e99-45c5-9d68-fbb323903a35","ip_address":"62.210.39.246","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-246.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.21725ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/7bf595da-0e99-45c5-9d68-fbb323903a35
        method: GET
      response:
        body: '{"id":"7bf595da-0e99-45c5-9d68-fbb323903a35","ip_address":"62.210.39.246","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-246.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.990792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-01-14T16:19:43.184269992Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"9bcee9a8-27c8-4731-b073-757ed0df0121","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-01-14T16:19:43.184269992Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.285291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/9bcee9a8-27c8-4731-b073-757ed0df0121
        method: GET
      response:
        body: '{"created_at":"2026-01-14T16:19:43.184269Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"9bcee9a8-27c8-4731-b073-757ed0df0121","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-01-14T16:19:43.184269Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.121708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"lb_name","description":"","ip_id":"7bf595da-0e99-45c5-9d68-fbb323903a35","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-01-14T16:19:43.334073737Z","description":"","frontend_count":0,"id":"4eec269f-c654-49ad-b7cf-442407df42d0","instances":[],"ip":[{"id":"7bf595da-0e99-45c5-9d68-fbb323903a35","ip_address":"62.210.39.246","lb_id":"4eec269f-c654-49ad-b7cf-442407df42d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-246.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-01-14T16:19:43.334073737Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.628292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4eec269f-c654-49ad-b7cf-442407df42d0
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-01-14T16:19:43.334074Z","description":"","frontend_count":0,"id":"4eec269f-c654-49ad-b7cf-442407df42d0","instances":[{"created_at":"2026-01-14T16:14:04.012616Z","id":"460e9f17-9143-4c80-97ad-3e7fb01a547d","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-01-14T16:19:43.476352Z","zone":"fr-par-1"}],"ip":[{"id":"7bf595da-0e99-45c5-9d68-fbb323903a35","ip_address":"62.210.39.246","lb_id":"4eec269f-c654-49ad-b7cf-442407df42d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-246.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-01-14T16:19:43.483918Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.860458ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4eec269f-c654-49ad-b7cf-442407df42d0/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.278375ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"backend","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"http_config":{"uri":"/healthcheck","method":"GET","code":200,"host_header":""},"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":true,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4eec269f-c654-49ad-b7cf-442407df42d0/backends
        method: POST
      response:
        body: '{"created_at":"2026-01-14T16:20:14.099716864Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"id":"1553d3a5-f426-4994-8de1-10897e14ee6b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-01-14T16:19:43.334074Z","description":"","frontend_count":0,"id":"4eec269f-c654-49ad-b7cf-442407df42d0","instances":[{"created_at":"2026-01-14T16:14:04.012616Z","id":"460e9f17-9143-4c80-97ad-3e7fb01a547d","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-01-14T16:20:14.126031280Z","zone":"fr-par-1"}],"ip":[{"id":"7bf595da-0e99-45c5-9d68-fbb323903a35","ip_address":"62.210.39.246","lb_id":"4eec269f-c654-49ad-b7cf-442407df42d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-246.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-01-14T16:19:45.989216Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"backend","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":true,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-01-14T16:20:14.099716864Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.25625ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert","letsencrypt":{"common_name":"62-210-39-246.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4eec269f-c654-49ad-b7cf-442407df42d0/certificates
        method: POST
      response:
        body: '{"common_name":"62-210-39-246.lb.fr-par.scw.cloud","created_at":"2026-01-14T16:20:14.182422072Z","fingerprint":"","id":"ee6337d0-88fc-4301-8c5b-12b7d748c73b","lb":{"backend_count":1,"created_at":"2026-01-14T16:19:43.334074Z","description":"","frontend_count":0,"id":"4eec269f-c654-49ad-b7cf-442407df42d0","instances":[{"created_at":"2026-01-14T16:14:04.012616Z","id":"460e9f17-9143-4c80-97ad-3e7fb01a547d","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-01-14T16:20:14.126031Z","zone":"fr-par-1"}],"ip":[{"id":"7bf595da-0e99-45c5-9d68-fbb323903a35","ip_address":"62.210.39.246","lb_id":"4eec269f-c654-49ad-b7cf-442407df42d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"62-210-39-246.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-01-14T16:20:14.207079047Z","zone":"fr-par-1"},"name":"test-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2026-01-14T16:20:14.182422072Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.249417ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/1553d3a5-f426-4994-8de1-10897e14ee6b
        method: GET
      response:
        body: '{"created_at":"2026-01-14T16:20:14.099717Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/ee6337d0-88fc-4301-8c5b-12b7d748c73b
        method: GET
      response:
        body: '{"common_name":"62-210-39-246.lb.fr-par.scw.cloud","created_at":"2026-01-14T16:20:14.182422Z","fingerprint":"","id":"ee6337d0-88fc-4301-8c5b-12b7d748c73b","lb":{"backend_count":1,"created_at":"2026-01-14T16:19:43.334074Z","descrip[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"1553d3a5-f426-4994-8de1-10897e14ee6b","certificate_ids":["ee6337d0-88fc-4301-8c5b-12b7d748c73b"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4eec269f-c654-49ad-b7cf-442407df42d0/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-01-14T16:20:14.099717Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"id":"1553d3a5-f426-4994-8de1-10897e14ee6b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-01-1[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"1553d3a5-f426-4994-8de1-10897e14ee6b","certificate_ids":["ee6337d0-88fc-4301-8c5b-12b7d748c73b"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/546bc355-6993-423d-a7d3-0e2e9168555a
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/546bc355-6993-423d-a7d3-0e2e9168555a/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.553166ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"scaleway_lb":{"lbs":[{"id":"4eec269f-c654-49ad-b7cf-442407df42d0","zone":"fr-par-1","frontend_id":"546bc355-6993-423d-a7d3-0e2e9168555a","is_ssl":true,"domain_name":null,"has_websocket":false}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/9bcee9a8-27c8-4731-b073-757ed0df0121/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-01-14T16:20:47.194808350Z","id":"b3e178f2-640d-4ada-85e8-3dcda3cd3e08","pipeline_id":"9bcee9a8-27c8-4731-b073-757ed0df0121","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"546bc355-6993-423d-a7d3-0e2e9168555a","has_websocket":false,"id":"4eec269f-c654-49ad-b7cf-442407df42d0","is_ssl":true,"zone":"fr-par-1"}]},"updated_at":"2026-01-14T16:20:47.194808350Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 919.505541ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/b3e178f2-640d-4ada-85e8-3dcda3cd3e08
        method: GET
      response:
        body: '{"created_at":"2026-01-14T16:20:47.194808Z","id":"b3e178f2-640d-4ada-85e8-3dcda3cd3e08","pipeline_id":"9bcee9a8-27c8-4731-b073-757ed0df0121","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"546bc355-6993-423d-a7d3-0e2e9168555a","has_websocket":false,"id":"4eec269f-c654-49ad-b7cf-442407df42d0","is_ssl":true,"zone":"fr-par-1"}]},"updated_at":"2026-01-14T16:20:47.194808Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.304083ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4eec269f-c654-49ad-b7cf-442407df42d0?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 346.813625ms
[...]
