---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_backend-function","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:10.159362Z","description":"","id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","name":"tf_tests_edge_services_project_backend-function","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":null,"updated_at":"2026-07-21T14:49:10.159362Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.49ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/79ff25b7-33d1-4bd3-87a9-c8ce607abea8
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:10.159362Z","description":"","id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","name":"tf_tests_edge_services_project_backend-function","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-07-21T14:49:10.159362Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.754484ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.56729ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:10.620608655Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"4d273f18-e37d-48d0-8ec9-38daa9bacc19","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","status":"warning","updated_at":"2026-07-21T14:49:10.620608655Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.150825ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/4d273f18-e37d-48d0-8ec9-38daa9bacc19
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:10.620608Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"4d273f18-e37d-48d0-8ec9-38daa9bacc19","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","status":"warning","updated_at":"2026-07-21T14:49:10.620608Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.638471ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-es-backend-function","environment_variables":{},"project_id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:11.303902937Z","description":"","environment_variables":{},"error_message":null,"id":"2d166600-c9a9-470d-96ea-9b9bd69c1811","name":"tf-tests-es-backend-function","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-21T14:49:11.303902937Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 938.326487ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2d166600-c9a9-470d-96ea-9b9bd69c1811
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:11.303903Z","description":"","environment_variables":{},"error_message":null,"id":"2d166600-c9a9-470d-96ea-9b9bd69c1811","name":"tf-tests-es-backend-function","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"79ff25b7-33d1-4bd3-87a9-c8ce607abea8","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-21T14:49:11.303903Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.870227ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-es-backend-function","namespace_id":"2d166600-c9a9-470d-96ea-9b9bd69c1811","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-21T14:49:16.647102950Z","description":"","domain_name":"tftestsesbackendfuncpfa4yvan-tf-tests-es-backend-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"94a70fe9-f48d-4e02-b9be-291ccc78e81d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-es-backend-function","namespace_id":"2d166600-c9a9-470d-96ea-9b9bd69c1811","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-21T14:49:16.647102950Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.775483ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/94a70fe9-f48d-4e02-b9be-291ccc78e81d
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-21T14:49:16.647103Z","description":"","domain_name":"tftestsesbackendfuncpfa4yvan-tf-tests-es-backend-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"94a70fe9-f48d-4e02-b9be-291ccc78e81d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-es-backend-function","namespace_id":"2d166600-c9a9-470d-96ea-9b9bd69c1811","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-21T14:49:16.647103Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.914944ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_serverless_function":{"region":"fr-par","function_id":"94a70fe9-f48d-4e02-b9be-291ccc78e81d"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/4d273f18-e37d-48d0-8ec9-38daa9bacc19/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:17.071299649Z","id":"97872cca-cf91-46c1-ae16-070be240fe90","pipeline_id":"4d273f18-e37d-48d0-8ec9-38daa9bacc19","scaleway_serverless_function":{"function_id":"94a70fe9-f48d-4e02-b9be-291ccc78e81d","region":"fr-par"},"status":"inactive","updated_at":"2026-07-21T14:49:17.071299649Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.801513ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/97872cca-cf91-46c1-ae16-070be240fe90
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:17.071299Z","id":"97872cca-cf91-46c1-ae16-070be240fe90","pipeline_id":"4d273f18-e37d-48d0-8ec9-38daa9bacc19","scaleway_serverless_function":{"function_id":"94a70fe9-f48d-4e02-b9be-291ccc78e81d","region":"fr-par"},"status":"inactive","updated_at":"2026-07-21T14:49:17.071299Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.118572ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/79ff25b7-33d1-4bd3-87a9-c8ce607abea8
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.826311ms
[...]
