---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.425958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline-waf-rule","description":"pipeline for waf rule test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:44.052538180Z","description":"pipeline for waf rule test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"7b56806d-687d-4d41-90f1-432a573dd59d","name":"my-edge-services-pipeline-waf-rule","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:30:44.052538180Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.651125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7b56806d-687d-4d41-90f1-432a573dd59d
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:44.052538Z","description":"pipeline for waf rule test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"7b56806d-687d-4d41-90f1-432a573dd59d","name":"my-edge-services-pipeline-waf-rule","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:30:44.052538Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.446333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7b56806d-687d-4d41-90f1-432a573dd59d/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:44.177033655Z","id":"6fea8bcb-8ec4-4e22-92d6-00accd9d98ed","mode":"enable","paranoia_level":2,"pipeline_id":"7b56806d-687d-4d41-90f1-432a573dd59d","updated_at":"2026-03-26T15:30:44.177033655Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.008583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/6fea8bcb-8ec4-4e22-92d6-00accd9d98ed
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:44.177033Z","id":"6fea8bcb-8ec4-4e22-92d6-00accd9d98ed","mode":"enable","paranoia_level":2,"pipeline_id":"7b56806d-687d-4d41-90f1-432a573dd59d","updated_at":"2026-03-26T15:30:44.177033Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.031166ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a302c81e-561a-47f5-a24a-2c54d989e221
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153043Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-waf-route-rule
            X-Amz-Request-Id:
                - txg27562d2f3f3c4404aaf4-0069c55123
        status: 200 OK
        code: 200
        duration: 813.363875ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d06e4017-99bc-4b69-a957-e441b24a4920
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260326T153044Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgacb27b83ac084e7cadb1-0069c55124
        status: 200 OK
        code: 200
        duration: 209.733917ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e636add9-93bc-48ac-9c25-6322506d71d9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153044Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgb30935be486b47ee8427-0069c55124
        status: 200 OK
        code: 200
        duration: 205.36175ms
[...]
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1ad86ffb-e563-4979-895b-6715a89767fd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153045Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgc0ba9b3f4f6f461fb0cc-0069c55125
        status: 200 OK
        code: 200
        duration: 164.985375ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 79eaf3e2-abeb-4d8c-977e-4b3b47b3f0b6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153045Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgd3199b134ee6450da6dd-0069c55125</RequestId><HostId>txgd3199b134ee6450da6dd-0069c55125</HostId><Resource>/test-acc-scaleway-object-bucket-waf-route-rule</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd3199b134ee6450da6dd-0069c55125
        status: 404 Not Found
        code: 404
        duration: 118.503667ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5b134f0e-5381-4255-bb7a-736fcd62e4df
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153045Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-waf-route-rule</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg17b64821317b4be6b934-0069c55125
        status: 200 OK
        code: 200
        duration: 282.22575ms
[...]
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - feba0c24-e3fd-4a4e-bc10-d6a7bc02766e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153045Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg686d4861c09a413385e2-0069c55125</RequestId><HostId>txg686d4861c09a413385e2-0069c55125</HostId><Resource>/test-acc-scaleway-object-bucket-waf-route-rule</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg686d4861c09a413385e2-0069c55125
        status: 404 Not Found
        code: 404
        duration: 225.116833ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 66d524c1-7690-4502-a605-6cad2839eca8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153045Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2f31ac7cbc44450bb226-0069c55125
        status: 200 OK
        code: 200
        duration: 190.121625ms
    - id: 15
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ae6b20da-8a1d-4de4-bd50-977952c8e855
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153046Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg794c545d86774d3799a1-0069c55126</RequestId><HostId>txg794c545d86774d3799a1-0069c55126</HostId><Resource>/test-acc-scaleway-object-bucket-waf-route-rule</Resource><BucketName>test-acc-scaleway-object-bucket-waf-route-rule</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg794c545d86774d3799a1-0069c55126
        status: 404 Not Found
        code: 404
        duration: 75.572833ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-waf-route-rule","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7b56806d-687d-4d41-90f1-432a573dd59d/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:46.714896172Z","id":"e9d414eb-fbaf-4167-9fc7-523cbd25b0af","pipeline_id":"7b56806d-687d-4d41-90f1-432a573dd59d","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-waf-route-rule","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:30:46.714896172Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 499.37275ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/e9d414eb-fbaf-4167-9fc7-523cbd25b0af
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:46.714896Z","id":"e9d414eb-fbaf-4167-9fc7-523cbd25b0af","pipeline_id":"7b56806d-687d-4d41-90f1-432a573dd59d","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-waf-route-rule","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:30:46.714896Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.98975ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"backend_stage_id":"e9d414eb-fbaf-4167-9fc7-523cbd25b0af"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7b56806d-687d-4d41-90f1-432a573dd59d/route-stages
        method: POST
      response:
        body: '{"backend_stage_id":"e9d414eb-fbaf-4167-9fc7-523cbd25b0af","created_at":"2026-03-26T15:30:46.837452961Z","id":"f4b180da-e89c-49ad-ac29-aae869209bef","pipeline_id":"7b56806d-687d-4d41-90f1-432a573dd59d","updated_at":"2026-03-26T15:30:46.837452961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.898458ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":"/api/.*"},"host_filter":null},"waf_stage_id":"6fea8bcb-8ec4-4e22-92d6-00accd9d98ed"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/f4b180da-e89c-49ad-ac29-aae869209bef/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"position":1,"route_stage_id":"f4b180da-e89c-49ad-ac29-aae869209bef","rule_http_match":{"host_filter":null,"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":"/api/.*"}},"waf_stage_id":"6fea8bcb-8ec4-4e22-92d6-00accd9d98ed"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.691625ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/f4b180da-e89c-49ad-ac29-aae869209bef
        method: GET
      response:
        body: '{"backend_stage_id":"e9d414eb-fbaf-4167-9fc7-523cbd25b0af","created_at":"2026-03-26T15:30:46.837452Z","id":"f4b180da-e89c-49ad-ac29-aae869209bef","pipeline_id":"7b56806d-687d-4d41-90f1-432a573dd59d","updated_at":"2026-03-26T15:30:46.968981Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.399584ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/f4b180da-e89c-49ad-ac29-aae869209bef/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"position":1,"route_stage_id":"f4b180da-e89c-49ad-ac29-aae869209bef","rule_http_match":{"host_filter":null,"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":"/api/.*"}},"waf_stage_id":"6fea8bcb-8ec4-4e22-92d6-00accd9d98ed"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.382042ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.682791ms
[...]
