---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-03-06T14:13:02.492916155Z","description":"pipeline description","errors":[],"id":"19feeb46-7b14-42ce-b910-d6d42e7c61bb","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-06T14:13:02.492916155Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.85465ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/19feeb46-7b14-42ce-b910-d6d42e7c61bb
        method: GET
      response:
        body: '{"created_at":"2025-03-06T14:13:02.492916Z","description":"pipeline description","errors":[],"id":"19feeb46-7b14-42ce-b910-d6d42e7c61bb","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-06T14:13:02.492916Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.825725ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/19feeb46-7b14-42ce-b910-d6d42e7c61bb/cache-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-06T14:13:02.705151610Z","fallback_ttl":"3600s","id":"af920d63-dab0-497c-bc6c-74ddc54a769d","pipeline_id":"19feeb46-7b14-42ce-b910-d6d42e7c61bb","updated_at":"2025-03-06T14:13:02.705151610Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.843206ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/af920d63-dab0-497c-bc6c-74ddc54a769d
        method: GET
      response:
        body: '{"created_at":"2025-03-06T14:13:02.705151Z","fallback_ttl":"3600s","id":"af920d63-dab0-497c-bc6c-74ddc54a769d","pipeline_id":"19feeb46-7b14-42ce-b910-d6d42e7c61bb","updated_at":"2025-03-06T14:13:02.705151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.945676ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/af920d63-dab0-497c-bc6c-74ddc54a769d
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 53.285696ms
