---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d023fa93-eb36-44b5-91b8-13b998e2e630
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:32:44.780706Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"d023fa93-eb36-44b5-91b8-13b998e2e630","key_id":null,"managed":false,"name":"tf-tests-edge-dns-wildcard-cert","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"certificate","updated_at":"2026-06-26T09:32:44.780706Z","used_by":[],"version_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.211875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d023fa93-eb36-44b5-91b8-13b998e2e630/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"created_at":"2026-06-26T09:32:45.202219Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630","status":"enabled","updated_at":"2026-06-26T09:32:45.202219Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.437917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","plan_name":"professional"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"professional"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.010375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-edge-dns-wildcard","description":"pipeline for wildcard DNS test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-06-26T09:55:55.813227831Z","description":"pipeline for wildcard DNS test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","name":"tf-tests-edge-dns-wildcard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"warning","updated_at":"2026-06-26T09:55:55.813227831Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.583833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/59b19f17-c33d-42f1-8285-1c1d7af252e4
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:55:55.813227Z","description":"pipeline for wildcard DNS test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","name":"tf-tests-edge-dns-wildcard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"warning","updated_at":"2026-06-26T09:55:55.813227Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.496ms
    - id: 5
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f99b09ef-9d9a-4536-b4b6-9c41f2ae3a74
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095555Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-edge-dns-wildcard
            X-Amz-Request-Id:
                - txgaddd9742a17a452c993a-006a3e4cab
        status: 200 OK
        code: 200
        duration: 4.779669167s
    - id: 6
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2a1fe957-f644-42b6-b0fd-e971dc439073
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095600Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txga3ea68284d8645d3a248-006a3e4cb0
        status: 200 OK
        code: 200
        duration: 196.53425ms
    - id: 7
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d235433b-bef8-43d0-99e9-85f9bb881efc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095600Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg70bd4f90cf10402d84d0-006a3e4cb0
        status: 200 OK
        code: 200
        duration: 1.013558834s
    - id: 8
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b3c4da82-fddd-4a46-8236-487cffdec674
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095600Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgb03c700a8b92413d8754-006a3e4cb1</RequestId><HostId>txgb03c700a8b92413d8754-006a3e4cb1</HostId><Resource>/test-acc-edge-dns-wildcard</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb03c700a8b92413d8754-006a3e4cb1
        status: 404 Not Found
        code: 404
        duration: 177.049584ms
    - id: 9
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 32b74f5e-9ceb-498a-9489-d8a4dea59f4e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095601Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-edge-dns-wildcard</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg99297aba274f41b1800b-006a3e4cb1
        status: 200 OK
        code: 200
        duration: 236.110167ms
    - id: 10
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d463e45e-c646-467a-b43a-2794190dff6a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095601Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg37c93bd45380412e9f7c-006a3e4cb1</RequestId><HostId>txg37c93bd45380412e9f7c-006a3e4cb1</HostId><Resource>/test-acc-edge-dns-wildcard</Resource><BucketName>test-acc-edge-dns-wildcard</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg37c93bd45380412e9f7c-006a3e4cb1
        status: 404 Not Found
        code: 404
        duration: 47.725208ms
    - id: 11
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d5d6c3bd-8029-4fed-8099-4e0308ed449d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095601Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgfaa494ca7f844b4f80bd-006a3e4cb1</RequestId><HostId>txgfaa494ca7f844b4f80bd-006a3e4cb1</HostId><Resource>/test-acc-edge-dns-wildcard</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgfaa494ca7f844b4f80bd-006a3e4cb1
        status: 404 Not Found
        code: 404
        duration: 1.016919583s
    - id: 12
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 82852743-415f-4453-bb0b-bc50a1051ff3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095601Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2fc6f2f6a18e40ec9762-006a3e4cb2
        status: 200 OK
        code: 200
        duration: 148.716417ms
    - id: 13
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9b82c3d3-feba-4a0a-b60f-843d6e8b3bf6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T095602Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg59d808065b2744c2816d-006a3e4cb3</RequestId><HostId>txg59d808065b2744c2816d-006a3e4cb3</HostId><Resource>/test-acc-edge-dns-wildcard</Resource><BucketName>test-acc-edge-dns-wildcard</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg59d808065b2744c2816d-006a3e4cb3
        status: 404 Not Found
        code: 404
        duration: 86.787167ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/59b19f17-c33d-42f1-8285-1c1d7af252e4/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-06-26T09:56:04.086080919Z","id":"a9610388-a7a8-4785-a452-e93569bf5d48","pipeline_id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-06-26T09:56:04.086080919Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.053823625s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/a9610388-a7a8-4785-a452-e93569bf5d48
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:56:04.086080Z","id":"a9610388-a7a8-4785-a452-e93569bf5d48","pipeline_id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-06-26T09:56:04.086080Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.70175ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630","region":"fr-par"}],"managed_certificate":false,"backend_stage_id":"a9610388-a7a8-4785-a452-e93569bf5d48"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/59b19f17-c33d-42f1-8285-1c1d7af252e4/tls-stages
        method: POST
      response:
        body: '{"backend_stage_id":"a9610388-a7a8-4785-a452-e93569bf5d48","certificate_expires_at":null,"created_at":"2026-06-26T09:56:04.613265229Z","id":"b65bf197-ad5a-4689-bf89-e6019d1d9b49","managed_certificate":false,"pipeline_id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","secrets":[{"region":"fr-par","secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630"}],"status":"inactive","updated_at":"2026-06-26T09:56:04.613265229Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.044ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/b65bf197-ad5a-4689-bf89-e6019d1d9b49
        method: GET
      response:
        body: '{"backend_stage_id":"a9610388-a7a8-4785-a452-e93569bf5d48","certificate_expires_at":null,"created_at":"2026-06-26T09:56:04.613265Z","id":"b65bf197-ad5a-4689-bf89-e6019d1d9b49","managed_certificate":false,"pipeline_id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","secrets":[{"region":"fr-par","secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630"}],"status":"inactive","updated_at":"2026-06-26T09:56:04.613265Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.851958ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"tls_stage_id":"b65bf197-ad5a-4689-bf89-e6019d1d9b49","wildcard_domain":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/59b19f17-c33d-42f1-8285-1c1d7af252e4/dns-stages
        method: POST
      response:
        body: '{"created_at":"2026-06-26T09:56:05.266341633Z","default_fqdn":"","default_private_fqdn":"","fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"full_private":false,"id":"c6878c3e-26e1-4abe-a8ff-b1d309587a54","pipeline_id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","status":"inactive","tls_stage_id":"b65bf197-ad5a-4689-bf89-e6019d1d9b49","type":"managed","updated_at":"2026-06-26T09:56:05.266341633Z","wildcard_domain":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 458.0095ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/c6878c3e-26e1-4abe-a8ff-b1d309587a54
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:56:05.266341Z","default_fqdn":"","default_private_fqdn":"","fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"full_private":false,"id":"c6878c3e-26e1-4abe-a8ff-b1d309587a54","pipeline_id":"59b19f17-c33d-42f1-8285-1c1d7af252e4","status":"inactive","tls_stage_id":"b65bf197-ad5a-4689-bf89-e6019d1d9b49","type":"managed","updated_at":"2026-06-26T09:56:05.266341Z","wildcard_domain":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.937542ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"plan_name":"professional"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.088958ms
[...]
