---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","secrets":null,"managed_certificate":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1alpha1/tls-stages
        method: POST
      response:
        body: '{"certificate_expires_at":null,"created_at":"2024-06-27T09:20:39.222976571Z","id":"284bc6ef-799e-441d-8939-2e337e8fb60a","managed_certificate":true,"pipeline_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","secrets":[],"updated_at":"2024-06-27T09:20:39.222976571Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.728988ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/tls-stages/284bc6ef-799e-441d-8939-2e337e8fb60a
        method: GET
      response:
        body: '{"certificate_expires_at":null,"created_at":"2024-06-27T09:20:39.222976Z","id":"284bc6ef-799e-441d-8939-2e337e8fb60a","managed_certificate":true,"pipeline_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","secrets":[],"updated_at":"2024-06-27T09:20:39.222976Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.191283ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/tls-stages/284bc6ef-799e-441d-8939-2e337e8fb60a
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 36.668511ms
