---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d023fa93-eb36-44b5-91b8-13b998e2e630
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:32:44.780706Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"d023fa93-eb36-44b5-91b8-13b998e2e630","key_id":null,"managed":false,"name":"tf-tests-edge-dns-wildcard-cert","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"certificate","updated_at":"2026-06-26T09:32:44.780706Z","used_by":[],"version_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.662291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d023fa93-eb36-44b5-91b8-13b998e2e630/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"created_at":"2026-06-26T09:32:45.202219Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630","status":"enabled","updated_at":"2026-06-26T09:32:45.202219Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.375208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-edge-dns-wildcard","description":"pipeline for wildcard DNS test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-06-26T11:23:06.403895042Z","description":"pipeline for wildcard DNS test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"b1caf993-7740-452d-bc59-910af08ff971","name":"tf-tests-edge-dns-wildcard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"warning","updated_at":"2026-06-26T11:23:06.403895042Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.465375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b1caf993-7740-452d-bc59-910af08ff971
        method: GET
      response:
        body: '{"created_at":"2026-06-26T11:23:06.403895Z","description":"pipeline for wildcard DNS test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"b1caf993-7740-452d-bc59-910af08ff971","name":"tf-tests-edge-dns-wildcard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"warning","updated_at":"2026-06-26T11:23:06.403895Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.343333ms
    - id: 4
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1e240174-8a35-4347-9924-ea8ef998abf6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112306Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-edge-dns-wildcard
            X-Amz-Request-Id:
                - txg48b467b01f5e42f4a138-006a3e611a
        status: 200 OK
        code: 200
        duration: 4.697004333s
    - id: 5
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 81dd9687-465e-4205-bfa4-3147942fb3ad
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112310Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg99491c4ede934f60a5f8-006a3e611e
        status: 200 OK
        code: 200
        duration: 415.263875ms
    - id: 6
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 59061bcf-f75c-422d-a121-eb7aa75a021b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112311Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgab758ba255194e74bcf9-006a3e611f
        status: 200 OK
        code: 200
        duration: 97.36925ms
    - id: 7
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 79b9e2d1-476b-44be-bfa5-77817cdb057a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112311Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txga393694a347a4fedb09e-006a3e611f</RequestId><HostId>txga393694a347a4fedb09e-006a3e611f</HostId><Resource>/test-acc-edge-dns-wildcard</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga393694a347a4fedb09e-006a3e611f
        status: 404 Not Found
        code: 404
        duration: 146.781333ms
    - id: 8
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d36f9b2e-018c-429e-a5e6-190f7928349a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112311Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-edge-dns-wildcard</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5e0d00538680429da1db-006a3e611f
        status: 200 OK
        code: 200
        duration: 321.104666ms
    - id: 9
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - eb9c1d42-2d1b-4d80-b2e8-24315b15f645
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112311Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgb74c3a27c95d4844857e-006a3e611f</RequestId><HostId>txgb74c3a27c95d4844857e-006a3e611f</HostId><Resource>/test-acc-edge-dns-wildcard</Resource><BucketName>test-acc-edge-dns-wildcard</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb74c3a27c95d4844857e-006a3e611f
        status: 404 Not Found
        code: 404
        duration: 172.174833ms
    - id: 10
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 08152450-a0e9-46a8-8358-0e444230d881
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112311Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg195bfa22b632410d8ee8-006a3e6120</RequestId><HostId>txg195bfa22b632410d8ee8-006a3e6120</HostId><Resource>/test-acc-edge-dns-wildcard</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg195bfa22b632410d8ee8-006a3e6120
        status: 404 Not Found
        code: 404
        duration: 51.197792ms
    - id: 11
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c48c84d8-eccd-4531-946f-e22196d93b5a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112312Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg047b8e3b6fcd47c985f7-006a3e6120
        status: 200 OK
        code: 200
        duration: 565.643625ms
    - id: 12
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5759fa8b-ea2d-4147-97af-0292c9e411e6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T112312Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg5cd0a1f66a8b43e48e6e-006a3e6120</RequestId><HostId>txg5cd0a1f66a8b43e48e6e-006a3e6120</HostId><Resource>/test-acc-edge-dns-wildcard</Resource><BucketName>test-acc-edge-dns-wildcard</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5cd0a1f66a8b43e48e6e-006a3e6120
        status: 404 Not Found
        code: 404
        duration: 169.415792ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b1caf993-7740-452d-bc59-910af08ff971/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-06-26T11:23:13.817003148Z","id":"99946dba-dc08-47fb-8b15-c8912872aee4","pipeline_id":"b1caf993-7740-452d-bc59-910af08ff971","scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-06-26T11:23:13.817003148Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.007514083s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/99946dba-dc08-47fb-8b15-c8912872aee4
        method: GET
      response:
        body: '{"created_at":"2026-06-26T11:23:13.817003Z","id":"99946dba-dc08-47fb-8b15-c8912872aee4","pipeline_id":"b1caf993-7740-452d-bc59-910af08ff971","scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-06-26T11:23:13.817003Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.707542ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630","region":"fr-par"}],"managed_certificate":false,"backend_stage_id":"99946dba-dc08-47fb-8b15-c8912872aee4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b1caf993-7740-452d-bc59-910af08ff971/tls-stages
        method: POST
      response:
        body: '{"backend_stage_id":"99946dba-dc08-47fb-8b15-c8912872aee4","certificate_expires_at":null,"created_at":"2026-06-26T11:23:14.324731721Z","id":"eab9fceb-26f3-4c59-9f95-9b6335c1d9f1","managed_certificate":false,"pipeline_id":"b1caf993-7740-452d-bc59-910af08ff971","secrets":[{"region":"fr-par","secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630"}],"status":"inactive","updated_at":"2026-06-26T11:23:14.324731721Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.400292ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/eab9fceb-26f3-4c59-9f95-9b6335c1d9f1
        method: GET
      response:
        body: '{"backend_stage_id":"99946dba-dc08-47fb-8b15-c8912872aee4","certificate_expires_at":null,"created_at":"2026-06-26T11:23:14.324731Z","id":"eab9fceb-26f3-4c59-9f95-9b6335c1d9f1","managed_certificate":false,"pipeline_id":"b1caf993-7740-452d-bc59-910af08ff971","secrets":[{"region":"fr-par","secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630"}],"status":"inactive","updated_at":"2026-06-26T11:23:14.324731Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.429417ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"tls_stage_id":"eab9fceb-26f3-4c59-9f95-9b6335c1d9f1","wildcard_domain":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b1caf993-7740-452d-bc59-910af08ff971/dns-stages
        method: POST
      response:
        body: '{"created_at":"2026-06-26T11:23:15.165505723Z","default_fqdn":"","default_private_fqdn":"","fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"full_private":false,"id":"2cf24a47-7032-487f-a6df-1f82e841ab71","pipeline_id":"b1caf993-7740-452d-bc59-910af08ff971","status":"inactive","tls_stage_id":"eab9fceb-26f3-4c59-9f95-9b6335c1d9f1","type":"managed","updated_at":"2026-06-26T11:23:15.165505723Z","wildcard_domain":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 675.42575ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/2cf24a47-7032-487f-a6df-1f82e841ab71
        method: GET
      response:
        body: '{"created_at":"2026-06-26T11:23:15.165505Z","default_fqdn":"","default_private_fqdn":"","fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"full_private":false,"id":"2cf24a47-7032-487f-a6df-1f82e841ab71","pipeline_id":"b1caf993-7740-452d-bc59-910af08ff971","status":"inactive","tls_stage_id":"eab9fceb-26f3-4c59-9f95-9b6335c1d9f1","type":"managed","updated_at":"2026-06-26T11:23:15.165505Z","wildcard_domain":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.113083ms
[...]
