---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-01-14T21:02:15.562142694Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"6e05785e-437f-41c0-85ea-192696cf9583","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-01-14T21:02:15.562142694Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 783.371583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/6e05785e-437f-41c0-85ea-192696cf9583
        method: GET
      response:
        body: '{"created_at":"2026-01-14T21:02:15.562142Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"6e05785e-437f-41c0-85ea-192696cf9583","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-01-14T21:02:15.562142Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.078833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"secrets":[],"managed_certificate":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/6e05785e-437f-41c0-85ea-192696cf9583/tls-stages
        method: POST
      response:
        body: '{"certificate_expires_at":null,"created_at":"2026-01-14T21:02:16.248799121Z","id":"02d7fd6e-8ade-4723-8d20-7fc6a016bed3","managed_certificate":true,"pipeline_id":"6e05785e-437f-41c0-85ea-192696cf9583","secrets":[],"updated_at":"2026-01-14T21:02:16.248799121Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.922167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/02d7fd6e-8ade-4723-8d20-7fc6a016bed3
        method: GET
      response:
        body: '{"certificate_expires_at":null,"created_at":"2026-01-14T21:02:16.248799Z","id":"02d7fd6e-8ade-4723-8d20-7fc6a016bed3","managed_certificate":true,"pipeline_id":"6e05785e-437f-41c0-85ea-192696cf9583","secrets":[],"updated_at":"2026-01-14T21:02:16.248799Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.690709ms
[...]
