---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.252625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:29.341958885Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:30:29.341958885Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.921625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/bc1f9c35-2656-45fd-8e0a-a1b39acb35fa
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:29.341958Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:30:29.341958Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.83375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/bc1f9c35-2656-45fd-8e0a-a1b39acb35fa/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:29.468864544Z","id":"7782e63c-98a7-4cec-acbc-07d3afdfa3db","mode":"enable","paranoia_level":3,"pipeline_id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","updated_at":"2026-03-26T15:30:29.468864544Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.79225ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/7782e63c-98a7-4cec-acbc-07d3afdfa3db
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:29.468864Z","id":"7782e63c-98a7-4cec-acbc-07d3afdfa3db","mode":"enable","paranoia_level":3,"pipeline_id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","updated_at":"2026-03-26T15:30:29.468864Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.297625ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ec5e6e1b-48ac-4a34-9c63-52e5c5f30020
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153028Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-basic-route
            X-Amz-Request-Id:
                - txg1bf051085eaa4c5194f7-0069c55115
        status: 200 OK
        code: 200
        duration: 4.513219292s
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 32c3e8b9-0d6c-4e1f-8496-60cc5567e796
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260326T153033Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg29f4a6b2c94c453f8ad8-0069c55119
        status: 200 OK
        code: 200
        duration: 220.376084ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bdfb3698-90b6-40c1-8edb-dae6f56feb81
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153033Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg298fe26fb2d445d6bf90-0069c55119
        status: 200 OK
        code: 200
        duration: 216.102958ms
[...]
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a39b7598-5809-4076-a984-f9ff45419dc8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153034Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg9e888a1220b34fb4ae95-0069c5511a
        status: 200 OK
        code: 200
        duration: 209.718667ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fc3a518c-54f1-4ce9-a2c7-0de48249fd41
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153034Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg1a2b196c7e6f4b378d4c-0069c5511a</RequestId><HostId>txg1a2b196c7e6f4b378d4c-0069c5511a</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1a2b196c7e6f4b378d4c-0069c5511a
        status: 404 Not Found
        code: 404
        duration: 29.78225ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 13065d87-f498-452b-ae8a-564618f4a41a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153034Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-basic-route</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg08a895974ce54501a852-0069c5511a
        status: 200 OK
        code: 200
        duration: 244.541625ms
[...]
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9ccc28a1-d050-46df-83b9-f149658bda3b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153034Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg6e9c27f4eb284597aab6-0069c5511a</RequestId><HostId>txg6e9c27f4eb284597aab6-0069c5511a</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6e9c27f4eb284597aab6-0069c5511a
        status: 404 Not Found
        code: 404
        duration: 16.048875ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6b01fed4-5a56-4a9f-9c95-2dea64a239e5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153034Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf8bc0bbcbf9a4a9c8cc0-0069c5511a
        status: 200 OK
        code: 200
        duration: 960.075ms
    - id: 15
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bf826283-b2cf-4ca6-bddf-7f064f039952
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260326T153035Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg20cce5a145b04fe0b161-0069c5511b</RequestId><HostId>txg20cce5a145b04fe0b161-0069c5511b</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource><BucketName>test-acc-scaleway-object-bucket-basic-route</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg20cce5a145b04fe0b161-0069c5511b
        status: 404 Not Found
        code: 404
        duration: 54.316875ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/bc1f9c35-2656-45fd-8e0a-a1b39acb35fa/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:36.566195619Z","id":"3acebfe6-2b64-48e3-aad7-8d2301a4c631","pipeline_id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:30:36.566195619Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 856.495959ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/3acebfe6-2b64-48e3-aad7-8d2301a4c631
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:36.566195Z","id":"3acebfe6-2b64-48e3-aad7-8d2301a4c631","pipeline_id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-26T15:30:36.566195Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.753125ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"7782e63c-98a7-4cec-acbc-07d3afdfa3db"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/bc1f9c35-2656-45fd-8e0a-a1b39acb35fa/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:30:36.716825327Z","id":"09b57564-d490-4f26-a201-15823aa24517","pipeline_id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","updated_at":"2026-03-26T15:30:36.716825327Z","waf_stage_id":"7782e63c-98a7-4cec-acbc-07d3afdfa3db"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.347542ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"},"host_filter":null},"backend_stage_id":"3acebfe6-2b64-48e3-aad7-8d2301a4c631"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/09b57564-d490-4f26-a201-15823aa24517/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"3acebfe6-2b64-48e3-aad7-8d2301a4c631","position":1,"route_stage_id":"09b57564-d490-4f26-a201-15823aa24517","rule_http_match":{"host_filter":null,"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.397083ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/09b57564-d490-4f26-a201-15823aa24517
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:30:36.716825Z","id":"09b57564-d490-4f26-a201-15823aa24517","pipeline_id":"bc1f9c35-2656-45fd-8e0a-a1b39acb35fa","updated_at":"2026-03-26T15:30:36.867693Z","waf_stage_id":"7782e63c-98a7-4cec-acbc-07d3afdfa3db"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.666583ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/09b57564-d490-4f26-a201-15823aa24517/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"3acebfe6-2b64-48e3-aad7-8d2301a4c631","position":1,"route_stage_id":"09b57564-d490-4f26-a201-15823aa24517","rule_http_match":{"host_filter":null,"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.070375ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.409083ms
[...]
