---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_edge_services_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"d01436b8-5f2a-4d83-85ea-29b21db1164d\",\"name\":\"tf_tests_edge_services_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:34.349498Z\",\"updated_at\":\"2025-08-26T16:25:34.349498Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.812038947s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/d01436b8-5f2a-4d83-85ea-29b21db1164d
    method: GET
  response:
    body: "{\"id\":\"d01436b8-5f2a-4d83-85ea-29b21db1164d\",\"name\":\"tf_tests_edge_services_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:34.349498Z\",\"updated_at\":\"2025-08-26T16:25:34.349498Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 331.753223ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d01436b8-5f2a-4d83-85ea-29b21db1164d\",\"plan_name\":\"starter\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/current-plan
    method: PATCH
  response:
    body: "{\"plan_name\":\"starter\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 234.06129ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/current-plan/d01436b8-5f2a-4d83-85ea-29b21db1164d
    method: GET
  response:
    body: "{\"plan_name\":\"starter\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.340624ms
[...]
