---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_pipeline-host-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:49:35.985519Z","description":"","id":"fe1a789c-f8a8-43f2-9d9e-864c9fcb2906","name":"tf_tests_edge_services_project_pipeline-host-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-04-03T13:49:35.985519Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.647417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fe1a789c-f8a8-43f2-9d9e-864c9fcb2906
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:49:35.985519Z","description":"","id":"fe1a789c-f8a8-43f2-9d9e-864c9fcb2906","name":"tf_tests_edge_services_project_pipeline-host-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-03T13:49:35.985519Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.00975ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fe1a789c-f8a8-43f2-9d9e-864c9fcb2906","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.928041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fe1a789c-f8a8-43f2-9d9e-864c9fcb2906","name":"my-edge-services-pipeline-host-filter","description":"pipeline for host filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:49:36.466125216Z","description":"pipeline for host filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","name":"my-edge-services-pipeline-host-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"fe1a789c-f8a8-43f2-9d9e-864c9fcb2906","status":"warning","updated_at":"2026-04-03T13:49:36.466125216Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.617792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:49:36.466125Z","description":"pipeline for host filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","name":"my-edge-services-pipeline-host-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"fe1a789c-f8a8-43f2-9d9e-864c9fcb2906","status":"warning","updated_at":"2026-04-03T13:49:36.466125Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.938958ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:49:36.698707512Z","id":"62e0f388-a8fa-4c16-accf-ef731b9eed2c","mode":"enable","paranoia_level":2,"pipeline_id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","updated_at":"2026-04-03T13:49:36.698707512Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.574958ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/62e0f388-a8fa-4c16-accf-ef731b9eed2c
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:49:36.698707Z","id":"62e0f388-a8fa-4c16-accf-ef731b9eed2c","mode":"enable","paranoia_level":2,"pipeline_id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","updated_at":"2026-04-03T13:49:36.698707Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.026625ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5ae05d56-1c26-464b-9a42-504424ca4558
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134936Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-host-filter-route
            X-Amz-Request-Id:
                - txg8ba516e02f2f4487bf7f-0069cfc570
        status: 200 OK
        code: 200
        duration: 7.833157667s
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 779e61c3-6081-46a7-a205-1fa8436f49d9
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260403T134944Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg3fba556995124b45bf9c-0069cfc578
        status: 200 OK
        code: 200
        duration: 533.01125ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6c189f33-861c-462d-8f87-f906e86c961f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134944Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txge12643a86fe448a1906e-0069cfc578
        status: 200 OK
        code: 200
        duration: 233.17325ms
[...]
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9fd04851-bd86-4ad0-abe7-0a8c49e1db62
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134944Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>fe1a789c-f8a8-43f2-9d9e-864c9fcb2906:fe1a789c-f8a8-43f2-9d9e-864c9fcb2906</DisplayName><ID>fe1a789c-f8a8-43f2-9d9e-864c9fcb2906:fe1a789c-f8a8-43f2-9d9e-864c9fcb2906</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>fe1a789c-f8a8-43f2-9d9e-864c9fcb2906:fe1a789c-f8a8-43f2-9d9e-864c9fcb2906</ID><DisplayName>fe1a789c-f8a8-43f2-9d9e-864c9fcb2906:fe1a789c-f8a8-43f2-9d9e-864c9fcb2906</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd32d2b5361e243919c93-0069cfc578
        status: 200 OK
        code: 200
        duration: 55.150042ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 25c12917-5580-4583-8b33-89628aecd1f6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134945Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6e2e1294d8834b988b89-0069cfc579</RequestId><HostId>txg6e2e1294d8834b988b89-0069cfc579</HostId><Resource>/test-acc-scaleway-object-bucket-host-filter-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6e2e1294d8834b988b89-0069cfc579
        status: 404 Not Found
        code: 404
        duration: 66.985625ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d879841b-9594-4997-9539-b7a8a0ca7fef
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134945Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-host-filter-route</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg52d02fbfca21466584b8-0069cfc579
        status: 200 OK
        code: 200
        duration: 136.250083ms
[...]
    - id: 15
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e3f2948a-a7a3-4218-b722-9cca476e0bae
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134945Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg0dd4e8029326485fbd55-0069cfc579</RequestId><HostId>txg0dd4e8029326485fbd55-0069cfc579</HostId><Resource>/test-acc-scaleway-object-bucket-host-filter-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0dd4e8029326485fbd55-0069cfc579
        status: 404 Not Found
        code: 404
        duration: 11.731209ms
    - id: 16
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 12a50ce7-99cf-4f48-a2c6-ef5ff3fe6f56
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134945Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf34f8be991324e29abdd-0069cfc579
        status: 200 OK
        code: 200
        duration: 221.352916ms
    - id: 17
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 211e5f61-cfd8-438d-8c6d-f06f1fb8e097
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T134945Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg273c3ac8041f45f7baf8-0069cfc579</RequestId><HostId>txg273c3ac8041f45f7baf8-0069cfc579</HostId><Resource>/test-acc-scaleway-object-bucket-host-filter-route</Resource><BucketName>test-acc-scaleway-object-bucket-host-filter-route</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg273c3ac8041f45f7baf8-0069cfc579
        status: 404 Not Found
        code: 404
        duration: 178.081333ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-host-filter-route","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:49:46.499066666Z","id":"09b05bab-5a4b-4d03-bccb-ca52fc694d6c","pipeline_id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-host-filter-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-04-03T13:49:46.499066666Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 860.12075ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/09b05bab-5a4b-4d03-bccb-ca52fc694d6c
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:49:46.499066Z","id":"09b05bab-5a4b-4d03-bccb-ca52fc694d6c","pipeline_id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-host-filter-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-04-03T13:49:46.499066Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.482167ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"62e0f388-a8fa-4c16-accf-ef731b9eed2c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:49:46.671218477Z","id":"1274ec14-9409-4d43-be4d-2f3dc2d2e558","pipeline_id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","updated_at":"2026-04-03T13:49:46.671218477Z","waf_stage_id":"62e0f388-a8fa-4c16-accf-ef731b9eed2c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.858625ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"},"host_filter":{"host_filter_type":"regex","value":"api\\.example\\.com"}},"backend_stage_id":"09b05bab-5a4b-4d03-bccb-ca52fc694d6c"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/1274ec14-9409-4d43-be4d-2f3dc2d2e558/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"09b05bab-5a4b-4d03-bccb-ca52fc694d6c","position":1,"route_stage_id":"1274ec14-9409-4d43-be4d-2f3dc2d2e558","rule_http_match":{"host_filter":{"host_filter_type":"regex","value":"api\\.example\\.com"},"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.474458ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/1274ec14-9409-4d43-be4d-2f3dc2d2e558
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:49:46.671218Z","id":"1274ec14-9409-4d43-be4d-2f3dc2d2e558","pipeline_id":"3cb3a3ca-5ac5-433b-a9d6-30df2c9155e8","updated_at":"2026-04-03T13:49:46.809030Z","waf_stage_id":"62e0f388-a8fa-4c16-accf-ef731b9eed2c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.139875ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/1274ec14-9409-4d43-be4d-2f3dc2d2e558/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"09b05bab-5a4b-4d03-bccb-ca52fc694d6c","position":1,"route_stage_id":"1274ec14-9409-4d43-be4d-2f3dc2d2e558","rule_http_match":{"host_filter":{"host_filter_type":"regex","value":"api\\.example\\.com"},"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.991708ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/fe1a789c-f8a8-43f2-9d9e-864c9fcb2906
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.467083ms
[...]
