---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","fqdns":["subodomain.example.fr"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1alpha1/dns-stages
        method: POST
      response:
        body: '{"created_at":"2024-06-27T14:47:06.829896869Z","fqdns":["subodomain.example.fr"],"id":"f8e65c05-992b-4cd7-a2b1-ac3c0456063e","pipeline_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"custom","updated_at":"2024-06-27T14:47:06.829896869Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 440.302352ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/dns-stages/f8e65c05-992b-4cd7-a2b1-ac3c0456063e
        method: GET
      response:
        body: '{"created_at":"2024-06-27T14:47:06.829896Z","fqdns":["subodomain.example.fr"],"id":"f8e65c05-992b-4cd7-a2b1-ac3c0456063e","pipeline_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"custom","updated_at":"2024-06-27T14:47:06.829896Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.590582ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/dns-stages/f8e65c05-992b-4cd7-a2b1-ac3c0456063e
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 81.271014ms
