---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-05-20T09:27:49.689070566Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0152d214-c055-402f-87c1-b987b22b1de0","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-05-20T09:27:49.689070566Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.923083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0152d214-c055-402f-87c1-b987b22b1de0
        method: GET
      response:
        body: '{"created_at":"2026-05-20T09:27:49.689070Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0152d214-c055-402f-87c1-b987b22b1de0","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-05-20T09:27:49.689070Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.284542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-tests-es-backend-container","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-20T09:27:50.214995Z","description":"","environment_variables":{},"id":"6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2","name":"tf-tests-es-backend-container","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","secret_environment_variables":{},"status":"creating","tags":[],"updated_at":"2026-05-20T09:27:50.214995Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.436074542s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2
        method: GET
      response:
        body: '{"created_at":"2026-05-20T09:27:50.214995Z","description":"","environment_variables":{},"id":"6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2","name":"tf-tests-es-backend-container","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","secret_environment_variables":{},"status":"creating","tags":[],"updated_at":"2026-05-20T09:27:50.214995Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.54375ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2","name":"tf-tests-es-backend-container","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"created_at":"2026-05-20T09:27:56.036889Z","description":"","environment_variables":{},"https_connections_only":false,"id":"382aca9a-e7e0-4f81-8f93-da771232ca3e","image":"nginx:1.29.4-alpine","liveness_probe":{"failure_threshold":30,"interval":"10s","tcp":{},"timeout":"1s"},"local_storage_limit_bytes":1000000000,"max_scale":5,"memory_limit_bytes":2048000000,"min_scale":0,"mvcpu_limit":1000,"name":"tf-tests-es-backend-container","namespace_id":"6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2","port":80,"privacy":"public","protocol":"http1","public_endpoint":"https://tftestsesbackendcont6a3f7a41-tf-tests-es-backend-container.functions.fnc.fr-par.scw.cloud","region":"fr-par","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":{},"startup_probe":null,"status":"creating","tags":[],"timeout":"300s","updated_at":"2026-05-20T09:27:56.036889Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.303791ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/382aca9a-e7e0-4f81-8f93-da771232ca3e
        method: GET
      response:
        body: '{"args":[],"command":[],"created_at":"2026-05-20T09:27:56.036889Z","description":"","environment_variables":{},"https_connections_only":false,"id":"382aca9a-e7e0-4f81-8f93-da771232ca3e","image":"nginx:1.29.4-alpine","liveness_probe":{"failure_threshold":30,"interval":"10s","tcp":{},"timeout":"1s"},"local_storage_limit_bytes":1000000000,"max_scale":5,"memory_limit_bytes":2048000000,"min_scale":0,"mvcpu_limit":1000,"name":"tf-tests-es-backend-container","namespace_id":"6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2","port":80,"privacy":"public","protocol":"http1","public_endpoint":"https://tftestsesbackendcont6a3f7a41-tf-tests-es-backend-container.functions.fnc.fr-par.scw.cloud","region":"fr-par","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":{},"startup_probe":null,"status":"creating","tags":[],"timeout":"300s","updated_at":"2026-05-20T09:27:56.036889Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.589792ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/382aca9a-e7e0-4f81-8f93-da771232ca3e
        method: GET
      response:
        body: '{"args":[],"command":[],"created_at":"2026-05-20T09:27:56.036889Z","description":"","environment_variables":{},"error_message":"","https_connections_only":false,"id":"382aca9a-e7e0-4f81-8f93-da771232ca3e","image":"nginx:1.29.4-alpine","liveness_probe":{"failure_threshold":30,"interval":"10s","tcp":{},"timeout":"1s"},"local_storage_limit_bytes":1000000000,"max_scale":5,"memory_limit_bytes":2048000000,"min_scale":0,"mvcpu_limit":1000,"name":"tf-tests-es-backend-container","namespace_id":"6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2","port":80,"privacy":"public","protocol":"http1","public_endpoint":"https://tftestsesbackendcont6a3f7a41-tf-tests-es-backend-container.functions.fnc.fr-par.scw.cloud","region":"fr-par","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":{},"startup_probe":null,"status":"ready","tags":[],"timeout":"300s","updated_at":"2026-05-20T09:28:06Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.636875ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"scaleway_serverless_container":{"region":"fr-par","container_id":"382aca9a-e7e0-4f81-8f93-da771232ca3e"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0152d214-c055-402f-87c1-b987b22b1de0/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-05-20T09:28:11.787682176Z","id":"a3947717-6d22-480c-8a01-77340ee8f1c2","pipeline_id":"0152d214-c055-402f-87c1-b987b22b1de0","scaleway_serverless_container":{"container_id":"382aca9a-e7e0-4f81-8f93-da771232ca3e","region":"fr-par"},"status":"inactive","updated_at":"2026-05-20T09:28:11.787682176Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.373792ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/a3947717-6d22-480c-8a01-77340ee8f1c2
        method: GET
      response:
        body: '{"created_at":"2026-05-20T09:28:11.787682Z","id":"a3947717-6d22-480c-8a01-77340ee8f1c2","pipeline_id":"0152d214-c055-402f-87c1-b987b22b1de0","scaleway_serverless_container":{"container_id":"382aca9a-e7e0-4f81-8f93-da771232ca3e","region":"fr-par"},"status":"inactive","updated_at":"2026-05-20T09:28:11.787682Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.918458ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"6a3f7a41-b1bf-49fe-8d6b-f6691c06f1a2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.149333ms
[...]
