---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-pipeline-name","description":"a description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1alpha1/pipelines
        method: POST
      response:
        body: '{"created_at":"2024-06-27T14:09:41.932144710Z","description":"a description","errors":[],"id":"18b8ff40-f82d-406b-aec6-93208d880c24","name":"tf-tests-pipeline-name","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","updated_at":"2024-06-27T14:09:41.932144710Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.485969ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/pipelines/18b8ff40-f82d-406b-aec6-93208d880c24
        method: GET
      response:
        body: '{"created_at":"2024-06-27T14:09:41.932144Z","description":"a description","errors":[],"id":"18b8ff40-f82d-406b-aec6-93208d880c24","name":"tf-tests-pipeline-name","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","updated_at":"2024-06-27T14:09:41.932144Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.400765ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/pipelines/18b8ff40-f82d-406b-aec6-93208d880c24
        method: DELETE
      response:
        body: '{"message":"PipelineVersion not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 99.900827ms
