---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.398875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline-host-filter","description":"pipeline for host filter test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:22:22.688042553Z","description":"pipeline for host filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","name":"my-edge-services-pipeline-host-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-04-03T13:22:22.688042553Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.630209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a3d72477-1e4b-4381-8770-0f3ece86c8ba
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:22:22.688042Z","description":"pipeline for host filter test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","name":"my-edge-services-pipeline-host-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-04-03T13:22:22.688042Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.47225ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a3d72477-1e4b-4381-8770-0f3ece86c8ba/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:22:22.874658347Z","id":"cbe5ef2f-59e7-4fe9-af5a-81e6d7200024","mode":"enable","paranoia_level":2,"pipeline_id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","updated_at":"2026-04-03T13:22:22.874658347Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.739666ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/cbe5ef2f-59e7-4fe9-af5a-81e6d7200024
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:22:22.874658Z","id":"cbe5ef2f-59e7-4fe9-af5a-81e6d7200024","mode":"enable","paranoia_level":2,"pipeline_id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","updated_at":"2026-04-03T13:22:22.874658Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.885292ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 308c4ef1-2c76-4933-9fc0-a3e055f9f63d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132222Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-host-filter-route
            X-Amz-Request-Id:
                - txg890107f2a8784c1290c8-0069cfbf0e
        status: 200 OK
        code: 200
        duration: 4.338274917s
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1d16b679-3450-432e-a88a-6e9178ce645a
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260403T132226Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg1432902ebb1b49308551-0069cfbf12
        status: 200 OK
        code: 200
        duration: 243.788792ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 14af89c0-d5cc-4159-a6d9-9e651712ecd6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132226Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg86eb14a1f8484ea59cbd-0069cfbf12
        status: 200 OK
        code: 200
        duration: 222.917209ms
[...]
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c7b775f9-b49c-4907-b626-2591552989f1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132227Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg779720b5a64742b9b8ab-0069cfbf13
        status: 200 OK
        code: 200
        duration: 52.722459ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f88023aa-a1bd-46a8-9fbf-e15c634a9534
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132227Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg1fbe252b6d174f9191ed-0069cfbf13</RequestId><HostId>txg1fbe252b6d174f9191ed-0069cfbf13</HostId><Resource>/test-acc-scaleway-object-bucket-host-filter-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1fbe252b6d174f9191ed-0069cfbf13
        status: 404 Not Found
        code: 404
        duration: 119.737167ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0049adf0-e8df-4071-bc97-7af0237bc4e7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132227Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-host-filter-route</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg76665c86c95a42a58061-0069cfbf13
        status: 200 OK
        code: 200
        duration: 225.266042ms
[...]
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4d11506e-d9e9-4b0e-a283-dab96bb58711
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132227Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg65990610f8a048cbb293-0069cfbf13</RequestId><HostId>txg65990610f8a048cbb293-0069cfbf13</HostId><Resource>/test-acc-scaleway-object-bucket-host-filter-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg65990610f8a048cbb293-0069cfbf13
        status: 404 Not Found
        code: 404
        duration: 19.509958ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 907d3c79-a59e-4449-9569-b30a413e1930
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132227Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg42b446d369134d9fafdf-0069cfbf13
        status: 200 OK
        code: 200
        duration: 14.624458ms
    - id: 15
      request:
        host: test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 30af5c72-60f5-4f6e-9599-40dd49b99a2d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260403T132227Z
        url: https://test-acc-scaleway-object-bucket-host-filter-route.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgbf710ea91b1b42e4bafa-0069cfbf13</RequestId><HostId>txgbf710ea91b1b42e4bafa-0069cfbf13</HostId><Resource>/test-acc-scaleway-object-bucket-host-filter-route</Resource><BucketName>test-acc-scaleway-object-bucket-host-filter-route</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbf710ea91b1b42e4bafa-0069cfbf13
        status: 404 Not Found
        code: 404
        duration: 122.34775ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-host-filter-route","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a3d72477-1e4b-4381-8770-0f3ece86c8ba/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:22:28.222662797Z","id":"61e8f94d-bd3b-4125-a73a-13b4669dd2ff","pipeline_id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-host-filter-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-04-03T13:22:28.222662797Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.540583ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/61e8f94d-bd3b-4125-a73a-13b4669dd2ff
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:22:28.222662Z","id":"61e8f94d-bd3b-4125-a73a-13b4669dd2ff","pipeline_id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-host-filter-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-04-03T13:22:28.222662Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.794791ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"cbe5ef2f-59e7-4fe9-af5a-81e6d7200024"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a3d72477-1e4b-4381-8770-0f3ece86c8ba/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-04-03T13:22:28.398834945Z","id":"c1fbef74-e0a5-4405-a08f-af87d78d544b","pipeline_id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","updated_at":"2026-04-03T13:22:28.398834945Z","waf_stage_id":"cbe5ef2f-59e7-4fe9-af5a-81e6d7200024"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.180291ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"},"host_filter":{"host_filter_type":"regex","value":"api\\.example\\.com"}},"backend_stage_id":"61e8f94d-bd3b-4125-a73a-13b4669dd2ff"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/c1fbef74-e0a5-4405-a08f-af87d78d544b/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"61e8f94d-bd3b-4125-a73a-13b4669dd2ff","position":1,"route_stage_id":"c1fbef74-e0a5-4405-a08f-af87d78d544b","rule_http_match":{"host_filter":{"host_filter_type":"regex","value":"api\\.example\\.com"},"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.46625ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/c1fbef74-e0a5-4405-a08f-af87d78d544b
        method: GET
      response:
        body: '{"created_at":"2026-04-03T13:22:28.398834Z","id":"c1fbef74-e0a5-4405-a08f-af87d78d544b","pipeline_id":"a3d72477-1e4b-4381-8770-0f3ece86c8ba","updated_at":"2026-04-03T13:22:28.612476Z","waf_stage_id":"cbe5ef2f-59e7-4fe9-af5a-81e6d7200024"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.321042ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/c1fbef74-e0a5-4405-a08f-af87d78d544b/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"61e8f94d-bd3b-4125-a73a-13b4669dd2ff","position":1,"route_stage_id":"c1fbef74-e0a5-4405-a08f-af87d78d544b","rule_http_match":{"host_filter":{"host_filter_type":"regex","value":"api\\.example\\.com"},"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.829833ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.207166ms
[...]
