---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines
    method: POST
  response:
    body: "{\"id\":\"b7aa3022-00ee-42ba-8a83-d22658d3a533\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.330507678Z\",\"updated_at\":\"2025-08-26T16:25:34.330507678Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.972390006s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b7aa3022-00ee-42ba-8a83-d22658d3a533
    method: GET
  response:
    body: "{\"id\":\"b7aa3022-00ee-42ba-8a83-d22658d3a533\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.330507Z\",\"updated_at\":\"2025-08-26T16:25:34.330507Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 217.988022ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"fallback_ttl\":\"3600.000000000s\",\"include_cookies\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b7aa3022-00ee-42ba-8a83-d22658d3a533/cache-stages
    method: POST
  response:
    body: "{\"id\":\"201d49bd-9bf2-4b56-a5d3-b1b6d4efadbe\",\"pipeline_id\":\"b7aa3022-00ee-42ba-8a83-d22658d3a533\",\"fallback_ttl\":\"3600s\",\"created_at\":\"2025-08-26T16:25:34.756684607Z\",\"updated_at\":\"2025-08-26T16:25:34.756684607Z\",\"include_cookies\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.052866ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/201d49bd-9bf2-4b56-a5d3-b1b6d4efadbe
    method: GET
  response:
    body: "{\"id\":\"201d49bd-9bf2-4b56-a5d3-b1b6d4efadbe\",\"pipeline_id\":\"b7aa3022-00ee-42ba-8a83-d22658d3a533\",\"fallback_ttl\":\"3600s\",\"created_at\":\"2025-08-26T16:25:34.756684Z\",\"updated_at\":\"2025-08-26T16:25:34.756684Z\",\"include_cookies\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 265.475939ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/201d49bd-9bf2-4b56-a5d3-b1b6d4efadbe
    method: DELETE
  response:
    body: "{\"message\":\"Permission denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 98.908295ms
