---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=tf-tests-edge-dns-wildcard-cert&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2026-06-26T09:32:44.780706Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"d023fa93-eb36-44b5-91b8-13b998e2e630","key_id":null,"managed":false,"name":"tf-tests-edge-dns-wildcard-cert","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"certificate","updated_at":"2026-06-26T09:32:44.780706Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.971292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d023fa93-eb36-44b5-91b8-13b998e2e630
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:32:44.780706Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"d023fa93-eb36-44b5-91b8-13b998e2e630","key_id":null,"managed":false,"name":"tf-tests-edge-dns-wildcard-cert","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"certificate","updated_at":"2026-06-26T09:32:44.780706Z","used_by":[],"version_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.262ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d023fa93-eb36-44b5-91b8-13b998e2e630/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"created_at":"2026-06-26T09:32:45.202219Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630","status":"enabled","updated_at":"2026-06-26T09:32:45.202219Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.818291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","plan_name":"professional"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"professional"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.755583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-edge-dns-wildcard","description":"pipeline for wildcard DNS test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-06-26T09:32:58.953532796Z","description":"pipeline for wildcard DNS test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","name":"tf-tests-edge-dns-wildcard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"warning","updated_at":"2026-06-26T09:32:58.953532796Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.292334ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b8a98ee1-69bc-4968-a82d-dc2a84401269
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:32:58.953532Z","description":"pipeline for wildcard DNS test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","name":"tf-tests-edge-dns-wildcard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"warning","updated_at":"2026-06-26T09:32:58.953532Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.252417ms
    - id: 6
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 83e4f14f-2f8f-4eac-a336-a18aef71cb8e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093258Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-edge-dns-wildcard
            X-Amz-Request-Id:
                - txge4e29087a53a47149c31-006a3e474a
        status: 200 OK
        code: 200
        duration: 5.02382425s
    - id: 7
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 32ab4b7b-c78f-4243-9a8e-c888bc9003fb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093303Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg8ce7c0bf430c4cc08939-006a3e474f
        status: 200 OK
        code: 200
        duration: 268.905042ms
    - id: 8
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 28eab4fc-4627-41e3-8494-efb058530421
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093303Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8d2b530d95b9435db32e-006a3e474f
        status: 200 OK
        code: 200
        duration: 273.323167ms
    - id: 9
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fdaacb05-2ec1-469c-b5f1-6eaf699fac8e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093303Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txge807ebf1fe5848a5b95e-006a3e4750</RequestId><HostId>txge807ebf1fe5848a5b95e-006a3e4750</HostId><Resource>/test-acc-edge-dns-wildcard</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge807ebf1fe5848a5b95e-006a3e4750
        status: 404 Not Found
        code: 404
        duration: 153.542708ms
    - id: 10
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5cb5b4d9-f33e-4b47-b615-15c4949ffc8d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093304Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-edge-dns-wildcard</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgebbeba3c13054e00b6e3-006a3e4750
        status: 200 OK
        code: 200
        duration: 146.1025ms
    - id: 11
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4b5b0204-e4c2-4cdd-b75f-9e352dfbc3f8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093304Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg7fc3a99eaafc4276ae97-006a3e4750</RequestId><HostId>txg7fc3a99eaafc4276ae97-006a3e4750</HostId><Resource>/test-acc-edge-dns-wildcard</Resource><BucketName>test-acc-edge-dns-wildcard</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7fc3a99eaafc4276ae97-006a3e4750
        status: 404 Not Found
        code: 404
        duration: 91.468958ms
    - id: 12
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0c77e8a8-ef1d-491b-bb12-eb1ba6987cee
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093304Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg007330eeb7cc498f8b4d-006a3e4750</RequestId><HostId>txg007330eeb7cc498f8b4d-006a3e4750</HostId><Resource>/test-acc-edge-dns-wildcard</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg007330eeb7cc498f8b4d-006a3e4750
        status: 404 Not Found
        code: 404
        duration: 78.87275ms
    - id: 13
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7b7696f3-0499-44d7-b3ea-e2a26a2412d6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093304Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0f498705de0c49a9b037-006a3e4750
        status: 200 OK
        code: 200
        duration: 51.586625ms
    - id: 14
      request:
        host: test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 488b8936-7744-4b66-b9b2-46826c4e7755
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260626T093304Z
        url: https://test-acc-edge-dns-wildcard.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg64b53b6429784d72a6d4-006a3e4750</RequestId><HostId>txg64b53b6429784d72a6d4-006a3e4750</HostId><Resource>/test-acc-edge-dns-wildcard</Resource><BucketName>test-acc-edge-dns-wildcard</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg64b53b6429784d72a6d4-006a3e4750
        status: 404 Not Found
        code: 404
        duration: 714.634542ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b8a98ee1-69bc-4968-a82d-dc2a84401269/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-06-26T09:33:06.614190096Z","id":"e9cf9bcd-19a7-4fc8-84b7-9ba96dd8afba","pipeline_id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-06-26T09:33:06.614190096Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.198630375s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/e9cf9bcd-19a7-4fc8-84b7-9ba96dd8afba
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:33:06.614190Z","id":"e9cf9bcd-19a7-4fc8-84b7-9ba96dd8afba","pipeline_id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","scaleway_s3":{"bucket_name":"test-acc-edge-dns-wildcard","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-06-26T09:33:06.614190Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.871459ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630","region":"fr-par"}],"managed_certificate":false,"backend_stage_id":"e9cf9bcd-19a7-4fc8-84b7-9ba96dd8afba"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b8a98ee1-69bc-4968-a82d-dc2a84401269/tls-stages
        method: POST
      response:
        body: '{"backend_stage_id":"e9cf9bcd-19a7-4fc8-84b7-9ba96dd8afba","certificate_expires_at":null,"created_at":"2026-06-26T09:33:07.217844379Z","id":"3c34693b-4c41-4b39-ae13-e8deadfbdf51","managed_certificate":false,"pipeline_id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","secrets":[{"region":"fr-par","secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630"}],"status":"inactive","updated_at":"2026-06-26T09:33:07.217844379Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.843084ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/3c34693b-4c41-4b39-ae13-e8deadfbdf51
        method: GET
      response:
        body: '{"backend_stage_id":"e9cf9bcd-19a7-4fc8-84b7-9ba96dd8afba","certificate_expires_at":null,"created_at":"2026-06-26T09:33:07.217844Z","id":"3c34693b-4c41-4b39-ae13-e8deadfbdf51","managed_certificate":false,"pipeline_id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","secrets":[{"region":"fr-par","secret_id":"d023fa93-eb36-44b5-91b8-13b998e2e630"}],"status":"inactive","updated_at":"2026-06-26T09:33:07.217844Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.244458ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"tls_stage_id":"3c34693b-4c41-4b39-ae13-e8deadfbdf51","wildcard_domain":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/b8a98ee1-69bc-4968-a82d-dc2a84401269/dns-stages
        method: POST
      response:
        body: '{"created_at":"2026-06-26T09:33:07.910388925Z","default_fqdn":"","default_private_fqdn":"","fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"full_private":false,"id":"b5a50de3-7347-4d9f-be57-814b45575f2f","pipeline_id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","status":"inactive","tls_stage_id":"3c34693b-4c41-4b39-ae13-e8deadfbdf51","type":"managed","updated_at":"2026-06-26T09:33:07.910388925Z","wildcard_domain":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 526.033667ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/b5a50de3-7347-4d9f-be57-814b45575f2f
        method: GET
      response:
        body: '{"created_at":"2026-06-26T09:33:07.910388Z","default_fqdn":"","default_private_fqdn":"","fqdns":["edge-dns-wc.tf.scaleway-terraform.com"],"full_private":false,"id":"b5a50de3-7347-4d9f-be57-814b45575f2f","pipeline_id":"b8a98ee1-69bc-4968-a82d-dc2a84401269","status":"inactive","tls_stage_id":"3c34693b-4c41-4b39-ae13-e8deadfbdf51","type":"managed","updated_at":"2026-06-26T09:33:07.910388Z","wildcard_domain":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.219042ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"plan_name":"professional"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.276125ms
[...]
