---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-25-180.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 323.259625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a4b0735d-7a3b-43d1-8038-e90f60f945b2
        method: GET
      response:
        body: '{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-25-180.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.238792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-06-13T12:31:06.992440497Z","description":"pipeline description","errors":[],"id":"0c5a8daf-019d-4963-9037-3139b2f4ce6a","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-06-13T12:31:06.992440497Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.265792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0c5a8daf-019d-4963-9037-3139b2f4ce6a
        method: GET
      response:
        body: '{"created_at":"2025-06-13T12:31:06.992440Z","description":"pipeline description","errors":[],"id":"0c5a8daf-019d-4963-9037-3139b2f4ce6a","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-06-13T12:31:06.992440Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.765708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"lb_name","description":"","ip_id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-06-13T12:31:07.174578380Z","description":"","frontend_count":0,"id":"a885af3f-081c-451e-a003-79c351c08f9e","instances":[],"ip":[{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","lb_id":"a885af3f-081c-451e-a003-79c351c08f9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-25-180.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-13T12:31:07.174578380Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.732917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a885af3f-081c-451e-a003-79c351c08f9e
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-06-13T12:31:07.174578Z","description":"","frontend_count":0,"id":"a885af3f-081c-451e-a003-79c351c08f9e","instances":[],"ip":[{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","lb_id":"a885af3f-081c-451e-a003-79c351c08f9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-25-180.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-13T12:31:07.174578Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.468125ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a885af3f-081c-451e-a003-79c351c08f9e/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.925334ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"backend","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"http_config":{"uri":"/healthcheck","method":"GET","code":200,"host_header":""},"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":true,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a885af3f-081c-451e-a003-79c351c08f9e/backends
        method: POST
      response:
        body: '{"created_at":"2025-06-13T12:31:37.913668079Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"id":"7e73ce5c-8fc4-4413-8a3b-cc8a7b01a613","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-13T12:31:07.174578Z","description":"","frontend_count":0,"id":"a885af3f-081c-451e-a003-79c351c08f9e","instances":[{"created_at":"2025-06-13T12:18:36.295728Z","id":"f1d1f580-d83b-4737-a62e-c2368e5a611e","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-06-13T12:31:37.958074077Z","zone":"fr-par-1"}],"ip":[{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","lb_id":"a885af3f-081c-451e-a003-79c351c08f9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-25-180.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-13T12:31:11.052751Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"backend","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":true,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-06-13T12:31:37.913668079Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.055792ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/7e73ce5c-8fc4-4413-8a3b-cc8a7b01a613
        method: GET
      response:
        body: '{"created_at":"2025-06-13T12:31:37.913668Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-25-180.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a885af3f-081c-451e-a003-79c351c08f9e/certificates
        method: POST
      response:
        body: '{"common_name":"51-159-25-180.lb.fr-par.scw.cloud","created_at":"2025-06-13T12:31:38.093280615Z","fingerprint":"","id":"c1fc1913-57ce-4eb5-a311-5895a0211bab","lb":{"backend_count":1,"created_at":"2025-06-13T12:31:07.174578Z","description":"","frontend_count":0,"id":"a885af3f-081c-451e-a003-79c351c08f9e","instances":[{"created_at":"2025-06-13T12:18:36.295728Z","id":"f1d1f580-d83b-4737-a62e-c2368e5a611e","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-06-13T12:31:37.958074Z","zone":"fr-par-1"}],"ip":[{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","lb_id":"a885af3f-081c-451e-a003-79c351c08f9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-25-180.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-13T12:31:38.104766390Z","zone":"fr-par-1"},"name":"test-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2025-06-13T12:31:38.093280615Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 632.821917ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/c1fc1913-57ce-4eb5-a311-5895a0211bab
        method: GET
      response:
        body: '{"common_name":"51-159-25-180.lb.fr-par.scw.cloud","created_at":"2025-06-13T12:31:38.093281Z","fingerprint":"","id":"c1fc1913-57ce-4eb5-a311-5895a0211bab","lb":{"backend_count":1,"created_at":"2025-06-13T12:31:07.174578Z","descrip[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"7e73ce5c-8fc4-4413-8a3b-cc8a7b01a613","certificate_ids":["c1fc1913-57ce-4eb5-a311-5895a0211bab"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a885af3f-081c-451e-a003-79c351c08f9e/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-06-13T12:31:37.913668Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"id":"7e73ce5c-8fc4-4413-8a3b-cc8a7b01a613","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-1[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"7e73ce5c-8fc4-4413-8a3b-cc8a7b01a613","certificate_ids":["c1fc1913-57ce-4eb5-a311-5895a0211bab"],"enable_http3":false,"connection_rate_limit":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9c6a7007-efb8-47eb-8fbe-ec61304030a0
        method: PUT
      r[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9c6a7007-efb8-47eb-8fbe-ec61304030a0/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.347875ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"scaleway_lb":{"lbs":[{"id":"a885af3f-081c-451e-a003-79c351c08f9e","zone":"fr-par-1","frontend_id":"9c6a7007-efb8-47eb-8fbe-ec61304030a0","is_ssl":true,"domain_name":null}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0c5a8daf-019d-4963-9037-3139b2f4ce6a/backend-stages
        method: POST
      response:
        body: '{"created_at":"2025-06-13T12:32:11.266385109Z","id":"c431cbe5-0b97-40a7-b732-8a29369b2103","pipeline_id":"0c5a8daf-019d-4963-9037-3139b2f4ce6a","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"9c6a7007-efb8-47eb-8fbe-ec61304030a0","id":"a885af3f-081c-451e-a003-79c351c08f9e","is_ssl":true,"zone":"fr-par-1"}]},"updated_at":"2025-06-13T12:32:11.266385109Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 912.332125ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/c431cbe5-0b97-40a7-b732-8a29369b2103
        method: GET
      response:
        body: '{"created_at":"2025-06-13T12:32:11.266385Z","id":"c431cbe5-0b97-40a7-b732-8a29369b2103","pipeline_id":"0c5a8daf-019d-4963-9037-3139b2f4ce6a","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"9c6a7007-efb8-47eb-8fbe-ec61304030a0","id":"a885af3f-081c-451e-a003-79c351c08f9e","is_ssl":true,"zone":"fr-par-1"}]},"updated_at":"2025-06-13T12:32:11.266385Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.511333ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/c1fc1913-57ce-4eb5-a311-5895a0211bab
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.757666ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a885af3f-081c-451e-a003-79c351c08f9e?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 350.16225ms
[...]
