---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-tests-pipeline-name\",\"description\":\"a description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines
    method: POST
  response:
    body: "{\"id\":\"d47453d9-86c2-4e8b-adae-cc5419ba1d5f\",\"name\":\"tf-tests-pipeline-name\",\"description\":\"a description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.266758755Z\",\"updated_at\":\"2025-08-26T16:25:34.266758755Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.929578466s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d47453d9-86c2-4e8b-adae-cc5419ba1d5f
    method: GET
  response:
    body: "{\"id\":\"d47453d9-86c2-4e8b-adae-cc5419ba1d5f\",\"name\":\"tf-tests-pipeline-name\",\"description\":\"a description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.266758Z\",\"updated_at\":\"2025-08-26T16:25:34.266758Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 288.434717ms
[...]
