---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-02-17T12:32:23.725482Z","description":"","id":"44e6d903-d5dc-4b61-854c-5e5b961e9c11","name":"tf_tests_edge_services_project_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-02-17T12:32:23.725482Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 590.1035ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/44e6d903-d5dc-4b61-854c-5e5b961e9c11
        method: GET
      response:
        body: '{"created_at":"2026-02-17T12:32:23.725482Z","description":"","id":"44e6d903-d5dc-4b61-854c-5e5b961e9c11","name":"tf_tests_edge_services_project_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-02-17T12:32:23.725482Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.022584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"44e6d903-d5dc-4b61-854c-5e5b961e9c11","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.627125ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/44e6d903-d5dc-4b61-854c-5e5b961e9c11
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.089458ms
[...]
