---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines
    method: POST
  response:
    body: "{\"id\":\"1ed3e6f9-ea8d-4911-ae6e-0b89749994c9\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.230178557Z\",\"updated_at\":\"2025-08-26T16:25:34.230178557Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.377627781s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/1ed3e6f9-ea8d-4911-ae6e-0b89749994c9
    method: GET
  response:
    body: "{\"id\":\"1ed3e6f9-ea8d-4911-ae6e-0b89749994c9\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.230178Z\",\"updated_at\":\"2025-08-26T16:25:34.230178Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.688636ms
- id: 2
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - f12d1a23-7866-45c8-b5ea-457ab8b08db2
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162528Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /test-acc-scaleway-object-bucket-basic-es
      X-Amz-Request-Id:
      - txg1db5dda49d7941f6855d-0068addffe
    status: 200 OK
    code: 200
    duration: 6.273089009s
- id: 3
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - a16b546a-7d2f-432c-a2e1-f58fe9ae00cb
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/xml
      X-Amz-Checksum-Crc32:
      - Y9NeVA==
      X-Amz-Content-Sha256:
      - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
      X-Amz-Date:
      - 20250826T162535Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/?tagging=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg1263affb350d45fd9660-0068addfff
    status: 200 OK
    code: 200
    duration: 261.52045ms
- id: 4
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - d4bc22c6-901d-4328-adbb-3045c3b3c18a
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162535Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg17971041db1a4b1287d6-0068addfff
    status: 200 OK
    code: 200
    duration: 303.577411ms
[...]
- id: 6
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 91f6cfde-d206-420f-b16f-c7911926ca34
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162536Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</DisplayName><ID>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</ID><DisplayName>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg3535632e322c4a05bf75-0068ade000
    status: 200 OK
    code: 200
    duration: 136.225536ms
- id: 7
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 458ce671-7b02-423f-a5c0-1fef0aa489dc
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162536Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg5b1ba02a8c4a4d468be2-0068ade000</RequestId><HostId>txg5b1ba02a8c4a4d468be2-0068ade000</HostId><Resource>/test-acc-scaleway-object-bucket-basic-es</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg5b1ba02a8c4a4d468be2-0068ade000
    status: 404 Not Found
    code: 404
    duration: 266.632115ms
- id: 8
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 417ff3c8-d3ff-428f-9f4d-2314fa5700a0
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162536Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-basic-es</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg372666d10d2143bb9653-0068ade000
    status: 200 OK
    code: 200
    duration: 290.652079ms
[...]
- id: 10
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - fb10fbae-95d9-4f38-8917-e1dc9c6c36b2
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162536Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg940fb60da71043ed987c-0068ade000</RequestId><HostId>txg940fb60da71043ed987c-0068ade000</HostId><Resource>/test-acc-scaleway-object-bucket-basic-es</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg940fb60da71043ed987c-0068ade000
    status: 404 Not Found
    code: 404
    duration: 169.560322ms
- id: 11
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 6a6b176c-502f-47af-a8e1-3aec76bcf88f
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162537Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txgd1f544c27ce84c32a540-0068ade001
    status: 200 OK
    code: 200
    duration: 117.201671ms
- id: 12
  request:
    host: test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 086a5b90-482c-4955-9504-043d3940f039
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162537Z
    url: https://test-acc-scaleway-object-bucket-basic-es.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg95bf11d4d1df4efd9c15-0068ade001</RequestId><HostId>txg95bf11d4d1df4efd9c15-0068ade001</HostId><Resource>/test-acc-scaleway-object-bucket-basic-es</Resource><BucketName>test-acc-scaleway-object-bucket-basic-es</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg95bf11d4d1df4efd9c15-0068ade001
    status: 404 Not Found
    code: 404
    duration: 114.895198ms
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"scaleway_s3\":{\"bucket_name\":\"test-acc-scaleway-object-bucket-basic-es\",\"bucket_region\":\"fr-par\",\"is_website\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/1ed3e6f9-ea8d-4911-ae6e-0b89749994c9/backend-stages
    method: POST
  response:
    body: "{\"id\":\"c7d45857-05d2-4987-8bb4-5fa2657bf064\",\"pipeline_id\":\"1ed3e6f9-ea8d-4911-ae6e-0b89749994c9\",\"created_at\":\"2025-08-26T16:25:37.875328115Z\",\"updated_at\":\"2025-08-26T16:25:37.875328115Z\",\"scaleway_s3\":{\"bucket_name\":\"test-acc-scaleway-object-bucket-basic-es\",\"bucket_region\":\"fr-par\",\"is_website\":false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 583.095679ms
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/c7d45857-05d2-4987-8bb4-5fa2657bf064
    method: GET
  response:
    body: "{\"id\":\"c7d45857-05d2-4987-8bb4-5fa2657bf064\",\"pipeline_id\":\"1ed3e6f9-ea8d-4911-ae6e-0b89749994c9\",\"created_at\":\"2025-08-26T16:25:37.875328Z\",\"updated_at\":\"2025-08-26T16:25:37.875328Z\",\"scaleway_s3\":{\"bucket_name\":\"test-acc-scaleway-object-bucket-basic-es\",\"bucket_region\":\"fr-par\",\"is_website\":false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.736248ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/c7d45857-05d2-4987-8bb4-5fa2657bf064
    method: DELETE
  response:
    body: "{\"message\":\"Permission denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 105.938581ms
