---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"69115561-87e3-4fb5-9661-b22ec562664d\",\"ip_address\":\"163.172.142.250\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":null,\"reverse\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.476061979s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines
    method: POST
  response:
    body: "{\"id\":\"2f49cea8-326d-40dc-b27f-9d78013431d7\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.282656468Z\",\"updated_at\":\"2025-08-26T16:25:34.282656468Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.574724891s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/69115561-87e3-4fb5-9661-b22ec562664d
    method: GET
  response:
    body: "{\"id\":\"69115561-87e3-4fb5-9661-b22ec562664d\",\"ip_address\":\"163.172.142.250\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":null,\"reverse\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.424568ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/2f49cea8-326d-40dc-b27f-9d78013431d7
    method: GET
  response:
    body: "{\"id\":\"2f49cea8-326d-40dc-b27f-9d78013431d7\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.282656Z\",\"updated_at\":\"2025-08-26T16:25:34.282656Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 257.480544ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"lb_name\",\"description\":\"\",\"ip_id\":\"69115561-87e3-4fb5-9661-b22ec562664d\",\"ip_ids\":[],\"tags\":null,\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"name\":\"lb_name\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"69115561-87e3-4fb5-9661-b22ec562664d\",\"ip_address\":\"163.172.142.250\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"reverse\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:34.713306678Z\",\"updated_at\":\"2025-08-26T16:25:34.713306678Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 383.852676ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6df5d4f7-58e3-466f-ab92-f0cd481f18c2
    method: GET
  response:
    body: "{\"id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"name\":\"lb_name\",\"description\":\"\",\"status\":\"creating\",\"instances\":[{\"id\":\"12c723d4-4ad8-4f4e-8287-dc38c5c0fc29\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T12:48:04.851868Z\",\"updated_at\":\"2025-08-26T16:25:35.[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6df5d4f7-58e3-466f-ab92-f0cd481f18c2/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.515883ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"name\":\"backend\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"http_config\":{\"uri\":\"/healthcheck\",\"method\":\"GET\",\"code\":200,\"host_header\":\"\"},\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":true,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6df5d4f7-58e3-466f-ab92-f0cd481f18c2/backends
    method: POST
  response:
    body: "{\"id\":\"61d31d74-aba2-4453-9435-f541b626f22b\",\"name\":\"backend\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"http_config\":{\"uri\":\"/healthcheck\",\"method\":\"GET\",\"code\":200,\"host_header\":\"\"}},\"pool\":[],\"lb\":{\"id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"name\":\"lb_name\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"12c723d4-4ad8-4f4e-8287-dc38c5c0fc29\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T12:48:04.851868Z\",\"updated_at\":\"2025-08-26T16:26:05.871655280Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"69115561-87e3-4fb5-9661-b22ec562664d\",\"ip_address\":\"163.172.142.250\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"reverse\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:34.713307Z\",\"updated_at\":\"2025-08-26T16:25:38.825976Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-08-26T16:26:05.836771251Z\",\"updated_at\":\"2025-08-26T16:26:05.836771251Z\",\"failover_host\":null,\"ssl_bridging\":true,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 389.14558ms
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cert\",\"letsencrypt\":{\"common_name\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"subject_alternative_name\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6df5d4f7-58e3-466f-ab92-f0cd481f18c2/certificates
    method: POST
  response:
    body: "{\"id\":\"b187dd96-fcf8-4caf-926b-ced2df8c1fdc\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",\"lb\":{\"id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"name\":\"lb_name\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"12c723d4-4ad8-4f4e-8287-dc38c5c0fc29\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-08-26T12:48:04.851868Z\",\"updated_at\":\"2025-08-26T16:26:05.871655Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"ip\":[{\"id\":\"69115561-87e3-4fb5-9661-b22ec562664d\",\"ip_address\":\"163.172.142.250\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"lb_id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"reverse\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-08-26T16:25:34.713307Z\",\"updated_at\":\"2025-08-26T16:26:05.914673357Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"name\":\"test-cert\",\"created_at\":\"2025-08-26T16:26:05.900127467Z\",\"updated_at\":\"2025-08-26T16:26:05.900127467Z\",\"status_details\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 452.321491ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/b187dd96-fcf8-4caf-926b-ced2df8c1fdc
    method: GET
  response:
    body: "{\"id\":\"b187dd96-fcf8-4caf-926b-ced2df8c1fdc\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"163-172-142-250.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/61d31d74-aba2-4453-9435-f541b626f22b
    method: GET
  response:
    body: "{\"id\":\"61d31d74-aba2-4453-9435-f541b626f22b\",\"name\":\"backend\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30[...]
[...]
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"name\":\"frontend\",\"inbound_port\":443,\"backend_id\":\"61d31d74-aba2-4453-9435-f541b626f22b\",\"certificate_ids\":[\"b187dd96-fcf8-4caf-926b-ced2df8c1fdc\"],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6df5d4f7-58e3-466f-ab92-f0cd481f18c2/frontends
    method: POST
  response:
    body: "{\"id\":\"86e9787c-d56c-4b28-b488-583e187511bf\",\"name\":\"frontend\",\"inbound_port\":443,\"backend\":{\"id\":\"61d31d74-aba2-4453-9435-f541b626f22b\",\"name\":\"backend\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"http_config\":{\"uri\":\"/healthcheck\",\"method\":\"GET\",\"code\":200,\"host_header\":\"\"}},\"pool\":[][...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"name\":\"frontend\",\"inbound_port\":443,\"backend_id\":\"61d31d74-aba2-4453-9435-f541b626f22b\",\"certificate_ids\":[\"b187dd96-fcf8-4caf-926b-ced2df8c1fdc\"],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/86e9787c-d56c-4b28-b488-583e187511bf
    method: PUT
  response:
    body:[...]
- id: 23
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/86e9787c-d56c-4b28-b488-583e187511bf/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.672219ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"scaleway_lb\":{\"lbs\":[{\"id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"zone\":\"fr-par-1\",\"frontend_id\":\"86e9787c-d56c-4b28-b488-583e187511bf\",\"is_ssl\":true,\"domain_name\":null}]}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/2f49cea8-326d-40dc-b27f-9d78013431d7/backend-stages
    method: POST
  response:
    body: "{\"id\":\"99cc8942-7d8c-402b-bcb2-8ffc2874c6cd\",\"pipeline_id\":\"2f49cea8-326d-40dc-b27f-9d78013431d7\",\"created_at\":\"2025-08-26T16:26:39.721019436Z\",\"updated_at\":\"2025-08-26T16:26:39.721019436Z\",\"scaleway_lb\":{\"lbs\":[{\"id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"zone\":\"fr-par-1\",\"frontend_id\":\"86e9787c-d56c-4b28-b488-583e187511bf\",\"is_ssl\":true,\"domain_name\":\"\"}]}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 851.210418ms
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/99cc8942-7d8c-402b-bcb2-8ffc2874c6cd
    method: GET
  response:
    body: "{\"id\":\"99cc8942-7d8c-402b-bcb2-8ffc2874c6cd\",\"pipeline_id\":\"2f49cea8-326d-40dc-b27f-9d78013431d7\",\"created_at\":\"2025-08-26T16:26:39.721019Z\",\"updated_at\":\"2025-08-26T16:26:39.721019Z\",\"scaleway_lb\":{\"lbs\":[{\"id\":\"6df5d4f7-58e3-466f-ab92-f0cd481f18c2\",\"zone\":\"fr-par-1\",\"frontend_id\":\"86e9787c-d56c-4b28-b488-583e187511bf\",\"is_ssl\":true,\"domain_name\":\"\"}]}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.956792ms
[...]
- id: 48
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/b187dd96-fcf8-4caf-926b-ced2df8c1fdc
    method: GET
  response:
    body: "{\"message\":\"certificate not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 51.376361ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6df5d4f7-58e3-466f-ab92-f0cd481f18c2?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 561.813936ms
[...]
