---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines
    method: POST
  response:
    body: "{\"id\":\"d4b4228c-0a79-4dfc-8fea-222f71104cce\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.310706635Z\",\"updated_at\":\"2025-08-26T16:25:34.310706635Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.839377686s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d4b4228c-0a79-4dfc-8fea-222f71104cce
    method: GET
  response:
    body: "{\"id\":\"d4b4228c-0a79-4dfc-8fea-222f71104cce\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.310706Z\",\"updated_at\":\"2025-08-26T16:25:34.310706Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 217.279057ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"mode\":\"enable\",\"paranoia_level\":3}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d4b4228c-0a79-4dfc-8fea-222f71104cce/waf-stages
    method: POST
  response:
    body: "{\"id\":\"3c64e07f-6e3b-4f9c-9437-0c8f36495fde\",\"pipeline_id\":\"d4b4228c-0a79-4dfc-8fea-222f71104cce\",\"mode\":\"enable\",\"paranoia_level\":3,\"created_at\":\"2025-08-26T16:25:34.737726140Z\",\"updated_at\":\"2025-08-26T16:25:34.737726140Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.990711ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/3c64e07f-6e3b-4f9c-9437-0c8f36495fde
    method: GET
  response:
    body: "{\"id\":\"3c64e07f-6e3b-4f9c-9437-0c8f36495fde\",\"pipeline_id\":\"d4b4228c-0a79-4dfc-8fea-222f71104cce\",\"mode\":\"enable\",\"paranoia_level\":3,\"created_at\":\"2025-08-26T16:25:34.737726Z\",\"updated_at\":\"2025-08-26T16:25:34.737726Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 345.018514ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/3c64e07f-6e3b-4f9c-9437-0c8f36495fde
    method: DELETE
  response:
    body: "{\"message\":\"Permission denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 119.955456ms
