---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.334806625s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:27:24.290874703Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"979fcd00-c27b-4ab4-ba2a-577b3d061620","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:27:24.290874703Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.720583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/979fcd00-c27b-4ab4-ba2a-577b3d061620
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:27:24.290874Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"979fcd00-c27b-4ab4-ba2a-577b3d061620","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:27:24.290874Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.685917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"fqdns":["subodomain.example.fr"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/979fcd00-c27b-4ab4-ba2a-577b3d061620/dns-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:27:24.516407558Z","default_fqdn":"","fqdns":["subodomain.example.fr"],"id":"4d025328-267c-4f79-991a-020f183c5614","pipeline_id":"979fcd00-c27b-4ab4-ba2a-577b3d061620","type":"custom","updated_at":"2026-03-26T15:27:24.516407558Z","wildcard_domain":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.875625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/4d025328-267c-4f79-991a-020f183c5614
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:27:24.516407Z","default_fqdn":"","fqdns":["subodomain.example.fr"],"id":"4d025328-267c-4f79-991a-020f183c5614","pipeline_id":"979fcd00-c27b-4ab4-ba2a-577b3d061620","type":"custom","updated_at":"2026-03-26T15:27:24.516407Z","wildcard_domain":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.252458ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.810792ms
[...]
