---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-18T17:03:07.593758049Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"c1c52dcc-fa20-4c67-963f-ec212c47ffa5","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T17:03:07.593758049Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.674ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/c1c52dcc-fa20-4c67-963f-ec212c47ffa5
        method: GET
      response:
        body: '{"created_at":"2026-02-18T17:03:07.593758Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"c1c52dcc-fa20-4c67-963f-ec212c47ffa5","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T17:03:07.593758Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.924584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"secrets":[],"managed_certificate":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/c1c52dcc-fa20-4c67-963f-ec212c47ffa5/tls-stages
        method: POST
      response:
        body: '{"certificate_expires_at":null,"created_at":"2026-02-18T17:03:07.767486316Z","id":"8befa652-3743-4c36-ab6f-8f4a1d335156","managed_certificate":true,"pipeline_id":"c1c52dcc-fa20-4c67-963f-ec212c47ffa5","secrets":[],"updated_at":"2026-02-18T17:03:07.767486316Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.329709ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/8befa652-3743-4c36-ab6f-8f4a1d335156
        method: GET
      response:
        body: '{"certificate_expires_at":null,"created_at":"2026-02-18T17:03:07.767486Z","id":"8befa652-3743-4c36-ab6f-8f4a1d335156","managed_certificate":true,"pipeline_id":"c1c52dcc-fa20-4c67-963f-ec212c47ffa5","secrets":[],"updated_at":"2026-02-18T17:03:07.767486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.971916ms
[...]
