---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_backend-container","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:10.174033Z","description":"","id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","name":"tf_tests_edge_services_project_backend-container","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":null,"updated_at":"2026-07-21T14:49:10.174033Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 437.953145ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/909f7e87-0e5c-4343-9e24-ec96f44d2085
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:10.174033Z","description":"","id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","name":"tf_tests_edge_services_project_backend-container","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-07-21T14:49:10.174033Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.465468ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.796176ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:10.850555596Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"cda3bc3d-51f9-4630-a8a5-01e761478618","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","status":"warning","updated_at":"2026-07-21T14:49:10.850555596Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.105525ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/cda3bc3d-51f9-4630-a8a5-01e761478618
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:10.850555Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"cda3bc3d-51f9-4630-a8a5-01e761478618","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","status":"warning","updated_at":"2026-07-21T14:49:10.850555Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.530565ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","name":"tf-tests-es-backend-container","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:11.223637Z","description":"","environment_variables":{},"id":"4cb3f0ac-a945-4313-af58-f18f4d299c7d","name":"tf-tests-es-backend-container","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","region":"fr-par","secret_environment_variables":{},"status":"creating","tags":[],"updated_at":"2026-07-21T14:49:11.223637Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.286901859s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/4cb3f0ac-a945-4313-af58-f18f4d299c7d
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:11.223637Z","description":"","environment_variables":{},"id":"4cb3f0ac-a945-4313-af58-f18f4d299c7d","name":"tf-tests-es-backend-container","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"909f7e87-0e5c-4343-9e24-ec96f44d2085","region":"fr-par","secret_environment_variables":{},"status":"creating","tags":[],"updated_at":"2026-07-21T14:49:11.223637Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.770651ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"4cb3f0ac-a945-4313-af58-f18f4d299c7d","name":"tf-tests-es-backend-container","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"created_at":"2026-07-21T14:49:17.036800Z","description":"","environment_variables":{},"https_connections_only":false,"id":"9748bcb5-6f53-41ca-a8c3-a078d0012fdc","image":"nginx:1.29.4-alpine","liveness_probe":{"failure_threshold":30,"interval":"10s","tcp":{},"timeout":"1s"},"local_storage_limit_bytes":1000000000,"max_scale":5,"memory_limit_bytes":2048000000,"min_scale":0,"mvcpu_limit":1000,"name":"tf-tests-es-backend-container","namespace_id":"4cb3f0ac-a945-4313-af58-f18f4d299c7d","port":80,"privacy":"public","protocol":"http1","public_endpoint":"https://tftestsesbackendcont4cb3f0ac-tf-tests-es-backend-container.functions.fnc.fr-par.scw.cloud","region":"fr-par","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":{},"startup_probe":null,"status":"creating","tags":[],"timeout":"300s","updated_at":"2026-07-21T14:49:17.036800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.123516ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9748bcb5-6f53-41ca-a8c3-a078d0012fdc
        method: GET
      response:
        body: '{"args":[],"command":[],"created_at":"2026-07-21T14:49:17.036800Z","description":"","environment_variables":{},"https_connections_only":false,"id":"9748bcb5-6f53-41ca-a8c3-a078d0012fdc","image":"nginx:1.29.4-alpine","liveness_probe":{"failure_threshold":30,"interval":"10s","tcp":{},"timeout":"1s"},"local_storage_limit_bytes":1000000000,"max_scale":5,"memory_limit_bytes":2048000000,"min_scale":0,"mvcpu_limit":1000,"name":"tf-tests-es-backend-container","namespace_id":"4cb3f0ac-a945-4313-af58-f18f4d299c7d","port":80,"privacy":"public","protocol":"http1","public_endpoint":"https://tftestsesbackendcont4cb3f0ac-tf-tests-es-backend-container.functions.fnc.fr-par.scw.cloud","region":"fr-par","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":{},"startup_probe":null,"status":"creating","tags":[],"timeout":"300s","updated_at":"2026-07-21T14:49:17.036800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.970309ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9748bcb5-6f53-41ca-a8c3-a078d0012fdc
        method: GET
      response:
        body: '{"args":[],"command":[],"created_at":"2026-07-21T14:49:17.036800Z","description":"","environment_variables":{},"error_message":"","https_connections_only":false,"id":"9748bcb5-6f53-41ca-a8c3-a078d0012fdc","image":"nginx:1.29.4-alpine","liveness_probe":{"failure_threshold":30,"interval":"10s","tcp":{},"timeout":"1s"},"local_storage_limit_bytes":1000000000,"max_scale":5,"memory_limit_bytes":2048000000,"min_scale":0,"mvcpu_limit":1000,"name":"tf-tests-es-backend-container","namespace_id":"4cb3f0ac-a945-4313-af58-f18f4d299c7d","port":80,"privacy":"public","protocol":"http1","public_endpoint":"https://tftestsesbackendcont4cb3f0ac-tf-tests-es-backend-container.functions.fnc.fr-par.scw.cloud","region":"fr-par","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":{},"startup_probe":null,"status":"ready","tags":[],"timeout":"300s","updated_at":"2026-07-21T14:49:25Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.543519ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"scaleway_serverless_container":{"region":"fr-par","container_id":"9748bcb5-6f53-41ca-a8c3-a078d0012fdc"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/cda3bc3d-51f9-4630-a8a5-01e761478618/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:27.821995788Z","id":"fa0481d8-bc4a-47e7-a89d-62e1d2a9909b","pipeline_id":"cda3bc3d-51f9-4630-a8a5-01e761478618","scaleway_serverless_container":{"container_id":"9748bcb5-6f53-41ca-a8c3-a078d0012fdc","region":"fr-par"},"status":"inactive","updated_at":"2026-07-21T14:49:27.821995788Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 498.57271ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/fa0481d8-bc4a-47e7-a89d-62e1d2a9909b
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:27.821995Z","id":"fa0481d8-bc4a-47e7-a89d-62e1d2a9909b","pipeline_id":"cda3bc3d-51f9-4630-a8a5-01e761478618","scaleway_serverless_container":{"container_id":"9748bcb5-6f53-41ca-a8c3-a078d0012fdc","region":"fr-par"},"status":"inactive","updated_at":"2026-07-21T14:49:27.821995Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.156037ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/909f7e87-0e5c-4343-9e24-ec96f44d2085
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.232816ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/4cb3f0ac-a945-4313-af58-f18f4d299c7d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"4cb3f0ac-a945-4313-af58-f18f4d299c7d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.310156ms
[...]
