---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-05-20T09:31:53.699049142Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"66c41a6c-9f25-4089-bdaf-e3e73508bd8f","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-05-20T09:31:53.699049142Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.327796s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/66c41a6c-9f25-4089-bdaf-e3e73508bd8f
        method: GET
      response:
        body: '{"created_at":"2026-05-20T09:31:53.699049Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"66c41a6c-9f25-4089-bdaf-e3e73508bd8f","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-05-20T09:31:53.699049Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.617583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-es-backend-function","environment_variables":{},"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-20T09:31:54.431562533Z","description":"","environment_variables":{},"error_message":null,"id":"e99988e1-4b14-4b6e-a8be-2bcaa76a3bde","name":"tf-tests-es-backend-function","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-20T09:31:54.431562533Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.050194541s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e99988e1-4b14-4b6e-a8be-2bcaa76a3bde
        method: GET
      response:
        body: '{"created_at":"2026-05-20T09:31:54.431563Z","description":"","environment_variables":{},"error_message":null,"id":"e99988e1-4b14-4b6e-a8be-2bcaa76a3bde","name":"tf-tests-es-backend-function","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-20T09:31:54.431563Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.865333ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-es-backend-function","namespace_id":"e99988e1-4b14-4b6e-a8be-2bcaa76a3bde","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-20T09:31:59.760246601Z","description":"","domain_name":"tftestsesbackendfuncuejjpiip-tf-tests-es-backend-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"3550cbad-bba4-4b3c-bf85-142bf5198b16","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-es-backend-function","namespace_id":"e99988e1-4b14-4b6e-a8be-2bcaa76a3bde","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-20T09:31:59.760246601Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.439584ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/3550cbad-bba4-4b3c-bf85-142bf5198b16
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-20T09:31:59.760247Z","description":"","domain_name":"tftestsesbackendfuncuejjpiip-tf-tests-es-backend-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"3550cbad-bba4-4b3c-bf85-142bf5198b16","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-es-backend-function","namespace_id":"e99988e1-4b14-4b6e-a8be-2bcaa76a3bde","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-20T09:31:59.760247Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.169ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"scaleway_serverless_function":{"region":"fr-par","function_id":"3550cbad-bba4-4b3c-bf85-142bf5198b16"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/66c41a6c-9f25-4089-bdaf-e3e73508bd8f/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-05-20T09:32:00.222311683Z","id":"6c690627-9a7d-4352-907b-d9a4a6859bcb","pipeline_id":"66c41a6c-9f25-4089-bdaf-e3e73508bd8f","scaleway_serverless_function":{"function_id":"3550cbad-bba4-4b3c-bf85-142bf5198b16","region":"fr-par"},"status":"inactive","updated_at":"2026-05-20T09:32:00.222311683Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.013959ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/6c690627-9a7d-4352-907b-d9a4a6859bcb
        method: GET
      response:
        body: '{"created_at":"2026-05-20T09:32:00.222311Z","id":"6c690627-9a7d-4352-907b-d9a4a6859bcb","pipeline_id":"66c41a6c-9f25-4089-bdaf-e3e73508bd8f","scaleway_serverless_function":{"function_id":"3550cbad-bba4-4b3c-bf85-142bf5198b16","region":"fr-par"},"status":"inactive","updated_at":"2026-05-20T09:32:00.222311Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.279833ms
[...]
