---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"011426c9-14f2-495e-be4a-b101c2fc38b6","ip_address":"51.159.204.103","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-103.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.553292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.003625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/011426c9-14f2-495e-be4a-b101c2fc38b6
        method: GET
      response:
        body: '{"id":"011426c9-14f2-495e-be4a-b101c2fc38b6","ip_address":"51.159.204.103","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-103.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.906792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:16:34.258532739Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"f88ab443-6456-4e44-b14e-76cbb7aceee7","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:16:34.258532739Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.595166ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/f88ab443-6456-4e44-b14e-76cbb7aceee7
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:16:34.258532Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"f88ab443-6456-4e44-b14e-76cbb7aceee7","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:16:34.258532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.317709ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"lb_name","description":"","ip_id":"011426c9-14f2-495e-be4a-b101c2fc38b6","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-03-26T15:16:34.318650926Z","description":"","frontend_count":0,"id":"381d6611-d365-458f-b08c-67b5029ebc41","instances":[],"ip":[{"id":"011426c9-14f2-495e-be4a-b101c2fc38b6","ip_address":"51.159.204.103","lb_id":"381d6611-d365-458f-b08c-67b5029ebc41","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-103.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-26T15:16:34.318650926Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.391042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/381d6611-d365-458f-b08c-67b5029ebc41
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-03-26T15:16:34.318651Z","description":"","frontend_count":0,"id":"381d6611-d365-458f-b08c-67b5029ebc41","instances":[{"created_at":"2026-03-26T15:15:43.376207Z","id":"51cc9454-ac51-426c-ac29-e1bd8fd4974f","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-03-26T15:16:34.474745Z","zone":"fr-par-1"}],"ip":[{"id":"011426c9-14f2-495e-be4a-b101c2fc38b6","ip_address":"51.159.204.103","lb_id":"381d6611-d365-458f-b08c-67b5029ebc41","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-103.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-26T15:16:34.482689Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.252333ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/381d6611-d365-458f-b08c-67b5029ebc41/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.682791ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"backend","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"http_config":{"uri":"/healthcheck","method":"GET","code":200,"host_header":""},"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":true,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/381d6611-d365-458f-b08c-67b5029ebc41/backends
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:17:05.062157026Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"id":"c3d6d759-8c21-4f02-ac2d-f3d32b5de5a6","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-03-26T15:16:34.318651Z","description":"","frontend_count":0,"id":"381d6611-d365-458f-b08c-67b5029ebc41","instances":[{"created_at":"2026-03-26T15:15:43.376207Z","id":"51cc9454-ac51-426c-ac29-e1bd8fd4974f","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-03-26T15:17:05.082109596Z","zone":"fr-par-1"}],"ip":[{"id":"011426c9-14f2-495e-be4a-b101c2fc38b6","ip_address":"51.159.204.103","lb_id":"381d6611-d365-458f-b08c-67b5029ebc41","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-103.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-26T15:16:36.780341Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"backend","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":true,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-03-26T15:17:05.062157026Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.540584ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c3d6d759-8c21-4f02-ac2d-f3d32b5de5a6
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:17:05.062157Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-204-103.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/381d6611-d365-458f-b08c-67b5029ebc41/certificates
        method: POST
      response:
        body: '{"common_name":"51-159-204-103.lb.fr-par.scw.cloud","created_at":"2026-03-26T15:17:05.175813290Z","fingerprint":"","id":"9d0e7685-82cb-4588-824c-514bb616450f","lb":{"backend_count":1,"created_at":"2026-03-26T15:16:34.318651Z","description":"","frontend_count":0,"id":"381d6611-d365-458f-b08c-67b5029ebc41","instances":[{"created_at":"2026-03-26T15:15:43.376207Z","id":"51cc9454-ac51-426c-ac29-e1bd8fd4974f","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-03-26T15:17:05.082110Z","zone":"fr-par-1"}],"ip":[{"id":"011426c9-14f2-495e-be4a-b101c2fc38b6","ip_address":"51.159.204.103","lb_id":"381d6611-d365-458f-b08c-67b5029ebc41","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-103.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-03-26T15:17:05.188053820Z","zone":"fr-par-1"},"name":"test-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencrypt","updated_at":"2026-03-26T15:17:05.175813290Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 457.23ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/9d0e7685-82cb-4588-824c-514bb616450f
        method: GET
      response:
        body: '{"common_name":"51-159-204-103.lb.fr-par.scw.cloud","created_at":"2026-03-26T15:17:05.175813Z","fingerprint":"","id":"9d0e7685-82cb-4588-824c-514bb616450f","lb":{"backend_count":1,"created_at":"2026-03-26T15:16:34.318651Z","descri[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"c3d6d759-8c21-4f02-ac2d-f3d32b5de5a6","certificate_ids":["9d0e7685-82cb-4588-824c-514bb616450f"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/381d6611-d365-458f-b08c-67b5029ebc41/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-03-26T15:17:05.062157Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"id":"c3d6d759-8c21-4f02-ac2d-f3d32b5de5a6","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-03-2[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"c3d6d759-8c21-4f02-ac2d-f3d32b5de5a6","certificate_ids":["9d0e7685-82cb-4588-824c-514bb616450f"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ffce11b1-f5c1-4600-9363-dc9d03883acd
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ffce11b1-f5c1-4600-9363-dc9d03883acd/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.200417ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"scaleway_lb":{"lbs":[{"id":"381d6611-d365-458f-b08c-67b5029ebc41","zone":"fr-par-1","frontend_id":"ffce11b1-f5c1-4600-9363-dc9d03883acd","is_ssl":true,"domain_name":null,"has_websocket":false}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/f88ab443-6456-4e44-b14e-76cbb7aceee7/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:17:37.429602840Z","id":"46fba7e4-6f94-469e-a4c7-856e86819045","pipeline_id":"f88ab443-6456-4e44-b14e-76cbb7aceee7","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"ffce11b1-f5c1-4600-9363-dc9d03883acd","has_websocket":false,"id":"381d6611-d365-458f-b08c-67b5029ebc41","is_ssl":true,"zone":"fr-par-1"}]},"updated_at":"2026-03-26T15:17:37.429602840Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 589.538542ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/46fba7e4-6f94-469e-a4c7-856e86819045
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:17:37.429602Z","id":"46fba7e4-6f94-469e-a4c7-856e86819045","pipeline_id":"f88ab443-6456-4e44-b14e-76cbb7aceee7","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"ffce11b1-f5c1-4600-9363-dc9d03883acd","has_websocket":false,"id":"381d6611-d365-458f-b08c-67b5029ebc41","is_ssl":true,"zone":"fr-par-1"}]},"updated_at":"2026-03-26T15:17:37.429602Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.718625ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.068584ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/381d6611-d365-458f-b08c-67b5029ebc41?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 283.610791ms
[...]
