---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines
    method: POST
  response:
    body: "{\"id\":\"f5d9dda0-7cfe-47c4-b191-07d180e64fe0\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.365478849Z\",\"updated_at\":\"2025-08-26T16:25:34.365478849Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.671869793s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/f5d9dda0-7cfe-47c4-b191-07d180e64fe0
    method: GET
  response:
    body: "{\"id\":\"f5d9dda0-7cfe-47c4-b191-07d180e64fe0\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.365478Z\",\"updated_at\":\"2025-08-26T16:25:34.365478Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.182867ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"fqdns\":[\"subodomain.example.fr\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/f5d9dda0-7cfe-47c4-b191-07d180e64fe0/dns-stages
    method: POST
  response:
    body: "{\"id\":\"ef18a9e6-36b3-457b-b840-3244d688e55d\",\"fqdns\":[\"subodomain.example.fr\"],\"type\":\"custom\",\"pipeline_id\":\"f5d9dda0-7cfe-47c4-b191-07d180e64fe0\",\"created_at\":\"2025-08-26T16:25:34.985062128Z\",\"updated_at\":\"2025-08-26T16:25:34.985062128Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 488.614822ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/ef18a9e6-36b3-457b-b840-3244d688e55d
    method: GET
  response:
    body: "{\"id\":\"ef18a9e6-36b3-457b-b840-3244d688e55d\",\"fqdns\":[\"subodomain.example.fr\"],\"type\":\"custom\",\"pipeline_id\":\"f5d9dda0-7cfe-47c4-b191-07d180e64fe0\",\"created_at\":\"2025-08-26T16:25:34.985062Z\",\"updated_at\":\"2025-08-26T16:25:34.985062Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.422851ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/ef18a9e6-36b3-457b-b840-3244d688e55d
    method: DELETE
  response:
    body: "{\"message\":\"Permission denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 183.691569ms
