---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_backend-basic","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-22T09:22:09.615046Z","description":"","id":"96f24ee6-870c-43e7-b647-f783f8e945f5","name":"tf_tests_edge_services_project_backend-basic","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":null,"updated_at":"2026-07-22T09:22:09.615046Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.174471ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/96f24ee6-870c-43e7-b647-f783f8e945f5
        method: GET
      response:
        body: '{"created_at":"2026-07-22T09:22:09.615046Z","description":"","id":"96f24ee6-870c-43e7-b647-f783f8e945f5","name":"tf_tests_edge_services_project_backend-basic","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-07-22T09:22:09.615046Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.876934ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"96f24ee6-870c-43e7-b647-f783f8e945f5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.200961ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"96f24ee6-870c-43e7-b647-f783f8e945f5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-07-22T09:22:10.071419875Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"07b906e0-eb53-48f5-a88e-ffe2a73cf1b2","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"96f24ee6-870c-43e7-b647-f783f8e945f5","status":"warning","updated_at":"2026-07-22T09:22:10.071419875Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.751519ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/07b906e0-eb53-48f5-a88e-ffe2a73cf1b2
        method: GET
      response:
        body: '{"created_at":"2026-07-22T09:22:10.071419Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"07b906e0-eb53-48f5-a88e-ffe2a73cf1b2","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"96f24ee6-870c-43e7-b647-f783f8e945f5","status":"warning","updated_at":"2026-07-22T09:22:10.071419Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.694643ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c05645a4-b817-4e85-a6d2-6224c910a269
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092209Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-basic-edgeservices
            X-Amz-Request-Id:
                - txga6a1e3afdbc94b40b6e1-006a608bc1
        status: 200 OK
        code: 200
        duration: 9.123598908s
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6bea0e39-408c-4fb1-96e1-a81443a4c168
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260722T092209Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgc724254210904c4793dd-006a608bcb
        status: 200 OK
        code: 200
        duration: 149.698403ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - eb330252-68bc-4ace-8fca-1957460272e2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092219Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg52745ede4dc8484395fc-006a608bcb
        status: 200 OK
        code: 200
        duration: 154.087006ms
[...]
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9d040a2d-3977-42bb-933a-b639e828b872
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092219Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>96f24ee6-870c-43e7-b647-f783f8e945f5:96f24ee6-870c-43e7-b647-f783f8e945f5</DisplayName><ID>96f24ee6-870c-43e7-b647-f783f8e945f5:96f24ee6-870c-43e7-b647-f783f8e945f5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>96f24ee6-870c-43e7-b647-f783f8e945f5:96f24ee6-870c-43e7-b647-f783f8e945f5</ID><DisplayName>96f24ee6-870c-43e7-b647-f783f8e945f5:96f24ee6-870c-43e7-b647-f783f8e945f5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgde4dc188bed144099c6b-006a608bcb
        status: 200 OK
        code: 200
        duration: 116.754451ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 58ec6f06-f92b-4032-9ce1-735172888d14
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092219Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgd84400a51ef64842ad75-006a608bcb</RequestId><HostId>txgd84400a51ef64842ad75-006a608bcb</HostId><Resource>/test-acc-scaleway-object-bucket-basic-edgeservices</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd84400a51ef64842ad75-006a608bcb
        status: 404 Not Found
        code: 404
        duration: 139.654014ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 02303310-5e3b-44f3-b18a-6f78d9921327
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092219Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-basic-edgeservices</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2b3b8d6d814a4485ab0b-006a608bcb
        status: 200 OK
        code: 200
        duration: 146.956563ms
[...]
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f3dcb47c-5585-40af-a4e4-081f2bcfb8cb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092219Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9c6bb7e3145d4156851b-006a608bcb</RequestId><HostId>txg9c6bb7e3145d4156851b-006a608bcb</HostId><Resource>/test-acc-scaleway-object-bucket-basic-edgeservices</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9c6bb7e3145d4156851b-006a608bcb
        status: 404 Not Found
        code: 404
        duration: 90.328057ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 118c9aa7-fa29-4910-b94c-2c4547d5be88
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092219Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg7ec46cf232914373aa0f-006a608bcc
        status: 200 OK
        code: 200
        duration: 16.3304ms
    - id: 15
      request:
        host: test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3ecf68fb-2853-4009-9413-c60a0ce8cb1f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T092220Z
        url: https://test-acc-scaleway-object-bucket-basic-edgeservices.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg0ef6625dbc7042bc9baf-006a608bcc</RequestId><HostId>txg0ef6625dbc7042bc9baf-006a608bcc</HostId><Resource>/test-acc-scaleway-object-bucket-basic-edgeservices</Resource><BucketName>test-acc-scaleway-object-bucket-basic-edgeservices</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0ef6625dbc7042bc9baf-006a608bcc
        status: 404 Not Found
        code: 404
        duration: 98.53965ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-edgeservices","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/07b906e0-eb53-48f5-a88e-ffe2a73cf1b2/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-07-22T09:22:20.805941778Z","id":"3413a149-ed88-4298-8bbe-1889b4009d29","pipeline_id":"07b906e0-eb53-48f5-a88e-ffe2a73cf1b2","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-edgeservices","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-07-22T09:22:20.805941778Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.605869ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/3413a149-ed88-4298-8bbe-1889b4009d29
        method: GET
      response:
        body: '{"created_at":"2026-07-22T09:22:20.805941Z","id":"3413a149-ed88-4298-8bbe-1889b4009d29","pipeline_id":"07b906e0-eb53-48f5-a88e-ffe2a73cf1b2","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-edgeservices","bucket_region":"fr-par","is_website":false},"status":"inactive","updated_at":"2026-07-22T09:22:20.805941Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.543652ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/96f24ee6-870c-43e7-b647-f783f8e945f5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.014023ms
[...]
