---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:34:56.825798476Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"5266fc22-7b82-48e0-b1af-c7486529a734","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T16:34:56.825798476Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.493959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5266fc22-7b82-48e0-b1af-c7486529a734
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:34:56.825798Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"5266fc22-7b82-48e0-b1af-c7486529a734","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T16:34:56.825798Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.695458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s","include_cookies":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5266fc22-7b82-48e0-b1af-c7486529a734/cache-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:34:56.984547510Z","fallback_ttl":"3600s","id":"cf92ae52-c92e-4167-b3b7-c0f116e10912","include_cookies":false,"pipeline_id":"5266fc22-7b82-48e0-b1af-c7486529a734","updated_at":"2026-02-18T16:34:56.984547510Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.766291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/cf92ae52-c92e-4167-b3b7-c0f116e10912
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:34:56.984547Z","fallback_ttl":"3600s","id":"cf92ae52-c92e-4167-b3b7-c0f116e10912","include_cookies":false,"pipeline_id":"5266fc22-7b82-48e0-b1af-c7486529a734","updated_at":"2026-02-18T16:34:56.984547Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.528083ms
[...]
