---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","fqdns":["ttttt.test-multistreaming.fr"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1alpha1/dns-stages
        method: POST
      response:
        body: '{"created_at":"2024-06-27T09:16:40.409229336Z","fqdns":["ttttt.test-multistreaming.fr"],"id":"88d219b9-4f69-4d5e-993b-2203d62eab51","pipeline_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"managed","updated_at":"2024-06-27T09:16:40.409229336Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.504226ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/dns-stages/88d219b9-4f69-4d5e-993b-2203d62eab51
        method: GET
      response:
        body: '{"created_at":"2024-06-27T09:16:40.409229Z","fqdns":["ttttt.test-multistreaming.fr"],"id":"88d219b9-4f69-4d5e-993b-2203d62eab51","pipeline_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"managed","updated_at":"2024-06-27T09:16:40.409229Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.995072ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/dns-stages/88d219b9-4f69-4d5e-993b-2203d62eab51
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 55.978688ms
