---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-03-06T14:13:55.156167986Z","description":"pipeline description","errors":[],"id":"400af1b1-a838-4c88-b7f5-70338bf70e4c","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-06T14:13:55.156167986Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.187331429s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/400af1b1-a838-4c88-b7f5-70338bf70e4c
        method: GET
      response:
        body: '{"created_at":"2025-03-06T14:13:55.156167Z","description":"pipeline description","errors":[],"id":"400af1b1-a838-4c88-b7f5-70338bf70e4c","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-06T14:13:55.156167Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.259487ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fqdns":["subodomain.example.fr"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/400af1b1-a838-4c88-b7f5-70338bf70e4c/dns-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-06T14:13:55.408859968Z","fqdns":["subodomain.example.fr"],"id":"694669c5-08be-4e05-a4d7-cdab6a280eec","pipeline_id":"400af1b1-a838-4c88-b7f5-70338bf70e4c","type":"custom","updated_at":"2025-03-06T14:13:55.408859968Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.082316ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/694669c5-08be-4e05-a4d7-cdab6a280eec
        method: GET
      response:
        body: '{"created_at":"2025-03-06T14:13:55.408859Z","fqdns":["subodomain.example.fr"],"id":"694669c5-08be-4e05-a4d7-cdab6a280eec","pipeline_id":"400af1b1-a838-4c88-b7f5-70338bf70e4c","type":"custom","updated_at":"2025-03-06T14:13:55.408859Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.213852ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/694669c5-08be-4e05-a4d7-cdab6a280eec
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 47.683839ms
