---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-26T16:25:50.385511782Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0949d6e6-2bb7-4d4a-8ab2-84e2c09cca86","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-26T16:25:50.385511782Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.523875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0949d6e6-2bb7-4d4a-8ab2-84e2c09cca86
        method: GET
      response:
        body: '{"created_at":"2026-02-26T16:25:50.385511Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0949d6e6-2bb7-4d4a-8ab2-84e2c09cca86","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-26T16:25:50.385511Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.968334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0949d6e6-2bb7-4d4a-8ab2-84e2c09cca86/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-26T16:25:50.672398213Z","id":"fed578ea-531e-480d-8f0e-5ca6c8ddb360","mode":"enable","paranoia_level":3,"pipeline_id":"0949d6e6-2bb7-4d4a-8ab2-84e2c09cca86","updated_at":"2026-02-26T16:25:50.672398213Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.306834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/fed578ea-531e-480d-8f0e-5ca6c8ddb360
        method: GET
      response:
        body: '{"created_at":"2026-02-26T16:25:50.672398Z","id":"fed578ea-531e-480d-8f0e-5ca6c8ddb360","mode":"enable","paranoia_level":3,"pipeline_id":"0949d6e6-2bb7-4d4a-8ab2-84e2c09cca86","updated_at":"2026-02-26T16:25:50.672398Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.443375ms
[...]
