---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-06T14:37:07.147342Z","description":"","id":"6e183d93-a083-477c-8d6c-a05aec8aca90","name":"tf_tests_edge_services_project_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2025-03-06T14:37:07.147342Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.238647ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6e183d93-a083-477c-8d6c-a05aec8aca90
        method: GET
      response:
        body: '{"created_at":"2025-03-06T14:37:07.147342Z","description":"","id":"6e183d93-a083-477c-8d6c-a05aec8aca90","name":"tf_tests_edge_services_project_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2025-03-06T14:37:07.147342Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.030398ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"6e183d93-a083-477c-8d6c-a05aec8aca90","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.238207ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/6e183d93-a083-477c-8d6c-a05aec8aca90
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.78183ms
[...]
