---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:53:59.701927717Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"5c59efb9-1c91-46da-8992-9d2c5596d1b6","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T16:53:59.701927717Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.798417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5c59efb9-1c91-46da-8992-9d2c5596d1b6
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:53:59.701927Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"5c59efb9-1c91-46da-8992-9d2c5596d1b6","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T16:53:59.701927Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.708792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fqdns":["subodomain.example.fr"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5c59efb9-1c91-46da-8992-9d2c5596d1b6/dns-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:53:59.929765083Z","default_fqdn":"","fqdns":["subodomain.example.fr"],"id":"d70efb58-602c-4e0e-aa0b-c240c89ae3c5","pipeline_id":"5c59efb9-1c91-46da-8992-9d2c5596d1b6","type":"custom","updated_at":"2026-02-18T16:53:59.929765083Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.140084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/d70efb58-602c-4e0e-aa0b-c240c89ae3c5
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:53:59.929765Z","default_fqdn":"","fqdns":["subodomain.example.fr"],"id":"d70efb58-602c-4e0e-aa0b-c240c89ae3c5","pipeline_id":"5c59efb9-1c91-46da-8992-9d2c5596d1b6","type":"custom","updated_at":"2026-02-18T16:53:59.929765Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.815583ms
[...]
