---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_backend-bucket-region","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-09-22T12:42:22.506511Z","description":"","id":"50ed17b4-009d-43b6-bb46-5cea6a787722","name":"tf_tests_edge_services_project_backend-bucket-region","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"srn":"","status":"active","updated_at":"2026-09-22T12:42:22.506511Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 581.081ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/50ed17b4-009d-43b6-bb46-5cea6a787722
        method: GET
      response:
        body: '{"created_at":"2026-09-22T12:42:22.506511Z","description":"","id":"50ed17b4-009d-43b6-bb46-5cea6a787722","name":"tf_tests_edge_services_project_backend-bucket-region","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2026-09-22T12:42:22.506511Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.8645ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"50ed17b4-009d-43b6-bb46-5cea6a787722","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 171.946417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"50ed17b4-009d-43b6-bb46-5cea6a787722","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-09-22T12:42:23.111923321Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"4accf1d0-6d7b-47e5-a169-507079dac076","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"50ed17b4-009d-43b6-bb46-5cea6a787722","status":"warning","updated_at":"2026-09-22T12:42:23.111923321Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 233.319709ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/4accf1d0-6d7b-47e5-a169-507079dac076
        method: GET
      response:
        body: '{"created_at":"2026-09-22T12:42:23.111923Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"4accf1d0-6d7b-47e5-a169-507079dac076","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"50ed17b4-009d-43b6-bb46-5cea6a787722","status":"warning","updated_at":"2026-09-22T12:42:23.111923Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.752833ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ec902030-c4c5-4227-ae0c-3ff4aa24b558
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124222Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-region-ref-edgeservices
            X-Amz-Request-Id:
                - txg369ec0bec0be4d1abf97-006ab277af
        status: 200 OK
        code: 200
        duration: 8.86163975s
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 713c90b1-084d-437b-93a0-ec54e178c130
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124231Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgdca94449fff448608819-006ab277b7
        status: 200 OK
        code: 200
        duration: 293.630583ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 97830491-c116-4669-9921-b8257ac4bb6e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124231Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>50ed17b4-009d-43b6-bb46-5cea6a787722:50ed17b4-009d-43b6-bb46-5cea6a787722</DisplayName><ID>50ed17b4-009d-43b6-bb46-5cea6a787722:50ed17b4-009d-43b6-bb46-5cea6a787722</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>50ed17b4-009d-43b6-bb46-5cea6a787722:50ed17b4-009d-43b6-bb46-5cea6a787722</ID><DisplayName>50ed17b4-009d-43b6-bb46-5cea6a787722:50ed17b4-009d-43b6-bb46-5cea6a787722</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg56288137a8294382b6ce-006ab277b7
        status: 200 OK
        code: 200
        duration: 168.348625ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c227011e-2480-4955-b25a-be67eae2caed
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124231Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6f189bfab0104ffd906c-006ab277b8</RequestId><HostId>txg6f189bfab0104ffd906c-006ab277b8</HostId><Resource>/test-acc-scaleway-object-bucket-region-ref-edgeservices</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6f189bfab0104ffd906c-006ab277b8
        status: 404 Not Found
        code: 404
        duration: 130.917916ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5b5037ce-64be-4aea-ae4a-bd9553ee5acf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124232Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-region-ref-edgeservices</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg730f820c66fd4282b5dc-006ab277b8
        status: 200 OK
        code: 200
        duration: 321.226833ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f87433a3-3caf-4a6b-8579-ede26712a64f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124232Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg775e71a0a11145e7acc4-006ab277b8</RequestId><HostId>txg775e71a0a11145e7acc4-006ab277b8</HostId><Resource>/test-acc-scaleway-object-bucket-region-ref-edgeservices</Resource><BucketName>test-acc-scaleway-object-bucket-region-ref-edgeservices</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg775e71a0a11145e7acc4-006ab277b8
        status: 404 Not Found
        code: 404
        duration: 220.983792ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b569ebda-2c19-46c7-b93a-e5071b27cd2f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124232Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg002c4a757a6b4351b0d8-006ab277b8</RequestId><HostId>txg002c4a757a6b4351b0d8-006ab277b8</HostId><Resource>/test-acc-scaleway-object-bucket-region-ref-edgeservices</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg002c4a757a6b4351b0d8-006ab277b8
        status: 404 Not Found
        code: 404
        duration: 310.650542ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d8e6c449-7159-4838-93a7-dac16477b791
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124232Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg71b080d25ff7464b9834-006ab277b9
        status: 200 OK
        code: 200
        duration: 301.201542ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c0572a56-e4a7-4bf7-abba-9bbdc572aa8a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260922T124233Z
        url: https://test-acc-scaleway-object-bucket-region-ref-edgeservices.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg67ade70440fd458d8b1d-006ab277b9</RequestId><HostId>txg67ade70440fd458d8b1d-006ab277b9</HostId><Resource>/test-acc-scaleway-object-bucket-region-ref-edgeservices</Resource><BucketName>test-acc-scaleway-object-bucket-region-ref-edgeservices</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg67ade70440fd458d8b1d-006ab277b9
        status: 404 Not Found
        code: 404
        duration: 193.765209ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-region-ref-edgeservices","bucket_region":"nl-ams","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/4accf1d0-6d7b-47e5-a169-507079dac076/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-09-22T12:42:34.686062324Z","id":"72ff8515-990f-47a6-b9e9-640b3e78593c","pipeline_id":"4accf1d0-6d7b-47e5-a169-507079dac076","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-region-ref-edgeservices","bucket_region":"nl-ams","is_website":false},"status":"inactive","updated_at":"2026-09-22T12:42:34.686062324Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.097234667s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/72ff8515-990f-47a6-b9e9-640b3e78593c
        method: GET
      response:
        body: '{"created_at":"2026-09-22T12:42:34.686062Z","id":"72ff8515-990f-47a6-b9e9-640b3e78593c","pipeline_id":"4accf1d0-6d7b-47e5-a169-507079dac076","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-region-ref-edgeservices","bucket_region":"nl-ams","is_website":false},"status":"inactive","updated_at":"2026-09-22T12:42:34.686062Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 139.36275ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/50ed17b4-009d-43b6-bb46-5cea6a787722
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.780625ms
[...]
