---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-03-26T08:52:23.524205643Z","description":"pipeline description","errors":[],"id":"eec1bc8b-416d-427d-852e-02a6b2ff4b06","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-26T08:52:23.524205643Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.502491ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/eec1bc8b-416d-427d-852e-02a6b2ff4b06
        method: GET
      response:
        body: '{"created_at":"2025-03-26T08:52:23.524205Z","description":"pipeline description","errors":[],"id":"eec1bc8b-416d-427d-852e-02a6b2ff4b06","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-26T08:52:23.524205Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.644088ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/eec1bc8b-416d-427d-852e-02a6b2ff4b06/waf-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-26T08:52:23.799835302Z","id":"b761f774-40dc-4a86-90b9-a92bcebb6851","mode":"enable","paranoia_level":3,"pipeline_id":"eec1bc8b-416d-427d-852e-02a6b2ff4b06","updated_at":"2025-03-26T08:52:23.799835302Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.565765ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/b761f774-40dc-4a86-90b9-a92bcebb6851
        method: GET
      response:
        body: '{"created_at":"2025-03-26T08:52:23.799835Z","id":"b761f774-40dc-4a86-90b9-a92bcebb6851","mode":"enable","paranoia_level":3,"pipeline_id":"eec1bc8b-416d-427d-852e-02a6b2ff4b06","updated_at":"2025-03-26T08:52:23.799835Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.526841ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/b761f774-40dc-4a86-90b9-a92bcebb6851
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 106.825439ms
