---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-01-14T21:03:22.620608845Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"d9aa5dbe-2553-43dd-bf84-cdf8430f39a0","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-01-14T21:03:22.620608845Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.548084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d9aa5dbe-2553-43dd-bf84-cdf8430f39a0
        method: GET
      response:
        body: '{"created_at":"2026-01-14T21:03:22.620608Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"d9aa5dbe-2553-43dd-bf84-cdf8430f39a0","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-01-14T21:03:22.620608Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.586875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s","include_cookies":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d9aa5dbe-2553-43dd-bf84-cdf8430f39a0/cache-stages
        method: POST
      response:
        body: '{"created_at":"2026-01-14T21:03:22.780456104Z","fallback_ttl":"3600s","id":"231da141-68e3-48de-974f-162d280fa410","include_cookies":false,"pipeline_id":"d9aa5dbe-2553-43dd-bf84-cdf8430f39a0","updated_at":"2026-01-14T21:03:22.780456104Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.25225ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/231da141-68e3-48de-974f-162d280fa410
        method: GET
      response:
        body: '{"created_at":"2026-01-14T21:03:22.780456Z","fallback_ttl":"3600s","id":"231da141-68e3-48de-974f-162d280fa410","include_cookies":false,"pipeline_id":"d9aa5dbe-2553-43dd-bf84-cdf8430f39a0","updated_at":"2026-01-14T21:03:22.780456Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.316958ms
[...]
