---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.014208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:22:36.494881166Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"a809ac0a-ee6c-48dc-bdaf-e03685754c49","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:22:36.494881166Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.721417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a809ac0a-ee6c-48dc-bdaf-e03685754c49
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:22:36.494881Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"a809ac0a-ee6c-48dc-bdaf-e03685754c49","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-26T15:22:36.494881Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.377917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s","include_cookies":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a809ac0a-ee6c-48dc-bdaf-e03685754c49/cache-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-26T15:22:36.679809210Z","fallback_ttl":"3600s","id":"ed18c16c-3c7f-47b4-8dc4-f0ea34794033","include_cookies":false,"pipeline_id":"a809ac0a-ee6c-48dc-bdaf-e03685754c49","updated_at":"2026-03-26T15:22:36.679809210Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.524334ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/ed18c16c-3c7f-47b4-8dc4-f0ea34794033
        method: GET
      response:
        body: '{"created_at":"2026-03-26T15:22:36.679809Z","fallback_ttl":"3600s","id":"ed18c16c-3c7f-47b4-8dc4-f0ea34794033","include_cookies":false,"pipeline_id":"a809ac0a-ee6c-48dc-bdaf-e03685754c49","updated_at":"2026-03-26T15:22:36.679809Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.561792ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.559625ms
[...]
