---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","fallback_ttl":"3600.000000000s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1alpha1/cache-stages
        method: POST
      response:
        body: '{"created_at":"2024-06-27T13:58:37.708453781Z","fallback_ttl":"3600s","id":"c4d7351d-4a70-46db-bf45-5c14be056703","pipeline_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-06-27T13:58:37.708453781Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.406301ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/cache-stages/c4d7351d-4a70-46db-bf45-5c14be056703
        method: GET
      response:
        body: '{"created_at":"2024-06-27T13:58:37.708453Z","fallback_ttl":"3600s","id":"c4d7351d-4a70-46db-bf45-5c14be056703","pipeline_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-06-27T13:58:37.708453Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.318292ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1alpha1/cache-stages/c4d7351d-4a70-46db-bf45-5c14be056703
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 48.898655ms
