---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-03-26T10:26:32.641789624Z","description":"pipeline description","errors":[],"id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-26T10:26:32.641789624Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.709746089s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340
        method: GET
      response:
        body: '{"created_at":"2025-03-26T10:26:32.641789Z","description":"pipeline description","errors":[],"id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-26T10:26:32.641789Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.286099ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340/waf-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-26T10:26:33.093099552Z","id":"1337b601-899a-4f7c-a978-fb2d86abcad0","mode":"enable","paranoia_level":3,"pipeline_id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","updated_at":"2025-03-26T10:26:33.093099552Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 902.859746ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/1337b601-899a-4f7c-a978-fb2d86abcad0
        method: GET
      response:
        body: '{"created_at":"2025-03-26T10:26:33.093099Z","id":"1337b601-899a-4f7c-a978-fb2d86abcad0","mode":"enable","paranoia_level":3,"pipeline_id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","updated_at":"2025-03-26T10:26:33.093099Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.710075ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 337c0cc5-40fc-4de7-8c6b-6e1e4c87a923
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102630Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-basic-route
            X-Amz-Request-Id:
                - txgbdd433410deb45d7bd74-0067e3d65d
        status: 200 OK
        code: 200
        duration: 7.713638261s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ff4c563f-3793-43b3-a5dd-8b177be46f76
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20250326T102638Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg82092825e34647ad8eb4-0067e3d65e
        status: 200 OK
        code: 200
        duration: 344.95915ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - df69f0bf-a092-4597-b7d0-932302203b66
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102639Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgc2aa5bad1a5a4161a6ac-0067e3d65f
        status: 200 OK
        code: 200
        duration: 234.81805ms
[...]
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 022af387-d802-4835-923d-a4378b9c12cd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102639Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgbf34ffdb0901470b8de2-0067e3d65f
        status: 200 OK
        code: 200
        duration: 177.419187ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2e0c20c9-a15d-46c0-bcde-a53dedce47ef
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102639Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg7019bae900ab4502a12c-0067e3d65f</RequestId><HostId>txg7019bae900ab4502a12c-0067e3d65f</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7019bae900ab4502a12c-0067e3d65f
        status: 404 Not Found
        code: 404
        duration: 179.726098ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4a3e2345-9e03-47c2-8fca-740d024f3ead
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102639Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-basic-route</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2d58e115f8044eaf964b-0067e3d660
        status: 200 OK
        code: 200
        duration: 356.572076ms
[...]
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2870511d-a5c8-47ed-b857-4bca6dace105
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102640Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgda2fc86be5694b848e63-0067e3d660</RequestId><HostId>txgda2fc86be5694b848e63-0067e3d660</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgda2fc86be5694b848e63-0067e3d660
        status: 404 Not Found
        code: 404
        duration: 585.657933ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5b310860-6ec6-4906-89f2-bcc250eabda5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102641Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf15a29dec62f46a2ad65-0067e3d661
        status: 200 OK
        code: 200
        duration: 155.299622ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 967afd9b-6ae0-4caa-bc16-ba05bb66ce6e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T102641Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg998a1ca30b74474aac2d-0067e3d661</RequestId><HostId>txg998a1ca30b74474aac2d-0067e3d661</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource><BucketName>test-acc-scaleway-object-bucket-basic-route</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg998a1ca30b74474aac2d-0067e3d661
        status: 404 Not Found
        code: 404
        duration: 160.05499ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340/backend-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-26T10:26:42.338796872Z","id":"c16ad531-08d9-4455-b882-180c7ba9aabf","pipeline_id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2025-03-26T10:26:42.338796872Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 666.223709ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/c16ad531-08d9-4455-b882-180c7ba9aabf
        method: GET
      response:
        body: '{"created_at":"2025-03-26T10:26:42.338796Z","id":"c16ad531-08d9-4455-b882-180c7ba9aabf","pipeline_id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2025-03-26T10:26:42.338796Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.667088ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"1337b601-899a-4f7c-a978-fb2d86abcad0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340/route-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-26T10:26:42.612173654Z","id":"f157ee76-3c98-4fb1-a230-b6fd6c03d55d","pipeline_id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","updated_at":"2025-03-26T10:26:42.612173654Z","waf_stage_id":"1337b601-899a-4f7c-a978-fb2d86abcad0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.093566ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}},"backend_stage_id":"c16ad531-08d9-4455-b882-180c7ba9aabf"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/f157ee76-3c98-4fb1-a230-b6fd6c03d55d/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"c16ad531-08d9-4455-b882-180c7ba9aabf","position":1,"route_stage_id":"","rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 489.556707ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/f157ee76-3c98-4fb1-a230-b6fd6c03d55d
        method: GET
      response:
        body: '{"created_at":"2025-03-26T10:26:42.612173Z","id":"f157ee76-3c98-4fb1-a230-b6fd6c03d55d","pipeline_id":"5ca2ea3f-ddfc-4b11-bcd7-410c98ddf340","updated_at":"2025-03-26T10:26:43.090704Z","waf_stage_id":"1337b601-899a-4f7c-a978-fb2d86abcad0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.251315ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/f157ee76-3c98-4fb1-a230-b6fd6c03d55d
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 101.588438ms
