---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:58:24.043255793Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"9756cfe0-251e-4af3-a988-543890ca54f9","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T16:58:24.043255793Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.951792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/9756cfe0-251e-4af3-a988-543890ca54f9
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:58:24.043255Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"9756cfe0-251e-4af3-a988-543890ca54f9","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-18T16:58:24.043255Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.149625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/9756cfe0-251e-4af3-a988-543890ca54f9/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:58:24.206845957Z","id":"7139238b-7da1-4ccd-b345-3078413d5863","mode":"enable","paranoia_level":3,"pipeline_id":"9756cfe0-251e-4af3-a988-543890ca54f9","updated_at":"2026-02-18T16:58:24.206845957Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.701625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/7139238b-7da1-4ccd-b345-3078413d5863
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:58:24.206845Z","id":"7139238b-7da1-4ccd-b345-3078413d5863","mode":"enable","paranoia_level":3,"pipeline_id":"9756cfe0-251e-4af3-a988-543890ca54f9","updated_at":"2026-02-18T16:58:24.206845Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.84375ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - db76474a-83a3-45a4-9d9f-46a7752f570e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165823Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-basic-route
            X-Amz-Request-Id:
                - txg11567adb239a4665a14b-006995efaf
        status: 200 OK
        code: 200
        duration: 3.632160417s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 75834bed-3429-447d-ad72-854dc451b765
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260218T165827Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg925e34ba7e7c4abc9ce5-006995efb3
        status: 200 OK
        code: 200
        duration: 279.368917ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d3d0956f-99ca-4acc-9b55-b5ad1aa748cb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165827Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg9358e9686fd24399b7b4-006995efb3
        status: 200 OK
        code: 200
        duration: 89.050042ms
[...]
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e807f4e0-5459-411a-b073-b85dd05c8a8b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165827Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd675a1bd7a5b4ac49998-006995efb3
        status: 200 OK
        code: 200
        duration: 111.956584ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 83bc587e-c3fa-4d10-a9fe-e1c5ed365d97
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165828Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg67c70f61411d4000b34e-006995efb4</RequestId><HostId>txg67c70f61411d4000b34e-006995efb4</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg67c70f61411d4000b34e-006995efb4
        status: 404 Not Found
        code: 404
        duration: 60.186ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - df6a5abf-fa4b-41ce-8104-47149cdfaca7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165828Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-basic-route</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8c06526f95864dacbffb-006995efb4
        status: 200 OK
        code: 200
        duration: 157.681292ms
[...]
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 89a1b148-7691-4c38-8af0-007c2ac89227
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165828Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgeb631489364043999be1-006995efb4</RequestId><HostId>txgeb631489364043999be1-006995efb4</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgeb631489364043999be1-006995efb4
        status: 404 Not Found
        code: 404
        duration: 157.424416ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - be6a4050-7f6e-4cc4-8860-95d57b28dee4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165828Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txged7e3adb2628461ea537-006995efb4
        status: 200 OK
        code: 200
        duration: 39.687709ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 316e7087-7ae1-4b6c-bd04-1303918a0ddf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260218T165828Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg4ecfd6e319534906976e-006995efb4</RequestId><HostId>txg4ecfd6e319534906976e-006995efb4</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource><BucketName>test-acc-scaleway-object-bucket-basic-route</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4ecfd6e319534906976e-006995efb4
        status: 404 Not Found
        code: 404
        duration: 68.34375ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/9756cfe0-251e-4af3-a988-543890ca54f9/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:58:29.126198441Z","id":"ab740eeb-591c-4706-b867-a4a10276633d","pipeline_id":"9756cfe0-251e-4af3-a988-543890ca54f9","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-02-18T16:58:29.126198441Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 537.499ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/ab740eeb-591c-4706-b867-a4a10276633d
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:58:29.126198Z","id":"ab740eeb-591c-4706-b867-a4a10276633d","pipeline_id":"9756cfe0-251e-4af3-a988-543890ca54f9","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-02-18T16:58:29.126198Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.727375ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"7139238b-7da1-4ccd-b345-3078413d5863"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/9756cfe0-251e-4af3-a988-543890ca54f9/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-18T16:58:29.287052079Z","id":"a5e22425-f0d7-477f-956f-2b396f086412","pipeline_id":"9756cfe0-251e-4af3-a988-543890ca54f9","updated_at":"2026-02-18T16:58:29.287052079Z","waf_stage_id":"7139238b-7da1-4ccd-b345-3078413d5863"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.269583ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}},"backend_stage_id":"ab740eeb-591c-4706-b867-a4a10276633d"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/a5e22425-f0d7-477f-956f-2b396f086412/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"ab740eeb-591c-4706-b867-a4a10276633d","position":1,"route_stage_id":"a5e22425-f0d7-477f-956f-2b396f086412","rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.854209ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/a5e22425-f0d7-477f-956f-2b396f086412
        method: GET
      response:
        body: '{"created_at":"2026-02-18T16:58:29.287052Z","id":"a5e22425-f0d7-477f-956f-2b396f086412","pipeline_id":"9756cfe0-251e-4af3-a988-543890ca54f9","updated_at":"2026-02-18T16:58:29.414040Z","waf_stage_id":"7139238b-7da1-4ccd-b345-3078413d5863"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.840292ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/a5e22425-f0d7-477f-956f-2b396f086412/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"ab740eeb-591c-4706-b867-a4a10276633d","position":1,"route_stage_id":"a5e22425-f0d7-477f-956f-2b396f086412","rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.5445ms
[...]
