---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline-waf-rule","description":"pipeline for waf rule test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-03-17T15:05:15.695245242Z","description":"pipeline for waf rule test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","name":"my-edge-services-pipeline-waf-rule","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-17T15:05:15.695245242Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 741.189625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2
        method: GET
      response:
        body: '{"created_at":"2026-03-17T15:05:15.695245Z","description":"pipeline for waf rule test","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","name":"my-edge-services-pipeline-waf-rule","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-03-17T15:05:15.695245Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.672709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-17T15:05:15.973798802Z","id":"6ae3164d-1608-4105-802d-e900349782ae","mode":"enable","paranoia_level":2,"pipeline_id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","updated_at":"2026-03-17T15:05:15.973798802Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.7825ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/6ae3164d-1608-4105-802d-e900349782ae
        method: GET
      response:
        body: '{"created_at":"2026-03-17T15:05:15.973798Z","id":"6ae3164d-1608-4105-802d-e900349782ae","mode":"enable","paranoia_level":2,"pipeline_id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","updated_at":"2026-03-17T15:05:15.973798Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.458167ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d48398ef-c778-4d2b-919f-341a91e349e6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150515Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-waf-route-rule
            X-Amz-Request-Id:
                - txg1fe207b6839f454f8b2e-0069b96dad
        status: 200 OK
        code: 200
        duration: 3.36635675s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6514eb11-db70-45ee-9d57-40a86da18260
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260317T150518Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg4eac0b4ac8f846f4b7dd-0069b96dae
        status: 200 OK
        code: 200
        duration: 190.020416ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d75fd89b-7b47-4092-b338-61af4293873f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150518Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg8ed8ef51c5d04be6a1b8-0069b96dae
        status: 200 OK
        code: 200
        duration: 94.89675ms
[...]
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 647d85d3-b958-4df0-8122-3591adfcadfb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150519Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf8fbd2fa3c9a483986e8-0069b96daf
        status: 200 OK
        code: 200
        duration: 52.507333ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 077c9fe1-9cb9-43da-b6cb-0bf6f5ea9132
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150519Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgc5b858f482a64406bc78-0069b96daf</RequestId><HostId>txgc5b858f482a64406bc78-0069b96daf</HostId><Resource>/test-acc-scaleway-object-bucket-waf-route-rule</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc5b858f482a64406bc78-0069b96daf
        status: 404 Not Found
        code: 404
        duration: 46.292583ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b5ede77a-224e-4377-a996-75430f417a60
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150519Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-waf-route-rule</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb1c22d8a70424546ac34-0069b96daf
        status: 200 OK
        code: 200
        duration: 384.464292ms
[...]
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2d7eb791-ff6e-4303-9b9d-5d50cf2b11ad
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150519Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg5bf5f757ee7e46b89518-0069b96daf</RequestId><HostId>txg5bf5f757ee7e46b89518-0069b96daf</HostId><Resource>/test-acc-scaleway-object-bucket-waf-route-rule</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5bf5f757ee7e46b89518-0069b96daf
        status: 404 Not Found
        code: 404
        duration: 70.905208ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 57841547-2f0c-433b-96bd-dc39dbfd02ef
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150519Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3d6f36e02f95403f9007-0069b96daf
        status: 200 OK
        code: 200
        duration: 162.686084ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c08b40e6-4d12-4537-90f1-fd60636e10b0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260317T150519Z
        url: https://test-acc-scaleway-object-bucket-waf-route-rule.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgf1eda653b9fb40e88905-0069b96daf</RequestId><HostId>txgf1eda653b9fb40e88905-0069b96daf</HostId><Resource>/test-acc-scaleway-object-bucket-waf-route-rule</Resource><BucketName>test-acc-scaleway-object-bucket-waf-route-rule</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf1eda653b9fb40e88905-0069b96daf
        status: 404 Not Found
        code: 404
        duration: 154.363334ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-waf-route-rule","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-03-17T15:05:20.797085576Z","id":"07775566-de6a-448f-8e79-1d998068b132","pipeline_id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-waf-route-rule","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-17T15:05:20.797085576Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 757.153875ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/07775566-de6a-448f-8e79-1d998068b132
        method: GET
      response:
        body: '{"created_at":"2026-03-17T15:05:20.797085Z","id":"07775566-de6a-448f-8e79-1d998068b132","pipeline_id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-waf-route-rule","bucket_region":"fr-par","is_website":false},"updated_at":"2026-03-17T15:05:20.797085Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.673833ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"backend_stage_id":"07775566-de6a-448f-8e79-1d998068b132"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2/route-stages
        method: POST
      response:
        body: '{"backend_stage_id":"07775566-de6a-448f-8e79-1d998068b132","created_at":"2026-03-17T15:05:20.963811791Z","id":"dd18c272-713a-459e-b45e-73ae3312dbe1","pipeline_id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","updated_at":"2026-03-17T15:05:20.963811791Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.007333ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":"/api/.*"}},"waf_stage_id":"6ae3164d-1608-4105-802d-e900349782ae"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/dd18c272-713a-459e-b45e-73ae3312dbe1/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"position":1,"route_stage_id":"dd18c272-713a-459e-b45e-73ae3312dbe1","rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":"/api/.*"}},"waf_stage_id":"6ae3164d-1608-4105-802d-e900349782ae"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.68225ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/dd18c272-713a-459e-b45e-73ae3312dbe1
        method: GET
      response:
        body: '{"backend_stage_id":"07775566-de6a-448f-8e79-1d998068b132","created_at":"2026-03-17T15:05:20.963811Z","id":"dd18c272-713a-459e-b45e-73ae3312dbe1","pipeline_id":"0d65bc9c-89c2-4a7b-b0bb-6ea74f6924e2","updated_at":"2026-03-17T15:05:21.186223Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.251167ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/dd18c272-713a-459e-b45e-73ae3312dbe1/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"position":1,"route_stage_id":"dd18c272-713a-459e-b45e-73ae3312dbe1","rule_http_match":{"method_filters":["get"],"path_filter":{"path_filter_type":"regex","value":"/api/.*"}},"waf_stage_id":"6ae3164d-1608-4105-802d-e900349782ae"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.926ms
[...]
