---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_edge_services_project_backend-lb","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:10.150959Z","description":"","id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","name":"tf_tests_edge_services_project_backend-lb","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":null,"updated_at":"2026-07-21T14:49:10.150959Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.503002ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d4199e12-172e-42f6-9a9b-44c1e0ba84d6
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:10.150959Z","description":"","id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","name":"tf_tests_edge_services_project_backend-lb","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-07-21T14:49:10.150959Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.85808ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"08c157fc-e6f9-43cc-b139-6e100c151dee","ip_address":"51.158.99.27","lb_id":null,"organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","reverse":"51-158-99-27.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.968448ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/08c157fc-e6f9-43cc-b139-6e100c151dee
        method: GET
      response:
        body: '{"id":"08c157fc-e6f9-43cc-b139-6e100c151dee","ip_address":"51.158.99.27","lb_id":null,"organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","reverse":"51-158-99-27.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.664163ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","plan_name":"starter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan
        method: PATCH
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.055967ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:10.606331463Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"eb10f2f7-f3ca-490d-846a-8b13f66987fc","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","status":"warning","updated_at":"2026-07-21T14:49:10.606331463Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.810872ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/eb10f2f7-f3ca-490d-846a-8b13f66987fc
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:10.606331Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"eb10f2f7-f3ca-490d-846a-8b13f66987fc","name":"my-edge_services-pipeline","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","status":"warning","updated_at":"2026-07-21T14:49:10.606331Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.285971ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","name":"lb_name","description":"","ip_id":"08c157fc-e6f9-43cc-b139-6e100c151dee","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T14:49:10.644020210Z","description":"","frontend_count":0,"id":"29ec03c7-801e-4763-ab70-724df58cdead","instances":[],"ip":[{"id":"08c157fc-e6f9-43cc-b139-6e100c151dee","ip_address":"51.158.99.27","lb_id":"29ec03c7-801e-4763-ab70-724df58cdead","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","reverse":"51-158-99-27.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T14:49:10.644020210Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 376.269149ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29ec03c7-801e-4763-ab70-724df58cdead
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T14:49:10.644020Z","description":"","frontend_count":0,"id":"29ec03c7-801e-4763-ab70-724df58cdead","instances":[],"ip":[{"id":"08c157fc-e6f9-43cc-b139-6e100c151dee","ip_address":"51.158.99.27","lb_id":"29ec03c7-801e-4763-ab70-724df58cdead","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","reverse":"51-158-99-27.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T14:49:10.644020Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.081566ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29ec03c7-801e-4763-ab70-724df58cdead/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.689713ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"backend","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"http_config":{"uri":"/healthcheck","method":"GET","code":200,"host_header":""},"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":true,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29ec03c7-801e-4763-ab70-724df58cdead/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:49:41.384417363Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"host":"","id":"b10d05d0-dc50-45af-8450-7489be3c6875","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T14:49:10.644020Z","description":"","frontend_count":0,"id":"29ec03c7-801e-4763-ab70-724df58cdead","instances":[{"created_at":"2026-07-21T14:44:08.584017Z","id":"0f720daa-252c-4cee-b5d5-14e2323b32ea","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T14:49:41.413168199Z","zone":"fr-par-1"}],"ip":[{"id":"08c157fc-e6f9-43cc-b139-6e100c151dee","ip_address":"51.158.99.27","lb_id":"29ec03c7-801e-4763-ab70-724df58cdead","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","reverse":"51-158-99-27.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T14:49:14.439327Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"backend","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":true,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T14:49:41.384417363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.982321ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert","letsencrypt":{"common_name":"51-158-99-27.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29ec03c7-801e-4763-ab70-724df58cdead/certificates
        method: POST
      response:
        body: '{"common_name":"51-158-99-27.lb.fr-par.scw.cloud","created_at":"2026-07-21T14:49:41.509609929Z","fingerprint":"","id":"5a3feab4-740d-4361-b4e6-433cc46a30a3","lb":{"backend_count":1,"created_at":"2026-07-21T14:49:10.644020Z","description":"","frontend_count":0,"id":"29ec03c7-801e-4763-ab70-724df58cdead","instances":[{"created_at":"2026-07-21T14:44:08.584017Z","id":"0f720daa-252c-4cee-b5d5-14e2323b32ea","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T14:49:41.413168Z","zone":"fr-par-1"}],"ip":[{"id":"08c157fc-e6f9-43cc-b139-6e100c151dee","ip_address":"51.158.99.27","lb_id":"29ec03c7-801e-4763-ab70-724df58cdead","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","reverse":"51-158-99-27.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"lb_name","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"d4199e12-172e-42f6-9a9b-44c1e0ba84d6","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T14:49:41.528052061Z","zone":"fr-par-1"},"name":"test-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencrypt","updated_at":"2026-07-21T14:49:41.509609929Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 415.769108ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/b10d05d0-dc50-45af-8450-7489be3c6875
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:49:41.384417Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/5a3feab4-740d-4361-b4e6-433cc46a30a3
        method: GET
      response:
        body: '{"common_name":"51-158-99-27.lb.fr-par.scw.cloud","created_at":"2026-07-21T14:49:41.509610Z","fingerprint":"","id":"5a3feab4-740d-4361-b4e6-433cc46a30a3","lb":{"backend_count":1,"created_at":"2026-07-21T14:49:10.644020Z","descript[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"b10d05d0-dc50-45af-8450-7489be3c6875","certificate_ids":["5a3feab4-740d-4361-b4e6-433cc46a30a3"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29ec03c7-801e-4763-ab70-724df58cdead/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T14:49:41.384417Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":200,"host_header":"","method":"GET","uri":"/healthcheck"},"port":80,"transient_check_delay":"0.500s"},"host":"","id":"b10d05d0-dc50-45af-8450-7489be3c6875","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"name":"frontend","inbound_port":443,"backend_id":"b10d05d0-dc50-45af-8450-7489be3c6875","certificate_ids":["5a3feab4-740d-4361-b4e6-433cc46a30a3"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4fc12a6c-b4bf-4510-94dd-7db5a816c00a
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4fc12a6c-b4bf-4510-94dd-7db5a816c00a/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.266305ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"scaleway_lb":{"lbs":[{"id":"29ec03c7-801e-4763-ab70-724df58cdead","zone":"fr-par-1","frontend_id":"4fc12a6c-b4bf-4510-94dd-7db5a816c00a","is_ssl":true,"domain_name":null,"has_websocket":false,"private_network_id":null}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/eb10f2f7-f3ca-490d-846a-8b13f66987fc/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-07-21T14:50:14.211838483Z","id":"34de1fbe-2ac7-410f-8618-5edc288029ab","pipeline_id":"eb10f2f7-f3ca-490d-846a-8b13f66987fc","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"4fc12a6c-b4bf-4510-94dd-7db5a816c00a","has_websocket":false,"id":"29ec03c7-801e-4763-ab70-724df58cdead","is_ssl":true,"private_network_id":null,"zone":"fr-par-1"}]},"status":"inactive","updated_at":"2026-07-21T14:50:14.211838483Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 691.852628ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/34de1fbe-2ac7-410f-8618-5edc288029ab
        method: GET
      response:
        body: '{"created_at":"2026-07-21T14:50:14.211838Z","id":"34de1fbe-2ac7-410f-8618-5edc288029ab","pipeline_id":"eb10f2f7-f3ca-490d-846a-8b13f66987fc","scaleway_lb":{"lbs":[{"domain_name":"","frontend_id":"4fc12a6c-b4bf-4510-94dd-7db5a816c00a","has_websocket":false,"id":"29ec03c7-801e-4763-ab70-724df58cdead","is_ssl":true,"private_network_id":null,"zone":"fr-par-1"}]},"status":"inactive","updated_at":"2026-07-21T14:50:14.211838Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.598013ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/current-plan/d4199e12-172e-42f6-9a9b-44c1e0ba84d6
        method: GET
      response:
        body: '{"plan_name":"starter"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.586365ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29ec03c7-801e-4763-ab70-724df58cdead?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 240.969216ms
[...]
