---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-03-06T14:14:46.508264579Z","description":"pipeline description","errors":[],"id":"8adc7a75-071c-4dc2-902c-28f1e6bec41b","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-06T14:14:46.508264579Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.193855ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8adc7a75-071c-4dc2-902c-28f1e6bec41b
        method: GET
      response:
        body: '{"created_at":"2025-03-06T14:14:46.508264Z","description":"pipeline description","errors":[],"id":"8adc7a75-071c-4dc2-902c-28f1e6bec41b","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-06T14:14:46.508264Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.60513ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"secrets":null,"managed_certificate":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/8adc7a75-071c-4dc2-902c-28f1e6bec41b/tls-stages
        method: POST
      response:
        body: '{"certificate_expires_at":null,"created_at":"2025-03-06T14:14:46.703003572Z","id":"1ac01c3f-fe42-4ee8-a278-29cb3c5c8e87","managed_certificate":true,"pipeline_id":"8adc7a75-071c-4dc2-902c-28f1e6bec41b","secrets":[],"updated_at":"2025-03-06T14:14:46.703003572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.709463ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/1ac01c3f-fe42-4ee8-a278-29cb3c5c8e87
        method: GET
      response:
        body: '{"certificate_expires_at":null,"created_at":"2025-03-06T14:14:46.703003Z","id":"1ac01c3f-fe42-4ee8-a278-29cb3c5c8e87","managed_certificate":true,"pipeline_id":"8adc7a75-071c-4dc2-902c-28f1e6bec41b","secrets":[],"updated_at":"2025-03-06T14:14:46.703003Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.760171ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/1ac01c3f-fe42-4ee8-a278-29cb3c5c8e87
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 48.809384ms
