---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines
    method: POST
  response:
    body: "{\"id\":\"32d0ccca-11e0-48a7-ab2e-344851a9d58a\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.221329591Z\",\"updated_at\":\"2025-08-26T16:25:34.221329591Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.824435521s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/32d0ccca-11e0-48a7-ab2e-344851a9d58a
    method: GET
  response:
    body: "{\"id\":\"32d0ccca-11e0-48a7-ab2e-344851a9d58a\",\"name\":\"my-edge_services-pipeline\",\"description\":\"pipeline description\",\"status\":\"pending\",\"errors\":[],\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:25:34.221329Z\",\"updated_at\":\"2025-08-26T16:25:34.221329Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.428931ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"secrets\":null,\"managed_certificate\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/edge-services/v1beta1/pipelines/32d0ccca-11e0-48a7-ab2e-344851a9d58a/tls-stages
    method: POST
  response:
    body: "{\"id\":\"57677c9d-8fe5-4cf4-8190-7e712e494f69\",\"secrets\":[],\"managed_certificate\":true,\"pipeline_id\":\"32d0ccca-11e0-48a7-ab2e-344851a9d58a\",\"certificate_expires_at\":null,\"created_at\":\"2025-08-26T16:25:34.530226944Z\",\"updated_at\":\"2025-08-26T16:25:34.530226944Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 186.721301ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/57677c9d-8fe5-4cf4-8190-7e712e494f69
    method: GET
  response:
    body: "{\"id\":\"57677c9d-8fe5-4cf4-8190-7e712e494f69\",\"secrets\":[],\"managed_certificate\":true,\"pipeline_id\":\"32d0ccca-11e0-48a7-ab2e-344851a9d58a\",\"certificate_expires_at\":null,\"created_at\":\"2025-08-26T16:25:34.530226Z\",\"updated_at\":\"2025-08-26T16:25:34.530226Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 152.813576ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/57677c9d-8fe5-4cf4-8190-7e712e494f69
    method: DELETE
  response:
    body: "{\"message\":\"Permission denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 326.665791ms
