---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline-waf-exclusions","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-10-06T07:13:09.062972281Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"d369aee2-354a-4d5c-95f2-ec75e1b97d8b","name":"my-edge_services-pipeline-waf-exclusions","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-10-06T07:13:09.062972281Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 268.015ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d369aee2-354a-4d5c-95f2-ec75e1b97d8b
        method: GET
      response:
        body: '{"created_at":"2026-10-06T07:13:09.062972Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"unknown_stage","type":"config"}],"id":"d369aee2-354a-4d5c-95f2-ec75e1b97d8b","name":"my-edge_services-pipeline-waf-exclusions","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-10-06T07:13:09.062972Z","vpc_endpoint_ids":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.482209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3,"exclusion_rules":{"rules":[{"rule_id":942100},{"rule_id":920350}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/d369aee2-354a-4d5c-95f2-ec75e1b97d8b/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-10-06T07:13:09.310302981Z","exclusion_rules":[{"rule_id":942100},{"rule_id":920350}],"id":"69b44d9b-88a8-4d78-93fa-778a5b206d6c","mode":"enable","paranoia_level":3,"pipeline_id":"d369aee2-354a-4d5c-95f2-ec75e1b97d8b","status":"inactive","updated_at":"2026-10-06T07:13:09.310302981Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.932333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/69b44d9b-88a8-4d78-93fa-778a5b206d6c
        method: GET
      response:
        body: '{"created_at":"2026-10-06T07:13:09.310302Z","exclusion_rules":[{"rule_id":942100},{"rule_id":920350}],"id":"69b44d9b-88a8-4d78-93fa-778a5b206d6c","mode":"enable","paranoia_level":3,"pipeline_id":"d369aee2-354a-4d5c-95f2-ec75e1b97d8b","status":"inactive","updated_at":"2026-10-06T07:13:09.310302Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.188083ms
[...]
