---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2025-03-26T08:53:43.904677185Z","description":"pipeline description","errors":[],"id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-26T08:53:43.904677185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 607.958537ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7e532dc0-dd42-4746-8e2b-00f2a8cd3c60
        method: GET
      response:
        body: '{"created_at":"2025-03-26T08:53:43.904677Z","description":"pipeline description","errors":[],"id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","updated_at":"2025-03-26T08:53:43.904677Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.348772ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7e532dc0-dd42-4746-8e2b-00f2a8cd3c60/waf-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-26T08:53:44.430630360Z","id":"3433f721-fcc8-4bc0-9d2d-f75c9a2f79be","mode":"enable","paranoia_level":3,"pipeline_id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","updated_at":"2025-03-26T08:53:44.430630360Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.003637ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/3433f721-fcc8-4bc0-9d2d-f75c9a2f79be
        method: GET
      response:
        body: '{"created_at":"2025-03-26T08:53:44.430630Z","id":"3433f721-fcc8-4bc0-9d2d-f75c9a2f79be","mode":"enable","paranoia_level":3,"pipeline_id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","updated_at":"2025-03-26T08:53:44.430630Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.890155ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c4acf523-a8fc-4322-9cbb-cf4cd74917a3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085343Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-basic-route
            X-Amz-Request-Id:
                - txgda4ba8ec4e234df9ae10-0067e3c097
        status: 200 OK
        code: 200
        duration: 1.094417976s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 82bba651-4dff-4831-89c4-712509fb3a9b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20250326T085344Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg3be4bfcc7a73428ca420-0067e3c098
        status: 200 OK
        code: 200
        duration: 267.310903ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d90b3c87-e5d9-4c60-9cf1-19391000f6a3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085344Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg06da3d542c094c699ae1-0067e3c099
        status: 200 OK
        code: 200
        duration: 284.820197ms
[...]
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e96d558a-15ae-4e3e-892b-65859d0e297b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085345Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3f1362c186bc488ab19f-0067e3c099
        status: 200 OK
        code: 200
        duration: 150.200654ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3079e45a-8136-47c6-bb64-a6aa0d402592
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085345Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg5a180eed529840b69742-0067e3c099</RequestId><HostId>txg5a180eed529840b69742-0067e3c099</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5a180eed529840b69742-0067e3c099
        status: 404 Not Found
        code: 404
        duration: 243.104133ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f77f8563-f966-4461-839f-7d3a40133d37
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085345Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-basic-route</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5321d99d1e2944a6b3e5-0067e3c099
        status: 200 OK
        code: 200
        duration: 255.068192ms
[...]
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cf958422-cc96-4cad-9537-336a5ff973fc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085346Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgc7e885b0eab84445b375-0067e3c09a</RequestId><HostId>txgc7e885b0eab84445b375-0067e3c09a</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc7e885b0eab84445b375-0067e3c09a
        status: 404 Not Found
        code: 404
        duration: 244.156466ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d00ce584-8e50-48b0-99e0-87b70e7d551b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085346Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg543abbd1e0914f8fb470-0067e3c09a
        status: 200 OK
        code: 200
        duration: 156.246359ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ee510690-3078-4245-823a-780b019c5c80
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250326T085346Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txge58f68a62dff418ebe5d-0067e3c09a</RequestId><HostId>txge58f68a62dff418ebe5d-0067e3c09a</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource><BucketName>test-acc-scaleway-object-bucket-basic-route</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge58f68a62dff418ebe5d-0067e3c09a
        status: 404 Not Found
        code: 404
        duration: 150.534543ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7e532dc0-dd42-4746-8e2b-00f2a8cd3c60/backend-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-26T08:53:47.289037081Z","id":"643e8574-2606-4482-9e2f-8a2e6d09a178","pipeline_id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2025-03-26T08:53:47.289037081Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 404.837112ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/643e8574-2606-4482-9e2f-8a2e6d09a178
        method: GET
      response:
        body: '{"created_at":"2025-03-26T08:53:47.289037Z","id":"643e8574-2606-4482-9e2f-8a2e6d09a178","pipeline_id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2025-03-26T08:53:47.289037Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.202319ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"3433f721-fcc8-4bc0-9d2d-f75c9a2f79be"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/7e532dc0-dd42-4746-8e2b-00f2a8cd3c60/route-stages
        method: POST
      response:
        body: '{"created_at":"2025-03-26T08:53:47.558565127Z","id":"91e1782d-aed7-4020-bbfa-621f9ec52855","pipeline_id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","updated_at":"2025-03-26T08:53:47.558565127Z","waf_stage_id":"3433f721-fcc8-4bc0-9d2d-f75c9a2f79be"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.617411ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}},"backend_stage_id":"643e8574-2606-4482-9e2f-8a2e6d09a178"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/91e1782d-aed7-4020-bbfa-621f9ec52855/route-rules
        method: POST
      response:
        body: '{"route_rules":[{"backend_stage_id":"643e8574-2606-4482-9e2f-8a2e6d09a178","position":1,"route_stage_id":"","rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.724933ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/91e1782d-aed7-4020-bbfa-621f9ec52855
        method: GET
      response:
        body: '{"created_at":"2025-03-26T08:53:47.558565Z","id":"91e1782d-aed7-4020-bbfa-621f9ec52855","pipeline_id":"7e532dc0-dd42-4746-8e2b-00f2a8cd3c60","updated_at":"2025-03-26T08:53:47.800328Z","waf_stage_id":"3433f721-fcc8-4bc0-9d2d-f75c9a2f79be"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.072175ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/91e1782d-aed7-4020-bbfa-621f9ec52855
        method: DELETE
      response:
        body: '{"message":"Permission denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 97.349163ms
