---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"M4-M","enable_vpc":false,"commitment_type":"duration_24h","public_bandwidth_bps":1000000000,"enable_kext":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-03-05T08:37:06.746764Z","deletable_at":"2026-03-05T08:37:06.746764Z","deletion_scheduled":false,"delivered":false,"id":"054e3a8d-a84b-463e-87d3-50906b4fc084","ip":"62.210.193.163","name":"TestAccServerBasic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","os":{"compatible_server_types":["M2-M","M2-L","M4-S","M4-M","M4-L","M4-XL","M1-M"],"description":"","family":"Sequoia","id":"61b842ab-b655-4d3c-a065-f7db5e9fb971","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.6","name":"macos-sequoia-15.6","release_notes_url":"","supported_server_types":[],"tags":["macos","apple","apple-license"],"version":"15.6.1","xcode_version":"16"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_bandwidth_bps":1000000000,"runner_configuration":null,"ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","tags":[],"type":"M4-M","updated_at":"2026-03-05T08:37:06.746764Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 420.60525ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/054e3a8d-a84b-463e-87d3-50906b4fc084
        method: GET
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-03-05T08:37:06.746764Z","deletable_at":"2026-03-05T08:37:06.746764Z","deletion_scheduled":false,"delivered":false,[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=054e3a8d-a84b-463e-87d3-50906b4fc084
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.3555ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/054e3a8d-a84b-463e-87d3-50906b4fc084/reboot
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-03-05T08:37:06.746764Z","deletable_at":"202[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=RebootServer&order_by=recorded_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=054e3a8d-a84b-463e-87d3-50906b4fc084&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[{"id":"019cbd26-cbc8-7ecc-b7e4-227815235a38","locality":"fr-par","method_name":"RebootServer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","principal":{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"},"product_name":"apple-silicon","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","recorded_at":"2026-03-05T08:39:22.309275004Z","request_body":{"server_id":"054e3a8d-a84b-463e-87d3-50906b4fc084"},"request_id":"06e696bd-3201-43d2-9e6d-ee0a126726cc","resources":[{"apple_silicon_server_info":{"id":"054e3a8d-a84b-463e-87d3-50906b4fc084","name":"TestAccServerBasic"},"created_at":"2026-03-05T08:37:06.746764Z","deleted_at":null,"id":"054e3a8d-a84b-463e-87d3-50906b4fc084","name":"TestAccServerBasic","type":"apple_silicon_server","updated_at":"2026-03-05T08:39:22.287237Z"}],"service_name":"scaleway.apple_silicon.v1alpha1.Api","source_ip":"82.225.26.235","status_code":200,"user_agent":"scaleway-sdk-go/v1.0.0-beta.7+dev (go1.26.0; darwin; arm64) terraform-provider/develop terraform/terraform-tests"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.170667ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/054e3a8d-a84b-463e-87d3-50906b4fc084
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 28.15925ms
