---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerBasic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M4-M","enable_vpc":false,"commitment_type":"duration_24h","public_bandwidth_bps":1000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-01-02T09:40:50.626915Z","deletable_at":"2026-01-02T09:40:50.626915Z","deletion_scheduled":false,"delivered":false,"id":"0f4f3289-a140-4a33-a7d8-d8fab7c0141d","ip":"62.210.193.116","name":"TestAccServerBasic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M2-M","M2-L","M4-S","M4-M","M4-L","M4-XL","M1-M"],"description":"","family":"Sequoia","id":"61b842ab-b655-4d3c-a065-f7db5e9fb971","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.6","name":"macos-sequoia-15.6","release_notes_url":"","supported_server_types":[],"tags":[],"version":"15.6.1","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_bandwidth_bps":1000000000,"runner_configuration":null,"ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","tags":[],"type":"M4-M","updated_at":"2026-01-02T09:40:50.626915Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.70325ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/0f4f3289-a140-4a33-a7d8-d8fab7c0141d
        method: GET
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-01-02T09:40:50.626915Z","deletable_at":"2026-01-02T09:40:50.626915Z","deletion_scheduled":false,"delivered":false,[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=0f4f3289-a140-4a33-a7d8-d8fab7c0141d
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.4655ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/0f4f3289-a140-4a33-a7d8-d8fab7c0141d/reboot
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-01-02T09:40:50.626915Z","deletable_at":"202[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=RebootServer&order_by=recorded_at_desc&organization_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_id=0f4f3289-a140-4a33-a7d8-d8fab7c0141d&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[{"id":"019b7e16-ba50-70b6-9cc9-bc181446ac2f","locality":"fr-par","method_name":"RebootServer","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","principal":{"id":"c6d30243-8c79-4999-867f-e901e6f498e7"},"product_name":"apple-silicon","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","recorded_at":"2026-01-02T09:42:57.354706249Z","request_body":{"server_id":"0f4f3289-a140-4a33-a7d8-d8fab7c0141d"},"request_id":"8dc5c8f7-da68-4119-abca-053a55e8f920","resources":[{"apple_silicon_server_info":{"id":"0f4f3289-a140-4a33-a7d8-d8fab7c0141d","name":"TestAccServerBasic"},"created_at":"2026-01-02T09:40:50.626915Z","deleted_at":null,"id":"0f4f3289-a140-4a33-a7d8-d8fab7c0141d","name":"TestAccServerBasic","type":"apple_silicon_server","updated_at":"2026-01-02T09:42:57.333291Z"}],"service_name":"scaleway.apple_silicon.v1alpha1.Api","source_ip":"130.180.219.188","status_code":200,"user_agent":"scaleway-sdk-go/v1.0.0-beta.7+dev (go1.25.3; darwin; arm64) terraform-provider/develop terraform/terraform-tests"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.972125ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/0f4f3289-a140-4a33-a7d8-d8fab7c0141d
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 32.839292ms
