---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/os/cafecafe-5018-4dcd-bd08-35f031b0ac3e
        method: GET
      response:
        body: '{"compatible_server_types":["M2-L"],"description":"Preconfigured with Xcode 26.x and Xcode 16.x. SDKs are included","family":"DevOS","id":"cafecafe-5018-4dcd-bd08-35f031b0ac3e","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/devos.png","is_beta":false,"label":"DevOS Sequoia 15.6","name":"devos-sequoia-15.6","release_notes_url":"https://github.com/actions/runner-images/blob/d4d5736e7d5b88a683d1ea76e7dc74031c71d4c6/images/macos/macos-15-arm64-Readme.md","supported_server_types":[],"tags":["macos","apple","apple-license","runner","github"],"version":"15.6.1","xcode_version":"16"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.595375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"compatible_server_types":["M1-M","M2-L","M2-M"],"description":"","family":"Ventura","id":"59bf09f1-5584-469d-a0f6-55c8fee1ab81","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-ventura.png","is_beta":false,"label":"macOS Ventura 13.6","name":"macos-ventura-13.6","release_notes_url":"","supported_server_types":[{"fast_delivery_available":false,"server_type":"M1-M"},{"fast_delivery_available":true,"server_type":"M2-L"},{"fast_delivery_available":true,"server_type":"M2-M"}],"tags":["macos","apple","apple-license"],"version":"13.6","xcode_version":"14"},{"compatible_server_types":["M2-M","M2-L","M4-S","M4-M","M4-L","M4-XL","M1-M"],"description":"","family":"Tahoe","id":"78b5dee3-3327-4329-b987-b6df82650ca6","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-tahoe.png","is_beta":false,"label":"macOS Tahoe 26.0","name":"maco[...]
[...]
