---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerBasic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M4-M","enable_vpc":false,"commitment_type":"duration_24h","public_bandwidth_bps":1000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-12-30T18:16:58.355486Z","deletable_at":"2025-12-30T18:16:58.355486Z","deletion_scheduled":false,"delivered":false,"id":"4454e829-cca0-4a23-98d0-c3bf5909e0da","ip":"62.210.193.155","name":"TestAccServerBasic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M2-M","M2-L","M4-S","M4-M","M4-L","M4-XL","M1-M"],"description":"","family":"Sequoia","id":"61b842ab-b655-4d3c-a065-f7db5e9fb971","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.6","name":"macos-sequoia-15.6","release_notes_url":"","supported_server_types":[],"tags":[],"version":"15.6.1","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_bandwidth_bps":1000000000,"runner_configuration":null,"ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","tags":[],"type":"M4-M","updated_at":"2025-12-30T18:16:58.355486Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 485.727166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/4454e829-cca0-4a23-98d0-c3bf5909e0da
        method: GET
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-12-30T18:16:58.355486Z","deletable_at":"2025-12-30T18:16:58.355486Z","deletion_scheduled":false,"delivered":false,[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=4454e829-cca0-4a23-98d0-c3bf5909e0da
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.812209ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/4454e829-cca0-4a23-98d0-c3bf5909e0da/reboot
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-12-30T18:16:58.355486Z","deletable_at":"20[...]
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=RebootServer&order_by=recorded_at_desc&organization_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_id=4454e829-cca0-4a23-98d0-c3bf5909e0da&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[{"id":"019b707c-1c4e-71e9-8a92-70efcddff6dd","locality":"fr-par","method_name":"RebootServer","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","principal":{"id":"c6d30243-8c79-4999-867f-e901e6f498e7"},"product_name":"apple-silicon","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","recorded_at":"2025-12-30T18:19:00.551635274Z","request_body":{"server_id":"4454e829-cca0-4a23-98d0-c3bf5909e0da"},"request_id":"29a69350-8c1f-419a-86f8-e432a1e91e55","resources":[{"apple_silicon_server_info":{"id":"4454e829-cca0-4a23-98d0-c3bf5909e0da","name":"TestAccServerBasic"},"created_at":"2025-12-30T18:16:58.355486Z","deleted_at":null,"id":"4454e829-cca0-4a23-98d0-c3bf5909e0da","name":"TestAccServerBasic","type":"apple_silicon_server","updated_at":"2025-12-30T18:19:00.536312Z"}],"service_name":"scaleway.apple_silicon.v1alpha1.Api","source_ip":"88.188.12.210","status_code":200,"user_agent":"scaleway-sdk-go/v1.0.0-beta.7+dev (go1.25.5; darwin; arm64) terraform-provider/develop terraform/terraform-tests"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.470291ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/4454e829-cca0-4a23-98d0-c3bf5909e0da
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 20.071208ms
