---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-m1","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:32:06.497946Z","deletable_at":"2025-01-24T14:32:06.497946Z","deletion_scheduled":false,"delivered":false,"id":"069cb8e0-e201-473b-9eee-ee4ba3b8c66c","ip":"62.210.166.214","name":"test-m1","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"Vy5GodF9Svgb","type":"M2-M","updated_at":"2025-01-24T14:32:06.497946Z","vnc_port":59010,"vnc_url":"vnc://m1:Vy5GodF9Svgb@62.210.166.214:59010","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 708.607917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/069cb8e0-e201-473b-9eee-ee4ba3b8c66c
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:32:06.497946Z","deletable_at":"2025-01-24T14:32:06.497946Z","deletion_scheduled":false,"delivered":false,"id":"069cb8e0-e201-473b-9eee-ee4ba3b8c66c","ip":"62.210.166.214","name":"test-m1","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"Vy5GodF9Svgb","type":"M2-M","updated_at":"2025-01-24T14:32:06.606256Z","vnc_port":59010,"vnc_url":"vnc://m1:Vy5GodF9Svgb@62.210.166.214:59010","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.147333ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/069cb8e0-e201-473b-9eee-ee4ba3b8c66c
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 74.374375ms
