---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccServerEnableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\",\"name\":\"TestAccServerEnableVPC\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:02.630531Z\",\"updated_at\":\"2025-08-26T16:25:02.630531Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.809037ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6b3fb7ae-e5b6-450f-952f-57f8fab41662
    method: GET
  response:
    body: "{\"id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\",\"name\":\"TestAccServerEnableVPC\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:02.630531Z\",\"updated_at\":\"2025-08-26T16:25:02.630531Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.59501ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccServerEnableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"name\":\"TestAccServerEnableVPC\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:02.870113Z\",\"updated_at\":\"2025-08-26T16:25:02.870113Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"d067ec31-ccb9-4e7b-a6d2-f22797b0081a\",\"created_at\":\"2025-08-26T16:25:02.870113Z\",\"updated_at\":\"2025-08-26T16:25:02.870113Z\",\"subnet\":\"172.16.16.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"vpc_id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\"},{\"id\":\"0ab4b01b-6d74-4730-8731-fc1f85dddf06\",\"created_at\":\"2025-08-26T16:25:02.870113Z\",\"updated_at\":\"2025-08-26T16:25:02.870113Z\",\"subnet\":\"fde7:767f:1bb5:c91e::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"vpc_id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\"}],\"vpc_id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 864.506246ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/07e5a37e-bdb4-450a-9268-fc39716cadf2
    method: GET
  response:
    body: "{\"id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"name\":\"TestAccServerEnableVPC\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:02.870113Z\",\"updated_at\":\"2025-08-26T16:25:02.870113Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"d067ec31-ccb9-4e7b-a6d2-f22797b0081a\",\"created_at\":\"2025-08-26T16:25:02.870113Z\",\"updated_at\":\"2025-08-26T16:25:02.870113Z\",\"subnet\":\"172.16.16.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"vpc_id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\"},{\"id\":\"0ab4b01b-6d74-4730-8731-fc1f85dddf06\",\"created_at\":\"2025-08-26T16:25:02.870113Z\",\"updated_at\":\"2025-08-26T16:25:02.870113Z\",\"subnet\":\"fde7:767f:1bb5:c91e::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"vpc_id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\"}],\"vpc_id\":\"6b3fb7ae-e5b6-450f-952f-57f8fab41662\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.065512ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccServerEnableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"M2-M\",\"enable_vpc\":true,\"commitment_type\":\"duration_24h\",\"public_bandwidth_bps\":0}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"id\":\"58c331e7-b247-4cda-8f47-f56391969262\",\"type\":\"M2-M\",\"name\":\"TestAccServerEnableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":\"62.210.195.27\",\"vnc_url\":\"<sealed>\",\"ssh_username\":\"m1\",\"sudo_password\":\"<sealed>\",\"vnc_port\":59010,\"os\":{\"id\":\"367b9c18-d57f-4c9a-bcea-9e1fda66fc70\",\"name\":\"macos-sequoia-15.2\",\"label\":\"macOS Sequoia 15.2\",\"image_url\":\"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png\",\"family\":\"Sequoia\",\"is_beta\":false,\"xcode_version\":\"16\",\"version\":\"15.2\",\"compatible_server_types\":[\"M1-M\",\"M2-M\",\"M2-L\",\"M4-S\"]},\"status\":\"starting\",\"created_at\":\"2025-08-26T16:25:03.873005Z\",\"updated_at\":\"2025-08-26T16:25:03.873005Z\",\"deletable_at\":\"2025-08-26T16:25:03.873005Z\",\"deletion_scheduled\":false,\"delivered\":false,\"vpc_status\":\"vpc_updating\",\"commitment\":{\"type\":\"none\",\"cancelled\":false},\"public_bandwidth_bps\":1000000000,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 164.000972ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/58c331e7-b247-4cda-8f47-f56391969262
    method: GET
  response:
    body: "{\"id\":\"58c331e7-b247-4cda-8f47-f56391969262\",\"type\":\"M2-M\",\"name\":\"TestAccServerEnableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":\"62.210.195.27\",\"vnc_url\":\"vnc://m1:RDB9x4Xg8TeX@62.210.195.27:59010\",\"ssh_username\":\"m1\",\"sudo_password\":\"RDB9x4Xg8TeX\",\"vnc_port\":59010,\"os\":{\"id\":\"367b9c18-d57f-4c9a-bcea-9e1fda66fc70\",\"name\":\"macos-sequoia-15.2\",\"label\":\"macOS Sequoia 15.2\",\"image_url\":\"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png\",\"family\":\"Sequoia\",\"is_beta\":false,\"xcode_version\":\"16\",\"version\":\"15.2\",\"compatible_server_types\":[\"M1-M\",\"M2-M\",\"M2-L\",\"M4-S\"]},\"status\":\"starting\",\"created_at\":\"2025-08-26T16:25:03.873005Z\",\"updated_at\":\"2025-08-26T16:25:03.873005Z\",\"deletable_at\":\"2025-08-26T16:25:03.873005Z\",\"deletion_scheduled\":false,\"delivered\":false,\"vpc_status\":\"vpc_updating\",\"commitment\":{\"type\":\"none\",\"cancelled\":false},\"public_bandwidth_bps\":1000000000,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.797841ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    body: "{\"per_private_network_ipam_ip_ids\":{\"07e5a37e-bdb4-450a-9268-fc39716cadf2\":[]}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/58c331e7-b247-4cda-8f47-f56391969262/private-networks
    method: PUT
  response:
    body: "{\"server_private_networks\":[{\"id\":\"d25494aa-4376-4b6b-bfc7-654844328968\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"server_id\":\"58c331e7-b247-4cda-8f47-f56391969262\",\"private_network_id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"vlan\":1726,\"updated_at\":\"2025-08-26T16:27:03.311019Z\",\"created_at\":\"2025-08-26T16:27:03.311019Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"4389e4e1-1372-4223-b6d8-d43a6e5b2f55\",\"780d6227-cf34-4b69-9234-93ae9bcb1515\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 709.419367ms
- id: 30
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 58c331e7-b247-4cda-8f47-f56391969262
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=58c331e7-b247-4cda-8f47-f56391969262
    method: GET
  response:
    body: "{\"server_private_networks\":[{\"id\":\"d25494aa-4376-4b6b-bfc7-654844328968\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"server_id\":\"58c331e7-b247-4cda-8f47-f56391969262\",\"private_network_id\":\"07e5a37e-bdb4-450a-9268-fc39716cadf2\",\"vlan\":1726,\"updated_at\":\"2025-08-26T16:27:03.311019Z\",\"created_at\":\"2025-08-26T16:27:03.311019Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"4389e4e1-1372-4223-b6d8-d43a6e5b2f55\",\"780d6227-cf34-4b69-9234-93ae9bcb1515\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 124.325403ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 07e5a37e-bdb4-450a-9268-fc39716cadf2
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_type:
      - apple_silicon_private_nic
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=07e5a37e-bdb4-450a-9268-fc39716cadf2&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_type=apple_silicon_private_nic
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"780d6227-cf34-4b69-9234-93ae9bcb1515\",\"address\":\"fde7:767f:1bb5:c91e:40b3:58a4:98e0:26c/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-26T16:27:03.560591Z\",\"updated_at\":\"2025-08-26T16:27:03.560591Z\",\"source\":{\"subnet_id\":\"0ab4b01b-6d74-4730-8731-fc1f85dddf06\"},\"resource\":{\"type\":\"apple_silicon_private_nic\",\"id\":\"d25494aa-4376-4b6b-bfc7-654844328968\",\"mac_address\":\"18:4A:53:00:66:07\",\"name\":\"TestAccServerEnableVPC\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"4389e4e1-1372-4223-b6d8-d43a6e5b2f55\",\"address\":\"172.16.16.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:27:03.560591Z\",\"updated_at\":\"2025-08-26T16:27:03.560591Z\",\"source\":{\"subnet_id\":\"d067ec31-ccb9-4e7b-a6d2-f22797b0081a\"},\"resource\":{\"type\":\"apple_silicon_private_nic\",\"id\":\"d25494aa-4376-4b6b-bfc7-654844328968\",\"mac_address\":\"18:4A:53:00:66:07\",\"name\":\"TestAccServerEnableVPC\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.010349ms
[...]
- id: 109
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/58c331e7-b247-4cda-8f47-f56391969262
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"server\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 25.151701ms
