---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccServerBasic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"M4-M\",\"enable_vpc\":false,\"commitment_type\":\"duration_24h\",\"public_bandwidth_bps\":1000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"id\":\"7615cdb5-7c3f-46d9-90d7-2c23af93e34b\",\"type\":\"M4-M\",\"name\":\"TestAccServerBasic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":\"62.210.193.102\",\"vnc_url\":\"<sealed>\",\"ssh_username\":\"m1\",\"sudo_password\":\"<sealed>\",\"vnc_port\":59010,\"os\":{\"id\":\"87135053-e968-4a38-8735-86901accc6f5\",\"name\":\"macos-sequoia-15.3.1\",\"label\":\"macOS Sequoia 15.3.1\",\"image_url\":\"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png\",\"family\":\"Sequoia\",\"is_beta\":false,\"xcode_version\":\"16\",\"version\":\"15.3.1\",\"compatible_server_types\":[\"M1-M\",\"M2-M\",\"M2-L\",\"M4-L\",\"M4-XL\",\"M4-M\",\"M4-S\"]},\"status\":\"starting\",\"created_at\":\"2025-08-26T16:25:01.992941Z\",\"updated_at\":\"2025-08-26T16:25:01.992941Z\",\"deletable_at\":\"2025-08-26T16:25:01.992941Z\",\"deletion_scheduled\":false,\"delivered\":false,\"vpc_status\":\"vpc_disabled\",\"commitment\":{\"type\":\"none\",\"cancelled\":false},\"public_bandwidth_bps\":1000000000,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 317.345177ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/7615cdb5-7c3f-46d9-90d7-2c23af93e34b
    method: GET
  response:
    body: "{\"id\":\"7615cdb5-7c3f-46d9-90d7-2c23af93e34b\",\"type\":\"M4-M\",\"name\":\"TestAccServerBasic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":\"62.210.193.102\",\"vnc_url\":\"vnc://m1:33hfRXUDLJ7k@62.210.193.102:59010\",\"ssh_username\":\"m1\",\"sudo_password\":\"33hfRXUDLJ7k\",\"vnc_port\":59010,\"os\":{\"id\":\"87135053-e968-4a38-8735-86901accc6f5\",\"name\":\"macos-sequoia-15.3.1\",\"label\":\"macOS Sequoia 15.3.1\",\"image_url\":\"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png\",\"family\":\"Sequoia\",\"is_beta\":false,\"xcode_version\":\"16\",\"version\":\"15.3.1\",\"compatible_server_types\":[\"M1-M\",\"M2-M\",\"M2-L\",\"M4-L\",\"M4-XL\",\"M4-M\",\"M4-S\"]},\"status\":\"starting\",\"created_at\":\"2025-08-26T16:25:01.992941Z\",\"updated_at\":\"2025-08-26T16:25:01.992941Z\",\"deletable_at\":\"2025-08-26T16:25:01.992941Z\",\"deletion_scheduled\":false,\"delivered\":false,\"vpc_status\":\"vpc_disabled\",\"commitment\":{\"type\":\"none\",\"cancelled\":false},\"public_bandwidth_bps\":1000000000,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.900841ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 7615cdb5-7c3f-46d9-90d7-2c23af93e34b
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=7615cdb5-7c3f-46d9-90d7-2c23af93e34b
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 149.944655ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/7615cdb5-7c3f-46d9-90d7-2c23af93e34b
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"server\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 53.085517ms
