---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-02-04T15:43:50.602241Z","id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-04T15:43:50.602241Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.133792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/edfeeb74-c4fc-4723-8e1b-11449bf9210c
        method: GET
      response:
        body: '{"created_at":"2025-02-04T15:43:50.602241Z","id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-04T15:43:50.602241Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.326791ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"vpc_id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-04T15:43:50.769115Z","dhcp_enabled":true,"id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-04T15:43:50.769115Z","id":"6f5054d6-a800-4a44-9767-58995652ce11","private_network_id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.16.0/22","updated_at":"2025-02-04T15:43:50.769115Z","vpc_id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c"},{"created_at":"2025-02-04T15:43:50.769115Z","id":"84132018-8ab1-4cfb-81cc-b48a99c5ea30","private_network_id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:bada::/64","updated_at":"2025-02-04T15:43:50.769115Z","vpc_id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c"}],"tags":[],"updated_at":"2025-02-04T15:43:50.769115Z","vpc_id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 524.256833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ce7b2458-f317-465e-b8f2-36cc4783a37d
        method: GET
      response:
        body: '{"created_at":"2025-02-04T15:43:50.769115Z","dhcp_enabled":true,"id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-04T15:43:50.769115Z","id":"6f5054d6-a800-4a44-9767-58995652ce11","private_network_id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.16.0/22","updated_at":"2025-02-04T15:43:50.769115Z","vpc_id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c"},{"created_at":"2025-02-04T15:43:50.769115Z","id":"84132018-8ab1-4cfb-81cc-b48a99c5ea30","private_network_id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:bada::/64","updated_at":"2025-02-04T15:43:50.769115Z","vpc_id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c"}],"tags":[],"updated_at":"2025-02-04T15:43:50.769115Z","vpc_id":"edfeeb74-c4fc-4723-8e1b-11449bf9210c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.751ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-02-04T15:43:51.379181Z","deletable_at":"2025-02-04T15:43:51.379181Z","deletion_scheduled":false,"delivered":false,"id":"c1e9fb39-653b-493e-b094-6148996f32dd","ip":"62.210.195.67","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"Vy2Stkhtf18o","type":"M2-M","updated_at":"2025-02-04T15:43:51.379181Z","vnc_port":59010,"vnc_url":"vnc://m1:Vy2Stkhtf18o@62.210.195.67:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.623458ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/c1e9fb39-653b-493e-b094-6148996f32dd
        method: GET
      response:
        body: '{"created_at":"2025-02-04T15:43:51.379181Z","deletable_at":"2025-02-04T15:43:51.379181Z","deletion_scheduled":false,"delivered":false,"id":"c1e9fb39-653b-493e-b094-6148996f32dd","ip":"62.210.195.67","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"Vy2Stkhtf18o","type":"M2-M","updated_at":"2025-02-04T15:43:51.379181Z","vnc_port":59010,"vnc_url":"vnc://m1:Vy2Stkhtf18o@62.210.195.67:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.983291ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"ce7b2458-f317-465e-b8f2-36cc4783a37d":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/c1e9fb39-653b-493e-b094-6148996f32dd/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-04T15:46:03.371779Z","id":"830e8d5d-24fb-4e34-b3c8-49843fc32ece","ipam_ip_ids":["b295531b-78b1-4575-bc8c-c1ffca39037d","61e37773-780b-4e55-9f53-708c22cd3e43"],"private_network_id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"c1e9fb39-653b-493e-b094-6148996f32dd","status":"attaching","updated_at":"2025-02-04T15:46:03.371779Z","vlan":3047}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 884.787833ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=c1e9fb39-653b-493e-b094-6148996f32dd
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-04T15:46:03.371779Z","id":"830e8d5d-24fb-4e34-b3c8-49843fc32ece","ipam_ip_ids":["b295531b-78b1-4575-bc8c-c1ffca39037d","61e37773-780b-4e55-9f53-708c22cd3e43"],"private_network_id":"ce7b2458-f317-465e-b8f2-36cc4783a37d","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"c1e9fb39-653b-493e-b094-6148996f32dd","status":"attaching","updated_at":"2025-02-04T15:46:03.371779Z","vlan":3047}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.492834ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ce7b2458-f317-465e-b8f2-36cc4783a37d
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 243.848ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/c1e9fb39-653b-493e-b094-6148996f32dd/private-networks/ce7b2458-f317-465e-b8f2-36cc4783a37d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 355.358958ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/c1e9fb39-653b-493e-b094-6148996f32dd
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 25.053708ms
