---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-04T18:22:48.017146Z","custom_routes_propagation_enabled":true,"id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-04T18:22:48.017146Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.155333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1b94e2b5-ad5e-4de5-b2ee-de16f94872dc
        method: GET
      response:
        body: '{"created_at":"2026-03-04T18:22:48.017146Z","custom_routes_propagation_enabled":true,"id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-04T18:22:48.017146Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.9815ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-04T18:22:48.373027Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-03-04T18:22:48.373027Z","id":"12aa303b-3dc7-4bd8-a015-c32f83465fc2","private_network_id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.19.32.0/22","updated_at":"2026-03-04T18:22:48.373027Z","vpc_id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc"},{"created_at":"2026-03-04T18:22:48.373027Z","id":"d2175ab1-e750-4b42-b4b7-08413d67cdb8","private_network_id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:35f4::/64","updated_at":"2026-03-04T18:22:48.373027Z","vpc_id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc"}],"tags":[],"updated_at":"2026-03-04T18:22:48.373027Z","vpc_id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 815.976875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/38b0298d-3269-4ad9-82b1-624bb2f15d58
        method: GET
      response:
        body: '{"created_at":"2026-03-04T18:22:48.373027Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-03-04T18:22:48.373027Z","id":"12aa303b-3dc7-4bd8-a015-c32f83465fc2","private_network_id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.19.32.0/22","updated_at":"2026-03-04T18:22:48.373027Z","vpc_id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc"},{"created_at":"2026-03-04T18:22:48.373027Z","id":"d2175ab1-e750-4b42-b4b7-08413d67cdb8","private_network_id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:35f4::/64","updated_at":"2026-03-04T18:22:48.373027Z","vpc_id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc"}],"tags":[],"updated_at":"2026-03-04T18:22:48.373027Z","vpc_id":"1b94e2b5-ad5e-4de5-b2ee-de16f94872dc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.136208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"M2-M","enable_vpc":true,"commitment_type":"duration_24h","public_bandwidth_bps":0,"enable_kext":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-03-04T18:22:49.369685Z","deletable_at":"2026-03-04T18:22:49.369685Z","deletion_scheduled":false,"delivered":false,"id":"8a7a5a8d-78b9-4009-8723-3556325f7615","ip":"62.210.166.78","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","os":{"compatible_server_types":["M2-M","M2-L","M4-S","M4-M","M4-L","M4-XL","M1-M"],"description":"","family":"Sequoia","id":"61b842ab-b655-4d3c-a065-f7db5e9fb971","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.6","name":"macos-sequoia-15.6","release_notes_url":"","supported_server_types":[],"tags":["macos","apple","apple-license"],"version":"15.6.1","xcode_version":"16"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_bandwidth_bps":1000000000,"runner_configuration":null,"ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","tags":[],"type":"M2-M","updated_at":"2026-03-04T18:22:49.369685Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_updating","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.344333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/8a7a5a8d-78b9-4009-8723-3556325f7615
        method: GET
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-03-04T18:22:49.369685Z","deletable_at":"2026-03-04T18:22:49.369685Z","deletion_scheduled":false,"delivered":false,[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"38b0298d-3269-4ad9-82b1-624bb2f15d58":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/8a7a5a8d-78b9-4009-8723-3556325f7615/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2026-03-04T18:25:10.043570Z","id":"deb87eaf-9a02-4e27-a290-caab691b7e58","ipam_ip_ids":["5e818f99-a7e9-42c6-bc44-1d682e35a449","d72e24b2-e470-459a-9e77-f7dd432bb3e1"],"private_network_id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"8a7a5a8d-78b9-4009-8723-3556325f7615","status":"attaching","updated_at":"2026-03-04T18:25:10.043570Z","vlan":2972}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 846.737542ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=8a7a5a8d-78b9-4009-8723-3556325f7615
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2026-03-04T18:25:10.043570Z","id":"deb87eaf-9a02-4e27-a290-caab691b7e58","ipam_ip_ids":["5e818f99-a7e9-42c6-bc44-1d682e35a449","d72e24b2-e470-459a-9e77-f7dd432bb3e1"],"private_network_id":"38b0298d-3269-4ad9-82b1-624bb2f15d58","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"8a7a5a8d-78b9-4009-8723-3556325f7615","status":"attaching","updated_at":"2026-03-04T18:25:10.043570Z","vlan":2972}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.580792ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=38b0298d-3269-4ad9-82b1-624bb2f15d58&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_type=apple_silicon_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.19.32.2/22","created_at":"2026-03-04T18:25:10.257741Z","id":"5e818f99-a7e9-42c6-bc44-1d682e35a449","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"deb87eaf-9a02-4e27-a290-caab691b7e58","mac_address":"18:4A:53:04:52:15","name":"TestAccServerEnableVPC","type":"apple_silicon_private_nic"},"reverses":[],"source":{"subnet_id":"12aa303b-3dc7-4bd8-a015-c32f83465fc2"},"tags":[],"updated_at":"2026-03-04T18:25:10.257741Z","zone":null},{"address":"fd5f:519c:6d46:35f4:f3bc:dca9:bbf4:6387/64","created_at":"2026-03-04T18:25:10.257741Z","id":"d72e24b2-e470-459a-9e77-f7dd432bb3e1","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"deb87eaf-9a02-4e27-a290-caab691b7e58","mac_address":"18:4A:53:04:52:15","name":"TestAccServerEnableVPC","type":"apple_silicon_private_nic"},"reverses":[],"source":{"subnet_id":"d2175ab1-e750-4b42-b4b7-08413d67cdb8"},"tags":[],"updated_at":"2026-03-04T18:25:10.257741Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.537875ms
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/8a7a5a8d-78b9-4009-8723-3556325f7615
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 21.957083ms
