---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-02-13T14:03:07.321624Z","id":"414dff21-8420-48c3-9152-a2ea4d0a15ec","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T14:03:07.321624Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.977125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/414dff21-8420-48c3-9152-a2ea4d0a15ec
        method: GET
      response:
        body: '{"created_at":"2025-02-13T14:03:07.321624Z","id":"414dff21-8420-48c3-9152-a2ea4d0a15ec","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T14:03:07.321624Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.167292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"vpc_id":"414dff21-8420-48c3-9152-a2ea4d0a15ec"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-13T14:03:07.484281Z","dhcp_enabled":true,"id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T14:03:07.484281Z","id":"56999337-0181-4b26-8a25-f83f273edbc9","private_network_id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.20.0/22","updated_at":"2025-02-13T14:03:07.484281Z","vpc_id":"414dff21-8420-48c3-9152-a2ea4d0a15ec"},{"created_at":"2025-02-13T14:03:07.484281Z","id":"d8f53b0b-f2c8-4c5f-b254-cb53cc805ccc","private_network_id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:6b80::/64","updated_at":"2025-02-13T14:03:07.484281Z","vpc_id":"414dff21-8420-48c3-9152-a2ea4d0a15ec"}],"tags":[],"updated_at":"2025-02-13T14:03:07.484281Z","vpc_id":"414dff21-8420-48c3-9152-a2ea4d0a15ec"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.983535041s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5e05a803-57fd-419e-851e-6ee92d1b7d7e
        method: GET
      response:
        body: '{"created_at":"2025-02-13T14:03:07.484281Z","dhcp_enabled":true,"id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T14:03:07.484281Z","id":"56999337-0181-4b26-8a25-f83f273edbc9","private_network_id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.20.0/22","updated_at":"2025-02-13T14:03:07.484281Z","vpc_id":"414dff21-8420-48c3-9152-a2ea4d0a15ec"},{"created_at":"2025-02-13T14:03:07.484281Z","id":"d8f53b0b-f2c8-4c5f-b254-cb53cc805ccc","private_network_id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:6b80::/64","updated_at":"2025-02-13T14:03:07.484281Z","vpc_id":"414dff21-8420-48c3-9152-a2ea4d0a15ec"}],"tags":[],"updated_at":"2025-02-13T14:03:07.484281Z","vpc_id":"414dff21-8420-48c3-9152-a2ea4d0a15ec"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 377.876709ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-02-13T14:03:10.720157Z","deletable_at":"2025-02-13T14:03:10.720157Z","deletion_scheduled":false,"delivered":false,"id":"c8fd23a1-d3de-4608-b91c-31698a764d73","ip":"62.210.195.55","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-02-13T14:03:10.720157Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.490284292s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/c8fd23a1-d3de-4608-b91c-31698a764d73
        method: GET
      response:
        body: '{"created_at":"2025-02-13T14:03:10.720157Z","deletable_at":"2025-02-13T14:03:10.720157Z","deletion_scheduled":false,"delivered":false,"id":"c8fd23a1-d3de-4608-b91c-31698a764d73","ip":"62.210.195.55","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"LRk6cvgsRiEP","type":"M2-M","updated_at":"2025-02-13T14:03:10.720157Z","vnc_port":59010,"vnc_url":"vnc://m1:LRk6cvgsRiEP@62.210.195.55:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.205083ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"5e05a803-57fd-419e-851e-6ee92d1b7d7e":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/c8fd23a1-d3de-4608-b91c-31698a764d73/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T14:05:09.428139Z","id":"84423a4c-8395-4a11-adc5-ef049ebc2428","ipam_ip_ids":["1b75ff6c-3b64-4179-a997-54391b6611d3","d0beac70-8929-4c33-8a58-95049e7fe4a2"],"private_network_id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"c8fd23a1-d3de-4608-b91c-31698a764d73","status":"attaching","updated_at":"2025-02-13T14:05:09.428139Z","vlan":3451}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 863.180083ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=c8fd23a1-d3de-4608-b91c-31698a764d73
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T14:05:09.428139Z","id":"84423a4c-8395-4a11-adc5-ef049ebc2428","ipam_ip_ids":["1b75ff6c-3b64-4179-a997-54391b6611d3","d0beac70-8929-4c33-8a58-95049e7fe4a2"],"private_network_id":"5e05a803-57fd-419e-851e-6ee92d1b7d7e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"c8fd23a1-d3de-4608-b91c-31698a764d73","status":"attaching","updated_at":"2025-02-13T14:05:09.428139Z","vlan":3451}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.085791ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/c8fd23a1-d3de-4608-b91c-31698a764d73
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 24.829333ms
