---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableDisableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":false,"commitment_type":"duration_24h"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-03-12T13:22:14.003241Z","deletable_at":"2025-03-12T13:22:14.003241Z","deletion_scheduled":false,"delivered":false,"id":"601a5a1f-2df7-4e7c-8f33-30fcbe31ff94","ip":"62.210.166.175","name":"TestAccServerEnableDisableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-03-12T13:22:14.003241Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.678125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/601a5a1f-2df7-4e7c-8f33-30fcbe31ff94
        method: GET
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-03-12T13:22:14.003241Z","deletable_at":"2025-03-12T13:22:14.003241Z","deletion_scheduled":false,"delivered":false,"id":"601a5a1f-2df7-4e7c-8f33-30fcbe31ff94","ip":"62.210.166.175","name":"TestAccServerEnableDisableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"UGVkUeff3vR6","type":"M2-M","updated_at":"2025-03-12T13:22:14.003241Z","vnc_port":59010,"vnc_url":"vnc://m1:UGVkUeff3vR6@62.210.166.175:59010","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.016708ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=601a5a1f-2df7-4e7c-8f33-30fcbe31ff94
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.394458ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/601a5a1f-2df7-4e7c-8f33-30fcbe31ff94
        method: DELETE
      response:
        body: '{"help_message":"this server cannot be deleted before 2025-04-12 13:24:33.836482 +0000 UTC","message":"precondition is not respected","precondition":"unknown_precondition","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 55.940375ms
