---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServer_EnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-30T09:24:08.001783Z","id":"4d1aa49d-f19c-427f-9f22-8221bea71713","is_default":false,"name":"TestAccServer_EnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-30T09:24:08.001783Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.713416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4d1aa49d-f19c-427f-9f22-8221bea71713
        method: GET
      response:
        body: '{"created_at":"2025-01-30T09:24:08.001783Z","id":"4d1aa49d-f19c-427f-9f22-8221bea71713","is_default":false,"name":"TestAccServer_EnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-30T09:24:08.001783Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.391542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-m2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-01-30T09:24:08.023682Z","deletable_at":"2025-01-30T09:24:08.023682Z","deletion_scheduled":false,"delivered":false,"id":"4ca4644d-8a39-4876-a482-d718a9c8cedd","ip":"62.210.195.58","name":"test-m2","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"DBYL1NCNgLLb","type":"M2-M","updated_at":"2025-01-30T09:24:08.023682Z","vnc_port":59010,"vnc_url":"vnc://m1:DBYL1NCNgLLb@62.210.195.58:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.558458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/4ca4644d-8a39-4876-a482-d718a9c8cedd
        method: GET
      response:
        body: '{"created_at":"2025-01-30T09:24:08.023682Z","deletable_at":"2025-01-30T09:24:08.023682Z","deletion_scheduled":false,"delivered":false,"id":"4ca4644d-8a39-4876-a482-d718a9c8cedd","ip":"62.210.195.58","name":"test-m2","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"DBYL1NCNgLLb","type":"M2-M","updated_at":"2025-01-30T09:24:08.023682Z","vnc_port":59010,"vnc_url":"vnc://m1:DBYL1NCNgLLb@62.210.195.58:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.64575ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServer_EnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"4d1aa49d-f19c-427f-9f22-8221bea71713"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-30T09:24:08.137790Z","dhcp_enabled":true,"id":"ac88c91f-ba4c-4774-aa44-2cd557d07448","name":"TestAccServer_EnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-01-30T09:24:08.137790Z","id":"8b9912ed-0e8f-4c4b-a113-05b8889efbc1","private_network_id":"ac88c91f-ba4c-4774-aa44-2cd557d07448","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-01-30T09:24:08.137790Z","vpc_id":"4d1aa49d-f19c-427f-9f22-8221bea71713"},{"created_at":"2025-01-30T09:24:08.137790Z","id":"af2fe399-53c7-4772-97f6-a8292b8a2b8a","private_network_id":"ac88c91f-ba4c-4774-aa44-2cd557d07448","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:bd39::/64","updated_at":"2025-01-30T09:24:08.137790Z","vpc_id":"4d1aa49d-f19c-427f-9f22-8221bea71713"}],"tags":[],"updated_at":"2025-01-30T09:24:08.137790Z","vpc_id":"4d1aa49d-f19c-427f-9f22-8221bea71713"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.683125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ac88c91f-ba4c-4774-aa44-2cd557d07448
        method: GET
      response:
        body: '{"created_at":"2025-01-30T09:24:08.137790Z","dhcp_enabled":true,"id":"ac88c91f-ba4c-4774-aa44-2cd557d07448","name":"TestAccServer_EnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-01-30T09:24:08.137790Z","id":"8b9912ed-0e8f-4c4b-a113-05b8889efbc1","private_network_id":"ac88c91f-ba4c-4774-aa44-2cd557d07448","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-01-30T09:24:08.137790Z","vpc_id":"4d1aa49d-f19c-427f-9f22-8221bea71713"},{"created_at":"2025-01-30T09:24:08.137790Z","id":"af2fe399-53c7-4772-97f6-a8292b8a2b8a","private_network_id":"ac88c91f-ba4c-4774-aa44-2cd557d07448","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:bd39::/64","updated_at":"2025-01-30T09:24:08.137790Z","vpc_id":"4d1aa49d-f19c-427f-9f22-8221bea71713"}],"tags":[],"updated_at":"2025-01-30T09:24:08.137790Z","vpc_id":"4d1aa49d-f19c-427f-9f22-8221bea71713"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.141167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","source":{"private_network_id":"ac88c91f-ba4c-4774-aa44-2cd557d07448"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-01-30T09:24:08.947747Z","id":"ef645e0b-d87b-4784-8ce4-677f98f09ae3","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8b9912ed-0e8f-4c4b-a113-05b8889efbc1"},"tags":[],"updated_at":"2025-01-30T09:24:08.947747Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.752292ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/ef645e0b-d87b-4784-8ce4-677f98f09ae3
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-01-30T09:24:08.947747Z","id":"ef645e0b-d87b-4784-8ce4-677f98f09ae3","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8b9912ed-0e8f-4c4b-a113-05b8889efbc1"},"tags":[],"updated_at":"2025-01-30T09:24:08.947747Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.311667ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=4ca4644d-8a39-4876-a482-d718a9c8cedd
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.171916ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/4ca4644d-8a39-4876-a482-d718a9c8cedd
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 20.273916ms
