---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-26T15:28:05.442472Z","custom_routes_propagation_enabled":false,"id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-26T15:28:05.442472Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.879833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d505193c-3cd6-41e3-aab6-a306e8d0d5b9
        method: GET
      response:
        body: '{"created_at":"2025-05-26T15:28:05.442472Z","custom_routes_propagation_enabled":false,"id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-26T15:28:05.442472Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.662583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-26T15:28:05.641328Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5036b079-9b17-4c6b-9ff8-33650679473a","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-05-26T15:28:05.641328Z","id":"6d96854b-f317-4763-8880-f1bf0d214601","private_network_id":"5036b079-9b17-4c6b-9ff8-33650679473a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.4.0/22","updated_at":"2025-05-26T15:28:05.641328Z","vpc_id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9"},{"created_at":"2025-05-26T15:28:05.641328Z","id":"5ca1cff8-0abb-43c7-9ecc-53de7fa5266c","private_network_id":"5036b079-9b17-4c6b-9ff8-33650679473a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e65c::/64","updated_at":"2025-05-26T15:28:05.641328Z","vpc_id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9"}],"tags":[],"updated_at":"2025-05-26T15:28:05.641328Z","vpc_id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 661.461375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5036b079-9b17-4c6b-9ff8-33650679473a
        method: GET
      response:
        body: '{"created_at":"2025-05-26T15:28:05.641328Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5036b079-9b17-4c6b-9ff8-33650679473a","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-05-26T15:28:05.641328Z","id":"6d96854b-f317-4763-8880-f1bf0d214601","private_network_id":"5036b079-9b17-4c6b-9ff8-33650679473a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.4.0/22","updated_at":"2025-05-26T15:28:05.641328Z","vpc_id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9"},{"created_at":"2025-05-26T15:28:05.641328Z","id":"5ca1cff8-0abb-43c7-9ecc-53de7fa5266c","private_network_id":"5036b079-9b17-4c6b-9ff8-33650679473a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e65c::/64","updated_at":"2025-05-26T15:28:05.641328Z","vpc_id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9"}],"tags":[],"updated_at":"2025-05-26T15:28:05.641328Z","vpc_id":"d505193c-3cd6-41e3-aab6-a306e8d0d5b9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.90475ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"M2-M","enable_vpc":true,"commitment_type":"duration_24h"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-05-26T15:28:06.381429Z","deletable_at":"2025-05-26T15:28:06.381429Z","deletion_scheduled":false,"delivered":false,"id":"9c41b3ad-aa1c-4b44-960e-1c5553e03603","ip":"62.210.166.78","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-05-26T15:28:06.381429Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_updating","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.217916ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/9c41b3ad-aa1c-4b44-960e-1c5553e03603
        method: GET
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-05-26T15:28:06.381429Z","deletable_at":"2025-05-26T15:28:06.381429Z","deletion_scheduled":false,"delivered":false,"id":"9c41b3ad-aa1c-4b44-960e-1c5553e03603","ip":"62.210.166.78","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ssh_username":"m1","status":"starting","sudo_password":"KKLbL7fr1Huf","type":"M2-M","updated_at":"2025-05-26T15:28:06.381429Z","vnc_port":59010,"vnc_url":"vnc://m1:KKLbL7fr1Huf@62.210.166.78:59010","vpc_status":"vpc_updating","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.288083ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"5036b079-9b17-4c6b-9ff8-33650679473a":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/9c41b3ad-aa1c-4b44-960e-1c5553e03603/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-05-26T15:30:15.390350Z","id":"999571a4-5efa-435d-885f-95dc23498735","ipam_ip_ids":["0b3c5a38-a756-4364-803a-73ed06b2138c","f06abd3d-e214-4c4e-9cc7-e15a61217bfa"],"private_network_id":"5036b079-9b17-4c6b-9ff8-33650679473a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"9c41b3ad-aa1c-4b44-960e-1c5553e03603","status":"attaching","updated_at":"2025-05-26T15:30:15.390350Z","vlan":2990}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.4340665s
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=9c41b3ad-aa1c-4b44-960e-1c5553e03603
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-05-26T15:30:15.390350Z","id":"999571a4-5efa-435d-885f-95dc23498735","ipam_ip_ids":["0b3c5a38-a756-4364-803a-73ed06b2138c","f06abd3d-e214-4c4e-9cc7-e15a61217bfa"],"private_network_id":"5036b079-9b17-4c6b-9ff8-33650679473a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"9c41b3ad-aa1c-4b44-960e-1c5553e03603","status":"attaching","updated_at":"2025-05-26T15:30:15.390350Z","vlan":2990}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.181167ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5036b079-9b17-4c6b-9ff8-33650679473a&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_type=apple_silicon_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.4.2/22","created_at":"2025-05-26T15:30:16.047702Z","id":"0b3c5a38-a756-4364-803a-73ed06b2138c","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"999571a4-5efa-435d-885f-95dc23498735","mac_address":"18:4A:53:04:52:15","name":"TestAccServerEnableVPC","type":"apple_silicon_private_nic"},"reverses":[],"source":{"subnet_id":"6d96854b-f317-4763-8880-f1bf0d214601"},"tags":[],"updated_at":"2025-05-26T15:30:16.047702Z","zone":null},{"address":"fd5f:519c:6d46:e65c:d77d:4b15:99c:9579/64","created_at":"2025-05-26T15:30:16.047702Z","id":"f06abd3d-e214-4c4e-9cc7-e15a61217bfa","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"999571a4-5efa-435d-885f-95dc23498735","mac_address":"18:4A:53:04:52:15","name":"TestAccServerEnableVPC","type":"apple_silicon_private_nic"},"reverses":[],"source":{"subnet_id":"5ca1cff8-0abb-43c7-9ecc-53de7fa5266c"},"tags":[],"updated_at":"2025-05-26T15:30:16.047702Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.323458ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"5036b079-9b17-4c6b-9ff8-33650679473a":["0b3c5a38-a756-4364-803a-73ed06b2138c","f06abd3d-e214-4c4e-9cc7-e15a61217bfa"],"f83e30a7-afc9-4f7f-9850-fc4d1cdc6b8c":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/9c41b3ad-aa1c-4b44-960e-1c5553e03603/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-05-26T15:30:15.390350Z","id":"999571a4-5efa-435d-885f-95dc23498735","ipam_ip_ids":["0b3c5a38-a756-4364-803a-73ed06b2138c","f06abd3d-e214-4c4e-9cc7-e15a61217bfa"],"private_network_id":"5036b079-9b17-4c6b-9ff8-33650679473a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"9c41b3ad-aa1c-4b44-960e-1c5553e03603","status":"attached","updated_at":"2025-05-26T15:30:15.390350Z","vlan":2990},{"created_at":"2025-05-26T15:30:36.584100Z","id":"db0368ab-a507-4826-b52e-e01bfa712a11","ipam_ip_ids":["65bb12cc-1b5a-4297-846a-089dc40ac805","f45eb1e6-6f78-4ccc-8b82-2ed9ccf9ad4d"],"private_network_id":"f83e30a7-afc9-4f7f-9850-fc4d1cdc6b8c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"9c41b3ad-aa1c-4b44-960e-1c5553e03603","status":"attaching","updated_at":"2025-05-26T15:30:36.584100Z","vlan":2770}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.03156575s
[...]
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/9c41b3ad-aa1c-4b44-960e-1c5553e03603
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 21.870666ms
