---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-02-13T10:47:54.734408Z","id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T10:47:54.734408Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.912084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/54d71364-46ce-4c41-a5f8-d7371a2b7e44
        method: GET
      response:
        body: '{"created_at":"2025-02-13T10:47:54.734408Z","id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T10:47:54.734408Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.334333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"vpc_id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-13T10:47:54.873538Z","dhcp_enabled":true,"id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T10:47:54.873538Z","id":"4fe19f90-c2ec-470e-9be2-0f570b05de54","private_network_id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.36.0/22","updated_at":"2025-02-13T10:47:54.873538Z","vpc_id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44"},{"created_at":"2025-02-13T10:47:54.873538Z","id":"a2fa4b2b-134e-45b5-a29c-1df956132b04","private_network_id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:e15b::/64","updated_at":"2025-02-13T10:47:54.873538Z","vpc_id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44"}],"tags":[],"updated_at":"2025-02-13T10:47:54.873538Z","vpc_id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 552.539834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e7c75cc4-d941-46ce-a6f5-7fdd011b79f2
        method: GET
      response:
        body: '{"created_at":"2025-02-13T10:47:54.873538Z","dhcp_enabled":true,"id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T10:47:54.873538Z","id":"4fe19f90-c2ec-470e-9be2-0f570b05de54","private_network_id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.36.0/22","updated_at":"2025-02-13T10:47:54.873538Z","vpc_id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44"},{"created_at":"2025-02-13T10:47:54.873538Z","id":"a2fa4b2b-134e-45b5-a29c-1df956132b04","private_network_id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:e15b::/64","updated_at":"2025-02-13T10:47:54.873538Z","vpc_id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44"}],"tags":[],"updated_at":"2025-02-13T10:47:54.873538Z","vpc_id":"54d71364-46ce-4c41-a5f8-d7371a2b7e44"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.665667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-02-13T10:47:55.512896Z","deletable_at":"2025-02-13T10:47:55.512896Z","deletion_scheduled":false,"delivered":false,"id":"feb40d25-8c3b-480c-86f3-4b9c841b8008","ip":"62.210.166.153","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-02-13T10:47:55.512896Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.374583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/feb40d25-8c3b-480c-86f3-4b9c841b8008
        method: GET
      response:
        body: '{"created_at":"2025-02-13T10:47:55.512896Z","deletable_at":"2025-02-13T10:47:55.512896Z","deletion_scheduled":false,"delivered":false,"id":"feb40d25-8c3b-480c-86f3-4b9c841b8008","ip":"62.210.166.153","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"e4L6y6P4oyyP","type":"M2-M","updated_at":"2025-02-13T10:47:55.512896Z","vnc_port":59010,"vnc_url":"vnc://m1:e4L6y6P4oyyP@62.210.166.153:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.071458ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/feb40d25-8c3b-480c-86f3-4b9c841b8008/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T10:49:58.305613Z","id":"a8f68bb2-4cec-4387-a3eb-1897dfb079cc","ipam_ip_ids":["0206344b-82f1-4e83-8c52-5cb3e58af6de","458f82fb-301e-443c-ad75-bea516579798"],"private_network_id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"feb40d25-8c3b-480c-86f3-4b9c841b8008","status":"attaching","updated_at":"2025-02-13T10:49:58.305613Z","vlan":3619}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.020908958s
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=feb40d25-8c3b-480c-86f3-4b9c841b8008
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T10:49:58.305613Z","id":"a8f68bb2-4cec-4387-a3eb-1897dfb079cc","ipam_ip_ids":["0206344b-82f1-4e83-8c52-5cb3e58af6de","458f82fb-301e-443c-ad75-bea516579798"],"private_network_id":"e7c75cc4-d941-46ce-a6f5-7fdd011b79f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"feb40d25-8c3b-480c-86f3-4b9c841b8008","status":"attaching","updated_at":"2025-02-13T10:49:58.305613Z","vlan":3619}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.146458ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/feb40d25-8c3b-480c-86f3-4b9c841b8008/private-networks/e7c75cc4-d941-46ce-a6f5-7fdd011b79f2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 354.163959ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/feb40d25-8c3b-480c-86f3-4b9c841b8008
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 21.841167ms
