---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccServerEnableDisableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"M2-M\",\"enable_vpc\":true,\"commitment_type\":\"duration_24h\",\"public_bandwidth_bps\":0}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"id\":\"863f0be3-95f9-456e-aaca-d56a619a29b6\",\"type\":\"M2-M\",\"name\":\"TestAccServerEnableDisableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":\"62.210.166.186\",\"vnc_url\":\"<sealed>\",\"ssh_username\":\"m1\",\"sudo_password\":\"<sealed>\",\"vnc_port\":59010,\"os\":{\"id\":\"367b9c18-d57f-4c9a-bcea-9e1fda66fc70\",\"name\":\"macos-sequoia-15.2\",\"label\":\"macOS Sequoia 15.2\",\"image_url\":\"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png\",\"family\":\"Sequoia\",\"is_beta\":false,\"xcode_version\":\"16\",\"version\":\"15.2\",\"compatible_server_types\":[\"M1-M\",\"M2-M\",\"M2-L\",\"M4-S\"]},\"status\":\"starting\",\"created_at\":\"2025-08-26T16:25:01.934719Z\",\"updated_at\":\"2025-08-26T16:25:01.934719Z\",\"deletable_at\":\"2025-08-26T16:25:01.934719Z\",\"deletion_scheduled\":false,\"delivered\":false,\"vpc_status\":\"vpc_updating\",\"commitment\":{\"type\":\"none\",\"cancelled\":false},\"public_bandwidth_bps\":1000000000,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 749.63979ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/863f0be3-95f9-456e-aaca-d56a619a29b6
    method: GET
  response:
    body: "{\"id\":\"863f0be3-95f9-456e-aaca-d56a619a29b6\",\"type\":\"M2-M\",\"name\":\"TestAccServerEnableDisableVPC\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":\"62.210.166.186\",\"vnc_url\":\"vnc://m1:1oykkrUS1Hdk@62.210.166.186:59010\",\"ssh_username\":\"m1\",\"sudo_password\":\"1oykkrUS1Hdk\",\"vnc_port\":59010,\"os\":{\"id\":\"367b9c18-d57f-4c9a-bcea-9e1fda66fc70\",\"name\":\"macos-sequoia-15.2\",\"label\":\"macOS Sequoia 15.2\",\"image_url\":\"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png\",\"family\":\"Sequoia\",\"is_beta\":false,\"xcode_version\":\"16\",\"version\":\"15.2\",\"compatible_server_types\":[\"M1-M\",\"M2-M\",\"M2-L\",\"M4-S\"]},\"status\":\"starting\",\"created_at\":\"2025-08-26T16:25:01.934719Z\",\"updated_at\":\"2025-08-26T16:25:01.934719Z\",\"deletable_at\":\"2025-08-26T16:25:01.934719Z\",\"deletion_scheduled\":false,\"delivered\":false,\"vpc_status\":\"vpc_updating\",\"commitment\":{\"type\":\"none\",\"cancelled\":false},\"public_bandwidth_bps\":1000000000,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.913314ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 863f0be3-95f9-456e-aaca-d56a619a29b6
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=863f0be3-95f9-456e-aaca-d56a619a29b6
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.822219ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/863f0be3-95f9-456e-aaca-d56a619a29b6
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"server\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 35.296563ms
