---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-02-13T13:18:43.420135Z","id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T13:18:43.420135Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.892125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/817b2eec-1dac-4b21-9369-9b1ef0d6ac23
        method: GET
      response:
        body: '{"created_at":"2025-02-13T13:18:43.420135Z","id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T13:18:43.420135Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.20075ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"vpc_id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-13T13:18:43.558453Z","dhcp_enabled":true,"id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T13:18:43.558453Z","id":"498fdd0b-a4a2-4a0a-a61f-74cde3f02bc2","private_network_id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.36.0/22","updated_at":"2025-02-13T13:18:43.558453Z","vpc_id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23"},{"created_at":"2025-02-13T13:18:43.558453Z","id":"09425159-1dfb-49a4-9dd3-42336c72cfa8","private_network_id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:ccef::/64","updated_at":"2025-02-13T13:18:43.558453Z","vpc_id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23"}],"tags":[],"updated_at":"2025-02-13T13:18:43.558453Z","vpc_id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 695.196166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b
        method: GET
      response:
        body: '{"created_at":"2025-02-13T13:18:43.558453Z","dhcp_enabled":true,"id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T13:18:43.558453Z","id":"498fdd0b-a4a2-4a0a-a61f-74cde3f02bc2","private_network_id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.36.0/22","updated_at":"2025-02-13T13:18:43.558453Z","vpc_id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23"},{"created_at":"2025-02-13T13:18:43.558453Z","id":"09425159-1dfb-49a4-9dd3-42336c72cfa8","private_network_id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:ccef::/64","updated_at":"2025-02-13T13:18:43.558453Z","vpc_id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23"}],"tags":[],"updated_at":"2025-02-13T13:18:43.558453Z","vpc_id":"817b2eec-1dac-4b21-9369-9b1ef0d6ac23"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.690333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-02-13T13:18:44.307359Z","deletable_at":"2025-02-13T13:18:44.307359Z","deletion_scheduled":false,"delivered":false,"id":"3ae6f896-c888-4fd5-91c1-46bb7a430515","ip":"62.210.166.208","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-02-13T13:18:44.307359Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.739958ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/3ae6f896-c888-4fd5-91c1-46bb7a430515
        method: GET
      response:
        body: '{"created_at":"2025-02-13T13:18:44.307359Z","deletable_at":"2025-02-13T13:18:44.307359Z","deletion_scheduled":false,"delivered":false,"id":"3ae6f896-c888-4fd5-91c1-46bb7a430515","ip":"62.210.166.208","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"vLf15S9vKtf5","type":"M2-M","updated_at":"2025-02-13T13:18:44.307359Z","vnc_port":59010,"vnc_url":"vnc://m1:vLf15S9vKtf5@62.210.166.208:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.62925ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/3ae6f896-c888-4fd5-91c1-46bb7a430515/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T13:20:51.167689Z","id":"34841d44-e340-44fa-8df8-3af0e76d5878","ipam_ip_ids":["a396a0b3-180a-4c0e-b042-a18219900b0a","3e99c69f-ad85-4897-b72e-07f9387a7221"],"private_network_id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"3ae6f896-c888-4fd5-91c1-46bb7a430515","status":"attaching","updated_at":"2025-02-13T13:20:51.167689Z","vlan":2781}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.125782375s
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=3ae6f896-c888-4fd5-91c1-46bb7a430515
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T13:20:51.167689Z","id":"34841d44-e340-44fa-8df8-3af0e76d5878","ipam_ip_ids":["a396a0b3-180a-4c0e-b042-a18219900b0a","3e99c69f-ad85-4897-b72e-07f9387a7221"],"private_network_id":"2178d785-0d93-4e5f-9b8c-e2fbab2f4f4b","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"3ae6f896-c888-4fd5-91c1-46bb7a430515","status":"attaching","updated_at":"2025-02-13T13:20:51.167689Z","vlan":2781}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.844584ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/3ae6f896-c888-4fd5-91c1-46bb7a430515
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 24.134667ms
