---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerBasic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-02-13T14:12:48.443583Z","deletable_at":"2025-02-13T14:12:48.443583Z","deletion_scheduled":false,"delivered":false,"id":"6be732c5-c4e2-4f9f-81f0-836c4c048f43","ip":"62.210.166.131","name":"TestAccServerBasic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-02-13T14:12:48.443583Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.035292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/6be732c5-c4e2-4f9f-81f0-836c4c048f43
        method: GET
      response:
        body: '{"created_at":"2025-02-13T14:12:48.443583Z","deletable_at":"2025-02-13T14:12:48.443583Z","deletion_scheduled":false,"delivered":false,"id":"6be732c5-c4e2-4f9f-81f0-836c4c048f43","ip":"62.210.166.131","name":"TestAccServerBasic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"G5nNGPkxKxYt","type":"M2-M","updated_at":"2025-02-13T14:12:48.443583Z","vnc_port":59010,"vnc_url":"vnc://m1:G5nNGPkxKxYt@62.210.166.131:59010","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.635167ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=6be732c5-c4e2-4f9f-81f0-836c4c048f43
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.902208ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/6be732c5-c4e2-4f9f-81f0-836c4c048f43
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 22.612417ms
