---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"M4-M","enable_vpc":false,"commitment_type":"duration_24h","public_bandwidth_bps":1000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-01-07T13:50:44.118873Z","deletable_at":"2026-01-07T13:50:44.118873Z","deletion_scheduled":false,"delivered":false,"id":"4edcf4bf-5b6c-4734-ab45-409f522e4156","ip":"62.210.193.131","name":"TestAccServerBasic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","os":{"compatible_server_types":["M2-M","M2-L","M4-S","M4-M","M4-L","M4-XL","M1-M"],"description":"","family":"Sequoia","id":"61b842ab-b655-4d3c-a065-f7db5e9fb971","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.6","name":"macos-sequoia-15.6","release_notes_url":"","supported_server_types":[],"tags":[],"version":"15.6.1","xcode_version":"16"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_bandwidth_bps":1000000000,"runner_configuration":null,"ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","tags":[],"type":"M4-M","updated_at":"2026-01-07T13:50:44.118873Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 488.440209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/4edcf4bf-5b6c-4734-ab45-409f522e4156
        method: GET
      response:
        body: '{"applied_runner_configuration_ids":[],"commitment":{"cancelled":false,"type":"none"},"created_at":"2026-01-07T13:50:44.118873Z","deletable_at":"2026-01-07T13:50:44.118873Z","deletion_scheduled":false,"delivered":false,[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=4edcf4bf-5b6c-4734-ab45-409f522e4156
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.102125ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/4edcf4bf-5b6c-4734-ab45-409f522e4156
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 55.264792ms
