---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-02-03T15:54:22.262404Z","id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-03T15:54:22.262404Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.048167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7c36f49f-533f-4855-b421-ee1ebcd6a3b1
        method: GET
      response:
        body: '{"created_at":"2025-02-03T15:54:22.262404Z","id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-03T15:54:22.262404Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.450042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-03T15:54:22.418377Z","dhcp_enabled":true,"id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-03T15:54:22.418377Z","id":"d3831299-d1f1-4603-a51b-20d24e175509","private_network_id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-02-03T15:54:22.418377Z","vpc_id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1"},{"created_at":"2025-02-03T15:54:22.418377Z","id":"54d51674-8432-442f-94b7-b2ee60a61e42","private_network_id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:439b::/64","updated_at":"2025-02-03T15:54:22.418377Z","vpc_id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1"}],"tags":[],"updated_at":"2025-02-03T15:54:22.418377Z","vpc_id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 491.311541ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4e01c88b-4e17-4130-9a1c-5de2de67f916
        method: GET
      response:
        body: '{"created_at":"2025-02-03T15:54:22.418377Z","dhcp_enabled":true,"id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-03T15:54:22.418377Z","id":"d3831299-d1f1-4603-a51b-20d24e175509","private_network_id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-02-03T15:54:22.418377Z","vpc_id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1"},{"created_at":"2025-02-03T15:54:22.418377Z","id":"54d51674-8432-442f-94b7-b2ee60a61e42","private_network_id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:439b::/64","updated_at":"2025-02-03T15:54:22.418377Z","vpc_id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1"}],"tags":[],"updated_at":"2025-02-03T15:54:22.418377Z","vpc_id":"7c36f49f-533f-4855-b421-ee1ebcd6a3b1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.803125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-02-03T15:54:22.979553Z","deletable_at":"2025-02-03T15:54:22.979553Z","deletion_scheduled":false,"delivered":false,"id":"b1d46365-fc41-4e77-a363-b3b53e9a6453","ip":"62.210.166.191","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"9s3v9TYk8fE9","type":"M2-M","updated_at":"2025-02-03T15:54:22.979553Z","vnc_port":59010,"vnc_url":"vnc://m1:9s3v9TYk8fE9@62.210.166.191:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 471.162833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/b1d46365-fc41-4e77-a363-b3b53e9a6453
        method: GET
      response:
        body: '{"created_at":"2025-02-03T15:54:22.979553Z","deletable_at":"2025-02-03T15:54:22.979553Z","deletion_scheduled":false,"delivered":false,"id":"b1d46365-fc41-4e77-a363-b3b53e9a6453","ip":"62.210.166.191","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"9s3v9TYk8fE9","type":"M2-M","updated_at":"2025-02-03T15:54:22.979553Z","vnc_port":59010,"vnc_url":"vnc://m1:9s3v9TYk8fE9@62.210.166.191:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.676167ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"4e01c88b-4e17-4130-9a1c-5de2de67f916":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/b1d46365-fc41-4e77-a363-b3b53e9a6453/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-03T15:56:38.459693Z","id":"2ba592f6-0a5a-4c8b-af24-8b437b11e967","ipam_ip_ids":["22ca2761-9a62-4a15-b543-862028f5bd1f","b4bbbe53-5df9-4ce8-ba7f-6c2f1631179d"],"private_network_id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"b1d46365-fc41-4e77-a363-b3b53e9a6453","status":"attaching","updated_at":"2025-02-03T15:56:38.459693Z","vlan":3852}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 806.386375ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=b1d46365-fc41-4e77-a363-b3b53e9a6453
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-03T15:56:38.459693Z","id":"2ba592f6-0a5a-4c8b-af24-8b437b11e967","ipam_ip_ids":["22ca2761-9a62-4a15-b543-862028f5bd1f","b4bbbe53-5df9-4ce8-ba7f-6c2f1631179d"],"private_network_id":"4e01c88b-4e17-4130-9a1c-5de2de67f916","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"b1d46365-fc41-4e77-a363-b3b53e9a6453","status":"attaching","updated_at":"2025-02-03T15:56:38.459693Z","vlan":3852}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.881625ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4e01c88b-4e17-4130-9a1c-5de2de67f916
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 227.010875ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/b1d46365-fc41-4e77-a363-b3b53e9a6453/private-networks/4e01c88b-4e17-4130-9a1c-5de2de67f916
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 415.2805ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/b1d46365-fc41-4e77-a363-b3b53e9a6453
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 33.698417ms
