---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T14:58:58.518733Z","custom_routes_propagation_enabled":false,"id":"e0a88e3a-01e1-4798-90c1-85d865c74e77","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T14:58:58.518733Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 723.302459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e0a88e3a-01e1-4798-90c1-85d865c74e77/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T14:58:58.518733Z","custom_routes_propagation_enabled":true,"id":"e0a88e3a-01e1-4798-90c1-85d865c74e77","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T14:58:59.288769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 744.784709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e0a88e3a-01e1-4798-90c1-85d865c74e77
        method: GET
      response:
        body: '{"created_at":"2025-06-30T14:58:58.518733Z","custom_routes_propagation_enabled":true,"id":"e0a88e3a-01e1-4798-90c1-85d865c74e77","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T14:58:59.288769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.381459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"e0a88e3a-01e1-4798-90c1-85d865c74e77","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T14:58:59.571907Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-06-30T14:58:59.571907Z","id":"67b2d220-17df-4aa5-b4b9-9b34559257fc","private_network_id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-06-30T14:58:59.571907Z","vpc_id":"e0a88e3a-01e1-4798-90c1-85d865c74e77"},{"created_at":"2025-06-30T14:58:59.571907Z","id":"86a5bd7b-1e82-4b7f-b97b-f48db8bcd269","private_network_id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6934::/64","updated_at":"2025-06-30T14:58:59.571907Z","vpc_id":"e0a88e3a-01e1-4798-90c1-85d865c74e77"}],"tags":[],"updated_at":"2025-06-30T14:58:59.571907Z","vpc_id":"e0a88e3a-01e1-4798-90c1-85d865c74e77"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.225209ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d210e5b0-6aed-433d-9eb9-f34b08b601c3
        method: GET
      response:
        body: '{"created_at":"2025-06-30T14:58:59.571907Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-06-30T14:58:59.571907Z","id":"67b2d220-17df-4aa5-b4b9-9b34559257fc","private_network_id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-06-30T14:58:59.571907Z","vpc_id":"e0a88e3a-01e1-4798-90c1-85d865c74e77"},{"created_at":"2025-06-30T14:58:59.571907Z","id":"86a5bd7b-1e82-4b7f-b97b-f48db8bcd269","private_network_id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6934::/64","updated_at":"2025-06-30T14:58:59.571907Z","vpc_id":"e0a88e3a-01e1-4798-90c1-85d865c74e77"}],"tags":[],"updated_at":"2025-06-30T14:58:59.571907Z","vpc_id":"e0a88e3a-01e1-4798-90c1-85d865c74e77"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 440.626791ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"M2-M","enable_vpc":true,"commitment_type":"duration_24h","public_bandwidth_bps":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-06-30T14:59:00.738298Z","deletable_at":"2025-06-30T14:59:00.738298Z","deletion_scheduled":false,"delivered":false,"id":"80eef84c-6158-4512-9671-5a580af5404d","ip":"62.210.166.96","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_bandwidth_bps":0,"ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-06-30T14:59:00.738298Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_updating","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.819083ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/80eef84c-6158-4512-9671-5a580af5404d
        method: GET
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-06-30T14:59:00.738298Z","deletable_at":"2025-06-30T14:59:00.738298Z","deletion_scheduled":false,"delivered":false,"id":"80eef84c-6158-4512-9671-5a580af5404d","ip":"62.210.166.96","name":"TestAccServerEnableVPC","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_bandwidth_bps":0,"ssh_username":"m1","status":"starting","sudo_password":"TThcrXXUYkNV","type":"M2-M","updated_at":"2025-06-30T14:59:00.738298Z","vnc_port":59010,"vnc_url":"vnc://m1:TThcrXXUYkNV@62.210.166.96:59010","vpc_status":"vpc_updating","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.833708ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"d210e5b0-6aed-433d-9eb9-f34b08b601c3":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/80eef84c-6158-4512-9671-5a580af5404d/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-06-30T15:01:10.170855Z","id":"bad557ed-6941-4a6f-99f1-a27b309e9d96","ipam_ip_ids":["1105f730-c04d-4917-9002-b07577cba096","d3d24731-3668-461d-84f0-e153433960e0"],"private_network_id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"80eef84c-6158-4512-9671-5a580af5404d","status":"attaching","updated_at":"2025-06-30T15:01:10.170855Z","vlan":2838}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.13127275s
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=80eef84c-6158-4512-9671-5a580af5404d
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-06-30T15:01:10.170855Z","id":"bad557ed-6941-4a6f-99f1-a27b309e9d96","ipam_ip_ids":["1105f730-c04d-4917-9002-b07577cba096","d3d24731-3668-461d-84f0-e153433960e0"],"private_network_id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"80eef84c-6158-4512-9671-5a580af5404d","status":"attaching","updated_at":"2025-06-30T15:01:10.170855Z","vlan":2838}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.078916ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d210e5b0-6aed-433d-9eb9-f34b08b601c3&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_type=apple_silicon_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.12.2/22","created_at":"2025-06-30T15:01:12.210455Z","id":"1105f730-c04d-4917-9002-b07577cba096","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"bad557ed-6941-4a6f-99f1-a27b309e9d96","mac_address":"18:4A:53:07:4B:3C","name":"TestAccServerEnableVPC","type":"apple_silicon_private_nic"},"reverses":[],"source":{"subnet_id":"67b2d220-17df-4aa5-b4b9-9b34559257fc"},"tags":[],"updated_at":"2025-06-30T15:01:12.210455Z","zone":null},{"address":"fd5f:519c:6d46:6934:ad6e:a85b:4c2b:1ae3/64","created_at":"2025-06-30T15:01:12.210455Z","id":"d3d24731-3668-461d-84f0-e153433960e0","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"bad557ed-6941-4a6f-99f1-a27b309e9d96","mac_address":"18:4A:53:07:4B:3C","name":"TestAccServerEnableVPC","type":"apple_silicon_private_nic"},"reverses":[],"source":{"subnet_id":"86a5bd7b-1e82-4b7f-b97b-f48db8bcd269"},"tags":[],"updated_at":"2025-06-30T15:01:12.210455Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.447833ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"d210e5b0-6aed-433d-9eb9-f34b08b601c3":["1105f730-c04d-4917-9002-b07577cba096","d3d24731-3668-461d-84f0-e153433960e0"],"d269f9d3-f55f-4b3d-9f25-693442650dae":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/80eef84c-6158-4512-9671-5a580af5404d/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-06-30T15:01:10.170855Z","id":"bad557ed-6941-4a6f-99f1-a27b309e9d96","ipam_ip_ids":["1105f730-c04d-4917-9002-b07577cba096","d3d24731-3668-461d-84f0-e153433960e0"],"private_network_id":"d210e5b0-6aed-433d-9eb9-f34b08b601c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"80eef84c-6158-4512-9671-5a580af5404d","status":"attached","updated_at":"2025-06-30T15:01:10.170855Z","vlan":2838},{"created_at":"2025-06-30T15:01:34.193516Z","id":"40f108bd-708c-4e2e-a4ce-d9bd0fa5cfa1","ipam_ip_ids":["66156593-629e-4c62-a12a-1f33b9e9c752","53a6e901-3569-4721-a903-99982ae3928a"],"private_network_id":"d269f9d3-f55f-4b3d-9f25-693442650dae","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"80eef84c-6158-4512-9671-5a580af5404d","status":"attaching","updated_at":"2025-06-30T15:01:34.193516Z","vlan":1773}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.303597791s
[...]
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/80eef84c-6158-4512-9671-5a580af5404d
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 19.225875ms
