---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerBasic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M4-M","enable_vpc":false,"commitment_type":"duration_24h","public_bandwidth_bps":1000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-07-02T09:52:49.966922Z","deletable_at":"2025-07-02T09:52:49.966922Z","deletion_scheduled":false,"delivered":false,"id":"05d7f539-83cb-487d-9213-78097e57d7a1","ip":"62.210.193.119","name":"TestAccServerBasic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-L","M4-XL","M4-M","M4-S"],"family":"Sequoia","id":"87135053-e968-4a38-8735-86901accc6f5","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.3.1","name":"macos-sequoia-15.3.1","version":"15.3.1","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_bandwidth_bps":1000000000,"ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M4-M","updated_at":"2025-07-02T09:52:49.966922Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.532125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/05d7f539-83cb-487d-9213-78097e57d7a1
        method: GET
      response:
        body: '{"commitment":{"cancelled":false,"type":"none"},"created_at":"2025-07-02T09:52:49.966922Z","deletable_at":"2025-07-02T09:52:49.966922Z","deletion_scheduled":false,"delivered":false,"id":"05d7f539-83cb-487d-9213-78097e57d7a1","ip":"62.210.193.119","name":"TestAccServerBasic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-L","M4-XL","M4-M","M4-S"],"family":"Sequoia","id":"87135053-e968-4a38-8735-86901accc6f5","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.3.1","name":"macos-sequoia-15.3.1","version":"15.3.1","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_bandwidth_bps":1000000000,"ssh_username":"m1","status":"starting","sudo_password":"4BjFbHceu98H","type":"M4-M","updated_at":"2025-07-02T09:52:49.966922Z","vnc_port":59010,"vnc_url":"vnc://m1:4BjFbHceu98H@62.210.193.119:59010","vpc_status":"vpc_disabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.51375ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=05d7f539-83cb-487d-9213-78097e57d7a1
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.870125ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/05d7f539-83cb-487d-9213-78097e57d7a1
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 31.868667ms
