---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-02-13T14:12:48.387626Z","id":"ca0d3949-7e3e-4c12-a137-15bae947a344","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T14:12:48.387626Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.4285ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ca0d3949-7e3e-4c12-a137-15bae947a344
        method: GET
      response:
        body: '{"created_at":"2025-02-13T14:12:48.387626Z","id":"ca0d3949-7e3e-4c12-a137-15bae947a344","is_default":false,"name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-02-13T14:12:48.387626Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.845ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"vpc_id":"ca0d3949-7e3e-4c12-a137-15bae947a344"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-13T14:12:48.519989Z","dhcp_enabled":true,"id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T14:12:48.519989Z","id":"b7456e2c-3d5e-4278-98dd-52591b086872","private_network_id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.0.0/22","updated_at":"2025-02-13T14:12:48.519989Z","vpc_id":"ca0d3949-7e3e-4c12-a137-15bae947a344"},{"created_at":"2025-02-13T14:12:48.519989Z","id":"f15217f6-35c8-46b9-8339-ab64416a4790","private_network_id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:7231::/64","updated_at":"2025-02-13T14:12:48.519989Z","vpc_id":"ca0d3949-7e3e-4c12-a137-15bae947a344"}],"tags":[],"updated_at":"2025-02-13T14:12:48.519989Z","vpc_id":"ca0d3949-7e3e-4c12-a137-15bae947a344"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.168292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/62bcefb8-1fb9-47b8-aef8-dbb01cb7c759
        method: GET
      response:
        body: '{"created_at":"2025-02-13T14:12:48.519989Z","dhcp_enabled":true,"id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-02-13T14:12:48.519989Z","id":"b7456e2c-3d5e-4278-98dd-52591b086872","private_network_id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.0.0/22","updated_at":"2025-02-13T14:12:48.519989Z","vpc_id":"ca0d3949-7e3e-4c12-a137-15bae947a344"},{"created_at":"2025-02-13T14:12:48.519989Z","id":"f15217f6-35c8-46b9-8339-ab64416a4790","private_network_id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:7231::/64","updated_at":"2025-02-13T14:12:48.519989Z","vpc_id":"ca0d3949-7e3e-4c12-a137-15bae947a344"}],"tags":[],"updated_at":"2025-02-13T14:12:48.519989Z","vpc_id":"ca0d3949-7e3e-4c12-a137-15bae947a344"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.801375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServerEnableVPC","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","type":"M2-M","enable_vpc":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"created_at":"2025-02-13T14:12:49.224887Z","deletable_at":"2025-02-13T14:12:49.224887Z","deletion_scheduled":false,"delivered":false,"id":"85da7e37-a76e-4410-b458-1a26e131ed3a","ip":"62.210.166.167","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"\u003csealed\u003e","type":"M2-M","updated_at":"2025-02-13T14:12:49.224887Z","vnc_port":59010,"vnc_url":"\u003csealed\u003e","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.465125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/85da7e37-a76e-4410-b458-1a26e131ed3a
        method: GET
      response:
        body: '{"created_at":"2025-02-13T14:12:49.224887Z","deletable_at":"2025-02-13T14:12:49.224887Z","deletion_scheduled":false,"delivered":false,"id":"85da7e37-a76e-4410-b458-1a26e131ed3a","ip":"62.210.166.167","name":"TestAccServerEnableVPC","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","os":{"compatible_server_types":["M1-M","M2-M","M2-L","M4-S"],"family":"Sequoia","id":"367b9c18-d57f-4c9a-bcea-9e1fda66fc70","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sequoia.png","is_beta":false,"label":"macOS Sequoia 15.2","name":"macos-sequoia-15.2","version":"15.2","xcode_version":"16"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ssh_username":"m1","status":"starting","sudo_password":"ivhfvcdBy8ED","type":"M2-M","updated_at":"2025-02-13T14:12:49.224887Z","vnc_port":59010,"vnc_url":"vnc://m1:ivhfvcdBy8ED@62.210.166.167:59010","vpc_status":"vpc_enabled","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.513083ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/85da7e37-a76e-4410-b458-1a26e131ed3a/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T14:15:01.229394Z","id":"c4c49672-0468-4155-837a-5c54ef144ce4","ipam_ip_ids":["387f2461-4c84-495b-a434-a2efb6ecf0f2","20353194-74b2-45a8-afc7-dafa7a006932"],"private_network_id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"85da7e37-a76e-4410-b458-1a26e131ed3a","status":"attaching","updated_at":"2025-02-13T14:15:01.229394Z","vlan":3841}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 877.636583ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=85da7e37-a76e-4410-b458-1a26e131ed3a
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T14:15:01.229394Z","id":"c4c49672-0468-4155-837a-5c54ef144ce4","ipam_ip_ids":["387f2461-4c84-495b-a434-a2efb6ecf0f2","20353194-74b2-45a8-afc7-dafa7a006932"],"private_network_id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"85da7e37-a76e-4410-b458-1a26e131ed3a","status":"attaching","updated_at":"2025-02-13T14:15:01.229394Z","vlan":3841}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.547459ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759":["387f2461-4c84-495b-a434-a2efb6ecf0f2","20353194-74b2-45a8-afc7-dafa7a006932"],"f59fdd64-e2f8-4f36-98c6-2a669376d752":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/85da7e37-a76e-4410-b458-1a26e131ed3a/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-02-13T14:15:01.229394Z","id":"c4c49672-0468-4155-837a-5c54ef144ce4","ipam_ip_ids":["387f2461-4c84-495b-a434-a2efb6ecf0f2","20353194-74b2-45a8-afc7-dafa7a006932"],"private_network_id":"62bcefb8-1fb9-47b8-aef8-dbb01cb7c759","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"85da7e37-a76e-4410-b458-1a26e131ed3a","status":"attached","updated_at":"2025-02-13T14:15:01.229394Z","vlan":3841},{"created_at":"2025-02-13T14:15:20.690150Z","id":"1a0008a4-1bc0-438b-932c-f599fb1cd5e7","ipam_ip_ids":["354abbf6-b3b4-441b-929c-f2fbaa2e8d17","6b2ab76c-e020-4c01-a373-a95d50bbaa45"],"private_network_id":"f59fdd64-e2f8-4f36-98c6-2a669376d752","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"85da7e37-a76e-4410-b458-1a26e131ed3a","status":"attaching","updated_at":"2025-02-13T14:15:20.690150Z","vlan":3649}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 836.081625ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/85da7e37-a76e-4410-b458-1a26e131ed3a
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"server"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 28.051625ms
