---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_migrate_to_ha","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":2,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":2,"created_at":"2025-01-24T14:03:41.058393Z","endpoints":[{"id":"dc165fde-cdd1-4052-bf32-2c81dcd67382","ips":[],"port":6379,"public_network":{}}],"id":"88a7523a-449a-45b5-916e-2ec4b52f5854","name":"test_redis_migrate_to_ha","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":"2025-01-24T14:03:41.201803Z","upgradable_versions":[],"user_name":"initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.107076666s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/88a7523a-449a-45b5-916e-2ec4b52f5854
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":2,"created_at":"2025-01-24T14:03:41.058393Z","endpoints":[{"id":"dc165fde-cdd1-4052-bf32-2c81dcd67382","ips":[],"port":6379,"public_network":{}}],"id":"88a7523a-449a-45b5-916e-2ec4b52f5854","name":"test_redis_migrate_to_ha","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":"2025-01-24T14:03:41.201803Z","upgradable_versions":[],"user_name":"initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.669042ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/88a7523a-449a-45b5-916e-2ec4b52f5854/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURTekNDQWpPZ0F3SUJBZ0lRVHhZempjamdLUVdVUXNOSkJXc2JDVEFOQmdrcWhraUc5dzBCQVFzRkFEQTIKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUnd3R2dZRFZRUURFeE15TURBeE9tSmpPRG8zTVRBNgpZVGs0TWpvNk1CNFhEVEkxTURFeU5ERTBNRFEwTmxvWERUTTFNREV5TWpFME1EUTBObG93TmpFV01CUUdBMVVFCkNoTU5VMk5oYkdWM1lYbFNaV1JwY3pFY01Cb0dBMVVFQXhNVE1qQXdNVHBpWXpnNk56RXdPbUU1T0RJNk9qQ0MKQVNJd0RRWUpLb1pJaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFQQkgwTWs1MjlVOWZONnNLUDNlQTlTKwpMbG1Zck5rTGtwRVhBT0hFNmltUEl[...]
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/88a7523a-449a-45b5-916e-2ec4b52f5854
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"88a7523a-449a-45b5-916e-2ec4b52f5854","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.643208ms
[...]
