---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:08:53.532665Z","dhcp_enabled":true,"id":"276161ce-7dab-413d-83b2-02a66b8aa367","name":"private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:08:53.532665Z","id":"53f1e3c6-d2c3-47f0-a992-967b266f6444","subnet":"172.16.32.0/22","updated_at":"2023-11-16T16:08:53.532665Z"},{"created_at":"2023-11-16T16:08:53.532665Z","id":"2e1582da-7dc3-446d-a52d-425cfbdf3ead","subnet":"fd5f:519c:6d46:640f::/64","updated_at":"2023-11-16T16:08:53.532665Z"}],"tags":[],"updated_at":"2023-11-16T16:08:53.532665Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/276161ce-7dab-413d-83b2-02a66b8aa367
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:08:53.532665Z","dhcp_enabled":true,"id":"276161ce-7dab-413d-83b2-02a66b8aa367","name":"private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:08:53.532665Z","id":"53f1e3c6-d2c3-47f0-a992-967b266f6444","subnet":"172.16.32.0/22","updated_at":"2023-11-16T16:08:53.532665Z"},{"created_at":"2023-11-16T16:08:53.532665Z","id":"2e1582da-7dc3-446d-a52d-425cfbdf3ead","subnet":"fd5f:519c:6d46:640f::/64","updated_at":"2023-11-16T16:08:53.532665Z"}],"tags":[],"updated_at":"2023-11-16T16:08:53.532665Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"276161ce-7dab-413d-83b2-02a66b8aa367","service_ips":["10.12.1.0/20"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-11-16T16:08:54.543985Z","endpoints":[{"id":"fccf042e-01bc-4b1b-aea0-1bc53b6026ae","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"276161ce-7dab-413d-83b2-02a66b8aa367","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"9588034f-9277-4b4d-af4a-301752cbee05","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/9588034f-9277-4b4d-af4a-301752cbee05
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-11-16T16:08:54.543985Z","endpoints":[{"id":"fccf042e-01bc-4b1b-aea0-1bc53b6026ae","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"276161ce-7dab-413d-83b2-02a66b8aa367","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"9588034f-9277-4b4d-af4a-301752cbee05","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"endpoints":[{"private_network":{"id":"276161ce-7dab-413d-83b2-02a66b8aa367","service_ips":["10.12.1.0/20"],"ipam_config":null}},{"private_network":{"id":"4b0a64f7-ffb7-46c3-b634-610b6eb60152","service_ips":["192.168.1.0/20"],"ipam_config":null}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/9588034f-9277-4b4d-af4a-301752cbee05/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"id":"35667cf1-8ad4-4a96-9802-5f0c2ca073a4","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"276161ce-7dab-413d-83b2-02a66b8aa367","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}},{"id":"0ca0cedd-a474-4128-a248-d806eb5a3c16","ips":["192.168.1.0"],"port":6379,"private_network":{"id":"4b0a64f7-ffb7-46c3-b634-610b6eb60152","provisioning_mode":"static","service_ips":["192.168.1.0/20"],"zone":"fr-par-1"}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/9588034f-9277-4b4d-af4a-301752cbee05/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"id":"adb6636a-9f16-4847-a542-d6b91516b692","ips":["51.15.195.93"],"port":6379,"public_network":{}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/9588034f-9277-4b4d-af4a-301752cbee05
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"9588034f-9277-4b4d-af4a-301752cbee05","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
