---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_basic","version":"7.0.5","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T14:03:41.040924Z","endpoints":[{"id":"cf1af54a-62a0-4c18-b83e-bc972159679b","ips":[],"port":6379,"public_network":{}}],"id":"df23cd23-8c0a-4fa9-b779-fa9a9e39546f","name":"test_redis_basic","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":["test1"],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.081167542s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df23cd23-8c0a-4fa9-b779-fa9a9e39546f
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T14:03:41.040924Z","endpoints":[{"id":"cf1af54a-62a0-4c18-b83e-bc972159679b","ips":[],"port":6379,"public_network":{}}],"id":"df23cd23-8c0a-4fa9-b779-fa9a9e39546f","name":"test_redis_basic","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":["test1"],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.315834ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df23cd23-8c0a-4fa9-b779-fa9a9e39546f/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIVENDQWdXZ0F3SUJBZ0lRUWdLN212UWozUSswQ0FQUWhrRm5ZREFOQmdrcWhraUc5dzBCQVFzRkFEQXgKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUmN3RlFZRFZRUURFdzR5TVRJdU5EY3VNakkzTGpFMQpPREFlRncweU5UQXhNalF4TkRBME16SmFGdzB6TlRBeE1qSXhOREEwTXpKYU1ERXhGakFVQmdOVkJBb1REVk5qCllXeGxkMkY1VW1Wa2FYTXhGekFWQmdOVkJBTVREakl4TWk0ME55NHlNamN1TVRVNE1JSUJJakFOQmdrcWhraUcKOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXB1SXFyRmFGelY0MFdtdlVyK2hreEhjMENjWFdwaG4vNG9NZgpCa3dldWFUMVJmZW1YMGl1K1dnYWh[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"node_type":"RED1-S"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df23cd23-8c0a-4fa9-b779-fa9a9e39546f/migrate
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T14:03:41.040924Z","endpoints":[{"id":"cf1af54a-62a0-4c18-b83e-bc972159679b","ips":["212.47.227.158"],"port":6379,"public_network":{}}],"id":"df23cd23-8c0a-4fa9-b779-fa9a9e39546f","name":"test_redis_basic","node_type":"RED1-S","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":["test1"],"tls_enabled":true,"updated_at":"2025-01-24T14:05:40.455808Z","upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 939.397875ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df23cd23-8c0a-4fa9-b779-fa9a9e39546f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"df23cd23-8c0a-4fa9-b779-fa9a9e39546f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.232833ms
[...]
