---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T10:26:45.140112Z","dhcp_enabled":true,"id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","name":"private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T10:26:45.140112Z","id":"f974c13d-dee7-4ca2-a24e-ae22ff67a821","private_network_id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-01-24T10:26:45.140112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T10:26:45.140112Z","id":"376710f3-a879-4556-a90d-2b5183c4728d","private_network_id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:322d::/64","updated_at":"2025-01-24T10:26:45.140112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T10:26:45.140112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.00341575s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c6502be8-1df2-4c36-9e58-c06b80c70a45
        method: GET
      response:
        body: '{"created_at":"2025-01-24T10:26:45.140112Z","dhcp_enabled":true,"id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","name":"private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T10:26:45.140112Z","id":"f974c13d-dee7-4ca2-a24e-ae22ff67a821","private_network_id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-01-24T10:26:45.140112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T10:26:45.140112Z","id":"376710f3-a879-4556-a90d-2b5183c4728d","private_network_id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:322d::/64","updated_at":"2025-01-24T10:26:45.140112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T10:26:45.140112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.559209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","service_ips":["10.12.1.0/20"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T10:26:47.378407Z","endpoints":[{"id":"be31de5b-7055-4e85-ac2a-6560505d7711","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"c61ac232-eedb-44bd-8f62-be3ce3620541","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.54566925s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c61ac232-eedb-44bd-8f62-be3ce3620541
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T10:26:47.378407Z","endpoints":[{"id":"be31de5b-7055-4e85-ac2a-6560505d7711","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"c61ac232-eedb-44bd-8f62-be3ce3620541","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.344708ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: '{"endpoints":[{"private_network":{"id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","service_ips":["10.12.1.0/20"],"ipam_config":null}},{"private_network":{"id":"5153fac8-c7fa-496c-a578-d961c4f20bf0","service_ips":["192.168.1.0/20"],"ipam_config":null}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c61ac232-eedb-44bd-8f62-be3ce3620541/endpoints
        method: PUT
      response:
        body: '{"endpoints":[{"id":"a9919ec7-fbaf-42a7-9965-1f349afab0fc","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"c6502be8-1df2-4c36-9e58-c06b80c70a45","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}},{"id":"7b12cde2-b4e1-43ea-bc21-3b2b2e9f0360","ips":["192.168.1.0"],"port":6379,"private_network":{"id":"5153fac8-c7fa-496c-a578-d961c4f20bf0","provisioning_mode":"static","service_ips":["192.168.1.0/20"],"zone":"fr-par-1"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.182443209s
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c61ac232-eedb-44bd-8f62-be3ce3620541
        method: PATCH
      response:
        body: '{"current_state":"error","message":"resource is in a transient state","resource":"cluster","resource_id":"c61ac232-eedb-44bd-8f62-be3ce3620541","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 169.045833ms
[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c6502be8-1df2-4c36-9e58-c06b80c70a45
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 454.180583ms
[...]
