---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_acl\",\"version\":\"7.0.5\",\"tags\":null,\"node_type\":\"RED1-XS\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"acl_rules\":[{\"ip_cidr\":\"0.0.0.0/0\",\"description\":\"An acl description\"},{\"ip_cidr\":\"192.168.10.0/24\",\"description\":\"A second acl description\"}],\"endpoints\":null,\"tls_enabled\":false,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"fcfdc59f-b0ed-4770-8282-7eb03d0a1ac9\",\"name\":\"test_redis_acl\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"ff6a9b48-8df5-4f6f-9ab3-5eeeb54901ff\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-28T14:59:26.246966Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[{\"id\":\"f9dcff01-4543-496b-8b15-256e8581bf99\",\"ip_cidr\":\"0.0.0.0/0\",\"description\":\"An acl description\"},{\"id\":\"08b7725f-3e52-4fb2-abc6-5894c016c908\",\"ip_cidr\":\"192.168.10.0/24\",\"description\":\"A second acl description\"}],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 749.604923ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/fcfdc59f-b0ed-4770-8282-7eb03d0a1ac9
    method: GET
  response:
    body: "{\"id\":\"fcfdc59f-b0ed-4770-8282-7eb03d0a1ac9\",\"name\":\"test_redis_acl\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"ff6a9b48-8df5-4f6f-9ab3-5eeeb54901ff\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-28T14:59:26.246966Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[{\"id\":\"f9dcff01-4543-496b-8b15-256e8581bf99\",\"ip_cidr\":\"0.0.0.0/0\",\"description\":\"An acl description\"},{\"id\":\"08b7725f-3e52-4fb2-abc6-5894c016c908\",\"ip_cidr\":\"192.168.10.0/24\",\"description\":\"A second acl description\"}],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.278315ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"acl_rules\":[{\"ip_cidr\":\"192.168.11.0/24\",\"description\":\"Another acl description\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/fcfdc59f-b0ed-4770-8282-7eb03d0a1ac9/acls
    method: PUT
  response:
    body: "{\"acl_rules\":[{\"id\":\"645859b2-d8bc-4aa7-8b61-cde2594481cc\",\"ip_cidr\":\"192.168.11.0/24\",\"description\":\"Another acl description\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 672.660371ms
[...]
- id: 49
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/fcfdc59f-b0ed-4770-8282-7eb03d0a1ac9
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"fcfdc59f-b0ed-4770-8282-7eb03d0a1ac9\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 32.603744ms
[...]
