---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.627058ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-nervous-wing","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:57:53.229143Z","dhcp_enabled":true,"id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","name":"tf-pn-nervous-wing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:57:53.229143Z","id":"048fbec7-b7d8-4326-a426-fce2680962c4","private_network_id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T18:57:53.229143Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:57:53.229143Z","id":"f27fb3b7-9ab5-460d-b093-bb56955f93f6","private_network_id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2737::/64","updated_at":"2024-10-03T18:57:53.229143Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:57:53.229143Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 608.744604ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/52d1b1ab-3097-4ca3-aaef-4d0efb460611
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:57:53.229143Z","dhcp_enabled":true,"id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","name":"tf-pn-nervous-wing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:57:53.229143Z","id":"048fbec7-b7d8-4326-a426-fce2680962c4","private_network_id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T18:57:53.229143Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:57:53.229143Z","id":"f27fb3b7-9ab5-460d-b093-bb56955f93f6","private_network_id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2737::/64","updated_at":"2024-10-03T18:57:53.229143Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:57:53.229143Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.751816ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_migrate_cluster_size_static","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","service_ips":["192.168.99.1/24"],"ipam_config":null}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-03T18:57:54.280794Z","endpoints":[{"id":"3746d53a-a5f9-40b5-984d-8d5a090386d2","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"34270ec3-c094-4932-b6ab-f83c37328f7c","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.216928613s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/34270ec3-c094-4932-b6ab-f83c37328f7c
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-03T18:57:54.280794Z","endpoints":[{"id":"3746d53a-a5f9-40b5-984d-8d5a090386d2","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"52d1b1ab-3097-4ca3-aaef-4d0efb460611","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"34270ec3-c094-4932-b6ab-f83c37328f7c","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.236846ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=52d1b1ab-3097-4ca3-aaef-4d0efb460611&resource_id=34270ec3-c094-4932-b6ab-f83c37328f7c&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.262166ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/34270ec3-c094-4932-b6ab-f83c37328f7c/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHVENDQWdHZ0F3SUJBZ0lRWk9jcDIxMlZCUXJLVlFlR1BDUGhRakFOQmdrcWhraUc5dzBCQVFzRkFEQXYKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUlV3RXdZRFZRUURFd3cxTVM0eE5TNHhPVE11TWpNdwpIaGNOTWpReE1EQXpNVGcxT0RVNVdoY05NelF4TURBeE1UZzFPRFU1V2pBdk1SWXdGQVlEVlFRS0V3MVRZMkZzClpYZGhlVkpsWkdsek1SVXdFd1lEVlFRREV3dzFNUzR4TlM0eE9UTXVNak13Z2dFaU1BMEdDU3FHU0liM0RRRUIKQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUMrcUhhOGRnc1dEWlFTVDBaNGR5enAyQTI2c3ZhaUt3aFZZTER3bVJxbQphb2YvRkhoZmhFMWJnZVRnWlFaaGV[...]
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/34270ec3-c094-4932-b6ab-f83c37328f7c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"34270ec3-c094-4932-b6ab-f83c37328f7c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.389994ms
[...]
