---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_MigrateClusterSizeWithIPAMEndpoint","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:12:53.165849Z","custom_routes_propagation_enabled":true,"id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25","is_default":false,"name":"TestAccCluster_MigrateClusterSizeWithIPAMEndpoint","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:12:53.165849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.653292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/251f5e73-f9be-4d1b-a4c7-09ebbedfda25
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:12:53.165849Z","custom_routes_propagation_enabled":true,"id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25","is_default":false,"name":"TestAccCluster_MigrateClusterSizeWithIPAMEndpoint","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:12:53.165849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.639708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-jovial-gould","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:12:53.296440Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"ee13940b-608a-4b35-8eda-d37982d44c00","name":"tf-pn-jovial-gould","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:12:53.296440Z","id":"d7d9a04e-081e-4c04-8308-5842cbdfcab3","private_network_id":"ee13940b-608a-4b35-8eda-d37982d44c00","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-30T09:12:53.296440Z","vpc_id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25"},{"created_at":"2025-09-30T09:12:53.296440Z","id":"0b8795ca-24d1-4eda-b757-2e1ed7dc85cc","private_network_id":"ee13940b-608a-4b35-8eda-d37982d44c00","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8291::/64","updated_at":"2025-09-30T09:12:53.296440Z","vpc_id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25"}],"tags":[],"updated_at":"2025-09-30T09:12:53.296440Z","vpc_id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 623.593625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ee13940b-608a-4b35-8eda-d37982d44c00
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:12:53.296440Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"ee13940b-608a-4b35-8eda-d37982d44c00","name":"tf-pn-jovial-gould","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:12:53.296440Z","id":"d7d9a04e-081e-4c04-8308-5842cbdfcab3","private_network_id":"ee13940b-608a-4b35-8eda-d37982d44c00","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-30T09:12:53.296440Z","vpc_id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25"},{"created_at":"2025-09-30T09:12:53.296440Z","id":"0b8795ca-24d1-4eda-b757-2e1ed7dc85cc","private_network_id":"ee13940b-608a-4b35-8eda-d37982d44c00","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8291::/64","updated_at":"2025-09-30T09:12:53.296440Z","vpc_id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25"}],"tags":[],"updated_at":"2025-09-30T09:12:53.296440Z","vpc_id":"251f5e73-f9be-4d1b-a4c7-09ebbedfda25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.699833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"ee13940b-608a-4b35-8eda-d37982d44c00","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-09-30T09:12:54.347842Z","endpoints":[{"id":"eb13deeb-8fb5-482f-9cc6-79d95f9df1f5","ips":["172.17.124.2"],"port":6379,"private_network":{"id":"ee13940b-608a-4b35-8eda-d37982d44c00","provisioning_mode":"ipam","service_ips":["172.17.124.2/22"],"zone":"fr-par-1"}}],"id":"4a849e4e-f45f-4e3f-b26d-76f7db096de7","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.415177917s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4a849e4e-f45f-4e3f-b26d-76f7db096de7
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-09-30T09:12:54.347842Z","endpoints":[{"id":"eb13deeb-8fb5-482f-9cc6-79d95f9df1f5","ips":["172.17.124.2"],"port":6379,"private_network":{"id":"ee13940b-608a-4b35-8eda-d37982d44c00","provisioning_mode":"ipam","service_ips":["172.17.124.2/22"],"zone":"fr-par-1"}}],"id":"4a849e4e-f45f-4e3f-b26d-76f7db096de7","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 628.752125ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=ee13940b-608a-4b35-8eda-d37982d44c00&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=4a849e4e-f45f-4e3f-b26d-76f7db096de7&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.124.2/22","created_at":"2025-09-30T09:12:54.881903Z","id":"16e774d3-5c20-4612-97d8-1f2b5b87b3b6","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"4a849e4e-f45f-4e3f-b26d-76f7db096de7","mac_address":"02:00:00:1C:90:FE","name":"test_redis_migrate_cluster_size_ipam","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"d7d9a04e-081e-4c04-8308-5842cbdfcab3"},"tags":["managed","scwdbaas"],"updated_at":"2025-09-30T09:14:58.130177Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.519667ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4a849e4e-f45f-4e3f-b26d-76f7db096de7/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHVENDQWdHZ0F3SUJBZ0lRUGFibmJidm80b3hYL1k0UHhYcWNJREFOQmdrcWhraUc5dzBCQVFzRkFEQXYKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUlV3RXdZRFZRUURFd3cxTVM0eE5TNHlNREF1TnpndwpIaGNOTWpVd09UTXdNRGt4TkRBNFdoY05NelV3T1RJNE1Ea3hOREE0V2pBdk1SWXdGQVlEVlFRS0V3MVRZMkZzClpYZGhlVkpsWkdsek1SVXdFd1lEVlFRREV3dzFNUzR4TlM0eU1EQXVOemd3Z2dFaU1BMEdDU3FHU0liM0RRRUIKQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUURXNzBGcWVEQWkrdVdtZzFKN2hKM00yMFBXeURZNjMvRG9NVVVMWm5CZAowUGlGMkZxWXF5c1BqbkpWU2VHeXF[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4a849e4e-f45f-4e3f-b26d-76f7db096de7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"4a849e4e-f45f-4e3f-b26d-76f7db096de7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.120417ms
[...]
