---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.215053ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"private-network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T19:14:22.482397Z","dhcp_enabled":true,"id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T19:14:22.482397Z","id":"b87a3a6b-65a8-4d65-b34f-79464d6d74ba","private_network_id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T19:14:22.482397Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T19:14:22.482397Z","id":"116a224c-113b-41ca-a4ba-40c3658fbc87","private_network_id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2571::/64","updated_at":"2024-10-03T19:14:22.482397Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T19:14:22.482397Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 546.557105ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/efd23dbd-6803-4ef2-9b8e-301174bf3237
        method: GET
      response:
        body: '{"created_at":"2024-10-03T19:14:22.482397Z","dhcp_enabled":true,"id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T19:14:22.482397Z","id":"b87a3a6b-65a8-4d65-b34f-79464d6d74ba","private_network_id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T19:14:22.482397Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T19:14:22.482397Z","id":"116a224c-113b-41ca-a4ba-40c3658fbc87","private_network_id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2571::/64","updated_at":"2024-10-03T19:14:22.482397Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T19:14:22.482397Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.438406ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","service_ips":["10.12.1.0/20"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-03T19:14:23.400702Z","endpoints":[{"id":"704fb4da-62fd-47b2-b8f0-1630db65a5cf","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"ea376155-a593-4c06-9584-8cecf24505ba","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 975.840765ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ea376155-a593-4c06-9584-8cecf24505ba
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-03T19:14:23.400702Z","endpoints":[{"id":"704fb4da-62fd-47b2-b8f0-1630db65a5cf","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"ea376155-a593-4c06-9584-8cecf24505ba","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.69894ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=efd23dbd-6803-4ef2-9b8e-301174bf3237&resource_id=ea376155-a593-4c06-9584-8cecf24505ba&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.681185ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"endpoints":[{"private_network":{"id":"45db1fc2-99b4-4f16-9dde-27a3c407d11e","service_ips":["192.168.1.0/20"],"ipam_config":null}},{"private_network":{"id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","service_ips":["10.12.1.0/20"],"ipam_config":null}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ea376155-a593-4c06-9584-8cecf24505ba/endpoints
        method: PUT
      response:
        body: '{"endpoints":[{"id":"da1e7198-aecb-420f-9d4f-9c4f0543c093","ips":["192.168.1.0"],"port":6379,"private_network":{"id":"45db1fc2-99b4-4f16-9dde-27a3c407d11e","provisioning_mode":"static","service_ips":["192.168.1.0/20"],"zone":"fr-par-1"}},{"id":"337389df-10fc-4992-9a3b-b42315ac5ec1","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"efd23dbd-6803-4ef2-9b8e-301174bf3237","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.013345672s
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: '{"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ea376155-a593-4c06-9584-8cecf24505ba/endpoints
        method: PUT
      response:
        body: '{"endpoints":[{"id":"a9b55f8a-1954-4b1c-a52f-b6219d6d4102","ips":["163.172.177.203"],"port":6379,"public_network":{}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.682298ms
[...]
    - id: 134
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ea376155-a593-4c06-9584-8cecf24505ba
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"ea376155-a593-4c06-9584-8cecf24505ba","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.64876ms
[...]
