---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.595738ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_acl","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","acl_rules":[{"ip_cidr":"0.0.0.0/0","description":"An acl description"},{"ip_cidr":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[{"description":"An acl description","id":"b00990a0-a46c-43f7-a3b3-88081884eb6c","ip_cidr":"0.0.0.0/0"},{"description":"A second acl description","id":"229a17dc-9681-42cc-8eee-54bd6321075a","ip_cidr":"192.168.10.0/24"}],"cluster_settings":[],"cluster_size":1,"created_at":"2024-08-20T12:01:00.499671Z","endpoints":[{"id":"1ea61bb1-d9a7-48bc-bd59-c87a003520b4","ips":[],"port":6379,"public_network":{}}],"id":"1ff65344-1654-4601-ad23-6b5004acdf2e","name":"test_redis_acl","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.142528763s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/1ff65344-1654-4601-ad23-6b5004acdf2e
        method: GET
      response:
        body: '{"acl_rules":[{"description":"An acl description","id":"b00990a0-a46c-43f7-a3b3-88081884eb6c","ip_cidr":"0.0.0.0/0"},{"description":"A second acl description","id":"229a17dc-9681-42cc-8eee-54bd6321075a","ip_cidr":"192.168.10.0/24"}],"cluster_settings":[],"cluster_size":1,"created_at":"2024-08-20T12:01:00.499671Z","endpoints":[{"id":"1ea61bb1-d9a7-48bc-bd59-c87a003520b4","ips":[],"port":6379,"public_network":{}}],"id":"1ff65344-1654-4601-ad23-6b5004acdf2e","name":"test_redis_acl","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.401772ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"acl_rules":[{"ip_cidr":"192.168.11.0/24","description":"Another acl description"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/1ff65344-1654-4601-ad23-6b5004acdf2e/acls
        method: PUT
      response:
        body: '{"acl_rules":[{"description":"Another acl description","id":"5b33cbee-5a97-45b6-b562-7308d72ab97e","ip_cidr":"192.168.11.0/24"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 413.501745ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/1ff65344-1654-4601-ad23-6b5004acdf2e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"1ff65344-1654-4601-ad23-6b5004acdf2e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.986521ms
[...]
