---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_migrate_to_ha\",\"version\":\"7.0.5\",\"tags\":null,\"node_type\":\"RED1-XS\",\"user_name\":\"initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"cluster_size\":2,\"acl_rules\":null,\"endpoints\":null,\"tls_enabled\":true,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"5bab99a2-3959-405f-b915-d10c458cfd9a\",\"name\":\"test_redis_migrate_to_ha\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"fcf469b3-2577-4356-9fc3-dc801546697b\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:44.799798Z\",\"updated_at\":\"2025-08-26T16:29:44.960714Z\",\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":2,\"user_name\":\"initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 974.72654ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/5bab99a2-3959-405f-b915-d10c458cfd9a
    method: GET
  response:
    body: "{\"id\":\"5bab99a2-3959-405f-b915-d10c458cfd9a\",\"name\":\"test_redis_migrate_to_ha\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"fcf469b3-2577-4356-9fc3-dc801546697b\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:44.799798Z\",\"updated_at\":\"2025-08-26T16:29:44.960714Z\",\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":2,\"user_name\":\"initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 173.311773ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/5bab99a2-3959-405f-b915-d10c458cfd9a/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURTekNDQWpPZ0F3SUJBZ0lRWXBBOXVtMjRubDFWNUlLRGR3emhlREFOQmdrcWhraUc5dzBCQVFzRkFEQTIKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUnd3R2dZRFZRUURFeE15TURBeE9tSmpPRG8zTVRBNgpaR1ZtWkRvNk1CNFhEVEkxTURneU5qRTJNekF5TUZvWERUTTFNRGd5TkRFMk16QXlNRm93TmpFV01CUUdBMVVFCkNoTU5VMk5oYkdWM1lYbFNaV1JwY3pFY01Cb0dBMVVFQXhNVE1qQXdNVHBpWXpnNk56RXdPbVJsWm1RNk9qQ0MKQVNJd0RRWUpLb1pJaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFMcDhTWjlXUWJmM3V2aDVPRTZQWnVKYwpoQnltT3JKaGJ4SHpwQkZxMFBSSk[...]
[...]
- id: 58
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/5bab99a2-3959-405f-b915-d10c458cfd9a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"5bab99a2-3959-405f-b915-d10c458cfd9a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 100.680386ms
[...]
