---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-intelligent-wescoff","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T22:04:55.497266Z","dhcp_enabled":true,"id":"a80e45ce-89a4-4543-916f-8c03469f36d0","name":"tf-pn-intelligent-wescoff","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:04:55.497266Z","id":"bb3104a2-29f7-4401-8ddd-be909878d4a5","private_network_id":"a80e45ce-89a4-4543-916f-8c03469f36d0","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-05-05T22:04:55.497266Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:04:55.497266Z","id":"f3b20e17-f480-477e-b3b1-51b444230f7e","private_network_id":"a80e45ce-89a4-4543-916f-8c03469f36d0","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:50cb::/64","updated_at":"2025-05-05T22:04:55.497266Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:04:55.497266Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.806363ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a80e45ce-89a4-4543-916f-8c03469f36d0
        method: GET
      response:
        body: '{"created_at":"2025-05-05T22:04:55.497266Z","dhcp_enabled":true,"id":"a80e45ce-89a4-4543-916f-8c03469f36d0","name":"tf-pn-intelligent-wescoff","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:04:55.497266Z","id":"bb3104a2-29f7-4401-8ddd-be909878d4a5","private_network_id":"a80e45ce-89a4-4543-916f-8c03469f36d0","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-05-05T22:04:55.497266Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:04:55.497266Z","id":"f3b20e17-f480-477e-b3b1-51b444230f7e","private_network_id":"a80e45ce-89a4-4543-916f-8c03469f36d0","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:50cb::/64","updated_at":"2025-05-05T22:04:55.497266Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:04:55.497266Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.537587ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"a80e45ce-89a4-4543-916f-8c03469f36d0","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-05-05T22:04:56.466534Z","endpoints":[{"id":"ba27ed80-2a9a-4459-a046-93d6484b357c","ips":["172.16.28.2"],"port":6379,"private_network":{"id":"a80e45ce-89a4-4543-916f-8c03469f36d0","provisioning_mode":"ipam","service_ips":["172.16.28.2/22"],"zone":"fr-par-1"}}],"id":"6a551f67-0c2b-4088-91d7-cafa9e21dc9d","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.579307865s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6a551f67-0c2b-4088-91d7-cafa9e21dc9d
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-05-05T22:04:56.466534Z","endpoints":[{"id":"ba27ed80-2a9a-4459-a046-93d6484b357c","ips":["172.16.28.2"],"port":6379,"private_network":{"id":"a80e45ce-89a4-4543-916f-8c03469f36d0","provisioning_mode":"ipam","service_ips":["172.16.28.2/22"],"zone":"fr-par-1"}}],"id":"6a551f67-0c2b-4088-91d7-cafa9e21dc9d","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.168648ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a80e45ce-89a4-4543-916f-8c03469f36d0&resource_id=6a551f67-0c2b-4088-91d7-cafa9e21dc9d&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.28.2/22","created_at":"2025-05-05T22:04:57.094598Z","id":"c3b79493-02c5-4439-953f-04d446846347","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"6a551f67-0c2b-4088-91d7-cafa9e21dc9d","mac_address":"02:00:00:19:D8:1D","name":"test_redis_migrate_cluster_size_ipam","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"bb3104a2-29f7-4401-8ddd-be909878d4a5"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T22:06:49.099123Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.890368ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6a551f67-0c2b-4088-91d7-cafa9e21dc9d/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHVENDQWdHZ0F3SUJBZ0lRRU0rTi85aWI2cnN4NWRjNmpDazd3REFOQmdrcWhraUc5dzBCQVFzRkFEQXYKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUlV3RXdZRFZRUURFd3cxTVM0eE5TNHhNemt1TWpRdwpIaGNOTWpVd05UQTFNakl3TlRVMldoY05NelV3TlRBek1qSXdOVFUyV2pBdk1SWXdGQVlEVlFRS0V3MVRZMkZzClpYZGhlVkpsWkdsek1SVXdFd1lEVlFRREV3dzFNUzR4TlM0eE16a3VNalF3Z2dFaU1BMEdDU3FHU0liM0RRRUIKQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUURaK01GNVFuRUVsclE4Q0dVQnBmQVUvaTQ1bWJ0cFZhQTNYQ0VVMnVwRgp6QTFOR3FCc2xmRGFTMVd0dDNBc0Z[...]
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6a551f67-0c2b-4088-91d7-cafa9e21dc9d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"6a551f67-0c2b-4088-91d7-cafa9e21dc9d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.187237ms
[...]
