---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_basic\",\"version\":\"7.0.5\",\"tags\":[\"test1\"],\"node_type\":\"RED1-XS\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"cluster_size\":1,\"acl_rules\":null,\"endpoints\":null,\"tls_enabled\":true,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"a6222931-d524-452a-bb5d-a3f9d217a69d\",\"name\":\"test_redis_basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"9f45e31b-85a6-459c-87a3-9dedaefb7104\"}],\"tags\":[\"test1\"],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-28T14:39:51.238773Z\",\"updated_at\":null,\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 835.347835ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a6222931-d524-452a-bb5d-a3f9d217a69d
    method: GET
  response:
    body: "{\"id\":\"a6222931-d524-452a-bb5d-a3f9d217a69d\",\"name\":\"test_redis_basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"9f45e31b-85a6-459c-87a3-9dedaefb7104\"}],\"tags\":[\"test1\"],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-28T14:39:51.238773Z\",\"updated_at\":null,\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.545096ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a6222931-d524-452a-bb5d-a3f9d217a69d/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIVENDQWdXZ0F3SUJBZ0lRWXB2bkpzZzNUa2t5VFhPTWNZNlQvREFOQmdrcWhraUc5dzBCQVFzRkFEQXgKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUmN3RlFZRFZRUURFdzR5TVRJdU5EY3VNalExTGpFegpPVEFlRncweU5UQTRNamd4TkRRd01UUmFGdzB6TlRBNE1qWXhORFF3TVRSYU1ERXhGakFVQmdOVkJBb1REVk5qCllXeGxkMkY1VW1Wa2FYTXhGekFWQmdOVkJBTVREakl4TWk0ME55NHlORFV1TVRNNU1JSUJJakFOQmdrcWhraUcKOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXlsYlRBdHpVYjBSK25ZQU41cUhMTVJJUFJNaFVtT2kyaUljdwpDOFZ4UFlCOUkzQ2lid1dlTUFhYT[...]
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{\"node_type\":\"RED1-S\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a6222931-d524-452a-bb5d-a3f9d217a69d/migrate
    method: POST
  response:
    body: "{\"id\":\"a6222931-d524-452a-bb5d-a3f9d217a69d\",\"name\":\"test_redis_basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[\"212.47.245.139\"],\"id\":\"9f45e31b-85a6-459c-87a3-9dedaefb7104\"}],\"tags\":[\"test1\"],\"node_type\":\"RED1-S\",\"created_at\":\"2025-08-28T14:39:51.238773Z\",\"updated_at\":\"2025-08-28T14:41:28.525988Z\",\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 873.599263ms
[...]
- id: 77
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a6222931-d524-452a-bb5d-a3f9d217a69d
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"a6222931-d524-452a-bb5d-a3f9d217a69d\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 44.663789ms
[...]
