---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-interesting-ellis","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:03:40.691112Z","dhcp_enabled":true,"id":"f1feef22-2680-45f6-bc86-403f808e8de8","name":"tf-pn-interesting-ellis","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:03:40.691112Z","id":"c78e4349-ab84-4541-b302-4bf48595d9c9","private_network_id":"f1feef22-2680-45f6-bc86-403f808e8de8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.24.0/22","updated_at":"2025-01-24T14:03:40.691112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:03:40.691112Z","id":"d7201bbc-ff1a-4e43-9683-3de9bfa16209","private_network_id":"f1feef22-2680-45f6-bc86-403f808e8de8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fb74::/64","updated_at":"2025-01-24T14:03:40.691112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:03:40.691112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.978292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f1feef22-2680-45f6-bc86-403f808e8de8
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:03:40.691112Z","dhcp_enabled":true,"id":"f1feef22-2680-45f6-bc86-403f808e8de8","name":"tf-pn-interesting-ellis","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:03:40.691112Z","id":"c78e4349-ab84-4541-b302-4bf48595d9c9","private_network_id":"f1feef22-2680-45f6-bc86-403f808e8de8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.24.0/22","updated_at":"2025-01-24T14:03:40.691112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:03:40.691112Z","id":"d7201bbc-ff1a-4e43-9683-3de9bfa16209","private_network_id":"f1feef22-2680-45f6-bc86-403f808e8de8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fb74::/64","updated_at":"2025-01-24T14:03:40.691112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:03:40.691112Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.31375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"f1feef22-2680-45f6-bc86-403f808e8de8","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T14:03:41.769432Z","endpoints":[{"id":"cf434130-5a41-4341-9989-cbf87f46fef1","ips":["172.16.24.2"],"port":6379,"private_network":{"id":"f1feef22-2680-45f6-bc86-403f808e8de8","provisioning_mode":"ipam","service_ips":["172.16.24.2/22"],"zone":"fr-par-1"}}],"id":"74789dc2-8c57-44bc-9fb0-8783c29dbf33","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.701867875s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/74789dc2-8c57-44bc-9fb0-8783c29dbf33
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T14:03:41.769432Z","endpoints":[{"id":"cf434130-5a41-4341-9989-cbf87f46fef1","ips":["172.16.24.2"],"port":6379,"private_network":{"id":"f1feef22-2680-45f6-bc86-403f808e8de8","provisioning_mode":"ipam","service_ips":["172.16.24.2/22"],"zone":"fr-par-1"}}],"id":"74789dc2-8c57-44bc-9fb0-8783c29dbf33","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.719375ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/74789dc2-8c57-44bc-9fb0-8783c29dbf33/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIVENDQWdXZ0F3SUJBZ0lRRkJGck5SOGJuaGRua1I1S2FMZ0E5REFOQmdrcWhraUc5dzBCQVFzRkFEQXgKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUmN3RlFZRFZRUURFdzQxTVM0eE5UZ3VNVEl3TGpFMwpNakFlRncweU5UQXhNalF4TkRBMU1URmFGdzB6TlRBeE1qSXhOREExTVRGYU1ERXhGakFVQmdOVkJBb1REVk5qCllXeGxkMkY1VW1Wa2FYTXhGekFWQmdOVkJBTVREalV4TGpFMU9DNHhNakF1TVRjeU1JSUJJakFOQmdrcWhraUcKOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQW1oWk55cEtBQWU1d1hxOUp5NTlibzNCZ21kWldnWkhSSGVVZgpZRjgzZ0RVUnp6RzF4U2I2ZVN6eHJ[...]
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/74789dc2-8c57-44bc-9fb0-8783c29dbf33
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"74789dc2-8c57-44bc-9fb0-8783c29dbf33","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.810917ms
[...]
