---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_basic\",\"version\":\"7.0.5\",\"tags\":[\"test1\"],\"node_type\":\"RED1-XS\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"cluster_size\":1,\"acl_rules\":null,\"endpoints\":null,\"tls_enabled\":true,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters
    method: POST
  response:
    body: "{\"id\":\"8f5ba692-7d1c-475a-9063-041d8349f01b\",\"name\":\"test_redis_basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"a1a63c51-9a34-4eb9-b875-02ab4ae7dae6\"}],\"tags\":[\"test1\"],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:47.049009Z\",\"updated_at\":null,\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.777750141s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/8f5ba692-7d1c-475a-9063-041d8349f01b
    method: GET
  response:
    body: "{\"id\":\"8f5ba692-7d1c-475a-9063-041d8349f01b\",\"name\":\"test_redis_basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"a1a63c51-9a34-4eb9-b875-02ab4ae7dae6\"}],\"tags\":[\"test1\"],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:47.049009Z\",\"updated_at\":null,\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 199.324751ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/8f5ba692-7d1c-475a-9063-041d8349f01b/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHVENDQWdHZ0F3SUJBZ0lRQmxTVlBMcjZDRElreVdMTXZCZHNSVEFOQmdrcWhraUc5dzBCQVFzRkFEQXYKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUlV3RXdZRFZRUURFd3cxTVM0eE5Ua3VNVGM0TGprdwpIaGNOTWpVd09ESTJNVFl6TURFeldoY05NelV3T0RJME1UWXpNREV6V2pBdk1SWXdGQVlEVlFRS0V3MVRZMkZzClpYZGhlVkpsWkdsek1SVXdFd1lEVlFRREV3dzFNUzR4TlRrdU1UYzRMamt3Z2dFaU1BMEdDU3FHU0liM0RRRUIKQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUURlZU5XcEJDZDI2c3FPMTFXeFdYNEJpby9ZbjF3eEhoL3BGdFNIZ2d0TApqVzlnR0dOWHVxVmdqMjVwRVZmZE[...]
[...]
- id: 56
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/8f5ba692-7d1c-475a-9063-041d8349f01b
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"8f5ba692-7d1c-475a-9063-041d8349f01b\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 42.795702ms
[...]
