---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.533827ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-funny-varahamihira","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:01:00.809565Z","dhcp_enabled":true,"id":"e4220076-537e-4d94-aec7-b48813c07148","name":"tf-pn-funny-varahamihira","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","subnets":[{"created_at":"2024-08-20T12:01:00.809565Z","id":"6923a279-b79c-4afa-aa29-a5b344f75ad7","private_network_id":"e4220076-537e-4d94-aec7-b48813c07148","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"172.16.12.0/22","updated_at":"2024-08-20T12:01:00.809565Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"},{"created_at":"2024-08-20T12:01:00.809565Z","id":"55c3f0ec-053a-4aac-9407-bff436f9e6bc","private_network_id":"e4220076-537e-4d94-aec7-b48813c07148","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"fd4a:c18e:554d:5d01::/64","updated_at":"2024-08-20T12:01:00.809565Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}],"tags":[],"updated_at":"2024-08-20T12:01:00.809565Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.449994869s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e4220076-537e-4d94-aec7-b48813c07148
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:01:00.809565Z","dhcp_enabled":true,"id":"e4220076-537e-4d94-aec7-b48813c07148","name":"tf-pn-funny-varahamihira","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","subnets":[{"created_at":"2024-08-20T12:01:00.809565Z","id":"6923a279-b79c-4afa-aa29-a5b344f75ad7","private_network_id":"e4220076-537e-4d94-aec7-b48813c07148","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"172.16.12.0/22","updated_at":"2024-08-20T12:01:00.809565Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"},{"created_at":"2024-08-20T12:01:00.809565Z","id":"55c3f0ec-053a-4aac-9407-bff436f9e6bc","private_network_id":"e4220076-537e-4d94-aec7-b48813c07148","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"fd4a:c18e:554d:5d01::/64","updated_at":"2024-08-20T12:01:00.809565Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}],"tags":[],"updated_at":"2024-08-20T12:01:00.809565Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.99776ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_migrate_cluster_size_static","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"e4220076-537e-4d94-aec7-b48813c07148","service_ips":["192.168.99.1/24"],"ipam_config":null}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-08-20T12:01:02.003489Z","endpoints":[{"id":"6e73bf92-c564-4821-b8c3-1c922886eb66","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"e4220076-537e-4d94-aec7-b48813c07148","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"6f282d7e-d5d5-490d-9dd8-35487da7fc46","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.054861989s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6f282d7e-d5d5-490d-9dd8-35487da7fc46
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-08-20T12:01:02.003489Z","endpoints":[{"id":"6e73bf92-c564-4821-b8c3-1c922886eb66","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"e4220076-537e-4d94-aec7-b48813c07148","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"6f282d7e-d5d5-490d-9dd8-35487da7fc46","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.010263ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6f282d7e-d5d5-490d-9dd8-35487da7fc46/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIekNDQWdlZ0F3SUJBZ0lRQjE5YTFKSU5nMERFY0JWb2xhd0gzVEFOQmdrcWhraUc5dzBCQVFzRkFEQXkKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUmd3RmdZRFZRUURFdzh4TmpNdU1UY3lMakUxTmk0eApNemd3SGhjTk1qUXdPREl3TVRJd01URTBXaGNOTXpRd09ERTRNVEl3TVRFMFdqQXlNUll3RkFZRFZRUUtFdzFUClkyRnNaWGRoZVZKbFpHbHpNUmd3RmdZRFZRUURFdzh4TmpNdU1UY3lMakUxTmk0eE16Z3dnZ0VpTUEwR0NTcUcKU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLQW9JQkFRREZ3bUk0WVY4T01Td2hrRnBSdlpuOUlua1FYL3NYcjlpQwpDWGpHSkI0UkF0ZUZyYThWbS9oYXJ[...]
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6f282d7e-d5d5-490d-9dd8-35487da7fc46
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"6f282d7e-d5d5-490d-9dd8-35487da7fc46","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.908525ms
[...]
