---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.474964ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"private-network","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:01:00.561469Z","dhcp_enabled":true,"id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","name":"private-network","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","subnets":[{"created_at":"2024-08-20T12:01:00.561469Z","id":"601f80c5-0cce-446c-bdb9-932144c9f9ee","private_network_id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"172.16.0.0/22","updated_at":"2024-08-20T12:01:00.561469Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"},{"created_at":"2024-08-20T12:01:00.561469Z","id":"7285fc56-500f-46ad-b6ba-b3263f3107f1","private_network_id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"fd4a:c18e:554d:a53::/64","updated_at":"2024-08-20T12:01:00.561469Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}],"tags":[],"updated_at":"2024-08-20T12:01:00.561469Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.187760158s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/638c331f-5418-4dcd-b6e9-7937e6ff4473
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:01:00.561469Z","dhcp_enabled":true,"id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","name":"private-network","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","subnets":[{"created_at":"2024-08-20T12:01:00.561469Z","id":"601f80c5-0cce-446c-bdb9-932144c9f9ee","private_network_id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"172.16.0.0/22","updated_at":"2024-08-20T12:01:00.561469Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"},{"created_at":"2024-08-20T12:01:00.561469Z","id":"7285fc56-500f-46ad-b6ba-b3263f3107f1","private_network_id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"fd4a:c18e:554d:a53::/64","updated_at":"2024-08-20T12:01:00.561469Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}],"tags":[],"updated_at":"2024-08-20T12:01:00.561469Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.733475ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_endpoints_cluster_mode","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2024-08-20T12:01:01.805308Z","endpoints":[{"id":"798c6c7a-d32f-4299-8785-d79a77c41598","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"84102c76-2b80-4e08-8306-47c664db6ba9","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.115910366s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/84102c76-2b80-4e08-8306-47c664db6ba9
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2024-08-20T12:01:01.805308Z","endpoints":[{"id":"798c6c7a-d32f-4299-8785-d79a77c41598","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"638c331f-5418-4dcd-b6e9-7937e6ff4473","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"84102c76-2b80-4e08-8306-47c664db6ba9","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.070125ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/84102c76-2b80-4e08-8306-47c664db6ba9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"84102c76-2b80-4e08-8306-47c664db6ba9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.540884ms
[...]
