---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T20:47:07.652018Z","dhcp_enabled":true,"id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","name":"private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T20:47:07.652018Z","id":"b22f5754-2a7f-4ecc-a5e9-3df414516c1d","private_network_id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T20:47:07.652018Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T20:47:07.652018Z","id":"342de9a8-1f6c-4efa-933f-77c9b6d88cb6","private_network_id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:66a6::/64","updated_at":"2025-05-05T20:47:07.652018Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T20:47:07.652018Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.115483ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f49edd21-0bfb-4050-aca9-06b4c7d1e54a
        method: GET
      response:
        body: '{"created_at":"2025-05-05T20:47:07.652018Z","dhcp_enabled":true,"id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","name":"private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T20:47:07.652018Z","id":"b22f5754-2a7f-4ecc-a5e9-3df414516c1d","private_network_id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T20:47:07.652018Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T20:47:07.652018Z","id":"342de9a8-1f6c-4efa-933f-77c9b6d88cb6","private_network_id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:66a6::/64","updated_at":"2025-05-05T20:47:07.652018Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T20:47:07.652018Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.634485ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints_cluster_mode","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-05-05T20:47:08.746594Z","endpoints":[{"id":"9cefd7ef-b8bb-4717-9c62-9c487d3efb2b","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"e9cf2706-3601-40f6-8585-2c02869c7187","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.521900692s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/e9cf2706-3601-40f6-8585-2c02869c7187
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2025-05-05T20:47:08.746594Z","endpoints":[{"id":"9cefd7ef-b8bb-4717-9c62-9c487d3efb2b","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"f49edd21-0bfb-4050-aca9-06b4c7d1e54a","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"e9cf2706-3601-40f6-8585-2c02869c7187","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.847252ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=f49edd21-0bfb-4050-aca9-06b4c7d1e54a&resource_id=e9cf2706-3601-40f6-8585-2c02869c7187&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.235698ms
[...]
