---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-ra[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_password_wo","version":"7.2.11","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret_WO_1","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-01-26T11:18:53.698502Z","endpoints":[{"id":"70f7868a-593a-488c-a851-8dbcf221b678","ips":[],"port":6379,"public_network":{}}],"id":"335665c0-f5dd-472d-9008-600d1d9e3f66","name":"test_redis_password_wo","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.2.11","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 853.289356ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/335665c0-f5dd-472d-9008-600d1d9e3f66
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-01-26T11:18:53.698502Z","endpoints":[{"id":"70f7868a-593a-488c-a851-8dbcf221b678","ips":[],"port":6379,"public_network":{}}],"id":"335665c0-f5dd-472d-9008-600d1d9e3f66","name":"test_redis_password_wo","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.2.11","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.485008ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/335665c0-f5dd-472d-9008-600d1d9e3f66/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIakNDQWdhZ0F3SUJBZ0lSQU5IWG1zR084SVF2OHR1Q2kxaGJ0TDR3RFFZSktvWklodmNOQVFFTEJRQXcKTVRFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVYTUJVR0ExVUVBeE1PTlRFdU1UVTVMakUxTnk0eApOekV3SGhjTk1qWXdNVEkyTVRFeE9UTTFXaGNOTXpZd01USTBNVEV4T1RNMVdqQXhNUll3RkFZRFZRUUtFdzFUClkyRnNaWGRoZVZKbFpHbHpNUmN3RlFZRFZRUURFdzQxTVM0eE5Ua3VNVFUzTGpFM01UQ0NBU0l3RFFZSktvWkkKaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFMVUgrWE9IYzlHMk9CZmlKRlVEdFBzT2U1cEZFTkpjKzlxTwpCUmVIb2VxLy9OSG1MZWhUdCt0NXo[...]
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/335665c0-f5dd-472d-9008-600d1d9e3f66
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"335665c0-f5dd-472d-9008-600d1d9e3f66","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.246987ms
[...]
