---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_settings","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":[{"value":"150","name":"tcp-keepalive"},{"value":"5000","name":"maxclients"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[{"name":"tcp-keepalive","value":"150"},{"name":"maxclients","value":"5000"}],"cluster_size":1,"created_at":"2025-01-24T14:03:41.084885Z","endpoints":[{"id":"b51b92f7-4b77-4b86-af9a-769f1b82b30c","ips":[],"port":6379,"public_network":{}}],"id":"28b1a0f3-5d96-49b5-9f9e-5437156d4544","name":"test_redis_settings","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.167266083s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/28b1a0f3-5d96-49b5-9f9e-5437156d4544
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[{"name":"tcp-keepalive","value":"150"},{"name":"maxclients","value":"5000"}],"cluster_size":1,"created_at":"2025-01-24T14:03:41.084885Z","endpoints":[{"id":"b51b92f7-4b77-4b86-af9a-769f1b82b30c","ips":[],"port":6379,"public_network":{}}],"id":"28b1a0f3-5d96-49b5-9f9e-5437156d4544","name":"test_redis_settings","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.545667ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"settings":[{"value":"2000","name":"maxclients"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/28b1a0f3-5d96-49b5-9f9e-5437156d4544/settings
        method: PUT
      response:
        body: '{"settings":[{"name":"maxclients","value":"2000"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 478.047416ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/28b1a0f3-5d96-49b5-9f9e-5437156d4544
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"28b1a0f3-5d96-49b5-9f9e-5437156d4544","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 383.453666ms
[...]
