---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.304946ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-strange-matsumoto","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-01T22:11:25.726585Z","dhcp_enabled":true,"id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","name":"tf-pn-strange-matsumoto","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:11:25.726585Z","id":"d06eb5e2-f924-4416-ad00-2200e2740608","private_network_id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-01T22:11:25.726585Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T22:11:25.726585Z","id":"38e79a9b-6942-4bdc-b287-d0d5df4b31fe","private_network_id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:bd44::/64","updated_at":"2024-10-01T22:11:25.726585Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T22:11:25.726585Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.479404ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/25934ca4-3cd5-4c1b-8284-355ab0c057d8
        method: GET
      response:
        body: '{"created_at":"2024-10-01T22:11:25.726585Z","dhcp_enabled":true,"id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","name":"tf-pn-strange-matsumoto","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:11:25.726585Z","id":"d06eb5e2-f924-4416-ad00-2200e2740608","private_network_id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-01T22:11:25.726585Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T22:11:25.726585Z","id":"38e79a9b-6942-4bdc-b287-d0d5df4b31fe","private_network_id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:bd44::/64","updated_at":"2024-10-01T22:11:25.726585Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T22:11:25.726585Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.049367ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-01T22:11:26.662480Z","endpoints":[{"id":"9be854af-2ab3-4fac-a268-c204c337444e","ips":["172.16.56.2"],"port":6379,"private_network":{"id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","provisioning_mode":"ipam","service_ips":["172.16.56.2/22"],"zone":"fr-par-1"}}],"id":"03261906-2224-4bf8-9ada-eed94f6e9624","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.545855081s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/03261906-2224-4bf8-9ada-eed94f6e9624
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-01T22:11:26.662480Z","endpoints":[{"id":"9be854af-2ab3-4fac-a268-c204c337444e","ips":["172.16.56.2"],"port":6379,"private_network":{"id":"25934ca4-3cd5-4c1b-8284-355ab0c057d8","provisioning_mode":"ipam","service_ips":["172.16.56.2/22"],"zone":"fr-par-1"}}],"id":"03261906-2224-4bf8-9ada-eed94f6e9624","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.41823ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=25934ca4-3cd5-4c1b-8284-355ab0c057d8&resource_id=03261906-2224-4bf8-9ada-eed94f6e9624&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.56.2/22","created_at":"2024-10-01T22:11:27.285610Z","id":"a53c299f-8ccc-49ed-ae5e-542c1c50daf8","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"03261906-2224-4bf8-9ada-eed94f6e9624","mac_address":"02:00:00:16:9D:8C","name":"test_redis_migrate_cluster_size_ipam","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"d06eb5e2-f924-4416-ad00-2200e2740608"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-01T22:13:26.708895Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.178411ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/03261906-2224-4bf8-9ada-eed94f6e9624/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIakNDQWdhZ0F3SUJBZ0lSQUpDUzR3d20ydDJ1V3J1NmtYNUs4eWt3RFFZSktvWklodmNOQVFFTEJRQXcKTVRFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVYTUJVR0ExVUVBeE1PTlRFdU1UVTRMakV4TWk0eApNREF3SGhjTk1qUXhNREF4TWpJeE1qTXhXaGNOTXpRd09USTVNakl4TWpNeFdqQXhNUll3RkFZRFZRUUtFdzFUClkyRnNaWGRoZVZKbFpHbHpNUmN3RlFZRFZRUURFdzQxTVM0eE5UZ3VNVEV5TGpFd01EQ0NBU0l3RFFZSktvWkkKaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFMZnRGRnlwMG9Mck1hUXZwNVNseVE2SHBaL0hCa3F2SFlOVgpZbURGaDhKY2pxQW5iY3ExMHJ5MXp[...]
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/03261906-2224-4bf8-9ada-eed94f6e9624
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"03261906-2224-4bf8-9ada-eed94f6e9624","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.573822ms
[...]
