---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.2462ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-adoring-sutherland","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:01:00.180085Z","dhcp_enabled":true,"id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","name":"tf-pn-adoring-sutherland","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","subnets":[{"created_at":"2024-08-20T12:01:00.180085Z","id":"ea22215e-d47e-4b1e-aff4-751ac2f37459","private_network_id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"172.16.4.0/22","updated_at":"2024-08-20T12:01:00.180085Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"},{"created_at":"2024-08-20T12:01:00.180085Z","id":"940daa30-f9ce-454c-8701-816f8a8b31c2","private_network_id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"fd4a:c18e:554d:cce6::/64","updated_at":"2024-08-20T12:01:00.180085Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}],"tags":[],"updated_at":"2024-08-20T12:01:00.180085Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.112499913s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/84576aae-d7a7-4567-a1d5-d0b2eb7d4829
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:01:00.180085Z","dhcp_enabled":true,"id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","name":"tf-pn-adoring-sutherland","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","subnets":[{"created_at":"2024-08-20T12:01:00.180085Z","id":"ea22215e-d47e-4b1e-aff4-751ac2f37459","private_network_id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"172.16.4.0/22","updated_at":"2024-08-20T12:01:00.180085Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"},{"created_at":"2024-08-20T12:01:00.180085Z","id":"940daa30-f9ce-454c-8701-816f8a8b31c2","private_network_id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"fd4a:c18e:554d:cce6::/64","updated_at":"2024-08-20T12:01:00.180085Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}],"tags":[],"updated_at":"2024-08-20T12:01:00.180085Z","vpc_id":"53e50f63-f6c0-44f7-8576-d6edcb965d9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.039809ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-08-20T12:01:01.683778Z","endpoints":[{"id":"01ca711a-f781-4098-a936-ac3d33e017a8","ips":["172.16.4.2"],"port":6379,"private_network":{"id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","provisioning_mode":"ipam","service_ips":["172.16.4.2/22"],"zone":"fr-par-1"}}],"id":"dad31555-2ab7-4cdf-89b6-27e1ddd6c6cd","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.641916403s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/dad31555-2ab7-4cdf-89b6-27e1ddd6c6cd
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-08-20T12:01:01.683778Z","endpoints":[{"id":"01ca711a-f781-4098-a936-ac3d33e017a8","ips":["172.16.4.2"],"port":6379,"private_network":{"id":"84576aae-d7a7-4567-a1d5-d0b2eb7d4829","provisioning_mode":"ipam","service_ips":["172.16.4.2/22"],"zone":"fr-par-1"}}],"id":"dad31555-2ab7-4cdf-89b6-27e1ddd6c6cd","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.183079ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/dad31555-2ab7-4cdf-89b6-27e1ddd6c6cd/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHakNDQWdLZ0F3SUJBZ0lSQU4zNldLRk8wWCtaMGFEN1BBS1h2c2t3RFFZSktvWklodmNOQVFFTEJRQXcKTHpFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVWTUJNR0ExVUVBeE1NTlRFdU1UVTRMalk0TGpNeQpNQjRYRFRJME1EZ3lNREV5TURFeE0xb1hEVE0wTURneE9ERXlNREV4TTFvd0x6RVdNQlFHQTFVRUNoTU5VMk5oCmJHVjNZWGxTWldScGN6RVZNQk1HQTFVRUF4TU1OVEV1TVRVNExqWTRMak15TUlJQklqQU5CZ2txaGtpRzl3MEIKQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBdk45M3MxdlRyYkhnY1lmZk1DbVZLbzdzaUx4bG9SR0Q0M2tjR1hyQwo1UmpRMjM5Mk9NSUVjUTF4Q0NPaVF[...]
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/dad31555-2ab7-4cdf-89b6-27e1ddd6c6cd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"dad31555-2ab7-4cdf-89b6-27e1ddd6c6cd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.173904ms
[...]
