---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-quirky-euclid\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"name\":\"tf-pn-quirky-euclid\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T15:08:38.256123Z\",\"updated_at\":\"2025-08-29T15:08:38.256123Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"6abd0e52-f4b5-4edb-8ee7-5f9a80167d15\",\"created_at\":\"2025-08-29T15:08:38.256123Z\",\"updated_at\":\"2025-08-29T15:08:38.256123Z\",\"subnet\":\"172.16.56.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"3b4fe066-4338-4dd7-b6fb-53f2d4cc28a1\",\"created_at\":\"2025-08-29T15:08:38.256123Z\",\"updated_at\":\"2025-08-29T15:08:38.256123Z\",\"subnet\":\"fde7:767f:1bb5:f974::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 770.82821ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fe6d59d0-ac7d-4021-b96c-e93f57b77bac
    method: GET
  response:
    body: "{\"id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"name\":\"tf-pn-quirky-euclid\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T15:08:38.256123Z\",\"updated_at\":\"2025-08-29T15:08:38.256123Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"6abd0e52-f4b5-4edb-8ee7-5f9a80167d15\",\"created_at\":\"2025-08-29T15:08:38.256123Z\",\"updated_at\":\"2025-08-29T15:08:38.256123Z\",\"subnet\":\"172.16.56.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"3b4fe066-4338-4dd7-b6fb-53f2d4cc28a1\",\"created_at\":\"2025-08-29T15:08:38.256123Z\",\"updated_at\":\"2025-08-29T15:08:38.256123Z\",\"subnet\":\"fde7:767f:1bb5:f974::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.646624ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_migrate_cluster_size_ipam\",\"version\":\"7.0.5\",\"tags\":null,\"node_type\":\"RED1-XS\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"cluster_size\":1,\"acl_rules\":null,\"endpoints\":[{\"private_network\":{\"id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"service_ips\":null,\"ipam_config\":{}}}],\"tls_enabled\":true,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"795a7488-79c7-4d0c-9f02-97038cfd4c97\",\"name\":\"test_redis_migrate_cluster_size_ipam\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"private_network\":{\"id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"service_ips\":[\"172.16.56.2/22\"],\"provisioning_mode\":\"ipam\",\"zone\":\"fr-par-1\"},\"ips\":[\"172.16.56.2\"],\"id\":\"a78506a0-fffc-4848-9b52-431c13b6a04a\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-29T15:08:39.517254Z\",\"updated_at\":null,\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.42941493s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/795a7488-79c7-4d0c-9f02-97038cfd4c97
    method: GET
  response:
    body: "{\"id\":\"795a7488-79c7-4d0c-9f02-97038cfd4c97\",\"name\":\"test_redis_migrate_cluster_size_ipam\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"private_network\":{\"id\":\"fe6d59d0-ac7d-4021-b96c-e93f57b77bac\",\"service_ips\":[\"172.16.56.2/22\"],\"provisioning_mode\":\"ipam\",\"zone\":\"fr-par-1\"},\"ips\":[\"172.16.56.2\"],\"id\":\"a78506a0-fffc-4848-9b52-431c13b6a04a\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-29T15:08:39.517254Z\",\"updated_at\":null,\"tls_enabled\":true,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.769591ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - fe6d59d0-ac7d-4021-b96c-e93f57b77bac
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - 795a7488-79c7-4d0c-9f02-97038cfd4c97
      resource_type:
      - redis_cluster
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=fe6d59d0-ac7d-4021-b96c-e93f57b77bac&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=795a7488-79c7-4d0c-9f02-97038cfd4c97&resource_type=redis_cluster
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"febad830-2e1b-412f-b7a0-a2fd508a8b73\",\"address\":\"172.16.56.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T15:08:40.057396Z\",\"updated_at\":\"2025-08-29T15:10:32.955766Z\",\"source\":{\"subnet_id\":\"6abd0e52-f4b5-4edb-8ee7-5f9a80167d15\"},\"resource\":{\"type\":\"redis_cluster\",\"id\":\"795a7488-79c7-4d0c-9f02-97038cfd4c97\",\"mac_address\":\"02:00:00:13:BF:E0\",\"name\":\"test_redis_migrate_cluster_size_ipam\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 55.434374ms
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/795a7488-79c7-4d0c-9f02-97038cfd4c97/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHakNDQWdLZ0F3SUJBZ0lSQUp3QXl6VEF3Q2lnTGFURGZISFREWUl3RFFZSktvWklodmNOQVFFTEJRQXcKTHpFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVWTUJNR0ExVUVBeE1NTlRFdU1UVTRMamN3TGpFNQpNQjRYRFRJMU1EZ3lPVEUxTURrME0xb1hEVE0xTURneU56RTFNRGswTTFvd0x6RVdNQlFHQTFVRUNoTU5VMk5oCmJHVjNZWGxTWldScGN6RVZNQk1HQTFVRUF4TU1OVEV1TVRVNExqY3dMakU1TUlJQklqQU5CZ2txaGtpRzl3MEIKQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBNlUrR1lITC9xWjJUOWs3Mi8zc2swODVKVGNRaVB5VlRFd3Y5dDUxYgovbU14dTdjQ2tFZmh0WTJ4a29obE[...]
[...]
- id: 47
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/795a7488-79c7-4d0c-9f02-97038cfd4c97
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"795a7488-79c7-4d0c-9f02-97038cfd4c97\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 33.985689ms
[...]
- id: 105
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - fe6d59d0-ac7d-4021-b96c-e93f57b77bac
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=fe6d59d0-ac7d-4021-b96c-e93f57b77bac&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":4,\"ips\":[{\"id\":\"581f9837-57a2-4a88-b598-d80b03[...]
[...]
- id: 109
  request:
    host: api.scaleway.com
    body: "{\"resource\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/581f9837-57a2-4a88-b598-d80b03cd02e2/detach
    method: POST
  response:
    body: "{\"details\":[{\"argument_name\":\"resource\",\"help_message\":\"missing_argument\",\"reason\":\"required\"}],\"message\":\"invalid argument(s)\",\"type\":\"invalid_arguments\"}"
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: 20.903997ms
