---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-confident-williamson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-19T16:03:37.141409Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","name":"tf-pn-confident-williamson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-19T16:03:37.141409Z","id":"8101e32e-c356-4151-ae01-690eec305fee","private_network_id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.16.0/22","updated_at":"2025-05-19T16:03:37.141409Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-19T16:03:37.141409Z","id":"6a66ad2f-9c58-4c7a-a282-87c07a93cede","private_network_id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:fa8::/64","updated_at":"2025-05-19T16:03:37.141409Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-19T16:03:37.141409Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 888.009137ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3ba4744c-e61a-4441-b69b-7037502a8fb6
        method: GET
      response:
        body: '{"created_at":"2025-05-19T16:03:37.141409Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","name":"tf-pn-confident-williamson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-19T16:03:37.141409Z","id":"8101e32e-c356-4151-ae01-690eec305fee","private_network_id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.16.0/22","updated_at":"2025-05-19T16:03:37.141409Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-19T16:03:37.141409Z","id":"6a66ad2f-9c58-4c7a-a282-87c07a93cede","private_network_id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:fa8::/64","updated_at":"2025-05-19T16:03:37.141409Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-19T16:03:37.141409Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.022049ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-05-19T16:03:38.394182Z","endpoints":[{"id":"d9cdcaf6-7626-4e2d-af23-9f12d4f84012","ips":["172.16.16.2"],"port":6379,"private_network":{"id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","provisioning_mode":"ipam","service_ips":["172.16.16.2/22"],"zone":"fr-par-1"}}],"id":"66814081-cc95-4913-9963-93b1584a5ad2","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.461176602s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/66814081-cc95-4913-9963-93b1584a5ad2
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-05-19T16:03:38.394182Z","endpoints":[{"id":"d9cdcaf6-7626-4e2d-af23-9f12d4f84012","ips":["172.16.16.2"],"port":6379,"private_network":{"id":"3ba4744c-e61a-4441-b69b-7037502a8fb6","provisioning_mode":"ipam","service_ips":["172.16.16.2/22"],"zone":"fr-par-1"}}],"id":"66814081-cc95-4913-9963-93b1584a5ad2","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.695606ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3ba4744c-e61a-4441-b69b-7037502a8fb6&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=66814081-cc95-4913-9963-93b1584a5ad2&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.16.2/22","created_at":"2025-05-19T16:03:39.051310Z","id":"62ee79e6-fe24-4203-ab04-269aef871050","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"66814081-cc95-4913-9963-93b1584a5ad2","mac_address":"02:00:00:1B:E8:83","name":"test_redis_migrate_cluster_size_ipam","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"8101e32e-c356-4151-ae01-690eec305fee"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-19T16:05:15.510915Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.890036ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/66814081-cc95-4913-9963-93b1584a5ad2/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIekNDQWdlZ0F3SUJBZ0lRQ1cwSmxWM3loRDdmTitZWHV2czY0ekFOQmdrcWhraUc5dzBCQVFzRkFEQXkKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUmd3RmdZRFZRUURFdzh4TmpNdU1UY3lMakV6Tnk0eApNVFl3SGhjTk1qVXdOVEU1TVRZd05ETXpXaGNOTXpVd05URTNNVFl3TkRNeldqQXlNUll3RkFZRFZRUUtFdzFUClkyRnNaWGRoZVZKbFpHbHpNUmd3RmdZRFZRUURFdzh4TmpNdU1UY3lMakV6Tnk0eE1UWXdnZ0VpTUEwR0NTcUcKU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLQW9JQkFRRE43Uk45SjN0N3hYQ3pzdkltRmJaY1JkeTlDM1ZaeS9iKwpTak5RY0ZlSlJXTzFwalVlWUNrLzB[...]
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/66814081-cc95-4913-9963-93b1584a5ad2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"66814081-cc95-4913-9963-93b1584a5ad2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.463582ms
[...]
