---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_settings\",\"version\":\"7.0.5\",\"tags\":null,\"node_type\":\"RED1-XS\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"acl_rules\":null,\"endpoints\":null,\"tls_enabled\":false,\"cluster_settings\":[{\"value\":\"150\",\"name\":\"tcp-keepalive\"},{\"value\":\"5000\",\"name\":\"maxclients\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"4e7638d6-00a4-4d8e-8da5-91bc8f7226a3\",\"name\":\"test_redis_settings\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"765373dc-6f13-41e1-b227-53125cff379a\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:48.124608Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[{\"value\":\"150\",\"name\":\"tcp-keepalive\"},{\"value\":\"5000\",\"name\":\"maxclients\"}],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.085464152s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4e7638d6-00a4-4d8e-8da5-91bc8f7226a3
    method: GET
  response:
    body: "{\"id\":\"4e7638d6-00a4-4d8e-8da5-91bc8f7226a3\",\"name\":\"test_redis_settings\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"765373dc-6f13-41e1-b227-53125cff379a\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:48.124608Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[{\"value\":\"150\",\"name\":\"tcp-keepalive\"},{\"value\":\"5000\",\"name\":\"maxclients\"}],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.817786ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"settings\":[{\"value\":\"2000\",\"name\":\"maxclients\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4e7638d6-00a4-4d8e-8da5-91bc8f7226a3/settings
    method: PUT
  response:
    body: "{\"settings\":[{\"value\":\"2000\",\"name\":\"maxclients\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 469.349073ms
[...]
- id: 57
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4e7638d6-00a4-4d8e-8da5-91bc8f7226a3
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"4e7638d6-00a4-4d8e-8da5-91bc8f7226a3\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 36.788297ms
[...]
