---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"private-network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"name\":\"private-network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:29:44.605107Z\",\"updated_at\":\"2025-08-26T16:29:44.605107Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"d274592d-8eb9-4433-8712-7fe728d81530\",\"created_at\":\"2025-08-26T16:29:44.605107Z\",\"updated_at\":\"2025-08-26T16:29:44.605107Z\",\"subnet\":\"172.16.132.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"93a164de-92b0-4a08-be89-a1cac413c69c\",\"created_at\":\"2025-08-26T16:29:44.605107Z\",\"updated_at\":\"2025-08-26T16:29:44.605107Z\",\"subnet\":\"fde7:767f:1bb5:25c9::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 840.89381ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a39b6898-261a-4a95-8c28-7ad96763ec90
    method: GET
  response:
    body: "{\"id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"name\":\"private-network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:29:44.605107Z\",\"updated_at\":\"2025-08-26T16:29:44.605107Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"d274592d-8eb9-4433-8712-7fe728d81530\",\"created_at\":\"2025-08-26T16:29:44.605107Z\",\"updated_at\":\"2025-08-26T16:29:44.605107Z\",\"subnet\":\"172.16.132.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"93a164de-92b0-4a08-be89-a1cac413c69c\",\"created_at\":\"2025-08-26T16:29:44.605107Z\",\"updated_at\":\"2025-08-26T16:29:44.605107Z\",\"subnet\":\"fde7:767f:1bb5:25c9::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 24.612013ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_endpoints_cluster_mode\",\"version\":\"7.0.5\",\"tags\":null,\"node_type\":\"RED1-XS\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"cluster_size\":3,\"acl_rules\":null,\"endpoints\":[{\"private_network\":{\"id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"service_ips\":[\"10.12.1.10/24\",\"10.12.1.11/24\",\"10.12.1.12/24\"],\"ipam_config\":null}}],\"tls_enabled\":false,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"a42397ac-f99e-4f26-9a60-d000845cf755\",\"name\":\"test_redis_endpoints_cluster_mode\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"private_network\":{\"id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"service_ips\":[\"10.12.1.10/24\",\"10.12.1.11/24\",\"10.12.1.12/24\"],\"provisioning_mode\":\"static\",\"zone\":\"fr-par-1\"},\"ips\":[\"10.12.1.10\",\"10.12.1.11\",\"10.12.1.12\"],\"id\":\"5cd2952c-c9a7-4068-ad3a-7e5d807644b6\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:46.813508Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":3,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.193923019s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a42397ac-f99e-4f26-9a60-d000845cf755
    method: GET
  response:
    body: "{\"id\":\"a42397ac-f99e-4f26-9a60-d000845cf755\",\"name\":\"test_redis_endpoints_cluster_mode\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"private_network\":{\"id\":\"a39b6898-261a-4a95-8c28-7ad96763ec90\",\"service_ips\":[\"10.12.1.10/24\",\"10.12.1.11/24\",\"10.12.1.12/24\"],\"provisioning_mode\":\"static\",\"zone\":\"fr-par-1\"},\"ips\":[\"10.12.1.10\",\"10.12.1.11\",\"10.12.1.12\"],\"id\":\"5cd2952c-c9a7-4068-ad3a-7e5d807644b6\"}],\"tags\":[],\"node_type\":\"RED1-XS\",\"created_at\":\"2025-08-26T16:29:46.813508Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":3,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 167.433969ms
[...]
- id: 43
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - a39b6898-261a-4a95-8c28-7ad96763ec90
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - a42397ac-f99e-4f26-9a60-d000845cf755
      resource_type:
      - redis_cluster
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a39b6898-261a-4a95-8c28-7ad96763ec90&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=a42397ac-f99e-4f26-9a60-d000845cf755&resource_type=redis_cluster
    method: GET
  response:
    body: "{\"total_count\":0,\"ips\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 51.04211ms
[...]
- id: 65
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a42397ac-f99e-4f26-9a60-d000845cf755
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"a42397ac-f99e-4f26-9a60-d000845cf755\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.451323ms
[...]
