---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.41032ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-kind-cartwright","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:46:32.995010Z","dhcp_enabled":true,"id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","name":"tf-pn-kind-cartwright","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:46:32.995010Z","id":"e0c309cb-d779-4f24-9bb2-3c1ed969a233","private_network_id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T18:46:32.995010Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:46:32.995010Z","id":"f16323e5-6a9c-4c7f-8aa2-4ba96c47555b","private_network_id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3b84::/64","updated_at":"2024-10-03T18:46:32.995010Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:46:32.995010Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 690.2441ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2dffdfd3-176e-4f34-8349-0976e4de6ebf
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:46:32.995010Z","dhcp_enabled":true,"id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","name":"tf-pn-kind-cartwright","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:46:32.995010Z","id":"e0c309cb-d779-4f24-9bb2-3c1ed969a233","private_network_id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T18:46:32.995010Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:46:32.995010Z","id":"f16323e5-6a9c-4c7f-8aa2-4ba96c47555b","private_network_id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3b84::/64","updated_at":"2024-10-03T18:46:32.995010Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:46:32.995010Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.35026ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-03T18:46:34.138195Z","endpoints":[{"id":"a35f496e-3067-44d3-bc3d-494c4eeff8bf","ips":["172.16.56.2"],"port":6379,"private_network":{"id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","provisioning_mode":"ipam","service_ips":["172.16.56.2/22"],"zone":"fr-par-1"}}],"id":"e9deb26f-7b21-4148-b65d-623dcc71a7fd","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.506681241s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/e9deb26f-7b21-4148-b65d-623dcc71a7fd
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-10-03T18:46:34.138195Z","endpoints":[{"id":"a35f496e-3067-44d3-bc3d-494c4eeff8bf","ips":["172.16.56.2"],"port":6379,"private_network":{"id":"2dffdfd3-176e-4f34-8349-0976e4de6ebf","provisioning_mode":"ipam","service_ips":["172.16.56.2/22"],"zone":"fr-par-1"}}],"id":"e9deb26f-7b21-4148-b65d-623dcc71a7fd","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.057428ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=2dffdfd3-176e-4f34-8349-0976e4de6ebf&resource_id=e9deb26f-7b21-4148-b65d-623dcc71a7fd&resource_type=redis_cluster
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.56.2/22","created_at":"2024-10-03T18:46:34.746422Z","id":"afed468e-2e42-4a23-832a-05b9413dff57","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"e9deb26f-7b21-4148-b65d-623dcc71a7fd","mac_address":"02:00:00:19:9F:E3","name":"test_redis_migrate_cluster_size_ipam","type":"redis_cluster"},"reverses":[],"source":{"subnet_id":"e0c309cb-d779-4f24-9bb2-3c1ed969a233"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T18:48:26.500987Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.872478ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/e9deb26f-7b21-4148-b65d-623dcc71a7fd/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIakNDQWdhZ0F3SUJBZ0lSQVBJeElMc2k4S1hMSTNxTVlhM0gyTVV3RFFZSktvWklodmNOQVFFTEJRQXcKTVRFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVYTUJVR0ExVUVBeE1PTlRFdU1UVTRMakV3TWk0eQpOREF3SGhjTk1qUXhNREF6TVRnME56TTVXaGNOTXpReE1EQXhNVGcwTnpNNVdqQXhNUll3RkFZRFZRUUtFdzFUClkyRnNaWGRoZVZKbFpHbHpNUmN3RlFZRFZRUURFdzQxTVM0eE5UZ3VNVEF5TGpJME1EQ0NBU0l3RFFZSktvWkkKaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFPdkF2RFN5RFVvYTgrd1pxSUYrUUhWbEY1UUlHTHJQTmZ1QgpXL3kxdlFib2RXenV6RE9GOTl4REt[...]
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/e9deb26f-7b21-4148-b65d-623dcc71a7fd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"e9deb26f-7b21-4148-b65d-623dcc71a7fd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.110102ms
[...]
