---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-magical-mirzakhani","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-04T17:06:01.017456Z","dhcp_enabled":true,"id":"627871f8-e5ae-4206-a73c-fee60507c1af","name":"tf-pn-magical-mirzakhani","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-04T17:06:01.017456Z","id":"cb58c7b5-c3c9-4dd4-a2b6-9a6f77bba55e","subnet":"172.16.28.0/22","updated_at":"2024-03-04T17:06:01.017456Z"},{"created_at":"2024-03-04T17:06:01.017456Z","id":"73935ea7-d676-4ec4-86f7-14d000f580a9","subnet":"fd5f:519c:6d46:2830::/64","updated_at":"2024-03-04T17:06:01.017456Z"}],"tags":[],"updated_at":"2024-03-04T17:06:01.017456Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/627871f8-e5ae-4206-a73c-fee60507c1af
    method: GET
  response:
    body: '{"created_at":"2024-03-04T17:06:01.017456Z","dhcp_enabled":true,"id":"627871f8-e5ae-4206-a73c-fee60507c1af","name":"tf-pn-magical-mirzakhani","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-04T17:06:01.017456Z","id":"cb58c7b5-c3c9-4dd4-a2b6-9a6f77bba55e","subnet":"172.16.28.0/22","updated_at":"2024-03-04T17:06:01.017456Z"},{"created_at":"2024-03-04T17:06:01.017456Z","id":"73935ea7-d676-4ec4-86f7-14d000f580a9","subnet":"fd5f:519c:6d46:2830::/64","updated_at":"2024-03-04T17:06:01.017456Z"}],"tags":[],"updated_at":"2024-03-04T17:06:01.017456Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_migrate_cluster_size_static","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"627871f8-e5ae-4206-a73c-fee60507c1af","service_ips":["192.168.99.1/24"],"ipam_config":null}}],"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-03-04T17:06:02.129481Z","endpoints":[{"id":"6f441abc-44c6-4dd0-b836-0e0726669247","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"627871f8-e5ae-4206-a73c-fee60507c1af","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"023910a4-df10-43d2-8e73-0b577ad0bbf1","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/023910a4-df10-43d2-8e73-0b577ad0bbf1
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-03-04T17:06:02.129481Z","endpoints":[{"id":"6f441abc-44c6-4dd0-b836-0e0726669247","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"627871f8-e5ae-4206-a73c-fee60507c1af","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"023910a4-df10-43d2-8e73-0b577ad0bbf1","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/023910a4-df10-43d2-8e73-0b577ad0bbf1/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHekNDQWdPZ0F3SUJBZ0lRUG9XYnJsaEc2L0FjQnppc25JYmV2ekFOQmdrcWhraUc5dzBCQVFzRkFEQXcKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUll3RkFZRFZRUURFdzAxTVM0eE5TNHhNekV1TWpRNApNQjRYRFRJME1ETXdOREUzTURZeE5Gb1hEVE0wTURNd01qRTNNRFl4TkZvd01ERVdNQlFHQTFVRUNoTU5VMk5oCmJHVjNZWGxTWldScGN6RVdNQlFHQTFVRUF4TU5OVEV1TVRVdU1UTXhMakkwT0RDQ0FTSXdEUVlKS29aSWh2Y04KQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQVBEWHBZUU9CaEtBRWFTWjNYWEhpSFdIeEZrUHNLT3h2ZnhQSUlZcAplQkg0TGQxeE9RRDVrM0tnL04xM2Z[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/023910a4-df10-43d2-8e73-0b577ad0bbf1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"023910a4-df10-43d2-8e73-0b577ad0bbf1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
- request:
    body: '{"cluster_size":5}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/613f50ed-abb3-4f1c-96d2-9d337b1e5c4b/migrate
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":5,"created_at":"2024-03-04T17:08:15.742992Z","endpoints":[{"id":"4dc667c9-8f20-4642-9a00-9943d8c8a8c1","ips":["192.168.99.1","192.168.99.2","192.168.99.3","192.168.99.4","192.168.99.5"],"port":6379,"private_network":{"id":"627871f8-e5ae-4206-a73c-fee60507c1af","provisioning_mode":"static","service_ips":["192.168.99.1/24","192.168.99.2/24","192.168.99.3/24","192.168.99.4/24","192.168.99.5/24"],"zone":"fr-par-1"}}],"id":"613f50ed-abb3-4f1c-96d2-9d337b1e5c4b","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":"2024-03-04T17:11:10.223398Z","upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
