---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_acl","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","acl_rules":[{"ip_cidr":"0.0.0.0/0","description":"An acl description"},{"ip_cidr":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[{"description":"An acl description","id":"3d1b7786-b9ca-400f-abe2-4da4da6f9c0c","ip_cidr":"0.0.0.0/0"},{"description":"A second acl description","id":"f6ba84ab-4779-4983-a821-a6112105d8a4","ip_cidr":"192.168.10.0/24"}],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T14:03:40.989143Z","endpoints":[{"id":"e3888239-138e-48de-b32a-d71d3388c044","ips":[],"port":6379,"public_network":{}}],"id":"98b045c9-d5c3-4821-b5af-66a1dbf8d62a","name":"test_redis_acl","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.096560792s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/98b045c9-d5c3-4821-b5af-66a1dbf8d62a
        method: GET
      response:
        body: '{"acl_rules":[{"description":"An acl description","id":"3d1b7786-b9ca-400f-abe2-4da4da6f9c0c","ip_cidr":"0.0.0.0/0"},{"description":"A second acl description","id":"f6ba84ab-4779-4983-a821-a6112105d8a4","ip_cidr":"192.168.10.0/24"}],"cluster_settings":[],"cluster_size":1,"created_at":"2025-01-24T14:03:40.989143Z","endpoints":[{"id":"e3888239-138e-48de-b32a-d71d3388c044","ips":[],"port":6379,"public_network":{}}],"id":"98b045c9-d5c3-4821-b5af-66a1dbf8d62a","name":"test_redis_acl","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.935209ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"acl_rules":[{"ip_cidr":"192.168.11.0/24","description":"Another acl description"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/98b045c9-d5c3-4821-b5af-66a1dbf8d62a/acls
        method: PUT
      response:
        body: '{"acl_rules":[{"description":"Another acl description","id":"cce0bcdf-ca30-4f99-9361-ce90bf93eb9a","ip_cidr":"192.168.11.0/24"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 695.600042ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/98b045c9-d5c3-4821-b5af-66a1dbf8d62a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"98b045c9-d5c3-4821-b5af-66a1dbf8d62a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.051041ms
[...]
