---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test_redis_datasource_terraform","version":"7.0.5","tags":null,"node_type":"RED1-micro","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-05-22T15:30:38.150531Z","endpoints":[{"id":"92364774-9f75-4041-8207-d465174dc31c","ips":[],"port":6379,"public_network":{}}],"id":"01b91ee6-4ed1-40a3-9cdf-4eeb014bb8e9","name":"test_redis_datasource_terraform","node_type":"RED1-micro","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 758.543292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/01b91ee6-4ed1-40a3-9cdf-4eeb014bb8e9
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-05-22T15:30:38.150531Z","endpoints":[{"id":"92364774-9f75-4041-8207-d465174dc31c","ips":[],"port":6379,"public_network":{}}],"id":"01b91ee6-4ed1-40a3-9cdf-4eeb014bb8e9","name":"test_redis_datasource_terraform","node_type":"RED1-micro","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.306875ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=test_redis_datasource_terraform&order_by=created_at_asc
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-05-22T15:30:38.150531Z","endpoints":[{"id":"92364774-9f75-4041-8207-d465174dc31c","ips":["163.172.184.8"],"port":6379,"public_network":{}}],"id":"01b91ee6-4ed1-40a3-9cdf-4eeb014bb8e9","name":"test_redis_datasource_terraform","node_type":"RED1-micro","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","tags":[],"tls_enabled":false,"updated_at":"2025-05-22T15:31:45.362577Z","upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.028541ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/01b91ee6-4ed1-40a3-9cdf-4eeb014bb8e9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"01b91ee6-4ed1-40a3-9cdf-4eeb014bb8e9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.158208ms
[...]
