---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"false","deprecated":false,"description":"Disable Redis rdb persistence file on disk","max_value":null,"min_value":null,"name":"disable-save","regex":null,"type":"BOOLEAN"},{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected [...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_datasource_terraform","version":"7.0.5","tags":null,"node_type":"RED1-micro","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-09-05T15:14:43.677780Z","endpoints":[{"id":"414de415-335e-43b0-a831-58d812b2e8a0","ips":[],"port":6379,"public_network":{}}],"id":"b1670196-0928-4bc4-a426-2d55845bbdeb","name":"test_redis_datasource_terraform","node_type":"RED1-micro","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 874.822375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/b1670196-0928-4bc4-a426-2d55845bbdeb
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-09-05T15:14:43.677780Z","endpoints":[{"id":"414de415-335e-43b0-a831-58d812b2e8a0","ips":[],"port":6379,"public_network":{}}],"id":"b1670196-0928-4bc4-a426-2d55845bbdeb","name":"test_redis_datasource_terraform","node_type":"RED1-micro","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.496625ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=test_redis_datasource_terraform&order_by=created_at_asc
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2025-09-05T15:14:43.677780Z","endpoints":[{"id":"414de415-335e-43b0-a831-58d812b2e8a0","ips":["51.15.136.42"],"port":6379,"public_network":{}}],"id":"b1670196-0928-4bc4-a426-2d55845bbdeb","name":"test_redis_datasource_terraform","node_type":"RED1-micro","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","tags":[],"tls_enabled":false,"updated_at":"2025-09-05T15:15:58.759664Z","upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.983208ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/b1670196-0928-4bc4-a426-2d55845bbdeb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b1670196-0928-4bc4-a426-2d55845bbdeb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 76.7385ms
[...]
