---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_beta:
      - "false"
      include_deprecated:
      - "false"
      include_disabled:
      - "false"
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: "{\"total_count\":2,\"versions\":[{\"version\":\"7.0.5\",\"end_of_life_at\":\"2024-10-28T00:00:00Z\",\"available_settings\":[{\"name\":\"notify-keyspace-events\",\"default_value\":\"\\\"\\\"\",\"type\":\"STRING\",\"description\":\"Configure the keyspace event notification feature\",\"max_value\":null,\"min_value\":null,\"regex\":\"^(?:([KEg$lshzxetdnm])(?!.*\\\\1))+$\",\"deprecated\":false},{\"name\":\"disable-save\",\"default_value\":\"false\",\"type\":\"BOOLEAN\",\"description\":\"Disable Redis rdb persistence file on disk\",\"max_value\":null,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"tcp-keepalive\",\"default_value\":\"300\",\"type\":\"INT\",\"description\":\"The specified value (in seconds) is the period used to send ACKs.\",\"max_value\":65536,\"min_value\":null,\"regex\":null,\"deprecated\":false},{\"name\":\"maxclients\",\"default_value\":\"1[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_redis_datasource_terraform\",\"version\":\"7.0.5\",\"tags\":null,\"node_type\":\"RED1-micro\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"acl_rules\":null,\"endpoints\":null,\"tls_enabled\":false,\"cluster_settings\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: "{\"id\":\"0d11621b-bac4-42d8-8eed-4209e0da04d5\",\"name\":\"test_redis_datasource_terraform\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"638525ad-d3bb-4bb8-8a51-1fa785973ed2\"}],\"tags\":[],\"node_type\":\"RED1-micro\",\"created_at\":\"2025-08-28T14:13:58.124230Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 866.498637ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/0d11621b-bac4-42d8-8eed-4209e0da04d5
    method: GET
  response:
    body: "{\"id\":\"0d11621b-bac4-42d8-8eed-4209e0da04d5\",\"name\":\"test_redis_datasource_terraform\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[],\"id\":\"638525ad-d3bb-4bb8-8a51-1fa785973ed2\"}],\"tags\":[],\"node_type\":\"RED1-micro\",\"created_at\":\"2025-08-28T14:13:58.124230Z\",\"updated_at\":null,\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.735789ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    form:
      name:
      - test_redis_datasource_terraform
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=test_redis_datasource_terraform&order_by=created_at_asc
    method: GET
  response:
    body: "{\"clusters\":[{\"id\":\"0d11621b-bac4-42d8-8eed-4209e0da04d5\",\"name\":\"test_redis_datasource_terraform\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"version\":\"7.0.5\",\"endpoints\":[{\"port\":6379,\"public_network\":{},\"ips\":[\"212.47.245.139\"],\"id\":\"638525ad-d3bb-4bb8-8a51-1fa785973ed2\"}],\"tags\":[],\"node_type\":\"RED1-micro\",\"created_at\":\"2025-08-28T14:13:58.124230Z\",\"updated_at\":\"2025-08-28T14:15:27.665870Z\",\"tls_enabled\":false,\"cluster_settings\":[],\"acl_rules\":[],\"cluster_size\":1,\"user_name\":\"my_initial_user\",\"upgradable_versions\":[],\"zone\":\"fr-par-1\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.876792ms
[...]
- id: 52
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/0d11621b-bac4-42d8-8eed-4209e0da04d5
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"0d11621b-bac4-42d8-8eed-4209e0da04d5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 176.196156ms
[...]
