---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/node-types?include_disabled_types=false&page=1
        method: GET
      response:
        body: '{"node_types":[{"beta":false,"description":"2 vCPU, 2G RAM","disabled":false,"memory":2000000000,"name":"RED1-micro","stock_status":"available","vcpus":2,"zone":"fr-par-1"},{"beta":false,"description":"3 vCPU, 4G RAM","disabled":false,"memory":4000000000,"name":"RED1-2XS","stock_status":"available","vcpus":3,"zone":"fr-par-1"},{"beta":false,"description":"4 vCPU, 8G RAM","disabled":false,"memory":8000000000,"name":"RED1-XS","stock_status":"available","vcpus":4,"zone":"fr-par-1"},{"beta":false,"description":"4 vCPU, 12G RAM","disabled":false,"memory":12000000000,"name":"RED1-S","stock_status":"available","vcpus":4,"zone":"fr-par-1"},{"beta":false,"description":"4 vCPU, 16G RAM","disabled":false,"memory":16000000000,"name":"RED1-M","stock_status":"available","vcpus":4,"zone":"fr-par-1"},{"beta":false,"description":"8 vCPU, 32G RAM","disabled":false,"memory":32000000000,"name":"RED1-L","stock_status":"available","vcpus":8,"zone":"fr-par-1"},{"beta":false,"description":"16 vCPU, 64G RAM","disabled":false,"memory":64000000000,"name":"RED1-XL","stock_status":"available","vcpus":16,"zone":"fr-par-1"}],"total_count":7}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 418.300916ms
[...]
