---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-ra[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-redis-cluster-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:05:57.979925Z","description":"","id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","name":"tf-tests-redis-cluster-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T16:05:57.979925Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 675.889273ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8aa84fc5-3eb3-4f2b-9947-348c0c3a568b
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:05:57.979925Z","description":"","id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","name":"tf-tests-redis-cluster-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T16:05:57.979925Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.774635ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","name":"tf-test-redis-list-4823616331525728375","version":"8.6.3","tags":["redis-list-test-2078923807392667811"],"node_type":"RED1-micro","user_name":"tf_test_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-08-17T16:05:59.158858Z","endpoints":[{"id":"7c1ff986-a61f-4278-95c8-1ac60b6b2ec1","ips":[],"port":6379,"public_network":{}}],"id":"8ec61975-30bc-4d26-a234-a4cfd330e50c","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","status":"provisioning","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.6.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 850.86164ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/8ec61975-30bc-4d26-a234-a4cfd330e50c
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-08-17T16:05:59.158858Z","endpoints":[{"id":"7c1ff986-a61f-4278-95c8-1ac60b6b2ec1","ips":[],"port":6379,"public_network":{}}],"id":"8ec61975-30bc-4d26-a234-a4cfd330e50c","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","status":"provisioning","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.6.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.104681ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?order_by=created_at_asc&page=1&project_id=8aa84fc5-3eb3-4f2b-9947-348c0c3a568b&tags=redis-list-test-2078923807392667811
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-08-17T16:05:59.158858Z","endpoints":[{"id":"7c1ff986-a61f-4278-95c8-1ac60b6b2ec1","ips":["51.15.236.247"],"port":6379,"public_network":{}}],"id":"8ec61975-30bc-4d26-a234-a4cfd330e50c","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-08-17T16:09:02.225755Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.6.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.368196ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&page=1&project_id=8aa84fc5-3eb3-4f2b-9947-348c0c3a568b
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-08-17T16:05:59.158858Z","endpoints":[{"id":"7c1ff986-a61f-4278-95c8-1ac60b6b2ec1","ips":["51.15.236.247"],"port":6379,"public_network":{}}],"id":"8ec61975-30bc-4d26-a234-a4cfd330e50c","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-08-17T16:09:02.225755Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.6.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.550142ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&page=1&project_id=8aa84fc5-3eb3-4f2b-9947-348c0c3a568b&version=8.6.3
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-08-17T16:05:59.158858Z","endpoints":[{"id":"7c1ff986-a61f-4278-95c8-1ac60b6b2ec1","ips":["51.15.236.247"],"port":6379,"public_network":{}}],"id":"8ec61975-30bc-4d26-a234-a4cfd330e50c","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"8aa84fc5-3eb3-4f2b-9947-348c0c3a568b","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-08-17T16:09:02.225755Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.6.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.526978ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/8ec61975-30bc-4d26-a234-a4cfd330e50c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"8ec61975-30bc-4d26-a234-a4cfd330e50c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.601998ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&project_id=8aa84fc5-3eb3-4f2b-9947-348c0c3a568b
        method: GET
      response:
        body: '{"clusters":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.270614ms
[...]
