---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-ra[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-naughty-tesla","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-06T12:48:57.923522Z","description":"","id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","name":"tf-project-naughty-tesla","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-05-06T12:48:57.923522Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 506.530458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e
        method: GET
      response:
        body: '{"created_at":"2026-05-06T12:48:57.923522Z","description":"","id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","name":"tf-project-naughty-tesla","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-06T12:48:57.923522Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.668125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","name":"tf-test-redis-list-4823616331525728375","version":"8.4.0","tags":["redis-list-test-2078923807392667811"],"node_type":"RED1-micro","user_name":"tf_test_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-06T12:48:58.921653Z","endpoints":[{"id":"e17e584b-032f-4dbe-a2a4-feb7b34cf891","ips":[],"port":6379,"public_network":{}}],"id":"537a3aeb-7db6-4066-a93d-5780177975c6","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","status":"provisioning","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 836.781667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/537a3aeb-7db6-4066-a93d-5780177975c6
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-06T12:48:58.921653Z","endpoints":[{"id":"e17e584b-032f-4dbe-a2a4-feb7b34cf891","ips":[],"port":6379,"public_network":{}}],"id":"537a3aeb-7db6-4066-a93d-5780177975c6","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","status":"provisioning","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.788667ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?order_by=created_at_asc&page=1&project_id=dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e&tags=redis-list-test-2078923807392667811
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-06T12:48:58.921653Z","endpoints":[{"id":"e17e584b-032f-4dbe-a2a4-feb7b34cf891","ips":["163.172.173.32"],"port":6379,"public_network":{}}],"id":"537a3aeb-7db6-4066-a93d-5780177975c6","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-05-06T12:51:32.483514Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.930583ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&page=1&project_id=dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-06T12:48:58.921653Z","endpoints":[{"id":"e17e584b-032f-4dbe-a2a4-feb7b34cf891","ips":["163.172.173.32"],"port":6379,"public_network":{}}],"id":"537a3aeb-7db6-4066-a93d-5780177975c6","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-05-06T12:51:32.483514Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.672375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&page=1&project_id=dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e&version=8.4.0
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-06T12:48:58.921653Z","endpoints":[{"id":"e17e584b-032f-4dbe-a2a4-feb7b34cf891","ips":["163.172.173.32"],"port":6379,"public_network":{}}],"id":"537a3aeb-7db6-4066-a93d-5780177975c6","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-05-06T12:51:32.483514Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.493708ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/537a3aeb-7db6-4066-a93d-5780177975c6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"537a3aeb-7db6-4066-a93d-5780177975c6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 221.523667ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&project_id=dc65a5c2-7353-4eaf-a3bd-78fa052d7e9e
        method: GET
      response:
        body: '{"clusters":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.531875ms
[...]
