---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-ra[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-eloquent-pare","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-07T12:35:52.035903Z","description":"","id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","name":"tf-project-eloquent-pare","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-05-07T12:35:52.035903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 599.180834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8c46d17e-42d3-437e-b412-5cefbc35d64c
        method: GET
      response:
        body: '{"created_at":"2026-05-07T12:35:52.035903Z","description":"","id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","name":"tf-project-eloquent-pare","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-07T12:35:52.035903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.498375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","name":"test-redis-list-1","version":"8.4.0","tags":["list-test"],"node_type":"RED1-micro","user_name":"tf_test_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T12:35:53.007650Z","endpoints":[{"id":"85e4866c-79eb-48dc-af4a-05e6ec2ff33c","ips":[],"port":6379,"public_network":{}}],"id":"4969d9d1-7673-4bb0-9340-1c0f76a38b01","name":"test-redis-list-1","node_type":"RED1-micro","project_id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","status":"provisioning","tags":["list-test"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 732.968208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4969d9d1-7673-4bb0-9340-1c0f76a38b01
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T12:35:53.007650Z","endpoints":[{"id":"85e4866c-79eb-48dc-af4a-05e6ec2ff33c","ips":[],"port":6379,"public_network":{}}],"id":"4969d9d1-7673-4bb0-9340-1c0f76a38b01","name":"test-redis-list-1","node_type":"RED1-micro","project_id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","status":"provisioning","tags":["list-test"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.774667ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?order_by=created_at_asc&page=1&project_id=8c46d17e-42d3-437e-b412-5cefbc35d64c&tags=list-test
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T12:35:53.007650Z","endpoints":[{"id":"85e4866c-79eb-48dc-af4a-05e6ec2ff33c","ips":["212.47.226.129"],"port":6379,"public_network":{}}],"id":"4969d9d1-7673-4bb0-9340-1c0f76a38b01","name":"test-redis-list-1","node_type":"RED1-micro","project_id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","status":"ready","tags":["list-test"],"tls_enabled":false,"updated_at":"2026-05-07T12:39:54.794591Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.711167ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=test-redis-list-1&order_by=created_at_asc&page=1&project_id=8c46d17e-42d3-437e-b412-5cefbc35d64c
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T12:35:53.007650Z","endpoints":[{"id":"85e4866c-79eb-48dc-af4a-05e6ec2ff33c","ips":["212.47.226.129"],"port":6379,"public_network":{}}],"id":"4969d9d1-7673-4bb0-9340-1c0f76a38b01","name":"test-redis-list-1","node_type":"RED1-micro","project_id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","status":"ready","tags":["list-test"],"tls_enabled":false,"updated_at":"2026-05-07T12:39:54.794591Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.987542ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=test-redis-list-1&order_by=created_at_asc&page=1&project_id=8c46d17e-42d3-437e-b412-5cefbc35d64c&version=8.4.0
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T12:35:53.007650Z","endpoints":[{"id":"85e4866c-79eb-48dc-af4a-05e6ec2ff33c","ips":["212.47.226.129"],"port":6379,"public_network":{}}],"id":"4969d9d1-7673-4bb0-9340-1c0f76a38b01","name":"test-redis-list-1","node_type":"RED1-micro","project_id":"8c46d17e-42d3-437e-b412-5cefbc35d64c","status":"ready","tags":["list-test"],"tls_enabled":false,"updated_at":"2026-05-07T12:39:54.794591Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.530042ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4969d9d1-7673-4bb0-9340-1c0f76a38b01
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"4969d9d1-7673-4bb0-9340-1c0f76a38b01","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 83.647ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=test-redis-list-1&order_by=created_at_asc&project_id=8c46d17e-42d3-437e-b412-5cefbc35d64c
        method: GET
      response:
        body: '{"clusters":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.47675ms
[...]
