---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-ra[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-keen-kepler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-07T13:39:26.821970Z","description":"","id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","name":"tf-project-keen-kepler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-05-07T13:39:26.821970Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 529.738334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/137a78cc-f3d5-4c0a-9be6-107b0bada1e6
        method: GET
      response:
        body: '{"created_at":"2026-05-07T13:39:26.821970Z","description":"","id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","name":"tf-project-keen-kepler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-07T13:39:26.821970Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.838834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","name":"tf-test-redis-list-4823616331525728375","version":"8.4.0","tags":["redis-list-test-2078923807392667811"],"node_type":"RED1-micro","user_name":"tf_test_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T13:39:27.841627Z","endpoints":[{"id":"f3b14333-ce93-4a5d-841f-6070ebee3045","ips":[],"port":6379,"public_network":{}}],"id":"0205672a-ce69-49fe-88ca-85dc94f2ad64","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","status":"provisioning","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 783.42575ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/0205672a-ce69-49fe-88ca-85dc94f2ad64
        method: GET
      response:
        body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T13:39:27.841627Z","endpoints":[{"id":"f3b14333-ce93-4a5d-841f-6070ebee3045","ips":[],"port":6379,"public_network":{}}],"id":"0205672a-ce69-49fe-88ca-85dc94f2ad64","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","status":"provisioning","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.468792ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?order_by=created_at_asc&page=1&project_id=137a78cc-f3d5-4c0a-9be6-107b0bada1e6&tags=redis-list-test-2078923807392667811
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T13:39:27.841627Z","endpoints":[{"id":"f3b14333-ce93-4a5d-841f-6070ebee3045","ips":["212.47.226.129"],"port":6379,"public_network":{}}],"id":"0205672a-ce69-49fe-88ca-85dc94f2ad64","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-05-07T13:42:56.202713Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.90525ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&page=1&project_id=137a78cc-f3d5-4c0a-9be6-107b0bada1e6
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T13:39:27.841627Z","endpoints":[{"id":"f3b14333-ce93-4a5d-841f-6070ebee3045","ips":["212.47.226.129"],"port":6379,"public_network":{}}],"id":"0205672a-ce69-49fe-88ca-85dc94f2ad64","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-05-07T13:42:56.202713Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.027375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&page=1&project_id=137a78cc-f3d5-4c0a-9be6-107b0bada1e6&version=8.4.0
        method: GET
      response:
        body: '{"clusters":[{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2026-05-07T13:39:27.841627Z","endpoints":[{"id":"f3b14333-ce93-4a5d-841f-6070ebee3045","ips":["212.47.226.129"],"port":6379,"public_network":{}}],"id":"0205672a-ce69-49fe-88ca-85dc94f2ad64","name":"tf-test-redis-list-4823616331525728375","node_type":"RED1-micro","project_id":"137a78cc-f3d5-4c0a-9be6-107b0bada1e6","status":"ready","tags":["redis-list-test-2078923807392667811"],"tls_enabled":false,"updated_at":"2026-05-07T13:42:56.202713Z","upgradable_versions":[],"user_name":"tf_test_user","version":"8.4.0","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.448916ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/0205672a-ce69-49fe-88ca-85dc94f2ad64
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"0205672a-ce69-49fe-88ca-85dc94f2ad64","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.036625ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=tf-test-redis-list-4823616331525728375&order_by=created_at_asc&project_id=137a78cc-f3d5-4c0a-9be6-107b0bada1e6
        method: GET
      response:
        body: '{"clusters":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.415667ms
[...]
