# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/internal/services/account/ @scaleway/devtools-core
/internal/services/applesilicon/ @scaleway/devtools-compute-foundation
/internal/services/baremetal/ @scaleway/devtools-compute-foundation
/internal/services/billing/ @scaleway/devtools-core
/internal/services/block/ @scaleway/devtools-storage
/internal/services/cockpit/ @scaleway/devtools-dms
/internal/services/container/ @scaleway/devtools-compute
/internal/services/documentdb/ @scaleway/devtools-dms
/internal/services/domain/ @scaleway/devtools-dms
/internal/services/flexibleip/ @scaleway/devtools-network
/internal/services/function/ @scaleway/devtools-compute
/internal/services/iam/ @scaleway/devtools-core
/internal/services/instance/ @scaleway/devtools-compute
/internal/services/iot/ @scaleway/devtools-dms
/internal/services/ipam/ @scaleway/devtools-network
/internal/services/jobs/ @scaleway/devtools-compute
/internal/services/k8s/ @scaleway/devtools-compute
/internal/services/lb/ @scaleway/devtools-network
/internal/services/marketplace/ @scaleway/devtools-compute
/internal/services/mnq/ @scaleway/devtools-dms
/internal/services/object/ @scaleway/devtools-storage
/internal/services/rdb/ @scaleway/devtools-dms
/internal/services/redis/ @scaleway/devtools-dms
/internal/services/registry/ @scaleway/devtools-compute
/internal/services/sdb/ @scaleway/devtools-dms
/internal/services/secret/ @scaleway/devtools-core
/internal/services/tem/ @scaleway/devtools-dms
/internal/services/vpc/ @scaleway/devtools-network
/internal/services/vpcgw/ @scaleway/devtools-network
/internal/services/webhosting/ @scaleway/devtools-dms
