# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/internal/services/account/ @Codelax
/internal/services/applesilicon/ @Laure-di
/internal/services/baremetal/ @Laure-di
/internal/services/billing/ @yfodil
/internal/services/block/ @Codelax
/internal/services/cockpit/ @jremy42
/internal/services/container/ @Codelax
/internal/services/documentdb/ @jremy42
/internal/services/domain/ @yfodil
/internal/services/flexibleip/ @yfodil
/internal/services/function/ @Codelax
/internal/services/iam/ @Codelax
/internal/services/instance/ @Codelax
/internal/services/iot/ @jremy42
/internal/services/ipam/ @yfodil
/internal/services/jobs/ @Codelax
/internal/services/k8s/ @Mia-Cross
/internal/services/lb/ @yfodil
/internal/services/marketplace/ @Codelax
/internal/services/mnq/ @Codelax
/internal/services/object/ @Mia-Cross
/internal/services/rdb/ @jremy42
/internal/services/redis/ @jremy42
/internal/services/registry/ @Mia-Cross
/internal/services/sdb/ @jremy42
/internal/services/secret/ @Codelax
/internal/services/tem/ @jremy42
/internal/services/vpc/ @yfodil
/internal/services/vpcgw/ @yfodil
/internal/services/webhosting/ @jremy42