---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/206ea234-9097-4ae1-af68-6d2be09f47ed
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"17017","core_count":8,"frequency":3100,"name":"AMD EPYC 7232P","thread_count":16}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":1024209543168,"type":"NVMe"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"206ea234-9097-4ae1-af68-6d2be09f47ed","incompatible_os_ids":["a5c00c1b-95b1-4c08-8a33-79cc079f9dac","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","8a83777f-6dc1-476a-8d0c-d8b7594ecb6f","847bb37a-dc13-4536-9f07-023d38dba98d","d859aa89-8b4a-4551-af42-ff7c0c27260a","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","bd17a2bb-e686-486a-aacf-44fa8ce6e553","0058e276-66ef-4883-ad83-0e48536f635c","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","87a6472b-1bb4-4618-bb91-936d7de1966d","69e740ab-9f0e-4107-8516-16470000729c","fd771862-4b75-46a7-ab42-73c46c0ac2db","fa29896b-6b49-468d-a787-966559a55c12","ac5cc157-caee-406a-ae0a-a28d7c30389a","39176c6e-509d-4e6c-8e42-417d103f4579","5dfefb70-053e-4ba8-9d76-537b230db94e","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","6aa3f876-1c83-4434-8cc4-a2dbc94216db","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","c2f3e970-63f0-4f48-aa84-3455e4e13802","7fb86682-316e-4f6e-a845-de9b230cdd29","1c376d8a-f237-438d-9cd9-47902050ffd3","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129"],"max_bandwidth":10000000000,"memories":[{"capacity":64000000000,"frequency":2400,"is_ecc":true,"type":"DDR4"}],"name":"EM-B220E-NVME","operation_path":"","options":[{"certification":{},"enabled":false,"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":0,"units":15},"subscription_period":"monthly"},{"enabled":false,"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":233000000,"units":1},"public_bandwidth":{"bandwidth_in_bps":10000000000},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"e0063872-115b-413e-bbf9-fff7eeca1065","manageable":true,"name":"Public Bandwidth 5Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":685000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":50000000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=monthly
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":990000000,"units":32},"gpus":[],"id":"f1322af3-53dd-473b-8749-83661fbb73d8","incompatible_os_ids":["7fb86682-316e-4f6e-a845-de9b230cdd29","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","fd771862-4b75-46a7-ab42-73c46c0ac2db","bf705b90-1548-4368-98ca-d17dbd8dd860","3422ae02-d6d7-4980-8a00-eb38c262fb41","1c376d8a-f237-438d-9cd9-47902050ffd3","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","fa29896b-6b49-468d-a787-966559a55c12","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","6aa3f876-1c83-4434-8cc4-a2dbc94216db","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","69e740ab-9f0e-4107-8516-16470000729c","7e865c16-1a63-4dc7-8181-dabc020fc21b","bd17a2bb-e686-486a-aacf-44fa8ce6e553","b4816d13-8585-4005-a7c7-54a031dd933b","7c70ff80-dbfa-4e07-be73-1de0e60fe175","847bb37a-dc13-4536-9f07-023d38dba98d"],"max_bandwidth":1000000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"remote_access":{},"subscription_period":"hourly"},{"enabled":false,"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":9},"public_bandwidth":{"bandwidth_in_bps":1000000000},"subscription_period":"monthly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","license":{"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"},"manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},"manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":9},"private_network":{"bandwidth_in_bps":1000000000},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":null,"price_per_month":{"currency_code":"EUR","nanos":990000000,"units":32},"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"monthly","tags":["install-system-v2"]},{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":990000000,"units":43},"gpus":[],"id":"10b2832f-eecd-46c5-9812-014125a215c8","incompatible_os_ids":["6aa3f876-1c83-4434-8cc4-a2dbc94216db","a47ccf6f-1990-4488-8f64-332a6da3ef84",[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=hourly
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"[...]
[...]
