---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["a47ccf6f-1990-4488-8f64-332a6da3ef84","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","2e7ee5ae-58ac-46bb-b8e9-a6ec1bad09b1","82ed3c56-935c-4012-b01f-69070fce1b1d","7c70ff80-dbfa-4e07-be73-1de0e60fe175","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","bd17a2bb-e686-486a-aacf-44fa8ce6e553","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","e8fc12e5-cfcd-434a-a8b0-d5f5141baf91","87a6472b-1bb4-4618-bb91-936d7de1966d","3ea52186-1e57-499e-8146-ab38051a5c10","b4816d13-8585-4005-a7c7-54a031dd933b","a5c00c1b-95b1-4c08-8a33-79cc07[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=hourly
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_co[...]
[...]
