---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity":1000000000000,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["a5c00c1b-95b1-4c08-8a33-79cc079f9dac","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","1c376d8a-f237-438d-9cd9-47902050ffd3","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","bd17a2bb-e686-486a-aacf-44fa8ce6e553","7c70ff80-dbfa-4e07-be73-1de0e60fe175","bf705b90-1548-4368-98ca-d17dbd8dd860","847bb37a-dc13-4536-9f07-023d38dba98d","b4816d13-8585-4005-a7c7-54a031dd933b","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","3422ae02-d6d7-4980-8a00-eb38c262fb41","fd771862-4b75-46a7-ab42-73c46c0ac2db"],"max_bandwidth":500000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":91000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2024-05-29T12:10:43.880082Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"f86eaee1-687b-4fcc-9ff8-a313dae1a7f0","name":"TestAccScalewayDataSourceBaremetalServer_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-05-29T12:10:43.880082Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.378036ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/f86eaee1-687b-4fcc-9ff8-a313dae1a7f0
        method: GET
      response:
        body: '{"created_at":"2024-05-29T12:10:43.880082Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"f86eaee1-687b-4fcc-9ff8-a313dae1a7f0","name":"TestAccScalewayDataSourceBaremetalServer_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-05-29T12:10:43.880082Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.560225ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.665896ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test a description","tags":[],"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-29T12:10:45.101727Z","description":"test a description","domain":"","id":"65ca7c3f-7e9a-4a38-a823-db9b8d20cb23","install":null,"ips":[],"name":"TestAccScalewayDataSourceBaremetalServer_Basic","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-05-29T12:10:45.101727Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 436.328954ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/65ca7c3f-7e9a-4a38-a823-db9b8d20cb23
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-29T12:10:45.101727Z","description":"test a description","domain":"","id":"65ca7c3f-7e9a-4a38-a823-db9b8d20cb23","install":null,"ips":[{"address":"2001:bc8:701:401:d6ae:52ff:fecb:c2d4","id":"71f41aa1-667e-47d1-bc6e-8a214f3f601f","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"},{"address":"62.210.95.79","id":"aca9be41-2af7-4424-83ca-ce1bf1224820","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayDataSourceBaremetalServer_Basic","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-05-29T12:10:45.173381Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.402965ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["f86eaee1-687b-4fcc-9ff8-a313dae1a7f0"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/65ca7c3f-7e9a-4a38-a823-db9b8d20cb23/install
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-29T12:10:45.101727Z","description":"test a description","domain":"","id":"65ca7c3f-7e9a-4a38-a823-db9b8d20cb23","install":{"hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":null,"service_url":"","service_user":"","ssh_key_ids":["f86eaee1-687b-4fcc-9ff8-a313dae1a7f0"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"2001:bc8:701:401:d6ae:52ff:fecb:c2d4","id":"71f41aa1-667e-47d1-bc6e-8a214f3f601f","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"},{"address":"62.210.95.79","id":"aca9be41-2af7-4424-83ca-ce1bf1224820","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayDataSourceBaremetalServer_Basic","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-05-29T12:10:45.173381Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.221878ms
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/f7241870-c383-4fa2-bbca-5189600df5c4
        method: GET
      response:
        body: '{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1000000000000,"type":"SSD"},{"capacit[...]
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=65ca7c3f-7e9a-4a38-a823-db9b8d20cb23
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.498856ms
[...]
    - id: 111
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers?name=TestAccScalewayDataSourceBaremetalServer_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"servers":[{"boot_type":"normal","created_at":"2024-05-29T12:10:45.101727Z","description":"test a description","domain":"65ca7c3f-7e9a-4a38-a823-db9b8d20cb23.fr-par-1.baremetal.scw.cloud","id":"65ca7c3f-7e9a-4a38-a823-db9b8d20cb23","install":{"hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":null,"service_url":"","service_user":"","ssh_key_ids":["f86eaee1-687b-4fcc-9ff8-a313dae1a7f0"],"status":"completed","user":"ubuntu"},"ips"[...]
[...]
