---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/options?page=1
    method: GET
  response:
    body: "{\"total_count\":19,\"options\":[{\"id\":\"31f5cddb-8217-4eb0-ac6a-96dbcb080b88\",\"name\":\"Public Bandwidth 10Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":10000000000}},{\"id\":\"31f78309-e6e0-4005-99b3-b3de3958ca7d\",\"name\":\"HDS\",\"manageable\":false,\"certification\":{}},{\"id\":\"4b5723e9-5dcc-42e9-afbb-7ee556027051\",\"name\":\"Windows 2025 standard\",\"manageable\":false,\"license\":{\"os_id\":\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\"}},{\"id\":\"4ce8bd16-0c16-479d-83bb-492b5f9072fa\",\"name\":\"Public Bandwidth 15Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":15000000000}},{\"id\":\"50f266d9-4b2e-4424-9824-9335e7c3d32d\",\"name\":\"Serial Console\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"83a8fb91-47b4-4c20-82f9-84c31d79bfd8\",\"name\":\"Windows 2022 standard\",\"manageable\":false,\"license\":{\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\"}},{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb\",\"name\":\"Public Bandwidth 1Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"9e3498b1-45ef-4c55-b699-efd66d658cca[...]
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/options/931df052-d713-4674-8b58-96a63244c8e2
    method: GET
  response:
    body: "{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"manageable\":true,\"remote_access\":{}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.581483401s
[...]
