---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/4aff4d9d-b1f4-44b0-ab6f-e4711ac11711
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/esxi.png","name":"ESXi","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":true,"required":true},"service_user":{"default_value":"root","editable":false,"required":true},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"8.0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.868833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"requ[...]
