---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"edit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"3895","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["7e865c16-1a63-4dc7-8181-dabc020fc21b","7c70ff80-dbfa-4e07-be73-1de0e60fe175","bf705b90-1548-4368-98ca-d17dbd8dd860","3422ae02-d6d7-4980-8a00-eb38c262fb41","a5cec64e-d7b0-4c6e-a819-60139d30a76c","847bb37a-dc13-4536-9f07-023d38dba98d","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","bc7e4ca2-bf32-407f-a04b-72ad6455beb2","fd771862-4b75-46a7-ab42-73c46c0ac2db","7fb86682-316e-4f6e-a845-de9b230cdd29","bd17a2bb-e686-486a-aacf-44fa8ce6e553","6aa3f876-1c83-4434-8cc4-a2dbc94216db","fa29896b-6b49-468d-a787-966559a55c12","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","b4816d13-8585-4005-a7c7-54a031dd933b","1c376d8a-f237-438d-9cd9-47902050ffd3","69e740ab-9f0e-4107-8516-16470000729c","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","2e06fa49-4677-4bd7-8bf5-b1c490d8a966"],"max_bandwidth":1000000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"monthly_offer_id":"f1322af3-53dd-473b-8749-83661fbb73d8","name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":28000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":1000000000},"subscription_period":"hourly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","license":{"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"},"manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":168},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"private_network":{"bandwidth_in_bps":1000000000},"subscription_period":"hourly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":200000000,"units":25},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"remote_access":{},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":168},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},"manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":200000000,"units":25},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":91000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":["install-system-v2"]},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"5715","core_count":4,"frequency":2800,"name":"Intel Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6001175126016,"type":"HDD"},{"capacity":6001175126016,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":["a5cec64e-d7b0-4c6e-a819-60139d30a76c","bc7e4ca2-bf32-407f-a04b-72ad6455beb2"],"max[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.6225ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/206ea234-9097-4ae1-af68-6d2be09f47ed
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"17017","core_count":8,"frequency":3100,"name":"AMD EPYC 7232P","thread_count":16}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":10242095[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/partitioning-schemas/default?offer_id=206ea234-9097-4ae1-af68-6d2be09f47ed&os_id=96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1018839433216,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1018839433216,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.824875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":0,"use_all_available_space":true}]},{"device":"/dev/nvme1n1","partitions":[{"label":"boot","number":1,"size":536870912,"use_all_available_space":false},{"label":"root","number":2,"size":0,"use_all_available_space":true}]}],"raids":[{"name":"/dev/md0","level":"raid_level_1","devices":["/dev/nvme0n1p2","/dev/nvme1n1p1"]},{"name":"/dev/md1","level":"raid_level_1","devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"zfs":{"pools":[]}},"offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/partitioning-schemas/validate
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 206.596291ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccPartitionSchemaDataSource_WithoutSwapAndExtraPart","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:21:31.575676Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"dc53f314-4cbb-4fad-ae64-56debb90c34e","name":"TestAccPartitionSchemaDataSource_WithoutSwapAndExtraPart","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-05-22T14:21:31.575676Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 718.50325ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/dc53f314-4cbb-4fad-ae64-56debb90c34e
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:21:31.575676Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"dc53f314-4cbb-4fad-ae64-56debb90c34e","name":"TestAccPartitionSchemaDataSource_WithoutSwapAndExtraPart","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-05-22T14:21:31.575676Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.0215ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccPartitionSchemaDataSource_WithoutSwapAndExtraPart","description":"test a description","tags":["terraform-test","scaleway_baremetal_server","minimal","edited"],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["dc53f314-4cbb-4fad-ae64-56debb90c34e"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":0,"use_all_available_space":true}]},{"device":"/dev/nvme1n1","partitions":[{"label":"boot","number":1,"size":536870912,"use_all_available_space":false},{"label":"root","number":2,"size":0,"use_all_available_space":true}]}],"raids":[{"name":"/dev/md0","level":"raid_level_1","devices":["/dev/nvme0n1p2","/dev/nvme1n1p1"]},{"name":"/dev/md1","level":"raid_level_1","devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"zfs":{"pools":[]}}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-05-22T14:21:33.029302Z","description":"test a description","domain":"","id":"76442863-6763-4081-a42e-d3b2ed25f834","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":0,"use_all_available_space":true}]},{"device":"/dev/nvme1n1","partitions":[{"label":"boot","number":1,"size":536870912,"use_all_available_space":false},{"label":"root","number":2,"size":0,"use_all_available_space":true}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p2","/dev/nvme1n1p1"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["dc53f314-4cbb-4fad-ae64-56debb90c34e"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccPartitionSchemaDataSource_WithoutSwapAndExtraPart","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":["terraform-test","scaleway_baremetal_server","minimal","edited"],"updated_at":"2025-05-22T14:21:33.029302Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.596208ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/76442863-6763-4081-a42e-d3b2ed25f834
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-05-22T14:21:33.029302Z","description":"test a description","domain":"","id":"76442863-6763-4081-a42e-d3b2ed25f834","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885",[...]
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=76442863-6763-4081-a42e-d3b2ed25f834
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.37325ms
[...]
