---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: "{\"total_count\":26,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"69e740ab-9f0e-4107-8516-16470000729c\",\"name\":\"Kosmos\",\"version\":\"Ubuntu - 24.04 (Noble Numbat)\",\"logo_url\":\"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"defaul[...]
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"disks\":[{\"capacity\":128000000000,\"type\":\"MMC\"}],\"enable\":true,\"cpus\":[{\"name\":\"TH1520\",\"core_count\":4,\"thread_count\":4,\"frequency\":1850,\"benchmark\":\"\"}],\"memories\":[{\"capacity\":16000000000,\"type\":\"DDR4\",\"frequency\":3733,\"is_ecc\":true}],\"quota_name\":\"EM_RV1_C4M16S128_A\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":42000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"eef03f45-057b-4192-b95f-c21cae01e959\",\"7e865c16-1a63-4dc7-8181-dabc020fc21b\",\"7fb86682-316e-4f6e-a845-de9b230cdd29\",\"60f5d1e3-fa69-45af-9fc0-c9e3c114dd09\",\"0058e276-66ef-4883-ad83-0e48536f635c\",\"2e7ee5ae-58ac-46bb-b8e9-a6ec1bad09b1\",\"ed2096da-f82f-45a7-9d08-de73bce18c09\",\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\",\"bc7e4ca2-bf32-407f-a04b-72ad6455beb2\",\"a5c00c1b-95b1-4c08-8a33-79cc079f9dac\",\"01d6eef6-6b96-47fd-b9f9-3857321abe4f\",\"83640d93-a0b8-45ad-9c9f-30cae48380a4\",\"5dfef[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/83640d93-a0b8-45ad-9c9f-30cae48380a4
    method: GET
  response:
    body: "{\"id\":\"83640d93-a0b8-45ad-9c9f-30cae48380a4\",\"name\":\"Debian\",\"version\":\"12 (Bookworm)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/debian.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.362260226s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/d14eef5e-3279-42db-bb57-bb2bbe6a5b28
    method: GET
  response:
    body: "{\"id\":\"d14eef5e-3279-42db-bb57-bb2bbe6a5b28\",\"name\":\"EM-B420E-NVME\",\"stock\":\"available\",\"bandwidth\":1000000000,\"max_bandwidth\":10000000000,\"commercial_range\":\"beryllium\",\"disks\":[{\"capacity\":1024209543168,\"type\":\"NVMe\"},{\"capacity\":1024209543168,\"type\":\"NVMe\"}],[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      offer_id:
      - d14eef5e-3279-42db-bb57-bb2bbe6a5b28
      os_id:
      - 83640d93-a0b8-45ad-9c9f-30cae48380a4
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/partitioning-schemas/default?offer_id=d14eef5e-3279-42db-bb57-bb2bbe6a5b28&os_id=83640d93-a0b8-45ad-9c9f-30cae48380a4
    method: GET
  response:
    body: "{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1018839433216,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1018839433216,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.494576595s
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":20000000000,\"use_all_available_space\":false},{\"label\":\"data\",\"number\":4,\"size\":0,\"use_all_available_space\":true}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"boot\",\"number\":1,\"size\":536870912,\"u[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccPartitionSchemaDataSource_WithAlternateOffer\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"ee289f26-f0a0-42ec-9b56-21adee81be7a\",\"name\":\"TestAccPartitionSchemaDataSource_WithAlternateOffer\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:26:29.446976Z\",\"updated_at\":\"2025-08-26T16:26:29.446976Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 270.607118ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/ee289f26-f0a0-42ec-9b56-21adee81be7a
    method: GET
  response:
    body: "{\"id\":\"ee289f26-f0a0-42ec-9b56-21adee81be7a\",\"name\":\"TestAccPartitionSchemaDataSource_WithAlternateOffer\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:26:29.446976Z\",\"updated_at\":\"2025-08-26T16:26:29.446976Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 261.584929ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"d14eef5e-3279-42db-bb57-bb2bbe6a5b28\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccPartitionSchemaDataSource_WithAlternateOffer\",\"description\":\"test a description\",\"tags\":[\"terraform-test\",\"scaleway_baremetal_server\",\"minimal\",\"edited\"],\"install\":{\"os_id\":\"83640d93-a0b8-45ad-9c9f-30cae48380a4\",\"hostname\":\"\",\"ssh_key_ids\":[\"ee289f26-f0a0-42ec-9b56-21adee81be7a\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":20000000000,\"use_all_available_space\":false},{\"label\":\"data\",\"number\":4,[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/3772a317-4654-41cd-bacf-007454cf7eaa
    method: GET
  response:
    body: "{\"id\":\"3772a317-4654-41cd-bacf-007454cf7eaa\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccPartitionSchemaDataSource_WithAlternateOffer\",\"description\":\"test a description\",\"updated_at\":\"2025-08-26T16:26:32.461065Z\",\"created_at\":\"2025-08-26T16:26:32.461065Z\",\"status\":\"delivering\",\"offer_id\":\"d14eef5e-3279-42db-bb57-bb2bbe6a5b28\",\"install\":{\"os_id\":\"83640d93-a0b8-45ad-9c9f-30cae48380a4\",\"hostname\":\"\",\"ssh_key_ids\":[\"ee289f26-f0a0-42ec-9b56-21adee81be7a\"],\"status\":\"to_install\",\"user\":\"root\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":20000000000,\"use_all_available_space\":false},{\"label\":\"data\",\"number\":4,\"size\":0,\"use_all_available_space\":true}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"boot\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":2,\"size\":20000000000,\"use_all_available_space\":false},{\"label\":\"data\",\"number\":3,\"size\":0,\"use_all_available_space\":true}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p2\",\"/dev/nvme1n1p1\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md2\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"},{\"device\":\"/dev/md2\",\"format\":\"ext4\",\"mountpoint\":\"/data\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[\"terraform-test\",\"scaleway_baremetal_server\",\"minimal\",\"edited\"],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-B420E-NVME\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 224.51622ms
[...]
- id: 79
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 3772a317-4654-41cd-bacf-007454cf7eaa
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=3772a317-4654-41cd-bacf-007454cf7eaa
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.312737ms
[...]
