---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","b4816d13-8585-4005-a7c7-54a031dd933b","7fb86682-316e-4f6e-a845-de9b230cdd29","e8fc12e5-cfcd-434a-a8b0-d5f5141baf91","d859aa89-8b4a-4551-af42-ff7c0c27260a","3422ae02-d6d7-4980-8a00-eb38c262fb41","7e865c16-1a63-4dc7-8181-dabc020fc21b","3ea52186-1e57-499e-8146-ab38051a5c10","0aa99516-52bb-4a7d-b9fe-1adc8478c2e0","2e7ee5ae-58ac-46bb-b8e9-a6ec1bad09b1","01d6eef6-6b96-47fd-b9f9-3857321abe4f","83640d93-a0b8-45ad-9c9f-30cae48380a4","a47ccf6f-1990-4488-8f64-332a6d[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/83640d93-a0b8-45ad-9c9f-30cae48380a4
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"83640d93-a0b8-45ad-9c9f-30cae48380a4","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/debian.png","name":"Debian","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"root","editable":false,"required":false},"version":"12 (Bookworm)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.949708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/d14eef5e-3279-42db-bb57-bb2bbe6a5b28
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"25568","core_count":12,"frequency":2900,"name":"AMD EPYC 7272","thread_count":24}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":10242095[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/partitioning-schemas/default?offer_id=d14eef5e-3279-42db-bb57-bb2bbe6a5b28&os_id=83640d93-a0b8-45ad-9c9f-30cae48380a4
        method: GET
      response:
        body: '{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1018839433216,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1018839433216,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.779042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":20000000000,"use_all_available_space":false},{"label":"data","number":4,"size":0,"use_all_available_space":true}]},{"device":"/dev/nvme1n1","partitions":[{"label":"boot","number":1,"size":536870912,"use_all_available_space":false},{"label":"root","number":2,"size":20000000000,"use_all_available_space":false},{"label":"data","number":3,"size":0,"use_all_available_space":true}]}],"raids":[{"name":"/dev/md0","level":"raid_level_1","devices":["/dev/nvme0n1p2","/dev/nvme1n1p1"]},{"name":"/dev/md1","level":"raid_level_1","devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"]},{"name":"/dev/md2","level":"raid_level_1","devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"},{"device":"/dev/md2","format":"ext4","mountpoint":"/data"}],"zfs":{"pools":[]}},"offer_id":"d14eef5e-3279-42db-bb57-bb2bbe6a5b28","os_id":"83640d93-a0b8-45ad-9c9f-30cae48380a4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/partitioning-schemas/validate
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 327.063875ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccPartitionSchemaDataSource_WithAlternateOffer","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-07-11T13:59:47.812845Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"a38df5f8-2f21-4883-8cde-6db0e49a0481","name":"TestAccPartitionSchemaDataSource_WithAlternateOffer","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T13:59:47.812845Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.772333ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/a38df5f8-2f21-4883-8cde-6db0e49a0481
        method: GET
      response:
        body: '{"created_at":"2025-07-11T13:59:47.812845Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"a38df5f8-2f21-4883-8cde-6db0e49a0481","name":"TestAccPartitionSchemaDataSource_WithAlternateOffer","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T13:59:47.812845Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.126542ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"offer_id":"d14eef5e-3279-42db-bb57-bb2bbe6a5b28","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccPartitionSchemaDataSource_WithAlternateOffer","description":"test a description","tags":["terraform-test","scaleway_baremetal_server","minimal","edited"],"install":{"os_id":"83640d93-a0b8-45ad-9c9f-30cae48380a4","hostname":"","ssh_key_ids":["a38df5f8-2f21-4883-8cde-6db0e49a0481"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":20000000000,"use_all_available_space":false},{"label":"data","number":4,"size":0,"use_all_available_space":true}]},{"device":"/dev/nvme1n1","partitions":[{"label":"boot","number":1,"size":536870912,"use_all_available_space":false},{"label":"root","number":2,"size":20000000000,"use_all_available_space":false},{"label":"data","number":3,"size":0,"use_all_available_space":true}]}],"raids":[{"name":"/dev/md0","level":"raid_level_1","devices":["/dev/nvme0n1p2","/dev/nvme1n1p1"]},{"name":"/dev/md1","level":"raid_level_1","devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"]},{"name":"/dev/md2","level":"raid_level_1","devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"},{"device":"/dev/md2","format":"ext4","mountpoint":"/data"}],"zfs":{"pools":[]}}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T13:59:49.141588Z","description":"test a description","domain":"","id":"272062b2-ead5-4e85-9fba-376ad3abdfa8","install":{"hostname":"","os_id":"83640d93-a0b8-45ad-9c9f-30cae48380a4","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":20000000000,"use_all_available_space":false},{"label":"data","number":4,"size":0,"use_all_available_space":true}]},{"device":"/dev/nvme1n1","partitions":[{"label":"boot","number":1,"size":536870912,"use_all_available_space":false},{"label":"root","number":2,"size":20000000000,"use_all_available_space":false},{"label":"data","number":3,"size":0,"use_all_available_space":true}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"},{"device":"/dev/md2","format":"ext4","mountpoint":"/data"}],"raids":[{"devices":["/dev/nvme0n1p2","/dev/nvme1n1p1"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md1"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md2"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["a38df5f8-2f21-4883-8cde-6db0e49a0481"],"status":"to_install","user":"root"},"ips":[],"name":"TestAccPartitionSchemaDataSource_WithAlternateOffer","offer_id":"d14eef5e-3279-42db-bb57-bb2bbe6a5b28","offer_name":"EM-B420E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":["terraform-test","scaleway_baremetal_server","minimal","edited"],"updated_at":"2025-07-11T13:59:49.141588Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.45675ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/272062b2-ead5-4e85-9fba-376ad3abdfa8
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T13:59:49.141588Z","description":"test a description","domain":"","id":"272062b2-ead5-4e85-9fba-376ad3abdfa8","install":{"hostname":"","os_id":"83640d93-a0b8-45ad-9c9f-30cae48380a4",[...]
[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=272062b2-ead5-4e85-9fba-376ad3abdfa8
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.173375ms
[...]
