---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["ac5cc157-caee-406a-ae0a-a28d7c30389a","7fb86682-316e-4f6e-a845-de9b230cdd29","58bf948f-8b9b-45c2-9ad6-582c26133f9e","60f5d1e3-fa69-45af-9fc0-c9e3c114dd09","a5cec64e-d7b0-4c6e-a819-60139d30a76c","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","f2aeab5d-6015-4b7c-b4ed-d76e89093621","96e5f0f2-d216-4de2-8a15-68730d877885","bc7e4ca2-bf32-407f-a04b-72ad6455beb2","83640d93-a0b8-45ad-9c9f-30cae48380a4","5dfefb70-053e-4ba8-9d76-537b230db94e","bd43e67e-be12-4a48-bb7e-f56c751c99b0","3422ae02-d6d7-4980-8a00-eb38c2[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-11T12:46:43.530415Z","custom_routes_propagation_enabled":true,"id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-11T12:46:43.530415Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.427583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-09-11T12:46:43.632564Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"b3dcc450-c1d8-4339-9ce8-124079edde0b","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-11T12:46:43.632564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.517541ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b51489a0-9d4f-4b56-becb-ecc2fdee268c
        method: GET
      response:
        body: '{"created_at":"2025-09-11T12:46:43.530415Z","custom_routes_propagation_enabled":true,"id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-11T12:46:43.530415Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.861125ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/b3dcc450-c1d8-4339-9ce8-124079edde0b
        method: GET
      response:
        body: '{"created_at":"2025-09-11T12:46:43.632564Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"b3dcc450-c1d8-4339-9ce8-124079edde0b","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-11T12:46:43.632564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.561ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-11T12:46:43.984960Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-11T12:46:43.984960Z","id":"1b35f1d7-4efd-4acb-a0bf-9da34a050302","private_network_id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-09-11T12:46:43.984960Z","vpc_id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c"},{"created_at":"2025-09-11T12:46:43.984960Z","id":"93442e72-0c87-4631-b963-6fd668fc1f6a","private_network_id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:dc70::/64","updated_at":"2025-09-11T12:46:43.984960Z","vpc_id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c"}],"tags":[],"updated_at":"2025-09-11T12:46:43.984960Z","vpc_id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.637041ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c21ff751-fbc0-44f6-aeb5-14944d12d004
        method: GET
      response:
        body: '{"created_at":"2025-09-11T12:46:43.984960Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-11T12:46:43.984960Z","id":"1b35f1d7-4efd-4acb-a0bf-9da34a050302","private_network_id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-09-11T12:46:43.984960Z","vpc_id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c"},{"created_at":"2025-09-11T12:46:43.984960Z","id":"93442e72-0c87-4631-b963-6fd668fc1f6a","private_network_id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:dc70::/64","updated_at":"2025-09-11T12:46:43.984960Z","vpc_id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c"}],"tags":[],"updated_at":"2025-09-11T12:46:43.984960Z","vpc_id":"b51489a0-9d4f-4b56-becb-ecc2fdee268c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.604459ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"c21ff751-fbc0-44f6-aeb5-14944d12d004"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-09-11T12:46:44.799066Z","id":"edf2a535-5d05-4417-8d0b-cf6a8da9f2db","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1b35f1d7-4efd-4acb-a0bf-9da34a050302"},"tags":[],"updated_at":"2025-09-11T12:46:44.799066Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.335334ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/edf2a535-5d05-4417-8d0b-cf6a8da9f2db
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-09-11T12:46:44.799066Z","id":"edf2a535-5d05-4417-8d0b-cf6a8da9f2db","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1b35f1d7-4efd-4acb-a0bf-9da34a050302"},"tags":[],"updated_at":"2025-09-11T12:46:44.799066Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.942042ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.238208ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["b3dcc450-c1d8-4339-9ce8-124079edde0b"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-11T12:46:46.382690Z","description":"","domain":"","id":"871d7c29-d965-44c2-af2c-8a20240990b0","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["b3dcc450-c1d8-4339-9ce8-124079edde0b"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-09-11T12:46:46.470668Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 740.6755ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/871d7c29-d965-44c2-af2c-8a20240990b0
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-11T12:46:46.382690Z","description":"","domain":"","id":"871d7c29-d965-44c2-af2c-8a20240990b0","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 94
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/871d7c29-d965-44c2-af2c-8a20240990b0/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-11T12:46:46.382690Z","description":"","domain":"871d7c29-d965-44c2-af2c-8a2[...]
    - id: 95
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"c21ff751-fbc0-44f6-aeb5-14944d12d004":["edf2a535-5d05-4417-8d0b-cf6a8da9f2db"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/871d7c29-d965-44c2-af2c-8a20240990b0/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-11T12:53:15.169537Z","id":"d9357f05-e5b5-4311-863d-86174e067a54","ipam_ip_ids":["edf2a535-5d05-4417-8d0b-cf6a8da9f2db"],"private_network_id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"871d7c29-d965-44c2-af2c-8a20240990b0","status":"attaching","updated_at":"2025-09-11T12:53:15.169537Z","vlan":2040}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.707875ms
    - id: 96
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=871d7c29-d965-44c2-af2c-8a20240990b0
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-11T12:53:15.169537Z","id":"d9357f05-e5b5-4311-863d-86174e067a54","ipam_ip_ids":["edf2a535-5d05-4417-8d0b-cf6a8da9f2db"],"private_network_id":"c21ff751-fbc0-44f6-aeb5-14944d12d004","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"871d7c29-d965-44c2-af2c-8a20240990b0","status":"attaching","updated_at":"2025-09-11T12:53:15.169537Z","vlan":2040}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.188625ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=c21ff751-fbc0-44f6-aeb5-14944d12d004&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-11T12:46:44.799066Z","id":"edf2a535-5d05-4417-8d0b-cf6a8da9f2db","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"d9357f05-e5b5-4311-863d-86174e067a54","mac_address":"B4:83:51:0F:6E:14","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"1b35f1d7-4efd-4acb-a0bf-9da34a050302"},"tags":[],"updated_at":"2025-09-11T12:53:15.301535Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.124792ms
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-11T12:46:44.799066Z","id":"edf2a535-5d05-4417-8d0b-cf6a8da9f2db","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"d9357f05-e5b5-4311-863d-86174e067a54","mac_address":"B4:83:51:0F:6E:14","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"1b35f1d7-4efd-4acb-a0bf-9da34a050302"},"tags":[],"updated_at":"2025-09-11T12:53:15.301535Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.36425ms
[...]
