---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"disks\":[{\"capacity\":128000000000,\"type\":\"MMC\"}],\"enable\":true,\"cpus\":[{\"name\":\"TH1520\",\"core_count\":4,\"thread_count\":4,\"frequency\":1850,\"benchmark\":\"\"}],\"memories\":[{\"capacity\":16000000000,\"type\":\"DDR4\",\"frequency\":3733,\"is_ecc\":true}],\"quota_name\":\"EM_RV1_C4M16S128_A\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":42000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"c2f3e970-63f0-4f48-aa84-3455e4e13802\",\"01d6eef6-6b96-47fd-b9f9-3857321abe4f\",\"d17d6872-0412-45d9-a198-af82c34d3c5c\",\"bd17a2bb-e686-486a-aacf-44fa8ce6e553\",\"7e865c16-1a63-4dc7-8181-dabc020fc21b\",\"7fb86682-316e-4f6e-a845-de9b230cdd29\",\"58bf948f-8b9b-45c2-9ad6-582c26133f9e\",\"3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a\",\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"bc7e4ca2-bf32-407f-a04b-72ad6455beb2\",\"a47ccf6f-1990-4488-8f64-332a6da3ef84\",\"39176c6e-509d-4e6c-8e42-417d103f4579\",\"a5cec[...]
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: "{\"total_count\":19,\"options\":[{\"id\":\"31f5cddb-8217-4eb0-ac6a-96dbcb080b88\",\"name\":\"Public Bandwidth 10Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":10000000000}},{\"id\":\"31f78309-e6e0-4005-99b3-b3de3958ca7d\",\"name\":\"HDS\",\"manageable\":false,\"certification\":{}},{\"id\":\"4b5723e9-5dcc-42e9-afbb-7ee556027051\",\"name\":\"Windows 2025 standard\",\"manageable\":false,\"license\":{\"os_id\":\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\"}},{\"id\":\"4ce8bd16-0c16-479d-83bb-492b5f9072fa\",\"name\":\"Public Bandwidth 15Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":15000000000}},{\"id\":\"50f266d9-4b2e-4424-9824-9335e7c3d32d\",\"name\":\"Serial Console\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"83a8fb91-47b4-4c20-82f9-84c31d79bfd8\",\"name\":\"Windows 2022 standard\",\"manageable\":false,\"license\":{\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\"}},{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb\",\"name\":\"Public Bandwidth 1Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"9e3498b1-45ef-4c55-b699-efd66d658cca[...]
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: "{\"total_count\":26,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"69e740ab-9f0e-4107-8516-16470000729c\",\"name\":\"Kosmos\",\"version\":\"Ubuntu - 24.04 (Noble Numbat)\",\"logo_url\":\"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"defaul[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalIPAM\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:35.235231Z\",\"updated_at\":\"2025-08-26T16:25:35.235231Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 172.106288ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/25aff91c-aa0d-4850-871d-0d683c38fda4
    method: GET
  response:
    body: "{\"id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:35.235231Z\",\"updated_at\":\"2025-08-26T16:25:35.235231Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 27.598884ms
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"63dded6a-38c6-45e5-9751-aadf5b82f697\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:25:35.402615Z\",\"updated_at\":\"2025-08-26T16:25:35.402615Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 383.241513ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/63dded6a-38c6-45e5-9751-aadf5b82f697
    method: GET
  response:
    body: "{\"id\":\"63dded6a-38c6-45e5-9751-aadf5b82f697\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:25:35.402615Z\",\"updated_at\":\"2025-08-26T16:25:35.402615Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 174.323683ms
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalIPAM\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.64.0/22\"],\"vpc_id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:35.516154Z\",\"updated_at\":\"2025-08-26T16:25:35.516154Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"5a8df929-3c6b-4e0b-a6cc-c07089a61edb\",\"created_at\":\"2025-08-26T16:25:35.516154Z\",\"updated_at\":\"2025-08-26T16:25:35.516154Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"vpc_id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\"},{\"id\":\"478f1a1c-5a98-4b40-a3b2-001e42eaa532\",\"created_at\":\"2025-08-26T16:25:35.516154Z\",\"updated_at\":\"2025-08-26T16:25:35.516154Z\",\"subnet\":\"fde7:767f:1bb5:e369::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"vpc_id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\"}],\"vpc_id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 803.153322ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/57451dd4-5332-423f-b6f5-792232197d85
    method: GET
  response:
    body: "{\"id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:35.516154Z\",\"updated_at\":\"2025-08-26T16:25:35.516154Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"5a8df929-3c6b-4e0b-a6cc-c07089a61edb\",\"created_at\":\"2025-08-26T16:25:35.516154Z\",\"updated_at\":\"2025-08-26T16:25:35.516154Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"vpc_id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\"},{\"id\":\"478f1a1c-5a98-4b40-a3b2-001e42eaa532\",\"created_at\":\"2025-08-26T16:25:35.516154Z\",\"updated_at\":\"2025-08-26T16:25:35.516154Z\",\"subnet\":\"fde7:767f:1bb5:e369::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"vpc_id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\"}],\"vpc_id\":\"25aff91c-aa0d-4850-871d-0d683c38fda4\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 29.473133ms
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"57451dd4-5332-423f-b6f5-792232197d85\"},\"is_ipv6\":false,\"address\":\"172.16.64.9\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"e2a1b139-d097-48fd-839d-6cf264f3193d\",\"address\":\"172.16.64.9/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:25:36.489986Z\",\"updated_at\":\"2025-08-26T16:25:36.489986Z\",\"source\":{\"subnet_id\":\"5a8df929-3c6b-4e0b-a6cc-c07089a61edb\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 384.458744ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/883cd67b-d54f-4f40-9e79-be60ebbef0ab
    method: GET
  response:
    body: "{\"id\":\"883cd67b-d54f-4f40-9e79-be60ebbef0ab\",\"address\":\"172.16.64.7/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:25:36.515097Z\",\"updated_at\":\"2025-08-26T16:25:36.515097Z\",\"source\":{\"subnet_id\":\"5a8df929-3c6b-4e0b-a6cc-c07089a61edb\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.978341ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: "{\"id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"name\":\"Ubuntu\",\"version\":\"22.04 LTS (Jammy Jellyfish)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.288147431s
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"description\":\"\",\"tags\":[],\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"63dded6a-38c6-45e5-9751-aadf5b82f697\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":null,\"raids\":null,\"filesystems\":null,\"zfs\":null}},\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"id\":\"857bb49d-c4ae-4260-be17-fd0b5da4e447\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:25:40.554606Z\",\"created_at\":\"2025-08-26T16:25:40.554606Z\",\"status\":\"delivering\",\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"63dded6a-38c6-45e5-9751-aadf5b82f697\"],\"status\":\"to_install\",\"user\":\"ubuntu\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1915003863040,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1915003863040,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-I215E-NVME\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 588.538038ms
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/857bb49d-c4ae-4260-be17-fd0b5da4e447
    method: GET
  response:
    body: "{\"id\":\"857bb49d-c4ae-4260-be17-fd0b5da4e447\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:25:40.554606Z\",\"created_at\":\"2025-08-26T16:25:40.554606Z\",\"[...]
[...]
- id: 97
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/857bb49d-c4ae-4260-be17-fd0b5da4e447/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: "{\"id\":\"857bb49d-c4ae-4260-be17-fd0b5da4e447\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"descripti[...]
- id: 98
  request:
    host: api.scaleway.com
    body: "{\"per_private_network_ipam_ip_ids\":{\"57451dd4-5332-423f-b6f5-792232197d85\":[\"883cd67b-d54f-4f40-9e79-be60ebbef0ab\"]}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/857bb49d-c4ae-4260-be17-fd0b5da4e447/private-networks
    method: PUT
  response:
    body: "{\"server_private_networks\":[{\"id\":\"064f57ae-8d62-43b2-8cce-05c1b5dfc4f3\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"server_id\":\"857bb49d-c4ae-4260-be17-fd0b5da4e447\",\"private_network_id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"vlan\":1827,\"updated_at\":\"2025-08-26T16:32:09.128501Z\",\"created_at\":\"2025-08-26T16:32:09.128501Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"883cd67b-d54f-4f40-9e79-be60ebbef0ab\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 533.182721ms
- id: 99
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 857bb49d-c4ae-4260-be17-fd0b5da4e447
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=857bb49d-c4ae-4260-be17-fd0b5da4e447
    method: GET
  response:
    body: "{\"server_private_networks\":[{\"id\":\"064f57ae-8d62-43b2-8cce-05c1b5dfc4f3\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"server_id\":\"857bb49d-c4ae-4260-be17-fd0b5da4e447\",\"private_network_id\":\"57451dd4-5332-423f-b6f5-792232197d85\",\"vlan\":1827,\"updated_at\":\"2025-08-26T16:32:09.128501Z\",\"created_at\":\"2025-08-26T16:32:09.128501Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"883cd67b-d54f-4f40-9e79-be60ebbef0ab\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.339517ms
[...]
- id: 102
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
    method: GET
  response:
    body: "{\"id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"name\":\"EM-I215E-NVME\",\"stock\":\"available\",\"bandwidth\":1000000000,\"max_bandwidth\":10000000000,\"commercial_range\":\"iridium\",\"disks\":[{\"capacity\":1920383410176,\"type\":\"NVMe\"},{\"capacity\":1920383410176,\"type\":\"NVMe\"}],[...]
[...]
- id: 105
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 57451dd4-5332-423f-b6f5-792232197d85
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_type:
      - baremetal_private_nic
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=57451dd4-5332-423f-b6f5-792232197d85&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_type=baremetal_private_nic
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"883cd67b-d54f-4f40-9e79-be60ebbef0ab\",\"address\":\"172.16.64.7/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:25:36.515097Z\",\"updated_at\":\"2025-08-26T16:32:09.233550Z\",\"source\":{\"subnet_id\":\"5a8df929-3c6b-4e0b-a6cc-c07089a61edb\"},\"resource\":{\"type\":\"baremetal_private_nic\",\"id\":\"064f57ae-8d62-43b2-8cce-05c1b5dfc4f3\",\"mac_address\":\"B4:83:51:0F:77:8C\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.059085ms
- id: 106
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
      order_by:
      - created_at_desc
      page:
      - "1"
      resource_name:
      - TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork
      resource_type:
      - baremetal_private_nic
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"883cd67b-d54f-4f40-9e79-be60ebbef0ab\",\"address\":\"172.16.64.7/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:25:36.515097Z\",\"updated_at\":\"2025-08-26T16:32:09.233550Z\",\"source\":{\"subnet_id\":\"5a8df929-3c6b-4e0b-a6cc-c07089a61edb\"},\"resource\":{\"type\":\"baremetal_private_nic\",\"id\":\"064f57ae-8d62-43b2-8cce-05c1b5dfc4f3\",\"mac_address\":\"B4:83:51:0F:77:8C\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.668439ms
[...]
