---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["a47ccf6f-1990-4488-8f64-332a6da3ef84","f2aeab5d-6015-4b7c-b4ed-d76e89093621","87a6472b-1bb4-4618-bb91-936d7de1966d","d17d6872-0412-45d9-a198-af82c34d3c5c","83640d93-a0b8-45ad-9c9f-30cae48380a4","7e865c16-1a63-4dc7-8181-dabc020fc21b","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","01d6eef6-6b96-47fd-b9f9-3857321abe4f","b4816d13-8585-4005-a7c7-54a031dd933b","7c70ff80-dbfa-4e07-be73-1de0e60fe175","3ea52186-1e57-499e-8146-ab38051a5c10","bd17a2bb-e686-486a-aacf-44fa8ce6e553","2e7ee5ae-58ac-46bb-b8e9-a6ec1b[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-07-11T12:10:23.900122Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"204933c1-3f30-4d11-954c-d3e7334fa190","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T12:10:23.900122Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.362875ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/204933c1-3f30-4d11-954c-d3e7334fa190
        method: GET
      response:
        body: '{"created_at":"2025-07-11T12:10:23.900122Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"204933c1-3f30-4d11-954c-d3e7334fa190","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T12:10:23.900122Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.247791ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"baremetal_private_network","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-11T12:10:23.887755Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-07-11T12:10:23.887755Z","id":"da4ad1cf-200d-44cf-8ba8-b391fedb5596","private_network_id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.56.0/22","updated_at":"2025-07-11T12:10:23.887755Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-07-11T12:10:23.887755Z","id":"36e6a428-ca9e-4b15-886e-758105ae8fbf","private_network_id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:50a8::/64","updated_at":"2025-07-11T12:10:23.887755Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-07-11T12:10:23.887755Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.643375ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/afa9f59a-208e-4f68-873f-58a58b0ceba0
        method: GET
      response:
        body: '{"created_at":"2025-07-11T12:10:23.887755Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-07-11T12:10:23.887755Z","id":"da4ad1cf-200d-44cf-8ba8-b391fedb5596","private_network_id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.56.0/22","updated_at":"2025-07-11T12:10:23.887755Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-07-11T12:10:23.887755Z","id":"36e6a428-ca9e-4b15-886e-758105ae8fbf","private_network_id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:50a8::/64","updated_at":"2025-07-11T12:10:23.887755Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-07-11T12:10:23.887755Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.42825ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.046833ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["204933c1-3f30-4d11-954c-d3e7334fa190"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T12:10:25.309554Z","description":"","domain":"","id":"193204a7-67d0-416e-8571-db850c62e4b7","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["204933c1-3f30-4d11-954c-d3e7334fa190"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-07-11T12:10:25.309554Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.166083ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/193204a7-67d0-416e-8571-db850c62e4b7
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T12:10:25.309554Z","description":"","domain":"","id":"193204a7-67d0-416e-8571-db850c62e4b7","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/193204a7-67d0-416e-8571-db850c62e4b7/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T12:10:25.309554Z","description":"","domain":"193204a7-67d0-416e-8571-db8[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"afa9f59a-208e-4f68-873f-58a58b0ceba0":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/193204a7-67d0-416e-8571-db850c62e4b7/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-07-11T12:16:32.562313Z","id":"433e8f81-02e9-4cde-a7be-a6ce2db322a6","ipam_ip_ids":["21e6bb01-7823-464b-b676-fc3b9d5fdca0","56543146-b21d-4878-8177-a5c193914b47"],"private_network_id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"193204a7-67d0-416e-8571-db850c62e4b7","status":"attaching","updated_at":"2025-07-11T12:16:32.562313Z","vlan":1587}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.352203125s
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=193204a7-67d0-416e-8571-db850c62e4b7
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-07-11T12:16:32.562313Z","id":"433e8f81-02e9-4cde-a7be-a6ce2db322a6","ipam_ip_ids":["21e6bb01-7823-464b-b676-fc3b9d5fdca0","56543146-b21d-4878-8177-a5c193914b47"],"private_network_id":"afa9f59a-208e-4f68-873f-58a58b0ceba0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"193204a7-67d0-416e-8571-db850c62e4b7","status":"attaching","updated_at":"2025-07-11T12:16:32.562313Z","vlan":1587}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.422875ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":19203834[...]
[...]
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=afa9f59a-208e-4f68-873f-58a58b0ceba0&project_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.56.2/22","created_at":"2025-07-11T12:16:34.187194Z","id":"21e6bb01-7823-464b-b676-fc3b9d5fdca0","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"433e8f81-02e9-4cde-a7be-a6ce2db322a6","mac_address":"B4:83:51:0F:71:4C","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"da4ad1cf-200d-44cf-8ba8-b391fedb5596"},"tags":["PrivateNetwork"],"updated_at":"2025-07-11T12:16:34.187194Z","zone":null},{"address":"fd64:badd:7710:50a8:3178:c006:c03d:1ad4/64","created_at":"2025-07-11T12:16:34.187194Z","id":"56543146-b21d-4878-8177-a5c193914b47","is_ipv6":true,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"433e8f81-02e9-4cde-a7be-a6ce2db322a6","mac_address":"B4:83:51:0F:71:4C","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"36e6a428-ca9e-4b15-886e-758105ae8fbf"},"tags":["PrivateNetwork"],"updated_at":"2025-07-11T12:16:34.187194Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.416625ms
[...]
