---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"disks\":[{\"capacity\":128000000000,\"type\":\"MMC\"}],\"enable\":true,\"cpus\":[{\"name\":\"TH1520\",\"core_count\":4,\"thread_count\":4,\"frequency\":1850,\"benchmark\":\"\"}],\"memories\":[{\"capacity\":16000000000,\"type\":\"DDR4\",\"frequency\":3733,\"is_ecc\":true}],\"quota_name\":\"EM_RV1_C4M16S128_A\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":42000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"bd17a2bb-e686-486a-aacf-44fa8ce6e553\",\"5dfefb70-053e-4ba8-9d76-537b230db94e\",\"03b7f4ba-a6a1-4305-984e-b54fafbf1681\",\"86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c\",\"d859aa89-8b4a-4551-af42-ff7c0c27260a\",\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\",\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"4aff4d9d-b1f4-44b0-ab6f-e4711ac11711\",\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a\",\"60f5d1e3-fa69-45af-9fc0-c9e3c114dd09\",\"ed2096da-f82f-45a7-9d08-de73bce18c09\",\"e0441[...]
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: "{\"total_count\":19,\"options\":[{\"id\":\"31f5cddb-8217-4eb0-ac6a-96dbcb080b88\",\"name\":\"Public Bandwidth 10Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":10000000000}},{\"id\":\"31f78309-e6e0-4005-99b3-b3de3958ca7d\",\"name\":\"HDS\",\"manageable\":false,\"certification\":{}},{\"id\":\"4b5723e9-5dcc-42e9-afbb-7ee556027051\",\"name\":\"Windows 2025 standard\",\"manageable\":false,\"license\":{\"os_id\":\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\"}},{\"id\":\"4ce8bd16-0c16-479d-83bb-492b5f9072fa\",\"name\":\"Public Bandwidth 15Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":15000000000}},{\"id\":\"50f266d9-4b2e-4424-9824-9335e7c3d32d\",\"name\":\"Serial Console\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"83a8fb91-47b4-4c20-82f9-84c31d79bfd8\",\"name\":\"Windows 2022 standard\",\"manageable\":false,\"license\":{\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\"}},{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb\",\"name\":\"Public Bandwidth 1Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"9e3498b1-45ef-4c55-b699-efd66d658cca[...]
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: "{\"total_count\":27,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"69e740ab-9f0e-4107-8516-16470000729c\",\"name\":\"Kosmos\",\"version\":\"Ubuntu - 24.04 (Noble Numbat)\",\"logo_url\":\"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"defaul[...]
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalIPAM\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:25:05.248168Z\",\"updated_at\":\"2025-09-23T09:25:05.248168Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 281.980552ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"936219a3-5483-4c42-a208-85121a04b935\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-09-23T09:25:05.296588Z\",\"updated_at\":\"2025-09-23T09:25:05.296588Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 310.266651ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/47c07538-e110-45bf-b2fc-cbc1ec1a0217
    method: GET
  response:
    body: "{\"id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:25:05.248168Z\",\"updated_at\":\"2025-09-23T09:25:05.248168Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.674703ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/936219a3-5483-4c42-a208-85121a04b935
    method: GET
  response:
    body: "{\"id\":\"936219a3-5483-4c42-a208-85121a04b935\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-09-23T09:25:05.296588Z\",\"updated_at\":\"2025-09-23T09:25:05.296588Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.303007ms
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalIPAM\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":[\"172.16.64.0/22\"],\"vpc_id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:25:05.626928Z\",\"updated_at\":\"2025-09-23T09:25:05.626928Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"4305810a-dc4d-49df-953f-9962774214b5\",\"created_at\":\"2025-09-23T09:25:05.626928Z\",\"updated_at\":\"2025-09-23T09:25:05.626928Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"vpc_id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\"},{\"id\":\"e8f20475-0a2d-41b9-994e-d29a0aaca60f\",\"created_at\":\"2025-09-23T09:25:05.626928Z\",\"updated_at\":\"2025-09-23T09:25:05.626928Z\",\"subnet\":\"fd5f:519c:6d46:54e5::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"vpc_id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\"}],\"vpc_id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.718743592s
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ba4a9b29-3ca0-490b-af5b-2ee50db07f60
    method: GET
  response:
    body: "{\"id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"name\":\"TestAccScalewayBaremetalIPAM\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:25:05.626928Z\",\"updated_at\":\"2025-09-23T09:25:05.626928Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"4305810a-dc4d-49df-953f-9962774214b5\",\"created_at\":\"2025-09-23T09:25:05.626928Z\",\"updated_at\":\"2025-09-23T09:25:05.626928Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"vpc_id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\"},{\"id\":\"e8f20475-0a2d-41b9-994e-d29a0aaca60f\",\"created_at\":\"2025-09-23T09:25:05.626928Z\",\"updated_at\":\"2025-09-23T09:25:05.626928Z\",\"subnet\":\"fd5f:519c:6d46:54e5::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"vpc_id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\"}],\"vpc_id\":\"47c07538-e110-45bf-b2fc-cbc1ec1a0217\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 608.424492ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"source\":{\"private_network_id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\"},\"is_ipv6\":false,\"address\":\"172.16.64.9\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"75ac6842-fc1a-4e0b-b8f0-16a17999e7c8\",\"address\":\"172.16.64.9/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T09:25:08.022498Z\",\"updated_at\":\"2025-09-23T09:25:08.022498Z\",\"source\":{\"subnet_id\":\"4305810a-dc4d-49df-953f-9962774214b5\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 596.352006ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/75ac6842-fc1a-4e0b-b8f0-16a17999e7c8
    method: GET
  response:
    body: "{\"id\":\"75ac6842-fc1a-4e0b-b8f0-16a17999e7c8\",\"address\":\"172.16.64.9/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T09:25:08.022498Z\",\"updated_at\":\"2025-09-23T09:25:08.022498Z\",\"source\":{\"subnet_id\":\"4305810a-dc4d-49df-953f-9962774214b5\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.131795448s
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: "{\"id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"name\":\"Ubuntu\",\"version\":\"22.04 LTS (Jammy Jellyfish)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 646.001782ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"description\":\"\",\"tags\":[],\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"936219a3-5483-4c42-a208-85121a04b935\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":null,\"raids\":null,\"filesystems\":null,\"zfs\":null}},\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"id\":\"8a5ee3fc-6c13-420e-8eed-087664b33c11\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"description\":\"\",\"updated_at\":\"2025-09-23T09:25:11.551052Z\",\"created_at\":\"2025-09-23T09:25:11.450571Z\",\"status\":\"ordered\",\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"936219a3-5483-4c42-a208-85121a04b935\"],\"status\":\"to_install\",\"user\":\"ubuntu\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1915003863040,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1915003863040,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"options\":[],\"offer_name\":\"EM-I215E-NVME\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 866.101338ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8a5ee3fc-6c13-420e-8eed-087664b33c11
    method: GET
  response:
    body: "{\"id\":\"8a5ee3fc-6c13-420e-8eed-087664b33c11\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"description\":\"\",\"updated_at\":\"2025-09-23T09:25:11.685110Z\",\"created_at\":\"2025-09-23T09:25:11.450571Z\",\"[...]
[...]
- id: 90
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8a5ee3fc-6c13-420e-8eed-087664b33c11/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: "{\"id\":\"8a5ee3fc-6c13-420e-8eed-087664b33c11\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\",\"descripti[...]
- id: 91
  request:
    host: api.scaleway.com
    body: "{\"per_private_network_ipam_ip_ids\":{\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\":[\"fc7d0a3b-84f8-4575-970b-a4279bf04793\"]}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/8a5ee3fc-6c13-420e-8eed-087664b33c11/private-networks
    method: PUT
  response:
    body: "{\"server_private_networks\":[{\"id\":\"5bb89722-bc50-4f5d-a7c5-c587ac2ba6cb\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"server_id\":\"8a5ee3fc-6c13-420e-8eed-087664b33c11\",\"private_network_id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"vlan\":2278,\"updated_at\":\"2025-09-23T09:31:48.975797Z\",\"created_at\":\"2025-09-23T09:31:48.975797Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"fc7d0a3b-84f8-4575-970b-a4279bf04793\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 846.907287ms
- id: 92
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 8a5ee3fc-6c13-420e-8eed-087664b33c11
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=8a5ee3fc-6c13-420e-8eed-087664b33c11
    method: GET
  response:
    body: "{\"server_private_networks\":[{\"id\":\"5bb89722-bc50-4f5d-a7c5-c587ac2ba6cb\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"server_id\":\"8a5ee3fc-6c13-420e-8eed-087664b33c11\",\"private_network_id\":\"ba4a9b29-3ca0-490b-af5b-2ee50db07f60\",\"vlan\":2278,\"updated_at\":\"2025-09-23T09:31:48.975797Z\",\"created_at\":\"2025-09-23T09:31:48.975797Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"fc7d0a3b-84f8-4575-970b-a4279bf04793\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.645967ms
[...]
- id: 96
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
    method: GET
  response:
    body: "{\"id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"name\":\"EM-I215E-NVME\",\"stock\":\"available\",\"bandwidth\":1000000000,\"max_bandwidth\":10000000000,\"commercial_range\":\"iridium\",\"disks\":[{\"capacity\":1920383410176,\"type\":\"NVMe\"},{\"capacity\":1920383410176,\"type\":\"NVMe\"}],\[...]
[...]
- id: 99
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - ba4a9b29-3ca0-490b-af5b-2ee50db07f60
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_type:
      - baremetal_private_nic
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=ba4a9b29-3ca0-490b-af5b-2ee50db07f60&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_type=baremetal_private_nic
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"fc7d0a3b-84f8-4575-970b-a4279bf04793\",\"address\":\"172.16.64.7/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T09:25:08.056786Z\",\"updated_at\":\"2025-09-23T09:31:49.087352Z\",\"source\":{\"subnet_id\":\"4305810a-dc4d-49df-953f-9962774214b5\"},\"resource\":{\"type\":\"baremetal_private_nic\",\"id\":\"5bb89722-bc50-4f5d-a7c5-c587ac2ba6cb\",\"mac_address\":\"B4:83:51:0F:6E:B8\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 711.5538ms
- id: 100
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
      order_by:
      - created_at_desc
      page:
      - "1"
      resource_name:
      - TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork
      resource_type:
      - baremetal_private_nic
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"fc7d0a3b-84f8-4575-970b-a4279bf04793\",\"address\":\"172.16.64.7/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T09:25:08.056786Z\",\"updated_at\":\"2025-09-23T09:31:49.087352Z\",\"source\":{\"subnet_id\":\"4305810a-dc4d-49df-953f-9962774214b5\"},\"resource\":{\"type\":\"baremetal_private_nic\",\"id\":\"5bb89722-bc50-4f5d-a7c5-c587ac2ba6cb\",\"mac_address\":\"B4:83:51:0F:6E:B8\",\"name\":\"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 265.689147ms
[...]
