---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"disks\":[{\"capacity\":128000000000,\"type\":\"MMC\"}],\"enable\":true,\"cpus\":[{\"name\":\"TH1520\",\"core_count\":4,\"thread_count\":4,\"frequency\":1850,\"benchmark\":\"\"}],\"memories\":[{\"capacity\":16000000000,\"type\":\"DDR4\",\"frequency\":3733,\"is_ecc\":true}],\"quota_name\":\"EM_RV1_C4M16S128_A\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":42000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c\",\"3422ae02-d6d7-4980-8a00-eb38c262fb41\",\"bc7e4ca2-bf32-407f-a04b-72ad6455beb2\",\"a47ccf6f-1990-4488-8f64-332a6da3ef84\",\"8a83777f-6dc1-476a-8d0c-d8b7594ecb6f\",\"5dfefb70-053e-4ba8-9d76-537b230db94e\",\"39176c6e-509d-4e6c-8e42-417d103f4579\",\"7e865c16-1a63-4dc7-8181-dabc020fc21b\",\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\",\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\",\"d17d6872-0412-45d9-a198-af82c34d3c5c\",\"0aa99[...]
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: "{\"total_count\":26,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"69e740ab-9f0e-4107-8516-16470000729c\",\"name\":\"Kosmos\",\"version\":\"Ubuntu - 24.04 (Noble Numbat)\",\"logo_url\":\"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"defaul[...]
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalServer_AddOption\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"267376ae-b3e8-4535-867a-b6dfb9440d60\",\"name\":\"TestAccScalewayBaremetalServer_AddOption\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-28T14:58:51.518067Z\",\"updated_at\":\"2025-08-28T14:58:51.518067Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 247.761407ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/267376ae-b3e8-4535-867a-b6dfb9440d60
    method: GET
  response:
    body: "{\"id\":\"267376ae-b3e8-4535-867a-b6dfb9440d60\",\"name\":\"TestAccScalewayBaremetalServer_AddOption\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-28T14:58:51.518067Z\",\"updated_at\":\"2025-08-28T14:58:51.518067Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.393023ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: "{\"id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"name\":\"Ubuntu\",\"version\":\"22.04 LTS (Jammy Jellyfish)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.814293465s
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccScalewayBaremetalServer_AddOption\",\"description\":\"\",\"tags\":[],\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"267376ae-b3e8-4535-867a-b6dfb9440d60\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":null,\"raids\":null,\"filesystems\":null,\"zfs\":null}},\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"id\":\"a7740364-1857-4f53-8b2f-7e379745fc29\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_AddOption\",\"description\":\"\",\"updated_at\":\"2025-08-28T14:58:54.028419Z\",\"created_at\":\"2025-08-28T14:58:54.028419Z\",\"status\":\"delivering\",\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"267376ae-b3e8-4535-867a-b6dfb9440d60\"],\"status\":\"to_install\",\"user\":\"ubuntu\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1915003863040,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1915003863040,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-I215E-NVME\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 543.171568ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/a7740364-1857-4f53-8b2f-7e379745fc29
    method: GET
  response:
    body: "{\"id\":\"a7740364-1857-4f53-8b2f-7e379745fc29\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_AddOption\",\"description\":\"\",\"updated_at\":\"2025-08-28T14:58:54.028419Z\",\"created_at\":\"2025-08-28T14:58:54.028419Z\",\"status\":\"del[...]
[...]
- id: 86
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
    method: GET
  response:
    body: "{\"id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"name\":\"EM-I215E-NVME\",\"stock\":\"available\",\"bandwidth\":1000000000,\"max_bandwidth\":10000000000,\"commercial_range\":\"iridium\",\"disks\":[{\"capacity\":1920383410176,\"type\":\"NVMe\"},{\"capacity\":1920383410176,\"type\":\"NVMe\"}],\[...]
[...]
- id: 88
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - a7740364-1857-4f53-8b2f-7e379745fc29
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=a7740364-1857-4f53-8b2f-7e379745fc29
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.613066ms
[...]
