---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"disks\":[{\"capacity\":128000000000,\"type\":\"MMC\"}],\"enable\":true,\"cpus\":[{\"name\":\"TH1520\",\"core_count\":4,\"thread_count\":4,\"frequency\":1850,\"benchmark\":\"\"}],\"memories\":[{\"capacity\":16000000000,\"type\":\"DDR4\",\"frequency\":3733,\"is_ecc\":true}],\"quota_name\":\"EM_RV1_C4M16S128_A\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":42000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"03b7f4ba-a6a1-4305-984e-b54fafbf1681\",\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\",\"d17d6872-0412-45d9-a198-af82c34d3c5c\",\"0058e276-66ef-4883-ad83-0e48536f635c\",\"f2aeab5d-6015-4b7c-b4ed-d76e89093621\",\"7e865c16-1a63-4dc7-8181-dabc020fc21b\",\"3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a\",\"60f5d1e3-fa69-45af-9fc0-c9e3c114dd09\",\"ed2096da-f82f-45a7-9d08-de73bce18c09\",\"bc7e4ca2-bf32-407f-a04b-72ad6455beb2\",\"ac5cc157-caee-406a-ae0a-a28d7c30389a\",\"83640[...]
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: "{\"total_count\":19,\"options\":[{\"id\":\"31f5cddb-8217-4eb0-ac6a-96dbcb080b88\",\"name\":\"Public Bandwidth 10Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":10000000000}},{\"id\":\"31f78309-e6e0-4005-99b3-b3de3958ca7d\",\"name\":\"HDS\",\"manageable\":false,\"certification\":{}},{\"id\":\"4b5723e9-5dcc-42e9-afbb-7ee556027051\",\"name\":\"Windows 2025 standard\",\"manageable\":false,\"license\":{\"os_id\":\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\"}},{\"id\":\"4ce8bd16-0c16-479d-83bb-492b5f9072fa\",\"name\":\"Public Bandwidth 15Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":15000000000}},{\"id\":\"50f266d9-4b2e-4424-9824-9335e7c3d32d\",\"name\":\"Serial Console\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"83a8fb91-47b4-4c20-82f9-84c31d79bfd8\",\"name\":\"Windows 2022 standard\",\"manageable\":false,\"license\":{\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\"}},{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb\",\"name\":\"Public Bandwidth 1Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"9e3498b1-45ef-4c55-b699-efd66d658cca[...]
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: "{\"total_count\":26,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"69e740ab-9f0e-4107-8516-16470000729c\",\"name\":\"Kosmos\",\"version\":\"Ubuntu - 24.04 (Noble Numbat)\",\"logo_url\":\"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"defaul[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithOption\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"d21e4221-a0c7-4cdd-b173-1b51614ac2bb\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithOption\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-28T14:46:47.445763Z\",\"updated_at\":\"2025-08-28T14:46:47.445763Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 255.995158ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/d21e4221-a0c7-4cdd-b173-1b51614ac2bb
    method: GET
  response:
    body: "{\"id\":\"d21e4221-a0c7-4cdd-b173-1b51614ac2bb\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithOption\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-28T14:46:47.445763Z\",\"updated_at\":\"2025-08-28T14:46:47.445763Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.752463ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: "{\"id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"name\":\"Ubuntu\",\"version\":\"22.04 LTS (Jammy Jellyfish)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.803727435s
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithOption\",\"description\":\"\",\"tags\":[],\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"d21e4221-a0c7-4cdd-b173-1b51614ac2bb\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":null,\"raids\":null,\"filesystems\":null,\"zfs\":null}},\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"id\":\"249243f1-8a9d-426c-a744-ade6c3e0520b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithOption\",\"description\":\"\",\"updated_at\":\"2025-08-28T14:46:49.994665Z\",\"created_at\":\"2025-08-28T14:46:49.994665Z\",\"status\":\"delivering\",\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"d21e4221-a0c7-4cdd-b173-1b51614ac2bb\"],\"status\":\"to_install\",\"user\":\"ubuntu\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1915003863040,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1915003863040,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-I215E-NVME\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 585.982632ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/249243f1-8a9d-426c-a744-ade6c3e0520b
    method: GET
  response:
    body: "{\"id\":\"249243f1-8a9d-426c-a744-ade6c3e0520b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithOption\",\"description\":\"\",\"updated_at\":\"2025-08-28T14:46:49.994665Z\",\"created_at\":\"2025-08-28T14:46:49.994665Z\",\"[...]
[...]
- id: 89
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/249243f1-8a9d-426c-a744-ade6c3e0520b/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: "{\"id\":\"249243f1-8a9d-426c-a744-ade6c3e0520b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithOption\",\"descripti[...]
[...]
- id: 91
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
    method: GET
  response:
    body: "{\"id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"name\":\"EM-I215E-NVME\",\"stock\":\"available\",\"bandwidth\":1000000000,\"max_bandwidth\":10000000000,\"commercial_range\":\"iridium\",\"disks\":[{\"capacity\":1920383410176,\"type\":\"NVMe\"},{\"capacity\":1920383410176,\"type\":\"NVMe\"}],\[...]
[...]
- id: 93
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 249243f1-8a9d-426c-a744-ade6c3e0520b
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=249243f1-8a9d-426c-a744-ade6c3e0520b
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.611058ms
[...]
