---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=hourly
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["03b7f4ba-a6a1-4305-984e-b54fafbf1681","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","f2aeab5d-6015-4b7c-b4ed-d76e89093621","39176c6e-509d-4e6c-8e42-417d103f4579","7e865c16-1a63-4dc7-8181-dabc020fc21b","0058e276-66ef-4883-ad83-0e48536f635c","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","7c70ff80-dbfa-4e07-be73-1de0e60fe175","c2f3e970-63f0-4f48-aa84-3455e4e13802","a47ccf6f-1990-4488-8f64-332a6da3ef84","3ea52186-1e57-499e-8146-ab38051a5c10","0aa99516-52bb-4a7d-b9fe-1adc8478c2e0","b4816d13-8585-4005-a7c7-54a031[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServer_CreateServerWithPassword","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-06-24T09:31:14.285891Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"af122b37-b9f6-4c67-94ad-43d524a259f9","name":"TestAccServer_CreateServerWithPassword","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-06-24T09:31:14.285891Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.932625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/af122b37-b9f6-4c67-94ad-43d524a259f9
        method: GET
      response:
        body: '{"created_at":"2025-06-24T09:31:14.285891Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"af122b37-b9f6-4c67-94ad-43d524a259f9","name":"TestAccServer_CreateServerWithPassword","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-06-24T09:31:14.285891Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.20575ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/a5c00c1b-95b1-4c08-8a33-79cc079f9dac
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/proxmox.png","name":"Proxmox","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":true,"required":true},"service_user":{"default_value":"root","editable":false,"required":true},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"VE 8 | Debian 12 (Bookworm)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.058583ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"offer_id":"e1680dec-52aa-4cbc-b70c-ef32d863fdb0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"tf-bm-elegant-greider","description":"","tags":[],"install":{"os_id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","hostname":"","ssh_key_ids":["af122b37-b9f6-4c67-94ad-43d524a259f9"],"user":null,"password":null,"service_user":null,"service_password":"HelloWorld678!","partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-06-24T09:31:15.301065Z","description":"","domain":"","id":"0d4f84df-5628-4f97-a591-8572ff0efdf7","install":{"hostname":"","os_id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":64424509440,"use_all_available_space":false},{"label":"data","number":5,"size":924347006976,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":64424509440,"use_all_available_space":false},{"label":"data","number":4,"size":924347006976,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[{"devices":["/dev/nvme0n1p5","/dev/nvme1n1p4"],"filesystem_options":[],"name":"zpve","options":["ashift=12"],"type":"mirror"}]}},"service_url":"","service_user":"root","ssh_key_ids":["af122b37-b9f6-4c67-94ad-43d524a259f9"],"status":"to_install","user":"root"},"ips":[],"name":"tf-bm-elegant-greider","offer_id":"e1680dec-52aa-4cbc-b70c-ef32d863fdb0","offer_name":"EM-A610R-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-06-24T09:31:15.301065Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 516.29625ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/0d4f84df-5628-4f97-a591-8572ff0efdf7
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-06-24T09:31:15.301065Z","description":"","domain":"","id":"0d4f84df-5628-4f97-a591-8572ff0efdf7","install":{"hostname":"","os_id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","partitioning_schem[...]
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/0d4f84df-5628-4f97-a591-8572ff0efdf7
        method: GET
      response:
        body: '{"message":"Not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 76.095334ms
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=0d4f84df-5628-4f97-a591-8572ff0efdf7
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.536959ms
[...]
