---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"os":[{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"},{"enabled":true,"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh[...]
[...]
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2023-04-03T05:58:57.145874Z","disabled":false,"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"c3cb9053-7722-4f26-adf4-f9ee8c12b1f7","name":"TestAccScalewayBaremetalServer_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-04-03T05:58:57.145874Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/c3cb9053-7722-4f26-adf4-f9ee8c12b1f7
    method: GET
  response:
    body: '{"created_at":"2023-04-03T05:58:57.145874Z","disabled":false,"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"c3cb9053-7722-4f26-adf4-f9ee8c12b1f7","name":"TestAccScalewayBaremetalServer_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-04-03T05:58:57.145874Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"offers":[{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD
      Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["bf705b90-1548-4368-98ca-d17dbd8dd860","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","b4816d13-8585-4005-a7c7-54a031dd933b","3422ae02-d6d7-4980-8a00-eb38c262fb41","3ea52186-1e57-499e-8146-ab38051a5c10","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","ac5cc157-caee-406a-ae0a-a28d7c30389a","5dfefb70-053e-4ba8-9d76-537b230db94e","39176c6e-509d-4e6c-8e42-417d103f4579","bd17a2bb-e686-486a-aacf-44fa8ce6e553","a47ccf6f-1990-4488-8f64-332a6da3ef84","01d6eef6-6b96-47fd-b9f9-3857321abe4f","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d"],"memories":[{"capacity":16000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"name":"EM-A210R-HDD","operation_path":"","options":[{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":122000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A210R_SATA","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"","core_count":4,"frequency":2800,"name":"Intel
      Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6000000000000,"type":"HDD"},{"capacity":6000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":[],"memories":[{"capacity":96000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-L101X-SATA","o[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_Basic","description":"test
      a description","tags":["terraform-test","scaleway_baremetal_server","minimal"],"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-04-03T05:58:58.430720Z","description":"test
      a description","domain":"","id":"4cb7489f-68b6-4fc6-b53e-640fa21b7803","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_Basic","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2023-04-03T05:58:58.430720Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/4cb7489f-68b6-4fc6-b53e-640fa21b7803
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-04-03T05:58:58.430720Z","description":"test
      a description","domain":"","id":"4cb7489f-68b6-4fc6-b53e-640fa21b7803","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_Basic","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2023-04-03T05:58:58.430720Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/4cb7489f-68b6-4fc6-b53e-640fa21b7803
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-04-03T05:58:58.430720Z","description":"test
      a description","domain":"4cb7489f-68b6-4fc6-b53e-640fa21b7803.fr-par-2.baremetal.scw.cloud","id":"4cb7489f-68b6-4fc6-b53e-640fa21b7803","install":null,"ips":[{"address":"2001:0bc8:1201:090a:569f:35ff:fe1f:11b8","id":"1970ab72-0188-464d-b638-6027b6d5c164","reverse":"4cb7489f-68b6-4fc6-b53e-640fa21b7803.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"},{"address":"62.210.171.2","id":"45c8cbcb-ed2f-406b-8532-743de566b013","reverse":"4cb7489f-68b6-4fc6-b53e-640fa21b7803.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_Basic","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_up","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2023-04-03T06:00:21.548900Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_Basic","ssh_key_ids":["c3cb9053-7722-4f26-adf4-f9ee8c12b1f7"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/4cb7489f-68b6-4fc6-b53e-640fa21b7803/install
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-04-03T05:58:58.430720Z","description":"test
      a description","domain":"4cb7489f-68b6-4fc6-b53e-640fa21b7803.fr-par-2.baremetal.scw.cloud","id":"4cb7489f-68b6-4fc6-b53e-640fa21b7803","install":{"hostname":"TestAccScalewayBaremetalServer_Basic","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["c3cb9053-7722-4f26-adf4-f9ee8c12b1f7"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"2001:0bc8:1201:090a:569f:35ff:fe1f:11b8","id":"1970ab72-0188-464d-b638-6027b6d5c164","reverse":"4cb7489f-68b6-4fc6-b53e-640fa21b7803.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"},{"address":"62.210.171.2","id":"45c8cbcb-ed2f-406b-8532-743de566b013","reverse":"4cb7489f-68b6-4fc6-b53e-640fa21b7803.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_Basic","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_up","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2023-04-03T06:00:21.548900Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/a5065ba4-dde2-45f3-adec-1ebbb27b766b
    method: GET
  response:
    body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12},{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12}],"disks":[{"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=4cb7489f-68b6-4fc6-b53e-640fa21b7803
    method: GET
  response:
    body: '{"server_private_networks":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/4cb7489f-68b6-4fc6-b53e-640fa21b7803
    method: GET
  response:
    body: '{"message":"Server not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
