---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["f2aeab5d-6015-4b7c-b4ed-d76e89093621","7fb86682-316e-4f6e-a845-de9b230cdd29","96e5f0f2-d216-4de2-8a15-68730d877885","bf705b90-1548-4368-98ca-d17dbd8dd860","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","ac5cc157-caee-406a-ae0a-a28d7c30389a","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","eef03f45-057b-4192-b95f-c21cae01e959","39176c6e-509d-4e6c-8e42-417d103f4579","ed2096da-f82f-45a7-9d08-de73bce18c09","a47ccf6f-1990-4488-8f64-332a6da3ef84","0058e276-66ef-4883-ad83-0e48536f635c","bd17a2bb-e686-486a-aacf-44fa8c[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_AddOption","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-07-11T12:10:13.689820Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"c19e39d1-84dc-445c-94cc-5876a5c1aaa8","name":"TestAccScalewayBaremetalServer_AddOption","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T12:10:13.689820Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.857291ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/c19e39d1-84dc-445c-94cc-5876a5c1aaa8
        method: GET
      response:
        body: '{"created_at":"2025-07-11T12:10:13.689820Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"c19e39d1-84dc-445c-94cc-5876a5c1aaa8","name":"TestAccScalewayBaremetalServer_AddOption","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T12:10:13.689820Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.548459ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.233208ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_AddOption","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["c19e39d1-84dc-445c-94cc-5876a5c1aaa8"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T12:10:14.615668Z","description":"","domain":"","id":"9dcdb0fd-9aae-4b3f-8ce7-76ec6190d6ed","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["c19e39d1-84dc-445c-94cc-5876a5c1aaa8"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_AddOption","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-07-11T12:10:14.615668Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.268541ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/9dcdb0fd-9aae-4b3f-8ce7-76ec6190d6ed
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T12:10:14.615668Z","description":"","domain":"","id":"9dcdb0fd-9aae-4b3f-8ce7-76ec6190d6ed","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schem[...]
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":19203834[...]
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=9dcdb0fd-9aae-4b3f-8ce7-76ec6190d6ed
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.786375ms
[...]
