---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["83640d93-a0b8-45ad-9c9f-30cae48380a4","0058e276-66ef-4883-ad83-0e48536f635c","5dfefb70-053e-4ba8-9d76-537b230db94e","82ed3c56-935c-4012-b01f-69070fce1b1d","d859aa89-8b4a-4551-af42-ff7c0c27260a","3422ae02-d6d7-4980-8a00-eb38c262fb41","c2f3e970-63f0-4f48-aa84-3455e4e13802","8d034a5d-84c6-4b24-af8a-60ab7c55807f","a5cec64e-d7b0-4c6e-a819-60139d30a76c","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","eef03f45-057b-4192-b95f-c21cae01e959","39176c6e-509d-4e6c-8e42-417d103f4579","58bf948f-8b9b-45c2-9ad6-582c26[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-25T08:34:16.892081Z","custom_routes_propagation_enabled":true,"id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-25T08:34:16.892081Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.480375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/defac4cb-cb5e-4365-952a-0ad6e71f65c8
        method: GET
      response:
        body: '{"created_at":"2025-09-25T08:34:16.892081Z","custom_routes_propagation_enabled":true,"id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-25T08:34:16.892081Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.304167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-09-25T08:34:16.919505Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"93afb836-631c-4406-862f-2d3a6dc6890f","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-25T08:34:16.919505Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.673625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/93afb836-631c-4406-862f-2d3a6dc6890f
        method: GET
      response:
        body: '{"created_at":"2025-09-25T08:34:16.919505Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"93afb836-631c-4406-862f-2d3a6dc6890f","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-25T08:34:16.919505Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.930584ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-25T08:34:16.998419Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-09-25T08:34:16.998419Z","id":"476ef6de-6841-4d64-aa6f-142d4a3b1554","private_network_id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-09-25T08:34:16.998419Z","vpc_id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8"},{"created_at":"2025-09-25T08:34:16.998419Z","id":"26fde302-7f80-4389-9377-0870b38e1b11","private_network_id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:f787::/64","updated_at":"2025-09-25T08:34:16.998419Z","vpc_id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8"}],"tags":[],"updated_at":"2025-09-25T08:34:16.998419Z","vpc_id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 631.540458ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/479b4b35-6ec3-4ce0-b064-bfa86a179e10
        method: GET
      response:
        body: '{"created_at":"2025-09-25T08:34:16.998419Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-09-25T08:34:16.998419Z","id":"476ef6de-6841-4d64-aa6f-142d4a3b1554","private_network_id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-09-25T08:34:16.998419Z","vpc_id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8"},{"created_at":"2025-09-25T08:34:16.998419Z","id":"26fde302-7f80-4389-9377-0870b38e1b11","private_network_id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:f787::/64","updated_at":"2025-09-25T08:34:16.998419Z","vpc_id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8"}],"tags":[],"updated_at":"2025-09-25T08:34:16.998419Z","vpc_id":"defac4cb-cb5e-4365-952a-0ad6e71f65c8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.536959ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","source":{"private_network_id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10"},"is_ipv6":false,"address":"172.16.64.9","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.9/22","created_at":"2025-09-25T08:34:17.741020Z","id":"f0244d23-eff2-4331-9a57-c1f2b3688e6c","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"476ef6de-6841-4d64-aa6f-142d4a3b1554"},"tags":[],"updated_at":"2025-09-25T08:34:17.741020Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.228042ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f0244d23-eff2-4331-9a57-c1f2b3688e6c
        method: GET
      response:
        body: '{"address":"172.16.64.9/22","created_at":"2025-09-25T08:34:17.741020Z","id":"f0244d23-eff2-4331-9a57-c1f2b3688e6c","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"476ef6de-6841-4d64-aa6f-142d4a3b1554"},"tags":[],"updated_at":"2025-09-25T08:34:17.741020Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.217708ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.525792ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["93afb836-631c-4406-862f-2d3a6dc6890f"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-25T08:34:18.717760Z","description":"","domain":"","id":"892084d8-75cd-401c-8f7a-3399d3b57507","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["93afb836-631c-4406-862f-2d3a6dc6890f"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-09-25T08:34:18.800931Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 600.938208ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/892084d8-75cd-401c-8f7a-3399d3b57507
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-25T08:34:18.717760Z","description":"","domain":"","id":"892084d8-75cd-401c-8f7a-3399d3b57507","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/892084d8-75cd-401c-8f7a-3399d3b57507/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-25T08:34:18.717760Z","description":"","domain":"892084d8-75cd-401c-8f7a-339[...]
    - id: 98
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"479b4b35-6ec3-4ce0-b064-bfa86a179e10":["e2323c7e-2b20-4163-9b4f-7ebc95b8a424"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/892084d8-75cd-401c-8f7a-3399d3b57507/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-25T08:40:55.377698Z","id":"5fad50fa-8e05-4b93-bf3c-f85a22647fdf","ipam_ip_ids":["e2323c7e-2b20-4163-9b4f-7ebc95b8a424"],"private_network_id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"892084d8-75cd-401c-8f7a-3399d3b57507","status":"attaching","updated_at":"2025-09-25T08:40:55.377698Z","vlan":2836}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 558.060208ms
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=892084d8-75cd-401c-8f7a-3399d3b57507
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-25T08:40:55.377698Z","id":"5fad50fa-8e05-4b93-bf3c-f85a22647fdf","ipam_ip_ids":["e2323c7e-2b20-4163-9b4f-7ebc95b8a424"],"private_network_id":"479b4b35-6ec3-4ce0-b064-bfa86a179e10","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"892084d8-75cd-401c-8f7a-3399d3b57507","status":"attaching","updated_at":"2025-09-25T08:40:55.377698Z","vlan":2836}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.323292ms
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=479b4b35-6ec3-4ce0-b064-bfa86a179e10&project_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-25T08:34:17.763916Z","id":"e2323c7e-2b20-4163-9b4f-7ebc95b8a424","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"5fad50fa-8e05-4b93-bf3c-f85a22647fdf","mac_address":"B4:83:51:0F:6D:68","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"476ef6de-6841-4d64-aa6f-142d4a3b1554"},"tags":[],"updated_at":"2025-09-25T08:40:55.492699Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.777125ms
    - id: 107
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-25T08:34:17.763916Z","id":"e2323c7e-2b20-4163-9b4f-7ebc95b8a424","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"5fad50fa-8e05-4b93-bf3c-f85a22647fdf","mac_address":"B4:83:51:0F:6D:68","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"476ef6de-6841-4d64-aa6f-142d4a3b1554"},"tags":[],"updated_at":"2025-09-25T08:40:55.492699Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.838709ms
[...]
