---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"disks\":[{\"capacity\":128000000000,\"type\":\"MMC\"}],\"enable\":true,\"cpus\":[{\"name\":\"TH1520\",\"core_count\":4,\"thread_count\":4,\"frequency\":1850,\"benchmark\":\"\"}],\"memories\":[{\"capacity\":16000000000,\"type\":\"DDR4\",\"frequency\":3733,\"is_ecc\":true}],\"quota_name\":\"EM_RV1_C4M16S128_A\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":42000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"bc7e4ca2-bf32-407f-a04b-72ad6455beb2\",\"0058e276-66ef-4883-ad83-0e48536f635c\",\"60f5d1e3-fa69-45af-9fc0-c9e3c114dd09\",\"ed2096da-f82f-45a7-9d08-de73bce18c09\",\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\",\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\",\"a47ccf6f-1990-4488-8f64-332a6da3ef84\",\"58bf948f-8b9b-45c2-9ad6-582c26133f9e\",\"87a6472b-1bb4-4618-bb91-936d7de1966d\",\"eef03f45-057b-4192-b95f-c21cae01e959\",\"bd17a2bb-e686-486a-aacf-44fa8ce6e553\",\"7e865c16-1a63-4dc7-8181-dabc020fc21b\",\"03b7f[...]
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: "{\"total_count\":19,\"options\":[{\"id\":\"31f5cddb-8217-4eb0-ac6a-96dbcb080b88\",\"name\":\"Public Bandwidth 10Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":10000000000}},{\"id\":\"31f78309-e6e0-4005-99b3-b3de3958ca7d\",\"name\":\"HDS\",\"manageable\":false,\"certification\":{}},{\"id\":\"4b5723e9-5dcc-42e9-afbb-7ee556027051\",\"name\":\"Windows 2025 standard\",\"manageable\":false,\"license\":{\"os_id\":\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\"}},{\"id\":\"4ce8bd16-0c16-479d-83bb-492b5f9072fa\",\"name\":\"Public Bandwidth 15Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":15000000000}},{\"id\":\"50f266d9-4b2e-4424-9824-9335e7c3d32d\",\"name\":\"Serial Console\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"83a8fb91-47b4-4c20-82f9-84c31d79bfd8\",\"name\":\"Windows 2022 standard\",\"manageable\":false,\"license\":{\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\"}},{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"manageable\":true,\"remote_access\":{}},{\"id\":\"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb\",\"name\":\"Public Bandwidth 1Gbps\",\"manageable\":true,\"public_bandwidth\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"9e3498b1-45ef-4c55-b699-efd66d658cca[...]
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: "{\"total_count\":26,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"69e740ab-9f0e-4107-8516-16470000729c\",\"name\":\"Kosmos\",\"version\":\"Ubuntu - 24.04 (Noble Numbat)\",\"logo_url\":\"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"defaul[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"a5c2a657-ae6c-4c5a-b3a1-0d231891c65e\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:25:34.815271Z\",\"updated_at\":\"2025-08-26T16:25:34.815271Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 438.813087ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/a5c2a657-ae6c-4c5a-b3a1-0d231891c65e
    method: GET
  response:
    body: "{\"id\":\"a5c2a657-ae6c-4c5a-b3a1-0d231891c65e\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:25:34.815271Z\",\"updated_at\":\"2025-08-26T16:25:34.815271Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 164.959499ms
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"name\":\"baremetal_private_network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"name\":\"baremetal_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:34.706888Z\",\"updated_at\":\"2025-08-26T16:25:34.706888Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"28ab65b0-18bc-483f-b95c-93f9cfdaa7fa\",\"created_at\":\"2025-08-26T16:25:34.706888Z\",\"updated_at\":\"2025-08-26T16:25:34.706888Z\",\"subnet\":\"172.16.40.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"0d97d3fb-47f8-4f17-8b77-6b2adfe6dc73\",\"created_at\":\"2025-08-26T16:25:34.706888Z\",\"updated_at\":\"2025-08-26T16:25:34.706888Z\",\"subnet\":\"fde7:767f:1bb5:954::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 914.117431ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/678eb838-3e51-43cb-b5b4-b74cb7f03f6d
    method: GET
  response:
    body: "{\"id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"name\":\"baremetal_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:25:34.706888Z\",\"updated_at\":\"2025-08-26T16:25:34.706888Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"28ab65b0-18bc-483f-b95c-93f9cfdaa7fa\",\"created_at\":\"2025-08-26T16:25:34.706888Z\",\"updated_at\":\"2025-08-26T16:25:34.706888Z\",\"subnet\":\"172.16.40.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"0d97d3fb-47f8-4f17-8b77-6b2adfe6dc73\",\"created_at\":\"2025-08-26T16:25:34.706888Z\",\"updated_at\":\"2025-08-26T16:25:34.706888Z\",\"subnet\":\"fde7:767f:1bb5:954::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 55.397554ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: "{\"id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"name\":\"Ubuntu\",\"version\":\"22.04 LTS (Jammy Jellyfish)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.405960082s
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\",\"description\":\"\",\"tags\":[],\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"a5c2a657-ae6c-4c5a-b3a1-0d231891c65e\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":null,\"raids\":null,\"filesystems\":null,\"zfs\":null}},\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"id\":\"8afbcf35-831e-4527-a08a-2e51622d8216\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:25:38.780726Z\",\"created_at\":\"2025-08-26T16:25:38.780726Z\",\"status\":\"delivering\",\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"a5c2a657-ae6c-4c5a-b3a1-0d231891c65e\"],\"status\":\"to_install\",\"user\":\"ubuntu\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1915003863040,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1915003863040,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-I215E-NVME\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 834.030447ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8afbcf35-831e-4527-a08a-2e51622d8216
    method: GET
  response:
    body: "{\"id\":\"8afbcf35-831e-4527-a08a-2e51622d8216\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:25:38.780726Z\",\"created_at\":\"2025-08-26T16:25:38.7807[...]
[...]
- id: 85
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8afbcf35-831e-4527-a08a-2e51622d8216/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: "{\"id\":\"8afbcf35-831e-4527-a08a-2e51622d8216\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\",\"d[...]
- id: 86
  request:
    host: api.scaleway.com
    body: "{\"per_private_network_ipam_ip_ids\":{\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\":[]}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/8afbcf35-831e-4527-a08a-2e51622d8216/private-networks
    method: PUT
  response:
    body: "{\"server_private_networks\":[{\"id\":\"17822a93-34da-4fd1-8d27-a67c194a9fa1\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"server_id\":\"8afbcf35-831e-4527-a08a-2e51622d8216\",\"private_network_id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"vlan\":3547,\"updated_at\":\"2025-08-26T16:31:46.319696Z\",\"created_at\":\"2025-08-26T16:31:46.319696Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"2f2b32c6-a66b-4b6a-852f-9ca41cf191a8\",\"03869308-8bb1-428b-8ff9-a1c5cc471352\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 756.299063ms
- id: 87
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 8afbcf35-831e-4527-a08a-2e51622d8216
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=8afbcf35-831e-4527-a08a-2e51622d8216
    method: GET
  response:
    body: "{\"server_private_networks\":[{\"id\":\"17822a93-34da-4fd1-8d27-a67c194a9fa1\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"server_id\":\"8afbcf35-831e-4527-a08a-2e51622d8216\",\"private_network_id\":\"678eb838-3e51-43cb-b5b4-b74cb7f03f6d\",\"vlan\":3547,\"updated_at\":\"2025-08-26T16:31:46.319696Z\",\"created_at\":\"2025-08-26T16:31:46.319696Z\",\"status\":\"attaching\",\"ipam_ip_ids\":[\"2f2b32c6-a66b-4b6a-852f-9ca41cf191a8\",\"03869308-8bb1-428b-8ff9-a1c5cc471352\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.284341ms
[...]
- id: 90
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
    method: GET
  response:
    body: "{\"id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"name\":\"EM-I215E-NVME\",\"stock\":\"available\",\"bandwidth\":1000000000,\"max_bandwidth\":10000000000,\"commercial_range\":\"iridium\",\"disks\":[{\"capacity\":1920383410176,\"type\":\"NVMe\"},{\"capacity\":1920383410176,\"type\":\"NVMe\"}],\[...]
[...]
- id: 93
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 678eb838-3e51-43cb-b5b4-b74cb7f03f6d
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_type:
      - baremetal_private_nic
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=678eb838-3e51-43cb-b5b4-b74cb7f03f6d&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_type=baremetal_private_nic
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"03869308-8bb1-428b-8ff9-a1c5cc471352\",\"address\":\"fde7:767f:1bb5:954:5c84:acfb:51e8:e75d/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-26T16:31:46.547435Z\",\"updated_at\":\"2025-08-26T16:31:46.547435Z\",\"source\":{\"subnet_id\":\"0d97d3fb-47f8-4f17-8b77-6b2adfe6dc73\"},\"resource\":{\"type\":\"baremetal_private_nic\",\"id\":\"17822a93-34da-4fd1-8d27-a67c194a9fa1\",\"mac_address\":\"B4:83:51:0F:6B:D4\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"2f2b32c6-a66b-4b6a-852f-9ca41cf191a8\",\"address\":\"172.16.40.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:31:46.547435Z\",\"updated_at\":\"2025-08-26T16:31:46.547435Z\",\"source\":{\"subnet_id\":\"28ab65b0-18bc-483f-b95c-93f9cfdaa7fa\"},\"resource\":{\"type\":\"baremetal_private_nic\",\"id\":\"17822a93-34da-4fd1-8d27-a67c194a9fa1\",\"mac_address\":\"B4:83:51:0F:6B:D4\",\"name\":\"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 54.570608ms
[...]
