---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["39176c6e-509d-4e6c-8e42-417d103f4579","2e7ee5ae-58ac-46bb-b8e9-a6ec1bad09b1","82ed3c56-935c-4012-b01f-69070fce1b1d","d859aa89-8b4a-4551-af42-ff7c0c27260a","87a6472b-1bb4-4618-bb91-936d7de1966d","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","eef03f45-057b-4192-b95f-c21cae01e959","e8fc12e5-cfcd-434a-a8b0-d5f5141baf91","03b7f4ba-a6a1-4305-984e-b54fafbf1681","3422ae02-d6d7-4980-8a00-eb38c262fb41","bc7e4ca2-bf32-407f-a04b-72ad6455beb2","58bf948f-8b9b-45c2-9ad6-582c26[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"Ubuntu - 24.04 (Noble Numbat)","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-12-09T14:57:56.376257Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"cde6de15-2081-43f8-9b21-26a17b468d9f","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-09T14:57:56.376257Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.859125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/cde6de15-2081-43f8-9b21-26a17b468d9f
        method: GET
      response:
        body: '{"created_at":"2025-12-09T14:57:56.376257Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"cde6de15-2081-43f8-9b21-26a17b468d9f","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-09T14:57:56.376257Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.642291ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"baremetal_private_network","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-12-09T14:57:56.348659Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-09T14:57:56.348659Z","id":"08db77a0-3931-40a4-9b67-f27154691a93","private_network_id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.188.0/22","updated_at":"2025-12-09T14:57:56.348659Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-12-09T14:57:56.348659Z","id":"ea997676-0085-44c9-8a9f-5e4b0da71f8e","private_network_id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:c2a0::/64","updated_at":"2025-12-09T14:57:56.348659Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-12-09T14:57:56.348659Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 630.607458ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd
        method: GET
      response:
        body: '{"created_at":"2025-12-09T14:57:56.348659Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-09T14:57:56.348659Z","id":"08db77a0-3931-40a4-9b67-f27154691a93","private_network_id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.188.0/22","updated_at":"2025-12-09T14:57:56.348659Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-12-09T14:57:56.348659Z","id":"ea997676-0085-44c9-8a9f-5e4b0da71f8e","private_network_id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:c2a0::/64","updated_at":"2025-12-09T14:57:56.348659Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-12-09T14:57:56.348659Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.378625ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.69575ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["cde6de15-2081-43f8-9b21-26a17b468d9f"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":null},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T14:57:57.599594Z","description":"","domain":"","id":"d367df59-9acf-433a-b343-2841747a0aa0","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["cde6de15-2081-43f8-9b21-26a17b468d9f"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-12-09T14:57:57.670809Z","user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 528.317916ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/d367df59-9acf-433a-b343-2841747a0aa0
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T14:57:57.599594Z","description":"","domain":"","id":"d367df59-9acf-433a-b343-2841747a0aa0","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/d367df59-9acf-433a-b343-2841747a0aa0
        method: GET
      response:
        body: '{"message":"upstream connect error or disconnect/reset before headers. reset reason: remote connection failure, transport failure reason: delayed connect error: Connection refused"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 23.925833ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/d367df59-9acf-433a-b343-2841747a0aa0/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T14:57:57.599594Z","description":"","domain":"d367df59-9acf-433a-b343-284[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/d367df59-9acf-433a-b343-2841747a0aa0/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-12-09T15:03:44.276009Z","id":"3b9050b0-3a36-4e92-8ff0-5fa3c4635a76","ipam_ip_ids":["cd2fbc33-bad3-427f-822f-b9fed9e404d3","8dde288c-f1e0-4437-888a-c99588d1bab5"],"private_network_id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"d367df59-9acf-433a-b343-2841747a0aa0","status":"attaching","updated_at":"2025-12-09T15:03:44.276009Z","vlan":2995}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 628.797708ms
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=d367df59-9acf-433a-b343-2841747a0aa0
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-12-09T15:03:44.276009Z","id":"3b9050b0-3a36-4e92-8ff0-5fa3c4635a76","ipam_ip_ids":["cd2fbc33-bad3-427f-822f-b9fed9e404d3","8dde288c-f1e0-4437-888a-c99588d1bab5"],"private_network_id":"67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"d367df59-9acf-433a-b343-2841747a0aa0","status":"attaching","updated_at":"2025-12-09T15:03:44.276009Z","vlan":2995}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.006583ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":19203834[...]
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=67e4eb1d-5f7b-4666-ac8e-b16a112c5dfd&project_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.188.2/22","created_at":"2025-12-09T15:03:44.480208Z","id":"cd2fbc33-bad3-427f-822f-b9fed9e404d3","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"3b9050b0-3a36-4e92-8ff0-5fa3c4635a76","mac_address":"B4:83:51:0F:6B:BC","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"08db77a0-3931-40a4-9b67-f27154691a93"},"tags":[],"updated_at":"2025-12-09T15:03:44.480208Z","zone":null},{"address":"fd64:badd:7710:c2a0:3620:cae1:97a2:6465/64","created_at":"2025-12-09T15:03:44.480208Z","id":"8dde288c-f1e0-4437-888a-c99588d1bab5","is_ipv6":true,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"3b9050b0-3a36-4e92-8ff0-5fa3c4635a76","mac_address":"B4:83:51:0F:6B:BC","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"ea997676-0085-44c9-8a9f-5e4b0da71f8e"},"tags":[],"updated_at":"2025-12-09T15:03:44.480208Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.791084ms
[...]
