---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["0058e276-66ef-4883-ad83-0e48536f635c","c2f3e970-63f0-4f48-aa84-3455e4e13802","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","5dfefb70-053e-4ba8-9d76-537b230db94e","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","2e7ee5ae-58ac-46bb-b8e9-a6ec1bad09b1","03b7f4ba-a6a1-4305-984e-b54fafbf1681","60f5d1e3-fa69-45af-9fc0-c9e3c114dd09","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","8d034a5d-84c6-4b24-af8a-60ab7c55807f","83640d93-a0b8-45ad-9c9f-30cae48380a4","eef03f45-057b-4192-b95f-c21cae01e959","bf705b90-1548-4368-98ca-d17dbd[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-18T16:18:54.909828Z","custom_routes_propagation_enabled":true,"id":"94253164-19ba-4446-a096-e59926fe08a8","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-18T16:18:54.909828Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.475083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/94253164-19ba-4446-a096-e59926fe08a8
        method: GET
      response:
        body: '{"created_at":"2025-09-18T16:18:54.909828Z","custom_routes_propagation_enabled":true,"id":"94253164-19ba-4446-a096-e59926fe08a8","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-18T16:18:54.909828Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.341458ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-09-18T16:18:54.946048Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"5777fea0-75ce-4196-9a1c-7462545f28b9","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-18T16:18:54.946048Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.18625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/5777fea0-75ce-4196-9a1c-7462545f28b9
        method: GET
      response:
        body: '{"created_at":"2025-09-18T16:18:54.946048Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"5777fea0-75ce-4196-9a1c-7462545f28b9","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-18T16:18:54.946048Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.364042ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"94253164-19ba-4446-a096-e59926fe08a8","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-18T16:18:55.086769Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","name":"TestAccScalewayBaremetalIPAM","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-09-18T16:18:55.086769Z","id":"e13acccc-91a5-429a-9b57-507c782c0292","private_network_id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.64.0/22","updated_at":"2025-09-18T16:18:55.086769Z","vpc_id":"94253164-19ba-4446-a096-e59926fe08a8"},{"created_at":"2025-09-18T16:18:55.086769Z","id":"3043f965-ecdc-4443-b56a-7ae45e74abf7","private_network_id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:212a::/64","updated_at":"2025-09-18T16:18:55.086769Z","vpc_id":"94253164-19ba-4446-a096-e59926fe08a8"}],"tags":[],"updated_at":"2025-09-18T16:18:55.086769Z","vpc_id":"94253164-19ba-4446-a096-e59926fe08a8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 737.781083ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fe0c50b5-4fe0-4db3-a997-138da37a083b
        method: GET
      response:
        body: '{"created_at":"2025-09-18T16:18:55.086769Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","name":"TestAccScalewayBaremetalIPAM","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-09-18T16:18:55.086769Z","id":"e13acccc-91a5-429a-9b57-507c782c0292","private_network_id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.64.0/22","updated_at":"2025-09-18T16:18:55.086769Z","vpc_id":"94253164-19ba-4446-a096-e59926fe08a8"},{"created_at":"2025-09-18T16:18:55.086769Z","id":"3043f965-ecdc-4443-b56a-7ae45e74abf7","private_network_id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:212a::/64","updated_at":"2025-09-18T16:18:55.086769Z","vpc_id":"94253164-19ba-4446-a096-e59926fe08a8"}],"tags":[],"updated_at":"2025-09-18T16:18:55.086769Z","vpc_id":"94253164-19ba-4446-a096-e59926fe08a8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.577666ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","source":{"private_network_id":"fe0c50b5-4fe0-4db3-a997-138da37a083b"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-09-18T16:18:55.932247Z","id":"88d4c633-324c-494d-bc19-e4026a6f1fe1","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"e13acccc-91a5-429a-9b57-507c782c0292"},"tags":[],"updated_at":"2025-09-18T16:18:55.932247Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.544167ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/88d4c633-324c-494d-bc19-e4026a6f1fe1
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-09-18T16:18:55.932247Z","id":"88d4c633-324c-494d-bc19-e4026a6f1fe1","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"e13acccc-91a5-429a-9b57-507c782c0292"},"tags":[],"updated_at":"2025-09-18T16:18:55.932247Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.137084ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.825209ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["5777fea0-75ce-4196-9a1c-7462545f28b9"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-18T16:18:56.663162Z","description":"","domain":"","id":"1fe49ab3-0626-4c34-af12-6cc22fd7d56f","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["5777fea0-75ce-4196-9a1c-7462545f28b9"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-09-18T16:18:56.756820Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 673.959ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1fe49ab3-0626-4c34-af12-6cc22fd7d56f
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-18T16:18:56.663162Z","description":"","domain":"","id":"1fe49ab3-0626-4c34-af12-6cc22fd7d56f","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1fe49ab3-0626-4c34-af12-6cc22fd7d56f/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-18T16:18:56.663162Z","description":"","domain":"1fe49ab3-0626-4c34-af12-6c[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"fe0c50b5-4fe0-4db3-a997-138da37a083b":["88d4c633-324c-494d-bc19-e4026a6f1fe1"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/1fe49ab3-0626-4c34-af12-6cc22fd7d56f/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-18T16:26:03.941773Z","id":"fc996ad7-e102-43f1-acf2-025615ef5eb5","ipam_ip_ids":["88d4c633-324c-494d-bc19-e4026a6f1fe1"],"private_network_id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","server_id":"1fe49ab3-0626-4c34-af12-6cc22fd7d56f","status":"attaching","updated_at":"2025-09-18T16:26:03.941773Z","vlan":2400}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 639.721167ms
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=1fe49ab3-0626-4c34-af12-6cc22fd7d56f
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-18T16:26:03.941773Z","id":"fc996ad7-e102-43f1-acf2-025615ef5eb5","ipam_ip_ids":["88d4c633-324c-494d-bc19-e4026a6f1fe1"],"private_network_id":"fe0c50b5-4fe0-4db3-a997-138da37a083b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","server_id":"1fe49ab3-0626-4c34-af12-6cc22fd7d56f","status":"attaching","updated_at":"2025-09-18T16:26:03.941773Z","vlan":2400}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.403666ms
[...]
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=fe0c50b5-4fe0-4db3-a997-138da37a083b&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-18T16:18:55.932247Z","id":"88d4c633-324c-494d-bc19-e4026a6f1fe1","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":{"id":"fc996ad7-e102-43f1-acf2-025615ef5eb5","mac_address":"B4:83:51:0F:60:E4","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"e13acccc-91a5-429a-9b57-507c782c0292"},"tags":[],"updated_at":"2025-09-18T16:26:04.072818Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.325375ms
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-18T16:18:55.932247Z","id":"88d4c633-324c-494d-bc19-e4026a6f1fe1","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":{"id":"fc996ad7-e102-43f1-acf2-025615ef5eb5","mac_address":"B4:83:51:0F:60:E4","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"e13acccc-91a5-429a-9b57-507c782c0292"},"tags":[],"updated_at":"2025-09-18T16:26:04.072818Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.125375ms
[...]
