---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity":1000000000000,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["7e865c16-1a63-4dc7-8181-dabc020fc21b","b4816d13-8585-4005-a7c7-54a031dd933b","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","847bb37a-dc13-4536-9f07-023d38dba98d","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","bf705b90-1548-4368-98ca-d17dbd8dd860","fd771862-4b75-46a7-ab42-73c46c0ac2db","7c70ff80-dbfa-4e07-be73-1de0e60fe175","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","7fb86682-316e-4f6e-a845-de9b230cdd29","bd17a2bb-e686-486a-aacf-44fa8ce6e553","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","3422ae02-d6d7-4980-8a00-eb38c262fb41","1c376d8a-f237-438d-9cd9-47902050ffd3"],"max_bandwidth":500000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":91000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["01d6eef6-6b96-47fd-b9f9-3857321abe4f","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29"[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/7e865c16-1a63-4dc7-8181-dabc020fc21b
        method: GET
      response:
        body: '{"allowed":true,"enabled":true,"id":"7e865c16-1a63-4dc7-8181-dabc020fc21b","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/proxmox.png","name":"Proxmox","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":true,"required":true},"service_user":{"default_value":"root","editable":false,"required":true},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"VE 7 | Debian 11 (Bullseye)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.803918ms
