---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["0058e276-66ef-4883-ad83-0e48536f635c","5dfefb70-053e-4ba8-9d76-537b230db94e","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","d17d6872-0412-45d9-a198-af82c34d3c5c","8a83777f-6dc1-476a-8d0c-d8b7594ecb6f","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","39176c6e-509d-4e6c-8e42-417d103f4579","03b7f4ba-a6a1-4305-984e-b54fafbf1681","3422ae02-d6d7-4980-8a00-eb38c262fb41","01d6eef6-6b96-47fd-b9f9-3857321abe4f","0aa99516-52bb-4a7d-b9fe-1adc8478c2e0","eef03f45-057b-4192-b95f-c21cae01e959","bd17a2bb-e686-486a-aacf-44fa8c[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-07-23T11:07:37.657242Z","custom_routes_propagation_enabled":true,"id":"71c8c1df-fca5-4253-9df6-6e790f374c2b","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-23T11:07:37.657242Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.750041ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/71c8c1df-fca5-4253-9df6-6e790f374c2b/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-07-23T11:07:37.657242Z","custom_routes_propagation_enabled":true,"id":"71c8c1df-fca5-4253-9df6-6e790f374c2b","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-23T11:07:37.657242Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.490667ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/71c8c1df-fca5-4253-9df6-6e790f374c2b
        method: GET
      response:
        body: '{"created_at":"2025-07-23T11:07:37.657242Z","custom_routes_propagation_enabled":true,"id":"71c8c1df-fca5-4253-9df6-6e790f374c2b","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-23T11:07:37.657242Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.156542ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-07-23T11:07:37.685916Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"ed965d87-73fc-4afd-aea0-e5babb61f688","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-23T11:07:37.685916Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.682834ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/ed965d87-73fc-4afd-aea0-e5babb61f688
        method: GET
      response:
        body: '{"created_at":"2025-07-23T11:07:37.685916Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"ed965d87-73fc-4afd-aea0-e5babb61f688","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-23T11:07:37.685916Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.450541ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"71c8c1df-fca5-4253-9df6-6e790f374c2b","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-23T11:07:37.851101Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"876d0861-2c06-485e-af98-e08129f77d98","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-07-23T11:07:37.851101Z","id":"187b2088-2fd8-4fac-834c-6544654e6661","private_network_id":"876d0861-2c06-485e-af98-e08129f77d98","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-07-23T11:07:37.851101Z","vpc_id":"71c8c1df-fca5-4253-9df6-6e790f374c2b"},{"created_at":"2025-07-23T11:07:37.851101Z","id":"443a52cd-9107-4d8d-beea-e15af6478493","private_network_id":"876d0861-2c06-485e-af98-e08129f77d98","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:634::/64","updated_at":"2025-07-23T11:07:37.851101Z","vpc_id":"71c8c1df-fca5-4253-9df6-6e790f374c2b"}],"tags":[],"updated_at":"2025-07-23T11:07:37.851101Z","vpc_id":"71c8c1df-fca5-4253-9df6-6e790f374c2b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 703.037583ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/876d0861-2c06-485e-af98-e08129f77d98
        method: GET
      response:
        body: '{"created_at":"2025-07-23T11:07:37.851101Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"876d0861-2c06-485e-af98-e08129f77d98","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-07-23T11:07:37.851101Z","id":"187b2088-2fd8-4fac-834c-6544654e6661","private_network_id":"876d0861-2c06-485e-af98-e08129f77d98","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-07-23T11:07:37.851101Z","vpc_id":"71c8c1df-fca5-4253-9df6-6e790f374c2b"},{"created_at":"2025-07-23T11:07:37.851101Z","id":"443a52cd-9107-4d8d-beea-e15af6478493","private_network_id":"876d0861-2c06-485e-af98-e08129f77d98","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:634::/64","updated_at":"2025-07-23T11:07:37.851101Z","vpc_id":"71c8c1df-fca5-4253-9df6-6e790f374c2b"}],"tags":[],"updated_at":"2025-07-23T11:07:37.851101Z","vpc_id":"71c8c1df-fca5-4253-9df6-6e790f374c2b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.426167ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","source":{"private_network_id":"876d0861-2c06-485e-af98-e08129f77d98"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-07-23T11:07:39.516678Z","id":"24c86413-f9cb-43d2-b05c-e46b7fb5c9c7","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"187b2088-2fd8-4fac-834c-6544654e6661"},"tags":[],"updated_at":"2025-07-23T11:07:39.516678Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 992.621792ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/24c86413-f9cb-43d2-b05c-e46b7fb5c9c7
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-07-23T11:07:39.516678Z","id":"24c86413-f9cb-43d2-b05c-e46b7fb5c9c7","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"187b2088-2fd8-4fac-834c-6544654e6661"},"tags":[],"updated_at":"2025-07-23T11:07:39.516678Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.846791ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 478.304875ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["ed965d87-73fc-4afd-aea0-e5babb61f688"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-23T11:07:40.579799Z","description":"","domain":"","id":"21247424-f484-4d87-83be-868a2f8f6ed2","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["ed965d87-73fc-4afd-aea0-e5babb61f688"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-07-23T11:07:40.579799Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 471.266042ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/21247424-f484-4d87-83be-868a2f8f6ed2
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-23T11:07:40.579799Z","description":"","domain":"","id":"21247424-f484-4d87-83be-868a2f8f6ed2","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/21247424-f484-4d87-83be-868a2f8f6ed2/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-23T11:07:40.579799Z","description":"","domain":"21247424-f484-4d87-83be-86[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"876d0861-2c06-485e-af98-e08129f77d98":["24c86413-f9cb-43d2-b05c-e46b7fb5c9c7"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/21247424-f484-4d87-83be-868a2f8f6ed2/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-07-23T11:14:38.385863Z","id":"1156a128-9751-4be8-a759-b6dbe1614d02","ipam_ip_ids":["24c86413-f9cb-43d2-b05c-e46b7fb5c9c7"],"private_network_id":"876d0861-2c06-485e-af98-e08129f77d98","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"21247424-f484-4d87-83be-868a2f8f6ed2","status":"attaching","updated_at":"2025-07-23T11:14:38.385863Z","vlan":1937}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 677.22175ms
    - id: 107
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=21247424-f484-4d87-83be-868a2f8f6ed2
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-07-23T11:14:38.385863Z","id":"1156a128-9751-4be8-a759-b6dbe1614d02","ipam_ip_ids":["24c86413-f9cb-43d2-b05c-e46b7fb5c9c7"],"private_network_id":"876d0861-2c06-485e-af98-e08129f77d98","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"21247424-f484-4d87-83be-868a2f8f6ed2","status":"attaching","updated_at":"2025-07-23T11:14:38.385863Z","vlan":1937}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.921167ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=876d0861-2c06-485e-af98-e08129f77d98&project_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-07-23T11:07:39.516678Z","id":"24c86413-f9cb-43d2-b05c-e46b7fb5c9c7","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"1156a128-9751-4be8-a759-b6dbe1614d02","mac_address":"B4:83:51:0F:6D:68","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"187b2088-2fd8-4fac-834c-6544654e6661"},"tags":[],"updated_at":"2025-07-23T11:14:38.531793Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.35975ms
    - id: 114
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-07-23T11:07:39.516678Z","id":"24c86413-f9cb-43d2-b05c-e46b7fb5c9c7","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"1156a128-9751-4be8-a759-b6dbe1614d02","mac_address":"B4:83:51:0F:6D:68","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"187b2088-2fd8-4fac-834c-6544654e6661"},"tags":[],"updated_at":"2025-07-23T11:14:38.531793Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.248084ms
[...]
