---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","8d034a5d-84c6-4b24-af8a-60ab7c55807f","83640d93-a0b8-45ad-9c9f-30cae48380a4","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","f2aeab5d-6015-4b7c-b4ed-d76e89093621","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","bd43e67e-be12-4a48-bb7e-f56c751c99b0","d17d6872-0412-45d9-a198-af82c34d3c5c","0aa99516-52bb-4a7d-b9fe-1adc8478c2e0","0058e276-66ef-4883-ad83-0e48536f635c","b4816d13-8585-4005-a7c7-54a031dd933b","ed2096da-f82f-45a7-9d08-de73bc[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"Ubuntu - 24.04 (Noble Numbat)","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-11-20T17:10:12.225779Z","custom_routes_propagation_enabled":true,"id":"bb4696de-7408-43c9-bee4-f936830e3748","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T17:10:12.225779Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.813291ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bb4696de-7408-43c9-bee4-f936830e3748
        method: GET
      response:
        body: '{"created_at":"2025-11-20T17:10:12.225779Z","custom_routes_propagation_enabled":true,"id":"bb4696de-7408-43c9-bee4-f936830e3748","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T17:10:12.225779Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.5605ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-11-20T17:10:12.274376Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"1848a76c-4edf-4821-90bf-227f9cca23aa","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-11-20T17:10:12.274376Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.005459ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/1848a76c-4edf-4821-90bf-227f9cca23aa
        method: GET
      response:
        body: '{"created_at":"2025-11-20T17:10:12.274376Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"1848a76c-4edf-4821-90bf-227f9cca23aa","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-11-20T17:10:12.274376Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.15025ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"bb4696de-7408-43c9-bee4-f936830e3748","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-20T17:10:12.350976Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T17:10:12.350976Z","id":"c59093dd-5397-4dcb-a1c5-aaa43332e7a3","private_network_id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-11-20T17:10:12.350976Z","vpc_id":"bb4696de-7408-43c9-bee4-f936830e3748"},{"created_at":"2025-11-20T17:10:12.350976Z","id":"3828e174-86fb-41a0-8a2f-abf1f2ef02bd","private_network_id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f2da::/64","updated_at":"2025-11-20T17:10:12.350976Z","vpc_id":"bb4696de-7408-43c9-bee4-f936830e3748"}],"tags":[],"updated_at":"2025-11-20T17:10:12.350976Z","vpc_id":"bb4696de-7408-43c9-bee4-f936830e3748"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.181833ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/518dd8b8-875f-4878-b789-3cae1b6d7ad8
        method: GET
      response:
        body: '{"created_at":"2025-11-20T17:10:12.350976Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T17:10:12.350976Z","id":"c59093dd-5397-4dcb-a1c5-aaa43332e7a3","private_network_id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-11-20T17:10:12.350976Z","vpc_id":"bb4696de-7408-43c9-bee4-f936830e3748"},{"created_at":"2025-11-20T17:10:12.350976Z","id":"3828e174-86fb-41a0-8a2f-abf1f2ef02bd","private_network_id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f2da::/64","updated_at":"2025-11-20T17:10:12.350976Z","vpc_id":"bb4696de-7408-43c9-bee4-f936830e3748"}],"tags":[],"updated_at":"2025-11-20T17:10:12.350976Z","vpc_id":"bb4696de-7408-43c9-bee4-f936830e3748"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.75075ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-11-20T17:10:12.997953Z","id":"a2565e10-0e35-41a9-8cb9-44eb667ff5d8","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"c59093dd-5397-4dcb-a1c5-aaa43332e7a3"},"tags":[],"updated_at":"2025-11-20T17:10:12.997953Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.895125ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/a2565e10-0e35-41a9-8cb9-44eb667ff5d8
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-11-20T17:10:12.997953Z","id":"a2565e10-0e35-41a9-8cb9-44eb667ff5d8","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"c59093dd-5397-4dcb-a1c5-aaa43332e7a3"},"tags":[],"updated_at":"2025-11-20T17:10:12.997953Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.801417ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 390.202542ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["1848a76c-4edf-4821-90bf-227f9cca23aa"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-11-20T17:10:13.946015Z","description":"","domain":"","id":"b446c92a-96e4-47f2-988d-8ca8022902f3","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["1848a76c-4edf-4821-90bf-227f9cca23aa"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-11-20T17:10:14.031139Z","user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 571.991584ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b446c92a-96e4-47f2-988d-8ca8022902f3
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-11-20T17:10:13.946015Z","description":"","domain":"","id":"b446c92a-96e4-47f2-988d-8ca8022902f3","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 95
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b446c92a-96e4-47f2-988d-8ca8022902f3/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-11-20T17:10:13.946015Z","description":"","domain":"b446c92a-96e4-47f2-988d-8ca[...]
    - id: 96
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"518dd8b8-875f-4878-b789-3cae1b6d7ad8":["a2565e10-0e35-41a9-8cb9-44eb667ff5d8"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/b446c92a-96e4-47f2-988d-8ca8022902f3/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-11-20T17:16:41.200208Z","id":"27f4fe39-db5b-4400-94cf-ba00c47fa434","ipam_ip_ids":["a2565e10-0e35-41a9-8cb9-44eb667ff5d8"],"private_network_id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"b446c92a-96e4-47f2-988d-8ca8022902f3","status":"attaching","updated_at":"2025-11-20T17:16:41.200208Z","vlan":3754}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 597.302417ms
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=b446c92a-96e4-47f2-988d-8ca8022902f3
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-11-20T17:16:41.200208Z","id":"27f4fe39-db5b-4400-94cf-ba00c47fa434","ipam_ip_ids":["a2565e10-0e35-41a9-8cb9-44eb667ff5d8"],"private_network_id":"518dd8b8-875f-4878-b789-3cae1b6d7ad8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"b446c92a-96e4-47f2-988d-8ca8022902f3","status":"attaching","updated_at":"2025-11-20T17:16:41.200208Z","vlan":3754}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.969416ms
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=518dd8b8-875f-4878-b789-3cae1b6d7ad8&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-11-20T17:10:12.997953Z","id":"a2565e10-0e35-41a9-8cb9-44eb667ff5d8","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"27f4fe39-db5b-4400-94cf-ba00c47fa434","mac_address":"B4:83:51:0F:6E:B8","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"c59093dd-5397-4dcb-a1c5-aaa43332e7a3"},"tags":[],"updated_at":"2025-11-20T17:16:41.329981Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.190084ms
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-11-20T17:10:12.997953Z","id":"a2565e10-0e35-41a9-8cb9-44eb667ff5d8","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"27f4fe39-db5b-4400-94cf-ba00c47fa434","mac_address":"B4:83:51:0F:6E:B8","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"c59093dd-5397-4dcb-a1c5-aaa43332e7a3"},"tags":[],"updated_at":"2025-11-20T17:16:41.329981Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.379333ms
[...]
