---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["96e5f0f2-d216-4de2-8a15-68730d877885","ed2096da-f82f-45a7-9d08-de73bce18c09","01d6eef6-6b96-47fd-b9f9-3857321abe4f","d17d6872-0412-45d9-a198-af82c34d3c5c","0058e276-66ef-4883-ad83-0e48536f635c","b4816d13-8585-4005-a7c7-54a031dd933b","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","bd43e67e-be12-4a48-bb7e-f56c751c99b0","60f5d1e3-fa69-45af-9fc0-c9e3c114dd09","87a6472b-1bb4-4618-bb91-936d7de1966d","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","82ed3c56-935c-4012-b01f-69070fce1b1d","d859aa89-8b4a-4551-af42-ff7c0c[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"Ubuntu - 24.04 (Noble Numbat)","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-12-09T18:02:55.989284Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"33c13e90-8bd2-4a4c-91d3-29a08969cb36","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-09T18:02:55.989284Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.641ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/33c13e90-8bd2-4a4c-91d3-29a08969cb36
        method: GET
      response:
        body: '{"created_at":"2025-12-09T18:02:55.989284Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"33c13e90-8bd2-4a4c-91d3-29a08969cb36","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-09T18:02:55.989284Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.076417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"baremetal_private_network","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-12-09T18:02:56.026977Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-09T18:02:56.026977Z","id":"baac5ee9-9ccb-4909-80ce-e5fcc17347ef","private_network_id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.184.0/22","updated_at":"2025-12-09T18:02:56.026977Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-12-09T18:02:56.026977Z","id":"6c350f3a-fe5c-4d4b-833a-fd0bfdf05476","private_network_id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:7fba::/64","updated_at":"2025-12-09T18:02:56.026977Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-12-09T18:02:56.026977Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 847.988875ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5ef4fdc7-efc6-4e5a-89fb-14121b55651a
        method: GET
      response:
        body: '{"created_at":"2025-12-09T18:02:56.026977Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-09T18:02:56.026977Z","id":"baac5ee9-9ccb-4909-80ce-e5fcc17347ef","private_network_id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.184.0/22","updated_at":"2025-12-09T18:02:56.026977Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-12-09T18:02:56.026977Z","id":"6c350f3a-fe5c-4d4b-833a-fd0bfdf05476","private_network_id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:7fba::/64","updated_at":"2025-12-09T18:02:56.026977Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-12-09T18:02:56.026977Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.666ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.328667ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["33c13e90-8bd2-4a4c-91d3-29a08969cb36"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":null},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T18:02:57.412576Z","description":"","domain":"","id":"dbe85223-ce7c-4bbb-8a01-1630a172a574","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["33c13e90-8bd2-4a4c-91d3-29a08969cb36"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-12-09T18:02:57.503830Z","user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 535.464792ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/dbe85223-ce7c-4bbb-8a01-1630a172a574
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T18:02:57.412576Z","description":"","domain":"","id":"dbe85223-ce7c-4bbb-8a01-1630a172a574","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/dbe85223-ce7c-4bbb-8a01-1630a172a574/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T18:02:57.412576Z","description":"","domain":"dbe85223-ce7c-4bbb-8a01-163[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"5ef4fdc7-efc6-4e5a-89fb-14121b55651a":[]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/dbe85223-ce7c-4bbb-8a01-1630a172a574/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-12-09T18:09:13.348482Z","id":"357e9652-0bb3-4ec2-a40b-149c59b3b6f0","ipam_ip_ids":["9e4621c1-9b5d-46b8-be47-b0fc8f3d0551","6c2e7c19-d23e-42c7-8683-98d4017b7c2f"],"private_network_id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"dbe85223-ce7c-4bbb-8a01-1630a172a574","status":"attaching","updated_at":"2025-12-09T18:09:13.348482Z","vlan":1745}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 738.090833ms
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=dbe85223-ce7c-4bbb-8a01-1630a172a574
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-12-09T18:09:13.348482Z","id":"357e9652-0bb3-4ec2-a40b-149c59b3b6f0","ipam_ip_ids":["9e4621c1-9b5d-46b8-be47-b0fc8f3d0551","6c2e7c19-d23e-42c7-8683-98d4017b7c2f"],"private_network_id":"5ef4fdc7-efc6-4e5a-89fb-14121b55651a","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"dbe85223-ce7c-4bbb-8a01-1630a172a574","status":"attaching","updated_at":"2025-12-09T18:09:13.348482Z","vlan":1745}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.674583ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":19203834[...]
[...]
    - id: 95
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5ef4fdc7-efc6-4e5a-89fb-14121b55651a&project_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"fd64:badd:7710:7fba:d223:77b5:1f64:a895/64","created_at":"2025-12-09T18:09:13.546502Z","id":"6c2e7c19-d23e-42c7-8683-98d4017b7c2f","is_ipv6":true,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"357e9652-0bb3-4ec2-a40b-149c59b3b6f0","mac_address":"B4:83:51:0F:6D:A0","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"6c350f3a-fe5c-4d4b-833a-fd0bfdf05476"},"tags":[],"updated_at":"2025-12-09T18:09:13.546502Z","zone":null},{"address":"172.16.184.2/22","created_at":"2025-12-09T18:09:13.546502Z","id":"9e4621c1-9b5d-46b8-be47-b0fc8f3d0551","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"357e9652-0bb3-4ec2-a40b-149c59b3b6f0","mac_address":"B4:83:51:0F:6D:A0","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"baac5ee9-9ccb-4909-80ce-e5fcc17347ef"},"tags":[],"updated_at":"2025-12-09T18:09:13.546502Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.62ms
[...]
