---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"disks\":[{\"capacity\":128000000000,\"type\":\"MMC\"}],\"enable\":true,\"cpus\":[{\"name\":\"TH1520\",\"core_count\":4,\"thread_count\":4,\"frequency\":1850,\"benchmark\":\"\"}],\"memories\":[{\"capacity\":16000000000,\"type\":\"DDR4\",\"frequency\":3733,\"is_ecc\":true}],\"quota_name\":\"EM_RV1_C4M16S128_A\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":42000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c\",\"2e7ee5ae-58ac-46bb-b8e9-a6ec1bad09b1\",\"3422ae02-d6d7-4980-8a00-eb38c262fb41\",\"c2f3e970-63f0-4f48-aa84-3455e4e13802\",\"a47ccf6f-1990-4488-8f64-332a6da3ef84\",\"01d6eef6-6b96-47fd-b9f9-3857321abe4f\",\"0058e276-66ef-4883-ad83-0e48536f635c\",\"f2aeab5d-6015-4b7c-b4ed-d76e89093621\",\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"3ea52186-1e57-499e-8146-ab38051a5c10\",\"8a83777f-6dc1-476a-8d0c-d8b7594ecb6f\",\"83640d93-a0b8-45ad-9c9f-30cae48380a4\",\"7fb86[...]
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: "{\"total_count\":26,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"69e740ab-9f0e-4107-8516-16470000729c\",\"name\":\"Kosmos\",\"version\":\"Ubuntu - 24.04 (Noble Numbat)\",\"logo_url\":\"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"defaul[...]
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccServer_CreateServerWithCustomInstallConfig\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"53c7e68a-70f5-4bb3-b5b4-5c3742b96c7a\",\"name\":\"TestAccServer_CreateServerWithCustomInstallConfig\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-28T14:38:33.433901Z\",\"updated_at\":\"2025-08-28T14:38:33.433901Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 292.594973ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/53c7e68a-70f5-4bb3-b5b4-5c3742b96c7a
    method: GET
  response:
    body: "{\"id\":\"53c7e68a-70f5-4bb3-b5b4-5c3742b96c7a\",\"name\":\"TestAccServer_CreateServerWithCustomInstallConfig\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-28T14:38:33.433901Z\",\"updated_at\":\"2025-08-28T14:38:33.433901Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.407822ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: "{\"id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"name\":\"Ubuntu\",\"version\":\"22.04 LTS (Jammy Jellyfish)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.768592083s
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccServer_CreateServerWithCustomInstallConfig\",\"description\":\"test a description\",\"tags\":[\"terraform-test\",\"scaleway_baremetal_server\",\"minimal\"],\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"53c7e68a-70f5-4bb3-b5b4-5c3742b96c7a\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":1073741824,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1017827045376,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":1073741824,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1017827045376,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"id\":\"076d8c37-d746-489f-931b-25ae98a31c77\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccServer_CreateServerWithCustomInstallConfig\",\"description\":\"test a description\",\"updated_at\":\"2025-08-28T14:38:37.838738Z\",\"created_at\":\"2025-08-28T14:38:37.838738Z\",\"status\":\"delivering\",\"offer_id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"53c7e68a-70f5-4bb3-b5b4-5c3742b96c7a\"],\"status\":\"to_install\",\"user\":\"ubuntu\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/nvme0n1\",\"partitions\":[{\"label\":\"uefi\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":1073741824,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":1017827045376,\"use_all_available_space\":false}]},{\"device\":\"/dev/nvme1n1\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":1073741824,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":1017827045376,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p3\",\"/dev/nvme1n1p2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/nvme0n1p4\",\"/dev/nvme1n1p3\"]}],\"filesystems\":[{\"device\":\"/dev/nvme0n1p1\",\"format\":\"fat32\",\"mountpoint\":\"/boot/efi\"},{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[\"terraform-test\",\"scaleway_baremetal_server\",\"minimal\"],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-I215E-NVME\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 503.822629ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/076d8c37-d746-489f-931b-25ae98a31c77
    method: GET
  response:
    body: "{\"id\":\"076d8c37-d746-489f-931b-25ae98a31c77\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccServer_CreateServerWithCustomInstallConfig\",\"description\":\"test a description\",\"updated_at\":\"2025-08-28T14:38:37.838738Z\",\"created_at\":\"2025-08-28T14:38:37[...]
[...]
- id: 85
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
    method: GET
  response:
    body: "{\"id\":\"ddb09834-8680-4339-b5e3-19ca5205fa1f\",\"name\":\"EM-I215E-NVME\",\"stock\":\"available\",\"bandwidth\":1000000000,\"max_bandwidth\":10000000000,\"commercial_range\":\"iridium\",\"disks\":[{\"capacity\":1920383410176,\"type\":\"NVMe\"},{\"capacity\":1920383410176,\"type\":\"NVMe\"}],\[...]
[...]
- id: 87
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 076d8c37-d746-489f-931b-25ae98a31c77
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=076d8c37-d746-489f-931b-25ae98a31c77
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.562493ms
[...]
- id: 91
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - hourly
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=hourly
    method: GET
  response:
    body: "{\"total_count\":32,\"offers\":[{\"id\":\"f78052df-c8f7-437b-9793-098ef3d45f91\",\"name\":\"EM-RV1-C4M16S128-A\",\"stock\":\"available\",\"bandwidth\":100000000,\"max_bandwidth\":100000000,\"commercial_range\":\"labs\",\"d[...]
[...]
