---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/206ea234-9097-4ae1-af68-6d2be09f47ed
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"17017","core_count":8,"frequency":3100,"name":"AMD EPYC 7232P","thread_count":16}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":1024209543168,"type":"NVMe"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"206ea234-9097-4ae1-af68-6d2be09f47ed","incompatible_os_ids":["d859aa89-8b4a-4551-af42-ff7c0c27260a","847bb37a-dc13-4536-9f07-023d38dba98d","8a83777f-6dc1-476a-8d0c-d8b7594ecb6f","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","1c376d8a-f237-438d-9cd9-47902050ffd3","69e740ab-9f0e-4107-8516-16470000729c","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","ac5cc157-caee-406a-ae0a-a28d7c30389a","7fb86682-316e-4f6e-a845-de9b230cdd29","39176c6e-509d-4e6c-8e42-417d103f4579","fd771862-4b75-46a7-ab42-73c46c0ac2db","fa29896b-6b49-468d-a787-966559a55c12","5dfefb70-053e-4ba8-9d76-537b230db94e","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","c2f3e970-63f0-4f48-aa84-3455e4e13802","bd17a2bb-e686-486a-aacf-44fa8ce6e553","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","0058e276-66ef-4883-ad83-0e48536f635c","87a6472b-1bb4-4618-bb91-936d7de1966d","6aa3f876-1c83-4434-8cc4-a2dbc94216db"],"max_bandwidth":10000000000,"memories":[{"capacity":64000000000,"frequency":2400,"is_ecc":true,"type":"DDR4"}],"monthly_offer_id":"8852ff25-c867-4d58-a1f8-40b9968119b7","name":"EM-B220E-NVME","operation_path":"","options":[{"certification":{},"enabled":false,"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":0,"units":15},"subscription_period":"monthly"},{"enabled":false,"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":233000000,"units":1},"public_bandwidth":{"bandwidth_in_bps":10000000000},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":168},"subscription_period":"monthly"},{"enabled":false,"id":"e0063872-115b-413e-bbf9-fff7eeca1065","manageable":true,"name":"Public Bandwidth 5Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":685000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":50000000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"edit[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"3895","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["bd17a2bb-e686-486a-aacf-44fa8ce6e553","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","7c70ff80-dbfa-[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-04-17T20:28:11.244036Z","id":"19eb4e7c-5092-48a1-833b-50ef00584318","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-04-17T20:28:11.244036Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.51625ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/19eb4e7c-5092-48a1-833b-50ef00584318
        method: GET
      response:
        body: '{"created_at":"2025-04-17T20:28:11.244036Z","id":"19eb4e7c-5092-48a1-833b-50ef00584318","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-04-17T20:28:11.244036Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.259792ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-04-17T20:28:11.273305Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"c4ad6e6e-1fd6-46ee-b757-97b2d3e9bce6","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-04-17T20:28:11.273305Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 635.077208ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"19eb4e7c-5092-48a1-833b-50ef00584318"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-17T20:28:11.379560Z","dhcp_enabled":true,"id":"07d13693-d2d4-41a8-9550-90067003362f","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-17T20:28:11.379560Z","id":"558b3c05-3779-48a1-bd98-86888985eed2","private_network_id":"07d13693-d2d4-41a8-9550-90067003362f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-04-17T20:28:11.379560Z","vpc_id":"19eb4e7c-5092-48a1-833b-50ef00584318"},{"created_at":"2025-04-17T20:28:11.379560Z","id":"f45ea2d4-b41c-43ea-86c1-82616dd932ea","private_network_id":"07d13693-d2d4-41a8-9550-90067003362f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:8b1a::/64","updated_at":"2025-04-17T20:28:11.379560Z","vpc_id":"19eb4e7c-5092-48a1-833b-50ef00584318"}],"tags":[],"updated_at":"2025-04-17T20:28:11.379560Z","vpc_id":"19eb4e7c-5092-48a1-833b-50ef00584318"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 534.940667ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/c4ad6e6e-1fd6-46ee-b757-97b2d3e9bce6
        method: GET
      response:
        body: '{"created_at":"2025-04-17T20:28:11.273305Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"c4ad6e6e-1fd6-46ee-b757-97b2d3e9bce6","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-04-17T20:28:11.273305Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.246ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/07d13693-d2d4-41a8-9550-90067003362f
        method: GET
      response:
        body: '{"created_at":"2025-04-17T20:28:11.379560Z","dhcp_enabled":true,"id":"07d13693-d2d4-41a8-9550-90067003362f","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-17T20:28:11.379560Z","id":"558b3c05-3779-48a1-bd98-86888985eed2","private_network_id":"07d13693-d2d4-41a8-9550-90067003362f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-04-17T20:28:11.379560Z","vpc_id":"19eb4e7c-5092-48a1-833b-50ef00584318"},{"created_at":"2025-04-17T20:28:11.379560Z","id":"f45ea2d4-b41c-43ea-86c1-82616dd932ea","private_network_id":"07d13693-d2d4-41a8-9550-90067003362f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:8b1a::/64","updated_at":"2025-04-17T20:28:11.379560Z","vpc_id":"19eb4e7c-5092-48a1-833b-50ef00584318"}],"tags":[],"updated_at":"2025-04-17T20:28:11.379560Z","vpc_id":"19eb4e7c-5092-48a1-833b-50ef00584318"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.693875ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","source":{"private_network_id":"07d13693-d2d4-41a8-9550-90067003362f"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-04-17T20:28:12.124765Z","id":"5a0d76f5-cd7e-4a85-91c8-b2e8d0fcb52f","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"558b3c05-3779-48a1-bd98-86888985eed2"},"tags":[],"updated_at":"2025-04-17T20:28:12.124765Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.887166ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/5a0d76f5-cd7e-4a85-91c8-b2e8d0fcb52f
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-04-17T20:28:12.124765Z","id":"5a0d76f5-cd7e-4a85-91c8-b2e8d0fcb52f","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"558b3c05-3779-48a1-bd98-86888985eed2"},"tags":[],"updated_at":"2025-04-17T20:28:12.124765Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.048667ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.147125ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["c4ad6e6e-1fd6-46ee-b757-97b2d3e9bce6"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-04-17T20:28:13.019749Z","description":"","domain":"","id":"6884baea-f7de-4c78-86eb-31eede027d9a","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1018839433216,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1018839433216,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["c4ad6e6e-1fd6-46ee-b757-97b2d3e9bce6"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-04-17T20:28:13.019749Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.482833ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/6884baea-f7de-4c78-86eb-31eede027d9a
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-04-17T20:28:13.019749Z","description":"","domain":"","id":"6884baea-f7de-4c78-86eb-31eede027d9a","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/6884baea-f7de-4c78-86eb-31eede027d9a/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-04-17T20:28:13.019749Z","description":"","domain":"6884baea-f7de-4c78-86eb-31e[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"07d13693-d2d4-41a8-9550-90067003362f":["5a0d76f5-cd7e-4a85-91c8-b2e8d0fcb52f"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/servers/6884baea-f7de-4c78-86eb-31eede027d9a/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-04-17T20:33:48.266496Z","id":"c2d5c7ba-8296-4573-8e7b-8eeb6ee29ee6","ipam_ip_ids":["5a0d76f5-cd7e-4a85-91c8-b2e8d0fcb52f"],"private_network_id":"07d13693-d2d4-41a8-9550-90067003362f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"6884baea-f7de-4c78-86eb-31eede027d9a","status":"attaching","updated_at":"2025-04-17T20:33:48.266496Z","vlan":3757}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.256958ms
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=6884baea-f7de-4c78-86eb-31eede027d9a
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-04-17T20:33:48.266496Z","id":"c2d5c7ba-8296-4573-8e7b-8eeb6ee29ee6","ipam_ip_ids":["5a0d76f5-cd7e-4a85-91c8-b2e8d0fcb52f"],"private_network_id":"07d13693-d2d4-41a8-9550-90067003362f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"6884baea-f7de-4c78-86eb-31eede027d9a","status":"attaching","updated_at":"2025-04-17T20:33:48.266496Z","vlan":3757}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.252959ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-04-17T20:28:12.124765Z","id":"5a0d76f5-cd7e-4a85-91c8-b2e8d0fcb52f","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"c2d5c7ba-8296-4573-8e7b-8eeb6ee29ee6","mac_address":"3C:EC:EF:FE:EF:2C","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"558b3c05-3779-48a1-bd98-86888985eed2"},"tags":[],"updated_at":"2025-04-17T20:33:48.407924Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.730208ms
[...]
