---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["b4816d13-8585-4005-a7c7-54a031dd933b","3422ae02-d6d7-4980-8a00-eb38c262fb41","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","6aa3f876-1c83-4434-8cc4-a2dbc94216db","fa29896b-6b49-468d-a787-966559a55c12","7e865c16-1a63-4dc7-8181-dabc020fc21b","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","bf705b90-1548-4368-98ca-d17dbd8dd860","847bb37a-dc13-4536-9f07-023d38dba98d","69e740ab-9f0e-4107-8516-16470000729c","7fb86682-316e-4f6e-a845-de9b230cdd29","bd17a2bb-e686-486a-aacf-44fa8ce6e553","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","1c376d8a-f237-438d-9cd9-47902050ffd3","fd771862-4b75-46a7-ab42-73c46c0ac2db","2e06fa49-4677-4bd7-8bf5-b1c490d8a966"],"max_bandwidth":1000000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","license":{"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"},"manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"private_network":{"bandwidth_in_bps":1000000000},"subscription_period":"hourly"},{"enabled":false,"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":28000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":1000000000},"subscription_period":"hourly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"remote_access":{},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},"manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":91000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":["install-system-v2"]},{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["01d6eef6-6b96-47fd-b9f9-3857321abe4f","a47ccf6f-1990-4488-8f64-332a6da3ef84","7e865c16[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","description":"","tags":[],"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-29T13:27:51.542108Z","description":"","domain":"","id":"32b8be6a-8b92-4fd0-b993-cedc60a40e8d","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-10-29T13:27:51.542108Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 478.033083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/32b8be6a-8b92-4fd0-b993-cedc60a40e8d
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-29T13:27:51.542108Z","description":"","domain":"","id":"32b8be6a-8b92-4fd0-b993-cedc60a40e8d","install":null,"ips":[{"address":"2001:bc8:701:702:3eec:efff:feff:ace","id":"4423eba3-d70b-4aa2-8fa2-34d5d1ece295","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"},{"address":"62.210.158.95","id":"952fcd0e-ed91-453b-a18d-82c3846ecf14","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-10-29T13:27:51.632035Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.260792ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/206ea234-9097-4ae1-af68-6d2be09f47ed
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"17017","core_count":8,"frequency":3100,"name":"AMD EPYC 7232P","thread_count":16}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":10242095[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=32b8be6a-8b92-4fd0-b993-cedc60a40e8d
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.569458ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/32b8be6a-8b92-4fd0-b993-cedc60a40e8d
        method: GET
      response:
        body: '{"message":"Not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.7675ms
[...]
