---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["ac5cc157-caee-406a-ae0a-a28d7c30389a","8d034a5d-84c6-4b24-af8a-60ab7c55807f","0058e276-66ef-4883-ad83-0e48536f635c","eef03f45-057b-4192-b95f-c21cae01e959","3422ae02-d6d7-4980-8a00-eb38c262fb41","b4816d13-8585-4005-a7c7-54a031dd933b","bd17a2bb-e686-486a-aacf-44fa8ce6e553","60f5d1e3-fa69-45af-9fc0-c9e3c114dd09","bc7e4ca2-bf32-407f-a04b-72ad6455beb2","f2aeab5d-6015-4b7c-b4ed-d76e89093621","5dfefb70-053e-4ba8-9d76-537b230db94e","e8fc12e5-cfcd-434a-a8b0-d5f5141baf91","ed2096da-f82f-45a7-9d08-de73bc[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"Ubuntu - 24.04 (Noble Numbat)","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-12-16T08:25:41.303681Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"2dc20708-c4b8-4759-b17e-ff47ff92428c","name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-16T08:25:41.303681Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.400541ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/2dc20708-c4b8-4759-b17e-ff47ff92428c
        method: GET
      response:
        body: '{"created_at":"2025-12-16T08:25:41.303681Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"2dc20708-c4b8-4759-b17e-ff47ff92428c","name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-16T08:25:41.303681Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.77225ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.58275ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"baremetal_private_network","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-12-16T08:25:41.319843Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2d03d54e-b403-42ba-b401-4f7b6535f47e","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-16T08:25:41.319843Z","id":"798db010-0c6a-4526-931c-65081cf07146","private_network_id":"2d03d54e-b403-42ba-b401-4f7b6535f47e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.4.0/22","updated_at":"2025-12-16T08:25:41.319843Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-12-16T08:25:41.319843Z","id":"2a63427e-30a2-4d24-92e3-f336c6276a1f","private_network_id":"2d03d54e-b403-42ba-b401-4f7b6535f47e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:4ac9::/64","updated_at":"2025-12-16T08:25:41.319843Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-12-16T08:25:41.319843Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 736.297708ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2d03d54e-b403-42ba-b401-4f7b6535f47e
        method: GET
      response:
        body: '{"created_at":"2025-12-16T08:25:41.319843Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2d03d54e-b403-42ba-b401-4f7b6535f47e","name":"baremetal_private_network","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-16T08:25:41.319843Z","id":"798db010-0c6a-4526-931c-65081cf07146","private_network_id":"2d03d54e-b403-42ba-b401-4f7b6535f47e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.4.0/22","updated_at":"2025-12-16T08:25:41.319843Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-12-16T08:25:41.319843Z","id":"2a63427e-30a2-4d24-92e3-f336c6276a1f","private_network_id":"2d03d54e-b403-42ba-b401-4f7b6535f47e","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:4ac9::/64","updated_at":"2025-12-16T08:25:41.319843Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-12-16T08:25:41.319843Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.048833ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["2dc20708-c4b8-4759-b17e-ff47ff92428c"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":null},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-16T08:25:41.963092Z","description":"","domain":"","id":"cde48f54-c10b-4249-b230-a80e6207e28f","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["2dc20708-c4b8-4759-b17e-ff47ff92428c"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-12-16T08:25:42.042133Z","user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 462.081958ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/cde48f54-c10b-4249-b230-a80e6207e28f
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-16T08:25:41.963092Z","description":"","domain":"","id":"cde48f54-c10b-4249-b230-a80e6207e28f","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 147
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/cde48f54-c10b-4249-b230-a80e6207e28f/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-16T08:25:41.963092Z","description":"","domain":"cde48f54-c10b-4249-b230-a8[...]
[...]
    - id: 149
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 151
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=cde48f54-c10b-4249-b230-a80e6207e28f
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.59525ms
[...]
