---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=hourly
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","58bf948f-8b9b-45c2-9ad6-582c26133f9e","7c70ff80-dbfa-4e07-be73-1de0e60fe175","bf705b90-1548-4368-98ca-d17dbd8dd860","bc7e4ca2-bf32-407f-a04b-72ad6455beb2","d17d6872-0412-45d9-a198-af82c34d3c5c","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","3422ae02-d6d7-4980-8a00-eb38c262fb41","5dfefb70-053e-4ba8-9d76-537b230db94e","8a83777f-6dc1-476a-8d0c-d8b7594ecb6f","83640d93-a0b8-45ad-9c9f-30cae48380a4","2e7ee5ae-58ac-46bb-b8e9-a6ec1b[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServer_CreateServerWithServicePassword","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-07-11T12:10:04.388437Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"59443353-e13d-4a9d-bdb5-d0be65100841","name":"TestAccServer_CreateServerWithServicePassword","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T12:10:04.388437Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.046834ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/59443353-e13d-4a9d-bdb5-d0be65100841
        method: GET
      response:
        body: '{"created_at":"2025-07-11T12:10:04.388437Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"59443353-e13d-4a9d-bdb5-d0be65100841","name":"TestAccServer_CreateServerWithServicePassword","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-07-11T12:10:04.388437Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.740041ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/a5c00c1b-95b1-4c08-8a33-79cc079f9dac
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/proxmox.png","name":"Proxmox","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":true,"required":true},"service_user":{"default_value":"root","editable":false,"required":true},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"VE 8 | Debian 12 (Bookworm)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.850667ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"offer_id":"e1680dec-52aa-4cbc-b70c-ef32d863fdb0","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"tf-bm-pedantic-sinoussi","description":"","tags":[],"install":{"os_id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","hostname":"","ssh_key_ids":["59443353-e13d-4a9d-bdb5-d0be65100841"],"user":null,"password":null,"service_user":null,"service_password":"HelloWorld678!","partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T12:10:05.296047Z","description":"","domain":"","id":"28fe0de8-6457-4ebd-b56c-4e92cc293d9d","install":{"hostname":"","os_id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":64424509440,"use_all_available_space":false},{"label":"data","number":5,"size":924347006976,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":64424509440,"use_all_available_space":false},{"label":"data","number":4,"size":924347006976,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[{"devices":["/dev/nvme0n1p5","/dev/nvme1n1p4"],"filesystem_options":[],"name":"zpve","options":["ashift=12"],"type":"mirror"}]}},"service_url":"","service_user":"root","ssh_key_ids":["59443353-e13d-4a9d-bdb5-d0be65100841"],"status":"to_install","user":"root"},"ips":[],"name":"tf-bm-pedantic-sinoussi","offer_id":"e1680dec-52aa-4cbc-b70c-ef32d863fdb0","offer_name":"EM-A610R-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-07-11T12:10:05.296047Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 435.719541ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/28fe0de8-6457-4ebd-b56c-4e92cc293d9d
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-07-11T12:10:05.296047Z","description":"","domain":"","id":"28fe0de8-6457-4ebd-b56c-4e92cc293d9d","install":{"hostname":"","os_id":"a5c00c1b-95b1-4c08-8a33-79cc079f9dac","partitioning_schem[...]
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/e1680dec-52aa-4cbc-b70c-ef32d863fdb0
        method: GET
      response:
        body: '{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"17202","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":1024[...]
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=28fe0de8-6457-4ebd-b56c-4e92cc293d9d
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.139333ms
[...]
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/28fe0de8-6457-4ebd-b56c-4e92cc293d9d
        method: GET
      response:
        body: '{"message":"Not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 71.258542ms
[...]
