---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/206ea234-9097-4ae1-af68-6d2be09f47ed
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"17017","core_count":8,"frequency":3100,"name":"AMD EPYC 7232P","thread_count":16}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":1024209543168,"type":"NVMe"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"206ea234-9097-4ae1-af68-6d2be09f47ed","incompatible_os_ids":["bd17a2bb-e686-486a-aacf-44fa8ce6e553","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","8a83777f-6dc1-476a-8d0c-d8b7594ecb6f","87a6472b-1bb4-4618-bb91-936d7de1966d","847bb37a-dc13-4536-9f07-023d38dba98d","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","6aa3f876-1c83-4434-8cc4-a2dbc94216db","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","fa29896b-6b49-468d-a787-966559a55c12","c2f3e970-63f0-4f48-aa84-3455e4e13802","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","1c376d8a-f237-438d-9cd9-47902050ffd3","69e740ab-9f0e-4107-8516-16470000729c","ac5cc157-caee-406a-ae0a-a28d7c30389a","7fb86682-316e-4f6e-a845-de9b230cdd29","5dfefb70-053e-4ba8-9d76-537b230db94e","d859aa89-8b4a-4551-af42-ff7c0c27260a","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","39176c6e-509d-4e6c-8e42-417d103f4579","0058e276-66ef-4883-ad83-0e48536f635c","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","fd771862-4b75-46a7-ab42-73c46c0ac2db"],"max_bandwidth":10000000000,"memories":[{"capacity":64000000000,"frequency":2400,"is_ecc":true,"type":"DDR4"}],"name":"EM-B220E-NVME","operation_path":"","options":[{"certification":{},"enabled":false,"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":0,"units":15},"subscription_period":"monthly"},{"enabled":false,"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":233000000,"units":1},"public_bandwidth":{"bandwidth_in_bps":10000000000},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"e0063872-115b-413e-bbf9-fff7eeca1065","manageable":true,"name":"Public Bandwidth 5Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":685000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":50000000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"edit[...]
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServer_Basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2024-10-29T13:27:51.316432Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"d004b250-2481-415c-9967-d1b31cd5af1d","name":"TestAccServer_Basic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-10-29T13:27:51.316432Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.34467825s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/d004b250-2481-415c-9967-d1b31cd5af1d
        method: GET
      response:
        body: '{"created_at":"2024-10-29T13:27:51.316432Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"d004b250-2481-415c-9967-d1b31cd5af1d","name":"TestAccServer_Basic","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-10-29T13:27:51.316432Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.431167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","bf705b90-1548-4368-98ca-d17dbd8dd860","1c376d8a-f237-438d[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.091333ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccServer_Basic","description":"test a description","tags":["terraform-test","scaleway_baremetal_server","minimal"],"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-29T13:27:53.457828Z","description":"test a description","domain":"","id":"ae38304c-7101-47b2-9247-c367c785936f","install":null,"ips":[],"name":"TestAccServer_Basic","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2024-10-29T13:27:53.457828Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 641.451083ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/ae38304c-7101-47b2-9247-c367c785936f
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-29T13:27:53.457828Z","description":"test a description","domain":"","id":"ae38304c-7101-47b2-9247-c367c785936f","install":null,"ips":[{"address":"62.210.158.138","id":"5e55bc72-93c9-4514-bce4-20aeab7d98b8","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"},{"address":"2001:bc8:701:702:3eec:efff:feff:ada","id":"8ffff474-96da-4bb3-a920-c273497de3bc","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"}],"name":"TestAccServer_Basic","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"ready","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2024-10-29T13:27:53.524508Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.929208ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccServer_Basic","ssh_key_ids":["d004b250-2481-415c-9967-d1b31cd5af1d"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/ae38304c-7101-47b2-9247-c367c785936f/install
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-29T13:27:53.457828Z","description":"test a description","domain":"","id":"ae38304c-7101-47b2-9247-c367c785936f","install":{"hostname":"TestAccServer_Basic","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912},{"label":"swap","number":2,"size":4294967296},{"label":"boot","number":3,"size":536870912},{"label":"root","number":4,"size":1018839433216}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296},{"label":"boot","number":2,"size":536870912},{"label":"root","number":3,"size":1018839433216}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["d004b250-2481-415c-9967-d1b31cd5af1d"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"62.210.158.138","id":"5e55bc72-93c9-4514-bce4-20aeab7d98b8","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"},{"address":"2001:bc8:701:702:3eec:efff:feff:ada","id":"8ffff474-96da-4bb3-a920-c273497de3bc","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"}],"name":"TestAccServer_Basic","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"ready","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2024-10-29T13:27:53.605995Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.907ms
[...]
