---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps"},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console"},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access"},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps"},{"id":"a905e3e8-690a-4822-9c90-21418a44aa76","manageable":true,"name":"Public Bandwidth 3Gbps"},{"id":"ad1b86f2-4ae4-49f9-a826-a782e8d492f3","manageable":true,"name":"Public Bandwidth 25Gbps"},{"id":"b0a352ae-8aa0-4397-b702-ecfe9563b47b","manageable":true,"name":"Public Bandwidth 20Gbps"},{"id":"b37af8cf-8b18-4349-a063-64e9c3d50124","manageable":true,"name":"Public Bandwidth 4Gbps"},{"id":"b92d36c0-9754-4678-9efd-096e4244e798","manageable":true,"name":"Public Bandwidth 2Gbps"},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows 2022 datacenter"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network"},{"id":"e0063872-115b-413e-bbf9-fff7eeca1065","manageable":true,"name":"Public Bandwidth 5Gbps"},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows 2019 standard"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows 2019 datacenter"}],"total_count":16}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.294644ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity":1000000000000,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["7fb86682-316e-4f6e-a845-de9b230cdd29","bd17a2bb-e686-486a-aacf-44fa8ce6e553","b4816d13-8585-4005-a7c7-54a031dd933b","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","1c376d8a-f237-438d-9cd9-47902050ffd3","fd771862-4b75-46a7-ab42-73c46c0ac2db","7e865c16-1a63-4dc7-8181-dabc020fc21b","bf705b90-1548-4368-98ca-d17dbd8dd860","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","3422ae02-d6d7-4980-8a00-eb38c262fb41","847bb37a-dc13-4536-9f07-023d38dba98d","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711"],"max_bandwidth":500000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":91000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","ac5cc157-caee-406a-ae0a-a28d7c30389a","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2024-05-29T12:10:44.728296Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"9534170d-833e-43ab-a52b-451f30412641","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-05-29T12:10:44.728296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.174859ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/9534170d-833e-43ab-a52b-451f30412641
        method: GET
      response:
        body: '{"created_at":"2024-05-29T12:10:44.728296Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"9534170d-833e-43ab-a52b-451f30412641","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-05-29T12:10:44.728296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.441706ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"baremetal_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-29T12:10:44.646406Z","dhcp_enabled":true,"id":"dd3d31f7-fea3-4788-8428-73f3b201ce0a","name":"baremetal_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-29T12:10:44.646406Z","id":"65e3c13d-c249-45c1-a03d-4c347f4d2cef","subnet":"172.17.180.0/22","updated_at":"2024-05-29T12:10:44.646406Z"},{"created_at":"2024-05-29T12:10:44.646406Z","id":"380bfe11-2e83-4aa3-a6aa-7ceb4c9f51fb","subnet":"fd5f:519c:6d46:7e52::/64","updated_at":"2024-05-29T12:10:44.646406Z"}],"tags":[],"updated_at":"2024-05-29T12:10:44.646406Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 545.691574ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dd3d31f7-fea3-4788-8428-73f3b201ce0a
        method: GET
      response:
        body: '{"created_at":"2024-05-29T12:10:44.646406Z","dhcp_enabled":true,"id":"dd3d31f7-fea3-4788-8428-73f3b201ce0a","name":"baremetal_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-29T12:10:44.646406Z","id":"65e3c13d-c249-45c1-a03d-4c347f4d2cef","subnet":"172.17.180.0/22","updated_at":"2024-05-29T12:10:44.646406Z"},{"created_at":"2024-05-29T12:10:44.646406Z","id":"380bfe11-2e83-4aa3-a6aa-7ceb4c9f51fb","subnet":"fd5f:519c:6d46:7e52::/64","updated_at":"2024-05-29T12:10:44.646406Z"}],"tags":[],"updated_at":"2024-05-29T12:10:44.646406Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.627936ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.454973ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","description":"","tags":[],"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-29T12:10:46.882975Z","description":"","domain":"","id":"7ceace54-1f2f-4235-b1ed-7bd8efdec889","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-05-29T12:10:46.882975Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 696.237076ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/7ceace54-1f2f-4235-b1ed-7bd8efdec889
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-29T12:10:46.882975Z","description":"","domain":"","id":"7ceace54-1f2f-4235-b1ed-7bd8efdec889","install":null,"ips":[{"address":"2001:bc8:701:0:d6ae:52ff:fecf:f249","id":"05bb45ce-e427-4a1e-9b76-e7f69472c25d","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"},{"address":"62.210.88.16","id":"9d063007-2a2d-491c-84bf-f02727adb29b","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-05-29T12:10:46.948411Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.042967ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","ssh_key_ids":["9534170d-833e-43ab-a52b-451f30412641"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/7ceace54-1f2f-4235-b1ed-7bd8efdec889/install
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-29T12:10:46.882975Z","description":"","domain":"","id":"7ceace54-1f2f-4235-b1ed-7bd8efdec889","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":null,"service_url":"","service_user":"","ssh_key_ids":["9534170d-833e-43ab-a52b-451f30412641"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"2001:bc8:701:0:d6ae:52ff:fecf:f249","id":"05bb45ce-e427-4a1e-9b76-e7f69472c25d","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"},{"address":"62.210.88.16","id":"9d063007-2a2d-491c-84bf-f02727adb29b","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-05-29T12:10:46.948411Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.14896ms
[...]
    - id: 240
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/7ceace54-1f2f-4235-b1ed-7bd8efdec889/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-29T12:10:46.882975Z","description":"","domain":"7ceace54-1f2f-4235-b1ed-7bd8efdec889.fr-par-1.baremetal.scw.cloud","id":"7ceace54-1f2f-4235-b1ed-7bd8efdec889","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":null,"service_url":"","service_user":"","ssh_key_ids":["9534170d-833e-43ab-a52b-451f30412641"],"status":"error","user":"ubuntu"},"ips":[{"address":"2001:bc8:701:0:d6ae:52ff:fecf:f249","id":"05bb45ce-e427-4a1e-9b76-e7f69472c25d","reverse":"7ceace54-1f2f-4235-b1ed-7bd8efdec889.fr-par-1.baremetal.scw.cloud","reverse_status":"active","reverse_status_message":"","version":"IPv6"},{"address":"62.210.88.16","id":"9d063007-2a2d-491c-84bf-f02727adb29b","reverse":"7ceace54-1f2f-4235-b1ed-7bd8efdec889.fr-par-1.baremetal.scw.cloud","reverse_status":"active","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[{"expires_at":null,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","status":"option_status_enabling"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_up","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-05-29T12:10:48.310974Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.476765ms
    - id: 241
      request:
        host: api.scaleway.com
        body: '{"private_network_ids":["dd3d31f7-fea3-4788-8428-73f3b201ce0a"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/7ceace54-1f2f-4235-b1ed-7bd8efdec889/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2024-05-29T12:29:51.191086Z","id":"8f498edb-a4d5-4707-af42-26f73e0b5a98","private_network_id":"dd3d31f7-fea3-4788-8428-73f3b201ce0a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"7ceace54-1f2f-4235-b1ed-7bd8efdec889","status":"attaching","updated_at":"2024-05-29T12:29:51.191086Z","vlan":3738}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 899.208507ms
    - id: 242
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=7ceace54-1f2f-4235-b1ed-7bd8efdec889
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2024-05-29T12:29:51.191086Z","id":"8f498edb-a4d5-4707-af42-26f73e0b5a98","private_network_id":"dd3d31f7-fea3-4788-8428-73f3b201ce0a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"7ceace54-1f2f-4235-b1ed-7bd8efdec889","status":"attaching","updated_at":"2024-05-29T12:29:51.191086Z","vlan":3738}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.982028ms
[...]
    - id: 246
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/f7241870-c383-4fa2-bbca-5189600df5c4
        method: GET
      response:
        body: '{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1000000000000,"type":"SSD"},{"capaci[...]
[...]
