---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["ac5cc157-caee-406a-ae0a-a28d7c30389a","d17d6872-0412-45d9-a198-af82c34d3c5c","0058e276-66ef-4883-ad83-0e48536f635c","39176c6e-509d-4e6c-8e42-417d103f4579","e8fc12e5-cfcd-434a-a8b0-d5f5141baf91","ed2096da-f82f-45a7-9d08-de73bce18c09","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","f2aeab5d-6015-4b7c-b4ed-d76e89093621","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","a5cec64e-d7b0-4c6e-a819-60139d30a76c","0aa99516-52bb-4a7d-b9fe-1adc84[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-09T07:41:56.626730Z","custom_routes_propagation_enabled":true,"id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-09T07:41:56.626730Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.237667ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb
        method: GET
      response:
        body: '{"created_at":"2025-09-09T07:41:56.626730Z","custom_routes_propagation_enabled":true,"id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-09T07:41:56.626730Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.333459ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-09-09T07:41:56.664613Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"41174f68-a273-474d-84f7-2450f521b33e","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-09T07:41:56.664613Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.298125ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/41174f68-a273-474d-84f7-2450f521b33e
        method: GET
      response:
        body: '{"created_at":"2025-09-09T07:41:56.664613Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"41174f68-a273-474d-84f7-2450f521b33e","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-09T07:41:56.664613Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.205583ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-09T07:41:56.765536Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-09T07:41:56.765536Z","id":"0fd58aae-9146-4188-b1a7-4fcbf6c33387","private_network_id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-09-09T07:41:56.765536Z","vpc_id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb"},{"created_at":"2025-09-09T07:41:56.765536Z","id":"e8be607d-0a8d-4375-958f-864749007581","private_network_id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b97b::/64","updated_at":"2025-09-09T07:41:56.765536Z","vpc_id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb"}],"tags":[],"updated_at":"2025-09-09T07:41:56.765536Z","vpc_id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 682.985667ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1ed0a866-d70a-486f-aee3-2f845e2e6154
        method: GET
      response:
        body: '{"created_at":"2025-09-09T07:41:56.765536Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","name":"TestAccScalewayBaremetalIPAM","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-09T07:41:56.765536Z","id":"0fd58aae-9146-4188-b1a7-4fcbf6c33387","private_network_id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-09-09T07:41:56.765536Z","vpc_id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb"},{"created_at":"2025-09-09T07:41:56.765536Z","id":"e8be607d-0a8d-4375-958f-864749007581","private_network_id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b97b::/64","updated_at":"2025-09-09T07:41:56.765536Z","vpc_id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb"}],"tags":[],"updated_at":"2025-09-09T07:41:56.765536Z","vpc_id":"1bbe7b03-c38f-4d40-bde9-cd6ea1ec0efb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.565459ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"1ed0a866-d70a-486f-aee3-2f845e2e6154"},"is_ipv6":false,"address":"172.16.64.9","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.9/22","created_at":"2025-09-09T07:41:57.569651Z","id":"fd3ac31a-ddd2-4df1-aec0-836e31b2a4b3","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"0fd58aae-9146-4188-b1a7-4fcbf6c33387"},"tags":[],"updated_at":"2025-09-09T07:41:57.569651Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.408375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/fd3ac31a-ddd2-4df1-aec0-836e31b2a4b3
        method: GET
      response:
        body: '{"address":"172.16.64.9/22","created_at":"2025-09-09T07:41:57.569651Z","id":"fd3ac31a-ddd2-4df1-aec0-836e31b2a4b3","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"0fd58aae-9146-4188-b1a7-4fcbf6c33387"},"tags":[],"updated_at":"2025-09-09T07:41:57.569651Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.054416ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 727.024541ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["41174f68-a273-474d-84f7-2450f521b33e"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-09T07:41:59.033974Z","description":"","domain":"","id":"6b35455e-8a35-4222-99c4-bb92a608a3e5","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["41174f68-a273-474d-84f7-2450f521b33e"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-09-09T07:41:59.033974Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 648.371917ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/6b35455e-8a35-4222-99c4-bb92a608a3e5
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-09T07:41:59.033974Z","description":"","domain":"","id":"6b35455e-8a35-4222-99c4-bb92a608a3e5","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/6b35455e-8a35-4222-99c4-bb92a608a3e5/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-09T07:41:59.033974Z","description":"","domain":"6b35455e-8a35-4222-99c4-bb[...]
    - id: 102
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"1ed0a866-d70a-486f-aee3-2f845e2e6154":["9f003fc0-a532-4736-8fc1-02d3aff2dd65"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/6b35455e-8a35-4222-99c4-bb92a608a3e5/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-09T07:48:57.056399Z","id":"a491d587-b66e-4399-8237-1b9ca594b7f6","ipam_ip_ids":["9f003fc0-a532-4736-8fc1-02d3aff2dd65"],"private_network_id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"6b35455e-8a35-4222-99c4-bb92a608a3e5","status":"attaching","updated_at":"2025-09-09T07:48:57.056399Z","vlan":3186}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 736.652959ms
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=6b35455e-8a35-4222-99c4-bb92a608a3e5
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-09T07:48:57.056399Z","id":"a491d587-b66e-4399-8237-1b9ca594b7f6","ipam_ip_ids":["9f003fc0-a532-4736-8fc1-02d3aff2dd65"],"private_network_id":"1ed0a866-d70a-486f-aee3-2f845e2e6154","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"6b35455e-8a35-4222-99c4-bb92a608a3e5","status":"attaching","updated_at":"2025-09-09T07:48:57.056399Z","vlan":3186}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.295084ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=1ed0a866-d70a-486f-aee3-2f845e2e6154&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-09T07:41:57.617234Z","id":"9f003fc0-a532-4736-8fc1-02d3aff2dd65","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"a491d587-b66e-4399-8237-1b9ca594b7f6","mac_address":"B4:83:51:0F:60:48","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"0fd58aae-9146-4188-b1a7-4fcbf6c33387"},"tags":[],"updated_at":"2025-09-09T07:48:57.182063Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.412958ms
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-09T07:41:57.617234Z","id":"9f003fc0-a532-4736-8fc1-02d3aff2dd65","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"a491d587-b66e-4399-8237-1b9ca594b7f6","mac_address":"B4:83:51:0F:60:48","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"0fd58aae-9146-4188-b1a7-4fcbf6c33387"},"tags":[],"updated_at":"2025-09-09T07:48:57.182063Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.144ms
[...]
