---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"os":[{"allowed":true,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom
      install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"root","editable":false,"required":false},"version":"via
      Remote access"},{"allowed":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: '{"options":[{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote
      Access"},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network"},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter"}],"total_count":6}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"offers":[{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD
      Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["a5c00c1b-95b1-4c08-8a33-79cc079f9dac","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","bf705b90-1548-4368-98ca-d17dbd8dd860","3422ae02-d6d7-4980-8a00-eb38c262fb41","3ea52186-1e57-499e-8146-ab38051a5c10","b4816d13-8585-4005-a7c7-54a031dd933b","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","5dfefb70-053e-4ba8-9d76-537b230db94e","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","7fb86682-316e-4f6e-a845-de9b230cdd29","7e865c16-1a63-4dc7-8181-dabc020fc21b","bd17a2bb-e686-486a-aacf-44fa8ce6e553","7c70ff80-dbfa-4e07-be73-1de0e60fe175","39176c6e-509d-4e6c-8e42-417d103f4579","01d6eef6-6b96-47fd-b9f9-3857321abe4f","ac5cc157-caee-406a-ae0a-a28d7c30389a","c2f3e970-63f0-4f48-aa84-3455e4e13802","847bb37a-dc13-4536-9f07-023d38dba98d","a47ccf6f-1990-4488-8f64-332a6da3ef84"],"memories":[{"capacity":16000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"name":"EM-A210R-HDD","operation_path":"","options":[{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":122000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A210R_SATA","raid_controllers":[],"shared_bandwidth":true,"stock":"low","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"","core_count":4,"frequency":2800,"name":"Intel
      Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6000000000000,"type":"HDD"},{"capacity":6000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":[],"memories":[{"capacity":96000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-L101X-SATA","o[...]
[...]
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2024-02-13T09:11:47.591392Z","disabled":false,"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"8b8bc5db-4a28-4184-a89f-29257455df65","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2024-02-13T09:11:47.591392Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/8b8bc5db-4a28-4184-a89f-29257455df65
    method: GET
  response:
    body: '{"created_at":"2024-02-13T09:11:47.591392Z","disabled":false,"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"8b8bc5db-4a28-4184-a89f-29257455df65","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2024-02-13T09:11:47.591392Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"baremetal_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-13T09:11:47.648079Z","dhcp_enabled":true,"id":"b3058e7d-c178-48a1-bba6-a022c35e2ebb","name":"baremetal_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-13T09:11:47.648079Z","id":"181a577e-9f37-451e-87d0-089272731753","subnet":"172.16.236.0/22","updated_at":"2024-02-13T09:11:47.648079Z"},{"created_at":"2024-02-13T09:11:47.648079Z","id":"8ebe9825-c2be-401f-86cb-6694a0f650dc","subnet":"fd5f:519c:6d46:7a0::/64","updated_at":"2024-02-13T09:11:47.648079Z"}],"tags":[],"updated_at":"2024-02-13T09:11:47.648079Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b3058e7d-c178-48a1-bba6-a022c35e2ebb
    method: GET
  response:
    body: '{"created_at":"2024-02-13T09:11:47.648079Z","dhcp_enabled":true,"id":"b3058e7d-c178-48a1-bba6-a022c35e2ebb","name":"baremetal_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-13T09:11:47.648079Z","id":"181a577e-9f37-451e-87d0-089272731753","subnet":"172.16.236.0/22","updated_at":"2024-02-13T09:11:47.648079Z"},{"created_at":"2024-02-13T09:11:47.648079Z","id":"8ebe9825-c2be-401f-86cb-6694a0f650dc","subnet":"fd5f:519c:6d46:7a0::/64","updated_at":"2024-02-13T09:11:47.648079Z"}],"tags":[],"updated_at":"2024-02-13T09:11:47.648079Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"allowed":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","description":"","tags":[],"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T09:11:50.522580Z","description":"","domain":"","id":"1883e885-1ad6-416b-b80b-ddea9ea790b9","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-02-13T09:11:50.522580Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1883e885-1ad6-416b-b80b-ddea9ea790b9
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T09:11:50.522580Z","description":"","domain":"","id":"1883e885-1ad6-416b-b80b-ddea9ea790b9","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-02-13T09:11:50.522580Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","ssh_key_ids":["8b8bc5db-4a28-4184-a89f-29257455df65"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1883e885-1ad6-416b-b80b-ddea9ea790b9/install
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T09:11:50.522580Z","description":"","domain":"","id":"1883e885-1ad6-416b-b80b-ddea9ea790b9","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["8b8bc5db-4a28-4184-a89f-29257455df65"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-02-13T09:15:14.465405Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1883e885-1ad6-416b-b80b-ddea9ea790b9
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T09:11:50.522580Z","description":"","domain":"1883e885-1ad6-416b-b80b-ddea9ea790b9.fr-par-2.baremetal.scw.cloud","id":"1883e885-1ad6-416b-b80b-ddea9ea790b9","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["8b8bc5db-4a28-4184-a89f-29257455df65"],"status":"installing","user":"ubuntu"},"ips":[{"address":"51.159.213.165","id":"74e55ea4-8c96-483e-8b12-7fcc4941be72","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"},{"address":"2001:0bc8:1201:0619:1618:77ff:fe47:2adf","id":"b426bf63-8df8-418e-9a0a-0e54462ea910","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-02-13T09:15:22.257804Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1883e885-1ad6-416b-b80b-ddea9ea790b9/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T09:11:50.522580Z","description":"","domain":"1883e885-1ad6-416b-b80b-ddea9ea790b9.fr-par-2.baremetal.scw.cloud","id":"1883e885-1ad6-416b-b80b-ddea9ea790b9","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["8b8bc5db-4a28-4184-a89f-29257455df65"],"status":"completed","user":"ubuntu"},"ips":[{"address":"51.159.213.165","id":"74e55ea4-8c96-483e-8b12-7fcc4941be72","reverse":"1883e885-1ad6-416b-b80b-ddea9ea790b9.fr-par-2.baremetal.scw.cloud","reverse_status":"active","reverse_status_message":"","version":"IPv4"},{"address":"2001:0bc8:1201:0619:1618:77ff:fe47:2adf","id":"b426bf63-8df8-418e-9a0a-0e54462ea910","reverse":"1883e885-1ad6-416b-b80b-ddea9ea790b9.fr-par-2.baremetal.scw.cloud","reverse_status":"active","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[{"expires_at":null,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","status":"option_status_enabling"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_up","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-02-13T09:15:22.257804Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"private_network_ids":["b3058e7d-c178-48a1-bba6-a022c35e2ebb"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1883e885-1ad6-416b-b80b-ddea9ea790b9/private-networks
    method: PUT
  response:
    body: '{"server_private_networks":[{"created_at":"2024-02-13T09:43:51.284993Z","id":"5d6bb2a6-5243-4010-9f49-f94f6ceaa028","private_network_id":"b3058e7d-c178-48a1-bba6-a022c35e2ebb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"1883e885-1ad6-416b-b80b-ddea9ea790b9","status":"attaching","updated_at":"2024-02-13T09:43:51.284993Z","vlan":3542}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=1883e885-1ad6-416b-b80b-ddea9ea790b9
    method: GET
  response:
    body: '{"server_private_networks":[{"created_at":"2024-02-13T09:43:51.284993Z","id":"5d6bb2a6-5243-4010-9f49-f94f6ceaa028","private_network_id":"b3058e7d-c178-48a1-bba6-a022c35e2ebb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"1883e885-1ad6-416b-b80b-ddea9ea790b9","status":"attaching","updated_at":"2024-02-13T09:43:51.284993Z","vlan":3542}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/a5065ba4-dde2-45f3-adec-1ebbb27b766b
    method: GET
  response:
    body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12},{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12}],"disks":[{"[...]
[...]
