---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["ac5cc157-caee-406a-ae0a-a28d7c30389a","8d034a5d-84c6-4b24-af8a-60ab7c55807f","39176c6e-509d-4e6c-8e42-417d103f4579","58bf948f-8b9b-45c2-9ad6-582c26133f9e","bd43e67e-be12-4a48-bb7e-f56c751c99b0","87a6472b-1bb4-4618-bb91-936d7de1966d","7c70ff80-dbfa-4e07-be73-1de0e60fe175","3422ae02-d6d7-4980-8a00-eb38c262fb41","a47ccf6f-1990-4488-8f64-332a6da3ef84","3ea52186-1e57-499e-8146-ab38051a5c10","f2aeab5d-6015-4b7c-b4ed-d76e89093621","96e5f0f2-d216-4de2-8a15-68730d877885","e8fc12e5-cfcd-434a-a8b0-d5f514[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":false,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"Ubuntu - 24.04 (Noble Numbat)","zone":"fr-par-2"},{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-12-09T14:58:32.544535Z","custom_routes_propagation_enabled":true,"id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-09T14:58:32.544535Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.554167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-12-09T14:58:32.542903Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"756db439-bc93-469d-960d-218c0a5bb6b4","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-09T14:58:32.542903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.280708ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3b128d08-68fa-4275-9cff-c37f6a8d02e9
        method: GET
      response:
        body: '{"created_at":"2025-12-09T14:58:32.544535Z","custom_routes_propagation_enabled":true,"id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","private_network_count":0,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-09T14:58:32.544535Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.0675ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/756db439-bc93-469d-960d-218c0a5bb6b4
        method: GET
      response:
        body: '{"created_at":"2025-12-09T14:58:32.542903Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"756db439-bc93-469d-960d-218c0a5bb6b4","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-12-09T14:58:32.542903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.170792ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-12-09T14:58:32.656073Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9b5370ec-4b3f-44b0-8607-df26e6095548","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-09T14:58:32.656073Z","id":"225efd06-b1d7-44e3-b1b3-a281303e59b4","private_network_id":"9b5370ec-4b3f-44b0-8607-df26e6095548","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-12-09T14:58:32.656073Z","vpc_id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9"},{"created_at":"2025-12-09T14:58:32.656073Z","id":"2818f509-2b36-4a31-aea6-272c0e6de448","private_network_id":"9b5370ec-4b3f-44b0-8607-df26e6095548","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:fe0c::/64","updated_at":"2025-12-09T14:58:32.656073Z","vpc_id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9"}],"tags":[],"updated_at":"2025-12-09T14:58:32.656073Z","vpc_id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.726125ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9b5370ec-4b3f-44b0-8607-df26e6095548
        method: GET
      response:
        body: '{"created_at":"2025-12-09T14:58:32.656073Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9b5370ec-4b3f-44b0-8607-df26e6095548","name":"TestAccScalewayBaremetalIPAM","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-12-09T14:58:32.656073Z","id":"225efd06-b1d7-44e3-b1b3-a281303e59b4","private_network_id":"9b5370ec-4b3f-44b0-8607-df26e6095548","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.64.0/22","updated_at":"2025-12-09T14:58:32.656073Z","vpc_id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9"},{"created_at":"2025-12-09T14:58:32.656073Z","id":"2818f509-2b36-4a31-aea6-272c0e6de448","private_network_id":"9b5370ec-4b3f-44b0-8607-df26e6095548","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:fe0c::/64","updated_at":"2025-12-09T14:58:32.656073Z","vpc_id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9"}],"tags":[],"updated_at":"2025-12-09T14:58:32.656073Z","vpc_id":"3b128d08-68fa-4275-9cff-c37f6a8d02e9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.236083ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","source":{"private_network_id":"9b5370ec-4b3f-44b0-8607-df26e6095548"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-12-09T14:58:33.278947Z","id":"49ddccb5-4e46-46d3-b02a-f4145634a725","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"225efd06-b1d7-44e3-b1b3-a281303e59b4"},"tags":[],"updated_at":"2025-12-09T14:58:33.278947Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.961291ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/49ddccb5-4e46-46d3-b02a-f4145634a725
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-12-09T14:58:33.278947Z","id":"49ddccb5-4e46-46d3-b02a-f4145634a725","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"225efd06-b1d7-44e3-b1b3-a281303e59b4"},"tags":[],"updated_at":"2025-12-09T14:58:33.278947Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.436291ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"cloud_init_supported":true,"cloud_init_version":"22.1","custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.534875ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["756db439-bc93-469d-960d-218c0a5bb6b4"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":null},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T14:58:34.022211Z","description":"","domain":"","id":"b9837167-b0d5-4347-99b7-8e25a2f8580a","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["756db439-bc93-469d-960d-218c0a5bb6b4"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","protected":false,"rescue_server":null,"status":"ordered","tags":[],"updated_at":"2025-12-09T14:58:34.128469Z","user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 667.170417ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b9837167-b0d5-4347-99b7-8e25a2f8580a
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T14:58:34.022211Z","description":"","domain":"","id":"b9837167-b0d5-4347-99b7-8e25a2f8580a","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b9837167-b0d5-4347-99b7-8e25a2f8580a/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-12-09T14:58:34.022211Z","description":"","domain":"b9837167-b0d5-4347-99b7-8e2[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"9b5370ec-4b3f-44b0-8607-df26e6095548":["49ddccb5-4e46-46d3-b02a-f4145634a725"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/b9837167-b0d5-4347-99b7-8e25a2f8580a/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-12-09T15:03:49.637093Z","id":"64b2a67a-4d2e-4d81-95af-6062d913c2f6","ipam_ip_ids":["49ddccb5-4e46-46d3-b02a-f4145634a725"],"private_network_id":"9b5370ec-4b3f-44b0-8607-df26e6095548","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"b9837167-b0d5-4347-99b7-8e25a2f8580a","status":"attaching","updated_at":"2025-12-09T15:03:49.637093Z","vlan":3068}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.787792ms
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=b9837167-b0d5-4347-99b7-8e25a2f8580a
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-12-09T15:03:49.637093Z","id":"64b2a67a-4d2e-4d81-95af-6062d913c2f6","ipam_ip_ids":["49ddccb5-4e46-46d3-b02a-f4145634a725"],"private_network_id":"9b5370ec-4b3f-44b0-8607-df26e6095548","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","server_id":"b9837167-b0d5-4347-99b7-8e25a2f8580a","status":"attaching","updated_at":"2025-12-09T15:03:49.637093Z","vlan":3068}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.392208ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":19203834[...]
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=9b5370ec-4b3f-44b0-8607-df26e6095548&project_id=d3520a52-2c75-4ba0-bda8-82dd087f07f2&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-12-09T14:58:33.278947Z","id":"49ddccb5-4e46-46d3-b02a-f4145634a725","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"64b2a67a-4d2e-4d81-95af-6062d913c2f6","mac_address":"B4:83:51:0F:77:8C","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"225efd06-b1d7-44e3-b1b3-a281303e59b4"},"tags":[],"updated_at":"2025-12-09T15:03:49.753149Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.984334ms
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-12-09T14:58:33.278947Z","id":"49ddccb5-4e46-46d3-b02a-f4145634a725","is_ipv6":false,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","resource":{"id":"64b2a67a-4d2e-4d81-95af-6062d913c2f6","mac_address":"B4:83:51:0F:77:8C","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"225efd06-b1d7-44e3-b1b3-a281303e59b4"},"tags":[],"updated_at":"2025-12-09T15:03:49.753149Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.478042ms
[...]
