---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/206ea234-9097-4ae1-af68-6d2be09f47ed
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"17017","core_count":8,"frequency":3100,"name":"AMD EPYC 7232P","thread_count":16}],"disks":[{"capacity":1024209543168,"type":"NVMe"},{"capacity":1024209543168,"type":"NVMe"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"206ea234-9097-4ae1-af68-6d2be09f47ed","incompatible_os_ids":["c2f3e970-63f0-4f48-aa84-3455e4e13802","7fb86682-316e-4f6e-a845-de9b230cdd29","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","ac5cc157-caee-406a-ae0a-a28d7c30389a","39176c6e-509d-4e6c-8e42-417d103f4579","5dfefb70-053e-4ba8-9d76-537b230db94e","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","87a6472b-1bb4-4618-bb91-936d7de1966d","fa29896b-6b49-468d-a787-966559a55c12","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","0058e276-66ef-4883-ad83-0e48536f635c","69e740ab-9f0e-4107-8516-16470000729c","bd17a2bb-e686-486a-aacf-44fa8ce6e553","8a83777f-6dc1-476a-8d0c-d8b7594ecb6f","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","d859aa89-8b4a-4551-af42-ff7c0c27260a","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","847bb37a-dc13-4536-9f07-023d38dba98d","1c376d8a-f237-438d-9cd9-47902050ffd3","fd771862-4b75-46a7-ab42-73c46c0ac2db","6aa3f876-1c83-4434-8cc4-a2dbc94216db"],"max_bandwidth":10000000000,"memories":[{"capacity":64000000000,"frequency":2400,"is_ecc":true,"type":"DDR4"}],"name":"EM-B220E-NVME","operation_path":"","options":[{"certification":{},"enabled":false,"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":0,"units":15},"subscription_period":"monthly"},{"enabled":false,"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":233000000,"units":1},"public_bandwidth":{"bandwidth_in_bps":10000000000},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"e0063872-115b-413e-bbf9-fff7eeca1065","manageable":true,"name":"Public Bandwidth 5Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":685000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":50000000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"edit[...]
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccServer_CreateServerWithCustomInstallConfig","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2024-12-02T21:27:44.011102Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"6f6edf94-bde4-4936-9660-feaba8914d9c","name":"TestAccServer_CreateServerWithCustomInstallConfig","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-12-02T21:27:44.011102Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 582.506458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/6f6edf94-bde4-4936-9660-feaba8914d9c
        method: GET
      response:
        body: '{"created_at":"2024-12-02T21:27:44.011102Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"6f6edf94-bde4-4936-9660-feaba8914d9c","name":"TestAccServer_CreateServerWithCustomInstallConfig","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-12-02T21:27:44.011102Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.147875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["b4816d13-8585-4005-a7c7-54a031dd933b","fa29896b-6b49-468d-a787-966559a55c12","a5c00c1b-95b1-4c08[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.90625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","name":"TestAccServer_CreateServerWithCustomInstallConfig","description":"test a description","tags":["terraform-test","scaleway_baremetal_server","minimal"],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["6f6edf94-bde4-4936-9660-feaba8914d9c"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912},{"label":"swap","number":2,"size":4294967296},{"label":"boot","number":3,"size":1073741824},{"label":"root","number":4,"size":1017827045376}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296},{"label":"boot","number":2,"size":1073741824},{"label":"root","number":3,"size":1017827045376}]}],"raids":[{"name":"/dev/md0","level":"raid_level_1","devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"]},{"name":"/dev/md1","level":"raid_level_1","devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"zfs":{"pools":[]}}},"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-12-02T21:27:45.614744Z","description":"test a description","domain":"","id":"fbe7ac46-cd1b-45f9-b747-db815a5c70fc","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912},{"label":"swap","number":2,"size":4294967296},{"label":"boot","number":3,"size":1073741824},{"label":"root","number":4,"size":1017827045376}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296},{"label":"boot","number":2,"size":1073741824},{"label":"root","number":3,"size":1017827045376}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["6f6edf94-bde4-4936-9660-feaba8914d9c"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccServer_CreateServerWithCustomInstallConfig","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","offer_name":"EM-B220E-NVME","options":[],"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","ping_status":"ping_status_unknown","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rescue_server":null,"status":"delivering","tags":["terraform-test","scaleway_baremetal_server","minimal"],"updated_at":"2024-12-02T21:27:45.614744Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 470.476417ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/fbe7ac46-cd1b-45f9-b747-db815a5c70fc
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-12-02T21:27:45.614744Z","description":"test a description","domain":"","id":"fbe7ac46-cd1b-45f9-b747-db815a5c70fc","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","[...]
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=fbe7ac46-cd1b-45f9-b747-db815a5c70fc
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.647167ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/fbe7ac46-cd1b-45f9-b747-db815a5c70fc
        method: GET
      response:
        body: '{"message":"Not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.112583ms
[...]
