---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383410176,"type":"NVMe"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","incompatible_os_ids":["ac5cc157-caee-406a-ae0a-a28d7c30389a","bd17a2bb-e686-486a-aacf-44fa8ce6e553","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","3bc196f5-4b7d-4f60-9dc5-86d4bcf36e1a","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","58bf948f-8b9b-45c2-9ad6-582c26133f9e","1c376d8a-f237-438d-9cd9-47902050ffd3","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","fa29896b-6b49-468d-a787-966559a55c12","5dfefb70-053e-4ba8-9d76-537b230db94e","7c70ff80-dbfa-4e07-be73-1de0e60fe175","847bb37a-dc13-4536-9f07-023d38dba98d","fd771862-4b75-46a7-ab42-73c46c0ac2db","6aa3f876-1c83-4434-8cc4-a2dbc94216db","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","f2aeab5d-6015-4b7c-b4ed-d76e89093621","39176c6e-509d-4e6c-8e42-417d103f4579","87a6472b-1bb4-4618-bb91-936d7de1966d","d859aa89-8b4a-4551-af42-ff7c0c27260a","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","7fb86682-316e-4f6e-a845-de9b230cdd29","0058e276-66ef-4883-ad83-0e48536f635c","d17d6872-0412-45d9-a198-af82c34d3c5c","69e740ab-9f0e-4107-8516-16470000729c","c2f3e970-63f0-4f48-aa84-3455e4e13802","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","8a83777f-6dc1-476a-8d0c-d8b7594ecb6f"],"max_bandwidth":10000000000,"memories":[{"capacity":256000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"monthly_offer_id":"44890f67-212b-4610-9170-4c199644525e","name":"EM-I215E-NVME","operation_path":"","options":[{"enabled":false,"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard","os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c","price":{"currency_code":"EUR","nanos":400000000,"units":50},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":336},"subscription_period":"monthly"},{"enabled":false,"id":"a905e3e8-690a-4822-9c90-21418a44aa76","manageable":true,"name":"Public Bandwidth 3Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":411000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":3000000000},"subscription_period":"hourly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},"manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":400000000,"units":50},"subscription_period":"monthly"},{"enabled":false,"id":"b92d36c0-9754-4678-9efd-096e4244e798","manageable":true,"name":"Public Bandwidth 2Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":274000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":2000000000},"subscription_period":"hourly"},{"enabled":false,"id":"b37af8cf-8b18-4349-a063-64e9c3d50124","manageable":true,"name":"Public Bandwidth 4Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":548000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":4000000000},"subscription_period":"hourly"},{"enabled":false,"id":"e0063872-115b-413e-bbf9-fff7eeca1065","manageable":true,"name":"Public Bandwidth 5Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":685000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":5000000000},"subscription_period":"hourly"},{"certification":{},"enabled":false,"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":0,"units":15},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":400000000,"units[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["f2aeab5d-6015-4b7c-b4ed-d76e89093621","ac5cc157-caee-406a-ae0a-a28d7c30389a","d17d6872-0412-45d9-a198-af82c34d3c5c","7fb86682-316e-4f6e-a845-de9b230cdd29","2e7ee5ae-58a[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/7e865c16-1a63-4dc7-8181-dabc020fc21b
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"7e865c16-1a63-4dc7-8181-dabc020fc21b","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/proxmox.png","name":"Proxmox","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":true,"required":true},"service_user":{"default_value":"root","editable":false,"required":true},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"VE 7 | Debian 11 (Bullseye)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 403.600959ms
