---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"a905e3e8-690a-4822-9c90-21418a44aa76","manageable":true,"name":"Public Bandwidth 3Gbps","public_bandwidth":{"bandwidth_in_bps":3000000000}},{"id":"ad1b86f2-4ae4-49f9-a826-a782e8d492f3","manageable":true,"name":"Public Bandwidth 25Gbps","public_bandwidth":{"bandwidth_in_bps":25000000000}},{"id":"b0a352ae-8aa0-4397-b702-ecfe9563b47b","manageable":true,"name":"Public Bandwidth 20Gbps","public_bandwidth":{"bandwidth_in_bps":20000000000}},{"id":"b37af8cf-8b18-4349-a063-64e9c3d50124","manageable":true,"name":"Public Bandwidth 4Gbps","public_bandwidth":{"bandwidth_in_bps":4000000000}},{"id":"b92d36c0-9754-4678-9efd-096e4244e798","manageable":true,"name":"Public Bandwidth 2Gbps","public_bandwidth":{"bandwidth_in_bps":2000000000}},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","private_network":{}},{"id":"e0063872-115b-413e-bbf9-fff7eeca1065","manageable":true,"name":"Public Bandwidth 5Gbps","public_bandwidth":{"bandwidth_in_bps":5000000000}},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},"manageable":false,"name":"Windows 2019 standard"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","license":{"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"},"manageable":false,"name":"Windows 2019 datacenter"}],"total_count":17}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.128466ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"edit[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["b4816d13-8585-4005-a7c7-54a031dd933b","3422ae02-d6d7-4980-8a00-eb38c262fb41","847bb37a-dc13-4536-9f07-023d38dba98d","fd771862-4b75-46a7-ab42-73c46c0ac2db","7fb86682-316e-4f6e-a845-de9b230cdd29","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","1c376d8a-f237-438d-9cd9-47902050ffd3","69e740ab-9f0e-4107-8516-16470000729c","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","bf705b90-1548-4368-98ca-d17dbd8dd860","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","6aa3f876-1c83-4434-8cc4-a2dbc94216db","7e865c16-1a63-4dc7-8181-dabc020fc21b","bd17a2bb-e686-486a-aacf-44fa8ce6e553","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","fa29896b-6b49-468d-a787-966559a55c12"],"max_bandwidth":1000000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},"manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"baremetal_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T14:26:29.290164Z","dhcp_enabled":true,"id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","name":"baremetal_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T14:26:29.290164Z","id":"a9924891-c7f7-44ae-9369-328618361660","private_network_id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T14:26:29.290164Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T14:26:29.290164Z","id":"9c7806f6-57ba-41bf-aad7-bcb31725bd1d","private_network_id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8e4a::/64","updated_at":"2024-10-03T14:26:29.290164Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T14:26:29.290164Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 561.434973ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b726ff06-ecf2-4894-a347-ed1ff7f8f733
        method: GET
      response:
        body: '{"created_at":"2024-10-03T14:26:29.290164Z","dhcp_enabled":true,"id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","name":"baremetal_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T14:26:29.290164Z","id":"a9924891-c7f7-44ae-9369-328618361660","private_network_id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T14:26:29.290164Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T14:26:29.290164Z","id":"9c7806f6-57ba-41bf-aad7-bcb31725bd1d","private_network_id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8e4a::/64","updated_at":"2024-10-03T14:26:29.290164Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T14:26:29.290164Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.331753ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2024-10-03T14:26:29.314911Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"1dc6571c-ae56-439f-9380-1f5d3239b12d","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-10-03T14:26:29.314911Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.014590759s
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/1dc6571c-ae56-439f-9380-1f5d3239b12d
        method: GET
      response:
        body: '{"created_at":"2024-10-03T14:26:29.314911Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"1dc6571c-ae56-439f-9380-1f5d3239b12d","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-10-03T14:26:29.314911Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.129994ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.738912ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","description":"","tags":[],"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-03T14:26:30.749126Z","description":"","domain":"","id":"befef637-bd69-449c-940b-dd403f4c2404","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-10-03T14:26:30.749126Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 452.389897ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/befef637-bd69-449c-940b-dd403f4c2404
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-03T14:26:30.749126Z","description":"","domain":"","id":"befef637-bd69-449c-940b-dd403f4c2404","install":null,"ips":[{"address":"2001:bc8:701:3f:d6ae:52ff:fecb:bb84","id":"5a6d81fa-1170-4055-a7fe-1c5f490987ac","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"},{"address":"62.210.93.125","id":"8bb83061-09f0-4405-816b-6a6099d7f214","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-10-03T14:26:30.851333Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.343311ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","ssh_key_ids":["1dc6571c-ae56-439f-9380-1f5d3239b12d"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/befef637-bd69-449c-940b-dd403f4c2404/install
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-03T14:26:30.749126Z","description":"","domain":"","id":"befef637-bd69-449c-940b-dd403f4c2404","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/sda","partitions":[{"label":"legacy","number":1,"size":536870912},{"label":"swap","number":2,"size":4294967296},{"label":"boot","number":3,"size":536870912},{"label":"root","number":4,"size":994630959104}]},{"device":"/dev/sdb","partitions":[{"label":"swap","number":1,"size":4294967296},{"label":"boot","number":2,"size":536870912},{"label":"root","number":3,"size":994630959104}]}],"filesystems":[{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/sda3","/dev/sdb2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/sda4","/dev/sdb3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["1dc6571c-ae56-439f-9380-1f5d3239b12d"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"2001:bc8:701:3f:d6ae:52ff:fecb:bb84","id":"5a6d81fa-1170-4055-a7fe-1c5f490987ac","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"},{"address":"62.210.93.125","id":"8bb83061-09f0-4405-816b-6a6099d7f214","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-10-03T14:26:30.976400Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.320128ms
[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/befef637-bd69-449c-940b-dd403f4c2404/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-03T14:26:30.749126Z","description":"","domain":"befef637-bd69-449c-940b-dd[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: '{"private_network_ids":["b726ff06-ecf2-4894-a347-ed1ff7f8f733"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/befef637-bd69-449c-940b-dd403f4c2404/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2024-10-03T14:34:03.177850Z","id":"987a4d69-8f5e-41be-b851-e30642123200","private_network_id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"befef637-bd69-449c-940b-dd403f4c2404","status":"attaching","updated_at":"2024-10-03T14:34:03.177850Z","vlan":3258}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.032197994s
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=befef637-bd69-449c-940b-dd403f4c2404
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2024-10-03T14:34:03.177850Z","id":"987a4d69-8f5e-41be-b851-e30642123200","private_network_id":"b726ff06-ecf2-4894-a347-ed1ff7f8f733","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"befef637-bd69-449c-940b-dd403f4c2404","status":"attaching","updated_at":"2024-10-03T14:34:03.177850Z","vlan":3258}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.173862ms
[...]
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/f7241870-c383-4fa2-bbca-5189600df5c4
        method: GET
      response:
        body: '{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capaci[...]
[...]
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=b726ff06-ecf2-4894-a347-ed1ff7f8f733&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.116.2/22","created_at":"2024-10-03T14:34:03.532795Z","id":"2c0d3f86-8fc7-4c5c-827c-b116ec6c2bdd","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"987a4d69-8f5e-41be-b851-e30642123200","mac_address":"D4:AE:52:CB:BB:84","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"a9924891-c7f7-44ae-9369-328618361660"},"tags":[],"updated_at":"2024-10-03T14:34:03.532795Z","zone":null},{"address":"fd46:78ab:30b8:8e4a:997:2645:a4ac:10c1/64","created_at":"2024-10-03T14:34:03.532795Z","id":"e22249f2-1b20-47e2-b02c-7456ac02bb32","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"987a4d69-8f5e-41be-b851-e30642123200","mac_address":"D4:AE:52:CB:BB:84","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"9c7806f6-57ba-41bf-aad7-bcb31725bd1d"},"tags":[],"updated_at":"2024-10-03T14:34:03.532795Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.39938ms
[...]
    - id: 132
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/befef637-bd69-449c-940b-dd403f4c2404/private-networks/b726ff06-ecf2-4894-a347-ed1ff7f8f733
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 433.893817ms
[...]
    - id: 137
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/befef637-bd69-449c-940b-dd403f4c2404
        method: GET
      response:
        body: '{"message":"Not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.836249ms
[...]
