---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":100000000,"commercial_range":"labs","cpus":[{"benchmark":"","core_count":4,"frequency":1850,"name":"TH1520","thread_count":4}],"disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"gpus":[],"id":"f78052df-c8f7-437b-9793-098ef3d45f91","incompatible_os_ids":["8a83777f-6dc1-476a-8d0c-d8b7594ecb6f","83640d93-a0b8-45ad-9c9f-30cae48380a4","7fb86682-316e-4f6e-a845-de9b230cdd29","82ed3c56-935c-4012-b01f-69070fce1b1d","c2f3e970-63f0-4f48-aa84-3455e4e13802","a47ccf6f-1990-4488-8f64-332a6da3ef84","d859aa89-8b4a-4551-af42-ff7c0c27260a","3422ae02-d6d7-4980-8a00-eb38c262fb41","a5cec64e-d7b0-4c6e-a819-60139d30a76c","58bf948f-8b9b-45c2-9ad6-582c26133f9e","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","01d6eef6-6b96-47fd-b9f9-3857321abe4f","d17d6872-0412-45d9-a198-af82c3[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
        method: GET
      response:
        body: '{"options":[{"id":"31f5cddb-8217-4eb0-ac6a-96dbcb080b88","manageable":true,"name":"Public Bandwidth 10Gbps","public_bandwidth":{"bandwidth_in_bps":10000000000}},{"certification":{},"id":"31f78309-e6e0-4005-99b3-b3de3958ca7d","manageable":false,"name":"HDS"},{"id":"4b5723e9-5dcc-42e9-afbb-7ee556027051","license":{"os_id":"a5cec64e-d7b0-4c6e-a819-60139d30a76c"},"manageable":false,"name":"Windows 2025 standard"},{"id":"4ce8bd16-0c16-479d-83bb-492b5f9072fa","manageable":true,"name":"Public Bandwidth 15Gbps","public_bandwidth":{"bandwidth_in_bps":15000000000}},{"id":"50f266d9-4b2e-4424-9824-9335e7c3d32d","manageable":true,"name":"Serial Console","remote_access":{}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","remote_access":{}},{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"9e3498b1-45ef-4c55-b699-efd66d658cca","license":{"os_id":"bc7e4ca2-bf32-407f-a04b[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":false,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"69e740ab-9f0e-4107-8516-16470000729c","license_required":false,"logo_url":"https://saturnv-images-ceee8265.s3.fr-par.scw.cloud/os/ubuntu-kosmos.png","name":"Kosmos","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_va[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-10T07:57:18.179201Z","custom_routes_propagation_enabled":true,"id":"b9e47bfd-24f9-479e-aa50-507fd837ea91","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-10T07:57:18.179201Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.777833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b9e47bfd-24f9-479e-aa50-507fd837ea91
        method: GET
      response:
        body: '{"created_at":"2025-09-10T07:57:18.179201Z","custom_routes_propagation_enabled":true,"id":"b9e47bfd-24f9-479e-aa50-507fd837ea91","is_default":false,"name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-10T07:57:18.179201Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.135916ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-09-10T07:57:18.261810Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"a4b4fca3-49e0-420a-b4d5-7ddcc4e3c965","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-10T07:57:18.261810Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.856ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/a4b4fca3-49e0-420a-b4d5-7ddcc4e3c965
        method: GET
      response:
        body: '{"created_at":"2025-09-10T07:57:18.261810Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"a4b4fca3-49e0-420a-b4d5-7ddcc4e3c965","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2025-09-10T07:57:18.261810Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.178459ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayBaremetalIPAM","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"b9e47bfd-24f9-479e-aa50-507fd837ea91","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-10T07:57:18.491717Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-10T07:57:18.491717Z","id":"a33e9626-1be3-48e3-bd34-7e47dc37f4fe","private_network_id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-09-10T07:57:18.491717Z","vpc_id":"b9e47bfd-24f9-479e-aa50-507fd837ea91"},{"created_at":"2025-09-10T07:57:18.491717Z","id":"3f6eef02-f98b-4b45-906f-b596eb661cfe","private_network_id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fa6c::/64","updated_at":"2025-09-10T07:57:18.491717Z","vpc_id":"b9e47bfd-24f9-479e-aa50-507fd837ea91"}],"tags":[],"updated_at":"2025-09-10T07:57:18.491717Z","vpc_id":"b9e47bfd-24f9-479e-aa50-507fd837ea91"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 668.059ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8cf0e874-9d48-4fe2-a9a6-a337ec9519a7
        method: GET
      response:
        body: '{"created_at":"2025-09-10T07:57:18.491717Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","name":"TestAccScalewayBaremetalIPAM","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-10T07:57:18.491717Z","id":"a33e9626-1be3-48e3-bd34-7e47dc37f4fe","private_network_id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-09-10T07:57:18.491717Z","vpc_id":"b9e47bfd-24f9-479e-aa50-507fd837ea91"},{"created_at":"2025-09-10T07:57:18.491717Z","id":"3f6eef02-f98b-4b45-906f-b596eb661cfe","private_network_id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fa6c::/64","updated_at":"2025-09-10T07:57:18.491717Z","vpc_id":"b9e47bfd-24f9-479e-aa50-507fd837ea91"}],"tags":[],"updated_at":"2025-09-10T07:57:18.491717Z","vpc_id":"b9e47bfd-24f9-479e-aa50-507fd837ea91"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.159417ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7"},"is_ipv6":false,"address":"172.16.64.9","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.9/22","created_at":"2025-09-10T07:57:19.345530Z","id":"d93e823f-71aa-4d6c-ae2b-7048ae8018d9","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a33e9626-1be3-48e3-bd34-7e47dc37f4fe"},"tags":[],"updated_at":"2025-09-10T07:57:19.345530Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.595375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/d93e823f-71aa-4d6c-ae2b-7048ae8018d9
        method: GET
      response:
        body: '{"address":"172.16.64.9/22","created_at":"2025-09-10T07:57:19.345530Z","id":"d93e823f-71aa-4d6c-ae2b-7048ae8018d9","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a33e9626-1be3-48e3-bd34-7e47dc37f4fe"},"tags":[],"updated_at":"2025-09-10T07:57:19.345530Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.019666ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 637.053625ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","description":"","tags":[],"install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"","ssh_key_ids":["a4b4fca3-49e0-420a-b4d5-7ddcc4e3c965"],"user":null,"password":null,"service_user":null,"service_password":null,"partitioning_schema":{"disks":null,"raids":null,"filesystems":null,"zfs":null}},"option_ids":null,"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-10T07:57:20.757916Z","description":"","domain":"","id":"a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["a4b4fca3-49e0-420a-b4d5-7ddcc4e3c965"],"status":"to_install","user":"ubuntu"},"ips":[],"name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","offer_id":"ddb09834-8680-4339-b5e3-19ca5205fa1f","offer_name":"EM-I215E-NVME","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"rescue_server":null,"status":"delivering","tags":[],"updated_at":"2025-09-10T07:57:20.757916Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.405625ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-10T07:57:20.757916Z","description":"","domain":"","id":"a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f","install":{"hostname":"","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_sche[...]
[...]
    - id: 96
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2025-09-10T07:57:20.757916Z","description":"","domain":"a3c3b5f2-68b7-4e8b-b0fc-dd9[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: '{"per_private_network_ipam_ip_ids":{"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7":["344681d7-d19b-4f6b-8c77-9167ae544626"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/servers/a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f/private-networks
        method: PUT
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-10T08:04:00.439800Z","id":"7d8f5217-ee28-4c2a-aa3a-6cf7ab451bda","ipam_ip_ids":["344681d7-d19b-4f6b-8c77-9167ae544626"],"private_network_id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f","status":"attaching","updated_at":"2025-09-10T08:04:00.439800Z","vlan":2094}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 880.994167ms
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f
        method: GET
      response:
        body: '{"server_private_networks":[{"created_at":"2025-09-10T08:04:00.439800Z","id":"7d8f5217-ee28-4c2a-aa3a-6cf7ab451bda","ipam_ip_ids":["344681d7-d19b-4f6b-8c77-9167ae544626"],"private_network_id":"8cf0e874-9d48-4fe2-a9a6-a337ec9519a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","server_id":"a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f","status":"attaching","updated_at":"2025-09-10T08:04:00.439800Z","vlan":2094}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.785292ms
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/a3c3b5f2-68b7-4e8b-b0fc-dd9076e42e1f
        method: GET
      response:
        body: '{"message":"upstream connect error or disconnect/reset before headers. reset reason: remote connection failure, transport failure reason: delayed connect error: Connection refused"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 21.77475ms
[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/ddb09834-8680-4339-b5e3-19ca5205fa1f
        method: GET
      response:
        body: '{"bandwidth":1000000000,"commercial_range":"iridium","cpus":[{"benchmark":"41609","core_count":16,"frequency":3000,"name":"AMD EPYC 7313P","thread_count":32}],"disks":[{"capacity":1920383410176,"type":"NVMe"},{"capacity":1920383[...]
[...]
    - id: 107
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=8cf0e874-9d48-4fe2-a9a6-a337ec9519a7&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-10T07:57:19.388283Z","id":"344681d7-d19b-4f6b-8c77-9167ae544626","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"7d8f5217-ee28-4c2a-aa3a-6cf7ab451bda","mac_address":"B4:83:51:0F:60:48","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"a33e9626-1be3-48e3-bd34-7e47dc37f4fe"},"tags":[],"updated_at":"2025-09-10T08:04:00.683820Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.229333ms
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork&resource_type=baremetal_private_nic
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.7/22","created_at":"2025-09-10T07:57:19.388283Z","id":"344681d7-d19b-4f6b-8c77-9167ae544626","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"7d8f5217-ee28-4c2a-aa3a-6cf7ab451bda","mac_address":"B4:83:51:0F:60:48","name":"TestAccScalewayBaremetalServer_WithIPAMPrivateNetwork","type":"baremetal_private_nic"},"reverses":[],"source":{"subnet_id":"a33e9626-1be3-48e3-bd34-7e47dc37f4fe"},"tags":[],"updated_at":"2025-09-10T08:04:00.683820Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.357958ms
[...]
