---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":4,\"projects\":[{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}},{\"id\":\"c567f266-af4f-4da0-a35b-98c34086f991\",\"name\":\"Packer Plugin Scaleway\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2022-08-03T12:38:30.535676Z\",\"updated_at\":\"2022-08-03T12:38:30.535676Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}},{\"id\":\"fe479fbe-6cae-44c5-bb7a-7fc9f04acad5\",\"name\":\"SDK Python\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2022-11-25T09:24:16.967251Z\",\"updated_at\":\"2022-11-25T09:24:16.967251Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}},{\"id\":\"f5375b18-7efc-4416-ab13-c42af955602c\",\"name\":\"ansible\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2024-10-10T15:51:51.949252Z\",\"updated_at\":\"2024-10-10T15:51:51.949252Z\",\"description\":\"ansible-test\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.06701992s
[...]
