---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-terraform-account-project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:27:53.741389Z","description":"","id":"d9cf3a2a-6bd4-4b2b-986e-bc63295fce14","name":"tf-tests-terraform-account-project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:27:53.741389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 642.020625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d9cf3a2a-6bd4-4b2b-986e-bc63295fce14
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:27:53.741389Z","description":"","id":"d9cf3a2a-6bd4-4b2b-986e-bc63295fce14","name":"tf-tests-terraform-account-project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:27:53.741389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.433333ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2025-01-22T13:27:53.741389Z","description":"","id":"d9cf3a2a-6bd4-4b2b-986e-bc63295fce14","name":"tf-tests-terraform-account-project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:27:53.741389Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.445792ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d9cf3a2a-6bd4-4b2b-986e-bc63295fce14
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"d9cf3a2a-6bd4-4b2b-986e-bc63295fce14","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.262417ms
[...]
