---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-terraform-account-project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"f6ad8ef3-4a27-4fb1-940c-c4f9268d7192\",\"name\":\"tf-tests-terraform-account-project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T15:13:03.290711Z\",\"updated_at\":\"2025-09-04T15:13:03.290711Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 436.852167ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/f6ad8ef3-4a27-4fb1-940c-c4f9268d7192
    method: GET
  response:
    body: "{\"id\":\"f6ad8ef3-4a27-4fb1-940c-c4f9268d7192\",\"name\":\"tf-tests-terraform-account-project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T15:13:03.290711Z\",\"updated_at\":\"2025-09-04T15:13:03.290711Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 198.851135ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-tests-terraform-account-project
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"projects\":[{\"id\":\"f6ad8ef3-4a27-4fb1-940c-c4f9268d7192\",\"name\":\"tf-tests-terraform-account-project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T15:13:03.290711Z\",\"updated_at\":\"2025-09-04T15:13:03.290711Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 176.704765ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/f6ad8ef3-4a27-4fb1-940c-c4f9268d7192
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"f6ad8ef3-4a27-4fb1-940c-c4f9268d7192\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.672144ms
[...]
