---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=6867048b-fe12-4e96-835e-41c79a39604b
        method: GET
      response:
        body: '{"projects":[{"created_at":"2025-03-28T10:50:07.046652Z","description":"","id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"default","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-03-28T10:50:07.046652Z"},{"created_at":"2025-04-17T07:56:01.332697Z","description":"","id":"8cc8dd4d-a094-407a-89a3-9d004674e936","name":"tf_tests_container_trigger_sqs","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-04-17T07:56:01.332697Z"},{"created_at":"2025-04-17T07:56:07.275342Z","description":"","id":"c6dd3456-da8b-4aa0-9c34-16d7d9803aca","name":"tf_tests_container_trigger_sqs","organizatio[...]
[...]
