---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-terraform-account-project","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-26T09:42:21.569073Z","description":"","id":"556b5b08-8fe5-4922-87f1-fd175fb9d09e","name":"tf-tests-terraform-account-project","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-26T09:42:21.569073Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 387.596583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/556b5b08-8fe5-4922-87f1-fd175fb9d09e
        method: GET
      response:
        body: '{"created_at":"2025-05-26T09:42:21.569073Z","description":"","id":"556b5b08-8fe5-4922-87f1-fd175fb9d09e","name":"tf-tests-terraform-account-project","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-26T09:42:21.569073Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.639375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"projects":[{"created_at":"2025-05-26T09:42:21.569073Z","description":"","id":"556b5b08-8fe5-4922-87f1-fd175fb9d09e","name":"tf-tests-terraform-account-project","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-26T09:42:21.569073Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.124667ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/556b5b08-8fe5-4922-87f1-fd175fb9d09e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"556b5b08-8fe5-4922-87f1-fd175fb9d09e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.878542ms
[...]
