---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-terraform-account-project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"d660e627-2bff-4618-b736-922141374ad2\", \"name\":\"tf-tests-terraform-account-project\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T10:06:39.395793Z\", \"updated_at\":\"2025-11-17T10:06:39.395793Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 519.182285ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/d660e627-2bff-4618-b736-922141374ad2
    method: GET
  response:
    body: "{\"id\":\"d660e627-2bff-4618-b736-922141374ad2\", \"name\":\"tf-tests-terraform-account-project\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T10:06:39.395793Z\", \"updated_at\":\"2025-11-17T10:06:39.395793Z\", \"description\":\"\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 260.769008ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-tests-terraform-account-project
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1, \"projects\":[{\"id\":\"d660e627-2bff-4618-b736-922141374ad2\", \"name\":\"tf-tests-terraform-account-project\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T10:06:39.395793Z\", \"updated_at\":\"2025-11-17T10:06:39.395793Z\", \"description\":\"\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 270.296562ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/d660e627-2bff-4618-b736-922141374ad2
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"d660e627-2bff-4618-b736-922141374ad2\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 408.440833ms
[...]
