---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - default
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"projects\":[{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 996.386997ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 216.011864ms
[...]
