---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-terraform-account-project","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-05T13:45:48.808194Z","description":"","id":"3ed6e127-b176-49b8-8c79-e26a62ed727f","name":"tf-tests-terraform-account-project","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2025-09-05T13:45:48.808194Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 537.570417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3ed6e127-b176-49b8-8c79-e26a62ed727f
        method: GET
      response:
        body: '{"created_at":"2025-09-05T13:45:48.808194Z","description":"","id":"3ed6e127-b176-49b8-8c79-e26a62ed727f","name":"tf-tests-terraform-account-project","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-05T13:45:48.808194Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.175ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"projects":[{"created_at":"2025-09-05T13:45:48.808194Z","description":"","id":"3ed6e127-b176-49b8-8c79-e26a62ed727f","name":"tf-tests-terraform-account-project","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-05T13:45:48.808194Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.579125ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3ed6e127-b176-49b8-8c79-e26a62ed727f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"3ed6e127-b176-49b8-8c79-e26a62ed727f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.987166ms
[...]
