---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-project-list-id-1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"First project for testing list by IDs"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"754a0dcc-c22f-48c1-8f95-2b8d1fd93235","name":"tf-tests-project-list-id-1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:56:34.287245Z","updated_at":"2026-06-08T10:56:34.287245Z","description":"First project for testing list by IDs","qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.02388ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/754a0dcc-c22f-48c1-8f95-2b8d1fd93235
        method: GET
      response:
        body: '{"id":"754a0dcc-c22f-48c1-8f95-2b8d1fd93235","name":"tf-tests-project-list-id-1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:56:34.287245Z","updated_at":"2026-06-08T10:56:34.287245Z","description":"First project for testing list by IDs","qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.817437ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            project_ids:
                - 754a0dcc-c22f-48c1-8f95-2b8d1fd93235
                - e3db9046-1656-4998-b50e-cc2aebf58ab5
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&project_ids=754a0dcc-c22f-48c1-8f95-2b8d1fd93235&project_ids=e3db9046-1656-4998-b50e-cc2aebf58ab5
        method: GET
      response:
        body: '{"total_count":2,"projects":[{"id":"754a0dcc-c22f-48c1-8f95-2b8d1fd93235","name":"tf-tests-project-list-id-1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:56:34.287245Z","updated_at":"2026-06-08T10:56:34.287245Z","description":"First project for testing list by IDs","qualification":{"architecture_type":"unknown_architecture_type"}},{"id":"e3db9046-1656-4998-b50e-cc2aebf58ab5","name":"tf-tests-project-list-id-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:56:36.057452Z","updated_at":"2026-06-08T10:56:36.057452Z","description":"Second project for testing list by IDs","qualification":{"architecture_type":"unknown_architecture_type"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.990276ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/754a0dcc-c22f-48c1-8f95-2b8d1fd93235
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"754a0dcc-c22f-48c1-8f95-2b8d1fd93235","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.39762ms
[...]
