---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-project-list-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"Project for testing list by name"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"2085b87d-7585-4ab6-9346-300f86c035f5","name":"tf-tests-project-list-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:56:34.332365Z","updated_at":"2026-06-08T10:56:34.332365Z","description":"Project for testing list by name","qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 693.214897ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/2085b87d-7585-4ab6-9346-300f86c035f5
        method: GET
      response:
        body: '{"id":"2085b87d-7585-4ab6-9346-300f86c035f5","name":"tf-tests-project-list-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:56:34.332365Z","updated_at":"2026-06-08T10:56:34.332365Z","description":"Project for testing list by name","qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.075995ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - tf-tests-project-list-by-name
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=tf-tests-project-list-by-name&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"total_count":1,"projects":[{"id":"2085b87d-7585-4ab6-9346-300f86c035f5","name":"tf-tests-project-list-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:56:34.332365Z","updated_at":"2026-06-08T10:56:34.332365Z","description":"Project for testing list by name","qualification":{"architecture_type":"unknown_architecture_type"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.619953ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/2085b87d-7585-4ab6-9346-300f86c035f5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"2085b87d-7585-4ab6-9346-300f86c035f5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.693764ms
[...]
