---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"total_count":16,"projects":[{"id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2019-09-30T07:52:49.358300Z","updated_at":"2020-05-03T19:41:17.997124Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"}},{"id":"56423ff7-eb46-408f-b8b5-6eb87d4200ad","name":"tf-test-scaleway-project-4785242219649561198","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-03-20T14:23:22.795657Z","updated_at":"2026-03-20T14:23:22.795657Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"}},{"id":"2cb2eea6-7773-4d63-becb-a742e6364276","name":"tf-test-scaleway-project-5162844164645309894","organization_id":"105bdce1-64c0-48ab-899d-86[...]
