---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:14:21.591594Z","description":"a description","id":"6f4b3d78-118e-4f58-b50b-af932ba490a6","name":"tf_tests_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:14:21.591594Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 544.036416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6f4b3d78-118e-4f58-b50b-af932ba490a6
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:14:21.591594Z","description":"a description","id":"6f4b3d78-118e-4f58-b50b-af932ba490a6","name":"tf_tests_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:14:21.591594Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.082958ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6f4b3d78-118e-4f58-b50b-af932ba490a6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"6f4b3d78-118e-4f58-b50b-af932ba490a6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.223583ms
