---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_project_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"bb98e3f0-0828-4a51-99e6-11f4cef45808\",\"name\":\"tf_tests_project_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T15:13:03.554622Z\",\"updated_at\":\"2025-09-04T15:13:03.554622Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 405.154971ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/bb98e3f0-0828-4a51-99e6-11f4cef45808
    method: GET
  response:
    body: "{\"id\":\"bb98e3f0-0828-4a51-99e6-11f4cef45808\",\"name\":\"tf_tests_project_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T15:13:03.554622Z\",\"updated_at\":\"2025-09-04T15:13:03.554622Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.133567ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/bb98e3f0-0828-4a51-99e6-11f4cef45808
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"bb98e3f0-0828-4a51-99e6-11f4cef45808\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.289865ms
