---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"a description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"6d4543f9-5683-43f3-9240-11de05f3265c\",\"name\":\"tf_tests_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T15:13:03.347395Z\",\"updated_at\":\"2025-09-04T15:13:03.347395Z\",\"description\":\"a description\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 469.360985ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/6d4543f9-5683-43f3-9240-11de05f3265c
    method: GET
  response:
    body: "{\"id\":\"6d4543f9-5683-43f3-9240-11de05f3265c\",\"name\":\"tf_tests_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T15:13:03.347395Z\",\"updated_at\":\"2025-09-04T15:13:03.347395Z\",\"description\":\"a description\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 182.737341ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/6d4543f9-5683-43f3-9240-11de05f3265c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"6d4543f9-5683-43f3-9240-11de05f3265c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.728899ms
