---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"a description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"2a654f58-e576-4b85-9a75-9c9bb25885ca\", \"name\":\"tf_tests_project_basic\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T10:06:39.398305Z\", \"updated_at\":\"2025-11-17T10:06:39.398305Z\", \"description\":\"a description\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 592.656834ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/2a654f58-e576-4b85-9a75-9c9bb25885ca
    method: GET
  response:
    body: "{\"id\":\"2a654f58-e576-4b85-9a75-9c9bb25885ca\", \"name\":\"tf_tests_project_basic\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T10:06:39.398305Z\", \"updated_at\":\"2025-11-17T10:06:39.398305Z\", \"description\":\"a description\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 313.201634ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/2a654f58-e576-4b85-9a75-9c9bb25885ca
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"2a654f58-e576-4b85-9a75-9c9bb25885ca\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 40.241491ms
