---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_project_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:14:21.668650Z","description":"","id":"a65cb25f-416d-4ef8-be1e-ce19bc0ef2d3","name":"tf_tests_project_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:14:21.668650Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 590.661458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a65cb25f-416d-4ef8-be1e-ce19bc0ef2d3
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:14:21.668650Z","description":"","id":"a65cb25f-416d-4ef8-be1e-ce19bc0ef2d3","name":"tf_tests_project_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:14:21.668650Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.909458ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a65cb25f-416d-4ef8-be1e-ce19bc0ef2d3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"a65cb25f-416d-4ef8-be1e-ce19bc0ef2d3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.033333ms
