---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_project_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:39:31.113571Z","description":"a description","id":"d24b6d35-5f11-46be-b3a8-0e97bd08be17","name":"tf_tests_project_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:39:31.113571Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/d24b6d35-5f11-46be-b3a8-0e97bd08be17
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:39:31.113571Z","description":"a description","id":"d24b6d35-5f11-46be-b3a8-0e97bd08be17","name":"tf_tests_project_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:39:31.113571Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/d24b6d35-5f11-46be-b3a8-0e97bd08be17
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"d24b6d35-5f11-46be-b3a8-0e97bd08be17","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
