---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_project_noupdate","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"58d50e94-04f0-4c1c-b12b-1c7e7fc217d6","name":"tf_tests_project_noupdate","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-06-04T09:11:43.986712Z","updated_at":"2026-06-04T09:11:43.986712Z","description":"","qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 842.616584ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/58d50e94-04f0-4c1c-b12b-1c7e7fc217d6
        method: GET
      response:
        body: '{"id":"58d50e94-04f0-4c1c-b12b-1c7e7fc217d6","name":"tf_tests_project_noupdate","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-06-04T09:11:43.986712Z","updated_at":"2026-06-04T09:11:43.986712Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.650292ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/58d50e94-04f0-4c1c-b12b-1c7e7fc217d6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"58d50e94-04f0-4c1c-b12b-1c7e7fc217d6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.03025ms
