---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"81a6b209-2433-4b6c-8d4d-d31a028ac22f","name":"tf_tests_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:47:24.172808Z","updated_at":"2026-06-08T10:47:24.172808Z","description":"a description","qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.439536ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/81a6b209-2433-4b6c-8d4d-d31a028ac22f
        method: GET
      response:
        body: '{"id":"81a6b209-2433-4b6c-8d4d-d31a028ac22f","name":"tf_tests_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-06-08T10:47:24.172808Z","updated_at":"2026-06-08T10:47:24.172808Z","description":"a description","qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.533666ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/81a6b209-2433-4b6c-8d4d-d31a028ac22f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"81a6b209-2433-4b6c-8d4d-d31a028ac22f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.916517ms
