---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_project_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"669fc77e-afdc-4404-bf3c-504346bf39e9\", \"name\":\"tf_tests_project_noupdate\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T10:06:39.463191Z\", \"updated_at\":\"2025-11-17T10:06:39.463191Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 651.492129ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/669fc77e-afdc-4404-bf3c-504346bf39e9
    method: GET
  response:
    body: "{\"id\":\"669fc77e-afdc-4404-bf3c-504346bf39e9\", \"name\":\"tf_tests_project_noupdate\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T10:06:39.463191Z\", \"updated_at\":\"2025-11-17T10:06:39.463191Z\", \"description\":\"\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 276.059204ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/669fc77e-afdc-4404-bf3c-504346bf39e9
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"669fc77e-afdc-4404-bf3c-504346bf39e9\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 39.62823ms
