---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_project_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"a description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"1e0a589c-a703-4329-a759-222478b43c5a","name":"tf_tests_project_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-06-04T09:11:28.799430Z","updated_at":"2026-06-04T09:11:28.799430Z","description":"a description","qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 345.112625ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/1e0a589c-a703-4329-a759-222478b43c5a
        method: GET
      response:
        body: '{"id":"1e0a589c-a703-4329-a759-222478b43c5a","name":"tf_tests_project_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-06-04T09:11:28.799430Z","updated_at":"2026-06-04T09:11:28.799430Z","description":"a description","qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.630666ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/1e0a589c-a703-4329-a759-222478b43c5a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"1e0a589c-a703-4329-a759-222478b43c5a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.082917ms
