dist: trusty
sudo: required
services:
- docker
language: go

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh

script:
- make test
- make vet
- make website-test

branches:
  only:
  - master

matrix:
  fast_finish: true
  allow_failures:
  - go: tip
  include:
  - go: "1.12.x"
    env: GOFLAGS=-mod=vendor GO111MODULE=on
  - go: "1.13.x"
    env: GOFLAGS=-mod=vendor
  - go: "1.14.x"
    env: GOFLAGS=-mod=vendor
  - go: "tip"
    env: GOFLAGS=-mod=vendor
  - go: "1.13.x"
    env: GOFLAGS=-mod=vendor GOARCH=arm
    script:
      - make build
  - go: "1.13.x"
    env: GOFLAGS=-mod=vendor GOARCH=amd64
    script:
      - make build
