---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-interlink-routing-policy-ds","tags":[],"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:13:40.820526Z","id":"edc68dc4-b348-4a6c-8dda-5c4267d84e32","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-24T12:13:40.820526Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.686858ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.099132ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/edc68dc4-b348-4a6c-8dda-5c4267d84e32
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:13:40.820526Z","id":"edc68dc4-b348-4a6c-8dda-5c4267d84e32","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-24T12:13:40.820526Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.614274ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies?name=tf-test-interlink-routing-policy-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"routing_policies":[{"created_at":"2026-08-24T12:13:40.820526Z","id":"edc68dc4-b348-4a6c-8dda-5c4267d84e32","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-24T12:13:40.820526Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.12763ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/edc68dc4-b348-4a6c-8dda-5c4267d84e32
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"routing_policy","resource_id":"edc68dc4-b348-4a6c-8dda-5c4267d84e32","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.475199ms
[...]
