---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=DC2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"29 Rue Edith Cavell","available_link_bandwidths_mbps":[],"city":"Vitry-sur-Seine","display_name":"Paris - OpCore DC2","hosting_provider_name":"OpCore","id":"f2e1cf2f-efec-4798-a959-767310ab30ae","logo_url":"https://app.opcore.com/web/image/website/1/logo/OPCORE","name":"DC2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.208834ms
[...]
