---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?hosting_provider_name=OpCore&order_by=name_asc
        method: GET
      response:
        body: '{"pops":[{"address":"29 Rue Edith Cavell","available_link_bandwidths_mbps":[],"city":"Vitry-sur-Seine","display_name":"Paris - OpCore PAR2","hosting_provider_name":"OpCore","id":"f2e1cf2f-efec-4798-a959-767310ab30ae","logo_url":"https://app.opcore.com/web/image/website/1/logo/OPCORE","name":"OpCore PAR2","region":"fr-par"},{"address":"59 Rue Julian Grimau","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,20000,25000,50000,100000],"city":"Vitry-sur-Seine","display_name":"Paris - OpCore PAR3","hosting_provider_name":"OpCore","id":"c1165d78-bd85-4574-9958-b068a6d191f9","logo_url":"https://app.opcore.com/web/image/website/1/logo/OPCORE","name":"OpCore PAR3","region":"fr-par"},{"address":"27 Avenue de l Eguillette","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,20000,50000,100000],"city":"Saint-Ouen-l-Aumône","display_name":"Paris - OpCore PAR5","hosting_provider_name":"OpCore","id":"6c72a01d-6489-414c-aae6-863740b061c2","logo_url":"https://app.opcore.com/web/image/website/1/logo/OPCORE","name":"OpCore PAR5","region":"fr-par"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.278604ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.711826ms
[...]
