---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-interlink-routing-policy-ds","tags":[],"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-08-26T11:59:26.531044Z","id":"83af3ddc-00b6-4221-87ec-ba1a1b790dd7","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-26T11:59:26.531044Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.408978ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.755325ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/83af3ddc-00b6-4221-87ec-ba1a1b790dd7
        method: GET
      response:
        body: '{"created_at":"2026-08-26T11:59:26.531044Z","id":"83af3ddc-00b6-4221-87ec-ba1a1b790dd7","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-26T11:59:26.531044Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.449976ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies?name=tf-test-interlink-routing-policy-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"routing_policies":[{"created_at":"2026-08-26T11:59:26.531044Z","id":"83af3ddc-00b6-4221-87ec-ba1a1b790dd7","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-26T11:59:26.531044Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 553.563495ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/83af3ddc-00b6-4221-87ec-ba1a1b790dd7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"routing_policy","resource_id":"83af3ddc-00b6-4221-87ec-ba1a1b790dd7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.10535ms
[...]
