---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/partners?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"partners":[{"contact_email":"l2-support@franceix.net","created_at":"2025-04-08T16:09:15.661184Z","id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5","logo_url":"https://www.franceix.net/static/django_franceix/images/navbar-logo.svg","name":"FranceIX","portal_url":"https://www.franceix.net/en/services/cloud/cloud-access/","updated_at":"2025-06-26T09:14:51.368612Z"},{"contact_email":"engineering@freepro.com","created_at":"2024-09-25T06:44:33.475845Z","id":"930ebb71-7fb2-4ea7-a8d1-7f4cc3177c05","logo_url":"https://pro.free.fr/assets/img/brand/free-pro.svg","name":"FreePro","portal_url":"https://pro.free.fr/espace-client/connexion/#/","updated_at":"2024-11-28T08:45:33.852946Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.888875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=Telehouse+TH2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"137 Boulevard Voltaire","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,25000],"city":"Paris","display_name":"Paris - TeleHouse TH2","hosting_provider_name":"TeleHouse","id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","logo_url":"https://www.telehouse.fr/wp-content/uploads/2020/03/telehouse-vector-white-logo.svg","name":"- Telehouse TH2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.15525ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-interlink-link-ds","tags":[],"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","bandwidth_mbps":50,"partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-15T14:54:50.645839Z","enable_route_propagation":false,"id":"9d547df7-29cd-41a8-9666-501cb4dfe793","name":"tf-test-interlink-link-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"ec9aaab0-1761-4121-8625-4862235ff7b8","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.95/31","ipv6":"2001:1bc8:3812:fc60:fb98:99e8:1a74:6d01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.94/31","ipv6":"2001:1bc8:3812:fc60:fb98:99e8:1a74:6d00/127"},"status":"requested","tags":[],"updated_at":"2026-04-15T14:54:50.645839Z","vlan":2063}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 453.561209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/9d547df7-29cd-41a8-9666-501cb4dfe793
        method: GET
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-15T14:54:50.645839Z","enable_route_propagation":false,"id":"9d547df7-29cd-41a8-9666-501cb4dfe793","name":"tf-test-interlink-link-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"ec9aaab0-1761-4121-8625-4862235ff7b8","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.95/31","ipv6":"2001:1bc8:3812:fc60:fb98:99e8:1a74:6d01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.94/31","ipv6":"2001:1bc8:3812:fc60:fb98:99e8:1a74:6d00/127"},"status":"requested","tags":[],"updated_at":"2026-04-15T14:54:50.645839Z","vlan":2063}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.696833ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links?bgp_v4_status=unknown_bgp_status&bgp_v6_status=unknown_bgp_status&name=tf-test-interlink-link-ds&order_by=created_at_asc&status=unknown_link_status
        method: GET
      response:
        body: '{"links":[{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-15T14:54:50.645839Z","enable_route_propagation":false,"id":"9d547df7-29cd-41a8-9666-501cb4dfe793","name":"tf-test-interlink-link-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"ec9aaab0-1761-4121-8625-4862235ff7b8","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.95/31","ipv6":"2001:1bc8:3812:fc60:fb98:99e8:1a74:6d01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.94/31","ipv6":"2001:1bc8:3812:fc60:fb98:99e8:1a74:6d00/127"},"status":"requested","tags":[],"updated_at":"2026-04-15T14:54:50.645839Z","vlan":2063}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.865125ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/9d547df7-29cd-41a8-9666-501cb4dfe793
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"link","resource_id":"9d547df7-29cd-41a8-9666-501cb4dfe793","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.635625ms
[...]
