---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/partners?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"partners":[{"contact_email":"l2-support@franceix.net","created_at":"2025-04-08T16:09:15.661184Z","id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5","l3_connectivity":true,"logo_url":"https://www.franceix.net/static/django_franceix/images/navbar-logo.svg","name":"FranceIX","portal_url":"https://www.franceix.net/en/services/cloud/cloud-access/","region":"","updated_at":"2025-06-26T09:14:51.368612Z"},{"contact_email":"engineering@freepro.com","created_at":"2024-09-25T06:44:33.475845Z","id":"930ebb71-7fb2-4ea7-a8d1-7f4cc3177c05","l3_connectivity":true,"logo_url":"https://pro.free.fr/assets/img/brand/free-pro.svg","name":"FreePro","portal_url":"https://pro.free.fr/espace-client/connexion/#/","region":"","updated_at":"2024-11-28T08:45:33.852946Z"},{"contact_email":"contact.experience-client@linkt.fr","created_at":"2026-04-21T14:31:08.285733Z","id":"4e0dcaaf-467c-432c-ad93-f28be5878df0","l3_connectivity":true,"logo_url":"https://www.linkt.fr/wp-content/themes/linkt/assets/img/svg/logo-linkt-sticky.svg","name":"Linkt","portal_url":"https://www.linkt.fr/","region":"","updated_at":"2026-07-07T11:57:51.706396Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.684493ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=TeleHouse+TH2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"137 Boulevard Voltaire","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,25000],"city":"Paris","display_name":"Paris - TeleHouse TH2","hosting_provider_name":"TeleHouse","id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","logo_url":"https://www.telehouse.fr/wp-content/uploads/2020/03/telehouse-vector-white-logo.svg","name":"TeleHouse TH2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.597659ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.579868ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-interlink-link-ds","tags":[],"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","bandwidth_mbps":50,"partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-26T11:59:11.112704Z","enable_route_propagation":false,"id":"aeb3f449-7ca0-45c4-a6aa-a22cbe335fc8","name":"tf-test-interlink-link-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"6d986fae-d1ce-4150-8859-87bfe994821a","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.37/31","ipv6":"2001:1bc8:3812:fc60:b6e:c2a9:2046:4101/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.36/31","ipv6":"2001:1bc8:3812:fc60:b6e:c2a9:2046:4100/127"},"status":"requested","tags":[],"updated_at":"2026-08-26T11:59:11.112704Z","vlan":1981}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.980431ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/aeb3f449-7ca0-45c4-a6aa-a22cbe335fc8
        method: GET
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-26T11:59:11.112704Z","enable_route_propagation":false,"id":"aeb3f449-7ca0-45c4-a6aa-a22cbe335fc8","name":"tf-test-interlink-link-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"6d986fae-d1ce-4150-8859-87bfe994821a","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.37/31","ipv6":"2001:1bc8:3812:fc60:b6e:c2a9:2046:4101/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.36/31","ipv6":"2001:1bc8:3812:fc60:b6e:c2a9:2046:4100/127"},"status":"requested","tags":[],"updated_at":"2026-08-26T11:59:11.112704Z","vlan":1981}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.877415ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links?bgp_v4_status=unknown_bgp_status&bgp_v6_status=unknown_bgp_status&name=tf-test-interlink-link-ds&order_by=created_at_asc&status=unknown_link_status
        method: GET
      response:
        body: '{"links":[{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-26T11:59:11.112704Z","enable_route_propagation":false,"id":"aeb3f449-7ca0-45c4-a6aa-a22cbe335fc8","name":"tf-test-interlink-link-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"6d986fae-d1ce-4150-8859-87bfe994821a","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.37/31","ipv6":"2001:1bc8:3812:fc60:b6e:c2a9:2046:4101/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.36/31","ipv6":"2001:1bc8:3812:fc60:b6e:c2a9:2046:4100/127"},"status":"requested","tags":[],"updated_at":"2026-08-26T11:59:11.112704Z","vlan":1981}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.211406ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/aeb3f449-7ca0-45c4-a6aa-a22cbe335fc8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"link","resource_id":"aeb3f449-7ca0-45c4-a6aa-a22cbe335fc8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.950746ms
[...]
