---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=TeleHouse+TH2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"137 Boulevard Voltaire","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,25000],"city":"Paris","display_name":"Paris - TeleHouse TH2","hosting_provider_name":"TeleHouse","id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","logo_url":"https://www.telehouse.fr/wp-content/uploads/2020/03/telehouse-vector-white-logo.svg","name":"TeleHouse TH2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.588519ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.995542ms
[...]
