---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-interlink-routing-policy-ds","tags":[],"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-04-13T05:59:45.226294Z","id":"76248157-5d63-4586-81a6-def157dc1c3a","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-04-13T05:59:45.226294Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.418916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/76248157-5d63-4586-81a6-def157dc1c3a
        method: GET
      response:
        body: '{"created_at":"2026-04-13T05:59:45.226294Z","id":"76248157-5d63-4586-81a6-def157dc1c3a","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-04-13T05:59:45.226294Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.565375ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies?name=tf-test-interlink-routing-policy-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"routing_policies":[{"created_at":"2026-04-13T05:59:45.226294Z","id":"76248157-5d63-4586-81a6-def157dc1c3a","is_ipv6":false,"name":"tf-test-interlink-routing-policy-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-04-13T05:59:45.226294Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.051667ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/76248157-5d63-4586-81a6-def157dc1c3a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"routing_policy","resource_id":"76248157-5d63-4586-81a6-def157dc1c3a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.085292ms
[...]
