---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/partners?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"partners":[{"contact_email":"l2-support@franceix.net","created_at":"2025-04-08T16:09:15.661184Z","id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5","l3_connectivity":true,"logo_url":"https://www.franceix.net/static/django_franceix/images/navbar-logo.svg","name":"FranceIX","portal_url":"https://www.franceix.net/en/services/cloud/cloud-access/","region":"","updated_at":"2025-06-26T09:14:51.368612Z"},{"contact_email":"engineering@freepro.com","created_at":"2024-09-25T06:44:33.475845Z","id":"930ebb71-7fb2-4ea7-a8d1-7f4cc3177c05","l3_connectivity":true,"logo_url":"https://pro.free.fr/assets/img/brand/free-pro.svg","name":"FreePro","portal_url":"https://pro.free.fr/espace-client/connexion/#/","region":"","updated_at":"2024-11-28T08:45:33.852946Z"},{"contact_email":"contact.experience-client@linkt.fr","created_at":"2026-04-21T14:31:08.285733Z","id":"4e0dcaaf-467c-432c-ad93-f28be5878df0","l3_connectivity":true,"logo_url":"https://www.linkt.fr/wp-content/themes/linkt/assets/img/svg/logo-linkt-sticky.svg","name":"Linkt","portal_url":"https://www.linkt.fr/","region":"","updated_at":"2026-07-07T11:57:51.706396Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.235855ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=TeleHouse+TH2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"137 Boulevard Voltaire","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,25000],"city":"Paris","display_name":"Paris - TeleHouse TH2","hosting_provider_name":"TeleHouse","id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","logo_url":"https://www.telehouse.fr/wp-content/uploads/2020/03/telehouse-vector-white-logo.svg","name":"TeleHouse TH2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.449248ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.97412ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-interlink-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:13:39.264620Z","custom_routes_propagation_enabled":true,"id":"bec51601-1539-47e9-8d67-7ef3959cb5e2","is_default":false,"name":"tf-test-interlink-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T12:13:39.264620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.674493ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bec51601-1539-47e9-8d67-7ef3959cb5e2
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:13:39.264620Z","custom_routes_propagation_enabled":true,"id":"bec51601-1539-47e9-8d67-7ef3959cb5e2","is_default":false,"name":"tf-test-interlink-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T12:13:39.264620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.033388ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-interlink-link-vpc","tags":[],"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","bandwidth_mbps":50,"partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-24T12:13:39.478178Z","enable_route_propagation":false,"id":"5911eca8-0067-47b7-a482-33d5a3f50943","name":"tf-test-interlink-link-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"efc7d57b-f59c-4709-b4c1-9c5a42123877","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad00/127"},"status":"requested","tags":[],"updated_at":"2026-08-24T12:13:39.478178Z","vlan":2575}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.050218ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/5911eca8-0067-47b7-a482-33d5a3f50943
        method: GET
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-24T12:13:39.478178Z","enable_route_propagation":false,"id":"5911eca8-0067-47b7-a482-33d5a3f50943","name":"tf-test-interlink-link-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"efc7d57b-f59c-4709-b4c1-9c5a42123877","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad00/127"},"status":"requested","tags":[],"updated_at":"2026-08-24T12:13:39.478178Z","vlan":2575}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.748648ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"bec51601-1539-47e9-8d67-7ef3959cb5e2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/5911eca8-0067-47b7-a482-33d5a3f50943/attach-vpc
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-24T12:13:39.478178Z","enable_route_propagation":false,"id":"5911eca8-0067-47b7-a482-33d5a3f50943","name":"tf-test-interlink-link-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"efc7d57b-f59c-4709-b4c1-9c5a42123877","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad00/127"},"status":"requested","tags":[],"updated_at":"2026-08-24T12:13:39.734401Z","vlan":2575,"vpc_id":"bec51601-1539-47e9-8d67-7ef3959cb5e2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.491572ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/5911eca8-0067-47b7-a482-33d5a3f50943/detach-vpc
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-24T12:13:39.478178Z","enable_route_propagation":false,"id":"5911eca8-0067-47b7-a482-33d5a3f50943","name":"tf-test-interlink-link-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"efc7d57b-f59c-4709-b4c1-9c5a42123877","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:c8cd:e863:1c58:ad00/127"},"status":"requested","tags":[],"updated_at":"2026-08-24T12:13:41.823075Z","vlan":2575}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.223175ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/5911eca8-0067-47b7-a482-33d5a3f50943
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"link","resource_id":"5911eca8-0067-47b7-a482-33d5a3f50943","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.166537ms
[...]
