---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/partners?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"partners":[{"contact_email":"l2-support@franceix.net","created_at":"2025-04-08T16:09:15.661184Z","id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5","l3_connectivity":true,"logo_url":"https://www.franceix.net/static/django_franceix/images/navbar-logo.svg","name":"FranceIX","portal_url":"https://www.franceix.net/en/services/cloud/cloud-access/","region":"","updated_at":"2025-06-26T09:14:51.368612Z"},{"contact_email":"engineering@freepro.com","created_at":"2024-09-25T06:44:33.475845Z","id":"930ebb71-7fb2-4ea7-a8d1-7f4cc3177c05","l3_connectivity":true,"logo_url":"https://pro.free.fr/assets/img/brand/free-pro.svg","name":"FreePro","portal_url":"https://pro.free.fr/espace-client/connexion/#/","region":"","updated_at":"2024-11-28T08:45:33.852946Z"},{"contact_email":"contact.experience-client@linkt.fr","created_at":"2026-04-21T14:31:08.285733Z","id":"4e0dcaaf-467c-432c-ad93-f28be5878df0","l3_connectivity":true,"logo_url":"https://www.linkt.fr/wp-content/themes/linkt/assets/img/svg/logo-linkt-sticky.svg","name":"Linkt","portal_url":"https://www.linkt.fr/","region":"","updated_at":"2026-07-07T11:57:51.706396Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.20623ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=TeleHouse+TH2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"137 Boulevard Voltaire","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,25000],"city":"Paris","display_name":"Paris - TeleHouse TH2","hosting_provider_name":"TeleHouse","id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","logo_url":"https://www.telehouse.fr/wp-content/uploads/2020/03/telehouse-vector-white-logo.svg","name":"TeleHouse TH2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.651042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.827857ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-interlink-link","tags":["tag1"],"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","bandwidth_mbps":50,"partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-24T12:13:39.343789Z","enable_route_propagation":false,"id":"bc0c63e7-1ce0-4e5c-9a2a-1988db4ff0de","name":"tf-test-interlink-link","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"f4490f6a-6855-40b9-b951-2a8b12d9a614","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.17/31","ipv6":"2001:1bc8:3812:fc60:4442:8556:623:6d01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.16/31","ipv6":"2001:1bc8:3812:fc60:4442:8556:623:6d00/127"},"status":"requested","tags":["tag1"],"updated_at":"2026-08-24T12:13:39.343789Z","vlan":1842}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.446301ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/bc0c63e7-1ce0-4e5c-9a2a-1988db4ff0de
        method: GET
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-08-24T12:13:39.343789Z","enable_route_propagation":false,"id":"bc0c63e7-1ce0-4e5c-9a2a-1988db4ff0de","name":"tf-test-interlink-link","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","partner":{"disapproved_reason":"","l3_connectivity":true,"pairing_key":"f4490f6a-6855-40b9-b951-2a8b12d9a614","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.17/31","ipv6":"2001:1bc8:3812:fc60:4442:8556:623:6d01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.16/31","ipv6":"2001:1bc8:3812:fc60:4442:8556:623:6d00/127"},"status":"requested","tags":["tag1"],"updated_at":"2026-08-24T12:13:39.343789Z","vlan":1842}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.705418ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/bc0c63e7-1ce0-4e5c-9a2a-1988db4ff0de
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"link","resource_id":"bc0c63e7-1ce0-4e5c-9a2a-1988db4ff0de","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.046825ms
[...]
