---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/partners?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"partners":[{"contact_email":"l2-support@franceix.net","created_at":"2025-04-08T16:09:15.661184Z","id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5","logo_url":"https://www.franceix.net/static/django_franceix/images/navbar-logo.svg","name":"FranceIX","portal_url":"https://www.franceix.net/en/services/cloud/cloud-access/","updated_at":"2025-06-26T09:14:51.368612Z"},{"contact_email":"engineering@freepro.com","created_at":"2024-09-25T06:44:33.475845Z","id":"930ebb71-7fb2-4ea7-a8d1-7f4cc3177c05","logo_url":"https://pro.free.fr/assets/img/brand/free-pro.svg","name":"FreePro","portal_url":"https://pro.free.fr/espace-client/connexion/#/","updated_at":"2024-11-28T08:45:33.852946Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.313542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=Telehouse+TH2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"137 Boulevard Voltaire","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,25000],"city":"Paris","display_name":"Paris - TeleHouse TH2","hosting_provider_name":"TeleHouse","id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","logo_url":"https://www.telehouse.fr/wp-content/uploads/2020/03/telehouse-vector-white-logo.svg","name":"- Telehouse TH2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.3395ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-interlink-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-19T20:29:51.212999Z","custom_routes_propagation_enabled":true,"id":"b189d7ca-53d8-4f3a-967c-25f90b09d22f","is_default":false,"name":"tf-test-interlink-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-19T20:29:51.212999Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.360583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b189d7ca-53d8-4f3a-967c-25f90b09d22f
        method: GET
      response:
        body: '{"created_at":"2026-04-19T20:29:51.212999Z","custom_routes_propagation_enabled":true,"id":"b189d7ca-53d8-4f3a-967c-25f90b09d22f","is_default":false,"name":"tf-test-interlink-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-19T20:29:51.212999Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.959458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-interlink-link-vpc","tags":[],"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","bandwidth_mbps":50,"partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-19T20:29:51.721706Z","enable_route_propagation":false,"id":"0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8","name":"tf-test-interlink-link-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"222461a1-5b81-4ef4-86ba-e7612cc30e6b","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5301/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5300/127"},"status":"requested","tags":[],"updated_at":"2026-04-19T20:29:51.721706Z","vlan":1991}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 432.328125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8
        method: GET
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-19T20:29:51.721706Z","enable_route_propagation":false,"id":"0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8","name":"tf-test-interlink-link-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"222461a1-5b81-4ef4-86ba-e7612cc30e6b","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5301/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5300/127"},"status":"requested","tags":[],"updated_at":"2026-04-19T20:29:51.721706Z","vlan":1991}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.05775ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"b189d7ca-53d8-4f3a-967c-25f90b09d22f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8/attach-vpc
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-19T20:29:51.721706Z","enable_route_propagation":false,"id":"0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8","name":"tf-test-interlink-link-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"222461a1-5b81-4ef4-86ba-e7612cc30e6b","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5301/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5300/127"},"status":"requested","tags":[],"updated_at":"2026-04-19T20:29:52.040637Z","vlan":1991,"vpc_id":"b189d7ca-53d8-4f3a-967c-25f90b09d22f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.902167ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8/detach-vpc
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-19T20:29:51.721706Z","enable_route_propagation":false,"id":"0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8","name":"tf-test-interlink-link-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"222461a1-5b81-4ef4-86ba-e7612cc30e6b","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.99/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5301/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.98/31","ipv6":"2001:1bc8:3812:fc60:56de:818e:4e3f:5300/127"},"status":"requested","tags":[],"updated_at":"2026-04-19T20:29:53.858108Z","vlan":1991}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.907834ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"link","resource_id":"0bb8f7cf-88a6-43ff-ac07-ac0a705da1a8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.971834ms
[...]
