---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-interlink-routing-policy","tags":["tf_tests"],"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-04-13T12:29:58.857390Z","id":"837bcaf6-0c7e-4ce5-8cdf-6a1216124db4","is_ipv6":false,"name":"tf-test-interlink-routing-policy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["tf_tests"],"updated_at":"2026-04-13T12:29:58.857390Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.124458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/837bcaf6-0c7e-4ce5-8cdf-6a1216124db4
        method: GET
      response:
        body: '{"created_at":"2026-04-13T12:29:58.857390Z","id":"837bcaf6-0c7e-4ce5-8cdf-6a1216124db4","is_ipv6":false,"name":"tf-test-interlink-routing-policy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["tf_tests"],"updated_at":"2026-04-13T12:29:58.857390Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.388042ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/837bcaf6-0c7e-4ce5-8cdf-6a1216124db4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"routing_policy","resource_id":"837bcaf6-0c7e-4ce5-8cdf-6a1216124db4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.742917ms
