---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/partners?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"partners":[{"contact_email":"l2-support@franceix.net","created_at":"2025-04-08T16:09:15.661184Z","id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5","logo_url":"https://www.franceix.net/static/django_franceix/images/navbar-logo.svg","name":"FranceIX","portal_url":"https://www.franceix.net/en/services/cloud/cloud-access/","updated_at":"2025-06-26T09:14:51.368612Z"},{"contact_email":"engineering@freepro.com","created_at":"2024-09-25T06:44:33.475845Z","id":"930ebb71-7fb2-4ea7-a8d1-7f4cc3177c05","logo_url":"https://pro.free.fr/assets/img/brand/free-pro.svg","name":"FreePro","portal_url":"https://pro.free.fr/espace-client/connexion/#/","updated_at":"2024-11-28T08:45:33.852946Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.165083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/pops?name=Telehouse+TH2&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"pops":[{"address":"137 Boulevard Voltaire","available_link_bandwidths_mbps":[50,100,200,500,1000,2000,5000,10000,25000],"city":"Paris","display_name":"Paris - TeleHouse TH2","hosting_provider_name":"TeleHouse","id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","logo_url":"https://www.telehouse.fr/wp-content/uploads/2020/03/telehouse-vector-white-logo.svg","name":"- Telehouse TH2","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.292708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-interlink-link-rp","tags":[],"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","bandwidth_mbps":50,"partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-20T09:10:46.809177Z","enable_route_propagation":false,"id":"49c5af40-8332-4757-ab8e-314176d25ddb","name":"tf-test-interlink-link-rp","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"cc4808c4-dedd-4f75-a8e3-7a6e95d47a07","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.101/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.100/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc00/127"},"status":"requested","tags":[],"updated_at":"2026-04-20T09:10:46.809177Z","vlan":2386}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 442.743209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/49c5af40-8332-4757-ab8e-314176d25ddb
        method: GET
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-20T09:10:46.809177Z","enable_route_propagation":false,"id":"49c5af40-8332-4757-ab8e-314176d25ddb","name":"tf-test-interlink-link-rp","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"cc4808c4-dedd-4f75-a8e3-7a6e95d47a07","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.101/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.100/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc00/127"},"status":"requested","tags":[],"updated_at":"2026-04-20T09:10:46.809177Z","vlan":2386}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.098458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/49c5af40-8332-4757-ab8e-314176d25ddb/enable-route-propagation
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-20T09:10:46.809177Z","enable_route_propagation":true,"id":"49c5af40-8332-4757-ab8e-314176d25ddb","name":"tf-test-interlink-link-rp","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"cc4808c4-dedd-4f75-a8e3-7a6e95d47a07","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.101/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.100/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc00/127"},"status":"requested","tags":[],"updated_at":"2026-04-20T09:10:47.002966Z","vlan":2386}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.296083ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/49c5af40-8332-4757-ab8e-314176d25ddb/disable-route-propagation
        method: POST
      response:
        body: '{"bandwidth_mbps":50,"bgp_v4_status":"disabled","bgp_v6_status":"disabled","created_at":"2026-04-20T09:10:46.809177Z","enable_route_propagation":false,"id":"49c5af40-8332-4757-ab8e-314176d25ddb","name":"tf-test-interlink-link-rp","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","partner":{"disapproved_reason":"","pairing_key":"cc4808c4-dedd-4f75-a8e3-7a6e95d47a07","partner_id":"89d00734-eddb-4192-8b16-bc16f0b0f5a5"},"peer_bgp_config":{"asn":39801,"ipv4":"169.254.0.101/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc01/127"},"pop_id":"fd046cc9-d9bf-4a87-9c32-d299fe4bf4d7","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","scw_bgp_config":{"asn":12876,"ipv4":"169.254.0.100/31","ipv6":"2001:1bc8:3812:fc60:6d65:b2db:53c3:cc00/127"},"status":"requested","tags":[],"updated_at":"2026-04-20T09:10:48.069799Z","vlan":2386}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.304459ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/links/49c5af40-8332-4757-ab8e-314176d25ddb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"link","resource_id":"49c5af40-8332-4757-ab8e-314176d25ddb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.212042ms
[...]
