---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-interlink-routing-policy","tags":["tf_tests"],"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:58:26.006809Z","id":"8216a252-93ff-4405-b7b6-427b59b040f9","is_ipv6":false,"name":"tf-test-interlink-routing-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":["tf_tests"],"updated_at":"2026-08-24T12:58:26.006809Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.023317ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.944672ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/8216a252-93ff-4405-b7b6-427b59b040f9
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:58:26.006809Z","id":"8216a252-93ff-4405-b7b6-427b59b040f9","is_ipv6":false,"name":"tf-test-interlink-routing-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":["tf_tests"],"updated_at":"2026-08-24T12:58:26.006809Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.245723ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/interlink/v1beta1/regions/fr-par/routing-policies/8216a252-93ff-4405-b7b6-427b59b040f9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"routing_policy","resource_id":"8216a252-93ff-4405-b7b6-427b59b040f9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.427351ms
