{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ListResourceTemplateType */ -}}
---
page_title: "Scaleway: {{ .Name }}"
subcategory: "File"
description: |-
  Lists Scaleway File File Systems across regions and projects.
---

# Resource: {{ .Name }}

{{ .Description }}

For more information, see [the main documentation][1].

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}

{{ end -}}

## Argument Reference

The following arguments can be specified in the `config` block:

- `name` - (Optional) Name of the snapshot to filter on.
- `tags` - (Optional) Tags to filter on.
- `organization_id` - (Optional) Organization ID to filter on.
- `project_ids` - (Optional) Project IDs to filter on. Use `["*"]` to list
across all projects.
- `filesystem_ids` - (Optional) Filesystem IDs to filter on.
- `regions` - (Optional) Regions to filter for. for now, only `fr-par` is
supported.

~> **Important:** Filesystems are only available on the `fr-par` region. You
must specify `["fr-par"]` in the `regions` field for the list to work.

## Attributes Reference

Each result corresponds to one file system and exposes the same attributes as
the [`scaleway_file_filesystem` resource](../resources/file_filesystem.md).

[1]: https://www.scaleway.com/en/docs/file-storage/concepts/
