---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-action-snapshot","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-12-04T14:05:36.789124Z","endpoints":[{"dns_record":"2b00d5f3-32cc-4373-9e19-d823493d7574.mgdb.fr-par.scw.cloud","id":"e6b73c7c-56a4-470d-b73e-62b492e22cf6","port":27017,"public_network":{}}],"id":"2b00d5f3-32cc-4373-9e19-d823493d7574","name":"test-mongodb-action-snapshot","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-12-04T14:05:37.249145Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.770667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2b00d5f3-32cc-4373-9e19-d823493d7574
        method: GET
      response:
        body: '{"created_at":"2025-12-04T14:05:36.789124Z","endpoints":[{"dns_record":"2b00d5f3-32cc-4373-9e19-d823493d7574.mgdb.fr-par.scw.cloud","id":"e6b73c7c-56a4-470d-b73e-62b492e22cf6","port":27017,"public_network":{}}],"id":"2b00d5f3-32cc-4373-9e19-d823493d7574","name":"test-mongodb-action-snapshot","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-12-04T14:05:37.249145Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.707083ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2b00d5f3-32cc-4373-9e19-d823493d7574/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUxTRHVoZjFsZkI0M2NzK1htSmFsREV3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnTW1Jd01HUTFaak10TXpKall5MDBNemN6TFRsbE1Ua3RaRGd5Ck16UTVNMlEzTlRjME1CNFhEVEkxTVRJd05ERTBNRFV6TjFvWERUTTFNVEl3TWpFME1EVXpOMW93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBeVlqQXdaRFZtTXkwek1tTmpMVFF6TnpNdE9XVXhPUzFrCk9ESXpORGt6WkRjMU56UXdLakFGQmdNclpYQURJUUFmZm9WdG9HdGs4Qy9VQnVzZmhjR2s3d0FJQ1VJcVoxYi8KTFFDNkwzTDhWYU5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlIwalFncTVNc1lSQzAvCnJPVmNNeHA1dGladmVqQUZCZ01yWlhBRFFRQlRDK0VJME0rR2gyai9uTE0weUhOSTZ4UE93Z0VpQVRzTU1XQlgKa29XVE9NLzJkREo5emhNUlQvQUdXUUVIRXhSTjk2bkJXUm4xQXVLVXZvd3hFY1lGCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.310084ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"instance_id":"2b00d5f3-32cc-4373-9e19-d823493d7574","name":"tf-acc-mongodb-instance-snapshot-action","expires_at":"2026-11-01T00:00:00Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-12-04T14:10:12.069846Z","expires_at":"2026-11-01T00:00:00Z","id":"2b570138-1139-4d6b-9ebf-a8e4bed1d58e","instance_id":"2b00d5f3-32cc-4373-9e19-d823493d7574","instance_name":"test-mongodb-action-snapshot","name":"tf-acc-mongodb-instance-snapshot-action","node_type":"mgdb-play2-nano","region":"fr-par","size_bytes":0,"status":"creating","updated_at":"2025-12-04T14:10:12.069846Z","volume_type":"sbs_5k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.793625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots/2b570138-1139-4d6b-9ebf-a8e4bed1d58e
        method: GET
      response:
        body: '{"created_at":"2025-12-04T14:10:12.069846Z","expires_at":"2026-11-01T00:00:00Z","id":"2b570138-1139-4d6b-9ebf-a8e4bed1d58e","instance_id":"2b00d5f3-32cc-4373-9e19-d823493d7574","instance_name":"test-mongodb-action-snapshot","name":"tf-acc-mongodb-instance-snapshot-action","node_type":"mgdb-play2-nano","region":"fr-par","size_bytes":0,"status":"creating","updated_at":"2025-12-04T14:10:12.069846Z","volume_type":"sbs_5k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.463542ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots?instance_id=2b00d5f3-32cc-4373-9e19-d823493d7574&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2025-12-04T14:10:12.069846Z","expires_at":"2026-11-01T00:00:00Z","id":"2b570138-1139-4d6b-9ebf-a8e4bed1d58e","instance_id":"2b00d5f3-32cc-4373-9e19-d823493d7574","instance_name":"test-mongodb-action-snapshot","name":"tf-acc-mongodb-instance-snapshot-action","node_type":"mgdb-play2-nano","region":"fr-par","size_bytes":5000000000,"status":"ready","updated_at":"2025-12-04T14:10:12.863314Z","volume_type":"sbs_5k"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.565958ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2b00d5f3-32cc-4373-9e19-d823493d7574
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"2b00d5f3-32cc-4373-9e19-d823493d7574","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.439125ms
