---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-mongodb-instance-by-name","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-05-23T09:05:59.235574Z","endpoints":[{"dns_records":["512a16ee-99df-4ce5-927e-7d6d1d8bbf4b.mgdb.fr-par.scw.cloud"],"id":"253a6b2d-f66b-409c-b96b-25a246cdd199","ips":[],"port":27017,"public":{}}],"id":"512a16ee-99df-4ce5-927e-7d6d1d8bbf4b","name":"test-mongodb-instance-by-name","node_number":1,"node_type":"mgdb-play2-nano","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 878.391666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/512a16ee-99df-4ce5-927e-7d6d1d8bbf4b
        method: GET
      response:
        body: '{"created_at":"2025-05-23T09:05:59.235574Z","endpoints":[{"dns_records":["512a16ee-99df-4ce5-927e-7d6d1d8bbf4b.mgdb.fr-par.scw.cloud"],"id":"253a6b2d-f66b-409c-b96b-25a246cdd199","ips":[],"port":27017,"public":{}}],"id":"512a16ee-99df-4ce5-927e-7d6d1d8bbf4b","name":"test-mongodb-instance-by-name","node_number":1,"node_type":"mgdb-play2-nano","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.597291ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances?name=test-mongodb-instance-by-name&order_by=created_at_asc
        method: GET
      response:
        body: '{"instances":[{"created_at":"2025-05-23T09:05:59.235574Z","endpoints":[{"dns_records":["512a16ee-99df-4ce5-927e-7d6d1d8bbf4b.mgdb.fr-par.scw.cloud"],"id":"253a6b2d-f66b-409c-b96b-25a246cdd199","ips":[],"port":27017,"public":{}}],"id":"512a16ee-99df-4ce5-927e-7d6d1d8bbf4b","name":"test-mongodb-instance-by-name","node_number":1,"node_type":"mgdb-play2-nano","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","settings":[],"status":"ready","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.081375ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/512a16ee-99df-4ce5-927e-7d6d1d8bbf4b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"512a16ee-99df-4ce5-927e-7d6d1d8bbf4b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.577833ms
[...]
