---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-mongodb-instance-id","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-05-23T09:19:07.920286Z","endpoints":[{"dns_records":["3671cc73-d656-4912-9ee6-3601241ce7c3.mgdb.fr-par.scw.cloud"],"id":"5c70a992-60dd-465f-a9fc-950d51ffbf09","ips":[],"port":27017,"public":{}}],"id":"3671cc73-d656-4912-9ee6-3601241ce7c3","name":"test-mongodb-instance-id","node_number":1,"node_type":"mgdb-play2-nano","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.011296042s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/3671cc73-d656-4912-9ee6-3601241ce7c3
        method: GET
      response:
        body: '{"created_at":"2025-05-23T09:19:07.920286Z","endpoints":[{"dns_records":["3671cc73-d656-4912-9ee6-3601241ce7c3.mgdb.fr-par.scw.cloud"],"id":"5c70a992-60dd-465f-a9fc-950d51ffbf09","ips":[],"port":27017,"public":{}}],"id":"3671cc73-d656-4912-9ee6-3601241ce7c3","name":"test-mongodb-instance-id","node_number":1,"node_type":"mgdb-play2-nano","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.506458ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/3671cc73-d656-4912-9ee6-3601241ce7c3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"3671cc73-d656-4912-9ee6-3601241ce7c3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.833041ms
[...]
