---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance-by-name","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-15T14:38:03.594276Z","endpoints":[{"dns_records":["f5af4cfc-7e8d-44a1-b536-83ce1d27137b.mgdb.fr-par.scw.cloud"],"id":"db37ddfe-b01b-426c-871f-71ed5a01f851","ips":[],"port":27017,"public":{}}],"id":"f5af4cfc-7e8d-44a1-b536-83ce1d27137b","name":"test-mongodb-instance-by-name","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 663.576453ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/f5af4cfc-7e8d-44a1-b536-83ce1d27137b
        method: GET
      response:
        body: '{"created_at":"2024-10-15T14:38:03.594276Z","endpoints":[{"dns_records":["f5af4cfc-7e8d-44a1-b536-83ce1d27137b.mgdb.fr-par.scw.cloud"],"id":"db37ddfe-b01b-426c-871f-71ed5a01f851","ips":[],"port":27017,"public":{}}],"id":"f5af4cfc-7e8d-44a1-b536-83ce1d27137b","name":"test-mongodb-instance-by-name","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.153686ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances?name=test-mongodb-instance-by-name&order_by=created_at_asc
        method: GET
      response:
        body: '{"instances":[{"created_at":"2024-10-15T14:38:03.594276Z","endpoints":[{"dns_records":["f5af4cfc-7e8d-44a1-b536-83ce1d27137b.mgdb.fr-par.scw.cloud"],"id":"db37ddfe-b01b-426c-871f-71ed5a01f851","ips":[],"port":27017,"public":{}}],"id":"f5af4cfc-7e8d-44a1-b536-83ce1d27137b","name":"test-mongodb-instance-by-name","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"ready","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.646826ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/f5af4cfc-7e8d-44a1-b536-83ce1d27137b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"f5af4cfc-7e8d-44a1-b536-83ce1d27137b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.565756ms
[...]
