---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance-id","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-15T13:53:04.565139Z","endpoints":[{"dns_records":["b1a634bb-db45-4b24-8399-5947ea1e0809.mgdb.fr-par.scw.cloud"],"id":"fe57fea8-37a3-4741-be4a-2bf8f9d0fc6d","ips":[],"port":27017,"public":{}}],"id":"b1a634bb-db45-4b24-8399-5947ea1e0809","name":"test-mongodb-instance-id","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 579.587002ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/b1a634bb-db45-4b24-8399-5947ea1e0809
        method: GET
      response:
        body: '{"created_at":"2024-10-15T13:53:04.565139Z","endpoints":[{"dns_records":["b1a634bb-db45-4b24-8399-5947ea1e0809.mgdb.fr-par.scw.cloud"],"id":"fe57fea8-37a3-4741-be4a-2bf8f9d0fc6d","ips":[],"port":27017,"public":{}}],"id":"b1a634bb-db45-4b24-8399-5947ea1e0809","name":"test-mongodb-instance-id","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.211343ms
[...]
    - id: 159
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/b1a634bb-db45-4b24-8399-5947ea1e0809
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b1a634bb-db45-4b24-8399-5947ea1e0809","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.201841ms
[...]
