---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance-id","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T15:14:49.625591Z","endpoints":[{"dns_record":"3c380ca9-c6a2-4e8a-8efa-87bc403206de.mgdb.fr-par.scw.cloud","id":"c8d2f75a-bc7f-420c-822a-e32cbb6e5823","port":27017,"public_network":{}}],"id":"3c380ca9-c6a2-4e8a-8efa-87bc403206de","name":"test-mongodb-instance-id","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T15:14:50.066794Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.536350833s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/3c380ca9-c6a2-4e8a-8efa-87bc403206de
        method: GET
      response:
        body: '{"created_at":"2025-07-21T15:14:49.625591Z","endpoints":[{"dns_record":"3c380ca9-c6a2-4e8a-8efa-87bc403206de.mgdb.fr-par.scw.cloud","id":"c8d2f75a-bc7f-420c-822a-e32cbb6e5823","port":27017,"public_network":{}}],"id":"3c380ca9-c6a2-4e8a-8efa-87bc403206de","name":"test-mongodb-instance-id","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T15:14:50.066794Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.115583ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/3c380ca9-c6a2-4e8a-8efa-87bc403206de
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"3c380ca9-c6a2-4e8a-8efa-87bc403206de","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.027625ms
[...]
