---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance-by-name","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T15:15:07.465118Z","endpoints":[{"dns_record":"70e8eb24-7966-4257-ab8d-79ff09a06a47.mgdb.fr-par.scw.cloud","id":"654dc897-c26a-4fbd-a799-8c94198ed1c9","port":27017,"public_network":{}}],"id":"70e8eb24-7966-4257-ab8d-79ff09a06a47","name":"test-mongodb-instance-by-name","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T15:15:07.911137Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 658.62975ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/70e8eb24-7966-4257-ab8d-79ff09a06a47
        method: GET
      response:
        body: '{"created_at":"2025-07-21T15:15:07.465118Z","endpoints":[{"dns_record":"70e8eb24-7966-4257-ab8d-79ff09a06a47.mgdb.fr-par.scw.cloud","id":"654dc897-c26a-4fbd-a799-8c94198ed1c9","port":27017,"public_network":{}}],"id":"70e8eb24-7966-4257-ab8d-79ff09a06a47","name":"test-mongodb-instance-by-name","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T15:15:07.911137Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.718ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances?name=test-mongodb-instance-by-name&order_by=created_at_asc
        method: GET
      response:
        body: '{"instances":[{"created_at":"2025-07-21T15:15:07.465118Z","endpoints":[{"dns_record":"70e8eb24-7966-4257-ab8d-79ff09a06a47.mgdb.fr-par.scw.cloud","id":"654dc897-c26a-4fbd-a799-8c94198ed1c9","port":27017,"public_network":{}}],"id":"70e8eb24-7966-4257-ab8d-79ff09a06a47","name":"test-mongodb-instance-by-name","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T15:15:07.911137Z","retention_days":7},"status":"ready","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.067667ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/70e8eb24-7966-4257-ab8d-79ff09a06a47
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"70e8eb24-7966-4257-ab8d-79ff09a06a47","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.188959ms
[...]
