---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-clever-dewdney","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-29T07:33:50.220341Z","description":"","id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","name":"tf-project-clever-dewdney","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-29T07:33:50.220341Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 541.315375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/52bbb038-1e1c-4910-8dbe-336d6c66f4b9
        method: GET
      response:
        body: '{"created_at":"2026-04-29T07:33:50.220341Z","description":"","id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","name":"tf-project-clever-dewdney","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-29T07:33:50.220341Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.334834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","name":"test-mongodb-list-2","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2026-04-29T07:33:51.116303Z","endpoints":[{"dns_record":"2bbfe75d-f940-478c-9420-c01db1ff5dff.mgdb.fr-par.scw.cloud","id":"cdb82e8e-83f3-44be-96a3-b2b5546601b0","port":27017,"public_network":{}}],"id":"2bbfe75d-f940-478c-9420-c01db1ff5dff","name":"test-mongodb-list-2","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-04-29T07:33:51.139826Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 505.885958ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2bbfe75d-f940-478c-9420-c01db1ff5dff
        method: GET
      response:
        body: '{"created_at":"2026-04-29T07:33:51.116303Z","endpoints":[{"dns_record":"2bbfe75d-f940-478c-9420-c01db1ff5dff.mgdb.fr-par.scw.cloud","id":"cdb82e8e-83f3-44be-96a3-b2b5546601b0","port":27017,"public_network":{}}],"id":"2bbfe75d-f940-478c-9420-c01db1ff5dff","name":"test-mongodb-list-2","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-04-29T07:33:51.139826Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.3315ms
[...]
    - id: 135
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2bbfe75d-f940-478c-9420-c01db1ff5dff/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQVBucmZLS2FtKzlyMFBTNExBRHYySVV3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnTW1KaVptVTNOV1F0WmprME1DMDBOemhqTFRrME1qQXRZekF4ClpHSXhabVkxWkdabU1CNFhEVEkyTURReU9UQTNNek0xTVZvWERUTTJNRFF5TmpBM016TTFNVm93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBeVltSm1aVGMxWkMxbU9UUXdMVFEzT0dNdE9UUXlNQzFqCk1ERmtZakZtWmpWa1ptWXdLakFGQmdNclpYQURJUURuaEgrU051eURGNlkrMTBoNllRK3hmOG1ZTHZnMkEycmQKUXdaYi93YU1kNk5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlJHb0U2eXJTQlExdFFJCjRQZkR2dEpyZ080NGd6QUZCZ01yWlhBRFFRQ3l3L3NUZzlMV0k4US9SRGs0UmJteFFWRzAwancvS3pDUDRkOVAKY1dZcm40dWo5Y28zdnpNU0drZTk5bHF0QlZvZ1VzbmlwVnZ2SjZZdkwwemphNUlJCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.765459ms
[...]
    - id: 189
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=52bbb038-1e1c-4910-8dbe-336d6c66f4b9
        method: GET
      response:
        body: '{"instances":[{"created_at":"2026-04-29T07:33:51.116303Z","endpoints":[{"dns_record":"2bbfe75d-f940-478c-9420-c01db1ff5dff.mgdb.fr-par.scw.cloud","id":"cdb82e8e-83f3-44be-96a3-b2b5546601b0","port":27017,"public_network":{}}],"id":"2bbfe75d-f940-478c-9420-c01db1ff5dff","name":"test-mongodb-list-2","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-04-29T07:33:51.139826Z","retention_days":7},"status":"ready","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}},{"created_at":"2026-04-29T07:33:51.247746Z","endpoints":[{"dns_record":"7f50e2ce-ec3e-4e82-a533-6961faa03917.mgdb.fr-par.scw.cloud","id":"d58c8556-7f79-4a1b-8825-c94fa87c7fa9","port":27017,"public_network":{}}],"id":"7f50e2ce-ec3e-4e82-a533-6961faa03917","name":"test-mongodb-list-1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-04-29T07:33:51.270683Z","retention_days":7},"status":"ready","tags":["list-test"],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.219ms
[...]
    - id: 192
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances?name=test-mongodb-list-1&order_by=created_at_asc&page=1&project_id=52bbb038-1e1c-4910-8dbe-336d6c66f4b9
        method: GET
      response:
        body: '{"instances":[{"created_at":"2026-04-29T07:33:51.247746Z","endpoints":[{"dns_record":"7f50e2ce-ec3e-4e82-a533-6961faa03917.mgdb.fr-par.scw.cloud","id":"d58c8556-7f79-4a1b-8825-c94fa87c7fa9","port":27017,"public_network":{}}],"id":"7f50e2ce-ec3e-4e82-a533-6961faa03917","name":"test-mongodb-list-1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"52bbb038-1e1c-4910-8dbe-336d6c66f4b9","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-04-29T07:33:51.270683Z","retention_days":7},"status":"ready","tags":["list-test"],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.298666ms
[...]
    - id: 194
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=52bbb038-1e1c-4910-8dbe-336d6c66f4b9&tags=list-test
        method: GET
      response:
        body: '{"instances":[{"created_at":"2026-04-28T13:39:16.362208Z","endpoints":[{"dns_record":"b91f898c-c7e2-4b90-8c3c-c62d22561998.mgdb.fr-par.scw.cloud","id":"64641b4b-d6c9-430d[...]
[...]
    - id: 204
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2bbfe75d-f940-478c-9420-c01db1ff5dff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"2bbfe75d-f940-478c-9420-c01db1ff5dff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.7275ms
[...]
