---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-mongodb-instance-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T15:05:23.018290Z","description":"","id":"fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96","name":"tf-tests-mongodb-instance-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T15:05:23.018290Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 845.375889ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96
        method: GET
      response:
        body: '{"created_at":"2026-08-17T15:05:23.018290Z","description":"","id":"fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96","name":"tf-tests-mongodb-instance-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T15:05:23.018290Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.914625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96","name":"test-mongodb-list-2","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2026-08-17T15:05:24.112517Z","endpoints":[{"dns_record":"742d4180-84f3-42a0-a86e-4c8490f4d5ff.mgdb.fr-par.scw.cloud","id":"6e6cd444-cc9b-416b-ad39-a91ab982050c","port":27017,"public_network":{}}],"id":"742d4180-84f3-42a0-a86e-4c8490f4d5ff","maintenances":[],"name":"test-mongodb-list-2","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-08-17T15:05:24.128723Z","retention_days":7},"status":"provisioning","tags":[],"upgradable_versions":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.513808ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/742d4180-84f3-42a0-a86e-4c8490f4d5ff
        method: GET
      response:
        body: '{"created_at":"2026-08-17T15:05:24.112517Z","endpoints":[{"dns_record":"742d4180-84f3-42a0-a86e-4c8490f4d5ff.mgdb.fr-par.scw.cloud","id":"6e6cd444-cc9b-416b-ad39-a91ab982050c","port":27017,"public_network":{}}],"id":"742d4180-84f3-42a0-a86e-4c8490f4d5ff","maintenances":[],"name":"test-mongodb-list-2","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-08-17T15:05:24.128723Z","retention_days":7},"status":"provisioning","tags":[],"upgradable_versions":["8.0"],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.874543ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/742d4180-84f3-42a0-a86e-4c8490f4d5ff/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQU1YSHZqODNjaldVUy82WEtvRlozeTR3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnTnpReVpEUXhPREF0T0RSbU15MDBNbUV3TFdFNE5tVXROR000Ck5Ea3daalJrTldabU1CNFhEVEkyTURneE56RTFNRFV5TkZvWERUTTJNRGd4TkRFMU1EVXlORm93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBM05ESmtOREU0TUMwNE5HWXpMVFF5WVRBdFlUZzJaUzAwCll6ZzBPVEJtTkdRMVptWXdLakFGQmdNclpYQURJUURqaHVPT2g5djNCZ1BmWWpUWjdLdnRwbzA5aWZNQ2E2VE4KNmJ0a2g5YzZyS05oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlNZOFFNQUt5Q2QzWDdXCkZqRjVoSDhyZk5JcWV6QUZCZ01yWlhBRFFRQm9od0ZFd1RtcS9FdExRRFZaeElxMlhYMmFldGlENnA5V05JQmsKYThZalFKVkhraXE3dFJVL2d6amdMNUVaMnppNHFxN2ZnUUFvbzFVZC8rU3ZnUFlNCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.37301ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96
        method: GET
      response:
        body: '{"instances":[{"created_at":"2026-08-17T15:05:24.112517Z","endpoints":[{"dns_record":"742d4180-84f3-42a0-a86e-4c8490f4d5ff.mgdb.fr-par.scw.cloud","id":"6e6cd444-cc9b-416b-ad39-a91ab982050c","port":27017,"public_network":{}}],"id":"742d4180-84f3-42a0-a86e-4c8490f4d5ff","maintenances":[],"name":"test-mongodb-list-2","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96","region":"fr-par","settings":[],"snapshot_[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances?name=test-mongodb-list-1&order_by=created_at_asc&page=1&project_id=fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96
        method: GET
      response:
        body: '{"instances":[{"created_at":"2026-08-17T15:05:24.251629Z","endpoints":[{"dns_record":"b0d48c87-1ec6-47e6-a15a-8fb547149faa.mgdb.fr-par.scw.cloud","id":"19def2c1-4e90-4bbc-9dbf-be462bfeff8e","port":27017,"public_network":{}}],"id":"b0d48c87-1ec6-47e6-a15a-8fb547149faa","maintenances":[],"name":"test-mongodb-list-1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96","region":"fr-par","settings":[],"snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-08-17T15:05:24.271078Z","retention_days":7},"status":"ready","tags":["list-test"],"upgradable_versions":["8.0"],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.577563ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=fe49ec5c-ab70-4add-9aa5-6d8a3b6e9b96&tags=list-test
        method: GET
      response:
        body: '{"instances":[{"created_at":"2026-04-28T13:39:16.362208Z","endpoints":[{"dns_record":"b91f898c-c7e2-4b90-8c3c-c62d22561998.mgdb.fr-par.scw.cloud","id":"64641b4b-d6c9-430d-[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b0d48c87-1ec6-47e6-a15a-8fb547149faa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b0d48c87-1ec6-47e6-a15a-8fb547149faa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.703455ms
[...]
