---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-update-initial","version":"7.0","tags":["initial_tag1","initial_tag2"],"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"user","password":"initial_password","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:37:26.583108Z","endpoints":[{"dns_record":"8b50c819-8489-40fc-a4cb-308bb39b5d92.mgdb.fr-par.scw.cloud","id":"d2738053-a08a-4403-9019-332406c72f54","port":27017,"public_network":{}}],"id":"8b50c819-8489-40fc-a4cb-308bb39b5d92","name":"test-mongodb-update-initial","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:37:27.008766Z","retention_days":7},"status":"provisioning","tags":["initial_tag1","initial_tag2"],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 755.670958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/8b50c819-8489-40fc-a4cb-308bb39b5d92
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:37:26.583108Z","endpoints":[{"dns_record":"8b50c819-8489-40fc-a4cb-308bb39b5d92.mgdb.fr-par.scw.cloud","id":"d2738053-a08a-4403-9019-332406c72f54","port":27017,"public_network":{}}],"id":"8b50c819-8489-40fc-a4cb-308bb39b5d92","name":"test-mongodb-update-initial","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:37:27.008766Z","retention_days":7},"status":"provisioning","tags":["initial_tag1","initial_tag2"],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.664458ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"password":"updated_password"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/8b50c819-8489-40fc-a4cb-308bb39b5d92/users/user
        method: PATCH
      response:
        body: '{"name":"user","roles":[{"any_database":true,"role":"read_write"},{"any_database":true,"role":"db_admin"},{"any_database":true,"role":"sync"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 446.96925ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/8b50c819-8489-40fc-a4cb-308bb39b5d92
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"8b50c819-8489-40fc-a4cb-308bb39b5d92","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.218542ms
[...]
