---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-11T13:50:28.780519Z","dhcp_enabled":true,"id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-11T13:50:28.780519Z","id":"0887105b-44ce-449b-b306-33eac022c33f","private_network_id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-04-11T13:50:28.780519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-11T13:50:28.780519Z","id":"ee533ef8-b3f3-41e2-9783-fddb71e89414","private_network_id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:62b6::/64","updated_at":"2025-04-11T13:50:28.780519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-11T13:50:28.780519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 708.503958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b4b6a10f-9473-4e89-8f94-34e64cc3e2d6
        method: GET
      response:
        body: '{"created_at":"2025-04-11T13:50:28.780519Z","dhcp_enabled":true,"id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-11T13:50:28.780519Z","id":"0887105b-44ce-449b-b306-33eac022c33f","private_network_id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-04-11T13:50:28.780519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-11T13:50:28.780519Z","id":"ee533ef8-b3f3-41e2-9783-fddb71e89414","private_network_id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:62b6::/64","updated_at":"2025-04-11T13:50:28.780519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-11T13:50:28.780519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.163208ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-04-11T13:50:32.180221Z","endpoints":[{"dns_records":["9d41e577-d185-4bd6-ad1b-6b5103cb605c.b4b6a10f-9473-4e89-8f94-34e64cc3e2d6.internal"],"id":"c78440f9-6956-4846-b5ca-3029772e34b8","ips":[],"port":27017,"private_network":{"private_network_id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6"}}],"id":"9d41e577-d185-4bd6-ad1b-6b5103cb605c","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 625.696125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/9d41e577-d185-4bd6-ad1b-6b5103cb605c
        method: GET
      response:
        body: '{"created_at":"2025-04-11T13:50:32.180221Z","endpoints":[{"dns_records":["9d41e577-d185-4bd6-ad1b-6b5103cb605c.b4b6a10f-9473-4e89-8f94-34e64cc3e2d6.internal"],"id":"c78440f9-6956-4846-b5ca-3029772e34b8","ips":[],"port":27017,"private_network":{"private_network_id":"b4b6a10f-9473-4e89-8f94-34e64cc3e2d6"}}],"id":"9d41e577-d185-4bd6-ad1b-6b5103cb605c","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.916208ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/9d41e577-d185-4bd6-ad1b-6b5103cb605c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"9d41e577-d185-4bd6-ad1b-6b5103cb605c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.173041ms
[...]
