---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my_private_network\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T12:00:25.121160Z\",\"updated_at\":\"2025-09-01T12:00:25.121160Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"85fe63f5-610b-4b32-9e0d-c92fcc57644c\",\"created_at\":\"2025-09-01T12:00:25.121160Z\",\"updated_at\":\"2025-09-01T12:00:25.121160Z\",\"subnet\":\"172.16.72.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"c4da2ed3-fbda-458a-853b-c442ff0d4e51\",\"created_at\":\"2025-09-01T12:00:25.121160Z\",\"updated_at\":\"2025-09-01T12:00:25.121160Z\",\"subnet\":\"fd5f:519c:6d46:7019::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 934.73599ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/adf0b0ba-f3f7-47c8-98d0-b7e11e281798
    method: GET
  response:
    body: "{\"id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T12:00:25.121160Z\",\"updated_at\":\"2025-09-01T12:00:25.121160Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"85fe63f5-610b-4b32-9e0d-c92fcc57644c\",\"created_at\":\"2025-09-01T12:00:25.121160Z\",\"updated_at\":\"2025-09-01T12:00:25.121160Z\",\"subnet\":\"172.16.72.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"c4da2ed3-fbda-458a-853b-c442ff0d4e51\",\"created_at\":\"2025-09-01T12:00:25.121160Z\",\"updated_at\":\"2025-09-01T12:00:25.121160Z\",\"subnet\":\"fd5f:519c:6d46:7019::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.905835ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-mongodb-public-network\",\"version\":\"7.0\",\"tags\":null,\"node_amount\":1,\"node_type\":\"MGDB-PLAY2-NANO\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"private_network\":{\"private_network_id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\"}},{\"public_network\":{}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c\",\"name\":\"test-mongodb-public-network\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"9d38fa4b-4111-457d-8860-21eb7640d284\",\"dns_record\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c.adf0b0ba-f3f7-47c8-98d0-b7e11e281798.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\"}},{\"id\":\"80f6d244-aba5-484d-baa0-c7cb5300cb72\",\"dns_record\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c.mgdb.fr-par.scw.cloud\",\"port\":27017,\"public_network\":{}}],\"created_at\":\"2025-09-01T12:00:25.939387Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-09-01T12:00:26.654766Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 845.195162ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2d54a48-468c-4c43-b573-77c8c2aa4f3c
    method: GET
  response:
    body: "{\"id\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c\",\"name\":\"test-mongodb-public-network\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"9d38fa4b-4111-457d-8860-21eb7640d284\",\"dns_record\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c.adf0b0ba-f3f7-47c8-98d0-b7e11e281798.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"adf0b0ba-f3f7-47c8-98d0-b7e11e281798\"}},{\"id\":\"80f6d244-aba5-484d-baa0-c7cb5300cb72\",\"dns_record\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c.mgdb.fr-par.scw.cloud\",\"port\":27017,\"public_network\":{}}],\"created_at\":\"2025-09-01T12:00:25.939387Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-09-01T12:00:26.654766Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.599511ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - adf0b0ba-f3f7-47c8-98d0-b7e11e281798
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_id:
      - b2d54a48-468c-4c43-b573-77c8c2aa4f3c
      resource_type:
      - mgdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=adf0b0ba-f3f7-47c8-98d0-b7e11e281798&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=b2d54a48-468c-4c43-b573-77c8c2aa4f3c&resource_type=mgdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"4cf4c302-5f4a-404f-bb5b-d10541b729eb\",\"address\":\"172.16.72.2/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T12:03:43.133694Z\",\"updated_at\":\"2025-09-01T12:04:36.721727Z\",\"source\":{\"subnet_id\":\"85fe63f5-610b-4b32-9e0d-c92fcc57644c\"},\"resource\":{\"type\":\"mgdb_instance\",\"id\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c\",\"mac_address\":\"02:00:00:1A:A4:BE\",\"name\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c-0\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.50154ms
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2d54a48-468c-4c43-b573-77c8c2aa4f3c/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUkvc29DQ0FzR3NhaTNxZENlam9rUDB3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnWWpKa05UUmhORGd0TkRZNFl5MDBZelF6TFdJMU56TXROemRqCk9HTXlZV0UwWmpOak1CNFhEVEkxTURrd01URXlNREF5TmxvWERUTTFNRGd6TURFeU1EQXlObG93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNCaU1tUTFOR0UwT0MwME5qaGpMVFJqTkRNdFlqVTNNeTAzCk4yTTRZekpoWVRSbU0yTXdLakFGQmdNclpYQURJUUJJeGdQNGtCL1o1Y3BKWFkvYTRmZjRhVXMxMFRiTjd0Q3AKNXFxeFNybVRBNk5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlNzdXZhMEtpSjQvNktTCkVxS0IwZmt2Nk12SzdEQUZCZ01yWlhBRFFRQUVlUEhTbzQ5Sk9tODJOVFc5WVpSaG5JU200Tk84dy8rUi9TTW8KQ2VvZGltT2RibmxCbjRFMXd6eXY1ZjJmMVBOckk3dnVNUDd0OWF3aEtyd1N1aWdHCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 30.736249ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2d54a48-468c-4c43-b573-77c8c2aa4f3c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"b2d54a48-468c-4c43-b573-77c8c2aa4f3c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.714352ms
[...]
