---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-14T17:42:57.573089Z","endpoints":[{"dns_records":["33764e24-f4d6-44da-a8ae-d33b0a42de53.mgdb.fr-par.scw.cloud"],"id":"4f9f07e8-c710-4f11-be7d-a8439655951d","ips":[],"port":27017,"public":{}}],"id":"33764e24-f4d6-44da-a8ae-d33b0a42de53","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 572.648433ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/33764e24-f4d6-44da-a8ae-d33b0a42de53
        method: GET
      response:
        body: '{"created_at":"2024-10-14T17:42:57.573089Z","endpoints":[{"dns_records":["33764e24-f4d6-44da-a8ae-d33b0a42de53.mgdb.fr-par.scw.cloud"],"id":"4f9f07e8-c710-4f11-be7d-a8439655951d","ips":[],"port":27017,"public":{}}],"id":"33764e24-f4d6-44da-a8ae-d33b0a42de53","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.583227ms
[...]
    - id: 115
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/33764e24-f4d6-44da-a8ae-d33b0a42de53/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-14T17:52:27.329049Z","expires_at":"2024-12-31T23:59:59Z","id":"6db9aed2-8ba7-4b17-8590-5aa826b0fecf","instance_id":"33764e24-f4d6-44da-a8ae-d33b0a42de53","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.992224ms
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=33764e24-f4d6-44da-a8ae-d33b0a42de53&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2024-10-14T17:52:27.329049Z","expires_at":"2024-12-31T23:59:59Z","id":"6db9aed2-8ba7-4b17-8590-5aa826b0fecf","instance_id":"33764e24-f4d6-44da-a8ae-d33b0a42de53","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.301877ms
[...]
    - id: 124
      request:
        host: api.scaleway.com
        body: '{"name":"updated-snapshot","expires_at":"2025-09-20T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/6db9aed2-8ba7-4b17-8590-5aa826b0fecf
        method: POST
      response:
        body: '{"created_at":"2024-10-14T17:52:27.329049Z","expires_at":"2025-09-20T23:59:59Z","id":"6db9aed2-8ba7-4b17-8590-5aa826b0fecf","instance_id":"33764e24-f4d6-44da-a8ae-d33b0a42de53","instance_name":"test-mongodb-instance","name":"updated-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":5000000000,"status":"ready","updated_at":"2024-10-14T17:52:39.794698Z","volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.124605ms
[...]
    - id: 158
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/33764e24-f4d6-44da-a8ae-d33b0a42de53
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"33764e24-f4d6-44da-a8ae-d33b0a42de53","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.157513ms
[...]
