---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccMongoDBInstance_UpdatePrivateNetwork","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T10:15:01.499752Z","custom_routes_propagation_enabled":true,"id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6","is_default":false,"name":"TestAccMongoDBInstance_UpdatePrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T10:15:01.499752Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.205709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6
        method: GET
      response:
        body: '{"created_at":"2025-09-30T10:15:01.499752Z","custom_routes_propagation_enabled":true,"id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6","is_default":false,"name":"TestAccMongoDBInstance_UpdatePrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T10:15:01.499752Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.4505ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T10:15:01.832373Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T10:15:01.832373Z","id":"66ee0a20-2ab5-4fa0-88d4-638413c8e74d","private_network_id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.108.0/22","updated_at":"2025-09-30T10:15:01.832373Z","vpc_id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6"},{"created_at":"2025-09-30T10:15:01.832373Z","id":"fcc5aa14-4bae-4463-b475-0396388ea888","private_network_id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e487::/64","updated_at":"2025-09-30T10:15:01.832373Z","vpc_id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6"}],"tags":[],"updated_at":"2025-09-30T10:15:01.832373Z","vpc_id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 779.509042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/04ffe6ce-f92f-4c54-b4b0-d162a27ae83b
        method: GET
      response:
        body: '{"created_at":"2025-09-30T10:15:01.832373Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T10:15:01.832373Z","id":"66ee0a20-2ab5-4fa0-88d4-638413c8e74d","private_network_id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.108.0/22","updated_at":"2025-09-30T10:15:01.832373Z","vpc_id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6"},{"created_at":"2025-09-30T10:15:01.832373Z","id":"fcc5aa14-4bae-4463-b475-0396388ea888","private_network_id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e487::/64","updated_at":"2025-09-30T10:15:01.832373Z","vpc_id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6"}],"tags":[],"updated_at":"2025-09-30T10:15:01.832373Z","vpc_id":"d7bcdb6d-b1e5-42a0-b0fe-3930545c6ed6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.963792ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-09-30T10:15:03.876021Z","endpoints":[{"dns_record":"981f2617-8a4f-446b-81d6-29c151d3357f.04ffe6ce-f92f-4c54-b4b0-d162a27ae83b.internal","id":"8c4065d8-4f2e-4c4e-9feb-d160b89fb731","port":27017,"private_network":{"private_network_id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b"}}],"id":"981f2617-8a4f-446b-81d6-29c151d3357f","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T10:15:04.176155Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.956333ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/981f2617-8a4f-446b-81d6-29c151d3357f
        method: GET
      response:
        body: '{"created_at":"2025-09-30T10:15:03.876021Z","endpoints":[{"dns_record":"981f2617-8a4f-446b-81d6-29c151d3357f.04ffe6ce-f92f-4c54-b4b0-d162a27ae83b.internal","id":"8c4065d8-4f2e-4c4e-9feb-d160b89fb731","port":27017,"private_network":{"private_network_id":"04ffe6ce-f92f-4c54-b4b0-d162a27ae83b"}}],"id":"981f2617-8a4f-446b-81d6-29c151d3357f","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T10:15:04.176155Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.601709ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=04ffe6ce-f92f-4c54-b4b0-d162a27ae83b&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=981f2617-8a4f-446b-81d6-29c151d3357f&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.108.2/22","created_at":"2025-09-30T10:17:00.078824Z","id":"69df429e-d121-4d21-b8e8-7cac80807e65","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"981f2617-8a4f-446b-81d6-29c151d3357f","mac_address":"02:00:00:1F:00:C1","name":"981f2617-8a4f-446b-81d6-29c151d3357f-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"66ee0a20-2ab5-4fa0-88d4-638413c8e74d"},"tags":[],"updated_at":"2025-09-30T10:17:55.760622Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.918125ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/981f2617-8a4f-446b-81d6-29c151d3357f/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQVB3R216M0tmdmw1M3FOODBOa09KcXN3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnT1RneFpqSTJNVGN0T0dFMFppMDBORFppTFRneFpEWXRNamxqCk1UVXhaRE16TlRkbU1CNFhEVEkxTURrek1ERXdNVFV3TkZvWERUTTFNRGt5T0RFd01UVXdORm93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBNU9ERm1Nall4TnkwNFlUUm1MVFEwTm1JdE9ERmtOaTB5Ck9XTXhOVEZrTXpNMU4yWXdLakFGQmdNclpYQURJUUJqNzN4QWU2blJvNzFTU09SN0V0TGppeEV6M3h0bGNNWDQKL3VreE9yYXZEYU5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlN2MFc3Znp1SHlQMW1ZCnUvQ0kzVXk5UmlscThqQUZCZ01yWlhBRFFRQ0lac3VtYVhRVWpLRVZsTkhkSEs3Q2R3M3ZOdURBNkNPbThISGsKUm5ENnZKZ0IwczNwYWk3dHhyR2x3SWR6ZlFES09wcFpyZVRUeVBUSFJScFk3elFFCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.108625ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints/8c4065d8-4f2e-4c4e-9feb-d160b89fb731
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 251.006875ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"instance_id":"981f2617-8a4f-446b-81d6-29c151d3357f","endpoint":{"private_network":{"private_network_id":"9084f66f-7fb3-48fa-9dd8-ef62e85753d4"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"981f2617-8a4f-446b-81d6-29c151d3357f.9084f66f-7fb3-48fa-9dd8-ef62e85753d4.internal","id":"14412764-e93b-4bf3-ba5f-d4593b4e3238","port":27017,"private_network":{"private_network_id":"9084f66f-7fb3-48fa-9dd8-ef62e85753d4"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.786084ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/981f2617-8a4f-446b-81d6-29c151d3357f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"981f2617-8a4f-446b-81d6-29c151d3357f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.80975ms
[...]
