---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-basic-1","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T09:52:57.308367Z","endpoints":[{"dns_record":"c992ad39-0bb5-4538-9eb1-3c3ae9367f6c.mgdb.fr-par.scw.cloud","id":"1dd24fdd-2f3e-45c2-bd04-c6485943107e","port":27017,"public_network":{}}],"id":"c992ad39-0bb5-4538-9eb1-3c3ae9367f6c","name":"test-mongodb-basic-1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T09:52:57.754343Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 711.325584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/c992ad39-0bb5-4538-9eb1-3c3ae9367f6c
        method: GET
      response:
        body: '{"created_at":"2025-07-21T09:52:57.308367Z","endpoints":[{"dns_record":"c992ad39-0bb5-4538-9eb1-3c3ae9367f6c.mgdb.fr-par.scw.cloud","id":"1dd24fdd-2f3e-45c2-bd04-c6485943107e","port":27017,"public_network":{}}],"id":"c992ad39-0bb5-4538-9eb1-3c3ae9367f6c","name":"test-mongodb-basic-1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T09:52:57.754343Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.23125ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/c992ad39-0bb5-4538-9eb1-3c3ae9367f6c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"c992ad39-0bb5-4538-9eb1-3c3ae9367f6c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.945666ms
[...]
