---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"update_private_network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\",\"name\":\"update_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:15:06.012106Z\",\"updated_at\":\"2025-08-29T16:15:06.012106Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"298ccb89-a2f6-4557-9a21-677feb5cf39f\",\"created_at\":\"2025-08-29T16:15:06.012106Z\",\"updated_at\":\"2025-08-29T16:15:06.012106Z\",\"subnet\":\"172.16.92.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"f355783a-28f9-4c9c-a96f-8fb962361070\",\"created_at\":\"2025-08-29T16:15:06.012106Z\",\"updated_at\":\"2025-08-29T16:15:06.012106Z\",\"subnet\":\"fde7:767f:1bb5:106a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.114754016s
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0c1f89ad-0646-4d84-afd7-ce4194849c42
    method: GET
  response:
    body: "{\"id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\",\"name\":\"update_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T16:15:06.012106Z\",\"updated_at\":\"2025-08-29T16:15:06.012106Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"298ccb89-a2f6-4557-9a21-677feb5cf39f\",\"created_at\":\"2025-08-29T16:15:06.012106Z\",\"updated_at\":\"2025-08-29T16:15:06.012106Z\",\"subnet\":\"172.16.92.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"f355783a-28f9-4c9c-a96f-8fb962361070\",\"created_at\":\"2025-08-29T16:15:06.012106Z\",\"updated_at\":\"2025-08-29T16:15:06.012106Z\",\"subnet\":\"fde7:767f:1bb5:106a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.984927ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-mongodb-private-network\",\"version\":\"7.0\",\"tags\":null,\"node_amount\":1,\"node_type\":\"MGDB-PLAY2-NANO\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"private_network\":{\"private_network_id\":\"22ab926d-1197-4eb9-a25d-a426faa7108a\"}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f\",\"name\":\"test-mongodb-private-network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"319c6ee7-6006-4afb-a1a0-bde4f2943ead\",\"dns_record\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f.22ab926d-1197-4eb9-a25d-a426faa7108a.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"22ab926d-1197-4eb9-a25d-a426faa7108a\"}}],\"created_at\":\"2025-08-29T16:15:11.539829Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-08-29T16:15:12.143364Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 718.760083ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/8038b0f3-91ce-4f85-962c-bc2020c01c4f
    method: GET
  response:
    body: "{\"id\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f\",\"name\":\"test-mongodb-private-network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"319c6ee7-6006-4afb-a1a0-bde4f2943ead\",\"dns_record\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f.22ab926d-1197-4eb9-a25d-a426faa7108a.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"22ab926d-1197-4eb9-a25d-a426faa7108a\"}}],\"created_at\":\"2025-08-29T16:15:11.539829Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-08-29T16:15:12.143364Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.704498ms
[...]
- id: 54
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 22ab926d-1197-4eb9-a25d-a426faa7108a
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - 8038b0f3-91ce-4f85-962c-bc2020c01c4f
      resource_type:
      - mgdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=22ab926d-1197-4eb9-a25d-a426faa7108a&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=8038b0f3-91ce-4f85-962c-bc2020c01c4f&resource_type=mgdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"20bfeb89-7415-44c5-8137-a5f08b1052d1\",\"address\":\"172.16.84.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T16:20:00.871346Z\",\"updated_at\":\"2025-08-29T16:20:52.097308Z\",\"source\":{\"subnet_id\":\"7cb49011-63a6-4828-9d0a-0676fe71587a\"},\"resource\":{\"type\":\"mgdb_instance\",\"id\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f\",\"mac_address\":\"02:00:00:13:1F:2F\",\"name\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f-0\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 52.552367ms
- id: 55
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/8038b0f3-91ce-4f85-962c-bc2020c01c4f/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUpoMVFUYXBTZ1BnY3ViR1kwb3hVcW93QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnT0RBek9HSXdaak10T1RGalpTMDBaamcxTFRrMk1tTXRZbU15Ck1ESXdZekF4WXpSbU1CNFhEVEkxTURneU9URTJNVFV4TWxvWERUTTFNRGd5TnpFMk1UVXhNbG93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBNE1ETTRZakJtTXkwNU1XTmxMVFJtT0RVdE9UWXlZeTFpCll6SXdNakJqTURGak5HWXdLakFGQmdNclpYQURJUUIwbEswWmt6NUpXMXdlTmhjbC9wb3NjQ05ObGVWUEhSRzgKWlJJakswU0Q2S05oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlMrN04rd1hmOFZsU1psCmNKN2JMbGYrUGRCQnh6QUZCZ01yWlhBRFFRQk5GL3hveFJZRW4rTXF6NldJMnBwUlAzbjJrVi9nZDEwOXRlSkkKbk1lTWJZM0lIQmIvaWYvemljWk02OGZMdHk5bExuWlBIV1QxcVQyRkxpaktJbWtDCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 188.953072ms
[...]
- id: 68
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints/319c6ee7-6006-4afb-a1a0-bde4f2943ead
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 278.587707ms
[...]
- id: 71
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f\",\"endpoint\":{\"private_network\":{\"private_network_id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\"}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints
    method: POST
  response:
    body: "{\"id\":\"56f4322e-721c-4662-90cb-c7d3e7d54c0d\",\"dns_record\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f.0c1f89ad-0646-4d84-afd7-ce4194849c42.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"0c1f89ad-0646-4d84-afd7-ce4194849c42\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 272.828759ms
[...]
- id: 111
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/8038b0f3-91ce-4f85-962c-bc2020c01c4f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"8038b0f3-91ce-4f85-962c-bc2020c01c4f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 34.343878ms
[...]
