---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-25T20:04:01.372135Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e78e48af-1b32-42b4-b845-30b92de81b83","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-05-25T20:04:01.372135Z","id":"9b5e72a4-f810-400d-b7ea-9e80d87a8fe9","private_network_id":"e78e48af-1b32-42b4-b845-30b92de81b83","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-05-25T20:04:01.372135Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-05-25T20:04:01.372135Z","id":"090bcd29-a5ac-4bac-9325-ab3b91f694be","private_network_id":"e78e48af-1b32-42b4-b845-30b92de81b83","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7d48::/64","updated_at":"2025-05-25T20:04:01.372135Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-05-25T20:04:01.372135Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.139319s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e78e48af-1b32-42b4-b845-30b92de81b83
        method: GET
      response:
        body: '{"created_at":"2025-05-25T20:04:01.372135Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e78e48af-1b32-42b4-b845-30b92de81b83","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-05-25T20:04:01.372135Z","id":"9b5e72a4-f810-400d-b7ea-9e80d87a8fe9","private_network_id":"e78e48af-1b32-42b4-b845-30b92de81b83","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-05-25T20:04:01.372135Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-05-25T20:04:01.372135Z","id":"090bcd29-a5ac-4bac-9325-ab3b91f694be","private_network_id":"e78e48af-1b32-42b4-b845-30b92de81b83","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7d48::/64","updated_at":"2025-05-25T20:04:01.372135Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-05-25T20:04:01.372135Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.884ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"e78e48af-1b32-42b4-b845-30b92de81b83"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-05-25T20:04:02.704915Z","endpoints":[{"dns_records":["b5a25952-954e-4ce8-a235-83e82abca8af.e78e48af-1b32-42b4-b845-30b92de81b83.internal"],"id":"ac90e43b-c181-4044-b367-046306bdfc04","ips":[],"port":27017,"private_network":{"private_network_id":"e78e48af-1b32-42b4-b845-30b92de81b83"}}],"id":"b5a25952-954e-4ce8-a235-83e82abca8af","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 689.932292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/b5a25952-954e-4ce8-a235-83e82abca8af
        method: GET
      response:
        body: '{"created_at":"2025-05-25T20:04:02.704915Z","endpoints":[{"dns_records":["b5a25952-954e-4ce8-a235-83e82abca8af.e78e48af-1b32-42b4-b845-30b92de81b83.internal"],"id":"ac90e43b-c181-4044-b367-046306bdfc04","ips":[],"port":27017,"private_network":{"private_network_id":"e78e48af-1b32-42b4-b845-30b92de81b83"}}],"id":"b5a25952-954e-4ce8-a235-83e82abca8af","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.688041ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=e78e48af-1b32-42b4-b845-30b92de81b83&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=b5a25952-954e-4ce8-a235-83e82abca8af&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.20.2/22","created_at":"2025-05-25T20:10:17.471295Z","id":"fdc527da-de0d-4397-8645-6bd0bc650f98","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"b5a25952-954e-4ce8-a235-83e82abca8af","mac_address":null,"name":"b5a25952-954e-4ce8-a235-83e82abca8af-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"9b5e72a4-f810-400d-b7ea-9e80d87a8fe9"},"tags":[],"updated_at":"2025-05-25T20:10:17.471295Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.617167ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/b5a25952-954e-4ce8-a235-83e82abca8af
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b5a25952-954e-4ce8-a235-83e82abca8af","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.45525ms
[...]
