---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccMongoDBInstance_WithPublicNetwork","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:16:38.880650Z","custom_routes_propagation_enabled":true,"id":"cde3f8fe-0a08-4424-a4b6-ca0cfbf0cfcb","is_default":false,"name":"TestAccMongoDBInstance_WithPublicNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:16:38.880650Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.486625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cde3f8fe-0a08-4424-a4b6-ca0cfbf0cfcb
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:16:38.880650Z","custom_routes_propagation_enabled":true,"id":"cde3f8fe-0a08-4424-a4b6-ca0cfbf0cfcb","is_default":false,"name":"TestAccMongoDBInstance_WithPublicNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:16:38.880650Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.76575ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:16:38.883908Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b3bd537b-eb25-4764-a380-a3a81d13c087","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:16:38.883908Z","id":"a43c0706-9aae-45ae-a6da-3ad26a1c52d5","private_network_id":"b3bd537b-eb25-4764-a380-a3a81d13c087","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.164.0/22","updated_at":"2025-09-30T09:16:38.883908Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-30T09:16:38.883908Z","id":"a4d6b9ae-c9bd-48cb-9b4b-14ac31b8636b","private_network_id":"b3bd537b-eb25-4764-a380-a3a81d13c087","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:efab::/64","updated_at":"2025-09-30T09:16:38.883908Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-30T09:16:38.883908Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 811.097125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b3bd537b-eb25-4764-a380-a3a81d13c087
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:16:38.883908Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b3bd537b-eb25-4764-a380-a3a81d13c087","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:16:38.883908Z","id":"a43c0706-9aae-45ae-a6da-3ad26a1c52d5","private_network_id":"b3bd537b-eb25-4764-a380-a3a81d13c087","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.164.0/22","updated_at":"2025-09-30T09:16:38.883908Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-30T09:16:38.883908Z","id":"a4d6b9ae-c9bd-48cb-9b4b-14ac31b8636b","private_network_id":"b3bd537b-eb25-4764-a380-a3a81d13c087","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:efab::/64","updated_at":"2025-09-30T09:16:38.883908Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-30T09:16:38.883908Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.119875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-public-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"b3bd537b-eb25-4764-a380-a3a81d13c087"}},{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:16:39.563810Z","endpoints":[{"dns_record":"4639391e-e891-4699-9bfb-bc3b6c95cd24.b3bd537b-eb25-4764-a380-a3a81d13c087.internal","id":"18b65423-5dbb-4159-a014-578cdbb0e0e8","port":27017,"private_network":{"private_network_id":"b3bd537b-eb25-4764-a380-a3a81d13c087"}},{"dns_record":"4639391e-e891-4699-9bfb-bc3b6c95cd24.mgdb.fr-par.scw.cloud","id":"9aa05fbd-517d-4682-8013-79431e79515e","port":27017,"public_network":{}}],"id":"4639391e-e891-4699-9bfb-bc3b6c95cd24","name":"test-mongodb-public-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T09:16:40.088630Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.232625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4639391e-e891-4699-9bfb-bc3b6c95cd24
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:16:39.563810Z","endpoints":[{"dns_record":"4639391e-e891-4699-9bfb-bc3b6c95cd24.b3bd537b-eb25-4764-a380-a3a81d13c087.internal","id":"18b65423-5dbb-4159-a014-578cdbb0e0e8","port":27017,"private_network":{"private_network_id":"b3bd537b-eb25-4764-a380-a3a81d13c087"}},{"dns_record":"4639391e-e891-4699-9bfb-bc3b6c95cd24.mgdb.fr-par.scw.cloud","id":"9aa05fbd-517d-4682-8013-79431e79515e","port":27017,"public_network":{}}],"id":"4639391e-e891-4699-9bfb-bc3b6c95cd24","name":"test-mongodb-public-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T09:16:40.088630Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.604292ms
[...]
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=b3bd537b-eb25-4764-a380-a3a81d13c087&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=4639391e-e891-4699-9bfb-bc3b6c95cd24&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.164.2/22","created_at":"2025-09-30T09:24:04.972179Z","id":"87935253-4d21-4de6-8f74-01deb85b7dd6","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"4639391e-e891-4699-9bfb-bc3b6c95cd24","mac_address":null,"name":"4639391e-e891-4699-9bfb-bc3b6c95cd24-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"a43c0706-9aae-45ae-a6da-3ad26a1c52d5"},"tags":[],"updated_at":"2025-09-30T09:24:04.972179Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.113625ms
    - id: 95
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4639391e-e891-4699-9bfb-bc3b6c95cd24/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUIvekNDQWJHZ0F3SUJBZ0lRSUhWa25CK29XeUVYTmpVOENLaHZKVEFGQmdNclpYQXdjREVMTUFrR0ExVUUKQmhNQ1JsSXhEakFNQmdOVkJBY1RCVkJoY21sek1Sa3dGd1lEVlFRS0V4QlRZMkZzWlhkaGVTQk5iMjVuYjBSQwpNVFl3TkFZRFZRUUxFeTFKYm5OMFlXNWpaU0EwTmpNNU16a3haUzFsT0RreExUUTJPVGt0T1dKbVlpMWlZek5pCk5tTTVOV05rTWpRd0hoY05NalV3T1RNd01Ea3hOak01V2hjTk16VXdPVEk0TURreE5qTTVXakJ3TVFzd0NRWUQKVlFRR0V3SkdVakVPTUF3R0ExVUVCeE1GVUdGeWFYTXhHVEFYQmdOVkJBb1RFRk5qWVd4bGQyRjVJRTF2Ym1kdgpSRUl4TmpBMEJnTlZCQXNUTFVsdWMzUmhibU5sSURRMk16a3pPVEZsTFdVNE9URXRORFk1T1MwNVltWmlMV0pqCk0ySTJZemsxWTJReU5EQXFNQVVHQXl0bGNBTWhBSDdFUi9UOFBXS3N5eHpDRm9hdjBLZG5LcE1Fd2hOQ2o4SWkKZjVYQzI3b1lvMkV3WHpBT0JnTlZIUThCQWY4RUJBTUNBZ1F3SFFZRFZSMGxCQll3RkFZSUt3WUJCUVVIQXdJRwpDQ3NHQVFVRkJ3TUJNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdIUVlEVlIwT0JCWUVGTWhSVVk4QVMxb05Bc3gwCjZrU1ZxRjBpRVVlZU1BVUdBeXRsY0FOQkFDOE40RGFNc3pqTFB1QkVNTXlPMFdKbzY3L3A2L2IvYXFCVEc5eEcKVEVoRllwbXB4QXFnaXJjOE1EY3VTczdWQy9jcnRGdTM5TE44QzdDb2lxVEp1UTg9Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.154875ms
[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4639391e-e891-4699-9bfb-bc3b6c95cd24
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"4639391e-e891-4699-9bfb-bc3b6c95cd24","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.568041ms
[...]
