---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-21T14:00:16.939353Z","endpoints":[{"dns_records":["12efefde-872e-4425-9e0c-27a3f84f8e87.mgdb.fr-par.scw.cloud"],"id":"e4c282d2-1cde-4d9b-aab9-75f9f0e95a35","ips":[],"port":27017,"public":{}}],"id":"12efefde-872e-4425-9e0c-27a3f84f8e87","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 764.622036ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/12efefde-872e-4425-9e0c-27a3f84f8e87
        method: GET
      response:
        body: '{"created_at":"2024-10-21T14:00:16.939353Z","endpoints":[{"dns_records":["12efefde-872e-4425-9e0c-27a3f84f8e87.mgdb.fr-par.scw.cloud"],"id":"e4c282d2-1cde-4d9b-aab9-75f9f0e95a35","ips":[],"port":27017,"public":{}}],"id":"12efefde-872e-4425-9e0c-27a3f84f8e87","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.126374ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/12efefde-872e-4425-9e0c-27a3f84f8e87/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-21T14:19:58.101044Z","expires_at":"2024-12-31T23:59:59Z","id":"f9b018d2-3d60-44a3-a3b3-5409064aa7cf","instance_id":"12efefde-872e-4425-9e0c-27a3f84f8e87","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.397217ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/f9b018d2-3d60-44a3-a3b3-5409064aa7cf
        method: GET
      response:
        body: '{"created_at":"2024-10-21T14:19:58.101044Z","expires_at":"2024-12-31T23:59:59Z","id":"f9b018d2-3d60-44a3-a3b3-5409064aa7cf","instance_id":"12efefde-872e-4425-9e0c-27a3f84f8e87","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.853769ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/12efefde-872e-4425-9e0c-27a3f84f8e87
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"12efefde-872e-4425-9e0c-27a3f84f8e87","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.566701ms
[...]
