---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"update_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-15T14:40:21.653184Z","dhcp_enabled":true,"id":"57a44e89-98e5-468f-9b89-d420e7d7b580","name":"update_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-15T14:40:21.653184Z","id":"47bd93fe-1127-437a-9efb-680508bef139","private_network_id":"57a44e89-98e5-468f-9b89-d420e7d7b580","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-04-15T14:40:21.653184Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-15T14:40:21.653184Z","id":"74cd770f-750c-4bba-ac4e-22d24b7676af","private_network_id":"57a44e89-98e5-468f-9b89-d420e7d7b580","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:59be::/64","updated_at":"2025-04-15T14:40:21.653184Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-15T14:40:21.653184Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.081436s
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/57a44e89-98e5-468f-9b89-d420e7d7b580
        method: GET
      response:
        body: '{"created_at":"2025-04-15T14:40:21.653184Z","dhcp_enabled":true,"id":"57a44e89-98e5-468f-9b89-d420e7d7b580","name":"update_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-15T14:40:21.653184Z","id":"47bd93fe-1127-437a-9efb-680508bef139","private_network_id":"57a44e89-98e5-468f-9b89-d420e7d7b580","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-04-15T14:40:21.653184Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-15T14:40:21.653184Z","id":"74cd770f-750c-4bba-ac4e-22d24b7676af","private_network_id":"57a44e89-98e5-468f-9b89-d420e7d7b580","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:59be::/64","updated_at":"2025-04-15T14:40:21.653184Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-15T14:40:21.653184Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.289125ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"7eb28921-db88-4d16-be9d-2209ee2d331d"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-04-15T14:40:25.562463Z","endpoints":[{"dns_records":["ec009304-c802-4fc9-b539-a93384baa054.7eb28921-db88-4d16-be9d-2209ee2d331d.internal"],"id":"4afa9f9d-963b-462f-adc7-70316ee4418c","ips":[],"port":27017,"private_network":{"private_network_id":"7eb28921-db88-4d16-be9d-2209ee2d331d"}}],"id":"ec009304-c802-4fc9-b539-a93384baa054","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 826.745542ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/ec009304-c802-4fc9-b539-a93384baa054
        method: GET
      response:
        body: '{"created_at":"2025-04-15T14:40:25.562463Z","endpoints":[{"dns_records":["ec009304-c802-4fc9-b539-a93384baa054.7eb28921-db88-4d16-be9d-2209ee2d331d.internal"],"id":"4afa9f9d-963b-462f-adc7-70316ee4418c","ips":[],"port":27017,"private_network":{"private_network_id":"7eb28921-db88-4d16-be9d-2209ee2d331d"}}],"id":"ec009304-c802-4fc9-b539-a93384baa054","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.065459ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints/4afa9f9d-963b-462f-adc7-70316ee4418c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 190.320208ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: '{"instance_id":"ec009304-c802-4fc9-b539-a93384baa054","endpoint":{"private_network":{"private_network_id":"57a44e89-98e5-468f-9b89-d420e7d7b580"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_records":["ec009304-c802-4fc9-b539-a93384baa054.57a44e89-98e5-468f-9b89-d420e7d7b580.internal"],"id":"eb8315d3-7989-45eb-8959-e4099b110ecd","ips":[],"port":27017,"private_network":{"private_network_id":"57a44e89-98e5-468f-9b89-d420e7d7b580"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.05325ms
[...]
    - id: 137
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/ec009304-c802-4fc9-b539-a93384baa054
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"ec009304-c802-4fc9-b539-a93384baa054","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.433917ms
[...]
