---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my_private_network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T15:22:52.491138Z\",\"updated_at\":\"2025-08-28T15:22:52.491138Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"227f9bda-9d75-494c-af44-79cae87be726\",\"created_at\":\"2025-08-28T15:22:52.491138Z\",\"updated_at\":\"2025-08-28T15:22:52.491138Z\",\"subnet\":\"172.16.72.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"c4e0240d-afed-463c-b35a-a5b457380c31\",\"created_at\":\"2025-08-28T15:22:52.491138Z\",\"updated_at\":\"2025-08-28T15:22:52.491138Z\",\"subnet\":\"fde7:767f:1bb5:149f::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 894.29446ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fa798b22-57a5-4efd-a76a-ec8de614a017
    method: GET
  response:
    body: "{\"id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T15:22:52.491138Z\",\"updated_at\":\"2025-08-28T15:22:52.491138Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"227f9bda-9d75-494c-af44-79cae87be726\",\"created_at\":\"2025-08-28T15:22:52.491138Z\",\"updated_at\":\"2025-08-28T15:22:52.491138Z\",\"subnet\":\"172.16.72.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"c4e0240d-afed-463c-b35a-a5b457380c31\",\"created_at\":\"2025-08-28T15:22:52.491138Z\",\"updated_at\":\"2025-08-28T15:22:52.491138Z\",\"subnet\":\"fde7:767f:1bb5:149f::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 27.103234ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fa798b22-57a5-4efd-a76a-ec8de614a017
    method: GET
  response:
    body: "{\"message\":\"upstream connect error or disconnect/reset before headers. reset reason: connection termination\"}"
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: 2.141737439s
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-mongodb-private-network\",\"version\":\"7.0\",\"tags\":null,\"node_amount\":1,\"node_type\":\"MGDB-PLAY2-NANO\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"private_network\":{\"private_network_id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\"}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"0000b367-998e-4931-8830-c76f64a730d6\",\"name\":\"test-mongodb-private-network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"7cabb619-605d-474b-b62b-5e17a2dde925\",\"dns_record\":\"0000b367-998e-4931-8830-c76f64a730d6.fa798b22-57a5-4efd-a76a-ec8de614a017.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\"}}],\"created_at\":\"2025-08-28T15:22:58.472297Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-08-28T15:22:58.974185Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 598.362397ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/0000b367-998e-4931-8830-c76f64a730d6
    method: GET
  response:
    body: "{\"id\":\"0000b367-998e-4931-8830-c76f64a730d6\",\"name\":\"test-mongodb-private-network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"7cabb619-605d-474b-b62b-5e17a2dde925\",\"dns_record\":\"0000b367-998e-4931-8830-c76f64a730d6.fa798b22-57a5-4efd-a76a-ec8de614a017.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"fa798b22-57a5-4efd-a76a-ec8de614a017\"}}],\"created_at\":\"2025-08-28T15:22:58.472297Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-08-28T15:22:58.974185Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.178765ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - fa798b22-57a5-4efd-a76a-ec8de614a017
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - 0000b367-998e-4931-8830-c76f64a730d6
      resource_type:
      - mgdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=fa798b22-57a5-4efd-a76a-ec8de614a017&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=0000b367-998e-4931-8830-c76f64a730d6&resource_type=mgdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"210a6d8a-cba2-46ac-84c9-6c0187b39a36\",\"address\":\"172.16.72.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T15:27:47.710377Z\",\"updated_at\":\"2025-08-28T15:28:35.858945Z\",\"source\":{\"subnet_id\":\"227f9bda-9d75-494c-af44-79cae87be726\"},\"resource\":{\"type\":\"mgdb_instance\",\"id\":\"0000b367-998e-4931-8830-c76f64a730d6\",\"mac_address\":\"02:00:00:15:69:76\",\"name\":\"0000b367-998e-4931-8830-c76f64a730d6-0\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 46.538236ms
- id: 52
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/0000b367-998e-4931-8830-c76f64a730d6/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUphUG9CWFhGZDMyb2NjUm94VDQreW93QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnTURBd01HSXpOamN0T1RrNFpTMDBPVE14TFRnNE16QXRZemMyClpqWTBZVGN6TUdRMk1CNFhEVEkxTURneU9ERTFNakkxT0ZvWERUTTFNRGd5TmpFMU1qSTFPRm93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBd01EQXdZak0yTnkwNU9UaGxMVFE1TXpFdE9EZ3pNQzFqCk56Wm1OalJoTnpNd1pEWXdLakFGQmdNclpYQURJUUJBTDhMdGdwcjBia3pRUE5TdzFWK0JXRE9TK3dnMEFJOHAKNmM1aWhLZnlFcU5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlJ4ZkViVGVGeUpOSXc4ClhxREtOTzI0S0V0M0NEQUZCZ01yWlhBRFFRQ3FVaVRSc0F5UkpBOFNBSDZObmZZTGtLbzFUTVNrUlJKdkUrTVkKSm0vUlNvODlJT2tJeGJBTUdNTDFNRFllVi9PczNDeEZSaXZlNVptaWR5cnYrYkFPCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 26.524175ms
[...]
