---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"update_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:45:04.635664Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"7b551a3d-c671-41e9-ba4e-ff63e7362846","name":"update_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-21T12:45:04.635664Z","id":"d5c62204-1239-47db-b88c-97a3e6b06d38","private_network_id":"7b551a3d-c671-41e9-ba4e-ff63e7362846","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.160.0/22","updated_at":"2025-07-21T12:45:04.635664Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-21T12:45:04.635664Z","id":"5ef38eda-d1ad-4d52-b47a-38b9a06f7ae4","private_network_id":"7b551a3d-c671-41e9-ba4e-ff63e7362846","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:ee7d::/64","updated_at":"2025-07-21T12:45:04.635664Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-21T12:45:04.635664Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 841.018292ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7b551a3d-c671-41e9-ba4e-ff63e7362846
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:45:04.635664Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"7b551a3d-c671-41e9-ba4e-ff63e7362846","name":"update_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-21T12:45:04.635664Z","id":"d5c62204-1239-47db-b88c-97a3e6b06d38","private_network_id":"7b551a3d-c671-41e9-ba4e-ff63e7362846","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.160.0/22","updated_at":"2025-07-21T12:45:04.635664Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-21T12:45:04.635664Z","id":"5ef38eda-d1ad-4d52-b47a-38b9a06f7ae4","private_network_id":"7b551a3d-c671-41e9-ba4e-ff63e7362846","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:ee7d::/64","updated_at":"2025-07-21T12:45:04.635664Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-21T12:45:04.635664Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.115458ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"fb31f129-95ca-484c-8103-0688fe85d204"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:45:07.736207Z","endpoints":[{"dns_record":"57e0a467-ee81-4fb8-966e-938aa61e64bd.fb31f129-95ca-484c-8103-0688fe85d204.internal","id":"9b75b044-b03d-4724-8a42-88233b35d076","port":27017,"private_network":{"private_network_id":"fb31f129-95ca-484c-8103-0688fe85d204"}}],"id":"57e0a467-ee81-4fb8-966e-938aa61e64bd","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:45:07.963408Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.204042ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/57e0a467-ee81-4fb8-966e-938aa61e64bd
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:45:07.736207Z","endpoints":[{"dns_record":"57e0a467-ee81-4fb8-966e-938aa61e64bd.fb31f129-95ca-484c-8103-0688fe85d204.internal","id":"9b75b044-b03d-4724-8a42-88233b35d076","port":27017,"private_network":{"private_network_id":"fb31f129-95ca-484c-8103-0688fe85d204"}}],"id":"57e0a467-ee81-4fb8-966e-938aa61e64bd","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:45:07.963408Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.883792ms
[...]
    - id: 120
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=fb31f129-95ca-484c-8103-0688fe85d204&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=57e0a467-ee81-4fb8-966e-938aa61e64bd&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.92.2/22","created_at":"2025-07-21T12:54:15.432334Z","id":"fe697a47-adfe-43ac-8a5a-76f5f5a0d26c","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"57e0a467-ee81-4fb8-966e-938aa61e64bd","mac_address":"02:00:00:13:65:D9","name":"57e0a467-ee81-4fb8-966e-938aa61e64bd-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"17b1f1f5-dd57-4cf1-9a80-7432f513e1a3"},"tags":[],"updated_at":"2025-07-21T13:01:50.121742Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.600958ms
[...]
    - id: 131
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints/9b75b044-b03d-4724-8a42-88233b35d076
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 211.95275ms
[...]
    - id: 135
      request:
        host: api.scaleway.com
        body: '{"instance_id":"57e0a467-ee81-4fb8-966e-938aa61e64bd","endpoint":{"private_network":{"private_network_id":"7b551a3d-c671-41e9-ba4e-ff63e7362846"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"57e0a467-ee81-4fb8-966e-938aa61e64bd.7b551a3d-c671-41e9-ba4e-ff63e7362846.internal","id":"72e08718-dd7c-40e9-a6af-f1a29ed76ebc","port":27017,"private_network":{"private_network_id":"7b551a3d-c671-41e9-ba4e-ff63e7362846"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.270208ms
[...]
    - id: 195
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/57e0a467-ee81-4fb8-966e-938aa61e64bd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"57e0a467-ee81-4fb8-966e-938aa61e64bd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 192.497209ms
[...]
