---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-volume-update1","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:26:12.604741Z","endpoints":[{"dns_record":"f88bb897-9af3-4daf-a276-95d473221fcd.mgdb.fr-par.scw.cloud","id":"4c7d53db-e935-4a83-b4fe-6eee9e85c1d1","port":27017,"public_network":{}}],"id":"f88bb897-9af3-4daf-a276-95d473221fcd","name":"test-mongodb-volume-update1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:26:12.752251Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 515.73125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/f88bb897-9af3-4daf-a276-95d473221fcd
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:26:12.604741Z","endpoints":[{"dns_record":"f88bb897-9af3-4daf-a276-95d473221fcd.mgdb.fr-par.scw.cloud","id":"4c7d53db-e935-4a83-b4fe-6eee9e85c1d1","port":27017,"public_network":{}}],"id":"f88bb897-9af3-4daf-a276-95d473221fcd","name":"test-mongodb-volume-update1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:26:12.752251Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.418375ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: '{"volume_size_bytes":10000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/f88bb897-9af3-4daf-a276-95d473221fcd/upgrade
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:26:12.604741Z","endpoints":[{"dns_record":"f88bb897-9af3-4daf-a276-95d473221fcd.mgdb.fr-par.scw.cloud","id":"4c7d53db-e935-4a83-b4fe-6eee9e85c1d1","port":27017,"public_network":{}}],"id":"f88bb897-9af3-4daf-a276-95d473221fcd","name":"test-mongodb-volume-update1","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:26:12.752251Z","retention_days":7},"status":"initializing","tags":[],"version":"7.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.465417ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/f88bb897-9af3-4daf-a276-95d473221fcd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"f88bb897-9af3-4daf-a276-95d473221fcd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.282542ms
[...]
