---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccMongoDBInstance_WithPrivateNetwork","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:16:52.940620Z","custom_routes_propagation_enabled":true,"id":"52061b47-8043-4755-b263-8d85bbeb1180","is_default":false,"name":"TestAccMongoDBInstance_WithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:16:52.940620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.461083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/52061b47-8043-4755-b263-8d85bbeb1180
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:16:52.940620Z","custom_routes_propagation_enabled":true,"id":"52061b47-8043-4755-b263-8d85bbeb1180","is_default":false,"name":"TestAccMongoDBInstance_WithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:16:52.940620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.006375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"52061b47-8043-4755-b263-8d85bbeb1180","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:16:53.057180Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"86068d8d-3abb-4022-a6a0-e6726cae6f70","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:16:53.057180Z","id":"6b3d064c-c09f-410e-a957-8e76b53d1fb7","private_network_id":"86068d8d-3abb-4022-a6a0-e6726cae6f70","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.88.0/22","updated_at":"2025-09-30T09:16:53.057180Z","vpc_id":"52061b47-8043-4755-b263-8d85bbeb1180"},{"created_at":"2025-09-30T09:16:53.057180Z","id":"bae1e8e4-bb20-49cc-b230-d8dda119017a","private_network_id":"86068d8d-3abb-4022-a6a0-e6726cae6f70","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7d72::/64","updated_at":"2025-09-30T09:16:53.057180Z","vpc_id":"52061b47-8043-4755-b263-8d85bbeb1180"}],"tags":[],"updated_at":"2025-09-30T09:16:53.057180Z","vpc_id":"52061b47-8043-4755-b263-8d85bbeb1180"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 660.819917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/86068d8d-3abb-4022-a6a0-e6726cae6f70
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:16:53.057180Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"86068d8d-3abb-4022-a6a0-e6726cae6f70","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:16:53.057180Z","id":"6b3d064c-c09f-410e-a957-8e76b53d1fb7","private_network_id":"86068d8d-3abb-4022-a6a0-e6726cae6f70","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.88.0/22","updated_at":"2025-09-30T09:16:53.057180Z","vpc_id":"52061b47-8043-4755-b263-8d85bbeb1180"},{"created_at":"2025-09-30T09:16:53.057180Z","id":"bae1e8e4-bb20-49cc-b230-d8dda119017a","private_network_id":"86068d8d-3abb-4022-a6a0-e6726cae6f70","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7d72::/64","updated_at":"2025-09-30T09:16:53.057180Z","vpc_id":"52061b47-8043-4755-b263-8d85bbeb1180"}],"tags":[],"updated_at":"2025-09-30T09:16:53.057180Z","vpc_id":"52061b47-8043-4755-b263-8d85bbeb1180"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.581208ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"86068d8d-3abb-4022-a6a0-e6726cae6f70"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:16:54.816697Z","endpoints":[{"dns_record":"b7751075-1386-46a5-b39d-04a452688c97.86068d8d-3abb-4022-a6a0-e6726cae6f70.internal","id":"abfa27cb-3eba-47a7-b22e-b33b86a8032a","port":27017,"private_network":{"private_network_id":"86068d8d-3abb-4022-a6a0-e6726cae6f70"}}],"id":"b7751075-1386-46a5-b39d-04a452688c97","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T09:16:55.039057Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.09925ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b7751075-1386-46a5-b39d-04a452688c97
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:16:54.816697Z","endpoints":[{"dns_record":"b7751075-1386-46a5-b39d-04a452688c97.86068d8d-3abb-4022-a6a0-e6726cae6f70.internal","id":"abfa27cb-3eba-47a7-b22e-b33b86a8032a","port":27017,"private_network":{"private_network_id":"86068d8d-3abb-4022-a6a0-e6726cae6f70"}}],"id":"b7751075-1386-46a5-b39d-04a452688c97","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T09:16:55.039057Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.651166ms
[...]
    - id: 111
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=86068d8d-3abb-4022-a6a0-e6726cae6f70&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=b7751075-1386-46a5-b39d-04a452688c97&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.88.2/22","created_at":"2025-09-30T09:25:59.687657Z","id":"66bff08a-ce9e-4c59-9780-8cc32c3c78f7","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"b7751075-1386-46a5-b39d-04a452688c97","mac_address":"02:00:00:14:DC:7C","name":"b7751075-1386-46a5-b39d-04a452688c97-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"6b3d064c-c09f-410e-a957-8e76b53d1fb7"},"tags":[],"updated_at":"2025-09-30T09:32:01.397012Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.254708ms
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b7751075-1386-46a5-b39d-04a452688c97/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUIvekNDQWJHZ0F3SUJBZ0lRWVRjdUJsSm1sQTJyM3kzT0lFTStuREFGQmdNclpYQXdjREVMTUFrR0ExVUUKQmhNQ1JsSXhEakFNQmdOVkJBY1RCVkJoY21sek1Sa3dGd1lEVlFRS0V4QlRZMkZzWlhkaGVTQk5iMjVuYjBSQwpNVFl3TkFZRFZRUUxFeTFKYm5OMFlXNWpaU0JpTnpjMU1UQTNOUzB4TXpnMkxUUTJZVFV0WWpNNVpDMHdOR0UwCk5USTJPRGhqT1Rjd0hoY05NalV3T1RNd01Ea3hOalUwV2hjTk16VXdPVEk0TURreE5qVTBXakJ3TVFzd0NRWUQKVlFRR0V3SkdVakVPTUF3R0ExVUVCeE1GVUdGeWFYTXhHVEFYQmdOVkJBb1RFRk5qWVd4bGQyRjVJRTF2Ym1kdgpSRUl4TmpBMEJnTlZCQXNUTFVsdWMzUmhibU5sSUdJM056VXhNRGMxTFRFek9EWXRORFpoTlMxaU16bGtMVEEwCllUUTFNalk0T0dNNU56QXFNQVVHQXl0bGNBTWhBRVp0eDZTdlRmc0gwbVQxTzZwMVJQbU9XL3pGY2R4aFFPRUwKTzN4aGlKb3lvMkV3WHpBT0JnTlZIUThCQWY4RUJBTUNBZ1F3SFFZRFZSMGxCQll3RkFZSUt3WUJCUVVIQXdJRwpDQ3NHQVFVRkJ3TUJNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdIUVlEVlIwT0JCWUVGQzQzT1FZZXNpT0V4ZzFaCmR4SkdabU5PUmF1WE1BVUdBeXRsY0FOQkFGN1kvQXQ4eFVvU01HQUpjVjRlWDA3WDRzZ3c5WEQ1d2dIbEp0dEwKbUpsbXNCeUplWGRJeUljdDlOQncrRlQ4ZmFmbGtHSGZVUmZ3dWsvSVBFcytpQXc9Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.177208ms
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b7751075-1386-46a5-b39d-04a452688c97
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b7751075-1386-46a5-b39d-04a452688c97","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.747459ms
[...]
