---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"update_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-25T20:15:50.752679Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c3e333b0-30d4-4a44-8c58-25be78621eae","name":"update_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-05-25T20:15:50.752679Z","id":"de536282-0a6d-4d5f-9295-3a635234d244","private_network_id":"c3e333b0-30d4-4a44-8c58-25be78621eae","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2025-05-25T20:15:50.752679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-05-25T20:15:50.752679Z","id":"d135697f-043f-4684-a009-aa442c2ec90b","private_network_id":"c3e333b0-30d4-4a44-8c58-25be78621eae","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f625::/64","updated_at":"2025-05-25T20:15:50.752679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-05-25T20:15:50.752679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 929.219708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c3e333b0-30d4-4a44-8c58-25be78621eae
        method: GET
      response:
        body: '{"created_at":"2025-05-25T20:15:50.752679Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c3e333b0-30d4-4a44-8c58-25be78621eae","name":"update_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-05-25T20:15:50.752679Z","id":"de536282-0a6d-4d5f-9295-3a635234d244","private_network_id":"c3e333b0-30d4-4a44-8c58-25be78621eae","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2025-05-25T20:15:50.752679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-05-25T20:15:50.752679Z","id":"d135697f-043f-4684-a009-aa442c2ec90b","private_network_id":"c3e333b0-30d4-4a44-8c58-25be78621eae","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f625::/64","updated_at":"2025-05-25T20:15:50.752679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-05-25T20:15:50.752679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.865625ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"43f4364b-8eea-4133-a0db-b4a86af1396d"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-05-25T20:15:52.095740Z","endpoints":[{"dns_records":["7beaad1b-64b4-4d3e-89fa-89ff37b16cdd.43f4364b-8eea-4133-a0db-b4a86af1396d.internal"],"id":"a6e2bc4b-5b9b-4245-81e0-45bad0a26edd","ips":[],"port":27017,"private_network":{"private_network_id":"43f4364b-8eea-4133-a0db-b4a86af1396d"}}],"id":"7beaad1b-64b4-4d3e-89fa-89ff37b16cdd","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.88425ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/7beaad1b-64b4-4d3e-89fa-89ff37b16cdd
        method: GET
      response:
        body: '{"created_at":"2025-05-25T20:15:52.095740Z","endpoints":[{"dns_records":["7beaad1b-64b4-4d3e-89fa-89ff37b16cdd.43f4364b-8eea-4133-a0db-b4a86af1396d.internal"],"id":"a6e2bc4b-5b9b-4245-81e0-45bad0a26edd","ips":[],"port":27017,"private_network":{"private_network_id":"43f4364b-8eea-4133-a0db-b4a86af1396d"}}],"id":"7beaad1b-64b4-4d3e-89fa-89ff37b16cdd","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.695791ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=43f4364b-8eea-4133-a0db-b4a86af1396d&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=7beaad1b-64b4-4d3e-89fa-89ff37b16cdd&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.60.2/22","created_at":"2025-05-25T20:23:05.386624Z","id":"48827259-6694-46e2-a704-c90c936dcb43","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"7beaad1b-64b4-4d3e-89fa-89ff37b16cdd","mac_address":null,"name":"7beaad1b-64b4-4d3e-89fa-89ff37b16cdd-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"5ba7cc1c-a0da-477e-b526-0b4109e21872"},"tags":[],"updated_at":"2025-05-25T20:23:05.386624Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.257792ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints/a6e2bc4b-5b9b-4245-81e0-45bad0a26edd
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 135.1455ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: '{"instance_id":"7beaad1b-64b4-4d3e-89fa-89ff37b16cdd","endpoint":{"private_network":{"private_network_id":"c3e333b0-30d4-4a44-8c58-25be78621eae"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_records":["7beaad1b-64b4-4d3e-89fa-89ff37b16cdd.c3e333b0-30d4-4a44-8c58-25be78621eae.internal"],"id":"4e377104-f9f8-432d-abd1-56442aea2b23","ips":[],"port":27017,"private_network":{"private_network_id":"c3e333b0-30d4-4a44-8c58-25be78621eae"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.403333ms
[...]
    - id: 154
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/7beaad1b-64b4-4d3e-89fa-89ff37b16cdd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"7beaad1b-64b4-4d3e-89fa-89ff37b16cdd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.494834ms
[...]
