---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T13:10:32.769987Z","endpoints":[{"dns_record":"f058fd9c-8b1f-4367-a2e8-8306a75698f7.mgdb.fr-par.scw.cloud","id":"5469cab0-2bd6-41a4-a5b0-e6d8a8a28cd4","port":27017,"public_network":{}}],"id":"f058fd9c-8b1f-4367-a2e8-8306a75698f7","name":"test-mongodb-instance","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T13:10:32.881443Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.722375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/f058fd9c-8b1f-4367-a2e8-8306a75698f7
        method: GET
      response:
        body: '{"created_at":"2025-07-21T13:10:32.769987Z","endpoints":[{"dns_record":"f058fd9c-8b1f-4367-a2e8-8306a75698f7.mgdb.fr-par.scw.cloud","id":"5469cab0-2bd6-41a4-a5b0-e6d8a8a28cd4","port":27017,"public_network":{}}],"id":"f058fd9c-8b1f-4367-a2e8-8306a75698f7","name":"test-mongodb-instance","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T13:10:32.881443Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.979833ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"instance_id":"f058fd9c-8b1f-4367-a2e8-8306a75698f7","name":"test-snapshot","expires_at":"2025-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-07-21T13:30:18.387012Z","expires_at":"2025-12-31T23:59:59Z","id":"6045c61e-cb72-4f89-ad45-498bb39f1886","instance_id":"f058fd9c-8b1f-4367-a2e8-8306a75698f7","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size_bytes":0,"status":"creating","updated_at":"2025-07-21T13:30:18.387012Z","volume_type":"sbs_5k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.254792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots/6045c61e-cb72-4f89-ad45-498bb39f1886
        method: GET
      response:
        body: '{"created_at":"2025-07-21T13:30:18.387012Z","expires_at":"2025-12-31T23:59:59Z","id":"6045c61e-cb72-4f89-ad45-498bb39f1886","instance_id":"f058fd9c-8b1f-4367-a2e8-8306a75698f7","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size_bytes":0,"status":"creating","updated_at":"2025-07-21T13:30:18.387012Z","volume_type":"sbs_5k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.1265ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/f058fd9c-8b1f-4367-a2e8-8306a75698f7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"f058fd9c-8b1f-4367-a2e8-8306a75698f7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 93.320834ms
[...]
