---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PRO2-XXS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-14T14:19:02.145372Z","endpoints":[{"dns_records":["b834f146-16ee-4130-be00-4709d4ac4a22.mgdb.fr-par.scw.cloud"],"id":"7e96f359-3233-4775-8297-95d97b9fa496","ips":[],"port":27017,"public":{}}],"id":"b834f146-16ee-4130-be00-4709d4ac4a22","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-pro2-xxs","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.328068ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/b834f146-16ee-4130-be00-4709d4ac4a22
        method: GET
      response:
        body: '{"created_at":"2024-10-14T14:19:02.145372Z","endpoints":[{"dns_records":["b834f146-16ee-4130-be00-4709d4ac4a22.mgdb.fr-par.scw.cloud"],"id":"7e96f359-3233-4775-8297-95d97b9fa496","ips":[],"port":27017,"public":{}}],"id":"b834f146-16ee-4130-be00-4709d4ac4a22","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-pro2-xxs","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.206011ms
[...]
    - id: 131
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/b834f146-16ee-4130-be00-4709d4ac4a22/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-14T14:29:51.991640Z","expires_at":"2024-12-31T23:59:59Z","id":"3fd32b2f-8fa8-4600-a54e-d1158988cd0a","instance_id":"b834f146-16ee-4130-be00-4709d4ac4a22","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-pro2-xxs","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.043662ms
    - id: 132
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=b834f146-16ee-4130-be00-4709d4ac4a22&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2024-10-14T14:29:51.991640Z","expires_at":"2024-12-31T23:59:59Z","id":"3fd32b2f-8fa8-4600-a54e-d1158988cd0a","instance_id":"b834f146-16ee-4130-be00-4709d4ac4a22","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-pro2-xxs","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.742202ms
[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/3fd32b2f-8fa8-4600-a54e-d1158988cd0a
        method: DELETE
      response:
        body: '{"created_at":"2024-10-14T14:29:51.991640Z","expires_at":"2024-12-31T23:59:59Z","id":"3fd32b2f-8fa8-4600-a54e-d1158988cd0a","instance_id":"b834f146-16ee-4130-be00-4709d4ac4a22","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-pro2-xxs","region":"fr-par","size":5000000000,"status":"deleting","updated_at":"2024-10-14T14:30:03.889810Z","volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.839054ms
[...]
    - id: 198
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/b834f146-16ee-4130-be00-4709d4ac4a22
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b834f146-16ee-4130-be00-4709d4ac4a22","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.396434ms
[...]
