---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-07T09:47:42.488268Z","dhcp_enabled":true,"id":"e557eb3e-293e-40ca-8cca-c837b8454730","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-03-07T09:47:42.488268Z","id":"592b353e-8a4f-4822-8a1c-aa00688c5173","private_network_id":"e557eb3e-293e-40ca-8cca-c837b8454730","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-03-07T09:47:42.488268Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-03-07T09:47:42.488268Z","id":"a553a78a-cd9b-4713-b68d-c19b57b0f444","private_network_id":"e557eb3e-293e-40ca-8cca-c837b8454730","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fbc9::/64","updated_at":"2025-03-07T09:47:42.488268Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-03-07T09:47:42.488268Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.145410708s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e557eb3e-293e-40ca-8cca-c837b8454730
        method: GET
      response:
        body: '{"created_at":"2025-03-07T09:47:42.488268Z","dhcp_enabled":true,"id":"e557eb3e-293e-40ca-8cca-c837b8454730","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-03-07T09:47:42.488268Z","id":"592b353e-8a4f-4822-8a1c-aa00688c5173","private_network_id":"e557eb3e-293e-40ca-8cca-c837b8454730","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-03-07T09:47:42.488268Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-03-07T09:47:42.488268Z","id":"a553a78a-cd9b-4713-b68d-c19b57b0f444","private_network_id":"e557eb3e-293e-40ca-8cca-c837b8454730","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fbc9::/64","updated_at":"2025-03-07T09:47:42.488268Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-03-07T09:47:42.488268Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.047ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"e557eb3e-293e-40ca-8cca-c837b8454730"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-03-07T09:47:45.851479Z","endpoints":[{"dns_records":["a9f3e303-df91-4e6e-8d18-929e445b0ec1.e557eb3e-293e-40ca-8cca-c837b8454730.internal"],"id":"5776dba3-8789-4d8b-8ff5-08457e86c952","ips":[],"port":27017,"private_network":{"private_network_id":"e557eb3e-293e-40ca-8cca-c837b8454730"}}],"id":"a9f3e303-df91-4e6e-8d18-929e445b0ec1","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 721.019917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/a9f3e303-df91-4e6e-8d18-929e445b0ec1
        method: GET
      response:
        body: '{"created_at":"2025-03-07T09:47:45.851479Z","endpoints":[{"dns_records":["a9f3e303-df91-4e6e-8d18-929e445b0ec1.e557eb3e-293e-40ca-8cca-c837b8454730.internal"],"id":"5776dba3-8789-4d8b-8ff5-08457e86c952","ips":[],"port":27017,"private_network":{"private_network_id":"e557eb3e-293e-40ca-8cca-c837b8454730"}}],"id":"a9f3e303-df91-4e6e-8d18-929e445b0ec1","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.8125ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/a9f3e303-df91-4e6e-8d18-929e445b0ec1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"a9f3e303-df91-4e6e-8d18-929e445b0ec1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.288ms
[...]
