---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-21T13:59:27.075714Z","endpoints":[{"dns_records":["048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504.mgdb.fr-par.scw.cloud"],"id":"8978b6b6-330a-4cab-bd6a-9325361f0dc7","ips":[],"port":27017,"public":{}}],"id":"048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 842.575943ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504
        method: GET
      response:
        body: '{"created_at":"2024-10-21T13:59:27.075714Z","endpoints":[{"dns_records":["048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504.mgdb.fr-par.scw.cloud"],"id":"8978b6b6-330a-4cab-bd6a-9325361f0dc7","ips":[],"port":27017,"public":{}}],"id":"048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.124431ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-21T14:18:43.534339Z","expires_at":"2024-12-31T23:59:59Z","id":"b2f10807-8461-499f-9154-978d52331b82","instance_id":"048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.385706ms
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/b2f10807-8461-499f-9154-978d52331b82
        method: GET
      response:
        body: '{"created_at":"2024-10-21T14:18:43.534339Z","expires_at":"2024-12-31T23:59:59Z","id":"b2f10807-8461-499f-9154-978d52331b82","instance_id":"048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.767061ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"048dd9fe-e4c3-4f49-bbfb-fbaaccd5c504","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.40808ms
[...]
