---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-01-07T13:45:43.037956Z","endpoints":[{"dns_records":["96488f48-40ae-498e-ade0-6239f92bb26b.mgdb.fr-par.scw.cloud"],"id":"31a93c74-c8f7-4606-8095-abf0a7939cbe","ips":[],"port":27017,"public":{}}],"id":"96488f48-40ae-498e-ade0-6239f92bb26b","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.132912875s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/96488f48-40ae-498e-ade0-6239f92bb26b
        method: GET
      response:
        body: '{"created_at":"2025-01-07T13:45:43.037956Z","endpoints":[{"dns_records":["96488f48-40ae-498e-ade0-6239f92bb26b.mgdb.fr-par.scw.cloud"],"id":"31a93c74-c8f7-4606-8095-abf0a7939cbe","ips":[],"port":27017,"public":{}}],"id":"96488f48-40ae-498e-ade0-6239f92bb26b","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.288167ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2025-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/96488f48-40ae-498e-ade0-6239f92bb26b/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-01-07T13:52:37.623051Z","expires_at":"2025-12-31T23:59:59Z","id":"24cbc2cd-5a54-4d5a-960b-169f3cc8198e","instance_id":"96488f48-40ae-498e-ade0-6239f92bb26b","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.58ms
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/24cbc2cd-5a54-4d5a-960b-169f3cc8198e
        method: GET
      response:
        body: '{"created_at":"2025-01-07T13:52:37.623051Z","expires_at":"2025-12-31T23:59:59Z","id":"24cbc2cd-5a54-4d5a-960b-169f3cc8198e","instance_id":"96488f48-40ae-498e-ade0-6239f92bb26b","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.850167ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/96488f48-40ae-498e-ade0-6239f92bb26b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"96488f48-40ae-498e-ade0-6239f92bb26b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.900791ms
[...]
