---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-user","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"initial_user","password":"initial_password123","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-09-04T08:59:56.130254Z","endpoints":[{"dns_record":"2aaa2723-f67f-4a1d-807b-0de1b886cedc.mgdb.fr-par.scw.cloud","id":"923d78ef-27ea-4966-a8ce-94758888e1a9","port":27017,"public_network":{}}],"id":"2aaa2723-f67f-4a1d-807b-0de1b886cedc","name":"test-mongodb-user","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-04T08:59:56.548916Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 912.939375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2aaa2723-f67f-4a1d-807b-0de1b886cedc
        method: GET
      response:
        body: '{"created_at":"2025-09-04T08:59:56.130254Z","endpoints":[{"dns_record":"2aaa2723-f67f-4a1d-807b-0de1b886cedc.mgdb.fr-par.scw.cloud","id":"923d78ef-27ea-4966-a8ce-94758888e1a9","port":27017,"public_network":{}}],"id":"2aaa2723-f67f-4a1d-807b-0de1b886cedc","name":"test-mongodb-user","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-04T08:59:56.548916Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.612542ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2aaa2723-f67f-4a1d-807b-0de1b886cedc/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQU5HRVFDSklVMWUveEl5WVk2TGd6TEl3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnTW1GaFlUSTNNak10WmpZM1ppMDBZVEZrTFRnd04ySXRNR1JsCk1XSTRPRFpqWldSak1CNFhEVEkxTURrd05EQTROVGsxTmxvWERUTTFNRGt3TWpBNE5UazFObG93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBeVlXRmhNamN5TXkxbU5qZG1MVFJoTVdRdE9EQTNZaTB3ClpHVXhZamc0Tm1ObFpHTXdLakFGQmdNclpYQURJUUJpREUxa1JGWUtEZDhIOUVkYTZBVzNHdkpsMGUzaGxLeTQKZGxVN2oyaVgrYU5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlNqdUxhSkdpSk9FdVNsCmhOZWJTZkpzeVFMOVV6QUZCZ01yWlhBRFFRQ2ZPUjlwZXgva2Z4cmpLbFFMUFF2WU5CaTJITVRwMnZYeUVQYksKMlRCeU5ycGVUaWdPU3djaGo3MDZFdnN3Z2dMWXRmZHZYaFN5c1ozL2F1c3JhME1ICi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.265042ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test_user","password":"test_password123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2aaa2723-f67f-4a1d-807b-0de1b886cedc/users
        method: POST
      response:
        body: '{"name":"test_user","roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 450.425208ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"user_name":"test_user","roles":[{"role":"read_write","database_name":"test_db"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2aaa2723-f67f-4a1d-807b-0de1b886cedc/set-user-roles
        method: PUT
      response:
        body: '{"name":"test_user","roles":[{"database_name":"test_db","role":"read_write"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 428.9755ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2aaa2723-f67f-4a1d-807b-0de1b886cedc/users?name=test_user&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"name":"test_user","roles":[{"database_name":"test_db","role":"read_write"}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.901916ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"password":"new_password456"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2aaa2723-f67f-4a1d-807b-0de1b886cedc/users/test_user
        method: PATCH
      response:
        body: '{"name":"test_user","roles":[{"database_name":"test_db","role":"read_write"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.334041ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/2aaa2723-f67f-4a1d-807b-0de1b886cedc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"2aaa2723-f67f-4a1d-807b-0de1b886cedc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.269041ms
[...]
