---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-volume-update1","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-14T14:19:16.669679Z","endpoints":[{"dns_records":["212e27f8-a02d-477e-9b0d-13badca38105.mgdb.fr-par.scw.cloud"],"id":"ad78fabf-fcf5-4d05-abd5-e8f3d67e9d94","ips":[],"port":27017,"public":{}}],"id":"212e27f8-a02d-477e-9b0d-13badca38105","name":"test-mongodb-volume-update1","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.043052ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/212e27f8-a02d-477e-9b0d-13badca38105
        method: GET
      response:
        body: '{"created_at":"2024-10-14T14:19:16.669679Z","endpoints":[{"dns_records":["212e27f8-a02d-477e-9b0d-13badca38105.mgdb.fr-par.scw.cloud"],"id":"ad78fabf-fcf5-4d05-abd5-e8f3d67e9d94","ips":[],"port":27017,"public":{}}],"id":"212e27f8-a02d-477e-9b0d-13badca38105","name":"test-mongodb-volume-update1","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.930305ms
[...]
    - id: 158
      request:
        host: api.scaleway.com
        body: '{"volume_size":10000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/212e27f8-a02d-477e-9b0d-13badca38105/upgrade
        method: POST
      response:
        body: '{"created_at":"2024-10-14T14:19:16.669679Z","endpoints":[{"dns_records":["212e27f8-a02d-477e-9b0d-13badca38105.mgdb.fr-par.scw.cloud"],"id":"ad78fabf-fcf5-4d05-abd5-e8f3d67e9d94","ips":[],"port":27017,"public":{}}],"id":"212e27f8-a02d-477e-9b0d-13badca38105","name":"test-mongodb-volume-update1","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"initializing","tags":[],"version":"7.0.12","volume":{"size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.535511ms
[...]
    - id: 214
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/212e27f8-a02d-477e-9b0d-13badca38105
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"212e27f8-a02d-477e-9b0d-13badca38105","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.088776ms
[...]
