---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-from-snapshot","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-15T12:51:25.477730Z","endpoints":[{"dns_records":["8179d897-9290-4ef6-b38f-d57bdb5fdffd.mgdb.fr-par.scw.cloud"],"id":"8c63d235-6498-452a-ac5b-fda834cfb361","ips":[],"port":27017,"public":{}}],"id":"8179d897-9290-4ef6-b38f-d57bdb5fdffd","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 822.660114ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/8179d897-9290-4ef6-b38f-d57bdb5fdffd
        method: GET
      response:
        body: '{"created_at":"2024-10-15T12:51:25.477730Z","endpoints":[{"dns_records":["8179d897-9290-4ef6-b38f-d57bdb5fdffd.mgdb.fr-par.scw.cloud"],"id":"8c63d235-6498-452a-ac5b-fda834cfb361","ips":[],"port":27017,"public":{}}],"id":"8179d897-9290-4ef6-b38f-d57bdb5fdffd","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.950018ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/8179d897-9290-4ef6-b38f-d57bdb5fdffd/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-15T12:57:24.180508Z","expires_at":"2024-12-31T23:59:59Z","id":"6818fb63-3def-4cad-987f-aae0dbe3b004","instance_id":"8179d897-9290-4ef6-b38f-d57bdb5fdffd","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.162326ms
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=8179d897-9290-4ef6-b38f-d57bdb5fdffd&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2024-10-15T12:57:24.180508Z","expires_at":"2024-12-31T23:59:59Z","id":"6818fb63-3def-4cad-987f-aae0dbe3b004","instance_id":"8179d897-9290-4ef6-b38f-d57bdb5fdffd","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.5206ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: '{"instance_name":"restored-mongodb-from-snapshot","node_type":"MGDB-PLAY2-NANO","node_number":1,"volume":{"volume_type":"sbs_5k"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/6818fb63-3def-4cad-987f-aae0dbe3b004/restore
        method: POST
      response:
        body: '{"created_at":"2024-10-15T12:57:34.796758Z","endpoints":[{"dns_records":["206a710c-2eac-4f09-b7b4-8687f67dda48.mgdb.fr-par.scw.cloud"],"id":"ec263251-3c54-421e-b53f-2d2429afd758","ips":[],"port":27017,"public":{}}],"id":"206a710c-2eac-4f09-b7b4-8687f67dda48","name":"restored-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 619.238238ms
[...]
    - id: 174
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/206a710c-2eac-4f09-b7b4-8687f67dda48
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"206a710c-2eac-4f09-b7b4-8687f67dda48","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.977454ms
    - id: 175
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/6818fb63-3def-4cad-987f-aae0dbe3b004
        method: DELETE
      response:
        body: '{"created_at":"2024-10-15T12:57:24.180508Z","expires_at":"2024-12-31T23:59:59Z","id":"6818fb63-3def-4cad-987f-aae0dbe3b004","instance_id":"8179d897-9290-4ef6-b38f-d57bdb5fdffd","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":5000000000,"status":"deleting","updated_at":"2024-10-15T13:05:02.814585Z","volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.27466ms
[...]
