---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-from-snapshot","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-17T09:02:05.326052Z","endpoints":[{"dns_records":["92beeb9d-ef18-41a8-87a1-50e987c8bd1c.mgdb.fr-par.scw.cloud"],"id":"f397d2d7-4ee8-4da3-becd-d2e3c73165d7","ips":[],"port":27017,"public":{}}],"id":"92beeb9d-ef18-41a8-87a1-50e987c8bd1c","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.486047ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/92beeb9d-ef18-41a8-87a1-50e987c8bd1c
        method: GET
      response:
        body: '{"created_at":"2024-10-17T09:02:05.326052Z","endpoints":[{"dns_records":["92beeb9d-ef18-41a8-87a1-50e987c8bd1c.mgdb.fr-par.scw.cloud"],"id":"f397d2d7-4ee8-4da3-becd-d2e3c73165d7","ips":[],"port":27017,"public":{}}],"id":"92beeb9d-ef18-41a8-87a1-50e987c8bd1c","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.283092ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/92beeb9d-ef18-41a8-87a1-50e987c8bd1c/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-17T09:09:39.488904Z","expires_at":"2024-12-31T23:59:59Z","id":"4f56d4af-eca5-453a-816e-5440cfcd3801","instance_id":"92beeb9d-ef18-41a8-87a1-50e987c8bd1c","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.997885ms
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=92beeb9d-ef18-41a8-87a1-50e987c8bd1c&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2024-10-17T09:09:39.488904Z","expires_at":"2024-12-31T23:59:59Z","id":"4f56d4af-eca5-453a-816e-5440cfcd3801","instance_id":"92beeb9d-ef18-41a8-87a1-50e987c8bd1c","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.973483ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: '{"instance_name":"restored-mongodb-from-snapshot","node_type":"MGDB-PLAY2-NANO","node_number":1,"volume":{"volume_type":"sbs_5k"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/4f56d4af-eca5-453a-816e-5440cfcd3801/restore
        method: POST
      response:
        body: '{"created_at":"2024-10-17T09:09:49.991978Z","endpoints":[{"dns_records":["fde8e567-6e25-4cb8-abf6-62244531ae8b.mgdb.fr-par.scw.cloud"],"id":"04f8da85-0bd7-4f35-9281-4def1ea1ae20","ips":[],"port":27017,"public":{}}],"id":"fde8e567-6e25-4cb8-abf6-62244531ae8b","name":"restored-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 601.482552ms
[...]
    - id: 201
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/fde8e567-6e25-4cb8-abf6-62244531ae8b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"fde8e567-6e25-4cb8-abf6-62244531ae8b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 117.578565ms
    - id: 202
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/4f56d4af-eca5-453a-816e-5440cfcd3801
        method: DELETE
      response:
        body: '{"created_at":"2024-10-17T09:09:39.488904Z","expires_at":"2024-12-31T23:59:59Z","id":"4f56d4af-eca5-453a-816e-5440cfcd3801","instance_id":"92beeb9d-ef18-41a8-87a1-50e987c8bd1c","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":5000000000,"status":"deleting","updated_at":"2024-10-17T09:17:57.301727Z","volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.953957ms
[...]
