---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-24T14:02:48.858366Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-24T14:02:48.858366Z","id":"d03ddb98-3022-481b-9b0f-99dfd72df50d","private_network_id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.216.0/22","updated_at":"2025-07-24T14:02:48.858366Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-24T14:02:48.858366Z","id":"f8488f5a-5e51-4534-9e9d-1669c4159519","private_network_id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:1e95::/64","updated_at":"2025-07-24T14:02:48.858366Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-24T14:02:48.858366Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 922.40025ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9ca9ff7b-832e-4319-b0bd-b78a7be01f2b
        method: GET
      response:
        body: '{"created_at":"2025-07-24T14:02:48.858366Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-24T14:02:48.858366Z","id":"d03ddb98-3022-481b-9b0f-99dfd72df50d","private_network_id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.216.0/22","updated_at":"2025-07-24T14:02:48.858366Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-24T14:02:48.858366Z","id":"f8488f5a-5e51-4534-9e9d-1669c4159519","private_network_id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:1e95::/64","updated_at":"2025-07-24T14:02:48.858366Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-24T14:02:48.858366Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.839916ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-24T14:02:52.228252Z","endpoints":[{"dns_record":"97a25014-d5c7-4cb8-afae-308d13c171cd.9ca9ff7b-832e-4319-b0bd-b78a7be01f2b.internal","id":"75e40765-ec03-4bb3-bf65-92959fec9470","port":27017,"private_network":{"private_network_id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b"}}],"id":"97a25014-d5c7-4cb8-afae-308d13c171cd","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-24T14:02:52.787633Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 655.63625ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/97a25014-d5c7-4cb8-afae-308d13c171cd
        method: GET
      response:
        body: '{"created_at":"2025-07-24T14:02:52.228252Z","endpoints":[{"dns_record":"97a25014-d5c7-4cb8-afae-308d13c171cd.9ca9ff7b-832e-4319-b0bd-b78a7be01f2b.internal","id":"75e40765-ec03-4bb3-bf65-92959fec9470","port":27017,"private_network":{"private_network_id":"9ca9ff7b-832e-4319-b0bd-b78a7be01f2b"}}],"id":"97a25014-d5c7-4cb8-afae-308d13c171cd","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-24T14:02:52.787633Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.297833ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=9ca9ff7b-832e-4319-b0bd-b78a7be01f2b&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=97a25014-d5c7-4cb8-afae-308d13c171cd&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.216.2/22","created_at":"2025-07-24T14:06:11.965074Z","id":"c932c0d8-c90b-43b1-991a-55e536e7794c","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"97a25014-d5c7-4cb8-afae-308d13c171cd","mac_address":"02:00:00:1D:58:6A","name":"97a25014-d5c7-4cb8-afae-308d13c171cd-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"d03ddb98-3022-481b-9b0f-99dfd72df50d"},"tags":[],"updated_at":"2025-07-24T14:11:01.703044Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.753875ms
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/97a25014-d5c7-4cb8-afae-308d13c171cd/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUlsNWlZNnJHK3d0Zit0Q2FQVjc1Z013QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnT1RkaE1qVXdNVFF0WkRWak55MDBZMkk0TFdGbVlXVXRNekE0ClpERXpZekUzTVdOa01CNFhEVEkxTURjeU5ERTBNREkxTWxvWERUTTFNRGN5TWpFME1ESTFNbG93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBNU4yRXlOVEF4TkMxa05XTTNMVFJqWWpndFlXWmhaUzB6Ck1EaGtNVE5qTVRjeFkyUXdLakFGQmdNclpYQURJUUJYNUJDdFdaZFBrME1Kd0owNmJCeGd3ckR5MWZEZlVzcDkKdFhZOUtKMk9ScU5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlFDcTFLc0tXenA5T1YzCm5FMkFoSmRURUMwNktUQUZCZ01yWlhBRFFRQkdKaStqT1FOTVpLYjdiM3ZzdlJEemlrazFUVFRyUnU3S0EwVEUKR1lRdjE2Tk8yVjlHNmRBS1F3a3QxOGxJemVjcStXN2srbkwzVk1JZkF2M2hZUEFPCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.52625ms
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints/75e40765-ec03-4bb3-bf65-92959fec9470
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 206.182125ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: '{"instance_id":"97a25014-d5c7-4cb8-afae-308d13c171cd","endpoint":{"private_network":{"private_network_id":"5470f6d3-12c2-4bdf-81bb-be8236178e0f"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"97a25014-d5c7-4cb8-afae-308d13c171cd.5470f6d3-12c2-4bdf-81bb-be8236178e0f.internal","id":"947149b3-09b3-4f01-90af-965de67ba9c4","port":27017,"private_network":{"private_network_id":"5470f6d3-12c2-4bdf-81bb-be8236178e0f"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.673292ms
[...]
    - id: 134
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/97a25014-d5c7-4cb8-afae-308d13c171cd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"97a25014-d5c7-4cb8-afae-308d13c171cd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.4205ms
[...]
