---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-17T08:21:41.238774Z","endpoints":[{"dns_records":["e9b08b7f-c0bc-4575-bf95-c48526f42e18.mgdb.fr-par.scw.cloud"],"id":"ea92ba62-c993-4540-888f-e24ccfb1dba4","ips":[],"port":27017,"public":{}}],"id":"e9b08b7f-c0bc-4575-bf95-c48526f42e18","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.110495268s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/e9b08b7f-c0bc-4575-bf95-c48526f42e18
        method: GET
      response:
        body: '{"created_at":"2024-10-17T08:21:41.238774Z","endpoints":[{"dns_records":["e9b08b7f-c0bc-4575-bf95-c48526f42e18.mgdb.fr-par.scw.cloud"],"id":"ea92ba62-c993-4540-888f-e24ccfb1dba4","ips":[],"port":27017,"public":{}}],"id":"e9b08b7f-c0bc-4575-bf95-c48526f42e18","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.624461ms
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/e9b08b7f-c0bc-4575-bf95-c48526f42e18/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-17T08:48:16.508458Z","expires_at":"2024-12-31T23:59:59Z","id":"1a4f9b66-549c-41b1-88da-ad197e0a6cfa","instance_id":"e9b08b7f-c0bc-4575-bf95-c48526f42e18","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.48569ms
    - id: 142
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=e9b08b7f-c0bc-4575-bf95-c48526f42e18&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2024-10-17T08:48:16.508458Z","expires_at":"2024-12-31T23:59:59Z","id":"1a4f9b66-549c-41b1-88da-ad197e0a6cfa","instance_id":"e9b08b7f-c0bc-4575-bf95-c48526f42e18","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.623052ms
[...]
    - id: 150
      request:
        host: api.scaleway.com
        body: '{"name":"updated-snapshot","expires_at":"2025-09-20T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/1a4f9b66-549c-41b1-88da-ad197e0a6cfa
        method: POST
      response:
        body: '{"created_at":"2024-10-17T08:48:16.508458Z","expires_at":"2025-09-20T23:59:59Z","id":"1a4f9b66-549c-41b1-88da-ad197e0a6cfa","instance_id":"e9b08b7f-c0bc-4575-bf95-c48526f42e18","instance_name":"test-mongodb-instance","name":"updated-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":5000000000,"status":"ready","updated_at":"2024-10-17T08:48:29.871856Z","volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.489751ms
[...]
    - id: 164
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/e9b08b7f-c0bc-4575-bf95-c48526f42e18
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"e9b08b7f-c0bc-4575-bf95-c48526f42e18","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.153867ms
    - id: 165
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=e9b08b7f-c0bc-4575-bf95-c48526f42e18&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.021846ms
