---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-11T14:02:13.192179Z","dhcp_enabled":true,"id":"4d7fe217-16fb-4492-8236-3cecda97d1cb","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-11T14:02:13.192179Z","id":"7f5919b2-4af4-4655-943f-33854e4b51fc","private_network_id":"4d7fe217-16fb-4492-8236-3cecda97d1cb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-04-11T14:02:13.192179Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-11T14:02:13.192179Z","id":"051b98f7-8bc9-4590-8bea-a4e6e9caada7","private_network_id":"4d7fe217-16fb-4492-8236-3cecda97d1cb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:c3af::/64","updated_at":"2025-04-11T14:02:13.192179Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-11T14:02:13.192179Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 705.037667ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4d7fe217-16fb-4492-8236-3cecda97d1cb
        method: GET
      response:
        body: '{"created_at":"2025-04-11T14:02:13.192179Z","dhcp_enabled":true,"id":"4d7fe217-16fb-4492-8236-3cecda97d1cb","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-11T14:02:13.192179Z","id":"7f5919b2-4af4-4655-943f-33854e4b51fc","private_network_id":"4d7fe217-16fb-4492-8236-3cecda97d1cb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-04-11T14:02:13.192179Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-11T14:02:13.192179Z","id":"051b98f7-8bc9-4590-8bea-a4e6e9caada7","private_network_id":"4d7fe217-16fb-4492-8236-3cecda97d1cb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:c3af::/64","updated_at":"2025-04-11T14:02:13.192179Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-11T14:02:13.192179Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.041583ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"4d7fe217-16fb-4492-8236-3cecda97d1cb"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-04-11T14:02:16.726429Z","endpoints":[{"dns_records":["21d43429-25e9-40c6-8442-e4e93eb1423e.4d7fe217-16fb-4492-8236-3cecda97d1cb.internal"],"id":"c1adbe68-6ff5-49aa-822e-7ff834542134","ips":[],"port":27017,"private_network":{"private_network_id":"4d7fe217-16fb-4492-8236-3cecda97d1cb"}}],"id":"21d43429-25e9-40c6-8442-e4e93eb1423e","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 755.318375ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/21d43429-25e9-40c6-8442-e4e93eb1423e
        method: GET
      response:
        body: '{"created_at":"2025-04-11T14:02:16.726429Z","endpoints":[{"dns_records":["21d43429-25e9-40c6-8442-e4e93eb1423e.4d7fe217-16fb-4492-8236-3cecda97d1cb.internal"],"id":"c1adbe68-6ff5-49aa-822e-7ff834542134","ips":[],"port":27017,"private_network":{"private_network_id":"4d7fe217-16fb-4492-8236-3cecda97d1cb"}}],"id":"21d43429-25e9-40c6-8442-e4e93eb1423e","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.784458ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints/c1adbe68-6ff5-49aa-822e-7ff834542134
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 181.917333ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: '{"instance_id":"21d43429-25e9-40c6-8442-e4e93eb1423e","endpoint":{"private_network":{"private_network_id":"1578de86-f4d2-4dab-be0d-bbf05f2f50ab"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_records":["21d43429-25e9-40c6-8442-e4e93eb1423e.1578de86-f4d2-4dab-be0d-bbf05f2f50ab.internal"],"id":"e74133bc-e87e-4114-91a9-5d9d738d0ebb","ips":[],"port":27017,"private_network":{"private_network_id":"1578de86-f4d2-4dab-be0d-bbf05f2f50ab"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.205834ms
[...]
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/21d43429-25e9-40c6-8442-e4e93eb1423e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"21d43429-25e9-40c6-8442-e4e93eb1423e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 18.370333ms
[...]
