---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-update-initial","version":"7.0.12","tags":["initial_tag1","initial_tag2"],"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"user","password":"initial_password","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-18T10:48:37.327207Z","endpoints":[{"dns_records":["f1834f0c-e241-428e-86f8-798e27d407e0.mgdb.fr-par.scw.cloud"],"id":"e86f80f1-2a88-4cce-a4ba-b64bd94bce1d","ips":[],"port":27017,"public":{}}],"id":"f1834f0c-e241-428e-86f8-798e27d407e0","name":"test-mongodb-update-initial","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":["initial_tag1","initial_tag2"],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 670.413001ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/f1834f0c-e241-428e-86f8-798e27d407e0
        method: GET
      response:
        body: '{"created_at":"2024-10-18T10:48:37.327207Z","endpoints":[{"dns_records":["f1834f0c-e241-428e-86f8-798e27d407e0.mgdb.fr-par.scw.cloud"],"id":"e86f80f1-2a88-4cce-a4ba-b64bd94bce1d","ips":[],"port":27017,"public":{}}],"id":"f1834f0c-e241-428e-86f8-798e27d407e0","name":"test-mongodb-update-initial","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":["initial_tag1","initial_tag2"],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.398675ms
[...]
    - id: 153
      request:
        host: api.scaleway.com
        body: '{"password":"updated_password"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/f1834f0c-e241-428e-86f8-798e27d407e0/users/user
        method: PATCH
      response:
        body: '{"name":"user"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 602.296776ms
[...]
    - id: 169
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/f1834f0c-e241-428e-86f8-798e27d407e0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"f1834f0c-e241-428e-86f8-798e27d407e0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.851693ms
[...]
