---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-24T14:03:03.963085Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-24T14:03:03.963085Z","id":"806f1ddd-0b26-4d27-b8b4-8f4e3a20f4bd","private_network_id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.220.0/22","updated_at":"2025-07-24T14:03:03.963085Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-24T14:03:03.963085Z","id":"433eec67-039e-46cd-ae11-a014e4c0f20c","private_network_id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5836::/64","updated_at":"2025-07-24T14:03:03.963085Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-24T14:03:03.963085Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 912.261542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7e3da6f1-2dac-4009-b8f6-15b6ea368901
        method: GET
      response:
        body: '{"created_at":"2025-07-24T14:03:03.963085Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-24T14:03:03.963085Z","id":"806f1ddd-0b26-4d27-b8b4-8f4e3a20f4bd","private_network_id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.220.0/22","updated_at":"2025-07-24T14:03:03.963085Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-24T14:03:03.963085Z","id":"433eec67-039e-46cd-ae11-a014e4c0f20c","private_network_id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5836::/64","updated_at":"2025-07-24T14:03:03.963085Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-24T14:03:03.963085Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.03625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-public-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901"}},{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-24T14:03:04.727875Z","endpoints":[{"dns_record":"b566ec3a-6a2f-4170-9c24-972a5d877e84.7e3da6f1-2dac-4009-b8f6-15b6ea368901.internal","id":"351aab00-a0b8-4ded-ab85-4a1dd99cb356","port":27017,"private_network":{"private_network_id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901"}},{"dns_record":"b566ec3a-6a2f-4170-9c24-972a5d877e84.mgdb.fr-par.scw.cloud","id":"1fe2eff2-264c-41f8-ac1a-fc8de8416a66","port":27017,"public_network":{}}],"id":"b566ec3a-6a2f-4170-9c24-972a5d877e84","name":"test-mongodb-public-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-24T14:03:04.933525Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.51175ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b566ec3a-6a2f-4170-9c24-972a5d877e84
        method: GET
      response:
        body: '{"created_at":"2025-07-24T14:03:04.727875Z","endpoints":[{"dns_record":"b566ec3a-6a2f-4170-9c24-972a5d877e84.7e3da6f1-2dac-4009-b8f6-15b6ea368901.internal","id":"351aab00-a0b8-4ded-ab85-4a1dd99cb356","port":27017,"private_network":{"private_network_id":"7e3da6f1-2dac-4009-b8f6-15b6ea368901"}},{"dns_record":"b566ec3a-6a2f-4170-9c24-972a5d877e84.mgdb.fr-par.scw.cloud","id":"1fe2eff2-264c-41f8-ac1a-fc8de8416a66","port":27017,"public_network":{}}],"id":"b566ec3a-6a2f-4170-9c24-972a5d877e84","name":"test-mongodb-public-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-24T14:03:04.933525Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.573459ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=7e3da6f1-2dac-4009-b8f6-15b6ea368901&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=b566ec3a-6a2f-4170-9c24-972a5d877e84&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.220.2/22","created_at":"2025-07-24T14:10:03.393321Z","id":"49a86df0-6470-4a62-9c05-bdc8568bed2f","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"b566ec3a-6a2f-4170-9c24-972a5d877e84","mac_address":"02:00:00:18:86:B9","name":"b566ec3a-6a2f-4170-9c24-972a5d877e84-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"806f1ddd-0b26-4d27-b8b4-8f4e3a20f4bd"},"tags":[],"updated_at":"2025-07-24T14:14:06.610270Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.471417ms
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b566ec3a-6a2f-4170-9c24-972a5d877e84/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUs0RDhVK1E2MVNPeWl2dnVhemhUTVl3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnWWpVMk5tVmpNMkV0Tm1FeVppMDBNVGN3TFRsak1qUXRPVGN5CllUVmtPRGMzWlRnME1CNFhEVEkxTURjeU5ERTBNRE13TkZvWERUTTFNRGN5TWpFME1ETXdORm93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNCaU5UWTJaV016WVMwMllUSm1MVFF4TnpBdE9XTXlOQzA1Ck56SmhOV1E0TnpkbE9EUXdLakFGQmdNclpYQURJUUNDWGV2anA3d2dxSXRsbGxiL2JtSnc0TFVQSTFZeUgvNUYKUEx6Wm9pQXlnNk5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlFlMWhGMW1UTHdyWmxPCkdJRkxVdHl3SUFLMnRqQUZCZ01yWlhBRFFRQmpCeUFzamczRUVQTndVdWNYNmtHbWNlL1M0VkUzcGlhMjZ6OEkKaWhENlVGSzF3WU1BeC9MNDh1NzFmUU0vcDBkRm5HTmIrTG55N2t6SE9qOEhrRUVNCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.589375ms
[...]
    - id: 102
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b566ec3a-6a2f-4170-9c24-972a5d877e84
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b566ec3a-6a2f-4170-9c24-972a5d877e84","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.004333ms
[...]
