---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccMongoDBInstance_UpdatePrivateNetwork","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:17:12.528839Z","custom_routes_propagation_enabled":true,"id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4","is_default":false,"name":"TestAccMongoDBInstance_UpdatePrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:17:12.528839Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.686292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1079c365-c78e-4e0b-bcd3-47b9c33377d4
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:17:12.528839Z","custom_routes_propagation_enabled":true,"id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4","is_default":false,"name":"TestAccMongoDBInstance_UpdatePrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:17:12.528839Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.853834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"update_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:17:12.697684Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"acc31da7-38a4-4bac-88cc-93de06e0228e","name":"update_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:17:12.697684Z","id":"b0cac46f-c357-48ab-9ab7-32db196962c0","private_network_id":"acc31da7-38a4-4bac-88cc-93de06e0228e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.156.0/22","updated_at":"2025-09-30T09:17:12.697684Z","vpc_id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4"},{"created_at":"2025-09-30T09:17:12.697684Z","id":"56dafbaf-712e-43b7-8343-b984a60793dd","private_network_id":"acc31da7-38a4-4bac-88cc-93de06e0228e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fb19::/64","updated_at":"2025-09-30T09:17:12.697684Z","vpc_id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4"}],"tags":[],"updated_at":"2025-09-30T09:17:12.697684Z","vpc_id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 635.872125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/acc31da7-38a4-4bac-88cc-93de06e0228e
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:17:12.697684Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"acc31da7-38a4-4bac-88cc-93de06e0228e","name":"update_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:17:12.697684Z","id":"b0cac46f-c357-48ab-9ab7-32db196962c0","private_network_id":"acc31da7-38a4-4bac-88cc-93de06e0228e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.156.0/22","updated_at":"2025-09-30T09:17:12.697684Z","vpc_id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4"},{"created_at":"2025-09-30T09:17:12.697684Z","id":"56dafbaf-712e-43b7-8343-b984a60793dd","private_network_id":"acc31da7-38a4-4bac-88cc-93de06e0228e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:fb19::/64","updated_at":"2025-09-30T09:17:12.697684Z","vpc_id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4"}],"tags":[],"updated_at":"2025-09-30T09:17:12.697684Z","vpc_id":"1079c365-c78e-4e0b-bcd3-47b9c33377d4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.333041ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"267dff78-60fd-4178-ae05-83bf18f4ef6b"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:17:14.331509Z","endpoints":[{"dns_record":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5.267dff78-60fd-4178-ae05-83bf18f4ef6b.internal","id":"c2ba62ad-d392-4e4e-b74d-9112cefc396b","port":27017,"private_network":{"private_network_id":"267dff78-60fd-4178-ae05-83bf18f4ef6b"}}],"id":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T09:17:14.843752Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 641.721417ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/7bd2290d-a6a8-4f87-99a5-deb9c7773bc5
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:17:14.331509Z","endpoints":[{"dns_record":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5.267dff78-60fd-4178-ae05-83bf18f4ef6b.internal","id":"c2ba62ad-d392-4e4e-b74d-9112cefc396b","port":27017,"private_network":{"private_network_id":"267dff78-60fd-4178-ae05-83bf18f4ef6b"}}],"id":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-30T09:17:14.843752Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.747292ms
[...]
    - id: 130
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=267dff78-60fd-4178-ae05-83bf18f4ef6b&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=7bd2290d-a6a8-4f87-99a5-deb9c7773bc5&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.108.2/22","created_at":"2025-09-30T09:27:53.422979Z","id":"fb251a50-a730-4190-8cb0-ef558dfff35f","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5","mac_address":"02:00:00:1D:B7:43","name":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"a6d0eb12-1b75-4c5b-b8c9-45439ea2e942"},"tags":[],"updated_at":"2025-09-30T09:34:37.300279Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.391542ms
    - id: 131
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/7bd2290d-a6a8-4f87-99a5-deb9c7773bc5/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUIvekNDQWJHZ0F3SUJBZ0lRVEhHbDNzQUw1YjhoeWsrWno3LzRTakFGQmdNclpYQXdjREVMTUFrR0ExVUUKQmhNQ1JsSXhEakFNQmdOVkJBY1RCVkJoY21sek1Sa3dGd1lEVlFRS0V4QlRZMkZzWlhkaGVTQk5iMjVuYjBSQwpNVFl3TkFZRFZRUUxFeTFKYm5OMFlXNWpaU0EzWW1ReU1qa3daQzFoTm1FNExUUm1PRGN0T1RsaE5TMWtaV0k1Cll6YzNOek5pWXpVd0hoY05NalV3T1RNd01Ea3hOekUwV2hjTk16VXdPVEk0TURreE56RTBXakJ3TVFzd0NRWUQKVlFRR0V3SkdVakVPTUF3R0ExVUVCeE1GVUdGeWFYTXhHVEFYQmdOVkJBb1RFRk5qWVd4bGQyRjVJRTF2Ym1kdgpSRUl4TmpBMEJnTlZCQXNUTFVsdWMzUmhibU5sSURkaVpESXlPVEJrTFdFMllUZ3ROR1k0TnkwNU9XRTFMV1JsCllqbGpOemMzTTJKak5UQXFNQVVHQXl0bGNBTWhBRE9SUWdueHQrUFN5MUxiTFJsZldkS1dYdkozbGN4TXo4cS8KT29BR0k1RVBvMkV3WHpBT0JnTlZIUThCQWY4RUJBTUNBZ1F3SFFZRFZSMGxCQll3RkFZSUt3WUJCUVVIQXdJRwpDQ3NHQVFVRkJ3TUJNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdIUVlEVlIwT0JCWUVGRm41UFFuendNTWNJWGI0CmpBVFZqVDNQTEM0aE1BVUdBeXRsY0FOQkFHdUJ6VENHWDV3UDVVMFN1VmRRdTlLbDVaN0xWam1nc2RNMDdzNEcKNzJGYnd4Skdjdmw1R2RlRDN0TTlZNEEzb250R1RGUzlJZ05HMmpxT0RJMmNMUTg9Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.285916ms
[...]
    - id: 146
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints/c2ba62ad-d392-4e4e-b74d-9112cefc396b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 198.294667ms
[...]
    - id: 149
      request:
        host: api.scaleway.com
        body: '{"instance_id":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5","endpoint":{"private_network":{"private_network_id":"acc31da7-38a4-4bac-88cc-93de06e0228e"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5.acc31da7-38a4-4bac-88cc-93de06e0228e.internal","id":"348862f1-91b8-4314-95ab-3beda04d4ce8","port":27017,"private_network":{"private_network_id":"acc31da7-38a4-4bac-88cc-93de06e0228e"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.774375ms
[...]
    - id: 182
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints/348862f1-91b8-4314-95ab-3beda04d4ce8
        method: DELETE
      response:
        body: '{"current_state":"error","message":"resource is in a transient state","resource":"instance","resource_id":"7bd2290d-a6a8-4f87-99a5-deb9c7773bc5","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 169.534542ms
[...]
    - id: 191
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/acc31da7-38a4-4bac-88cc-93de06e0228e
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 226.609208ms
[...]
