---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-07T14:34:16.968024Z","dhcp_enabled":true,"id":"0af18196-c0e2-4282-8ba4-7826f987f8e4","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-03-07T14:34:16.968024Z","id":"4bd430f7-5f3f-4798-a4db-5e1bb569adae","private_network_id":"0af18196-c0e2-4282-8ba4-7826f987f8e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-03-07T14:34:16.968024Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-03-07T14:34:16.968024Z","id":"a02ea6e8-0846-479c-8e90-83cb2e213009","private_network_id":"0af18196-c0e2-4282-8ba4-7826f987f8e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b660::/64","updated_at":"2025-03-07T14:34:16.968024Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-03-07T14:34:16.968024Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.043561959s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0af18196-c0e2-4282-8ba4-7826f987f8e4
        method: GET
      response:
        body: '{"created_at":"2025-03-07T14:34:16.968024Z","dhcp_enabled":true,"id":"0af18196-c0e2-4282-8ba4-7826f987f8e4","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-03-07T14:34:16.968024Z","id":"4bd430f7-5f3f-4798-a4db-5e1bb569adae","private_network_id":"0af18196-c0e2-4282-8ba4-7826f987f8e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-03-07T14:34:16.968024Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-03-07T14:34:16.968024Z","id":"a02ea6e8-0846-479c-8e90-83cb2e213009","private_network_id":"0af18196-c0e2-4282-8ba4-7826f987f8e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b660::/64","updated_at":"2025-03-07T14:34:16.968024Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-03-07T14:34:16.968024Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.740834ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"0af18196-c0e2-4282-8ba4-7826f987f8e4"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-03-07T14:34:20.577872Z","endpoints":[{"dns_records":["d0665b47-9007-4641-82fd-02eb3a52049f.0af18196-c0e2-4282-8ba4-7826f987f8e4.internal"],"id":"7952800a-56e7-409f-b26a-60b9e325cbc6","ips":[],"port":27017,"private_network":{"private_network_id":"0af18196-c0e2-4282-8ba4-7826f987f8e4"}}],"id":"d0665b47-9007-4641-82fd-02eb3a52049f","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 448.933459ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/d0665b47-9007-4641-82fd-02eb3a52049f
        method: GET
      response:
        body: '{"created_at":"2025-03-07T14:34:20.577872Z","endpoints":[{"dns_records":["d0665b47-9007-4641-82fd-02eb3a52049f.0af18196-c0e2-4282-8ba4-7826f987f8e4.internal"],"id":"7952800a-56e7-409f-b26a-60b9e325cbc6","ips":[],"port":27017,"private_network":{"private_network_id":"0af18196-c0e2-4282-8ba4-7826f987f8e4"}}],"id":"d0665b47-9007-4641-82fd-02eb3a52049f","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.247166ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints/7952800a-56e7-409f-b26a-60b9e325cbc6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 176.817958ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: '{"instance_id":"d0665b47-9007-4641-82fd-02eb3a52049f","endpoint":{"private_network":{"private_network_id":"949a59cd-0443-4883-8e5f-02d176cc155f"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_records":["d0665b47-9007-4641-82fd-02eb3a52049f.949a59cd-0443-4883-8e5f-02d176cc155f.internal"],"id":"13beff40-d398-407a-95c9-0d4b80875588","ips":[],"port":27017,"private_network":{"private_network_id":"949a59cd-0443-4883-8e5f-02d176cc155f"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.98125ms
[...]
    - id: 129
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/d0665b47-9007-4641-82fd-02eb3a52049f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"d0665b47-9007-4641-82fd-02eb3a52049f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.414541ms
[...]
