---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-from-snapshot","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-21T14:30:07.899256Z","endpoints":[{"dns_records":["9ae1221c-f110-4326-8dd9-e04cc6a99b51.mgdb.fr-par.scw.cloud"],"id":"d9a72b70-a441-484f-88c7-d96b67eb3209","ips":[],"port":27017,"public":{}}],"id":"9ae1221c-f110-4326-8dd9-e04cc6a99b51","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 705.202037ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/9ae1221c-f110-4326-8dd9-e04cc6a99b51
        method: GET
      response:
        body: '{"created_at":"2024-10-21T14:30:07.899256Z","endpoints":[{"dns_records":["9ae1221c-f110-4326-8dd9-e04cc6a99b51.mgdb.fr-par.scw.cloud"],"id":"d9a72b70-a441-484f-88c7-d96b67eb3209","ips":[],"port":27017,"public":{}}],"id":"9ae1221c-f110-4326-8dd9-e04cc6a99b51","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.57917ms
[...]
    - id: 128
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/9ae1221c-f110-4326-8dd9-e04cc6a99b51/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-21T14:41:41.385140Z","expires_at":"2024-12-31T23:59:59Z","id":"3ff836c8-7b0c-4281-8daa-95a8239ee5b0","instance_id":"9ae1221c-f110-4326-8dd9-e04cc6a99b51","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.468602ms
    - id: 129
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/3ff836c8-7b0c-4281-8daa-95a8239ee5b0
        method: GET
      response:
        body: '{"created_at":"2024-10-21T14:41:41.385140Z","expires_at":"2024-12-31T23:59:59Z","id":"3ff836c8-7b0c-4281-8daa-95a8239ee5b0","instance_id":"9ae1221c-f110-4326-8dd9-e04cc6a99b51","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.007456ms
[...]
    - id: 133
      request:
        host: api.scaleway.com
        body: '{"instance_name":"restored-mongodb-from-snapshot","node_type":"MGDB-PLAY2-NANO","node_number":1,"volume":{"volume_type":"sbs_5k"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/3ff836c8-7b0c-4281-8daa-95a8239ee5b0/restore
        method: POST
      response:
        body: '{"created_at":"2024-10-21T14:41:51.969558Z","endpoints":[{"dns_records":["26337fb7-01b9-46ef-9738-52cb5b3156be.mgdb.fr-par.scw.cloud"],"id":"40146d9b-a64b-4254-a64d-0a88c9cbf0fa","ips":[],"port":27017,"public":{}}],"id":"26337fb7-01b9-46ef-9738-52cb5b3156be","name":"restored-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 559.746531ms
[...]
    - id: 261
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/26337fb7-01b9-46ef-9738-52cb5b3156be
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"26337fb7-01b9-46ef-9738-52cb5b3156be","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 624.827104ms
[...]
