---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-user-import","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"initial_user","password":"initial_password123","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-09-04T13:16:34.186075Z","endpoints":[{"dns_record":"b2f7166a-e945-4be4-98ab-223e93204082.mgdb.fr-par.scw.cloud","id":"3852b5e3-1c28-4877-a2ce-5daadb8757b6","port":27017,"public_network":{}}],"id":"b2f7166a-e945-4be4-98ab-223e93204082","name":"test-mongodb-user-import","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-04T13:16:34.603783Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 808.140459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2f7166a-e945-4be4-98ab-223e93204082
        method: GET
      response:
        body: '{"created_at":"2025-09-04T13:16:34.186075Z","endpoints":[{"dns_record":"b2f7166a-e945-4be4-98ab-223e93204082.mgdb.fr-par.scw.cloud","id":"3852b5e3-1c28-4877-a2ce-5daadb8757b6","port":27017,"public_network":{}}],"id":"b2f7166a-e945-4be4-98ab-223e93204082","name":"test-mongodb-user-import","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-04T13:16:34.603783Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.937833ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2f7166a-e945-4be4-98ab-223e93204082/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUtUZzE0TU9EK1VISm9ORGR0UlBkdTR3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnWWpKbU56RTJObUV0WlRrME5TMDBZbVUwTFRrNFlXSXRNakl6ClpUa3pNakEwTURneU1CNFhEVEkxTURrd05ERXpNVFl6TkZvWERUTTFNRGt3TWpFek1UWXpORm93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNCaU1tWTNNVFkyWVMxbE9UUTFMVFJpWlRRdE9UaGhZaTB5Ck1qTmxPVE15TURRd09ESXdLakFGQmdNclpYQURJUURMbG5qNnBMdHlRODRlQ0E1Zi9NU1pSTm1CdHBVQnpuRWcKMU5YOExqK3o4cU5oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlQ0d2RuckswbFpHZzdPClVlUkUrMHFKSEdES0ZEQUZCZ01yWlhBRFFRQXJYWFMxSWdOeTZYZnQ1N1hHeVJMSlNvT1owU0dHOXlHL0gra1kKdENBakNzUXhHZDE3cEdjcEhpNUYvQ1ltM25OUnNNQ2FGcmNyZHpNT0hTdWs1VU1KCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.322625ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"name":"import_user","password":"import_password123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2f7166a-e945-4be4-98ab-223e93204082/users
        method: POST
      response:
        body: '{"name":"import_user","roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.398166ms
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"user_name":"import_user","roles":[{"role":"read","any_database":true},{"role":"db_admin","database_name":"admin"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2f7166a-e945-4be4-98ab-223e93204082/set-user-roles
        method: PUT
      response:
        body: '{"name":"import_user","roles":[{"any_database":true,"role":"read"},{"database_name":"admin","role":"db_admin"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 515.118292ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2f7166a-e945-4be4-98ab-223e93204082/users?name=import_user&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"name":"import_user","roles":[{"any_database":true,"role":"read"},{"database_name":"admin","role":"db_admin"}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 378.604917ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2f7166a-e945-4be4-98ab-223e93204082/users/import_user
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 427.7475ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b2f7166a-e945-4be4-98ab-223e93204082
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b2f7166a-e945-4be4-98ab-223e93204082","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.983083ms
[...]
