---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-01-07T10:10:51.438962Z","endpoints":[{"dns_records":["d16e720c-1d4e-4f1d-927e-32e6c363215c.mgdb.fr-par.scw.cloud"],"id":"825e5d98-b414-4ead-b5b7-9c0d5d402bda","ips":[],"port":27017,"public":{}}],"id":"d16e720c-1d4e-4f1d-927e-32e6c363215c","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.055756959s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/d16e720c-1d4e-4f1d-927e-32e6c363215c
        method: GET
      response:
        body: '{"created_at":"2025-01-07T10:10:51.438962Z","endpoints":[{"dns_records":["d16e720c-1d4e-4f1d-927e-32e6c363215c.mgdb.fr-par.scw.cloud"],"id":"825e5d98-b414-4ead-b5b7-9c0d5d402bda","ips":[],"port":27017,"public":{}}],"id":"d16e720c-1d4e-4f1d-927e-32e6c363215c","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.442333ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2025-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/d16e720c-1d4e-4f1d-927e-32e6c363215c/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-01-07T10:17:46.292465Z","expires_at":"2025-12-31T23:59:59Z","id":"4405bc55-de11-40f2-92b5-3549649991c0","instance_id":"d16e720c-1d4e-4f1d-927e-32e6c363215c","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.364917ms
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/4405bc55-de11-40f2-92b5-3549649991c0
        method: GET
      response:
        body: '{"created_at":"2025-01-07T10:17:46.292465Z","expires_at":"2025-12-31T23:59:59Z","id":"4405bc55-de11-40f2-92b5-3549649991c0","instance_id":"d16e720c-1d4e-4f1d-927e-32e6c363215c","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.024166ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/d16e720c-1d4e-4f1d-927e-32e6c363215c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"d16e720c-1d4e-4f1d-927e-32e6c363215c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.872416ms
[...]
