---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-user-password-wo","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"initial_user","password":"initial_password123","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2026-02-04T13:53:52.531551Z","endpoints":[{"dns_record":"87c71732-3c0f-4f67-b5ef-3f04be46a275.mgdb.fr-par.scw.cloud","id":"87e74cb1-62bf-477f-b292-85c58cefa6f0","port":27017,"public_network":{}}],"id":"87c71732-3c0f-4f67-b5ef-3f04be46a275","name":"test-mongodb-user-password-wo","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-02-04T13:53:52.931207Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 736.132328ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/87c71732-3c0f-4f67-b5ef-3f04be46a275
        method: GET
      response:
        body: '{"created_at":"2026-02-04T13:53:52.531551Z","endpoints":[{"dns_record":"87c71732-3c0f-4f67-b5ef-3f04be46a275.mgdb.fr-par.scw.cloud","id":"87e74cb1-62bf-477f-b292-85c58cefa6f0","port":27017,"public_network":{}}],"id":"87c71732-3c0f-4f67-b5ef-3f04be46a275","name":"test-mongodb-user-password-wo","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2026-02-04T13:53:52.931207Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.464462ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/87c71732-3c0f-4f67-b5ef-3f04be46a275/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUIvekNDQWJHZ0F3SUJBZ0lRYlY2VFRZWFJxSzM3T05jdUNJOWxMVEFGQmdNclpYQXdjREVMTUFrR0ExVUUKQmhNQ1JsSXhEakFNQmdOVkJBY1RCVkJoY21sek1Sa3dGd1lEVlFRS0V4QlRZMkZzWlhkaGVTQk5iMjVuYjBSQwpNVFl3TkFZRFZRUUxFeTFKYm5OMFlXNWpaU0E0TjJNM01UY3pNaTB6WXpCbUxUUm1OamN0WWpWbFppMHpaakEwClltVTBObUV5TnpVd0hoY05Nall3TWpBME1UTTFNelV5V2hjTk16WXdNakF5TVRNMU16VXlXakJ3TVFzd0NRWUQKVlFRR0V3SkdVakVPTUF3R0ExVUVCeE1GVUdGeWFYTXhHVEFYQmdOVkJBb1RFRk5qWVd4bGQyRjVJRTF2Ym1kdgpSRUl4TmpBMEJnTlZCQXNUTFVsdWMzUmhibU5sSURnM1l6Y3hOek15TFROak1HWXROR1kyTnkxaU5XVm1MVE5tCk1EUmlaVFEyWVRJM05UQXFNQVVHQXl0bGNBTWhBTkdKNVJXSEltQUZnQTZsQ2VNYTYrY0JYMDRxbk5ncGNiSFcKS1hVZitwK1NvMkV3WHpBT0JnTlZIUThCQWY4RUJBTUNBZ1F3SFFZRFZSMGxCQll3RkFZSUt3WUJCUVVIQXdJRwpDQ3NHQVFVRkJ3TUJNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdIUVlEVlIwT0JCWUVGSUtGbXNXRnJEL0xpd3dkCmo5ZGhmd09lU29pck1BVUdBeXRsY0FOQkFIbk4yaWNwY21zS0tPN280QXlMb2hPL3dHbVZwTU1YdngrZGpkS1IKbURMMHJQdXM0UlM1eDB1eDBBbDlhaXZkT044NmhiZG8xVVkwMXE1ZWZCNG44Z0k9Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.242489ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test_user_wo","password":"thiZ_is_v\u0026ry_s3cret_WO_1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/87c71732-3c0f-4f67-b5ef-3f04be46a275/users
        method: POST
      response:
        body: '{"name":"test_user_wo","roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 617.981268ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"user_name":"test_user_wo","roles":[{"role":"read_write","database_name":"test_db"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/87c71732-3c0f-4f67-b5ef-3f04be46a275/set-user-roles
        method: PUT
      response:
        body: '{"name":"test_user_wo","roles":[{"database_name":"test_db","role":"read_write"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 491.915182ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/87c71732-3c0f-4f67-b5ef-3f04be46a275/users?name=test_user_wo&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"name":"test_user_wo","roles":[{"database_name":"test_db","role":"read_write"}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.89627ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"password":"thiZ_is_v\u0026ry_s3cret_WO_2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/87c71732-3c0f-4f67-b5ef-3f04be46a275/users/test_user_wo
        method: PATCH
      response:
        body: '{"name":"test_user_wo","roles":[{"database_name":"test_db","role":"read_write"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.391297ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/87c71732-3c0f-4f67-b5ef-3f04be46a275
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"87c71732-3c0f-4f67-b5ef-3f04be46a275","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.322825ms
[...]
