---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-from-snapshot","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-03-28T11:03:22.038383Z","endpoints":[{"dns_records":["e8d3797b-f272-461a-9ce2-f90a65bcce48.mgdb.fr-par.scw.cloud"],"id":"91999506-52c2-4a8e-b267-a0b9c8bc7957","ips":[],"port":27017,"public":{}}],"id":"e8d3797b-f272-461a-9ce2-f90a65bcce48","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 877.074708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/e8d3797b-f272-461a-9ce2-f90a65bcce48
        method: GET
      response:
        body: '{"created_at":"2025-03-28T11:03:22.038383Z","endpoints":[{"dns_records":["e8d3797b-f272-461a-9ce2-f90a65bcce48.mgdb.fr-par.scw.cloud"],"id":"91999506-52c2-4a8e-b267-a0b9c8bc7957","ips":[],"port":27017,"public":{}}],"id":"e8d3797b-f272-461a-9ce2-f90a65bcce48","name":"test-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.7255ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2026-03-20T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/e8d3797b-f272-461a-9ce2-f90a65bcce48/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-03-28T11:12:01.063359Z","expires_at":"2026-03-20T23:59:59Z","id":"75952cf1-9013-4fa4-a222-5f737c5b7b53","instance_id":"e8d3797b-f272-461a-9ce2-f90a65bcce48","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.071458ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/75952cf1-9013-4fa4-a222-5f737c5b7b53
        method: GET
      response:
        body: '{"created_at":"2025-03-28T11:12:01.063359Z","expires_at":"2026-03-20T23:59:59Z","id":"75952cf1-9013-4fa4-a222-5f737c5b7b53","instance_id":"e8d3797b-f272-461a-9ce2-f90a65bcce48","instance_name":"test-mongodb-from-snapshot","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.416875ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"instance_name":"restored-mongodb-from-snapshot","node_type":"MGDB-PLAY2-NANO","node_number":1,"volume":{"volume_type":"sbs_5k"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/75952cf1-9013-4fa4-a222-5f737c5b7b53/restore
        method: POST
      response:
        body: '{"created_at":"2025-03-28T11:47:11.805489Z","endpoints":[{"dns_records":["c11a79bb-895c-4cab-af1e-2cc84eb514d4.mgdb.fr-par.scw.cloud"],"id":"943d4893-e57a-44ca-a7f5-d57a33a208e8","ips":[],"port":27017,"public":{}}],"id":"c11a79bb-895c-4cab-af1e-2cc84eb514d4","name":"restored-mongodb-from-snapshot","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 652.659875ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/c11a79bb-895c-4cab-af1e-2cc84eb514d4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"c11a79bb-895c-4cab-af1e-2cc84eb514d4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.034792ms
[...]
