---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"update_private_network\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[\"pn02\"],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"e062f128-8db9-4d66-8f86-8cc1cce66730\",\"name\":\"update_private_network\",\"tags\":[\"pn02\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T15:29:46.660385Z\",\"updated_at\":\"2025-09-23T15:29:46.660385Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"d9a2a5c5-269e-46fd-b95e-f4041f849188\",\"created_at\":\"2025-09-23T15:29:46.660385Z\",\"updated_at\":\"2025-09-23T15:29:46.660385Z\",\"subnet\":\"172.17.36.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"e062f128-8db9-4d66-8f86-8cc1cce66730\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"e90ab64d-65ec-4d3b-a0d9-6c5081a01cb5\",\"created_at\":\"2025-09-23T15:29:46.660385Z\",\"updated_at\":\"2025-09-23T15:29:46.660385Z\",\"subnet\":\"fd5f:519c:6d46:1dcf::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"e062f128-8db9-4d66-8f86-8cc1cce66730\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.817849246s
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f18655ac-d107-45d9-8027-def527dc7049
    method: GET
  response:
    body: "{\"id\":\"f18655ac-d107-45d9-8027-def527dc7049\",\"name\":\"my_private_network\",\"tags\":[\"pn01\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T15:29:46.752668Z\",\"updated_at\":\"2025-09-23T15:29:46.752668Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"3c4f80eb-25de-40c8-9d63-88aaf6cce355\",\"created_at\":\"2025-09-23T15:29:46.752668Z\",\"updated_at\":\"2025-09-23T15:29:46.752668Z\",\"subnet\":\"172.16.252.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f18655ac-d107-45d9-8027-def527dc7049\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"9a97cd56-afb5-4dab-9419-08adbd692890\",\"created_at\":\"2025-09-23T15:29:46.752668Z\",\"updated_at\":\"2025-09-23T15:29:46.752668Z\",\"subnet\":\"fd5f:519c:6d46:3280::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f18655ac-d107-45d9-8027-def527dc7049\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.989494ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-mongodb-private-network\",\"version\":\"7.0\",\"tags\":null,\"node_amount\":1,\"node_type\":\"MGDB-PLAY2-NANO\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"private_network\":{\"private_network_id\":\"f18655ac-d107-45d9-8027-def527dc7049\"}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"43d2b601-e194-4e27-bc8f-38c0966b8475\",\"name\":\"test-mongodb-private-network\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"ecfe102e-05cf-479d-8fce-f2ccbdadf099\",\"dns_record\":\"43d2b601-e194-4e27-bc8f-38c0966b8475.f18655ac-d107-45d9-8027-def527dc7049.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"f18655ac-d107-45d9-8027-def527dc7049\"}}],\"created_at\":\"2025-09-23T15:29:48.941277Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-09-23T15:29:49.479409Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 669.45166ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/43d2b601-e194-4e27-bc8f-38c0966b8475
    method: GET
  response:
    body: "{\"id\":\"43d2b601-e194-4e27-bc8f-38c0966b8475\",\"name\":\"test-mongodb-private-network\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"organization_id\":\"\",\"status\":\"provisioning\",\"version\":\"7.0\",\"tags\":[],\"node_amount\":1,\"node_type\":\"mgdb-play2-nano\",\"volume\":{\"type\":\"sbs_5k\",\"size_bytes\":5000000000},\"endpoints\":[{\"id\":\"ecfe102e-05cf-479d-8fce-f2ccbdadf099\",\"dns_record\":\"43d2b601-e194-4e27-bc8f-38c0966b8475.f18655ac-d107-45d9-8027-def527dc7049.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"f18655ac-d107-45d9-8027-def527dc7049\"}}],\"created_at\":\"2025-09-23T15:29:48.941277Z\",\"snapshot_schedule\":{\"frequency_hours\":24,\"retention_days\":7,\"enabled\":false,\"next_update\":\"2025-09-23T15:29:49.479409Z\",\"last_run\":null},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 309.918481ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - f18655ac-d107-45d9-8027-def527dc7049
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_id:
      - 43d2b601-e194-4e27-bc8f-38c0966b8475
      resource_type:
      - mgdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=f18655ac-d107-45d9-8027-def527dc7049&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=43d2b601-e194-4e27-bc8f-38c0966b8475&resource_type=mgdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"c2480ca2-3989-49c7-9378-af3871b03844\",\"address\":\"172.16.252.2/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T15:31:37.492799Z\",\"updated_at\":\"2025-09-23T15:32:27.145567Z\",\"source\":{\"subnet_id\":\"3c4f80eb-25de-40c8-9d63-88aaf6cce355\"},\"resource\":{\"type\":\"mgdb_instance\",\"id\":\"43d2b601-e194-4e27-bc8f-38c0966b8475\",\"mac_address\":\"02:00:00:1F:26:09\",\"name\":\"43d2b601-e194-4e27-bc8f-38c0966b8475-0\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 313.069354ms
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/43d2b601-e194-4e27-bc8f-38c0966b8475/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUIvekNDQWJHZ0F3SUJBZ0lRSFJJSlRnYURJUXpyazI0YUNaUWFoREFGQmdNclpYQXdjREVMTUFrR0ExVUUKQmhNQ1JsSXhEakFNQmdOVkJBY1RCVkJoY21sek1Sa3dGd1lEVlFRS0V4QlRZMkZzWlhkaGVTQk5iMjVuYjBSQwpNVFl3TkFZRFZRUUxFeTFKYm5OMFlXNWpaU0EwTTJReVlqWXdNUzFsTVRrMExUUmxNamN0WW1NNFppMHpPR013Ck9UWTJZamcwTnpVd0hoY05NalV3T1RJek1UVXlPVFE1V2hjTk16VXdPVEl4TVRVeU9UUTVXakJ3TVFzd0NRWUQKVlFRR0V3SkdVakVPTUF3R0ExVUVCeE1GVUdGeWFYTXhHVEFYQmdOVkJBb1RFRk5qWVd4bGQyRjVJRTF2Ym1kdgpSRUl4TmpBMEJnTlZCQXNUTFVsdWMzUmhibU5sSURRelpESmlOakF4TFdVeE9UUXROR1V5TnkxaVl6aG1MVE00Cll6QTVOalppT0RRM05UQXFNQVVHQXl0bGNBTWhBQzJ2OGNBL20zVFpUTkFGUFdjckFhS1VzbHNKZElabEJZN2IKL0JVZnduRDBvMkV3WHpBT0JnTlZIUThCQWY4RUJBTUNBZ1F3SFFZRFZSMGxCQll3RkFZSUt3WUJCUVVIQXdJRwpDQ3NHQVFVRkJ3TUJNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdIUVlEVlIwT0JCWUVGRWtCTzV6Ri9UaGFVVzlrCi9FR2laZk1zN05uM01BVUdBeXRsY0FOQkFJRHhxanZHSkNUQ3BoNVVBWWNCUUFXWnI0OU5WVGo4U084OTNDOXYKS0xleFErWE9WWDI0TERQc29KRzVuSi9Mc2czRzkrZUZtTjZHckdacFBSbmdOd289Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 504.277531ms
[...]
- id: 50
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints/ecfe102e-05cf-479d-8fce-f2ccbdadf099
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 235.036865ms
[...]
- id: 54
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"43d2b601-e194-4e27-bc8f-38c0966b8475\",\"endpoint\":{\"private_network\":{\"private_network_id\":\"e062f128-8db9-4d66-8f86-8cc1cce66730\"}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/endpoints
    method: POST
  response:
    body: "{\"id\":\"ead5a830-7333-4d08-a8a5-855bf2a481f9\",\"dns_record\":\"43d2b601-e194-4e27-bc8f-38c0966b8475.e062f128-8db9-4d66-8f86-8cc1cce66730.internal\",\"port\":27017,\"private_network\":{\"private_network_id\":\"e062f128-8db9-4d66-8f86-8cc1cce66730\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 278.769785ms
[...]
- id: 109
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/43d2b601-e194-4e27-bc8f-38c0966b8475
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"43d2b601-e194-4e27-bc8f-38c0966b8475\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.864118ms
[...]
