---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-user-import","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"initial_user","password":"initial_password123","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-09-08T08:49:08.127551Z","endpoints":[{"dns_record":"4ba2f7cc-4a37-4565-8a58-8c40e5145401.mgdb.fr-par.scw.cloud","id":"62faaba0-4ccb-4dfd-9e74-78dae6839f2d","port":27017,"public_network":{}}],"id":"4ba2f7cc-4a37-4565-8a58-8c40e5145401","name":"test-mongodb-user-import","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-08T08:49:08.311633Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 505.292959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4ba2f7cc-4a37-4565-8a58-8c40e5145401
        method: GET
      response:
        body: '{"created_at":"2025-09-08T08:49:08.127551Z","endpoints":[{"dns_record":"4ba2f7cc-4a37-4565-8a58-8c40e5145401.mgdb.fr-par.scw.cloud","id":"62faaba0-4ccb-4dfd-9e74-78dae6839f2d","port":27017,"public_network":{}}],"id":"4ba2f7cc-4a37-4565-8a58-8c40e5145401","name":"test-mongodb-user-import","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-09-08T08:49:08.311633Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.174458ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4ba2f7cc-4a37-4565-8a58-8c40e5145401/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNBRENDQWJLZ0F3SUJBZ0lSQUt3eWZFTUhqVHU0emJzZ1hYNFo5RjB3QlFZREsyVndNSEF4Q3pBSkJnTlYKQkFZVEFrWlNNUTR3REFZRFZRUUhFd1ZRWVhKcGN6RVpNQmNHQTFVRUNoTVFVMk5oYkdWM1lYa2dUVzl1WjI5RQpRakUyTURRR0ExVUVDeE10U1c1emRHRnVZMlVnTkdKaE1tWTNZMk10TkdFek55MDBOVFkxTFRoaE5UZ3RPR00wCk1HVTFNVFExTkRBeE1CNFhEVEkxTURrd09EQTRORGt3T0ZvWERUTTFNRGt3TmpBNE5Ea3dPRm93Y0RFTE1Ba0cKQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWNUQlZCaGNtbHpNUmt3RndZRFZRUUtFeEJUWTJGc1pYZGhlU0JOYjI1bgpiMFJDTVRZd05BWURWUVFMRXkxSmJuTjBZVzVqWlNBMFltRXlaamRqWXkwMFlUTTNMVFExTmpVdE9HRTFPQzA0Cll6UXdaVFV4TkRVME1ERXdLakFGQmdNclpYQURJUURKeGlkQ1dkU3RieG9vN3dnL28rVW5CVENZMGducUF6VjMKbENaQkZ1eHlFS05oTUY4d0RnWURWUjBQQVFIL0JBUURBZ0lFTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQwpCZ2dyQmdFRkJRY0RBVEFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlFCNHRHZGRYRy9pcjY2ClBuNDBPeDhEMmVjYlZUQUZCZ01yWlhBRFFRQnBjdG5wYURmaXpKdVZ5Y0hCNGN0UnFSVGo2b09wVkRESis3czUKQ1ZZK3h0NUdISC96ZmQ5dFIxUXB5RjdRMFhxb2d0ZE5pdXh5NG5CREhYaHVKek1KCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K","content_type":"application/x-pem-file","name":"ssl_certificate"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.680709ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"import_user","password":"import_password123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4ba2f7cc-4a37-4565-8a58-8c40e5145401/users
        method: POST
      response:
        body: '{"name":"import_user","roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 549.509917ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"user_name":"import_user","roles":[{"role":"read","any_database":true},{"role":"db_admin","database_name":"admin"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4ba2f7cc-4a37-4565-8a58-8c40e5145401/set-user-roles
        method: PUT
      response:
        body: '{"name":"import_user","roles":[{"any_database":true,"role":"read"},{"database_name":"admin","role":"db_admin"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 614.685ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4ba2f7cc-4a37-4565-8a58-8c40e5145401/users?name=import_user&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"name":"import_user","roles":[{"any_database":true,"role":"read"},{"database_name":"admin","role":"db_admin"}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 365.924167ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4ba2f7cc-4a37-4565-8a58-8c40e5145401/users/import_user
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 660.728875ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/4ba2f7cc-4a37-4565-8a58-8c40e5145401
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"4ba2f7cc-4a37-4565-8a58-8c40e5145401","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.306666ms
[...]
