---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:44:21.977894Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-21T12:44:21.977894Z","id":"19c103df-30ce-4f28-89f6-345179948836","private_network_id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-07-21T12:44:21.977894Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-21T12:44:21.977894Z","id":"98a7bf38-cabd-4620-b00c-51ea7b26e095","private_network_id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a40a::/64","updated_at":"2025-07-21T12:44:21.977894Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-21T12:44:21.977894Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 874.944792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f4c962c7-58c1-46da-96c7-5f5c61e59a26
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:44:21.977894Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-21T12:44:21.977894Z","id":"19c103df-30ce-4f28-89f6-345179948836","private_network_id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-07-21T12:44:21.977894Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-21T12:44:21.977894Z","id":"98a7bf38-cabd-4620-b00c-51ea7b26e095","private_network_id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a40a::/64","updated_at":"2025-07-21T12:44:21.977894Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-21T12:44:21.977894Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.360791ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:44:25.295214Z","endpoints":[{"dns_record":"18b71a3e-fcc4-44f6-b7b9-ab7e4a694499.f4c962c7-58c1-46da-96c7-5f5c61e59a26.internal","id":"d183a30e-c249-4a7f-94c6-31fdcf0c4124","port":27017,"private_network":{"private_network_id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26"}}],"id":"18b71a3e-fcc4-44f6-b7b9-ab7e4a694499","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:44:25.797107Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 651.282083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/18b71a3e-fcc4-44f6-b7b9-ab7e4a694499
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:44:25.295214Z","endpoints":[{"dns_record":"18b71a3e-fcc4-44f6-b7b9-ab7e4a694499.f4c962c7-58c1-46da-96c7-5f5c61e59a26.internal","id":"d183a30e-c249-4a7f-94c6-31fdcf0c4124","port":27017,"private_network":{"private_network_id":"f4c962c7-58c1-46da-96c7-5f5c61e59a26"}}],"id":"18b71a3e-fcc4-44f6-b7b9-ab7e4a694499","name":"test-mongodb-private-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:44:25.797107Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.576125ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=f4c962c7-58c1-46da-96c7-5f5c61e59a26&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=18b71a3e-fcc4-44f6-b7b9-ab7e4a694499&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.124.2/22","created_at":"2025-07-21T12:50:27.342044Z","id":"1d181543-2a30-4503-a699-ccc6c293395c","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"18b71a3e-fcc4-44f6-b7b9-ab7e4a694499","mac_address":"02:00:00:1B:07:CA","name":"18b71a3e-fcc4-44f6-b7b9-ab7e4a694499-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"19c103df-30ce-4f28-89f6-345179948836"},"tags":[],"updated_at":"2025-07-21T12:59:29.673019Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.020167ms
[...]
    - id: 160
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/18b71a3e-fcc4-44f6-b7b9-ab7e4a694499
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"18b71a3e-fcc4-44f6-b7b9-ab7e4a694499","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.769917ms
[...]
