---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-basic1","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-14T14:40:44.082518Z","endpoints":[{"dns_records":["7ae4f1d3-af91-4b9d-8020-3cc65b9af2d7.mgdb.fr-par.scw.cloud"],"id":"0d1b4b09-b794-4747-9434-1725b4a55fb8","ips":[],"port":27017,"public":{}}],"id":"7ae4f1d3-af91-4b9d-8020-3cc65b9af2d7","name":"test-mongodb-basic1","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.621423ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/7ae4f1d3-af91-4b9d-8020-3cc65b9af2d7
        method: GET
      response:
        body: '{"created_at":"2024-10-14T14:40:44.082518Z","endpoints":[{"dns_records":["7ae4f1d3-af91-4b9d-8020-3cc65b9af2d7.mgdb.fr-par.scw.cloud"],"id":"0d1b4b09-b794-4747-9434-1725b4a55fb8","ips":[],"port":27017,"public":{}}],"id":"7ae4f1d3-af91-4b9d-8020-3cc65b9af2d7","name":"test-mongodb-basic1","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.50883ms
[...]
    - id: 151
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/7ae4f1d3-af91-4b9d-8020-3cc65b9af2d7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"7ae4f1d3-af91-4b9d-8020-3cc65b9af2d7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.161672ms
[...]
