---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T13:10:19.662754Z","endpoints":[{"dns_record":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6.mgdb.fr-par.scw.cloud","id":"c5a63e12-8324-48e1-bfa9-5e6e2efaf9c2","port":27017,"public_network":{}}],"id":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6","name":"test-mongodb-instance","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T13:10:20.178990Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 766.428208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/f1f147cd-4ab3-4495-aeb1-46faf445e5c6
        method: GET
      response:
        body: '{"created_at":"2025-07-21T13:10:19.662754Z","endpoints":[{"dns_record":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6.mgdb.fr-par.scw.cloud","id":"c5a63e12-8324-48e1-bfa9-5e6e2efaf9c2","port":27017,"public_network":{}}],"id":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6","name":"test-mongodb-instance","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T13:10:20.178990Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.104834ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: '{"instance_id":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6","name":"test-snapshot","expires_at":"2025-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-07-21T13:27:34.379424Z","expires_at":"2025-12-31T23:59:59Z","id":"35bbf600-073d-47d2-b25b-9515a6bbfe23","instance_id":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size_bytes":0,"status":"creating","updated_at":"2025-07-21T13:27:34.379424Z","volume_type":"sbs_5k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.364625ms
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots/35bbf600-073d-47d2-b25b-9515a6bbfe23
        method: GET
      response:
        body: '{"created_at":"2025-07-21T13:27:34.379424Z","expires_at":"2025-12-31T23:59:59Z","id":"35bbf600-073d-47d2-b25b-9515a6bbfe23","instance_id":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size_bytes":0,"status":"creating","updated_at":"2025-07-21T13:27:34.379424Z","volume_type":"sbs_5k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.682167ms
[...]
    - id: 158
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/f1f147cd-4ab3-4495-aeb1-46faf445e5c6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"f1f147cd-4ab3-4495-aeb1-46faf445e5c6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.037625ms
[...]
