---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:45:29.888Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a8418690-5bff-4330-b3bd-287b797553f3","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-21T12:45:29.888Z","id":"20bc2f7d-3156-4877-8c73-277513e585b9","private_network_id":"a8418690-5bff-4330-b3bd-287b797553f3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.180.0/22","updated_at":"2025-07-21T12:45:29.888Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-21T12:45:29.888Z","id":"9642cb67-f84e-4b72-ace7-76271e8dad2a","private_network_id":"a8418690-5bff-4330-b3bd-287b797553f3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a52d::/64","updated_at":"2025-07-21T12:45:29.888Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-21T12:45:29.888Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.375172125s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a8418690-5bff-4330-b3bd-287b797553f3
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:45:29.888Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a8418690-5bff-4330-b3bd-287b797553f3","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-21T12:45:29.888Z","id":"20bc2f7d-3156-4877-8c73-277513e585b9","private_network_id":"a8418690-5bff-4330-b3bd-287b797553f3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.180.0/22","updated_at":"2025-07-21T12:45:29.888Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-07-21T12:45:29.888Z","id":"9642cb67-f84e-4b72-ace7-76271e8dad2a","private_network_id":"a8418690-5bff-4330-b3bd-287b797553f3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a52d::/64","updated_at":"2025-07-21T12:45:29.888Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-07-21T12:45:29.888Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.93875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-public-network","version":"7.0","tags":null,"node_amount":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"a8418690-5bff-4330-b3bd-287b797553f3"}},{"public_network":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-07-21T12:45:30.717704Z","endpoints":[{"dns_record":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe.a8418690-5bff-4330-b3bd-287b797553f3.internal","id":"60850196-5241-449d-8439-63d726d82527","port":27017,"private_network":{"private_network_id":"a8418690-5bff-4330-b3bd-287b797553f3"}},{"dns_record":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe.mgdb.fr-par.scw.cloud","id":"4fb9fcd0-da58-4747-ac87-759844239f79","port":27017,"public_network":{}}],"id":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe","name":"test-mongodb-public-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:45:30.933165Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 441.085416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b00b7c48-7358-4aa1-bc36-d10a7ed59ffe
        method: GET
      response:
        body: '{"created_at":"2025-07-21T12:45:30.717704Z","endpoints":[{"dns_record":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe.a8418690-5bff-4330-b3bd-287b797553f3.internal","id":"60850196-5241-449d-8439-63d726d82527","port":27017,"private_network":{"private_network_id":"a8418690-5bff-4330-b3bd-287b797553f3"}},{"dns_record":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe.mgdb.fr-par.scw.cloud","id":"4fb9fcd0-da58-4747-ac87-759844239f79","port":27017,"public_network":{}}],"id":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe","name":"test-mongodb-public-network","node_amount":1,"node_type":"mgdb-play2-nano","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","snapshot_schedule":{"enabled":false,"frequency_hours":24,"last_run":null,"next_update":"2025-07-21T12:45:30.933165Z","retention_days":7},"status":"provisioning","tags":[],"version":"7.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.774375ms
[...]
    - id: 144
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a8418690-5bff-4330-b3bd-287b797553f3&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=b00b7c48-7358-4aa1-bc36-d10a7ed59ffe&resource_type=mgdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.180.2/22","created_at":"2025-07-21T12:58:35.321304Z","id":"1ddf5686-f1e4-4afd-a44e-14dca4b1bf34","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe","mac_address":"02:00:00:1B:F8:11","name":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe-0","type":"mgdb_instance"},"reverses":[],"source":{"subnet_id":"20bc2f7d-3156-4877-8c73-277513e585b9"},"tags":[],"updated_at":"2025-07-21T13:07:14.585043Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.974042ms
[...]
    - id: 153
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/b00b7c48-7358-4aa1-bc36-d10a7ed59ffe
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"b00b7c48-7358-4aa1-bc36-d10a7ed59ffe","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.977792ms
[...]
