---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-21T14:37:42.070145Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"07c2c448-29a1-418b-ba90-da811aa91b03","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-05-21T14:37:42.070145Z","id":"2eab5aa9-789a-4e32-b02d-b7cdc0ca4b3c","private_network_id":"07c2c448-29a1-418b-ba90-da811aa91b03","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-05-21T14:37:42.070145Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-05-21T14:37:42.070145Z","id":"bf047bfc-37b2-4def-b40a-4cfce548ae51","private_network_id":"07c2c448-29a1-418b-ba90-da811aa91b03","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:47c7::/64","updated_at":"2025-05-21T14:37:42.070145Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-05-21T14:37:42.070145Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.652085459s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/07c2c448-29a1-418b-ba90-da811aa91b03
        method: GET
      response:
        body: '{"created_at":"2025-05-21T14:37:42.070145Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"07c2c448-29a1-418b-ba90-da811aa91b03","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-05-21T14:37:42.070145Z","id":"2eab5aa9-789a-4e32-b02d-b7cdc0ca4b3c","private_network_id":"07c2c448-29a1-418b-ba90-da811aa91b03","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-05-21T14:37:42.070145Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-05-21T14:37:42.070145Z","id":"bf047bfc-37b2-4def-b40a-4cfce548ae51","private_network_id":"07c2c448-29a1-418b-ba90-da811aa91b03","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:47c7::/64","updated_at":"2025-05-21T14:37:42.070145Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-05-21T14:37:42.070145Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.015792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-public-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"07c2c448-29a1-418b-ba90-da811aa91b03"}},{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-05-21T14:37:43.086559Z","endpoints":[{"dns_records":["43ab9f60-ff56-46c9-96cc-2de9a45af9a4.07c2c448-29a1-418b-ba90-da811aa91b03.internal"],"id":"c889a68c-df2c-4abc-be64-a1f0b3356040","ips":[],"port":27017,"private_network":{"private_network_id":"07c2c448-29a1-418b-ba90-da811aa91b03"}},{"dns_records":["43ab9f60-ff56-46c9-96cc-2de9a45af9a4.mgdb.fr-par.scw.cloud"],"id":"68d012c9-acbb-4bf5-a343-b0fbff34e32e","ips":[],"port":27017,"public":{}}],"id":"43ab9f60-ff56-46c9-96cc-2de9a45af9a4","name":"test-mongodb-public-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 897.757667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/43ab9f60-ff56-46c9-96cc-2de9a45af9a4
        method: GET
      response:
        body: '{"created_at":"2025-05-21T14:37:43.086559Z","endpoints":[{"dns_records":["43ab9f60-ff56-46c9-96cc-2de9a45af9a4.07c2c448-29a1-418b-ba90-da811aa91b03.internal"],"id":"c889a68c-df2c-4abc-be64-a1f0b3356040","ips":[],"port":27017,"private_network":{"private_network_id":"07c2c448-29a1-418b-ba90-da811aa91b03"}},{"dns_records":["43ab9f60-ff56-46c9-96cc-2de9a45af9a4.mgdb.fr-par.scw.cloud"],"id":"68d012c9-acbb-4bf5-a343-b0fbff34e32e","ips":[],"port":27017,"public":{}}],"id":"43ab9f60-ff56-46c9-96cc-2de9a45af9a4","name":"test-mongodb-public-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.458ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/43ab9f60-ff56-46c9-96cc-2de9a45af9a4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"43ab9f60-ff56-46c9-96cc-2de9a45af9a4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.674834ms
[...]
