---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-15T08:33:07.007391Z","dhcp_enabled":true,"id":"457e5f65-c92c-41a7-b149-44135c58c411","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-15T08:33:07.007391Z","id":"2d1662e8-e093-40ae-bd43-c61648b58427","private_network_id":"457e5f65-c92c-41a7-b149-44135c58c411","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-04-15T08:33:07.007391Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-15T08:33:07.007391Z","id":"f7545b0a-a3c1-4673-942f-95542d1ce71b","private_network_id":"457e5f65-c92c-41a7-b149-44135c58c411","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2e29::/64","updated_at":"2025-04-15T08:33:07.007391Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-15T08:33:07.007391Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.270247708s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/457e5f65-c92c-41a7-b149-44135c58c411
        method: GET
      response:
        body: '{"created_at":"2025-04-15T08:33:07.007391Z","dhcp_enabled":true,"id":"457e5f65-c92c-41a7-b149-44135c58c411","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-15T08:33:07.007391Z","id":"2d1662e8-e093-40ae-bd43-c61648b58427","private_network_id":"457e5f65-c92c-41a7-b149-44135c58c411","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-04-15T08:33:07.007391Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-15T08:33:07.007391Z","id":"f7545b0a-a3c1-4673-942f-95542d1ce71b","private_network_id":"457e5f65-c92c-41a7-b149-44135c58c411","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2e29::/64","updated_at":"2025-04-15T08:33:07.007391Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-15T08:33:07.007391Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.993208ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-private-network","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"457e5f65-c92c-41a7-b149-44135c58c411"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2025-04-15T08:33:10.700892Z","endpoints":[{"dns_records":["a192d37e-487e-4838-afb0-9ccd6fce21e5.457e5f65-c92c-41a7-b149-44135c58c411.internal"],"id":"76a226d2-f63b-479e-81cd-fc6be8f6fc1d","ips":[],"port":27017,"private_network":{"private_network_id":"457e5f65-c92c-41a7-b149-44135c58c411"}}],"id":"a192d37e-487e-4838-afb0-9ccd6fce21e5","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 572.996709ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/a192d37e-487e-4838-afb0-9ccd6fce21e5
        method: GET
      response:
        body: '{"created_at":"2025-04-15T08:33:10.700892Z","endpoints":[{"dns_records":["a192d37e-487e-4838-afb0-9ccd6fce21e5.457e5f65-c92c-41a7-b149-44135c58c411.internal"],"id":"76a226d2-f63b-479e-81cd-fc6be8f6fc1d","ips":[],"port":27017,"private_network":{"private_network_id":"457e5f65-c92c-41a7-b149-44135c58c411"}}],"id":"a192d37e-487e-4838-afb0-9ccd6fce21e5","name":"test-mongodb-private-network","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.624375ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/endpoints/76a226d2-f63b-479e-81cd-fc6be8f6fc1d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 219.026625ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/a192d37e-487e-4838-afb0-9ccd6fce21e5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"a192d37e-487e-4838-afb0-9ccd6fce21e5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.359209ms
[...]
