---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mongodb-instance","version":"7.0.12","tags":null,"node_number":1,"node_type":"MGDB-PLAY2-NANO","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","volume":{"volume_size":5000000000,"volume_type":"sbs_5k"},"endpoints":[{"public":{}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances
        method: POST
      response:
        body: '{"created_at":"2024-10-17T08:49:04.533930Z","endpoints":[{"dns_records":["279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a.mgdb.fr-par.scw.cloud"],"id":"48de235a-990e-4c69-97f0-6fc1c50883fe","ips":[],"port":27017,"public":{}}],"id":"279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 619.172238ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a
        method: GET
      response:
        body: '{"created_at":"2024-10-17T08:49:04.533930Z","endpoints":[{"dns_records":["279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a.mgdb.fr-par.scw.cloud"],"id":"48de235a-990e-4c69-97f0-6fc1c50883fe","ips":[],"port":27017,"public":{}}],"id":"279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a","name":"test-mongodb-instance","node_number":1,"node_type":"mgdb-play2-nano","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"provisioning","tags":[],"version":"7.0.12","volume":{"size":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.184416ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot","expires_at":"2024-12-31T23:59:59Z"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a/snapshots
        method: POST
      response:
        body: '{"created_at":"2024-10-17T08:56:02.254042Z","expires_at":"2024-12-31T23:59:59Z","id":"2e03d6be-e7ac-4768-a872-f27136749ca9","instance_id":"279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.29454ms
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2024-10-17T08:56:02.254042Z","expires_at":"2024-12-31T23:59:59Z","id":"2e03d6be-e7ac-4768-a872-f27136749ca9","instance_id":"279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":0,"status":"creating","updated_at":null,"volume_type":{"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.149456ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots/2e03d6be-e7ac-4768-a872-f27136749ca9
        method: DELETE
      response:
        body: '{"created_at":"2024-10-17T08:56:02.254042Z","expires_at":"2024-12-31T23:59:59Z","id":"2e03d6be-e7ac-4768-a872-f27136749ca9","instance_id":"279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a","instance_name":"test-mongodb-instance","name":"test-snapshot","node_type":"mgdb-play2-nano","region":"fr-par","size":5000000000,"status":"deleting","updated_at":"2024-10-17T08:56:14.149828Z","volume_type":{"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.893242ms
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/instances/279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.823508ms
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/snapshots?instance_id=279e9fb3-9eeb-4cee-aaaf-ef0f5b690f5a&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.136837ms
