---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.925348ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-db","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-08-24T14:26:28.700767Z","endpoints":[{"dns_record":"9dcc80ca-fc12-4589-b370-6ca90e07993e.dtwh.fr-par.scw.cloud","id":"4e1fb5c3-551d-4863-af5d-af7b0892044d","public":{},"region":"fr-par","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"9dcc80ca-fc12-4589-b370-6ca90e07993e","move_factor":0.1,"name":"tf-test-deploy-db","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.91473ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.624373ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/9dcc80ca-fc12-4589-b370-6ca90e07993e
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-08-24T14:26:28.700767Z","endpoints":[{"dns_record":"9dcc80ca-fc12-4589-b370-6ca90e07993e.dtwh.fr-par.scw.cloud","id":"4e1fb5c3-551d-4863-af5d-af7b0892044d","public":{},"region":"fr-par","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"9dcc80ca-fc12-4589-b370-6ca90e07993e","move_factor":0.1,"name":"tf-test-deploy-db","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.063506ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"testdb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/9dcc80ca-fc12-4589-b370-6ca90e07993e/databases
        method: POST
      response:
        body: '{"deployment_id":"9dcc80ca-fc12-4589-b370-6ca90e07993e","name":"testdb","region":"fr-par","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 390.917313ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/9dcc80ca-fc12-4589-b370-6ca90e07993e/databases?name=testdb&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"deployment_id":"9dcc80ca-fc12-4589-b370-6ca90e07993e","name":"testdb","region":"fr-par","size":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.320628635s
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/9dcc80ca-fc12-4589-b370-6ca90e07993e/databases/testdb
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 415.382945ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/9dcc80ca-fc12-4589-b370-6ca90e07993e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"9dcc80ca-fc12-4589-b370-6ca90e07993e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100.490434ms
[...]
