---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.422708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-db","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2025-10-27T05:33:03.973138Z","endpoints":[{"dns_record":"bd2a2f19-a410-40da-b7fb-965c42150fd3.dtwh.fr-par.scw.cloud","id":"f5088e68-b539-4ddd-a4db-91278b6e39b9","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"bd2a2f19-a410-40da-b7fb-965c42150fd3","name":"tf-test-deploy-db","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 457.125042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/bd2a2f19-a410-40da-b7fb-965c42150fd3
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2025-10-27T05:33:03.973138Z","endpoints":[{"dns_record":"bd2a2f19-a410-40da-b7fb-965c42150fd3.dtwh.fr-par.scw.cloud","id":"f5088e68-b539-4ddd-a4db-91278b6e39b9","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"bd2a2f19-a410-40da-b7fb-965c42150fd3","name":"tf-test-deploy-db","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.648083ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"testdb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/bd2a2f19-a410-40da-b7fb-965c42150fd3/databases
        method: POST
      response:
        body: '{"name":"testdb","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.828375ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/bd2a2f19-a410-40da-b7fb-965c42150fd3/databases?name=testdb&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"name":"testdb","size":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.256167ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/bd2a2f19-a410-40da-b7fb-965c42150fd3/databases/testdb
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 213.638334ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/bd2a2f19-a410-40da-b7fb-965c42150fd3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"bd2a2f19-a410-40da-b7fb-965c42150fd3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 90.388375ms
[...]
