---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.333042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-password-wo","tags":["terraform-test","scaleway_datawarehouse_deployment","password_wo"],"version":"v25","replica_count":1,"password":"thiZ_is_v\u0026ry_s3cret_WO","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-03-26T14:39:23.299277Z","endpoints":[{"dns_record":"f3f7463f-7831-4506-b9b0-ba7b1f481043.dtwh.fr-par.scw.cloud","id":"93c0753f-c3c2-4f7f-964e-6a2521ea4981","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"f3f7463f-7831-4506-b9b0-ba7b1f481043","name":"tf-test-deploy-password-wo","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":["terraform-test","scaleway_datawarehouse_deployment","password_wo"],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.716792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/f3f7463f-7831-4506-b9b0-ba7b1f481043
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-03-26T14:39:23.299277Z","endpoints":[{"dns_record":"f3f7463f-7831-4506-b9b0-ba7b1f481043.dtwh.fr-par.scw.cloud","id":"93c0753f-c3c2-4f7f-964e-6a2521ea4981","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"f3f7463f-7831-4506-b9b0-ba7b1f481043","name":"tf-test-deploy-password-wo","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":["terraform-test","scaleway_datawarehouse_deployment","password_wo"],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.613875ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/f3f7463f-7831-4506-b9b0-ba7b1f481043/users?order_by=name_asc&page_size=100
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":true,"name":"scwadmin"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.2705ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"password":"thiZ_is_@n0th3r_s3cret_WO"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/f3f7463f-7831-4506-b9b0-ba7b1f481043/users/scwadmin
        method: PATCH
      response:
        body: '{"is_admin":true,"name":"scwadmin"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.035875ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/f3f7463f-7831-4506-b9b0-ba7b1f481043
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"f3f7463f-7831-4506-b9b0-ba7b1f481043","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 105.517ms
[...]
