---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2027-03-26T00:00:00Z","version":"v26"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 457.926667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-deploy-move-factor","tags":null,"version":"v26","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4,"move_factor":0.2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-10-08T09:28:55.934877Z","endpoints":[{"dns_record":"791da99f-63d2-4c6c-b641-7e88d09dc068.dtwh.fr-par.scw.cloud","id":"5179dbc9-7815-475c-b3eb-71eab86a8f75","public":{},"region":"fr-par","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}],"srn":""}],"id":"791da99f-63d2-4c6c-b641-7e88d09dc068","move_factor":0.2,"name":"tf-test-deploy-move-factor","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"srn":"","status":"creating","tags":[],"updated_at":null,"version":"v26"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 464.574833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.008833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/791da99f-63d2-4c6c-b641-7e88d09dc068
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-10-08T09:28:55.934877Z","endpoints":[{"dns_record":"791da99f-63d2-4c6c-b641-7e88d09dc068.dtwh.fr-par.scw.cloud","id":"5179dbc9-7815-475c-b3eb-71eab86a8f75","public":{},"region":"fr-par","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}],"srn":""}],"id":"791da99f-63d2-4c6c-b641-7e88d09dc068","move_factor":0.2,"name":"tf-test-deploy-move-factor","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"srn":"","status":"creating","tags":[],"updated_at":null,"version":"v26"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 146.095209ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/791da99f-63d2-4c6c-b641-7e88d09dc068
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"791da99f-63d2-4c6c-b641-7e88d09dc068","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 91.358208ms
[...]
