---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.801208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDeployment_WithoutPublicNetwork","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-23T13:35:34.153759Z","custom_routes_propagation_enabled":true,"id":"8729e576-c245-48cb-93a1-986597f34eaf","is_default":false,"name":"TestAccDeployment_WithoutPublicNetwork","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-23T13:35:34.153759Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.775167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8729e576-c245-48cb-93a1-986597f34eaf
        method: GET
      response:
        body: '{"created_at":"2026-07-23T13:35:34.153759Z","custom_routes_propagation_enabled":true,"id":"8729e576-c245-48cb-93a1-986597f34eaf","is_default":false,"name":"TestAccDeployment_WithoutPublicNetwork","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-23T13:35:34.153759Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.302959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"8729e576-c245-48cb-93a1-986597f34eaf","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-23T13:35:34.327741Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"770ff3e9-7b02-44ae-b240-4be6ca382e38","name":"my_private_network","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2026-07-23T13:35:34.327741Z","id":"9ecaf5ad-d166-436f-82d7-2474c8480c78","private_network_id":"770ff3e9-7b02-44ae-b240-4be6ca382e38","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnet":"172.16.4.0/22","updated_at":"2026-07-23T13:35:34.327741Z","vpc_id":"8729e576-c245-48cb-93a1-986597f34eaf"},{"created_at":"2026-07-23T13:35:34.327741Z","id":"23224d3d-1bf1-41aa-a2e7-da25abd69c07","private_network_id":"770ff3e9-7b02-44ae-b240-4be6ca382e38","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnet":"fd49:821a:a311:3148::/64","updated_at":"2026-07-23T13:35:34.327741Z","vpc_id":"8729e576-c245-48cb-93a1-986597f34eaf"}],"tags":[],"updated_at":"2026-07-23T13:35:34.327741Z","vpc_id":"8729e576-c245-48cb-93a1-986597f34eaf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 516.081792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/770ff3e9-7b02-44ae-b240-4be6ca382e38
        method: GET
      response:
        body: '{"created_at":"2026-07-23T13:35:34.327741Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"770ff3e9-7b02-44ae-b240-4be6ca382e38","name":"my_private_network","organization_id":"951df375-e094-4d26-97c1-ba548[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-test-deploy-without-public","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"private_network":{"private_network_id":"770ff3e9-7b02-44ae-b240-4be6ca382e38","nodes":null}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-07-23T13:35:34.881759Z","endpoints":[{"dns_record":"c5ce45f6-7378-465b-ad99-1e4aaa8282a5.770ff3e9-7b02-44ae-b240-4be6ca382e38.internal","id":"86e1dc6d-aa49-4ea3-bd84-c76a49ab73d8","private_network":{"nodes":[],"private_network_id":"770ff3e9-7b02-44ae-b240-4be6ca382e38"},"region":"","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"c5ce45f6-7378-465b-ad99-1e4aaa8282a5","move_factor":0.1,"name":"tf-test-deploy-without-public","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 539.010959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/c5ce45f6-7378-465b-ad99-1e4aaa8282a5
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-07-23T13:35:34.881759Z","endpoints":[{"dns_record":"c5ce45f6-7378-465b-ad99-1e4aaa8282a5.770ff3e9-7b02-44ae-b240-4be6ca382e38.internal","id":"86e1dc6d-aa49-4ea3-bd84-c76a49ab73d8","private_network":{"nodes":[],"private_network_id":"770ff3e9-7b02-44ae-b240-4be6ca382e38"},"region":"","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"c5ce45f6-7378-465b-ad99-1e4aaa8282a5","move_factor":0.1,"name":"tf-test-deploy-without-public","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.190833ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/c5ce45f6-7378-465b-ad99-1e4aaa8282a5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"c5ce45f6-7378-465b-ad99-1e4aaa8282a5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 136.125708ms
[...]
