---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.382667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-start-stop","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-03-26T15:03:10.303511Z","endpoints":[{"dns_record":"982cba2d-9c2f-459a-9b1f-de583e86a2ce.dtwh.fr-par.scw.cloud","id":"f160c2a0-4c73-4634-8744-19ada870ccab","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"982cba2d-9c2f-459a-9b1f-de583e86a2ce","name":"tf-test-deploy-start-stop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 548.466917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/982cba2d-9c2f-459a-9b1f-de583e86a2ce
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-03-26T15:03:10.303511Z","endpoints":[{"dns_record":"982cba2d-9c2f-459a-9b1f-de583e86a2ce.dtwh.fr-par.scw.cloud","id":"f160c2a0-4c73-4634-8744-19ada870ccab","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"982cba2d-9c2f-459a-9b1f-de583e86a2ce","name":"tf-test-deploy-start-stop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.567792ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/982cba2d-9c2f-459a-9b1f-de583e86a2ce/stop
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-03-26T15:03:10.303511Z","endpoints":[],"id":"982cba2d-9c2f-459a-9b1f-de583e86a2ce","name":"tf-test-deploy-start-stop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"stopping","tags":[],"updated_at":"2026-03-26T15:06:14.691304Z","version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.582292ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/982cba2d-9c2f-459a-9b1f-de583e86a2ce/start
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-03-26T15:03:10.303511Z","endpoints":[],"id":"982cba2d-9c2f-459a-9b1f-de583e86a2ce","name":"tf-test-deploy-start-stop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"starting","tags":[],"updated_at":"2026-03-26T15:07:48.725921Z","version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.369916ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/982cba2d-9c2f-459a-9b1f-de583e86a2ce
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"982cba2d-9c2f-459a-9b1f-de583e86a2ce","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 266.549625ms
[...]
