---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.720334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDeployment_WithPrivateNetwork","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-05T14:41:43.650094Z","custom_routes_propagation_enabled":true,"id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29","is_default":false,"name":"TestAccDeployment_WithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-05T14:41:43.650094Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.291459ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ab4fbb83-a479-4e61-b241-1149c1cf7c29
        method: GET
      response:
        body: '{"created_at":"2026-02-05T14:41:43.650094Z","custom_routes_propagation_enabled":true,"id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29","is_default":false,"name":"TestAccDeployment_WithPrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-05T14:41:43.650094Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.38825ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-05T14:41:44.015032Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-05T14:41:44.015032Z","id":"31aee389-c9e7-4c7e-acc9-1beb87afa73f","private_network_id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.156.0/22","updated_at":"2026-02-05T14:41:44.015032Z","vpc_id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29"},{"created_at":"2026-02-05T14:41:44.015032Z","id":"a2a4da18-bed2-4c85-b31d-368e7f0af5a7","private_network_id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:caf4::/64","updated_at":"2026-02-05T14:41:44.015032Z","vpc_id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29"}],"tags":[],"updated_at":"2026-02-05T14:41:44.015032Z","vpc_id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 678.8495ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3e0d77b5-4435-4453-bfbe-32dc7feaff82
        method: GET
      response:
        body: '{"created_at":"2026-02-05T14:41:44.015032Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-05T14:41:44.015032Z","id":"31aee389-c9e7-4c7e-acc9-1beb87afa73f","private_network_id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.156.0/22","updated_at":"2026-02-05T14:41:44.015032Z","vpc_id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29"},{"created_at":"2026-02-05T14:41:44.015032Z","id":"a2a4da18-bed2-4c85-b31d-368e7f0af5a7","private_network_id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:caf4::/64","updated_at":"2026-02-05T14:41:44.015032Z","vpc_id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29"}],"tags":[],"updated_at":"2026-02-05T14:41:44.015032Z","vpc_id":"ab4fbb83-a479-4e61-b241-1149c1cf7c29"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.16225ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-private-network","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}},{"private_network":{"private_network_id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82"}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-02-05T14:41:44.792449Z","endpoints":[{"dns_record":"6cb76a8e-c5a1-4481-881b-23f2d06b229e.dtwh.fr-par.scw.cloud","id":"2ed2db5a-2825-4b11-9a73-1cf1a64d4277","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]},{"dns_record":"6cb76a8e-c5a1-4481-881b-23f2d06b229e.3e0d77b5-4435-4453-bfbe-32dc7feaff82.internal","id":"b0edfcec-8cb5-4d0c-929f-ecd92db400a1","private_network":{"private_network_id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82"},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"6cb76a8e-c5a1-4481-881b-23f2d06b229e","name":"tf-test-deploy-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.726542ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/6cb76a8e-c5a1-4481-881b-23f2d06b229e
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-02-05T14:41:44.792449Z","endpoints":[{"dns_record":"6cb76a8e-c5a1-4481-881b-23f2d06b229e.dtwh.fr-par.scw.cloud","id":"2ed2db5a-2825-4b11-9a73-1cf1a64d4277","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]},{"dns_record":"6cb76a8e-c5a1-4481-881b-23f2d06b229e.3e0d77b5-4435-4453-bfbe-32dc7feaff82.internal","id":"b0edfcec-8cb5-4d0c-929f-ecd92db400a1","private_network":{"private_network_id":"3e0d77b5-4435-4453-bfbe-32dc7feaff82"},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"6cb76a8e-c5a1-4481-881b-23f2d06b229e","name":"tf-test-deploy-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.8035ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/6cb76a8e-c5a1-4481-881b-23f2d06b229e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"6cb76a8e-c5a1-4481-881b-23f2d06b229e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.284458ms
[...]
