---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.712ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-basic","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2025-10-22T09:00:51.415904Z","endpoints":[{"dns_record":"81528a9e-5f5e-4612-a801-6befba9f3b43.dtwh.fr-par.scw.cloud","id":"c40cbd45-bf9e-4a27-8e2f-bc189815de20","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"81528a9e-5f5e-4612-a801-6befba9f3b43","name":"tf-test-deploy-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.9155ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/81528a9e-5f5e-4612-a801-6befba9f3b43
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2025-10-22T09:00:51.415904Z","endpoints":[{"dns_record":"81528a9e-5f5e-4612-a801-6befba9f3b43.dtwh.fr-par.scw.cloud","id":"c40cbd45-bf9e-4a27-8e2f-bc189815de20","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"81528a9e-5f5e-4612-a801-6befba9f3b43","name":"tf-test-deploy-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.364375ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/81528a9e-5f5e-4612-a801-6befba9f3b43
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"81528a9e-5f5e-4612-a801-6befba9f3b43","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.964667ms
[...]
