---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.761584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-shard-count","tags":null,"version":"v25","replica_count":1,"shard_count":2,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-05-12T08:55:11.603642Z","endpoints":[{"dns_record":"668f074a-a9dc-412a-bc9d-8542ed2ff616.dtwh.fr-par.scw.cloud","id":"bf561141-1cf1-4701-a51e-5bcc75fef8fb","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"668f074a-a9dc-412a-bc9d-8542ed2ff616","name":"tf-test-deploy-shard-count","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":2,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.386125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/668f074a-a9dc-412a-bc9d-8542ed2ff616
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-05-12T08:55:11.603642Z","endpoints":[{"dns_record":"668f074a-a9dc-412a-bc9d-8542ed2ff616.dtwh.fr-par.scw.cloud","id":"bf561141-1cf1-4701-a51e-5bcc75fef8fb","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"668f074a-a9dc-412a-bc9d-8542ed2ff616","name":"tf-test-deploy-shard-count","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":2,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.265291ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/668f074a-a9dc-412a-bc9d-8542ed2ff616
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"668f074a-a9dc-412a-bc9d-8542ed2ff616","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 204.303167ms
[...]
