---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.332868ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-user","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-08-24T16:16:54.718058Z","endpoints":[{"dns_record":"a32e5859-1350-473d-b913-ac4bdfa3ad02.dtwh.fr-par.scw.cloud","id":"9e691b10-82d6-4144-b712-3425830c176c","public":{},"region":"fr-par","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"a32e5859-1350-473d-b913-ac4bdfa3ad02","move_factor":0.1,"name":"tf-test-deploy-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 429.683823ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.992194ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/a32e5859-1350-473d-b913-ac4bdfa3ad02
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2026-08-24T16:16:54.718058Z","endpoints":[{"dns_record":"a32e5859-1350-473d-b913-ac4bdfa3ad02.dtwh.fr-par.scw.cloud","id":"9e691b10-82d6-4144-b712-3425830c176c","public":{},"region":"fr-par","services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"a32e5859-1350-473d-b913-ac4bdfa3ad02","move_factor":0.1,"name":"tf-test-deploy-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"shard_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.133353ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_user","password":"userPassword@123","is_admin":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/a32e5859-1350-473d-b913-ac4bdfa3ad02/users
        method: POST
      response:
        body: '{"deployment_id":"","is_admin":false,"name":"tf_test_user","region":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.811024ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/a32e5859-1350-473d-b913-ac4bdfa3ad02/users?name=tf_test_user&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"deployment_id":"","is_admin":false,"name":"tf_test_user","region":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.148859ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"is_admin":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/a32e5859-1350-473d-b913-ac4bdfa3ad02/users/tf_test_user
        method: PATCH
      response:
        body: '{"deployment_id":"","is_admin":true,"name":"tf_test_user","region":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.440138ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/a32e5859-1350-473d-b913-ac4bdfa3ad02
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"a32e5859-1350-473d-b913-ac4bdfa3ad02","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.909447ms
[...]
