---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"end_of_life_at":"2026-03-21T00:00:00Z","version":"v25"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.360375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-deploy-user","tags":null,"version":"v25","replica_count":1,"password":"password@1234567","cpu_min":2,"cpu_max":4,"endpoints":[{"public":{}}],"ram_per_cpu":4}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2025-10-30T14:00:13.949908Z","endpoints":[{"dns_record":"c962a16d-f2af-4988-b068-6e7ae240f17c.dtwh.fr-par.scw.cloud","id":"430ff4b2-8196-492d-b20d-57681487995f","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"c962a16d-f2af-4988-b068-6e7ae240f17c","name":"tf-test-deploy-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.180185084s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/c962a16d-f2af-4988-b068-6e7ae240f17c
        method: GET
      response:
        body: '{"cpu_max":4,"cpu_min":2,"created_at":"2025-10-30T14:00:13.949908Z","endpoints":[{"dns_record":"c962a16d-f2af-4988-b068-6e7ae240f17c.dtwh.fr-par.scw.cloud","id":"430ff4b2-8196-492d-b20d-57681487995f","public":{},"services":[{"port":8443,"protocol":"https"},{"port":9004,"protocol":"mysql"},{"port":9440,"protocol":"tcp"}]}],"id":"c962a16d-f2af-4988-b068-6e7ae240f17c","name":"tf-test-deploy-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ram_per_cpu":4,"region":"fr-par","replica_count":1,"status":"creating","tags":[],"updated_at":null,"version":"v25"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.843417ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_user","password":"userPassword@123","is_admin":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/c962a16d-f2af-4988-b068-6e7ae240f17c/users
        method: POST
      response:
        body: '{"is_admin":false,"name":"tf_test_user"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.964083ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/c962a16d-f2af-4988-b068-6e7ae240f17c/users?name=tf_test_user&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":false,"name":"tf_test_user"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.028959ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"is_admin":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/c962a16d-f2af-4988-b068-6e7ae240f17c/users/tf_test_user
        method: PATCH
      response:
        body: '{"is_admin":true,"name":"tf_test_user"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.750917ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/datawarehouse/v1beta1/regions/fr-par/deployments/c962a16d-f2af-4988-b068-6e7ae240f17c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"c962a16d-f2af-4988-b068-6e7ae240f17c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 102.991042ms
[...]
