---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - display_rank_asc
      page_size:
      - "1000"
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models?order_by=display_rank_asc&page_size=1000
    method: GET
  response:
    body: "{\"models\":[{\"id\":\"5c40e594-d40d-452a-991e-5082225155e1\",\"name\":\"google/gemma-3-27b-it:bf16\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\",\"vision\",\"featured\"],\"status\":\"ready\",\"description\":\"Multimodal model for text generation an image understanding supporting up to 128k context window.\",\"created_at\":\"2025-04-04T13:11:00.900800Z\",\"updated_at\":\"2025-06-17T09:31:04.122362Z\",\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"node_type_name\":\"L4\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"L40S\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":true,\"max_context_size\":80000},{\"quantization_bits\":16,\"allowed\":true,\"max_context_size\":40000},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100-2\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":true,\"max_context_size\":128000},{\"quantization_bits\":16,\"allowed\":true,\"max_context_size\":128000},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]}]}],\"parameter_size_bits\":16,\"size_bytes\":54904369444,\"region\":\"fr-par\"},{\"id\":\"4b239330-99eb-4204-af4a-7751756d7c68\",\"name\":\"google/gemma-3-27b-it:fp8\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\",\"vision\",\"featured\"],\"status\":\"ready\",\"description\":\"Multimodal model for text generation an image understanding supporting up to 128k context window.\",\"created_at\":\"2025-07-07T19:59:36.326470Z\",\"updated_at\":\"2025-07-07T19:59:45.224797Z\",\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"n[...]
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models/1999f4f5-f038-4039-94ba-11a851917df5
    method: GET
  response:
    body: "{\"id\":\"1999f4f5-f038-4039-94ba-11a851917df5\",\"name\":\"mistral/pixtral-12b-2409:bf16\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"vision\",\"chat\",\"featured\"],\"status\":\"ready\",\"description\":\"Vision language model able to analyze images and offer insights w[...]
[...]
