---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-10T14:21:15.665841Z","dhcp_enabled":true,"id":"4b925409-6b09-4f92-82c1-31a7a4f9e055","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-10T14:21:15.665841Z","id":"d50cb585-dc1f-48ea-9a28-602ac80e36ff","private_network_id":"4b925409-6b09-4f92-82c1-31a7a4f9e055","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.112.0/22","updated_at":"2024-10-10T14:21:15.665841Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-10T14:21:15.665841Z","id":"af8ddcbe-c9b7-4641-978a-73c8fb5dcdff","private_network_id":"4b925409-6b09-4f92-82c1-31a7a4f9e055","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:a08e::/64","updated_at":"2024-10-10T14:21:15.665841Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-10T14:21:15.665841Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.502161666s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4b925409-6b09-4f92-82c1-31a7a4f9e055
        method: GET
      response:
        body: '{"created_at":"2024-10-10T14:21:15.665841Z","dhcp_enabled":true,"id":"4b925409-6b09-4f92-82c1-31a7a4f9e055","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-10T14:21:15.665841Z","id":"d50cb585-dc1f-48ea-9a28-602ac80e36ff","private_network_id":"4b925409-6b09-4f92-82c1-31a7a4f9e055","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.112.0/22","updated_at":"2024-10-10T14:21:15.665841Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-10T14:21:15.665841Z","id":"af8ddcbe-c9b7-4641-978a-73c8fb5dcdff","private_network_id":"4b925409-6b09-4f92-82c1-31a7a4f9e055","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:a08e::/64","updated_at":"2024-10-10T14:21:15.665841Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-10T14:21:15.665841Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 291.233333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"private_network":{"private_network_id":"4b925409-6b09-4f92-82c1-31a7a4f9e055"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-10T14:21:17.320958Z","endpoints":[{"disable_auth":false,"id":"a80c6b1d-ffa7-4cc4-8234-141d5ff50130","private_network":{"private_network_id":"4b925409-6b09-4f92-82c1-31a7a4f9e055"},"url":"https://b86ddce5-f257-47a8-ae1c-505f7dae2964.private-network-test-inference"}],"error_message":null,"id":"b86ddce5-f257-47a8-ae1c-505f7dae2964","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.223084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/b86ddce5-f257-47a8-ae1c-505f7dae2964
        method: GET
      response:
        body: '{"created_at":"2024-10-10T14:21:17.320958Z","endpoints":[{"disable_auth":false,"id":"a80c6b1d-ffa7-4cc4-8234-141d5ff50130","private_network":{"private_network_id":"4b925409-6b09-4f92-82c1-31a7a4f9e055"},"url":"https://b86ddce5-f257-47a8-ae1c-505f7dae2964.private-network-test-inference"}],"error_message":null,"id":"b86ddce5-f257-47a8-ae1c-505f7dae2964","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.327042ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/b86ddce5-f257-47a8-ae1c-505f7dae2964
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"b86ddce5-f257-47a8-ae1c-505f7dae2964","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.471917ms
[...]
