---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-22T14:51:09.698935Z","dhcp_enabled":true,"id":"3b86f639-b710-49bc-8beb-5607c57e74df","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-22T14:51:09.698935Z","id":"ea55cf81-9fc5-4e47-9a2f-7dd1232e211a","private_network_id":"3b86f639-b710-49bc-8beb-5607c57e74df","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.216.0/22","updated_at":"2024-10-22T14:51:09.698935Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-22T14:51:09.698935Z","id":"82a6540f-70a7-4b6b-a53b-66bda9db30cf","private_network_id":"3b86f639-b710-49bc-8beb-5607c57e74df","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:4d16::/64","updated_at":"2024-10-22T14:51:09.698935Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-22T14:51:09.698935Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 600.060084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3b86f639-b710-49bc-8beb-5607c57e74df
        method: GET
      response:
        body: '{"created_at":"2024-10-22T14:51:09.698935Z","dhcp_enabled":true,"id":"3b86f639-b710-49bc-8beb-5607c57e74df","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-22T14:51:09.698935Z","id":"ea55cf81-9fc5-4e47-9a2f-7dd1232e211a","private_network_id":"3b86f639-b710-49bc-8beb-5607c57e74df","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.216.0/22","updated_at":"2024-10-22T14:51:09.698935Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-22T14:51:09.698935Z","id":"82a6540f-70a7-4b6b-a53b-66bda9db30cf","private_network_id":"3b86f639-b710-49bc-8beb-5607c57e74df","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:4d16::/64","updated_at":"2024-10-22T14:51:09.698935Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-22T14:51:09.698935Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.334916ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"private_network":{"private_network_id":"3b86f639-b710-49bc-8beb-5607c57e74df"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-22T14:51:10.261252Z","endpoints":[{"disable_auth":false,"id":"2de8da44-ef9e-4633-9b89-c2e40a505ba3","private_network":{"private_network_id":"3b86f639-b710-49bc-8beb-5607c57e74df"},"url":"https://4a0869a0-c7b5-49c8-8cce-e391520edc87.private-network-test-inference"}],"error_message":null,"id":"4a0869a0-c7b5-49c8-8cce-e391520edc87","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.01725ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/4a0869a0-c7b5-49c8-8cce-e391520edc87
        method: GET
      response:
        body: '{"created_at":"2024-10-22T14:51:10.261252Z","endpoints":[{"disable_auth":false,"id":"2de8da44-ef9e-4633-9b89-c2e40a505ba3","private_network":{"private_network_id":"3b86f639-b710-49bc-8beb-5607c57e74df"},"url":"https://4a0869a0-c7b5-49c8-8cce-e391520edc87.private-network-test-inference"}],"error_message":null,"id":"4a0869a0-c7b5-49c8-8cce-e391520edc87","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.173417ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/4a0869a0-c7b5-49c8-8cce-e391520edc87
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"4a0869a0-c7b5-49c8-8cce-e391520edc87","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.638083ms
[...]
