---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"public_network":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-04-25T15:37:39.269172Z","endpoints":[{"disable_auth":false,"id":"7448335d-4b4f-4b3d-95d3-a48e67a4968f","public_network":{},"url":"https://923096d2-02e9-4aee-bda8-21040822e21b.ifr.fr-par.scaleway.com"}],"id":"923096d2-02e9-4aee-bda8-21040822e21b","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.033458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/923096d2-02e9-4aee-bda8-21040822e21b
        method: GET
      response:
        body: '{"created_at":"2025-04-25T15:37:39.269172Z","endpoints":[{"disable_auth":false,"id":"7448335d-4b4f-4b3d-95d3-a48e67a4968f","public_network":{},"url":"https://923096d2-02e9-4aee-bda8-21040822e21b.ifr.fr-par.scaleway.com"}],"id":"923096d2-02e9-4aee-bda8-21040822e21b","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.763083ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/923096d2-02e9-4aee-bda8-21040822e21b
        method: GET
      response:
        body: '{"created_at":"2025-04-25T15:37:39.269172Z","endpoints":[{"disable_auth":false,"id":"7448335d-4b4f-4b3d-95d3-a48e67a4968f","public_network":{},"url":"https://923096d2-02e9-4aee-bda8-21040822e21b.ifr.fr-par.scaleway.com"}],"error_message":"","id":"923096d2-02e9-4aee-bda8-21040822e21b","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"deploying","tags":[],"updated_at":"2025-04-25T15:43:11.518787Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.197333ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/923096d2-02e9-4aee-bda8-21040822e21b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"923096d2-02e9-4aee-bda8-21040822e21b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.694792ms
[...]
