---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"public":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-22T14:51:09.674160Z","endpoints":[{"disable_auth":false,"id":"f469ba26-9e4c-4878-9d32-dedbc1bfe0cf","public_access":{},"url":"https://ed4e696f-ccb8-4e52-9a7a-f6d7feff37df.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"ed4e696f-ccb8-4e52-9a7a-f6d7feff37df","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 436.362208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/ed4e696f-ccb8-4e52-9a7a-f6d7feff37df
        method: GET
      response:
        body: '{"created_at":"2024-10-22T14:51:09.674160Z","endpoints":[{"disable_auth":false,"id":"f469ba26-9e4c-4878-9d32-dedbc1bfe0cf","public_access":{},"url":"https://ed4e696f-ccb8-4e52-9a7a-f6d7feff37df.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"ed4e696f-ccb8-4e52-9a7a-f6d7feff37df","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.30275ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/ed4e696f-ccb8-4e52-9a7a-f6d7feff37df
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"ed4e696f-ccb8-4e52-9a7a-f6d7feff37df","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 106.008917ms
[...]
