---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"public":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-14T10:28:48.456283Z","endpoints":[{"disable_auth":false,"id":"9c376158-b729-4c5a-8995-dfce09b8fb8c","public_access":{},"url":"https://ca781996-64c5-4961-8a45-ba1680caf04f.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"ca781996-64c5-4961-8a45-ba1680caf04f","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.771792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/ca781996-64c5-4961-8a45-ba1680caf04f
        method: GET
      response:
        body: '{"created_at":"2024-10-14T10:28:48.456283Z","endpoints":[{"disable_auth":false,"id":"9c376158-b729-4c5a-8995-dfce09b8fb8c","public_access":{},"url":"https://ca781996-64c5-4961-8a45-ba1680caf04f.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"ca781996-64c5-4961-8a45-ba1680caf04f","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.216708ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/ca781996-64c5-4961-8a45-ba1680caf04f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"ca781996-64c5-4961-8a45-ba1680caf04f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 102.297041ms
[...]
