---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - display_rank_asc
      page_size:
      - "1000"
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models?order_by=display_rank_asc&page_size=1000
    method: GET
  response:
    body: "{\"models\":[{\"id\":\"5c40e594-d40d-452a-991e-5082225155e1\",\"name\":\"google/gemma-3-27b-it:bf16\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\",\"vision\",\"featured\"],\"status\":\"ready\",\"description\":\"Multimodal model for text generation an image understanding supporting up to 128k context window.\",\"created_at\":\"2025-04-04T13:11:00.900800Z\",\"updated_at\":\"2025-06-17T09:31:04.122362Z\",\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"node_type_name\":\"L4\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"L40S\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":true,\"max_context_size\":80000},{\"quantization_bits\":16,\"allowed\":true,\"max_context_size\":40000},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100-2\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":true,\"max_context_size\":128000},{\"quantization_bits\":16,\"allowed\":true,\"max_context_size\":128000},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]}]}],\"parameter_size_bits\":16,\"size_bytes\":54904369444,\"region\":\"fr-par\"},{\"id\":\"4b239330-99eb-4204-af4a-7751756d7c68\",\"name\":\"google/gemma-3-27b-it:fp8\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\",\"vision\",\"featured\"],\"status\":\"ready\",\"description\":\"Multimodal model for text generation an image understanding supporting up to 128k context window.\",\"created_at\":\"2025-07-07T19:59:36.326470Z\",\"updated_at\":\"2025-07-07T19:59:45.224797Z\",\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"n[...]
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models/7205dbce-cc80-4b2a-bb7f-3fd3a804afc3
    method: GET
  response:
    body: "{\"id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"name\":\"meta/llama-3.1-8b-instruct:bf16\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\"],\"status\":\"ready\",\"description\":\"Efficient 8B-param model by Meta, optimized for multilingual dialogue.\",\[...]
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-inference-deployment-basic\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"accept_eula\":true,\"node_type_name\":\"L4\",\"tags\":[],\"min_size\":1,\"max_size\":1,\"endpoints\":[{\"public_network\":{},\"disable_auth\":false}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: "{\"id\":\"a85f5f11-ceeb-4314-9a33-394512b08662\",\"name\":\"test-inference-deployment-basic\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"creating\",\"tags\":[],\"node_type_name\":\"L4\",\"endpoints\":[{\"id\":\"951b3057-504d-44e7-80b1-a0d28f2a1de4\",\"url\":\"https://a85f5f11-ceeb-4314-9a33-394512b08662.ifr.fr-par.scaleway.com\",\"public_network\":{},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"created_at\":\"2025-08-27T16:26:24.792971Z\",\"updated_at\":null,\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"quantization\":{\"bits\":16},\"model_name\":\"meta/llama-3.1-8b-instruct:bf16\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 204.416128ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/a85f5f11-ceeb-4314-9a33-394512b08662
    method: GET
  response:
    body: "{\"id\":\"a85f5f11-ceeb-4314-9a33-394512b08662\",\"name\":\"test-inference-deployment-basic\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"creating\",\"tags\":[],\"node_type_name\":\"L4\",\"endpoints\":[{\"id\":\"951b3057-504d-44e7-80b1-a0d28f2a1de4\",\"url\":\"https://a85f5f11-ceeb-4314-9a33-394512b08662.ifr.fr-par.scaleway.com\",\"public_network\":{},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"created_at\":\"2025-08-27T16:26:24.792971Z\",\"updated_at\":null,\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"quantization\":{\"bits\":16},\"model_name\":\"meta/llama-3.1-8b-instruct:bf16\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 61.861057ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/a85f5f11-ceeb-4314-9a33-394512b08662
    method: GET
  response:
    body: "{\"id\":\"a85f5f11-ceeb-4314-9a33-394512b08662\",\"name\":\"test-inference-deployment-basic\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"deploying\",\"tags\":[],\"node_type_name\":\"L4\",\"endpoints\":[{\"id\":\"951b3057-504d-44e7-80b1-a0d28f2a1de4\",\"url\":\"https://a85f5f11-ceeb-4314-9a33-394512b08662.ifr.fr-par.scaleway.com\",\"public_network\":{},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"error_message\":\"\",\"created_at\":\"2025-08-27T16:26:24.792971Z\",\"updated_at\":\"2025-08-27T16:31:00.940525Z\",\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"quantization\":{\"bits\":16},\"model_name\":\"meta/llama-3.1-8b-instruct:bf16\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.259679ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/a85f5f11-ceeb-4314-9a33-394512b08662
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"deployment\",\"resource_id\":\"a85f5f11-ceeb-4314-9a33-394512b08662\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 58.696753ms
[...]
