---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/models?order_by=display_rank_asc&page_size=1000
        method: GET
      response:
        body: '{"models":[{"created_at":"2025-04-04T13:11:00.900800Z","description":"Multimodal model for text generation an image understanding supporting up to 128k context window.","has_eula":false,"id":"5c40e594-d40d-452a-991e-5082225155e1","name":"google/gemma-3-27b-it:bf16","nodes_support":[{"nodes":[{"node_type_name":"L4","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":false,"max_context_size":0,"quantization_bits":8},{"allowed":false,"max_context_size":0,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]},{"node_type_name":"L40S","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":false,"max_context_size":0,"quantization_bits":8},{"allowed":false,"max_context_size":0,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]},{"node_type_name":"H100","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":true,"max_context_size":80000,"quantization_bits":8},{"allowed":true,"max_context_size":40000,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]},{"node_type_name":"H100-2","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":true,"max_context_size":128000,"quantization_bits":8},{"allowed":true,"max_context_size":128000,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]}]}],"parameter_size_bits":16,"project_id":"00000000-0000-0000-0000-000000000000","region":"fr-par","size_bytes":54904369444,"status":"ready","tags":["instruct","chat","vision","featured"],"updated_at":"2025-05-09T16:45:10.128397Z"},{"created_at":"2025-03-27T16:48:11.513249Z","description":"Efficient 8B-param distilled model by DeepSeek, balancing performance and compactness.","has_eula":true,"id":"a51ce791-9546-4c28-aa44-24850d84778b","name":"deepseek/deepseek-r1-distill-llama-8b:bf16","nodes_support":[{"nodes":[{"node_type_name":"L4","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":true,"max_context_size":90000,"quantization_bits":8},{"allowed":true,"m[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/models/7205dbce-cc80-4b2a-bb7f-3fd3a804afc3
        method: GET
      response:
        body: '{"created_at":"2025-03-27T16:48:40.045689Z","description":"Efficient 8B-param model by Meta, optimized for multilingual dialogue.","has_eula":true,"id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","name":"meta/llama-3.1-8b-instruct:bf16[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-27T09:56:50.279358Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24","name":"private-network-test-inference","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-05-27T09:56:50.279358Z","id":"b0c59263-2972-4d4f-9904-288650c027a4","private_network_id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-05-27T09:56:50.279358Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-05-27T09:56:50.279358Z","id":"72aa23a9-066b-4831-9e72-8234f5c5a948","private_network_id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2728::/64","updated_at":"2025-05-27T09:56:50.279358Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-05-27T09:56:50.279358Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.685792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a7baa1aa-c738-4871-b9c6-c1b069c59d24
        method: GET
      response:
        body: '{"created_at":"2025-05-27T09:56:50.279358Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24","name":"private-network-test-inference","organization_id":"105bdce1-64c0-48a[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"private_network":{"private_network_id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-05-27T09:56:50.916374Z","endpoints":[{"disable_auth":false,"id":"444d9500-cf86-4651-9c67-90604fd0f183","private_network":{"private_network_id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24"},"url":"https://57907164-e1b1-4617-8546-8c950f35e2d9.a7baa1aa-c738-4871-b9c6-c1b069c59d24.internal"}],"id":"57907164-e1b1-4617-8546-8c950f35e2d9","max_size":1,"min_size":1,"model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","quantization":{"bits":16},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 491.071875ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/57907164-e1b1-4617-8546-8c950f35e2d9
        method: GET
      response:
        body: '{"created_at":"2025-05-27T09:56:50.916374Z","endpoints":[{"disable_auth":false,"id":"444d9500-cf86-4651-9c67-90604fd0f183","private_network":{"private_network_id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24"},"url":"https://57907164-e1b1-4617-8546-8c950f35e2d9.a7baa1aa-c738-4871-b9c6-c1b069c59d24.internal"}],"id":"57907164-e1b1-4617-8546-8c950f35e2d9","max_size":1,"min_size":1,"model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","quantization":{"bits":16},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.375041ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/57907164-e1b1-4617-8546-8c950f35e2d9
        method: GET
      response:
        body: '{"created_at":"2025-05-27T09:56:50.916374Z","endpoints":[{"disable_auth":false,"id":"444d9500-cf86-4651-9c67-90604fd0f183","private_network":{"private_network_id":"a7baa1aa-c738-4871-b9c6-c1b069c59d24"},"url":"https://57907164-e1b1-4617-8546-8c950f35e2d9.a7baa1aa-c738-4871-b9c6-c1b069c59d24.internal"}],"error_message":"","id":"57907164-e1b1-4617-8546-8c950f35e2d9","max_size":1,"min_size":1,"model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","quantization":{"bits":16},"region":"fr-par","size":0,"status":"deploying","tags":[],"updated_at":"2025-05-27T10:00:09.111358Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.470708ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a7baa1aa-c738-4871-b9c6-c1b069c59d24&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=57907164-e1b1-4617-8546-8c950f35e2d9&resource_type=llm_deployment
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.16.2/22","created_at":"2025-05-27T09:56:52.525469Z","id":"aebd6ce8-47a7-40c3-b765-050225bccbcb","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"57907164-e1b1-4617-8546-8c950f35e2d9","mac_address":"02:00:00:28:DF:AC","name":"test-inference-deployment-endpoint-private","type":"llm_deployment"},"reverses":[],"source":{"subnet_id":"b0c59263-2972-4d4f-9904-288650c027a4"},"tags":[],"updated_at":"2025-05-27T09:59:10.209907Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.382083ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/57907164-e1b1-4617-8546-8c950f35e2d9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"57907164-e1b1-4617-8546-8c950f35e2d9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.863208ms
[...]
