---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-24T10:10:39.902158Z","dhcp_enabled":true,"id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-24T10:10:39.902158Z","id":"45524ba0-f7b4-4f31-b38e-b5df7ff53708","private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.24.0/22","updated_at":"2025-04-24T10:10:39.902158Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-04-24T10:10:39.902158Z","id":"ff79325c-ad47-4607-8af3-8d3085d08a3c","private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:c673::/64","updated_at":"2025-04-24T10:10:39.902158Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-04-24T10:10:39.902158Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 679.565541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cee0e0a5-7700-4d54-a12f-2f8e1a582d41
        method: GET
      response:
        body: '{"created_at":"2025-04-24T10:10:39.902158Z","dhcp_enabled":true,"id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-24T10:10:39.902158Z","id":"45524ba0-f7b4-4f31-b38e-b5df7ff53708","private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.24.0/22","updated_at":"2025-04-24T10:10:39.902158Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-04-24T10:10:39.902158Z","id":"ff79325c-ad47-4607-8af3-8d3085d08a3c","private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:c673::/64","updated_at":"2025-04-24T10:10:39.902158Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-04-24T10:10:39.902158Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.982292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"private_network":{"private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-04-24T10:10:40.636338Z","endpoints":[{"disable_auth":false,"id":"afc3e8d1-8cfa-4e3e-a237-690d62558eef","private_network":{"private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41"},"url":"https://245e9f52-4931-44a6-92ff-fd28df3c95a9.cee0e0a5-7700-4d54-a12f-2f8e1a582d41.internal"}],"id":"245e9f52-4931-44a6-92ff-fd28df3c95a9","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 472.711708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/245e9f52-4931-44a6-92ff-fd28df3c95a9
        method: GET
      response:
        body: '{"created_at":"2025-04-24T10:10:40.636338Z","endpoints":[{"disable_auth":false,"id":"afc3e8d1-8cfa-4e3e-a237-690d62558eef","private_network":{"private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41"},"url":"https://245e9f52-4931-44a6-92ff-fd28df3c95a9.cee0e0a5-7700-4d54-a12f-2f8e1a582d41.internal"}],"id":"245e9f52-4931-44a6-92ff-fd28df3c95a9","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.4965ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/245e9f52-4931-44a6-92ff-fd28df3c95a9
        method: GET
      response:
        body: '{"created_at":"2025-04-24T10:10:40.636338Z","endpoints":[{"disable_auth":false,"id":"afc3e8d1-8cfa-4e3e-a237-690d62558eef","private_network":{"private_network_id":"cee0e0a5-7700-4d54-a12f-2f8e1a582d41"},"url":"https://245e9f52-4931-44a6-92ff-fd28df3c95a9.cee0e0a5-7700-4d54-a12f-2f8e1a582d41.internal"}],"error_message":"","id":"245e9f52-4931-44a6-92ff-fd28df3c95a9","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":1,"status":"ready","tags":[],"updated_at":"2025-04-24T10:20:50.893195Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.988417ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/245e9f52-4931-44a6-92ff-fd28df3c95a9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"245e9f52-4931-44a6-92ff-fd28df3c95a9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.103834ms
[...]
