---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-25T15:37:39.299074Z","dhcp_enabled":true,"id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-25T15:37:39.299074Z","id":"e949edb2-519a-4f69-85c9-d08b7440b43a","private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.36.0/22","updated_at":"2025-04-25T15:37:39.299074Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-04-25T15:37:39.299074Z","id":"d4cd7dcf-1341-44bd-ba24-74c9bd79df34","private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:9304::/64","updated_at":"2025-04-25T15:37:39.299074Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-04-25T15:37:39.299074Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 570.980333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ad8fb61e-33af-4db4-be08-9bbd9ae86557
        method: GET
      response:
        body: '{"created_at":"2025-04-25T15:37:39.299074Z","dhcp_enabled":true,"id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-25T15:37:39.299074Z","id":"e949edb2-519a-4f69-85c9-d08b7440b43a","private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.36.0/22","updated_at":"2025-04-25T15:37:39.299074Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-04-25T15:37:39.299074Z","id":"d4cd7dcf-1341-44bd-ba24-74c9bd79df34","private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:9304::/64","updated_at":"2025-04-25T15:37:39.299074Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-04-25T15:37:39.299074Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.635584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"private_network":{"private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-04-25T15:37:39.900089Z","endpoints":[{"disable_auth":false,"id":"0efcca48-100f-4aa4-b38e-e1770d4c8ec8","private_network":{"private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557"},"url":"https://ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e.ad8fb61e-33af-4db4-be08-9bbd9ae86557.internal"}],"id":"ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.450166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e
        method: GET
      response:
        body: '{"created_at":"2025-04-25T15:37:39.900089Z","endpoints":[{"disable_auth":false,"id":"0efcca48-100f-4aa4-b38e-e1770d4c8ec8","private_network":{"private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557"},"url":"https://ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e.ad8fb61e-33af-4db4-be08-9bbd9ae86557.internal"}],"id":"ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.872209ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e
        method: GET
      response:
        body: '{"created_at":"2025-04-25T15:37:39.900089Z","endpoints":[{"disable_auth":false,"id":"0efcca48-100f-4aa4-b38e-e1770d4c8ec8","private_network":{"private_network_id":"ad8fb61e-33af-4db4-be08-9bbd9ae86557"},"url":"https://ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e.ad8fb61e-33af-4db4-be08-9bbd9ae86557.internal"}],"error_message":"","id":"ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"deploying","tags":[],"updated_at":"2025-04-25T15:42:59.289297Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.902167ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"ab0b53cf-a2a2-4672-be0c-2f909cfa9f8e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.912041ms
[...]
