---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - display_rank_asc
      page_size:
      - "1000"
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models?order_by=display_rank_asc&page_size=1000
    method: GET
  response:
    body: "{\"models\":[{\"id\":\"5c40e594-d40d-452a-991e-5082225155e1\",\"name\":\"google/gemma-3-27b-it:bf16\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\",\"vision\",\"featured\"],\"status\":\"ready\",\"description\":\"Multimodal model for text generation an image understanding supporting up to 128k context window.\",\"created_at\":\"2025-04-04T13:11:00.900800Z\",\"updated_at\":\"2025-06-17T09:31:04.122362Z\",\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"node_type_name\":\"L4\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"L40S\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":true,\"max_context_size\":80000},{\"quantization_bits\":16,\"allowed\":true,\"max_context_size\":40000},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100-2\",\"quantizations\":[{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":true,\"max_context_size\":128000},{\"quantization_bits\":16,\"allowed\":true,\"max_context_size\":128000},{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0}]}]}],\"parameter_size_bits\":16,\"size_bytes\":54904369444,\"region\":\"fr-par\"},{\"id\":\"4b239330-99eb-4204-af4a-7751756d7c68\",\"name\":\"google/gemma-3-27b-it:fp8\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\",\"vision\",\"featured\"],\"status\":\"ready\",\"description\":\"Multimodal model for text generation an image understanding supporting up to 128k context window.\",\"created_at\":\"2025-07-07T19:59:36.326470Z\",\"updated_at\":\"2025-07-07T19:59:45.224797Z\",\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"n[...]
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models/7205dbce-cc80-4b2a-bb7f-3fd3a804afc3
    method: GET
  response:
    body: "{\"id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"name\":\"meta/llama-3.1-8b-instruct:bf16\",\"project_id\":\"00000000-0000-0000-0000-000000000000\",\"tags\":[\"instruct\",\"chat\"],\"status\":\"ready\",\"description\":\"Efficient 8B-param model by Meta, optimized for multilingual dialogue.\",\[...]
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"private-network-test-inference\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\",\"name\":\"private-network-test-inference\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:26:24.731709Z\",\"updated_at\":\"2025-08-27T16:26:24.731709Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"c6e750b5-a1ba-46c4-8aed-a03f07f13257\",\"created_at\":\"2025-08-27T16:26:24.731709Z\",\"updated_at\":\"2025-08-27T16:26:24.731709Z\",\"subnet\":\"172.16.20.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"e442ba54-3396-421d-953d-0a3b280a1f44\",\"created_at\":\"2025-08-27T16:26:24.731709Z\",\"updated_at\":\"2025-08-27T16:26:24.731709Z\",\"subnet\":\"fd63:256c:45f7:e019::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 619.821433ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8
    method: GET
  response:
    body: "{\"id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\",\"name\":\"private-network-test-inference\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:26:24.731709Z\",\"updated_at\":\"2025-08-27T16:26:24.731709Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"c6e750b5-a1ba-46c4-8aed-a03f07f13257\",\"created_at\":\"2025-08-27T16:26:24.731709Z\",\"updated_at\":\"2025-08-27T16:26:24.731709Z\",\"subnet\":\"172.16.20.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"e442ba54-3396-421d-953d-0a3b280a1f44\",\"created_at\":\"2025-08-27T16:26:24.731709Z\",\"updated_at\":\"2025-08-27T16:26:24.731709Z\",\"subnet\":\"fd63:256c:45f7:e019::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 38.757888ms
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-inference-deployment-endpoint-private\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"accept_eula\":true,\"node_type_name\":\"L4\",\"tags\":[],\"min_size\":1,\"max_size\":1,\"endpoints\":[{\"private_network\":{\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\"},\"disable_auth\":false}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: "{\"id\":\"02e44292-1e1a-4167-b16e-62ab17b5ea28\",\"name\":\"test-inference-deployment-endpoint-private\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"creating\",\"tags\":[],\"node_type_name\":\"L4\",\"endpoints\":[{\"id\":\"5e9aaa82-f1ba-4d85-acba-a8a9e43a2f32\",\"url\":\"https://02e44292-1e1a-4167-b16e-62ab17b5ea28.8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8.internal\",\"private_network\":{\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\"},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"created_at\":\"2025-08-27T16:26:25.373825Z\",\"updated_at\":null,\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"quantization\":{\"bits\":16},\"model_name\":\"meta/llama-3.1-8b-instruct:bf16\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 416.702321ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/02e44292-1e1a-4167-b16e-62ab17b5ea28
    method: GET
  response:
    body: "{\"id\":\"02e44292-1e1a-4167-b16e-62ab17b5ea28\",\"name\":\"test-inference-deployment-endpoint-private\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"creating\",\"tags\":[],\"node_type_name\":\"L4\",\"endpoints\":[{\"id\":\"5e9aaa82-f1ba-4d85-acba-a8a9e43a2f32\",\"url\":\"https://02e44292-1e1a-4167-b16e-62ab17b5ea28.8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8.internal\",\"private_network\":{\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\"},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"created_at\":\"2025-08-27T16:26:25.373825Z\",\"updated_at\":null,\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"quantization\":{\"bits\":16},\"model_name\":\"meta/llama-3.1-8b-instruct:bf16\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 55.123069ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/02e44292-1e1a-4167-b16e-62ab17b5ea28
    method: GET
  response:
    body: "{\"id\":\"02e44292-1e1a-4167-b16e-62ab17b5ea28\",\"name\":\"test-inference-deployment-endpoint-private\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"deploying\",\"tags\":[],\"node_type_name\":\"L4\",\"endpoints\":[{\"id\":\"5e9aaa82-f1ba-4d85-acba-a8a9e43a2f32\",\"url\":\"https://02e44292-1e1a-4167-b16e-62ab17b5ea28.8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8.internal\",\"private_network\":{\"private_network_id\":\"8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8\"},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"error_message\":\"\",\"created_at\":\"2025-08-27T16:26:25.373825Z\",\"updated_at\":\"2025-08-27T16:30:45.294684Z\",\"model_id\":\"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3\",\"quantization\":{\"bits\":16},\"model_name\":\"meta/llama-3.1-8b-instruct:bf16\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 69.253451ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8
      project_id:
      - fa1e3217-dc80-42ac-85c3-3f034b78b552
      resource_id:
      - 02e44292-1e1a-4167-b16e-62ab17b5ea28
      resource_type:
      - llm_deployment
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=8ebfaaaa-7241-4b5d-a3cf-4f2943bba1d8&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=02e44292-1e1a-4167-b16e-62ab17b5ea28&resource_type=llm_deployment
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"de8d3ef9-b53e-4953-b07e-62c9b7a9adc1\",\"address\":\"172.16.20.2/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_ipv6\":false,\"created_at\":\"2025-08-27T16:26:27.073887Z\",\"updated_at\":\"2025-08-27T16:28:11.469779Z\",\"source\":{\"subnet_id\":\"c6e750b5-a1ba-46c4-8aed-a03f07f13257\"},\"resource\":{\"type\":\"llm_deployment\",\"id\":\"02e44292-1e1a-4167-b16e-62ab17b5ea28\",\"mac_address\":\"02:00:00:2F:1B:56\",\"name\":\"test-inference-deployment-endpoint-private\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 41.730224ms
[...]
- id: 65
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/02e44292-1e1a-4167-b16e-62ab17b5ea28
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"deployment\",\"resource_id\":\"02e44292-1e1a-4167-b16e-62ab17b5ea28\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 81.995156ms
[...]
