---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inferenceSDK-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":null,"endpoints":[{"public":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-09-11T11:45:24.916255Z","endpoints":[{"disable_auth":false,"id":"9f42a6e0-4c0c-4d33-9715-683364a5535d","public_access":{},"url":"https://c4a6e487-ae01-467f-a97b-3cd14eab682a.ifr.fr-par.scw.cloud"}],"error_message":null,"id":"c4a6e487-ae01-467f-a97b-3cd14eab682a","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inferenceSDK-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.437779ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/c4a6e487-ae01-467f-a97b-3cd14eab682a
        method: GET
      response:
        body: '{"created_at":"2024-09-11T11:45:24.916255Z","endpoints":[{"disable_auth":false,"id":"9f42a6e0-4c0c-4d33-9715-683364a5535d","public_access":{},"url":"https://c4a6e487-ae01-467f-a97b-3cd14eab682a.ifr.fr-par.scw.cloud"}],"error_message":null,"id":"c4a6e487-ae01-467f-a97b-3cd14eab682a","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inferenceSDK-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.923152ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/c4a6e487-ae01-467f-a97b-3cd14eab682a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"c4a6e487-ae01-467f-a97b-3cd14eab682a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 97.207862ms
[...]
