---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"public_network":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-04-24T09:12:30.579906Z","endpoints":[{"disable_auth":false,"id":"b939235b-eaed-43f9-9ff7-0165d8334667","public_network":{},"url":"https://ae4f6a33-4b46-4d82-9adf-42c5d688d876.ifr.fr-par.scaleway.com"}],"id":"ae4f6a33-4b46-4d82-9adf-42c5d688d876","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.156625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/ae4f6a33-4b46-4d82-9adf-42c5d688d876
        method: GET
      response:
        body: '{"created_at":"2025-04-24T09:12:30.579906Z","endpoints":[{"disable_auth":false,"id":"b939235b-eaed-43f9-9ff7-0165d8334667","public_network":{},"url":"https://ae4f6a33-4b46-4d82-9adf-42c5d688d876.ifr.fr-par.scaleway.com"}],"id":"ae4f6a33-4b46-4d82-9adf-42c5d688d876","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.307209ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/ae4f6a33-4b46-4d82-9adf-42c5d688d876
        method: GET
      response:
        body: '{"created_at":"2025-04-24T09:12:30.579906Z","endpoints":[{"disable_auth":false,"id":"b939235b-eaed-43f9-9ff7-0165d8334667","public_network":{},"url":"https://ae4f6a33-4b46-4d82-9adf-42c5d688d876.ifr.fr-par.scaleway.com"}],"error_message":"","id":"ae4f6a33-4b46-4d82-9adf-42c5d688d876","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"deploying","tags":[],"updated_at":"2025-04-24T09:15:35.366853Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.247292ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/ae4f6a33-4b46-4d82-9adf-42c5d688d876
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"ae4f6a33-4b46-4d82-9adf-42c5d688d876","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.555583ms
[...]
