---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-15T14:48:47.408718Z","dhcp_enabled":true,"id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-15T14:48:47.408718Z","id":"8b8bdcc7-0036-4486-b4f3-bcdca5de049e","private_network_id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.84.0/22","updated_at":"2024-10-15T14:48:47.408718Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-15T14:48:47.408718Z","id":"95cb4119-cc74-45fb-a1f0-f1243d757547","private_network_id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:8f73::/64","updated_at":"2024-10-15T14:48:47.408718Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-15T14:48:47.408718Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 729.089958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/22354cc7-10d5-4a45-8089-38e9a5e6ced8
        method: GET
      response:
        body: '{"created_at":"2024-10-15T14:48:47.408718Z","dhcp_enabled":true,"id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-15T14:48:47.408718Z","id":"8b8bdcc7-0036-4486-b4f3-bcdca5de049e","private_network_id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.84.0/22","updated_at":"2024-10-15T14:48:47.408718Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-15T14:48:47.408718Z","id":"95cb4119-cc74-45fb-a1f0-f1243d757547","private_network_id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:8f73::/64","updated_at":"2024-10-15T14:48:47.408718Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-15T14:48:47.408718Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.113666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"private_network":{"private_network_id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-15T14:48:48.132180Z","endpoints":[{"disable_auth":false,"id":"41ba9aed-e82b-4333-ad04-da6e031d7f31","private_network":{"private_network_id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8"},"url":"https://22b40228-2c6a-4aa8-9cc6-c1b00202141b.private-network-test-inference"}],"error_message":null,"id":"22b40228-2c6a-4aa8-9cc6-c1b00202141b","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.269334ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/22b40228-2c6a-4aa8-9cc6-c1b00202141b
        method: GET
      response:
        body: '{"created_at":"2024-10-15T14:48:48.132180Z","endpoints":[{"disable_auth":false,"id":"41ba9aed-e82b-4333-ad04-da6e031d7f31","private_network":{"private_network_id":"22354cc7-10d5-4a45-8089-38e9a5e6ced8"},"url":"https://22b40228-2c6a-4aa8-9cc6-c1b00202141b.private-network-test-inference"}],"error_message":null,"id":"22b40228-2c6a-4aa8-9cc6-c1b00202141b","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.29675ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/22b40228-2c6a-4aa8-9cc6-c1b00202141b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"22b40228-2c6a-4aa8-9cc6-c1b00202141b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 207.030459ms
[...]
