---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/models?order_by=display_rank_asc&page_size=1000
        method: GET
      response:
        body: '{"models":[{"created_at":"2025-04-04T13:11:00.900800Z","description":"Multimodal model for text generation an image understanding supporting up to 128k context window.","has_eula":false,"id":"5c40e594-d40d-452a-991e-5082225155e1","name":"google/gemma-3-27b-it:bf16","nodes_support":[{"nodes":[{"node_type_name":"L4","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":false,"max_context_size":0,"quantization_bits":8},{"allowed":false,"max_context_size":0,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]},{"node_type_name":"L40S","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":false,"max_context_size":0,"quantization_bits":8},{"allowed":false,"max_context_size":0,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]},{"node_type_name":"H100","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":true,"max_context_size":80000,"quantization_bits":8},{"allowed":true,"max_context_size":40000,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]},{"node_type_name":"H100-2","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":4},{"allowed":true,"max_context_size":128000,"quantization_bits":8},{"allowed":true,"max_context_size":128000,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":32}]}]}],"parameter_size_bits":16,"project_id":"00000000-0000-0000-0000-000000000000","region":"fr-par","size_bytes":54904369444,"status":"ready","tags":["instruct","chat","vision","featured"],"updated_at":"2025-05-09T16:45:10.128397Z"},{"created_at":"2025-04-28T18:48:01.860457Z","description":"","has_eula":false,"id":"a19296a6-4cef-447a-99bc-8f6c3ee30df4","name":"TestAccCustomModel_Basic","nodes_support":[{"nodes":[{"node_type_name":"L4","quantizations":[{"allowed":false,"max_context_size":0,"quantization_bits":32},{"allowed":false,"max_context_size":0,"quantization_bits":16},{"allowed":false,"max_context_size":0,"quantization_bits":8},{"allowed":false,"max_context_size":0,"quantization_bits":4}][...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/models/7205dbce-cc80-4b2a-bb7f-3fd3a804afc3
        method: GET
      response:
        body: '{"created_at":"2025-03-27T16:48:40.045689Z","description":"Efficient 8B-param model by Meta, optimized for multilingual dialogue.","has_eula":true,"id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","name":"meta/llama-3.1-8b-instruct:bf16[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"public_network":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-05-15T08:52:50.831593Z","endpoints":[{"disable_auth":false,"id":"456167a1-2cda-4080-b529-16b7b9bb6e36","public_network":{},"url":"https://4ef1f64f-1d16-472c-a5d9-a40a55424e4e.ifr.fr-par.scaleway.com"}],"id":"4ef1f64f-1d16-472c-a5d9-a40a55424e4e","max_size":1,"min_size":1,"model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":16},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.534583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/4ef1f64f-1d16-472c-a5d9-a40a55424e4e
        method: GET
      response:
        body: '{"created_at":"2025-05-15T08:52:50.831593Z","endpoints":[{"disable_auth":false,"id":"456167a1-2cda-4080-b529-16b7b9bb6e36","public_network":{},"url":"https://4ef1f64f-1d16-472c-a5d9-a40a55424e4e.ifr.fr-par.scaleway.com"}],"id":"4ef1f64f-1d16-472c-a5d9-a40a55424e4e","max_size":1,"min_size":1,"model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":16},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.44875ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/4ef1f64f-1d16-472c-a5d9-a40a55424e4e
        method: GET
      response:
        body: '{"created_at":"2025-05-15T08:52:50.831593Z","endpoints":[{"disable_auth":false,"id":"456167a1-2cda-4080-b529-16b7b9bb6e36","public_network":{},"url":"https://4ef1f64f-1d16-472c-a5d9-a40a55424e4e.ifr.fr-par.scaleway.com"}],"error_message":"","id":"4ef1f64f-1d16-472c-a5d9-a40a55424e4e","max_size":1,"min_size":1,"model_id":"7205dbce-cc80-4b2a-bb7f-3fd3a804afc3","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":16},"region":"fr-par","size":0,"status":"deploying","tags":[],"updated_at":"2025-05-15T08:55:56.629724Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.926917ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/4ef1f64f-1d16-472c-a5d9-a40a55424e4e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"4ef1f64f-1d16-472c-a5d9-a40a55424e4e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.293333ms
[...]
