---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-23T14:20:33.264657Z","dhcp_enabled":true,"id":"1c0215e2-6334-4353-bf13-8019e2881f25","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-23T14:20:33.264657Z","id":"5e6f7376-6438-465b-b8e4-e9e4fd45683a","private_network_id":"1c0215e2-6334-4353-bf13-8019e2881f25","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.240.0/22","updated_at":"2024-10-23T14:20:33.264657Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-23T14:20:33.264657Z","id":"981878c8-823b-431e-bcb5-7564a99501bc","private_network_id":"1c0215e2-6334-4353-bf13-8019e2881f25","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:8dbd::/64","updated_at":"2024-10-23T14:20:33.264657Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-23T14:20:33.264657Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 701.85525ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1c0215e2-6334-4353-bf13-8019e2881f25
        method: GET
      response:
        body: '{"created_at":"2024-10-23T14:20:33.264657Z","dhcp_enabled":true,"id":"1c0215e2-6334-4353-bf13-8019e2881f25","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2024-10-23T14:20:33.264657Z","id":"5e6f7376-6438-465b-b8e4-e9e4fd45683a","private_network_id":"1c0215e2-6334-4353-bf13-8019e2881f25","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.240.0/22","updated_at":"2024-10-23T14:20:33.264657Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2024-10-23T14:20:33.264657Z","id":"981878c8-823b-431e-bcb5-7564a99501bc","private_network_id":"1c0215e2-6334-4353-bf13-8019e2881f25","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:8dbd::/64","updated_at":"2024-10-23T14:20:33.264657Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2024-10-23T14:20:33.264657Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.361833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"private_network":{"private_network_id":"1c0215e2-6334-4353-bf13-8019e2881f25"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-23T14:20:34.004486Z","endpoints":[{"disable_auth":false,"id":"b3354196-71fc-4a6f-920c-4191fb4bdf1a","private_network":{"private_network_id":"1c0215e2-6334-4353-bf13-8019e2881f25"},"url":"https://652c072b-47eb-4bdf-bb44-f42360b7ff68.private-network-test-inference"}],"error_message":null,"id":"652c072b-47eb-4bdf-bb44-f42360b7ff68","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 421.407334ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/652c072b-47eb-4bdf-bb44-f42360b7ff68
        method: GET
      response:
        body: '{"created_at":"2024-10-23T14:20:34.004486Z","endpoints":[{"disable_auth":false,"id":"b3354196-71fc-4a6f-920c-4191fb4bdf1a","private_network":{"private_network_id":"1c0215e2-6334-4353-bf13-8019e2881f25"},"url":"https://652c072b-47eb-4bdf-bb44-f42360b7ff68.private-network-test-inference"}],"error_message":null,"id":"652c072b-47eb-4bdf-bb44-f42360b7ff68","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.668041ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/652c072b-47eb-4bdf-bb44-f42360b7ff68
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"652c072b-47eb-4bdf-bb44-f42360b7ff68","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.972792ms
[...]
