---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"public":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-10T13:34:42.716863Z","endpoints":[{"disable_auth":false,"id":"8d022243-e339-4f0a-b613-0a276feeae9f","public_access":{},"url":"https://6995e8ab-1f21-433e-a8be-6cb61b2483ca.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"6995e8ab-1f21-433e-a8be-6cb61b2483ca","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 696.744834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/6995e8ab-1f21-433e-a8be-6cb61b2483ca
        method: GET
      response:
        body: '{"created_at":"2024-10-10T13:34:42.716863Z","endpoints":[{"disable_auth":false,"id":"8d022243-e339-4f0a-b613-0a276feeae9f","public_access":{},"url":"https://6995e8ab-1f21-433e-a8be-6cb61b2483ca.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"6995e8ab-1f21-433e-a8be-6cb61b2483ca","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.577458ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/6995e8ab-1f21-433e-a8be-6cb61b2483ca
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"6995e8ab-1f21-433e-a8be-6cb61b2483ca","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 240.020167ms
[...]
