---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"public":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-24T13:29:02.345060Z","endpoints":[{"disable_auth":false,"id":"323ee315-02b1-4ddd-acb2-c94a4ed78039","public_access":{},"url":"https://20043a05-db6e-4ef5-bec6-40089e6d13d0.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"20043a05-db6e-4ef5-bec6-40089e6d13d0","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.942708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/20043a05-db6e-4ef5-bec6-40089e6d13d0
        method: GET
      response:
        body: '{"created_at":"2024-10-24T13:29:02.345060Z","endpoints":[{"disable_auth":false,"id":"323ee315-02b1-4ddd-acb2-c94a4ed78039","public_access":{},"url":"https://20043a05-db6e-4ef5-bec6-40089e6d13d0.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"20043a05-db6e-4ef5-bec6-40089e6d13d0","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.465458ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/20043a05-db6e-4ef5-bec6-40089e6d13d0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"20043a05-db6e-4ef5-bec6-40089e6d13d0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.452333ms
[...]
