---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-24T13:29:02.392287Z","dhcp_enabled":true,"id":"5213e862-3c32-4e23-8c5a-fb079958acea","name":"private-network-test-inference","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-10-24T13:29:02.392287Z","id":"55561a48-f44e-404e-89f9-7d31f442d655","private_network_id":"5213e862-3c32-4e23-8c5a-fb079958acea","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.80.0/22","updated_at":"2024-10-24T13:29:02.392287Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2024-10-24T13:29:02.392287Z","id":"9dda5654-4cf2-44d5-9a94-59075b96ea81","private_network_id":"5213e862-3c32-4e23-8c5a-fb079958acea","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9f1::/64","updated_at":"2024-10-24T13:29:02.392287Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2024-10-24T13:29:02.392287Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 675.246667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5213e862-3c32-4e23-8c5a-fb079958acea
        method: GET
      response:
        body: '{"created_at":"2024-10-24T13:29:02.392287Z","dhcp_enabled":true,"id":"5213e862-3c32-4e23-8c5a-fb079958acea","name":"private-network-test-inference","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-10-24T13:29:02.392287Z","id":"55561a48-f44e-404e-89f9-7d31f442d655","private_network_id":"5213e862-3c32-4e23-8c5a-fb079958acea","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.80.0/22","updated_at":"2024-10-24T13:29:02.392287Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2024-10-24T13:29:02.392287Z","id":"9dda5654-4cf2-44d5-9a94-59075b96ea81","private_network_id":"5213e862-3c32-4e23-8c5a-fb079958acea","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9f1::/64","updated_at":"2024-10-24T13:29:02.392287Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2024-10-24T13:29:02.392287Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.378416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"endpoints":[{"private_network":{"private_network_id":"5213e862-3c32-4e23-8c5a-fb079958acea"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-24T13:29:03.040316Z","endpoints":[{"disable_auth":false,"id":"02527765-8d08-427e-8c8d-db76fe661126","private_network":{"private_network_id":"5213e862-3c32-4e23-8c5a-fb079958acea"},"url":"https://7aac488b-b5a5-47cf-894a-75bf1759e247.private-network-test-inference"}],"error_message":null,"id":"7aac488b-b5a5-47cf-894a-75bf1759e247","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.979208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/7aac488b-b5a5-47cf-894a-75bf1759e247
        method: GET
      response:
        body: '{"created_at":"2024-10-24T13:29:03.040316Z","endpoints":[{"disable_auth":false,"id":"02527765-8d08-427e-8c8d-db76fe661126","private_network":{"private_network_id":"5213e862-3c32-4e23-8c5a-fb079958acea"},"url":"https://7aac488b-b5a5-47cf-894a-75bf1759e247.private-network-test-inference"}],"error_message":null,"id":"7aac488b-b5a5-47cf-894a-75bf1759e247","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-endpoint-private","node_type":"L4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.838917ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/7aac488b-b5a5-47cf-894a-75bf1759e247
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"7aac488b-b5a5-47cf-894a-75bf1759e247","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.984208ms
[...]
