---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"public_network":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-04-28T14:45:04.265935Z","endpoints":[{"disable_auth":false,"id":"8b8de8c2-c9cf-432b-8e92-fb3f765a9a55","public_network":{},"url":"https://5532e81d-a16d-4855-aa9e-b6ddcf55dd7c.ifr.fr-par.scaleway.com"}],"id":"5532e81d-a16d-4855-aa9e-b6ddcf55dd7c","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.407334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/5532e81d-a16d-4855-aa9e-b6ddcf55dd7c
        method: GET
      response:
        body: '{"created_at":"2025-04-28T14:45:04.265935Z","endpoints":[{"disable_auth":false,"id":"8b8de8c2-c9cf-432b-8e92-fb3f765a9a55","public_network":{},"url":"https://5532e81d-a16d-4855-aa9e-b6ddcf55dd7c.ifr.fr-par.scaleway.com"}],"id":"5532e81d-a16d-4855-aa9e-b6ddcf55dd7c","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.366833ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/5532e81d-a16d-4855-aa9e-b6ddcf55dd7c
        method: GET
      response:
        body: '{"created_at":"2025-04-28T14:45:04.265935Z","endpoints":[{"disable_auth":false,"id":"8b8de8c2-c9cf-432b-8e92-fb3f765a9a55","public_network":{},"url":"https://5532e81d-a16d-4855-aa9e-b6ddcf55dd7c.ifr.fr-par.scaleway.com"}],"error_message":"","id":"5532e81d-a16d-4855-aa9e-b6ddcf55dd7c","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-basic","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"deploying","tags":[],"updated_at":"2025-04-28T14:48:27.883215Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.483167ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/5532e81d-a16d-4855-aa9e-b6ddcf55dd7c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"5532e81d-a16d-4855-aa9e-b6ddcf55dd7c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.889875ms
[...]
