---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test-inference","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-28T14:45:04.296277Z","dhcp_enabled":true,"id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-28T14:45:04.296277Z","id":"f35bd1ad-80ae-43e9-a1ac-ebe389bb3e33","private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.52.0/22","updated_at":"2025-04-28T14:45:04.296277Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-04-28T14:45:04.296277Z","id":"09921855-6767-4a2f-b081-80539e61b596","private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:54a8::/64","updated_at":"2025-04-28T14:45:04.296277Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-04-28T14:45:04.296277Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 695.454583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/33788eb0-ee3c-4d3c-bb52-fba92a96f24f
        method: GET
      response:
        body: '{"created_at":"2025-04-28T14:45:04.296277Z","dhcp_enabled":true,"id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f","name":"private-network-test-inference","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","subnets":[{"created_at":"2025-04-28T14:45:04.296277Z","id":"f35bd1ad-80ae-43e9-a1ac-ebe389bb3e33","private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"172.16.52.0/22","updated_at":"2025-04-28T14:45:04.296277Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},{"created_at":"2025-04-28T14:45:04.296277Z","id":"09921855-6767-4a2f-b081-80539e61b596","private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","subnet":"fd64:badd:7710:54a8::/64","updated_at":"2025-04-28T14:45:04.296277Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}],"tags":[],"updated_at":"2025-04-28T14:45:04.296277Z","vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.974125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-endpoint-private","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","accept_eula":true,"node_type_name":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"private_network":{"private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f"},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2025-04-28T14:45:05.040045Z","endpoints":[{"disable_auth":false,"id":"8ff4ee42-68a3-48da-8969-9dd0dd45b16f","private_network":{"private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f"},"url":"https://6917b2b1-3d90-4963-b66a-e5bd8033b98f.33788eb0-ee3c-4d3c-bb52-fba92a96f24f.internal"}],"id":"6917b2b1-3d90-4963-b66a-e5bd8033b98f","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.3975ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/6917b2b1-3d90-4963-b66a-e5bd8033b98f
        method: GET
      response:
        body: '{"created_at":"2025-04-28T14:45:05.040045Z","endpoints":[{"disable_auth":false,"id":"8ff4ee42-68a3-48da-8969-9dd0dd45b16f","private_network":{"private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f"},"url":"https://6917b2b1-3d90-4963-b66a-e5bd8033b98f.33788eb0-ee3c-4d3c-bb52-fba92a96f24f.internal"}],"id":"6917b2b1-3d90-4963-b66a-e5bd8033b98f","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.751375ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/6917b2b1-3d90-4963-b66a-e5bd8033b98f
        method: GET
      response:
        body: '{"created_at":"2025-04-28T14:45:05.040045Z","endpoints":[{"disable_auth":false,"id":"8ff4ee42-68a3-48da-8969-9dd0dd45b16f","private_network":{"private_network_id":"33788eb0-ee3c-4d3c-bb52-fba92a96f24f"},"url":"https://6917b2b1-3d90-4963-b66a-e5bd8033b98f.33788eb0-ee3c-4d3c-bb52-fba92a96f24f.internal"}],"error_message":"","id":"6917b2b1-3d90-4963-b66a-e5bd8033b98f","max_size":1,"min_size":1,"model_id":"ca90eec6-c8b2-4814-8b00-8bb3bc803879","model_name":"meta/llama-3.1-8b-instruct:bf16","name":"test-inference-deployment-endpoint-private","node_type_name":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","quantization":{"bits":0},"region":"fr-par","size":0,"status":"deploying","tags":[],"updated_at":"2025-04-28T14:48:41.987243Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.596375ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/6917b2b1-3d90-4963-b66a-e5bd8033b98f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"6917b2b1-3d90-4963-b66a-e5bd8033b98f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.416125ms
[...]
