---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-inference-deployment-basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","model_name":"meta/llama-3.1-8b-instruct:fp8","accept_eula":true,"node_type":"L4","tags":[],"min_size":1,"max_size":1,"endpoints":[{"public":{},"disable_auth":false}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2024-10-23T14:20:33.245132Z","endpoints":[{"disable_auth":false,"id":"8f3064ca-fa26-4633-b186-2ef6c1184cf3","public_access":{},"url":"https://efafe66d-ded5-4423-8552-b458c925cf89.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"efafe66d-ded5-4423-8552-b458c925cf89","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.585667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/efafe66d-ded5-4423-8552-b458c925cf89
        method: GET
      response:
        body: '{"created_at":"2024-10-23T14:20:33.245132Z","endpoints":[{"disable_auth":false,"id":"8f3064ca-fa26-4633-b186-2ef6c1184cf3","public_access":{},"url":"https://efafe66d-ded5-4423-8552-b458c925cf89.ifr.fr-par.scaleway.com"}],"error_message":null,"id":"efafe66d-ded5-4423-8552-b458c925cf89","max_size":1,"min_size":1,"model_id":"d33fb5fd-75ca-4dfb-8952-8af8b8b28be5","model_name":"meta/llama-3.1-8b-instruct:fp8","name":"test-inference-deployment-basic","node_type":"L4","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":0,"status":"creating","tags":[],"updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.321167ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments/efafe66d-ded5-4423-8552-b458c925cf89
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"efafe66d-ded5-4423-8552-b458c925cf89","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 93.053625ms
[...]
