---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccModel_Basic\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"source\":{\"url\":\"https://huggingface.co/agentica-org/DeepCoder-14B-Preview\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models
    method: POST
  response:
    body: "{\"id\":\"ce7dadee-a04a-4949-8044-0c7821fe1859\",\"name\":\"TestAccModel_Basic\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"custom\"],\"status\":\"ready\",\"description\":\"\",\"created_at\":\"2025-08-27T16:26:24.190800Z\",\"updated_at\":null,\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"node_type_name\":\"L4\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"L40S\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":true,\"max_context_size\":18615},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100-2\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":true,\"max_context_size\":131072},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]}]}],\"parameter_size_bits\":32,\"size_bytes\":59091725385,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 533.964359ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models/ce7dadee-a04a-4949-8044-0c7821fe1859
    method: GET
  response:
    body: "{\"id\":\"ce7dadee-a04a-4949-8044-0c7821fe1859\",\"name\":\"TestAccModel_Basic\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"custom\"],\"status\":\"ready\",\"description\":\"\",\"created_at\":\"2025-08-27T16:26:24.190800Z\",\"updated_at\":null,\"has_eula\":false,\"nodes_s[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models/ce7dadee-a04a-4949-8044-0c7821fe1859
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"Model\",\"resource_id\":\"ce7dadee-a04a-4949-8044-0c7821fe1859\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.829775ms
