---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccModel_DeployModelOnServer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"source\":{\"url\":\"https://huggingface.co/agentica-org/DeepCoder-14B-Preview\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models
    method: POST
  response:
    body: "{\"id\":\"14269cfa-f6fc-4f73-8ae0-909706e04973\",\"name\":\"TestAccModel_DeployModelOnServer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"custom\"],\"status\":\"ready\",\"description\":\"\",\"created_at\":\"2025-08-27T16:26:24.609814Z\",\"updated_at\":null,\"has_eula\":false,\"nodes_support\":[{\"nodes\":[{\"node_type_name\":\"L4\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"L40S\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":true,\"max_context_size\":18615},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]},{\"node_type_name\":\"H100-2\",\"quantizations\":[{\"quantization_bits\":32,\"allowed\":true,\"max_context_size\":131072},{\"quantization_bits\":16,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":8,\"allowed\":false,\"max_context_size\":0},{\"quantization_bits\":4,\"allowed\":false,\"max_context_size\":0}]}]}],\"parameter_size_bits\":32,\"size_bytes\":59091725385,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 871.618598ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/models/14269cfa-f6fc-4f73-8ae0-909706e04973
    method: GET
  response:
    body: "{\"id\":\"14269cfa-f6fc-4f73-8ae0-909706e04973\",\"name\":\"TestAccModel_DeployModelOnServer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"custom\"],\"status\":\"ready\",\"description\":\"\",\"created_at\":\"2025-08-27T16:26:24.609814Z\",\"updated_at\":null,\"has_eula\":f[...]
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccModel_DeployModelOnServer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"model_id\":\"14269cfa-f6fc-4f73-8ae0-909706e04973\",\"accept_eula\":true,\"node_type_name\":\"H100\",\"tags\":[],\"min_size\":1,\"max_size\":1,\"endpoints\":[{\"public_network\":{},\"disable_auth\":false}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: "{\"id\":\"f7288998-af04-4a45-be42-a7120ad569ea\",\"name\":\"TestAccModel_DeployModelOnServer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"creating\",\"tags\":[],\"node_type_name\":\"H100\",\"endpoints\":[{\"id\":\"75e6bb89-5c95-4c8c-90f2-b3b20b6fad9f\",\"url\":\"https://f7288998-af04-4a45-be42-a7120ad569ea.ifr.fr-par.scaleway.com\",\"public_network\":{},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"created_at\":\"2025-08-27T16:26:24.859728Z\",\"updated_at\":null,\"model_id\":\"14269cfa-f6fc-4f73-8ae0-909706e04973\",\"quantization\":{\"bits\":32},\"model_name\":\"TestAccModel_DeployModelOnServer\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 316.443504ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/f7288998-af04-4a45-be42-a7120ad569ea
    method: GET
  response:
    body: "{\"id\":\"f7288998-af04-4a45-be42-a7120ad569ea\",\"name\":\"TestAccModel_DeployModelOnServer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"creating\",\"tags\":[],\"node_type_name\":\"H100\",\"endpoints\":[{\"id\":\"75e6bb89-5c95-4c8c-90f2-b3b20b6fad9f\",\"url\":\"https://f7288998-af04-4a45-be42-a7120ad569ea.ifr.fr-par.scaleway.com\",\"public_network\":{},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"created_at\":\"2025-08-27T16:26:24.859728Z\",\"updated_at\":null,\"model_id\":\"14269cfa-f6fc-4f73-8ae0-909706e04973\",\"quantization\":{\"bits\":32},\"model_name\":\"TestAccModel_DeployModelOnServer\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 84.464928ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/f7288998-af04-4a45-be42-a7120ad569ea
    method: GET
  response:
    body: "{\"id\":\"f7288998-af04-4a45-be42-a7120ad569ea\",\"name\":\"TestAccModel_DeployModelOnServer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"deploying\",\"tags\":[],\"node_type_name\":\"H100\",\"endpoints\":[{\"id\":\"75e6bb89-5c95-4c8c-90f2-b3b20b6fad9f\",\"url\":\"https://f7288998-af04-4a45-be42-a7120ad569ea.ifr.fr-par.scaleway.com\",\"public_network\":{},\"disable_auth\":false}],\"size\":0,\"min_size\":1,\"max_size\":1,\"error_message\":\"\",\"created_at\":\"2025-08-27T16:26:24.859728Z\",\"updated_at\":\"2025-08-27T16:30:32.151028Z\",\"model_id\":\"14269cfa-f6fc-4f73-8ae0-909706e04973\",\"quantization\":{\"bits\":32},\"model_name\":\"TestAccModel_DeployModelOnServer\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.680589ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/f7288998-af04-4a45-be42-a7120ad569ea
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"deployment\",\"resource_id\":\"f7288998-af04-4a45-be42-a7120ad569ea\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.999966ms
[...]
