---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domains":["test-ds-reg-project--5763323528887380721.com"],"duration_in_years":1,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"legal_form":"individual","firstname":"John","lastname":"DOE","company_name":"","email":"john.doe@example.com","email_alt":"","phone_number":"+1.23456789","fax_number":"","address_line_1":"123 Main Street","address_line_2":"","zip":"75001","city":"Paris","country":"FR","vat_identification_code":"FR12345678901","company_identification_code":"123456789","lang":"unknown_language_code","resale":false,"extension_fr":null,"extension_eu":null,"whois_opt_in":false,"state":"","extension_nl":null,"extension_it":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/buy-domains
        method: POST
      response:
        body: '{"created_at":"2026-06-22T10:26:31.630638230Z","domains":["test-ds-reg-project--5763323528887380721.com"],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","task_id":"089683f2-f550-4b3b-a90a-ae50f5ad18e6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.304368458s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1&page_size=1000
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-contacts-update1.com","id":"779d88ab-8448-4a8f-8f31-ce48cdea620f","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-17T09:14:36Z","status":"success","type":"create_domain","updated_at":"2026-06-17T09:18:31Z"},{"contact_identifier":"","domain":"test-contacts-update2.com","id":"4447900e-9c30-4c64-90ec-46757bb33501","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-17T09:29:19Z","status":"success","type":"create_domain","updated_at":"2026-06-17T09:32:45Z"},{"contact_identifier":"","domain":"test-contacts-update3.com","id":"867575c2-12dd-4369-8084-43e577d1798f","message":null,"organizat[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/domains/test-ds-reg-project--5763323528887380721.com
        method: GET
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"ZUw2lLYpoSHMEHfiLq9R_SHZ6tLuYKZId2sGxQtebK_MvA==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"disabled","dns_zones":[{"domain":"test-ds-reg-project--5763323528887380721.com","linked_products":[],"message":null,"ns":["ns1.stg-scaleway.com.","ns2.stg-scaleway.com."],"ns_default":["ns1.stg-scaleway.com","ns2.stg-scaleway.com"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-06-22T10:28:51Z"}],"dnssec":{"ds_records":[],"status":"disabled"},"domain":"test-ds-reg-project--5763323528887380721.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-06-22T12:29:26Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"ZUw2lLYpoSHMEHfiLq9R_SHZ6tLuYKZId2sGxQtebK_MvA==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"pending_trade":false,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","registrar":"SCALEWAY","status":"active","technical_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"ZUw2lLYpoSHMEHfiLq9R_SHZ6tLuYKZId2sGxQtebK_MvA==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"tld":{"dnssec_support":true,"duration_in_years_max":9,"duration_in_years_min":1,"idn_support":false,"name":"com","offers":{"renew":{"action":"renew","operation_path":"/network/domain/domains/com/renew","price":{"currency_code":"EUR","nanos":990000000,"units":12}},"trade":{"action":"trade","operation_path":"/network/domain/domains/com/trade","price":{"currency_code":"EUR","nanos":0,"units":0}}},"specifications":{"grace_period":"30"}},"updated_at":"2026-06-22T10:30:24Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 584.296792ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?domain=test-ds-reg-project--5763323528887380721.com&order_by=domain_desc&page=1&project_id=2efde44b-c582-4939-be07-6e3f62b3d71e
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-ds-reg-project--5763323528887380721.com","id":"089683f2-f550-4b3b-a90a-ae50f5ad18e6","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-22T10:26:32Z","status":"success","type":"create_domain","updated_at":"2026-06-22T10:30:44Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.204708ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-contacts-update1.com","id":"779d88ab-8448-4a8f-8f31-ce48cdea620f","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at"[...]
[...]
