---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"www","priority":10,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"a2f776d5-e62d-46d3-b6bf-31fba7e730f2","name":"www","priority":10,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 979.949875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"a2f776d5-e62d-46d3-b6bf-31fba7e730f2","name":"www","priority":10,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.770917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"a2f776d5-e62d-46d3-b6bf-31fba7e730f2","name":"www","priority":10,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.105375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?id=a2f776d5-e62d-46d3-b6bf-31fba7e730f2&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"a2f776d5-e62d-46d3-b6bf-31fba7e730f2","name":"www","priority":10,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.589791ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.480583ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"d119fdf0-b064-40bc-869d-c62117902ec3","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:00Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"a7d98e62-cc4f-4f90-9893-f2c899406fd2","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:00Z"},{"comment":null,"data":"1.2.3.4","id":"a2f776d5-e62d-46d3-b6bf-31fba7e730f2","name":"www","priority":10,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.603958ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"a2f776d5-e62d-46d3-b6bf-31fba7e730f2"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.548625ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","comment":null,"geo_ip_config":{"matches":[{"countries":["FR"],"continents":["EU"],"data":"1.2.3.4"},{"countries":[],"continents":["NA"],"data":"1.2.3.5"}],"default":"1.2.3.4"},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"7442d410-2979-4f8c-be02-70e6e490224f","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.879583ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"7442d410-2979-4f8c-be02-70e6e490224f","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.56375ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"7442d410-2979-4f8c-be02-70e6e490224f","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.107959ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?id=7442d410-2979-4f8c-be02-70e6e490224f&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"7442d410-2979-4f8c-be02-70e6e490224f","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.907917ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-geo-ip.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-geo-ip","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.19475ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"a3b23f31-189f-4c13-9209-658cc749404e","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:07Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"c0b85791-7e54-4e82-943c-87e9d514b9cd","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:07Z"},{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"7442d410-2979-4f8c-be02-70e6e490224f","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.631625ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","comment":null,"http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","url":"http://mywebsite.com/health","user_agent":"scw_service_up","strategy":"hashed"},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"ccb736ef-dbe2-49a5-881f-d50b1711b062","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:14Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.784375ms
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"ccb736ef-dbe2-49a5-881f-d50b1711b062","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:14Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.535625ms
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"ccb736ef-dbe2-49a5-881f-d50b1711b062","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:14Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.20325ms
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?id=ccb736ef-dbe2-49a5-881f-d50b1711b062&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"ccb736ef-dbe2-49a5-881f-d50b1711b062","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:14Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.810292ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-http-service.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-http-service","updated_at":"2026-03-20T09:28:14Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.955709ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"4adca8db-54d3-4765-a9d6-f0ea9a151e17","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:13Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"db307004-8598-4882-a760-020c0a821c20","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:13Z"},{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"ccb736ef-dbe2-49a5-881f-d50b1711b062","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:14Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.122166ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"ccb736ef-dbe2-49a5-881f-d50b1711b062"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.796917ms
    - id: 61
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_view","priority":0,"ttl":3600,"type":"A","comment":null,"view_config":{"views":[{"subnet":"100.0.0.0/16","data":"1.2.3.4"},{"subnet":"100.1.0.0/16","data":"4.3.2.1"}]},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"55e81f8c-ada7-4d12-98f6-8d6a28355c04","name":"tf_view","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:15Z","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.229542ms
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"55e81f8c-ada7-4d12-98f6-8d6a28355c04","name":"tf_view","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:15Z","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.591667ms
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"55e81f8c-ada7-4d12-98f6-8d6a28355c04","name":"tf_view","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:15Z","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.631208ms
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?id=55e81f8c-ada7-4d12-98f6-8d6a28355c04&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"55e81f8c-ada7-4d12-98f6-8d6a28355c04","name":"tf_view","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:15Z","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.982875ms
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-view.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-view","updated_at":"2026-03-20T09:28:15Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.344833ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"108d833a-0bf4-448b-8872-194a41c0ad94","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:19Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"a7542650-acc4-4c59-bcbb-be826f648a04","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:19Z"},{"comment":null,"data":"1.2.3.4","id":"55e81f8c-ada7-4d12-98f6-8d6a28355c04","name":"tf_view","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:15Z","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.050833ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","comment":null,"weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"b6d3de65-d69a-44ef-a965-990556099584","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:17Z","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.972625ms
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"b6d3de65-d69a-44ef-a965-990556099584","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:17Z","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 432.55725ms
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"b6d3de65-d69a-44ef-a965-990556099584","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:17Z","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.834333ms
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?id=b6d3de65-d69a-44ef-a965-990556099584&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"b6d3de65-d69a-44ef-a965-990556099584","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:17Z","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.717708ms
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-weighted.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-weighted","updated_at":"2026-03-20T09:28:17Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.52825ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"7e443a42-5e8a-4263-992d-dabf01d8694e","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:25Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"6ac6e8eb-cc07-489a-bc2f-490b59aece97","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:25Z"},{"comment":null,"data":"1.2.3.4","id":"b6d3de65-d69a-44ef-a965-990556099584","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:17Z","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.936375ms
[...]
