---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"1.2.3.4\",\"name\":\"www\",\"priority\":10,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"ea9067cf-a0ed-4d55-b09b-56e67223bce1\",\"data\":\"1.2.3.4\",\"name\":\"www\",\"priority\":10,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.310374361s
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - www
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"ea9067cf-a0ed-4d55-b09b-56e67223bce1\",\"data\":\"1.2.3.4\",\"name\":\"www\",\"priority\":10,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.21599ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - www
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"ea9067cf-a0ed-4d55-b09b-56e67223bce1\",\"data\":\"1.2.3.4\",\"name\":\"www\",\"priority\":10,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.78728ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - ea9067cf-a0ed-4d55-b09b-56e67223bce1
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?id=ea9067cf-a0ed-4d55-b09b-56e67223bce1&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"ea9067cf-a0ed-4d55-b09b-56e67223bce1\",\"data\":\"1.2.3.4\",\"name\":\"www\",\"priority\":10,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 149.570413ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-data-source.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-data-source\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:28Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 152.676252ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"d119fdf0-b064-40bc-869d-c62117902ec3\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"a7d98e62-cc4f-4f90-9893-f2c899406fd2\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"ea9067cf-a0ed-4d55-b09b-56e67223bce1\",\"data\":\"1.2.3.4\",\"name\":\"www\",\"priority\":10,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.47813ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      id:
      - ea9067cf-a0ed-4d55-b09b-56e67223bce1
      name:
      - www
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?id=ea9067cf-a0ed-4d55-b09b-56e67223bce1&name=www&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"ea9067cf-a0ed-4d55-b09b-56e67223bce1\",\"data\":\"1.2.3.4\",\"name\":\"www\",\"priority\":10,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.039585ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"ea9067cf-a0ed-4d55-b09b-56e67223bce1\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.516588ms
- id: 32
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"1.2.3.4\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"1.2.3.4\"},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"0b0b4bef-3de3-4411-82ff-0505540533f6\",\"data\":\"1.2.3.4\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"1.2.3.4\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 281.282869ms
- id: 33
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_geo_ip
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"0b0b4bef-3de3-4411-82ff-0505540533f6\",\"data\":\"1.2.3.4\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"1.2.3.4\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.356528ms
- id: 34
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_geo_ip
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"0b0b4bef-3de3-4411-82ff-0505540533f6\",\"data\":\"1.2.3.4\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"1.2.3.4\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 377.322366ms
- id: 35
  request:
    host: api.scaleway.com
    form:
      id:
      - 0b0b4bef-3de3-4411-82ff-0505540533f6
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?id=0b0b4bef-3de3-4411-82ff-0505540533f6&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"0b0b4bef-3de3-4411-82ff-0505540533f6\",\"data\":\"1.2.3.4\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"1.2.3.4\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 139.477176ms
- id: 36
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-data-source-geo-ip.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-geo-ip.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-data-source-geo-ip\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:54Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 131.727834ms
[...]
- id: 39
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"a3b23f31-189f-4c13-9209-658cc749404e\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"c0b85791-7e54-4e82-943c-87e9d514b9cd\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"0b0b4bef-3de3-4411-82ff-0505540533f6\",\"data\":\"1.2.3.4\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"1.2.3.4\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.453899ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    form:
      id:
      - 0b0b4bef-3de3-4411-82ff-0505540533f6
      name:
      - tf_geo_ip
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?id=0b0b4bef-3de3-4411-82ff-0505540533f6&name=tf_geo_ip&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"0b0b4bef-3de3-4411-82ff-0505540533f6\",\"data\":\"1.2.3.4\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"1.2.3.4\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.231222ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"1.2.3.4\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"09c25eb5-46be-4116-ade0-40bc68ab7201\",\"data\":\"1.2.3.4\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.000479ms
- id: 52
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_http_service
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"09c25eb5-46be-4116-ade0-40bc68ab7201\",\"data\":\"1.2.3.4\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 213.574374ms
- id: 53
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_http_service
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"09c25eb5-46be-4116-ade0-40bc68ab7201\",\"data\":\"1.2.3.4\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.985754ms
- id: 54
  request:
    host: api.scaleway.com
    form:
      id:
      - 09c25eb5-46be-4116-ade0-40bc68ab7201
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?id=09c25eb5-46be-4116-ade0-40bc68ab7201&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"09c25eb5-46be-4116-ade0-40bc68ab7201\",\"data\":\"1.2.3.4\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.932335ms
- id: 55
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-data-source-http-service.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-http-service.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-data-source-http-service\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:26:15Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.14573ms
[...]
- id: 58
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"4adca8db-54d3-4765-a9d6-f0ea9a151e17\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"db307004-8598-4882-a760-020c0a821c20\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"09c25eb5-46be-4116-ade0-40bc68ab7201\",\"data\":\"1.2.3.4\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.432877ms
[...]
- id: 61
  request:
    host: api.scaleway.com
    form:
      id:
      - 09c25eb5-46be-4116-ade0-40bc68ab7201
      name:
      - tf_http_service
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?id=09c25eb5-46be-4116-ade0-40bc68ab7201&name=tf_http_service&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"09c25eb5-46be-4116-ade0-40bc68ab7201\",\"data\":\"1.2.3.4\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.964266ms
[...]
- id: 70
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"1.2.3.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"f11f3453-4bfd-4118-9931-605d8377e1a9\",\"data\":\"1.2.3.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 204.499156ms
- id: 71
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_view
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f11f3453-4bfd-4118-9931-605d8377e1a9\",\"data\":\"1.2.3.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.034231ms
- id: 72
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_view
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f11f3453-4bfd-4118-9931-605d8377e1a9\",\"data\":\"1.2.3.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.557104ms
- id: 73
  request:
    host: api.scaleway.com
    form:
      id:
      - f11f3453-4bfd-4118-9931-605d8377e1a9
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?id=f11f3453-4bfd-4118-9931-605d8377e1a9&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f11f3453-4bfd-4118-9931-605d8377e1a9\",\"data\":\"1.2.3.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.718156ms
- id: 74
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-data-source-view.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-view.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-data-source-view\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:26:36Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.928416ms
[...]
- id: 77
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"108d833a-0bf4-448b-8872-194a41c0ad94\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"a7542650-acc4-4c59-bcbb-be826f648a04\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"f11f3453-4bfd-4118-9931-605d8377e1a9\",\"data\":\"1.2.3.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.821102ms
[...]
- id: 80
  request:
    host: api.scaleway.com
    form:
      id:
      - f11f3453-4bfd-4118-9931-605d8377e1a9
      name:
      - tf_view
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?id=f11f3453-4bfd-4118-9931-605d8377e1a9&name=tf_view&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f11f3453-4bfd-4118-9931-605d8377e1a9\",\"data\":\"1.2.3.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.302859ms
[...]
- id: 89
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"1.2.3.4\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"7762d1d0-39bd-4999-94a4-9b2b0ed7fa3d\",\"data\":\"1.2.3.4\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 215.366799ms
- id: 90
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_weighted
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"7762d1d0-39bd-4999-94a4-9b2b0ed7fa3d\",\"data\":\"1.2.3.4\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.673074ms
- id: 91
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_weighted
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"7762d1d0-39bd-4999-94a4-9b2b0ed7fa3d\",\"data\":\"1.2.3.4\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.505345ms
- id: 92
  request:
    host: api.scaleway.com
    form:
      id:
      - 7762d1d0-39bd-4999-94a4-9b2b0ed7fa3d
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?id=7762d1d0-39bd-4999-94a4-9b2b0ed7fa3d&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"7762d1d0-39bd-4999-94a4-9b2b0ed7fa3d\",\"data\":\"1.2.3.4\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.433054ms
- id: 93
  request:
[...]
