---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"www","priority":10,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"483edf0e-6f8c-4e08-ab9e-6bbd93051031","name":"www","priority":10,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.062375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"483edf0e-6f8c-4e08-ab9e-6bbd93051031","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.097583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"483edf0e-6f8c-4e08-ab9e-6bbd93051031","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.182083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?id=483edf0e-6f8c-4e08-ab9e-6bbd93051031&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"483edf0e-6f8c-4e08-ab9e-6bbd93051031","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.594083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source","updated_at":"2026-02-23T16:45:06Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.490208ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"d119fdf0-b064-40bc-869d-c62117902ec3","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"a7d98e62-cc4f-4f90-9893-f2c899406fd2","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","id":"483edf0e-6f8c-4e08-ab9e-6bbd93051031","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.834042ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"483edf0e-6f8c-4e08-ab9e-6bbd93051031"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.270125ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","comment":null,"geo_ip_config":{"matches":[{"countries":["FR"],"continents":["EU"],"data":"1.2.3.4"},{"countries":[],"continents":["NA"],"data":"1.2.3.5"}],"default":"1.2.3.4"},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"6f77d6c9-daea-4928-8af0-9fd7c6b4d107","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.05075ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"6f77d6c9-daea-4928-8af0-9fd7c6b4d107","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.286083ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"6f77d6c9-daea-4928-8af0-9fd7c6b4d107","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.134958ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?id=6f77d6c9-daea-4928-8af0-9fd7c6b4d107&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"6f77d6c9-daea-4928-8af0-9fd7c6b4d107","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.414333ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-geo-ip.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-geo-ip","updated_at":"2026-02-23T16:45:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.608458ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"a3b23f31-189f-4c13-9209-658cc749404e","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"c0b85791-7e54-4e82-943c-87e9d514b9cd","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"6f77d6c9-daea-4928-8af0-9fd7c6b4d107","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.249541ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","comment":null,"http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","url":"http://mywebsite.com/health","user_agent":"scw_service_up","strategy":"hashed"},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"888d05c8-c199-4ed6-9c71-240f17afda18","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.10825ms
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"888d05c8-c199-4ed6-9c71-240f17afda18","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.648458ms
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"888d05c8-c199-4ed6-9c71-240f17afda18","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.721208ms
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?id=888d05c8-c199-4ed6-9c71-240f17afda18&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"888d05c8-c199-4ed6-9c71-240f17afda18","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.9875ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-http-service.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-http-service","updated_at":"2026-02-23T16:45:19Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.59725ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"4adca8db-54d3-4765-a9d6-f0ea9a151e17","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"db307004-8598-4882-a760-020c0a821c20","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"888d05c8-c199-4ed6-9c71-240f17afda18","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.48275ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"888d05c8-c199-4ed6-9c71-240f17afda18"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.869ms
    - id: 61
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_view","priority":0,"ttl":3600,"type":"A","comment":null,"view_config":{"views":[{"subnet":"100.0.0.0/16","data":"1.2.3.4"},{"subnet":"100.1.0.0/16","data":"4.3.2.1"}]},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"4c6396a6-9f5e-4a50-aa5e-189b2e5aad03","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.386709ms
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"4c6396a6-9f5e-4a50-aa5e-189b2e5aad03","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.829667ms
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"4c6396a6-9f5e-4a50-aa5e-189b2e5aad03","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.090584ms
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?id=4c6396a6-9f5e-4a50-aa5e-189b2e5aad03&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"4c6396a6-9f5e-4a50-aa5e-189b2e5aad03","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.279541ms
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-view.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-view","updated_at":"2026-02-23T16:45:22Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.118041ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"108d833a-0bf4-448b-8872-194a41c0ad94","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"a7542650-acc4-4c59-bcbb-be826f648a04","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","id":"4c6396a6-9f5e-4a50-aa5e-189b2e5aad03","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.199125ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","comment":null,"weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"3be4d6f6-4730-473d-b627-35ec42f2e2d8","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.915ms
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"3be4d6f6-4730-473d-b627-35ec42f2e2d8","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.967292ms
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"3be4d6f6-4730-473d-b627-35ec42f2e2d8","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.736875ms
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?id=3be4d6f6-4730-473d-b627-35ec42f2e2d8&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"3be4d6f6-4730-473d-b627-35ec42f2e2d8","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.721875ms
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-weighted.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-weighted","updated_at":"2026-02-23T16:45:24Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.102708ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-weighted.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"7e443a42-5e8a-4263-992d-dabf01d8694e","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"6ac6e8eb-cc07-489a-bc2f-490b59aece97","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","id":"3be4d6f6-4730-473d-b627-35ec42f2e2d8","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.788167ms
[...]
