---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-zone2.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-zone2.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.020441364s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-zone2\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-zone2\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:29Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 570.35512ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-zone2.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-zone2.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-zone2\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:29Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.558979ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - test-zone2.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-zone2.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-zone2\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:34Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 255.144296ms
- id: 10
  request:
    host: api.scaleway.com
    form:
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-zone2.scaleway-terraform.com?project_id=d03c0af1-fec9-44aa-a12c-54cb13072778
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.427649ms
[...]
