---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domains":["test-ds-reg-2-942430570701024891.com"],"duration_in_years":1,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"legal_form":"individual","firstname":"John","lastname":"DOE","company_name":"","email":"john.doe@example.com","email_alt":"","phone_number":"+1.23456789","fax_number":"","address_line_1":"123 Main Street","address_line_2":"","zip":"75001","city":"Paris","country":"FR","vat_identification_code":"FR12345678901","company_identification_code":"123456789","lang":"unknown_language_code","resale":false,"extension_fr":null,"extension_eu":null,"whois_opt_in":false,"state":"","extension_nl":null,"extension_it":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/buy-domains
        method: POST
      response:
        body: '{"created_at":"2026-03-05T06:00:19.012927534Z","domains":["test-ds-reg-2-942430570701024891.com"],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","task_id":"ea00fe52-b8cf-4d20-b6c4-c4858a1f6c10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 16.034952916s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1&page_size=1000
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-ds-reg-1-8237324884977807542.com","id":"063a86bf-9819-4ef8-a369-58db68c75d23","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-03-05T05:46:32Z","status":"success","type":"create_domain","updated_at":"2026-03-05T05:50:44Z"},{"contact_identifier":"","domain":"test-ds-reg--731933114289571491.com","id":"1ebec1a6-6248-4e39-a1f7-1c12f5610b71","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-03-05T05:37:13Z","status":"success","type":"create_domain","updated_at":"2026-03-05T05:41:46Z"},{"contact_identifier":"individual John DOE","domain":"test-update-owner-domain59.com","id":"b319d23a-54f7-40a4-9da6-94b07[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/domains/test-ds-reg-2-942430570701024891.com
        method: GET
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"OHUwXaaVGA0lB-LxgMkfz6EtSd4v9YNwvjVM275aeF9o5Q==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"disabled","dns_zones":[{"domain":"test-ds-reg-2-942430570701024891.com","linked_products":[],"message":null,"ns":["ns1.scaleway.com.","ns2.scaleway.com."],"ns_default":["ns1.scaleway.com","ns2.scaleway.com"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-03-05T06:02:03Z"}],"dnssec":{"ds_records":[],"status":"disabled"},"domain":"test-ds-reg-2-942430570701024891.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-03-05T07:02:38Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"OHUwXaaVGA0lB-LxgMkfz6EtSd4v9YNwvjVM275aeF9o5Q==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"pending_trade":false,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","registrar":"SCALEWAY","status":"active","technical_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"OHUwXaaVGA0lB-LxgMkfz6EtSd4v9YNwvjVM275aeF9o5Q==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"tld":{"dnssec_support":true,"duration_in_years_max":9,"duration_in_years_min":1,"idn_support":false,"name":"com","offers":{"renew":{"action":"renew","operation_path":"/network/domain/domains/com/renew","price":{"currency_code":"EUR","nanos":990000000,"units":12}},"trade":{"action":"trade","operation_path":"/network/domain/domains/com/trade","price":{"currency_code":"EUR","nanos":0,"units":0}}},"specifications":{"grace_period":"30"}},"updated_at":"2026-03-05T06:03:27Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 434.105667ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-ds-reg-1-8237324884977807542.com","id":"063a86bf-9819-4ef8-a369-58db68c75d23","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e",[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?domain=test-ds-reg-2-942430570701024891.com&order_by=domain_desc&page=1
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-ds-reg-2-942430570701024891.com","id":"ea00fe52-b8cf-4d20-b6c4-c4858a1f6c10","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-03-05T06:00:19Z","status":"success","type":"create_domain","updated_at":"2026-03-05T06:03:47Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.838125ms
[...]
