---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"www","priority":10,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"7a0db9af-f7b7-4f7c-9eab-ea39c16e8196","name":"www","priority":10,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 859.786464ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"7a0db9af-f7b7-4f7c-9eab-ea39c16e8196","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.181631ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=www&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"7a0db9af-f7b7-4f7c-9eab-ea39c16e8196","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.280644ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?id=7a0db9af-f7b7-4f7c-9eab-ea39c16e8196&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"7a0db9af-f7b7-4f7c-9eab-ea39c16e8196","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.565695ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source","updated_at":"2024-06-25T13:27:01Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.788894ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"5a212808-8855-472d-96bf-e2ac5ac9d734","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"e92d50f9-9c50-4d03-b80a-87a15a1afe6d","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","id":"7a0db9af-f7b7-4f7c-9eab-ea39c16e8196","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.531361ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records?id=7a0db9af-f7b7-4f7c-9eab-ea39c16e8196&name=www&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"7a0db9af-f7b7-4f7c-9eab-ea39c16e8196","name":"www","priority":10,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.99339ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"7a0db9af-f7b7-4f7c-9eab-ea39c16e8196"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.042414ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-data-source.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source","updated_at":"2024-06-25T13:27:05Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.675751ms
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","comment":null,"geo_ip_config":{"matches":[{"countries":["FR"],"continents":["EU"],"data":"1.2.3.4"},{"countries":[],"continents":["NA"],"data":"1.2.3.5"}],"default":"1.2.3.4"},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"52c9c4ce-4313-4b13-baab-5d4043cf1d11","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.89496ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"52c9c4ce-4313-4b13-baab-5d4043cf1d11","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.014624ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"52c9c4ce-4313-4b13-baab-5d4043cf1d11","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.471186ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?id=52c9c4ce-4313-4b13-baab-5d4043cf1d11&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"52c9c4ce-4313-4b13-baab-5d4043cf1d11","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.29883ms
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-geo-ip.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-geo-ip","updated_at":"2024-06-25T13:27:05Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.231392ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.073713ms
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"f811b9e0-a011-4c3b-b59c-4ca86f756626","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"f768a421-41bf-4fc9-80cd-287633365d43","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"52c9c4ce-4313-4b13-baab-5d4043cf1d11","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.036794ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com/records?id=52c9c4ce-4313-4b13-baab-5d4043cf1d11&name=tf_geo_ip&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","geo_ip_config":{"default":"1.2.3.4","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"52c9c4ce-4313-4b13-baab-5d4043cf1d11","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.251327ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-data-source-geo-ip.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-geo-ip","updated_at":"2024-06-25T13:27:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.9318ms
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","comment":null,"http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","url":"http://mywebsite.com/health","user_agent":"scw_service_up","strategy":"hashed"},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"42d82e78-c4ad-4213-b484-35dcf12c7c54","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.789787ms
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"42d82e78-c4ad-4213-b484-35dcf12c7c54","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.151898ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"42d82e78-c4ad-4213-b484-35dcf12c7c54","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.974524ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?id=42d82e78-c4ad-4213-b484-35dcf12c7c54&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"42d82e78-c4ad-4213-b484-35dcf12c7c54","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.87068ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-http-service.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-http-service","updated_at":"2024-06-25T13:27:13Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.800732ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-geo-ip.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.243806ms
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"93d5f4ad-c24e-415b-b3ce-797ecc55868b","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"9352488c-c4fc-4e13-93aa-b10355d639e5","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"42d82e78-c4ad-4213-b484-35dcf12c7c54","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.526537ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records?id=42d82e78-c4ad-4213-b484-35dcf12c7c54&name=tf_http_service&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"42d82e78-c4ad-4213-b484-35dcf12c7c54","name":"tf_http_service","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.912745ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"42d82e78-c4ad-4213-b484-35dcf12c7c54"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.186028ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-data-source-http-service.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-http-service","updated_at":"2024-06-25T13:27:25Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.049504ms
    - id: 81
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"1.2.3.4","name":"tf_view","priority":0,"ttl":3600,"type":"A","comment":null,"view_config":{"views":[{"subnet":"100.0.0.0/16","data":"1.2.3.4"},{"subnet":"100.1.0.0/16","data":"4.3.2.1"}]},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"765e58ca-c5d0-402f-a030-3e152f0635d5","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.179525ms
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"765e58ca-c5d0-402f-a030-3e152f0635d5","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.321319ms
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"765e58ca-c5d0-402f-a030-3e152f0635d5","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.098411ms
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?id=765e58ca-c5d0-402f-a030-3e152f0635d5&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"765e58ca-c5d0-402f-a030-3e152f0635d5","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.076374ms
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-data-source-view.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-view","updated_at":"2024-06-25T13:27:25Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.757062ms
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-http-service.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.222941ms
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"9c41336e-97b9-4df7-b2af-f1f47ddd8758","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"65392222-8429-4e27-85a8-dd886615be21","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"1.2.3.4","id":"765e58ca-c5d0-402f-a030-3e152f0635d5","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.717446ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-data-source-view.scaleway-terraform.com/records?id=765e58ca-c5d0-402f-a030-3e152f0635d5&name=tf_view&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1.2.3.4","id":"765e58ca-c5d0-402f-a030-3e152f0635d5","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.329623ms
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-data-source-view.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-data-source-view","updated_at":"2024-06-25T13:27:32Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.831006ms
    - id: 104
      request:
        host: api.scaleway.com
[...]
