---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domains":["test-multiple-118.com","test-multiple-119.com","test-multiple-120.com"],"duration_in_years":1,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"legal_form":"individual","firstname":"John","lastname":"DOE","company_name":"","email":"john.doe@example.com","email_alt":"","phone_number":"+1.23456789","fax_number":"","address_line_1":"123 Main Street","address_line_2":"","zip":"75001","city":"Paris","country":"FR","vat_identification_code":"FR12345678901","company_identification_code":"123456789","lang":"unknown_language_code","resale":false,"extension_fr":null,"extension_eu":null,"whois_opt_in":false,"state":"","extension_nl":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/buy-domains
        method: POST
      response:
        body: '{"created_at":"2025-02-12T21:04:34.503768509Z","domains":["test-multiple-118.com","test-multiple-119.com","test-multiple-120.com"],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","task_id":"1f08e0cd-7f02-434c-abc0-58f6b63cfbf2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.279786666s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1&page_size=1000
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-basic-domain10.com","id":"fe9d6604-76f8-4517-a2ab-df768d73d900","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2024-11-29T14:04:50Z","status":"success","type":"create_domain","updated_at":"2024-11-29T14:08:59Z"},{"contact_identifier":"","domain":"test-basic-domain11.com","id":"f7e829eb-924c-480a-b3c9-ea6dd257edeb","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2024-12-16T14:10:50Z","status":"success","type":"create_domain","updated_at":"2024-12-16T14:15:06Z"},{"contact_identifier":"","domain":"test-basic-domain124.com","id":"a3f475da-bc4c-4aad-9262-e685156a8e4e","message":null,"organization[...]
[...]
