---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"127.0.0.3","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","comment":null,"http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","url":"http://mywebsite.com/health","user_agent":"scw_service_up","strategy":"hashed"},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.3","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.963ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.3","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.842959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.3","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.842541ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?id=cc1dcf9e-9608-49c2-adaf-7de0e943f79e&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.3","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.195ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-httpservice.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-httpservice","updated_at":"2026-03-20T09:28:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.673417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"3eb53d36-be9b-4a17-9432-410af7eb9309","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:09Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"c4daf286-bcce-4ebb-95f7-8af7cfdd8bd5","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:09Z"},{"comment":null,"data":"127.0.0.3","http_service_config":{"ips":["1.2.3.4","4.3.2.1"],"must_contain":"up","strategy":"hashed","url":"http://mywebsite.com/health","user_agent":"scw_service_up"},"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:11Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.800625ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e","records":[{"data":"127.0.0.3","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","comment":null,"http_service_config":{"ips":["5.6.7.8"],"must_contain":"online","url":"http://mywebsite.com/healthcheck","user_agent":"scw_service_online","strategy":"random"},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.3","http_service_config":{"ips":["5.6.7.8"],"must_contain":"online","strategy":"random","url":"http://mywebsite.com/healthcheck","user_agent":"scw_service_online"},"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e","name":"tf_http_service","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:13Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.130958ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"cc1dcf9e-9608-49c2-adaf-7de0e943f79e"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.107292ms
[...]
