---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"100 1 3128 bigbox.example.com.","name":"_proxy-preproduction._tcp","priority":0,"ttl":3600,"type":"SRV","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"624d34c1-a95f-41c0-a2d0-a0486c3d31fb","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV","updated_at":"2026-03-20T09:28:08Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.768708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=_proxy-preproduction._tcp&order_by=name_asc&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"624d34c1-a95f-41c0-a2d0-a0486c3d31fb","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.895042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=_proxy-preproduction._tcp&order_by=name_asc&page=1&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"624d34c1-a95f-41c0-a2d0-a0486c3d31fb","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.667625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?id=624d34c1-a95f-41c0-a2d0-a0486c3d31fb&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"624d34c1-a95f-41c0-a2d0-a0486c3d31fb","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.125417ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-srv.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-srv","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.851583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"02010150-17e5-489f-a9ae-b8005f763e99","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:27Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"12e27922-0805-4056-91e7-b42a30ec5a98","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:27Z"},{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"624d34c1-a95f-41c0-a2d0-a0486c3d31fb","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV","updated_at":"2026-03-20T09:28:08Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.494333ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"624d34c1-a95f-41c0-a2d0-a0486c3d31fb"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.824958ms
[...]
