---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"196bb260-c124-44fe-9760-d77bf40cbb01","name":"","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.426417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"196bb260-c124-44fe-9760-d77bf40cbb01","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.566375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"196bb260-c124-44fe-9760-d77bf40cbb01","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.613292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=196bb260-c124-44fe-9760-d77bf40cbb01&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"196bb260-c124-44fe-9760-d77bf40cbb01","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.699792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic","updated_at":"2026-02-23T16:45:02Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.582042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"ba35cc35-31d3-47da-ab39-69e5ba3a1ca6","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"74064bd5-60f3-4bef-9e20-92eada490504","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"127.0.0.1","id":"196bb260-c124-44fe-9760-d77bf40cbb01","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.967083ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"196bb260-c124-44fe-9760-d77bf40cbb01"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.842875ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"8e403eae-e23c-4147-8ce2-564affac626b","name":"tf","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.992625ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"8e403eae-e23c-4147-8ce2-564affac626b","name":"tf","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.60725ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"8e403eae-e23c-4147-8ce2-564affac626b","records":[{"data":"127.0.0.2","name":"tf","priority":0,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","id":"8e403eae-e23c-4147-8ce2-564affac626b","name":"tf","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.652958ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1 aspmx.l.google.com.","id":"2338a8f1-35ca-4f03-a859-7b88b6d4ca5e","name":"record_mx","priority":1,"ttl":600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.220709ms
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1 aspmx.l.google.com.","id":"2338a8f1-35ca-4f03-a859-7b88b6d4ca5e","name":"record_mx","priority":1,"ttl":600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.6675ms
[...]
