---
version: 2
interactions:
- request:
    body: '{"changes":[{"add":{"records":[{"data":"this-is-a-test","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"9f4a5f37-5afb-4e3b-adf2-3467789765a8","name":"","priority":0,"ttl":3600,"type":"TXT"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"9f4a5f37-5afb-4e3b-adf2-3467789765a8","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"9f4a5f37-5afb-4e3b-adf2-3467789765a8","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?id=9f4a5f37-5afb-4e3b-adf2-3467789765a8&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"9f4a5f37-5afb-4e3b-adf2-3467789765a8","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-arobase.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-arobase","updated_at":"2023-12-14T12:43:02Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"10780949-050a-4080-8c33-8bba64beba34","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"5d215b46-9417-47b1-83c6-fa55f5ea25a1","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"\"this-is-a-test\"","id":"9f4a5f37-5afb-4e3b-adf2-3467789765a8","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?id=9f4a5f37-5afb-4e3b-adf2-3467789765a8&name=&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"9f4a5f37-5afb-4e3b-adf2-3467789765a8","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"changes":[{"delete":{"id":"9f4a5f37-5afb-4e3b-adf2-3467789765a8"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-arobase.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-arobase","updated_at":"2023-12-14T12:43:05Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
