---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"100 1 3128 bigbox.example.com.\",\"name\":\"_proxy-preproduction._tcp\",\"priority\":0,\"ttl\":3600,\"type\":\"SRV\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"e1482a7e-1c39-499f-afcb-49f63e2d7376\",\"data\":\"100 1 3128 bigbox.example.com.\",\"name\":\"_proxy-preproduction._tcp\",\"priority\":100,\"ttl\":3600,\"type\":\"SRV\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 793.047581ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - _proxy-preproduction._tcp
      order_by:
      - name_asc
      type:
      - SRV
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=_proxy-preproduction._tcp&order_by=name_asc&type=SRV
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e1482a7e-1c39-499f-afcb-49f63e2d7376\",\"data\":\"100 1 3128 bigbox.example.com.\",\"name\":\"_proxy-preproduction._tcp\",\"priority\":100,\"ttl\":3600,\"type\":\"SRV\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.632051ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - _proxy-preproduction._tcp
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - SRV
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=_proxy-preproduction._tcp&order_by=name_asc&page=1&type=SRV
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e1482a7e-1c39-499f-afcb-49f63e2d7376\",\"data\":\"100 1 3128 bigbox.example.com.\",\"name\":\"_proxy-preproduction._tcp\",\"priority\":100,\"ttl\":3600,\"type\":\"SRV\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.044292ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - e1482a7e-1c39-499f-afcb-49f63e2d7376
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?id=e1482a7e-1c39-499f-afcb-49f63e2d7376&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e1482a7e-1c39-499f-afcb-49f63e2d7376\",\"data\":\"100 1 3128 bigbox.example.com.\",\"name\":\"_proxy-preproduction._tcp\",\"priority\":100,\"ttl\":3600,\"type\":\"SRV\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.919211ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-srv.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-srv.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-srv\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:28Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.466471ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"02010150-17e5-489f-a9ae-b8005f763e99\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"12e27922-0805-4056-91e7-b42a30ec5a98\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"e1482a7e-1c39-499f-afcb-49f63e2d7376\",\"data\":\"100 1 3128 bigbox.example.com.\",\"name\":\"_proxy-preproduction._tcp\",\"priority\":100,\"ttl\":3600,\"type\":\"SRV\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.28973ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - e1482a7e-1c39-499f-afcb-49f63e2d7376
      name:
      - _proxy-preproduction._tcp
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - SRV
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?id=e1482a7e-1c39-499f-afcb-49f63e2d7376&name=_proxy-preproduction._tcp&order_by=name_asc&page=1&type=SRV
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e1482a7e-1c39-499f-afcb-49f63e2d7376\",\"data\":\"100 1 3128 bigbox.example.com.\",\"name\":\"_proxy-preproduction._tcp\",\"priority\":100,\"ttl\":3600,\"type\":\"SRV\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.805471ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"e1482a7e-1c39-499f-afcb-49f63e2d7376\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 479.131809ms
[...]
