---
version: 2
interactions:
    - id: 0
      request:
        host: agw.stg.fr-par-2.internal.scaleway.com
        body: '{"domains":["test-technical-contact-update1.com"],"duration_in_years":1,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"legal_form":"individual","firstname":"John","lastname":"DOE","company_name":"","email":"john.doe@example.com","email_alt":"","phone_number":"+1.23456789","fax_number":"","address_line_1":"123 Main Street","address_line_2":"","zip":"75001","city":"Paris","country":"FR","vat_identification_code":"FR12345678901","company_identification_code":"123456789","lang":"unknown_language_code","resale":false,"extension_fr":null,"extension_eu":null,"whois_opt_in":false,"state":"","extension_nl":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://agw.stg.fr-par-2.internal.scaleway.com/domain/v2beta1/buy-domains
        method: POST
      response:
        body: '{"created_at":"2025-07-08T13:36:36.557063541Z","domains":["test-technical-contact-update1.com"],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","task_id":"947f0bac-19ba-4eeb-87ec-49897533f79a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.956906667s
    - id: 1
      request:
        host: agw.stg.fr-par-2.internal.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://agw.stg.fr-par-2.internal.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1&page_size=1000
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-basic-domain219.com","id":"7b612952-4a54-42e4-b8ff-a2a3fd062d58","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2025-01-06T09:52:15Z","status":"success","type":"create_domain","updated_at":"2025-01-06T09:55:45Z"},{"contact_identifier":"","domain":"test-basic-domain224.com","id":"2c0c099e-5e83-4d9d-8e0b-bf55ed535b22","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2025-01-06T10:05:55Z","status":"success","type":"create_domain","updated_at":"2025-01-06T10:09:47Z"},{"contact_identifier":"","domain":"test-basic-domain232.com","id":"ade85679-cfc2-47e6-a6a1-4693b492663a","message":null,"organizatio[...]
[...]
    - id: 29
      request:
        host: agw.stg.fr-par-2.internal.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://agw.stg.fr-par-2.internal.scaleway.com/domain/v2beta1/domains/test-technical-contact-update1.com
        method: GET
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_nl":null,"fax_number":"","firstname":"John","id":"pON-Iq0WEFtzKuD_yRnt-WOhVdVuuiIQdAiFzBrbV2leKg==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"disabled","dns_zones":[{"domain":"test-technical-contact-update1.com","linked_products":[],"message":null,"ns":["ns1.stg-scaleway.com.","ns2.stg-scaleway.com."],"ns_default":["ns1.stg-scaleway.com","ns2.stg-scaleway.com"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2025-07-08T13:38:37Z"}],"dnssec":{"ds_records":[],"status":"disabled"},"domain":"test-technical-contact-update1.com","epp_code":["clientTransferProhibited"],"expired_at":"2026-07-08T15:39:10Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_nl":null,"fax_number":"","firstname":"John","id":"pON-Iq0WEFtzKuD_yRnt-WOhVdVuuiIQdAiFzBrbV2leKg==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"pending_trade":false,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","registrar":"SCALEWAY","status":"active","technical_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_nl":null,"fax_number":"","firstname":"John","id":"pON-Iq0WEFtzKuD_yRnt-WOhVdVuuiIQdAiFzBrbV2leKg==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"tld":{"dnssec_support":true,"duration_in_years_max":9,"duration_in_years_min":1,"idn_support":false,"name":"com","offers":{"renew":{"action":"renew","operation_path":"/network/domain/domains/com/renew","price":{"currency_code":"EUR","nanos":990000000,"units":12}},"trade":{"action":"trade","operation_path":"/network/domain/domains/com/trade","price":{"currency_code":"EUR","nanos":0,"units":0}}},"specifications":{"grace_period":"30"}},"updated_at":"2025-07-08T13:40:09Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.371583ms
    - id: 30
      request:
        host: agw.stg.fr-par-2.internal.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://agw.stg.fr-par-2.internal.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-basic-domain219.com","id":"7b612952-4a54-42e4-b8ff-a2a3fd062d58","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44[...]
[...]
    - id: 50
      request:
        host: agw.stg.fr-par-2.internal.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://agw.stg.fr-par-2.internal.scaleway.com/domain/v2beta1/tasks?domain=test-technical-contact-update1.com&order_by=domain_desc&types=update_contact
        method: GET
      response:
        body: '{"tasks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.308583ms
[...]
