---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.240383853s
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_geo_ip
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.234997ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_geo_ip
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 216.272427ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - 17c89f1d-cd91-45ee-a328-7fe0bd2a9a78
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?id=17c89f1d-cd91-45ee-a328-7fe0bd2a9a78&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 179.816353ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-geoip.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-geoip.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-geoip\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:28Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.415436ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"932517a3-0881-456e-ba76-3468bc962510\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"2e780ac4-0617-4ded-8e2b-afc6e19fc27e\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.53215ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - 17c89f1d-cd91-45ee-a328-7fe0bd2a9a78
      name:
      - tf_geo_ip
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?id=17c89f1d-cd91-45ee-a328-7fe0bd2a9a78&name=tf_geo_ip&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\"],\"continents\":[\"EU\"],\"data\":\"1.2.3.4\"},{\"countries\":[],\"continents\":[\"NA\"],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 308.052966ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"set\":{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"records\":[{\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\",\"AE\"],\"continents\":[\"EU\",\"AS\"],\"data\":\"1.2.3.4\"},{\"countries\":[\"CI\"],\"continents\":[],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\",\"data\":\"127.0.0.2\",\"name\":\"tf_geo_ip\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"geo_ip_config\":{\"matches\":[{\"countries\":[\"FR\",\"AE\"],\"continents\":[\"EU\",\"AS\"],\"data\":\"1.2.3.4\"},{\"countries\":[\"CI\"],\"continents\":[],\"data\":\"1.2.3.5\"}],\"default\":\"127.0.0.2\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 184.217778ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"17c89f1d-cd91-45ee-a328-7fe0bd2a9a78\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.669788ms
[...]
