---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"0 0 1234 foo.example.com","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.test-srv-duplication.scaleway-terraform.com.","id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 905.051417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?name=_test_srv_bug&order_by=name_asc&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.test-srv-duplication.scaleway-terraform.com.","id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.221667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?name=_test_srv_bug&order_by=name_asc&page=1&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.test-srv-duplication.scaleway-terraform.com.","id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.2895ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?id=281d1fc6-f84f-4c85-a61a-4a10626a0448&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.test-srv-duplication.scaleway-terraform.com.","id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.882ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-srv-duplication.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-srv-duplication","updated_at":"2025-08-27T15:26:59Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.337625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"585a3bdd-e4fc-41e1-a31b-14e6efef15d5","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"5d55fc3f-16d0-42fe-82dd-0aafdd576996","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"0 0 1234 foo.example.com.test-srv-duplication.scaleway-terraform.com.","id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.014833ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?id=281d1fc6-f84f-4c85-a61a-4a10626a0448&name=_test_srv_bug&order_by=name_asc&page=1&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.test-srv-duplication.scaleway-terraform.com.","id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.509ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","records":[{"data":"10 0 5678 bar.example.com","name":"_test_srv_bug","priority":10,"ttl":300,"type":"SRV","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"10 0 5678 bar.example.com.test-srv-duplication.scaleway-terraform.com.","id":"281d1fc6-f84f-4c85-a61a-4a10626a0448","name":"_test_srv_bug","priority":10,"ttl":300,"type":"SRV"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.267708ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"281d1fc6-f84f-4c85-a61a-4a10626a0448"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.9965ms
[...]
