---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.656835816s
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_view
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 202.288393ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_view
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 167.854856ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - 1af60d71-7424-44ba-ada3-4d968dda9427
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?id=1af60d71-7424-44ba-ada3-4d968dda9427&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.477864ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-view.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-view.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-view\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:28Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.557173ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"10cf9563-bf9a-4eb2-93c9-e0d9a6f91b3c\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"56d25414-06a3-4bef-a16c-7cc1bc37e891\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.019401ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - 1af60d71-7424-44ba-ada3-4d968dda9427
      name:
      - tf_view
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?id=1af60d71-7424-44ba-ada3-4d968dda9427&name=tf_view&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"100.1.0.0/16\",\"data\":\"4.3.2.1\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 304.324345ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"set\":{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"records\":[{\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"90.1.0.0/32\",\"data\":\"4.3.2.2\"},{\"subnet\":\"1.1.1.1/16\",\"data\":\"2.2.2.2\"}]},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\",\"data\":\"127.0.0.4\",\"name\":\"tf_view\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"view_config\":{\"views\":[{\"subnet\":\"100.0.0.0/16\",\"data\":\"1.2.3.4\"},{\"subnet\":\"90.1.0.0/32\",\"data\":\"4.3.2.2\"},{\"subnet\":\"1.1.1.1/16\",\"data\":\"2.2.2.2\"}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 242.829671ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"1af60d71-7424-44ba-ada3-4d968dda9427\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.697687ms
[...]
