---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"this-is-a-test","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"da2c5fed-d67d-43bd-a4db-7f7682a6e653","name":"","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:12Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.334167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"da2c5fed-d67d-43bd-a4db-7f7682a6e653","name":"","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.645667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"da2c5fed-d67d-43bd-a4db-7f7682a6e653","name":"","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.826583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?id=da2c5fed-d67d-43bd-a4db-7f7682a6e653&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"this-is-a-test\"","id":"da2c5fed-d67d-43bd-a4db-7f7682a6e653","name":"","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.820041ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-arobase.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-arobase","updated_at":"2026-03-20T09:28:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.139875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"d946049d-5bcf-4073-8bac-07291284ca0b","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:14Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"50a24646-4b01-488f-af03-f9374723ac76","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:14Z"},{"comment":null,"data":"\"this-is-a-test\"","id":"da2c5fed-d67d-43bd-a4db-7f7682a6e653","name":"","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:12Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.139292ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"da2c5fed-d67d-43bd-a4db-7f7682a6e653"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.18875ms
[...]
