---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"this-is-a-test\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"f36a24fa-00de-4f16-9008-eb6ff1e40eba\",\"data\":\"\\\"this-is-a-test\\\"\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.346241241s
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - TXT
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f36a24fa-00de-4f16-9008-eb6ff1e40eba\",\"data\":\"\\\"this-is-a-test\\\"\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.916105ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - TXT
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f36a24fa-00de-4f16-9008-eb6ff1e40eba\",\"data\":\"\\\"this-is-a-test\\\"\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.917062ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - f36a24fa-00de-4f16-9008-eb6ff1e40eba
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?id=f36a24fa-00de-4f16-9008-eb6ff1e40eba&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f36a24fa-00de-4f16-9008-eb6ff1e40eba\",\"data\":\"\\\"this-is-a-test\\\"\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.651467ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-arobase.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-arobase.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-arobase\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:28Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.287869ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"f36a24fa-00de-4f16-9008-eb6ff1e40eba\",\"data\":\"\\\"this-is-a-test\\\"\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null},{\"id\":\"d946049d-5bcf-4073-8bac-07291284ca0b\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"50a24646-4b01-488f-af03-f9374723ac76\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.6792ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - f36a24fa-00de-4f16-9008-eb6ff1e40eba
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - TXT
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records?id=f36a24fa-00de-4f16-9008-eb6ff1e40eba&name=&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"f36a24fa-00de-4f16-9008-eb6ff1e40eba\",\"data\":\"\\\"this-is-a-test\\\"\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.853874ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"f36a24fa-00de-4f16-9008-eb6ff1e40eba\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-arobase.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 186.73316ms
[...]
