---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"test-dkim-record","name":"scw1._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"\"test-dkim-record\"","id":"a46205e0-f338-4036-a512-d6c75508d1b4","name":"scw1._domainkey","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.197833ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records?name=scw1._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"test-dkim-record\"","id":"a46205e0-f338-4036-a512-d6c75508d1b4","name":"scw1._domainkey","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.441917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"50f31d30-cc83-4075-a148-02761a692f34","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.658708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records?name=scw1._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"test-dkim-record\"","id":"a46205e0-f338-4036-a512-d6c75508d1b4","name":"scw1._domainkey","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.816041ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"50f31d30-cc83-4075-a148-02761a692f34","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.704833ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records?id=a46205e0-f338-4036-a512-d6c75508d1b4&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"test-dkim-record\"","id":"a46205e0-f338-4036-a512-d6c75508d1b4","name":"scw1._domainkey","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.483833ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-tem-integration.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-tem-integration","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.478583ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"6ff36a5e-9bb0-4bed-be81-0f480cb07e5e","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-10-20T07:08:36Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"54c3a10d-4fa9-4300-a90d-aafbe36fb408","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-10-20T07:08:36Z"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"50f31d30-cc83-4075-a148-02761a692f34","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"},{"comment":null,"data":"\"test-dkim-record\"","id":"a46205e0-f338-4036-a512-d6c75508d1b4","name":"scw1._domainkey","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.963625ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"50f31d30-cc83-4075-a148-02761a692f34","records":[{"data":"v=DMARC1; p=quarantine","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=quarantine\"","id":"50f31d30-cc83-4075-a148-02761a692f34","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:12Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.144292ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"a46205e0-f338-4036-a512-d6c75508d1b4"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-tem-integration.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.784ms
[...]
