---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"e7d47108-01f4-4d36-a596-9269c1111d79","name":"","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:13Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.244416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"e7d47108-01f4-4d36-a596-9269c1111d79","name":"","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:13Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.539417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"e7d47108-01f4-4d36-a596-9269c1111d79","name":"","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:13Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.021625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=e7d47108-01f4-4d36-a596-9269c1111d79&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"e7d47108-01f4-4d36-a596-9269c1111d79","name":"","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:13Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.443417ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic","updated_at":"2026-03-20T09:28:13Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.498083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"ba35cc35-31d3-47da-ab39-69e5ba3a1ca6","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-28T12:19:35Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"74064bd5-60f3-4bef-9e20-92eada490504","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-28T12:19:35Z"},{"comment":null,"data":"127.0.0.1","id":"e7d47108-01f4-4d36-a596-9269c1111d79","name":"","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:13Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.749458ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"e7d47108-01f4-4d36-a596-9269c1111d79"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.576375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"19ab4db1-2642-4ce6-a9bf-0989d08d5637","name":"tf","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:15Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.935791ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"19ab4db1-2642-4ce6-a9bf-0989d08d5637","name":"tf","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:15Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.933959ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"19ab4db1-2642-4ce6-a9bf-0989d08d5637","records":[{"data":"127.0.0.2","name":"tf","priority":0,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","id":"19ab4db1-2642-4ce6-a9bf-0989d08d5637","name":"tf","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:16Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.261167ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1 aspmx.l.google.com.","id":"f5c96b5a-0802-4b9f-8453-735a0047008c","name":"record_mx","priority":1,"ttl":600,"type":"MX","updated_at":"2026-03-20T09:28:18Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.292959ms
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1 aspmx.l.google.com.","id":"f5c96b5a-0802-4b9f-8453-735a0047008c","name":"record_mx","priority":1,"ttl":600,"type":"MX","updated_at":"2026-03-20T09:28:18Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.822625ms
[...]
