---
version: 2
interactions:
- request:
    body: '{"changes":[{"add":{"records":[{"data":"xxx.scw.cloud","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"368fd836-e4bd-440c-8df6-a08950784291","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"368fd836-e4bd-440c-8df6-a08950784291","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"368fd836-e4bd-440c-8df6-a08950784291","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=368fd836-e4bd-440c-8df6-a08950784291&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"368fd836-e4bd-440c-8df6-a08950784291","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic-cname.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic-cname","updated_at":"2023-12-14T12:43:02Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"89004c7e-0d0d-4f2c-8a9d-0dd0a39567ae","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"4185ff3a-bb65-4f80-b0b3-d31455ae895d","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"368fd836-e4bd-440c-8df6-a08950784291","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=368fd836-e4bd-440c-8df6-a08950784291&name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"368fd836-e4bd-440c-8df6-a08950784291","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"changes":[{"set":{"id":"368fd836-e4bd-440c-8df6-a08950784291","records":[{"data":"yyy.scw.cloud","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"yyy.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"368fd836-e4bd-440c-8df6-a08950784291","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"changes":[{"delete":{"id":"368fd836-e4bd-440c-8df6-a08950784291"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic-cname.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic-cname","updated_at":"2023-12-14T12:43:08Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
