---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"127.0.0.2","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","comment":null,"geo_ip_config":{"matches":[{"countries":["FR"],"continents":["EU"],"data":"1.2.3.4"},{"countries":[],"continents":["NA"],"data":"1.2.3.5"}],"default":"127.0.0.2"},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","geo_ip_config":{"default":"127.0.0.2","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"399d4821-7def-442b-b762-ac4a9a595caf","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.151416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","geo_ip_config":{"default":"127.0.0.2","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"399d4821-7def-442b-b762-ac4a9a595caf","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.980125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?name=tf_geo_ip&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","geo_ip_config":{"default":"127.0.0.2","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"399d4821-7def-442b-b762-ac4a9a595caf","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.577375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?id=399d4821-7def-442b-b762-ac4a9a595caf&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","geo_ip_config":{"default":"127.0.0.2","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"399d4821-7def-442b-b762-ac4a9a595caf","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.176833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-geoip.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-geoip","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.056125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"932517a3-0881-456e-ba76-3468bc962510","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:12Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"2e780ac4-0617-4ded-8e2b-afc6e19fc27e","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:12Z"},{"comment":null,"data":"127.0.0.2","geo_ip_config":{"default":"127.0.0.2","matches":[{"continents":["EU"],"countries":["FR"],"data":"1.2.3.4"},{"continents":["NA"],"countries":[],"data":"1.2.3.5"}]},"id":"399d4821-7def-442b-b762-ac4a9a595caf","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:08Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.445083ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"399d4821-7def-442b-b762-ac4a9a595caf","records":[{"data":"127.0.0.2","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","comment":null,"geo_ip_config":{"matches":[{"countries":["FR","AE"],"continents":["EU","AS"],"data":"1.2.3.4"},{"countries":["CI"],"continents":[],"data":"1.2.3.5"}],"default":"127.0.0.2"},"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","geo_ip_config":{"default":"127.0.0.2","matches":[{"continents":["EU","AS"],"countries":["FR","AE"],"data":"1.2.3.4"},{"continents":[],"countries":["CI"],"data":"1.2.3.5"}]},"id":"399d4821-7def-442b-b762-ac4a9a595caf","name":"tf_geo_ip","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T09:28:10Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.448792ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"399d4821-7def-442b-b762-ac4a9a595caf"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-geoip.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.989333ms
[...]
