---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 687.906757ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_weighted
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 137.750684ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_weighted
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.713468ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - e5138c4f-1b41-45d2-a203-2018ab999223
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?id=e5138c4f-1b41-45d2-a203-2018ab999223&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.872339ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-weighted.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-weighted.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-weighted\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:29Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.264384ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"3043ad0f-39fd-4939-889f-f8c054b8d0f6\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"0a7b22fd-7eb9-4d9b-8d00-7b4d1ce6caee\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 179.963106ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - e5138c4f-1b41-45d2-a203-2018ab999223
      name:
      - tf_weighted
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?id=e5138c4f-1b41-45d2-a203-2018ab999223&name=tf_weighted&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":1},{\"ip\":\"4.3.2.1\",\"weight\":2}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.309167ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"set\":{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"records\":[{\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":2},{\"ip\":\"4.3.2.1\",\"weight\":1},{\"ip\":\"5.6.7.8\",\"weight\":999}]},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\",\"data\":\"127.0.0.5\",\"name\":\"tf_weighted\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"weighted_config\":{\"weighted_ips\":[{\"ip\":\"1.2.3.4\",\"weight\":2},{\"ip\":\"4.3.2.1\",\"weight\":1},{\"ip\":\"5.6.7.8\",\"weight\":999}]}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 174.81927ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"e5138c4f-1b41-45d2-a203-2018ab999223\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 158.164437ms
[...]
