---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"xxx.scw.cloud","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 792.516261ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.581665ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.771079ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=08bcc82f-5d56-416b-bdec-47132cc3fd60&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.064377ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic-cname.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic-cname","updated_at":"2024-06-25T13:27:01Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.877086ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"60127f61-8626-4b1f-ad0d-58114ab559a5","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"7ff38e32-3586-4862-a1b3-041c5ed89132","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.653153ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=08bcc82f-5d56-416b-bdec-47132cc3fd60&name=tf&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.492552ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","records":[{"data":"yyy.scw.cloud","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"yyy.scw.cloud.test-basic-cname.scaleway-terraform.com.","id":"08bcc82f-5d56-416b-bdec-47132cc3fd60","name":"tf","priority":0,"ttl":3600,"type":"CNAME"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.279601ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"08bcc82f-5d56-416b-bdec-47132cc3fd60"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.760551ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic-cname.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic-cname","updated_at":"2024-06-25T13:27:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.335505ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.240547ms
[...]
