---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 296.123514ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_http_service
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 173.744327ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_http_service
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?name=tf_http_service&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 152.705176ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - 38a7ebb9-bfa9-4e62-9918-dfeabdfe816d
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?id=38a7ebb9-bfa9-4e62-9918-dfeabdfe816d&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 172.828362ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-httpservice.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-httpservice.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-httpservice\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:29Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.247572ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"3eb53d36-be9b-4a17-9432-410af7eb9309\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"c4daf286-bcce-4ebb-95f7-8af7cfdd8bd5\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 212.269035ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - 38a7ebb9-bfa9-4e62-9918-dfeabdfe816d
      name:
      - tf_http_service
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records?id=38a7ebb9-bfa9-4e62-9918-dfeabdfe816d&name=tf_http_service&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"1.2.3.4\",\"4.3.2.1\"],\"must_contain\":\"up\",\"url\":\"http://mywebsite.com/health\",\"user_agent\":\"scw_service_up\",\"strategy\":\"hashed\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 304.841345ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"set\":{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"records\":[{\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"5.6.7.8\"],\"must_contain\":\"online\",\"url\":\"http://mywebsite.com/healthcheck\",\"user_agent\":\"scw_service_online\",\"strategy\":\"random\"},\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\",\"data\":\"127.0.0.3\",\"name\":\"tf_http_service\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"http_service_config\":{\"ips\":[\"5.6.7.8\"],\"must_contain\":\"online\",\"url\":\"http://mywebsite.com/healthcheck\",\"user_agent\":\"scw_service_online\",\"strategy\":\"random\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.79912ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"38a7ebb9-bfa9-4e62-9918-dfeabdfe816d\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-httpservice.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.308341ms
[...]
