---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"05438ffa-59f0-45b8-98b7-3fc295b1dca5\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 479.576335ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"05438ffa-59f0-45b8-98b7-3fc295b1dca5\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.601059ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"05438ffa-59f0-45b8-98b7-3fc295b1dca5\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.236232ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - 05438ffa-59f0-45b8-98b7-3fc295b1dca5
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=05438ffa-59f0-45b8-98b7-3fc295b1dca5&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"05438ffa-59f0-45b8-98b7-3fc295b1dca5\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.501958ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-basic.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-basic\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:29Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.597529ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"05438ffa-59f0-45b8-98b7-3fc295b1dca5\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null},{\"id\":\"ba35cc35-31d3-47da-ab39-69e5ba3a1ca6\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"74064bd5-60f3-4bef-9e20-92eada490504\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.977062ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - 05438ffa-59f0-45b8-98b7-3fc295b1dca5
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=05438ffa-59f0-45b8-98b7-3fc295b1dca5&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"05438ffa-59f0-45b8-98b7-3fc295b1dca5\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.508084ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"05438ffa-59f0-45b8-98b7-3fc295b1dca5\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 236.33491ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      name:
      - tf
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"75aea46e-fb51-4ecd-9679-7fd4b183d91b\",\"data\":\"127.0.0.1\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.689952ms
- id: 13
  request:
    host: api.scaleway.com
    form:
      name:
      - tf
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"75aea46e-fb51-4ecd-9679-7fd4b183d91b\",\"data\":\"127.0.0.1\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.658121ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      id:
      - 75aea46e-fb51-4ecd-9679-7fd4b183d91b
      name:
      - tf
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=75aea46e-fb51-4ecd-9679-7fd4b183d91b&name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"75aea46e-fb51-4ecd-9679-7fd4b183d91b\",\"data\":\"127.0.0.1\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 212.948011ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"set\":{\"id\":\"75aea46e-fb51-4ecd-9679-7fd4b183d91b\",\"records\":[{\"data\":\"127.0.0.2\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"75aea46e-fb51-4ecd-9679-7fd4b183d91b\",\"data\":\"127.0.0.2\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.013728ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    form:
      name:
      - record_mx
      order_by:
      - name_asc
      type:
      - MX
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&type=MX
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"18fddfb7-9821-45d3-904d-dd1ab2fe668b\",\"data\":\"1 aspmx.l.google.com.\",\"name\":\"record_mx\",\"priority\":1,\"ttl\":600,\"type\":\"MX\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.009806ms
- id: 41
  request:
    host: api.scaleway.com
    form:
      name:
      - record_mx
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - MX
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"18fddfb7-9821-45d3-904d-dd1ab2fe668b\",\"data\":\"1 aspmx.l.google.com.\",\"name\":\"record_mx\",\"priority\":1,\"ttl\":600,\"type\":\"MX\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.942987ms
[...]
- id: 46
  request:
    host: api.scaleway.com
    form:
      id:
      - 18fddfb7-9821-45d3-904d-dd1ab2fe668b
      name:
      - record_mx
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - MX
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=18fddfb7-9821-45d3-904d-dd1ab2fe668b&name=record_mx&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"18fddfb7-9821-45d3-904d-dd1ab2fe668b\",\"data\":\"1 aspmx.l.google.com.\",\"name\":\"record_mx\",\"priority\":1,\"ttl\":600,\"type\":\"MX\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.85642ms
[...]
