---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"0 0 1234 foo.example.com.","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.","id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.513958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?name=_test_srv_bug&order_by=name_asc&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.","id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.938709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?name=_test_srv_bug&order_by=name_asc&page=1&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.","id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.336084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?id=f8512d21-85c4-4b78-b7aa-c4a8e19c97b7&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 0 1234 foo.example.com.","id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.883416ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-srv-duplication.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-srv-duplication","updated_at":"2026-02-23T16:45:02Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.0645ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"585a3bdd-e4fc-41e1-a31b-14e6efef15d5","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"5d55fc3f-16d0-42fe-82dd-0aafdd576996","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"0 0 1234 foo.example.com.","id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7","name":"_test_srv_bug","priority":0,"ttl":60,"type":"SRV"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.128458ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7","records":[{"data":"10 0 5678 bar.example.com.","name":"_test_srv_bug","priority":10,"ttl":300,"type":"SRV","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"10 0 5678 bar.example.com.","id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7","name":"_test_srv_bug","priority":10,"ttl":300,"type":"SRV"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.034875ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"f8512d21-85c4-4b78-b7aa-c4a8e19c97b7"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv-duplication.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.43675ms
[...]
