---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"100 1 3128 bigbox.example.com.","name":"_proxy-preproduction._tcp","priority":0,"ttl":3600,"type":"SRV","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.234859708s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=_proxy-preproduction._tcp&order_by=name_asc&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 504.770417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=_proxy-preproduction._tcp&order_by=name_asc&page=1&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.821792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?id=23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.111167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-srv.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-srv","updated_at":"2025-08-28T07:24:55Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.588125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"02010150-17e5-489f-a9ae-b8005f763e99","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"12e27922-0805-4056-91e7-b42a30ec5a98","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.968417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records?id=23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e&name=_proxy-preproduction._tcp&order_by=name_asc&page=1&type=SRV
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"100 1 3128 bigbox.example.com.","id":"23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e","name":"_proxy-preproduction._tcp","priority":100,"ttl":3600,"type":"SRV"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.944084ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"23aa10c3-8e04-4cc7-9e4c-206d5c4e4b0e"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-srv.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 581.490625ms
[...]
