---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"28ef2b17-f1b6-469f-892e-f07046c7fa66","name":"","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 801.965424ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"28ef2b17-f1b6-469f-892e-f07046c7fa66","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.545811ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"28ef2b17-f1b6-469f-892e-f07046c7fa66","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.593544ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=28ef2b17-f1b6-469f-892e-f07046c7fa66&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"28ef2b17-f1b6-469f-892e-f07046c7fa66","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.311307ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic","updated_at":"2024-06-25T13:27:00Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.127692ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"28ef2b17-f1b6-469f-892e-f07046c7fa66","name":"","priority":0,"ttl":3600,"type":"A"},{"comment":null,"data":"ns0.dom.scw.cloud.","id":"9355fe9b-3d92-4bfe-845a-88f182f75eb1","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"edc6a84c-7f22-4523-a01b-a35fbd94a554","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.726493ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=28ef2b17-f1b6-469f-892e-f07046c7fa66&name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"28ef2b17-f1b6-469f-892e-f07046c7fa66","name":"","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.664659ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"28ef2b17-f1b6-469f-892e-f07046c7fa66"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.560094ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic","updated_at":"2024-06-25T13:27:04Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.354794ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.082916ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"b99337a2-3026-4da2-b787-d9e694b79418","name":"tf","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.77524ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"b99337a2-3026-4da2-b787-d9e694b79418","name":"tf","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.516231ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=b99337a2-3026-4da2-b787-d9e694b79418&name=tf&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"b99337a2-3026-4da2-b787-d9e694b79418","name":"tf","priority":0,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.766827ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"b99337a2-3026-4da2-b787-d9e694b79418","records":[{"data":"127.0.0.2","name":"tf","priority":0,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.2","id":"b99337a2-3026-4da2-b787-d9e694b79418","name":"tf","priority":0,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.465587ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1 aspmx.l.google.com.","id":"2fc83dba-a83a-41cf-bb24-718a79d6ca04","name":"record_mx","priority":1,"ttl":600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.672672ms
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=record_mx&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1 aspmx.l.google.com.","id":"2fc83dba-a83a-41cf-bb24-718a79d6ca04","name":"record_mx","priority":1,"ttl":600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.680714ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=2fc83dba-a83a-41cf-bb24-718a79d6ca04&name=record_mx&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"1 aspmx.l.google.com.","id":"2fc83dba-a83a-41cf-bb24-718a79d6ca04","name":"record_mx","priority":1,"ttl":600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.456733ms
[...]
