---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domains":["test-multiple-1243.com","test-multiple-1253.com","test-multiple-1263.com"],"duration_in_years":1,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"legal_form":"individual","firstname":"John","lastname":"DOE","company_name":"","email":"john.doe@example.com","email_alt":"","phone_number":"+1.23456789","fax_number":"","address_line_1":"123 Main Street","address_line_2":"","zip":"75001","city":"Paris","country":"FR","vat_identification_code":"FR12345678901","company_identification_code":"123456789","lang":"unknown_language_code","resale":false,"extension_fr":null,"extension_eu":null,"whois_opt_in":false,"state":"","extension_nl":null,"extension_it":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/buy-domains
        method: POST
      response:
        body: '{"created_at":"2026-06-22T13:10:59.614098385Z","domains":["test-multiple-1243.com","test-multiple-1253.com","test-multiple-1263.com"],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","task_id":"23aaa404-d741-46e0-b0d4-abd66c3d3c07"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.63016175s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1&page_size=1000
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-contacts-update1.com","id":"779d88ab-8448-4a8f-8f31-ce48cdea620f","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-17T09:14:36Z","status":"success","type":"create_domain","updated_at":"2026-06-17T09:18:31Z"},{"contact_identifier":"","domain":"test-contacts-update2.com","id":"4447900e-9c30-4c64-90ec-46757bb33501","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-17T09:29:19Z","status":"success","type":"create_domain","updated_at":"2026-06-17T09:32:45Z"},{"contact_identifier":"","domain":"test-contacts-update3.com","id":"867575c2-12dd-4369-8084-43e577d1798f","message":null,"organizat[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/domains/test-multiple-1243.com
        method: GET
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"9Xeyg6gy9udCNZilcqWfNIgqcnNG-lTsYl53WLFlYslf6w==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"disabled","dns_zones":[{"domain":"test-multiple-1243.com","linked_products":[],"message":null,"ns":["ns1.stg-scaleway.com.","ns2.stg-scaleway.com."],"ns_default":["ns1.stg-scaleway.com","ns2.stg-scaleway.com"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-06-22T13:13:10Z"}],"dnssec":{"ds_records":[],"status":"disabled"},"domain":"test-multiple-1243.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-06-22T15:13:47Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"9Xeyg6gy9udCNZilcqWfNIgqcnNG-lTsYl53WLFlYslf6w==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"pending_trade":false,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","registrar":"SCALEWAY","status":"active","technical_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"9Xeyg6gy9udCNZilcqWfNIgqcnNG-lTsYl53WLFlYslf6w==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"tld":{"dnssec_support":true,"duration_in_years_max":9,"duration_in_years_min":1,"idn_support":false,"name":"com","offers":{"renew":{"action":"renew","operation_path":"/network/domain/domains/com/renew","price":{"currency_code":"EUR","nanos":990000000,"units":12}},"trade":{"action":"trade","operation_path":"/network/domain/domains/com/trade","price":{"currency_code":"EUR","nanos":0,"units":0}}},"specifications":{"grace_period":"30"}},"updated_at":"2026-06-22T13:14:47Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.885334ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-multiple-1243.com/enable-auto-renew
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","[...]
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-multiple-1243.com/enable-dnssec
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"9Xeyg6gy9udCNZilcqWfNIgqcnNG-lTsYl53WLFlYslf6w==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"enabled","dns_zones":[{"domain":"test-multiple-1243.com","linked_products":[],"message":null,"ns":["ns1.stg-scaleway.com.","ns2.stg-scaleway.com."],"ns_default":["ns1.stg-scaleway.com","ns2.stg-scaleway.com"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-06-22T13:13:10Z"}],"dnssec":{"ds_records":[{"algorithm":"ecdsap256sha256","digest":{"digest":"b8000cf38e620f178cbb95fe08f54f252e83ee1a9d22fcddb845ea4f91465241f8ef9404231c8ecb316f961f5da49766","public_key":{"key":"erZX5NEcxOEYottKhgZdewC1Af4257CZKGIRNzeAq5q25imUjgYzHLuLlwHuamCA87zi/mtFZnW2jAPQFYmooA=="},"type":"sha_384"},"key_id":44817}],"status":"enabling"},"domain":"test-multiple-1243.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-06-22T15:13:47Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"[...]
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-multiple-1243.com/disable-auto-renew
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR",[...]
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/domains/3
        method: GET
      response:
        body: '{"message":"domain not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.24ms
[...]
