---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"127.0.0.4","name":"tf_view","priority":0,"ttl":3600,"type":"A","comment":null,"view_config":{"views":[{"subnet":"100.0.0.0/16","data":"1.2.3.4"},{"subnet":"100.1.0.0/16","data":"4.3.2.1"}]},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.4","id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.249417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.4","id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.289833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?name=tf_view&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.4","id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.590542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?id=26afcc27-eaf8-4a2b-8b40-150c9f6d934b&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.4","id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.932792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-view.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-view","updated_at":"2026-02-23T16:45:18Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.777917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"10cf9563-bf9a-4eb2-93c9-e0d9a6f91b3c","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"56d25414-06a3-4bef-a16c-7cc1bc37e891","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"127.0.0.4","id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.1","subnet":"100.1.0.0/16"}]}}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.095084ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b","records":[{"data":"127.0.0.4","name":"tf_view","priority":0,"ttl":3600,"type":"A","comment":null,"view_config":{"views":[{"subnet":"100.0.0.0/16","data":"1.2.3.4"},{"subnet":"90.1.0.0/32","data":"4.3.2.2"},{"subnet":"1.1.1.1/16","data":"2.2.2.2"}]},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.4","id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b","name":"tf_view","priority":0,"ttl":3600,"type":"A","view_config":{"views":[{"data":"1.2.3.4","subnet":"100.0.0.0/16"},{"data":"4.3.2.2","subnet":"90.1.0.0/32"},{"data":"2.2.2.2","subnet":"1.1.1.1/16"}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.435292ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"26afcc27-eaf8-4a2b-8b40-150c9f6d934b"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-view.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.452709ms
[...]
