---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"xxx.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"data\":\"xxx.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 401.85505ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - tf
      order_by:
      - name_asc
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"data\":\"xxx.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 158.433053ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - tf
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"data\":\"xxx.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.67864ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      id:
      - 183cb1c2-06cb-4804-bd2f-daad6fe38804
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=183cb1c2-06cb-4804-bd2f-daad6fe38804&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"data\":\"xxx.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.529873ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-basic-cname.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic-cname.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-basic-cname\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:29Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 137.044755ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":3,\"records\":[{\"id\":\"57440394-034a-4242-932f-8e6377d6b170\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"b7965381-1015-4c3f-a5c7-c4710df3a3d4\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"data\":\"xxx.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.324449ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      id:
      - 183cb1c2-06cb-4804-bd2f-daad6fe38804
      name:
      - tf
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=183cb1c2-06cb-4804-bd2f-daad6fe38804&name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"data\":\"xxx.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.622857ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"set\":{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"records\":[{\"data\":\"yyy.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\",\"data\":\"yyy.scw.cloud.\",\"name\":\"tf\",\"priority\":0,\"ttl\":3600,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.768631ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"183cb1c2-06cb-4804-bd2f-daad6fe38804\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.056717ms
[...]
