---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"v=DMARC1; p=quarantine; adkim=s\",\"name\":\"_dmarc\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"6605f4a6-f597-4f30-bbde-b6b5887f5a51\",\"data\":\"\\\"v=DMARC1; p=quarantine; adkim=s\\\"\",\"name\":\"_dmarc\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 261.115586ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - MX
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
    method: GET
  response:
    body: "{\"total_count\":2,\"records\":[{\"id\":\"2d6b89f2-a22d-4a51-90fd-b5ef8953e448\",\"data\":\"10 feedback-smtp.eu-west-1.amazonses.com.\",\"name\":\"\",\"priority\":10,\"ttl\":300,\"type\":\"MX\",\"comment\":null},{\"id\":\"be1e4329-8146-4103-bb69-be0b28f829ac\",\"data\":\"0 mail.scaleway.com.\",\"name\":\"\",\"priority\":0,\"ttl\":300,\"type\":\"MX\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 158.270036ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - _dmarc
      order_by:
      - name_asc
      type:
      - TXT
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"6605f4a6-f597-4f30-bbde-b6b5887f5a51\",\"data\":\"\\\"v=DMARC1; p=quarantine; adkim=s\\\"\",\"name\":\"_dmarc\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 180.26079ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - MX
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: "{\"total_count\":2,\"records\":[{\"id\":\"2d6b89f2-a22d-4a51-90fd-b5ef8953e448\",\"data\":\"10 feedback-smtp.eu-west-1.amazonses.com.\",\"name\":\"\",\"priority\":10,\"ttl\":300,\"type\":\"MX\",\"comment\":null},{\"id\":\"be1e4329-8146-4103-bb69-be0b28f829ac\",\"data\":\"0 mail.scaleway.com.\",\"name\":\"\",\"priority\":0,\"ttl\":300,\"type\":\"MX\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.274006ms
- id: 7
  request:
    host: api.scaleway.com
    form:
      name:
      - _dmarc
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - TXT
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"6605f4a6-f597-4f30-bbde-b6b5887f5a51\",\"data\":\"\\\"v=DMARC1; p=quarantine; adkim=s\\\"\",\"name\":\"_dmarc\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.948646ms
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"c6ebd4b6-19e6-41a6-9547-546617eaa6c0\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.819509ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      id:
      - 6605f4a6-f597-4f30-bbde-b6b5887f5a51
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=6605f4a6-f597-4f30-bbde-b6b5887f5a51&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"6605f4a6-f597-4f30-bbde-b6b5887f5a51\",\"data\":\"\\\"v=DMARC1; p=quarantine; adkim=s\\\"\",\"name\":\"_dmarc\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.49786ms
- id: 11
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"c6ebd4b6-19e6-41a6-9547-546617eaa6c0\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.869355ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-basic2.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic2.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-basic2\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:25:29Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.068742ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: "{\"total_count\":6,\"records\":[{\"id\":\"2d6b89f2-a22d-4a51-90fd-b5ef8953e448\",\"data\":\"10 feedback-smtp.eu-west-1.amazonses.com.\",\"name\":\"\",\"priority\":10,\"ttl\":300,\"type\":\"MX\",\"comment\":null},{\"id\":\"be1e4329-8146-4103-bb69-be0b28f829ac\",\"data\":\"0 mail.scaleway.com.\",\"name\":\"\",\"priority\":0,\"ttl\":300,\"type\":\"MX\",\"comment\":null},{\"id\":\"c6ebd4b6-19e6-41a6-9547-546617eaa6c0\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null},{\"id\":\"9effc98b-517c-4a0b-a660-3ee4b921426f\",\"data\":\"ns0.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"7297f58c-d925-42df-a2f8-0e26583189f6\",\"data\":\"ns1.dom.scw.cloud.\",\"name\":\"\",\"priority\":0,\"ttl\":1800,\"type\":\"NS\",\"comment\":null},{\"id\":\"6605f4a6-f597-4f30-bbde-b6b5887f5a51\",\"data\":\"\\\"v=DMARC1; p=quarantine; adkim=s\\\"\",\"name\":\"_dmarc\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.850853ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      id:
      - 2d6b89f2-a22d-4a51-90fd-b5ef8953e448
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - MX
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=2d6b89f2-a22d-4a51-90fd-b5ef8953e448&name=&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"2d6b89f2-a22d-4a51-90fd-b5ef8953e448\",\"data\":\"10 feedback-smtp.eu-west-1.amazonses.com.\",\"name\":\"\",\"priority\":10,\"ttl\":300,\"type\":\"MX\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.165755ms
- id: 25
  request:
    host: api.scaleway.com
    form:
      id:
      - c6ebd4b6-19e6-41a6-9547-546617eaa6c0
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=c6ebd4b6-19e6-41a6-9547-546617eaa6c0&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"c6ebd4b6-19e6-41a6-9547-546617eaa6c0\",\"data\":\"127.0.0.1\",\"name\":\"\",\"priority\":0,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.959206ms
- id: 26
  request:
    host: api.scaleway.com
    form:
      id:
      - 6605f4a6-f597-4f30-bbde-b6b5887f5a51
      name:
      - _dmarc
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - TXT
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=6605f4a6-f597-4f30-bbde-b6b5887f5a51&name=_dmarc&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"6605f4a6-f597-4f30-bbde-b6b5887f5a51\",\"data\":\"\\\"v=DMARC1; p=quarantine; adkim=s\\\"\",\"name\":\"_dmarc\",\"priority\":0,\"ttl\":3600,\"type\":\"TXT\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.520803ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"2d6b89f2-a22d-4a51-90fd-b5ef8953e448\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.24399ms
[...]
