---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-name-diff.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"67f2f19c-ec89-411e-9fcb-9d44428334ac","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.166636s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-name-diff.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"67f2f19c-ec89-411e-9fcb-9d44428334ac","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.251417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-name-diff.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"67f2f19c-ec89-411e-9fcb-9d44428334ac","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.562208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-name-diff.scaleway-terraform.com/records?id=67f2f19c-ec89-411e-9fcb-9d44428334ac&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"67f2f19c-ec89-411e-9fcb-9d44428334ac","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.23825ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-name-diff.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-name-diff","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.144458ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-name-diff.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"22b87b0c-9391-4a25-a2d5-0b4387093dcb","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-10-17T12:23:38Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"c617286c-892f-49e3-9571-eeab5b8f34c4","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-10-17T12:23:38Z"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"67f2f19c-ec89-411e-9fcb-9d44428334ac","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T09:28:08Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.856834ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"67f2f19c-ec89-411e-9fcb-9d44428334ac"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-name-diff.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.5785ms
[...]
