---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-zone.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.867125ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-zone","updated_at":"2026-03-24T15:15:01Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.013083ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-zone.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-zone","updated_at":"2026-03-24T15:15:01Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.7735ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-zone.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-zone","updated_at":"2026-03-24T15:15:01Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.3695ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-zone.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.450041ms
[...]
