---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domains":["test-single-updates52.com"],"duration_in_years":1,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"legal_form":"individual","firstname":"John","lastname":"DOE","company_name":"","email":"john.doe@example.com","email_alt":"","phone_number":"+1.23456789","fax_number":"","address_line_1":"123 Main Street","address_line_2":"","zip":"75001","city":"Paris","country":"FR","vat_identification_code":"FR12345678901","company_identification_code":"123456789","lang":"unknown_language_code","resale":false,"extension_fr":null,"extension_eu":null,"whois_opt_in":false,"state":"","extension_nl":null,"extension_it":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/buy-domains
        method: POST
      response:
        body: '{"created_at":"2026-06-23T08:47:06.291804778Z","domains":["test-single-updates52.com"],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","task_id":"dbd2cd81-b853-493f-beac-79712be12dfe"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.034668959s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1&page_size=1000
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-ds-reg-2-9424305707010248911.com","id":"17999219-f3fa-4c62-970f-55c38c95d222","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-22T10:31:52Z","status":"success","type":"create_domain","updated_at":"2026-06-22T10:35:47Z"},{"contact_identifier":"","domain":"test-ds-reg-project--5763323528887380721.com","id":"089683f2-f550-4b3b-a90a-ae50f5ad18e6","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-22T10:26:32Z","status":"success","type":"create_domain","updated_at":"2026-06-22T10:30:44Z"},{"contact_identifier":"","domain":"test-multiple-1243.com","id":"24f537ee-cd4d-4a98-abe1-ef54d8a40d17","message"[...]
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates52.com
        method: GET
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"KPpFKGiJU2GiV8A4D2Q9toajJyYzxY205pQXfInRtuj7yg==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"disabled","dns_zones":[{"domain":"test-single-updates52.com","linked_products":[],"message":null,"ns":["ns1.stg-scaleway.com.","ns2.stg-scaleway.com."],"ns_default":["ns1.stg-scaleway.com","ns2.stg-scaleway.com"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-06-23T08:49:00Z"}],"dnssec":{"ds_records":[],"status":"disabled"},"domain":"test-single-updates52.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-06-23T10:49:33Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"KPpFKGiJU2GiV8A4D2Q9toajJyYzxY205pQXfInRtuj7yg==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"pending_trade":false,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","registrar":"SCALEWAY","status":"active","technical_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"KPpFKGiJU2GiV8A4D2Q9toajJyYzxY205pQXfInRtuj7yg==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"tld":{"dnssec_support":true,"duration_in_years_max":9,"duration_in_years_min":1,"idn_support":false,"name":"com","offers":{"renew":{"action":"renew","operation_path":"/network/domain/domains/com/renew","price":{"currency_code":"EUR","nanos":990000000,"units":12}},"trade":{"action":"trade","operation_path":"/network/domain/domains/com/trade","price":{"currency_code":"EUR","nanos":0,"units":0}}},"specifications":{"grace_period":"30"}},"updated_at":"2026-06-23T08:50:31Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 415.989792ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates52.com/enable-auto-renew
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR[...]
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates52.com/enable-dnssec
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"KPpFKGiJU2GiV8A4D2Q9toajJyYzxY205pQXfInRtuj7yg==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"enabled","dns_zones":[{"domain":"test-single-updates52.com","linked_products":[],"message":null,"ns":["ns1.stg-scaleway.com.","ns2.stg-scaleway.com."],"ns_default":["ns1.stg-scaleway.com","ns2.stg-scaleway.com"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-06-23T08:49:00Z"}],"dnssec":{"ds_records":[{"algorithm":"ecdsap256sha256","digest":{"digest":"5e1d991bf92be15572d90c8f04520f235cc3a89a360acef695b9860a028001d4dde74f9e48398c5f582718d2ec04f134","public_key":{"key":"4eqvpk6xBxmC1d+C83CzwWRklTi08RPjC0uHGYcD6luUPgoWcPhfC94+5LFkgt+dciqgNPQYEdcMLBnNHcUvTg=="},"type":"sha_384"},"key_id":48111}],"status":"enabling"},"domain":"test-single-updates52.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-06-23T10:49:33Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu"[...]
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates52.com/disable-auto-renew
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"F[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/domains/1
        method: GET
      response:
        body: '{"message":"domain not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.803291ms
[...]
