---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domains":["test-single-updates51.com"],"duration_in_years":1,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"legal_form":"individual","firstname":"John","lastname":"DOE","company_name":"","email":"john.doe@example.com","email_alt":"","phone_number":"+1.23456789","fax_number":"","address_line_1":"123 Main Street","address_line_2":"","zip":"75001","city":"Paris","country":"FR","vat_identification_code":"FR12345678901","company_identification_code":"123456789","lang":"unknown_language_code","resale":false,"extension_fr":null,"extension_eu":null,"whois_opt_in":false,"state":"","extension_nl":null,"extension_it":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/buy-domains
        method: POST
      response:
        body: '{"created_at":"2026-06-18T12:59:12.142512791Z","domains":["test-single-updates51.com"],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","task_id":"83f29b29-bfd5-45c6-b2a5-e9874a7ad38f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.229154666s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?order_by=domain_desc&page=1&page_size=1000
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-contacts-update1.com","id":"779d88ab-8448-4a8f-8f31-ce48cdea620f","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-17T09:14:36Z","status":"success","type":"create_domain","updated_at":"2026-06-17T09:18:31Z"},{"contact_identifier":"","domain":"test-contacts-update2.com","id":"4447900e-9c30-4c64-90ec-46757bb33501","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-17T09:29:19Z","status":"success","type":"create_domain","updated_at":"2026-06-17T09:32:45Z"},{"contact_identifier":"","domain":"test-contacts-update3.com","id":"867575c2-12dd-4369-8084-43e577d1798f","message":null,"organizat[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates51.com
        method: GET
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"v9A-FDvxxyxWMfVe93ebVqWD9D7tniaGzNzeHmaUN3A1tw==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"disabled","dns_zones":[{"domain":"test-single-updates51.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud.","ns1.dom.scw.cloud."],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-06-18T13:00:47Z"}],"dnssec":{"ds_records":[],"status":"disabled"},"domain":"test-single-updates51.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-06-18T15:01:11Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"v9A-FDvxxyxWMfVe93ebVqWD9D7tniaGzNzeHmaUN3A1tw==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"pending_trade":false,"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","registrar":"SCALEWAY","status":"active","technical_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"v9A-FDvxxyxWMfVe93ebVqWD9D7tniaGzNzeHmaUN3A1tw==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"tld":{"dnssec_support":true,"duration_in_years_max":9,"duration_in_years_min":1,"idn_support":false,"name":"com","offers":{"renew":{"action":"renew","operation_path":"/network/domain/domains/com/renew","price":{"currency_code":"EUR","nanos":990000000,"units":12}},"trade":{"action":"trade","operation_path":"/network/domain/domains/com/trade","price":{"currency_code":"EUR","nanos":0,"units":0}}},"specifications":{"grace_period":"30"}},"updated_at":"2026-06-18T13:02:03Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 376.772916ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/tasks?domain=test-single-updates51.com&order_by=domain_desc&page=1
        method: GET
      response:
        body: '{"tasks":[{"contact_identifier":"","domain":"test-single-updates51.com","id":"83f29b29-bfd5-45c6-b2a5-e9874a7ad38f","message":null,"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","started_at":"2026-06-18T12:59:12Z","status":"success","type":"create_domain","updated_at":"2026-06-18T13:02:23Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.731875ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates51.com/enable-auto-renew
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR[...]
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates51.com/enable-dnssec
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu":{"european_citizenship":"FR"},"extension_fr":{"mode":"mode_unknown"},"extension_it":null,"extension_nl":null,"fax_number":"","firstname":"John","id":"v9A-FDvxxyxWMfVe93ebVqWD9D7tniaGzNzeHmaUN3A1tw==","lang":"en_US","lastname":"DOE","legal_form":"individual","phone_number":"+1.23456789","questions":[],"resale":false,"state":"","status":"status_unknown","vat_identification_code":"FR12345678901","whois_opt_in":false,"zip":"75001"},"auto_renew_status":"enabled","dns_zones":[{"domain":"test-single-updates51.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud.","ns1.dom.scw.cloud."],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","status":"active","subdomain":"","updated_at":"2026-06-18T13:00:47Z"}],"dnssec":{"ds_records":[{"algorithm":"ecdsap256sha256","digest":{"digest":"995ff8ab2740a42c36a6f4650b9bcb31ab98af4a23d34790cd8363c76ed98ceb2d6427414f9d256936b983f9b362f17d","public_key":{"key":"LMYvwtXE6C20nlmQD36gmsWdwCg+oVREsTn7Zn0BTxBL+lFlc/pyfPY42Hf5K2IPmftO0LLAhhuuaEOFBnKFPQ=="},"type":"sha_384"},"key_id":47927}],"status":"enabling"},"domain":"test-single-updates51.com","epp_code":["clientTransferProhibited"],"expired_at":"2027-06-18T15:01:11Z","is_external":false,"linked_products":[],"organization_id":"2efde44b-c582-4939-be07-6e3f62b3d71e","owner_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"FR","email":"john.doe@example.com","email_alt":"","email_status":"email_status_unknown","extension_eu"[...]
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/domains/test-single-updates51.com/disable-auto-renew
        method: POST
      response:
        body: '{"administrative_contact":{"address_line_1":"123 Main Street","address_line_2":"","city":"Paris","company_identification_code":"123456789","company_name":"","country":"F[...]
[...]
