---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"xxx.scw.cloud.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.","id":"51e6db97-0853-42b6-be08-9ad209de4a22","name":"tf","priority":0,"ttl":3600,"type":"CNAME","updated_at":"2026-03-20T09:28:08Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.006064583s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.","id":"51e6db97-0853-42b6-be08-9ad209de4a22","name":"tf","priority":0,"ttl":3600,"type":"CNAME","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.261709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.","id":"51e6db97-0853-42b6-be08-9ad209de4a22","name":"tf","priority":0,"ttl":3600,"type":"CNAME","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.283042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=51e6db97-0853-42b6-be08-9ad209de4a22&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"xxx.scw.cloud.","id":"51e6db97-0853-42b6-be08-9ad209de4a22","name":"tf","priority":0,"ttl":3600,"type":"CNAME","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.775208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic-cname.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic-cname","updated_at":"2026-03-20T09:28:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.782041ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"57440394-034a-4242-932f-8e6377d6b170","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:00Z"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"b7965381-1015-4c3f-a5c7-c4710df3a3d4","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:00Z"},{"comment":null,"data":"xxx.scw.cloud.","id":"51e6db97-0853-42b6-be08-9ad209de4a22","name":"tf","priority":0,"ttl":3600,"type":"CNAME","updated_at":"2026-03-20T09:28:08Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.930292ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"set":{"id":"51e6db97-0853-42b6-be08-9ad209de4a22","records":[{"data":"yyy.scw.cloud.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"yyy.scw.cloud.","id":"51e6db97-0853-42b6-be08-9ad209de4a22","name":"tf","priority":0,"ttl":3600,"type":"CNAME","updated_at":"2026-03-20T09:28:10Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.215625ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"51e6db97-0853-42b6-be08-9ad209de4a22"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.360709ms
[...]
