---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"feedback-smtp.eu-west-1.amazonses.com.","name":"","priority":10,"ttl":300,"type":"MX","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"10 feedback-smtp.eu-west-1.amazonses.com.","id":"5be21d42-ebaa-4696-bbc9-ae3a8bbe108b","name":"","priority":10,"ttl":300,"type":"MX","updated_at":"2026-03-20T10:28:40Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.235417ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"10 feedback-smtp.eu-west-1.amazonses.com.","id":"5be21d42-ebaa-4696-bbc9-ae3a8bbe108b","name":"","priority":10,"ttl":300,"type":"MX","updated_at":"2026-03-20T10:28:40Z"},{"comment":null,"data":"0 mail.scaleway.com.","id":"997038ef-e379-47dc-8f77-0df14cfb7eb5","name":"","priority":0,"ttl":300,"type":"MX","updated_at":"2026-03-20T10:28:41Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.852583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"ecb9088e-67ed-435d-924d-5a3d05b3866f","name":"","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T10:28:41Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.711667ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=quarantine; adkim=s\"","id":"fa9ae617-f25c-4fd7-9d20-ede8865e31a8","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T10:28:40Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.104667ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"127.0.0.1","id":"ecb9088e-67ed-435d-924d-5a3d05b3866f","name":"","priority":0,"ttl":3600,"type":"A","updated_at":"2026-03-20T10:28:41Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.310209ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"10 feedback-smtp.eu-west-1.amazonses.com.","id":"5be21d42-ebaa-4696-bbc9-ae3a8bbe108b","name":"","priority":10,"ttl":300,"type":"MX","updated_at":"2026-03-20T10:28:40Z"},{"comment":null,"data":"0 mail.scaleway.com.","id":"997038ef-e379-47dc-8f77-0df14cfb7eb5","name":"","priority":0,"ttl":300,"type":"MX","updated_at":"2026-03-20T10:28:41Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.918291ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=quarantine; adkim=s\"","id":"fa9ae617-f25c-4fd7-9d20-ede8865e31a8","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","updated_at":"2026-03-20T10:28:40Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.706042ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=5be21d42-ebaa-4696-bbc9-ae3a8bbe108b&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"10 feedback-smtp.eu-west-1.amazonses.com.","id":"5be21d42-ebaa-4696-bbc9-ae3a8bbe108b","name":"","priority":10,"ttl":300,"type":"MX","updated_at":"2026-03-20T10:28:40Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.408ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-basic2.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-basic2","updated_at":"2026-03-20T10:28:41Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.49125ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"9effc98b-517c-4a0b-a660-3ee4b921426f","name":"","priority":0,"ttl":1800,"type":"NS","updated_at":"2025-07-29T01:29:17Z"},{"comment":nu[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"fa9ae617-f25c-4fd7-9d20-ede8865e31a8"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.153375ms
[...]
