---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform_test_region_from_id","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-07-09T12:54:34.086267Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"be65135a-2b8e-4849-a6a1-57e98588e30c","key_id":null,"managed":false,"name":"terraform_test_region_from_id","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-07-09T12:54:34.086267Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.136293ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/be65135a-2b8e-4849-a6a1-57e98588e30c
        method: GET
      response:
        body: '{"created_at":"2026-07-09T12:54:34.086267Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"be65135a-2b8e-4849-a6a1-57e98588e30c","key_id":null,"managed":false,"name":"terraform_test_region_from_id","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-07-09T12:54:34.086267Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.491198ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/be65135a-2b8e-4849-a6a1-57e98588e30c/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.997109ms
[...]
