---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform_test_id_from_regional_id","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-07-09T12:54:09.692439Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"acbb33d2-a524-417e-97c8-c1aee9567bd2","key_id":null,"managed":false,"name":"terraform_test_id_from_regional_id","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-07-09T12:54:09.692439Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.82196ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acbb33d2-a524-417e-97c8-c1aee9567bd2
        method: GET
      response:
        body: '{"created_at":"2026-07-09T12:54:09.692439Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"acbb33d2-a524-417e-97c8-c1aee9567bd2","key_id":null,"managed":false,"name":"terraform_test_id_from_regional_id","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-07-09T12:54:09.692439Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.591862ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acbb33d2-a524-417e-97c8-c1aee9567bd2/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.230398ms
[...]
