---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-04-18T13:52:54.167530Z","description":"","id":"42fb1081-0f75-4076-8248-3fa9cf90e3c1","name":"tf_tests_cockpit_datasource_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-18T13:52:54.167530Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.06273ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/42fb1081-0f75-4076-8248-3fa9cf90e3c1
        method: GET
      response:
        body: '{"created_at":"2024-04-18T13:52:54.167530Z","description":"","id":"42fb1081-0f75-4076-8248-3fa9cf90e3c1","name":"tf_tests_cockpit_datasource_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-18T13:52:54.167530Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.109329ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"42fb1081-0f75-4076-8248-3fa9cf90e3c1","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-04-18T13:52:54.541968Z","id":"60f3fe7b-c6e7-4ff7-a352-7db0095c2821","name":"my-source","origin":"external","project_id":"42fb1081-0f75-4076-8248-3fa9cf90e3c1","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-04-18T13:52:54.541968Z","url":"https://60f3fe7b-c6e7-4ff7-a352-7db0095c2821.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.493787ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/60f3fe7b-c6e7-4ff7-a352-7db0095c2821
        method: GET
      response:
        body: '{"created_at":"2024-04-18T13:52:54.541968Z","id":"60f3fe7b-c6e7-4ff7-a352-7db0095c2821","name":"my-source","origin":"external","project_id":"42fb1081-0f75-4076-8248-3fa9cf90e3c1","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-04-18T13:52:54.541968Z","url":"https://60f3fe7b-c6e7-4ff7-a352-7db0095c2821.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.078563ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/60f3fe7b-c6e7-4ff7-a352-7db0095c2821
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"60f3fe7b-c6e7-4ff7-a352-7db0095c2821","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.129175ms
