---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2023-11-09T14:19:40.915005Z","description":"","id":"b3e26f69-f349-4210-b4e3-46e9dcd0c0d9","ip_address":"62.210.143.109","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-143-109.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2026-08-26T11:55:25.853187937Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 480.987741ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.750683ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/b3e26f69-f349-4210-b4e3-46e9dcd0c0d9
        method: GET
      response:
        body: '{"created_at":"2023-11-09T14:19:40.915005Z","description":"","id":"b3e26f69-f349-4210-b4e3-46e9dcd0c0d9","ip_address":"62.210.143.109","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-143-109.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2026-08-26T11:55:25.853188Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.939192ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
        method: GET
      response:
        body: '{"flexible_ips":[{"created_at":"2023-11-09T14:19:40.904085Z","description":"","id":"705a0823-c7a6-4ea0-8876-96bf6b09bc97","ip_address":"62.210.143.108","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-143-108.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2026-08-26T11:55:25.766401Z","zone":"fr-par-1"},{"created_at":"2023-11-09T14:19:40.915005Z","description":"","id":"b3e26f69-f349-4210-b4e3-46e9dcd0c0d9","ip_address":"62.210.143.109","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-143-109.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2026-08-26T11:55:25.853188Z","zone":"fr-par-1"},{"created_at":"2023-11-09T14:19:40.924769Z","description":"","id":"4fa7bd15-6a4c-41c2-bfc6-a8fdb3548fa9","ip_address":"62.210.143.110","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-143-110.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2026-08-26T11:55:25.903390Z","zone":"fr-par-1"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.191209ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/b3e26f69-f349-4210-b4e3-46e9dcd0c0d9
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 42.389343ms
[...]
