---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.501088Z","description":"","id":"93783386-7d57-4b5b-a27d-20ea9a0fe4d5","ip_address":"195.154.141.9","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-9.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:32.128599470Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.846541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/93783386-7d57-4b5b-a27d-20ea9a0fe4d5
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:04.501088Z","description":"","id":"93783386-7d57-4b5b-a27d-20ea9a0fe4d5","ip_address":"195.154.141.9","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-9.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:32.128599Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.299791ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
        method: GET
      response:
        body: '{"flexible_ips":[{"created_at":"2023-01-31T16:30:54.017824Z","description":"","id":"08291ceb-c760-471b-8251-2dd081b86431","ip_address":"2001:bc8:702:6b7::/64","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"2001-bc8-702-6b7--.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.990337Z","zone":"fr-par-1"},{"created_at":"2024-08-28T11:35:04.444749Z","description":"","id":"cbae[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/93783386-7d57-4b5b-a27d-20ea9a0fe4d5
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 24.596834ms
[...]
