---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"44f51382-6734-466f-9666-15ba9d84aa02\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:02.542257722Z\",\"created_at\":\"2024-08-28T11:36:02.114963Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.190.240\",\"server_id\":null,\"reverse\":\"195-154-190-240.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 188.588379ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/44f51382-6734-466f-9666-15ba9d84aa02
    method: GET
  response:
    body: "{\"id\":\"44f51382-6734-466f-9666-15ba9d84aa02\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:02.542258Z\",\"created_at\":\"2024-08-28T11:36:02.114963Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.190.240\",\"server_id\":null,\"reverse\":\"195-154-190-240.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.804752ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
    method: GET
  response:
    body: "{\"total_count\":12,\"flexible_ips\":[{\"id\":\"08291ceb-c760-471b-8251-2dd081b86431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:02.493336Z\",\"created_at\":\"2023-01-31T16:30:54.017824Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"2001:bc8:702:6b7::/64\",\"server_id\":null,\"reverse\":\"2001-bc8-702-6b7--.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"},{\"id\":\"cbae8f23-b847-47cc-a047-b93d6bfc296b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"attached to ip01\",\"updated_at\":\"2025-08-26T16:26:01.023190Z\",\"created_at\":\"2024-08-28T11:35:04.444749Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.4\",\"server_id\":null,\"reverse\":\"195-154-141-4.rev.poneytelecom.eu.\",\"mac_address\":{\"id\":\"3b9e1a7e-53e3-4d69-b4b7-b79a3002f58c\",\"mac_address\":\"52:54:00:1d:65:6b\",\"mac_type\":\"kvm\",\"status\":\"ready\",\"updated_at\":\"2025-08-26T16:26:01.021458Z\",\"created_at\":\"2025-08-26T16:26:01.018996Z\",\"zone\":\"fr-par-1\"},\"zone\":\"fr-par-1\"},{\"id\":\"908ab944-4484-4620-91d6-2dd3ea471f55\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"not attached to ip02\",\"updated_at\":\"2025-08-26T16:26:00.091045Z\",\"created_at\":\"2024-08-28T11:35:04.457912Z\",\"status\":\"ready\",\"tags\":[...]
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/44f51382-6734-466f-9666-15ba9d84aa02
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 37.532973ms
[...]
