---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[\"minimal\",\"first\"],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"1c2efc8c-d423-453d-a445-33e41cd2ef32\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:02.308726746Z\",\"created_at\":\"2024-08-28T11:36:02.102224Z\",\"status\":\"ready\",\"tags\":[\"minimal\",\"first\"],\"ip_address\":\"195.154.190.239\",\"server_id\":null,\"reverse\":\"195-154-190-239.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 213.666913ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/1c2efc8c-d423-453d-a445-33e41cd2ef32
    method: GET
  response:
    body: "{\"id\":\"1c2efc8c-d423-453d-a445-33e41cd2ef32\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:02.308727Z\",\"created_at\":\"2024-08-28T11:36:02.102224Z\",\"status\":\"ready\",\"tags\":[\"minimal\",\"first\"],\"ip_address\":\"195.154.190.239\",\"server_id\":null,\"reverse\":\"195-154-190-239.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.19439ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      tags:
      - minimal
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc&tags=minimal
    method: GET
  response:
    body: "{\"total_count\":3,\"flexible_ips\":[{\"id\":\"8a874ce8-342f-4f74-94bc-2b0b332200d7\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:20.285259Z\",\"created_at\":\"2024-08-28T11:35:04.480578Z\",\"status\":\"ready\",\"tags\":[\"minimal\",\"second\"],\"ip_address\":\"195.154.141.7\",\"server_id\":null,\"reverse\":\"195-154-141-7.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"},{\"id\":\"1c2efc[...]
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/1c2efc8c-d423-453d-a445-33e41cd2ef32
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 49.872754ms
[...]
