---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":["minimal","first"],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:36:02.102224Z","description":"","id":"1c2efc8c-d423-453d-a445-33e41cd2ef32","ip_address":"195.154.190.239","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-190-239.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":["minimal","first"],"updated_at":"2025-01-22T15:17:32.345467148Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.145667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/1c2efc8c-d423-453d-a445-33e41cd2ef32
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:36:02.102224Z","description":"","id":"1c2efc8c-d423-453d-a445-33e41cd2ef32","ip_address":"195.154.190.239","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-190-239.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":["minimal","first"],"updated_at":"2025-01-22T15:17:32.345467Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.789667ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips?order_by=created_at_asc&tags=minimal
        method: GET
      response:
        body: '{"flexible_ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.834458ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/cbae8f23-b847-47cc-a047-b93d6bfc296b
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 24.461625ms
[...]
