---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2021-07-21T08:31:21.760537Z","description":"","id":"b70336c5-fd4e-41a4-8b90-c2cde53f14e4","ip_address":"51.159.125.100","mac_address":null,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"51-159-125-100.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-05-22T14:43:48.049723760Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.661125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/b70336c5-fd4e-41a4-8b90-c2cde53f14e4
        method: GET
      response:
        body: '{"created_at":"2021-07-21T08:31:21.760537Z","description":"","id":"b70336c5-fd4e-41a4-8b90-c2cde53f14e4","ip_address":"51.159.125.100","mac_address":null,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"51-159-125-100.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-05-22T14:43:48.049724Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.551125ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
        method: GET
      response:
        body: '{"flexible_ips":[{"created_at":"2021-07-21T08:31:21.760537Z","description":"","id":"b70336c5-fd4e-41a4-8b90-c2cde53f14e4","ip_address":"51.159.125.100","mac_address":null,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"51-159-125-100.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-05-22T14:43:48.049724Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.5275ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/b70336c5-fd4e-41a4-8b90-c2cde53f14e4
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 45.672292ms
[...]
