---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":26,\"offers\":[{\"id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"name\":\"EM-A115X-SSD\",\"stock\":\"available\",\"bandwidth\":500000000,\"max_bandwidth\":1000000000,\"commercial_range\":\"aluminium\",\"disks\":[{\"capacity\":1024209543168,\"type\":\"SSD\"},{\"capacity\":1024209543168,\"type\":\"SSD\"}],\"enable\":true,\"cpus\":[{\"name\":\"Intel Xeon E3 1220 or equivalent\",\"core_count\":4,\"thread_count\":4,\"frequency\":3100,\"benchmark\":\"3895\"}],\"memories\":[{\"capacity\":32000000000,\"type\":\"DDR3\",\"frequency\":1600,\"is_ecc\":true}],\"quota_name\":\"EM_A115X_SSD\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":91000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"fa29896b-6b49-468d-a787-966559a55c12\",\"7e865c16-1a63-4dc7-8181-dabc020fc21b\",\"7fb86682-316e-4f6e-a845-de9b230cdd29\",\"b4816d13-8585-4005-a7c7-54a031dd933b\",\"3422ae02-d6d7-4980-8a00-eb38c262fb41\",\"bd17a2bb-e686-486a-aacf-44fa8ce6e553\",\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\",\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\",\"69e740ab-9f0e-4107-8516-16470000729c\",\"6aa3f876-1c83-4434-8cc4-a2dbc94216db\",\"2e06fa49-4677-4bd7-8bf5-b1c490d8a966\",\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\",\"847bb37a-dc13-4536-9f07-023d38dba98d\",\"fd771862-4b75-46a7-ab42-73c46c0ac2db\",\"93fb3e11-e02e-47d9-aa3a-f77a2f7a7129\",\"a5c00c1b-95b1-4c08-8a33-79cc079f9dac\",\"4aff4d9d-b1f4-44b0-ab6f-e4711ac11711\",\"bc7e4ca2-bf32-407f-a04b-72ad6455beb2\",\"1c376d8a-f237-438d-9cd9-47902050ffd3\"],\"subscription_period\":\"hourly\",\"operation_path\":\"\",\"fee\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":0},\"options\":[{\"id\":\"83a8fb91-47b4-4c20-82f9-84c31d79bfd8\",\"name\":\"Windows 2022 standard\",\"price\":{\"currency_code\":\"EUR\",\"units\":25,\"nanos\":200000000},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"license\":{\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\"}},{\"id\":\"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb\",\"name\":\"Public Bandwidth 1Gbps\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":28000000},\"enabled\":false,\"subscription_period\":\"hourly\",\"manageable\":true,\"os_id\":\"00000000-0000-0000-0000-000000000000\",\"public_bandwidth\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"f74a6322-070e-41dd-a13f-8165ea63aca8\",\"name\":\"Windows 2019 datacenter\",\"price\":{\"currency_code\":\"EUR\",\"units\":168,\"nanos\":0},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\",\"license\":{\"os_id\":\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\"}},{\"id\":\"cd4158d7-2d65-49be-8803-c4b8ab6f760c\",\"name\":\"Private Network\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":30000000},\"enabled\":false,\"subscription_period\":\"hourly\",\"manageable\":true,\"os_id\":\"00000000-0000-0000-0000-000000000000\",\"private_network\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":990000000},\"enabled\":false,\"subscription_period\":\"hourly\",\"manageable\":true,\"os_id\":\"00000000-0000-0000-0000-000000000000\",\"remote_access\":{}},{\"id\":\"c498071f-4f8d-49f3-bc52-afc219a48fe0\",\"name\":\"Windows 2022 datacenter\",\"price\":{\"currency_code\":\"EUR\",\"units\":168,\"nanos\":0},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"3422ae02-d6d7-4980-8a00-eb38c262fb41\",\"license\":{\"os_id\":\"3422ae02-d6d7-4980-8a00-eb38c262fb41\"}},{\"id\":\"f42a040b-6c91-4b11-beb0-b0b21e641fda\",\"name\":\"Windows 2019 standard\",\"price\":{\"currency_code\":\"EUR\",\"units\":25,\"nanos\":200000000},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\",\"license\":{\"os_id\":\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\"}}],\"private_bandwidth\":1000000000,\"shared_bandwidth\":true,\"tags\":[\"install-system-v2\"],\"gpus\":[],\"monthly_offer_id\":\"f1322af3-53dd-473b-8749-83661fbb73d8\"},{\"id\":\"e1680dec-52aa-4cbc-b70c-ef32d863fdb0\",\"name\":\"EM-A610R-NVME\",\"stock\":\"empty\",\"bandwidth\":500000000,\"max_bandwidth\":1000000000,\"commercial_range\":\"aluminium\",\"disks\":[{\"capacity\":1024209543168,\"type\":\"NVMe\"},{\"capacity\":1024209543168,\"type\":\"NVMe\"}],\"enable\":true,\"cpus\":[{\"name\":\"AMD Ryzen PRO 3600\",\"core_count\":6,\"thread_count\":12,\"frequency\":3600,\"benchmark\":\"17202\"}],\"memories\":[{\"capacity\"[...]
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[\"minimal\",\"first\"],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"fb0e09f3-0bed-41a2-afc5-f426f1c792e6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:05.267668480Z\",\"created_at\":\"2024-08-28T11:36:02.127267Z\",\"status\":\"ready\",\"tags\":[\"minimal\",\"first\"],\"ip_address\":\"195.154.190.241\",\"server_id\":null,\"reverse\":\"195-154-190-241.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 312.382333ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/fb0e09f3-0bed-41a2-afc5-f426f1c792e6
    method: GET
  response:
    body: "{\"id\":\"fb0e09f3-0bed-41a2-afc5-f426f1c792e6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:05.267668Z\",\"created_at\":\"2024-08-28T11:36:02.127267Z\",\"status\":\"ready\",\"tags\":[\"minimal\",\"first\"],\"ip_address\":\"195.154.190.241\",\"server_id\":null,\"reverse\":\"195-154-190-241.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.453459ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccScalewayBaremetalServer_WithoutInstallConfig\",\"description\":\"\",\"tags\":[],\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"id\":\"038b8afd-0ec3-4b7a-a6df-c707b0803ce9\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithoutInstallConfig\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:05.770018Z\",\"created_at\":\"2025-08-26T16:26:05.770018Z\",\"status\":\"delivering\",\"offer_id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"install\":null,\"tags\":[],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-A115X-SSD\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 506.290708ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/038b8afd-0ec3-4b7a-a6df-c707b0803ce9
    method: GET
  response:
    body: "{\"id\":\"038b8afd-0ec3-4b7a-a6df-c707b0803ce9\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayBaremetalServer_WithoutInstallConfig\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:05.937873Z\",\"created_at\":\"2025-08-26T16:26:05.770018Z\",\"status\":\"ready\",\"offer_id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"install\":null,\"tags\":[],\"ips\":[{\"id\":\"36275197-d8a4-43e2-9681-1a2806ff755b\",\"address\":\"62.210.92.149\",\"reverse\":\"\",\"version\":\"IPv4\",\"reverse_status\":\"unknown\",\"reverse_status_message\":\"\"},{\"id\":\"9e0ca90f-de6a-442f-a135-507347c1038d\",\"address\":\"2001:bc8:701:2e:d6ae:52ff:fecb:c3af\",\"reverse\":\"\",\"version\":\"IPv6\",\"reverse_status\":\"unknown\",\"reverse_status_message\":\"\"}],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-A115X-SSD\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.887895ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/f7241870-c383-4fa2-bbca-5189600df5c4
    method: GET
  response:
    body: "{\"id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"name\":\"EM-A115X-SSD\",\"stock\":\"available\",\"bandwidth\":500000000,\"max_bandwidth\":1000000000,\"commercial_range\":\"aluminium\",\"disks\":[{\"capacity\":1024209543168,\"type\":\"SSD\"},{\"capacity\":1024209543168,\"type\":\"SSD\"}],\"ena[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 038b8afd-0ec3-4b7a-a6df-c707b0803ce9
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=038b8afd-0ec3-4b7a-a6df-c707b0803ce9
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.679541ms
[...]
