---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:44.473875Z","description":"","id":"7c715b98-e683-493a-9e62-109d684e4348","ip_address":"195.154.148.225","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"195-154-148-225.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-09-05T13:26:59.333336024Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 566.292875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/7c715b98-e683-493a-9e62-109d684e4348
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:44.473875Z","description":"","id":"7c715b98-e683-493a-9e62-109d684e4348","ip_address":"195.154.148.225","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"195-154-148-225.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-09-05T13:26:59.333336Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.542333ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
        method: GET
      response:
        body: '{"flexible_ips":[{"created_at":"2024-08-28T11:35:44.473875Z","description":"","id":"7c715b98-e683-493a-9e62-109d684e4348","ip_address":"195.154.148.225","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"195-154-148-225.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-09-05T13:26:59.333336Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.155042ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/7c715b98-e683-493a-9e62-109d684e4348
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 59.990667ms
[...]
