---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"cbae8f23-b847-47cc-a047-b93d6bfc296b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"updated_at\":\"2025-09-23T09:45:52.471212358Z\",\"created_at\":\"2024-08-28T11:35:04.444749Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.4\",\"server_id\":null,\"reverse\":\"195-154-141-4.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 818.940168ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/cbae8f23-b847-47cc-a047-b93d6bfc296b
    method: GET
  response:
    body: "{\"id\":\"cbae8f23-b847-47cc-a047-b93d6bfc296b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"updated_at\":\"2025-09-23T09:45:52.471212Z\",\"created_at\":\"2024-08-28T11:35:04.444749Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.4\",\"server_id\":null,\"reverse\":\"195-154-141-4.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 612.871415ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
    method: GET
  response:
    body: "{\"total_count\":2,\"flexible_ips\":[{\"id\":\"cbae8f23-b847-47cc-a047-b93d6bfc296b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"updated_at\":\"2025-09-23T09:45:52.471212Z\",\"created_at\":\"2024-08-28T11:35:04.444749Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.4\",\"server_id\":null,\"reverse\":\"195-154-141-4.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"},{\"id\":\"908ab944-4484-4620-91d6-2dd3ea471f55\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"updated_at\":\"2025-09-23T09:45:52.574301Z\",\"created_at\":\"2024-08-28T11:35:04.457912Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.5\",\"server_id\":null,\"reverse\":\"195-154-141-5.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 693.51524ms
[...]
- id: 48
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/908ab944-4484-4620-91d6-2dd3ea471f55
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 29.25903ms
[...]
