---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.457912Z","description":"","id":"908ab944-4484-4620-91d6-2dd3ea471f55","ip_address":"195.154.141.5","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-5.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.809451899Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.12075ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/908ab944-4484-4620-91d6-2dd3ea471f55
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:04.457912Z","description":"","id":"908ab944-4484-4620-91d6-2dd3ea471f55","ip_address":"195.154.141.5","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-5.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.809452Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.384083ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
        method: GET
      response:
        body: '{"flexible_ips":[{"created_at":"2023-01-31T16:30:54.017824Z","description":"","id":"08291ceb-c760-471b-8251-2dd081b86431","ip_address":"2001:bc8:702:6b7::/64","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"2001-bc8-702-6b7--.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.990337Z","zone":"fr-par-1"},{"created_at":"2024-08-28T11:35:04.444749Z","description":"","id":"cbae[...]
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/7230b0da-93e7-4686-b597-d61531c20c1d
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 25.156292ms
[...]
