---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"attached to ip01\",\"tags\":[],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"cbae8f23-b847-47cc-a047-b93d6bfc296b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"attached to ip01\",\"updated_at\":\"2025-08-26T16:26:00.022684232Z\",\"created_at\":\"2024-08-28T11:35:04.444749Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.4\",\"server_id\":null,\"reverse\":\"195-154-141-4.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 352.499195ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/908ab944-4484-4620-91d6-2dd3ea471f55
    method: GET
  response:
    body: "{\"id\":\"908ab944-4484-4620-91d6-2dd3ea471f55\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"not attached to ip02\",\"updated_at\":\"2025-08-26T16:26:00.091045Z\",\"created_at\":\"2024-08-28T11:35:04.457912Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.5\",\"server_id\":null,\"reverse\":\"195-154-141-5.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 77.061781ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"mac_type\":\"kvm\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/cbae8f23-b847-47cc-a047-b93d6bfc296b/mac
    method: POST
  response:
    body: "{\"id\":\"cbae8f23-b847-47cc-a047-b93d6bfc296b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"attached to ip01\",\"updated_at\":\"2025-08-26T16:26:01.023189582Z\",\"created_at\":\"2024-08-28T11:35:04.444749Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.4\",\"server_id\":null,\"reverse\":\"195-154-141-4.rev.poneytelecom.eu.\",\"mac_address\":{\"id\":\"3b9e1a7e-53e3-4d69-b4b7-b79a3002f58c\",\"mac_address\":\"52:54:00:1d:65:6b\",\"mac_type\":\"kvm\",\"status\":\"ready\",\"updated_at\":\"2025-08-26T16:26:01.021457762Z\",\"created_at\":\"2025-08-26T16:26:01.018995714Z\",\"zone\":\"fr-par-1\"},\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 154.901607ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    body: "{\"dst_fip_id\":\"908ab944-4484-4620-91d6-2dd3ea471f55\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/cbae8f23-b847-47cc-a047-b93d6bfc296b/mac/move
    method: POST
  response:
    body: "{\"id\":\"908ab944-4484-4620-91d6-2dd3ea471f55\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"attached to ip02\",\"updated_at\":\"2025-08-26T16:26:21.237615363Z\",\"created_at\":\"2024-08-28T11:35:04.457912Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.5\",\"server_id\":null,\"reverse\":\"195-154-141-5.rev.poneytelecom.eu.\",\"mac_address\":{\"id\":\"3b9e1a7e-53e3-4d69-b4b7-b79a3002f58c\",\"mac_address\":\"52:54:00:1d:65:6b\",\"mac_type\":\"kvm\",\"status\":\"ready\",\"updated_at\":\"2025-08-26T16:26:21.235929311Z\",\"created_at\":\"2025-08-26T16:26:01.018996Z\",\"zone\":\"fr-par-1\"},\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 252.420283ms
[...]
- id: 52
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/3b9e1a7e-53e3-4d69-b4b7-b79a3002f58c/mac
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"flexible_ips\",\"resource_id\":\"3b9e1a7e-53e3-4d69-b4b7-b79a3002f58c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 74.193205ms
[...]
- id: 55
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/cbae8f23-b847-47cc-a047-b93d6bfc296b
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 84.96725ms
[...]
