---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.490566Z","description":"","id":"9c2ce988-f1d9-451d-992b-42e11f561c81","ip_address":"195.154.141.8","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-8.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.991952796Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.508958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/9c2ce988-f1d9-451d-992b-42e11f561c81
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:04.490566Z","description":"","id":"9c2ce988-f1d9-451d-992b-42e11f561c81","ip_address":"195.154.141.8","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-8.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.991953Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.013583ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"mac_type":"kvm"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/9c2ce988-f1d9-451d-992b-42e11f561c81/mac
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.490566Z","description":"","id":"9c2ce988-f1d9-451d-992b-42e11f561c81","ip_address":"195.154.141.8","mac_address":{"created_at":"2025-01-22T15:17:32.349687057Z","id":"7795948d-beaf-4d74-92ed-753028db217d","mac_address":"52:54:00:5b:24:ab","mac_type":"kvm","status":"ready","updated_at":"2025-01-22T15:17:32.353841962Z","zone":"fr-par-1"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-8.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:32.356035552Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.08525ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/7795948d-beaf-4d74-92ed-753028db217d/mac
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"flexible_ips","resource_id":"7795948d-beaf-4d74-92ed-753028db217d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.983917ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/9c2ce988-f1d9-451d-992b-42e11f561c81
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 29.48525ms
[...]
