---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"not
      attached to ip02","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"not attached
      to ip02","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T09:34:19.479522646Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/504345eb-00d7-4162-a92b-e69beb30eb5e
    method: GET
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"not attached
      to ip02","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T09:34:19.479523Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"mac_type":"kvm"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/4e673cfd-4848-4bb6-a5f6-964af9077617/mac
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.640527Z","description":"attached to
      ip01","id":"4e673cfd-4848-4bb6-a5f6-964af9077617","ip_address":"51.159.124.65","mac_address":{"created_at":"2023-08-11T09:34:19.798125977Z","id":"84e15383-2920-414d-a4d0-fb5b78ebcaec","mac_address":"52:54:00:15:ef:a1","mac_type":"kvm","status":"ready","updated_at":"2023-08-11T09:34:19.800783546Z","zone":"fr-par-1"},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-65.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T09:34:19.803837644Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"dst_fip_id":"504345eb-00d7-4162-a92b-e69beb30eb5e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/4e673cfd-4848-4bb6-a5f6-964af9077617/mac/move
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"attached to
      ip02","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":{"created_at":"2023-08-11T09:34:19.798126Z","id":"84e15383-2920-414d-a4d0-fb5b78ebcaec","mac_address":"52:54:00:15:ef:a1","mac_type":"kvm","status":"ready","updated_at":"2023-08-11T09:34:21.890964951Z","zone":"fr-par-1"},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T09:34:21.893756011Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/84e15383-2920-414d-a4d0-fb5b78ebcaec/mac
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"flexible_ips","resource_id":"84e15383-2920-414d-a4d0-fb5b78ebcaec","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/4e673cfd-4848-4bb6-a5f6-964af9077617
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
[...]
