---
version: 2
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2023-11-09T14:19:39.092872Z","description":"","id":"a1f61b34-39bb-4b0c-8635-cf5c732ff7bf","ip_address":"62.210.142.200","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-200.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:00.848481088Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a1f61b34-39bb-4b0c-8635-cf5c732ff7bf
    method: GET
  response:
    body: '{"created_at":"2023-11-09T14:19:39.092872Z","description":"","id":"a1f61b34-39bb-4b0c-8635-cf5c732ff7bf","ip_address":"62.210.142.200","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-200.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:00.848481Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a1f61b34-39bb-4b0c-8635-cf5c732ff7bf
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips
    method: POST
  response:
    body: '{"created_at":"2023-10-12T13:29:45.175165Z","description":"","id":"50b8fb05-be63-4b2f-84a3-1524c10d8b0d","ip_address":"51.158.212.134","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"51-158-212-134.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:05.217277268Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips/50b8fb05-be63-4b2f-84a3-1524c10d8b0d
    method: GET
  response:
    body: '{"created_at":"2023-10-12T13:29:45.175165Z","description":"","id":"50b8fb05-be63-4b2f-84a3-1524c10d8b0d","ip_address":"51.158.212.134","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"51-158-212-134.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:05.217277Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
