---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"7230b0da-93e7-4686-b597-d61531c20c1d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:00.161352590Z\",\"created_at\":\"2024-08-28T11:35:04.469734Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.6\",\"server_id\":null,\"reverse\":\"195-154-141-6.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 258.9415ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/7230b0da-93e7-4686-b597-d61531c20c1d
    method: GET
  response:
    body: "{\"id\":\"7230b0da-93e7-4686-b597-d61531c20c1d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:00.161353Z\",\"created_at\":\"2024-08-28T11:35:04.469734Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.6\",\"server_id\":null,\"reverse\":\"195-154-141-6.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.401504ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
    method: GET
  response:
    body: "{\"total_count\":21,\"os\":[{\"id\":\"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d\",\"name\":\"Custom install\",\"version\":\"via Remote access\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg\",\"ssh\":{\"editable\":false,\"required\":false,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"root\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":false},{\"id\":\"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a\",\"name\":\"Ubuntu\",\"version\":\"24.04 LTS (Noble Numbat)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"se[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      subscription_period:
      - unknown_subscription_period
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: "{\"total_count\":26,\"offers\":[{\"id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"name\":\"EM-A115X-SSD\",\"stock\":\"available\",\"bandwidth\":500000000,\"max_bandwidth\":1000000000,\"commercial_range\":\"aluminium\",\"disks\":[{\"capacity\":1024209543168,\"type\":\"SSD\"},{\"capacity\":1024209543168,\"type\":\"SSD\"}],\"enable\":true,\"cpus\":[{\"name\":\"Intel Xeon E3 1220 or equivalent\",\"core_count\":4,\"thread_count\":4,\"frequency\":3100,\"benchmark\":\"3895\"}],\"memories\":[{\"capacity\":32000000000,\"type\":\"DDR3\",\"frequency\":1600,\"is_ecc\":true}],\"quota_name\":\"EM_A115X_SSD\",\"price_per_hour\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":91000000},\"price_per_month\":null,\"persistent_memories\":[],\"raid_controllers\":[],\"incompatible_os_ids\":[\"a5c00c1b-95b1-4c08-8a33-79cc079f9dac\",\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\",\"3422ae02-d6d7-4980-8a00-eb38c262fb41\",\"69e740ab-9f0e-4107-8516-16470000729c\",\"93fb3e11-e02e-47d9-aa3a-f77a2f7a7129\",\"2e06fa49-4677-4bd7-8bf5-b1c490d8a966\",\"7e865c16-1a63-4dc7-8181-dabc020fc21b\",\"1c376d8a-f237-438d-9cd9-47902050ffd3\",\"fd771862-4b75-46a7-ab42-73c46c0ac2db\",\"a5cec64e-d7b0-4c6e-a819-60139d30a76c\",\"4aff4d9d-b1f4-44b0-ab6f-e4711ac11711\",\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"847bb37a-dc13-4536-9f07-023d38dba98d\",\"b4816d13-8585-4005-a7c7-54a031dd933b\",\"bd17a2bb-e686-486a-aacf-44fa8ce6e553\",\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\",\"bc7e4ca2-bf32-407f-a04b-72ad6455beb2\",\"6aa3f876-1c83-4434-8cc4-a2dbc94216db\",\"fa29896b-6b49-468d-a787-966559a55c12\",\"7fb86682-316e-4f6e-a845-de9b230cdd29\"],\"subscription_period\":\"hourly\",\"operation_path\":\"\",\"fee\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":0},\"options\":[{\"id\":\"83a8fb91-47b4-4c20-82f9-84c31d79bfd8\",\"name\":\"Windows 2022 standard\",\"price\":{\"currency_code\":\"EUR\",\"units\":25,\"nanos\":200000000},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\",\"license\":{\"os_id\":\"bf705b90-1548-4368-98ca-d17dbd8dd860\"}},{\"id\":\"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb\",\"name\":\"Public Bandwidth 1Gbps\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":28000000},\"enabled\":false,\"subscription_period\":\"hourly\",\"manageable\":true,\"os_id\":\"00000000-0000-0000-0000-000000000000\",\"public_bandwidth\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"f74a6322-070e-41dd-a13f-8165ea63aca8\",\"name\":\"Windows 2019 datacenter\",\"price\":{\"currency_code\":\"EUR\",\"units\":168,\"nanos\":0},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\",\"license\":{\"os_id\":\"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a\"}},{\"id\":\"cd4158d7-2d65-49be-8803-c4b8ab6f760c\",\"name\":\"Private Network\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":30000000},\"enabled\":false,\"subscription_period\":\"hourly\",\"manageable\":true,\"os_id\":\"00000000-0000-0000-0000-000000000000\",\"private_network\":{\"bandwidth_in_bps\":1000000000}},{\"id\":\"931df052-d713-4674-8b58-96a63244c8e2\",\"name\":\"Remote Access\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":990000000},\"enabled\":false,\"subscription_period\":\"hourly\",\"manageable\":true,\"os_id\":\"00000000-0000-0000-0000-000000000000\",\"remote_access\":{}},{\"id\":\"c498071f-4f8d-49f3-bc52-afc219a48fe0\",\"name\":\"Windows 2022 datacenter\",\"price\":{\"currency_code\":\"EUR\",\"units\":168,\"nanos\":0},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"3422ae02-d6d7-4980-8a00-eb38c262fb41\",\"license\":{\"os_id\":\"3422ae02-d6d7-4980-8a00-eb38c262fb41\"}},{\"id\":\"f42a040b-6c91-4b11-beb0-b0b21e641fda\",\"name\":\"Windows 2019 standard\",\"price\":{\"currency_code\":\"EUR\",\"units\":25,\"nanos\":200000000},\"enabled\":false,\"subscription_period\":\"monthly\",\"manageable\":false,\"os_id\":\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\",\"license\":{\"os_id\":\"7c70ff80-dbfa-4e07-be73-1de0e60fe175\"}}],\"private_bandwidth\":1000000000,\"shared_bandwidth\":true,\"tags\":[\"install-system-v2\"],\"gpus\":[],\"monthly_offer_id\":\"f1322af3-53dd-473b-8749-83661fbb73d8\"},{\"id\":\"e1680dec-52aa-4cbc-b70c-ef32d863fdb0\",\"name\":\"EM-A610R-NVME\",\"stock\":\"empty\",\"bandwidth\":500000000,\"max_bandwidth\":1000000000,\"commercial_range\":\"aluminium\",\"disks\":[{\"capacity\":1024209543168,\"type\":\"NVMe\"},{\"capacity\":1024209543168,\"type\":\"NVMe\"}],\"enable\":true,\"cpus\":[{\"name\":\"AMD Ryzen PRO 3600\",\"core_count\":6,\"thread_count\":12,\"frequency\":3600,\"benchmark\":\"17202\"}],\"memories\":[{\"capacity\"[...]
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"4b86729b-e0fe-4fb9-95b5-438573b88c78\",\"name\":\"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:26:26.902156Z\",\"updated_at\":\"2025-08-26T16:26:26.902156Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 539.57186ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/7230b0da-93e7-4686-b597-d61531c20c1d
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 173.149055ms
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/4b86729b-e0fe-4fb9-95b5-438573b88c78
    method: GET
  response:
    body: "{\"id\":\"4b86729b-e0fe-4fb9-95b5-438573b88c78\",\"name\":\"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH\",\"fingerprint\":\"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)\",\"created_at\":\"2025-08-26T16:26:26.902156Z\",\"updated_at\":\"2025-08-26T16:26:26.902156Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 227.715108ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: "{\"id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"name\":\"Ubuntu\",\"version\":\"22.04 LTS (Jammy Jellyfish)\",\"logo_url\":\"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png\",\"ssh\":{\"editable\":false,\"required\":true,\"default_value\":null},\"user\":{\"editable\":false,\"required\":false,\"default_value\":\"ubuntu\"},\"password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_user\":{\"editable\":false,\"required\":false,\"default_value\":null},\"service_password\":{\"editable\":false,\"required\":false,\"default_value\":null},\"enabled\":true,\"license_required\":false,\"allowed\":true,\"custom_partitioning_supported\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.653891144s
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer\",\"description\":\"\",\"tags\":[],\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"4b86729b-e0fe-4fb9-95b5-438573b88c78\"],\"user\":null,\"password\":null,\"service_user\":null,\"service_password\":null,\"partitioning_schema\":{\"disks\":null,\"raids\":null,\"filesystems\":null,\"zfs\":null}},\"option_ids\":null,\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"id\":\"11774bf6-351a-4987-9e32-4cc0d4def7fe\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:30.537982Z\",\"created_at\":\"2025-08-26T16:26:30.537982Z\",\"status\":\"delivering\",\"offer_id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"install\":{\"os_id\":\"96e5f0f2-d216-4de2-8a15-68730d877885\",\"hostname\":\"\",\"ssh_key_ids\":[\"4b86729b-e0fe-4fb9-95b5-438573b88c78\"],\"status\":\"to_install\",\"user\":\"ubuntu\",\"service_user\":\"\",\"service_url\":\"\",\"partitioning_schema\":{\"disks\":[{\"device\":\"/dev/sda\",\"partitions\":[{\"label\":\"legacy\",\"number\":1,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"swap\",\"number\":2,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":3,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":4,\"size\":994630959104,\"use_all_available_space\":false}]},{\"device\":\"/dev/sdb\",\"partitions\":[{\"label\":\"swap\",\"number\":1,\"size\":4294967296,\"use_all_available_space\":false},{\"label\":\"boot\",\"number\":2,\"size\":536870912,\"use_all_available_space\":false},{\"label\":\"root\",\"number\":3,\"size\":994630959104,\"use_all_available_space\":false}]}],\"raids\":[{\"name\":\"/dev/md0\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/sda3\",\"/dev/sdb2\"]},{\"name\":\"/dev/md1\",\"level\":\"raid_level_1\",\"devices\":[\"/dev/sda4\",\"/dev/sdb3\"]}],\"filesystems\":[{\"device\":\"/dev/md0\",\"format\":\"ext4\",\"mountpoint\":\"/boot\"},{\"device\":\"/dev/md1\",\"format\":\"ext4\",\"mountpoint\":\"/\"}],\"zfs\":{\"pools\":[]}}},\"tags\":[],\"ips\":[],\"domain\":\"\",\"boot_type\":\"normal\",\"ping_status\":\"ping_status_unknown\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"options\":[],\"offer_name\":\"EM-A115X-SSD\",\"rescue_server\":null,\"protected\":false,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 502.840408ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/11774bf6-351a-4987-9e32-4cc0d4def7fe
    method: GET
  response:
    body: "{\"id\":\"11774bf6-351a-4987-9e32-4cc0d4def7fe\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:30.537982Z\",\"created_at\":\"2025-08-26T16:26:30.53798[...]
[...]
- id: 89
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/f7241870-c383-4fa2-bbca-5189600df5c4
    method: GET
  response:
    body: "{\"id\":\"f7241870-c383-4fa2-bbca-5189600df5c4\",\"name\":\"EM-A115X-SSD\",\"stock\":\"available\",\"bandwidth\":500000000,\"max_bandwidth\":1000000000,\"commercial_range\":\"aluminium\",\"disks\":[{\"capacity\":1024209543168,\"type\":\"SSD\"},{\"capacity\":1024209543168,\"type\":\"SSD\"}],\"en[...]
[...]
- id: 91
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      server_id:
      - 11774bf6-351a-4987-9e32-4cc0d4def7fe
    headers:
    url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=11774bf6-351a-4987-9e32-4cc0d4def7fe
    method: GET
  response:
    body: "{\"server_private_networks\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.230722ms
[...]
