---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.480578Z","description":"","id":"8a874ce8-342f-4f74-94bc-2b0b332200d7","ip_address":"195.154.141.7","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-7.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.931613007Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.165125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/8a874ce8-342f-4f74-94bc-2b0b332200d7
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:04.480578Z","description":"","id":"8a874ce8-342f-4f74-94bc-2b0b332200d7","ip_address":"195.154.141.7","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-7.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.931613Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.944958ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/8a874ce8-342f-4f74-94bc-2b0b332200d7
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 25.372792ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-09-16T14:24:23.720431Z","description":"","id":"941a4076-4190-4385-bde7-e58812790290","ip_address":"51.159.225.9","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"51-159-225-9.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:36.198115325Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.171333ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips/941a4076-4190-4385-bde7-e58812790290
        method: GET
      response:
        body: '{"created_at":"2024-09-16T14:24:23.720431Z","description":"","id":"941a4076-4190-4385-bde7-e58812790290","ip_address":"51.159.225.9","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"51-159-225-9.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:36.198115Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.215167ms
[...]
