---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:44.506010Z","description":"","id":"8de04217-bedf-476f-9a55-e59514e6e321","ip_address":"195.154.148.228","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"195-154-148-228.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-10-15T14:08:28.315529721Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.809638ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/8de04217-bedf-476f-9a55-e59514e6e321
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:44.506010Z","description":"","id":"8de04217-bedf-476f-9a55-e59514e6e321","ip_address":"195.154.148.228","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"195-154-148-228.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-10-15T14:08:28.315530Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.882833ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
        method: GET
      response:
        body: '{"os":[{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/custom.svg","name":"Custom install","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":false},"user":{"default_value":"root","editable":false,"required":false},"version":"via Remote access"},{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"7d1914e1-f4ab-47fc-bd8c-b3a23143e87a","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"edit[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["bf705b90-1548-4368-98ca-d17dbd8dd860","6aa3f876-1c83-4434-8cc4-a2dbc94216db","fa29896b-6b49-468d-a787-966559a55c12","7fb86682-316e-4f6e-a845-de9b230cdd29","3422ae02-d6d7-4980-8a00-eb38c262fb41","fd771862-4b75-46a7-ab42-73c46c0ac2db","bd17a2bb-e686-486a-aacf-44fa8ce6e553","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","1c376d8a-f237-438d-9cd9-47902050ffd3","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","7e865c16-1a63-4dc7-8181-dabc020fc21b","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","b4816d13-8585-4005-a7c7-54a031dd933b","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","847bb37a-dc13-4536-9f07-023d38dba98d","69e740ab-9f0e-4107-8516-16470000729c","2e06fa49-4677-4bd7-8bf5-b1c490d8a966"],"max_bandwidth":1000000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"},"manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},"manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"remote_access":{},"subscription_period":"hourly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","license":{"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"},"manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"private_network":{},"subscription_period":"hourly"},{"enabled":false,"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","manageable":true,"name":"Public Bandwidth 1Gbps","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":28000000,"units":0},"public_bandwidth":{"bandwidth_in_bps":1000000000},"subscription_period":"hourly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"},"manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":91000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":["install-system-v2"]},{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","69e740a[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/8de04217-bedf-476f-9a55-e59514e6e321
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 24.014129ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2024-10-15T14:08:30.718510Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"ae894450-7dff-4da5-be92-51dc586a4ec5","name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-10-15T14:08:30.718510Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 591.915009ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/ae894450-7dff-4da5-be92-51dc586a4ec5
        method: GET
      response:
        body: '{"created_at":"2024-10-15T14:08:30.718510Z","disabled":false,"fingerprint":"256 MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 (ssh-ed25519)","id":"ae894450-7dff-4da5-be92-51dc586a4ec5","name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH","updated_at":"2024-10-15T14:08:30.718510Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.974726ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/96e5f0f2-d216-4de2-8a15-68730d877885
        method: GET
      response:
        body: '{"allowed":true,"custom_partitioning_supported":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04 LTS (Jammy Jellyfish)"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.120327ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","description":"","tags":[],"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-15T14:08:31.731777Z","description":"","domain":"","id":"fe2a3753-9b38-4f4d-bfcd-0c4e96627182","install":null,"ips":[],"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-10-15T14:08:31.731777Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.012987ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/fe2a3753-9b38-4f4d-bfcd-0c4e96627182
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-15T14:08:31.731777Z","description":"","domain":"","id":"fe2a3753-9b38-4f4d-bfcd-0c4e96627182","install":null,"ips":[{"address":"62.210.88.36","id":"4dac0fb1-026e-4c39-a198-7c1cda7cc4a5","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"},{"address":"2001:bc8:701:0:d6ae:52ff:fed0:3e6a","id":"d5df999f-b16f-4133-9a77-74390128085c","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-10-15T14:08:31.801201Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.099599ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","ssh_key_ids":["ae894450-7dff-4da5-be92-51dc586a4ec5"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/fe2a3753-9b38-4f4d-bfcd-0c4e96627182/install
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-10-15T14:08:31.731777Z","description":"","domain":"","id":"fe2a3753-9b38-4f4d-bfcd-0c4e96627182","install":{"hostname":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","partitioning_schema":{"disks":[{"device":"/dev/sda","partitions":[{"label":"legacy","number":1,"size":536870912},{"label":"swap","number":2,"size":4294967296},{"label":"boot","number":3,"size":536870912},{"label":"root","number":4,"size":994630959104}]},{"device":"/dev/sdb","partitions":[{"label":"swap","number":1,"size":4294967296},{"label":"boot","number":2,"size":536870912},{"label":"root","number":3,"size":994630959104}]}],"filesystems":[{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"raids":[{"devices":["/dev/sda3","/dev/sdb2"],"level":"raid_level_1","name":"/dev/md0"},{"devices":["/dev/sda4","/dev/sdb3"],"level":"raid_level_1","name":"/dev/md1"}],"zfs":{"pools":[]}},"service_url":"","service_user":"","ssh_key_ids":["ae894450-7dff-4da5-be92-51dc586a4ec5"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"62.210.88.36","id":"4dac0fb1-026e-4c39-a198-7c1cda7cc4a5","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"},{"address":"2001:bc8:701:0:d6ae:52ff:fed0:3e6a","id":"d5df999f-b16f-4133-9a77-74390128085c","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-10-15T14:08:31.885012Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.893145ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/f7241870-c383-4fa2-bbca-5189600df5c4
        method: GET
      response:
        body: '{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1024209543168,"type":"SSD"},{"capacit[...]
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v3/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=fe2a3753-9b38-4f4d-bfcd-0c4e96627182
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.972067ms
[...]
