---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"attached to ip01","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.525188Z","description":"attached to ip01","id":"a9025cf6-5019-4f14-904f-2cab52568002","ip_address":"195.154.141.11","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-11.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:32.238023157Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.787875ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a9025cf6-5019-4f14-904f-2cab52568002
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:04.525188Z","description":"attached to ip01","id":"a9025cf6-5019-4f14-904f-2cab52568002","ip_address":"195.154.141.11","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-11.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:32.238023Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.89125ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"mac_type":"kvm"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a9025cf6-5019-4f14-904f-2cab52568002/mac
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.525188Z","description":"attached to ip01","id":"a9025cf6-5019-4f14-904f-2cab52568002","ip_address":"195.154.141.11","mac_address":{"created_at":"2025-01-22T15:17:32.579072647Z","id":"8673f423-3351-4e4c-aa31-a9136a26035b","mac_address":"52:54:00:22:97:79","mac_type":"kvm","status":"ready","updated_at":"2025-01-22T15:17:32.581872100Z","zone":"fr-par-1"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-11.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:32.583440949Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.996083ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"dst_fip_id":"a4b53c73-04aa-4364-a7ba-d91eafc1c872"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a9025cf6-5019-4f14-904f-2cab52568002/mac/move
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:42.263979Z","description":"attached to ip02","id":"a4b53c73-04aa-4364-a7ba-d91eafc1c872","ip_address":"195.154.148.37","mac_address":{"created_at":"2025-01-22T15:17:32.579073Z","id":"8673f423-3351-4e4c-aa31-a9136a26035b","mac_address":"52:54:00:22:97:79","mac_type":"kvm","status":"ready","updated_at":"2025-01-22T15:17:37.379362550Z","zone":"fr-par-1"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-148-37.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:37.381557198Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.634333ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/8673f423-3351-4e4c-aa31-a9136a26035b/mac
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"flexible_ips","resource_id":"8673f423-3351-4e4c-aa31-a9136a26035b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.370958ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a9025cf6-5019-4f14-904f-2cab52568002
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 25.130959ms
[...]
