---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[],\"is_ipv6\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"08291ceb-c760-471b-8251-2dd081b86431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:02.493335987Z\",\"created_at\":\"2023-01-31T16:30:54.017824Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"2001:bc8:702:6b7::/64\",\"server_id\":null,\"reverse\":\"2001-bc8-702-6b7--.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 194.012083ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/08291ceb-c760-471b-8251-2dd081b86431
    method: GET
  response:
    body: "{\"id\":\"08291ceb-c760-471b-8251-2dd081b86431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:02.493336Z\",\"created_at\":\"2023-01-31T16:30:54.017824Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"2001:bc8:702:6b7::/64\",\"server_id\":null,\"reverse\":\"2001-bc8-702-6b7--.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 238.202245ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/08291ceb-c760-471b-8251-2dd081b86431
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 43.652597ms
[...]
