---
version: 2
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2023-01-31T16:30:54.017824Z","description":"","id":"08291ceb-c760-471b-8251-2dd081b86431","ip_address":"2001:bc8:702:6b7::/64","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"2001-bc8-702-6b7--.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:00.849260647Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/08291ceb-c760-471b-8251-2dd081b86431
    method: GET
  response:
    body: '{"created_at":"2023-01-31T16:30:54.017824Z","description":"","id":"08291ceb-c760-471b-8251-2dd081b86431","ip_address":"2001:bc8:702:6b7::/64","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"2001-bc8-702-6b7--.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:00.849261Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/08291ceb-c760-471b-8251-2dd081b86431
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
[...]
