---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2023-11-09T14:19:40.904085Z","description":"","id":"705a0823-c7a6-4ea0-8876-96bf6b09bc97","ip_address":"62.210.143.108","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-143-108.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2026-08-24T12:27:43.098059810Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.704884ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.94753ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/705a0823-c7a6-4ea0-8876-96bf6b09bc97
        method: GET
      response:
        body: '{"created_at":"2023-11-09T14:19:40.904085Z","description":"","id":"705a0823-c7a6-4ea0-8876-96bf6b09bc97","ip_address":"62.210.143.108","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-143-108.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2026-08-24T12:27:43.098060Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.238717ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/705a0823-c7a6-4ea0-8876-96bf6b09bc97
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 56.507116ms
[...]
