---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"8a874ce8-342f-4f74-94bc-2b0b332200d7\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:00.660285345Z\",\"created_at\":\"2024-08-28T11:35:04.480578Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.7\",\"server_id\":null,\"reverse\":\"195-154-141-7.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 269.685662ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/8a874ce8-342f-4f74-94bc-2b0b332200d7
    method: GET
  response:
    body: "{\"id\":\"8a874ce8-342f-4f74-94bc-2b0b332200d7\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:00.660285Z\",\"created_at\":\"2024-08-28T11:35:04.480578Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.7\",\"server_id\":null,\"reverse\":\"195-154-141-7.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.014504ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/8a874ce8-342f-4f74-94bc-2b0b332200d7
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 104.370225ms
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips
    method: POST
  response:
    body: "{\"id\":\"941a4076-4190-4385-bde7-e58812790290\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:19.297065084Z\",\"created_at\":\"2024-09-16T14:24:23.720431Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"51.159.225.9\",\"server_id\":null,\"reverse\":\"51-159-225-9.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 356.209656ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips/941a4076-4190-4385-bde7-e58812790290
    method: GET
  response:
    body: "{\"id\":\"941a4076-4190-4385-bde7-e58812790290\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:19.297065Z\",\"created_at\":\"2024-09-16T14:24:23.720431Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"51.159.225.9\",\"server_id\":null,\"reverse\":\"51-159-225-9.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.515835ms
[...]
