---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"tags\":[],\"is_ipv6\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: "{\"id\":\"9c2ce988-f1d9-451d-992b-42e11f561c81\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:00.722899655Z\",\"created_at\":\"2024-08-28T11:35:04.490566Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.8\",\"server_id\":null,\"reverse\":\"195-154-141-8.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 206.273243ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/9c2ce988-f1d9-451d-992b-42e11f561c81
    method: GET
  response:
    body: "{\"id\":\"9c2ce988-f1d9-451d-992b-42e11f561c81\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:00.722900Z\",\"created_at\":\"2024-08-28T11:35:04.490566Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.8\",\"server_id\":null,\"reverse\":\"195-154-141-8.rev.poneytelecom.eu.\",\"mac_address\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.53447ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"mac_type\":\"kvm\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/9c2ce988-f1d9-451d-992b-42e11f561c81/mac
    method: POST
  response:
    body: "{\"id\":\"9c2ce988-f1d9-451d-992b-42e11f561c81\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"\",\"updated_at\":\"2025-08-26T16:26:01.544994670Z\",\"created_at\":\"2024-08-28T11:35:04.490566Z\",\"status\":\"ready\",\"tags\":[],\"ip_address\":\"195.154.141.8\",\"server_id\":null,\"reverse\":\"195-154-141-8.rev.poneytelecom.eu.\",\"mac_address\":{\"id\":\"e3e117d7-1c64-4a10-a3a0-1bd959c3caed\",\"mac_address\":\"52:54:00:08:22:bf\",\"mac_type\":\"kvm\",\"status\":\"ready\",\"updated_at\":\"2025-08-26T16:26:01.542510440Z\",\"created_at\":\"2025-08-26T16:26:01.537950591Z\",\"zone\":\"fr-par-1\"},\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 206.432401ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/e3e117d7-1c64-4a10-a3a0-1bd959c3caed/mac
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"flexible_ips\",\"resource_id\":\"e3e117d7-1c64-4a10-a3a0-1bd959c3caed\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 84.309181ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/9c2ce988-f1d9-451d-992b-42e11f561c81
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"flexible-ip\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 135.91854ms
[...]
