---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"offers":[{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity":1000000000000,"type":"SSD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"f7241870-c383-4fa2-bbca-5189600df5c4","incompatible_os_ids":["4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","bf705b90-1548-4368-98ca-d17dbd8dd860","fd771862-4b75-46a7-ab42-73c46c0ac2db","bd17a2bb-e686-486a-aacf-44fa8ce6e553","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","7e865c16-1a63-4dc7-8181-dabc020fc21b","b4816d13-8585-4005-a7c7-54a031dd933b","3422ae02-d6d7-4980-8a00-eb38c262fb41","847bb37a-dc13-4536-9f07-023d38dba98d","1c376d8a-f237-438d-9cd9-47902050ffd3","7fb86682-316e-4f6e-a845-de9b230cdd29"],"max_bandwidth":500000000,"memories":[{"capacity":32000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-A115X-SSD","operation_path":"","options":[{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows 2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows 2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows 2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows 2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote Access","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":990000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":91000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A115X_SSD","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["3422ae02-d6d7-4980-8a00-eb38c262fb41","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","01d6eef6-6b96-47fd-b9f9-3857321abe4f"[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","description":"","tags":[],"option_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-30T07:54:54.223304Z","description":"","domain":"","id":"d8ef1637-83bd-4f32-ab80-b55615dc7ea8","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-05-30T07:54:54.223304Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.663139ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/d8ef1637-83bd-4f32-ab80-b55615dc7ea8
        method: GET
      response:
        body: '{"boot_type":"normal","created_at":"2024-05-30T07:54:54.223304Z","description":"","domain":"","id":"d8ef1637-83bd-4f32-ab80-b55615dc7ea8","install":null,"ips":[{"address":"62.210.94.167","id":"2174d65a-c16b-4622-8881-5e4ed6ab13cd","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv4"},{"address":"2001:bc8:701:36:d6ae:52ff:fecc:808","id":"ae354bf6-129f-42fc-b937-90a0f48de37c","reverse":"","reverse_status":"unknown","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","offer_id":"f7241870-c383-4fa2-bbca-5189600df5c4","offer_name":"EM-A115X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-05-30T07:54:54.329218Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.402632ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/f7241870-c383-4fa2-bbca-5189600df5c4
        method: GET
      response:
        body: '{"bandwidth":500000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":4,"frequency":3100,"name":"Intel Xeon E3 1220 or equivalent","thread_count":4}],"disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=d8ef1637-83bd-4f32-ab80-b55615dc7ea8
        method: GET
      response:
        body: '{"server_private_networks":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.894107ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"attached to ip01","tags":[],"server_id":"d8ef1637-83bd-4f32-ab80-b55615dc7ea8","is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-05-24T12:47:47.081509Z","description":"attached to ip01","id":"f76723b1-dd04-4239-93c4-e79752054a7b","ip_address":"62.210.157.48","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-48.rev.poneytelecom.eu.","server_id":null,"status":"updating","tags":[],"updated_at":"2024-05-30T07:54:55.347280791Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 364.522605ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/f76723b1-dd04-4239-93c4-e79752054a7b
        method: GET
      response:
        body: '{"created_at":"2024-05-24T12:47:47.081509Z","description":"attached to ip01","id":"f76723b1-dd04-4239-93c4-e79752054a7b","ip_address":"62.210.157.48","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-48.rev.poneytelecom.eu.","server_id":null,"status":"updating","tags":[],"updated_at":"2024-05-30T07:54:55.347281Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.796495ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"mac_type":"kvm"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/f76723b1-dd04-4239-93c4-e79752054a7b/mac
        method: POST
      response:
        body: '{"created_at":"2024-05-24T12:47:47.081509Z","description":"attached to ip01","id":"f76723b1-dd04-4239-93c4-e79752054a7b","ip_address":"62.210.157.48","mac_address":{"created_at":"2024-05-30T07:55:05.915263053Z","id":"faa161b0-5fe0-49a1-a635-8d1516e07f45","mac_address":"52:54:00:0f:fc:b5","mac_type":"kvm","status":"updating","updated_at":"2024-05-30T07:55:05.939026150Z","zone":"fr-par-1"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-48.rev.poneytelecom.eu.","server_id":"d8ef1637-83bd-4f32-ab80-b55615dc7ea8","status":"updating","tags":[],"updated_at":"2024-05-30T07:55:05.940516608Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.957524ms
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: '{"duplicate_from_fip_id":"f76723b1-dd04-4239-93c4-e79752054a7b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/292f3804-a631-41a2-a098-20a1040d5720/mac/duplicate
        method: POST
      response:
        body: '{"created_at":"2024-05-24T12:47:47.091424Z","description":"attached to ip03","id":"292f3804-a631-41a2-a098-20a1040d5720","ip_address":"62.210.157.49","mac_address":{"created_at":"2024-05-30T07:55:05.915263Z","id":"faa161b0-5fe0-49a1-a635-8d1516e07f45","mac_address":"52:54:00:0f:fc:b5","mac_type":"kvm","status":"updating","updated_at":"2024-05-30T07:55:36.191653827Z","zone":"fr-par-1"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-49.rev.poneytelecom.eu.","server_id":"d8ef1637-83bd-4f32-ab80-b55615dc7ea8","status":"updating","tags":[],"updated_at":"2024-05-30T07:55:36.193911477Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.48472ms
[...]
    - id: 107
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/faa161b0-5fe0-49a1-a635-8d1516e07f45/mac
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"flexible_ips","resource_id":"faa161b0-5fe0-49a1-a635-8d1516e07f45","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.555802ms
[...]
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/292f3804-a631-41a2-a098-20a1040d5720
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 45.22252ms
[...]
