---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"attached to ip01","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-05-24T12:47:47.081509Z","description":"attached to ip01","id":"f76723b1-dd04-4239-93c4-e79752054a7b","ip_address":"62.210.157.48","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-48.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-05-30T07:51:05.156982863Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 869.092687ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/f76723b1-dd04-4239-93c4-e79752054a7b
        method: GET
      response:
        body: '{"created_at":"2024-05-24T12:47:47.081509Z","description":"attached to ip01","id":"f76723b1-dd04-4239-93c4-e79752054a7b","ip_address":"62.210.157.48","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-48.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-05-30T07:51:05.156983Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.451968ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"mac_type":"kvm"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/f76723b1-dd04-4239-93c4-e79752054a7b/mac
        method: POST
      response:
        body: '{"created_at":"2024-05-24T12:47:47.081509Z","description":"attached to ip01","id":"f76723b1-dd04-4239-93c4-e79752054a7b","ip_address":"62.210.157.48","mac_address":{"created_at":"2024-05-30T07:51:05.623116995Z","id":"d5968a33-ca64-4d5f-9781-f751c3005401","mac_address":"52:54:00:22:14:0d","mac_type":"kvm","status":"ready","updated_at":"2024-05-30T07:51:05.625655630Z","zone":"fr-par-1"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-48.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-05-30T07:51:05.627688376Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.007653ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"dst_fip_id":"292f3804-a631-41a2-a098-20a1040d5720"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/f76723b1-dd04-4239-93c4-e79752054a7b/mac/move
        method: POST
      response:
        body: '{"created_at":"2024-05-24T12:47:47.091424Z","description":"attached to ip02","id":"292f3804-a631-41a2-a098-20a1040d5720","ip_address":"62.210.157.49","mac_address":{"created_at":"2024-05-30T07:51:05.623117Z","id":"d5968a33-ca64-4d5f-9781-f751c3005401","mac_address":"52:54:00:22:14:0d","mac_type":"kvm","status":"ready","updated_at":"2024-05-30T07:51:11.760362460Z","zone":"fr-par-1"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-157-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-05-30T07:51:11.762565849Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.66797ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/d5968a33-ca64-4d5f-9781-f751c3005401/mac
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"flexible_ips","resource_id":"d5968a33-ca64-4d5f-9781-f751c3005401","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.932535ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/f76723b1-dd04-4239-93c4-e79752054a7b
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 30.371857ms
[...]
