---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"created_at":"2024-08-28T11:35:04.444749Z","description":"","id":"cbae8f23-b847-47cc-a047-b93d6bfc296b","ip_address":"195.154.141.4","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-4.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.744935331Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.140959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/cbae8f23-b847-47cc-a047-b93d6bfc296b
        method: GET
      response:
        body: '{"created_at":"2024-08-28T11:35:04.444749Z","description":"","id":"cbae8f23-b847-47cc-a047-b93d6bfc296b","ip_address":"195.154.141.4","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"195-154-141-4.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2025-01-22T15:17:31.744935Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.9275ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/cbae8f23-b847-47cc-a047-b93d6bfc296b
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 26.749708ms
[...]
