---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-upbeat-goldwasser","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-01-14T14:59:14.497089Z","id":"2967f4e5-7b2e-4619-92fd-6e7034deb1f2","last_detached_at":null,"name":"tf-volume-upbeat-goldwasser","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-01-14T14:59:14.497089Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 417.585208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/2967f4e5-7b2e-4619-92fd-6e7034deb1f2
        method: GET
      response:
        body: '{"created_at":"2026-01-14T14:59:14.497089Z","id":"2967f4e5-7b2e-4619-92fd-6e7034deb1f2","last_detached_at":null,"name":"tf-volume-upbeat-goldwasser","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-01-14T14:59:14.497089Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.074875ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2967f4e5-7b2e-4619-92fd-6e7034deb1f2","name":"test-terraform-export-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-01-14T14:59:15.075267Z","id":"6f88faa8-564d-443a-87ad-8bdcb57f1f40","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"2967f4e5-7b2e-4619-92fd-6e7034deb1f2","name":"tf-volume-upbeat-goldwasser","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-01-14T14:59:15.075267Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 595.459ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/6f88faa8-564d-443a-87ad-8bdcb57f1f40
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-01-14T14:59:15.075267Z","id":"6f88faa8-564d-443a-87ad-8bdcb57f1f40","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"2967f4e5-7b2e-4619-92fd-6e7034deb1f2","name":"tf-volume-upbeat-goldwasser","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-01-14T14:59:15.075267Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.096083ms
    - id: 5
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bed1b5ec-ec80-4107-ae82-b46a566dd766
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145914Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-export-snapshot-6640190072150879174
            X-Amz-Request-Id:
                - txg6100d7eb43884d77b892-006967af42
        status: 200 OK
        code: 200
        duration: 4.797079208s
    - id: 6
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2d16c3c6-b0e5-470f-8160-cd329f9f36ba
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg35d2186c3de749c3a399-006967af47
        status: 200 OK
        code: 200
        duration: 160.112459ms
    - id: 7
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - df677847-cbb7-42f0-8b73-c36720ef4fa5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg79f41301e64d480582e4-006967af47
        status: 200 OK
        code: 200
        duration: 157.729208ms
    - id: 8
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - efba9525-c459-4913-a223-5eb0c70491ab
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgc4d1461a2c9042908189-006967af47</RequestId><HostId>txgc4d1461a2c9042908189-006967af47</HostId><Resource>/test-acc-scaleway-export-snapshot-6640190072150879174</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc4d1461a2c9042908189-006967af47
        status: 404 Not Found
        code: 404
        duration: 98.838542ms
    - id: 9
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 52e333b9-5952-4c01-bd6f-0c48332759ed
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-snapshot-6640190072150879174</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf36119f865bf487da8db-006967af47
        status: 200 OK
        code: 200
        duration: 214.987042ms
    - id: 10
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 250e9a99-24db-4222-988a-4f81fc1ff61a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgee893ead48134e6d8f0a-006967af47</RequestId><HostId>txgee893ead48134e6d8f0a-006967af47</HostId><Resource>/test-acc-scaleway-export-snapshot-6640190072150879174</Resource><BucketName>test-acc-scaleway-export-snapshot-6640190072150879174</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgee893ead48134e6d8f0a-006967af47
        status: 404 Not Found
        code: 404
        duration: 18.954417ms
    - id: 11
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1bb23123-8a0c-46ff-9ba4-5610abeb8c00
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge4df0560dda442e089cb-006967af47</RequestId><HostId>txge4df0560dda442e089cb-006967af47</HostId><Resource>/test-acc-scaleway-export-snapshot-6640190072150879174</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge4df0560dda442e089cb-006967af47
        status: 404 Not Found
        code: 404
        duration: 47.697291ms
    - id: 12
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 26ae62db-b313-4362-bd08-47a57b78cc07
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg284e00b061cd4a13b445-006967af47
        status: 200 OK
        code: 200
        duration: 139.078833ms
    - id: 13
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 812d03d0-9cc5-47fa-b35e-5ffec29bd0f1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145919Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg0d19e3794ee844e89e46-006967af47</RequestId><HostId>txg0d19e3794ee844e89e46-006967af47</HostId><Resource>/test-acc-scaleway-export-snapshot-6640190072150879174</Resource><BucketName>test-acc-scaleway-export-snapshot-6640190072150879174</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0d19e3794ee844e89e46-006967af47
        status: 404 Not Found
        code: 404
        duration: 21.198167ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"bucket":"test-acc-scaleway-export-snapshot-6640190072150879174","key":"exported-snapshot.qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/6f88faa8-564d-443a-87ad-8bdcb57f1f40/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-01-14T14:59:15.075267Z","id":"6f88faa8-564d-443a-87ad-8bdcb57f1f40","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"2967f4e5-7b2e-4619-92fd-6e7034deb1f2","name":"tf-volume-upbeat-goldwasser","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-01-14T14:59:15.075267Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.757792ms
[...]
    - id: 25
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0f0291c6-3337-4969-b444-efb7d68d1ed1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145934Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-snapshot-6640190072150879174</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>exported-snapshot.qcow2</Key><LastModified>2026-01-14T14:59:28.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge48a8f9a791b4d18aeb0-006967af56
        status: 200 OK
        code: 200
        duration: 177.537209ms
[...]
    - id: 39
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 988af503-efee-49dd-b1df-0f2238f2126e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145935Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/exported-snapshot.qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/x-qemu-disk
            Etag:
                - '"0345725c6e663688db0a073eb0aca7e2"'
            Last-Modified:
                - Wed, 14 Jan 2026 14:59:28 GMT
            X-Amz-Request-Id:
                - txg6322792d81e241a1b891-006967af57
        status: 200 OK
        code: 200
        duration: 17.10775ms
[...]
    - id: 41
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4845c157-53e0-431d-92e1-c517ee7db29a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145935Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/exported-snapshot.qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2e85589fbde14d1caa3a-006967af57
        status: 200 OK
        code: 200
        duration: 13.915833ms
    - id: 42
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 820225b7-32e9-4001-92bd-832d5b176463
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145935Z
   [...]
[...]
    - id: 63
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8fe94a5d-bdff-4d81-b577-4807c961e15d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145938Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/?versions=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListVersionsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-snapshot-6640190072150879174</Name><Prefix></Prefix><IsTruncated>false</IsTruncated><KeyMarker></KeyMarker><MaxKeys>1000</MaxKeys><VersionIdMarker></VersionIdMarker><Version xmlns=""><IsLatest>true</IsLatest><Key>exported-snapshot.qcow2</Key><LastModified>2026-01-14T14:59:28.000Z</LastModified><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><VersionId>1768402768278259</VersionId><Size>196760</Size><StorageClass>STANDARD</StorageClass><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag></Version></ListVersionsResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg949c050f84664322a366-006967af5a
        status: 200 OK
        code: 200
        duration: 20.329084ms
[...]
    - id: 65
      request:
        host: test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a6af5c0e-5e66-4a41-bc1a-5333dabd7fc4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145938Z
        url: https://test-acc-scaleway-export-snapshot-6640190072150879174.s3.fr-par.scw.cloud/exported-snapshot.qcow2?versionId=1768402768278259&x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgcb75f6a351d14ef2b3ad-006967af5a
        status: 204 No Content
        code: 204
        duration: 146.945375ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/6f88faa8-564d-443a-87ad-8bdcb57f1f40
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"6f88faa8-564d-443a-87ad-8bdcb57f1f40","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 88.043167ms
[...]
