---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-blissful-brahmagupta","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-17T13:11:16.146987Z","id":"18ff6998-4451-4728-9912-ce6936d83677","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-blissful-brahmagupta","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-17T13:11:16.146987Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.216254ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/18ff6998-4451-4728-9912-ce6936d83677
        method: GET
      response:
        body: '{"created_at":"2026-08-17T13:11:16.146987Z","id":"18ff6998-4451-4728-9912-ce6936d83677","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-blissful-brahmagupta","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-08-17T13:11:16.297116Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.788239ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"18ff6998-4451-4728-9912-ce6936d83677","name":"test-terraform-export-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T13:11:16.843461Z","id":"051e93f6-1708-4df3-a9e9-b961df95c1f0","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"18ff6998-4451-4728-9912-ce6936d83677","name":"tf-volume-blissful-brahmagupta","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-17T13:11:16.843461Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.486234ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/051e93f6-1708-4df3-a9e9-b961df95c1f0
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T13:11:16.843461Z","id":"051e93f6-1708-4df3-a9e9-b961df95c1f0","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"18ff6998-4451-4728-9912-ce6936d83677","name":"tf-volume-blissful-brahmagupta","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-17T13:11:16.843461Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.646839ms
    - id: 5
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9fc24909-fc0a-4cd3-86de-df0c2e4c11b8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131115Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-snapshot-5296044571081073675
            X-Amz-Request-Id:
                - txg8a83cf2eed3143f6b642-006a830873
        status: 200 OK
        code: 200
        duration: 5.032592341s
    - id: 6
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 31bb4bbe-5a13-4f8c-9c47-c745e27f8031
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131120Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg1fa3e295ca024052918f-006a830878
        status: 200 OK
        code: 200
        duration: 252.913867ms
    - id: 7
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 75024ff3-4c5f-4403-840e-b32720926a58
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131121Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5cdbf5d63c1848c0a183-006a830879
        status: 200 OK
        code: 200
        duration: 201.020807ms
    - id: 8
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f924b1b-3de6-4cdb-b825-85f3e893a5ce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131121Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg8e561696bafd4d2fb5a8-006a830879</RequestId><HostId>txg8e561696bafd4d2fb5a8-006a830879</HostId><Resource>/tf-test-scaleway-export-snapshot-5296044571081073675</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8e561696bafd4d2fb5a8-006a830879
        status: 404 Not Found
        code: 404
        duration: 317.708345ms
    - id: 9
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fd4388e2-8924-4ba8-b72a-15acee5446f5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131121Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-snapshot-5296044571081073675</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg61d7faec91d24edfa56b-006a830879
        status: 200 OK
        code: 200
        duration: 355.23936ms
[...]
    - id: 11
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4aa32a60-1405-45c2-97b8-7b26df5ec04c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131121Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txge6e685c9e536424596c1-006a83087a</RequestId><HostId>txge6e685c9e536424596c1-006a83087a</HostId><Resource>/tf-test-scaleway-export-snapshot-5296044571081073675</Resource><BucketName>tf-test-scaleway-export-snapshot-5296044571081073675</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge6e685c9e536424596c1-006a83087a
        status: 404 Not Found
        code: 404
        duration: 272.890783ms
[...]
    - id: 13
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 56d50702-d9fe-4336-9983-4dc4f9c42de1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131122Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg1cbf083c8ca244178d05-006a83087a</RequestId><HostId>txg1cbf083c8ca244178d05-006a83087a</HostId><Resource>/tf-test-scaleway-export-snapshot-5296044571081073675</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1cbf083c8ca244178d05-006a83087a
        status: 404 Not Found
        code: 404
        duration: 235.432936ms
    - id: 14
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5ecafe11-bfb8-46ae-b038-66017b619a74
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131122Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0b3775b8236a4c6fb56e-006a83087a
        status: 200 OK
        code: 200
        duration: 55.123947ms
    - id: 15
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3529dbc5-b43e-40e1-a478-ff82d1055ef0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131122Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg61dd65fdd7b3402f9d59-006a83087a</RequestId><HostId>txg61dd65fdd7b3402f9d59-006a83087a</HostId><Resource>/tf-test-scaleway-export-snapshot-5296044571081073675</Resource><BucketName>tf-test-scaleway-export-snapshot-5296044571081073675</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg61dd65fdd7b3402f9d59-006a83087a
        status: 404 Not Found
        code: 404
        duration: 123.771232ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-snapshot-5296044571081073675","key":"exported-snapshot.qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/051e93f6-1708-4df3-a9e9-b961df95c1f0/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T13:11:16.843461Z","id":"051e93f6-1708-4df3-a9e9-b961df95c1f0","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"18ff6998-4451-4728-9912-ce6936d83677","name":"tf-volume-blissful-brahmagupta","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-08-17T13:11:22.769477Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.19413031s
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/051e93f6-1708-4df3-a9e9-b961df95c1f0
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T13:11:16.843461Z","id":"051e93f6-1708-4df3-a9e9-b961df95c1f0","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"18ff6998-4451-4728-9912-ce6936d83677","name":"tf-volume-blissful-brahmagupta","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-08-17T13:11:22.769477Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.565963ms
[...]
    - id: 24
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e0a8b053-67f7-49fa-b6ad-b3836f84b303
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131135Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-snapshot-5296044571081073675</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>exported-snapshot.qcow2</Key><LastModified>2026-08-17T13:11:29.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg18e11936676046878a19-006a830887
        status: 200 OK
        code: 200
        duration: 316.798022ms
[...]
    - id: 38
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9abf142b-ddb6-4d1b-ab9e-475f6824df1c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131137Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/exported-snapshot.qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"0345725c6e663688db0a073eb0aca7e2"'
            Last-Modified:
                - Mon, 17 Aug 2026 13:11:29 GMT
            X-Amz-Request-Id:
                - txg961081a380d84ba6808e-006a830889
        status: 200 OK
        code: 200
        duration: 184.315645ms
[...]
    - id: 40
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9e23fa80-0124-4384-a88e-9b844ca306b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131137Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/exported-snapshot.qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg19b76dfce343457983ff-006a830889
        status: 200 OK
        code: 200
        duration: 58.356888ms
    - id: 41
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dc14ad48-c93d-48c4-b250-4096d832a284
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131137Z
    [...]
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/051e93f6-1708-4df3-a9e9-b961df95c1f0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"051e93f6-1708-4df3-a9e9-b961df95c1f0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 146.887092ms
    - id: 65
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dd396208-80f9-43b1-b94a-f1969d6afae0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131141Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/?versions=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListVersionsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-snapshot-5296044571081073675</Name><Prefix></Prefix><IsTruncated>false</IsTruncated><KeyMarker></KeyMarker><MaxKeys>1000</MaxKeys><VersionIdMarker></VersionIdMarker><Version xmlns=""><IsLatest>true</IsLatest><Key>exported-snapshot.qcow2</Key><LastModified>2026-08-17T13:11:29.000Z</LastModified><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><VersionId>1786972289709925</VersionId><Size>196760</Size><StorageClass>STANDARD</StorageClass><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Version></ListVersionsResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb9e8a80ba2f84c82a3fc-006a83088d
        status: 200 OK
        code: 200
        duration: 163.08491ms
[...]
    - id: 67
      request:
        host: tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b258ca88-264a-4b1b-b525-2ffa712e9366
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131141Z
        url: https://tf-test-scaleway-export-snapshot-5296044571081073675.s3.fr-par.scw.cloud/exported-snapshot.qcow2?versionId=1786972289709925&x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6261846db711443a870f-006a83088d
        status: 204 No Content
        code: 204
        duration: 292.805291ms
[...]
