---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-gifted-buck","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-24T11:02:51.603951Z","id":"ab4141bc-ca79-4cf7-841b-d4d3770c5921","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-gifted-buck","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T11:02:51.603951Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.194105375s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.782167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/ab4141bc-ca79-4cf7-841b-d4d3770c5921
        method: GET
      response:
        body: '{"created_at":"2026-09-24T11:02:51.603951Z","id":"ab4141bc-ca79-4cf7-841b-d4d3770c5921","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-gifted-buck","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T11:02:51.603951Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 60.908958ms
    - id: 3
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 35ddc4e9-e698-4224-9c26-486dae431232
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110250Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-snapshot-9142627287978571746
            X-Amz-Request-Id:
                - txg81d7a6a641c043de82c1-006ab5035a
        status: 200 OK
        code: 200
        duration: 4.738914125s
    - id: 4
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9c22802d-1312-44e4-b1e3-b809b46380e7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110255Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg5785d03daf4f414f8f6c-006ab5035f
        status: 200 OK
        code: 200
        duration: 987.518833ms
[...]
    - id: 7
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ca1fb935-02bf-48ac-94ff-fc4311387c04
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110256Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd5ef59fa186e42bf8199-006ab50360
        status: 200 OK
        code: 200
        duration: 708.737167ms
    - id: 8
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5580bc0d-9bc0-497f-863c-962033afe5aa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110256Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgef7949c890874926a312-006ab50360</RequestId><HostId>txgef7949c890874926a312-006ab50360</HostId><Resource>/tf-test-scaleway-export-snapshot-9142627287978571746</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgef7949c890874926a312-006ab50360
        status: 404 Not Found
        code: 404
        duration: 392.612958ms
    - id: 9
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c12a94ae-07e2-4a3c-86c8-b25808386f97
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110256Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-snapshot-9142627287978571746</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg368b37aa6a8c4bac884f-006ab50361
        status: 200 OK
        code: 200
        duration: 735.041584ms
    - id: 10
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5aa2d50b-142e-45c3-9c73-3dee252901e8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110257Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txge2d10e88dac1422a9082-006ab50362</RequestId><HostId>txge2d10e88dac1422a9082-006ab50362</HostId><Resource>/tf-test-scaleway-export-snapshot-9142627287978571746</Resource><BucketName>tf-test-scaleway-export-snapshot-9142627287978571746</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge2d10e88dac1422a9082-006ab50362
        status: 404 Not Found
        code: 404
        duration: 476.606959ms
    - id: 11
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e905725d-fd3b-495b-a477-d881e4f8835d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110258Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg98b4ee73686d49979c9e-006ab50362</RequestId><HostId>txg98b4ee73686d49979c9e-006ab50362</HostId><Resource>/tf-test-scaleway-export-snapshot-9142627287978571746</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg98b4ee73686d49979c9e-006ab50362
        status: 404 Not Found
        code: 404
        duration: 382.412917ms
    - id: 12
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bc97704e-4296-47c8-a260-cf4b6d70888a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110258Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5fd0c43da57e48e79ef7-006ab50362
        status: 200 OK
        code: 200
        duration: 368.644917ms
    - id: 13
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 03dda094-206c-48be-bcac-feba7c9147ae
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110258Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg8b664ec0b48147c290ec-006ab50363</RequestId><HostId>txg8b664ec0b48147c290ec-006ab50363</HostId><Resource>/tf-test-scaleway-export-snapshot-9142627287978571746</Resource><BucketName>tf-test-scaleway-export-snapshot-9142627287978571746</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8b664ec0b48147c290ec-006ab50363
        status: 404 Not Found
        code: 404
        duration: 658.471334ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"volume_id":"ab4141bc-ca79-4cf7-841b-d4d3770c5921","name":"test-terraform-export-snapshot-basic","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T11:03:00.004665Z","id":"4f4123e8-972b-4051-9b39-96b32dbc6191","kms_key_id":null,"name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"ab4141bc-ca79-4cf7-841b-d4d3770c5921","name":"tf-volume-gifted-buck","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T11:03:00.004665Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 124.544958ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4f4123e8-972b-4051-9b39-96b32dbc6191
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T11:03:00.004665Z","id":"4f4123e8-972b-4051-9b39-96b32dbc6191","kms_key_id":null,"name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"ab4141bc-ca79-4cf7-841b-d4d3770c5921","name":"tf-volume-gifted-buck","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T11:03:00.004665Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.549167ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-snapshot-9142627287978571746","key":"exported-snapshot.qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/4f4123e8-972b-4051-9b39-96b32dbc6191/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T11:03:00.004665Z","id":"4f4123e8-972b-4051-9b39-96b32dbc6191","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"ab4141bc-ca79-4cf7-841b-d4d3770c5921","name":"tf-volume-gifted-buck","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-09-24T11:03:05.177087Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 5.796617875s
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/4f4123e8-972b-4051-9b39-96b32dbc6191
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T11:03:00.004665Z","id":"4f4123e8-972b-4051-9b39-96b32dbc6191","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"ab4141bc-ca79-4cf7-841b-d4d3770c5921","name":"tf-volume-gifted-buck","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-09-24T11:03:05.177087Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.209875ms
[...]
    - id: 24
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2aaabba8-3efc-4a86-a2c4-26534e3405e3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110317Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-snapshot-9142627287978571746</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>exported-snapshot.qcow2</Key><LastModified>2026-09-24T11:03:12.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga40a67f05970487e9bf9-006ab50376
        status: 200 OK
        code: 200
        duration: 643.842291ms
[...]
    - id: 38
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 337279ab-2c10-4e52-85df-550e44fe8c3d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110321Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/exported-snapshot.qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"0345725c6e663688db0a073eb0aca7e2"'
            Last-Modified:
                - Thu, 24 Sep 2026 11:03:12 GMT
            X-Amz-Request-Id:
                - txg9d4fe22a00f8415ea4a7-006ab50379
        status: 200 OK
        code: 200
        duration: 12.669417ms
[...]
    - id: 41
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1f4bbec2-010b-4119-b9d7-7fd63b5e3754
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110321Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/exported-snapshot.qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3e9e1f8c00254578bf6e-006ab5037a
        status: 200 OK
        code: 200
        duration: 243.487167ms
    - id: 42
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c6272326-c831-4267-9f97-ae1e3a4bf1b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110322Z
    [...]
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4f4123e8-972b-4051-9b39-96b32dbc6191
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"4f4123e8-972b-4051-9b39-96b32dbc6191","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 47.178708ms
[...]
    - id: 69
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c8d15a67-8d61-45ec-b826-bc99a9eebd42
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110325Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/?versions=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListVersionsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-snapshot-9142627287978571746</Name><Prefix></Prefix><IsTruncated>false</IsTruncated><KeyMarker></KeyMarker><MaxKeys>1000</MaxKeys><VersionIdMarker></VersionIdMarker><Version xmlns=""><IsLatest>true</IsLatest><Key>exported-snapshot.qcow2</Key><LastModified>2026-09-24T11:03:12.000Z</LastModified><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><VersionId>1790247792196746</VersionId><Size>196760</Size><StorageClass>STANDARD</StorageClass><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Version></ListVersionsResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg25d07a52931f4b6da4f4-006ab5037d
        status: 200 OK
        code: 200
        duration: 373.418292ms
    - id: 70
      request:
        host: tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 92265dd6-aaf6-4f2b-a83c-84fc71df9b69
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T110325Z
        url: https://tf-test-scaleway-export-snapshot-9142627287978571746.s3.fr-par.scw.cloud/exported-snapshot.qcow2?versionId=1790247792196746&x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgf407f7d38bb3473a97de-006ab5037e
        status: 204 No Content
        code: 204
        duration: 20.138ms
[...]
