---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-zen-wescoff","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-18T09:54:11.837270Z","id":"db56e6c7-f02f-4eed-a592-5816651739cd","last_detached_at":null,"name":"tf-volume-zen-wescoff","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.837270Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.725774ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/db56e6c7-f02f-4eed-a592-5816651739cd
        method: GET
      response:
        body: '{"created_at":"2026-05-18T09:54:11.837270Z","id":"db56e6c7-f02f-4eed-a592-5816651739cd","last_detached_at":null,"name":"tf-volume-zen-wescoff","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.837270Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.153976ms
    - id: 2
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0b907489-5cc2-47a7-afad-e2a226ccdd80
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095411Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-export-snapshot-6304701721359113796
            X-Amz-Request-Id:
                - txg1556b03cd3ce46aab4cc-006a0ae1c3
        status: 200 OK
        code: 200
        duration: 4.885669611s
    - id: 3
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3ce1fce7-bc0d-4f03-a39c-484a1a53a8d7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095416Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgbc626dff51c74ff5a23b-006a0ae1c8
        status: 200 OK
        code: 200
        duration: 41.529055ms
    - id: 4
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 738d44bb-1d5e-4b4b-83a3-c245411fade4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095416Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4bdaa26563d14a33b67d-006a0ae1c8
        status: 200 OK
        code: 200
        duration: 114.208289ms
    - id: 5
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4b5be4ea-9250-4bbd-95e0-b4146b7e8a9e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095416Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgd0250e44f8ac4efc877b-006a0ae1c8</RequestId><HostId>txgd0250e44f8ac4efc877b-006a0ae1c8</HostId><Resource>/test-acc-scaleway-export-snapshot-6304701721359113796</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd0250e44f8ac4efc877b-006a0ae1c8
        status: 404 Not Found
        code: 404
        duration: 137.182873ms
    - id: 6
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f047b2dd-4fc9-416b-bfaf-6440b7377b46
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095416Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-snapshot-6304701721359113796</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf8a9783f6d764aa89a63-006a0ae1c8
        status: 200 OK
        code: 200
        duration: 106.301179ms
    - id: 7
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cee89361-291e-466f-966c-8eb170c49447
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095416Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg5456db8041674edc89bf-006a0ae1c9</RequestId><HostId>txg5456db8041674edc89bf-006a0ae1c9</HostId><Resource>/test-acc-scaleway-export-snapshot-6304701721359113796</Resource><BucketName>test-acc-scaleway-export-snapshot-6304701721359113796</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5456db8041674edc89bf-006a0ae1c9
        status: 404 Not Found
        code: 404
        duration: 154.821981ms
[...]
    - id: 9
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9ffb3350-c3df-4919-bdce-9e5e49a8e2fc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095417Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg3d71d06fe9cb40108fae-006a0ae1c9</RequestId><HostId>txg3d71d06fe9cb40108fae-006a0ae1c9</HostId><Resource>/test-acc-scaleway-export-snapshot-6304701721359113796</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3d71d06fe9cb40108fae-006a0ae1c9
        status: 404 Not Found
        code: 404
        duration: 58.521198ms
[...]
    - id: 11
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6e6e7008-b0b7-49a1-929e-39ab7aa81cb8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095417Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg9759ad7d63494575bb7c-006a0ae1c9
        status: 200 OK
        code: 200
        duration: 151.930123ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"db56e6c7-f02f-4eed-a592-5816651739cd","name":"test-terraform-export-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.403309Z","id":"75f1d32a-1f61-42de-9e48-4d97fb63eb46","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"db56e6c7-f02f-4eed-a592-5816651739cd","name":"tf-volume-zen-wescoff","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.403309Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.19762ms
    - id: 13
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1345f26b-3400-45c4-9a7c-1c7d022d4560
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095417Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg34254df00f0b4253946d-006a0ae1c9</RequestId><HostId>txg34254df00f0b4253946d-006a0ae1c9</HostId><Resource>/test-acc-scaleway-export-snapshot-6304701721359113796</Resource><BucketName>test-acc-scaleway-export-snapshot-6304701721359113796</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg34254df00f0b4253946d-006a0ae1c9
        status: 404 Not Found
        code: 404
        duration: 145.730204ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/75f1d32a-1f61-42de-9e48-4d97fb63eb46
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.403309Z","id":"75f1d32a-1f61-42de-9e48-4d97fb63eb46","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"db56e6c7-f02f-4eed-a592-5816651739cd","name":"tf-volume-zen-wescoff","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.403309Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.435141ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"bucket":"test-acc-scaleway-export-snapshot-6304701721359113796","key":"exported-snapshot.qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/75f1d32a-1f61-42de-9e48-4d97fb63eb46/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.403309Z","id":"75f1d32a-1f61-42de-9e48-4d97fb63eb46","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"db56e6c7-f02f-4eed-a592-5816651739cd","name":"tf-volume-zen-wescoff","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-05-18T09:54:17.403309Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.949832ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/75f1d32a-1f61-42de-9e48-4d97fb63eb46
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.403309Z","id":"75f1d32a-1f61-42de-9e48-4d97fb63eb46","name":"test-terraform-export-snapshot-basic","parent_volume":{"id":"db56e6c7-f02f-4eed-a592-5816651739cd","name":"tf-volume-zen-wescoff","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-05-18T09:54:17.403309Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.525785ms
[...]
    - id: 25
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f4ead383-bd5c-474e-910e-b7e2e116d633
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095428Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-snapshot-6304701721359113796</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>exported-snapshot.qcow2</Key><LastModified>2026-05-18T09:54:25.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg82ae5c8c4c2440a988bc-006a0ae1d4
        status: 200 OK
        code: 200
        duration: 241.739485ms
[...]
    - id: 39
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ab4ea6af-d9d0-46ea-8a5e-d4e826b06b2f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095430Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/exported-snapshot.qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/x-qemu-disk
            Etag:
                - '"0345725c6e663688db0a073eb0aca7e2"'
            Last-Modified:
                - Mon, 18 May 2026 09:54:25 GMT
            X-Amz-Request-Id:
                - txgf6854b891ded4db68d43-006a0ae1d6
        status: 200 OK
        code: 200
        duration: 156.634332ms
[...]
    - id: 41
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fe7358f2-937c-462d-a93c-7f80f802c246
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095430Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/exported-snapshot.qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg47da18e681f84aa7bb10-006a0ae1d6
        status: 200 OK
        code: 200
        duration: 10.997129ms
    - id: 42
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - eae798de-934d-4a92-9d68-d1933c9cdf2c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095430Z
   [...]
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/75f1d32a-1f61-42de-9e48-4d97fb63eb46
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"75f1d32a-1f61-42de-9e48-4d97fb63eb46","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.99412ms
[...]
    - id: 68
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f9b2119c-a86c-45bc-82e4-5ce48c0d22f3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095432Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/?versions=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListVersionsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-snapshot-6304701721359113796</Name><Prefix></Prefix><IsTruncated>false</IsTruncated><KeyMarker></KeyMarker><MaxKeys>1000</MaxKeys><VersionIdMarker></VersionIdMarker><Version xmlns=""><IsLatest>true</IsLatest><Key>exported-snapshot.qcow2</Key><LastModified>2026-05-18T09:54:25.000Z</LastModified><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><VersionId>1779098065660834</VersionId><Size>196760</Size><StorageClass>STANDARD</StorageClass><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag></Version></ListVersionsResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb3c84b92fc15464a940f-006a0ae1d8
        status: 200 OK
        code: 200
        duration: 100.866947ms
[...]
    - id: 70
      request:
        host: test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4252aabc-b306-4577-8826-b0186cb4b6a1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260518T095432Z
        url: https://test-acc-scaleway-export-snapshot-6304701721359113796.s3.fr-par.scw.cloud/exported-snapshot.qcow2?versionId=1779098065660834&x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgb767fbd65f3343db91c4-006a0ae1d8
        status: 204 No Content
        code: 204
        duration: 111.311857ms
[...]
