---
version: 2
interactions:
- request:
    body: '{"name":"tf-volume-youthful-goldstine","perf_iops":5000,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","from_empty":{"size":10000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"created_at":"2023-11-23T12:58:49.105300Z","id":"24bb181a-67ee-4e2e-95b8-930df6ff8e9f","last_detached_at":null,"name":"tf-volume-youthful-goldstine","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:58:49.105300Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/24bb181a-67ee-4e2e-95b8-930df6ff8e9f
    method: GET
  response:
    body: '{"created_at":"2023-11-23T12:58:49.105300Z","id":"24bb181a-67ee-4e2e-95b8-930df6ff8e9f","last_detached_at":null,"name":"tf-volume-youthful-goldstine","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:58:49.105300Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"volume_id":"24bb181a-67ee-4e2e-95b8-930df6ff8e9f","name":"test-ds-block-snapshot-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"class":"sbs","created_at":"2023-11-23T12:58:54.412094Z","id":"eef2759a-f3da-421d-8fb2-f84546eb1e06","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"24bb181a-67ee-4e2e-95b8-930df6ff8e9f","name":"tf-volume-youthful-goldstine","status":"snapshotting","type":"sbs_5k"},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2023-11-23T12:58:54.412094Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/eef2759a-f3da-421d-8fb2-f84546eb1e06
    method: GET
  response:
    body: '{"class":"sbs","created_at":"2023-11-23T12:58:54.412094Z","id":"eef2759a-f3da-421d-8fb2-f84546eb1e06","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"24bb181a-67ee-4e2e-95b8-930df6ff8e9f","name":"tf-volume-youthful-goldstine","status":"snapshotting","type":"sbs_5k"},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2023-11-23T12:58:54.412094Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots?name=test-ds-block-snapshot-basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"snapshots":[{"class":"sbs","created_at":"2023-11-23T12:58:54.412094Z","id":"eef2759a-f3da-421d-8fb2-f84546eb1e06","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"24bb181a-67ee-4e2e-95b8-930df6ff8e9f","name":"tf-volume-youthful-goldstine","status":"available","type":"sbs_5k"},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","size":10000000000,"status":"available","tags":[],"updated_at":"2023-11-23T12:58:55.051998Z","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/eef2759a-f3da-421d-8fb2-f84546eb1e06
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"snapshot","resource_id":"eef2759a-f3da-421d-8fb2-f84546eb1e06","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
