---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-nostalgic-lovelace","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-05T15:19:16.132404Z","id":"d82a0378-83a6-47d9-8863-de6923193815","last_detached_at":null,"name":"tf-volume-nostalgic-lovelace","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-05T15:19:16.132404Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 610.078417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d82a0378-83a6-47d9-8863-de6923193815
        method: GET
      response:
        body: '{"created_at":"2025-12-05T15:19:16.132404Z","id":"d82a0378-83a6-47d9-8863-de6923193815","last_detached_at":null,"name":"tf-volume-nostalgic-lovelace","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-05T15:19:16.132404Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.341166ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d82a0378-83a6-47d9-8863-de6923193815","name":"test-ds-block-snapshot-basic-tf","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-12-05T15:19:21.455956Z","id":"d5f8ccda-8139-484d-9c07-4128ccd360a2","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"d82a0378-83a6-47d9-8863-de6923193815","name":"tf-volume-nostalgic-lovelace","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-12-05T15:19:21.455956Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.43675ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/d5f8ccda-8139-484d-9c07-4128ccd360a2
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-12-05T15:19:21.455956Z","id":"d5f8ccda-8139-484d-9c07-4128ccd360a2","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"d82a0378-83a6-47d9-8863-de6923193815","name":"tf-volume-nostalgic-lovelace","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-12-05T15:19:21.455956Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.675416ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots?name=test-ds-block-snapshot-basic-tf&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2025-12-05T15:19:21.455956Z","id":"d5f8ccda-8139-484d-9c07-4128ccd360a2","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"d82a0378-83a6-47d9-8863-de6923193815","name":"tf-volume-nostalgic-lovelace","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2025-12-05T15:19:21.455956Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.258417ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/d5f8ccda-8139-484d-9c07-4128ccd360a2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"d5f8ccda-8139-484d-9c07-4128ccd360a2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 98.246083ms
[...]
