---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-elegant-vaughan\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":10000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"7bb610f9-aa70-4379-a9c2-34d6f278ee75\",\"name\":\"tf-volume-elegant-vaughan\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.878214Z\",\"updated_at\":\"2025-09-03T15:22:28.878214Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.055340336s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/7bb610f9-aa70-4379-a9c2-34d6f278ee75
    method: GET
  response:
    body: "{\"id\":\"7bb610f9-aa70-4379-a9c2-34d6f278ee75\",\"name\":\"tf-volume-elegant-vaughan\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.878214Z\",\"updated_at\":\"2025-09-03T15:22:28.878214Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.542878ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"7bb610f9-aa70-4379-a9c2-34d6f278ee75\",\"name\":\"test-ds-block-snapshot-basic\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"81ce7e48-cd6f-4d69-8251-b86f7edff959\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"7bb610f9-aa70-4379-a9c2-34d6f278ee75\",\"name\":\"tf-volume-elegant-vaughan\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:35.236726Z\",\"updated_at\":\"2025-09-03T15:22:35.236726Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 356.959096ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/81ce7e48-cd6f-4d69-8251-b86f7edff959
    method: GET
  response:
    body: "{\"id\":\"81ce7e48-cd6f-4d69-8251-b86f7edff959\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"7bb610f9-aa70-4379-a9c2-34d6f278ee75\",\"name\":\"tf-volume-elegant-vaughan\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:35.236726Z\",\"updated_at\":\"2025-09-03T15:22:35.236726Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.274783ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - test-ds-block-snapshot-basic
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots?name=test-ds-block-snapshot-basic&order_by=created_at_asc
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"81ce7e48-cd6f-4d69-8251-b86f7edff959\",\"name\":\"test-ds-block-snapshot-basic\",\"parent_volume\":{\"id\":\"7bb610f9-aa70-4379-a9c2-34d6f278ee75\",\"name\":\"tf-volume-elegant-vaughan\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:35.236726Z\",\"updated_at\":\"2025-09-03T15:22:35.236726Z\",\"references\":[],\"status\":\"available\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.17013ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/81ce7e48-cd6f-4d69-8251-b86f7edff959
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"snapshot\",\"resource_id\":\"81ce7e48-cd6f-4d69-8251-b86f7edff959\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 158.31175ms
[...]
