---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-musing-grothendieck","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:30:27.118289Z","id":"d7430378-f97c-4e7c-bacb-4bd576413f4f","last_detached_at":null,"name":"tf-volume-musing-grothendieck","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-22T13:30:27.118289Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.987ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d7430378-f97c-4e7c-bacb-4bd576413f4f
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:30:27.118289Z","id":"d7430378-f97c-4e7c-bacb-4bd576413f4f","last_detached_at":null,"name":"tf-volume-musing-grothendieck","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-22T13:30:27.118289Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.874916ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d7430378-f97c-4e7c-bacb-4bd576413f4f","name":"test-ds-block-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-01-22T13:30:32.511846Z","id":"2a32095e-fdcd-4ba9-96b6-84b88e2481a1","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"d7430378-f97c-4e7c-bacb-4bd576413f4f","name":"tf-volume-musing-grothendieck","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-01-22T13:30:32.511846Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.518792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2a32095e-fdcd-4ba9-96b6-84b88e2481a1
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-01-22T13:30:32.511846Z","id":"2a32095e-fdcd-4ba9-96b6-84b88e2481a1","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"d7430378-f97c-4e7c-bacb-4bd576413f4f","name":"tf-volume-musing-grothendieck","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-01-22T13:30:32.511846Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.338292ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots?name=test-ds-block-snapshot-basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2025-01-22T13:30:32.511846Z","id":"2a32095e-fdcd-4ba9-96b6-84b88e2481a1","name":"test-ds-block-snapshot-basic","parent_volume":{"id":"d7430378-f97c-4e7c-bacb-4bd576413f4f","name":"tf-volume-musing-grothendieck","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2025-01-22T13:30:32.511846Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.168625ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2a32095e-fdcd-4ba9-96b6-84b88e2481a1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"2a32095e-fdcd-4ba9-96b6-84b88e2481a1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 73.809542ms
[...]
