---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-ds-block-volume-basic\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":10000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"b7484035-5ff9-48e2-a21b-a93852e0608c\",\"name\":\"test-ds-block-volume-basic\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.849607Z\",\"updated_at\":\"2025-09-03T15:22:28.849607Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 647.962772ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/b7484035-5ff9-48e2-a21b-a93852e0608c
    method: GET
  response:
    body: "{\"id\":\"b7484035-5ff9-48e2-a21b-a93852e0608c\",\"name\":\"test-ds-block-volume-basic\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.849607Z\",\"updated_at\":\"2025-09-03T15:22:28.849607Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 84.312089ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - test-ds-block-volume-basic
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?name=test-ds-block-volume-basic&order_by=created_at_asc
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"b7484035-5ff9-48e2-a21b-a93852e0608c\",\"name\":\"test-ds-block-volume-basic\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.849607Z\",\"updated_at\":\"2025-09-03T15:22:28.849607Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"available\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.780613ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/b7484035-5ff9-48e2-a21b-a93852e0608c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"volume\",\"resource_id\":\"b7484035-5ff9-48e2-a21b-a93852e0608c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 83.426417ms
[...]
