---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-wizardly-boyd","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-26T11:54:17.350383Z","id":"c30b622a-9403-4bc4-ac15-1a5454ba0997","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-wizardly-boyd","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-26T11:54:17.350383Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.448561ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.970796ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/c30b622a-9403-4bc4-ac15-1a5454ba0997
        method: GET
      response:
        body: '{"created_at":"2026-08-26T11:54:17.350383Z","id":"c30b622a-9403-4bc4-ac15-1a5454ba0997","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-wizardly-boyd","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-08-26T11:54:17.480288Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.14677ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"c30b622a-9403-4bc4-ac15-1a5454ba0997","name":"test-ds-block-snapshot-basic-tf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-26T11:54:18.178599Z","id":"8493788d-8882-46ed-b844-d21568d05f9c","kms_key_id":null,"name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"c30b622a-9403-4bc4-ac15-1a5454ba0997","name":"tf-volume-wizardly-boyd","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-26T11:54:18.178599Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 417.699119ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/8493788d-8882-46ed-b844-d21568d05f9c
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-26T11:54:18.178599Z","id":"8493788d-8882-46ed-b844-d21568d05f9c","kms_key_id":null,"name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"c30b622a-9403-4bc4-ac15-1a5454ba0997","name":"tf-volume-wizardly-boyd","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-26T11:54:18.178599Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.621434ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-ds-block-snapshot-basic-tf&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-08-26T11:54:18.178599Z","id":"8493788d-8882-46ed-b844-d21568d05f9c","kms_key_id":null,"name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"c30b622a-9403-4bc4-ac15-1a5454ba0997","name":"tf-volume-wizardly-boyd","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-08-26T11:54:19.726039Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.950314ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/8493788d-8882-46ed-b844-d21568d05f9c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"8493788d-8882-46ed-b844-d21568d05f9c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.73829ms
[...]
