---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-hungry-mendeleev","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-18T09:54:11.855493Z","id":"d5fac82f-8b09-4d24-9d8b-6bed8f72daa9","last_detached_at":null,"name":"tf-volume-hungry-mendeleev","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.855493Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.15954ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/d5fac82f-8b09-4d24-9d8b-6bed8f72daa9
        method: GET
      response:
        body: '{"created_at":"2026-05-18T09:54:11.855493Z","id":"d5fac82f-8b09-4d24-9d8b-6bed8f72daa9","last_detached_at":null,"name":"tf-volume-hungry-mendeleev","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.855493Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.953755ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d5fac82f-8b09-4d24-9d8b-6bed8f72daa9","name":"test-ds-block-snapshot-basic-tf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.412326Z","id":"0e155aac-5f0a-48d0-a4fd-82dbb5f9a3da","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"d5fac82f-8b09-4d24-9d8b-6bed8f72daa9","name":"tf-volume-hungry-mendeleev","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.412326Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.931918ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/0e155aac-5f0a-48d0-a4fd-82dbb5f9a3da
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.412326Z","id":"0e155aac-5f0a-48d0-a4fd-82dbb5f9a3da","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"d5fac82f-8b09-4d24-9d8b-6bed8f72daa9","name":"tf-volume-hungry-mendeleev","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.412326Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.821316ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-ds-block-snapshot-basic-tf&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-05-18T09:54:17.412326Z","id":"0e155aac-5f0a-48d0-a4fd-82dbb5f9a3da","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"d5fac82f-8b09-4d24-9d8b-6bed8f72daa9","name":"tf-volume-hungry-mendeleev","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-05-18T09:54:17.412326Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.239462ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/0e155aac-5f0a-48d0-a4fd-82dbb5f9a3da
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"0e155aac-5f0a-48d0-a4fd-82dbb5f9a3da","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.491745ms
[...]
