---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-relaxed-almeida","perf_iops":5000,"project_id":"8c9603bc-51be-43e0-9424-c7f261e088b9","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-23T07:49:09.209215Z","id":"c21eac0e-4a74-443c-a187-29a981a69889","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-relaxed-almeida","parent_snapshot_id":null,"project_id":"8c9603bc-51be-43e0-9424-c7f261e088b9","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-23T07:49:09.209215Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 244.389157ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.803605ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/c21eac0e-4a74-443c-a187-29a981a69889
        method: GET
      response:
        body: '{"created_at":"2026-09-23T07:49:09.209215Z","id":"c21eac0e-4a74-443c-a187-29a981a69889","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-relaxed-almeida","parent_snapshot_id":null,"project_id":"8c9603bc-51be-43e0-9424-c7f261e088b9","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-09-23T07:49:09.319451Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.123553ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"c21eac0e-4a74-443c-a187-29a981a69889","name":"test-ds-block-snapshots-basic-tf","project_id":"8c9603bc-51be-43e0-9424-c7f261e088b9","tags":["test-ds-block-snapshots-basic-tf","first"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-23T07:49:09.608439Z","id":"435ec960-a9fb-4071-9b82-fa9f60a1596e","kms_key_id":null,"name":"test-ds-block-snapshots-basic-tf","parent_volume":{"id":"c21eac0e-4a74-443c-a187-29a981a69889","name":"tf-volume-relaxed-almeida","status":"available","type":"sbs_5k"},"project_id":"8c9603bc-51be-43e0-9424-c7f261e088b9","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":["test-ds-block-snapshots-basic-tf","first"],"updated_at":"2026-09-23T07:49:09.608439Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.303233ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/435ec960-a9fb-4071-9b82-fa9f60a1596e
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-23T07:49:09.608439Z","id":"435ec960-a9fb-4071-9b82-fa9f60a1596e","kms_key_id":null,"name":"test-ds-block-snapshots-basic-tf","parent_volume":{"id":"c21eac0e-4a74-443c-a187-29a981a69889","name":"tf-volume-relaxed-almeida","status":"available","type":"sbs_5k"},"project_id":"8c9603bc-51be-43e0-9424-c7f261e088b9","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":["test-ds-block-snapshots-basic-tf","first"],"updated_at":"2026-09-23T07:49:09.608439Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.27165ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-ds-block-snapshots-nonexistent-tf&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.802814ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&tags=test-ds-block-snapshots-basic-tf
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-09-23T07:49:09.608439Z","id":"435ec960-a9fb-4071-9b82-fa9f60a1596e","kms_key_id":null,"name":"test-ds-block-snapshots-basic-tf",[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_desc&page=1&tags=test-ds-block-snapshots-basic-tf
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-09-23T07:49:15.026018Z","id":"8ea063fb-d1bf-4048-a16c-e7e998278f82","kms_key_id":null,"name":"test-ds-block-snapshots-other-tf"[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-ds-block-snapshots-basic-tf&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-09-23T07:49:09.608439Z","id":"435ec960-a9fb-4071-9b82-fa9f60a1596e","kms_key_id":null,"name":"test-ds-block-snapshots-basic-tf","parent_volume":{"id":"c21eac0e-4a74-443c-a187-29a981a69889","name":"tf-volume-relaxed-almeida","status":"available","type":"sbs_5k"},"project_id":"8c9603bc-51be-43e0-9424-c7f261e088b9","public":false,"references":[],"size":10000000000,"srn":"","status":"available","tags":["test-ds-block-snapshots-basic-tf","first"],"updated_at":"2026-09-23T07:49:11.354844Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.889585ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&volume_id=c21eac0e-4a74-443c-a187-29a981a69889
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-09-23T07:49:09.608439Z","id":"435ec960-a9fb-4071-9b82-fa9f60a1596e","kms_key_id":null,"name":"test-ds-block-snapshots-b[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/8ea063fb-d1bf-4048-a16c-e7e998278f82
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"8ea063fb-d1bf-4048-a16c-e7e998278f82","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 62.682891ms
[...]
