---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-epic-engelbart","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-30T09:59:27.509023Z","id":"2ed7562f-c0b2-4844-8f07-a39fa2146b5e","last_detached_at":null,"name":"tf-volume-epic-engelbart","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.509023Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.539152ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/2ed7562f-c0b2-4844-8f07-a39fa2146b5e
        method: GET
      response:
        body: '{"created_at":"2025-12-30T09:59:27.509023Z","id":"2ed7562f-c0b2-4844-8f07-a39fa2146b5e","last_detached_at":null,"name":"tf-volume-epic-engelbart","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.509023Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.453893ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2ed7562f-c0b2-4844-8f07-a39fa2146b5e","name":"test-ds-block-snapshot-basic-tf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:33.261211Z","id":"31933df6-5f7b-4db9-8cb4-8bfc5a0dc979","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"2ed7562f-c0b2-4844-8f07-a39fa2146b5e","name":"tf-volume-epic-engelbart","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:33.261211Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 490.605795ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/31933df6-5f7b-4db9-8cb4-8bfc5a0dc979
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:33.261211Z","id":"31933df6-5f7b-4db9-8cb4-8bfc5a0dc979","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"2ed7562f-c0b2-4844-8f07-a39fa2146b5e","name":"tf-volume-epic-engelbart","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:33.261211Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.637933ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-ds-block-snapshot-basic-tf&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2025-12-30T09:59:33.261211Z","id":"31933df6-5f7b-4db9-8cb4-8bfc5a0dc979","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"2ed7562f-c0b2-4844-8f07-a39fa2146b5e","name":"tf-volume-epic-engelbart","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2025-12-30T09:59:33.261211Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.571797ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/31933df6-5f7b-4db9-8cb4-8bfc5a0dc979
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"31933df6-5f7b-4db9-8cb4-8bfc5a0dc979","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.556568ms
[...]
