---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-festive-murdock","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-15T15:34:02.479874Z","id":"2f607529-b9e9-403d-9798-67d0dd11d94c","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-festive-murdock","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-15T15:34:02.479874Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.504292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/2f607529-b9e9-403d-9798-67d0dd11d94c
        method: GET
      response:
        body: '{"created_at":"2026-06-15T15:34:02.479874Z","id":"2f607529-b9e9-403d-9798-67d0dd11d94c","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-festive-murdock","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-15T15:34:02.479874Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.297291ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2f607529-b9e9-403d-9798-67d0dd11d94c","name":"test-ds-block-snapshot-basic-tf","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-15T15:34:07.741101Z","id":"409e5776-971e-42a9-a94a-b29b6b1aff4a","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"2f607529-b9e9-403d-9798-67d0dd11d94c","name":"tf-volume-festive-murdock","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-06-15T15:34:07.741101Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.275542ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/409e5776-971e-42a9-a94a-b29b6b1aff4a
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-15T15:34:07.741101Z","id":"409e5776-971e-42a9-a94a-b29b6b1aff4a","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"2f607529-b9e9-403d-9798-67d0dd11d94c","name":"tf-volume-festive-murdock","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-06-15T15:34:07.741101Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.802958ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-ds-block-snapshot-basic-tf&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-15T15:34:07.741101Z","id":"409e5776-971e-42a9-a94a-b29b6b1aff4a","name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"2f607529-b9e9-403d-9798-67d0dd11d94c","name":"tf-volume-festive-murdock","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-15T15:34:07.741101Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.275625ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/409e5776-971e-42a9-a94a-b29b6b1aff4a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"409e5776-971e-42a9-a94a-b29b6b1aff4a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.833583ms
[...]
