---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-ds-block-volume-basic","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-30T09:59:27.540409Z","id":"ea86ec1a-bf2f-43f8-9816-0e699aeb967e","last_detached_at":null,"name":"test-ds-block-volume-basic","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.540409Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 664.895455ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/ea86ec1a-bf2f-43f8-9816-0e699aeb967e
        method: GET
      response:
        body: '{"created_at":"2025-12-30T09:59:27.540409Z","id":"ea86ec1a-bf2f-43f8-9816-0e699aeb967e","last_detached_at":null,"name":"test-ds-block-volume-basic","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.540409Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.854772ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=test-ds-block-volume-basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"volumes":[{"created_at":"2025-12-30T09:59:27.540409Z","id":"ea86ec1a-bf2f-43f8-9816-0e699aeb967e","last_detached_at":null,"name":"test-ds-block-volume-basic","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.540409Z","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.612777ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/ea86ec1a-bf2f-43f8-9816-0e699aeb967e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"ea86ec1a-bf2f-43f8-9816-0e699aeb967e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.754953ms
[...]
