---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-kind-solomon","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-24T14:07:48.015440Z","id":"48d476d3-2a63-4ba8-8089-b4f8ec8b4245","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-kind-solomon","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T14:07:48.015440Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.107291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.941709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/48d476d3-2a63-4ba8-8089-b4f8ec8b4245
        method: GET
      response:
        body: '{"created_at":"2026-09-24T14:07:48.015440Z","id":"48d476d3-2a63-4ba8-8089-b4f8ec8b4245","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-kind-solomon","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T14:07:48.015440Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.226833ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"volume_id":"48d476d3-2a63-4ba8-8089-b4f8ec8b4245","name":"test-ds-block-snapshot-basic-tf","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T14:07:53.336519Z","id":"5dfbef61-29de-4289-9d6f-80cc7eeddf95","kms_key_id":null,"name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"48d476d3-2a63-4ba8-8089-b4f8ec8b4245","name":"tf-volume-kind-solomon","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T14:07:53.336519Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 151.903792ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/5dfbef61-29de-4289-9d6f-80cc7eeddf95
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T14:07:53.336519Z","id":"5dfbef61-29de-4289-9d6f-80cc7eeddf95","kms_key_id":null,"name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"48d476d3-2a63-4ba8-8089-b4f8ec8b4245","name":"tf-volume-kind-solomon","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T14:07:53.336519Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.292666ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-ds-block-snapshot-basic-tf&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-09-24T14:07:53.336519Z","id":"5dfbef61-29de-4289-9d6f-80cc7eeddf95","kms_key_id":null,"name":"test-ds-block-snapshot-basic-tf","parent_volume":{"id":"48d476d3-2a63-4ba8-8089-b4f8ec8b4245","name":"tf-volume-kind-solomon","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"available","tags":[],"updated_at":"2026-09-24T14:07:54.562827Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 95.81225ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/5dfbef61-29de-4289-9d6f-80cc7eeddf95
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"5dfbef61-29de-4289-9d6f-80cc7eeddf95","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 27.429417ms
[...]
