---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-2","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-15T14:43:39.066675Z","id":"d7f486cf-8eb2-4879-917d-baf569242af5","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-2","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-15T14:43:39.066675Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.583291ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/d7f486cf-8eb2-4879-917d-baf569242af5
        method: GET
      response:
        body: '{"created_at":"2026-06-15T14:43:39.066675Z","id":"d7f486cf-8eb2-4879-917d-baf569242af5","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-2","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-15T14:43:39.066675Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.180667ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d7f486cf-8eb2-4879-917d-baf569242af5","name":"test-snapshot-list-2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-15T14:43:44.377187Z","id":"6d9a9608-1cab-4ff1-9ea9-9e786cee0ec1","name":"test-snapshot-list-2","parent_volume":{"id":"d7f486cf-8eb2-4879-917d-baf569242af5","name":"test-vol-snapshot-list-2","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-15T14:43:44.377187Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.261375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/6d9a9608-1cab-4ff1-9ea9-9e786cee0ec1
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-15T14:43:44.377187Z","id":"6d9a9608-1cab-4ff1-9ea9-9e786cee0ec1","name":"test-snapshot-list-2","parent_volume":{"id":"d7f486cf-8eb2-4879-917d-baf569242af5","name":"test-vol-snapshot-list-2","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-15T14:43:44.377187Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.917459ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=4d333544-41be-4b0b-8907-0b9036859747&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2021-09-28T11:34:03.639363Z","description":"","id":"4d333544-41be-4b0b-8907-0b9036859747","name":"default","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2021-09-28T11:34:03.639363Z"},{"created_at":"2026-05-21T17:42:36.134011Z","description":"","id":"aa50d9e5-939f-4051-95a0-d9dcb0985414","name":"tf-test-scaleway-project-1569204375867398329","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-21T17:42:36.134011Z"},{"created_at":"2026-05-25T09:31:31.063260Z","description":"","id":"5949f8f5-05e3-482e-b796-5e186d7a22[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=c8d2bfae-1812-4293-9043-793cd9ca3851
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.104125ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=eca29ca5-01d6-4dc2-9b7a-b82bc3afc671
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.94325ms
[...]
    - id: 117
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=897d448b-0fb6-47ac-ba9e-35ef46b76fe2
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.796ms
[...]
    - id: 162
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=6b0a233a-b4a7-401d-a03c-067c1eea4bb0
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.848042ms
[...]
    - id: 182
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&volume_id=a19bcc75-d65f-4eb7-b6cb-914c2c16ed8b
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-15T14:43:44.374255Z","id":"b796aa9b-cb08-4135-838f-9c1f89c64f65","name":"test-snapshot-list-1","parent_volume":{"id":"a19bcc75-d65f-4eb7-b6cb-914c2c16ed8b","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-15T14:43:44.374255Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.563167ms
[...]
    - id: 184
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=d634463c-6bbe-45d4-afb8-7b49e6f07a92
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.705708ms
[...]
    - id: 232
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.264709ms
[...]
    - id: 278
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.071833ms
[...]
    - id: 327
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.140292ms
[...]
    - id: 345
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=897d448b-0fb6-47ac-ba9e-35ef46b76fe2&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.914083ms
[...]
    - id: 393
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.651208ms
[...]
    - id: 441
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.58225ms
[...]
    - id: 487
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.44475ms
[...]
    - id: 511
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/b796aa9b-cb08-4135-838f-9c1f89c64f65
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"b796aa9b-cb08-4135-838f-9c1f89c64f65","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.205208ms
[...]
