---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-1","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-29T10:05:39.134239Z","id":"f34cf984-965f-4430-a83d-c9bb3d7347ae","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:05:39.134239Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.200042ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/f34cf984-965f-4430-a83d-c9bb3d7347ae
        method: GET
      response:
        body: '{"created_at":"2026-06-29T10:05:39.134239Z","id":"f34cf984-965f-4430-a83d-c9bb3d7347ae","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:05:39.134239Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.305583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-3","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-29T10:05:39.182873Z","id":"f867692c-fb2c-4a23-85da-093df6689d9a","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:05:39.182873Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.469917ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes/f867692c-fb2c-4a23-85da-093df6689d9a
        method: GET
      response:
        body: '{"created_at":"2026-06-29T10:05:39.182873Z","id":"f867692c-fb2c-4a23-85da-093df6689d9a","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:05:39.182873Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.372583ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"volume_id":"f34cf984-965f-4430-a83d-c9bb3d7347ae","name":"test-snapshot-list-1","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:05:44.411783Z","id":"bcd8ff7e-dcbe-4897-9fa0-4d141d4e93a9","name":"test-snapshot-list-1","parent_volume":{"id":"f34cf984-965f-4430-a83d-c9bb3d7347ae","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-06-29T10:05:44.411783Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.263167ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/bcd8ff7e-dcbe-4897-9fa0-4d141d4e93a9
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:05:44.411783Z","id":"bcd8ff7e-dcbe-4897-9fa0-4d141d4e93a9","name":"test-snapshot-list-1","parent_volume":{"id":"f34cf984-965f-4430-a83d-c9bb3d7347ae","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-06-29T10:05:44.411783Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.279541ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"volume_id":"f867692c-fb2c-4a23-85da-093df6689d9a","name":"test-snapshot-list-3","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:05:44.686895Z","id":"29704246-a3eb-4f25-939a-c1532ce963fd","name":"test-snapshot-list-3","parent_volume":{"id":"f867692c-fb2c-4a23-85da-093df6689d9a","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-29T10:05:44.686895Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.208041ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots/29704246-a3eb-4f25-939a-c1532ce963fd
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:05:44.686895Z","id":"29704246-a3eb-4f25-939a-c1532ce963fd","name":"test-snapshot-list-3","parent_volume":{"id":"f867692c-fb2c-4a23-85da-093df6689d9a","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-29T10:05:44.686895Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.76ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=4d333544-41be-4b0b-8907-0b9036859747&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2021-09-28T11:34:03.639363Z","description":"","id":"4d333544-41be-4b0b-8907-0b9036859747","name":"default","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2021-09-28T11:34:03.639363Z"},{"created_at":"2026-05-21T17:42:36.134011Z","description":"","id":"aa50d9e5-939f-4051-95a0-d9dcb0985414","name":"tf-test-scaleway-project-1569204375867398329","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-21T17:42:36.134011Z"},{"created_at":"2026-05-25T09:31:31.063260Z","description":"","id":"5949f8f5-05e3-482e-b796-5e186d7a22[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=82b67f79-5618-4d43-abd3-919ee3d2b2a1
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.34175ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=7a1b1a02-07e7-4ec4-aaac-b688b4d999dd
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.825917ms
[...]
    - id: 139
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.919791ms
[...]
    - id: 188
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=7a1b1a02-07e7-4ec4-aaac-b688b4d999dd
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.937958ms
[...]
    - id: 212
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&volume_id=f34cf984-965f-4430-a83d-c9bb3d7347ae
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-29T10:05:44.411783Z","id":"bcd8ff7e-dcbe-4897-9fa0-4d141d4e93a9","name":"test-snapshot-list-1","parent_volume":{"id":"f34cf984-965f-4430-a83d-c9bb3d7347ae","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-29T10:05:44.411783Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.567625ms
[...]
    - id: 216
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.072625ms
[...]
    - id: 270
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.826542ms
[...]
    - id: 324
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=5949f8f5-05e3-482e-b796-5e186d7a222b
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.77525ms
[...]
    - id: 370
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: ""
        headers:
        status: 429 Too Many Requests
        code: 429
        duration: 15.068708ms
[...]
    - id: 406
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=e6727545-fc3e-46f4-ba20-f78a13be842c&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.395292ms
[...]
    - id: 460
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.977166ms
[...]
    - id: 514
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.177167ms
[...]
    - id: 561
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.124542ms
[...]
    - id: 591
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/bcd8ff7e-dcbe-4897-9fa0-4d141d4e93a9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"bcd8ff7e-dcbe-4897-9fa0-4d141d4e93a9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.3105ms
[...]
