---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-1","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-07-06T09:37:14.523639Z","id":"14a7a513-047e-456f-9c19-19c9664cde57","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-07-06T09:37:14.523639Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.224630029s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/14a7a513-047e-456f-9c19-19c9664cde57
        method: GET
      response:
        body: '{"created_at":"2026-07-06T09:37:14.523639Z","id":"14a7a513-047e-456f-9c19-19c9664cde57","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-07-06T09:37:14.637093Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.825266ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"14a7a513-047e-456f-9c19-19c9664cde57","name":"test-snapshot-list-1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-07-06T09:37:15.944405Z","id":"e43fbcd5-d073-4547-8015-ef17ca516544","name":"test-snapshot-list-1","parent_volume":{"id":"14a7a513-047e-456f-9c19-19c9664cde57","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-07-06T09:37:15.944405Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.824627ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e43fbcd5-d073-4547-8015-ef17ca516544
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-07-06T09:37:15.944405Z","id":"e43fbcd5-d073-4547-8015-ef17ca516544","name":"test-snapshot-list-1","parent_volume":{"id":"14a7a513-047e-456f-9c19-19c9664cde57","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-07-06T09:37:15.944405Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.489101ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-3","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes
        method: POST
      response:
        body: '{"created_at":"2026-07-06T09:37:30.745160Z","id":"d336e6d9-e29d-4188-8a83-1d05dd22acea","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-07-06T09:37:30.745160Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.240097ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes/d336e6d9-e29d-4188-8a83-1d05dd22acea
        method: GET
      response:
        body: '{"created_at":"2026-07-06T09:37:30.745160Z","id":"d336e6d9-e29d-4188-8a83-1d05dd22acea","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-07-06T09:37:30.863996Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.652244ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d336e6d9-e29d-4188-8a83-1d05dd22acea","name":"test-snapshot-list-3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-07-06T09:37:31.856564Z","id":"18dfb51d-968d-4a97-9c4d-75b1f1eeebfb","name":"test-snapshot-list-3","parent_volume":{"id":"d336e6d9-e29d-4188-8a83-1d05dd22acea","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-07-06T09:37:31.856564Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 604.347334ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots/18dfb51d-968d-4a97-9c4d-75b1f1eeebfb
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-07-06T09:37:31.856564Z","id":"18dfb51d-968d-4a97-9c4d-75b1f1eeebfb","name":"test-snapshot-list-3","parent_volume":{"id":"d336e6d9-e29d-4188-8a83-1d05dd22acea","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-07-06T09:37:31.856564Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.296505ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"},{"created_at":"2026-03-20T14:23:22.795657Z","description":"","id":"56423ff7-eb46-408f-b8b5-6eb87d4200ad","name":"tf-test-scaleway-project-4785242219649561198","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-03-20T14:23:22.795657Z"},{"created_at":"2026-03-20T15:48:53.227464Z","description":"","id":"2cb2eea6-7773-4d63-becb-a742e63642[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=5b475a03-0f19-4174-9055-b5236f556f57
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.310908ms
[...]
    - id: 214
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=5ec0c0e9-e4ec-4e33-b54f-680d61f5279e
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.703007ms
[...]
    - id: 388
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.914208ms
[...]
    - id: 562
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=ff7335e1-6fab-45f9-aff8-d774b71e7f74
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.600772103s
[...]
