---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-2","perf_iops":5000,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-30T15:08:59.311081Z","id":"49f69324-80a2-4cdd-91ba-d81d3b4bf0df","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-2","parent_snapshot_id":null,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-30T15:08:59.311081Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 323.24475ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/49f69324-80a2-4cdd-91ba-d81d3b4bf0df
        method: GET
      response:
        body: '{"created_at":"2026-06-30T15:08:59.311081Z","id":"49f69324-80a2-4cdd-91ba-d81d3b4bf0df","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-2","parent_snapshot_id":null,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-30T15:08:59.311081Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.490375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-3","perf_iops":5000,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-30T15:08:59.366914Z","id":"ab6559d5-a734-4609-8ca4-f1061cbf14f3","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-30T15:08:59.366914Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.723041ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes/ab6559d5-a734-4609-8ca4-f1061cbf14f3
        method: GET
      response:
        body: '{"created_at":"2026-06-30T15:08:59.366914Z","id":"ab6559d5-a734-4609-8ca4-f1061cbf14f3","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-30T15:08:59.366914Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.426458ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"volume_id":"49f69324-80a2-4cdd-91ba-d81d3b4bf0df","name":"test-snapshot-list-2","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-30T15:09:04.617524Z","id":"eb109957-d4f2-48ea-8640-0a56fca07963","name":"test-snapshot-list-2","parent_volume":{"id":"49f69324-80a2-4cdd-91ba-d81d3b4bf0df","name":"test-vol-snapshot-list-2","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-30T15:09:04.617524Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.48175ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/eb109957-d4f2-48ea-8640-0a56fca07963
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-30T15:09:04.617524Z","id":"eb109957-d4f2-48ea-8640-0a56fca07963","name":"test-snapshot-list-2","parent_volume":{"id":"49f69324-80a2-4cdd-91ba-d81d3b4bf0df","name":"test-vol-snapshot-list-2","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-30T15:09:04.617524Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.409708ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"volume_id":"ab6559d5-a734-4609-8ca4-f1061cbf14f3","name":"test-snapshot-list-3","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-30T15:09:04.883346Z","id":"c53967c9-4970-49eb-a2ff-c17ab6e3b332","name":"test-snapshot-list-3","parent_volume":{"id":"ab6559d5-a734-4609-8ca4-f1061cbf14f3","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-30T15:09:04.883346Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.841917ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots/c53967c9-4970-49eb-a2ff-c17ab6e3b332
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-30T15:09:04.883346Z","id":"c53967c9-4970-49eb-a2ff-c17ab6e3b332","name":"test-snapshot-list-3","parent_volume":{"id":"ab6559d5-a734-4609-8ca4-f1061cbf14f3","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-30T15:09:04.883346Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.508125ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=951df375-e094-4d26-97c1-ba548eeb9c42&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-05-28T13:00:42.821544Z","description":"","id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"default","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-29T11:15:48.235677Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.1735ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-30T15:09:04.617524Z","id":"eb109957-d4f2-48ea-8640-0a56fca07963","name":"test-snapshot-list-2","parent_volume":{"id":"49f69324-80a2-4cdd-91ba-d81d3b4bf0df","name":"test-vol-snapshot-list-2","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"available","tags":["test-tag"],"updated_at":"2026-06-30T15:09:04.617524Z","zone":"fr-par-1"},{"class":"sbs","created_at":"2026-06-30T15:09:04.626268Z","id":"a5488a11-7ee7-4df9-80d1-ef46aefc903e","name":"test-snapshot-list-1","parent_volume":{"id":"03c2b371-b89f-4644-98c6-abe04ae4ec31","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-30T15:09:04.626268Z","zone":"fr-par-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.771917ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.0815ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-30T15:09:04.883346Z","id":"c53967c9-4970-49eb-a2ff-c17ab6e3b332","name":"test-snapshot-list-3","parent_volume":{"id":"ab6559d5-a734-4609-8ca4-f1061cbf14f3","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"available","tags":["test-tag"],"updated_at":"2026-06-30T15:09:06.086027Z","zone":"pl-waw-2"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.065167ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.724083ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&volume_id=03c2b371-b89f-4644-98c6-abe04ae4ec31
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-30T15:09:04.626268Z","id":"a5488a11-7ee7-4df9-80d1-ef46aefc903e","name":"test-snapshot-list-1","parent_volume":{"id":"03c2b371-b89f-4644-98c6-abe04ae4ec31","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-30T15:09:04.626268Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.619ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-30T15:09:04.626268Z","id":"a5488a11-7ee7-4df9-80d1-ef46aefc903e","name":"test-snapshot-list-1","parent_volume":{"id":"03c2b371-b89f-4644-98c6-abe04ae4ec31","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-30T15:09:04.626268Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.99975ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-3/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.751042ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.259625ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.173167ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.945417ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.367041ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-30T15:09:04.883346Z","id":"c53967c9-4970-49eb-a2ff-c17ab6e3b332","name":"test-snapshot-list-3","parent_volume":{"id":"ab6559d5-a734-4609-8ca4-f1061cbf14f3","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","public":false,"references":[],"size":10000000000,"status":"available","tags":["test-tag"],"updated_at":"2026-06-30T15:09:06.086027Z","zone":"pl-waw-2"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.510709ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.1665ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/eb109957-d4f2-48ea-8640-0a56fca07963
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"eb109957-d4f2-48ea-8640-0a56fca07963","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.651375ms
[...]
