---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-1","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-29T10:24:45.113953Z","id":"6579e6d9-2801-4dbc-8441-b6733d93eb77","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:24:45.113953Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.887083ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/6579e6d9-2801-4dbc-8441-b6733d93eb77
        method: GET
      response:
        body: '{"created_at":"2026-06-29T10:24:45.113953Z","id":"6579e6d9-2801-4dbc-8441-b6733d93eb77","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:24:45.113953Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.582583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-3","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-29T10:24:45.164440Z","id":"cbec1268-d354-4167-86ad-4548847e03cc","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:24:45.164440Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.375208ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes/cbec1268-d354-4167-86ad-4548847e03cc
        method: GET
      response:
        body: '{"created_at":"2026-06-29T10:24:45.164440Z","id":"cbec1268-d354-4167-86ad-4548847e03cc","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-06-29T10:24:45.164440Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.757958ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"volume_id":"6579e6d9-2801-4dbc-8441-b6733d93eb77","name":"test-snapshot-list-1","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:24:50.394479Z","id":"7852e80f-273d-4e27-825e-f7e44cec805c","name":"test-snapshot-list-1","parent_volume":{"id":"6579e6d9-2801-4dbc-8441-b6733d93eb77","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-06-29T10:24:50.394479Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.489334ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/7852e80f-273d-4e27-825e-f7e44cec805c
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:24:50.394479Z","id":"7852e80f-273d-4e27-825e-f7e44cec805c","name":"test-snapshot-list-1","parent_volume":{"id":"6579e6d9-2801-4dbc-8441-b6733d93eb77","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-06-29T10:24:50.394479Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.166959ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"volume_id":"cbec1268-d354-4167-86ad-4548847e03cc","name":"test-snapshot-list-3","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:24:50.655968Z","id":"6450c3b5-1b37-456f-bc10-1e64bbc76b75","name":"test-snapshot-list-3","parent_volume":{"id":"cbec1268-d354-4167-86ad-4548847e03cc","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-29T10:24:50.655968Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.498167ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots/6450c3b5-1b37-456f-bc10-1e64bbc76b75
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-29T10:24:50.655968Z","id":"6450c3b5-1b37-456f-bc10-1e64bbc76b75","name":"test-snapshot-list-3","parent_volume":{"id":"cbec1268-d354-4167-86ad-4548847e03cc","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-29T10:24:50.655968Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.228084ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=4d333544-41be-4b0b-8907-0b9036859747&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2021-09-28T11:34:03.639363Z","description":"","id":"4d333544-41be-4b0b-8907-0b9036859747","name":"default","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2021-09-28T11:34:03.639363Z"},{"created_at":"2026-05-21T17:42:36.134011Z","description":"","id":"aa50d9e5-939f-4051-95a0-d9dcb0985414","name":"tf-test-scaleway-project-1569204375867398329","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-21T17:42:36.134011Z"},{"created_at":"2026-05-25T09:31:31.063260Z","description":"","id":"5949f8f5-05e3-482e-b796-5e186d7a22[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=5949f8f5-05e3-482e-b796-5e186d7a222b
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.709417ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=7a1b1a02-07e7-4ec4-aaac-b688b4d999dd
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.306208ms
[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=5949f8f5-05e3-482e-b796-5e186d7a222b
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.895083ms
[...]
    - id: 189
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: ""
        headers:
        status: 429 Too Many Requests
        code: 429
        duration: 13.383ms
[...]
    - id: 226
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&volume_id=6579e6d9-2801-4dbc-8441-b6733d93eb77
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-29T10:24:50.394479Z","id":"7852e80f-273d-4e27-825e-f7e44cec805c","name":"test-snapshot-list-1","parent_volume":{"id":"6579e6d9-2801-4dbc-8441-b6733d93eb77","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-29T10:24:50.394479Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.810458ms
[...]
    - id: 230
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=c8d2bfae-1812-4293-9043-793cd9ca3851
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.8245ms
[...]
    - id: 284
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.637083ms
[...]
    - id: 338
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.771958ms
[...]
    - id: 390
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=5949f8f5-05e3-482e-b796-5e186d7a222b
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.722458ms
[...]
    - id: 411
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=0eef4842-fe4f-4d98-8742-1d55118419c4&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.223125ms
[...]
    - id: 464
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.627667ms
[...]
    - id: 519
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.504959ms
[...]
    - id: 564
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.414625ms
[...]
    - id: 596
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/7852e80f-273d-4e27-825e-f7e44cec805c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"7852e80f-273d-4e27-825e-f7e44cec805c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.879875ms
[...]
