---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-1","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-22T09:57:51.494746Z","id":"de2349c8-8748-4b4c-8b7f-a612d6d3cd8c","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-22T09:57:51.494746Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 147.03ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.289542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/de2349c8-8748-4b4c-8b7f-a612d6d3cd8c
        method: GET
      response:
        body: '{"created_at":"2026-09-22T09:57:51.494746Z","id":"de2349c8-8748-4b4c-8b7f-a612d6d3cd8c","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-22T09:57:51.494746Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.461458ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"de2349c8-8748-4b4c-8b7f-a612d6d3cd8c","name":"test-snapshot-list-1","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-22T09:57:56.752936Z","id":"998e67f6-17da-4d45-ae8a-aab9195ee395","kms_key_id":null,"name":"test-snapshot-list-1","parent_volume":{"id":"de2349c8-8748-4b4c-8b7f-a612d6d3cd8c","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-22T09:57:56.752936Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 143.930833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/998e67f6-17da-4d45-ae8a-aab9195ee395
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-22T09:57:56.752936Z","id":"998e67f6-17da-4d45-ae8a-aab9195ee395","kms_key_id":null,"name":"test-snapshot-list-1","parent_volume":{"id":"de2349c8-8748-4b4c-8b7f-a612d6d3cd8c","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-22T09:57:56.752936Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.461791ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-3","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-22T09:58:09.096286Z","id":"ac8bdbda-f047-4720-956f-0a0520b2b7cb","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-22T09:58:09.096286Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 275.359ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes/ac8bdbda-f047-4720-956f-0a0520b2b7cb
        method: GET
      response:
        body: '{"created_at":"2026-09-22T09:58:09.096286Z","id":"ac8bdbda-f047-4720-956f-0a0520b2b7cb","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-09-22T09:58:09.221401Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 104.099375ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"volume_id":"ac8bdbda-f047-4720-956f-0a0520b2b7cb","name":"test-snapshot-list-3","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-22T09:58:09.476599Z","id":"1a92dbae-8349-40d8-a67f-88d9fb3b0e06","kms_key_id":null,"name":"test-snapshot-list-3","parent_volume":{"id":"ac8bdbda-f047-4720-956f-0a0520b2b7cb","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":["test-tag"],"updated_at":"2026-09-22T09:58:09.476599Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 215.912167ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots/1a92dbae-8349-40d8-a67f-88d9fb3b0e06
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-22T09:58:09.476599Z","id":"1a92dbae-8349-40d8-a67f-88d9fb3b0e06","kms_key_id":null,"name":"test-snapshot-list-3","parent_volume":{"id":"ac8bdbda-f047-4720-956f-0a0520b2b7cb","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":["test-tag"],"updated_at":"2026-09-22T09:58:09.476599Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 183.368583ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=4d333544-41be-4b0b-8907-0b9036859747&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2021-09-28T11:34:03.639363Z","description":"","id":"4d333544-41be-4b0b-8907-0b9036859747","name":"default","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2021-09-28T11:34:03.639363Z"},{"created_at":"2026-09-16T13:20:33.214759Z","description":"","id":"dca1d8fc-0d52-4501-af48-a551d112e350","name":"tf_tests_edge_services_project_backend-container","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2026-09-16T13:20:33.214759Z"},{"created_at":"2026-09-21T14:11:56.045410Z"[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-3/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.652375ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.19725ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.3525ms
[...]
    - id: 96
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.171875ms
[...]
    - id: 114
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/8cc56dbb-9d59-4466-9580-559048df585d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"8cc56dbb-9d59-4466-9580-559048df585d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 26.824875ms
[...]
