---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-1","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-24T10:59:29.580663Z","id":"ff999c28-fad7-47b2-bf34-a762556f0bd9","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T10:59:29.580663Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 542.061375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.123167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/ff999c28-fad7-47b2-bf34-a762556f0bd9
        method: GET
      response:
        body: '{"created_at":"2026-09-24T10:59:29.580663Z","id":"ff999c28-fad7-47b2-bf34-a762556f0bd9","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T10:59:29.697150Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.825958ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"ff999c28-fad7-47b2-bf34-a762556f0bd9","name":"test-snapshot-list-1","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:59:29.954003Z","id":"28dd272e-4221-433a-88f1-a07673f2eaa4","kms_key_id":null,"name":"test-snapshot-list-1","parent_volume":{"id":"ff999c28-fad7-47b2-bf34-a762556f0bd9","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T10:59:29.954003Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 122.906417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/28dd272e-4221-433a-88f1-a07673f2eaa4
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:59:29.954003Z","id":"28dd272e-4221-433a-88f1-a07673f2eaa4","kms_key_id":null,"name":"test-snapshot-list-1","parent_volume":{"id":"ff999c28-fad7-47b2-bf34-a762556f0bd9","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T10:59:29.954003Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.118167ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-3","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-24T10:59:47.729952Z","id":"0b83d754-4b79-44f1-b61c-dcf9cde18614","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T10:59:47.729952Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 320.62575ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/volumes/0b83d754-4b79-44f1-b61c-dcf9cde18614
        method: GET
      response:
        body: '{"created_at":"2026-09-24T10:59:47.729952Z","id":"0b83d754-4b79-44f1-b61c-dcf9cde18614","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-3","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T10:59:47.729952Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 106.728041ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"volume_id":"0b83d754-4b79-44f1-b61c-dcf9cde18614","name":"test-snapshot-list-3","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:59:53.340605Z","id":"5c8edfea-6889-4c3f-ab40-102fc465e446","kms_key_id":null,"name":"test-snapshot-list-3","parent_volume":{"id":"0b83d754-4b79-44f1-b61c-dcf9cde18614","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":["test-tag"],"updated_at":"2026-09-24T10:59:53.340605Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 245.059125ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-2/snapshots/5c8edfea-6889-4c3f-ab40-102fc465e446
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:59:53.340605Z","id":"5c8edfea-6889-4c3f-ab40-102fc465e446","kms_key_id":null,"name":"test-snapshot-list-3","parent_volume":{"id":"0b83d754-4b79-44f1-b61c-dcf9cde18614","name":"test-vol-snapshot-list-3","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":["test-tag"],"updated_at":"2026-09-24T10:59:53.340605Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 245.361916ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=4d333544-41be-4b0b-8907-0b9036859747&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2021-09-28T11:34:03.639363Z","description":"","id":"4d333544-41be-4b0b-8907-0b9036859747","name":"default","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"srn://account.scw.eu/projects/4d333544-41be-4b0b-8907-0b9036859747","status":"active","updated_at":"2021-09-28T11:34:03.639363Z"},{"created_at":"2026-09-16T13:20:33.214759Z","description":"","id":"dca1d8fc-0d52-4501-af48-a551d112e350","name":"tf_tests_edge_services_project_backend-container","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"srn://account.scw.eu/projects/dca1d8fc-0d52-4501-af48-a551d112e350","status":"active","updated_at":"2026-09-16T13:20:33.214759Z"},{"created_at":"2026-09-21T14:11:56.045410Z","description":"","id":"8e51cc75-bc17-411a-9fa8-d354e6ba9a7a","name":"tf_tests_cockpit_token_update","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"srn://account.scw.eu/projects/8e51cc75-bc17-411a-9fa8-d354e6ba9a7a","status":"active","updated_at":"2026-09-21T14:11:56.045410Z"},{"created_at":"2026-09-21T14:11:58.169836Z","description":"","id":"70c04666-54b0-494f-bf26-238388cfd4ed","name":"tf_tests_cockpit_sources_empty","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"srn://account.scw.eu/projects/70c04666-54b0-494f-bf26-238388cfd4ed","status":"active","updated_at":"2026-09-21T14:11:58.169836Z"}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.380667ms
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-3/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=8e51cc75-bc17-411a-9fa8-d354e6ba9a7a
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.620708ms
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=8e51cc75-bc17-411a-9fa8-d354e6ba9a7a
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.031958ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 105.344125ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.959ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&volume_id=ff999c28-fad7-47b2-bf34-a762556f0bd9
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-09-24T10:59:29.954003Z","id":"28dd272e-4221-433a-88f1-a07673f2eaa4","kms_key_id":null,"name":"test-snapshot-list-1","parent_volume":{"id":"ff999c28-fad7-47b2-bf34-a762556f0bd9","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"available","tags":[],"updated_at":"2026-09-24T10:59:31.688868Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.108667ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-3/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=8e51cc75-bc17-411a-9fa8-d354e6ba9a7a
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.29225ms
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=dca1d8fc-0d52-4501-af48-a551d112e350
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 65.483ms
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=8e51cc75-bc17-411a-9fa8-d354e6ba9a7a
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 98.326917ms
[...]
    - id: 122
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.97325ms
[...]
    - id: 134
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 30.871583ms
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=8e51cc75-bc17-411a-9fa8-d354e6ba9a7a&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.457375ms
[...]
    - id: 158
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.045416ms
    - id: 159
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "26"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.535459ms
[...]
    - id: 180
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/28dd272e-4221-433a-88f1-a07673f2eaa4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"28dd272e-4221-433a-88f1-a07673f2eaa4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 48.183208ms
[...]
