---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vol-snapshot-list-2","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-06-16T14:47:50.837973Z","id":"2109c51d-9d50-4d92-aab1-0dfb9729bbca","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-2","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-16T14:47:50.837973Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 540.105083ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/77bfc39f-fef3-496f-bb92-e8ca8157afe9
        method: GET
      response:
        body: '{"created_at":"2026-06-16T14:47:50.855953Z","id":"77bfc39f-fef3-496f-bb92-e8ca8157afe9","kms_key_id":null,"last_detached_at":null,"name":"test-vol-snapshot-list-1","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-06-16T14:47:50.855953Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.119625ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2109c51d-9d50-4d92-aab1-0dfb9729bbca","name":"test-snapshot-list-2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":["test-tag"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-06-16T14:47:51.670784Z","id":"4e98d1a6-3c6b-47fa-b049-55870aea67ac","name":"test-snapshot-list-2","parent_volume":{"id":"2109c51d-9d50-4d92-aab1-0dfb9729bbca","name":"test-vol-snapshot-list-2","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-16T14:47:51.670784Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.231959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4e98d1a6-3c6b-47fa-b049-55870aea67ac
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-06-16T14:47:51.670784Z","id":"4e98d1a6-3c6b-47fa-b049-55870aea67ac","name":"test-snapshot-list-2","parent_volume":{"id":"2109c51d-9d50-4d92-aab1-0dfb9729bbca","name":"test-vol-snapshot-list-2","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"creating","tags":["test-tag"],"updated_at":"2026-06-16T14:47:51.670784Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.934083ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=4d333544-41be-4b0b-8907-0b9036859747&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2021-09-28T11:34:03.639363Z","description":"","id":"4d333544-41be-4b0b-8907-0b9036859747","name":"default","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2021-09-28T11:34:03.639363Z"},{"created_at":"2026-05-21T17:42:36.134011Z","description":"","id":"aa50d9e5-939f-4051-95a0-d9dcb0985414","name":"tf-test-scaleway-project-1569204375867398329","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-21T17:42:36.134011Z"},{"created_at":"2026-05-25T09:31:31.063260Z","description":"","id":"5949f8f5-05e3-482e-b796-5e186d7a22[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=6b0a233a-b4a7-401d-a03c-067c1eea4bb0
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.547584ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=c8d2bfae-1812-4293-9043-793cd9ca3851
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.3365ms
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=7a1b1a02-07e7-4ec4-aaac-b688b4d999dd
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.116875ms
[...]
    - id: 161
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=5949f8f5-05e3-482e-b796-5e186d7a222b
        method: GET
      response:
        body: ""
        headers:
        status: 429 Too Many Requests
        code: 429
        duration: 14.959125ms
[...]
    - id: 186
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&volume_id=77bfc39f-fef3-496f-bb92-e8ca8157afe9
        method: GET
      response:
        body: '{"snapshots":[{"class":"sbs","created_at":"2026-06-16T14:47:56.645917Z","id":"50b9bf3a-950f-4dbd-b04d-0bba171826c7","name":"test-snapshot-list-1","parent_volume":{"id":"77bfc39f-fef3-496f-bb92-e8ca8157afe9","name":"test-vol-snapshot-list-1","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"status":"available","tags":[],"updated_at":"2026-06-16T14:47:56.645917Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.997416ms
[...]
    - id: 188
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=3250e560-35fb-42d1-be45-7b6fb974354f
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.958042ms
[...]
    - id: 236
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.179625ms
[...]
    - id: 283
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=82b67f79-5618-4d43-abd3-919ee3d2b2a1
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.069916ms
[...]
    - id: 325
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&name=test-snapshot-list-1&order_by=created_at_asc&page=1&project_id=aa50d9e5-939f-4051-95a0-d9dcb0985414
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.24375ms
[...]
    - id: 349
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=7a1b1a02-07e7-4ec4-aaac-b688b4d999dd&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.090958ms
[...]
    - id: 397
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=6b0a233a-b4a7-401d-a03c-067c1eea4bb0&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.163009666s
[...]
    - id: 445
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/pl-waw-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=6b0a233a-b4a7-401d-a03c-067c1eea4bb0&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.153792ms
[...]
    - id: 489
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/it-mil-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=test-tag
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.814334ms
[...]
    - id: 513
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/50b9bf3a-950f-4dbd-b04d-0bba171826c7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"50b9bf3a-950f-4dbd-b04d-0bba171826c7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.445334ms
[...]
