---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-strange-mayer","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T14:43:30.687758Z","id":"2fa882fa-47c6-4db3-b985-b419f53b8937","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-strange-mayer","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/2fa882fa-47c6-4db3-b985-b419f53b8937","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:43:30.687758Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 457.535375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 14.377958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/2fa882fa-47c6-4db3-b985-b419f53b8937
        method: GET
      response:
        body: '{"created_at":"2026-10-08T14:43:30.687758Z","id":"2fa882fa-47c6-4db3-b985-b419f53b8937","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-strange-mayer","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/2fa882fa-47c6-4db3-b985-b419f53b8937","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:43:30.687758Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.378667ms
    - id: 3
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3d514b5d-3e85-4dfe-9a41-89edd4b7c2b7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144330Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-block-snapshot-4592051310777981159
            X-Amz-Request-Id:
                - txg9781b7bf65f546fea71b-006ac7ac12
        status: 200 OK
        code: 200
        duration: 3.755334167s
[...]
    - id: 5
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e299a516-1dd8-445e-baf3-4a8172c3fa1a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144334Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg7c17fb5965264c609680-006ac7ac16
        status: 200 OK
        code: 200
        duration: 6.26396425s
    - id: 6
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 106de18c-403f-4acf-808b-8e4924357161
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144340Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgb496d947f3024592840d-006ac7ac1c
        status: 200 OK
        code: 200
        duration: 3.561732042s
    - id: 7
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 311863da-d749-41a8-8f09-cdfebf7aad47
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144341Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg5247f274840d458f8919-006ac7ac1f</RequestId><HostId>txg5247f274840d458f8919-006ac7ac1f</HostId><Resource>/tf-test-scaleway-export-block-snapshot-4592051310777981159</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5247f274840d458f8919-006ac7ac1f
        status: 404 Not Found
        code: 404
        duration: 4.177187958s
    - id: 8
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 24c38376-dbcb-47b3-83a2-a553fadc6ef8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144345Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-4592051310777981159</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge0196aaaebfa435faabd-006ac7ac24
        status: 200 OK
        code: 200
        duration: 7.125832458s
    - id: 9
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 16630917-5137-4e53-8ad9-bcf52d2de73f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144351Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg5a13ad0e38d64c259001-006ac7ac2b</RequestId><HostId>txg5a13ad0e38d64c259001-006ac7ac2b</HostId><Resource>/tf-test-scaleway-export-block-snapshot-4592051310777981159</Resource><BucketName>tf-test-scaleway-export-block-snapshot-4592051310777981159</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5a13ad0e38d64c259001-006ac7ac2b
        status: 404 Not Found
        code: 404
        duration: 3.577423542s
    - id: 10
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 57ad2d59-5137-49ff-b067-6d939fd6b2b1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144356Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgad293a7ceaf146f2864b-006ac7ac2e</RequestId><HostId>txgad293a7ceaf146f2864b-006ac7ac2e</HostId><Resource>/tf-test-scaleway-export-block-snapshot-4592051310777981159</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgad293a7ceaf146f2864b-006ac7ac2e
        status: 404 Not Found
        code: 404
        duration: 3.465769416s
    - id: 11
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d50994f3-6668-44d9-a64f-bea2dac6ea2c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144359Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg84da4a1015dc4efeb933-006ac7ac32
        status: 200 OK
        code: 200
        duration: 3.339395792s
    - id: 12
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 182742eb-98d8-4694-8a11-8082645b8c8e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144403Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg35a62bf184a344b999be-006ac7ac35</RequestId><HostId>txg35a62bf184a344b999be-006ac7ac35</HostId><Resource>/tf-test-scaleway-export-block-snapshot-4592051310777981159</Resource><BucketName>tf-test-scaleway-export-block-snapshot-4592051310777981159</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg35a62bf184a344b999be-006ac7ac35
        status: 404 Not Found
        code: 404
        duration: 2.884976584s
    - id: 13
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - eb4f4cc3-ef97-438e-b24f-cd112aa61e30
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20261008T144408Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txg3b32f67158474461bdc1-006ac7ac38
        status: 200 OK
        code: 200
        duration: 14.784748s
    - id: 14
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5da4e0f5-670a-4063-bced-5daa84be1434
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144423Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Thu, 08 Oct 2026 14:44:13 GMT
            X-Amz-Request-Id:
                - txg09feeb616a8047c5aad1-006ac7ac47
        status: 200 OK
        code: 200
        duration: 1.176645791s
    - id: 15
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 381b7153-3980-4fd7-8a10-6d53d78128f4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144423Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgcb808136427f4c7cbb08-006ac7ac48
        status: 200 OK
        code: 200
        duration: 2.57974925s
    - id: 16
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ce4eba53-1c60-452a-b5db-e16e6ce7a14e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144425[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2fa882fa-47c6-4db3-b985-b419f53b8937","name":"test-acc-export-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:44:29.476030Z","id":"a7e65b01-6848-454b-be6f-1e6bbc13bee0","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"2fa882fa-47c6-4db3-b985-b419f53b8937","name":"tf-volume-strange-mayer","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/a7e65b01-6848-454b-be6f-1e6bbc13bee0","status":"creating","tags":[],"updated_at":"2026-10-08T14:44:29.476030Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 185.948708ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a7e65b01-6848-454b-be6f-1e6bbc13bee0
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:44:29.476030Z","id":"a7e65b01-6848-454b-be6f-1e6bbc13bee0","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"2fa882fa-47c6-4db3-b985-b419f53b8937","name":"tf-volume-strange-mayer","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/a7e65b01-6848-454b-be6f-1e6bbc13bee0","status":"creating","tags":[],"updated_at":"2026-10-08T14:44:29.476030Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.7965ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-4592051310777981159","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a7e65b01-6848-454b-be6f-1e6bbc13bee0/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:44:29.476030Z","id":"a7e65b01-6848-454b-be6f-1e6bbc13bee0","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"2fa882fa-47c6-4db3-b985-b419f53b8937","name":"tf-volume-strange-mayer","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/a7e65b01-6848-454b-be6f-1e6bbc13bee0","status":"exporting","tags":[],"updated_at":"2026-10-08T14:44:34.629892Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 4.290210958s
[...]
    - id: 28
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ff965c73-2359-4e17-9e82-29e2c1016a02
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144444Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-4592051310777981159</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-10-08T14:44:40.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3684cd90468a4c1fbf3c-006ac7ac5c
        status: 200 OK
        code: 200
        duration: 52.006875ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a7e65b01-6848-454b-be6f-1e6bbc13bee0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"a7e65b01-6848-454b-be6f-1e6bbc13bee0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 39.685ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-4592051310777981159","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:44:47.481206Z","id":"8122e49b-9f69-4a61-abc0-eb4cc719ee81","kms_key_id":null,"name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/8122e49b-9f69-4a61-abc0-eb4cc719ee81","status":"creating","tags":[],"updated_at":"2026-10-08T14:44:47.481206Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 723.896208ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_snapshot":{"size":10000000000,"snapshot_id":"8122e49b-9f69-4a61-abc0-eb4cc719ee81"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T14:44:52.998569Z","id":"884c78c9-ae15-43fa-be5a-a2e00a5df400","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"8122e49b-9f69-4a61-abc0-eb4cc719ee81","project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/884c78c9-ae15-43fa-be5a-a2e00a5df400","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:44:52.998569Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 257.26ms
[...]
    - id: 97
      request:
        host: tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 353e730a-fb28-468c-8f3b-cf3b86a74916
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T144500Z
        url: https://tf-test-scaleway-export-block-snapshot-4592051310777981159.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg81e7d61fec02489a8335-006ac7ac6c
        status: 204 No Content
        code: 204
        duration: 86.175459ms
[...]
