---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-magical-diffie","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-01-14T14:57:20.307271Z","id":"e134d700-7209-419e-a74e-5192357ce7a7","last_detached_at":null,"name":"tf-volume-magical-diffie","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-01-14T14:57:20.307271Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.769417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/e134d700-7209-419e-a74e-5192357ce7a7
        method: GET
      response:
        body: '{"created_at":"2026-01-14T14:57:20.307271Z","id":"e134d700-7209-419e-a74e-5192357ce7a7","last_detached_at":null,"name":"tf-volume-magical-diffie","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-01-14T14:57:20.307271Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.809459ms
[...]
    - id: 3
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3ec9ebad-3f72-4761-aec9-2166b5bfed39
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145720Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-export-block-snapshot-8590729666812633215
            X-Amz-Request-Id:
                - txge3c106f7f1f241e084e7-006967aed0
        status: 200 OK
        code: 200
        duration: 4.61226925s
    - id: 4
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f743e783-80a5-4a9b-94ef-0b98584235aa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145724Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg15beddc2a92347a3955a-006967aed4
        status: 200 OK
        code: 200
        duration: 239.457041ms
    - id: 5
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 15829c3f-861d-439f-bebd-e5bba88f7345
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145724Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg9a018e9cfb10477288c7-006967aed4
        status: 200 OK
        code: 200
        duration: 180.851334ms
    - id: 6
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4c0f1da0-6e11-4e90-a00f-91a01a68abdf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg3618c6dae4c94d70b671-006967aed5</RequestId><HostId>txg3618c6dae4c94d70b671-006967aed5</HostId><Resource>/test-acc-scaleway-export-block-snapshot-8590729666812633215</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3618c6dae4c94d70b671-006967aed5
        status: 404 Not Found
        code: 404
        duration: 90.543541ms
    - id: 7
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 56e2be82-e67a-4ccf-b238-b46f4f272f88
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-block-snapshot-8590729666812633215</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg865fb2a7b1ed45a7bc30-006967aed5
        status: 200 OK
        code: 200
        duration: 126.207292ms
    - id: 8
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8673ba02-345e-48b7-9d65-dd66878ce9cc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txga26f299b80d84fbaa4bd-006967aed5</RequestId><HostId>txga26f299b80d84fbaa4bd-006967aed5</HostId><Resource>/test-acc-scaleway-export-block-snapshot-8590729666812633215</Resource><BucketName>test-acc-scaleway-export-block-snapshot-8590729666812633215</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga26f299b80d84fbaa4bd-006967aed5
        status: 404 Not Found
        code: 404
        duration: 53.741334ms
    - id: 9
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d631dedd-315f-4a1e-ae1b-41fcd0674b09
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg689197e11d7649619e69-006967aed5</RequestId><HostId>txg689197e11d7649619e69-006967aed5</HostId><Resource>/test-acc-scaleway-export-block-snapshot-8590729666812633215</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg689197e11d7649619e69-006967aed5
        status: 404 Not Found
        code: 404
        duration: 15.12775ms
    - id: 10
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ecb9110d-e2c9-449e-9343-a6e5aec53df6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4e7b8ddbbb1749e2b29b-006967aed5
        status: 200 OK
        code: 200
        duration: 52.112958ms
    - id: 11
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b4aecfca-c796-4226-8141-e23e38cd3823
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg65a6ba6883af4ded8def-006967aed5</RequestId><HostId>txg65a6ba6883af4ded8def-006967aed5</HostId><Resource>/test-acc-scaleway-export-block-snapshot-8590729666812633215</Resource><BucketName>test-acc-scaleway-export-block-snapshot-8590729666812633215</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg65a6ba6883af4ded8def-006967aed5
        status: 404 Not Found
        code: 404
        duration: 23.766208ms
    - id: 12
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f727cecb-a422-48b7-ab4f-46f5a893bcba
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20260114T145725Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txgfa2831105d024b6cb6e7-006967aed5
        status: 200 OK
        code: 200
        duration: 522.229459ms
    - id: 13
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6701c6c8-f756-47b8-a90b-56f5ad56fa47
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Wed, 14 Jan 2026 14:57:25 GMT
            X-Amz-Request-Id:
                - txgdd0c73b2aac440d790c7-006967aed5
        status: 200 OK
        code: 200
        duration: 36.482917ms
    - id: 14
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6d57f9b3-75dd-4a9f-a464-61f099421478
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145725Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8066348f39ab4d1b906c-006967aed5
        status: 200 OK
        code: 200
        duration: 12.92125ms
    - id: 15
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - feaacc8c-b349-4352-897f-5e2de2858c58
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T14572[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"volume_id":"e134d700-7209-419e-a74e-5192357ce7a7","name":"test-acc-export-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-01-14T14:57:26.312383Z","id":"a54bd7fa-7140-48cb-9bbb-c88c91546d62","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"e134d700-7209-419e-a74e-5192357ce7a7","name":"tf-volume-magical-diffie","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-01-14T14:57:26.312383Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 891.914166ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/a54bd7fa-7140-48cb-9bbb-c88c91546d62
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-01-14T14:57:26.312383Z","id":"a54bd7fa-7140-48cb-9bbb-c88c91546d62","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"e134d700-7209-419e-a74e-5192357ce7a7","name":"tf-volume-magical-diffie","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-01-14T14:57:26.312383Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.943459ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"bucket":"test-acc-scaleway-export-block-snapshot-8590729666812633215","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/a54bd7fa-7140-48cb-9bbb-c88c91546d62/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-01-14T14:57:26.312383Z","id":"a54bd7fa-7140-48cb-9bbb-c88c91546d62","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"e134d700-7209-419e-a74e-5192357ce7a7","name":"tf-volume-magical-diffie","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-01-14T14:57:26.312383Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.462833ms
[...]
    - id: 27
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e75c61e4-e031-45fe-96fe-f1873040b583
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145745Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-block-snapshot-8590729666812633215</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-01-14T14:57:39.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg57d2d3dc80324f8d81a7-006967aee9
        status: 200 OK
        code: 200
        duration: 418.836834ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: '{"bucket":"test-acc-scaleway-export-block-snapshot-8590729666812633215","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-01-14T14:57:48.144343Z","id":"51766a67-6fba-4e2d-be6b-3a1eab0b54fc","name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-01-14T14:57:48.144343Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 779.282083ms
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/a54bd7fa-7140-48cb-9bbb-c88c91546d62
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"a54bd7fa-7140-48cb-9bbb-c88c91546d62","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 101.207625ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":null,"snapshot_id":"51766a67-6fba-4e2d-be6b-3a1eab0b54fc"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-01-14T14:57:54.345614Z","id":"62b41107-0861-466a-8903-cacdc38fa39f","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"51766a67-6fba-4e2d-be6b-3a1eab0b54fc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-01-14T14:57:54.345614Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.270833ms
[...]
    - id: 96
      request:
        host: test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f1aaab66-782e-43c2-ba9b-6a69ca54e647
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260114T145809Z
        url: https://test-acc-scaleway-export-block-snapshot-8590729666812633215.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txge6211a33565d4bf387a2-006967af01
        status: 204 No Content
        code: 204
        duration: 175.800125ms
[...]
