---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-infallible-mayer","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-17T09:32:30.178361Z","id":"f53b839a-3e95-4a40-bf60-4bcd7630cbe1","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-infallible-mayer","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-17T09:32:30.178361Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.535867ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/f53b839a-3e95-4a40-bf60-4bcd7630cbe1
        method: GET
      response:
        body: '{"created_at":"2026-08-17T09:32:30.178361Z","id":"f53b839a-3e95-4a40-bf60-4bcd7630cbe1","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-infallible-mayer","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-08-17T09:32:30.311102Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.516968ms
[...]
    - id: 3
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 55b32c71-ff7c-4b16-bba9-cc48a1c17241
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093229Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-block-snapshot-7705551387174355838
            X-Amz-Request-Id:
                - txg4d24f28cd873457c860b-006a82d52e
        status: 200 OK
        code: 200
        duration: 4.501021306s
    - id: 4
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 83741514-f92f-421f-b62c-6b4ec7e21d0a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093234Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgbf933ac1e58343728937-006a82d532
        status: 200 OK
        code: 200
        duration: 368.27917ms
    - id: 5
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ec0dee18-ab70-4064-a6b2-6d81c5a369fb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093234Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3a3636819309491d8535-006a82d532
        status: 200 OK
        code: 200
        duration: 209.562318ms
    - id: 6
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cd089013-c0b6-4214-9231-1fd9bb5b4a2e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093234Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg20196795f6534ddcb17b-006a82d533</RequestId><HostId>txg20196795f6534ddcb17b-006a82d533</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7705551387174355838</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg20196795f6534ddcb17b-006a82d533
        status: 404 Not Found
        code: 404
        duration: 161.049017ms
    - id: 7
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e93f5eb9-d915-478f-8799-b0fdeb28e08e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093235Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-7705551387174355838</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge5a3aaa28f6d430d9a7b-006a82d533
        status: 200 OK
        code: 200
        duration: 162.711794ms
    - id: 8
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c532bc3a-6d3d-4d6a-a4e8-6004959d3c87
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093235Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg9486f78770aa4460a1b7-006a82d533</RequestId><HostId>txg9486f78770aa4460a1b7-006a82d533</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7705551387174355838</Resource><BucketName>tf-test-scaleway-export-block-snapshot-7705551387174355838</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9486f78770aa4460a1b7-006a82d533
        status: 404 Not Found
        code: 404
        duration: 170.156314ms
    - id: 9
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 21f67ba6-0b7a-4ac8-b916-694d338b97e9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093235Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgd0fdbf4d4fd744dd8b57-006a82d533</RequestId><HostId>txgd0fdbf4d4fd744dd8b57-006a82d533</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7705551387174355838</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd0fdbf4d4fd744dd8b57-006a82d533
        status: 404 Not Found
        code: 404
        duration: 77.017684ms
    - id: 10
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0a9225d8-3bb3-42d7-a374-0ed3918e6c9d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093235Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgffa5b55ba12b43c18e95-006a82d533
        status: 200 OK
        code: 200
        duration: 156.935572ms
    - id: 11
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d9b4b64b-0bfd-43ec-b66d-00e46fcaa699
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093235Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgc89e1990f23a4d558d32-006a82d533</RequestId><HostId>txgc89e1990f23a4d558d32-006a82d533</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7705551387174355838</Resource><BucketName>tf-test-scaleway-export-block-snapshot-7705551387174355838</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc89e1990f23a4d558d32-006a82d533
        status: 404 Not Found
        code: 404
        duration: 59.522734ms
    - id: 12
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8103e608-3062-4616-acef-358a3d8e39b8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20260817T093235Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txgad0297371a364cb9b1b4-006a82d533
        status: 200 OK
        code: 200
        duration: 4.146444707s
    - id: 13
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 406b8aec-f8e9-412b-9d97-a1501417bbe5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093239Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Mon, 17 Aug 2026 09:32:36 GMT
            X-Amz-Request-Id:
                - txg9f45f4ac804240b5a4ec-006a82d537
        status: 200 OK
        code: 200
        duration: 334.416731ms
    - id: 14
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - daf19d4a-d830-4f56-acc3-537abafc899a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093239Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgba68a8c0b5bd422e8a8f-006a82d538
        status: 200 OK
        code: 200
        duration: 60.008138ms
    - id: 15
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3f8911ce-555d-4344-a741-bc8d50fcf98e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093240[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"volume_id":"f53b839a-3e95-4a40-bf60-4bcd7630cbe1","name":"test-acc-export-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T09:32:40.934253Z","id":"ea082982-5e9a-4a4f-bbf0-0f4321b89f37","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"f53b839a-3e95-4a40-bf60-4bcd7630cbe1","name":"tf-volume-infallible-mayer","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-17T09:32:40.934253Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 407.857409ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/ea082982-5e9a-4a4f-bbf0-0f4321b89f37
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T09:32:40.934253Z","id":"ea082982-5e9a-4a4f-bbf0-0f4321b89f37","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"f53b839a-3e95-4a40-bf60-4bcd7630cbe1","name":"tf-volume-infallible-mayer","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-17T09:32:40.934253Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.196493ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-7705551387174355838","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/ea082982-5e9a-4a4f-bbf0-0f4321b89f37/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T09:32:40.934253Z","id":"ea082982-5e9a-4a4f-bbf0-0f4321b89f37","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"f53b839a-3e95-4a40-bf60-4bcd7630cbe1","name":"tf-volume-infallible-mayer","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-08-17T09:32:46.385632Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.324179864s
[...]
    - id: 27
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bf7e2078-605e-4168-bac3-f5dce5d31976
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093255Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-7705551387174355838</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-08-17T09:32:49.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5a6d71bc933c45b6a5b2-006a82d547
        status: 200 OK
        code: 200
        duration: 395.01514ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/ea082982-5e9a-4a4f-bbf0-0f4321b89f37
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"ea082982-5e9a-4a4f-bbf0-0f4321b89f37","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 171.804975ms
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-7705551387174355838","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-17T09:33:00.979276Z","id":"42496746-97e1-4690-a8d0-dacf145a91a7","name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-17T09:33:00.979276Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.242882953s
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":null,"snapshot_id":"42496746-97e1-4690-a8d0-dacf145a91a7"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-17T09:34:49.744442Z","id":"56723e38-9843-4cb0-81c3-1140db0fc9af","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"42496746-97e1-4690-a8d0-dacf145a91a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-17T09:34:49.744442Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.056171ms
[...]
    - id: 98
      request:
        host: tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f2a4c597-d42b-4b96-a0f2-8cf1763b973a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T093459Z
        url: https://tf-test-scaleway-export-block-snapshot-7705551387174355838.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg30d0c7cb3a114d52972b-006a82d5c3
        status: 204 No Content
        code: 204
        duration: 107.988998ms
[...]
