---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-suspicious-booth","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-18T09:54:11.845651Z","id":"3c9c1f75-fc3d-47d4-933c-0138c6ab2000","last_detached_at":null,"name":"tf-volume-suspicious-booth","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.845651Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.636979ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/3c9c1f75-fc3d-47d4-933c-0138c6ab2000
        method: GET
      response:
        body: '{"created_at":"2026-05-18T09:54:11.845651Z","id":"3c9c1f75-fc3d-47d4-933c-0138c6ab2000","last_detached_at":null,"name":"tf-volume-suspicious-booth","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.845651Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.623806ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"3c9c1f75-fc3d-47d4-933c-0138c6ab2000","name":"test-block-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.401570Z","id":"337f94fb-9661-4223-bc1d-46055c2720f5","name":"test-block-snapshot-basic","parent_volume":{"id":"3c9c1f75-fc3d-47d4-933c-0138c6ab2000","name":"tf-volume-suspicious-booth","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.401570Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.579201ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/337f94fb-9661-4223-bc1d-46055c2720f5
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.401570Z","id":"337f94fb-9661-4223-bc1d-46055c2720f5","name":"test-block-snapshot-basic","parent_volume":{"id":"3c9c1f75-fc3d-47d4-933c-0138c6ab2000","name":"tf-volume-suspicious-booth","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.401570Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.225935ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/337f94fb-9661-4223-bc1d-46055c2720f5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"337f94fb-9661-4223-bc1d-46055c2720f5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.570295ms
[...]
