---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-funny-swirles","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-30T09:59:27.530721Z","id":"83237651-a4df-434a-9597-a9845600d1f0","last_detached_at":null,"name":"tf-volume-funny-swirles","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.530721Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.782728ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/83237651-a4df-434a-9597-a9845600d1f0
        method: GET
      response:
        body: '{"created_at":"2025-12-30T09:59:27.530721Z","id":"83237651-a4df-434a-9597-a9845600d1f0","last_detached_at":null,"name":"tf-volume-funny-swirles","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.530721Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.89374ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"83237651-a4df-434a-9597-a9845600d1f0","name":"test-block-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:33.198998Z","id":"00857bac-9087-45c3-9d1a-1c43a4c07c72","name":"test-block-snapshot-basic","parent_volume":{"id":"83237651-a4df-434a-9597-a9845600d1f0","name":"tf-volume-funny-swirles","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:33.198998Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.581661ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/00857bac-9087-45c3-9d1a-1c43a4c07c72
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:33.198998Z","id":"00857bac-9087-45c3-9d1a-1c43a4c07c72","name":"test-block-snapshot-basic","parent_volume":{"id":"83237651-a4df-434a-9597-a9845600d1f0","name":"tf-volume-funny-swirles","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:33.198998Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.094397ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/00857bac-9087-45c3-9d1a-1c43a4c07c72
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"00857bac-9087-45c3-9d1a-1c43a4c07c72","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 106.811912ms
[...]
