---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-thirsty-matsumoto","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T16:29:11.464247Z","id":"7d522e80-cbf3-4051-8272-213c044ad5cd","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-thirsty-matsumoto","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/7d522e80-cbf3-4051-8272-213c044ad5cd","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T16:29:11.464247Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 255.17075ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 14.418416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/7d522e80-cbf3-4051-8272-213c044ad5cd
        method: GET
      response:
        body: '{"created_at":"2026-10-08T16:29:11.464247Z","id":"7d522e80-cbf3-4051-8272-213c044ad5cd","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-thirsty-matsumoto","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/7d522e80-cbf3-4051-8272-213c044ad5cd","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T16:29:11.464247Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 61.88475ms
    - id: 3
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 70b01555-d474-4f7a-ba77-bed90f691a71
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162911Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-block-snapshot-1579262364599810760
            X-Amz-Request-Id:
                - txgb0c79f7f583d4369b748-006ac7c4d7
        status: 200 OK
        code: 200
        duration: 3.839238625s
    - id: 4
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bfdad919-8541-491a-8bac-7e92861c8ed4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162915Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg4c476c367f14428b825a-006ac7c4db
        status: 200 OK
        code: 200
        duration: 632.282042ms
    - id: 5
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5738c224-ebe4-43e0-ad03-413838e323cb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162915Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg33ef5a90bfe74d84bc2c-006ac7c4db
        status: 200 OK
        code: 200
        duration: 162.585709ms
    - id: 6
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7e0ae80f-ead9-4739-946c-29248000a3b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162915Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg01b19ace23c144348f57-006ac7c4db</RequestId><HostId>txg01b19ace23c144348f57-006ac7c4db</HostId><Resource>/tf-test-scaleway-export-block-snapshot-1579262364599810760</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg01b19ace23c144348f57-006ac7c4db
        status: 404 Not Found
        code: 404
        duration: 343.05125ms
[...]
    - id: 8
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8ca2a096-6db6-4503-af5a-a4f001b51cb7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162915Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-1579262364599810760</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1ac3df1ffeaa43a9b498-006ac7c4dc
        status: 200 OK
        code: 200
        duration: 446.973625ms
    - id: 9
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 28d788cf-0098-483e-aa0c-0cd639f8320f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162916Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg62db805a506a476eae56-006ac7c4dc</RequestId><HostId>txg62db805a506a476eae56-006ac7c4dc</HostId><Resource>/tf-test-scaleway-export-block-snapshot-1579262364599810760</Resource><BucketName>tf-test-scaleway-export-block-snapshot-1579262364599810760</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg62db805a506a476eae56-006ac7c4dc
        status: 404 Not Found
        code: 404
        duration: 37.150417ms
    - id: 10
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 42e92386-8547-4b14-a042-fbbacf8e8ad7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162916Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9ce785f7c32241688106-006ac7c4dc</RequestId><HostId>txg9ce785f7c32241688106-006ac7c4dc</HostId><Resource>/tf-test-scaleway-export-block-snapshot-1579262364599810760</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9ce785f7c32241688106-006ac7c4dc
        status: 404 Not Found
        code: 404
        duration: 76.8375ms
    - id: 11
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bd17ee73-0c6f-4401-b7d7-69ebca4a419f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162916Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3626c71157564294818a-006ac7c4dc
        status: 200 OK
        code: 200
        duration: 157.29325ms
    - id: 12
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5e70143c-f133-4dc4-a1f5-4b86b144846f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162916Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg2b7fa905783f4c7c8bc3-006ac7c4dc</RequestId><HostId>txg2b7fa905783f4c7c8bc3-006ac7c4dc</HostId><Resource>/tf-test-scaleway-export-block-snapshot-1579262364599810760</Resource><BucketName>tf-test-scaleway-export-block-snapshot-1579262364599810760</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2b7fa905783f4c7c8bc3-006ac7c4dc
        status: 404 Not Found
        code: 404
        duration: 91.476375ms
    - id: 13
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c2a06bef-52eb-480b-8767-4db3f6e90e61
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20261008T162917Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txgc8f609c5db49405cbdc2-006ac7c4dd
        status: 200 OK
        code: 200
        duration: 5.939016416s
    - id: 14
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 424488fb-840c-44bd-9aa1-c149f9871d03
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162923Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Thu, 08 Oct 2026 16:29:17 GMT
            X-Amz-Request-Id:
                - txgb7cb7ce1c1be4965ab6c-006ac7c4e3
        status: 200 OK
        code: 200
        duration: 119.121292ms
    - id: 15
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 92bb610e-2718-483b-aa3f-6694a16c2ef3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162923Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg981f768d684a401694bd-006ac7c4e3
        status: 200 OK
        code: 200
        duration: 56.324875ms
    - id: 16
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7479783b-3766-48f2-a621-fa42ce0ff69c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162923[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"volume_id":"7d522e80-cbf3-4051-8272-213c044ad5cd","name":"test-acc-export-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T16:29:23.348808Z","id":"2859b999-9ae2-484c-9225-11818ba9122e","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"7d522e80-cbf3-4051-8272-213c044ad5cd","name":"tf-volume-thirsty-matsumoto","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/2859b999-9ae2-484c-9225-11818ba9122e","status":"creating","tags":[],"updated_at":"2026-10-08T16:29:23.348808Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 387.004958ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2859b999-9ae2-484c-9225-11818ba9122e
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T16:29:23.348808Z","id":"2859b999-9ae2-484c-9225-11818ba9122e","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"7d522e80-cbf3-4051-8272-213c044ad5cd","name":"tf-volume-thirsty-matsumoto","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/2859b999-9ae2-484c-9225-11818ba9122e","status":"creating","tags":[],"updated_at":"2026-10-08T16:29:23.348808Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.523375ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-1579262364599810760","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2859b999-9ae2-484c-9225-11818ba9122e/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T16:29:23.348808Z","id":"2859b999-9ae2-484c-9225-11818ba9122e","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"7d522e80-cbf3-4051-8272-213c044ad5cd","name":"tf-volume-thirsty-matsumoto","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/2859b999-9ae2-484c-9225-11818ba9122e","status":"exporting","tags":[],"updated_at":"2026-10-08T16:29:28.770949Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 2.600490875s
[...]
    - id: 28
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 60ae502d-e207-4d68-9505-05e522b3e25b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162937Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-1579262364599810760</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-10-08T16:29:31.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg320b877f49bc44208edd-006ac7c4f1
        status: 200 OK
        code: 200
        duration: 332.590208ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2859b999-9ae2-484c-9225-11818ba9122e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"2859b999-9ae2-484c-9225-11818ba9122e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 36.199084ms
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-1579262364599810760","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T16:29:39.553984Z","id":"b26fd15d-e9fc-4663-8530-da880dd3b36e","kms_key_id":null,"name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/b26fd15d-e9fc-4663-8530-da880dd3b36e","status":"creating","tags":[],"updated_at":"2026-10-08T16:29:39.553984Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.034605834s
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_snapshot":{"size":10000000000,"snapshot_id":"b26fd15d-e9fc-4663-8530-da880dd3b36e"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T16:29:45.155733Z","id":"4cfaff29-8543-403a-ac19-f15660e28eae","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"b26fd15d-e9fc-4663-8530-da880dd3b36e","project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/4cfaff29-8543-403a-ac19-f15660e28eae","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T16:29:45.155733Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.67525ms
[...]
    - id: 97
      request:
        host: tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 94228b19-731d-4078-a190-6d0858522d0d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20261008T162953Z
        url: https://tf-test-scaleway-export-block-snapshot-1579262364599810760.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg77f44975dfdf41459b51-006ac7c501
        status: 204 No Content
        code: 204
        duration: 107.826625ms
[...]
