---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-vigilant-jennings","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:30:27.104169Z","id":"4ff3e8ef-c5dc-4621-a6d5-9e36f57206ca","last_detached_at":null,"name":"tf-volume-vigilant-jennings","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-22T13:30:27.104169Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 302.860791ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/4ff3e8ef-c5dc-4621-a6d5-9e36f57206ca
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:30:27.104169Z","id":"4ff3e8ef-c5dc-4621-a6d5-9e36f57206ca","last_detached_at":null,"name":"tf-volume-vigilant-jennings","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-22T13:30:27.104169Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.218792ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"4ff3e8ef-c5dc-4621-a6d5-9e36f57206ca","name":"test-block-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-01-22T13:30:32.610245Z","id":"3a91d444-1f32-4d32-88e9-e5448819641a","name":"test-block-snapshot-basic","parent_volume":{"id":"4ff3e8ef-c5dc-4621-a6d5-9e36f57206ca","name":"tf-volume-vigilant-jennings","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-01-22T13:30:32.610245Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.359292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/3a91d444-1f32-4d32-88e9-e5448819641a
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-01-22T13:30:32.610245Z","id":"3a91d444-1f32-4d32-88e9-e5448819641a","name":"test-block-snapshot-basic","parent_volume":{"id":"4ff3e8ef-c5dc-4621-a6d5-9e36f57206ca","name":"tf-volume-vigilant-jennings","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2025-01-22T13:30:32.610245Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.265958ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/3a91d444-1f32-4d32-88e9-e5448819641a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"3a91d444-1f32-4d32-88e9-e5448819641a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.821ms
[...]
