---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-intelligent-bell","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-28T16:29:15.367452Z","id":"f39e2065-d78b-4ca0-ae36-d91e9713e81b","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-intelligent-bell","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-28T16:29:15.367452Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 173.608584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 14.154ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/f39e2065-d78b-4ca0-ae36-d91e9713e81b
        method: GET
      response:
        body: '{"created_at":"2026-09-28T16:29:15.367452Z","id":"f39e2065-d78b-4ca0-ae36-d91e9713e81b","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-intelligent-bell","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-28T16:29:15.367452Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 58.377125ms
    - id: 3
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b1874b44-8678-46d0-b6d6-edcbc2003bbf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162915Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-block-snapshot-5662901536150391244
            X-Amz-Request-Id:
                - txg68ef6f0221964017a257-006aba95db
        status: 200 OK
        code: 200
        duration: 4.636622917s
    - id: 4
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 74848bcf-1817-4999-9f09-0ac57f01fe33
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162919Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgb82203c21cef4773999c-006aba95df
        status: 200 OK
        code: 200
        duration: 490.067042ms
[...]
    - id: 6
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 14b7b07c-9ae4-4d6c-bdcc-03894ca30308
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162920Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgfbf70c6109cd433e8452-006aba95e0
        status: 200 OK
        code: 200
        duration: 208.038625ms
[...]
    - id: 8
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 43605d17-f185-4466-b00b-3670129dcc76
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162920Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg53d4c8aef1954aa9b6e2-006aba95e0</RequestId><HostId>txg53d4c8aef1954aa9b6e2-006aba95e0</HostId><Resource>/tf-test-scaleway-export-block-snapshot-5662901536150391244</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg53d4c8aef1954aa9b6e2-006aba95e0
        status: 404 Not Found
        code: 404
        duration: 131.938417ms
    - id: 9
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 298c8e3c-62cb-4f3b-aa77-79e5cd482a48
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162920Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-5662901536150391244</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc766803c5ad44579bb55-006aba95e0
        status: 200 OK
        code: 200
        duration: 680.127167ms
    - id: 10
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 569426fe-e7d6-495f-88c6-6c08b0d22316
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162920Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg49cfa0a92a5548e99664-006aba95e1</RequestId><HostId>txg49cfa0a92a5548e99664-006aba95e1</HostId><Resource>/tf-test-scaleway-export-block-snapshot-5662901536150391244</Resource><BucketName>tf-test-scaleway-export-block-snapshot-5662901536150391244</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg49cfa0a92a5548e99664-006aba95e1
        status: 404 Not Found
        code: 404
        duration: 252.067917ms
    - id: 11
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5e7c5b84-c0fb-4876-933e-eb6f777a8d79
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162921Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgf2b3873ea67f4a4d9ae6-006aba95e1</RequestId><HostId>txgf2b3873ea67f4a4d9ae6-006aba95e1</HostId><Resource>/tf-test-scaleway-export-block-snapshot-5662901536150391244</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf2b3873ea67f4a4d9ae6-006aba95e1
        status: 404 Not Found
        code: 404
        duration: 403.025583ms
    - id: 12
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 25143a1a-2720-4217-bbef-3005db9f56c7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162921Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8492abd4b63b4e5a90f1-006aba95e2
        status: 200 OK
        code: 200
        duration: 13.53225ms
    - id: 13
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - babdbb3d-50cd-4c42-aa07-58ddadbfee1f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162922Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg93ccb532acb948f591ad-006aba95e2</RequestId><HostId>txg93ccb532acb948f591ad-006aba95e2</HostId><Resource>/tf-test-scaleway-export-block-snapshot-5662901536150391244</Resource><BucketName>tf-test-scaleway-export-block-snapshot-5662901536150391244</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg93ccb532acb948f591ad-006aba95e2
        status: 404 Not Found
        code: 404
        duration: 210.482125ms
    - id: 14
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 67a5da26-c90a-4741-a69d-413bcbe7b2d9
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20260928T162922Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txg9186eae2aed345f3b0fd-006aba95e2
        status: 200 OK
        code: 200
        duration: 4.712629042s
    - id: 15
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 14811973-aae3-4946-80d0-6fe03654059c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162926Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Mon, 28 Sep 2026 16:29:22 GMT
            X-Amz-Request-Id:
                - txg5b9a7d19e6b24bf5b851-006aba95e7
        status: 200 OK
        code: 200
        duration: 364.02025ms
    - id: 16
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fe0bc4f6-d04e-4d32-89df-8b071cd166a0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162927Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg9fec7ac2bc2c4d7ebe82-006aba95e7
        status: 200 OK
        code: 200
        duration: 492.147167ms
    - id: 17
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c6d7252e-c1e4-46a6-b40e-9c7791ff8ea0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T162927[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"volume_id":"f39e2065-d78b-4ca0-ae36-d91e9713e81b","name":"test-acc-export-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-28T16:29:28.724458Z","id":"b930126e-8b7a-4b38-a6de-a3777b702478","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"f39e2065-d78b-4ca0-ae36-d91e9713e81b","name":"tf-volume-intelligent-bell","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-28T16:29:28.724458Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 152.295542ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/b930126e-8b7a-4b38-a6de-a3777b702478
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-28T16:29:28.724458Z","id":"b930126e-8b7a-4b38-a6de-a3777b702478","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"f39e2065-d78b-4ca0-ae36-d91e9713e81b","name":"tf-volume-intelligent-bell","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-28T16:29:28.724458Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.478542ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-5662901536150391244","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/b930126e-8b7a-4b38-a6de-a3777b702478/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-28T16:29:28.724458Z","id":"b930126e-8b7a-4b38-a6de-a3777b702478","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"f39e2065-d78b-4ca0-ae36-d91e9713e81b","name":"tf-volume-intelligent-bell","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"exporting","tags":[],"updated_at":"2026-09-28T16:29:33.948018Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 809.670333ms
[...]
    - id: 27
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4f74216a-fb0c-44e6-a97a-b0ac72efcbd6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T163012Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-5662901536150391244</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-09-28T16:29:35.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6e1258d9747244ddbf3f-006aba9614
        status: 200 OK
        code: 200
        duration: 218.574125ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/b930126e-8b7a-4b38-a6de-a3777b702478
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"b930126e-8b7a-4b38-a6de-a3777b702478","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 49.548458ms
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-5662901536150391244","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-28T16:30:17.803407Z","id":"fa99ecb3-e697-48f8-a0b1-2764a2b6f995","kms_key_id":null,"name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-28T16:30:17.803407Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 891.9345ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_snapshot":{"size":null,"snapshot_id":"fa99ecb3-e697-48f8-a0b1-2764a2b6f995"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-28T16:30:23.074293Z","id":"6ef2161e-1504-4ab1-918b-17f5f298d935","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"fa99ecb3-e697-48f8-a0b1-2764a2b6f995","project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-28T16:30:23.074293Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 398.057417ms
[...]
    - id: 92
      request:
        host: tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d4e8cdbc-8975-44ef-b3fa-ae199bce4bce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260928T163431Z
        url: https://tf-test-scaleway-export-block-snapshot-5662901536150391244.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgfa1c3b39f219443aa19a-006aba9717
        status: 204 No Content
        code: 204
        duration: 251.612458ms
[...]
