---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-agitated-germain","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-24T10:28:44.528154Z","id":"1df20282-96cb-42f5-80cc-66246a0c0dd6","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-agitated-germain","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T10:28:44.528154Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 194.15ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 25.156542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/1df20282-96cb-42f5-80cc-66246a0c0dd6
        method: GET
      response:
        body: '{"created_at":"2026-09-24T10:28:44.528154Z","id":"1df20282-96cb-42f5-80cc-66246a0c0dd6","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-agitated-germain","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T10:28:44.528154Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.032917ms
[...]
    - id: 5
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d225abc6-4bdc-4be1-b488-8ab2b14182d0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102844Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-block-snapshot-7612991259471640271
            X-Amz-Request-Id:
                - txg293b8bd919b146c0a5a0-006ab4fb5d
        status: 200 OK
        code: 200
        duration: 6.781386167s
    - id: 6
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d730b45b-83bb-4e36-9572-6184dfddb145
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102851Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg87bb02d918924db7b882-006ab4fb63
        status: 200 OK
        code: 200
        duration: 416.735458ms
    - id: 7
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d833fcf3-fb3b-4d41-a09e-288272632497
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102851Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8f97969fa6864ec38a39-006ab4fb63
        status: 200 OK
        code: 200
        duration: 492.003042ms
    - id: 8
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 650d158e-194f-40fc-a837-56d6170fae4e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102851Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg48bc0c975158451fb1f6-006ab4fb64</RequestId><HostId>txg48bc0c975158451fb1f6-006ab4fb64</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7612991259471640271</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg48bc0c975158451fb1f6-006ab4fb64
        status: 404 Not Found
        code: 404
        duration: 217.643833ms
    - id: 9
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c32b8e28-a807-4de7-b400-bc8f80843229
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102852Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-7612991259471640271</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txged599d987e0349edb7b4-006ab4fb64
        status: 200 OK
        code: 200
        duration: 391.745708ms
    - id: 10
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7fd605af-7c84-4322-b67c-de2ed8204361
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102852Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgc1ccff9b8a3645b4a92b-006ab4fb64</RequestId><HostId>txgc1ccff9b8a3645b4a92b-006ab4fb64</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7612991259471640271</Resource><BucketName>tf-test-scaleway-export-block-snapshot-7612991259471640271</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc1ccff9b8a3645b4a92b-006ab4fb64
        status: 404 Not Found
        code: 404
        duration: 245.212208ms
    - id: 11
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6940d97e-a437-450f-b7da-ef7ad4725370
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102852Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg595110f5a2da4f03b439-006ab4fb64</RequestId><HostId>txg595110f5a2da4f03b439-006ab4fb64</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7612991259471640271</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg595110f5a2da4f03b439-006ab4fb64
        status: 404 Not Found
        code: 404
        duration: 107.475958ms
    - id: 12
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a6b6881a-5fdf-43e3-ae05-aece3a2cbec1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102852Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg1df9707a0bb642ada79c-006ab4fb65
        status: 200 OK
        code: 200
        duration: 42.005292ms
    - id: 13
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 038fed71-402a-44da-a97f-887f6cb8b73a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102853Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgf124cbfb005b4236bc33-006ab4fb65</RequestId><HostId>txgf124cbfb005b4236bc33-006ab4fb65</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7612991259471640271</Resource><BucketName>tf-test-scaleway-export-block-snapshot-7612991259471640271</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf124cbfb005b4236bc33-006ab4fb65
        status: 404 Not Found
        code: 404
        duration: 217.861917ms
    - id: 14
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aef0e24c-e426-4f38-be9f-3b80bc6d87eb
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20260924T102859Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: <Error><Code>InternalError</Code><Message>We encountered an internal error. Please try again.</Message><RequestId>txg49de301c3b97405698ed-006ab4fb6b</RequestId><HostId>txg49de301c3b97405698ed-006ab4fb6b</HostId><Resource>/tf-test-scaleway-export-block-snapshot-7612991259471640271/test-acc-export-block-snapshot-qcow2</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg49de301c3b97405698ed-006ab4fb6b
        status: 500 Internal Server Error
        code: 500
        duration: 2.040005583s
    - id: 15
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aef0e24c-e426-4f38-be9f-3b80bc6d87eb
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20260924T102859Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txg645c30047ea14d03b3c5-006ab4fb6f
        status: 200 OK
        code: 200
        duration: 8.075629458s
    - id: 16
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f99f97db-6f70-4878-b051-dfab1875cd22
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102911Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Thu, 24 Sep 2026 10:29:03 GMT
            X-Amz-Request-Id:
                - txg4141c2cab8ef47cdb1fe-006ab4fb77
        status: 200 OK
        code: 200
        duration: 132.561042ms
    - id: 17
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6553bdfe-53d1-462b-a8f1-56b760ef197d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102911Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgb50d9cadd94645e98136-006ab4fb77
        status: 200 OK
        code: 200
        duration: 230.401709ms
    - id: 18
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 75c5e999-2fb3-43c6-8084-db2a2423fc90
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T102911[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"volume_id":"1df20282-96cb-42f5-80cc-66246a0c0dd6","name":"test-acc-export-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:29:12.279057Z","id":"4e5c377c-f6f2-45b9-be2b-bb67207fa4bf","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"1df20282-96cb-42f5-80cc-66246a0c0dd6","name":"tf-volume-agitated-germain","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T10:29:12.279057Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 359.803833ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4e5c377c-f6f2-45b9-be2b-bb67207fa4bf
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:29:12.279057Z","id":"4e5c377c-f6f2-45b9-be2b-bb67207fa4bf","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"1df20282-96cb-42f5-80cc-66246a0c0dd6","name":"tf-volume-agitated-germain","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T10:29:12.279057Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.371875ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-7612991259471640271","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4e5c377c-f6f2-45b9-be2b-bb67207fa4bf/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:29:12.279057Z","id":"4e5c377c-f6f2-45b9-be2b-bb67207fa4bf","kms_key_id":null,"name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"1df20282-96cb-42f5-80cc-66246a0c0dd6","name":"tf-volume-agitated-germain","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"exporting","tags":[],"updated_at":"2026-09-24T10:29:17.496018Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.865295542s
[...]
    - id: 28
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a029e7cb-629c-4546-8b25-f5c014014852
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T103204Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-7612991259471640271</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-09-24T10:29:19.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge2b29dae5df840f8b9a3-006ab4fc24
        status: 200 OK
        code: 200
        duration: 150.160334ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4e5c377c-f6f2-45b9-be2b-bb67207fa4bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"4e5c377c-f6f2-45b9-be2b-bb67207fa4bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 52.082208ms
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-7612991259471640271","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-09-24T10:33:13.082442Z","id":"fb7bf52e-af03-4908-a9ee-e1b9bb8e1e0b","kms_key_id":null,"name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":10000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-24T10:33:13.082442Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 858.674667ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_snapshot":{"size":null,"snapshot_id":"fb7bf52e-af03-4908-a9ee-e1b9bb8e1e0b"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-09-24T10:33:18.391613Z","id":"21c5bb1c-b59e-4b90-b244-f054f02be6ec","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"fb7bf52e-af03-4908-a9ee-e1b9bb8e1e0b","project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-09-24T10:33:18.391613Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.854541ms
[...]
    - id: 94
      request:
        host: tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 55d744de-2be4-4221-9e3e-25478172bae7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260924T103431Z
        url: https://tf-test-scaleway-export-block-snapshot-7612991259471640271.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6f7404f1c505482e88cf-006ab4fcb7
        status: 204 No Content
        code: 204
        duration: 402.578667ms
[...]
