---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-sad-satoshi","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-24T13:25:23.377769Z","id":"a1b911ea-0592-4875-bc99-0a74e05e66a1","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-sad-satoshi","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-24T13:25:23.377769Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 390.698432ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.906091ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/a1b911ea-0592-4875-bc99-0a74e05e66a1
        method: GET
      response:
        body: '{"created_at":"2026-08-24T13:25:23.377769Z","id":"a1b911ea-0592-4875-bc99-0a74e05e66a1","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-sad-satoshi","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-08-24T13:25:23.499350Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.367237ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"a1b911ea-0592-4875-bc99-0a74e05e66a1","name":"test-block-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-24T13:25:24.095748Z","id":"6225074f-ec4c-4843-b4a4-5d7bb32b8be6","name":"test-block-snapshot-basic","parent_volume":{"id":"a1b911ea-0592-4875-bc99-0a74e05e66a1","name":"tf-volume-sad-satoshi","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-24T13:25:24.095748Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.643827ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/6225074f-ec4c-4843-b4a4-5d7bb32b8be6
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-24T13:25:24.095748Z","id":"6225074f-ec4c-4843-b4a4-5d7bb32b8be6","name":"test-block-snapshot-basic","parent_volume":{"id":"a1b911ea-0592-4875-bc99-0a74e05e66a1","name":"tf-volume-sad-satoshi","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-24T13:25:24.095748Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.392431ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/6225074f-ec4c-4843-b4a4-5d7bb32b8be6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"6225074f-ec4c-4843-b4a4-5d7bb32b8be6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 161.175971ms
[...]
