---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-gallant-haibt\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":10000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"6db7d2e5-a3d9-4f80-850e-f7a81b8b139e\",\"name\":\"tf-volume-gallant-haibt\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.608272Z\",\"updated_at\":\"2025-09-03T15:22:28.608272Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 537.2743ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/6db7d2e5-a3d9-4f80-850e-f7a81b8b139e
    method: GET
  response:
    body: "{\"id\":\"6db7d2e5-a3d9-4f80-850e-f7a81b8b139e\",\"name\":\"tf-volume-gallant-haibt\",\"type\":\"sbs_5k\",\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.608272Z\",\"updated_at\":\"2025-09-03T15:22:28.608272Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.535464ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"6db7d2e5-a3d9-4f80-850e-f7a81b8b139e\",\"name\":\"test-block-snapshot-basic\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"0b7b6d97-b634-4718-9cb6-dd6a1217ec2f\",\"name\":\"test-block-snapshot-basic\",\"parent_volume\":{\"id\":\"6db7d2e5-a3d9-4f80-850e-f7a81b8b139e\",\"name\":\"tf-volume-gallant-haibt\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:34.373550Z\",\"updated_at\":\"2025-09-03T15:22:34.373550Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 448.271028ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/0b7b6d97-b634-4718-9cb6-dd6a1217ec2f
    method: GET
  response:
    body: "{\"id\":\"0b7b6d97-b634-4718-9cb6-dd6a1217ec2f\",\"name\":\"test-block-snapshot-basic\",\"parent_volume\":{\"id\":\"6db7d2e5-a3d9-4f80-850e-f7a81b8b139e\",\"name\":\"tf-volume-gallant-haibt\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":10000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:34.373550Z\",\"updated_at\":\"2025-09-03T15:22:34.373550Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 194.074073ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/0b7b6d97-b634-4718-9cb6-dd6a1217ec2f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"snapshot\",\"resource_id\":\"0b7b6d97-b634-4718-9cb6-dd6a1217ec2f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 110.198434ms
[...]
