---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-eloquent-cori","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-12T16:53:33.956918Z","id":"76c5cc1e-bcc2-4c2a-a8c9-075af1ca5e2d","last_detached_at":null,"name":"tf-volume-eloquent-cori","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-12T16:53:33.956918Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.229845ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/76c5cc1e-bcc2-4c2a-a8c9-075af1ca5e2d
        method: GET
      response:
        body: '{"created_at":"2026-05-12T16:53:33.956918Z","id":"76c5cc1e-bcc2-4c2a-a8c9-075af1ca5e2d","last_detached_at":null,"name":"tf-volume-eloquent-cori","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-12T16:53:33.956918Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.646449ms
    - id: 2
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c59813bd-4e48-4fd2-9768-42d27147df11
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165333Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-export-block-snapshot-7826051809009448192
            X-Amz-Request-Id:
                - txg02a47862bbaa4b9ba2c0-006a035b0d
        status: 200 OK
        code: 200
        duration: 3.919625612s
    - id: 3
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 281c9408-abd4-4420-a5a1-eb34143d511d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165337Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg15ba6376f16548fcb694-006a035b11
        status: 200 OK
        code: 200
        duration: 131.26406ms
    - id: 4
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5f5bc437-19f0-42ae-ae29-1d8ad4da5b2f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165337Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf0e608f9269b4507ab89-006a035b11
        status: 200 OK
        code: 200
        duration: 30.506197ms
    - id: 5
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b13e3f06-0a5a-456c-855f-3399e6879d84
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165337Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgbb36982e055e476c8e99-006a035b11</RequestId><HostId>txgbb36982e055e476c8e99-006a035b11</HostId><Resource>/test-acc-scaleway-export-block-snapshot-7826051809009448192</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbb36982e055e476c8e99-006a035b11
        status: 404 Not Found
        code: 404
        duration: 14.850557ms
    - id: 6
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5a9b417b-e76b-4590-8e8e-7f0df5164336
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165337Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-block-snapshot-7826051809009448192</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg097c704423254b80aa73-006a035b11
        status: 200 OK
        code: 200
        duration: 73.596647ms
    - id: 7
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 38ab1ea1-69e7-4630-a383-a20beb3ed33b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165337Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg68f69f39ff1a4339866b-006a035b12</RequestId><HostId>txg68f69f39ff1a4339866b-006a035b12</HostId><Resource>/test-acc-scaleway-export-block-snapshot-7826051809009448192</Resource><BucketName>test-acc-scaleway-export-block-snapshot-7826051809009448192</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg68f69f39ff1a4339866b-006a035b12
        status: 404 Not Found
        code: 404
        duration: 47.750987ms
    - id: 8
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 72b209ca-7e46-487e-9c25-b579963482b0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165338Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgab15bf5bb108455492cd-006a035b12</RequestId><HostId>txgab15bf5bb108455492cd-006a035b12</HostId><Resource>/test-acc-scaleway-export-block-snapshot-7826051809009448192</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgab15bf5bb108455492cd-006a035b12
        status: 404 Not Found
        code: 404
        duration: 10.070635ms
    - id: 9
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2b9daf6b-96cc-4c78-bacd-71cd73c0d8ef
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165338Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0b02f38177c3405abfe5-006a035b12
        status: 200 OK
        code: 200
        duration: 13.379539ms
    - id: 10
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 47d0b545-832d-4688-a56c-e05245154545
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165338Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgb70bcde36a9049f8bc44-006a035b12</RequestId><HostId>txgb70bcde36a9049f8bc44-006a035b12</HostId><Resource>/test-acc-scaleway-export-block-snapshot-7826051809009448192</Resource><BucketName>test-acc-scaleway-export-block-snapshot-7826051809009448192</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb70bcde36a9049f8bc44-006a035b12
        status: 404 Not Found
        code: 404
        duration: 15.29376ms
[...]
    - id: 13
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 18fa65d4-2546-4199-9d76-917318a7fbd5
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20260512T165338Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txg49be9bb1482f43e7a3ff-006a035b12
        status: 200 OK
        code: 200
        duration: 4.470538359s
    - id: 14
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d6ae987d-67c0-48a6-9af6-ea634fcee515
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165342Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Tue, 12 May 2026 16:53:38 GMT
            X-Amz-Request-Id:
                - txgea1c88e5ed93409db86d-006a035b16
        status: 200 OK
        code: 200
        duration: 15.110335ms
    - id: 15
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e4478584-23a3-45b7-8542-c1bbeb7ff900
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165342Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgcd9f619f5c6140a9a278-006a035b16
        status: 200 OK
        code: 200
        duration: 18.520881ms
    - id: 16
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a6e7a950-7e9e-4b9c-8d67-8c90579ee863
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T16534[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"volume_id":"76c5cc1e-bcc2-4c2a-a8c9-075af1ca5e2d","name":"test-acc-export-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-12T16:53:42.777056Z","id":"0fb4056d-f00e-4784-97ce-a5d41c16361f","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"76c5cc1e-bcc2-4c2a-a8c9-075af1ca5e2d","name":"tf-volume-eloquent-cori","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-12T16:53:42.777056Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.923324ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/0fb4056d-f00e-4784-97ce-a5d41c16361f
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-05-12T16:53:42.777056Z","id":"0fb4056d-f00e-4784-97ce-a5d41c16361f","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"76c5cc1e-bcc2-4c2a-a8c9-075af1ca5e2d","name":"tf-volume-eloquent-cori","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-12T16:53:42.777056Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.938469ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"bucket":"test-acc-scaleway-export-block-snapshot-7826051809009448192","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/0fb4056d-f00e-4784-97ce-a5d41c16361f/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-12T16:53:42.777056Z","id":"0fb4056d-f00e-4784-97ce-a5d41c16361f","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"76c5cc1e-bcc2-4c2a-a8c9-075af1ca5e2d","name":"tf-volume-eloquent-cori","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-05-12T16:53:42.777056Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.233677ms
[...]
    - id: 28
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 69fc45d2-c0f8-4881-9997-a6d3d7b3e8bc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165353Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-export-block-snapshot-7826051809009448192</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-05-12T16:53:49.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg70540e3a3d3c41adbd7a-006a035b21
        status: 200 OK
        code: 200
        duration: 30.819116ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/0fb4056d-f00e-4784-97ce-a5d41c16361f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"0fb4056d-f00e-4784-97ce-a5d41c16361f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.055074ms
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"bucket":"test-acc-scaleway-export-block-snapshot-7826051809009448192","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-12T16:53:55.091650Z","id":"52db9252-8a0e-4602-a5fb-8e4de49489be","name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-05-12T16:53:55.091650Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 574.912153ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":null,"snapshot_id":"52db9252-8a0e-4602-a5fb-8e4de49489be"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-12T16:54:00.313749Z","id":"1c4147ff-d3eb-42db-a472-d3f9491199ff","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"52db9252-8a0e-4602-a5fb-8e4de49489be","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-12T16:54:00.313749Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.439977ms
[...]
    - id: 97
      request:
        host: test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d09a9dee-f06d-4d66-9de1-8ec9473029e7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260512T165406Z
        url: https://test-acc-scaleway-export-block-snapshot-7826051809009448192.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgd103760a6db74a3c9601-006a035b2e
        status: 204 No Content
        code: 204
        duration: 19.496777ms
[...]
