---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-block-volume-from-snapshot-base\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":20000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"95a9bd92-fe2c-4d50-9465-4715327475b2\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.695173Z\",\"updated_at\":\"2025-09-03T15:22:28.695173Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 614.51974ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/95a9bd92-fe2c-4d50-9465-4715327475b2
    method: GET
  response:
    body: "{\"id\":\"95a9bd92-fe2c-4d50-9465-4715327475b2\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.695173Z\",\"updated_at\":\"2025-09-03T15:22:28.695173Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.938325ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"95a9bd92-fe2c-4d50-9465-4715327475b2\",\"name\":\"test-block-volume-from-snapshot\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"07698203-8cf0-4bf8-b771-c3a385f5387e\",\"name\":\"test-block-volume-from-snapshot\",\"parent_volume\":{\"id\":\"95a9bd92-fe2c-4d50-9465-4715327475b2\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:34.618134Z\",\"updated_at\":\"2025-09-03T15:22:34.618134Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 311.562051ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/07698203-8cf0-4bf8-b771-c3a385f5387e
    method: GET
  response:
    body: "{\"id\":\"07698203-8cf0-4bf8-b771-c3a385f5387e\",\"name\":\"test-block-volume-from-snapshot\",\"parent_volume\":{\"id\":\"95a9bd92-fe2c-4d50-9465-4715327475b2\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:34.618134Z\",\"updated_at\":\"2025-09-03T15:22:34.618134Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 217.599242ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-block-volume-from-snapshot\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_snapshot\":{\"size\":null,\"snapshot_id\":\"07698203-8cf0-4bf8-b771-c3a385f5387e\"},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"99933c4e-d753-4756-8531-58bc6abe6533\",\"name\":\"test-block-volume-from-snapshot\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:40.608792Z\",\"updated_at\":\"2025-09-03T15:22:40.608792Z\",\"references\":[],\"parent_snapshot_id\":\"07698203-8cf0-4bf8-b771-c3a385f5387e\",\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 555.530298ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/99933c4e-d753-4756-8531-58bc6abe6533
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"volume\",\"resource_id\":\"99933c4e-d753-4756-8531-58bc6abe6533\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 85.928767ms
[...]
