---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-18T09:54:11.864522Z","id":"d8aa66a9-6efe-4088-8a4d-416e4183bb01","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.864522Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 442.943468ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/d8aa66a9-6efe-4088-8a4d-416e4183bb01
        method: GET
      response:
        body: '{"created_at":"2026-05-18T09:54:11.864522Z","id":"d8aa66a9-6efe-4088-8a4d-416e4183bb01","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.864522Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.976425ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d8aa66a9-6efe-4088-8a4d-416e4183bb01","name":"test-block-volume-from-snapshot","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.498900Z","id":"f3abc6e5-d90b-4f67-8fd5-ac2b3bdb8f06","name":"test-block-volume-from-snapshot","parent_volume":{"id":"d8aa66a9-6efe-4088-8a4d-416e4183bb01","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.498900Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.244439ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/f3abc6e5-d90b-4f67-8fd5-ac2b3bdb8f06
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:17.498900Z","id":"f3abc6e5-d90b-4f67-8fd5-ac2b3bdb8f06","name":"test-block-volume-from-snapshot","parent_volume":{"id":"d8aa66a9-6efe-4088-8a4d-416e4183bb01","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:17.498900Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.00596ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":30000000000,"snapshot_id":"f3abc6e5-d90b-4f67-8fd5-ac2b3bdb8f06"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-18T09:54:22.857269Z","id":"36533ab4-78fc-4dc3-b8c8-0b4c35a19b36","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"f3abc6e5-d90b-4f67-8fd5-ac2b3bdb8f06","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":30000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:22.857269Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.419548ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/36533ab4-78fc-4dc3-b8c8-0b4c35a19b36
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"36533ab4-78fc-4dc3-b8c8-0b4c35a19b36","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.340932ms
[...]
