---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-07-04T14:32:42.993867Z","id":"8a1ebf7a-8cd2-4cee-bab4-f82af444cc51","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T14:32:42.993867Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.684875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/8a1ebf7a-8cd2-4cee-bab4-f82af444cc51
        method: GET
      response:
        body: '{"created_at":"2025-07-04T14:32:42.993867Z","id":"8a1ebf7a-8cd2-4cee-bab4-f82af444cc51","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T14:32:42.993867Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.451042ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"8a1ebf7a-8cd2-4cee-bab4-f82af444cc51","name":"test-block-volume-from-snapshot","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-07-04T14:32:48.281665Z","id":"763c682e-dad7-4446-a5f5-6996d1f12c4b","name":"test-block-volume-from-snapshot","parent_volume":{"id":"8a1ebf7a-8cd2-4cee-bab4-f82af444cc51","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-07-04T14:32:48.281665Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.680166ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/763c682e-dad7-4446-a5f5-6996d1f12c4b
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-07-04T14:32:48.281665Z","id":"763c682e-dad7-4446-a5f5-6996d1f12c4b","name":"test-block-volume-from-snapshot","parent_volume":{"id":"8a1ebf7a-8cd2-4cee-bab4-f82af444cc51","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-07-04T14:32:48.281665Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.9665ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_snapshot":{"size":30000000000,"snapshot_id":"763c682e-dad7-4446-a5f5-6996d1f12c4b"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-07-04T14:32:53.759750Z","id":"5546da90-4529-473c-ac1c-342b893dbd18","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"763c682e-dad7-4446-a5f5-6996d1f12c4b","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":30000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T14:32:53.759750Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.600417ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/5546da90-4529-473c-ac1c-342b893dbd18
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"5546da90-4529-473c-ac1c-342b893dbd18","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.390875ms
[...]
