---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-08-07T10:13:39.317656Z","id":"d2f1700c-ca85-43af-841f-1d1b2fbaf0b5","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-08-07T10:13:39.317656Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.859458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d2f1700c-ca85-43af-841f-1d1b2fbaf0b5
        method: GET
      response:
        body: '{"created_at":"2025-08-07T10:13:39.317656Z","id":"d2f1700c-ca85-43af-841f-1d1b2fbaf0b5","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-08-07T10:13:39.317656Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.982875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d2f1700c-ca85-43af-841f-1d1b2fbaf0b5","name":"test-block-volume-from-snapshot","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-08-07T10:13:44.614770Z","id":"3636982a-0637-423a-88f2-a8dc4446d926","name":"test-block-volume-from-snapshot","parent_volume":{"id":"d2f1700c-ca85-43af-841f-1d1b2fbaf0b5","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-08-07T10:13:44.614770Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 418.116959ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/3636982a-0637-423a-88f2-a8dc4446d926
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-08-07T10:13:44.614770Z","id":"3636982a-0637-423a-88f2-a8dc4446d926","name":"test-block-volume-from-snapshot","parent_volume":{"id":"d2f1700c-ca85-43af-841f-1d1b2fbaf0b5","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-08-07T10:13:44.614770Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.892667ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_snapshot":{"size":30000000000,"snapshot_id":"3636982a-0637-423a-88f2-a8dc4446d926"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-08-07T10:13:50.454538Z","id":"658ddd32-8edf-47b4-b5fe-faf02740f66a","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"3636982a-0637-423a-88f2-a8dc4446d926","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":30000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-08-07T10:13:50.454538Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.458084ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/658ddd32-8edf-47b4-b5fe-faf02740f66a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"658ddd32-8edf-47b4-b5fe-faf02740f66a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.988959ms
[...]
