---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-remove-snap-base","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T14:37:57.644938Z","id":"9799672c-3644-477e-bb18-511b2e19d6af","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-remove-snap-base","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/9799672c-3644-477e-bb18-511b2e19d6af","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:37:57.644938Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.253053083s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.884542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/9799672c-3644-477e-bb18-511b2e19d6af
        method: GET
      response:
        body: '{"created_at":"2026-10-08T14:37:57.644938Z","id":"9799672c-3644-477e-bb18-511b2e19d6af","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-remove-snap-base","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/9799672c-3644-477e-bb18-511b2e19d6af","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:37:57.644938Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.495625ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"9799672c-3644-477e-bb18-511b2e19d6af","name":"test-block-volume-remove-snap","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:38:02.974364Z","id":"f92aefec-d528-46a5-8412-71b8929061b5","kms_key_id":null,"name":"test-block-volume-remove-snap","parent_volume":{"id":"9799672c-3644-477e-bb18-511b2e19d6af","name":"test-block-volume-remove-snap-base","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":20000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/f92aefec-d528-46a5-8412-71b8929061b5","status":"creating","tags":[],"updated_at":"2026-10-08T14:38:02.974364Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 166.023916ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/f92aefec-d528-46a5-8412-71b8929061b5
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:38:02.974364Z","id":"f92aefec-d528-46a5-8412-71b8929061b5","kms_key_id":null,"name":"test-block-volume-remove-snap","parent_volume":{"id":"9799672c-3644-477e-bb18-511b2e19d6af","name":"test-block-volume-remove-snap-base","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":20000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/f92aefec-d528-46a5-8412-71b8929061b5","status":"creating","tags":[],"updated_at":"2026-10-08T14:38:02.974364Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 317.656958ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-remove-snap","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_snapshot":{"size":20000000000,"snapshot_id":"f92aefec-d528-46a5-8412-71b8929061b5"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T14:38:08.583133Z","id":"48dd8672-b377-4175-8aad-7d04306adb7a","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-remove-snap","parent_snapshot_id":"f92aefec-d528-46a5-8412-71b8929061b5","project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/48dd8672-b377-4175-8aad-7d04306adb7a","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:38:08.583133Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 110.239292ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/48dd8672-b377-4175-8aad-7d04306adb7a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"48dd8672-b377-4175-8aad-7d04306adb7a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 60.161042ms
[...]
