---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T14:26:30.811160Z","id":"940aa3a8-6a66-4b66-9ffa-50dad0aedb39","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/940aa3a8-6a66-4b66-9ffa-50dad0aedb39","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:26:30.811160Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 205.746708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.053416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/940aa3a8-6a66-4b66-9ffa-50dad0aedb39
        method: GET
      response:
        body: '{"created_at":"2026-10-08T14:26:30.811160Z","id":"940aa3a8-6a66-4b66-9ffa-50dad0aedb39","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/940aa3a8-6a66-4b66-9ffa-50dad0aedb39","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:26:30.811160Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.043042ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"940aa3a8-6a66-4b66-9ffa-50dad0aedb39","name":"test-block-volume-from-snapshot","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:26:36.078727Z","id":"e0e38a95-8883-4b6e-bd0f-a3a253aeface","kms_key_id":null,"name":"test-block-volume-from-snapshot","parent_volume":{"id":"940aa3a8-6a66-4b66-9ffa-50dad0aedb39","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":20000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/e0e38a95-8883-4b6e-bd0f-a3a253aeface","status":"creating","tags":[],"updated_at":"2026-10-08T14:26:36.078727Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 134.506791ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e0e38a95-8883-4b6e-bd0f-a3a253aeface
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-10-08T14:26:36.078727Z","id":"e0e38a95-8883-4b6e-bd0f-a3a253aeface","kms_key_id":null,"name":"test-block-volume-from-snapshot","parent_volume":{"id":"940aa3a8-6a66-4b66-9ffa-50dad0aedb39","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"4d333544-41be-4b0b-8907-0b9036859747","public":false,"references":[],"size":20000000000,"srn":"srn://block.scw.eu/zones/fr-par-1/snapshots/e0e38a95-8883-4b6e-bd0f-a3a253aeface","status":"creating","tags":[],"updated_at":"2026-10-08T14:26:36.078727Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.15275ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_snapshot":{"size":30000000000,"snapshot_id":"e0e38a95-8883-4b6e-bd0f-a3a253aeface"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-10-08T14:26:41.321726Z","id":"cf3ee7cb-2584-4ac9-b350-077b74a79c65","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"e0e38a95-8883-4b6e-bd0f-a3a253aeface","project_id":"4d333544-41be-4b0b-8907-0b9036859747","references":[],"size":30000000000,"specs":{"class":"sbs","perf_iops":5000},"srn":"srn://block.scw.eu/zones/fr-par-1/volumes/cf3ee7cb-2584-4ac9-b350-077b74a79c65","status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-10-08T14:26:41.321726Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.387834ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/cf3ee7cb-2584-4ac9-b350-077b74a79c65
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"cf3ee7cb-2584-4ac9-b350-077b74a79c65","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 26.593583ms
[...]
