---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-18T09:54:11.843963Z","id":"07f19fe6-83cc-4fab-b035-e206e377d0b4","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.843963Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.284718ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/07f19fe6-83cc-4fab-b035-e206e377d0b4
        method: GET
      response:
        body: '{"created_at":"2026-05-18T09:54:11.843963Z","id":"07f19fe6-83cc-4fab-b035-e206e377d0b4","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:11.843963Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.294414ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"07f19fe6-83cc-4fab-b035-e206e377d0b4","name":"test-block-volume-from-snapshot","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:12.421208Z","id":"0d11030d-2054-4ec0-be82-c195a08c7c62","name":"test-block-volume-from-snapshot","parent_volume":{"id":"07f19fe6-83cc-4fab-b035-e206e377d0b4","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:12.421208Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.884227ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/0d11030d-2054-4ec0-be82-c195a08c7c62
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-05-18T09:54:12.421208Z","id":"0d11030d-2054-4ec0-be82-c195a08c7c62","name":"test-block-volume-from-snapshot","parent_volume":{"id":"07f19fe6-83cc-4fab-b035-e206e377d0b4","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2026-05-18T09:54:12.421208Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.141294ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":null,"snapshot_id":"0d11030d-2054-4ec0-be82-c195a08c7c62"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-05-18T09:54:18.000331Z","id":"8f60e0ba-87b8-4d9c-b331-fd1b18180a46","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"0d11030d-2054-4ec0-be82-c195a08c7c62","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-05-18T09:54:18.000331Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.688071ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/8f60e0ba-87b8-4d9c-b331-fd1b18180a46
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"8f60e0ba-87b8-4d9c-b331-fd1b18180a46","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.34385ms
[...]
