---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-07-04T13:28:32.323713Z","id":"49aba4c8-5344-4a1a-845c-fb63c7cc91d4","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T13:28:32.323713Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.152792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/49aba4c8-5344-4a1a-845c-fb63c7cc91d4
        method: GET
      response:
        body: '{"created_at":"2025-07-04T13:28:32.323713Z","id":"49aba4c8-5344-4a1a-845c-fb63c7cc91d4","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T13:28:32.323713Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.74475ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"49aba4c8-5344-4a1a-845c-fb63c7cc91d4","name":"test-block-volume-from-snapshot","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-07-04T13:28:37.732264Z","id":"88b3b583-de70-4ea2-b522-80b0845e60de","name":"test-block-volume-from-snapshot","parent_volume":{"id":"49aba4c8-5344-4a1a-845c-fb63c7cc91d4","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-07-04T13:28:37.732264Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 539.790917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/88b3b583-de70-4ea2-b522-80b0845e60de
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-07-04T13:28:37.732264Z","id":"88b3b583-de70-4ea2-b522-80b0845e60de","name":"test-block-volume-from-snapshot","parent_volume":{"id":"49aba4c8-5344-4a1a-845c-fb63c7cc91d4","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"available","tags":[],"updated_at":"2025-07-04T13:28:37.732264Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.145416ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_snapshot":{"size":10000000000,"snapshot_id":"88b3b583-de70-4ea2-b522-80b0845e60de"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"help_message":"size, when provided, must be equal to or larger than the size of the source snapshot. Here the requested volume size is ''10000000000'' whereas snapshot size is ''20000000000''","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 120.64775ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/88b3b583-de70-4ea2-b522-80b0845e60de
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"88b3b583-de70-4ea2-b522-80b0845e60de","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 71.621083ms
[...]
