---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-07-04T13:24:49.071106Z","id":"af3b0627-e2bd-4846-9648-94068f489801","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T13:24:49.071106Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.822583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/af3b0627-e2bd-4846-9648-94068f489801
        method: GET
      response:
        body: '{"created_at":"2025-07-04T13:24:49.071106Z","id":"af3b0627-e2bd-4846-9648-94068f489801","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T13:24:49.071106Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.294166ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"af3b0627-e2bd-4846-9648-94068f489801","name":"test-block-volume-from-snapshot","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-07-04T13:24:54.404473Z","id":"08144a99-7f81-47e3-9b76-d2c9f3b40776","name":"test-block-volume-from-snapshot","parent_volume":{"id":"af3b0627-e2bd-4846-9648-94068f489801","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-07-04T13:24:54.404473Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 818.229ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/08144a99-7f81-47e3-9b76-d2c9f3b40776
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-07-04T13:24:54.404473Z","id":"08144a99-7f81-47e3-9b76-d2c9f3b40776","name":"test-block-volume-from-snapshot","parent_volume":{"id":"af3b0627-e2bd-4846-9648-94068f489801","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":20000000000,"status":"available","tags":[],"updated_at":"2025-07-04T13:24:54.404473Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.407ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","from_snapshot":{"size":30000000000,"snapshot_id":"08144a99-7f81-47e3-9b76-d2c9f3b40776"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-07-04T13:24:55.476684Z","id":"39693ce2-a16a-45d9-a36e-c4b96fad6873","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"08144a99-7f81-47e3-9b76-d2c9f3b40776","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","references":[],"size":30000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-07-04T13:24:55.476684Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.410916ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/39693ce2-a16a-45d9-a36e-c4b96fad6873
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"39693ce2-a16a-45d9-a36e-c4b96fad6873","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.746ms
[...]
