---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-instance","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-02-14T15:00:10.059065+00:00","export_uri":null,"id":"532f72eb-df67-41a3-88e0-ac31d7383921","modification_date":"2025-02-14T15:00:10.059065+00:00","name":"test-block-volume-from-instance","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/532f72eb-df67-41a3-88e0-ac31d7383921
        status: 201 Created
        code: 201
        duration: 396.117666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/532f72eb-df67-41a3-88e0-ac31d7383921
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-02-14T15:00:10.059065+00:00","export_uri":null,"id":"532f72eb-df67-41a3-88e0-ac31d7383921","modification_date":"2025-02-14T15:00:10.059065+00:00","name":"test-block-volume-from-instance","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.054458ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"532f72eb-df67-41a3-88e0-ac31d7383921"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/block-migration/plan
        method: POST
      response:
        body: '{"snapshots":[],"validation_key":"8c4b26e85b84738c46a69df96edf7f6f","volume":{"creation_date":"2025-02-14T15:00:10.059065+00:00","export_uri":null,"id":"532f72eb-df67-41a3-88e0-ac31d7383921","modification_date":"2025-02-14T15:00:10.059065+00:00","name":"test-block-volume-from-instance","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.648263292s
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"volume_id":"532f72eb-df67-41a3-88e0-ac31d7383921","validation_key":"8c4b26e85b84738c46a69df96edf7f6f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/block-migration/apply
        method: POST
      response:
        body: '{"task":{"description":"migrate_532f72eb-df67-41a3-88e0-ac31d7383921","href_from":"/block-migration/apply","href_result":"volumes/532f72eb-df67-41a3-88e0-ac31d7383921","id":"d3f6ece3-4d67-4998-9975-470f6fefd0da","progress":0,"started_at":"2025-02-14T15:00:20.061913+00:00","status":"pending","terminated_at":null,"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 1.884228583s
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/532f72eb-df67-41a3-88e0-ac31d7383921
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"532f72eb-df67-41a3-88e0-ac31d7383921","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 103.820458ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/532f72eb-df67-41a3-88e0-ac31d7383921
        method: GET
      response:
        body: '{"created_at":"2025-02-14T15:00:20.309518Z","id":"532f72eb-df67-41a3-88e0-ac31d7383921","last_detached_at":null,"name":"test-block-volume-from-instance","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"bssd","perf_iops":5000},"status":"available","tags":[],"type":"b_ssd","updated_at":"2025-02-14T15:00:21.049319Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.040875ms
[...]
