---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-block-volume-update-iops\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":20000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"d20ca83f-0b92-4153-838d-26f35ace2d39\",\"name\":\"test-block-volume-update-iops\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.845552Z\",\"updated_at\":\"2025-09-03T15:22:28.845552Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 573.020765ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d20ca83f-0b92-4153-838d-26f35ace2d39
    method: GET
  response:
    body: "{\"id\":\"d20ca83f-0b92-4153-838d-26f35ace2d39\",\"name\":\"test-block-volume-update-iops\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.845552Z\",\"updated_at\":\"2025-09-03T15:22:28.845552Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"available\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.065522ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d20ca83f-0b92-4153-838d-26f35ace2d39
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"volume\",\"resource_id\":\"d20ca83f-0b92-4153-838d-26f35ace2d39\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 80.039188ms
[...]
