---
version: 2
interactions:
- request:
    body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","from_empty":{"size":20000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"created_at":"2023-11-23T12:57:56.032760Z","id":"f9cc349e-5cc2-4f32-a418-4ee89978f773","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:57:56.032760Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/f9cc349e-5cc2-4f32-a418-4ee89978f773
    method: GET
  response:
    body: '{"created_at":"2023-11-23T12:57:56.032760Z","id":"f9cc349e-5cc2-4f32-a418-4ee89978f773","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:57:56.105540Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"volume_id":"f9cc349e-5cc2-4f32-a418-4ee89978f773","name":"test-block-volume-from-snapshot","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"class":"sbs","created_at":"2023-11-23T12:58:01.345938Z","id":"1825b97d-3ae5-417e-946c-a790536b453f","name":"test-block-volume-from-snapshot","parent_volume":{"id":"f9cc349e-5cc2-4f32-a418-4ee89978f773","name":"test-block-volume-from-snapshot-base","status":"snapshotting","type":"sbs_5k"},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2023-11-23T12:58:01.345938Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/1825b97d-3ae5-417e-946c-a790536b453f
    method: GET
  response:
    body: '{"class":"sbs","created_at":"2023-11-23T12:58:01.345938Z","id":"1825b97d-3ae5-417e-946c-a790536b453f","name":"test-block-volume-from-snapshot","parent_volume":{"id":"f9cc349e-5cc2-4f32-a418-4ee89978f773","name":"test-block-volume-from-snapshot-base","status":"snapshotting","type":"sbs_5k"},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2023-11-23T12:58:01.345938Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","from_snapshot":{"size":null,"snapshot_id":"1825b97d-3ae5-417e-946c-a790536b453f"},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"created_at":"2023-11-23T12:58:06.686094Z","id":"77750b0e-f923-4639-b18b-4799e5d39ce9","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"1825b97d-3ae5-417e-946c-a790536b453f","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:58:06.686094Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/77750b0e-f923-4639-b18b-4799e5d39ce9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"volume","resource_id":"77750b0e-f923-4639-b18b-4799e5d39ce9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/f9cc349e-5cc2-4f32-a418-4ee89978f773
    method: DELETE
  response:
    body: '{"expired_since":"2023-11-23T12:58:13.613666Z","message":"resource has
      expired","resource":"volume","resource_id":"f9cc349e-5cc2-4f32-a418-4ee89978f773","type":"expired"}'
    headers:
      Content-Type:
      - application/json
    status: 410 Gone
    code: 410
[...]
