---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-block-volume-from-snapshot-base\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":20000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"32daa5dd-89b7-4916-ba75-2bd57390e452\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.856125Z\",\"updated_at\":\"2025-09-03T15:22:28.856125Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 792.805218ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/32daa5dd-89b7-4916-ba75-2bd57390e452
    method: GET
  response:
    body: "{\"id\":\"32daa5dd-89b7-4916-ba75-2bd57390e452\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:28.856125Z\",\"updated_at\":\"2025-09-03T15:22:28.856125Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.61052ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"32daa5dd-89b7-4916-ba75-2bd57390e452\",\"name\":\"test-block-volume-from-snapshot\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"39a3c9d2-7b5e-4879-bdd4-d8ea643d4483\",\"name\":\"test-block-volume-from-snapshot\",\"parent_volume\":{\"id\":\"32daa5dd-89b7-4916-ba75-2bd57390e452\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:35.032599Z\",\"updated_at\":\"2025-09-03T15:22:35.032599Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 318.992903ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/39a3c9d2-7b5e-4879-bdd4-d8ea643d4483
    method: GET
  response:
    body: "{\"id\":\"39a3c9d2-7b5e-4879-bdd4-d8ea643d4483\",\"name\":\"test-block-volume-from-snapshot\",\"parent_volume\":{\"id\":\"32daa5dd-89b7-4916-ba75-2bd57390e452\",\"name\":\"test-block-volume-from-snapshot-base\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:35.032599Z\",\"updated_at\":\"2025-09-03T15:22:35.032599Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 256.275188ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-block-volume-from-snapshot\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_snapshot\":{\"size\":30000000000,\"snapshot_id\":\"39a3c9d2-7b5e-4879-bdd4-d8ea643d4483\"},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"baa5d2f0-0f76-4c8e-8ecf-be8d5f2061d4\",\"name\":\"test-block-volume-from-snapshot\",\"type\":\"sbs_5k\",\"size\":30000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:22:41.375364Z\",\"updated_at\":\"2025-09-03T15:22:41.375364Z\",\"references\":[],\"parent_snapshot_id\":\"39a3c9d2-7b5e-4879-bdd4-d8ea643d4483\",\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 426.841137ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/baa5d2f0-0f76-4c8e-8ecf-be8d5f2061d4
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"volume\",\"resource_id\":\"baa5d2f0-0f76-4c8e-8ecf-be8d5f2061d4\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 86.037211ms
[...]
