---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-30T09:59:27.505832Z","id":"65b9c0db-5f46-4483-b4cc-ef594c8eaf58","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.505832Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 402.449273ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/65b9c0db-5f46-4483-b4cc-ef594c8eaf58
        method: GET
      response:
        body: '{"created_at":"2025-12-30T09:59:27.505832Z","id":"65b9c0db-5f46-4483-b4cc-ef594c8eaf58","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.505832Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.724135ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"65b9c0db-5f46-4483-b4cc-ef594c8eaf58","name":"test-block-volume-from-snapshot","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:33.131381Z","id":"7ad46efa-f6ed-4d77-9ff3-6368926e6c2c","name":"test-block-volume-from-snapshot","parent_volume":{"id":"65b9c0db-5f46-4483-b4cc-ef594c8eaf58","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:33.131381Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 569.451516ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/7ad46efa-f6ed-4d77-9ff3-6368926e6c2c
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:33.131381Z","id":"7ad46efa-f6ed-4d77-9ff3-6368926e6c2c","name":"test-block-volume-from-snapshot","parent_volume":{"id":"65b9c0db-5f46-4483-b4cc-ef594c8eaf58","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:33.131381Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.599234ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":null,"snapshot_id":"7ad46efa-f6ed-4d77-9ff3-6368926e6c2c"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-30T09:59:40.090454Z","id":"a1a4cb1d-9b38-468d-9423-5dd03099604b","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"7ad46efa-f6ed-4d77-9ff3-6368926e6c2c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:40.090454Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.395821ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/a1a4cb1d-9b38-468d-9423-5dd03099604b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"a1a4cb1d-9b38-468d-9423-5dd03099604b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.33606ms
[...]
