---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-30T09:59:27.492269Z","id":"07b6742a-3a74-42ca-b9eb-dd26c179b160","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.492269Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.282239ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/07b6742a-3a74-42ca-b9eb-dd26c179b160
        method: GET
      response:
        body: '{"created_at":"2025-12-30T09:59:27.492269Z","id":"07b6742a-3a74-42ca-b9eb-dd26c179b160","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:27.492269Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.448301ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"07b6742a-3a74-42ca-b9eb-dd26c179b160","name":"test-block-volume-from-snapshot","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:27.982005Z","id":"807bd692-98c3-4851-9afd-fc3a0499a0fa","name":"test-block-volume-from-snapshot","parent_volume":{"id":"07b6742a-3a74-42ca-b9eb-dd26c179b160","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:27.982005Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 794.305716ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/807bd692-98c3-4851-9afd-fc3a0499a0fa
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-12-30T09:59:27.982005Z","id":"807bd692-98c3-4851-9afd-fc3a0499a0fa","name":"test-block-volume-from-snapshot","parent_volume":{"id":"07b6742a-3a74-42ca-b9eb-dd26c179b160","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-12-30T09:59:27.982005Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.146856ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":30000000000,"snapshot_id":"807bd692-98c3-4851-9afd-fc3a0499a0fa"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-12-30T09:59:34.458316Z","id":"9798dde4-f223-44cd-af89-e3ac2960b03e","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"807bd692-98c3-4851-9afd-fc3a0499a0fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":30000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-12-30T09:59:34.458316Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.068629ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/9798dde4-f223-44cd-af89-e3ac2960b03e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"9798dde4-f223-44cd-af89-e3ac2960b03e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.623134ms
[...]
