---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-instance","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-02-14T08:34:24.057678+00:00","export_uri":null,"id":"c0adc994-0406-4eee-9cdc-a433d88b4520","modification_date":"2025-02-14T08:34:24.057678+00:00","name":"test-block-volume-from-instance","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c0adc994-0406-4eee-9cdc-a433d88b4520
        status: 201 Created
        code: 201
        duration: 372.394ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c0adc994-0406-4eee-9cdc-a433d88b4520
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-02-14T08:34:24.057678+00:00","export_uri":null,"id":"c0adc994-0406-4eee-9cdc-a433d88b4520","modification_date":"2025-02-14T08:34:24.057678+00:00","name":"test-block-volume-from-instance","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.398334ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"c0adc994-0406-4eee-9cdc-a433d88b4520"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/block-migration/plan
        method: POST
      response:
        body: '{"snapshots":[],"validation_key":"ac395fac96bfcc37fce1c24365399f54","volume":{"creation_date":"2025-02-14T08:34:24.057678+00:00","export_uri":null,"id":"c0adc994-0406-4eee-9cdc-a433d88b4520","modification_date":"2025-02-14T08:34:24.057678+00:00","name":"test-block-volume-from-instance","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.608667ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"volume_id":"c0adc994-0406-4eee-9cdc-a433d88b4520","validation_key":"ac395fac96bfcc37fce1c24365399f54"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/block-migration/apply
        method: POST
      response:
        body: '{"task":{"description":"migrate_c0adc994-0406-4eee-9cdc-a433d88b4520","href_from":"/block-migration/apply","href_result":"volumes/c0adc994-0406-4eee-9cdc-a433d88b4520","id":"3dd2e504-39ff-4b1c-a25e-9f9f8a1cf3e2","progress":0,"started_at":"2025-02-14T08:34:26.322319+00:00","status":"pending","terminated_at":null,"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 511.66325ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c0adc994-0406-4eee-9cdc-a433d88b4520
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"c0adc994-0406-4eee-9cdc-a433d88b4520","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.236667ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/c0adc994-0406-4eee-9cdc-a433d88b4520
        method: GET
      response:
        body: '{"created_at":"2025-02-14T08:34:26.506729Z","id":"c0adc994-0406-4eee-9cdc-a433d88b4520","last_detached_at":null,"name":"test-block-volume-from-instance","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"bssd","perf_iops":5000},"status":"available","tags":[],"type":"b_ssd","updated_at":"2025-02-14T08:34:27.826958Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.252708ms
[...]
