---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot-base","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:30:27.064271Z","id":"1d17df74-068e-40c0-a0ef-615285f74de9","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-22T13:30:27.064271Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.638ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/1d17df74-068e-40c0-a0ef-615285f74de9
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:30:27.064271Z","id":"1d17df74-068e-40c0-a0ef-615285f74de9","last_detached_at":null,"name":"test-block-volume-from-snapshot-base","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-22T13:30:27.064271Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.437125ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"1d17df74-068e-40c0-a0ef-615285f74de9","name":"test-block-volume-from-snapshot","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-01-22T13:30:32.513279Z","id":"3ca78760-3a8c-4846-80d0-7d25929bd0aa","name":"test-block-volume-from-snapshot","parent_volume":{"id":"1d17df74-068e-40c0-a0ef-615285f74de9","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-01-22T13:30:32.513279Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.856584ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/3ca78760-3a8c-4846-80d0-7d25929bd0aa
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-01-22T13:30:32.513279Z","id":"3ca78760-3a8c-4846-80d0-7d25929bd0aa","name":"test-block-volume-from-snapshot","parent_volume":{"id":"1d17df74-068e-40c0-a0ef-615285f74de9","name":"test-block-volume-from-snapshot-base","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-01-22T13:30:32.513279Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.878417ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":null,"snapshot_id":"3ca78760-3a8c-4846-80d0-7d25929bd0aa"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:30:37.966735Z","id":"0f1a80a8-bc91-402d-8957-8ef7031a751d","last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"3ca78760-3a8c-4846-80d0-7d25929bd0aa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-22T13:30:37.966735Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.505292ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/0f1a80a8-bc91-402d-8957-8ef7031a751d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"0f1a80a8-bc91-402d-8957-8ef7031a751d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.998042ms
[...]
