---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[],"end_of_life_at":"2026-03-19T00:00:00Z","version":"4.0.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.387083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/node-types?page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-shared-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"dedicated","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-dedicated-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"16 GB RAM;4 vCPU","disabled":false,"memory_bytes":16000000000,"name":"brokernode-shared-4c-16g","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 390.940167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-09T14:42:45.701789Z","custom_routes_propagation_enabled":true,"id":"0377f91b-5438-429b-b050-8a35ea3a7bb4","is_default":false,"name":"TestAccCluster_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-09T14:42:45.701789Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.661458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0377f91b-5438-429b-b050-8a35ea3a7bb4
        method: GET
      response:
        body: '{"created_at":"2026-02-09T14:42:45.701789Z","custom_routes_propagation_enabled":true,"id":"0377f91b-5438-429b-b050-8a35ea3a7bb4","is_default":false,"name":"TestAccCluster_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-09T14:42:45.701789Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.765333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_kafka_basic_pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"0377f91b-5438-429b-b050-8a35ea3a7bb4","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-09T14:42:45.951958Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425","name":"tf_test_kafka_basic_pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-09T14:42:45.951958Z","id":"dbc6eb3e-04ca-4c2c-a8a5-2a5760a50a47","private_network_id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.140.0/22","updated_at":"2026-02-09T14:42:45.951958Z","vpc_id":"0377f91b-5438-429b-b050-8a35ea3a7bb4"},{"created_at":"2026-02-09T14:42:45.951958Z","id":"278517cf-71bb-4b92-94c8-8acb1322afc8","private_network_id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:62b::/64","updated_at":"2026-02-09T14:42:45.951958Z","vpc_id":"0377f91b-5438-429b-b050-8a35ea3a7bb4"}],"tags":[],"updated_at":"2026-02-09T14:42:45.951958Z","vpc_id":"0377f91b-5438-429b-b050-8a35ea3a7bb4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.87325ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ec4c932-6f8b-4d6f-948a-6be13c50d425
        method: GET
      response:
        body: '{"created_at":"2026-02-09T14:42:45.951958Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425","name":"tf_test_kafka_basic_pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-09T14:42:45.951958Z","id":"dbc6eb3e-04ca-4c2c-a8a5-2a5760a50a47","private_network_id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.140.0/22","updated_at":"2026-02-09T14:42:45.951958Z","vpc_id":"0377f91b-5438-429b-b050-8a35ea3a7bb4"},{"created_at":"2026-02-09T14:42:45.951958Z","id":"278517cf-71bb-4b92-94c8-8acb1322afc8","private_network_id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:62b::/64","updated_at":"2026-02-09T14:42:45.951958Z","vpc_id":"0377f91b-5438-429b-b050-8a35ea3a7bb4"}],"tags":[],"updated_at":"2026-02-09T14:42:45.951958Z","vpc_id":"0377f91b-5438-429b-b050-8a35ea3a7bb4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.34875ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kafka-basic","version":"4.0.0","tags":null,"node_amount":1,"node_type":"brokernode-shared-2c-8g","volume":{"size_bytes":10000000000,"type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425"}}],"user_name":"admin","password":"password@1234567"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"created_at":"2026-02-09T14:42:46.827500Z","endpoints":[{"dns_records":["kafka-655d23fc-94c1-4e6d-ad5f-8c9480a849a9-broker-0.8ec4c932-6f8b-4d6f-948a-6be13c50d425.internal"],"id":"462a43a1-29a3-4882-a2ea-2910d03d76fa","port":9092,"private_network":{"private_network_id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425"}}],"id":"655d23fc-94c1-4e6d-ad5f-8c9480a849a9","name":"tf-test-kafka-basic","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.123125ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/655d23fc-94c1-4e6d-ad5f-8c9480a849a9
        method: GET
      response:
        body: '{"created_at":"2026-02-09T14:42:46.827500Z","endpoints":[{"dns_records":["kafka-655d23fc-94c1-4e6d-ad5f-8c9480a849a9-broker-0.8ec4c932-6f8b-4d6f-948a-6be13c50d425.internal"],"id":"462a43a1-29a3-4882-a2ea-2910d03d76fa","port":9092,"private_network":{"private_network_id":"8ec4c932-6f8b-4d6f-948a-6be13c50d425"}}],"id":"655d23fc-94c1-4e6d-ad5f-8c9480a849a9","name":"tf-test-kafka-basic","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.734625ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/655d23fc-94c1-4e6d-ad5f-8c9480a849a9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"655d23fc-94c1-4e6d-ad5f-8c9480a849a9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 158.643291ms
[...]
