---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[],"end_of_life_at":"2026-03-19T00:00:00Z","version":"4.0.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.21325ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/node-types?page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-shared-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"dedicated","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-dedicated-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"16 GB RAM;4 vCPU","disabled":false,"memory_bytes":16000000000,"name":"brokernode-shared-4c-16g","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.802167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_Basic","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-06T10:52:46.267879Z","custom_routes_propagation_enabled":true,"id":"c04af110-1734-4f3c-9483-a04dba1d0322","is_default":false,"name":"TestAccCluster_Basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-06T10:52:46.267879Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.548042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c04af110-1734-4f3c-9483-a04dba1d0322
        method: GET
      response:
        body: '{"created_at":"2026-02-06T10:52:46.267879Z","custom_routes_propagation_enabled":true,"id":"c04af110-1734-4f3c-9483-a04dba1d0322","is_default":false,"name":"TestAccCluster_Basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-06T10:52:46.267879Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.745042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_kafka_basic_pn","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"subnets":null,"vpc_id":"c04af110-1734-4f3c-9483-a04dba1d0322","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-06T10:52:46.646558Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c343cd44-5754-4874-86e9-7e61b548acf1","name":"tf_test_kafka_basic_pn","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnets":[{"created_at":"2026-02-06T10:52:46.646558Z","id":"d5b6d6cc-576d-4a4b-a133-718b0d4ec470","private_network_id":"c343cd44-5754-4874-86e9-7e61b548acf1","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnet":"172.16.0.0/22","updated_at":"2026-02-06T10:52:46.646558Z","vpc_id":"c04af110-1734-4f3c-9483-a04dba1d0322"},{"created_at":"2026-02-06T10:52:46.646558Z","id":"338b6f56-38a4-43c0-bb9c-cc9a69103882","private_network_id":"c343cd44-5754-4874-86e9-7e61b548acf1","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnet":"fd5d:9132:befe:3969::/64","updated_at":"2026-02-06T10:52:46.646558Z","vpc_id":"c04af110-1734-4f3c-9483-a04dba1d0322"}],"tags":[],"updated_at":"2026-02-06T10:52:46.646558Z","vpc_id":"c04af110-1734-4f3c-9483-a04dba1d0322"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 799.04625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c343cd44-5754-4874-86e9-7e61b548acf1
        method: GET
      response:
        body: '{"created_at":"2026-02-06T10:52:46.646558Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c343cd44-5754-4874-86e9-7e61b548acf1","name":"tf_test_kafka_basic_pn","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnets":[{"created_at":"2026-02-06T10:52:46.646558Z","id":"d5b6d6cc-576d-4a4b-a133-718b0d4ec470","private_network_id":"c343cd44-5754-4874-86e9-7e61b548acf1","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnet":"172.16.0.0/22","updated_at":"2026-02-06T10:52:46.646558Z","vpc_id":"c04af110-1734-4f3c-9483-a04dba1d0322"},{"created_at":"2026-02-06T10:52:46.646558Z","id":"338b6f56-38a4-43c0-bb9c-cc9a69103882","private_network_id":"c343cd44-5754-4874-86e9-7e61b548acf1","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnet":"fd5d:9132:befe:3969::/64","updated_at":"2026-02-06T10:52:46.646558Z","vpc_id":"c04af110-1734-4f3c-9483-a04dba1d0322"}],"tags":[],"updated_at":"2026-02-06T10:52:46.646558Z","vpc_id":"c04af110-1734-4f3c-9483-a04dba1d0322"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.301417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-kafka-basic","version":"4.0.0","tags":null,"node_amount":1,"node_type":"brokernode-shared-2c-8g","volume":{"size_bytes":10000000000,"type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"c343cd44-5754-4874-86e9-7e61b548acf1"}}],"user_name":"admin","password":"password@1234567"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"created_at":"2026-02-06T10:52:47.511956Z","endpoints":[{"dns_records":["kafka-dea68895-22e6-4b5b-bd4b-6cdf537e6cef-broker-0.c343cd44-5754-4874-86e9-7e61b548acf1.internal"],"id":"d7da6af2-6f93-4dc9-8f79-a04b0f7ec2b1","port":9092,"private_network":{"private_network_id":"c343cd44-5754-4874-86e9-7e61b548acf1"}}],"id":"dea68895-22e6-4b5b-bd4b-6cdf537e6cef","name":"tf-test-kafka-basic","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.05625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/dea68895-22e6-4b5b-bd4b-6cdf537e6cef
        method: GET
      response:
        body: '{"created_at":"2026-02-06T10:52:47.511956Z","endpoints":[{"dns_records":["kafka-dea68895-22e6-4b5b-bd4b-6cdf537e6cef-broker-0.c343cd44-5754-4874-86e9-7e61b548acf1.internal"],"id":"d7da6af2-6f93-4dc9-8f79-a04b0f7ec2b1","port":9092,"private_network":{"private_network_id":"c343cd44-5754-4874-86e9-7e61b548acf1"}}],"id":"dea68895-22e6-4b5b-bd4b-6cdf537e6cef","name":"tf-test-kafka-basic","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.456542ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/dea68895-22e6-4b5b-bd4b-6cdf537e6cef
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"dea68895-22e6-4b5b-bd4b-6cdf537e6cef","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 92.814833ms
[...]
