---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[],"end_of_life_at":"2026-03-19T00:00:00Z","version":"4.0.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.662041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/node-types?page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-shared-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"dedicated","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-dedicated-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"16 GB RAM;4 vCPU","disabled":false,"memory_bytes":16000000000,"name":"brokernode-shared-4c-16g","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.634125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-16T04:41:51.370202Z","custom_routes_propagation_enabled":true,"id":"31591fef-90ed-4993-83a5-bb8b332315cd","is_default":false,"name":"TestAccCluster_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-16T04:41:51.370202Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.647125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/31591fef-90ed-4993-83a5-bb8b332315cd
        method: GET
      response:
        body: '{"created_at":"2026-02-16T04:41:51.370202Z","custom_routes_propagation_enabled":true,"id":"31591fef-90ed-4993-83a5-bb8b332315cd","is_default":false,"name":"TestAccCluster_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-16T04:41:51.370202Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.272167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_kafka_basic_pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"31591fef-90ed-4993-83a5-bb8b332315cd","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-16T04:41:51.610857Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e","name":"tf_test_kafka_basic_pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-16T04:41:51.610857Z","id":"4ba18137-8956-4131-9255-9b5b139e1a03","private_network_id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.76.0/22","updated_at":"2026-02-16T04:41:51.610857Z","vpc_id":"31591fef-90ed-4993-83a5-bb8b332315cd"},{"created_at":"2026-02-16T04:41:51.610857Z","id":"5ef75665-7458-4f2a-83b9-5ef80abf5946","private_network_id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a5d8::/64","updated_at":"2026-02-16T04:41:51.610857Z","vpc_id":"31591fef-90ed-4993-83a5-bb8b332315cd"}],"tags":[],"updated_at":"2026-02-16T04:41:51.610857Z","vpc_id":"31591fef-90ed-4993-83a5-bb8b332315cd"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.725416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/84ddfea5-4b35-4f95-98b0-e2e98963be4e
        method: GET
      response:
        body: '{"created_at":"2026-02-16T04:41:51.610857Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e","name":"tf_test_kafka_basic_pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-16T04:41:51.610857Z","id":"4ba18137-8956-4131-9255-9b5b139e1a03","private_network_id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.76.0/22","updated_at":"2026-02-16T04:41:51.610857Z","vpc_id":"31591fef-90ed-4993-83a5-bb8b332315cd"},{"created_at":"2026-02-16T04:41:51.610857Z","id":"5ef75665-7458-4f2a-83b9-5ef80abf5946","private_network_id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a5d8::/64","updated_at":"2026-02-16T04:41:51.610857Z","vpc_id":"31591fef-90ed-4993-83a5-bb8b332315cd"}],"tags":[],"updated_at":"2026-02-16T04:41:51.610857Z","vpc_id":"31591fef-90ed-4993-83a5-bb8b332315cd"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.412959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kafka-basic","version":"4.0.0","tags":null,"node_amount":1,"node_type":"brokernode-shared-2c-8g","volume":{"size_bytes":10000000000,"type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e"}}],"user_name":"admin","password":"password@1234567"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"created_at":"2026-02-16T04:41:52.399595Z","endpoints":[{"dns_records":["kafka-f85ef679-179f-4e0b-9870-75c922556a72-broker-0.84ddfea5-4b35-4f95-98b0-e2e98963be4e.internal"],"id":"afc0a2e4-3923-4855-8571-86092df3095e","port":9092,"private_network":{"private_network_id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e"}}],"id":"f85ef679-179f-4e0b-9870-75c922556a72","name":"tf-test-kafka-basic","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 697.088792ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/f85ef679-179f-4e0b-9870-75c922556a72
        method: GET
      response:
        body: '{"created_at":"2026-02-16T04:41:52.399595Z","endpoints":[{"dns_records":["kafka-f85ef679-179f-4e0b-9870-75c922556a72-broker-0.84ddfea5-4b35-4f95-98b0-e2e98963be4e.internal"],"id":"afc0a2e4-3923-4855-8571-86092df3095e","port":9092,"private_network":{"private_network_id":"84ddfea5-4b35-4f95-98b0-e2e98963be4e"}}],"id":"f85ef679-179f-4e0b-9870-75c922556a72","name":"tf-test-kafka-basic","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.938833ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/f85ef679-179f-4e0b-9870-75c922556a72
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"f85ef679-179f-4e0b-9870-75c922556a72","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 267.70775ms
[...]
