---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"available_settings":[],"end_of_life_at":"2026-03-19T00:00:00Z","version":"4.0.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.40725ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/node-types?page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-shared-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"dedicated","description":"8 GB RAM;2 vCPU","disabled":false,"memory_bytes":8000000000,"name":"brokernode-dedicated-2c-8g","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":10000000000,"type":"sbs_5k"}],"beta":true,"cluster_range":"shared","description":"16 GB RAM;4 vCPU","disabled":false,"memory_bytes":16000000000,"name":"brokernode-shared-4c-16g","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.684542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDataSourceCluster_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-20T10:18:46.473670Z","custom_routes_propagation_enabled":true,"id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e","is_default":false,"name":"TestAccDataSourceCluster_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-20T10:18:46.473670Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.475791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e
        method: GET
      response:
        body: '{"created_at":"2026-02-20T10:18:46.473670Z","custom_routes_propagation_enabled":true,"id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e","is_default":false,"name":"TestAccDataSourceCluster_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-20T10:18:46.473670Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.288208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_kafka_datasource_pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-20T10:18:46.851887Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d51b86af-e6b8-4dda-8811-106eb3a964c1","name":"tf_test_kafka_datasource_pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-20T10:18:46.851887Z","id":"d8636e90-ad0b-4e02-902c-d3a61bf4074b","private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.96.0/22","updated_at":"2026-02-20T10:18:46.851887Z","vpc_id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e"},{"created_at":"2026-02-20T10:18:46.851887Z","id":"78cf72a4-e065-49b2-ab1c-cd890bfe8de3","private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5b81::/64","updated_at":"2026-02-20T10:18:46.851887Z","vpc_id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e"}],"tags":[],"updated_at":"2026-02-20T10:18:46.851887Z","vpc_id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 653.358792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d51b86af-e6b8-4dda-8811-106eb3a964c1
        method: GET
      response:
        body: '{"created_at":"2026-02-20T10:18:46.851887Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d51b86af-e6b8-4dda-8811-106eb3a964c1","name":"tf_test_kafka_datasource_pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-20T10:18:46.851887Z","id":"d8636e90-ad0b-4e02-902c-d3a61bf4074b","private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.96.0/22","updated_at":"2026-02-20T10:18:46.851887Z","vpc_id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e"},{"created_at":"2026-02-20T10:18:46.851887Z","id":"78cf72a4-e065-49b2-ab1c-cd890bfe8de3","private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5b81::/64","updated_at":"2026-02-20T10:18:46.851887Z","vpc_id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e"}],"tags":[],"updated_at":"2026-02-20T10:18:46.851887Z","vpc_id":"8e1ec2c3-9e79-48d8-8de9-cf8bafa6172e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.487667ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kafka-datasource","version":"4.0.0","tags":null,"node_amount":1,"node_type":"brokernode-shared-2c-8g","volume":{"size_bytes":10000000000,"type":"sbs_5k"},"endpoints":[{"private_network":{"private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1"}}],"user_name":"admin","password":"password@1234567"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"created_at":"2026-02-20T10:18:47.601890Z","endpoints":[{"dns_records":["kafka-989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab-broker-0.d51b86af-e6b8-4dda-8811-106eb3a964c1.internal"],"id":"2d9dfaae-a323-4ede-971c-e3e788134b91","port":9092,"private_network":{"private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1"}}],"id":"989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab","name":"tf-test-kafka-datasource","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.460834ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab
        method: GET
      response:
        body: '{"created_at":"2026-02-20T10:18:47.601890Z","endpoints":[{"dns_records":["kafka-989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab-broker-0.d51b86af-e6b8-4dda-8811-106eb3a964c1.internal"],"id":"2d9dfaae-a323-4ede-971c-e3e788134b91","port":9092,"private_network":{"private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1"}}],"id":"989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab","name":"tf-test-kafka-datasource","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"creating","tags":[],"updated_at":null,"version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.362166ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters?name=tf-test-kafka-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"clusters":[{"created_at":"2026-02-20T10:18:47.601890Z","endpoints":[{"dns_records":["kafka-989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab-broker-0.d51b86af-e6b8-4dda-8811-106eb3a964c1.internal"],"id":"2d9dfaae-a323-4ede-971c-e3e788134b91","port":9092,"private_network":{"private_network_id":"d51b86af-e6b8-4dda-8811-106eb3a964c1"}}],"id":"989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab","name":"tf-test-kafka-datasource","node_amount":1,"node_type":"brokernode-shared-2c-8g","organization_id":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","settings":[],"status":"ready","tags":[],"updated_at":"2026-02-20T10:20:41.463445Z","version":"4.0.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.807834ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/clusters/989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"989bcc8e-f4ef-40cc-b9c9-72b05f5a38ab","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.976917ms
[...]
