---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/kafka/v1alpha1/regions/fr-par/versions?version=4.0.0
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"version":"4.0.0","end_of_life_at":"2026-03-19T00:00:00Z","available_settings":[{"name":"log_retention_bytes","hot_configurable":true,"description":"The maximum size of the log before it is deleted","int_property":{"min":-1,"max":2147483647,"default_value":-1,"unit":"bytes"}},{"name":"compression_type","hot_configurable":true,"description":"The compression type for a given topic","string_property":{"string_constraint":"^(uncompressed|snappy|lz4|gzip|zstd|producer)$","default_value":"producer"}}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.576612ms
[...]
