---
version: 2
interactions:
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.159.152.92","id":"77e0cacb-6b15-4c65-b60f-47011b210fce","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"tags":[],"zone":"fr-par-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/77e0cacb-6b15-4c65-b60f-47011b210fce
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/77e0cacb-6b15-4c65-b60f-47011b210fce
    method: GET
  response:
    body: '{"ip":{"address":"51.159.152.92","id":"77e0cacb-6b15-4c65-b60f-47011b210fce","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"tags":[],"zone":"fr-par-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
