---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e2522f57-cf3c-4fc1-87cd-a2f84530d8d4
        method: GET
      response:
        body: '{"ip":{"address":"51.158.121.9","id":"e2522f57-cf3c-4fc1-87cd-a2f84530d8d4","ipam_id":"7e11ad1c-b6f7-4892-9894-cc12f38b3633","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","prefix":null,"project":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.337708ms
