---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T09:25:29.046167Z","description":"","id":"b62358ce-5e66-4b18-b7a5-c631a0551d7b","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-13T09:25:29.046167Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 302.48823ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b62358ce-5e66-4b18-b7a5-c631a0551d7b
        method: GET
      response:
        body: '{"created_at":"2024-08-13T09:25:29.046167Z","description":"","id":"b62358ce-5e66-4b18-b7a5-c631a0551d7b","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-13T09:25:29.046167Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.23608ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"b62358ce-5e66-4b18-b7a5-c631a0551d7b","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"unknown_type","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-13T09:25:29.413910Z","description":"","ephemeral_policy":null,"id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"b62358ce-5e66-4b18-b7a5-c631a0551d7b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-13T09:25:29.413910Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.748262ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a
        method: GET
      response:
        body: '{"created_at":"2024-08-13T09:25:29.413910Z","description":"","ephemeral_policy":null,"id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"b62358ce-5e66-4b18-b7a5-c631a0551d7b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-13T09:25:29.413910Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.376606ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-13T09:25:29.654959Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","status":"enabled","updated_at":"2024-08-13T09:25:29.654959Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.035401ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-13T09:25:29.654959Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","status":"enabled","updated_at":"2024-08-13T09:25:29.654959Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.103378ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=b62358ce-5e66-4b18-b7a5-c631a0551d7b&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2024-08-13T09:25:29.413910Z","description":"","ephemeral_policy":null,"id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"b62358ce-5e66-4b18-b7a5-c631a0551d7b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-13T09:25:29.413910Z","version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.553844ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.056301ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.879819ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"78bcf0e5-3261-4b3e-9b8b-99ef63b3b99a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.246191ms
[...]
