---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-705771920599171187","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:55:59.358675Z","description":"","id":"0f1b7d11-5733-4ec7-86d5-52f28ab880bf","name":"test-acc-scaleway-project-705771920599171187","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T09:55:59.358675Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 559.162708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-5768259270631916252","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:55:59.726936Z","deletable":true,"description":"","editable":true,"id":"52b58738-15b7-4856-b628-a000ac83fca3","managed":false,"name":"test-acc-scaleway-iam-app-5768259270631916252","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-03-13T09:55:59.726936Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.366542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-1565138351999018314","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"52b58738-15b7-4856-b628-a000ac83fca3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"52b58738-15b7-4856-b628-a000ac83fca3","created_at":"2025-03-13T09:55:59.869147Z","deletable":true,"description":"","editable":true,"id":"25a7e227-80c6-4033-9a97-5b33053c0f07","managed":false,"name":"test-acc-scaleway-iam-policy-1565138351999018314","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-03-13T09:55:59.869147Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.196208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"52b58738-15b7-4856-b628-a000ac83fca3","default_project_id":"0f1b7d11-5733-4ec7-86d5-52f28ab880bf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWCG1R07SEF3GGRF1RD","application_id":"52b58738-15b7-4856-b628-a000ac83fca3","created_at":"2025-03-13T09:56:00.082255Z","creation_ip":"51.159.46.153","default_project_id":"0f1b7d11-5733-4ec7-86d5-52f28ab880bf","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-03-13T09:56:00.082255Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.074083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"0f1b7d11-5733-4ec7-86d5-52f28ab880bf","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:56:01.897688Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"746142c7-3b67-4b7c-a54b-5ace6019075b","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"0f1b7d11-5733-4ec7-86d5-52f28ab880bf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:56:01.897688Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.897916ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/746142c7-3b67-4b7c-a54b-5ace6019075b
        method: GET
      response:
        body: '{"created_at":"2025-03-13T09:56:01.897688Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"746142c7-3b67-4b7c-a54b-5ace6019075b","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"0f1b7d11-5733-4ec7-86d5-52f28ab880bf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:56:01.897688Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.212042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/746142c7-3b67-4b7c-a54b-5ace6019075b/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.951375ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=0f1b7d11-5733-4ec7-86d5-52f28ab880bf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-13T09:56:01.897688Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"746142c7-3b67-4b7c-a54b-5ace6019075b","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"0f1b7d11-5733-4ec7-86d5-52f28ab880bf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:56:01.897688Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.391292ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCG1R07SEF3GGRF1RD
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 108.992167ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/25a7e227-80c6-4033-9a97-5b33053c0f07
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 103.826667ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/52b58738-15b7-4856-b628-a000ac83fca3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 98.927875ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0f1b7d11-5733-4ec7-86d5-52f28ab880bf
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.763358042s
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/746142c7-3b67-4b7c-a54b-5ace6019075b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"746142c7-3b67-4b7c-a54b-5ace6019075b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.419375ms
[...]
