---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"c02805ba-64eb-435b-80fb-74fd55caad1c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-07-03T15:28:04.271187Z","updated_at":"2026-07-03T15:28:04.271187Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.136749ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c02805ba-64eb-435b-80fb-74fd55caad1c
        method: GET
      response:
        body: '{"id":"c02805ba-64eb-435b-80fb-74fd55caad1c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-07-03T15:28:04.271187Z","updated_at":"2026-07-03T15:28:04.271187Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.606308ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c02805ba-64eb-435b-80fb-74fd55caad1c/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.910951ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c02805ba-64eb-435b-80fb-74fd55caad1c/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"c02805ba-64eb-435b-80fb-74fd55caad1c","status":"enabled","created_at":"2026-07-03T15:28:04.760416Z","updated_at":"2026-07-03T15:28:04.760416Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.202327ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c02805ba-64eb-435b-80fb-74fd55caad1c/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"c02805ba-64eb-435b-80fb-74fd55caad1c","status":"enabled","created_at":"2026-07-03T15:28:04.760416Z","updated_at":"2026-07-03T15:28:04.760416Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.244356ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            name:
                - dsSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dsSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"c02805ba-64eb-435b-80fb-74fd55caad1c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-07-03T15:28:04.271187Z","updated_at":"2026-07-03T15:28:04.271187Z","tags":["devtools","provider","terraform"],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.352172ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c02805ba-64eb-435b-80fb-74fd55caad1c/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"c02805ba-64eb-435b-80fb-74fd55caad1c","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.858163ms
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c02805ba-64eb-435b-80fb-74fd55caad1c/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"c02805ba-64eb-435b-80fb-74fd55caad1c","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.514454ms
[...]
