---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-1253109485932557018\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"b174de47-a37c-49da-a8b4-d192ebc8fda5\", \"name\":\"test-acc-scaleway-project-1253109485932557018\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:44.839256Z\", \"updated_at\":\"2025-11-20T14:19:44.839256Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.205857774s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-4463635759790919884\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"c2403a65-782c-4e7e-87fa-5749381011f0\", \"name\":\"test-acc-scaleway-iam-app-4463635759790919884\", \"description\":\"\", \"created_at\":\"2025-11-20T14:19:45.324747Z\", \"updated_at\":\"2025-11-20T14:19:45.324747Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 251.829083ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-4606809942379955271\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"c2403a65-782c-4e7e-87fa-5749381011f0\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"2acb4923-16ed-4f6b-8d45-8bade2ea8cc3\", \"name\":\"test-acc-scaleway-iam-policy-4606809942379955271\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:45.654912Z\", \"updated_at\":\"2025-11-20T14:19:45.654912Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"c2403a65-782c-4e7e-87fa-5749381011f0\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 375.764353ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"c2403a65-782c-4e7e-87fa-5749381011f0\",\"default_project_id\":\"b174de47-a37c-49da-a8b4-d192ebc8fda5\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW0C5BZN55ZHSPHYDHY\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-20T14:19:46.198217Z\", \"updated_at\":\"2025-11-20T14:19:46.198217Z\", \"expires_at\":null, \"default_project_id\":\"b174de47-a37c-49da-a8b4-d192ebc8fda5\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"212.133.41.37\", \"application_id\":\"c2403a65-782c-4e7e-87fa-5749381011f0\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 504.283918ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"b174de47-a37c-49da-a8b4-d192ebc8fda5\",\"name\":\"scalewayDataSourceSecret\",\"tags\":null,\"description\":\"DataSourceSecret test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"434cbc1c-c704-4dbf-8f47-50659dd3b962\", \"project_id\":\"b174de47-a37c-49da-a8b4-d192ebc8fda5\", \"name\":\"scalewayDataSourceSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.370197Z\", \"updated_at\":\"2025-11-20T14:19:47.370197Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceSecret test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 353.449277ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/434cbc1c-c704-4dbf-8f47-50659dd3b962
    method: GET
  response:
    body: "{\"id\":\"434cbc1c-c704-4dbf-8f47-50659dd3b962\", \"project_id\":\"b174de47-a37c-49da-a8b4-d192ebc8fda5\", \"name\":\"scalewayDataSourceSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.370197Z\", \"updated_at\":\"2025-11-20T14:19:47.370197Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceSecret test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 297.518513ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/434cbc1c-c704-4dbf-8f47-50659dd3b962/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 464.434633ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - scalewayDataSourceSecret
      order_by:
      - name_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - b174de47-a37c-49da-a8b4-d192ebc8fda5
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=b174de47-a37c-49da-a8b4-d192ebc8fda5&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"434cbc1c-c704-4dbf-8f47-50659dd3b962\", \"project_id\":\"b174de47-a37c-49da-a8b4-d192ebc8fda5\", \"name\":\"scalewayDataSourceSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.370197Z\", \"updated_at\":\"2025-11-20T14:19:47.370197Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceSecret test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 265.764877ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 805.375395ms
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/2acb4923-16ed-4f6b-8d45-8bade2ea8cc3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 710.081432ms
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c2403a65-782c-4e7e-87fa-5749381011f0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 399.493639ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/b174de47-a37c-49da-a8b4-d192ebc8fda5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 2.664012256s
[...]
