---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.621837Z","description":"","id":"38ab14b7-487b-4f35-816f-25745b4a195f","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T13:44:59.621837Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.629541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/38ab14b7-487b-4f35-816f-25745b4a195f
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.621837Z","description":"","id":"38ab14b7-487b-4f35-816f-25745b4a195f","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T13:44:59.621837Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.774542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"38ab14b7-487b-4f35-816f-25745b4a195f","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:45:00.118242Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"38ab14b7-487b-4f35-816f-25745b4a195f","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-13T13:45:00.118242Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.219833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bf3f9d2c-1208-4e30-a142-61fea51d0a25
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:45:00.118242Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"38ab14b7-487b-4f35-816f-25745b4a195f","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-13T13:45:00.118242Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.653958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bf3f9d2c-1208-4e30-a142-61fea51d0a25/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.585084ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bf3f9d2c-1208-4e30-a142-61fea51d0a25/versions
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:45:00.564994Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","status":"enabled","updated_at":"2025-03-13T13:45:00.564994Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.842042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bf3f9d2c-1208-4e30-a142-61fea51d0a25/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:45:00.564994Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","status":"enabled","updated_at":"2025-03-13T13:45:00.564994Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.080084ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=38ab14b7-487b-4f35-816f-25745b4a195f&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-13T13:45:00.118242Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"38ab14b7-487b-4f35-816f-25745b4a195f","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-13T13:45:00.118242Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.908583ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bf3f9d2c-1208-4e30-a142-61fea51d0a25/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.960833ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bf3f9d2c-1208-4e30-a142-61fea51d0a25/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.694083ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/38ab14b7-487b-4f35-816f-25745b4a195f
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"38ab14b7-487b-4f35-816f-25745b4a195f\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 1.211007541s
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bf3f9d2c-1208-4e30-a142-61fea51d0a25/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"bf3f9d2c-1208-4e30-a142-61fea51d0a25","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.292042ms
[...]
