---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"eb06dc61-8dbe-4239-9515-88ae23a95069\", \"name\":\"tf-tests-secret-version-ds-by-name\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:47.340848Z\", \"updated_at\":\"2025-11-20T14:19:47.340848Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 532.800196ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/eb06dc61-8dbe-4239-9515-88ae23a95069
    method: GET
  response:
    body: "{\"id\":\"eb06dc61-8dbe-4239-9515-88ae23a95069\", \"name\":\"tf-tests-secret-version-ds-by-name\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:47.340848Z\", \"updated_at\":\"2025-11-20T14:19:47.340848Z\", \"description\":\"\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 286.470473ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"eb06dc61-8dbe-4239-9515-88ae23a95069\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"fd5d0d5c-b93f-4308-9f0d-ffe3c261e736\", \"project_id\":\"eb06dc61-8dbe-4239-9515-88ae23a95069\", \"name\":\"dataSourceSecretVersionByNameSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:48.291332Z\", \"updated_at\":\"2025-11-20T14:19:48.291332Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 553.796928ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fd5d0d5c-b93f-4308-9f0d-ffe3c261e736
    method: GET
  response:
    body: "{\"id\":\"fd5d0d5c-b93f-4308-9f0d-ffe3c261e736\", \"project_id\":\"eb06dc61-8dbe-4239-9515-88ae23a95069\", \"name\":\"dataSourceSecretVersionByNameSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:48.291332Z\", \"updated_at\":\"2025-11-20T14:19:48.291332Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 554.710035ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fd5d0d5c-b93f-4308-9f0d-ffe3c261e736/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.844023ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fd5d0d5c-b93f-4308-9f0d-ffe3c261e736/versions
    method: POST
  response:
    body: "{\"revision\":1, \"secret_id\":\"fd5d0d5c-b93f-4308-9f0d-ffe3c261e736\", \"status\":\"enabled\", \"created_at\":\"2025-11-20T14:19:50.630769Z\", \"updated_at\":\"2025-11-20T14:19:50.630769Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.512583097s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fd5d0d5c-b93f-4308-9f0d-ffe3c261e736/versions/1
    method: GET
  response:
    body: "{\"revision\":1, \"secret_id\":\"fd5d0d5c-b93f-4308-9f0d-ffe3c261e736\", \"status\":\"enabled\", \"created_at\":\"2025-11-20T14:19:50.630769Z\", \"updated_at\":\"2025-11-20T14:19:50.630769Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 798.541435ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      name:
      - dataSourceSecretVersionByNameSecret
      order_by:
      - name_asc
      project_id:
      - eb06dc61-8dbe-4239-9515-88ae23a95069
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=eb06dc61-8dbe-4239-9515-88ae23a95069&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"fd5d0d5c-b93f-4308-9f0d-ffe3c261e736\", \"project_id\":\"eb06dc61-8dbe-4239-9515-88ae23a95069\", \"name\":\"dataSourceSecretVersionByNameSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:48.291332Z\", \"updated_at\":\"2025-11-20T14:19:48.291332Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":1, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.880262ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fd5d0d5c-b93f-4308-9f0d-ffe3c261e736/versions/1/access
    method: GET
  response:
    body: "{\"secret_id\":\"fd5d0d5c-b93f-4308-9f0d-ffe3c261e736\", \"revision\":1, \"data\":\"bXlfc3VwZXJfc2VjcmV0\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 708.296355ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fd5d0d5c-b93f-4308-9f0d-ffe3c261e736/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"fd5d0d5c-b93f-4308-9f0d-ffe3c261e736\", \"revision\":1, \"data\":\"bXlfc3VwZXJfc2VjcmV0\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 708.762923ms
[...]
