---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:21:43.485536Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"376f644e-3b74-4b2b-9b54-415020ae44e7","key_id":null,"managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-22T15:21:43.485536Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.226291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/376f644e-3b74-4b2b-9b54-415020ae44e7
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:21:43.485536Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"376f644e-3b74-4b2b-9b54-415020ae44e7","key_id":null,"managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-22T15:21:43.485536Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.71575ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/376f644e-3b74-4b2b-9b54-415020ae44e7/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.942375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/376f644e-3b74-4b2b-9b54-415020ae44e7/versions
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:21:43.922955Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"376f644e-3b74-4b2b-9b54-415020ae44e7","status":"enabled","updated_at":"2025-05-22T15:21:43.922955Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.406166ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/376f644e-3b74-4b2b-9b54-415020ae44e7/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:21:43.922955Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"376f644e-3b74-4b2b-9b54-415020ae44e7","status":"enabled","updated_at":"2025-05-22T15:21:43.922955Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.787209ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:21:44.907899Z","description":"","id":"59e3b008-9d4d-40d1-b112-5d73069ad3b1","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-22T15:21:44.907899Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.672375ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/59e3b008-9d4d-40d1-b112-5d73069ad3b1
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:21:44.907899Z","description":"","id":"59e3b008-9d4d-40d1-b112-5d73069ad3b1","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-22T15:21:44.907899Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.809208ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/376f644e-3b74-4b2b-9b54-415020ae44e7/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"376f644e-3b74-4b2b-9b54-415020ae44e7","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.918709ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/376f644e-3b74-4b2b-9b54-415020ae44e7/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"376f644e-3b74-4b2b-9b54-415020ae44e7","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.606958ms
[...]
