---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:42:33.231392Z","description":"","id":"8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-17T14:42:33.231392Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 749.301833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d
        method: GET
      response:
        body: '{"created_at":"2025-03-17T14:42:33.231392Z","description":"","id":"8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-17T14:42:33.231392Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.287875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:42:33.756368Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"032df692-a8bb-4976-a2a8-60b7046de05a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-17T14:42:33.756368Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.430125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/032df692-a8bb-4976-a2a8-60b7046de05a
        method: GET
      response:
        body: '{"created_at":"2025-03-17T14:42:33.756368Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"032df692-a8bb-4976-a2a8-60b7046de05a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-17T14:42:33.756368Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.444333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/032df692-a8bb-4976-a2a8-60b7046de05a/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.379041ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/032df692-a8bb-4976-a2a8-60b7046de05a/versions
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:42:34.190847Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"032df692-a8bb-4976-a2a8-60b7046de05a","status":"enabled","updated_at":"2025-03-17T14:42:34.190847Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.495959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/032df692-a8bb-4976-a2a8-60b7046de05a/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-03-17T14:42:34.190847Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"032df692-a8bb-4976-a2a8-60b7046de05a","status":"enabled","updated_at":"2025-03-17T14:42:34.190847Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.809042ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-17T14:42:33.756368Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"032df692-a8bb-4976-a2a8-60b7046de05a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"8bcd9f8f-9f7e-4d1d-a44d-b4e3ddc3682d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-17T14:42:33.756368Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.519ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/032df692-a8bb-4976-a2a8-60b7046de05a/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"032df692-a8bb-4976-a2a8-60b7046de05a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.351541ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/032df692-a8bb-4976-a2a8-60b7046de05a/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"032df692-a8bb-4976-a2a8-60b7046de05a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.843041ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/032df692-a8bb-4976-a2a8-60b7046de05a/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"032df692-a8bb-4976-a2a8-60b7046de05a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.839584ms
[...]
