---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-09-12T15:28:10.658832Z","description":"secret description","ephemeral_policy":null,"id":"503b00ab-678b-4298-8f68-c8c12edca630","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-09-12T15:28:10.658832Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.517875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/503b00ab-678b-4298-8f68-c8c12edca630
        method: GET
      response:
        body: '{"created_at":"2024-09-12T15:28:10.658832Z","description":"secret description","ephemeral_policy":null,"id":"503b00ab-678b-4298-8f68-c8c12edca630","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-09-12T15:28:10.658832Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.810125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/503b00ab-678b-4298-8f68-c8c12edca630/versions
        method: POST
      response:
        body: '{"created_at":"2024-09-12T15:28:10.921144Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"503b00ab-678b-4298-8f68-c8c12edca630","status":"enabled","updated_at":"2024-09-12T15:28:10.921144Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.082333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/503b00ab-678b-4298-8f68-c8c12edca630/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-09-12T15:28:10.921144Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"503b00ab-678b-4298-8f68-c8c12edca630","status":"enabled","updated_at":"2024-09-12T15:28:10.921144Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.591375ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-12T15:28:11.828949Z","description":"","id":"098aea0d-7bf8-4bf1-9eda-109131034753","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-09-12T15:28:11.828949Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.105125ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/098aea0d-7bf8-4bf1-9eda-109131034753
        method: GET
      response:
        body: '{"created_at":"2024-09-12T15:28:11.828949Z","description":"","id":"098aea0d-7bf8-4bf1-9eda-109131034753","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-09-12T15:28:11.828949Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.956125ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/503b00ab-678b-4298-8f68-c8c12edca630/versions/2/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"503b00ab-678b-4298-8f68-c8c12edca630","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.90125ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/503b00ab-678b-4298-8f68-c8c12edca630/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"503b00ab-678b-4298-8f68-c8c12edca630","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.886958ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/503b00ab-678b-4298-8f68-c8c12edca630/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"503b00ab-678b-4298-8f68-c8c12edca630","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.51725ms
[...]
