---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-09-05T16:21:52.388932Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"fa565afd-52c9-4374-b6cf-103c4456c6ab","key_id":null,"managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-09-05T16:21:52.388932Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 520.97475ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fa565afd-52c9-4374-b6cf-103c4456c6ab
        method: GET
      response:
        body: '{"created_at":"2025-09-05T16:21:52.388932Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"fa565afd-52c9-4374-b6cf-103c4456c6ab","key_id":null,"managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-09-05T16:21:52.388932Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.280833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fa565afd-52c9-4374-b6cf-103c4456c6ab/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.227333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fa565afd-52c9-4374-b6cf-103c4456c6ab/versions
        method: POST
      response:
        body: '{"created_at":"2025-09-05T16:21:53.069873Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"fa565afd-52c9-4374-b6cf-103c4456c6ab","status":"enabled","updated_at":"2025-09-05T16:21:53.069873Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 437.778ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fa565afd-52c9-4374-b6cf-103c4456c6ab/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-09-05T16:21:53.069873Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"fa565afd-52c9-4374-b6cf-103c4456c6ab","status":"enabled","updated_at":"2025-09-05T16:21:53.069873Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.190167ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-05T16:21:54.545601Z","description":"","id":"c5452f1e-ee2b-42c9-8473-d9f562f7a66c","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-05T16:21:54.545601Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 542.188083ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c5452f1e-ee2b-42c9-8473-d9f562f7a66c
        method: GET
      response:
        body: '{"created_at":"2025-09-05T16:21:54.545601Z","description":"","id":"c5452f1e-ee2b-42c9-8473-d9f562f7a66c","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-05T16:21:54.545601Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.145292ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fa565afd-52c9-4374-b6cf-103c4456c6ab/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"fa565afd-52c9-4374-b6cf-103c4456c6ab","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.5855ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/fa565afd-52c9-4374-b6cf-103c4456c6ab/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"fa565afd-52c9-4374-b6cf-103c4456c6ab","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.35825ms
[...]
