---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","status":"ready","created_at":"2026-06-04T09:49:12.322216Z","updated_at":"2026-06-04T09:49:12.322216Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.688024ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf
        method: GET
      response:
        body: '{"id":"8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","status":"ready","created_at":"2026-06-04T09:49:12.322216Z","updated_at":"2026-06-04T09:49:12.322216Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.030739ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.331124ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf","status":"enabled","created_at":"2026-06-04T09:49:13.014569Z","updated_at":"2026-06-04T09:49:13.014569Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.202149ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf","status":"enabled","created_at":"2026-06-04T09:49:13.014569Z","updated_at":"2026-06-04T09:49:13.014569Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.38888ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf/versions/2/access
        method: GET
      response:
        body: '{"secret_id":"8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf","revision":2,"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.190975ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"8b2711e5-dd2d-4f14-9cfa-b9254ec83ebf","revision":2,"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.655309ms
[...]
