---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:56:27.974968Z","description":"","id":"94e3914e-87d6-401d-a844-cbd28f9f097b","name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2025-09-05T15:56:27.974968Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 559.187083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/94e3914e-87d6-401d-a844-cbd28f9f097b
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:56:27.974968Z","description":"","id":"94e3914e-87d6-401d-a844-cbd28f9f097b","name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-05T15:56:27.974968Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.993334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"94e3914e-87d6-401d-a844-cbd28f9f097b","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:56:28.328590Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"25e2fa12-c9b0-41a6-879d-7ca3b17a70ff","key_id":null,"managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"94e3914e-87d6-401d-a844-cbd28f9f097b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-05T15:56:28.328590Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.602292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/25e2fa12-c9b0-41a6-879d-7ca3b17a70ff
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:56:28.328590Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"25e2fa12-c9b0-41a6-879d-7ca3b17a70ff","key_id":null,"managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"94e3914e-87d6-401d-a844-cbd28f9f097b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-05T15:56:28.328590Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.090458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/25e2fa12-c9b0-41a6-879d-7ca3b17a70ff/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.548541ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=94e3914e-87d6-401d-a844-cbd28f9f097b&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-09-05T15:56:28.328590Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"25e2fa12-c9b0-41a6-879d-7ca3b17a70ff","key_id":null,"managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"94e3914e-87d6-401d-a844-cbd28f9f097b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-05T15:56:28.328590Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.067458ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/25e2fa12-c9b0-41a6-879d-7ca3b17a70ff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"25e2fa12-c9b0-41a6-879d-7ca3b17a70ff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 89.966708ms
[...]
