---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.597243Z","description":"secret description","ephemeral_policy":null,"id":"22f0d1f6-722e-4341-b9d8-4dc576ed2acf","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.597243Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.642268ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22f0d1f6-722e-4341-b9d8-4dc576ed2acf
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.597243Z","description":"secret description","ephemeral_policy":null,"id":"22f0d1f6-722e-4341-b9d8-4dc576ed2acf","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.597243Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.201049ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22f0d1f6-722e-4341-b9d8-4dc576ed2acf/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.813086Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"22f0d1f6-722e-4341-b9d8-4dc576ed2acf","status":"enabled","updated_at":"2024-08-09T09:22:49.813086Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.560661ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22f0d1f6-722e-4341-b9d8-4dc576ed2acf/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.813086Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"22f0d1f6-722e-4341-b9d8-4dc576ed2acf","status":"enabled","updated_at":"2024-08-09T09:22:49.813086Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.812503ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22f0d1f6-722e-4341-b9d8-4dc576ed2acf/versions/2/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"22f0d1f6-722e-4341-b9d8-4dc576ed2acf","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.329947ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22f0d1f6-722e-4341-b9d8-4dc576ed2acf/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"22f0d1f6-722e-4341-b9d8-4dc576ed2acf","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.004562ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22f0d1f6-722e-4341-b9d8-4dc576ed2acf/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"22f0d1f6-722e-4341-b9d8-4dc576ed2acf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 17.973747ms
[...]
