---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"de8820a8-c15d-4dce-ab45-bcb65158eebc\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.546124Z\", \"updated_at\":\"2025-11-28T16:25:07.546124Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 187.284276ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de8820a8-c15d-4dce-ab45-bcb65158eebc
    method: GET
  response:
    body: "{\"id\":\"de8820a8-c15d-4dce-ab45-bcb65158eebc\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.546124Z\", \"updated_at\":\"2025-11-28T16:25:07.546124Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.515427ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de8820a8-c15d-4dce-ab45-bcb65158eebc/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.198102ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de8820a8-c15d-4dce-ab45-bcb65158eebc/versions
    method: POST
  response:
    body: "{\"revision\":1, \"secret_id\":\"de8820a8-c15d-4dce-ab45-bcb65158eebc\", \"status\":\"enabled\", \"created_at\":\"2025-11-28T16:25:08.471312Z\", \"updated_at\":\"2025-11-28T16:25:08.471312Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 674.037756ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de8820a8-c15d-4dce-ab45-bcb65158eebc/versions/1
    method: GET
  response:
    body: "{\"revision\":1, \"secret_id\":\"de8820a8-c15d-4dce-ab45-bcb65158eebc\", \"status\":\"enabled\", \"created_at\":\"2025-11-28T16:25:08.471312Z\", \"updated_at\":\"2025-11-28T16:25:08.471312Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 45.631803ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de8820a8-c15d-4dce-ab45-bcb65158eebc/versions/2/access
    method: GET
  response:
    body: "{\"secret_id\":\"de8820a8-c15d-4dce-ab45-bcb65158eebc\", \"revision\":2, \"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 149.439512ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de8820a8-c15d-4dce-ab45-bcb65158eebc/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"de8820a8-c15d-4dce-ab45-bcb65158eebc\", \"revision\":2, \"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.868512ms
[...]
