---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"781d05a5-30ed-4801-85b0-9ce240971ba2\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.253729Z\", \"updated_at\":\"2025-11-20T14:19:47.253729Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 327.020776ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/781d05a5-30ed-4801-85b0-9ce240971ba2
    method: GET
  response:
    body: "{\"id\":\"781d05a5-30ed-4801-85b0-9ce240971ba2\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.253729Z\", \"updated_at\":\"2025-11-20T14:19:47.253729Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 399.658569ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/781d05a5-30ed-4801-85b0-9ce240971ba2/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 427.118917ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/781d05a5-30ed-4801-85b0-9ce240971ba2/versions
    method: POST
  response:
    body: "{\"revision\":1, \"secret_id\":\"781d05a5-30ed-4801-85b0-9ce240971ba2\", \"status\":\"enabled\", \"created_at\":\"2025-11-20T14:19:48.645544Z\", \"updated_at\":\"2025-11-20T14:19:48.645544Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 557.844351ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/781d05a5-30ed-4801-85b0-9ce240971ba2/versions/1
    method: GET
  response:
    body: "{\"revision\":1, \"secret_id\":\"781d05a5-30ed-4801-85b0-9ce240971ba2\", \"status\":\"enabled\", \"created_at\":\"2025-11-20T14:19:48.645544Z\", \"updated_at\":\"2025-11-20T14:19:48.645544Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 273.452253ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"38ac70c3-666a-4db6-b06f-591f25b87e75\", \"name\":\"tf-tests-secret-version-ds-by-name\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:53.411249Z\", \"updated_at\":\"2025-11-20T14:19:53.411249Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 982.675788ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/38ac70c3-666a-4db6-b06f-591f25b87e75
    method: GET
  response:
    body: "{\"id\":\"38ac70c3-666a-4db6-b06f-591f25b87e75\", \"name\":\"tf-tests-secret-version-ds-by-name\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:53.411249Z\", \"updated_at\":\"2025-11-20T14:19:53.411249Z\", \"description\":\"\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 643.509398ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/781d05a5-30ed-4801-85b0-9ce240971ba2/versions/1/access
    method: GET
  response:
    body: "{\"secret_id\":\"781d05a5-30ed-4801-85b0-9ce240971ba2\", \"revision\":1, \"data\":\"bXlfc3VwZXJfc2VjcmV0\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 441.828088ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/781d05a5-30ed-4801-85b0-9ce240971ba2/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"781d05a5-30ed-4801-85b0-9ce240971ba2\", \"revision\":2, \"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 481.354086ms
[...]
