---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.605376Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"39a1c90a-5bdc-47ce-8fee-76aab6362b85","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-13T13:44:59.605376Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.781625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/39a1c90a-5bdc-47ce-8fee-76aab6362b85
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.605376Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"39a1c90a-5bdc-47ce-8fee-76aab6362b85","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-13T13:44:59.605376Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.347125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/39a1c90a-5bdc-47ce-8fee-76aab6362b85/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.594209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/39a1c90a-5bdc-47ce-8fee-76aab6362b85/versions
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:45:00.141581Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"39a1c90a-5bdc-47ce-8fee-76aab6362b85","status":"enabled","updated_at":"2025-03-13T13:45:00.141581Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.926709ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/39a1c90a-5bdc-47ce-8fee-76aab6362b85/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:45:00.141581Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"39a1c90a-5bdc-47ce-8fee-76aab6362b85","status":"enabled","updated_at":"2025-03-13T13:45:00.141581Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.579916ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:45:05.438269Z","description":"","id":"9bcb6cc6-d5c7-4407-a8a0-26f3e01eb7b0","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T13:45:05.438269Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.256958ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9bcb6cc6-d5c7-4407-a8a0-26f3e01eb7b0
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:45:05.438269Z","description":"","id":"9bcb6cc6-d5c7-4407-a8a0-26f3e01eb7b0","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T13:45:05.438269Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.687125ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/39a1c90a-5bdc-47ce-8fee-76aab6362b85/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"39a1c90a-5bdc-47ce-8fee-76aab6362b85","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.951083ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/39a1c90a-5bdc-47ce-8fee-76aab6362b85/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"39a1c90a-5bdc-47ce-8fee-76aab6362b85","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.480208ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9bcb6cc6-d5c7-4407-a8a0-26f3e01eb7b0
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"9bcb6cc6-d5c7-4407-a8a0-26f3e01eb7b0\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 1.215835583s
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/39a1c90a-5bdc-47ce-8fee-76aab6362b85/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"39a1c90a-5bdc-47ce-8fee-76aab6362b85","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.312416ms
[...]
