---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:53:11.794845Z","description":"","id":"2aef8410-fad4-4ec1-9ff1-a6c2904db226","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T09:53:11.794845Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.943292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2aef8410-fad4-4ec1-9ff1-a6c2904db226
        method: GET
      response:
        body: '{"created_at":"2025-03-13T09:53:11.794845Z","description":"","id":"2aef8410-fad4-4ec1-9ff1-a6c2904db226","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T09:53:11.794845Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.849125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"2aef8410-fad4-4ec1-9ff1-a6c2904db226","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:53:12.357655Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"11725535-ce57-433a-aeae-cd1622f2b47a","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"2aef8410-fad4-4ec1-9ff1-a6c2904db226","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:53:12.357655Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.256917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11725535-ce57-433a-aeae-cd1622f2b47a
        method: GET
      response:
        body: '{"created_at":"2025-03-13T09:53:12.357655Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"11725535-ce57-433a-aeae-cd1622f2b47a","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"2aef8410-fad4-4ec1-9ff1-a6c2904db226","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:53:12.357655Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.120042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11725535-ce57-433a-aeae-cd1622f2b47a/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.401291ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=2aef8410-fad4-4ec1-9ff1-a6c2904db226&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-13T09:53:12.357655Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"11725535-ce57-433a-aeae-cd1622f2b47a","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"2aef8410-fad4-4ec1-9ff1-a6c2904db226","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:53:12.357655Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.367167ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11725535-ce57-433a-aeae-cd1622f2b47a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"11725535-ce57-433a-aeae-cd1622f2b47a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.102583ms
[...]
