---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.629836Z","description":"","id":"7fb01fb4-d89c-4364-9f92-eb6d434746e9","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T13:44:59.629836Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 759.337917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7fb01fb4-d89c-4364-9f92-eb6d434746e9
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.629836Z","description":"","id":"7fb01fb4-d89c-4364-9f92-eb6d434746e9","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T13:44:59.629836Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.413167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7fb01fb4-d89c-4364-9f92-eb6d434746e9","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:45:00.208083Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"04f46d80-ff34-433f-93f3-372e610ad65b","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"7fb01fb4-d89c-4364-9f92-eb6d434746e9","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:45:00.208083Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.026709ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/04f46d80-ff34-433f-93f3-372e610ad65b
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:45:00.208083Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"04f46d80-ff34-433f-93f3-372e610ad65b","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"7fb01fb4-d89c-4364-9f92-eb6d434746e9","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:45:00.208083Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.046666ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/04f46d80-ff34-433f-93f3-372e610ad65b/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.814709ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=7fb01fb4-d89c-4364-9f92-eb6d434746e9&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-13T13:45:00.208083Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"04f46d80-ff34-433f-93f3-372e610ad65b","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"7fb01fb4-d89c-4364-9f92-eb6d434746e9","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:45:00.208083Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.389833ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7fb01fb4-d89c-4364-9f92-eb6d434746e9
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"7fb01fb4-d89c-4364-9f92-eb6d434746e9\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 1.272562s
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/04f46d80-ff34-433f-93f3-372e610ad65b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"04f46d80-ff34-433f-93f3-372e610ad65b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.516542ms
[...]
