---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-no-versions","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"6c1598c9-6f70-40b6-bfd2-3ef5ac0afc08","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-no-versions","status":"ready","created_at":"2026-06-24T09:38:48.150599Z","updated_at":"2026-06-24T09:38:48.150599Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.507737ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c1598c9-6f70-40b6-bfd2-3ef5ac0afc08
        method: GET
      response:
        body: '{"id":"6c1598c9-6f70-40b6-bfd2-3ef5ac0afc08","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-no-versions","status":"ready","created_at":"2026-06-24T09:38:48.150599Z","updated_at":"2026-06-24T09:38:48.150599Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.669592ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c1598c9-6f70-40b6-bfd2-3ef5ac0afc08/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.5941ms
[...]
