---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"1da01961-7012-4d61-9f2d-a97ebc2d518d", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dataSourceSecretVersionBasic", "status":"ready", "created_at":"2025-12-15T16:15:28.567369Z", "updated_at":"2025-12-15T16:15:28.567369Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.90654ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1da01961-7012-4d61-9f2d-a97ebc2d518d
        method: GET
      response:
        body: '{"id":"1da01961-7012-4d61-9f2d-a97ebc2d518d", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dataSourceSecretVersionBasic", "status":"ready", "created_at":"2025-12-15T16:15:28.567369Z", "updated_at":"2025-12-15T16:15:28.567369Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.656451ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1da01961-7012-4d61-9f2d-a97ebc2d518d/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.777334ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1da01961-7012-4d61-9f2d-a97ebc2d518d/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"1da01961-7012-4d61-9f2d-a97ebc2d518d", "status":"enabled", "created_at":"2025-12-15T16:15:29.155554Z", "updated_at":"2025-12-15T16:15:29.155554Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 363.131356ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1da01961-7012-4d61-9f2d-a97ebc2d518d/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"1da01961-7012-4d61-9f2d-a97ebc2d518d", "status":"enabled", "created_at":"2025-12-15T16:15:29.155554Z", "updated_at":"2025-12-15T16:15:29.155554Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.014941ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1da01961-7012-4d61-9f2d-a97ebc2d518d/versions/2/access
        method: GET
      response:
        body: '{"secret_id":"1da01961-7012-4d61-9f2d-a97ebc2d518d", "revision":2, "data":"bXlfc3VwZXJfc2VjcmV0X3Yy", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.757569ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1da01961-7012-4d61-9f2d-a97ebc2d518d/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"1da01961-7012-4d61-9f2d-a97ebc2d518d", "revision":2, "data":"bXlfc3VwZXJfc2VjcmV0X3Yy", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.155282ms
[...]
