---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:21:50.072928Z","description":"","id":"f6f7a972-ace9-4462-b4c2-026513c22630","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-20T12:21:50.072928Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.147287ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f6f7a972-ace9-4462-b4c2-026513c22630
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:21:50.072928Z","description":"","id":"f6f7a972-ace9-4462-b4c2-026513c22630","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-20T12:21:50.072928Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.884492ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f6f7a972-ace9-4462-b4c2-026513c22630","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:21:50.444084Z","description":"","ephemeral_policy":null,"id":"0f1fff09-165f-4851-be99-6098cbe61b1f","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"f6f7a972-ace9-4462-b4c2-026513c22630","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-20T12:21:50.444084Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.105903ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f1fff09-165f-4851-be99-6098cbe61b1f
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:21:50.444084Z","description":"","ephemeral_policy":null,"id":"0f1fff09-165f-4851-be99-6098cbe61b1f","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"f6f7a972-ace9-4462-b4c2-026513c22630","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-20T12:21:50.444084Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.885897ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f1fff09-165f-4851-be99-6098cbe61b1f/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:21:50.673210Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"0f1fff09-165f-4851-be99-6098cbe61b1f","status":"enabled","updated_at":"2024-08-20T12:21:50.673210Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.659226ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f1fff09-165f-4851-be99-6098cbe61b1f/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:21:50.673210Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"0f1fff09-165f-4851-be99-6098cbe61b1f","status":"enabled","updated_at":"2024-08-20T12:21:50.673210Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.251539ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=f6f7a972-ace9-4462-b4c2-026513c22630&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2024-08-20T12:21:50.444084Z","description":"","ephemeral_policy":null,"id":"0f1fff09-165f-4851-be99-6098cbe61b1f","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"f6f7a972-ace9-4462-b4c2-026513c22630","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-20T12:21:50.444084Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.978323ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f1fff09-165f-4851-be99-6098cbe61b1f/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"0f1fff09-165f-4851-be99-6098cbe61b1f","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.014139ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f1fff09-165f-4851-be99-6098cbe61b1f/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"0f1fff09-165f-4851-be99-6098cbe61b1f","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.746288ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f1fff09-165f-4851-be99-6098cbe61b1f/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"0f1fff09-165f-4851-be99-6098cbe61b1f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.911827ms
[...]
