---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"7e23050f-9171-463b-b4de-8d06642931fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-06-03T15:58:26.481006Z","updated_at":"2026-06-03T15:58:26.481006Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.727923ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7e23050f-9171-463b-b4de-8d06642931fa
        method: GET
      response:
        body: '{"id":"7e23050f-9171-463b-b4de-8d06642931fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-06-03T15:58:26.481006Z","updated_at":"2026-06-03T15:58:26.481006Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.716421ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7e23050f-9171-463b-b4de-8d06642931fa/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.748383ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7e23050f-9171-463b-b4de-8d06642931fa/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"7e23050f-9171-463b-b4de-8d06642931fa","status":"enabled","created_at":"2026-06-03T15:58:27.078197Z","updated_at":"2026-06-03T15:58:27.078197Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 425.54613ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7e23050f-9171-463b-b4de-8d06642931fa/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"7e23050f-9171-463b-b4de-8d06642931fa","status":"enabled","created_at":"2026-06-03T15:58:27.078197Z","updated_at":"2026-06-03T15:58:27.078197Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.619943ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            name:
                - dsSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dsSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"7e23050f-9171-463b-b4de-8d06642931fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-06-03T15:58:26.481006Z","updated_at":"2026-06-03T15:58:26.481006Z","tags":["devtools","provider","terraform"],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.722556ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7e23050f-9171-463b-b4de-8d06642931fa/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"7e23050f-9171-463b-b4de-8d06642931fa","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.751999ms
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7e23050f-9171-463b-b4de-8d06642931fa/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"7e23050f-9171-463b-b4de-8d06642931fa","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.89712ms
[...]
