---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"dc0ac6f7-1176-47d9-90b0-ee3da8f95d76", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dataSourceSecretVersionBasic", "status":"ready", "created_at":"2026-08-26T12:22:07.550392Z", "updated_at":"2026-08-26T12:22:07.550392Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.193644ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.860295ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/dc0ac6f7-1176-47d9-90b0-ee3da8f95d76
        method: GET
      response:
        body: '{"id":"dc0ac6f7-1176-47d9-90b0-ee3da8f95d76", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dataSourceSecretVersionBasic", "status":"ready", "created_at":"2026-08-26T12:22:07.550392Z", "updated_at":"2026-08-26T12:22:07.550392Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.121098ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/dc0ac6f7-1176-47d9-90b0-ee3da8f95d76/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.329045ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/dc0ac6f7-1176-47d9-90b0-ee3da8f95d76/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"dc0ac6f7-1176-47d9-90b0-ee3da8f95d76", "status":"enabled", "created_at":"2026-08-26T12:22:08.070639Z", "updated_at":"2026-08-26T12:22:08.070639Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 417.160917ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/dc0ac6f7-1176-47d9-90b0-ee3da8f95d76/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"dc0ac6f7-1176-47d9-90b0-ee3da8f95d76", "status":"enabled", "created_at":"2026-08-26T12:22:08.070639Z", "updated_at":"2026-08-26T12:22:08.070639Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.648182ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/dc0ac6f7-1176-47d9-90b0-ee3da8f95d76/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"dc0ac6f7-1176-47d9-90b0-ee3da8f95d76", "revision":2, "data":"bXlfc3VwZXJfc2VjcmV0X3Yy", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.86138ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/dc0ac6f7-1176-47d9-90b0-ee3da8f95d76/versions/2/access
        method: GET
      response:
        body: '{"secret_id":"dc0ac6f7-1176-47d9-90b0-ee3da8f95d76", "revision":2, "data":"bXlfc3VwZXJfc2VjcmV0X3Yy", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.873769ms
[...]
