---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-1417389955111742815","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"572984ce-3a11-430c-a0d8-a345cfed2df9", "name":"test-acc-scaleway-project-1417389955111742815", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-16T11:13:34.684746Z", "updated_at":"2025-12-16T11:13:34.684746Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 8.14369936s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-635616833082840529","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"4697bd91-1bd6-4ff0-94eb-5d0b8afc5ecf", "name":"test-acc-scaleway-iam-app-635616833082840529", "description":"", "created_at":"2025-12-16T11:13:35.264826Z", "updated_at":"2025-12-16T11:13:35.264826Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.616977ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-2078185620077057919","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"4697bd91-1bd6-4ff0-94eb-5d0b8afc5ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"e9f70716-a0cb-4a0a-91e6-95da6a76d253", "name":"test-acc-scaleway-iam-policy-2078185620077057919", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-16T11:13:35.577820Z", "updated_at":"2025-12-16T11:13:35.577820Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"4697bd91-1bd6-4ff0-94eb-5d0b8afc5ecf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.899427ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"4697bd91-1bd6-4ff0-94eb-5d0b8afc5ecf","default_project_id":"572984ce-3a11-430c-a0d8-a345cfed2df9","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW7Y72B0YTS5KPM3MEE", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2025-12-16T11:13:35.889267Z", "updated_at":"2025-12-16T11:13:35.889267Z", "expires_at":null, "default_project_id":"572984ce-3a11-430c-a0d8-a345cfed2df9", "editable":true, "deletable":true, "managed":false, "creation_ip":"212.133.41.101", "application_id":"4697bd91-1bd6-4ff0-94eb-5d0b8afc5ecf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.188446ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"572984ce-3a11-430c-a0d8-a345cfed2df9","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"c3d68e15-905e-42b6-9ff5-99ac961b95ff", "project_id":"572984ce-3a11-430c-a0d8-a345cfed2df9", "name":"scalewayDataSourceSecret", "status":"ready", "created_at":"2025-12-16T11:13:37.086931Z", "updated_at":"2025-12-16T11:13:37.086931Z", "tags":[], "version_count":0, "description":"DataSourceSecret test description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.766538ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c3d68e15-905e-42b6-9ff5-99ac961b95ff
        method: GET
      response:
        body: '{"id":"c3d68e15-905e-42b6-9ff5-99ac961b95ff", "project_id":"572984ce-3a11-430c-a0d8-a345cfed2df9", "name":"scalewayDataSourceSecret", "status":"ready", "created_at":"2025-12-16T11:13:37.086931Z", "updated_at":"2025-12-16T11:13:37.086931Z", "tags":[], "version_count":0, "description":"DataSourceSecret test description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.939251ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c3d68e15-905e-42b6-9ff5-99ac961b95ff/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.000735ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - scalewayDataSourceSecret
            order_by:
                - name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            project_id:
                - 572984ce-3a11-430c-a0d8-a345cfed2df9
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=572984ce-3a11-430c-a0d8-a345cfed2df9&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"c3d68e15-905e-42b6-9ff5-99ac961b95ff", "project_id":"572984ce-3a11-430c-a0d8-a345cfed2df9", "name":"scalewayDataSourceSecret", "status":"ready", "created_at":"2025-12-16T11:13:37.086931Z", "updated_at":"2025-12-16T11:13:37.086931Z", "tags":[], "version_count":0, "description":"DataSourceSecret test description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.608214ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 447.284478ms
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/e9f70716-a0cb-4a0a-91e6-95da6a76d253
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 270.796033ms
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4697bd91-1bd6-4ff0-94eb-5d0b8afc5ecf
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 234.535953ms
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/572984ce-3a11-430c-a0d8-a345cfed2df9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.59628795s
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c3d68e15-905e-42b6-9ff5-99ac961b95ff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"c3d68e15-905e-42b6-9ff5-99ac961b95ff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 417.030567ms
