---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"62065080-13b0-44a8-92c0-eea70028747b\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:15:52.507570Z\",\"updated_at\":\"2025-09-23T10:15:52.507570Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.500674ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/62065080-13b0-44a8-92c0-eea70028747b
    method: GET
  response:
    body: "{\"id\":\"62065080-13b0-44a8-92c0-eea70028747b\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:15:52.507570Z\",\"updated_at\":\"2025-09-23T10:15:52.507570Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 611.088916ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/62065080-13b0-44a8-92c0-eea70028747b/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.093795ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/62065080-13b0-44a8-92c0-eea70028747b/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"62065080-13b0-44a8-92c0-eea70028747b\",\"status\":\"enabled\",\"created_at\":\"2025-09-23T10:15:53.620785Z\",\"updated_at\":\"2025-09-23T10:15:53.620785Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 594.349355ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/62065080-13b0-44a8-92c0-eea70028747b/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"62065080-13b0-44a8-92c0-eea70028747b\",\"status\":\"enabled\",\"created_at\":\"2025-09-23T10:15:53.620785Z\",\"updated_at\":\"2025-09-23T10:15:53.620785Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 613.897561ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"341905ee-4084-40d4-a03b-b6cd5b549b93\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:15:58.272250Z\",\"updated_at\":\"2025-09-23T10:15:58.272250Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 480.139367ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/341905ee-4084-40d4-a03b-b6cd5b549b93
    method: GET
  response:
    body: "{\"id\":\"341905ee-4084-40d4-a03b-b6cd5b549b93\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:15:58.272250Z\",\"updated_at\":\"2025-09-23T10:15:58.272250Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 928.437332ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/62065080-13b0-44a8-92c0-eea70028747b/versions/2/access
    method: GET
  response:
    body: "{\"secret_id\":\"62065080-13b0-44a8-92c0-eea70028747b\",\"revision\":2,\"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 387.677136ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/62065080-13b0-44a8-92c0-eea70028747b/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"62065080-13b0-44a8-92c0-eea70028747b\",\"revision\":2,\"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 387.720387ms
[...]
