---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-646784994312797478","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-10-09T17:18:11.956151Z","description":"","id":"d0641bf1-879f-4351-83a0-dba7cd119b25","name":"test-acc-scaleway-project-646784994312797478","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-10-09T17:18:11.956151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.077142416s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-2968660574793270943","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-10-09T17:18:12.545253Z","deletable":true,"description":"","editable":true,"id":"a36d95f6-8471-4145-9115-c43df8488486","managed":false,"name":"test-acc-scaleway-iam-app-2968660574793270943","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-10-09T17:18:12.545253Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.318125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-3252272878197374306","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"a36d95f6-8471-4145-9115-c43df8488486"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"a36d95f6-8471-4145-9115-c43df8488486","created_at":"2025-10-09T17:18:12.812129Z","deletable":true,"description":"","editable":true,"id":"649185b4-c64d-4d8e-b467-92c7151c5a64","managed":false,"name":"test-acc-scaleway-iam-policy-3252272878197374306","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-10-09T17:18:12.812129Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.094042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"a36d95f6-8471-4145-9115-c43df8488486","default_project_id":"d0641bf1-879f-4351-83a0-dba7cd119b25","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWTK56XHNK2G9HX4VT4","application_id":"a36d95f6-8471-4145-9115-c43df8488486","created_at":"2025-10-09T17:18:13.118277Z","creation_ip":"51.159.46.153","default_project_id":"d0641bf1-879f-4351-83a0-dba7cd119b25","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-10-09T17:18:13.118277Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 331.994125ms
