---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-2907827830905843144","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"ec14a63f-3ac8-421f-ab12-0880153be079", "name":"test-acc-scaleway-project-2907827830905843144", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-15T15:48:23.117495Z", "updated_at":"2025-12-15T15:48:23.117495Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 881.710497ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-3565814333450985411","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"d0b49cf3-48a5-4b68-a620-348d78c17914", "name":"test-acc-scaleway-iam-app-3565814333450985411", "description":"", "created_at":"2025-12-15T15:48:23.773876Z", "updated_at":"2025-12-15T15:48:23.773876Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.209549ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-1661004623462824778","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"d0b49cf3-48a5-4b68-a620-348d78c17914"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"d7dbf563-7738-499e-b8c7-ffe22fb7fa1d", "name":"test-acc-scaleway-iam-policy-1661004623462824778", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-15T15:48:24.052839Z", "updated_at":"2025-12-15T15:48:24.052839Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"d0b49cf3-48a5-4b68-a620-348d78c17914"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.070104ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"d0b49cf3-48a5-4b68-a620-348d78c17914","default_project_id":"ec14a63f-3ac8-421f-ab12-0880153be079","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW2N6D8ZE3H7HVVYRCK", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2025-12-15T15:48:24.522699Z", "updated_at":"2025-12-15T15:48:24.522699Z", "expires_at":null, "default_project_id":"ec14a63f-3ac8-421f-ab12-0880153be079", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"d0b49cf3-48a5-4b68-a620-348d78c17914"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.771807ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"ec14a63f-3ac8-421f-ab12-0880153be079","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"aebeba9c-8c45-4c12-b29e-0674b2ea3a6d", "project_id":"ec14a63f-3ac8-421f-ab12-0880153be079", "name":"scalewayDataSourceSecret", "status":"ready", "created_at":"2025-12-15T15:48:25.749881Z", "updated_at":"2025-12-15T15:48:25.749881Z", "tags":[], "version_count":0, "description":"DataSourceSecret test description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.497883ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aebeba9c-8c45-4c12-b29e-0674b2ea3a6d
        method: GET
      response:
        body: '{"id":"aebeba9c-8c45-4c12-b29e-0674b2ea3a6d", "project_id":"ec14a63f-3ac8-421f-ab12-0880153be079", "name":"scalewayDataSourceSecret", "status":"ready", "created_at":"2025-12-15T15:48:25.749881Z", "updated_at":"2025-12-15T15:48:25.749881Z", "tags":[], "version_count":0, "description":"DataSourceSecret test description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.64707ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aebeba9c-8c45-4c12-b29e-0674b2ea3a6d/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.395328ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - scalewayDataSourceSecret
            order_by:
                - name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            project_id:
                - ec14a63f-3ac8-421f-ab12-0880153be079
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=ec14a63f-3ac8-421f-ab12-0880153be079&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"aebeba9c-8c45-4c12-b29e-0674b2ea3a6d", "project_id":"ec14a63f-3ac8-421f-ab12-0880153be079", "name":"scalewayDataSourceSecret", "status":"ready", "created_at":"2025-12-15T15:48:25.749881Z", "updated_at":"2025-12-15T15:48:25.749881Z", "tags":[], "version_count":0, "description":"DataSourceSecret test description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.531052ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 178.857589ms
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d7dbf563-7738-499e-b8c7-ffe22fb7fa1d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 207.8951ms
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d0b49cf3-48a5-4b68-a620-348d78c17914
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 193.285533ms
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/ec14a63f-3ac8-421f-ab12-0880153be079
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.519518986s
[...]
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aebeba9c-8c45-4c12-b29e-0674b2ea3a6d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"aebeba9c-8c45-4c12-b29e-0674b2ea3a6d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 97.007062ms
[...]
