---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-versions","tags":null,"description":"Secret with versions","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"b4b900f5-76ab-435e-81fe-efae7b2f8127","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-versions","status":"ready","created_at":"2026-06-24T09:38:48.050553Z","updated_at":"2026-06-24T09:38:48.050553Z","tags":[],"version_count":0,"description":"Secret with versions","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.924084ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b4b900f5-76ab-435e-81fe-efae7b2f8127
        method: GET
      response:
        body: '{"id":"b4b900f5-76ab-435e-81fe-efae7b2f8127","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-versions","status":"ready","created_at":"2026-06-24T09:38:48.050553Z","updated_at":"2026-06-24T09:38:48.050553Z","tags":[],"version_count":0,"description":"Secret with versions","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.882238ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b4b900f5-76ab-435e-81fe-efae7b2f8127/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.146045ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"Zmlyc3QtdmVyc2lvbi1kYXRh"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b4b900f5-76ab-435e-81fe-efae7b2f8127/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"b4b900f5-76ab-435e-81fe-efae7b2f8127","status":"enabled","created_at":"2026-06-24T09:38:48.459695Z","updated_at":"2026-06-24T09:38:48.459695Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.727137ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b4b900f5-76ab-435e-81fe-efae7b2f8127/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"b4b900f5-76ab-435e-81fe-efae7b2f8127","status":"enabled","created_at":"2026-06-24T09:38:48.459695Z","updated_at":"2026-06-24T09:38:48.459695Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.035588ms
[...]
