---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"unknown_type","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-07T13:05:33.127170Z","description":"","ephemeral_policy":null,"id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-07T13:05:33.127170Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.359529ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c9ab866c-bdfa-4f1b-8a7b-d341dc81802a
        method: GET
      response:
        body: '{"created_at":"2024-08-07T13:05:33.127170Z","description":"","ephemeral_policy":null,"id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-07T13:05:33.127170Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.070547ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c9ab866c-bdfa-4f1b-8a7b-d341dc81802a/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-07T13:05:33.325572Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","status":"enabled","updated_at":"2024-08-07T13:05:33.325572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.480111ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c9ab866c-bdfa-4f1b-8a7b-d341dc81802a/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-07T13:05:33.325572Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","status":"enabled","updated_at":"2024-08-07T13:05:33.325572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.621285ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2024-08-07T13:05:33.127170Z","description":"","ephemeral_policy":null,"id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-07T13:05:33.127170Z","version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.882831ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c9ab866c-bdfa-4f1b-8a7b-d341dc81802a/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.905951ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c9ab866c-bdfa-4f1b-8a7b-d341dc81802a/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.920927ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c9ab866c-bdfa-4f1b-8a7b-d341dc81802a/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"c9ab866c-bdfa-4f1b-8a7b-d341dc81802a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.521855ms
[...]
