---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"d82583f6-f4d8-498c-a342-2eb739163268\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.789457Z\",\"updated_at\":\"2025-09-01T14:59:18.789457Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.322382ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d82583f6-f4d8-498c-a342-2eb739163268
    method: GET
  response:
    body: "{\"id\":\"d82583f6-f4d8-498c-a342-2eb739163268\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.789457Z\",\"updated_at\":\"2025-09-01T14:59:18.789457Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.519297ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d82583f6-f4d8-498c-a342-2eb739163268/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 55.42054ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d82583f6-f4d8-498c-a342-2eb739163268/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"d82583f6-f4d8-498c-a342-2eb739163268\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.261775Z\",\"updated_at\":\"2025-09-01T14:59:19.261775Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 342.943457ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d82583f6-f4d8-498c-a342-2eb739163268/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"d82583f6-f4d8-498c-a342-2eb739163268\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.261775Z\",\"updated_at\":\"2025-09-01T14:59:19.261775Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.58983ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"c128c9e8-2878-471e-9f5a-0886a82063e7\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:24.649591Z\",\"updated_at\":\"2025-09-01T14:59:24.649591Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 451.396879ms
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/c128c9e8-2878-471e-9f5a-0886a82063e7
    method: GET
  response:
    body: "{\"id\":\"c128c9e8-2878-471e-9f5a-0886a82063e7\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:24.649591Z\",\"updated_at\":\"2025-09-01T14:59:24.649591Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 221.215622ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d82583f6-f4d8-498c-a342-2eb739163268/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"d82583f6-f4d8-498c-a342-2eb739163268\",\"revision\":2,\"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.270501ms
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d82583f6-f4d8-498c-a342-2eb739163268/versions/2/access
    method: GET
  response:
    body: "{\"secret_id\":\"d82583f6-f4d8-498c-a342-2eb739163268\",\"revision\":2,\"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 137.038352ms
[...]
