---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:22:50.740633Z","description":"","id":"818e1299-b8d9-4182-b4d6-0fa783f233ce","name":"tf-tests-secret-ds-path","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-22T15:22:50.740633Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.400292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/818e1299-b8d9-4182-b4d6-0fa783f233ce
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:22:50.740633Z","description":"","id":"818e1299-b8d9-4182-b4d6-0fa783f233ce","name":"tf-tests-secret-ds-path","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-22T15:22:50.740633Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.249417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"818e1299-b8d9-4182-b4d6-0fa783f233ce","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:22:51.026716Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"6077c14b-7a47-4b11-9f86-7a508a2e31c7","key_id":null,"managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"818e1299-b8d9-4182-b4d6-0fa783f233ce","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:22:51.026716Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.405917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6077c14b-7a47-4b11-9f86-7a508a2e31c7
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:22:51.026716Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"6077c14b-7a47-4b11-9f86-7a508a2e31c7","key_id":null,"managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"818e1299-b8d9-4182-b4d6-0fa783f233ce","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:22:51.026716Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.034083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6077c14b-7a47-4b11-9f86-7a508a2e31c7/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.976042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=818e1299-b8d9-4182-b4d6-0fa783f233ce&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-05-22T15:22:51.026716Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"6077c14b-7a47-4b11-9f86-7a508a2e31c7","key_id":null,"managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"818e1299-b8d9-4182-b4d6-0fa783f233ce","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:22:51.026716Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.211459ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6077c14b-7a47-4b11-9f86-7a508a2e31c7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"6077c14b-7a47-4b11-9f86-7a508a2e31c7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.051459ms
[...]
