---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.586337Z","description":"","id":"cf2eac39-8db3-4aca-8965-9e2adb25d8a7","name":"tf-tests-secret-ds-path","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-09T09:22:49.586337Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.750528ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cf2eac39-8db3-4aca-8965-9e2adb25d8a7
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.586337Z","description":"","id":"cf2eac39-8db3-4aca-8965-9e2adb25d8a7","name":"tf-tests-secret-ds-path","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-09T09:22:49.586337Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.660394ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cf2eac39-8db3-4aca-8965-9e2adb25d8a7","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.954881Z","description":"","ephemeral_policy":null,"id":"2aa9ff23-2a75-42fe-a32f-bcf657708897","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"cf2eac39-8db3-4aca-8965-9e2adb25d8a7","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.954881Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.674442ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2aa9ff23-2a75-42fe-a32f-bcf657708897
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.954881Z","description":"","ephemeral_policy":null,"id":"2aa9ff23-2a75-42fe-a32f-bcf657708897","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"cf2eac39-8db3-4aca-8965-9e2adb25d8a7","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.954881Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.189007ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=cf2eac39-8db3-4aca-8965-9e2adb25d8a7&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2024-08-09T09:22:49.954881Z","description":"","ephemeral_policy":null,"id":"2aa9ff23-2a75-42fe-a32f-bcf657708897","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"cf2eac39-8db3-4aca-8965-9e2adb25d8a7","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.954881Z","version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.224464ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2aa9ff23-2a75-42fe-a32f-bcf657708897
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"2aa9ff23-2a75-42fe-a32f-bcf657708897","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.647102ms
[...]
