---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-6850678893466282956\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"bc7b5f63-587a-45d5-9280-aeecc0e82e74\",\"name\":\"test-acc-scaleway-project-6850678893466282956\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:13.948797Z\",\"updated_at\":\"2025-09-01T14:59:13.948797Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 649.973094ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-5437394491403232197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"4827f67c-5425-4a01-a679-8690d202db3d\",\"name\":\"test-acc-scaleway-iam-app-5437394491403232197\",\"description\":\"\",\"created_at\":\"2025-09-01T14:59:14.382666Z\",\"updated_at\":\"2025-09-01T14:59:14.382666Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.539051ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-5306787734444549805\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"4827f67c-5425-4a01-a679-8690d202db3d\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"2ce868c8-92bc-47f5-911e-1543b84b16e3\",\"name\":\"test-acc-scaleway-iam-policy-5306787734444549805\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:14.565290Z\",\"updated_at\":\"2025-09-01T14:59:14.565290Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"4827f67c-5425-4a01-a679-8690d202db3d\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 239.840847ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"4827f67c-5425-4a01-a679-8690d202db3d\",\"default_project_id\":\"bc7b5f63-587a-45d5-9280-aeecc0e82e74\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW4PZDNFZT28RNJ4823\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-01T14:59:14.871921Z\",\"updated_at\":\"2025-09-01T14:59:14.871921Z\",\"expires_at\":null,\"default_project_id\":\"bc7b5f63-587a-45d5-9280-aeecc0e82e74\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"4827f67c-5425-4a01-a679-8690d202db3d\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 260.651308ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"bc7b5f63-587a-45d5-9280-aeecc0e82e74\",\"name\":\"scalewayDataSourceSecret\",\"tags\":null,\"description\":\"DataSourceSecret test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"460de4b8-ff62-4473-819a-71804978972f\",\"project_id\":\"bc7b5f63-587a-45d5-9280-aeecc0e82e74\",\"name\":\"scalewayDataSourceSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.910116Z\",\"updated_at\":\"2025-09-01T14:59:18.910116Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceSecret test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 216.826255ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/460de4b8-ff62-4473-819a-71804978972f
    method: GET
  response:
    body: "{\"id\":\"460de4b8-ff62-4473-819a-71804978972f\",\"project_id\":\"bc7b5f63-587a-45d5-9280-aeecc0e82e74\",\"name\":\"scalewayDataSourceSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.910116Z\",\"updated_at\":\"2025-09-01T14:59:18.910116Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceSecret test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.891755ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/460de4b8-ff62-4473-819a-71804978972f/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.312724ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - scalewayDataSourceSecret
      order_by:
      - name_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - bc7b5f63-587a-45d5-9280-aeecc0e82e74
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=bc7b5f63-587a-45d5-9280-aeecc0e82e74&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"460de4b8-ff62-4473-819a-71804978972f\",\"project_id\":\"bc7b5f63-587a-45d5-9280-aeecc0e82e74\",\"name\":\"scalewayDataSourceSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.910116Z\",\"updated_at\":\"2025-09-01T14:59:18.910116Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceSecret test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.079648ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW4PZDNFZT28RNJ4823
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 149.913261ms
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/2ce868c8-92bc-47f5-911e-1543b84b16e3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 190.708432ms
- id: 34
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/4827f67c-5425-4a01-a679-8690d202db3d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 268.519511ms
- id: 35
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/bc7b5f63-587a-45d5-9280-aeecc0e82e74
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.518310032s
- id: 36
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/460de4b8-ff62-4473-819a-71804978972f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"secret\",\"resource_id\":\"460de4b8-ff62-4473-819a-71804978972f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 182.171683ms
[...]
