---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-26T09:54:07.071653Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"2218cd4f-b94b-4fd9-aee5-5888ba126386","key_id":null,"managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-26T09:54:07.071653Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.670208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2218cd4f-b94b-4fd9-aee5-5888ba126386
        method: GET
      response:
        body: '{"created_at":"2025-05-26T09:54:07.071653Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"2218cd4f-b94b-4fd9-aee5-5888ba126386","key_id":null,"managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-26T09:54:07.071653Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.672166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2218cd4f-b94b-4fd9-aee5-5888ba126386/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.704875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2218cd4f-b94b-4fd9-aee5-5888ba126386/versions
        method: POST
      response:
        body: '{"created_at":"2025-05-26T09:54:07.531849Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"2218cd4f-b94b-4fd9-aee5-5888ba126386","status":"enabled","updated_at":"2025-05-26T09:54:07.531849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.439292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2218cd4f-b94b-4fd9-aee5-5888ba126386/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-05-26T09:54:07.531849Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"2218cd4f-b94b-4fd9-aee5-5888ba126386","status":"enabled","updated_at":"2025-05-26T09:54:07.531849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.876208ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-26T09:54:08.402417Z","description":"","id":"257e5e6d-589f-426b-a87a-1039d891046f","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-26T09:54:08.402417Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.111917ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/257e5e6d-589f-426b-a87a-1039d891046f
        method: GET
      response:
        body: '{"created_at":"2025-05-26T09:54:08.402417Z","description":"","id":"257e5e6d-589f-426b-a87a-1039d891046f","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-26T09:54:08.402417Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.622875ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2218cd4f-b94b-4fd9-aee5-5888ba126386/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"2218cd4f-b94b-4fd9-aee5-5888ba126386","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.273291ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2218cd4f-b94b-4fd9-aee5-5888ba126386/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"2218cd4f-b94b-4fd9-aee5-5888ba126386","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.779834ms
[...]
