---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-20T09:28:25.246083Z","description":"","id":"c9caf5e3-500a-4b75-8b72-23cc6fdc32e1","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-20T09:28:25.246083Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.425298ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c9caf5e3-500a-4b75-8b72-23cc6fdc32e1
        method: GET
      response:
        body: '{"created_at":"2024-08-20T09:28:25.246083Z","description":"","id":"c9caf5e3-500a-4b75-8b72-23cc6fdc32e1","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-20T09:28:25.246083Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.833766ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c9caf5e3-500a-4b75-8b72-23cc6fdc32e1","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"unknown_type","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-20T09:28:25.697922Z","description":"secret description","ephemeral_policy":null,"id":"e9e46e4d-00d5-474e-bc73-b99338f7550d","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"c9caf5e3-500a-4b75-8b72-23cc6fdc32e1","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-20T09:28:25.697922Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.771889ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e9e46e4d-00d5-474e-bc73-b99338f7550d
        method: GET
      response:
        body: '{"created_at":"2024-08-20T09:28:25.697922Z","description":"secret description","ephemeral_policy":null,"id":"e9e46e4d-00d5-474e-bc73-b99338f7550d","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"c9caf5e3-500a-4b75-8b72-23cc6fdc32e1","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-20T09:28:25.697922Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.205033ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e9e46e4d-00d5-474e-bc73-b99338f7550d/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-20T09:28:25.972592Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"e9e46e4d-00d5-474e-bc73-b99338f7550d","status":"enabled","updated_at":"2024-08-20T09:28:25.972592Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.581272ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e9e46e4d-00d5-474e-bc73-b99338f7550d/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-20T09:28:25.972592Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"e9e46e4d-00d5-474e-bc73-b99338f7550d","status":"enabled","updated_at":"2024-08-20T09:28:25.972592Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.795248ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e9e46e4d-00d5-474e-bc73-b99338f7550d/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"e9e46e4d-00d5-474e-bc73-b99338f7550d","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.377663ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e9e46e4d-00d5-474e-bc73-b99338f7550d/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"e9e46e4d-00d5-474e-bc73-b99338f7550d","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.773532ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e9e46e4d-00d5-474e-bc73-b99338f7550d/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"e9e46e4d-00d5-474e-bc73-b99338f7550d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.865877ms
[...]
