---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-71920467791574374","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:45:32.707759Z","description":"","id":"3bdff965-412c-46de-8afe-06295f3edd6a","name":"test-acc-scaleway-project-71920467791574374","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2025-03-06T15:45:32.707759Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.841402ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-8114771193481938957","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:45:32.923620Z","deletable":true,"description":"","editable":true,"id":"9ee58a14-033b-46d8-a2d4-97914188e714","managed":false,"name":"test-acc-scaleway-iam-app-8114771193481938957","nb_api_keys":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2025-03-06T15:45:32.923620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.465066ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-2815066931871199530","description":"","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}],"tags":null,"application_id":"9ee58a14-033b-46d8-a2d4-97914188e714"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"9ee58a14-033b-46d8-a2d4-97914188e714","created_at":"2025-03-06T15:45:32.998502Z","deletable":true,"description":"","editable":true,"id":"530ef0b5-6a60-4241-8dd1-a30451842773","managed":false,"name":"test-acc-scaleway-iam-policy-2815066931871199530","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2025-03-06T15:45:32.998502Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.718388ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"9ee58a14-033b-46d8-a2d4-97914188e714","default_project_id":"3bdff965-412c-46de-8afe-06295f3edd6a","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWMDE1FKM5KNVHZMP6B","application_id":"9ee58a14-033b-46d8-a2d4-97914188e714","created_at":"2025-03-06T15:45:33.120703Z","creation_ip":"91.164.77.171","default_project_id":"3bdff965-412c-46de-8afe-06295f3edd6a","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-03-06T15:45:33.120703Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.173161ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"3bdff965-412c-46de-8afe-06295f3edd6a","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:45:34.303537Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"832d9ec7-e9dd-4fd6-b4c8-fe312f2f0ff9","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"3bdff965-412c-46de-8afe-06295f3edd6a","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-06T15:45:34.303537Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.054074ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/832d9ec7-e9dd-4fd6-b4c8-fe312f2f0ff9
        method: GET
      response:
        body: '{"created_at":"2025-03-06T15:45:34.303537Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"832d9ec7-e9dd-4fd6-b4c8-fe312f2f0ff9","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"3bdff965-412c-46de-8afe-06295f3edd6a","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-06T15:45:34.303537Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.216649ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&project_id=3bdff965-412c-46de-8afe-06295f3edd6a&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-06T15:45:34.303537Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"832d9ec7-e9dd-4fd6-b4c8-fe312f2f0ff9","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"3bdff965-412c-46de-8afe-06295f3edd6a","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-06T15:45:34.303537Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.099904ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWMDE1FKM5KNVHZMP6B
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.813891ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/530ef0b5-6a60-4241-8dd1-a30451842773
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 65.740484ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/9ee58a14-033b-46d8-a2d4-97914188e714
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 55.30407ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3bdff965-412c-46de-8afe-06295f3edd6a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.399730759s
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/832d9ec7-e9dd-4fd6-b4c8-fe312f2f0ff9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"832d9ec7-e9dd-4fd6-b4c8-fe312f2f0ff9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.422887ms
[...]
