---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-5825138542100483719\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"e0644e25-b0a2-4085-afb4-3acdcee0fbef\",\"name\":\"test-acc-scaleway-project-5825138542100483719\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:11:44.561245Z\",\"updated_at\":\"2025-09-23T10:11:44.561245Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 698.788936ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-9067345790926205454\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"a10809d5-0ea6-49fa-bfd2-ff1195be2c47\",\"name\":\"test-acc-scaleway-iam-app-9067345790926205454\",\"description\":\"\",\"created_at\":\"2025-09-23T10:11:45.248071Z\",\"updated_at\":\"2025-09-23T10:11:45.248071Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 614.287341ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-6456859911450556448\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"a10809d5-0ea6-49fa-bfd2-ff1195be2c47\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"f2010f1f-9622-41fc-9618-a120e3db2e5c\",\"name\":\"test-acc-scaleway-iam-policy-6456859911450556448\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:11:45.823673Z\",\"updated_at\":\"2025-09-23T10:11:45.823673Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"a10809d5-0ea6-49fa-bfd2-ff1195be2c47\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 509.697577ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"a10809d5-0ea6-49fa-bfd2-ff1195be2c47\",\"default_project_id\":\"e0644e25-b0a2-4085-afb4-3acdcee0fbef\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWKKY8XXW7FNDSZVPWA\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T10:11:46.387857Z\",\"updated_at\":\"2025-09-23T10:11:46.387857Z\",\"expires_at\":null,\"default_project_id\":\"e0644e25-b0a2-4085-afb4-3acdcee0fbef\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"a10809d5-0ea6-49fa-bfd2-ff1195be2c47\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 614.800653ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e0644e25-b0a2-4085-afb4-3acdcee0fbef\",\"name\":\"scalewayDataSourceSecret\",\"tags\":null,\"description\":\"DataSourceSecret test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"ad5db43a-d616-4f98-b7fe-ea460926df9e\",\"project_id\":\"e0644e25-b0a2-4085-afb4-3acdcee0fbef\",\"name\":\"scalewayDataSourceSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:11:49.206192Z\",\"updated_at\":\"2025-09-23T10:11:49.206192Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceSecret test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 665.587029ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad5db43a-d616-4f98-b7fe-ea460926df9e
    method: GET
  response:
    body: "{\"id\":\"ad5db43a-d616-4f98-b7fe-ea460926df9e\",\"project_id\":\"e0644e25-b0a2-4085-afb4-3acdcee0fbef\",\"name\":\"scalewayDataSourceSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:11:49.206192Z\",\"updated_at\":\"2025-09-23T10:11:49.206192Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceSecret test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.961502ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad5db43a-d616-4f98-b7fe-ea460926df9e/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 519.703748ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      name:
      - scalewayDataSourceSecret
      order_by:
      - name_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - e0644e25-b0a2-4085-afb4-3acdcee0fbef
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=e0644e25-b0a2-4085-afb4-3acdcee0fbef&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"ad5db43a-d616-4f98-b7fe-ea460926df9e\",\"project_id\":\"e0644e25-b0a2-4085-afb4-3acdcee0fbef\",\"name\":\"scalewayDataSourceSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:11:49.206192Z\",\"updated_at\":\"2025-09-23T10:11:49.206192Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceSecret test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 508.80071ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 486.011894ms
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/f2010f1f-9622-41fc-9618-a120e3db2e5c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 208.024279ms
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/a10809d5-0ea6-49fa-bfd2-ff1195be2c47
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 307.311361ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/e0644e25-b0a2-4085-afb4-3acdcee0fbef
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.938156553s
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad5db43a-d616-4f98-b7fe-ea460926df9e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"secret\",\"resource_id\":\"ad5db43a-d616-4f98-b7fe-ea460926df9e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 300.542959ms
[...]
