---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:40:11.924177Z","description":"","id":"c595153a-40ae-435f-9e23-1cf08f3ae25f","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T09:40:11.924177Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 582.320917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c595153a-40ae-435f-9e23-1cf08f3ae25f
        method: GET
      response:
        body: '{"created_at":"2025-03-13T09:40:11.924177Z","description":"","id":"c595153a-40ae-435f-9e23-1cf08f3ae25f","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-13T09:40:11.924177Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.668625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c595153a-40ae-435f-9e23-1cf08f3ae25f","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:40:12.435377Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"601a9ad8-da38-44ea-ab42-b696248cb74f","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"c595153a-40ae-435f-9e23-1cf08f3ae25f","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:40:12.435377Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.748791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/601a9ad8-da38-44ea-ab42-b696248cb74f
        method: GET
      response:
        body: '{"created_at":"2025-03-13T09:40:12.435377Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"601a9ad8-da38-44ea-ab42-b696248cb74f","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"c595153a-40ae-435f-9e23-1cf08f3ae25f","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:40:12.435377Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.774333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/601a9ad8-da38-44ea-ab42-b696248cb74f/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.340625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=c595153a-40ae-435f-9e23-1cf08f3ae25f&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-13T09:40:12.435377Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"601a9ad8-da38-44ea-ab42-b696248cb74f","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"c595153a-40ae-435f-9e23-1cf08f3ae25f","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:40:12.435377Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.148292ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/601a9ad8-da38-44ea-ab42-b696248cb74f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"601a9ad8-da38-44ea-ab42-b696248cb74f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.763333ms
[...]
