---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"scalewayDataSourceSecret\",\"tags\":null,\"description\":\"DataSourceSecret test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"79b35ee9-44c0-4964-adb6-4cea8e5a0a63\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"scalewayDataSourceSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.573590Z\", \"updated_at\":\"2025-11-28T16:25:07.573590Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceSecret test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 249.801675ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/79b35ee9-44c0-4964-adb6-4cea8e5a0a63
    method: GET
  response:
    body: "{\"id\":\"79b35ee9-44c0-4964-adb6-4cea8e5a0a63\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"scalewayDataSourceSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.573590Z\", \"updated_at\":\"2025-11-28T16:25:07.573590Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceSecret test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.069506ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/79b35ee9-44c0-4964-adb6-4cea8e5a0a63/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 176.793329ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - scalewayDataSourceSecret
      order_by:
      - name_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"79b35ee9-44c0-4964-adb6-4cea8e5a0a63\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"scalewayDataSourceSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.573590Z\", \"updated_at\":\"2025-11-28T16:25:07.573590Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceSecret test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.545656ms
[...]
