---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"1a30518b-7b5f-492f-81e0-e03e961fc197","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","status":"ready","created_at":"2026-05-28T14:08:03.418857Z","updated_at":"2026-05-28T14:08:03.418857Z","tags":[],"version_count":0,"description":"DataSourceSecret test description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.998438ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1a30518b-7b5f-492f-81e0-e03e961fc197
        method: GET
      response:
        body: '{"id":"1a30518b-7b5f-492f-81e0-e03e961fc197","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","status":"ready","created_at":"2026-05-28T14:08:03.418857Z","updated_at":"2026-05-28T14:08:03.418857Z","tags":[],"version_count":0,"description":"DataSourceSecret test description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.260704ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1a30518b-7b5f-492f-81e0-e03e961fc197/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.021563ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - scalewayDataSourceSecretBasic
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecretBasic&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"1a30518b-7b5f-492f-81e0-e03e961fc197","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","status":"ready","created_at":"2026-05-28T14:08:03.418857Z","updated_at":"2026-05-28T14:08:03.418857Z","tags":[],"version_count":0,"description":"DataSourceSecret test description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.671712ms
[...]
