---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"020c48f3-61b9-4654-88be-018d185534b1", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dataSourceSecretVersionBasic", "status":"ready", "created_at":"2025-12-16T11:13:36.946299Z", "updated_at":"2025-12-16T11:13:36.946299Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.936172ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/020c48f3-61b9-4654-88be-018d185534b1
        method: GET
      response:
        body: '{"id":"020c48f3-61b9-4654-88be-018d185534b1", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dataSourceSecretVersionBasic", "status":"ready", "created_at":"2025-12-16T11:13:36.946299Z", "updated_at":"2025-12-16T11:13:36.946299Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.318738ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/020c48f3-61b9-4654-88be-018d185534b1/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.668264ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/020c48f3-61b9-4654-88be-018d185534b1/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"020c48f3-61b9-4654-88be-018d185534b1", "status":"enabled", "created_at":"2025-12-16T11:13:37.789359Z", "updated_at":"2025-12-16T11:13:37.789359Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 461.128057ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/020c48f3-61b9-4654-88be-018d185534b1/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"020c48f3-61b9-4654-88be-018d185534b1", "status":"enabled", "created_at":"2025-12-16T11:13:37.789359Z", "updated_at":"2025-12-16T11:13:37.789359Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.222643ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/020c48f3-61b9-4654-88be-018d185534b1/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"020c48f3-61b9-4654-88be-018d185534b1", "revision":2, "data":"bXlfc3VwZXJfc2VjcmV0X3Yy", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.629322ms
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/020c48f3-61b9-4654-88be-018d185534b1/versions/2/access
        method: GET
      response:
        body: '{"secret_id":"020c48f3-61b9-4654-88be-018d185534b1", "revision":2, "data":"bXlfc3VwZXJfc2VjcmV0X3Yy", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.08464ms
[...]
