---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-ds-path\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/test-secret-ds-path-path\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"25deac1e-0826-48c6-a4dc-4e65fcccaac3\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-ds-path\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.745216Z\", \"updated_at\":\"2025-11-28T16:25:07.745216Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/test-secret-ds-path-path\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 484.956852ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/25deac1e-0826-48c6-a4dc-4e65fcccaac3
    method: GET
  response:
    body: "{\"id\":\"25deac1e-0826-48c6-a4dc-4e65fcccaac3\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-ds-path\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.745216Z\", \"updated_at\":\"2025-11-28T16:25:07.745216Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/test-secret-ds-path-path\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.823892ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/25deac1e-0826-48c6-a4dc-4e65fcccaac3/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.671956ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - test-secret-ds-path
      order_by:
      - name_asc
      path:
      - /test-secret-ds-path-path
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"25deac1e-0826-48c6-a4dc-4e65fcccaac3\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-ds-path\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.745216Z\", \"updated_at\":\"2025-11-28T16:25:07.745216Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/test-secret-ds-path-path\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 218.773619ms
[...]
