---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"1d8a023e-866b-4239-bc1a-15a1112851ec\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionBasic\", \"status\":\"ready\", \"created_at\":\"2025-12-08T08:46:02.197498Z\", \"updated_at\":\"2025-12-08T08:46:02.197498Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 418.660801ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1d8a023e-866b-4239-bc1a-15a1112851ec
    method: GET
  response:
    body: "{\"id\":\"1d8a023e-866b-4239-bc1a-15a1112851ec\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionBasic\", \"status\":\"ready\", \"created_at\":\"2025-12-08T08:46:02.197498Z\", \"updated_at\":\"2025-12-08T08:46:02.197498Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.58224ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1d8a023e-866b-4239-bc1a-15a1112851ec/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.80052ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1d8a023e-866b-4239-bc1a-15a1112851ec/versions
    method: POST
  response:
    body: "{\"revision\":1, \"secret_id\":\"1d8a023e-866b-4239-bc1a-15a1112851ec\", \"status\":\"enabled\", \"created_at\":\"2025-12-08T08:46:02.827792Z\", \"updated_at\":\"2025-12-08T08:46:02.827792Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 400.859556ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1d8a023e-866b-4239-bc1a-15a1112851ec/versions/1
    method: GET
  response:
    body: "{\"revision\":1, \"secret_id\":\"1d8a023e-866b-4239-bc1a-15a1112851ec\", \"status\":\"enabled\", \"created_at\":\"2025-12-08T08:46:02.827792Z\", \"updated_at\":\"2025-12-08T08:46:02.827792Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.859896ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1d8a023e-866b-4239-bc1a-15a1112851ec/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"1d8a023e-866b-4239-bc1a-15a1112851ec\", \"revision\":2, \"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.958573ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1d8a023e-866b-4239-bc1a-15a1112851ec/versions/2/access
    method: GET
  response:
    body: "{\"secret_id\":\"1d8a023e-866b-4239-bc1a-15a1112851ec\", \"revision\":2, \"data\":\"bXlfc3VwZXJfc2VjcmV0X3Yy\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 131.583074ms
[...]
