---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:47:23.576478Z","description":"","id":"cc4f20ac-b973-4ebf-a716-a43735511810","name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2025-03-06T15:47:23.576478Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.299722ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cc4f20ac-b973-4ebf-a716-a43735511810
        method: GET
      response:
        body: '{"created_at":"2025-03-06T15:47:23.576478Z","description":"","id":"cc4f20ac-b973-4ebf-a716-a43735511810","name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2025-03-06T15:47:23.576478Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.933047ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cc4f20ac-b973-4ebf-a716-a43735511810","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:47:23.833070Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"0b5d67fe-77d6-4ad2-b01c-8be06703b899","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"cc4f20ac-b973-4ebf-a716-a43735511810","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-06T15:47:23.833070Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.955061ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0b5d67fe-77d6-4ad2-b01c-8be06703b899
        method: GET
      response:
        body: '{"created_at":"2025-03-06T15:47:23.833070Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"0b5d67fe-77d6-4ad2-b01c-8be06703b899","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"cc4f20ac-b973-4ebf-a716-a43735511810","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-06T15:47:23.833070Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.565453ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=cc4f20ac-b973-4ebf-a716-a43735511810&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-06T15:47:23.833070Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"0b5d67fe-77d6-4ad2-b01c-8be06703b899","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"cc4f20ac-b973-4ebf-a716-a43735511810","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-06T15:47:23.833070Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.935142ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0b5d67fe-77d6-4ad2-b01c-8be06703b899
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"0b5d67fe-77d6-4ad2-b01c-8be06703b899","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.377395ms
[...]
