---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-4721499458640690337","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:48.104370Z","description":"","id":"e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c","name":"test-acc-scaleway-project-4721499458640690337","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-09T09:22:48.104370Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.179196ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-8289695630963220046","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:48.420102Z","description":"","editable":true,"id":"e451b3e8-1eb2-44f2-96ff-32f61f66fd0a","name":"test-acc-scaleway-iam-app-8289695630963220046","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":[],"updated_at":"2024-08-09T09:22:48.420102Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.620211ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-1334981015940224623","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"tags":null,"application_id":"e451b3e8-1eb2-44f2-96ff-32f61f66fd0a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"e451b3e8-1eb2-44f2-96ff-32f61f66fd0a","created_at":"2024-08-09T09:22:48.491538Z","description":"","editable":true,"id":"f8239107-3248-4a58-a569-78a2914f66aa","name":"test-acc-scaleway-iam-policy-1334981015940224623","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":[],"updated_at":"2024-08-09T09:22:48.491538Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.149782ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"e451b3e8-1eb2-44f2-96ff-32f61f66fd0a","default_project_id":"e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWVT1MG503CRD7HR026","application_id":"e451b3e8-1eb2-44f2-96ff-32f61f66fd0a","created_at":"2024-08-09T09:22:48.641525Z","creation_ip":"130.180.219.188","default_project_id":"e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-09T09:22:48.641525Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.984869ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.673058Z","description":"DataSourceSecret test description","ephemeral_policy":null,"id":"435526df-775b-4aa8-a3cf-334f79c52d64","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.673058Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.956145ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/435526df-775b-4aa8-a3cf-334f79c52d64
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.673058Z","description":"DataSourceSecret test description","ephemeral_policy":null,"id":"435526df-775b-4aa8-a3cf-334f79c52d64","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.673058Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.301438ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b&project_id=e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2024-08-09T09:22:49.673058Z","description":"DataSourceSecret test description","ephemeral_policy":null,"id":"435526df-775b-4aa8-a3cf-334f79c52d64","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.673058Z","version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.849729ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWVT1MG503CRD7HR026
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 47.547701ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f8239107-3248-4a58-a569-78a2914f66aa
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 58.382237ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e451b3e8-1eb2-44f2-96ff-32f61f66fd0a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 55.6333ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e9868b9c-a0ba-4878-8cf7-b40a2bd1c52c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.328721113s
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/435526df-775b-4aa8-a3cf-334f79c52d64
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"435526df-775b-4aa8-a3cf-334f79c52d64","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.942406ms
[...]
