---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:46:57.476905Z","description":"","id":"426037eb-3a4d-452e-a7b6-dc130397bfe5","name":"tf-tests-secret-version-ds-by-name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2025-03-06T15:46:57.476905Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.986962ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/426037eb-3a4d-452e-a7b6-dc130397bfe5
        method: GET
      response:
        body: '{"created_at":"2025-03-06T15:46:57.476905Z","description":"","id":"426037eb-3a4d-452e-a7b6-dc130397bfe5","name":"tf-tests-secret-version-ds-by-name","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2025-03-06T15:46:57.476905Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.096642ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"426037eb-3a4d-452e-a7b6-dc130397bfe5","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:46:57.762674Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"426037eb-3a4d-452e-a7b6-dc130397bfe5","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-06T15:46:57.762674Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.955443ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1686e2e-68a2-4e73-8a5c-f62322a9f6ef
        method: GET
      response:
        body: '{"created_at":"2025-03-06T15:46:57.762674Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"426037eb-3a4d-452e-a7b6-dc130397bfe5","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-06T15:46:57.762674Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.770171ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1686e2e-68a2-4e73-8a5c-f62322a9f6ef/versions
        method: POST
      response:
        body: '{"created_at":"2025-03-06T15:46:58.080572Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","status":"enabled","updated_at":"2025-03-06T15:46:58.080572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.708822ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1686e2e-68a2-4e73-8a5c-f62322a9f6ef/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-03-06T15:46:58.080572Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","status":"enabled","updated_at":"2025-03-06T15:46:58.080572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.666949ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=426037eb-3a4d-452e-a7b6-dc130397bfe5&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-06T15:46:57.762674Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"426037eb-3a4d-452e-a7b6-dc130397bfe5","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-06T15:46:57.762674Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.546634ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1686e2e-68a2-4e73-8a5c-f62322a9f6ef/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.727528ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1686e2e-68a2-4e73-8a5c-f62322a9f6ef/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.271178ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1686e2e-68a2-4e73-8a5c-f62322a9f6ef/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"a1686e2e-68a2-4e73-8a5c-f62322a9f6ef","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.143857ms
[...]
