---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-8063775891052703106","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:46:53.900336Z","description":"","id":"1ed5e80d-f8dc-4d20-be90-44f4b6b7186d","name":"test-acc-scaleway-project-8063775891052703106","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2025-09-05T15:46:53.900336Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 461.997959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-5023269902985808251","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:46:54.169759Z","deletable":true,"description":"","editable":true,"id":"6aac30e2-1842-4822-aced-1d5d171f6c44","managed":false,"name":"test-acc-scaleway-iam-app-5023269902985808251","nb_api_keys":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2025-09-05T15:46:54.169759Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.196958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-5588848851561709717","description":"","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}],"tags":null,"application_id":"6aac30e2-1842-4822-aced-1d5d171f6c44"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"6aac30e2-1842-4822-aced-1d5d171f6c44","created_at":"2025-09-05T15:46:54.313975Z","deletable":true,"description":"","editable":true,"id":"a50001b5-27ca-494f-8773-8d9bf46dbc95","managed":false,"name":"test-acc-scaleway-iam-policy-5588848851561709717","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2025-09-05T15:46:54.313975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.840375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"6aac30e2-1842-4822-aced-1d5d171f6c44","default_project_id":"1ed5e80d-f8dc-4d20-be90-44f4b6b7186d","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWZQ1N8VGXQP2Z6CC8V","application_id":"6aac30e2-1842-4822-aced-1d5d171f6c44","created_at":"2025-09-05T15:46:54.478970Z","creation_ip":"41.96.92.239","default_project_id":"1ed5e80d-f8dc-4d20-be90-44f4b6b7186d","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-05T15:46:54.478970Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.672667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"1ed5e80d-f8dc-4d20-be90-44f4b6b7186d","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:46:54.943096Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"112b8309-7612-4953-91f6-c7a926b87a2a","key_id":null,"managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"1ed5e80d-f8dc-4d20-be90-44f4b6b7186d","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-05T15:46:54.943096Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.642ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/112b8309-7612-4953-91f6-c7a926b87a2a
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:46:54.943096Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"112b8309-7612-4953-91f6-c7a926b87a2a","key_id":null,"managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"1ed5e80d-f8dc-4d20-be90-44f4b6b7186d","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-05T15:46:54.943096Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.095542ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/112b8309-7612-4953-91f6-c7a926b87a2a/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.969417ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&project_id=1ed5e80d-f8dc-4d20-be90-44f4b6b7186d&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-09-05T15:46:54.943096Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"112b8309-7612-4953-91f6-c7a926b87a2a","key_id":null,"managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"1ed5e80d-f8dc-4d20-be90-44f4b6b7186d","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-05T15:46:54.943096Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.611583ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZQ1N8VGXQP2Z6CC8V
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 97.479958ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/a50001b5-27ca-494f-8773-8d9bf46dbc95
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.45825ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/6aac30e2-1842-4822-aced-1d5d171f6c44
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 85.077709ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1ed5e80d-f8dc-4d20-be90-44f4b6b7186d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.435415167s
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/112b8309-7612-4953-91f6-c7a926b87a2a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"112b8309-7612-4953-91f6-c7a926b87a2a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.655875ms
[...]
