---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"21025838-d5b7-42ed-84e9-60935778dc39","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","status":"ready","created_at":"2026-06-24T09:38:48.111189Z","updated_at":"2026-06-24T09:38:48.111189Z","tags":[],"version_count":0,"description":"DataSourceSecret test description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.755569ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/21025838-d5b7-42ed-84e9-60935778dc39
        method: GET
      response:
        body: '{"id":"21025838-d5b7-42ed-84e9-60935778dc39","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","status":"ready","created_at":"2026-06-24T09:38:48.111189Z","updated_at":"2026-06-24T09:38:48.111189Z","tags":[],"version_count":0,"description":"DataSourceSecret test description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.446609ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/21025838-d5b7-42ed-84e9-60935778dc39/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.122725ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - scalewayDataSourceSecretBasic
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecretBasic&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"21025838-d5b7-42ed-84e9-60935778dc39","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"scalewayDataSourceSecretBasic","status":"ready","created_at":"2026-06-24T09:38:48.111189Z","updated_at":"2026-06-24T09:38:48.111189Z","tags":[],"version_count":0,"description":"DataSourceSecret test description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.676402ms
[...]
