---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"be9b1def-2d5a-4b07-a474-f66bc939101d\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:18.766475Z\",\"updated_at\":\"2025-09-01T14:59:18.766475Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 366.324718ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/be9b1def-2d5a-4b07-a474-f66bc939101d
    method: GET
  response:
    body: "{\"id\":\"be9b1def-2d5a-4b07-a474-f66bc939101d\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:18.766475Z\",\"updated_at\":\"2025-09-01T14:59:18.766475Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 233.284648ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"be9b1def-2d5a-4b07-a474-f66bc939101d\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"project_id\":\"be9b1def-2d5a-4b07-a474-f66bc939101d\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:19.341899Z\",\"updated_at\":\"2025-09-01T14:59:19.341899Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.030711ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e72be89c-49c4-4d53-aee1-15ed375a2ea3
    method: GET
  response:
    body: "{\"id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"project_id\":\"be9b1def-2d5a-4b07-a474-f66bc939101d\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:19.341899Z\",\"updated_at\":\"2025-09-01T14:59:19.341899Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.159728ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e72be89c-49c4-4d53-aee1-15ed375a2ea3/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.162993ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e72be89c-49c4-4d53-aee1-15ed375a2ea3/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.938594Z\",\"updated_at\":\"2025-09-01T14:59:19.938594Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 326.870497ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e72be89c-49c4-4d53-aee1-15ed375a2ea3/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.938594Z\",\"updated_at\":\"2025-09-01T14:59:19.938594Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.056322ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      name:
      - dataSourceSecretVersionByNameSecret
      order_by:
      - name_asc
      project_id:
      - be9b1def-2d5a-4b07-a474-f66bc939101d
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=be9b1def-2d5a-4b07-a474-f66bc939101d&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"project_id\":\"be9b1def-2d5a-4b07-a474-f66bc939101d\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:19.341899Z\",\"updated_at\":\"2025-09-01T14:59:19.341899Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":1,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.397375ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e72be89c-49c4-4d53-aee1-15ed375a2ea3/versions/1/access
    method: GET
  response:
    body: "{\"secret_id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"revision\":1,\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.012648ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e72be89c-49c4-4d53-aee1-15ed375a2ea3/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"revision\":1,\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.29056ms
[...]
- id: 53
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e72be89c-49c4-4d53-aee1-15ed375a2ea3/versions/1
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"secret\",\"resource_id\":\"e72be89c-49c4-4d53-aee1-15ed375a2ea3\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 92.207108ms
[...]
