---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-no-versions","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"3d0b6f6c-1ebf-4558-b675-b93f7038c53b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-no-versions","status":"ready","created_at":"2026-07-03T15:27:54.670466Z","updated_at":"2026-07-03T15:27:54.670466Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.657899ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3d0b6f6c-1ebf-4558-b675-b93f7038c53b
        method: GET
      response:
        body: '{"id":"3d0b6f6c-1ebf-4558-b675-b93f7038c53b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-no-versions","status":"ready","created_at":"2026-07-03T15:27:54.670466Z","updated_at":"2026-07-03T15:27:54.670466Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.718824ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3d0b6f6c-1ebf-4558-b675-b93f7038c53b/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.163842ms
[...]
