---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"9ba8b1e6-3bc6-4601-826c-e68b97a565b5", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dsSecretVersionByNameSecret", "status":"ready", "created_at":"2025-12-16T11:13:36.996758Z", "updated_at":"2025-12-16T11:13:36.996758Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.218889ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ba8b1e6-3bc6-4601-826c-e68b97a565b5
        method: GET
      response:
        body: '{"id":"9ba8b1e6-3bc6-4601-826c-e68b97a565b5", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dsSecretVersionByNameSecret", "status":"ready", "created_at":"2025-12-16T11:13:36.996758Z", "updated_at":"2025-12-16T11:13:36.996758Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.125483ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ba8b1e6-3bc6-4601-826c-e68b97a565b5/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.656235ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ba8b1e6-3bc6-4601-826c-e68b97a565b5/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"9ba8b1e6-3bc6-4601-826c-e68b97a565b5", "status":"enabled", "created_at":"2025-12-16T11:13:38.039123Z", "updated_at":"2025-12-16T11:13:38.039123Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 673.847834ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ba8b1e6-3bc6-4601-826c-e68b97a565b5/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"9ba8b1e6-3bc6-4601-826c-e68b97a565b5", "status":"enabled", "created_at":"2025-12-16T11:13:38.039123Z", "updated_at":"2025-12-16T11:13:38.039123Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.7079ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            name:
                - dsSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dsSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"9ba8b1e6-3bc6-4601-826c-e68b97a565b5", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dsSecretVersionByNameSecret", "status":"ready", "created_at":"2025-12-16T11:13:36.996758Z", "updated_at":"2025-12-16T11:13:36.996758Z", "tags":["devtools", "provider", "terraform"], "version_count":1, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.14752415s
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ba8b1e6-3bc6-4601-826c-e68b97a565b5/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"9ba8b1e6-3bc6-4601-826c-e68b97a565b5", "revision":1, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 890.729824ms
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ba8b1e6-3bc6-4601-826c-e68b97a565b5/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"9ba8b1e6-3bc6-4601-826c-e68b97a565b5", "revision":1, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 970.776908ms
[...]
