---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-versions","tags":null,"description":"Secret with versions","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"22fa08a2-721d-4597-ac7e-22ecf83147b6", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-versions", "status":"ready", "created_at":"2026-08-26T12:21:43.271386Z", "updated_at":"2026-08-26T12:21:43.271386Z", "tags":[], "version_count":0, "description":"Secret with versions", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.070774ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.613794ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22fa08a2-721d-4597-ac7e-22ecf83147b6
        method: GET
      response:
        body: '{"id":"22fa08a2-721d-4597-ac7e-22ecf83147b6", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-versions", "status":"ready", "created_at":"2026-08-26T12:21:43.271386Z", "updated_at":"2026-08-26T12:21:43.271386Z", "tags":[], "version_count":0, "description":"Secret with versions", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.295096ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22fa08a2-721d-4597-ac7e-22ecf83147b6/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.206796ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"c2Vjb25kLXZlcnNpb24tZGF0YQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22fa08a2-721d-4597-ac7e-22ecf83147b6/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"22fa08a2-721d-4597-ac7e-22ecf83147b6", "status":"enabled", "created_at":"2026-08-26T12:21:43.808648Z", "updated_at":"2026-08-26T12:21:43.808648Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.65863ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/22fa08a2-721d-4597-ac7e-22ecf83147b6/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"22fa08a2-721d-4597-ac7e-22ecf83147b6", "status":"enabled", "created_at":"2026-08-26T12:21:43.808648Z", "updated_at":"2026-08-26T12:21:43.808648Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.265736ms
[...]
