---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:40:06.373982Z","description":"","id":"e1b2f4e3-6c8b-418d-8f43-6832c680a058","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-17T14:40:06.373982Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 710.679ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e1b2f4e3-6c8b-418d-8f43-6832c680a058
        method: GET
      response:
        body: '{"created_at":"2025-03-17T14:40:06.373982Z","description":"","id":"e1b2f4e3-6c8b-418d-8f43-6832c680a058","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-17T14:40:06.373982Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.148459ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"e1b2f4e3-6c8b-418d-8f43-6832c680a058","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:40:07.052569Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"e7ae1e79-ac51-4723-a3cc-5029b85cf69c","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"e1b2f4e3-6c8b-418d-8f43-6832c680a058","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-17T14:40:07.052569Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.833125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7ae1e79-ac51-4723-a3cc-5029b85cf69c
        method: GET
      response:
        body: '{"created_at":"2025-03-17T14:40:07.052569Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"e7ae1e79-ac51-4723-a3cc-5029b85cf69c","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"e1b2f4e3-6c8b-418d-8f43-6832c680a058","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-17T14:40:07.052569Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.062875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7ae1e79-ac51-4723-a3cc-5029b85cf69c/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.941041ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=e1b2f4e3-6c8b-418d-8f43-6832c680a058&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-17T14:40:07.052569Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"e7ae1e79-ac51-4723-a3cc-5029b85cf69c","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"e1b2f4e3-6c8b-418d-8f43-6832c680a058","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-17T14:40:07.052569Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.658083ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7ae1e79-ac51-4723-a3cc-5029b85cf69c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"e7ae1e79-ac51-4723-a3cc-5029b85cf69c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.953458ms
[...]
