---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-no-versions","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"f46d9a23-5289-4c5e-a876-95e7099aac53", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-no-versions", "status":"ready", "created_at":"2026-08-26T12:21:43.303780Z", "updated_at":"2026-08-26T12:21:43.303780Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.595701ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.897275ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f46d9a23-5289-4c5e-a876-95e7099aac53
        method: GET
      response:
        body: '{"id":"f46d9a23-5289-4c5e-a876-95e7099aac53", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-no-versions", "status":"ready", "created_at":"2026-08-26T12:21:43.303780Z", "updated_at":"2026-08-26T12:21:43.303780Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.492639ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f46d9a23-5289-4c5e-a876-95e7099aac53/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.228228ms
[...]
