---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"unknown_type","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-07T13:05:33.128948Z","description":"secret description","ephemeral_policy":null,"id":"c84471f6-a738-4ccf-9d0a-e126c7b0311d","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-07T13:05:33.128948Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.152688ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c84471f6-a738-4ccf-9d0a-e126c7b0311d
        method: GET
      response:
        body: '{"created_at":"2024-08-07T13:05:33.128948Z","description":"secret description","ephemeral_policy":null,"id":"c84471f6-a738-4ccf-9d0a-e126c7b0311d","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-07T13:05:33.128948Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.090118ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c84471f6-a738-4ccf-9d0a-e126c7b0311d/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-07T13:05:33.339448Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"c84471f6-a738-4ccf-9d0a-e126c7b0311d","status":"enabled","updated_at":"2024-08-07T13:05:33.339448Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.742367ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c84471f6-a738-4ccf-9d0a-e126c7b0311d/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-07T13:05:33.339448Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"c84471f6-a738-4ccf-9d0a-e126c7b0311d","status":"enabled","updated_at":"2024-08-07T13:05:33.339448Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.334227ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c84471f6-a738-4ccf-9d0a-e126c7b0311d/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"c84471f6-a738-4ccf-9d0a-e126c7b0311d","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.980013ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c84471f6-a738-4ccf-9d0a-e126c7b0311d/versions/2/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"c84471f6-a738-4ccf-9d0a-e126c7b0311d","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.376661ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c84471f6-a738-4ccf-9d0a-e126c7b0311d/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"c84471f6-a738-4ccf-9d0a-e126c7b0311d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.159552ms
[...]
