---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"c6001e0d-b967-4ccb-920c-6dcf947e3fad","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","status":"ready","created_at":"2026-05-28T14:08:03.460502Z","updated_at":"2026-05-28T14:08:03.460502Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.073111ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c6001e0d-b967-4ccb-920c-6dcf947e3fad
        method: GET
      response:
        body: '{"id":"c6001e0d-b967-4ccb-920c-6dcf947e3fad","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","status":"ready","created_at":"2026-05-28T14:08:03.460502Z","updated_at":"2026-05-28T14:08:03.460502Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.131714ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c6001e0d-b967-4ccb-920c-6dcf947e3fad/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.352415ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c6001e0d-b967-4ccb-920c-6dcf947e3fad/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"c6001e0d-b967-4ccb-920c-6dcf947e3fad","status":"enabled","created_at":"2026-05-28T14:08:03.884390Z","updated_at":"2026-05-28T14:08:03.884390Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.330281ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c6001e0d-b967-4ccb-920c-6dcf947e3fad/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"c6001e0d-b967-4ccb-920c-6dcf947e3fad","status":"enabled","created_at":"2026-05-28T14:08:03.884390Z","updated_at":"2026-05-28T14:08:03.884390Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.812073ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c6001e0d-b967-4ccb-920c-6dcf947e3fad/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"c6001e0d-b967-4ccb-920c-6dcf947e3fad","revision":2,"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.705094ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c6001e0d-b967-4ccb-920c-6dcf947e3fad/versions/2/access
        method: GET
      response:
        body: '{"secret_id":"c6001e0d-b967-4ccb-920c-6dcf947e3fad","revision":2,"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.326179ms
[...]
