---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-1944420024616587315","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:23:16.984924Z","description":"","id":"9d11c0e0-6179-4ae1-bd69-fecdeb55b43b","name":"test-acc-scaleway-project-1944420024616587315","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-22T15:23:16.984924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.926208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-8571656925252165333","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:23:17.190510Z","deletable":true,"description":"","editable":true,"id":"e1d08f0e-4cff-4121-a692-e69e3a89d657","managed":false,"name":"test-acc-scaleway-iam-app-8571656925252165333","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:23:17.190510Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.601083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-5904790084291321788","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"e1d08f0e-4cff-4121-a692-e69e3a89d657"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"e1d08f0e-4cff-4121-a692-e69e3a89d657","created_at":"2025-05-22T15:23:17.273920Z","deletable":true,"description":"","editable":true,"id":"698d2d96-f9f5-4d7e-959c-7861b19ff4d9","managed":false,"name":"test-acc-scaleway-iam-policy-5904790084291321788","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:23:17.273920Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.638292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"e1d08f0e-4cff-4121-a692-e69e3a89d657","default_project_id":"9d11c0e0-6179-4ae1-bd69-fecdeb55b43b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWN90T82EWHRAPJ5T0Y","application_id":"e1d08f0e-4cff-4121-a692-e69e3a89d657","created_at":"2025-05-22T15:23:17.435320Z","creation_ip":"51.159.73.145","default_project_id":"9d11c0e0-6179-4ae1-bd69-fecdeb55b43b","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-05-22T15:23:17.435320Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.697583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"9d11c0e0-6179-4ae1-bd69-fecdeb55b43b","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:23:18.152592Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"18b657d6-0307-459a-b096-1fc59d9d31cf","key_id":null,"managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"9d11c0e0-6179-4ae1-bd69-fecdeb55b43b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:23:18.152592Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.483209ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18b657d6-0307-459a-b096-1fc59d9d31cf
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:23:18.152592Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"18b657d6-0307-459a-b096-1fc59d9d31cf","key_id":null,"managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"9d11c0e0-6179-4ae1-bd69-fecdeb55b43b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:23:18.152592Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.326167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18b657d6-0307-459a-b096-1fc59d9d31cf/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.008458ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=951df375-e094-4d26-97c1-ba548eeb9c42&project_id=9d11c0e0-6179-4ae1-bd69-fecdeb55b43b&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-05-22T15:23:18.152592Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"18b657d6-0307-459a-b096-1fc59d9d31cf","key_id":null,"managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"9d11c0e0-6179-4ae1-bd69-fecdeb55b43b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:23:18.152592Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.325208ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWN90T82EWHRAPJ5T0Y
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.59275ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/698d2d96-f9f5-4d7e-959c-7861b19ff4d9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.091ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e1d08f0e-4cff-4121-a692-e69e3a89d657
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 42.213791ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9d11c0e0-6179-4ae1-bd69-fecdeb55b43b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 891.926584ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18b657d6-0307-459a-b096-1fc59d9d31cf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"18b657d6-0307-459a-b096-1fc59d9d31cf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.051375ms
[...]
