---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-5711018751590379325","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:40:39.457867Z","description":"","id":"61a9356b-68ef-428d-a8a1-ae61f278e373","name":"test-acc-scaleway-project-5711018751590379325","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-17T14:40:39.457867Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.536110458s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-617757119821067428","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:40:39.844211Z","deletable":true,"description":"","editable":true,"id":"c022a9bf-0f55-4424-bf5c-aa0fb674c1fd","managed":false,"name":"test-acc-scaleway-iam-app-617757119821067428","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-03-17T14:40:39.844211Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.963042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-6159957016936150457","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"c022a9bf-0f55-4424-bf5c-aa0fb674c1fd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"c022a9bf-0f55-4424-bf5c-aa0fb674c1fd","created_at":"2025-03-17T14:40:39.989439Z","deletable":true,"description":"","editable":true,"id":"c4ae5071-85b9-4eb6-8ab0-1649a8d720f4","managed":false,"name":"test-acc-scaleway-iam-policy-6159957016936150457","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-03-17T14:40:39.989439Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.168917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"c022a9bf-0f55-4424-bf5c-aa0fb674c1fd","default_project_id":"61a9356b-68ef-428d-a8a1-ae61f278e373","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW4ZAKV1KZ6R7KK1728","application_id":"c022a9bf-0f55-4424-bf5c-aa0fb674c1fd","created_at":"2025-03-17T14:40:40.236896Z","creation_ip":"51.159.73.145","default_project_id":"61a9356b-68ef-428d-a8a1-ae61f278e373","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-03-17T14:40:40.236896Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.387209ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"61a9356b-68ef-428d-a8a1-ae61f278e373","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret test description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-17T14:40:41.909082Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"e47a1caa-86a7-4c07-995a-5817a2048c9a","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"61a9356b-68ef-428d-a8a1-ae61f278e373","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-17T14:40:41.909082Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.053417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e47a1caa-86a7-4c07-995a-5817a2048c9a
        method: GET
      response:
        body: '{"created_at":"2025-03-17T14:40:41.909082Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"e47a1caa-86a7-4c07-995a-5817a2048c9a","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"61a9356b-68ef-428d-a8a1-ae61f278e373","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-17T14:40:41.909082Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.177792ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e47a1caa-86a7-4c07-995a-5817a2048c9a/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.152167ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=61a9356b-68ef-428d-a8a1-ae61f278e373&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-03-17T14:40:41.909082Z","deletion_requested_at":null,"description":"DataSourceSecret test description","ephemeral_policy":null,"id":"e47a1caa-86a7-4c07-995a-5817a2048c9a","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"61a9356b-68ef-428d-a8a1-ae61f278e373","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-17T14:40:41.909082Z","used_by":[],"version_count":0}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.292166ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW4ZAKV1KZ6R7KK1728
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 139.620625ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/c4ae5071-85b9-4eb6-8ab0-1649a8d720f4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 126.638917ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/c022a9bf-0f55-4424-bf5c-aa0fb674c1fd
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 102.63025ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/61a9356b-68ef-428d-a8a1-ae61f278e373
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.488397333s
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e47a1caa-86a7-4c07-995a-5817a2048c9a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"e47a1caa-86a7-4c07-995a-5817a2048c9a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.934125ms
[...]
