---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"92b45a2f-28e3-4fae-bacf-024e0c24ea58", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dsSecretVersionByNameSecret", "status":"ready", "created_at":"2026-08-26T12:22:07.501323Z", "updated_at":"2026-08-26T12:22:07.501323Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.875596ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.554759ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/92b45a2f-28e3-4fae-bacf-024e0c24ea58
        method: GET
      response:
        body: '{"id":"92b45a2f-28e3-4fae-bacf-024e0c24ea58", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dsSecretVersionByNameSecret", "status":"ready", "created_at":"2026-08-26T12:22:07.501323Z", "updated_at":"2026-08-26T12:22:07.501323Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.632611ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/92b45a2f-28e3-4fae-bacf-024e0c24ea58/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.548685ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/92b45a2f-28e3-4fae-bacf-024e0c24ea58/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"92b45a2f-28e3-4fae-bacf-024e0c24ea58", "status":"enabled", "created_at":"2026-08-26T12:22:07.943668Z", "updated_at":"2026-08-26T12:22:07.943668Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.251373ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/92b45a2f-28e3-4fae-bacf-024e0c24ea58/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"92b45a2f-28e3-4fae-bacf-024e0c24ea58", "status":"enabled", "created_at":"2026-08-26T12:22:07.943668Z", "updated_at":"2026-08-26T12:22:07.943668Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.853689ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            name:
                - dsSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dsSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"92b45a2f-28e3-4fae-bacf-024e0c24ea58", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"dsSecretVersionByNameSecret", "status":"ready", "created_at":"2026-08-26T12:22:07.501323Z", "updated_at":"2026-08-26T12:22:07.501323Z", "tags":["devtools", "provider", "terraform"], "version_count":1, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.160718ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/92b45a2f-28e3-4fae-bacf-024e0c24ea58/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"92b45a2f-28e3-4fae-bacf-024e0c24ea58", "revision":1, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.372982ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/92b45a2f-28e3-4fae-bacf-024e0c24ea58/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"92b45a2f-28e3-4fae-bacf-024e0c24ea58", "revision":1, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.185266ms
[...]
