---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.583524Z","description":"","ephemeral_policy":null,"id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.583524Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.928526ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4f5b546d-bd0e-48df-95ee-a65882d1b682
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.583524Z","description":"","ephemeral_policy":null,"id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.583524Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.187084ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4f5b546d-bd0e-48df-95ee-a65882d1b682/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.780785Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","status":"enabled","updated_at":"2024-08-09T09:22:49.780785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.667435ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4f5b546d-bd0e-48df-95ee-a65882d1b682/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.780785Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","status":"enabled","updated_at":"2024-08-09T09:22:49.780785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.570358ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2024-08-09T09:22:49.583524Z","description":"","ephemeral_policy":null,"id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.583524Z","version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.400354ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4f5b546d-bd0e-48df-95ee-a65882d1b682/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.787121ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4f5b546d-bd0e-48df-95ee-a65882d1b682/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.081574ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4f5b546d-bd0e-48df-95ee-a65882d1b682/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"4f5b546d-bd0e-48df-95ee-a65882d1b682","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.01377ms
[...]
