---
version: 2
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-6959132786994673577","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-26T08:12:30.287276Z","description":"","id":"9877187b-ce53-49e7-bf27-10072affc50c","name":"test-acc-scaleway-project-6959132786994673577","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-03-26T08:12:30.287276Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-app-2289879663341312253","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-26T08:12:30.501391Z","description":"","editable":true,"id":"de04e94a-8eab-44da-819e-9cd37b21c35e","name":"test-acc-scaleway-iam-app-2289879663341312253","nb_api_keys":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2024-03-26T08:12:30.501391Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-2567482939882358847","description":"","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rules":[{"permission_set_names":["IAMManager"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}],"tags":null,"application_id":"de04e94a-8eab-44da-819e-9cd37b21c35e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"de04e94a-8eab-44da-819e-9cd37b21c35e","created_at":"2024-03-26T08:12:30.585650Z","description":"","editable":true,"id":"381a65a5-cf54-4f22-a73d-83feb6e58bc2","name":"test-acc-scaleway-iam-policy-2567482939882358847","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2024-03-26T08:12:30.585650Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"application_id":"de04e94a-8eab-44da-819e-9cd37b21c35e","default_project_id":"9877187b-ce53-49e7-bf27-10072affc50c","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWEHDVGMQ3E7YSFW0MY","application_id":"de04e94a-8eab-44da-819e-9cd37b21c35e","created_at":"2024-03-26T08:12:30.828638Z","creation_ip":"91.164.77.171","default_project_id":"9877187b-ce53-49e7-bf27-10072affc50c","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-26T08:12:30.828638Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"9877187b-ce53-49e7-bf27-10072affc50c","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret
      test description","type":"unknown_type","path":"/","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-03-26T08:12:31.561851Z","description":"DataSourceSecret
      test description","ephemeral_policy":null,"id":"18b1f2f4-bc29-4185-a2f5-29d8b6cdf944","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"9877187b-ce53-49e7-bf27-10072affc50c","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-26T08:12:31.561851Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18b1f2f4-bc29-4185-a2f5-29d8b6cdf944
    method: GET
  response:
    body: '{"created_at":"2024-03-26T08:12:31.561851Z","description":"DataSourceSecret
      test description","ephemeral_policy":null,"id":"18b1f2f4-bc29-4185-a2f5-29d8b6cdf944","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"9877187b-ce53-49e7-bf27-10072affc50c","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-26T08:12:31.561851Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&project_id=9877187b-ce53-49e7-bf27-10072affc50c&type=unknown_type
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2024-03-26T08:12:31.561851Z","description":"DataSourceSecret
      test description","ephemeral_policy":null,"id":"18b1f2f4-bc29-4185-a2f5-29d8b6cdf944","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"9877187b-ce53-49e7-bf27-10072affc50c","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-26T08:12:31.561851Z","version_count":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEHDVGMQ3E7YSFW0MY
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/381a65a5-cf54-4f22-a73d-83feb6e58bc2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/de04e94a-8eab-44da-819e-9cd37b21c35e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/9877187b-ce53-49e7-bf27-10072affc50c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18b1f2f4-bc29-4185-a2f5-29d8b6cdf944
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"18b1f2f4-bc29-4185-a2f5-29d8b6cdf944","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
