---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"b17dcfb3-9f89-4831-ac4e-ca7f9f896306","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","status":"ready","created_at":"2026-06-03T15:58:26.451601Z","updated_at":"2026-06-03T15:58:26.451601Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.224481ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b17dcfb3-9f89-4831-ac4e-ca7f9f896306
        method: GET
      response:
        body: '{"id":"b17dcfb3-9f89-4831-ac4e-ca7f9f896306","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","status":"ready","created_at":"2026-06-03T15:58:26.451601Z","updated_at":"2026-06-03T15:58:26.451601Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.669616ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b17dcfb3-9f89-4831-ac4e-ca7f9f896306/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.437262ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b17dcfb3-9f89-4831-ac4e-ca7f9f896306/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"b17dcfb3-9f89-4831-ac4e-ca7f9f896306","status":"enabled","created_at":"2026-06-03T15:58:27.011144Z","updated_at":"2026-06-03T15:58:27.011144Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.512389ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b17dcfb3-9f89-4831-ac4e-ca7f9f896306/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"b17dcfb3-9f89-4831-ac4e-ca7f9f896306","status":"enabled","created_at":"2026-06-03T15:58:27.011144Z","updated_at":"2026-06-03T15:58:27.011144Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.35761ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b17dcfb3-9f89-4831-ac4e-ca7f9f896306/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"b17dcfb3-9f89-4831-ac4e-ca7f9f896306","revision":2,"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.202844ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b17dcfb3-9f89-4831-ac4e-ca7f9f896306/versions/2/access
        method: GET
      response:
        body: '{"secret_id":"b17dcfb3-9f89-4831-ac4e-ca7f9f896306","revision":2,"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.519519ms
[...]
