---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-versions","tags":null,"description":"Secret with versions","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"a25e8620-dc20-4e47-a2f4-587001f1c554","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-versions","status":"ready","created_at":"2026-10-09T14:04:57.664917Z","updated_at":"2026-10-09T14:04:57.664917Z","tags":[],"version_count":0,"description":"Secret with versions","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 97.393867ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 22.961182ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a25e8620-dc20-4e47-a2f4-587001f1c554
        method: GET
      response:
        body: '{"srn":"","id":"a25e8620-dc20-4e47-a2f4-587001f1c554","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-versions","status":"ready","created_at":"2026-10-09T14:04:57.664917Z","updated_at":"2026-10-09T14:04:57.664917Z","tags":[],"version_count":0,"description":"Secret with versions","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.001351ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a25e8620-dc20-4e47-a2f4-587001f1c554/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.62258ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"c2Vjb25kLXZlcnNpb24tZGF0YQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a25e8620-dc20-4e47-a2f4-587001f1c554/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"a25e8620-dc20-4e47-a2f4-587001f1c554","status":"enabled","created_at":"2026-10-09T14:04:58.103636Z","updated_at":"2026-10-09T14:04:58.103636Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 292.356251ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a25e8620-dc20-4e47-a2f4-587001f1c554/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"a25e8620-dc20-4e47-a2f4-587001f1c554","status":"enabled","created_at":"2026-10-09T14:04:58.103636Z","updated_at":"2026-10-09T14:04:58.103636Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.821552ms
[...]
