---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-26T11:51:29.611967Z","description":"","id":"cadb9209-f3d0-4dd6-ac74-e1109ee42f23","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-26T11:51:29.611967Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.204416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cadb9209-f3d0-4dd6-ac74-e1109ee42f23
        method: GET
      response:
        body: '{"created_at":"2025-05-26T11:51:29.611967Z","description":"","id":"cadb9209-f3d0-4dd6-ac74-e1109ee42f23","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-26T11:51:29.611967Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.023833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cadb9209-f3d0-4dd6-ac74-e1109ee42f23","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-26T11:51:29.938525Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"cadb9209-f3d0-4dd6-ac74-e1109ee42f23","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-26T11:51:29.938525Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.11525ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b
        method: GET
      response:
        body: '{"created_at":"2025-05-26T11:51:29.938525Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"cadb9209-f3d0-4dd6-ac74-e1109ee42f23","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-26T11:51:29.938525Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.085125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.463667ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b/versions
        method: POST
      response:
        body: '{"created_at":"2025-05-26T11:51:30.373052Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","status":"enabled","updated_at":"2025-05-26T11:51:30.373052Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.247625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-05-26T11:51:30.373052Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","status":"enabled","updated_at":"2025-05-26T11:51:30.373052Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.845458ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=cadb9209-f3d0-4dd6-ac74-e1109ee42f23&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-05-26T11:51:29.938525Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"cadb9209-f3d0-4dd6-ac74-e1109ee42f23","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-26T11:51:29.938525Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.476667ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.086459ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.483791ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"b10dc8ce-2c3f-4b43-9ff4-d6e43f60a36b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.591416ms
[...]
