---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-05T16:22:44.653237Z","description":"","id":"e97f2a63-73ab-4da3-9c85-3a0291681d1d","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-05T16:22:44.653237Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 738.424541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e97f2a63-73ab-4da3-9c85-3a0291681d1d
        method: GET
      response:
        body: '{"created_at":"2025-09-05T16:22:44.653237Z","description":"","id":"e97f2a63-73ab-4da3-9c85-3a0291681d1d","name":"tf-tests-secret-version-ds-by-name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-05T16:22:44.653237Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.241792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"e97f2a63-73ab-4da3-9c85-3a0291681d1d","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-09-05T16:22:45.393736Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"e97f2a63-73ab-4da3-9c85-3a0291681d1d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-09-05T16:22:45.393736Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.361542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a
        method: GET
      response:
        body: '{"created_at":"2025-09-05T16:22:45.393736Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"e97f2a63-73ab-4da3-9c85-3a0291681d1d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-09-05T16:22:45.393736Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.88525ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.249ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a/versions
        method: POST
      response:
        body: '{"created_at":"2025-09-05T16:22:46.106505Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","status":"enabled","updated_at":"2025-09-05T16:22:46.106505Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.106ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-09-05T16:22:46.106505Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","status":"enabled","updated_at":"2025-09-05T16:22:46.106505Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.146ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=e97f2a63-73ab-4da3-9c85-3a0291681d1d&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-09-05T16:22:45.393736Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"e97f2a63-73ab-4da3-9c85-3a0291681d1d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-09-05T16:22:45.393736Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.240625ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.85175ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.7175ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"6c4ebbaf-2fde-4a3f-adbb-40c01d4c8c4a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 159.852542ms
[...]
