---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-ds-path\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"a862414d-efc5-4482-ab9d-3662549f0cb1\",\"name\":\"tf-tests-secret-ds-path\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:18.632497Z\",\"updated_at\":\"2025-09-01T14:59:18.632497Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 399.589177ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/a862414d-efc5-4482-ab9d-3662549f0cb1
    method: GET
  response:
    body: "{\"id\":\"a862414d-efc5-4482-ab9d-3662549f0cb1\",\"name\":\"tf-tests-secret-ds-path\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T14:59:18.632497Z\",\"updated_at\":\"2025-09-01T14:59:18.632497Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 227.179719ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"a862414d-efc5-4482-ab9d-3662549f0cb1\",\"name\":\"test-secret-ds-path\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/test-secret-ds-path-path\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"da22e850-d8ee-47d2-a04e-9d8574f7978e\",\"project_id\":\"a862414d-efc5-4482-ab9d-3662549f0cb1\",\"name\":\"test-secret-ds-path\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:19.250630Z\",\"updated_at\":\"2025-09-01T14:59:19.250630Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/test-secret-ds-path-path\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 235.956839ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/da22e850-d8ee-47d2-a04e-9d8574f7978e
    method: GET
  response:
    body: "{\"id\":\"da22e850-d8ee-47d2-a04e-9d8574f7978e\",\"project_id\":\"a862414d-efc5-4482-ab9d-3662549f0cb1\",\"name\":\"test-secret-ds-path\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:19.250630Z\",\"updated_at\":\"2025-09-01T14:59:19.250630Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/test-secret-ds-path-path\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.660517ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/da22e850-d8ee-47d2-a04e-9d8574f7978e/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.884878ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - test-secret-ds-path
      order_by:
      - name_asc
      path:
      - /test-secret-ds-path-path
      project_id:
      - a862414d-efc5-4482-ab9d-3662549f0cb1
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=a862414d-efc5-4482-ab9d-3662549f0cb1&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"da22e850-d8ee-47d2-a04e-9d8574f7978e\",\"project_id\":\"a862414d-efc5-4482-ab9d-3662549f0cb1\",\"name\":\"test-secret-ds-path\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:19.250630Z\",\"updated_at\":\"2025-09-01T14:59:19.250630Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/test-secret-ds-path-path\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.101282ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/da22e850-d8ee-47d2-a04e-9d8574f7978e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"secret\",\"resource_id\":\"da22e850-d8ee-47d2-a04e-9d8574f7978e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 153.422105ms
[...]
