---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"5f38f538-d563-4c2d-be8c-e96896e96aa6\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionByNameSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.665488Z\", \"updated_at\":\"2025-11-28T16:25:07.665488Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 336.41764ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5f38f538-d563-4c2d-be8c-e96896e96aa6
    method: GET
  response:
    body: "{\"id\":\"5f38f538-d563-4c2d-be8c-e96896e96aa6\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionByNameSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.665488Z\", \"updated_at\":\"2025-11-28T16:25:07.665488Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 132.296208ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5f38f538-d563-4c2d-be8c-e96896e96aa6/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.560217ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5f38f538-d563-4c2d-be8c-e96896e96aa6/versions
    method: POST
  response:
    body: "{\"revision\":1, \"secret_id\":\"5f38f538-d563-4c2d-be8c-e96896e96aa6\", \"status\":\"enabled\", \"created_at\":\"2025-11-28T16:25:08.581924Z\", \"updated_at\":\"2025-11-28T16:25:08.581924Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 642.454446ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5f38f538-d563-4c2d-be8c-e96896e96aa6/versions/1
    method: GET
  response:
    body: "{\"revision\":1, \"secret_id\":\"5f38f538-d563-4c2d-be8c-e96896e96aa6\", \"status\":\"enabled\", \"created_at\":\"2025-11-28T16:25:08.581924Z\", \"updated_at\":\"2025-11-28T16:25:08.581924Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 52.710027ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    form:
      name:
      - dataSourceSecretVersionByNameSecret
      order_by:
      - name_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"5f38f538-d563-4c2d-be8c-e96896e96aa6\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"dataSourceSecretVersionByNameSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.665488Z\", \"updated_at\":\"2025-11-28T16:25:07.665488Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":1, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 81.389833ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5f38f538-d563-4c2d-be8c-e96896e96aa6/versions/1/access
    method: GET
  response:
    body: "{\"secret_id\":\"5f38f538-d563-4c2d-be8c-e96896e96aa6\", \"revision\":1, \"data\":\"bXlfc3VwZXJfc2VjcmV0\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.958893ms
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5f38f538-d563-4c2d-be8c-e96896e96aa6/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"5f38f538-d563-4c2d-be8c-e96896e96aa6\", \"revision\":1, \"data\":\"bXlfc3VwZXJfc2VjcmV0\", \"data_crc32\":null, \"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 172.794522ms
[...]
