---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-ds-path\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"6ff994d8-ba27-4876-8c95-b2d3eb939fb9\", \"name\":\"tf-tests-secret-ds-path\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:47.311283Z\", \"updated_at\":\"2025-11-20T14:19:47.311283Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 690.88333ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/6ff994d8-ba27-4876-8c95-b2d3eb939fb9
    method: GET
  response:
    body: "{\"id\":\"6ff994d8-ba27-4876-8c95-b2d3eb939fb9\", \"name\":\"tf-tests-secret-ds-path\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T14:19:47.311283Z\", \"updated_at\":\"2025-11-20T14:19:47.311283Z\", \"description\":\"\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 341.705902ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"6ff994d8-ba27-4876-8c95-b2d3eb939fb9\",\"name\":\"test-secret-ds-path\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/test-secret-ds-path-path\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"f2d5235c-37b3-40c3-81ab-ab599a290e36\", \"project_id\":\"6ff994d8-ba27-4876-8c95-b2d3eb939fb9\", \"name\":\"test-secret-ds-path\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:48.321684Z\", \"updated_at\":\"2025-11-20T14:19:48.321684Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/test-secret-ds-path-path\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 362.687194ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f2d5235c-37b3-40c3-81ab-ab599a290e36
    method: GET
  response:
    body: "{\"id\":\"f2d5235c-37b3-40c3-81ab-ab599a290e36\", \"project_id\":\"6ff994d8-ba27-4876-8c95-b2d3eb939fb9\", \"name\":\"test-secret-ds-path\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:48.321684Z\", \"updated_at\":\"2025-11-20T14:19:48.321684Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/test-secret-ds-path-path\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 602.139971ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f2d5235c-37b3-40c3-81ab-ab599a290e36/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 143.217918ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - test-secret-ds-path
      order_by:
      - name_asc
      path:
      - /test-secret-ds-path-path
      project_id:
      - 6ff994d8-ba27-4876-8c95-b2d3eb939fb9
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=6ff994d8-ba27-4876-8c95-b2d3eb939fb9&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"f2d5235c-37b3-40c3-81ab-ab599a290e36\", \"project_id\":\"6ff994d8-ba27-4876-8c95-b2d3eb939fb9\", \"name\":\"test-secret-ds-path\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:48.321684Z\", \"updated_at\":\"2025-11-20T14:19:48.321684Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/test-secret-ds-path-path\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 488.184909ms
[...]
