---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T09:25:29.036631Z","description":"","id":"eda9e780-fb86-40e9-9ee0-e02773414f4d","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-13T09:25:29.036631Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.135278ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/eda9e780-fb86-40e9-9ee0-e02773414f4d
        method: GET
      response:
        body: '{"created_at":"2024-08-13T09:25:29.036631Z","description":"","id":"eda9e780-fb86-40e9-9ee0-e02773414f4d","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-13T09:25:29.036631Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.038502ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"eda9e780-fb86-40e9-9ee0-e02773414f4d","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"unknown_type","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-13T09:25:29.426209Z","description":"secret description","ephemeral_policy":null,"id":"3a608c51-2949-41e3-beda-c6e6d30170ac","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"eda9e780-fb86-40e9-9ee0-e02773414f4d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-13T09:25:29.426209Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.441339ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3a608c51-2949-41e3-beda-c6e6d30170ac
        method: GET
      response:
        body: '{"created_at":"2024-08-13T09:25:29.426209Z","description":"secret description","ephemeral_policy":null,"id":"3a608c51-2949-41e3-beda-c6e6d30170ac","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"eda9e780-fb86-40e9-9ee0-e02773414f4d","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-13T09:25:29.426209Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.922828ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3a608c51-2949-41e3-beda-c6e6d30170ac/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-13T09:25:29.635150Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"3a608c51-2949-41e3-beda-c6e6d30170ac","status":"enabled","updated_at":"2024-08-13T09:25:29.635150Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.06362ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3a608c51-2949-41e3-beda-c6e6d30170ac/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-13T09:25:29.635150Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"3a608c51-2949-41e3-beda-c6e6d30170ac","status":"enabled","updated_at":"2024-08-13T09:25:29.635150Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.715373ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3a608c51-2949-41e3-beda-c6e6d30170ac/versions/2/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"3a608c51-2949-41e3-beda-c6e6d30170ac","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.513213ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3a608c51-2949-41e3-beda-c6e6d30170ac/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"3a608c51-2949-41e3-beda-c6e6d30170ac","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.105698ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3a608c51-2949-41e3-beda-c6e6d30170ac/versions/2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"3a608c51-2949-41e3-beda-c6e6d30170ac","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.490479ms
[...]
