---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:21:50.073105Z","description":"","id":"0e9acbcd-03db-4fe2-8f13-cc5f533ef51e","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-20T12:21:50.073105Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.019832ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0e9acbcd-03db-4fe2-8f13-cc5f533ef51e
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:21:50.073105Z","description":"","id":"0e9acbcd-03db-4fe2-8f13-cc5f533ef51e","name":"tf-tests-secret-version-ds-by-name","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2024-08-20T12:21:50.073105Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.886897ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"0e9acbcd-03db-4fe2-8f13-cc5f533ef51e","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:21:50.466745Z","description":"secret description","ephemeral_policy":null,"id":"acdca8c7-1e38-4307-b0ec-a048df9356eb","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"0e9acbcd-03db-4fe2-8f13-cc5f533ef51e","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-20T12:21:50.466745Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.937814ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acdca8c7-1e38-4307-b0ec-a048df9356eb
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:21:50.466745Z","description":"secret description","ephemeral_policy":null,"id":"acdca8c7-1e38-4307-b0ec-a048df9356eb","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"0e9acbcd-03db-4fe2-8f13-cc5f533ef51e","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-20T12:21:50.466745Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.005926ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acdca8c7-1e38-4307-b0ec-a048df9356eb/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-20T12:21:50.676267Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"acdca8c7-1e38-4307-b0ec-a048df9356eb","status":"enabled","updated_at":"2024-08-20T12:21:50.676267Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.781987ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acdca8c7-1e38-4307-b0ec-a048df9356eb/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-20T12:21:50.676267Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"acdca8c7-1e38-4307-b0ec-a048df9356eb","status":"enabled","updated_at":"2024-08-20T12:21:50.676267Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.667979ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acdca8c7-1e38-4307-b0ec-a048df9356eb/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"acdca8c7-1e38-4307-b0ec-a048df9356eb","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.8128ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acdca8c7-1e38-4307-b0ec-a048df9356eb/versions/2/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"revision":2,"secret_id":"acdca8c7-1e38-4307-b0ec-a048df9356eb","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.588636ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/acdca8c7-1e38-4307-b0ec-a048df9356eb/versions/2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"acdca8c7-1e38-4307-b0ec-a048df9356eb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.404788ms
[...]
