---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:23:46.006377Z","description":"","id":"4302c0b0-f3e2-41c5-bc25-600d8e4ce76f","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-22T15:23:46.006377Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.721541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/4302c0b0-f3e2-41c5-bc25-600d8e4ce76f
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:23:46.006377Z","description":"","id":"4302c0b0-f3e2-41c5-bc25-600d8e4ce76f","name":"tf-tests-secret-version-ds-by-name","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-22T15:23:46.006377Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.049792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"4302c0b0-f3e2-41c5-bc25-600d8e4ce76f","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:23:46.279562Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"4302c0b0-f3e2-41c5-bc25-600d8e4ce76f","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-22T15:23:46.279562Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.6985ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b1282b2a-0d1b-417f-bc86-a59a55ab3b68
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:23:46.279562Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"4302c0b0-f3e2-41c5-bc25-600d8e4ce76f","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-22T15:23:46.279562Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.375292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b1282b2a-0d1b-417f-bc86-a59a55ab3b68/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.099833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b1282b2a-0d1b-417f-bc86-a59a55ab3b68/versions
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:23:46.661078Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","status":"enabled","updated_at":"2025-05-22T15:23:46.661078Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 297.68325ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b1282b2a-0d1b-417f-bc86-a59a55ab3b68/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:23:46.661078Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","status":"enabled","updated_at":"2025-05-22T15:23:46.661078Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.008833ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=4302c0b0-f3e2-41c5-bc25-600d8e4ce76f&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"created_at":"2025-05-22T15:23:46.279562Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","key_id":null,"managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"4302c0b0-f3e2-41c5-bc25-600d8e4ce76f","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-05-22T15:23:46.279562Z","used_by":[],"version_count":1}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.65575ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b1282b2a-0d1b-417f-bc86-a59a55ab3b68/versions/latest/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.619333ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b1282b2a-0d1b-417f-bc86-a59a55ab3b68/versions/1/access
        method: GET
      response:
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.81525ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b1282b2a-0d1b-417f-bc86-a59a55ab3b68/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"b1282b2a-0d1b-417f-bc86-a59a55ab3b68","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.038ms
[...]
