---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"c36f3280-ed33-4a64-a169-082f42094d85\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:15:34.520089Z\",\"updated_at\":\"2025-09-23T10:15:34.520089Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.195212414s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/c36f3280-ed33-4a64-a169-082f42094d85
    method: GET
  response:
    body: "{\"id\":\"c36f3280-ed33-4a64-a169-082f42094d85\",\"name\":\"tf-tests-secret-version-ds-by-name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:15:34.520089Z\",\"updated_at\":\"2025-09-23T10:15:34.520089Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 379.790575ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"c36f3280-ed33-4a64-a169-082f42094d85\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"project_id\":\"c36f3280-ed33-4a64-a169-082f42094d85\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:15:36.000750Z\",\"updated_at\":\"2025-09-23T10:15:36.000750Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 697.485067ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c
    method: GET
  response:
    body: "{\"id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"project_id\":\"c36f3280-ed33-4a64-a169-082f42094d85\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:15:36.000750Z\",\"updated_at\":\"2025-09-23T10:15:36.000750Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.373116ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 712.411081ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"status\":\"enabled\",\"created_at\":\"2025-09-23T10:15:37.843468Z\",\"updated_at\":\"2025-09-23T10:15:37.843468Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 908.306345ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"status\":\"enabled\",\"created_at\":\"2025-09-23T10:15:37.843468Z\",\"updated_at\":\"2025-09-23T10:15:37.843468Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 205.62118ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      name:
      - dataSourceSecretVersionByNameSecret
      order_by:
      - name_asc
      project_id:
      - c36f3280-ed33-4a64-a169-082f42094d85
      scheduled_for_deletion:
      - "false"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&project_id=c36f3280-ed33-4a64-a169-082f42094d85&scheduled_for_deletion=false&type=unknown_type
    method: GET
  response:
    body: "{\"secrets\":[{\"id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"project_id\":\"c36f3280-ed33-4a64-a169-082f42094d85\",\"name\":\"dataSourceSecretVersionByNameSecret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:15:36.000750Z\",\"updated_at\":\"2025-09-23T10:15:36.000750Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":1,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 729.875525ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c/versions/latest/access
    method: GET
  response:
    body: "{\"secret_id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"revision\":1,\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 612.307623ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c/versions/1/access
    method: GET
  response:
    body: "{\"secret_id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"revision\":1,\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"data_crc32\":null,\"type\":\"opaque\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 612.338711ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"secret\",\"resource_id\":\"4ddc26e9-c4fe-48d0-bf1d-a3643643ae1c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 194.151297ms
[...]
