---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-ds-path","tags":null,"type":"opaque","path":"/test-secret-ds-path-path","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"01ca9f22-bd84-4e0b-9b50-fcf7af33e3db", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-ds-path", "status":"ready", "created_at":"2026-08-26T12:21:43.173997Z", "updated_at":"2026-08-26T12:21:43.173997Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/test-secret-ds-path-path", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.583078ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.76928ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01ca9f22-bd84-4e0b-9b50-fcf7af33e3db
        method: GET
      response:
        body: '{"id":"01ca9f22-bd84-4e0b-9b50-fcf7af33e3db", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-ds-path", "status":"ready", "created_at":"2026-08-26T12:21:43.173997Z", "updated_at":"2026-08-26T12:21:43.173997Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/test-secret-ds-path-path", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.711933ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01ca9f22-bd84-4e0b-9b50-fcf7af33e3db/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.663895ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - test-secret-ds-path
            order_by:
                - name_asc
            path:
                - /test-secret-ds-path-path
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"01ca9f22-bd84-4e0b-9b50-fcf7af33e3db", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-ds-path", "status":"ready", "created_at":"2026-08-26T12:21:43.173997Z", "updated_at":"2026-08-26T12:21:43.173997Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/test-secret-ds-path-path", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.879763ms
[...]
