---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"9c8b93e9-ea1d-441e-a7fc-7376cdb29a09","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-06-04T09:49:12.350327Z","updated_at":"2026-06-04T09:49:12.350327Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.449598ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9c8b93e9-ea1d-441e-a7fc-7376cdb29a09
        method: GET
      response:
        body: '{"id":"9c8b93e9-ea1d-441e-a7fc-7376cdb29a09","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-06-04T09:49:12.350327Z","updated_at":"2026-06-04T09:49:12.350327Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.100036ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9c8b93e9-ea1d-441e-a7fc-7376cdb29a09/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.136861ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9c8b93e9-ea1d-441e-a7fc-7376cdb29a09/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"9c8b93e9-ea1d-441e-a7fc-7376cdb29a09","status":"enabled","created_at":"2026-06-04T09:49:12.913912Z","updated_at":"2026-06-04T09:49:12.913912Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.216054ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9c8b93e9-ea1d-441e-a7fc-7376cdb29a09/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"9c8b93e9-ea1d-441e-a7fc-7376cdb29a09","status":"enabled","created_at":"2026-06-04T09:49:12.913912Z","updated_at":"2026-06-04T09:49:12.913912Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.679955ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            name:
                - dsSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dsSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"9c8b93e9-ea1d-441e-a7fc-7376cdb29a09","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dsSecretVersionByNameSecret","status":"ready","created_at":"2026-06-04T09:49:12.350327Z","updated_at":"2026-06-04T09:49:12.350327Z","tags":["devtools","provider","terraform"],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.958719ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9c8b93e9-ea1d-441e-a7fc-7376cdb29a09/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"9c8b93e9-ea1d-441e-a7fc-7376cdb29a09","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.104772ms
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9c8b93e9-ea1d-441e-a7fc-7376cdb29a09/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"9c8b93e9-ea1d-441e-a7fc-7376cdb29a09","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.126108ms
[...]
