---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"ephemeralSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"986fbf50-ae44-4c88-b5af-79a80a0c1fa8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"ephemeralSecretVersionBasic", "status":"ready", "created_at":"2026-02-03T16:00:54.600551Z", "updated_at":"2026-02-03T16:00:54.600551Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.850874ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/986fbf50-ae44-4c88-b5af-79a80a0c1fa8
        method: GET
      response:
        body: '{"id":"986fbf50-ae44-4c88-b5af-79a80a0c1fa8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"ephemeralSecretVersionBasic", "status":"ready", "created_at":"2026-02-03T16:00:54.600551Z", "updated_at":"2026-02-03T16:00:54.600551Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.265651ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/986fbf50-ae44-4c88-b5af-79a80a0c1fa8/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.161066ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/986fbf50-ae44-4c88-b5af-79a80a0c1fa8/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"986fbf50-ae44-4c88-b5af-79a80a0c1fa8", "status":"enabled", "created_at":"2026-02-03T16:00:55.221005Z", "updated_at":"2026-02-03T16:00:55.221005Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 427.697545ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/986fbf50-ae44-4c88-b5af-79a80a0c1fa8/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"986fbf50-ae44-4c88-b5af-79a80a0c1fa8", "status":"enabled", "created_at":"2026-02-03T16:00:55.221005Z", "updated_at":"2026-02-03T16:00:55.221005Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.072315ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/986fbf50-ae44-4c88-b5af-79a80a0c1fa8/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"986fbf50-ae44-4c88-b5af-79a80a0c1fa8", "revision":1, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.362722ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/986fbf50-ae44-4c88-b5af-79a80a0c1fa8/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"986fbf50-ae44-4c88-b5af-79a80a0c1fa8", "revision":3, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.727712ms
[...]
