---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"4c297717-08df-4d9e-9928-981580c9779e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","status":"ready","created_at":"2026-02-02T11:21:46.680254Z","updated_at":"2026-02-02T11:21:46.680254Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.301665ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c297717-08df-4d9e-9928-981580c9779e
        method: GET
      response:
        body: '{"id":"4c297717-08df-4d9e-9928-981580c9779e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","status":"ready","created_at":"2026-02-02T11:21:46.680254Z","updated_at":"2026-02-02T11:21:46.680254Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.666969ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c297717-08df-4d9e-9928-981580c9779e/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.50611ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c297717-08df-4d9e-9928-981580c9779e/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"4c297717-08df-4d9e-9928-981580c9779e","status":"enabled","created_at":"2026-02-02T11:21:47.299987Z","updated_at":"2026-02-02T11:21:47.299987Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 423.603559ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c297717-08df-4d9e-9928-981580c9779e/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"4c297717-08df-4d9e-9928-981580c9779e","status":"enabled","created_at":"2026-02-02T11:21:47.299987Z","updated_at":"2026-02-02T11:21:47.299987Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.423206ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - erSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=erSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"4c297717-08df-4d9e-9928-981580c9779e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","status":"ready","created_at":"2026-02-02T11:21:46.680254Z","updated_at":"2026-02-02T11:21:46.680254Z","tags":["devtools","provider","terraform"],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.511286ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c297717-08df-4d9e-9928-981580c9779e/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"4c297717-08df-4d9e-9928-981580c9779e","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.788304ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c297717-08df-4d9e-9928-981580c9779e/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"4c297717-08df-4d9e-9928-981580c9779e","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.807547ms
[...]
