---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"5da358e6-5214-4b7c-95ae-7ceae22a7da4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"erSecretVersionByNameSecret", "status":"ready", "created_at":"2026-02-03T16:01:39.879166Z", "updated_at":"2026-02-03T16:01:39.879166Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.298332ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5da358e6-5214-4b7c-95ae-7ceae22a7da4
        method: GET
      response:
        body: '{"id":"5da358e6-5214-4b7c-95ae-7ceae22a7da4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"erSecretVersionByNameSecret", "status":"ready", "created_at":"2026-02-03T16:01:39.879166Z", "updated_at":"2026-02-03T16:01:39.879166Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.430417ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5da358e6-5214-4b7c-95ae-7ceae22a7da4/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.169555ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5da358e6-5214-4b7c-95ae-7ceae22a7da4/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"5da358e6-5214-4b7c-95ae-7ceae22a7da4", "status":"enabled", "created_at":"2026-02-03T16:01:40.502261Z", "updated_at":"2026-02-03T16:01:40.502261Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.764824ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5da358e6-5214-4b7c-95ae-7ceae22a7da4/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"5da358e6-5214-4b7c-95ae-7ceae22a7da4", "status":"enabled", "created_at":"2026-02-03T16:01:40.502261Z", "updated_at":"2026-02-03T16:01:40.502261Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.68615ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - erSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=erSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"5da358e6-5214-4b7c-95ae-7ceae22a7da4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"erSecretVersionByNameSecret", "status":"ready", "created_at":"2026-02-03T16:01:39.879166Z", "updated_at":"2026-02-03T16:01:39.879166Z", "tags":["devtools", "provider", "terraform"], "version_count":1, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.16698ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5da358e6-5214-4b7c-95ae-7ceae22a7da4/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"5da358e6-5214-4b7c-95ae-7ceae22a7da4", "revision":1, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.051991ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5da358e6-5214-4b7c-95ae-7ceae22a7da4/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"5da358e6-5214-4b7c-95ae-7ceae22a7da4", "revision":1, "data":"bXlfc3VwZXJfc2VjcmV0X3Yx", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.955599ms
[...]
