---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"ephemeralSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"c393aa9c-26fc-4726-af24-e17eb380fea4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"ephemeralSecretVersionBasic","status":"ready","created_at":"2026-07-03T15:28:04.247068Z","updated_at":"2026-07-03T15:28:04.247068Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.713329ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c393aa9c-26fc-4726-af24-e17eb380fea4
        method: GET
      response:
        body: '{"id":"c393aa9c-26fc-4726-af24-e17eb380fea4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"ephemeralSecretVersionBasic","status":"ready","created_at":"2026-07-03T15:28:04.247068Z","updated_at":"2026-07-03T15:28:04.247068Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.147473ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c393aa9c-26fc-4726-af24-e17eb380fea4/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.749222ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c393aa9c-26fc-4726-af24-e17eb380fea4/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"c393aa9c-26fc-4726-af24-e17eb380fea4","status":"enabled","created_at":"2026-07-03T15:28:04.634400Z","updated_at":"2026-07-03T15:28:04.634400Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.616793ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c393aa9c-26fc-4726-af24-e17eb380fea4/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"c393aa9c-26fc-4726-af24-e17eb380fea4","status":"enabled","created_at":"2026-07-03T15:28:04.634400Z","updated_at":"2026-07-03T15:28:04.634400Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.222405ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c393aa9c-26fc-4726-af24-e17eb380fea4/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"c393aa9c-26fc-4726-af24-e17eb380fea4","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.650668ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c393aa9c-26fc-4726-af24-e17eb380fea4/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"c393aa9c-26fc-4726-af24-e17eb380fea4","revision":2,"data":"bXlfc3VwZXJfc2VjcmV0X3Yy","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.797666ms
[...]
