---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"ephemeralSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"abfceae7-054e-4d8c-bdad-9cf8ca80086c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"ephemeralSecretVersionBasic","status":"ready","created_at":"2026-02-02T11:21:46.713010Z","updated_at":"2026-02-02T11:21:46.713010Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.183093ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/abfceae7-054e-4d8c-bdad-9cf8ca80086c
        method: GET
      response:
        body: '{"id":"abfceae7-054e-4d8c-bdad-9cf8ca80086c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"ephemeralSecretVersionBasic","status":"ready","created_at":"2026-02-02T11:21:46.713010Z","updated_at":"2026-02-02T11:21:46.713010Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.712019ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/abfceae7-054e-4d8c-bdad-9cf8ca80086c/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.500454ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/abfceae7-054e-4d8c-bdad-9cf8ca80086c/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"abfceae7-054e-4d8c-bdad-9cf8ca80086c","status":"enabled","created_at":"2026-02-02T11:21:47.481561Z","updated_at":"2026-02-02T11:21:47.481561Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 612.060549ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/abfceae7-054e-4d8c-bdad-9cf8ca80086c/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"abfceae7-054e-4d8c-bdad-9cf8ca80086c","status":"enabled","created_at":"2026-02-02T11:21:47.481561Z","updated_at":"2026-02-02T11:21:47.481561Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.885619ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/abfceae7-054e-4d8c-bdad-9cf8ca80086c/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"abfceae7-054e-4d8c-bdad-9cf8ca80086c","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.455537ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/abfceae7-054e-4d8c-bdad-9cf8ca80086c/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"abfceae7-054e-4d8c-bdad-9cf8ca80086c","revision":3,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.085017ms
[...]
