---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"caedd6aa-562d-40dd-a2d7-3273a1e0beee","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","status":"ready","created_at":"2026-07-03T15:28:00.703451Z","updated_at":"2026-07-03T15:28:00.703451Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.771815ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/caedd6aa-562d-40dd-a2d7-3273a1e0beee
        method: GET
      response:
        body: '{"id":"caedd6aa-562d-40dd-a2d7-3273a1e0beee","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","status":"ready","created_at":"2026-07-03T15:28:00.703451Z","updated_at":"2026-07-03T15:28:00.703451Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.625501ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/caedd6aa-562d-40dd-a2d7-3273a1e0beee/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.835224ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/caedd6aa-562d-40dd-a2d7-3273a1e0beee/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"caedd6aa-562d-40dd-a2d7-3273a1e0beee","status":"enabled","created_at":"2026-07-03T15:28:01.105720Z","updated_at":"2026-07-03T15:28:01.105720Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.12208ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/caedd6aa-562d-40dd-a2d7-3273a1e0beee/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"caedd6aa-562d-40dd-a2d7-3273a1e0beee","status":"enabled","created_at":"2026-07-03T15:28:01.105720Z","updated_at":"2026-07-03T15:28:01.105720Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.793883ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - erSecretVersionByNameSecret
            order_by:
                - name_asc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=erSecretVersionByNameSecret&order_by=name_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"caedd6aa-562d-40dd-a2d7-3273a1e0beee","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"erSecretVersionByNameSecret","status":"ready","created_at":"2026-07-03T15:28:00.703451Z","updated_at":"2026-07-03T15:28:00.703451Z","tags":["devtools","provider","terraform"],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.506175ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/caedd6aa-562d-40dd-a2d7-3273a1e0beee/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"caedd6aa-562d-40dd-a2d7-3273a1e0beee","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.919968ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/caedd6aa-562d-40dd-a2d7-3273a1e0beee/versions/latest/access
        method: GET
      response:
        body: '{"secret_id":"caedd6aa-562d-40dd-a2d7-3273a1e0beee","revision":1,"data":"bXlfc3VwZXJfc2VjcmV0X3Yx","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.922602ms
[...]
