---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"695f8a21-f14a-4506-8103-7d37eef09227","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","status":"ready","created_at":"2026-07-03T15:27:57.376047Z","updated_at":"2026-07-03T15:27:57.376047Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.089616688s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/695f8a21-f14a-4506-8103-7d37eef09227
        method: GET
      response:
        body: '{"id":"695f8a21-f14a-4506-8103-7d37eef09227","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","status":"ready","created_at":"2026-07-03T15:27:57.376047Z","updated_at":"2026-07-03T15:27:57.376047Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.785503ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/695f8a21-f14a-4506-8103-7d37eef09227/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.458507ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/695f8a21-f14a-4506-8103-7d37eef09227/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"695f8a21-f14a-4506-8103-7d37eef09227","status":"enabled","created_at":"2026-07-03T15:27:58.780042Z","updated_at":"2026-07-03T15:27:58.780042Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.909264ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/695f8a21-f14a-4506-8103-7d37eef09227/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"695f8a21-f14a-4506-8103-7d37eef09227","status":"enabled","created_at":"2026-07-03T15:27:58.780042Z","updated_at":"2026-07-03T15:27:58.780042Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.63346ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"40cb655e-0b83-4cba-8de5-ed05b59bbf6e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"connection_08d6273a-c2b5-46e5-b354-3fe4c0479914","status":"ready","created_at":"2026-06-16T03:39:38.598272Z","updated_at":"2026-06-16T03:39:38.598272Z","tags":["S2S VPN"],"version_count":1,"description":"Generated by Scaleway","managed":false,"type":"opaque","protected":true,"path":"/s2s_vpn","ephemeral_policy":null,"used_by":["s2s_vpn"],"deletion_requested_at":null,"key_id":null,"region":"f[...]
[...]
