---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"52dc4a5f-ff68-4364-b68e-dfe50597bd76","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","status":"ready","created_at":"2026-06-03T15:58:40.084813Z","updated_at":"2026-06-03T15:58:40.084813Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.530007ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52dc4a5f-ff68-4364-b68e-dfe50597bd76
        method: GET
      response:
        body: '{"id":"52dc4a5f-ff68-4364-b68e-dfe50597bd76","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","status":"ready","created_at":"2026-06-03T15:58:40.084813Z","updated_at":"2026-06-03T15:58:40.084813Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.794182ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52dc4a5f-ff68-4364-b68e-dfe50597bd76/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.553892ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52dc4a5f-ff68-4364-b68e-dfe50597bd76/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"52dc4a5f-ff68-4364-b68e-dfe50597bd76","status":"enabled","created_at":"2026-06-03T15:58:40.644007Z","updated_at":"2026-06-03T15:58:40.644007Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.277431ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52dc4a5f-ff68-4364-b68e-dfe50597bd76/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"52dc4a5f-ff68-4364-b68e-dfe50597bd76","status":"enabled","created_at":"2026-06-03T15:58:40.644007Z","updated_at":"2026-06-03T15:58:40.644007Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.853631ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"314fc9e0-d052-423a-9772-0594a6b8ab51","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","status":"ready","created_at":"2026-06-03T15:58:40.143397Z","updated_at":"2026-06-03T15:58:40.143397Z","tags":[],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"},{"id":"e204c6c5-70a7-4edb-8200-da6e5350c337","project_id":"105bdc[...]
[...]
