---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-tag-1","tags":["production"],"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"ad9431f0-d273-4f64-803b-d33eb8d5e810","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-tag-1","status":"ready","created_at":"2026-05-28T14:24:38.248650Z","updated_at":"2026-05-28T14:24:38.248650Z","tags":["production"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.378439ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad9431f0-d273-4f64-803b-d33eb8d5e810
        method: GET
      response:
        body: '{"id":"ad9431f0-d273-4f64-803b-d33eb8d5e810","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-tag-1","status":"ready","created_at":"2026-05-28T14:24:38.248650Z","updated_at":"2026-05-28T14:24:38.248650Z","tags":["production"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.306874ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad9431f0-d273-4f64-803b-d33eb8d5e810/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.780969ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            tags:
                - production
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&tags=production&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"ad9431f0-d273-4f64-803b-d33eb8d5e810","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-tag-1","status":"ready","created_at":"2026-05-28T14:24:38.248650Z","updated_at":"2026-05-28T14:24:38.248650Z","tags":["production"],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.584276ms
[...]
