---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-list-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"de2a02cf-256a-4d44-b890-0e092416e7be","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-list-1","status":"ready","created_at":"2026-05-28T14:24:38.201207Z","updated_at":"2026-05-28T14:24:38.201207Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.413724ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de2a02cf-256a-4d44-b890-0e092416e7be
        method: GET
      response:
        body: '{"id":"de2a02cf-256a-4d44-b890-0e092416e7be","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-list-1","status":"ready","created_at":"2026-05-28T14:24:38.201207Z","updated_at":"2026-05-28T14:24:38.201207Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.041909ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de2a02cf-256a-4d44-b890-0e092416e7be/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.110307ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"44520e31-5af9-42c1-898d-1af0ead2c7fc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-filter-1","status":"ready","created_at":"2026-05-28T14:24:38.225637Z","updated_at":"2026-05-28T14:24:38.225637Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"},{"id":"bb5865be-6a39-4d37-9e24-234d0c62b04f","project_id":"105bd[...]
[...]
