---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"2c4667fd-76d8-4205-b60b-efc0cd3ce15f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","status":"ready","created_at":"2026-06-04T09:49:33.744869Z","updated_at":"2026-06-04T09:49:33.744869Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.664332ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2c4667fd-76d8-4205-b60b-efc0cd3ce15f
        method: GET
      response:
        body: '{"id":"2c4667fd-76d8-4205-b60b-efc0cd3ce15f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","status":"ready","created_at":"2026-06-04T09:49:33.744869Z","updated_at":"2026-06-04T09:49:33.744869Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.096458ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2c4667fd-76d8-4205-b60b-efc0cd3ce15f/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.474885ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2c4667fd-76d8-4205-b60b-efc0cd3ce15f/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"2c4667fd-76d8-4205-b60b-efc0cd3ce15f","status":"enabled","created_at":"2026-06-04T09:49:34.091013Z","updated_at":"2026-06-04T09:49:34.091013Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.895466ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2c4667fd-76d8-4205-b60b-efc0cd3ce15f/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"2c4667fd-76d8-4205-b60b-efc0cd3ce15f","status":"enabled","created_at":"2026-06-04T09:49:34.091013Z","updated_at":"2026-06-04T09:49:34.091013Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.282981ms
[...]
