---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"1f6a5be7-2da1-4c1b-9ede-d90672cf090c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-06-04T09:49:33.773787Z","updated_at":"2026-06-04T09:49:33.773787Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.032483ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1f6a5be7-2da1-4c1b-9ede-d90672cf090c
        method: GET
      response:
        body: '{"id":"1f6a5be7-2da1-4c1b-9ede-d90672cf090c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-06-04T09:49:33.773787Z","updated_at":"2026-06-04T09:49:33.773787Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.519996ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1f6a5be7-2da1-4c1b-9ede-d90672cf090c/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.047251ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1f6a5be7-2da1-4c1b-9ede-d90672cf090c/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"1f6a5be7-2da1-4c1b-9ede-d90672cf090c","status":"enabled","created_at":"2026-06-04T09:49:34.337977Z","updated_at":"2026-06-04T09:49:34.337977Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 459.208765ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1f6a5be7-2da1-4c1b-9ede-d90672cf090c/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"1f6a5be7-2da1-4c1b-9ede-d90672cf090c","status":"enabled","created_at":"2026-06-04T09:49:34.337977Z","updated_at":"2026-06-04T09:49:34.337977Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.801491ms
[...]
