---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"e925901c-d2b8-49e7-aa1e-a19ca8712d29","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-06-03T15:58:40.109381Z","updated_at":"2026-06-03T15:58:40.109381Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.875866ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e925901c-d2b8-49e7-aa1e-a19ca8712d29
        method: GET
      response:
        body: '{"id":"e925901c-d2b8-49e7-aa1e-a19ca8712d29","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-06-03T15:58:40.109381Z","updated_at":"2026-06-03T15:58:40.109381Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.116353ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e925901c-d2b8-49e7-aa1e-a19ca8712d29/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.815479ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e925901c-d2b8-49e7-aa1e-a19ca8712d29/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"e925901c-d2b8-49e7-aa1e-a19ca8712d29","status":"enabled","created_at":"2026-06-03T15:58:40.582777Z","updated_at":"2026-06-03T15:58:40.582777Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.239828ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e925901c-d2b8-49e7-aa1e-a19ca8712d29/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"e925901c-d2b8-49e7-aa1e-a19ca8712d29","status":"enabled","created_at":"2026-06-03T15:58:40.582777Z","updated_at":"2026-06-03T15:58:40.582777Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.646012ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            status:
                - enabled
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e925901c-d2b8-49e7-aa1e-a19ca8712d29/versions?page=1&status=enabled
        method: GET
      response:
        body: '{"versions":[{"revision":2,"secret_id":"e925901c-d2b8-49e7-aa1e-a19ca8712d29","status":"enabled","created_at":"2026-06-03T15:58:41.880801Z","updated_at":"2026-06-03T15:58:41.880801Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"},{"revision":1,"secret_id":"e925901c-d2b8-49e7-aa1e-a19ca8712d29","status":"enabled","created_at":"2026-06-03T15:58:40.582777Z","updated_at":"2026-06-03T15:58:40.582777Z","deleted_at":null,"description":"","latest":false,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.52876ms
[...]
