---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"950b1fc8-caea-478e-bdc7-30dc2ed6f05d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","status":"ready","created_at":"2026-07-03T15:28:00.513850Z","updated_at":"2026-07-03T15:28:00.513850Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.31365ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/950b1fc8-caea-478e-bdc7-30dc2ed6f05d
        method: GET
      response:
        body: '{"id":"950b1fc8-caea-478e-bdc7-30dc2ed6f05d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","status":"ready","created_at":"2026-07-03T15:28:00.513850Z","updated_at":"2026-07-03T15:28:00.513850Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.67068ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/950b1fc8-caea-478e-bdc7-30dc2ed6f05d/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.357075ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/950b1fc8-caea-478e-bdc7-30dc2ed6f05d/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"950b1fc8-caea-478e-bdc7-30dc2ed6f05d","status":"enabled","created_at":"2026-07-03T15:28:00.965072Z","updated_at":"2026-07-03T15:28:00.965072Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.772042ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/950b1fc8-caea-478e-bdc7-30dc2ed6f05d/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"950b1fc8-caea-478e-bdc7-30dc2ed6f05d","status":"enabled","created_at":"2026-07-03T15:28:00.965072Z","updated_at":"2026-07-03T15:28:00.965072Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.059094ms
[...]
