---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"0f40b082-1dfe-4fa7-81f3-09477bd5cfb4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-07-03T15:28:01.237720Z","updated_at":"2026-07-03T15:28:01.237720Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.503916ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f40b082-1dfe-4fa7-81f3-09477bd5cfb4
        method: GET
      response:
        body: '{"id":"0f40b082-1dfe-4fa7-81f3-09477bd5cfb4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-07-03T15:28:01.237720Z","updated_at":"2026-07-03T15:28:01.237720Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.436038ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f40b082-1dfe-4fa7-81f3-09477bd5cfb4/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.282581ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f40b082-1dfe-4fa7-81f3-09477bd5cfb4/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"0f40b082-1dfe-4fa7-81f3-09477bd5cfb4","status":"enabled","created_at":"2026-07-03T15:28:01.633314Z","updated_at":"2026-07-03T15:28:01.633314Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 291.541931ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f40b082-1dfe-4fa7-81f3-09477bd5cfb4/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"0f40b082-1dfe-4fa7-81f3-09477bd5cfb4","status":"enabled","created_at":"2026-07-03T15:28:01.633314Z","updated_at":"2026-07-03T15:28:01.633314Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.275119ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            status:
                - enabled
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0f40b082-1dfe-4fa7-81f3-09477bd5cfb4/versions?page=1&status=enabled
        method: GET
      response:
        body: '{"versions":[{"revision":2,"secret_id":"0f40b082-1dfe-4fa7-81f3-09477bd5cfb4","status":"enabled","created_at":"2026-07-03T15:28:03.288416Z","updated_at":"2026-07-03T15:28:03.288416Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"},{"revision":1,"secret_id":"0f40b082-1dfe-4fa7-81f3-09477bd5cfb4","status":"enabled","created_at":"2026-07-03T15:28:01.633314Z","updated_at":"2026-07-03T15:28:01.633314Z","deleted_at":null,"description":"","latest":false,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.612449ms
[...]
