---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"a115f047-311a-483b-a194-eec3276d00d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-06-04T09:49:33.690641Z","updated_at":"2026-06-04T09:49:33.690641Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.504084ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a115f047-311a-483b-a194-eec3276d00d7
        method: GET
      response:
        body: '{"id":"a115f047-311a-483b-a194-eec3276d00d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-06-04T09:49:33.690641Z","updated_at":"2026-06-04T09:49:33.690641Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.632608ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a115f047-311a-483b-a194-eec3276d00d7/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.868343ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a115f047-311a-483b-a194-eec3276d00d7/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"a115f047-311a-483b-a194-eec3276d00d7","status":"enabled","created_at":"2026-06-04T09:49:34.181599Z","updated_at":"2026-06-04T09:49:34.181599Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 379.871733ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a115f047-311a-483b-a194-eec3276d00d7/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"a115f047-311a-483b-a194-eec3276d00d7","status":"enabled","created_at":"2026-06-04T09:49:34.181599Z","updated_at":"2026-06-04T09:49:34.181599Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.240212ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            status:
                - enabled
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a115f047-311a-483b-a194-eec3276d00d7/versions?page=1&status=enabled
        method: GET
      response:
        body: '{"versions":[{"revision":2,"secret_id":"a115f047-311a-483b-a194-eec3276d00d7","status":"enabled","created_at":"2026-06-04T09:49:35.434602Z","updated_at":"2026-06-04T09:49:35.434602Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"},{"revision":1,"secret_id":"a115f047-311a-483b-a194-eec3276d00d7","status":"enabled","created_at":"2026-06-04T09:49:34.181599Z","updated_at":"2026-06-04T09:49:34.181599Z","deleted_at":null,"description":"","latest":false,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.223792ms
[...]
