---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"a8483bb4-d9c0-4154-8a10-0e75de92f670","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-06-03T15:58:40.049852Z","updated_at":"2026-06-03T15:58:40.049852Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.35062ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a8483bb4-d9c0-4154-8a10-0e75de92f670
        method: GET
      response:
        body: '{"id":"a8483bb4-d9c0-4154-8a10-0e75de92f670","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-06-03T15:58:40.049852Z","updated_at":"2026-06-03T15:58:40.049852Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.297955ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a8483bb4-d9c0-4154-8a10-0e75de92f670/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.360971ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a8483bb4-d9c0-4154-8a10-0e75de92f670/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"a8483bb4-d9c0-4154-8a10-0e75de92f670","status":"enabled","created_at":"2026-06-03T15:58:40.494300Z","updated_at":"2026-06-03T15:58:40.494300Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.160654ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a8483bb4-d9c0-4154-8a10-0e75de92f670/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"a8483bb4-d9c0-4154-8a10-0e75de92f670","status":"enabled","created_at":"2026-06-03T15:58:40.494300Z","updated_at":"2026-06-03T15:58:40.494300Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.145287ms
[...]
