---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"445b2889-904e-455e-b1be-6f75047b2ebf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-10-09T14:04:51.587112Z","updated_at":"2026-10-09T14:04:51.587112Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 301.127159ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.127369ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/445b2889-904e-455e-b1be-6f75047b2ebf
        method: GET
      response:
        body: '{"srn":"","id":"445b2889-904e-455e-b1be-6f75047b2ebf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-filter-1","status":"ready","created_at":"2026-10-09T14:04:51.587112Z","updated_at":"2026-10-09T14:04:51.587112Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 106.91294ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/445b2889-904e-455e-b1be-6f75047b2ebf/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 85.634551ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/445b2889-904e-455e-b1be-6f75047b2ebf/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"445b2889-904e-455e-b1be-6f75047b2ebf","status":"enabled","created_at":"2026-10-09T14:04:52.304423Z","updated_at":"2026-10-09T14:04:52.304423Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 482.303055ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/445b2889-904e-455e-b1be-6f75047b2ebf/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"445b2889-904e-455e-b1be-6f75047b2ebf","status":"enabled","created_at":"2026-10-09T14:04:52.304423Z","updated_at":"2026-10-09T14:04:52.304423Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "24"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.705779ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            status:
                - enabled
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/445b2889-904e-455e-b1be-6f75047b2ebf/versions?page=1&status=enabled
        method: GET
      response:
        body: '{"versions":[{"srn":"","revision":2,"secret_id":"445b2889-904e-455e-b1be-6f75047b2ebf","status":"enabled","created_at":"2026-10-09T14:04:53.859895Z","updated_at":"2026-10-09T14:04:53.859895Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"},{"srn":"","revision":1,"secret_id":"445b2889-904e-455e-b1be-6f75047b2ebf","status":"enabled","created_at":"2026-10-09T14:04:52.304423Z","updated_at":"2026-10-09T14:04:52.304423Z","deleted_at":null,"description":"","latest":false,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.731988ms
[...]
