---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"4356249e-aaa1-4d0f-954f-b659f46f06a0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-10-09T14:04:58.288534Z","updated_at":"2026-10-09T14:04:58.288534Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 77.075375ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.733733ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4356249e-aaa1-4d0f-954f-b659f46f06a0
        method: GET
      response:
        body: '{"srn":"","id":"4356249e-aaa1-4d0f-954f-b659f46f06a0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-10-09T14:04:58.288534Z","updated_at":"2026-10-09T14:04:58.288534Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "31"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.484043ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4356249e-aaa1-4d0f-954f-b659f46f06a0/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.122168ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4356249e-aaa1-4d0f-954f-b659f46f06a0/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"4356249e-aaa1-4d0f-954f-b659f46f06a0","status":"enabled","created_at":"2026-10-09T14:04:58.684311Z","updated_at":"2026-10-09T14:04:58.684311Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "29"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 304.368148ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4356249e-aaa1-4d0f-954f-b659f46f06a0/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"4356249e-aaa1-4d0f-954f-b659f46f06a0","status":"enabled","created_at":"2026-10-09T14:04:58.684311Z","updated_at":"2026-10-09T14:04:58.684311Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.485446ms
[...]
