---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"e741aacd-147e-4df3-9fed-6593ef0dd1d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-07-03T15:28:02.742049Z","updated_at":"2026-07-03T15:28:02.742049Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.797073ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e741aacd-147e-4df3-9fed-6593ef0dd1d7
        method: GET
      response:
        body: '{"id":"e741aacd-147e-4df3-9fed-6593ef0dd1d7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-list-1","status":"ready","created_at":"2026-07-03T15:28:02.742049Z","updated_at":"2026-07-03T15:28:02.742049Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.684919ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e741aacd-147e-4df3-9fed-6593ef0dd1d7/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.795186ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e741aacd-147e-4df3-9fed-6593ef0dd1d7/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"e741aacd-147e-4df3-9fed-6593ef0dd1d7","status":"enabled","created_at":"2026-07-03T15:28:03.201885Z","updated_at":"2026-07-03T15:28:03.201885Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.036407ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e741aacd-147e-4df3-9fed-6593ef0dd1d7/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"e741aacd-147e-4df3-9fed-6593ef0dd1d7","status":"enabled","created_at":"2026-07-03T15:28:03.201885Z","updated_at":"2026-07-03T15:28:03.201885Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.390333ms
[...]
