---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-list-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"8fe11807-7053-49f9-842c-5642d88216f8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-list-1","status":"ready","created_at":"2026-10-09T14:04:56.405284Z","updated_at":"2026-10-09T14:04:56.405284Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "26"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 108.706581ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.408255ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8fe11807-7053-49f9-842c-5642d88216f8
        method: GET
      response:
        body: '{"srn":"","id":"8fe11807-7053-49f9-842c-5642d88216f8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-list-1","status":"ready","created_at":"2026-10-09T14:04:56.405284Z","updated_at":"2026-10-09T14:04:56.405284Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.407973ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8fe11807-7053-49f9-842c-5642d88216f8/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.328641ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"srn":"","id":"73c8c50b-cca3-4c36-bc65-4b7c0799b4c7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","status":"ready","created_at":"2026-10-09T14:04:51.877123Z","updated_at":"2026-10-09T14:04:51.877123Z","tags":["devtools","provider","terraform"],"version_count":3,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-pa[...]
[...]
