---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"8aa68a52-b2ec-491b-83e4-090c6d905729","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","status":"ready","created_at":"2026-06-04T09:49:33.714643Z","updated_at":"2026-06-04T09:49:33.714643Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.702748ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8aa68a52-b2ec-491b-83e4-090c6d905729
        method: GET
      response:
        body: '{"id":"8aa68a52-b2ec-491b-83e4-090c6d905729","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-version-all-1","status":"ready","created_at":"2026-06-04T09:49:33.714643Z","updated_at":"2026-06-04T09:49:33.714643Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.736723ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8aa68a52-b2ec-491b-83e4-090c6d905729/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.196314ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXktc2VjcmV0LWRhdGEtMQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8aa68a52-b2ec-491b-83e4-090c6d905729/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"8aa68a52-b2ec-491b-83e4-090c6d905729","status":"enabled","created_at":"2026-06-04T09:49:34.262686Z","updated_at":"2026-06-04T09:49:34.262686Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 453.366995ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8aa68a52-b2ec-491b-83e4-090c6d905729/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"8aa68a52-b2ec-491b-83e4-090c6d905729","status":"enabled","created_at":"2026-06-04T09:49:34.262686Z","updated_at":"2026-06-04T09:49:34.262686Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.942019ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"2c4667fd-76d8-4205-b60b-efc0cd3ce15f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-multi-1","status":"ready","created_at":"2026-06-04T09:49:33.744869Z","updated_at":"2026-06-04T09:49:33.744869Z","tags":[],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"},{"id":"cbfa0f8d-5515-4516-9d3c-7a53761312b9","project_id":"105bdc[...]
[...]
