---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-filter-1","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"08d258d7-bf41-4122-904d-764b1a49274a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-filter-1","status":"ready","created_at":"2026-07-03T15:28:05.374218Z","updated_at":"2026-07-03T15:28:05.374218Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.549266ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/08d258d7-bf41-4122-904d-764b1a49274a
        method: GET
      response:
        body: '{"id":"08d258d7-bf41-4122-904d-764b1a49274a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-filter-1","status":"ready","created_at":"2026-07-03T15:28:05.374218Z","updated_at":"2026-07-03T15:28:05.374218Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.805306ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/08d258d7-bf41-4122-904d-764b1a49274a/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.320381ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            name:
                - test-secret-filter-1
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-filter-1&order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&type=unknown_type
        method: GET
      response:
        body: '{"secrets":[{"id":"08d258d7-bf41-4122-904d-764b1a49274a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-filter-1","status":"ready","created_at":"2026-07-03T15:28:05.374218Z","updated_at":"2026-07-03T15:28:05.374218Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.859293ms
[...]
