---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"d1e0a955-ea36-462a-8ed5-471f423be78c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameBasic", "status":"ready", "created_at":"2025-12-16T11:13:36.970322Z", "updated_at":"2025-12-16T11:13:36.970322Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.096798ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d1e0a955-ea36-462a-8ed5-471f423be78c
        method: GET
      response:
        body: '{"id":"d1e0a955-ea36-462a-8ed5-471f423be78c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameBasic", "status":"ready", "created_at":"2025-12-16T11:13:36.970322Z", "updated_at":"2025-12-16T11:13:36.970322Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.578905ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d1e0a955-ea36-462a-8ed5-471f423be78c/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.983866ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d1e0a955-ea36-462a-8ed5-471f423be78c/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"d1e0a955-ea36-462a-8ed5-471f423be78c", "status":"enabled", "created_at":"2025-12-16T11:13:37.902247Z", "updated_at":"2025-12-16T11:13:37.902247Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.981167ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d1e0a955-ea36-462a-8ed5-471f423be78c/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"d1e0a955-ea36-462a-8ed5-471f423be78c", "status":"enabled", "created_at":"2025-12-16T11:13:37.902247Z", "updated_at":"2025-12-16T11:13:37.902247Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.589399ms
[...]
