---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-protected-secret","tags":null,"type":"opaque","path":"/","protected":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.600427Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"7fd15240-eb36-46b3-808a-fd794b76cf52","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":true,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:44:59.600427Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.249667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7fd15240-eb36-46b3-808a-fd794b76cf52
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.600427Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"7fd15240-eb36-46b3-808a-fd794b76cf52","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":true,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:44:59.600427Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.750708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7fd15240-eb36-46b3-808a-fd794b76cf52/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.908584ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7fd15240-eb36-46b3-808a-fd794b76cf52
        method: DELETE
      response:
        body: '{"help_message":"cannot delete a protected secret","message":"precondition is not respected","precondition":"protected_resource","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 106.14125ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7fd15240-eb36-46b3-808a-fd794b76cf52/unprotect
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.600427Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"7fd15240-eb36-46b3-808a-fd794b76cf52","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:44:59.600427Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.879458ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7fd15240-eb36-46b3-808a-fd794b76cf52
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"7fd15240-eb36-46b3-808a-fd794b76cf52","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.675584ms
