---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"8bb2d52e-6516-43f5-8b25-77a9081ddda7\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.599678Z\",\"updated_at\":\"2025-09-01T14:59:18.599678Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.368935ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8bb2d52e-6516-43f5-8b25-77a9081ddda7
    method: GET
  response:
    body: "{\"id\":\"8bb2d52e-6516-43f5-8b25-77a9081ddda7\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.599678Z\",\"updated_at\":\"2025-09-01T14:59:18.599678Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.86275ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8bb2d52e-6516-43f5-8b25-77a9081ddda7/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.190984ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8bb2d52e-6516-43f5-8b25-77a9081ddda7/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"8bb2d52e-6516-43f5-8b25-77a9081ddda7\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.169430Z\",\"updated_at\":\"2025-09-01T14:59:19.169430Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 387.99806ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8bb2d52e-6516-43f5-8b25-77a9081ddda7/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"8bb2d52e-6516-43f5-8b25-77a9081ddda7\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.169430Z\",\"updated_at\":\"2025-09-01T14:59:19.169430Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.814814ms
[...]
