---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-09-08T07:36:20.863742Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"a1672909-81e8-43e6-8267-c5b77d8f1abd","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-08T07:36:20.863742Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.388709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1672909-81e8-43e6-8267-c5b77d8f1abd
        method: GET
      response:
        body: '{"created_at":"2025-09-08T07:36:20.863742Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"a1672909-81e8-43e6-8267-c5b77d8f1abd","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-08T07:36:20.863742Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.469417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1672909-81e8-43e6-8267-c5b77d8f1abd/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.529041ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1672909-81e8-43e6-8267-c5b77d8f1abd
        method: PATCH
      response:
        body: '{"created_at":"2025-09-08T07:36:20.863742Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"a1672909-81e8-43e6-8267-c5b77d8f1abd","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/test-secret-path","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-08T07:36:21.968044Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.254917ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a1672909-81e8-43e6-8267-c5b77d8f1abd
        method: PATCH
      response:
        body: '{"created_at":"2025-09-08T07:36:20.863742Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"a1672909-81e8-43e6-8267-c5b77d8f1abd","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/test-secret-path-change","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-09-08T07:36:23.468682Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.548959ms
[...]
