---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameType","tags":null,"type":"key_value","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"35e00bac-dfad-4406-83ba-2711dcb02254","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameType","status":"ready","created_at":"2026-07-03T15:27:59.160617Z","updated_at":"2026-07-03T15:27:59.160617Z","tags":[],"version_count":0,"description":"","managed":false,"type":"key_value","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.571944ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/35e00bac-dfad-4406-83ba-2711dcb02254
        method: GET
      response:
        body: '{"id":"35e00bac-dfad-4406-83ba-2711dcb02254","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameType","status":"ready","created_at":"2026-07-03T15:27:59.160617Z","updated_at":"2026-07-03T15:27:59.160617Z","tags":[],"version_count":0,"description":"","managed":false,"type":"key_value","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.241623ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/35e00bac-dfad-4406-83ba-2711dcb02254/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.23356ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUifQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/35e00bac-dfad-4406-83ba-2711dcb02254/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"35e00bac-dfad-4406-83ba-2711dcb02254","status":"enabled","created_at":"2026-07-03T15:27:59.581552Z","updated_at":"2026-07-03T15:27:59.581552Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.963931ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/35e00bac-dfad-4406-83ba-2711dcb02254/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"35e00bac-dfad-4406-83ba-2711dcb02254","status":"enabled","created_at":"2026-07-03T15:27:59.581552Z","updated_at":"2026-07-03T15:27:59.581552Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.08031ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUiLCAiaW52YWxpZCI6IHt9fQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/35e00bac-dfad-4406-83ba-2711dcb02254/versions
        method: POST
      response:
        body: '{"details":[{"argument_name":"data","help_message":"- invalid: Invalid type. Expected: string, given: object\n","reason":"format"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 58.742393ms
[...]
