---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"e52321be-7d3f-4417-8fb7-4d3c11c9790f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","status":"ready","created_at":"2026-07-03T15:27:59.801664Z","updated_at":"2026-07-03T15:27:59.801664Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.448809ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e52321be-7d3f-4417-8fb7-4d3c11c9790f
        method: GET
      response:
        body: '{"id":"e52321be-7d3f-4417-8fb7-4d3c11c9790f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","status":"ready","created_at":"2026-07-03T15:27:59.801664Z","updated_at":"2026-07-03T15:27:59.801664Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.13285ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e52321be-7d3f-4417-8fb7-4d3c11c9790f/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.084264ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret descriptionB"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/646cb095-08ab-467f-aa7f-0cce3b822253/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"646cb095-08ab-467f-aa7f-0cce3b822253","status":"enabled","created_at":"2026-07-03T15:28:00.241314Z","updated_at":"2026-07-03T15:28:00.241314Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.142276ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/646cb095-08ab-467f-aa7f-0cce3b822253/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"646cb095-08ab-467f-aa7f-0cce3b822253","status":"enabled","created_at":"2026-07-03T15:28:00.241314Z","updated_at":"2026-07-03T15:28:00.241314Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.848323ms
[...]
