---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","tags":["devtools","provider","terraform"],"description":"secret descriptionB","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"4d38e6c6-cbcf-4bc9-99d9-50f714031293","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","status":"ready","created_at":"2026-10-09T14:04:51.536582Z","updated_at":"2026-10-09T14:04:51.536582Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret descriptionB","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 251.141767ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.121082ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4d38e6c6-cbcf-4bc9-99d9-50f714031293
        method: GET
      response:
        body: '{"srn":"","id":"4d38e6c6-cbcf-4bc9-99d9-50f714031293","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","status":"ready","created_at":"2026-10-09T14:04:51.536582Z","updated_at":"2026-10-09T14:04:51.536582Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret descriptionB","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.549791ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4d38e6c6-cbcf-4bc9-99d9-50f714031293/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 95.462147ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret descriptionB"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4d38e6c6-cbcf-4bc9-99d9-50f714031293/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"4d38e6c6-cbcf-4bc9-99d9-50f714031293","status":"enabled","created_at":"2026-10-09T14:04:52.440030Z","updated_at":"2026-10-09T14:04:52.440030Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 668.113988ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4d38e6c6-cbcf-4bc9-99d9-50f714031293/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"4d38e6c6-cbcf-4bc9-99d9-50f714031293","status":"enabled","created_at":"2026-10-09T14:04:52.440030Z","updated_at":"2026-10-09T14:04:52.440030Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 31.599368ms
[...]
