---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"57c50b66-bcf1-41f0-8299-c7e0274f8460","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","status":"ready","created_at":"2026-05-28T14:07:35.332951Z","updated_at":"2026-05-28T14:07:35.332951Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.391092ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/57c50b66-bcf1-41f0-8299-c7e0274f8460
        method: GET
      response:
        body: '{"id":"57c50b66-bcf1-41f0-8299-c7e0274f8460","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","status":"ready","created_at":"2026-05-28T14:07:35.332951Z","updated_at":"2026-05-28T14:07:35.332951Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.924704ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/57c50b66-bcf1-41f0-8299-c7e0274f8460/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.471539ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/57c50b66-bcf1-41f0-8299-c7e0274f8460/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"57c50b66-bcf1-41f0-8299-c7e0274f8460","status":"enabled","created_at":"2026-05-28T14:07:35.785506Z","updated_at":"2026-05-28T14:07:35.785506Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.591423ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/57c50b66-bcf1-41f0-8299-c7e0274f8460/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"57c50b66-bcf1-41f0-8299-c7e0274f8460","status":"enabled","created_at":"2026-05-28T14:07:35.785506Z","updated_at":"2026-05-28T14:07:35.785506Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.397543ms
[...]
