---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameType\",\"tags\":null,\"type\":\"key_value\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"73635c90-ea21-42b8-90ae-333c28a1746d\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameType\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.560631Z\",\"updated_at\":\"2025-09-01T14:59:18.560631Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"key_value\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.115014ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/73635c90-ea21-42b8-90ae-333c28a1746d
    method: GET
  response:
    body: "{\"id\":\"73635c90-ea21-42b8-90ae-333c28a1746d\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameType\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.560631Z\",\"updated_at\":\"2025-09-01T14:59:18.560631Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"key_value\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.512472ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/73635c90-ea21-42b8-90ae-333c28a1746d/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 79.078911ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"eyJrZXkiOiAidmFsdWUifQ==\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/73635c90-ea21-42b8-90ae-333c28a1746d/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"73635c90-ea21-42b8-90ae-333c28a1746d\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.073744Z\",\"updated_at\":\"2025-09-01T14:59:19.073744Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 392.265959ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/73635c90-ea21-42b8-90ae-333c28a1746d/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"73635c90-ea21-42b8-90ae-333c28a1746d\",\"status\":\"enabled\",\"created_at\":\"2025-09-01T14:59:19.073744Z\",\"updated_at\":\"2025-09-01T14:59:19.073744Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 45.470435ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"data\":\"eyJrZXkiOiAidmFsdWUiLCAiaW52YWxpZCI6IHt9fQ==\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/73635c90-ea21-42b8-90ae-333c28a1746d/versions
    method: POST
  response:
    body: "{\"details\":[{\"argument_name\":\"data\",\"help_message\":\"- invalid: Invalid type. Expected: string, given: object\\n\",\"reason\":\"format\"}],\"message\":\"invalid argument(s)\",\"type\":\"invalid_arguments\"}"
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: 53.342325ms
[...]
