---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"24f85d7b-8164-4de7-b4ed-30d49810a7e8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameBasic", "status":"ready", "created_at":"2025-12-15T15:48:25.526748Z", "updated_at":"2025-12-15T15:48:25.526748Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.07527ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24f85d7b-8164-4de7-b4ed-30d49810a7e8
        method: GET
      response:
        body: '{"id":"24f85d7b-8164-4de7-b4ed-30d49810a7e8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameBasic", "status":"ready", "created_at":"2025-12-15T15:48:25.526748Z", "updated_at":"2025-12-15T15:48:25.526748Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.590763ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24f85d7b-8164-4de7-b4ed-30d49810a7e8/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.95251ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24f85d7b-8164-4de7-b4ed-30d49810a7e8/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"24f85d7b-8164-4de7-b4ed-30d49810a7e8", "status":"enabled", "created_at":"2025-12-15T15:48:26.076481Z", "updated_at":"2025-12-15T15:48:26.076481Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.086686ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24f85d7b-8164-4de7-b4ed-30d49810a7e8/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"24f85d7b-8164-4de7-b4ed-30d49810a7e8", "status":"enabled", "created_at":"2025-12-15T15:48:26.076481Z", "updated_at":"2025-12-15T15:48:26.076481Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.359739ms
[...]
