---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-protected-secret\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/\",\"protected\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"26367b3a-1ef4-41df-a811-9af20f1feef5\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-protected-secret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.803688Z\", \"updated_at\":\"2025-11-28T16:25:07.803688Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":true, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 441.331184ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26367b3a-1ef4-41df-a811-9af20f1feef5
    method: GET
  response:
    body: "{\"id\":\"26367b3a-1ef4-41df-a811-9af20f1feef5\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-protected-secret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.803688Z\", \"updated_at\":\"2025-11-28T16:25:07.803688Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":true, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 71.148464ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26367b3a-1ef4-41df-a811-9af20f1feef5/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 201.093072ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26367b3a-1ef4-41df-a811-9af20f1feef5
    method: DELETE
  response:
    body: "{\"help_message\":\"cannot delete a protected secret\",\"message\":\"precondition is not respected\",\"precondition\":\"protected_resource\",\"type\":\"precondition_failed\"}"
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: 115.642747ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26367b3a-1ef4-41df-a811-9af20f1feef5/unprotect
    method: POST
  response:
    body: "{\"id\":\"26367b3a-1ef4-41df-a811-9af20f1feef5\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-protected-secret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.803688Z\", \"updated_at\":\"2025-11-28T16:25:07.803688Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 166.620158ms
[...]
