---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"608cda96-74d1-4f49-afb2-6f371e94aabe\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"secretVersionNameBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.297616Z\", \"updated_at\":\"2025-11-20T14:19:47.297616Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 372.981456ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/608cda96-74d1-4f49-afb2-6f371e94aabe
    method: GET
  response:
    body: "{\"id\":\"608cda96-74d1-4f49-afb2-6f371e94aabe\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"secretVersionNameBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.297616Z\", \"updated_at\":\"2025-11-20T14:19:47.297616Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 372.659093ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/608cda96-74d1-4f49-afb2-6f371e94aabe/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 460.216209ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/608cda96-74d1-4f49-afb2-6f371e94aabe/versions
    method: POST
  response:
    body: "{\"revision\":1, \"secret_id\":\"608cda96-74d1-4f49-afb2-6f371e94aabe\", \"status\":\"enabled\", \"created_at\":\"2025-11-20T14:19:48.772694Z\", \"updated_at\":\"2025-11-20T14:19:48.772694Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 649.272147ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/608cda96-74d1-4f49-afb2-6f371e94aabe/versions/1
    method: GET
  response:
    body: "{\"revision\":1, \"secret_id\":\"608cda96-74d1-4f49-afb2-6f371e94aabe\", \"status\":\"enabled\", \"created_at\":\"2025-11-20T14:19:48.772694Z\", \"updated_at\":\"2025-11-20T14:19:48.772694Z\", \"deleted_at\":null, \"description\":\"version1\", \"latest\":true, \"ephemeral_properties\":null, \"deletion_requested_at\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.07061ms
[...]
