---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"secretNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.594105Z","description":"secret description","ephemeral_policy":null,"id":"f1188615-2dca-4ef8-9b8b-a2f52e2751c0","managed":false,"name":"secretNameBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.594105Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.530531ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f1188615-2dca-4ef8-9b8b-a2f52e2751c0
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.594105Z","description":"secret description","ephemeral_policy":null,"id":"f1188615-2dca-4ef8-9b8b-a2f52e2751c0","managed":false,"name":"secretNameBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.594105Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.160223ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f1188615-2dca-4ef8-9b8b-a2f52e2751c0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"f1188615-2dca-4ef8-9b8b-a2f52e2751c0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.156219ms
