---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.595226Z","description":"secret description","ephemeral_policy":null,"id":"e5af9aa8-3685-4d47-99ff-6b80329cceb1","managed":false,"name":"secretVersionNameBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.595226Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.238179ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e5af9aa8-3685-4d47-99ff-6b80329cceb1
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.595226Z","description":"secret description","ephemeral_policy":null,"id":"e5af9aa8-3685-4d47-99ff-6b80329cceb1","managed":false,"name":"secretVersionNameBasic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-08-09T09:22:49.595226Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.913861ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e5af9aa8-3685-4d47-99ff-6b80329cceb1/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.781497Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"e5af9aa8-3685-4d47-99ff-6b80329cceb1","status":"enabled","updated_at":"2024-08-09T09:22:49.781497Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.286708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e5af9aa8-3685-4d47-99ff-6b80329cceb1/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.781497Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"e5af9aa8-3685-4d47-99ff-6b80329cceb1","status":"enabled","updated_at":"2024-08-09T09:22:49.781497Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.17278ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e5af9aa8-3685-4d47-99ff-6b80329cceb1/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"e5af9aa8-3685-4d47-99ff-6b80329cceb1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.271046ms
[...]
