---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-protected-secret","tags":null,"type":"opaque","path":"/","protected":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.581236Z","description":"","ephemeral_policy":null,"id":"9a49efc3-5d81-4570-9e55-34a1d505f02a","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":true,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.581236Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.452412ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a49efc3-5d81-4570-9e55-34a1d505f02a
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.581236Z","description":"","ephemeral_policy":null,"id":"9a49efc3-5d81-4570-9e55-34a1d505f02a","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":true,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.581236Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.444668ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a49efc3-5d81-4570-9e55-34a1d505f02a
        method: DELETE
      response:
        body: '{"help_message":"cannot delete a protected secret","message":"precondition is not respected","precondition":"protected_resource","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 48.57393ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a49efc3-5d81-4570-9e55-34a1d505f02a/unprotect
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.581236Z","description":"","ephemeral_policy":null,"id":"9a49efc3-5d81-4570-9e55-34a1d505f02a","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.581236Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.33576ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a49efc3-5d81-4570-9e55-34a1d505f02a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"9a49efc3-5d81-4570-9e55-34a1d505f02a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.258402ms
