---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"secretVersionNameType","tags":null,"description":"secret description","type":"key_value","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T12:49:41.550512Z","description":"secret description","ephemeral_policy":null,"id":"7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8","managed":false,"name":"secretVersionNameType","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"key_value","updated_at":"2024-08-09T12:49:41.550512Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.149644ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8
        method: GET
      response:
        body: '{"created_at":"2024-08-09T12:49:41.550512Z","description":"secret description","ephemeral_policy":null,"id":"7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8","managed":false,"name":"secretVersionNameType","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"key_value","updated_at":"2024-08-09T12:49:41.550512Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.655021ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUifQ==","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-09T12:49:41.795492Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8","status":"enabled","updated_at":"2024-08-09T12:49:41.795492Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.937835ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-09T12:49:41.795492Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8","status":"enabled","updated_at":"2024-08-09T12:49:41.795492Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.967449ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUiLCAiaW52YWxpZCI6IHt9fQ==","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7bbd1f3f-7d90-4c1b-8c98-062a3fc35db8/versions
        method: POST
      response:
        body: '{"details":[{"argument_name":"data","help_message":"- invalid: Invalid type. Expected: string, given: object\n","reason":"format"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 21.134333ms
[...]
