---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"34fa8238-d01e-4046-9de1-24490ba6fac7", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-15T15:48:25.492073Z", "updated_at":"2025-12-15T15:48:25.492073Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.488447ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/34fa8238-d01e-4046-9de1-24490ba6fac7
        method: GET
      response:
        body: '{"id":"34fa8238-d01e-4046-9de1-24490ba6fac7", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-15T15:48:25.492073Z", "updated_at":"2025-12-15T15:48:25.492073Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.692456ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/34fa8238-d01e-4046-9de1-24490ba6fac7/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.411295ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/34fa8238-d01e-4046-9de1-24490ba6fac7
        method: PATCH
      response:
        body: '{"id":"34fa8238-d01e-4046-9de1-24490ba6fac7", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-15T15:48:25.492073Z", "updated_at":"2025-12-15T15:48:26.998805Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/test-secret-path", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.930138ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/34fa8238-d01e-4046-9de1-24490ba6fac7
        method: PATCH
      response:
        body: '{"id":"34fa8238-d01e-4046-9de1-24490ba6fac7", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-15T15:48:25.492073Z", "updated_at":"2025-12-15T15:48:29.313432Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/test-secret-path-change", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.011184ms
[...]
