---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b9a22406-dc9c-480a-b3f4-73f43b3f39bd","id":"b9a22406-dc9c-480a-b3f4-73f43b3f39bd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T10:05:01.629164Z","updated_at":"2026-10-06T10:05:01.634872Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T10:05:01.634872Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 299.53347ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.261608ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b9a22406-dc9c-480a-b3f4-73f43b3f39bd
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b9a22406-dc9c-480a-b3f4-73f43b3f39bd","id":"b9a22406-dc9c-480a-b3f4-73f43b3f39bd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T10:05:01.629164Z","updated_at":"2026-10-06T10:05:01.634872Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T10:05:01.634872Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 163.108772ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","tags":null,"type":"opaque","path":"/","protected":false,"key_id":"b9a22406-dc9c-480a-b3f4-73f43b3f39bd"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"a29a392c-5950-4818-a819-ffb68f38bb51","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","status":"ready","created_at":"2026-10-06T10:05:02.033922Z","updated_at":"2026-10-06T10:05:02.033922Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":"b9a22406-dc9c-480a-b3f4-73f43b3f39bd","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 195.725253ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a29a392c-5950-4818-a819-ffb68f38bb51
        method: GET
      response:
        body: '{"srn":"","id":"a29a392c-5950-4818-a819-ffb68f38bb51","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","status":"ready","created_at":"2026-10-06T10:05:02.033922Z","updated_at":"2026-10-06T10:05:02.033922Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":"b9a22406-dc9c-480a-b3f4-73f43b3f39bd","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 96.060431ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a29a392c-5950-4818-a819-ffb68f38bb51/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 114.520001ms
[...]
