---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.575120Z","description":"","ephemeral_policy":null,"id":"3876823d-1a7b-43d3-a495-a1199746ef3a","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.575120Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.126818ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3876823d-1a7b-43d3-a495-a1199746ef3a
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.575120Z","description":"","ephemeral_policy":null,"id":"3876823d-1a7b-43d3-a495-a1199746ef3a","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.575120Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.207351ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3876823d-1a7b-43d3-a495-a1199746ef3a
        method: PATCH
      response:
        body: '{"created_at":"2024-08-09T09:22:49.575120Z","description":"","ephemeral_policy":null,"id":"3876823d-1a7b-43d3-a495-a1199746ef3a","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:51.108631Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.311891ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3876823d-1a7b-43d3-a495-a1199746ef3a
        method: PATCH
      response:
        body: '{"created_at":"2024-08-09T09:22:49.575120Z","description":"","ephemeral_policy":null,"id":"3876823d-1a7b-43d3-a495-a1199746ef3a","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path-change","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:53.074162Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.926253ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3876823d-1a7b-43d3-a495-a1199746ef3a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"3876823d-1a7b-43d3-a495-a1199746ef3a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.295853ms
