---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","tags":["devtools","provider","terraform"],"description":"secret descriptionB","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"925c1886-6a5e-4ac8-8579-65bcb4dedb35","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","status":"ready","created_at":"2026-05-28T14:07:35.254085Z","updated_at":"2026-05-28T14:07:35.254085Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret descriptionB","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.190436ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/925c1886-6a5e-4ac8-8579-65bcb4dedb35
        method: GET
      response:
        body: '{"id":"925c1886-6a5e-4ac8-8579-65bcb4dedb35","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","status":"ready","created_at":"2026-05-28T14:07:35.254085Z","updated_at":"2026-05-28T14:07:35.254085Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret descriptionB","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.208259ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/925c1886-6a5e-4ac8-8579-65bcb4dedb35/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.683587ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret descriptionB"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/925c1886-6a5e-4ac8-8579-65bcb4dedb35/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"925c1886-6a5e-4ac8-8579-65bcb4dedb35","status":"enabled","created_at":"2026-05-28T14:07:35.729100Z","updated_at":"2026-05-28T14:07:35.729100Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.54557ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/925c1886-6a5e-4ac8-8579-65bcb4dedb35/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"925c1886-6a5e-4ac8-8579-65bcb4dedb35","status":"enabled","created_at":"2026-05-28T14:07:35.729100Z","updated_at":"2026-05-28T14:07:35.729100Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.569535ms
[...]
