---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretNameBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"69255424-4911-4901-9030-8fa68fb5f861\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"secretNameBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.773768Z\", \"updated_at\":\"2025-11-28T16:25:07.773768Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 442.416294ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/69255424-4911-4901-9030-8fa68fb5f861
    method: GET
  response:
    body: "{\"id\":\"69255424-4911-4901-9030-8fa68fb5f861\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"secretNameBasic\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.773768Z\", \"updated_at\":\"2025-11-28T16:25:07.773768Z\", \"tags\":[\"devtools\", \"provider\", \"terraform\"], \"version_count\":0, \"description\":\"secret description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.026576ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/69255424-4911-4901-9030-8fa68fb5f861/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.402178ms
[...]
