---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-policy-secret","tags":null,"type":"opaque","path":"/","ephemeral_policy":{"time_to_live":"1800.000000000s","expires_once_accessed":false,"action":"disable"},"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T09:22:49.572216Z","description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"f1b7bc3b-2ace-4eff-9393-307645f98187","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.572216Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.774634ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f1b7bc3b-2ace-4eff-9393-307645f98187
        method: GET
      response:
        body: '{"created_at":"2024-08-09T09:22:49.572216Z","description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"f1b7bc3b-2ace-4eff-9393-307645f98187","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-09T09:22:49.572216Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.28039ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f1b7bc3b-2ace-4eff-9393-307645f98187
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"f1b7bc3b-2ace-4eff-9393-307645f98187","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.22045ms
