---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-policy-secret","tags":null,"type":"unknown_type","path":"/","ephemeral_policy":{"time_to_live":"1800.000000000s","expires_once_accessed":false,"action":"disable"},"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-07T08:36:42.732124Z","description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"ed8763b9-851f-41fa-a4a8-7c38eb6152d2","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-07T08:36:42.732124Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.311757ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ed8763b9-851f-41fa-a4a8-7c38eb6152d2
        method: GET
      response:
        body: '{"created_at":"2024-08-07T08:36:42.732124Z","description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"ed8763b9-851f-41fa-a4a8-7c38eb6152d2","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-07T08:36:42.732124Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.037679ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ed8763b9-851f-41fa-a4a8-7c38eb6152d2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"ed8763b9-851f-41fa-a4a8-7c38eb6152d2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.884306ms
