---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-policy-secret","tags":null,"type":"opaque","path":"/","ephemeral_policy":{"time_to_live":"1800.000000000s","expires_once_accessed":false,"action":"disable"},"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.601688Z","deletion_requested_at":null,"description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"1c8e254d-f79e-46b0-9518-c6714119a4ea","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:44:59.601688Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.981417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c8e254d-f79e-46b0-9518-c6714119a4ea
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.601688Z","deletion_requested_at":null,"description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"1c8e254d-f79e-46b0-9518-c6714119a4ea","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:44:59.601688Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.778709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c8e254d-f79e-46b0-9518-c6714119a4ea/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.871125ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c8e254d-f79e-46b0-9518-c6714119a4ea
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"1c8e254d-f79e-46b0-9518-c6714119a4ea","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.89825ms
