---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T09:53:11.591846Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"8413683f-d7d9-4b76-9ae6-341acffd2eb3","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:53:11.591846Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.195167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8413683f-d7d9-4b76-9ae6-341acffd2eb3
        method: GET
      response:
        body: '{"created_at":"2025-03-13T09:53:11.591846Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"8413683f-d7d9-4b76-9ae6-341acffd2eb3","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:53:11.591846Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.937167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8413683f-d7d9-4b76-9ae6-341acffd2eb3/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.601083ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8413683f-d7d9-4b76-9ae6-341acffd2eb3
        method: PATCH
      response:
        body: '{"created_at":"2025-03-13T09:53:11.591846Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"8413683f-d7d9-4b76-9ae6-341acffd2eb3","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:53:16.884524Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.170833ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8413683f-d7d9-4b76-9ae6-341acffd2eb3
        method: PATCH
      response:
        body: '{"created_at":"2025-03-13T09:53:11.591846Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"8413683f-d7d9-4b76-9ae6-341acffd2eb3","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path-change","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T09:53:21.439507Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.865208ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8413683f-d7d9-4b76-9ae6-341acffd2eb3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"8413683f-d7d9-4b76-9ae6-341acffd2eb3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.365666ms
