---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/275baa3d-ce0a-4639-8e41-ca586ee126a4","id":"275baa3d-ce0a-4639-8e41-ca586ee126a4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-09T14:04:51.522004Z","updated_at":"2026-10-09T14:04:51.527180Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-09T14:04:51.527180Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 369.153374ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.080606ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/275baa3d-ce0a-4639-8e41-ca586ee126a4
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/275baa3d-ce0a-4639-8e41-ca586ee126a4","id":"275baa3d-ce0a-4639-8e41-ca586ee126a4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-09T14:04:51.522004Z","updated_at":"2026-10-09T14:04:51.527180Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-09T14:04:51.527180Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.860557ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","tags":null,"type":"opaque","path":"/","protected":false,"key_id":"275baa3d-ce0a-4639-8e41-ca586ee126a4"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"349da166-09f3-48c2-af38-4c98d982d5e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","status":"ready","created_at":"2026-10-09T14:04:52.246987Z","updated_at":"2026-10-09T14:04:52.246987Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":"275baa3d-ce0a-4639-8e41-ca586ee126a4","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 577.125027ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/349da166-09f3-48c2-af38-4c98d982d5e4
        method: GET
      response:
        body: '{"srn":"","id":"349da166-09f3-48c2-af38-4c98d982d5e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","status":"ready","created_at":"2026-10-09T14:04:52.246987Z","updated_at":"2026-10-09T14:04:52.246987Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":"275baa3d-ce0a-4639-8e41-ca586ee126a4","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "29"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.876504ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/349da166-09f3-48c2-af38-4c98d982d5e4/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.503343ms
[...]
