---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","tags":["devtools","provider","terraform"],"description":"secret descriptionB","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"711f15b3-21c0-4dc9-89aa-ee19d3b99310","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","status":"ready","created_at":"2026-06-03T15:58:52.731721Z","updated_at":"2026-06-03T15:58:52.731721Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret descriptionB","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.509061ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/711f15b3-21c0-4dc9-89aa-ee19d3b99310
        method: GET
      response:
        body: '{"id":"711f15b3-21c0-4dc9-89aa-ee19d3b99310","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWOB","status":"ready","created_at":"2026-06-03T15:58:52.731721Z","updated_at":"2026-06-03T15:58:52.731721Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret descriptionB","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.880621ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/711f15b3-21c0-4dc9-89aa-ee19d3b99310/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.557764ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret descriptionB"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/711f15b3-21c0-4dc9-89aa-ee19d3b99310/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"711f15b3-21c0-4dc9-89aa-ee19d3b99310","status":"enabled","created_at":"2026-06-03T15:58:53.103648Z","updated_at":"2026-06-03T15:58:53.103648Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.893874ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/711f15b3-21c0-4dc9-89aa-ee19d3b99310/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"711f15b3-21c0-4dc9-89aa-ee19d3b99310","status":"enabled","created_at":"2026-06-03T15:58:53.103648Z","updated_at":"2026-06-03T15:58:53.103648Z","deleted_at":null,"description":"secret descriptionB","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.999508ms
[...]
