---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"9bdf8f16-ffce-4813-81f0-adf00a456962", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-16T11:13:36.879476Z", "updated_at":"2025-12-16T11:13:36.879476Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.939855ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9bdf8f16-ffce-4813-81f0-adf00a456962
        method: GET
      response:
        body: '{"id":"9bdf8f16-ffce-4813-81f0-adf00a456962", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-16T11:13:36.879476Z", "updated_at":"2025-12-16T11:13:36.879476Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.040918ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9bdf8f16-ffce-4813-81f0-adf00a456962/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.469334ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9bdf8f16-ffce-4813-81f0-adf00a456962
        method: PATCH
      response:
        body: '{"id":"9bdf8f16-ffce-4813-81f0-adf00a456962", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-16T11:13:36.879476Z", "updated_at":"2025-12-16T11:13:39.077150Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/test-secret-path", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.295443ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9bdf8f16-ffce-4813-81f0-adf00a456962
        method: PATCH
      response:
        body: '{"id":"9bdf8f16-ffce-4813-81f0-adf00a456962", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-path-secret", "status":"ready", "created_at":"2025-12-16T11:13:36.879476Z", "updated_at":"2025-12-16T11:13:43.924683Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/test-secret-path-change", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.454922ms
[...]
