---
version: 2
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretNameBasic","tags":["devtools","provider","terraform"],"description":"secret
      description","type":"unknown_type","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:30.670270Z","description":"secret description","ephemeral_policy":null,"id":"d990d0df-a869-4021-9a2c-fed16b08e7e3","managed":false,"name":"secretNameBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-02-16T07:43:30.670270Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d990d0df-a869-4021-9a2c-fed16b08e7e3
    method: GET
  response:
    body: '{"created_at":"2024-02-16T07:43:30.670270Z","description":"secret description","ephemeral_policy":null,"id":"d990d0df-a869-4021-9a2c-fed16b08e7e3","managed":false,"name":"secretNameBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-02-16T07:43:30.670270Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d990d0df-a869-4021-9a2c-fed16b08e7e3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"d990d0df-a869-4021-9a2c-fed16b08e7e3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
