---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-protected-secret","tags":null,"type":"unknown_type","path":"/","protected":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-07T12:33:29.774949Z","description":"","ephemeral_policy":null,"id":"557aa1e2-5b29-4c0c-84c3-ae40603ceef7","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":true,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-07T12:33:29.774949Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.883879ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557aa1e2-5b29-4c0c-84c3-ae40603ceef7
        method: GET
      response:
        body: '{"created_at":"2024-08-07T12:33:29.774949Z","description":"","ephemeral_policy":null,"id":"557aa1e2-5b29-4c0c-84c3-ae40603ceef7","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":true,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-07T12:33:29.774949Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.145476ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557aa1e2-5b29-4c0c-84c3-ae40603ceef7
        method: DELETE
      response:
        body: '{"help_message":"cannot delete a protected secret","message":"precondition is not respected","precondition":"protected_resource","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 48.264098ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557aa1e2-5b29-4c0c-84c3-ae40603ceef7/unprotect
        method: POST
      response:
        body: '{"created_at":"2024-08-07T12:33:29.774949Z","description":"","ephemeral_policy":null,"id":"557aa1e2-5b29-4c0c-84c3-ae40603ceef7","managed":false,"name":"test-secret-protected-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-07T12:33:29.774949Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.43301ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557aa1e2-5b29-4c0c-84c3-ae40603ceef7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"557aa1e2-5b29-4c0c-84c3-ae40603ceef7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.347598ms
