---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-policy-secret\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/\",\"ephemeral_policy\":{\"time_to_live\":\"1800.000000000s\",\"expires_once_accessed\":false,\"action\":\"disable\"},\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"9a9da20f-aea8-4049-ba60-3f894f2dad99\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-policy-secret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.705653Z\", \"updated_at\":\"2025-11-28T16:25:07.705653Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":{\"time_to_live\":\"1800s\", \"expires_once_accessed\":false, \"action\":\"disable\"}, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 403.390877ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9da20f-aea8-4049-ba60-3f894f2dad99
    method: GET
  response:
    body: "{\"id\":\"9a9da20f-aea8-4049-ba60-3f894f2dad99\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-policy-secret\", \"status\":\"ready\", \"created_at\":\"2025-11-28T16:25:07.705653Z\", \"updated_at\":\"2025-11-28T16:25:07.705653Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":{\"time_to_live\":\"1800s\", \"expires_once_accessed\":false, \"action\":\"disable\"}, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.117611ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9da20f-aea8-4049-ba60-3f894f2dad99/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.070251ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9da20f-aea8-4049-ba60-3f894f2dad99
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"secret\",\"resource_id\":\"9a9da20f-aea8-4049-ba60-3f894f2dad99\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 56.643784ms
