---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"e4681aef-fd7e-40f4-a2cf-34e2ce81253e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretNameBasic", "status":"ready", "created_at":"2025-12-16T11:13:36.930997Z", "updated_at":"2025-12-16T11:13:36.930997Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.244993ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e4681aef-fd7e-40f4-a2cf-34e2ce81253e
        method: GET
      response:
        body: '{"id":"e4681aef-fd7e-40f4-a2cf-34e2ce81253e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretNameBasic", "status":"ready", "created_at":"2025-12-16T11:13:36.930997Z", "updated_at":"2025-12-16T11:13:36.930997Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.907062ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e4681aef-fd7e-40f4-a2cf-34e2ce81253e/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.077168ms
[...]
