---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameType","tags":null,"type":"key_value","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"11db68bd-1663-4000-b53c-5729909558d6", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameType", "status":"ready", "created_at":"2025-12-16T11:13:36.899986Z", "updated_at":"2025-12-16T11:13:36.899986Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"key_value", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.652262ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11db68bd-1663-4000-b53c-5729909558d6
        method: GET
      response:
        body: '{"id":"11db68bd-1663-4000-b53c-5729909558d6", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameType", "status":"ready", "created_at":"2025-12-16T11:13:36.899986Z", "updated_at":"2025-12-16T11:13:36.899986Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"key_value", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.799434ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11db68bd-1663-4000-b53c-5729909558d6/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.541945ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUifQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11db68bd-1663-4000-b53c-5729909558d6/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"11db68bd-1663-4000-b53c-5729909558d6", "status":"enabled", "created_at":"2025-12-16T11:13:37.681575Z", "updated_at":"2025-12-16T11:13:37.681575Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 473.331856ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11db68bd-1663-4000-b53c-5729909558d6/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"11db68bd-1663-4000-b53c-5729909558d6", "status":"enabled", "created_at":"2025-12-16T11:13:37.681575Z", "updated_at":"2025-12-16T11:13:37.681575Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.141331ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUiLCAiaW52YWxpZCI6IHt9fQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/11db68bd-1663-4000-b53c-5729909558d6/versions
        method: POST
      response:
        body: '{"details":[{"argument_name":"data","help_message":"- invalid: Invalid type. Expected: string, given: object\n","reason":"format"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 368.56817ms
[...]
