---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/79506f9a-52ec-45bc-894d-8826a9c6aabb","id":"79506f9a-52ec-45bc-894d-8826a9c6aabb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-05T16:46:12.426946Z","updated_at":"2026-10-05T16:46:12.430898Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-05T16:46:12.430898Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 272.996065ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.505659ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/79506f9a-52ec-45bc-894d-8826a9c6aabb
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/79506f9a-52ec-45bc-894d-8826a9c6aabb","id":"79506f9a-52ec-45bc-894d-8826a9c6aabb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-secret-kms-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-05T16:46:12.426946Z","updated_at":"2026-10-05T16:46:12.430898Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-05T16:46:12.430898Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 122.398187ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","tags":null,"type":"opaque","path":"/","protected":false,"key_id":"79506f9a-52ec-45bc-894d-8826a9c6aabb"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"3b4cf2fc-389b-4e33-b7fe-c22cf875be07","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","status":"ready","created_at":"2026-10-05T16:46:12.780008Z","updated_at":"2026-10-05T16:46:12.780008Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":"79506f9a-52ec-45bc-894d-8826a9c6aabb","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 189.335999ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3b4cf2fc-389b-4e33-b7fe-c22cf875be07
        method: GET
      response:
        body: '{"srn":"","id":"3b4cf2fc-389b-4e33-b7fe-c22cf875be07","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-kms-secret","status":"ready","created_at":"2026-10-05T16:46:12.780008Z","updated_at":"2026-10-05T16:46:12.780008Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":"79506f9a-52ec-45bc-894d-8826a9c6aabb","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.009182ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3b4cf2fc-389b-4e33-b7fe-c22cf875be07/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.808443ms
[...]
