---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.602708Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"2bded687-368d-41b6-8595-6d76bdc91f34","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:44:59.602708Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.932417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2bded687-368d-41b6-8595-6d76bdc91f34
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.602708Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"2bded687-368d-41b6-8595-6d76bdc91f34","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:44:59.602708Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.719667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2bded687-368d-41b6-8595-6d76bdc91f34/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.799833ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2bded687-368d-41b6-8595-6d76bdc91f34
        method: PATCH
      response:
        body: '{"created_at":"2025-03-13T13:44:59.602708Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"2bded687-368d-41b6-8595-6d76bdc91f34","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:45:04.698184Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.928375ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2bded687-368d-41b6-8595-6d76bdc91f34
        method: PATCH
      response:
        body: '{"created_at":"2025-03-13T13:44:59.602708Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"2bded687-368d-41b6-8595-6d76bdc91f34","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path-change","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-03-13T13:45:10.372829Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.807958ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2bded687-368d-41b6-8595-6d76bdc91f34
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"2bded687-368d-41b6-8595-6d76bdc91f34","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.953208ms
