---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-09-08T06:36:33.603213Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32","key_id":null,"managed":false,"name":"secretVersionNameBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-09-08T06:36:33.603213Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.251666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32
        method: GET
      response:
        body: '{"created_at":"2025-09-08T06:36:33.603213Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32","key_id":null,"managed":false,"name":"secretVersionNameBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-09-08T06:36:33.603213Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.745875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.518917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32/versions
        method: POST
      response:
        body: '{"created_at":"2025-09-08T06:36:34.313886Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32","status":"enabled","updated_at":"2025-09-08T06:36:34.313886Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 390.060208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-09-08T06:36:34.313886Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b0fc0bfa-3d12-4b53-8f7f-e9fd7814fd32","status":"enabled","updated_at":"2025-09-08T06:36:34.313886Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.262875ms
[...]
