---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-policy-secret","tags":null,"type":"unknown_type","path":"/","ephemeral_policy":{"time_to_live":"1800.000000000s","expires_once_accessed":false,"action":"disable"},"protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-07T12:58:14.029219Z","description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"c833feb6-57db-40c1-bbed-100c3a84cf19","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-07T12:58:14.029219Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.444675ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c833feb6-57db-40c1-bbed-100c3a84cf19
        method: GET
      response:
        body: '{"created_at":"2024-08-07T12:58:14.029219Z","description":"","ephemeral_policy":{"action":"disable","expires_once_accessed":false,"time_to_live":"1800s"},"id":"c833feb6-57db-40c1-bbed-100c3a84cf19","managed":false,"name":"test-secret-policy-secret","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-08-07T12:58:14.029219Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.95644ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c833feb6-57db-40c1-bbed-100c3a84cf19
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"c833feb6-57db-40c1-bbed-100c3a84cf19","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.821197ms
