---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:25:04.973299Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"9ebff0c6-f867-4765-baab-ae9ea578436c","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:25:04.973299Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.711833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ebff0c6-f867-4765-baab-ae9ea578436c
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:25:04.973299Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"9ebff0c6-f867-4765-baab-ae9ea578436c","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:25:04.973299Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.875375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ebff0c6-f867-4765-baab-ae9ea578436c/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.962875ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ebff0c6-f867-4765-baab-ae9ea578436c
        method: PATCH
      response:
        body: '{"created_at":"2025-05-22T15:25:04.973299Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"9ebff0c6-f867-4765-baab-ae9ea578436c","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/test-secret-path","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:25:05.929639Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.470916ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9ebff0c6-f867-4765-baab-ae9ea578436c
        method: PATCH
      response:
        body: '{"created_at":"2025-05-22T15:25:04.973299Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"9ebff0c6-f867-4765-baab-ae9ea578436c","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/test-secret-path-change","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-22T15:25:07.190857Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.330583ms
[...]
