---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"9d9b1f3a-d450-41d6-b8e0-291cafce014f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameDataWO", "status":"ready", "created_at":"2025-12-15T15:48:25.550879Z", "updated_at":"2025-12-15T15:48:25.550879Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.899188ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9d9b1f3a-d450-41d6-b8e0-291cafce014f
        method: GET
      response:
        body: '{"id":"9d9b1f3a-d450-41d6-b8e0-291cafce014f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameDataWO", "status":"ready", "created_at":"2025-12-15T15:48:25.550879Z", "updated_at":"2025-12-15T15:48:25.550879Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.112555ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9d9b1f3a-d450-41d6-b8e0-291cafce014f/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.118809ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9d9b1f3a-d450-41d6-b8e0-291cafce014f/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"9d9b1f3a-d450-41d6-b8e0-291cafce014f", "status":"enabled", "created_at":"2025-12-15T15:48:26.191958Z", "updated_at":"2025-12-15T15:48:26.191958Z", "deleted_at":null, "description":"secret description", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.053239ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9d9b1f3a-d450-41d6-b8e0-291cafce014f/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"9d9b1f3a-d450-41d6-b8e0-291cafce014f", "status":"enabled", "created_at":"2025-12-15T15:48:26.191958Z", "updated_at":"2025-12-15T15:48:26.191958Z", "deleted_at":null, "description":"secret description", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.464643ms
[...]
