---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"ad3010d8-fd19-4cd2-8f63-8d944246b52b", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameDataWO", "status":"ready", "created_at":"2025-12-16T11:13:43.308060Z", "updated_at":"2025-12-16T11:13:43.308060Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.13073ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad3010d8-fd19-4cd2-8f63-8d944246b52b
        method: GET
      response:
        body: '{"id":"ad3010d8-fd19-4cd2-8f63-8d944246b52b", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameDataWO", "status":"ready", "created_at":"2025-12-16T11:13:43.308060Z", "updated_at":"2025-12-16T11:13:43.308060Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.466154ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad3010d8-fd19-4cd2-8f63-8d944246b52b/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.694465ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfbmV3X3N1cGVyX3NlY3JldA==","description":"secret description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad3010d8-fd19-4cd2-8f63-8d944246b52b/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"ad3010d8-fd19-4cd2-8f63-8d944246b52b", "status":"enabled", "created_at":"2025-12-16T11:13:44.151434Z", "updated_at":"2025-12-16T11:13:44.151434Z", "deleted_at":null, "description":"secret description", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 462.590545ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ad3010d8-fd19-4cd2-8f63-8d944246b52b/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"ad3010d8-fd19-4cd2-8f63-8d944246b52b", "status":"enabled", "created_at":"2025-12-16T11:13:44.151434Z", "updated_at":"2025-12-16T11:13:44.151434Z", "deleted_at":null, "description":"secret description", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.520468ms
[...]
