---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"449c840f-5c78-409e-8db4-0585199789f1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretNameBasic","status":"ready","created_at":"2026-10-09T14:04:51.926015Z","updated_at":"2026-10-09T14:04:51.926015Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 686.212776ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.531473ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/449c840f-5c78-409e-8db4-0585199789f1
        method: GET
      response:
        body: '{"srn":"","id":"449c840f-5c78-409e-8db4-0585199789f1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretNameBasic","status":"ready","created_at":"2026-10-09T14:04:51.926015Z","updated_at":"2026-10-09T14:04:51.926015Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 106.886795ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/449c840f-5c78-409e-8db4-0585199789f1/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.854848ms
[...]
