---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-path-secret\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"7a26b981-4d70-4e99-b587-c1cc91a86279\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-path-secret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:14:29.737696Z\",\"updated_at\":\"2025-09-23T10:14:29.737696Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 264.481166ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7a26b981-4d70-4e99-b587-c1cc91a86279
    method: GET
  response:
    body: "{\"id\":\"7a26b981-4d70-4e99-b587-c1cc91a86279\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-path-secret\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:14:29.737696Z\",\"updated_at\":\"2025-09-23T10:14:29.737696Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 459.732787ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7a26b981-4d70-4e99-b587-c1cc91a86279/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 209.568701ms
[...]
