---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"5aef25f5-7301-44b4-9e83-860066c6c9b0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-05-28T14:07:35.277739Z","updated_at":"2026-05-28T14:07:35.277739Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.7522ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5aef25f5-7301-44b4-9e83-860066c6c9b0
        method: GET
      response:
        body: '{"id":"5aef25f5-7301-44b4-9e83-860066c6c9b0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-05-28T14:07:35.277739Z","updated_at":"2026-05-28T14:07:35.277739Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.706091ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5aef25f5-7301-44b4-9e83-860066c6c9b0/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.386231ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5aef25f5-7301-44b4-9e83-860066c6c9b0
        method: PATCH
      response:
        body: '{"id":"5aef25f5-7301-44b4-9e83-860066c6c9b0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-05-28T14:07:35.277739Z","updated_at":"2026-05-28T14:07:37.440803Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/test-secret-path","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.335724ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5aef25f5-7301-44b4-9e83-860066c6c9b0
        method: PATCH
      response:
        body: '{"id":"5aef25f5-7301-44b4-9e83-860066c6c9b0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-05-28T14:07:35.277739Z","updated_at":"2026-05-28T14:07:40.111080Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/test-secret-path-change","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.382381ms
[...]
