---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"b10ac21b-4a7c-48ac-9f8b-5a623ac279a8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-10-09T14:04:52.152979Z","updated_at":"2026-10-09T14:04:52.152979Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 898.481397ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 26.110963ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10ac21b-4a7c-48ac-9f8b-5a623ac279a8
        method: GET
      response:
        body: '{"srn":"","id":"b10ac21b-4a7c-48ac-9f8b-5a623ac279a8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-10-09T14:04:52.152979Z","updated_at":"2026-10-09T14:04:52.152979Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "29"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.629024ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10ac21b-4a7c-48ac-9f8b-5a623ac279a8/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.423422ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"dmVyc2lvbi1kYXRh"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10ac21b-4a7c-48ac-9f8b-5a623ac279a8/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"b10ac21b-4a7c-48ac-9f8b-5a623ac279a8","status":"enabled","created_at":"2026-10-09T14:04:53.052044Z","updated_at":"2026-10-09T14:04:53.052044Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "27"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 793.774292ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b10ac21b-4a7c-48ac-9f8b-5a623ac279a8/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"b10ac21b-4a7c-48ac-9f8b-5a623ac279a8","status":"enabled","created_at":"2026-10-09T14:04:53.052044Z","updated_at":"2026-10-09T14:04:53.052044Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.194791ms
[...]
