---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"41d5d749-aaab-4503-8ae3-c593c4846010","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-03T15:27:54.644460Z","updated_at":"2026-07-03T15:27:54.644460Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.277664ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/41d5d749-aaab-4503-8ae3-c593c4846010
        method: GET
      response:
        body: '{"id":"41d5d749-aaab-4503-8ae3-c593c4846010","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-03T15:27:54.644460Z","updated_at":"2026-07-03T15:27:54.644460Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.713597ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/41d5d749-aaab-4503-8ae3-c593c4846010/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.21352ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/41d5d749-aaab-4503-8ae3-c593c4846010
        method: PATCH
      response:
        body: '{"id":"41d5d749-aaab-4503-8ae3-c593c4846010","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-03T15:27:54.644460Z","updated_at":"2026-07-03T15:27:56.647509Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/test-secret-path","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.80109ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/41d5d749-aaab-4503-8ae3-c593c4846010
        method: PATCH
      response:
        body: '{"id":"41d5d749-aaab-4503-8ae3-c593c4846010","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-03T15:27:54.644460Z","updated_at":"2026-07-03T15:28:00.056060Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/test-secret-path-change","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.997829ms
[...]
