---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"19b0456f-43e4-40de-adfc-e081c5f8a801", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameBasic", "status":"ready", "created_at":"2026-08-24T14:38:37.573003Z", "updated_at":"2026-08-24T14:38:37.573003Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.594794ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.382819ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/19b0456f-43e4-40de-adfc-e081c5f8a801
        method: GET
      response:
        body: '{"id":"19b0456f-43e4-40de-adfc-e081c5f8a801", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameBasic", "status":"ready", "created_at":"2026-08-24T14:38:37.573003Z", "updated_at":"2026-08-24T14:38:37.573003Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret description", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.513754ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/19b0456f-43e4-40de-adfc-e081c5f8a801/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.133051ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/19b0456f-43e4-40de-adfc-e081c5f8a801/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"19b0456f-43e4-40de-adfc-e081c5f8a801", "status":"enabled", "created_at":"2026-08-24T14:38:38.162971Z", "updated_at":"2026-08-24T14:38:38.162971Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.752451ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/19b0456f-43e4-40de-adfc-e081c5f8a801/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"19b0456f-43e4-40de-adfc-e081c5f8a801", "status":"enabled", "created_at":"2026-08-24T14:38:38.162971Z", "updated_at":"2026-08-24T14:38:38.162971Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.467737ms
[...]
