---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.601984Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"b3326fc2-93ed-4760-9f00-acedfc9ec10d","managed":false,"name":"secretVersionNameBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-13T13:44:59.601984Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.272792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b3326fc2-93ed-4760-9f00-acedfc9ec10d
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.601984Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"b3326fc2-93ed-4760-9f00-acedfc9ec10d","managed":false,"name":"secretVersionNameBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2025-03-13T13:44:59.601984Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.774292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b3326fc2-93ed-4760-9f00-acedfc9ec10d/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.265041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b3326fc2-93ed-4760-9f00-acedfc9ec10d/versions
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:45:00.138775Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b3326fc2-93ed-4760-9f00-acedfc9ec10d","status":"enabled","updated_at":"2025-03-13T13:45:00.138775Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.882959ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b3326fc2-93ed-4760-9f00-acedfc9ec10d/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:45:00.138775Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"b3326fc2-93ed-4760-9f00-acedfc9ec10d","status":"enabled","updated_at":"2025-03-13T13:45:00.138775Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.096083ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b3326fc2-93ed-4760-9f00-acedfc9ec10d/versions/1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"b3326fc2-93ed-4760-9f00-acedfc9ec10d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.309834ms
[...]
