---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-policy-secret","tags":null,"type":"opaque","path":"/","ephemeral_policy":{"time_to_live":"1800.000000000s","expires_once_accessed":false,"action":"disable"},"protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"64e478d0-e8e7-443f-ba00-4ae597d0bf85", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-policy-secret", "status":"ready", "created_at":"2025-12-16T11:13:36.915901Z", "updated_at":"2025-12-16T11:13:36.915901Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":{"time_to_live":"1800s", "expires_once_accessed":false, "action":"disable"}, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.66204ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64e478d0-e8e7-443f-ba00-4ae597d0bf85
        method: GET
      response:
        body: '{"id":"64e478d0-e8e7-443f-ba00-4ae597d0bf85", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-secret-policy-secret", "status":"ready", "created_at":"2025-12-16T11:13:36.915901Z", "updated_at":"2025-12-16T11:13:36.915901Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":{"time_to_live":"1800s", "expires_once_accessed":false, "action":"disable"}, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.544194ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64e478d0-e8e7-443f-ba00-4ae597d0bf85/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.890946ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64e478d0-e8e7-443f-ba00-4ae597d0bf85
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"secret","resource_id":"64e478d0-e8e7-443f-ba00-4ae597d0bf85","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 221.832399ms
