---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"b526abed-eb2c-461c-8e15-8131d7347881","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","status":"ready","created_at":"2026-06-04T09:49:23.342116Z","updated_at":"2026-06-04T09:49:23.342116Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.179806ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b526abed-eb2c-461c-8e15-8131d7347881
        method: GET
      response:
        body: '{"id":"b526abed-eb2c-461c-8e15-8131d7347881","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","status":"ready","created_at":"2026-06-04T09:49:23.342116Z","updated_at":"2026-06-04T09:49:23.342116Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.04612ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b526abed-eb2c-461c-8e15-8131d7347881/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.926938ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b526abed-eb2c-461c-8e15-8131d7347881/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"b526abed-eb2c-461c-8e15-8131d7347881","status":"enabled","created_at":"2026-06-04T09:49:23.821455Z","updated_at":"2026-06-04T09:49:23.821455Z","deleted_at":null,"description":"secret description","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.230658ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b526abed-eb2c-461c-8e15-8131d7347881/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"b526abed-eb2c-461c-8e15-8131d7347881","status":"enabled","created_at":"2026-06-04T09:49:23.821455Z","updated_at":"2026-06-04T09:49:23.821455Z","deleted_at":null,"description":"secret description","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.318115ms
[...]
