---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretNameBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"b54c47b6-3d61-43e2-a79e-6fbe14a3e41b\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretNameBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.847771Z\",\"updated_at\":\"2025-09-01T14:59:18.847771Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.250665ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b54c47b6-3d61-43e2-a79e-6fbe14a3e41b
    method: GET
  response:
    body: "{\"id\":\"b54c47b6-3d61-43e2-a79e-6fbe14a3e41b\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretNameBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.847771Z\",\"updated_at\":\"2025-09-01T14:59:18.847771Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.756857ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b54c47b6-3d61-43e2-a79e-6fbe14a3e41b/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.33742ms
[...]
