---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"20300372-99a5-4956-ae62-81622b0bb166","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-07-03T15:27:54.575729Z","updated_at":"2026-07-03T15:27:54.575729Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 297.511462ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/20300372-99a5-4956-ae62-81622b0bb166
        method: GET
      response:
        body: '{"id":"20300372-99a5-4956-ae62-81622b0bb166","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-07-03T15:27:54.575729Z","updated_at":"2026-07-03T15:27:54.575729Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.619862ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/20300372-99a5-4956-ae62-81622b0bb166/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.938531ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"dmVyc2lvbi1kYXRh"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/20300372-99a5-4956-ae62-81622b0bb166/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"20300372-99a5-4956-ae62-81622b0bb166","status":"enabled","created_at":"2026-07-03T15:27:55.307475Z","updated_at":"2026-07-03T15:27:55.307475Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.375245ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/20300372-99a5-4956-ae62-81622b0bb166/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"20300372-99a5-4956-ae62-81622b0bb166","status":"enabled","created_at":"2026-07-03T15:27:55.307475Z","updated_at":"2026-07-03T15:27:55.307475Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.27173ms
[...]
