---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameType","tags":null,"type":"key_value","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:44:59.687941Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"e11ce182-8a54-46e0-8fde-204fea369b6d","managed":false,"name":"secretVersionNameType","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"key_value","updated_at":"2025-03-13T13:44:59.687941Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.448583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e11ce182-8a54-46e0-8fde-204fea369b6d
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:44:59.687941Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"e11ce182-8a54-46e0-8fde-204fea369b6d","managed":false,"name":"secretVersionNameType","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"key_value","updated_at":"2025-03-13T13:44:59.687941Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.113792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e11ce182-8a54-46e0-8fde-204fea369b6d/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.388375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUifQ==","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e11ce182-8a54-46e0-8fde-204fea369b6d/versions
        method: POST
      response:
        body: '{"created_at":"2025-03-13T13:45:00.158300Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"e11ce182-8a54-46e0-8fde-204fea369b6d","status":"enabled","updated_at":"2025-03-13T13:45:00.158300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.996333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e11ce182-8a54-46e0-8fde-204fea369b6d/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-03-13T13:45:00.158300Z","deleted_at":null,"deletion_requested_at":null,"description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"e11ce182-8a54-46e0-8fde-204fea369b6d","status":"enabled","updated_at":"2025-03-13T13:45:00.158300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.051542ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUiLCAiaW52YWxpZCI6IHt9fQ==","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e11ce182-8a54-46e0-8fde-204fea369b6d/versions
        method: POST
      response:
        body: '{"details":[{"argument_name":"data","help_message":"- invalid: Invalid type. Expected: string, given: object\n","reason":"format"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 32.602917ms
[...]
