---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-path-secret\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"3b4675ab-c72c-4a02-b2fa-a8010252399d\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-path-secret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.206961Z\", \"updated_at\":\"2025-11-20T14:19:47.206961Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 299.84701ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3b4675ab-c72c-4a02-b2fa-a8010252399d
    method: GET
  response:
    body: "{\"id\":\"3b4675ab-c72c-4a02-b2fa-a8010252399d\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"test-secret-path-secret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T14:19:47.206961Z\", \"updated_at\":\"2025-11-20T14:19:47.206961Z\", \"tags\":[], \"version_count\":0, \"description\":\"\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 461.00337ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3b4675ab-c72c-4a02-b2fa-a8010252399d/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 460.78131ms
[...]
