---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-policy-secret\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/\",\"ephemeral_policy\":{\"time_to_live\":\"1800.000000000s\",\"expires_once_accessed\":false,\"action\":\"disable\"},\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"ce5be7fb-1a64-4d61-a9ca-2e793235ae1e\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-policy-secret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.938146Z\",\"updated_at\":\"2025-09-01T14:59:18.938146Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":{\"time_to_live\":\"1800s\",\"expires_once_accessed\":false,\"action\":\"disable\"},\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 236.103586ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ce5be7fb-1a64-4d61-a9ca-2e793235ae1e
    method: GET
  response:
    body: "{\"id\":\"ce5be7fb-1a64-4d61-a9ca-2e793235ae1e\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-secret-policy-secret\",\"status\":\"ready\",\"created_at\":\"2025-09-01T14:59:18.938146Z\",\"updated_at\":\"2025-09-01T14:59:18.938146Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":{\"time_to_live\":\"1800s\",\"expires_once_accessed\":false,\"action\":\"disable\"},\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 187.281333ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ce5be7fb-1a64-4d61-a9ca-2e793235ae1e/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.122425ms
[...]
