---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameBasic\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"description\":\"secret description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"002372d9-0377-4aed-aa82-91569bae1364\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:15:18.417220Z\",\"updated_at\":\"2025-09-23T10:15:18.417220Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 259.299311ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/002372d9-0377-4aed-aa82-91569bae1364
    method: GET
  response:
    body: "{\"id\":\"002372d9-0377-4aed-aa82-91569bae1364\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"secretVersionNameBasic\",\"status\":\"ready\",\"created_at\":\"2025-09-23T10:15:18.417220Z\",\"updated_at\":\"2025-09-23T10:15:18.417220Z\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"version_count\":0,\"description\":\"secret description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.353042184s
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/002372d9-0377-4aed-aa82-91569bae1364/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 374.683117ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"data\":\"bXlfc3VwZXJfc2VjcmV0\",\"description\":\"version1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/002372d9-0377-4aed-aa82-91569bae1364/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"002372d9-0377-4aed-aa82-91569bae1364\",\"status\":\"enabled\",\"created_at\":\"2025-09-23T10:15:20.583812Z\",\"updated_at\":\"2025-09-23T10:15:20.583812Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 534.474024ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/002372d9-0377-4aed-aa82-91569bae1364/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"002372d9-0377-4aed-aa82-91569bae1364\",\"status\":\"enabled\",\"created_at\":\"2025-09-23T10:15:20.583812Z\",\"updated_at\":\"2025-09-23T10:15:20.583812Z\",\"deleted_at\":null,\"description\":\"version1\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.420185ms
[...]
