---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2c15000d-011c-47d9-b54d-e8201aeae491
        method: GET
      response:
        body: '{"created_at":"2025-10-13T16:08:46.793517Z","deletion_requested_at":null,"description":"secret description","ephemeral_policy":null,"id":"2c15000d-011c-47d9-b54d-e8201aeae491","key_id":null,"managed":false,"name":"secretNameBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-10-13T16:08:46.793517Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.505625ms
[...]
