---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","name":"secretVersionNameDataWOB","tags":["devtools","provider","terraform"],"description":"secret descriptionB","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"4c0e7394-1d58-4113-b1ae-0efb2e310b7b", "project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e", "name":"secretVersionNameDataWOB", "status":"ready", "created_at":"2025-12-18T13:27:18.879621Z", "updated_at":"2025-12-18T13:27:18.879621Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret descriptionB", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.858627ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c0e7394-1d58-4113-b1ae-0efb2e310b7b
        method: GET
      response:
        body: '{"id":"4c0e7394-1d58-4113-b1ae-0efb2e310b7b", "project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e", "name":"secretVersionNameDataWOB", "status":"ready", "created_at":"2025-12-18T13:27:18.879621Z", "updated_at":"2025-12-18T13:27:18.879621Z", "tags":["devtools", "provider", "terraform"], "version_count":0, "description":"secret descriptionB", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.954801ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c0e7394-1d58-4113-b1ae-0efb2e310b7b/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.854128ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret descriptionB"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c0e7394-1d58-4113-b1ae-0efb2e310b7b/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"4c0e7394-1d58-4113-b1ae-0efb2e310b7b", "status":"enabled", "created_at":"2025-12-18T13:27:19.314253Z", "updated_at":"2025-12-18T13:27:19.314253Z", "deleted_at":null, "description":"secret descriptionB", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.049286ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/4c0e7394-1d58-4113-b1ae-0efb2e310b7b/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"4c0e7394-1d58-4113-b1ae-0efb2e310b7b", "status":"enabled", "created_at":"2025-12-18T13:27:19.314253Z", "updated_at":"2025-12-18T13:27:19.314253Z", "deleted_at":null, "description":"secret descriptionB", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.535631ms
[...]
