---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameType","tags":null,"type":"key_value","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"24815f9f-261c-43ae-b7db-4c0e983f9279", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameType", "status":"ready", "created_at":"2025-12-15T15:48:25.573065Z", "updated_at":"2025-12-15T15:48:25.573065Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"key_value", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.683657ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24815f9f-261c-43ae-b7db-4c0e983f9279
        method: GET
      response:
        body: '{"id":"24815f9f-261c-43ae-b7db-4c0e983f9279", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"secretVersionNameType", "status":"ready", "created_at":"2025-12-15T15:48:25.573065Z", "updated_at":"2025-12-15T15:48:25.573065Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"key_value", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.612283ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24815f9f-261c-43ae-b7db-4c0e983f9279/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.235173ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUifQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24815f9f-261c-43ae-b7db-4c0e983f9279/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"24815f9f-261c-43ae-b7db-4c0e983f9279", "status":"enabled", "created_at":"2025-12-15T15:48:26.329934Z", "updated_at":"2025-12-15T15:48:26.329934Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.895201ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24815f9f-261c-43ae-b7db-4c0e983f9279/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"24815f9f-261c-43ae-b7db-4c0e983f9279", "status":"enabled", "created_at":"2025-12-15T15:48:26.329934Z", "updated_at":"2025-12-15T15:48:26.329934Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.846114ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUiLCAiaW52YWxpZCI6IHt9fQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24815f9f-261c-43ae-b7db-4c0e983f9279/versions
        method: POST
      response:
        body: '{"details":[{"argument_name":"data","help_message":"- invalid: Invalid type. Expected: string, given: object\n","reason":"format"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 80.951244ms
[...]
