---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-05-26T13:51:33.732488Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"67b1db91-e1ab-47c8-8049-a28b7176b15d","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-26T13:51:33.732488Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.842208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/67b1db91-e1ab-47c8-8049-a28b7176b15d
        method: GET
      response:
        body: '{"created_at":"2025-05-26T13:51:33.732488Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"67b1db91-e1ab-47c8-8049-a28b7176b15d","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-26T13:51:33.732488Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.752125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/67b1db91-e1ab-47c8-8049-a28b7176b15d/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.654666ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/67b1db91-e1ab-47c8-8049-a28b7176b15d
        method: PATCH
      response:
        body: '{"created_at":"2025-05-26T13:51:33.732488Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"67b1db91-e1ab-47c8-8049-a28b7176b15d","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/test-secret-path","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-26T13:51:34.802795Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.559167ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/67b1db91-e1ab-47c8-8049-a28b7176b15d
        method: PATCH
      response:
        body: '{"created_at":"2025-05-26T13:51:33.732488Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"67b1db91-e1ab-47c8-8049-a28b7176b15d","key_id":null,"managed":false,"name":"test-secret-path-secret","path":"/test-secret-path-change","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-05-26T13:51:36.152010Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.318959ms
[...]
