---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"secretVersionNameType","tags":null,"type":"key_value","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2024-08-09T13:24:23.535616Z","description":"","ephemeral_policy":null,"id":"08755195-49d8-4f31-803c-f37385735e15","managed":false,"name":"secretVersionNameType","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"key_value","updated_at":"2024-08-09T13:24:23.535616Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.202276ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/08755195-49d8-4f31-803c-f37385735e15
        method: GET
      response:
        body: '{"created_at":"2024-08-09T13:24:23.535616Z","description":"","ephemeral_policy":null,"id":"08755195-49d8-4f31-803c-f37385735e15","managed":false,"name":"secretVersionNameType","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"key_value","updated_at":"2024-08-09T13:24:23.535616Z","version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.042431ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUifQ==","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/08755195-49d8-4f31-803c-f37385735e15/versions
        method: POST
      response:
        body: '{"created_at":"2024-08-09T13:24:23.743586Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"08755195-49d8-4f31-803c-f37385735e15","status":"enabled","updated_at":"2024-08-09T13:24:23.743586Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.396791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/08755195-49d8-4f31-803c-f37385735e15/versions/1
        method: GET
      response:
        body: '{"created_at":"2024-08-09T13:24:23.743586Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"08755195-49d8-4f31-803c-f37385735e15","status":"enabled","updated_at":"2024-08-09T13:24:23.743586Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.11609ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiAidmFsdWUiLCAiaW52YWxpZCI6IHt9fQ==","description":"version1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/08755195-49d8-4f31-803c-f37385735e15/versions
        method: POST
      response:
        body: '{"details":[{"argument_name":"data","help_message":"- invalid: Invalid type. Expected: string, given: object\n","reason":"format"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 20.300138ms
[...]
