---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"3630efdd-2523-4b3f-9a52-5dc510686b2b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-06-24T09:38:38.806136Z","updated_at":"2026-06-24T09:38:38.806136Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.306257ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3630efdd-2523-4b3f-9a52-5dc510686b2b
        method: GET
      response:
        body: '{"id":"3630efdd-2523-4b3f-9a52-5dc510686b2b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-06-24T09:38:38.806136Z","updated_at":"2026-06-24T09:38:38.806136Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.028779ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3630efdd-2523-4b3f-9a52-5dc510686b2b/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.437826ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"dmVyc2lvbi1kYXRh"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3630efdd-2523-4b3f-9a52-5dc510686b2b/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"3630efdd-2523-4b3f-9a52-5dc510686b2b","status":"enabled","created_at":"2026-06-24T09:38:39.446382Z","updated_at":"2026-06-24T09:38:39.446382Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.764967ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3630efdd-2523-4b3f-9a52-5dc510686b2b/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"3630efdd-2523-4b3f-9a52-5dc510686b2b","status":"enabled","created_at":"2026-06-24T09:38:39.446382Z","updated_at":"2026-06-24T09:38:39.446382Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 18.282379ms
[...]
