---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"78.232.33.249","id":"e0d8ded5-4b77-4218-af23-c9d5290fa23f","ipam_id":"e0d8ded5-4b77-4218-af23-c9d5290fa23f","organization":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","prefix":null,"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e0d8ded5-4b77-4218-af23-c9d5290fa23f
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 270.561443ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/0aed034a-faed-4c82-8414-7e51da9f2b67
        method: GET
      response:
        body: '{"ip":{"address":"51.159.190.141","id":"0aed034a-faed-4c82-8414-7e51da9f2b67","ipam_id":"0aed034a-faed-4c82-8414-7e51da9f2b67","organization":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","prefix":null,"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.59412ms
[...]
