---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"78.232.33.249","id":"ab5968d5-b327-4039-bc0c-17e28836f186","ipam_id":"ab5968d5-b327-4039-bc0c-17e28836f186","organization":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","prefix":null,"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ab5968d5-b327-4039-bc0c-17e28836f186
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 386.82817ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ab5968d5-b327-4039-bc0c-17e28836f186
        method: GET
      response:
        body: '{"ip":{"address":"78.232.33.249","id":"ab5968d5-b327-4039-bc0c-17e28836f186","ipam_id":"ab5968d5-b327-4039-bc0c-17e28836f186","organization":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","prefix":null,"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 146.210857ms
[...]
