---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"78.232.33.249","id":"b57ae175-b0b2-4b72-8080-fb8d2fb8262d","ipam_id":"b57ae175-b0b2-4b72-8080-fb8d2fb8262d","organization":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","prefix":null,"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b57ae175-b0b2-4b72-8080-fb8d2fb8262d
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 401.321509ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b57ae175-b0b2-4b72-8080-fb8d2fb8262d
        method: GET
      response:
        body: '{"ip":{"address":"78.232.33.249","id":"b57ae175-b0b2-4b72-8080-fb8d2fb8262d","ipam_id":"b57ae175-b0b2-4b72-8080-fb8d2fb8262d","organization":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","prefix":null,"project":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 128.238163ms
[...]
