---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.397210609Z","description":"","environment_variables":{},"error_message":null,"id":"1aafcc97-4ee6-40a2-89d1-7e2313e17224","name":"tf-ds-function","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.397210609Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 752.600083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/1aafcc97-4ee6-40a2-89d1-7e2313e17224
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.397211Z","description":"","environment_variables":{},"error_message":null,"id":"1aafcc97-4ee6-40a2-89d1-7e2313e17224","name":"tf-ds-function","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.397211Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.901458ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","namespace_id":"1aafcc97-4ee6-40a2-89d1-7e2313e17224","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.012959565Z","description":"","domain_name":"tfdsfunctionzrbseofv-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"10160653-f828-464f-986a-6ae95e7676f6","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"1aafcc97-4ee6-40a2-89d1-7e2313e17224","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.012959565Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 387.100042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/10160653-f828-464f-986a-6ae95e7676f6
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.012960Z","description":"","domain_name":"tfdsfunctionzrbseofv-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"10160653-f828-464f-986a-6ae95e7676f6","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"1aafcc97-4ee6-40a2-89d1-7e2313e17224","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.012960Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.227542ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions?name=tf-ds-function&namespace_id=1aafcc97-4ee6-40a2-89d1-7e2313e17224&order_by=created_at_asc
        method: GET
      response:
        body: '{"functions":[{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.012960Z","description":"","domain_name":"tfdsfunctionzrbseofv-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"10160653-f828-464f-986a-6ae95e7676f6","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"1aafcc97-4ee6-40a2-89d1-7e2313e17224","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.012960Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.556625ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/1aafcc97-4ee6-40a2-89d1-7e2313e17224
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.475584ms
[...]
