---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"aaccbbb0-408a-4cc0-8273-748f97987c86","name":"tf-ds-function","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.900888ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/aaccbbb0-408a-4cc0-8273-748f97987c86
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"aaccbbb0-408a-4cc0-8273-748f97987c86","name":"tf-ds-function","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.378335ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","namespace_id":"aaccbbb0-408a-4cc0-8273-748f97987c86","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tfdsfunction9jzaqi1v-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0ca73a65-e8ee-4e18-9373-aaebbc838bdd","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"aaccbbb0-408a-4cc0-8273-748f97987c86","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 291.913752ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0ca73a65-e8ee-4e18-9373-aaebbc838bdd
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tfdsfunction9jzaqi1v-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0ca73a65-e8ee-4e18-9373-aaebbc838bdd","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"aaccbbb0-408a-4cc0-8273-748f97987c86","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.926461ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions?name=tf-ds-function&namespace_id=aaccbbb0-408a-4cc0-8273-748f97987c86&order_by=created_at_asc
        method: GET
      response:
        body: '{"functions":[{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tfdsfunction9jzaqi1v-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0ca73a65-e8ee-4e18-9373-aaebbc838bdd","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"aaccbbb0-408a-4cc0-8273-748f97987c86","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.477684ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/aaccbbb0-408a-4cc0-8273-748f97987c86
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.095807ms
[...]
