---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:14.035883448Z","description":"","environment_variables":{},"error_message":null,"id":"552fb3b3-7bd9-499f-8e11-e1e9db5dece0","name":"tf-ds-function","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:14.035883448Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.824041583s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/552fb3b3-7bd9-499f-8e11-e1e9db5dece0
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:14.035883Z","description":"","environment_variables":{},"error_message":null,"id":"552fb3b3-7bd9-499f-8e11-e1e9db5dece0","name":"tf-ds-function","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:14.035883Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.016596ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","namespace_id":"552fb3b3-7bd9-499f-8e11-e1e9db5dece0","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.465397886Z","description":"","domain_name":"tfdsfunctionut3yjoav-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e27c4778-a4a8-4e1c-bdeb-03b3416add00","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"552fb3b3-7bd9-499f-8e11-e1e9db5dece0","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.465397886Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.128577235s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e27c4778-a4a8-4e1c-bdeb-03b3416add00
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.465398Z","description":"","domain_name":"tfdsfunctionut3yjoav-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e27c4778-a4a8-4e1c-bdeb-03b3416add00","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"552fb3b3-7bd9-499f-8e11-e1e9db5dece0","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.465398Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.687208ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions?name=tf-ds-function&namespace_id=552fb3b3-7bd9-499f-8e11-e1e9db5dece0&order_by=created_at_asc
        method: GET
      response:
        body: '{"functions":[{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.465398Z","description":"","domain_name":"tfdsfunctionut3yjoav-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e27c4778-a4a8-4e1c-bdeb-03b3416add00","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"552fb3b3-7bd9-499f-8e11-e1e9db5dece0","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.465398Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.675758ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/552fb3b3-7bd9-499f-8e11-e1e9db5dece0
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.657562ms
[...]
