---
version: 2
interactions:
- request:
    body: '{"name":"tf-ds-function","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"63ed201d-62d0-4b8f-840f-735cc11093fd","name":"tf-ds-function","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/63ed201d-62d0-4b8f-840f-735cc11093fd
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"63ed201d-62d0-4b8f-840f-735cc11093fd","name":"tf-ds-function","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"tf-ds-function","namespace_id":"63ed201d-62d0-4b8f-840f-735cc11093fd","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tfdsfunctiongd0jpiiy-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"86849f5b-221c-496f-bc79-ec56b81fbabb","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-ds-function","namespace_id":"63ed201d-62d0-4b8f-840f-735cc11093fd","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/86849f5b-221c-496f-bc79-ec56b81fbabb
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tfdsfunctiongd0jpiiy-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"86849f5b-221c-496f-bc79-ec56b81fbabb","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-ds-function","namespace_id":"63ed201d-62d0-4b8f-840f-735cc11093fd","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions?name=tf-ds-function&namespace_id=63ed201d-62d0-4b8f-840f-735cc11093fd&order_by=created_at_asc
    method: GET
  response:
    body: '{"functions":[{"cpu_limit":70,"description":"","domain_name":"tfdsfunctiongd0jpiiy-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"86849f5b-221c-496f-bc79-ec56b81fbabb","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-ds-function","namespace_id":"63ed201d-62d0-4b8f-840f-735cc11093fd","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/63ed201d-62d0-4b8f-840f-735cc11093fd
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
