---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ds-function\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"5d906061-edb6-4753-b90e-a705fbfdccf1\",\"name\":\"tf-ds-function\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:08.154101935Z\",\"updated_at\":\"2025-09-01T15:55:08.154101935Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.553252034s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/5d906061-edb6-4753-b90e-a705fbfdccf1
    method: GET
  response:
    body: "{\"id\":\"5d906061-edb6-4753-b90e-a705fbfdccf1\",\"name\":\"tf-ds-function\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:08.154102Z\",\"updated_at\":\"2025-09-01T15:55:08.154102Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.716849ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ds-function\",\"namespace_id\":\"5d906061-edb6-4753-b90e-a705fbfdccf1\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"882665f6-2aed-47a4-821f-021cf4cc6a83\",\"name\":\"tf-ds-function\",\"namespace_id\":\"5d906061-edb6-4753-b90e-a705fbfdccf1\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tfdsfunctionapmujmyf-tf-ds-function.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:55:22.070395164Z\",\"updated_at\":\"2025-09-01T15:55:22.070395164Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.226162945s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/882665f6-2aed-47a4-821f-021cf4cc6a83
    method: GET
  response:
    body: "{\"id\":\"882665f6-2aed-47a4-821f-021cf4cc6a83\",\"name\":\"tf-ds-function\",\"namespace_id\":\"5d906061-edb6-4753-b90e-a705fbfdccf1\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tfdsfunctionapmujmyf-tf-ds-function.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:55:22.070395Z\",\"updated_at\":\"2025-09-01T15:55:22.070395Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.14351ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-ds-function
      namespace_id:
      - 5d906061-edb6-4753-b90e-a705fbfdccf1
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions?name=tf-ds-function&namespace_id=5d906061-edb6-4753-b90e-a705fbfdccf1&order_by=created_at_asc
    method: GET
  response:
    body: "{\"functions\":[{\"id\":\"882665f6-2aed-47a4-821f-021cf4cc6a83\",\"name\":\"tf-ds-function\",\"namespace_id\":\"5d906061-edb6-4753-b90e-a705fbfdccf1\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tfdsfunctionapmujmyf-tf-ds-function.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:55:22.070395Z\",\"updated_at\":\"2025-09-01T15:55:22.070395Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.861571ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/5d906061-edb6-4753-b90e-a705fbfdccf1
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.455811ms
[...]
