---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-data","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.825839612Z","description":"","environment_variables":{},"error_message":null,"id":"e08913fd-9b67-4c8e-b68b-779c58433459","name":"test-cr-data","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.825839612Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.818614505s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e08913fd-9b67-4c8e-b68b-779c58433459
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.825840Z","description":"","environment_variables":{},"error_message":null,"id":"e08913fd-9b67-4c8e-b68b-779c58433459","name":"test-cr-data","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.825840Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.907708ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2026-05-04T12:38:57.825840Z","description":"","environment_variables":{},"error_message":null,"id":"e08913fd-9b67-4c8e-b68b-779c58433459","name":"test-cr-data","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrdataxaockfy1","registry_namespace_id":"b5145ab0-aaf4-4061-921e-db1774b44571","secret_environment_variables":[],"status":"ready","tags":[],"updated_at":"2026-05-04T12:39:09.775268Z","vpc_integration_activated":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.850982ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e08913fd-9b67-4c8e-b68b-779c58433459
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.492174ms
[...]
