---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.831655766Z","description":"","environment_variables":{},"error_message":null,"id":"f3a5e537-c29c-4f59-8730-fbac2d11f3b3","name":"tf-ds-function","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.831655766Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.84606128s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f3a5e537-c29c-4f59-8730-fbac2d11f3b3
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.831656Z","description":"","environment_variables":{},"error_message":null,"id":"f3a5e537-c29c-4f59-8730-fbac2d11f3b3","name":"tf-ds-function","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.831656Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.225101ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-function","namespace_id":"f3a5e537-c29c-4f59-8730-fbac2d11f3b3","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:28.247349131Z","description":"","domain_name":"tfdsfunction0wb23wag-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e29b610e-ffac-49b2-82ec-c0c1c79bdf05","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"f3a5e537-c29c-4f59-8730-fbac2d11f3b3","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:28.247349131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.0627ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e29b610e-ffac-49b2-82ec-c0c1c79bdf05
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:28.247349Z","description":"","domain_name":"tfdsfunction0wb23wag-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e29b610e-ffac-49b2-82ec-c0c1c79bdf05","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"f3a5e537-c29c-4f59-8730-fbac2d11f3b3","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:28.247349Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.066913ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions?name=tf-ds-function&namespace_id=f3a5e537-c29c-4f59-8730-fbac2d11f3b3&order_by=created_at_asc
        method: GET
      response:
        body: '{"functions":[{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:28.247349Z","description":"","domain_name":"tfdsfunction0wb23wag-tf-ds-function.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e29b610e-ffac-49b2-82ec-c0c1c79bdf05","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-ds-function","namespace_id":"f3a5e537-c29c-4f59-8730-fbac2d11f3b3","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:28.247349Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.208097ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f3a5e537-c29c-4f59-8730-fbac2d11f3b3
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.882675ms
[...]
