---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:10:15.545529Z","description":"","id":"9fc11550-d58f-45a2-96f9-99efd4e86520","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-07-03T15:10:15.545529Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 756.507511ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9fc11550-d58f-45a2-96f9-99efd4e86520
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:10:15.545529Z","description":"","id":"9fc11550-d58f-45a2-96f9-99efd4e86520","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-07-03T15:10:15.545529Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.488971ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:10:16.389044259Z","project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-07-03T15:10:16.389044259Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.836439ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=9fc11550-d58f-45a2-96f9-99efd4e86520
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:10:16.389044Z","project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-07-03T15:10:16.389044Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.652324ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","name":"tf-sqs-credentials-brave-ellis","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"f3iOgyMgseJxnRnND0P8","created_at":"2026-07-03T15:10:16.863784828Z","id":"e5a29adf-df41-439d-8f65-3a6f402ae04a","name":"tf-sqs-credentials-brave-ellis","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","region":"fr-par","secret_checksum":"14bcc6dac53fc75822d52c660628b073625d02a3","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-07-03T15:10:16.863784828Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.842257ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/e5a29adf-df41-439d-8f65-3a6f402ae04a
        method: GET
      response:
        body: '{"access_key":"f3iOgyMgseJxnRnND0P8","created_at":"2026-07-03T15:10:16.863784Z","id":"e5a29adf-df41-439d-8f65-3a6f402ae04a","name":"tf-sqs-credentials-brave-ellis","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","region":"fr-par","secret_checksum":"14bcc6dac53fc75822d52c660628b073625d02a3","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-07-03T15:10:16.863784Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.077271ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"VisibilityTimeout":"30","MaximumMessageSize":"262144","MessageRetentionPeriod":"345600"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bb9c5f54-1d92-4f6b-8cad-38aa6fa2a06b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260703T151017Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-9fc11550-d58f-45a2-96f9-99efd4e86520/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx97dbe381-8a09-4bde-bc33-6d69a918606c
        status: 200 OK
        code: 200
        duration: 222.223204ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-9fc11550-d58f-45a2-96f9-99efd4e86520/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f747127-7ec0-4721-bc9d-cd7ed0ec0b5d
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260703T151017Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-9fc11550-d58f-45a2-96f9-99efd4e86520:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx2dfe9544-e2d4-46d0-b59a-d8153fca3add
        status: 200 OK
        code: 200
        duration: 24.994333ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:10:18.273194567Z","description":"","environment_variables":{},"error_message":null,"id":"47c8f9d2-3565-4e7f-ba42-55aca2ddf6a9","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:10:18.273194567Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.026601456s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/47c8f9d2-3565-4e7f-ba42-55aca2ddf6a9
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:10:18.273195Z","description":"","environment_variables":{},"error_message":null,"id":"47c8f9d2-3565-4e7f-ba42-55aca2ddf6a9","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:10:18.273195Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.059457ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"47c8f9d2-3565-4e7f-ba42-55aca2ddf6a9","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node26","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:10:24.369153748Z","description":"","domain_name":"testfunctiontriggerskqbuanql-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"56012fe3-d7c9-4b22-a421-e88c3725f15f","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"47c8f9d2-3565-4e7f-ba42-55aca2ddf6a9","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:10:24.369153748Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 679.99268ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/56012fe3-d7c9-4b22-a421-e88c3725f15f
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:10:24.369154Z","description":"","domain_name":"testfunctiontriggerskqbuanql-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"56012fe3-d7c9-4b22-a421-e88c3725f15f","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"47c8f9d2-3565-4e7f-ba42-55aca2ddf6a9","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:10:24.369154Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.637118ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"56012fe3-d7c9-4b22-a421-e88c3725f15f","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"56012fe3-d7c9-4b22-a421-e88c3725f15f","id":"e37815fb-e326-47ad-9b30-e2a50ac6be7f","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.745836ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/e37815fb-e326-47ad-9b30-e2a50ac6be7f
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"56012fe3-d7c9-4b22-a421-e88c3725f15f","id":"e37815fb-e326-47ad-9b30-e2a50ac6be7f","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.644345ms
[...]
    - id: 41
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8e5a4a9f-14ed-44a9-92ef-45a4cc5544c8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260703T151048Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx9bcd7022-f5d6-47e9-acf3-6f962a8216d2
        status: 404 Not Found
        code: 404
        duration: 23.612286ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: '{"project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"9fc11550-d58f-45a2-96f9-99efd4e86520","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.26732ms
[...]
