---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-token-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:17.682037402Z","description":"","environment_variables":{},"error_message":null,"id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","name":"test-function-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:17.682037402Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.594700125s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d44cbdb4-2f2e-41cd-9436-115744da9f45
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:17.682037Z","description":"","environment_variables":{},"error_message":null,"id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","name":"test-function-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:17.682037Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.108125ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","expires_at":"2025-01-23T16:28:58+01:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-01-23T15:28:58Z","id":"852e532c-6284-4014-8183-6c65641f9bda","namespace_id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAvIvaMkZJfx/z+8MpoBTIIapzCx7PwlI95OyBSoIuCZrZniA441Ov\nWjhiaXVVddgWQE9PiT6O0ZmhG4F0Hr9lRphSwfyfGANTCjz7mh3RM7jT6pm5ObqD\naQsctgxP9ocmtnJz/EEr8bLuWu+gojApMmw9S80hVuTJCe52lDQwQ4BJpdkzUoJ5\n7d+B98sFTU+QZpl+417lLFM1NRIpo+qCYwVkzXf3+2/zjZfpHqOCjNvRKoCsz7JY\nlc/9cyhgwnkdOhmgaM0zggVai2X1KFp+NZUU8cqSl+2QrBNYxPxCBav8L1gSXKGH\npnCKGKUXJ50BUK11Yk5c+Ip4nm4fZ71StDPD2BG8si1LOXEVvoITKLurC9yZ9Hh3\ni6oIgbvYeKGJOsF40c8lGH/eo0inBoO91HmhyGoi5M3SOIWz0M5xG8YrFT7X1fEe\n94WhNYzdyHrCwWMpUq+bUWhp89wkkah3ZDE1GyHg766mIHI22waUc48D7a06d63x\nEP9GrmF+gtJG/jvRKdhKxxjXzDRE0ckho8Ij1Txl+DZijMwguI4j7VlNiOR4x0FN\nJKhmsSZsl8kvZNK99R43FWkbxErgFgj4pt6gOJFp8AqLia5e32KwDTyfelzEK/UA\nEy9jjMk/hsyDbblGny0ktP+Th7AVVH4SULJE3TMgO/o5AtJQRUXXLqsCAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiZDQ0Y2JkYjQtMmYyZS00MWNkLTk0MzYtMTE1NzQ0ZGE5ZjQ1IiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTczNzY0NjEzOCwianRpIjoiODUyZTUzMmMtNjI4NC00MDE0LTgxODMtNmM2NTY0MWY5YmRhIiwiaWF0IjoxNzM3NTU5NzY0LCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTczNzU1OTc2NCwic3ViIjoidG9rZW4ifQ.P9cuZPOxXwipWCy0bAOEL5KGRLofaOgM-mj8_y1l3jeDXFD-Xx1tQs-4EkOwMkfXpa6xt9jvwAASXjL6ep7SB3a8Fg_uNiKjKDpxErnTAch8lzMLOyLLfOK8vl3mMrj8nUDGZMmg_iZxYf60w9WkjPWJgFnMKsjiI9byYRC1bJU1zZey-mJJ7_zITQY9GAHuKM7rGGiomsbsyZ7YUMwZT5viCFb3GXxi14Untrd4nbZ_Y4-oqf8c0BbZOx6PVx_TY08j9DdRTvNLGTZQho21xL-NJLb2lK8eykryddWMjN-aJwtgFpvyoPAvScHEM4ufZpoJABbKlzfEW-nvMjwQdCe85dr8p2Ey7plg-YGbalVHqF0rCG0ldEzohMF-fD-EVpyNLAEBmf3jYWitLTbY9fW2PfBNOl-un8U__KLC_qBFQTiV_1DR4ADR3IwPRib5BbFeO200vd8McK2eej2pIslsAazEUT1ki3Yty2DmaQJsfqjTlpzzZm9oo4bIRjk0nDVb9bqNf5oYWq5hSfHPy3xPAykO6D9uxd6IGd_2x2Inrp_oPr8wemmxB7fSi-VUMjtwv6KYaPRjrt5XqWHf5_x-DOP97Mc0grwjPeOwgKZdtnJYxLtEF43kSrZeFN6Oj34G24exgjXHx0tos1fZQZ5s80_uvvV1ePThFW4baQk"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.489333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens/852e532c-6284-4014-8183-6c65641f9bda
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-01-23T15:28:58Z","id":"852e532c-6284-4014-8183-6c65641f9bda","namespace_id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.984209ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-friendly-ptolemy","namespace_id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:24.442152938Z","description":"","domain_name":"testfunctiontokennshkeppxcq-tf-func-friendly-ptolemy.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"fe033826-29d3-48e1-a87f-86daf8899146","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-friendly-ptolemy","namespace_id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:24.442152938Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 778.677625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/fe033826-29d3-48e1-a87f-86daf8899146
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:24.442153Z","description":"","domain_name":"testfunctiontokennshkeppxcq-tf-func-friendly-ptolemy.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"fe033826-29d3-48e1-a87f-86daf8899146","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-friendly-ptolemy","namespace_id":"d44cbdb4-2f2e-41cd-9436-115744da9f45","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:24.442153Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.54725ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"function_id":"fe033826-29d3-48e1-a87f-86daf8899146"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":null,"function_id":"fe033826-29d3-48e1-a87f-86daf8899146","id":"a09217be-a482-4658-b24e-056f271da0ca","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAvIvaMkZJfx/z+8MpoBTIIapzCx7PwlI95OyBSoIuCZr[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/852e532c-6284-4014-8183-6c65641f9bda
        method: DELETE
      response:
        body: '{"message":"Container was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.028459ms
[...]
