---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-env-test\",\"environment_variables\":{\"test\":\"test\"},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"test_secret\"}],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"d09b71a9-9501-4ed3-9c8a-27fb6ff5af6f\",\"name\":\"tf-env-test\",\"environment_variables\":{\"test\":\"test\"},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$W6v2Out6VBsD4kk9L2DFbA$O0V4JWbV5cBLCacf2fb2uVDKB4zZimCqZZAAFiROnGI\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.585158763Z\",\"updated_at\":\"2025-09-01T15:54:28.585158763Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 8.452614238s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d09b71a9-9501-4ed3-9c8a-27fb6ff5af6f
    method: GET
  response:
    body: "{\"id\":\"d09b71a9-9501-4ed3-9c8a-27fb6ff5af6f\",\"name\":\"tf-env-test\",\"environment_variables\":{\"test\":\"test\"},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$W6v2Out6VBsD4kk9L2DFbA$O0V4JWbV5cBLCacf2fb2uVDKB4zZimCqZZAAFiROnGI\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.585159Z\",\"updated_at\":\"2025-09-01T15:54:28.585159Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.319045ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"foo\":\"bar\"},\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"updated_secret\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d09b71a9-9501-4ed3-9c8a-27fb6ff5af6f
    method: PATCH
  response:
    body: "{\"id\":\"d09b71a9-9501-4ed3-9c8a-27fb6ff5af6f\",\"name\":\"tf-env-test\",\"environment_variables\":{\"foo\":\"bar\"},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"7012be0e-5873-48f7-8805-94f45e1abe31\",\"error_message\":null,\"registry_endpoint\":\"rg.fr-par.scw.cloud/funcscwtfenvtests3miwoi6\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$qmMWIMYOLvPJ3W+4hsDoow$e7JpkeGgDuAds2p/oB1R7Is3FyD20AHbrVKmkXpbZbg\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.585159Z\",\"updated_at\":\"2025-09-01T15:54:45.393868041Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 354.951879ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d09b71a9-9501-4ed3-9c8a-27fb6ff5af6f
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 93.281625ms
[...]
