---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-inspiring-kirch","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.800959598Z","description":"","environment_variables":{},"error_message":null,"id":"10b555ff-87fe-4a38-847b-c3947aa45730","name":"tf-func-inspiring-kirch","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.800959598Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.681615767s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/10b555ff-87fe-4a38-847b-c3947aa45730
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.800960Z","description":"","environment_variables":{},"error_message":null,"id":"10b555ff-87fe-4a38-847b-c3947aa45730","name":"tf-func-inspiring-kirch","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.800960Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.580936ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"10b555ff-87fe-4a38-847b-c3947aa45730","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:20.067880407Z","description":"","domain_name":"tffuncinspiringkirche592ql8v-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"2f7d7960-37a2-4eaf-b20f-1500a16a6c44","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"10b555ff-87fe-4a38-847b-c3947aa45730","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$V0d5nmbtj6sXnqFcCI6W3A$95FHsjtElW7KG563zBWZgnOFZoOUFYVert9slAbpyo4","key":"test_secret"}],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:20.067880407Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 712.955601ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/2f7d7960-37a2-4eaf-b20f-1500a16a6c44
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:20.067880Z","description":"","domain_name":"tffuncinspiringkirche592ql8v-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"2f7d7960-37a2-4eaf-b20f-1500a16a6c44","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"10b555ff-87fe-4a38-847b-c3947aa45730","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$V0d5nmbtj6sXnqFcCI6W3A$95FHsjtElW7KG563zBWZgnOFZoOUFYVert9slAbpyo4","key":"test_secret"}],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:20.067880Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.738358ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"},{"key":"test_secret","value":null}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/2f7d7960-37a2-4eaf-b20f-1500a16a6c44
        method: PATCH
      response:
        bo[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/10b555ff-87fe-4a38-847b-c3947aa45730
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.450499ms
[...]
