---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-eager-kare","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:08.250116Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e67b56bb-a68b-4b30-852e-9d4a8023f6bb","name":"tf-pn-eager-kare","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:05:08.250116Z","id":"48309e13-53e3-406d-848e-69c9214e4f9b","private_network_id":"e67b56bb-a68b-4b30-852e-9d4a8023f6bb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-08-27T15:05:08.250116Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T15:05:08.250116Z","id":"2a929e16-dd46-4882-a714-f4c0988ba89d","private_network_id":"e67b56bb-a68b-4b30-852e-9d4a8023f6bb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:c09b::/64","updated_at":"2025-08-27T15:05:08.250116Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T15:05:08.250116Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 898.147657ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e67b56bb-a68b-4b30-852e-9d4a8023f6bb
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:08.250116Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e67b56bb-a68b-4b30-852e-9d4a8023f6bb","name":"tf-pn-eager-kare","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:05:08.250116Z","id":"48309e13-53e3-406d-848e-69c9214e4f9b","private_network_id":"e67b56bb-a68b-4b30-852e-9d4a8023f6bb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-08-27T15:05:08.250116Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T15:05:08.250116Z","id":"2a929e16-dd46-4882-a714-f4c0988ba89d","private_network_id":"e67b56bb-a68b-4b30-852e-9d4a8023f6bb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:c09b::/64","updated_at":"2025-08-27T15:05:08.250116Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T15:05:08.250116Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.863977ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-frosty-shirley","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.710923308Z","description":"","environment_variables":{},"error_message":null,"id":"9bb9a723-46a2-4697-b364-147f375ce8fe","name":"tf-func-frosty-shirley","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.710923308Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.535048883s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/9bb9a723-46a2-4697-b364-147f375ce8fe
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.710923Z","description":"","environment_variables":{},"error_message":null,"id":"9bb9a723-46a2-4697-b364-147f375ce8fe","name":"tf-func-frosty-shirley","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.710923Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.350228ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-tender-bell","namespace_id":"9bb9a723-46a2-4697-b364-147f375ce8fe","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:26.081451316Z","description":"","domain_name":"tffuncfrostyshirleymwpev43g-tf-func-tender-bell.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"0de06479-d5c8-4de0-93f8-223db9c6bcd7","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-tender-bell","namespace_id":"9bb9a723-46a2-4697-b364-147f375ce8fe","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:26.081451316Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.692134266s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0de06479-d5c8-4de0-93f8-223db9c6bcd7
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:26.081451Z","description":"","domain_name":"tffuncfrostyshirleymwpev43g-tf-func-tender-bell.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"0de06479-d5c8-4de0-93f8-223db9c6bcd7","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-tender-bell","namespace_id":"9bb9a723-46a2-4697-b364-147f375ce8fe","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:26.081451Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.795074ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/9bb9a723-46a2-4697-b364-147f375ce8fe
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.099739ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e67b56bb-a68b-4b30-852e-9d4a8023f6bb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"e67b56bb-a68b-4b30-852e-9d4a8023f6bb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.795874ms
