---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:49.720373920Z","description":"","environment_variables":{},"error_message":null,"id":"872afd8b-4eac-4ed1-aa12-659a41660b1a","name":"tf-tests-function-cron-with-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:49.720373920Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/872afd8b-4eac-4ed1-aa12-659a41660b1a
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:49.720374Z","description":"","environment_variables":{},"error_message":null,"id":"872afd8b-4eac-4ed1-aa12-659a41660b1a","name":"tf-tests-function-cron-with-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:49.720374Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.74675ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-cron-with-args","namespace_id":"872afd8b-4eac-4ed1-aa12-659a41660b1a","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:55.554865480Z","description":"","domain_name":"tftestsfunctioncronwkpoc1y6g-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"258e11c0-6c50-4ff3-a03a-bbeaf99f286e","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"872afd8b-4eac-4ed1-aa12-659a41660b1a","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:55.554865480Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 331.30025ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/258e11c0-6c50-4ff3-a03a-bbeaf99f286e
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:55.554865Z","description":"","domain_name":"tftestsfunctioncronwkpoc1y6g-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"258e11c0-6c50-4ff3-a03a-bbeaf99f286e","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"872afd8b-4eac-4ed1-aa12-659a41660b1a","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:55.554865Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.157375ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"258e11c0-6c50-4ff3-a03a-bbeaf99f286e","schedule":"0 0 * * *","args":{"test":"scw"},"name":"tf-tests-cron-with-args"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"test":"scw"},"function_id":"258e11c0-6c50-4ff3-a03a-bbeaf99f286e","id":"f3f10261-e138-4908-ba65-39c3ffbc9d0b","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.776709ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/f3f10261-e138-4908-ba65-39c3ffbc9d0b
        method: GET
      response:
        body: '{"args":{"test":"scw"},"function_id":"258e11c0-6c50-4ff3-a03a-bbeaf99f286e","id":"f3f10261-e138-4908-ba65-39c3ffbc9d0b","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.566833ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/872afd8b-4eac-4ed1-aa12-659a41660b1a
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.328583ms
[...]
