---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.414748732Z","description":"","environment_variables":{},"error_message":null,"id":"509d2fdc-0136-4cce-8404-59da8fb7c7d8","name":"tf-tests-function-cron-name-update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.414748732Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 854.229916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/509d2fdc-0136-4cce-8404-59da8fb7c7d8
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.414749Z","description":"","environment_variables":{},"error_message":null,"id":"509d2fdc-0136-4cce-8404-59da8fb7c7d8","name":"tf-tests-function-cron-name-update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.414749Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.200334ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","namespace_id":"509d2fdc-0136-4cce-8404-59da8fb7c7d8","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.021078828Z","description":"","domain_name":"tftestsfunctioncronnn2li4w6o-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"547816d7-9352-46d4-863b-7113aeca29a3","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"509d2fdc-0136-4cce-8404-59da8fb7c7d8","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.021078828Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.749584ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/547816d7-9352-46d4-863b-7113aeca29a3
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.021079Z","description":"","domain_name":"tftestsfunctioncronnn2li4w6o-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"547816d7-9352-46d4-863b-7113aeca29a3","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"509d2fdc-0136-4cce-8404-59da8fb7c7d8","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.021079Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.244416ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"547816d7-9352-46d4-863b-7113aeca29a3","schedule":"0 0 * * *","args":{},"name":"tf-tests-function-cron-name-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{},"function_id":"547816d7-9352-46d4-863b-7113aeca29a3","id":"43d8dcd6-c01c-4fc8-a73b-6d1fa9f586ae","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.976458ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/43d8dcd6-c01c-4fc8-a73b-6d1fa9f586ae
        method: GET
      response:
        body: '{"args":{},"function_id":"547816d7-9352-46d4-863b-7113aeca29a3","id":"43d8dcd6-c01c-4fc8-a73b-6d1fa9f586ae","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"ready"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.085416ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"args":{"test":"scw"},"name":"name-changed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/43d8dcd6-c01c-4fc8-a73b-6d1fa9f586ae
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"function_id":"547816d7-9352-46d4-863b-7113aeca29a3","id":"43d8dcd6-c01c-4fc8-a73b-6d1fa9f586ae","name":"name-changed","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.035833ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/509d2fdc-0136-4cce-8404-59da8fb7c7d8
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.7745ms
[...]
