---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-laughing-hoover","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:47.230311795Z","description":"","environment_variables":{},"error_message":null,"id":"b7a9baad-b5bd-440f-a40b-109215f02b24","name":"tf-func-laughing-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.230311795Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.737838248s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b7a9baad-b5bd-440f-a40b-109215f02b24
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:47.230312Z","description":"","environment_variables":{},"error_message":null,"id":"b7a9baad-b5bd-440f-a40b-109215f02b24","name":"tf-func-laughing-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.230312Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.687469ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"b7a9baad-b5bd-440f-a40b-109215f02b24","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node26","memory_limit":256,"timeout":"10.000000000s","handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:02.523611522Z","description":"","domain_name":"tffunclaughinghooverf3tor5xw-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4d98c325-8431-498c-ac8e-3cc980551af7","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"b7a9baad-b5bd-440f-a40b-109215f02b24","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"10s","updated_at":"2026-07-03T15:02:02.523611522Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.238705ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/4d98c325-8431-498c-ac8e-3cc980551af7
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:02.523612Z","description":"","domain_name":"tffunclaughinghooverf3tor5xw-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4d98c325-8431-498c-ac8e-3cc980551af7","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"b7a9baad-b5bd-440f-a40b-109215f02b24","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"10s","updated_at":"2026-07-03T15:02:02.523612Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.521996ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b7a9baad-b5bd-440f-a40b-109215f02b24
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.954765ms
[...]
