---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-pensive-hofstadter","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.606946532Z","description":"","environment_variables":{},"error_message":null,"id":"fc2566b4-a2ad-468b-bef6-88d6d3fbaea2","name":"tf-func-pensive-hofstadter","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.606946532Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.467165614s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/fc2566b4-a2ad-468b-bef6-88d6d3fbaea2
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.606947Z","description":"","environment_variables":{},"error_message":null,"id":"fc2566b4-a2ad-468b-bef6-88d6d3fbaea2","name":"tf-func-pensive-hofstadter","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.606947Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.593278ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"fc2566b4-a2ad-468b-bef6-88d6d3fbaea2","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:19.848447455Z","description":"","domain_name":"tffuncpensivehofstadccfx5m9t-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e3266862-2844-471a-a0d0-39e9739833f4","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"fc2566b4-a2ad-468b-bef6-88d6d3fbaea2","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":["tag1","tag2"],"timeout":"300s","updated_at":"2025-08-27T15:05:19.848447455Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 645.616119ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e3266862-2844-471a-a0d0-39e9739833f4
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:19.848447Z","description":"","domain_name":"tffuncpensivehofstadccfx5m9t-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e3266862-2844-471a-a0d0-39e9739833f4","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"fc2566b4-a2ad-468b-bef6-88d6d3fbaea2","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":["tag1","tag2"],"timeout":"300s","updated_at":"2025-08-27T15:05:19.848447Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.475491ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/fc2566b4-a2ad-468b-bef6-88d6d3fbaea2
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 186.592603ms
[...]
