---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-11-20T14:03:49.305934351Z","description":"","environment_variables":{},"error_message":null,"id":"56f0293b-3796-4a56-9280-636938a540c5","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2024-11-20T14:03:49.305934351Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 448.354334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/56f0293b-3796-4a56-9280-636938a540c5
        method: GET
      response:
        body: '{"created_at":"2024-11-20T14:03:49.305934Z","description":"","environment_variables":{},"error_message":null,"id":"56f0293b-3796-4a56-9280-636938a540c5","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2024-11-20T14:03:49.305934Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.923709ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/56f0293b-3796-4a56-9280-636938a540c5
        method: PATCH
      response:
        body: '{"created_at":"2024-11-20T14:03:49.305934Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"56f0293b-3796-4a56-9280-636938a540c5","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01u78vnzwc","registry_namespace_id":"37eadba3-fbd4-4e62-8539-90f6f04e8553","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$gF+HkvafxwPZI/xBtj9S0A$uEFPmGoW+pLGYG3EnOmg0Lc0/tQs3q7fPxaZpnPAOco","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2024-11-20T14:03:56.888789641Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.585291ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/56f0293b-3796-4a56-9280-636938a540c5
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.806709ms
[...]
