---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_function_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"name\":\"tf_tests_function_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:20.464779Z\",\"updated_at\":\"2025-09-01T15:54:20.464779Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 474.524383ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/51285479-8d7a-4416-a251-2e31fb545835
    method: GET
  response:
    body: "{\"id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"name\":\"tf_tests_function_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:20.464779Z\",\"updated_at\":\"2025-09-01T15:54:20.464779Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.007121ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:54:20.964208583Z\",\"updated_at\":\"2025-09-01T15:54:20.964208583Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.464817ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 51285479-8d7a-4416-a251-2e31fb545835
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=51285479-8d7a-4416-a251-2e31fb545835
    method: GET
  response:
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:54:20.964208Z\",\"updated_at\":\"2025-09-01T15:54:20.964208Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.820947ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"name\":\"tf-sqs-credentials-interesting-ptolemy\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:54:21.274634330Z\",\"updated_at\":\"2025-09-01T15:54:21.274634330Z\",\"id\":\"569fe04e-6cbf-44f6-be7f-d4a5db213101\",\"name\":\"tf-sqs-credentials-interesting-ptolemy\",\"access_key\":\"jAYFdtrEEFkIPRhVunLt\",\"secret_key\":\"SHvyGhBeQHxsQZRs5KGUdtcsBGxFOqBzfiXbCehHm8lJaHtfGMF5bnMHsn9VZJBh\",\"secret_checksum\":\"3bf5b92525d2df1f4256095cc14dcc1e62c72153\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.504323ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/569fe04e-6cbf-44f6-be7f-d4a5db213101
    method: GET
  response:
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:54:21.274634Z\",\"updated_at\":\"2025-09-01T15:54:21.274634Z\",\"id\":\"569fe04e-6cbf-44f6-be7f-d4a5db213101\",\"name\":\"tf-sqs-credentials-interesting-ptolemy\",\"access_key\":\"jAYFdtrEEFkIPRhVunLt\",\"secret_key\":\"\",\"secret_checksum\":\"3bf5b92525d2df1f4256095cc14dcc1e62c72153\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.435949ms
[...]
- id: 7
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"VisibilityTimeout\":\"30\",\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\"},\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 4912142c-be09-4341-9909-213a80d320ad
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250901T155421Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-51285479-8d7a-4416-a251-2e31fb545835/TestQueue\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txbeb55da9-0008-4f26-a7c6-58ca61ec4f7d
    status: 200 OK
    code: 200
    duration: 228.877587ms
[...]
- id: 9
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"MaximumMessageSize\",\"MessageRetentionPeriod\",\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\",\"VisibilityTimeout\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-51285479-8d7a-4416-a251-2e31fb545835/TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 6541d0be-687f-45bb-b1f5-969929e6217b
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250901T155421Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx25321892-1c73-4aaf-aa7f-ca4a729c8613
    status: 200 OK
    code: 200
    duration: 27.980527ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-function-trigger-sqs\",\"environment_variables\":{},\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"ba3353e1-f677-4fcc-ab3f-bacaf662c0a0\",\"name\":\"test-function-trigger-sqs\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.395993439Z\",\"updated_at\":\"2025-09-01T15:54:28.395993439Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.563215553s
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ba3353e1-f677-4fcc-ab3f-bacaf662c0a0
    method: GET
  response:
    body: "{\"id\":\"ba3353e1-f677-4fcc-ab3f-bacaf662c0a0\",\"name\":\"test-function-trigger-sqs\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.395993Z\",\"updated_at\":\"2025-09-01T15:54:28.395993Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.484598ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-function-trigger-sqs\",\"namespace_id\":\"ba3353e1-f677-4fcc-ab3f-bacaf662c0a0\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"d5441e06-3c1f-4a96-bb56-b4ea53aa28c9\",\"name\":\"test-function-trigger-sqs\",\"namespace_id\":\"ba3353e1-f677-4fcc-ab3f-bacaf662c0a0\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"testfunctiontriggersnhoni0sl-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:47.853326823Z\",\"updated_at\":\"2025-09-01T15:54:47.853326823Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 9.091429629s
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/d5441e06-3c1f-4a96-bb56-b4ea53aa28c9
    method: GET
  response:
    body: "{\"id\":\"d5441e06-3c1f-4a96-bb56-b4ea53aa28c9\",\"name\":\"test-function-trigger-sqs\",\"namespace_id\":\"ba3353e1-f677-4fcc-ab3f-bacaf662c0a0\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"testfunctiontriggersnhoni0sl-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:47.853327Z\",\"updated_at\":\"2025-09-01T15:54:47.853327Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.45539ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-function-trigger-sqs\",\"function_id\":\"d5441e06-3c1f-4a96-bb56-b4ea53aa28c9\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"mnq_region\":\"fr-par\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: "{\"id\":\"17970e73-d11e-48c3-8667-fedeea477f88\",\"name\":\"test-function-trigger-sqs\",\"description\":\"\",\"input_type\":\"scw_sqs\",\"status\":\"creating\",\"error_message\":null,\"function_id\":\"d5441e06-3c1f-4a96-bb56-b4ea53aa28c9\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 970.497863ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/17970e73-d11e-48c3-8667-fedeea477f88
    method: GET
  response:
    body: "{\"id\":\"17970e73-d11e-48c3-8667-fedeea477f88\",\"name\":\"test-function-trigger-sqs\",\"description\":\"\",\"input_type\":\"scw_sqs\",\"status\":\"creating\",\"error_message\":null,\"function_id\":\"d5441e06-3c1f-4a96-bb56-b4ea53aa28c9\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 182.115448ms
[...]
- id: 53
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 32a3d684-c83c-40f8-b49f-ba19e3263b69
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250901T155518Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"TestQueue\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx6723cf89-119e-49d0-a0f1-308f4a8fc8ec
    status: 404 Not Found
    code: 404
    duration: 122.163749ms
[...]
- id: 64
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"51285479-8d7a-4416-a251-2e31fb545835\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 225.242601ms
[...]
