---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-05T08:55:17.361975Z","description":"","id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-05T08:55:17.361975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 446.089513ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6772ce94-5880-4b12-93c3-5cc023cc1d0d
        method: GET
      response:
        body: '{"created_at":"2024-07-05T08:55:17.361975Z","description":"","id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-05T08:55:17.361975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.92097ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-07-05T08:55:17.784228054Z","project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-05T08:55:17.784228054Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.877427ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=6772ce94-5880-4b12-93c3-5cc023cc1d0d
        method: GET
      response:
        body: '{"created_at":"2024-07-05T08:55:17.784228Z","project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-05T08:55:17.784228Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.965766ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","name":"tf-sqs-credentials-heuristic-banzai","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"dlYs0iXWGLbyg0NvrbSK","created_at":"2024-07-05T08:55:17.962801680Z","id":"a5106479-81d4-4c48-b882-b973b38cffda","name":"tf-sqs-credentials-heuristic-banzai","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","region":"fr-par","secret_checksum":"9bf7bd00cb0fd488bd1e81144bf61445ea1d2680","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.203585ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/a5106479-81d4-4c48-b882-b973b38cffda
        method: GET
      response:
        body: '{"access_key":"dlYs0iXWGLbyg0NvrbSK","created_at":"2024-07-05T08:55:17.962801Z","id":"a5106479-81d4-4c48-b882-b973b38cffda","name":"tf-sqs-credentials-heuristic-banzai","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","region":"fr-par","secret_checksum":"9bf7bd00cb0fd488bd1e81144bf61445ea1d2680","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.606611ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"7afb1378-b581-4b20-a2ef-728b4880a639","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.513218ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7afb1378-b581-4b20-a2ef-728b4880a639
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"7afb1378-b581-4b20-a2ef-728b4880a639","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.837725ms
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20240705T085518Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-6772ce94-5880-4b12-93c3-5cc023cc1d0d/TestQueue"}'
        headers:
            Content-Type:
                - application/x-amz-json-1.0; charset=utf-8
            X-Amzn-Requestid:
                - tx7b0e019d-84c9-4625-bfa0-4a0915096d1c
        status: 200 OK
        code: 200
        duration: 952.561705ms
[...]
    - id: 11
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-6772ce94-5880-4b12-93c3-5cc023cc1d0d/TestQueue"}'
        form: {}
        headers:
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20240705T085519Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.0; charset=utf-8
            X-Amzn-Requestid:
                - txaf1df908-bf73-46e9-8354-ff3879c35af9
        status: 200 OK
        code: 200
        duration: 23.371212ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"7afb1378-b581-4b20-a2ef-728b4880a639","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"testfunctiontriggers92ysz3ef-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a0daf564-a5ac-4efd-b92e-b3362f267f77","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"7afb1378-b581-4b20-a2ef-728b4880a639","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.931392ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/a0daf564-a5ac-4efd-b92e-b3362f267f77
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"testfunctiontriggers92ysz3ef-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a0daf564-a5ac-4efd-b92e-b3362f267f77","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"7afb1378-b581-4b20-a2ef-728b4880a639","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.803792ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"a0daf564-a5ac-4efd-b92e-b3362f267f77","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"a0daf564-a5ac-4efd-b92e-b3362f267f77","id":"f8cd86ed-8ced-414b-a383-7b97934ffd8b","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.321953ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/f8cd86ed-8ced-414b-a383-7b97934ffd8b
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"a0daf564-a5ac-4efd-b92e-b3362f267f77","id":"f8cd86ed-8ced-414b-a383-7b97934ffd8b","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.32261ms
[...]
    - id: 54
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20240705T085542Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/x-amz-json-1.0; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx65980c62-5385-4070-8e36-c199f1c21b1e
        status: 404 Not Found
        code: 404
        duration: 37.062414ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"6772ce94-5880-4b12-93c3-5cc023cc1d0d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.957344ms
[...]
