---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:06.784363Z","description":"","id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-24T15:44:06.784363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.640291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e3193f4c-2b75-4f42-8467-9331a6db6b75
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:06.784363Z","description":"","id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-24T15:44:06.784363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.108ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.295889290Z","project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-24T15:44:07.295889290Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.60525ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=e3193f4c-2b75-4f42-8467-9331a6db6b75
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.295889Z","project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-24T15:44:07.295889Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.043709ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","name":"tf-sqs-credentials-charming-pascal","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"HG5XrGM6wISpjrwoqbLo","created_at":"2025-01-24T15:44:07.547668440Z","id":"6be9a259-8001-4e52-85a1-f942a3758d6c","name":"tf-sqs-credentials-charming-pascal","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","region":"fr-par","secret_checksum":"79f084fa78e9408da4c9095afc90aaa71d963b46","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-24T15:44:07.547668440Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.964333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/6be9a259-8001-4e52-85a1-f942a3758d6c
        method: GET
      response:
        body: '{"access_key":"HG5XrGM6wISpjrwoqbLo","created_at":"2025-01-24T15:44:07.547668Z","id":"6be9a259-8001-4e52-85a1-f942a3758d6c","name":"tf-sqs-credentials-charming-pascal","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","region":"fr-par","secret_checksum":"79f084fa78e9408da4c9095afc90aaa71d963b46","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-24T15:44:07.547668Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.68425ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.719841462Z","description":"","environment_variables":{},"error_message":null,"id":"520a545e-7353-4080-8f8f-d64ac490b8a1","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.719841462Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 508.0895ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/520a545e-7353-4080-8f8f-d64ac490b8a1
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.719841Z","description":"","environment_variables":{},"error_message":null,"id":"520a545e-7353-4080-8f8f-d64ac490b8a1","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.719841Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.070041ms
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4b63c5e9-e806-4528-a130-03badb49d4df
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250124T154407Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-e3193f4c-2b75-4f42-8467-9331a6db6b75/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx88166c44-2f1a-4c83-9562-2052e02d6fdf
        status: 200 OK
        code: 200
        duration: 564.4425ms
[...]
    - id: 11
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","MaximumMessageSize"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-e3193f4c-2b75-4f42-8467-9331a6db6b75/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - feb5b89c-097d-40cf-b2d2-21283c5e0834
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250124T154408Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx7057e098-7761-4d08-8763-8f925e399546
        status: 200 OK
        code: 200
        duration: 38.763708ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"520a545e-7353-4080-8f8f-d64ac490b8a1","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:43.761912964Z","description":"","domain_name":"testfunctiontriggersnzpipacm-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"f92e27c0-2f3a-423e-894a-97df57dee517","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"520a545e-7353-4080-8f8f-d64ac490b8a1","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:43.761912964Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.204791ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/f92e27c0-2f3a-423e-894a-97df57dee517
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:43.761913Z","description":"","domain_name":"testfunctiontriggersnzpipacm-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"f92e27c0-2f3a-423e-894a-97df57dee517","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"520a545e-7353-4080-8f8f-d64ac490b8a1","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:43.761913Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.113333ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"f92e27c0-2f3a-423e-894a-97df57dee517","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"f92e27c0-2f3a-423e-894a-97df57dee517","id":"84d843a6-e829-463a-97b0-2f4bc5f7c2f9","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.086958ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/84d843a6-e829-463a-97b0-2f4bc5f7c2f9
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"f92e27c0-2f3a-423e-894a-97df57dee517","id":"84d843a6-e829-463a-97b0-2f4bc5f7c2f9","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.204125ms
[...]
    - id: 58
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 104cf069-eb4d-479c-bea4-0d7b13f643a8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250124T154504Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - txb05f8db8-bd19-4205-9bd3-280297a2bdd0
        status: 404 Not Found
        code: 404
        duration: 21.05175ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: '{"project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"e3193f4c-2b75-4f42-8467-9331a6db6b75","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.330666ms
[...]
