---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-pn00","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:08.450070Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","name":"test-acc-function-pn-pn00","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:05:08.450070Z","id":"c5f17ea2-1cf9-459a-9529-9e91992fe302","private_network_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-08-27T15:05:08.450070Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T15:05:08.450070Z","id":"dab15e62-9a15-48ba-8f7c-b73e9a4bc41a","private_network_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:a9d4::/64","updated_at":"2025-08-27T15:05:08.450070Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T15:05:08.450070Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 924.009202ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d2582989-54df-4e6a-b43d-6cc6fc8370e1
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:08.450070Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","name":"test-acc-function-pn-pn00","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:05:08.450070Z","id":"c5f17ea2-1cf9-459a-9529-9e91992fe302","private_network_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-08-27T15:05:08.450070Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T15:05:08.450070Z","id":"dab15e62-9a15-48ba-8f7c-b73e9a4bc41a","private_network_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:a9d4::/64","updated_at":"2025-08-27T15:05:08.450070Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T15:05:08.450070Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.627432ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-nifty-goldberg","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.795514264Z","description":"","environment_variables":{},"error_message":null,"id":"74fb790d-1104-4b78-bce7-39372f9f9ffc","name":"tf-func-nifty-goldberg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.795514264Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.586494402s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/74fb790d-1104-4b78-bce7-39372f9f9ffc
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.795514Z","description":"","environment_variables":{},"error_message":null,"id":"74fb790d-1104-4b78-bce7-39372f9f9ffc","name":"tf-func-nifty-goldberg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.795514Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.057554ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-00","namespace_id":"74fb790d-1104-4b78-bce7-39372f9f9ffc","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:26.696895091Z","description":"","domain_name":"tffuncniftygoldbergp8m2adll-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"14e1e31c-547a-4350-9ac4-8366c71c2473","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"74fb790d-1104-4b78-bce7-39372f9f9ffc","privacy":"private","private_network_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:26.696895091Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.391911697s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/14e1e31c-547a-4350-9ac4-8366c71c2473
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:26.696895Z","description":"","domain_name":"tffuncniftygoldbergp8m2adll-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"14e1e31c-547a-4350-9ac4-8366c71c2473","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"74fb790d-1104-4b78-bce7-39372f9f9ffc","privacy":"private","private_network_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:26.696895Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.881033ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/74fb790d-1104-4b78-bce7-39372f9f9ffc
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.833417ms
[...]
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d2582989-54df-4e6a-b43d-6cc6fc8370e1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"d2582989-54df-4e6a-b43d-6cc6fc8370e1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.422188ms
[...]
