---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.699918448Z","description":"","environment_variables":{},"error_message":null,"id":"8a5583b8-d6ea-4fb7-b3eb-00fd0c8ae4f6","name":"tf-tests-function-cron-with-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.699918448Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 854.06475ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8a5583b8-d6ea-4fb7-b3eb-00fd0c8ae4f6
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.699918Z","description":"","environment_variables":{},"error_message":null,"id":"8a5583b8-d6ea-4fb7-b3eb-00fd0c8ae4f6","name":"tf-tests-function-cron-with-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.699918Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.631917ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-cron-with-args","namespace_id":"8a5583b8-d6ea-4fb7-b3eb-00fd0c8ae4f6","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:18.234116785Z","description":"","domain_name":"tftestsfunctioncronwkuvolxrc-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a97dfd06-da39-4ff9-bcc1-df9685f2185d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"8a5583b8-d6ea-4fb7-b3eb-00fd0c8ae4f6","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:18.234116785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.7895ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/a97dfd06-da39-4ff9-bcc1-df9685f2185d
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:18.234117Z","description":"","domain_name":"tftestsfunctioncronwkuvolxrc-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a97dfd06-da39-4ff9-bcc1-df9685f2185d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"8a5583b8-d6ea-4fb7-b3eb-00fd0c8ae4f6","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:18.234117Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.3265ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"function_id":"a97dfd06-da39-4ff9-bcc1-df9685f2185d","schedule":"0 0 * * *","args":{"test":"scw"},"name":"tf-tests-cron-with-args"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"test":"scw"},"function_id":"a97dfd06-da39-4ff9-bcc1-df9685f2185d","id":"06bd4e93-7c5f-4563-82dd-ad411d62d02a","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.067708ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/06bd4e93-7c5f-4563-82dd-ad411d62d02a
        method: GET
      response:
        body: '{"args":{"test":"scw"},"function_id":"a97dfd06-da39-4ff9-bcc1-df9685f2185d","id":"06bd4e93-7c5f-4563-82dd-ad411d62d02a","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.865417ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8a5583b8-d6ea-4fb7-b3eb-00fd0c8ae4f6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.885958ms
[...]
