---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-function-cron-name-update\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"a96ac3ba-5a74-4233-a631-605c04d30315\",\"name\":\"tf-tests-function-cron-name-update\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T16:40:24.769740874Z\",\"updated_at\":\"2025-09-01T16:40:24.769740874Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.339749619s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/a96ac3ba-5a74-4233-a631-605c04d30315
    method: GET
  response:
    body: "{\"id\":\"a96ac3ba-5a74-4233-a631-605c04d30315\",\"name\":\"tf-tests-function-cron-name-update\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T16:40:24.769741Z\",\"updated_at\":\"2025-09-01T16:40:24.769741Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.219202ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-function-cron-name-update\",\"namespace_id\":\"a96ac3ba-5a74-4233-a631-605c04d30315\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"5e7cc482-b0e8-4ae1-b20f-f62841734eb4\",\"name\":\"tf-tests-function-cron-name-update\",\"namespace_id\":\"a96ac3ba-5a74-4233-a631-605c04d30315\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tftestsfunctioncronnbunlclq9-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T16:41:06.237046718Z\",\"updated_at\":\"2025-09-01T16:41:06.237046718Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 515.073489ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/5e7cc482-b0e8-4ae1-b20f-f62841734eb4
    method: GET
  response:
    body: "{\"id\":\"5e7cc482-b0e8-4ae1-b20f-f62841734eb4\",\"name\":\"tf-tests-function-cron-name-update\",\"namespace_id\":\"a96ac3ba-5a74-4233-a631-605c04d30315\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tftestsfunctioncronnbunlclq9-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T16:41:06.237047Z\",\"updated_at\":\"2025-09-01T16:41:06.237047Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.654385ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"function_id\":\"5e7cc482-b0e8-4ae1-b20f-f62841734eb4\",\"schedule\":\"0 0 * * *\",\"args\":{},\"name\":\"tf-tests-function-cron-name-update\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: "{\"id\":\"638623a1-3de6-4017-81be-7ee39924422d\",\"function_id\":\"5e7cc482-b0e8-4ae1-b20f-f62841734eb4\",\"schedule\":\"0 0 * * *\",\"args\":{},\"status\":\"pending\",\"name\":\"tf-tests-function-cron-name-update\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.463855ms
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/638623a1-3de6-4017-81be-7ee39924422d
    method: GET
  response:
    body: "{\"id\":\"638623a1-3de6-4017-81be-7ee39924422d\",\"function_id\":\"5e7cc482-b0e8-4ae1-b20f-f62841734eb4\",\"schedule\":\"0 0 * * *\",\"args\":{},\"status\":\"pending\",\"name\":\"tf-tests-function-cron-name-update\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.480574ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"args\":{\"test\":\"scw\"},\"name\":\"name-changed\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/638623a1-3de6-4017-81be-7ee39924422d
    method: PATCH
  response:
    body: "{\"id\":\"638623a1-3de6-4017-81be-7ee39924422d\",\"function_id\":\"5e7cc482-b0e8-4ae1-b20f-f62841734eb4\",\"schedule\":\"0 0 * * *\",\"args\":{\"test\":\"scw\"},\"status\":\"pending\",\"name\":\"name-changed\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.996472ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/a96ac3ba-5a74-4233-a631-605c04d30315
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.651061ms
[...]
