---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.953576493Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"b93c01af-e1e0-4c65-9c67-b0aa96481775","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tmc1gTzeHbqhnyAeItKijw$fsDAC0QZSNEwNFf3TkkV+YrTEcu9+5UOhD/yVK0UYd0","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.953576493Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.81211216s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b93c01af-e1e0-4c65-9c67-b0aa96481775
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.953576Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"b93c01af-e1e0-4c65-9c67-b0aa96481775","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tmc1gTzeHbqhnyAeItKijw$fsDAC0QZSNEwNFf3TkkV+YrTEcu9+5UOhD/yVK0UYd0","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.953576Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.448688ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"test_secret","value":"updated_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b93c01af-e1e0-4c65-9c67-b0aa96481775
        method: PATCH
      response:
        body: '{"created_at":"2025-08-27T15:05:13.953576Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"b93c01af-e1e0-4c65-9c67-b0aa96481775","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestypt4dsq9","registry_namespace_id":"c85db154-0af2-4b0c-9478-91d977381783","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$F6YoDr1TSZkSq2FfiRI0/w$nDR3udZIQIcPx53va8Q3EprMMAzN04GOmDifJzo3zTc","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:26.347847101Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.699467ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b93c01af-e1e0-4c65-9c67-b0aa96481775
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 247.138649ms
[...]
