---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-quirky-shtern","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.715205290Z","description":"","environment_variables":{},"error_message":null,"id":"e1263401-2566-4dae-a339-78f5d9f3ada7","name":"tf-func-quirky-shtern","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.715205290Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.757695666s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e1263401-2566-4dae-a339-78f5d9f3ada7
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.715205Z","description":"","environment_variables":{},"error_message":null,"id":"e1263401-2566-4dae-a339-78f5d9f3ada7","name":"tf-func-quirky-shtern","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.715205Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.277487ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e1263401-2566-4dae-a339-78f5d9f3ada7
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.273568ms
[...]
