---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-gallant-greider","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:39.703167986Z","description":"","environment_variables":{},"error_message":null,"id":"eb76e881-c5b1-43b3-b1fe-f97f315d8b39","name":"tf-func-gallant-greider","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:39.703167986Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 558.645667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/eb76e881-c5b1-43b3-b1fe-f97f315d8b39
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:39.703168Z","description":"","environment_variables":{},"error_message":null,"id":"eb76e881-c5b1-43b3-b1fe-f97f315d8b39","name":"tf-func-gallant-greider","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:39.703168Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.367834ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"eb76e881-c5b1-43b3-b1fe-f97f315d8b39","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:45.430155299Z","description":"","domain_name":"tffuncgallantgreidereooqd604-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"9013c4b2-a4bb-4b70-a7f0-d2850206369c","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"eb76e881-c5b1-43b3-b1fe-f97f315d8b39","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:45.430155299Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.897416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/9013c4b2-a4bb-4b70-a7f0-d2850206369c
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:45.430155Z","description":"","domain_name":"tffuncgallantgreidereooqd604-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"9013c4b2-a4bb-4b70-a7f0-d2850206369c","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"eb76e881-c5b1-43b3-b1fe-f97f315d8b39","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:45.430155Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.478459ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/eb76e881-c5b1-43b3-b1fe-f97f315d8b39
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.762542ms
[...]
