---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-sharp-ramanujan","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.352599485Z","description":"","environment_variables":{},"error_message":null,"id":"b11ef392-64fb-415c-ac8e-a52db9a89acd","name":"tf-func-sharp-ramanujan","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.352599485Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 721.315125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b11ef392-64fb-415c-ac8e-a52db9a89acd
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.352599Z","description":"","environment_variables":{},"error_message":null,"id":"b11ef392-64fb-415c-ac8e-a52db9a89acd","name":"tf-func-sharp-ramanujan","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.352599Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.270666ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-awesome-meitner","namespace_id":"b11ef392-64fb-415c-ac8e-a52db9a89acd","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:17.971714457Z","description":"","domain_name":"tffuncsharpramanujanlces7dof-tf-func-awesome-meitner.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"1852a6b0-1bcd-4c11-b570-7ffbb81f3155","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-awesome-meitner","namespace_id":"b11ef392-64fb-415c-ac8e-a52db9a89acd","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:17.971714457Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.210458ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/1852a6b0-1bcd-4c11-b570-7ffbb81f3155
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:17.971714Z","description":"","domain_name":"tffuncsharpramanujanlces7dof-tf-func-awesome-meitner.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"1852a6b0-1bcd-4c11-b570-7ffbb81f3155","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-awesome-meitner","namespace_id":"b11ef392-64fb-415c-ac8e-a52db9a89acd","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:17.971714Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.030916ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b11ef392-64fb-415c-ac8e-a52db9a89acd
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.064791ms
[...]
