---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:39:32.345197257Z","description":"","environment_variables":{},"error_message":null,"id":"94f3c030-9f00-490d-8d01-4735d65d6d26","name":"tf-tests-function-cron-with-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:32.345197257Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 492.266073ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/94f3c030-9f00-490d-8d01-4735d65d6d26
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:39:32.345197Z","description":"","environment_variables":{},"error_message":null,"id":"94f3c030-9f00-490d-8d01-4735d65d6d26","name":"tf-tests-function-cron-with-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:32.345197Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.396924ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-cron-with-args","namespace_id":"94f3c030-9f00-490d-8d01-4735d65d6d26","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:37.780674477Z","description":"","domain_name":"tftestsfunctioncronwtoz7caz0-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"1d7ae86d-8c35-439d-b762-11ddf9dd16a7","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"94f3c030-9f00-490d-8d01-4735d65d6d26","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:37.780674477Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.425978ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/1d7ae86d-8c35-439d-b762-11ddf9dd16a7
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:37.780674Z","description":"","domain_name":"tftestsfunctioncronwtoz7caz0-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"1d7ae86d-8c35-439d-b762-11ddf9dd16a7","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"94f3c030-9f00-490d-8d01-4735d65d6d26","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:37.780674Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.23957ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"1d7ae86d-8c35-439d-b762-11ddf9dd16a7","schedule":"0 0 * * *","args":{"test":"scw"},"name":"tf-tests-cron-with-args"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"test":"scw"},"function_id":"1d7ae86d-8c35-439d-b762-11ddf9dd16a7","id":"746050e8-85fa-4bd2-90c0-6c4f289cb0cf","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.10532ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/746050e8-85fa-4bd2-90c0-6c4f289cb0cf
        method: GET
      response:
        body: '{"args":{"test":"scw"},"function_id":"1d7ae86d-8c35-439d-b762-11ddf9dd16a7","id":"746050e8-85fa-4bd2-90c0-6c4f289cb0cf","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.553064ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/94f3c030-9f00-490d-8d01-4735d65d6d26
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 219.842656ms
[...]
