---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-token-ns","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.806237878Z","description":"","environment_variables":{},"error_message":null,"id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","name":"test-function-token-ns","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.806237878Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.610616081s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2d37fd88-5987-4d1a-90f3-d39903d9e975
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.806238Z","description":"","environment_variables":{},"error_message":null,"id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","name":"test-function-token-ns","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.806238Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.323109ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","expires_at":"2025-08-28T17:05:06+02:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-08-28T15:05:06Z","id":"6acf5d1c-fab0-45ed-ac85-022315e4bbb3","namespace_id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAu5F9qe0ffeZtwew/KDQ+m+NfOMZ22mDSK17hbJbvQlpRlyXmT5/C\nLn3T4cj/o4Rdl2j8+DEUqH+Yro2sfSHYakV2GOcYkU87qfg1chnV64I25dzXih9h\nrWe/oTJKOXAeHdSYezGQcYvG6TZIhTJ9yg1FqBVSBkjWCupb2QumnJ3W/P71dxLj\n5f86EWQ7Zm73Q8cUBGKx1ZBBfEDlRq7d7eSXlU89v2OWmUrghvmK27ND2LFawr8X\nuEZ0r8a2MLLNPtbnZPmFTBrbgfIwKY7NIvo3fdZyOdymQ9qmgpmbNqcYHjcGDdul\nad3dkEkUjT0JuF4PUVn2w8kHZQx2u8G16zxREXd5qZNBrNVaZJ+JH2dhi7JFLo8J\n0KNKP/N/KQqye+pCo7sZZe+SeyBsMsTXCJuOV5FSWVZGYJZ8WYgH+TLmDqbNGAXr\nOYiWuBgZZq1PknTjVz98B7PhvYuwJUXBD/M/HQVsNE6K267+HtD+tJzhGwdzWs34\nsJKHJ2RJ+obZJUTr8e4Qa6E4HhPtmWcMcIhjWwEP3kzAxbcrudCdRYpL3gmYCqQX\nKCsxV/7s91KsU5ba3oA7mRSl4O4fF5FLaxQIsepkI/TeylKNapeEfEZpuxdncJn8\nFqsMHj2PtZ2LqzNj71XM2UKiKlnw3FvvXGgUmD8lzCtr0rMO1j79V3kCAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiMmQzN2ZkODgtNTk4Ny00ZDFhLTkwZjMtZDM5OTAzZDllOTc1IiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTc1NjM5MzUwNiwianRpIjoiNmFjZjVkMWMtZmFiMC00NWVkLWFjODUtMDIyMzE1ZTRiYmIzIiwiaWF0IjoxNzU2MzA3MTI1LCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTc1NjMwNzEyNSwic3ViIjoidG9rZW4ifQ.poakDv_C4y_wKJKtfJJfxcCg4QHd7yso09t-BRuVBG9MGyl2Px9VJCGs31xX9oVLQd2erRUgOhstDbZLd8KzcYF1UIVGOOtsxkt4qD1MGFQljFxzGZZHiawS1cacaXUvtURX21jonltQZreItxnqWAElDkY6vXNFNQbhK9jjV3XRzXoS51XpFUxh-Zv1UAcacCWU69U7CGenT_DwyrMgixTutSH_wBeP5A3o15A3Q39yB8dM9WUxzeIO8haNWqz1s1wCA-QoXx9BKfYpk0Q9VoZqG3Y5FyyAu5knPq34dT_n-5sdhjTrBfOErJ49rR4m4uInpOnzOG_5Qjto0ZcxrTZNUEjQaLnRrfYbxscmyUEBCEUeZiPrLpTym05xt2zzNr50QrnIlkkHvVW6A7cMZ4EjGgXz2ZVoDfnf4R988IgoiAOxBtb6_wbuZ3ZQg3lwEZJ13dGqFpvPIsfp4g9HvM40cSx5A9y_hUx-OklCAHLesZQTNHhRnhr42ortk7r5CBuFkC_tLMV_uUKWphQksH_0MyoZY6uQeHwF-0_K6t8L_1RgFprjqHoBxay_-gi_1NGPTAFngY863z_ZHQ4kZOskJhL6RCo7mfBwcKNftCVU9LP1xw-pfTrGygT3_OidetQHjBx36VVE4iLoI2hvus07jDukkiV-GxhfwotuqZk"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 959.920385ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens/6acf5d1c-fab0-45ed-ac85-022315e4bbb3
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-08-28T15:05:06Z","id":"6acf5d1c-fab0-45ed-ac85-022315e4bbb3","namespace_id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.043999ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-sad-sutherland","namespace_id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.879818948Z","description":"","domain_name":"testfunctiontokennsxaepsa5r-tf-func-sad-sutherland.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"46aebf26-7295-45ca-a248-13bd09921d41","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-sad-sutherland","namespace_id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.879818948Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.508464527s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/46aebf26-7295-45ca-a248-13bd09921d41
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.879819Z","description":"","domain_name":"testfunctiontokennsxaepsa5r-tf-func-sad-sutherland.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"46aebf26-7295-45ca-a248-13bd09921d41","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-sad-sutherland","namespace_id":"2d37fd88-5987-4d1a-90f3-d39903d9e975","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.879819Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.460607ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"function_id":"46aebf26-7295-45ca-a248-13bd09921d41"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":null,"function_id":"46aebf26-7295-45ca-a248-13bd09921d41","id":"a51cb277-edd3-42d6-a15b-a042d8597b7c","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAu5F9qe0ffeZtwew/KDQ+m+NfOMZ22mDSK17hbJbvQlp[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/6acf5d1c-fab0-45ed-ac85-022315e4bbb3
        method: DELETE
      response:
        body: '{"message":"Container was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.608362ms
[...]
