---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-token-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.561422096Z","description":"","environment_variables":{},"error_message":null,"id":"7ff43683-bd86-4077-b215-3daee6580da2","name":"test-function-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.561422096Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 885.901708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7ff43683-bd86-4077-b215-3daee6580da2
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.561422Z","description":"","environment_variables":{},"error_message":null,"id":"7ff43683-bd86-4077-b215-3daee6580da2","name":"test-function-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.561422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.07275ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"7ff43683-bd86-4077-b215-3daee6580da2","expires_at":"2025-01-25T16:44:04+01:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-01-25T15:44:04Z","id":"165357de-f7cf-435b-8812-30b09e81337d","namespace_id":"7ff43683-bd86-4077-b215-3daee6580da2","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA1MeR6ragBYIXM43AR5vAMpx6bcOv8YKfa8n768hpxbmU1Z3UFzzF\nn5Px1ROYG+DayMTo6WpkJHvd4u+iaNHKo4+1bNpda2Q7OdOu7xSEnWRFzVk2rhF+\n8PNUMzVGqCHX3UltIpLr+FNMlX8uUsX4KYmYVyl/cMJ9qxkRxFc2U+k77M3fqaJ2\n/+g9WAJKuYCyXL3ZQfVBDaTQ+SIcuwxq/sYgopA9w4rZ81SIlTMepvo9BNFhzmCv\nWjxV/2iBwNE76FcYH9pIT6/c7J+X52Mz4nSxSI7sjNqKUIl/VI2l0nUaVKT9SYtN\nbRBA4ldrUeW4W+8Qo7TplOuAqwif7ueMIwjc6rDTq9+KmhWvGzUsW70a6R2iYbJ5\n59GQpwH8jiNnX/OowAuvWNU6Kd0IPxXVYQDOgYLbodmVFyHvgKU3rx7bws9T/tk5\nhypYkHFuKPlgU9MH19Y4AF3F5kl8FrYHY49aGMwI2PE2Je1mg9q8eC58X1LMxq2H\nMaG5ql6p3Q9uDdzu+WkpGZf2Myv7fv67l7IBFinbb2I8Z7ZqZqTVmrIDNW6ZQJCW\nwZy+yG+ok0oVcbsPF7dfzjb+qkBMFBYSyoMYre6XaTmfgAnz7tGNrpZT4pK3bkUR\nOgAS2Ojldy5kccNGUpQcYixpFPe1aiKQRr6OzKdzsKfSlWjSqVXvqnECAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiN2ZmNDM2ODMtYmQ4Ni00MDc3LWIyMTUtM2RhZWU2NTgwZGEyIiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTczNzgxOTg0NCwianRpIjoiMTY1MzU3ZGUtZjdjZi00MzViLTg4MTItMzBiMDllODEzMzdkIiwiaWF0IjoxNzM3NzMzNDUyLCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTczNzczMzQ1Miwic3ViIjoidG9rZW4ifQ.KWq2Y2-nH-aHLE0X7SRRnbo0iWB1RIPBWgErOJF1OW_vXk0IeLX5cGQJ3Pd00YPIINviFm8pOu-qe7z6Io1l06N17J4TxHeMJ5QdVbpyOMbWqg5LTBxsVIV3LUSvVP53Ko4l4528xIXjSuFtFRkBc1MXhd-c7MqfcDKZHNeE_kJSuT5SfyQdd-0a2AT__YhOBEY8NFoTHvkihLtdhalKYPyVTBT9_I44ZF3thztS0jYlrnP4LIMygGspTfeAIc7_UstFXczvpELkFi22gJKZFfjT8KFsCge1DeZnEIreyRs-jnl8fsKe7Jd95Xm8L3pW9_ecisY-7Vc2RXM_HC4s_qXYZh9AsMNoQmW39Bk_JML8-kuqeJA00QUSEByqcy_OP3ZuSFUy2FtJ21Gst30Pks1FJB6JLWsb0HqZo7W-lZtOL7A1_ImzCSzWW7WqVIdH45SWw6g3-HJZD6WyffD-0P0ShNtMCm7rldLs-CHXksEPhYoiiSUqNR8iAKftNhs_CETvbglOW_lxw0Yp6UGgdWeiBV-KWLKeg2jug2Q--iQQ72Shwyh6hLdO_PYVQ9fbt33NK-y0MFn2qXp_Pvbq8uO_PaVEmZaZe_voZlC1XsLaDne6bZx_yefkZQ8Q4FL_6jVxIt2Nl6kxFYEz2_oP4KPO2zvmMKdb6J65uKsQj1Q"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.211375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens/165357de-f7cf-435b-8812-30b09e81337d
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-01-25T15:44:04Z","id":"165357de-f7cf-435b-8812-30b09e81337d","namespace_id":"7ff43683-bd86-4077-b215-3daee6580da2","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.555292ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-pensive-cerf","namespace_id":"7ff43683-bd86-4077-b215-3daee6580da2","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.230097550Z","description":"","domain_name":"testfunctiontokennsknu61gqj-tf-func-pensive-cerf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"bf2c84d9-622d-40a5-b8b4-96f1e6b99dbf","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-pensive-cerf","namespace_id":"7ff43683-bd86-4077-b215-3daee6580da2","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.230097550Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 425.958709ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/bf2c84d9-622d-40a5-b8b4-96f1e6b99dbf
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.230098Z","description":"","domain_name":"testfunctiontokennsknu61gqj-tf-func-pensive-cerf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"bf2c84d9-622d-40a5-b8b4-96f1e6b99dbf","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-pensive-cerf","namespace_id":"7ff43683-bd86-4077-b215-3daee6580da2","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.230098Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.513125ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"function_id":"bf2c84d9-622d-40a5-b8b4-96f1e6b99dbf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":null,"function_id":"bf2c84d9-622d-40a5-b8b4-96f1e6b99dbf","id":"cc01769b-1478-4203-a9db-866ced462fae","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA1MeR6ragBYIXM43AR5vAMpx6bcOv8YKfa8n768hpxbm[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/165357de-f7cf-435b-8812-30b09e81337d
        method: DELETE
      response:
        body: '{"message":"Container was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.028917ms
[...]
