---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-admiring-dewdney","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.558072935Z","description":"","environment_variables":{},"error_message":null,"id":"e5193db2-75c1-42af-a0ae-baf7888e274b","name":"tf-func-admiring-dewdney","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.558072935Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.40427917s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e5193db2-75c1-42af-a0ae-baf7888e274b
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.558073Z","description":"","environment_variables":{},"error_message":null,"id":"e5193db2-75c1-42af-a0ae-baf7888e274b","name":"tf-func-admiring-dewdney","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.558073Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.810519ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-sleepy-grothendieck","namespace_id":"e5193db2-75c1-42af-a0ae-baf7888e274b","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.283163467Z","description":"","domain_name":"tffuncadmiringdewdneqy1zjw8c-tf-func-sleepy-grothendieck.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e3d2b809-db8b-45a2-bd70-a3e96b3d481d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-sleepy-grothendieck","namespace_id":"e5193db2-75c1-42af-a0ae-baf7888e274b","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.283163467Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.050940361s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e3d2b809-db8b-45a2-bd70-a3e96b3d481d
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.283163Z","description":"","domain_name":"tffuncadmiringdewdneqy1zjw8c-tf-func-sleepy-grothendieck.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e3d2b809-db8b-45a2-bd70-a3e96b3d481d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-sleepy-grothendieck","namespace_id":"e5193db2-75c1-42af-a0ae-baf7888e274b","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.283163Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.426576ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e5193db2-75c1-42af-a0ae-baf7888e274b
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.898253ms
[...]
