---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-nats-account-interesting-bhaskara\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:54:20.382568250Z\",\"updated_at\":\"2025-09-01T15:54:20.382568250Z\",\"id\":\"ADIVHQ2CVIMQHFB45GLWLKTWUJYXDHJRKV2TYNEPDXB72D25UAGWDFF5\",\"name\":\"tf-nats-account-interesting-bhaskara\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 418.44676ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADIVHQ2CVIMQHFB45GLWLKTWUJYXDHJRKV2TYNEPDXB72D25UAGWDFF5
    method: GET
  response:
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:54:20.382568Z\",\"updated_at\":\"2025-09-01T15:54:20.382568Z\",\"id\":\"ADIVHQ2CVIMQHFB45GLWLKTWUJYXDHJRKV2TYNEPDXB72D25UAGWDFF5\",\"name\":\"tf-nats-account-interesting-bhaskara\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.418392ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-function-trigger-sqs\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"b1856de8-1763-4e1a-a32b-7f5defc4307c\",\"name\":\"test-function-trigger-sqs\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:27.625849709Z\",\"updated_at\":\"2025-09-01T15:54:27.625849709Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.68628123s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b1856de8-1763-4e1a-a32b-7f5defc4307c
    method: GET
  response:
    body: "{\"id\":\"b1856de8-1763-4e1a-a32b-7f5defc4307c\",\"name\":\"test-function-trigger-sqs\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:27.625850Z\",\"updated_at\":\"2025-09-01T15:54:27.625850Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.180775ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-function-trigger-sqs\",\"namespace_id\":\"b1856de8-1763-4e1a-a32b-7f5defc4307c\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"0413db6f-bd8e-408c-9ae2-370129ec4125\",\"name\":\"test-function-trigger-sqs\",\"namespace_id\":\"b1856de8-1763-4e1a-a32b-7f5defc4307c\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"testfunctiontriggerspnnf6btx-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:46.482499081Z\",\"updated_at\":\"2025-09-01T15:54:46.482499081Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 8.413378076s
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0413db6f-bd8e-408c-9ae2-370129ec4125
    method: GET
  response:
    body: "{\"id\":\"0413db6f-bd8e-408c-9ae2-370129ec4125\",\"name\":\"test-function-trigger-sqs\",\"namespace_id\":\"b1856de8-1763-4e1a-a32b-7f5defc4307c\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"testfunctiontriggerspnnf6btx-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:46.482499Z\",\"updated_at\":\"2025-09-01T15:54:46.482499Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 348.1614ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-function-trigger-nats\",\"function_id\":\"0413db6f-bd8e-408c-9ae2-370129ec4125\",\"scw_nats_config\":{\"subject\":\"TestSubject\",\"mnq_nats_account_id\":\"ADIVHQ2CVIMQHFB45GLWLKTWUJYXDHJRKV2TYNEPDXB72D25UAGWDFF5\",\"mnq_project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"mnq_region\":\"fr-par\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: "{\"id\":\"582ef1b3-4ef8-4f46-8d4a-c4c55f58772a\",\"name\":\"test-function-trigger-nats\",\"description\":\"\",\"input_type\":\"scw_nats\",\"status\":\"creating\",\"error_message\":null,\"function_id\":\"0413db6f-bd8e-408c-9ae2-370129ec4125\",\"scw_nats_config\":{\"subject\":\"TestSubject\",\"mnq_project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null,\"mnq_nats_account_id\":\"ADIVHQ2CVIMQHFB45GLWLKTWUJYXDHJRKV2TYNEPDXB72D25UAGWDFF5\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.479397194s
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/582ef1b3-4ef8-4f46-8d4a-c4c55f58772a
    method: GET
  response:
    body: "{\"id\":\"582ef1b3-4ef8-4f46-8d4a-c4c55f58772a\",\"name\":\"test-function-trigger-nats\",\"description\":\"\",\"input_type\":\"scw_nats\",\"status\":\"creating\",\"error_message\":null,\"function_id\":\"0413db6f-bd8e-408c-9ae2-370129ec4125\",\"scw_nats_config\":{\"subject\":\"TestSubject\",\"mnq_project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null,\"mnq_nats_account_id\":\"ADIVHQ2CVIMQHFB45GLWLKTWUJYXDHJRKV2TYNEPDXB72D25UAGWDFF5\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.094152ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/582ef1b3-4ef8-4f46-8d4a-c4c55f58772a
    method: GET
  response:
    body: "{\"message\":\"trigger does not exist\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.763904ms
[...]
