---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-naughty-herschel","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:52.814657292Z","description":"","environment_variables":{},"error_message":null,"id":"8279445a-9d27-4948-a935-55263f6d34f0","name":"tf-func-naughty-herschel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:52.814657292Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 584.419583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8279445a-9d27-4948-a935-55263f6d34f0
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:52.814657Z","description":"","environment_variables":{},"error_message":null,"id":"8279445a-9d27-4948-a935-55263f6d34f0","name":"tf-func-naughty-herschel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:52.814657Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.03325ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"8279445a-9d27-4948-a935-55263f6d34f0","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:45:03.861398373Z","description":"","domain_name":"tffuncnaughtyherschepb5yohr0-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a28ad926-d0fe-46d6-8c1d-5edc11fe0c4f","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"8279445a-9d27-4948-a935-55263f6d34f0","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$oC+NLBDc2ehBGrP1u62pGg$dmizifX0187bHsas2djOzuzBx9GxHVM27pUi8s+Y1nY","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:45:03.861398373Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.206125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/a28ad926-d0fe-46d6-8c1d-5edc11fe0c4f
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:45:03.861398Z","description":"","domain_name":"tffuncnaughtyherschepb5yohr0-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a28ad926-d0fe-46d6-8c1d-5edc11fe0c4f","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"8279445a-9d27-4948-a935-55263f6d34f0","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$oC+NLBDc2ehBGrP1u62pGg$dmizifX0187bHsas2djOzuzBx9GxHVM27pUi8s+Y1nY","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:45:03.861398Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.88775ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/a28ad926-d0fe-46d6-8c1d-5edc11fe0c4f
        method: PATCH
      response:
        body: '{"build_message":null,"cpu_lim[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8279445a-9d27-4948-a935-55263f6d34f0
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 146.371875ms
[...]
