---
version: 2
interactions:
- request:
    body: '{"name":"tf-tests-function-cron-name-update","environment_variables":{},"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"08187fc1-783a-48c7-adf4-b78ded6f63be","name":"tf-tests-function-cron-name-update","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/08187fc1-783a-48c7-adf4-b78ded6f63be
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"08187fc1-783a-48c7-adf4-b78ded6f63be","name":"tf-tests-function-cron-name-update","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"tf-tests-function-cron-name-update","namespace_id":"08187fc1-783a-48c7-adf4-b78ded6f63be","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronnsihn73oc-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"abac9fce-60e8-4b30-b375-92d523d8de47","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"08187fc1-783a-48c7-adf4-b78ded6f63be","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/abac9fce-60e8-4b30-b375-92d523d8de47
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronnsihn73oc-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"abac9fce-60e8-4b30-b375-92d523d8de47","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"08187fc1-783a-48c7-adf4-b78ded6f63be","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"function_id":"abac9fce-60e8-4b30-b375-92d523d8de47","schedule":"0 0 *
      * *","args":{},"name":"tf-tests-function-cron-name-update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{},"function_id":"abac9fce-60e8-4b30-b375-92d523d8de47","id":"5e279af7-7c57-4677-befe-210bfe64b9d8","name":"tf-tests-function-cron-name-update","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/5e279af7-7c57-4677-befe-210bfe64b9d8
    method: GET
  response:
    body: '{"args":{},"function_id":"abac9fce-60e8-4b30-b375-92d523d8de47","id":"5e279af7-7c57-4677-befe-210bfe64b9d8","name":"tf-tests-function-cron-name-update","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"args":{"test":"scw"},"name":"name-changed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/5e279af7-7c57-4677-befe-210bfe64b9d8
    method: PATCH
  response:
    body: '{"args":{"test":"scw"},"function_id":"abac9fce-60e8-4b30-b375-92d523d8de47","id":"5e279af7-7c57-4677-befe-210bfe64b9d8","name":"name-changed","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/08187fc1-783a-48c7-adf4-b78ded6f63be
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
