---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-modest-chandrasekhar","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.022651560Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABJB6EGKXFTAXU6LCTWMS6SU7LTX4HSWIUHFI2DUFRD2RY5RWNX2EBXY","name":"tf-nats-account-modest-chandrasekhar","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-24T15:44:07.022651560Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.525042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABJB6EGKXFTAXU6LCTWMS6SU7LTX4HSWIUHFI2DUFRD2RY5RWNX2EBXY
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.022651Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABJB6EGKXFTAXU6LCTWMS6SU7LTX4HSWIUHFI2DUFRD2RY5RWNX2EBXY","name":"tf-nats-account-modest-chandrasekhar","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-24T15:44:07.022651Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.760416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.683077718Z","description":"","environment_variables":{},"error_message":null,"id":"39794f7e-3fb2-40d8-9ccb-54b2789ddfa8","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.683077718Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 777.914666ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/39794f7e-3fb2-40d8-9ccb-54b2789ddfa8
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.683078Z","description":"","environment_variables":{},"error_message":null,"id":"39794f7e-3fb2-40d8-9ccb-54b2789ddfa8","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.683078Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.711541ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"39794f7e-3fb2-40d8-9ccb-54b2789ddfa8","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.293900112Z","description":"","domain_name":"testfunctiontriggerscpqkjeyb-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"566fa6bf-f3b8-4b70-ac6f-5a20ab9ed8ea","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"39794f7e-3fb2-40d8-9ccb-54b2789ddfa8","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.293900112Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.181667ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/566fa6bf-f3b8-4b70-ac6f-5a20ab9ed8ea
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:13.293900Z","description":"","domain_name":"testfunctiontriggerscpqkjeyb-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"566fa6bf-f3b8-4b70-ac6f-5a20ab9ed8ea","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"39794f7e-3fb2-40d8-9ccb-54b2789ddfa8","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:13.293900Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.088333ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-nats","function_id":"566fa6bf-f3b8-4b70-ac6f-5a20ab9ed8ea","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"ABJB6EGKXFTAXU6LCTWMS6SU7LTX4HSWIUHFI2DUFRD2RY5RWNX2EBXY","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"566fa6bf-f3b8-4b70-ac6f-5a20ab9ed8ea","id":"d61296e0-24e3-49fb-a502-7f055d01db2f","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ABJB6EGKXFTAXU6LCTWMS6SU7LTX4HSWIUHFI2DUFRD2RY5RWNX2EBXY","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.945084ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/d61296e0-24e3-49fb-a502-7f055d01db2f
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"566fa6bf-f3b8-4b70-ac6f-5a20ab9ed8ea","id":"d61296e0-24e3-49fb-a502-7f055d01db2f","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ABJB6EGKXFTAXU6LCTWMS6SU7LTX4HSWIUHFI2DUFRD2RY5RWNX2EBXY","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.9015ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/d61296e0-24e3-49fb-a502-7f055d01db2f
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.88375ms
[...]
