---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.985871392Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"0437243b-fa6d-4bf4-b45b-ee59ab3636d7","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$iiymTLmenWsw8otY1g7ZwQ$0T2xmtzqfty+xKRlSb5mRvWauDTyoXFL562X2c82jjE","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.985871392Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.982165787s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0437243b-fa6d-4bf4-b45b-ee59ab3636d7
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.985871Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"0437243b-fa6d-4bf4-b45b-ee59ab3636d7","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$iiymTLmenWsw8otY1g7ZwQ$0T2xmtzqfty+xKRlSb5mRvWauDTyoXFL562X2c82jjE","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.985871Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.376457ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"test_secret","value":"updated_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0437243b-fa6d-4bf4-b45b-ee59ab3636d7
        method: PATCH
      response:
        body: '{"created_at":"2026-05-04T12:38:57.985871Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"0437243b-fa6d-4bf4-b45b-ee59ab3636d7","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestxc92rk0r","registry_namespace_id":"9cc78b9b-5a28-4399-8146-6695d4bdb863","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$HQUj20sSgmb79dtFSmHdCw$ZhLXuDDjoNscFoQUhrWf7M5JjA71/Lo+wGLLyHRKXp0","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:20.074255051Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 364.097292ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0437243b-fa6d-4bf4-b45b-ee59ab3636d7
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.312597ms
[...]
