---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-epic-buck","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.540344094Z","description":"","environment_variables":{},"error_message":null,"id":"7ba41212-5ba5-42e0-b4c3-f3116ad20e53","name":"tf-func-epic-buck","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.540344094Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.658495517s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7ba41212-5ba5-42e0-b4c3-f3116ad20e53
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.540344Z","description":"","environment_variables":{},"error_message":null,"id":"7ba41212-5ba5-42e0-b4c3-f3116ad20e53","name":"tf-func-epic-buck","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.540344Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.789241ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"7ba41212-5ba5-42e0-b4c3-f3116ad20e53","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:17.972668498Z","description":"","domain_name":"tffuncepicbuckrvfo7qzj-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4a5f5280-78f1-496f-a03c-ec0fa70b1ce8","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"7ba41212-5ba5-42e0-b4c3-f3116ad20e53","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$4U+OSdCYyAotxsuLOmkFJw$XDsAr3Bgl4+L0cuRwEjJlL3lSIcMYRtRXVTYn00L1iU","key":"test_secret"}],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:17.972668498Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.63022ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/4a5f5280-78f1-496f-a03c-ec0fa70b1ce8
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:17.972668Z","description":"","domain_name":"tffuncepicbuckrvfo7qzj-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4a5f5280-78f1-496f-a03c-ec0fa70b1ce8","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"7ba41212-5ba5-42e0-b4c3-f3116ad20e53","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$4U+OSdCYyAotxsuLOmkFJw$XDsAr3Bgl4+L0cuRwEjJlL3lSIcMYRtRXVTYn00L1iU","key":"test_secret"}],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:17.972668Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.768621ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"},{"key":"test_secret","value":null}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/4a5f5280-78f1-496f-a03c-ec0fa70b1ce8
        method: PATCH
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:17.972668Z","description":"","domain_name":"tffuncepicbuckrvfo7qzj-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"bar"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4a5f5280-78f1-496f-a03c-ec0fa70b1ce8","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"7ba41212-5ba5-42e0-b4c3-f3116ad20e53","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tArYSsXR2cDXb6u0i+fOsA$AGJ2ockizVhqQsLOuycWRdNrGT3yBrmGPY7KnwIgAlo","key":"foo_secret"}],"status":"pending","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:20.090300298Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 728.463841ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7ba41212-5ba5-42e0-b4c3-f3116ad20e53
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.477509ms
[...]
