---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-musing-leavitt","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-06-16T11:30:24.069127732Z","description":"","environment_variables":{},"error_message":null,"id":"a3a62ba2-9c10-4956-bc64-7890ea34c61c","name":"tf-func-musing-leavitt","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-16T11:30:24.069127732Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 677.762471ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/a3a62ba2-9c10-4956-bc64-7890ea34c61c
        method: GET
      response:
        body: '{"created_at":"2025-06-16T11:30:24.069128Z","description":"","environment_variables":{},"error_message":null,"id":"a3a62ba2-9c10-4956-bc64-7890ea34c61c","name":"tf-func-musing-leavitt","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-16T11:30:24.069128Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.597251ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-gifted-engelbart","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-16T11:30:23.630403Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"238100f6-0246-441a-ae44-2c77af88ac9c","name":"tf-pn-gifted-engelbart","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-16T11:30:23.630403Z","id":"07330e73-1eac-4664-8601-56a0732618e2","private_network_id":"238100f6-0246-441a-ae44-2c77af88ac9c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.40.0/22","updated_at":"2025-06-16T11:30:23.630403Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-16T11:30:23.630403Z","id":"e86e1991-fbae-49a2-83ac-d8ac13f1d8e6","private_network_id":"238100f6-0246-441a-ae44-2c77af88ac9c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d325::/64","updated_at":"2025-06-16T11:30:23.630403Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-16T11:30:23.630403Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 768.861354ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/238100f6-0246-441a-ae44-2c77af88ac9c
        method: GET
      response:
        body: '{"created_at":"2025-06-16T11:30:23.630403Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"238100f6-0246-441a-ae44-2c77af88ac9c","name":"tf-pn-gifted-engelbart","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-16T11:30:23.630403Z","id":"07330e73-1eac-4664-8601-56a0732618e2","private_network_id":"238100f6-0246-441a-ae44-2c77af88ac9c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.40.0/22","updated_at":"2025-06-16T11:30:23.630403Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-16T11:30:23.630403Z","id":"e86e1991-fbae-49a2-83ac-d8ac13f1d8e6","private_network_id":"238100f6-0246-441a-ae44-2c77af88ac9c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d325::/64","updated_at":"2025-06-16T11:30:23.630403Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-16T11:30:23.630403Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.694997ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-crazy-brahmagupta","namespace_id":"a3a62ba2-9c10-4956-bc64-7890ea34c61c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-06-16T11:30:55.173382401Z","description":"","domain_name":"tffuncmusingleavitt8rgde362-tf-func-crazy-brahmagupta.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"8b7ffd77-ab03-4783-9eb9-d0576bc19785","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-crazy-brahmagupta","namespace_id":"a3a62ba2-9c10-4956-bc64-7890ea34c61c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-16T11:30:55.173382401Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.88431ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8b7ffd77-ab03-4783-9eb9-d0576bc19785
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-06-16T11:30:55.173382Z","description":"","domain_name":"tffuncmusingleavitt8rgde362-tf-func-crazy-brahmagupta.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"8b7ffd77-ab03-4783-9eb9-d0576bc19785","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-crazy-brahmagupta","namespace_id":"a3a62ba2-9c10-4956-bc64-7890ea34c61c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-16T11:30:55.173382Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.042593ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","private_network_id":"238100f6-0246-441a-ae44-2c77af88ac9c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8b7ffd77-ab03-4783-9eb9-d0576bc19785
        method: PATCH
      response:
        body: '{"message":"Application can''t be attached to private network, vpc integration must be activated on its parent namespace"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 41.274475ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/238100f6-0246-441a-ae44-2c77af88ac9c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"238100f6-0246-441a-ae44-2c77af88ac9c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.964255ms
