---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-tender-torvalds","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"c1c0c944-e794-47f1-aa6f-a615f262b68e","name":"tf-func-tender-torvalds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.240083499s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c1c0c944-e794-47f1-aa6f-a615f262b68e
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"c1c0c944-e794-47f1-aa6f-a615f262b68e","name":"tf-func-tender-torvalds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.749446ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"c1c0c944-e794-47f1-aa6f-a615f262b68e","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tffunctendertorvaldszifl1dcs-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"5b9b9c2d-fa31-418f-9904-14aac5a7c984","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"c1c0c944-e794-47f1-aa6f-a615f262b68e","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$mfBbtNvve4vk4GBtcwkAkQ$hHOfmX8YZu13Lolmok5xYJtK1KmssC3XcAQG6PWadjk","key":"test_secret"}],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 831.924728ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/5b9b9c2d-fa31-418f-9904-14aac5a7c984
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tffunctendertorvaldszifl1dcs-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"5b9b9c2d-fa31-418f-9904-14aac5a7c984","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"c1c0c944-e794-47f1-aa6f-a615f262b68e","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$mfBbtNvve4vk4GBtcwkAkQ$hHOfmX8YZu13Lolmok5xYJtK1KmssC3XcAQG6PWadjk","key":"test_secret"}],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.435761ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/5b9b9c2d-fa31-418f-9904-14aac5a7c984
        method: PATCH
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tffunctendertorvaldszifl1dcs-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"bar"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"5b9b9c2d-fa31-418f-9904-14aac5a7c984","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"c1c0c944-e794-47f1-aa6f-a615f262b68e","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$mfBbtNvve4vk4GBtcwkAkQ$hHOfmX8YZu13Lolmok5xYJtK1KmssC3XcAQG6PWadjk","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$FlLYj4RAWGj8hQzb2DIKqQ$SeGLoqwg0kWIeSXwz/o8IyYsjgIOLLcj6c4iD93aRzw","key":"foo_secret"}],"status":"pending","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.522611ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c1c0c944-e794-47f1-aa6f-a615f262b68e
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.465441ms
[...]
