---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:25.504217676Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"34f2d04a-11ef-44c7-9b30-c87d518fa2e6","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:25.504217676Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.66025ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/34f2d04a-11ef-44c7-9b30-c87d518fa2e6
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:25.504218Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"34f2d04a-11ef-44c7-9b30-c87d518fa2e6","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:25.504218Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.834708ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/34f2d04a-11ef-44c7-9b30-c87d518fa2e6
        method: PATCH
      response:
        body: '{"created_at":"2025-01-22T15:29:25.504218Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"34f2d04a-11ef-44c7-9b30-c87d518fa2e6","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtesthq8k8fdx","registry_namespace_id":"c7db1a80-e5a9-4532-9383-8549e6f18276","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:43.878086392Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.149542ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/34f2d04a-11ef-44c7-9b30-c87d518fa2e6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.075417ms
[...]
