---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-vigilant-kalam","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"4c0c44b6-752b-4ca9-9797-8f1129f2e306","name":"tf-func-vigilant-kalam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.219766264s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/4c0c44b6-752b-4ca9-9797-8f1129f2e306
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"4c0c44b6-752b-4ca9-9797-8f1129f2e306","name":"tf-func-vigilant-kalam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.507782ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-nice-bhabha","namespace_id":"4c0c44b6-752b-4ca9-9797-8f1129f2e306","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tffuncvigilantkalambpv74atz-tf-func-nice-bhabha.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b1a4cb95-12b3-46df-85c1-e6af6bc6e7e3","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-nice-bhabha","namespace_id":"4c0c44b6-752b-4ca9-9797-8f1129f2e306","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 542.313205ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/b1a4cb95-12b3-46df-85c1-e6af6bc6e7e3
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tffuncvigilantkalambpv74atz-tf-func-nice-bhabha.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b1a4cb95-12b3-46df-85c1-e6af6bc6e7e3","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-nice-bhabha","namespace_id":"4c0c44b6-752b-4ca9-9797-8f1129f2e306","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.92699ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/4c0c44b6-752b-4ca9-9797-8f1129f2e306
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.640256ms
[...]
