---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-func-fervent-dhawan\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"f3f5ffcf-1a2b-41af-9e12-1cd7cf014705\",\"name\":\"tf-func-fervent-dhawan\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:29.232328485Z\",\"updated_at\":\"2025-09-01T15:54:29.232328485Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 9.059140249s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f3f5ffcf-1a2b-41af-9e12-1cd7cf014705
    method: GET
  response:
    body: "{\"id\":\"f3f5ffcf-1a2b-41af-9e12-1cd7cf014705\",\"name\":\"tf-func-fervent-dhawan\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:29.232328Z\",\"updated_at\":\"2025-09-01T15:54:29.232328Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.523657ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"foobar\",\"namespace_id\":\"f3f5ffcf-1a2b-41af-9e12-1cd7cf014705\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"timeout\":\"10.000000000s\",\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"d2ddb7fd-a299-4206-a4be-4afdec289e58\",\"name\":\"foobar\",\"namespace_id\":\"f3f5ffcf-1a2b-41af-9e12-1cd7cf014705\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"10s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffuncferventdhawan2xeaueaq-foobar.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:48.861056629Z\",\"updated_at\":\"2025-09-01T15:54:48.861056629Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 9.164053777s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/d2ddb7fd-a299-4206-a4be-4afdec289e58
    method: GET
  response:
    body: "{\"id\":\"d2ddb7fd-a299-4206-a4be-4afdec289e58\",\"name\":\"foobar\",\"namespace_id\":\"f3f5ffcf-1a2b-41af-9e12-1cd7cf014705\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"10s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffuncferventdhawan2xeaueaq-foobar.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:48.861057Z\",\"updated_at\":\"2025-09-01T15:54:48.861057Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.790254ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f3f5ffcf-1a2b-41af-9e12-1cd7cf014705
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 348.827539ms
[...]
