---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-recursing-swanson","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:23.346930765Z","description":"","environment_variables":{},"error_message":null,"id":"31066ad6-87e2-4075-ae04-c22348ebf5c2","name":"tf-func-recursing-swanson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:23.346930765Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 345.928833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/31066ad6-87e2-4075-ae04-c22348ebf5c2
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:23.346931Z","description":"","environment_variables":{},"error_message":null,"id":"31066ad6-87e2-4075-ae04-c22348ebf5c2","name":"tf-func-recursing-swanson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:23.346931Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.206833ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"31066ad6-87e2-4075-ae04-c22348ebf5c2","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"timeout":"10.000000000s","handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:28.923131094Z","description":"","domain_name":"tffuncrecursingswans0wcypqhr-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"fb27f0f9-6ebf-4a16-945b-e47060391dcc","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"31066ad6-87e2-4075-ae04-c22348ebf5c2","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"10s","updated_at":"2025-01-24T15:44:28.923131094Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.016416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/fb27f0f9-6ebf-4a16-945b-e47060391dcc
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:28.923131Z","description":"","domain_name":"tffuncrecursingswans0wcypqhr-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"fb27f0f9-6ebf-4a16-945b-e47060391dcc","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"31066ad6-87e2-4075-ae04-c22348ebf5c2","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"10s","updated_at":"2025-01-24T15:44:28.923131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.780875ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/31066ad6-87e2-4075-ae04-c22348ebf5c2
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 87.1085ms
[...]
