---
version: 2
interactions:
- request:
    body: '{"name":"tf-func-priceless-gauss","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"86a56709-566d-4a59-967b-dd762e15a7b6","name":"tf-func-priceless-gauss","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/86a56709-566d-4a59-967b-dd762e15a7b6
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"86a56709-566d-4a59-967b-dd762e15a7b6","name":"tf-func-priceless-gauss","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"foobar","namespace_id":"86a56709-566d-4a59-967b-dd762e15a7b6","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncpricelessgaussrxnpdycu-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"5682fd21-e3b6-473c-a2f0-eddf72df900e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"86a56709-566d-4a59-967b-dd762e15a7b6","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/5682fd21-e3b6-473c-a2f0-eddf72df900e
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncpricelessgaussrxnpdycu-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"5682fd21-e3b6-473c-a2f0-eddf72df900e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"86a56709-566d-4a59-967b-dd762e15a7b6","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"runtime":"unknown_runtime","memory_limit":null,"timeout":null,"redeploy":null,"handler":null,"privacy":"unknown_privacy","description":null,"secret_environment_variables":null,"http_option":"redirected"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/5682fd21-e3b6-473c-a2f0-eddf72df900e
    method: PATCH
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncpricelessgaussrxnpdycu-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"redirected","id":"5682fd21-e3b6-473c-a2f0-eddf72df900e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"86a56709-566d-4a59-967b-dd762e15a7b6","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/86a56709-566d-4a59-967b-dd762e15a7b6
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
