---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-kind-buck","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-06-16T16:32:29.224353568Z","description":"","environment_variables":{},"error_message":null,"id":"0aa68856-5a7c-460e-a304-96399c647807","name":"tf-func-kind-buck","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-16T16:32:29.224353568Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.726304ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0aa68856-5a7c-460e-a304-96399c647807
        method: GET
      response:
        body: '{"created_at":"2025-06-16T16:32:29.224354Z","description":"","environment_variables":{},"error_message":null,"id":"0aa68856-5a7c-460e-a304-96399c647807","name":"tf-func-kind-buck","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-16T16:32:29.224354Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.41771ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-pn01","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-16T16:32:29.056273Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c5b3c2f5-3a1b-4241-805e-c9aa9f7a4432","name":"test-acc-function-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-16T16:32:29.056273Z","id":"81747cba-53fd-4399-828c-fbadd1b1faf3","private_network_id":"c5b3c2f5-3a1b-4241-805e-c9aa9f7a4432","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-06-16T16:32:29.056273Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-16T16:32:29.056273Z","id":"e1a95737-170c-4783-9297-8710b1350a1a","private_network_id":"c5b3c2f5-3a1b-4241-805e-c9aa9f7a4432","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d0b8::/64","updated_at":"2025-06-16T16:32:29.056273Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-16T16:32:29.056273Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 747.666056ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c5b3c2f5-3a1b-4241-805e-c9aa9f7a4432
        method: GET
      response:
        body: '{"created_at":"2025-06-16T16:32:29.056273Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c5b3c2f5-3a1b-4241-805e-c9aa9f7a4432","name":"test-acc-function-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-16T16:32:29.056273Z","id":"81747cba-53fd-4399-828c-fbadd1b1faf3","private_network_id":"c5b3c2f5-3a1b-4241-805e-c9aa9f7a4432","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-06-16T16:32:29.056273Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-16T16:32:29.056273Z","id":"e1a95737-170c-4783-9297-8710b1350a1a","private_network_id":"c5b3c2f5-3a1b-4241-805e-c9aa9f7a4432","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d0b8::/64","updated_at":"2025-06-16T16:32:29.056273Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-16T16:32:29.056273Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.662889ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-00","namespace_id":"0aa68856-5a7c-460e-a304-96399c647807","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"d4a00f5a-5222-43fb-9fd2-7dae459ef2a0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-06-16T16:32:34.739489328Z","description":"","domain_name":"tffunckindbuckzikb0q7x-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"0ddfbecf-40c1-49e3-b00f-9f23194ed112","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"0aa68856-5a7c-460e-a304-96399c647807","privacy":"private","private_network_id":"d4a00f5a-5222-43fb-9fd2-7dae459ef2a0","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-16T16:32:34.739489328Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 363.58077ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0ddfbecf-40c1-49e3-b00f-9f23194ed112
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-06-16T16:32:34.739489Z","description":"","domain_name":"tffunckindbuckzikb0q7x-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"0ddfbecf-40c1-49e3-b00f-9f23194ed112","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"0aa68856-5a7c-460e-a304-96399c647807","privacy":"private","private_network_id":"d4a00f5a-5222-43fb-9fd2-7dae459ef2a0","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-16T16:32:34.739489Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.583146ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0aa68856-5a7c-460e-a304-96399c647807
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.348ms
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d4a00f5a-5222-43fb-9fd2-7dae459ef2a0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"d4a00f5a-5222-43fb-9fd2-7dae459ef2a0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 18.99034ms
[...]
