---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":["tag1","tag2"],"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.579176981Z","description":"","environment_variables":{},"error_message":null,"id":"7a163fbc-3009-45ba-bd7d-0e9d7fb19e7f","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-08-27T15:05:13.579176981Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.524412395s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7a163fbc-3009-45ba-bd7d-0e9d7fb19e7f
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.579177Z","description":"","environment_variables":{},"error_message":null,"id":"7a163fbc-3009-45ba-bd7d-0e9d7fb19e7f","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-08-27T15:05:13.579177Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.509348ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7a163fbc-3009-45ba-bd7d-0e9d7fb19e7f
        method: PATCH
      response:
        body: '{"created_at":"2025-08-27T15:05:13.579177Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"7a163fbc-3009-45ba-bd7d-0e9d7fb19e7f","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01clubjwdn","registry_namespace_id":"dc93fed2-6c5e-4ef5-ada6-742bc69df18c","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$HMmbRnMERK+V5dV0UPTIpQ$ahGOXBT31BnOZ2TvZNRHPvl6YKIMypEipczXpAiHtS8","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:22.355656658Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.471496ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7a163fbc-3009-45ba-bd7d-0e9d7fb19e7f
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.390404ms
[...]
