---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":[\"tag1\",\"tag2\"],\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"7b2dd5e8-fe48-46ba-a4b0-b44d7287fe09\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[\"tag1\",\"tag2\"],\"created_at\":\"2025-09-01T15:54:28.585282431Z\",\"updated_at\":\"2025-09-01T15:54:28.585282431Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 8.418871087s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7b2dd5e8-fe48-46ba-a4b0-b44d7287fe09
    method: GET
  response:
    body: "{\"id\":\"7b2dd5e8-fe48-46ba-a4b0-b44d7287fe09\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[\"tag1\",\"tag2\"],\"created_at\":\"2025-09-01T15:54:28.585282Z\",\"updated_at\":\"2025-09-01T15:54:28.585282Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.321553ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"test\":\"test\"},\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"test_secret\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7b2dd5e8-fe48-46ba-a4b0-b44d7287fe09
    method: PATCH
  response:
    body: "{\"id\":\"7b2dd5e8-fe48-46ba-a4b0-b44d7287fe09\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{\"test\":\"test\"},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"d1b4dda5-5255-4895-94a5-9044c719e469\",\"error_message\":null,\"registry_endpoint\":\"rg.fr-par.scw.cloud/funcscwtestcrns01ezfgjwdm\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$y7lDrWR1tnq6yNu7y0scDw$vJsDxIENTO1oSfsycsHURJlnoNGApNMSt3qa7sEhNGg\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.585282Z\",\"updated_at\":\"2025-09-01T15:54:49.170982529Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 322.189773ms
[...]
- id: 35
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7b2dd5e8-fe48-46ba-a4b0-b44d7287fe09
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 98.840355ms
[...]
