---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-naughty-blackburn\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2\",\"name\":\"tf-pn-naughty-blackburn\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:20.783815Z\",\"updated_at\":\"2025-09-01T15:54:20.783815Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"1b0a5f77-b581-48f1-88da-41e71ec69b2a\",\"created_at\":\"2025-09-01T15:54:20.783815Z\",\"updated_at\":\"2025-09-01T15:54:20.783815Z\",\"subnet\":\"172.16.104.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"9e13d506-df40-4e50-80a7-5b92c4dae37f\",\"created_at\":\"2025-09-01T15:54:20.783815Z\",\"updated_at\":\"2025-09-01T15:54:20.783815Z\",\"subnet\":\"fde7:767f:1bb5:39c::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.156645473s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2
    method: GET
  response:
    body: "{\"id\":\"3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2\",\"name\":\"tf-pn-naughty-blackburn\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:20.783815Z\",\"updated_at\":\"2025-09-01T15:54:20.783815Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"1b0a5f77-b581-48f1-88da-41e71ec69b2a\",\"created_at\":\"2025-09-01T15:54:20.783815Z\",\"updated_at\":\"2025-09-01T15:54:20.783815Z\",\"subnet\":\"172.16.104.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"9e13d506-df40-4e50-80a7-5b92c4dae37f\",\"created_at\":\"2025-09-01T15:54:20.783815Z\",\"updated_at\":\"2025-09-01T15:54:20.783815Z\",\"subnet\":\"fde7:767f:1bb5:39c::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.277831ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-func-charming-fermat\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"dab8c723-6403-427d-bb3d-0e266c9f3a72\",\"name\":\"tf-func-charming-fermat\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.452791144Z\",\"updated_at\":\"2025-09-01T15:54:28.452791144Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.998486103s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/dab8c723-6403-427d-bb3d-0e266c9f3a72
    method: GET
  response:
    body: "{\"id\":\"dab8c723-6403-427d-bb3d-0e266c9f3a72\",\"name\":\"tf-func-charming-fermat\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.452791Z\",\"updated_at\":\"2025-09-01T15:54:28.452791Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 132.431441ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-func-unruffled-margulis\",\"namespace_id\":\"dab8c723-6403-427d-bb3d-0e266c9f3a72\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"go123\",\"memory_limit\":256,\"handler\":\"Handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"f8f11b8a-0cf7-40ea-a828-ba025e2bbb04\",\"name\":\"tf-func-unruffled-margulis\",\"namespace_id\":\"dab8c723-6403-427d-bb3d-0e266c9f3a72\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"go123\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"Handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffunccharmingfermat3a5f00ab-tf-func-unruffled-margulis.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v1\",\"created_at\":\"2025-09-01T15:54:48.658701050Z\",\"updated_at\":\"2025-09-01T15:54:48.658701050Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 9.946197138s
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/f8f11b8a-0cf7-40ea-a828-ba025e2bbb04
    method: GET
  response:
    body: "{\"id\":\"f8f11b8a-0cf7-40ea-a828-ba025e2bbb04\",\"name\":\"tf-func-unruffled-margulis\",\"namespace_id\":\"dab8c723-6403-427d-bb3d-0e266c9f3a72\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"go123\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"Handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffunccharmingfermat3a5f00ab-tf-func-unruffled-margulis.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v1\",\"created_at\":\"2025-09-01T15:54:48.658701Z\",\"updated_at\":\"2025-09-01T15:54:48.658701Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 417.195847ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/dab8c723-6403-427d-bb3d-0e266c9f3a72
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 116.21799ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"3bc69b16-c9cc-4e9d-b9c3-bb915d4055f2\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 56.388668ms
