---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-gracious-lamport","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:47.231891054Z","description":"","environment_variables":{},"error_message":null,"id":"b2e1afd8-0ad2-4389-ad55-b6ad36a24e0c","name":"tf-func-gracious-lamport","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.231891054Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.775960223s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b2e1afd8-0ad2-4389-ad55-b6ad36a24e0c
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:47.231891Z","description":"","environment_variables":{},"error_message":null,"id":"b2e1afd8-0ad2-4389-ad55-b6ad36a24e0c","name":"tf-func-gracious-lamport","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.231891Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.991157ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"b2e1afd8-0ad2-4389-ad55-b6ad36a24e0c","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node26","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:07.697497070Z","description":"","domain_name":"tffuncgraciouslamporcoqeupqn-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4e16b0e0-e7f1-4275-a174-43d74ade7d37","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"b2e1afd8-0ad2-4389-ad55-b6ad36a24e0c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$4kuBqfqA+e2BLdfbSao90g$inSY3TH/URuMK4LJaLm/s62flLH3nzYsgKJh9/bIXAI","key":"test_secret"}],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:02:07.697497070Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.391408ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/4e16b0e0-e7f1-4275-a174-43d74ade7d37
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:07.697497Z","description":"","domain_name":"tffuncgraciouslamporcoqeupqn-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4e16b0e0-e7f1-4275-a174-43d74ade7d37","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"b2e1afd8-0ad2-4389-ad55-b6ad36a24e0c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$4kuBqfqA+e2BLdfbSao90g$inSY3TH/URuMK4LJaLm/s62flLH3nzYsgKJh9/bIXAI","key":"test_secret"}],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:02:07.697497Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.585052ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"},{"key":"test_secret","value":null}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/4e16b0e0-e7f1-4275-a174-43d74ade7d37
        method: PATCH
      response:
        bo[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b2e1afd8-0ad2-4389-ad55-b6ad36a24e0c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.233605ms
[...]
