---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFunction_PrivateNetwork","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:55.544747Z","custom_routes_propagation_enabled":true,"id":"36d3c8ee-561c-47f5-95b1-973aa85443ef","is_default":false,"name":"TestAccFunction_PrivateNetwork","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-04T12:38:55.544747Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.74481ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/36d3c8ee-561c-47f5-95b1-973aa85443ef
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:55.544747Z","custom_routes_propagation_enabled":true,"id":"36d3c8ee-561c-47f5-95b1-973aa85443ef","is_default":false,"name":"TestAccFunction_PrivateNetwork","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-04T12:38:55.544747Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.027976ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-pn01","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"36d3c8ee-561c-47f5-95b1-973aa85443ef","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:55.688803Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"eeff176d-2ea9-4c03-bd41-675e65c0b176","name":"test-acc-function-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2026-05-04T12:38:55.688803Z","id":"d6a2cf65-6a4d-48e0-88b7-e779a952842a","private_network_id":"eeff176d-2ea9-4c03-bd41-675e65c0b176","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2026-05-04T12:38:55.688803Z","vpc_id":"36d3c8ee-561c-47f5-95b1-973aa85443ef"},{"created_at":"2026-05-04T12:38:55.688803Z","id":"f5939756-132f-44dd-8f7d-8b9c679373e8","private_network_id":"eeff176d-2ea9-4c03-bd41-675e65c0b176","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:9c9b::/64","updated_at":"2026-05-04T12:38:55.688803Z","vpc_id":"36d3c8ee-561c-47f5-95b1-973aa85443ef"}],"tags":[],"updated_at":"2026-05-04T12:38:55.688803Z","vpc_id":"36d3c8ee-561c-47f5-95b1-973aa85443ef"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.462323ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/eeff176d-2ea9-4c03-bd41-675e65c0b176
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:55.688803Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"eeff176d-2ea9-4c03-bd41-675e65c0b176","name":"test-acc-function-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2026-05-04T12:38:55.688803Z","id":"d6a2cf65-6a4d-48e0-88b7-e779a952842a","private_network_id":"eeff176d-2ea9-4c03-bd41-675e65c0b176","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2026-05-04T12:38:55.688803Z","vpc_id":"36d3c8ee-561c-47f5-95b1-973aa85443ef"},{"created_at":"2026-05-04T12:38:55.688803Z","id":"f5939756-132f-44dd-8f7d-8b9c679373e8","private_network_id":"eeff176d-2ea9-4c03-bd41-675e65c0b176","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:9c9b::/64","updated_at":"2026-05-04T12:38:55.688803Z","vpc_id":"36d3c8ee-561c-47f5-95b1-973aa85443ef"}],"tags":[],"updated_at":"2026-05-04T12:38:55.688803Z","vpc_id":"36d3c8ee-561c-47f5-95b1-973aa85443ef"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.106993ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-elated-rubin","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:56.371001061Z","description":"","environment_variables":{},"error_message":null,"id":"87948c6d-ea10-40ec-82b5-05977516bd00","name":"tf-func-elated-rubin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:56.371001061Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 987.620481ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/87948c6d-ea10-40ec-82b5-05977516bd00
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:56.371001Z","description":"","environment_variables":{},"error_message":null,"id":"87948c6d-ea10-40ec-82b5-05977516bd00","name":"tf-func-elated-rubin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:56.371001Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.809093ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-00","namespace_id":"87948c6d-ea10-40ec-82b5-05977516bd00","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"258f0f17-2b28-41a2-bba5-d15b6f0902f6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:06.756020524Z","description":"","domain_name":"tffuncelatedrubinryziaplj-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"89758c34-e02e-480b-bf6a-327e16c25282","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"87948c6d-ea10-40ec-82b5-05977516bd00","privacy":"private","private_network_id":"258f0f17-2b28-41a2-bba5-d15b6f0902f6","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:06.756020524Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.484716ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/89758c34-e02e-480b-bf6a-327e16c25282
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:06.756021Z","description":"","domain_name":"tffuncelatedrubinryziaplj-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"89758c34-e02e-480b-bf6a-327e16c25282","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"87948c6d-ea10-40ec-82b5-05977516bd00","privacy":"private","private_network_id":"258f0f17-2b28-41a2-bba5-d15b6f0902f6","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:06.756021Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.510024ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/87948c6d-ea10-40ec-82b5-05977516bd00
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 249.277652ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/258f0f17-2b28-41a2-bba5-d15b6f0902f6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"258f0f17-2b28-41a2-bba5-d15b6f0902f6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.124581ms
[...]
