---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-pensive-shirley","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:02.287327583Z","description":"","environment_variables":{},"error_message":null,"id":"083bea5e-ac11-4467-8298-a349a394cb33","name":"tf-func-pensive-shirley","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.287327583Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 871.305208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/083bea5e-ac11-4467-8298-a349a394cb33
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:02.287328Z","description":"","environment_variables":{},"error_message":null,"id":"083bea5e-ac11-4467-8298-a349a394cb33","name":"tf-func-pensive-shirley","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.287328Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.098917ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-wizardly-chaum","namespace_id":"083bea5e-ac11-4467-8298-a349a394cb33","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.624247509Z","description":"","domain_name":"tffuncpensiveshirleysxsktsz0-tf-func-wizardly-chaum.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"351c716e-0741-45c9-b3c9-06318844bed6","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-wizardly-chaum","namespace_id":"083bea5e-ac11-4467-8298-a349a394cb33","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.624247509Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 660.843167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/351c716e-0741-45c9-b3c9-06318844bed6
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.624248Z","description":"","domain_name":"tffuncpensiveshirleysxsktsz0-tf-func-wizardly-chaum.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"351c716e-0741-45c9-b3c9-06318844bed6","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-wizardly-chaum","namespace_id":"083bea5e-ac11-4467-8298-a349a394cb33","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.624248Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.716125ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/083bea5e-ac11-4467-8298-a349a394cb33
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.899541ms
[...]
