---
version: 2
interactions:
- request:
    body: '{"name":"tf-func-optimistic-lederberg","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"0cc5f17a-65f6-44e2-be19-21e563ecbaeb","name":"tf-func-optimistic-lederberg","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0cc5f17a-65f6-44e2-be19-21e563ecbaeb
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"0cc5f17a-65f6-44e2-be19-21e563ecbaeb","name":"tf-func-optimistic-lederberg","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"foobar","namespace_id":"0cc5f17a-65f6-44e2-be19-21e563ecbaeb","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncoptimisticledezjooj5mt-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"525ffa28-ec28-4b97-9ea8-a576632f7e1e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"0cc5f17a-65f6-44e2-be19-21e563ecbaeb","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$x22PaCExcx8iKNuipf/7Kg$C5qp3liMdW4l2dE6FDKmywByifkXX6a5fti6xDn5TF0","key":"test_secret"}],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/525ffa28-ec28-4b97-9ea8-a576632f7e1e
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncoptimisticledezjooj5mt-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"525ffa28-ec28-4b97-9ea8-a576632f7e1e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"0cc5f17a-65f6-44e2-be19-21e563ecbaeb","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$x22PaCExcx8iKNuipf/7Kg$C5qp3liMdW4l2dE6FDKmywByifkXX6a5fti6xDn5TF0","key":"test_secret"}],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"min_scale":null,"max_scale":null,"runtime":"unknown_runtime","memory_limit":null,"timeout":null,"redeploy":null,"handler":null,"privacy":"unknown_privacy","description":null,"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/525ffa28-ec28-4b97-9ea8-a576632f7e1e
    method: PATCH
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncoptimisticledezjooj5mt-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"bar"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"525ffa28-ec28-4b97-9ea8-a576632f7e1e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"0cc5f17a-65f6-44e2-be19-21e563ecbaeb","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$x22PaCExcx8iKNuipf/7Kg$C5qp3liMdW4l2dE6FDKmywByifkXX6a5fti6xDn5TF0","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$E6weMECLPKle/+GTDhl4WA$TkWtSNjd6j19BT0bYoz4HZ8ky/nAn//6S5rKDyPfhgI","key":"foo_secret"}],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0cc5f17a-65f6-44e2-be19-21e563ecbaeb
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
