---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-sad-bartik","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:02.216766072Z","description":"","environment_variables":{},"error_message":null,"id":"797e458e-4e09-41fd-985a-d1abea13377c","name":"tf-func-sad-bartik","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.216766072Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 845.969625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/797e458e-4e09-41fd-985a-d1abea13377c
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:02.216766Z","description":"","environment_variables":{},"error_message":null,"id":"797e458e-4e09-41fd-985a-d1abea13377c","name":"tf-func-sad-bartik","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.216766Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.741459ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"797e458e-4e09-41fd-985a-d1abea13377c","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.961616513Z","description":"","domain_name":"tffuncsadbartiky0jtvgfp-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"2af099b9-0c6c-42d3-8a25-d616019d29bc","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"797e458e-4e09-41fd-985a-d1abea13377c","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$B2rAsQzuXjJxdF799kwTPA$cMllXpm80QNpvAd3ZqOEYqN/vC2jqMcZ7QGQj5fbsyI","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.961616513Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.002514083s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/2af099b9-0c6c-42d3-8a25-d616019d29bc
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.961617Z","description":"","domain_name":"tffuncsadbartiky0jtvgfp-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"2af099b9-0c6c-42d3-8a25-d616019d29bc","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"797e458e-4e09-41fd-985a-d1abea13377c","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$B2rAsQzuXjJxdF799kwTPA$cMllXpm80QNpvAd3ZqOEYqN/vC2jqMcZ7QGQj5fbsyI","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.961617Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.42725ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/2af099b9-0c6c-42d3-8a25-d616019d29bc
        method: PATCH
      response:
        body: '{"build_message":null,"cpu_lim[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/797e458e-4e09-41fd-985a-d1abea13377c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.472167ms
[...]
