---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:29.821363271Z","description":"","environment_variables":{},"error_message":null,"id":"58014314-847b-496a-8dbf-0d08e44c4ca3","name":"tf-tests-function-cron-name-update","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:29.821363271Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.852917152s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/58014314-847b-496a-8dbf-0d08e44c4ca3
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:29.821363Z","description":"","environment_variables":{},"error_message":null,"id":"58014314-847b-496a-8dbf-0d08e44c4ca3","name":"tf-tests-function-cron-name-update","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:29.821363Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.021967ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","namespace_id":"58014314-847b-496a-8dbf-0d08e44c4ca3","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:55.734649676Z","description":"","domain_name":"tftestsfunctioncronn8orvlx9c-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"ffbd1151-4c0c-4bc8-93b7-9eec8b9a84d6","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"58014314-847b-496a-8dbf-0d08e44c4ca3","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:55.734649676Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 583.663095ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/ffbd1151-4c0c-4bc8-93b7-9eec8b9a84d6
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:55.734650Z","description":"","domain_name":"tftestsfunctioncronn8orvlx9c-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"ffbd1151-4c0c-4bc8-93b7-9eec8b9a84d6","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"58014314-847b-496a-8dbf-0d08e44c4ca3","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:55.734650Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.821274ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"ffbd1151-4c0c-4bc8-93b7-9eec8b9a84d6","schedule":"0 0 * * *","args":{},"name":"tf-tests-function-cron-name-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{},"function_id":"ffbd1151-4c0c-4bc8-93b7-9eec8b9a84d6","id":"d824667f-f96f-49be-b9b8-fced891a282b","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.172568ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/d824667f-f96f-49be-b9b8-fced891a282b
        method: GET
      response:
        body: '{"args":{},"function_id":"ffbd1151-4c0c-4bc8-93b7-9eec8b9a84d6","id":"d824667f-f96f-49be-b9b8-fced891a282b","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"ready"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.006559ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"args":{"test":"scw"},"name":"name-changed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/d824667f-f96f-49be-b9b8-fced891a282b
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"function_id":"ffbd1151-4c0c-4bc8-93b7-9eec8b9a84d6","id":"d824667f-f96f-49be-b9b8-fced891a282b","name":"name-changed","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.217782ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/58014314-847b-496a-8dbf-0d08e44c4ca3
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.610852ms
[...]
