---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.711092448Z","description":"","environment_variables":{},"error_message":null,"id":"78c17595-1278-4417-901e-b3dbbbd5c8a0","name":"tf-tests-function-cron-with-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.711092448Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.518304657s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/78c17595-1278-4417-901e-b3dbbbd5c8a0
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.711092Z","description":"","environment_variables":{},"error_message":null,"id":"78c17595-1278-4417-901e-b3dbbbd5c8a0","name":"tf-tests-function-cron-with-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.711092Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.458159ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-cron-with-args","namespace_id":"78c17595-1278-4417-901e-b3dbbbd5c8a0","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:26.162689312Z","description":"","domain_name":"tftestsfunctioncronwrvvbf8vd-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"f42ffa54-f443-4b3b-926a-2e3884626abe","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"78c17595-1278-4417-901e-b3dbbbd5c8a0","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:26.162689312Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.924210984s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/f42ffa54-f443-4b3b-926a-2e3884626abe
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:26.162689Z","description":"","domain_name":"tftestsfunctioncronwrvvbf8vd-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"f42ffa54-f443-4b3b-926a-2e3884626abe","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"78c17595-1278-4417-901e-b3dbbbd5c8a0","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:26.162689Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.658408ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"f42ffa54-f443-4b3b-926a-2e3884626abe","schedule":"0 0 * * *","args":{"test":"scw"},"name":"tf-tests-cron-with-args"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"test":"scw"},"function_id":"f42ffa54-f443-4b3b-926a-2e3884626abe","id":"0b9e8033-d401-40e2-a8c0-0d9f5302e2db","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.48143ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/0b9e8033-d401-40e2-a8c0-0d9f5302e2db
        method: GET
      response:
        body: '{"args":{"test":"scw"},"function_id":"f42ffa54-f443-4b3b-926a-2e3884626abe","id":"0b9e8033-d401-40e2-a8c0-0d9f5302e2db","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.389398ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/78c17595-1278-4417-901e-b3dbbbd5c8a0
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.512897ms
[...]
