---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.450794384Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"0edfc4d5-97ee-482c-8fec-fa733d03227f","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.450794384Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.008085208s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0edfc4d5-97ee-482c-8fec-fa733d03227f
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.450794Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"0edfc4d5-97ee-482c-8fec-fa733d03227f","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.450794Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.946083ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0edfc4d5-97ee-482c-8fec-fa733d03227f
        method: PATCH
      response:
        body: '{"created_at":"2025-01-24T15:44:07.450794Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"0edfc4d5-97ee-482c-8fec-fa733d03227f","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestgsng51rr","registry_namespace_id":"b5771b85-f3e9-4eb1-9649-cacae3725936","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:15.610639201Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.420375ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0edfc4d5-97ee-482c-8fec-fa733d03227f
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.586209ms
[...]
