---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-beautiful-brahmagupta","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:56.064561012Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AD2GESGP5R57DBT2GYL6LPUBY742EMHZSCY23OWYHMTIIGBWDW42PINF","name":"tf-nats-account-beautiful-brahmagupta","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","updated_at":"2026-05-04T12:38:56.064561012Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.608941ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AD2GESGP5R57DBT2GYL6LPUBY742EMHZSCY23OWYHMTIIGBWDW42PINF
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:56.064561Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AD2GESGP5R57DBT2GYL6LPUBY742EMHZSCY23OWYHMTIIGBWDW42PINF","name":"tf-nats-account-beautiful-brahmagupta","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","updated_at":"2026-05-04T12:38:56.064561Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.390286ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.940378538Z","description":"","environment_variables":{},"error_message":null,"id":"1b3ceea8-7c68-47f9-9853-3d9f5814489c","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.940378538Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.965674933s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/1b3ceea8-7c68-47f9-9853-3d9f5814489c
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.940379Z","description":"","environment_variables":{},"error_message":null,"id":"1b3ceea8-7c68-47f9-9853-3d9f5814489c","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.940379Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.189447ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"1b3ceea8-7c68-47f9-9853-3d9f5814489c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:18.429407524Z","description":"","domain_name":"testfunctiontriggersrq66lue9-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b64eb93a-1615-4586-8525-4a9521b4a709","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"1b3ceea8-7c68-47f9-9853-3d9f5814489c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:18.429407524Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.164351ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/b64eb93a-1615-4586-8525-4a9521b4a709
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:18.429408Z","description":"","domain_name":"testfunctiontriggersrq66lue9-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b64eb93a-1615-4586-8525-4a9521b4a709","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"1b3ceea8-7c68-47f9-9853-3d9f5814489c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:18.429408Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.692397ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-nats","function_id":"b64eb93a-1615-4586-8525-4a9521b4a709","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"AD2GESGP5R57DBT2GYL6LPUBY742EMHZSCY23OWYHMTIIGBWDW42PINF","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"b64eb93a-1615-4586-8525-4a9521b4a709","id":"c5fe156e-c9f5-4efe-b5bc-d575520bcdea","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AD2GESGP5R57DBT2GYL6LPUBY742EMHZSCY23OWYHMTIIGBWDW42PINF","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.632487ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/c5fe156e-c9f5-4efe-b5bc-d575520bcdea
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"b64eb93a-1615-4586-8525-4a9521b4a709","id":"c5fe156e-c9f5-4efe-b5bc-d575520bcdea","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AD2GESGP5R57DBT2GYL6LPUBY742EMHZSCY23OWYHMTIIGBWDW42PINF","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.040199ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/c5fe156e-c9f5-4efe-b5bc-d575520bcdea
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.807225ms
[...]
