---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-charming-stonebraker","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:39:20.710494694Z","description":"","environment_variables":{},"error_message":null,"id":"d8548e3c-2a09-4750-b9d8-3a25ea1e486c","name":"tf-func-charming-stonebraker","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:20.710494694Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 631.710725ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d8548e3c-2a09-4750-b9d8-3a25ea1e486c
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:39:20.710495Z","description":"","environment_variables":{},"error_message":null,"id":"d8548e3c-2a09-4750-b9d8-3a25ea1e486c","name":"tf-func-charming-stonebraker","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:20.710495Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.813786ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-inspiring-cannon","namespace_id":"d8548e3c-2a09-4750-b9d8-3a25ea1e486c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:25.892625928Z","description":"","domain_name":"tffunccharmingstoneb0uufgfhv-tf-func-inspiring-cannon.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b77dc556-e701-400e-b1ea-a748dbb21da9","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-inspiring-cannon","namespace_id":"d8548e3c-2a09-4750-b9d8-3a25ea1e486c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:25.892625928Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.584939ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/b77dc556-e701-400e-b1ea-a748dbb21da9
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:25.892626Z","description":"","domain_name":"tffunccharmingstoneb0uufgfhv-tf-func-inspiring-cannon.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b77dc556-e701-400e-b1ea-a748dbb21da9","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-inspiring-cannon","namespace_id":"d8548e3c-2a09-4750-b9d8-3a25ea1e486c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:25.892626Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.894023ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d8548e3c-2a09-4750-b9d8-3a25ea1e486c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.225488ms
[...]
