---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-modest-leavitt","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:02.323500110Z","description":"","environment_variables":{},"error_message":null,"id":"53b6630c-2d99-4a73-9e8c-61ae5200502a","name":"tf-func-modest-leavitt","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.323500110Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 891.199625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/53b6630c-2d99-4a73-9e8c-61ae5200502a
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:02.323500Z","description":"","environment_variables":{},"error_message":null,"id":"53b6630c-2d99-4a73-9e8c-61ae5200502a","name":"tf-func-modest-leavitt","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.323500Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.40375ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"53b6630c-2d99-4a73-9e8c-61ae5200502a","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"timeout":"10.000000000s","handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.589381080Z","description":"","domain_name":"tffuncmodestleavittaomlko6i-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d76cddc0-f7a0-463f-86fe-ed11893b5355","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"53b6630c-2d99-4a73-9e8c-61ae5200502a","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"10s","updated_at":"2025-01-22T15:29:08.589381080Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 630.040792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/d76cddc0-f7a0-463f-86fe-ed11893b5355
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.589381Z","description":"","domain_name":"tffuncmodestleavittaomlko6i-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d76cddc0-f7a0-463f-86fe-ed11893b5355","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"53b6630c-2d99-4a73-9e8c-61ae5200502a","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"10s","updated_at":"2025-01-22T15:29:08.589381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.258667ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/53b6630c-2d99-4a73-9e8c-61ae5200502a
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.010125ms
[...]
