---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-sad-faraday","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-07-05T08:50:32.852316484Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AA3NA65BFWAVKDBVNPVXFUGSITWAY7TO3YWR46LAVPSIUZU7UCKRDB5W","name":"tf-nats-account-sad-faraday","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2024-07-05T08:50:32.852316484Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.580695ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AA3NA65BFWAVKDBVNPVXFUGSITWAY7TO3YWR46LAVPSIUZU7UCKRDB5W
        method: GET
      response:
        body: '{"created_at":"2024-07-05T08:50:32.852316Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AA3NA65BFWAVKDBVNPVXFUGSITWAY7TO3YWR46LAVPSIUZU7UCKRDB5W","name":"tf-nats-account-sad-faraday","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2024-07-05T08:50:32.852316Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.133228ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"76111182-9825-41b7-a3c2-3b423caf470a","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 449.727706ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/76111182-9825-41b7-a3c2-3b423caf470a
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"76111182-9825-41b7-a3c2-3b423caf470a","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.928095ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"76111182-9825-41b7-a3c2-3b423caf470a","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"testfunctiontriggersmoeymike-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"24390cea-180e-47c1-8cf4-cd71c7d2f2db","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"76111182-9825-41b7-a3c2-3b423caf470a","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.318584ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/24390cea-180e-47c1-8cf4-cd71c7d2f2db
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"testfunctiontriggersmoeymike-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"24390cea-180e-47c1-8cf4-cd71c7d2f2db","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"76111182-9825-41b7-a3c2-3b423caf470a","privacy":"private","region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.385066ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-nats","function_id":"24390cea-180e-47c1-8cf4-cd71c7d2f2db","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"AA3NA65BFWAVKDBVNPVXFUGSITWAY7TO3YWR46LAVPSIUZU7UCKRDB5W","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"24390cea-180e-47c1-8cf4-cd71c7d2f2db","id":"1dc01607-a88d-40de-ad18-f6b2232ce5ac","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AA3NA65BFWAVKDBVNPVXFUGSITWAY7TO3YWR46LAVPSIUZU7UCKRDB5W","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.352055ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/1dc01607-a88d-40de-ad18-f6b2232ce5ac
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"24390cea-180e-47c1-8cf4-cd71c7d2f2db","id":"1dc01607-a88d-40de-ad18-f6b2232ce5ac","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AA3NA65BFWAVKDBVNPVXFUGSITWAY7TO3YWR46LAVPSIUZU7UCKRDB5W","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.800887ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/1dc01607-a88d-40de-ad18-f6b2232ce5ac
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.933471ms
[...]
