---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-happy-mirzakhani","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:07.554889630Z","description":"","environment_variables":{},"error_message":null,"id":"2d7e4c24-c04b-4062-b15c-4b2ce794eea6","name":"tf-func-happy-mirzakhani","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.554889630Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 794.076625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2d7e4c24-c04b-4062-b15c-4b2ce794eea6
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:07.554890Z","description":"","environment_variables":{},"error_message":null,"id":"2d7e4c24-c04b-4062-b15c-4b2ce794eea6","name":"tf-func-happy-mirzakhani","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:07.554890Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.386125ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"2d7e4c24-c04b-4062-b15c-4b2ce794eea6","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:18.093915728Z","description":"","domain_name":"tffunchappymirzakhanh5jlsa67-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"40b42a92-d2c5-43aa-bb50-f1754afe2b59","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"2d7e4c24-c04b-4062-b15c-4b2ce794eea6","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:18.093915728Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.543833ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/40b42a92-d2c5-43aa-bb50-f1754afe2b59
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-24T15:44:18.093916Z","description":"","domain_name":"tffunchappymirzakhanh5jlsa67-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"40b42a92-d2c5-43aa-bb50-f1754afe2b59","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"2d7e4c24-c04b-4062-b15c-4b2ce794eea6","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:44:18.093916Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.02975ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2d7e4c24-c04b-4062-b15c-4b2ce794eea6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.360375ms
[...]
