---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:56.114381Z","description":"","id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","name":"tf_tests_function_trigger_sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","qualification":null,"updated_at":"2026-05-04T12:38:56.114381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.133622ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:56.114381Z","description":"","id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","name":"tf_tests_function_trigger_sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-04T12:38:56.114381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.914681ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:56.385930589Z","project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-05-04T12:38:56.385930589Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.046532ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:56.385930Z","project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-05-04T12:38:56.385930Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.713508ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","name":"tf-sqs-credentials-friendly-ishizaka","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"UmZVg8b3FArGhHzfF1Le","created_at":"2026-05-04T12:38:56.533300218Z","id":"326dff10-8afb-423e-9717-32e932ce4564","name":"tf-sqs-credentials-friendly-ishizaka","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","region":"fr-par","secret_checksum":"4c5b0023f0b4b1a3d909580a465910c1989eca53","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-04T12:38:56.533300218Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.488005ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/326dff10-8afb-423e-9717-32e932ce4564
        method: GET
      response:
        body: '{"access_key":"UmZVg8b3FArGhHzfF1Le","created_at":"2026-05-04T12:38:56.533300Z","id":"326dff10-8afb-423e-9717-32e932ce4564","name":"tf-sqs-credentials-friendly-ishizaka","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","region":"fr-par","secret_checksum":"4c5b0023f0b4b1a3d909580a465910c1989eca53","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-04T12:38:56.533300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.379611ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MessageRetentionPeriod":"345600","VisibilityTimeout":"30","MaximumMessageSize":"262144"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 80d7322b-5dff-481b-92c7-278e10bda99a
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260504T123856Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txe1c8070c-758c-4d67-bc0d-49419d501deb
        status: 200 OK
        code: 200
        duration: 320.913019ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ff233dc4-6190-4780-9b3b-8d71f8119e11
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260504T123857Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txc5d8d3e1-2b64-418b-b601-3c80c1fe893f
        status: 200 OK
        code: 200
        duration: 24.120188ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.961631081Z","description":"","environment_variables":{},"error_message":null,"id":"c9093822-0b88-46fb-a16e-5af99da04a23","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.961631081Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.645021392s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c9093822-0b88-46fb-a16e-5af99da04a23
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.961631Z","description":"","environment_variables":{},"error_message":null,"id":"c9093822-0b88-46fb-a16e-5af99da04a23","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:38:57.961631Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.847878ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"c9093822-0b88-46fb-a16e-5af99da04a23","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:28.589594937Z","description":"","domain_name":"testfunctiontriggersim5bvl17-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"8b507596-7733-484b-82c5-91fecccd814d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"c9093822-0b88-46fb-a16e-5af99da04a23","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:28.589594937Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.916923ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8b507596-7733-484b-82c5-91fecccd814d
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:28.589595Z","description":"","domain_name":"testfunctiontriggersim5bvl17-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"8b507596-7733-484b-82c5-91fecccd814d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"c9093822-0b88-46fb-a16e-5af99da04a23","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:28.589595Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.611926ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"8b507596-7733-484b-82c5-91fecccd814d","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"8b507596-7733-484b-82c5-91fecccd814d","id":"af5909c0-8109-46d7-bcb1-dfc7d75d6444","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.361809ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/af5909c0-8109-46d7-bcb1-dfc7d75d6444
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"8b507596-7733-484b-82c5-91fecccd814d","id":"af5909c0-8109-46d7-bcb1-dfc7d75d6444","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.138394ms
[...]
    - id: 42
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 50aacf94-b8e4-4235-89bf-86bb9bb72d81
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260504T123950Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx3eb37d09-f18d-49b2-b50f-2629775d54ea
        status: 404 Not Found
        code: 404
        duration: 24.08992ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"8cdbfab3-ef18-40fd-9a54-67d13d4ec8a8","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.693186ms
[...]
