---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-func-competent-ptolemy\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"c02dc3a3-e55f-42da-953d-23ee81d3837e\",\"name\":\"tf-func-competent-ptolemy\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:27.100848365Z\",\"updated_at\":\"2025-09-01T15:55:27.100848365Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 9.016101064s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c02dc3a3-e55f-42da-953d-23ee81d3837e
    method: GET
  response:
    body: "{\"id\":\"c02dc3a3-e55f-42da-953d-23ee81d3837e\",\"name\":\"tf-func-competent-ptolemy\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:27.100848Z\",\"updated_at\":\"2025-09-01T15:55:27.100848Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.489843ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"foobar\",\"namespace_id\":\"c02dc3a3-e55f-42da-953d-23ee81d3837e\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"ec3f3fa5-db4c-46b1-9cfe-4a021c3ce4f6\",\"name\":\"foobar\",\"namespace_id\":\"c02dc3a3-e55f-42da-953d-23ee81d3837e\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffunccompetentptolejw07pn3f-foobar.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:55:52.002882692Z\",\"updated_at\":\"2025-09-01T15:55:52.002882692Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.35288858s
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/ec3f3fa5-db4c-46b1-9cfe-4a021c3ce4f6
    method: GET
  response:
    body: "{\"id\":\"ec3f3fa5-db4c-46b1-9cfe-4a021c3ce4f6\",\"name\":\"foobar\",\"namespace_id\":\"c02dc3a3-e55f-42da-953d-23ee81d3837e\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffunccompetentptolejw07pn3f-foobar.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:55:52.002883Z\",\"updated_at\":\"2025-09-01T15:55:52.002883Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.248088ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c02dc3a3-e55f-42da-953d-23ee81d3837e
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 36.276664ms
[...]
