---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-crazy-mendeleev","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:39.604727690Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABQEEPYDTKS65L6P3CFVO56UDTNXOVAA7YP76ZBRYQSSGYT5NVF2D6RS","name":"tf-nats-account-crazy-mendeleev","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","updated_at":"2026-07-03T15:01:39.604727690Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.453261ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABQEEPYDTKS65L6P3CFVO56UDTNXOVAA7YP76ZBRYQSSGYT5NVF2D6RS
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:39.604727Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABQEEPYDTKS65L6P3CFVO56UDTNXOVAA7YP76ZBRYQSSGYT5NVF2D6RS","name":"tf-nats-account-crazy-mendeleev","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","updated_at":"2026-07-03T15:01:39.604727Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.709808ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:47.230051634Z","description":"","environment_variables":{},"error_message":null,"id":"d4f5b4cd-2011-4226-9199-89079ebc193b","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.230051634Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.728749635s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d4f5b4cd-2011-4226-9199-89079ebc193b
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:47.230052Z","description":"","environment_variables":{},"error_message":null,"id":"d4f5b4cd-2011-4226-9199-89079ebc193b","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.230052Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.552165ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"d4f5b4cd-2011-4226-9199-89079ebc193b","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node26","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:07.609930715Z","description":"","domain_name":"testfunctiontriggersunjgo9mv-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"5d120bd2-3d7a-423e-ba36-aee6cdb419d8","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"d4f5b4cd-2011-4226-9199-89079ebc193b","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:02:07.609930715Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.219171ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/5d120bd2-3d7a-423e-ba36-aee6cdb419d8
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:07.609931Z","description":"","domain_name":"testfunctiontriggersunjgo9mv-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"5d120bd2-3d7a-423e-ba36-aee6cdb419d8","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"d4f5b4cd-2011-4226-9199-89079ebc193b","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:02:07.609931Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.476529ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-nats","function_id":"5d120bd2-3d7a-423e-ba36-aee6cdb419d8","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"ABQEEPYDTKS65L6P3CFVO56UDTNXOVAA7YP76ZBRYQSSGYT5NVF2D6RS","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"5d120bd2-3d7a-423e-ba36-aee6cdb419d8","id":"077c1456-9278-46ec-be79-79973857e287","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ABQEEPYDTKS65L6P3CFVO56UDTNXOVAA7YP76ZBRYQSSGYT5NVF2D6RS","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.739544ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/077c1456-9278-46ec-be79-79973857e287
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"5d120bd2-3d7a-423e-ba36-aee6cdb419d8","id":"077c1456-9278-46ec-be79-79973857e287","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ABQEEPYDTKS65L6P3CFVO56UDTNXOVAA7YP76ZBRYQSSGYT5NVF2D6RS","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.739246ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/077c1456-9278-46ec-be79-79973857e287
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.672091ms
[...]
