---
version: 2
interactions:
- request:
    body: '{"name":"tf-func-distracted-poincare","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c7e1453d-e77c-483e-a250-ab7ba950d4ce","name":"tf-func-distracted-poincare","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c7e1453d-e77c-483e-a250-ab7ba950d4ce
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c7e1453d-e77c-483e-a250-ab7ba950d4ce","name":"tf-func-distracted-poincare","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"foobar","namespace_id":"c7e1453d-e77c-483e-a250-ab7ba950d4ce","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":"10.000000000s","handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncdistractedpoinrz0ih2jg-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"cd358a70-45c5-48d9-9842-a712cc3b2099","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"c7e1453d-e77c-483e-a250-ab7ba950d4ce","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"10s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/cd358a70-45c5-48d9-9842-a712cc3b2099
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncdistractedpoinrz0ih2jg-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"cd358a70-45c5-48d9-9842-a712cc3b2099","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"c7e1453d-e77c-483e-a250-ab7ba950d4ce","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"10s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c7e1453d-e77c-483e-a250-ab7ba950d4ce
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
