---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:47.200272178Z","description":"","environment_variables":{},"error_message":null,"id":"5c40676c-f3e6-4bc0-b8c5-c615d578cdda","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2026-07-03T15:01:47.200272178Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.727436946s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/5c40676c-f3e6-4bc0-b8c5-c615d578cdda
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:47.200272Z","description":"","environment_variables":{},"error_message":null,"id":"5c40676c-f3e6-4bc0-b8c5-c615d578cdda","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2026-07-03T15:01:47.200272Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.580927ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/5c40676c-f3e6-4bc0-b8c5-c615d578cdda
        method: PATCH
      response:
        body: '{"created_at":"2026-07-03T15:01:47.200272Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"5c40676c-f3e6-4bc0-b8c5-c615d578cdda","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01nxwiwc1p","registry_namespace_id":"a12aa44b-8cc5-4a39-bd61-a33e89fbe3f9","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$oWTUWA9nxYF5HKQmVptjhw$7DHqQpUKCkVlTTlcDbQNPUjGuiwB25Ddllq/WG/hQ64","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-07-03T15:02:04.620469797Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 377.661539ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/5c40676c-f3e6-4bc0-b8c5-c615d578cdda
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.448179ms
[...]
