---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-admiring-cerf","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:47.217812594Z","description":"","environment_variables":{},"error_message":null,"id":"480530d7-bfe1-4399-931a-e6dfe716f585","name":"tf-func-admiring-cerf","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.217812594Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.72092512s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/480530d7-bfe1-4399-931a-e6dfe716f585
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:47.217813Z","description":"","environment_variables":{},"error_message":null,"id":"480530d7-bfe1-4399-931a-e6dfe716f585","name":"tf-func-admiring-cerf","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.217813Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.759715ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"480530d7-bfe1-4399-931a-e6dfe716f585","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node26","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:01:57.524800499Z","description":"","domain_name":"tffuncadmiringcerfaqp7bnro-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0013aa6b-414d-4149-8738-7023fdd52c81","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"480530d7-bfe1-4399-931a-e6dfe716f585","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:01:57.524800499Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.888836ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0013aa6b-414d-4149-8738-7023fdd52c81
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:01:57.524800Z","description":"","domain_name":"tffuncadmiringcerfaqp7bnro-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0013aa6b-414d-4149-8738-7023fdd52c81","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"480530d7-bfe1-4399-931a-e6dfe716f585","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:01:57.524800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.044948ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/480530d7-bfe1-4399-931a-e6dfe716f585
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.63983ms
[...]
