---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-basic","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.801141162Z","description":"","environment_variables":{},"error_message":null,"id":"64ec6f01-f20f-4ab3-8705-16e0234e141c","name":"tf-tests-function-cron-basic","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.801141162Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.608723901s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/64ec6f01-f20f-4ab3-8705-16e0234e141c
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.801141Z","description":"","environment_variables":{},"error_message":null,"id":"64ec6f01-f20f-4ab3-8705-16e0234e141c","name":"tf-tests-function-cron-basic","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.801141Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.343175ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-cron-basic","namespace_id":"64ec6f01-f20f-4ab3-8705-16e0234e141c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.589081179Z","description":"","domain_name":"tftestsfunctioncronb6qkxfjuo-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0e97b4fe-bec9-46cd-960e-bc1fd46ed330","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"64ec6f01-f20f-4ab3-8705-16e0234e141c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.589081179Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.205888969s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0e97b4fe-bec9-46cd-960e-bc1fd46ed330
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.589081Z","description":"","domain_name":"tftestsfunctioncronb6qkxfjuo-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0e97b4fe-bec9-46cd-960e-bc1fd46ed330","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"64ec6f01-f20f-4ab3-8705-16e0234e141c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.589081Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.72665ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"function_id":"0e97b4fe-bec9-46cd-960e-bc1fd46ed330","schedule":"0 0 * * *","args":{},"name":"tf-tests-cron-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{},"function_id":"0e97b4fe-bec9-46cd-960e-bc1fd46ed330","id":"9a7ef699-9cc1-4d4d-94f9-1321df360e7f","name":"tf-tests-cron-basic","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.186611ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/9a7ef699-9cc1-4d4d-94f9-1321df360e7f
        method: GET
      response:
        body: '{"args":{},"function_id":"0e97b4fe-bec9-46cd-960e-bc1fd46ed330","id":"9a7ef699-9cc1-4d4d-94f9-1321df360e7f","name":"tf-tests-cron-basic","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.322363ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/64ec6f01-f20f-4ab3-8705-16e0234e141c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.861121ms
[...]
