---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:19.403028Z","description":"","id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-08-27T15:06:19.403028Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 446.348704ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/52b94a0b-0f98-4f84-9b02-f19b6970eed0
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:19.403028Z","description":"","id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-08-27T15:06:19.403028Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.065837ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:19.969953963Z","project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-08-27T15:06:19.969953963Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.680945ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=52b94a0b-0f98-4f84-9b02-f19b6970eed0
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:19.969953Z","project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-08-27T15:06:19.969953Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.700478ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","name":"tf-sqs-credentials-gallant-mclean","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"CzoighBpAX8xTKHVnLaq","created_at":"2025-08-27T15:06:20.258532811Z","id":"cdcc9ac4-fbdb-400c-bf7e-683edb95fc41","name":"tf-sqs-credentials-gallant-mclean","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","region":"fr-par","secret_checksum":"24ad85e21e25174cfd68c9fc789cd65518fc07ed","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-08-27T15:06:20.258532811Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.554786ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/cdcc9ac4-fbdb-400c-bf7e-683edb95fc41
        method: GET
      response:
        body: '{"access_key":"CzoighBpAX8xTKHVnLaq","created_at":"2025-08-27T15:06:20.258532Z","id":"cdcc9ac4-fbdb-400c-bf7e-683edb95fc41","name":"tf-sqs-credentials-gallant-mclean","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","region":"fr-par","secret_checksum":"24ad85e21e25174cfd68c9fc789cd65518fc07ed","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-08-27T15:06:20.258532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.759365ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4c1b7f85-3195-4408-8e50-ad8c9bbeb135
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250827T150620Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-52b94a0b-0f98-4f84-9b02-f19b6970eed0/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txe91cdd1c-4fee-4541-b1ef-6df57eee0b1c
        status: 200 OK
        code: 200
        duration: 215.213925ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["ReceiveMessageWaitTimeSeconds","VisibilityTimeout","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-52b94a0b-0f98-4f84-9b02-f19b6970eed0/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 64dce68a-9401-47a9-a979-e640e42b75ac
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250827T150620Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txbe13d15c-48ec-4e96-a55a-8c255c37a050
        status: 200 OK
        code: 200
        duration: 26.119283ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:21.464382375Z","description":"","environment_variables":{},"error_message":null,"id":"8c3e5206-c129-4532-92a4-272b9d16e6f0","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:21.464382375Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.683854191s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8c3e5206-c129-4532-92a4-272b9d16e6f0
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:21.464382Z","description":"","environment_variables":{},"error_message":null,"id":"8c3e5206-c129-4532-92a4-272b9d16e6f0","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:21.464382Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.407289ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"8c3e5206-c129-4532-92a4-272b9d16e6f0","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:06:27.585910657Z","description":"","domain_name":"testfunctiontriggersjhzlswz4-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"478b4ede-72e2-4734-9b11-0ad89b7494b2","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"8c3e5206-c129-4532-92a4-272b9d16e6f0","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:27.585910657Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 787.15786ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/478b4ede-72e2-4734-9b11-0ad89b7494b2
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:06:27.585911Z","description":"","domain_name":"testfunctiontriggersjhzlswz4-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"478b4ede-72e2-4734-9b11-0ad89b7494b2","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"8c3e5206-c129-4532-92a4-272b9d16e6f0","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:27.585911Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.51137ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"478b4ede-72e2-4734-9b11-0ad89b7494b2","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"478b4ede-72e2-4734-9b11-0ad89b7494b2","id":"5b9489f7-e9cd-4f0f-aaa9-e2ed48bf457b","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.448141ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/5b9489f7-e9cd-4f0f-aaa9-e2ed48bf457b
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"478b4ede-72e2-4734-9b11-0ad89b7494b2","id":"5b9489f7-e9cd-4f0f-aaa9-e2ed48bf457b","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.506462ms
[...]
    - id: 52
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 78528c19-b410-4a6b-9ddc-8cfa532c8e4e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250827T150652Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx99446cb8-2b66-48b7-8e02-665f43cd4886
        status: 404 Not Found
        code: 404
        duration: 31.849439ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: '{"project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"52b94a0b-0f98-4f84-9b02-f19b6970eed0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.38001ms
[...]
