---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFunction_PrivateNetwork","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:09:36.087385Z","custom_routes_propagation_enabled":true,"id":"6bb31d81-005b-4aea-adcf-add0bd121f33","is_default":false,"name":"TestAccFunction_PrivateNetwork","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-03T15:09:36.087385Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.365439ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6bb31d81-005b-4aea-adcf-add0bd121f33
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:09:36.087385Z","custom_routes_propagation_enabled":true,"id":"6bb31d81-005b-4aea-adcf-add0bd121f33","is_default":false,"name":"TestAccFunction_PrivateNetwork","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-03T15:09:36.087385Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.783716ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-pn01","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"6bb31d81-005b-4aea-adcf-add0bd121f33","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:09:36.236952Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c46dd6b8-6100-4f5b-9abd-e63d17bccaf0","name":"test-acc-function-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2026-07-03T15:09:36.236952Z","id":"8eb6d00f-c872-4fec-99ea-d7da2e69b216","private_network_id":"c46dd6b8-6100-4f5b-9abd-e63d17bccaf0","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnet":"172.16.64.0/22","updated_at":"2026-07-03T15:09:36.236952Z","vpc_id":"6bb31d81-005b-4aea-adcf-add0bd121f33"},{"created_at":"2026-07-03T15:09:36.236952Z","id":"b05f379d-6785-4c2e-a230-7b60778339f9","private_network_id":"c46dd6b8-6100-4f5b-9abd-e63d17bccaf0","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnet":"fd63:256c:45f7:ad3f::/64","updated_at":"2026-07-03T15:09:36.236952Z","vpc_id":"6bb31d81-005b-4aea-adcf-add0bd121f33"}],"tags":[],"updated_at":"2026-07-03T15:09:36.236952Z","vpc_id":"6bb31d81-005b-4aea-adcf-add0bd121f33"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 644.212803ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c46dd6b8-6100-4f5b-9abd-e63d17bccaf0
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:09:36.236952Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c46dd6b8-6100-4f5b-9abd-e63d17bccaf0","name":"test-acc-function-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-admiring-haslett","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:09:40.800077693Z","description":"","environment_variables":{},"error_message":null,"id":"8e8949ba-0f49-4761-ad34-e9a02d75bc55","name":"tf-func-admiring-haslett","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:09:40.800077693Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.841485095s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8e8949ba-0f49-4761-ad34-e9a02d75bc55
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:09:40.800078Z","description":"","environment_variables":{},"error_message":null,"id":"8e8949ba-0f49-4761-ad34-e9a02d75bc55","name":"tf-func-admiring-haslett","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:09:40.800078Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.268887ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-00","namespace_id":"8e8949ba-0f49-4761-ad34-e9a02d75bc55","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go126","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"9c7ec006-9f9c-4337-acf3-2c7040516407"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:09:46.188576636Z","description":"","domain_name":"tffuncadmiringhaslettwulbygg-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"ccc47e98-2042-4072-8c5c-cfd01fe9ad17","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"8e8949ba-0f49-4761-ad34-e9a02d75bc55","privacy":"private","private_network_id":"9c7ec006-9f9c-4337-acf3-2c7040516407","ready_at":null,"region":"fr-par","runtime":"go126","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:09:46.188576636Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.716734ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/ccc47e98-2042-4072-8c5c-cfd01fe9ad17
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:09:46.188577Z","description":"","domain_name":"tffuncadmiringhaslettwulbygg-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"ccc47e98-2042-4072-8c5c-cfd01fe9ad17","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"8e8949ba-0f49-4761-ad34-e9a02d75bc55","privacy":"private","private_network_id":"9c7ec006-9f9c-4337-acf3-2c7040516407","ready_at":null,"region":"fr-par","runtime":"go126","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:09:46.188577Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.184409ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8e8949ba-0f49-4761-ad34-e9a02d75bc55
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.78002ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c46dd6b8-6100-4f5b-9abd-e63d17bccaf0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"c46dd6b8-6100-4f5b-9abd-e63d17bccaf0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.840444ms
[...]
