---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-gracious-booth","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:47.355342780Z","description":"","environment_variables":{},"error_message":null,"id":"52462b00-af16-46cd-bf49-5f3c84839e58","name":"tf-func-gracious-booth","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.355342780Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.865204061s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/52462b00-af16-46cd-bf49-5f3c84839e58
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:47.355343Z","description":"","environment_variables":{},"error_message":null,"id":"52462b00-af16-46cd-bf49-5f3c84839e58","name":"tf-func-gracious-booth","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.355343Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.543281ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-wonderful-bartik","namespace_id":"52462b00-af16-46cd-bf49-5f3c84839e58","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node26","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:07.778989320Z","description":"","domain_name":"tffuncgraciousbooth7dui2p4d-tf-func-wonderful-bartik.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e36f6269-4dff-494c-88a6-ad76ce1f5b4f","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-wonderful-bartik","namespace_id":"52462b00-af16-46cd-bf49-5f3c84839e58","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:02:07.778989320Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.867004ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e36f6269-4dff-494c-88a6-ad76ce1f5b4f
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-07-03T15:02:07.778989Z","description":"","domain_name":"tffuncgraciousbooth7dui2p4d-tf-func-wonderful-bartik.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e36f6269-4dff-494c-88a6-ad76ce1f5b4f","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-wonderful-bartik","namespace_id":"52462b00-af16-46cd-bf49-5f3c84839e58","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node26","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-07-03T15:02:07.778989Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.636809ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/52462b00-af16-46cd-bf49-5f3c84839e58
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.131915ms
[...]
