---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:44:31.888132981Z","description":"","environment_variables":{},"error_message":null,"id":"248f8014-2a19-4722-a7ae-d6ccc0873d5e","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-01-24T15:44:31.888132981Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.716292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/248f8014-2a19-4722-a7ae-d6ccc0873d5e
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:44:31.888133Z","description":"","environment_variables":{},"error_message":null,"id":"248f8014-2a19-4722-a7ae-d6ccc0873d5e","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-01-24T15:44:31.888133Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.558042ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/248f8014-2a19-4722-a7ae-d6ccc0873d5e
        method: PATCH
      response:
        body: '{"created_at":"2025-01-24T15:44:31.888133Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"248f8014-2a19-4722-a7ae-d6ccc0873d5e","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01j9aq8k1b","registry_namespace_id":"7757c7d0-fe8b-4ef5-a91c-2698913229e9","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$iEadpTYP20gOzv7d5svpag$oCjAwjpWPArmd0IY1ew7mus3CLd82VDLotBlv28zKtw","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-01-24T15:44:52.983294356Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.887833ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/248f8014-2a19-4722-a7ae-d6ccc0873d5e
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.8765ms
[...]
