---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"8d8bd4ff-b680-4260-ab92-5061e75c44db","name":"tf-tests-function-cron-with-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 574.201001ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8d8bd4ff-b680-4260-ab92-5061e75c44db
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"8d8bd4ff-b680-4260-ab92-5061e75c44db","name":"tf-tests-function-cron-with-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.34071ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-cron-with-args","namespace_id":"8d8bd4ff-b680-4260-ab92-5061e75c44db","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tftestsfunctioncronwjilagxll-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e6bb7ad9-ac2f-4325-8b50-dc401ce2110c","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"8d8bd4ff-b680-4260-ab92-5061e75c44db","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.645895ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e6bb7ad9-ac2f-4325-8b50-dc401ce2110c
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tftestsfunctioncronwjilagxll-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e6bb7ad9-ac2f-4325-8b50-dc401ce2110c","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"8d8bd4ff-b680-4260-ab92-5061e75c44db","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.329578ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"e6bb7ad9-ac2f-4325-8b50-dc401ce2110c","schedule":"0 0 * * *","args":{"test":"scw"},"name":"tf-tests-cron-with-args"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"test":"scw"},"function_id":"e6bb7ad9-ac2f-4325-8b50-dc401ce2110c","id":"79d9de33-93b8-4255-af4d-1d646e4478d3","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.469835ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/79d9de33-93b8-4255-af4d-1d646e4478d3
        method: GET
      response:
        body: '{"args":{"test":"scw"},"function_id":"e6bb7ad9-ac2f-4325-8b50-dc401ce2110c","id":"79d9de33-93b8-4255-af4d-1d646e4478d3","name":"tf-tests-cron-with-args","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.379911ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/8d8bd4ff-b680-4260-ab92-5061e75c44db
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.835564ms
[...]
