---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFunction_PrivateNetwork","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:30:17.418951Z","custom_routes_propagation_enabled":true,"id":"885eaff9-8de1-43a4-b2c3-420da31a4602","is_default":false,"name":"TestAccFunction_PrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:30:17.418951Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 378.211375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/885eaff9-8de1-43a4-b2c3-420da31a4602
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:30:17.418951Z","custom_routes_propagation_enabled":true,"id":"885eaff9-8de1-43a4-b2c3-420da31a4602","is_default":false,"name":"TestAccFunction_PrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:30:17.418951Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.499792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-boring-curie","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:30:18.186142468Z","description":"","environment_variables":{},"error_message":null,"id":"2b9946fc-94f8-484e-b106-8ef7a5f1cf35","name":"tf-func-boring-curie","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:30:18.186142468Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.153914666s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-pn01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"885eaff9-8de1-43a4-b2c3-420da31a4602","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:30:17.714678Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8ac0aff9-b2da-4952-9c61-4977f34ff022","name":"test-acc-function-pn-pn01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:30:17.714678Z","id":"0fce5df6-b454-40c8-a637-c7c820909926","private_network_id":"8ac0aff9-b2da-4952-9c61-4977f34ff022","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.208.0/22","updated_at":"2025-09-30T09:30:17.714678Z","vpc_id":"885eaff9-8de1-43a4-b2c3-420da31a4602"},{"created_at":"2025-09-30T09:30:17.714678Z","id":"84ee6c59-2f60-4a26-973f-12382dc14256","private_network_id":"8ac0aff9-b2da-4952-9c61-4977f34ff022","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6172::/64","updated_at":"2025-09-30T09:30:17.714678Z","vpc_id":"885eaff9-8de1-43a4-b2c3-420da31a4602"}],"tags":[],"updated_at":"2025-09-30T09:30:17.714678Z","vpc_id":"885eaff9-8de1-43a4-b2c3-420da31a4602"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 791.616125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2b9946fc-94f8-484e-b106-8ef7a5f1cf35
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:30:18.186142Z","description":"","environment_variables":{},"error_message":null,"id":"2b9946fc-94f8-484e-b106-8ef7a5f1cf35","name":"tf-func-boring-curie","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:30:18.186142Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.419875ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ac0aff9-b2da-4952-9c61-4977f34ff022
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:30:17.714678Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8ac0aff9-b2da-4952-9c61-4977f34ff022","name":"test-acc-function-pn-pn01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:30:17.714678Z","id":"0fce5df6-b454-40c8-a637-c7c820909926","private_network_id":"8ac0aff9-b2da-4952-9c61-4977f34ff022","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.208.0/22","updated_at":"2025-09-30T09:30:17.714678Z","vpc_id":"885eaff9-8de1-43a4-b2c3-420da31a4602"},{"created_at":"2025-09-30T09:30:17.714678Z","id":"84ee6c59-2f60-4a26-973f-12382dc14256","private_network_id":"8ac0aff9-b2da-4952-9c61-4977f34ff022","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6172::/64","updated_at":"2025-09-30T09:30:17.714678Z","vpc_id":"885eaff9-8de1-43a4-b2c3-420da31a4602"}],"tags":[],"updated_at":"2025-09-30T09:30:17.714678Z","vpc_id":"885eaff9-8de1-43a4-b2c3-420da31a4602"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.120583ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-function-pn-00","namespace_id":"2b9946fc-94f8-484e-b106-8ef7a5f1cf35","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"d909b091-6e73-4ebb-b9b8-7db8429083ae"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-09-30T09:30:24.454125098Z","description":"","domain_name":"tffuncboringcuriet7escdad-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"e28b2bb4-32b2-4dae-8ad2-81c9da9d253e","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"2b9946fc-94f8-484e-b106-8ef7a5f1cf35","privacy":"private","private_network_id":"d909b091-6e73-4ebb-b9b8-7db8429083ae","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:30:24.454125098Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 744.788667ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e28b2bb4-32b2-4dae-8ad2-81c9da9d253e
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-09-30T09:30:24.454125Z","description":"","domain_name":"tffuncboringcuriet7escdad-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"e28b2bb4-32b2-4dae-8ad2-81c9da9d253e","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-acc-function-pn-00","namespace_id":"2b9946fc-94f8-484e-b106-8ef7a5f1cf35","privacy":"private","private_network_id":"d909b091-6e73-4ebb-b9b8-7db8429083ae","ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:30:24.454125Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.432458ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2b9946fc-94f8-484e-b106-8ef7a5f1cf35
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.311583ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d909b091-6e73-4ebb-b9b8-7db8429083ae
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"d909b091-6e73-4ebb-b9b8-7db8429083ae","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.607917ms
[...]
