---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-function-cron-with-args\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"ab233e9b-7f45-4d22-b715-d9b7872d7307\",\"name\":\"tf-tests-function-cron-with-args\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:12.563938928Z\",\"updated_at\":\"2025-09-01T15:55:12.563938928Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.058561506s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ab233e9b-7f45-4d22-b715-d9b7872d7307
    method: GET
  response:
    body: "{\"id\":\"ab233e9b-7f45-4d22-b715-d9b7872d7307\",\"name\":\"tf-tests-function-cron-with-args\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:12.563939Z\",\"updated_at\":\"2025-09-01T15:55:12.563939Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.491592ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-cron-with-args\",\"namespace_id\":\"ab233e9b-7f45-4d22-b715-d9b7872d7307\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"8ae1fb2d-13f0-4220-9e42-e12c74205ba0\",\"name\":\"tf-tests-cron-with-args\",\"namespace_id\":\"ab233e9b-7f45-4d22-b715-d9b7872d7307\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tftestsfunctioncronwglj4hvkt-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:55:23.921465610Z\",\"updated_at\":\"2025-09-01T15:55:23.921465610Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 6.034817264s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8ae1fb2d-13f0-4220-9e42-e12c74205ba0
    method: GET
  response:
    body: "{\"id\":\"8ae1fb2d-13f0-4220-9e42-e12c74205ba0\",\"name\":\"tf-tests-cron-with-args\",\"namespace_id\":\"ab233e9b-7f45-4d22-b715-d9b7872d7307\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tftestsfunctioncronwglj4hvkt-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:55:23.921466Z\",\"updated_at\":\"2025-09-01T15:55:23.921466Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.145966ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"function_id\":\"8ae1fb2d-13f0-4220-9e42-e12c74205ba0\",\"schedule\":\"0 0 * * *\",\"args\":{\"test\":\"scw\"},\"name\":\"tf-tests-cron-with-args\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: "{\"id\":\"a8daba77-1cce-46d9-9ab2-04ef0bff1a03\",\"function_id\":\"8ae1fb2d-13f0-4220-9e42-e12c74205ba0\",\"schedule\":\"0 0 * * *\",\"args\":{\"test\":\"scw\"},\"status\":\"pending\",\"name\":\"tf-tests-cron-with-args\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.579389ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/a8daba77-1cce-46d9-9ab2-04ef0bff1a03
    method: GET
  response:
    body: "{\"id\":\"a8daba77-1cce-46d9-9ab2-04ef0bff1a03\",\"function_id\":\"8ae1fb2d-13f0-4220-9e42-e12c74205ba0\",\"schedule\":\"0 0 * * *\",\"args\":{\"test\":\"scw\"},\"status\":\"ready\",\"name\":\"tf-tests-cron-with-args\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 181.693986ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ab233e9b-7f45-4d22-b715-d9b7872d7307
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.088614ms
[...]
