---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-function-pn-pn01\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"b5e675f7-9294-4c13-8f47-cf0d068032e2\",\"name\":\"test-acc-function-pn-pn01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:20.441419Z\",\"updated_at\":\"2025-09-01T15:54:20.441419Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"3c1d4d7f-c4c6-4c56-8ad7-334a863941aa\",\"created_at\":\"2025-09-01T15:54:20.441419Z\",\"updated_at\":\"2025-09-01T15:54:20.441419Z\",\"subnet\":\"172.16.92.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"b5e675f7-9294-4c13-8f47-cf0d068032e2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"9accc20e-15e0-4a7d-82b2-fc58484bd913\",\"created_at\":\"2025-09-01T15:54:20.441419Z\",\"updated_at\":\"2025-09-01T15:54:20.441419Z\",\"subnet\":\"fde7:767f:1bb5:d905::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"b5e675f7-9294-4c13-8f47-cf0d068032e2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 912.296831ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b5e675f7-9294-4c13-8f47-cf0d068032e2
    method: GET
  response:
    body: "{\"id\":\"b5e675f7-9294-4c13-8f47-cf0d068032e2\",\"name\":\"test-acc-function-pn-pn01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:20.441419Z\",\"updated_at\":\"2025-09-01T15:54:20.441419Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"3c1d4d7f-c4c6-4c56-8ad7-334a863941aa\",\"created_at\":\"2025-09-01T15:54:20.441419Z\",\"updated_at\":\"2025-09-01T15:54:20.441419Z\",\"subnet\":\"172.16.92.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"b5e675f7-9294-4c13-8f47-cf0d068032e2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"9accc20e-15e0-4a7d-82b2-fc58484bd913\",\"created_at\":\"2025-09-01T15:54:20.441419Z\",\"updated_at\":\"2025-09-01T15:54:20.441419Z\",\"subnet\":\"fde7:767f:1bb5:d905::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"b5e675f7-9294-4c13-8f47-cf0d068032e2\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.072759ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-func-goofy-rubin\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"b522f7a1-10cb-461a-95cd-ce24dd4b333d\",\"name\":\"tf-func-goofy-rubin\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.087600582Z\",\"updated_at\":\"2025-09-01T15:54:28.087600582Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.751521466s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b522f7a1-10cb-461a-95cd-ce24dd4b333d
    method: GET
  response:
    body: "{\"id\":\"b522f7a1-10cb-461a-95cd-ce24dd4b333d\",\"name\":\"tf-func-goofy-rubin\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.087601Z\",\"updated_at\":\"2025-09-01T15:54:28.087601Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 79.12256ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-function-pn-00\",\"namespace_id\":\"b522f7a1-10cb-461a-95cd-ce24dd4b333d\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"go123\",\"memory_limit\":256,\"handler\":\"Handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":null,\"private_network_id\":\"062a8a10-ed1f-4f6d-af59-8a4ff3701427\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"f595c4a0-a3c8-4000-8562-03b3a71a8905\",\"name\":\"test-acc-function-pn-00\",\"namespace_id\":\"b522f7a1-10cb-461a-95cd-ce24dd4b333d\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"go123\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"Handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffuncgoofyrubinxa7ll6er-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v1\",\"created_at\":\"2025-09-01T15:54:51.349297769Z\",\"updated_at\":\"2025-09-01T15:54:51.349297769Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":\"062a8a10-ed1f-4f6d-af59-8a4ff3701427\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 12.965363367s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/f595c4a0-a3c8-4000-8562-03b3a71a8905
    method: GET
  response:
    body: "{\"id\":\"f595c4a0-a3c8-4000-8562-03b3a71a8905\",\"name\":\"test-acc-function-pn-00\",\"namespace_id\":\"b522f7a1-10cb-461a-95cd-ce24dd4b333d\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"go123\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"Handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffuncgoofyrubinxa7ll6er-test-acc-function-pn-00.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v1\",\"created_at\":\"2025-09-01T15:54:51.349298Z\",\"updated_at\":\"2025-09-01T15:54:51.349298Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":\"062a8a10-ed1f-4f6d-af59-8a4ff3701427\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.953871ms
[...]
- id: 84
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b522f7a1-10cb-461a-95cd-ce24dd4b333d
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.612647ms
[...]
- id: 89
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/062a8a10-ed1f-4f6d-af59-8a4ff3701427
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"062a8a10-ed1f-4f6d-af59-8a4ff3701427\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 68.003359ms
[...]
