---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-function-cron-basic\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"2a6db935-9d69-4ddf-8704-b9e8eda6e476\",\"name\":\"tf-tests-function-cron-basic\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.532621458Z\",\"updated_at\":\"2025-09-01T15:54:28.532621458Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 8.381435717s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2a6db935-9d69-4ddf-8704-b9e8eda6e476
    method: GET
  response:
    body: "{\"id\":\"2a6db935-9d69-4ddf-8704-b9e8eda6e476\",\"name\":\"tf-tests-function-cron-basic\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:28.532621Z\",\"updated_at\":\"2025-09-01T15:54:28.532621Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.237626ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-cron-basic\",\"namespace_id\":\"2a6db935-9d69-4ddf-8704-b9e8eda6e476\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"bb63e95c-2acd-41f3-ba0e-eaf8b1caee12\",\"name\":\"tf-tests-cron-basic\",\"namespace_id\":\"2a6db935-9d69-4ddf-8704-b9e8eda6e476\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tftestsfunctioncronbstgtbwui-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:47.144828985Z\",\"updated_at\":\"2025-09-01T15:54:47.144828985Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 8.125951733s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/bb63e95c-2acd-41f3-ba0e-eaf8b1caee12
    method: GET
  response:
    body: "{\"id\":\"bb63e95c-2acd-41f3-ba0e-eaf8b1caee12\",\"name\":\"tf-tests-cron-basic\",\"namespace_id\":\"2a6db935-9d69-4ddf-8704-b9e8eda6e476\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node20\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tftestsfunctioncronbstgtbwui-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:47.144829Z\",\"updated_at\":\"2025-09-01T15:54:47.144829Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.298048ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"function_id\":\"bb63e95c-2acd-41f3-ba0e-eaf8b1caee12\",\"schedule\":\"0 0 * * *\",\"args\":{},\"name\":\"tf-tests-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: "{\"id\":\"b960ebe6-790f-4156-a468-cd8bea2cb010\",\"function_id\":\"bb63e95c-2acd-41f3-ba0e-eaf8b1caee12\",\"schedule\":\"0 0 * * *\",\"args\":{},\"status\":\"pending\",\"name\":\"tf-tests-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.894603ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/b960ebe6-790f-4156-a468-cd8bea2cb010
    method: GET
  response:
    body: "{\"id\":\"b960ebe6-790f-4156-a468-cd8bea2cb010\",\"function_id\":\"bb63e95c-2acd-41f3-ba0e-eaf8b1caee12\",\"schedule\":\"0 0 * * *\",\"args\":{},\"status\":\"ready\",\"name\":\"tf-tests-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.54581ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2a6db935-9d69-4ddf-8704-b9e8eda6e476
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 119.674316ms
[...]
