---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-04-28T09:22:40.790655262Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"e62f7ceb-0adf-46b6-b311-506202abf05c","name":"tf-env-test","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$YRIgmAtqAHq2gkmxCQXljw$UKT6Ye9rq/aP5pzT5IH+eTnoAxo8x6mnCaYubw5ufZo","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:22:40.790655262Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.886259292s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e62f7ceb-0adf-46b6-b311-506202abf05c
        method: GET
      response:
        body: '{"created_at":"2025-04-28T09:22:40.790655Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"e62f7ceb-0adf-46b6-b311-506202abf05c","name":"tf-env-test","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$YRIgmAtqAHq2gkmxCQXljw$UKT6Ye9rq/aP5pzT5IH+eTnoAxo8x6mnCaYubw5ufZo","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:22:40.790655Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.384833ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"test_secret","value":"updated_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e62f7ceb-0adf-46b6-b311-506202abf05c
        method: PATCH
      response:
        body: '{"created_at":"2025-04-28T09:22:40.790655Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"e62f7ceb-0adf-46b6-b311-506202abf05c","name":"tf-env-test","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtesttldyxtc9","registry_namespace_id":"8420ad41-936d-4377-acda-bffa89309827","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$ABb+w+CD8Pme8B0qJ2bD3A$fh05pxjA/q35YWmVwzTxSqz3Jnw7BFfhEKrty5VMzbY","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:22:47.408367732Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 554.10725ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e62f7ceb-0adf-46b6-b311-506202abf05c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.475291ms
[...]
