---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:38:57.930599964Z","description":"","environment_variables":{},"error_message":null,"id":"ef40d231-bc9d-413a-a79e-3f46ef17856d","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2026-05-04T12:38:57.930599964Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.93571069s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ef40d231-bc9d-413a-a79e-3f46ef17856d
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:38:57.930600Z","description":"","environment_variables":{},"error_message":null,"id":"ef40d231-bc9d-413a-a79e-3f46ef17856d","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2026-05-04T12:38:57.930600Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.468287ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ef40d231-bc9d-413a-a79e-3f46ef17856d
        method: PATCH
      response:
        body: '{"created_at":"2026-05-04T12:38:57.930600Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"ef40d231-bc9d-413a-a79e-3f46ef17856d","name":"test-cr-ns-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01lolr1v6a","registry_namespace_id":"fe6c06b2-4118-4ad1-94dc-6fae37cf2f4a","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$Y0uDlwpqWxfakU5v/dEcTA$+4RdR2EUApS5x4M8L7wU6N/TxdOJkszJRYNQVxlh61E","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:30.216749329Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.521646ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ef40d231-bc9d-413a-a79e-3f46ef17856d
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 111.102134ms
[...]
