---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-basic","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:02.132262756Z","description":"","environment_variables":{},"error_message":null,"id":"077f4f11-fd01-4246-bdc6-02189f3faf47","name":"tf-tests-function-cron-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.132262756Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 802.118875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/077f4f11-fd01-4246-bdc6-02189f3faf47
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:02.132263Z","description":"","environment_variables":{},"error_message":null,"id":"077f4f11-fd01-4246-bdc6-02189f3faf47","name":"tf-tests-function-cron-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.132263Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.12175ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-cron-basic","namespace_id":"077f4f11-fd01-4246-bdc6-02189f3faf47","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.918816468Z","description":"","domain_name":"tftestsfunctioncronbuybblx91-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"533f1c40-b669-4012-8f13-27b1b256f2ed","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"077f4f11-fd01-4246-bdc6-02189f3faf47","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.918816468Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 899.837833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/533f1c40-b669-4012-8f13-27b1b256f2ed
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.918816Z","description":"","domain_name":"tftestsfunctioncronbuybblx91-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"533f1c40-b669-4012-8f13-27b1b256f2ed","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"077f4f11-fd01-4246-bdc6-02189f3faf47","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.918816Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.3035ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"533f1c40-b669-4012-8f13-27b1b256f2ed","schedule":"0 0 * * *","args":{},"name":"tf-tests-cron-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{},"function_id":"533f1c40-b669-4012-8f13-27b1b256f2ed","id":"ea73db24-e69c-4ecc-8ed3-d5f243f8a3f8","name":"tf-tests-cron-basic","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.494042ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/ea73db24-e69c-4ecc-8ed3-d5f243f8a3f8
        method: GET
      response:
        body: '{"args":{},"function_id":"533f1c40-b669-4012-8f13-27b1b256f2ed","id":"ea73db24-e69c-4ecc-8ed3-d5f243f8a3f8","name":"tf-tests-cron-basic","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.041792ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/077f4f11-fd01-4246-bdc6-02189f3faf47
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.556458ms
[...]
