---
version: 2
interactions:
- request:
    body: '{"name":"tf-func-ecstatic-jennings","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d3538d62-e383-4a70-a539-7fe1f3e8dbbe","name":"tf-func-ecstatic-jennings","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d3538d62-e383-4a70-a539-7fe1f3e8dbbe
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d3538d62-e383-4a70-a539-7fe1f3e8dbbe","name":"tf-func-ecstatic-jennings","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"tf-func-fervent-mayer","namespace_id":"d3538d62-e383-4a70-a539-7fe1f3e8dbbe","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncecstaticjenniniqw2ujak-tf-func-fervent-mayer.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d5e98aa1-2d1f-4a6c-8a56-1fbd351dc37a","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-fervent-mayer","namespace_id":"d3538d62-e383-4a70-a539-7fe1f3e8dbbe","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/d5e98aa1-2d1f-4a6c-8a56-1fbd351dc37a
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tffuncecstaticjenniniqw2ujak-tf-func-fervent-mayer.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d5e98aa1-2d1f-4a6c-8a56-1fbd351dc37a","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-fervent-mayer","namespace_id":"d3538d62-e383-4a70-a539-7fe1f3e8dbbe","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d3538d62-e383-4a70-a539-7fe1f3e8dbbe
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
