---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:49.926671065Z","description":"","environment_variables":{},"error_message":null,"id":"1992b94e-28ef-4dd7-8040-c9e514c03152","name":"tf-tests-function-cron-name-update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:49.926671065Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.908958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/1992b94e-28ef-4dd7-8040-c9e514c03152
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:49.926671Z","description":"","environment_variables":{},"error_message":null,"id":"1992b94e-28ef-4dd7-8040-c9e514c03152","name":"tf-tests-function-cron-name-update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:49.926671Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.725583ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","namespace_id":"1992b94e-28ef-4dd7-8040-c9e514c03152","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:55.554461978Z","description":"","domain_name":"tftestsfunctioncronns90de7pl-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"180cb5a6-8766-43f9-9aa8-9cabdf1b1c8a","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"1992b94e-28ef-4dd7-8040-c9e514c03152","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:55.554461978Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.94125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/180cb5a6-8766-43f9-9aa8-9cabdf1b1c8a
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:55.554462Z","description":"","domain_name":"tftestsfunctioncronns90de7pl-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"180cb5a6-8766-43f9-9aa8-9cabdf1b1c8a","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"1992b94e-28ef-4dd7-8040-c9e514c03152","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:55.554462Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.836ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"180cb5a6-8766-43f9-9aa8-9cabdf1b1c8a","schedule":"0 0 * * *","args":{},"name":"tf-tests-function-cron-name-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{},"function_id":"180cb5a6-8766-43f9-9aa8-9cabdf1b1c8a","id":"239aa7c1-61c1-4f60-a8cc-0813cd06044c","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.131958ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/239aa7c1-61c1-4f60-a8cc-0813cd06044c
        method: GET
      response:
        body: '{"args":{},"function_id":"180cb5a6-8766-43f9-9aa8-9cabdf1b1c8a","id":"239aa7c1-61c1-4f60-a8cc-0813cd06044c","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.78275ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"args":{"test":"scw"},"name":"name-changed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/239aa7c1-61c1-4f60-a8cc-0813cd06044c
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"function_id":"180cb5a6-8766-43f9-9aa8-9cabdf1b1c8a","id":"239aa7c1-61c1-4f60-a8cc-0813cd06044c","name":"name-changed","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.620041ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/1992b94e-28ef-4dd7-8040-c9e514c03152
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.494541ms
[...]
