---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"32f5f68a-c9db-4317-9ef4-90d5bf2e37b0","name":"tf-tests-function-cron-name-update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 562.212516ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/32f5f68a-c9db-4317-9ef4-90d5bf2e37b0
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"32f5f68a-c9db-4317-9ef4-90d5bf2e37b0","name":"tf-tests-function-cron-name-update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.46569ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","namespace_id":"32f5f68a-c9db-4317-9ef4-90d5bf2e37b0","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tftestsfunctioncronn02hcu1sg-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"42e58e60-ba1b-4359-9881-c499164ad6f8","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"32f5f68a-c9db-4317-9ef4-90d5bf2e37b0","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.765537ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/42e58e60-ba1b-4359-9881-c499164ad6f8
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"description":"","domain_name":"tftestsfunctioncronn02hcu1sg-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"42e58e60-ba1b-4359-9881-c499164ad6f8","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"32f5f68a-c9db-4317-9ef4-90d5bf2e37b0","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.319ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"42e58e60-ba1b-4359-9881-c499164ad6f8","schedule":"0 0 * * *","args":{},"name":"tf-tests-function-cron-name-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{},"function_id":"42e58e60-ba1b-4359-9881-c499164ad6f8","id":"fd6c29d4-99bc-48ac-ac54-745b9eb73eba","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.435927ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/fd6c29d4-99bc-48ac-ac54-745b9eb73eba
        method: GET
      response:
        body: '{"args":{},"function_id":"42e58e60-ba1b-4359-9881-c499164ad6f8","id":"fd6c29d4-99bc-48ac-ac54-745b9eb73eba","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"ready"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.72447ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"args":{"test":"scw"},"name":"name-changed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/fd6c29d4-99bc-48ac-ac54-745b9eb73eba
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"function_id":"42e58e60-ba1b-4359-9881-c499164ad6f8","id":"fd6c29d4-99bc-48ac-ac54-745b9eb73eba","name":"name-changed","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.239339ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/32f5f68a-c9db-4317-9ef4-90d5bf2e37b0
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.476234ms
[...]
