---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-05-04T12:39:34.668976212Z","description":"","environment_variables":{},"error_message":null,"id":"c2a45bfc-b13c-4d64-b2cc-b73c25df408a","name":"tf-tests-function-cron-name-update","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:34.668976212Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.31198ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c2a45bfc-b13c-4d64-b2cc-b73c25df408a
        method: GET
      response:
        body: '{"created_at":"2026-05-04T12:39:34.668976Z","description":"","environment_variables":{},"error_message":null,"id":"c2a45bfc-b13c-4d64-b2cc-b73c25df408a","name":"tf-tests-function-cron-name-update","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-05-04T12:39:34.668976Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.171637ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-function-cron-name-update","namespace_id":"c2a45bfc-b13c-4d64-b2cc-b73c25df408a","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:39.948862439Z","description":"","domain_name":"tftestsfunctioncronni7agz2hj-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"3acccd6e-64e7-44b7-868b-11bfc5dfef4d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"c2a45bfc-b13c-4d64-b2cc-b73c25df408a","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:39.948862439Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.815906ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/3acccd6e-64e7-44b7-868b-11bfc5dfef4d
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-05-04T12:39:39.948862Z","description":"","domain_name":"tftestsfunctioncronni7agz2hj-tf-tests-function-cron-name-update.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"3acccd6e-64e7-44b7-868b-11bfc5dfef4d","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-tests-function-cron-name-update","namespace_id":"c2a45bfc-b13c-4d64-b2cc-b73c25df408a","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node20","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-05-04T12:39:39.948862Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.125133ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"function_id":"3acccd6e-64e7-44b7-868b-11bfc5dfef4d","schedule":"0 0 * * *","args":{},"name":"tf-tests-function-cron-name-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{},"function_id":"3acccd6e-64e7-44b7-868b-11bfc5dfef4d","id":"d2a35a16-f329-4747-bef8-550b6f2232eb","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.777137ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/d2a35a16-f329-4747-bef8-550b6f2232eb
        method: GET
      response:
        body: '{"args":{},"function_id":"3acccd6e-64e7-44b7-868b-11bfc5dfef4d","id":"d2a35a16-f329-4747-bef8-550b6f2232eb","name":"tf-tests-function-cron-name-update","schedule":"0 0 * * *","status":"ready"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.447428ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"args":{"test":"scw"},"name":"name-changed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/d2a35a16-f329-4747-bef8-550b6f2232eb
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"function_id":"3acccd6e-64e7-44b7-868b-11bfc5dfef4d","id":"d2a35a16-f329-4747-bef8-550b6f2232eb","name":"name-changed","schedule":"0 0 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.411653ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c2a45bfc-b13c-4d64-b2cc-b73c25df408a
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.610742ms
[...]
