---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-01-09T15:58:44.124501Z","description":"","id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-01-09T15:58:44.124501Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 495.742674ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/87bad7b0-b545-46e3-8f09-d0fb2059d6b7
        method: GET
      response:
        body: '{"created_at":"2026-01-09T15:58:44.124501Z","description":"","id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-01-09T15:58:44.124501Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.670898ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-01-09T15:58:44.727635041Z","project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-01-09T15:58:44.727635041Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.3847ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=87bad7b0-b545-46e3-8f09-d0fb2059d6b7
        method: GET
      response:
        body: '{"created_at":"2026-01-09T15:58:44.727635Z","project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-01-09T15:58:44.727635Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.018582ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","name":"tf-sqs-credentials-bold-johnson","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"NOCXb6wkX2Ve7tkCC5qH","created_at":"2026-01-09T15:58:45.073032887Z","id":"ffb5ab33-0f24-432a-bf4d-b4aadde73781","name":"tf-sqs-credentials-bold-johnson","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","region":"fr-par","secret_checksum":"1a079ea4e8944c7865caacd7c126354414055951","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-01-09T15:58:45.073032887Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.416974ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/ffb5ab33-0f24-432a-bf4d-b4aadde73781
        method: GET
      response:
        body: '{"access_key":"NOCXb6wkX2Ve7tkCC5qH","created_at":"2026-01-09T15:58:45.073032Z","id":"ffb5ab33-0f24-432a-bf4d-b4aadde73781","name":"tf-sqs-credentials-bold-johnson","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","region":"fr-par","secret_checksum":"1a079ea4e8944c7865caacd7c126354414055951","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-01-09T15:58:45.073032Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.450086ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cef5bb31-be4f-447a-a21f-12c66548e7c0
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260109T155845Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-87bad7b0-b545-46e3-8f09-d0fb2059d6b7/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txcc27e844-ae81-455a-ab3c-ad06e489859d
        status: 200 OK
        code: 200
        duration: 181.992211ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-87bad7b0-b545-46e3-8f09-d0fb2059d6b7/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 204134be-51e0-4183-8c6c-5ddecd8f06c8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260109T155845Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-87bad7b0-b545-46e3-8f09-d0fb2059d6b7:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txe56b1987-524f-4d83-a3c7-ea41f1361d23
        status: 200 OK
        code: 200
        duration: 20.905135ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-01-09T15:58:46.582780314Z","description":"","environment_variables":{},"error_message":null,"id":"f7306b29-0dff-4679-ac4b-c1868217c768","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-01-09T15:58:46.582780314Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.957545872s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f7306b29-0dff-4679-ac4b-c1868217c768
        method: GET
      response:
        body: '{"created_at":"2026-01-09T15:58:46.582780Z","description":"","environment_variables":{},"error_message":null,"id":"f7306b29-0dff-4679-ac4b-c1868217c768","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2026-01-09T15:58:46.582780Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.579067ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"f7306b29-0dff-4679-ac4b-c1868217c768","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-01-09T15:58:52.392228361Z","description":"","domain_name":"testfunctiontriggersjqqk4crt-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a0b3a4bc-770d-42fe-bdc5-f8c361778a49","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"f7306b29-0dff-4679-ac4b-c1868217c768","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-01-09T15:58:52.392228361Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 602.167125ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/a0b3a4bc-770d-42fe-bdc5-f8c361778a49
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2026-01-09T15:58:52.392228Z","description":"","domain_name":"testfunctiontriggersjqqk4crt-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a0b3a4bc-770d-42fe-bdc5-f8c361778a49","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"f7306b29-0dff-4679-ac4b-c1868217c768","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2026-01-09T15:58:52.392228Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.016094ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"a0b3a4bc-770d-42fe-bdc5-f8c361778a49","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"a0b3a4bc-770d-42fe-bdc5-f8c361778a49","id":"d8dacdfb-f2e3-40a9-b1b4-bcf3e86ed2b8","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.772043ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/d8dacdfb-f2e3-40a9-b1b4-bcf3e86ed2b8
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"a0b3a4bc-770d-42fe-bdc5-f8c361778a49","id":"d8dacdfb-f2e3-40a9-b1b4-bcf3e86ed2b8","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.017242ms
[...]
    - id: 43
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 64abf509-cdcf-4d62-baa9-ac577647c8c9
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260109T155910Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx90bf2bc6-87df-4d39-a3da-1b182016a334
        status: 404 Not Found
        code: 404
        duration: 19.631904ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"87bad7b0-b545-46e3-8f09-d0fb2059d6b7","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.211637ms
[...]
