---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:01.513007Z","description":"","id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:29:01.513007Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.721041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/59feae87-e2b0-46ee-aa50-d2cf3199dfd2
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:01.513007Z","description":"","id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:29:01.513007Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.317542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:01.973259936Z","project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-22T15:29:01.973259936Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.900833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=59feae87-e2b0-46ee-aa50-d2cf3199dfd2
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:01.973259Z","project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-22T15:29:01.973259Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.379667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","name":"tf-sqs-credentials-zen-yalow","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"JXZV6G3VwwIh6j4rlLzK","created_at":"2025-01-22T15:29:02.279847044Z","id":"33db1189-3767-478a-90d7-df7f084e58e5","name":"tf-sqs-credentials-zen-yalow","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","region":"fr-par","secret_checksum":"b29b2df1e457add3160cae81aa90fbf85ada9dc2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:29:02.279847044Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.463584ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/33db1189-3767-478a-90d7-df7f084e58e5
        method: GET
      response:
        body: '{"access_key":"JXZV6G3VwwIh6j4rlLzK","created_at":"2025-01-22T15:29:02.279847Z","id":"33db1189-3767-478a-90d7-df7f084e58e5","name":"tf-sqs-credentials-zen-yalow","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","region":"fr-par","secret_checksum":"b29b2df1e457add3160cae81aa90fbf85ada9dc2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:29:02.279847Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.063042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:02.385311383Z","description":"","environment_variables":{},"error_message":null,"id":"e2c0d088-5b65-4e35-a5ea-69c7bc8ffa33","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.385311383Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 498.940292ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e2c0d088-5b65-4e35-a5ea-69c7bc8ffa33
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:02.385311Z","description":"","environment_variables":{},"error_message":null,"id":"e2c0d088-5b65-4e35-a5ea-69c7bc8ffa33","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:02.385311Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.042458ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"VisibilityTimeout":"30","MaximumMessageSize":"262144","MessageRetentionPeriod":"345600"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 20081dfd-54df-450a-9303-42e5d5e82a64
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250122T152902Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-59feae87-e2b0-46ee-aa50-d2cf3199dfd2/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx77981011-be53-4665-943d-5f45752e41cd
        status: 200 OK
        code: 200
        duration: 882.6075ms
[...]
    - id: 11
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-59feae87-e2b0-46ee-aa50-d2cf3199dfd2/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 61f1056a-dad7-4f53-8970-dbf04c7971dc
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250122T152903Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx5ea53696-403b-4c17-a4e4-e2c007e57280
        status: 200 OK
        code: 200
        duration: 27.026459ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"e2c0d088-5b65-4e35-a5ea-69c7bc8ffa33","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.634389896Z","description":"","domain_name":"testfunctiontriggers9aufliaq-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"69dd175e-a978-4d45-a27d-410fdb78cc02","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"e2c0d088-5b65-4e35-a5ea-69c7bc8ffa33","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.634389896Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 693.266917ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/69dd175e-a978-4d45-a27d-410fdb78cc02
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:08.634390Z","description":"","domain_name":"testfunctiontriggers9aufliaq-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"69dd175e-a978-4d45-a27d-410fdb78cc02","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"e2c0d088-5b65-4e35-a5ea-69c7bc8ffa33","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:08.634390Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.315583ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"69dd175e-a978-4d45-a27d-410fdb78cc02","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"69dd175e-a978-4d45-a27d-410fdb78cc02","id":"03d2ad15-bfc5-4bc0-925c-89153a95e41b","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.559125ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/03d2ad15-bfc5-4bc0-925c-89153a95e41b
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"69dd175e-a978-4d45-a27d-410fdb78cc02","id":"03d2ad15-bfc5-4bc0-925c-89153a95e41b","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.819667ms
[...]
    - id: 51
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a342f10f-a510-4f9a-b3f1-7a21ddc6ec68
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250122T152929Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - txe08392b2-3ecd-4725-a509-d8b3a9aa9b1b
        status: 404 Not Found
        code: 404
        duration: 18.7045ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"59feae87-e2b0-46ee-aa50-d2cf3199dfd2","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.366583ms
[...]
