---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","secret_environment_variables":[],"tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-04-28T09:22:40.494216669Z","description":"","environment_variables":{},"error_message":null,"id":"fc04be20-4e4e-453b-9ad3-525f34966b7c","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-04-28T09:22:40.494216669Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.533517125s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/fc04be20-4e4e-453b-9ad3-525f34966b7c
        method: GET
      response:
        body: '{"created_at":"2025-04-28T09:22:40.494217Z","description":"","environment_variables":{},"error_message":null,"id":"fc04be20-4e4e-453b-9ad3-525f34966b7c","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-04-28T09:22:40.494217Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.9635ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/fc04be20-4e4e-453b-9ad3-525f34966b7c
        method: PATCH
      response:
        body: '{"created_at":"2025-04-28T09:22:40.494217Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"fc04be20-4e4e-453b-9ad3-525f34966b7c","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01t9lb5wey","registry_namespace_id":"ad8d9981-507f-4741-9890-8f5a1a560971","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$JeWATXYOwSI3HoSX0pOEKw$5+JS8+EXe5OepynxwiA6e2fL9Eyi8RM6H1b8xnv7EZM","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:22:48.243990782Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 562.586083ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/fc04be20-4e4e-453b-9ad3-525f34966b7c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.702667ms
[...]
