---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-token-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-23T09:31:45.395761241Z","description":"","environment_variables":{},"error_message":null,"id":"66a6628b-4493-4302-b990-b1968710fb81","name":"test-function-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-23T09:31:45.395761241Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.404875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/66a6628b-4493-4302-b990-b1968710fb81
        method: GET
      response:
        body: '{"created_at":"2025-01-23T09:31:45.395761Z","description":"","environment_variables":{},"error_message":null,"id":"66a6628b-4493-4302-b990-b1968710fb81","name":"test-function-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-23T09:31:45.395761Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.190417ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"66a6628b-4493-4302-b990-b1968710fb81","expires_at":"2025-01-24T10:31:40+01:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-01-24T09:31:40Z","id":"8ba0ae74-20ed-4b77-85c9-58af9f56f95b","namespace_id":"66a6628b-4493-4302-b990-b1968710fb81","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA2uUDcs0IVxLGb/LjfQ9xBr/lU5p66ZwmizrJEpccljC2VzljXu+Q\n7MEKs5UTMX4UKSPdRYqIjvyN/GTU6Hb5btrGDV/bAfm8AYdVfzZuWRFJV7ydil5V\ndqpYcsLoThMrFWIb8KX0MEDrnb6PePR4PV2M9GV7aIXDlMcLH+FZqtaZje+B5+vs\nqPlJhSkwWWlXpisEgVVoF7GP3aXy3B+d5gcW9PeHl7woNQS8xhY5Fdkq2uiViuib\nDZj/82ANjVGAr8VYip1liMxqQ68v/Kpbi5hHuz6BA2xXEFSMgPHFXl9EMCIkD37W\n4JEVzV/Hj0iyEXbtUWtGBQ2FDHK4dGVsDvNTXvXrujo3hyrArYcAm3YubYSj9Tml\nJeeBhDlf42DdhwiYhqG6qj9lqF/+eAd0TvF+O5L9OKFQN+T+SigTJXrBWC48L9Hm\nJ91/9rtuTAuJzkhZOOmt3Ykw+PNfPIXHNDHN38dfpF/eIEbMz3Yh+6D5BLdx8HFf\ndK02j6ZPM4YtbwMMVEsmPJZ8UkzSXdGZH3+Jh9A2gw/BD1NDoXZvwcQyQ5R3nG2H\nI7AxbgHWCOl67qUebah14rnoEDCKRA1H2JyVi8h4YKuwWo0r7QallaiZx6iyjWW8\nXbKYWmyoaqzfF1Yd9hdZQrIr9ctpwg4pAi0T0DPreI3NjWuhfJ1jM8kCAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiNjZhNjYyOGItNDQ5My00MzAyLWI5OTAtYjE5Njg3MTBmYjgxIiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTczNzcxMTEwMCwianRpIjoiOGJhMGFlNzQtMjBlZC00Yjc3LTg1YzktNThhZjlmNTZmOTViIiwiaWF0IjoxNzM3NjI0NzE1LCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTczNzYyNDcxNSwic3ViIjoidG9rZW4ifQ.07SDmfJWPejStNzQvLIcqM_eewdRuTYHBOYWlOPLSlK6WwPqqIprtRLrQPZ8PP1cxw8qC3HTm_DzzMoeHCS5n4ehHQfImiGNLGY16fi_D7x15lgLFqSLsC20Do0UHKp5S9yCOlZKv-ifPm1-ULdKso_JhkOouomX4xYjCM6U6d1-w7ILNP2ySO4T3Kso7aaPyOSSKJh5fHblrXW2W0N8EpJuV0CWTZvGVp7B-Bb25quUbF3tc2yFpTKHFGUp6htKmGuLeSOdfubD4dhhFCEC5rvtYEkDXXAtnaCg1MhHIgldSM5O4Khk9wAW6gow8J9lJd1mdNYeahtjz6KcMCXj6ZMTz0Z_lSw9pIiqlGHVY4VXWVklTAqIN-lb9rOMx1ytY1rFVrLXS6KpLJS6FBiKhWA-yXRq7S9hxEscOK8ve9EW6oPoX5u7saEiAAumAma-HCIghcPGuYPC5vskxJka1sCmeDaAcoMMqdfI-HnENubjQaCEcN_J-vBdpK147PDfichWD1E73BTVmWnTRED7hrObj4iSd0jR7Y4I95MhgErvT-OYgVqnYxW9KBo4EpL-rL-8XezKfpMLGfzOxudxAfJHLlkJeCfn9J4n_DcLfBTQ7C8PY-ela6hxkaiyIi0MCfDhHxPH-kghGvNCWTlSvJaeZ6oAYPa0K9vfvIhAIbk"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.533083ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens/8ba0ae74-20ed-4b77-85c9-58af9f56f95b
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-01-24T09:31:40Z","id":"8ba0ae74-20ed-4b77-85c9-58af9f56f95b","namespace_id":"66a6628b-4493-4302-b990-b1968710fb81","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.60725ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-quirky-rosalind","namespace_id":"66a6628b-4493-4302-b990-b1968710fb81","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-23T09:31:56.057318489Z","description":"","domain_name":"testfunctiontokennslafhiyeh-tf-func-quirky-rosalind.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"39694fac-f539-4e03-8e93-5b6ff2134200","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-quirky-rosalind","namespace_id":"66a6628b-4493-4302-b990-b1968710fb81","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-23T09:31:56.057318489Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.101542ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/39694fac-f539-4e03-8e93-5b6ff2134200
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-23T09:31:56.057318Z","description":"","domain_name":"testfunctiontokennslafhiyeh-tf-func-quirky-rosalind.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"39694fac-f539-4e03-8e93-5b6ff2134200","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-quirky-rosalind","namespace_id":"66a6628b-4493-4302-b990-b1968710fb81","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-23T09:31:56.057318Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.504625ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"function_id":"39694fac-f539-4e03-8e93-5b6ff2134200"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":null,"function_id":"39694fac-f539-4e03-8e93-5b6ff2134200","id":"0afffa50-194c-4eb6-bd01-d24b7c60fd27","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA2uUDcs0IVxLGb/LjfQ9xBr/lU5p66ZwmizrJEpccljC[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/8ba0ae74-20ed-4b77-85c9-58af9f56f95b
        method: DELETE
      response:
        body: '{"message":"Container was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 80.31675ms
[...]
