---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-func-eloquent-sinoussi\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"87c01c69-4eb8-4c1b-afb7-341e4cd5afa0\",\"name\":\"tf-func-eloquent-sinoussi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:27.806478621Z\",\"updated_at\":\"2025-09-01T15:54:27.806478621Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.6214336s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/87c01c69-4eb8-4c1b-afb7-341e4cd5afa0
    method: GET
  response:
    body: "{\"id\":\"87c01c69-4eb8-4c1b-afb7-341e4cd5afa0\",\"name\":\"tf-func-eloquent-sinoussi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:27.806479Z\",\"updated_at\":\"2025-09-01T15:54:27.806479Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.791409ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"foobar\",\"namespace_id\":\"87c01c69-4eb8-4c1b-afb7-341e4cd5afa0\",\"environment_variables\":{\"test\":\"test\"},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"handler\":\"handler.handle\",\"privacy\":\"private\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"test_secret\"}],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: "{\"id\":\"cf54606c-f431-4e4f-91ec-cf187b8da51e\",\"name\":\"foobar\",\"namespace_id\":\"87c01c69-4eb8-4c1b-afb7-341e4cd5afa0\",\"status\":\"created\",\"environment_variables\":{\"test\":\"test\"},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffunceloquentsinous5ltwrang-foobar.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$OW1Z3HCjqgsUG2S6o0Kv2A$XiIGHLQmS8QY/+4ui/s/QXFL4X0aewixe6OF23hjFZA\"}],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:46.609252274Z\",\"updated_at\":\"2025-09-01T15:54:46.609252274Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 8.461326234s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/cf54606c-f431-4e4f-91ec-cf187b8da51e
    method: GET
  response:
    body: "{\"id\":\"cf54606c-f431-4e4f-91ec-cf187b8da51e\",\"name\":\"foobar\",\"namespace_id\":\"87c01c69-4eb8-4c1b-afb7-341e4cd5afa0\",\"status\":\"created\",\"environment_variables\":{\"test\":\"test\"},\"min_scale\":0,\"max_scale\":20,\"runtime\":\"node22\",\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"300s\",\"handler\":\"handler.handle\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"\",\"domain_name\":\"tffunceloquentsinous5ltwrang-foobar.functions.fnc.fr-par.scw.cloud\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$OW1Z3HCjqgsUG2S6o0Kv2A$XiIGHLQmS8QY/+4ui/s/QXFL4X0aewixe6OF23hjFZA\"}],\"http_option\":\"enabled\",\"runtime_message\":\"\",\"build_message\":null,\"sandbox\":\"v2\",\"created_at\":\"2025-09-01T15:54:46.609252Z\",\"updated_at\":\"2025-09-01T15:54:46.609252Z\",\"ready_at\":null,\"tags\":[],\"private_network_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.334755ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"foo\":\"bar\"},\"runtime\":\"unknown_runtime\",\"privacy\":\"unknown_privacy\",\"secret_environment_variables\":[{\"key\":\"foo_secret\",\"value\":\"bar_secret\"},{\"key\":\"test_secret\",\"value\":null}],\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/cf54606c-f431-4e4f-91ec-cf187b8da51e
    method: PATCH
  response:
    body: "{\"id\":\"cf54[...]
[...]
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/87c01c69-4eb8-4c1b-afb7-341e4cd5afa0
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.790189ms
[...]
