---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:02.322848379Z","description":"","environment_variables":{},"error_message":null,"id":"b73d56c5-6836-4b2b-b23f-1f909e7d7cec","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-01-22T15:29:02.322848379Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 890.544125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b73d56c5-6836-4b2b-b23f-1f909e7d7cec
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:02.322848Z","description":"","environment_variables":{},"error_message":null,"id":"b73d56c5-6836-4b2b-b23f-1f909e7d7cec","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":["tag1","tag2"],"updated_at":"2025-01-22T15:29:02.322848Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.810583ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b73d56c5-6836-4b2b-b23f-1f909e7d7cec
        method: PATCH
      response:
        body: '{"created_at":"2025-01-22T15:29:02.322848Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"b73d56c5-6836-4b2b-b23f-1f909e7d7cec","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns011abmsbik","registry_namespace_id":"719e0b7a-3e4a-4dae-9072-faccedfca33a","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$+gpg+EDz9wpTxy73NUpOhg$mBYgkY63HYGP5hodG+4Her6B5FqpInwdDhLW1CSHEMs","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:14.838211098Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.666ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b73d56c5-6836-4b2b-b23f-1f909e7d7cec
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.974583ms
[...]
