---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-vibrant-dijkstra","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-05-27T18:18:38.563437566Z","description":"","environment_variables":{},"error_message":null,"id":"7022bdf8-596f-4a9f-9248-bf63dc19ce0f","name":"tf-func-vibrant-dijkstra","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-05-27T18:18:38.563437566Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 498.885318ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7022bdf8-596f-4a9f-9248-bf63dc19ce0f
        method: GET
      response:
        body: '{"created_at":"2025-05-27T18:18:38.563438Z","description":"","environment_variables":{},"error_message":null,"id":"7022bdf8-596f-4a9f-9248-bf63dc19ce0f","name":"tf-func-vibrant-dijkstra","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-05-27T18:18:38.563438Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.660956ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"7022bdf8-596f-4a9f-9248-bf63dc19ce0f","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-05-27T18:18:44.010304019Z","description":"","domain_name":"tffuncvibrantdijkstrgofatooh-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0cfe1223-c337-4271-96a9-5386f206e0ba","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"7022bdf8-596f-4a9f-9248-bf63dc19ce0f","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":["tag1","tag2"],"timeout":"300s","updated_at":"2025-05-27T18:18:44.010304019Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.860437ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0cfe1223-c337-4271-96a9-5386f206e0ba
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-05-27T18:18:44.010304Z","description":"","domain_name":"tffuncvibrantdijkstrgofatooh-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0cfe1223-c337-4271-96a9-5386f206e0ba","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"7022bdf8-596f-4a9f-9248-bf63dc19ce0f","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":["tag1","tag2"],"timeout":"300s","updated_at":"2025-05-27T18:18:44.010304Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.372939ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7022bdf8-596f-4a9f-9248-bf63dc19ce0f
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.006366ms
[...]
