---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-serene-lichterman","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T14:01:44.917309032Z","description":"","environment_variables":{},"error_message":null,"id":"11f3af4d-e013-445f-8b22-156fc3c1f49c","name":"tf-func-serene-lichterman","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T14:01:44.917309032Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 825.58715ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/11f3af4d-e013-445f-8b22-156fc3c1f49c
        method: GET
      response:
        body: '{"created_at":"2025-08-27T14:01:44.917309Z","description":"","environment_variables":{},"error_message":null,"id":"11f3af4d-e013-445f-8b22-156fc3c1f49c","name":"tf-func-serene-lichterman","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T14:01:44.917309Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.964823ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-stoic-stonebraker","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-08-27T14:01:44.210929Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c06c7ffa-e6c1-42e3-98d1-fd3da73d4253","name":"tf-pn-stoic-stonebraker","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T14:01:44.210929Z","id":"5873ffe4-f3f9-4933-88fe-71c893b7a8cf","private_network_id":"c06c7ffa-e6c1-42e3-98d1-fd3da73d4253","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.24.0/22","updated_at":"2025-08-27T14:01:44.210929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T14:01:44.210929Z","id":"d77237aa-0dbe-4f17-9af4-31c6b6c7d6f5","private_network_id":"c06c7ffa-e6c1-42e3-98d1-fd3da73d4253","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:751f::/64","updated_at":"2025-08-27T14:01:44.210929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T14:01:44.210929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 947.929346ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c06c7ffa-e6c1-42e3-98d1-fd3da73d4253
        method: GET
      response:
        body: '{"created_at":"2025-08-27T14:01:44.210929Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c06c7ffa-e6c1-42e3-98d1-fd3da73d4253","name":"tf-pn-stoic-stonebraker","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T14:01:44.210929Z","id":"5873ffe4-f3f9-4933-88fe-71c893b7a8cf","private_network_id":"c06c7ffa-e6c1-42e3-98d1-fd3da73d4253","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.24.0/22","updated_at":"2025-08-27T14:01:44.210929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T14:01:44.210929Z","id":"d77237aa-0dbe-4f17-9af4-31c6b6c7d6f5","private_network_id":"c06c7ffa-e6c1-42e3-98d1-fd3da73d4253","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:751f::/64","updated_at":"2025-08-27T14:01:44.210929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T14:01:44.210929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.145608ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-unruffled-montalcini","namespace_id":"11f3af4d-e013-445f-8b22-156fc3c1f49c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T14:01:50.615081055Z","description":"","domain_name":"tffuncserenelichtermytdhxbxc-tf-func-unruffled-montalcini.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"87c2d675-77b9-4574-8c01-2f4f756a0fc4","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-unruffled-montalcini","namespace_id":"11f3af4d-e013-445f-8b22-156fc3c1f49c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T14:01:50.615081055Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.214884ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/87c2d675-77b9-4574-8c01-2f4f756a0fc4
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T14:01:50.615081Z","description":"","domain_name":"tffuncserenelichtermytdhxbxc-tf-func-unruffled-montalcini.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"87c2d675-77b9-4574-8c01-2f4f756a0fc4","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-unruffled-montalcini","namespace_id":"11f3af4d-e013-445f-8b22-156fc3c1f49c","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T14:01:50.615081Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.958709ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/11f3af4d-e013-445f-8b22-156fc3c1f49c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.377539ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c06c7ffa-e6c1-42e3-98d1-fd3da73d4253
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"c06c7ffa-e6c1-42e3-98d1-fd3da73d4253","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.992163ms
