---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-blissful-johnson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:08.345573982Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADMU4AEVWFQIDQDCOXRKO3DA6FJIZQTNCEXYXT4OZSP6NHNFXB4LTFLZ","name":"tf-nats-account-blissful-johnson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","updated_at":"2025-08-27T15:05:08.345573982Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.445415ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADMU4AEVWFQIDQDCOXRKO3DA6FJIZQTNCEXYXT4OZSP6NHNFXB4LTFLZ
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:08.345573Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADMU4AEVWFQIDQDCOXRKO3DA6FJIZQTNCEXYXT4OZSP6NHNFXB4LTFLZ","name":"tf-nats-account-blissful-johnson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","updated_at":"2025-08-27T15:05:08.345573Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.620395ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:13.653786295Z","description":"","environment_variables":{},"error_message":null,"id":"55616aec-771d-4b6a-82e7-ab135f67f899","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.653786295Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.534875559s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/55616aec-771d-4b6a-82e7-ab135f67f899
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:13.653786Z","description":"","environment_variables":{},"error_message":null,"id":"55616aec-771d-4b6a-82e7-ab135f67f899","name":"test-function-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:13.653786Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.905715ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"55616aec-771d-4b6a-82e7-ab135f67f899","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.397303219Z","description":"","domain_name":"testfunctiontriggersxwgl5txd-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d2ab0a30-8169-451f-bf91-ff7a4b234863","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"55616aec-771d-4b6a-82e7-ab135f67f899","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.397303219Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.092582365s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/d2ab0a30-8169-451f-bf91-ff7a4b234863
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-08-27T15:05:25.397303Z","description":"","domain_name":"testfunctiontriggersxwgl5txd-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d2ab0a30-8169-451f-bf91-ff7a4b234863","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"55616aec-771d-4b6a-82e7-ab135f67f899","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:25.397303Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.084454ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-nats","function_id":"d2ab0a30-8169-451f-bf91-ff7a4b234863","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"ADMU4AEVWFQIDQDCOXRKO3DA6FJIZQTNCEXYXT4OZSP6NHNFXB4LTFLZ","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"d2ab0a30-8169-451f-bf91-ff7a4b234863","id":"3aa572d4-1cd1-40f8-ba85-59416149c5df","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ADMU4AEVWFQIDQDCOXRKO3DA6FJIZQTNCEXYXT4OZSP6NHNFXB4LTFLZ","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.367571657s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/3aa572d4-1cd1-40f8-ba85-59416149c5df
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"d2ab0a30-8169-451f-bf91-ff7a4b234863","id":"3aa572d4-1cd1-40f8-ba85-59416149c5df","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ADMU4AEVWFQIDQDCOXRKO3DA6FJIZQTNCEXYXT4OZSP6NHNFXB4LTFLZ","mnq_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.915436ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/3aa572d4-1cd1-40f8-ba85-59416149c5df
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.240877ms
[...]
