---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-sleepy-vaughan","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:13.675683273Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AD52OE4JEF6Y5YP66KIS62K7KWFJF7KHSWM3CJHYZQ7TMZOUIQAUPMOE","name":"tf-nats-account-sleepy-vaughan","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-22T15:29:13.675683273Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.47825ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:13.826208146Z","description":"","environment_variables":{},"error_message":null,"id":"fd6968ca-1853-4526-a2f3-06d547338be7","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:13.826208146Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.454458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AD52OE4JEF6Y5YP66KIS62K7KWFJF7KHSWM3CJHYZQ7TMZOUIQAUPMOE
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:13.675683Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AD52OE4JEF6Y5YP66KIS62K7KWFJF7KHSWM3CJHYZQ7TMZOUIQAUPMOE","name":"tf-nats-account-sleepy-vaughan","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-22T15:29:13.675683Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.307542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/fd6968ca-1853-4526-a2f3-06d547338be7
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:13.826208Z","description":"","environment_variables":{},"error_message":null,"id":"fd6968ca-1853-4526-a2f3-06d547338be7","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:13.826208Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.038708ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"fd6968ca-1853-4526-a2f3-06d547338be7","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:24.428266633Z","description":"","domain_name":"testfunctiontriggersy3u2mfyx-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"8eb877fe-3ca3-4f97-b0b1-16b4a4f62f23","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"fd6968ca-1853-4526-a2f3-06d547338be7","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:24.428266633Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 845.9565ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8eb877fe-3ca3-4f97-b0b1-16b4a4f62f23
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:24.428267Z","description":"","domain_name":"testfunctiontriggersy3u2mfyx-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"8eb877fe-3ca3-4f97-b0b1-16b4a4f62f23","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"fd6968ca-1853-4526-a2f3-06d547338be7","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:24.428267Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.45075ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-nats","function_id":"8eb877fe-3ca3-4f97-b0b1-16b4a4f62f23","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"AD52OE4JEF6Y5YP66KIS62K7KWFJF7KHSWM3CJHYZQ7TMZOUIQAUPMOE","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"8eb877fe-3ca3-4f97-b0b1-16b4a4f62f23","id":"6d8046bf-eca0-4ea6-94dd-c553c3bb8b07","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AD52OE4JEF6Y5YP66KIS62K7KWFJF7KHSWM3CJHYZQ7TMZOUIQAUPMOE","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.048791ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/6d8046bf-eca0-4ea6-94dd-c553c3bb8b07
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"8eb877fe-3ca3-4f97-b0b1-16b4a4f62f23","id":"6d8046bf-eca0-4ea6-94dd-c553c3bb8b07","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AD52OE4JEF6Y5YP66KIS62K7KWFJF7KHSWM3CJHYZQ7TMZOUIQAUPMOE","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.999042ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/6d8046bf-eca0-4ea6-94dd-c553c3bb8b07
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.036583ms
[...]
