---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-03T15:01:47.243240681Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"d1262a81-6e4d-4987-947f-562facb100d3","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$S2VTFXE+LHaHryozLOClfA$LBJxqqHqN0h/bz1e08uuXJ+U6cM6RuMbGxD0ynAUK6s","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.243240681Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.774016116s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d1262a81-6e4d-4987-947f-562facb100d3
        method: GET
      response:
        body: '{"created_at":"2026-07-03T15:01:47.243241Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"d1262a81-6e4d-4987-947f-562facb100d3","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$S2VTFXE+LHaHryozLOClfA$LBJxqqHqN0h/bz1e08uuXJ+U6cM6RuMbGxD0ynAUK6s","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-07-03T15:01:47.243241Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.225469ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"test_secret","value":"updated_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d1262a81-6e4d-4987-947f-562facb100d3
        method: PATCH
      response:
        body: '{"created_at":"2026-07-03T15:01:47.243241Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"d1262a81-6e4d-4987-947f-562facb100d3","name":"tf-env-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvteste6yxx8dt","registry_namespace_id":"ecaea40a-798a-4fb4-9436-1bec0f1b9b21","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$g7/b/fBQzTSgq8q5GFDY1g$4eEzzo2WmS8sMjRO7D4WcgGzDFHucPhpjw66HiLtaZM","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2026-07-03T15:02:03.917705973Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.439888ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d1262a81-6e4d-4987-947f-562facb100d3
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.65087ms
[...]
