---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:32:38.601982Z","description":"","id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-02T09:32:38.601982Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.301584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3f11d11d-5f9e-4504-9b22-b0a44c953f1e
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:32:38.601982Z","description":"","id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-02T09:32:38.601982Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.444417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:32:39.106415150Z","project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:32:39.106415150Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.630083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=3f11d11d-5f9e-4504-9b22-b0a44c953f1e
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:32:39.106415Z","project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:32:39.106415Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.883917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","name":"tf-sqs-credentials-sad-gould","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"FLMaEiCurpbc7cB6Omx7","created_at":"2025-09-02T09:32:39.399646681Z","id":"eb794368-de57-4274-89ec-3b1b19a67045","name":"tf-sqs-credentials-sad-gould","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","region":"fr-par","secret_checksum":"6baeba80d6597aa3d244b211bdb6c23b31cafb86","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:32:39.399646681Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.684083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/eb794368-de57-4274-89ec-3b1b19a67045
        method: GET
      response:
        body: '{"access_key":"FLMaEiCurpbc7cB6Omx7","created_at":"2025-09-02T09:32:39.399646Z","id":"eb794368-de57-4274-89ec-3b1b19a67045","name":"tf-sqs-credentials-sad-gould","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","region":"fr-par","secret_checksum":"6baeba80d6597aa3d244b211bdb6c23b31cafb86","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:32:39.399646Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.038291ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"VisibilityTimeout":"30","MaximumMessageSize":"262144","MessageRetentionPeriod":"345600"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9cac0826-358c-4d82-97b5-0ede3c1bcf28
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T093239Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-3f11d11d-5f9e-4504-9b22-b0a44c953f1e/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx206faa9b-44e4-4de4-83e8-c0109d5b344e
        status: 200 OK
        code: 200
        duration: 185.531208ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-3f11d11d-5f9e-4504-9b22-b0a44c953f1e/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e0015291-25b9-4884-ba1b-3adab584015d
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T093239Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-3f11d11d-5f9e-4504-9b22-b0a44c953f1e:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx2dd3957c-e275-449f-b506-3405659764e9
        status: 200 OK
        code: 200
        duration: 24.890125ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:32:40.010221505Z","description":"","environment_variables":{},"error_message":null,"id":"ac614d2d-d372-4401-8129-ccde92bde63f","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-02T09:32:40.010221505Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 998.462583ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ac614d2d-d372-4401-8129-ccde92bde63f
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:32:40.010222Z","description":"","environment_variables":{},"error_message":null,"id":"ac614d2d-d372-4401-8129-ccde92bde63f","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-02T09:32:40.010222Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.822875ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","namespace_id":"ac614d2d-d372-4401-8129-ccde92bde63f","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-09-02T09:33:11.393135835Z","description":"","domain_name":"testfunctiontriggersra5bjv5m-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e097376f-8593-46a1-b029-1b18f484f5d3","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"ac614d2d-d372-4401-8129-ccde92bde63f","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-02T09:33:11.393135835Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 488.865833ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/e097376f-8593-46a1-b029-1b18f484f5d3
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-09-02T09:33:11.393136Z","description":"","domain_name":"testfunctiontriggersra5bjv5m-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"e097376f-8593-46a1-b029-1b18f484f5d3","max_scale":20,"memory_limit":256,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"ac614d2d-d372-4401-8129-ccde92bde63f","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-02T09:33:11.393136Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.711292ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"test-function-trigger-sqs","function_id":"e097376f-8593-46a1-b029-1b18f484f5d3","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"description":"","error_message":null,"function_id":"e097376f-8593-46a1-b029-1b18f484f5d3","id":"2474aea3-bde2-4c3e-a25f-921c6343420d","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.025292ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/2474aea3-bde2-4c3e-a25f-921c6343420d
        method: GET
      response:
        body: '{"description":"","error_message":null,"function_id":"e097376f-8593-46a1-b029-1b18f484f5d3","id":"2474aea3-bde2-4c3e-a25f-921c6343420d","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.435083ms
[...]
    - id: 63
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5db5cfdc-db35-495d-836a-e7729a7f1d3c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T093408Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx43f29ad3-b293-47fb-bc88-665369fb84bf
        status: 404 Not Found
        code: 404
        duration: 25.1505ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: '{"project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"3f11d11d-5f9e-4504-9b22-b0a44c953f1e","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.234625ms
[...]
