---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-reverent-kepler","environment_variables":{},"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-04-28T08:37:13.069764971Z","description":"","environment_variables":{},"error_message":null,"id":"37d7e438-1812-4d7b-b9f1-da7e3d5a18fb","name":"tf-func-reverent-kepler","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-28T08:37:13.069764971Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 765.936958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/37d7e438-1812-4d7b-b9f1-da7e3d5a18fb
        method: GET
      response:
        body: '{"created_at":"2025-04-28T08:37:13.069765Z","description":"","environment_variables":{},"error_message":null,"id":"37d7e438-1812-4d7b-b9f1-da7e3d5a18fb","name":"tf-func-reverent-kepler","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-28T08:37:13.069765Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.471917ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"37d7e438-1812-4d7b-b9f1-da7e3d5a18fb","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-04-28T08:37:18.886970757Z","description":"","domain_name":"tffuncreverentkeplertbfkmeps-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4ba9bbb1-ac4d-4ed0-a379-23c5c79a709e","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"37d7e438-1812-4d7b-b9f1-da7e3d5a18fb","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$XjeG4QgvzHenESD5gjZZIA$3kWeeaIrcLwE0t4eCqUkmDQeFiWNSP13A28qDoO3rro","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-04-28T08:37:18.886970757Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 689.772834ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/4ba9bbb1-ac4d-4ed0-a379-23c5c79a709e
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-04-28T08:37:18.886971Z","description":"","domain_name":"tffuncreverentkeplertbfkmeps-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4ba9bbb1-ac4d-4ed0-a379-23c5c79a709e","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"37d7e438-1812-4d7b-b9f1-da7e3d5a18fb","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$XjeG4QgvzHenESD5gjZZIA$3kWeeaIrcLwE0t4eCqUkmDQeFiWNSP13A28qDoO3rro","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-04-28T08:37:18.886971Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.056666ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"},{"key":"test_secret","value":null}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/4ba9bbb1-ac4d-4ed0-a379-23c5c79a709e
        method: PATCH
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-04-28T08:37:18.886971Z","description":"","domain_name":"tffuncreverentkeplertbfkmeps-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"bar"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"4ba9bbb1-ac4d-4ed0-a379-23c5c79a709e","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"37d7e438-1812-4d7b-b9f1-da7e3d5a18fb","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$qeoLW0cT3iRyBgAMm7acNQ$n3vjIhLoiDgXJJF3BBckw4Z9e4HJno/SQkP1ntlgIkI","key":"foo_secret"}],"status":"pending","timeout":"300s","updated_at":"2025-04-28T08:37:20.657402177Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 566.0215ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/37d7e438-1812-4d7b-b9f1-da7e3d5a18fb
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.583ms
[...]
