---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFunctionNamespace_VPCIntegration","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:29:54.003131Z","custom_routes_propagation_enabled":true,"id":"524c1e17-a952-48d7-80f8-946cf2a35f82","is_default":false,"name":"TestAccFunctionNamespace_VPCIntegration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:29:54.003131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.882958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/524c1e17-a952-48d7-80f8-946cf2a35f82
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:29:54.003131Z","custom_routes_propagation_enabled":true,"id":"524c1e17-a952-48d7-80f8-946cf2a35f82","is_default":false,"name":"TestAccFunctionNamespace_VPCIntegration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:29:54.003131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.421083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-sweet-roentgen","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"524c1e17-a952-48d7-80f8-946cf2a35f82","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:29:54.116866Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5b053d09-9a6c-4da4-a103-4dd56d36a059","name":"tf-pn-sweet-roentgen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:29:54.116866Z","id":"570b6cc2-9d18-439a-95fa-248aedd78010","private_network_id":"5b053d09-9a6c-4da4-a103-4dd56d36a059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.204.0/22","updated_at":"2025-09-30T09:29:54.116866Z","vpc_id":"524c1e17-a952-48d7-80f8-946cf2a35f82"},{"created_at":"2025-09-30T09:29:54.116866Z","id":"5eb352c8-d2b0-4f22-a3ae-ed2e7eca197a","private_network_id":"5b053d09-9a6c-4da4-a103-4dd56d36a059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:240a::/64","updated_at":"2025-09-30T09:29:54.116866Z","vpc_id":"524c1e17-a952-48d7-80f8-946cf2a35f82"}],"tags":[],"updated_at":"2025-09-30T09:29:54.116866Z","vpc_id":"524c1e17-a952-48d7-80f8-946cf2a35f82"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 648.535541ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5b053d09-9a6c-4da4-a103-4dd56d36a059
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:29:54.116866Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5b053d09-9a6c-4da4-a103-4dd56d36a059","name":"tf-pn-sweet-roentgen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:29:54.116866Z","id":"570b6cc2-9d18-439a-95fa-248aedd78010","private_network_id":"5b053d09-9a6c-4da4-a103-4dd56d36a059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.204.0/22","updated_at":"2025-09-30T09:29:54.116866Z","vpc_id":"524c1e17-a952-48d7-80f8-946cf2a35f82"},{"created_at":"2025-09-30T09:29:54.116866Z","id":"5eb352c8-d2b0-4f22-a3ae-ed2e7eca197a","private_network_id":"5b053d09-9a6c-4da4-a103-4dd56d36a059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:240a::/64","updated_at":"2025-09-30T09:29:54.116866Z","vpc_id":"524c1e17-a952-48d7-80f8-946cf2a35f82"}],"tags":[],"updated_at":"2025-09-30T09:29:54.116866Z","vpc_id":"524c1e17-a952-48d7-80f8-946cf2a35f82"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.348583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-modest-montalcini","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:29:55.257381197Z","description":"","environment_variables":{},"error_message":null,"id":"ebd91518-7125-4ffa-aa7e-ebb37c3b45af","name":"tf-func-modest-montalcini","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:29:55.257381197Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.4767965s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ebd91518-7125-4ffa-aa7e-ebb37c3b45af
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:29:55.257381Z","description":"","environment_variables":{},"error_message":null,"id":"ebd91518-7125-4ffa-aa7e-ebb37c3b45af","name":"tf-func-modest-montalcini","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:29:55.257381Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.658ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-confident-rosalind","namespace_id":"ebd91518-7125-4ffa-aa7e-ebb37c3b45af","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go123","memory_limit":256,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"v1","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-09-30T09:30:00.982960614Z","description":"","domain_name":"tffuncmodestmontalcitmrc4ypc-tf-func-confident-rosalind.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"8aa0f8b9-ce39-4f89-8a48-bf6f498aeffc","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-confident-rosalind","namespace_id":"ebd91518-7125-4ffa-aa7e-ebb37c3b45af","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:30:00.982960614Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 443.227458ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8aa0f8b9-ce39-4f89-8a48-bf6f498aeffc
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-09-30T09:30:00.982961Z","description":"","domain_name":"tffuncmodestmontalcitmrc4ypc-tf-func-confident-rosalind.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"8aa0f8b9-ce39-4f89-8a48-bf6f498aeffc","max_scale":20,"memory_limit":256,"min_scale":0,"name":"tf-func-confident-rosalind","namespace_id":"ebd91518-7125-4ffa-aa7e-ebb37c3b45af","privacy":"private","private_network_id":null,"ready_at":null,"region":"fr-par","runtime":"go123","runtime_message":"","sandbox":"v1","secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:30:00.982961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.188875ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ebd91518-7125-4ffa-aa7e-ebb37c3b45af
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.3535ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5b053d09-9a6c-4da4-a103-4dd56d36a059
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"5b053d09-9a6c-4da4-a103-4dd56d36a059","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.074584ms
