---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-hardcore-pare","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:29:31.773458970Z","description":"","environment_variables":{},"error_message":null,"id":"d7863be2-cb66-49ed-ba86-7c823ddd8e37","name":"tf-func-hardcore-pare","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:31.773458970Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.1405ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d7863be2-cb66-49ed-ba86-7c823ddd8e37
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:29:31.773459Z","description":"","environment_variables":{},"error_message":null,"id":"d7863be2-cb66-49ed-ba86-7c823ddd8e37","name":"tf-func-hardcore-pare","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:29:31.773459Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.172ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"d7863be2-cb66-49ed-ba86-7c823ddd8e37","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node22","memory_limit":256,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:47.523457973Z","description":"","domain_name":"tffunchardcorepareivxy9rl2-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a1dfca86-068c-45a5-b0d3-a7d8a935d7f9","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"d7863be2-cb66-49ed-ba86-7c823ddd8e37","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:47.523457973Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.393375ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/a1dfca86-068c-45a5-b0d3-a7d8a935d7f9
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":140,"created_at":"2025-01-22T15:29:47.523458Z","description":"","domain_name":"tffunchardcorepareivxy9rl2-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a1dfca86-068c-45a5-b0d3-a7d8a935d7f9","max_scale":20,"memory_limit":256,"min_scale":0,"name":"foobar","namespace_id":"d7863be2-cb66-49ed-ba86-7c823ddd8e37","privacy":"private","ready_at":null,"region":"fr-par","runtime":"node22","runtime_message":"","sandbox":"v2","secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:29:47.523458Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.022791ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d7863be2-cb66-49ed-ba86-7c823ddd8e37
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.007167ms
[...]
