---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-12T14:41:59.624892Z","description":"","id":"18f2bb89-942e-4ffd-8b06-bac336416f6b","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-12T14:41:59.624892Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 500.238833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/18f2bb89-942e-4ffd-8b06-bac336416f6b
        method: GET
      response:
        body: '{"created_at":"2025-12-12T14:41:59.624892Z","description":"","id":"18f2bb89-942e-4ffd-8b06-bac336416f6b","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-12T14:41:59.624892Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.645875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"18f2bb89-942e-4ffd-8b06-bac336416f6b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ce34b1c4-c4ae-4463-beac-dbb571fc06b3.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.394333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=18f2bb89-942e-4ffd-8b06-bac336416f6b
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ce34b1c4-c4ae-4463-beac-dbb571fc06b3.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.164208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=18f2bb89-942e-4ffd-8b06-bac336416f6b
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has {{ $value }} server(s) down on backend {{ $labels.backend_name }}","display_description":"1 or several Backend server(s) is/are down","display_name":"Backend server down","family":"Load Balancer","product":"LB","rule_id":"feb64cef-c855-4230-a74e-813515fdb357","summary":"{{ $value }} backend server(s) down on Load Balancer {{ $labels.resource_name }}"},"data_source_id":"","duration":"5m","name":"LBBackendServerDown","preconfigured":true,"preconfigured_data":{"display_description":"1 or several Backend server(s) is/are down","display_name":"Backend server down","preconfigured_rule_id":"feb64cef-c855-4230-a74e-813515fdb357","product_family":"Load Balancer","product_name":"LB"},"region":"fr-par","rule":"load_balancer_lb_backend_agg_server_check_status{state=\"DOWN\", backend_name!=\"\"} \u003e 0","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-rdb-mysql-overview/rdb-mysql-overview?\u0026var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"MySQL™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a disk usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High storage usage","family":"Managed Databases","product":"MySQL","rule_id":"f8834c3[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=18f2bb89-942e-4ffd-8b06-bac336416f6b
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.500583ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"18f2bb89-942e-4ffd-8b06-bac336416f6b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/trigger-test-alert
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 258.530083ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"18f2bb89-942e-4ffd-8b06-bac336416f6b","name":"test-metrics-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-12-12T14:42:01.305Z","id":"70d5cd0b-a71b-4052-893f-0bd439926c8a","name":"test-metrics-source","origin":"custom","project_id":"18f2bb89-942e-4ffd-8b06-bac336416f6b","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-12T14:42:01.305Z","url":"https://70d5cd0b-a71b-4052-893f-0bd439926c8a.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 602.241417ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/70d5cd0b-a71b-4052-893f-0bd439926c8a
        method: GET
      response:
        body: '{"created_at":"2025-12-12T14:42:01.305Z","current_month_usage":0,"id":"70d5cd0b-a71b-4052-893f-0bd439926c8a","name":"test-metrics-source","origin":"custom","project_id":"18f2bb89-942e-4ffd-8b06-bac336416f6b","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-12T14:42:01.305Z","url":"https://70d5cd0b-a71b-4052-893f-0bd439926c8a.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.05ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=TriggerTestAlert&order_by=recorded_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=18f2bb89-942e-4ffd-8b06-bac336416f6b&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.842667ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"18f2bb89-942e-4ffd-8b06-bac336416f6b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.724625ms
[...]
