---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-18T13:04:52.668696Z","description":"","id":"6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e","name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-06-18T13:04:52.668696Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 606.913542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e
        method: GET
      response:
        body: '{"created_at":"2026-06-18T13:04:52.668696Z","description":"","id":"6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e","name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-06-18T13:04:52.668696Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.966916ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e","login":"testsyncuser","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"testsyncuser","password":"xxxxxxxx","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.13910475s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"testsyncuser","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.3885ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e
        method: GET
      response:
        body: '{"grafana_url":"https://6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.676666ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e","name":"test-metrics-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2026-06-18T13:05:34.113335Z","id":"fc44a171-6fe2-4633-a375-e6e6cbddce28","name":"test-metrics-source","origin":"custom","project_id":"6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-06-18T13:05:34.113335Z","url":"https://fc44a171-6fe2-4633-a375-e6e6cbddce28.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 645.719125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/fc44a171-6fe2-4633-a375-e6e6cbddce28
        method: GET
      response:
        body: '{"created_at":"2026-06-18T13:05:34.113335Z","current_month_usage":0,"id":"fc44a171-6fe2-4633-a375-e6e6cbddce28","name":"test-metrics-source","origin":"custom","project_id":"6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-06-18T13:05:34.113335Z","url":"https://fc44a171-6fe2-4633-a375-e6e6cbddce28.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.439ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/sync-data-sources
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 6.103216042s
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=SyncGrafanaDataSources&order_by=recorded_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.26575ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=6b3d3786-c7bd-47c8-b0e4-daabfa8f4e2e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 355.840875ms
[...]
