---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-04T10:35:05.165861Z","description":"","id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-04T10:35:05.165861Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 619.010667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f
        method: GET
      response:
        body: '{"created_at":"2025-12-04T10:35:05.165861Z","description":"","id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-04T10:35:05.165861Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.420917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ec441678-19ef-42f0-bd97-9d88deb6163e.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.381425583s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ec441678-19ef-42f0-bd97-9d88deb6163e.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.583824084s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ec441678-19ef-42f0-bd97-9d88deb6163e.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.505458ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.864834ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/trigger-test-alert
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 505.61525ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f","name":"test-metrics-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-12-04T10:35:14.345642Z","current_month_usage":0,"id":"34ecfc1f-7f09-44ed-8a81-b2e8b7362d51","name":"test-metrics-source","origin":"custom","project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-04T10:35:14.345642Z","url":"https://34ecfc1f-7f09-44ed-8a81-b2e8b7362d51.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.8173615s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/34ecfc1f-7f09-44ed-8a81-b2e8b7362d51
        method: GET
      response:
        body: '{"created_at":"2025-12-04T10:35:14.345642Z","current_month_usage":0,"id":"34ecfc1f-7f09-44ed-8a81-b2e8b7362d51","name":"test-metrics-source","origin":"custom","project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-04T10:35:14.345642Z","url":"https://34ecfc1f-7f09-44ed-8a81-b2e8b7362d51.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.747166ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=TriggerTestAlert&order_by=recorded_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.676792ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ec441678-19ef-42f0-bd97-9d88deb6163e.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 653.007208ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"49f9c8e5-2fd9-41d1-a8e5-80214eb1b84f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.149209ms
[...]
