---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-09-17T02:23:21.530872Z","description":"","id":"eff35d00-d986-407e-9a9f-d890b0eb4870","name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"srn":"","status":"active","updated_at":"2026-09-17T02:23:21.530872Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 283.91125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/eff35d00-d986-407e-9a9f-d890b0eb4870
        method: GET
      response:
        body: '{"created_at":"2026-09-17T02:23:21.530872Z","description":"","id":"eff35d00-d986-407e-9a9f-d890b0eb4870","name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2026-09-17T02:23:21.530872Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.489042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=eff35d00-d986-407e-9a9f-d890b0eb4870
        method: GET
      response:
        body: '{"grafana_url":"https://eff35d00-d986-407e-9a9f-d890b0eb4870.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.759333ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"eff35d00-d986-407e-9a9f-d890b0eb4870","name":"test-metrics-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2026-09-17T02:23:42.302584Z","id":"038905ee-4189-4241-939e-6abaaa57467b","name":"test-metrics-source","origin":"custom","project_id":"eff35d00-d986-407e-9a9f-d890b0eb4870","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-09-17T02:23:42.302584Z","url":"https://038905ee-4189-4241-939e-6abaaa57467b.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 693.081917ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/038905ee-4189-4241-939e-6abaaa57467b
        method: GET
      response:
        body: '{"created_at":"2026-09-17T02:23:42.302584Z","current_month_usage":0,"id":"038905ee-4189-4241-939e-6abaaa57467b","name":"test-metrics-source","origin":"custom","project_id":"eff35d00-d986-407e-9a9f-d890b0eb4870","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-09-17T02:23:42.302584Z","url":"https://038905ee-4189-4241-939e-6abaaa57467b.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.408584ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"eff35d00-d986-407e-9a9f-d890b0eb4870"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/sync-data-sources
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 8.896095959s
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=SyncGrafanaDataSources&order_by=recorded_at_desc&organization_id=46fd79d8-1a35-4548-bfb8-03df51a0ebae&project_id=eff35d00-d986-407e-9a9f-d890b0eb4870&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 110.382ms
[...]
