---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_activate_grafana","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-09-18T07:51:37.213756Z","description":"","id":"82d4b3f6-e7dd-4879-a6df-955dcfed8bb1","name":"tf_tests_cockpit_activate_grafana","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"srn":"","status":"active","updated_at":"2026-09-18T07:51:37.213756Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 591.268833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/82d4b3f6-e7dd-4879-a6df-955dcfed8bb1
        method: GET
      response:
        body: '{"created_at":"2026-09-18T07:51:37.213756Z","description":"","id":"82d4b3f6-e7dd-4879-a6df-955dcfed8bb1","name":"tf_tests_cockpit_activate_grafana","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2026-09-18T07:51:37.213756Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.734458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=82d4b3f6-e7dd-4879-a6df-955dcfed8bb1
        method: GET
      response:
        body: '{"grafana_url":"https://82d4b3f6-e7dd-4879-a6df-955dcfed8bb1.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 180.944541ms
    - id: 3
      request:
        host: 82d4b3f6-e7dd-4879-a6df-955dcfed8bb1.dashboard.cockpit.scaleway.com
        body: ""
        form: {}
        headers: {}
        url: https://82d4b3f6-e7dd-4879-a6df-955dcfed8bb1.dashboard.cockpit.scaleway.com/api/org
        method: GET
      response:
        body: '{"address":{"address1":"","address2":"","city":"","country":"","state":"","zipCode":""},"id":1,"name":"Main Org."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 15.574852167s
[...]
