---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-12T10:48:10.891260Z","description":"","id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-12T10:48:10.891260Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.277334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a2f2af25-9130-42c4-a8ea-a4343a2a882c
        method: GET
      response:
        body: '{"created_at":"2025-12-12T10:48:10.891260Z","description":"","id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-12T10:48:10.891260Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.363ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://907f13c4-aa69-4395-8bd6-94ac9e0c3dd9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.095084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=a2f2af25-9130-42c4-a8ea-a4343a2a882c
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://907f13c4-aa69-4395-8bd6-94ac9e0c3dd9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.165ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=a2f2af25-9130-42c4-a8ea-a4343a2a882c
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-rdb-mysql-overview/rdb-mysql-overview?\u0026var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"MySQL™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a CPU usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","family":"Managed Databases","product":"MySQL","rule_id":"76f01e05-79d1-4509-93f2-67eb84586070","summary":"High CPU usage on RDB MySQL™ {{ $labels.resource_name }} cluster."},"data_source_id":"","duration":"10m","name":"MySQLHighCPULoad","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","preconfigured_rule_id":"76f01e05-79d1-4509-93f2-67eb84586070","product_family":"Managed Databases","product_name":"MySQL"},"region":"fr-par","rule":"1 - avg by (instance, resource_name, resource_id, project_id, region) (irate(rdb_instance_mysql_node_cpu_seconds_total{mode=\"idle\"}[5m])) \u003e 0.8","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-rdb-mysql-overview/rdb-mysql-overview?\u0026var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"MySQL™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a connection usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"Too many connections","family":"Managed Databases","product":"MySQL","rule_id":[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=a2f2af25-9130-42c4-a8ea-a4343a2a882c
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.728625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c","name":"test-metrics-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-12-12T10:48:12.421882Z","id":"1b5e9820-c2e0-4bd3-9cbe-26611e574e3d","name":"test-metrics-source","origin":"custom","project_id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-12T10:48:12.421882Z","url":"https://1b5e9820-c2e0-4bd3-9cbe-26611e574e3d.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.564292ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/trigger-test-alert
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 393.342916ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/1b5e9820-c2e0-4bd3-9cbe-26611e574e3d
        method: GET
      response:
        body: '{"created_at":"2025-12-12T10:48:12.421882Z","current_month_usage":0,"id":"1b5e9820-c2e0-4bd3-9cbe-26611e574e3d","name":"test-metrics-source","origin":"custom","project_id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-12T10:48:12.421882Z","url":"https://1b5e9820-c2e0-4bd3-9cbe-26611e574e3d.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.259583ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=TriggerTestAlert&order_by=recorded_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=a2f2af25-9130-42c4-a8ea-a4343a2a882c&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.9995ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=a2f2af25-9130-42c4-a8ea-a4343a2a882c
        method: GET
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 3.155226458s
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"a2f2af25-9130-42c4-a8ea-a4343a2a882c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.208958ms
[...]
