---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-09-21T08:44:48.835506Z","description":"","id":"3443dc4a-ad5a-4236-84de-87a5094a1002","name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"srn":"","status":"active","updated_at":"2026-09-21T08:44:48.835506Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 346.452708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3443dc4a-ad5a-4236-84de-87a5094a1002
        method: GET
      response:
        body: '{"created_at":"2026-09-21T08:44:48.835506Z","description":"","id":"3443dc4a-ad5a-4236-84de-87a5094a1002","name":"tf_tests_cockpit_grafana_sync_data_sources","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2026-09-21T08:44:48.835506Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.468791ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=custom&page=1&project_id=3443dc4a-ad5a-4236-84de-87a5094a1002
        method: GET
      response:
        body: '{"data_sources":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.946ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=3443dc4a-ad5a-4236-84de-87a5094a1002
        method: GET
      response:
        body: '{"grafana_url":"https://3443dc4a-ad5a-4236-84de-87a5094a1002.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.261875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=3443dc4a-ad5a-4236-84de-87a5094a1002
        method: GET
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.132875ms
[...]
    - id: 7
      request:
        host: 3443dc4a-ad5a-4236-84de-87a5094a1002.dashboard.cockpit.scaleway.com
        body: ""
        form: {}
        headers: {}
        url: https://3443dc4a-ad5a-4236-84de-87a5094a1002.dashboard.cockpit.scaleway.com/api/org
        method: GET
      response:
        body: '{"address":{"address1":"","address2":"","city":"","country":"","state":"","zipCode":""},"id":1,"name":"Main Org."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.475539917s
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"project_id":"3443dc4a-ad5a-4236-84de-87a5094a1002","name":"test-metrics-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2026-09-21T08:45:13.408773Z","id":"bd51a272-6cc7-4000-8ace-d423715e4cec","name":"test-metrics-source","origin":"custom","project_id":"3443dc4a-ad5a-4236-84de-87a5094a1002","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-09-21T08:45:13.408773Z","url":"https://bd51a272-6cc7-4000-8ace-d423715e4cec.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 636.391708ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/bd51a272-6cc7-4000-8ace-d423715e4cec
        method: GET
      response:
        body: '{"created_at":"2026-09-21T08:45:13.408773Z","current_month_usage":0,"id":"bd51a272-6cc7-4000-8ace-d423715e4cec","name":"test-metrics-source","origin":"custom","project_id":"3443dc4a-ad5a-4236-84de-87a5094a1002","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-09-21T08:45:13.408773Z","url":"https://bd51a272-6cc7-4000-8ace-d423715e4cec.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.711167ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"project_id":"3443dc4a-ad5a-4236-84de-87a5094a1002"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/sync-data-sources
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 9.007347959s
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=SyncGrafanaDataSources&order_by=recorded_at_desc&organization_id=46fd79d8-1a35-4548-bfb8-03df51a0ebae&project_id=3443dc4a-ad5a-4236-84de-87a5094a1002&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 109.54975ms
[...]
