---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-05T09:31:19.599344Z","description":"","id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-05T09:31:19.599344Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 567.061042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d39dc79c-0882-4f2a-ac07-b436f74f3ec0
        method: GET
      response:
        body: '{"created_at":"2025-12-05T09:31:19.599344Z","description":"","id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0","name":"tf_tests_cockpit_trigger_test_alert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-05T09:31:19.599344Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.346708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7a84b20e-0d34-45bf-8956-61406583a3cd.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.521417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7a84b20e-0d34-45bf-8956-61406583a3cd.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.747412041s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=d39dc79c-0882-4f2a-ac07-b436f74f3ec0
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7a84b20e-0d34-45bf-8956-61406583a3cd.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.537875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=d39dc79c-0882-4f2a-ac07-b436f74f3ec0
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.14275ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/trigger-test-alert
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 257.615083ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0","name":"test-metrics-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-12-05T09:31:23.668391Z","current_month_usage":0,"id":"c9a4784f-b0bd-444e-880c-aa1c60f1896a","name":"test-metrics-source","origin":"custom","project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-05T09:31:23.668391Z","url":"https://c9a4784f-b0bd-444e-880c-aa1c60f1896a.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.24875ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/c9a4784f-b0bd-444e-880c-aa1c60f1896a
        method: GET
      response:
        body: '{"created_at":"2025-12-05T09:31:23.668391Z","current_month_usage":0,"id":"c9a4784f-b0bd-444e-880c-aa1c60f1896a","name":"test-metrics-source","origin":"custom","project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-05T09:31:23.668391Z","url":"https://c9a4784f-b0bd-444e-880c-aa1c60f1896a.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.98975ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=TriggerTestAlert&order_by=recorded_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=d39dc79c-0882-4f2a-ac07-b436f74f3ec0&resource_type=unknown_type
        method: GET
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.133416ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7a84b20e-0d34-45bf-8956-61406583a3cd.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.87775ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"d39dc79c-0882-4f2a-ac07-b436f74f3ec0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.674708ms
[...]
