---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T14:51:47.113910Z","description":"","id":"a147487d-a049-4153-b24c-f083291b9bfc","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T14:51:47.113910Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.623023ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a147487d-a049-4153-b24c-f083291b9bfc
        method: GET
      response:
        body: '{"created_at":"2024-08-01T14:51:47.113910Z","description":"","id":"a147487d-a049-4153-b24c-f083291b9bfc","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T14:51:47.113910Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.916ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a147487d-a049-4153-b24c-f083291b9bfc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://cbcc4513-c7dd-474f-b6ad-89eb218e5247.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.986204ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"a147487d-a049-4153-b24c-f083291b9bfc","name":"my-data-source-metrics","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-01T14:51:47.501113Z","id":"781a5760-4527-4793-9c07-dfe5e2412fd3","name":"my-data-source-metrics","origin":"external","project_id":"a147487d-a049-4153-b24c-f083291b9bfc","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-01T14:51:47.501113Z","url":"https://781a5760-4527-4793-9c07-dfe5e2412fd3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 545.936773ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/781a5760-4527-4793-9c07-dfe5e2412fd3
        method: GET
      response:
        body: '{"created_at":"2024-08-01T14:51:47.501113Z","id":"781a5760-4527-4793-9c07-dfe5e2412fd3","name":"my-data-source-metrics","origin":"external","project_id":"a147487d-a049-4153-b24c-f083291b9bfc","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-01T14:51:47.501113Z","url":"https://781a5760-4527-4793-9c07-dfe5e2412fd3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.55437ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"a147487d-a049-4153-b24c-f083291b9bfc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://cbcc4513-c7dd-474f-b6ad-89eb218e5247.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.459278ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=a147487d-a049-4153-b24c-f083291b9bfc
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://cbcc4513-c7dd-474f-b6ad-89eb218e5247.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.443224ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=a147487d-a049-4153-b24c-f083291b9bfc
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.452386ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"a147487d-a049-4153-b24c-f083291b9bfc","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"cockpit_test","password":"4btiVRPmFORWlBxj","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.050818265s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=a147487d-a049-4153-b24c-f083291b9bfc
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"cockpit_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.008169ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.374957ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"a147487d-a049-4153-b24c-f083291b9bfc","plan_name":"premium"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.157418ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=a147487d-a049-4153-b24c-f083291b9bfc
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.684419ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=a147487d-a049-4153-b24c-f083291b9bfc
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-08-01T14:51:47.479958Z","id":"cbcc4513-c7dd-474f-b6ad-89eb218e5247","name":"Scaleway Alerting","origin":"external","project_id":"a147487d-a049-4153-b24c-f083291b9bfc","region":"fr-par","synchronized_with_grafana":true,"type":"unknown_type","updated_at":"2024-08-01T14:51:47.479958Z","url":"https://cbcc4513-c7dd-474f-b6ad-89eb218e5247.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-01T14:51:47.501113Z","id":"781a5760-4527-4793-9c07-dfe5e2412fd3","name":"my-data-[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=a147487d-a049-4153-b24c-f083291b9bfc
        method: GET
      response:
        body: '{"grafana_url":"https://a147487d-a049-4153-b24c-f083291b9bfc.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.595865ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=a147487d-a049-4153-b24c-f083291b9bfc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 240.866429ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"project_id":"a147487d-a049-4153-b24c-f083291b9bfc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://cbcc4513-c7dd-474f-b6ad-89eb218e5247.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.37615ms
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"project_id":"a147487d-a049-4153-b24c-f083291b9bfc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.549804ms
[...]
