---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_region","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-07-02T11:26:48.019178Z","description":"","id":"1316f807-ad9a-4d4c-968c-5231a0de49c4","name":"tf_tests_cockpit_datasource_by_region","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-07-02T11:26:48.019178Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.890417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1316f807-ad9a-4d4c-968c-5231a0de49c4
        method: GET
      response:
        body: '{"created_at":"2025-07-02T11:26:48.019178Z","description":"","id":"1316f807-ad9a-4d4c-968c-5231a0de49c4","name":"tf_tests_cockpit_datasource_by_region","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-07-02T11:26:48.019178Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.126708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"1316f807-ad9a-4d4c-968c-5231a0de49c4","name":"source-by-region","type":"logs","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-07-02T11:26:48.633266Z","id":"863b9955-f3a1-4ac4-a156-df48ddcdd84d","name":"source-by-region","origin":"custom","project_id":"1316f807-ad9a-4d4c-968c-5231a0de49c4","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-07-02T11:26:48.633266Z","url":"https://863b9955-f3a1-4ac4-a156-df48ddcdd84d.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.590667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/863b9955-f3a1-4ac4-a156-df48ddcdd84d
        method: GET
      response:
        body: '{"created_at":"2025-07-02T11:26:48.633266Z","id":"863b9955-f3a1-4ac4-a156-df48ddcdd84d","name":"source-by-region","origin":"custom","project_id":"1316f807-ad9a-4d4c-968c-5231a0de49c4","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-07-02T11:26:48.633266Z","url":"https://863b9955-f3a1-4ac4-a156-df48ddcdd84d.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.245708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=1316f807-ad9a-4d4c-968c-5231a0de49c4
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-07-02T11:26:48.633266Z","id":"863b9955-f3a1-4ac4-a156-df48ddcdd84d","name":"source-by-region","origin":"custom","project_id":"1316f807-ad9a-4d4c-968c-5231a0de49c4","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-07-02T11:26:48.633266Z","url":"https://863b9955-f3a1-4ac4-a156-df48ddcdd84d.logs.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.3065ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/863b9955-f3a1-4ac4-a156-df48ddcdd84d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"863b9955-f3a1-4ac4-a156-df48ddcdd84d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.557167ms
[...]
