---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_datasource_by_id\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"8c0c487f-526c-4f02-a4ea-70083821cdb0\",\"name\":\"tf_tests_cockpit_datasource_by_id\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.668798Z\",\"updated_at\":\"2025-09-01T16:57:01.668798Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 529.470988ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/8c0c487f-526c-4f02-a4ea-70083821cdb0
    method: GET
  response:
    body: "{\"id\":\"8c0c487f-526c-4f02-a4ea-70083821cdb0\",\"name\":\"tf_tests_cockpit_datasource_by_id\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.668798Z\",\"updated_at\":\"2025-09-01T16:57:01.668798Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 284.342403ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"8c0c487f-526c-4f02-a4ea-70083821cdb0\",\"name\":\"source-by-id\",\"type\":\"metrics\",\"retention_days\":30}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"429fa505-f08e-4cb3-8d94-1d35bf2df03e\",\"project_id\":\"8c0c487f-526c-4f02-a4ea-70083821cdb0\",\"name\":\"source-by-id\",\"url\":\"https://429fa505-f08e-4cb3-8d94-1d35bf2df03e.metrics.cockpit.fr-par.scw.cloud\",\"type\":\"metrics\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.484680Z\",\"updated_at\":\"2025-09-01T16:57:02.484680Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 374.012832ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/429fa505-f08e-4cb3-8d94-1d35bf2df03e
    method: GET
  response:
    body: "{\"id\":\"429fa505-f08e-4cb3-8d94-1d35bf2df03e\",\"project_id\":\"8c0c487f-526c-4f02-a4ea-70083821cdb0\",\"name\":\"source-by-id\",\"url\":\"https://429fa505-f08e-4cb3-8d94-1d35bf2df03e.metrics.cockpit.fr-par.scw.cloud\",\"type\":\"metrics\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.484680Z\",\"updated_at\":\"2025-09-01T16:57:02.484680Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.495374ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/429fa505-f08e-4cb3-8d94-1d35bf2df03e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"data source\",\"resource_id\":\"429fa505-f08e-4cb3-8d94-1d35bf2df03e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 57.388471ms
[...]
