---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_project_idhandling","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-27T14:50:04.668817Z","description":"","id":"9e957016-dfbe-44ff-b32c-2bbd74433acf","name":"tf_tests_cockpit_alert_manager_project_idhandling","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-27T14:50:04.668817Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 656.810526ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9e957016-dfbe-44ff-b32c-2bbd74433acf
        method: GET
      response:
        body: '{"created_at":"2026-04-27T14:50:04.668817Z","description":"","id":"9e957016-dfbe-44ff-b32c-2bbd74433acf","name":"tf_tests_cockpit_alert_manager_project_idhandling","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-27T14:50:04.668817Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.19783ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"9e957016-dfbe-44ff-b32c-2bbd74433acf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://a8c439cf-ad5a-4158-8e91-b13825f33792.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.505511832s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"9e957016-dfbe-44ff-b32c-2bbd74433acf","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 427.490714ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=9e957016-dfbe-44ff-b32c-2bbd74433acf
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://a8c439cf-ad5a-4158-8e91-b13825f33792.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.822041ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=9e957016-dfbe-44ff-b32c-2bbd74433acf
        method: GET
      response:
        body: '{"alerts":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.268593ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=9e957016-dfbe-44ff-b32c-2bbd74433acf
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.108125ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"9e957016-dfbe-44ff-b32c-2bbd74433acf","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 250.294541ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"9e957016-dfbe-44ff-b32c-2bbd74433acf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.141138ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=9e957016-dfbe-44ff-b32c-2bbd74433acf
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 78.385192ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9e957016-dfbe-44ff-b32c-2bbd74433acf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"9e957016-dfbe-44ff-b32c-2bbd74433acf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.1836ms
