---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T09:40:17.343673Z","description":"","id":"3c6d669e-1994-46f3-b0e3-f8258ac0e1f8","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T09:40:17.343673Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 749.555125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3c6d669e-1994-46f3-b0e3-f8258ac0e1f8
        method: GET
      response:
        body: '{"created_at":"2024-12-11T09:40:17.343673Z","description":"","id":"3c6d669e-1994-46f3-b0e3-f8258ac0e1f8","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T09:40:17.343673Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.346ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"3c6d669e-1994-46f3-b0e3-f8258ac0e1f8","name":"my-source","type":"logs","retention_days":13}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T09:40:18.176757Z","id":"76b9153f-854b-43e6-a34a-d51f74801539","name":"my-source","origin":"custom","project_id":"3c6d669e-1994-46f3-b0e3-f8258ac0e1f8","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T09:40:18.176757Z","url":"https://76b9153f-854b-43e6-a34a-d51f74801539.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.157625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/76b9153f-854b-43e6-a34a-d51f74801539
        method: GET
      response:
        body: '{"created_at":"2024-12-11T09:40:18.176757Z","id":"76b9153f-854b-43e6-a34a-d51f74801539","name":"my-source","origin":"custom","project_id":"3c6d669e-1994-46f3-b0e3-f8258ac0e1f8","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T09:40:18.176757Z","url":"https://76b9153f-854b-43e6-a34a-d51f74801539.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.641458ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/76b9153f-854b-43e6-a34a-d51f74801539
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"76b9153f-854b-43e6-a34a-d51f74801539","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.413709ms
