---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:42.539345Z","description":"","id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c","name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.539345Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.562623ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9902d279-7c8e-40c2-bd5f-bc446ae7c90c
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:42.539345Z","description":"","id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c","name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.539345Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.672724ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://336d579a-bf81-47f9-8e4d-1cde041f426c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.164292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://336d579a-bf81-47f9-8e4d-1cde041f426c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.188661ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c","email":{"to":"initial@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"initial@example.com"},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 951.396027ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=9902d279-7c8e-40c2-bd5f-bc446ae7c90c
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://336d579a-bf81-47f9-8e4d-1cde041f426c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.426578ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=9902d279-7c8e-40c2-bd5f-bc446ae7c90c
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"initial@example.com"},"region":"fr-par"}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.402082ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c","email":{"to":"initial@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 289.027223ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"project_id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://336d579a-bf81-47f9-8e4d-1cde041f426c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.704868ms
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"project_id":"9902d279-7c8e-40c2-bd5f-bc446ae7c90c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.519216ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=9902d279-7c8e-40c2-bd5f-bc446ae7c90c
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 41.896569ms
