---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-02-20T08:46:58.148827Z","description":"","id":"41d5bd82-ba4f-4154-9c8d-43555695b6c8","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-02-20T08:46:58.148827Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 725.673958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/41d5bd82-ba4f-4154-9c8d-43555695b6c8
        method: GET
      response:
        body: '{"created_at":"2026-02-20T08:46:58.148827Z","description":"","id":"41d5bd82-ba4f-4154-9c8d-43555695b6c8","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-02-20T08:46:58.148827Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.286ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"41d5bd82-ba4f-4154-9c8d-43555695b6c8","name":"initial-name","type":"logs","retention_days":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2026-02-20T08:46:58.980831Z","id":"676d8236-b10a-4aa0-807c-7aa889737dd7","name":"initial-name","origin":"custom","project_id":"41d5bd82-ba4f-4154-9c8d-43555695b6c8","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2026-02-20T08:46:58.980831Z","url":"https://676d8236-b10a-4aa0-807c-7aa889737dd7.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.529125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/676d8236-b10a-4aa0-807c-7aa889737dd7
        method: GET
      response:
        body: '{"created_at":"2026-02-20T08:46:58.980831Z","current_month_usage":0,"id":"676d8236-b10a-4aa0-807c-7aa889737dd7","name":"initial-name","origin":"custom","project_id":"41d5bd82-ba4f-4154-9c8d-43555695b6c8","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2026-02-20T08:46:58.980831Z","url":"https://676d8236-b10a-4aa0-807c-7aa889737dd7.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.919875ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/047b5e86-4455-451e-bf23-c610b7ead0ed
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"047b5e86-4455-451e-bf23-c610b7ead0ed","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.951625ms
