---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T07:20:53.422013Z","description":"","id":"8e20ccd4-c413-4885-8727-dad84d48260f","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T07:20:53.422013Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 423.794126ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8e20ccd4-c413-4885-8727-dad84d48260f
        method: GET
      response:
        body: '{"created_at":"2024-08-13T07:20:53.422013Z","description":"","id":"8e20ccd4-c413-4885-8727-dad84d48260f","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T07:20:53.422013Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.316687ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"8e20ccd4-c413-4885-8727-dad84d48260f","name":"my-source","type":"logs"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-13T07:20:53.998953Z","id":"f24b60b0-725e-477c-ad87-90d95ee5caf7","name":"my-source","origin":"external","project_id":"8e20ccd4-c413-4885-8727-dad84d48260f","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-08-13T07:20:53.998953Z","url":"https://f24b60b0-725e-477c-ad87-90d95ee5caf7.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.02652ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/f24b60b0-725e-477c-ad87-90d95ee5caf7
        method: GET
      response:
        body: '{"created_at":"2024-08-13T07:20:53.998953Z","id":"f24b60b0-725e-477c-ad87-90d95ee5caf7","name":"my-source","origin":"external","project_id":"8e20ccd4-c413-4885-8727-dad84d48260f","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-08-13T07:20:53.998953Z","url":"https://f24b60b0-725e-477c-ad87-90d95ee5caf7.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.381567ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/f24b60b0-725e-477c-ad87-90d95ee5caf7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"f24b60b0-725e-477c-ad87-90d95ee5caf7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.647929ms
