---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T09:37:10.742649Z","description":"","id":"9b86f1a5-e77c-4a88-80ef-02d36c83225b","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-29T09:37:10.742649Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 535.560292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9b86f1a5-e77c-4a88-80ef-02d36c83225b
        method: GET
      response:
        body: '{"created_at":"2025-12-29T09:37:10.742649Z","description":"","id":"9b86f1a5-e77c-4a88-80ef-02d36c83225b","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T09:37:10.742649Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.065792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"9b86f1a5-e77c-4a88-80ef-02d36c83225b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://a731f905-3100-4052-b048-12818500cc93.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.86025ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"9b86f1a5-e77c-4a88-80ef-02d36c83225b","email":{"to":"notupdated@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"details":[{"action":"write","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 83.904167ms
[...]
