---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-12T13:27:27.688476Z","description":"","id":"a07aa6b3-24e0-4354-bb04-903b3890aaad","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T13:27:27.688476Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.590765ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a07aa6b3-24e0-4354-bb04-903b3890aaad
        method: GET
      response:
        body: '{"created_at":"2024-08-12T13:27:27.688476Z","description":"","id":"a07aa6b3-24e0-4354-bb04-903b3890aaad","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T13:27:27.688476Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.134998ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a07aa6b3-24e0-4354-bb04-903b3890aaad","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-12T13:27:28.392190Z","id":"8ae3a3d5-07b2-4abf-8937-7dfd0bbcac12","name":"my-source","origin":"external","project_id":"a07aa6b3-24e0-4354-bb04-903b3890aaad","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-12T13:27:28.392190Z","url":"https://8ae3a3d5-07b2-4abf-8937-7dfd0bbcac12.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.878595ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/8ae3a3d5-07b2-4abf-8937-7dfd0bbcac12
        method: GET
      response:
        body: '{"created_at":"2024-08-12T13:27:28.392190Z","id":"8ae3a3d5-07b2-4abf-8937-7dfd0bbcac12","name":"my-source","origin":"external","project_id":"a07aa6b3-24e0-4354-bb04-903b3890aaad","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-12T13:27:28.392190Z","url":"https://8ae3a3d5-07b2-4abf-8937-7dfd0bbcac12.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.802088ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/8ae3a3d5-07b2-4abf-8937-7dfd0bbcac12
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"8ae3a3d5-07b2-4abf-8937-7dfd0bbcac12","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.550731ms
