---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_datasource_by_name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"f80b7dab-8f63-4c08-ac19-82cda736468b\",\"name\":\"tf_tests_cockpit_datasource_by_name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.803468Z\",\"updated_at\":\"2025-09-01T16:57:01.803468Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.08621646s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/f80b7dab-8f63-4c08-ac19-82cda736468b
    method: GET
  response:
    body: "{\"id\":\"f80b7dab-8f63-4c08-ac19-82cda736468b\",\"name\":\"tf_tests_cockpit_datasource_by_name\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.803468Z\",\"updated_at\":\"2025-09-01T16:57:01.803468Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.154517ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"f80b7dab-8f63-4c08-ac19-82cda736468b\",\"name\":\"source-by-name\",\"type\":\"logs\",\"retention_days\":30}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"fb204991-d351-4433-97f7-2e53c029b950\",\"project_id\":\"f80b7dab-8f63-4c08-ac19-82cda736468b\",\"name\":\"source-by-name\",\"url\":\"https://fb204991-d351-4433-97f7-2e53c029b950.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:03.007301Z\",\"updated_at\":\"2025-09-01T16:57:03.007301Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 250.769396ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/fb204991-d351-4433-97f7-2e53c029b950
    method: GET
  response:
    body: "{\"id\":\"fb204991-d351-4433-97f7-2e53c029b950\",\"project_id\":\"f80b7dab-8f63-4c08-ac19-82cda736468b\",\"name\":\"source-by-name\",\"url\":\"https://fb204991-d351-4433-97f7-2e53c029b950.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:03.007301Z\",\"updated_at\":\"2025-09-01T16:57:03.007301Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.772975ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      origin:
      - unknown_origin
      page:
      - "1"
      project_id:
      - f80b7dab-8f63-4c08-ac19-82cda736468b
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=f80b7dab-8f63-4c08-ac19-82cda736468b
    method: GET
  response:
    body: "{\"total_count\":1,\"data_sources\":[{\"id\":\"fb204991-d351-4433-97f7-2e53c029b950\",\"project_id\":\"f80b7dab-8f63-4c08-ac19-82cda736468b\",\"name\":\"source-by-name\",\"url\":\"https://fb204991-d351-4433-97f7-2e53c029b950.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:03.007301Z\",\"updated_at\":\"2025-09-01T16:57:03.007301Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.519339ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/fb204991-d351-4433-97f7-2e53c029b950
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"data source\",\"resource_id\":\"fb204991-d351-4433-97f7-2e53c029b950\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 63.919629ms
[...]
