---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-20T13:03:09.381796Z","description":"","id":"cc420be3-b7f6-4a27-8725-74f89bcbe14e","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T13:03:09.381796Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.153418042s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cc420be3-b7f6-4a27-8725-74f89bcbe14e
        method: GET
      response:
        body: '{"created_at":"2024-12-20T13:03:09.381796Z","description":"","id":"cc420be3-b7f6-4a27-8725-74f89bcbe14e","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T13:03:09.381796Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.846459ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cc420be3-b7f6-4a27-8725-74f89bcbe14e","name":"source-by-id","type":"metrics","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-20T13:03:10.609040Z","id":"38051151-1afc-4383-8785-1a881e3b1ca4","name":"source-by-id","origin":"custom","project_id":"cc420be3-b7f6-4a27-8725-74f89bcbe14e","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-20T13:03:10.609040Z","url":"https://38051151-1afc-4383-8785-1a881e3b1ca4.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.868291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/38051151-1afc-4383-8785-1a881e3b1ca4
        method: GET
      response:
        body: '{"created_at":"2024-12-20T13:03:10.609040Z","id":"38051151-1afc-4383-8785-1a881e3b1ca4","name":"source-by-id","origin":"custom","project_id":"cc420be3-b7f6-4a27-8725-74f89bcbe14e","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-20T13:03:10.609040Z","url":"https://38051151-1afc-4383-8785-1a881e3b1ca4.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.0945ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/38051151-1afc-4383-8785-1a881e3b1ca4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"38051151-1afc-4383-8785-1a881e3b1ca4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.18975ms
[...]
