---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-06-14T09:48:50.803769Z","description":"","id":"fb7364d7-14a9-4058-ba8a-bf23570d691c","name":"tf_tests_cockpit_project_premium","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-14T09:48:50.803769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.964562ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fb7364d7-14a9-4058-ba8a-bf23570d691c
        method: GET
      response:
        body: '{"created_at":"2024-06-14T09:48:50.803769Z","description":"","id":"fb7364d7-14a9-4058-ba8a-bf23570d691c","name":"tf_tests_cockpit_project_premium","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-14T09:48:50.803769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.73527ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://150a1036-fc72-469a-a49b-ad696ce6f046.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.481906ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-06-14T09:48:51.501963Z","id":"d228539c-406d-412f-97b0-e0469986bd6a","name":"my-data-source-traces","origin":"external","project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-06-14T09:48:51.501963Z","url":"https://d228539c-406d-412f-97b0-e0469986bd6a.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.286737ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/d228539c-406d-412f-97b0-e0469986bd6a
        method: GET
      response:
        body: '{"created_at":"2024-06-14T09:48:51.501963Z","id":"d228539c-406d-412f-97b0-e0469986bd6a","name":"my-data-source-traces","origin":"external","project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-06-14T09:48:51.501963Z","url":"https://d228539c-406d-412f-97b0-e0469986bd6a.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.221706ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://150a1036-fc72-469a-a49b-ad696ce6f046.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.757247ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=fb7364d7-14a9-4058-ba8a-bf23570d691c
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://150a1036-fc72-469a-a49b-ad696ce6f046.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.520986ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=fb7364d7-14a9-4058-ba8a-bf23570d691c
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.038501ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c","login":"my-awesome-user","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"upstream request timeout"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 30.085618561s
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c","login":"my-awesome-user","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"my-awesome-user","password":"QetXzR_QmqNY703y","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 9.05851603s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=fb7364d7-14a9-4058-ba8a-bf23570d691c
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"my-awesome-user","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.797819ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=fb7364d7-14a9-4058-ba8a-bf23570d691c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 223.555287ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://150a1036-fc72-469a-a49b-ad696ce6f046.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.150209ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb7364d7-14a9-4058-ba8a-bf23570d691c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.23675ms
[...]
