---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_preconfigured","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T09:32:30.609691Z","description":"","id":"5184789d-a3f5-41a2-b119-1752eb447d28","name":"tf_tests_cockpit_alert_manager_preconfigured","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"updated_at":"2025-12-29T09:32:30.609691Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 426.142791ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5184789d-a3f5-41a2-b119-1752eb447d28
        method: GET
      response:
        body: '{"created_at":"2025-12-29T09:32:30.609691Z","description":"","id":"5184789d-a3f5-41a2-b119-1752eb447d28","name":"tf_tests_cockpit_alert_manager_preconfigured","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T09:32:30.609691Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.758834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"5184789d-a3f5-41a2-b119-1752eb447d28"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://e73e805b-4219-479d-bc33-ecde2ed42f62.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.366125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"5184789d-a3f5-41a2-b119-1752eb447d28","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable-alert-rules
        method: POST
      response:
        body: '{"details":[{"action":"write","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 36.076417ms
[...]
