---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-20T15:44:14.932504Z","description":"","id":"71c99248-68f5-44f7-a660-4f0a6549fbec","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T15:44:14.932504Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 778.572542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/71c99248-68f5-44f7-a660-4f0a6549fbec
        method: GET
      response:
        body: '{"created_at":"2024-12-20T15:44:14.932504Z","description":"","id":"71c99248-68f5-44f7-a660-4f0a6549fbec","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T15:44:14.932504Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.695375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"71c99248-68f5-44f7-a660-4f0a6549fbec","name":"source-by-id","type":"metrics","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-20T15:44:15.584406Z","id":"1a1b2eaf-2481-437c-a099-9dc959f2e157","name":"source-by-id","origin":"custom","project_id":"71c99248-68f5-44f7-a660-4f0a6549fbec","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-20T15:44:15.584406Z","url":"https://1a1b2eaf-2481-437c-a099-9dc959f2e157.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.657875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/1a1b2eaf-2481-437c-a099-9dc959f2e157
        method: GET
      response:
        body: '{"created_at":"2024-12-20T15:44:15.584406Z","id":"1a1b2eaf-2481-437c-a099-9dc959f2e157","name":"source-by-id","origin":"custom","project_id":"71c99248-68f5-44f7-a660-4f0a6549fbec","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-20T15:44:15.584406Z","url":"https://1a1b2eaf-2481-437c-a099-9dc959f2e157.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.825ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/1a1b2eaf-2481-437c-a099-9dc959f2e157
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"1a1b2eaf-2481-437c-a099-9dc959f2e157","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.53975ms
[...]
