---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:35.346174Z","description":"","id":"c01110ce-3abd-4150-98d1-6f4269262e3f","name":"tf_test_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:35.346174Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.601357ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c01110ce-3abd-4150-98d1-6f4269262e3f
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:35.346174Z","description":"","id":"c01110ce-3abd-4150-98d1-6f4269262e3f","name":"tf_test_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:35.346174Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.696687ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c01110ce-3abd-4150-98d1-6f4269262e3f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://472dd885-4df3-4ecc-94cf-58cc0a011c4c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.904717ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"c01110ce-3abd-4150-98d1-6f4269262e3f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://472dd885-4df3-4ecc-94cf-58cc0a011c4c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.810114ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"c01110ce-3abd-4150-98d1-6f4269262e3f","email":{"to":"notupdated@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"notupdated@example.com"},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.029436ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=c01110ce-3abd-4150-98d1-6f4269262e3f
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://472dd885-4df3-4ecc-94cf-58cc0a011c4c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.899347ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=c01110ce-3abd-4150-98d1-6f4269262e3f
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"notupdated@example.com"},"region":"fr-par"},{"email":{"to":"initial1@example.com"},"region":"fr-par"}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.617016ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"c01110ce-3abd-4150-98d1-6f4269262e3f","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 366.209301ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"c01110ce-3abd-4150-98d1-6f4269262e3f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://472dd885-4df3-4ecc-94cf-58cc0a011c4c.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.865282ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"c01110ce-3abd-4150-98d1-6f4269262e3f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.713205ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=c01110ce-3abd-4150-98d1-6f4269262e3f
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 61.758199ms
