---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.407282875s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.780083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&types=metrics
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2023-05-17T09:46:07.242137Z","current_month_usage":25163209,"id":"af496812-8fa1-4c66-be81-04c04733333a","name":"Scaleway Metrics","origin":"scaleway","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":true,"type":"metrics","updated_at":"2023-05-17T09:46:07.242137Z","url":"https://af496812-8fa1-4c66-be81-04c04733333a.metrics.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.795375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"otlp-ds-by-id-target","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2026-03-13T05:39:53.034858Z","id":"7156d780-b376-4a1e-acd7-e348668379c1","name":"otlp-ds-by-id-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-03-13T05:39:53.034858Z","url":"https://7156d780-b376-4a1e-acd7-e348668379c1.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.9555ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7156d780-b376-4a1e-acd7-e348668379c1
        method: GET
      response:
        body: '{"created_at":"2026-03-13T05:39:53.034858Z","current_month_usage":0,"id":"7156d780-b376-4a1e-acd7-e348668379c1","name":"otlp-ds-by-id-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-03-13T05:39:53.034858Z","url":"https://7156d780-b376-4a1e-acd7-e348668379c1.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.858125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","otlp_destination":{"endpoint":"https://7156d780-b376-4a1e-acd7-e348668379c1.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"exported_products":["all"],"name":"ds-exporter-by-id"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters
        method: POST
      response:
        body: '{"created_at":"2026-03-13T05:39:53.518044Z","datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","description":"","exported_products":["all"],"id":"3362b693-2623-41f6-acb8-2cbb1cbfe3db","name":"ds-exporter-by-id","otlp_destination":{"endpoint":"https://7156d780-b376-4a1e-acd7-e348668379c1.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"status":"creating","updated_at":"2026-03-13T05:39:53.518044Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 415.70125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/3362b693-2623-41f6-acb8-2cbb1cbfe3db
        method: GET
      response:
        body: '{"created_at":"2026-03-13T05:39:53.518044Z","datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","description":"","exported_products":["all"],"id":"3362b693-2623-41f6-acb8-2cbb1cbfe3db","name":"ds-exporter-by-id","otlp_destination":{"endpoint":"https://7156d780-b376-4a1e-acd7-e348668379c1.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"status":"unknown_status","updated_at":"2026-03-13T05:39:53.518044Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.871375ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/3362b693-2623-41f6-acb8-2cbb1cbfe3db
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"exporter","resource_id":"3362b693-2623-41f6-acb8-2cbb1cbfe3db","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.441208ms
[...]
