---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3\",\"name\":\"tf_tests_cockpit_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.736953Z\",\"updated_at\":\"2025-09-01T16:57:01.736953Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 838.717767ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3
    method: GET
  response:
    body: "{\"id\":\"3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3\",\"name\":\"tf_tests_cockpit_project_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.736953Z\",\"updated_at\":\"2025-09-01T16:57:01.736953Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 224.304925ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      origin:
      - external
      page:
      - "1"
      project_id:
      - 3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3
    method: GET
  response:
    body: "{\"total_count\":0,\"data_sources\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 139.082595ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana?project_id=3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3
    method: GET
  response:
    body: "{\"grafana_url\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.053202ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=3a59ce7c-1d16-47a7-943a-bb3f2ca72cd3
    method: GET
  response:
    body: "{\"alert_manager_url\":null,\"alert_manager_enabled\":false,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.102624ms
[...]
