---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\",\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:11.748948Z\",\"updated_at\":\"2025-09-01T16:57:11.748948Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 421.161457ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/09bf3634-87a1-446a-8c35-1184aa38a369
    method: GET
  response:
    body: "{\"id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\",\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:11.748948Z\",\"updated_at\":\"2025-09-01T16:57:11.748948Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 283.59649ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://39df5cec-ea2b-4d19-ba63-18bcafd7342e.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 263.982818ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://39df5cec-ea2b-4d19-ba63-18bcafd7342e.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.410396414s
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\",\"email\":{\"to\":\"notupdated@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
    method: POST
  response:
    body: "{\"email\":{\"to\":\"notupdated@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 223.407449ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 09bf3634-87a1-446a-8c35-1184aa38a369
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=09bf3634-87a1-446a-8c35-1184aa38a369
    method: GET
  response:
    body: "{\"alert_manager_url\":\"https://39df5cec-ea2b-4d19-ba63-18bcafd7342e.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.962639ms
- id: 7
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 09bf3634-87a1-446a-8c35-1184aa38a369
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=09bf3634-87a1-446a-8c35-1184aa38a369
    method: GET
  response:
    body: "{\"total_count\":2,\"contact_points\":[{\"email\":{\"to\":\"notupdated@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"},{\"email\":{\"to\":\"initial1@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}],\"has_additional_receivers\":false,\"has_additional_contact_points\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.32319ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\",\"email\":{\"to\":\"initial1@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 220.058824ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://39df5cec-ea2b-4d19-ba63-18bcafd7342e.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 299.328585ms
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"09bf3634-87a1-446a-8c35-1184aa38a369\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":null,\"alert_manager_enabled\":false,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 211.356758ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 09bf3634-87a1-446a-8c35-1184aa38a369
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=09bf3634-87a1-446a-8c35-1184aa38a369
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"cockpit\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 327.52382ms
