---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:03:49.447785Z","description":"","id":"7d0584bc-b5e6-4aec-8aec-bc35a2d97739","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:03:49.447785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 644.045584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7d0584bc-b5e6-4aec-8aec-bc35a2d97739
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:03:49.447785Z","description":"","id":"7d0584bc-b5e6-4aec-8aec-bc35a2d97739","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:03:49.447785Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.87075ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d0584bc-b5e6-4aec-8aec-bc35a2d97739","name":"initial-name","type":"logs","retention_days":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:03:50.337604Z","id":"e9fbe310-e693-4446-a323-d95d868bbb5d","name":"initial-name","origin":"custom","project_id":"7d0584bc-b5e6-4aec-8aec-bc35a2d97739","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:03:50.337604Z","url":"https://e9fbe310-e693-4446-a323-d95d868bbb5d.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.563083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/e9fbe310-e693-4446-a323-d95d868bbb5d
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:03:50.337604Z","id":"e9fbe310-e693-4446-a323-d95d868bbb5d","name":"initial-name","origin":"custom","project_id":"7d0584bc-b5e6-4aec-8aec-bc35a2d97739","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:03:50.337604Z","url":"https://e9fbe310-e693-4446-a323-d95d868bbb5d.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.296417ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/4395c399-987e-4b7c-a40a-48644692b863
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"4395c399-987e-4b7c-a40a-48644692b863","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.456666ms
