---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:36.980214Z","description":"","id":"13533699-1e63-4034-a885-2f02cda9107e","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:36.980214Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.837593ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/13533699-1e63-4034-a885-2f02cda9107e
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:36.980214Z","description":"","id":"13533699-1e63-4034-a885-2f02cda9107e","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:36.980214Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.606188ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"13533699-1e63-4034-a885-2f02cda9107e","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:37.413294Z","id":"c796b392-5641-4695-962e-c2700e868d55","name":"my-source","origin":"external","project_id":"13533699-1e63-4034-a885-2f02cda9107e","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-12T08:34:37.413294Z","url":"https://c796b392-5641-4695-962e-c2700e868d55.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.55071ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/c796b392-5641-4695-962e-c2700e868d55
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:37.413294Z","id":"c796b392-5641-4695-962e-c2700e868d55","name":"my-source","origin":"external","project_id":"13533699-1e63-4034-a885-2f02cda9107e","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-12T08:34:37.413294Z","url":"https://c796b392-5641-4695-962e-c2700e868d55.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.069604ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/c796b392-5641-4695-962e-c2700e868d55
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"c796b392-5641-4695-962e-c2700e868d55","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.41542ms
