---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_project_update_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-27T14:47:22.351886Z","description":"","id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80","name":"tf_tests_cockpit_alert_manager_project_update_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-27T14:47:22.351886Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 654.478756ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d5c2b480-7946-4f73-a6b4-5c1599d1ff80
        method: GET
      response:
        body: '{"created_at":"2026-04-27T14:47:22.351886Z","description":"","id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80","name":"tf_tests_cockpit_alert_manager_project_update_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-27T14:47:22.351886Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.557152ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3e45d08f-2311-4fc6-8528-a6d591d95915.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 293.766822ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80","rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable-alert-rules
        method: POST
      response:
        body: '{"enabled_rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 711.134383ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=d5c2b480-7946-4f73-a6b4-5c1599d1ff80
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"https://{{ $labels.project_id }}.dashboard.cockpit.scaleway.com/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has a memory usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High memory usage","family":"Load Balancer","product":"LB","rule_id":"89d456d0-8614-40a2-b0a6-682ea25e98b6","summary":"High memory usage on Load Balancer {{ $labels.resource_name }}"},"data_source_id":"","duration":"10m","name":"LBHighMemoryLoad","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 80 % for 10 minutes","display_name":"High memory usage","preconfigured_rule_id":"89d456d0-8614-40a2-b0a6-682ea25e98b6","product_family":"Load Balancer","product_name":"LB"},"region":"fr-par","rule":"load_balancer_lb_memory_usage \u003e 0.8","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-rdb-postgresql-overview/rdb-postgresql-overview?\u0026var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"PostgreSQL™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a connection usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"Too many connections","family":"Managed Databases","product":"Po[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 576.179186ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=d5c2b480-7946-4f73-a6b4-5c1599d1ff80
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3e45d08f-2311-4fc6-8528-a6d591d95915.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.49094ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=d5c2b480-7946-4f73-a6b4-5c1599d1ff80
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.632778ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable-alert-rules
        method: POST
      response:
        body: '{"disabled_rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7","eb8a941e-698d-47d6-b62d-4b6c13f7b4b7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.341611ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 163.071351ms
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.97038ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d5c2b480-7946-4f73-a6b4-5c1599d1ff80
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"d5c2b480-7946-4f73-a6b4-5c1599d1ff80","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.488944ms
