---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_project_create_contacts","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-27T15:23:45.432300Z","description":"","id":"0ea9189a-7dc9-4e1b-bb9f-65271e382dc5","name":"tf_tests_cockpit_alert_manager_project_create_contacts","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-27T15:23:45.432300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 649.592412ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0ea9189a-7dc9-4e1b-bb9f-65271e382dc5
        method: GET
      response:
        body: '{"created_at":"2026-04-27T15:23:45.432300Z","description":"","id":"0ea9189a-7dc9-4e1b-bb9f-65271e382dc5","name":"tf_tests_cockpit_alert_manager_project_create_contacts","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-27T15:23:45.432300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.090721ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"0ea9189a-7dc9-4e1b-bb9f-65271e382dc5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://bbb0b6ca-c1fd-487a-a973-1a51ef1a32e2.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.641478ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"0ea9189a-7dc9-4e1b-bb9f-65271e382dc5","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"initial1@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.863295ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=0ea9189a-7dc9-4e1b-bb9f-65271e382dc5
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://bbb0b6ca-c1fd-487a-a973-1a51ef1a32e2.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.611332ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=0ea9189a-7dc9-4e1b-bb9f-65271e382dc5
        method: GET
      response:
        body: '{"alerts":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.958413ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=0ea9189a-7dc9-4e1b-bb9f-65271e382dc5
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"initial1@example.com"},"region":"fr-par","send_resolved_notifications":true},{"email":{"to":"initial2@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.494817ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"0ea9189a-7dc9-4e1b-bb9f-65271e382dc5","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 253.818074ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"project_id":"0ea9189a-7dc9-4e1b-bb9f-65271e382dc5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.727101ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0ea9189a-7dc9-4e1b-bb9f-65271e382dc5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"0ea9189a-7dc9-4e1b-bb9f-65271e382dc5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.578933ms
