interactions:
    - id: 0
      request:
        body: ""
        form: {}
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        code: 200
        duration: 1.358622875s
        headers:
            Content-Type:
                - application/json
        status: 200 OK
    - id: 1
      request:
        body: ""
        form: {}
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}'
        code: 200
        duration: 247.574125ms
        headers:
            Content-Type:
                - application/json
        status: 200 OK
    - id: 2
      request:
        body: ""
        form: {}
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&types=metrics
      response:
        body: '{"data_sources":[{"created_at":"2023-05-17T09:46:07.242137Z","current_month_usage":6183614,"id":"af496812-8fa1-4c66-be81-04c04733333a","name":"Scaleway Metrics","origin":"scaleway","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":true,"type":"metrics","updated_at":"2023-05-17T09:46:07.242137Z","url":"https://af496812-8fa1-4c66-be81-04c04733333a.metrics.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        code: 200
        duration: 249.417666ms
        headers:
            Content-Type:
                - application/json
        status: 200 OK
    - id: 3
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"otlp-exporter-update-target","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
      response:
        body: '{"created_at":"2026-03-04T05:59:24.075129Z","id":"ef96500c-7dc3-429c-af56-c3a45dfa41a1","name":"otlp-exporter-update-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-03-04T05:59:24.075129Z","url":"https://ef96500c-7dc3-429c-af56-c3a45dfa41a1.metrics.cockpit.fr-par.scw.cloud"}'
        code: 200
        duration: 476.351541ms
        headers:
            Content-Type:
                - application/json
        status: 200 OK
    - id: 4
      request:
        body: ""
        form: {}
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ef96500c-7dc3-429c-af56-c3a45dfa41a1
      response:
        body: '{"created_at":"2026-03-04T05:59:24.075129Z","current_month_usage":0,"id":"ef96500c-7dc3-429c-af56-c3a45dfa41a1","name":"otlp-exporter-update-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-03-04T05:59:24.075129Z","url":"https://ef96500c-7dc3-429c-af56-c3a45dfa41a1.metrics.cockpit.fr-par.scw.cloud"}'
        code: 200
        duration: 194.118042ms
        headers:
            Content-Type:
                - application/json
        status: 200 OK
    - id: 5
      request:
        body: '{"datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","otlp_destination":{"endpoint":"https://ef96500c-7dc3-429c-af56-c3a45dfa41a1.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"exported_products":["all"],"name":"initial-name"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters
      response:
        body: '{"created_at":"2026-03-04T05:59:24.648625Z","datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","description":"","exported_products":["all"],"id":"0aaa1dcb-9d57-49de-ac3b-e755b694eb6d","name":"initial-name","otlp_destination":{"endpoint":"https://ef96500c-7dc3-429c-af56-c3a45dfa41a1.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"status":"creating","updated_at":"2026-03-04T05:59:24.648625Z"}'
        code: 200
        duration: 319.000583ms
        headers:
            Content-Type:
                - application/json
        status: 200 OK
    - id: 6
      request:
        body: ""
        form: {}
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/0aaa1dcb-9d57-49de-ac3b-e755b694eb6d
      response:
        body: '{"created_at":"2026-03-04T05:59:24.648625Z","datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","description":"","exported_products":["all"],"id":"0aaa1dcb-9d57-49de-ac3b-e755b694eb6d","name":"initial-name","otlp_destination":{"endpoint":"https://ef96500c-7dc3-429c-af56-c3a45dfa41a1.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"status":"unknown_status","updated_at":"2026-03-04T05:59:24.648625Z"}'
        code: 200
        duration: 188.044417ms
        headers:
            Content-Type:
                - application/json
        status: 200 OK
[...]
    - id: 67
      request:
        body: ""
        form: {}
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/0aaa1dcb-9d57-49de-ac3b-e755b694eb6d
      response:
        body: '{"message":"resource is not found","resource":"exporter","resource_id":"0aaa1dcb-9d57-49de-ac3b-e755b694eb6d","type":"not_found"}'
        code: 404
        duration: 31.42025ms
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
version: 2
