---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_update_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T14:40:01.588335Z","description":"","id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8","name":"tf_tests_cockpit_alert_manager_update_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-29T14:40:01.588335Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 532.415583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b9fd5cc2-e989-436e-bcc6-66a9047797d8
        method: GET
      response:
        body: '{"created_at":"2025-12-29T14:40:01.588335Z","description":"","id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8","name":"tf_tests_cockpit_alert_manager_update_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T14:40:01.588335Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.847584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://0556066a-d04a-45da-9c2c-130f81bf0176.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.669733375s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8","rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable-alert-rules
        method: POST
      response:
        body: '{"enabled_rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.146793708s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=b9fd5cc2-e989-436e-bcc6-66a9047797d8
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Backend {{ $labels.backend_name }} is down on Load Balancer {{ $labels.resource_name }}","display_description":"All servers for a given Backend are down","display_name":"Backend down","family":"Load Balancer","product":"LB","rule_id":"d1b1b4a0-7215-494b-9d81-796e52c7ed0e","summary":"Backend is down on Load Balancer {{ $labels.resource_name }}"},"data_source_id":"","duration":"5m","name":"LBBackendDown","preconfigured":true,"preconfigured_data":{"display_description":"All servers for a given Backend are down","display_name":"Backend down","preconfigured_rule_id":"d1b1b4a0-7215-494b-9d81-796e52c7ed0e","product_family":"Load Balancer","product_name":"LB"},"region":"fr-par","rule":"load_balancer_lb_backend_status{state=\"DOWN\", backend_name!=\"\"} \u003e 0","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-cockpit-overview/cockpit-overview?var-region={{ $labels.region }}","description":"Cockpit Data Source {{ $labels.resource_name }} - {{ $labels.resource_id }} had a 100% ingestion increase in the last hour","display_description":"100% increase in metrics ingestion volumes in the past hour","display_name":"Metrics ingestion increase","family":"Observability","product":"Cockpit","rule_id":"669f781a-adab-4e3c-984e-fb149f8b67a3","summary":"Cus[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 534.666334ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=b9fd5cc2-e989-436e-bcc6-66a9047797d8
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://0556066a-d04a-45da-9c2c-130f81bf0176.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.33ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=b9fd5cc2-e989-436e-bcc6-66a9047797d8
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.822208ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"project_id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable-alert-rules
        method: POST
      response:
        body: '{"disabled_rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7","eb8a941e-698d-47d6-b62d-4b6c13f7b4b7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.757959ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"project_id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.105382375s
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"project_id":"b9fd5cc2-e989-436e-bcc6-66a9047797d8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.71675ms
[...]
