---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.264594042s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.201667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&types=metrics
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2023-05-17T09:46:07.242137Z","current_month_usage":27141254,"id":"af496812-8fa1-4c66-be81-04c04733333a","name":"Scaleway Metrics","origin":"scaleway","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":true,"type":"metrics","updated_at":"2023-05-17T09:46:07.242137Z","url":"https://af496812-8fa1-4c66-be81-04c04733333a.metrics.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.288375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"otlp-exporter-target","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2026-02-26T08:54:01.299647Z","id":"327e6f6c-1497-4ccb-9fd7-9c1c62cb22a3","name":"otlp-exporter-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-02-26T08:54:01.299647Z","url":"https://327e6f6c-1497-4ccb-9fd7-9c1c62cb22a3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.851625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/327e6f6c-1497-4ccb-9fd7-9c1c62cb22a3
        method: GET
      response:
        body: '{"created_at":"2026-02-26T08:54:01.299647Z","current_month_usage":0,"id":"327e6f6c-1497-4ccb-9fd7-9c1c62cb22a3","name":"otlp-exporter-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-02-26T08:54:01.299647Z","url":"https://327e6f6c-1497-4ccb-9fd7-9c1c62cb22a3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.310334ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","otlp_destination":{"endpoint":"https://327e6f6c-1497-4ccb-9fd7-9c1c62cb22a3.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"exported_products":["all"],"name":"my-exporter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters
        method: POST
      response:
        body: '{"created_at":"2026-02-26T08:54:01.816002Z","datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","description":"","exported_products":["all"],"id":"749cb3fb-6462-4636-8627-35e2c1453239","name":"my-exporter","otlp_destination":{"endpoint":"https://327e6f6c-1497-4ccb-9fd7-9c1c62cb22a3.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"status":"creating","updated_at":"2026-02-26T08:54:01.816002Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.240666ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/749cb3fb-6462-4636-8627-35e2c1453239
        method: GET
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 200.365ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/749cb3fb-6462-4636-8627-35e2c1453239
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"exporter","resource_id":"749cb3fb-6462-4636-8627-35e2c1453239","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.694083ms
