---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:02.146394Z","description":"","id":"f34318dd-14e1-41a6-9025-1732bd326e0f","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.146394Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.121009733s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f34318dd-14e1-41a6-9025-1732bd326e0f
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:02.146394Z","description":"","id":"f34318dd-14e1-41a6-9025-1732bd326e0f","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.146394Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.275954ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://f7f4d32e-8243-404e-965c-5b6b43cae772.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.097268ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:03.608412Z","id":"199d631b-4037-43c3-b991-23195841850d","name":"my-data-source-traces","origin":"external","project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-01T13:53:03.608412Z","url":"https://199d631b-4037-43c3-b991-23195841850d.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.028011ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/199d631b-4037-43c3-b991-23195841850d
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:03.608412Z","id":"199d631b-4037-43c3-b991-23195841850d","name":"my-data-source-traces","origin":"external","project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-01T13:53:03.608412Z","url":"https://199d631b-4037-43c3-b991-23195841850d.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.057062ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://f7f4d32e-8243-404e-965c-5b6b43cae772.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 539.273205ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=f34318dd-14e1-41a6-9025-1732bd326e0f
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://f7f4d32e-8243-404e-965c-5b6b43cae772.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.880583ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=f34318dd-14e1-41a6-9025-1732bd326e0f
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.136701ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 35.644454392s
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"cockpit_test","password":"k-UBBiBf8xtepQbu","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.391790528s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=f34318dd-14e1-41a6-9025-1732bd326e0f
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"cockpit_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.45924ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.611725ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f","plan_name":"premium"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.556332ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=f34318dd-14e1-41a6-9025-1732bd326e0f
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.839977ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=f34318dd-14e1-41a6-9025-1732bd326e0f
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-08-01T13:53:03.426686Z","id":"f7f4d32e-8243-404e-965c-5b6b43cae772","name":"Scaleway Alerting","origin":"external","project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f","region":"fr-par","synchronized_with_grafana":false,"type":"unknown_type","updated_at":"2024-08-01T13:53:03.426686Z","url":"https://f7f4d32e-8243-404e-965c-5b6b43cae772.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-01T13:53:03.608412Z","id":"199d631b-4037-43c3-b991-23195841850d","name":"my-data[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=f34318dd-14e1-41a6-9025-1732bd326e0f
        method: GET
      response:
        body: '{"grafana_url":"https://f34318dd-14e1-41a6-9025-1732bd326e0f.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.484554ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://f7f4d32e-8243-404e-965c-5b6b43cae772.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.552808ms
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"project_id":"f34318dd-14e1-41a6-9025-1732bd326e0f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 639.056781ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=f34318dd-14e1-41a6-9025-1732bd326e0f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.147264464s
[...]
