---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_sources_all","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-04T04:39:44.099459Z","description":"","id":"37a7272e-9c71-4a45-a9d6-45c6eb9b28ef","name":"tf_tests_cockpit_sources_all","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-04T04:39:44.099459Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 752.691625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/37a7272e-9c71-4a45-a9d6-45c6eb9b28ef
        method: GET
      response:
        body: '{"created_at":"2025-09-04T04:39:44.099459Z","description":"","id":"37a7272e-9c71-4a45-a9d6-45c6eb9b28ef","name":"tf_tests_cockpit_sources_all","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-04T04:39:44.099459Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.3485ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"37a7272e-9c71-4a45-a9d6-45c6eb9b28ef","name":"test-logs-source","type":"logs","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-09-04T04:39:44.810147Z","id":"83b98b7f-a223-4f71-8602-5866cf5b951a","name":"test-logs-source","origin":"custom","project_id":"37a7272e-9c71-4a45-a9d6-45c6eb9b28ef","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-09-04T04:39:44.810147Z","url":"https://83b98b7f-a223-4f71-8602-5866cf5b951a.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.606708ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/1340075b-e6bd-4092-bb8f-69f71aba8d1e
        method: GET
      response:
        body: '{"created_at":"2025-09-04T04:39:44.807137Z","id":"1340075b-e6bd-4092-bb8f-69f71aba8d1e","name":"test-metrics-source","origin":"custom","project_id":"37a7272e-9c71-4a45-a9d6-45c6eb9b28ef","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:39:44.807137Z","url":"https://1340075b-e6bd-4092-bb8f-69f71aba8d1e.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.35325ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=37a7272e-9c71-4a45-a9d6-45c6eb9b28ef
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-09-04T04:39:44.807137Z","id":"1340075b-e6bd-4092-bb8f-69f71aba8d1e","name":"test-metrics-source","origin":"custom","project_id":"37a7272e-9c71-4a45-a9d6-45c6eb9b28ef","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:39:44.807137Z","url":"https://1340075b-e6bd-4092-bb8f-69f71aba8d1e.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2025-09-04T04:39:44.810147Z","id":"83b98b7f-a223-4f71-8602-5866cf5b951a","name":"test-logs-source","origin":"custom","project_id":"37a7272e-9c71-4a45-a9d6-45c6eb9b28ef","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-09-04T04:39:44.810147Z","url":"https://83b98b7f-a223-4f71-8602-5866cf5b951a.logs.cockpit.fr-par.scw.cloud"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.286208ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/1340075b-e6bd-4092-bb8f-69f71aba8d1e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"1340075b-e6bd-4092-bb8f-69f71aba8d1e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.549958ms
[...]
