---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.162544917s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://84a928bc-93f0-44df-9c01-7b76adb4b325.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.064112583s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable-alert-rules
        method: POST
      response:
        body: '{"enabled_rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.701663875s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"https://{{ $labels.project_id }}.dashboard.cockpit.scaleway.com/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has a CPU usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","family":"Load Balancer","product":"LB","rule_id":"769bd543-6030-4540-bd2d-5e2d0604e767","summary":"High CPU usage on Load Balancer {{ $labels.resource_name }}"},"data_source_id":"","duration":"10m","name":"LBHighCPULoad","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","preconfigured_rule_id":"769bd543-6030-4540-bd2d-5e2d0604e767","product_family":"Load Balancer","product_name":"LB"},"region":"fr-par","rule":"load_balancer_lb_cpu_usage \u003e 0.8","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"https://{{ $labels.project_id }}.dashboard.cockpit.scaleway.com/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has a memory usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High memory usage","family":"Load Balancer","product":"LB","rule_id":"89d456d0-8614-40a2-b0a6-682ea25e98b6"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.295042ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://84a928bc-93f0-44df-9c01-7b76adb4b325.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.888083ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.090792ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable-alert-rules
        method: POST
      response:
        body: '{"disabled_rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.115208ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 468.472625ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.530917ms
[...]
