---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T09:51:30.176755Z","description":"","id":"423f6319-5573-4168-856f-b6e440724256","name":"tf_tests_cockpit_alert_manager_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-29T09:51:30.176755Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 746.273917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/423f6319-5573-4168-856f-b6e440724256
        method: GET
      response:
        body: '{"created_at":"2025-12-29T09:51:30.176755Z","description":"","id":"423f6319-5573-4168-856f-b6e440724256","name":"tf_tests_cockpit_alert_manager_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T09:51:30.176755Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.549541ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"423f6319-5573-4168-856f-b6e440724256"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://9cee0184-9d2d-42c8-8581-6313fecb1489.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.257167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"423f6319-5573-4168-856f-b6e440724256","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.672ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=423f6319-5573-4168-856f-b6e440724256
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://9cee0184-9d2d-42c8-8581-6313fecb1489.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.392333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=423f6319-5573-4168-856f-b6e440724256
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-kubernetes-cluster-overview/kubernetes-cluster-overview?\u0026var-region={{ $labels.region }}\u0026var-cluster_name={{ $labels.resource_name }}","description":"The managed api-server of the {{ $labels.resource_name }} Kubernetes cluster is using more than 90% of its available CPU since 10m. Scaleway recommends upgrading your Kubernetes cluster to have dedicated resources for your api-server. Refer to our dedicated Kubernetes Control Plane offer for more details (https://www.scaleway.com/en/kubernetes-dedicated-control-plane/) (not available in all regions).","display_description":"\u003e 90 % for 10 minutes","display_name":"High api-server CPU usage","family":"Containers","product":"Kubernetes","rule_id":"d3974dcd-0f02-47cf-a266-67223e579390","summary":"High api-server CPU usage on the {{ $labels.resource_name }} Kubernetes cluster"},"data_source_id":"","duration":"10m","name":"APIServerHighCPUUsage","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 90 % for 10 minutes","display_name":"High api-server CPU usage","preconfigured_rule_id":"d3974dcd-0f02-47cf-a266-67223e579390","product_family":"Containers","product_name":"Kubernetes"},"region":"fr-par","rule":"max by (resource_name, project_id, region) (kubernetes_cluster_k8s_shoot_controlplane_cpu_usage{component=\"api-server\"}) / sum by (resource_name, project_id, region) (kubernetes_cluster_k8s_shoot_controlplane_cpu_limit{component=\"api-server\"}) \u003e 0.9","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-rdb-mysql-overview/rdb-mysql-overview?\u0026var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"MySQL™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a connection usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"Too many connections","family":"Managed Databases","product":"MySQL","rule_id":[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=423f6319-5573-4168-856f-b6e440724256
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.450375ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"423f6319-5573-4168-856f-b6e440724256","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 758.123459ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"423f6319-5573-4168-856f-b6e440724256"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.42275ms
[...]
