---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:37.858195Z","description":"","id":"faed509e-4da5-4198-9dd7-67947765ce36","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:37.858195Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.063975ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/faed509e-4da5-4198-9dd7-67947765ce36
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:37.858195Z","description":"","id":"faed509e-4da5-4198-9dd7-67947765ce36","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:37.858195Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.366804ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"faed509e-4da5-4198-9dd7-67947765ce36","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:38.311618Z","id":"b0901127-6489-4a6a-b282-8253c15d2fd0","name":"my-source","origin":"external","project_id":"faed509e-4da5-4198-9dd7-67947765ce36","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-09-19T09:04:38.311618Z","url":"https://b0901127-6489-4a6a-b282-8253c15d2fd0.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.416862ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/b0901127-6489-4a6a-b282-8253c15d2fd0
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:38.311618Z","id":"b0901127-6489-4a6a-b282-8253c15d2fd0","name":"my-source","origin":"external","project_id":"faed509e-4da5-4198-9dd7-67947765ce36","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-09-19T09:04:38.311618Z","url":"https://b0901127-6489-4a6a-b282-8253c15d2fd0.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.524136ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/b0901127-6489-4a6a-b282-8253c15d2fd0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"b0901127-6489-4a6a-b282-8253c15d2fd0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.910222ms
