---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_project_update_contact","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-27T14:48:46.125047Z","description":"","id":"8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5","name":"tf_tests_cockpit_alert_manager_project_update_contact","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-27T14:48:46.125047Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 660.991891ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5
        method: GET
      response:
        body: '{"created_at":"2026-04-27T14:48:46.125047Z","description":"","id":"8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5","name":"tf_tests_cockpit_alert_manager_project_update_contact","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-27T14:48:46.125047Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.466913ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://d776c5fe-7264-4278-ac36-6e3a6697f7a6.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.279058ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5","email":{"to":"notupdated@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"notupdated@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.97247ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://d776c5fe-7264-4278-ac36-6e3a6697f7a6.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.342861ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5
        method: GET
      response:
        body: '{"alerts":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.209755ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"notupdated@example.com"},"region":"fr-par","send_resolved_notifications":true},{"email":{"to":"initial1@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.263438ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 277.669175ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"8fe96e54-3af2-4e2c-b78f-bef5bddfe7d5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.093907ms
[...]
