---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:03:20.648097Z","description":"","id":"62ffcfb5-34a1-40e7-9f60-69ad5940346e","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:03:20.648097Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 733.205458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/62ffcfb5-34a1-40e7-9f60-69ad5940346e
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:03:20.648097Z","description":"","id":"62ffcfb5-34a1-40e7-9f60-69ad5940346e","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:03:20.648097Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.67ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"62ffcfb5-34a1-40e7-9f60-69ad5940346e","name":"my-source","type":"logs","retention_days":6}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:03:21.218307Z","id":"a23a7ca6-8dc7-4a77-8f1f-2e851ae4a845","name":"my-source","origin":"custom","project_id":"62ffcfb5-34a1-40e7-9f60-69ad5940346e","region":"fr-par","retention_days":6,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:03:21.218307Z","url":"https://a23a7ca6-8dc7-4a77-8f1f-2e851ae4a845.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.280042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/a23a7ca6-8dc7-4a77-8f1f-2e851ae4a845
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:03:21.218307Z","id":"a23a7ca6-8dc7-4a77-8f1f-2e851ae4a845","name":"my-source","origin":"custom","project_id":"62ffcfb5-34a1-40e7-9f60-69ad5940346e","region":"fr-par","retention_days":6,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:03:21.218307Z","url":"https://a23a7ca6-8dc7-4a77-8f1f-2e851ae4a845.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.256792ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/a23a7ca6-8dc7-4a77-8f1f-2e851ae4a845
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"a23a7ca6-8dc7-4a77-8f1f-2e851ae4a845","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.8505ms
