---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:13.536170Z","description":"","id":"ae3d2ebf-6a8d-4577-90c7-075d45a5d7d9","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:13.536170Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 454.639208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ae3d2ebf-6a8d-4577-90c7-075d45a5d7d9
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:13.536170Z","description":"","id":"ae3d2ebf-6a8d-4577-90c7-075d45a5d7d9","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:13.536170Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.469958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ae3d2ebf-6a8d-4577-90c7-075d45a5d7d9","name":"my-source","type":"logs","retention_days":13}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:14.094682Z","id":"7326fe86-2a89-4621-bb89-0f1ea9ecdc67","name":"my-source","origin":"custom","project_id":"ae3d2ebf-6a8d-4577-90c7-075d45a5d7d9","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:14.094682Z","url":"https://7326fe86-2a89-4621-bb89-0f1ea9ecdc67.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.868584ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7326fe86-2a89-4621-bb89-0f1ea9ecdc67
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:14.094682Z","id":"7326fe86-2a89-4621-bb89-0f1ea9ecdc67","name":"my-source","origin":"custom","project_id":"ae3d2ebf-6a8d-4577-90c7-075d45a5d7d9","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:14.094682Z","url":"https://7326fe86-2a89-4621-bb89-0f1ea9ecdc67.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.712458ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7326fe86-2a89-4621-bb89-0f1ea9ecdc67
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"7326fe86-2a89-4621-bb89-0f1ea9ecdc67","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.245208ms
