---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-20T15:44:25.222057Z","description":"","id":"1697b4af-0ac9-405f-8bc7-d316a3379daf","name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T15:44:25.222057Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 711.389334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1697b4af-0ac9-405f-8bc7-d316a3379daf
        method: GET
      response:
        body: '{"created_at":"2024-12-20T15:44:25.222057Z","description":"","id":"1697b4af-0ac9-405f-8bc7-d316a3379daf","name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T15:44:25.222057Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.277875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"1697b4af-0ac9-405f-8bc7-d316a3379daf","name":"source-by-name","type":"logs","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-20T15:44:25.790248Z","id":"d936f1d5-2775-474d-8f5c-008cc381d472","name":"source-by-name","origin":"custom","project_id":"1697b4af-0ac9-405f-8bc7-d316a3379daf","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-20T15:44:25.790248Z","url":"https://d936f1d5-2775-474d-8f5c-008cc381d472.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/d936f1d5-2775-474d-8f5c-008cc381d472
        method: GET
      response:
        body: '{"created_at":"2024-12-20T15:44:25.790248Z","id":"d936f1d5-2775-474d-8f5c-008cc381d472","name":"source-by-name","origin":"custom","project_id":"1697b4af-0ac9-405f-8bc7-d316a3379daf","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-20T15:44:25.790248Z","url":"https://d936f1d5-2775-474d-8f5c-008cc381d472.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.475167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=1697b4af-0ac9-405f-8bc7-d316a3379daf
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-12-20T15:44:25.790248Z","id":"d936f1d5-2775-474d-8f5c-008cc381d472","name":"source-by-name","origin":"custom","project_id":"1697b4af-0ac9-405f-8bc7-d316a3379daf","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-20T15:44:25.790248Z","url":"https://d936f1d5-2775-474d-8f5c-008cc381d472.logs.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.446417ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/d936f1d5-2775-474d-8f5c-008cc381d472
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"d936f1d5-2775-474d-8f5c-008cc381d472","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.087709ms
[...]
