---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_test_cockpit_alert_manager_id_parsing\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\",\"name\":\"tf_test_cockpit_alert_manager_id_parsing\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:10.594865Z\",\"updated_at\":\"2025-09-01T16:57:10.594865Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 326.603445ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/96c83dd3-979f-4677-82c2-ed5fb54cca1b
    method: GET
  response:
    body: "{\"id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\",\"name\":\"tf_test_cockpit_alert_manager_id_parsing\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:10.594865Z\",\"updated_at\":\"2025-09-01T16:57:10.594865Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 187.856926ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://8fbdc784-0696-41e4-ab9e-42cb35f8c37b.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 225.513022ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://8fbdc784-0696-41e4-ab9e-42cb35f8c37b.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.782785854s
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\",\"email\":{\"to\":\"test@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
    method: POST
  response:
    body: "{\"email\":{\"to\":\"test@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 422.359408ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 96c83dd3-979f-4677-82c2-ed5fb54cca1b
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=96c83dd3-979f-4677-82c2-ed5fb54cca1b
    method: GET
  response:
    body: "{\"alert_manager_url\":\"https://8fbdc784-0696-41e4-ab9e-42cb35f8c37b.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.385215ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 96c83dd3-979f-4677-82c2-ed5fb54cca1b
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=96c83dd3-979f-4677-82c2-ed5fb54cca1b
    method: GET
  response:
    body: "{\"total_count\":1,\"contact_points\":[{\"email\":{\"to\":\"test@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}],\"has_additional_receivers\":false,\"has_additional_contact_points\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.657819ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\",\"email\":{\"to\":\"test@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 238.077315ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://8fbdc784-0696-41e4-ab9e-42cb35f8c37b.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 185.528227ms
- id: 23
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"96c83dd3-979f-4677-82c2-ed5fb54cca1b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":null,\"alert_manager_enabled\":false,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 280.568594ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 96c83dd3-979f-4677-82c2-ed5fb54cca1b
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=96c83dd3-979f-4677-82c2-ed5fb54cca1b
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"cockpit\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 301.902479ms
