---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_project_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-27T14:46:16.966145Z","description":"","id":"017a8284-0c89-4ee5-a0e8-9358513495c4","name":"tf_tests_cockpit_alert_manager_project_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-27T14:46:16.966145Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 580.428913ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/017a8284-0c89-4ee5-a0e8-9358513495c4
        method: GET
      response:
        body: '{"created_at":"2026-04-27T14:46:16.966145Z","description":"","id":"017a8284-0c89-4ee5-a0e8-9358513495c4","name":"tf_tests_cockpit_alert_manager_project_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-27T14:46:16.966145Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.339233ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"017a8284-0c89-4ee5-a0e8-9358513495c4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://31a51732-a97d-4904-a755-b19cceaae312.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 838.230515ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"017a8284-0c89-4ee5-a0e8-9358513495c4","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable-alert-rules
        method: POST
      response:
        body: '{"enabled_rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7","eb8a941e-698d-47d6-b62d-4b6c13f7b4b7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 729.784069ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=017a8284-0c89-4ee5-a0e8-9358513495c4
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-serverless-sql-database-overview/serverless-sql-database-overview?var-region={{ $labels.region }}\u0026var-database={{ $labels.resource_name }}","description":"Serverless SQL Database {{ $labels.resource_name }} with id {{ $labels.resource_id }} has a CPU usage superior to 90% since 10 minutes and cannot scale-up above its maximum vCPU configuration. To avoid performance degradation in your application, we recommend you increase maximum vCPU in your database configuration or investigate your SQL queries generating this high workload on your database.\nAccess your database configuration: https://console.scaleway.com/serverless-db/databases/fr-par/{{ $labels.resource_id }}/overview","display_description":"\u003e 90 % for 10 minutes","display_name":"High CPU usage","family":"Serverless","product":"SQL Databases","rule_id":"e930945c-8b42-48fe-94db-12abc81d27f4","summary":"High CPU usage on Serverless SQL Database {{ $labels.resource_name }}."},"data_source_id":"","duration":"10m","name":"ServerlessSQLDatabaseHighCPUUsage","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 90 % for 10 minutes","display_name":"High CPU usage","preconfigured_rule_id":"e930945c-8b42-48fe-94db-12abc81d27f4","product_family":"Serverless","product_name":"SQL Databases"},"region":"fr-par","rule":"(rate(serverless_db_postgresql_cpu_usage_seconds{mode!=\"idle\"}[2m]) / (serverless_db_postgresql_cpu_provisioned / 100000)) \u003e 0.9","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Backend {{ $labels.backend_name }} is down on Load Balancer {{ $labels.resource_name }}","display_description":"All servers for a given Backend are down","display_name":"Backend down","family":"Load Balancer","product":"LB","rule_id":"d1b1b4a0-7215-494b-9d81-796e52c7ed0e","summary":"Backend is down on Load Balancer {{ $labe[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"017a8284-0c89-4ee5-a0e8-9358513495c4","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.904607ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=017a8284-0c89-4ee5-a0e8-9358513495c4
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://31a51732-a97d-4904-a755-b19cceaae312.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.706701ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=017a8284-0c89-4ee5-a0e8-9358513495c4
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.802123ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"017a8284-0c89-4ee5-a0e8-9358513495c4","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable-alert-rules
        method: POST
      response:
        body: '{"disabled_rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7","eb8a941e-698d-47d6-b62d-4b6c13f7b4b7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.698009ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"017a8284-0c89-4ee5-a0e8-9358513495c4","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 465.348941ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"017a8284-0c89-4ee5-a0e8-9358513495c4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.788155ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=017a8284-0c89-4ee5-a0e8-9358513495c4
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 148.320992ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/017a8284-0c89-4ee5-a0e8-9358513495c4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"017a8284-0c89-4ee5-a0e8-9358513495c4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.699324ms
