---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-12T14:54:56.667579Z","description":"","id":"90abc510-f0b3-4f25-bd2a-eb22adc31f40","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-12T14:54:56.667579Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 824.167417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/90abc510-f0b3-4f25-bd2a-eb22adc31f40
        method: GET
      response:
        body: '{"created_at":"2024-12-12T14:54:56.667579Z","description":"","id":"90abc510-f0b3-4f25-bd2a-eb22adc31f40","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-12T14:54:56.667579Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.0565ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"90abc510-f0b3-4f25-bd2a-eb22adc31f40","name":"initial-name","type":"logs","retention_days":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-12T14:54:57.467145Z","id":"7e47c93a-5398-4e28-aff5-2d3ad5b74a55","name":"initial-name","origin":"custom","project_id":"90abc510-f0b3-4f25-bd2a-eb22adc31f40","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-12T14:54:57.467145Z","url":"https://7e47c93a-5398-4e28-aff5-2d3ad5b74a55.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.680542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7e47c93a-5398-4e28-aff5-2d3ad5b74a55
        method: GET
      response:
        body: '{"created_at":"2024-12-12T14:54:57.467145Z","id":"7e47c93a-5398-4e28-aff5-2d3ad5b74a55","name":"initial-name","origin":"custom","project_id":"90abc510-f0b3-4f25-bd2a-eb22adc31f40","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-12T14:54:57.467145Z","url":"https://7e47c93a-5398-4e28-aff5-2d3ad5b74a55.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.383583ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/819c2924-d6e6-4b2a-b16a-64a43ba222f6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"819c2924-d6e6-4b2a-b16a-64a43ba222f6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.858167ms
