---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T09:41:50.623787Z","description":"","id":"0a2c8914-58d4-483b-86c9-91935eb84705","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T09:41:50.623787Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 595.659875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0a2c8914-58d4-483b-86c9-91935eb84705
        method: GET
      response:
        body: '{"created_at":"2024-12-11T09:41:50.623787Z","description":"","id":"0a2c8914-58d4-483b-86c9-91935eb84705","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T09:41:50.623787Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.877791ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"0a2c8914-58d4-483b-86c9-91935eb84705","name":"my-source","type":"metrics","retention_days":6}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T09:41:51.302196Z","id":"ad100dc0-374c-4352-9c6c-cc186137f198","name":"my-source","origin":"custom","project_id":"0a2c8914-58d4-483b-86c9-91935eb84705","region":"fr-par","retention_days":6,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-11T09:41:51.302196Z","url":"https://ad100dc0-374c-4352-9c6c-cc186137f198.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.193209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ad100dc0-374c-4352-9c6c-cc186137f198
        method: GET
      response:
        body: '{"created_at":"2024-12-11T09:41:51.302196Z","id":"ad100dc0-374c-4352-9c6c-cc186137f198","name":"my-source","origin":"custom","project_id":"0a2c8914-58d4-483b-86c9-91935eb84705","region":"fr-par","retention_days":6,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-11T09:41:51.302196Z","url":"https://ad100dc0-374c-4352-9c6c-cc186137f198.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.013875ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ad100dc0-374c-4352-9c6c-cc186137f198
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"ad100dc0-374c-4352-9c6c-cc186137f198","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.765167ms
