---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:37.315583Z","description":"","id":"618c5237-d8b7-4a82-82ff-73ea6d0ee140","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:37.315583Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 323.61395ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/618c5237-d8b7-4a82-82ff-73ea6d0ee140
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:37.315583Z","description":"","id":"618c5237-d8b7-4a82-82ff-73ea6d0ee140","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:37.315583Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.782103ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"618c5237-d8b7-4a82-82ff-73ea6d0ee140","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:37.983568Z","id":"a3439ae8-ec3b-428f-bc53-e045327ec9c8","name":"my-source","origin":"external","project_id":"618c5237-d8b7-4a82-82ff-73ea6d0ee140","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-13T10:50:37.983568Z","url":"https://a3439ae8-ec3b-428f-bc53-e045327ec9c8.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.843652ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/a3439ae8-ec3b-428f-bc53-e045327ec9c8
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:37.983568Z","id":"a3439ae8-ec3b-428f-bc53-e045327ec9c8","name":"my-source","origin":"external","project_id":"618c5237-d8b7-4a82-82ff-73ea6d0ee140","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-13T10:50:37.983568Z","url":"https://a3439ae8-ec3b-428f-bc53-e045327ec9c8.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.720126ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/a3439ae8-ec3b-428f-bc53-e045327ec9c8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"a3439ae8-ec3b-428f-bc53-e045327ec9c8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.55762ms
