---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - default
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"projects\":[{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.5256204s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.686598ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      origin:
      - scaleway
      page:
      - "1"
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      types:
      - logs
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&types=logs
    method: GET
  response:
    body: "{\"total_count\":1,\"data_sources\":[{\"id\":\"b3113e91-ae36-4e27-b2f2-48b8868c62ff\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"Scaleway Logs\",\"url\":\"https://b3113e91-ae36-4e27-b2f2-48b8868c62ff.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"scaleway\",\"created_at\":\"2023-05-17T09:46:07.247820Z\",\"updated_at\":\"2023-05-17T09:46:07.247820Z\",\"synchronized_with_grafana\":true,\"retention_days\":7,\"region\":\"fr-par\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.56743ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      origin:
      - scaleway
      page:
      - "1"
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      types:
      - metrics
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&types=metrics
    method: GET
  response:
    body: "{\"total_count\":1,\"data_sources\":[{\"id\":\"af496812-8fa1-4c66-be81-04c04733333a\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"Scaleway Metrics\",\"url\":\"https://af496812-8fa1-4c66-be81-04c04733333a.metrics.cockpit.fr-par.scw.cloud\",\"type\":\"metrics\",\"origin\":\"scaleway\",\"created_at\":\"2023-05-17T09:46:07.242137Z\",\"updated_at\":\"2023-05-17T09:46:07.242137Z\",\"synchronized_with_grafana\":true,\"retention_days\":31,\"region\":\"fr-par\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.950763ms
[...]
