---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.324276Z","description":"","id":"cb14225c-b539-480c-8f44-4ffd09c67f02","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.324276Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.564282ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cb14225c-b539-480c-8f44-4ffd09c67f02
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.324276Z","description":"","id":"cb14225c-b539-480c-8f44-4ffd09c67f02","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.324276Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.662949ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7b416829-3a12-4b76-a075-2058bf125b3a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.523943ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.946504Z","id":"3388e5e6-0cab-4f11-b1ef-6d95890b59b9","name":"my-data-source-traces","origin":"external","project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T13:12:37.946504Z","url":"https://3388e5e6-0cab-4f11-b1ef-6d95890b59b9.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.141166ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/3388e5e6-0cab-4f11-b1ef-6d95890b59b9
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.946504Z","id":"3388e5e6-0cab-4f11-b1ef-6d95890b59b9","name":"my-data-source-traces","origin":"external","project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T13:12:37.946504Z","url":"https://3388e5e6-0cab-4f11-b1ef-6d95890b59b9.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.310347ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7b416829-3a12-4b76-a075-2058bf125b3a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.105604ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=cb14225c-b539-480c-8f44-4ffd09c67f02
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7b416829-3a12-4b76-a075-2058bf125b3a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.024611ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=cb14225c-b539-480c-8f44-4ffd09c67f02
        method: GET
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 98.16663ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 25.243994551s
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"cockpit_test","password":"0M4SE7fDUwJiMeaK","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.143550246s
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=cb14225c-b539-480c-8f44-4ffd09c67f02
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"cockpit_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.27895ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=cb14225c-b539-480c-8f44-4ffd09c67f02
        method: DELETE
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 111.119041ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=cb14225c-b539-480c-8f44-4ffd09c67f02
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.906658ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://7b416829-3a12-4b76-a075-2058bf125b3a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.255934ms
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb14225c-b539-480c-8f44-4ffd09c67f02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.203385ms
[...]
