---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - default
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"projects\":[{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.085236276s
[...]
- id: 2
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      origin:
      - external
      page:
      - "1"
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":0,\"data_sources\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.655878ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"grafana_url\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 234.809308ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"alert_manager_url\":\"https://53bfc50f-0420-4c11-bef8-07bf3f1c0fbb.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.06858ms
[...]
