---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:40:42.117572Z","description":"","id":"f420d502-01ac-4ca2-92b2-2c99043c7268","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:40:42.117572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 454.161714ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f420d502-01ac-4ca2-92b2-2c99043c7268
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:40:42.117572Z","description":"","id":"f420d502-01ac-4ca2-92b2-2c99043c7268","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:40:42.117572Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.43645ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f420d502-01ac-4ca2-92b2-2c99043c7268","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:40:42.730450Z","id":"4eaa7516-2127-46fe-a563-c81e74433ab3","name":"my-source","origin":"external","project_id":"f420d502-01ac-4ca2-92b2-2c99043c7268","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-07-02T13:40:42.730450Z","url":"https://4eaa7516-2127-46fe-a563-c81e74433ab3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.867481ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/4eaa7516-2127-46fe-a563-c81e74433ab3
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:40:42.730450Z","id":"4eaa7516-2127-46fe-a563-c81e74433ab3","name":"my-source","origin":"external","project_id":"f420d502-01ac-4ca2-92b2-2c99043c7268","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-07-02T13:40:42.730450Z","url":"https://4eaa7516-2127-46fe-a563-c81e74433ab3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.753456ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/4eaa7516-2127-46fe-a563-c81e74433ab3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"4eaa7516-2127-46fe-a563-c81e74433ab3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.554796ms
