---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-07-02T11:27:20.684247Z","description":"","id":"da44f252-85aa-4653-a8c7-63b62dd34bf6","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-07-02T11:27:20.684247Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.361375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/da44f252-85aa-4653-a8c7-63b62dd34bf6
        method: GET
      response:
        body: '{"created_at":"2025-07-02T11:27:20.684247Z","description":"","id":"da44f252-85aa-4653-a8c7-63b62dd34bf6","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-07-02T11:27:20.684247Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.576875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"da44f252-85aa-4653-a8c7-63b62dd34bf6","name":"source-by-id","type":"metrics","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-07-02T11:27:21.279591Z","id":"8cf14c83-6363-4d74-89da-4fcc995ff8ad","name":"source-by-id","origin":"custom","project_id":"da44f252-85aa-4653-a8c7-63b62dd34bf6","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-07-02T11:27:21.279591Z","url":"https://8cf14c83-6363-4d74-89da-4fcc995ff8ad.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.569583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/8cf14c83-6363-4d74-89da-4fcc995ff8ad
        method: GET
      response:
        body: '{"created_at":"2025-07-02T11:27:21.279591Z","id":"8cf14c83-6363-4d74-89da-4fcc995ff8ad","name":"source-by-id","origin":"custom","project_id":"da44f252-85aa-4653-a8c7-63b62dd34bf6","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-07-02T11:27:21.279591Z","url":"https://8cf14c83-6363-4d74-89da-4fcc995ff8ad.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.322875ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/8cf14c83-6363-4d74-89da-4fcc995ff8ad
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"8cf14c83-6363-4d74-89da-4fcc995ff8ad","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.654459ms
[...]
