---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-04-17T19:24:41.011030Z","description":"","id":"2c4f5552-0a86-44e5-a569-c647d3b8055d","name":"tf_tests_cockpit_datasource_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-17T19:24:41.011030Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.34381ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2c4f5552-0a86-44e5-a569-c647d3b8055d
        method: GET
      response:
        body: '{"created_at":"2024-04-17T19:24:41.011030Z","description":"","id":"2c4f5552-0a86-44e5-a569-c647d3b8055d","name":"tf_tests_cockpit_datasource_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-17T19:24:41.011030Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.408838ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"2c4f5552-0a86-44e5-a569-c647d3b8055d","name":"my-datasource","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-04-17T19:24:41.462687Z","id":"e5443212-2379-4d21-adb9-f08872ccab6e","name":"my-datasource","origin":"external","project_id":"2c4f5552-0a86-44e5-a569-c647d3b8055d","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-04-17T19:24:41.462687Z","url":"https://e5443212-2379-4d21-adb9-f08872ccab6e.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.343831ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/e5443212-2379-4d21-adb9-f08872ccab6e
        method: GET
      response:
        body: '{"created_at":"2024-04-17T19:24:41.462687Z","id":"e5443212-2379-4d21-adb9-f08872ccab6e","name":"my-datasource","origin":"external","project_id":"2c4f5552-0a86-44e5-a569-c647d3b8055d","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-04-17T19:24:41.462687Z","url":"https://e5443212-2379-4d21-adb9-f08872ccab6e.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.927837ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/e5443212-2379-4d21-adb9-f08872ccab6e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"e5443212-2379-4d21-adb9-f08872ccab6e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.444085ms
