---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_datasource_by_region\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"58b24487-5abe-408d-b766-8cf05fc546f7\",\"name\":\"tf_tests_cockpit_datasource_by_region\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.791254Z\",\"updated_at\":\"2025-09-01T16:57:01.791254Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 840.648458ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/58b24487-5abe-408d-b766-8cf05fc546f7
    method: GET
  response:
    body: "{\"id\":\"58b24487-5abe-408d-b766-8cf05fc546f7\",\"name\":\"tf_tests_cockpit_datasource_by_region\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.791254Z\",\"updated_at\":\"2025-09-01T16:57:01.791254Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 215.825683ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"58b24487-5abe-408d-b766-8cf05fc546f7\",\"name\":\"source-by-region\",\"type\":\"logs\",\"retention_days\":30}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"7be827f7-551c-4465-85e5-365f5a1eb226\",\"project_id\":\"58b24487-5abe-408d-b766-8cf05fc546f7\",\"name\":\"source-by-region\",\"url\":\"https://7be827f7-551c-4465-85e5-365f5a1eb226.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.795657Z\",\"updated_at\":\"2025-09-01T16:57:02.795657Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.363988ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7be827f7-551c-4465-85e5-365f5a1eb226
    method: GET
  response:
    body: "{\"id\":\"7be827f7-551c-4465-85e5-365f5a1eb226\",\"project_id\":\"58b24487-5abe-408d-b766-8cf05fc546f7\",\"name\":\"source-by-region\",\"url\":\"https://7be827f7-551c-4465-85e5-365f5a1eb226.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.795657Z\",\"updated_at\":\"2025-09-01T16:57:02.795657Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.257934ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      origin:
      - unknown_origin
      page:
      - "1"
      project_id:
      - 58b24487-5abe-408d-b766-8cf05fc546f7
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=58b24487-5abe-408d-b766-8cf05fc546f7
    method: GET
  response:
    body: "{\"total_count\":1,\"data_sources\":[{\"id\":\"7be827f7-551c-4465-85e5-365f5a1eb226\",\"project_id\":\"58b24487-5abe-408d-b766-8cf05fc546f7\",\"name\":\"source-by-region\",\"url\":\"https://7be827f7-551c-4465-85e5-365f5a1eb226.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.795657Z\",\"updated_at\":\"2025-09-01T16:57:02.795657Z\",\"synchronized_with_grafana\":false,\"retention_days\":30,\"region\":\"fr-par\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.055724ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7be827f7-551c-4465-85e5-365f5a1eb226
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"data source\",\"resource_id\":\"7be827f7-551c-4465-85e5-365f5a1eb226\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 30.586096ms
[...]
