---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/config
        method: GET
      response:
        body: '{"custom_logs_retention":{"default_days":7,"max_days":1825,"min_days":1},"custom_metrics_retention":{"default_days":31,"max_days":1825,"min_days":1},"custom_traces_retention":{"default_days":7,"max_days":1825,"min_days":1},"product_logs_retention":{"default_days":7,"max_days":1825,"min_days":1},"product_metrics_retention":{"default_days":31,"max_days":1825,"min_days":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.353666ms
[...]
