---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_project_create_contact","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-27T15:32:08.614059Z","description":"","id":"9d1545b8-2af1-4da4-bc5f-723635a62293","name":"tf_tests_cockpit_alert_manager_project_create_contact","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-27T15:32:08.614059Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 612.047796ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9d1545b8-2af1-4da4-bc5f-723635a62293
        method: GET
      response:
        body: '{"created_at":"2026-04-27T15:32:08.614059Z","description":"","id":"9d1545b8-2af1-4da4-bc5f-723635a62293","name":"tf_tests_cockpit_alert_manager_project_create_contact","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-27T15:32:08.614059Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.459246ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"9d1545b8-2af1-4da4-bc5f-723635a62293"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://c482f689-faff-4120-b178-5897443a7d67.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.673923ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"9d1545b8-2af1-4da4-bc5f-723635a62293","email":{"to":"initial@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"initial@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 365.532589ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=9d1545b8-2af1-4da4-bc5f-723635a62293
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://c482f689-faff-4120-b178-5897443a7d67.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.432107ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=9d1545b8-2af1-4da4-bc5f-723635a62293
        method: GET
      response:
        body: '{"alerts":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.545801ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=9d1545b8-2af1-4da4-bc5f-723635a62293
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"initial@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.573574ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"9d1545b8-2af1-4da4-bc5f-723635a62293","email":{"to":"initial@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 281.121792ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"9d1545b8-2af1-4da4-bc5f-723635a62293"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.188722ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9d1545b8-2af1-4da4-bc5f-723635a62293
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"9d1545b8-2af1-4da4-bc5f-723635a62293","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.931544ms
