---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=custom&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2026-04-18T02:03:26.794782Z","current_month_usage":0,"id":"bc5859cd-ce70-4dbd-ac6a-10995888670f","name":"otlp-exporter-update-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-04-18T02:03:26.794782Z","url":"https://bc5859cd-ce70-4dbd-ac6a-10995888670f.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2026-04-20T02:11:39.243525Z","current_month_usage":0,"id":"a97649ea-515b-4a24-b64b-a13ac31d5fe3","name":"otlp-exporter-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-04-20T02:11:39.243525Z","url":"https://a97649ea-515b-4a24-b64b-a13ac31d5fe3.metrics.cockpit.fr-par.scw.cloud"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.593924ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"grafana_url":"https://105bdce1-64c0-48ab-899d-868455867ecf.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.920758ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://c311fffe-6207-420a-a0b8-453f103a3562.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.381131ms
[...]
