---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-05-22T12:42:34.282594Z","description":"","id":"719e7356-2929-485e-837b-934b92ff547b","name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-05-22T12:42:34.282594Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.062767ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/719e7356-2929-485e-837b-934b92ff547b
        method: GET
      response:
        body: '{"created_at":"2024-05-22T12:42:34.282594Z","description":"","id":"719e7356-2929-485e-837b-934b92ff547b","name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-05-22T12:42:34.282594Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.54418ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"719e7356-2929-485e-837b-934b92ff547b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.158774ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"719e7356-2929-485e-837b-934b92ff547b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.589698ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"719e7356-2929-485e-837b-934b92ff547b","email":{"to":"notupdated@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"notupdated@example.com"},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.909412ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=719e7356-2929-485e-837b-934b92ff547b
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.392523ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=719e7356-2929-485e-837b-934b92ff547b
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"notupdated@example.com"},"region":"fr-par"},{"email":{"to":"initial1@example.com"},"region":"fr-par"}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.52606ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"719e7356-2929-485e-837b-934b92ff547b","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 242.698397ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"719e7356-2929-485e-837b-934b92ff547b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.586188ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"719e7356-2929-485e-837b-934b92ff547b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.975958ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=719e7356-2929-485e-837b-934b92ff547b
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 45.353813ms
