---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T09:01:02.927691Z","description":"","id":"01af5cbd-609c-4b54-b7d2-20cce9e79c4e","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-29T09:01:02.927691Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 978.404375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/01af5cbd-609c-4b54-b7d2-20cce9e79c4e
        method: GET
      response:
        body: '{"created_at":"2025-12-29T09:01:02.927691Z","description":"","id":"01af5cbd-609c-4b54-b7d2-20cce9e79c4e","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T09:01:02.927691Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.255125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"01af5cbd-609c-4b54-b7d2-20cce9e79c4e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://32cb8087-ef53-431c-9a8e-9fbd8a7a8431.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.95675ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"01af5cbd-609c-4b54-b7d2-20cce9e79c4e","email":{"to":"notupdated@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"details":[{"action":"write","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 42.500042ms
[...]
