---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"7bd285a3-14f6-4058-b99c-4f93a5bcb282\",\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.664850Z\",\"updated_at\":\"2025-09-01T16:57:01.664850Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 408.459913ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/7bd285a3-14f6-4058-b99c-4f93a5bcb282
    method: GET
  response:
    body: "{\"id\":\"7bd285a3-14f6-4058-b99c-4f93a5bcb282\",\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.664850Z\",\"updated_at\":\"2025-09-01T16:57:01.664850Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 241.553228ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"7bd285a3-14f6-4058-b99c-4f93a5bcb282\",\"name\":\"my-source\",\"type\":\"logs\",\"retention_days\":13}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"3f013e02-bc3f-4a13-938d-fe142390e584\",\"project_id\":\"7bd285a3-14f6-4058-b99c-4f93a5bcb282\",\"name\":\"my-source\",\"url\":\"https://3f013e02-bc3f-4a13-938d-fe142390e584.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.298768Z\",\"updated_at\":\"2025-09-01T16:57:02.298768Z\",\"synchronized_with_grafana\":false,\"retention_days\":13,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 340.384231ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/3f013e02-bc3f-4a13-938d-fe142390e584
    method: GET
  response:
    body: "{\"id\":\"3f013e02-bc3f-4a13-938d-fe142390e584\",\"project_id\":\"7bd285a3-14f6-4058-b99c-4f93a5bcb282\",\"name\":\"my-source\",\"url\":\"https://3f013e02-bc3f-4a13-938d-fe142390e584.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.298768Z\",\"updated_at\":\"2025-09-01T16:57:02.298768Z\",\"synchronized_with_grafana\":false,\"retention_days\":13,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.858198ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/3f013e02-bc3f-4a13-938d-fe142390e584
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"data source\",\"resource_id\":\"3f013e02-bc3f-4a13-938d-fe142390e584\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.98384ms
