---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T09:37:05.469662Z","description":"","id":"ef18bec7-318a-4efa-882e-f20ae67bfce6","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-29T09:37:05.469662Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 576.250458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ef18bec7-318a-4efa-882e-f20ae67bfce6
        method: GET
      response:
        body: '{"created_at":"2025-12-29T09:37:05.469662Z","description":"","id":"ef18bec7-318a-4efa-882e-f20ae67bfce6","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T09:37:05.469662Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.352959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ef18bec7-318a-4efa-882e-f20ae67bfce6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://2ed51933-73ee-42c2-b625-ab65883030c5.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 505.469791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"ef18bec7-318a-4efa-882e-f20ae67bfce6","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"initial1@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 557.932792ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=ef18bec7-318a-4efa-882e-f20ae67bfce6
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://2ed51933-73ee-42c2-b625-ab65883030c5.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.122125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=ef18bec7-318a-4efa-882e-f20ae67bfce6
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-kubernetes-cluster-overview/kubernetes-cluster-overview?\u0026var-region={{ $labels.region }}\u0026var-cluster_name={{ $labels.resource_name }}","description":"{{ $value }} nodes are not ready since 10m.","display_description":"\u003e 0 for 10 minutes","display_name":"Nodes not ready","family":"Containers","product":"Kubernetes","rule_id":"dc9b67ae-baa6-4a37-907d-2a6c31304561","summary":"Nodes not ready on the {{ $labels.resource_name }} Kubernetes cluster"},"data_source_id":"","duration":"10m","name":"NodesNotReady","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 0 for 10 minutes","display_name":"Nodes not ready","preconfigured_rule_id":"dc9b67ae-baa6-4a37-907d-2a6c31304561","product_family":"Containers","product_name":"Kubernetes"},"region":"fr-par","rule":"sum by (resource_name, project_id, region) (kubernetes_cluster_k8s_shoot_nodes) - sum by (resource_name, project_id, region) (kubernetes_cluster_k8s_shoot_nodes_ready) \u003e 0","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Backend {{ $labels.backend_name }} is down on Load Balancer {{ $labels.resource_name }}","display_description":"All servers for a given Backend are down","display_name":"Backend down","family":"Load Balancer","product":"LB","rule_id":"d1b1b4a0-7215-494b-9d81-796e52c7ed0e","summary":"Backend is down on Load Balancer {{ $labe[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=ef18bec7-318a-4efa-882e-f20ae67bfce6
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"initial1@example.com"},"region":"fr-par","send_resolved_notifications":true},{"email":{"to":"initial2@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.855958ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"ef18bec7-318a-4efa-882e-f20ae67bfce6","email":{"to":"initial2@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 320.710875ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"project_id":"ef18bec7-318a-4efa-882e-f20ae67bfce6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.809584ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=ef18bec7-318a-4efa-882e-f20ae67bfce6
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 164.464292ms
