---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-05T14:46:55.694790Z","description":"","id":"b229ef43-5fab-4f21-a499-719058571936","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-05T14:46:55.694790Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 841.466833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b229ef43-5fab-4f21-a499-719058571936
        method: GET
      response:
        body: '{"created_at":"2025-09-05T14:46:55.694790Z","description":"","id":"b229ef43-5fab-4f21-a499-719058571936","name":"tf_tests_cockpit_datasource_by_id","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-05T14:46:55.694790Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.964667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"b229ef43-5fab-4f21-a499-719058571936","name":"source-by-id","type":"metrics","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-09-05T14:46:56.476554Z","id":"2af7f189-28d8-44f5-8ad1-ec053e385411","name":"source-by-id","origin":"custom","project_id":"b229ef43-5fab-4f21-a499-719058571936","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-05T14:46:56.476554Z","url":"https://2af7f189-28d8-44f5-8ad1-ec053e385411.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.005458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/2af7f189-28d8-44f5-8ad1-ec053e385411
        method: GET
      response:
        body: '{"created_at":"2025-09-05T14:46:56.476554Z","id":"2af7f189-28d8-44f5-8ad1-ec053e385411","name":"source-by-id","origin":"custom","project_id":"b229ef43-5fab-4f21-a499-719058571936","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-05T14:46:56.476554Z","url":"https://2af7f189-28d8-44f5-8ad1-ec053e385411.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.844834ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/2af7f189-28d8-44f5-8ad1-ec053e385411
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"2af7f189-28d8-44f5-8ad1-ec053e385411","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.529333ms
[...]
