---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-01T04:45:39.471735Z","description":"","id":"6b726976-f9bb-4839-9d52-f99697afcf42","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-01T04:45:39.471735Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.0735ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6b726976-f9bb-4839-9d52-f99697afcf42
        method: GET
      response:
        body: '{"created_at":"2025-12-01T04:45:39.471735Z","description":"","id":"6b726976-f9bb-4839-9d52-f99697afcf42","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-01T04:45:39.471735Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.236417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=custom&page=1&project_id=6b726976-f9bb-4839-9d52-f99697afcf42
        method: GET
      response:
        body: '{"data_sources":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.266458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=6b726976-f9bb-4839-9d52-f99697afcf42
        method: GET
      response:
        body: '{"grafana_url":"https://6b726976-f9bb-4839-9d52-f99697afcf42.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.401833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=6b726976-f9bb-4839-9d52-f99697afcf42
        method: GET
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.281084ms
[...]
