---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:53:02.352835Z","description":"","id":"0885d8a6-cf00-4ae3-becb-e9062a949930","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:53:02.352835Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 373.744614ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:53:02.352835Z","description":"","id":"0885d8a6-cf00-4ae3-becb-e9062a949930","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:53:02.352835Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.910616ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3583b6b6-02f5-44fe-9994-30a65c80f52b.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.382933ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:53:02.766221Z","id":"82afa500-5481-4038-a37d-629da2484b9a","name":"my-data-source-traces","origin":"external","project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T13:53:02.766221Z","url":"https://82afa500-5481-4038-a37d-629da2484b9a.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.450483ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/82afa500-5481-4038-a37d-629da2484b9a
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:53:02.766221Z","id":"82afa500-5481-4038-a37d-629da2484b9a","name":"my-data-source-traces","origin":"external","project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T13:53:02.766221Z","url":"https://82afa500-5481-4038-a37d-629da2484b9a.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.000192ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3583b6b6-02f5-44fe-9994-30a65c80f52b.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.146422ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3583b6b6-02f5-44fe-9994-30a65c80f52b.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.028995ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.792609ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 29.89028098s
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"cockpit_test","password":"rKK_v2armK__cX5J","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.909297914s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 119.445028ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"cockpit_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.348632554s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.732945ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930","plan_name":"premium"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.370336ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.935656ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-07-02T13:53:02.738687Z","id":"3583b6b6-02f5-44fe-9994-30a65c80f52b","name":"Scaleway Alerting","origin":"external","project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930","region":"fr-par","synchronized_with_grafana":true,"type":"unknown_type","updated_at":"2024-07-02T13:53:02.738687Z","url":"https://3583b6b6-02f5-44fe-9994-30a65c80f52b.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-07-02T13:53:02.766221Z","id":"82afa500-5481-4038-a37d-629da2484b9a","name":"my-data-[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: GET
      response:
        body: '{"grafana_url":"https://0885d8a6-cf00-4ae3-becb-e9062a949930.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.038465ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=0885d8a6-cf00-4ae3-becb-e9062a949930
        method: DELETE
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 602.964441ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3583b6b6-02f5-44fe-9994-30a65c80f52b.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.653942ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"project_id":"0885d8a6-cf00-4ae3-becb-e9062a949930"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.699934ms
[...]
