---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-12T14:54:36.490449Z","description":"","id":"5b1330fa-f0c0-4245-858d-acbe89fca85a","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-12T14:54:36.490449Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 545.295875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5b1330fa-f0c0-4245-858d-acbe89fca85a
        method: GET
      response:
        body: '{"created_at":"2024-12-12T14:54:36.490449Z","description":"","id":"5b1330fa-f0c0-4245-858d-acbe89fca85a","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-12T14:54:36.490449Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.432375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"5b1330fa-f0c0-4245-858d-acbe89fca85a","name":"my-source","type":"logs","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-12T14:54:37.234781Z","id":"32742a1d-a023-457e-b399-4e198d3b2fde","name":"my-source","origin":"custom","project_id":"5b1330fa-f0c0-4245-858d-acbe89fca85a","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-12T14:54:37.234781Z","url":"https://32742a1d-a023-457e-b399-4e198d3b2fde.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.22875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/32742a1d-a023-457e-b399-4e198d3b2fde
        method: GET
      response:
        body: '{"created_at":"2024-12-12T14:54:37.234781Z","id":"32742a1d-a023-457e-b399-4e198d3b2fde","name":"my-source","origin":"custom","project_id":"5b1330fa-f0c0-4245-858d-acbe89fca85a","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-12T14:54:37.234781Z","url":"https://32742a1d-a023-457e-b399-4e198d3b2fde.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.852416ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/32742a1d-a023-457e-b399-4e198d3b2fde
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"32742a1d-a023-457e-b399-4e198d3b2fde","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.829167ms
