---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\",\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.721544Z\",\"updated_at\":\"2025-09-01T16:57:01.721544Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 787.639575ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/00339e73-66c7-4b44-a72a-2a5800d105f0
    method: GET
  response:
    body: "{\"id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\",\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.721544Z\",\"updated_at\":\"2025-09-01T16:57:01.721544Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 212.004433ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://26c92365-4060-4522-b364-cdde1dec13af.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 220.276677ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://26c92365-4060-4522-b364-cdde1dec13af.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.069761917s
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\",\"email\":{\"to\":\"initial@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
    method: POST
  response:
    body: "{\"email\":{\"to\":\"initial@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 324.705561ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 00339e73-66c7-4b44-a72a-2a5800d105f0
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=00339e73-66c7-4b44-a72a-2a5800d105f0
    method: GET
  response:
    body: "{\"alert_manager_url\":\"https://26c92365-4060-4522-b364-cdde1dec13af.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 81.131583ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 00339e73-66c7-4b44-a72a-2a5800d105f0
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=00339e73-66c7-4b44-a72a-2a5800d105f0
    method: GET
  response:
    body: "{\"total_count\":1,\"contact_points\":[{\"email\":{\"to\":\"initial@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}],\"has_additional_receivers\":false,\"has_additional_contact_points\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 242.591459ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\",\"email\":{\"to\":\"initial@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 518.082256ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://26c92365-4060-4522-b364-cdde1dec13af.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 400.833545ms
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"00339e73-66c7-4b44-a72a-2a5800d105f0\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":null,\"alert_manager_enabled\":false,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 203.36573ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 00339e73-66c7-4b44-a72a-2a5800d105f0
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=00339e73-66c7-4b44-a72a-2a5800d105f0
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"cockpit\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 345.855578ms
