---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:58:43.818041Z","description":"","id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:58:43.818041Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.602663ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:58:43.818041Z","description":"","id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:58:43.818041Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.565718ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://2b60d723-a1b0-4c4d-919b-564b177fbb21.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.920991ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:58:44.254102Z","id":"81dddda3-a932-415e-8081-7a7b53411e99","name":"my-data-source-traces","origin":"external","project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-12T08:58:44.254102Z","url":"https://81dddda3-a932-415e-8081-7a7b53411e99.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.284586ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/1b9e29ae-fcd4-4d37-add5-cd3e7044e767
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:58:44.282146Z","id":"1b9e29ae-fcd4-4d37-add5-cd3e7044e767","name":"my-data-source-metrics","origin":"external","project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-12T08:58:44.282146Z","url":"https://1b9e29ae-fcd4-4d37-add5-cd3e7044e767.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.267926ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://2b60d723-a1b0-4c4d-919b-564b177fbb21.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.465199ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://2b60d723-a1b0-4c4d-919b-564b177fbb21.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.156581ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.160019ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"cockpit_test","password":"iPWpyMgWBLcADv6R","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.620545529s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"cockpit_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.212592ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.551756ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","plan_name":"premium"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.681302ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.004847ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-08-12T08:58:44.254102Z","id":"81dddda3-a932-415e-8081-7a7b53411e99","name":"my-data-source-traces","origin":"external","project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-12T08:58:44.254102Z","url":"https://81dddda3-a932-415e-8081-7a7b53411e99.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-12T08:58:44.282146Z","id":"1b9e29ae-fcd4-4d37-add5-cd3e7044e767","name":"my-data-source-metrics","origin":"external","project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","region":"fr-par","synchronized_with_grafana":true,"type":"metrics","updated_at":"2024-08-12T08:58:44.282146Z","url":"https://1b9e29ae-fcd4-4d37-add5-cd3e7044e767.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-12T08:58:44.302679Z","id":"3af10c90-79cf-4b0c-ba7a-2f513f75f93f","name":"my-data-source-logs","origin":"external","project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad","region":"fr-par","synchronized_with_grafana":true,"type":"logs","updated_at":"2024-08-12T08:58:44.302679Z","url":"https://3af10c90-79cf-4b0c-ba7a-2f513f75f93f.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.994706ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: GET
      response:
        body: '{"grafana_url":"https://fb2a3d12-1014-4e94-9f07-c36dff3711ad.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.118746ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://2b60d723-a1b0-4c4d-919b-564b177fbb21.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.372958ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"project_id":"fb2a3d12-1014-4e94-9f07-c36dff3711ad"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 419.430293ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=fb2a3d12-1014-4e94-9f07-c36dff3711ad
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.416937714s
[...]
