---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:03:35.152458Z","description":"","id":"2ebd13b7-618e-4062-9065-e2b5e5ecabdf","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:03:35.152458Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 484.972792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2ebd13b7-618e-4062-9065-e2b5e5ecabdf
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:03:35.152458Z","description":"","id":"2ebd13b7-618e-4062-9065-e2b5e5ecabdf","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:03:35.152458Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.823375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"2ebd13b7-618e-4062-9065-e2b5e5ecabdf","name":"my-source","type":"logs","retention_days":13}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:03:35.713992Z","id":"243e9f34-2a56-4217-9fe7-c34f7f7239dc","name":"my-source","origin":"custom","project_id":"2ebd13b7-618e-4062-9065-e2b5e5ecabdf","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:03:35.713992Z","url":"https://243e9f34-2a56-4217-9fe7-c34f7f7239dc.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.6575ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/243e9f34-2a56-4217-9fe7-c34f7f7239dc
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:03:35.713992Z","id":"243e9f34-2a56-4217-9fe7-c34f7f7239dc","name":"my-source","origin":"custom","project_id":"2ebd13b7-618e-4062-9065-e2b5e5ecabdf","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:03:35.713992Z","url":"https://243e9f34-2a56-4217-9fe7-c34f7f7239dc.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.705709ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/243e9f34-2a56-4217-9fe7-c34f7f7239dc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"243e9f34-2a56-4217-9fe7-c34f7f7239dc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.828584ms
