---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"b3f6e258-1ba7-4514-b8d3-ac051b943d8d\",\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.989345Z\",\"updated_at\":\"2025-09-01T16:57:01.989345Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 862.944727ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/b3f6e258-1ba7-4514-b8d3-ac051b943d8d
    method: GET
  response:
    body: "{\"id\":\"b3f6e258-1ba7-4514-b8d3-ac051b943d8d\",\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.989345Z\",\"updated_at\":\"2025-09-01T16:57:01.989345Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 249.365185ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"b3f6e258-1ba7-4514-b8d3-ac051b943d8d\",\"name\":\"my-source\",\"type\":\"logs\",\"retention_days\":31}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"ec566c46-2ee7-4312-99de-9121a816b964\",\"project_id\":\"b3f6e258-1ba7-4514-b8d3-ac051b943d8d\",\"name\":\"my-source\",\"url\":\"https://ec566c46-2ee7-4312-99de-9121a816b964.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:03.102643Z\",\"updated_at\":\"2025-09-01T16:57:03.102643Z\",\"synchronized_with_grafana\":false,\"retention_days\":31,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 235.934615ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ec566c46-2ee7-4312-99de-9121a816b964
    method: GET
  response:
    body: "{\"id\":\"ec566c46-2ee7-4312-99de-9121a816b964\",\"project_id\":\"b3f6e258-1ba7-4514-b8d3-ac051b943d8d\",\"name\":\"my-source\",\"url\":\"https://ec566c46-2ee7-4312-99de-9121a816b964.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:03.102643Z\",\"updated_at\":\"2025-09-01T16:57:03.102643Z\",\"synchronized_with_grafana\":false,\"retention_days\":31,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.255755ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ec566c46-2ee7-4312-99de-9121a816b964
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"data source\",\"resource_id\":\"ec566c46-2ee7-4312-99de-9121a816b964\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.961519ms
