---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T14:49:39.278980Z","description":"","id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T14:49:39.278980Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.367999ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: GET
      response:
        body: '{"created_at":"2024-07-02T14:49:39.278980Z","description":"","id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T14:49:39.278980Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.15261ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://081240d2-9121-48ef-8091-c38c232347d9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.700361ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","name":"my-data-source-metrics","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-02T14:49:39.734535Z","id":"296dba09-00fe-4b80-be56-870f34c6c05b","name":"my-data-source-metrics","origin":"external","project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-07-02T14:49:39.734535Z","url":"https://296dba09-00fe-4b80-be56-870f34c6c05b.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.214969ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/146a2401-9662-4cd8-bc57-51ee3da3abcf
        method: GET
      response:
        body: '{"created_at":"2024-07-02T14:49:39.751707Z","id":"146a2401-9662-4cd8-bc57-51ee3da3abcf","name":"my-data-source-traces","origin":"external","project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T14:49:39.751707Z","url":"https://146a2401-9662-4cd8-bc57-51ee3da3abcf.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.974414ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://081240d2-9121-48ef-8091-c38c232347d9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.624153ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://081240d2-9121-48ef-8091-c38c232347d9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.8948ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.658394ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"upstream request timeout"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 30.131269435s
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","login":"cockpit_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"cockpit_test","password":"1D4ydmDNybNECGrS","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 10.15690173s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"cockpit_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.563647ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.586929ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","plan_name":"premium"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.02915ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.680756ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-07-02T14:49:39.666493Z","id":"081240d2-9121-48ef-8091-c38c232347d9","name":"Scaleway Alerting","origin":"external","project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5","region":"fr-par","synchronized_with_grafana":false,"type":"unknown_type","updated_at":"2024-07-02T14:49:39.666493Z","url":"https://081240d2-9121-48ef-8091-c38c232347d9.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-07-02T14:49:39.734535Z","id":"296dba09-00fe-4b80-be56-870f34c6c05b","name":"my-data[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: GET
      response:
        body: '{"grafana_url":"https://45d977a4-8660-4d75-9742-ba1d2a4656f5.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.548212ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=45d977a4-8660-4d75-9742-ba1d2a4656f5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 230.585871ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://081240d2-9121-48ef-8091-c38c232347d9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.622026ms
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"project_id":"45d977a4-8660-4d75-9742-ba1d2a4656f5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.233583ms
[...]
