---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"938b5a7c-278f-4d3a-b95b-1eadb8a8e1ad\",\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.802828Z\",\"updated_at\":\"2025-09-01T16:57:01.802828Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 928.406841ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/938b5a7c-278f-4d3a-b95b-1eadb8a8e1ad
    method: GET
  response:
    body: "{\"id\":\"938b5a7c-278f-4d3a-b95b-1eadb8a8e1ad\",\"name\":\"tf_tests_cockpit_datasource_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.802828Z\",\"updated_at\":\"2025-09-01T16:57:01.802828Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.684494ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"938b5a7c-278f-4d3a-b95b-1eadb8a8e1ad\",\"name\":\"my-source\",\"type\":\"metrics\",\"retention_days\":31}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"465a11ea-ae97-4de5-b7a2-b55374acc002\",\"project_id\":\"938b5a7c-278f-4d3a-b95b-1eadb8a8e1ad\",\"name\":\"my-source\",\"url\":\"https://465a11ea-ae97-4de5-b7a2-b55374acc002.metrics.cockpit.fr-par.scw.cloud\",\"type\":\"metrics\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.900374Z\",\"updated_at\":\"2025-09-01T16:57:02.900374Z\",\"synchronized_with_grafana\":false,\"retention_days\":31,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 249.724441ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/465a11ea-ae97-4de5-b7a2-b55374acc002
    method: GET
  response:
    body: "{\"id\":\"465a11ea-ae97-4de5-b7a2-b55374acc002\",\"project_id\":\"938b5a7c-278f-4d3a-b95b-1eadb8a8e1ad\",\"name\":\"my-source\",\"url\":\"https://465a11ea-ae97-4de5-b7a2-b55374acc002.metrics.cockpit.fr-par.scw.cloud\",\"type\":\"metrics\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.900374Z\",\"updated_at\":\"2025-09-01T16:57:02.900374Z\",\"synchronized_with_grafana\":false,\"retention_days\":31,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.243111ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/465a11ea-ae97-4de5-b7a2-b55374acc002
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"data source\",\"resource_id\":\"465a11ea-ae97-4de5-b7a2-b55374acc002\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 34.194745ms
