---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-05-22T12:42:14.055610Z","description":"","id":"bf545347-0895-4fc9-981b-c044669654eb","name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-05-22T12:42:14.055610Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.177802ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/bf545347-0895-4fc9-981b-c044669654eb
        method: GET
      response:
        body: '{"created_at":"2024-05-22T12:42:14.055610Z","description":"","id":"bf545347-0895-4fc9-981b-c044669654eb","name":"tf_test_project","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-05-22T12:42:14.055610Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.577504ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"bf545347-0895-4fc9-981b-c044669654eb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.366738ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"bf545347-0895-4fc9-981b-c044669654eb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.126972ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"bf545347-0895-4fc9-981b-c044669654eb","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"initial1@example.com"},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.62061ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=bf545347-0895-4fc9-981b-c044669654eb
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.473412ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=bf545347-0895-4fc9-981b-c044669654eb
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"initial1@example.com"},"region":"fr-par"},{"email":{"to":"initial2@example.com"},"region":"fr-par"}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.394235ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"bf545347-0895-4fc9-981b-c044669654eb","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 343.584531ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"bf545347-0895-4fc9-981b-c044669654eb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.421699ms
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"bf545347-0895-4fc9-981b-c044669654eb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.985388ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=bf545347-0895-4fc9-981b-c044669654eb
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 54.157505ms
