---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T11:03:02.227698Z","description":"","id":"7210561b-c158-443c-aea2-ea40666b13f1","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T11:03:02.227698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 555.417665ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7210561b-c158-443c-aea2-ea40666b13f1
        method: GET
      response:
        body: '{"created_at":"2024-08-13T11:03:02.227698Z","description":"","id":"7210561b-c158-443c-aea2-ea40666b13f1","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T11:03:02.227698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.606379ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7210561b-c158-443c-aea2-ea40666b13f1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://e5228719-e7f3-4e13-9405-19cbb17dcf34.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.068405ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"7210561b-c158-443c-aea2-ea40666b13f1","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-13T11:03:02.745604Z","id":"9978ec0d-f715-4ab0-b8f0-8852912f0015","name":"my-data-source-traces","origin":"external","project_id":"7210561b-c158-443c-aea2-ea40666b13f1","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-13T11:03:02.745604Z","url":"https://9978ec0d-f715-4ab0-b8f0-8852912f0015.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.563866ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/9978ec0d-f715-4ab0-b8f0-8852912f0015
        method: GET
      response:
        body: '{"created_at":"2024-08-13T11:03:02.745604Z","id":"9978ec0d-f715-4ab0-b8f0-8852912f0015","name":"my-data-source-traces","origin":"external","project_id":"7210561b-c158-443c-aea2-ea40666b13f1","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-13T11:03:02.745604Z","url":"https://9978ec0d-f715-4ab0-b8f0-8852912f0015.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.578961ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"7210561b-c158-443c-aea2-ea40666b13f1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://e5228719-e7f3-4e13-9405-19cbb17dcf34.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.146669ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=7210561b-c158-443c-aea2-ea40666b13f1
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://e5228719-e7f3-4e13-9405-19cbb17dcf34.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.666841ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=7210561b-c158-443c-aea2-ea40666b13f1
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.507327ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"7210561b-c158-443c-aea2-ea40666b13f1","login":"cockpit_test_endpoint","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"cockpit_test_endpoint","password":"O6IunPw2JbPHwwDE","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.654845548s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=7210561b-c158-443c-aea2-ea40666b13f1
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"cockpit_test_endpoint","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.412385475s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.027208ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"7210561b-c158-443c-aea2-ea40666b13f1","plan_name":"premium"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.852752ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=7210561b-c158-443c-aea2-ea40666b13f1
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.259867ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=7210561b-c158-443c-aea2-ea40666b13f1
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-08-13T11:03:02.745604Z","id":"9978ec0d-f715-4ab0-b8f0-8852912f0015","name":"my-data-source-traces","origin":"external","project_id":"7210561b-c158-443c-aea2-ea40666b13f1","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-13T11:03:02.745604Z","url":"https://9978ec0d-f715-4ab0-b8f0-8852912f0015.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-13T11:03:02.785034Z","id":"6285999f-579e-4b3c-ac97-43380ddbd34e","name":"my-data-source-metrics","origin":"external","project_id":"7210561b-c158-443c-aea2-ea40666b13f1","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-13T11:03:02.785034Z","url":"https://6285999f-579e-4b3c-ac97-43380ddbd34e.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-13T11:03:02.807990Z","id":"74a62186-7652-488c-a3de-46b6f879d1d0","name":"my-data-source-logs","origin":"external","project_id":"7210561b-c158-443c-aea2-ea40666b13f1","region":"fr-par","synchronized_with_grafana":true,"type":"logs","updated_at":"2024-08-13T11:03:02.807990Z","url":"https://74a62186-7652-488c-a3de-46b6f879d1d0.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.564775ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=7210561b-c158-443c-aea2-ea40666b13f1
        method: GET
      response:
        body: '{"grafana_url":"https://7210561b-c158-443c-aea2-ea40666b13f1.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.895023ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=7210561b-c158-443c-aea2-ea40666b13f1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 263.723771ms
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"project_id":"7210561b-c158-443c-aea2-ea40666b13f1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://e5228719-e7f3-4e13-9405-19cbb17dcf34.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.311873ms
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"project_id":"7210561b-c158-443c-aea2-ea40666b13f1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.517195ms
[...]
