---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:31.395725Z","description":"","id":"28c8eadb-510a-491a-aed3-aa49ca73a21d","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:31.395725Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.278967ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/28c8eadb-510a-491a-aed3-aa49ca73a21d
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:31.395725Z","description":"","id":"28c8eadb-510a-491a-aed3-aa49ca73a21d","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:31.395725Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.700463ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"28c8eadb-510a-491a-aed3-aa49ca73a21d","name":"my-source","type":"logs"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:32.087716Z","id":"262264cd-c89d-4c18-a7ef-74b335832d25","name":"my-source","origin":"external","project_id":"28c8eadb-510a-491a-aed3-aa49ca73a21d","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-08-13T10:50:32.087716Z","url":"https://262264cd-c89d-4c18-a7ef-74b335832d25.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.268396ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/262264cd-c89d-4c18-a7ef-74b335832d25
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:32.087716Z","id":"262264cd-c89d-4c18-a7ef-74b335832d25","name":"my-source","origin":"external","project_id":"28c8eadb-510a-491a-aed3-aa49ca73a21d","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-08-13T10:50:32.087716Z","url":"https://262264cd-c89d-4c18-a7ef-74b335832d25.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.281724ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/262264cd-c89d-4c18-a7ef-74b335832d25
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"262264cd-c89d-4c18-a7ef-74b335832d25","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.671133ms
