---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-12T14:54:23.052479Z","description":"","id":"f9d7fbd6-c86c-45d8-ad28-963e0a251e0c","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-12T14:54:23.052479Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 977.68625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f9d7fbd6-c86c-45d8-ad28-963e0a251e0c
        method: GET
      response:
        body: '{"created_at":"2024-12-12T14:54:23.052479Z","description":"","id":"f9d7fbd6-c86c-45d8-ad28-963e0a251e0c","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-12T14:54:23.052479Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.312959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f9d7fbd6-c86c-45d8-ad28-963e0a251e0c","name":"my-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-12T14:54:23.714975Z","id":"547c1b2d-321c-4a80-8c53-5e58a866b0c3","name":"my-source","origin":"custom","project_id":"f9d7fbd6-c86c-45d8-ad28-963e0a251e0c","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-12T14:54:23.714975Z","url":"https://547c1b2d-321c-4a80-8c53-5e58a866b0c3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.527125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/547c1b2d-321c-4a80-8c53-5e58a866b0c3
        method: GET
      response:
        body: '{"created_at":"2024-12-12T14:54:23.714975Z","id":"547c1b2d-321c-4a80-8c53-5e58a866b0c3","name":"my-source","origin":"custom","project_id":"f9d7fbd6-c86c-45d8-ad28-963e0a251e0c","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-12T14:54:23.714975Z","url":"https://547c1b2d-321c-4a80-8c53-5e58a866b0c3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.375709ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/547c1b2d-321c-4a80-8c53-5e58a866b0c3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"547c1b2d-321c-4a80-8c53-5e58a866b0c3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.838917ms
