---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:25.028389Z","description":"","id":"7470157d-f669-482c-ab98-6ee099955db1","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:25.028389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 440.846667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7470157d-f669-482c-ab98-6ee099955db1
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:25.028389Z","description":"","id":"7470157d-f669-482c-ab98-6ee099955db1","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:25.028389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.121416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7470157d-f669-482c-ab98-6ee099955db1","name":"initial-name","type":"logs","retention_days":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:25.615389Z","id":"cc640233-a6be-4d19-8cba-75c3523ad8db","name":"initial-name","origin":"custom","project_id":"7470157d-f669-482c-ab98-6ee099955db1","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:25.615389Z","url":"https://cc640233-a6be-4d19-8cba-75c3523ad8db.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.609542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/cc640233-a6be-4d19-8cba-75c3523ad8db
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:25.615389Z","id":"cc640233-a6be-4d19-8cba-75c3523ad8db","name":"initial-name","origin":"custom","project_id":"7470157d-f669-482c-ab98-6ee099955db1","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:25.615389Z","url":"https://cc640233-a6be-4d19-8cba-75c3523ad8db.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.351417ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/f1fb05a7-7d6b-48d6-8dff-22e8041fdd81
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"f1fb05a7-7d6b-48d6-8dff-22e8041fdd81","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.219917ms
