---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-20T13:17:49.902550Z","description":"","id":"cb88baf1-80d8-4b0b-bb31-3ffe20810b7d","name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T13:17:49.902550Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 866.01925ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cb88baf1-80d8-4b0b-bb31-3ffe20810b7d
        method: GET
      response:
        body: '{"created_at":"2024-12-20T13:17:49.902550Z","description":"","id":"cb88baf1-80d8-4b0b-bb31-3ffe20810b7d","name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T13:17:49.902550Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.926709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb88baf1-80d8-4b0b-bb31-3ffe20810b7d","name":"source-by-name","type":"logs","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-20T13:17:50.621465Z","id":"69bce474-8dd5-4628-b386-5562f561e69b","name":"source-by-name","origin":"custom","project_id":"cb88baf1-80d8-4b0b-bb31-3ffe20810b7d","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-20T13:17:50.621465Z","url":"https://69bce474-8dd5-4628-b386-5562f561e69b.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.876917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/69bce474-8dd5-4628-b386-5562f561e69b
        method: GET
      response:
        body: '{"created_at":"2024-12-20T13:17:50.621465Z","id":"69bce474-8dd5-4628-b386-5562f561e69b","name":"source-by-name","origin":"custom","project_id":"cb88baf1-80d8-4b0b-bb31-3ffe20810b7d","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-20T13:17:50.621465Z","url":"https://69bce474-8dd5-4628-b386-5562f561e69b.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.133875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&page_size=1000&project_id=cb88baf1-80d8-4b0b-bb31-3ffe20810b7d
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-12-20T13:17:50.621465Z","id":"69bce474-8dd5-4628-b386-5562f561e69b","name":"source-by-name","origin":"custom","project_id":"cb88baf1-80d8-4b0b-bb31-3ffe20810b7d","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-20T13:17:50.621465Z","url":"https://69bce474-8dd5-4628-b386-5562f561e69b.logs.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.106791ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/69bce474-8dd5-4628-b386-5562f561e69b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"69bce474-8dd5-4628-b386-5562f561e69b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.735791ms
[...]
