---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:28.543800Z","description":"","id":"643f5a2d-bf67-4b95-83e8-4721cdee5eb1","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:28.543800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 539.001513ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/643f5a2d-bf67-4b95-83e8-4721cdee5eb1
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:28.543800Z","description":"","id":"643f5a2d-bf67-4b95-83e8-4721cdee5eb1","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:28.543800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.569685ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"643f5a2d-bf67-4b95-83e8-4721cdee5eb1","name":"my-source","type":"logs"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:29.274351Z","id":"374f6666-ea1a-4a4f-b637-766185b0e86c","name":"my-source","origin":"external","project_id":"643f5a2d-bf67-4b95-83e8-4721cdee5eb1","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-09-19T09:04:29.274351Z","url":"https://374f6666-ea1a-4a4f-b637-766185b0e86c.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.267351ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/374f6666-ea1a-4a4f-b637-766185b0e86c
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:29.274351Z","id":"374f6666-ea1a-4a4f-b637-766185b0e86c","name":"my-source","origin":"external","project_id":"643f5a2d-bf67-4b95-83e8-4721cdee5eb1","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-09-19T09:04:29.274351Z","url":"https://374f6666-ea1a-4a4f-b637-766185b0e86c.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.391815ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/374f6666-ea1a-4a4f-b637-766185b0e86c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"374f6666-ea1a-4a4f-b637-766185b0e86c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.687848ms
