---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-20T09:54:17.847960Z","description":"","id":"f520ad24-16c6-49b7-b3c5-885aa9e74dca","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T09:54:17.847960Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 687.479959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f520ad24-16c6-49b7-b3c5-885aa9e74dca
        method: GET
      response:
        body: '{"created_at":"2024-12-20T09:54:17.847960Z","description":"","id":"f520ad24-16c6-49b7-b3c5-885aa9e74dca","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T09:54:17.847960Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.657ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f520ad24-16c6-49b7-b3c5-885aa9e74dca","name":"my-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-20T09:54:18.548120Z","id":"4998fe45-b576-4ef7-9a3e-acfc01db1ea3","name":"my-source","origin":"custom","project_id":"f520ad24-16c6-49b7-b3c5-885aa9e74dca","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-20T09:54:18.548120Z","url":"https://4998fe45-b576-4ef7-9a3e-acfc01db1ea3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.85775ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/4998fe45-b576-4ef7-9a3e-acfc01db1ea3
        method: GET
      response:
        body: '{"created_at":"2024-12-20T09:54:18.548120Z","id":"4998fe45-b576-4ef7-9a3e-acfc01db1ea3","name":"my-source","origin":"custom","project_id":"f520ad24-16c6-49b7-b3c5-885aa9e74dca","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-20T09:54:18.548120Z","url":"https://4998fe45-b576-4ef7-9a3e-acfc01db1ea3.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.481833ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/4998fe45-b576-4ef7-9a3e-acfc01db1ea3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"4998fe45-b576-4ef7-9a3e-acfc01db1ea3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.513583ms
