---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:02:43.258086Z","description":"","id":"a658e694-dab3-4513-bf01-9d367d74306f","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:02:43.258086Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 673.105ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a658e694-dab3-4513-bf01-9d367d74306f
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:02:43.258086Z","description":"","id":"a658e694-dab3-4513-bf01-9d367d74306f","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:02:43.258086Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.074917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a658e694-dab3-4513-bf01-9d367d74306f","name":"my-source","type":"metrics","retention_days":6}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:02:43.837340Z","id":"c56ad6ca-37f0-463a-8619-fdf88f6269cf","name":"my-source","origin":"custom","project_id":"a658e694-dab3-4513-bf01-9d367d74306f","region":"fr-par","retention_days":6,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-11T11:02:43.837340Z","url":"https://c56ad6ca-37f0-463a-8619-fdf88f6269cf.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.84375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/c56ad6ca-37f0-463a-8619-fdf88f6269cf
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:02:43.837340Z","id":"c56ad6ca-37f0-463a-8619-fdf88f6269cf","name":"my-source","origin":"custom","project_id":"a658e694-dab3-4513-bf01-9d367d74306f","region":"fr-par","retention_days":6,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-11T11:02:43.837340Z","url":"https://c56ad6ca-37f0-463a-8619-fdf88f6269cf.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.342042ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/c56ad6ca-37f0-463a-8619-fdf88f6269cf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"c56ad6ca-37f0-463a-8619-fdf88f6269cf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.757666ms
