---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_id","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:35:55.936491Z","description":"","id":"d7b9c2f6-2c34-4b00-a486-b9a7b4ad9e1f","name":"tf_tests_cockpit_datasource_by_id","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2025-05-22T14:35:55.936491Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 459.667917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d7b9c2f6-2c34-4b00-a486-b9a7b4ad9e1f
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:35:55.936491Z","description":"","id":"d7b9c2f6-2c34-4b00-a486-b9a7b4ad9e1f","name":"tf_tests_cockpit_datasource_by_id","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-05-22T14:35:55.936491Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.045375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"d7b9c2f6-2c34-4b00-a486-b9a7b4ad9e1f","name":"source-by-id","type":"metrics","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:35:56.462646Z","id":"db560ac8-661b-4bcf-91d6-f03f31eef4e4","name":"source-by-id","origin":"custom","project_id":"d7b9c2f6-2c34-4b00-a486-b9a7b4ad9e1f","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-05-22T14:35:56.462646Z","url":"https://db560ac8-661b-4bcf-91d6-f03f31eef4e4.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.815ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/db560ac8-661b-4bcf-91d6-f03f31eef4e4
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:35:56.462646Z","id":"db560ac8-661b-4bcf-91d6-f03f31eef4e4","name":"source-by-id","origin":"custom","project_id":"d7b9c2f6-2c34-4b00-a486-b9a7b4ad9e1f","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-05-22T14:35:56.462646Z","url":"https://db560ac8-661b-4bcf-91d6-f03f31eef4e4.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.990792ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/db560ac8-661b-4bcf-91d6-f03f31eef4e4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"db560ac8-661b-4bcf-91d6-f03f31eef4e4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 114.457875ms
[...]
