---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_update_preconfigured","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T09:32:30.617413Z","description":"","id":"93dcdbfa-e39d-4812-8605-dc28fe2db81b","name":"tf_tests_cockpit_alert_manager_update_preconfigured","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"updated_at":"2025-12-29T09:32:30.617413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.394875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/93dcdbfa-e39d-4812-8605-dc28fe2db81b
        method: GET
      response:
        body: '{"created_at":"2025-12-29T09:32:30.617413Z","description":"","id":"93dcdbfa-e39d-4812-8605-dc28fe2db81b","name":"tf_tests_cockpit_alert_manager_update_preconfigured","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T09:32:30.617413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.883959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"93dcdbfa-e39d-4812-8605-dc28fe2db81b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://cceb3b76-efa9-4a6b-9278-c5da7f28056b.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.926792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"93dcdbfa-e39d-4812-8605-dc28fe2db81b","rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable-alert-rules
        method: POST
      response:
        body: '{"enabled_rule_ids":["6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 673.648875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=93dcdbfa-e39d-4812-8605-dc28fe2db81b
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 35.971666ms
[...]
