---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-07-02T11:27:49.731846Z","description":"","id":"c4d985ab-0621-47cf-89fa-f11b130b7584","name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-07-02T11:27:49.731846Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.926292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c4d985ab-0621-47cf-89fa-f11b130b7584
        method: GET
      response:
        body: '{"created_at":"2025-07-02T11:27:49.731846Z","description":"","id":"c4d985ab-0621-47cf-89fa-f11b130b7584","name":"tf_tests_cockpit_datasource_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-07-02T11:27:49.731846Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.242125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c4d985ab-0621-47cf-89fa-f11b130b7584","name":"source-by-name","type":"logs","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-07-02T11:27:50.317949Z","id":"7b0d25a4-c657-4195-bd59-e94f8ab3e72d","name":"source-by-name","origin":"custom","project_id":"c4d985ab-0621-47cf-89fa-f11b130b7584","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-07-02T11:27:50.317949Z","url":"https://7b0d25a4-c657-4195-bd59-e94f8ab3e72d.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.480375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7b0d25a4-c657-4195-bd59-e94f8ab3e72d
        method: GET
      response:
        body: '{"created_at":"2025-07-02T11:27:50.317949Z","id":"7b0d25a4-c657-4195-bd59-e94f8ab3e72d","name":"source-by-name","origin":"custom","project_id":"c4d985ab-0621-47cf-89fa-f11b130b7584","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-07-02T11:27:50.317949Z","url":"https://7b0d25a4-c657-4195-bd59-e94f8ab3e72d.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.575167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=c4d985ab-0621-47cf-89fa-f11b130b7584
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-07-02T11:27:50.317949Z","id":"7b0d25a4-c657-4195-bd59-e94f8ab3e72d","name":"source-by-name","origin":"custom","project_id":"c4d985ab-0621-47cf-89fa-f11b130b7584","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-07-02T11:27:50.317949Z","url":"https://7b0d25a4-c657-4195-bd59-e94f8ab3e72d.logs.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.400667ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/7b0d25a4-c657-4195-bd59-e94f8ab3e72d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"7b0d25a4-c657-4195-bd59-e94f8ab3e72d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.585ms
[...]
