---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:18:47.722465Z","description":"","id":"2047883c-39e1-43f0-aaca-556dc03fef5b","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:18:47.722465Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.009994459s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2047883c-39e1-43f0-aaca-556dc03fef5b
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:18:47.722465Z","description":"","id":"2047883c-39e1-43f0-aaca-556dc03fef5b","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:18:47.722465Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.44175ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"2047883c-39e1-43f0-aaca-556dc03fef5b","name":"my-source","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:18:48.389338Z","id":"2eeb91de-0859-434e-93dd-9880a668c981","name":"my-source","origin":"custom","project_id":"2047883c-39e1-43f0-aaca-556dc03fef5b","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-11T11:18:48.389338Z","url":"https://2eeb91de-0859-434e-93dd-9880a668c981.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.719666ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/2eeb91de-0859-434e-93dd-9880a668c981
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:18:48.389338Z","id":"2eeb91de-0859-434e-93dd-9880a668c981","name":"my-source","origin":"custom","project_id":"2047883c-39e1-43f0-aaca-556dc03fef5b","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-11T11:18:48.389338Z","url":"https://2eeb91de-0859-434e-93dd-9880a668c981.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.055875ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/2eeb91de-0859-434e-93dd-9880a668c981
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"2eeb91de-0859-434e-93dd-9880a668c981","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.69175ms
