---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:02.670185Z","description":"","id":"ff3dc7f6-0f16-4ca3-9910-90569095c701","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.670185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.108438549s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ff3dc7f6-0f16-4ca3-9910-90569095c701
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:02.670185Z","description":"","id":"ff3dc7f6-0f16-4ca3-9910-90569095c701","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.670185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.554021ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ff3dc7f6-0f16-4ca3-9910-90569095c701","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:03.668386Z","id":"b46b8a1a-201d-4397-a57f-97331598a8e0","name":"my-source","origin":"external","project_id":"ff3dc7f6-0f16-4ca3-9910-90569095c701","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-01T13:53:03.668386Z","url":"https://b46b8a1a-201d-4397-a57f-97331598a8e0.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.323336ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/b46b8a1a-201d-4397-a57f-97331598a8e0
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:03.668386Z","id":"b46b8a1a-201d-4397-a57f-97331598a8e0","name":"my-source","origin":"external","project_id":"ff3dc7f6-0f16-4ca3-9910-90569095c701","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-01T13:53:03.668386Z","url":"https://b46b8a1a-201d-4397-a57f-97331598a8e0.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.143529ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/b46b8a1a-201d-4397-a57f-97331598a8e0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"b46b8a1a-201d-4397-a57f-97331598a8e0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.539537ms
