---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T15:17:51.716983Z","description":"","id":"3aa3aa81-d0d9-42d6-94c1-4543603a4cfe","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T15:17:51.716983Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.903042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3aa3aa81-d0d9-42d6-94c1-4543603a4cfe
        method: GET
      response:
        body: '{"created_at":"2024-12-10T15:17:51.716983Z","description":"","id":"3aa3aa81-d0d9-42d6-94c1-4543603a4cfe","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T15:17:51.716983Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.861958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"3aa3aa81-d0d9-42d6-94c1-4543603a4cfe","name":"my-source","type":"logs","retention_days":13}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-10T15:17:52.363909Z","id":"3030a5a8-f090-41a6-ad4c-09754a5a654b","name":"my-source","origin":"custom","project_id":"3aa3aa81-d0d9-42d6-94c1-4543603a4cfe","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-10T15:17:52.363909Z","url":"https://3030a5a8-f090-41a6-ad4c-09754a5a654b.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.113084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/3030a5a8-f090-41a6-ad4c-09754a5a654b
        method: GET
      response:
        body: '{"created_at":"2024-12-10T15:17:52.363909Z","id":"3030a5a8-f090-41a6-ad4c-09754a5a654b","name":"my-source","origin":"custom","project_id":"3aa3aa81-d0d9-42d6-94c1-4543603a4cfe","region":"fr-par","retention_days":13,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-10T15:17:52.363909Z","url":"https://3030a5a8-f090-41a6-ad4c-09754a5a654b.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.284375ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/3030a5a8-f090-41a6-ad4c-09754a5a654b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"3030a5a8-f090-41a6-ad4c-09754a5a654b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.831042ms
