---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"02db3102-6480-47a0-b285-f55933098dd6\",\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:12.545673Z\",\"updated_at\":\"2025-09-01T16:57:12.545673Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 456.53647ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/02db3102-6480-47a0-b285-f55933098dd6
    method: GET
  response:
    body: "{\"id\":\"02db3102-6480-47a0-b285-f55933098dd6\",\"name\":\"tf_test_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:12.545673Z\",\"updated_at\":\"2025-09-01T16:57:12.545673Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.980862ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"02db3102-6480-47a0-b285-f55933098dd6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://16602d9c-5856-48e9-a64d-9c49cde0671f.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 207.236445ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"02db3102-6480-47a0-b285-f55933098dd6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://16602d9c-5856-48e9-a64d-9c49cde0671f.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 952.31148ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"02db3102-6480-47a0-b285-f55933098dd6\",\"email\":{\"to\":\"initial1@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
    method: POST
  response:
    body: "{\"email\":{\"to\":\"initial1@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 367.464797ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 02db3102-6480-47a0-b285-f55933098dd6
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=02db3102-6480-47a0-b285-f55933098dd6
    method: GET
  response:
    body: "{\"alert_manager_url\":\"https://16602d9c-5856-48e9-a64d-9c49cde0671f.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.490345ms
- id: 7
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 02db3102-6480-47a0-b285-f55933098dd6
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=02db3102-6480-47a0-b285-f55933098dd6
    method: GET
  response:
    body: "{\"total_count\":2,\"contact_points\":[{\"email\":{\"to\":\"initial1@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"},{\"email\":{\"to\":\"initial2@example.com\"},\"send_resolved_notifications\":true,\"region\":\"fr-par\"}],\"has_additional_receivers\":false,\"has_additional_contact_points\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.173026ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"02db3102-6480-47a0-b285-f55933098dd6\",\"email\":{\"to\":\"initial1@example.com\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 210.470805ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"02db3102-6480-47a0-b285-f55933098dd6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://16602d9c-5856-48e9-a64d-9c49cde0671f.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 188.8424ms
- id: 29
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"02db3102-6480-47a0-b285-f55933098dd6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":null,\"alert_manager_enabled\":false,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 225.360113ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 02db3102-6480-47a0-b285-f55933098dd6
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=02db3102-6480-47a0-b285-f55933098dd6
    method: GET
  response:
    body: "{\"details\":[{\"action\":\"read\",\"resource\":\"cockpit\"}],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 302.189586ms
