---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_source_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"b6d60ace-f2e6-491e-b162-de9af25e7832\",\"name\":\"tf_tests_cockpit_source_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.685250Z\",\"updated_at\":\"2025-09-01T16:57:01.685250Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 578.641139ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/b6d60ace-f2e6-491e-b162-de9af25e7832
    method: GET
  response:
    body: "{\"id\":\"b6d60ace-f2e6-491e-b162-de9af25e7832\",\"name\":\"tf_tests_cockpit_source_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.685250Z\",\"updated_at\":\"2025-09-01T16:57:01.685250Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 212.176066ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"b6d60ace-f2e6-491e-b162-de9af25e7832\",\"name\":\"initial-name\",\"type\":\"logs\",\"retention_days\":10}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"8464e36c-8689-436c-82a9-cb9a5602acd7\",\"project_id\":\"b6d60ace-f2e6-491e-b162-de9af25e7832\",\"name\":\"initial-name\",\"url\":\"https://8464e36c-8689-436c-82a9-cb9a5602acd7.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.466045Z\",\"updated_at\":\"2025-09-01T16:57:02.466045Z\",\"synchronized_with_grafana\":false,\"retention_days\":10,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 336.409804ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/8464e36c-8689-436c-82a9-cb9a5602acd7
    method: GET
  response:
    body: "{\"id\":\"8464e36c-8689-436c-82a9-cb9a5602acd7\",\"project_id\":\"b6d60ace-f2e6-491e-b162-de9af25e7832\",\"name\":\"initial-name\",\"url\":\"https://8464e36c-8689-436c-82a9-cb9a5602acd7.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:02.466045Z\",\"updated_at\":\"2025-09-01T16:57:02.466045Z\",\"synchronized_with_grafana\":false,\"retention_days\":10,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.700117ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/9588bfa5-1d0d-45b8-ac3a-ef438c77b2ca
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"data source\",\"resource_id\":\"9588bfa5-1d0d-45b8-ac3a-ef438c77b2ca\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 32.27425ms
