---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:00.596350Z","description":"","id":"0ca30e8f-43d8-417b-aeaf-904b66182790","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:00.596350Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 837.908292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0ca30e8f-43d8-417b-aeaf-904b66182790
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:00.596350Z","description":"","id":"0ca30e8f-43d8-417b-aeaf-904b66182790","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:00.596350Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.829375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"0ca30e8f-43d8-417b-aeaf-904b66182790","name":"my-source","type":"logs","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:01.364666Z","id":"94326abe-6449-4d49-86fb-d7291ebb18a8","name":"my-source","origin":"custom","project_id":"0ca30e8f-43d8-417b-aeaf-904b66182790","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:01.364666Z","url":"https://94326abe-6449-4d49-86fb-d7291ebb18a8.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.209083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/94326abe-6449-4d49-86fb-d7291ebb18a8
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:01.364666Z","id":"94326abe-6449-4d49-86fb-d7291ebb18a8","name":"my-source","origin":"custom","project_id":"0ca30e8f-43d8-417b-aeaf-904b66182790","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:01.364666Z","url":"https://94326abe-6449-4d49-86fb-d7291ebb18a8.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.024875ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/94326abe-6449-4d49-86fb-d7291ebb18a8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"94326abe-6449-4d49-86fb-d7291ebb18a8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.096459ms
