---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_sources_by_type","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-04T04:40:23.225400Z","description":"","id":"ac788a0b-05ad-420b-a62e-ed71a5de0334","name":"tf_tests_cockpit_sources_by_type","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-04T04:40:23.225400Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 579.094125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ac788a0b-05ad-420b-a62e-ed71a5de0334
        method: GET
      response:
        body: '{"created_at":"2025-09-04T04:40:23.225400Z","description":"","id":"ac788a0b-05ad-420b-a62e-ed71a5de0334","name":"tf_tests_cockpit_sources_by_type","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-04T04:40:23.225400Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.089416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ac788a0b-05ad-420b-a62e-ed71a5de0334","name":"test-metrics-source","type":"metrics","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-09-04T04:40:23.834161Z","id":"2351a960-ec71-449c-ad4c-e4b7f4b69364","name":"test-metrics-source","origin":"custom","project_id":"ac788a0b-05ad-420b-a62e-ed71a5de0334","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:40:23.834161Z","url":"https://2351a960-ec71-449c-ad4c-e4b7f4b69364.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.45525ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/2351a960-ec71-449c-ad4c-e4b7f4b69364
        method: GET
      response:
        body: '{"created_at":"2025-09-04T04:40:23.834161Z","id":"2351a960-ec71-449c-ad4c-e4b7f4b69364","name":"test-metrics-source","origin":"custom","project_id":"ac788a0b-05ad-420b-a62e-ed71a5de0334","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:40:23.834161Z","url":"https://2351a960-ec71-449c-ad4c-e4b7f4b69364.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.891834ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=ac788a0b-05ad-420b-a62e-ed71a5de0334&types=metrics
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-09-04T04:40:23.834161Z","id":"2351a960-ec71-449c-ad4c-e4b7f4b69364","name":"test-metrics-source","origin":"custom","project_id":"ac788a0b-05ad-420b-a62e-ed71a5de0334","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:40:23.834161Z","url":"https://2351a960-ec71-449c-ad4c-e4b7f4b69364.metrics.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.445875ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/2351a960-ec71-449c-ad4c-e4b7f4b69364
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"2351a960-ec71-449c-ad4c-e4b7f4b69364","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 197.553125ms
[...]
