---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T14:40:03.628515Z","description":"","id":"d84c7d08-34b7-4612-af65-c0524c51a684","name":"tf_tests_cockpit_alert_manager_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-29T14:40:03.628515Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.092375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d84c7d08-34b7-4612-af65-c0524c51a684
        method: GET
      response:
        body: '{"created_at":"2025-12-29T14:40:03.628515Z","description":"","id":"d84c7d08-34b7-4612-af65-c0524c51a684","name":"tf_tests_cockpit_alert_manager_preconfigured","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T14:40:03.628515Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.168333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"d84c7d08-34b7-4612-af65-c0524c51a684"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://35cd621a-89df-404f-892d-239eb6a5f0ed.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.474399667s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"d84c7d08-34b7-4612-af65-c0524c51a684","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable-alert-rules
        method: POST
      response:
        body: '{"enabled_rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.515364375s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=d84c7d08-34b7-4612-af65-c0524c51a684
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"description":"Data Warehouse {{ $labels.resource_name }} with id {{ $labels.resource_id }} has a CPU usage superior to 90% since 10 minutes and cannot scale-up above its maximum vCPU configuration. To avoid performance degradation in your application, we recommend you increase maximum vCPU in your data warehouse configuration or investigate your SQL queries generating this high workload on your data warehouse.\nAccess your data warehouse configuration: https://console.scaleway.com/data-warehouse/fr-par/deployments{{ $labels.resource_id }}/overview","display_description":"\u003e 90 % for 10 minutes","display_name":"High CPU usage","family":"Data \u0026 Analytics","product":"Data Warehouse","rule_id":"ac63ebdc-eaba-4aeb-a771-4d028363a75b","summary":"High CPU usage on Data Warehouse {{ $labels.resource_name }}."},"data_source_id":"","duration":"10m","name":"DataWarehouseHighCPUUsage","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 90 % for 10 minutes","display_name":"High CPU usage","preconfigured_rule_id":"ac63ebdc-eaba-4aeb-a771-4d028363a75b","product_family":"Data \u0026 Analytics","product_name":"Data Warehouse"},"region":"fr-par","rule":"(rate(data_warehouse_clickhouse_cpu_provisioned{mode!=\"idle\"}[2m]) / (data_warehouse_clickhouse_cpu_provisioned / 100000)) \u003e 0.9","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-redis-overview/redis-overview?var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"Redis™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a CPU usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","family":"Managed Databases","product":"Redis","rule_id":"f5e3c109-91b3-4586-b580-9f86529c1df8","summary":"High CPU usage on Redis™ {{[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"d84c7d08-34b7-4612-af65-c0524c51a684","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.225666ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=d84c7d08-34b7-4612-af65-c0524c51a684
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://35cd621a-89df-404f-892d-239eb6a5f0ed.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.507875ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=d84c7d08-34b7-4612-af65-c0524c51a684
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"test@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.450291ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"d84c7d08-34b7-4612-af65-c0524c51a684","rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable-alert-rules
        method: POST
      response:
        body: '{"disabled_rule_ids":["eb8a941e-698d-47d6-b62d-4b6c13f7b4b7","6c6843af-1815-46df-9e52-6feafcf31fd7"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.526708ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"d84c7d08-34b7-4612-af65-c0524c51a684","email":{"to":"test@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 654.309209ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"d84c7d08-34b7-4612-af65-c0524c51a684"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.027292ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=d84c7d08-34b7-4612-af65-c0524c51a684
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 159.113334ms
