---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T07:20:23.434622Z","description":"","id":"883b3e32-9501-4d85-b0d6-7651d2dcd36a","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T07:20:23.434622Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.426707ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/883b3e32-9501-4d85-b0d6-7651d2dcd36a
        method: GET
      response:
        body: '{"created_at":"2024-08-13T07:20:23.434622Z","description":"","id":"883b3e32-9501-4d85-b0d6-7651d2dcd36a","name":"tf_tests_cockpit_datasource_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T07:20:23.434622Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.792313ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"883b3e32-9501-4d85-b0d6-7651d2dcd36a","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-13T07:20:23.997143Z","id":"f0d4eb19-0631-4e6a-bfd8-5b4ca38dd352","name":"my-source","origin":"external","project_id":"883b3e32-9501-4d85-b0d6-7651d2dcd36a","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-13T07:20:23.997143Z","url":"https://f0d4eb19-0631-4e6a-bfd8-5b4ca38dd352.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.482304ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/f0d4eb19-0631-4e6a-bfd8-5b4ca38dd352
        method: GET
      response:
        body: '{"created_at":"2024-08-13T07:20:23.997143Z","id":"f0d4eb19-0631-4e6a-bfd8-5b4ca38dd352","name":"my-source","origin":"external","project_id":"883b3e32-9501-4d85-b0d6-7651d2dcd36a","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-13T07:20:23.997143Z","url":"https://f0d4eb19-0631-4e6a-bfd8-5b4ca38dd352.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.994489ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/f0d4eb19-0631-4e6a-bfd8-5b4ca38dd352
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"f0d4eb19-0631-4e6a-bfd8-5b4ca38dd352","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.248633ms
