---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-29T14:40:00.712034Z","description":"","id":"36a770c6-8a9a-4558-bc2e-e855a1538f6e","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-29T14:40:00.712034Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 748.7005ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/36a770c6-8a9a-4558-bc2e-e855a1538f6e
        method: GET
      response:
        body: '{"created_at":"2025-12-29T14:40:00.712034Z","description":"","id":"36a770c6-8a9a-4558-bc2e-e855a1538f6e","name":"tf_tests_cockpit_alert_manager","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-29T14:40:00.712034Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.214166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"36a770c6-8a9a-4558-bc2e-e855a1538f6e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://85fc5a94-2c71-4890-93e3-6b4dc631a91d.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.809426709s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"36a770c6-8a9a-4558-bc2e-e855a1538f6e","email":{"to":"notupdated@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"notupdated@example.com"},"region":"fr-par","send_resolved_notifications":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 932.148959ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=36a770c6-8a9a-4558-bc2e-e855a1538f6e
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://85fc5a94-2c71-4890-93e3-6b4dc631a91d.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.11725ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=36a770c6-8a9a-4558-bc2e-e855a1538f6e
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-redis-overview/redis-overview?var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"Redis™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a CPU usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","family":"Managed Databases","product":"Redis","rule_id":"f5e3c109-91b3-4586-b580-9f86529c1df8","summary":"High CPU usage on Redis™ {{ $labels.instance }} node"},"data_source_id":"","duration":"10m","name":"HighCpuUsage","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","preconfigured_rule_id":"f5e3c109-91b3-4586-b580-9f86529c1df8","product_family":"Managed Databases","product_name":"Redis"},"region":"fr-par","rule":"1 - (avg by (instance, resource_name, resource_id, project_id, region) (irate(rkv_cluster_node_cpu_seconds_total{mode=\"idle\"}[5m]))) \u003e 0.8","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-rdb-postgresql-overview/rdb-postgresql-overview?\u0026var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"PostgreSQL™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a CPU usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","family":"Managed Databases","product":"PostgreSQL","ru[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=36a770c6-8a9a-4558-bc2e-e855a1538f6e
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"notupdated@example.com"},"region":"fr-par","send_resolved_notifications":true},{"email":{"to":"initial1@example.com"},"region":"fr-par","send_resolved_notifications":true}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.763125ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"36a770c6-8a9a-4558-bc2e-e855a1538f6e","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 434.307458ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"36a770c6-8a9a-4558-bc2e-e855a1538f6e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.588459ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=36a770c6-8a9a-4558-bc2e-e855a1538f6e
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 98.589875ms
