---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T09:48:14.089145Z","description":"","id":"beb4038f-291d-4b28-bcce-896db478b3d3","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T09:48:14.089145Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 584.407042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/beb4038f-291d-4b28-bcce-896db478b3d3
        method: GET
      response:
        body: '{"created_at":"2024-12-11T09:48:14.089145Z","description":"","id":"beb4038f-291d-4b28-bcce-896db478b3d3","name":"tf_tests_cockpit_source_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T09:48:14.089145Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.902166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"beb4038f-291d-4b28-bcce-896db478b3d3","name":"initial-name","type":"logs","retention_days":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T09:48:14.684014Z","id":"2e5da8c0-26bd-4b32-8fc3-e86a04fb1f7a","name":"initial-name","origin":"custom","project_id":"beb4038f-291d-4b28-bcce-896db478b3d3","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T09:48:14.684014Z","url":"https://2e5da8c0-26bd-4b32-8fc3-e86a04fb1f7a.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.358583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/2e5da8c0-26bd-4b32-8fc3-e86a04fb1f7a
        method: GET
      response:
        body: '{"created_at":"2024-12-11T09:48:14.684014Z","id":"2e5da8c0-26bd-4b32-8fc3-e86a04fb1f7a","name":"initial-name","origin":"custom","project_id":"beb4038f-291d-4b28-bcce-896db478b3d3","region":"fr-par","retention_days":10,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T09:48:14.684014Z","url":"https://2e5da8c0-26bd-4b32-8fc3-e86a04fb1f7a.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.47825ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/0d563604-ffc8-4742-8609-a27a4a985f5e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"0d563604-ffc8-4742-8609-a27a4a985f5e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.04275ms
