---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_import_identity","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-06-13T10:18:48.022747Z","description":"","id":"aacb5d9e-97da-4b82-9a85-4c2b554392c6","name":"tf_tests_cockpit_datasource_import_identity","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-06-13T10:18:48.022747Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 929.763ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/aacb5d9e-97da-4b82-9a85-4c2b554392c6
        method: GET
      response:
        body: '{"created_at":"2025-06-13T10:18:48.022747Z","description":"","id":"aacb5d9e-97da-4b82-9a85-4c2b554392c6","name":"tf_tests_cockpit_datasource_import_identity","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-06-13T10:18:48.022747Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.196042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"aacb5d9e-97da-4b82-9a85-4c2b554392c6","name":"","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"details":[{"argument_name":"name","help_message":"value length must be between 3 and 50 runes, inclusive","reason":"constraint"},{"argument_name":"name","help_message":"value does not match regex pattern \"^[A-Za-z0-9-_. ]+$\"","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 26.134375ms
[...]
