---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_sources_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-04T04:40:36.606945Z","description":"","id":"19aba76f-55dd-4982-9ff4-afa9e841ec7e","name":"tf_tests_cockpit_sources_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-04T04:40:36.606945Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.553458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/19aba76f-55dd-4982-9ff4-afa9e841ec7e
        method: GET
      response:
        body: '{"created_at":"2025-09-04T04:40:36.606945Z","description":"","id":"19aba76f-55dd-4982-9ff4-afa9e841ec7e","name":"tf_tests_cockpit_sources_by_name","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-04T04:40:36.606945Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.945334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"19aba76f-55dd-4982-9ff4-afa9e841ec7e","name":"test-metrics-source","type":"metrics","retention_days":30}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-09-04T04:40:37.212075Z","id":"09db8f64-f5f1-4ad5-8784-e0c39787fb60","name":"test-metrics-source","origin":"custom","project_id":"19aba76f-55dd-4982-9ff4-afa9e841ec7e","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:40:37.212075Z","url":"https://09db8f64-f5f1-4ad5-8784-e0c39787fb60.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.031833ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/09db8f64-f5f1-4ad5-8784-e0c39787fb60
        method: GET
      response:
        body: '{"created_at":"2025-09-04T04:40:37.212075Z","id":"09db8f64-f5f1-4ad5-8784-e0c39787fb60","name":"test-metrics-source","origin":"custom","project_id":"19aba76f-55dd-4982-9ff4-afa9e841ec7e","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:40:37.212075Z","url":"https://09db8f64-f5f1-4ad5-8784-e0c39787fb60.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.088209ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=unknown_origin&page=1&project_id=19aba76f-55dd-4982-9ff4-afa9e841ec7e
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-09-04T04:40:37.212075Z","id":"09db8f64-f5f1-4ad5-8784-e0c39787fb60","name":"test-metrics-source","origin":"custom","project_id":"19aba76f-55dd-4982-9ff4-afa9e841ec7e","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-09-04T04:40:37.212075Z","url":"https://09db8f64-f5f1-4ad5-8784-e0c39787fb60.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2025-09-04T04:40:37.212604Z","id":"487d75e6-9be7-47e3-826f-094b691d7b6e","name":"test-logs-source","origin":"custom","project_id":"19aba76f-55dd-4982-9ff4-afa9e841ec7e","region":"fr-par","retention_days":30,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-09-04T04:40:37.212604Z","url":"https://487d75e6-9be7-47e3-826f-094b691d7b6e.logs.cockpit.fr-par.scw.cloud"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.68675ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/487d75e6-9be7-47e3-826f-094b691d7b6e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"data source","resource_id":"487d75e6-9be7-47e3-826f-094b691d7b6e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.394083ms
[...]
