---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:34:32.548285Z","description":"","id":"c7e33784-4107-4853-850b-869cf8bfc4b1","name":"tf_test_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:34:32.548285Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.616603ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c7e33784-4107-4853-850b-869cf8bfc4b1
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:34:32.548285Z","description":"","id":"c7e33784-4107-4853-850b-869cf8bfc4b1","name":"tf_test_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:34:32.548285Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.766001ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c7e33784-4107-4853-850b-869cf8bfc4b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://b0a8afd4-ad19-4615-8c27-b196c59ae3c2.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.915899ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"c7e33784-4107-4853-850b-869cf8bfc4b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://b0a8afd4-ad19-4615-8c27-b196c59ae3c2.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.908182ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"c7e33784-4107-4853-850b-869cf8bfc4b1","email":{"to":"notupdated@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points
        method: POST
      response:
        body: '{"email":{"to":"notupdated@example.com"},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.340217466s
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=c7e33784-4107-4853-850b-869cf8bfc4b1
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://b0a8afd4-ad19-4615-8c27-b196c59ae3c2.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.386628ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=c7e33784-4107-4853-850b-869cf8bfc4b1
        method: GET
      response:
        body: '{"contact_points":[{"email":{"to":"notupdated@example.com"},"region":"fr-par"},{"email":{"to":"initial1@example.com"},"region":"fr-par"}],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.366647ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"c7e33784-4107-4853-850b-869cf8bfc4b1","email":{"to":"initial1@example.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points/delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 365.127074ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"c7e33784-4107-4853-850b-869cf8bfc4b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://b0a8afd4-ad19-4615-8c27-b196c59ae3c2.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.474974ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"c7e33784-4107-4853-850b-869cf8bfc4b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 490.137568ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=c7e33784-4107-4853-850b-869cf8bfc4b1
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 51.815951ms
