---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/products?order_by=display_name_asc
        method: GET
      response:
        body: '{"products_list":[{"display_name":"Block Storage","family_name":"Storage","name":"sbs","resource_types":["sbs_volume","sbs_snapshot"]},{"display_name":"Cockpit","family_name":"Observability","name":"observability","resource_types":["observability_cockpit","observability_exporter"]},{"display_name":"CPU \u0026 GPU Instances","family_name":"Compute","name":"instance","resource_types":["instance_server","vpc_pn"]},{"display_name":"Data Lab","family_name":"Data \u0026 Analytics","name":"datalab","resource_types":["spk_datalab"]},{"display_name":"Data Warehouse","family_name":"Data \u0026 Analytics","n[...]
[...]
