---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_datasource_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:42.645346Z","description":"","id":"7498cff9-5bde-4784-967a-e155e30aad04","name":"tf_tests_cockpit_datasource_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.645346Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.314963ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7498cff9-5bde-4784-967a-e155e30aad04
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:42.645346Z","description":"","id":"7498cff9-5bde-4784-967a-e155e30aad04","name":"tf_tests_cockpit_datasource_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.645346Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.986953ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7498cff9-5bde-4784-967a-e155e30aad04","name":"my-source","type":"metrics"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:43.346474Z","id":"4f0142e1-4aa8-42e3-a3b4-274e69a3ee4b","name":"my-source","origin":"external","project_id":"7498cff9-5bde-4784-967a-e155e30aad04","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-06-12T12:09:43.346474Z","url":"https://4f0142e1-4aa8-42e3-a3b4-274e69a3ee4b.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 413.916962ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/4f0142e1-4aa8-42e3-a3b4-274e69a3ee4b
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:43.346474Z","id":"4f0142e1-4aa8-42e3-a3b4-274e69a3ee4b","name":"my-source","origin":"external","project_id":"7498cff9-5bde-4784-967a-e155e30aad04","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-06-12T12:09:43.346474Z","url":"https://4f0142e1-4aa8-42e3-a3b4-274e69a3ee4b.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.767618ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7498cff9-5bde-4784-967a-e155e30aad04
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"7498cff9-5bde-4784-967a-e155e30aad04\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 20.536050596s
