---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.292774583s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.759375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&types=metrics
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2023-05-17T09:46:07.242137Z","current_month_usage":6183614,"id":"af496812-8fa1-4c66-be81-04c04733333a","name":"Scaleway Metrics","origin":"scaleway","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":true,"type":"metrics","updated_at":"2023-05-17T09:46:07.242137Z","url":"https://af496812-8fa1-4c66-be81-04c04733333a.metrics.cockpit.fr-par.scw.cloud"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.014213667s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"otlp-exporter-target","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2026-03-04T06:00:13.494820Z","id":"41c544da-1b76-4553-bbee-b4553c103fb4","name":"otlp-exporter-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-03-04T06:00:13.494820Z","url":"https://41c544da-1b76-4553-bbee-b4553c103fb4.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.894726s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/41c544da-1b76-4553-bbee-b4553c103fb4
        method: GET
      response:
        body: '{"created_at":"2026-03-04T06:00:13.494820Z","current_month_usage":0,"id":"41c544da-1b76-4553-bbee-b4553c103fb4","name":"otlp-exporter-target","origin":"custom","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2026-03-04T06:00:13.494820Z","url":"https://41c544da-1b76-4553-bbee-b4553c103fb4.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.130412084s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","otlp_destination":{"endpoint":"https://41c544da-1b76-4553-bbee-b4553c103fb4.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"exported_products":["all"],"name":"my-exporter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters
        method: POST
      response:
        body: '{"created_at":"2026-03-04T06:00:18.349308Z","datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","description":"","exported_products":["all"],"id":"0e3162ad-7260-4366-b354-e209a0010d71","name":"my-exporter","otlp_destination":{"endpoint":"https://41c544da-1b76-4553-bbee-b4553c103fb4.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"status":"creating","updated_at":"2026-03-04T06:00:18.349308Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.154333ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/0e3162ad-7260-4366-b354-e209a0010d71
        method: GET
      response:
        body: '{"created_at":"2026-03-04T06:00:18.349308Z","datasource_id":"af496812-8fa1-4c66-be81-04c04733333a","description":"","exported_products":["all"],"id":"0e3162ad-7260-4366-b354-e209a0010d71","name":"my-exporter","otlp_destination":{"endpoint":"https://41c544da-1b76-4553-bbee-b4553c103fb4.metrics.cockpit.fr-par.scw.cloud/api/v1/push","headers":{}},"status":"unknown_status","updated_at":"2026-03-04T06:00:18.349308Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.662458ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/exporters/0e3162ad-7260-4366-b354-e209a0010d71
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"exporter","resource_id":"0e3162ad-7260-4366-b354-e209a0010d71","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.6915ms
