---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T10:57:13.642158Z","description":"","id":"52c5fc69-758a-4c3e-9556-d0a0cb28dd54","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T10:57:13.642158Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 480.37ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/52c5fc69-758a-4c3e-9556-d0a0cb28dd54
        method: GET
      response:
        body: '{"created_at":"2024-12-11T10:57:13.642158Z","description":"","id":"52c5fc69-758a-4c3e-9556-d0a0cb28dd54","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T10:57:13.642158Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.531458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"52c5fc69-758a-4c3e-9556-d0a0cb28dd54"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://1844a7dd-314e-4f5e-bdef-d8c1bb06358a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.728916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"52c5fc69-758a-4c3e-9556-d0a0cb28dd54","name":"my-data-source-traces","type":"traces","retention_days":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"details":[{"argument_name":"retention_days","help_message":"must be between 1 and 31","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 223.627583ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"52c5fc69-758a-4c3e-9556-d0a0cb28dd54"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://1844a7dd-314e-4f5e-bdef-d8c1bb06358a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.586625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=52c5fc69-758a-4c3e-9556-d0a0cb28dd54
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://1844a7dd-314e-4f5e-bdef-d8c1bb06358a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.6885ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=52c5fc69-758a-4c3e-9556-d0a0cb28dd54
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.320625ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"52c5fc69-758a-4c3e-9556-d0a0cb28dd54"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://1844a7dd-314e-4f5e-bdef-d8c1bb06358a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.669291ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"project_id":"52c5fc69-758a-4c3e-9556-d0a0cb28dd54"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 410.026ms
[...]
