---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_preconfigured_alert_filters","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-11-24T04:53:05.443399Z","description":"","id":"a6dc0f15-a33a-4c8a-a298-a87bf85523b2","name":"tf_tests_cockpit_preconfigured_alert_filters","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-11-24T04:53:05.443399Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 590.321208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a6dc0f15-a33a-4c8a-a298-a87bf85523b2
        method: GET
      response:
        body: '{"created_at":"2025-11-24T04:53:05.443399Z","description":"","id":"a6dc0f15-a33a-4c8a-a298-a87bf85523b2","name":"tf_tests_cockpit_preconfigured_alert_filters","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-11-24T04:53:05.443399Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.116375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=a6dc0f15-a33a-4c8a-a298-a87bf85523b2
        method: GET
      response:
        body: '{"data_sources":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.043541ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=a6dc0f15-a33a-4c8a-a298-a87bf85523b2
        method: GET
      response:
        body: '{"grafana_url":"https://a6dc0f15-a33a-4c8a-a298-a87bf85523b2.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.221083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=a6dc0f15-a33a-4c8a-a298-a87bf85523b2
        method: GET
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.528292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=a6dc0f15-a33a-4c8a-a298-a87bf85523b2&rule_status=enabled
        method: GET
      response:
        body: '{"alerts":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.952458ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=a6dc0f15-a33a-4c8a-a298-a87bf85523b2&rule_status=disabled
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-kubernetes-cluster-overview/kubernetes-cluster-overview?\u0026var-region={{ $labels.region }}\u0026var-cluster_name={{ $labels.resource_name }}","description":"The managed api-server of the {{ $labels.resource_name }} Kubernetes cluster is using more than 90% of its available memory since 10m. Scaleway recommends upgrading your Kubernetes cluster to have more memory for your api-server. Refer to our dedicated Kubernetes Control Plane offer for more details (https://www.scaleway.com/en/kubernetes-dedicated-control-plane/) (not available in all regions).","display_description":"\u003e 90 % for 10 minutes","display_name":"High api-server memory usage","family":"Containers","product":"Kubernetes","rule_id":"09396fbe-bddc-47a3-8072-c4246bef03c1","summary":"High api-server memory usage on the {{ $labels.resource_name }} Kubernetes cluster"},"data_source_id":"","duration":"10m","name":"APIServerHighMemoryUsage","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 90 % for 10 minutes","display_name":"High api-server memory usage","preconfigured_rule_id":"09396fbe-bddc-47a3-8072-c4246bef03c1","product_family":"Containers","product_name":"Kubernetes"},"region":"fr-par","rule":"max by (resource_name, project_id, region) (kubernetes_cluster_k8s_shoot_controlplane_memory_usage_bytes{component=\"api-server\"}) / sum by (resource_name, project_id, region) (kubernetes_cluster_k8s_shoot_controlplane_memory_limit_bytes{component=\"api-server\"}) \u003e 0.9","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-cockpit-overview/cockpit-overview?var-region={{ $labels.region }}","description":"Cockpit Data Source {{ $labels.resource_name }} - {{ $labels.resource_id }} had a 50% ingestion decrease in the last hour","display_description":"50% decrease in ingestion volumes in the past hour","display_name":"Ingestion decrease","family":"Observability","product":"Cockpit","rule_id":"8dba8eed-25eb-4860-ab33-7cb5ca662036","summary":"Ingestion decrease on[...]
[...]
