---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T14:29:46.969139Z","description":"","id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T14:29:46.969139Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.995739ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"created_at":"2024-07-02T14:29:46.969139Z","description":"","id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T14:29:46.969139Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.722297ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://45db6495-37a0-41cb-b1a0-6ece16654605.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.698464ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-02T14:29:47.377142Z","id":"66cad213-f742-4165-b253-4cdb3d891622","name":"my-data-source-traces","origin":"external","project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T14:29:47.377142Z","url":"https://66cad213-f742-4165-b253-4cdb3d891622.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.680322ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/dfb89bbf-372f-49ee-acb2-73f898cbae13
        method: GET
      response:
        body: '{"created_at":"2024-07-02T14:29:47.375778Z","id":"dfb89bbf-372f-49ee-acb2-73f898cbae13","name":"my-data-source-logs","origin":"external","project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-07-02T14:29:47.375778Z","url":"https://dfb89bbf-372f-49ee-acb2-73f898cbae13.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.680474ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://45db6495-37a0-41cb-b1a0-6ece16654605.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.960794ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://45db6495-37a0-41cb-b1a0-6ece16654605.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.363217ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 3.733537555s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.406603ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","login":"data_source_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"upstream request timeout"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 30.158570114s
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","login":"data_source_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"data_source_test","password":"Auj9Oq7IPhIl-ONK","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 9.41935765s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"data_source_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.246691708s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.652138ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.04974ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.162602ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-07-02T14:29:47.298033Z","id":"45db6495-37a0-41cb-b1a0-6ece16654605","name":"Scaleway Alerting","origin":"external","project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c","region":"fr-par","synchronized_with_grafana":false,"type":"unknown_type","updated_at":"2024-07-02T14:29:47.298033Z","url":"https://45db6495-37a0-41cb-b1a0-6ece16654605.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-07-02T14:29:47.375778Z","id":"dfb89bbf-372f-49ee-acb2-73f898cbae13","name":"my-data[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: GET
      response:
        body: '{"grafana_url":"https://65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.9213ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 194.671524ms
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://45db6495-37a0-41cb-b1a0-6ece16654605.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.856311ms
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"project_id":"65e1d68c-7302-4e98-bc9e-cc8cea8e5f8c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 499.503124ms
[...]
