---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-01T04:26:21.879707Z","description":"","id":"7f0b265e-5c60-4614-b587-19db6146612e","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-01T04:26:21.879707Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 623.406042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7f0b265e-5c60-4614-b587-19db6146612e
        method: GET
      response:
        body: '{"created_at":"2025-12-01T04:26:21.879707Z","description":"","id":"7f0b265e-5c60-4614-b587-19db6146612e","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-01T04:26:21.879707Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.064042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f0b265e-5c60-4614-b587-19db6146612e","name":"my-data-source-logs","type":"logs","retention_days":7}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-12-01T04:26:22.621232Z","id":"12fc2aa2-8e30-42a8-a069-8974e8383a30","name":"my-data-source-logs","origin":"custom","project_id":"7f0b265e-5c60-4614-b587-19db6146612e","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-12-01T04:26:22.621232Z","url":"https://12fc2aa2-8e30-42a8-a069-8974e8383a30.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.372875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f0b265e-5c60-4614-b587-19db6146612e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://24ec35cc-76fd-4cca-8c24-e9a0e46727a9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.429541ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/12fc2aa2-8e30-42a8-a069-8974e8383a30
        method: GET
      response:
        body: '{"created_at":"2025-12-01T04:26:22.621232Z","id":"12fc2aa2-8e30-42a8-a069-8974e8383a30","name":"my-data-source-logs","origin":"custom","project_id":"7f0b265e-5c60-4614-b587-19db6146612e","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-12-01T04:26:22.621232Z","url":"https://12fc2aa2-8e30-42a8-a069-8974e8383a30.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.041ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f0b265e-5c60-4614-b587-19db6146612e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://24ec35cc-76fd-4cca-8c24-e9a0e46727a9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.146833625s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=7f0b265e-5c60-4614-b587-19db6146612e
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://24ec35cc-76fd-4cca-8c24-e9a0e46727a9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.632416ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=7f0b265e-5c60-4614-b587-19db6146612e
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.969084ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=custom&page=1&project_id=7f0b265e-5c60-4614-b587-19db6146612e
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-12-01T04:26:22.619308Z","id":"04a45dee-3247-4160-9832-3e323930bd3e","name":"my-data-source-metrics","origin":"custom","project_id":"7f0b265e-5c60-4614-b587-19db6146612e","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-01T04:26:22.619308Z","url":"https://04a45dee-3247-4160-9832-3e323930bd3e.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2025-12-01T04:26:22.621232Z","id":"12fc2aa2-8e30-42a8-a069-8974e8383a30","name":"my-data-source-logs","origin":"custom","project_id":"7f0b265e-5c60-4614-b587-19db6146612e","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-12-01T04:26:22.621232Z","url":"https://12fc2aa2-8e30-42a8-a069-8974e8383a30.logs.cockpit.fr-par.scw.cloud"},{"created_at":"2025-12-01T04:26:22.623215Z","id":"565448fb-5ad2-4f96-9a85-f6fdd911278e","name":"my-data-source-traces","origin":"custom","project_id":"7f0b265e-5c60-4614-b587-19db6146612e","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-12-01T04:26:22.623215Z","url":"https://565448fb-5ad2-4f96-9a85-f6fdd911278e.traces.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.984958ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=7f0b265e-5c60-4614-b587-19db6146612e
        method: GET
      response:
        body: '{"grafana_url":"https://7f0b265e-5c60-4614-b587-19db6146612e.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.697958ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f0b265e-5c60-4614-b587-19db6146612e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://24ec35cc-76fd-4cca-8c24-e9a0e46727a9.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.946833ms
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f0b265e-5c60-4614-b587-19db6146612e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.618625ms
[...]
