---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_product_dashboards","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-09-17T05:15:29.608988Z","description":"","id":"2ee55cc7-4fb6-41fa-ae63-96324dcb87cc","name":"tf_tests_cockpit_grafana_product_dashboards","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"srn":"","status":"active","updated_at":"2026-09-17T05:15:29.608988Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 317.429125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2ee55cc7-4fb6-41fa-ae63-96324dcb87cc
        method: GET
      response:
        body: '{"created_at":"2026-09-17T05:15:29.608988Z","description":"","id":"2ee55cc7-4fb6-41fa-ae63-96324dcb87cc","name":"tf_tests_cockpit_grafana_product_dashboards","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2026-09-17T05:15:29.608988Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.648667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/product-dashboards?page=1&project_id=2ee55cc7-4fb6-41fa-ae63-96324dcb87cc
        method: GET
      response:
        body: '{"dashboards":[{"name":"scw-generative-apis-deployment-logs","tags":["inference","scw","logs"],"title":"Generative APIs Deployment Logs","url":"https://2ee55cc7-4fb6-41fa-ae63-96324dcb87cc.dashboard.cockpit.scaleway.com/d/scw-generative-apis-deployment-logs/generative-apis-deployment-logs","variables":["region","deployment_name","filter"]},{"name":"scw-generative-apis-deployment-overview","tags":["inference","metrics","scw"],"title":"Generative APIs Deployment Overview","url":"https://2ee55cc7-4fb6-41fa-ae63-96324dcb87cc.dashboard.cockpit.scaleway.com/d/scw-generative-apis-deployment-overview/generative-apis-deployment-overview","variables":["region","deployment_name"]},{"name":"scw-instance-gpus","tags":["scw","instance"],"title":"Instance GPUs","url":"https://2ee55cc7-4fb6-41fa-ae63-96324dc[...]
[...]
