---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-28T09:21:47.520382Z","description":"","id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-28T09:21:47.520382Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.259583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/89e20eb4-f8ee-4b35-96a1-a75f618f78a2
        method: GET
      response:
        body: '{"created_at":"2025-03-28T09:21:47.520382Z","description":"","id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-28T09:21:47.520382Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.531416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","name":"my-data-source-traces","type":"traces","retention_days":7}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-03-28T09:21:48.039588Z","id":"b68eb734-fb69-4e5c-adb5-06e26f6a782c","name":"my-data-source-traces","origin":"custom","project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-03-28T09:21:48.039588Z","url":"https://b68eb734-fb69-4e5c-adb5-06e26f6a782c.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.326833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://69d9badc-0387-4a56-a5ad-dfb0f1150029.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.413792ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/947e53d6-7209-4eaf-85ff-1043b50fdfa9
        method: GET
      response:
        body: '{"created_at":"2025-03-28T09:21:48.062833Z","id":"947e53d6-7209-4eaf-85ff-1043b50fdfa9","name":"my-data-source-logs","origin":"custom","project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-03-28T09:21:48.062833Z","url":"https://947e53d6-7209-4eaf-85ff-1043b50fdfa9.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.086917ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://69d9badc-0387-4a56-a5ad-dfb0f1150029.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.150792ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=89e20eb4-f8ee-4b35-96a1-a75f618f78a2
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://69d9badc-0387-4a56-a5ad-dfb0f1150029.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.123333ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=89e20eb4-f8ee-4b35-96a1-a75f618f78a2
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.798666ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=89e20eb4-f8ee-4b35-96a1-a75f618f78a2
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-03-28T09:21:48.039588Z","id":"b68eb734-fb69-4e5c-adb5-06e26f6a782c","name":"my-data-source-traces","origin":"custom","project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-03-28T09:21:48.039588Z","url":"https://b68eb734-fb69-4e5c-adb5-06e26f6a782c.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2025-03-28T09:21:48.056204Z","id":"a65e4a04-0bfe-458b-8e31-ec4e2615dfa3","name":"my-data-source-metrics","origin":"custom","project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-03-28T09:21:48.056204Z","url":"https://a65e4a04-0bfe-458b-8e31-ec4e2615dfa3.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2025-03-28T09:21:48.062833Z","id":"947e53d6-7209-4eaf-85ff-1043b50fdfa9","name":"my-data-source-logs","origin":"custom","project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-03-28T09:21:48.062833Z","url":"https://947e53d6-7209-4eaf-85ff-1043b50fdfa9.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.322459ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=89e20eb4-f8ee-4b35-96a1-a75f618f78a2
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.947792ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://69d9badc-0387-4a56-a5ad-dfb0f1150029.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.483958ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"89e20eb4-f8ee-4b35-96a1-a75f618f78a2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.877041ms
[...]
