---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-03T07:55:56.746626Z","description":"","id":"cfa17221-f8e1-4ad7-b460-90104c582dea","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-03T07:55:56.746626Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.801726ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cfa17221-f8e1-4ad7-b460-90104c582dea
        method: GET
      response:
        body: '{"created_at":"2024-07-03T07:55:56.746626Z","description":"","id":"cfa17221-f8e1-4ad7-b460-90104c582dea","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-03T07:55:56.746626Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.914487ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3e40dc2b-00ab-4802-80e9-df508c8c3901.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.945824ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-03T07:55:57.352511Z","id":"c1582e62-c35c-4fe0-b049-1e1cd57b5a52","name":"my-data-source-traces","origin":"external","project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-03T07:55:57.352511Z","url":"https://c1582e62-c35c-4fe0-b049-1e1cd57b5a52.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.431825ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/6dbe5ac7-f1c2-4afb-8b0e-24fe112d72e4
        method: GET
      response:
        body: '{"created_at":"2024-07-03T07:55:57.357659Z","id":"6dbe5ac7-f1c2-4afb-8b0e-24fe112d72e4","name":"my-data-source-logs","origin":"external","project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-07-03T07:55:57.357659Z","url":"https://6dbe5ac7-f1c2-4afb-8b0e-24fe112d72e4.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.759213ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3e40dc2b-00ab-4802-80e9-df508c8c3901.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.087283ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=cfa17221-f8e1-4ad7-b460-90104c582dea
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3e40dc2b-00ab-4802-80e9-df508c8c3901.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.714823ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=cfa17221-f8e1-4ad7-b460-90104c582dea
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 449.506913ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.131647ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.011498ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=cfa17221-f8e1-4ad7-b460-90104c582dea
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.624606ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=cfa17221-f8e1-4ad7-b460-90104c582dea
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-07-03T07:55:57.288646Z","id":"3e40dc2b-00ab-4802-80e9-df508c8c3901","name":"Scaleway Alerting","origin":"external","project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea","region":"fr-par","synchronized_with_grafana":false,"type":"unknown_type","updated_at":"2024-07-03T07:55:57.288646Z","url":"https://3e40dc2b-00ab-4802-80e9-df508c8c3901.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-07-03T07:55:57.352511Z","id":"c1582e62-c35c-4fe0-b049-1e1cd57b5a52","name":"my-data[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=cfa17221-f8e1-4ad7-b460-90104c582dea
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.003863ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: '{"project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3e40dc2b-00ab-4802-80e9-df508c8c3901.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 757.444644ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"project_id":"cfa17221-f8e1-4ad7-b460-90104c582dea"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.595331ms
[...]
