---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-11-27T17:43:07.898696Z","description":"","id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-11-27T17:43:07.898696Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 600.720125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49
        method: GET
      response:
        body: '{"created_at":"2025-11-27T17:43:07.898696Z","description":"","id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-11-27T17:43:07.898696Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.448791ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","name":"my-data-source-logs","type":"logs","retention_days":7}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-11-27T17:43:08.618051Z","id":"29e93133-5fd8-48bc-b0af-4f913fb2cd23","name":"my-data-source-logs","origin":"custom","project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-11-27T17:43:08.618051Z","url":"https://29e93133-5fd8-48bc-b0af-4f913fb2cd23.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.3095ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://0a8aec0e-3f71-49b6-bd89-5b0437088ae3.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.665417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/bcfae7dc-e076-488f-9c79-f601864ee29e
        method: GET
      response:
        body: '{"created_at":"2025-11-27T17:43:08.601132Z","id":"bcfae7dc-e076-488f-9c79-f601864ee29e","name":"my-data-source-traces","origin":"custom","project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-11-27T17:43:08.601132Z","url":"https://bcfae7dc-e076-488f-9c79-f601864ee29e.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.475917ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://0a8aec0e-3f71-49b6-bd89-5b0437088ae3.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.248710292s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://0a8aec0e-3f71-49b6-bd89-5b0437088ae3.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.660458ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has {{ $value }} server(s) down on backend {{ $labels.backend_name }}","display_description":"1 or several Backend server(s) is/are down","display_name":"Backend server down","family":"Load Balancer","product":"LB","rule_id":"feb64cef-c855-4230-a74e-813515fdb357","summary":"{{ $value }} backend server(s) down on Load Balancer {{ $labels.resource_name }}"},"data_source_id":"","duration":"5m","name":"LBBackendServerDown","preconfigured":true,"preconfigured_data":{"display_description":"1 or several Backend server(s) is/are down","display_name":"Backend server down","preconfigured_rule_id":"feb64cef-c855-4230-a74e-813515fdb357","product_family":"Load Balancer","product_name":"LB"},"region":"fr-par","rule":"load_balancer_lb_backend_agg_server_check_status{state=\"DOWN\", backend_name!=\"\"} \u003e 0","rule_status":"enabling","state":"unknown_state"},{"annotations":{"dashboard_path":"https://{{ $labels.project_id }}.dashboard.cockpit.scaleway.com/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has a CPU usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","family":"Load Balancer","product":"LB","rule_id":"769bd543-6030-4540-bd2d-5e2d0604e767","summ[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.952125ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-11-27T17:43:08.601132Z","id":"bcfae7dc-e076-488f-9c79-f601864ee29e","name":"my-data-source-traces","origin":"custom","project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-11-27T17:43:08.601132Z","url":"https://bcfae7dc-e076-488f-9c79-f601864ee29e.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2025-11-27T17:43:08.616323Z","id":"8a085a5e-46de-4772-89e9-79031e80d9e0","name":"my-data-source-metrics","origin":"custom","project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-11-27T17:43:08.616323Z","url":"https://8a085a5e-46de-4772-89e9-79031e80d9e0.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2025-11-27T17:43:08.618051Z","id":"29e93133-5fd8-48bc-b0af-4f913fb2cd23","name":"my-data-source-logs","origin":"custom","project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-11-27T17:43:08.618051Z","url":"https://29e93133-5fd8-48bc-b0af-4f913fb2cd23.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.857125ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49
        method: GET
      response:
        body: '{"grafana_url":"https://bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.787167ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://0a8aec0e-3f71-49b6-bd89-5b0437088ae3.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.797334ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd33ca8b-fe6a-41ab-ab9e-94c9347e6d49"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.356875ms
[...]
