---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.217712Z","description":"","id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.217712Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.20423ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/34dc8f54-8331-47bc-a7f6-5264a5d2078e
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.217712Z","description":"","id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.217712Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.254714ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://a4f5f434-45f7-481f-9515-47b516c28325.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.448971ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.698465Z","id":"d31ac469-0f35-4e54-9a23-327a14e51065","name":"my-data-source-traces","origin":"external","project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T13:12:37.698465Z","url":"https://d31ac469-0f35-4e54-9a23-327a14e51065.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.508463ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/9ab5640c-a7c6-4c30-a1b1-e85eeddbc969
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.734575Z","id":"9ab5640c-a7c6-4c30-a1b1-e85eeddbc969","name":"my-data-source-metrics","origin":"external","project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-07-02T13:12:37.734575Z","url":"https://9ab5640c-a7c6-4c30-a1b1-e85eeddbc969.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.130472ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://a4f5f434-45f7-481f-9515-47b516c28325.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 492.033379ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=34dc8f54-8331-47bc-a7f6-5264a5d2078e
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://a4f5f434-45f7-481f-9515-47b516c28325.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.500274ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=34dc8f54-8331-47bc-a7f6-5264a5d2078e
        method: GET
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 54.125107ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e","login":"data_source_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"upstream connect error or disconnect/reset before headers. reset reason: connection termination"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 19.199486209s
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e","login":"data_source_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"data_source_test","password":"DWERT9DXfccoj--v","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.960169608s
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=34dc8f54-8331-47bc-a7f6-5264a5d2078e
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"data_source_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.995673ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=34dc8f54-8331-47bc-a7f6-5264a5d2078e
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.668503ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://a4f5f434-45f7-481f-9515-47b516c28325.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.195918ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"34dc8f54-8331-47bc-a7f6-5264a5d2078e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 67.23208ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=34dc8f54-8331-47bc-a7f6-5264a5d2078e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.445545842s
[...]
