---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T14:55:07.992208Z","description":"","id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T14:55:07.992208Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.737101ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: GET
      response:
        body: '{"created_at":"2024-07-02T14:55:07.992208Z","description":"","id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T14:55:07.992208Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.13502ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://9ebf18bd-1b80-4e5e-a518-bb90ba20feb7.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.924356ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-07-02T14:55:08.566192Z","id":"ab30a147-0b4a-4cd6-917f-38222e573d2a","name":"my-data-source-traces","origin":"external","project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T14:55:08.566192Z","url":"https://ab30a147-0b4a-4cd6-917f-38222e573d2a.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.874515ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ab30a147-0b4a-4cd6-917f-38222e573d2a
        method: GET
      response:
        body: '{"created_at":"2024-07-02T14:55:08.566192Z","id":"ab30a147-0b4a-4cd6-917f-38222e573d2a","name":"my-data-source-traces","origin":"external","project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-07-02T14:55:08.566192Z","url":"https://ab30a147-0b4a-4cd6-917f-38222e573d2a.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.754428ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://9ebf18bd-1b80-4e5e-a518-bb90ba20feb7.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.080952ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://9ebf18bd-1b80-4e5e-a518-bb90ba20feb7.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.086145ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.523172ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","login":"data_source_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"upstream request timeout"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 30.01799877s
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","login":"data_source_test","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"data_source_test","password":"47N79ayTo4ToOcxZ","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.683554205s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"data_source_test","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.226947123s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.791165ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.917911ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.812004ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-07-02T14:55:08.479809Z","id":"9ebf18bd-1b80-4e5e-a518-bb90ba20feb7","name":"Scaleway Alerting","origin":"external","project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923","region":"fr-par","synchronized_with_grafana":false,"type":"unknown_type","updated_at":"2024-07-02T14:55:08.479809Z","url":"https://9ebf18bd-1b80-4e5e-a518-bb90ba20feb7.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-07-02T14:55:08.566192Z","id":"ab30a147-0b4a-4cd6-917f-38222e573d2a","name":"my-data[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: GET
      response:
        body: '{"grafana_url":"https://b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.5265ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://9ebf18bd-1b80-4e5e-a518-bb90ba20feb7.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.78585ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.677763ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=b3c3e2fd-4a5c-4a19-813e-a44dcdbcc923
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.157513612s
[...]
