---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:07.590361Z","description":"","id":"932a1582-7557-4322-b16e-b0c5f9ec8719","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:07.590361Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.911301ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/932a1582-7557-4322-b16e-b0c5f9ec8719
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:07.590361Z","description":"","id":"932a1582-7557-4322-b16e-b0c5f9ec8719","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:07.590361Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.04977ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://aee2aa18-d23b-48e5-a632-d90657787473.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 423.790238ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:08.001275Z","id":"ebf868bb-c342-40af-8da0-9194468087a7","name":"my-data-source-traces","origin":"external","project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-01T13:53:08.001275Z","url":"https://ebf868bb-c342-40af-8da0-9194468087a7.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 723.821116ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://aee2aa18-d23b-48e5-a632-d90657787473.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.001915ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ebf868bb-c342-40af-8da0-9194468087a7
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:08.001275Z","id":"ebf868bb-c342-40af-8da0-9194468087a7","name":"my-data-source-traces","origin":"external","project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-01T13:53:08.001275Z","url":"https://ebf868bb-c342-40af-8da0-9194468087a7.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.420938ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=932a1582-7557-4322-b16e-b0c5f9ec8719
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://aee2aa18-d23b-48e5-a632-d90657787473.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.05395ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=932a1582-7557-4322-b16e-b0c5f9ec8719
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.765311ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.133906ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.048108ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=932a1582-7557-4322-b16e-b0c5f9ec8719
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.315976ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=932a1582-7557-4322-b16e-b0c5f9ec8719
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-08-01T13:53:07.926351Z","id":"aee2aa18-d23b-48e5-a632-d90657787473","name":"Scaleway Alerting","origin":"external","project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719","region":"fr-par","synchronized_with_grafana":false,"type":"unknown_type","updated_at":"2024-08-01T13:53:07.926351Z","url":"https://aee2aa18-d23b-48e5-a632-d90657787473.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-01T13:53:08.001275Z","id":"ebf868bb-c342-40af-8da0-9194468087a7","name":"my-data[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=932a1582-7557-4322-b16e-b0c5f9ec8719
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.984904ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://aee2aa18-d23b-48e5-a632-d90657787473.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.657123ms
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"project_id":"932a1582-7557-4322-b16e-b0c5f9ec8719"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.827274ms
[...]
