---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:22.910554Z","description":"","id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:22.910554Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 498.873006ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a6d9deb7-246e-422f-bbc2-ec69db69b12c
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:22.910554Z","description":"","id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:22.910554Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.416856ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3190d101-7041-4ed7-894d-27eae39f5a12.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.607037ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:23.450385Z","id":"3a0f6618-29fb-496e-a697-e68337f1ba3e","name":"my-data-source-traces","origin":"external","project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-09-19T09:04:23.450385Z","url":"https://3a0f6618-29fb-496e-a697-e68337f1ba3e.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.543906ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/3a0f6618-29fb-496e-a697-e68337f1ba3e
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:23.450385Z","id":"3a0f6618-29fb-496e-a697-e68337f1ba3e","name":"my-data-source-traces","origin":"external","project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-09-19T09:04:23.450385Z","url":"https://3a0f6618-29fb-496e-a697-e68337f1ba3e.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.760577ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3190d101-7041-4ed7-894d-27eae39f5a12.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.66762ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=a6d9deb7-246e-422f-bbc2-ec69db69b12c
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3190d101-7041-4ed7-894d-27eae39f5a12.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.84905ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=a6d9deb7-246e-422f-bbc2-ec69db69b12c
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.143249ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.386597ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.816088ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=a6d9deb7-246e-422f-bbc2-ec69db69b12c
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.566417ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=a6d9deb7-246e-422f-bbc2-ec69db69b12c
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-09-19T09:04:23.450385Z","id":"3a0f6618-29fb-496e-a697-e68337f1ba3e","name":"my-data-source-traces","origin":"external","project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-09-19T09:04:23.450385Z","url":"https://3a0f6618-29fb-496e-a697-e68337f1ba3e.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2024-09-19T09:04:23.452224Z","id":"5ba0ccc3-0d3c-4b4b-b083-bb82965ec28d","name":"my-data-source-metrics","origin":"external","project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-09-19T09:04:23.452224Z","url":"https://5ba0ccc3-0d3c-4b4b-b083-bb82965ec28d.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2024-09-19T09:04:23.500089Z","id":"0923a514-b6c3-4845-85b0-9e65c515a783","name":"my-data-source-logs","origin":"external","project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-09-19T09:04:23.500089Z","url":"https://0923a514-b6c3-4845-85b0-9e65c515a783.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.075284ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=a6d9deb7-246e-422f-bbc2-ec69db69b12c
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.453701ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://3190d101-7041-4ed7-894d-27eae39f5a12.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.611054ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"project_id":"a6d9deb7-246e-422f-bbc2-ec69db69b12c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.612714ms
[...]
