---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_preconfigured_alert_ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-01T09:50:15.214528Z","description":"","id":"30c9caeb-f6c4-4d12-ad98-5f688bdea2e8","name":"tf_tests_cockpit_preconfigured_alert_ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-01T09:50:15.214528Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 489.018708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/30c9caeb-f6c4-4d12-ad98-5f688bdea2e8
        method: GET
      response:
        body: '{"created_at":"2025-12-01T09:50:15.214528Z","description":"","id":"30c9caeb-f6c4-4d12-ad98-5f688bdea2e8","name":"tf_tests_cockpit_preconfigured_alert_ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-01T09:50:15.214528Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.853041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=custom&page=1&project_id=30c9caeb-f6c4-4d12-ad98-5f688bdea2e8
        method: GET
      response:
        body: '{"data_sources":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.494875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=30c9caeb-f6c4-4d12-ad98-5f688bdea2e8
        method: GET
      response:
        body: '{"grafana_url":"https://30c9caeb-f6c4-4d12-ad98-5f688bdea2e8.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.850458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=30c9caeb-f6c4-4d12-ad98-5f688bdea2e8
        method: GET
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.8405ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=30c9caeb-f6c4-4d12-ad98-5f688bdea2e8
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-cockpit-overview/cockpit-overview?var-region={{ $labels.region }}","description":"Cockpit Data Source {{ $labels.resource_name }} - {{ $labels.resource_id }} had a 100% ingestion increase in the last hour","display_description":"100% increase in ingestion volumes in the past hour","display_name":"Ingestion increase","family":"Observability","product":"Cockpit","rule_id":"669f781a-adab-4e3c-984e-fb149f8b67a3","summary":"Ingestion increase on Cockpit"},"data_source_id":"","duration":"0s","name":"CockpitIngestionIncrease","preconfigured":true,"preconfigured_data":{"display_description":"100% increase in ingestion volumes in the past hour","display_name":"Ingestion increase","preconfigured_rule_id":"669f781a-adab-4e3c-984e-fb149f8b67a3","product_family":"Observability","product_name":"Cockpit"},"region":"fr-par","rule":"increase(observability_cockpit_cortex_distributor_received_samples_total{origin=\"custom\"}[1h] offset 1h) / increase(observability_cockpit_cortex_distributor_received_samples_total{origin=\"custom\"}[1h]) \u003c 0.5","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"/d/scw-kubernetes-cluster-overview/kubernetes-cluster-overview?\u0026var-region={{ $labels.region }}\u0026var-cluster_name={{ $labels.resource_name }}","description":"The managed api-server of the {{ $labels.resource_name }} Kubernetes cluster is using more than 90% of its available CPU since 10m. Scaleway recommends upgrading your Kubernetes cluster to have dedicated resources for your api-server. Refer to our dedicated Kubernetes Control Plane[...]
[...]
