---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-10T09:51:46.094266Z","description":"","id":"5783b138-5111-404a-a5fe-048e682e6d0a","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-10T09:51:46.094266Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 587.494667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5783b138-5111-404a-a5fe-048e682e6d0a
        method: GET
      response:
        body: '{"created_at":"2025-03-10T09:51:46.094266Z","description":"","id":"5783b138-5111-404a-a5fe-048e682e6d0a","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-10T09:51:46.094266Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.774125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"5783b138-5111-404a-a5fe-048e682e6d0a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ac662fca-f471-4fa9-b110-e1c5a5c29633.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.465958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"5783b138-5111-404a-a5fe-048e682e6d0a","name":"my-data-source-logs","type":"logs","retention_days":7}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-03-10T09:51:46.654138Z","id":"2fe980fb-146b-4091-9af7-c898f3f37d46","name":"my-data-source-logs","origin":"custom","project_id":"5783b138-5111-404a-a5fe-048e682e6d0a","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-03-10T09:51:46.654138Z","url":"https://2fe980fb-146b-4091-9af7-c898f3f37d46.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.783208ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"5783b138-5111-404a-a5fe-048e682e6d0a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ac662fca-f471-4fa9-b110-e1c5a5c29633.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.663083ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/c8959ba0-889f-4556-8537-ff338a995056
        method: GET
      response:
        body: '{"created_at":"2025-03-10T09:51:46.654379Z","id":"c8959ba0-889f-4556-8537-ff338a995056","name":"my-data-source-metrics","origin":"custom","project_id":"5783b138-5111-404a-a5fe-048e682e6d0a","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-03-10T09:51:46.654379Z","url":"https://c8959ba0-889f-4556-8537-ff338a995056.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.018667ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=5783b138-5111-404a-a5fe-048e682e6d0a
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ac662fca-f471-4fa9-b110-e1c5a5c29633.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.905167ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=5783b138-5111-404a-a5fe-048e682e6d0a
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.203708ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=5783b138-5111-404a-a5fe-048e682e6d0a
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-03-10T09:51:46.653963Z","id":"d787f5c4-058c-497b-9933-78cda1d90045","name":"my-data-source-traces","origin":"custom","project_id":"5783b138-5111-404a-a5fe-048e682e6d0a","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-03-10T09:51:46.653963Z","url":"https://d787f5c4-058c-497b-9933-78cda1d90045.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2025-03-10T09:51:46.654138Z","id":"2fe980fb-146b-4091-9af7-c898f3f37d46","name":"my-data-source-logs","origin":"custom","project_id":"5783b138-5111-404a-a5fe-048e682e6d0a","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-03-10T09:51:46.654138Z","url":"https://2fe980fb-146b-4091-9af7-c898f3f37d46.logs.cockpit.fr-par.scw.cloud"},{"created_at":"2025-03-10T09:51:46.654379Z","id":"c8959ba0-889f-4556-8537-ff338a995056","name":"my-data-source-metrics","origin":"custom","project_id":"5783b138-5111-404a-a5fe-048e682e6d0a","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-03-10T09:51:46.654379Z","url":"https://c8959ba0-889f-4556-8537-ff338a995056.metrics.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.34425ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=5783b138-5111-404a-a5fe-048e682e6d0a
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.932667ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"5783b138-5111-404a-a5fe-048e682e6d0a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://ac662fca-f471-4fa9-b110-e1c5a5c29633.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.532875ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"5783b138-5111-404a-a5fe-048e682e6d0a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.942917ms
[...]
