---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-11-24T09:40:12.290971Z","description":"","id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-11-24T09:40:12.290971Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.154292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cceed9f3-4b29-45f1-a4f2-df2b7faf0a02
        method: GET
      response:
        body: '{"created_at":"2025-11-24T09:40:12.290971Z","description":"","id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-11-24T09:40:12.290971Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.627375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://d5f233b2-917f-4b1a-b152-af2ed62053d4.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.129787458s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","name":"my-data-source-logs","type":"logs","retention_days":7}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-11-24T09:40:12.994264Z","id":"ee8f053a-9661-4cc5-8a94-d22ac0f90544","name":"my-data-source-logs","origin":"custom","project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-11-24T09:40:12.994264Z","url":"https://ee8f053a-9661-4cc5-8a94-d22ac0f90544.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.220387583s
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=cceed9f3-4b29-45f1-a4f2-df2b7faf0a02
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://d5f233b2-917f-4b1a-b152-af2ed62053d4.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.659917ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/ee8f053a-9661-4cc5-8a94-d22ac0f90544
        method: GET
      response:
        body: '{"created_at":"2025-11-24T09:40:12.994264Z","id":"ee8f053a-9661-4cc5-8a94-d22ac0f90544","name":"my-data-source-logs","origin":"custom","project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-11-24T09:40:12.994264Z","url":"https://ee8f053a-9661-4cc5-8a94-d22ac0f90544.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.637542ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=cceed9f3-4b29-45f1-a4f2-df2b7faf0a02
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"https://{{ $labels.project_id }}.dashboard.cockpit.scaleway.com/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has a CPU usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","family":"Load Balancer","product":"LB","rule_id":"769bd543-6030-4540-bd2d-5e2d0604e767","summary":"High CPU usage on Load Balancer {{ $labels.resource_name }}"},"data_source_id":"","duration":"10m","name":"LBHighCPULoad","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 80 % for 10 minutes","display_name":"High CPU usage","preconfigured_rule_id":"769bd543-6030-4540-bd2d-5e2d0604e767","product_family":"Load Balancer","product_name":"LB"},"region":"fr-par","rule":"load_balancer_lb_cpu_usage \u003e 0.8","rule_status":"disabled","state":"unknown_state"},{"annotations":{"dashboard_path":"https://{{ $labels.project_id }}.dashboard.cockpit.scaleway.com/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has a connection usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High connection usage","family":"Load Balancer","product":"LB","rule_id":"fcf06e62-22ee-4e86-9b16-3cc97[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=cceed9f3-4b29-45f1-a4f2-df2b7faf0a02
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.175625ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=cceed9f3-4b29-45f1-a4f2-df2b7faf0a02
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-11-24T09:40:12.994264Z","id":"ee8f053a-9661-4cc5-8a94-d22ac0f90544","name":"my-data-source-logs","origin":"custom","project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-11-24T09:40:12.994264Z","url":"https://ee8f053a-9661-4cc5-8a94-d22ac0f90544.logs.cockpit.fr-par.scw.cloud"},{"created_at":"2025-11-24T09:40:12.999023Z","id":"fb0e769a-7d2d-4e04-b4ff-b5c2a5f8e7f7","name":"my-data-source-traces","origin":"custom","project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-11-24T09:40:12.999023Z","url":"https://fb0e769a-7d2d-4e04-b4ff-b5c2a5f8e7f7.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2025-11-24T09:40:13.011285Z","id":"e4e5dfd7-4b8c-4aef-a7aa-53e75c136fc1","name":"my-data-source-metrics","origin":"custom","project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-11-24T09:40:13.011285Z","url":"https://e4e5dfd7-4b8c-4aef-a7aa-53e75c136fc1.metrics.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.742792ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=cceed9f3-4b29-45f1-a4f2-df2b7faf0a02
        method: GET
      response:
        body: '{"grafana_url":"https://cceed9f3-4b29-45f1-a4f2-df2b7faf0a02.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.41275ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"cceed9f3-4b29-45f1-a4f2-df2b7faf0a02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.610167ms
[...]
