---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-06-14T09:50:16.629025Z","description":"","id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","name":"tf_tests_cockpit_project_premium","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-14T09:50:16.629025Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.636348ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: GET
      response:
        body: '{"created_at":"2024-06-14T09:50:16.629025Z","description":"","id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","name":"tf_tests_cockpit_project_premium","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-14T09:50:16.629025Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.748343ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://97cb669d-b27a-43aa-bd7d-42d1e8195ab4.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.980645ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-06-14T09:50:16.988163Z","id":"a778b2ed-19e6-4996-8f8f-2b0ed74833ae","name":"my-data-source-traces","origin":"external","project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-06-14T09:50:16.988163Z","url":"https://a778b2ed-19e6-4996-8f8f-2b0ed74833ae.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.91585ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/a778b2ed-19e6-4996-8f8f-2b0ed74833ae
        method: GET
      response:
        body: '{"created_at":"2024-06-14T09:50:16.988163Z","id":"a778b2ed-19e6-4996-8f8f-2b0ed74833ae","name":"my-data-source-traces","origin":"external","project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-06-14T09:50:16.988163Z","url":"https://a778b2ed-19e6-4996-8f8f-2b0ed74833ae.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.522087ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://97cb669d-b27a-43aa-bd7d-42d1e8195ab4.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.913107ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://97cb669d-b27a-43aa-bd7d-42d1e8195ab4.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.550079ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.512825ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","login":"my-awesome-user","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"upstream request timeout"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 30.04104782s
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","login":"my-awesome-user","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"my-awesome-user","password":"okzwgEuaRUg102ar","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.546411428s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"my-awesome-user","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.461062ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.750686ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.661396ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.961905ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-06-14T09:50:16.904677Z","id":"97cb669d-b27a-43aa-bd7d-42d1e8195ab4","name":"Scaleway Alerting","origin":"external","project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3","region":"fr-par","synchronized_with_grafana":false,"type":"unknown_type","updated_at":"2024-06-14T09:50:16.904677Z","url":"https://97cb669d-b27a-43aa-bd7d-42d1e8195ab4.alertmanager.cockpit.fr-par.scw.cloud"},{"created_at":"2024-06-14T09:50:16.981725Z","id":"429e482a-5743-48a0-a00c-b14b50a2c8ef","name":"my-data[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: GET
      response:
        body: '{"grafana_url":"https://7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3.dashboard.obs.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.672108ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 197.828446ms
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://97cb669d-b27a-43aa-bd7d-42d1e8195ab4.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.014661ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"project_id":"7d16822a-6bf3-49bb-86cf-a47cb3ddfbb3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.929315ms
[...]
