---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:39.047340Z","description":"","id":"a57694e7-a900-4708-8b6c-eb02ea75c178","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:39.047340Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.264994ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a57694e7-a900-4708-8b6c-eb02ea75c178
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:39.047340Z","description":"","id":"a57694e7-a900-4708-8b6c-eb02ea75c178","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:39.047340Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.755478ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://84642e52-74cb-45d6-aca0-c361be0f1a27.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.377732ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:39.581593Z","id":"0bb74cb0-88c5-463f-9a18-61557052652b","name":"my-data-source-traces","origin":"external","project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-13T10:50:39.581593Z","url":"https://0bb74cb0-88c5-463f-9a18-61557052652b.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.569895ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/cc76ae7e-0244-43be-b5c3-105843bbae48
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:39.585813Z","id":"cc76ae7e-0244-43be-b5c3-105843bbae48","name":"my-data-source-metrics","origin":"external","project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-13T10:50:39.585813Z","url":"https://cc76ae7e-0244-43be-b5c3-105843bbae48.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.717819ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://84642e52-74cb-45d6-aca0-c361be0f1a27.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.158993ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=a57694e7-a900-4708-8b6c-eb02ea75c178
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://84642e52-74cb-45d6-aca0-c361be0f1a27.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.316735ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=a57694e7-a900-4708-8b6c-eb02ea75c178
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.332339ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.026564ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.23341ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=a57694e7-a900-4708-8b6c-eb02ea75c178
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.639607ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=a57694e7-a900-4708-8b6c-eb02ea75c178
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-08-13T10:50:39.581593Z","id":"0bb74cb0-88c5-463f-9a18-61557052652b","name":"my-data-source-traces","origin":"external","project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-13T10:50:39.581593Z","url":"https://0bb74cb0-88c5-463f-9a18-61557052652b.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-13T10:50:39.585813Z","id":"cc76ae7e-0244-43be-b5c3-105843bbae48","name":"my-data-source-metrics","origin":"external","project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-13T10:50:39.585813Z","url":"https://cc76ae7e-0244-43be-b5c3-105843bbae48.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-13T10:50:39.620778Z","id":"abed2fb0-c305-489c-b2a3-c32cf3f83408","name":"my-data-source-logs","origin":"external","project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-08-13T10:50:39.620778Z","url":"https://abed2fb0-c305-489c-b2a3-c32cf3f83408.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.826851ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=a57694e7-a900-4708-8b6c-eb02ea75c178
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.56191ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://84642e52-74cb-45d6-aca0-c361be0f1a27.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.917502ms
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"project_id":"a57694e7-a900-4708-8b6c-eb02ea75c178"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.495259ms
[...]
