---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_project_premium\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"tf_tests_cockpit_project_premium\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:11.427390Z\",\"updated_at\":\"2025-09-01T16:57:11.427390Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 383.589518ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    method: GET
  response:
    body: "{\"id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"tf_tests_cockpit_project_premium\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:11.427390Z\",\"updated_at\":\"2025-09-01T16:57:11.427390Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.242102ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"my-data-source-traces\",\"type\":\"traces\",\"retention_days\":7}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
    method: POST
  response:
    body: "{\"id\":\"56957825-7b58-4809-8f00-3e74bd0966eb\",\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"my-data-source-traces\",\"url\":\"https://56957825-7b58-4809-8f00-3e74bd0966eb.traces.cockpit.fr-par.scw.cloud\",\"type\":\"traces\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:11.964138Z\",\"updated_at\":\"2025-09-01T16:57:11.964138Z\",\"synchronized_with_grafana\":false,\"retention_days\":7,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 269.698473ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://7e34eb94-578d-4adc-a0c3-dee6cbd49a75.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 270.114505ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/56957825-7b58-4809-8f00-3e74bd0966eb
    method: GET
  response:
    body: "{\"id\":\"56957825-7b58-4809-8f00-3e74bd0966eb\",\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"my-data-source-traces\",\"url\":\"https://56957825-7b58-4809-8f00-3e74bd0966eb.traces.cockpit.fr-par.scw.cloud\",\"type\":\"traces\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:11.964138Z\",\"updated_at\":\"2025-09-01T16:57:11.964138Z\",\"synchronized_with_grafana\":false,\"retention_days\":7,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.177853ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://7e34eb94-578d-4adc-a0c3-dee6cbd49a75.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.435809206s
- id: 10
  request:
    host: api.scaleway.com
    form:
      project_id:
      - e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    method: GET
  response:
    body: "{\"alert_manager_url\":\"https://7e34eb94-578d-4adc-a0c3-dee6cbd49a75.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.072234ms
- id: 11
  request:
    host: api.scaleway.com
    form:
      project_id:
      - e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    method: GET
  response:
    body: "{\"total_count\":0,\"contact_points\":[],\"has_additional_receivers\":false,\"has_additional_contact_points\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.439786ms
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      origin:
      - external
      page:
      - "1"
      project_id:
      - e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    method: GET
  response:
    body: "{\"total_count\":3,\"data_sources\":[{\"id\":\"2f315d93-64f8-46c4-96a8-57b6d9dadb3c\",\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"my-data-source-logs\",\"url\":\"https://2f315d93-64f8-46c4-96a8-57b6d9dadb3c.logs.cockpit.fr-par.scw.cloud\",\"type\":\"logs\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:11.960206Z\",\"updated_at\":\"2025-09-01T16:57:11.960206Z\",\"synchronized_with_grafana\":false,\"retention_days\":7,\"region\":\"fr-par\"},{\"id\":\"56957825-7b58-4809-8f00-3e74bd0966eb\",\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"my-data-source-traces\",\"url\":\"https://56957825-7b58-4809-8f00-3e74bd0966eb.traces.cockpit.fr-par.scw.cloud\",\"type\":\"traces\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:11.964138Z\",\"updated_at\":\"2025-09-01T16:57:11.964138Z\",\"synchronized_with_grafana\":false,\"retention_days\":7,\"region\":\"fr-par\"},{\"id\":\"9ce2a50e-fc8b-4825-82f2-bc0206195ce5\",\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\",\"name\":\"my-data-source-metrics\",\"url\":\"https://9ce2a50e-fc8b-4825-82f2-bc0206195ce5.metrics.cockpit.fr-par.scw.cloud\",\"type\":\"metrics\",\"origin\":\"custom\",\"created_at\":\"2025-09-01T16:57:11.970630Z\",\"updated_at\":\"2025-09-01T16:57:11.970630Z\",\"synchronized_with_grafana\":false,\"retention_days\":31,\"region\":\"fr-par\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.767722ms
- id: 13
  request:
    host: api.scaleway.com
    form:
      project_id:
      - e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana?project_id=e3d5f87c-208d-4de9-8b7b-b3b8c6128002
    method: GET
  response:
    body: "{\"grafana_url\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.040903ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":\"https://7e34eb94-578d-4adc-a0c3-dee6cbd49a75.alertmanager.cockpit.fr-par.scw.cloud\",\"alert_manager_enabled\":true,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 210.853056ms
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e3d5f87c-208d-4de9-8b7b-b3b8c6128002\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
    method: POST
  response:
    body: "{\"alert_manager_url\":null,\"alert_manager_enabled\":false,\"managed_alerts_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 194.822336ms
[...]
