---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:57.049595Z","description":"","id":"20c94887-1862-4c8f-b866-a6e8561281fb","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:57.049595Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 439.780834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/20c94887-1862-4c8f-b866-a6e8561281fb
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:57.049595Z","description":"","id":"20c94887-1862-4c8f-b866-a6e8561281fb","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-11T11:19:57.049595Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.327209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"20c94887-1862-4c8f-b866-a6e8561281fb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://c827424b-6f25-4050-af52-4b692491f6c0.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.497ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"20c94887-1862-4c8f-b866-a6e8561281fb","name":"my-data-source-logs","type":"logs","retention_days":7}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-12-11T11:19:57.740932Z","id":"b4f906d7-7dae-4fe4-9f45-abff6e69847a","name":"my-data-source-logs","origin":"custom","project_id":"20c94887-1862-4c8f-b866-a6e8561281fb","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:57.740932Z","url":"https://b4f906d7-7dae-4fe4-9f45-abff6e69847a.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.0685ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/b4f906d7-7dae-4fe4-9f45-abff6e69847a
        method: GET
      response:
        body: '{"created_at":"2024-12-11T11:19:57.740932Z","id":"b4f906d7-7dae-4fe4-9f45-abff6e69847a","name":"my-data-source-logs","origin":"custom","project_id":"20c94887-1862-4c8f-b866-a6e8561281fb","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:57.740932Z","url":"https://b4f906d7-7dae-4fe4-9f45-abff6e69847a.logs.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.309958ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"20c94887-1862-4c8f-b866-a6e8561281fb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://c827424b-6f25-4050-af52-4b692491f6c0.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.866667ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=20c94887-1862-4c8f-b866-a6e8561281fb
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://c827424b-6f25-4050-af52-4b692491f6c0.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.67125ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=20c94887-1862-4c8f-b866-a6e8561281fb
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.99975ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.466333ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"20c94887-1862-4c8f-b866-a6e8561281fb","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.966916ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=20c94887-1862-4c8f-b866-a6e8561281fb
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.60775ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=20c94887-1862-4c8f-b866-a6e8561281fb
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-12-11T11:19:57.715471Z","id":"7f6a911d-e1af-44fc-9a10-25e67583f3f5","name":"my-data-source-traces","origin":"custom","project_id":"20c94887-1862-4c8f-b866-a6e8561281fb","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2024-12-11T11:19:57.715471Z","url":"https://7f6a911d-e1af-44fc-9a10-25e67583f3f5.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2024-12-11T11:19:57.740932Z","id":"b4f906d7-7dae-4fe4-9f45-abff6e69847a","name":"my-data-source-logs","origin":"custom","project_id":"20c94887-1862-4c8f-b866-a6e8561281fb","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2024-12-11T11:19:57.740932Z","url":"https://b4f906d7-7dae-4fe4-9f45-abff6e69847a.logs.cockpit.fr-par.scw.cloud"},{"created_at":"2024-12-11T11:19:57.745750Z","id":"4053066d-d8e9-453e-b90d-cc29f1eb0149","name":"my-data-source-metrics","origin":"custom","project_id":"20c94887-1862-4c8f-b866-a6e8561281fb","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-12-11T11:19:57.745750Z","url":"https://4053066d-d8e9-453e-b90d-cc29f1eb0149.metrics.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.32875ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=20c94887-1862-4c8f-b866-a6e8561281fb
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.473208ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"20c94887-1862-4c8f-b866-a6e8561281fb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://c827424b-6f25-4050-af52-4b692491f6c0.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.773583ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"project_id":"20c94887-1862-4c8f-b866-a6e8561281fb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.509083ms
[...]
