---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_rules_count_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-10-08T11:40:17.092252Z","description":"","id":"f8e5c7b5-7b00-4896-966c-5c902de59dd7","name":"tf_tests_cockpit_rules_count_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"srn":"srn://account.scw.eu/projects/f8e5c7b5-7b00-4896-966c-5c902de59dd7","status":"active","updated_at":"2026-10-08T11:40:17.092252Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 317.227292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 12.733416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f8e5c7b5-7b00-4896-966c-5c902de59dd7
        method: GET
      response:
        body: '{"created_at":"2026-10-08T11:40:17.092252Z","description":"","id":"f8e5c7b5-7b00-4896-966c-5c902de59dd7","name":"tf_tests_cockpit_rules_count_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"srn://account.scw.eu/projects/f8e5c7b5-7b00-4896-966c-5c902de59dd7","status":"active","updated_at":"2026-10-08T11:40:17.092252Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.062458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/rules/count?project_id=f8e5c7b5-7b00-4896-966c-5c902de59dd7
        method: GET
      response:
        body: '{"custom_rules_count":0,"preconfigured_rules_count":0,"rules_count_by_datasource":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.178541ms
[...]
