---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:32.639394Z","description":"","id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:32.639394Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.703715ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8d2d112a-a7eb-46ed-8998-b431d91ad4ee
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:32.639394Z","description":"","id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:32.639394Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.356889ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://6c1651e5-bc24-4506-969d-eb2743aa412d.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.77506ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","name":"my-data-source-traces","type":"traces"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:33.088805Z","id":"08d85fe9-2c48-45c8-a100-e41396d2d969","name":"my-data-source-traces","origin":"external","project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-12T08:34:33.088805Z","url":"https://08d85fe9-2c48-45c8-a100-e41396d2d969.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.472684ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/08d85fe9-2c48-45c8-a100-e41396d2d969
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:33.088805Z","id":"08d85fe9-2c48-45c8-a100-e41396d2d969","name":"my-data-source-traces","origin":"external","project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-12T08:34:33.088805Z","url":"https://08d85fe9-2c48-45c8-a100-e41396d2d969.traces.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.040942ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://6c1651e5-bc24-4506-969d-eb2743aa412d.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.627485ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=8d2d112a-a7eb-46ed-8998-b431d91ad4ee
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://6c1651e5-bc24-4506-969d-eb2743aa412d.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.326613ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=8d2d112a-a7eb-46ed-8998-b431d91ad4ee
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.552533ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/plans?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"plans":[{"logs_ingestion_price":35,"monthly_price":29,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},{"logs_ingestion_price":35,"monthly_price":29,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.099233ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","plan_name":"free"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/plans
        method: PATCH
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.964889ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/current-plan?project_id=8d2d112a-a7eb-46ed-8998-b431d91ad4ee
        method: GET
      response:
        body: '{"logs_ingestion_price":35,"monthly_price":0,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.752662ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=external&page=1&project_id=8d2d112a-a7eb-46ed-8998-b431d91ad4ee
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2024-08-12T08:34:33.088805Z","id":"08d85fe9-2c48-45c8-a100-e41396d2d969","name":"my-data-source-traces","origin":"external","project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","region":"fr-par","synchronized_with_grafana":false,"type":"traces","updated_at":"2024-08-12T08:34:33.088805Z","url":"https://08d85fe9-2c48-45c8-a100-e41396d2d969.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-12T08:34:33.152501Z","id":"2ccd4a3b-f0c8-43ff-b127-1ddf7cb0031a","name":"my-data-source-metrics","origin":"external","project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","region":"fr-par","synchronized_with_grafana":false,"type":"metrics","updated_at":"2024-08-12T08:34:33.152501Z","url":"https://2ccd4a3b-f0c8-43ff-b127-1ddf7cb0031a.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2024-08-12T08:34:33.222728Z","id":"4a31765d-f636-44b9-b154-286629a1660b","name":"my-data-source-logs","origin":"external","project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee","region":"fr-par","synchronized_with_grafana":false,"type":"logs","updated_at":"2024-08-12T08:34:33.222728Z","url":"https://4a31765d-f636-44b9-b154-286629a1660b.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.941767ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=8d2d112a-a7eb-46ed-8998-b431d91ad4ee
        method: GET
      response:
        body: '{"grafana_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.773391ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://6c1651e5-bc24-4506-969d-eb2743aa412d.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.902939ms
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"project_id":"8d2d112a-a7eb-46ed-8998-b431d91ad4ee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.910046ms
[...]
