---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-12-01T09:55:19.754239Z","description":"","id":"529011e7-daea-47e5-a829-29c1e5bae322","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-12-01T09:55:19.754239Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 536.316167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/529011e7-daea-47e5-a829-29c1e5bae322
        method: GET
      response:
        body: '{"created_at":"2025-12-01T09:55:19.754239Z","description":"","id":"529011e7-daea-47e5-a829-29c1e5bae322","name":"tf_tests_cockpit_project_premium","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-12-01T09:55:19.754239Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.153667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"529011e7-daea-47e5-a829-29c1e5bae322","name":"my-data-source-metrics","type":"metrics","retention_days":31}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources
        method: POST
      response:
        body: '{"created_at":"2025-12-01T09:55:20.358251Z","id":"5cbda7ee-4302-445b-85d1-3172b5311b7b","name":"my-data-source-metrics","origin":"custom","project_id":"529011e7-daea-47e5-a829-29c1e5bae322","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-01T09:55:20.358251Z","url":"https://5cbda7ee-4302-445b-85d1-3172b5311b7b.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.349615084s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources/5cbda7ee-4302-445b-85d1-3172b5311b7b
        method: GET
      response:
        body: '{"created_at":"2025-12-01T09:55:20.358251Z","id":"5cbda7ee-4302-445b-85d1-3172b5311b7b","name":"my-data-source-metrics","origin":"custom","project_id":"529011e7-daea-47e5-a829-29c1e5bae322","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-01T09:55:20.358251Z","url":"https://5cbda7ee-4302-445b-85d1-3172b5311b7b.metrics.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.635791ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"529011e7-daea-47e5-a829-29c1e5bae322"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://73bccd29-0e25-4083-9f17-9c492b24654a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.782564417s
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"529011e7-daea-47e5-a829-29c1e5bae322"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/enable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://73bccd29-0e25-4083-9f17-9c492b24654a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.844652041s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager?project_id=529011e7-daea-47e5-a829-29c1e5bae322
        method: GET
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://73bccd29-0e25-4083-9f17-9c492b24654a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.390292ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alerts?is_preconfigured=true&page=1&project_id=529011e7-daea-47e5-a829-29c1e5bae322
        method: GET
      response:
        body: '{"alerts":[{"annotations":{"dashboard_path":"/d/scw-rdb-postgresql-overview/rdb-postgresql-overview?\u0026var-region={{ $labels.region }}\u0026var-resource_name={{ $labels.resource_name }}","description":"PostgreSQL™ {{ $labels.instance }} node on instance {{ $labels.resource_name }} - {{ $labels.resource_id }} has a connection usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"Too many connections","family":"Managed Databases","product":"PostgreSQL","rule_id":"6c6843af-1815-46df-9e52-6feafcf31fd7","summary":"Too many connections on RDB PostgreSQL™ {{ $labels.resource_name }} cluster"},"data_source_id":"","duration":"10m","name":"PostgresqlTooManyConnections","preconfigured":true,"preconfigured_data":{"display_description":"\u003e 80 % for 10 minutes","display_name":"Too many connections","preconfigured_rule_id":"6c6843af-1815-46df-9e52-6feafcf31fd7","product_family":"Managed Databases","product_name":"PostgreSQL"},"region":"fr-par","rule":"(sum by (instance, resource_name, resource_id, project_id, region) (rdb_instance_postgresql_pg_stat_database_numbackends)) / on (instance, resource_name, resource_id) group_left () rdb_instance_postgresql_pg_settings_max_connections \u003e 0.8","rule_status":"enabled","state":"inactive"},{"annotations":{"dashboard_path":"https://{{ $labels.project_id }}.dashboard.cockpit.scaleway.com/d/scw-lb-overview/lb-overview?var-region={{ $labels.region }}\u0026var-lb_name={{ $labels.resource_name }}","description":"Load Balancer {{ $labels.resource_name }} has a connection usage superior to 80% since 10m","display_description":"\u003e 80 % for 10 minutes","display_name":"High connection usage","family":"Load Balancer","product":"LB","rule_id":"fcf06e62-22ee-4e86-9b16-3cc9708e1b[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/contact-points?project_id=529011e7-daea-47e5-a829-29c1e5bae322
        method: GET
      response:
        body: '{"contact_points":[],"has_additional_contact_points":false,"has_additional_receivers":false,"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.391459ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=custom&page=1&project_id=529011e7-daea-47e5-a829-29c1e5bae322
        method: GET
      response:
        body: '{"data_sources":[{"created_at":"2025-12-01T09:55:20.358251Z","id":"5cbda7ee-4302-445b-85d1-3172b5311b7b","name":"my-data-source-metrics","origin":"custom","project_id":"529011e7-daea-47e5-a829-29c1e5bae322","region":"fr-par","retention_days":31,"synchronized_with_grafana":false,"type":"metrics","updated_at":"2025-12-01T09:55:20.358251Z","url":"https://5cbda7ee-4302-445b-85d1-3172b5311b7b.metrics.cockpit.fr-par.scw.cloud"},{"created_at":"2025-12-01T09:55:20.453997Z","id":"8eb6d28a-db1d-4008-b238-6d8f9fde6d10","name":"my-data-source-traces","origin":"custom","project_id":"529011e7-daea-47e5-a829-29c1e5bae322","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"traces","updated_at":"2025-12-01T09:55:20.453997Z","url":"https://8eb6d28a-db1d-4008-b238-6d8f9fde6d10.traces.cockpit.fr-par.scw.cloud"},{"created_at":"2025-12-01T09:55:20.466795Z","id":"dc348efd-c929-4156-8079-8370feb72b27","name":"my-data-source-logs","origin":"custom","project_id":"529011e7-daea-47e5-a829-29c1e5bae322","region":"fr-par","retention_days":7,"synchronized_with_grafana":false,"type":"logs","updated_at":"2025-12-01T09:55:20.466795Z","url":"https://dc348efd-c929-4156-8079-8370feb72b27.logs.cockpit.fr-par.scw.cloud"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.438542ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=529011e7-daea-47e5-a829-29c1e5bae322
        method: GET
      response:
        body: '{"grafana_url":"https://529011e7-daea-47e5-a829-29c1e5bae322.dashboard.cockpit.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.441125ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"529011e7-daea-47e5-a829-29c1e5bae322"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/managed-alerts/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":true,"alert_manager_url":"https://73bccd29-0e25-4083-9f17-9c492b24654a.alertmanager.cockpit.fr-par.scw.cloud","managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.108083ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"529011e7-daea-47e5-a829-29c1e5bae322"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/alert-manager/disable
        method: POST
      response:
        body: '{"alert_manager_enabled":false,"alert_manager_url":null,"managed_alerts_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.955291ms
[...]
