---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_product_dashboards_tags","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-09-17T05:15:29.626905Z","description":"","id":"d1d0b3d6-50fd-41f3-a156-14ad49cdf648","name":"tf_tests_cockpit_grafana_product_dashboards_tags","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":null,"srn":"","status":"active","updated_at":"2026-09-17T05:15:29.626905Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 356.514083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d1d0b3d6-50fd-41f3-a156-14ad49cdf648
        method: GET
      response:
        body: '{"created_at":"2026-09-17T05:15:29.626905Z","description":"","id":"d1d0b3d6-50fd-41f3-a156-14ad49cdf648","name":"tf_tests_cockpit_grafana_product_dashboards_tags","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"","status":"active","updated_at":"2026-09-17T05:15:29.626905Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.104625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/product-dashboards?page=1&project_id=d1d0b3d6-50fd-41f3-a156-14ad49cdf648&tags=rdb
        method: GET
      response:
        body: '{"dashboards":[{"name":"scw-rdb-mysql-overview","tags":["scw","rdb"],"title":"RDB MySQL Overview","url":"https://d1d0b3d6-50fd-41f3-a156-14ad49cdf648.dashboard.cockpit.scaleway.com/d/scw-rdb-mysql-overview/rdb-mysql-overview","variables":["region","resource_name","instance"]},{"name":"scw-rdb-postgresql-overview","tags":["scw","rdb"],"title":"RDB PostgreSQL Overview","url":"https://d1d0b3d6-50fd-41f3-a156-14ad49cdf648.dashboard.cockpit.scaleway.com/d/scw-rdb-postgresql-overview/rdb-postgresql-overview","variables":["region","resource_name","instance"]}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 96.985709ms
[...]
