---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:02.144978Z","description":"","id":"6d227cfd-b65b-4655-abea-ffc99f429aa9","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.144978Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.137114099s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6d227cfd-b65b-4655-abea-ffc99f429aa9
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:02.144978Z","description":"","id":"6d227cfd-b65b-4655-abea-ffc99f429aa9","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.144978Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.499821ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"6d227cfd-b65b-4655-abea-ffc99f429aa9","login":"testuserbasic","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"testuserbasic","password":"7v66C74KQI4-JapK","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.135276383s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=6d227cfd-b65b-4655-abea-ffc99f429aa9
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"testuserbasic","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.794719ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=6d227cfd-b65b-4655-abea-ffc99f429aa9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 206.387233ms
[...]
