---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-01T14:37:02.119072Z","description":"","id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-01T14:37:02.119072Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ecc840a2-b8d5-4eaf-8315-3ec5f5393077
    method: GET
  response:
    body: '{"created_at":"2023-12-01T14:37:02.119072Z","description":"","id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-01T14:37:02.119072Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-12-01T14:37:02.482393Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://ecc840a2-b8d5-4eaf-8315-3ec5f5393077.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077","status":"ready","updated_at":"2023-12-01T14:37:02.482393Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=ecc840a2-b8d5-4eaf-8315-3ec5f5393077
    method: GET
  response:
    body: '{"created_at":"2023-12-01T14:37:02.482393Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://ecc840a2-b8d5-4eaf-8315-3ec5f5393077.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077","status":"ready","updated_at":"2023-12-01T14:37:02.482393Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077","login":"testuserbasic","role":"editor"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users
    method: POST
  response:
    body: '{"id":2,"login":"testuserbasic","password":"nq5iHPLBFh7ULKPh","role":"editor"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users?order_by=login_asc&page=1&project_id=ecc840a2-b8d5-4eaf-8315-3ec5f5393077
    method: GET
  response:
    body: '{"grafana_users":[{"id":2,"login":"testuserbasic","password":"","role":"editor"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users/2/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: '{"project_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-12-01T14:37:02.482393Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://ecc840a2-b8d5-4eaf-8315-3ec5f5393077.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077","status":"ready","updated_at":"2023-12-01T14:37:02.482393Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=ecc840a2-b8d5-4eaf-8315-3ec5f5393077
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"ecc840a2-b8d5-4eaf-8315-3ec5f5393077","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
