---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-04-22T11:58:39.889133Z","description":"","id":"bccadba6-474e-4dca-8628-3d4820b197b6","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-04-22T11:58:39.889133Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.041033ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/bccadba6-474e-4dca-8628-3d4820b197b6
        method: GET
      response:
        body: '{"created_at":"2024-04-22T11:58:39.889133Z","description":"","id":"bccadba6-474e-4dca-8628-3d4820b197b6","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-04-22T11:58:39.889133Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.621547ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"bccadba6-474e-4dca-8628-3d4820b197b6","login":"testuserbasic","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 25.942839979s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"bccadba6-474e-4dca-8628-3d4820b197b6","login":"testuserbasic","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"testuserbasic","password":"zvNkTPuSqJhoKZ8z","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 10.195490377s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=bccadba6-474e-4dca-8628-3d4820b197b6
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"testuserbasic","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.99352ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=bccadba6-474e-4dca-8628-3d4820b197b6
        method: DELETE
      response:
        body: '{"message":"Internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 145.630824ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=bccadba6-474e-4dca-8628-3d4820b197b6
        method: DELETE
      response:
        body: '{"details":[{"action":"write","resource":"cockpit"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 72.173095ms
