---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-20T15:28:44.527272Z","description":"","id":"bc79c7aa-e9d9-4523-a492-0e91c12a98d2","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T15:28:44.527272Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.873333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/bc79c7aa-e9d9-4523-a492-0e91c12a98d2
        method: GET
      response:
        body: '{"created_at":"2024-12-20T15:28:44.527272Z","description":"","id":"bc79c7aa-e9d9-4523-a492-0e91c12a98d2","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-20T15:28:44.527272Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.495666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"bc79c7aa-e9d9-4523-a492-0e91c12a98d2","login":"testuserupdate","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"testuserupdate","password":"c9XLf5RvSUykeCGH","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.018099416s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=bc79c7aa-e9d9-4523-a492-0e91c12a98d2
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"testuserupdate","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.288125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana?project_id=bc79c7aa-e9d9-4523-a492-0e91c12a98d2
        method: GET
      response:
        body: '{"grafana_url":"https://bc79c7aa-e9d9-4523-a492-0e91c12a98d2.dashboard.cockpit.fr-par.scw.cloud"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.054333ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=bc79c7aa-e9d9-4523-a492-0e91c12a98d2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.176073333s
[...]
