---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_grafana_user_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"fec7b6f3-ecc0-486f-83be-cdc24071f0c3\",\"name\":\"tf_tests_cockpit_grafana_user_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:02.012985Z\",\"updated_at\":\"2025-09-01T16:57:02.012985Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 950.826551ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/fec7b6f3-ecc0-486f-83be-cdc24071f0c3
    method: GET
  response:
    body: "{\"id\":\"fec7b6f3-ecc0-486f-83be-cdc24071f0c3\",\"name\":\"tf_tests_cockpit_grafana_user_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:02.012985Z\",\"updated_at\":\"2025-09-01T16:57:02.012985Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 227.376684ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fec7b6f3-ecc0-486f-83be-cdc24071f0c3\",\"login\":\"testuserupdate\",\"role\":\"editor\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/grafana/users
    method: POST
  response:
    body: "{\"id\":2,\"login\":\"testuserupdate\",\"role\":\"editor\",\"password\":\"QzvUlmOZhUZjqAI4\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 17.394265096s
- id: 3
  request:
    host: api.scaleway.com
    form:
      order_by:
      - login_asc
      page:
      - "1"
      project_id:
      - fec7b6f3-ecc0-486f-83be-cdc24071f0c3
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=fec7b6f3-ecc0-486f-83be-cdc24071f0c3
    method: GET
  response:
    body: "{\"total_count\":1,\"grafana_users\":[{\"id\":2,\"login\":\"testuserupdate\",\"role\":\"editor\",\"password\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.430961559s
- id: 4
  request:
    host: api.scaleway.com
    form:
      project_id:
      - fec7b6f3-ecc0-486f-83be-cdc24071f0c3
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana?project_id=fec7b6f3-ecc0-486f-83be-cdc24071f0c3
    method: GET
  response:
    body: "{\"grafana_url\":\"https://fec7b6f3-ecc0-486f-83be-cdc24071f0c3.dashboard.cockpit.fr-par.scw.cloud\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 152.279174ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      project_id:
      - fec7b6f3-ecc0-486f-83be-cdc24071f0c3
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=fec7b6f3-ecc0-486f-83be-cdc24071f0c3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 189.888628ms
[...]
