---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_user_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:42.624577Z","description":"","id":"3ad5210d-974a-4f5e-a2dc-ae46b0d66552","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.624577Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.919048ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3ad5210d-974a-4f5e-a2dc-ae46b0d66552
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:42.624577Z","description":"","id":"3ad5210d-974a-4f5e-a2dc-ae46b0d66552","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.624577Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.684998ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"3ad5210d-974a-4f5e-a2dc-ae46b0d66552","login":"testuserbasic","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"testuserbasic","password":"e5XDM-8G-L07pVcq","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.339460989s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=3ad5210d-974a-4f5e-a2dc-ae46b0d66552
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"testuserbasic","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.607192ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=3ad5210d-974a-4f5e-a2dc-ae46b0d66552
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 559.977667ms
[...]
