---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:27.483693Z","description":"","id":"364ee9e4-74d8-4a95-892c-aaeed089edad","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:27.483693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.592564ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/364ee9e4-74d8-4a95-892c-aaeed089edad
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:27.483693Z","description":"","id":"364ee9e4-74d8-4a95-892c-aaeed089edad","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:27.483693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.729872ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"364ee9e4-74d8-4a95-892c-aaeed089edad","login":"testuserupdate","role":"editor"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/grafana/users
        method: POST
      response:
        body: '{"id":2,"login":"testuserupdate","password":"znXHvBri4LAP-oL6","role":"editor"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.334378234s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=364ee9e4-74d8-4a95-892c-aaeed089edad
        method: GET
      response:
        body: '{"grafana_users":[{"id":2,"login":"testuserupdate","password":"","role":"editor"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.032432ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=364ee9e4-74d8-4a95-892c-aaeed089edad
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.248419074s
[...]
