---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_grafana_user_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"338c94e0-8391-4a10-9f4f-a0e4d2d23b69\",\"name\":\"tf_tests_cockpit_grafana_user_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.693715Z\",\"updated_at\":\"2025-09-01T16:57:01.693715Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 694.099546ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/338c94e0-8391-4a10-9f4f-a0e4d2d23b69
    method: GET
  response:
    body: "{\"id\":\"338c94e0-8391-4a10-9f4f-a0e4d2d23b69\",\"name\":\"tf_tests_cockpit_grafana_user_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.693715Z\",\"updated_at\":\"2025-09-01T16:57:01.693715Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.137722ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"338c94e0-8391-4a10-9f4f-a0e4d2d23b69\",\"login\":\"testuserbasic\",\"role\":\"editor\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/grafana/users
    method: POST
  response:
    body: "{\"id\":2,\"login\":\"testuserbasic\",\"role\":\"editor\",\"password\":\"-c9ElRk0bEqW7fAz\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 11.956878267s
- id: 3
  request:
    host: api.scaleway.com
    form:
      order_by:
      - login_asc
      page:
      - "1"
      project_id:
      - 338c94e0-8391-4a10-9f4f-a0e4d2d23b69
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana/users?order_by=login_asc&page=1&project_id=338c94e0-8391-4a10-9f4f-a0e4d2d23b69
    method: GET
  response:
    body: "{\"total_count\":1,\"grafana_users\":[{\"id\":2,\"login\":\"testuserbasic\",\"role\":\"editor\",\"password\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.219699ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 338c94e0-8391-4a10-9f4f-a0e4d2d23b69
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana?project_id=338c94e0-8391-4a10-9f4f-a0e4d2d23b69
    method: GET
  response:
    body: "{\"grafana_url\":\"https://338c94e0-8391-4a10-9f4f-a0e4d2d23b69.dashboard.cockpit.fr-par.scw.cloud\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.617213ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 338c94e0-8391-4a10-9f4f-a0e4d2d23b69
    headers:
    url: https://api.scaleway.com/cockpit/v1/grafana/users/2?project_id=338c94e0-8391-4a10-9f4f-a0e4d2d23b69
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 215.418862ms
[...]
