---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:29.377301Z","description":"","id":"f7570bfb-2da3-4cfe-ab33-988905379d84","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:29.377301Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.397587ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f7570bfb-2da3-4cfe-ab33-988905379d84
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:29.377301Z","description":"","id":"f7570bfb-2da3-4cfe-ab33-988905379d84","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:29.377301Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.883364ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f7570bfb-2da3-4cfe-ab33-988905379d84","name":"tf_tests_cockpit_token_update","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:29.753179Z","id":"b3f2bc72-6ee9-424e-a954-b8db33eafb70","name":"tf_tests_cockpit_token_update","project_id":"f7570bfb-2da3-4cfe-ab33-988905379d84","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-09-19T09:04:29.753179Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.95854ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/b3f2bc72-6ee9-424e-a954-b8db33eafb70
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:29.753179Z","id":"b3f2bc72-6ee9-424e-a954-b8db33eafb70","name":"tf_tests_cockpit_token_update","project_id":"f7570bfb-2da3-4cfe-ab33-988905379d84","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-09-19T09:04:29.753179Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.148121ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/f269d5a1-3dd6-43db-ae87-d184a8edcf0d
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"f269d5a1-3dd6-43db-ae87-d184a8edcf0d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.256442ms
