---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:42.679413Z","description":"","id":"f5be4128-0942-479f-95d2-e6c6cdf3ec97","name":"tf_tests_cockpit_token_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.679413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.896595ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f5be4128-0942-479f-95d2-e6c6cdf3ec97
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:42.679413Z","description":"","id":"f5be4128-0942-479f-95d2-e6c6cdf3ec97","name":"tf_tests_cockpit_token_basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.679413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.757945ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f5be4128-0942-479f-95d2-e6c6cdf3ec97","name":"tf_tests_cockpit_token_basic","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:43.235137Z","id":"9a75af70-8c0b-4c55-8e4c-ed33ff14e42a","name":"tf_tests_cockpit_token_basic","project_id":"f5be4128-0942-479f-95d2-e6c6cdf3ec97","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-06-12T12:09:43.235137Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.030447ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/9a75af70-8c0b-4c55-8e4c-ed33ff14e42a
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:43.235137Z","id":"9a75af70-8c0b-4c55-8e4c-ed33ff14e42a","name":"tf_tests_cockpit_token_basic","project_id":"f5be4128-0942-479f-95d2-e6c6cdf3ec97","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-06-12T12:09:43.235137Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.265578ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/9a75af70-8c0b-4c55-8e4c-ed33ff14e42a
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"9a75af70-8c0b-4c55-8e4c-ed33ff14e42a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.237857ms
