---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.245205Z","description":"","id":"cb331b9f-4a58-4ff3-b2e7-3c9374aeba98","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.245205Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.95084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cb331b9f-4a58-4ff3-b2e7-3c9374aeba98
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.245205Z","description":"","id":"cb331b9f-4a58-4ff3-b2e7-3c9374aeba98","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.245205Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.534509ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"cb331b9f-4a58-4ff3-b2e7-3c9374aeba98","name":"tf_tests_cockpit_token_basic","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.608983Z","id":"feb8158c-4cfa-4a14-93c0-2e704614d3e8","name":"tf_tests_cockpit_token_basic","project_id":"cb331b9f-4a58-4ff3-b2e7-3c9374aeba98","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T13:12:37.608983Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.879366ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/feb8158c-4cfa-4a14-93c0-2e704614d3e8
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.608983Z","id":"feb8158c-4cfa-4a14-93c0-2e704614d3e8","name":"tf_tests_cockpit_token_basic","project_id":"cb331b9f-4a58-4ff3-b2e7-3c9374aeba98","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T13:12:37.608983Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.856149ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/feb8158c-4cfa-4a14-93c0-2e704614d3e8
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"feb8158c-4cfa-4a14-93c0-2e704614d3e8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.167319ms
