---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:24.341975Z","description":"","id":"745f9245-2005-49bf-9750-a7351827e612","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:24.341975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.11623725s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/745f9245-2005-49bf-9750-a7351827e612
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:24.341975Z","description":"","id":"745f9245-2005-49bf-9750-a7351827e612","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:24.341975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 404.558952ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"745f9245-2005-49bf-9750-a7351827e612","name":"tf_tests_cockpit_token_basic","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:25.733623Z","id":"6a19f4fa-0dae-45e9-8631-57fb4f05acda","name":"tf_tests_cockpit_token_basic","project_id":"745f9245-2005-49bf-9750-a7351827e612","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-13T10:50:25.733623Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 501.758797ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/6a19f4fa-0dae-45e9-8631-57fb4f05acda
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:25.733623Z","id":"6a19f4fa-0dae-45e9-8631-57fb4f05acda","name":"tf_tests_cockpit_token_basic","project_id":"745f9245-2005-49bf-9750-a7351827e612","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-13T10:50:25.733623Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.157741ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/6a19f4fa-0dae-45e9-8631-57fb4f05acda
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"6a19f4fa-0dae-45e9-8631-57fb4f05acda","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 141.503293ms
