---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_token_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"537d1cc5-72a6-4265-ae1b-20c967fc6b0c\",\"name\":\"tf_tests_cockpit_token_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:02.011110Z\",\"updated_at\":\"2025-09-01T16:57:02.011110Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.057690799s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/537d1cc5-72a6-4265-ae1b-20c967fc6b0c
    method: GET
  response:
    body: "{\"id\":\"537d1cc5-72a6-4265-ae1b-20c967fc6b0c\",\"name\":\"tf_tests_cockpit_token_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:02.011110Z\",\"updated_at\":\"2025-09-01T16:57:02.011110Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 206.536455ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"537d1cc5-72a6-4265-ae1b-20c967fc6b0c\",\"name\":\"tf_tests_cockpit_token_basic\",\"token_scopes\":[\"read_only_metrics\",\"write_only_metrics\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
    method: POST
  response:
    body: "{\"id\":\"098ef5b8-f2af-42f2-92ec-b5a3a672581d\",\"project_id\":\"537d1cc5-72a6-4265-ae1b-20c967fc6b0c\",\"name\":\"tf_tests_cockpit_token_basic\",\"created_at\":\"2025-09-01T16:57:03.202374Z\",\"updated_at\":\"2025-09-01T16:57:03.202374Z\",\"scopes\":[\"write_only_metrics\",\"read_only_metrics\"],\"secret_key\":\"fyjXl7qB-3jLRapL4VIPHtpR3ptzjiDHplYHvkxWyV9sviWg9zVIFl33SK1JTzDF\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.438402ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/098ef5b8-f2af-42f2-92ec-b5a3a672581d
    method: GET
  response:
    body: "{\"id\":\"098ef5b8-f2af-42f2-92ec-b5a3a672581d\",\"project_id\":\"537d1cc5-72a6-4265-ae1b-20c967fc6b0c\",\"name\":\"tf_tests_cockpit_token_basic\",\"created_at\":\"2025-09-01T16:57:03.202374Z\",\"updated_at\":\"2025-09-01T16:57:03.202374Z\",\"scopes\":[\"write_only_metrics\",\"read_only_metrics\"],\"secret_key\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.733312ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/098ef5b8-f2af-42f2-92ec-b5a3a672581d
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"token\",\"resource_id\":\"098ef5b8-f2af-42f2-92ec-b5a3a672581d\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.754991ms
