---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_token_no_scopes\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"ee7fa6bf-5950-488c-aa30-9d1eef95eb78\",\"name\":\"tf_tests_cockpit_token_no_scopes\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.728117Z\",\"updated_at\":\"2025-09-01T16:57:01.728117Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 591.287492ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/ee7fa6bf-5950-488c-aa30-9d1eef95eb78
    method: GET
  response:
    body: "{\"id\":\"ee7fa6bf-5950-488c-aa30-9d1eef95eb78\",\"name\":\"tf_tests_cockpit_token_no_scopes\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:01.728117Z\",\"updated_at\":\"2025-09-01T16:57:01.728117Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.316196ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"ee7fa6bf-5950-488c-aa30-9d1eef95eb78\",\"name\":\"tf_tests_cockpit_token_no_scopes\",\"token_scopes\":[\"write_only_metrics\",\"write_only_logs\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
    method: POST
  response:
    body: "{\"id\":\"ca62d795-e605-46fc-acde-011a54ecb8e3\",\"project_id\":\"ee7fa6bf-5950-488c-aa30-9d1eef95eb78\",\"name\":\"tf_tests_cockpit_token_no_scopes\",\"created_at\":\"2025-09-01T16:57:02.432001Z\",\"updated_at\":\"2025-09-01T16:57:02.432001Z\",\"scopes\":[\"write_only_metrics\",\"write_only_logs\"],\"secret_key\":\"fQxalKWnXxQ2Af5i2H1nB7WotW2OV9xM-KTmb94X6pmAyD4KSDHUS0TcacKvrhR8\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.271761ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/ca62d795-e605-46fc-acde-011a54ecb8e3
    method: GET
  response:
    body: "{\"id\":\"ca62d795-e605-46fc-acde-011a54ecb8e3\",\"project_id\":\"ee7fa6bf-5950-488c-aa30-9d1eef95eb78\",\"name\":\"tf_tests_cockpit_token_no_scopes\",\"created_at\":\"2025-09-01T16:57:02.432001Z\",\"updated_at\":\"2025-09-01T16:57:02.432001Z\",\"scopes\":[\"write_only_metrics\",\"write_only_logs\"],\"secret_key\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.918367ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/ca62d795-e605-46fc-acde-011a54ecb8e3
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"token\",\"resource_id\":\"ca62d795-e605-46fc-acde-011a54ecb8e3\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 40.738386ms
