---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:02.244302Z","description":"","id":"c219e756-0ff5-43f1-9aa6-6876a5d1dc36","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.244302Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 552.98793ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c219e756-0ff5-43f1-9aa6-6876a5d1dc36
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:02.244302Z","description":"","id":"c219e756-0ff5-43f1-9aa6-6876a5d1dc36","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.244302Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.821798ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c219e756-0ff5-43f1-9aa6-6876a5d1dc36","name":"tf_tests_cockpit_token_update","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:03.390125Z","id":"d42280b5-6458-40f5-88b8-4c6dcdb9250b","name":"tf_tests_cockpit_token_update","project_id":"c219e756-0ff5-43f1-9aa6-6876a5d1dc36","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-01T13:53:03.390125Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.009549ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/d42280b5-6458-40f5-88b8-4c6dcdb9250b
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:03.390125Z","id":"d42280b5-6458-40f5-88b8-4c6dcdb9250b","name":"tf_tests_cockpit_token_update","project_id":"c219e756-0ff5-43f1-9aa6-6876a5d1dc36","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-01T13:53:03.390125Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.836855ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/71e42844-e3ef-46a4-8119-28224a420afe
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"71e42844-e3ef-46a4-8119-28224a420afe","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 665.445337ms
