---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:39.129340Z","description":"","id":"f2df4a4a-ee64-4526-8772-d2d0e964d724","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:39.129340Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.654725ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f2df4a4a-ee64-4526-8772-d2d0e964d724
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:39.129340Z","description":"","id":"f2df4a4a-ee64-4526-8772-d2d0e964d724","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:39.129340Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.995982ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f2df4a4a-ee64-4526-8772-d2d0e964d724","name":"tf_tests_cockpit_token_basic","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:39.547908Z","id":"743ea413-a1f7-4bd1-9ba3-d85cb48e4e32","name":"tf_tests_cockpit_token_basic","project_id":"f2df4a4a-ee64-4526-8772-d2d0e964d724","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-12T08:34:39.547908Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.466058ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/743ea413-a1f7-4bd1-9ba3-d85cb48e4e32
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:39.547908Z","id":"743ea413-a1f7-4bd1-9ba3-d85cb48e4e32","name":"tf_tests_cockpit_token_basic","project_id":"f2df4a4a-ee64-4526-8772-d2d0e964d724","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-12T08:34:39.547908Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.043473ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/743ea413-a1f7-4bd1-9ba3-d85cb48e4e32
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"743ea413-a1f7-4bd1-9ba3-d85cb48e4e32","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.651704ms
