---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:02.277488Z","description":"","id":"3a58dde2-e93d-4fb7-9ef5-ee778b1c89f0","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.277488Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.055546922s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3a58dde2-e93d-4fb7-9ef5-ee778b1c89f0
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:02.277488Z","description":"","id":"3a58dde2-e93d-4fb7-9ef5-ee778b1c89f0","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.277488Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.012539ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"3a58dde2-e93d-4fb7-9ef5-ee778b1c89f0","name":"tf_tests_cockpit_token_no_scopes","token_scopes":["write_only_metrics","write_only_logs"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:03.485185Z","id":"21a5f9a1-65c1-4efa-8fe8-155dd840c9df","name":"tf_tests_cockpit_token_no_scopes","project_id":"3a58dde2-e93d-4fb7-9ef5-ee778b1c89f0","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-01T13:53:03.485185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.938674ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/21a5f9a1-65c1-4efa-8fe8-155dd840c9df
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:03.485185Z","id":"21a5f9a1-65c1-4efa-8fe8-155dd840c9df","name":"tf_tests_cockpit_token_no_scopes","project_id":"3a58dde2-e93d-4fb7-9ef5-ee778b1c89f0","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-01T13:53:03.485185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.829767ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/21a5f9a1-65c1-4efa-8fe8-155dd840c9df
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"21a5f9a1-65c1-4efa-8fe8-155dd840c9df","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.206694ms
