---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:30.372350Z","description":"","id":"8923da43-2c19-42ad-8011-2c55913b6b54","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:30.372350Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.560976ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8923da43-2c19-42ad-8011-2c55913b6b54
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:30.372350Z","description":"","id":"8923da43-2c19-42ad-8011-2c55913b6b54","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:30.372350Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.10908ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"8923da43-2c19-42ad-8011-2c55913b6b54","name":"tf_tests_cockpit_token_basic","token_scopes":["write_only_metrics","read_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:30.777794Z","id":"1005e969-2a54-4b5c-9b58-a4626949cbc7","name":"tf_tests_cockpit_token_basic","project_id":"8923da43-2c19-42ad-8011-2c55913b6b54","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-09-19T09:04:30.777794Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.752532ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/1005e969-2a54-4b5c-9b58-a4626949cbc7
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:30.777794Z","id":"1005e969-2a54-4b5c-9b58-a4626949cbc7","name":"tf_tests_cockpit_token_basic","project_id":"8923da43-2c19-42ad-8011-2c55913b6b54","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-09-19T09:04:30.777794Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.51251ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/1005e969-2a54-4b5c-9b58-a4626949cbc7
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"1005e969-2a54-4b5c-9b58-a4626949cbc7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.498204ms
