---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_cockpit_token_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"ce22f38b-a6c3-4b54-946f-5ed5fec416ce\",\"name\":\"tf_tests_cockpit_token_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:02.049927Z\",\"updated_at\":\"2025-09-01T16:57:02.049927Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 998.111855ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/ce22f38b-a6c3-4b54-946f-5ed5fec416ce
    method: GET
  response:
    body: "{\"id\":\"ce22f38b-a6c3-4b54-946f-5ed5fec416ce\",\"name\":\"tf_tests_cockpit_token_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T16:57:02.049927Z\",\"updated_at\":\"2025-09-01T16:57:02.049927Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 260.34877ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"ce22f38b-a6c3-4b54-946f-5ed5fec416ce\",\"name\":\"tf_tests_cockpit_token_update\",\"token_scopes\":[\"write_only_metrics\",\"read_only_metrics\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
    method: POST
  response:
    body: "{\"id\":\"42794038-811a-4566-97ff-35603d23b55f\",\"project_id\":\"ce22f38b-a6c3-4b54-946f-5ed5fec416ce\",\"name\":\"tf_tests_cockpit_token_update\",\"created_at\":\"2025-09-01T16:57:03.203081Z\",\"updated_at\":\"2025-09-01T16:57:03.203081Z\",\"scopes\":[\"write_only_metrics\",\"read_only_metrics\"],\"secret_key\":\"l0SC9ugX2_fG3psXXL7fa0J3H5uzC0d7qNr-5MOZTgxf-eRh-ZyyscWOQxBgE686\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.147912ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/42794038-811a-4566-97ff-35603d23b55f
    method: GET
  response:
    body: "{\"id\":\"42794038-811a-4566-97ff-35603d23b55f\",\"project_id\":\"ce22f38b-a6c3-4b54-946f-5ed5fec416ce\",\"name\":\"tf_tests_cockpit_token_update\",\"created_at\":\"2025-09-01T16:57:03.203081Z\",\"updated_at\":\"2025-09-01T16:57:03.203081Z\",\"scopes\":[\"write_only_metrics\",\"read_only_metrics\"],\"secret_key\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.523013ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/322583c5-6ab7-4c13-8743-9c39c44b5a11
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"token\",\"resource_id\":\"322583c5-6ab7-4c13-8743-9c39c44b5a11\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 110.005825ms
