---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:36.963085Z","description":"","id":"fc6b32db-79c3-4935-8bca-969c032b407e","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:36.963085Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.555252ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fc6b32db-79c3-4935-8bca-969c032b407e
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:36.963085Z","description":"","id":"fc6b32db-79c3-4935-8bca-969c032b407e","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:36.963085Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.614764ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fc6b32db-79c3-4935-8bca-969c032b407e","name":"tf_tests_cockpit_token_no_scopes","token_scopes":["write_only_metrics","write_only_logs"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.367430Z","id":"740cd1c9-b781-4766-b952-d40e5972f93c","name":"tf_tests_cockpit_token_no_scopes","project_id":"fc6b32db-79c3-4935-8bca-969c032b407e","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T13:12:37.367430Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.720137ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/740cd1c9-b781-4766-b952-d40e5972f93c
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.367430Z","id":"740cd1c9-b781-4766-b952-d40e5972f93c","name":"tf_tests_cockpit_token_no_scopes","project_id":"fc6b32db-79c3-4935-8bca-969c032b407e","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T13:12:37.367430Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.099892ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/740cd1c9-b781-4766-b952-d40e5972f93c
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"740cd1c9-b781-4766-b952-d40e5972f93c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.349365ms
