---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-04-23T11:03:29.739879Z","description":"","id":"c7635043-ee4b-4317-9b02-1f6f0a83ebcb","name":"tf_tests_cockpit_token_update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-23T11:03:29.739879Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.750296ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c7635043-ee4b-4317-9b02-1f6f0a83ebcb
        method: GET
      response:
        body: '{"created_at":"2024-04-23T11:03:29.739879Z","description":"","id":"c7635043-ee4b-4317-9b02-1f6f0a83ebcb","name":"tf_tests_cockpit_token_update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-23T11:03:29.739879Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.688471ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c7635043-ee4b-4317-9b02-1f6f0a83ebcb","name":"tf_tests_cockpit_token_update","token_scopes":["write_only_metrics","read_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-04-23T11:03:30.115564Z","id":"79dccd64-d0ae-459e-8ca9-b577c744b35e","name":"tf_tests_cockpit_token_update","project_id":"c7635043-ee4b-4317-9b02-1f6f0a83ebcb","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-04-23T11:03:30.115564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.277296ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/79dccd64-d0ae-459e-8ca9-b577c744b35e
        method: GET
      response:
        body: '{"created_at":"2024-04-23T11:03:30.115564Z","id":"79dccd64-d0ae-459e-8ca9-b577c744b35e","name":"tf_tests_cockpit_token_update","project_id":"c7635043-ee4b-4317-9b02-1f6f0a83ebcb","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-04-23T11:03:30.115564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.57411ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/09ae6efe-342b-4510-abc2-1d97d3e1d517
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"09ae6efe-342b-4510-abc2-1d97d3e1d517","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.053217ms
