---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:34.333697Z","description":"","id":"e5e95bc7-1fcb-4994-bc0a-82c78e9af3c6","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:34.333697Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.196387ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e5e95bc7-1fcb-4994-bc0a-82c78e9af3c6
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:34.333697Z","description":"","id":"e5e95bc7-1fcb-4994-bc0a-82c78e9af3c6","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:34.333697Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.826835ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"e5e95bc7-1fcb-4994-bc0a-82c78e9af3c6","name":"tf_tests_cockpit_token_no_scopes","token_scopes":["write_only_metrics","write_only_logs"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:34.750574Z","id":"66d246de-2f59-410e-9847-00f6363bddde","name":"tf_tests_cockpit_token_no_scopes","project_id":"e5e95bc7-1fcb-4994-bc0a-82c78e9af3c6","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-13T10:50:34.750574Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.588567ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/66d246de-2f59-410e-9847-00f6363bddde
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:34.750574Z","id":"66d246de-2f59-410e-9847-00f6363bddde","name":"tf_tests_cockpit_token_no_scopes","project_id":"e5e95bc7-1fcb-4994-bc0a-82c78e9af3c6","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-13T10:50:34.750574Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.809756ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/66d246de-2f59-410e-9847-00f6363bddde
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"66d246de-2f59-410e-9847-00f6363bddde","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 177.073395ms
