---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:30.556306Z","description":"","id":"07603b3d-5ea6-4974-b15d-f93599db746b","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:30.556306Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.930672ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/07603b3d-5ea6-4974-b15d-f93599db746b
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:30.556306Z","description":"","id":"07603b3d-5ea6-4974-b15d-f93599db746b","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-13T10:50:30.556306Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.307634ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"07603b3d-5ea6-4974-b15d-f93599db746b","name":"tf_tests_cockpit_token_update","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-13T10:50:31.168048Z","id":"43d07685-6854-46b7-956f-3ec988325b17","name":"tf_tests_cockpit_token_update","project_id":"07603b3d-5ea6-4974-b15d-f93599db746b","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-13T10:50:31.168048Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.443631ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/43d07685-6854-46b7-956f-3ec988325b17
        method: GET
      response:
        body: '{"created_at":"2024-08-13T10:50:31.168048Z","id":"43d07685-6854-46b7-956f-3ec988325b17","name":"tf_tests_cockpit_token_update","project_id":"07603b3d-5ea6-4974-b15d-f93599db746b","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-13T10:50:31.168048Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.011124ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/f1cc27da-2548-4ee4-8782-0371e6769af9
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"f1cc27da-2548-4ee4-8782-0371e6769af9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 198.311271ms
