---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:33.351568Z","description":"","id":"3ccfb022-9d43-4e09-8188-6aaee53d645c","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:33.351568Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.825543ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3ccfb022-9d43-4e09-8188-6aaee53d645c
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:33.351568Z","description":"","id":"3ccfb022-9d43-4e09-8188-6aaee53d645c","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-19T09:04:33.351568Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.451458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"3ccfb022-9d43-4e09-8188-6aaee53d645c","name":"tf_tests_cockpit_token_no_scopes","token_scopes":["write_only_metrics","write_only_logs"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-09-19T09:04:33.754775Z","id":"3ed23100-398f-4b39-b3ab-fadd1b693da5","name":"tf_tests_cockpit_token_no_scopes","project_id":"3ccfb022-9d43-4e09-8188-6aaee53d645c","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-09-19T09:04:33.754775Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.932369ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/3ed23100-398f-4b39-b3ab-fadd1b693da5
        method: GET
      response:
        body: '{"created_at":"2024-09-19T09:04:33.754775Z","id":"3ed23100-398f-4b39-b3ab-fadd1b693da5","name":"tf_tests_cockpit_token_no_scopes","project_id":"3ccfb022-9d43-4e09-8188-6aaee53d645c","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-09-19T09:04:33.754775Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.052461ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/3ed23100-398f-4b39-b3ab-fadd1b693da5
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"3ed23100-398f-4b39-b3ab-fadd1b693da5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.769389ms
