---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-04-23T11:02:19.549428Z","description":"","id":"c87aea8a-982d-4df0-ae9b-2d5befef23bc","name":"tf_tests_cockpit_token_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-23T11:02:19.549428Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.901871ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c87aea8a-982d-4df0-ae9b-2d5befef23bc
        method: GET
      response:
        body: '{"created_at":"2024-04-23T11:02:19.549428Z","description":"","id":"c87aea8a-982d-4df0-ae9b-2d5befef23bc","name":"tf_tests_cockpit_token_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-23T11:02:19.549428Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.10739ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c87aea8a-982d-4df0-ae9b-2d5befef23bc","name":"tf_tests_cockpit_token_basic","token_scopes":["write_only_metrics","read_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-04-23T11:02:19.955028Z","id":"068ce5e4-ffb2-44be-b861-a3058ada6d65","name":"tf_tests_cockpit_token_basic","project_id":"c87aea8a-982d-4df0-ae9b-2d5befef23bc","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-04-23T11:02:19.955028Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.254143ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/068ce5e4-ffb2-44be-b861-a3058ada6d65
        method: GET
      response:
        body: '{"created_at":"2024-04-23T11:02:19.955028Z","id":"068ce5e4-ffb2-44be-b861-a3058ada6d65","name":"tf_tests_cockpit_token_basic","project_id":"c87aea8a-982d-4df0-ae9b-2d5befef23bc","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-04-23T11:02:19.955028Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.031817ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/068ce5e4-ffb2-44be-b861-a3058ada6d65
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"068ce5e4-ffb2-44be-b861-a3058ada6d65","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.730797ms
