---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-04-23T11:02:37.022900Z","description":"","id":"2f99ccec-ec79-4c1c-8a92-227ff6738681","name":"tf_tests_cockpit_token_no_scopes","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-23T11:02:37.022900Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 293.298521ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2f99ccec-ec79-4c1c-8a92-227ff6738681
        method: GET
      response:
        body: '{"created_at":"2024-04-23T11:02:37.022900Z","description":"","id":"2f99ccec-ec79-4c1c-8a92-227ff6738681","name":"tf_tests_cockpit_token_no_scopes","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-04-23T11:02:37.022900Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.972204ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"2f99ccec-ec79-4c1c-8a92-227ff6738681","name":"tf_tests_cockpit_token_no_scopes","token_scopes":["write_only_metrics","write_only_logs"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-04-23T11:02:37.431539Z","id":"49df997c-b8fc-4033-a06a-10a016be2bca","name":"tf_tests_cockpit_token_no_scopes","project_id":"2f99ccec-ec79-4c1c-8a92-227ff6738681","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-04-23T11:02:37.431539Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.771743ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/49df997c-b8fc-4033-a06a-10a016be2bca
        method: GET
      response:
        body: '{"created_at":"2024-04-23T11:02:37.431539Z","id":"49df997c-b8fc-4033-a06a-10a016be2bca","name":"tf_tests_cockpit_token_no_scopes","project_id":"2f99ccec-ec79-4c1c-8a92-227ff6738681","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-04-23T11:02:37.431539Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.822938ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/49df997c-b8fc-4033-a06a-10a016be2bca
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"49df997c-b8fc-4033-a06a-10a016be2bca","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.122425ms
