---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_update","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:42.598230Z","description":"","id":"2ffb73ec-60e1-4115-bc7b-119cfd4f75d4","name":"tf_tests_cockpit_token_update","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.598230Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.834608ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2ffb73ec-60e1-4115-bc7b-119cfd4f75d4
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:42.598230Z","description":"","id":"2ffb73ec-60e1-4115-bc7b-119cfd4f75d4","name":"tf_tests_cockpit_token_update","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","updated_at":"2024-06-12T12:09:42.598230Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.984562ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"2ffb73ec-60e1-4115-bc7b-119cfd4f75d4","name":"tf_tests_cockpit_token_update","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-06-12T12:09:42.971802Z","id":"bf4073a2-6c0e-4958-abc1-84038d5d67a2","name":"tf_tests_cockpit_token_update","project_id":"2ffb73ec-60e1-4115-bc7b-119cfd4f75d4","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-06-12T12:09:42.971802Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.570592ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/bf4073a2-6c0e-4958-abc1-84038d5d67a2
        method: GET
      response:
        body: '{"created_at":"2024-06-12T12:09:42.971802Z","id":"bf4073a2-6c0e-4958-abc1-84038d5d67a2","name":"tf_tests_cockpit_token_update","project_id":"2ffb73ec-60e1-4115-bc7b-119cfd4f75d4","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-06-12T12:09:42.971802Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.805406ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2ffb73ec-60e1-4115-bc7b-119cfd4f75d4
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"2ffb73ec-60e1-4115-bc7b-119cfd4f75d4\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 20.388856391s
