---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:34.784207Z","description":"","id":"be67fde8-d3fd-4899-be2f-31ef15ec35b8","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:34.784207Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.8705ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/be67fde8-d3fd-4899-be2f-31ef15ec35b8
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:34.784207Z","description":"","id":"be67fde8-d3fd-4899-be2f-31ef15ec35b8","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:34.784207Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.970435ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"be67fde8-d3fd-4899-be2f-31ef15ec35b8","name":"tf_tests_cockpit_token_update","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:35.143909Z","id":"6dc7d4f4-aac7-4184-ac6c-1f12cf23c1a4","name":"tf_tests_cockpit_token_update","project_id":"be67fde8-d3fd-4899-be2f-31ef15ec35b8","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-12T08:34:35.143909Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.723359ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/6dc7d4f4-aac7-4184-ac6c-1f12cf23c1a4
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:35.143909Z","id":"6dc7d4f4-aac7-4184-ac6c-1f12cf23c1a4","name":"tf_tests_cockpit_token_update","project_id":"be67fde8-d3fd-4899-be2f-31ef15ec35b8","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-12T08:34:35.143909Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.435266ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/a23adec9-49f1-4399-bd94-473b2854d494
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"a23adec9-49f1-4399-bd94-473b2854d494","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.335114ms
