---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-cpt-tok-eph-all-off","token_scopes":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2026-10-08T11:34:11.944360Z","id":"6666d8f5-427c-4a03-9e0c-f9b86684e1b2","name":"tf-tests-cpt-tok-eph-all-off","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","scopes":[],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-10-08T11:34:11.944360Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 494.572917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/6666d8f5-427c-4a03-9e0c-f9b86684e1b2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 54.823125ms
[...]
