---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.301790Z","description":"","id":"5a3b9b5c-3582-457c-a436-4b841352cee9","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.301790Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.747627ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5a3b9b5c-3582-457c-a436-4b841352cee9
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.301790Z","description":"","id":"5a3b9b5c-3582-457c-a436-4b841352cee9","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-07-02T13:12:37.301790Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.968223ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"5a3b9b5c-3582-457c-a436-4b841352cee9","name":"tf_tests_cockpit_token_update","token_scopes":["read_only_metrics","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-07-02T13:12:37.717821Z","id":"cace3a1c-3e6c-42f7-9c5c-70006bda1f2c","name":"tf_tests_cockpit_token_update","project_id":"5a3b9b5c-3582-457c-a436-4b841352cee9","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T13:12:37.717821Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.297949ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/cace3a1c-3e6c-42f7-9c5c-70006bda1f2c
        method: GET
      response:
        body: '{"created_at":"2024-07-02T13:12:37.717821Z","id":"cace3a1c-3e6c-42f7-9c5c-70006bda1f2c","name":"tf_tests_cockpit_token_update","project_id":"5a3b9b5c-3582-457c-a436-4b841352cee9","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T13:12:37.717821Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.145339ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/6c72f518-b824-4a1d-b01e-bf87e941c550
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"6c72f518-b824-4a1d-b01e-bf87e941c550","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.468171ms
