---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:24:16.455773Z","description":"","id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-11-09T21:24:16.455773Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/6a4815e2-4101-4f9e-bbae-b6938374e7ba
    method: GET
  response:
    body: '{"created_at":"2023-11-09T21:24:16.455773Z","description":"","id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-11-09T21:24:16.455773Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:24:16.779969Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://6a4815e2-4101-4f9e-bbae-b6938374e7ba.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","status":"creating","updated_at":"2023-11-09T21:24:16.779969Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=6a4815e2-4101-4f9e-bbae-b6938374e7ba
    method: GET
  response:
    body: '{"created_at":"2023-11-09T21:24:16.779969Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://6a4815e2-4101-4f9e-bbae-b6938374e7ba.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","status":"creating","updated_at":"2023-11-09T21:24:16.779969Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","name":"tf_tests_cockpit_token_update","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false,"query_traces":false,"write_traces":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:24:22.139487Z","id":"b05f6884-7203-4991-823d-d4f7ee71835a","name":"tf_tests_cockpit_token_update","project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","scopes":{"query_logs":false,"query_metrics":true,"query_traces":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true,"write_traces":false},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-09T21:24:22.139487Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/b05f6884-7203-4991-823d-d4f7ee71835a
    method: GET
  response:
    body: '{"created_at":"2023-11-09T21:24:22.139487Z","id":"b05f6884-7203-4991-823d-d4f7ee71835a","name":"tf_tests_cockpit_token_update","project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","scopes":{"query_logs":false,"query_metrics":true,"query_traces":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true,"write_traces":false},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-09T21:24:22.139487Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:24:16.779969Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://6a4815e2-4101-4f9e-bbae-b6938374e7ba.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","status":"deleting","updated_at":"2023-11-09T21:24:25.936389Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=6a4815e2-4101-4f9e-bbae-b6938374e7ba
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"6a4815e2-4101-4f9e-bbae-b6938374e7ba","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
