---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:02.113390Z","description":"","id":"dd040033-349e-4bab-a8aa-42759a68de19","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.113390Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.15131012s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/dd040033-349e-4bab-a8aa-42759a68de19
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:02.113390Z","description":"","id":"dd040033-349e-4bab-a8aa-42759a68de19","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-01T13:53:02.113390Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.277923ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"dd040033-349e-4bab-a8aa-42759a68de19","name":"tf_tests_cockpit_token_basic","token_scopes":["write_only_metrics","read_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-01T13:53:03.509620Z","id":"0bef588e-125a-4ea0-9de9-ff8113d4f293","name":"tf_tests_cockpit_token_basic","project_id":"dd040033-349e-4bab-a8aa-42759a68de19","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-01T13:53:03.509620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.790167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/0bef588e-125a-4ea0-9de9-ff8113d4f293
        method: GET
      response:
        body: '{"created_at":"2024-08-01T13:53:03.509620Z","id":"0bef588e-125a-4ea0-9de9-ff8113d4f293","name":"tf_tests_cockpit_token_basic","project_id":"dd040033-349e-4bab-a8aa-42759a68de19","region":"fr-par","scopes":["write_only_metrics","read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-01T13:53:03.509620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.802727ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/0bef588e-125a-4ea0-9de9-ff8113d4f293
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"0bef588e-125a-4ea0-9de9-ff8113d4f293","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.641357ms
