---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-cpt-tok-eph-basic","token_scopes":["read_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2026-10-07T06:59:51.224115Z","id":"c639788f-0ff8-46c9-9a19-b8790d3abfa2","name":"tf-tests-cpt-tok-eph-basic","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","scopes":["read_only_metrics"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-10-07T06:59:51.224115Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 206.78525ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/c639788f-0ff8-46c9-9a19-b8790d3abfa2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 150.47475ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-cpt-tok-eph-basic","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-10-07T06:59:51.763957Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"ea6affeb-693f-40ff-a0c0-c96f930bd13f","key_id":null,"managed":false,"name":"tf-tests-cpt-tok-eph-basic","path":"/","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-10-07T06:59:51.763957Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 229.281625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 31.607417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ea6affeb-693f-40ff-a0c0-c96f930bd13f
        method: GET
      response:
        body: '{"created_at":"2026-10-07T06:59:51.763957Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"ea6affeb-693f-40ff-a0c0-c96f930bd13f","key_id":null,"managed":false,"name":"tf-tests-cpt-tok-eph-basic","path":"/","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-10-07T06:59:51.763957Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 124.433958ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ea6affeb-693f-40ff-a0c0-c96f930bd13f/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.85475ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw","description":"tf-tests-cpt-tok-eph-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ea6affeb-693f-40ff-a0c0-c96f930bd13f/versions
        method: POST
      response:
        body: '{"created_at":"2026-10-07T06:59:52.424210Z","deleted_at":null,"deletion_requested_at":null,"description":"tf-tests-cpt-tok-eph-basic","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"ea6affeb-693f-40ff-a0c0-c96f930bd13f","srn":"","status":"enabled","updated_at":"2026-10-07T06:59:52.424210Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 441.111375ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ea6affeb-693f-40ff-a0c0-c96f930bd13f/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-10-07T06:59:52.424210Z","deleted_at":null,"deletion_requested_at":null,"description":"tf-tests-cpt-tok-eph-basic","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"ea6affeb-693f-40ff-a0c0-c96f930bd13f","srn":"","status":"enabled","updated_at":"2026-10-07T06:59:52.424210Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 210.740542ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ea6affeb-693f-40ff-a0c0-c96f930bd13f/versions/1/access
        method: GET
      response:
        body: '{"data":"MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw","data_crc32":null,"revision":1,"secret_id":"ea6affeb-693f-40ff-a0c0-c96f930bd13f","type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 148.998917ms
[...]
