---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:42.712923Z","description":"","id":"4788222e-257a-4d0a-ac02-92fd1390d891","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:42.712923Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.976516ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/4788222e-257a-4d0a-ac02-92fd1390d891
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:42.712923Z","description":"","id":"4788222e-257a-4d0a-ac02-92fd1390d891","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-12T08:34:42.712923Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.344927ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"4788222e-257a-4d0a-ac02-92fd1390d891","name":"tf_tests_cockpit_token_no_scopes","token_scopes":["write_only_logs","write_only_metrics"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"created_at":"2024-08-12T08:34:43.067397Z","id":"f093944c-fc84-475c-8d03-c2b9c17d61d9","name":"tf_tests_cockpit_token_no_scopes","project_id":"4788222e-257a-4d0a-ac02-92fd1390d891","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-12T08:34:43.067397Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.969326ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/f093944c-fc84-475c-8d03-c2b9c17d61d9
        method: GET
      response:
        body: '{"created_at":"2024-08-12T08:34:43.067397Z","id":"f093944c-fc84-475c-8d03-c2b9c17d61d9","name":"tf_tests_cockpit_token_no_scopes","project_id":"4788222e-257a-4d0a-ac02-92fd1390d891","region":"fr-par","scopes":["write_only_metrics","write_only_logs"],"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-08-12T08:34:43.067397Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.717567ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/f093944c-fc84-475c-8d03-c2b9c17d61d9
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"token","resource_id":"f093944c-fc84-475c-8d03-c2b9c17d61d9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.977615ms
