---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"c82621ae-321c-4e62-bb3c-d6fe773c7678@test.test","organization_name":"tf_test_partner_list_d3823608","owner_firstname":"John","owner_lastname":"Doe","customer_id":"customer-list-8ed58859"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T13:36:00.950001Z","customer_id":"customer-list-8ed58859","email":"c82621ae-321c-4e62-bb3c-d6fe773c7678@test.test","id":"92caf1d4-cf1f-4863-9747-184ee3632052","lock_reason_message":"validate_email","locked_at":"2026-09-11T13:36:01.060156Z","locked_by":"scaleway","name":"tf_test_partner_list_d3823608","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.025866728s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/92caf1d4-cf1f-4863-9747-184ee3632052
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-11T13:36:00.950001Z","customer_id":"customer-list-8ed58859","email":"c82621ae-321c-4e62-bb3c-d6fe773c7678@test.test","id":"92caf1d4-cf1f-4863-9747-184ee3632052","lock_reason_message":"validate_email","locked_at":"2026-09-11T13:36:01.060156Z","locked_by":"scaleway","name":"tf_test_partner_list_d3823608","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.102918ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations?customer_id=customer-list-8ed58859&locked_by=unknown_locked_by&order_by=created_at_asc&page=1&status=unknown_status
        method: GET
      response:
        body: '{"organizations":[{"comment":"","created_at":"2026-09-11T13:36:00.950001Z","customer_id":"customer-list-8ed58859","email":"c82621ae-321c-4e62-bb3c-d6fe773c7678@test.test","id":"92caf1d4-cf1f-4863-9747-184ee3632052","lock_reason_message":"validate_email","locked_at":"2026-09-11T13:36:01.060156Z","locked_by":"scaleway","name":"tf_test_partner_list_d3823608","owner_firstname":"John","owner_lastname":"Doe","phone_number":"","picture_link":null,"siren_number":null,"status":"locked"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.266066ms
[...]
