interactions:
    - id: 0
      request:
        body: '{"customer_id":"tf_test_partner_list","email":"tf_test@example.com","organization_name":"tf_test_partner_list","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-16T08:01:24.538599Z","customer_id":"tf_test_partner_list","email":"tf_test@example.com","id":"e74d2600-1f78-4c5b-a6bd-353e60954d9c","lock_reason_message":"validate_email","locked_at":"2026-09-16T08:01:24.645870Z","locked_by":"scaleway","name":"tf_test_partner_list","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.032169188s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/e74d2600-1f78-4c5b-a6bd-353e60954d9c
      response:
        body: '{"comment":"","created_at":"2026-09-16T08:01:24.538599Z","customer_id":"tf_test_partner_list","email":"tf_test@example.com","id":"e74d2600-1f78-4c5b-a6bd-353e60954d9c","lock_reason_message":"validate_email","locked_at":"2026-09-16T08:01:24.645870Z","locked_by":"scaleway","name":"tf_test_partner_list","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 92.612305ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        form:
            customer_id:
                - tf_test_partner_list
            locked_by:
                - unknown_locked_by
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown_status
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations?customer_id=tf_test_partner_list&locked_by=unknown_locked_by&order_by=created_at_asc&page=1&status=unknown_status
      response:
        body: '{"organizations":[{"comment":"","created_at":"2026-09-15T12:36:22.283841Z","customer_id":"tf_test_partner_list","email":"tf_test@example.com","id":"a34d3fe8-49f6-40d5-8a22-93a2ffbd879c","lock_reason_message":"validate_email","locked_at":"2026-09-15T12:36:22.423486Z","locked_by":"scaleway","name":"tf_test_partner_list","owner_firstname":"John","owner_lastname":"Doe","phone_number":"","picture_link":null,"status":"locked"},{"comment":"","created_at":"2026-09-15T12:37:21.170308Z","customer_id":"tf_test_partner_list","email":"tf_test@example.com","id":"6f1e15d1-57ca-4395-91a5-378fdb457ae6","lock_reason_message":"validate_email","locked_at":"2026-09-15T12:37:21.278816Z","locked_by":"scaleway","name":"tf_test_partner_list","owner_firstname":"John","owner_lastname":"Doe","phone_number":"","picture_link":null,"status":"locked"},{"comment":"","created_at":"2026-09-16T08:01:24.538599Z","customer_id":"tf_test_partner_list","email":"tf_test@example.com","id":"e74d2600-1f78-4c5b-a6bd-353e60954d9c","lock_reason_message":"validate_email","locked_at":"2026-09-16T08:01:24.645870Z","locked_by":"scaleway","name":"tf_test_partner_list","owner_firstname":"John","owner_lastname":"Doe","phone_number":"","picture_link":null,"status":"locked"}],"total_count":3}'
        code: 200
        duration: 61.377473ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 4
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/e74d2600-1f78-4c5b-a6bd-353e60954d9c/lock
      response:
        body: '{"comment":"","created_at":"2026-09-16T08:01:24.538599Z","customer_id":"tf_test_partner_list","email":"tf_test@example.com","id":"e74d2600-1f78-4c5b-a6bd-353e60954d9c","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-16T08:01:26.685680Z","locked_by":"partner","name":"tf_test_partner_list","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 88.554394ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
