interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-789","email":"tf_test@example.com","organization_name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","phone_number":"+33123456789"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.180496Z","customer_id":"customer-789","email":"tf_test@example.com","id":"cd541bda-a767-4594-a1c5-aca9dbfd4b8a","lock_reason_message":"validate_email","locked_at":"2026-09-15T13:56:39.348489Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.12948468s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/cd541bda-a767-4594-a1c5-aca9dbfd4b8a
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.180496Z","customer_id":"customer-789","email":"tf_test@example.com","id":"cd541bda-a767-4594-a1c5-aca9dbfd4b8a","lock_reason_message":"validate_email","locked_at":"2026-09-15T13:56:39.348489Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"status":"locked"}'
        code: 200
        duration: 70.882732ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/cd541bda-a767-4594-a1c5-aca9dbfd4b8a/lock
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.180496Z","customer_id":"customer-789","email":"tf_test@example.com","id":"cd541bda-a767-4594-a1c5-aca9dbfd4b8a","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-15T13:56:41.936658Z","locked_by":"partner","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"status":"locked"}'
        code: 200
        duration: 69.323163ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
