---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"dba19bb1-527d-43fa-8834-affea2e63d5a@test.test","organization_name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","customer_id":"customer-789"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T15:19:02.884478Z","customer_id":"customer-789","email":"dba19bb1-527d-43fa-8834-affea2e63d5a@test.test","id":"d9962c78-5b7e-499e-a41b-a9c52e712828","lock_reason_message":"validate_email","locked_at":"2026-09-11T15:19:03.036410Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.392069356s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/d9962c78-5b7e-499e-a41b-a9c52e712828
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-11T15:19:02.884478Z","customer_id":"customer-789","email":"dba19bb1-527d-43fa-8834-affea2e63d5a@test.test","id":"d9962c78-5b7e-499e-a41b-a9c52e712828","lock_reason_message":"validate_email","locked_at":"2026-09-11T15:19:03.036410Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.842517ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations/d9962c78-5b7e-499e-a41b-a9c52e712828/lock
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T15:19:02.884478Z","customer_id":"customer-789","email":"dba19bb1-527d-43fa-8834-affea2e63d5a@test.test","id":"d9962c78-5b7e-499e-a41b-a9c52e712828","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-11T15:19:06.146642Z","locked_by":"partner","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 109.674027ms
