---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"d018c30b-c289-436b-939c-926c2ffc0a1a@test.test","organization_name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","customer_id":"customer-default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-10T14:10:32.692959Z","customer_id":"customer-default","email":"d018c30b-c289-436b-939c-926c2ffc0a1a@test.test","id":"e2f30654-ef7f-4d87-8da9-b538320aa56a","lock_reason_message":"validate_email","locked_at":"2026-09-10T14:10:32.830315Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.109072145s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/e2f30654-ef7f-4d87-8da9-b538320aa56a
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-10T14:10:32.692959Z","customer_id":"customer-default","email":"d018c30b-c289-436b-939c-926c2ffc0a1a@test.test","id":"e2f30654-ef7f-4d87-8da9-b538320aa56a","lock_reason_message":"validate_email","locked_at":"2026-09-10T14:10:32.830315Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.769468ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations/e2f30654-ef7f-4d87-8da9-b538320aa56a/lock
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-10T14:10:32.692959Z","customer_id":"customer-default","email":"d018c30b-c289-436b-939c-926c2ffc0a1a@test.test","id":"e2f30654-ef7f-4d87-8da9-b538320aa56a","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-10T14:10:34.492721Z","locked_by":"partner","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.575939ms
