interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-789","email":"test@example.com","organization_name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","phone_number":"+33123456789"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.769067Z","customer_id":"customer-789","email":"test@example.com","id":"320b00f0-70b2-4807-811e-b10413b2614c","lock_reason_message":"validate_email","locked_at":"2026-09-14T17:07:10.921255Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 1.236983489s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/320b00f0-70b2-4807-811e-b10413b2614c
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.769067Z","customer_id":"customer-789","email":"test@example.com","id":"320b00f0-70b2-4807-811e-b10413b2614c","lock_reason_message":"validate_email","locked_at":"2026-09-14T17:07:10.921255Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 86.913554ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/320b00f0-70b2-4807-811e-b10413b2614c/lock
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.769067Z","customer_id":"customer-789","email":"test@example.com","id":"320b00f0-70b2-4807-811e-b10413b2614c","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-14T17:07:13.706763Z","locked_by":"partner","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 126.129794ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
