interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-admin-role","email":"tf_test@example.com","organization_name":"tf_test_admin_role_org","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:54:55.285360Z","customer_id":"customer-admin-role","email":"tf_test@example.com","id":"547a4b95-1d92-4ae4-99ff-e8eeb658e88c","lock_reason_message":"validate_email","locked_at":"2026-09-16T15:54:55.408390Z","locked_by":"scaleway","name":"tf_test_admin_role_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.769977445s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        body: '{"email":"tf_test@example.com","password":"xxxxxxxx","username":"testuser"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/547a4b95-1d92-4ae4-99ff-e8eeb658e88c/request-admin-role
      response:
        body: ""
        code: 204
        duration: 410.624908ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
    - id: 2
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/547a4b95-1d92-4ae4-99ff-e8eeb658e88c
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:54:55.285360Z","customer_id":"customer-admin-role","email":"tf_test@example.com","id":"547a4b95-1d92-4ae4-99ff-e8eeb658e88c","lock_reason_message":"validate_email","locked_at":"2026-09-16T15:54:55.408390Z","locked_by":"scaleway","name":"tf_test_admin_role_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 66.728824ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/547a4b95-1d92-4ae4-99ff-e8eeb658e88c/lock
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:54:55.285360Z","customer_id":"customer-admin-role","email":"tf_test@example.com","id":"547a4b95-1d92-4ae4-99ff-e8eeb658e88c","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-16T15:54:58.183751Z","locked_by":"partner","name":"tf_test_admin_role_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 107.124246ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
