interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-default","email":"test@example.com","organization_name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.774141Z","customer_id":"customer-default","email":"test@example.com","id":"990aef2d-217e-4b27-885b-c8647cf3bc6d","lock_reason_message":"validate_email","locked_at":"2026-09-14T17:07:10.904494Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 1.231782861s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/990aef2d-217e-4b27-885b-c8647cf3bc6d
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.774141Z","customer_id":"customer-default","email":"test@example.com","id":"990aef2d-217e-4b27-885b-c8647cf3bc6d","lock_reason_message":"validate_email","locked_at":"2026-09-14T17:07:10.904494Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 75.290518ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/990aef2d-217e-4b27-885b-c8647cf3bc6d/lock
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.774141Z","customer_id":"customer-default","email":"test@example.com","id":"990aef2d-217e-4b27-885b-c8647cf3bc6d","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-14T17:07:12.750405Z","locked_by":"partner","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 93.986776ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
