---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"49df9678-e0c2-43c4-84db-a950519134e2@test.test","organization_name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","customer_id":"customer-123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T14:56:46.665888Z","customer_id":"customer-123","email":"49df9678-e0c2-43c4-84db-a950519134e2@test.test","id":"db7ec892-78ac-4a28-b71d-566b647993c3","lock_reason_message":"validate_email","locked_at":"2026-09-11T14:56:46.785548Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.147148484s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/db7ec892-78ac-4a28-b71d-566b647993c3
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-11T14:56:46.665888Z","customer_id":"customer-123","email":"49df9678-e0c2-43c4-84db-a950519134e2@test.test","id":"db7ec892-78ac-4a28-b71d-566b647993c3","lock_reason_message":"validate_email","locked_at":"2026-09-11T14:56:46.785548Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 90.863882ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations/db7ec892-78ac-4a28-b71d-566b647993c3/lock
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T14:56:46.665888Z","customer_id":"customer-456","email":"f3496274-5a86-42e3-8398-3932a8e17686@test.test","id":"db7ec892-78ac-4a28-b71d-566b647993c3","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-11T14:56:49.829924Z","locked_by":"partner","name":"tf_test_partner_org_updated","owner_firstname":"Jane","owner_lastname":"Smith","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 72.90137ms
