interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-default","email":"tf_test@example.com","organization_name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.180721Z","customer_id":"customer-default","email":"tf_test@example.com","id":"38050556-4278-43c7-b953-4b2680bcebdd","lock_reason_message":"validate_email","locked_at":"2026-09-15T13:56:39.299834Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.097869386s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/38050556-4278-43c7-b953-4b2680bcebdd
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.180721Z","customer_id":"customer-default","email":"tf_test@example.com","id":"38050556-4278-43c7-b953-4b2680bcebdd","lock_reason_message":"validate_email","locked_at":"2026-09-15T13:56:39.299834Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 78.241534ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/38050556-4278-43c7-b953-4b2680bcebdd/lock
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.180721Z","customer_id":"customer-default","email":"tf_test@example.com","id":"38050556-4278-43c7-b953-4b2680bcebdd","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-15T13:56:41.036055Z","locked_by":"partner","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 96.467946ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
