interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-123","email":"tf_test@example.com","organization_name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.185919Z","customer_id":"customer-123","email":"tf_test@example.com","id":"829777f4-cdfa-4eb1-a3e5-07de4d370528","lock_reason_message":"validate_email","locked_at":"2026-09-15T10:02:40.296904Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 962.15212ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/829777f4-cdfa-4eb1-a3e5-07de4d370528
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.185919Z","customer_id":"customer-123","email":"tf_test@example.com","id":"829777f4-cdfa-4eb1-a3e5-07de4d370528","lock_reason_message":"validate_email","locked_at":"2026-09-15T10:02:40.296904Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 90.338723ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/829777f4-cdfa-4eb1-a3e5-07de4d370528/lock
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.185919Z","customer_id":"customer-456","email":"tf_test@example.com","id":"829777f4-cdfa-4eb1-a3e5-07de4d370528","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-15T10:02:43.088357Z","locked_by":"partner","name":"tf_test_partner_org_updated","owner_firstname":"Jane","owner_lastname":"Smith","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 106.85179ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
