---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"7bc3d135-5d33-4954-a153-378564596963@test.test","organization_name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","customer_id":"customer-123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T13:37:02.076021Z","customer_id":"customer-123","email":"7bc3d135-5d33-4954-a153-378564596963@test.test","id":"2183bb10-14ab-418f-945c-eb46303f1b86","lock_reason_message":"validate_email","locked_at":"2026-09-11T13:37:02.203106Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.175345512s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/2183bb10-14ab-418f-945c-eb46303f1b86
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-11T13:37:02.076021Z","customer_id":"customer-123","email":"7bc3d135-5d33-4954-a153-378564596963@test.test","id":"2183bb10-14ab-418f-945c-eb46303f1b86","lock_reason_message":"validate_email","locked_at":"2026-09-11T13:37:02.203106Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.356448ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations/2183bb10-14ab-418f-945c-eb46303f1b86/lock
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T13:37:02.076021Z","customer_id":"customer-123","email":"7bc3d135-5d33-4954-a153-378564596963@test.test","id":"2183bb10-14ab-418f-945c-eb46303f1b86","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-11T13:37:04.475232Z","locked_by":"partner","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 147.182682ms
