interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-123","email":"tf_test@example.com","organization_name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.184027Z","customer_id":"customer-123","email":"tf_test@example.com","id":"7d283e95-641f-4232-93ea-41ff49cd0d18","lock_reason_message":"validate_email","locked_at":"2026-09-15T13:56:39.326798Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.133421496s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/7d283e95-641f-4232-93ea-41ff49cd0d18
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.184027Z","customer_id":"customer-123","email":"tf_test@example.com","id":"7d283e95-641f-4232-93ea-41ff49cd0d18","lock_reason_message":"validate_email","locked_at":"2026-09-15T13:56:39.326798Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 68.356443ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 3
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/7d283e95-641f-4232-93ea-41ff49cd0d18/lock
      response:
        body: '{"comment":"","created_at":"2026-09-15T13:56:39.184027Z","customer_id":"customer-123","email":"tf_test@example.com","id":"7d283e95-641f-4232-93ea-41ff49cd0d18","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-15T13:56:41.428098Z","locked_by":"partner","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 89.999291ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
