interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-789","email":"tf_test@example.com","organization_name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","phone_number":"+33123456789"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.177142Z","customer_id":"customer-789","email":"tf_test@example.com","id":"9dd937c5-94cf-4d54-ad9c-fd7598216284","lock_reason_message":"validate_email","locked_at":"2026-09-15T10:02:40.311015Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.707596936s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/9dd937c5-94cf-4d54-ad9c-fd7598216284
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.177142Z","customer_id":"customer-789","email":"tf_test@example.com","id":"9dd937c5-94cf-4d54-ad9c-fd7598216284","lock_reason_message":"validate_email","locked_at":"2026-09-15T10:02:40.311015Z","locked_by":"scaleway","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"status":"locked"}'
        code: 200
        duration: 70.349506ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/9dd937c5-94cf-4d54-ad9c-fd7598216284/lock
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.177142Z","customer_id":"customer-789","email":"tf_test@example.com","id":"9dd937c5-94cf-4d54-ad9c-fd7598216284","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-15T10:02:43.420197Z","locked_by":"partner","name":"tf_test_partner_org_phone","owner_firstname":"John","owner_lastname":"Doe","phone_number":"+33123456789","picture_link":null,"status":"locked"}'
        code: 200
        duration: 117.316579ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
