interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-unlock","email":"tf_test@example.com","organization_name":"tf_test_unlock_org","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:08.163492Z","customer_id":"customer-unlock","email":"tf_test@example.com","id":"30974f69-7b43-480a-91db-9304f2e79acf","lock_reason_message":"validate_email","locked_at":"2026-09-16T15:55:08.273084Z","locked_by":"scaleway","name":"tf_test_unlock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.179711718s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/30974f69-7b43-480a-91db-9304f2e79acf/lock
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:08.163492Z","customer_id":"customer-unlock","email":"tf_test@example.com","id":"30974f69-7b43-480a-91db-9304f2e79acf","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-16T15:55:09.242711Z","locked_by":"partner","name":"tf_test_unlock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 121.93127ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/30974f69-7b43-480a-91db-9304f2e79acf/unlock
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:08.163492Z","customer_id":"customer-unlock","email":"tf_test@example.com","id":"30974f69-7b43-480a-91db-9304f2e79acf","lock_reason_message":"validate_email","locked_at":"2026-09-16T15:55:08.273084Z","locked_by":"scaleway","name":"tf_test_unlock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 89.725454ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/30974f69-7b43-480a-91db-9304f2e79acf
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:08.163492Z","customer_id":"customer-unlock","email":"tf_test@example.com","id":"30974f69-7b43-480a-91db-9304f2e79acf","lock_reason_message":"validate_email","locked_at":"2026-09-16T15:55:08.273084Z","locked_by":"scaleway","name":"tf_test_unlock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 73.172502ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/30974f69-7b43-480a-91db-9304f2e79acf/lock
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:08.163492Z","customer_id":"customer-unlock","email":"tf_test@example.com","id":"30974f69-7b43-480a-91db-9304f2e79acf","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-16T15:55:10.352434Z","locked_by":"partner","name":"tf_test_unlock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 94.168345ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
