---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"ecce6985-f5da-4073-9d3f-599cdcb4ba05@test.test","organization_name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","customer_id":"customer-123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T15:18:53.079508Z","customer_id":"customer-123","email":"ecce6985-f5da-4073-9d3f-599cdcb4ba05@test.test","id":"6f4049e3-5910-4283-bb02-382ef15aa460","lock_reason_message":"validate_email","locked_at":"2026-09-11T15:18:53.178078Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.657000968s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/6f4049e3-5910-4283-bb02-382ef15aa460
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-11T15:18:53.079508Z","customer_id":"customer-123","email":"ecce6985-f5da-4073-9d3f-599cdcb4ba05@test.test","id":"6f4049e3-5910-4283-bb02-382ef15aa460","lock_reason_message":"validate_email","locked_at":"2026-09-11T15:18:53.178078Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 77.824815ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations/6f4049e3-5910-4283-bb02-382ef15aa460/lock
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T15:18:53.079508Z","customer_id":"customer-123","email":"ecce6985-f5da-4073-9d3f-599cdcb4ba05@test.test","id":"6f4049e3-5910-4283-bb02-382ef15aa460","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-11T15:18:55.994428Z","locked_by":"partner","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 105.091345ms
