interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-lock","email":"tf_test@example.com","organization_name":"tf_test_lock_org","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:20.463628Z","customer_id":"customer-lock","email":"tf_test@example.com","id":"414bc273-8e9e-4777-b45b-f6beb0449d9d","lock_reason_message":"validate_email","locked_at":"2026-09-16T15:55:20.597722Z","locked_by":"scaleway","name":"tf_test_lock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.019779684s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/414bc273-8e9e-4777-b45b-f6beb0449d9d/lock
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:20.463628Z","customer_id":"customer-lock","email":"tf_test@example.com","id":"414bc273-8e9e-4777-b45b-f6beb0449d9d","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-16T15:55:21.403055Z","locked_by":"partner","name":"tf_test_lock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 100.259985ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/414bc273-8e9e-4777-b45b-f6beb0449d9d
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:20.463628Z","customer_id":"customer-lock","email":"tf_test@example.com","id":"414bc273-8e9e-4777-b45b-f6beb0449d9d","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-16T15:55:21.403055Z","locked_by":"partner","name":"tf_test_lock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 89.410166ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 4
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/414bc273-8e9e-4777-b45b-f6beb0449d9d/lock
      response:
        body: '{"comment":"","created_at":"2026-09-16T15:55:20.463628Z","customer_id":"customer-lock","email":"tf_test@example.com","id":"414bc273-8e9e-4777-b45b-f6beb0449d9d","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-16T15:55:22.411311Z","locked_by":"partner","name":"tf_test_lock_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 76.788402ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
