---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"36793fac-473d-4f2b-aeec-87eded1e81a8@test.test","organization_name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","customer_id":"customer-default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T14:56:46.661972Z","customer_id":"customer-default","email":"36793fac-473d-4f2b-aeec-87eded1e81a8@test.test","id":"7b0fe769-7683-47d3-bdfb-7acc00d9a37d","lock_reason_message":"validate_email","locked_at":"2026-09-11T14:56:46.808983Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.919793634s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/7b0fe769-7683-47d3-bdfb-7acc00d9a37d
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-11T14:56:46.661972Z","customer_id":"customer-default","email":"36793fac-473d-4f2b-aeec-87eded1e81a8@test.test","id":"7b0fe769-7683-47d3-bdfb-7acc00d9a37d","lock_reason_message":"validate_email","locked_at":"2026-09-11T14:56:46.808983Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.310735ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations/7b0fe769-7683-47d3-bdfb-7acc00d9a37d/lock
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-11T14:56:46.661972Z","customer_id":"customer-default","email":"36793fac-473d-4f2b-aeec-87eded1e81a8@test.test","id":"7b0fe769-7683-47d3-bdfb-7acc00d9a37d","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-11T14:56:49.177130Z","locked_by":"partner","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.052119ms
