interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-123","email":"test@example.com","organization_name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.775395Z","customer_id":"customer-123","email":"test@example.com","id":"feb35fd4-01c0-4d5e-9910-db8e93a3696c","lock_reason_message":"validate_email","locked_at":"2026-09-14T17:07:10.911024Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 1.236038671s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/feb35fd4-01c0-4d5e-9910-db8e93a3696c
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.775395Z","customer_id":"customer-123","email":"test@example.com","id":"feb35fd4-01c0-4d5e-9910-db8e93a3696c","lock_reason_message":"validate_email","locked_at":"2026-09-14T17:07:10.911024Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 92.510207ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 3
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/feb35fd4-01c0-4d5e-9910-db8e93a3696c/lock
      response:
        body: '{"comment":"","created_at":"2026-09-14T17:07:10.775395Z","customer_id":"customer-123","email":"test@example.com","id":"feb35fd4-01c0-4d5e-9910-db8e93a3696c","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-14T17:07:13.154141Z","locked_by":"partner","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        code: 200
        duration: 90.266455ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
