interactions:
    - id: 0
      request:
        body: '{"customer_id":"customer-default","email":"tf_test@example.com","organization_name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.181677Z","customer_id":"customer-default","email":"tf_test@example.com","id":"4b4f5ea2-9510-47c5-8cc5-dd42f2bb9864","lock_reason_message":"validate_email","locked_at":"2026-09-15T10:02:40.304604Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 1.080211736s
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/partner/v1/organizations/4b4f5ea2-9510-47c5-8cc5-dd42f2bb9864
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.181677Z","customer_id":"customer-default","email":"tf_test@example.com","id":"4b4f5ea2-9510-47c5-8cc5-dd42f2bb9864","lock_reason_message":"validate_email","locked_at":"2026-09-15T10:02:40.304604Z","locked_by":"scaleway","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 79.161414ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/partner/v1/organizations/4b4f5ea2-9510-47c5-8cc5-dd42f2bb9864/lock
      response:
        body: '{"comment":"","created_at":"2026-09-15T10:02:40.181677Z","customer_id":"customer-default","email":"tf_test@example.com","id":"4b4f5ea2-9510-47c5-8cc5-dd42f2bb9864","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-15T10:02:41.999393Z","locked_by":"partner","name":"tf_test_partner_org_default","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"status":"locked"}'
        code: 200
        duration: 97.863991ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
