---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"partner_id":"7fbc0d5f-9d3e-48e4-8fef-6a4533c9ab2e","email":"3c81578e-56c3-4df2-b860-261d6ac5d766@test.test","organization_name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","customer_id":"customer-123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations
        method: POST
      response:
        body: '{"comment":"","created_at":"2026-09-10T14:09:34.464333Z","customer_id":"customer-123","email":"3c81578e-56c3-4df2-b860-261d6ac5d766@test.test","id":"ff4db4e9-0710-4b44-a8cd-7881d3443621","lock_reason_message":"validate_email","locked_at":"2026-09-10T14:09:34.590023Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.089583572s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/partner/v1/organizations/ff4db4e9-0710-4b44-a8cd-7881d3443621
        method: GET
      response:
        body: '{"comment":"","created_at":"2026-09-10T14:09:34.464333Z","customer_id":"customer-123","email":"3c81578e-56c3-4df2-b860-261d6ac5d766@test.test","id":"ff4db4e9-0710-4b44-a8cd-7881d3443621","lock_reason_message":"validate_email","locked_at":"2026-09-10T14:09:34.590023Z","locked_by":"scaleway","name":"tf_test_partner_org","owner_firstname":"John","owner_lastname":"Doe","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 87.758054ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/partner/v1/organizations/ff4db4e9-0710-4b44-a8cd-7881d3443621/lock
        method: POST
      response:
        body: '{"comment":"Updated organization","created_at":"2026-09-10T14:09:34.464333Z","customer_id":"customer-456","email":"0f35f721-8c9d-464b-b299-a9b723eb4ae1@test.test","id":"ff4db4e9-0710-4b44-a8cd-7881d3443621","lock_reason_message":"locked_by_reseller","locked_at":"2026-09-10T14:09:38.193782Z","locked_by":"partner","name":"tf_test_partner_org_updated","owner_firstname":"Jane","owner_lastname":"Smith","phone_number":null,"picture_link":null,"siren_number":null,"status":"locked"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 113.88597ms
