---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test_iot_hub_datasource","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:31.074Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"0ab87963-ffc8-487a-8ba3-f62b8f5d5da9","name":"test_iot_hub_datasource","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:31.074Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 536.877625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0ab87963-ffc8-487a-8ba3-f62b8f5d5da9
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:31.074Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"0ab87963-ffc8-487a-8ba3-f62b8f5d5da9","name":"test_iot_hub_datasource","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:31.074Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.155125ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs?name=test_iot_hub_datasource&order_by=name_asc
        method: GET
      response:
        body: '{"hubs":[{"connected_device_count":0,"created_at":"2025-01-23T10:26:31.074Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"0ab87963-ffc8-487a-8ba3-f62b8f5d5da9","name":"test_iot_hub_datasource","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","updated_at":"2025-01-23T10:26:31.074Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.48175ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0ab87963-ffc8-487a-8ba3-f62b8f5d5da9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"0ab87963-ffc8-487a-8ba3-f62b8f5d5da9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.239833ms
[...]
