---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test_iot_device_datasource\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_iot_device_datasource\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.437Z\",\"updated_at\":\"2025-08-26T16:27:09.437Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 816.778062ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e47b79e4-342a-4b21-bf8c-b55b40ea9ee5
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_iot_device_datasource\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.437Z\",\"updated_at\":\"2025-08-26T16:27:09.437Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.427757ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test_iot_device_datasource\",\"hub_id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"allow_insecure\":false,\"allow_multiple_connections\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
    method: POST
  response:
    body: "{\"device\":{\"id\":\"f78c2651-c643-4005-afce-124c0d361dbd\",\"name\":\"test_iot_device_datasource\",\"status\":\"enabled\",\"hub_id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"created_at\":\"2025-08-26T16:27:10.611Z\",\"updated_at\":\"2025-08-26T16:27:10.611Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false},\"certificate\":{\"crt\":\"-----BEGIN CERTIFICATE-----\\nMIIEZjCCA06gAwIBAgIRAPQH0xMxwBh4KaVxUnevi+swDQYJKoZIhvcNAQELBQAw\\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzMxOTIxMjczNDc5OTE1NDg1OTExOTkz\\nMzcyMjg5NzE3MDg4NDAyNzAeFw0yNTA4MjUxNjI3MTBaFw0zNTA4MjUxNjI3MTBa\\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\\[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/f78c2651-c643-4005-afce-124c0d361dbd
    method: GET
  response:
    body: "{\"id\":\"f78c2651-c643-4005-afce-124c0d361dbd\",\"name\":\"test_iot_device_datasource\",\"status\":\"enabled\",\"hub_id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"created_at\":\"2025-08-26T16:27:10.611Z\",\"updated_at\":\"2025-08-26T16:27:10.611Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.790316ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/f78c2651-c643-4005-afce-124c0d361dbd/certificate
    method: GET
  response:
    body: "{\"device\":{\"id\":\"f78c2651-c643-4005-afce-124c0d361dbd\",\"name\":\"test_iot_device_datasource\",\"status\":\"enabled\",\"hub_id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"created_at\":\"2025-08-26T16:27:10.611Z\",\"updated_at\":\"2025-08-26T16:27:10.611Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false},\"certificate_pem\":\"-----BEGIN CERTIFICATE-----\\nMIIEZjCCA06gAwIBAgIRAPQH0xMxwBh4KaVxUnevi+swDQYJKoZIhvcNAQELBQAw\\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzMxOTIxMjczNDc5OTE1NDg1OTExOTkz\\nMzcyMjg5NzE3MDg4NDAyNzAeFw0yNTA4MjUxNjI3MTBaFw0zNTA4MjUxNjI3MTBa\\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\\[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      hub_id:
      - e47b79e4-342a-4b21-bf8c-b55b40ea9ee5
      name:
      - test_iot_device_datasource
      order_by:
      - name_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?hub_id=e47b79e4-342a-4b21-bf8c-b55b40ea9ee5&name=test_iot_device_datasource&order_by=name_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"devices\":[{\"id\":\"f78c2651-c643-4005-afce-124c0d361dbd\",\"name\":\"test_iot_device_datasource\",\"status\":\"enabled\",\"hub_id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"created_at\":\"2025-08-26T16:27:10.611Z\",\"updated_at\":\"2025-08-26T16:27:10.611Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 205.686829ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      name:
      - test_iot_device_datasource
      order_by:
      - name_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?name=test_iot_device_datasource&order_by=name_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"devices\":[{\"id\":\"f78c2651-c643-4005-afce-124c0d361dbd\",\"name\":\"test_iot_device_datasource\",\"status\":\"enabled\",\"hub_id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"created_at\":\"2025-08-26T16:27:10.611Z\",\"updated_at\":\"2025-08-26T16:27:10.611Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 543.835314ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e47b79e4-342a-4b21-bf8c-b55b40ea9ee5
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"e47b79e4-342a-4b21-bf8c-b55b40ea9ee5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 73.910755ms
[...]
