---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test_iot_hub_datasource\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"fdfa84df-71fc-469e-ab01-2f503d7495a2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_iot_hub_datasource\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.379Z\",\"updated_at\":\"2025-08-26T16:27:09.379Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.661819463s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/fdfa84df-71fc-469e-ab01-2f503d7495a2
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"fdfa84df-71fc-469e-ab01-2f503d7495a2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_iot_hub_datasource\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.379Z\",\"updated_at\":\"2025-08-26T16:27:09.379Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 285.482882ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - test_iot_hub_datasource
      order_by:
      - name_asc
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs?name=test_iot_hub_datasource&order_by=name_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"hubs\":[{\"region\":\"fr-par\",\"id\":\"fdfa84df-71fc-469e-ab01-2f503d7495a2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test_iot_hub_datasource\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.379Z\",\"updated_at\":\"2025-08-26T16:27:09.379Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.55718ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/fdfa84df-71fc-469e-ab01-2f503d7495a2
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"fdfa84df-71fc-469e-ab01-2f503d7495a2\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.406571ms
[...]
