---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test_iot_device_datasource","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.408Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"b0db4275-73a7-4553-a353-656b9b2c6dec","name":"test_iot_device_datasource","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:24.408Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.016674417s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/b0db4275-73a7-4553-a353-656b9b2c6dec
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.408Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"b0db4275-73a7-4553-a353-656b9b2c6dec","name":"test_iot_device_datasource","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","updated_at":"2025-01-23T10:26:24.408Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.114958ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test_iot_device_datasource","hub_id":"b0db4275-73a7-4553-a353-656b9b2c6dec","allow_insecure":false,"allow_multiple_connections":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
        method: POST
      response:
        body: '{"certificate":{"crt":"-----BEGIN CERTIFICATE-----\nMIIEZjCCA06gAwIBAgIRAN1t7Ipk6wQ7gNbyruNp8WgwDQYJKoZIhvcNAQELBQAw\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzI0NjU4NTk5OTc1NzQzMDk4OTI4MzIw\nMTIwODQ5Mjg5NDc4NzYzMzAeFw0yNTAxMjIxMDI2MjZaFw0zNTAxMjIxMDI2MjZa\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\nMC8GA1UE[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/72a2eb04-a277-4307-ae85-5fb03369f870
        method: GET
      response:
        body: '{"allow_insecure":false,"allow_multiple_connections":false,"created_at":"2025-01-23T10:26:25.998Z","description":"","has_custom_certificate":false,"hub_id":"b0db4275-73a7-4553-a353-656b9b2c6dec","id":"72a2eb04-a277-4307-ae85-5fb03369f870","is_connected":false,"last_activity_at":"1970-01-01T00:00:00Z","message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"name":"test_iot_device_datasource","status":"enabled","updated_at":"2025-01-23T10:26:25.998Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.688625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/72a2eb04-a277-4307-ae85-5fb03369f870/certificate
        method: GET
      response:
        body: '{"certificate_pem":"-----BEGIN CERTIFICATE-----\nMIIEZjCCA06gAwIBAgIRAN1t7Ipk6wQ7gNbyruNp8WgwDQYJKoZIhvcNAQELBQAw\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzI0NjU4NTk5OTc1NzQzMDk4OTI4MzIw\nMTIwODQ5Mjg5NDc4NzYzMzAeFw0yNTAxMjIxMDI2MjZaFw0zNTAxMjIxMDI2MjZa\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\nMC8GA1UE[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?hub_id=b0db4275-73a7-4553-a353-656b9b2c6dec&name=test_iot_device_datasource&order_by=name_asc&status=unknown
        method: GET
      response:
        body: '{"devices":[{"allow_insecure":false,"allow_multiple_connections":false,"created_at":"2025-01-23T10:26:25.998Z","description":"","has_custom_certificate":false,"hub_id":"b0db4275-73a7-4553-a353-656b9b2c6dec","id":"72a2eb04-a277-4307-ae85-5fb03369f870","is_connected":false,"last_activity_at":"1970-01-01T00:00:00Z","message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"name":"test_iot_device_datasource","status":"enabled","updated_at":"2025-01-23T10:26:25.998Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.360791ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?name=test_iot_device_datasource&order_by=name_asc&status=unknown
        method: GET
      response:
        body: '{"devices":[{"allow_insecure":false,"allow_multiple_connections":false,"created_at":"2025-01-23T10:26:25.998Z","description":"","has_custom_certificate":false,"hub_id":"b0db4275-73a7-4553-a353-656b9b2c6dec","id":"72a2eb04-a277-4307-ae85-5fb03369f870","is_connected":false,"last_activity_at":"1970-01-01T00:00:00Z","message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"name":"test_iot_device_datasource","status":"enabled","updated_at":"2025-01-23T10:26:25.998Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.408083ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/b0db4275-73a7-4553-a353-656b9b2c6dec
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"b0db4275-73a7-4553-a353-656b9b2c6dec","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.351291ms
[...]
