---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test_iot_hub_datasource","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-05-22T14:23:42.187Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"87602c36-f96d-4344-af53-8d7604482be8","name":"test_iot_hub_datasource","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","status":"enabling","updated_at":"2025-05-22T14:23:42.187Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 881.288667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/87602c36-f96d-4344-af53-8d7604482be8
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-05-22T14:23:42.187Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"87602c36-f96d-4344-af53-8d7604482be8","name":"test_iot_hub_datasource","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","status":"ready","updated_at":"2025-05-22T14:23:42.187Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.090917ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs?name=test_iot_hub_datasource&order_by=name_asc
        method: GET
      response:
        body: '{"hubs":[{"connected_device_count":0,"created_at":"2025-05-22T14:23:42.187Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"87602c36-f96d-4344-af53-8d7604482be8","name":"test_iot_hub_datasource","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","status":"ready","updated_at":"2025-05-22T14:23:42.187Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.421417ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/87602c36-f96d-4344-af53-8d7604482be8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"87602c36-f96d-4344-af53-8d7604482be8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 119.555708ms
[...]
