---
version: 2
interactions:
- request:
    body: '{"name":"test_iot_device_datasource","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"connected_device_count":0,"created_at":"2024-02-06T15:09:06.776Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"0dc793af-b262-48cf-9c1b-8b2ea45dbdef","name":"test_iot_device_datasource","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2024-02-06T15:09:06.776Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0dc793af-b262-48cf-9c1b-8b2ea45dbdef
    method: GET
  response:
    body: '{"connected_device_count":0,"created_at":"2024-02-06T15:09:06.776Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"0dc793af-b262-48cf-9c1b-8b2ea45dbdef","name":"test_iot_device_datasource","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2024-02-06T15:09:06.776Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"test_iot_device_datasource","hub_id":"0dc793af-b262-48cf-9c1b-8b2ea45dbdef","allow_insecure":false,"allow_multiple_connections":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
    method: POST
  response:
    body: '{"certificate":{"crt":"-----BEGIN CERTIFICATE-----\nMIIEZjCCA06gAwIBAgIRAPM/+nf04tsz3iUmLcbb6y0wDQYJKoZIhvcNAQELBQAw\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzEyMjU1NTYzNTcxNTA3NzAxODA5MTY1\nMjQ1MTc5MDUxNTMwMDIyOTAeFw0yNDAyMDUxNTA5MTNaFw0zNDAyMDUxNTA5MTNa\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\nMC8GA1UE[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/fe4c7c31-ca4c-4aeb-b93f-623ee675d9f8
    method: GET
  response:
    body: '{"allow_insecure":false,"allow_multiple_connections":false,"created_at":"2024-02-06T15:09:12.781Z","description":"","has_custom_certificate":false,"hub_id":"0dc793af-b262-48cf-9c1b-8b2ea45dbdef","id":"fe4c7c31-ca4c-4aeb-b93f-623ee675d9f8","is_connected":false,"last_activity_at":"1970-01-01T00:00:00Z","message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"name":"test_iot_device_datasource","status":"enabled","updated_at":"2024-02-06T15:09:12.781Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/fe4c7c31-ca4c-4aeb-b93f-623ee675d9f8/certificate
    method: GET
  response:
    body: '{"certificate_pem":"-----BEGIN CERTIFICATE-----\nMIIEZjCCA06gAwIBAgIRAPM/+nf04tsz3iUmLcbb6y0wDQYJKoZIhvcNAQELBQAw\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzEyMjU1NTYzNTcxNTA3NzAxODA5MTY1\nMjQ1MTc5MDUxNTMwMDIyOTAeFw0yNDAyMDUxNTA5MTNaFw0zNDAyMDUxNTA5MTNa\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\nMC8GA1UE[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?hub_id=0dc793af-b262-48cf-9c1b-8b2ea45dbdef&name=test_iot_device_datasource&order_by=name_asc&status=unknown
    method: GET
  response:
    body: '{"devices":[{"allow_insecure":false,"allow_multiple_connections":false,"created_at":"2024-02-06T15:09:12.781Z","description":"","has_custom_certificate":false,"hub_id":"0dc793af-b262-48cf-9c1b-8b2ea45dbdef","id":"fe4c7c31-ca4c-4aeb-b93f-623ee675d9f8","is_connected":false,"last_activity_at":"1970-01-01T00:00:00Z","message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"name":"test_iot_device_datasource","status":"enabled","updated_at":"2024-02-06T15:09:12.781Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?name=test_iot_device_datasource&order_by=name_asc&status=unknown
    method: GET
  response:
    body: '{"devices":[{"allow_insecure":false,"allow_multiple_connections":false,"created_at":"2024-02-06T15:09:12.781Z","description":"","has_custom_certificate":false,"hub_id":"0dc793af-b262-48cf-9c1b-8b2ea45dbdef","id":"fe4c7c31-ca4c-4aeb-b93f-623ee675d9f8","is_connected":false,"last_activity_at":"1970-01-01T00:00:00Z","message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"name":"test_iot_device_datasource","status":"enabled","updated_at":"2024-02-06T15:09:12.781Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0dc793af-b262-48cf-9c1b-8b2ea45dbdef
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"0dc793af-b262-48cf-9c1b-8b2ea45dbdef","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
