---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal-1\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"255325d3-9da6-4873-ab3d-07fc2985c81c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal-1\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.113Z\",\"updated_at\":\"2025-08-26T16:27:09.113Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.136949214s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/255325d3-9da6-4873-ab3d-07fc2985c81c
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"255325d3-9da6-4873-ab3d-07fc2985c81c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal-1\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.113Z\",\"updated_at\":\"2025-08-26T16:27:09.113Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 173.548943ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default-1\",\"hub_id\":\"255325d3-9da6-4873-ab3d-07fc2985c81c\",\"allow_insecure\":false,\"allow_multiple_connections\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
    method: POST
  response:
    body: "{\"device\":{\"id\":\"c885ee9d-2cd7-46bd-8fcb-cc61bf75b6c8\",\"name\":\"default-1\",\"status\":\"enabled\",\"hub_id\":\"255325d3-9da6-4873-ab3d-07fc2985c81c\",\"created_at\":\"2025-08-26T16:27:10.660Z\",\"updated_at\":\"2025-08-26T16:27:10.660Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false},\"certificate\":{\"crt\":\"-----BEGIN CERTIFICATE-----\\nMIIEUzCCAzugAwIBAgIQRicEfFUWl0ZrO3khzGxBtTANBgkqhkiG9w0BAQsFADCB\\nzjELMAkGA1UEBhMCRlIxDzANBgNVBAgTBkZyYW5jZTEOMAwGA1UEBxMFUGFyaXMx\\nEjAQBgNVBAkTCUxhIE1haXNvbjEJMAcGA1UEERMAMRgwFgYDVQQKEw9TY2FsZXdh\\neS9PbmxpbmUxEDAOBgNVBAsTB0xhYi9Jb1QxITAfBgNVBAMTGFNjYWxld2F5IElv\\nVCBDZXJ0aWZpY2F0ZTEwMC4GA1UEBRMnMTg0MDQ3MjQ1MjU4OTk5NTYzOTY0ODYx\\nNzg1NzY1NDkzMDYwMzA5MB4XDTI1MDgyNTE2MjcxMloXDTM1MDgyNTE2MjcxMlow\\ngaMxCzAJBgNVBAYTAkZSMQwwCgYDVQQIEwNJREYxDjAMBgNVBAcTBVBhcmlzMTEw\\[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/c885ee9d-2cd7-46bd-8fcb-cc61bf75b6c8
    method: GET
  response:
    body: "{\"id\":\"c885ee9d-2cd7-46bd-8fcb-cc61bf75b6c8\",\"name\":\"default-1\",\"status\":\"enabled\",\"hub_id\":\"255325d3-9da6-4873-ab3d-07fc2985c81c\",\"created_at\":\"2025-08-26T16:27:10.660Z\",\"updated_at\":\"2025-08-26T16:27:10.660Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.459665ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/c885ee9d-2cd7-46bd-8fcb-cc61bf75b6c8/certificate
    method: GET
  response:
    body: "{\"device\":{\"id\":\"c885ee9d-2cd7-46bd-8fcb-cc61bf75b6c8\",\"name\":\"default-1\",\"status\":\"enabled\",\"hub_id\":\"255325d3-9da6-4873-ab3d-07fc2985c81c\",\"created_at\":\"2025-08-26T16:27:10.660Z\",\"updated_at\":\"2025-08-26T16:27:10.660Z\",\"allow_insecure\":false,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false},\"certificate_pem\":\"-----BEGIN CERTIFICATE-----\\nMIIEUzCCAzugAwIBAgIQRicEfFUWl0ZrO3khzGxBtTANBgkqhkiG9w0BAQsFADCB\\nzjELMAkGA1UEBhMCRlIxDzANBgNVBAgTBkZyYW5jZTEOMAwGA1UEBxMFUGFyaXMx\\nEjAQBgNVBAkTCUxhIE1haXNvbjEJMAcGA1UEERMAMRgwFgYDVQQKEw9TY2FsZXdh\\neS9PbmxpbmUxEDAOBgNVBAsTB0xhYi9Jb1QxITAfBgNVBAMTGFNjYWxld2F5IElv\\nVCBDZXJ0aWZpY2F0ZTEwMC4GA1UEBRMnMTg0MDQ3MjQ1MjU4OTk5NTYzOTY0ODYx\\nNzg1NzY1NDkzMDYwMzA5MB4XDTI1MDgyNTE2MjcxMloXDTM1MDgyNTE2MjcxMlow\\ngaMxCzAJBgNVBAYTAkZSMQwwCgYDVQQIEwNJREYxDjAMBgNVBAcTBVBhcmlzMTEw\\[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/255325d3-9da6-4873-ab3d-07fc2985c81c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"255325d3-9da6-4873-ab3d-07fc2985c81c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 61.004758ms
[...]
