---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal-2\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"5f888713-7902-4834-aca5-7d4f867bd69f\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal-2\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.101Z\",\"updated_at\":\"2025-08-26T16:27:09.101Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 400.36777ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/5f888713-7902-4834-aca5-7d4f867bd69f
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"5f888713-7902-4834-aca5-7d4f867bd69f\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal-2\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.101Z\",\"updated_at\":\"2025-08-26T16:27:09.101Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.078049ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default-2\",\"hub_id\":\"5f888713-7902-4834-aca5-7d4f867bd69f\",\"allow_insecure\":true,\"allow_multiple_connections\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
    method: POST
  response:
    body: "{\"device\":{\"id\":\"affb0282-2be4-4549-aa63-4853f0848f05\",\"name\":\"default-2\",\"status\":\"enabled\",\"hub_id\":\"5f888713-7902-4834-aca5-7d4f867bd69f\",\"created_at\":\"2025-08-26T16:27:10.338Z\",\"updated_at\":\"2025-08-26T16:27:10.338Z\",\"allow_insecure\":true,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false},\"certificate\":{\"crt\":\"-----BEGIN CERTIFICATE-----\\nMIIEUzCCAzugAwIBAgIQZ54D/FuDxWm2CqJUPD266TANBgkqhkiG9w0BAQsFADCB\\nzTELMAkGA1UEBhMCRlIxDzANBgNVBAgTBkZyYW5jZTEOMAwGA1UEBxMFUGFyaXMx\\nEjAQBgNVBAkTCUxhIE1haXNvbjEJMAcGA1UEERMAMRgwFgYDVQQKEw9TY2FsZXdh\\neS9PbmxpbmUxEDAOBgNVBAsTB0xhYi9Jb1QxITAfBgNVBAMTGFNjYWxld2F5IElv\\nVCBDZXJ0aWZpY2F0ZTEvMC0GA1UEBRMmNDEzNDk2MjQ0MDM5NDczMTA2MDgwMTc2\\nMDg0Njk1NTMyNzc1MDIwHhcNMjUwODI1MTYyNzExWhcNMzUwODI1MTYyNzExWjCB\\npDELMAkGA1UEBhMCRlIxDDAKBgNVBAgTA0lERjEOMAwGA1UEBxMFUGFyaXMxMTAv\\[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/affb0282-2be4-4549-aa63-4853f0848f05
    method: GET
  response:
    body: "{\"id\":\"affb0282-2be4-4549-aa63-4853f0848f05\",\"name\":\"default-2\",\"status\":\"enabled\",\"hub_id\":\"5f888713-7902-4834-aca5-7d4f867bd69f\",\"created_at\":\"2025-08-26T16:27:10.338Z\",\"updated_at\":\"2025-08-26T16:27:10.338Z\",\"allow_insecure\":true,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.583561ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/affb0282-2be4-4549-aa63-4853f0848f05/certificate
    method: GET
  response:
    body: "{\"device\":{\"id\":\"affb0282-2be4-4549-aa63-4853f0848f05\",\"name\":\"default-2\",\"status\":\"enabled\",\"hub_id\":\"5f888713-7902-4834-aca5-7d4f867bd69f\",\"created_at\":\"2025-08-26T16:27:10.338Z\",\"updated_at\":\"2025-08-26T16:27:10.338Z\",\"allow_insecure\":true,\"last_activity_at\":\"1970-01-01T00:00:00Z\",\"is_connected\":false,\"message_filters\":{\"publish\":{\"policy\":\"reject\",\"topics\":[]},\"subscribe\":{\"policy\":\"reject\",\"topics\":[]}},\"allow_multiple_connections\":false,\"description\":\"\",\"has_custom_certificate\":false},\"certificate_pem\":\"-----BEGIN CERTIFICATE-----\\nMIIEUzCCAzugAwIBAgIQZ54D/FuDxWm2CqJUPD266TANBgkqhkiG9w0BAQsFADCB\\nzTELMAkGA1UEBhMCRlIxDzANBgNVBAgTBkZyYW5jZTEOMAwGA1UEBxMFUGFyaXMx\\nEjAQBgNVBAkTCUxhIE1haXNvbjEJMAcGA1UEERMAMRgwFgYDVQQKEw9TY2FsZXdh\\neS9PbmxpbmUxEDAOBgNVBAsTB0xhYi9Jb1QxITAfBgNVBAMTGFNjYWxld2F5IElv\\nVCBDZXJ0aWZpY2F0ZTEvMC0GA1UEBRMmNDEzNDk2MjQ0MDM5NDczMTA2MDgwMTc2\\nMDg0Njk1NTMyNzc1MDIwHhcNMjUwODI1MTYyNzExWhcNMzUwODI1MTYyNzExWjCB\\npDELMAkGA1UEBhMCRlIxDDAKBgNVBAgTA0lERjEOMAwGA1UEBxMFUGFyaXMxMTAv\\[...]
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/5f888713-7902-4834-aca5-7d4f867bd69f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"5f888713-7902-4834-aca5-7d4f867bd69f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 32.344041ms
[...]
