---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_dedicated","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:29.684Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"ff1296cd-ea53-4cf1-bd41-bd1976658b72","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_dedicated","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:29.684Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.559041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/ff1296cd-ea53-4cf1-bd41-bd1976658b72
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:29.684Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"ff1296cd-ea53-4cf1-bd41-bd1976658b72","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_dedicated","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:29.684Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.4185ms
[...]
    - id: 5
      request:
        host: iot.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers: {}
        url: https://iot.s3.nl-ams.scw.cloud/certificates/fr-par/iot-hub-ca.pem
        method: GET
      response:
        body: |
            -----BEGIN CERTIFICATE-----
            MIICEDCCAZagAwIBAgIUSIuG8XfJU0ArgEut2Ycpr4zlBtswCgYIKoZIzj0EAwMw
            NzERMA8GA1UEChMIU2NhbGV3YXkxDDAKBgNVBAsTA0lvVDEUMBIGA1UEAxMLSW9U
            IFJvb3QgQ0EwHhcNMjIxMDIxMDE1MjM0WhcNMzIxMDE[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/ff1296cd-ea53-4cf1-bd41-bd1976658b72
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"ff1296cd-ea53-4cf1-bd41-bd1976658b72","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.149708ms
[...]
