---
version: 2
interactions:
- request:
    body: '{"name":"minimal","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"connected_device_count":0,"created_at":"2024-01-18T17:22:38.912Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"1cbdda96-93f0-451b-b14d-5a1c09ac25e7","name":"minimal","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","product_plan":"plan_shared","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","status":"enabling","updated_at":"2024-01-18T17:22:38.912Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/1cbdda96-93f0-451b-b14d-5a1c09ac25e7
    method: GET
  response:
    body: '{"connected_device_count":0,"created_at":"2024-01-18T17:22:38.912Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"1cbdda96-93f0-451b-b14d-5a1c09ac25e7","name":"minimal","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","product_plan":"plan_shared","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","status":"ready","updated_at":"2024-01-18T17:22:38.912Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/1cbdda96-93f0-451b-b14d-5a1c09ac25e7/disable
    method: POST
  response:
    body: '{"connected_device_count":0,"created_at":"2024-01-18T17:22:38.912Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":false,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"1cbdda96-93f0-451b-b14d-5a1c09ac25e7","name":"minimal","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","product_plan":"plan_shared","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","status":"disabling","updated_at":"2024-01-18T17:22:41.045Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/1cbdda96-93f0-451b-b14d-5a1c09ac25e7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"1cbdda96-93f0-451b-b14d-5a1c09ac25e7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
