---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.429Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"fa526525-8bc0-4ec5-a51c-4cd74a6966fc","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:24.429Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.35077025s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/fa526525-8bc0-4ec5-a51c-4cd74a6966fc
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.429Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"fa526525-8bc0-4ec5-a51c-4cd74a6966fc","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","updated_at":"2025-01-23T10:26:24.429Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.217959ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"default","type":"rest","hub_id":"fa526525-8bc0-4ec5-a51c-4cd74a6966fc","topic_prefix":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
        method: POST
      response:
        body: '{"network":{"created_at":"2025-01-23T10:26:26.173Z","endpoint":"rest.iot.fr-par.scw.cloud","hub_id":"fa526525-8bc0-4ec5-a51c-4cd74a6966fc","id":"ea6358c1-712d-400d-a900-249651fcd222","name":"default","topic_prefix":"","type":"rest"},"secret":"eyJOZXRJRCI6ImVhNjM1OGMxLTcxMmQtNDAwZC1hOTAwLTI0OTY1MWZjZDIyMiIsIk5ldEtleSI6IjlhZDJlNjhkLWI4OTMtNDI2YS1iNGJkLTYxMWE4MjEwNTczNyJ9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.012584ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/ea6358c1-712d-400d-a900-249651fcd222
        method: GET
      response:
        body: '{"created_at":"2025-01-23T10:26:26.173Z","endpoint":"rest.iot.fr-par.scw.cloud","hub_id":"fa526525-8bc0-4ec5-a51c-4cd74a6966fc","id":"ea6358c1-712d-400d-a900-249651fcd222","name":"default","topic_prefix":"","type":"rest"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.441958ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/fa526525-8bc0-4ec5-a51c-4cd74a6966fc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"fa526525-8bc0-4ec5-a51c-4cd74a6966fc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.821542ms
[...]
