---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"a7be16a8-a7dd-4269-8a34-6605977f5db0\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:10.485Z\",\"updated_at\":\"2025-08-26T16:27:10.485Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 493.492775ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/a7be16a8-a7dd-4269-8a34-6605977f5db0
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"a7be16a8-a7dd-4269-8a34-6605977f5db0\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:10.485Z\",\"updated_at\":\"2025-08-26T16:27:10.485Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 194.864042ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"type\":\"rest\",\"hub_id\":\"a7be16a8-a7dd-4269-8a34-6605977f5db0\",\"topic_prefix\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: "{\"network\":{\"id\":\"5062a86d-b622-4a71-9ef7-5a61fb223b30\",\"name\":\"default\",\"endpoint\":\"rest.iot.fr-par.scw.cloud\",\"type\":\"rest\",\"hub_id\":\"a7be16a8-a7dd-4269-8a34-6605977f5db0\",\"created_at\":\"2025-08-26T16:27:11.532Z\",\"topic_prefix\":\"\"},\"secret\":\"eyJOZXRJRCI6IjUwNjJhODZkLWI2MjItNGE3MS05ZWY3LTVhNjFmYjIyM2IzMCIsIk5ldEtleSI6ImYwN2JjNmFlLWNmYWMtNDM3YS1iZGMxLWFmZjQxYjc5ODcwZSJ9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 227.503212ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/5062a86d-b622-4a71-9ef7-5a61fb223b30
    method: GET
  response:
    body: "{\"id\":\"5062a86d-b622-4a71-9ef7-5a61fb223b30\",\"name\":\"default\",\"endpoint\":\"rest.iot.fr-par.scw.cloud\",\"type\":\"rest\",\"hub_id\":\"a7be16a8-a7dd-4269-8a34-6605977f5db0\",\"created_at\":\"2025-08-26T16:27:11.532Z\",\"topic_prefix\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.652702ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/a7be16a8-a7dd-4269-8a34-6605977f5db0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"a7be16a8-a7dd-4269-8a34-6605977f5db0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.071342ms
[...]
