---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0c5ffa51-a5b4-4dca-acdb-4bd19802b750\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.383Z\",\"updated_at\":\"2025-08-26T16:27:09.383Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 850.289685ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0c5ffa51-a5b4-4dca-acdb-4bd19802b750
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0c5ffa51-a5b4-4dca-acdb-4bd19802b750\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:09.383Z\",\"updated_at\":\"2025-08-26T16:27:09.383Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.794512ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"type\":\"rest\",\"hub_id\":\"0c5ffa51-a5b4-4dca-acdb-4bd19802b750\",\"topic_prefix\":\"foo/bar\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: "{\"network\":{\"id\":\"0a8986f6-2c07-463c-853e-0f76d8d5d16c\",\"name\":\"default\",\"endpoint\":\"rest.iot.fr-par.scw.cloud\",\"type\":\"rest\",\"hub_id\":\"0c5ffa51-a5b4-4dca-acdb-4bd19802b750\",\"created_at\":\"2025-08-26T16:27:10.615Z\",\"topic_prefix\":\"foo/bar\"},\"secret\":\"eyJOZXRJRCI6IjBhODk4NmY2LTJjMDctNDYzYy04NTNlLTBmNzZkOGQ1ZDE2YyIsIk5ldEtleSI6ImJhYWNhZWU2LThjMDAtNDNkMi04YjVkLWVlYTgyYzY1YWZjZiJ9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 237.598701ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/0a8986f6-2c07-463c-853e-0f76d8d5d16c
    method: GET
  response:
    body: "{\"id\":\"0a8986f6-2c07-463c-853e-0f76d8d5d16c\",\"name\":\"default\",\"endpoint\":\"rest.iot.fr-par.scw.cloud\",\"type\":\"rest\",\"hub_id\":\"0c5ffa51-a5b4-4dca-acdb-4bd19802b750\",\"created_at\":\"2025-08-26T16:27:10.615Z\",\"topic_prefix\":\"foo/bar\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.489556ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0c5ffa51-a5b4-4dca-acdb-4bd19802b750
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"0c5ffa51-a5b4-4dca-acdb-4bd19802b750\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 175.386389ms
[...]
