---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2026-03-12T15:54:34.018Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"307fb124-5981-4b89-b1de-ae2782b3648f","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2026-03-12T15:54:34.018Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 659.458041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/307fb124-5981-4b89-b1de-ae2782b3648f
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2026-03-12T15:54:34.018Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"307fb124-5981-4b89-b1de-ae2782b3648f","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2026-03-12T15:54:34.018Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.466375ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"default","type":"rest","hub_id":"307fb124-5981-4b89-b1de-ae2782b3648f","topic_prefix":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
        method: POST
      response:
        body: '{"network":{"created_at":"2026-03-12T15:54:39.855Z","endpoint":"rest.iot.fr-par.scw.cloud","hub_id":"307fb124-5981-4b89-b1de-ae2782b3648f","id":"080b85df-4bcd-4c96-a97d-34470b1650bc","name":"default","region":"fr-par","topic_prefix":"","type":"rest"},"secret":"eyJOZXRJRCI6IjA4MGI4NWRmLTRiY2QtNGM5Ni1hOTdkLTM0NDcwYjE2NTBiYyIsIk5ldEtleSI6IjkzNmEyNzM5LTU5YzQtNGVmOC1iY2IwLTQzNmVlOWY4YzgyYyJ9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.965833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/080b85df-4bcd-4c96-a97d-34470b1650bc
        method: GET
      response:
        body: '{"created_at":"2026-03-12T15:54:39.855Z","endpoint":"rest.iot.fr-par.scw.cloud","hub_id":"307fb124-5981-4b89-b1de-ae2782b3648f","id":"080b85df-4bcd-4c96-a97d-34470b1650bc","name":"default","region":"fr-par","topic_prefix":"","type":"rest"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.156667ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/307fb124-5981-4b89-b1de-ae2782b3648f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"307fb124-5981-4b89-b1de-ae2782b3648f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.339375ms
[...]
