---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0de63a60-8567-40f4-a271-4f994bf2cc64\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:11.011Z\",\"updated_at\":\"2025-08-26T16:27:11.011Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 444.198767ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0de63a60-8567-40f4-a271-4f994bf2cc64
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0de63a60-8567-40f4-a271-4f994bf2cc64\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:11.011Z\",\"updated_at\":\"2025-08-26T16:27:11.011Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.203571ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"type\":\"sigfox\",\"hub_id\":\"0de63a60-8567-40f4-a271-4f994bf2cc64\",\"topic_prefix\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: "{\"network\":{\"id\":\"c7e5c082-692e-4a7e-b5f3-c2a54462fe91\",\"name\":\"default\",\"endpoint\":\"sigfox.iot.fr-par.scw.cloud\",\"type\":\"sigfox\",\"hub_id\":\"0de63a60-8567-40f4-a271-4f994bf2cc64\",\"created_at\":\"2025-08-26T16:27:11.744Z\",\"topic_prefix\":\"\"},\"secret\":\"eyJOZXRJRCI6ImM3ZTVjMDgyLTY5MmUtNGE3ZS1iNWYzLWMyYTU0NDYyZmU5MSIsIk5ldEtleSI6IjZlYzAwYzBmLTc2ZTctNDliNC05YmZhLTBlMjQ0ZDRkMDFlNyJ9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 343.509508ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/c7e5c082-692e-4a7e-b5f3-c2a54462fe91
    method: GET
  response:
    body: "{\"id\":\"c7e5c082-692e-4a7e-b5f3-c2a54462fe91\",\"name\":\"default\",\"endpoint\":\"sigfox.iot.fr-par.scw.cloud\",\"type\":\"sigfox\",\"hub_id\":\"0de63a60-8567-40f4-a271-4f994bf2cc64\",\"created_at\":\"2025-08-26T16:27:11.744Z\",\"topic_prefix\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.624885ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0de63a60-8567-40f4-a271-4f994bf2cc64
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"0de63a60-8567-40f4-a271-4f994bf2cc64\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 91.80233ms
[...]
