---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.258Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"234c1995-e03c-4dcd-a2ad-8b92dc21454b","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:24.258Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 944.372333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/234c1995-e03c-4dcd-a2ad-8b92dc21454b
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.258Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"234c1995-e03c-4dcd-a2ad-8b92dc21454b","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:24.258Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.849833ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"default","type":"rest","hub_id":"234c1995-e03c-4dcd-a2ad-8b92dc21454b","topic_prefix":"foo/bar"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
        method: POST
      response:
        body: '{"network":{"created_at":"2025-01-23T10:26:30.493Z","endpoint":"rest.iot.fr-par.scw.cloud","hub_id":"234c1995-e03c-4dcd-a2ad-8b92dc21454b","id":"8fab885b-2ccf-47ab-8c0f-a3047a468851","name":"default","topic_prefix":"foo/bar","type":"rest"},"secret":"eyJOZXRJRCI6IjhmYWI4ODViLTJjY2YtNDdhYi04YzBmLWEzMDQ3YTQ2ODg1MSIsIk5ldEtleSI6Ijg0M2E3ZWVlLTRlMzItNDY5Mi1iYWFhLWZlMGNlYWYxNWU5NCJ9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.781666ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/8fab885b-2ccf-47ab-8c0f-a3047a468851
        method: GET
      response:
        body: '{"created_at":"2025-01-23T10:26:30.493Z","endpoint":"rest.iot.fr-par.scw.cloud","hub_id":"234c1995-e03c-4dcd-a2ad-8b92dc21454b","id":"8fab885b-2ccf-47ab-8c0f-a3047a468851","name":"default","topic_prefix":"foo/bar","type":"rest"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.493958ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/234c1995-e03c-4dcd-a2ad-8b92dc21454b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"234c1995-e03c-4dcd-a2ad-8b92dc21454b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.529583ms
[...]
