---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.158Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"84070671-aebf-4c8d-806b-f03a39146b12","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:24.158Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 748.346333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/84070671-aebf-4c8d-806b-f03a39146b12
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.158Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"84070671-aebf-4c8d-806b-f03a39146b12","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","updated_at":"2025-01-23T10:26:24.158Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.077166ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"default","type":"sigfox","hub_id":"84070671-aebf-4c8d-806b-f03a39146b12","topic_prefix":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
        method: POST
      response:
        body: '{"network":{"created_at":"2025-01-23T10:26:25.288Z","endpoint":"sigfox.iot.fr-par.scw.cloud","hub_id":"84070671-aebf-4c8d-806b-f03a39146b12","id":"b0ba319d-5c33-4c42-b2f8-18f9f93341e8","name":"default","topic_prefix":"","type":"sigfox"},"secret":"eyJOZXRJRCI6ImIwYmEzMTlkLTVjMzMtNGM0Mi1iMmY4LTE4ZjlmOTMzNDFlOCIsIk5ldEtleSI6IjhlYmQ4MzU2LWZjNmYtNGRkOC05OTA1LTM5YzRjYjVmMjk4NSJ9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.771375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/b0ba319d-5c33-4c42-b2f8-18f9f93341e8
        method: GET
      response:
        body: '{"created_at":"2025-01-23T10:26:25.288Z","endpoint":"sigfox.iot.fr-par.scw.cloud","hub_id":"84070671-aebf-4c8d-806b-f03a39146b12","id":"b0ba319d-5c33-4c42-b2f8-18f9f93341e8","name":"default","topic_prefix":"","type":"sigfox"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 293.246708ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/84070671-aebf-4c8d-806b-f03a39146b12
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"84070671-aebf-4c8d-806b-f03a39146b12","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.694208ms
[...]
