---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-10-10T04:11:42.698Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"b2ea2770-fe1a-47df-ae98-ddce3be40421","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-10-10T04:11:42.698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.071708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/b2ea2770-fe1a-47df-ae98-ddce3be40421
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-10-10T04:11:42.698Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"b2ea2770-fe1a-47df-ae98-ddce3be40421","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-10-10T04:11:42.698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.404083ms
    - id: 2
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4489e443-dd5a-423c-b70b-01f3f353a3d4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041142Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-iot-route-s3-699480652053278399
            X-Amz-Request-Id:
                - txgb2a0ce6da3044e23baa9-0068e8877e
        status: 200 OK
        code: 200
        duration: 3.883649083s
    - id: 3
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9e61a36f-31c2-4843-8e4c-03b9fb052dee
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041146Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg129f14eeef74400c8ae8-0068e88782
        status: 200 OK
        code: 200
        duration: 108.287875ms
    - id: 4
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0ef9c2df-31f2-4a2d-b9df-1606b4928383
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041146Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd7149be9638641fd95c1-0068e88782
        status: 200 OK
        code: 200
        duration: 246.683417ms
    - id: 5
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 14155c85-f378-42cf-a6fa-c70a5a4cdb5f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041146Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg9d47cd70c3ec413395fa-0068e88782</RequestId><HostId>txg9d47cd70c3ec413395fa-0068e88782</HostId><Resource>/tf-tests-scaleway-iot-route-s3-699480652053278399</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9d47cd70c3ec413395fa-0068e88782
        status: 404 Not Found
        code: 404
        duration: 86.744542ms
    - id: 6
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7eb55bb2-28e7-4b86-8bc3-2b05b7da1fcb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041146Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-iot-route-s3-699480652053278399</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg219c842a6bcb4fd9a104-0068e88782
        status: 200 OK
        code: 200
        duration: 92.403834ms
    - id: 7
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 04aa2a1e-a2ec-4378-98df-a7ab858222d0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041147Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg9924eec371c44063abbc-0068e88783</RequestId><HostId>txg9924eec371c44063abbc-0068e88783</HostId><Resource>/tf-tests-scaleway-iot-route-s3-699480652053278399</Resource><BucketName>tf-tests-scaleway-iot-route-s3-699480652053278399</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9924eec371c44063abbc-0068e88783
        status: 404 Not Found
        code: 404
        duration: 114.018542ms
    - id: 8
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4c4c334e-a7fd-4c68-84b5-e962573fb01e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041147Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgb3fdf6cd25624b969f21-0068e88783</RequestId><HostId>txgb3fdf6cd25624b969f21-0068e88783</HostId><Resource>/tf-tests-scaleway-iot-route-s3-699480652053278399</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb3fdf6cd25624b969f21-0068e88783
        status: 404 Not Found
        code: 404
        duration: 12.908459ms
    - id: 9
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 15f6e4ec-5ba9-490f-904f-aa53997afe58
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041147Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8c4a90edaf664f1aa98e-0068e88783
        status: 200 OK
        code: 200
        duration: 53.519333ms
    - id: 10
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 96421a59-0868-4d7c-8d5f-bb2d92a192b2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041147Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgadca3329d775434aae38-0068e88783</RequestId><HostId>txgadca3329d775434aae38-0068e88783</HostId><Resource>/tf-tests-scaleway-iot-route-s3-699480652053278399</Resource><BucketName>tf-tests-scaleway-iot-route-s3-699480652053278399</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgadca3329d775434aae38-0068e88783
        status: 404 Not Found
        code: 404
        duration: 142.809417ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"default","hub_id":"b2ea2770-fe1a-47df-ae98-ddce3be40421","topic":"#","s3_config":{"bucket_region":"fr-par","bucket_name":"tf-tests-scaleway-iot-route-s3-699480652053278399","object_prefix":"foo","strategy":"per_topic"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2025-10-10T04:11:48.760Z","hub_id":"b2ea2770-fe1a-47df-ae98-ddce3be40421","id":"a74d10af-9e93-413c-a28d-e63f57d7d21a","name":"default","region":"fr-par","s3_config":{"bucket_name":"tf-tests-scaleway-iot-route-s3-699480652053278399","bucket_region":"fr-par","object_prefix":"foo","strategy":"per_topic"},"topic":"#","type":"s3","updated_at":"2025-10-10T04:11:48.760Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.109167ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/a74d10af-9e93-413c-a28d-e63f57d7d21a
        method: GET
      response:
        body: '{"created_at":"2025-10-10T04:11:48.760Z","hub_id":"b2ea2770-fe1a-47df-ae98-ddce3be40421","id":"a74d10af-9e93-413c-a28d-e63f57d7d21a","name":"default","region":"fr-par","s3_config":{"bucket_name":"tf-tests-scaleway-iot-route-s3-699480652053278399","bucket_region":"fr-par","object_prefix":"foo","strategy":"per_topic"},"topic":"#","type":"s3","updated_at":"2025-10-10T04:11:48.760Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.671958ms
    - id: 17
      request:
        host: tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dba8e6de-eba8-4d6c-a81b-0f808396ae64
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20251010T041149Z
        url: https://tf-tests-scaleway-iot-route-s3-699480652053278399.s3.fr-par.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - fr-par
            X-Amz-Request-Id:
                - txge3987f95c8b543b8aafa-0068e88785
        status: 200 OK
        code: 200
        duration: 281.011333ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/b2ea2770-fe1a-47df-ae98-ddce3be40421
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"b2ea2770-fe1a-47df-ae98-ddce3be40421","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.892208ms
[...]
