---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"root\",\"password\":\"T3stP4ssw0rdD0N0tUs3!\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":null,\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"62645e16-855e-4146-bf30-24b6f02af32d\",\"name\":\"minimal\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-26T16:27:11.176345Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 438.146222ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62645e16-855e-4146-bf30-24b6f02af32d
    method: GET
  response:
    body: "{\"id\":\"62645e16-855e-4146-bf30-24b6f02af32d\",\"name\":\"minimal\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-26T16:27:11.176345Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 210.646416ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"ebc7bb44-9b9b-463e-92ee-1dc4dc21b711\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:10.873Z\",\"updated_at\":\"2025-08-26T16:27:10.873Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.373787772s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/ebc7bb44-9b9b-463e-92ee-1dc4dc21b711
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"ebc7bb44-9b9b-463e-92ee-1dc4dc21b711\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"ready\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:10.873Z\",\"updated_at\":\"2025-08-26T16:27:10.873Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.852363ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62645e16-855e-4146-bf30-24b6f02af32d
    method: GET
  response:
    body: "{\"id\":\"62645e16-855e-4146-bf30-24b6f02af32d\",\"name\":\"minimal\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-26T16:27:11.176345Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 213.221459ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62645e16-855e-4146-bf30-24b6f02af32d
    method: GET
  response:
    body: "{\"id\":\"62645e16-855e-4146-bf30-24b6f02af32d\",\"name\":\"minimal\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.8.83\",\"port\":25805,\"name\":null,\"id\":\"c4d229a9-c692-48ae-93b0-ed6c7706eb89\",\"load_balancer\":{}},\"tags\":[],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.8.83\",\"port\":25805,\"name\":null,\"id\":\"c4d229a9-c692-48ae-93b0-ed6c7706eb89\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-26T16:27:11.176345Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 229.63599ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62645e16-855e-4146-bf30-24b6f02af32d/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5RENDQXR5Z0F3SUJBZ0lVSkZHR1VRZVF5c3VlZWtmVlYxeWJhdTg4UkZRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pVeExqRTFPUzQ0TGpnek1CNFhEVEkxCk1EZ3lOakUyTXpBd09Gb1hEVE0xTURneU5ERTJNekF3T0Zvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6VXhMakUxT1M0NE[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"hub_id\":\"ebc7bb44-9b9b-463e-92ee-1dc4dc21b711\",\"topic\":\"#\",\"db_config\":{\"host\":\"51.159.8.83\",\"port\":25805,\"dbname\":\"rdb\",\"username\":\"root\",\"password\":\"T3stP4ssw0rdD0N0tUs3!\",\"query\":\"SELECT NOW()\",\"engine\":\"unknown\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: "{\"id\":\"55599f25-188c-4e70-8ef9-171679497733\",\"name\":\"default\",\"hub_id\":\"ebc7bb44-9b9b-463e-92ee-1dc4dc21b711\",\"topic\":\"#\",\"type\":\"database\",\"created_at\":\"2025-08-26T16:30:43.383Z\",\"updated_at\":\"2025-08-26T16:30:43.383Z\",\"db_config\":{\"host\":\"51.159.8.83\",\"port\":25805,\"dbname\":\"rdb\",\"username\":\"root\",\"password\":\"T3stP4ssw0rdD0N0tUs3!\",\"query\":\"SELECT NOW()\",\"engine\":\"postgresql\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 285.757116ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/55599f25-188c-4e70-8ef9-171679497733
    method: GET
  response:
    body: "{\"id\":\"55599f25-188c-4e70-8ef9-171679497733\",\"name\":\"default\",\"hub_id\":\"ebc7bb44-9b9b-463e-92ee-1dc4dc21b711\",\"topic\":\"#\",\"type\":\"database\",\"created_at\":\"2025-08-26T16:30:43.383Z\",\"updated_at\":\"2025-08-26T16:30:43.383Z\",\"db_config\":{\"host\":\"51.159.8.83\",\"port\":25805,\"dbname\":\"rdb\",\"username\":\"root\",\"password\":\"\",\"query\":\"SELECT NOW()\",\"engine\":\"postgresql\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.952219ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/ebc7bb44-9b9b-463e-92ee-1dc4dc21b711
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"ebc7bb44-9b9b-463e-92ee-1dc4dc21b711\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 34.189301ms
[...]
