---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","events_topic_prefix":"$SCW/events"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.622Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"5edc9486-10dd-43e5-b159-92970972fd46","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"enabling","updated_at":"2025-01-23T10:26:24.622Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.06382425s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/5edc9486-10dd-43e5-b159-92970972fd46
        method: GET
      response:
        body: '{"connected_device_count":0,"created_at":"2025-01-23T10:26:24.622Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"5edc9486-10dd-43e5-b159-92970972fd46","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","updated_at":"2025-01-23T10:26:24.622Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.084875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"default","hub_id":"5edc9486-10dd-43e5-b159-92970972fd46","topic":"#","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2025-01-23T10:26:26.313Z","hub_id":"5edc9486-10dd-43e5-b159-92970972fd46","id":"7aca000b-ccab-4318-be97-48cb89353110","name":"default","rest_config":{"headers":{"X-terraform-test":"inprogress"},"uri":"http://scaleway.com","verb":"get"},"topic":"#","type":"rest","updated_at":"2025-01-23T10:26:26.313Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.909459ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/7aca000b-ccab-4318-be97-48cb89353110
        method: GET
      response:
        body: '{"created_at":"2025-01-23T10:26:26.313Z","hub_id":"5edc9486-10dd-43e5-b159-92970972fd46","id":"7aca000b-ccab-4318-be97-48cb89353110","name":"default","rest_config":{"headers":{"X-terraform-test":"inprogress"},"uri":"http://scaleway.com","verb":"get"},"topic":"#","type":"rest","updated_at":"2025-01-23T10:26:26.313Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.807875ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/5edc9486-10dd-43e5-b159-92970972fd46
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"hub","resource_id":"5edc9486-10dd-43e5-b159-92970972fd46","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.930959ms
[...]
