---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"f6b9ace9-8317-4f77-9979-78d4107e54e4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:10.299Z\",\"updated_at\":\"2025-08-26T16:27:10.299Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 890.280633ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/f6b9ace9-8317-4f77-9979-78d4107e54e4
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"f6b9ace9-8317-4f77-9979-78d4107e54e4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:10.299Z\",\"updated_at\":\"2025-08-26T16:27:10.299Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.686497ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"hub_id\":\"f6b9ace9-8317-4f77-9979-78d4107e54e4\",\"topic\":\"#\",\"rest_config\":{\"verb\":\"get\",\"uri\":\"http://scaleway.com\",\"headers\":{\"X-terraform-test\":\"inprogress\"}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: "{\"id\":\"4803fa3a-fe61-4990-9957-ed48dcc1d1d7\",\"name\":\"default\",\"hub_id\":\"f6b9ace9-8317-4f77-9979-78d4107e54e4\",\"topic\":\"#\",\"type\":\"rest\",\"created_at\":\"2025-08-26T16:27:16.956Z\",\"updated_at\":\"2025-08-26T16:27:16.956Z\",\"rest_config\":{\"verb\":\"get\",\"uri\":\"http://scaleway.com\",\"headers\":{\"X-terraform-test\":\"inprogress\"}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 259.336419ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/4803fa3a-fe61-4990-9957-ed48dcc1d1d7
    method: GET
  response:
    body: "{\"id\":\"4803fa3a-fe61-4990-9957-ed48dcc1d1d7\",\"name\":\"default\",\"hub_id\":\"f6b9ace9-8317-4f77-9979-78d4107e54e4\",\"topic\":\"#\",\"type\":\"rest\",\"created_at\":\"2025-08-26T16:27:16.956Z\",\"updated_at\":\"2025-08-26T16:27:16.956Z\",\"rest_config\":{\"verb\":\"get\",\"uri\":\"http://scaleway.com\",\"headers\":{\"X-terraform-test\":\"inprogress\"}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.374263ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/f6b9ace9-8317-4f77-9979-78d4107e54e4
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"f6b9ace9-8317-4f77-9979-78d4107e54e4\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 36.398343ms
[...]
