---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"product_plan\":\"plan_shared\",\"events_topic_prefix\":\"$SCW/events\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0a642c4d-6c07-438e-b727-98d1abc041c6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:08.642Z\",\"updated_at\":\"2025-08-26T16:27:08.642Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 501.296372ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0a642c4d-6c07-438e-b727-98d1abc041c6
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0a642c4d-6c07-438e-b727-98d1abc041c6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"minimal\",\"status\":\"enabling\",\"product_plan\":\"plan_shared\",\"endpoint\":\"iot.fr-par.scw.cloud\",\"created_at\":\"2025-08-26T16:27:08.642Z\",\"updated_at\":\"2025-08-26T16:27:08.642Z\",\"enabled\":true,\"device_count\":0,\"connected_device_count\":0,\"disable_events\":false,\"events_topic_prefix\":\"$SCW/events\",\"enable_device_auto_provisioning\":false,\"has_custom_ca\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 207.16347ms
- id: 2
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - bac0fb45-400f-4d7b-b9e7-4dab917592f5
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162708Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /tf-tests-scaleway-iot-route-s3-2224032839161453886
      X-Amz-Request-Id:
      - txg77aea7cc9daa4f09b543-0068ade05c
    status: 200 OK
    code: 200
    duration: 1.540701407s
- id: 3
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - b14ec307-8910-439d-8412-89e59610d554
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162710Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txgb9aee17a6ad74087b83b-0068ade05e
    status: 200 OK
    code: 200
    duration: 259.783748ms
- id: 4
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - d87f2e7d-a9f5-4c93-be0a-6c80fb2410fb
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162710Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</DisplayName><ID>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</ID><DisplayName>d03c0af1-fec9-44aa-a12c-54cb13072778:d03c0af1-fec9-44aa-a12c-54cb13072778</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg2b600cd295164df79122-0068ade05e
    status: 200 OK
    code: 200
    duration: 49.424993ms
- id: 5
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 8225966b-0196-4b3e-88ac-5848da14bb21
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162710Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg930a8c2f9d80422a8318-0068ade05e</RequestId><HostId>txg930a8c2f9d80422a8318-0068ade05e</HostId><Resource>/tf-tests-scaleway-iot-route-s3-2224032839161453886</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg930a8c2f9d80422a8318-0068ade05e
    status: 404 Not Found
    code: 404
    duration: 135.973819ms
- id: 6
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 5ac1b121-3d67-42cb-b891-ed78c2731844
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162710Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-iot-route-s3-2224032839161453886</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txge00b990795ce43588749-0068ade05e
    status: 200 OK
    code: 200
    duration: 351.516915ms
- id: 7
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 74cde4d6-3a73-4d4b-9714-3c2d43b21fcd
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162711Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgbb0201a6af6f40bfaf34-0068ade05f</RequestId><HostId>txgbb0201a6af6f40bfaf34-0068ade05f</HostId><Resource>/tf-tests-scaleway-iot-route-s3-2224032839161453886</Resource><BucketName>tf-tests-scaleway-iot-route-s3-2224032839161453886</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgbb0201a6af6f40bfaf34-0068ade05f
    status: 404 Not Found
    code: 404
    duration: 146.117908ms
- id: 8
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 66fe6b61-003b-475e-b0f4-fa0f5d31c8a3
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162711Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg837173e6d0884f46acb1-0068ade05f</RequestId><HostId>txg837173e6d0884f46acb1-0068ade05f</HostId><Resource>/tf-tests-scaleway-iot-route-s3-2224032839161453886</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg837173e6d0884f46acb1-0068ade05f
    status: 404 Not Found
    code: 404
    duration: 281.771263ms
- id: 9
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 9a56ad39-d79f-4d91-94c8-3e5d15d79018
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162711Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg514249dd914d4eb4873c-0068ade05f
    status: 200 OK
    code: 200
    duration: 226.361433ms
- id: 10
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - fb65d1f5-3d6b-4009-8fef-d3703fc5c7cc
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162711Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg1994de413b744eb9873b-0068ade05f</RequestId><HostId>txg1994de413b744eb9873b-0068ade05f</HostId><Resource>/tf-tests-scaleway-iot-route-s3-2224032839161453886</Resource><BucketName>tf-tests-scaleway-iot-route-s3-2224032839161453886</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg1994de413b744eb9873b-0068ade05f
    status: 404 Not Found
    code: 404
    duration: 30.531562ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"hub_id\":\"0a642c4d-6c07-438e-b727-98d1abc041c6\",\"topic\":\"#\",\"s3_config\":{\"bucket_region\":\"fr-par\",\"bucket_name\":\"tf-tests-scaleway-iot-route-s3-2224032839161453886\",\"object_prefix\":\"foo\",\"strategy\":\"per_topic\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: "{\"id\":\"c8419d78-b9df-4fca-8d47-331c3952e0db\",\"name\":\"default\",\"hub_id\":\"0a642c4d-6c07-438e-b727-98d1abc041c6\",\"topic\":\"#\",\"type\":\"s3\",\"created_at\":\"2025-08-26T16:27:15.165Z\",\"updated_at\":\"2025-08-26T16:27:15.165Z\",\"s3_config\":{\"bucket_region\":\"fr-par\",\"bucket_name\":\"tf-tests-scaleway-iot-route-s3-2224032839161453886\",\"object_prefix\":\"foo\",\"strategy\":\"per_topic\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 244.312355ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/c8419d78-b9df-4fca-8d47-331c3952e0db
    method: GET
  response:
    body: "{\"id\":\"c8419d78-b9df-4fca-8d47-331c3952e0db\",\"name\":\"default\",\"hub_id\":\"0a642c4d-6c07-438e-b727-98d1abc041c6\",\"topic\":\"#\",\"type\":\"s3\",\"created_at\":\"2025-08-26T16:27:15.165Z\",\"updated_at\":\"2025-08-26T16:27:15.165Z\",\"s3_config\":{\"bucket_region\":\"fr-par\",\"bucket_name\":\"tf-tests-scaleway-iot-route-s3-2224032839161453886\",\"object_prefix\":\"foo\",\"strategy\":\"per_topic\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 177.507772ms
- id: 17
  request:
    host: tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 15005d9a-5973-4b03-ba1e-655c935c8c37
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250826T162717Z
    url: https://tf-tests-scaleway-iot-route-s3-2224032839161453886.s3.fr-par.scw.cloud/
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - fr-par
      X-Amz-Request-Id:
      - txg728d3eddb7ff4ea68a64-0068ade065
    status: 200 OK
    code: 200
    duration: 249.491893ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0a642c4d-6c07-438e-b727-98d1abc041c6
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"hub\",\"resource_id\":\"0a642c4d-6c07-438e-b727-98d1abc041c6\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 46.164128ms
[...]
