---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f8f4e-87d1-7d8d-987b-51bf0683a2a4", "name":"tf_test_annotations_key_update", "description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.10653229s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f4e-87d1-7d8d-987b-51bf0683a2a4
        method: GET
      response:
        body: '{"id":"019f8f4e-87d1-7d8d-987b-51bf0683a2a4", "name":"tf_test_annotations_key_update", "description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.718708ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f4e-87d1-7d8d-987b-51bf0683a2a4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f8f4e-87d1-7d8d-987b-51bf0683a2a4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.764045ms
