---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f8f83-55e2-7a3f-94da-3f6990350b63", "name":"tf_test_annotations_key_value_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.427098ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019f8f83-55e2-7a3f-94da-3f6990350b63","name":"tf_test_annotations_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019f8f83-5653-73bc-a057-b3773d41f6d7", "key_id":"019f8f83-55e2-7a3f-94da-3f6990350b63", "name":"tf_test_annotations_value_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.660485ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f83-55e2-7a3f-94da-3f6990350b63
        method: GET
      response:
        body: '{"id":"019f8f83-55e2-7a3f-94da-3f6990350b63", "name":"tf_test_annotations_key_value_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.362622ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f83-5653-73bc-a057-b3773d41f6d7
        method: GET
      response:
        body: '{"id":"019f8f83-5653-73bc-a057-b3773d41f6d7", "key_id":"019f8f83-55e2-7a3f-94da-3f6990350b63", "name":"tf_test_annotations_value_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.444848ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f83-5653-73bc-a057-b3773d41f6d7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019f8f83-5653-73bc-a057-b3773d41f6d7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.478156ms
