---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f938a-50c7-7392-ab2c-76ca99d6f59b", "name":"tf_test_annotations_key_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.27754ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f938a-50c7-7392-ab2c-76ca99d6f59b
        method: GET
      response:
        body: '{"id":"019f938a-50c7-7392-ab2c-76ca99d6f59b", "name":"tf_test_annotations_key_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.288306ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f938a-50c7-7392-ab2c-76ca99d6f59b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f938a-50c7-7392-ab2c-76ca99d6f59b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.567018ms
