---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_org","description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f94b1-f80a-7bb6-9943-bebc55841ec0", "name":"tf_test_annotations_key_org", "description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.149796ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f80a-7bb6-9943-bebc55841ec0
        method: GET
      response:
        body: '{"id":"019f94b1-f80a-7bb6-9943-bebc55841ec0", "name":"tf_test_annotations_key_org", "description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.030499ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f80a-7bb6-9943-bebc55841ec0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f94b1-f80a-7bb6-9943-bebc55841ec0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.143801ms
