---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_binding","description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a0801d-5f5e-7edc-94ae-725777eafd85", "name":"tf_test_annotations_key_binding", "description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.683064ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key for binding","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"b5940fba-9813-432f-b1ba-a92335937539", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-09-08T08:23:23.807786Z", "updated_at":"2026-09-08T08:23:23.816327Z", "protected":false, "locked":false, "description":"Test key for binding", "tags":["tf", "test"], "rotated_at":"2026-09-08T08:23:23.816327Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 226.887838ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a0801d-5f5e-7edc-94ae-725777eafd85","name":"tf_test_annotations_value_binding","description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a0801d-5fb2-7d01-9c47-af4993f5a9c7", "key_id":"01a0801d-5f5e-7edc-94ae-725777eafd85", "name":"tf_test_annotations_value_binding", "description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 80.21686ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.783409ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b5940fba-9813-432f-b1ba-a92335937539
        method: GET
      response:
        body: '{"id":"b5940fba-9813-432f-b1ba-a92335937539", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-09-08T08:23:23.807786Z", "updated_at":"2026-09-08T08:23:23.816327Z", "protected":false, "locked":false, "description":"Test key for binding", "tags":["tf", "test"], "rotated_at":"2026-09-08T08:23:23.816327Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.249056ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b5940fba-9813-432f-b1ba-a92335937539","value_id":"01a0801d-5fb2-7d01-9c47-af4993f5a9c7"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a0801d-60c1-7d28-8e07-592c0314a969", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b5940fba-9813-432f-b1ba-a92335937539", "key":{"id":"01a0801d-5f5e-7edc-94ae-725777eafd85", "name":"tf_test_annotations_key_binding"}, "value":{"id":"01a0801d-5fb2-7d01-9c47-af4993f5a9c7", "name":"tf_test_annotations_value_binding"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 120.635235ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a0801d-5f5e-7edc-94ae-725777eafd85
        method: GET
      response:
        body: '{"id":"01a0801d-5f5e-7edc-94ae-725777eafd85", "name":"tf_test_annotations_key_binding", "description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 156.11124ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a0801d-5fb2-7d01-9c47-af4993f5a9c7
        method: GET
      response:
        body: '{"id":"01a0801d-5fb2-7d01-9c47-af4993f5a9c7", "key_id":"01a0801d-5f5e-7edc-94ae-725777eafd85", "name":"tf_test_annotations_value_binding", "description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 166.798496ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"bindings":[{"id":"01a0801d-60c1-7d28-8e07-592c0314a969", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b5940fba-9813-432f-b1ba-a92335937539", "key":{"id":"01a0801d-5f5e-7edc-94ae-725777eafd85", "name":"tf_test_annotations_key_binding"}, "value":{"id":"01a0801d-5fb2-7d01-9c47-af4993f5a9c7", "name":"tf_test_annotations_value_binding"}}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.117171ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a0801d-60c1-7d28-8e07-592c0314a969
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 62.710109ms
[...]
