---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value_update","description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f8f83-55ca-7bff-8d11-a231ea9c9f6d", "name":"tf_test_annotations_key_value_update", "description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.397353ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019f8f83-55ca-7bff-8d11-a231ea9c9f6d","name":"tf_test_annotations_value_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019f8f83-5663-7848-901f-404b4ff90d74", "key_id":"019f8f83-55ca-7bff-8d11-a231ea9c9f6d", "name":"tf_test_annotations_value_update", "description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.668559ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f83-55ca-7bff-8d11-a231ea9c9f6d
        method: GET
      response:
        body: '{"id":"019f8f83-55ca-7bff-8d11-a231ea9c9f6d", "name":"tf_test_annotations_key_value_update", "description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.226668ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f83-5663-7848-901f-404b4ff90d74
        method: GET
      response:
        body: '{"id":"019f8f83-5663-7848-901f-404b4ff90d74", "key_id":"019f8f83-55ca-7bff-8d11-a231ea9c9f6d", "name":"tf_test_annotations_value_update", "description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.836465ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f83-5663-7848-901f-404b4ff90d74
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019f8f83-5663-7848-901f-404b4ff90d74","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.946176ms
