---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_import","description":"Test annotation key for import with default org"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f94b1-f81d-712a-a98a-9b0ec091d075", "name":"tf_test_annotations_key_import", "description":"Test annotation key for import with default org"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.812472ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f81d-712a-a98a-9b0ec091d075
        method: GET
      response:
        body: '{"id":"019f94b1-f81d-712a-a98a-9b0ec091d075", "name":"tf_test_annotations_key_import", "description":"Test annotation key for import with default org"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.801824ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f81d-712a-a98a-9b0ec091d075
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f94b1-f81d-712a-a98a-9b0ec091d075","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.167033ms
