---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_binding","description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019fae16-fa70-7cb2-a006-eab77d435959", "name":"tf_test_annotations_key_binding", "description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.832841ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019fae16-fa70-7cb2-a006-eab77d435959","name":"tf_test_annotations_value_binding","description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019fae16-fab7-726c-8252-47fdfed09374", "key_id":"019fae16-fa70-7cb2-a006-eab77d435959", "name":"tf_test_annotations_value_binding", "description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.246469ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key for binding","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"4d6d2c18-78c8-4553-9d57-deb9e84a84ea", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-29T13:36:09.412135Z", "updated_at":"2026-07-29T13:36:09.415121Z", "protected":false, "locked":false, "description":"Test key for binding", "tags":["tf", "test"], "rotated_at":"2026-07-29T13:36:09.415121Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.559953ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4d6d2c18-78c8-4553-9d57-deb9e84a84ea
        method: GET
      response:
        body: '{"id":"4d6d2c18-78c8-4553-9d57-deb9e84a84ea", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-29T13:36:09.412135Z", "updated_at":"2026-07-29T13:36:09.415121Z", "protected":false, "locked":false, "description":"Test key for binding", "tags":["tf", "test"], "rotated_at":"2026-07-29T13:36:09.415121Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.978735ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4d6d2c18-78c8-4553-9d57-deb9e84a84ea","value_id":"019fae16-fab7-726c-8252-47fdfed09374"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"019fae16-fba3-7c6b-9637-3eba856d3cf8", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4d6d2c18-78c8-4553-9d57-deb9e84a84ea", "key":{"id":"019fae16-fa70-7cb2-a006-eab77d435959", "name":"tf_test_annotations_key_binding"}, "value":{"id":"019fae16-fab7-726c-8252-47fdfed09374", "name":"tf_test_annotations_value_binding"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.80195ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019fae16-fa70-7cb2-a006-eab77d435959
        method: GET
      response:
        body: '{"id":"019fae16-fa70-7cb2-a006-eab77d435959", "name":"tf_test_annotations_key_binding", "description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.581437ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019fae16-fab7-726c-8252-47fdfed09374
        method: GET
      response:
        body: '{"id":"019fae16-fab7-726c-8252-47fdfed09374", "key_id":"019fae16-fa70-7cb2-a006-eab77d435959", "name":"tf_test_annotations_value_binding", "description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.763447ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"bindings":[{"id":"019fae16-fba3-7026-9267-5684c6b61d2e", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/6b8ff33e-f28c-4166-b327-4774088627ea", "key":{"id":"019fae16-fa9a-704c-902c-37b7320743a7", "name":"tf_test_annotations_key_binding_minimal"}, "value":{"id":"019fae16-fb28-7ccc-8233-54e5a14589e4", "name":"tf_test_annotations_value_binding_minimal"}}, {"id":"019fae16-fba3-7c6b-9637-3eba856d3cf8", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4d6d2c18-78c8-4553-9d57-deb9e84a84ea", "key":{"id":"019fae16-fa70-7cb2-a006-eab77d435959", "name":"tf_test_annotations_key_binding"}, "value":{"id":"019fae16-fab7-726c-8252-47fdfed09374", "name":"tf_test_annotations_value_binding"}}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.517343ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/019fae16-fba3-7c6b-9637-3eba856d3cf8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 122.757099ms
[...]
