---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value_update","description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019facd1-8604-7097-87e9-d593c838d6d2","name":"tf_test_annotations_key_value_update","description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.32728ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019facd1-8604-7097-87e9-d593c838d6d2","name":"tf_test_annotations_value_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019facd1-867b-733f-bb28-6dbd48da9ace","key_id":"019facd1-8604-7097-87e9-d593c838d6d2","name":"tf_test_annotations_value_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.363436ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019facd1-8604-7097-87e9-d593c838d6d2
        method: GET
      response:
        body: '{"id":"019facd1-8604-7097-87e9-d593c838d6d2","name":"tf_test_annotations_key_value_update","description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.271821ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-867b-733f-bb28-6dbd48da9ace
        method: GET
      response:
        body: '{"id":"019facd1-867b-733f-bb28-6dbd48da9ace","key_id":"019facd1-8604-7097-87e9-d593c838d6d2","name":"tf_test_annotations_value_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.6391ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-867b-733f-bb28-6dbd48da9ace
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019facd1-867b-733f-bb28-6dbd48da9ace","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.342793ms
