---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value","description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f8f83-55f1-77d1-a8d9-51446fb79e7a", "name":"tf_test_annotations_key_value", "description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.590767ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019f8f83-55f1-77d1-a8d9-51446fb79e7a","name":"tf_test_annotations_value","description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019f8f83-566f-7322-8d6f-ba9e87ee7714", "key_id":"019f8f83-55f1-77d1-a8d9-51446fb79e7a", "name":"tf_test_annotations_value", "description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.817008ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f83-55f1-77d1-a8d9-51446fb79e7a
        method: GET
      response:
        body: '{"id":"019f8f83-55f1-77d1-a8d9-51446fb79e7a", "name":"tf_test_annotations_key_value", "description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.903861ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f83-566f-7322-8d6f-ba9e87ee7714
        method: GET
      response:
        body: '{"id":"019f8f83-566f-7322-8d6f-ba9e87ee7714", "key_id":"019f8f83-55f1-77d1-a8d9-51446fb79e7a", "name":"tf_test_annotations_value", "description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.375147ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f83-566f-7322-8d6f-ba9e87ee7714
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019f8f83-566f-7322-8d6f-ba9e87ee7714","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.848903ms
