---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key","description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f938a-50b8-7dca-bb4a-3a18146a5c43", "name":"tf_test_annotations_key", "description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.686301ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f938a-50b8-7dca-bb4a-3a18146a5c43
        method: GET
      response:
        body: '{"id":"019f938a-50b8-7dca-bb4a-3a18146a5c43", "name":"tf_test_annotations_key", "description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.612289ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f938a-50b8-7dca-bb4a-3a18146a5c43
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f938a-50b8-7dca-bb4a-3a18146a5c43","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.518292ms
