---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f8f4e-87cc-79b8-8cb8-73f37ee84ca6", "name":"tf_test_annotations_key_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.08298241s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f4e-87cc-79b8-8cb8-73f37ee84ca6
        method: GET
      response:
        body: '{"id":"019f8f4e-87cc-79b8-8cb8-73f37ee84ca6", "name":"tf_test_annotations_key_minimal", "description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.317544ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f4e-87cc-79b8-8cb8-73f37ee84ca6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f8f4e-87cc-79b8-8cb8-73f37ee84ca6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.074563ms
