---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_binding","description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a1114d-136f-7e4f-81bd-9a8b9af5499c","srn":"srn://annotations.scw.eu/keys/01a1114d-136f-7e4f-81bd-9a8b9af5499c","name":"tf_test_annotations_key_binding","description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.141385ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.645781ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key for binding","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/227fb8b5-2fad-4a68-8038-381f28910958","id":"227fb8b5-2fad-4a68-8038-381f28910958","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T13:00:26.425685Z","updated_at":"2026-10-06T13:00:26.438670Z","protected":false,"locked":false,"description":"Test key for binding","tags":["tf","test"],"rotated_at":"2026-10-06T13:00:26.438670Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 203.380454ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a1114d-136f-7e4f-81bd-9a8b9af5499c","name":"tf_test_annotations_value_binding","description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a1114d-1403-738f-997d-e4a57a9619ed","srn":"srn://annotations.scw.eu/values/01a1114d-1403-738f-997d-e4a57a9619ed","key_id":"01a1114d-136f-7e4f-81bd-9a8b9af5499c","name":"tf_test_annotations_value_binding","description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 117.171565ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/227fb8b5-2fad-4a68-8038-381f28910958
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/227fb8b5-2fad-4a68-8038-381f28910958","id":"227fb8b5-2fad-4a68-8038-381f28910958","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T13:00:26.425685Z","updated_at":"2026-10-06T13:00:26.438670Z","protected":false,"locked":false,"description":"Test key for binding","tags":["tf","test"],"rotated_at":"2026-10-06T13:00:26.438670Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.519301ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"target_srn":"srn://key-manager.scw.eu/regions/fr-par/keys/227fb8b5-2fad-4a68-8038-381f28910958","value_id":"01a1114d-1403-738f-997d-e4a57a9619ed"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a1114d-147b-7960-9911-cc8050eb020b","srn":"srn://annotations.scw.eu/bindings/01a1114d-147b-7960-9911-cc8050eb020b","target_srn":"srn://key-manager.scw.eu/regions/fr-par/keys/227fb8b5-2fad-4a68-8038-381f28910958","key":{"id":"01a1114d-136f-7e4f-81bd-9a8b9af5499c","srn":"srn://annotations.scw.eu/keys/01a1114d-136f-7e4f-81bd-9a8b9af5499c","name":"tf_test_annotations_key_binding"},"value":{"id":"01a1114d-1403-738f-997d-e4a57a9619ed","srn":"srn://annotations.scw.eu/values/01a1114d-1403-738f-997d-e4a57a9619ed","name":"tf_test_annotations_value_binding"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 72.558855ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-136f-7e4f-81bd-9a8b9af5499c
        method: GET
      response:
        body: '{"id":"01a1114d-136f-7e4f-81bd-9a8b9af5499c","srn":"srn://annotations.scw.eu/keys/01a1114d-136f-7e4f-81bd-9a8b9af5499c","name":"tf_test_annotations_key_binding","description":"Test annotation key for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.798881ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-1403-738f-997d-e4a57a9619ed
        method: GET
      response:
        body: '{"id":"01a1114d-1403-738f-997d-e4a57a9619ed","srn":"srn://annotations.scw.eu/values/01a1114d-1403-738f-997d-e4a57a9619ed","key_id":"01a1114d-136f-7e4f-81bd-9a8b9af5499c","name":"tf_test_annotations_value_binding","description":"Test annotation value for binding"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.566252ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"bindings":[{"id":"01a0fc7a-742d-7446-b367-4108a55ecbc2","srn":"srn://annotations.scw.eu/bindings/01a0fc7a-742d-7446-b367-4108a55ecbc2","target_srn":"srn://iam.scw.eu/api-keys/SCWXXXXXXXXXXXXXXXXX","key":{"id":"01a0585f-e006-7205-b434-256e25d91aee","srn":"srn://annotations.scw.eu/keys/01a0585f-e006-7205-b434-256e25d91aee","name":"iam_terraform_identifier"},"value":{"id":"01a0585f-e12a-72c0-9b9f-6ba2c42334a0","srn":"srn://annotations.scw.eu/values/01a0585f-e12a-72c0-9b9f-6ba2c42334a0","name":"my_identity_value"}},{"id":"01a1114d-147b-7960-9911-cc8050eb020b","srn":"srn://annotations.scw.eu/bindings/01a1114d-147b-7960-9911-cc8050eb020b","target_srn":"srn://key-manager.scw.eu/regions/fr-par/keys/227fb8b5-2fad-4a68-8038-381f28910958","key":{"id":"01a1114d-136f-7e4f-81bd-9a8b9af5499c","srn":"srn://annotations.scw.eu/keys/01a1114d-136f-7e4f-81bd-9a8b9af5499c","name":"tf_test_annotations_key_binding"},"value":{"id":"01a1114d-1403-738f-997d-e4a57a9619ed","srn":"srn://annotations.scw.eu/values/01a1114d-1403-738f-997d-e4a57a9619ed","name":"tf_test_annotations_value_binding"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.164989ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a1114d-147b-7960-9911-cc8050eb020b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 47.912332ms
[...]
