---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019facd1-85d9-7acc-bcfd-12d853772bcc","name":"tf_test_annotations_key_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.250297ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019facd1-85d9-7acc-bcfd-12d853772bcc","name":"tf_test_annotations_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019facd1-867d-7013-9904-fb0239955b3b","key_id":"019facd1-85d9-7acc-bcfd-12d853772bcc","name":"tf_test_annotations_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.952796ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019facd1-85d9-7acc-bcfd-12d853772bcc
        method: GET
      response:
        body: '{"id":"019facd1-85d9-7acc-bcfd-12d853772bcc","name":"tf_test_annotations_key_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.703972ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-867d-7013-9904-fb0239955b3b
        method: GET
      response:
        body: '{"id":"019facd1-867d-7013-9904-fb0239955b3b","key_id":"019facd1-85d9-7acc-bcfd-12d853772bcc","name":"tf_test_annotations_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.560689ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-867d-7013-9904-fb0239955b3b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019facd1-867d-7013-9904-fb0239955b3b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.711908ms
