---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value","description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a1114d-139e-7840-a0f0-f78427264254","srn":"srn://annotations.scw.eu/keys/01a1114d-139e-7840-a0f0-f78427264254","name":"tf_test_annotations_key_value","description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 106.297719ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.334616ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a1114d-139e-7840-a0f0-f78427264254","name":"tf_test_annotations_value","description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a1114d-142d-71a5-944c-183aa7ebbc4c","srn":"srn://annotations.scw.eu/values/01a1114d-142d-71a5-944c-183aa7ebbc4c","key_id":"01a1114d-139e-7840-a0f0-f78427264254","name":"tf_test_annotations_value","description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 124.938621ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-139e-7840-a0f0-f78427264254
        method: GET
      response:
        body: '{"id":"01a1114d-139e-7840-a0f0-f78427264254","srn":"srn://annotations.scw.eu/keys/01a1114d-139e-7840-a0f0-f78427264254","name":"tf_test_annotations_key_value","description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 144.033788ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-142d-71a5-944c-183aa7ebbc4c
        method: GET
      response:
        body: '{"id":"01a1114d-142d-71a5-944c-183aa7ebbc4c","srn":"srn://annotations.scw.eu/values/01a1114d-142d-71a5-944c-183aa7ebbc4c","key_id":"01a1114d-139e-7840-a0f0-f78427264254","name":"tf_test_annotations_value","description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 129.973522ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-142d-71a5-944c-183aa7ebbc4c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"01a1114d-142d-71a5-944c-183aa7ebbc4c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 46.114007ms
