---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a1114d-13a2-7722-ae8b-43d9bd3b0888","srn":"srn://annotations.scw.eu/keys/01a1114d-13a2-7722-ae8b-43d9bd3b0888","name":"tf_test_annotations_key_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 115.771969ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.353505ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a1114d-13a2-7722-ae8b-43d9bd3b0888","name":"tf_test_annotations_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a1114d-142b-73e2-a65a-1633e0395f00","srn":"srn://annotations.scw.eu/values/01a1114d-142b-73e2-a65a-1633e0395f00","key_id":"01a1114d-13a2-7722-ae8b-43d9bd3b0888","name":"tf_test_annotations_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 115.875304ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-13a2-7722-ae8b-43d9bd3b0888
        method: GET
      response:
        body: '{"id":"01a1114d-13a2-7722-ae8b-43d9bd3b0888","srn":"srn://annotations.scw.eu/keys/01a1114d-13a2-7722-ae8b-43d9bd3b0888","name":"tf_test_annotations_key_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.616572ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-142b-73e2-a65a-1633e0395f00
        method: GET
      response:
        body: '{"id":"01a1114d-142b-73e2-a65a-1633e0395f00","srn":"srn://annotations.scw.eu/values/01a1114d-142b-73e2-a65a-1633e0395f00","key_id":"01a1114d-13a2-7722-ae8b-43d9bd3b0888","name":"tf_test_annotations_value_minimal","description":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.015856ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-142b-73e2-a65a-1633e0395f00
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"01a1114d-142b-73e2-a65a-1633e0395f00","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 46.63645ms
