---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value","description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019facd1-85ea-75c9-8055-fcb97a986513","name":"tf_test_annotations_key_value","description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.174801ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019facd1-85ea-75c9-8055-fcb97a986513","name":"tf_test_annotations_value","description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019facd1-865a-7548-b1af-5bae1d51e3ea","key_id":"019facd1-85ea-75c9-8055-fcb97a986513","name":"tf_test_annotations_value","description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.464946ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019facd1-85ea-75c9-8055-fcb97a986513
        method: GET
      response:
        body: '{"id":"019facd1-85ea-75c9-8055-fcb97a986513","name":"tf_test_annotations_key_value","description":"Test annotation key for value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.891653ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-865a-7548-b1af-5bae1d51e3ea
        method: GET
      response:
        body: '{"id":"019facd1-865a-7548-b1af-5bae1d51e3ea","key_id":"019facd1-85ea-75c9-8055-fcb97a986513","name":"tf_test_annotations_value","description":"Test annotation value"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.446246ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-865a-7548-b1af-5bae1d51e3ea
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019facd1-865a-7548-b1af-5bae1d51e3ea","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.369696ms
