---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key","description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f8f4e-87cd-7d14-9eb2-9d00b2b13240", "name":"tf_test_annotations_key", "description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.111286307s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f4e-87cd-7d14-9eb2-9d00b2b13240
        method: GET
      response:
        body: '{"id":"019f8f4e-87cd-7d14-9eb2-9d00b2b13240", "name":"tf_test_annotations_key", "description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.858652ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f4e-87cd-7d14-9eb2-9d00b2b13240
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f8f4e-87cd-7d14-9eb2-9d00b2b13240","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.835271ms
