---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_org","description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f938a-50c7-75d9-a9fa-e24c226ed161", "name":"tf_test_annotations_key_org", "description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.034674ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f938a-50c7-75d9-a9fa-e24c226ed161
        method: GET
      response:
        body: '{"id":"019f938a-50c7-75d9-a9fa-e24c226ed161", "name":"tf_test_annotations_key_org", "description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.914932ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f938a-50c7-75d9-a9fa-e24c226ed161
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f938a-50c7-75d9-a9fa-e24c226ed161","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.988299ms
