---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_org","description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a1114d-1366-7c1e-a288-31156ccd2e57","srn":"srn://annotations.scw.eu/keys/01a1114d-1366-7c1e-a288-31156ccd2e57","name":"tf_test_annotations_key_org","description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.265142ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.5969ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-1366-7c1e-a288-31156ccd2e57
        method: GET
      response:
        body: '{"id":"01a1114d-1366-7c1e-a288-31156ccd2e57","srn":"srn://annotations.scw.eu/keys/01a1114d-1366-7c1e-a288-31156ccd2e57","name":"tf_test_annotations_key_org","description":"Test annotation key with organization"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.457818ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-1366-7c1e-a288-31156ccd2e57
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"01a1114d-1366-7c1e-a288-31156ccd2e57","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 47.175195ms
