---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_value_update","description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a1114d-1376-74e6-9494-59f8961434fd","srn":"srn://annotations.scw.eu/keys/01a1114d-1376-74e6-9494-59f8961434fd","name":"tf_test_annotations_key_value_update","description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 123.080132ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.572072ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a1114d-1376-74e6-9494-59f8961434fd","name":"tf_test_annotations_value_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a1114d-13d3-7658-bed9-498007e81dfa","srn":"srn://annotations.scw.eu/values/01a1114d-13d3-7658-bed9-498007e81dfa","key_id":"01a1114d-1376-74e6-9494-59f8961434fd","name":"tf_test_annotations_value_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 62.722973ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-1376-74e6-9494-59f8961434fd
        method: GET
      response:
        body: '{"id":"01a1114d-1376-74e6-9494-59f8961434fd","srn":"srn://annotations.scw.eu/keys/01a1114d-1376-74e6-9494-59f8961434fd","name":"tf_test_annotations_key_value_update","description":"Test annotation key for value update"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 56.599883ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-13d3-7658-bed9-498007e81dfa
        method: GET
      response:
        body: '{"id":"01a1114d-13d3-7658-bed9-498007e81dfa","srn":"srn://annotations.scw.eu/values/01a1114d-13d3-7658-bed9-498007e81dfa","key_id":"01a1114d-1376-74e6-9494-59f8961434fd","name":"tf_test_annotations_value_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 60.417661ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-13d3-7658-bed9-498007e81dfa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"01a1114d-13d3-7658-bed9-498007e81dfa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 45.612091ms
