---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key_update","description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f94b1-f7cf-7d42-bca1-606077876a8e", "name":"tf_test_annotations_key_update", "description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.537776ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f7cf-7d42-bca1-606077876a8e
        method: GET
      response:
        body: '{"id":"019f94b1-f7cf-7d42-bca1-606077876a8e", "name":"tf_test_annotations_key_update", "description":"Initial description"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.759402ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f7cf-7d42-bca1-606077876a8e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f94b1-f7cf-7d42-bca1-606077876a8e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.490881ms
