---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_annotations_key","description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f94b1-f814-74ce-a929-c7d25b021065", "name":"tf_test_annotations_key", "description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.423483ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f814-74ce-a929-c7d25b021065
        method: GET
      response:
        body: '{"id":"019f94b1-f814-74ce-a929-c7d25b021065", "name":"tf_test_annotations_key", "description":"Test annotation key"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.78249ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f94b1-f814-74ce-a929-c7d25b021065
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f94b1-f814-74ce-a929-c7d25b021065","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.807746ms
