---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_key_binding_ds","description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","srn":"srn://annotations.scw.eu/keys/01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","name":"test_key_binding_ds","description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 191.28917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/d7f586aa-936b-4a23-839c-4b30753a82e6","id":"d7f586aa-936b-4a23-839c-4b30753a82e6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T13:00:23.170525Z","updated_at":"2026-10-06T13:00:23.175746Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T13:00:23.175746Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 191.021545ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.624543ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/d7f586aa-936b-4a23-839c-4b30753a82e6
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/d7f586aa-936b-4a23-839c-4b30753a82e6","id":"d7f586aa-936b-4a23-839c-4b30753a82e6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T13:00:23.170525Z","updated_at":"2026-10-06T13:00:23.175746Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T13:00:23.175746Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.492633ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","name":"test_value_binding_ds","description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a1114d-07bc-73b8-92f8-f55136ae44af","srn":"srn://annotations.scw.eu/values/01a1114d-07bc-73b8-92f8-f55136ae44af","key_id":"01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","name":"test_value_binding_ds","description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 139.015262ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"target_srn":"srn://key-manager.scw.eu/regions/fr-par/keys/d7f586aa-936b-4a23-839c-4b30753a82e6","value_id":"01a1114d-07bc-73b8-92f8-f55136ae44af"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a1114d-0838-7c2f-a00b-e8674a5e4ad3","srn":"srn://annotations.scw.eu/bindings/01a1114d-0838-7c2f-a00b-e8674a5e4ad3","target_srn":"srn://key-manager.scw.eu/regions/fr-par/keys/d7f586aa-936b-4a23-839c-4b30753a82e6","key":{"id":"01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","srn":"srn://annotations.scw.eu/keys/01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","name":"test_key_binding_ds"},"value":{"id":"01a1114d-07bc-73b8-92f8-f55136ae44af","srn":"srn://annotations.scw.eu/values/01a1114d-07bc-73b8-92f8-f55136ae44af","name":"test_value_binding_ds"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 119.828952ms
    - id: 7
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"bindings":[{"id":"01a0fc7a-742d-7446-b367-4108a55ecbc2","srn":"srn://annotations.scw.eu/bindings/01a0fc7a-742d-7446-b367-4108a55ecbc2","target_srn":"srn://iam.scw.eu/api-keys/SCWXXXXXXXXXXXXXXXXX","key":{"id":"01a0585f-e006-7205-b434-256e25d91aee","srn":"srn://annotations.scw.eu/keys/01a0585f-e006-7205-b434-256e25d91aee","name":"iam_terraform_identifier"},"value":{"id":"01a0585f-e12a-72c0-9b9f-6ba2c42334a0","srn":"srn://annotations.scw.eu/values/01a0585f-e12a-72c0-9b9f-6ba2c42334a0","name":"my_identity_value"}},{"id":"01a1114d-0838-7c2f-a00b-e8674a5e4ad3","srn":"srn://annotations.scw.eu/bindings/01a1114d-0838-7c2f-a00b-e8674a5e4ad3","target_srn":"srn://key-manager.scw.eu/regions/fr-par/keys/d7f586aa-936b-4a23-839c-4b30753a82e6","key":{"id":"01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","srn":"srn://annotations.scw.eu/keys/01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","name":"test_key_binding_ds"},"value":{"id":"01a1114d-07bc-73b8-92f8-f55136ae44af","srn":"srn://annotations.scw.eu/values/01a1114d-07bc-73b8-92f8-f55136ae44af","name":"test_value_binding_ds"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.140893ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-0712-7d49-9b39-7b0ad2eb4fc4
        method: GET
      response:
        body: '{"id":"01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","srn":"srn://annotations.scw.eu/keys/01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","name":"test_key_binding_ds","description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 152.270221ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-07bc-73b8-92f8-f55136ae44af
        method: GET
      response:
        body: '{"id":"01a1114d-07bc-73b8-92f8-f55136ae44af","srn":"srn://annotations.scw.eu/values/01a1114d-07bc-73b8-92f8-f55136ae44af","key_id":"01a1114d-0712-7d49-9b39-7b0ad2eb4fc4","name":"test_value_binding_ds","description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 69.501429ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a1114d-0838-7c2f-a00b-e8674a5e4ad3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 128.507664ms
[...]
