---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_key_binding_ds","description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019fae16-d840-7c5b-af87-6549fcfe03c7", "name":"test_key_binding_ds", "description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.904843ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"b4f99f9b-ea5d-46e5-981e-b6c0910cac16", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding-ds", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-29T13:36:00.625747Z", "updated_at":"2026-07-29T13:36:00.631330Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-07-29T13:36:00.631330Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.341691ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_id":"019fae16-d840-7c5b-af87-6549fcfe03c7","name":"test_value_binding_ds","description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019fae16-d8d3-7de5-a652-2a87dc34b13b", "key_id":"019fae16-d840-7c5b-af87-6549fcfe03c7", "name":"test_value_binding_ds", "description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.992769ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b4f99f9b-ea5d-46e5-981e-b6c0910cac16
        method: GET
      response:
        body: '{"id":"b4f99f9b-ea5d-46e5-981e-b6c0910cac16", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding-ds", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-29T13:36:00.625747Z", "updated_at":"2026-07-29T13:36:00.631330Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-07-29T13:36:00.631330Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.907175ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b4f99f9b-ea5d-46e5-981e-b6c0910cac16","value_id":"019fae16-d8d3-7de5-a652-2a87dc34b13b"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"019fae16-d960-7480-a581-e1a37e510475", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b4f99f9b-ea5d-46e5-981e-b6c0910cac16", "key":{"id":"019fae16-d840-7c5b-af87-6549fcfe03c7", "name":"test_key_binding_ds"}, "value":{"id":"019fae16-d8d3-7de5-a652-2a87dc34b13b", "name":"test_value_binding_ds"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.181152ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"bindings":[{"id":"019fae16-d960-7480-a581-e1a37e510475", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b4f99f9b-ea5d-46e5-981e-b6c0910cac16", "key":{"id":"019fae16-d840-7c5b-af87-6549fcfe03c7", "name":"test_key_binding_ds"}, "value":{"id":"019fae16-d8d3-7de5-a652-2a87dc34b13b", "name":"test_value_binding_ds"}}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.226021ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019fae16-d840-7c5b-af87-6549fcfe03c7
        method: GET
      response:
        body: '{"id":"019fae16-d840-7c5b-af87-6549fcfe03c7", "name":"test_key_binding_ds", "description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.759227ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019fae16-d8d3-7de5-a652-2a87dc34b13b
        method: GET
      response:
        body: '{"id":"019fae16-d8d3-7de5-a652-2a87dc34b13b", "key_id":"019fae16-d840-7c5b-af87-6549fcfe03c7", "name":"test_value_binding_ds", "description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.079546ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/019fae16-d960-7480-a581-e1a37e510475
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 111.412564ms
[...]
