---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-binding-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"87db7842-f4e3-41f2-a89a-dd91f380309e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding-ds", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-09-08T08:22:59.744445Z", "updated_at":"2026-09-08T08:22:59.750499Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-09-08T08:22:59.750499Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 299.139982ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.311909ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/87db7842-f4e3-41f2-a89a-dd91f380309e
        method: GET
      response:
        body: '{"id":"87db7842-f4e3-41f2-a89a-dd91f380309e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-binding-ds", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-09-08T08:22:59.744445Z", "updated_at":"2026-09-08T08:22:59.750499Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-09-08T08:22:59.750499Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.224278ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_key_binding_ds","description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a0801d-07ac-70d2-a4fb-2a1efbb318f5", "name":"test_key_binding_ds", "description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.87372869s
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a0801d-07ac-70d2-a4fb-2a1efbb318f5","name":"test_value_binding_ds","description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a0801d-086a-70e0-84cf-77bf0e410dea", "key_id":"01a0801d-07ac-70d2-a4fb-2a1efbb318f5", "name":"test_value_binding_ds", "description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.187056ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/87db7842-f4e3-41f2-a89a-dd91f380309e","value_id":"01a0801d-086a-70e0-84cf-77bf0e410dea"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a0801d-08ed-7832-8778-f4247bae7a8e", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/87db7842-f4e3-41f2-a89a-dd91f380309e", "key":{"id":"01a0801d-07ac-70d2-a4fb-2a1efbb318f5", "name":"test_key_binding_ds"}, "value":{"id":"01a0801d-086a-70e0-84cf-77bf0e410dea", "name":"test_value_binding_ds"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 124.530609ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"bindings":[{"id":"01a0801d-08ed-7832-8778-f4247bae7a8e", "srn":"srn://key-manager.scw.eu/regions/fr-par/keys/87db7842-f4e3-41f2-a89a-dd91f380309e", "key":{"id":"01a0801d-07ac-70d2-a4fb-2a1efbb318f5", "name":"test_key_binding_ds"}, "value":{"id":"01a0801d-086a-70e0-84cf-77bf0e410dea", "name":"test_value_binding_ds"}}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.181273ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a0801d-07ac-70d2-a4fb-2a1efbb318f5
        method: GET
      response:
        body: '{"id":"01a0801d-07ac-70d2-a4fb-2a1efbb318f5", "name":"test_key_binding_ds", "description":"Test annotation key for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.976476ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a0801d-086a-70e0-84cf-77bf0e410dea
        method: GET
      response:
        body: '{"id":"01a0801d-086a-70e0-84cf-77bf0e410dea", "key_id":"01a0801d-07ac-70d2-a4fb-2a1efbb318f5", "name":"test_value_binding_ds", "description":"Test annotation value for binding data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.780505ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a0801d-08ed-7832-8778-f4247bae7a8e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 104.316668ms
[...]
