---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_key_ds","description":"Test annotation key for data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019fa2dd-9cec-76b9-8870-0ebcfe16f977", "name":"test_key_ds", "description":"Test annotation key for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.313974ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019fa2dd-9cec-76b9-8870-0ebcfe16f977
        method: GET
      response:
        body: '{"id":"019fa2dd-9cec-76b9-8870-0ebcfe16f977", "name":"test_key_ds", "description":"Test annotation key for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.630102ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019fa2dd-9cec-76b9-8870-0ebcfe16f977
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019fa2dd-9cec-76b9-8870-0ebcfe16f977","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.819877ms
[...]
