---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_key_value_ds","description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019facd1-a56b-7233-b8ee-c5107cc1f614","name":"test_key_value_ds","description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.27956ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019facd1-a56b-7233-b8ee-c5107cc1f614","name":"test_value_ds","description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019facd1-a5ad-7784-875b-b656795c7c33","key_id":"019facd1-a56b-7233-b8ee-c5107cc1f614","name":"test_value_ds","description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.727321ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-a5ad-7784-875b-b656795c7c33
        method: GET
      response:
        body: '{"id":"019facd1-a5ad-7784-875b-b656795c7c33","key_id":"019facd1-a56b-7233-b8ee-c5107cc1f614","name":"test_value_ds","description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.82739ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019facd1-a56b-7233-b8ee-c5107cc1f614
        method: GET
      response:
        body: '{"id":"019facd1-a56b-7233-b8ee-c5107cc1f614","name":"test_key_value_ds","description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.41319ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019facd1-a5ad-7784-875b-b656795c7c33
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019facd1-a5ad-7784-875b-b656795c7c33","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.821689ms
[...]
