---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","name":"test_key_ds","description":"Test annotation key for data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f944e-f007-7718-8f10-2637f90d03b9", "name":"test_key_ds", "description":"Test annotation key for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.118377ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f944e-f007-7718-8f10-2637f90d03b9
        method: GET
      response:
        body: '{"id":"019f944e-f007-7718-8f10-2637f90d03b9", "name":"test_key_ds", "description":"Test annotation key for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.741694ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f944e-f007-7718-8f10-2637f90d03b9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_key","resource_id":"019f944e-f007-7718-8f10-2637f90d03b9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.37492ms
[...]
