---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_key_value_ds","description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"019f8f85-e768-709c-a3ab-dffc83feeb77", "name":"test_key_value_ds", "description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.036862ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"key_id":"019f8f85-e768-709c-a3ab-dffc83feeb77","name":"test_value_ds","description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"019f8f85-e81a-7889-bd6a-57330887e452", "key_id":"019f8f85-e768-709c-a3ab-dffc83feeb77", "name":"test_value_ds", "description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.626814ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f85-e81a-7889-bd6a-57330887e452
        method: GET
      response:
        body: '{"id":"019f8f85-e81a-7889-bd6a-57330887e452", "key_id":"019f8f85-e768-709c-a3ab-dffc83feeb77", "name":"test_value_ds", "description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.62961ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/019f8f85-e768-709c-a3ab-dffc83feeb77
        method: GET
      response:
        body: '{"id":"019f8f85-e768-709c-a3ab-dffc83feeb77", "name":"test_key_value_ds", "description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.602619ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/019f8f85-e81a-7889-bd6a-57330887e452
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"019f8f85-e81a-7889-bd6a-57330887e452","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.302428ms
[...]
