---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_key_value_ds","description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/keys
        method: POST
      response:
        body: '{"id":"01a1114d-1ed8-7a37-8d71-198f459f2887","srn":"srn://annotations.scw.eu/keys/01a1114d-1ed8-7a37-8d71-198f459f2887","name":"test_key_value_ds","description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 79.694631ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 20.371901ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a1114d-1ed8-7a37-8d71-198f459f2887","name":"test_value_ds","description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a1114d-1f41-7f3c-ac08-c22e2df308dc","srn":"srn://annotations.scw.eu/values/01a1114d-1f41-7f3c-ac08-c22e2df308dc","key_id":"01a1114d-1ed8-7a37-8d71-198f459f2887","name":"test_value_ds","description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.719047ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-1f41-7f3c-ac08-c22e2df308dc
        method: GET
      response:
        body: '{"id":"01a1114d-1f41-7f3c-ac08-c22e2df308dc","srn":"srn://annotations.scw.eu/values/01a1114d-1f41-7f3c-ac08-c22e2df308dc","key_id":"01a1114d-1ed8-7a37-8d71-198f459f2887","name":"test_value_ds","description":"Test annotation value for data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.156157ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/keys/01a1114d-1ed8-7a37-8d71-198f459f2887
        method: GET
      response:
        body: '{"id":"01a1114d-1ed8-7a37-8d71-198f459f2887","srn":"srn://annotations.scw.eu/keys/01a1114d-1ed8-7a37-8d71-198f459f2887","name":"test_key_value_ds","description":"Test annotation key for value data source"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.847861ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a1114d-1f41-7f3c-ac08-c22e2df308dc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"annotation_value","resource_id":"01a1114d-1f41-7f3c-ac08-c22e2df308dc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 47.408143ms
[...]
