---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-action-start","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"echo ''Hello World''","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"382066bb-c496-40ec-8574-80fe9e4f54cc", "name":"test-jobs-action-start", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.464810Z", "updated_at":"2026-02-16T17:24:00.464810Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"echo ''Hello World''", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.522939ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/382066bb-c496-40ec-8574-80fe9e4f54cc
        method: GET
      response:
        body: '{"id":"382066bb-c496-40ec-8574-80fe9e4f54cc", "name":"test-jobs-action-start", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.464810Z", "updated_at":"2026-02-16T17:24:00.464810Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"echo ''Hello World''", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.109676ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 382066bb-c496-40ec-8574-80fe9e4f54cc
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=382066bb-c496-40ec-8574-80fe9e4f54cc
        method: GET
      response:
        body: '{"secrets":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.471624ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/382066bb-c496-40ec-8574-80fe9e4f54cc/start
        method: POST
      response:
        body: '{"job_runs":[{"id":"730e67e8-18c9-4bcf-a2fa-65070cce8e0b", "job_definition_id":"382066bb-c496-40ec-8574-80fe9e4f54cc", "created_at":"2026-02-16T17:24:00.686466Z", "updated_at":"2026-02-16T17:24:01.012689Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"validated", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"echo ''Hello World''", "environment_variables":{}, "startup_command":[], "args":[], "region":"fr-par"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.58336ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 382066bb-c496-40ec-8574-80fe9e4f54cc
            order_by:
                - created_at_asc
            state:
                - unknown_state
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs?job_definition_id=382066bb-c496-40ec-8574-80fe9e4f54cc&order_by=created_at_asc&state=unknown_state
        method: GET
      response:
        body: '{"job_runs":[{"id":"730e67e8-18c9-4bcf-a2fa-65070cce8e0b", "job_definition_id":"382066bb-c496-40ec-8574-80fe9e4f54cc", "created_at":"2026-02-16T17:24:00.686466Z", "updated_at":"2026-02-16T17:24:01.012689Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"validated", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"echo ''Hello World''", "environment_variables":{}, "startup_command":[], "args":[], "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.817902ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/382066bb-c496-40ec-8574-80fe9e4f54cc
        method: DELETE
      response:
        body: '{"message":"one or more job runs are still running"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 99.121834ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs/730e67e8-18c9-4bcf-a2fa-65070cce8e0b/stop
        method: POST
      response:
        body: '{"id":"730e67e8-18c9-4bcf-a2fa-65070cce8e0b", "job_definition_id":"382066bb-c496-40ec-8574-80fe9e4f54cc", "created_at":"2026-02-16T17:24:00.686466Z", "updated_at":"2026-02-16T17:24:02.328021Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"interrupting", "reason":"cancellation", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"echo ''Hello World''", "environment_variables":{}, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.187745ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs/730e67e8-18c9-4bcf-a2fa-65070cce8e0b
        method: GET
      response:
        body: '{"id":"730e67e8-18c9-4bcf-a2fa-65070cce8e0b", "job_definition_id":"382066bb-c496-40ec-8574-80fe9e4f54cc", "created_at":"2026-02-16T17:24:00.686466Z", "updated_at":"2026-02-16T17:24:02.328021Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"interrupting", "reason":"cancellation", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"echo ''Hello World''", "environment_variables":{}, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.896195ms
[...]
