---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-action-start","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"echo ''Hello World''","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2025-12-05T06:01:36.614706Z","cron_schedule":null,"description":"","environment_variables":{},"id":"c89e7982-53ef-4507-a60b-51ef36043ad4","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-action-start","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-12-05T06:01:36.614706Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.174125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/c89e7982-53ef-4507-a60b-51ef36043ad4
        method: GET
      response:
        body: '{"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2025-12-05T06:01:36.614706Z","cron_schedule":null,"description":"","environment_variables":{},"id":"c89e7982-53ef-4507-a60b-51ef36043ad4","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-action-start","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-12-05T06:01:36.614706Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.654209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/c89e7982-53ef-4507-a60b-51ef36043ad4/secrets
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.462375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/c89e7982-53ef-4507-a60b-51ef36043ad4/start
        method: POST
      response:
        body: '{"job_runs":[{"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2025-12-05T06:01:37.662147Z","environment_variables":{},"error_message":"","exit_code":null,"id":"609bc841-58e3-4cd4-859a-95d50e8f23b2","job_definition_id":"c89e7982-53ef-4507-a60b-51ef36043ad4","local_storage_capacity":5120,"memory_limit":256,"region":"fr-par","run_duration":null,"started_at":null,"state":"queued","terminated_at":null,"updated_at":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 880.144791ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-runs?job_definition_id=c89e7982-53ef-4507-a60b-51ef36043ad4&order_by=created_at_asc&state=unknown_state
        method: GET
      response:
        body: '{"job_runs":[{"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2025-12-05T06:01:37.662147Z","environment_variables":{},"error_message":"","exit_code":null,"id":"609bc841-58e3-4cd4-859a-95d50e8f23b2","job_definition_id":"c89e7982-53ef-4507-a60b-51ef36043ad4","local_storage_capacity":5120,"memory_limit":256,"region":"fr-par","run_duration":null,"started_at":null,"state":"queued","terminated_at":null,"updated_at":"2025-12-05T06:01:37.662147Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.500667ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/c89e7982-53ef-4507-a60b-51ef36043ad4
        method: DELETE
      response:
        body: '{"message":"one or more job runs are still running"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 110.401667ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-runs/609bc841-58e3-4cd4-859a-95d50e8f23b2/stop
        method: POST
      response:
        body: '{"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2025-12-05T06:01:37.662147Z","environment_variables":{},"error_message":"Job run has been canceled","exit_code":null,"id":"609bc841-58e3-4cd4-859a-95d50e8f23b2","job_definition_id":"c89e7982-53ef-4507-a60b-51ef36043ad4","local_storage_capacity":5120,"memory_limit":256,"region":"fr-par","run_duration":null,"started_at":null,"state":"canceled","terminated_at":null,"updated_at":"2025-12-05T06:01:39.162295Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.672291ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-runs/609bc841-58e3-4cd4-859a-95d50e8f23b2
        method: GET
      response:
        body: '{"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2025-12-05T06:01:37.662147Z","environment_variables":{},"error_message":"Job run has been canceled","exit_code":null,"id":"609bc841-58e3-4cd4-859a-95d50e8f23b2","job_definition_id":"c89e7982-53ef-4507-a60b-51ef36043ad4","local_storage_capacity":5120,"memory_limit":256,"region":"fr-par","run_duration":null,"started_at":null,"state":"canceled","terminated_at":null,"updated_at":"2025-12-05T06:01:39.162295Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.947833ms
[...]
