---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-action-start","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":["echo","-e"],"args":["Hello World"],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"3b508982-3117-40fb-b9ba-6e46b6b6d0bf", "name":"test-jobs-action-start", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.467867Z", "updated_at":"2026-02-16T17:24:00.467867Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":["echo", "-e"], "args":["Hello World"], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.042776ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/3b508982-3117-40fb-b9ba-6e46b6b6d0bf
        method: GET
      response:
        body: '{"id":"3b508982-3117-40fb-b9ba-6e46b6b6d0bf", "name":"test-jobs-action-start", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.467867Z", "updated_at":"2026-02-16T17:24:00.467867Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":["echo", "-e"], "args":["Hello World"], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.171518ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 3b508982-3117-40fb-b9ba-6e46b6b6d0bf
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=3b508982-3117-40fb-b9ba-6e46b6b6d0bf
        method: GET
      response:
        body: '{"secrets":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.965969ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/3b508982-3117-40fb-b9ba-6e46b6b6d0bf/start
        method: POST
      response:
        body: '{"job_runs":[{"id":"bdd8d5e1-4466-4c8e-a18e-c360edbeec59", "job_definition_id":"3b508982-3117-40fb-b9ba-6e46b6b6d0bf", "created_at":"2026-02-16T17:24:00.679932Z", "updated_at":"2026-02-16T17:24:01.008186Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"validated", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"", "environment_variables":{}, "startup_command":["echo", "-e"], "args":["Hello World"], "region":"fr-par"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.135784ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 3b508982-3117-40fb-b9ba-6e46b6b6d0bf
            order_by:
                - created_at_asc
            state:
                - unknown_state
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs?job_definition_id=3b508982-3117-40fb-b9ba-6e46b6b6d0bf&order_by=created_at_asc&state=unknown_state
        method: GET
      response:
        body: '{"job_runs":[{"id":"bdd8d5e1-4466-4c8e-a18e-c360edbeec59", "job_definition_id":"3b508982-3117-40fb-b9ba-6e46b6b6d0bf", "created_at":"2026-02-16T17:24:00.679932Z", "updated_at":"2026-02-16T17:24:01.008186Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"validated", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"", "environment_variables":{}, "startup_command":["echo", "-e"], "args":["Hello World"], "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.797909ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/3b508982-3117-40fb-b9ba-6e46b6b6d0bf
        method: DELETE
      response:
        body: '{"message":"one or more job runs are still running"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 28.88742ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs/bdd8d5e1-4466-4c8e-a18e-c360edbeec59/stop
        method: POST
      response:
        body: '{"id":"bdd8d5e1-4466-4c8e-a18e-c360edbeec59", "job_definition_id":"3b508982-3117-40fb-b9ba-6e46b6b6d0bf", "created_at":"2026-02-16T17:24:00.679932Z", "updated_at":"2026-02-16T17:24:02.497175Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"interrupting", "reason":"cancellation", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"", "environment_variables":{}, "startup_command":["echo", "-e"], "args":["Hello World"], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.403662ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs/bdd8d5e1-4466-4c8e-a18e-c360edbeec59
        method: GET
      response:
        body: '{"id":"bdd8d5e1-4466-4c8e-a18e-c360edbeec59", "job_definition_id":"3b508982-3117-40fb-b9ba-6e46b6b6d0bf", "created_at":"2026-02-16T17:24:00.679932Z", "updated_at":"2026-02-16T17:24:02.497175Z", "started_at":null, "terminated_at":null, "run_duration":null, "state":"interrupting", "reason":"cancellation", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "command":"", "environment_variables":{}, "startup_command":["echo", "-e"], "args":["Hello World"], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.925455ms
[...]
