---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-action-start","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"echo ''Hello World''","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"args":[],"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2026-02-09T14:52:44.191363Z","cron_schedule":null,"description":"","environment_variables":{},"id":"d1623346-739b-46d6-806f-395f323929ab","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-action-start","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-09T14:52:44.191363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.125375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/d1623346-739b-46d6-806f-395f323929ab
        method: GET
      response:
        body: '{"args":[],"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2026-02-09T14:52:44.191363Z","cron_schedule":null,"description":"","environment_variables":{},"id":"d1623346-739b-46d6-806f-395f323929ab","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-action-start","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-09T14:52:44.191363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.210946ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=d1623346-739b-46d6-806f-395f323929ab
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.379673ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/d1623346-739b-46d6-806f-395f323929ab/start
        method: POST
      response:
        body: '{"job_runs":[{"args":[],"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2026-02-09T14:52:44.409527Z","environment_variables":{},"id":"32b05057-b2b5-4610-b2ca-3321f0fb67be","job_definition_id":"d1623346-739b-46d6-806f-395f323929ab","local_storage_capacity":5120,"memory_limit":256,"region":"fr-par","run_duration":null,"started_at":null,"startup_command":[],"state":"validated","terminated_at":null,"updated_at":"2026-02-09T14:52:44.724513Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 444.786407ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs?job_definition_id=d1623346-739b-46d6-806f-395f323929ab&order_by=created_at_asc&state=unknown_state
        method: GET
      response:
        body: '{"job_runs":[{"args":[],"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2026-02-09T14:52:44.409527Z","environment_variables":{},"id":"32b05057-b2b5-4610-b2ca-3321f0fb67be","job_definition_id":"d1623346-739b-46d6-806f-395f323929ab","local_storage_capacity":5120,"memory_limit":256,"region":"fr-par","run_duration":null,"started_at":null,"startup_command":[],"state":"validated","terminated_at":null,"updated_at":"2026-02-09T14:52:44.724513Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.363062ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/d1623346-739b-46d6-806f-395f323929ab
        method: DELETE
      response:
        body: '{"message":"one or more job runs are still running"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 49.422365ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs/32b05057-b2b5-4610-b2ca-3321f0fb67be/stop
        method: POST
      response:
        body: '{"args":[],"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2026-02-09T14:52:44.409527Z","environment_variables":{},"id":"32b05057-b2b5-4610-b2ca-3321f0fb67be","job_definition_id":"d1623346-739b-46d6-806f-395f323929ab","local_storage_capacity":5120,"memory_limit":256,"reason":"cancellation","region":"fr-par","run_duration":null,"started_at":null,"startup_command":[],"state":"interrupting","terminated_at":null,"updated_at":"2026-02-09T14:52:45.773241Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.842703ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-runs/32b05057-b2b5-4610-b2ca-3321f0fb67be
        method: GET
      response:
        body: '{"args":[],"command":"echo ''Hello World''","cpu_limit":120,"created_at":"2026-02-09T14:52:44.409527Z","environment_variables":{},"id":"32b05057-b2b5-4610-b2ca-3321f0fb67be","job_definition_id":"d1623346-739b-46d6-806f-395f323929ab","local_storage_capacity":5120,"memory_limit":256,"reason":"cancellation","region":"fr-par","run_duration":null,"started_at":null,"startup_command":[],"state":"interrupting","terminated_at":null,"updated_at":"2026-02-09T14:52:45.773241Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.496022ms
[...]
