---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"job-secret","tags":null,"type":"opaque","path":"/one","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-04-08T07:09:15.195178Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-08T07:09:15.195178Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.723916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10e9cc6c-1886-45c3-b012-1c449ac4be1d
        method: GET
      response:
        body: '{"created_at":"2025-04-08T07:09:15.195178Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-08T07:09:15.195178Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.069083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10e9cc6c-1886-45c3-b012-1c449ac4be1d/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.759125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-08T07:09:15.370569Z","cron_schedule":null,"description":"","environment_variables":{},"id":"97f5685a-7348-4563-944e-2bfa0f7b62e7","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-08T07:09:15.370569Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.597667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10e9cc6c-1886-45c3-b012-1c449ac4be1d/versions
        method: POST
      response:
        body: '{"created_at":"2025-04-08T07:09:15.601353Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","status":"enabled","updated_at":"2025-04-08T07:09:15.601353Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.627917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10e9cc6c-1886-45c3-b012-1c449ac4be1d/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-04-08T07:09:15.601353Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","status":"enabled","updated_at":"2025-04-08T07:09:15.601353Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.050625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest","env_var_name":"SOME_ENV"},{"secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest","path":"/home/dev/env"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/97f5685a-7348-4563-944e-2bfa0f7b62e7/secrets
        method: POST
      response:
        body: '{"secrets":[{"env_var":{"name":"SOME_ENV"},"secret_id":"3bcd163e-c103-485e-b711-16e6c6dee678","secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest"},{"file":{"path":"/home/dev/env"},"secret_id":"45e4e5cc-299a-44c7-a15f-effff6e35523","secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 689.191667ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/97f5685a-7348-4563-944e-2bfa0f7b62e7
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-08T07:09:15.370569Z","cron_schedule":null,"description":"","environment_variables":{},"id":"97f5685a-7348-4563-944e-2bfa0f7b62e7","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-08T07:09:15.370569Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.941958ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/97f5685a-7348-4563-944e-2bfa0f7b62e7/secrets
        method: GET
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/env"},"secret_id":"45e4e5cc-299a-44c7-a15f-effff6e35523","secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"secret_id":"3bcd163e-c103-485e-b711-16e6c6dee678","secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.667416ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/97f5685a-7348-4563-944e-2bfa0f7b62e7/secrets/3bcd163e-c103-485e-b711-16e6c6dee678
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 50.662625ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest","path":"/home/dev/new_env"},{"secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest","env_var_name":"SOME_ENV"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/97f5685a-7348-4563-944e-2bfa0f7b62e7/secrets
        method: POST
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/new_env"},"secret_id":"5a73e756-5cf1-4f3a-aaf5-8f13d162ce97","secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"secret_id":"6236d0f7-79b2-42be-adaa-248bb34fe4e5","secret_manager_id":"10e9cc6c-1886-45c3-b012-1c449ac4be1d","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.817042ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/97f5685a-7348-4563-944e-2bfa0f7b62e7
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.397208ms
