---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"job-secret","tags":null,"type":"opaque","path":"/one","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-04-08T07:32:38.996309Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-08T07:32:38.996309Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.5395ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6
        method: GET
      response:
        body: '{"created_at":"2025-04-08T07:32:38.996309Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-08T07:32:38.996309Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.345875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.907ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-08T07:32:39.155009Z","cron_schedule":null,"description":"","environment_variables":{},"id":"af099a5d-a4ac-47d5-a961-d8abf7e899c8","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-08T07:32:39.155009Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.406916ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6/versions
        method: POST
      response:
        body: '{"created_at":"2025-04-08T07:32:39.377431Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","status":"enabled","updated_at":"2025-04-08T07:32:39.377431Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.872958ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-04-08T07:32:39.377431Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","status":"enabled","updated_at":"2025-04-08T07:32:39.377431Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.108ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest","env_var_name":"SOME_ENV"},{"secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest","path":"/home/dev/env"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/af099a5d-a4ac-47d5-a961-d8abf7e899c8/secrets
        method: POST
      response:
        body: '{"secrets":[{"env_var":{"name":"SOME_ENV"},"secret_id":"a1bc65be-bd93-470e-96de-29209411dab8","secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest"},{"file":{"path":"/home/dev/env"},"secret_id":"b66e894f-4f90-490b-8405-a547709b0061","secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 653.735125ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/af099a5d-a4ac-47d5-a961-d8abf7e899c8
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-08T07:32:39.155009Z","cron_schedule":null,"description":"","environment_variables":{},"id":"af099a5d-a4ac-47d5-a961-d8abf7e899c8","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-08T07:32:39.155009Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.157708ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/af099a5d-a4ac-47d5-a961-d8abf7e899c8/secrets
        method: GET
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/env"},"secret_id":"b66e894f-4f90-490b-8405-a547709b0061","secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"secret_id":"a1bc65be-bd93-470e-96de-29209411dab8","secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.643667ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/af099a5d-a4ac-47d5-a961-d8abf7e899c8/secrets/a1bc65be-bd93-470e-96de-29209411dab8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 47.841958ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest","path":"/home/dev/new_env"},{"secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest","env_var_name":"SOME_ENV"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/af099a5d-a4ac-47d5-a961-d8abf7e899c8/secrets
        method: POST
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/new_env"},"secret_id":"27995bec-ab5a-4bc5-bcbe-d6d55803e936","secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"secret_id":"81be918a-c6b0-4928-8e20-55e614758185","secret_manager_id":"bd33f1b1-64e1-41c1-9ca7-ba87ac5e5df6","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.179125ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/af099a5d-a4ac-47d5-a961-d8abf7e899c8
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.864125ms
