---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-local-storage","cpu_limit":120,"memory_limit":256,"local_storage_capacity":1000,"image_uri":"docker.io/alpine:latest","command":"","project_id":"c1f69d33-c8a3-45fb-90be-05dbfa5ee465","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-12-10T15:21:05.207909Z","cron_schedule":null,"description":"","environment_variables":{},"id":"a28e7846-3b32-4556-ab08-c8adf7e6285d","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":1000,"memory_limit":256,"name":"test-jobs-job-definition-local-storage","project_id":"c1f69d33-c8a3-45fb-90be-05dbfa5ee465","region":"fr-par","updated_at":"2025-12-10T15:21:05.207909Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.986292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/a28e7846-3b32-4556-ab08-c8adf7e6285d
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-12-10T15:21:05.207909Z","cron_schedule":null,"description":"","environment_variables":{},"id":"a28e7846-3b32-4556-ab08-c8adf7e6285d","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":1000,"memory_limit":256,"name":"test-jobs-job-definition-local-storage","project_id":"c1f69d33-c8a3-45fb-90be-05dbfa5ee465","region":"fr-par","updated_at":"2025-12-10T15:21:05.207909Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.668625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/a28e7846-3b32-4556-ab08-c8adf7e6285d/secrets
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.062625ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/a28e7846-3b32-4556-ab08-c8adf7e6285d
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.362542ms
