---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"wrong-job-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-04-11T14:20:49.801420Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"749fe8a9-5e1f-41f6-900c-0c8ebda80672","managed":false,"name":"wrong-job-secret","path":"/","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-11T14:20:49.801420Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.381792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/749fe8a9-5e1f-41f6-900c-0c8ebda80672
        method: GET
      response:
        body: '{"created_at":"2025-04-11T14:20:49.801420Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"749fe8a9-5e1f-41f6-900c-0c8ebda80672","managed":false,"name":"wrong-job-secret","path":"/","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-11T14:20:49.801420Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.20125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/749fe8a9-5e1f-41f6-900c-0c8ebda80672/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.900542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-11T14:20:49.999456Z","cron_schedule":null,"description":"","environment_variables":{},"id":"ff6bbb74-317a-4716-9a97-60264a14d665","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-11T14:20:49.999456Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.408292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/749fe8a9-5e1f-41f6-900c-0c8ebda80672/versions
        method: POST
      response:
        body: '{"created_at":"2025-04-11T14:20:50.221564Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"749fe8a9-5e1f-41f6-900c-0c8ebda80672","status":"enabled","updated_at":"2025-04-11T14:20:50.221564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.030791ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/749fe8a9-5e1f-41f6-900c-0c8ebda80672/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-04-11T14:20:50.221564Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"749fe8a9-5e1f-41f6-900c-0c8ebda80672","status":"enabled","updated_at":"2025-04-11T14:20:50.221564Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.664334ms
[...]
