---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-jobs-job-definition-cron\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"cron_schedule\":{\"schedule\":\"5 4 1 * *\",\"timezone\":\"Europe/Paris\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: "{\"id\":\"d0b3d050-cdc2-48e3-b0bb-55e8cb46c6bf\",\"name\":\"test-jobs-job-definition-cron\",\"created_at\":\"2025-08-26T16:27:39.747245Z\",\"updated_at\":\"2025-08-26T16:27:39.747245Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"86400s\",\"cron_schedule\":{\"schedule\":\"5 4 1 * *\",\"timezone\":\"Europe/Paris\"},\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.548451397s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/d0b3d050-cdc2-48e3-b0bb-55e8cb46c6bf
    method: GET
  response:
    body: "{\"id\":\"d0b3d050-cdc2-48e3-b0bb-55e8cb46c6bf\",\"name\":\"test-jobs-job-definition-cron\",\"created_at\":\"2025-08-26T16:27:39.747245Z\",\"updated_at\":\"2025-08-26T16:27:39.747245Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"86400s\",\"cron_schedule\":{\"schedule\":\"5 4 1 * *\",\"timezone\":\"Europe/Paris\"},\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.248861ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/d0b3d050-cdc2-48e3-b0bb-55e8cb46c6bf/secrets
    method: GET
  response:
    body: "{\"secrets\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 271.31859ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/d0b3d050-cdc2-48e3-b0bb-55e8cb46c6bf
    method: DELETE
  response:
    body: "{\"message\":\"job definition is not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 40.020965ms
