---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"job-secret","tags":null,"type":"opaque","path":"/one","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"0331001e-111d-46ea-8277-d107b83b0800", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"job-secret", "status":"ready", "created_at":"2026-02-16T17:24:00.477215Z", "updated_at":"2026-02-16T17:24:00.477215Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/one", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.619544ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0331001e-111d-46ea-8277-d107b83b0800
        method: GET
      response:
        body: '{"id":"0331001e-111d-46ea-8277-d107b83b0800", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"job-secret", "status":"ready", "created_at":"2026-02-16T17:24:00.477215Z", "updated_at":"2026-02-16T17:24:00.477215Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/one", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.390419ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0331001e-111d-46ea-8277-d107b83b0800/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.762618ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"f41b902f-9be5-4239-9b92-e06b1489984c", "name":"test-jobs-job-definition-secret", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.661133Z", "updated_at":"2026-02-16T17:24:00.661133Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.239428ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0331001e-111d-46ea-8277-d107b83b0800/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"0331001e-111d-46ea-8277-d107b83b0800", "status":"enabled", "created_at":"2026-02-16T17:24:01.045379Z", "updated_at":"2026-02-16T17:24:01.045379Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 478.457086ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0331001e-111d-46ea-8277-d107b83b0800/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"0331001e-111d-46ea-8277-d107b83b0800", "status":"enabled", "created_at":"2026-02-16T17:24:01.045379Z", "updated_at":"2026-02-16T17:24:01.045379Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.235941ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c","secrets":[{"secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800","secret_manager_version":"latest","env_var_name":"SOME_ENV"},{"secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800","secret_manager_version":"latest","path":"/home/dev/env"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets
        method: POST
      response:
        body: '{"secrets":[{"secret_id":"9bd5bfa0-918b-4791-ab84-85b945bf287c", "secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800", "secret_manager_version":"latest", "job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c", "env_var":{"name":"SOME_ENV"}}, {"secret_id":"3512bb67-c99c-4e37-b648-e74c2de9dd57", "secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800", "secret_manager_version":"latest", "job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c", "file":{"path":"/home/dev/env"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 789.145428ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/f41b902f-9be5-4239-9b92-e06b1489984c
        method: GET
      response:
        body: '{"id":"f41b902f-9be5-4239-9b92-e06b1489984c", "name":"test-jobs-job-definition-secret", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.661133Z", "updated_at":"2026-02-16T17:24:00.661133Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.273774ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - f41b902f-9be5-4239-9b92-e06b1489984c
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=f41b902f-9be5-4239-9b92-e06b1489984c
        method: GET
      response:
        body: '{"secrets":[{"secret_id":"3512bb67-c99c-4e37-b648-e74c2de9dd57", "secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800", "secret_manager_version":"latest", "job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c", "file":{"path":"/home/dev/env"}}, {"secret_id":"9bd5bfa0-918b-4791-ab84-85b945bf287c", "secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800", "secret_manager_version":"latest", "job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c", "env_var":{"name":"SOME_ENV"}}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.54422ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets/9bd5bfa0-918b-4791-ab84-85b945bf287c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 57.238119ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c","secrets":[{"secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800","secret_manager_version":"latest","path":"/home/dev/secret_file"},{"secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800","secret_manager_version":"1","env_var_name":"ANOTHER_ENV"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets
        method: POST
      response:
        body: '{"secrets":[{"secret_id":"0674d35c-41be-487c-b44b-5970553906b6", "secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800", "secret_manager_version":"latest", "job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c", "file":{"path":"/home/dev/secret_file"}}, {"secret_id":"79c73820-585c-426d-b225-fa5ffedbc978", "secret_manager_id":"0331001e-111d-46ea-8277-d107b83b0800", "secret_manager_version":"1", "job_definition_id":"f41b902f-9be5-4239-9b92-e06b1489984c", "env_var":{"name":"ANOTHER_ENV"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.521959ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/f41b902f-9be5-4239-9b92-e06b1489984c
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.791807ms
