---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-local-storage","cpu_limit":120,"memory_limit":256,"local_storage_capacity":1000,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T10:39:57.997809Z","cron_schedule":null,"description":"","environment_variables":{},"id":"fd324f00-997a-498b-9f90-a9c5a0626ce5","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":1000,"memory_limit":256,"name":"test-jobs-job-definition-local-storage","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T10:39:57.997809Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 291.818687ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/fd324f00-997a-498b-9f90-a9c5a0626ce5
        method: GET
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T10:39:57.997809Z","cron_schedule":null,"description":"","environment_variables":{},"id":"fd324f00-997a-498b-9f90-a9c5a0626ce5","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":1000,"memory_limit":256,"name":"test-jobs-job-definition-local-storage","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T10:39:57.997809Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.344419ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=fd324f00-997a-498b-9f90-a9c5a0626ce5
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.985106ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/fd324f00-997a-498b-9f90-a9c5a0626ce5
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 17.687973ms
