---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-timeout","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":"","job_timeout":"1200.000000000s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-08T07:32:38.979971Z","cron_schedule":null,"description":"","environment_variables":{},"id":"def18dfb-a7ba-4122-8f4d-126042aeb179","image_uri":"docker.io/alpine:latest","job_timeout":"1200s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-timeout","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-08T07:32:38.979971Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 427.328208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/def18dfb-a7ba-4122-8f4d-126042aeb179
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-08T07:32:38.979971Z","cron_schedule":null,"description":"","environment_variables":{},"id":"def18dfb-a7ba-4122-8f4d-126042aeb179","image_uri":"docker.io/alpine:latest","job_timeout":"1200s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-timeout","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-08T07:32:38.979971Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.947542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/def18dfb-a7ba-4122-8f4d-126042aeb179/secrets
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.914833ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/def18dfb-a7ba-4122-8f4d-126042aeb179
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.407541ms
