---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"job-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-04-08T07:32:39.025918Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"3fed4a58-f50d-4188-865f-641f98126aa7","managed":false,"name":"job-secret","path":"/","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-08T07:32:39.025918Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.734625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3fed4a58-f50d-4188-865f-641f98126aa7
        method: GET
      response:
        body: '{"created_at":"2025-04-08T07:32:39.025918Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"3fed4a58-f50d-4188-865f-641f98126aa7","managed":false,"name":"job-secret","path":"/","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-08T07:32:39.025918Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.679708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3fed4a58-f50d-4188-865f-641f98126aa7/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.729583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-08T07:32:39.200398Z","cron_schedule":null,"description":"","environment_variables":{},"id":"b8462946-1633-4bca-bf9b-09cac5dd7493","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-08T07:32:39.200398Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.967042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3fed4a58-f50d-4188-865f-641f98126aa7/versions
        method: POST
      response:
        body: '{"created_at":"2025-04-08T07:32:39.426321Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"3fed4a58-f50d-4188-865f-641f98126aa7","status":"enabled","updated_at":"2025-04-08T07:32:39.426321Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.037333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3fed4a58-f50d-4188-865f-641f98126aa7/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-04-08T07:32:39.426321Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"3fed4a58-f50d-4188-865f-641f98126aa7","status":"enabled","updated_at":"2025-04-08T07:32:39.426321Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.4085ms
[...]
