---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-cron","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","environment_variables":{},"description":"","cron_schedule":{"schedule":"5 4 1 * *","timezone":"Europe/Paris"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-01-27T09:12:37.314965Z","cron_schedule":{"schedule":"5 4 1 * *","timezone":"Europe/Paris"},"description":"","environment_variables":{},"id":"6616cc3a-298f-48fe-a4a8-23022b220601","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-cron","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-27T09:12:37.314965Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 458.696792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/6616cc3a-298f-48fe-a4a8-23022b220601
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-01-27T09:12:37.314965Z","cron_schedule":{"schedule":"5 4 1 * *","timezone":"Europe/Paris"},"description":"","environment_variables":{},"id":"6616cc3a-298f-48fe-a4a8-23022b220601","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-cron","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-27T09:12:37.314965Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.9405ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/6616cc3a-298f-48fe-a4a8-23022b220601
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.370833ms
