---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-timeout","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":"","job_timeout":"1200.000000000s"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"21c6f016-a386-4e61-bc7d-d839428b0eaa", "name":"test-jobs-job-definition-timeout", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.470377Z", "updated_at":"2026-02-16T17:24:00.470377Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"1200s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.150542ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/21c6f016-a386-4e61-bc7d-d839428b0eaa
        method: GET
      response:
        body: '{"id":"21c6f016-a386-4e61-bc7d-d839428b0eaa", "name":"test-jobs-job-definition-timeout", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.470377Z", "updated_at":"2026-02-16T17:24:00.470377Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"1200s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.101426ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 21c6f016-a386-4e61-bc7d-d839428b0eaa
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=21c6f016-a386-4e61-bc7d-d839428b0eaa
        method: GET
      response:
        body: '{"secrets":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.645056ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/21c6f016-a386-4e61-bc7d-d839428b0eaa
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.064208ms
