---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-local-storage","cpu_limit":120,"memory_limit":256,"local_storage_capacity":1000,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"dc1a7345-2f18-4279-a2be-869d9badb06f", "name":"test-jobs-job-definition-local-storage", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.468836Z", "updated_at":"2026-02-16T17:24:00.468836Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":1000, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.022418ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/dc1a7345-2f18-4279-a2be-869d9badb06f
        method: GET
      response:
        body: '{"id":"dc1a7345-2f18-4279-a2be-869d9badb06f", "name":"test-jobs-job-definition-local-storage", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.468836Z", "updated_at":"2026-02-16T17:24:00.468836Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":1000, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.01276ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - dc1a7345-2f18-4279-a2be-869d9badb06f
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=dc1a7345-2f18-4279-a2be-869d9badb06f
        method: GET
      response:
        body: '{"secrets":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.518041ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/dc1a7345-2f18-4279-a2be-869d9badb06f
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.131501ms
