---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"wrong-job-secret\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"6dcbde48-349b-4d42-bfaf-7368c6a4e0c4\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"wrong-job-secret\",\"status\":\"ready\",\"created_at\":\"2025-08-26T16:27:39.785983Z\",\"updated_at\":\"2025-08-26T16:27:39.785983Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 619.982041ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6dcbde48-349b-4d42-bfaf-7368c6a4e0c4
    method: GET
  response:
    body: "{\"id\":\"6dcbde48-349b-4d42-bfaf-7368c6a4e0c4\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"wrong-job-secret\",\"status\":\"ready\",\"created_at\":\"2025-08-26T16:27:39.785983Z\",\"updated_at\":\"2025-08-26T16:27:39.785983Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.825634ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6dcbde48-349b-4d42-bfaf-7368c6a4e0c4/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 231.125212ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-jobs-job-definition-secret\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: "{\"id\":\"7c61e9c1-b6e0-4793-9fd5-b1e4343889fb\",\"name\":\"test-jobs-job-definition-secret\",\"created_at\":\"2025-08-26T16:27:41.034563Z\",\"updated_at\":\"2025-08-26T16:27:41.034563Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"86400s\",\"cron_schedule\":null,\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.799904ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"data\":\"eW91cl9zZWNyZXQ=\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6dcbde48-349b-4d42-bfaf-7368c6a4e0c4/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"6dcbde48-349b-4d42-bfaf-7368c6a4e0c4\",\"status\":\"enabled\",\"created_at\":\"2025-08-26T16:27:41.214067Z\",\"updated_at\":\"2025-08-26T16:27:41.214067Z\",\"deleted_at\":null,\"description\":\"\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 423.830215ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6dcbde48-349b-4d42-bfaf-7368c6a4e0c4/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"6dcbde48-349b-4d42-bfaf-7368c6a4e0c4\",\"status\":\"enabled\",\"created_at\":\"2025-08-26T16:27:41.214067Z\",\"updated_at\":\"2025-08-26T16:27:41.214067Z\",\"deleted_at\":null,\"description\":\"\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 36.200651ms
[...]
