---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"job-secret","tags":null,"type":"opaque","path":"/one","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-04-11T14:20:49.841976Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"114ab44f-472d-4f07-81a9-c360f922889e","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-11T14:20:49.841976Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.528625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/114ab44f-472d-4f07-81a9-c360f922889e
        method: GET
      response:
        body: '{"created_at":"2025-04-11T14:20:49.841976Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"114ab44f-472d-4f07-81a9-c360f922889e","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-11T14:20:49.841976Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.555792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/114ab44f-472d-4f07-81a9-c360f922889e/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.488959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-11T14:20:50.022406Z","cron_schedule":null,"description":"","environment_variables":{},"id":"50ba7b14-d352-45d6-9c12-d4b2e65fc417","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-11T14:20:50.022406Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.34525ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/114ab44f-472d-4f07-81a9-c360f922889e/versions
        method: POST
      response:
        body: '{"created_at":"2025-04-11T14:20:50.318793Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"114ab44f-472d-4f07-81a9-c360f922889e","status":"enabled","updated_at":"2025-04-11T14:20:50.318793Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.530417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/114ab44f-472d-4f07-81a9-c360f922889e/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-04-11T14:20:50.318793Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"114ab44f-472d-4f07-81a9-c360f922889e","status":"enabled","updated_at":"2025-04-11T14:20:50.318793Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.409ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest","env_var_name":"SOME_ENV"},{"secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest","path":"/home/dev/env"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/50ba7b14-d352-45d6-9c12-d4b2e65fc417/secrets
        method: POST
      response:
        body: '{"secrets":[{"env_var":{"name":"SOME_ENV"},"secret_id":"adbd6464-bb2d-4b4f-8145-ae9eeac73bd6","secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest"},{"file":{"path":"/home/dev/env"},"secret_id":"ba5c3295-8475-4d73-8063-2c46a2abbcb0","secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 858.392792ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/50ba7b14-d352-45d6-9c12-d4b2e65fc417
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-11T14:20:50.022406Z","cron_schedule":null,"description":"","environment_variables":{},"id":"50ba7b14-d352-45d6-9c12-d4b2e65fc417","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-11T14:20:50.022406Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.209208ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/50ba7b14-d352-45d6-9c12-d4b2e65fc417/secrets
        method: GET
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/env"},"secret_id":"ba5c3295-8475-4d73-8063-2c46a2abbcb0","secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"secret_id":"adbd6464-bb2d-4b4f-8145-ae9eeac73bd6","secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.719375ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/50ba7b14-d352-45d6-9c12-d4b2e65fc417/secrets/adbd6464-bb2d-4b4f-8145-ae9eeac73bd6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 48.411166ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest","path":"/home/dev/secret_file"},{"secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"1","env_var_name":"ANOTHER_ENV"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/50ba7b14-d352-45d6-9c12-d4b2e65fc417/secrets
        method: POST
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/secret_file"},"secret_id":"85d1d9f1-e08a-4543-8aca-96c7f4e91a03","secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"latest"},{"env_var":{"name":"ANOTHER_ENV"},"secret_id":"7e52de80-8b7d-4152-a9ef-5d37fb55d147","secret_manager_id":"114ab44f-472d-4f07-81a9-c360f922889e","secret_manager_version":"1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.136ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/50ba7b14-d352-45d6-9c12-d4b2e65fc417
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.091167ms
