---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-basic","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T20:18:43.695165Z","cron_schedule":null,"description":"","environment_variables":{},"id":"01fa2009-322b-4a53-b578-e7fd57c117b4","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T20:18:43.695165Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.543195ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/01fa2009-322b-4a53-b578-e7fd57c117b4
        method: GET
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T20:18:43.695165Z","cron_schedule":null,"description":"","environment_variables":{},"id":"01fa2009-322b-4a53-b578-e7fd57c117b4","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T20:18:43.695165Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.564479ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=01fa2009-322b-4a53-b578-e7fd57c117b4
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.564952ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-basic-renamed","cpu_limit":240,"memory_limit":128,"local_storage_capacity":1024,"image_uri":"docker.io/nginx:latest"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/01fa2009-322b-4a53-b578-e7fd57c117b4
        method: PATCH
      response:
        body: '{"args":[],"command":"","cpu_limit":240,"created_at":"2026-02-03T20:18:43.695165Z","cron_schedule":null,"description":"","environment_variables":{},"id":"01fa2009-322b-4a53-b578-e7fd57c117b4","image_uri":"docker.io/nginx:latest","job_timeout":"86400s","local_storage_capacity":1024,"memory_limit":128,"name":"test-jobs-job-definition-basic-renamed","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T20:18:44.653405Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.570563ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/01fa2009-322b-4a53-b578-e7fd57c117b4
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.729574ms
