---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-basic","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"053f21c0-d2ca-46e7-9d07-f22d19a6bf55", "name":"test-jobs-job-definition-basic", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.470628Z", "updated_at":"2026-02-16T17:24:00.470628Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.25163ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/053f21c0-d2ca-46e7-9d07-f22d19a6bf55
        method: GET
      response:
        body: '{"id":"053f21c0-d2ca-46e7-9d07-f22d19a6bf55", "name":"test-jobs-job-definition-basic", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.470628Z", "updated_at":"2026-02-16T17:24:00.470628Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.527427ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 053f21c0-d2ca-46e7-9d07-f22d19a6bf55
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=053f21c0-d2ca-46e7-9d07-f22d19a6bf55
        method: GET
      response:
        body: '{"secrets":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.814375ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-basic-renamed","cpu_limit":240,"memory_limit":128,"local_storage_capacity":1024,"image_uri":"docker.io/nginx:latest"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/053f21c0-d2ca-46e7-9d07-f22d19a6bf55
        method: PATCH
      response:
        body: '{"id":"053f21c0-d2ca-46e7-9d07-f22d19a6bf55", "name":"test-jobs-job-definition-basic-renamed", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.470628Z", "updated_at":"2026-02-16T17:24:01.796646Z", "cpu_limit":240, "memory_limit":128, "local_storage_capacity":1024, "image_uri":"docker.io/nginx:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.679362ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/053f21c0-d2ca-46e7-9d07-f22d19a6bf55
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.761583ms
