---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"job-secret","tags":null,"type":"opaque","path":"/one","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-02-03T10:57:07.418120Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"7122f130-69b2-43e7-9980-5e421f7c7727","key_id":null,"managed":false,"name":"job-secret","path":"/one","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-02-03T10:57:07.418120Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.177983832s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7122f130-69b2-43e7-9980-5e421f7c7727
        method: GET
      response:
        body: '{"created_at":"2026-02-03T10:57:07.418120Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"7122f130-69b2-43e7-9980-5e421f7c7727","key_id":null,"managed":false,"name":"job-secret","path":"/one","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-02-03T10:57:07.418120Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.255739ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7122f130-69b2-43e7-9980-5e421f7c7727/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.652471ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T10:57:07.653199Z","cron_schedule":null,"description":"","environment_variables":{},"id":"980824ad-ceb5-46a7-a7aa-2b440f297588","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T10:57:07.653199Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.611045ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7122f130-69b2-43e7-9980-5e421f7c7727/versions
        method: POST
      response:
        body: '{"created_at":"2026-02-03T10:57:07.900625Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"7122f130-69b2-43e7-9980-5e421f7c7727","status":"enabled","updated_at":"2026-02-03T10:57:07.900625Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.51373ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7122f130-69b2-43e7-9980-5e421f7c7727/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-02-03T10:57:07.900625Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"7122f130-69b2-43e7-9980-5e421f7c7727","status":"enabled","updated_at":"2026-02-03T10:57:07.900625Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.830255ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secrets":[{"secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest","path":"/home/dev/env"},{"secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest","env_var_name":"SOME_ENV"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets
        method: POST
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/env"},"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secret_id":"81c30767-8e2a-4cf8-9f6c-a4bd848d464d","secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secret_id":"ed3f083e-8145-42f8-91a6-5846a9c6be6f","secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 993.167947ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/980824ad-ceb5-46a7-a7aa-2b440f297588
        method: GET
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T10:57:07.653199Z","cron_schedule":null,"description":"","environment_variables":{},"id":"980824ad-ceb5-46a7-a7aa-2b440f297588","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T10:57:07.653199Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.756635ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=980824ad-ceb5-46a7-a7aa-2b440f297588
        method: GET
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/env"},"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secret_id":"81c30767-8e2a-4cf8-9f6c-a4bd848d464d","secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secret_id":"ed3f083e-8145-42f8-91a6-5846a9c6be6f","secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.022784ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets/81c30767-8e2a-4cf8-9f6c-a4bd848d464d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 51.27824ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secrets":[{"secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest","path":"/home/dev/secret_file"},{"secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"1","env_var_name":"ANOTHER_ENV"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets
        method: POST
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/secret_file"},"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secret_id":"752ae75b-c805-4901-8b4f-dbb38113eb40","secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"latest"},{"env_var":{"name":"ANOTHER_ENV"},"job_definition_id":"980824ad-ceb5-46a7-a7aa-2b440f297588","secret_id":"02f05ee1-cd80-4477-a355-5b50de3f16d0","secret_manager_id":"7122f130-69b2-43e7-9980-5e421f7c7727","secret_manager_version":"1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.547353ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/980824ad-ceb5-46a7-a7aa-2b440f297588
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.869743ms
