---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"wrong-job-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"6ec7eacf-38d6-4ea9-a203-2e9365ddf511", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"wrong-job-secret", "status":"ready", "created_at":"2026-02-16T17:24:00.458208Z", "updated_at":"2026-02-16T17:24:00.458208Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.88283ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6ec7eacf-38d6-4ea9-a203-2e9365ddf511
        method: GET
      response:
        body: '{"id":"6ec7eacf-38d6-4ea9-a203-2e9365ddf511", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"wrong-job-secret", "status":"ready", "created_at":"2026-02-16T17:24:00.458208Z", "updated_at":"2026-02-16T17:24:00.458208Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.750189ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6ec7eacf-38d6-4ea9-a203-2e9365ddf511/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.417745ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"2a4c8249-aa6d-482a-992a-7938927a8fe7", "name":"test-jobs-job-definition-secret", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.658755Z", "updated_at":"2026-02-16T17:24:00.658755Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":null, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.305909ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6ec7eacf-38d6-4ea9-a203-2e9365ddf511/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"6ec7eacf-38d6-4ea9-a203-2e9365ddf511", "status":"enabled", "created_at":"2026-02-16T17:24:00.931127Z", "updated_at":"2026-02-16T17:24:00.931127Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.766499ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6ec7eacf-38d6-4ea9-a203-2e9365ddf511/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"6ec7eacf-38d6-4ea9-a203-2e9365ddf511", "status":"enabled", "created_at":"2026-02-16T17:24:00.931127Z", "updated_at":"2026-02-16T17:24:00.931127Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.835034ms
[...]
