---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-retry-policy","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":"","retry_policy":{"max_retries":5}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"77df1889-c5b1-4e48-9a93-d03b2e5d3ccc","name":"test-jobs-job-definition-retry-policy","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-02T14:16:59.636565Z","updated_at":"2026-07-02T14:16:59.636565Z","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","environment_variables":{},"job_timeout":"86400s","description":"","cron_schedule":null,"startup_command":[],"args":[],"retry_policy":{"max_retries":5},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.201529ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/77df1889-c5b1-4e48-9a93-d03b2e5d3ccc
        method: GET
      response:
        body: '{"id":"77df1889-c5b1-4e48-9a93-d03b2e5d3ccc","name":"test-jobs-job-definition-retry-policy","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-02T14:16:59.636565Z","updated_at":"2026-07-02T14:16:59.636565Z","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","environment_variables":{},"job_timeout":"86400s","description":"","cron_schedule":null,"startup_command":[],"args":[],"retry_policy":{"max_retries":5},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.505589ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 77df1889-c5b1-4e48-9a93-d03b2e5d3ccc
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=77df1889-c5b1-4e48-9a93-d03b2e5d3ccc
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.194332ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/77df1889-c5b1-4e48-9a93-d03b2e5d3ccc
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.535915ms
