---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-jobs-job-definition-timeout\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"1200.000000000s\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: "{\"id\":\"e80924f6-c408-4b08-ad49-2ef11d3a52ad\",\"name\":\"test-jobs-job-definition-timeout\",\"created_at\":\"2025-08-26T16:27:39.769824Z\",\"updated_at\":\"2025-08-26T16:27:39.769824Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"1200s\",\"cron_schedule\":null,\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 350.465262ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/e80924f6-c408-4b08-ad49-2ef11d3a52ad
    method: GET
  response:
    body: "{\"id\":\"e80924f6-c408-4b08-ad49-2ef11d3a52ad\",\"name\":\"test-jobs-job-definition-timeout\",\"created_at\":\"2025-08-26T16:27:39.769824Z\",\"updated_at\":\"2025-08-26T16:27:39.769824Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"1200s\",\"cron_schedule\":null,\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.922856ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/e80924f6-c408-4b08-ad49-2ef11d3a52ad/secrets
    method: GET
  response:
    body: "{\"secrets\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.86801ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/e80924f6-c408-4b08-ad49-2ef11d3a52ad
    method: DELETE
  response:
    body: "{\"message\":\"job definition is not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 42.309225ms
