---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-jobs-job-definition-basic\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: "{\"id\":\"34f2e934-b80c-413d-ac8a-e3bec4737a35\",\"name\":\"test-jobs-job-definition-basic\",\"created_at\":\"2025-08-26T16:27:39.751988Z\",\"updated_at\":\"2025-08-26T16:27:39.751988Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"86400s\",\"cron_schedule\":null,\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 787.03903ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/34f2e934-b80c-413d-ac8a-e3bec4737a35
    method: GET
  response:
    body: "{\"id\":\"34f2e934-b80c-413d-ac8a-e3bec4737a35\",\"name\":\"test-jobs-job-definition-basic\",\"created_at\":\"2025-08-26T16:27:39.751988Z\",\"updated_at\":\"2025-08-26T16:27:39.751988Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"86400s\",\"cron_schedule\":null,\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 187.387423ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/34f2e934-b80c-413d-ac8a-e3bec4737a35/secrets
    method: GET
  response:
    body: "{\"secrets\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.497634ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/34f2e934-b80c-413d-ac8a-e3bec4737a35
    method: DELETE
  response:
    body: "{\"message\":\"job definition is not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 55.206698ms
