---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-basic","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-01-27T09:12:37.312630Z","cron_schedule":null,"description":"","environment_variables":{},"id":"ad08cb85-1e3b-4b93-9277-01042cdf70a5","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-27T09:12:37.312630Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 531.570041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/ad08cb85-1e3b-4b93-9277-01042cdf70a5
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-01-27T09:12:37.312630Z","cron_schedule":null,"description":"","environment_variables":{},"id":"ad08cb85-1e3b-4b93-9277-01042cdf70a5","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-27T09:12:37.312630Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.192917ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/ad08cb85-1e3b-4b93-9277-01042cdf70a5
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.048042ms
