---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-cron","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":"","cron_schedule":{"schedule":"5 4 1 * *","timezone":"Europe/Paris"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"id":"07f0d6fa-5d33-46dc-a4a9-7c930ce346ee", "name":"test-jobs-job-definition-cron", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.476537Z", "updated_at":"2026-02-16T17:24:00.476537Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":{"schedule":"5 4 1 * *", "timezone":"Europe/Paris"}, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.790449ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/07f0d6fa-5d33-46dc-a4a9-7c930ce346ee
        method: GET
      response:
        body: '{"id":"07f0d6fa-5d33-46dc-a4a9-7c930ce346ee", "name":"test-jobs-job-definition-cron", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T17:24:00.476537Z", "updated_at":"2026-02-16T17:24:00.476537Z", "cpu_limit":120, "memory_limit":256, "local_storage_capacity":5120, "image_uri":"docker.io/alpine:latest", "command":"", "environment_variables":{}, "job_timeout":"86400s", "description":"", "cron_schedule":{"schedule":"5 4 1 * *", "timezone":"Europe/Paris"}, "startup_command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.125053ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            job_definition_id:
                - 07f0d6fa-5d33-46dc-a4a9-7c930ce346ee
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=07f0d6fa-5d33-46dc-a4a9-7c930ce346ee
        method: GET
      response:
        body: '{"secrets":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.031533ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/07f0d6fa-5d33-46dc-a4a9-7c930ce346ee
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.387166ms
