---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"wrong-job-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-02-03T10:39:58.038084Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e","key_id":null,"managed":false,"name":"wrong-job-secret","path":"/","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-02-03T10:39:58.038084Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.17419ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e
        method: GET
      response:
        body: '{"created_at":"2026-02-03T10:39:58.038084Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e","key_id":null,"managed":false,"name":"wrong-job-secret","path":"/","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2026-02-03T10:39:58.038084Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.599543ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.579278ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T10:39:58.480634Z","cron_schedule":null,"description":"","environment_variables":{},"id":"36677d13-d4c1-49e9-8107-2178056934e8","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T10:39:58.480634Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.459453ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e/versions
        method: POST
      response:
        body: '{"created_at":"2026-02-03T10:39:58.854175Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e","status":"enabled","updated_at":"2026-02-03T10:39:58.854175Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 537.489802ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-02-03T10:39:58.854175Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"f61f6fb5-7b61-4fb1-ab1a-c6a4eb17b84e","status":"enabled","updated_at":"2026-02-03T10:39:58.854175Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.852868ms
[...]
