---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-timeout","cpu_limit":120,"memory_limit":256,"local_storage_capacity":5120,"image_uri":"docker.io/alpine:latest","command":"","startup_command":[],"args":[],"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","environment_variables":{},"description":"","job_timeout":"1200.000000000s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T10:39:57.995293Z","cron_schedule":null,"description":"","environment_variables":{},"id":"c1ef776e-308b-4e31-a548-f3df605b13c2","image_uri":"docker.io/alpine:latest","job_timeout":"1200s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-timeout","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T10:39:57.995293Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.632227ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/c1ef776e-308b-4e31-a548-f3df605b13c2
        method: GET
      response:
        body: '{"args":[],"command":"","cpu_limit":120,"created_at":"2026-02-03T10:39:57.995293Z","cron_schedule":null,"description":"","environment_variables":{},"id":"c1ef776e-308b-4e31-a548-f3df605b13c2","image_uri":"docker.io/alpine:latest","job_timeout":"1200s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-timeout","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","startup_command":[],"updated_at":"2026-02-03T10:39:57.995293Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.873072ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/secrets?job_definition_id=c1ef776e-308b-4e31-a548-f3df605b13c2
        method: GET
      response:
        body: '{"secrets":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.410867ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha2/regions/fr-par/job-definitions/c1ef776e-308b-4e31-a548-f3df605b13c2
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 17.619795ms
