---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"job-secret\",\"tags\":null,\"type\":\"opaque\",\"path\":\"/one\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"job-secret\",\"status\":\"ready\",\"created_at\":\"2025-08-26T16:27:39.831931Z\",\"updated_at\":\"2025-08-26T16:27:39.831931Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/one\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.124169337s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f
    method: GET
  response:
    body: "{\"id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"job-secret\",\"status\":\"ready\",\"created_at\":\"2025-08-26T16:27:39.831931Z\",\"updated_at\":\"2025-08-26T16:27:39.831931Z\",\"tags\":[],\"version_count\":0,\"description\":\"\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/one\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.034787ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 273.088371ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-jobs-job-definition-secret\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: "{\"id\":\"909d7162-2faf-43bd-a532-e6e695b2da08\",\"name\":\"test-jobs-job-definition-secret\",\"created_at\":\"2025-08-26T16:27:41.050079Z\",\"updated_at\":\"2025-08-26T16:27:41.050079Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"86400s\",\"cron_schedule\":null,\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 172.44391ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"data\":\"eW91cl9zZWNyZXQ=\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f/versions
    method: POST
  response:
    body: "{\"revision\":1,\"secret_id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"status\":\"enabled\",\"created_at\":\"2025-08-26T16:27:41.347234Z\",\"updated_at\":\"2025-08-26T16:27:41.347234Z\",\"deleted_at\":null,\"description\":\"\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 487.410249ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f/versions/1
    method: GET
  response:
    body: "{\"revision\":1,\"secret_id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"status\":\"enabled\",\"created_at\":\"2025-08-26T16:27:41.347234Z\",\"updated_at\":\"2025-08-26T16:27:41.347234Z\",\"deleted_at\":null,\"description\":\"\",\"latest\":true,\"ephemeral_properties\":null,\"deletion_requested_at\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 124.742147ms
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"secrets\":[{\"secret_manager_id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"secret_manager_version\":\"latest\",\"env_var_name\":\"SOME_ENV\"},{\"secret_manager_id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"secret_manager_version\":\"latest\",\"path\":\"/home/dev/env\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/909d7162-2faf-43bd-a532-e6e695b2da08/secrets
    method: POST
  response:
    body: "{\"secrets\":[{\"secret_id\":\"0d3c65bb-ced3-4f97-bc68-bf569d8eaefa\",\"secret_manager_id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"secret_manager_version\":\"latest\",\"env_var\":{\"name\":\"SOME_ENV\"}},{\"secret_id\":\"36f7db77-a6ef-4748-afc4-0070bfeb676b\",\"secret_manager_id\":\"cca53e8f-da6b-48cc-8b7e-2d7f55b3f43f\",\"secret_manager_version\":\"latest\",\"file\":{\"path\":\"/home/dev/env\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 918.175268ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/909d7162-2faf-43bd-a532-e6e695b2da08
    method: GET
  response:
    body: "{\"id\":\"909d7162-2faf-43bd-a532-e6e695b2da08\",\"name\":\"test-jobs-job-definition-secret\",\"created_at\":\"2025-08-26T16:27:41.050079Z\",\"updated_at\":\"2025-08-26T16:27:41.050079Z\",\"cpu_limit\":120,\"memory_limit\":256,\"image_uri\":\"docker.io/alpine:latest\",\"command\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"environment_variables\":{},\"description\":\"\",\"job_timeout\":\"86400s\",\"cron_schedule\":null,\"local_storage_capacity\":5120,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.622502ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/909d7162-2faf-43bd-a532-e6e695b2da08/secrets/0d3c65bb-ced3-4f97-bc68-bf569d8eaefa
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 90.008891ms
[...]
- id: 50
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/909d7162-2faf-43bd-a532-e6e695b2da08
    method: DELETE
  response:
    body: "{\"message\":\"job definition is not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 58.275387ms
