---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-07T09:22:03.394735Z","cron_schedule":null,"description":"","environment_variables":{},"id":"a0b58e26-c59b-43ed-8cf8-8ff0968da798","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-07T09:22:03.394735Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 461.910875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"feca5b9f-b192-415f-9bc1-c876a4e3263c","secret_manager_version":"1","env_var_name":"SOME_ENV"},{"secret_manager_id":"feca5b9f-b192-415f-9bc1-c876a4e3263c","secret_manager_version":"1","path":"/home/dev/env"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/a0b58e26-c59b-43ed-8cf8-8ff0968da798/secrets
        method: POST
      response:
        body: '{"secrets":[{"env_var":{"name":"SOME_ENV"},"secret_id":"a11dbb4a-7383-4ac6-887d-7610a5550d7f","secret_manager_id":"feca5b9f-b192-415f-9bc1-c876a4e3263c","secret_manager_version":"1"},{"file":{"path":"/home/dev/env"},"secret_id":"243c2451-7b39-4376-bf8c-d5cc7509521b","secret_manager_id":"feca5b9f-b192-415f-9bc1-c876a4e3263c","secret_manager_version":"1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.968834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/a0b58e26-c59b-43ed-8cf8-8ff0968da798
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-07T09:22:03.394735Z","cron_schedule":null,"description":"","environment_variables":{},"id":"a0b58e26-c59b-43ed-8cf8-8ff0968da798","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-07T09:22:03.394735Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.621667ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/a0b58e26-c59b-43ed-8cf8-8ff0968da798
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.6335ms
