---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-04T19:50:20.861807Z","cron_schedule":null,"description":"","environment_variables":{},"id":"91e2e698-5628-4251-a926-51fd618b6c90","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-04T19:50:20.861807Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.29225ms
