---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"job-secret","tags":null,"type":"opaque","path":"/one","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2025-04-07T14:57:50.154893Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"01c98402-dc24-4f85-85f9-3e551bf772fd","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-07T14:57:50.154893Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.9735ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01c98402-dc24-4f85-85f9-3e551bf772fd
        method: GET
      response:
        body: '{"created_at":"2025-04-07T14:57:50.154893Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"01c98402-dc24-4f85-85f9-3e551bf772fd","managed":false,"name":"job-secret","path":"/one","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2025-04-07T14:57:50.154893Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.80325ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01c98402-dc24-4f85-85f9-3e551bf772fd/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.391042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-jobs-job-definition-secret","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","environment_variables":{},"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
        method: POST
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-07T14:57:50.338380Z","cron_schedule":null,"description":"","environment_variables":{},"id":"f4c57423-2be7-4fe3-9146-d5af284b3fb0","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-07T14:57:50.338380Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.087625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"eW91cl9zZWNyZXQ="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01c98402-dc24-4f85-85f9-3e551bf772fd/versions
        method: POST
      response:
        body: '{"created_at":"2025-04-07T14:57:50.580040Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","status":"enabled","updated_at":"2025-04-07T14:57:50.580040Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.906375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01c98402-dc24-4f85-85f9-3e551bf772fd/versions/1
        method: GET
      response:
        body: '{"created_at":"2025-04-07T14:57:50.580040Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","status":"enabled","updated_at":"2025-04-07T14:57:50.580040Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.504917ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest","path":"/home/dev/env"},{"secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest","env_var_name":"SOME_ENV"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/f4c57423-2be7-4fe3-9146-d5af284b3fb0/secrets
        method: POST
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/env"},"secret_id":"2741caf7-f018-41b7-9b7a-3bfe37ae50c3","secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"secret_id":"4513c079-abc7-422b-ae9b-6572230b97e8","secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 707.857041ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/f4c57423-2be7-4fe3-9146-d5af284b3fb0
        method: GET
      response:
        body: '{"command":"","cpu_limit":120,"created_at":"2025-04-07T14:57:50.338380Z","cron_schedule":null,"description":"","environment_variables":{},"id":"f4c57423-2be7-4fe3-9146-d5af284b3fb0","image_uri":"docker.io/alpine:latest","job_timeout":"86400s","local_storage_capacity":5120,"memory_limit":256,"name":"test-jobs-job-definition-secret","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","updated_at":"2025-04-07T14:57:50.338380Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.548291ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/f4c57423-2be7-4fe3-9146-d5af284b3fb0/secrets
        method: GET
      response:
        body: '{"secrets":[{"file":{"path":"/home/dev/env"},"secret_id":"2741caf7-f018-41b7-9b7a-3bfe37ae50c3","secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest"},{"env_var":{"name":"SOME_ENV"},"secret_id":"4513c079-abc7-422b-ae9b-6572230b97e8","secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.623625ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/f4c57423-2be7-4fe3-9146-d5af284b3fb0/secrets/2741caf7-f018-41b7-9b7a-3bfe37ae50c3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 48.374416ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"secrets":[{"secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest","env_var_name":"SOME_ENV"},{"secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest","path":"/home/dev/new_env"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/f4c57423-2be7-4fe3-9146-d5af284b3fb0/secrets
        method: POST
      response:
        body: '{"secrets":[{"env_var":{"name":"SOME_ENV"},"secret_id":"1f83b22f-4b35-46af-b540-0a558a9ce203","secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest"},{"file":{"path":"/home/dev/new_env"},"secret_id":"80bd4dbb-6004-4049-97f3-274216d9afb9","secret_manager_id":"01c98402-dc24-4f85-85f9-3e551bf772fd","secret_manager_version":"latest"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.05025ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/f4c57423-2be7-4fe3-9146-d5af284b3fb0
        method: DELETE
      response:
        body: '{"message":"job definition is not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.614333ms
