---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":100000000000,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:02:27.705751Z","filesystem_type_id":"","id":"d939c753-377c-4adf-a709-75097ee7b308","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-08-24T14:02:27.705751Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 452.948661ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.236555ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/d939c753-377c-4adf-a709-75097ee7b308
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:02:27.705751Z","filesystem_type_id":"","id":"d939c753-377c-4adf-a709-75097ee7b308","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-08-24T14:02:27.705751Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.48838ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/d939c753-377c-4adf-a709-75097ee7b308
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"d939c753-377c-4adf-a709-75097ee7b308","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.791254ms
[...]
