---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_InvalidSizeGranularityFails","project_id":"4d333544-41be-4b0b-8907-0b9036859747","size":250000000000,"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-09-15T15:12:23.085269Z","filesystem_type_id":"","id":"9bfff488-e964-478d-8ff3-cb373179f34b","name":"TestAccFileSystem_InvalidSizeGranularityFails","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":250000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-15T15:12:23.085269Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 432.992875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 23.483959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/9bfff488-e964-478d-8ff3-cb373179f34b
        method: GET
      response:
        body: '{"created_at":"2026-09-15T15:12:23.085269Z","filesystem_type_id":"","id":"9bfff488-e964-478d-8ff3-cb373179f34b","name":"TestAccFileSystem_InvalidSizeGranularityFails","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":250000000000,"srn":"","status":"creating","tags":[],"updated_at":"2026-09-15T15:12:23.085269Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.55375ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/9bfff488-e964-478d-8ff3-cb373179f34b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"9bfff488-e964-478d-8ff3-cb373179f34b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 36.375666ms
[...]
