---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":100000000000,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-07-10T14:12:22.289454Z","filesystem_type_id":"","id":"328a5a1a-5d85-463d-81da-7b468ed99324","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-07-10T14:12:22.289454Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 392.273488ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/328a5a1a-5d85-463d-81da-7b468ed99324
        method: GET
      response:
        body: '{"created_at":"2026-07-10T14:12:22.289454Z","filesystem_type_id":"","id":"328a5a1a-5d85-463d-81da-7b468ed99324","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-07-10T14:12:22.289454Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.037494ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/328a5a1a-5d85-463d-81da-7b468ed99324
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"328a5a1a-5d85-463d-81da-7b468ed99324","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.062414ms
[...]
