---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":100000000000,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-03-12T14:22:03.973055Z","id":"2bd43bd5-d87a-4b73-87c7-ac90dec8ec98","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-03-12T14:22:03.973055Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 532.354459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/2bd43bd5-d87a-4b73-87c7-ac90dec8ec98
        method: GET
      response:
        body: '{"created_at":"2026-03-12T14:22:03.973055Z","id":"2bd43bd5-d87a-4b73-87c7-ac90dec8ec98","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-03-12T14:22:03.973055Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.822292ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/2bd43bd5-d87a-4b73-87c7-ac90dec8ec98
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"2bd43bd5-d87a-4b73-87c7-ac90dec8ec98","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.604583ms
[...]
