---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccFileSystem_Basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"size\":100000000000,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
    method: POST
  response:
    body: "{\"id\":\"76cdf68f-f55a-4ea1-8fb3-cbaa17c7f8f5\",\"name\":\"TestAccFileSystem_Basic\",\"size\":100000000000,\"status\":\"creating\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"number_of_attachments\":0,\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:25:42.040826Z\",\"updated_at\":\"2025-08-26T16:25:42.040826Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 728.72757ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/76cdf68f-f55a-4ea1-8fb3-cbaa17c7f8f5
    method: GET
  response:
    body: "{\"id\":\"76cdf68f-f55a-4ea1-8fb3-cbaa17c7f8f5\",\"name\":\"TestAccFileSystem_Basic\",\"size\":100000000000,\"status\":\"available\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"number_of_attachments\":0,\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:25:42.040826Z\",\"updated_at\":\"2025-08-26T16:25:42.040826Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.262143ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/76cdf68f-f55a-4ea1-8fb3-cbaa17c7f8f5
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"filesystem\",\"resource_id\":\"76cdf68f-f55a-4ea1-8fb3-cbaa17c7f8f5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 181.376398ms
[...]
