---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_SizeTooSmallFails","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","size":10000000000,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"details":[{"argument_name":"size","help_message":"size must be greater or equal to 100000000000","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 66.228416ms
