---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":100000000000,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-09-02T07:24:48.672188Z","filesystem_type_id":"","id":"e6e13f04-d486-45a9-8036-84e02f78d353","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-09-02T07:24:48.672188Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 276.20175ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 23.597208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/e6e13f04-d486-45a9-8036-84e02f78d353
        method: GET
      response:
        body: '{"created_at":"2026-09-02T07:24:48.672188Z","filesystem_type_id":"","id":"e6e13f04-d486-45a9-8036-84e02f78d353","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2026-09-02T07:24:48.672188Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.033208ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/e6e13f04-d486-45a9-8036-84e02f78d353
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"e6e13f04-d486-45a9-8036-84e02f78d353","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 44.414083ms
[...]
