---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_InvalidSizeGranularityFails","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":250000000000,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-07-10T14:12:22.281296Z","filesystem_type_id":"","id":"76653fd2-4719-41c8-b4af-2df37dfc2014","name":"TestAccFileSystem_InvalidSizeGranularityFails","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":250000000000,"status":"creating","tags":[],"updated_at":"2026-07-10T14:12:22.281296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.425154ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/76653fd2-4719-41c8-b4af-2df37dfc2014
        method: GET
      response:
        body: '{"created_at":"2026-07-10T14:12:22.281296Z","filesystem_type_id":"","id":"76653fd2-4719-41c8-b4af-2df37dfc2014","name":"TestAccFileSystem_InvalidSizeGranularityFails","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":250000000000,"status":"creating","tags":[],"updated_at":"2026-07-10T14:12:22.281296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.52319ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/76653fd2-4719-41c8-b4af-2df37dfc2014
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"76653fd2-4719-41c8-b4af-2df37dfc2014","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 123.320534ms
[...]
