---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccFileSystem_Basic","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","size":100000000000,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2025-06-05T08:07:28.691882Z","id":"20c0c39f-e426-43a7-ba50-09df4d5cd0e2","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2025-06-05T08:07:28.691882Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.199333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/20c0c39f-e426-43a7-ba50-09df4d5cd0e2
        method: GET
      response:
        body: '{"created_at":"2025-06-05T08:07:28.691882Z","id":"20c0c39f-e426-43a7-ba50-09df4d5cd0e2","name":"TestAccFileSystem_Basic","number_of_attachments":0,"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","size":100000000000,"status":"creating","tags":[],"updated_at":"2025-06-05T08:07:28.691882Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.766958ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/20c0c39f-e426-43a7-ba50-09df4d5cd0e2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"20c0c39f-e426-43a7-ba50-09df4d5cd0e2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.585458ms
[...]
