---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-fs-01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":100000000000,"tags":["foo","bar"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-09-07T09:07:08.806102Z","filesystem_type_id":"","id":"7699e9c3-527a-4519-838e-4720a6afb24b","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":["foo","bar"],"updated_at":"2026-09-07T09:07:08.806102Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 329.322083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.975041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/7699e9c3-527a-4519-838e-4720a6afb24b
        method: GET
      response:
        body: '{"created_at":"2026-09-07T09:07:08.806102Z","filesystem_type_id":"","id":"7699e9c3-527a-4519-838e-4720a6afb24b","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":["foo","bar"],"updated_at":"2026-09-07T09:07:08.806102Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 116.05925ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs&order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-07T09:07:08.806102Z","filesystem_type_id":"","id":"7699e9c3-527a-4519-838e-4720a6afb24b","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-07T09:07:08.949624Z"},{"created_at":"2026-09-07T09:07:15.367436Z","filesystem_type_id":"","id":"56552fd4-abcb-4d3f-843f-a04d0dd934ad","name":"test-fs-02","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":200000000000,"status":"available","tags":["foo"],"updated_at":"2026-09-07T09:07:15.484588Z"},{"created_at":"2026-09-07T09:07:21.783883Z","filesystem_type_id":"","id":"4e3105aa-5007-419c-bd73-c30b2a186069","name":"test-fs-03","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":300000000000,"status":"available","tags":["bar"],"updated_at":"2026-09-07T09:07:21.929831Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.701125ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs-01&order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-07T09:07:08.806102Z","filesystem_type_id":"","id":"7699e9c3-527a-4519-838e-4720a6afb24b","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-07T09:07:08.949624Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 60.42075ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=foobar
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 142.35575ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=foo&tags=bar
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-07T09:07:08.806102Z","filesystem_type_id":"","id":"7699e9c3-527a-4519-838e-4720a6afb24b","name":"test-fs-01","number_of_atta[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=foo
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-07T09:07:08.806102Z","filesystem_type_id":"","id":"7699e9c3-527a-4519-838e-4720a6afb24b","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-07T09:07:08.949624Z"},{"created_at":"2026-09-07T09:07:15.367436Z","filesystem_type_id":"","id":"56552fd4-abcb-4d3f-843f-a04d0dd934ad","name":"test-fs-02","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":200000000000,"status":"available","tags":["foo"],"updated_at":"2026-09-07T09:07:15.484588Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 144.475834ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=bar
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-07T09:07:08.806102Z","filesystem_type_id":"","id":"7699e9c3-527a-4519-838e-4720a6afb24b","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-07T09:07:08.949624Z"},{"created_at":"2026-09-07T09:07:21.783883Z","filesystem_type_id":"","id":"4e3105aa-5007-419c-bd73-c30b2a186069","name":"test-fs-03","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":300000000000,"status":"available","tags":["bar"],"updated_at":"2026-09-07T09:07:21.929831Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 144.470208ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/56552fd4-abcb-4d3f-843f-a04d0dd934ad
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"56552fd4-abcb-4d3f-843f-a04d0dd934ad","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 44.866917ms
[...]
