---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-fs-01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":100000000000,"tags":["foo","bar"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-09-04T14:40:56.052662Z","filesystem_type_id":"","id":"d173b9d4-4a4f-4b5d-ae04-53b868a4a07a","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":["foo","bar"],"updated_at":"2026-09-04T14:40:56.052662Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 310.452958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.628333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/d173b9d4-4a4f-4b5d-ae04-53b868a4a07a
        method: GET
      response:
        body: '{"created_at":"2026-09-04T14:40:56.052662Z","filesystem_type_id":"","id":"d173b9d4-4a4f-4b5d-ae04-53b868a4a07a","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"creating","tags":["foo","bar"],"updated_at":"2026-09-04T14:40:56.052662Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 126.87025ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs&order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-04T14:40:56.052662Z","filesystem_type_id":"","id":"d173b9d4-4a4f-4b5d-ae04-53b868a4a07a","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-04T14:40:56.164652Z"},{"created_at":"2026-09-04T14:41:02.880240Z","filesystem_type_id":"","id":"8e38cf3a-2e2a-4bf6-bf5b-5d9d0ce9cb6b","name":"test-fs-02","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":200000000000,"status":"available","tags":["foo"],"updated_at":"2026-09-04T14:41:03.008751Z"},{"created_at":"2026-09-04T14:41:10.241312Z","filesystem_type_id":"","id":"afebbb8f-98be-404b-9997-5e97cfd68ea6","name":"test-fs-03","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":300000000000,"status":"available","tags":["bar"],"updated_at":"2026-09-04T14:41:10.335115Z"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.099333ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs-01&order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-04T14:40:56.052662Z","filesystem_type_id":"","id":"d173b9d4-4a4f-4b5d-ae04-53b868a4a07a","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-04T14:40:56.164652Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.173542ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=foo&tags=bar
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-04T14:40:56.052662Z","filesystem_type_id":"","id":"d173b9d4-4a4f-4b5d-ae04-53b868a4a07a","name":"test-fs-01","number_of_atta[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=foobar
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.76575ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=foo
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-04T14:40:56.052662Z","filesystem_type_id":"","id":"d173b9d4-4a4f-4b5d-ae04-53b868a4a07a","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-04T14:40:56.164652Z"},{"created_at":"2026-09-04T14:41:02.880240Z","filesystem_type_id":"","id":"8e38cf3a-2e2a-4bf6-bf5b-5d9d0ce9cb6b","name":"test-fs-02","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":200000000000,"status":"available","tags":["foo"],"updated_at":"2026-09-04T14:41:03.008751Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.370709ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=bar
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-04T14:40:56.052662Z","filesystem_type_id":"","id":"d173b9d4-4a4f-4b5d-ae04-53b868a4a07a","name":"test-fs-01","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":100000000000,"status":"available","tags":["foo","bar"],"updated_at":"2026-09-04T14:40:56.164652Z"},{"created_at":"2026-09-04T14:41:10.241312Z","filesystem_type_id":"","id":"afebbb8f-98be-404b-9997-5e97cfd68ea6","name":"test-fs-03","number_of_attachments":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":300000000000,"status":"available","tags":["bar"],"updated_at":"2026-09-04T14:41:10.335115Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 65.603ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/afebbb8f-98be-404b-9997-5e97cfd68ea6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"afebbb8f-98be-404b-9997-5e97cfd68ea6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 32.822959ms
[...]
