---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-fs01","project_id":"4d333544-41be-4b0b-8907-0b9036859747","size":100000000000,"tags":["foo","bar"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-09-29T08:56:39.624219Z","filesystem_type_id":"","id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","name":"test-fs01","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":100000000000,"srn":"","status":"creating","tags":["foo","bar"],"updated_at":"2026-09-29T08:56:39.624219Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 273.634458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.82675ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/0415db78-b0c0-47d8-b1f3-7bf5e6aa699f
        method: GET
      response:
        body: '{"created_at":"2026-09-29T08:56:39.624219Z","filesystem_type_id":"","id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","name":"test-fs01","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":100000000000,"srn":"","status":"creating","tags":["foo","bar"],"updated_at":"2026-09-29T08:56:39.624219Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.217334ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs01&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-29T08:56:39.624219Z","filesystem_type_id":"","id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","name":"test-fs01","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":100000000000,"srn":"","status":"available","tags":["foo","bar"],"updated_at":"2026-09-29T08:56:39.803587Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 62.803ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs&order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-29T08:56:39.624219Z","filesystem_type_id":"","id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","name":"test-fs01","number_of_attachment[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=bar
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-29T08:56:39.624219Z","filesystem_type_id":"","id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","name":"test-fs01","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":100000000000,"srn":"","status":"available","tags":["foo","bar"],"updated_at":"2026-09-29T08:56:39.803587Z"},{"created_at":"2026-09-29T08:56:52.124191Z","filesystem_type_id":"","id":"6b4858bc-c0a0-47f3-96ba-0e9df4b1d8a4","name":"test-fs03","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":300000000000,"srn":"","status":"available","tags":["bar"],"updated_at":"2026-09-29T08:56:52.214049Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 61.049375ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=foo
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-29T08:56:39.624219Z","filesystem_type_id":"","id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","name":"test-fs01","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":100000000000,"srn":"","status":"available","tags":["foo","bar"],"updated_at":"2026-09-29T08:56:39.803587Z"},{"created_at":"2026-09-29T08:56:45.879229Z","filesystem_type_id":"","id":"68e0a990-6542-4c48-87df-d26ba1238c32","name":"test-fs02","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":200000000000,"srn":"","status":"available","tags":["foo"],"updated_at":"2026-09-29T08:56:46.015297Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.903292ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=foobar
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 79.947666ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=foo&tags=bar
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-09-29T08:56:39.624219Z","filesystem_type_id":"","id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","name":"test-fs01","number_of_attac[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/0415db78-b0c0-47d8-b1f3-7bf5e6aa699f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"0415db78-b0c0-47d8-b1f3-7bf5e6aa699f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 35.707958ms
[...]
