---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-fs-01","project_id":"4d333544-41be-4b0b-8907-0b9036859747","size":100000000000,"tags":["foo","bar"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"created_at":"2026-08-05T09:25:40.195172Z","filesystem_type_id":"","id":"360b0d2b-8a31-47e8-9070-20da3050586f","name":"test-fs-01","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":100000000000,"status":"creating","tags":["foo","bar"],"updated_at":"2026-08-05T09:25:40.195172Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.70925ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/360b0d2b-8a31-47e8-9070-20da3050586f
        method: GET
      response:
        body: '{"created_at":"2026-08-05T09:25:40.195172Z","filesystem_type_id":"","id":"360b0d2b-8a31-47e8-9070-20da3050586f","name":"test-fs-01","number_of_attachments":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","project_id":"4d333544-41be-4b0b-8907-0b9036859747","region":"fr-par","size":100000000000,"status":"creating","tags":["foo","bar"],"updated_at":"2026-08-05T09:25:40.195172Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.887625ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?order_by=created_at_asc&organization_id=4d333544-41be-4b0b-8907-0b9036859747&page=1
        method: GET
      response:
        body: '{"projects":[{"created_at":"2021-09-28T11:34:03.639363Z","description":"","id":"4d333544-41be-4b0b-8907-0b9036859747","name":"default","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2021-09-28T11:34:03.639363Z"},{"created_at":"2026-05-21T17:42:36.134011Z","description":"","id":"aa50d9e5-939f-4051-95a0-d9dcb0985414","name":"tf-test-scaleway-project-1569204375867398329","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-21T17:42:36.134011Z"},{"created_at":"2026-05-25T09:31:31.063260Z","description":"","id":"5949f8f5-05e3-482e-b796-5e186d7a22[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs&order_by=created_at_asc&page=1&project_id=5949f8f5-05e3-482e-b796-5e186d7a222b
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.418125ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?name=test-fs-01&order_by=created_at_asc&page=1&project_id=d634463c-6bbe-45d4-afb8-7b49e6f07a92
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.808209ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=d634463c-6bbe-45d4-afb8-7b49e6f07a92&tags=foobar
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.109416ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=897d448b-0fb6-47ac-ba9e-35ef46b76fe2&tags=foo
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.629833ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=4d333544-41be-4b0b-8907-0b9036859747&tags=foo&tags=bar
        method: GET
      response:
        body: '{"filesystems":[{"created_at":"2026-08-05T09:25:40.195172Z","filesystem_type_id":"","id":"360b0d2b-8a31-47e8-9070-20da3050586f","name":"test-fs-01","number_of_atta[...]
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems?order_by=created_at_asc&page=1&project_id=3250e560-35fb-42d1-be45-7b6fb974354f&tags=bar
        method: GET
      response:
        body: '{"filesystems":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.923416ms
[...]
    - id: 147
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/3f595074-c6c1-4f19-adec-3599942ae643
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"3f595074-c6c1-4f19-adec-3599942ae643","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.644666ms
[...]
