---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-tf-action-instance-create-snapshot-scratch","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":50000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "8e909aa3-7130-4a96-84dd-5190eea03809", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-12-30T09:45:41.836877+00:00", "modification_date": "2025-12-30T09:45:41.836877+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8e909aa3-7130-4a96-84dd-5190eea03809
        status: 201 Created
        code: 201
        duration: 129.937561ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8e909aa3-7130-4a96-84dd-5190eea03809
        method: GET
      response:
        body: '{"volume": {"id": "8e909aa3-7130-4a96-84dd-5190eea03809", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-12-30T09:45:41.836877+00:00", "modification_date": "2025-12-30T09:45:41.836877+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.302868ms
[...]
