---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-tf-action-instance-create-snapshot-scratch","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":50000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "ad31d547-a6e0-486f-b62c-9911a7118908", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.144008+00:00", "modification_date": "2026-07-30T12:53:12.144008+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ad31d547-a6e0-486f-b62c-9911a7118908
        status: 201 Created
        code: 201
        duration: 360.618856ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ad31d547-a6e0-486f-b62c-9911a7118908
        method: GET
      response:
        body: '{"volume": {"id": "ad31d547-a6e0-486f-b62c-9911a7118908", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.144008+00:00", "modification_date": "2026-07-30T12:53:12.144008+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 302.616689ms
[...]
