---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-tf-action-instance-create-snapshot-scratch","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":50000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "af636666-1064-4ea5-8af9-d16aa7b37f95", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.568934+00:00", "modification_date": "2026-08-11T08:51:15.568934+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/af636666-1064-4ea5-8af9-d16aa7b37f95
        status: 201 Created
        code: 201
        duration: 342.994467ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/af636666-1064-4ea5-8af9-d16aa7b37f95
        method: GET
      response:
        body: '{"volume": {"id": "af636666-1064-4ea5-8af9-d16aa7b37f95", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.568934+00:00", "modification_date": "2026-08-11T08:51:15.568934+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.392444ms
[...]
