---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-tf-action-instance-create-snapshot-scratch","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":50000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "50bb2112-64de-41ea-a20b-8d3f806d2d3e", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-05-18T10:00:09.286711+00:00", "modification_date": "2026-05-18T10:00:09.286711+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/50bb2112-64de-41ea-a20b-8d3f806d2d3e
        status: 201 Created
        code: 201
        duration: 2.429741525s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/50bb2112-64de-41ea-a20b-8d3f806d2d3e
        method: GET
      response:
        body: '{"volume": {"id": "50bb2112-64de-41ea-a20b-8d3f806d2d3e", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-05-18T10:00:09.286711+00:00", "modification_date": "2026-05-18T10:00:09.286711+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 671.312499ms
[...]
