---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-tf-action-instance-create-snapshot-scratch","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"scratch","size":50000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "ea118818-26c0-4c8f-b600-1d1baebb2a41", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-12-11T21:28:08.847536+00:00", "modification_date": "2025-12-11T21:28:08.847536+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ea118818-26c0-4c8f-b600-1d1baebb2a41
        status: 201 Created
        code: 201
        duration: 226.818419ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ea118818-26c0-4c8f-b600-1d1baebb2a41
        method: GET
      response:
        body: '{"volume": {"id": "ea118818-26c0-4c8f-b600-1d1baebb2a41", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-12-11T21:28:08.847536+00:00", "modification_date": "2025-12-11T21:28:08.847536+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.167822ms
[...]
