---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vol-tender-jones\",\"project\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"volume_type\":\"scratch\",\"size\":50000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"6d9785cf-155a-45e0-9efc-27fb0c18eeca\", \"name\": \"tf-vol-tender-jones\", \"volume_type\": \"scratch\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"server\": null, \"size\": 50000000000, \"state\": \"available\", \"creation_date\": \"2025-12-08T14:57:04.154153+00:00\", \"modification_date\": \"2025-12-08T14:57:04.154153+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d9785cf-155a-45e0-9efc-27fb0c18eeca
    status: 201 Created
    code: 201
    duration: 246.972115ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d9785cf-155a-45e0-9efc-27fb0c18eeca
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"6d9785cf-155a-45e0-9efc-27fb0c18eeca\", \"name\": \"tf-vol-tender-jones\", \"volume_type\": \"scratch\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"server\": null, \"size\": 50000000000, \"state\": \"available\", \"creation_date\": \"2025-12-08T14:57:04.154153+00:00\", \"modification_date\": \"2025-12-08T14:57:04.154153+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.561923ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"snp-trusting-mirzakhani\",\"volume_id\":\"6d9785cf-155a-45e0-9efc-27fb0c18eeca\",\"project\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"type\": \"invalid_arguments\", \"message\": \"invalid argument(s)\", \"details\": [{\"argument_name\": \"volume_id\", \"reason\": \"constraint\", \"help_message\": \"volume 6d9785cf-155a-45e0-9efc-27fb0c18eeca is not of type l_ssd\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: 73.622053ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d9785cf-155a-45e0-9efc-27fb0c18eeca
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"6d9785cf-155a-45e0-9efc-27fb0c18eeca\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 33.262727ms
