---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-tf-action-instance-create-snapshot-scratch","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":50000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "91e32a09-8407-4775-81cf-3dc7f83bfe98", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-09-01T14:38:30.596918+00:00", "modification_date": "2026-09-01T14:38:30.596918+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/91e32a09-8407-4775-81cf-3dc7f83bfe98
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 312.908527ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/91e32a09-8407-4775-81cf-3dc7f83bfe98
        method: GET
      response:
        body: '{"volume": {"id": "91e32a09-8407-4775-81cf-3dc7f83bfe98", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 50000000000, "state": "available", "creation_date": "2026-09-01T14:38:30.596918+00:00", "modification_date": "2026-09-01T14:38:30.596918+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 138.875987ms
[...]
