---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-tf-action-instance-create-snapshot-scratch","project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"scratch","size":50000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "b4dda684-1d50-4c79-b81f-7199f7b3880c", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-12-12T15:50:57.183739+00:00", "modification_date": "2025-12-12T15:50:57.183739+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b4dda684-1d50-4c79-b81f-7199f7b3880c
        status: 201 Created
        code: 201
        duration: 180.469705ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b4dda684-1d50-4c79-b81f-7199f7b3880c
        method: GET
      response:
        body: '{"volume": {"id": "b4dda684-1d50-4c79-b81f-7199f7b3880c", "name": "test-tf-action-instance-create-snapshot-scratch", "volume_type": "scratch", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-12-12T15:50:57.183739+00:00", "modification_date": "2025-12-12T15:50:57.183739+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.964685ms
[...]
