---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-keen-mendel","perf_iops":5000,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"c9386e32-4589-43f7-b9eb-79309dc56e13", "name":"tf-volume-keen-mendel", "type":"sbs_5k", "size":20000000000, "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-08-28T15:37:43.924354Z", "updated_at":"2026-08-28T15:37:43.924354Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 231.941458ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.393166ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/c9386e32-4589-43f7-b9eb-79309dc56e13
        method: GET
      response:
        body: '{"id":"c9386e32-4589-43f7-b9eb-79309dc56e13", "name":"tf-volume-keen-mendel", "type":"sbs_5k", "size":20000000000, "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-08-28T15:37:43.924354Z", "updated_at":"2026-08-28T15:37:43.924354Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.04075ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"volume_id":"c9386e32-4589-43f7-b9eb-79309dc56e13","name":"tf-snapshot-infallible-shaw","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"84eb8a90-51d9-4944-9b99-41287ab6aa96", "name":"tf-snapshot-infallible-shaw", "parent_volume":{"id":"c9386e32-4589-43f7-b9eb-79309dc56e13", "name":"tf-volume-keen-mendel", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-08-28T15:37:49.191301Z", "updated_at":"2026-08-28T15:37:49.191301Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false, "kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 108.746208ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/84eb8a90-51d9-4944-9b99-41287ab6aa96
        method: GET
      response:
        body: '{"id":"84eb8a90-51d9-4944-9b99-41287ab6aa96", "name":"tf-snapshot-infallible-shaw", "parent_volume":{"id":"c9386e32-4589-43f7-b9eb-79309dc56e13", "name":"tf-volume-keen-mendel", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-08-28T15:37:49.191301Z", "updated_at":"2026-08-28T15:37:49.191301Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false, "kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.928792ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-tags","root_volume":"84eb8a90-51d9-4944-9b99-41287ab6aa96","arch":"x86_64","project":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":["product=vivado","version=2021.1"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "c73de302-d253-46b5-a97b-33da7eedf68e", "name": "tf-test-image-tags", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "root_volume": {"volume_type": "sbs_snapshot", "id": "84eb8a90-51d9-4944-9b99-41287ab6aa96", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-08-28T15:37:54.485743+00:00", "modification_date": "2026-08-28T15:37:54.485743+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["product=vivado", "version=2021.1"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c73de302-d253-46b5-a97b-33da7eedf68e
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 318.673333ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c73de302-d253-46b5-a97b-33da7eedf68e
        method: GET
      response:
        body: '{"image": {"id": "c73de302-d253-46b5-a97b-33da7eedf68e", "name": "tf-test-image-tags", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "root_volume": {"volume_type": "sbs_snapshot", "id": "84eb8a90-51d9-4944-9b99-41287ab6aa96", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-08-28T15:37:54.485743+00:00", "modification_date": "2026-08-28T15:37:54.485743+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["product=vivado", "version=2021.1"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 71.460666ms
    - id: 11
      request:
        host: api.scaleway.com
        form:
            arch:
                - x86_64
            page:
                - "1"
            tags:
                - product=vivado,version=2021.1
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?arch=x86_64&page=1&tags=product%3Dvivado%2Cversion%3D2021.1
        method: GET
      response:
        body: '{"images": [{"id": "c73de302-d253-46b5-a97b-33da7eedf68e", "name": "tf-test-image-tags", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "root_volume": {"volume_type": "sbs_snapshot", "id": "84eb8a90-51d9-4944-9b99-41287ab6aa96", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-08-28T15:37:54.485743+00:00", "modification_date": "2026-08-28T15:37:54.485743+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["product=vivado", "version=2021.1"], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&arch=x86_64&tags=product%3Dvivado%2Cversion%3D2021.1>; rel="last"
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 194.644333ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/84eb8a90-51d9-4944-9b99-41287ab6aa96
        method: GET
      response:
        body: '{"id":"84eb8a90-51d9-4944-9b99-41287ab6aa96", "name":"tf-snapshot-infallible-shaw", "parent_volume":{"id":"c9386e32-4589-43f7-b9eb-79309dc56e13", "name":"tf-volume-keen-mendel", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-08-28T15:37:49.191301Z", "updated_at":"2026-08-28T15:37:54.547476Z", "references":[{"id":"291b5988-8646-494e-b240-b4e5b4730167", "product_resource_type":"instance_image", "product_resource_id":"c73de302-d253-46b5-a97b-33da7eedf68e", "created_at":"2026-08-28T15:37:54.547476Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false, "kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.437917ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c73de302-d253-46b5-a97b-33da7eedf68e
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "c73de302-d253-46b5-a97b-33da7eedf68e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 30.546125ms
[...]
