---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips
        method: POST
      response:
        body: '{"ip": {"id": "5a3d4814-dc98-4c0e-9e04-52bb639bb207", "address": "51.159.153.207", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "5a3d4814-dc98-4c0e-9e04-52bb639bb207"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/5a3d4814-dc98-4c0e-9e04-52bb639bb207
        status: 201 Created
        code: 201
        duration: 395.515493ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/51.159.153.207
        method: GET
      response:
        body: '{"ip": {"id": "5a3d4814-dc98-4c0e-9e04-52bb639bb207", "address": "51.159.153.207", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "5a3d4814-dc98-4c0e-9e04-52bb639bb207"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.226459ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/9c65d67f-a07b-438f-aaa4-c86198f71bab
        method: GET
      response:
        body: '{"ip": {"id": "9c65d67f-a07b-438f-aaa4-c86198f71bab", "address": "163.172.183.171", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "9c65d67f-a07b-438f-aaa4-c86198f71bab"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.273377ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/9c65d67f-a07b-438f-aaa4-c86198f71bab
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "9c65d67f-a07b-438f-aaa4-c86198f71bab"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.824946ms
[...]
