---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-ds-instance-placement-group-basic","project":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"1319ab92-c65a-4cfe-a927-d62855b22dee","name":"test-ds-instance-placement-group-basic","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/1319ab92-c65a-4cfe-a927-d62855b22dee
        status: 201 Created
        code: 201
        duration: 544.644542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/1319ab92-c65a-4cfe-a927-d62855b22dee
        method: GET
      response:
        body: '{"placement_group":{"id":"1319ab92-c65a-4cfe-a927-d62855b22dee","name":"test-ds-instance-placement-group-basic","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.077416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups?name=test-ds-instance-placement-group-basic
        method: GET
      response:
        body: '{"placement_groups":[{"id":"1319ab92-c65a-4cfe-a927-d62855b22dee","name":"test-ds-instance-placement-group-basic","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </placement_groups?page=1&per_page=50&name=test-ds-instance-placement-group-basic>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 79.920125ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/1319ab92-c65a-4cfe-a927-d62855b22dee
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"1319ab92-c65a-4cfe-a927-d62855b22dee","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.487958ms
[...]
