---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips
        method: POST
      response:
        body: '{"ip": {"id": "17bca9ce-7d04-41f8-a3b0-9e5a7d7dd80f", "address": "51.159.140.73", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "17bca9ce-7d04-41f8-a3b0-9e5a7d7dd80f"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/17bca9ce-7d04-41f8-a3b0-9e5a7d7dd80f
        status: 201 Created
        code: 201
        duration: 576.60821ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/760ec179-7b75-4233-a61f-f8282d659d0c
        method: GET
      response:
        body: '{"ip": {"id": "760ec179-7b75-4233-a61f-f8282d659d0c", "address": "163.172.143.184", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "760ec179-7b75-4233-a61f-f8282d659d0c"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.825678ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/51.159.140.73
        method: GET
      response:
        body: '{"ip": {"id": "17bca9ce-7d04-41f8-a3b0-9e5a7d7dd80f", "address": "51.159.140.73", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "17bca9ce-7d04-41f8-a3b0-9e5a7d7dd80f"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.831261ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/760ec179-7b75-4233-a61f-f8282d659d0c
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "760ec179-7b75-4233-a61f-f8282d659d0c"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.484999ms
[...]
