---
version: 2
interactions:
- request:
    body: '{"name":"test-ds-instance-placement-group-basic","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"ed6f0ad2-af26-4250-bed7-39f34dd02017","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/ed6f0ad2-af26-4250-bed7-39f34dd02017
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/ed6f0ad2-af26-4250-bed7-39f34dd02017
    method: GET
  response:
    body: '{"placement_group":{"id":"ed6f0ad2-af26-4250-bed7-39f34dd02017","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups?name=test-ds-instance-placement-group-basic
    method: GET
  response:
    body: '{"placement_groups":[{"id":"ed6f0ad2-af26-4250-bed7-39f34dd02017","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </placement_groups?page=1&per_page=50&name=test-ds-instance-placement-group-basic>;
        rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/ed6f0ad2-af26-4250-bed7-39f34dd02017
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"ed6f0ad2-af26-4250-bed7-39f34dd02017","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
