---
version: 2
interactions:
- request:
    body: '{"name":"tf-security-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group":{"creation_date":"2023-12-05T12:33:22.593748+00:00","description":null,"enable_default_security":true,"id":"8d8b7210-8c00-4175-b01a-65b67acd823d","inbound_default_policy":"accept","modification_date":"2023-12-05T12:33:22.593748+00:00","name":"tf-security-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"syncing","stateful":true,"tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/8d8b7210-8c00-4175-b01a-65b67acd823d
    status: 201 Created
    code: 201
- request:
    body: '{"name":"tf-security-group","enable_default_security":true,"inbound_default_policy":"accept","tags":[],"outbound_default_policy":"accept","stateful":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/8d8b7210-8c00-4175-b01a-65b67acd823d
    method: PATCH
  response:
    body: '{"security_group":{"creation_date":"2023-12-05T12:33:22.593748+00:00","description":null,"enable_default_security":true,"id":"8d8b7210-8c00-4175-b01a-65b67acd823d","inbound_default_policy":"accept","modification_date":"2023-12-05T12:33:22.593748+00:00","name":"tf-security-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"syncing","stateful":true,"tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"rules":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/8d8b7210-8c00-4175-b01a-65b67acd823d/rules
    method: PUT
  response:
    body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"58909be7-d17c-4ac8-9eb3-23d5fc58abc5","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"25680235-108b-4bbc-8e25-114303d950bd","ip_range":"0.0.0.0/0","position":2,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest_port_to":null,"direction":"outbound","editable":false,"id":"4a31b633-118e-4900-bd52-facf1085fc8d","ip_range":"0.0.0.0/0","position":3,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"e7dd28e8-3747-4c7c-9a4f-35ae3f0ae2cd","ip_range":"::/0","position":4,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"f37d9e7c-8ed7-4e0f-baff-7f5e7ede0baf","ip_range":"::/0","position":5,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest_port_to":null,"direction":"outbound","editable":false,"id":"68054851-54e3-46c9-9cd7-83219751248b","ip_range":"::/0","position":6,"protocol":"TCP","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/8d8b7210-8c00-4175-b01a-65b67acd823d/rules?page=1
    method: GET
  response:
    body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"58909be7-d17c-4ac8-9eb3-23d5fc58abc5","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"d[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups?name=tf-security-group&page=1
    method: GET
  response:
    body: '{"security_groups":[{"creation_date":"2023-12-05T12:33:22.593748+00:00","description":null,"enable_default_security":true,"id":"8d8b7210-8c00-4175-b01a-65b67acd823d","inbound_default_policy":"accept","modification_date":"2023-12-05T12:33:22.593748+00:00","name":"tf-security-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"syncing","stateful":true,"tags":[],"zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </security_groups?page=1&per_page=50&name=tf-security-group>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/8d8b7210-8c00-4175-b01a-65b67acd823d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_security_group","resource_id":"8d8b7210-8c00-4175-b01a-65b67acd823d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
