---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"9405b8d4-3724-44cc-a25d-e16be5496204\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"96fcefbd-2ed0-4aea-993d-d3a4107aa12f\", \"address\": \"51.159.189.72\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"9405b8d4-3724-44cc-a25d-e16be5496204\", \"project\": \"9405b8d4-3724-44cc-a25d-e16be5496204\", \"zone\": \"fr-par-2\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"aa2e6f4d-cfc5-4d2b-aa8e-5e5079ed1d89\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/96fcefbd-2ed0-4aea-993d-d3a4107aa12f
    status: 201 Created
    code: 201
    duration: 759.908881ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/96fcefbd-2ed0-4aea-993d-d3a4107aa12f
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"96fcefbd-2ed0-4aea-993d-d3a4107aa12f\", \"address\": \"51.159.189.72\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"9405b8d4-3724-44cc-a25d-e16be5496204\", \"project\": \"9405b8d4-3724-44cc-a25d-e16be5496204\", \"zone\": \"fr-par-2\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"aa2e6f4d-cfc5-4d2b-aa8e-5e5079ed1d89\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.751297ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/51.159.189.72
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"96fcefbd-2ed0-4aea-993d-d3a4107aa12f\", \"address\": \"51.159.189.72\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"9405b8d4-3724-44cc-a25d-e16be5496204\", \"project\": \"9405b8d4-3724-44cc-a25d-e16be5496204\", \"zone\": \"fr-par-2\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"aa2e6f4d-cfc5-4d2b-aa8e-5e5079ed1d89\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.319851ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/96fcefbd-2ed0-4aea-993d-d3a4107aa12f
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_ip\", \"resource_id\": \"96fcefbd-2ed0-4aea-993d-d3a4107aa12f\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 105.752235ms
[...]
