---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ds-instance-placement-group-basic","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-ds-instance-placement-group-basic", "id":"d71de19f-1b23-46a6-b752-a95599adb839", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-30T12:56:30.285941Z", "updated_at":"2026-07-30T12:56:30.285941Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.551255ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d71de19f-1b23-46a6-b752-a95599adb839
        method: PATCH
      response:
        body: '{"placement_group": {"id": "d71de19f-1b23-46a6-b752-a95599adb839", "name": "test-ds-instance-placement-group-basic", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.901576ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/d71de19f-1b23-46a6-b752-a95599adb839
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-ds-instance-placement-group-basic", "id":"d71de19f-1b23-46a6-b752-a95599adb839", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-30T12:56:30.285941Z", "updated_at":"2026-07-30T12:56:30.285941Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.749479ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - test-ds-instance-placement-group-basic
            order_by:
                - created_at_desc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups?name=test-ds-instance-placement-group-basic&order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"placement_groups":[{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-ds-instance-placement-group-basic", "id":"d71de19f-1b23-46a6-b752-a95599adb839", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-30T12:56:30.285941Z", "updated_at":"2026-07-30T12:56:30.285941Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.177126ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/d71de19f-1b23-46a6-b752-a95599adb839
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"d71de19f-1b23-46a6-b752-a95599adb839","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.680172ms
[...]
