---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips
        method: POST
      response:
        body: '{"ip": {"id": "44750e97-94c5-4a6a-ac73-15e605fc9e5b", "address": "51.159.186.67", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "44750e97-94c5-4a6a-ac73-15e605fc9e5b"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/44750e97-94c5-4a6a-ac73-15e605fc9e5b
        status: 201 Created
        code: 201
        duration: 566.230237ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/51.159.186.67
        method: GET
      response:
        body: '{"ip": {"id": "44750e97-94c5-4a6a-ac73-15e605fc9e5b", "address": "51.159.186.67", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "44750e97-94c5-4a6a-ac73-15e605fc9e5b"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.796324ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b05fb237-bb51-41c5-86ee-775ee6444292
        method: GET
      response:
        body: '{"ip": {"id": "b05fb237-bb51-41c5-86ee-775ee6444292", "address": "163.172.159.60", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "b05fb237-bb51-41c5-86ee-775ee6444292"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.34911ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b05fb237-bb51-41c5-86ee-775ee6444292
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "b05fb237-bb51-41c5-86ee-775ee6444292"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.549422ms
[...]
