---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"01cdc811-7feb-416f-9933-c74defd40b17\", \"address\": \"51.15.140.102\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"6dd5abe6-4bb9-4ed3-889d-6b165669eff2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/01cdc811-7feb-416f-9933-c74defd40b17
    status: 201 Created
    code: 201
    duration: 476.199862ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/01cdc811-7feb-416f-9933-c74defd40b17
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"01cdc811-7feb-416f-9933-c74defd40b17\", \"address\": \"51.15.140.102\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"6dd5abe6-4bb9-4ed3-889d-6b165669eff2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 152.16838ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.140.102
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"01cdc811-7feb-416f-9933-c74defd40b17\", \"address\": \"51.15.140.102\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"6dd5abe6-4bb9-4ed3-889d-6b165669eff2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.450205ms
[...]
