---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","volume_type":"l_ssd","size":2000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-09-08T07:18:02.648681+00:00","export_uri":null,"id":"7f0df598-8930-4dfb-ae74-b3e5d895ecd0","modification_date":"2025-09-08T07:18:02.648681+00:00","name":"tf-volume","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7f0df598-8930-4dfb-ae74-b3e5d895ecd0
        status: 201 Created
        code: 201
        duration: 309.585042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7f0df598-8930-4dfb-ae74-b3e5d895ecd0
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-09-08T07:18:02.648681+00:00","export_uri":null,"id":"7f0df598-8930-4dfb-ae74-b3e5d895ecd0","modification_date":"2025-09-08T07:18:02.648681+00:00","name":"tf-volume","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.656875ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
        method: GET
      response:
        body: '{"volumes":[{"creation_date":"2025-09-08T07:18:02.648681+00:00","export_uri":null,"id":"7f0df598-8930-4dfb-ae74-b3e5d895ecd0","modification_date":"2025-09-08T07:18:02.648681+00:00","name":"tf-volume","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.69175ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7f0df598-8930-4dfb-ae74-b3e5d895ecd0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"7f0df598-8930-4dfb-ae74-b3e5d895ecd0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.6195ms
[...]
