---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips
        method: POST
      response:
        body: '{"ip": {"id": "3f955051-678b-4372-b9e9-fd353aa466de", "address": "51.159.170.191", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3f955051-678b-4372-b9e9-fd353aa466de"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/3f955051-678b-4372-b9e9-fd353aa466de
        status: 201 Created
        code: 201
        duration: 393.453533ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/3f955051-678b-4372-b9e9-fd353aa466de
        method: GET
      response:
        body: '{"ip": {"id": "3f955051-678b-4372-b9e9-fd353aa466de", "address": "51.159.170.191", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3f955051-678b-4372-b9e9-fd353aa466de"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.344455ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/51.159.170.191
        method: GET
      response:
        body: '{"ip": {"id": "3f955051-678b-4372-b9e9-fd353aa466de", "address": "51.159.170.191", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-2", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3f955051-678b-4372-b9e9-fd353aa466de"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.649007ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/32d08b2c-0809-47d9-9a76-65be1cb6cea0
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "32d08b2c-0809-47d9-9a76-65be1cb6cea0"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.27958ms
[...]
