---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":2000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "52824592-726e-4e0f-9cc3-e83760aa2ab0", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000, "state": "available", "creation_date": "2025-10-29T22:53:55.233968+00:00", "modification_date": "2025-10-29T22:53:55.233968+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/52824592-726e-4e0f-9cc3-e83760aa2ab0
        status: 201 Created
        code: 201
        duration: 200.797163ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/52824592-726e-4e0f-9cc3-e83760aa2ab0
        method: GET
      response:
        body: '{"volume": {"id": "52824592-726e-4e0f-9cc3-e83760aa2ab0", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000, "state": "available", "creation_date": "2025-10-29T22:53:55.233968+00:00", "modification_date": "2025-10-29T22:53:55.233968+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.625883ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form:
            name:
                - tf-volume
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
        method: GET
      response:
        body: '{"volumes": [{"id": "52824592-726e-4e0f-9cc3-e83760aa2ab0", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000, "state": "available", "creation_date": "2025-10-29T22:53:55.233968+00:00", "modification_date": "2025-10-29T22:53:55.233968+00:00", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 118.244946ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/52824592-726e-4e0f-9cc3-e83760aa2ab0
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "52824592-726e-4e0f-9cc3-e83760aa2ab0"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.165173ms
[...]
