---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-security-group","project":"951df375-e094-4d26-97c1-ba548eeb9c42","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group":{"creation_date":"2025-05-23T15:50:00.018168+00:00","description":null,"enable_default_security":true,"id":"73b960e8-a448-46d8-b9d7-887f1792cb6a","inbound_default_policy":"accept","modification_date":"2025-05-23T15:50:00.018168+00:00","name":"tf-security-group","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","organization_default":false,"outbound_default_policy":"accept","project":"951df375-e094-4d26-97c1-ba548eeb9c42","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/73b960e8-a448-46d8-b9d7-887f1792cb6a
        status: 201 Created
        code: 201
        duration: 358.828583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-security-group","enable_default_security":true,"inbound_default_policy":"accept","tags":[],"outbound_default_policy":"accept","stateful":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/73b960e8-a448-46d8-b9d7-887f1792cb6a
        method: PATCH
      response:
        body: '{"security_group":{"creation_date":"2025-05-23T15:50:00.018168+00:00","description":null,"enable_default_security":true,"id":"73b960e8-a448-46d8-b9d7-887f1792cb6a","inbound_default_policy":"accept","modification_date":"2025-05-23T15:50:00.018168+00:00","name":"tf-security-group","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","organization_default":false,"outbound_default_policy":"accept","project":"951df375-e094-4d26-97c1-ba548eeb9c42","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.863083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/73b960e8-a448-46d8-b9d7-887f1792cb6a/rules
        method: PUT
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000002","ip_range":"0.0.0.0/0","position":2,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000003","ip_range":"0.0.0.0/0","position":3,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000004","ip_range":"::/0","position":4,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000005","ip_range":"::/0","position":5,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000006","ip_range":"::/0","position":6,"protocol":"TCP","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.674333ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/73b960e8-a448-46d8-b9d7-887f1792cb6a/rules?page=1
        method: GET
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups?name=tf-security-group&page=1
        method: GET
      response:
        body: '{"security_groups":[{"creation_date":"2025-05-23T15:50:00.018168+00:00","description":null,"enable_default_security":true,"id":"73b960e8-a448-46d8-b9d7-887f1792cb6a","inbound_default_policy":"accept","modification_date":"2025-05-23T15:50:00.018168+00:00","name":"tf-security-group","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","organization_default":false,"outbound_default_policy":"accept","project":"951df375-e094-4d26-97c1-ba548eeb9c42","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </security_groups?page=1&per_page=50&name=tf-security-group>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 58.072916ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/73b960e8-a448-46d8-b9d7-887f1792cb6a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_security_group","resource_id":"73b960e8-a448-46d8-b9d7-887f1792cb6a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.143625ms
[...]
