---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/cf44b8f5-77e2-42ed-8f1e-09ed5bb028fc
        method: GET
      response:
        body: '{"image": {"id": "cf44b8f5-77e2-42ed-8f1e-09ed5bb028fc", "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "6e66445c-e52e-4cfa-bf4c-f36e291e2c30", "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2020-07-09T10:38:16.265025+00:00", "modification_date": "2020-07-09T10:38:16.265025+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.389785ms
[...]
