---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-ds-instance-placement-group-basic","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"test-ds-instance-placement-group-basic", "id":"a199619c-1705-4d4b-9be1-40229816e743", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-21T09:46:46.507169Z", "updated_at":"2026-07-21T09:46:46.507169Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.563981ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/a199619c-1705-4d4b-9be1-40229816e743
        method: PATCH
      response:
        body: '{"placement_group": {"id": "a199619c-1705-4d4b-9be1-40229816e743", "name": "test-ds-instance-placement-group-basic", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.583232ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/a199619c-1705-4d4b-9be1-40229816e743
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"test-ds-instance-placement-group-basic", "id":"a199619c-1705-4d4b-9be1-40229816e743", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-21T09:46:46.507169Z", "updated_at":"2026-07-21T09:46:46.507169Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.167446ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - test-ds-instance-placement-group-basic
            order_by:
                - created_at_desc
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups?name=test-ds-instance-placement-group-basic&order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"placement_groups":[{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"test-ds-instance-placement-group-basic", "id":"a199619c-1705-4d4b-9be1-40229816e743", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-21T09:46:46.507169Z", "updated_at":"2026-07-21T09:46:46.507169Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.995638ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/a199619c-1705-4d4b-9be1-40229816e743
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"a199619c-1705-4d4b-9be1-40229816e743","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.649662ms
[...]
