---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-modest-shirley","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":2000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"details":[{"argument_name":"volume_type","help_message":"Use Scaleway Block Storage (SBS) volumes instead. More details on https://www.scaleway.com/en/developers/api/instance/#path-volumes-migrate-a-volume-andor-snapshots-to-sbs-scaleway-block-storage for migrationand https://www.scaleway.com/en/developers/api/block/#path-volume-create-a-volume about Scaleway Block Storage volume","reason":"constraint"}],"message":"b_ssd volumes are no longer supported","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 169.996125ms
