---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":2000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:38.933603+00:00","export_uri":null,"id":"3cdd61ea-c8bf-47de-9687-d590b1d6851f","modification_date":"2025-01-27T13:47:38.933603+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3cdd61ea-c8bf-47de-9687-d590b1d6851f
        status: 201 Created
        code: 201
        duration: 209.068792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3cdd61ea-c8bf-47de-9687-d590b1d6851f
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:38.933603+00:00","export_uri":null,"id":"3cdd61ea-c8bf-47de-9687-d590b1d6851f","modification_date":"2025-01-27T13:47:38.933603+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.652209ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
        method: GET
      response:
        body: '{"volumes":[{"creation_date":"2025-01-27T13:47:38.933603+00:00","export_uri":null,"id":"3cdd61ea-c8bf-47de-9687-d590b1d6851f","modification_date":"2025-01-27T13:47:38.933603+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.10375ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3cdd61ea-c8bf-47de-9687-d590b1d6851f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"3cdd61ea-c8bf-47de-9687-d590b1d6851f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.340334ms
[...]
