---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-ds-instance-placement-group-basic","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"9f4f7538-3e60-40c7-9bbe-9707368e6cb8","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/9f4f7538-3e60-40c7-9bbe-9707368e6cb8
        status: 201 Created
        code: 201
        duration: 759.051954ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/9f4f7538-3e60-40c7-9bbe-9707368e6cb8
        method: GET
      response:
        body: '{"placement_group":{"id":"9f4f7538-3e60-40c7-9bbe-9707368e6cb8","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.109315ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups?name=test-ds-instance-placement-group-basic
        method: GET
      response:
        body: '{"placement_groups":[{"id":"9f4f7538-3e60-40c7-9bbe-9707368e6cb8","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </placement_groups?page=1&per_page=50&name=test-ds-instance-placement-group-basic>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 195.938927ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/9f4f7538-3e60-40c7-9bbe-9707368e6cb8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"9f4f7538-3e60-40c7-9bbe-9707368e6cb8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.218621ms
[...]
