---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"volume_type\":\"l_ssd\",\"size\":2000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"c7e378db-29c1-4f91-b402-db75fc98c5d5\", \"name\": \"tf-volume\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 2000000000, \"state\": \"available\", \"creation_date\": \"2025-10-30T15:43:00.513711+00:00\", \"modification_date\": \"2025-10-30T15:43:00.513711+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c7e378db-29c1-4f91-b402-db75fc98c5d5
    status: 201 Created
    code: 201
    duration: 227.787761ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c7e378db-29c1-4f91-b402-db75fc98c5d5
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"c7e378db-29c1-4f91-b402-db75fc98c5d5\", \"name\": \"tf-volume\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 2000000000, \"state\": \"available\", \"creation_date\": \"2025-10-30T15:43:00.513711+00:00\", \"modification_date\": \"2025-10-30T15:43:00.513711+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.195213ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-volume
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
    method: GET
  response:
    body: "{\"volumes\": [{\"id\": \"c7e378db-29c1-4f91-b402-db75fc98c5d5\", \"name\": \"tf-volume\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 2000000000, \"state\": \"available\", \"creation_date\": \"2025-10-30T15:43:00.513711+00:00\", \"modification_date\": \"2025-10-30T15:43:00.513711+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 145.942253ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c7e378db-29c1-4f91-b402-db75fc98c5d5
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"c7e378db-29c1-4f91-b402-db75fc98c5d5\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.225797ms
[...]
