---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-ds-instance-placement-group-basic\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"policy_mode\":\"optional\",\"policy_type\":\"max_availability\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: "{\"placement_group\": {\"id\": \"d440cb87-ad60-4197-bfd6-730216837c8e\", \"name\": \"test-ds-instance-placement-group-basic\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d440cb87-ad60-4197-bfd6-730216837c8e
    status: 201 Created
    code: 201
    duration: 309.241937ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d440cb87-ad60-4197-bfd6-730216837c8e
    method: GET
  response:
    body: "{\"placement_group\": {\"id\": \"d440cb87-ad60-4197-bfd6-730216837c8e\", \"name\": \"test-ds-instance-placement-group-basic\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 195.672465ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - test-ds-instance-placement-group-basic
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups?name=test-ds-instance-placement-group-basic
    method: GET
  response:
    body: "{\"placement_groups\": [{\"id\": \"d440cb87-ad60-4197-bfd6-730216837c8e\", \"name\": \"test-ds-instance-placement-group-basic\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </placement_groups?page=1&per_page=50&name=test-ds-instance-placement-group-basic>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 227.525422ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d440cb87-ad60-4197-bfd6-730216837c8e
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_placement_group\", \"resource_id\": \"d440cb87-ad60-4197-bfd6-730216837c8e\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 120.701178ms
[...]
