---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "0c4b65a4-06f9-4390-b389-6e6eaac57aaa", "address": "51.15.209.90", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "0c4b65a4-06f9-4390-b389-6e6eaac57aaa"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/0c4b65a4-06f9-4390-b389-6e6eaac57aaa
        status: 201 Created
        code: 201
        duration: 590.169657ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/0c4b65a4-06f9-4390-b389-6e6eaac57aaa
        method: GET
      response:
        body: '{"ip": {"id": "0c4b65a4-06f9-4390-b389-6e6eaac57aaa", "address": "51.15.209.90", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "0c4b65a4-06f9-4390-b389-6e6eaac57aaa"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.381715ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.209.90
        method: GET
      response:
        body: '{"ip": {"id": "0c4b65a4-06f9-4390-b389-6e6eaac57aaa", "address": "51.15.209.90", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "0c4b65a4-06f9-4390-b389-6e6eaac57aaa"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.002276ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/0c4b65a4-06f9-4390-b389-6e6eaac57aaa
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "0c4b65a4-06f9-4390-b389-6e6eaac57aaa"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.06033ms
[...]
