---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":2000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-05-23T15:16:25.518723+00:00","export_uri":null,"id":"3c2048af-39b2-4153-b574-3f1cd6b68324","modification_date":"2025-05-23T15:16:25.518723+00:00","name":"tf-volume","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","project":"951df375-e094-4d26-97c1-ba548eeb9c42","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3c2048af-39b2-4153-b574-3f1cd6b68324
        status: 201 Created
        code: 201
        duration: 363.7785ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3c2048af-39b2-4153-b574-3f1cd6b68324
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-05-23T15:16:25.518723+00:00","export_uri":null,"id":"3c2048af-39b2-4153-b574-3f1cd6b68324","modification_date":"2025-05-23T15:16:25.518723+00:00","name":"tf-volume","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","project":"951df375-e094-4d26-97c1-ba548eeb9c42","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.941625ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
        method: GET
      response:
        body: '{"volumes":[{"creation_date":"2025-05-23T15:16:25.518723+00:00","export_uri":null,"id":"3c2048af-39b2-4153-b574-3f1cd6b68324","modification_date":"2025-05-23T15:16:25.518723+00:00","name":"tf-volume","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","project":"951df375-e094-4d26-97c1-ba548eeb9c42","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.725958ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3c2048af-39b2-4153-b574-3f1cd6b68324
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"3c2048af-39b2-4153-b574-3f1cd6b68324","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.230625ms
[...]
