---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":2000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:06.534165+00:00","export_uri":null,"id":"8485ba8c-49c7-4310-9edd-9323b9eb5064","modification_date":"2025-06-10T15:30:06.534165+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8485ba8c-49c7-4310-9edd-9323b9eb5064
        status: 201 Created
        code: 201
        duration: 268.523957ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8485ba8c-49c7-4310-9edd-9323b9eb5064
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:06.534165+00:00","export_uri":null,"id":"8485ba8c-49c7-4310-9edd-9323b9eb5064","modification_date":"2025-06-10T15:30:06.534165+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.24492ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
        method: GET
      response:
        body: '{"volumes":[{"creation_date":"2025-06-10T15:30:06.534165+00:00","export_uri":null,"id":"8485ba8c-49c7-4310-9edd-9323b9eb5064","modification_date":"2025-06-10T15:30:06.534165+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 130.429421ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8485ba8c-49c7-4310-9edd-9323b9eb5064
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"8485ba8c-49c7-4310-9edd-9323b9eb5064","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 67.994199ms
[...]
