---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":2000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "46534ecb-1911-4036-97c7-9184e765c507", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000, "state": "available", "creation_date": "2026-05-12T16:49:58.331588+00:00", "modification_date": "2026-05-12T16:49:58.331588+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/46534ecb-1911-4036-97c7-9184e765c507
        status: 201 Created
        code: 201
        duration: 240.672832ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/46534ecb-1911-4036-97c7-9184e765c507
        method: GET
      response:
        body: '{"volume": {"id": "46534ecb-1911-4036-97c7-9184e765c507", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000, "state": "available", "creation_date": "2026-05-12T16:49:58.331588+00:00", "modification_date": "2026-05-12T16:49:58.331588+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.601142ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - tf-volume
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
        method: GET
      response:
        body: '{"volumes": [{"id": "46534ecb-1911-4036-97c7-9184e765c507", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000, "state": "available", "creation_date": "2026-05-12T16:49:58.331588+00:00", "modification_date": "2026-05-12T16:49:58.331588+00:00", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 60.444005ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/46534ecb-1911-4036-97c7-9184e765c507
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "46534ecb-1911-4036-97c7-9184e765c507"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.565814ms
[...]
