---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-elastic-thompson","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":2000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:48:42.299945+00:00","export_uri":null,"id":"2a478f78-5e6d-4385-abaf-3f24740c7a7a","modification_date":"2025-01-27T13:48:42.299945+00:00","name":"tf-vol-elastic-thompson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2a478f78-5e6d-4385-abaf-3f24740c7a7a
        status: 201 Created
        code: 201
        duration: 185.910917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2a478f78-5e6d-4385-abaf-3f24740c7a7a
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:48:42.299945+00:00","export_uri":null,"id":"2a478f78-5e6d-4385-abaf-3f24740c7a7a","modification_date":"2025-01-27T13:48:42.299945+00:00","name":"tf-vol-elastic-thompson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.9605ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-snapshot-ds-basic","volume_id":"2a478f78-5e6d-4385-abaf-3f24740c7a7a","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"snapshot":{"base_volume":{"id":"2a478f78-5e6d-4385-abaf-3f24740c7a7a","name":"tf-vol-elastic-thompson"},"creation_date":"2025-01-27T13:48:42.652734+00:00","error_details":null,"id":"7fd238d6-a920-4725-8954-b4068051fdc4","modification_date":"2025-01-27T13:48:42.652734+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"volume_snapshot","href_from":"/snapshots","href_result":"snapshots/7fd238d6-a920-4725-8954-b4068051fdc4","id":"1cf7f937-adf4-4863-948b-e50b68de6fc9","progress":0,"started_at":"2025-01-27T13:48:42.832797+00:00","status":"pending","terminated_at":null,"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 449.860833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/7fd238d6-a920-4725-8954-b4068051fdc4
        method: GET
      response:
        body: '{"snapshot":{"base_volume":{"id":"2a478f78-5e6d-4385-abaf-3f24740c7a7a","name":"tf-vol-elastic-thompson"},"creation_date":"2025-01-27T13:48:42.652734+00:00","error_details":null,"id":"7fd238d6-a920-4725-8954-b4068051fdc4","modification_date":"2025-01-27T13:48:42.652734+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.915333ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=tf-snapshot-ds-basic
        method: GET
      response:
        body: '{"snapshots":[{"base_volume":{"id":"2a478f78-5e6d-4385-abaf-3f24740c7a7a","name":"tf-vol-elastic-thompson"},"creation_date":"2025-01-27T13:48:42.652734+00:00","error_details":null,"id":"7fd238d6-a920-4725-8954-b4068051fdc4","modification_date":"2025-01-27T13:48:45.053160+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&name=tf-snapshot-ds-basic>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 217.986667ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/7fd238d6-a920-4725-8954-b4068051fdc4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"7fd238d6-a920-4725-8954-b4068051fdc4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.618041ms
[...]
