---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.135.95","id":"24d12111-e484-4cba-aca8-1984cca2cf55","ipam_id":"58574316-595e-4208-9a04-ed8dc7c33119","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/24d12111-e484-4cba-aca8-1984cca2cf55
        status: 201 Created
        code: 201
        duration: 580.281454ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/24d12111-e484-4cba-aca8-1984cca2cf55
        method: GET
      response:
        body: '{"ip":{"address":"51.15.135.95","id":"24d12111-e484-4cba-aca8-1984cca2cf55","ipam_id":"58574316-595e-4208-9a04-ed8dc7c33119","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.257253ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.135.95
        method: GET
      response:
        body: '{"ip":{"address":"51.15.135.95","id":"24d12111-e484-4cba-aca8-1984cca2cf55","ipam_id":"58574316-595e-4208-9a04-ed8dc7c33119","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.763449ms
[...]
