---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "65a60f6b-fa89-4e49-bc25-fced17fa3df3", "address": "51.15.236.240", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3199c4d1-78f4-4a50-be36-e3c6e04c658f"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/65a60f6b-fa89-4e49-bc25-fced17fa3df3
        status: 201 Created
        code: 201
        duration: 1.119382123s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/65a60f6b-fa89-4e49-bc25-fced17fa3df3
        method: GET
      response:
        body: '{"ip": {"id": "65a60f6b-fa89-4e49-bc25-fced17fa3df3", "address": "51.15.236.240", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3199c4d1-78f4-4a50-be36-e3c6e04c658f"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.555431ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.236.240
        method: GET
      response:
        body: '{"ip": {"id": "65a60f6b-fa89-4e49-bc25-fced17fa3df3", "address": "51.15.236.240", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3199c4d1-78f4-4a50-be36-e3c6e04c658f"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.801065ms
[...]
