---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "90384280-6696-4314-8c3b-be73152fd5b3", "address": "51.158.124.137", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "90384280-6696-4314-8c3b-be73152fd5b3"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/90384280-6696-4314-8c3b-be73152fd5b3
        status: 201 Created
        code: 201
        duration: 334.484928ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.158.124.137
        method: GET
      response:
        body: '{"ip": {"id": "90384280-6696-4314-8c3b-be73152fd5b3", "address": "51.158.124.137", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "90384280-6696-4314-8c3b-be73152fd5b3"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.736933ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/90384280-6696-4314-8c3b-be73152fd5b3
        method: GET
      response:
        body: '{"ip": {"id": "90384280-6696-4314-8c3b-be73152fd5b3", "address": "51.158.124.137", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "90384280-6696-4314-8c3b-be73152fd5b3"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.894935ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/f8c67d6e-cba4-4990-89f5-ca4af96affef
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "f8c67d6e-cba4-4990-89f5-ca4af96affef"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.796738ms
[...]
