---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-ds-instance-placement-group-basic","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"5135cca4-8b99-48df-9ab0-08a39f8d8cbb","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/5135cca4-8b99-48df-9ab0-08a39f8d8cbb
        status: 201 Created
        code: 201
        duration: 281.89875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/5135cca4-8b99-48df-9ab0-08a39f8d8cbb
        method: GET
      response:
        body: '{"placement_group":{"id":"5135cca4-8b99-48df-9ab0-08a39f8d8cbb","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.789958ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups?name=test-ds-instance-placement-group-basic
        method: GET
      response:
        body: '{"placement_groups":[{"id":"5135cca4-8b99-48df-9ab0-08a39f8d8cbb","name":"test-ds-instance-placement-group-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </placement_groups?page=1&per_page=50&name=test-ds-instance-placement-group-basic>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 134.909458ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/5135cca4-8b99-48df-9ab0-08a39f8d8cbb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"5135cca4-8b99-48df-9ab0-08a39f8d8cbb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.062667ms
[...]
