---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-security-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group":{"creation_date":"2025-10-15T15:03:19.681123+00:00","description":null,"enable_default_security":true,"id":"52f7999e-76d3-4bee-9d01-c29e3ecf8dfa","inbound_default_policy":"accept","modification_date":"2025-10-15T15:03:19.681123+00:00","name":"tf-security-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/52f7999e-76d3-4bee-9d01-c29e3ecf8dfa
        status: 201 Created
        code: 201
        duration: 180.482078ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-security-group","enable_default_security":true,"inbound_default_policy":"accept","tags":[],"outbound_default_policy":"accept","stateful":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/52f7999e-76d3-4bee-9d01-c29e3ecf8dfa
        method: PATCH
      response:
        body: '{"security_group":{"creation_date":"2025-10-15T15:03:19.681123+00:00","description":null,"enable_default_security":true,"id":"52f7999e-76d3-4bee-9d01-c29e3ecf8dfa","inbound_default_policy":"accept","modification_date":"2025-10-15T15:03:19.681123+00:00","name":"tf-security-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.765775ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/52f7999e-76d3-4bee-9d01-c29e3ecf8dfa/rules
        method: PUT
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000002","ip_range":"0.0.0.0/0","position":2,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000003","ip_range":"0.0.0.0/0","position":3,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000004","ip_range":"::/0","position":4,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000005","ip_range":"::/0","position":5,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000006","ip_range":"::/0","position":6,"protocol":"TCP","zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.113447ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/52f7999e-76d3-4bee-9d01-c29e3ecf8dfa/rules?page=1
        method: GET
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups?name=tf-security-group&page=1
        method: GET
      response:
        body: '{"security_groups":[{"creation_date":"2025-10-15T15:03:19.681123+00:00","description":null,"enable_default_security":true,"id":"52f7999e-76d3-4bee-9d01-c29e3ecf8dfa","inbound_default_policy":"accept","modification_date":"2025-10-15T15:03:19.681123+00:00","name":"tf-security-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </security_groups?page=1&per_page=50&name=tf-security-group>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 120.068801ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/52f7999e-76d3-4bee-9d01-c29e3ecf8dfa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_security_group","resource_id":"52f7999e-76d3-4bee-9d01-c29e3ecf8dfa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.854657ms
[...]
