---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-interesting-clarke","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":50000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-01-27T13:53:21.382696Z","id":"ff2cc3e7-7aab-4a0d-a534-b9742f8fae09","last_detached_at":null,"name":"tf-volume-interesting-clarke","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-27T13:53:21.382696Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.454333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/ff2cc3e7-7aab-4a0d-a534-b9742f8fae09
        method: GET
      response:
        body: '{"created_at":"2025-01-27T13:53:21.382696Z","id":"ff2cc3e7-7aab-4a0d-a534-b9742f8fae09","last_detached_at":null,"name":"tf-volume-interesting-clarke","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-01-27T13:53:21.382696Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.217958ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"ff2cc3e7-7aab-4a0d-a534-b9742f8fae09","name":"tf-snapshot-nifty-knuth","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-01-27T13:53:26.819839Z","id":"05b1f441-446f-4db5-82f1-03ffef072fa8","name":"tf-snapshot-nifty-knuth","parent_volume":{"id":"ff2cc3e7-7aab-4a0d-a534-b9742f8fae09","name":"tf-volume-interesting-clarke","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2025-01-27T13:53:26.819839Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.704583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/05b1f441-446f-4db5-82f1-03ffef072fa8
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-01-27T13:53:26.819839Z","id":"05b1f441-446f-4db5-82f1-03ffef072fa8","name":"tf-snapshot-nifty-knuth","parent_volume":{"id":"ff2cc3e7-7aab-4a0d-a534-b9742f8fae09","name":"tf-volume-interesting-clarke","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2025-01-27T13:53:26.819839Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.878833ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"05b1f441-446f-4db5-82f1-03ffef072fa8","arch":"x86_64","extra_volumes":{"1":{"id":"af6a35bb-f649-4861-b8ab-4e533c52b92e"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-01-27T13:53:44.432839+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"af6a35bb-f649-4861-b8ab-4e533c52b92e","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"fae22aec-ae2c-457d-8841-590359a8848f","modification_date":"2025-01-27T13:53:44.432839+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"05b1f441-446f-4db5-82f1-03ffef072fa8","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/fae22aec-ae2c-457d-8841-590359a8848f
        status: 201 Created
        code: 201
        duration: 712.508125ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/fae22aec-ae2c-457d-8841-590359a8848f
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-01-27T13:53:44.432839+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"af6a35bb-f649-4861-b8ab-4e533c52b92e","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"fae22aec-ae2c-457d-8841-590359a8848f","modification_date":"2025-01-27T13:53:44.432839+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"05b1f441-446f-4db5-82f1-03ffef072fa8","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.759792ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/05b1f441-446f-4db5-82f1-03ffef072fa8
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-01-27T13:53:26.819839Z","id":"05b1f441-446f-4db5-82f1-03ffef072fa8","name":"tf-snapshot-nifty-knuth","parent_volume":{"id":"ff2cc3e7-7aab-4a0d-a534-b9742f8fae09","name":"tf-volume-interesting-clarke","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[{"created_at":"2025-01-27T13:53:44.509141Z","id":"0b8b492b-d653-4bdf-9dac-76b7336829b0","product_resource_id":"fae22aec-ae2c-457d-8841-590359a8848f","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":50000000000,"status":"in_use","tags":[],"updated_at":"2025-01-27T13:53:44.509141Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.797417ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/fae22aec-ae2c-457d-8841-590359a8848f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"fae22aec-ae2c-457d-8841-590359a8848f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.024167ms
[...]
