---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-wizardly-dijkstra","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"666e2b82-98a4-4a21-a2dc-6db8215b700a","name":"tf-volume-wizardly-dijkstra","type":"sbs_5k","size":20000000000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-07-21T13:15:57.115221Z","updated_at":"2026-07-21T13:15:57.115221Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 354.076125ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/666e2b82-98a4-4a21-a2dc-6db8215b700a
        method: GET
      response:
        body: '{"id":"666e2b82-98a4-4a21-a2dc-6db8215b700a","name":"tf-volume-wizardly-dijkstra","type":"sbs_5k","size":20000000000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-07-21T13:15:57.115221Z","updated_at":"2026-07-21T13:15:57.224719Z","references":[],"parent_snapshot_id":null,"status":"available","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.28512ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"666e2b82-98a4-4a21-a2dc-6db8215b700a","name":"tf-snapshot-infallible-wescoff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"e17c58e2-acd3-41fc-8379-e5ffe66c8083","name":"tf-snapshot-infallible-wescoff","parent_volume":{"id":"666e2b82-98a4-4a21-a2dc-6db8215b700a","name":"tf-volume-wizardly-dijkstra","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-07-21T13:15:57.775718Z","updated_at":"2026-07-21T13:15:57.775718Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.862906ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e17c58e2-acd3-41fc-8379-e5ffe66c8083
        method: GET
      response:
        body: '{"id":"e17c58e2-acd3-41fc-8379-e5ffe66c8083","name":"tf-snapshot-infallible-wescoff","parent_volume":{"id":"666e2b82-98a4-4a21-a2dc-6db8215b700a","name":"tf-volume-wizardly-dijkstra","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-07-21T13:15:57.775718Z","updated_at":"2026-07-21T13:15:57.775718Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.361734ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-wonderful-easley","root_volume":"e17c58e2-acd3-41fc-8379-e5ffe66c8083","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "975075f5-08ad-44ac-9c42-01e058b3347c", "name": "tf-image-wonderful-easley", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "e17c58e2-acd3-41fc-8379-e5ffe66c8083", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-07-21T13:16:03.563720+00:00", "modification_date": "2026-07-21T13:16:03.563720+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/975075f5-08ad-44ac-9c42-01e058b3347c
        status: 201 Created
        code: 201
        duration: 658.840684ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/975075f5-08ad-44ac-9c42-01e058b3347c
        method: GET
      response:
        body: '{"image": {"id": "975075f5-08ad-44ac-9c42-01e058b3347c", "name": "tf-image-wonderful-easley", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "e17c58e2-acd3-41fc-8379-e5ffe66c8083", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-07-21T13:16:03.563720+00:00", "modification_date": "2026-07-21T13:16:03.563720+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.833719ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e17c58e2-acd3-41fc-8379-e5ffe66c8083
        method: GET
      response:
        body: '{"id":"e17c58e2-acd3-41fc-8379-e5ffe66c8083","name":"tf-snapshot-infallible-wescoff","parent_volume":{"id":"666e2b82-98a4-4a21-a2dc-6db8215b700a","name":"tf-volume-wizardly-dijkstra","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-07-21T13:15:57.775718Z","updated_at":"2026-07-21T13:16:03.604062Z","references":[{"id":"34b501df-6d53-4ec3-841c-711cb5f948fc","product_resource_type":"instance_image","product_resource_id":"975075f5-08ad-44ac-9c42-01e058b3347c","created_at":"2026-07-21T13:16:03.604062Z","type":"link","status":"attached"}],"status":"in_use","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.612592ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/975075f5-08ad-44ac-9c42-01e058b3347c
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "975075f5-08ad-44ac-9c42-01e058b3347c"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.750691ms
[...]
