---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-kind-hugle","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"030012a0-aefc-421c-b64c-29134daf4104", "name":"tf-volume-kind-hugle", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:06.302316Z", "updated_at":"2026-02-26T00:34:06.302316Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.509114ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/030012a0-aefc-421c-b64c-29134daf4104
        method: GET
      response:
        body: '{"id":"030012a0-aefc-421c-b64c-29134daf4104", "name":"tf-volume-kind-hugle", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:06.302316Z", "updated_at":"2026-02-26T00:34:06.302316Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.078401ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"030012a0-aefc-421c-b64c-29134daf4104","name":"tf-snapshot-silly-chandrasekhar","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"ec06d1d7-3fec-4a9f-869b-a573049ef9e3", "name":"tf-snapshot-silly-chandrasekhar", "parent_volume":{"id":"030012a0-aefc-421c-b64c-29134daf4104", "name":"tf-volume-kind-hugle", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:11.590537Z", "updated_at":"2026-02-26T00:34:11.590537Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 354.588714ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/ec06d1d7-3fec-4a9f-869b-a573049ef9e3
        method: GET
      response:
        body: '{"id":"ec06d1d7-3fec-4a9f-869b-a573049ef9e3", "name":"tf-snapshot-silly-chandrasekhar", "parent_volume":{"id":"030012a0-aefc-421c-b64c-29134daf4104", "name":"tf-volume-kind-hugle", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:11.590537Z", "updated_at":"2026-02-26T00:34:11.590537Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.689213ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-focused-booth","root_volume":"ec06d1d7-3fec-4a9f-869b-a573049ef9e3","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "b942d9b8-0d0d-4eef-90ec-f18f62471772", "name": "tf-image-focused-booth", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "ec06d1d7-3fec-4a9f-869b-a573049ef9e3", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T00:34:18.088759+00:00", "modification_date": "2026-02-26T00:34:18.088759+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b942d9b8-0d0d-4eef-90ec-f18f62471772
        status: 201 Created
        code: 201
        duration: 439.088184ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b942d9b8-0d0d-4eef-90ec-f18f62471772
        method: GET
      response:
        body: '{"image": {"id": "b942d9b8-0d0d-4eef-90ec-f18f62471772", "name": "tf-image-focused-booth", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "ec06d1d7-3fec-4a9f-869b-a573049ef9e3", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T00:34:18.088759+00:00", "modification_date": "2026-02-26T00:34:18.088759+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.321229ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/ec06d1d7-3fec-4a9f-869b-a573049ef9e3
        method: GET
      response:
        body: '{"id":"ec06d1d7-3fec-4a9f-869b-a573049ef9e3", "name":"tf-snapshot-silly-chandrasekhar", "parent_volume":{"id":"030012a0-aefc-421c-b64c-29134daf4104", "name":"tf-volume-kind-hugle", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:11.590537Z", "updated_at":"2026-02-26T00:34:18.120872Z", "references":[{"id":"1b051956-66cf-40f3-b1a5-08bbf0812d1f", "product_resource_type":"instance_image", "product_resource_id":"b942d9b8-0d0d-4eef-90ec-f18f62471772", "created_at":"2026-02-26T00:34:18.120872Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.589742ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b942d9b8-0d0d-4eef-90ec-f18f62471772
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "b942d9b8-0d0d-4eef-90ec-f18f62471772"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.715117ms
[...]
