---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-focused-germain","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"srn":"","id":"da63f032-05fc-45a2-8b03-c55e82493b94","name":"tf-volume-focused-germain","type":"sbs_5k","size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:08.234588Z","updated_at":"2026-09-24T14:41:08.234588Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 138.0775ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.628333ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/da63f032-05fc-45a2-8b03-c55e82493b94
        method: GET
      response:
        body: '{"srn":"","id":"da63f032-05fc-45a2-8b03-c55e82493b94","name":"tf-volume-focused-germain","type":"sbs_5k","size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:08.234588Z","updated_at":"2026-09-24T14:41:08.234588Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.624792ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"volume_id":"da63f032-05fc-45a2-8b03-c55e82493b94","name":"tf-snapshot-boring-jackson","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"srn":"","id":"c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2","name":"tf-snapshot-boring-jackson","parent_volume":{"id":"da63f032-05fc-45a2-8b03-c55e82493b94","name":"tf-volume-focused-germain","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:13.526273Z","updated_at":"2026-09-24T14:41:13.526273Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.335959ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2
        method: GET
      response:
        body: '{"srn":"","id":"c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2","name":"tf-snapshot-boring-jackson","parent_volume":{"id":"da63f032-05fc-45a2-8b03-c55e82493b94","name":"tf-volume-focused-germain","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:13.526273Z","updated_at":"2026-09-24T14:41:13.526273Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.053459ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-ecstatic-saha","root_volume":"c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2","arch":"x86_64","project":"4d333544-41be-4b0b-8907-0b9036859747","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "b9bbc1e7-d91b-4b67-8e79-721d21b71314", "name": "tf-image-ecstatic-saha", "organization": "4d333544-41be-4b0b-8907-0b9036859747", "project": "4d333544-41be-4b0b-8907-0b9036859747", "root_volume": {"volume_type": "sbs_snapshot", "id": "c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-09-24T14:41:18.781600+00:00", "modification_date": "2026-09-24T14:41:18.781600+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b9bbc1e7-d91b-4b67-8e79-721d21b71314
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 250.564291ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b9bbc1e7-d91b-4b67-8e79-721d21b71314
        method: GET
      response:
        body: '{"image": {"id": "b9bbc1e7-d91b-4b67-8e79-721d21b71314", "name": "tf-image-ecstatic-saha", "organization": "4d333544-41be-4b0b-8907-0b9036859747", "project": "4d333544-41be-4b0b-8907-0b9036859747", "root_volume": {"volume_type": "sbs_snapshot", "id": "c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-09-24T14:41:18.781600+00:00", "modification_date": "2026-09-24T14:41:18.781600+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.190375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2
        method: GET
      response:
        body: '{"srn":"","id":"c249ebfb-15f1-41bb-b2d0-8acbd8a1c3d2","name":"tf-snapshot-boring-jackson","parent_volume":{"id":"da63f032-05fc-45a2-8b03-c55e82493b94","name":"tf-volume-focused-germain","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:13.526273Z","updated_at":"2026-09-24T14:41:18.814163Z","references":[{"id":"47fd3b76-5ff7-46d3-a6e2-aed61b385d33","product_resource_type":"instance_image","product_resource_id":"b9bbc1e7-d91b-4b67-8e79-721d21b71314","created_at":"2026-09-24T14:41:18.814163Z","type":"link","status":"attached"}],"status":"in_use","tags":[],"class":"sbs","zone":"fr-par-1","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 58.598083ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b9bbc1e7-d91b-4b67-8e79-721d21b71314
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "b9bbc1e7-d91b-4b67-8e79-721d21b71314"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 69.998833ms
[...]
