---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-quirky-darwin","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":40000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"f8f840d2-d77a-4427-aa3e-ae0f31f268cf", "name":"tf-volume-quirky-darwin", "type":"sbs_5k", "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:42:44.947061Z", "updated_at":"2026-02-26T13:42:44.947061Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.705529ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/f8f840d2-d77a-4427-aa3e-ae0f31f268cf
        method: GET
      response:
        body: '{"id":"f8f840d2-d77a-4427-aa3e-ae0f31f268cf", "name":"tf-volume-quirky-darwin", "type":"sbs_5k", "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:42:44.947061Z", "updated_at":"2026-02-26T13:42:44.947061Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.645299ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"volume_id":"88e3b0a0-797b-454e-8350-adb80f362f20","name":"tf-snapshot-competent-torvalds","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"2f2f4aae-edda-4f8f-aa22-fda9fb9c0f08", "name":"tf-snapshot-competent-torvalds", "parent_volume":{"id":"88e3b0a0-797b-454e-8350-adb80f362f20", "name":"tf-volume-youthful-neumann", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:42:50.235649Z", "updated_at":"2026-02-26T13:42:50.235649Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 393.912436ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/339e1dd8-bf72-4041-9640-21f78f045463
        method: GET
      response:
        body: '{"id":"339e1dd8-bf72-4041-9640-21f78f045463", "name":"tf-snapshot-mystifying-easley", "parent_volume":{"id":"28aa3c8a-8053-4dc8-8f98-34b0c300f1a2", "name":"tf-volume-crazy-blackburn", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:42:50.314680Z", "updated_at":"2026-02-26T13:42:50.314680Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.91281ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"339e1dd8-bf72-4041-9640-21f78f045463","arch":"x86_64","extra_volumes":{"1":{"id":"2f2f4aae-edda-4f8f-aa22-fda9fb9c0f08"},"2":{"id":"e0f687f0-929a-451b-9ff8-fb0a7fdb4266"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "ee95cef5-f38e-4596-b01f-c4b75e3afb24", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "339e1dd8-bf72-4041-9640-21f78f045463", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "2f2f4aae-edda-4f8f-aa22-fda9fb9c0f08", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "e0f687f0-929a-451b-9ff8-fb0a7fdb4266", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T13:42:57.026516+00:00", "modification_date": "2026-02-26T13:42:57.026516+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ee95cef5-f38e-4596-b01f-c4b75e3afb24
        status: 201 Created
        code: 201
        duration: 1.83319106s
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ee95cef5-f38e-4596-b01f-c4b75e3afb24
        method: GET
      response:
        body: '{"image": {"id": "ee95cef5-f38e-4596-b01f-c4b75e3afb24", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "339e1dd8-bf72-4041-9640-21f78f045463", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "2f2f4aae-edda-4f8f-aa22-fda9fb9c0f08", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "e0f687f0-929a-451b-9ff8-fb0a7fdb4266", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T13:42:57.026516+00:00", "modification_date": "2026-02-26T13:42:57.026516+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.622065ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/339e1dd8-bf72-4041-9640-21f78f045463
        method: GET
      response:
        body: '{"id":"339e1dd8-bf72-4041-9640-21f78f045463", "name":"tf-snapshot-mystifying-easley", "parent_volume":{"id":"28aa3c8a-8053-4dc8-8f98-34b0c300f1a2", "name":"tf-volume-crazy-blackburn", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:42:50.314680Z", "updated_at":"2026-02-26T13:42:57.104935Z", "references":[{"id":"8405e570-e4c0-4fd0-b9c0-bd078619dde7", "product_resource_type":"instance_image", "product_resource_id":"ee95cef5-f38e-4596-b01f-c4b75e3afb24", "created_at":"2026-02-26T13:42:57.104935Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.889727ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ee95cef5-f38e-4596-b01f-c4b75e3afb24
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "ee95cef5-f38e-4596-b01f-c4b75e3afb24"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.205883ms
[...]
