---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-magical-sutherland","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"b6e129fc-6b4b-4330-94b9-05608d78e2c6", "name":"tf-volume-magical-sutherland", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:51:52.218620Z", "updated_at":"2026-05-12T16:51:52.218620Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.348148ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/b6e129fc-6b4b-4330-94b9-05608d78e2c6
        method: GET
      response:
        body: '{"id":"b6e129fc-6b4b-4330-94b9-05608d78e2c6", "name":"tf-volume-magical-sutherland", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:51:52.218620Z", "updated_at":"2026-05-12T16:51:52.218620Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.596145ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"b6e129fc-6b4b-4330-94b9-05608d78e2c6","name":"tf-snapshot-stupefied-goldstine","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"a8bc6010-0369-4233-bcf5-1b290048a04e", "name":"tf-snapshot-stupefied-goldstine", "parent_volume":{"id":"b6e129fc-6b4b-4330-94b9-05608d78e2c6", "name":"tf-volume-magical-sutherland", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:51:57.498043Z", "updated_at":"2026-05-12T16:51:57.498043Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.025524ms
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a8bc6010-0369-4233-bcf5-1b290048a04e
        method: GET
      response:
        body: '{"id":"a8bc6010-0369-4233-bcf5-1b290048a04e", "name":"tf-snapshot-stupefied-goldstine", "parent_volume":{"id":"b6e129fc-6b4b-4330-94b9-05608d78e2c6", "name":"tf-volume-magical-sutherland", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:51:57.498043Z", "updated_at":"2026-05-12T16:51:57.498043Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.241162ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"a8bc6010-0369-4233-bcf5-1b290048a04e","arch":"x86_64","extra_volumes":{"1":{"id":"6ccc8fdd-c9cb-4518-a853-3f6100f4fb47"},"2":{"id":"3b336ee5-c108-43a7-bd5e-067acde0f23f"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "25f545d4-9b37-4d05-bb78-29b6a940600a", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "a8bc6010-0369-4233-bcf5-1b290048a04e", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "6ccc8fdd-c9cb-4518-a853-3f6100f4fb47", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "3b336ee5-c108-43a7-bd5e-067acde0f23f", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-05-12T16:52:03.040701+00:00", "modification_date": "2026-05-12T16:52:03.040701+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/25f545d4-9b37-4d05-bb78-29b6a940600a
        status: 201 Created
        code: 201
        duration: 650.06261ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/25f545d4-9b37-4d05-bb78-29b6a940600a
        method: GET
      response:
        body: '{"image": {"id": "25f545d4-9b37-4d05-bb78-29b6a940600a", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "a8bc6010-0369-4233-bcf5-1b290048a04e", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "6ccc8fdd-c9cb-4518-a853-3f6100f4fb47", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "3b336ee5-c108-43a7-bd5e-067acde0f23f", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-05-12T16:52:03.040701+00:00", "modification_date": "2026-05-12T16:52:03.040701+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.610298ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/3b336ee5-c108-43a7-bd5e-067acde0f23f
        method: GET
      response:
        body: '{"id":"3b336ee5-c108-43a7-bd5e-067acde0f23f", "name":"tf-snapshot-practical-rubin", "parent_volume":{"id":"07647d75-fcf0-4b47-bc43-7a40f24c1d2d", "name":"tf-volume-awesome-antonelli", "type":"sbs_5k", "status":"available"}, "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:51:57.535612Z", "updated_at":"2026-05-12T16:52:03.316835Z", "references":[{"id":"10da1933-b53f-4ec8-a670-592f90c371b5", "product_resource_type":"instance_image", "product_resource_id":"25f545d4-9b37-4d05-bb78-29b6a940600a", "created_at":"2026-05-12T16:52:03.316835Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.865904ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/25f545d4-9b37-4d05-bb78-29b6a940600a
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "25f545d4-9b37-4d05-bb78-29b6a940600a"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.742282ms
[...]
