---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-suspicious-borg","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"fd8dee56-c868-4657-a77c-4d8064fa50fa", "name":"tf-volume-suspicious-borg", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:43:07.670199Z", "updated_at":"2026-02-26T13:43:07.670199Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.859943ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/fd8dee56-c868-4657-a77c-4d8064fa50fa
        method: GET
      response:
        body: '{"id":"fd8dee56-c868-4657-a77c-4d8064fa50fa", "name":"tf-volume-suspicious-borg", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:43:07.670199Z", "updated_at":"2026-02-26T13:43:07.670199Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.407532ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"fd8dee56-c868-4657-a77c-4d8064fa50fa","name":"tf-snapshot-jovial-bose","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"f516130a-2e83-417f-a3d1-c4d957b656ee", "name":"tf-snapshot-jovial-bose", "parent_volume":{"id":"fd8dee56-c868-4657-a77c-4d8064fa50fa", "name":"tf-volume-suspicious-borg", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:43:12.888309Z", "updated_at":"2026-02-26T13:43:12.888309Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.632927ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/f516130a-2e83-417f-a3d1-c4d957b656ee
        method: GET
      response:
        body: '{"id":"f516130a-2e83-417f-a3d1-c4d957b656ee", "name":"tf-snapshot-jovial-bose", "parent_volume":{"id":"fd8dee56-c868-4657-a77c-4d8064fa50fa", "name":"tf-volume-suspicious-borg", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:43:12.888309Z", "updated_at":"2026-02-26T13:43:12.888309Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.61691ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-zen-kapitsa","root_volume":"f516130a-2e83-417f-a3d1-c4d957b656ee","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "5c457b23-0790-432b-a40c-3cc0e9b224e5", "name": "tf-image-zen-kapitsa", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "f516130a-2e83-417f-a3d1-c4d957b656ee", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T13:43:19.059588+00:00", "modification_date": "2026-02-26T13:43:19.059588+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5c457b23-0790-432b-a40c-3cc0e9b224e5
        status: 201 Created
        code: 201
        duration: 614.157743ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5c457b23-0790-432b-a40c-3cc0e9b224e5
        method: GET
      response:
        body: '{"image": {"id": "5c457b23-0790-432b-a40c-3cc0e9b224e5", "name": "tf-image-zen-kapitsa", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "f516130a-2e83-417f-a3d1-c4d957b656ee", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T13:43:19.059588+00:00", "modification_date": "2026-02-26T13:43:19.059588+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.942735ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/f516130a-2e83-417f-a3d1-c4d957b656ee
        method: GET
      response:
        body: '{"id":"f516130a-2e83-417f-a3d1-c4d957b656ee", "name":"tf-snapshot-jovial-bose", "parent_volume":{"id":"fd8dee56-c868-4657-a77c-4d8064fa50fa", "name":"tf-volume-suspicious-borg", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T13:43:12.888309Z", "updated_at":"2026-02-26T13:43:19.120174Z", "references":[{"id":"75c3df6a-8b65-4070-bc46-11f13ef78b2c", "product_resource_type":"instance_image", "product_resource_id":"5c457b23-0790-432b-a40c-3cc0e9b224e5", "created_at":"2026-02-26T13:43:19.120174Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.907797ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5c457b23-0790-432b-a40c-3cc0e9b224e5
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "5c457b23-0790-432b-a40c-3cc0e9b224e5"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.864465ms
[...]
