---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-suspicious-chatelet","perf_iops":15000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-10-15T15:03:49.691946Z","id":"c7d507b8-5c10-44c5-92bf-998cd7febcb3","last_detached_at":null,"name":"tf-volume-suspicious-chatelet","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":15000},"status":"creating","tags":[],"type":"sbs_15k","updated_at":"2025-10-15T15:03:49.691946Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 490.468543ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/c7d507b8-5c10-44c5-92bf-998cd7febcb3
        method: GET
      response:
        body: '{"created_at":"2025-10-15T15:03:49.691946Z","id":"c7d507b8-5c10-44c5-92bf-998cd7febcb3","last_detached_at":null,"name":"tf-volume-suspicious-chatelet","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":15000},"status":"available","tags":[],"type":"sbs_15k","updated_at":"2025-10-15T15:03:49.691946Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.71424ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"c7d507b8-5c10-44c5-92bf-998cd7febcb3","name":"tf-snapshot-nice-hypatia","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-10-15T15:03:50.457607Z","id":"bed651bd-bdee-41c5-a5c5-b1f8026fd101","name":"tf-snapshot-nice-hypatia","parent_volume":{"id":"c7d507b8-5c10-44c5-92bf-998cd7febcb3","name":"tf-volume-suspicious-chatelet","status":"available","type":"sbs_15k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-10-15T15:03:50.457607Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.188689832s
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/a606cdde-d391-435e-ba3c-0cb0f1bb02f5
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-10-15T15:03:50.680151Z","id":"a606cdde-d391-435e-ba3c-0cb0f1bb02f5","name":"tf-snapshot-adoring-kirch","parent_volume":{"id":"fb663627-91ea-408c-aa6c-0d933b7056a4","name":"tf-volume-festive-goodall","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":40000000000,"status":"creating","tags":[],"updated_at":"2025-10-15T15:03:50.680151Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 422.998917ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"33e21df4-4f28-4da2-9f78-d82dcf19c93e","arch":"x86_64","extra_volumes":{"1":{"id":"bed651bd-bdee-41c5-a5c5-b1f8026fd101"},"2":{"id":"a606cdde-d391-435e-ba3c-0cb0f1bb02f5"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-10-15T15:04:03.288298+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"bed651bd-bdee-41c5-a5c5-b1f8026fd101","name":"","size":0,"volume_type":"sbs_snapshot"},"2":{"id":"a606cdde-d391-435e-ba3c-0cb0f1bb02f5","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"1a7ef4d2-935a-4c80-9a19-3e2af6ccd812","modification_date":"2025-10-15T15:04:03.288298+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"33e21df4-4f28-4da2-9f78-d82dcf19c93e","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1a7ef4d2-935a-4c80-9a19-3e2af6ccd812
        status: 201 Created
        code: 201
        duration: 2.554239664s
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1a7ef4d2-935a-4c80-9a19-3e2af6ccd812
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-10-15T15:04:03.288298+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"bed651bd-bdee-41c5-a5c5-b1f8026fd101","name":"","size":0,"volume_type":"sbs_snapshot"},"2":{"id":"a606cdde-d391-435e-ba3c-0cb0f1bb02f5","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"1a7ef4d2-935a-4c80-9a19-3e2af6ccd812","modification_date":"2025-10-15T15:04:03.288298+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"33e21df4-4f28-4da2-9f78-d82dcf19c93e","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.906055ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/33e21df4-4f28-4da2-9f78-d82dcf19c93e
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-10-15T15:03:55.913176Z","id":"33e21df4-4f28-4da2-9f78-d82dcf19c93e","name":"tf-snapshot-optimistic-kowalevski","parent_volume":{"id":"20d0b694-899c-4f93-a69b-7c2ee644ea37","name":"tf-volume-elegant-diffie","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[{"created_at":"2025-10-15T15:04:03.338438Z","id":"2d827074-4d71-4433-b3f3-3724cad65bb0","product_resource_id":"1a7ef4d2-935a-4c80-9a19-3e2af6ccd812","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":20000000000,"status":"in_use","tags":[],"updated_at":"2025-10-15T15:04:03.338438Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 582.94884ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1a7ef4d2-935a-4c80-9a19-3e2af6ccd812
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"1a7ef4d2-935a-4c80-9a19-3e2af6ccd812","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.573398ms
[...]
