---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-eager-moser\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":50000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"23094738-1dac-448f-8e3b-9b7e77513b56\",\"name\":\"tf-volume-eager-moser\",\"type\":\"sbs_5k\",\"size\":50000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T12:40:45.583763Z\",\"updated_at\":\"2025-09-04T12:40:45.583763Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 235.254221ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/23094738-1dac-448f-8e3b-9b7e77513b56
    method: GET
  response:
    body: "{\"id\":\"23094738-1dac-448f-8e3b-9b7e77513b56\",\"name\":\"tf-volume-eager-moser\",\"type\":\"sbs_5k\",\"size\":50000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T12:40:45.583763Z\",\"updated_at\":\"2025-09-04T12:40:45.583763Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.421982ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"23094738-1dac-448f-8e3b-9b7e77513b56\",\"name\":\"tf-snapshot-adoring-northcutt\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"e28b5fdf-f22b-4cd7-9a92-25621ee1734d\",\"name\":\"tf-snapshot-adoring-northcutt\",\"parent_volume\":{\"id\":\"23094738-1dac-448f-8e3b-9b7e77513b56\",\"name\":\"tf-volume-eager-moser\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":50000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T12:40:51.227767Z\",\"updated_at\":\"2025-09-04T12:40:51.227767Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 345.68804ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e28b5fdf-f22b-4cd7-9a92-25621ee1734d
    method: GET
  response:
    body: "{\"id\":\"e28b5fdf-f22b-4cd7-9a92-25621ee1734d\",\"name\":\"tf-snapshot-adoring-northcutt\",\"parent_volume\":{\"id\":\"23094738-1dac-448f-8e3b-9b7e77513b56\",\"name\":\"tf-volume-eager-moser\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":50000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T12:40:51.227767Z\",\"updated_at\":\"2025-09-04T12:40:51.227767Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 199.420578ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test-image-external-block-volume\",\"root_volume\":\"e28b5fdf-f22b-4cd7-9a92-25621ee1734d\",\"arch\":\"x86_64\",\"extra_volumes\":{\"1\":{\"id\":\"8d8818a0-c471-4829-9349-0b8ca981ef73\"}},\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"9fd5baf9-0038-47f0-a758-21f0aa6cea09\", \"name\": \"tf-test-image-external-block-volume\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"e28b5fdf-f22b-4cd7-9a92-25621ee1734d\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"8d8818a0-c471-4829-9349-0b8ca981ef73\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-04T12:41:14.210253+00:00\", \"modification_date\": \"2025-09-04T12:41:14.210253+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/9fd5baf9-0038-47f0-a758-21f0aa6cea09
    status: 201 Created
    code: 201
    duration: 653.369791ms
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/9fd5baf9-0038-47f0-a758-21f0aa6cea09
    method: GET
  response:
    body: "{\"image\": {\"id\": \"9fd5baf9-0038-47f0-a758-21f0aa6cea09\", \"name\": \"tf-test-image-external-block-volume\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"e28b5fdf-f22b-4cd7-9a92-25621ee1734d\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"8d8818a0-c471-4829-9349-0b8ca981ef73\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-04T12:41:14.210253+00:00\", \"modification_date\": \"2025-09-04T12:41:14.210253+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 262.701965ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/8d8818a0-c471-4829-9349-0b8ca981ef73
    method: GET
  response:
    body: "{\"id\":\"8d8818a0-c471-4829-9349-0b8ca981ef73\",\"name\":\"tf-snapshot-youthful-johnson\",\"parent_volume\":{\"id\":\"40571648-ac9b-4e4d-be68-b7c351831e99\",\"name\":\"tf-volume-hopeful-solomon\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":50000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-04T12:41:08.262507Z\",\"updated_at\":\"2025-09-04T12:41:14.428564Z\",\"references\":[{\"id\":\"0b335a94-676d-41ab-899a-1fa3762285b6\",\"product_resource_type\":\"instance_image\",\"product_resource_id\":\"9fd5baf9-0038-47f0-a758-21f0aa6cea09\",\"created_at\":\"2025-09-04T12:41:14.428564Z\",\"type\":\"link\",\"status\":\"attached\"}],\"status\":\"in_use\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.132284ms
[...]
- id: 48
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/9fd5baf9-0038-47f0-a758-21f0aa6cea09
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_image\", \"resource_id\": \"9fd5baf9-0038-47f0-a758-21f0aa6cea09\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 93.893677ms
[...]
