---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-boring-hermann","perf_iops":15000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"187b3b16-c727-409b-a42e-154628b6e9b2", "name":"tf-volume-boring-hermann", "type":"sbs_15k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-10-29T22:54:30.267133Z", "updated_at":"2025-10-29T22:54:30.267133Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.503119ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/187b3b16-c727-409b-a42e-154628b6e9b2
        method: GET
      response:
        body: '{"id":"187b3b16-c727-409b-a42e-154628b6e9b2", "name":"tf-volume-boring-hermann", "type":"sbs_15k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-10-29T22:54:30.267133Z", "updated_at":"2025-10-29T22:54:30.267133Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.323367ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"volume_id":"187b3b16-c727-409b-a42e-154628b6e9b2","name":"tf-snapshot-optimistic-napier","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"98ef090d-7c9d-4ec6-b9c6-4cfb84d87d6d", "name":"tf-snapshot-optimistic-napier", "parent_volume":{"id":"187b3b16-c727-409b-a42e-154628b6e9b2", "name":"tf-volume-boring-hermann", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-10-29T22:54:30.763092Z", "updated_at":"2025-10-29T22:54:30.763092Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.040895ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/98ef090d-7c9d-4ec6-b9c6-4cfb84d87d6d
        method: GET
      response:
        body: '{"id":"98ef090d-7c9d-4ec6-b9c6-4cfb84d87d6d", "name":"tf-snapshot-optimistic-napier", "parent_volume":{"id":"187b3b16-c727-409b-a42e-154628b6e9b2", "name":"tf-volume-boring-hermann", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-10-29T22:54:30.763092Z", "updated_at":"2025-10-29T22:54:30.763092Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.610662ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"e11b0632-3875-485c-8721-fb1ba7fe7a8f","arch":"x86_64","extra_volumes":{"1":{"id":"98ef090d-7c9d-4ec6-b9c6-4cfb84d87d6d"},"2":{"id":"7bf72fef-df61-4543-b67d-f8675609f590"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "4b0b3b8b-354a-436f-b306-5bb24ae35d34", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "e11b0632-3875-485c-8721-fb1ba7fe7a8f", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "98ef090d-7c9d-4ec6-b9c6-4cfb84d87d6d", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "7bf72fef-df61-4543-b67d-f8675609f590", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-10-29T22:54:42.622488+00:00", "modification_date": "2025-10-29T22:54:42.622488+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4b0b3b8b-354a-436f-b306-5bb24ae35d34
        status: 201 Created
        code: 201
        duration: 1.026583375s
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4b0b3b8b-354a-436f-b306-5bb24ae35d34
        method: GET
      response:
        body: '{"image": {"id": "4b0b3b8b-354a-436f-b306-5bb24ae35d34", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "e11b0632-3875-485c-8721-fb1ba7fe7a8f", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "98ef090d-7c9d-4ec6-b9c6-4cfb84d87d6d", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "7bf72fef-df61-4543-b67d-f8675609f590", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-10-29T22:54:42.622488+00:00", "modification_date": "2025-10-29T22:54:42.622488+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.659644ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e11b0632-3875-485c-8721-fb1ba7fe7a8f
        method: GET
      response:
        body: '{"id":"e11b0632-3875-485c-8721-fb1ba7fe7a8f", "name":"tf-snapshot-laughing-wu", "parent_volume":{"id":"86ec5311-049c-4d62-9764-7c55f92a48ef", "name":"tf-volume-goofy-khayyam", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-10-29T22:54:36.154831Z", "updated_at":"2025-10-29T22:54:42.687961Z", "references":[{"id":"78bb0ff8-6831-4253-96cd-ccd428c6beff", "product_resource_type":"instance_image", "product_resource_id":"4b0b3b8b-354a-436f-b306-5bb24ae35d34", "created_at":"2025-10-29T22:54:42.687961Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 489.244883ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4b0b3b8b-354a-436f-b306-5bb24ae35d34
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "4b0b3b8b-354a-436f-b306-5bb24ae35d34"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.263872ms
[...]
