---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-hopeful-fermi","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":40000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"2153dedb-ddbc-4028-bc4f-3d64036e25c4", "name":"tf-volume-hopeful-fermi", "type":"sbs_5k", "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:41:04.678940Z", "updated_at":"2026-06-23T09:41:04.678940Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.176367ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/2153dedb-ddbc-4028-bc4f-3d64036e25c4
        method: GET
      response:
        body: '{"id":"2153dedb-ddbc-4028-bc4f-3d64036e25c4", "name":"tf-volume-hopeful-fermi", "type":"sbs_5k", "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:41:04.678940Z", "updated_at":"2026-06-23T09:41:04.678940Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.501414ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2153dedb-ddbc-4028-bc4f-3d64036e25c4","name":"tf-snapshot-romantic-tu","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"0dd6cfce-90cb-491a-a2cb-d515f733b3b0", "name":"tf-snapshot-romantic-tu", "parent_volume":{"id":"2153dedb-ddbc-4028-bc4f-3d64036e25c4", "name":"tf-volume-hopeful-fermi", "type":"sbs_5k", "status":"available"}, "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:41:09.985566Z", "updated_at":"2026-06-23T09:41:09.985566Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.608371ms
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/0dd6cfce-90cb-491a-a2cb-d515f733b3b0
        method: GET
      response:
        body: '{"id":"0dd6cfce-90cb-491a-a2cb-d515f733b3b0", "name":"tf-snapshot-romantic-tu", "parent_volume":{"id":"2153dedb-ddbc-4028-bc4f-3d64036e25c4", "name":"tf-volume-hopeful-fermi", "type":"sbs_5k", "status":"available"}, "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:41:09.985566Z", "updated_at":"2026-06-23T09:41:09.985566Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.051299ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"20ac399d-747a-4f96-9897-88ada42c93e3","arch":"x86_64","extra_volumes":{"1":{"id":"be071a4c-b37a-4a9a-9df7-1c752fa23e98"},"2":{"id":"0dd6cfce-90cb-491a-a2cb-d515f733b3b0"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "b5e834dd-4815-426b-b43d-9c2ffe58f2f0", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "20ac399d-747a-4f96-9897-88ada42c93e3", "size": 0, "name": ""}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "0dd6cfce-90cb-491a-a2cb-d515f733b3b0", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "be071a4c-b37a-4a9a-9df7-1c752fa23e98", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-06-23T09:41:15.675416+00:00", "modification_date": "2026-06-23T09:41:15.675416+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b5e834dd-4815-426b-b43d-9c2ffe58f2f0
        status: 201 Created
        code: 201
        duration: 830.881414ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b5e834dd-4815-426b-b43d-9c2ffe58f2f0
        method: GET
      response:
        body: '{"image": {"id": "b5e834dd-4815-426b-b43d-9c2ffe58f2f0", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "20ac399d-747a-4f96-9897-88ada42c93e3", "size": 0, "name": ""}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "0dd6cfce-90cb-491a-a2cb-d515f733b3b0", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "be071a4c-b37a-4a9a-9df7-1c752fa23e98", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-06-23T09:41:15.675416+00:00", "modification_date": "2026-06-23T09:41:15.675416+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.113291ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/be071a4c-b37a-4a9a-9df7-1c752fa23e98
        method: GET
      response:
        body: '{"id":"be071a4c-b37a-4a9a-9df7-1c752fa23e98", "name":"tf-snapshot-bold-easley", "parent_volume":{"id":"261b59a3-8592-431c-937c-47531099e8ba", "name":"tf-volume-epic-newton", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:41:10.032621Z", "updated_at":"2026-06-23T09:41:15.857045Z", "references":[{"id":"e1360dd6-d5c5-4acd-b4dd-e061aa17bcd4", "product_resource_type":"instance_image", "product_resource_id":"b5e834dd-4815-426b-b43d-9c2ffe58f2f0", "created_at":"2026-06-23T09:41:15.857045Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.081268ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b5e834dd-4815-426b-b43d-9c2ffe58f2f0
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "b5e834dd-4815-426b-b43d-9c2ffe58f2f0"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.064296ms
[...]
