---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-romantic-bell","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"2fd5c9e4-4abd-41f1-a87b-180bd105de06","name":"tf-volume-romantic-bell","type":"sbs_5k","size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:41.753489Z","updated_at":"2026-08-11T09:14:41.753489Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.830308ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/2fd5c9e4-4abd-41f1-a87b-180bd105de06
        method: GET
      response:
        body: '{"id":"2fd5c9e4-4abd-41f1-a87b-180bd105de06","name":"tf-volume-romantic-bell","type":"sbs_5k","size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:41.753489Z","updated_at":"2026-08-11T09:14:41.753489Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.109949ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2fd5c9e4-4abd-41f1-a87b-180bd105de06","name":"tf-snapshot-boring-thompson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"2e355672-5e9e-44d6-833f-8fa1e8367679","name":"tf-snapshot-boring-thompson","parent_volume":{"id":"2fd5c9e4-4abd-41f1-a87b-180bd105de06","name":"tf-volume-romantic-bell","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:46.992590Z","updated_at":"2026-08-11T09:14:46.992590Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.762815ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2e355672-5e9e-44d6-833f-8fa1e8367679
        method: GET
      response:
        body: '{"id":"2e355672-5e9e-44d6-833f-8fa1e8367679","name":"tf-snapshot-boring-thompson","parent_volume":{"id":"2fd5c9e4-4abd-41f1-a87b-180bd105de06","name":"tf-volume-romantic-bell","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:46.992590Z","updated_at":"2026-08-11T09:14:46.992590Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.378012ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-beautiful-visvesvaraya","root_volume":"2e355672-5e9e-44d6-833f-8fa1e8367679","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "36170c26-eed2-43b7-a5cf-375c9596be0a", "name": "tf-image-beautiful-visvesvaraya", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "2e355672-5e9e-44d6-833f-8fa1e8367679", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-08-11T09:14:52.266161+00:00", "modification_date": "2026-08-11T09:14:52.266161+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/36170c26-eed2-43b7-a5cf-375c9596be0a
        status: 201 Created
        code: 201
        duration: 215.841729ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/36170c26-eed2-43b7-a5cf-375c9596be0a
        method: GET
      response:
        body: '{"image": {"id": "36170c26-eed2-43b7-a5cf-375c9596be0a", "name": "tf-image-beautiful-visvesvaraya", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "2e355672-5e9e-44d6-833f-8fa1e8367679", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-08-11T09:14:52.266161+00:00", "modification_date": "2026-08-11T09:14:52.266161+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.577861ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2e355672-5e9e-44d6-833f-8fa1e8367679
        method: GET
      response:
        body: '{"id":"2e355672-5e9e-44d6-833f-8fa1e8367679","name":"tf-snapshot-boring-thompson","parent_volume":{"id":"2fd5c9e4-4abd-41f1-a87b-180bd105de06","name":"tf-volume-romantic-bell","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:46.992590Z","updated_at":"2026-08-11T09:14:52.300898Z","references":[{"id":"4861dd33-5cfc-4c9e-a0d6-488d92d60172","product_resource_type":"instance_image","product_resource_id":"36170c26-eed2-43b7-a5cf-375c9596be0a","created_at":"2026-08-11T09:14:52.300898Z","type":"link","status":"attached"}],"status":"in_use","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.100554ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/36170c26-eed2-43b7-a5cf-375c9596be0a
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "36170c26-eed2-43b7-a5cf-375c9596be0a"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 453.915314ms
[...]
