---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-epic-ellis","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":50000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2024-11-29T10:10:08.693557Z","id":"877e58ad-0a7a-4e69-b36b-1588a8bde20a","last_detached_at":null,"name":"tf-volume-epic-ellis","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2024-11-29T10:10:08.693557Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 930.985333ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/35b2c4d6-b3ab-455c-8324-c32573b2e2c5
        method: GET
      response:
        body: '{"created_at":"2024-11-29T10:10:08.684821Z","id":"35b2c4d6-b3ab-455c-8324-c32573b2e2c5","last_detached_at":null,"name":"tf-volume-funny-edison","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2024-11-29T10:10:08.684821Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.119ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"35b2c4d6-b3ab-455c-8324-c32573b2e2c5","name":"tf-snapshot-wonderful-jackson","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2024-11-29T10:10:14.109035Z","id":"2886d231-fb32-4700-9957-a0134fb082cf","name":"tf-snapshot-wonderful-jackson","parent_volume":{"id":"35b2c4d6-b3ab-455c-8324-c32573b2e2c5","name":"tf-volume-funny-edison","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-11-29T10:10:14.109035Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.819958ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2886d231-fb32-4700-9957-a0134fb082cf
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-11-29T10:10:14.109035Z","id":"2886d231-fb32-4700-9957-a0134fb082cf","name":"tf-snapshot-wonderful-jackson","parent_volume":{"id":"35b2c4d6-b3ab-455c-8324-c32573b2e2c5","name":"tf-volume-funny-edison","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-11-29T10:10:14.109035Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.923834ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/561f5f2d-4f6e-4c9f-b057-889dfb397fa1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"561f5f2d-4f6e-4c9f-b057-889dfb397fa1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.652958ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"2886d231-fb32-4700-9957-a0134fb082cf","arch":"x86_64","extra_volumes":{"1":{"id":"561f5f2d-4f6e-4c9f-b057-889dfb397fa1","name":"tf-snapshot-gracious-sanderson"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-11-29T10:10:20.890656+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"561f5f2d-4f6e-4c9f-b057-889dfb397fa1","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"e92d6aee-2abb-44df-9de5-65aefa0265c7","modification_date":"2024-11-29T10:10:20.890656+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"2886d231-fb32-4700-9957-a0134fb082cf","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/e92d6aee-2abb-44df-9de5-65aefa0265c7
        status: 201 Created
        code: 201
        duration: 1.857154709s
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/e92d6aee-2abb-44df-9de5-65aefa0265c7
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-11-29T10:10:20.890656+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"561f5f2d-4f6e-4c9f-b057-889dfb397fa1","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"e92d6aee-2abb-44df-9de5-65aefa0265c7","modification_date":"2024-11-29T10:10:20.890656+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"2886d231-fb32-4700-9957-a0134fb082cf","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 802.955041ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2886d231-fb32-4700-9957-a0134fb082cf
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-11-29T10:10:14.109035Z","id":"2886d231-fb32-4700-9957-a0134fb082cf","name":"tf-snapshot-wonderful-jackson","parent_volume":{"id":"35b2c4d6-b3ab-455c-8324-c32573b2e2c5","name":"tf-volume-funny-edison","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[{"created_at":"2024-11-29T10:10:21.002006Z","id":"8d541360-8d50-45f9-b9fb-4892f643e518","product_resource_id":"e92d6aee-2abb-44df-9de5-65aefa0265c7","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":50000000000,"status":"in_use","tags":[],"updated_at":"2024-11-29T10:10:21.002006Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.66475ms
[...]
