---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-agitated-cartwright","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"1da17f54-6b9a-41bf-a3d9-41f618b75f45", "name":"tf-volume-agitated-cartwright", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:31:57.625534Z", "updated_at":"2026-02-18T13:31:57.625534Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.527379ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/1da17f54-6b9a-41bf-a3d9-41f618b75f45
        method: GET
      response:
        body: '{"id":"1da17f54-6b9a-41bf-a3d9-41f618b75f45", "name":"tf-volume-agitated-cartwright", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:31:57.625534Z", "updated_at":"2026-02-18T13:31:57.625534Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.870692ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"1da17f54-6b9a-41bf-a3d9-41f618b75f45","name":"tf-snapshot-hopeful-minsky","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"7388dbdc-bc12-49ac-9802-318261c0e0d3", "name":"tf-snapshot-hopeful-minsky", "parent_volume":{"id":"1da17f54-6b9a-41bf-a3d9-41f618b75f45", "name":"tf-volume-agitated-cartwright", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:02.892694Z", "updated_at":"2026-02-18T13:32:02.892694Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.014288ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/7388dbdc-bc12-49ac-9802-318261c0e0d3
        method: GET
      response:
        body: '{"id":"7388dbdc-bc12-49ac-9802-318261c0e0d3", "name":"tf-snapshot-hopeful-minsky", "parent_volume":{"id":"1da17f54-6b9a-41bf-a3d9-41f618b75f45", "name":"tf-volume-agitated-cartwright", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:02.892694Z", "updated_at":"2026-02-18T13:32:02.892694Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.510721ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-blissful-heyrovsky","root_volume":"7388dbdc-bc12-49ac-9802-318261c0e0d3","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "a65ab6a6-d31c-466f-b7cb-360b78b742d3", "name": "tf-image-blissful-heyrovsky", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "7388dbdc-bc12-49ac-9802-318261c0e0d3", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:32:09.034934+00:00", "modification_date": "2026-02-18T13:32:09.034934+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a65ab6a6-d31c-466f-b7cb-360b78b742d3
        status: 201 Created
        code: 201
        duration: 418.043069ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a65ab6a6-d31c-466f-b7cb-360b78b742d3
        method: GET
      response:
        body: '{"image": {"id": "a65ab6a6-d31c-466f-b7cb-360b78b742d3", "name": "tf-image-blissful-heyrovsky", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "7388dbdc-bc12-49ac-9802-318261c0e0d3", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:32:09.034934+00:00", "modification_date": "2026-02-18T13:32:09.034934+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.730637ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/7388dbdc-bc12-49ac-9802-318261c0e0d3
        method: GET
      response:
        body: '{"id":"7388dbdc-bc12-49ac-9802-318261c0e0d3", "name":"tf-snapshot-hopeful-minsky", "parent_volume":{"id":"1da17f54-6b9a-41bf-a3d9-41f618b75f45", "name":"tf-volume-agitated-cartwright", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:02.892694Z", "updated_at":"2026-02-18T13:32:09.078421Z", "references":[{"id":"3b14b51c-5b75-4d9b-ad3b-e9aa2410eacd", "product_resource_type":"instance_image", "product_resource_id":"a65ab6a6-d31c-466f-b7cb-360b78b742d3", "created_at":"2026-02-18T13:32:09.078421Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 476.344476ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a65ab6a6-d31c-466f-b7cb-360b78b742d3
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "a65ab6a6-d31c-466f-b7cb-360b78b742d3"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.573654ms
[...]
