---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-eager-turing","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"18a973c3-dbb0-4619-900c-72d769b86484", "name":"tf-volume-eager-turing", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:29:20.247437Z", "updated_at":"2026-02-17T10:29:20.247437Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.632737ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/18a973c3-dbb0-4619-900c-72d769b86484
        method: GET
      response:
        body: '{"id":"18a973c3-dbb0-4619-900c-72d769b86484", "name":"tf-volume-eager-turing", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:29:20.247437Z", "updated_at":"2026-02-17T10:29:20.247437Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.473635ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"18a973c3-dbb0-4619-900c-72d769b86484","name":"tf-snapshot-amazing-gagarin","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"64b6ca9b-09c0-428c-8f71-9d86fe3e6284", "name":"tf-snapshot-amazing-gagarin", "parent_volume":{"id":"18a973c3-dbb0-4619-900c-72d769b86484", "name":"tf-volume-eager-turing", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:29:25.548136Z", "updated_at":"2026-02-17T10:29:25.548136Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.046394465s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/64b6ca9b-09c0-428c-8f71-9d86fe3e6284
        method: GET
      response:
        body: '{"id":"64b6ca9b-09c0-428c-8f71-9d86fe3e6284", "name":"tf-snapshot-amazing-gagarin", "parent_volume":{"id":"18a973c3-dbb0-4619-900c-72d769b86484", "name":"tf-volume-eager-turing", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:29:25.548136Z", "updated_at":"2026-02-17T10:29:25.548136Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.185413ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-vigorous-ptolemy","root_volume":"64b6ca9b-09c0-428c-8f71-9d86fe3e6284","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "acf4fe86-5bd2-416a-9878-749944cf9be9", "name": "tf-image-vigorous-ptolemy", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "64b6ca9b-09c0-428c-8f71-9d86fe3e6284", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-17T10:29:27.432324+00:00", "modification_date": "2026-02-17T10:29:27.432324+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/acf4fe86-5bd2-416a-9878-749944cf9be9
        status: 201 Created
        code: 201
        duration: 946.712311ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/acf4fe86-5bd2-416a-9878-749944cf9be9
        method: GET
      response:
        body: '{"image": {"id": "acf4fe86-5bd2-416a-9878-749944cf9be9", "name": "tf-image-vigorous-ptolemy", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "64b6ca9b-09c0-428c-8f71-9d86fe3e6284", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-17T10:29:27.432324+00:00", "modification_date": "2026-02-17T10:29:27.432324+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.854143ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/64b6ca9b-09c0-428c-8f71-9d86fe3e6284
        method: GET
      response:
        body: '{"id":"64b6ca9b-09c0-428c-8f71-9d86fe3e6284", "name":"tf-snapshot-amazing-gagarin", "parent_volume":{"id":"18a973c3-dbb0-4619-900c-72d769b86484", "name":"tf-volume-eager-turing", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:29:25.548136Z", "updated_at":"2026-02-17T10:29:27.488255Z", "references":[{"id":"a39b05c9-65bf-45eb-aebe-250da62e2a9c", "product_resource_type":"instance_image", "product_resource_id":"acf4fe86-5bd2-416a-9878-749944cf9be9", "created_at":"2026-02-17T10:29:27.488255Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.851777ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/acf4fe86-5bd2-416a-9878-749944cf9be9
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "acf4fe86-5bd2-416a-9878-749944cf9be9"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.232373ms
[...]
