---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-intelligent-rosalind","perf_iops":15000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"2d0633b6-a302-4286-8db1-d4a9dc0f2661", "name":"tf-volume-intelligent-rosalind", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:41.421598Z", "updated_at":"2026-02-24T17:40:41.421598Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.619615ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/2d0633b6-a302-4286-8db1-d4a9dc0f2661
        method: GET
      response:
        body: '{"id":"2d0633b6-a302-4286-8db1-d4a9dc0f2661", "name":"tf-volume-intelligent-rosalind", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:41.421598Z", "updated_at":"2026-02-24T17:40:41.421598Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.343768ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2d0633b6-a302-4286-8db1-d4a9dc0f2661","name":"tf-snapshot-unruffled-hofstadter","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"136da841-99d3-439c-940f-446acfa05d6f", "name":"tf-snapshot-unruffled-hofstadter", "parent_volume":{"id":"2d0633b6-a302-4286-8db1-d4a9dc0f2661", "name":"tf-volume-intelligent-rosalind", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:46.636938Z", "updated_at":"2026-02-24T17:40:46.636938Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.831655ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/1012b8fc-29a7-485c-9a9a-a2060e069ca9
        method: GET
      response:
        body: '{"id":"1012b8fc-29a7-485c-9a9a-a2060e069ca9", "name":"tf-snapshot-elated-easley", "parent_volume":{"id":"4e23994a-47cf-4b50-a45f-3ffbbbbb46e3", "name":"tf-volume-sleepy-faraday", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:46.700393Z", "updated_at":"2026-02-24T17:40:46.700393Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.961148ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"1012b8fc-29a7-485c-9a9a-a2060e069ca9","arch":"x86_64","extra_volumes":{"1":{"id":"136da841-99d3-439c-940f-446acfa05d6f"},"2":{"id":"e2eb76a7-3e88-4d49-b76c-ab561c0f076f"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "f38cd46e-7c81-4a2f-87d1-7745e796cce9", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "1012b8fc-29a7-485c-9a9a-a2060e069ca9", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "136da841-99d3-439c-940f-446acfa05d6f", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "e2eb76a7-3e88-4d49-b76c-ab561c0f076f", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-24T17:40:52.833938+00:00", "modification_date": "2026-02-24T17:40:52.833938+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f38cd46e-7c81-4a2f-87d1-7745e796cce9
        status: 201 Created
        code: 201
        duration: 799.490284ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f38cd46e-7c81-4a2f-87d1-7745e796cce9
        method: GET
      response:
        body: '{"image": {"id": "f38cd46e-7c81-4a2f-87d1-7745e796cce9", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "1012b8fc-29a7-485c-9a9a-a2060e069ca9", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "136da841-99d3-439c-940f-446acfa05d6f", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "e2eb76a7-3e88-4d49-b76c-ab561c0f076f", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-24T17:40:52.833938+00:00", "modification_date": "2026-02-24T17:40:52.833938+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.426675ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/1012b8fc-29a7-485c-9a9a-a2060e069ca9
        method: GET
      response:
        body: '{"id":"1012b8fc-29a7-485c-9a9a-a2060e069ca9", "name":"tf-snapshot-elated-easley", "parent_volume":{"id":"4e23994a-47cf-4b50-a45f-3ffbbbbb46e3", "name":"tf-volume-sleepy-faraday", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:46.700393Z", "updated_at":"2026-02-24T17:40:52.875007Z", "references":[{"id":"af7aee32-18dd-40ab-ab02-119220c7840f", "product_resource_type":"instance_image", "product_resource_id":"f38cd46e-7c81-4a2f-87d1-7745e796cce9", "created_at":"2026-02-24T17:40:52.875007Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.626522ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f38cd46e-7c81-4a2f-87d1-7745e796cce9
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "f38cd46e-7c81-4a2f-87d1-7745e796cce9"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.426186ms
[...]
