---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-exciting-babbage","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:53:54.781608+00:00","export_uri":null,"id":"caa216a4-f212-4037-8f5a-f4d0765ecb46","modification_date":"2025-01-27T13:53:54.781608+00:00","name":"tf-vol-exciting-babbage","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/caa216a4-f212-4037-8f5a-f4d0765ecb46
        status: 201 Created
        code: 201
        duration: 239.176417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/caa216a4-f212-4037-8f5a-f4d0765ecb46
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:53:54.781608+00:00","export_uri":null,"id":"caa216a4-f212-4037-8f5a-f4d0765ecb46","modification_date":"2025-01-27T13:53:54.781608+00:00","name":"tf-vol-exciting-babbage","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.233792ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-snap-sleepy-moser","volume_id":"caa216a4-f212-4037-8f5a-f4d0765ecb46","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
        method: POST
      response:
        body: '{"snapshot":{"base_volume":{"id":"caa216a4-f212-4037-8f5a-f4d0765ecb46","name":"tf-vol-exciting-babbage"},"creation_date":"2025-01-27T13:53:55.276521+00:00","error_details":null,"id":"2c8076b1-3e79-4481-9548-cc9343a60d51","modification_date":"2025-01-27T13:53:55.276521+00:00","name":"tf-snap-sleepy-moser","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"},"task":{"description":"volume_snapshot","href_from":"/snapshots","href_result":"snapshots/2c8076b1-3e79-4481-9548-cc9343a60d51","id":"226c72b9-508a-4610-9250-48ad29f576a2","progress":0,"started_at":"2025-01-27T13:53:55.467121+00:00","status":"pending","terminated_at":null,"zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 532.131708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/2c8076b1-3e79-4481-9548-cc9343a60d51
        method: GET
      response:
        body: '{"snapshot":{"base_volume":{"id":"caa216a4-f212-4037-8f5a-f4d0765ecb46","name":"tf-vol-exciting-babbage"},"creation_date":"2025-01-27T13:53:55.276521+00:00","error_details":null,"id":"2c8076b1-3e79-4481-9548-cc9343a60d51","modification_date":"2025-01-27T13:53:55.276521+00:00","name":"tf-snap-sleepy-moser","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.520334ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test_image_basic","root_volume":"2c8076b1-3e79-4481-9548-cc9343a60d51","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tag1","tag2","tag3"],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-01-27T13:54:01.174868+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"389542c2-3775-41e8-944e-d89ad829d821","modification_date":"2025-01-27T13:54:01.174868+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"2c8076b1-3e79-4481-9548-cc9343a60d51","name":"tf-snap-sleepy-moser","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/389542c2-3775-41e8-944e-d89ad829d821
        status: 201 Created
        code: 201
        duration: 313.2555ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/389542c2-3775-41e8-944e-d89ad829d821
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-01-27T13:54:01.174868+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"389542c2-3775-41e8-944e-d89ad829d821","modification_date":"2025-01-27T13:54:01.174868+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"2c8076b1-3e79-4481-9548-cc9343a60d51","name":"tf-snap-sleepy-moser","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.325417ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/389542c2-3775-41e8-944e-d89ad829d821
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"389542c2-3775-41e8-944e-d89ad829d821","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.017833ms
[...]
