---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-sharp-lewin","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"d930f120-a226-44ce-a269-2294e342780e", "name":"tf-volume-sharp-lewin", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-30T09:48:59.039275Z", "updated_at":"2025-12-30T09:48:59.039275Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.853921ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/d930f120-a226-44ce-a269-2294e342780e
        method: GET
      response:
        body: '{"id":"d930f120-a226-44ce-a269-2294e342780e", "name":"tf-volume-sharp-lewin", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-30T09:48:59.039275Z", "updated_at":"2025-12-30T09:48:59.039275Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.792095ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d930f120-a226-44ce-a269-2294e342780e","name":"tf-snapshot-unruffled-lewin","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"a61239c4-a1c7-4276-959a-6ba454cbd7c5", "name":"tf-snapshot-unruffled-lewin", "parent_volume":{"id":"d930f120-a226-44ce-a269-2294e342780e", "name":"tf-volume-sharp-lewin", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-30T09:49:04.363368Z", "updated_at":"2025-12-30T09:49:04.363368Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 420.566241ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/6c339eb9-9d84-4ca5-9c2b-e43df997bc32
        method: GET
      response:
        body: '{"id":"6c339eb9-9d84-4ca5-9c2b-e43df997bc32", "name":"tf-snapshot-gifted-antonelli", "parent_volume":{"id":"f453d67e-88e7-4570-ba42-249050d8af31", "name":"tf-volume-pensive-napier", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-30T09:49:04.360594Z", "updated_at":"2025-12-30T09:49:04.360594Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.124791ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"a61239c4-a1c7-4276-959a-6ba454cbd7c5","arch":"x86_64","extra_volumes":{"1":{"id":"6c339eb9-9d84-4ca5-9c2b-e43df997bc32"},"2":{"id":"39388a96-fff0-46f6-97f9-ccdd905f3afe"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "c3f3c79f-68b5-4a8c-b5f4-9bc352604fb9", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "a61239c4-a1c7-4276-959a-6ba454cbd7c5", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "6c339eb9-9d84-4ca5-9c2b-e43df997bc32", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "39388a96-fff0-46f6-97f9-ccdd905f3afe", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-12-30T09:49:10.394820+00:00", "modification_date": "2025-12-30T09:49:10.394820+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c3f3c79f-68b5-4a8c-b5f4-9bc352604fb9
        status: 201 Created
        code: 201
        duration: 1.229034888s
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c3f3c79f-68b5-4a8c-b5f4-9bc352604fb9
        method: GET
      response:
        body: '{"image": {"id": "c3f3c79f-68b5-4a8c-b5f4-9bc352604fb9", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "a61239c4-a1c7-4276-959a-6ba454cbd7c5", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "6c339eb9-9d84-4ca5-9c2b-e43df997bc32", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "39388a96-fff0-46f6-97f9-ccdd905f3afe", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-12-30T09:49:10.394820+00:00", "modification_date": "2025-12-30T09:49:10.394820+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.245922ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/39388a96-fff0-46f6-97f9-ccdd905f3afe
        method: GET
      response:
        body: '{"id":"39388a96-fff0-46f6-97f9-ccdd905f3afe", "name":"tf-snapshot-adoring-torvalds", "parent_volume":{"id":"c8ba3d9e-84b7-4325-84e9-1e6d755eb053", "name":"tf-volume-relaxed-lewin", "type":"sbs_5k", "status":"available"}, "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-12-30T09:49:04.392652Z", "updated_at":"2025-12-30T09:49:11.054639Z", "references":[{"id":"c2cd6ccf-4e0e-4b12-87e1-6e32e9a78a78", "product_resource_type":"instance_image", "product_resource_id":"c3f3c79f-68b5-4a8c-b5f4-9bc352604fb9", "created_at":"2025-12-30T09:49:11.054639Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.922126ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c3f3c79f-68b5-4a8c-b5f4-9bc352604fb9
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "c3f3c79f-68b5-4a8c-b5f4-9bc352604fb9"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.917209ms
[...]
