---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-strange-archimedes","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"b8b13cf6-d715-446f-88e9-c15f5dd8a4e4", "name":"tf-volume-strange-archimedes", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:41.732131Z", "updated_at":"2026-02-24T17:40:41.732131Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.331816ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/b8b13cf6-d715-446f-88e9-c15f5dd8a4e4
        method: GET
      response:
        body: '{"id":"b8b13cf6-d715-446f-88e9-c15f5dd8a4e4", "name":"tf-volume-strange-archimedes", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:41.732131Z", "updated_at":"2026-02-24T17:40:41.732131Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.785363ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"b8b13cf6-d715-446f-88e9-c15f5dd8a4e4","name":"tf-snapshot-nice-hermann","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"7ea7d168-053f-45f5-8907-ffb89165d26a", "name":"tf-snapshot-nice-hermann", "parent_volume":{"id":"b8b13cf6-d715-446f-88e9-c15f5dd8a4e4", "name":"tf-volume-strange-archimedes", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:46.947202Z", "updated_at":"2026-02-24T17:40:46.947202Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.620891ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/7ea7d168-053f-45f5-8907-ffb89165d26a
        method: GET
      response:
        body: '{"id":"7ea7d168-053f-45f5-8907-ffb89165d26a", "name":"tf-snapshot-nice-hermann", "parent_volume":{"id":"b8b13cf6-d715-446f-88e9-c15f5dd8a4e4", "name":"tf-volume-strange-archimedes", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:46.947202Z", "updated_at":"2026-02-24T17:40:46.947202Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.805163ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-friendly-carson","root_volume":"7ea7d168-053f-45f5-8907-ffb89165d26a","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "21b7ca81-f1c0-475c-b68c-6b9450aaedab", "name": "tf-image-friendly-carson", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "7ea7d168-053f-45f5-8907-ffb89165d26a", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-24T17:40:52.956243+00:00", "modification_date": "2026-02-24T17:40:52.956243+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/21b7ca81-f1c0-475c-b68c-6b9450aaedab
        status: 201 Created
        code: 201
        duration: 395.188209ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/21b7ca81-f1c0-475c-b68c-6b9450aaedab
        method: GET
      response:
        body: '{"image": {"id": "21b7ca81-f1c0-475c-b68c-6b9450aaedab", "name": "tf-image-friendly-carson", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "7ea7d168-053f-45f5-8907-ffb89165d26a", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-24T17:40:52.956243+00:00", "modification_date": "2026-02-24T17:40:52.956243+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.560835ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/7ea7d168-053f-45f5-8907-ffb89165d26a
        method: GET
      response:
        body: '{"id":"7ea7d168-053f-45f5-8907-ffb89165d26a", "name":"tf-snapshot-nice-hermann", "parent_volume":{"id":"b8b13cf6-d715-446f-88e9-c15f5dd8a4e4", "name":"tf-volume-strange-archimedes", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-24T17:40:46.947202Z", "updated_at":"2026-02-24T17:40:53.014645Z", "references":[{"id":"02f5eb46-57a0-43b7-b989-06e41562cffe", "product_resource_type":"instance_image", "product_resource_id":"21b7ca81-f1c0-475c-b68c-6b9450aaedab", "created_at":"2026-02-24T17:40:53.014645Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.522488ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/21b7ca81-f1c0-475c-b68c-6b9450aaedab
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "21b7ca81-f1c0-475c-b68c-6b9450aaedab"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.035885ms
[...]
