---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-musing-banach","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"20727023-47f4-4848-962a-705dba85488a", "name":"tf-volume-musing-banach", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:46.441411Z", "updated_at":"2026-07-30T12:56:46.441411Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.481354ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/20727023-47f4-4848-962a-705dba85488a
        method: GET
      response:
        body: '{"id":"20727023-47f4-4848-962a-705dba85488a", "name":"tf-volume-musing-banach", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:46.441411Z", "updated_at":"2026-07-30T12:56:46.441411Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.656047ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"20727023-47f4-4848-962a-705dba85488a","name":"tf-snapshot-elegant-benz","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"582d51a5-08a0-415f-b439-8dc93e71c451", "name":"tf-snapshot-elegant-benz", "parent_volume":{"id":"20727023-47f4-4848-962a-705dba85488a", "name":"tf-volume-musing-banach", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:51.805284Z", "updated_at":"2026-07-30T12:56:51.805284Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.155077ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/582d51a5-08a0-415f-b439-8dc93e71c451
        method: GET
      response:
        body: '{"id":"582d51a5-08a0-415f-b439-8dc93e71c451", "name":"tf-snapshot-elegant-benz", "parent_volume":{"id":"20727023-47f4-4848-962a-705dba85488a", "name":"tf-volume-musing-banach", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:51.805284Z", "updated_at":"2026-07-30T12:56:51.805284Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.315014ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-recursing-khorana","root_volume":"582d51a5-08a0-415f-b439-8dc93e71c451","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "a8618c3e-a566-48dd-b115-be6eec7bf4ea", "name": "tf-image-recursing-khorana", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "582d51a5-08a0-415f-b439-8dc93e71c451", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-07-30T12:56:57.210543+00:00", "modification_date": "2026-07-30T12:56:57.210543+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a8618c3e-a566-48dd-b115-be6eec7bf4ea
        status: 201 Created
        code: 201
        duration: 457.959557ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a8618c3e-a566-48dd-b115-be6eec7bf4ea
        method: GET
      response:
        body: '{"image": {"id": "a8618c3e-a566-48dd-b115-be6eec7bf4ea", "name": "tf-image-recursing-khorana", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "582d51a5-08a0-415f-b439-8dc93e71c451", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-07-30T12:56:57.210543+00:00", "modification_date": "2026-07-30T12:56:57.210543+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.827556ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/582d51a5-08a0-415f-b439-8dc93e71c451
        method: GET
      response:
        body: '{"id":"582d51a5-08a0-415f-b439-8dc93e71c451", "name":"tf-snapshot-elegant-benz", "parent_volume":{"id":"20727023-47f4-4848-962a-705dba85488a", "name":"tf-volume-musing-banach", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:51.805284Z", "updated_at":"2026-07-30T12:56:57.280273Z", "references":[{"id":"797e9520-1276-4e9d-80d8-15423f89083c", "product_resource_type":"instance_image", "product_resource_id":"a8618c3e-a566-48dd-b115-be6eec7bf4ea", "created_at":"2026-07-30T12:56:57.280273Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.404302ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a8618c3e-a566-48dd-b115-be6eec7bf4ea
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "a8618c3e-a566-48dd-b115-be6eec7bf4ea"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.367856ms
[...]
