---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-silly-pasteur","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":40000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"382b4255-ee00-4873-8e01-011f24d76543", "name":"tf-volume-silly-pasteur", "type":"sbs_5k", "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:44.537516Z", "updated_at":"2026-07-30T12:56:44.537516Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.198482ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/382b4255-ee00-4873-8e01-011f24d76543
        method: GET
      response:
        body: '{"id":"382b4255-ee00-4873-8e01-011f24d76543", "name":"tf-volume-silly-pasteur", "type":"sbs_5k", "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:44.537516Z", "updated_at":"2026-07-30T12:56:44.537516Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.266092ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"volume_id":"382b4255-ee00-4873-8e01-011f24d76543","name":"tf-snapshot-romantic-saha","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"a573bd7b-b83e-4b45-8013-7551ad2588a9", "name":"tf-snapshot-romantic-saha", "parent_volume":{"id":"382b4255-ee00-4873-8e01-011f24d76543", "name":"tf-volume-silly-pasteur", "type":"sbs_5k", "status":"available"}, "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:49.849920Z", "updated_at":"2026-07-30T12:56:49.849920Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.603594ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a573bd7b-b83e-4b45-8013-7551ad2588a9
        method: GET
      response:
        body: '{"id":"a573bd7b-b83e-4b45-8013-7551ad2588a9", "name":"tf-snapshot-romantic-saha", "parent_volume":{"id":"382b4255-ee00-4873-8e01-011f24d76543", "name":"tf-volume-silly-pasteur", "type":"sbs_5k", "status":"available"}, "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:49.849920Z", "updated_at":"2026-07-30T12:56:49.849920Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.804298ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"7c731c36-94a9-4446-bfa5-a444ef7d9ac6","arch":"x86_64","extra_volumes":{"1":{"id":"13e7d360-5d8d-48d7-acd8-7dbb406c6150"},"2":{"id":"a573bd7b-b83e-4b45-8013-7551ad2588a9"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "36ecc902-7f70-42c9-89c0-88ad2811e4bf", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "7c731c36-94a9-4446-bfa5-a444ef7d9ac6", "size": 0, "name": ""}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "a573bd7b-b83e-4b45-8013-7551ad2588a9", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "13e7d360-5d8d-48d7-acd8-7dbb406c6150", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-07-30T12:56:55.519463+00:00", "modification_date": "2026-07-30T12:56:55.519463+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/36ecc902-7f70-42c9-89c0-88ad2811e4bf
        status: 201 Created
        code: 201
        duration: 823.086865ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/36ecc902-7f70-42c9-89c0-88ad2811e4bf
        method: GET
      response:
        body: '{"image": {"id": "36ecc902-7f70-42c9-89c0-88ad2811e4bf", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "7c731c36-94a9-4446-bfa5-a444ef7d9ac6", "size": 0, "name": ""}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "a573bd7b-b83e-4b45-8013-7551ad2588a9", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "13e7d360-5d8d-48d7-acd8-7dbb406c6150", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-07-30T12:56:55.519463+00:00", "modification_date": "2026-07-30T12:56:55.519463+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.298156ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/13e7d360-5d8d-48d7-acd8-7dbb406c6150
        method: GET
      response:
        body: '{"id":"13e7d360-5d8d-48d7-acd8-7dbb406c6150", "name":"tf-snapshot-focused-lichterman", "parent_volume":{"id":"866b31a5-95f8-4e0c-94e2-7f1cc736819e", "name":"tf-volume-thirsty-curran", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-07-30T12:56:49.960963Z", "updated_at":"2026-07-30T12:56:55.631563Z", "references":[{"id":"59d106ba-cedb-4dfe-8a6c-704de3cf184e", "product_resource_type":"instance_image", "product_resource_id":"36ecc902-7f70-42c9-89c0-88ad2811e4bf", "created_at":"2026-07-30T12:56:55.631563Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.145381ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/36ecc902-7f70-42c9-89c0-88ad2811e4bf
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "36ecc902-7f70-42c9-89c0-88ad2811e4bf"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.852124ms
[...]
