---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-volume-confident-rhodes\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":40000000000},\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"7ac1ff77-5066-4260-a3f0-db149e045f29\", \"name\":\"tf-volume-confident-rhodes\", \"type\":\"sbs_5k\", \"size\":40000000000, \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T15:43:02.415231Z\", \"updated_at\":\"2025-10-30T15:43:02.415231Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"creating\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 266.411514ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/7ac1ff77-5066-4260-a3f0-db149e045f29
    method: GET
  response:
    body: "{\"id\":\"7ac1ff77-5066-4260-a3f0-db149e045f29\", \"name\":\"tf-volume-confident-rhodes\", \"type\":\"sbs_5k\", \"size\":40000000000, \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T15:43:02.415231Z\", \"updated_at\":\"2025-10-30T15:43:02.415231Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"creating\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 79.263375ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"ad270caa-579a-4a9f-8673-3c9e3fd05fa2\",\"name\":\"tf-snapshot-magical-archimedes\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"ec679b25-8233-4282-ae07-f002f9a66d3f\", \"name\":\"tf-snapshot-magical-archimedes\", \"parent_volume\":{\"id\":\"ad270caa-579a-4a9f-8673-3c9e3fd05fa2\", \"name\":\"tf-volume-sharp-chebyshev\", \"type\":\"sbs_15k\", \"status\":\"available\"}, \"size\":20000000000, \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T15:43:03.111400Z\", \"updated_at\":\"2025-10-30T15:43:03.111400Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 473.168746ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/76d9d4d3-abd9-4ff5-9321-72a89efb8037
    method: GET
  response:
    body: "{\"id\":\"76d9d4d3-abd9-4ff5-9321-72a89efb8037\", \"name\":\"tf-snapshot-eager-hertz\", \"parent_volume\":{\"id\":\"1b0f3e27-439f-4396-9592-e56f38493d74\", \"name\":\"tf-volume-agitated-lalande\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":20000000000, \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T15:43:03.180058Z\", \"updated_at\":\"2025-10-30T15:43:03.180058Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.108812ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test-image-external-block-volume\",\"root_volume\":\"76d9d4d3-abd9-4ff5-9321-72a89efb8037\",\"arch\":\"x86_64\",\"extra_volumes\":{\"1\":{\"id\":\"ec679b25-8233-4282-ae07-f002f9a66d3f\"},\"2\":{\"id\":\"9e1b874d-3f72-4d75-817b-8adcd58fbffc\"}},\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"f325b06b-9871-43c5-90d0-018a832c9bf6\", \"name\": \"tf-test-image-external-block-volume\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"76d9d4d3-abd9-4ff5-9321-72a89efb8037\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"ec679b25-8233-4282-ae07-f002f9a66d3f\", \"size\": 0, \"name\": \"\"}, \"2\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"9e1b874d-3f72-4d75-817b-8adcd58fbffc\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-10-30T15:43:14.109363+00:00\", \"modification_date\": \"2025-10-30T15:43:14.109363+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f325b06b-9871-43c5-90d0-018a832c9bf6
    status: 201 Created
    code: 201
    duration: 1.110179858s
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f325b06b-9871-43c5-90d0-018a832c9bf6
    method: GET
  response:
    body: "{\"image\": {\"id\": \"f325b06b-9871-43c5-90d0-018a832c9bf6\", \"name\": \"tf-test-image-external-block-volume\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"76d9d4d3-abd9-4ff5-9321-72a89efb8037\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"ec679b25-8233-4282-ae07-f002f9a66d3f\", \"size\": 0, \"name\": \"\"}, \"2\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"9e1b874d-3f72-4d75-817b-8adcd58fbffc\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-10-30T15:43:14.109363+00:00\", \"modification_date\": \"2025-10-30T15:43:14.109363+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.338627ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/76d9d4d3-abd9-4ff5-9321-72a89efb8037
    method: GET
  response:
    body: "{\"id\":\"76d9d4d3-abd9-4ff5-9321-72a89efb8037\", \"name\":\"tf-snapshot-eager-hertz\", \"parent_volume\":{\"id\":\"1b0f3e27-439f-4396-9592-e56f38493d74\", \"name\":\"tf-volume-agitated-lalande\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":20000000000, \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T15:43:03.180058Z\", \"updated_at\":\"2025-10-30T15:43:14.172551Z\", \"references\":[{\"id\":\"0422e3ee-d0b1-4a60-8175-f8acc3cc0b8c\", \"product_resource_type\":\"instance_image\", \"product_resource_id\":\"f325b06b-9871-43c5-90d0-018a832c9bf6\", \"created_at\":\"2025-10-30T15:43:14.172551Z\", \"type\":\"link\", \"status\":\"attached\"}], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 248.804944ms
[...]
- id: 56
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f325b06b-9871-43c5-90d0-018a832c9bf6
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_image\", \"resource_id\": \"f325b06b-9871-43c5-90d0-018a832c9bf6\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.515865ms
[...]
