---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-mystifying-lederberg","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":40000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-09-30T10:20:17.639617Z","id":"d5a3ad21-568c-445d-bb63-4d648a2daa9a","last_detached_at":null,"name":"tf-volume-mystifying-lederberg","parent_snapshot_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":40000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-09-30T10:20:17.639617Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.328351ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d5a3ad21-568c-445d-bb63-4d648a2daa9a
        method: GET
      response:
        body: '{"created_at":"2025-09-30T10:20:17.639617Z","id":"d5a3ad21-568c-445d-bb63-4d648a2daa9a","last_detached_at":null,"name":"tf-volume-mystifying-lederberg","parent_snapshot_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":40000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-09-30T10:20:17.639617Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.302566ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"volume_id":"f38ab82b-dbda-4f5d-b95d-e88e39876af5","name":"tf-snapshot-jolly-franklin","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-09-30T10:20:22.957357Z","id":"77efe3fe-191b-4ac2-be81-a1bd5adee76b","name":"tf-snapshot-jolly-franklin","parent_volume":{"id":"f38ab82b-dbda-4f5d-b95d-e88e39876af5","name":"tf-volume-vigorous-payne","status":"available","type":"sbs_15k"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":20000000000,"status":"creating","tags":[],"updated_at":"2025-09-30T10:20:22.957357Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 302.296801ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/175c6d5a-9c7d-4e4c-94b1-912123f0c17e
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-09-30T10:20:22.952187Z","id":"175c6d5a-9c7d-4e4c-94b1-912123f0c17e","name":"tf-snapshot-elegant-chandrasekhar","parent_volume":{"id":"d5a3ad21-568c-445d-bb63-4d648a2daa9a","name":"tf-volume-mystifying-lederberg","status":"available","type":"sbs_5k"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":40000000000,"status":"creating","tags":[],"updated_at":"2025-09-30T10:20:22.952187Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.311318ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"758d1347-1273-448a-9b06-199f9d05531b","arch":"x86_64","extra_volumes":{"1":{"id":"77efe3fe-191b-4ac2-be81-a1bd5adee76b"},"2":{"id":"175c6d5a-9c7d-4e4c-94b1-912123f0c17e"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-09-30T10:20:28.702643+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"77efe3fe-191b-4ac2-be81-a1bd5adee76b","name":"","size":0,"volume_type":"sbs_snapshot"},"2":{"id":"175c6d5a-9c7d-4e4c-94b1-912123f0c17e","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"38b7ff1a-575a-4c05-b806-1ba96c5c0e3d","modification_date":"2025-09-30T10:20:28.702643+00:00","name":"tf-test-image-external-block-volume","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false,"root_volume":{"id":"758d1347-1273-448a-9b06-199f9d05531b","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/38b7ff1a-575a-4c05-b806-1ba96c5c0e3d
        status: 201 Created
        code: 201
        duration: 545.572157ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/38b7ff1a-575a-4c05-b806-1ba96c5c0e3d
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-09-30T10:20:28.702643+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"77efe3fe-191b-4ac2-be81-a1bd5adee76b","name":"","size":0,"volume_type":"sbs_snapshot"},"2":{"id":"175c6d5a-9c7d-4e4c-94b1-912123f0c17e","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"38b7ff1a-575a-4c05-b806-1ba96c5c0e3d","modification_date":"2025-09-30T10:20:28.702643+00:00","name":"tf-test-image-external-block-volume","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false,"root_volume":{"id":"758d1347-1273-448a-9b06-199f9d05531b","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.731586ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/175c6d5a-9c7d-4e4c-94b1-912123f0c17e
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-09-30T10:20:22.952187Z","id":"175c6d5a-9c7d-4e4c-94b1-912123f0c17e","name":"tf-snapshot-elegant-chandrasekhar","parent_volume":{"id":"d5a3ad21-568c-445d-bb63-4d648a2daa9a","name":"tf-volume-mystifying-lederberg","status":"available","type":"sbs_5k"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[{"created_at":"2025-09-30T10:20:28.970465Z","id":"a31be384-a5a4-4cd9-9997-c93ca1d04f91","product_resource_id":"38b7ff1a-575a-4c05-b806-1ba96c5c0e3d","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":40000000000,"status":"in_use","tags":[],"updated_at":"2025-09-30T10:20:28.970465Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.21386ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/38b7ff1a-575a-4c05-b806-1ba96c5c0e3d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"38b7ff1a-575a-4c05-b806-1ba96c5c0e3d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.32622ms
[...]
