---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-recursing-jepsen","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"0c512ffe-1257-40d3-af1e-8cb9461b339e","name":"tf-volume-recursing-jepsen","type":"sbs_5k","size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:46.178684Z","updated_at":"2026-08-11T09:14:46.178684Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.192376ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/0c512ffe-1257-40d3-af1e-8cb9461b339e
        method: GET
      response:
        body: '{"id":"0c512ffe-1257-40d3-af1e-8cb9461b339e","name":"tf-volume-recursing-jepsen","type":"sbs_5k","size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:46.178684Z","updated_at":"2026-08-11T09:14:46.178684Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.044799ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"volume_id":"9e1607fd-459e-4d61-a160-2ef5fbc423bb","name":"tf-snapshot-wizardly-wu","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"c5a8391d-14fd-48ce-b637-af01dbb9a010","name":"tf-snapshot-wizardly-wu","parent_volume":{"id":"9e1607fd-459e-4d61-a160-2ef5fbc423bb","name":"tf-volume-tender-mendeleev","type":"sbs_15k","status":"available"},"size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:51.417463Z","updated_at":"2026-08-11T09:14:51.417463Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.183475ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/c5a8391d-14fd-48ce-b637-af01dbb9a010
        method: GET
      response:
        body: '{"id":"c5a8391d-14fd-48ce-b637-af01dbb9a010","name":"tf-snapshot-wizardly-wu","parent_volume":{"id":"9e1607fd-459e-4d61-a160-2ef5fbc423bb","name":"tf-volume-tender-mendeleev","type":"sbs_15k","status":"available"},"size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:51.417463Z","updated_at":"2026-08-11T09:14:51.417463Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.0442ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"cd77f166-de4b-42ff-8da5-3c83b9e75c4f","arch":"x86_64","extra_volumes":{"1":{"id":"c5a8391d-14fd-48ce-b637-af01dbb9a010"},"2":{"id":"d25f8910-656a-4946-95a1-3db4d8b2f787"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "aa56aa23-af55-4a07-995a-3ac1755c5d61", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "cd77f166-de4b-42ff-8da5-3c83b9e75c4f", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "c5a8391d-14fd-48ce-b637-af01dbb9a010", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "d25f8910-656a-4946-95a1-3db4d8b2f787", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-08-11T09:14:56.845453+00:00", "modification_date": "2026-08-11T09:14:56.845453+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/aa56aa23-af55-4a07-995a-3ac1755c5d61
        status: 201 Created
        code: 201
        duration: 476.285824ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/aa56aa23-af55-4a07-995a-3ac1755c5d61
        method: GET
      response:
        body: '{"image": {"id": "aa56aa23-af55-4a07-995a-3ac1755c5d61", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "cd77f166-de4b-42ff-8da5-3c83b9e75c4f", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "c5a8391d-14fd-48ce-b637-af01dbb9a010", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "d25f8910-656a-4946-95a1-3db4d8b2f787", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-08-11T09:14:56.845453+00:00", "modification_date": "2026-08-11T09:14:56.845453+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.304014ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/cd77f166-de4b-42ff-8da5-3c83b9e75c4f
        method: GET
      response:
        body: '{"id":"cd77f166-de4b-42ff-8da5-3c83b9e75c4f","name":"tf-snapshot-affectionate-austin","parent_volume":{"id":"0c512ffe-1257-40d3-af1e-8cb9461b339e","name":"tf-volume-recursing-jepsen","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-11T09:14:51.444410Z","updated_at":"2026-08-11T09:14:56.887285Z","references":[{"id":"80f3be51-325e-44ab-b08e-6ff3b353d5ab","product_resource_type":"instance_image","product_resource_id":"aa56aa23-af55-4a07-995a-3ac1755c5d61","created_at":"2026-08-11T09:14:56.887285Z","type":"link","status":"attached"}],"status":"in_use","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.263988ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/aa56aa23-af55-4a07-995a-3ac1755c5d61
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "aa56aa23-af55-4a07-995a-3ac1755c5d61"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 241.961539ms
[...]
