---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-elegant-greider","perf_iops":15000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"cc293e1b-0ccd-428d-955b-63b4606f2704", "name":"tf-volume-elegant-greider", "type":"sbs_15k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:09.441230Z", "updated_at":"2026-02-26T00:34:09.441230Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.596978ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/918e0166-c2fa-432b-b016-1dc2b65b6d08
        method: GET
      response:
        body: '{"id":"918e0166-c2fa-432b-b016-1dc2b65b6d08", "name":"tf-volume-musing-cartwright", "type":"sbs_5k", "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:09.442211Z", "updated_at":"2026-02-26T00:34:09.442211Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.927123ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"volume_id":"cc293e1b-0ccd-428d-955b-63b4606f2704","name":"tf-snapshot-inspiring-mirzakhani","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"0bd537e6-f66d-4e70-9348-d55b1005d2bc", "name":"tf-snapshot-inspiring-mirzakhani", "parent_volume":{"id":"cc293e1b-0ccd-428d-955b-63b4606f2704", "name":"tf-volume-elegant-greider", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:09.769183Z", "updated_at":"2026-02-26T00:34:09.769183Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.080722ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/0bd537e6-f66d-4e70-9348-d55b1005d2bc
        method: GET
      response:
        body: '{"id":"0bd537e6-f66d-4e70-9348-d55b1005d2bc", "name":"tf-snapshot-inspiring-mirzakhani", "parent_volume":{"id":"cc293e1b-0ccd-428d-955b-63b4606f2704", "name":"tf-volume-elegant-greider", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:09.769183Z", "updated_at":"2026-02-26T00:34:09.769183Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.864121ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"7503f3c0-8fc5-40da-b701-9c6f6caa049a","arch":"x86_64","extra_volumes":{"1":{"id":"0bd537e6-f66d-4e70-9348-d55b1005d2bc"},"2":{"id":"d3e66eab-7ea8-4642-b41f-71cb39eb8392"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "377fefe4-4598-4228-b739-5ca5fc2f0b19", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "7503f3c0-8fc5-40da-b701-9c6f6caa049a", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "0bd537e6-f66d-4e70-9348-d55b1005d2bc", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "d3e66eab-7ea8-4642-b41f-71cb39eb8392", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T00:34:21.018998+00:00", "modification_date": "2026-02-26T00:34:21.018998+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/377fefe4-4598-4228-b739-5ca5fc2f0b19
        status: 201 Created
        code: 201
        duration: 1.251998318s
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/377fefe4-4598-4228-b739-5ca5fc2f0b19
        method: GET
      response:
        body: '{"image": {"id": "377fefe4-4598-4228-b739-5ca5fc2f0b19", "name": "tf-test-image-external-block-volume", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "7503f3c0-8fc5-40da-b701-9c6f6caa049a", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "0bd537e6-f66d-4e70-9348-d55b1005d2bc", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "d3e66eab-7ea8-4642-b41f-71cb39eb8392", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-26T00:34:21.018998+00:00", "modification_date": "2026-02-26T00:34:21.018998+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.128112ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/d3e66eab-7ea8-4642-b41f-71cb39eb8392
        method: GET
      response:
        body: '{"id":"d3e66eab-7ea8-4642-b41f-71cb39eb8392", "name":"tf-snapshot-elated-hamilton", "parent_volume":{"id":"918e0166-c2fa-432b-b016-1dc2b65b6d08", "name":"tf-volume-musing-cartwright", "type":"sbs_5k", "status":"available"}, "size":40000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T00:34:14.816900Z", "updated_at":"2026-02-26T00:34:21.646244Z", "references":[{"id":"6ac3be3c-4c55-4317-82ee-6719fc02ef29", "product_resource_type":"instance_image", "product_resource_id":"377fefe4-4598-4228-b739-5ca5fc2f0b19", "created_at":"2026-02-26T00:34:21.646244Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.303427ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/377fefe4-4598-4228-b739-5ca5fc2f0b19
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "377fefe4-4598-4228-b739-5ca5fc2f0b19"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.328976ms
[...]
