---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-confident-kalam","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":50000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2024-12-03T15:09:18.579883Z","id":"96f5da11-07ce-479c-b8fa-ec1e01fa1575","last_detached_at":null,"name":"tf-volume-confident-kalam","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2024-12-03T15:09:18.579883Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 434.638958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/96f5da11-07ce-479c-b8fa-ec1e01fa1575
        method: GET
      response:
        body: '{"created_at":"2024-12-03T15:09:18.579883Z","id":"96f5da11-07ce-479c-b8fa-ec1e01fa1575","last_detached_at":null,"name":"tf-volume-confident-kalam","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2024-12-03T15:09:18.579883Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.210416ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"96f5da11-07ce-479c-b8fa-ec1e01fa1575","name":"tf-snapshot-determined-wescoff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T15:09:24.365984Z","id":"370d2ec1-bac4-4c26-92d0-f03d15fb4820","name":"tf-snapshot-determined-wescoff","parent_volume":{"id":"96f5da11-07ce-479c-b8fa-ec1e01fa1575","name":"tf-volume-confident-kalam","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-12-03T15:09:24.365984Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.3715ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/370d2ec1-bac4-4c26-92d0-f03d15fb4820
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T15:09:24.365984Z","id":"370d2ec1-bac4-4c26-92d0-f03d15fb4820","name":"tf-snapshot-determined-wescoff","parent_volume":{"id":"96f5da11-07ce-479c-b8fa-ec1e01fa1575","name":"tf-volume-confident-kalam","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-12-03T15:09:24.365984Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.137417ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"370d2ec1-bac4-4c26-92d0-f03d15fb4820","arch":"x86_64","extra_volumes":{"1":{"id":"320046d7-8125-40a5-86ce-21ba83fe6d00"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-12-03T15:09:41.887689+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"320046d7-8125-40a5-86ce-21ba83fe6d00","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"76ae179f-0cf2-4cca-a341-c70734dcb5dc","modification_date":"2024-12-03T15:09:41.887689+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"370d2ec1-bac4-4c26-92d0-f03d15fb4820","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/76ae179f-0cf2-4cca-a341-c70734dcb5dc
        status: 201 Created
        code: 201
        duration: 599.064416ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/76ae179f-0cf2-4cca-a341-c70734dcb5dc
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-12-03T15:09:41.887689+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"320046d7-8125-40a5-86ce-21ba83fe6d00","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"76ae179f-0cf2-4cca-a341-c70734dcb5dc","modification_date":"2024-12-03T15:09:41.887689+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"370d2ec1-bac4-4c26-92d0-f03d15fb4820","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.717417ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/320046d7-8125-40a5-86ce-21ba83fe6d00
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T15:09:36.274729Z","id":"320046d7-8125-40a5-86ce-21ba83fe6d00","name":"tf-snapshot-lucid-bartik","parent_volume":{"id":"ca5e9228-d88f-41c8-95a5-61f7be1c4424","name":"tf-volume-naughty-hoover","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[{"created_at":"2024-12-03T15:09:42.036775Z","id":"ed4bb6c5-dc52-4b29-a7ab-80389ef220ea","product_resource_id":"76ae179f-0cf2-4cca-a341-c70734dcb5dc","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":50000000000,"status":"in_use","tags":[],"updated_at":"2024-12-03T15:09:42.036775Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.374083ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/76ae179f-0cf2-4cca-a341-c70734dcb5dc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"76ae179f-0cf2-4cca-a341-c70734dcb5dc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.966375ms
[...]
