---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-keen-mccarthy","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"e2ba34a8-4441-4fd1-a4fc-abb84e3ac600", "name":"tf-volume-keen-mccarthy", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:42:06.073803Z", "updated_at":"2026-06-23T09:42:06.073803Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.073193ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/e2ba34a8-4441-4fd1-a4fc-abb84e3ac600
        method: GET
      response:
        body: '{"id":"e2ba34a8-4441-4fd1-a4fc-abb84e3ac600", "name":"tf-volume-keen-mccarthy", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:42:06.073803Z", "updated_at":"2026-06-23T09:42:06.073803Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.48203ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"e2ba34a8-4441-4fd1-a4fc-abb84e3ac600","name":"tf-snapshot-cocky-newton","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"17de6d50-dbe1-412d-b98b-23a11e8c2399", "name":"tf-snapshot-cocky-newton", "parent_volume":{"id":"e2ba34a8-4441-4fd1-a4fc-abb84e3ac600", "name":"tf-volume-keen-mccarthy", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:42:11.430551Z", "updated_at":"2026-06-23T09:42:11.430551Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.463352ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/17de6d50-dbe1-412d-b98b-23a11e8c2399
        method: GET
      response:
        body: '{"id":"17de6d50-dbe1-412d-b98b-23a11e8c2399", "name":"tf-snapshot-cocky-newton", "parent_volume":{"id":"e2ba34a8-4441-4fd1-a4fc-abb84e3ac600", "name":"tf-volume-keen-mccarthy", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:42:11.430551Z", "updated_at":"2026-06-23T09:42:11.430551Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.59567ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-compassionate-nash","root_volume":"17de6d50-dbe1-412d-b98b-23a11e8c2399","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "66a8d063-fbeb-47cf-abc4-b0ea40f6c888", "name": "tf-image-compassionate-nash", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "17de6d50-dbe1-412d-b98b-23a11e8c2399", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-23T09:42:16.882005+00:00", "modification_date": "2026-06-23T09:42:16.882005+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/66a8d063-fbeb-47cf-abc4-b0ea40f6c888
        status: 201 Created
        code: 201
        duration: 486.481274ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/66a8d063-fbeb-47cf-abc4-b0ea40f6c888
        method: GET
      response:
        body: '{"image": {"id": "66a8d063-fbeb-47cf-abc4-b0ea40f6c888", "name": "tf-image-compassionate-nash", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "17de6d50-dbe1-412d-b98b-23a11e8c2399", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-23T09:42:16.882005+00:00", "modification_date": "2026-06-23T09:42:16.882005+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.617573ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/17de6d50-dbe1-412d-b98b-23a11e8c2399
        method: GET
      response:
        body: '{"id":"17de6d50-dbe1-412d-b98b-23a11e8c2399", "name":"tf-snapshot-cocky-newton", "parent_volume":{"id":"e2ba34a8-4441-4fd1-a4fc-abb84e3ac600", "name":"tf-volume-keen-mccarthy", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-23T09:42:11.430551Z", "updated_at":"2026-06-23T09:42:16.924101Z", "references":[{"id":"0de5963f-8e77-488a-a197-c2fc7f5004fb", "product_resource_type":"instance_image", "product_resource_id":"66a8d063-fbeb-47cf-abc4-b0ea40f6c888", "created_at":"2026-06-23T09:42:16.924101Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.470899ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/66a8d063-fbeb-47cf-abc4-b0ea40f6c888
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "66a8d063-fbeb-47cf-abc4-b0ea40f6c888"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.815316ms
[...]
