---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-frosty-dirac","perf_iops":15000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"8c318464-183a-49ef-9251-20bb15ffc5e7", "name":"tf-volume-frosty-dirac", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:40.709369Z", "updated_at":"2026-02-18T13:32:40.709369Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.948692ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/8c318464-183a-49ef-9251-20bb15ffc5e7
        method: GET
      response:
        body: '{"id":"8c318464-183a-49ef-9251-20bb15ffc5e7", "name":"tf-volume-frosty-dirac", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:40.709369Z", "updated_at":"2026-02-18T13:32:40.709369Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.503777ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"volume_id":"8c318464-183a-49ef-9251-20bb15ffc5e7","name":"tf-snapshot-admiring-heisenberg","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"aa3dabbf-d85d-46b6-b677-ed0445bdb659", "name":"tf-snapshot-admiring-heisenberg", "parent_volume":{"id":"8c318464-183a-49ef-9251-20bb15ffc5e7", "name":"tf-volume-frosty-dirac", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:45.994612Z", "updated_at":"2026-02-18T13:32:45.994612Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.401843ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/963415a8-fabd-42a0-a741-c9d21954f1c8
        method: GET
      response:
        body: '{"id":"963415a8-fabd-42a0-a741-c9d21954f1c8", "name":"tf-snapshot-heuristic-clarke", "parent_volume":{"id":"ddf8ca84-2e50-4822-b180-d4e2ea42c008", "name":"tf-volume-admiring-roentgen", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:46.062385Z", "updated_at":"2026-02-18T13:32:46.062385Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.264528ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"963415a8-fabd-42a0-a741-c9d21954f1c8","arch":"x86_64","extra_volumes":{"1":{"id":"aa3dabbf-d85d-46b6-b677-ed0445bdb659"},"2":{"id":"23e8094f-4db9-4d66-87a6-d1055e0469ee"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "e50083f4-3088-46b9-91a0-1920479e5435", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "963415a8-fabd-42a0-a741-c9d21954f1c8", "size": 0, "name": ""}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "23e8094f-4db9-4d66-87a6-d1055e0469ee", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "aa3dabbf-d85d-46b6-b677-ed0445bdb659", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:32:52.051626+00:00", "modification_date": "2026-02-18T13:32:52.051626+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/e50083f4-3088-46b9-91a0-1920479e5435
        status: 201 Created
        code: 201
        duration: 1.103641659s
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/e50083f4-3088-46b9-91a0-1920479e5435
        method: GET
      response:
        body: '{"image": {"id": "e50083f4-3088-46b9-91a0-1920479e5435", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "963415a8-fabd-42a0-a741-c9d21954f1c8", "size": 0, "name": ""}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "23e8094f-4db9-4d66-87a6-d1055e0469ee", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "aa3dabbf-d85d-46b6-b677-ed0445bdb659", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:32:52.051626+00:00", "modification_date": "2026-02-18T13:32:52.051626+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.502611ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/963415a8-fabd-42a0-a741-c9d21954f1c8
        method: GET
      response:
        body: '{"id":"963415a8-fabd-42a0-a741-c9d21954f1c8", "name":"tf-snapshot-heuristic-clarke", "parent_volume":{"id":"ddf8ca84-2e50-4822-b180-d4e2ea42c008", "name":"tf-volume-admiring-roentgen", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:32:46.062385Z", "updated_at":"2026-02-18T13:32:52.090266Z", "references":[{"id":"9ae7eca9-71e3-4aca-a29f-8ef9e4f11b01", "product_resource_type":"instance_image", "product_resource_id":"e50083f4-3088-46b9-91a0-1920479e5435", "created_at":"2026-02-18T13:32:52.090266Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.650947ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/e50083f4-3088-46b9-91a0-1920479e5435
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "e50083f4-3088-46b9-91a0-1920479e5435"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.342559ms
[...]
