---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-eloquent-mcclintock","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"srn":"","id":"c4b96e8a-fd20-4d0d-ac70-73e25e3d6fa6","name":"tf-volume-eloquent-mcclintock","type":"sbs_5k","size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:36.511257Z","updated_at":"2026-09-24T14:41:36.511257Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 148.7835ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.989875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/6fc3b7cd-e02a-4ada-a7a6-311bdbc0aabc
        method: GET
      response:
        body: '{"srn":"","id":"6fc3b7cd-e02a-4ada-a7a6-311bdbc0aabc","name":"tf-volume-recursing-kalam","type":"sbs_5k","size":40000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:36.522869Z","updated_at":"2026-09-24T14:41:36.522869Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.031375ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"volume_id":"c4b96e8a-fd20-4d0d-ac70-73e25e3d6fa6","name":"tf-snapshot-gifted-keldysh","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"srn":"","id":"45e2a0fb-5b20-462d-b5c7-f2b70faaa005","name":"tf-snapshot-gifted-keldysh","parent_volume":{"id":"c4b96e8a-fd20-4d0d-ac70-73e25e3d6fa6","name":"tf-volume-eloquent-mcclintock","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:41.797982Z","updated_at":"2026-09-24T14:41:41.797982Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.192708ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/45e2a0fb-5b20-462d-b5c7-f2b70faaa005
        method: GET
      response:
        body: '{"srn":"","id":"45e2a0fb-5b20-462d-b5c7-f2b70faaa005","name":"tf-snapshot-gifted-keldysh","parent_volume":{"id":"c4b96e8a-fd20-4d0d-ac70-73e25e3d6fa6","name":"tf-volume-eloquent-mcclintock","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:41.797982Z","updated_at":"2026-09-24T14:41:41.797982Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.941875ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"45e2a0fb-5b20-462d-b5c7-f2b70faaa005","arch":"x86_64","extra_volumes":{"1":{"id":"8c0c6126-4a0f-46a3-a60a-11249153b625"},"2":{"id":"027b0260-9a01-47bb-ab31-27617b20721d"}},"project":"4d333544-41be-4b0b-8907-0b9036859747","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "5702d1a4-21e3-4f1b-89ea-0c23b0109423", "name": "tf-test-image-external-block-volume", "organization": "4d333544-41be-4b0b-8907-0b9036859747", "project": "4d333544-41be-4b0b-8907-0b9036859747", "root_volume": {"volume_type": "sbs_snapshot", "id": "45e2a0fb-5b20-462d-b5c7-f2b70faaa005", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "8c0c6126-4a0f-46a3-a60a-11249153b625", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "027b0260-9a01-47bb-ab31-27617b20721d", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-09-24T14:41:47.101489+00:00", "modification_date": "2026-09-24T14:41:47.101489+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5702d1a4-21e3-4f1b-89ea-0c23b0109423
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 443.688875ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5702d1a4-21e3-4f1b-89ea-0c23b0109423
        method: GET
      response:
        body: '{"image": {"id": "5702d1a4-21e3-4f1b-89ea-0c23b0109423", "name": "tf-test-image-external-block-volume", "organization": "4d333544-41be-4b0b-8907-0b9036859747", "project": "4d333544-41be-4b0b-8907-0b9036859747", "root_volume": {"volume_type": "sbs_snapshot", "id": "45e2a0fb-5b20-462d-b5c7-f2b70faaa005", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "8c0c6126-4a0f-46a3-a60a-11249153b625", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "027b0260-9a01-47bb-ab31-27617b20721d", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-09-24T14:41:47.101489+00:00", "modification_date": "2026-09-24T14:41:47.101489+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 327.217875ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/45e2a0fb-5b20-462d-b5c7-f2b70faaa005
        method: GET
      response:
        body: '{"srn":"","id":"45e2a0fb-5b20-462d-b5c7-f2b70faaa005","name":"tf-snapshot-gifted-keldysh","parent_volume":{"id":"c4b96e8a-fd20-4d0d-ac70-73e25e3d6fa6","name":"tf-volume-eloquent-mcclintock","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:41:41.797982Z","updated_at":"2026-09-24T14:41:47.154739Z","references":[{"id":"4245d8f1-e26b-4cb4-957e-98a6d6a8ae09","product_resource_type":"instance_image","product_resource_id":"5702d1a4-21e3-4f1b-89ea-0c23b0109423","created_at":"2026-09-24T14:41:47.154739Z","type":"link","status":"attached"}],"status":"in_use","tags":[],"class":"sbs","zone":"fr-par-1","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.976708ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5702d1a4-21e3-4f1b-89ea-0c23b0109423
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "5702d1a4-21e3-4f1b-89ea-0c23b0109423"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 69.654792ms
[...]
