---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-nifty-darwin","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":50000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2024-12-03T09:20:21.911951Z","id":"2f9fa488-6eb1-4ce3-ac90-259ae81fa0ef","last_detached_at":null,"name":"tf-volume-nifty-darwin","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2024-12-03T09:20:21.911951Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 973.59825ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/b626b8a8-81d8-454a-81a3-5193c4f2e67b
        method: GET
      response:
        body: '{"created_at":"2024-12-03T09:20:21.931877Z","id":"b626b8a8-81d8-454a-81a3-5193c4f2e67b","last_detached_at":null,"name":"tf-volume-thirsty-nobel","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2024-12-03T09:20:21.931877Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.13425ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2f9fa488-6eb1-4ce3-ac90-259ae81fa0ef","name":"tf-snapshot-infallible-sutherland","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T09:20:27.413426Z","id":"9503c511-6178-44d2-84b9-2b77b72664a4","name":"tf-snapshot-infallible-sutherland","parent_volume":{"id":"2f9fa488-6eb1-4ce3-ac90-259ae81fa0ef","name":"tf-volume-nifty-darwin","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-12-03T09:20:27.413426Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.595833ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/9503c511-6178-44d2-84b9-2b77b72664a4
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T09:20:27.413426Z","id":"9503c511-6178-44d2-84b9-2b77b72664a4","name":"tf-snapshot-infallible-sutherland","parent_volume":{"id":"2f9fa488-6eb1-4ce3-ac90-259ae81fa0ef","name":"tf-volume-nifty-darwin","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-12-03T09:20:27.413426Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.52975ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"9503c511-6178-44d2-84b9-2b77b72664a4","arch":"x86_64","extra_volumes":{"1":{"id":"1b70b864-6986-409a-a053-5b873ce6d06a"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-12-03T09:20:32.945445+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"1b70b864-6986-409a-a053-5b873ce6d06a","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"211f19f5-4962-48f9-8bcd-f4ef6d0b317a","modification_date":"2024-12-03T09:20:32.945445+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"9503c511-6178-44d2-84b9-2b77b72664a4","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/211f19f5-4962-48f9-8bcd-f4ef6d0b317a
        status: 201 Created
        code: 201
        duration: 835.495583ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/211f19f5-4962-48f9-8bcd-f4ef6d0b317a
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-12-03T09:20:32.945445+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"1b70b864-6986-409a-a053-5b873ce6d06a","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"211f19f5-4962-48f9-8bcd-f4ef6d0b317a","modification_date":"2024-12-03T09:20:32.945445+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"9503c511-6178-44d2-84b9-2b77b72664a4","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.54825ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/1b70b864-6986-409a-a053-5b873ce6d06a
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T09:20:27.392120Z","id":"1b70b864-6986-409a-a053-5b873ce6d06a","name":"tf-snapshot-optimistic-curie","parent_volume":{"id":"b626b8a8-81d8-454a-81a3-5193c4f2e67b","name":"tf-volume-thirsty-nobel","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[{"created_at":"2024-12-03T09:20:33.107439Z","id":"b1e8d356-513e-4dd2-86f9-f14bfa8e861f","product_resource_id":"211f19f5-4962-48f9-8bcd-f4ef6d0b317a","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":50000000000,"status":"in_use","tags":[],"updated_at":"2024-12-03T09:20:33.107439Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.527875ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/211f19f5-4962-48f9-8bcd-f4ef6d0b317a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"211f19f5-4962-48f9-8bcd-f4ef6d0b317a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.239333ms
[...]
