---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-distracted-lalande","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"9299e9ab-eb5a-4a78-93ae-8915baeb2a6c", "name":"tf-volume-distracted-lalande", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:52:07.566777Z", "updated_at":"2026-05-12T16:52:07.566777Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.889894ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/9299e9ab-eb5a-4a78-93ae-8915baeb2a6c
        method: GET
      response:
        body: '{"id":"9299e9ab-eb5a-4a78-93ae-8915baeb2a6c", "name":"tf-volume-distracted-lalande", "type":"sbs_5k", "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:52:07.566777Z", "updated_at":"2026-05-12T16:52:07.566777Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.333211ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"9299e9ab-eb5a-4a78-93ae-8915baeb2a6c","name":"tf-snapshot-brave-haslett","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"14d95170-331b-4442-9175-bb3d58c686ff", "name":"tf-snapshot-brave-haslett", "parent_volume":{"id":"9299e9ab-eb5a-4a78-93ae-8915baeb2a6c", "name":"tf-volume-distracted-lalande", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:52:12.879249Z", "updated_at":"2026-05-12T16:52:12.879249Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.222381ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/14d95170-331b-4442-9175-bb3d58c686ff
        method: GET
      response:
        body: '{"id":"14d95170-331b-4442-9175-bb3d58c686ff", "name":"tf-snapshot-brave-haslett", "parent_volume":{"id":"9299e9ab-eb5a-4a78-93ae-8915baeb2a6c", "name":"tf-volume-distracted-lalande", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:52:12.879249Z", "updated_at":"2026-05-12T16:52:12.879249Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.18929ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-laughing-bell","root_volume":"14d95170-331b-4442-9175-bb3d58c686ff","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "a2df9964-4496-40c9-9c26-a1d5b8216bd8", "name": "tf-image-laughing-bell", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "14d95170-331b-4442-9175-bb3d58c686ff", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-05-12T16:52:18.224850+00:00", "modification_date": "2026-05-12T16:52:18.224850+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a2df9964-4496-40c9-9c26-a1d5b8216bd8
        status: 201 Created
        code: 201
        duration: 305.475338ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a2df9964-4496-40c9-9c26-a1d5b8216bd8
        method: GET
      response:
        body: '{"image": {"id": "a2df9964-4496-40c9-9c26-a1d5b8216bd8", "name": "tf-image-laughing-bell", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "root_volume": {"volume_type": "sbs_snapshot", "id": "14d95170-331b-4442-9175-bb3d58c686ff", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-05-12T16:52:18.224850+00:00", "modification_date": "2026-05-12T16:52:18.224850+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.728752ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/14d95170-331b-4442-9175-bb3d58c686ff
        method: GET
      response:
        body: '{"id":"14d95170-331b-4442-9175-bb3d58c686ff", "name":"tf-snapshot-brave-haslett", "parent_volume":{"id":"9299e9ab-eb5a-4a78-93ae-8915baeb2a6c", "name":"tf-volume-distracted-lalande", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-05-12T16:52:12.879249Z", "updated_at":"2026-05-12T16:52:18.266750Z", "references":[{"id":"a29b813d-cffb-4e44-a8ce-6ee8247f4cb5", "product_resource_type":"instance_image", "product_resource_id":"a2df9964-4496-40c9-9c26-a1d5b8216bd8", "created_at":"2026-05-12T16:52:18.266750Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.140439ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a2df9964-4496-40c9-9c26-a1d5b8216bd8
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "a2df9964-4496-40c9-9c26-a1d5b8216bd8"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.9257ms
[...]
