---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-optimistic-euler","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":50000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2024-12-03T10:24:45.079561Z","id":"8a5a5b15-a2da-49cc-b41c-40c14677a6de","last_detached_at":null,"name":"tf-volume-optimistic-euler","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2024-12-03T10:24:45.079561Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.051771667s
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/8a5a5b15-a2da-49cc-b41c-40c14677a6de
        method: GET
      response:
        body: '{"created_at":"2024-12-03T10:24:45.079561Z","id":"8a5a5b15-a2da-49cc-b41c-40c14677a6de","last_detached_at":null,"name":"tf-volume-optimistic-euler","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2024-12-03T10:24:45.079561Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.344958ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"volume_id":"8a5a5b15-a2da-49cc-b41c-40c14677a6de","name":"tf-snapshot-loving-lovelace","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T10:24:46.138928Z","id":"e78f6502-3fe1-4ee7-87cc-5c44384046f7","name":"tf-snapshot-loving-lovelace","parent_volume":{"id":"8a5a5b15-a2da-49cc-b41c-40c14677a6de","name":"tf-volume-optimistic-euler","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-12-03T10:24:46.138928Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.427792ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e78f6502-3fe1-4ee7-87cc-5c44384046f7
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T10:24:46.138928Z","id":"e78f6502-3fe1-4ee7-87cc-5c44384046f7","name":"tf-snapshot-loving-lovelace","parent_volume":{"id":"8a5a5b15-a2da-49cc-b41c-40c14677a6de","name":"tf-volume-optimistic-euler","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2024-12-03T10:24:46.138928Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.887333ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"3d2ab978-8c8f-42b8-b8ff-268990a28b7b","arch":"x86_64","extra_volumes":{"1":{"id":"e78f6502-3fe1-4ee7-87cc-5c44384046f7"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-12-03T10:24:51.586880+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"e78f6502-3fe1-4ee7-87cc-5c44384046f7","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"aa08d8e5-2f50-42f6-8935-899906059b97","modification_date":"2024-12-03T10:24:51.586880+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"3d2ab978-8c8f-42b8-b8ff-268990a28b7b","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/aa08d8e5-2f50-42f6-8935-899906059b97
        status: 201 Created
        code: 201
        duration: 638.818959ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/aa08d8e5-2f50-42f6-8935-899906059b97
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2024-12-03T10:24:51.586880+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"e78f6502-3fe1-4ee7-87cc-5c44384046f7","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"aa08d8e5-2f50-42f6-8935-899906059b97","modification_date":"2024-12-03T10:24:51.586880+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"3d2ab978-8c8f-42b8-b8ff-268990a28b7b","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.264708ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e78f6502-3fe1-4ee7-87cc-5c44384046f7
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2024-12-03T10:24:46.138928Z","id":"e78f6502-3fe1-4ee7-87cc-5c44384046f7","name":"tf-snapshot-loving-lovelace","parent_volume":{"id":"8a5a5b15-a2da-49cc-b41c-40c14677a6de","name":"tf-volume-optimistic-euler","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[{"created_at":"2024-12-03T10:24:51.757028Z","id":"2e4675c9-a8af-43e4-a869-e380f58250b6","product_resource_id":"aa08d8e5-2f50-42f6-8935-899906059b97","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":50000000000,"status":"in_use","tags":[],"updated_at":"2024-12-03T10:24:51.757028Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.388125ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/aa08d8e5-2f50-42f6-8935-899906059b97
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"aa08d8e5-2f50-42f6-8935-899906059b97","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.735583ms
[...]
