---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-friendly-pare","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":50000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-08-18T16:25:06.667849Z","id":"fcad4f40-82cf-480f-adfe-b6be5c9f62c5","last_detached_at":null,"name":"tf-volume-friendly-pare","parent_snapshot_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-08-18T16:25:06.667849Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.273825ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/fcad4f40-82cf-480f-adfe-b6be5c9f62c5
        method: GET
      response:
        body: '{"created_at":"2025-08-18T16:25:06.667849Z","id":"fcad4f40-82cf-480f-adfe-b6be5c9f62c5","last_detached_at":null,"name":"tf-volume-friendly-pare","parent_snapshot_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-08-18T16:25:06.667849Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.500297ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"284abce6-0edf-4728-8c61-5dd8c52aa4ed","name":"tf-snapshot-objective-carson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-08-18T16:25:12.047079Z","id":"d2665580-b42d-4943-89fa-d6d7d282ce85","name":"tf-snapshot-objective-carson","parent_volume":{"id":"284abce6-0edf-4728-8c61-5dd8c52aa4ed","name":"tf-volume-optimistic-northcutt","status":"available","type":"sbs_5k"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2025-08-18T16:25:12.047079Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.757304ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/4ab16be3-97d1-4210-912e-dca64c3367dd
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-08-18T16:25:11.998867Z","id":"4ab16be3-97d1-4210-912e-dca64c3367dd","name":"tf-snapshot-pensive-snyder","parent_volume":{"id":"fcad4f40-82cf-480f-adfe-b6be5c9f62c5","name":"tf-volume-friendly-pare","status":"available","type":"sbs_5k"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2025-08-18T16:25:11.998867Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.619376ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"ab541163-14f7-4922-9384-e8f57a80bd4b","arch":"x86_64","extra_volumes":{"1":{"id":"d2665580-b42d-4943-89fa-d6d7d282ce85"},"2":{"id":"4ab16be3-97d1-4210-912e-dca64c3367dd"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-08-18T16:25:17.679548+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"d2665580-b42d-4943-89fa-d6d7d282ce85","name":"","size":0,"volume_type":"sbs_snapshot"},"2":{"id":"4ab16be3-97d1-4210-912e-dca64c3367dd","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"2ca82f56-27d2-4f0e-9f00-aeeab387801f","modification_date":"2025-08-18T16:25:17.679548+00:00","name":"tf-test-image-external-block-volume","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false,"root_volume":{"id":"ab541163-14f7-4922-9384-e8f57a80bd4b","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/2ca82f56-27d2-4f0e-9f00-aeeab387801f
        status: 201 Created
        code: 201
        duration: 542.12728ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/2ca82f56-27d2-4f0e-9f00-aeeab387801f
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-08-18T16:25:17.679548+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"d2665580-b42d-4943-89fa-d6d7d282ce85","name":"","size":0,"volume_type":"sbs_snapshot"},"2":{"id":"4ab16be3-97d1-4210-912e-dca64c3367dd","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"2ca82f56-27d2-4f0e-9f00-aeeab387801f","modification_date":"2025-08-18T16:25:17.679548+00:00","name":"tf-test-image-external-block-volume","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false,"root_volume":{"id":"ab541163-14f7-4922-9384-e8f57a80bd4b","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.911493ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/ab541163-14f7-4922-9384-e8f57a80bd4b
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-08-18T16:25:12.070935Z","id":"ab541163-14f7-4922-9384-e8f57a80bd4b","name":"tf-snapshot-nostalgic-euler","parent_volume":{"id":"aa20c649-d841-43bf-82b6-8f5ff3d9f46c","name":"tf-volume-adoring-leavitt","status":"available","type":"sbs_5k"},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","references":[{"created_at":"2025-08-18T16:25:17.735937Z","id":"89612d92-62fb-40eb-a420-7ad13c0ae09b","product_resource_id":"2ca82f56-27d2-4f0e-9f00-aeeab387801f","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":50000000000,"status":"in_use","tags":[],"updated_at":"2025-08-18T16:25:17.735937Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.837469ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/2ca82f56-27d2-4f0e-9f00-aeeab387801f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"2ca82f56-27d2-4f0e-9f00-aeeab387801f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.455047ms
[...]
