---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-vibrant-feynman","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":50000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:30:33.429059Z","id":"2a8db5f3-9725-4aad-9e39-e25606589910","last_detached_at":null,"name":"tf-volume-vibrant-feynman","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-10T15:30:33.429059Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.881524ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/2a8db5f3-9725-4aad-9e39-e25606589910
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:30:33.429059Z","id":"2a8db5f3-9725-4aad-9e39-e25606589910","last_detached_at":null,"name":"tf-volume-vibrant-feynman","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2025-06-10T15:30:33.429059Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.707142ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2a8db5f3-9725-4aad-9e39-e25606589910","name":"tf-snapshot-busy-noyce","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2025-06-10T15:30:38.980368Z","id":"2af93bd3-c57b-4500-b813-4bfbc33e62b4","name":"tf-snapshot-busy-noyce","parent_volume":{"id":"2a8db5f3-9725-4aad-9e39-e25606589910","name":"tf-volume-vibrant-feynman","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2025-06-10T15:30:38.980368Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.159803ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2af93bd3-c57b-4500-b813-4bfbc33e62b4
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-06-10T15:30:38.980368Z","id":"2af93bd3-c57b-4500-b813-4bfbc33e62b4","name":"tf-snapshot-busy-noyce","parent_volume":{"id":"2a8db5f3-9725-4aad-9e39-e25606589910","name":"tf-volume-vibrant-feynman","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":50000000000,"status":"creating","tags":[],"updated_at":"2025-06-10T15:30:38.980368Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 643.715001ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"2af93bd3-c57b-4500-b813-4bfbc33e62b4","arch":"x86_64","extra_volumes":{"1":{"id":"f8e67974-0af5-4b33-8078-43dc1852408e"}},"project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-06-10T15:30:55.813266+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"f8e67974-0af5-4b33-8078-43dc1852408e","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"353dbc9e-b6ac-4fb3-9c7f-13e308286d76","modification_date":"2025-06-10T15:30:55.813266+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"2af93bd3-c57b-4500-b813-4bfbc33e62b4","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/353dbc9e-b6ac-4fb3-9c7f-13e308286d76
        status: 201 Created
        code: 201
        duration: 644.275199ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/353dbc9e-b6ac-4fb3-9c7f-13e308286d76
        method: GET
      response:
        body: '{"image":{"arch":"x86_64","creation_date":"2025-06-10T15:30:55.813266+00:00","default_bootscript":null,"extra_volumes":{"1":{"id":"f8e67974-0af5-4b33-8078-43dc1852408e","name":"","size":0,"volume_type":"sbs_snapshot"}},"from_server":"","id":"353dbc9e-b6ac-4fb3-9c7f-13e308286d76","modification_date":"2025-06-10T15:30:55.813266+00:00","name":"tf-test-image-external-block-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"2af93bd3-c57b-4500-b813-4bfbc33e62b4","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.541975ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2af93bd3-c57b-4500-b813-4bfbc33e62b4
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2025-06-10T15:30:38.980368Z","id":"2af93bd3-c57b-4500-b813-4bfbc33e62b4","name":"tf-snapshot-busy-noyce","parent_volume":{"id":"2a8db5f3-9725-4aad-9e39-e25606589910","name":"tf-volume-vibrant-feynman","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[{"created_at":"2025-06-10T15:30:55.863225Z","id":"882a015b-42de-4edf-a6ed-dfe090f7b070","product_resource_id":"353dbc9e-b6ac-4fb3-9c7f-13e308286d76","product_resource_type":"instance_image","status":"attached","type":"link"}],"size":50000000000,"status":"in_use","tags":[],"updated_at":"2025-06-10T15:30:55.863225Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.561419ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/353dbc9e-b6ac-4fb3-9c7f-13e308286d76
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_image","resource_id":"353dbc9e-b6ac-4fb3-9c7f-13e308286d76","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.083481ms
[...]
