---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-basic","tags":["terraform-test","scaleway_instance_template","basic"],"server_tags":["from-template"],"server_type":"PRO2-M","volumes":null,"private_networks":null,"public_ip_v4_count":1,"public_ip_v6_count":3,"filesystem_ids":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"9340b14f-527e-4b0b-90b7-7483b08b678f","name":"tf-test-acc-instance-tmpl-basic","tags":["terraform-test","scaleway_instance_template","basic"],"server_tags":["from-template"],"server_type":"PRO2-M","public_ip_v4_count":1,"public_ip_v6_count":3,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:03.262692Z","updated_at":"2026-08-11T15:22:03.262692Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.0176ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/9340b14f-527e-4b0b-90b7-7483b08b678f
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"9340b14f-527e-4b0b-90b7-7483b08b678f","name":"tf-test-acc-instance-tmpl-basic","tags":["terraform-test","scaleway_instance_template","basic"],"server_tags":["from-template"],"server_type":"PRO2-M","public_ip_v4_count":1,"public_ip_v6_count":3,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:03.262692Z","updated_at":"2026-08-11T15:22:03.262692Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.535926ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/359aa523-f58b-4006-9e07-61066b7f01ac
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"359aa523-f58b-4006-9e07-61066b7f01ac","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.418644ms
