---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":null,"server_type":"GP1-L","volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-cool-clarke","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble","perf_iops":null}],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates
        method: POST
      response:
        body: '{"srn":"", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"4d354673-9c60-4d62-8ff8-689c2e354d3c", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"tf-tmpl-vol-cool-clarke", "tags":["local", "volume"], "size":20000000000, "image_label":"ubuntu_noble"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-09-30T10:09:00.682840Z", "updated_at":"2026-09-30T10:09:00.682840Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 445.693334ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/4d354673-9c60-4d62-8ff8-689c2e354d3c
        method: GET
      response:
        body: '{"srn":"", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"4d354673-9c60-4d62-8ff8-689c2e354d3c", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"tf-tmpl-vol-cool-clarke", "tags":["local", "volume"], "size":20000000000, "image_label":"ubuntu_noble"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-09-30T10:09:00.682840Z", "updated_at":"2026-09-30T10:09:00.682840Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 262.419291ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-loving-leakey","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":15000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes
        method: POST
      response:
        body: '{"srn":"", "id":"958a29dc-8b5c-4533-8fa6-67c1f54e9675", "name":"tf-volume-loving-leakey", "type":"sbs_5k", "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-09-30T10:09:02.308523Z", "updated_at":"2026-09-30T10:09:02.308523Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 332.111875ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.92175ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/958a29dc-8b5c-4533-8fa6-67c1f54e9675
        method: GET
      response:
        body: '{"srn":"", "id":"958a29dc-8b5c-4533-8fa6-67c1f54e9675", "name":"tf-volume-loving-leakey", "type":"sbs_5k", "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-09-30T10:09:02.308523Z", "updated_at":"2026-09-30T10:09:02.308523Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 127.588208ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"volume_id":"958a29dc-8b5c-4533-8fa6-67c1f54e9675","name":"tf-snapshot-reverent-bose","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots
        method: POST
      response:
        body: '{"srn":"", "id":"e95b9aed-ff71-401e-88e3-30c6f9cbf335", "name":"tf-snapshot-reverent-bose", "parent_volume":{"id":"958a29dc-8b5c-4533-8fa6-67c1f54e9675", "name":"tf-volume-loving-leakey", "type":"sbs_5k", "status":"available"}, "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-09-30T10:09:08.197173Z", "updated_at":"2026-09-30T10:09:08.197173Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-2", "public":false, "kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 341.525292ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/e95b9aed-ff71-401e-88e3-30c6f9cbf335
        method: GET
      response:
        body: '{"srn":"", "id":"e95b9aed-ff71-401e-88e3-30c6f9cbf335", "name":"tf-snapshot-reverent-bose", "parent_volume":{"id":"958a29dc-8b5c-4533-8fa6-67c1f54e9675", "name":"tf-volume-loving-leakey", "type":"sbs_5k", "status":"available"}, "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-09-30T10:09:08.197173Z", "updated_at":"2026-09-30T10:09:08.197173Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-2", "public":false, "kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 169.453ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"update_volumes":{"volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie","perf_iops":null},{"volume_type":"sbs","name":"tf-tmpl-vol-elated-spence","tags":null,"size":30000000000,"base_snapshot_id":"e95b9aed-ff71-401e-88e3-30c6f9cbf335","perf_iops":15000}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/4d354673-9c60-4d62-8ff8-689c2e354d3c
        method: PATCH
      response:
        body: '{"srn":"", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"4d354673-9c60-4d62-8ff8-689c2e354d3c", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"root-volume", "tags":["local"], "size":25000000000, "image_label":"debian_trixie"}, {"volume_type":"sbs", "name":"tf-tmpl-vol-elated-spence", "tags":[], "size":30000000000, "base_snapshot_id":"e95b9aed-ff71-401e-88e3-30c6f9cbf335", "perf_iops":15000}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-09-30T10:09:00.682840Z", "updated_at":"2026-09-30T10:09:00.682840Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 293.581042ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/e95b9aed-ff71-401e-88e3-30c6f9cbf335
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"e95b9aed-ff71-401e-88e3-30c6f9cbf335","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 98.466833ms
[...]
