---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"first-pg","policy_type":"max_availability","tags":["terraform-test","scaleway_instance_template","placement_group1"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"first-pg", "id":"d09bf13b-83b1-4ae7-9174-2338690b79d5", "policy_type":"max_availability", "tags":["terraform-test", "scaleway_instance_template", "placement_group1"], "created_at":"2026-08-28T12:51:20.323164Z", "updated_at":"2026-08-28T12:51:20.323164Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 270.156282ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/pl-waw-2/placement_groups/d09bf13b-83b1-4ae7-9174-2338690b79d5
        method: PATCH
      response:
        body: '{"placement_group": {"id": "d09bf13b-83b1-4ae7-9174-2338690b79d5", "name": "first-pg", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": ["terraform-test", "scaleway_instance_template", "placement_group1"], "zone": "pl-waw-2"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 163.187116ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-placement-group","tags":["terraform-test","scaleway_instance_template","placement_group"],"server_tags":null,"server_type":"PLAY2-MICRO","placement_group_id":"d09bf13b-83b1-4ae7-9174-2338690b79d5","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"f76d83ed-619e-4b85-9afb-39b5ab2584f6", "name":"tf-test-acc-instance-tmpl-placement-group", "tags":["terraform-test", "scaleway_instance_template", "placement_group"], "server_tags":[], "server_type":"PLAY2-MICRO", "placement_group_id":"d09bf13b-83b1-4ae7-9174-2338690b79d5", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-28T12:51:20.815850Z", "updated_at":"2026-08-28T12:51:20.815850Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 299.97622ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates/f76d83ed-619e-4b85-9afb-39b5ab2584f6
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"f76d83ed-619e-4b85-9afb-39b5ab2584f6", "name":"tf-test-acc-instance-tmpl-placement-group", "tags":["terraform-test", "scaleway_instance_template", "placement_group"], "server_tags":[], "server_type":"PLAY2-MICRO", "placement_group_id":"d09bf13b-83b1-4ae7-9174-2338690b79d5", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-28T12:51:20.815850Z", "updated_at":"2026-08-28T12:51:20.815850Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.346345ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/placement-groups/d09bf13b-83b1-4ae7-9174-2338690b79d5
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"first-pg", "id":"d09bf13b-83b1-4ae7-9174-2338690b79d5", "policy_type":"max_availability", "tags":["terraform-test", "scaleway_instance_template", "placement_group1"], "created_at":"2026-08-28T12:51:20.323164Z", "updated_at":"2026-08-28T12:51:20.323164Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 99.880685ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates/f76d83ed-619e-4b85-9afb-39b5ab2584f6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"f76d83ed-619e-4b85-9afb-39b5ab2584f6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 71.916968ms
[...]
