---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tf-tmpl-strange-antonelli","tags":["terraform-test","scaleway_instance_template","basic"],"server_tags":["from-template"],"server_type":"PRO2-M","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":1,"public_ip_v6_count":3}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"a996c17d-cd07-45ae-8f24-5e6d644b0947", "name":"tf-tf-tmpl-strange-antonelli", "tags":["terraform-test", "scaleway_instance_template", "basic"], "server_tags":["from-template"], "server_type":"PRO2-M", "public_ip_v4_count":1, "public_ip_v6_count":3, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:17.908505Z", "updated_at":"2026-08-21T18:14:17.908505Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.358255ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/a996c17d-cd07-45ae-8f24-5e6d644b0947
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"a996c17d-cd07-45ae-8f24-5e6d644b0947", "name":"tf-tf-tmpl-strange-antonelli", "tags":["terraform-test", "scaleway_instance_template", "basic"], "server_tags":["from-template"], "server_type":"PRO2-M", "public_ip_v4_count":1, "public_ip_v6_count":3, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:17.908505Z", "updated_at":"2026-08-21T18:14:17.908505Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.679449ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/a996c17d-cd07-45ae-8f24-5e6d644b0947
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"a996c17d-cd07-45ae-8f24-5e6d644b0947","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.447426ms
