---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-hardcore-maxwell","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"id":"e12c0e2c-4490-4eaa-a6ef-1c6e4a44018f", "name":"tf-vpc-hardcore-maxwell", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:57:17.737195Z", "updated_at":"2026-08-27T11:57:17.737195Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "object_storage_private_access_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 275.226323ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.703147ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/e12c0e2c-4490-4eaa-a6ef-1c6e4a44018f
        method: GET
      response:
        body: '{"id":"e12c0e2c-4490-4eaa-a6ef-1c6e4a44018f", "name":"tf-vpc-hardcore-maxwell", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:57:17.737195Z", "updated_at":"2026-08-27T11:57:17.737195Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "object_storage_private_access_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 196.243467ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-lucid-haibt","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["scaleway_instance_template","private-networks","pn1"],"subnets":null,"vpc_id":"e12c0e2c-4490-4eaa-a6ef-1c6e4a44018f","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b", "name":"tf-pn-lucid-haibt", "tags":["scaleway_instance_template", "private-networks", "pn1"], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:57:18.244233Z", "updated_at":"2026-08-27T11:57:18.244233Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"8777f1fa-60d0-420a-bff5-7ef8b04ed238", "created_at":"2026-08-27T11:57:18.244233Z", "updated_at":"2026-08-27T11:57:18.244233Z", "subnet":"172.16.16.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b", "vpc_id":"e12c0e2c-4490-4eaa-a6ef-1c6e4a44018f", "region":"nl-ams"}, {"id":"58db589d-450e-4fb5-96c3-25398d86fa22", "created_at":"2026-08-27T11:57:18.244233Z", "updated_at":"2026-08-27T11:57:18.244233Z", "subnet":"fd5c:d510:d730:3d38::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b", "vpc_id":"e12c0e2c-4490-4eaa-a6ef-1c6e4a44018f", "region":"nl-ams"}], "vpc_id":"e12c0e2c-4490-4eaa-a6ef-1c6e4a44018f", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 689.141322ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/72b8011e-1a9a-4a53-86b2-01bfe0cc056b
        method: GET
      response:
        body: '{"id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b", "name":"tf-pn-lucid-haibt", "tags":["scaleway_instance_template", "private-networks", "pn1"], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:57:18.244233Z", "updated_at":"2026[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-private-networks","tags":["terraform-test","scaleway_instance_template","private-networks"],"server_tags":null,"server_type":"PLAY2-MICRO","volumes":[],"private_networks":[{"private_network_id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b"},{"private_network_id":"7c964988-c747-41eb-b076-c23e4713e1bb"}],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"e3bfbb95-7678-49bc-a6af-1f29200b49da", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b"}, {"private_network_id":"7c964988-c747-41eb-b076-c23e4713e1bb"}], "filesystem_ids":[], "created_at":"2026-08-27T11:57:19.440989Z", "updated_at":"2026-08-27T11:57:19.440989Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 578.779208ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/e3bfbb95-7678-49bc-a6af-1f29200b49da
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"e3bfbb95-7678-49bc-a6af-1f29200b49da", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b"}, {"private_network_id":"7c964988-c747-41eb-b076-c23e4713e1bb"}], "filesystem_ids":[], "created_at":"2026-08-27T11:57:19.440989Z", "updated_at":"2026-08-27T11:57:19.440989Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 191.657234ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"update_private_networks":{"private_networks":[{"private_network_id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b"},{"private_network_id":"c706078d-9e45-45a5-8236-09a915064293"}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/e3bfbb95-7678-49bc-a6af-1f29200b49da
        method: PATCH
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"e3bfbb95-7678-49bc-a6af-1f29200b49da", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"72b8011e-1a9a-4a53-86b2-01bfe0cc056b"}, {"private_network_id":"c706078d-9e45-45a5-8236-09a915064293"}], "filesystem_ids":[], "created_at":"2026-08-27T11:57:19.440989Z", "updated_at":"2026-08-27T11:57:19.440989Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 493.058744ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/e3bfbb95-7678-49bc-a6af-1f29200b49da
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"e3bfbb95-7678-49bc-a6af-1f29200b49da","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 59.3859ms
[...]
