---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-dreamy-villani","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":15000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"592f82db-9d78-431b-8b8e-9be0c403736a","name":"tf-volume-dreamy-villani","type":"sbs_5k","size":15000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-17T18:39:24.301604Z","updated_at":"2026-08-17T18:39:24.301604Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.268004ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/592f82db-9d78-431b-8b8e-9be0c403736a
        method: GET
      response:
        body: '{"id":"592f82db-9d78-431b-8b8e-9be0c403736a","name":"tf-volume-dreamy-villani","type":"sbs_5k","size":15000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-17T18:39:24.301604Z","updated_at":"2026-08-17T18:39:24.301604Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.268804ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"592f82db-9d78-431b-8b8e-9be0c403736a","name":"tf-snapshot-objective-poincare","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"20cef7c4-4656-4dd7-8d2a-a90cd9d73693","name":"tf-snapshot-objective-poincare","parent_volume":{"id":"592f82db-9d78-431b-8b8e-9be0c403736a","name":"tf-volume-dreamy-villani","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-17T18:39:29.613680Z","updated_at":"2026-08-17T18:39:29.613680Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.601209ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/20cef7c4-4656-4dd7-8d2a-a90cd9d73693
        method: GET
      response:
        body: '{"id":"20cef7c4-4656-4dd7-8d2a-a90cd9d73693","name":"tf-snapshot-objective-poincare","parent_volume":{"id":"592f82db-9d78-431b-8b8e-9be0c403736a","name":"tf-volume-dreamy-villani","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-08-17T18:39:29.613680Z","updated_at":"2026-08-17T18:39:29.613680Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.676591ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":null,"server_type":"GP1-L","volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie","perf_iops":null},{"volume_type":"sbs","name":"tf-tmpl-vol-admiring-ishizaka","tags":null,"size":30000000000,"base_snapshot_id":"20cef7c4-4656-4dd7-8d2a-a90cd9d73693","perf_iops":15000}],"private_networks":null,"public_ip_v4_count":0,"public_ip_v6_count":0,"filesystem_ids":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"49ebd401-c24a-4767-a5cb-4e0572514559","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":[],"server_type":"GP1-L","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie"},{"volume_type":"sbs","name":"tf-tmpl-vol-admiring-ishizaka","tags":[],"size":30000000000,"base_snapshot_id":"20cef7c4-4656-4dd7-8d2a-a90cd9d73693","perf_iops":15000}],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-17T18:39:35.020535Z","updated_at":"2026-08-17T18:39:35.020535Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.52437ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/49ebd401-c24a-4767-a5cb-4e0572514559
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"49ebd401-c24a-4767-a5cb-4e0572514559","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":[],"server_type":"GP1-L","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie"},{"volume_type":"sbs","name":"tf-tmpl-vol-admiring-ishizaka","tags":[],"size":30000000000,"base_snapshot_id":"20cef7c4-4656-4dd7-8d2a-a90cd9d73693","perf_iops":15000}],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-17T18:39:35.020535Z","updated_at":"2026-08-17T18:39:35.020535Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.433252ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/20cef7c4-4656-4dd7-8d2a-a90cd9d73693
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"20cef7c4-4656-4dd7-8d2a-a90cd9d73693","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.693429ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"update_volumes":{"volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-wizardly-gates","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble","perf_iops":null}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/49ebd401-c24a-4767-a5cb-4e0572514559
        method: PATCH
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"49ebd401-c24a-4767-a5cb-4e0572514559","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":[],"server_type":"GP1-L","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-wizardly-gates","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble"}],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-17T18:39:35.020535Z","updated_at":"2026-08-17T18:39:35.020535Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.550889ms
[...]
