---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-brave-mccarthy","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"id":"15aa256a-4213-4846-8691-850021b0ab1f", "name":"tf-vpc-brave-mccarthy", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-13T16:21:03.647012Z", "updated_at":"2026-08-13T16:21:03.647012Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 576.294721ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/15aa256a-4213-4846-8691-850021b0ab1f
        method: GET
      response:
        body: '{"id":"15aa256a-4213-4846-8691-850021b0ab1f", "name":"tf-vpc-brave-mccarthy", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-13T16:21:03.647012Z", "updated_at":"2026-08-13T16:21:03.647012Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.02357ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-epic-joliot","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["scaleway_instance_template","private-networks","pn2"],"subnets":null,"vpc_id":"15aa256a-4213-4846-8691-850021b0ab1f","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"id":"c87283f3-1fcc-4768-8faa-bb6225866ec8", "name":"tf-pn-epic-joliot", "tags":["scaleway_instance_template", "private-networks", "pn2"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-13T16:21:03.873020Z", "updated_at":"2026-08-13T16:21:03.873020Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5e52dfb0-704a-456e-88ee-4c86a1ae2850", "created_at":"2026-08-13T16:21:03.873020Z", "updated_at":"2026-08-13T16:21:03.873020Z", "subnet":"172.16.56.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c87283f3-1fcc-4768-8faa-bb6225866ec8", "vpc_id":"15aa256a-4213-4846-8691-850021b0ab1f", "region":"nl-ams"}, {"id":"e873a046-78e7-476d-b99c-f46f826e9493", "created_at":"2026-08-13T16:21:03.873020Z", "updated_at":"2026-08-13T16:21:03.873020Z", "subnet":"fd68:d440:21c4:5406::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c87283f3-1fcc-4768-8faa-bb6225866ec8", "vpc_id":"15aa256a-4213-4846-8691-850021b0ab1f", "region":"nl-ams"}], "vpc_id":"15aa256a-4213-4846-8691-850021b0ab1f", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_s3_integration":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 553.086859ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/c87283f3-1fcc-4768-8faa-bb6225866ec8
        method: GET
      response:
        body: '{"id":"c87283f3-1fcc-4768-8faa-bb6225866ec8", "name":"tf-pn-epic-joliot", "tags":["scaleway_instance_template", "private-networks", "pn2"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-13T16:21:03.873020Z", "updated_at":"2026[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-private-networks","tags":["terraform-test","scaleway_instance_template","private-networks"],"server_tags":null,"server_type":"PLAY2-MICRO","volumes":null,"private_networks":[{"private_network_id":"06a670cb-f18b-4cef-b6fb-42141aa2f16d"},{"private_network_id":"73ffa8e2-b404-4644-a91c-f4d58f988007"}],"public_ip_v4_count":0,"public_ip_v6_count":0,"filesystem_ids":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"6703c2d6-b402-4a9e-adee-328cdc5a88c9", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"06a670cb-f18b-4cef-b6fb-42141aa2f16d"}, {"private_network_id":"73ffa8e2-b404-4644-a91c-f4d58f988007"}], "filesystem_ids":[], "created_at":"2026-08-13T16:21:04.855388Z", "updated_at":"2026-08-13T16:21:04.855388Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 980.482139ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/6703c2d6-b402-4a9e-adee-328cdc5a88c9
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"6703c2d6-b402-4a9e-adee-328cdc5a88c9", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"06a670cb-f18b-4cef-b6fb-42141aa2f16d"}, {"private_network_id":"73ffa8e2-b404-4644-a91c-f4d58f988007"}], "filesystem_ids":[], "created_at":"2026-08-13T16:21:04.855388Z", "updated_at":"2026-08-13T16:21:04.855388Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.119313ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"update_private_networks":{"private_networks":[{"private_network_id":"06a670cb-f18b-4cef-b6fb-42141aa2f16d"},{"private_network_id":"c87283f3-1fcc-4768-8faa-bb6225866ec8"}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/6703c2d6-b402-4a9e-adee-328cdc5a88c9
        method: PATCH
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"6703c2d6-b402-4a9e-adee-328cdc5a88c9", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"06a670cb-f18b-4cef-b6fb-42141aa2f16d"}, {"private_network_id":"c87283f3-1fcc-4768-8faa-bb6225866ec8"}], "filesystem_ids":[], "created_at":"2026-08-13T16:21:04.855388Z", "updated_at":"2026-08-13T16:21:04.855388Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.559439ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/6703c2d6-b402-4a9e-adee-328cdc5a88c9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"6703c2d6-b402-4a9e-adee-328cdc5a88c9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.041522ms
[...]
