---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-sg-sweet-faraday","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "cbf53d91-a8b5-4c0e-ac26-15f3c895c42c", "creation_date": "2026-08-27T11:56:44.064772+00:00", "modification_date": "2026-08-27T11:56:44.064772+00:00", "name": "tf-sg-sweet-faraday", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/cbf53d91-a8b5-4c0e-ac26-15f3c895c42c
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 332.659116ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"enable_default_security":true,"inbound_default_policy":"accept","tags":[],"outbound_default_policy":"accept","stateful":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/cbf53d91-a8b5-4c0e-ac26-15f3c895c42c
        method: PATCH
      response:
        body: '{"security_group": {"id": "cbf53d91-a8b5-4c0e-ac26-15f3c895c42c", "creation_date": "2026-08-27T11:56:44.064772+00:00", "modification_date": "2026-08-27T11:56:44.064772+00:00", "name": "tf-sg-sweet-faraday", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 233.066866ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/cbf53d91-a8b5-4c0e-ac26-15f3c895c42c/rules
        method: PUT
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 587, "dest_port_to": null, "position": 3, "editable": fa[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/cbf53d91-a8b5-4c0e-ac26-15f3c895c42c/rules?page=1
        method: GET
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "111[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-security-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"PRO2-M","security_group_id":"cbf53d91-a8b5-4c0e-ac26-15f3c895c42c","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"ffdcbb1f-f029-491b-a96c-c3f0b8e33e56", "name":"tf-test-acc-instance-tmpl-security-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PRO2-M", "security_group_id":"cbf53d91-a8b5-4c0e-ac26-15f3c895c42c", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:56:45.149405Z", "updated_at":"2026-08-27T11:56:45.149405Z", "zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 430.665981ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates/ffdcbb1f-f029-491b-a96c-c3f0b8e33e56
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"ffdcbb1f-f029-491b-a96c-c3f0b8e33e56", "name":"tf-test-acc-instance-tmpl-security-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PRO2-M", "security_group_id":"cbf53d91-a8b5-4c0e-ac26-15f3c895c42c", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:56:45.149405Z", "updated_at":"2026-08-27T11:56:45.149405Z", "zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 159.376634ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-stoic-noyce","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/placement-groups
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-stoic-noyce", "id":"a09ef5df-0464-4d28-87a6-dc9d7517eccd", "policy_type":"max_availability", "tags":[], "created_at":"2026-08-27T11:56:47.792780Z", "updated_at":"2026-08-27T11:56:47.792780Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 376.41403ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/pl-waw-2/placement_groups/a09ef5df-0464-4d28-87a6-dc9d7517eccd
        method: PATCH
      response:
        body: '{"placement_group": {"id": "a09ef5df-0464-4d28-87a6-dc9d7517eccd", "name": "tf-pg-stoic-noyce", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "pl-waw-2"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 224.514484ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-placement-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"PLAY2-MICRO","placement_group_id":"a09ef5df-0464-4d28-87a6-dc9d7517eccd","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"883303af-0613-4210-bb3d-46ae152eafee", "name":"tf-test-acc-instance-tmpl-placement-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PLAY2-MICRO", "placement_group_id":"a09ef5df-0464-4d28-87a6-dc9d7517eccd", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:56:48.639827Z", "updated_at":"2026-08-27T11:56:48.639827Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 624.791083ms
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates/883303af-0613-4210-bb3d-46ae152eafee
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"883303af-0613-4210-bb3d-46ae152eafee", "name":"tf-test-acc-instance-tmpl-placement-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PLAY2-MICRO", "placement_group_id":"a09ef5df-0464-4d28-87a6-dc9d7517eccd", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:56:48.639827Z", "updated_at":"2026-08-27T11:56:48.639827Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 211.789868ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/placement-groups/a09ef5df-0464-4d28-87a6-dc9d7517eccd
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-stoic-noyce", "id":"a09ef5df-0464-4d28-87a6-dc9d7517eccd", "policy_type":"max_availability", "tags":[], "created_at":"2026-08-27T11:56:47.792780Z", "updated_at":"2026-08-27T11:56:47.792780Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 234.974663ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-acc-instance-tmpl-admin-ssh-key","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU= opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"id":"5291d3de-ffe8-4a1f-8947-0f3b67ae9c92", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=", "fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)", "created_at":"2026-08-27T11:56:51.479476Z", "updated_at":"2026-08-27T11:56:51.479476Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 170.869344ms
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 7.032596ms
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/5291d3de-ffe8-4a1f-8947-0f3b67ae9c92
        method: GET
      response:
        body: '{"id":"5291d3de-ffe8-4a1f-8947-0f3b67ae9c92", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZ[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-admin-ssh-key","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"POP2-4C-16G-WIN","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0,"windows_rdp_ssh_key_id":"5291d3de-ffe8-4a1f-8947-0f3b67ae9c92"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"fddfb18a-90c7-4129-8221-641aa87e758a", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"POP2-4C-16G-WIN", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:56:51.898478Z", "updated_at":"2026-08-27T11:56:51.898478Z", "windows_rdp_ssh_key_id":"5291d3de-ffe8-4a1f-8947-0f3b67ae9c92", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 324.155539ms
    - id: 34
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/fddfb18a-90c7-4129-8221-641aa87e758a
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"fddfb18a-90c7-4129-8221-641aa87e758a", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"POP2-4C-16G-WIN", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:56:51.898478Z", "updated_at":"2026-08-27T11:56:51.898478Z", "windows_rdp_ssh_key_id":"5291d3de-ffe8-4a1f-8947-0f3b67ae9c92", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 210.521389ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/fddfb18a-90c7-4129-8221-641aa87e758a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"fddfb18a-90c7-4129-8221-641aa87e758a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 34.395751ms
[...]
