---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":null,"server_type":"GP1-L","volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-recursing-cerf","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble","perf_iops":null}],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates
        method: POST
      response:
        body: '{"srn":"","project_id":"4d333544-41be-4b0b-8907-0b9036859747","id":"d5a10bdf-0246-4930-94f9-dba048c62f5b","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":[],"server_type":"GP1-L","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-recursing-cerf","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble"}],"private_networks":[],"filesystem_ids":[],"created_at":"2026-09-24T14:36:48.240424Z","updated_at":"2026-09-24T14:36:48.240424Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 303.889042ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/d5a10bdf-0246-4930-94f9-dba048c62f5b
        method: GET
      response:
        body: '{"srn":"","project_id":"4d333544-41be-4b0b-8907-0b9036859747","id":"d5a10bdf-0246-4930-94f9-dba048c62f5b","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":[],"server_type":"GP1-L","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-recursing-cerf","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble"}],"private_networks":[],"filesystem_ids":[],"created_at":"2026-09-24T14:36:48.240424Z","updated_at":"2026-09-24T14:36:48.240424Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.375917ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-hardcore-perlman","perf_iops":5000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","from_empty":{"size":15000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes
        method: POST
      response:
        body: '{"srn":"","id":"381c253e-eecb-492a-8db7-6d819aaf499b","name":"tf-volume-hardcore-perlman","type":"sbs_5k","size":15000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:36:49.429148Z","updated_at":"2026-09-24T14:36:49.429148Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 192.516333ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.847292ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/381c253e-eecb-492a-8db7-6d819aaf499b
        method: GET
      response:
        body: '{"srn":"","id":"381c253e-eecb-492a-8db7-6d819aaf499b","name":"tf-volume-hardcore-perlman","type":"sbs_5k","size":15000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:36:49.429148Z","updated_at":"2026-09-24T14:36:49.541947Z","references":[],"parent_snapshot_id":null,"status":"available","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.753208ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"381c253e-eecb-492a-8db7-6d819aaf499b","name":"tf-snapshot-hopeful-williams","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":null,"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots
        method: POST
      response:
        body: '{"srn":"","id":"225f59dd-7c2b-4c16-a429-4b5f3dbe0769","name":"tf-snapshot-hopeful-williams","parent_volume":{"id":"381c253e-eecb-492a-8db7-6d819aaf499b","name":"tf-volume-hardcore-perlman","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:36:49.782635Z","updated_at":"2026-09-24T14:36:49.782635Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-2","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 146.570709ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/225f59dd-7c2b-4c16-a429-4b5f3dbe0769
        method: GET
      response:
        body: '{"srn":"","id":"225f59dd-7c2b-4c16-a429-4b5f3dbe0769","name":"tf-snapshot-hopeful-williams","parent_volume":{"id":"381c253e-eecb-492a-8db7-6d819aaf499b","name":"tf-volume-hardcore-perlman","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"4d333544-41be-4b0b-8907-0b9036859747","created_at":"2026-09-24T14:36:49.782635Z","updated_at":"2026-09-24T14:36:49.782635Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-2","public":false,"kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.14525ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"update_volumes":{"volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie","perf_iops":null},{"volume_type":"sbs","name":"tf-tmpl-vol-gracious-lalande","tags":null,"size":30000000000,"base_snapshot_id":"225f59dd-7c2b-4c16-a429-4b5f3dbe0769","perf_iops":15000}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/d5a10bdf-0246-4930-94f9-dba048c62f5b
        method: PATCH
      response:
        body: '{"srn":"","project_id":"4d333544-41be-4b0b-8907-0b9036859747","id":"d5a10bdf-0246-4930-94f9-dba048c62f5b","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":[],"server_type":"GP1-L","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie"},{"volume_type":"sbs","name":"tf-tmpl-vol-gracious-lalande","tags":[],"size":30000000000,"base_snapshot_id":"225f59dd-7c2b-4c16-a429-4b5f3dbe0769","perf_iops":15000}],"private_networks":[],"filesystem_ids":[],"created_at":"2026-09-24T14:36:48.240424Z","updated_at":"2026-09-24T14:36:48.240424Z","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 330.250375ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/225f59dd-7c2b-4c16-a429-4b5f3dbe0769
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"225f59dd-7c2b-4c16-a429-4b5f3dbe0769","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 41.100875ms
[...]
