---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"first-sg","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["terraform-test","scaleway_instance_template","security_group1"],"stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "193edc2a-edb6-4ab1-8c24-c2e8fe15f93d", "creation_date": "2026-08-28T13:16:08.202949+00:00", "modification_date": "2026-08-28T13:16:08.202949+00:00", "name": "first-sg", "description": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": ["terraform-test", "scaleway_instance_template", "security_group1"], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/193edc2a-edb6-4ab1-8c24-c2e8fe15f93d
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 240.784331ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"first-sg","enable_default_security":true,"inbound_default_policy":"accept","tags":["terraform-test","scaleway_instance_template","security_group1"],"outbound_default_policy":"accept","stateful":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/193edc2a-edb6-4ab1-8c24-c2e8fe15f93d
        method: PATCH
      response:
        body: '{"security_group": {"id": "193edc2a-edb6-4ab1-8c24-c2e8fe15f93d", "creation_date": "2026-08-28T13:16:08.202949+00:00", "modification_date": "2026-08-28T13:16:08.202949+00:00", "name": "first-sg", "description": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": ["terraform-test", "scaleway_instance_template", "security_group1"], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 213.222599ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/193edc2a-edb6-4ab1-8c24-c2e8fe15f93d/rules
        method: PUT
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 587, "dest_port_to": null, "position": 3, "editable": fa[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/193edc2a-edb6-4ab1-8c24-c2e8fe15f93d/rules?page=1
        method: GET
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "111[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-security-group","tags":["terraform-test","scaleway_instance_template","security_group"],"server_tags":null,"server_type":"PRO2-M","security_group_id":"193edc2a-edb6-4ab1-8c24-c2e8fe15f93d","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"3bf90c1c-5b9f-490e-ab93-555243f77574", "name":"tf-test-acc-instance-tmpl-security-group", "tags":["terraform-test", "scaleway_instance_template", "security_group"], "server_tags":[], "server_type":"PRO2-M", "security_group_id":"193edc2a-edb6-4ab1-8c24-c2e8fe15f93d", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-28T13:16:08.966208Z", "updated_at":"2026-08-28T13:16:08.966208Z", "zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 209.957294ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates/3bf90c1c-5b9f-490e-ab93-555243f77574
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"3bf90c1c-5b9f-490e-ab93-555243f77574", "name":"tf-test-acc-instance-tmpl-security-group", "tags":["terraform-test", "scaleway_instance_template", "security_group"], "server_tags":[], "server_type":"PRO2-M", "security_group_id":"193edc2a-edb6-4ab1-8c24-c2e8fe15f93d", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-28T13:16:08.966208Z", "updated_at":"2026-08-28T13:16:08.966208Z", "zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 106.398514ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates/3bf90c1c-5b9f-490e-ab93-555243f77574
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"3bf90c1c-5b9f-490e-ab93-555243f77574","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 56.358809ms
[...]
