---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-sg-heuristic-blackwell","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "42100d7e-92d5-4d51-b7bc-b71e82d24a8e", "creation_date": "2026-08-21T18:14:31.691084+00:00", "modification_date": "2026-08-21T18:14:31.691084+00:00", "name": "tf-sg-heuristic-blackwell", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/42100d7e-92d5-4d51-b7bc-b71e82d24a8e
        status: 201 Created
        code: 201
        duration: 282.511251ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"enable_default_security":true,"inbound_default_policy":"accept","tags":[],"outbound_default_policy":"accept","stateful":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/42100d7e-92d5-4d51-b7bc-b71e82d24a8e
        method: PATCH
      response:
        body: '{"security_group": {"id": "42100d7e-92d5-4d51-b7bc-b71e82d24a8e", "creation_date": "2026-08-21T18:14:31.691084+00:00", "modification_date": "2026-08-21T18:14:31.691084+00:00", "name": "tf-sg-heuristic-blackwell", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.01706ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/42100d7e-92d5-4d51-b7bc-b71e82d24a8e/rules
        method: PUT
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 587, "dest_port_to": null, "position": 3, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000004", "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 4, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000005", "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 5, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000006", "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_ip_range": null, "dest_port_from": 587, "dest_port_to": null, "position": 6, "editable": false, "action": "drop", "zone": "nl-ams-3"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.581795ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/42100d7e-92d5-4d51-b7bc-b71e82d24a8e/rules?page=1
        method: GET
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "111[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-security-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"PRO2-M","security_group_id":"42100d7e-92d5-4d51-b7bc-b71e82d24a8e","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"b92e92d2-106e-4d22-970e-45d35f8748e3", "name":"tf-test-acc-instance-tmpl-security-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PRO2-M", "security_group_id":"42100d7e-92d5-4d51-b7bc-b71e82d24a8e", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:32.897999Z", "updated_at":"2026-08-21T18:14:32.897999Z", "zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.36137ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates/b92e92d2-106e-4d22-970e-45d35f8748e3
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"b92e92d2-106e-4d22-970e-45d35f8748e3", "name":"tf-test-acc-instance-tmpl-security-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PRO2-M", "security_group_id":"42100d7e-92d5-4d51-b7bc-b71e82d24a8e", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:32.897999Z", "updated_at":"2026-08-21T18:14:32.897999Z", "zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.852538ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-pensive-cohen","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/placement-groups
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-pensive-cohen", "id":"5700e0c2-6042-4ad5-9b48-4b195dd5e4d6", "policy_type":"max_availability", "tags":[], "created_at":"2026-08-21T18:14:35.811468Z", "updated_at":"2026-08-21T18:14:35.811468Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 418.463039ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/pl-waw-2/placement_groups/5700e0c2-6042-4ad5-9b48-4b195dd5e4d6
        method: PATCH
      response:
        body: '{"placement_group": {"id": "5700e0c2-6042-4ad5-9b48-4b195dd5e4d6", "name": "tf-pg-pensive-cohen", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "pl-waw-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.156709ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-placement-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"PLAY2-MICRO","placement_group_id":"5700e0c2-6042-4ad5-9b48-4b195dd5e4d6","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"94e08c39-e1fc-49a7-8b54-7b29b5d55078", "name":"tf-test-acc-instance-tmpl-placement-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PLAY2-MICRO", "placement_group_id":"5700e0c2-6042-4ad5-9b48-4b195dd5e4d6", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:36.613660Z", "updated_at":"2026-08-21T18:14:36.613660Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 527.272155ms
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates/94e08c39-e1fc-49a7-8b54-7b29b5d55078
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"94e08c39-e1fc-49a7-8b54-7b29b5d55078", "name":"tf-test-acc-instance-tmpl-placement-group", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"PLAY2-MICRO", "placement_group_id":"5700e0c2-6042-4ad5-9b48-4b195dd5e4d6", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:36.613660Z", "updated_at":"2026-08-21T18:14:36.613660Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.759551ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/placement-groups/5700e0c2-6042-4ad5-9b48-4b195dd5e4d6
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-pensive-cohen", "id":"5700e0c2-6042-4ad5-9b48-4b195dd5e4d6", "policy_type":"max_availability", "tags":[], "created_at":"2026-08-21T18:14:35.811468Z", "updated_at":"2026-08-21T18:14:35.811468Z", "zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.627002ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-acc-instance-tmpl-admin-ssh-key","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU= opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"id":"2e6dc9a1-abfd-4104-a3ac-c80ea4af5e7a", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=", "fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)", "created_at":"2026-08-21T18:14:39.494140Z", "updated_at":"2026-08-21T18:14:39.494140Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.528151ms
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/2e6dc9a1-abfd-4104-a3ac-c80ea4af5e7a
        method: GET
      response:
        body: '{"id":"2e6dc9a1-abfd-4104-a3ac-c80ea4af5e7a", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=", "fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)", "created_at":"2026-08-21T18:14:39.494140Z", "updated_at":"2026-08-21T18:14:39.494140Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.444775ms
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-admin-ssh-key","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"POP2-4C-16G-WIN","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0,"windows_rdp_ssh_key_id":"2e6dc9a1-abfd-4104-a3ac-c80ea4af5e7a"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"33fe433a-7f34-4894-8378-5f66617d1c5c", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"POP2-4C-16G-WIN", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:39.749021Z", "updated_at":"2026-08-21T18:14:39.749021Z", "windows_rdp_ssh_key_id":"2e6dc9a1-abfd-4104-a3ac-c80ea4af5e7a", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.024762ms
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/33fe433a-7f34-4894-8378-5f66617d1c5c
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"33fe433a-7f34-4894-8378-5f66617d1c5c", "name":"tf-test-acc-instance-tmpl-admin-ssh-key", "tags":["terraform-test", "scaleway_instance_template", "additional_resources"], "server_tags":[], "server_type":"POP2-4C-16G-WIN", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:39.749021Z", "updated_at":"2026-08-21T18:14:39.749021Z", "windows_rdp_ssh_key_id":"2e6dc9a1-abfd-4104-a3ac-c80ea4af5e7a", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.63697ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/33fe433a-7f34-4894-8378-5f66617d1c5c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"33fe433a-7f34-4894-8378-5f66617d1c5c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.869291ms
[...]
