---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-file-upbeat-jones","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":30000000000,"tags":["scaleway_instance_template","filesystems","fs1"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"id":"af4edcd4-f804-46ab-91ef-2c71c9073153", "name":"tf-file-upbeat-jones", "size":30000000000, "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "tags":["scaleway_instance_template", "filesystems", "fs1"], "number_of_attachments":0, "region":"fr-par", "created_at":"2026-08-21T18:14:22.338633Z", "updated_at":"2026-08-21T18:14:22.338633Z", "filesystem_type_id":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.776609ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/af4edcd4-f804-46ab-91ef-2c71c9073153
        method: GET
      response:
        body: '{"id":"af4edcd4-f804-46ab-91ef-2c71c9073153", "name":"tf-file-upbeat-jones", "size":30000000000, "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "tags":["scaleway_instance_template", "filesystems", "fs1"], "number_of_attachments":0, "region":"fr-par", "created_at":"2026-08-21T18:14:22.338633Z", "updated_at":"2026-08-21T18:14:22.338633Z", "filesystem_type_id":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.850544ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-filesystems","tags":["terraform-test","scaleway_instance_template","filesystems"],"server_tags":null,"server_type":"POP2-8C-32G","volumes":[],"private_networks":[],"filesystem_ids":["28a320a7-6dbd-4d46-80f3-273659cf5126","af4edcd4-f804-46ab-91ef-2c71c9073153"],"public_ip_v4_count":1,"public_ip_v6_count":2}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"4c0b6162-0cb7-4f2e-b066-57f0cd0cd573", "name":"tf-test-acc-instance-tmpl-filesystems", "tags":["terraform-test", "scaleway_instance_template", "filesystems"], "server_tags":[], "server_type":"POP2-8C-32G", "public_ip_v4_count":1, "public_ip_v6_count":2, "volumes":[], "private_networks":[], "filesystem_ids":["af4edcd4-f804-46ab-91ef-2c71c9073153", "28a320a7-6dbd-4d46-80f3-273659cf5126"], "created_at":"2026-08-21T18:14:28.065794Z", "updated_at":"2026-08-21T18:14:28.065794Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 462.857799ms
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/4c0b6162-0cb7-4f2e-b066-57f0cd0cd573
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"4c0b6162-0cb7-4f2e-b066-57f0cd0cd573", "name":"tf-test-acc-instance-tmpl-filesystems", "tags":["terraform-test", "scaleway_instance_template", "filesystems"], "server_tags":[], "server_type":"POP2-8C-32G", "public_ip_v4_count":1, "public_ip_v6_count":2, "volumes":[], "private_networks":[], "filesystem_ids":["af4edcd4-f804-46ab-91ef-2c71c9073153", "28a320a7-6dbd-4d46-80f3-273659cf5126"], "created_at":"2026-08-21T18:14:28.065794Z", "updated_at":"2026-08-21T18:14:28.065794Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.6505ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/28a320a7-6dbd-4d46-80f3-273659cf5126
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"28a320a7-6dbd-4d46-80f3-273659cf5126","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.43297ms
[...]
