---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-file-jovial-feynman","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","size":40000000000,"tags":["scaleway_instance_template","filesystems","fs2"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"id":"9b2aa22a-8f76-4f67-91ed-ccdbfcfc9791", "name":"tf-file-jovial-feynman", "size":40000000000, "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "tags":["scaleway_instance_template", "filesystems", "fs2"], "number_of_attachments":0, "region":"fr-par", "created_at":"2026-08-27T11:57:58.014463Z", "updated_at":"2026-08-27T11:57:58.014463Z", "filesystem_type_id":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 302.340705ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.841708ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/9b2aa22a-8f76-4f67-91ed-ccdbfcfc9791
        method: GET
      response:
        body: '{"id":"9b2aa22a-8f76-4f67-91ed-ccdbfcfc9791", "name":"tf-file-jovial-feynman", "size":40000000000, "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "tags":["scaleway_instance_template", "filesystems", "fs2"], "number_of_attachments":0, "region":"fr-par", "created_at":"2026-08-27T11:57:58.014463Z", "updated_at":"2026-08-27T11:57:58.014463Z", "filesystem_type_id":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 156.964108ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-filesystems","tags":["terraform-test","scaleway_instance_template","filesystems"],"server_tags":null,"server_type":"POP2-8C-32G","volumes":[],"private_networks":[],"filesystem_ids":["0ab1d286-248b-4f6d-8030-bd3e33e98a09","261ef31d-09c6-4672-aeff-a7479b236b1c"],"public_ip_v4_count":1,"public_ip_v6_count":2}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"01bdd3f1-f23b-425a-a2fe-0c6a4c6c99db", "name":"tf-test-acc-instance-tmpl-filesystems", "tags":["terraform-test", "scaleway_instance_template", "filesystems"], "server_tags":[], "server_type":"POP2-8C-32G", "public_ip_v4_count":1, "public_ip_v6_count":2, "volumes":[], "private_networks":[], "filesystem_ids":["261ef31d-09c6-4672-aeff-a7479b236b1c", "0ab1d286-248b-4f6d-8030-bd3e33e98a09"], "created_at":"2026-08-27T11:58:04.261739Z", "updated_at":"2026-08-27T11:58:04.261739Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 492.574472ms
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/01bdd3f1-f23b-425a-a2fe-0c6a4c6c99db
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"01bdd3f1-f23b-425a-a2fe-0c6a4c6c99db", "name":"tf-test-acc-instance-tmpl-filesystems", "tags":["terraform-test", "scaleway_instance_template", "filesystems"], "server_tags":[], "server_type":"POP2-8C-32G", "public_ip_v4_count":1, "public_ip_v6_count":2, "volumes":[], "private_networks":[], "filesystem_ids":["261ef31d-09c6-4672-aeff-a7479b236b1c", "0ab1d286-248b-4f6d-8030-bd3e33e98a09"], "created_at":"2026-08-27T11:58:04.261739Z", "updated_at":"2026-08-27T11:58:04.261739Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 174.844094ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/261ef31d-09c6-4672-aeff-a7479b236b1c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"261ef31d-09c6-4672-aeff-a7479b236b1c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 32.776393ms
[...]
