---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-sg-stupefied-bhabha","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "aff44c76-52c0-4624-bc65-8158aec1186d", "creation_date": "2026-08-11T15:22:20.456004+00:00", "modification_date": "2026-08-11T15:22:20.456004+00:00", "name": "tf-sg-stupefied-bhabha", "description": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/aff44c76-52c0-4624-bc65-8158aec1186d
        status: 201 Created
        code: 201
        duration: 236.591824ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"enable_default_security":true,"inbound_default_policy":"accept","tags":[],"outbound_default_policy":"accept","stateful":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/aff44c76-52c0-4624-bc65-8158aec1186d
        method: PATCH
      response:
        body: '{"security_group": {"id": "aff44c76-52c0-4624-bc65-8158aec1186d", "creation_date": "2026-08-11T15:22:20.456004+00:00", "modification_date": "2026-08-11T15:22:20.456004+00:00", "name": "tf-sg-stupefied-bhabha", "description": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "nl-ams-3"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.056577ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/aff44c76-52c0-4624-bc65-8158aec1186d/rules
        method: PUT
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 587, "dest_port_to": null, "position": 3, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000004", "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 4, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000005", "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 5, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "11111111-2222-4333-8444-000000000006", "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_ip_range": null, "dest_port_from": 587, "dest_port_to": null, "position": 6, "editable": false, "action": "drop", "zone": "nl-ams-3"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.809728ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-3/security_groups/aff44c76-52c0-4624-bc65-8158aec1186d/rules?page=1
        method: GET
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "nl-ams-3"}, {"id": "111[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-security-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"PRO2-M","security_group_id":"aff44c76-52c0-4624-bc65-8158aec1186d","volumes":null,"private_networks":null,"public_ip_v4_count":0,"public_ip_v6_count":0,"filesystem_ids":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"938d149e-0d96-4ffa-b116-22c898173a0d","name":"tf-test-acc-instance-tmpl-security-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":[],"server_type":"PRO2-M","security_group_id":"aff44c76-52c0-4624-bc65-8158aec1186d","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:21.209523Z","updated_at":"2026-08-11T15:22:21.209523Z","zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.41376ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-3/templates/938d149e-0d96-4ffa-b116-22c898173a0d
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"938d149e-0d96-4ffa-b116-22c898173a0d","name":"tf-test-acc-instance-tmpl-security-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":[],"server_type":"PRO2-M","security_group_id":"aff44c76-52c0-4624-bc65-8158aec1186d","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:21.209523Z","updated_at":"2026-08-11T15:22:21.209523Z","zone":"nl-ams-3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.661854ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pg-nifty-ganguly","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/pl-waw-2/placement_groups
        method: POST
      response:
        body: '{"placement_group": {"id": "3db5210e-991d-4f07-a8cc-d0cdd31de1ac", "name": "tf-pg-nifty-ganguly", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "pl-waw-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/pl-waw-2/placement_groups/3db5210e-991d-4f07-a8cc-d0cdd31de1ac
        status: 201 Created
        code: 201
        duration: 264.466002ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-placement-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"PLAY2-MICRO","placement_group_id":"3db5210e-991d-4f07-a8cc-d0cdd31de1ac","volumes":null,"private_networks":null,"public_ip_v4_count":0,"public_ip_v6_count":0,"filesystem_ids":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"92f37986-ecf2-42de-b772-840ace7a0da5","name":"tf-test-acc-instance-tmpl-placement-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":[],"server_type":"PLAY2-MICRO","placement_group_id":"3db5210e-991d-4f07-a8cc-d0cdd31de1ac","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:23.777180Z","updated_at":"2026-08-11T15:22:23.777180Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.188878ms
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/pl-waw-2/templates/92f37986-ecf2-42de-b772-840ace7a0da5
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"92f37986-ecf2-42de-b772-840ace7a0da5","name":"tf-test-acc-instance-tmpl-placement-group","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":[],"server_type":"PLAY2-MICRO","placement_group_id":"3db5210e-991d-4f07-a8cc-d0cdd31de1ac","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:23.777180Z","updated_at":"2026-08-11T15:22:23.777180Z","zone":"pl-waw-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.154088ms
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/pl-waw-2/placement_groups/3db5210e-991d-4f07-a8cc-d0cdd31de1ac
        method: GET
      response:
        body: '{"placement_group": {"id": "3db5210e-991d-4f07-a8cc-d0cdd31de1ac", "name": "tf-pg-nifty-ganguly", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "pl-waw-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.226846ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-acc-instance-tmpl-admin-ssh-key","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU= opensource@scaleway.com","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"id":"b28f3364-4172-4407-8947-32dabe895a85","name":"tf-test-acc-instance-tmpl-admin-ssh-key","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=","fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)","created_at":"2026-08-11T15:22:25.645790Z","updated_at":"2026-08-11T15:22:25.645790Z","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.375538ms
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/b28f3364-4172-4407-8947-32dabe895a85
        method: GET
      response:
        body: '{"id":"b28f3364-4172-4407-8947-32dabe895a85","name":"tf-test-acc-instance-tmpl-admin-ssh-key","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=","fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)","created_at":"2026-08-11T15:22:25.645790Z","updated_at":"2026-08-11T15:22:25.645790Z","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.103378ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-admin-ssh-key","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":null,"server_type":"POP2-4C-16G-WIN","volumes":null,"private_networks":null,"public_ip_v4_count":0,"public_ip_v6_count":0,"windows_rdp_ssh_key_id":"b28f3364-4172-4407-8947-32dabe895a85","filesystem_ids":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"cd63e353-a88f-48a2-bb91-c95291c58f41","name":"tf-test-acc-instance-tmpl-admin-ssh-key","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":[],"server_type":"POP2-4C-16G-WIN","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:25.990117Z","updated_at":"2026-08-11T15:22:25.990117Z","windows_rdp_ssh_key_id":"b28f3364-4172-4407-8947-32dabe895a85","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.970096ms
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/cd63e353-a88f-48a2-bb91-c95291c58f41
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","id":"cd63e353-a88f-48a2-bb91-c95291c58f41","name":"tf-test-acc-instance-tmpl-admin-ssh-key","tags":["terraform-test","scaleway_instance_template","additional_resources"],"server_tags":[],"server_type":"POP2-4C-16G-WIN","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-08-11T15:22:25.990117Z","updated_at":"2026-08-11T15:22:25.990117Z","windows_rdp_ssh_key_id":"b28f3364-4172-4407-8947-32dabe895a85","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.825438ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/cd63e353-a88f-48a2-bb91-c95291c58f41
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"cd63e353-a88f-48a2-bb91-c95291c58f41","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.2224ms
[...]
