---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":null,"server_type":"GP1-L","volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-mystifying-booth","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble","perf_iops":null}],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"6f89454a-7b78-4833-aab7-9d8343d58c0e", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"tf-tmpl-vol-mystifying-booth", "tags":["local", "volume"], "size":20000000000, "image_label":"ubuntu_noble"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:52:13.247944Z", "updated_at":"2026-08-27T11:52:13.247944Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 245.95464ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/6f89454a-7b78-4833-aab7-9d8343d58c0e
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"6f89454a-7b78-4833-aab7-9d8343d58c0e", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"tf-tmpl-vol-mystifying-booth", "tags":["local", "volume"], "size":20000000000, "image_label":"ubuntu_noble"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:52:13.247944Z", "updated_at":"2026-08-27T11:52:13.247944Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 162.214671ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-youthful-lamport","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":15000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes
        method: POST
      response:
        body: '{"id":"ff23892f-61b7-486e-94c2-328e0bfe2d07", "name":"tf-volume-youthful-lamport", "type":"sbs_5k", "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:52:14.508934Z", "updated_at":"2026-08-27T11:52:14.508934Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 217.296432ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.724859ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/ff23892f-61b7-486e-94c2-328e0bfe2d07
        method: GET
      response:
        body: '{"id":"ff23892f-61b7-486e-94c2-328e0bfe2d07", "name":"tf-volume-youthful-lamport", "type":"sbs_5k", "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:52:14.508934Z", "updated_at":"2026-08-27T11:52:14.629060Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 161.429263ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"ff23892f-61b7-486e-94c2-328e0bfe2d07","name":"tf-snapshot-eager-sanderson","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots
        method: POST
      response:
        body: '{"id":"4abb0261-d035-4c3f-8cf8-1b7ed6c336b0", "name":"tf-snapshot-eager-sanderson", "parent_volume":{"id":"ff23892f-61b7-486e-94c2-328e0bfe2d07", "name":"tf-volume-youthful-lamport", "type":"sbs_5k", "status":"available"}, "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:52:15.203022Z", "updated_at":"2026-08-27T11:52:15.203022Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-2", "public":false, "kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 366.470171ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/4abb0261-d035-4c3f-8cf8-1b7ed6c336b0
        method: GET
      response:
        body: '{"id":"4abb0261-d035-4c3f-8cf8-1b7ed6c336b0", "name":"tf-snapshot-eager-sanderson", "parent_volume":{"id":"ff23892f-61b7-486e-94c2-328e0bfe2d07", "name":"tf-volume-youthful-lamport", "type":"sbs_5k", "status":"available"}, "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-27T11:52:15.203022Z", "updated_at":"2026-08-27T11:52:15.203022Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-2", "public":false, "kms_key_id":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 182.188376ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"update_volumes":{"volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie","perf_iops":null},{"volume_type":"sbs","name":"tf-tmpl-vol-strange-keller","tags":null,"size":30000000000,"base_snapshot_id":"4abb0261-d035-4c3f-8cf8-1b7ed6c336b0","perf_iops":15000}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/6f89454a-7b78-4833-aab7-9d8343d58c0e
        method: PATCH
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"6f89454a-7b78-4833-aab7-9d8343d58c0e", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"root-volume", "tags":["local"], "size":25000000000, "image_label":"debian_trixie"}, {"volume_type":"sbs", "name":"tf-tmpl-vol-strange-keller", "tags":[], "size":30000000000, "base_snapshot_id":"4abb0261-d035-4c3f-8cf8-1b7ed6c336b0", "perf_iops":15000}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:52:13.247944Z", "updated_at":"2026-08-27T11:52:13.247944Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 275.100347ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/4abb0261-d035-4c3f-8cf8-1b7ed6c336b0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"4abb0261-d035-4c3f-8cf8-1b7ed6c336b0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 166.65781ms
[...]
