---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-volumes","tags":["terraform-test","scaleway_instance_template","volumes"],"server_tags":null,"server_type":"GP1-L","volumes":[{"volume_type":"l_ssd","name":"tf-tmpl-vol-laughing-pascal","tags":["local","volume"],"size":20000000000,"image_label":"ubuntu_noble","perf_iops":null}],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"bcd7dcb4-c97e-4fb8-80dd-551ad20027b2", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"tf-tmpl-vol-laughing-pascal", "tags":["local", "volume"], "size":20000000000, "image_label":"ubuntu_noble"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:37.183600Z", "updated_at":"2026-08-21T18:14:37.183600Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.529611ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/bcd7dcb4-c97e-4fb8-80dd-551ad20027b2
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"bcd7dcb4-c97e-4fb8-80dd-551ad20027b2", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"tf-tmpl-vol-laughing-pascal", "tags":["local", "volume"], "size":20000000000, "image_label":"ubuntu_noble"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:37.183600Z", "updated_at":"2026-08-21T18:14:37.183600Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.853594ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-beautiful-varahamihira","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":15000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes
        method: POST
      response:
        body: '{"id":"a86f34cf-4a65-44e3-81da-a27f59ced104", "name":"tf-volume-beautiful-varahamihira", "type":"sbs_5k", "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:38.514028Z", "updated_at":"2026-08-21T18:14:38.514028Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.396073ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/a86f34cf-4a65-44e3-81da-a27f59ced104
        method: GET
      response:
        body: '{"id":"a86f34cf-4a65-44e3-81da-a27f59ced104", "name":"tf-volume-beautiful-varahamihira", "type":"sbs_5k", "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:38.514028Z", "updated_at":"2026-08-21T18:14:38.514028Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.73264ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"volume_id":"a86f34cf-4a65-44e3-81da-a27f59ced104","name":"tf-snapshot-cool-mccarthy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots
        method: POST
      response:
        body: '{"id":"7fb99bb5-b6d6-4c43-94b2-b3d1fccd965d", "name":"tf-snapshot-cool-mccarthy", "parent_volume":{"id":"a86f34cf-4a65-44e3-81da-a27f59ced104", "name":"tf-volume-beautiful-varahamihira", "type":"sbs_5k", "status":"available"}, "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:43.874573Z", "updated_at":"2026-08-21T18:14:43.874573Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-2", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.920885ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/7fb99bb5-b6d6-4c43-94b2-b3d1fccd965d
        method: GET
      response:
        body: '{"id":"7fb99bb5-b6d6-4c43-94b2-b3d1fccd965d", "name":"tf-snapshot-cool-mccarthy", "parent_volume":{"id":"a86f34cf-4a65-44e3-81da-a27f59ced104", "name":"tf-volume-beautiful-varahamihira", "type":"sbs_5k", "status":"available"}, "size":15000000000, "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:43.874573Z", "updated_at":"2026-08-21T18:14:43.874573Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-2", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.905407ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"update_volumes":{"volumes":[{"volume_type":"l_ssd","name":"root-volume","tags":["local"],"size":25000000000,"image_label":"debian_trixie","perf_iops":null},{"volume_type":"sbs","name":"tf-tmpl-vol-vigorous-cohen","tags":null,"size":30000000000,"base_snapshot_id":"7fb99bb5-b6d6-4c43-94b2-b3d1fccd965d","perf_iops":15000}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-2/templates/bcd7dcb4-c97e-4fb8-80dd-551ad20027b2
        method: PATCH
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"bcd7dcb4-c97e-4fb8-80dd-551ad20027b2", "name":"tf-test-acc-instance-tmpl-volumes", "tags":["terraform-test", "scaleway_instance_template", "volumes"], "server_tags":[], "server_type":"GP1-L", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[{"volume_type":"l_ssd", "name":"root-volume", "tags":["local"], "size":25000000000, "image_label":"debian_trixie"}, {"volume_type":"sbs", "name":"tf-tmpl-vol-vigorous-cohen", "tags":[], "size":30000000000, "base_snapshot_id":"7fb99bb5-b6d6-4c43-94b2-b3d1fccd965d", "perf_iops":15000}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-21T18:14:37.183600Z", "updated_at":"2026-08-21T18:14:37.183600Z", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.488883ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/7fb99bb5-b6d6-4c43-94b2-b3d1fccd965d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"7fb99bb5-b6d6-4c43-94b2-b3d1fccd965d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.328072ms
[...]
