---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-file-angry-clarke","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","size":25000000000,"tags":["scaleway_instance_template","filesystems","fs0"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems
        method: POST
      response:
        body: '{"id":"818454a6-58b0-46b1-ab52-f3f2cb917285", "name":"tf-file-angry-clarke", "size":25000000000, "status":"creating", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "tags":["scaleway_instance_template", "filesystems", "fs0"], "number_of_attachments":0, "region":"fr-par", "created_at":"2026-08-13T16:23:44.865860Z", "updated_at":"2026-08-13T16:23:44.865860Z", "filesystem_type_id":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.163212ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/818454a6-58b0-46b1-ab52-f3f2cb917285
        method: GET
      response:
        body: '{"id":"818454a6-58b0-46b1-ab52-f3f2cb917285", "name":"tf-file-angry-clarke", "size":25000000000, "status":"creating", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "tags":["scaleway_instance_template", "filesystems", "fs0"], "number_of_attachments":0, "region":"fr-par", "created_at":"2026-08-13T16:23:44.865860Z", "updated_at":"2026-08-13T16:23:44.865860Z", "filesystem_type_id":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.476461ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-test-acc-instance-tmpl-filesystems","tags":["terraform-test","scaleway_instance_template","filesystems"],"server_tags":null,"server_type":"POP2-8C-32G","volumes":null,"private_networks":null,"public_ip_v4_count":1,"public_ip_v6_count":2,"filesystem_ids":["5ff52e90-517d-4045-becf-65287d731fb7","818454a6-58b0-46b1-ab52-f3f2cb917285"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"81236f06-1ef3-4c46-bbf7-b2920943bd74", "name":"tf-test-acc-instance-tmpl-filesystems", "tags":["terraform-test", "scaleway_instance_template", "filesystems"], "server_tags":[], "server_type":"POP2-8C-32G", "public_ip_v4_count":1, "public_ip_v6_count":2, "volumes":[], "private_networks":[], "filesystem_ids":["818454a6-58b0-46b1-ab52-f3f2cb917285", "5ff52e90-517d-4045-becf-65287d731fb7"], "created_at":"2026-08-13T16:23:50.430841Z", "updated_at":"2026-08-13T16:23:50.430841Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.494938ms
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/81236f06-1ef3-4c46-bbf7-b2920943bd74
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"81236f06-1ef3-4c46-bbf7-b2920943bd74", "name":"tf-test-acc-instance-tmpl-filesystems", "tags":["terraform-test", "scaleway_instance_template", "filesystems"], "server_tags":[], "server_type":"POP2-8C-32G", "public_ip_v4_count":1, "public_ip_v6_count":2, "volumes":[], "private_networks":[], "filesystem_ids":["818454a6-58b0-46b1-ab52-f3f2cb917285", "5ff52e90-517d-4045-becf-65287d731fb7"], "created_at":"2026-08-13T16:23:50.430841Z", "updated_at":"2026-08-13T16:23:50.430841Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.759612ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/file/v1alpha1/regions/fr-par/filesystems/bba94fd6-03f4-4995-b756-38e848da2ed4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"filesystem","resource_id":"bba94fd6-03f4-4995-b756-38e848da2ed4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.149063ms
[...]
