---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-laughing-kalam","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"id":"e7dff9b6-c198-410a-a7cb-9ccb3b7672a9", "name":"tf-vpc-laughing-kalam", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:24.055577Z", "updated_at":"2026-08-21T18:14:24.055577Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.103134ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/e7dff9b6-c198-410a-a7cb-9ccb3b7672a9
        method: GET
      response:
        body: '{"id":"e7dff9b6-c198-410a-a7cb-9ccb3b7672a9", "name":"tf-vpc-laughing-kalam", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:24.055577Z", "updated_at":"2026-08-21T18:14:24.055577Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.305255ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-wizardly-jackson","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["scaleway_instance_template","private-networks","pn0"],"subnets":null,"vpc_id":"e7dff9b6-c198-410a-a7cb-9ccb3b7672a9","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 249.70393ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-bold-pare","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["scaleway_instance_template","private-networks","pn2"],"subnets":null,"vpc_id":"e7dff9b6-c198-410a-a7cb-9ccb3b7672a9","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"id":"d4ee4dbc-29f9-4576-84ce-0cc64afc8225", "name":"tf-pn-bold-pare", "tags":["scaleway_instance_template", "private-networks", "pn2"], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:24.498599Z", "updated_at":"2026-08-21T18:14:24.498599Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"17418896-e1bc-42db-b322-9f05ca29194d", "created_at":"2026-08-21T18:14:24.498599Z", "updated_at":"2026-08-21T18:14:24.498599Z", "subnet":"172.16.12.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d4ee4dbc-29f9-4576-84ce-0cc64afc8225", "vpc_id":"e7dff9b6-c198-410a-a7cb-9ccb3b7672a9", "region":"nl-ams"}, {"id":"fe46ce3a-2e31-4188-8214-5767481fddc8", "created_at":"2026-08-21T18:14:24.498599Z", "updated_at":"2026-08-21T18:14:24.498599Z", "subnet":"fd5c:d510:d730:dbee::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d4ee4dbc-29f9-4576-84ce-0cc64afc8225", "vpc_id":"e7dff9b6-c198-410a-a7cb-9ccb3b7672a9", "region":"nl-ams"}], "vpc_id":"e7dff9b6-c198-410a-a7cb-9ccb3b7672a9", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_s3_integration":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 744.541759ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/d4ee4dbc-29f9-4576-84ce-0cc64afc8225
        method: GET
      response:
        body: '{"id":"d4ee4dbc-29f9-4576-84ce-0cc64afc8225", "name":"tf-pn-bold-pare", "tags":["scaleway_instance_template", "private-networks", "pn2"], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-21T18:14:24.498599Z", "updated_at":"2026-0[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-acc-instance-tmpl-private-networks","tags":["terraform-test","scaleway_instance_template","private-networks"],"server_tags":null,"server_type":"PLAY2-MICRO","volumes":[],"private_networks":[{"private_network_id":"dbab9e47-862c-4cf2-9e59-a699e87d0fdc"},{"private_network_id":"9b136bb2-932d-4b83-8121-03e87129674a"}],"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"e2453716-042a-47a1-9b90-45e2a2826ca4", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"dbab9e47-862c-4cf2-9e59-a699e87d0fdc"}, {"private_network_id":"9b136bb2-932d-4b83-8121-03e87129674a"}], "filesystem_ids":[], "created_at":"2026-08-21T18:14:27.979241Z", "updated_at":"2026-08-21T18:14:27.979241Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 606.976923ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/e2453716-042a-47a1-9b90-45e2a2826ca4
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"e2453716-042a-47a1-9b90-45e2a2826ca4", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"dbab9e47-862c-4cf2-9e59-a699e87d0fdc"}, {"private_network_id":"9b136bb2-932d-4b83-8121-03e87129674a"}], "filesystem_ids":[], "created_at":"2026-08-21T18:14:27.979241Z", "updated_at":"2026-08-21T18:14:27.979241Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.39738ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"update_private_networks":{"private_networks":[{"private_network_id":"d4ee4dbc-29f9-4576-84ce-0cc64afc8225"},{"private_network_id":"dbab9e47-862c-4cf2-9e59-a699e87d0fdc"}]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/e2453716-042a-47a1-9b90-45e2a2826ca4
        method: PATCH
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"e2453716-042a-47a1-9b90-45e2a2826ca4", "name":"tf-test-acc-instance-tmpl-private-networks", "tags":["terraform-test", "scaleway_instance_template", "private-networks"], "server_tags":[], "server_type":"PLAY2-MICRO", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[{"private_network_id":"d4ee4dbc-29f9-4576-84ce-0cc64afc8225"}, {"private_network_id":"dbab9e47-862c-4cf2-9e59-a699e87d0fdc"}], "filesystem_ids":[], "created_at":"2026-08-21T18:14:27.979241Z", "updated_at":"2026-08-21T18:14:27.979241Z", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.972182ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/nl-ams-1/templates/e2453716-042a-47a1-9b90-45e2a2826ca4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"e2453716-042a-47a1-9b90-45e2a2826ca4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.250903ms
[...]
