---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tf-tmpl-intelligent-bell","tags":["terraform-test","scaleway_instance_template","basic"],"server_tags":["from-template"],"server_type":"PRO2-M","volumes":[],"private_networks":[],"filesystem_ids":null,"public_ip_v4_count":1,"public_ip_v6_count":3}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"315a9c4a-596d-4b5b-a1e3-4b3db9c87560", "name":"tf-tf-tmpl-intelligent-bell", "tags":["terraform-test", "scaleway_instance_template", "basic"], "server_tags":["from-template"], "server_type":"PRO2-M", "public_ip_v4_count":1, "public_ip_v6_count":3, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:52:00.480219Z", "updated_at":"2026-08-27T11:52:00.480219Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 313.355516ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/315a9c4a-596d-4b5b-a1e3-4b3db9c87560
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "id":"315a9c4a-596d-4b5b-a1e3-4b3db9c87560", "name":"tf-tf-tmpl-intelligent-bell", "tags":["terraform-test", "scaleway_instance_template", "basic"], "server_tags":["from-template"], "server_type":"PRO2-M", "public_ip_v4_count":1, "public_ip_v6_count":3, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-27T11:52:00.480219Z", "updated_at":"2026-08-27T11:52:00.480219Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 175.261627ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/315a9c4a-596d-4b5b-a1e3-4b3db9c87560
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_template","resource_id":"315a9c4a-596d-4b5b-a1e3-4b3db9c87560","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 41.51003ms
