---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "4495ebf1-9a8c-46e4-93e6-f2dcfc4fd225", "address": "51.15.232.89", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "4495ebf1-9a8c-46e4-93e6-f2dcfc4fd225"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4495ebf1-9a8c-46e4-93e6-f2dcfc4fd225
        status: 201 Created
        code: 201
        duration: 356.231753ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/420df7b4-9b34-450b-ae40-92dc8f126c4e
        method: GET
      response:
        body: '{"ip": {"id": "420df7b4-9b34-450b-ae40-92dc8f126c4e", "address": "163.172.183.171", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "420df7b4-9b34-450b-ae40-92dc8f126c4e"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.886986ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/420df7b4-9b34-450b-ae40-92dc8f126c4e
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "420df7b4-9b34-450b-ae40-92dc8f126c4e"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.707657ms
[...]
