---
version: 2
interactions:
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.158.70.246","id":"4fa4e60f-f6cf-4c22-8fcb-bdd36821f33f","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4fa4e60f-f6cf-4c22-8fcb-bdd36821f33f
    status: 201 Created
    code: 201
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4fa4e60f-f6cf-4c22-8fcb-bdd36821f33f
    method: GET
  response:
    body: '{"ip":{"address":"51.158.70.246","id":"4fa4e60f-f6cf-4c22-8fcb-bdd36821f33f","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4fa4e60f-f6cf-4c22-8fcb-bdd36821f33f
    method: GET
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
[...]
