---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "17c3e0f7-9b3a-4388-a546-c88e988118cf", "address": "51.15.209.90", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "17c3e0f7-9b3a-4388-a546-c88e988118cf"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/17c3e0f7-9b3a-4388-a546-c88e988118cf
        status: 201 Created
        code: 201
        duration: 605.586365ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/78a7f485-da01-45ff-bb76-720c4f87b0da
        method: GET
      response:
        body: '{"ip": {"id": "78a7f485-da01-45ff-bb76-720c4f87b0da", "address": "212.47.239.143", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "78a7f485-da01-45ff-bb76-720c4f87b0da"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.557638ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/78a7f485-da01-45ff-bb76-720c4f87b0da
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "78a7f485-da01-45ff-bb76-720c4f87b0da"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.085139ms
[...]
