---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "88591d14-fa59-4625-bb11-257d405c83eb", "address": "51.158.97.101", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "88591d14-fa59-4625-bb11-257d405c83eb"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/88591d14-fa59-4625-bb11-257d405c83eb
        status: 201 Created
        code: 201
        duration: 305.649008ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/88591d14-fa59-4625-bb11-257d405c83eb
        method: GET
      response:
        body: '{"ip": {"id": "88591d14-fa59-4625-bb11-257d405c83eb", "address": "51.158.97.101", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "88591d14-fa59-4625-bb11-257d405c83eb"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.451644ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/88591d14-fa59-4625-bb11-257d405c83eb
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "88591d14-fa59-4625-bb11-257d405c83eb"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.947544ms
[...]
