---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "e1f29882-bfd1-414c-bd23-d904515e2f0f", "address": "163.172.152.220", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "e1f29882-bfd1-414c-bd23-d904515e2f0f"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e1f29882-bfd1-414c-bd23-d904515e2f0f
        status: 201 Created
        code: 201
        duration: 428.609364ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e1f29882-bfd1-414c-bd23-d904515e2f0f
        method: GET
      response:
        body: '{"ip": {"id": "e1f29882-bfd1-414c-bd23-d904515e2f0f", "address": "163.172.152.220", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "e1f29882-bfd1-414c-bd23-d904515e2f0f"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.193811ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e3b8afac-7a57-43dc-956d-6734cd17d52e
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "e3b8afac-7a57-43dc-956d-6734cd17d52e"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.412279ms
[...]
