---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "fd8f6fbc-2b44-4378-8d16-01fa188cbde3", "address": "163.172.159.60", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "fd8f6fbc-2b44-4378-8d16-01fa188cbde3"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/fd8f6fbc-2b44-4378-8d16-01fa188cbde3
        status: 201 Created
        code: 201
        duration: 226.246947ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/02c442f2-0b21-4198-887f-bbdd01001cb6
        method: GET
      response:
        body: '{"ip": {"id": "02c442f2-0b21-4198-887f-bbdd01001cb6", "address": "163.172.160.190", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "02c442f2-0b21-4198-887f-bbdd01001cb6"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.847769ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/02c442f2-0b21-4198-887f-bbdd01001cb6
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "02c442f2-0b21-4198-887f-bbdd01001cb6"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.768412ms
[...]
