---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "89eab85a-e742-4810-bfd4-f39344887093", "address": "51.15.222.42", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "89eab85a-e742-4810-bfd4-f39344887093"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/89eab85a-e742-4810-bfd4-f39344887093
        status: 201 Created
        code: 201
        duration: 325.190485ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/89eab85a-e742-4810-bfd4-f39344887093
        method: GET
      response:
        body: '{"ip": {"id": "89eab85a-e742-4810-bfd4-f39344887093", "address": "51.15.222.42", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "89eab85a-e742-4810-bfd4-f39344887093"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.669105ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f2610f35-f437-4a5c-b43e-d5681268bbf5
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "f2610f35-f437-4a5c-b43e-d5681268bbf5"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.151837ms
[...]
