---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "1a01fb93-6367-4968-8893-205bf808aeea", "address": "51.158.124.137", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "1a01fb93-6367-4968-8893-205bf808aeea"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1a01fb93-6367-4968-8893-205bf808aeea
        status: 201 Created
        code: 201
        duration: 415.112153ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1a01fb93-6367-4968-8893-205bf808aeea
        method: GET
      response:
        body: '{"ip": {"id": "1a01fb93-6367-4968-8893-205bf808aeea", "address": "51.158.124.137", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "1a01fb93-6367-4968-8893-205bf808aeea"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.84535ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1a01fb93-6367-4968-8893-205bf808aeea
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "1a01fb93-6367-4968-8893-205bf808aeea"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.401493ms
[...]
