---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"aede723a-ffe8-427b-b809-eea14206f331\", \"address\": \"51.158.97.50\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"fdd7f323-75c7-4ddf-b83d-912373f78911\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/aede723a-ffe8-427b-b809-eea14206f331
    status: 201 Created
    code: 201
    duration: 386.648759ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/aede723a-ffe8-427b-b809-eea14206f331
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"aede723a-ffe8-427b-b809-eea14206f331\", \"address\": \"51.158.97.50\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"fdd7f323-75c7-4ddf-b83d-912373f78911\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.987883ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/aede723a-ffe8-427b-b809-eea14206f331
    method: GET
  response:
    body: "{\"type\": \"permissions_denied\", \"message\": \"insufficient permissions\", \"details\": [{\"resource\": \"compute_ips\", \"action\": \"read\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 132.458721ms
[...]
