---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "f5ef6cc0-7360-4ce3-bd34-7521d467c84a", "address": "51.15.249.178", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "f5ef6cc0-7360-4ce3-bd34-7521d467c84a"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f5ef6cc0-7360-4ce3-bd34-7521d467c84a
        status: 201 Created
        code: 201
        duration: 622.040513ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"51.15.249.178","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"67de538f-2825-4660-ad2e-75f11a9f9b31","data":"51.15.249.178","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"updated_at":"2026-08-11T08:54:24Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.883783ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"total_count":1,"records":[{"id":"67de538f-2825-4660-ad2e-75f11a9f9b31","data":"51.15.249.178","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"updated_at":"2026-08-11T08:54:24Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.304084ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1,"records":[{"id":"67de538f-2825-4660-ad2e-75f11a9f9b31","data":"51.15.249.178","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"updated_at":"2026-08-11T08:54:24Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.571438ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            id:
                - 67de538f-2825-4660-ad2e-75f11a9f9b31
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=67de538f-2825-4660-ad2e-75f11a9f9b31&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1,"records":[{"id":"67de538f-2825-4660-ad2e-75f11a9f9b31","data":"51.15.249.178","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"updated_at":"2026-08-11T08:54:24Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.797451ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            dns_zones:
                - tf-reverse-instance.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"tf-reverse-instance","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2026-08-11T08:54:24Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.410971ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f5ef6cc0-7360-4ce3-bd34-7521d467c84a
        method: GET
      response:
        body: '{"ip": {"id": "f5ef6cc0-7360-4ce3-bd34-7521d467c84a", "address": "51.15.249.178", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "f5ef6cc0-7360-4ce3-bd34-7521d467c84a"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.217393ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"67de538f-2825-4660-ad2e-75f11a9f9b31"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.616276ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/7ee6ffa2-5166-408e-9c0d-7df9e4ff9e2d
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "7ee6ffa2-5166-408e-9c0d-7df9e4ff9e2d"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.17866ms
