---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "45c755dd-9789-4038-93d7-e93c19e22165", "address": null, "prefix": "2001:bc8:711:4e25::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "45c755dd-9789-4038-93d7-e93c19e22165"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/45c755dd-9789-4038-93d7-e93c19e22165
        status: 201 Created
        code: 201
        duration: 590.619859ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/45c755dd-9789-4038-93d7-e93c19e22165
        method: GET
      response:
        body: '{"ip": {"id": "45c755dd-9789-4038-93d7-e93c19e22165", "address": null, "prefix": "2001:bc8:711:4e25::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "45c755dd-9789-4038-93d7-e93c19e22165"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.365798ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/45c755dd-9789-4038-93d7-e93c19e22165
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "45c755dd-9789-4038-93d7-e93c19e22165"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.509105ms
