---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":null,"id":"88201074-761e-4ed1-83b4-f7fc97b5599f","ipam_id":"7fe64a99-2542-4e46-8871-5fa2db4ba362","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":"2001:bc8:710:404a::/64","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/88201074-761e-4ed1-83b4-f7fc97b5599f
        status: 201 Created
        code: 201
        duration: 397.184395ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/88201074-761e-4ed1-83b4-f7fc97b5599f
        method: GET
      response:
        body: '{"ip":{"address":null,"id":"88201074-761e-4ed1-83b4-f7fc97b5599f","ipam_id":"7fe64a99-2542-4e46-8871-5fa2db4ba362","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":"2001:bc8:710:404a::/64","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.589427ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/88201074-761e-4ed1-83b4-f7fc97b5599f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_ip","resource_id":"88201074-761e-4ed1-83b4-f7fc97b5599f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.761589ms
