---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "0c265f34-84f7-42bf-937e-c8c5e704e559", "address": null, "prefix": "2001:bc8:711:4b81::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "0c265f34-84f7-42bf-937e-c8c5e704e559"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/0c265f34-84f7-42bf-937e-c8c5e704e559
        status: 201 Created
        code: 201
        duration: 535.885374ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/0c265f34-84f7-42bf-937e-c8c5e704e559
        method: GET
      response:
        body: '{"ip": {"id": "0c265f34-84f7-42bf-937e-c8c5e704e559", "address": null, "prefix": "2001:bc8:711:4b81::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "0c265f34-84f7-42bf-937e-c8c5e704e559"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.252359ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/0c265f34-84f7-42bf-937e-c8c5e704e559
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "0c265f34-84f7-42bf-937e-c8c5e704e559"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.716194ms
