---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"routed_ipv6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"7ab2a5ff-ca1b-4201-b3c5-acc3d6c8fcd1\", \"address\": null, \"prefix\": \"2001:bc8:710:d350::/64\", \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv6\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"190ebacc-372b-4018-bc7b-547aa1e6c5ee\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/7ab2a5ff-ca1b-4201-b3c5-acc3d6c8fcd1
    status: 201 Created
    code: 201
    duration: 604.033087ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/7ab2a5ff-ca1b-4201-b3c5-acc3d6c8fcd1
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"7ab2a5ff-ca1b-4201-b3c5-acc3d6c8fcd1\", \"address\": null, \"prefix\": \"2001:bc8:710:d350::/64\", \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv6\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"190ebacc-372b-4018-bc7b-547aa1e6c5ee\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 185.62374ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/7ab2a5ff-ca1b-4201-b3c5-acc3d6c8fcd1
    method: GET
  response:
    body: "{\"type\": \"permissions_denied\", \"message\": \"insufficient permissions\", \"details\": [{\"resource\": \"compute_ips\", \"action\": \"read\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 178.358358ms
