---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "4ca284ad-fdf2-48aa-a524-c44b7a1bffd9", "address": "51.158.102.250", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "4ca284ad-fdf2-48aa-a524-c44b7a1bffd9"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4ca284ad-fdf2-48aa-a524-c44b7a1bffd9
        status: 201 Created
        code: 201
        duration: 410.893956ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"51.158.102.250","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"620d4311-f2f9-4100-9ffb-1bac7ed01f1f", "data":"51.158.102.250", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-05-12T16:50:52Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.35305ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"620d4311-f2f9-4100-9ffb-1bac7ed01f1f", "data":"51.158.102.250", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-05-12T16:50:52Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.386435ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"620d4311-f2f9-4100-9ffb-1bac7ed01f1f", "data":"51.158.102.250", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-05-12T16:50:52Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.728497ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            id:
                - 620d4311-f2f9-4100-9ffb-1bac7ed01f1f
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=620d4311-f2f9-4100-9ffb-1bac7ed01f1f&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"620d4311-f2f9-4100-9ffb-1bac7ed01f1f", "data":"51.158.102.250", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-05-12T16:50:52Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.736503ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            dns_zones:
                - tf-reverse-instance.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-reverse-instance", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"pending", "message":null, "updated_at":"2026-05-12T16:50:52Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.9757ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4ca284ad-fdf2-48aa-a524-c44b7a1bffd9
        method: GET
      response:
        body: '{"ip": {"id": "4ca284ad-fdf2-48aa-a524-c44b7a1bffd9", "address": "51.158.102.250", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "4ca284ad-fdf2-48aa-a524-c44b7a1bffd9"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.973866ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"620d4311-f2f9-4100-9ffb-1bac7ed01f1f"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.94649ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/711080fe-480a-4fe9-bd78-6578dae177a6
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "711080fe-480a-4fe9-bd78-6578dae177a6"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.383217ms
