---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "dfd1d9eb-6c9f-40f7-adb0-a1b6f0f364bf", "address": "163.172.178.70", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "dfd1d9eb-6c9f-40f7-adb0-a1b6f0f364bf"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/dfd1d9eb-6c9f-40f7-adb0-a1b6f0f364bf
        status: 201 Created
        code: 201
        duration: 576.000705ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"163.172.178.70","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"ead82cc3-6293-4a27-9ccc-b3766f57845e", "data":"163.172.178.70", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-06-23T09:40:50Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.582749ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"ead82cc3-6293-4a27-9ccc-b3766f57845e", "data":"163.172.178.70", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-06-23T09:40:50Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.195884ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"ead82cc3-6293-4a27-9ccc-b3766f57845e", "data":"163.172.178.70", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-06-23T09:40:50Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.019683ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            id:
                - ead82cc3-6293-4a27-9ccc-b3766f57845e
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=ead82cc3-6293-4a27-9ccc-b3766f57845e&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"ead82cc3-6293-4a27-9ccc-b3766f57845e", "data":"163.172.178.70", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-06-23T09:40:50Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.800641ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            dns_zones:
                - tf-reverse-instance.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-reverse-instance", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"pending", "message":null, "updated_at":"2026-06-23T09:40:50Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.091739ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/dfd1d9eb-6c9f-40f7-adb0-a1b6f0f364bf
        method: GET
      response:
        body: '{"ip": {"id": "dfd1d9eb-6c9f-40f7-adb0-a1b6f0f364bf", "address": "163.172.178.70", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "dfd1d9eb-6c9f-40f7-adb0-a1b6f0f364bf"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.970283ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"reverse":"tf-reverse-instance.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/dfd1d9eb-6c9f-40f7-adb0-a1b6f0f364bf
        method: PATCH
      response:
        body: '{"type": "invalid_arguments", "message": "invalid argument(s)", "details": [{"argument_name": "reverse", "reason": "constraint", "help_message": "Your reverse must resolve. Ensure the command ''dig +short tf-reverse-instance.scaleway-terraform.com'' matches your IP address ''163.172.178.70''. If it does, please contact our support."}]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 466.525487ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"ead82cc3-6293-4a27-9ccc-b3766f57845e"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.89357ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/8f28fc62-0e47-4a2e-a916-e24c6ae4e25c
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "8f28fc62-0e47-4a2e-a916-e24c6ae4e25c"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.343422ms
