---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "8f457b60-852b-44a2-9bba-c98d7f41b8c3", "address": "51.15.230.164", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "1b472bbd-97c8-4237-94d2-2b55d4b7872b"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/8f457b60-852b-44a2-9bba-c98d7f41b8c3
        status: 201 Created
        code: 201
        duration: 938.8727ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/8f457b60-852b-44a2-9bba-c98d7f41b8c3
        method: GET
      response:
        body: '{"ip": {"id": "8f457b60-852b-44a2-9bba-c98d7f41b8c3", "address": "51.15.230.164", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "1b472bbd-97c8-4237-94d2-2b55d4b7872b"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.034067ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"51.15.230.164","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"938cf943-e547-46dd-8895-742abf737e9b", "data":"51.15.230.164", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.359358ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form:
            name:
                - ""
            order_by:
                - name_asc
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"938cf943-e547-46dd-8895-742abf737e9b", "data":"51.15.230.164", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.17277ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form:
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"938cf943-e547-46dd-8895-742abf737e9b", "data":"51.15.230.164", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.249427ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form:
            id:
                - 938cf943-e547-46dd-8895-742abf737e9b
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=938cf943-e547-46dd-8895-742abf737e9b&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"938cf943-e547-46dd-8895-742abf737e9b", "data":"51.15.230.164", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.288029ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form:
            dns_zones:
                - tf-reverse-instance.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-reverse-instance", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"pending", "message":null, "updated_at":"2025-10-29T22:53:43Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.749452ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form:
            id:
                - 938cf943-e547-46dd-8895-742abf737e9b
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=938cf943-e547-46dd-8895-742abf737e9b&name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"938cf943-e547-46dd-8895-742abf737e9b", "data":"51.15.230.164", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.946137ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"938cf943-e547-46dd-8895-742abf737e9b"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.733388ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/65a60f6b-fa89-4e49-bc25-fced17fa3df3
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "65a60f6b-fa89-4e49-bc25-fced17fa3df3"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.636429ms
