---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"routed_ipv6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"e5cc1ffc-127d-4888-871f-7b6927753964\", \"address\": null, \"prefix\": \"2001:bc8:710:d34f::/64\", \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv6\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"78a9bb43-ed05-45ad-bb58-5cae5d417845\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e5cc1ffc-127d-4888-871f-7b6927753964
    status: 201 Created
    code: 201
    duration: 707.850443ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e5cc1ffc-127d-4888-871f-7b6927753964
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"e5cc1ffc-127d-4888-871f-7b6927753964\", \"address\": null, \"prefix\": \"2001:bc8:710:d34f::/64\", \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv6\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"78a9bb43-ed05-45ad-bb58-5cae5d417845\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.481569ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e5cc1ffc-127d-4888-871f-7b6927753964
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_ip\", \"resource_id\": \"e5cc1ffc-127d-4888-871f-7b6927753964\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 55.021772ms
