---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "2f0fea41-4597-4e85-b60f-dda41543d57e", "address": null, "prefix": "2001:bc8:710:4201::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "2f0fea41-4597-4e85-b60f-dda41543d57e"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/2f0fea41-4597-4e85-b60f-dda41543d57e
        status: 201 Created
        code: 201
        duration: 348.394034ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/2f0fea41-4597-4e85-b60f-dda41543d57e
        method: GET
      response:
        body: '{"ip": {"id": "2f0fea41-4597-4e85-b60f-dda41543d57e", "address": null, "prefix": "2001:bc8:710:4201::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "2f0fea41-4597-4e85-b60f-dda41543d57e"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.760633ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/2f0fea41-4597-4e85-b60f-dda41543d57e
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "2f0fea41-4597-4e85-b60f-dda41543d57e"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 73.740382ms
