---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"1d2e96c2-a32c-4233-a580-b2f48aea84ec\", \"address\": \"51.158.76.222\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"c95030eb-3379-433d-ac00-22168d163bd2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1d2e96c2-a32c-4233-a580-b2f48aea84ec
    status: 201 Created
    code: 201
    duration: 595.569977ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1d2e96c2-a32c-4233-a580-b2f48aea84ec
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"1d2e96c2-a32c-4233-a580-b2f48aea84ec\", \"address\": \"51.158.76.222\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"c95030eb-3379-433d-ac00-22168d163bd2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.012043ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"51.158.76.222\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"f0ad5598-d5db-4713-8989-2a121599b44f\", \"data\":\"51.158.76.222\", \"name\":\"\", \"priority\":1, \"ttl\":3600, \"type\":\"A\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.229026ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"f0ad5598-d5db-4713-8989-2a121599b44f\", \"data\":\"51.158.76.222\", \"name\":\"\", \"priority\":1, \"ttl\":3600, \"type\":\"A\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.507874ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"f0ad5598-d5db-4713-8989-2a121599b44f\", \"data\":\"51.158.76.222\", \"name\":\"\", \"priority\":1, \"ttl\":3600, \"type\":\"A\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.221562ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      id:
      - f0ad5598-d5db-4713-8989-2a121599b44f
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=f0ad5598-d5db-4713-8989-2a121599b44f&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"f0ad5598-d5db-4713-8989-2a121599b44f\", \"data\":\"51.158.76.222\", \"name\":\"\", \"priority\":1, \"ttl\":3600, \"type\":\"A\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.007421ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - tf-reverse-instance.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1, \"dns_zones\":[{\"domain\":\"scaleway-terraform.com\", \"subdomain\":\"tf-reverse-instance\", \"ns\":[\"ns0.dom.scw.cloud\", \"ns1.dom.scw.cloud\"], \"ns_default\":[\"ns0.dom.scw.cloud\", \"ns1.dom.scw.cloud\"], \"ns_master\":[], \"status\":\"pending\", \"message\":null, \"updated_at\":\"2025-10-30T15:58:46Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.381619ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      id:
      - f0ad5598-d5db-4713-8989-2a121599b44f
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=f0ad5598-d5db-4713-8989-2a121599b44f&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"f0ad5598-d5db-4713-8989-2a121599b44f\", \"data\":\"51.158.76.222\", \"name\":\"\", \"priority\":1, \"ttl\":3600, \"type\":\"A\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.949552ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"f0ad5598-d5db-4713-8989-2a121599b44f\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.069144ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1d2e96c2-a32c-4233-a580-b2f48aea84ec
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_ip\", \"resource_id\": \"1d2e96c2-a32c-4233-a580-b2f48aea84ec\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 56.275381ms
