---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":null,"id":"b0a149f5-38d7-40f1-bc76-a707a9eb92c0","ipam_id":"40766c8d-667e-4d42-926c-4e4379f10f03","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":"2001:bc8:710:2883::/64","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b0a149f5-38d7-40f1-bc76-a707a9eb92c0
        status: 201 Created
        code: 201
        duration: 767.917611ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b0a149f5-38d7-40f1-bc76-a707a9eb92c0
        method: GET
      response:
        body: '{"ip":{"address":null,"id":"b0a149f5-38d7-40f1-bc76-a707a9eb92c0","ipam_id":"40766c8d-667e-4d42-926c-4e4379f10f03","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":"2001:bc8:710:2883::/64","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.546793ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b0a149f5-38d7-40f1-bc76-a707a9eb92c0
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"compute_ips"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 79.321344ms
