---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":null,"id":"21751fba-7b3d-4ccc-88bc-98cb25c2ef9d","ipam_id":"8c24f329-ab3f-4221-9cc5-5e8f501f2338","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":"2001:bc8:710:a9ce::/64","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/21751fba-7b3d-4ccc-88bc-98cb25c2ef9d
        status: 201 Created
        code: 201
        duration: 503.705209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/21751fba-7b3d-4ccc-88bc-98cb25c2ef9d
        method: GET
      response:
        body: '{"ip":{"address":null,"id":"21751fba-7b3d-4ccc-88bc-98cb25c2ef9d","ipam_id":"8c24f329-ab3f-4221-9cc5-5e8f501f2338","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":"2001:bc8:710:a9ce::/64","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.405125ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/21751fba-7b3d-4ccc-88bc-98cb25c2ef9d
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"compute_ips"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 87.990375ms
