---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"1d2e96c2-a32c-4233-a580-b2f48aea84ec\", \"address\": \"51.158.76.222\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"1fc6390b-3ac6-4b8c-af01-6c8f826aa7b6\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1d2e96c2-a32c-4233-a580-b2f48aea84ec
    status: 201 Created
    code: 201
    duration: 390.628056ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1d2e96c2-a32c-4233-a580-b2f48aea84ec
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"1d2e96c2-a32c-4233-a580-b2f48aea84ec\", \"address\": \"51.158.76.222\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"1fc6390b-3ac6-4b8c-af01-6c8f826aa7b6\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.550151ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"51.158.76.222\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"9848e624-3e24-48f0-836a-f3e1d571d954\",\"data\":\"51.158.76.222\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 167.743534ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"9848e624-3e24-48f0-836a-f3e1d571d954\",\"data\":\"51.158.76.222\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.924308ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"9848e624-3e24-48f0-836a-f3e1d571d954\",\"data\":\"51.158.76.222\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.783763ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      id:
      - 9848e624-3e24-48f0-836a-f3e1d571d954
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=9848e624-3e24-48f0-836a-f3e1d571d954&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"9848e624-3e24-48f0-836a-f3e1d571d954\",\"data\":\"51.158.76.222\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.582161ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - tf-reverse-instance.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"tf-reverse-instance\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-09-04T12:40:31Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 149.261593ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      id:
      - 9848e624-3e24-48f0-836a-f3e1d571d954
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=9848e624-3e24-48f0-836a-f3e1d571d954&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"9848e624-3e24-48f0-836a-f3e1d571d954\",\"data\":\"51.158.76.222\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 290.970593ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"9848e624-3e24-48f0-836a-f3e1d571d954\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.110099ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/01cdc811-7feb-416f-9933-c74defd40b17
    method: GET
  response:
    body: "{\"type\": \"permissions_denied\", \"message\": \"insufficient permissions\", \"details\": [{\"resource\": \"compute_ips\", \"action\": \"read\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 137.228973ms
