---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "6e443027-8d0f-49c9-a103-321f772c7733", "address": "51.15.228.236", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "6e443027-8d0f-49c9-a103-321f772c7733"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6e443027-8d0f-49c9-a103-321f772c7733
        status: 201 Created
        code: 201
        duration: 451.5165ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"51.15.228.236","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"2fe24c12-a709-4fab-9f21-a942b3c39dd5", "data":"51.15.228.236", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.163025ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"2fe24c12-a709-4fab-9f21-a942b3c39dd5", "data":"51.15.228.236", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.86826ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"2fe24c12-a709-4fab-9f21-a942b3c39dd5", "data":"51.15.228.236", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.269126ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            id:
                - 2fe24c12-a709-4fab-9f21-a942b3c39dd5
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=2fe24c12-a709-4fab-9f21-a942b3c39dd5&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"2fe24c12-a709-4fab-9f21-a942b3c39dd5", "data":"51.15.228.236", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.682014ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            dns_zones:
                - tf-reverse-instance.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-reverse-instance", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"pending", "message":null, "updated_at":"2026-02-24T17:42:54Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.268752ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6e443027-8d0f-49c9-a103-321f772c7733
        method: GET
      response:
        body: '{"ip": {"id": "6e443027-8d0f-49c9-a103-321f772c7733", "address": "51.15.228.236", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "6e443027-8d0f-49c9-a103-321f772c7733"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.252035ms
    - id: 7
      request:
        host: api.scaleway.com
        form:
            id:
                - 2fe24c12-a709-4fab-9f21-a942b3c39dd5
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=2fe24c12-a709-4fab-9f21-a942b3c39dd5&name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"2fe24c12-a709-4fab-9f21-a942b3c39dd5", "data":"51.15.228.236", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.062031ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"2fe24c12-a709-4fab-9f21-a942b3c39dd5"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.502075ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ab3f44ff-60f7-4c9e-9929-baecc46beb3e
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "ab3f44ff-60f7-4c9e-9929-baecc46beb3e"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.522536ms
