---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "3822afd7-54f2-4f69-8f96-acdba89d55f1", "address": "163.172.160.190", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3822afd7-54f2-4f69-8f96-acdba89d55f1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/3822afd7-54f2-4f69-8f96-acdba89d55f1
        status: 201 Created
        code: 201
        duration: 300.401027ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"163.172.160.190","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"ff320de7-4090-4135-a7a1-f360afaf306f", "data":"163.172.160.190", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-07-30T12:56:42Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.602907ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"ff320de7-4090-4135-a7a1-f360afaf306f", "data":"163.172.160.190", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-07-30T12:56:42Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.244981ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - A
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"ff320de7-4090-4135-a7a1-f360afaf306f", "data":"163.172.160.190", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-07-30T12:56:42Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.762325ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            id:
                - ff320de7-4090-4135-a7a1-f360afaf306f
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=ff320de7-4090-4135-a7a1-f360afaf306f&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"ff320de7-4090-4135-a7a1-f360afaf306f", "data":"163.172.160.190", "name":"", "priority":1, "ttl":3600, "type":"A", "comment":null, "updated_at":"2026-07-30T12:56:42Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.090109ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            dns_zones:
                - tf-reverse-instance.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-reverse-instance", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"pending", "message":null, "updated_at":"2026-07-30T12:56:42Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.977936ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/3822afd7-54f2-4f69-8f96-acdba89d55f1
        method: GET
      response:
        body: '{"ip": {"id": "3822afd7-54f2-4f69-8f96-acdba89d55f1", "address": "163.172.160.190", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "3822afd7-54f2-4f69-8f96-acdba89d55f1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.72319ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"reverse":"tf-reverse-instance.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/3822afd7-54f2-4f69-8f96-acdba89d55f1
        method: PATCH
      response:
        body: '{"type": "invalid_arguments", "message": "invalid argument(s)", "details": [{"argument_name": "reverse", "reason": "constraint", "help_message": "Your reverse must resolve. Ensure the command ''dig +short tf-reverse-instance.scaleway-terraform.com'' matches your IP address ''163.172.160.190''. If it does, please contact our support."}]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 442.058727ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"ff320de7-4090-4135-a7a1-f360afaf306f"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.155567ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d8156b7e-4736-485f-9673-79357fc580ec
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "d8156b7e-4736-485f-9673-79357fc580ec"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.677995ms
