---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"routed_ipv6"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8", "address": null, "prefix": "2001:bc8:710:404a::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8
        status: 201 Created
        code: 201
        duration: 217.544837ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8
        method: GET
      response:
        body: '{"ip": {"id": "5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8", "address": null, "prefix": "2001:bc8:710:404a::/64", "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.07586ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "5f424f87-fe4c-47cb-8d5a-e31f5d0ec5a8"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.689114ms
