---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.158.65.65","id":"fb49b08e-51b4-45cd-a0d0-bcf156deee1b","ipam_id":"9196e8b1-08e7-42ff-abf7-1e85b7f10767","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/fb49b08e-51b4-45cd-a0d0-bcf156deee1b
        status: 201 Created
        code: 201
        duration: 944.634375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/fb49b08e-51b4-45cd-a0d0-bcf156deee1b
        method: GET
      response:
        body: '{"ip":{"address":"51.158.65.65","id":"fb49b08e-51b4-45cd-a0d0-bcf156deee1b","ipam_id":"9196e8b1-08e7-42ff-abf7-1e85b7f10767","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.072834ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/fb49b08e-51b4-45cd-a0d0-bcf156deee1b
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"compute_ips"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 106.0775ms
