---
version: 2
interactions:
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.15.208.177","id":"6fbb59fb-11a0-4a50-abc4-bd81c4547c07","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6fbb59fb-11a0-4a50-abc4-bd81c4547c07
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6fbb59fb-11a0-4a50-abc4-bd81c4547c07
    method: GET
  response:
    body: '{"ip":{"address":"51.15.208.177","id":"6fbb59fb-11a0-4a50-abc4-bd81c4547c07","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6fbb59fb-11a0-4a50-abc4-bd81c4547c07
    method: GET
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
