---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "8f457b60-852b-44a2-9bba-c98d7f41b8c3", "address": "51.15.230.164", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "ff178611-98f9-4c6b-900b-e613b726eb13"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/8f457b60-852b-44a2-9bba-c98d7f41b8c3
        status: 201 Created
        code: 201
        duration: 1.51095805s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/8f457b60-852b-44a2-9bba-c98d7f41b8c3
        method: GET
      response:
        body: '{"ip": {"id": "8f457b60-852b-44a2-9bba-c98d7f41b8c3", "address": "51.15.230.164", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "ff178611-98f9-4c6b-900b-e613b726eb13"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.020235ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/8f457b60-852b-44a2-9bba-c98d7f41b8c3
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "8f457b60-852b-44a2-9bba-c98d7f41b8c3"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.64831ms
