---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"5e1fe2cf-537e-4763-9643-89980a20a0b0\", \"address\": \"163.172.149.221\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"b0ce5908-00b6-4696-a5af-7eb2baa2124f\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5e1fe2cf-537e-4763-9643-89980a20a0b0
    status: 201 Created
    code: 201
    duration: 354.600462ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5e1fe2cf-537e-4763-9643-89980a20a0b0
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"5e1fe2cf-537e-4763-9643-89980a20a0b0\", \"address\": \"163.172.149.221\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"b0ce5908-00b6-4696-a5af-7eb2baa2124f\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.202903ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5e1fe2cf-537e-4763-9643-89980a20a0b0
    method: GET
  response:
    body: "{\"type\": \"permissions_denied\", \"message\": \"insufficient permissions\", \"details\": [{\"resource\": \"compute_ips\", \"action\": \"read\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 116.274567ms
