---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "86e0bf88-f76c-4b6d-bf71-6c1c96d49db9", "address": "163.172.182.101", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "86e0bf88-f76c-4b6d-bf71-6c1c96d49db9"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/86e0bf88-f76c-4b6d-bf71-6c1c96d49db9
        status: 201 Created
        code: 201
        duration: 658.689553ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/86e0bf88-f76c-4b6d-bf71-6c1c96d49db9
        method: GET
      response:
        body: '{"ip": {"id": "86e0bf88-f76c-4b6d-bf71-6c1c96d49db9", "address": "163.172.182.101", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "86e0bf88-f76c-4b6d-bf71-6c1c96d49db9"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.283271ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/86e0bf88-f76c-4b6d-bf71-6c1c96d49db9
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "86e0bf88-f76c-4b6d-bf71-6c1c96d49db9"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.209735ms
