---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"163.172.145.106","id":"780585ed-d10d-45e0-a5a4-9cce36efefd9","ipam_id":"4a5e92d1-2c27-4ce7-b976-53e8b3f84e1f","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/780585ed-d10d-45e0-a5a4-9cce36efefd9
        status: 201 Created
        code: 201
        duration: 555.298458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/780585ed-d10d-45e0-a5a4-9cce36efefd9
        method: GET
      response:
        body: '{"ip":{"address":"163.172.145.106","id":"780585ed-d10d-45e0-a5a4-9cce36efefd9","ipam_id":"4a5e92d1-2c27-4ce7-b976-53e8b3f84e1f","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.46575ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.158.170.116","id":"568e7532-0df9-41a9-987e-26c056725953","ipam_id":"35e59b14-d392-4be5-bf29-2f02bb75a60f","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        status: 201 Created
        code: 201
        duration: 792.353125ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        method: GET
      response:
        body: '{"ip":{"address":"51.158.170.116","id":"568e7532-0df9-41a9-987e-26c056725953","ipam_id":"35e59b14-d392-4be5-bf29-2f02bb75a60f","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.205875ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"compute_ips"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 133.419541ms
