---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "35faa1e8-b164-47ba-a749-1767afe89e5c", "address": "51.158.97.101", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "35faa1e8-b164-47ba-a749-1767afe89e5c"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/35faa1e8-b164-47ba-a749-1767afe89e5c
        status: 201 Created
        code: 201
        duration: 263.495171ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/35faa1e8-b164-47ba-a749-1767afe89e5c
        method: GET
      response:
        body: '{"ip": {"id": "35faa1e8-b164-47ba-a749-1767afe89e5c", "address": "51.158.97.101", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "35faa1e8-b164-47ba-a749-1767afe89e5c"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.929039ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "f6c4341a-4b4e-45e6-b5fb-9958decb9ac0", "address": "51.15.72.40", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "f6c4341a-4b4e-45e6-b5fb-9958decb9ac0"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/f6c4341a-4b4e-45e6-b5fb-9958decb9ac0
        status: 201 Created
        code: 201
        duration: 388.982721ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/f6c4341a-4b4e-45e6-b5fb-9958decb9ac0
        method: GET
      response:
        body: '{"ip": {"id": "f6c4341a-4b4e-45e6-b5fb-9958decb9ac0", "address": "51.15.72.40", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "f6c4341a-4b4e-45e6-b5fb-9958decb9ac0"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.993543ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/f6c4341a-4b4e-45e6-b5fb-9958decb9ac0
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "f6c4341a-4b4e-45e6-b5fb-9958decb9ac0"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 83.477204ms
