---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "c8bff5b1-6fff-4220-a14e-c9cc0ba6b39b", "address": "163.172.182.132", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "c8bff5b1-6fff-4220-a14e-c9cc0ba6b39b"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/c8bff5b1-6fff-4220-a14e-c9cc0ba6b39b
        status: 201 Created
        code: 201
        duration: 621.354573ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/c8bff5b1-6fff-4220-a14e-c9cc0ba6b39b
        method: GET
      response:
        body: '{"ip": {"id": "c8bff5b1-6fff-4220-a14e-c9cc0ba6b39b", "address": "163.172.182.132", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "c8bff5b1-6fff-4220-a14e-c9cc0ba6b39b"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.636599ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "d810a6e6-7fc9-4def-9762-99c08116ca25", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "d810a6e6-7fc9-4def-9762-99c08116ca25"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/d810a6e6-7fc9-4def-9762-99c08116ca25
        status: 201 Created
        code: 201
        duration: 620.750236ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/d810a6e6-7fc9-4def-9762-99c08116ca25
        method: GET
      response:
        body: '{"ip": {"id": "d810a6e6-7fc9-4def-9762-99c08116ca25", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "d810a6e6-7fc9-4def-9762-99c08116ca25"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.384967ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/d810a6e6-7fc9-4def-9762-99c08116ca25
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "d810a6e6-7fc9-4def-9762-99c08116ca25"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 79.010519ms
