---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "2da95bf2-f5fc-4163-ab60-1785b599f7bc", "address": "51.15.209.90", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "2da95bf2-f5fc-4163-ab60-1785b599f7bc"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/2da95bf2-f5fc-4163-ab60-1785b599f7bc
        status: 201 Created
        code: 201
        duration: 702.453331ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/2da95bf2-f5fc-4163-ab60-1785b599f7bc
        method: GET
      response:
        body: '{"ip": {"id": "2da95bf2-f5fc-4163-ab60-1785b599f7bc", "address": "51.15.209.90", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "2da95bf2-f5fc-4163-ab60-1785b599f7bc"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.818606ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "6718c04f-63d4-4354-8b6f-aab2e3fd1d7f", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "6718c04f-63d4-4354-8b6f-aab2e3fd1d7f"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/6718c04f-63d4-4354-8b6f-aab2e3fd1d7f
        status: 201 Created
        code: 201
        duration: 704.596564ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/6718c04f-63d4-4354-8b6f-aab2e3fd1d7f
        method: GET
      response:
        body: '{"ip": {"id": "6718c04f-63d4-4354-8b6f-aab2e3fd1d7f", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "6718c04f-63d4-4354-8b6f-aab2e3fd1d7f"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.564206ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/6718c04f-63d4-4354-8b6f-aab2e3fd1d7f
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "6718c04f-63d4-4354-8b6f-aab2e3fd1d7f"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 87.936656ms
