---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "a073cb27-78c8-4ab2-938b-a9789dab6753", "address": "163.172.149.120", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "a073cb27-78c8-4ab2-938b-a9789dab6753"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/a073cb27-78c8-4ab2-938b-a9789dab6753
        status: 201 Created
        code: 201
        duration: 763.445886ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/a073cb27-78c8-4ab2-938b-a9789dab6753
        method: GET
      response:
        body: '{"ip": {"id": "a073cb27-78c8-4ab2-938b-a9789dab6753", "address": "163.172.149.120", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "a073cb27-78c8-4ab2-938b-a9789dab6753"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 449.924899ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e
        status: 201 Created
        code: 201
        duration: 728.832533ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e
        method: GET
      response:
        body: '{"ip": {"id": "9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.039749ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "9f5006c5-3b3f-42cc-8ccf-558c72eb3b9e"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 83.567821ms
