---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "5e1fe2cf-537e-4763-9643-89980a20a0b0", "address": "163.172.149.221", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "5f252f01-c0af-493d-b723-0258438f33b2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5e1fe2cf-537e-4763-9643-89980a20a0b0
        status: 201 Created
        code: 201
        duration: 1.665939582s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/5e1fe2cf-537e-4763-9643-89980a20a0b0
        method: GET
      response:
        body: '{"ip": {"id": "5e1fe2cf-537e-4763-9643-89980a20a0b0", "address": "163.172.149.221", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "5f252f01-c0af-493d-b723-0258438f33b2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.337836ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "568e7532-0df9-41a9-987e-26c056725953", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "1050ce6d-75ac-4654-8a72-973f8f1392ac"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        status: 201 Created
        code: 201
        duration: 618.61209ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        method: GET
      response:
        body: '{"ip": {"id": "568e7532-0df9-41a9-987e-26c056725953", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "1050ce6d-75ac-4654-8a72-973f8f1392ac"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.781911ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "568e7532-0df9-41a9-987e-26c056725953"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 96.649254ms
