---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "7ec6e127-d367-4aaa-b3e7-7b145310ccae", "address": "51.15.232.89", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "7ec6e127-d367-4aaa-b3e7-7b145310ccae"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/7ec6e127-d367-4aaa-b3e7-7b145310ccae
        status: 201 Created
        code: 201
        duration: 340.214582ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/7ec6e127-d367-4aaa-b3e7-7b145310ccae
        method: GET
      response:
        body: '{"ip": {"id": "7ec6e127-d367-4aaa-b3e7-7b145310ccae", "address": "51.15.232.89", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "7ec6e127-d367-4aaa-b3e7-7b145310ccae"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.080285ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "338fb56e-5d0b-4dd7-bfb0-934026a02835", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "338fb56e-5d0b-4dd7-bfb0-934026a02835"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/338fb56e-5d0b-4dd7-bfb0-934026a02835
        status: 201 Created
        code: 201
        duration: 486.294171ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/338fb56e-5d0b-4dd7-bfb0-934026a02835
        method: GET
      response:
        body: '{"ip": {"id": "338fb56e-5d0b-4dd7-bfb0-934026a02835", "address": "51.158.170.116", "prefix": null, "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "nl-ams-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "338fb56e-5d0b-4dd7-bfb0-934026a02835"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.91193ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/338fb56e-5d0b-4dd7-bfb0-934026a02835
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "338fb56e-5d0b-4dd7-bfb0-934026a02835"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.879417ms
