---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.135.95","id":"24d12111-e484-4cba-aca8-1984cca2cf55","ipam_id":"483298b5-0dd9-410d-a5ff-2a8450831d01","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/24d12111-e484-4cba-aca8-1984cca2cf55
        status: 201 Created
        code: 201
        duration: 580.961075ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/24d12111-e484-4cba-aca8-1984cca2cf55
        method: GET
      response:
        body: '{"ip":{"address":"51.15.135.95","id":"24d12111-e484-4cba-aca8-1984cca2cf55","ipam_id":"483298b5-0dd9-410d-a5ff-2a8450831d01","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.897343ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.158.170.116","id":"568e7532-0df9-41a9-987e-26c056725953","ipam_id":"3f40ded2-9f32-41e6-a1de-b1ad7887fea6","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        status: 201 Created
        code: 201
        duration: 731.665844ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        method: GET
      response:
        body: '{"ip":{"address":"51.158.170.116","id":"568e7532-0df9-41a9-987e-26c056725953","ipam_id":"3f40ded2-9f32-41e6-a1de-b1ad7887fea6","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.763992ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/568e7532-0df9-41a9-987e-26c056725953
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"compute_ips"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 155.229495ms
