---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pg-gracious-yonath","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group": {"id": "9f38b5fc-59c3-45a6-a199-5b4cfb1f3ea6", "name": "tf-pg-gracious-yonath", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/9f38b5fc-59c3-45a6-a199-5b4cfb1f3ea6
        status: 201 Created
        code: 201
        duration: 185.29927ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/9f38b5fc-59c3-45a6-a199-5b4cfb1f3ea6
        method: GET
      response:
        body: '{"placement_group": {"id": "9f38b5fc-59c3-45a6-a199-5b4cfb1f3ea6", "name": "tf-pg-gracious-yonath", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.927856ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/9f38b5fc-59c3-45a6-a199-5b4cfb1f3ea6
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_placement_group", "resource_id": "9f38b5fc-59c3-45a6-a199-5b4cfb1f3ea6"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.281525ms
