---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-vibrant-wu","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-vibrant-wu", "id":"b58961bd-68ae-4fe3-b041-930570886156", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-30T12:56:11.838909Z", "updated_at":"2026-07-30T12:56:11.838909Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.382673ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b58961bd-68ae-4fe3-b041-930570886156
        method: PATCH
      response:
        body: '{"placement_group": {"id": "b58961bd-68ae-4fe3-b041-930570886156", "name": "tf-pg-vibrant-wu", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.408422ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/b58961bd-68ae-4fe3-b041-930570886156
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-vibrant-wu", "id":"b58961bd-68ae-4fe3-b041-930570886156", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-30T12:56:11.838909Z", "updated_at":"2026-07-30T12:56:11.838909Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.860808ms
[...]
