---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-sweet-goldberg","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-sweet-goldberg","id":"c98e1b5d-d166-46f2-9b07-ff53447ab1cf","policy_type":"max_availability","tags":[],"created_at":"2026-08-11T08:52:56.033555Z","updated_at":"2026-08-11T08:52:56.033555Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.989716ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/c98e1b5d-d166-46f2-9b07-ff53447ab1cf
        method: PATCH
      response:
        body: '{"placement_group": {"id": "c98e1b5d-d166-46f2-9b07-ff53447ab1cf", "name": "tf-pg-sweet-goldberg", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.221416ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/c98e1b5d-d166-46f2-9b07-ff53447ab1cf
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-sweet-goldberg","id":"c98e1b5d-d166-46f2-9b07-ff53447ab1cf","policy_type":"max_availability","tags":[],"created_at":"2026-08-11T08:52:56.033555Z","updated_at":"2026-08-11T08:52:56.033555Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.427719ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/c98e1b5d-d166-46f2-9b07-ff53447ab1cf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"c98e1b5d-d166-46f2-9b07-ff53447ab1cf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.235744ms
