---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pg-inspiring-darwin","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"e8f9ac93-59ac-4357-ba9c-e4842e0742a1","name":"tf-pg-inspiring-darwin","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e8f9ac93-59ac-4357-ba9c-e4842e0742a1
        status: 201 Created
        code: 201
        duration: 193.295084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e8f9ac93-59ac-4357-ba9c-e4842e0742a1
        method: GET
      response:
        body: '{"placement_group":{"id":"e8f9ac93-59ac-4357-ba9c-e4842e0742a1","name":"tf-pg-inspiring-darwin","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.963417ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e8f9ac93-59ac-4357-ba9c-e4842e0742a1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"e8f9ac93-59ac-4357-ba9c-e4842e0742a1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 76.7445ms
