---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pg-zen-saha","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"e45a49be-1750-4df0-82b6-a5a8f27b59a3","name":"tf-pg-zen-saha","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e45a49be-1750-4df0-82b6-a5a8f27b59a3
        status: 201 Created
        code: 201
        duration: 374.918546ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e45a49be-1750-4df0-82b6-a5a8f27b59a3
        method: GET
      response:
        body: '{"placement_group":{"id":"e45a49be-1750-4df0-82b6-a5a8f27b59a3","name":"tf-pg-zen-saha","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.667693ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e45a49be-1750-4df0-82b6-a5a8f27b59a3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"e45a49be-1750-4df0-82b6-a5a8f27b59a3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.596507ms
