---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pg-zealous-wilbur","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"d383f88b-e974-4543-8f03-ce3faaf70e9d","name":"tf-pg-zealous-wilbur","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d383f88b-e974-4543-8f03-ce3faaf70e9d
        status: 201 Created
        code: 201
        duration: 637.433764ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d383f88b-e974-4543-8f03-ce3faaf70e9d
        method: GET
      response:
        body: '{"placement_group":{"id":"d383f88b-e974-4543-8f03-ce3faaf70e9d","name":"tf-pg-zealous-wilbur","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.772718ms
[...]
