---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pg-awesome-dhawan\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"policy_mode\":\"optional\",\"policy_type\":\"max_availability\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: "{\"placement_group\": {\"id\": \"22ed5949-86d2-4096-b37b-434386a13eb9\", \"name\": \"tf-pg-awesome-dhawan\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/22ed5949-86d2-4096-b37b-434386a13eb9
    status: 201 Created
    code: 201
    duration: 181.693766ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/22ed5949-86d2-4096-b37b-434386a13eb9
    method: GET
  response:
    body: "{\"placement_group\": {\"id\": \"22ed5949-86d2-4096-b37b-434386a13eb9\", \"name\": \"tf-pg-awesome-dhawan\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.507606ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/22ed5949-86d2-4096-b37b-434386a13eb9
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_placement_group\", \"resource_id\": \"22ed5949-86d2-4096-b37b-434386a13eb9\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 42.328779ms
