---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-magical-khorana","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-magical-khorana", "id":"aca59013-c1c4-4a2d-a01b-f5862ab4abda", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-30T12:56:03.039693Z", "updated_at":"2026-07-30T12:56:03.039693Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.970017ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/aca59013-c1c4-4a2d-a01b-f5862ab4abda
        method: PATCH
      response:
        body: '{"placement_group": {"id": "aca59013-c1c4-4a2d-a01b-f5862ab4abda", "name": "tf-pg-magical-khorana", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.303258ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/aca59013-c1c4-4a2d-a01b-f5862ab4abda
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-pg-magical-khorana", "id":"aca59013-c1c4-4a2d-a01b-f5862ab4abda", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-30T12:56:03.039693Z", "updated_at":"2026-07-30T12:56:03.039693Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.308141ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/aca59013-c1c4-4a2d-a01b-f5862ab4abda
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"aca59013-c1c4-4a2d-a01b-f5862ab4abda","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.270915ms
