---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pg-trusting-ptolemy","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group": {"id": "fd299750-2450-442b-9487-d48dac00a9f2", "name": "tf-pg-trusting-ptolemy", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/fd299750-2450-442b-9487-d48dac00a9f2
        status: 201 Created
        code: 201
        duration: 173.383251ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/fd299750-2450-442b-9487-d48dac00a9f2
        method: GET
      response:
        body: '{"placement_group": {"id": "fd299750-2450-442b-9487-d48dac00a9f2", "name": "tf-pg-trusting-ptolemy", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.402395ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/fd299750-2450-442b-9487-d48dac00a9f2
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_placement_group", "resource_id": "fd299750-2450-442b-9487-d48dac00a9f2"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.223532ms
