---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-pg-nice-greider","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"tf-pg-nice-greider", "id":"2c054f66-8a40-41c8-8e1e-145c3204a685", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-21T09:46:46.498058Z", "updated_at":"2026-07-21T09:46:46.498058Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.056821ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/2c054f66-8a40-41c8-8e1e-145c3204a685
        method: PATCH
      response:
        body: '{"placement_group": {"id": "2c054f66-8a40-41c8-8e1e-145c3204a685", "name": "tf-pg-nice-greider", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.840094ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/2c054f66-8a40-41c8-8e1e-145c3204a685
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"tf-pg-nice-greider", "id":"2c054f66-8a40-41c8-8e1e-145c3204a685", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-21T09:46:46.498058Z", "updated_at":"2026-07-21T09:46:46.498058Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.988517ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/2c054f66-8a40-41c8-8e1e-145c3204a685
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"2c054f66-8a40-41c8-8e1e-145c3204a685","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.394653ms
