---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pg-upbeat-banzai","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group": {"id": "93bcc79a-b3f5-49d7-af92-db076bc6d53a", "name": "tf-pg-upbeat-banzai", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/93bcc79a-b3f5-49d7-af92-db076bc6d53a
        status: 201 Created
        code: 201
        duration: 266.073503ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/93bcc79a-b3f5-49d7-af92-db076bc6d53a
        method: GET
      response:
        body: '{"placement_group": {"id": "93bcc79a-b3f5-49d7-af92-db076bc6d53a", "name": "tf-pg-upbeat-banzai", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.230092ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/93bcc79a-b3f5-49d7-af92-db076bc6d53a
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_placement_group", "resource_id": "93bcc79a-b3f5-49d7-af92-db076bc6d53a"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.44343ms
