---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-peaceful-thompson","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-peaceful-thompson","id":"011e4e2f-2fef-4111-8c66-fb97b198434c","policy_type":"max_availability","tags":[],"created_at":"2026-08-11T08:52:51.593663Z","updated_at":"2026-08-11T08:52:51.593663Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.391746ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/011e4e2f-2fef-4111-8c66-fb97b198434c
        method: PATCH
      response:
        body: '{"placement_group": {"id": "011e4e2f-2fef-4111-8c66-fb97b198434c", "name": "tf-pg-peaceful-thompson", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.657225ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/011e4e2f-2fef-4111-8c66-fb97b198434c
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pg-peaceful-thompson","id":"011e4e2f-2fef-4111-8c66-fb97b198434c","policy_type":"max_availability","tags":[],"created_at":"2026-08-11T08:52:51.593663Z","updated_at":"2026-08-11T08:52:51.593663Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.268239ms
[...]
