---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pg-boring-nightingale\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"policy_mode\":\"optional\",\"policy_type\":\"max_availability\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: "{\"placement_group\": {\"id\": \"142ccb35-a0f6-43c5-8988-4d34f38a8984\", \"name\": \"tf-pg-boring-nightingale\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/142ccb35-a0f6-43c5-8988-4d34f38a8984
    status: 201 Created
    code: 201
    duration: 187.455201ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/142ccb35-a0f6-43c5-8988-4d34f38a8984
    method: GET
  response:
    body: "{\"placement_group\": {\"id\": \"142ccb35-a0f6-43c5-8988-4d34f38a8984\", \"name\": \"tf-pg-boring-nightingale\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.578806ms
[...]
