---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-pg-heuristic-austin","policy_type":"max_availability","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"tf-pg-heuristic-austin", "id":"9cd80026-0ad2-4503-95db-a041c8a8cbc2", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-21T09:46:46.488992Z", "updated_at":"2026-07-21T09:46:46.488992Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.441188ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"policy_mode":"optional"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/9cd80026-0ad2-4503-95db-a041c8a8cbc2
        method: PATCH
      response:
        body: '{"placement_group": {"id": "9cd80026-0ad2-4503-95db-a041c8a8cbc2", "name": "tf-pg-heuristic-austin", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "policy_mode": "optional", "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.911139ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/9cd80026-0ad2-4503-95db-a041c8a8cbc2
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"tf-pg-heuristic-austin", "id":"9cd80026-0ad2-4503-95db-a041c8a8cbc2", "policy_type":"max_availability", "tags":[], "created_at":"2026-07-21T09:46:46.488992Z", "updated_at":"2026-07-21T09:46:46.488992Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.600413ms
[...]
