---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"sg-name\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"stateful\":true,\"inbound_default_policy\":\"drop\",\"outbound_default_policy\":\"accept\",\"enable_default_security\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: "{\"security_group\": {\"id\": \"0ae0141a-cb94-45fa-9d83-3676124c24bc\", \"creation_date\": \"2025-09-04T12:38:13.639958+00:00\", \"modification_date\": \"2025-09-04T12:38:13.639958+00:00\", \"name\": \"sg-name\", \"description\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"drop\", \"outbound_default_policy\": \"accept\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0ae0141a-cb94-45fa-9d83-3676124c24bc
    status: 201 Created
    code: 201
    duration: 272.077252ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"sg-name\",\"enable_default_security\":true,\"inbound_default_policy\":\"drop\",\"tags\":[],\"outbound_default_policy\":\"accept\",\"stateful\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0ae0141a-cb94-45fa-9d83-3676124c24bc
    method: PATCH
  response:
    body: "{\"security_group\": {\"id\": \"0ae0141a-cb94-45fa-9d83-3676124c24bc\", \"creation_date\": \"2025-09-04T12:38:13.639958+00:00\", \"modification_date\": \"2025-09-04T12:38:13.639958+00:00\", \"name\": \"sg-name\", \"description\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"drop\", \"outbound_default_policy\": \"accept\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.901532ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"rules\":[{\"id\":null,\"action\":\"accept\",\"protocol\":\"TCP\",\"direction\":\"inbound\",\"ip_range\":\"0.0.0.0/0\",\"dest_port_from\":80,\"dest_port_to\":null,\"position\":0,\"editable\":null,\"zone\":\"fr-par-1\"},{\"id\":null,\"action\":\"accept\",\"protocol\":\"TCP\",\"direction\":\"inbound\",\"ip_range\":\"1.1.1.1/32\",\"dest_port_from\":22,\"dest_port_to\":null,\"position\":0,\"editable\":null,\"zone\":\"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0ae0141a-cb94-45fa-9d83-3676124c24bc/rules
    method: PUT
  response:
    body: "{\"rules\": [{\"id\": \"11111111-2222-4333-8444-000000000001\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 25, \"dest_port_to\": null, \"position\": 1, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id\": \"11111111-2222-4333-8444-000000000002\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 465, \"dest_port_to\": null, \"position\": 2, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id\": \"11111111-2222-4333-8444-000000000003\", \"protocol\": \"TC[...]
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0ae0141a-cb94-45fa-9d83-3676124c24bc/rules?page=1
    method: GET
  response:
    body: "{\"rules\": [{\"id\": \"11111111-2222-4333-8444-000000000001\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 25, \"dest_port_to\": null, \"position\": 1, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id[...]
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0ae0141a-cb94-45fa-9d83-3676124c24bc
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_security_group\", \"resource_id\": \"0ae0141a-cb94-45fa-9d83-3676124c24bc\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 40.78592ms
