---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-sg-flamboyant-diffie","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "0fc59d56-e4bf-478e-8f9b-94b8514e61c4", "creation_date": "2025-10-29T22:53:37.828406+00:00", "modification_date": "2025-10-29T22:53:37.828406+00:00", "name": "tf-sg-flamboyant-diffie", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0fc59d56-e4bf-478e-8f9b-94b8514e61c4
        status: 201 Created
        code: 201
        duration: 180.025214ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"enable_default_security":true,"inbound_default_policy":"accept","tags":["test-terraform"],"outbound_default_policy":"accept","stateful":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0fc59d56-e4bf-478e-8f9b-94b8514e61c4
        method: PATCH
      response:
        body: '{"security_group": {"id": "0fc59d56-e4bf-478e-8f9b-94b8514e61c4", "creation_date": "2025-10-29T22:53:37.828406+00:00", "modification_date": "2025-10-29T22:53:37.828406+00:00", "name": "tf-sg-flamboyant-diffie", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.550143ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"1.1.1.1/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"},{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"2.2.2.2/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"},{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"3.3.3.3/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0fc59d56-e4bf-478e-8f9b-94b8514e61c4/rules
        method: PUT
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "de[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0fc59d56-e4bf-478e-8f9b-94b8514e61c4/rules?page=1
        method: GET
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "111[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0fc59d56-e4bf-478e-8f9b-94b8514e61c4
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_security_group", "resource_id": "0fc59d56-e4bf-478e-8f9b-94b8514e61c4"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.022896ms
