---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-sg-quizzical-mahavira\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[\"test-terraform\"],\"stateful\":true,\"inbound_default_policy\":\"accept\",\"outbound_default_policy\":\"accept\",\"enable_default_security\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: "{\"security_group\": {\"id\": \"ee639b7e-4d91-4276-8fa7-851e0b654c52\", \"creation_date\": \"2025-10-30T15:41:46.887154+00:00\", \"modification_date\": \"2025-10-30T15:41:46.887154+00:00\", \"name\": \"tf-sg-quizzical-mahavira\", \"description\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"accept\", \"outbound_default_policy\": \"accept\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": false, \"state\": \"available\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/ee639b7e-4d91-4276-8fa7-851e0b654c52
    status: 201 Created
    code: 201
    duration: 208.176942ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"inbound_default_policy\":\"accept\",\"tags\":[\"test-terraform\"],\"outbound_default_policy\":\"accept\",\"stateful\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/ee639b7e-4d91-4276-8fa7-851e0b654c52
    method: PATCH
  response:
    body: "{\"security_group\": {\"id\": \"ee639b7e-4d91-4276-8fa7-851e0b654c52\", \"creation_date\": \"2025-10-30T15:41:46.887154+00:00\", \"modification_date\": \"2025-10-30T15:41:46.887154+00:00\", \"name\": \"tf-sg-quizzical-mahavira\", \"description\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"accept\", \"outbound_default_policy\": \"accept\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": false, \"state\": \"available\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.025236ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"rules\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/ee639b7e-4d91-4276-8fa7-851e0b654c52/rules
    method: PUT
  response:
    body: "{\"rules\": []}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.805636ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/ee639b7e-4d91-4276-8fa7-851e0b654c52/rules?page=1
    method: GET
  response:
    body: "{\"rules\": []}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.933083ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"rules\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/ee639b7e-4d91-4276-8fa7-851e0b654c52/rules
    method: PUT
  response:
    body: "{\"rules\": [{\"id\": \"11111111-2222-4333-8444-000000000001\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 25, \"dest_port_to\": null, \"position\": 1, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id\": \"11111111-2222-4333-8444-000000000002\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 465, \"dest_port_to\": null, \"position\": 2, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id\": \"11111111-2222-4333-8444-000000000003\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from[...]
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/ee639b7e-4d91-4276-8fa7-851e0b654c52
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_security_group\", \"resource_id\": \"ee639b7e-4d91-4276-8fa7-851e0b654c52\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.46574ms
