---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"sg-name","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"drop","outbound_default_policy":"accept","enable_default_security":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group":{"creation_date":"2025-10-15T15:02:59.307851+00:00","description":null,"enable_default_security":true,"id":"c87064d9-c5ca-420a-82a1-4f53fa31dda0","inbound_default_policy":"drop","modification_date":"2025-10-15T15:02:59.307851+00:00","name":"sg-name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/c87064d9-c5ca-420a-82a1-4f53fa31dda0
        status: 201 Created
        code: 201
        duration: 215.203608ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"sg-name","enable_default_security":true,"inbound_default_policy":"drop","tags":[],"outbound_default_policy":"accept","stateful":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/c87064d9-c5ca-420a-82a1-4f53fa31dda0
        method: PATCH
      response:
        body: '{"security_group":{"creation_date":"2025-10-15T15:02:59.307851+00:00","description":null,"enable_default_security":true,"id":"c87064d9-c5ca-420a-82a1-4f53fa31dda0","inbound_default_policy":"drop","modification_date":"2025-10-15T15:02:59.307851+00:00","name":"sg-name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"available","stateful":true,"tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.049752ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":null,"action":"accept","protocol":"TCP","direction":"inbound","ip_range":"0.0.0.0/0","dest_port_from":80,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"},{"id":null,"action":"accept","protocol":"TCP","direction":"inbound","ip_range":"1.1.1.1/32","dest_port_from":22,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/c87064d9-c5ca-420a-82a1-4f53fa31dda0/rules
        method: PUT
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000002","ip_range":"0.0.0.0/0","position":2,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/c87064d9-c5ca-420a-82a1-4f53fa31dda0/rules?page=1
        method: GET
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/c87064d9-c5ca-420a-82a1-4f53fa31dda0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_security_group","resource_id":"c87064d9-c5ca-420a-82a1-4f53fa31dda0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.630389ms
