---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-sg-gallant-ganguly","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group":{"creation_date":"2025-06-10T15:30:01.267659+00:00","description":null,"enable_default_security":true,"id":"f19cd5f7-46f8-41ce-b299-3648523625d8","inbound_default_policy":"accept","modification_date":"2025-06-10T15:30:01.267659+00:00","name":"tf-sg-gallant-ganguly","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"available","stateful":true,"tags":["test-terraform"],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/f19cd5f7-46f8-41ce-b299-3648523625d8
        status: 201 Created
        code: 201
        duration: 217.483075ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"enable_default_security":true,"inbound_default_policy":"accept","tags":["test-terraform"],"outbound_default_policy":"accept","stateful":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/f19cd5f7-46f8-41ce-b299-3648523625d8
        method: PATCH
      response:
        body: '{"security_group":{"creation_date":"2025-06-10T15:30:01.267659+00:00","description":null,"enable_default_security":true,"id":"f19cd5f7-46f8-41ce-b299-3648523625d8","inbound_default_policy":"accept","modification_date":"2025-06-10T15:30:01.267659+00:00","name":"tf-sg-gallant-ganguly","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"available","stateful":true,"tags":["test-terraform"],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.859608ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"1.1.1.1/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"},{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"2.2.2.2/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"},{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"3.3.3.3/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/f19cd5f7-46f8-41ce-b299-3648523625d8/rules
        method: PUT
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000002","ip_range":"0.0.0.0/0","position":2,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/f19cd5f7-46f8-41ce-b299-3648523625d8/rules?page=1
        method: GET
      response:
        body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"11111111-2222-4333-8444-000000000001","ip_range":"0.0.0.0/0","position":1,"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/f19cd5f7-46f8-41ce-b299-3648523625d8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_security_group","resource_id":"f19cd5f7-46f8-41ce-b299-3648523625d8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 99.686054ms
