---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-sg-confident-allen\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[\"test-terraform\"],\"stateful\":true,\"inbound_default_policy\":\"accept\",\"outbound_default_policy\":\"accept\",\"enable_default_security\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: "{\"security_group\": {\"id\": \"3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f\", \"creation_date\": \"2025-10-30T15:42:33.936034+00:00\", \"modification_date\": \"2025-10-30T15:42:33.936034+00:00\", \"name\": \"tf-sg-confident-allen\", \"description\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"accept\", \"outbound_default_policy\": \"accept\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"available\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f
    status: 201 Created
    code: 201
    duration: 237.192359ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"enable_default_security\":true,\"inbound_default_policy\":\"accept\",\"tags\":[\"test-terraform\"],\"outbound_default_policy\":\"accept\",\"stateful\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f
    method: PATCH
  response:
    body: "{\"security_group\": {\"id\": \"3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f\", \"creation_date\": \"2025-10-30T15:42:33.936034+00:00\", \"modification_date\": \"2025-10-30T15:42:33.936034+00:00\", \"name\": \"tf-sg-confident-allen\", \"description\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"accept\", \"outbound_default_policy\": \"accept\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"available\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.674276ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"rules\":[{\"id\":null,\"action\":\"drop\",\"protocol\":\"ANY\",\"direction\":\"inbound\",\"ip_range\":\"1.1.1.1/32\",\"dest_port_from\":null,\"dest_port_to\":null,\"position\":0,\"editable\":null,\"zone\":\"fr-par-1\"},{\"id\":null,\"action\":\"drop\",\"protocol\":\"ANY\",\"direction\":\"inbound\",\"ip_range\":\"2.2.2.2/32\",\"dest_port_from\":null,\"dest_port_to\":null,\"position\":0,\"editable\":null,\"zone\":\"fr-par-1\"},{\"id\":null,\"action\":\"drop\",\"protocol\":\"ANY\",\"direction\":\"inbound\",\"ip_range\":\"3.3.3.3/32\",\"dest_port_from\":null,\"dest_port_to\":null,\"position\":0,\"editable\":null,\"zone\":\"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f/rules
    method: PUT
  response:
    body: "{\"rules\": [{\"id\": \"11111111-2222-4333-8444-000000000001\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 25, \"dest_port_to\": null, \"position\": 1, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id\": \"11111111-2222-4333-8444-000000000002\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 465, \"dest_port_to\": null, \"position\": 2, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id\": \"11111111-2222-4333-8444-000000000003\", \"protocol\": \"TC[...]
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f/rules?page=1
    method: GET
  response:
    body: "{\"rules\": [{\"id\": \"11111111-2222-4333-8444-000000000001\", \"protocol\": \"TCP\", \"direction\": \"outbound\", \"ip_range\": \"0.0.0.0/0\", \"dest_ip_range\": null, \"dest_port_from\": 25, \"dest_port_to\": null, \"position\": 1, \"editable\": false, \"action\": \"drop\", \"zone\": \"fr-par-1\"}, {\"id[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_security_group\", \"resource_id\": \"3de9e9ab-4f91-4d4e-bc92-0e13bfdb767f\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.27748ms
