---
version: 2
interactions:
- request:
    body: '{"name":"tf-sg-infallible-noyce","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group":{"creation_date":"2023-12-05T12:33:22.600565+00:00","description":null,"enable_default_security":true,"id":"85980f88-4ece-42e0-b102-3bacb6409843","inbound_default_policy":"accept","modification_date":"2023-12-05T12:33:22.600565+00:00","name":"tf-sg-infallible-noyce","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"syncing","stateful":true,"tags":["test-terraform"],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/85980f88-4ece-42e0-b102-3bacb6409843
    status: 201 Created
    code: 201
- request:
    body: '{"enable_default_security":true,"inbound_default_policy":"accept","tags":["test-terraform"],"outbound_default_policy":"accept","stateful":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/85980f88-4ece-42e0-b102-3bacb6409843
    method: PATCH
  response:
    body: '{"security_group":{"creation_date":"2023-12-05T12:33:22.600565+00:00","description":null,"enable_default_security":true,"id":"85980f88-4ece-42e0-b102-3bacb6409843","inbound_default_policy":"accept","modification_date":"2023-12-05T12:33:22.600565+00:00","name":"tf-sg-infallible-noyce","organization":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"outbound_default_policy":"accept","project":"105bdce1-64c0-48ab-899d-868455867ecf","project_default":false,"servers":[],"state":"syncing","stateful":true,"tags":["test-terraform"],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"rules":[{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"1.1.1.1/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"},{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"2.2.2.2/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"},{"id":null,"action":"drop","protocol":"ANY","direction":"inbound","ip_range":"3.3.3.3/32","dest_port_from":null,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/85980f88-4ece-42e0-b102-3bacb6409843/rules
    method: PUT
  response:
    body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"58909be7-d17c-4ac8-9eb3-23d5fc58abc5","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":465,"dest_port_to":null,"direction":"outbound","editable":false,"id":"25680235-108b-4bbc-8e25-114303d950bd","ip_range":"0.0.0.0/0","position":2,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"dest_port_from":587,"dest[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/85980f88-4ece-42e0-b102-3bacb6409843/rules?page=1
    method: GET
  response:
    body: '{"rules":[{"action":"drop","dest_ip_range":null,"dest_port_from":25,"dest_port_to":null,"direction":"outbound","editable":false,"id":"58909be7-d17c-4ac8-9eb3-23d5fc58abc5","ip_range":"0.0.0.0/0","position":1,"protocol":"TCP","zone":"fr-par-1"},{"action":"drop","dest_ip_range":null,"d[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/85980f88-4ece-42e0-b102-3bacb6409843
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_security_group","resource_id":"85980f88-4ece-42e0-b102-3bacb6409843","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
