---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vol-lucid-shannon\",\"project\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"volume_type\":\"scratch\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"46673d86-c393-4205-8112-e54064d54310\", \"name\": \"tf-vol-lucid-shannon\", \"volume_type\": \"scratch\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-12-05T13:09:36.607979+00:00\", \"modification_date\": \"2025-12-05T13:09:36.607979+00:00\", \"tags\": [], \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes/46673d86-c393-4205-8112-e54064d54310
    status: 201 Created
    code: 201
    duration: 286.433739ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes/46673d86-c393-4205-8112-e54064d54310
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"46673d86-c393-4205-8112-e54064d54310\", \"name\": \"tf-vol-lucid-shannon\", \"volume_type\": \"scratch\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-12-05T13:09:36.607979+00:00\", \"modification_date\": \"2025-12-05T13:09:36.607979+00:00\", \"tags\": [], \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 56.331603ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/products/servers?page=1
    method: GET
  response:
    body: "{\"servers\": {\"B300-SXM-8-288G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 224, \"ram\": 4123168604160, \"gpu\": 8, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"B300-SXM\", \"gpu_memory\": 309237645312}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 24000000000000, \"monthly_price\": 43800.0, \"hourly_price\": 60.0, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 16}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 5242880000, \"end_of_service\": false}, \"BASIC2-A16C-32G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 16, \"ram\": 34359738368, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 150.89, \"hourly_price\": 0.2067, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 1600000000, \"sum_internet_bandwidth\": 1600000000, \"interfaces\": [{\"internal_bandwidth\": 1600000000, \"internet_bandwidth\": 1600000000}]}, \"block_bandwidth\": 503316480, \"end_of_service\": false}, \"BASIC2-A16C-64G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 16, \"ram\": 68719476736, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 201.19, \"hourly_price\": 0.2756, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 1600000000, \"sum_internet_bandwidth\": 1600000000, \"interfaces\": [{\"internal_bandwidth\": 1600000000, \"internet_bandwidth\": 1600000000}]}, \"block_bandwidth\": 503316480, \"end_of_service\": false}, \"BASIC2-A2C-4G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 2, \"ram\": 4294967296, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 16.79, \"hourly_price\": 0.023, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 200000000, \"sum_internet_bandwidth\": 200000000, \"interfaces\": [{\"internal_bandwidth\": 200000000, \"internet_bandwidth\": 200000000}]}, \"block_bandwidth\": 83886080, \"end_of_service\": false}, \"BASIC2-A2C-8G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 2, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 25.19, \"hourly_price\": 0.0345, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 200000000, \"sum_internet_bandwidth\": 200000000, \"interfaces\": [{\"internal_bandwidth\": 200000000, \"internet_bandwidth\": 200000000}]}, \"block_bandwidth\": 83886080, \"end_of_service\": false}, \"BASIC2-A4C-16G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 4, \"ram\": 17179869184, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 50.3, \"hourly_price\": 0.0689, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 400000000, \"sum_internet_bandwidth\": 400000000, \"interfaces\": [{\"internal_bandwidth\": 400000000, \"internet_bandwidth\": 400000000}]}, \"block_bandwidth\": 125829120, \"end_of_service\": false}, \"BASIC2-A4C-8G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 4, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 37.74, \"hourly_price\": 0.0517, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 400000000, \"sum_internet_bandwidth\": 400000000, \"interfaces\": [{\"internal_bandwidth\": 400000000, \"internet_bandwidth\": 400000000}]}, \"block_bandwidth\": 125829120, \"end_of_service\": false}, \"BASIC2-A8C-16G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 8, \"ram\": 17179869184, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 75.48, \"hourly_price\": 0.1034, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 800000000, \"sum_internet_bandwidth\": 800000000, \"interfaces\": [{\"internal_bandwidth\": 800000000, \"internet_bandwidth\": 800000000}]}, \"block_bandwidth\": 251658240, \"end_of_service\": false}, \"BASIC2-A8C-32G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 8, \"ram\": 34359738368, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 100.59, \"hourly_price\": 0.1378, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 800000000, \"sum_internet_bandwidth\": 800000000, \"interfaces\": [{\"internal_bandwidth\": 800000000, \"internet_bandwidth\": 800000000}]}, \"block_bandwidth\": 251658240, \"end_of_service\": false}, \"COPARM1-16C-64G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 16, \"ram\": 68719476736, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 252.14, \"hourly_price\": 0.3454, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 1600000000, \"sum_internet_bandwidth\": 1600000000, \"interfaces\": [{\"internal_bandwidth\": 1600000000, \"internet_bandwidth\": 1600000000}]}, \"block_bandwidth\": 671088640, \"end_of_service\": false}, \"COPARM1-2C-8G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 2, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 31.1, \"hourly_price\": 0.0426, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 200000000, \"sum_internet_bandwidth\": 200000000, \"interfaces\": [{\"internal_bandwidth\": 200000000, \"internet_bandwidth\": 200000000}]}, \"block_bandwidth\": 83886080, \"end_of_service\": false}, \"COPARM1-32C-128G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 32, \"ram\": 137438953472, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 506.26, \"hourly_price\": 0.6935, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 3200000000, \"sum_internet_bandwidth\": 3200000000, \"interfaces\": [{\"internal_bandwidth\": 3200000000, \"internet_bandwidth\": 3200000000}]}, \"block_bandwidth\": 1342177280, \"end_of_service\": false}, \"COPARM1-4C-16G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 4, \"ram\": 17179869184, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 62.56, \"hourly_price\": 0.0857, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 400000000, \"sum_internet_bandwidth\": 400000000, \"interfaces\": [{\"internal_bandwidth\": 400000000, \"internet_bandwidth\": 400000000}]}, \"block_bandwidth\": 167772160, \"end_of_service\": false}, \"COPARM1-8C-32G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 8, \"ram\": 34359738368, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 125.85, \"hourly_price\": 0.1724, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 800000000, \"sum_internet_bandwidth\": 800000000, \"interfaces\": [{\"internal_bandwidth\": 800000000, \"internet_bandwidth\": 800000000}]}, \"block_bandwidth\": 335544320, \"end_of_service\": false}, \"DEV1-L\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 80000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 30.66, \"hourly_price\": 0.042, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 400000000, \"sum_internet_bandwidth\": 400000000, \"interfaces\": [{\"internal_bandwidth\": 400000000, \"internet_bandwidth\": 400000000}]}, \"block_bandwidth\": 209715200, \"end_of_service\": false}, \"DEV1-M\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 3, \"ram\": 4294967296, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 40000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 14.454, \"hourly_price\": 0.0198, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 300000000, \"sum_internet_bandwidth\": 300000000, \"interfaces\": [{\"internal_bandwidth\": 300000000, \"internet_bandwidth\": 300000000}]}, \"block_bandwidth\": 157286400, \"end_of_service\": false}, \"DEV1-S\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 2, \"ram\": 2147483648, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 20000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 6.424, \"hourly_price\": 0.0088, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 200000000, \"sum_internet_bandwidth\": 200000000, \"interfaces\": [{\"internal_bandwidth\": 200000000, \"internet_bandwidth\": 200000000}]}, \"block_bandwidth\": 104857600, \"end_of_service\": false}, \"DEV1-XL\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 12884901888, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 120000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 46.5734, \"hourly_price\": 0.06378, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 500000000, \"sum_internet_bandwidth\": 500000000, \"interfaces\": [{\"internal_bandwidth\": 500000000, \"internet_bandwidth\": 500000000}]}, \"block_bandwidth\": 262144000, \"end_of_service\": false}, \"GP1-L\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 32, \"ram\": 137438953472, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 600000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 554.07, \"hourly_price\": 0.759, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 5000000000, \"sum_internet_bandwidth\": 5000000000, \"interfaces\": [{\"internal_bandwidth\": 5000000000, \"internet_bandwidth\": 5000000000}]}, \"block_bandwidth\": 1073741824, \"end_of_service\": false}, \"GP1-M\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 16, \"ram\": 68719476736, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 600000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 274.48, \"hourly_price\": 0.376, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 1500000000, \"sum_internet_bandwidth\": 1500000000, \"interfaces\": [{\"internal_bandwidth\": 1500000000, \"internet_bandwidth\": 1500000000}]}, \"block_bandwidth\": 838860800, \"end_of_service\": false}, \"GP1-S\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 8, \"ram\": 34359738368, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 300000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 136.51, \"hourly_price\": 0.187, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 800000000, \"sum_internet_bandwidth\": 800000000, \"interfaces\": [{\"internal_bandwidth\": 800000000, \"internet_bandwidth\": 800000000}]}, \"block_bandwidth\": 524288000, \"end_of_service\": false}, \"GP1-XL\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 48, \"ram\": 274877906944, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 600000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 1197.93, \"hourly_price\": 1.641, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 10000000000, \"sum_internet_bandwidth\": 10000000000, \"interfaces\": [{\"internal_bandwidth\": 10000000000, \"internet_bandwidth\": 10000000000}]}, \"block_bandwidth\": 2147483648, \"end_of_service\": false}, \"GP1-XS\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 17179869184, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 150000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 66.43, \"hourly_price\": 0.091, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 500000000, \"sum_internet_bandwidth\": 500000000, \"interfaces\": [{\"internal_bandwidth\": 500000000, \"internet_bandwidth\": 500000000}]}, \"block_bandwidth\": 314572800, \"end_of_service\": false}, \"GPU-3070-S\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 8, \"ram\": 17179869184, \"gpu\": 1, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"RTX-3070\", \"gpu_memory\": 8589934592}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 715.4, \"hourly_price\": 0.98, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 2500000000, \"sum_internet_bandwidth\": 2500000000, \"interfaces\": [{\"internal_bandwidth\": 2500000000, \"internet_bandwidth\": 2500000000}]}, \"block_bandwidth\": 1048576000, \"end_of_service\": false}, \"H100-1-80G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 24, \"ram\": 257698037760, \"gpu\": 1, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"H100-PCIe\", \"gpu_memory\": 85899345920}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 3000000000000, \"monthly_price\": 1992.9, \"hourly_price\": 2.73, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 2}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 10000000000, \"sum_internet_bandwidth\": 10000000000, \"interfaces\": [{\"internal_bandwidth\": 10000000000, \"internet_bandwidth\": 10000000000}]}, \"block_bandwidth\": 2097152000, \"end_of_service\": false}, \"H100-1-M\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 24, \"ram\": 257698037760, \"gpu\": 1, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"H100-PCIe\", \"gpu_memory\": 85899345920}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 3000000000000, \"monthly_price\": 3066.0, \"hourly_price\": 4.2, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 2}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 10000000000, \"sum_internet_bandwidth\": 10000000000, \"interfaces\": [{\"internal_bandwidth\": 10000000000, \"internet_bandwidth\": 10000000000}]}, \"block_bandwidth\": 2097152000, \"end_of_service\": false}, \"H100-2-80G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 48, \"ram\": 515396075520, \"gpu\": 2, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"H100-PCIe\", \"gpu_memory\": 85899345920}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 6000000000000, \"monthly_price\": 3985.8, \"hourly_price\": 5.46, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 4}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 4194304000, \"end_of_service\": false}, \"H100-2-M\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 48, \"ram\": 515396075520, \"gpu\": 2, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"H100-PCIe\", \"gpu_memory\": 85899345920}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 6000000000000, \"monthly_price\": 6132.0, \"hourly_price\": 8.4, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 4}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 4194304000, \"end_of_service\": false}, \"H100-SXM-2-80G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 32, \"ram\": 257698037760, \"gpu\": 2, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"H100-SXM\", \"gpu_memory\": 85899345920}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 3200000000000, \"monthly_price\": 4393.14, \"hourly_price\": 6.018, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 4}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 5242880000, \"end_of_service\": false}, \"H100-SXM-4-80G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 64, \"ram\": 515396075520, \"gpu\": 4, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"H100-SXM\", \"gpu_memory\": 85899345920}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 6400000000000, \"monthly_price\": 8475.3, \"hourly_price\": 11.61, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 8}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 5242880000, \"end_of_service\": false}, \"H100-SXM-8-80G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 128, \"ram\": 1030792151040, \"gpu\": 8, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"H100-SXM\", \"gpu_memory\": 85899345920}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": 12800000000000, \"monthly_price\": 16810.44, \"hourly_price\": 23.028, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 16}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 5242880000, \"end_of_service\": false}, \"L4-1-24G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 8, \"ram\": 51539607552, \"gpu\": 1, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"L4\", \"gpu_memory\": 25769803776}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 547.5, \"hourly_price\": 0.75, \"capabilities\": {\"boot_types\":
[...]
