---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-epic-haslett","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:48:13.288145+00:00","export_uri":null,"id":"5e1283ae-2437-4b08-b0fc-32a6f9478ce5","modification_date":"2025-01-27T13:48:13.288145+00:00","name":"tf-vol-epic-haslett","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5e1283ae-2437-4b08-b0fc-32a6f9478ce5
        status: 201 Created
        code: 201
        duration: 204.810542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5e1283ae-2437-4b08-b0fc-32a6f9478ce5
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:48:13.288145+00:00","export_uri":null,"id":"5e1283ae-2437-4b08-b0fc-32a6f9478ce5","modification_date":"2025-01-27T13:48:13.288145+00:00","name":"tf-vol-epic-haslett","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.094584ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"first_name","volume_id":"5e1283ae-2437-4b08-b0fc-32a6f9478ce5","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"snapshot":{"base_volume":{"id":"5e1283ae-2437-4b08-b0fc-32a6f9478ce5","name":"tf-vol-epic-haslett"},"creation_date":"2025-01-27T13:48:13.662413+00:00","error_details":null,"id":"be7e7cdb-5800-473e-85c4-38f34cdc49e7","modification_date":"2025-01-27T13:48:13.662413+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"volume_snapshot","href_from":"/snapshots","href_result":"snapshots/be7e7cdb-5800-473e-85c4-38f34cdc49e7","id":"3ab6338f-1285-4247-bcf8-61174f6f3da1","progress":0,"started_at":"2025-01-27T13:48:13.865503+00:00","status":"pending","terminated_at":null,"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 491.656375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/be7e7cdb-5800-473e-85c4-38f34cdc49e7
        method: GET
      response:
        body: '{"snapshot":{"base_volume":{"id":"5e1283ae-2437-4b08-b0fc-32a6f9478ce5","name":"tf-vol-epic-haslett"},"creation_date":"2025-01-27T13:48:13.662413+00:00","error_details":null,"id":"be7e7cdb-5800-473e-85c4-38f34cdc49e7","modification_date":"2025-01-27T13:48:13.662413+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.224084ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/be7e7cdb-5800-473e-85c4-38f34cdc49e7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"be7e7cdb-5800-473e-85c4-38f34cdc49e7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 16.328874542s
[...]
