---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-gracious-williams","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:48:41.612199+00:00","export_uri":null,"id":"034967fa-95be-42e3-b2ed-844bdc6a69cf","modification_date":"2025-01-27T13:48:41.612199+00:00","name":"tf-vol-gracious-williams","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/034967fa-95be-42e3-b2ed-844bdc6a69cf
        status: 201 Created
        code: 201
        duration: 175.656125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/034967fa-95be-42e3-b2ed-844bdc6a69cf
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:48:41.612199+00:00","export_uri":null,"id":"034967fa-95be-42e3-b2ed-844bdc6a69cf","modification_date":"2025-01-27T13:48:41.612199+00:00","name":"tf-vol-gracious-williams","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.538958ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-snap-great-minsky","volume_id":"034967fa-95be-42e3-b2ed-844bdc6a69cf","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"snapshot":{"base_volume":{"id":"034967fa-95be-42e3-b2ed-844bdc6a69cf","name":"tf-vol-gracious-williams"},"creation_date":"2025-01-27T13:48:41.988267+00:00","error_details":null,"id":"b664fea9-b1eb-422b-9713-e6c4d15d10d8","modification_date":"2025-01-27T13:48:41.988267+00:00","name":"tf-snap-great-minsky","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"volume_snapshot","href_from":"/snapshots","href_result":"snapshots/b664fea9-b1eb-422b-9713-e6c4d15d10d8","id":"796f8cf3-edc8-4b7a-8f45-9accf2375c2b","progress":0,"started_at":"2025-01-27T13:48:42.156673+00:00","status":"pending","terminated_at":null,"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 457.436625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/b664fea9-b1eb-422b-9713-e6c4d15d10d8
        method: GET
      response:
        body: '{"snapshot":{"base_volume":{"id":"034967fa-95be-42e3-b2ed-844bdc6a69cf","name":"tf-vol-gracious-williams"},"creation_date":"2025-01-27T13:48:41.988267+00:00","error_details":null,"id":"b664fea9-b1eb-422b-9713-e6c4d15d10d8","modification_date":"2025-01-27T13:48:41.988267+00:00","name":"tf-snap-great-minsky","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.839958ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/b664fea9-b1eb-422b-9713-e6c4d15d10d8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"b664fea9-b1eb-422b-9713-e6c4d15d10d8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.032041ms
[...]
