---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/product-catalog/v2alpha1/public-catalog/products?page=1&product_types=instance&zone=fr-par-1
        method: GET
      response:
        body: '{"products":[{"description":"Compute POP2-2C-8G Instance - fr-par-1 (0.0735€ per hour)","environmental_impact_estimation":{"kg_co2_equivalent":0.0007349317,"m3_water_usage":4.8527312e-8},"locality":{"zone":"fr-par-1"},"price":{"retail_price":{"currency_code":"EUR","nanos":73500000,"units":0}},"product":"POP2-2C-8G","product_category":"Instance","properties":{"hardware":{"cpu":{"arch":"x64","description":"AMD EPYC™ 7543 (2.8 GHz), x64, vCPUs: 2","threads":2,"type":"AMD EPYC™ 7543 (2.8 GHz)","virtual":{"count":2}},"network":{"description":"Internal: 400 Mb/s, Public: 400 Mb/s","internal_bandwidth":400000000,"max_public_bandwidth":400000000,"public_bandwidth":400000000},"ram":{"description":"8 GiB","size":8589934592,"type":""},"storage":{"description":"Block","total":0}},"instance":{"offer_id":"POP2-2C-8G","range":"General Purpose","recommended_replacement_offer_ids":[]}},"service_category":"Compute","sku":"/compute/pop2_2c_8g/run_par1","status":"general_availability","unit_of_measure":{"size":1,"unit":"hour"},"variant":"Compute POP2-2C-8G Instance - fr-par-1"},{"description":"Compute POP2-2C-8G-WIN Instance - fr-par-1 (0.1823€ per hour)","environmental_impact_estimation":{"kg_co2_equivalent":0.0007820358,"m3_water_usage":5.2815658e-8},"locality":{"zone":"fr-par-1"},"price":{"retail_price":{"currency_code":"EUR","nanos":182300000,"units":0}},"product":"POP2-2C-8G-WIN","product_category":"Instance","properties":{"hardware":{"cpu":{"arch":"x64","description":"AMD EPYC™ 7543 (2.8 GHz), x64, vCPUs: 2","threads":2,"[...]
