---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
      product_types:
      - instance
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/product-catalog/v2alpha1/public-catalog/products?page=1&product_types=instance&zone=fr-par-1
    method: GET
  response:
    body: "{\"products\":[{\"sku\":\"/compute/pop2_2c_8g/run_par1\",\"service_category\":\"Compute\",\"product\":\"POP2-2C-8G Instance\",\"variant\":\"Compute POP2-2C-8G Instance - fr-par-1\",\"description\":\"Compute POP2-2C-8G Instance - fr-par-1 (0.0735€ per hour)\",\"locality\":{\"zone\":\"fr-par-1\"},\"price\":{\"retail_price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":73500000}},\"properties\":{\"hardware\":{\"cpu\":{\"description\":\"AMD EPYC™ 7543 (2.8 GHz), x64, vCPUs: 2\",\"arch\":\"x64\",\"type\":\"AMD EPYC™ 7543 (2.8 GHz)\",\"virtual\":{\"count\":2},\"threads\":2},\"ram\":{\"description\":\"8 GiB\",\"size\":8589934592,\"type\":\"\"},\"storage\":{\"description\":\"Block\",\"total\":0},\"network\":{\"description\":\"Internal: 400 Mb/s, Public: 400 Mb/s\",\"internal_bandwidth\":400000000,\"public_bandwidth\":400000000,\"max_public_bandwidth\":400000000}},\"instance\":{\"range\":\"General Purpose\",\"offer_id\":\"POP2-2C-8G\",\"recommended_replacement_offer_ids\":[]}},\"environmental_impact_estimation\":{\"kg_co2_equivalent\":0.000744193,\"m3_water_usage\":4.901215e-8},\"unit_of_measure\":{\"unit\":\"hour\",\"size\":1},\"status\":\"general_availability\"},{\"sku\":\"/compute/pop2_2c_8g_win/run_par1\",\"service_category\":\"Compute\",\"product\":\"POP2-2C-8G-WIN Instance\",\"variant\":\"Compute POP2-2C-8G-WIN Instance - fr-par-1\",\"description\":\"Compute POP2-2C-8G-WIN Instance - fr-par-1 (0.1823€ per hour)\",\"locality\":{\"zone\":\"fr-par-1\"},\"price\":{\"retail_price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":182300000}},\"properties\":{\"hardware\":{\"cpu\":{\"description\":\"AMD EPYC™ 7543 (2.8 GHz), x64, [...]
