---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            api_ids:
                - ENT1-S
            page:
                - "1"
            product_types:
                - instance
            zone:
                - fr-par-1
        headers:
        url: https://api.scaleway.com/product-catalog/v2alpha1/public-catalog/products?api_ids=ENT1-S&page=1&product_types=instance&zone=fr-par-1
        method: GET
      response:
        body: '{"products":[{"sku":"/compute/ent1_s/run_par1", "service_category":"Compute", "product_category":"Instance", "product":"ENT1-S Instance", "variant":"ENT1-S Instance - fr-par-1", "description":"ENT1-S Instance - fr-par-1 (0.29€ per hour)", "locality":{"zone":"fr-par-1"}, "price":{"retail_price":{"currency_code":"EUR", "units":0, "nanos":290000000}}, "properties":{"instance":{"range":"General Purpose", "offer_id":"ENT1-S", "recommended_replacement_offer_ids":["POP2-8C-32G"]}}, "unit_of_measure":{"unit":"hour", "size":1}, "status":"retired", "end_of_life_at":"2025-09-01T00:00:00Z", "badges":[]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.202404ms
