---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/product-catalog/v2alpha1/public-catalog/products?page=1&product_types=instance&zone=fr-par-1
        method: GET
      response:
        body: '{"products":[{"description":"Compute STARDUST1-S Instance - fr-par-1 (0.00015€ per hour)","environmental_impact_estimation":{"kg_co2_equivalent":0.0031653228,"m3_water_usage":3.9116887e-7},"locality":{"zone":"fr-par-1"},"price":{"retail_price":{"currency_code":"EUR","nanos":150000,"units":0}},"product":"STARDUST1-S Instance","properties":{"hardware":{"cpu":{"arch":"x64","description":"AMD EPYC™ 7281 (2.1 GHz) or equivalent, x64, vCPUs: 1","threads":1,"type":"AMD EPYC™ 7281 (2.1 GHz) or equivalent","virtual":{"count":1}},"network":{"description":"Internal: 100 Mb/s, Public: 100 Mb/s","internal_bandwidth":100000000,"max_public_bandwidth":100000000,"public_bandwidth":100000000},"ram":{"description":"1 GiB","size":1073741824,"type":""},"storage":{"description":"Dynamic local: 1 x SSD, Block","total":0}},"instance":{"offer_id":"STARDUST1-S","range":"Learning","recommended_replacement_offer_ids":[]}},"service_category":"Compute","sku":"/compute/stardust1_s/run_par1","status":"general_availability","unit_of_measure":{"size":1,"unit":"hour"},"variant":"Compute STARDUST1-S Instance - fr-par-1"},{"description":"Compute DEV1-S Instance - fr-par-1 (0.0088€ per hour)","environmental_impact_estimation":{"kg_co2_equivalent":0.0033552,"m3_water_usage":4.0862253e-7},"locality":{"zone":"fr-par-1"},"price":{"retail_price":{"currency_code":"EUR","nanos":8800000,"units":0}},"product":"DEV1-S Instance","properties":{"hardware":{"cpu":{"arch":"x64","description":"AMD EPYC™ 7281 (2.1 GHz) or equivalent, x64, vCPUs: 2","threads":2,"type":"AMD EPYC™ 7281 (2.1 [...]
