---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            product_types:
                - instance
            zone:
                - fr-par-1
        headers:
        url: https://api.scaleway.com/product-catalog/v2alpha1/public-catalog/products?page=1&product_types=instance&zone=fr-par-1
        method: GET
      response:
        body: '{"products":[{"sku":"/compute/vc1xl/run_par1", "service_category":"Compute", "product_category":"Instance", "product":"VC1-XL", "variant":"VC1-XL - fr-par-1", "description":"VC1-XL - fr-par-1 (0.35€ per hour)", "locality":{"zone":"fr-par-1"}, "price":{"retail_price":{"currency_code":"EUR", "units":0, "nanos":350000000}}, "properties":{"instance":{"range":"VC1", "offer_id":"VC1XL", "recommended_replacement_offer_ids":[]}}, "unit_of_measure":{"unit":"hour", "size":1}, "status":"retired", "badges":[]}, {"sku":"/compute/vc1xs/run_par1", "service_category":"Compute", "product_category":"Instance", "product":"VC1-XS", "variant":"VC1-XS - fr-par-1", "description":"VC1-XS - fr-par-1 (0.0165€ per hour)", "locality":{"zone":"fr-par-1"}, "price":{"retail_price":{"currency_code":"EUR", "units":0, "nanos":16500000}}, "properties":{"instance":{"range":"VC1", "offer_id":"VC1XS", "recommended_replacement_offer_ids":[]}}, "unit_of_measure":{"unit":"hour", "size":1}, "status":"retired", "badges":[]}, {"[...]
