---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-jolly-galois","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "fde8340c-6c3d-49f3-83c7-e37e8a1e65c8", "name": "tf-vol-jolly-galois", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-10-29T22:53:48.640566+00:00", "modification_date": "2025-10-29T22:53:48.640566+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fde8340c-6c3d-49f3-83c7-e37e8a1e65c8
        status: 201 Created
        code: 201
        duration: 253.350172ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fde8340c-6c3d-49f3-83c7-e37e8a1e65c8
        method: GET
      response:
        body: '{"volume": {"id": "fde8340c-6c3d-49f3-83c7-e37e8a1e65c8", "name": "tf-vol-jolly-galois", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-10-29T22:53:48.640566+00:00", "modification_date": "2025-10-29T22:53:48.640566+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.301292ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fde8340c-6c3d-49f3-83c7-e37e8a1e65c8
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "fde8340c-6c3d-49f3-83c7-e37e8a1e65c8"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.538941ms
