---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-hardcore-darwin","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "73762cf1-3751-4d9f-b797-15d4f9311da9", "name": "tf-vol-hardcore-darwin", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.171504+00:00", "modification_date": "2026-07-30T12:53:12.171504+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/73762cf1-3751-4d9f-b797-15d4f9311da9
        status: 201 Created
        code: 201
        duration: 310.75485ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/73762cf1-3751-4d9f-b797-15d4f9311da9
        method: GET
      response:
        body: '{"volume": {"id": "73762cf1-3751-4d9f-b797-15d4f9311da9", "name": "tf-vol-hardcore-darwin", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.171504+00:00", "modification_date": "2026-07-30T12:53:12.171504+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.007625ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/73762cf1-3751-4d9f-b797-15d4f9311da9
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "73762cf1-3751-4d9f-b797-15d4f9311da9"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.13368ms
