---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-goofy-davinci","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "e800803d-78f8-4a29-98c8-f5c78f6e5708", "name": "tf-vol-goofy-davinci", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.187968+00:00", "modification_date": "2026-07-30T12:53:12.187968+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e800803d-78f8-4a29-98c8-f5c78f6e5708
        status: 201 Created
        code: 201
        duration: 336.750756ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e800803d-78f8-4a29-98c8-f5c78f6e5708
        method: GET
      response:
        body: '{"volume": {"id": "e800803d-78f8-4a29-98c8-f5c78f6e5708", "name": "tf-vol-goofy-davinci", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.187968+00:00", "modification_date": "2026-07-30T12:53:12.187968+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.742388ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e800803d-78f8-4a29-98c8-f5c78f6e5708
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "e800803d-78f8-4a29-98c8-f5c78f6e5708"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.305476ms
