---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-peaceful-nash","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "c68df85e-7a16-43d1-99e7-ce3d738c32d9", "name": "tf-vol-peaceful-nash", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:39.329499+00:00", "modification_date": "2025-12-30T09:45:39.329499+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c68df85e-7a16-43d1-99e7-ce3d738c32d9
        status: 201 Created
        code: 201
        duration: 205.756886ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c68df85e-7a16-43d1-99e7-ce3d738c32d9
        method: GET
      response:
        body: '{"volume": {"id": "c68df85e-7a16-43d1-99e7-ce3d738c32d9", "name": "tf-vol-peaceful-nash", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:39.329499+00:00", "modification_date": "2025-12-30T09:45:39.329499+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.634241ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c68df85e-7a16-43d1-99e7-ce3d738c32d9
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "c68df85e-7a16-43d1-99e7-ce3d738c32d9"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.438909ms
