---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-nifty-keller","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "831f6ed9-57b4-4b61-86fc-eaa111045bdb", "name": "tf-vol-nifty-keller", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-05-12T16:50:50.605640+00:00", "modification_date": "2026-05-12T16:50:50.605640+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/831f6ed9-57b4-4b61-86fc-eaa111045bdb
        status: 201 Created
        code: 201
        duration: 239.153926ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/831f6ed9-57b4-4b61-86fc-eaa111045bdb
        method: GET
      response:
        body: '{"volume": {"id": "831f6ed9-57b4-4b61-86fc-eaa111045bdb", "name": "tf-vol-nifty-keller", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-05-12T16:50:50.605640+00:00", "modification_date": "2026-05-12T16:50:50.605640+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.416521ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/831f6ed9-57b4-4b61-86fc-eaa111045bdb
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "831f6ed9-57b4-4b61-86fc-eaa111045bdb"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.963494ms
