---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-serene-antonelli","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-10-15T15:04:24.370894+00:00","export_uri":null,"id":"06d5871f-9092-40a3-b244-82e7609434c9","modification_date":"2025-10-15T15:04:24.370894+00:00","name":"tf-vol-serene-antonelli","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/06d5871f-9092-40a3-b244-82e7609434c9
        status: 201 Created
        code: 201
        duration: 492.349885ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/06d5871f-9092-40a3-b244-82e7609434c9
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-10-15T15:04:24.370894+00:00","export_uri":null,"id":"06d5871f-9092-40a3-b244-82e7609434c9","modification_date":"2025-10-15T15:04:24.370894+00:00","name":"tf-vol-serene-antonelli","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.31815ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/06d5871f-9092-40a3-b244-82e7609434c9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"06d5871f-9092-40a3-b244-82e7609434c9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.426556ms
