---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-compassionate-lamarr","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "dc8e3f7b-cd95-4da0-be12-486e652f8fe1", "name": "tf-vol-compassionate-lamarr", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.499090+00:00", "modification_date": "2026-08-11T08:51:15.499090+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dc8e3f7b-cd95-4da0-be12-486e652f8fe1
        status: 201 Created
        code: 201
        duration: 280.024352ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dc8e3f7b-cd95-4da0-be12-486e652f8fe1
        method: GET
      response:
        body: '{"volume": {"id": "dc8e3f7b-cd95-4da0-be12-486e652f8fe1", "name": "tf-vol-compassionate-lamarr", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.499090+00:00", "modification_date": "2026-08-11T08:51:15.499090+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.896986ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dc8e3f7b-cd95-4da0-be12-486e652f8fe1
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "dc8e3f7b-cd95-4da0-be12-486e652f8fe1"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.67671ms
