---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-adoring-sutherland","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "a3f8d8de-3b17-4b01-b7e8-da5d689b6dd8", "name": "tf-vol-adoring-sutherland", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-06-23T09:42:05.988829+00:00", "modification_date": "2026-06-23T09:42:05.988829+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a3f8d8de-3b17-4b01-b7e8-da5d689b6dd8
        status: 201 Created
        code: 201
        duration: 322.151601ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a3f8d8de-3b17-4b01-b7e8-da5d689b6dd8
        method: GET
      response:
        body: '{"volume": {"id": "a3f8d8de-3b17-4b01-b7e8-da5d689b6dd8", "name": "tf-vol-adoring-sutherland", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-06-23T09:42:05.988829+00:00", "modification_date": "2026-06-23T09:42:05.988829+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.416359ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a3f8d8de-3b17-4b01-b7e8-da5d689b6dd8
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "a3f8d8de-3b17-4b01-b7e8-da5d689b6dd8"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.119135ms
