---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-hungry-elion","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "17f6aea8-da95-4cd2-aa8b-ca4a8cd52fc6", "name": "tf-vol-hungry-elion", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-06-23T09:42:02.455760+00:00", "modification_date": "2026-06-23T09:42:02.455760+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/17f6aea8-da95-4cd2-aa8b-ca4a8cd52fc6
        status: 201 Created
        code: 201
        duration: 291.229693ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/17f6aea8-da95-4cd2-aa8b-ca4a8cd52fc6
        method: GET
      response:
        body: '{"volume": {"id": "17f6aea8-da95-4cd2-aa8b-ca4a8cd52fc6", "name": "tf-vol-hungry-elion", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-06-23T09:42:02.455760+00:00", "modification_date": "2026-06-23T09:42:02.455760+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.727594ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/17f6aea8-da95-4cd2-aa8b-ca4a8cd52fc6
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "17f6aea8-da95-4cd2-aa8b-ca4a8cd52fc6"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.990692ms
