---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-sweet-blackwell","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:06.861630+00:00","export_uri":null,"id":"af4360ed-acc2-4a36-ab49-a5c302b14907","modification_date":"2025-06-10T15:30:06.861630+00:00","name":"tf-vol-sweet-blackwell","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/af4360ed-acc2-4a36-ab49-a5c302b14907
        status: 201 Created
        code: 201
        duration: 301.448835ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/af4360ed-acc2-4a36-ab49-a5c302b14907
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:06.861630+00:00","export_uri":null,"id":"af4360ed-acc2-4a36-ab49-a5c302b14907","modification_date":"2025-06-10T15:30:06.861630+00:00","name":"tf-vol-sweet-blackwell","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.045853ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/af4360ed-acc2-4a36-ab49-a5c302b14907
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"af4360ed-acc2-4a36-ab49-a5c302b14907","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 94.184275ms
