---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-strange-mayer","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "6c429e6c-5f12-4660-a8f0-28b004e7cc09", "name": "tf-vol-strange-mayer", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-26T13:39:39.205190+00:00", "modification_date": "2026-02-26T13:39:39.205190+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6c429e6c-5f12-4660-a8f0-28b004e7cc09
        status: 201 Created
        code: 201
        duration: 233.561776ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6c429e6c-5f12-4660-a8f0-28b004e7cc09
        method: GET
      response:
        body: '{"volume": {"id": "6c429e6c-5f12-4660-a8f0-28b004e7cc09", "name": "tf-vol-strange-mayer", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-26T13:39:39.205190+00:00", "modification_date": "2026-02-26T13:39:39.205190+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.707153ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6c429e6c-5f12-4660-a8f0-28b004e7cc09
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "6c429e6c-5f12-4660-a8f0-28b004e7cc09"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.165715ms
