---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-quirky-williamson","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:36.045630+00:00","export_uri":null,"id":"d159e992-eaeb-495c-82d4-88ade9b0a415","modification_date":"2025-01-27T13:47:36.045630+00:00","name":"tf-vol-quirky-williamson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d159e992-eaeb-495c-82d4-88ade9b0a415
        status: 201 Created
        code: 201
        duration: 190.561958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d159e992-eaeb-495c-82d4-88ade9b0a415
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:36.045630+00:00","export_uri":null,"id":"d159e992-eaeb-495c-82d4-88ade9b0a415","modification_date":"2025-01-27T13:47:36.045630+00:00","name":"tf-vol-quirky-williamson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.445417ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d159e992-eaeb-495c-82d4-88ade9b0a415
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"d159e992-eaeb-495c-82d4-88ade9b0a415","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.269625ms
