---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-vibrant-lichterman","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "47040080-b9e6-4e0d-8120-1b307b8802e4", "name": "tf-vol-vibrant-lichterman", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-26T13:39:39.351810+00:00", "modification_date": "2026-02-26T13:39:39.351810+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/47040080-b9e6-4e0d-8120-1b307b8802e4
        status: 201 Created
        code: 201
        duration: 312.032381ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/47040080-b9e6-4e0d-8120-1b307b8802e4
        method: GET
      response:
        body: '{"volume": {"id": "47040080-b9e6-4e0d-8120-1b307b8802e4", "name": "tf-vol-vibrant-lichterman", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-26T13:39:39.351810+00:00", "modification_date": "2026-02-26T13:39:39.351810+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.142184ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/47040080-b9e6-4e0d-8120-1b307b8802e4
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "47040080-b9e6-4e0d-8120-1b307b8802e4"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.07282ms
