---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-nervous-visvesvaraya","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "b933a06b-3a94-4ceb-bbdf-67d327865f1a", "name": "tf-vol-nervous-visvesvaraya", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-26T16:01:12.283969+00:00", "modification_date": "2026-02-26T16:01:12.283969+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b933a06b-3a94-4ceb-bbdf-67d327865f1a
        status: 201 Created
        code: 201
        duration: 276.50839ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b933a06b-3a94-4ceb-bbdf-67d327865f1a
        method: GET
      response:
        body: '{"volume": {"id": "b933a06b-3a94-4ceb-bbdf-67d327865f1a", "name": "tf-vol-nervous-visvesvaraya", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-26T16:01:12.283969+00:00", "modification_date": "2026-02-26T16:01:12.283969+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.35994ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b933a06b-3a94-4ceb-bbdf-67d327865f1a
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "b933a06b-3a94-4ceb-bbdf-67d327865f1a"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.761715ms
