---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-cool-taussig","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "2ce6a1e8-b128-4e52-b699-2ae02416f31c", "name": "tf-vol-cool-taussig", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.500145+00:00", "modification_date": "2026-08-11T08:51:15.500145+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2ce6a1e8-b128-4e52-b699-2ae02416f31c
        status: 201 Created
        code: 201
        duration: 292.263798ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2ce6a1e8-b128-4e52-b699-2ae02416f31c
        method: GET
      response:
        body: '{"volume": {"id": "2ce6a1e8-b128-4e52-b699-2ae02416f31c", "name": "tf-vol-cool-taussig", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.500145+00:00", "modification_date": "2026-08-11T08:51:15.500145+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.543816ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2ce6a1e8-b128-4e52-b699-2ae02416f31c
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "2ce6a1e8-b128-4e52-b699-2ae02416f31c"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.864704ms
