---
version: 2
interactions:
- request:
    body: '{"name":"tf-vol-adoring-gagarin","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.173586+00:00","export_uri":null,"id":"e8fc8afa-418e-4efe-905f-59055a10e905","modification_date":"2023-08-28T14:31:09.173586+00:00","name":"tf-vol-adoring-gagarin","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e8fc8afa-418e-4efe-905f-59055a10e905
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e8fc8afa-418e-4efe-905f-59055a10e905
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.173586+00:00","export_uri":null,"id":"e8fc8afa-418e-4efe-905f-59055a10e905","modification_date":"2023-08-28T14:31:09.173586+00:00","name":"tf-vol-adoring-gagarin","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e8fc8afa-418e-4efe-905f-59055a10e905
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"e8fc8afa-418e-4efe-905f-59055a10e905","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
