---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-relaxed-dhawan","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:19.224174+00:00","export_uri":null,"id":"09952c4e-1ca0-4cd8-899d-a7181a2047e8","modification_date":"2025-01-27T13:47:19.224174+00:00","name":"tf-vol-relaxed-dhawan","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/09952c4e-1ca0-4cd8-899d-a7181a2047e8
        status: 201 Created
        code: 201
        duration: 186.569209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/09952c4e-1ca0-4cd8-899d-a7181a2047e8
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:19.224174+00:00","export_uri":null,"id":"09952c4e-1ca0-4cd8-899d-a7181a2047e8","modification_date":"2025-01-27T13:47:19.224174+00:00","name":"tf-vol-relaxed-dhawan","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.578917ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/09952c4e-1ca0-4cd8-899d-a7181a2047e8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"09952c4e-1ca0-4cd8-899d-a7181a2047e8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.458667ms
