---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vol-tender-ritchie\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"volume_type\":\"l_ssd\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"259bbd85-be33-4c2d-ae5f-2959fa0069bd\", \"name\": \"tf-vol-tender-ritchie\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-04T12:38:31.269131+00:00\", \"modification_date\": \"2025-09-04T12:38:31.269131+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/259bbd85-be33-4c2d-ae5f-2959fa0069bd
    status: 201 Created
    code: 201
    duration: 188.846311ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/259bbd85-be33-4c2d-ae5f-2959fa0069bd
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"259bbd85-be33-4c2d-ae5f-2959fa0069bd\", \"name\": \"tf-vol-tender-ritchie\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-04T12:38:31.269131+00:00\", \"modification_date\": \"2025-09-04T12:38:31.269131+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.406895ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/259bbd85-be33-4c2d-ae5f-2959fa0069bd
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"259bbd85-be33-4c2d-ae5f-2959fa0069bd\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.738378ms
