---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-vigilant-kapitsa","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "2fc7ed25-e6a8-4378-a91a-74121949355d", "name": "tf-vol-vigilant-kapitsa", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.447026+00:00", "modification_date": "2026-08-11T08:51:15.447026+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2fc7ed25-e6a8-4378-a91a-74121949355d
        status: 201 Created
        code: 201
        duration: 359.483293ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2fc7ed25-e6a8-4378-a91a-74121949355d
        method: GET
      response:
        body: '{"volume": {"id": "2fc7ed25-e6a8-4378-a91a-74121949355d", "name": "tf-vol-vigilant-kapitsa", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-08-11T08:51:15.447026+00:00", "modification_date": "2026-08-11T08:51:15.447026+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.635163ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2fc7ed25-e6a8-4378-a91a-74121949355d
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "2fc7ed25-e6a8-4378-a91a-74121949355d"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.033249ms
