---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-gracious-pascal","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:11.227436+00:00","export_uri":null,"id":"dc4d84ea-898f-4160-9f64-6ece879cc380","modification_date":"2025-06-10T15:30:11.227436+00:00","name":"tf-vol-gracious-pascal","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dc4d84ea-898f-4160-9f64-6ece879cc380
        status: 201 Created
        code: 201
        duration: 290.379205ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dc4d84ea-898f-4160-9f64-6ece879cc380
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:11.227436+00:00","export_uri":null,"id":"dc4d84ea-898f-4160-9f64-6ece879cc380","modification_date":"2025-06-10T15:30:11.227436+00:00","name":"tf-vol-gracious-pascal","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.159503ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dc4d84ea-898f-4160-9f64-6ece879cc380
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"dc4d84ea-898f-4160-9f64-6ece879cc380","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 84.724815ms
