---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-relaxed-boyd","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:19.425289+00:00","export_uri":null,"id":"250b930d-1825-4b57-8c90-055cf525814d","modification_date":"2025-06-10T15:30:19.425289+00:00","name":"tf-vol-relaxed-boyd","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/250b930d-1825-4b57-8c90-055cf525814d
        status: 201 Created
        code: 201
        duration: 304.673502ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/250b930d-1825-4b57-8c90-055cf525814d
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:19.425289+00:00","export_uri":null,"id":"250b930d-1825-4b57-8c90-055cf525814d","modification_date":"2025-06-10T15:30:19.425289+00:00","name":"tf-vol-relaxed-boyd","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.126787ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/250b930d-1825-4b57-8c90-055cf525814d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"250b930d-1825-4b57-8c90-055cf525814d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 76.48436ms
