---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-silly-knuth","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "1ef0158c-c2d0-4c7a-97ba-805744763564", "name": "tf-vol-silly-knuth", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:40.089593+00:00", "modification_date": "2025-12-30T09:45:40.089593+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1ef0158c-c2d0-4c7a-97ba-805744763564
        status: 201 Created
        code: 201
        duration: 141.579066ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1ef0158c-c2d0-4c7a-97ba-805744763564
        method: GET
      response:
        body: '{"volume": {"id": "1ef0158c-c2d0-4c7a-97ba-805744763564", "name": "tf-vol-silly-knuth", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:40.089593+00:00", "modification_date": "2025-12-30T09:45:40.089593+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.889717ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1ef0158c-c2d0-4c7a-97ba-805744763564
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "1ef0158c-c2d0-4c7a-97ba-805744763564"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.101376ms
