---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-gifted-mendel","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:15.569594+00:00","export_uri":null,"id":"2d416161-771d-4684-ae3a-d5c3e2fbcb2f","modification_date":"2025-06-10T15:30:15.569594+00:00","name":"tf-vol-gifted-mendel","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d416161-771d-4684-ae3a-d5c3e2fbcb2f
        status: 201 Created
        code: 201
        duration: 325.474293ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d416161-771d-4684-ae3a-d5c3e2fbcb2f
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-06-10T15:30:15.569594+00:00","export_uri":null,"id":"2d416161-771d-4684-ae3a-d5c3e2fbcb2f","modification_date":"2025-06-10T15:30:15.569594+00:00","name":"tf-vol-gifted-mendel","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.370159ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d416161-771d-4684-ae3a-d5c3e2fbcb2f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"2d416161-771d-4684-ae3a-d5c3e2fbcb2f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.856884ms
