---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vol-elegant-lamarr\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[\"test-terraform\"],\"volume_type\":\"l_ssd\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"4c7f25c5-7aef-4d2e-bc5d-d05d2638cec6\", \"name\": \"tf-vol-elegant-lamarr\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-04T12:38:32.101899+00:00\", \"modification_date\": \"2025-09-04T12:38:32.101899+00:00\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4c7f25c5-7aef-4d2e-bc5d-d05d2638cec6
    status: 201 Created
    code: 201
    duration: 273.235777ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4c7f25c5-7aef-4d2e-bc5d-d05d2638cec6
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"4c7f25c5-7aef-4d2e-bc5d-d05d2638cec6\", \"name\": \"tf-vol-elegant-lamarr\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-04T12:38:32.101899+00:00\", \"modification_date\": \"2025-09-04T12:38:32.101899+00:00\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.473151ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4c7f25c5-7aef-4d2e-bc5d-d05d2638cec6
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"4c7f25c5-7aef-4d2e-bc5d-d05d2638cec6\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 188.536218ms
