---
version: 2
interactions:
- request:
    body: '{"name":"tf-vol-vigilant-tereshkova","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"scratch","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-09-06T11:38:51.980736+00:00","export_uri":null,"id":"6af48311-3c75-4a87-91e3-a0d7b5eaf4b1","modification_date":"2023-09-06T11:38:51.980736+00:00","name":"tf-vol-vigilant-tereshkova","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6af48311-3c75-4a87-91e3-a0d7b5eaf4b1
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6af48311-3c75-4a87-91e3-a0d7b5eaf4b1
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-09-06T11:38:51.980736+00:00","export_uri":null,"id":"6af48311-3c75-4a87-91e3-a0d7b5eaf4b1","modification_date":"2023-09-06T11:38:51.980736+00:00","name":"tf-vol-vigilant-tereshkova","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6af48311-3c75-4a87-91e3-a0d7b5eaf4b1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"6af48311-3c75-4a87-91e3-a0d7b5eaf4b1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
