---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-dreamy-hertz","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "29c4f39e-424a-4b11-a2a3-6dadf2d626bf", "name": "tf-vol-dreamy-hertz", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:37.788167+00:00", "modification_date": "2025-12-30T09:45:37.788167+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/29c4f39e-424a-4b11-a2a3-6dadf2d626bf
        status: 201 Created
        code: 201
        duration: 197.469606ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/29c4f39e-424a-4b11-a2a3-6dadf2d626bf
        method: GET
      response:
        body: '{"volume": {"id": "29c4f39e-424a-4b11-a2a3-6dadf2d626bf", "name": "tf-vol-dreamy-hertz", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:37.788167+00:00", "modification_date": "2025-12-30T09:45:37.788167+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.455889ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/29c4f39e-424a-4b11-a2a3-6dadf2d626bf
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "29c4f39e-424a-4b11-a2a3-6dadf2d626bf"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.309098ms
