---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-naughty-ishizaka","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "6a4589f0-87e1-402d-9067-bd8dcbbb0a95", "name": "tf-vol-naughty-ishizaka", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:38.400432+00:00", "modification_date": "2025-12-30T09:45:38.400432+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6a4589f0-87e1-402d-9067-bd8dcbbb0a95
        status: 201 Created
        code: 201
        duration: 285.281416ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6a4589f0-87e1-402d-9067-bd8dcbbb0a95
        method: GET
      response:
        body: '{"volume": {"id": "6a4589f0-87e1-402d-9067-bd8dcbbb0a95", "name": "tf-vol-naughty-ishizaka", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-12-30T09:45:38.400432+00:00", "modification_date": "2025-12-30T09:45:38.400432+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.676063ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6a4589f0-87e1-402d-9067-bd8dcbbb0a95
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "6a4589f0-87e1-402d-9067-bd8dcbbb0a95"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.939783ms
