---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vol-wizardly-lumiere\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[\"test-terraform\"],\"volume_type\":\"l_ssd\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"79e0c108-8971-46d1-a59c-3cc0de0b970d\", \"name\": \"tf-vol-wizardly-lumiere\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-10-30T15:42:33.140808+00:00\", \"modification_date\": \"2025-10-30T15:42:33.140808+00:00\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/79e0c108-8971-46d1-a59c-3cc0de0b970d
    status: 201 Created
    code: 201
    duration: 214.228835ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/79e0c108-8971-46d1-a59c-3cc0de0b970d
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"79e0c108-8971-46d1-a59c-3cc0de0b970d\", \"name\": \"tf-vol-wizardly-lumiere\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-10-30T15:42:33.140808+00:00\", \"modification_date\": \"2025-10-30T15:42:33.140808+00:00\", \"tags\": [\"test-terraform\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.582069ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/79e0c108-8971-46d1-a59c-3cc0de0b970d
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"79e0c108-8971-46d1-a59c-3cc0de0b970d\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 34.450161ms
