---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-tender-mendel","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:33.653169+00:00","export_uri":null,"id":"2b2b046a-de9e-4b0b-8bbd-b75608d03782","modification_date":"2025-01-27T13:47:33.653169+00:00","name":"tf-vol-tender-mendel","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2b2b046a-de9e-4b0b-8bbd-b75608d03782
        status: 201 Created
        code: 201
        duration: 254.590875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2b2b046a-de9e-4b0b-8bbd-b75608d03782
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:33.653169+00:00","export_uri":null,"id":"2b2b046a-de9e-4b0b-8bbd-b75608d03782","modification_date":"2025-01-27T13:47:33.653169+00:00","name":"tf-vol-tender-mendel","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.126334ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2b2b046a-de9e-4b0b-8bbd-b75608d03782
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"2b2b046a-de9e-4b0b-8bbd-b75608d03782","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.479084ms
