---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-naughty-cray","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:22.907115+00:00","export_uri":null,"id":"bbd5b57a-999b-472c-9b60-5385aed4e835","modification_date":"2025-01-27T13:47:22.907115+00:00","name":"tf-vol-naughty-cray","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/bbd5b57a-999b-472c-9b60-5385aed4e835
        status: 201 Created
        code: 201
        duration: 213.678459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/bbd5b57a-999b-472c-9b60-5385aed4e835
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:22.907115+00:00","export_uri":null,"id":"bbd5b57a-999b-472c-9b60-5385aed4e835","modification_date":"2025-01-27T13:47:22.907115+00:00","name":"tf-vol-naughty-cray","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.637334ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/bbd5b57a-999b-472c-9b60-5385aed4e835
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"bbd5b57a-999b-472c-9b60-5385aed4e835","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.99825ms
