---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vol-gracious-rhodes\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"volume_type\":\"scratch\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"e01e55db-883f-4cc0-8cce-8c2c89275e6b\", \"name\": \"tf-vol-gracious-rhodes\", \"volume_type\": \"scratch\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-10-30T15:41:46.907263+00:00\", \"modification_date\": \"2025-10-30T15:41:46.907263+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e01e55db-883f-4cc0-8cce-8c2c89275e6b
    status: 201 Created
    code: 201
    duration: 228.063783ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e01e55db-883f-4cc0-8cce-8c2c89275e6b
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"e01e55db-883f-4cc0-8cce-8c2c89275e6b\", \"name\": \"tf-vol-gracious-rhodes\", \"volume_type\": \"scratch\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-10-30T15:41:46.907263+00:00\", \"modification_date\": \"2025-10-30T15:41:46.907263+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.14469ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e01e55db-883f-4cc0-8cce-8c2c89275e6b
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"e01e55db-883f-4cc0-8cce-8c2c89275e6b\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.848977ms
