---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-objective-golick","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "e37c13e0-a2ce-4d4a-b452-a0d2d101297c", "name": "tf-vol-objective-golick", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-05-12T16:50:48.164029+00:00", "modification_date": "2026-05-12T16:50:48.164029+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e37c13e0-a2ce-4d4a-b452-a0d2d101297c
        status: 201 Created
        code: 201
        duration: 190.02167ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e37c13e0-a2ce-4d4a-b452-a0d2d101297c
        method: GET
      response:
        body: '{"volume": {"id": "e37c13e0-a2ce-4d4a-b452-a0d2d101297c", "name": "tf-vol-objective-golick", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-05-12T16:50:48.164029+00:00", "modification_date": "2026-05-12T16:50:48.164029+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.307666ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e37c13e0-a2ce-4d4a-b452-a0d2d101297c
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "e37c13e0-a2ce-4d4a-b452-a0d2d101297c"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.665478ms
