---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vol-intelligent-fermat\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"volume_type\":\"scratch\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"7b3554b0-5fe4-4728-91f2-b31ed3565335\", \"name\": \"tf-vol-intelligent-fermat\", \"volume_type\": \"scratch\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-04T12:38:27.583658+00:00\", \"modification_date\": \"2025-09-04T12:38:27.583658+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7b3554b0-5fe4-4728-91f2-b31ed3565335
    status: 201 Created
    code: 201
    duration: 264.782937ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7b3554b0-5fe4-4728-91f2-b31ed3565335
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"7b3554b0-5fe4-4728-91f2-b31ed3565335\", \"name\": \"tf-vol-intelligent-fermat\", \"volume_type\": \"scratch\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-04T12:38:27.583658+00:00\", \"modification_date\": \"2025-09-04T12:38:27.583658+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.371913ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7b3554b0-5fe4-4728-91f2-b31ed3565335
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"7b3554b0-5fe4-4728-91f2-b31ed3565335\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 54.331738ms
