---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-awesome-wilson","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-10-15T15:03:53.308883+00:00","export_uri":null,"id":"53449c04-3c85-4341-89e3-d5391d6189c5","modification_date":"2025-10-15T15:03:53.308883+00:00","name":"tf-vol-awesome-wilson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/53449c04-3c85-4341-89e3-d5391d6189c5
        status: 201 Created
        code: 201
        duration: 204.663279ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/53449c04-3c85-4341-89e3-d5391d6189c5
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-10-15T15:03:53.308883+00:00","export_uri":null,"id":"53449c04-3c85-4341-89e3-d5391d6189c5","modification_date":"2025-10-15T15:03:53.308883+00:00","name":"tf-vol-awesome-wilson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"scratch","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.459664ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/53449c04-3c85-4341-89e3-d5391d6189c5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"53449c04-3c85-4341-89e3-d5391d6189c5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.252457ms
