---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-gifted-lumiere","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"scratch","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "8507ac19-b7d2-457e-9214-e7e67bdad351", "name": "tf-vol-gifted-lumiere", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-06-23T09:40:12.997808+00:00", "modification_date": "2026-06-23T09:40:12.997808+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8507ac19-b7d2-457e-9214-e7e67bdad351
        status: 201 Created
        code: 201
        duration: 356.750014ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8507ac19-b7d2-457e-9214-e7e67bdad351
        method: GET
      response:
        body: '{"volume": {"id": "8507ac19-b7d2-457e-9214-e7e67bdad351", "name": "tf-vol-gifted-lumiere", "volume_type": "scratch", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-06-23T09:40:12.997808+00:00", "modification_date": "2026-06-23T09:40:12.997808+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 706.755774ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8507ac19-b7d2-457e-9214-e7e67bdad351
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "8507ac19-b7d2-457e-9214-e7e67bdad351"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.208564ms
