---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-dazzling-merkle","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "ea1bd480-11fc-49d0-98d7-80d8ee417440", "name": "tf-vol-dazzling-merkle", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.179364+00:00", "modification_date": "2026-07-30T12:53:12.179364+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ea1bd480-11fc-49d0-98d7-80d8ee417440
        status: 201 Created
        code: 201
        duration: 382.997753ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ea1bd480-11fc-49d0-98d7-80d8ee417440
        method: GET
      response:
        body: '{"volume": {"id": "ea1bd480-11fc-49d0-98d7-80d8ee417440", "name": "tf-vol-dazzling-merkle", "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-07-30T12:53:12.179364+00:00", "modification_date": "2026-07-30T12:53:12.179364+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.197111ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ea1bd480-11fc-49d0-98d7-80d8ee417440
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "ea1bd480-11fc-49d0-98d7-80d8ee417440"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.408572ms
