---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-relaxed-williamson","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:20.870872+00:00","export_uri":null,"id":"d7ddf5cf-c722-4fa0-97dc-dc8bd7d39620","modification_date":"2025-01-27T13:47:20.870872+00:00","name":"tf-vol-relaxed-williamson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d7ddf5cf-c722-4fa0-97dc-dc8bd7d39620
        status: 201 Created
        code: 201
        duration: 203.630542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d7ddf5cf-c722-4fa0-97dc-dc8bd7d39620
        method: GET
      response:
        body: '{"volume":{"creation_date":"2025-01-27T13:47:20.870872+00:00","export_uri":null,"id":"d7ddf5cf-c722-4fa0-97dc-dc8bd7d39620","modification_date":"2025-01-27T13:47:20.870872+00:00","name":"tf-vol-relaxed-williamson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.988667ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d7ddf5cf-c722-4fa0-97dc-dc8bd7d39620
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"d7ddf5cf-c722-4fa0-97dc-dc8bd7d39620","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.077041ms
