---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-19T13:33:01.625593Z","enabled":false,"id":"b3772922-7562-4921-9863-37a30bdf9b0d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:01.625593Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.855965ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/b3772922-7562-4921-9863-37a30bdf9b0d
        method: GET
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-19T13:33:01.625593Z","enabled":false,"id":"b3772922-7562-4921-9863-37a30bdf9b0d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:01.625593Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.644777ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/b3772922-7562-4921-9863-37a30bdf9b0d
        method: GET
      response:
        body: '{"message":"Budget b3772922-7562-4921-9863-37a30bdf9b0d not found","resource":"Budget","resource_id":"b3772922-7562-4921-9863-37a30bdf9b0d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 214.253301ms
