---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:18:59.541407Z","enabled":false,"id":"2675d609-6c4b-4fc7-9032-3002af62c699","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:18:59.541407Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.407598ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"2675d609-6c4b-4fc7-9032-3002af62c699","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-24T15:18:59.774330Z","id":"649589db-484f-4116-a1f5-13bc5445c5bb","notifications":[],"threshold":80,"updated_at":"2026-06-24T15:18:59.774330Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.406471ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-24T15:18:59.774330Z","id":"649589db-484f-4116-a1f5-13bc5445c5bb","notifications":[],"threshold":80,"updated_at":"2026-06-24T15:18:59.774330Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:18:59.541407Z","enabled":false,"id":"2675d609-6c4b-4fc7-9032-3002af62c699","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:18:59.541407Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.394985ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/2675d609-6c4b-4fc7-9032-3002af62c699
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-24T15:18:59.774330Z","id":"649589db-484f-4116-a1f5-13bc5445c5bb","notifications":[],"threshold":80,"updated_at":"2026-06-24T15:18:59.774330Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:18:59.541407Z","enabled":false,"id":"2675d609-6c4b-4fc7-9032-3002af62c699","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:18:59.541407Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.553198ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-24T15:18:59.774330Z","id":"649589db-484f-4116-a1f5-13bc5445c5bb","notifications":[],"threshold":80,"updated_at":"2026-06-24T15:18:59.774330Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:18:59.541407Z","enabled":false,"id":"2675d609-6c4b-4fc7-9032-3002af62c699","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:18:59.541407Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.340942ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/649589db-484f-4116-a1f5-13bc5445c5bb
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 210.196683ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/2675d609-6c4b-4fc7-9032-3002af62c699
        method: GET
      response:
        body: '{"message":"Budget 2675d609-6c4b-4fc7-9032-3002af62c699 not found","resource":"Budget","resource_id":"2675d609-6c4b-4fc7-9032-3002af62c699","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 179.296174ms
[...]
