---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:06.622017Z","enabled":false,"id":"ca0751a2-4856-4d59-9e6a-23b44abfbf2a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:06.622017Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.318426ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"ca0751a2-4856-4d59-9e6a-23b44abfbf2a","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:06.902625Z","id":"6d3915a2-28e1-4230-8526-30696bf26f1a","notifications":[],"threshold":80,"updated_at":"2026-06-30T16:25:06.902625Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.829267ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"budget_alert_id":"6d3915a2-28e1-4230-8526-30696bf26f1a","sms_phone_numbers":["+33612345678"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:07.027283Z","id":"d0cecb96-6625-4c2c-9534-59cff3d22a10","recipients":["+33612345678"],"type":"sms","updated_at":"2026-06-30T16:25:07.027283Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.312854ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:25:06.902625Z","id":"6d3915a2-28e1-4230-8526-30696bf26f1a","notifications":[{"created_at":"2026-06-30T16:25:07.027283Z","id":"d0cecb96-6625-4c2c-9534-59cff3d22a10","recipients":["+33612345678"],"type":"sms","updated_at":"2026-06-30T16:25:07.027283Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:06.902625Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:06.622017Z","enabled":false,"id":"ca0751a2-4856-4d59-9e6a-23b44abfbf2a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:06.622017Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.232405ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/ca0751a2-4856-4d59-9e6a-23b44abfbf2a
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-30T16:25:06.902625Z","id":"6d3915a2-28e1-4230-8526-30696bf26f1a","notifications":[{"created_at":"2026-06-30T16:25:07.027283Z","id":"d0cecb96-6625-4c2c-9534-59cff3d22a10","recipients":["+33612345678"],"type":"sms","updated_at":"2026-06-30T16:25:07.027283Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:06.902625Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:06.622017Z","enabled":false,"id":"ca0751a2-4856-4d59-9e6a-23b44abfbf2a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:06.622017Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.948975ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:25:06.902625Z","id":"6d3915a2-28e1-4230-8526-30696bf26f1a","notifications":[{"created_at":"2026-06-30T16:25:07.027283Z","id":"d0cecb96-6625-4c2c-9534-59cff3d22a10","recipients":["+33612345678"],"type":"sms","updated_at":"2026-06-30T16:25:07.027283Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:06.902625Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:06.622017Z","enabled":false,"id":"ca0751a2-4856-4d59-9e6a-23b44abfbf2a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:06.622017Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.027021ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications/d0cecb96-6625-4c2c-9534-59cff3d22a10
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 243.41394ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/6d3915a2-28e1-4230-8526-30696bf26f1a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 98.741799ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/ca0751a2-4856-4d59-9e6a-23b44abfbf2a
        method: GET
      response:
        body: '{"message":"Budget ca0751a2-4856-4d59-9e6a-23b44abfbf2a not found","resource":"Budget","resource_id":"ca0751a2-4856-4d59-9e6a-23b44abfbf2a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 232.915363ms
[...]
