---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-19T13:32:56.931924Z","enabled":false,"id":"eea8d011-04b2-4cc3-8bb2-39b18baa0a29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:32:56.931924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 556.362746ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/eea8d011-04b2-4cc3-8bb2-39b18baa0a29
        method: GET
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-19T13:32:56.931924Z","enabled":false,"id":"eea8d011-04b2-4cc3-8bb2-39b18baa0a29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:32:56.931924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 504.645388ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/eea8d011-04b2-4cc3-8bb2-39b18baa0a29
        method: GET
      response:
        body: '{"message":"Budget eea8d011-04b2-4cc3-8bb2-39b18baa0a29 not found","resource":"Budget","resource_id":"eea8d011-04b2-4cc3-8bb2-39b18baa0a29","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 376.250563ms
