---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:03.569330Z","enabled":false,"id":"eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:03.569330Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.309186ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9","threshold":50}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-24T15:19:03.791902Z","id":"02019f82-1e2d-42f1-995e-9924c1124ddc","notifications":[],"threshold":50,"updated_at":"2026-06-24T15:19:03.791902Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.482585ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-24T15:19:03.791902Z","id":"02019f82-1e2d-42f1-995e-9924c1124ddc","notifications":[],"threshold":50,"updated_at":"2026-06-24T15:19:03.791902Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:03.569330Z","enabled":false,"id":"eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:03.569330Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 489.052914ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-24T15:19:03.791902Z","id":"02019f82-1e2d-42f1-995e-9924c1124ddc","notifications":[],"threshold":50,"updated_at":"2026-06-24T15:19:03.791902Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:03.569330Z","enabled":false,"id":"eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:03.569330Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.831341ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-24T15:19:03.791902Z","id":"02019f82-1e2d-42f1-995e-9924c1124ddc","notifications":[],"threshold":50,"updated_at":"2026-06-24T15:19:03.791902Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:03.569330Z","enabled":false,"id":"eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:03.569330Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.804937ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"threshold":90}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts/02019f82-1e2d-42f1-995e-9924c1124ddc
        method: PATCH
      response:
        body: '{"created_at":"2026-06-24T15:19:03.791902Z","id":"02019f82-1e2d-42f1-995e-9924c1124ddc","notifications":[],"threshold":90,"updated_at":"2026-06-24T15:19:06.027577Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.058596ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9
        method: GET
      response:
        body: '{"message":"Budget eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9 not found","resource":"Budget","resource_id":"eb7f1d39-f8d4-4b0e-81f7-19b9dac27da9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 215.253313ms
[...]
