---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:24:51.694095Z","enabled":false,"id":"618e5238-c38c-4a66-9b49-52456559337a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:24:51.694095Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.222388ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"618e5238-c38c-4a66-9b49-52456559337a","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:24:51.942818Z","id":"929bb5f6-03aa-4e96-996f-30aac02cb65b","notifications":[],"threshold":80,"updated_at":"2026-06-30T16:24:51.942818Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.788848ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"budget_alert_id":"929bb5f6-03aa-4e96-996f-30aac02cb65b","email_addresses":["alerts@example.com"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:24:52.199440Z","id":"b8de6d04-8c1f-4d3c-87a8-e6154f4906c3","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:24:52.199440Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.35049ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:24:51.942818Z","id":"929bb5f6-03aa-4e96-996f-30aac02cb65b","notifications":[{"created_at":"2026-06-30T16:24:52.199440Z","id":"b8de6d04-8c1f-4d3c-87a8-e6154f4906c3","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:24:52.199440Z"}],"threshold":80,"updated_at":"2026-06-30T16:24:51.942818Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:24:51.694095Z","enabled":false,"id":"618e5238-c38c-4a66-9b49-52456559337a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:24:51.694095Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.464427ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/618e5238-c38c-4a66-9b49-52456559337a
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-30T16:24:51.942818Z","id":"929bb5f6-03aa-4e96-996f-30aac02cb65b","notifications":[{"created_at":"2026-06-30T16:24:52.199440Z","id":"b8de6d04-8c1f-4d3c-87a8-e6154f4906c3","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:24:52.199440Z"}],"threshold":80,"updated_at":"2026-06-30T16:24:51.942818Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:24:51.694095Z","enabled":false,"id":"618e5238-c38c-4a66-9b49-52456559337a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:24:51.694095Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.036086ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:24:51.942818Z","id":"929bb5f6-03aa-4e96-996f-30aac02cb65b","notifications":[{"created_at":"2026-06-30T16:24:52.199440Z","id":"b8de6d04-8c1f-4d3c-87a8-e6154f4906c3","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:24:52.199440Z"}],"threshold":80,"updated_at":"2026-06-30T16:24:51.942818Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:24:51.694095Z","enabled":false,"id":"618e5238-c38c-4a66-9b49-52456559337a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:24:51.694095Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.849164ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications/b8de6d04-8c1f-4d3c-87a8-e6154f4906c3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 389.088856ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/929bb5f6-03aa-4e96-996f-30aac02cb65b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 206.568628ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/618e5238-c38c-4a66-9b49-52456559337a
        method: GET
      response:
        body: '{"message":"Budget 618e5238-c38c-4a66-9b49-52456559337a not found","resource":"Budget","resource_id":"618e5238-c38c-4a66-9b49-52456559337a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 249.653835ms
[...]
