---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:08.800189Z","enabled":false,"id":"f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:08.800189Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.793373ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75","threshold":75}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-24T15:19:08.897626Z","id":"3729639c-9757-4b5d-8248-efd73f6c615d","notifications":[],"threshold":75,"updated_at":"2026-06-24T15:19:08.897626Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.27797ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-24T15:19:08.897626Z","id":"3729639c-9757-4b5d-8248-efd73f6c615d","notifications":[],"threshold":75,"updated_at":"2026-06-24T15:19:08.897626Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:08.800189Z","enabled":false,"id":"f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:08.800189Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.436123ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-24T15:19:08.897626Z","id":"3729639c-9757-4b5d-8248-efd73f6c615d","notifications":[],"threshold":75,"updated_at":"2026-06-24T15:19:08.897626Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:08.800189Z","enabled":false,"id":"f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:08.800189Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.171764ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-24T15:19:08.897626Z","id":"3729639c-9757-4b5d-8248-efd73f6c615d","notifications":[],"threshold":75,"updated_at":"2026-06-24T15:19:08.897626Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-24T15:19:08.800189Z","enabled":false,"id":"f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-24T15:19:08.800189Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.037139ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/3729639c-9757-4b5d-8248-efd73f6c615d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 68.529423ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75
        method: GET
      response:
        body: '{"message":"Budget f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75 not found","resource":"Budget","resource_id":"f70eb0ea-8d3b-4e9e-804f-eb7cfe502f75","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 226.096324ms
[...]
