---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:20.799308Z","enabled":false,"id":"dd601096-a4fd-4927-87df-c9147028ed80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:20.799308Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.11973ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"dd601096-a4fd-4927-87df-c9147028ed80","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:21.009331Z","id":"14668f93-0845-479f-8c7c-010c05df0e9b","notifications":[],"threshold":80,"updated_at":"2026-06-30T16:25:21.009331Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.51145ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"budget_alert_id":"14668f93-0845-479f-8c7c-010c05df0e9b","webhook_urls":["https://example.com/webhook"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:21.232594Z","id":"98f5a1c1-e7d2-41a7-a714-c4bd21363cb6","recipients":["https://example.com/webhook"],"type":"webhook","updated_at":"2026-06-30T16:25:21.232594Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.290354ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:25:21.009331Z","id":"14668f93-0845-479f-8c7c-010c05df0e9b","notifications":[{"created_at":"2026-06-30T16:25:21.232594Z","id":"98f5a1c1-e7d2-41a7-a714-c4bd21363cb6","recipients":["https://example.com/webhook"],"type":"webhook","updated_at":"2026-06-30T16:25:21.232594Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:21.009331Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:20.799308Z","enabled":false,"id":"dd601096-a4fd-4927-87df-c9147028ed80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:20.799308Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.936106ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/dd601096-a4fd-4927-87df-c9147028ed80
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-30T16:25:21.009331Z","id":"14668f93-0845-479f-8c7c-010c05df0e9b","notifications":[{"created_at":"2026-06-30T16:25:21.232594Z","id":"98f5a1c1-e7d2-41a7-a714-c4bd21363cb6","recipients":["https://example.com/webhook"],"type":"webhook","updated_at":"2026-06-30T16:25:21.232594Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:21.009331Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:20.799308Z","enabled":false,"id":"dd601096-a4fd-4927-87df-c9147028ed80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:20.799308Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.464312ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:25:21.009331Z","id":"14668f93-0845-479f-8c7c-010c05df0e9b","notifications":[{"created_at":"2026-06-30T16:25:21.232594Z","id":"98f5a1c1-e7d2-41a7-a714-c4bd21363cb6","recipients":["https://example.com/webhook"],"type":"webhook","updated_at":"2026-06-30T16:25:21.232594Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:21.009331Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:20.799308Z","enabled":false,"id":"dd601096-a4fd-4927-87df-c9147028ed80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:20.799308Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.63476ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications/98f5a1c1-e7d2-41a7-a714-c4bd21363cb6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 212.308592ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/14668f93-0845-479f-8c7c-010c05df0e9b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 235.039589ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/dd601096-a4fd-4927-87df-c9147028ed80
        method: GET
      response:
        body: '{"message":"Budget dd601096-a4fd-4927-87df-c9147028ed80 not found","resource":"Budget","resource_id":"dd601096-a4fd-4927-87df-c9147028ed80","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.447945ms
[...]
