---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:34.488205Z","enabled":false,"id":"0a91c9a7-8823-4969-8557-390377e85158","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:34.488205Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 364.437335ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"0a91c9a7-8823-4969-8557-390377e85158","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:34.777420Z","id":"3c28986a-7e5b-4562-8ddb-ca4caf85e4d5","notifications":[],"threshold":80,"updated_at":"2026-06-30T16:25:34.777420Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.531368ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"budget_alert_id":"3c28986a-7e5b-4562-8ddb-ca4caf85e4d5","email_addresses":["alerts@example.com"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:34.898142Z","id":"8752e843-c44f-4cb8-882b-64fb289fae9d","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:25:34.898142Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.182786ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:25:34.777420Z","id":"3c28986a-7e5b-4562-8ddb-ca4caf85e4d5","notifications":[{"created_at":"2026-06-30T16:25:34.898142Z","id":"8752e843-c44f-4cb8-882b-64fb289fae9d","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:25:34.898142Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:34.777420Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:34.488205Z","enabled":false,"id":"0a91c9a7-8823-4969-8557-390377e85158","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:34.488205Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.251902ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/0a91c9a7-8823-4969-8557-390377e85158
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-30T16:25:34.777420Z","id":"3c28986a-7e5b-4562-8ddb-ca4caf85e4d5","notifications":[{"created_at":"2026-06-30T16:25:34.898142Z","id":"8752e843-c44f-4cb8-882b-64fb289fae9d","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:25:34.898142Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:34.777420Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:34.488205Z","enabled":false,"id":"0a91c9a7-8823-4969-8557-390377e85158","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:34.488205Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.85886ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:25:34.777420Z","id":"3c28986a-7e5b-4562-8ddb-ca4caf85e4d5","notifications":[{"created_at":"2026-06-30T16:25:34.898142Z","id":"8752e843-c44f-4cb8-882b-64fb289fae9d","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:25:34.898142Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:34.777420Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:34.488205Z","enabled":false,"id":"0a91c9a7-8823-4969-8557-390377e85158","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:34.488205Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.264241ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"email_addresses":["alerts@example.com","billing@example.com"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications/8752e843-c44f-4cb8-882b-64fb289fae9d
        method: PATCH
      response:
        body: '{"created_at":"2026-06-30T16:25:34.898142Z","id":"8752e843-c44f-4cb8-882b-64fb289fae9d","recipients":["alerts@example.com","billing@example.com"],"type":"email","updated_at":"2026-06-30T16:25:37.793867Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.293449ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/3c28986a-7e5b-4562-8ddb-ca4caf85e4d5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 92.26388ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/0a91c9a7-8823-4969-8557-390377e85158
        method: GET
      response:
        body: '{"message":"Budget 0a91c9a7-8823-4969-8557-390377e85158 not found","resource":"Budget","resource_id":"0a91c9a7-8823-4969-8557-390377e85158","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 272.236947ms
[...]
