---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":15000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":15000},"created_at":"2026-06-19T13:33:05.807026Z","enabled":false,"id":"113773c3-c935-431d-8dc5-6cb9ecf54eb1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:05.807026Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.939561ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/113773c3-c935-431d-8dc5-6cb9ecf54eb1
        method: GET
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":15000},"created_at":"2026-06-19T13:33:05.807026Z","enabled":false,"id":"113773c3-c935-431d-8dc5-6cb9ecf54eb1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:05.807026Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.097324ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/113773c3-c935-431d-8dc5-6cb9ecf54eb1
        method: GET
      response:
        body: '{"message":"Budget 113773c3-c935-431d-8dc5-6cb9ecf54eb1 not found","resource":"Budget","resource_id":"113773c3-c935-431d-8dc5-6cb9ecf54eb1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.375412ms
