---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-09-08T07:48:25.005139Z","enabled":false,"id":"fac4c399-c20b-4e19-9d76-3a711034b412","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-09-08T07:48:25.005139Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 398.530167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"fac4c399-c20b-4e19-9d76-3a711034b412","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-09-08T07:48:25.343537Z","id":"e6e9d2f5-9a19-4f6f-945c-9bdd3bdcaa0a","notifications":[],"threshold":80,"updated_at":"2026-09-08T07:48:25.343537Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 443.041336ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-09-08T07:48:25.343537Z","id":"e6e9d2f5-9a19-4f6f-945c-9bdd3bdcaa0a","notifications":[],"threshold":80,"updated_at":"2026-09-08T07:48:25.343537Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-09-08T07:48:25.005139Z","enabled":false,"id":"fac4c399-c20b-4e19-9d76-3a711034b412","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-09-08T07:48:25.005139Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 373.058466ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/fac4c399-c20b-4e19-9d76-3a711034b412
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-09-08T07:48:25.343537Z","id":"e6e9d2f5-9a19-4f6f-945c-9bdd3bdcaa0a","notifications":[],"threshold":80,"updated_at":"2026-09-08T07:48:25.343537Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-09-08T07:48:25.005139Z","enabled":false,"id":"fac4c399-c20b-4e19-9d76-3a711034b412","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-09-08T07:48:25.005139Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 553.445381ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-09-08T07:48:25.343537Z","id":"e6e9d2f5-9a19-4f6f-945c-9bdd3bdcaa0a","notifications":[],"threshold":80,"updated_at":"2026-09-08T07:48:25.343537Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-09-08T07:48:25.005139Z","enabled":false,"id":"fac4c399-c20b-4e19-9d76-3a711034b412","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-09-08T07:48:25.005139Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 329.013162ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/e6e9d2f5-9a19-4f6f-945c-9bdd3bdcaa0a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 264.989723ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/fac4c399-c20b-4e19-9d76-3a711034b412
        method: GET
      response:
        body: '{"message":"Budget fac4c399-c20b-4e19-9d76-3a711034b412 not found","resource":"Budget","resource_id":"fac4c399-c20b-4e19-9d76-3a711034b412","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 251.154699ms
[...]
