---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2beta1/consumptions?order_by=updated_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"consumptions":[{"billed_quantity":"22","category_name":"Containers","product_name":"Kapsule-dedicated-4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","resource_name":"Kapsule Dedicated Control-Plane S - FR-PAR","sku":"/k8s/control-plane/kapsule-dedicated-4/fr-par","unit":"minute","value":{"currency_code":"EUR","nanos":420000000,"units":2}},{"billed_quantity":"1841","category_name":"Managed Databases","product_name":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","resource_name":"Database main node RED1-XS - FR-PAR-1","sku":"/storage/redis/main-node/RED1-XS/fr-par-1","unit":"node_minute","value":{"currency_code":"EUR","nanos":920000000,"units":252}},{"billed_quantity":"44","category_name":"Compute","product_name":"Dynamic IP","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","resource_name":"Dynamic IP","sku":"/[...]
[...]
