---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - updated_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/billing/v2beta1/consumptions?order_by=updated_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"consumptions\":[{\"value\":{\"currency_code\":\"EUR\",\"units\":2,\"nanos\":860000000},\"product_name\":\"Kapsule-dedicated-4\",\"resource_name\":\"Kapsule Dedicated Control-Plane S - FR-PAR\",\"sku\":\"/k8s/control-plane/kapsule-dedicated-4/fr-par\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"category_name\":\"Containers\",\"unit\":\"minute\",\"billed_quantity\":\"26\"},{\"value\":{\"currency_code\":\"EUR\",\"units\":638,\"nanos\":930000000},\"product_name\":\"RED1-XS\",\"resource_name\":\"Database main node RED1-XS - FR-PAR-1\",\"sku\":\"/storage/redis/main-node/RED1-XS/fr-par-1\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"category_name\":\"Managed Databases\",\"unit\":\"node_minute\",\"billed_quantity\":\"4659\"},{\"value\":{\"currency_code\":\"EUR\",\"units\":1,\"nanos\":560000000},\"product_name\":\"Database Node DB-DEV-S\",\"resource[...]
[...]
