---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:59.473105Z","enabled":false,"id":"f4445bc5-d1ed-4684-94ae-bb95a1cfcfee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:59.473105Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.723368ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"f4445bc5-d1ed-4684-94ae-bb95a1cfcfee","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:59.732595Z","id":"21810335-b7b7-4c4a-8ff0-9e5ece985750","notifications":[],"threshold":80,"updated_at":"2026-06-30T16:25:59.732595Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.164223ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"budget_alert_id":"21810335-b7b7-4c4a-8ff0-9e5ece985750","email_addresses":["alerts@example.com"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:25:59.848730Z","id":"3aebc617-3f50-44d2-8b8e-bed054a71c3e","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:25:59.848730Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.86067ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:25:59.732595Z","id":"21810335-b7b7-4c4a-8ff0-9e5ece985750","notifications":[{"created_at":"2026-06-30T16:25:59.848730Z","id":"3aebc617-3f50-44d2-8b8e-bed054a71c3e","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:25:59.848730Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:59.732595Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:59.473105Z","enabled":false,"id":"f4445bc5-d1ed-4684-94ae-bb95a1cfcfee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:59.473105Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.387129ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/f4445bc5-d1ed-4684-94ae-bb95a1cfcfee
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-30T16:25:59.732595Z","id":"21810335-b7b7-4c4a-8ff0-9e5ece985750","notifications":[{"created_at":"2026-06-30T16:25:59.848730Z","id":"3aebc617-3f50-44d2-8b8e-bed054a71c3e","recipients":["alerts@example.com"],"type":"email","updated_at":"2026-06-30T16:25:59.848730Z"}],"threshold":80,"updated_at":"2026-06-30T16:25:59.732595Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:25:59.473105Z","enabled":false,"id":"f4445bc5-d1ed-4684-94ae-bb95a1cfcfee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:25:59.473105Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.537453ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications/3aebc617-3f50-44d2-8b8e-bed054a71c3e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 138.940489ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/21810335-b7b7-4c4a-8ff0-9e5ece985750
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 115.505979ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/f4445bc5-d1ed-4684-94ae-bb95a1cfcfee
        method: GET
      response:
        body: '{"message":"Budget f4445bc5-d1ed-4684-94ae-bb95a1cfcfee not found","resource":"Budget","resource_id":"f4445bc5-d1ed-4684-94ae-bb95a1cfcfee","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 207.825947ms
[...]
