---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:26:13.418912Z","enabled":false,"id":"653f3533-ff42-42d9-999c-33853444ef06","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:26:13.418912Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.300315ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/653f3533-ff42-42d9-999c-33853444ef06
        method: GET
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:26:13.418912Z","enabled":false,"id":"653f3533-ff42-42d9-999c-33853444ef06","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:26:13.418912Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.130827ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"budget_id":"653f3533-ff42-42d9-999c-33853444ef06","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:26:14.697360Z","id":"8b4f2c31-ac34-48c5-99c4-55233060012c","notifications":[],"threshold":80,"updated_at":"2026-06-30T16:26:14.697360Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.165847ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"budget_alert_id":"8b4f2c31-ac34-48c5-99c4-55233060012c","sms_phone_numbers":["+33612345678"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications
        method: POST
      response:
        body: '{"created_at":"2026-06-30T16:26:14.907783Z","id":"e08e3012-40b0-4093-bb6f-59b08439a232","recipients":["+33612345678"],"type":"sms","updated_at":"2026-06-30T16:26:14.907783Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.275579ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-30T16:26:14.697360Z","id":"8b4f2c31-ac34-48c5-99c4-55233060012c","notifications":[{"created_at":"2026-06-30T16:26:14.907783Z","id":"e08e3012-40b0-4093-bb6f-59b08439a232","recipients":["+33612345678"],"type":"sms","updated_at":"2026-06-30T16:26:14.907783Z"}],"threshold":80,"updated_at":"2026-06-30T16:26:14.697360Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-30T16:26:13.418912Z","enabled":false,"id":"653f3533-ff42-42d9-999c-33853444ef06","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-30T16:26:13.418912Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.258356ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alert-notifications/e08e3012-40b0-4093-bb6f-59b08439a232
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 300.820139ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/8b4f2c31-ac34-48c5-99c4-55233060012c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 211.283676ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/653f3533-ff42-42d9-999c-33853444ef06
        method: GET
      response:
        body: '{"message":"Budget 653f3533-ff42-42d9-999c-33853444ef06 not found","resource":"Budget","resource_id":"653f3533-ff42-42d9-999c-33853444ef06","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 207.351943ms
[...]
