---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      invoice_type:
      - unknown_type
      order_by:
      - invoice_number_desc
    headers:
    url: https://api.scaleway.com/billing/v2beta1/invoices?invoice_type=unknown_type&order_by=invoice_number_desc
    method: GET
  response:
    body: "{\"invoices\":[{\"id\":\"53ae4c9f-a7a6-4fb0-b8b8-3c83890a0ee9\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"organization_name\":\"terraform-provider-scaleway\",\"start_date\":\"2025-07-01T00:00:00Z\",\"stop_date\":\"2025-07-31T23:59:59.999999Z\",\"billing_period\":\"2025-07-01T00:00:00Z\",\"issued_date\":\"2025-08-01T11:09:39.922721Z\",\"due_date\":\"2025-08-11T23:59:59.999999Z\",\"total_untaxed\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":0},\"total_taxed\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":0},\"total_tax\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":0},\"total_discount\":{\"currency_code\":\"EUR\",\"units\":-5911,\"nanos\":-170000000},\"total_undiscount\":{\"currency_code\":\"EUR\",\"units\":5911,\"nanos\":170000000},\"type\":\"periodic\",\"state\":\"paid\",\"number\":2950910,\"seller_name\":\"Scaleway SAS\"},{\"id\":\"8d04bdc9-c7ed-418b-ab15-ebf3300274b6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"organization_name\":\"terraform-provider-scaleway\",\"start_date\":\"2025-06-01T00:00:00Z\",\"stop_date\":\"2025-06-30T23:59:59.999999Z\",\"billing_period\":\"2025-06-01T00:00:00Z\",\"issued_date\":\"2025-07-01T15:22:49.351935Z\",\"due_date\":\"2025-07-11T23:59:59.999999Z\",\"total_untaxed\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":0},\"total_taxed\":{\"curren[...]
[...]
