---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:20.049882Z","enabled":false,"id":"68237644-6cf6-4660-9418-c7bb912d60dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:20.049882Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.553065ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"68237644-6cf6-4660-9418-c7bb912d60dd","threshold":80}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-25T07:42:20.323178Z","id":"8c3a6033-74b2-463c-a7b8-7643fae6438a","notifications":[],"threshold":80,"updated_at":"2026-06-25T07:42:20.323178Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.36157ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-25T07:42:20.323178Z","id":"8c3a6033-74b2-463c-a7b8-7643fae6438a","notifications":[],"threshold":80,"updated_at":"2026-06-25T07:42:20.323178Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:20.049882Z","enabled":false,"id":"68237644-6cf6-4660-9418-c7bb912d60dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:20.049882Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.145299ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/68237644-6cf6-4660-9418-c7bb912d60dd
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-25T07:42:20.323178Z","id":"8c3a6033-74b2-463c-a7b8-7643fae6438a","notifications":[],"threshold":80,"updated_at":"2026-06-25T07:42:20.323178Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:20.049882Z","enabled":false,"id":"68237644-6cf6-4660-9418-c7bb912d60dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:20.049882Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.5494ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-25T07:42:20.323178Z","id":"8c3a6033-74b2-463c-a7b8-7643fae6438a","notifications":[],"threshold":80,"updated_at":"2026-06-25T07:42:20.323178Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:20.049882Z","enabled":false,"id":"68237644-6cf6-4660-9418-c7bb912d60dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:20.049882Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.846174ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/8c3a6033-74b2-463c-a7b8-7643fae6438a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 238.721424ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/68237644-6cf6-4660-9418-c7bb912d60dd
        method: GET
      response:
        body: '{"message":"Budget 68237644-6cf6-4660-9418-c7bb912d60dd not found","resource":"Budget","resource_id":"68237644-6cf6-4660-9418-c7bb912d60dd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 203.347058ms
[...]
