---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/00000000-0000-0000-0000-000000000000
        method: GET
      response:
        body: '{"message":"Budget 00000000-0000-0000-0000-000000000000 not found","resource":"Budget","resource_id":"00000000-0000-0000-0000-000000000000","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 182.75975ms
