---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2beta1/invoices?invoice_type=unknown_type&order_by=invoice_number_desc
        method: GET
      response:
        body: '{"invoices":[{"billing_period":"2024-12-01T00:00:00Z","due_date":"2025-01-12T23:59:59.999999Z","id":"4dea1dad-a88c-4f6d-b0e3-dd2b47e32a9d","issued_date":"2025-01-02T10:52:19.973944Z","number":2774773,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_name":"terraform-provider-scaleway","seller_name":"Scaleway SAS","start_date":"2024-12-01T00:00:00Z","state":"paid","stop_date":"2024-12-31T23:59:59.999999Z","total_discount":{"currency_code":"EUR","nanos":-380000000,"units":-4661},"total_tax":{"currency_code":"EUR","nanos":0,"units":0},"total_taxed":{"currency_code":"EUR","nanos":0,"units":0},"total_undiscount":{"currency_code":"EUR","nanos":380000000,"units":4661},"total_untaxed":{"currency_code":"EUR","nanos":0,"units":0},"type":"periodic"},{"billing_period":"2024-11-01T00:00:00Z","due_date":"2024-12-12T23:59:59.999999Z","id":"d71b2d7e-8caf-4141-9a4c-74b9f6eb3299","issued_date":"2024-12-02T11:54:50.712722Z","number":2732128,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_name":"terraform-provider-scaleway","seller_name":"Scaleway SAS","start_date":"2024-11-01T00:00:00Z","state":"paid","stop_date":"2024-11-30T23:59:59.999999Z","total_discount":{"currency_code":"EUR","nanos":-350000000,"units":-4705[...]
[...]
