---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":15000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":15000},"created_at":"2026-06-19T13:33:19.605157Z","enabled":false,"id":"d3e19207-7919-47ce-85a2-bb9cc22b9fc5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:19.605157Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.955631ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/d3e19207-7919-47ce-85a2-bb9cc22b9fc5
        method: GET
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":15000},"created_at":"2026-06-19T13:33:19.605157Z","enabled":false,"id":"d3e19207-7919-47ce-85a2-bb9cc22b9fc5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:19.605157Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.397325ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/d3e19207-7919-47ce-85a2-bb9cc22b9fc5
        method: GET
      response:
        body: '{"message":"Budget d3e19207-7919-47ce-85a2-bb9cc22b9fc5 not found","resource":"Budget","resource_id":"d3e19207-7919-47ce-85a2-bb9cc22b9fc5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 132.967811ms
[...]
