---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-19T13:33:16.614201Z","enabled":false,"id":"0aec180b-ba66-4f5e-8e88-368a2b89b89d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:16.614201Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.825741ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/0aec180b-ba66-4f5e-8e88-368a2b89b89d
        method: GET
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-19T13:33:16.614201Z","enabled":false,"id":"0aec180b-ba66-4f5e-8e88-368a2b89b89d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-19T13:33:16.614201Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.642605ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/0aec180b-ba66-4f5e-8e88-368a2b89b89d
        method: GET
      response:
        body: '{"message":"Budget 0aec180b-ba66-4f5e-8e88-368a2b89b89d not found","resource":"Budget","resource_id":"0aec180b-ba66-4f5e-8e88-368a2b89b89d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 238.760078ms
[...]
