---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","consumption_limit":10000,"enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budgets
        method: POST
      response:
        body: '{"alerts":[],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:24.118442Z","enabled":false,"id":"97319c7f-0830-436b-8a38-ebafc55548a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:24.118442Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.343622ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"budget_id":"97319c7f-0830-436b-8a38-ebafc55548a7","threshold":75}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/billing/v2/budget-alerts
        method: POST
      response:
        body: '{"created_at":"2026-06-25T07:42:24.350927Z","id":"811a1f7c-4359-4781-8f29-a318c7237644","notifications":[],"threshold":75,"updated_at":"2026-06-25T07:42:24.350927Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.414679ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-25T07:42:24.350927Z","id":"811a1f7c-4359-4781-8f29-a318c7237644","notifications":[],"threshold":75,"updated_at":"2026-06-25T07:42:24.350927Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:24.118442Z","enabled":false,"id":"97319c7f-0830-436b-8a38-ebafc55548a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:24.118442Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.41462ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/97319c7f-0830-436b-8a38-ebafc55548a7
        method: GET
      response:
        body: '{"alerts":[{"created_at":"2026-06-25T07:42:24.350927Z","id":"811a1f7c-4359-4781-8f29-a318c7237644","notifications":[],"threshold":75,"updated_at":"2026-06-25T07:42:24.350927Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:24.118442Z","enabled":false,"id":"97319c7f-0830-436b-8a38-ebafc55548a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:24.118442Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.059887ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets?organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"budgets":[{"alerts":[{"created_at":"2026-06-25T07:42:24.350927Z","id":"811a1f7c-4359-4781-8f29-a318c7237644","notifications":[],"threshold":75,"updated_at":"2026-06-25T07:42:24.350927Z"}],"consumption_limit":{"currency_code":"","nanos":0,"units":10000},"created_at":"2026-06-25T07:42:24.118442Z","enabled":false,"id":"97319c7f-0830-436b-8a38-ebafc55548a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2026-06-25T07:42:24.118442Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.267813ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budget-alerts/811a1f7c-4359-4781-8f29-a318c7237644
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 222.208293ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/billing/v2/budgets/97319c7f-0830-436b-8a38-ebafc55548a7
        method: GET
      response:
        body: '{"message":"Budget 97319c7f-0830-436b-8a38-ebafc55548a7 not found","resource":"Budget","resource_id":"97319c7f-0830-436b-8a38-ebafc55548a7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 196.613873ms
[...]
