interactions:
    - id: 0
      request:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-dsid-5368703374676931499","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
      response:
        body: '{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-dsid-5368703374676931499", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:50:52Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}'
        code: 200
        duration: 650.861292ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        form:
            dns_zone:
                - tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com&domain=&order_by=domain_asc
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-dsid-5368703374676931499", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:50:53Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        code: 200
        duration: 205.898459ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
      response:
        body: '{"id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:50:53.405491Z", "updated_at":"2026-09-21T11:50:53.405491Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 224.554958ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/fab5b2cc-7452-4057-ad8b-2b10ce3871dc
      response:
        body: '{"id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:50:53.405491Z", "updated_at":"2026-09-21T11:50:53.405491Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 147.7915ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/fab5b2cc-7452-4057-ad8b-2b10ce3871dc/records
      response:
        body: '{"autoconfig":{"id":"6d367669-7e93-4185-8cb6-18fa31d8b3e5", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:55.610458Z", "updated_at":"2026-09-21T11:50:55.610458Z"}, "autodiscover":{"id":"f30cb1be-9977-452a-bc6f-de9adf0659f5", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:55.691243Z", "updated_at":"2026-09-21T11:50:55.691243Z"}, "caldav":{"id":"ddf4a354-387b-4f3f-b3ad-0edb5a041516", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:55.185256Z", "updated_at":"2026-09-21T11:50:55.185256Z"}, "carddav":{"id":"dc8b2c8d-54ce-44ff-8ea6-16ca71ebac5c", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:55.270997Z", "updated_at":"2026-09-21T11:50:55.270997Z"}, "dkim":{"id":"e3181c04-9778-4ee8-b21b-a95ee0ec067f", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAx5HWs5IbdkKVopF/k8DlYaBPRtvAL/evku7MIcIHgcfYlgGg49q/mQUOVXwI6klPjGQ9ZM1j+DBmCdyJsvJrLBevlPZyZrWSk8ft0KRVQRXmA+xvue+I+MR0ovuIgw4VMV7mdSXSdBV2luVyVhXtQgIc0kOtfxOq9vaVqSPVeOgXSE7+9kPCRkbfvZXqtHf+tGhFnT9RfPa7Gkl/PWUuKnCPFIUhmPf0NMidwoMO5jEj7ZzKaOzzi4PeN+TLwcNg2xAU7XkXqVjH8K3TEO8YEz9V9w1NpGZnzPjeIIJyyHu547CnVJ4BEZo8X/n5BsAXWDho8+PKbPQ9Xkbmxe5XmwIDAQAB", "created_at":"2026-09-21T11:50:54.584841Z", "updated_at":"2026-09-21T11:50:54.584841Z"}, "dmarc":{"id":"36a78f9e-e18d-4e2e-b6eb-8c499312f205", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:50:54.790380Z", "updated_at":"2026-09-21T11:50:54.790380Z"}, "domain_validation":{"id":"20700c45-3cb3-4efe-9e03-df51a11d0dd8", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"scaleway-mailbox=c5eafc60-d228-435e-96ee-891501ab2037", "created_at":"2026-09-21T11:50:53.691800Z", "updated_at":"2026-09-21T11:50:53.691800Z"}, "imap":{"id":"7ceedf22-624b-4709-bc65-42d37eee675d", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:55.357818Z", "updated_at":"2026-09-21T11:50:55.357818Z"}, "mx":{"id":"466d2be8-bc9c-4366-b3b8-c71556dd2df7", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:54.951808Z", "updated_at":"2026-09-21T11:50:54.951808Z"}, "pop3":{"id":"9b1bb52b-738a-4f60-89f0-b07a9b232493", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:55.444860Z", "updated_at":"2026-09-21T11:50:55.444860Z"}, "spf":{"id":"ed26ecaa-d938-4a9b-a4ea-3bd0d9b653af", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:50:53.871096Z", "updated_at":"2026-09-21T11:50:53.871096Z"}, "submission":{"id":"7c7488eb-f51e-4582-84c3-ae3f96c3287a", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:50:55.529480Z", "updated_at":"2026-09-21T11:50:55.529480Z"}}'
        code: 200
        duration: 49.516416ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=c5eafc60-d228-435e-96ee-891501ab2037","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAx5HWs5IbdkKVopF/k8DlYaBPRtvAL/evku7MIcIHgcfYlgGg49q/mQUOVXwI6klPjGQ9ZM1j+DBmCdyJsvJrLBevlPZyZrWSk8ft0KRVQRXmA+xvue+I+MR0ovuIgw4VMV7mdSXSdBV2luVyVhXtQgIc0kOtfxOq9vaVqSPVeOgXSE7+9kPCRkbfvZXqtHf+tGhFnT9RfPa7Gkl/PWUuKnCPFIUhmPf0NMidwoMO5jEj7ZzKaOzzi4PeN+TLwcNg2xAU7XkXqVjH8K3TEO8YEz9V9w1NpGZnzPjeIIJyyHu547CnVJ4BEZo8X/n5BsAXWDho8+PKbPQ9Xkbmxe5XmwIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com/records
      response:
        body: '{"records":[{"id":"5affb60f-17b0-4d75-8780-59cb01efae9e", "data":"\"scaleway-mailbox=c5eafc60-d228-435e-96ee-891501ab2037\"", "name":"", "priority":0, "ttl":3600, "type":"TXT", "comment":null, "upda[...]
    - id: 7
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/fab5b2cc-7452-4057-ad8b-2b10ce3871dc/validate-records
      response:
        body: ""
        code: 204
        duration: 167.512792ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
[...]
    - id: 23
      request:
        body: '{"mailboxes":[{"local_part":"datasource.byid","password":"xxxxxxxx"}],"domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
      response:
        body: '{"mailboxes":[{"id":"2fa4b1a9-db2a-40cd-b32b-5f889e3d70fe", "project_id":"", "organization_id":"", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "email":"datasource.byid@tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:57:02.326592Z", "updated_at":"2026-09-21T11:57:02.326592Z", "deletion_scheduled_at":null}]}'
        code: 200
        duration: 341.340375ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 24
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/2fa4b1a9-db2a-40cd-b32b-5f889e3d70fe
      response:
        body: '{"id":"2fa4b1a9-db2a-40cd-b32b-5f889e3d70fe", "project_id":"", "organization_id":"", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "email":"datasource.byid@tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:57:02.326592Z", "updated_at":"2026-09-21T11:57:02.326592Z", "deletion_scheduled_at":null}'
        code: 200
        duration: 92.45075ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 47
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/2fa4b1a9-db2a-40cd-b32b-5f889e3d70fe
      response:
        body: '{"id":"2fa4b1a9-db2a-40cd-b32b-5f889e3d70fe", "project_id":"", "organization_id":"", "domain_id":"fab5b2cc-7452-4057-ad8b-2b10ce3871dc", "email":"datasource.byid@tf-tests-mbx-dsid-5368703374676931499.scaleway-terraform.com", "status":"deletion_scheduled", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-21T11:58:14Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-21T11:58:14Z", "created_at":"2026-09-21T11:57:02.326592Z", "updated_at":"2026-09-21T11:58:20.017199Z", "deletion_scheduled_at":"2026-09-21T12:08:20.018582Z"}'
        code: 200
        duration: 36.100375ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
