interactions:
    - id: 0
      request:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-dsem-2968448671570722034","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
      response:
        body: '{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-dsem-2968448671570722034", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:51:52Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}'
        code: 200
        duration: 484.942209ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        form:
            dns_zone:
                - tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com&domain=&order_by=domain_asc
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-dsem-2968448671570722034", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:51:52Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        code: 200
        duration: 141.976958ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
      response:
        body: '{"id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:51:53.047147Z", "updated_at":"2026-09-21T11:51:53.047147Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 138.064917ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c
      response:
        body: '{"id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:51:53.047147Z", "updated_at":"2026-09-21T11:51:53.047147Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 123.145958ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c/records
      response:
        body: '{"autoconfig":{"id":"5b6687a9-b495-46f9-af97-82d4e0927d3c", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:55.461324Z", "updated_at":"2026-09-21T11:51:55.461324Z"}, "autodiscover":{"id":"e12f3235-9c45-4c6d-8cc7-07ecd4fd46fa", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:55.550195Z", "updated_at":"2026-09-21T11:51:55.550195Z"}, "caldav":{"id":"ed049db6-fdc0-4a68-a23e-18bcfce9381f", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:54.385838Z", "updated_at":"2026-09-21T11:51:54.385838Z"}, "carddav":{"id":"9ddac262-f9eb-4b53-87f9-4ff11cb90900", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:54.674684Z", "updated_at":"2026-09-21T11:51:54.674684Z"}, "dkim":{"id":"cfcdfbc7-832e-4ba3-8d5a-11b9f2ce0925", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs0B39IvvPdUNmXR/tcx28RQB0D7xHVZqKESlslgKdt1YRV/EqT+BOP8UyT5nv9C/8DX6ZXeLozVcoOle9yuwJ/4pBXy5Nf3LDOpzYfpEuLpfGESr8k29XmHMn0TPH7dg73eqDqQbppiov9hNGWeWLkLfaKRkGmY/aMrgZt3gQZ3lexC9LbcDH1XRip25ZIOjVSN6QaFYoqbLUObyWDoKZd5zvQIo3d4NN1dNng5EBzedNPZV1nsF5Hrqj1hK/o0z0nBEg/+14cY/EnmefrizlZyW/YzvA2/biXDuVZ8xtws8C87enB9T2bndND52hirg1at03V5dGLPeyDxkFMFZUwIDAQAB", "created_at":"2026-09-21T11:51:53.745470Z", "updated_at":"2026-09-21T11:51:53.745470Z"}, "dmarc":{"id":"4b391ee3-2e93-4b1a-ade2-07b0e4693fbf", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:51:53.842438Z", "updated_at":"2026-09-21T11:51:53.842438Z"}, "domain_validation":{"id":"fe5ae662-27ff-498a-acb5-ee968f357b49", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"scaleway-mailbox=7dcdf4c2-15bf-454e-96d5-c73fccd96b30", "created_at":"2026-09-21T11:51:53.372438Z", "updated_at":"2026-09-21T11:51:53.372438Z"}, "imap":{"id":"2b6077e5-4113-4a3f-9b95-c996d80a2416", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:54.924301Z", "updated_at":"2026-09-21T11:51:54.924301Z"}, "mx":{"id":"f5fa1359-1300-4052-8327-da9e7052463a", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:53.977887Z", "updated_at":"2026-09-21T11:51:53.977887Z"}, "pop3":{"id":"af2a17e0-3ea0-4d3b-ab7f-241a98ed00f3", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:55.139559Z", "updated_at":"2026-09-21T11:51:55.139559Z"}, "spf":{"id":"2d4906c5-eb83-4d76-bc12-2827d3066e21", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:51:53.480983Z", "updated_at":"2026-09-21T11:51:53.480983Z"}, "submission":{"id":"d2d34fe6-9922-4699-9633-613722801a7e", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:51:55.340344Z", "updated_at":"2026-09-21T11:51:55.340344Z"}}'
        code: 200
        duration: 176.2025ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=7dcdf4c2-15bf-454e-96d5-c73fccd96b30","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs0B39IvvPdUNmXR/tcx28RQB0D7xHVZqKESlslgKdt1YRV/EqT+BOP8UyT5nv9C/8DX6ZXeLozVcoOle9yuwJ/4pBXy5Nf3LDOpzYfpEuLpfGESr8k29XmHMn0TPH7dg73eqDqQbppiov9hNGWeWLkLfaKRkGmY/aMrgZt3gQZ3lexC9LbcDH1XRip25ZIOjVSN6QaFYoqbLUObyWDoKZd5zvQIo3d4NN1dNng5EBzedNPZV1nsF5Hrqj1hK/o0z0nBEg/+14cY/EnmefrizlZyW/YzvA2/biXDuVZ8xtws8C87enB9T2bndND52hirg1at03V5dGLPeyDxkFMFZUwIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com/records
      response:
        body: '{"records":[{"id":"63c43625-d339-4933-9bdf-a529ab4be777", "data":"\"scaleway-mailbox=7dcdf4c2-15bf-454e-96d5-c73fccd96b30\"", "name":"", "priority":0, "ttl":3600, "type":"TXT", "comment":null, "upda[...]
    - id: 7
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c/validate-records
      response:
        body: ""
        code: 204
        duration: 61.652ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
[...]
    - id: 23
      request:
        body: '{"mailboxes":[{"local_part":"datasource.byemail","password":"xxxxxxxx"}],"domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
      response:
        body: '{"mailboxes":[{"id":"ca086f54-0e01-4972-b217-fb76770260f0", "project_id":"", "organization_id":"", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "email":"datasource.byemail@tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:55:52.043118Z", "updated_at":"2026-09-21T11:55:52.043118Z", "deletion_scheduled_at":null}]}'
        code: 200
        duration: 308.23125ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 24
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/ca086f54-0e01-4972-b217-fb76770260f0
      response:
        body: '{"id":"ca086f54-0e01-4972-b217-fb76770260f0", "project_id":"", "organization_id":"", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "email":"datasource.byemail@tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:55:52.043118Z", "updated_at":"2026-09-21T11:55:52.043118Z", "deletion_scheduled_at":null}'
        code: 200
        duration: 138.902583ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 38
      request:
        form:
            order_by:
                - created_at_desc
            page:
                - "1"
            search:
                - datasource.byemail@tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes?order_by=created_at_desc&page=1&search=datasource.byemail%40tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com
      response:
        body: '{"total_count":1, "mailboxes":[{"id":"ca086f54-0e01-4972-b217-fb76770260f0", "project_id":"", "organization_id":"", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "email":"datasource.byemail@tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com", "status":"ready", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-21T11:56:54Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-21T11:56:54Z", "created_at":"2026-09-21T11:55:52.043118Z", "updated_at":"2026-09-21T11:56:56.955307Z", "deletion_scheduled_at":null}]}'
        code: 200
        duration: 28.661291ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 48
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/ca086f54-0e01-4972-b217-fb76770260f0
      response:
        body: '{"id":"ca086f54-0e01-4972-b217-fb76770260f0", "project_id":"", "organization_id":"", "domain_id":"0a3ddc1d-1174-4584-8e01-cdbb5ac47d6c", "email":"datasource.byemail@tf-tests-mbx-dsem-2968448671570722034.scaleway-terraform.com", "status":"deletion_scheduled", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-21T11:56:54Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-21T11:56:54Z", "created_at":"2026-09-21T11:55:52.043118Z", "updated_at":"2026-09-21T11:56:59.972102Z", "deletion_scheduled_at":"2026-09-21T12:06:59.972347Z"}'
        code: 200
        duration: 40.901125ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
