---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-dsid-8151954108382144788.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"f4d69501-fe4b-4e85-bd5c-d3f1c26e0266", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-dsid-8151954108382144788.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:37:51.704081Z", "updated_at":"2026-09-17T04:37:51.704081Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 169.048375ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/f4d69501-fe4b-4e85-bd5c-d3f1c26e0266
        method: GET
      response:
        body: '{"id":"f4d69501-fe4b-4e85-bd5c-d3f1c26e0266", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-dsid-8151954108382144788.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:37:51.704081Z", "updated_at":"2026-09-17T04:37:51.704081Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.228125ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mailboxes":[{"local_part":"datasource.byid","password":"S3cur3P@ssw0rd!"}],"domain_id":"f4d69501-fe4b-4e85-bd5c-d3f1c26e0266","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
        method: POST
      response:
        body: '{"mailboxes":[{"id":"4a0edebe-a3ce-4855-99eb-a6f8940ba792", "project_id":"", "organization_id":"", "domain_id":"f4d69501-fe4b-4e85-bd5c-d3f1c26e0266", "email":"datasource.byid@tf-tests-mailbox-dsid-8151954108382144788.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:43:03.215369Z", "updated_at":"2026-09-17T04:43:03.215369Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 189.234334ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/4a0edebe-a3ce-4855-99eb-a6f8940ba792
        method: GET
      response:
        body: '{"id":"4a0edebe-a3ce-4855-99eb-a6f8940ba792", "project_id":"", "organization_id":"", "domain_id":"f4d69501-fe4b-4e85-bd5c-d3f1c26e0266", "email":"datasource.byid@tf-tests-mailbox-dsid-8151954108382144788.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:43:03.215369Z", "updated_at":"2026-09-17T04:43:03.215369Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 27.855333ms
[...]
