---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-dsem-2716497489113467994.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"c39f59fa-e606-485c-85c8-1189da211c2b", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-dsem-2716497489113467994.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:37:56.938751Z", "updated_at":"2026-09-17T04:37:56.938751Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 100.181917ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/c39f59fa-e606-485c-85c8-1189da211c2b
        method: GET
      response:
        body: '{"id":"c39f59fa-e606-485c-85c8-1189da211c2b", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-dsem-2716497489113467994.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:37:56.938751Z", "updated_at":"2026-09-17T04:37:56.938751Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.3265ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mailboxes":[{"local_part":"datasource.byemail","password":"S3cur3P@ssw0rd!"}],"domain_id":"c39f59fa-e606-485c-85c8-1189da211c2b","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
        method: POST
      response:
        body: '{"mailboxes":[{"id":"f9fc720c-1eea-4664-a974-4ce500e748d9", "project_id":"", "organization_id":"", "domain_id":"c39f59fa-e606-485c-85c8-1189da211c2b", "email":"datasource.byemail@tf-tests-mailbox-dsem-2716497489113467994.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:40:22.066382Z", "updated_at":"2026-09-17T04:40:22.066382Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 218.677292ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/f9fc720c-1eea-4664-a974-4ce500e748d9
        method: GET
      response:
        body: '{"id":"f9fc720c-1eea-4664-a974-4ce500e748d9", "project_id":"", "organization_id":"", "domain_id":"c39f59fa-e606-485c-85c8-1189da211c2b", "email":"datasource.byemail@tf-tests-mailbox-dsem-2716497489113467994.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:40:22.066382Z", "updated_at":"2026-09-17T04:40:22.066382Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 34.166375ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            page:
                - "1"
            search:
                - datasource.byemail@tf-tests-mailbox-dsem-2716497489113467994.example.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes?order_by=created_at_desc&page=1&search=datasource.byemail%40tf-tests-mailbox-dsem-2716497489113467994.example.com
        method: GET
      response:
        body: '{"total_count":1, "mailboxes":[{"id":"f9fc720c-1eea-4664-a974-4ce500e748d9", "project_id":"", "organization_id":"", "domain_id":"c39f59fa-e606-485c-85c8-1189da211c2b", "email":"datasource.byemail@tf-tests-mailbox-dsem-2716497489113467994.example.com", "status":"waiting_domain", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-17T04:41:38Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-17T04:41:38Z", "created_at":"2026-09-17T04:40:22.066382Z", "updated_at":"2026-09-17T04:41:38.483113Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.410292ms
[...]
