interactions:
    - id: 0
      request:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-basic-9203771876939261418","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
      response:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-basic-9203771876939261418","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"active","message":null,"updated_at":"2026-09-22T03:51:20Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}'
        code: 200
        duration: 555.275791ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        form:
            dns_zone:
                - tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com&domain=&order_by=domain_asc
      response:
        body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-basic-9203771876939261418","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"active","message":null,"updated_at":"2026-09-22T03:51:20Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}]}'
        code: 200
        duration: 186.043917ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
      response:
        body: '{"id":"252f4508-1ec1-422e-aecc-6c065dbc9996","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_id":"","name":"tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com","status":"creating","mailbox_total_count":0,"created_at":"2026-09-22T03:51:20.950136Z","updated_at":"2026-09-22T03:51:20.950136Z","webmail_url":"https://mailbox.scw.eu","imap_url":"imap.mailbox.scw.eu","pop3_url":"pop3.mailbox.scw.eu","smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 207.588542ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/252f4508-1ec1-422e-aecc-6c065dbc9996
      response:
        body: '{"id":"252f4508-1ec1-422e-aecc-6c065dbc9996","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_id":"","name":"tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com","status":"creating","mailbox_total_count":0,"created_at":"2026-09-22T03:51:20.950136Z","updated_at":"2026-09-22T03:51:20.950136Z","webmail_url":"https://mailbox.scw.eu","imap_url":"imap.mailbox.scw.eu","pop3_url":"pop3.mailbox.scw.eu","smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 133.250084ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/252f4508-1ec1-422e-aecc-6c065dbc9996/records
      response:
        body: '{"autoconfig":{"id":"bbb91525-b350-4eee-8e64-73b2312cf5c0","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"recommended","dns_type":"cname_dns_type","dns_name":"autoconfig.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"autoconfig.mailbox.scw.eu.","created_at":"2026-09-22T03:51:22.502882Z","updated_at":"2026-09-22T03:51:22.502882Z"},"autodiscover":{"id":"b7076d00-2203-433f-a1d9-b6a1be97a389","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"recommended","dns_type":"cname_dns_type","dns_name":"autodiscover.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"autodiscover.mailbox.scw.eu.","created_at":"2026-09-22T03:51:22.588311Z","updated_at":"2026-09-22T03:51:22.588311Z"},"caldav":{"id":"db51c0d9-da8d-4a42-9076-b06fa4ca532f","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"optional","dns_type":"srv_dns_type","dns_name":"_caldavs._tcp.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"0 1 443 caldav.mailbox.scw.eu.","created_at":"2026-09-22T03:51:22.039109Z","updated_at":"2026-09-22T03:51:22.039109Z"},"carddav":{"id":"bd517aed-28ea-4d38-8b47-7c385435299d","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"optional","dns_type":"srv_dns_type","dns_name":"_carddavs._tcp.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"0 1 443 carddav.mailbox.scw.eu.","created_at":"2026-09-22T03:51:22.127477Z","updated_at":"2026-09-22T03:51:22.127477Z"},"dkim":{"id":"d99599a1-bdba-4d31-8986-e6af8e3c9420","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"scw-mbox._domainkey.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAv+1XqAdghrsvjAZYf7YtcoOkvMni3JT3h8e6a55TG2emkLwQQOeQv3URLX5Le+KU+pJESp7gTCkRFYXOT25DGxUFdLqP/5uSpR2uSPS2Zy/zrwKMGxL2+B/YNLhrj+zDgVoA0Ycu6rtOJz+sW/Wp8KK4VgLHe1WGuupGTXjm2SBCJsJLV0asS9JAkljmDNq7pPeIe9Po/uyOpYyDjsczYI6STzFgAFEOWKilOcSxet1CG2wkKMchCwgQ6ABA0kXvixz2HXKt9BUsDUeLKTVLPUhtDOnCt9W/9LKa1OAGJYjLAGYqWMTIQ7Ttv39pXbcJq5MAXr3FHVzMJT8uW3WjeQIDAQAB","created_at":"2026-09-22T03:51:21.693431Z","updated_at":"2026-09-22T03:51:21.693431Z"},"dmarc":{"id":"6b5cd725-c3cb-4d7e-8868-d42412cd7633","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"_dmarc.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"v=DMARC1; p=none","created_at":"2026-09-22T03:51:21.781841Z","updated_at":"2026-09-22T03:51:21.781841Z"},"domain_validation":{"id":"78d4364f-8d56-4dc0-9e9e-9a19a4f0f27a","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"scaleway-mailbox=6763fb05-9f8a-406e-a2e0-8fc6a980f66c","created_at":"2026-09-22T03:51:21.244150Z","updated_at":"2026-09-22T03:51:21.244150Z"},"imap":{"id":"b62173bd-6a99-493a-b725-6e6287e8dae2","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_imaps._tcp.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"0 1 993 imap.mailbox.scw.eu.","created_at":"2026-09-22T03:51:22.215013Z","updated_at":"2026-09-22T03:51:22.215013Z"},"mx":{"id":"95b6ee45-ee86-44c1-a1ee-fc3f84beb535","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"required","dns_type":"mx_dns_type","dns_name":"tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"10 smtp.mailbox.scw.eu.","created_at":"2026-09-22T03:51:21.868901Z","updated_at":"2026-09-22T03:51:21.868901Z"},"pop3":{"id":"4484172a-1529-4a66-aab5-1c6f139c418c","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_pop3s._tcp.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"0 1 995 pop3.mailbox.scw.eu.","created_at":"2026-09-22T03:51:22.318071Z","updated_at":"2026-09-22T03:51:22.318071Z"},"spf":{"id":"af7d67fd-a9dc-422d-b764-eede48e6b5e9","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"v=spf1 include:spf.mailbox.scw.eu -all","created_at":"2026-09-22T03:51:21.331509Z","updated_at":"2026-09-22T03:51:21.331509Z"},"submission":{"id":"42a3c06c-676c-4426-80e9-d73e8ce12fab","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_submissions._tcp.tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com.","dns_value":"0 1 465 smtp.mailbox.scw.eu.","created_at":"2026-09-22T03:51:22.416596Z","updated_at":"2026-09-22T03:51:22.416596Z"}}'
        code: 200
        duration: 131.993292ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=6763fb05-9f8a-406e-a2e0-8fc6a980f66c","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAv+1XqAdghrsvjAZYf7YtcoOkvMni3JT3h8e6a55TG2emkLwQQOeQv3URLX5Le+KU+pJESp7gTCkRFYXOT25DGxUFdLqP/5uSpR2uSPS2Zy/zrwKMGxL2+B/YNLhrj+zDgVoA0Ycu6rtOJz+sW/Wp8KK4VgLHe1WGuupGTXjm2SBCJsJLV0asS9JAkljmDNq7pPeIe9Po/uyOpYyDjsczYI6STzFgAFEOWKilOcSxet1CG2wkKMchCwgQ6ABA0kXvixz2HXKt9BUsDUeLKTVLPUhtDOnCt9W/9LKa1OAGJYjLAGYqWMTIQ7Ttv39pXbcJq5MAXr3FHVzMJT8uW3WjeQIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com/records
      response:
        body: '{"records":[{"id":"c44dfbf2-2167-49e0-9b8f-6f3a489ac53b","data":"\"scaleway-mailbox=6763fb05-9f8a-406e-a2e0-8fc6a980f66c\"","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"updated_at[...]
    - id: 7
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/252f4508-1ec1-422e-aecc-6c065dbc9996/validate-records
      response:
        body: ""
        code: 204
        duration: 112.6465ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
[...]
    - id: 23
      request:
        body: '{"domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","mailboxes":[{"local_part":"john.doe","password":"xxxxxxxx"}],"subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
      response:
        body: '{"mailboxes":[{"id":"49cf9dbf-018b-4ea1-9447-b0354ba76c26","project_id":"","organization_id":"","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","email":"john.doe@tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com","status":"waiting_payment","subscription_period":"unknown_subscription_period","subscription_period_started_at":null,"next_subscription_period":"monthly","next_subscription_period_starts_at":null,"created_at":"2026-09-22T03:54:02.274681Z","updated_at":"2026-09-22T03:54:02.274681Z","deletion_scheduled_at":null}]}'
        code: 200
        duration: 443.622083ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 24
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/49cf9dbf-018b-4ea1-9447-b0354ba76c26
      response:
        body: '{"id":"49cf9dbf-018b-4ea1-9447-b0354ba76c26","project_id":"","organization_id":"","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","email":"john.doe@tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com","status":"waiting_payment","subscription_period":"unknown_subscription_period","subscription_period_started_at":null,"next_subscription_period":"monthly","next_subscription_period_starts_at":null,"created_at":"2026-09-22T03:54:02.274681Z","updated_at":"2026-09-22T03:54:02.274681Z","deletion_scheduled_at":null}'
        code: 200
        duration: 132.012541ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 47
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/49cf9dbf-018b-4ea1-9447-b0354ba76c26
      response:
        body: '{"id":"49cf9dbf-018b-4ea1-9447-b0354ba76c26","project_id":"","organization_id":"","domain_id":"252f4508-1ec1-422e-aecc-6c065dbc9996","email":"john.doe@tf-tests-mbx-basic-9203771876939261418.scaleway-terraform.com","status":"deletion_scheduled","subscription_period":"monthly","subscription_period_started_at":"2026-09-22T03:55:18Z","next_subscription_period":"unknown_subscription_period","next_subscription_period_starts_at":"2026-10-22T03:55:18Z","created_at":"2026-09-22T03:54:02.274681Z","updated_at":"2026-09-22T03:55:25.214610Z","deletion_scheduled_at":"2026-09-22T04:05:25.215843Z"}'
        code: 200
        duration: 35.243917ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
