---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-dns.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"112c7598-2e4f-429e-b19e-a739a99e336b", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-dns.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:43:55.193874Z", "updated_at":"2026-09-17T05:43:55.193874Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 367.642334ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/112c7598-2e4f-429e-b19e-a739a99e336b
        method: GET
      response:
        body: '{"id":"112c7598-2e4f-429e-b19e-a739a99e336b", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-dns.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:43:55.193874Z", "updated_at":"2026-09-17T05:43:55.193874Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.958458ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/112c7598-2e4f-429e-b19e-a739a99e336b/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"adf319af-a40d-4a67-8ee9-a24bd759ffb2", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mailbox-dns.example.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:56.566817Z", "updated_at":"2026-09-17T05:43:56.566817Z"}, "autodiscover":{"id":"8b651166-7c82-4ba2-a7ab-e1a35b4afcbd", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mailbox-dns.example.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:56.649014Z", "updated_at":"2026-09-17T05:43:56.649014Z"}, "caldav":{"id":"10a49ce1-9ebf-4e47-b6c6-b593701f0c21", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:56.155340Z", "updated_at":"2026-09-17T05:43:56.155340Z"}, "carddav":{"id":"bf60da09-0f80-4df1-a364-74de3ec4744e", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:56.237497Z", "updated_at":"2026-09-17T05:43:56.237497Z"}, "dkim":{"id":"bc4a2e1a-916d-4c1b-8cc3-b4aad3852f05", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mailbox-dns.example.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6itDsjyS/lDWv9MYlxAQ2lI50VZ+9b1O8bW9qsFkW1iPIgXjtnofK29pCFXLG6Nh/uxPW7FsRNfbdQrt1bEg/Y1PzkO2P5NNEh4hxnsch1SMS+dCgcyYA9RvvNiiRlT2u60D0sZ1PrjY0GlhNrzrFVHYphSnmBLs5zWiUE5GHKpiIVT4oP7s3Lst2M4jfwUWhN+QiWbOfbJFdF6vO88FFzNM0R7EwhgvV6InN4qj4LldydI/E/stdJrpdiTrLszwS85EihR8CG/ZpWp7dGDmYqb3PsAg1nngNkfKXJ4gS1zJwCKE11PObv8Nlb+ms8YXk4SCM7L3E2hAJbDvdGEtVwIDAQAB", "created_at":"2026-09-17T05:43:55.802275Z", "updated_at":"2026-09-17T05:43:55.802275Z"}, "dmarc":{"id":"01359cc0-d13f-412e-9067-96efafb9d30f", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mailbox-dns.example.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-17T05:43:55.888262Z", "updated_at":"2026-09-17T05:43:55.888262Z"}, "domain_validation":{"id":"8dd46f0d-f694-47f6-a238-5fb0a44c18bb", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-dns.example.com.", "dns_value":"scaleway-mailbox=2d918df7-b117-43bd-b9ae-a92d8420ccfd", "created_at":"2026-09-17T05:43:55.492798Z", "updated_at":"2026-09-17T05:43:55.492798Z"}, "imap":{"id":"81d3bfcf-cdc2-49cd-9db0-888352bf1807", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:56.319976Z", "updated_at":"2026-09-17T05:43:56.319976Z"}, "mx":{"id":"c90d7b8e-c445-45de-ad37-d3b80fe88684", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mailbox-dns.example.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:55.969371Z", "updated_at":"2026-09-17T05:43:55.969371Z"}, "pop3":{"id":"aa94534d-4d8e-422c-a5be-f480aa8fe81f", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:56.399266Z", "updated_at":"2026-09-17T05:43:56.399266Z"}, "spf":{"id":"0b6b36df-d96f-424a-8007-213b4b359b0d", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-dns.example.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-17T05:43:55.576685Z", "updated_at":"2026-09-17T05:43:55.576685Z"}, "submission":{"id":"78e510a3-b802-409d-80c8-c5de09b9a04b", "domain_id":"112c7598-2e4f-429e-b19e-a739a99e336b", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:56.481403Z", "updated_at":"2026-09-17T05:43:56.481403Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.8565ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/112c7598-2e4f-429e-b19e-a739a99e336b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"112c7598-2e4f-429e-b19e-a739a99e336b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 70.209ms
[...]
