interactions:
    - id: 0
      request:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-period-1157945986681936656","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
      response:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-period-1157945986681936656","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"active","message":null,"updated_at":"2026-09-22T03:53:13Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}'
        code: 200
        duration: 397.655541ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        form:
            dns_zone:
                - tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com&domain=&order_by=domain_asc
      response:
        body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-period-1157945986681936656","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"active","message":null,"updated_at":"2026-09-22T03:53:13Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}]}'
        code: 200
        duration: 128.513792ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
      response:
        body: '{"id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_id":"","name":"tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com","status":"creating","mailbox_total_count":0,"created_at":"2026-09-22T03:53:14.088029Z","updated_at":"2026-09-22T03:53:14.088029Z","webmail_url":"https://mailbox.scw.eu","imap_url":"imap.mailbox.scw.eu","pop3_url":"pop3.mailbox.scw.eu","smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 68.449666ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/aa56ac5e-b018-4bbc-917b-3cc9a75a412f
      response:
        body: '{"id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_id":"","name":"tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com","status":"creating","mailbox_total_count":0,"created_at":"2026-09-22T03:53:14.088029Z","updated_at":"2026-09-22T03:53:14.088029Z","webmail_url":"https://mailbox.scw.eu","imap_url":"imap.mailbox.scw.eu","pop3_url":"pop3.mailbox.scw.eu","smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 40.09975ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/aa56ac5e-b018-4bbc-917b-3cc9a75a412f/records
      response:
        body: '{"autoconfig":{"id":"87c43fdc-80a2-485d-9751-99b1156ca3e8","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"recommended","dns_type":"cname_dns_type","dns_name":"autoconfig.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"autoconfig.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.596732Z","updated_at":"2026-09-22T03:53:15.596732Z"},"autodiscover":{"id":"8f3c6edc-6373-44f8-a41a-a777c33144df","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"recommended","dns_type":"cname_dns_type","dns_name":"autodiscover.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"autodiscover.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.680966Z","updated_at":"2026-09-22T03:53:15.680966Z"},"caldav":{"id":"f1c226af-5a3e-4b90-aa1d-c17eb2ef3c08","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"optional","dns_type":"srv_dns_type","dns_name":"_caldavs._tcp.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"0 1 443 caldav.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.185336Z","updated_at":"2026-09-22T03:53:15.185336Z"},"carddav":{"id":"c8b8caba-bc21-465b-bde4-8f6253bdf08a","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"optional","dns_type":"srv_dns_type","dns_name":"_carddavs._tcp.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"0 1 443 carddav.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.266648Z","updated_at":"2026-09-22T03:53:15.266648Z"},"dkim":{"id":"a7ba8bab-91de-4ca7-a89c-6c473a812990","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"scw-mbox._domainkey.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvgeAXsqYi0bWEpWyFb04v1Ws9DAeADQAFOSPqkbWmvEpi3jcGgwQaK27ISsgUYb92QjxMfuY1ZU29zKn337MvsZ+FOCI7B+3f6D6VSnjWSWGAXrTtbkIqp0IKFU6kLzFd7+lNND7JTKZceeJGTZYcgBbPPUizu6WeQCjNMEVDYBVDYa3hl5XOI8UcCqBRbBmALp708KInvPsukoVYarZWFx8XJxHkabQsQitu3IUPQ6qlsQm/Ynk7YTM2dVbGIZq8JpOd5mJ+TxkQ5XNggbvazUHA5rolSZodkD34bnEjcsC5zq5bAovTXKZWmfuIt6ZwBKUEq4Okjz2NM55ritPNQIDAQAB","created_at":"2026-09-22T03:53:14.854730Z","updated_at":"2026-09-22T03:53:14.854730Z"},"dmarc":{"id":"5c17de8c-8164-4041-8ac4-61d6b9f59874","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"_dmarc.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"v=DMARC1; p=none","created_at":"2026-09-22T03:53:14.944540Z","updated_at":"2026-09-22T03:53:14.944540Z"},"domain_validation":{"id":"3b2d782a-9547-41c8-995f-da303d7f4d32","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"scaleway-mailbox=53796f72-9252-44fd-8738-a05c7a7f7b49","created_at":"2026-09-22T03:53:14.350604Z","updated_at":"2026-09-22T03:53:14.350604Z"},"imap":{"id":"2486a074-b2da-491a-8664-ab96f1425cf4","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_imaps._tcp.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"0 1 993 imap.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.346677Z","updated_at":"2026-09-22T03:53:15.346677Z"},"mx":{"id":"2c3b6537-55a8-448f-b2cb-1dabc1533992","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"required","dns_type":"mx_dns_type","dns_name":"tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"10 smtp.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.023111Z","updated_at":"2026-09-22T03:53:15.023111Z"},"pop3":{"id":"7b8d2c92-9a16-4012-a7a8-07adde01ef75","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_pop3s._tcp.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"0 1 995 pop3.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.429251Z","updated_at":"2026-09-22T03:53:15.429251Z"},"spf":{"id":"1995da28-438d-42c4-91f4-c7d8d7299ba9","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"v=spf1 include:spf.mailbox.scw.eu -all","created_at":"2026-09-22T03:53:14.435613Z","updated_at":"2026-09-22T03:53:14.435613Z"},"submission":{"id":"eac591d9-a9ae-4bbd-baf7-4cddf2e77913","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_submissions._tcp.tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com.","dns_value":"0 1 465 smtp.mailbox.scw.eu.","created_at":"2026-09-22T03:53:15.513912Z","updated_at":"2026-09-22T03:53:15.513912Z"}}'
        code: 200
        duration: 37.986042ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=53796f72-9252-44fd-8738-a05c7a7f7b49","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvgeAXsqYi0bWEpWyFb04v1Ws9DAeADQAFOSPqkbWmvEpi3jcGgwQaK27ISsgUYb92QjxMfuY1ZU29zKn337MvsZ+FOCI7B+3f6D6VSnjWSWGAXrTtbkIqp0IKFU6kLzFd7+lNND7JTKZceeJGTZYcgBbPPUizu6WeQCjNMEVDYBVDYa3hl5XOI8UcCqBRbBmALp708KInvPsukoVYarZWFx8XJxHkabQsQitu3IUPQ6qlsQm/Ynk7YTM2dVbGIZq8JpOd5mJ+TxkQ5XNggbvazUHA5rolSZodkD34bnEjcsC5zq5bAovTXKZWmfuIt6ZwBKUEq4Okjz2NM55ritPNQIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com/records
      response:
        body: '{"records":[{"id":"8ce8a926-2ad9-4a6e-b5fe-484f3c1f4271","data":"\"scaleway-mailbox=53796f72-9252-44fd-8738-a05c7a7f7b49\"","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"updated_a[...]
    - id: 7
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/aa56ac5e-b018-4bbc-917b-3cc9a75a412f/validate-records
      response:
        body: ""
        code: 204
        duration: 55.69ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
[...]
    - id: 20
      request:
        body: '{"domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","mailboxes":[{"local_part":"period.update","password":"xxxxxxxx"}],"subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
      response:
        body: '{"mailboxes":[{"id":"af13a639-78d6-4a75-88a3-02ef9d43bfa2","project_id":"","organization_id":"","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","email":"period.update@tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com","status":"waiting_payment","subscription_period":"unknown_subscription_period","subscription_period_started_at":null,"next_subscription_period":"monthly","next_subscription_period_starts_at":null,"created_at":"2026-09-22T03:54:02.394970Z","updated_at":"2026-09-22T03:54:02.394970Z","deletion_scheduled_at":null}]}'
        code: 200
        duration: 580.116625ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 21
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/af13a639-78d6-4a75-88a3-02ef9d43bfa2
      response:
        body: '{"id":"af13a639-78d6-4a75-88a3-02ef9d43bfa2","project_id":"","organization_id":"","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","email":"period.update@tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com","status":"waiting_payment","subscription_period":"unknown_subscription_period","subscription_period_started_at":null,"next_subscription_period":"monthly","next_subscription_period_starts_at":null,"created_at":"2026-09-22T03:54:02.394970Z","updated_at":"2026-09-22T03:54:02.394970Z","deletion_scheduled_at":null}'
        code: 200
        duration: 127.527417ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 48
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/af13a639-78d6-4a75-88a3-02ef9d43bfa2
      response:
        body: '{"id":"af13a639-78d6-4a75-88a3-02ef9d43bfa2","project_id":"","organization_id":"","domain_id":"aa56ac5e-b018-4bbc-917b-3cc9a75a412f","email":"period.update@tf-tests-mbx-period-1157945986681936656.scaleway-terraform.com","status":"deletion_scheduled","subscription_period":"monthly","subscription_period_started_at":"2026-09-22T03:55:18Z","next_subscription_period":"yearly","next_subscription_period_starts_at":"2026-10-22T03:55:18Z","created_at":"2026-09-22T03:54:02.394970Z","updated_at":"2026-09-22T03:55:25.995801Z","deletion_scheduled_at":"2026-09-22T04:05:25.998682Z"}'
        code: 200
        duration: 24.821ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
