---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mailbox-proj.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mailbox-proj.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:55:52.078068Z", "updated_at":"2026-09-21T11:55:52.078068Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 236.396625ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/55ea83c0-57c6-4875-8b6b-3d64a878da4c
        method: GET
      response:
        body: '{"id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mailbox-proj.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:55:52.078068Z", "updated_at":"2026-09-21T11:55:52.078068Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 170.141291ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/55ea83c0-57c6-4875-8b6b-3d64a878da4c/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"6aa62a13-968d-4551-8441-579512716dae", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mailbox-proj.example.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:56.147806Z", "updated_at":"2026-09-21T11:55:56.147806Z"}, "autodiscover":{"id":"b373ca80-69e9-4a67-afa5-72ff83e7c700", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mailbox-proj.example.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:56.318260Z", "updated_at":"2026-09-21T11:55:56.318260Z"}, "caldav":{"id":"f1344b95-2605-49d3-b6dc-a9fa6b674112", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:54.517927Z", "updated_at":"2026-09-21T11:55:54.517927Z"}, "carddav":{"id":"72225f04-8365-403f-8d2c-62b215903917", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:54.715294Z", "updated_at":"2026-09-21T11:55:54.715294Z"}, "dkim":{"id":"48e4f901-1844-49d0-a905-a2fbbb966811", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mailbox-proj.example.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuRM3aFzX6oBkJ9lMRn7QtJQ0yWa8GueBOJTxSumsq4ZbrS6vWH6/cvOfOpuHaK8V8M/pmg2eIVxCUahEymJwbsTuFTDmwk2TQbfY+JfBUwIhc9QE94GAwg8FsL2Nrq0imGkXZxPlEcckmz0hKvpVppFx6qgdClc9SYU069YCsFhxa4aNuOFmdQRr08+QzCu3bggNmRYFBFZqlyNTBec/iHO/VGVYoXRHcwLrMtfc68zkCQqS/wCzqKayb3pCm6vy+qFf/zqJl5eosg2o0hg0ozQfdVs92zLcU0JbJ9VNYT+wiSg3Q95ULBW7cuFsA+9197/0UQTETW9duAOoPbPHWwIDAQAB", "created_at":"2026-09-21T11:55:53.928646Z", "updated_at":"2026-09-21T11:55:53.928646Z"}, "dmarc":{"id":"cbd8006e-79e6-46cd-b52f-46b28cbb6ece", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mailbox-proj.example.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:55:54.066183Z", "updated_at":"2026-09-21T11:55:54.066183Z"}, "domain_validation":{"id":"68a6370a-5a64-4fc0-82a5-0d0335d60f24", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-proj.example.com.", "dns_value":"scaleway-mailbox=84c407cd-140a-4733-bf2a-a6993f7c19c5", "created_at":"2026-09-21T11:55:53.101307Z", "updated_at":"2026-09-21T11:55:53.101307Z"}, "imap":{"id":"836a8be1-cb96-4270-a57f-8051cbdb0890", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:55.019789Z", "updated_at":"2026-09-21T11:55:55.019789Z"}, "mx":{"id":"87a29d7a-da30-46b8-bf9a-aca8b2ba53b4", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mailbox-proj.example.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:54.236719Z", "updated_at":"2026-09-21T11:55:54.236719Z"}, "pop3":{"id":"afaedfc3-ee64-47f1-8d45-3bc6c0044268", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:55.330050Z", "updated_at":"2026-09-21T11:55:55.330050Z"}, "spf":{"id":"4ed62921-743a-4290-8874-9fa9d6c06c35", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-proj.example.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:55:53.312309Z", "updated_at":"2026-09-21T11:55:53.312309Z"}, "submission":{"id":"936d7678-9b5f-4cc7-8994-a5b592efc209", "domain_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:55.735263Z", "updated_at":"2026-09-21T11:55:55.735263Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 156.353375ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/55ea83c0-57c6-4875-8b6b-3d64a878da4c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"55ea83c0-57c6-4875-8b6b-3d64a878da4c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 79.041666ms
[...]
