---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-pwd-2554446005146209235","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-pwd-2554446005146209235", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:53:50Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 375.831584ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            dns_zone:
                - tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-pwd-2554446005146209235", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:53:50Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 148.815417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:53:51.327153Z", "updated_at":"2026-09-21T11:53:51.327153Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 182.843334ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/2cc6cdc3-f364-4604-8b46-cd534ad2d36f
        method: GET
      response:
        body: '{"id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:53:51.327153Z", "updated_at":"2026-09-21T11:53:51.327153Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 119.825417ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/2cc6cdc3-f364-4604-8b46-cd534ad2d36f/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"1188fd36-800c-4ba8-a92b-91c050aaa99c", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:52.951892Z", "updated_at":"2026-09-21T11:53:52.951892Z"}, "autodiscover":{"id":"fe367496-02c1-419f-816e-28c7b2a56025", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:53.054652Z", "updated_at":"2026-09-21T11:53:53.054652Z"}, "caldav":{"id":"6618c93d-abb0-4d53-bf78-504255d62b28", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:52.512642Z", "updated_at":"2026-09-21T11:53:52.512642Z"}, "carddav":{"id":"6745e9d2-3b06-4e3e-906b-3e5bcadf2a02", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:52.603163Z", "updated_at":"2026-09-21T11:53:52.603163Z"}, "dkim":{"id":"4a219a41-879d-4ee2-b199-47b71048d673", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtzPL0gBPRegVQQlwmVFRkR1ZsN2R//T/qOMnBM0Y5hwdWmIj9ufhCd6biLdRNugXokQLCuaEwLecbt9y36WYhPNltmHO1HSkOLbZHGvavztV3ZKob5J6sg8BpkcsUZUTDC85ChcBQQqC96jPduUyw4aW575jQl9AdSnaS+dxM7oo2xp7FQUD7/ZXAbp1Gyv6gtr8rWGBfOdECzFO7+xkbbT5bbx3ZrZR0KtGZuzZgSMb0BYqMOsp1ES7AEvWa/NB5i8nCLBfLpMoHKi+OrU1PBrxAlziZKowK4ihlM6LmPQCxlQg3WEatK4Yc2f9fTf/nljYiq8BQ+uqNdzCOFNx1wIDAQAB", "created_at":"2026-09-21T11:53:52.037918Z", "updated_at":"2026-09-21T11:53:52.037918Z"}, "dmarc":{"id":"1d07ded9-437f-4095-adb7-34eaa70f9e51", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:53:52.217120Z", "updated_at":"2026-09-21T11:53:52.217120Z"}, "domain_validation":{"id":"7f30909f-d863-4e03-b141-10e1040dd6bd", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"scaleway-mailbox=b7d15ae9-2b1c-4fdd-9c83-4d02388276b0", "created_at":"2026-09-21T11:53:51.613539Z", "updated_at":"2026-09-21T11:53:51.613539Z"}, "imap":{"id":"b2ab5273-e72c-4137-932c-0dfcf0d23eb1", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:52.686184Z", "updated_at":"2026-09-21T11:53:52.686184Z"}, "mx":{"id":"f8f2b8d6-6fc9-4e49-a294-32cf0fe8e1a3", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:52.327068Z", "updated_at":"2026-09-21T11:53:52.327068Z"}, "pop3":{"id":"54e324d3-97bb-47ea-b51c-ac0243e2b359", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:52.772574Z", "updated_at":"2026-09-21T11:53:52.772574Z"}, "spf":{"id":"54121dba-cae9-477b-bc11-b17dda842ae6", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:53:51.707656Z", "updated_at":"2026-09-21T11:53:51.707656Z"}, "submission":{"id":"8244beb9-6567-4f6f-b30a-9543fef3c025", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:53:52.860365Z", "updated_at":"2026-09-21T11:53:52.860365Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 137.813708ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=b7d15ae9-2b1c-4fdd-9c83-4d02388276b0","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtzPL0gBPRegVQQlwmVFRkR1ZsN2R//T/qOMnBM0Y5hwdWmIj9ufhCd6biLdRNugXokQLCuaEwLecbt9y36WYhPNltmHO1HSkOLbZHGvavztV3ZKob5J6sg8BpkcsUZUTDC85ChcBQQqC96jPduUyw4aW575jQl9AdSnaS+dxM7oo2xp7FQUD7/ZXAbp1Gyv6gtr8rWGBfOdECzFO7+xkbbT5bbx3ZrZR0KtGZuzZgSMb0BYqMOsp1ES7AEvWa/NB5i8nCLBfLpMoHKi+OrU1PBrxAlziZKowK4ihlM6LmPQCxlQg3WEatK4Yc2f9fTf/nljYiq8BQ+uqNdzCOFNx1wIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"033cd3e1-fca6-4b4f-8174-61cca83fa8e4", "data":"\"scaleway-mailbox=b7d15ae9-2b1c-4fdd-9c83-4d02388276b0\"", "name":"", "priority":0, "ttl":3600, "type":"TXT", "comment":null, "updated_at":"2026-09-21T11:53:56Z"},[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/2cc6cdc3-f364-4604-8b46-cd534ad2d36f/validate-records
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 170.924167ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"mailboxes":[{"local_part":"pwd.change","password":"S3cur3P@ssw0rd!"}],"domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
        method: POST
      response:
        body: '{"mailboxes":[{"id":"0581c4bc-a825-4ae3-a066-6bbf374851b8", "project_id":"", "organization_id":"", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "email":"pwd.change@tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:55:52.196320Z", "updated_at":"2026-09-21T11:55:52.196320Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 433.603917ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/0581c4bc-a825-4ae3-a066-6bbf374851b8
        method: GET
      response:
        body: '{"id":"0581c4bc-a825-4ae3-a066-6bbf374851b8", "project_id":"", "organization_id":"", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "email":"pwd.change@tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:55:52.196320Z", "updated_at":"2026-09-21T11:55:52.196320Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 163.4955ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"new_password":"N3wS3cur3P@ssw0rd!"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/0581c4bc-a825-4ae3-a066-6bbf374851b8
        method: PATCH
      response:
        body: '{"id":"0581c4bc-a825-4ae3-a066-6bbf374851b8", "project_id":"", "organization_id":"", "domain_id":"2cc6cdc3-f364-4604-8b46-cd534ad2d36f", "email":"pwd.change@tf-tests-mbx-pwd-2554446005146209235.scaleway-terraform.com", "status":"ready", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-21T11:56:54Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-21T11:56:54Z", "created_at":"2026-09-21T11:55:52.196320Z", "updated_at":"2026-09-21T11:57:00.234033Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 343.416708ms
[...]
