---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mailbox-dns.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mailbox-dns.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:55:52.096496Z", "updated_at":"2026-09-21T11:55:52.096496Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 271.334958ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/efa5a496-df42-4503-bbb0-bd0e31aeca31
        method: GET
      response:
        body: '{"id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mailbox-dns.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:55:52.096496Z", "updated_at":"2026-09-21T11:55:52.096496Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.195375ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/efa5a496-df42-4503-bbb0-bd0e31aeca31/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"59c94ca0-e038-473f-a0bd-4e822f12423a", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mailbox-dns.example.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:56.070701Z", "updated_at":"2026-09-21T11:55:56.070701Z"}, "autodiscover":{"id":"04e5ac0e-9ad5-4465-ad7a-2a9d8cddaf5f", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mailbox-dns.example.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:56.304619Z", "updated_at":"2026-09-21T11:55:56.304619Z"}, "caldav":{"id":"ada137c9-8757-4db7-9752-7971c5da9f03", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:54.464874Z", "updated_at":"2026-09-21T11:55:54.464874Z"}, "carddav":{"id":"3c530b2a-9bda-439a-9f44-cb9474309d23", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:54.675869Z", "updated_at":"2026-09-21T11:55:54.675869Z"}, "dkim":{"id":"0fa79193-4538-488e-a160-50d25675fd4b", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mailbox-dns.example.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6itDsjyS/lDWv9MYlxAQ2lI50VZ+9b1O8bW9qsFkW1iPIgXjtnofK29pCFXLG6Nh/uxPW7FsRNfbdQrt1bEg/Y1PzkO2P5NNEh4hxnsch1SMS+dCgcyYA9RvvNiiRlT2u60D0sZ1PrjY0GlhNrzrFVHYphSnmBLs5zWiUE5GHKpiIVT4oP7s3Lst2M4jfwUWhN+QiWbOfbJFdF6vO88FFzNM0R7EwhgvV6InN4qj4LldydI/E/stdJrpdiTrLszwS85EihR8CG/ZpWp7dGDmYqb3PsAg1nngNkfKXJ4gS1zJwCKE11PObv8Nlb+ms8YXk4SCM7L3E2hAJbDvdGEtVwIDAQAB", "created_at":"2026-09-21T11:55:53.870984Z", "updated_at":"2026-09-21T11:55:53.870984Z"}, "dmarc":{"id":"955c76b3-1510-456d-9259-a3f9ac1cf9e2", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mailbox-dns.example.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:55:54.016937Z", "updated_at":"2026-09-21T11:55:54.016937Z"}, "domain_validation":{"id":"f7457310-2040-4e61-94be-1495cf511941", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-dns.example.com.", "dns_value":"scaleway-mailbox=ab9590d0-7451-4351-a949-a3ac72c0b135", "created_at":"2026-09-21T11:55:53.183608Z", "updated_at":"2026-09-21T11:55:53.183608Z"}, "imap":{"id":"067e3c4b-f68b-46d7-86ea-c8b6e465cb0f", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:54.920461Z", "updated_at":"2026-09-21T11:55:54.920461Z"}, "mx":{"id":"b670a101-4f81-40f3-b5aa-ebef7a8850c5", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mailbox-dns.example.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:54.185918Z", "updated_at":"2026-09-21T11:55:54.185918Z"}, "pop3":{"id":"81fe313e-8bd7-4145-8dc8-dc4e2a110814", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:55.208834Z", "updated_at":"2026-09-21T11:55:55.208834Z"}, "spf":{"id":"9bb4c5aa-47d1-498b-a2c1-fb9e287c179d", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-dns.example.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:55:53.382089Z", "updated_at":"2026-09-21T11:55:53.382089Z"}, "submission":{"id":"f450be2f-6370-4673-b1b2-5f33af2e4aee", "domain_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mailbox-dns.example.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:55.567703Z", "updated_at":"2026-09-21T11:55:55.567703Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 138.42275ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/efa5a496-df42-4503-bbb0-bd0e31aeca31
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"efa5a496-df42-4503-bbb0-bd0e31aeca31","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 84.146958ms
[...]
