---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-fn-2740345518241755764","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-fn-2740345518241755764", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:55:23Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 385.621458ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            dns_zone:
                - tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-fn-2740345518241755764", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:55:23Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 148.477542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:55:23.793829Z", "updated_at":"2026-09-21T11:55:23.793829Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 185.495ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9
        method: GET
      response:
        body: '{"id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:55:23.793829Z", "updated_at":"2026-09-21T11:55:23.793829Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 26.364458ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"719b2f0b-6603-42c0-b57b-424f4c43989d", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:25.406854Z", "updated_at":"2026-09-21T11:55:25.406854Z"}, "autodiscover":{"id":"f2747df6-3e8b-4af7-87d9-57f710e26b34", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:25.494197Z", "updated_at":"2026-09-21T11:55:25.494197Z"}, "caldav":{"id":"b35719fa-6cd0-4647-9770-e5e5c2a313e0", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:24.983769Z", "updated_at":"2026-09-21T11:55:24.983769Z"}, "carddav":{"id":"ace12e04-73a3-4153-9a7e-5eefefa2bc26", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:25.070243Z", "updated_at":"2026-09-21T11:55:25.070243Z"}, "dkim":{"id":"3a57f98c-11fb-4274-a7f1-5b716f2380a8", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1cMryrA60hVuCUnGtnCbinJodsZ/XB0YhUlIjquxBMvV0P4pXLP/VJ1CJuh5CIGH97gLGHI1TNU5ytHwl2/UXom5thJhmqlDqJ5eZx7IjiqR6JVhMMJrkgqnacc0pI12yLuxP7jESKtbHbJuhSM+gGOuAOTvqqgwFxdv3YiD7hdgUuBcXrRuHHPk3kaul1e2axzjR0sL/T/QaIUloZsSwoYX3kzkeqRBT100MTWYkYZISwqD3yBQsJ6Q2NIGA2BceDuvA3QcUA3wIIJiCi+F38qk0ot2oYPNZGrDn4oUMi+9tHdEKiiYPcIRCPt2HL2NU9NILmtBfHIJpr5WW5w9MQIDAQAB", "created_at":"2026-09-21T11:55:24.416590Z", "updated_at":"2026-09-21T11:55:24.416590Z"}, "dmarc":{"id":"113dfd65-0f09-450e-8b21-cc27d8952dc2", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:55:24.543524Z", "updated_at":"2026-09-21T11:55:24.543524Z"}, "domain_validation":{"id":"781c9d67-a03f-4d10-b592-0cba74610f81", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"scaleway-mailbox=8e6250d5-a751-4577-830d-da6ef42e4294", "created_at":"2026-09-21T11:55:24.078623Z", "updated_at":"2026-09-21T11:55:24.078623Z"}, "imap":{"id":"bc21e965-c831-4771-8351-8a3d0ebcfa98", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:25.158692Z", "updated_at":"2026-09-21T11:55:25.158692Z"}, "mx":{"id":"250b2c2f-27f4-4511-8388-e43207256dd7", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:24.707906Z", "updated_at":"2026-09-21T11:55:24.707906Z"}, "pop3":{"id":"7f759cea-0c71-43d2-81b2-8759caa50f62", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:25.242695Z", "updated_at":"2026-09-21T11:55:25.242695Z"}, "spf":{"id":"76fff9a5-db2d-4dbd-b65d-2871943747fa", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:55:24.176095Z", "updated_at":"2026-09-21T11:55:24.176095Z"}, "submission":{"id":"3c5cdf77-df95-46b7-a382-0c09a6c45798", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:55:25.324895Z", "updated_at":"2026-09-21T11:55:25.324895Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.097ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=8e6250d5-a751-4577-830d-da6ef42e4294","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1cMryrA60hVuCUnGtnCbinJodsZ/XB0YhUlIjquxBMvV0P4pXLP/VJ1CJuh5CIGH97gLGHI1TNU5ytHwl2/UXom5thJhmqlDqJ5eZx7IjiqR6JVhMMJrkgqnacc0pI12yLuxP7jESKtbHbJuhSM+gGOuAOTvqqgwFxdv3YiD7hdgUuBcXrRuHHPk3kaul1e2axzjR0sL/T/QaIUloZsSwoYX3kzkeqRBT100MTWYkYZISwqD3yBQsJ6Q2NIGA2BceDuvA3QcUA3wIIJiCi+F38qk0ot2oYPNZGrDn4oUMi+9tHdEKiiYPcIRCPt2HL2NU9NILmtBfHIJpr5WW5w9MQIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"f3585633-428b-4b3d-b3aa-f74008d902d3", "data":"\"scaleway-mailbox=8e6250d5-a751-4577-830d-da6ef42e4294\"", "name":"", "priority":0, "ttl":3600, "type":"TXT", "comment":null, "updated_at":"2026-09-21T11:55:29Z"}, [...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9/validate-records
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 73.899083ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"mailboxes":[{"local_part":"original","password":"xxxxxxxx"}],"domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
        method: POST
      response:
        body: '{"mailboxes":[{"id":"23d6e1be-50ed-46ef-8e5f-4ef451f2df56", "project_id":"", "organization_id":"", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "email":"original@tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:56:04.322618Z", "updated_at":"2026-09-21T11:56:04.322618Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 261.356042ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/23d6e1be-50ed-46ef-8e5f-4ef451f2df56
        method: GET
      response:
        body: '{"id":"23d6e1be-50ed-46ef-8e5f-4ef451f2df56", "project_id":"", "organization_id":"", "domain_id":"8ac2c8e8-34e6-4c88-bf59-e2a6041c1ec9", "email":"original@tf-tests-mbx-fn-2740345518241755764.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:56:04.322618Z", "updated_at":"2026-09-21T11:56:04.322618Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 134.32ms
[...]
