---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-basic.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-basic.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:43:30.100684Z", "updated_at":"2026-09-17T05:43:30.100684Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 187.74275ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/a2e0f2d0-a184-443e-ae2a-05410e1ba460
        method: GET
      response:
        body: '{"id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-basic.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:43:30.100684Z", "updated_at":"2026-09-17T05:43:30.100684Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.634541ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/a2e0f2d0-a184-443e-ae2a-05410e1ba460/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"42dc1d40-8da5-47b6-b58d-63e65eda7be6", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mailbox-basic.example.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.730092Z", "updated_at":"2026-09-17T05:43:31.730092Z"}, "autodiscover":{"id":"1977f511-45f7-43e2-b94c-9f3842da8739", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mailbox-basic.example.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.936329Z", "updated_at":"2026-09-17T05:43:31.936329Z"}, "caldav":{"id":"455b3f6e-a2b5-406b-a680-7588bb7fd35b", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.313210Z", "updated_at":"2026-09-17T05:43:31.313210Z"}, "carddav":{"id":"5d1f7ce3-bcc4-48b4-be07-41be7f60595a", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.394140Z", "updated_at":"2026-09-17T05:43:31.394140Z"}, "dkim":{"id":"67bc3a23-d443-4397-9265-38ca47a62c24", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mailbox-basic.example.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApweGfeLnJqwqrdQuuVcpgKDgwAXuqW6FgNfZHsMrVqNcFY/H8wj/GF1bvhz5XsWXCZE5/oY40oZImv4IgdzVu1Rh7nPiqnaJEvjzhkAJKvcgqa2SBmU9dRaNjZtT8t8WndBf8RcQ70AX0Dz2SmgP3PzLtT9pyzmQywpNgxjz100T1kK+8wymSGI3zgb1kMlHU17FQSqjKt66ScvqMrqiGu+kftPcEHj+vhsCOrYto7O9kQxVPb4w/vUJLYgup9uIwV7bWGn1x+PA10+xvrdBJsv9wyEwePsmMRxdG5iJrgjfw815cmGo45qjbW36ZNq02Oq+TUOAjuqMfarMXJafwwIDAQAB", "created_at":"2026-09-17T05:43:30.957886Z", "updated_at":"2026-09-17T05:43:30.957886Z"}, "dmarc":{"id":"c76d2194-fe65-4f80-93e6-1fef2a61d3a9", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mailbox-basic.example.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-17T05:43:31.042998Z", "updated_at":"2026-09-17T05:43:31.042998Z"}, "domain_validation":{"id":"10616b45-964e-4249-841c-9f585b881ae5", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-basic.example.com.", "dns_value":"scaleway-mailbox=3da7b70b-3833-4a98-82fd-5f957072970c", "created_at":"2026-09-17T05:43:30.448627Z", "updated_at":"2026-09-17T05:43:30.448627Z"}, "imap":{"id":"4d789a6d-c1b1-4b19-a8a8-da4faee11579", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.477725Z", "updated_at":"2026-09-17T05:43:31.477725Z"}, "mx":{"id":"1f19933d-0e5f-452a-a034-96a9f1305b39", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mailbox-basic.example.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.148165Z", "updated_at":"2026-09-17T05:43:31.148165Z"}, "pop3":{"id":"71262fb8-3dbc-49ae-beb3-1271d78116c1", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.557521Z", "updated_at":"2026-09-17T05:43:31.557521Z"}, "spf":{"id":"354e95e3-b031-47f3-99a0-c5277445a2f0", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-basic.example.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-17T05:43:30.543268Z", "updated_at":"2026-09-17T05:43:30.543268Z"}, "submission":{"id":"39cb5417-07a5-4343-af23-c3c83baedd97", "domain_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:31.641722Z", "updated_at":"2026-09-17T05:43:31.641722Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 61.301875ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/a2e0f2d0-a184-443e-ae2a-05410e1ba460
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"a2e0f2d0-a184-443e-ae2a-05410e1ba460","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 23.274541ms
[...]
