interactions:
    - id: 0
      request:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-basic-8353743572379479236","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
      response:
        body: '{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-basic-8353743572379479236", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:52:51Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}'
        code: 200
        duration: 424.301084ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        form:
            dns_zone:
                - tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com&domain=&order_by=domain_asc
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-basic-8353743572379479236", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:52:51Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        code: 200
        duration: 191.6805ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
      response:
        body: '{"id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:52:52.095889Z", "updated_at":"2026-09-21T11:52:52.095889Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 313.182167ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/fc2413a7-3cf0-4a56-bc84-7c22e4624717
      response:
        body: '{"id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:52:52.095889Z", "updated_at":"2026-09-21T11:52:52.095889Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 213.31275ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/fc2413a7-3cf0-4a56-bc84-7c22e4624717/records
      response:
        body: '{"autoconfig":{"id":"38978cbc-bd53-45d1-95fb-b7d3d982d09a", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:53.589670Z", "updated_at":"2026-09-21T11:52:53.589670Z"}, "autodiscover":{"id":"a09a7534-0045-48f0-b807-c0c5ec13d87c", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:53.677666Z", "updated_at":"2026-09-21T11:52:53.677666Z"}, "caldav":{"id":"f4e50bc7-42ac-4444-bfda-b43aa622247c", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:53.117083Z", "updated_at":"2026-09-21T11:52:53.117083Z"}, "carddav":{"id":"6f422eaf-0b3e-4c29-bbcf-f9335ba22938", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:53.206370Z", "updated_at":"2026-09-21T11:52:53.206370Z"}, "dkim":{"id":"17331e3e-1d7d-43f7-8430-9fc8348a27cd", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsv96CkYxkYmZ5yHfCAJMXgdPWZU/4e3lZEyA1AlAvMyw5rVAwWJi0tKTVreSBtRdBLFltWElwruh0cjCC2Axe6SzjJBYQY9y+VFBWA39pOX9VximlVgGN3WulPgWYxkDgm08VYdqSWWHKyauHKcgpgrIF3pTG1AA3mJHUk3KLUOGUeADLpMneRqDCuPMrK6jOv/YaGQpNGaU1FuRIG49N0ssOw5EZnHlrQ4je5jDaaVSx37KD7gwz0wXiz012gN97ZG/WEq2r+fufaQ7YBz5zghiPjceZ2dM0J0qescUwN+51pOlWyGomnJfFKSdu7xEZSoT04X80gN6nqc1UQAhsQIDAQAB", "created_at":"2026-09-21T11:52:52.774335Z", "updated_at":"2026-09-21T11:52:52.774335Z"}, "dmarc":{"id":"18d93063-9abe-47be-8b15-a9533f40f3d3", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:52:52.857351Z", "updated_at":"2026-09-21T11:52:52.857351Z"}, "domain_validation":{"id":"63302a99-0d2f-484f-9a3d-32319be7c40f", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"scaleway-mailbox=c331282a-0ba2-4716-859b-545be26d978a", "created_at":"2026-09-21T11:52:52.391746Z", "updated_at":"2026-09-21T11:52:52.391746Z"}, "imap":{"id":"e3987d86-b860-4b4a-9feb-0e36ef781af4", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:53.295649Z", "updated_at":"2026-09-21T11:52:53.295649Z"}, "mx":{"id":"4985f69b-80cf-471b-bf4e-eaae111ca7f9", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:52.941131Z", "updated_at":"2026-09-21T11:52:52.941131Z"}, "pop3":{"id":"54cb5037-b993-47b2-afb2-5fdc5444a7b8", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:53.396167Z", "updated_at":"2026-09-21T11:52:53.396167Z"}, "spf":{"id":"da246fb7-c44b-4861-8b3b-4955fdc4ad8a", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:52:52.478074Z", "updated_at":"2026-09-21T11:52:52.478074Z"}, "submission":{"id":"28440493-be40-49a5-a88f-20eda1d9070e", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:52:53.495421Z", "updated_at":"2026-09-21T11:52:53.495421Z"}}'
        code: 200
        duration: 208.141625ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=c331282a-0ba2-4716-859b-545be26d978a","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsv96CkYxkYmZ5yHfCAJMXgdPWZU/4e3lZEyA1AlAvMyw5rVAwWJi0tKTVreSBtRdBLFltWElwruh0cjCC2Axe6SzjJBYQY9y+VFBWA39pOX9VximlVgGN3WulPgWYxkDgm08VYdqSWWHKyauHKcgpgrIF3pTG1AA3mJHUk3KLUOGUeADLpMneRqDCuPMrK6jOv/YaGQpNGaU1FuRIG49N0ssOw5EZnHlrQ4je5jDaaVSx37KD7gwz0wXiz012gN97ZG/WEq2r+fufaQ7YBz5zghiPjceZ2dM0J0qescUwN+51pOlWyGomnJfFKSdu7xEZSoT04X80gN6nqc1UQAhsQIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com/records
      response:
        body: '{"records":[{"id":"073525ec-8d38-4300-a899-38dea8174fd8", "data":"\"scaleway-mailbox=c331282a-0ba2-4716-859b-545be26d978a\"", "name":"", "priority":0, "ttl":3600, "type":"TXT", "comment":null, "upd[...]
    - id: 7
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/fc2413a7-3cf0-4a56-bc84-7c22e4624717/validate-records
      response:
        body: ""
        code: 204
        duration: 206.74425ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
[...]
    - id: 23
      request:
        body: '{"mailboxes":[{"local_part":"john.doe","password":"xxxxxxxx"}],"domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
      response:
        body: '{"mailboxes":[{"id":"234daf08-1557-45a3-9b38-443e4823e640", "project_id":"", "organization_id":"", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "email":"john.doe@tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:56:59.401612Z", "updated_at":"2026-09-21T11:56:59.401612Z", "deletion_scheduled_at":null}]}'
        code: 200
        duration: 336.709959ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 24
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/234daf08-1557-45a3-9b38-443e4823e640
      response:
        body: '{"id":"234daf08-1557-45a3-9b38-443e4823e640", "project_id":"", "organization_id":"", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "email":"john.doe@tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:56:59.401612Z", "updated_at":"2026-09-21T11:56:59.401612Z", "deletion_scheduled_at":null}'
        code: 200
        duration: 49.352375ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 45
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/234daf08-1557-45a3-9b38-443e4823e640
      response:
        body: '{"id":"234daf08-1557-45a3-9b38-443e4823e640", "project_id":"", "organization_id":"", "domain_id":"fc2413a7-3cf0-4a56-bc84-7c22e4624717", "email":"john.doe@tf-tests-mbx-basic-8353743572379479236.scaleway-terraform.com", "status":"deletion_scheduled", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-21T11:58:14Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-21T11:58:14Z", "created_at":"2026-09-21T11:56:59.401612Z", "updated_at":"2026-09-21T11:58:17.383053Z", "deletion_scheduled_at":"2026-09-21T12:08:17.383270Z"}'
        code: 200
        duration: 24.786208ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
