interactions:
    - id: 0
      request:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-pwo-8350990077737131306","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
      response:
        body: '{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-pwo-8350990077737131306", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:54:18Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}'
        code: 200
        duration: 401.811709ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        form:
            dns_zone:
                - tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com&domain=&order_by=domain_asc
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"tf-tests-mbx-pwo-8350990077737131306", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"active", "message":null, "updated_at":"2026-09-21T11:54:18Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        code: 200
        duration: 127.923542ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
      response:
        body: '{"id":"ccc5b396-5247-448c-ab3b-7453461c4345", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:54:19.263439Z", "updated_at":"2026-09-21T11:54:19.263439Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 204.901959ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/ccc5b396-5247-448c-ab3b-7453461c4345
      response:
        body: '{"id":"ccc5b396-5247-448c-ab3b-7453461c4345", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:54:19.263439Z", "updated_at":"2026-09-21T11:54:19.263439Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 163.7465ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/ccc5b396-5247-448c-ab3b-7453461c4345/records
      response:
        body: '{"autoconfig":{"id":"7cfebbb9-7cc7-4da9-850f-c013f4b1a546", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.726481Z", "updated_at":"2026-09-21T11:54:20.726481Z"}, "autodiscover":{"id":"418610e7-3a5c-4d06-b25d-dd54682743dd", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.816588Z", "updated_at":"2026-09-21T11:54:20.816588Z"}, "caldav":{"id":"112c493a-e83a-474b-b1eb-2070146f29e6", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.265803Z", "updated_at":"2026-09-21T11:54:20.265803Z"}, "carddav":{"id":"6c7f7b04-506d-42cd-903b-e1e0d765b435", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.360861Z", "updated_at":"2026-09-21T11:54:20.360861Z"}, "dkim":{"id":"4117fedc-1354-49ce-a197-b3eb058de84f", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxo6IJ595OqrZvFoZm501ix2zyclcXrLacR7yFymZUFhH4WW9L0nx5fAmq2UGOrOMDOwSRbS5KXme1eDtHyD8mKFiAXj6N4k4CSZmx9uSuM5RlZhEok5j05pL37pZgVxsFMMgycWDaiyVBgQvU1034tIAxvaNZnPDgNEgNCHVGvosfynsqWZPNx1uGK2bCQUDc6NoIrNKWkRscFurHZcIi6kQSvc34+1edCiRhBR4eCXLEA/4DCeEs1ZD6So3jznmJvYmhPvk1bTIUXyPrfhfBlZPQ6ioESLv4e41oeP4qYy0faPOKXaaKbZCGdVQ1fdBM9ta3a0AeqxsatktgvbozwIDAQAB", "created_at":"2026-09-21T11:54:19.895776Z", "updated_at":"2026-09-21T11:54:19.895776Z"}, "dmarc":{"id":"59dfa132-019e-4389-980d-f40c93d09b58", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:54:19.987180Z", "updated_at":"2026-09-21T11:54:19.987180Z"}, "domain_validation":{"id":"b106d5f6-fecf-4aba-958f-f14d62b1d6af", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"scaleway-mailbox=a8be7da9-b9d9-467c-b039-27c8682db2fc", "created_at":"2026-09-21T11:54:19.588249Z", "updated_at":"2026-09-21T11:54:19.588249Z"}, "imap":{"id":"4405238b-e6a2-471a-a03f-28ec8280ff4d", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.455794Z", "updated_at":"2026-09-21T11:54:20.455794Z"}, "mx":{"id":"c419baee-f3c3-4b4d-a042-d77e1a3fc6c3", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.082363Z", "updated_at":"2026-09-21T11:54:20.082363Z"}, "pop3":{"id":"936525b4-660d-472b-9ccc-f5bc43f90caf", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.544258Z", "updated_at":"2026-09-21T11:54:20.544258Z"}, "spf":{"id":"38ef6fad-21e0-4492-b2ce-055abde6faac", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:54:19.679758Z", "updated_at":"2026-09-21T11:54:19.679758Z"}, "submission":{"id":"d8736b1c-2eb5-4358-9b9e-ead4699c64f6", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:54:20.634884Z", "updated_at":"2026-09-21T11:54:20.634884Z"}}'
        code: 200
        duration: 162.359666ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=a8be7da9-b9d9-467c-b039-27c8682db2fc","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxo6IJ595OqrZvFoZm501ix2zyclcXrLacR7yFymZUFhH4WW9L0nx5fAmq2UGOrOMDOwSRbS5KXme1eDtHyD8mKFiAXj6N4k4CSZmx9uSuM5RlZhEok5j05pL37pZgVxsFMMgycWDaiyVBgQvU1034tIAxvaNZnPDgNEgNCHVGvosfynsqWZPNx1uGK2bCQUDc6NoIrNKWkRscFurHZcIi6kQSvc34+1edCiRhBR4eCXLEA/4DCeEs1ZD6So3jznmJvYmhPvk1bTIUXyPrfhfBlZPQ6ioESLv4e41oeP4qYy0faPOKXaaKbZCGdVQ1fdBM9ta3a0AeqxsatktgvbozwIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com/records
      response:
        body: '{"records":[{"id":"36db0722-f5fb-491a-8b70-f8e610490f36", "data":"\"scaleway-mailbox=a8be7da9-b9d9-467c-b039-27c8682db2fc\"", "name":"", "priority":0, "ttl":3600, "type":"TXT", "comment":null, "updat[...]
    - id: 7
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/ccc5b396-5247-448c-ab3b-7453461c4345/validate-records
      response:
        body: ""
        code: 204
        duration: 153.181833ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
[...]
    - id: 25
      request:
        body: '{"mailboxes":[{"local_part":"pwd.wo","password":"xxxxxxxx"}],"domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
      response:
        body: '{"mailboxes":[{"id":"f3fb1774-348d-4957-bb00-05e3a14947df", "project_id":"", "organization_id":"", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "email":"pwd.wo@tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:56:04.432412Z", "updated_at":"2026-09-21T11:56:04.432412Z", "deletion_scheduled_at":null}]}'
        code: 200
        duration: 356.24025ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 26
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/f3fb1774-348d-4957-bb00-05e3a14947df
      response:
        body: '{"id":"f3fb1774-348d-4957-bb00-05e3a14947df", "project_id":"", "organization_id":"", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "email":"pwd.wo@tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-21T11:56:04.432412Z", "updated_at":"2026-09-21T11:56:04.432412Z", "deletion_scheduled_at":null}'
        code: 200
        duration: 36.323583ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 40
      request:
        body: '{"new_password":"xxxxxxxx"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/f3fb1774-348d-4957-bb00-05e3a14947df
      response:
        body: '{"id":"f3fb1774-348d-4957-bb00-05e3a14947df", "project_id":"", "organization_id":"", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "email":"pwd.wo@tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com", "status":"ready", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-21T11:56:54Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-21T11:56:54Z", "created_at":"2026-09-21T11:56:04.432412Z", "updated_at":"2026-09-21T11:56:57.474594Z", "deletion_scheduled_at":null}'
        code: 200
        duration: 203.62025ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 45
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/f3fb1774-348d-4957-bb00-05e3a14947df
      response:
        body: '{"id":"f3fb1774-348d-4957-bb00-05e3a14947df", "project_id":"", "organization_id":"", "domain_id":"ccc5b396-5247-448c-ab3b-7453461c4345", "email":"pwd.wo@tf-tests-mbx-pwo-8350990077737131306.scaleway-terraform.com", "status":"deletion_scheduled", "subscription_period":"monthly", "subscription_period_started_at":"2026-09-21T11:56:54Z", "next_subscription_period":"unknown_subscription_period", "next_subscription_period_starts_at":"2026-10-21T11:56:54Z", "created_at":"2026-09-21T11:56:04.432412Z", "updated_at":"2026-09-21T11:56:58.440380Z", "deletion_scheduled_at":"2026-09-21T12:06:58.441369Z"}'
        code: 200
        duration: 104.201708ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
