---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mailbox-basic.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mailbox-basic.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:57:01.130209Z", "updated_at":"2026-09-21T11:57:01.130209Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 337.051291ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/ca91ae83-1a40-4614-9f2e-433e61bc1a93
        method: GET
      response:
        body: '{"id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "organization_id":"", "name":"tf-tests-mailbox-basic.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-21T11:57:01.130209Z", "updated_at":"2026-09-21T11:57:01.130209Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 177.256708ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/ca91ae83-1a40-4614-9f2e-433e61bc1a93/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"8cee2623-f853-47be-b5cc-341470a2ab6b", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mailbox-basic.example.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:03.120115Z", "updated_at":"2026-09-21T11:57:03.120115Z"}, "autodiscover":{"id":"f9d268f5-0f83-4bcb-9586-a00c0801e3ca", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mailbox-basic.example.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:03.218228Z", "updated_at":"2026-09-21T11:57:03.218228Z"}, "caldav":{"id":"41047864-db05-4e9c-bc3f-cf1d9b716012", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:02.134245Z", "updated_at":"2026-09-21T11:57:02.134245Z"}, "carddav":{"id":"3f8f60f5-80ec-4658-8c18-78b428e13246", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:02.278294Z", "updated_at":"2026-09-21T11:57:02.278294Z"}, "dkim":{"id":"9369c9a1-1674-4fa5-845c-79aab6871e09", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mailbox-basic.example.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApweGfeLnJqwqrdQuuVcpgKDgwAXuqW6FgNfZHsMrVqNcFY/H8wj/GF1bvhz5XsWXCZE5/oY40oZImv4IgdzVu1Rh7nPiqnaJEvjzhkAJKvcgqa2SBmU9dRaNjZtT8t8WndBf8RcQ70AX0Dz2SmgP3PzLtT9pyzmQywpNgxjz100T1kK+8wymSGI3zgb1kMlHU17FQSqjKt66ScvqMrqiGu+kftPcEHj+vhsCOrYto7O9kQxVPb4w/vUJLYgup9uIwV7bWGn1x+PA10+xvrdBJsv9wyEwePsmMRxdG5iJrgjfw815cmGo45qjbW36ZNq02Oq+TUOAjuqMfarMXJafwwIDAQAB", "created_at":"2026-09-21T11:57:01.698045Z", "updated_at":"2026-09-21T11:57:01.698045Z"}, "dmarc":{"id":"148e3975-8ea7-43d4-9184-009c183ede17", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mailbox-basic.example.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-21T11:57:01.789956Z", "updated_at":"2026-09-21T11:57:01.789956Z"}, "domain_validation":{"id":"6e537bf3-ad01-45e8-a49d-c4aa2a505eff", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-basic.example.com.", "dns_value":"scaleway-mailbox=ac3e95f1-573b-4f0e-b422-308e171a39e7", "created_at":"2026-09-21T11:57:01.407100Z", "updated_at":"2026-09-21T11:57:01.407100Z"}, "imap":{"id":"dac89a36-dbfe-4653-9096-7bc49da9ff8e", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:02.404959Z", "updated_at":"2026-09-21T11:57:02.404959Z"}, "mx":{"id":"0b0f8187-0500-4fdc-b8dc-e9de380e2e77", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mailbox-basic.example.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:01.883591Z", "updated_at":"2026-09-21T11:57:01.883591Z"}, "pop3":{"id":"a608320b-42ad-4cbc-b9f1-9deb2a9c0814", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:02.663885Z", "updated_at":"2026-09-21T11:57:02.663885Z"}, "spf":{"id":"b572e6f5-097f-4122-a96a-5f1d5c869e65", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-basic.example.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-21T11:57:01.495902Z", "updated_at":"2026-09-21T11:57:01.495902Z"}, "submission":{"id":"6f27bbb3-55c2-449e-8058-9a51018efb47", "domain_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mailbox-basic.example.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-21T11:57:02.957839Z", "updated_at":"2026-09-21T11:57:02.957839Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 131.760708ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/ca91ae83-1a40-4614-9f2e-433e61bc1a93
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"ca91ae83-1a40-4614-9f2e-433e61bc1a93","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 192.391625ms
[...]
