---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-proj.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-proj.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:43:42.665285Z", "updated_at":"2026-09-17T05:43:42.665285Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 110.631875ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/3bc19b72-6b95-4ddd-a1ff-01ce0208a062
        method: GET
      response:
        body: '{"id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-proj.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:43:42.665285Z", "updated_at":"2026-09-17T05:43:42.665285Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 55.5175ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/3bc19b72-6b95-4ddd-a1ff-01ce0208a062/records
        method: GET
      response:
        body: '{"autoconfig":{"id":"4c279416-0ede-4c73-a1fa-0b417876a1f8", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autoconfig.tf-tests-mailbox-proj.example.com.", "dns_value":"autoconfig.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:44.538522Z", "updated_at":"2026-09-17T05:43:44.538522Z"}, "autodiscover":{"id":"d575c204-83ad-4ab9-be50-c2320932018e", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"recommended", "dns_type":"cname_dns_type", "dns_name":"autodiscover.tf-tests-mailbox-proj.example.com.", "dns_value":"autodiscover.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:44.618580Z", "updated_at":"2026-09-17T05:43:44.618580Z"}, "caldav":{"id":"c643bfa5-1273-47c8-980c-65445c89c428", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_caldavs._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 443 caldav.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:44.100557Z", "updated_at":"2026-09-17T05:43:44.100557Z"}, "carddav":{"id":"9b688beb-50b0-4683-a85f-3698b712eae0", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"optional", "dns_type":"srv_dns_type", "dns_name":"_carddavs._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 443 carddav.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:44.187522Z", "updated_at":"2026-09-17T05:43:44.187522Z"}, "dkim":{"id":"17647f44-4feb-4f49-a61f-cac880c6a1e3", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"scw-mbox._domainkey.tf-tests-mailbox-proj.example.com.", "dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuRM3aFzX6oBkJ9lMRn7QtJQ0yWa8GueBOJTxSumsq4ZbrS6vWH6/cvOfOpuHaK8V8M/pmg2eIVxCUahEymJwbsTuFTDmwk2TQbfY+JfBUwIhc9QE94GAwg8FsL2Nrq0imGkXZxPlEcckmz0hKvpVppFx6qgdClc9SYU069YCsFhxa4aNuOFmdQRr08+QzCu3bggNmRYFBFZqlyNTBec/iHO/VGVYoXRHcwLrMtfc68zkCQqS/wCzqKayb3pCm6vy+qFf/zqJl5eosg2o0hg0ozQfdVs92zLcU0JbJ9VNYT+wiSg3Q95ULBW7cuFsA+9197/0UQTETW9duAOoPbPHWwIDAQAB", "created_at":"2026-09-17T05:43:43.760204Z", "updated_at":"2026-09-17T05:43:43.760204Z"}, "dmarc":{"id":"2c7e9e50-67e8-44a0-b167-31b62578a722", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"_dmarc.tf-tests-mailbox-proj.example.com.", "dns_value":"v=DMARC1; p=none", "created_at":"2026-09-17T05:43:43.843261Z", "updated_at":"2026-09-17T05:43:43.843261Z"}, "domain_validation":{"id":"63977eeb-8f82-493a-8af5-07ce1fbd5099", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-proj.example.com.", "dns_value":"scaleway-mailbox=c774a12c-3cb6-4ba3-894f-649a4af3d2f1", "created_at":"2026-09-17T05:43:43.235022Z", "updated_at":"2026-09-17T05:43:43.235022Z"}, "imap":{"id":"3975c4f2-92cc-4fb2-8e1b-dd47aa010ee0", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_imaps._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 993 imap.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:44.273337Z", "updated_at":"2026-09-17T05:43:44.273337Z"}, "mx":{"id":"db1c2894-7335-4889-b93d-ade7b182e12c", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"required", "dns_type":"mx_dns_type", "dns_name":"tf-tests-mailbox-proj.example.com.", "dns_value":"10 smtp.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:43.928487Z", "updated_at":"2026-09-17T05:43:43.928487Z"}, "pop3":{"id":"addb8ae1-d7a2-40fa-b5e4-ef90fa62856e", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_pop3s._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 995 pop3.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:44.359929Z", "updated_at":"2026-09-17T05:43:44.359929Z"}, "spf":{"id":"a82bdfb2-186b-4b9e-a9c7-1227d5d27d53", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"required", "dns_type":"txt_dns_type", "dns_name":"tf-tests-mailbox-proj.example.com.", "dns_value":"v=spf1 include:spf.mailbox.scw.eu -all", "created_at":"2026-09-17T05:43:43.317723Z", "updated_at":"2026-09-17T05:43:43.317723Z"}, "submission":{"id":"c452bd56-61f0-4257-8214-870fcaa1be62", "domain_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062", "status":"unknown_status", "level":"recommended", "dns_type":"srv_dns_type", "dns_name":"_submissions._tcp.tf-tests-mailbox-proj.example.com.", "dns_value":"0 1 465 smtp.mailbox.scw.eu.", "created_at":"2026-09-17T05:43:44.451705Z", "updated_at":"2026-09-17T05:43:44.451705Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 153.377208ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/3bc19b72-6b95-4ddd-a1ff-01ce0208a062
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"3bc19b72-6b95-4ddd-a1ff-01ce0208a062","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 24.8875ms
[...]
