interactions:
    - id: 0
      request:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-pwd-7110239898523085246","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
      response:
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-pwd-7110239898523085246","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"active","message":null,"updated_at":"2026-09-22T03:52:20Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}'
        code: 200
        duration: 369.702375ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        form:
            dns_zone:
                - tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com&domain=&order_by=domain_asc
      response:
        body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"tf-tests-mbx-pwd-7110239898523085246","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"active","message":null,"updated_at":"2026-09-22T03:52:20Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}]}'
        code: 200
        duration: 167.979208ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
      response:
        body: '{"id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_id":"","name":"tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com","status":"creating","mailbox_total_count":0,"created_at":"2026-09-22T03:52:20.604330Z","updated_at":"2026-09-22T03:52:20.604330Z","webmail_url":"https://mailbox.scw.eu","imap_url":"imap.mailbox.scw.eu","pop3_url":"pop3.mailbox.scw.eu","smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 210.50075ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/e2d7d4eb-3ae3-4717-9f80-47306ab61391
      response:
        body: '{"id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","organization_id":"","name":"tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com","status":"creating","mailbox_total_count":0,"created_at":"2026-09-22T03:52:20.604330Z","updated_at":"2026-09-22T03:52:20.604330Z","webmail_url":"https://mailbox.scw.eu","imap_url":"imap.mailbox.scw.eu","pop3_url":"pop3.mailbox.scw.eu","smtp_url":"smtp.mailbox.scw.eu"}'
        code: 200
        duration: 28.6815ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 5
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/e2d7d4eb-3ae3-4717-9f80-47306ab61391/records
      response:
        body: '{"autoconfig":{"id":"4cc591eb-7b66-4141-a86a-cfe283a116bf","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"recommended","dns_type":"cname_dns_type","dns_name":"autoconfig.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"autoconfig.mailbox.scw.eu.","created_at":"2026-09-22T03:52:22.102763Z","updated_at":"2026-09-22T03:52:22.102763Z"},"autodiscover":{"id":"444a2f72-5032-4103-bf1e-a56a92a49c69","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"recommended","dns_type":"cname_dns_type","dns_name":"autodiscover.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"autodiscover.mailbox.scw.eu.","created_at":"2026-09-22T03:52:22.204821Z","updated_at":"2026-09-22T03:52:22.204821Z"},"caldav":{"id":"d8211cb5-5962-485b-83fa-f58c5c9549dc","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"optional","dns_type":"srv_dns_type","dns_name":"_caldavs._tcp.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"0 1 443 caldav.mailbox.scw.eu.","created_at":"2026-09-22T03:52:21.658071Z","updated_at":"2026-09-22T03:52:21.658071Z"},"carddav":{"id":"9be7f706-29d7-496f-bd42-e307c3e31db5","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"optional","dns_type":"srv_dns_type","dns_name":"_carddavs._tcp.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"0 1 443 carddav.mailbox.scw.eu.","created_at":"2026-09-22T03:52:21.746205Z","updated_at":"2026-09-22T03:52:21.746205Z"},"dkim":{"id":"35fc1b24-5fc9-4a7a-8c67-8c79fdfa2241","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"scw-mbox._domainkey.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2loRzgmpBSJEfQw625BwZfD6Vhci4OFGZTqayCScDRNpOjXW+ExH0JZMQKyxKARYRvWAzcNRTHZc3BPOW0efhYviHg37qOLVEPZeHh6CRq5CZeQEgNd9K+RcIfqya6XzMaoRIn74pmUZAcXS6DoK4mR4DmMqWBY3+QTiT+RWpK6MuoPbRjrXmFlph/Ki4emfRxcQ9ifhaW0vrohct13SJ/la9CVvDsvlWkbLufOBSswjQ4cZwc9itFjoEiFSH9kmzMQR8UlZ5Zn1wnAG3WI34dMo1U8GQzoXzVoBWOhOrUJdnZGYj0fxWgomNphsrGZm6qWTZTUJCcn/n7gOX44FwQIDAQAB","created_at":"2026-09-22T03:52:21.298085Z","updated_at":"2026-09-22T03:52:21.298085Z"},"dmarc":{"id":"00564b8e-a21c-4388-85a3-7bbc5b16f832","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"_dmarc.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"v=DMARC1; p=none","created_at":"2026-09-22T03:52:21.379904Z","updated_at":"2026-09-22T03:52:21.379904Z"},"domain_validation":{"id":"c7229a18-c034-40a1-a887-57901281e329","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"scaleway-mailbox=2743c629-393e-43d0-a9b3-8128b04fc848","created_at":"2026-09-22T03:52:20.888142Z","updated_at":"2026-09-22T03:52:20.888142Z"},"imap":{"id":"1aa8f67f-8ce1-4dcc-85cc-26b0df14dd43","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_imaps._tcp.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"0 1 993 imap.mailbox.scw.eu.","created_at":"2026-09-22T03:52:21.829761Z","updated_at":"2026-09-22T03:52:21.829761Z"},"mx":{"id":"2ee66b6e-cc72-4834-8fac-4f76d3f18cbb","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"required","dns_type":"mx_dns_type","dns_name":"tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"10 smtp.mailbox.scw.eu.","created_at":"2026-09-22T03:52:21.469152Z","updated_at":"2026-09-22T03:52:21.469152Z"},"pop3":{"id":"690cf59e-9c20-4167-a045-569c3e2e5491","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_pop3s._tcp.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"0 1 995 pop3.mailbox.scw.eu.","created_at":"2026-09-22T03:52:21.913917Z","updated_at":"2026-09-22T03:52:21.913917Z"},"spf":{"id":"2823e7d7-76f1-4f8b-856d-ad26e331783f","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"required","dns_type":"txt_dns_type","dns_name":"tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"v=spf1 include:spf.mailbox.scw.eu -all","created_at":"2026-09-22T03:52:20.976475Z","updated_at":"2026-09-22T03:52:20.976475Z"},"submission":{"id":"4b7e75a8-7c73-4bb9-bf88-cd46deb680c0","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","status":"unknown_status","level":"recommended","dns_type":"srv_dns_type","dns_name":"_submissions._tcp.tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com.","dns_value":"0 1 465 smtp.mailbox.scw.eu.","created_at":"2026-09-22T03:52:22.004509Z","updated_at":"2026-09-22T03:52:22.004509Z"}}'
        code: 200
        duration: 200.118917ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"changes":[{"add":{"records":[{"data":"scaleway-mailbox=2743c629-393e-43d0-a9b3-8128b04fc848","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"smtp.mailbox.scw.eu.","name":"","priority":10,"ttl":3600,"type":"MX","comment":null,"id":"","updated_at":null},{"data":"v=DMARC1; p=none","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2loRzgmpBSJEfQw625BwZfD6Vhci4OFGZTqayCScDRNpOjXW+ExH0JZMQKyxKARYRvWAzcNRTHZc3BPOW0efhYviHg37qOLVEPZeHh6CRq5CZeQEgNd9K+RcIfqya6XzMaoRIn74pmUZAcXS6DoK4mR4DmMqWBY3+QTiT+RWpK6MuoPbRjrXmFlph/Ki4emfRxcQ9ifhaW0vrohct13SJ/la9CVvDsvlWkbLufOBSswjQ4cZwc9itFjoEiFSH9kmzMQR8UlZ5Zn1wnAG3WI34dMo1U8GQzoXzVoBWOhOrUJdnZGYj0fxWgomNphsrGZm6qWTZTUJCcn/n7gOX44FwQIDAQAB","name":"scw-mbox._domainkey","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null},{"data":"v=spf1 include:spf.mailbox.scw.eu -all","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com/records
      response:
        body: '{"records":[{"id":"46793ab7-1665-4a49-93bb-78e29a9fec4d","data":"\"scaleway-mailbox=2743c629-393e-43d0-a9b3-8128b04fc848\"","name":"","priority":0,"ttl":3600,"type":"TXT","comment":null,"updated_at":[...]
    - id: 7
      request:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/e2d7d4eb-3ae3-4717-9f80-47306ab61391/validate-records
      response:
        body: ""
        code: 204
        duration: 95.090375ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
[...]
    - id: 22
      request:
        body: '{"domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","mailboxes":[{"local_part":"pwd.change","password":"xxxxxxxx"}],"subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
      response:
        body: '{"mailboxes":[{"id":"f85538aa-833a-4260-b7ed-2736ae25a8df","project_id":"","organization_id":"","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","email":"pwd.change@tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com","status":"waiting_payment","subscription_period":"unknown_subscription_period","subscription_period_started_at":null,"next_subscription_period":"monthly","next_subscription_period_starts_at":null,"created_at":"2026-09-22T03:54:02.151286Z","updated_at":"2026-09-22T03:54:02.151286Z","deletion_scheduled_at":null}]}'
        code: 200
        duration: 316.599333ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 23
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/f85538aa-833a-4260-b7ed-2736ae25a8df
      response:
        body: '{"id":"f85538aa-833a-4260-b7ed-2736ae25a8df","project_id":"","organization_id":"","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","email":"pwd.change@tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com","status":"waiting_payment","subscription_period":"unknown_subscription_period","subscription_period_started_at":null,"next_subscription_period":"monthly","next_subscription_period_starts_at":null,"created_at":"2026-09-22T03:54:02.151286Z","updated_at":"2026-09-22T03:54:02.151286Z","deletion_scheduled_at":null}'
        code: 200
        duration: 144.568166ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 43
      request:
        body: '{"new_password":"xxxxxxxx"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: PATCH
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/f85538aa-833a-4260-b7ed-2736ae25a8df
      response:
        body: '{"id":"f85538aa-833a-4260-b7ed-2736ae25a8df","project_id":"","organization_id":"","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","email":"pwd.change@tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com","status":"ready","subscription_period":"monthly","subscription_period_started_at":"2026-09-22T03:55:18Z","next_subscription_period":"unknown_subscription_period","next_subscription_period_starts_at":"2026-10-22T03:55:18Z","created_at":"2026-09-22T03:54:02.151286Z","updated_at":"2026-09-22T03:55:25.118752Z","deletion_scheduled_at":null}'
        code: 200
        duration: 210.341584ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 49
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/f85538aa-833a-4260-b7ed-2736ae25a8df
      response:
        body: '{"id":"f85538aa-833a-4260-b7ed-2736ae25a8df","project_id":"","organization_id":"","domain_id":"e2d7d4eb-3ae3-4717-9f80-47306ab61391","email":"pwd.change@tf-tests-mbx-pwd-7110239898523085246.scaleway-terraform.com","status":"deletion_scheduled","subscription_period":"monthly","subscription_period_started_at":"2026-09-22T03:55:18Z","next_subscription_period":"unknown_subscription_period","next_subscription_period_starts_at":"2026-10-22T03:55:18Z","created_at":"2026-09-22T03:54:02.151286Z","updated_at":"2026-09-22T03:55:25.968066Z","deletion_scheduled_at":"2026-09-22T04:05:25.969591Z"}'
        code: 200
        duration: 31.478209ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
