---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-fn-110520759927373910.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"c9796283-529c-41f8-af3d-d3402c91391d", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-fn-110520759927373910.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:38:23.051326Z", "updated_at":"2026-09-17T04:38:23.051326Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.119583ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/c9796283-529c-41f8-af3d-d3402c91391d
        method: GET
      response:
        body: '{"id":"c9796283-529c-41f8-af3d-d3402c91391d", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-fn-110520759927373910.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:38:23.051326Z", "updated_at":"2026-09-17T04:38:23.051326Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 31.092875ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mailboxes":[{"local_part":"original","password":"S3cur3P@ssw0rd!"}],"domain_id":"c9796283-529c-41f8-af3d-d3402c91391d","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
        method: POST
      response:
        body: '{"mailboxes":[{"id":"72acd498-e7f9-4ef9-8f38-28ffa2498e13", "project_id":"", "organization_id":"", "domain_id":"c9796283-529c-41f8-af3d-d3402c91391d", "email":"original@tf-tests-mailbox-fn-110520759927373910.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:40:22.209842Z", "updated_at":"2026-09-17T04:40:22.209842Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 221.524875ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/72acd498-e7f9-4ef9-8f38-28ffa2498e13
        method: GET
      response:
        body: '{"id":"72acd498-e7f9-4ef9-8f38-28ffa2498e13", "project_id":"", "organization_id":"", "domain_id":"c9796283-529c-41f8-af3d-d3402c91391d", "email":"original@tf-tests-mailbox-fn-110520759927373910.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:40:22.209842Z", "updated_at":"2026-09-17T04:40:22.209842Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 26.40175ms
[...]
