---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-5792076439038350340.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"1b3fe3f4-96ad-4d06-9815-9ef280c269e0", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-5792076439038350340.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:38:02.201375Z", "updated_at":"2026-09-17T04:38:02.201375Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 181.946333ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/1b3fe3f4-96ad-4d06-9815-9ef280c269e0
        method: GET
      response:
        body: '{"id":"1b3fe3f4-96ad-4d06-9815-9ef280c269e0", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-5792076439038350340.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T04:38:02.201375Z", "updated_at":"2026-09-17T04:38:02.201375Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 31.032542ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mailboxes":[{"local_part":"john.doe","password":"S3cur3P@ssw0rd!"}],"domain_id":"1b3fe3f4-96ad-4d06-9815-9ef280c269e0","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
        method: POST
      response:
        body: '{"mailboxes":[{"id":"3f11a4c7-575c-47ad-b438-a40330d784af", "project_id":"", "organization_id":"", "domain_id":"1b3fe3f4-96ad-4d06-9815-9ef280c269e0", "email":"john.doe@tf-tests-mailbox-5792076439038350340.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:38:29.239201Z", "updated_at":"2026-09-17T04:38:29.239201Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 340.247167ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/3f11a4c7-575c-47ad-b438-a40330d784af
        method: GET
      response:
        body: '{"id":"3f11a4c7-575c-47ad-b438-a40330d784af", "project_id":"", "organization_id":"", "domain_id":"1b3fe3f4-96ad-4d06-9815-9ef280c269e0", "email":"john.doe@tf-tests-mailbox-5792076439038350340.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T04:38:29.239201Z", "updated_at":"2026-09-17T04:38:29.239201Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.775292ms
[...]
