---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-mailbox-pwo-6956274741717851796.example.com"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/domains
        method: POST
      response:
        body: '{"id":"a44020f8-3003-4fd6-9a1e-c4c15733d8fa", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-pwo-6956274741717851796.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:14:33.249257Z", "updated_at":"2026-09-17T05:14:33.249257Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 196.885125ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/domains/a44020f8-3003-4fd6-9a1e-c4c15733d8fa
        method: GET
      response:
        body: '{"id":"a44020f8-3003-4fd6-9a1e-c4c15733d8fa", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "organization_id":"", "name":"tf-tests-mailbox-pwo-6956274741717851796.example.com", "status":"creating", "mailbox_total_count":0, "created_at":"2026-09-17T05:14:33.249257Z", "updated_at":"2026-09-17T05:14:33.249257Z", "webmail_url":"https://mailbox.scw.eu", "imap_url":"imap.mailbox.scw.eu", "pop3_url":"pop3.mailbox.scw.eu", "smtp_url":"smtp.mailbox.scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 34.70975ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"mailboxes":[{"local_part":"pwd.wo","password":"S3cur3P@ssw0rd!"}],"domain_id":"a44020f8-3003-4fd6-9a1e-c4c15733d8fa","subscription_period":"monthly"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mailbox/v1alpha1/batch-create-mailboxes
        method: POST
      response:
        body: '{"mailboxes":[{"id":"0b2425a1-078d-4980-b2cb-12e90a61e46f", "project_id":"", "organization_id":"", "domain_id":"a44020f8-3003-4fd6-9a1e-c4c15733d8fa", "email":"pwd.wo@tf-tests-mailbox-pwo-6956274741717851796.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T05:14:39.236434Z", "updated_at":"2026-09-17T05:14:39.236434Z", "deletion_scheduled_at":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 285.613ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mailbox/v1alpha1/mailboxes/0b2425a1-078d-4980-b2cb-12e90a61e46f
        method: GET
      response:
        body: '{"id":"0b2425a1-078d-4980-b2cb-12e90a61e46f", "project_id":"", "organization_id":"", "domain_id":"a44020f8-3003-4fd6-9a1e-c4c15733d8fa", "email":"pwd.wo@tf-tests-mailbox-pwo-6956274741717851796.example.com", "status":"waiting_payment", "subscription_period":"unknown_subscription_period", "subscription_period_started_at":null, "next_subscription_period":"monthly", "next_subscription_period_starts_at":null, "created_at":"2026-09-17T05:14:39.236434Z", "updated_at":"2026-09-17T05:14:39.236434Z", "deletion_scheduled_at":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 126.90625ms
[...]
