---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.767417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-ds-opensearch-by-name","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-06-09T09:10:18.450049Z","endpoints":[{"dns_record":"","id":"f9e6e6d8-6823-4819-9466-9ef10b46f811","public":{},"services":[{"name":"dashboard","port":5601,"url":"efa91656-ec91-4527-800e-56926b0628db.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"efa91656-ec91-4527-800e-56926b0628db.scbl.fr-par.scw.cloud"}]}],"id":"efa91656-ec91-4527-800e-56926b0628db","name":"tf-test-ds-opensearch-by-name","node_amount":1,"node_count":0,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.251125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/efa91656-ec91-4527-800e-56926b0628db
        method: GET
      response:
        body: '{"created_at":"2026-06-09T09:10:18.450049Z","endpoints":[{"dns_record":"","id":"f9e6e6d8-6823-4819-9466-9ef10b46f811","public":{},"services":[{"name":"dashboard","port":5601,"url":"efa91656-ec91-4527-800e-56926b0628db.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"efa91656-ec91-4527-800e-56926b0628db.scbl.fr-par.scw.cloud"}]}],"id":"efa91656-ec91-4527-800e-56926b0628db","name":"tf-test-ds-opensearch-by-name","node_amount":1,"node_count":0,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.398666ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?name=tf-test-ds-opensearch-by-name&order_by=created_at_asc
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-06-09T09:10:18.450049Z","endpoints":[{"dns_record":"","id":"f9e6e6d8-6823-4819-9466-9ef10b46f811","public":{},"services":[{"name":"dashboard","port":5601,"url":"efa91656-ec91-4527-800e-56926b0628db.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"efa91656-ec91-4527-800e-56926b0628db.scbl.fr-par.scw.cloud"}]}],"id":"efa91656-ec91-4527-800e-56926b0628db","name":"tf-test-ds-opensearch-by-name","node_amount":1,"node_count":0,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":[],"updated_at":"2026-06-09T09:16:53.971506Z","version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.201209ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/efa91656-ec91-4527-800e-56926b0628db
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"efa91656-ec91-4527-800e-56926b0628db","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 170.20875ms
[...]
