---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.016724ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-ds-opensearch-by-name","tags":null,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-07-27T16:09:29.405307Z","endpoints":[{"dns_record":"","id":"be3c7876-232f-47c8-af29-a015bfa6e121","public":{},"services":[{"name":"dashboard","port":5601,"url":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f.scbl.fr-par.scw.cloud"}]}],"id":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f","name":"tf-test-ds-opensearch-by-name","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 432.229538ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/ca9c1e1b-6892-4b71-8d74-2c338cfb234f
        method: GET
      response:
        body: '{"created_at":"2026-07-27T16:09:29.405307Z","endpoints":[{"dns_record":"","id":"be3c7876-232f-47c8-af29-a015bfa6e121","public":{},"services":[{"name":"dashboard","port":5601,"url":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f.scbl.fr-par.scw.cloud"}]}],"id":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f","name":"tf-test-ds-opensearch-by-name","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.272652ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?name=tf-test-ds-opensearch-by-name&order_by=created_at_asc
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-07-27T16:09:29.405307Z","endpoints":[{"dns_record":"","id":"be3c7876-232f-47c8-af29-a015bfa6e121","public":{},"services":[{"name":"dashboard","port":5601,"url":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f.scbl.fr-par.scw.cloud"}]}],"id":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f","name":"tf-test-ds-opensearch-by-name","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":[],"updated_at":"2026-07-27T16:22:59.712278Z","version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.224624ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/ca9c1e1b-6892-4b71-8d74-2c338cfb234f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"ca9c1e1b-6892-4b71-8d74-2c338cfb234f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.36926ms
[...]
