---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.435333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"SEARCHDB-SHARED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"SEARCHDB-SHARED-4C-16G","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.307917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-ds-opensearch-by-id","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-03-10T09:41:04.635620Z","endpoints":[{"dns_record":"","id":"26d8a5c3-8143-4c52-946f-1930e1ec7bae","public":{},"services":[{"name":"dashboard","port":5601,"url":"0ecc997b-5940-41ae-be9b-325c0cbfb6dd.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"0ecc997b-5940-41ae-be9b-325c0cbfb6dd.scbl.fr-par.scw.cloud"}]}],"id":"0ecc997b-5940-41ae-be9b-325c0cbfb6dd","name":"tf-test-ds-opensearch-by-id","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.903333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/0ecc997b-5940-41ae-be9b-325c0cbfb6dd
        method: GET
      response:
        body: '{"created_at":"2026-03-10T09:41:04.635620Z","endpoints":[{"dns_record":"","id":"26d8a5c3-8143-4c52-946f-1930e1ec7bae","public":{},"services":[{"name":"dashboard","port":5601,"url":"0ecc997b-5940-41ae-be9b-325c0cbfb6dd.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"0ecc997b-5940-41ae-be9b-325c0cbfb6dd.scbl.fr-par.scw.cloud"}]}],"id":"0ecc997b-5940-41ae-be9b-325c0cbfb6dd","name":"tf-test-ds-opensearch-by-id","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.011875ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/0ecc997b-5940-41ae-be9b-325c0cbfb6dd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"0ecc997b-5940-41ae-be9b-325c0cbfb6dd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 80.081084ms
[...]
