---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.064ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"SEARCHDB-SHARED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"SEARCHDB-SHARED-4C-16G","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.534542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-ds-opensearch-by-id","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:15:25.448066Z","endpoints":[{"dns_record":"","id":"3b15d614-c17c-4c1b-8524-7ede96723d78","public":{},"services":[{"name":"dashboard","port":5601,"url":"7f7925a0-8976-4fa7-a57a-2f0c546a7280.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"7f7925a0-8976-4fa7-a57a-2f0c546a7280.scbl.fr-par.scw.cloud"}]}],"id":"7f7925a0-8976-4fa7-a57a-2f0c546a7280","name":"tf-test-ds-opensearch-by-id","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 410.728959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/7f7925a0-8976-4fa7-a57a-2f0c546a7280
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:15:25.448066Z","endpoints":[{"dns_record":"","id":"3b15d614-c17c-4c1b-8524-7ede96723d78","public":{},"services":[{"name":"dashboard","port":5601,"url":"7f7925a0-8976-4fa7-a57a-2f0c546a7280.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"7f7925a0-8976-4fa7-a57a-2f0c546a7280.scbl.fr-par.scw.cloud"}]}],"id":"7f7925a0-8976-4fa7-a57a-2f0c546a7280","name":"tf-test-ds-opensearch-by-id","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.676834ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/7f7925a0-8976-4fa7-a57a-2f0c546a7280
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"7f7925a0-8976-4fa7-a57a-2f0c546a7280","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.727584ms
[...]
