---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.269083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"SEARCHDB-SHARED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"SEARCHDB-SHARED-4C-16G","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.397ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:15:25.447880Z","custom_routes_propagation_enabled":true,"id":"14cf34ff-fb84-488b-a1d5-81dc09f33598","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:15:25.447880Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.200417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/14cf34ff-fb84-488b-a1d5-81dc09f33598
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:15:25.447880Z","custom_routes_propagation_enabled":true,"id":"14cf34ff-fb84-488b-a1d5-81dc09f33598","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:15:25.447880Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.49575ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"14cf34ff-fb84-488b-a1d5-81dc09f33598","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:15:25.682834Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-03-24T09:15:25.682834Z","id":"697fbbd6-83d2-4e1b-bd63-13baadf386b6","private_network_id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.21.64.0/22","updated_at":"2026-03-24T09:15:25.682834Z","vpc_id":"14cf34ff-fb84-488b-a1d5-81dc09f33598"},{"created_at":"2026-03-24T09:15:25.682834Z","id":"b79a2a7f-29bb-44cc-9635-aa5afe97f0ae","private_network_id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2959::/64","updated_at":"2026-03-24T09:15:25.682834Z","vpc_id":"14cf34ff-fb84-488b-a1d5-81dc09f33598"}],"tags":[],"updated_at":"2026-03-24T09:15:25.682834Z","vpc_id":"14cf34ff-fb84-488b-a1d5-81dc09f33598"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 769.501792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/469f7ccb-5c49-4a70-9a07-b612e4f1f800
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:15:25.682834Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-03-24T09:15:25.682834Z","id":"697fbbd6-83d2-4e1b-bd63-13baadf386b6","private_network_id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.21.64.0/22","updated_at":"2026-03-24T09:15:25.682834Z","vpc_id":"14cf34ff-fb84-488b-a1d5-81dc09f33598"},{"created_at":"2026-03-24T09:15:25.682834Z","id":"b79a2a7f-29bb-44cc-9635-aa5afe97f0ae","private_network_id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2959::/64","updated_at":"2026-03-24T09:15:25.682834Z","vpc_id":"14cf34ff-fb84-488b-a1d5-81dc09f33598"}],"tags":[],"updated_at":"2026-03-24T09:15:25.682834Z","vpc_id":"14cf34ff-fb84-488b-a1d5-81dc09f33598"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.057583ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800"}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:15:26.586979Z","endpoints":[{"dns_record":"","id":"95c8354d-6871-4f18-b689-f1468b698edc","private_network":{"private_network_id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800"},"services":[{"name":"api","port":9200,"url":"4e174b75-97e6-4ee9-a43d-94bd9f6b97e9.469f7ccb-5c49-4a70-9a07-b612e4f1f800.internal"}]},{"dns_record":"","id":"11c6130c-431a-4fad-832a-4e3199333e2d","public":{},"services":[{"name":"dashboard","port":5601,"url":"4e174b75-97e6-4ee9-a43d-94bd9f6b97e9.scbl.fr-par.scw.cloud"}]}],"id":"4e174b75-97e6-4ee9-a43d-94bd9f6b97e9","name":"tf-test-opensearch-pn","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 413.080792ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/4e174b75-97e6-4ee9-a43d-94bd9f6b97e9
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:15:26.586979Z","endpoints":[{"dns_record":"","id":"95c8354d-6871-4f18-b689-f1468b698edc","private_network":{"private_network_id":"469f7ccb-5c49-4a70-9a07-b612e4f1f800"},"services":[{"name":"api","port":9200,"url":"4e174b75-97e6-4ee9-a43d-94bd9f6b97e9.469f7ccb-5c49-4a70-9a07-b612e4f1f800.internal"}]},{"dns_record":"","id":"11c6130c-431a-4fad-832a-4e3199333e2d","public":{},"services":[{"name":"dashboard","port":5601,"url":"4e174b75-97e6-4ee9-a43d-94bd9f6b97e9.scbl.fr-par.scw.cloud"}]}],"id":"4e174b75-97e6-4ee9-a43d-94bd9f6b97e9","name":"tf-test-opensearch-pn","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.977792ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/4e174b75-97e6-4ee9-a43d-94bd9f6b97e9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"4e174b75-97e6-4ee9-a43d-94bd9f6b97e9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.936375ms
[...]
