---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 205.38025ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"low_stock","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"low_stock","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-opensearch-update-node-count","tags":null,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-10-05T13:07:07.378278Z","endpoints":[{"dns_record":"","id":"f00bcf12-0539-41a5-9e13-d54306fcba12","public":{},"services":[{"name":"ui-dashboard","port":5601,"url":"827edc21-342e-4df4-b595-cc3384ed1eb7.scbl.fr-par.scw.cloud"},{"name":"api-opensearch","port":9200,"url":"827edc21-342e-4df4-b595-cc3384ed1eb7.scbl.fr-par.scw.cloud"}]}],"id":"827edc21-342e-4df4-b595-cc3384ed1eb7","name":"tf-test-opensearch-update-node-count","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 418.599291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/827edc21-342e-4df4-b595-cc3384ed1eb7
        method: GET
      response:
        body: '{"created_at":"2026-10-05T13:07:07.378278Z","endpoints":[{"dns_record":"","id":"f00bcf12-0539-41a5-9e13-d54306fcba12","public":{},"services":[{"name":"ui-dashboard","port":5601,"url":"827edc21-342e-4df4-b595-cc3384ed1eb7.scbl.fr-par.scw.cloud"},{"name":"api-opensearch","port":9200,"url":"827edc21-342e-4df4-b595-cc3384ed1eb7.scbl.fr-par.scw.cloud"}]}],"id":"827edc21-342e-4df4-b595-cc3384ed1eb7","name":"tf-test-opensearch-update-node-count","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 153.656709ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"node_count":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/827edc21-342e-4df4-b595-cc3384ed1eb7/upgrade
        method: POST
      response:
        body: '{"created_at":"2026-10-05T13:07:07.378278Z","endpoints":[{"dns_record":"","id":"f00bcf12-0539-41a5-9e13-d54306fcba12","public":{},"services":[{"name":"ui-dashboard","port":5601,"url":"827edc21-342e-4df4-b595-cc3384ed1eb7.scbl.fr-par.scw.cloud"},{"name":"api-opensearch","port":9200,"url":"827edc21-342e-4df4-b595-cc3384ed1eb7.scbl.fr-par.scw.cloud"}]}],"id":"827edc21-342e-4df4-b595-cc3384ed1eb7","name":"tf-test-opensearch-update-node-count","node_amount":3,"node_count":3,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"upgrading","tags":[],"updated_at":"2026-10-05T13:20:13.331085Z","version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 178.8145ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/827edc21-342e-4df4-b595-cc3384ed1eb7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"827edc21-342e-4df4-b595-cc3384ed1eb7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 198.1995ms
[...]
