---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.791688ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-27T16:09:29.368165Z","custom_routes_propagation_enabled":true,"id":"05dff591-9f0e-46c9-8e86-3313bbf993e0","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-27T16:09:29.368165Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.17117ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/05dff591-9f0e-46c9-8e86-3313bbf993e0
        method: GET
      response:
        body: '{"created_at":"2026-07-27T16:09:29.368165Z","custom_routes_propagation_enabled":true,"id":"05dff591-9f0e-46c9-8e86-3313bbf993e0","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-27T16:09:29.368165Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.164832ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"05dff591-9f0e-46c9-8e86-3313bbf993e0","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-27T16:09:29.738443Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"fd69dab3-bda0-4a35-9445-eac55db943ab","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-27T16:09:29.738443Z","id":"b89e4401-ea80-402c-8ba4-623e11f07976","private_network_id":"fd69dab3-bda0-4a35-9445-eac55db943ab","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.1.64.0/22","updated_at":"2026-07-27T16:09:29.738443Z","vpc_id":"05dff591-9f0e-46c9-8e86-3313bbf993e0"},{"created_at":"2026-07-27T16:09:29.738443Z","id":"d9840608-70c7-462a-842b-6ba55815883d","private_network_id":"fd69dab3-bda0-4a35-9445-eac55db943ab","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:e613::/64","updated_at":"2026-07-27T16:09:29.738443Z","vpc_id":"05dff591-9f0e-46c9-8e86-3313bbf993e0"}],"tags":[],"updated_at":"2026-07-27T16:09:29.738443Z","vpc_id":"05dff591-9f0e-46c9-8e86-3313bbf993e0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 978.305769ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fd69dab3-bda0-4a35-9445-eac55db943ab
        method: GET
      response:
        body: '{"created_at":"2026-07-27T16:09:29.738443Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"fd69dab3-bda0-4a35-9445-eac55db943ab","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-86[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn","tags":null,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-07-27T16:09:30.842131Z","endpoints":[{"dns_record":"","id":"7dd44418-f5f5-40e8-88db-4ed38fa07546","public":{},"services":[{"name":"dashboard","port":5601,"url":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e.scbl.fr-par.scw.cloud"}]}],"id":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e","name":"tf-test-opensearch-pn","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.928367ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/ae40d6e7-8bc6-4906-aa1f-b38947d1e87e
        method: GET
      response:
        body: '{"created_at":"2026-07-27T16:09:30.842131Z","endpoints":[{"dns_record":"","id":"7dd44418-f5f5-40e8-88db-4ed38fa07546","public":{},"services":[{"name":"dashboard","port":5601,"url":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e.scbl.fr-par.scw.cloud"}]}],"id":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e","name":"tf-test-opensearch-pn","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.582117ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints/7dd44418-f5f5-40e8-88db-4ed38fa07546
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 228.49508ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e","endpoint_spec":{"private_network":{"private_network_id":"fd69dab3-bda0-4a35-9445-eac55db943ab"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"5c1b99f0-a943-499a-ba90-3082dd68990a","private_network":{"private_network_id":"fd69dab3-bda0-4a35-9445-eac55db943ab"},"services":[{"name":"api","port":9200,"url":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e.fd69dab3-bda0-4a35-9445-eac55db943ab.internal"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 470.613524ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/ae40d6e7-8bc6-4906-aa1f-b38947d1e87e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"ae40d6e7-8bc6-4906-aa1f-b38947d1e87e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.172481ms
[...]
