---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.300875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc-only","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-28T13:59:58.803359Z","custom_routes_propagation_enabled":true,"id":"92555a58-e351-4057-8382-12cf40bed4ef","is_default":false,"name":"tf-test-opensearch-vpc-only","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-28T13:59:58.803359Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.520083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/92555a58-e351-4057-8382-12cf40bed4ef
        method: GET
      response:
        body: '{"created_at":"2026-04-28T13:59:58.803359Z","custom_routes_propagation_enabled":true,"id":"92555a58-e351-4057-8382-12cf40bed4ef","is_default":false,"name":"tf-test-opensearch-vpc-only","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-28T13:59:58.803359Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.116625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn-vpc-only","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"92555a58-e351-4057-8382-12cf40bed4ef","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-04-28T13:59:59.269301Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0d018f00-445d-400b-8070-df0bdbae985b","name":"tf-test-opensearch-pn-vpc-only","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-04-28T13:59:59.269301Z","id":"4ee5e411-c470-41c1-bdfb-6a55dd023df4","private_network_id":"0d018f00-445d-400b-8070-df0bdbae985b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.24.208.0/22","updated_at":"2026-04-28T13:59:59.269301Z","vpc_id":"92555a58-e351-4057-8382-12cf40bed4ef"},{"created_at":"2026-04-28T13:59:59.269301Z","id":"ce0cdaa6-c1d2-4b17-a7b0-354b256ae38d","private_network_id":"0d018f00-445d-400b-8070-df0bdbae985b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b1d1::/64","updated_at":"2026-04-28T13:59:59.269301Z","vpc_id":"92555a58-e351-4057-8382-12cf40bed4ef"}],"tags":[],"updated_at":"2026-04-28T13:59:59.269301Z","vpc_id":"92555a58-e351-4057-8382-12cf40bed4ef"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.447340625s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0d018f00-445d-400b-8070-df0bdbae985b
        method: GET
      response:
        body: '{"created_at":"2026-04-28T13:59:59.269301Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0d018f00-445d-400b-8070-df0bdbae985b","name":"tf-test-opensearch-pn-vpc-only","organization_id":"105bdce1-64c0-48a[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?order_by=created_at_asc&vpc_id=92555a58-e351-4057-8382-12cf40bed4ef
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-04-28T13:59:59.269301Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0d018f00-445d-400b-8070-df0bdbae985b","name":"tf-test-opensearch-pn-vpc-only","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-04-28T13:59:59.269301Z","id":"4ee5e411-c470-41c1-bdfb-6a55dd023df4","private_network_id":"0d018f00-445d-400b-8070-df0bdbae985b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.24.208.0/22","updated_at":"2026-04-28T13:59:59.269301Z","vpc_id":"92555a58-e351-4057-8382-12cf40bed4ef"},{"created_at":"2026-04-28T13:59:59.269301Z","id":"ce0cdaa6-c1d2-4b17-a7b0-354b256ae38d","private_network_id":"0d018f00-445d-400b-8070-df0bdbae985b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b1d1::/64","updated_at":"2026-04-28T13:59:59.269301Z","vpc_id":"92555a58-e351-4057-8382-12cf40bed4ef"}],"tags":[],"updated_at":"2026-04-28T13:59:59.269301Z","vpc_id":"92555a58-e351-4057-8382-12cf40bed4ef"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.280209ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-vpc","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"0d018f00-445d-400b-8070-df0bdbae985b"}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-04-28T14:00:01.037535Z","endpoints":[{"dns_record":"","id":"d5c24a58-d77f-43dc-a1f2-280a12d89f32","private_network":{"private_network_id":"0d018f00-445d-400b-8070-df0bdbae985b"},"services":[{"name":"api","port":9200,"url":"1e5df9fa-5c4c-4c86-ad38-188bc809f0e5.0d018f00-445d-400b-8070-df0bdbae985b.internal"}]},{"dns_record":"","id":"c88122b4-727f-484e-b8ba-0fea9e9e256a","public":{},"services":[{"name":"dashboard","port":5601,"url":"1e5df9fa-5c4c-4c86-ad38-188bc809f0e5.scbl.fr-par.scw.cloud"}]}],"id":"1e5df9fa-5c4c-4c86-ad38-188bc809f0e5","name":"tf-test-opensearch-vpc","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 627.462916ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/1e5df9fa-5c4c-4c86-ad38-188bc809f0e5
        method: GET
      response:
        body: '{"created_at":"2026-04-28T14:00:01.037535Z","endpoints":[{"dns_record":"","id":"d5c24a58-d77f-43dc-a1f2-280a12d89f32","private_network":{"private_network_id":"0d018f00-445d-400b-8070-df0bdbae985b"},"services":[{"name":"api","port":9200,"url":"1e5df9fa-5c4c-4c86-ad38-188bc809f0e5.0d018f00-445d-400b-8070-df0bdbae985b.internal"}]},{"dns_record":"","id":"c88122b4-727f-484e-b8ba-0fea9e9e256a","public":{},"services":[{"name":"dashboard","port":5601,"url":"1e5df9fa-5c4c-4c86-ad38-188bc809f0e5.scbl.fr-par.scw.cloud"}]}],"id":"1e5df9fa-5c4c-4c86-ad38-188bc809f0e5","name":"tf-test-opensearch-vpc","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.407416ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/1e5df9fa-5c4c-4c86-ad38-188bc809f0e5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"1e5df9fa-5c4c-4c86-ad38-188bc809f0e5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 434.914ms
[...]
