---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 173.1865ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-07T13:25:06.917785Z","custom_routes_propagation_enabled":true,"id":"c8a30acd-02b3-45fc-acb3-a1fa8dc3296e","is_default":false,"name":"tf-test-opensearch-vpc-update","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-07T13:25:06.917785Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 279.799167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 14.770584ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c8a30acd-02b3-45fc-acb3-a1fa8dc3296e
        method: GET
      response:
        body: '{"created_at":"2026-09-07T13:25:06.917785Z","custom_routes_propagation_enabled":true,"id":"c8a30acd-02b3-45fc-acb3-a1fa8dc3296e","is_default":false,"name":"tf-test-opensearch-vpc-update","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-07T13:25:06.917785Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 351.483292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"c8a30acd-02b3-45fc-acb3-a1fa8dc3296e","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-07T13:25:07.418545Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"daa5edff-af08-4cdb-917b-4fb04fa2d3f8","name":"tf-test-opensearch-pn2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-09-07T13:25:07.418545Z","id":"53cbd1fc-658c-4c44-a18a-a2bb2b47cd0b","private_network_id":"daa5edff-af08-4cdb-917b-4fb04fa2d3f8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.5.252.0/22","updated_at":"2026-09-07T13:25:07.418545Z","vpc_id":"c8a30acd-02b3-45fc-acb3-a1fa8dc3296e"},{"created_at":"2026-09-07T13:25:07.418545Z","id":"bb840913-e1b0-4f2f-a81d-290e3fceca76","private_network_id":"daa5edff-af08-4cdb-917b-4fb04fa2d3f8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:9c7b::/64","updated_at":"2026-09-07T13:25:07.418545Z","vpc_id":"c8a30acd-02b3-45fc-acb3-a1fa8dc3296e"}],"tags":[],"updated_at":"2026-09-07T13:25:07.418545Z","vpc_id":"c8a30acd-02b3-45fc-acb3-a1fa8dc3296e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 828.169ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/daa5edff-af08-4cdb-917b-4fb04fa2d3f8
        method: GET
      response:
        body: '{"created_at":"2026-09-07T13:25:07.418545Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"daa5edff-af08-4cdb-917b-4fb04fa2d3f8","name":"tf-test-opensearch-pn2","o[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn-update","tags":null,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"40a029e7-5964-4917-90cd-7b64b93610a3"}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-07T13:25:08.808876Z","endpoints":[{"dns_record":"","id":"19b6d4c8-f7d5-4aae-98b2-903ef84ba4c7","private_network":{"private_network_id":"40a029e7-5964-4917-90cd-7b64b93610a3"},"services":[{"name":"api-opensearch","port":9200,"url":"71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d.40a029e7-5964-4917-90cd-7b64b93610a3.internal"}]},{"dns_record":"","id":"2418d318-60ff-4da2-b20a-9201e53593a4","public":{},"services":[{"name":"ui-dashboard","port":5601,"url":"71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d.scbl.fr-par.scw.cloud"}]}],"id":"71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d","name":"tf-test-opensearch-pn-update","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 615.172208ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d
        method: GET
      response:
        body: '{"created_at":"2026-09-07T13:25:08.808876Z","endpoints":[{"dns_record":"","id":"19b6d4c8-f7d5-4aae-98b2-903ef84ba4c7","private_network":{"private_network_id":"40a029e7-5964-4917-90cd-7b64b93610a3"},"services":[{"name":"[...]
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints/19b6d4c8-f7d5-4aae-98b2-903ef84ba4c7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 272.44725ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d","endpoint_spec":{"private_network":{"private_network_id":"daa5edff-af08-4cdb-917b-4fb04fa2d3f8"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"981c1e91-33b0-4fa6-ad29-cc168ef28fd1","private_network":{"private_network_id":"daa5edff-af08-4cdb-917b-4fb04fa2d3f8"},"services":[{"name":"api-opensearch","port":9200,"url":"71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d.daa5edff-af08-4cdb-917b-4fb04fa2d3f8.internal"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 440.848292ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"71fe7f2a-36a5-44ca-a50f-2847a3d7ac1d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 34.83525ms
[...]
