---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.854583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-06-04T14:48:47.134473Z","custom_routes_propagation_enabled":true,"id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-04T14:48:47.134473Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.66725ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2a249f6b-6e47-4a3f-9855-fa6a37ca1e05
        method: GET
      response:
        body: '{"created_at":"2026-06-04T14:48:47.134473Z","custom_routes_propagation_enabled":true,"id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-04T14:48:47.134473Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.419ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-06-04T14:48:47.496211Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a05aa4ca-1bce-4b76-9b5f-5c8997e3a1fa","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-06-04T14:48:47.496211Z","id":"eca97ae4-7a77-4ce7-952c-3b46b244ceb6","private_network_id":"a05aa4ca-1bce-4b76-9b5f-5c8997e3a1fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.29.108.0/22","updated_at":"2026-06-04T14:48:47.496211Z","vpc_id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05"},{"created_at":"2026-06-04T14:48:47.496211Z","id":"486c9cd9-38aa-4611-aa79-dafe15bad637","private_network_id":"a05aa4ca-1bce-4b76-9b5f-5c8997e3a1fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2a57::/64","updated_at":"2026-06-04T14:48:47.496211Z","vpc_id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05"}],"tags":[],"updated_at":"2026-06-04T14:48:47.496211Z","vpc_id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 817.826083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a05aa4ca-1bce-4b76-9b5f-5c8997e3a1fa
        method: GET
      response:
        body: '{"created_at":"2026-06-04T14:48:47.496211Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a05aa4ca-1bce-4b76-9b5f-5c8997e3a1fa","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-06-04T14:48:47.496211Z","id":"eca97ae4-7a77-4ce7-952c-3b46b244ceb6","private_network_id":"a05aa4ca-1bce-4b76-9b5f-5c8997e3a1fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.29.108.0/22","updated_at":"2026-06-04T14:48:47.496211Z","vpc_id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05"},{"created_at":"2026-06-04T14:48:47.496211Z","id":"486c9cd9-38aa-4611-aa79-dafe15bad637","private_network_id":"a05aa4ca-1bce-4b76-9b5f-5c8997e3a1fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2a57::/64","updated_at":"2026-06-04T14:48:47.496211Z","vpc_id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05"}],"tags":[],"updated_at":"2026-06-04T14:48:47.496211Z","vpc_id":"2a249f6b-6e47-4a3f-9855-fa6a37ca1e05"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.075084ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-06-04T14:48:48.580476Z","endpoints":[{"dns_record":"","id":"18b40ad7-7487-4ea6-b497-7c953b122c13","public":{},"services":[{"name":"dashboard","port":5601,"url":"4b50f0a6-984d-4eab-8f47-9433b942cb14.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"4b50f0a6-984d-4eab-8f47-9433b942cb14.scbl.fr-par.scw.cloud"}]}],"id":"4b50f0a6-984d-4eab-8f47-9433b942cb14","name":"tf-test-opensearch-pn","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 557.671ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/4b50f0a6-984d-4eab-8f47-9433b942cb14
        method: GET
      response:
        body: '{"created_at":"2026-06-04T14:48:48.580476Z","endpoints":[{"dns_record":"","id":"18b40ad7-7487-4ea6-b497-7c953b122c13","public":{},"services":[{"name":"dashboard","port":5601,"url":"4b50f0a6-984d-4eab-8f47-9433b942cb14.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"4b50f0a6-984d-4eab-8f47-9433b942cb14.scbl.fr-par.scw.cloud"}]}],"id":"4b50f0a6-984d-4eab-8f47-9433b942cb14","name":"tf-test-opensearch-pn","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.912292ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints/18b40ad7-7487-4ea6-b497-7c953b122c13
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 86.343584ms
[...]
