---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.799291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-06-10T04:20:31.661967Z","custom_routes_propagation_enabled":true,"id":"1067c802-3658-4208-8a32-dc116a1ba91c","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-10T04:20:31.661967Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.009ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1067c802-3658-4208-8a32-dc116a1ba91c
        method: GET
      response:
        body: '{"created_at":"2026-06-10T04:20:31.661967Z","custom_routes_propagation_enabled":true,"id":"1067c802-3658-4208-8a32-dc116a1ba91c","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-10T04:20:31.661967Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.559542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"1067c802-3658-4208-8a32-dc116a1ba91c","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-06-10T04:20:32.000868Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-06-10T04:20:32.000868Z","id":"d3bb0e15-9660-4861-9c80-50ec2413c4ea","private_network_id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.29.244.0/22","updated_at":"2026-06-10T04:20:32.000868Z","vpc_id":"1067c802-3658-4208-8a32-dc116a1ba91c"},{"created_at":"2026-06-10T04:20:32.000868Z","id":"d1ee91ed-296a-4e7b-bd9b-c4607f83fe82","private_network_id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:cc25::/64","updated_at":"2026-06-10T04:20:32.000868Z","vpc_id":"1067c802-3658-4208-8a32-dc116a1ba91c"}],"tags":[],"updated_at":"2026-06-10T04:20:32.000868Z","vpc_id":"1067c802-3658-4208-8a32-dc116a1ba91c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.411958ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1abb9e31-d1f5-4cdf-872b-621f0fb5f92c
        method: GET
      response:
        body: '{"created_at":"2026-06-10T04:20:32.000868Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-06-10T04:20:32.000868Z","id":"d3bb0e15-9660-4861-9c80-50ec2413c4ea","private_network_id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.29.244.0/22","updated_at":"2026-06-10T04:20:32.000868Z","vpc_id":"1067c802-3658-4208-8a32-dc116a1ba91c"},{"created_at":"2026-06-10T04:20:32.000868Z","id":"d1ee91ed-296a-4e7b-bd9b-c4607f83fe82","private_network_id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:cc25::/64","updated_at":"2026-06-10T04:20:32.000868Z","vpc_id":"1067c802-3658-4208-8a32-dc116a1ba91c"}],"tags":[],"updated_at":"2026-06-10T04:20:32.000868Z","vpc_id":"1067c802-3658-4208-8a32-dc116a1ba91c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.0965ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn","tags":null,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-06-10T04:20:32.858917Z","endpoints":[{"dns_record":"","id":"dd7a51ec-305b-4402-89bf-acc16c7dcd7b","public":{},"services":[{"name":"dashboard","port":5601,"url":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c.scbl.fr-par.scw.cloud"}]}],"id":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c","name":"tf-test-opensearch-pn","node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.721083ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/2e207d75-812d-45c8-bdc1-ed8ca2581c4c
        method: GET
      response:
        body: '{"created_at":"2026-06-10T04:20:32.858917Z","endpoints":[{"dns_record":"","id":"dd7a51ec-305b-4402-89bf-acc16c7dcd7b","public":{},"services":[{"name":"dashboard","port":5601,"url":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c.scbl.fr-par.scw.cloud"}]}],"id":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c","name":"tf-test-opensearch-pn","node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.912834ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints/dd7a51ec-305b-4402-89bf-acc16c7dcd7b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 77.718792ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c","endpoint_spec":{"private_network":{"private_network_id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"a661af47-fa9d-4273-9074-b09d3b24474a","private_network":{"private_network_id":"1abb9e31-d1f5-4cdf-872b-621f0fb5f92c"},"services":[{"name":"api","port":9200,"url":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c.1abb9e31-d1f5-4cdf-872b-621f0fb5f92c.internal"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.511583ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/2e207d75-812d-45c8-bdc1-ed8ca2581c4c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"2e207d75-812d-45c8-bdc1-ed8ca2581c4c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.257291ms
[...]
