---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.868916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"SEARCHDB-SHARED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"SEARCHDB-SHARED-4C-16G","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.663125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-09T11:41:00.545121Z","custom_routes_propagation_enabled":true,"id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-09T11:41:00.545121Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.362208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c
        method: GET
      response:
        body: '{"created_at":"2026-02-09T11:41:00.545121Z","custom_routes_propagation_enabled":true,"id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-09T11:41:00.545121Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.188667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-09T11:41:00.801688Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f1805d7e-d700-4578-bff4-29995bc4c4b6","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-09T11:41:00.801688Z","id":"802725a6-8cfc-422a-b597-db6edd6a21f8","private_network_id":"f1805d7e-d700-4578-bff4-29995bc4c4b6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.216.0/22","updated_at":"2026-02-09T11:41:00.801688Z","vpc_id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c"},{"created_at":"2026-02-09T11:41:00.801688Z","id":"cf472737-1f0f-4d01-90d5-569602a01179","private_network_id":"f1805d7e-d700-4578-bff4-29995bc4c4b6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a9a8::/64","updated_at":"2026-02-09T11:41:00.801688Z","vpc_id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c"}],"tags":[],"updated_at":"2026-02-09T11:41:00.801688Z","vpc_id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 758.016625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f1805d7e-d700-4578-bff4-29995bc4c4b6
        method: GET
      response:
        body: '{"created_at":"2026-02-09T11:41:00.801688Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f1805d7e-d700-4578-bff4-29995bc4c4b6","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-02-09T11:41:00.801688Z","id":"802725a6-8cfc-422a-b597-db6edd6a21f8","private_network_id":"f1805d7e-d700-4578-bff4-29995bc4c4b6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.216.0/22","updated_at":"2026-02-09T11:41:00.801688Z","vpc_id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c"},{"created_at":"2026-02-09T11:41:00.801688Z","id":"cf472737-1f0f-4d01-90d5-569602a01179","private_network_id":"f1805d7e-d700-4578-bff4-29995bc4c4b6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a9a8::/64","updated_at":"2026-02-09T11:41:00.801688Z","vpc_id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c"}],"tags":[],"updated_at":"2026-02-09T11:41:00.801688Z","vpc_id":"d61b9a2c-d17e-4ece-8ca9-7a0b4b10eb3c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.693125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"f1805d7e-d700-4578-bff4-29995bc4c4b6"}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-02-09T11:41:01.718885Z","endpoints":[{"dns_record":"","id":"53ba8dd6-81a6-4fae-a56e-28cac64f38e1","private_network":{"private_network_id":"f1805d7e-d700-4578-bff4-29995bc4c4b6"},"services":[{"name":"api","port":9200,"url":"7565e652-5cc5-4725-a282-f945830364ed.f1805d7e-d700-4578-bff4-29995bc4c4b6.internal"}]}],"id":"7565e652-5cc5-4725-a282-f945830364ed","name":"tf-test-opensearch-pn","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.575417ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/7565e652-5cc5-4725-a282-f945830364ed
        method: GET
      response:
        body: '{"created_at":"2026-02-09T11:41:01.718885Z","endpoints":[{"dns_record":"","id":"53ba8dd6-81a6-4fae-a56e-28cac64f38e1","private_network":{"private_network_id":"f1805d7e-d700-4578-bff4-29995bc4c4b6"},"services":[{"name":"api","port":9200,"url":"7565e652-5cc5-4725-a282-f945830364ed.f1805d7e-d700-4578-bff4-29995bc4c4b6.internal"}]}],"id":"7565e652-5cc5-4725-a282-f945830364ed","name":"tf-test-opensearch-pn","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.713166ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/7565e652-5cc5-4725-a282-f945830364ed
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"7565e652-5cc5-4725-a282-f945830364ed","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.591416ms
[...]
