---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 223.912458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-08T04:35:56.475493Z","custom_routes_propagation_enabled":true,"id":"0d04953b-4720-45ed-8f2f-933fbbc78d16","is_default":false,"name":"tf-test-opensearch-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-08T04:35:56.475493Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 207.366459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.88075ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0d04953b-4720-45ed-8f2f-933fbbc78d16
        method: GET
      response:
        body: '{"created_at":"2026-09-08T04:35:56.475493Z","custom_routes_propagation_enabled":true,"id":"0d04953b-4720-45ed-8f2f-933fbbc78d16","is_default":false,"name":"tf-test-opensearch-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-08T04:35:56.475493Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 155.26875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"0d04953b-4720-45ed-8f2f-933fbbc78d16","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-08T04:35:56.817990Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"f913ecb3-46c2-428b-b980-1b899ac5a67a","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-09-08T04:35:56.817990Z","id":"1e4c7e6e-3541-4198-9b36-dee61c15c61c","private_network_id":"f913ecb3-46c2-428b-b980-1b899ac5a67a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.6.40.0/22","updated_at":"2026-09-08T04:35:56.817990Z","vpc_id":"0d04953b-4720-45ed-8f2f-933fbbc78d16"},{"created_at":"2026-09-08T04:35:56.817990Z","id":"9b8c59bd-2b30-4a04-b57b-3729d05369bd","private_network_id":"f913ecb3-46c2-428b-b980-1b899ac5a67a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:454e::/64","updated_at":"2026-09-08T04:35:56.817990Z","vpc_id":"0d04953b-4720-45ed-8f2f-933fbbc78d16"}],"tags":[],"updated_at":"2026-09-08T04:35:56.817990Z","vpc_id":"0d04953b-4720-45ed-8f2f-933fbbc78d16"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 748.616917ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f913ecb3-46c2-428b-b980-1b899ac5a67a
        method: GET
      response:
        body: '{"created_at":"2026-09-08T04:35:56.817990Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"f913ecb3-46c2-428b-b980-1b899ac5a67a","name":"tf-test-opensearch-pn","or[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn","tags":null,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-08T04:35:57.746040Z","endpoints":[{"dns_record":"","id":"95381b65-7062-4e60-a423-5ab166aee5c2","public":{},"services":[{"name":"ui-dashboard","port":5601,"url":"8c947f75-4d6f-4909-9eb4-5e886c8b6756.scbl.fr-par.scw.cloud"},{"name":"api-opensearch","port":9200,"url":"8c947f75-4d6f-4909-9eb4-5e886c8b6756.scbl.fr-par.scw.cloud"}]}],"id":"8c947f75-4d6f-4909-9eb4-5e886c8b6756","name":"tf-test-opensearch-pn","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 479.411458ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/8c947f75-4d6f-4909-9eb4-5e886c8b6756
        method: GET
      response:
        body: '{"created_at":"2026-09-08T04:35:57.746040Z","endpoints":[{"dns_record":"","id":"95381b65-7062-4e60-a423-5ab166aee5c2","public":{},"services":[{"name":"ui-dashboard","port":5601,"url":"8c947f75-4d6f-4909-9eb4-5e886c8b6756.scbl.fr-par.scw.cloud"},{"name":"api-opensearch","port":9200,"url":"8c947f75-4d6f-4909-9eb4-5e886c8b6756.scbl.fr-par.scw.cloud"}]}],"id":"8c947f75-4d6f-4909-9eb4-5e886c8b6756","name":"tf-test-opensearch-pn","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 155.502542ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"8c947f75-4d6f-4909-9eb4-5e886c8b6756","endpoint_spec":{"private_network":{"private_network_id":"f913ecb3-46c2-428b-b980-1b899ac5a67a"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"d35596bb-4369-40f1-b5dd-e896793f0956","private_network":{"private_network_id":"f913ecb3-46c2-428b-b980-1b899ac5a67a"},"services":[{"name":"api-opensearch","port":9200,"url":"8c947f75-4d6f-4909-9eb4-5e886c8b6756.f913ecb3-46c2-428b-b980-1b899ac5a67a.internal"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 473.564667ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints/d35596bb-4369-40f1-b5dd-e896793f0956
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 193.403958ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/8c947f75-4d6f-4909-9eb4-5e886c8b6756
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"8c947f75-4d6f-4909-9eb4-5e886c8b6756","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 73.399833ms
[...]
