---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.720209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-06-09T07:47:11.161740Z","custom_routes_propagation_enabled":true,"id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-09T07:47:11.161740Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.268333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/dab6310f-a30b-4da2-903b-bdbca6d11f9d
        method: GET
      response:
        body: '{"created_at":"2026-06-09T07:47:11.161740Z","custom_routes_propagation_enabled":true,"id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d","is_default":false,"name":"tf-test-opensearch-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-09T07:47:11.161740Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.602ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-06-09T07:47:11.557861Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-06-09T07:47:11.557861Z","id":"318d79ba-2c22-4f34-a424-e46036594409","private_network_id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.29.244.0/22","updated_at":"2026-06-09T07:47:11.557861Z","vpc_id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d"},{"created_at":"2026-06-09T07:47:11.557861Z","id":"b55610c4-3dbf-4e18-962f-817d2e3775a9","private_network_id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8ae1::/64","updated_at":"2026-06-09T07:47:11.557861Z","vpc_id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d"}],"tags":[],"updated_at":"2026-06-09T07:47:11.557861Z","vpc_id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 879.749917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ee02cc2a-4f96-4e97-a5d2-02528ec7f472
        method: GET
      response:
        body: '{"created_at":"2026-06-09T07:47:11.557861Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472","name":"tf-test-opensearch-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-06-09T07:47:11.557861Z","id":"318d79ba-2c22-4f34-a424-e46036594409","private_network_id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.29.244.0/22","updated_at":"2026-06-09T07:47:11.557861Z","vpc_id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d"},{"created_at":"2026-06-09T07:47:11.557861Z","id":"b55610c4-3dbf-4e18-962f-817d2e3775a9","private_network_id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8ae1::/64","updated_at":"2026-06-09T07:47:11.557861Z","vpc_id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d"}],"tags":[],"updated_at":"2026-06-09T07:47:11.557861Z","vpc_id":"dab6310f-a30b-4da2-903b-bdbca6d11f9d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.404417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-06-09T07:47:12.574269Z","endpoints":[{"dns_record":"","id":"71e43df9-299b-42d8-a8a9-18903e3898d6","public":{},"services":[{"name":"dashboard","port":5601,"url":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5.scbl.fr-par.scw.cloud"}]}],"id":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5","name":"tf-test-opensearch-pn","node_amount":1,"node_count":0,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.01775ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5
        method: GET
      response:
        body: '{"created_at":"2026-06-09T07:47:12.574269Z","endpoints":[{"dns_record":"","id":"71e43df9-299b-42d8-a8a9-18903e3898d6","public":{},"services":[{"name":"dashboard","port":5601,"url":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5.scbl.fr-par.scw.cloud"}]}],"id":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5","name":"tf-test-opensearch-pn","node_amount":1,"node_count":0,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.076583ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5","endpoint_spec":{"private_network":{"private_network_id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"bb9a476d-c2d0-44f3-9fad-e5d0df48333e","private_network":{"private_network_id":"ee02cc2a-4f96-4e97-a5d2-02528ec7f472"},"services":[{"name":"api","port":9200,"url":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5.ee02cc2a-4f96-4e97-a5d2-02528ec7f472.internal"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.864208ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints/bb9a476d-c2d0-44f3-9fad-e5d0df48333e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 111.125708ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"1ab4fba2-cbb4-4aab-ab4e-c0ccf66631c5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 261.591125ms
[...]
