---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 167.117708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-vpc-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-08T07:05:25.372678Z","custom_routes_propagation_enabled":true,"id":"c6b23c4c-ee3a-4532-b48d-c9ac14fb4d86","is_default":false,"name":"tf-test-opensearch-vpc-update","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-08T07:05:25.372678Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 277.845ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 12.683041ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c6b23c4c-ee3a-4532-b48d-c9ac14fb4d86
        method: GET
      response:
        body: '{"created_at":"2026-09-08T07:05:25.372678Z","custom_routes_propagation_enabled":true,"id":"c6b23c4c-ee3a-4532-b48d-c9ac14fb4d86","is_default":false,"name":"tf-test-opensearch-vpc-update","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-08T07:05:25.372678Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 287.557958ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-opensearch-pn1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"c6b23c4c-ee3a-4532-b48d-c9ac14fb4d86","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-08T07:05:25.918927Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c","name":"tf-test-opensearch-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-09-08T07:05:25.918927Z","id":"9a3474c4-1ee1-4f4c-9469-0cba9b84c60d","private_network_id":"f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.6.52.0/22","updated_at":"2026-09-08T07:05:25.918927Z","vpc_id":"c6b23c4c-ee3a-4532-b48d-c9ac14fb4d86"},{"created_at":"2026-09-08T07:05:25.918927Z","id":"1e20dcf3-63a9-4426-8600-3ce66121ece1","private_network_id":"f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:263::/64","updated_at":"2026-09-08T07:05:25.918927Z","vpc_id":"c6b23c4c-ee3a-4532-b48d-c9ac14fb4d86"}],"tags":[],"updated_at":"2026-09-08T07:05:25.918927Z","vpc_id":"c6b23c4c-ee3a-4532-b48d-c9ac14fb4d86"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.038714583s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c
        method: GET
      response:
        body: '{"created_at":"2026-09-08T07:05:25.918927Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c","name":"tf-test-opensearch-pn1","o[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-pn-update","tags":null,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c"}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-08T07:05:28.434812Z","endpoints":[{"dns_record":"","id":"b8891419-ec4d-419a-8fcf-4164671759e0","private_network":{"private_network_id":"f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c"},"services":[{"name":"api-opensearch","port":9200,"url":"f661fc58-f18f-4b7b-b55c-c78fd1b59a2c.f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c.internal"}]},{"dns_record":"","id":"448e8a3c-1638-40c5-bb1c-df21483421ef","public":{},"services":[{"name":"ui-dashboard","port":5601,"url":"f661fc58-f18f-4b7b-b55c-c78fd1b59a2c.scbl.fr-par.scw.cloud"}]}],"id":"f661fc58-f18f-4b7b-b55c-c78fd1b59a2c","name":"tf-test-opensearch-pn-update","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 695.846333ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/f661fc58-f18f-4b7b-b55c-c78fd1b59a2c
        method: GET
      response:
        body: '{"created_at":"2026-09-08T07:05:28.434812Z","endpoints":[{"dns_record":"","id":"b8891419-ec4d-419a-8fcf-4164671759e0","private_network":{"private_network_id":"f6390d7f-a85c-4f0d-bcd2-6eb012c09c1c"},"services":[{"name":"[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints/b8891419-ec4d-419a-8fcf-4164671759e0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 303.133709ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"f661fc58-f18f-4b7b-b55c-c78fd1b59a2c","endpoint_spec":{"private_network":{"private_network_id":"436d5ab9-b1a8-4d69-92fa-687a9f288ed3"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"45120d08-e550-40e2-b980-67bca919f9b5","private_network":{"private_network_id":"436d5ab9-b1a8-4d69-92fa-687a9f288ed3"},"services":[{"name":"api-opensearch","port":9200,"url":"f661fc58-f18f-4b7b-b55c-c78fd1b59a2c.436d5ab9-b1a8-4d69-92fa-687a9f288ed3.internal"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 560.832625ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/f661fc58-f18f-4b7b-b55c-c78fd1b59a2c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"f661fc58-f18f-4b7b-b55c-c78fd1b59a2c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 108.763959ms
[...]
