---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.383334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"SEARCHDB-SHARED-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"SEARCHDB-SHARED-4C-16G","stock_status":"available","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.903125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-opensearch-volume","tags":null,"node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-02-09T10:26:14.957618Z","endpoints":[{"dns_record":"","id":"6be44650-110f-4a78-aedf-899d7fc8450d","public":{},"services":[{"name":"dashboard","port":5601,"url":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6.scbl.fr-par.scw.cloud"}]}],"id":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6","name":"tf-test-opensearch-volume","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.46075ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/4608483e-be7e-4b21-9bce-c7c9a9e2b4f6
        method: GET
      response:
        body: '{"created_at":"2026-02-09T10:26:14.957618Z","endpoints":[{"dns_record":"","id":"6be44650-110f-4a78-aedf-899d7fc8450d","public":{},"services":[{"name":"dashboard","port":5601,"url":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6.scbl.fr-par.scw.cloud"}]}],"id":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6","name":"tf-test-opensearch-volume","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.849416ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"volume_size_bytes":10000000000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/4608483e-be7e-4b21-9bce-c7c9a9e2b4f6/upgrade
        method: POST
      response:
        body: '{"created_at":"2026-02-09T10:26:14.957618Z","endpoints":[{"dns_record":"","id":"6be44650-110f-4a78-aedf-899d7fc8450d","public":{},"services":[{"name":"dashboard","port":5601,"url":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6.scbl.fr-par.scw.cloud"}]}],"id":"4608483e-be7e-4b21-9bce-c7c9a9e2b4f6","name":"tf-test-opensearch-volume","node_amount":1,"node_type":"SEARCHDB-DEDICATED-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"upgrading","tags":[],"updated_at":"2026-02-09T10:32:50.960334Z","version":"2.0","volume":{"size_bytes":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.502875ms
[...]
