---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.341495ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-flamboyant-blackburn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-27T16:09:29.512965Z","description":"","id":"b74c857a-7332-4455-89f1-4498363dd540","name":"tf-project-flamboyant-blackburn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-07-27T16:09:29.512965Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 978.944989ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b74c857a-7332-4455-89f1-4498363dd540
        method: GET
      response:
        body: '{"created_at":"2026-07-27T16:09:29.512965Z","description":"","id":"b74c857a-7332-4455-89f1-4498363dd540","name":"tf-project-flamboyant-blackburn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-07-27T16:09:29.512965Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.527367ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"b74c857a-7332-4455-89f1-4498363dd540","name":"tf-test-opensearch-list-1","tags":["opensearch-list-test"],"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-07-27T16:09:30.609832Z","endpoints":[{"dns_record":"","id":"666a9a53-eaf8-48f0-bc69-411cec8b4dff","public":{},"services":[{"name":"dashboard","port":5601,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"}]}],"id":"945fd4d6-1194-416a-aaf5-605f214ebc96","name":"tf-test-opensearch-list-1","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b74c857a-7332-4455-89f1-4498363dd540","region":"fr-par","status":"creating","tags":["opensearch-list-test"],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.811248ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/945fd4d6-1194-416a-aaf5-605f214ebc96
        method: GET
      response:
        body: '{"created_at":"2026-07-27T16:09:30.609832Z","endpoints":[{"dns_record":"","id":"666a9a53-eaf8-48f0-bc69-411cec8b4dff","public":{},"services":[{"name":"dashboard","port":5601,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"}]}],"id":"945fd4d6-1194-416a-aaf5-605f214ebc96","name":"tf-test-opensearch-list-1","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b74c857a-7332-4455-89f1-4498363dd540","region":"fr-par","status":"creating","tags":["opensearch-list-test"],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.951625ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?order_by=created_at_asc&page=1&project_id=b74c857a-7332-4455-89f1-4498363dd540
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-07-27T16:09:30.609832Z","endpoints":[{"dns_record":"","id":"666a9a53-eaf8-48f0-bc69-411cec8b4dff","public":{},"services":[{"name":"dashboard","port":5601,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"}]}],"id":"945fd4d6-1194-416a-aaf5-605f214ebc96","name":"tf-test-opensearch-list-1","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organizat[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?name=tf-test-opensearch-list-1&order_by=created_at_asc&page=1&project_id=b74c857a-7332-4455-89f1-4498363dd540
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-07-27T16:09:30.609832Z","endpoints":[{"dns_record":"","id":"666a9a53-eaf8-48f0-bc69-411cec8b4dff","public":{},"services":[{"name":"dashboard","port":5601,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"945fd4d6-1194-416a-aaf5-605f214ebc96.scbl.fr-par.scw.cloud"}]}],"id":"945fd4d6-1194-416a-aaf5-605f214ebc96","name":"tf-test-opensearch-list-1","node_amount":1,"node_count":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b74c857a-7332-4455-89f1-4498363dd540","region":"fr-par","status":"ready","tags":["opensearch-list-test"],"updated_at":"2026-07-27T16:26:34.992601Z","version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.539972ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?order_by=created_at_asc&page=1&project_id=b74c857a-7332-4455-89f1-4498363dd540&tags=opensearch-list-test
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-05-04T08:33:25.710873Z","endpoints":[],"id":"491cbd84-c17f-4caf-8cc5-a07e070e0277","name":"tf-test-opensearch-list-[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/d4b2ea51-3927-4de1-b22c-c5f6be1b4e5a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"d4b2ea51-3927-4de1-b22c-c5f6be1b4e5a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 108.735631ms
[...]
