---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":false,"disabled":false,"end_of_life":"2027-06-06T00:00:00Z","version":"2.0"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.164542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"SEARCHDB-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":16000000000,"name":"SEARCHDB-DEDICATED2-4C-16G","stock_status":"available","vcpus":4},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_by[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-priceless-yonath","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-03T15:08:00.933198Z","description":"","id":"315fc396-25ec-4d8a-b847-30515bdc7ada","name":"tf-project-priceless-yonath","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-06-03T15:08:00.933198Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 703.066167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/315fc396-25ec-4d8a-b847-30515bdc7ada
        method: GET
      response:
        body: '{"created_at":"2026-06-03T15:08:00.933198Z","description":"","id":"315fc396-25ec-4d8a-b847-30515bdc7ada","name":"tf-project-priceless-yonath","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-06-03T15:08:00.933198Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.173458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"315fc396-25ec-4d8a-b847-30515bdc7ada","name":"tf-test-opensearch-list-1","tags":["opensearch-list-test"],"node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-06-03T15:08:01.668037Z","endpoints":[{"dns_record":"","id":"239517b1-de64-4dd4-81c3-bcfb04a11964","public":{},"services":[{"name":"dashboard","port":5601,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"}]}],"id":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428","name":"tf-test-opensearch-list-1","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"315fc396-25ec-4d8a-b847-30515bdc7ada","region":"fr-par","status":"creating","tags":["opensearch-list-test"],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.860584ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/6a5eb1a0-ea24-4f8d-89f2-d564fed88428
        method: GET
      response:
        body: '{"created_at":"2026-06-03T15:08:01.668037Z","endpoints":[{"dns_record":"","id":"239517b1-de64-4dd4-81c3-bcfb04a11964","public":{},"services":[{"name":"dashboard","port":5601,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"}]}],"id":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428","name":"tf-test-opensearch-list-1","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"315fc396-25ec-4d8a-b847-30515bdc7ada","region":"fr-par","status":"creating","tags":["opensearch-list-test"],"updated_at":null,"version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.521833ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?order_by=created_at_asc&page=1&project_id=315fc396-25ec-4d8a-b847-30515bdc7ada
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-06-03T15:08:01.668037Z","endpoints":[{"dns_record":"","id":"239517b1-de64-4dd4-81c3-bcfb04a11964","public":{},"services":[{"name":"dashboard","port":5601,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"}]}],"id":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428","name":"tf-test-opensearch-list-1","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdc[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?name=tf-test-opensearch-list-1&order_by=created_at_asc&page=1&project_id=315fc396-25ec-4d8a-b847-30515bdc7ada
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-06-03T15:08:01.668037Z","endpoints":[{"dns_record":"","id":"239517b1-de64-4dd4-81c3-bcfb04a11964","public":{},"services":[{"name":"dashboard","port":5601,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"},{"name":"api","port":9200,"url":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428.scbl.fr-par.scw.cloud"}]}],"id":"6a5eb1a0-ea24-4f8d-89f2-d564fed88428","name":"tf-test-opensearch-list-1","node_amount":1,"node_type":"SEARCHDB-DEDICATED2-2C-8G","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"315fc396-25ec-4d8a-b847-30515bdc7ada","region":"fr-par","status":"ready","tags":["opensearch-list-test"],"updated_at":"2026-06-03T15:16:00.259697Z","version":"2.0","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.013542ms
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?order_by=created_at_asc&page=1&project_id=315fc396-25ec-4d8a-b847-30515bdc7ada&tags=opensearch-list-test
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-05-04T08:33:25.710873Z","endpoints":[],"id":"491cbd84-c17f-4caf-8cc5-a07e070e0277","name":"tf-test-opensearch-list-[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments?order_by=created_at_asc&page=1&project_id=315fc396-25ec-4d8a-b847-30515bdc7ada&version=2.0
        method: GET
      response:
        body: '{"deployments":[{"created_at":"2026-06-03T15:08:01.668037Z","endpoints":[{"dns_record":"","id":"239517b1-de64-4dd4-81c3-bcfb04a11964","public":{},"services":[{"name"[...]
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/searchdb/v1alpha1/regions/fr-par/deployments/f51f8adb-e49c-40c0-8b8d-b8d36e13433c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"f51f8adb-e49c-40c0-8b8d-b8d36e13433c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 103.171334ms
[...]
