---
version: 1
interactions:
- request:
    body: '{"name":"tf-ssh-key-gifted-wu","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX
      opensource@scaleway.com","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"bfb27731-d99c-40bb-a38d-a2260e06d029","name":"tf-ssh-key-gifted-wu","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2020-09-17T14:12:59.163537Z","updated_at":"2020-10-14T10:31:51.497454Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/bfb27731-d99c-40bb-a38d-a2260e06d029
    method: GET
  response:
    body: '{"id":"bfb27731-d99c-40bb-a38d-a2260e06d029","name":"tf-ssh-key-gifted-wu","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2020-09-17T14:12:59.163537Z","updated_at":"2020-10-14T10:31:51.497454Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
