---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_project_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-17T12:00:41.521695Z","description":"","id":"3274172b-c46b-44e6-8235-0bf12d35718d","name":"tf_tests_project_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-17T12:00:41.521695Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/3274172b-c46b-44e6-8235-0bf12d35718d
    method: GET
  response:
    body: '{"created_at":"2023-07-17T12:00:41.521695Z","description":"","id":"3274172b-c46b-44e6-8235-0bf12d35718d","name":"tf_tests_project_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-17T12:00:41.521695Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/3274172b-c46b-44e6-8235-0bf12d35718d
    method: DELETE
  response:
    body: '{"message":"Internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/3274172b-c46b-44e6-8235-0bf12d35718d
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"3274172b-c46b-44e6-8235-0bf12d35718d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
