---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"id":"77306c47-7b8d-46b3-ad7f-90842cd01445","name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-20T12:12:59.456436Z","updated_at":"2022-07-20T12:12:59.456436Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/77306c47-7b8d-46b3-ad7f-90842cd01445
    method: GET
  response:
    body: '{"id":"77306c47-7b8d-46b3-ad7f-90842cd01445","name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-20T12:12:59.456436Z","updated_at":"2022-07-20T12:12:59.456436Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/77306c47-7b8d-46b3-ad7f-90842cd01445
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"77306c47-7b8d-46b3-ad7f-90842cd01445","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
