---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_project_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"id":"fd608008-52cc-4f96-8009-eb91b76ca44c","name":"tf_tests_project_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-18T15:54:26.035569Z","updated_at":"2022-07-18T15:54:26.035569Z","description":"a
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/fd608008-52cc-4f96-8009-eb91b76ca44c
    method: GET
  response:
    body: '{"id":"fd608008-52cc-4f96-8009-eb91b76ca44c","name":"tf_tests_project_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-18T15:54:26.035569Z","updated_at":"2022-07-18T15:54:26.035569Z","description":"a
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/fd608008-52cc-4f96-8009-eb91b76ca44c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"fd608008-52cc-4f96-8009-eb91b76ca44c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
