---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"id":"92eb0e17-9396-4680-9e0d-3313620d8550","name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-18T15:54:08.772330Z","updated_at":"2022-07-18T15:54:08.772330Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/92eb0e17-9396-4680-9e0d-3313620d8550
    method: GET
  response:
    body: '{"id":"92eb0e17-9396-4680-9e0d-3313620d8550","name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-18T15:54:08.772330Z","updated_at":"2022-07-18T15:54:08.772330Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/92eb0e17-9396-4680-9e0d-3313620d8550
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"92eb0e17-9396-4680-9e0d-3313620d8550","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
