---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"id":"f3645a9f-61cc-443e-b7ba-696f547b126b","name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-20T12:43:23.795390Z","updated_at":"2022-07-20T12:43:23.795390Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/f3645a9f-61cc-443e-b7ba-696f547b126b
    method: GET
  response:
    body: '{"id":"f3645a9f-61cc-443e-b7ba-696f547b126b","name":"tf_tests_project_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-20T12:43:23.795390Z","updated_at":"2022-07-20T12:43:23.795390Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/f3645a9f-61cc-443e-b7ba-696f547b126b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"f3645a9f-61cc-443e-b7ba-696f547b126b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
