---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-account-ssh-key-basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX
      opensource@scaleway.com","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"698ac1d5-8578-4805-9c24-dec25f6c87ee","name":"tf-test-account-ssh-key-basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2021-05-20T09:14:29.351018Z","updated_at":"2021-05-20T09:14:29.351018Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/698ac1d5-8578-4805-9c24-dec25f6c87ee
    method: GET
  response:
    body: '{"id":"698ac1d5-8578-4805-9c24-dec25f6c87ee","name":"tf-test-account-ssh-key-basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2021-05-20T09:14:29.351018Z","updated_at":"2021-05-20T09:14:29.351018Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/698ac1d5-8578-4805-9c24-dec25f6c87ee
    method: GET
  response:
    body: '{"message":"ssh key not found","resource":"ssh-key","resource_id":"698ac1d5-8578-4805-9c24-dec25f6c87ee","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
