---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-account-ssh-key-newline","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup
      opensource@scaleway.com","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2023-03-30T13:40:28.471119Z","disabled":false,"fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","id":"301908f3-070a-4ffe-8aa7-b1f8a84ba09d","name":"tf-test-account-ssh-key-newline","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","updated_at":"2023-03-30T13:40:28.471119Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/301908f3-070a-4ffe-8aa7-b1f8a84ba09d
    method: GET
  response:
    body: '{"created_at":"2023-03-30T13:40:28.471119Z","disabled":false,"fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","id":"301908f3-070a-4ffe-8aa7-b1f8a84ba09d","name":"tf-test-account-ssh-key-newline","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","updated_at":"2023-03-30T13:40:28.471119Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
