---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-account-ssh-key-basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX
      opensource@scaleway.com","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2023-03-30T13:40:16.976071Z","disabled":false,"fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","id":"2d229ada-ff49-41b4-83d1-5058c5c50b31","name":"tf-test-account-ssh-key-basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","updated_at":"2023-03-30T13:40:16.976071Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/2d229ada-ff49-41b4-83d1-5058c5c50b31
    method: GET
  response:
    body: '{"created_at":"2023-03-30T13:40:16.976071Z","disabled":false,"fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","id":"2d229ada-ff49-41b4-83d1-5058c5c50b31","name":"tf-test-account-ssh-key-basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","updated_at":"2023-03-30T13:40:16.976071Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
