---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_project_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:39:31.124746Z","description":"","id":"f27aedf3-173f-4d83-a3e5-2fecb2aa90f7","name":"tf_tests_project_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:39:31.124746Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/f27aedf3-173f-4d83-a3e5-2fecb2aa90f7
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:39:31.124746Z","description":"","id":"f27aedf3-173f-4d83-a3e5-2fecb2aa90f7","name":"tf_tests_project_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:39:31.124746Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/f27aedf3-173f-4d83-a3e5-2fecb2aa90f7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"f27aedf3-173f-4d83-a3e5-2fecb2aa90f7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
