---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-account-ssh-key-newline","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup
      opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2024-03-26T10:57:18.657757Z","disabled":false,"fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)","id":"266d6ee2-423b-4bb6-bdad-c991132b0e13","name":"tf-test-account-ssh-key-newline","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup","updated_at":"2024-03-26T10:57:18.657757Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/266d6ee2-423b-4bb6-bdad-c991132b0e13
    method: GET
  response:
    body: '{"created_at":"2024-03-26T10:57:18.657757Z","disabled":false,"fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)","id":"266d6ee2-423b-4bb6-bdad-c991132b0e13","name":"tf-test-account-ssh-key-newline","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup","updated_at":"2024-03-26T10:57:18.657757Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
