---
version: 1
interactions:
- request:
    body: '{"name":"tf-ssh-key-peaceful-knuth","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup
      opensource@scaleway.com","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"209de478-5ea8-42a0-b872-f0948c78dd7a","name":"tf-ssh-key-peaceful-knuth","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","created_at":"2021-05-14T16:11:36.719069Z","updated_at":"2021-05-14T16:11:36.719069Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/209de478-5ea8-42a0-b872-f0948c78dd7a
    method: GET
  response:
    body: '{"id":"209de478-5ea8-42a0-b872-f0948c78dd7a","name":"tf-ssh-key-peaceful-knuth","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","created_at":"2021-05-14T16:11:36.719069Z","updated_at":"2021-05-14T16:11:36.719069Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/209de478-5ea8-42a0-b872-f0948c78dd7a
    method: GET
  response:
    body: '{"message":"ssh key not found","resource":"ssh-key","resource_id":"209de478-5ea8-42a0-b872-f0948c78dd7a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
