---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_project_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"id":"b482d4b1-9eec-4050-a7cd-94959bc5bd22","name":"tf_tests_project_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-20T12:13:18.304919Z","updated_at":"2022-07-20T12:13:18.304919Z","description":"a
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/b482d4b1-9eec-4050-a7cd-94959bc5bd22
    method: GET
  response:
    body: '{"id":"b482d4b1-9eec-4050-a7cd-94959bc5bd22","name":"tf_tests_project_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","created_at":"2022-07-20T12:13:18.304919Z","updated_at":"2022-07-20T12:13:18.304919Z","description":"a
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/b482d4b1-9eec-4050-a7cd-94959bc5bd22
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"b482d4b1-9eec-4050-a7cd-94959bc5bd22","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
