---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-account-ssh-key-newline","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup
      opensource@scaleway.com","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"890dd4cf-6770-4f67-aaa7-fa44361d1972","name":"tf-test-account-ssh-key-newline","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","created_at":"2021-05-19T08:37:11.983176Z","updated_at":"2021-05-20T09:14:29.351224Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/890dd4cf-6770-4f67-aaa7-fa44361d1972
    method: GET
  response:
    body: '{"id":"890dd4cf-6770-4f67-aaa7-fa44361d1972","name":"tf-test-account-ssh-key-newline","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","created_at":"2021-05-19T08:37:11.983176Z","updated_at":"2021-05-20T09:14:29.351224Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/890dd4cf-6770-4f67-aaa7-fa44361d1972
    method: GET
  response:
    body: '{"message":"ssh key not found","resource":"ssh-key","resource_id":"890dd4cf-6770-4f67-aaa7-fa44361d1972","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
