---
version: 1
interactions:
- request:
    body: '{"name":"test-m1","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"M1-M"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"id":"f5f77f05-8054-4042-9298-3e158548637f","type":"M1-M","name":"test-m1","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":"195.154.249.131","vnc_url":"vnc://m1:rsY0p2ilXjon@195.154.249.131:5900","status":"starting","created_at":"2021-02-05T10:12:20.780897Z","updated_at":"2021-02-05T10:12:20.780897Z","deletable_at":"2021-02-05T10:12:20.780897Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/f5f77f05-8054-4042-9298-3e158548637f
    method: GET
  response:
    body: '{"id":"f5f77f05-8054-4042-9298-3e158548637f","type":"M1-M","name":"test-m1","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":"195.154.249.131","vnc_url":"vnc://m1:rsY0p2ilXjon@195.154.249.131:5900","status":"starting","created_at":"2021-02-05T10:12:20.780897Z","updated_at":"2021-02-05T10:12:20.780897Z","deletable_at":"2021-02-05T10:12:20.780897Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
