---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"895891f5-e1b4-474c-96dd-65ac0508b485","name":"TestAccScalewayBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2019-12-10T17:06:55.445893Z","updated_at":"2020-11-12T11:45:59.591594Z","creation_info":{"address":"212.47.225.164","user_agent":"Go-http-client/1.1","country_code":"FR"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/895891f5-e1b4-474c-96dd-65ac0508b485
    method: GET
  response:
    body: '{"id":"895891f5-e1b4-474c-96dd-65ac0508b485","name":"TestAccScalewayBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2019-12-10T17:06:55.445893Z","updated_at":"2020-11-12T11:45:59.591594Z","creation_info":{"address":"212.47.225.164","user_agent":"Go-http-client/1.1","country_code":"FR"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":9,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"low","bandwidth":1000000000,"commercial_range":"high_cpu","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":384000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high_cpu","price_per_hour":{"currency_code":"EUR","units":0,"nanos":996000000},"price_per_month":{"currency_code":"EUR","units":717,"nanos":120000000},"persistent_memories":[],"raid_controllers":[]},{"id":"3b654f13-34e5-452a-bed8-4f7472d29593","name":"HM-BM1-S","stock":"available","bandwidth":1000000000,"commercial_range":"high_memory","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200},{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200}],"memories":[{"capacity":192000000000,"type":"DDR4","frequenc[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_Basic","description":"test
      a description","tags":["terraform-test","scaleway_baremetal_server","minimal"],"install":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_Basic","description":"test
      a description","updated_at":"2020-11-12T11:46:01.394329040Z","created_at":"2020-11-12T11:46:01.394329040Z","status":"delivering","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["terraform-test","scaleway_baremetal_server","minimal"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850
    method: GET
  response:
    body: '{"id":"ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_Basic","description":"test
      a description","updated_at":"2020-11-12T11:46:01.394329Z","created_at":"2020-11-12T11:46:01.394329Z","status":"delivering","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["terraform-test","scaleway_baremetal_server","minimal"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850
    method: GET
  response:
    body: '{"id":"ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_Basic","description":"test
      a description","updated_at":"2020-11-12T11:50:25.688869Z","created_at":"2020-11-12T11:46:01.394329Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["terraform-test","scaleway_baremetal_server","minimal"],"ips":[{"id":"2f9db43a-69e6-4360-b155-80fc72976b41","address":"2001:0bc8:6006:2023:aa1e:84ff:fef2:a1f1","reverse":"ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"f27e1a13-2e48-4f17-9e7f-9957c02eff6d","address":"195.154.81.136","reverse":"ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayBaremetalServer_Basic","ssh_key_ids":["895891f5-e1b4-474c-96dd-65ac0508b485"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850/install
    method: POST
  response:
    body: '{"id":"ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_Basic","description":"test
      a description","updated_at":"2020-11-12T11:50:25.688869Z"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/964f9b38-577e-470f-a220-7d762f9e8672
    method: GET
  response:
    body: '{"id":"964f9b38-577e-470f-a220-7d762f9e8672","name":"GP-BM1-M","stock":"available","bandwidth":500000000,"commercial_range":"general_purpose","disks":[{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1240v6","core_count":4,"thread_count":8,"frequency":3700}],"memories":[{"capacity":64000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_gp","price_per_hour":{"currency_code":"EUR","units":0,"nanos":266000000},"price_per_month":{"currency_code":"EUR","units":191,"nanos":520000000},"persistent_memories":[],"raid_controllers":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ea7d3ebb-3cb4-49f8-920c-b9a3ec8ba850
    method: GET
  response:
    body: '{"message":"Server not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
