---
version: 1
interactions:
- request:
    body: '{"name":"tf-ssh-key-zealous-antonelli","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH
      opensource@scaleway.com","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"1cc4c216-5aec-4761-bb89-0a301629588e","name":"tf-ssh-key-zealous-antonelli","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2020-09-17T14:12:08.601260Z","updated_at":"2020-10-16T15:52:50.626416Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/1cc4c216-5aec-4761-bb89-0a301629588e
    method: GET
  response:
    body: '{"id":"1cc4c216-5aec-4761-bb89-0a301629588e","name":"tf-ssh-key-zealous-antonelli","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2020-09-17T14:12:08.601260Z","updated_at":"2020-10-16T15:52:50.626416Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":9,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"low","bandwidth":1000000000,"commercial_range":"high_cpu","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":384000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high_cpu","price_per_hour":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000},"persistent_memories":[],"raid_controllers":[]},{"id":"3b654f13-34e5-452a-bed8-4f7472d29593","name":"HM-BM1-S","stock":"available","bandwidth":1000000000,"commercial_range":"high_memory","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200},{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200}],"memories":[{"capacity":192000000000,"type":"DDR4","frequenc[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-bm-adoring-moser","description":"test
      a description","tags":["terraform-test","scaleway_baremetal_server","minimal"],"install":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"5e67b37e-f6c9-43a1-8955-b9042d1c5eda","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-bm-adoring-moser","description":"test
      a description","updated_at":"2020-10-16T15:52:51.566620810Z","created_at":"2020-10-16T15:52:51.566620810Z","status":"delivering","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["terraform-test","scaleway_baremetal_server","minimal"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/5e67b37e-f6c9-43a1-8955-b9042d1c5eda
    method: GET
  response:
    body: '{"id":"5e67b37e-f6c9-43a1-8955-b9042d1c5eda","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-bm-adoring-moser","description":"test
      a description","updated_at":"2020-10-16T15:52:51.566621Z","created_at":"2020-10-16T15:52:51.566621Z","status":"delivering","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["terraform-test","scaleway_baremetal_server","minimal"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/5e67b37e-f6c9-43a1-8955-b9042d1c5eda
    method: GET
  response:
    body: '{"id":"5e67b37e-f6c9-43a1-8955-b9042d1c5eda","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-bm-adoring-moser","description":"test
      a description","updated_at":"2020-10-16T15:55:14.767633Z","created_at":"2020-10-16T15:52:51.566621Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["terraform-test","scaleway_baremetal_server","minimal"],"ips":[{"id":"334e8eb1-be53-4c71-8aa5-3ec58d842629","address":"2001:0bc8:6005:0020:aa1e:84ff:fef3:5fe8","reverse":"5e67b37e-f6c9-43a1-8955-b9042d1c5eda.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"34f04d73-e6cb-48b7-8842-e33615f798ea","address":"51.159.38.48","reverse":"5e67b37e-f6c9-43a1-8955-b9042d1c5eda.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"5e67b37e-f6c9-43a1-8955-b9042d1c5eda.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"tf-bm-adoring-moser","ssh_key_ids":["1cc4c216-5aec-4761-bb89-0a301629588e"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/5e67b37e-f6c9-43a1-8955-b9042d1c5eda/install
    method: POST
  response:
    body: '{"id":"5e67b37e-f6c9-43a1-8955-b9042d1c5eda","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-bm-adoring-moser","description":"test
      a description","updated_at":"2020-10-16T15:55:14.767633Z","created_at":"20[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/964f9b38-577e-470f-a220-7d762f9e8672
    method: GET
  response:
    body: '{"id":"964f9b38-577e-470f-a220-7d762f9e8672","name":"GP-BM1-M","stock":"available","bandwidth":500000000,"commercial_range":"general_purpose","disks":[{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1240v6","core_count":4,"thread_count":8,"frequency":3700}],"memories":[{"capacity":64000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_gp","price_per_hour":{"currency_code":"EUR","units":0,"nanos":399900000},"price_per_month":{"currency_code":"EUR","units":199,"nanos":990000000},"persistent_memories":[],"raid_controllers":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/5e67b37e-f6c9-43a1-8955-b9042d1c5eda
    method: GET
  response:
    body: '{"message":"Server not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
