---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: '{"options":[{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote
      Access"},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network"},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter"}],"total_count":6}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"os":[{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"},{"enabled":true,"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"offers":[{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD
      Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["39176c6e-509d-4e6c-8e42-417d103f4579","3ea52186-1e57-499e-8146-ab38051a5c10","7c70ff80-dbfa-4e07-be73-1de0e60fe175","7e865c16-1a63-4dc7-8181-dabc020fc21b","b4816d13-8585-4005-a7c7-54a031dd933b","01d6eef6-6b96-47fd-b9f9-3857321abe4f","ac5cc157-caee-406a-ae0a-a28d7c30389a","bd17a2bb-e686-486a-aacf-44fa8ce6e553","bf705b90-1548-4368-98ca-d17dbd8dd860","5dfefb70-053e-4ba8-9d76-537b230db94e","a47ccf6f-1990-4488-8f64-332a6da3ef84","3422ae02-d6d7-4980-8a00-eb38c262fb41","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","7fb86682-316e-4f6e-a845-de9b230cdd29","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"],"memories":[{"capacity":16000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"name":"EM-A210R-HDD","operation_path":"","options":[{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":500000000,"units":16},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":250000000,"units":107},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":250000000,"units":107},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":500000000,"units":16},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":122000000,"units":0},"price_per_month":null,"quota_name":"EM_A210R_SATA","raid_controllers":[],"stock":"low","subscription_period":"hourly"},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"","core_count":4,"frequency":2800,"name":"Intel
      Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6000000000000,"type":"HDD"},{"capacity":6000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":[],"memories":[{"capacity":96000000000,"frequency":1600,"is_ecc":true,"type":[...]
[...]
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithOption","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2023-02-10T16:39:45.242645Z","creation_info":{"address":"","country_code":"","user_agent":""},"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"0c755ca3-dde6-4aff-b026-efa085a72ba5","name":"TestAccScalewayBaremetalServer_CreateServerWithOption","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-02-10T16:39:45.242645Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/0c755ca3-dde6-4aff-b026-efa085a72ba5
    method: GET
  response:
    body: '{"created_at":"2023-02-10T16:39:45.242645Z","creation_info":{"address":"","country_code":"","user_agent":""},"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"0c755ca3-dde6-4aff-b026-efa085a72ba5","name":"TestAccScalewayBaremetalServer_CreateServerWithOption","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-02-10T16:39:45.242645Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_CreateServerWithOption","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-02-10T16:39:46.353317Z","description":"","domain":"","id":"daf4c2c9-e45c-4d71-8c61-948aa974c60e","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithOption","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2023-02-10T16:39:46.353317Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/daf4c2c9-e45c-4d71-8c61-948aa974c60e
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-02-10T16:39:46.353317Z","description":"","domain":"","id":"daf4c2c9-e45c-4d71-8c61-948aa974c60e","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithOption","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2023-02-10T16:39:46.353317Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/daf4c2c9-e45c-4d71-8c61-948aa974c60e
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-02-10T16:39:46.353317Z","description":"","domain":"daf4c2c9-e45c-4d71-8c61-948aa974c60e.fr-par-2.baremetal.scw.cloud","id":"daf4c2c9-e45c-4d71-8c61-948aa974c60e","install":null,"ips":[{"address":"2001:0bc8:1201:000c:2247:47ff:fe98:6974","id":"8a694b12-7924-4da4-ab41-0f716f7c6056","reverse":"daf4c2c9-e45c-4d71-8c61-948aa974c60e.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"},{"address":"51.159.98.44","id":"f633f7a4-16b2-4cd2-87ec-4663fa911cac","reverse":"daf4c2c9-e45c-4d71-8c61-948aa974c60e.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithOption","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2023-02-10T16:40:08.412674Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_CreateServerWithOption","ssh_key_ids":["0c755ca3-dde6-4aff-b026-efa085a72ba5"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/daf4c2c9-e45c-4d71-8c61-948aa974c60e/install
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-02-10T16:39:46.353317Z","description":"","domain":"daf4c2c9-e45c-4d71-8c61-948aa974c60e.fr-par-2.baremetal.scw.cloud","id":"daf4c2c9-e45c-4d71-8c61-948aa974c60e","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithOption","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["0c755ca3-dde6-4aff-b026-efa085a72ba5"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"2001:0bc8:1201:000c:2247:47ff:fe98:6974","id":"8a694b12-7924-4da4-ab41-0f716f7c6056","reverse":"daf4c2c9-e45c-4d71-8c61-948aa974c60e.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"},{"address":"51.159.98.44","id":"f633f7a4-16b2-4cd2-87ec-4663fa911cac","reverse":"daf4c2c9-e45c-4d71-8c61-948aa974c60e.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithOption","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2023-02-10T16:40:08.412674Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/daf4c2c9-e45c-4d71-8c61-948aa974c60e/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-02-10T16:39:46.353317Z","description":"","domain":"daf4c2c9-e45c-4d71-8c61-948aa974c60e.fr-par-2.baremetal.scw.cloud","id":"daf4c2c9-e45c-4d71-8c61-948aa974c60e","install":{"hostname":"Test[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/a5065ba4-dde2-45f3-adec-1ebbb27b766b
    method: GET
  response:
    body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12},{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12}],"disks":[{"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=daf4c2c9-e45c-4d71-8c61-948aa974c60e
    method: GET
  response:
    body: '{"server_private_networks":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/daf4c2c9-e45c-4d71-8c61-948aa974c60e
    method: GET
  response:
    body: '{"message":"Server not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
