---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: '{"total_count":6,"options":[{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","name":"Windows
      2022 standard","manageable":false},{"id":"931df052-d713-4674-8b58-96a63244c8e2","name":"Remote
      Access","manageable":true},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","name":"Windows
      2022 datacenter","manageable":false},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","manageable":true},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","manageable":false},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","manageable":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"total_count":22,"os":[{"id":"96e5f0f2-d216-4de2-8a15-68730d877885","name":"Ubuntu","version":"22.04
      LTS (Jammy Jellyfish)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":true,"license_required":false},{"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","name":"Ubuntu","version":"20.04
      LTS (Focal Fossa)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":f[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":13,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price_per_hour":{"currency_code":"EUR","units":0,"nanos":122000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["3ea52186-1e57-499e-8146-ab38051a5c10","bd17a2bb-e686-486a-aacf-44fa8ce6e553","bf705b90-1548-4368-98ca-d17dbd8dd860","a47ccf6f-1990-4488-8f64-332a6da3ef84","5dfefb70-053e-4ba8-9d76-537b230db94e","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","7c70ff80-dbfa-4e07-be73-1de0e60fe175","ac5cc157-caee-406a-ae0a-a28d7c30389a","01d6eef6-6b96-47fd-b9f9-3857321abe4f","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","b4816d13-8585-4005-a7c7-54a031dd933b","3422ae02-d6d7-4980-8a00-eb38c262fb41","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","39176c6e-509d-4e6c-8e42-417d103f4579"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":16,"nanos":500000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":107,"nanos":250000000},"enabled":false,"subscription_period":"monthly","manageable":false[...]
[...]
- request:
    body: '{"name":"baremetal_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-2/private-networks
    method: POST
  response:
    body: '{"id":"95f7f634-d26e-4529-a38e-4b5d753e0810","name":"baremetal_private_network","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2022-12-06T15:31:36.847648Z","updated_at":"2022-12-06T15:31:36.847648Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-2/private-networks/95f7f634-d26e-4529-a38e-4b5d753e0810
    method: GET
  response:
    body: '{"id":"95f7f634-d26e-4529-a38e-4b5d753e0810","name":"baremetal_private_network","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2022-12-06T15:31:36.847648Z","updated_at":"2022-12-06T15:31:36.847648Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"028a3785-81c9-44af-a179-45ac8a26c0a8","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-12-06T15:31:36.856936Z","updated_at":"2022-12-06T15:31:36.856936Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/028a3785-81c9-44af-a179-45ac8a26c0a8
    method: GET
  response:
    body: '{"id":"028a3785-81c9-44af-a179-45ac8a26c0a8","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-12-06T15:31:36.856936Z","updated_at":"2022-12-06T15:31:36.856936Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"id":"96e5f0f2-d216-4de2-8a15-68730d877885","name":"Ubuntu","version":"22.04
      LTS (Jammy Jellyfish)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":true,"license_required":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","description":"","updated_at":"2022-12-06T15:31:37.918626Z","created_at":"2022-12-06T15:31:37.918626Z","status":"delivering","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/f4c36aa4-6570-44d8-bb7a-28cc675f7a94
    method: GET
  response:
    body: '{"id":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","description":"","updated_at":"2022-12-06T15:31:37.918626Z","created_at":"2022-12-06T15:31:37.918626Z","status":"delivering","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/f4c36aa4-6570-44d8-bb7a-28cc675f7a94
    method: GET
  response:
    body: '{"id":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","description":"","updated_at":"2022-12-06T15:35:22.313069Z","created_at":"2022-12-06T15:31:37.918626Z","status":"ready","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":null,"tags":[],"ips":[{"id":"60b16ad3-f2a3-48f3-8ef1-3ecd732d191a","address":"51.159.215.53","reverse":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"a41fbfc8-1356-4dca-b2f8-b937d03e26ea","address":"2001:0bc8:1201:062a:2247:47ff:fe8e:ac34","reverse":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","ssh_key_ids":["028a3785-81c9-44af-a179-45ac8a26c0a8"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/f4c36aa4-6570-44d8-bb7a-28cc675f7a94/install
    method: POST
  response:
    body: '{"id":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","description":"","updated_at":"2022-12-06T15:35:22.313069Z","created_at":"2022-12-06T15:31:37.918626Z","status":"ready","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","ssh_key_ids":["028a3785-81c9-44af-a179-45ac8a26c0a8"],"status":"to_install","user":"ubuntu","service_user":"","service_url":""},"tags":[],"ips":[{"id":"60b16ad3-f2a3-48f3-8ef1-3ecd732d191a","address":"51.159.215.53","reverse":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"a41fbfc8-1356-4dca-b2f8-b937d03e26ea","address":"2001:0bc8:1201:062a:2247:47ff:fe8e:ac34","reverse":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/f4c36aa4-6570-44d8-bb7a-28cc675f7a94/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: '{"id":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddAnotherPrivateNetwork","description":"","updated_at":"2022-12-06T15:35:22.313069Z","cr[...]
[...]
- request:
    body: '{"private_network_ids":["95f7f634-d26e-4529-a38e-4b5d753e0810"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/f4c36aa4-6570-44d8-bb7a-28cc675f7a94/private-networks
    method: PUT
  response:
    body: '{"server_private_networks":[{"id":"6ef55941-efba-49c1-9402-0dd4944b68f1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94","private_network_id":"95f7f634-d26e-4529-a38e-4b5d753e0810","vlan":1691,"updated_at":"2022-12-06T15:35:32.292745Z","created_at":"2022-12-06T15:35:32.292745Z","status":"attaching"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=f4c36aa4-6570-44d8-bb7a-28cc675f7a94
    method: GET
  response:
    body: '{"server_private_networks":[{"id":"6ef55941-efba-49c1-9402-0dd4944b68f1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"f4c36aa4-6570-44d8-bb7a-28cc675f7a94","private_network_id":"95f7f634-d26e-4529-a38e-4b5d753e0810","vlan":1691,"updated_at":"2022-12-06T15:35:32.292745Z","created_at":"2022-12-06T15:35:32.292745Z","status":"attaching"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/a5065ba4-dde2-45f3-adec-1ebbb27b766b
    method: GET
  response:
    body: '{"id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","name":"EM-B112X-SSD","stock":"available","bandwidth":1000000000,"commercial_range":"beryllium","disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity":1000000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E5 2620 or equivalent","co[...]
[...]
