---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"total_count":22,"os":[{"id":"96e5f0f2-d216-4de2-8a15-68730d877885","name":"Ubuntu","version":"22.04
      LTS (Jammy Jellyfish)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":true,"license_required":false},{"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","name":"Ubuntu","version":"20.04
      LTS (Focal Fossa)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":f[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":13,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600,"benchmark":""}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price_per_hour":{"currency_code":"EUR","units":0,"nanos":122000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["3422ae02-d6d7-4980-8a00-eb38c262fb41","7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","bf705b90-1548-4368-98ca-d17dbd8dd860","7e865c16-1a63-4dc7-8181-dabc020fc21b","b4816d13-8585-4005-a7c7-54a031dd933b","5dfefb70-053e-4ba8-9d76-537b230db94e","ac5cc157-caee-406a-ae0a-a28d7c30389a","3ea52186-1e57-499e-8146-ab38051a5c10","a47ccf6f-1990-4488-8f64-332a6da3ef84","39176c6e-509d-4e6c-8e42-417d103f4579","bd17a2bb-e686-486a-aacf-44fa8ce6e553","7fb86682-316e-4f6e-a845-de9b230cdd29","01d6eef6-6b96-47fd-b9f9-3857321abe4f"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":16,"nanos":500000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":107,"nanos":250000000},"enabled":false,"subscription_period":"monthly","manageable":false[...]
[...]
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_AddOption","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"12679931-bd8c-40c1-b6a4-fe7750be5e43","name":"TestAccScalewayBaremetalServer_AddOption","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-12-12T15:10:52.668668Z","updated_at":"2022-12-12T15:10:52.668668Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/12679931-bd8c-40c1-b6a4-fe7750be5e43
    method: GET
  response:
    body: '{"id":"12679931-bd8c-40c1-b6a4-fe7750be5e43","name":"TestAccScalewayBaremetalServer_AddOption","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-12-12T15:10:52.668668Z","updated_at":"2022-12-12T15:10:52.668668Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"id":"96e5f0f2-d216-4de2-8a15-68730d877885","name":"Ubuntu","version":"22.04
      LTS (Jammy Jellyfish)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":true,"license_required":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddOption","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"fc31dca3-7725-4034-ae4b-7390430238d9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddOption","description":"","updated_at":"2022-12-12T15:10:53.415087Z","created_at":"2022-12-12T15:10:53.415087Z","status":"delivering","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/fc31dca3-7725-4034-ae4b-7390430238d9
    method: GET
  response:
    body: '{"id":"fc31dca3-7725-4034-ae4b-7390430238d9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddOption","description":"","updated_at":"2022-12-12T15:10:53.415087Z","created_at":"2022-12-12T15:10:53.415087Z","status":"delivering","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_AddOption","ssh_key_ids":["12679931-bd8c-40c1-b6a4-fe7750be5e43"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/fc31dca3-7725-4034-ae4b-7390430238d9/install
    method: POST
  response:
    body: '{"id":"fc31dca3-7725-4034-ae4b-7390430238d9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddOption","description":"","updated_at":"2022-12-12T15:15:17.922360Z","created_at":"2022-12-12T15:10:53.415087Z","status":"ready","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_AddOption","ssh_key_ids":["12679931-bd8c-40c1-b6a4-fe7750be5e43"],"status":"to_install","user":"ubuntu","service_user":"","service_url":""},"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/fc31dca3-7725-4034-ae4b-7390430238d9
    method: GET
  response:
    body: '{"id":"fc31dca3-7725-4034-ae4b-7390430238d9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddOption","description":"","updated_at":"2022-12-12T15:15:24.187906Z","created_at":"2022-12-12T15:10:53.415087Z","status":"ready","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_AddOption","ssh_key_ids":["12679931-bd8c-40c1-b6a4-fe7750be5e43"],"status":"installing","user":"ubuntu","service_user":"","service_url":""},"tags":[],"ips":[{"id":"937ca1b7-0300-4f52-b757-04c8bc5caa5a","address":"51.159.102.51","reverse":"fc31dca3-7725-4034-ae4b-7390430238d9.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"e99b175b-e62b-4f76-9d3e-1c0248d3eeec","address":"2001:0bc8:1201:002f:569f:35ff:fe12:2f04","reverse":"fc31dca3-7725-4034-ae4b-7390430238d9.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"fc31dca3-7725-4034-ae4b-7390430238d9.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-B112X-SSD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/a5065ba4-dde2-45f3-adec-1ebbb27b766b
    method: GET
  response:
    body: '{"id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","name":"EM-B112X-SSD","stock":"available","bandwidth":1000000000,"commercial_range":"beryllium","disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity":1000000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E5 2620 or equivalent","co[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=fc31dca3-7725-4034-ae4b-7390430238d9
    method: GET
  response:
    body: '{"server_private_networks":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
