---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: '{"options":[{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote
      Access"},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network"},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter"}],"total_count":6}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"os":[{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"},{"enabled":true,"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"offers":[{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD
      Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["01d6eef6-6b96-47fd-b9f9-3857321abe4f","3422ae02-d6d7-4980-8a00-eb38c262fb41","3ea52186-1e57-499e-8146-ab38051a5c10","bd17a2bb-e686-486a-aacf-44fa8ce6e553","7e865c16-1a63-4dc7-8181-dabc020fc21b","b4816d13-8585-4005-a7c7-54a031dd933b","5dfefb70-053e-4ba8-9d76-537b230db94e","39176c6e-509d-4e6c-8e42-417d103f4579","ac5cc157-caee-406a-ae0a-a28d7c30389a","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","bf705b90-1548-4368-98ca-d17dbd8dd860","7fb86682-316e-4f6e-a845-de9b230cdd29","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","a47ccf6f-1990-4488-8f64-332a6da3ef84","7c70ff80-dbfa-4e07-be73-1de0e60fe175"],"memories":[{"capacity":16000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"name":"EM-A210R-HDD","operation_path":"","options":[{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":500000000,"units":16},"subscription_period":"monthly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":250000000,"units":107},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":250000000,"units":107},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":500000000,"units":16},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":122000000,"units":0},"price_per_month":null,"private_bandwidth":0,"quota_name":"EM_A210R_SATA","raid_controllers":[],"shared_bandwidth":false,"stock":"low","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"","core_count":4,"frequency":2800,"name":"Intel
      Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6000000000000,"type":"HDD"},{"capacity":6000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":[],"memories":[{"capacity":96000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-L101X-SATA","o[...]
[...]
- request:
    body: '{"name":"baremetal_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-2/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-03-07T13:04:40.911081Z","id":"dada75ed-3c8b-4d75-a47f-ced68b9ca711","name":"baremetal_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"tags":[],"updated_at":"2023-03-07T13:04:40.911081Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-2/private-networks/dada75ed-3c8b-4d75-a47f-ced68b9ca711
    method: GET
  response:
    body: '{"created_at":"2023-03-07T13:04:40.911081Z","id":"dada75ed-3c8b-4d75-a47f-ced68b9ca711","name":"baremetal_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"tags":[],"updated_at":"2023-03-07T13:04:40.911081Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2023-03-07T13:04:40.910925Z","creation_info":{"address":"","country_code":"","user_agent":""},"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"ab6c9d0c-6059-4f01-a835-a20866626251","name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-03-07T13:04:40.910925Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/ab6c9d0c-6059-4f01-a835-a20866626251
    method: GET
  response:
    body: '{"created_at":"2023-03-07T13:04:40.910925Z","creation_info":{"address":"","country_code":"","user_agent":""},"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"ab6c9d0c-6059-4f01-a835-a20866626251","name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-03-07T13:04:40.910925Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-03-07T13:04:41.763975Z","description":"","domain":"","id":"1b4967ea-34b2-4f6e-8562-f92737faded1","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2023-03-07T13:04:41.763975Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1b4967ea-34b2-4f6e-8562-f92737faded1
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-03-07T13:04:41.763975Z","description":"","domain":"","id":"1b4967ea-34b2-4f6e-8562-f92737faded1","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2023-03-07T13:04:41.763975Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1b4967ea-34b2-4f6e-8562-f92737faded1
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-03-07T13:04:41.763975Z","description":"","domain":"1b4967ea-34b2-4f6e-8562-f92737faded1.fr-par-2.baremetal.scw.cloud","id":"1b4967ea-34b2-4f6e-8562-f92737faded1","install":null,"ips":[{"address":"2001:0bc8:1201:0405:b283:feff:fed6:9660","id":"8045de5f-ffc5-41b5-a981-4f9316667cf7","reverse":"1b4967ea-34b2-4f6e-8562-f92737faded1.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"},{"address":"51.159.111.117","id":"b11631eb-01aa-4c8b-9960-8555d27610c3","reverse":"1b4967ea-34b2-4f6e-8562-f92737faded1.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2023-03-07T13:05:24.245747Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_AddPrivateNetwork","ssh_key_ids":["ab6c9d0c-6059-4f01-a835-a20866626251"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1b4967ea-34b2-4f6e-8562-f92737faded1/install
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-03-07T13:04:41.763975Z","description":"","domain":"1b4967ea-34b2-4f6e-8562-f92737faded1.fr-par-2.baremetal.scw.cloud","id":"1b4967ea-34b2-4f6e-8562-f92737faded1","install":{"hostname":"TestAccScalewayBaremetalServer_AddPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["ab6c9d0c-6059-4f01-a835-a20866626251"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"2001:0bc8:1201:0405:b283:feff:fed6:9660","id":"8045de5f-ffc5-41b5-a981-4f9316667cf7","reverse":"1b4967ea-34b2-4f6e-8562-f92737faded1.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"},{"address":"51.159.111.117","id":"b11631eb-01aa-4c8b-9960-8555d27610c3","reverse":"1b4967ea-34b2-4f6e-8562-f92737faded1.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"}],"name":"TestAccScalewayBaremetalServer_AddPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2023-03-07T13:05:24.245747Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/1b4967ea-34b2-4f6e-8562-f92737faded1/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-03-07T13:04:41.763975Z","description":"","domain":"1b4967ea-34b2-4f6e-8562-f92737faded1.fr-par-2.baremetal.scw.cloud","id":"1b4967ea-34b2-4f6e-8562-f92737faded1","install":{"hostname":"Test[...]
[...]
