---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/options?page=1
    method: GET
  response:
    body: '{"options":[{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard"},{"id":"931df052-d713-4674-8b58-96a63244c8e2","manageable":true,"name":"Remote
      Access"},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network"},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter"}],"total_count":6}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"os":[{"allowed":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"},{"allowed":true,"enabled":true,"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"requir[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"offers":[{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD
      Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["bf705b90-1548-4368-98ca-d17dbd8dd860","01d6eef6-6b96-47fd-b9f9-3857321abe4f","7c70ff80-dbfa-4e07-be73-1de0e60fe175","bd17a2bb-e686-486a-aacf-44fa8ce6e553","a47ccf6f-1990-4488-8f64-332a6da3ef84","5dfefb70-053e-4ba8-9d76-537b230db94e","b4816d13-8585-4005-a7c7-54a031dd933b","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","3ea52186-1e57-499e-8146-ab38051a5c10","7fb86682-316e-4f6e-a845-de9b230cdd29","3422ae02-d6d7-4980-8a00-eb38c262fb41","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","39176c6e-509d-4e6c-8e42-417d103f4579","ac5cc157-caee-406a-ae0a-a28d7c30389a","7e865c16-1a63-4dc7-8181-dabc020fc21b"],"memories":[{"capacity":16000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"name":"EM-A210R-HDD","operation_path":"","options":[{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":122000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A210R_SATA","raid_controllers":[],"shared_bandwidth":true,"stock":"available","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"","core_count":4,"frequency":2800,"name":"Intel
      Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6000000000000,"type":"HDD"},{"capacity":6000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":[],"memories":[{"capacity":96000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-L101X-SATA","o[...]
[...]
- request:
    body: '{"name":"baremetal_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:54:44.352456Z","dhcp_enabled":false,"id":"c0b6cc72-6e12-4ea0-ad7a-38e7c886ddcd","name":"baremetal_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:54:44.352456Z","id":"913bfa21-5416-4669-a239-b27c195ae046","subnet":"172.16.4.0/22","updated_at":"2023-07-11T17:54:44.352456Z"},{"created_at":"2023-07-11T17:54:44.352456Z","id":"1ea1d6cc-968b-49d8-b6e5-388118105347","subnet":"fd46:78ab:30b8:ee5f::/64","updated_at":"2023-07-11T17:54:44.352456Z"}],"tags":[],"updated_at":"2023-07-11T17:54:44.352456Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c0b6cc72-6e12-4ea0-ad7a-38e7c886ddcd
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:54:44.352456Z","dhcp_enabled":false,"id":"c0b6cc72-6e12-4ea0-ad7a-38e7c886ddcd","name":"baremetal_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:54:44.352456Z","id":"913bfa21-5416-4669-a239-b27c195ae046","subnet":"172.16.4.0/22","updated_at":"2023-07-11T17:54:44.352456Z"},{"created_at":"2023-07-11T17:54:44.352456Z","id":"1ea1d6cc-968b-49d8-b6e5-388118105347","subnet":"fd46:78ab:30b8:ee5f::/64","updated_at":"2023-07-11T17:54:44.352456Z"}],"tags":[],"updated_at":"2023-07-11T17:54:44.352456Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:54:44.352381Z","disabled":false,"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"22104183-bbe6-4961-bab9-4a9606898313","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-07-11T17:54:44.352381Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/22104183-bbe6-4961-bab9-4a9606898313
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:54:44.352381Z","disabled":false,"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"22104183-bbe6-4961-bab9-4a9606898313","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2023-07-11T17:54:44.352381Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"allowed":true,"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-07-11T17:54:45.476792Z","description":"","domain":"","id":"165c3ec1-8bfb-4864-9092-29dabead7e76","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2023-07-11T17:54:45.476792Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/165c3ec1-8bfb-4864-9092-29dabead7e76
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-07-11T17:54:45.476792Z","description":"","domain":"","id":"165c3ec1-8bfb-4864-9092-29dabead7e76","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2023-07-11T17:54:45.476792Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/165c3ec1-8bfb-4864-9092-29dabead7e76
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2023-07-11T17:54:45.476792Z","description":"","domain":"165c3ec1-8bfb-4864-9092-29dabead7e76.fr-par-2.baremetal.scw.cloud","id":"165c3ec1-8bfb-4864-9092-29dabead7e76","install":null,"ips":[{"address":"51.159.101.78","id":"96076d5a-11e4-4c6a-99ab-3880868665e9","reverse":"165c3ec1-8bfb-4864-9092-29dabead7e76.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"},{"address":"2001:0bc8:1201:0027:46a8:42ff:fe43:9fa2","id":"98c6600f-5d40-4094-8859-fb3c11d1db14","reverse":"165c3ec1-8bfb-4864-9092-29dabead7e76.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2023-07-11T17:55:09.017433Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","ssh_key_ids":["22104183-bbe6-4961-bab9-4a9606898313"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/165c3ec1-8bfb-4864-9092-29dabead7e76/install
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-07-11T17:54:45.476792Z","description":"","domain":"165c3ec1-8bfb-4864-9092-29dabead7e76.fr-par-2.baremetal.scw.cloud","id":"165c3ec1-8bfb-4864-9092-29dabead7e76","install":{"hostname":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["22104183-bbe6-4961-bab9-4a9606898313"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"51.159.101.78","id":"96076d5a-11e4-4c6a-99ab-3880868665e9","reverse":"165c3ec1-8bfb-4864-9092-29dabead7e76.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"},{"address":"2001:0bc8:1201:0027:46a8:42ff:fe43:9fa2","id":"98c6600f-5d40-4094-8859-fb3c11d1db14","reverse":"165c3ec1-8bfb-4864-9092-29dabead7e76.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayBaremetalServer_CreateServerWithPrivateNetwork","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2023-07-11T17:55:09.017433Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/165c3ec1-8bfb-4864-9092-29dabead7e76/options/cd4158d7-2d65-49be-8803-c4b8ab6f760c
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2023-07-11T17:54:45.476792Z","description":"","domain":"165c3ec1-8bfb-4864-9092-29dabead7e76.fr-par-2.baremetal.scw.cloud","id":"165c3ec1-8bfb-4864-9092-29dabead7e76","install":{"hostname":"Test[...]
- request:
    body: '{"private_network_ids":["c0b6cc72-6e12-4ea0-ad7a-38e7c886ddcd"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/165c3ec1-8bfb-4864-9092-29dabead7e76/private-networks
    method: PUT
  response:
    body: '{"server_private_networks":[{"created_at":"2023-07-11T17:55:11.525655Z","id":"afe377a6-8587-41f6-be7f-65484b5f741f","private_network_id":"c0b6cc72-6e12-4ea0-ad7a-38e7c886ddcd","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"165c3ec1-8bfb-4864-9092-29dabead7e76","status":"attaching","updated_at":"2023-07-11T17:55:11.525655Z","vlan":2330}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=165c3ec1-8bfb-4864-9092-29dabead7e76
    method: GET
  response:
    body: '{"server_private_networks":[{"created_at":"2023-07-11T17:55:11.525655Z","id":"afe377a6-8587-41f6-be7f-65484b5f741f","private_network_id":"c0b6cc72-6e12-4ea0-ad7a-38e7c886ddcd","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server_id":"165c3ec1-8bfb-4864-9092-29dabead7e76","status":"attaching","updated_at":"2023-07-11T17:55:11.525655Z","vlan":2330}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/a5065ba4-dde2-45f3-adec-1ebbb27b766b
    method: GET
  response:
    body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12},{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12}],"disks":[{"[...]
[...]
