---
version: 1
interactions:
- request:
    body: '{"name":"tf-volume-affectionate-fermat","perf_iops":5000,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","from_empty":{"size":10000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"created_at":"2023-11-23T12:58:49.106454Z","id":"79d6d7f3-b47c-4aee-adfe-f77d521ab887","last_detached_at":null,"name":"tf-volume-affectionate-fermat","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:58:49.106454Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/79d6d7f3-b47c-4aee-adfe-f77d521ab887
    method: GET
  response:
    body: '{"created_at":"2023-11-23T12:58:49.106454Z","id":"79d6d7f3-b47c-4aee-adfe-f77d521ab887","last_detached_at":null,"name":"tf-volume-affectionate-fermat","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:58:49.106454Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"volume_id":"79d6d7f3-b47c-4aee-adfe-f77d521ab887","name":"test-block-snapshot-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"class":"sbs","created_at":"2023-11-23T12:58:54.412302Z","id":"e52c2894-f387-4ba6-8915-3e31d39eb425","name":"test-block-snapshot-basic","parent_volume":{"id":"79d6d7f3-b47c-4aee-adfe-f77d521ab887","name":"tf-volume-affectionate-fermat","status":"snapshotting","type":"sbs_5k"},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2023-11-23T12:58:54.412302Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e52c2894-f387-4ba6-8915-3e31d39eb425
    method: GET
  response:
    body: '{"class":"sbs","created_at":"2023-11-23T12:58:54.412302Z","id":"e52c2894-f387-4ba6-8915-3e31d39eb425","name":"test-block-snapshot-basic","parent_volume":{"id":"79d6d7f3-b47c-4aee-adfe-f77d521ab887","name":"tf-volume-affectionate-fermat","status":"snapshotting","type":"sbs_5k"},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2023-11-23T12:58:54.412302Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/e52c2894-f387-4ba6-8915-3e31d39eb425
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"snapshot","resource_id":"e52c2894-f387-4ba6-8915-3e31d39eb425","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
