---
version: 1
interactions:
- request:
    body: '{"name":"test-block-volume-basic","perf_iops":5000,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","from_empty":{"size":20000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"created_at":"2023-11-23T12:57:56.029560Z","id":"70340ff3-ef35-4bdf-92ae-735cea13839f","last_detached_at":null,"name":"test-block-volume-basic","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:57:56.029560Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/70340ff3-ef35-4bdf-92ae-735cea13839f
    method: GET
  response:
    body: '{"created_at":"2023-11-23T12:57:56.029560Z","id":"70340ff3-ef35-4bdf-92ae-735cea13839f","last_detached_at":null,"name":"test-block-volume-basic","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":20000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:57:56.111800Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/70340ff3-ef35-4bdf-92ae-735cea13839f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"volume","resource_id":"70340ff3-ef35-4bdf-92ae-735cea13839f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/70340ff3-ef35-4bdf-92ae-735cea13839f
    method: DELETE
  response:
    body: '{"expired_since":"2023-11-23T12:57:57.398827Z","message":"resource has
      expired","resource":"volume","resource_id":"70340ff3-ef35-4bdf-92ae-735cea13839f","type":"expired"}'
    headers:
      Content-Type:
      - application/json
    status: 410 Gone
    code: 410
    duration: ""
