---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-cockpit-2875526407682918488","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-16T10:18:53.201931Z","description":"","id":"695a09eb-50fa-42f9-9422-00448db37b97","name":"test-acc-scaleway-cockpit-2875526407682918488","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T10:18:53.201931Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/695a09eb-50fa-42f9-9422-00448db37b97
    method: GET
  response:
    body: '{"created_at":"2023-02-16T10:18:53.201931Z","description":"","id":"695a09eb-50fa-42f9-9422-00448db37b97","name":"test-acc-scaleway-cockpit-2875526407682918488","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T10:18:53.201931Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"695a09eb-50fa-42f9-9422-00448db37b97"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T10:18:54.201198Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://695a09eb-50fa-42f9-9422-00448db37b97.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"695a09eb-50fa-42f9-9422-00448db37b97","status":"creating","updated_at":"2023-02-16T10:18:54.201198Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=695a09eb-50fa-42f9-9422-00448db37b97
    method: GET
  response:
    body: '{"created_at":"2023-02-16T10:18:54.201198Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://695a09eb-50fa-42f9-9422-00448db37b97.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"695a09eb-50fa-42f9-9422-00448db37b97","status":"creating","updated_at":"2023-02-16T10:18:54.201198Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"695a09eb-50fa-42f9-9422-00448db37b97"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T10:18:54.201198Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://695a09eb-50fa-42f9-9422-00448db37b97.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"695a09eb-50fa-42f9-9422-00448db37b97","status":"deleting","updated_at":"2023-02-16T10:19:46.290336Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=695a09eb-50fa-42f9-9422-00448db37b97
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"695a09eb-50fa-42f9-9422-00448db37b97","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
