---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:57:18.980486Z","description":"","id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-17T14:57:18.980486Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/5d4431a6-ab89-4ac9-afff-cda39c347c86
    method: GET
  response:
    body: '{"created_at":"2023-02-17T14:57:18.980486Z","description":"","id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-17T14:57:18.980486Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:57:20.589187Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://5d4431a6-ab89-4ac9-afff-cda39c347c86.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","status":"creating","updated_at":"2023-02-17T14:57:20.589187Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=5d4431a6-ab89-4ac9-afff-cda39c347c86
    method: GET
  response:
    body: '{"created_at":"2023-02-17T14:57:20.589187Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://5d4431a6-ab89-4ac9-afff-cda39c347c86.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","status":"creating","updated_at":"2023-02-17T14:57:20.589187Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","name":"tf_tests_cockpit_token_update","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:57:51.186017Z","id":"bef724c9-017f-4dec-92cb-76ec14700694","name":"tf_tests_cockpit_token_update","project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-17T14:57:51.186017Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/bef724c9-017f-4dec-92cb-76ec14700694
    method: GET
  response:
    body: '{"created_at":"2023-02-17T14:57:51.186017Z","id":"bef724c9-017f-4dec-92cb-76ec14700694","name":"tf_tests_cockpit_token_update","project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-17T14:57:51.186017Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:57:20.589187Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://5d4431a6-ab89-4ac9-afff-cda39c347c86.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","status":"deleting","updated_at":"2023-02-17T14:57:53.914223Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=5d4431a6-ab89-4ac9-afff-cda39c347c86
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"5d4431a6-ab89-4ac9-afff-cda39c347c86","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/ce4c5374-138d-457b-8513-182172d1f806
    method: DELETE
  response:
    body: '{"details":[{"action":"write","resource":"cockpit"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
