---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:51:43.838260Z","description":"","id":"54c4f433-d53a-4132-af0d-f2456868c65a","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-04-21T15:51:43.838260Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/54c4f433-d53a-4132-af0d-f2456868c65a
    method: GET
  response:
    body: '{"created_at":"2023-04-21T15:51:43.838260Z","description":"","id":"54c4f433-d53a-4132-af0d-f2456868c65a","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-04-21T15:51:43.838260Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"54c4f433-d53a-4132-af0d-f2456868c65a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:51:48.951354Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://54c4f433-d53a-4132-af0d-f2456868c65a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"54c4f433-d53a-4132-af0d-f2456868c65a","status":"creating","updated_at":"2023-04-21T15:51:48.951354Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=54c4f433-d53a-4132-af0d-f2456868c65a
    method: GET
  response:
    body: '{"created_at":"2023-04-21T15:51:48.951354Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://54c4f433-d53a-4132-af0d-f2456868c65a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"54c4f433-d53a-4132-af0d-f2456868c65a","status":"creating","updated_at":"2023-04-21T15:51:48.951354Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"54c4f433-d53a-4132-af0d-f2456868c65a","name":"tf_tests_cockpit_token_update","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:52:20.876503Z","id":"3f2cca37-3357-4255-a06d-7577d3ce880f","name":"tf_tests_cockpit_token_update","project_id":"54c4f433-d53a-4132-af0d-f2456868c65a","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-04-21T15:52:20.876503Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/3f2cca37-3357-4255-a06d-7577d3ce880f
    method: GET
  response:
    body: '{"created_at":"2023-04-21T15:52:20.876503Z","id":"3f2cca37-3357-4255-a06d-7577d3ce880f","name":"tf_tests_cockpit_token_update","project_id":"54c4f433-d53a-4132-af0d-f2456868c65a","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-04-21T15:52:20.876503Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"54c4f433-d53a-4132-af0d-f2456868c65a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:51:48.951354Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://54c4f433-d53a-4132-af0d-f2456868c65a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"54c4f433-d53a-4132-af0d-f2456868c65a","status":"deleting","updated_at":"2023-04-21T15:52:25.120145Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=54c4f433-d53a-4132-af0d-f2456868c65a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"54c4f433-d53a-4132-af0d-f2456868c65a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
