---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-cockpit-1772722160941818365","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-15T17:27:16.023300Z","description":"","id":"7f9cc993-0c87-48b4-b8c1-f7796285f295","name":"test-acc-scaleway-cockpit-1772722160941818365","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-15T17:27:16.023300Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/7f9cc993-0c87-48b4-b8c1-f7796285f295
    method: GET
  response:
    body: '{"created_at":"2023-02-15T17:27:16.023300Z","description":"","id":"7f9cc993-0c87-48b4-b8c1-f7796285f295","name":"test-acc-scaleway-cockpit-1772722160941818365","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-15T17:27:16.023300Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"7f9cc993-0c87-48b4-b8c1-f7796285f295"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-15T17:27:17.297924Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://7f9cc993-0c87-48b4-b8c1-f7796285f295.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"7f9cc993-0c87-48b4-b8c1-f7796285f295","status":"creating","updated_at":"2023-02-15T17:27:17.297924Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=7f9cc993-0c87-48b4-b8c1-f7796285f295
    method: GET
  response:
    body: '{"created_at":"2023-02-15T17:27:17.297924Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://7f9cc993-0c87-48b4-b8c1-f7796285f295.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"7f9cc993-0c87-48b4-b8c1-f7796285f295","status":"creating","updated_at":"2023-02-15T17:27:17.297924Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"7f9cc993-0c87-48b4-b8c1-f7796285f295"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-15T17:27:17.297924Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://7f9cc993-0c87-48b4-b8c1-f7796285f295.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"7f9cc993-0c87-48b4-b8c1-f7796285f295","status":"deleting","updated_at":"2023-02-15T17:27:48.664960Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=7f9cc993-0c87-48b4-b8c1-f7796285f295
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"7f9cc993-0c87-48b4-b8c1-f7796285f295","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
