---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:24:53.281867Z","description":"","id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:24:53.281867Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:24:53.281867Z","description":"","id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:24:53.281867Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:24:59.244439Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","status":"creating","updated_at":"2023-05-17T15:24:59.244439Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:24:59.244439Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","status":"creating","updated_at":"2023-05-17T15:24:59.244439Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","name":"tf_tests_cockpit_token_basic","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:25:41.174085Z","id":"cc2ec549-e322-406f-bead-f5aa236a8c96","name":"tf_tests_cockpit_token_basic","project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-05-17T15:25:41.174085Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/cc2ec549-e322-406f-bead-f5aa236a8c96
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:25:41.174085Z","id":"cc2ec549-e322-406f-bead-f5aa236a8c96","name":"tf_tests_cockpit_token_basic","project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-05-17T15:25:41.174085Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:24:59.244439Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","status":"deleting","updated_at":"2023-05-17T15:25:42.843318Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"dc77bd48-e5e1-4474-a8b4-68b5e3d7f39a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
