---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:28:29.962625Z","description":"","id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:28:29.962625Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/b1ed4e59-4432-4a52-a627-78649ebd1f9b
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:28:29.962625Z","description":"","id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:28:29.962625Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:28:36.901408Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://b1ed4e59-4432-4a52-a627-78649ebd1f9b.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","status":"creating","updated_at":"2023-05-17T15:28:36.901408Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=b1ed4e59-4432-4a52-a627-78649ebd1f9b
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:28:36.901408Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://b1ed4e59-4432-4a52-a627-78649ebd1f9b.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","status":"creating","updated_at":"2023-05-17T15:28:36.901408Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","name":"tf_tests_cockpit_token_no_scopes","scopes":{"query_metrics":false,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":true,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:29:14.111781Z","id":"c7a55fc8-b202-4dc1-9909-0db4d523e3d4","name":"tf_tests_cockpit_token_no_scopes","project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","scopes":{"query_logs":false,"query_metrics":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-05-17T15:29:14.111781Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/c7a55fc8-b202-4dc1-9909-0db4d523e3d4
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:29:14.111781Z","id":"c7a55fc8-b202-4dc1-9909-0db4d523e3d4","name":"tf_tests_cockpit_token_no_scopes","project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","scopes":{"query_logs":false,"query_metrics":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-05-17T15:29:14.111781Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:28:36.901408Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://b1ed4e59-4432-4a52-a627-78649ebd1f9b.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","status":"deleting","updated_at":"2023-05-17T15:29:15.694787Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=b1ed4e59-4432-4a52-a627-78649ebd1f9b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"b1ed4e59-4432-4a52-a627-78649ebd1f9b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
