---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:53:24.439487Z","description":"","id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-04-21T15:53:24.439487Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/b2c3350d-fc68-4b70-8cbb-33c0c78c43f5
    method: GET
  response:
    body: '{"created_at":"2023-04-21T15:53:24.439487Z","description":"","id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-04-21T15:53:24.439487Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:53:29.048600Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://b2c3350d-fc68-4b70-8cbb-33c0c78c43f5.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","status":"creating","updated_at":"2023-04-21T15:53:29.048600Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=b2c3350d-fc68-4b70-8cbb-33c0c78c43f5
    method: GET
  response:
    body: '{"created_at":"2023-04-21T15:53:29.048600Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://b2c3350d-fc68-4b70-8cbb-33c0c78c43f5.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","status":"creating","updated_at":"2023-04-21T15:53:29.048600Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","name":"tf_tests_cockpit_token_no_scopes","scopes":{"query_metrics":false,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":true,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:54:00.479329Z","id":"389eb897-82da-4a90-a292-f350b0254f99","name":"tf_tests_cockpit_token_no_scopes","project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","scopes":{"query_logs":false,"query_metrics":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-04-21T15:54:00.479329Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/389eb897-82da-4a90-a292-f350b0254f99
    method: GET
  response:
    body: '{"created_at":"2023-04-21T15:54:00.479329Z","id":"389eb897-82da-4a90-a292-f350b0254f99","name":"tf_tests_cockpit_token_no_scopes","project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","scopes":{"query_logs":false,"query_metrics":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-04-21T15:54:00.479329Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-04-21T15:53:29.048600Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://b2c3350d-fc68-4b70-8cbb-33c0c78c43f5.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","status":"deleting","updated_at":"2023-04-21T15:54:02.131758Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=b2c3350d-fc68-4b70-8cbb-33c0c78c43f5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"b2c3350d-fc68-4b70-8cbb-33c0c78c43f5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
