---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"help_message":"names must be unique within a project","message":"resource
      already exists","resource":"cockpit","resource_id":"","type":"already_exists"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
