---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_grafana_user_non_existent_cockpit","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-01T14:37:02.111577Z","description":"","id":"44e89e02-5be7-4132-9f30-d949f54e9e5b","name":"tf_tests_cockpit_grafana_user_non_existent_cockpit","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-01T14:37:02.111577Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/44e89e02-5be7-4132-9f30-d949f54e9e5b
    method: GET
  response:
    body: '{"created_at":"2023-12-01T14:37:02.111577Z","description":"","id":"44e89e02-5be7-4132-9f30-d949f54e9e5b","name":"tf_tests_cockpit_grafana_user_non_existent_cockpit","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-01T14:37:02.111577Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=44e89e02-5be7-4132-9f30-d949f54e9e5b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"44e89e02-5be7-4132-9f30-d949f54e9e5b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
