---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_grafana_user_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.504128Z","description":"","id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:52.504128Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/0a156c97-a352-4fcc-9e29-f21e4e3cbe7d
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:52.504128Z","description":"","id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:52.504128Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.830115Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://0a156c97-a352-4fcc-9e29-f21e4e3cbe7d.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d","status":"creating","updated_at":"2023-07-19T14:06:52.830115Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=0a156c97-a352-4fcc-9e29-f21e4e3cbe7d
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:52.830115Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://0a156c97-a352-4fcc-9e29-f21e4e3cbe7d.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d","status":"creating","updated_at":"2023-07-19T14:06:52.830115Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d","login":"testuser","role":"editor"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users
    method: POST
  response:
    body: '{"id":2,"login":"testuser","password":"E4WXnqpxYV8ey5Mi","role":"editor"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users?order_by=login_asc&page=1&project_id=0a156c97-a352-4fcc-9e29-f21e4e3cbe7d
    method: GET
  response:
    body: '{"grafana_users":[{"id":2,"login":"testuser","password":"","role":"editor"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users/2/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"project_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.830115Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://0a156c97-a352-4fcc-9e29-f21e4e3cbe7d.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d","status":"deleting","updated_at":"2023-07-19T14:07:25.749191Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=0a156c97-a352-4fcc-9e29-f21e4e3cbe7d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"0a156c97-a352-4fcc-9e29-f21e4e3cbe7d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
