---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:38:26.293762Z","description":"","id":"55ee4259-bbaf-464d-98d4-c2e8f9841428","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-02-20T14:38:26.293762Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/55ee4259-bbaf-464d-98d4-c2e8f9841428
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:38:26.293762Z","description":"","id":"55ee4259-bbaf-464d-98d4-c2e8f9841428","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-02-20T14:38:26.293762Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"55ee4259-bbaf-464d-98d4-c2e8f9841428"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:38:26.729580Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://55ee4259-bbaf-464d-98d4-c2e8f9841428.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"free","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"55ee4259-bbaf-464d-98d4-c2e8f9841428","status":"ready","updated_at":"2024-02-20T14:38:26.729580Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=55ee4259-bbaf-464d-98d4-c2e8f9841428
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:38:26.729580Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://55ee4259-bbaf-464d-98d4-c2e8f9841428.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"free","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"55ee4259-bbaf-464d-98d4-c2e8f9841428","status":"ready","updated_at":"2024-02-20T14:38:26.729580Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/plans?order_by=name_asc&page=1
    method: GET
  response:
    body: '{"plans":[{"id":"custom","logs_ingestion_price":35,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"retention_traces_interval":null,"sample_ingestion_price":15,"traces_ingestion_price":0},{"id":"free","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":null,"sample_ingestion_price":15,"traces_ingestion_price":0},{"id":"premium","logs_ingestion_price":35,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"retention_traces_interval":null,"sample_ingestion_price":15,"traces_ingestion_price":0}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"55ee4259-bbaf-464d-98d4-c2e8f9841428","plan_id":"premium"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/select-plan
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"55ee4259-bbaf-464d-98d4-c2e8f9841428"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:38:26.729580Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://55ee4259-bbaf-464d-98d4-c2e8f9841428.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"premium","logs_ingestion_price":35,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"retention_traces_interval":"2678400s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"55ee4259-bbaf-464d-98d4-c2e8f9841428","status":"ready","updated_at":"2024-02-20T14:38:29.645153Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=55ee4259-bbaf-464d-98d4-c2e8f9841428
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"55ee4259-bbaf-464d-98d4-c2e8f9841428","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
