---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_grafana_user_non_existent_cockpit","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:26:45.759343Z","description":"","id":"39386e33-dd04-4e14-8b51-a9cfb2a62e3f","name":"tf_tests_cockpit_grafana_user_non_existent_cockpit","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:26:45.759343Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/39386e33-dd04-4e14-8b51-a9cfb2a62e3f
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:26:45.759343Z","description":"","id":"39386e33-dd04-4e14-8b51-a9cfb2a62e3f","name":"tf_tests_cockpit_grafana_user_non_existent_cockpit","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:26:45.759343Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=39386e33-dd04-4e14-8b51-a9cfb2a62e3f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"39386e33-dd04-4e14-8b51-a9cfb2a62e3f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
