---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-25T08:29:01.978107Z","description":"","id":"03e139b9-9a63-4769-88e1-bb5e4922f421","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-25T08:29:01.978107Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/03e139b9-9a63-4769-88e1-bb5e4922f421
    method: GET
  response:
    body: '{"created_at":"2023-05-25T08:29:01.978107Z","description":"","id":"03e139b9-9a63-4769-88e1-bb5e4922f421","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-25T08:29:01.978107Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"03e139b9-9a63-4769-88e1-bb5e4922f421"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-05-25T08:29:08.368521Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://03e139b9-9a63-4769-88e1-bb5e4922f421.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"03e139b9-9a63-4769-88e1-bb5e4922f421","status":"creating","updated_at":"2023-05-25T08:29:08.368521Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=03e139b9-9a63-4769-88e1-bb5e4922f421
    method: GET
  response:
    body: '{"created_at":"2023-05-25T08:29:08.368521Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://03e139b9-9a63-4769-88e1-bb5e4922f421.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"03e139b9-9a63-4769-88e1-bb5e4922f421","status":"creating","updated_at":"2023-05-25T08:29:08.368521Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"03e139b9-9a63-4769-88e1-bb5e4922f421","login":"testuser","role":"editor"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users
    method: POST
  response:
    body: '{"id":2,"login":"testuser","password":"aFtO0Gbup4_tWnAB","role":"editor"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users?order_by=login_asc&page=1&project_id=03e139b9-9a63-4769-88e1-bb5e4922f421
    method: GET
  response:
    body: '{"grafana_users":[{"id":2,"login":"testuser","password":"","role":"editor"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"03e139b9-9a63-4769-88e1-bb5e4922f421"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users/2/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"project_id":"03e139b9-9a63-4769-88e1-bb5e4922f421"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-05-25T08:29:08.368521Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://03e139b9-9a63-4769-88e1-bb5e4922f421.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"03e139b9-9a63-4769-88e1-bb5e4922f421","status":"deleting","updated_at":"2023-05-25T08:29:44.879079Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=03e139b9-9a63-4769-88e1-bb5e4922f421
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"03e139b9-9a63-4769-88e1-bb5e4922f421","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
