---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.495377Z","description":"","id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","name":"tf_tests_cockpit_token_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:52.495377Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/b6e344e2-eac8-43ab-a6bd-c6f7aa97e324
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:52.495377Z","description":"","id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","name":"tf_tests_cockpit_token_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:52.495377Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.832867Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://b6e344e2-eac8-43ab-a6bd-c6f7aa97e324.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","status":"creating","updated_at":"2023-07-19T14:06:52.832867Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=b6e344e2-eac8-43ab-a6bd-c6f7aa97e324
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:52.832867Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://b6e344e2-eac8-43ab-a6bd-c6f7aa97e324.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","status":"creating","updated_at":"2023-07-19T14:06:52.832867Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","name":"tf_tests_cockpit_token_basic","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:58.825430Z","id":"03ffa841-d35f-4211-940a-f6fe954d3256","name":"tf_tests_cockpit_token_basic","project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T14:06:58.825430Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/03ffa841-d35f-4211-940a-f6fe954d3256
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:58.825430Z","id":"03ffa841-d35f-4211-940a-f6fe954d3256","name":"tf_tests_cockpit_token_basic","project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T14:06:58.825430Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.832867Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://b6e344e2-eac8-43ab-a6bd-c6f7aa97e324.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","status":"deleting","updated_at":"2023-07-19T14:07:00.545202Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=b6e344e2-eac8-43ab-a6bd-c6f7aa97e324
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"b6e344e2-eac8-43ab-a6bd-c6f7aa97e324","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
