---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_project_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.488919Z","description":"","id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6","name":"tf_tests_cockpit_project_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:52.488919Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/6f7eb466-5d2b-4dc8-878e-a6e1670acca6
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:52.488919Z","description":"","id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6","name":"tf_tests_cockpit_project_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:52.488919Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.787366Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://6f7eb466-5d2b-4dc8-878e-a6e1670acca6.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6","status":"creating","updated_at":"2023-07-19T14:06:52.787366Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=6f7eb466-5d2b-4dc8-878e-a6e1670acca6
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:52.787366Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://6f7eb466-5d2b-4dc8-878e-a6e1670acca6.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6","status":"creating","updated_at":"2023-07-19T14:06:52.787366Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/plans?order_by=name_asc&page=1
    method: GET
  response:
    body: '{"plans":[{"id":"38ed62e2-23a4-45b3-89f8-db881bd193f8","logs_ingestion_price":35,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15},{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},{"id":"dd6d77ff-7ca8-41eb-93ae-1443311664b2","logs_ingestion_price":35,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6","plan_id":"dd6d77ff-7ca8-41eb-93ae-1443311664b2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/select-plan
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:52.787366Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://6f7eb466-5d2b-4dc8-878e-a6e1670acca6.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"dd6d77ff-7ca8-41eb-93ae-1443311664b2","logs_ingestion_price":35,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15},"project_id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6","status":"deleting","updated_at":"2023-07-19T14:07:16.739634Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=6f7eb466-5d2b-4dc8-878e-a6e1670acca6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"6f7eb466-5d2b-4dc8-878e-a6e1670acca6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
