---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:14:58.341025Z","description":"","id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","name":"tf_tests_cockpit_token_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-17T14:14:58.341025Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/1b3b0b48-ba6b-4a43-b3ca-44c102623cc7
    method: GET
  response:
    body: '{"created_at":"2023-02-17T14:14:58.341025Z","description":"","id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","name":"tf_tests_cockpit_token_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-17T14:14:58.341025Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:14:59.423560Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://1b3b0b48-ba6b-4a43-b3ca-44c102623cc7.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","status":"creating","updated_at":"2023-02-17T14:14:59.423560Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=1b3b0b48-ba6b-4a43-b3ca-44c102623cc7
    method: GET
  response:
    body: '{"created_at":"2023-02-17T14:14:59.423560Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://1b3b0b48-ba6b-4a43-b3ca-44c102623cc7.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","status":"creating","updated_at":"2023-02-17T14:14:59.423560Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","name":"tf_tests_cockpit_token_basic","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:15:30.029115Z","id":"28bbb6ee-66df-4193-8d66-98c6e285243b","name":"tf_tests_cockpit_token_basic","project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-17T14:15:30.029115Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/28bbb6ee-66df-4193-8d66-98c6e285243b
    method: GET
  response:
    body: '{"created_at":"2023-02-17T14:15:30.029115Z","id":"28bbb6ee-66df-4193-8d66-98c6e285243b","name":"tf_tests_cockpit_token_basic","project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-17T14:15:30.029115Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-17T14:14:59.423560Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://1b3b0b48-ba6b-4a43-b3ca-44c102623cc7.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","status":"deleting","updated_at":"2023-02-17T14:15:31.366719Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=1b3b0b48-ba6b-4a43-b3ca-44c102623cc7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"1b3b0b48-ba6b-4a43-b3ca-44c102623cc7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/28bbb6ee-66df-4193-8d66-98c6e285243b
    method: DELETE
  response:
    body: '{"details":[{"action":"write","resource":"cockpit"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
