---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-cockpit-7770553040775378070","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-16T11:06:56.360305Z","description":"","id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd","name":"test-acc-scaleway-cockpit-7770553040775378070","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T11:06:56.360305Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/1d034e56-7d1e-4116-9a1f-3eda596b81cd
    method: GET
  response:
    body: '{"created_at":"2023-02-16T11:06:56.360305Z","description":"","id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd","name":"test-acc-scaleway-cockpit-7770553040775378070","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T11:06:56.360305Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T11:06:57.611118Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://1d034e56-7d1e-4116-9a1f-3eda596b81cd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd","status":"creating","updated_at":"2023-02-16T11:06:57.611118Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=1d034e56-7d1e-4116-9a1f-3eda596b81cd
    method: GET
  response:
    body: '{"created_at":"2023-02-16T11:06:57.611118Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://1d034e56-7d1e-4116-9a1f-3eda596b81cd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd","status":"creating","updated_at":"2023-02-16T11:06:57.611118Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T11:06:57.611118Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://1d034e56-7d1e-4116-9a1f-3eda596b81cd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd","status":"deleting","updated_at":"2023-02-16T11:07:34.058070Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=1d034e56-7d1e-4116-9a1f-3eda596b81cd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"1d034e56-7d1e-4116-9a1f-3eda596b81cd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
