---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-16T17:46:48.835388Z","description":"","id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-16T17:46:48.835388Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/f0c4f62f-8f89-4fc4-9696-0227c1fb35bd
    method: GET
  response:
    body: '{"created_at":"2023-05-16T17:46:48.835388Z","description":"","id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-16T17:46:48.835388Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-05-16T17:46:54.793831Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://f0c4f62f-8f89-4fc4-9696-0227c1fb35bd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd","status":"creating","updated_at":"2023-05-16T17:46:54.793831Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=f0c4f62f-8f89-4fc4-9696-0227c1fb35bd
    method: GET
  response:
    body: '{"created_at":"2023-05-16T17:46:54.793831Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://f0c4f62f-8f89-4fc4-9696-0227c1fb35bd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd","status":"creating","updated_at":"2023-05-16T17:46:54.793831Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/plans?order_by=name_asc&page=1
    method: GET
  response:
    body: '{"plans":[{"id":"38ed62e2-23a4-45b3-89f8-db881bd193f8","logs_ingestion_price":35,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15},{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},{"id":"dd6d77ff-7ca8-41eb-93ae-1443311664b2","logs_ingestion_price":35,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd","plan_id":"dd6d77ff-7ca8-41eb-93ae-1443311664b2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/select-plan
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-05-16T17:46:54.793831Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://f0c4f62f-8f89-4fc4-9696-0227c1fb35bd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"dd6d77ff-7ca8-41eb-93ae-1443311664b2","logs_ingestion_price":35,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15},"project_id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd","status":"deleting","updated_at":"2023-05-16T17:47:33.773751Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=f0c4f62f-8f89-4fc4-9696-0227c1fb35bd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"f0c4f62f-8f89-4fc4-9696-0227c1fb35bd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
