---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:50.650025Z","description":"","id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","name":"tf_tests_cockpit_token_no_scopes","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:50.650025Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:50.650025Z","description":"","id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","name":"tf_tests_cockpit_token_no_scopes","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T14:06:50.650025Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:51.869386Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","status":"creating","updated_at":"2023-07-19T14:06:51.869386Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:51.869386Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","status":"creating","updated_at":"2023-07-19T14:06:51.869386Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","name":"tf_tests_cockpit_token_no_scopes","scopes":{"query_metrics":false,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":true,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:57.756089Z","id":"f2109a73-4706-40af-b463-a6d9f271bc52","name":"tf_tests_cockpit_token_no_scopes","project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","scopes":{"query_logs":false,"query_metrics":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T14:06:57.756089Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/f2109a73-4706-40af-b463-a6d9f271bc52
    method: GET
  response:
    body: '{"created_at":"2023-07-19T14:06:57.756089Z","id":"f2109a73-4706-40af-b463-a6d9f271bc52","name":"tf_tests_cockpit_token_no_scopes","project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","scopes":{"query_logs":false,"query_metrics":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T14:06:57.756089Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-07-19T14:06:51.869386Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","status":"deleting","updated_at":"2023-07-19T14:06:59.551060Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"aa15612b-0bca-4f7f-b03d-12c0bb1cbd4a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
