---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-22T15:09:57.563670Z","description":"","id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-22T15:09:57.563670Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f
    method: GET
  response:
    body: '{"created_at":"2023-02-22T15:09:57.563670Z","description":"","id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f","name":"tf_tests_cockpit_grafana_user_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-22T15:09:57.563670Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-22T15:09:59.188204Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f","status":"creating","updated_at":"2023-02-22T15:09:59.188204Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f
    method: GET
  response:
    body: '{"created_at":"2023-02-22T15:09:59.188204Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f","status":"creating","updated_at":"2023-02-22T15:09:59.188204Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f","login":"testuser","role":"editor"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users
    method: POST
  response:
    body: '{"id":2,"login":"testuser","password":"C6OEEJAgqu8SD-RZ","role":"editor"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users?order_by=login_asc&page=1&project_id=66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f
    method: GET
  response:
    body: '{"grafana_users":[{"id":2,"login":"testuser","password":"","role":"editor"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users/2/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"project_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-22T15:09:59.188204Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f","status":"deleting","updated_at":"2023-02-22T15:10:47.688230Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"66ae9e3c-57fc-4c8c-a9eb-eb1a8b1b6e4f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
