---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:51:32.246653Z","description":"","id":"a75368ee-f366-4108-9e40-c71c86cae0cd","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T12:51:32.246653Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/a75368ee-f366-4108-9e40-c71c86cae0cd
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:51:32.246653Z","description":"","id":"a75368ee-f366-4108-9e40-c71c86cae0cd","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T12:51:32.246653Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"a75368ee-f366-4108-9e40-c71c86cae0cd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:51:33.431581Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://a75368ee-f366-4108-9e40-c71c86cae0cd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"a75368ee-f366-4108-9e40-c71c86cae0cd","status":"creating","updated_at":"2023-02-16T12:51:33.431581Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=a75368ee-f366-4108-9e40-c71c86cae0cd
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:51:33.431581Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://a75368ee-f366-4108-9e40-c71c86cae0cd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"a75368ee-f366-4108-9e40-c71c86cae0cd","status":"creating","updated_at":"2023-02-16T12:51:33.431581Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"a75368ee-f366-4108-9e40-c71c86cae0cd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:51:33.431581Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://a75368ee-f366-4108-9e40-c71c86cae0cd.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"a75368ee-f366-4108-9e40-c71c86cae0cd","status":"deleting","updated_at":"2023-02-16T12:52:09.856094Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=a75368ee-f366-4108-9e40-c71c86cae0cd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"a75368ee-f366-4108-9e40-c71c86cae0cd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
