---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:26:42.560559Z","description":"","id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:26:42.560559Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/bfd6df9b-9209-4b3b-8107-b9c605cffdc9
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:26:42.560559Z","description":"","id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","name":"tf_tests_cockpit_token_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:26:42.560559Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:26:49.236091Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://bfd6df9b-9209-4b3b-8107-b9c605cffdc9.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","status":"creating","updated_at":"2023-05-17T15:26:49.236091Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=bfd6df9b-9209-4b3b-8107-b9c605cffdc9
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:26:49.236091Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://bfd6df9b-9209-4b3b-8107-b9c605cffdc9.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","status":"creating","updated_at":"2023-05-17T15:26:49.236091Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","name":"tf_tests_cockpit_token_update","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:27:26.058165Z","id":"57c5965b-29ca-4154-b2e3-2e32b0e155bb","name":"tf_tests_cockpit_token_update","project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-05-17T15:27:26.058165Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/57c5965b-29ca-4154-b2e3-2e32b0e155bb
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:27:26.058165Z","id":"57c5965b-29ca-4154-b2e3-2e32b0e155bb","name":"tf_tests_cockpit_token_update","project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-05-17T15:27:26.058165Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:26:49.236091Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://bfd6df9b-9209-4b3b-8107-b9c605cffdc9.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","status":"deleting","updated_at":"2023-05-17T15:27:29.751071Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=bfd6df9b-9209-4b3b-8107-b9c605cffdc9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"bfd6df9b-9209-4b3b-8107-b9c605cffdc9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
