---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-17T15:21:49.486792Z","description":"","id":"6f71f8a5-8b58-4677-b067-0877c5883791","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-17T15:21:49.486792Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/6f71f8a5-8b58-4677-b067-0877c5883791
    method: GET
  response:
    body: '{"created_at":"2023-02-17T15:21:49.486792Z","description":"","id":"6f71f8a5-8b58-4677-b067-0877c5883791","name":"tf_tests_cockpit_token_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-17T15:21:49.486792Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"6f71f8a5-8b58-4677-b067-0877c5883791"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-17T15:21:50.802391Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://6f71f8a5-8b58-4677-b067-0877c5883791.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"6f71f8a5-8b58-4677-b067-0877c5883791","status":"creating","updated_at":"2023-02-17T15:21:50.802391Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=6f71f8a5-8b58-4677-b067-0877c5883791
    method: GET
  response:
    body: '{"created_at":"2023-02-17T15:21:50.802391Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://6f71f8a5-8b58-4677-b067-0877c5883791.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"6f71f8a5-8b58-4677-b067-0877c5883791","status":"creating","updated_at":"2023-02-17T15:21:50.802391Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6f71f8a5-8b58-4677-b067-0877c5883791","name":"tf_tests_cockpit_token_basic","scopes":{"query_metrics":true,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":false,"setup_logs_rules":false,"setup_alerts":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-02-17T15:22:16.278047Z","id":"4ec94600-5d92-4eac-ac7f-eb6cb318ef59","name":"tf_tests_cockpit_token_basic","project_id":"6f71f8a5-8b58-4677-b067-0877c5883791","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-17T15:22:16.278047Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/4ec94600-5d92-4eac-ac7f-eb6cb318ef59
    method: GET
  response:
    body: '{"created_at":"2023-02-17T15:22:16.278047Z","id":"4ec94600-5d92-4eac-ac7f-eb6cb318ef59","name":"tf_tests_cockpit_token_basic","project_id":"6f71f8a5-8b58-4677-b067-0877c5883791","scopes":{"query_logs":false,"query_metrics":true,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":false,"write_metrics":true},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-17T15:22:16.278047Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6f71f8a5-8b58-4677-b067-0877c5883791"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-17T15:21:50.802391Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://6f71f8a5-8b58-4677-b067-0877c5883791.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"6f71f8a5-8b58-4677-b067-0877c5883791","status":"deleting","updated_at":"2023-02-17T15:22:17.476760Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=6f71f8a5-8b58-4677-b067-0877c5883791
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"6f71f8a5-8b58-4677-b067-0877c5883791","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/4ec94600-5d92-4eac-ac7f-eb6cb318ef59
    method: DELETE
  response:
    body: '{"details":[{"action":"write","resource":"cockpit"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
