---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:26:55.096369Z","description":"","id":"61b9fd09-d703-4903-88e4-288d6a663ff6","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:26:55.096369Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/61b9fd09-d703-4903-88e4-288d6a663ff6
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:26:55.096369Z","description":"","id":"61b9fd09-d703-4903-88e4-288d6a663ff6","name":"tf_tests_cockpit_grafana_user_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-17T15:26:55.096369Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"61b9fd09-d703-4903-88e4-288d6a663ff6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:27:00.359464Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://61b9fd09-d703-4903-88e4-288d6a663ff6.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"61b9fd09-d703-4903-88e4-288d6a663ff6","status":"creating","updated_at":"2023-05-17T15:27:00.359464Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=61b9fd09-d703-4903-88e4-288d6a663ff6
    method: GET
  response:
    body: '{"created_at":"2023-05-17T15:27:00.359464Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://61b9fd09-d703-4903-88e4-288d6a663ff6.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"61b9fd09-d703-4903-88e4-288d6a663ff6","status":"creating","updated_at":"2023-05-17T15:27:00.359464Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"61b9fd09-d703-4903-88e4-288d6a663ff6","login":"testuser","role":"editor"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users
    method: POST
  response:
    body: '{"id":2,"login":"testuser","password":"WQE4Gvhfc5DtRxVW","role":"editor"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users?order_by=login_asc&page=1&project_id=61b9fd09-d703-4903-88e4-288d6a663ff6
    method: GET
  response:
    body: '{"grafana_users":[{"id":2,"login":"testuser","password":"","role":"editor"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"61b9fd09-d703-4903-88e4-288d6a663ff6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/grafana-users/2/delete
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"project_id":"61b9fd09-d703-4903-88e4-288d6a663ff6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-05-17T15:27:00.359464Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://61b9fd09-d703-4903-88e4-288d6a663ff6.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"61b9fd09-d703-4903-88e4-288d6a663ff6","status":"deleting","updated_at":"2023-05-17T15:27:44.278340Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=61b9fd09-d703-4903-88e4-288d6a663ff6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"61b9fd09-d703-4903-88e4-288d6a663ff6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
