---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:23:54.034648Z","description":"","id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-11-09T21:23:54.034648Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/4f701e58-5c0f-4b4c-9d44-f3f3734b1086
    method: GET
  response:
    body: '{"created_at":"2023-11-09T21:23:54.034648Z","description":"","id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","name":"tf_tests_cockpit_token_no_scopes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-11-09T21:23:54.034648Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:23:54.335792Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://4f701e58-5c0f-4b4c-9d44-f3f3734b1086.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","status":"creating","updated_at":"2023-11-09T21:23:54.335792Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=4f701e58-5c0f-4b4c-9d44-f3f3734b1086
    method: GET
  response:
    body: '{"created_at":"2023-11-09T21:23:54.335792Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://4f701e58-5c0f-4b4c-9d44-f3f3734b1086.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","status":"creating","updated_at":"2023-11-09T21:23:54.335792Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","name":"tf_tests_cockpit_token_no_scopes","scopes":{"query_metrics":false,"write_metrics":true,"setup_metrics_rules":false,"query_logs":false,"write_logs":true,"setup_logs_rules":false,"setup_alerts":false,"query_traces":false,"write_traces":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/tokens
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:23:59.702582Z","id":"b1257a96-67e6-41da-b012-4189f60dcce0","name":"tf_tests_cockpit_token_no_scopes","project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","scopes":{"query_logs":false,"query_metrics":false,"query_traces":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true,"write_traces":false},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-09T21:23:59.702582Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/tokens/b1257a96-67e6-41da-b012-4189f60dcce0
    method: GET
  response:
    body: '{"created_at":"2023-11-09T21:23:59.702582Z","id":"b1257a96-67e6-41da-b012-4189f60dcce0","name":"tf_tests_cockpit_token_no_scopes","project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","scopes":{"query_logs":false,"query_metrics":false,"query_traces":false,"setup_alerts":false,"setup_logs_rules":false,"setup_metrics_rules":false,"write_logs":true,"write_metrics":true,"write_traces":false},"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-09T21:23:59.702582Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-11-09T21:23:54.335792Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://4f701e58-5c0f-4b4c-9d44-f3f3734b1086.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud","traces_url":"https://traces.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"retention_traces_interval":"604800s","sample_ingestion_price":15,"traces_ingestion_price":35},"project_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","status":"deleting","updated_at":"2023-11-09T21:24:01.388508Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=4f701e58-5c0f-4b4c-9d44-f3f3734b1086
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"4f701e58-5c0f-4b4c-9d44-f3f3734b1086","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
