---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-hungry-thompson","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"2b3d68d4-0bf2-456f-a1a6-a3ef4dc3db67","name":"tf-ns-hungry-thompson","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2b3d68d4-0bf2-456f-a1a6-a3ef4dc3db67
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"2b3d68d4-0bf2-456f-a1a6-a3ef4dc3db67","name":"tf-ns-hungry-thompson","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"2b3d68d4-0bf2-456f-a1a6-a3ef4dc3db67","name":"my-container-with-cron-tf","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshungrythompsonaoosiqxo-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"47a4cf9d-6d20-4b54-9b35-b5450b3c17b6","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"2b3d68d4-0bf2-456f-a1a6-a3ef4dc3db67","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrythompsonaoosiqxo/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/47a4cf9d-6d20-4b54-9b35-b5450b3c17b6
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshungrythompsonaoosiqxo-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"47a4cf9d-6d20-4b54-9b35-b5450b3c17b6","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"2b3d68d4-0bf2-456f-a1a6-a3ef4dc3db67","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrythompsonaoosiqxo/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"47a4cf9d-6d20-4b54-9b35-b5450b3c17b6","schedule":"5 4
      1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"47a4cf9d-6d20-4b54-9b35-b5450b3c17b6","id":"e61e60e8-541f-44be-b427-288fb92f4dfd","name":"cron-e61e60e8-541f-44be-b427-288fb92f4dfd","schedule":"5
      4 1 * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/e61e60e8-541f-44be-b427-288fb92f4dfd
    method: GET
  response:
    body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"47a4cf9d-6d20-4b54-9b35-b5450b3c17b6","id":"e61e60e8-541f-44be-b427-288fb92f4dfd","name":"cron-e61e60e8-541f-44be-b427-288fb92f4dfd","schedule":"5
      4 1 * *","status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"container_id":"47a4cf9d-6d20-4b54-9b35-b5450b3c17b6","schedule":"5 4
      * * 1","args":{"test":"scw"},"name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/e61e60e8-541f-44be-b427-288fb92f4dfd
    method: PATCH
  response:
    body: '{"args":{"test":"scw"},"container_id":"47a4cf9d-6d20-4b54-9b35-b5450b3c17b6","id":"e61e60e8-541f-44be-b427-288fb92f4dfd","name":"cron-e61e60e8-541f-44be-b427-288fb92f4dfd","schedule":"5
      4 * * 1","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2b3d68d4-0bf2-456f-a1a6-a3ef4dc3db67
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
