---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-adoring-lamarr","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"105e5803-d311-4a37-ad95-e2a178ade3e0","name":"tf-ns-adoring-lamarr","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/105e5803-d311-4a37-ad95-e2a178ade3e0
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"105e5803-d311-4a37-ad95-e2a178ade3e0","name":"tf-ns-adoring-lamarr","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"105e5803-d311-4a37-ad95-e2a178ade3e0","name":"tf-co-nifty-blackwell","environment_variables":{"test":"test"},"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsadoringlamarrwvd9dwfz-tf-co-nifty-blackwell.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"http_option":"enabled","id":"85352ff8-8be2-45e0-8a8a-7d051e4751ba","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-nifty-blackwell","namespace_id":"105e5803-d311-4a37-ad95-e2a178ade3e0","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsadoringlamarrwvd9dwfz/tf-co-nifty-blackwell:latest","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$5PPsKAsuDxQLEU+uQcE8VA$4V8oH7y7tMFacOpBrxQxb7agcQ0Dd4+5ORfk39Uk85I","key":"test_secret"}],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/85352ff8-8be2-45e0-8a8a-7d051e4751ba
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsadoringlamarrwvd9dwfz-tf-co-nifty-blackwell.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"http_option":"enabled","id":"85352ff8-8be2-45e0-8a8a-7d051e4751ba","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-nifty-blackwell","namespace_id":"105e5803-d311-4a37-ad95-e2a178ade3e0","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsadoringlamarrwvd9dwfz/tf-co-nifty-blackwell:latest","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$5PPsKAsuDxQLEU+uQcE8VA$4V8oH7y7tMFacOpBrxQxb7agcQ0Dd4+5ORfk39Uk85I","key":"test_secret"}],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/85352ff8-8be2-45e0-8a8a-7d051e4751ba
    method: PATCH
  response:
    body: '{"cpu_limit":140,"de[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/105e5803-d311-4a37-ad95-e2a178ade3e0
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
