---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-tender-lichterman","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"c36aa846-ba97-4259-8f0b-110b6b396143","name":"tf-ns-tender-lichterman","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c36aa846-ba97-4259-8f0b-110b6b396143
    method: GET
  response:
    body: '{"id":"c36aa846-ba97-4259-8f0b-110b6b396143","name":"tf-ns-tender-lichterman","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"c36aa846-ba97-4259-8f0b-110b6b396143","name":"tf-co-clever-benz","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"c8dc1aa1-6848-4603-b0f1-ef4c78b05677","name":"tf-co-clever-benz","namespace_id":"c36aa846-ba97-4259-8f0b-110b6b396143","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnstenderlichtermanmxych7ti/tf-co-clever-benz:latest","max_concurrency":50,"domain_name":"tfnstenderlichtermanmxych7ti-tf-co-clever-benz.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c8dc1aa1-6848-4603-b0f1-ef4c78b05677
    method: GET
  response:
    body: '{"id":"c8dc1aa1-6848-4603-b0f1-ef4c78b05677","name":"tf-co-clever-benz","namespace_id":"c36aa846-ba97-4259-8f0b-110b6b396143","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnstenderlichtermanmxych7ti/tf-co-clever-benz:latest","max_concurrency":50,"domain_name":"tfnstenderlichtermanmxych7ti-tf-co-clever-benz.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c8dc1aa1-6848-4603-b0f1-ef4c78b05677
    method: GET
  response:
    body: '{"message":"Function was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"abb15b74-e582-48a2-86d0-e3d4e14dc8e8","name":"funcscwtfnsnaughtybenz89axwqfv","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/funcscwtfnsnaughtybenz89axwqfv","is_public":false,"size":0,"created_at":"2022-03-14T14:25:13.328382Z","updated_at":"2022-03-14T14:43:49.845651Z","image_count":0,"region":"fr-par"},{"id":"cd5bfb17-35eb-46b8-836e-9d24d31c3911","name":"funcscwtfnsfocusedlamport18id81c5","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/funcscwtfnsfocusedlamport18id81c5","is_public":false,"size":0,"created_at":"2022-03-14T14:44:04.186102Z","updated_at":"2022-03-14T14:44:04.186102Z","image_count":0,"region":"fr-par"},{"id":"241eab[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/abb15b74-e582-48a2-86d0-e3d4e14dc8e8
    method: DELETE
  response:
    body: '{"id":"abb15b74-e582-48a2-86d0-e3d4e14dc8e8","name":"funcscwtfnsnaughtybenz89axwqfv","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/funcscwtfnsnaughtybenz89axwqfv","is_public":false,"size":0,"created_at":"2022-03-14T14:25:13.328382Z","updated_at":"2022-03-14T14:58:08.481088637Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
