---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-busy-davinci","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"40c2f589-ddc8-4603-acb6-5af46ecdc202","name":"tf-ns-busy-davinci","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/40c2f589-ddc8-4603-acb6-5af46ecdc202
    method: GET
  response:
    body: '{"id":"40c2f589-ddc8-4603-acb6-5af46ecdc202","name":"tf-ns-busy-davinci","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"40c2f589-ddc8-4603-acb6-5af46ecdc202","name":"tf-co-strange-jackson","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"260ed542-cb5c-4d40-9050-e4bede04fbcd","name":"tf-co-strange-jackson","namespace_id":"40c2f589-ddc8-4603-acb6-5af46ecdc202","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsbusydavinciksvewdm5/tf-co-strange-jackson:latest","max_concurrency":50,"domain_name":"tfnsbusydavinciksvewdm5-tf-co-strange-jackson.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/260ed542-cb5c-4d40-9050-e4bede04fbcd
    method: GET
  response:
    body: '{"id":"260ed542-cb5c-4d40-9050-e4bede04fbcd","name":"tf-co-strange-jackson","namespace_id":"40c2f589-ddc8-4603-acb6-5af46ecdc202","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsbusydavinciksvewdm5/tf-co-strange-jackson:latest","max_concurrency":50,"domain_name":"tfnsbusydavinciksvewdm5-tf-co-strange-jackson.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":null,"min_scale":1,"max_scale":2,"memory_limit":256,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":80,"protocol":"unknown_protocol","port":5000,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/deca4b8d-a1d2-4390-8440-b405268b7594
    method: PATCH
  response:
    body: '{"id":"deca4b8d-a1d2-4390-8440-b405268b7594","name":"my-container-tf","namespace_id":"40c2f589-ddc8-4603-acb6-5af46ecdc202","status":"pending","environment_variables":{},"min_scale":1,"max_scale":2,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsbusydavinciksvewdm5/my-container-tf:latest","max_concurrency":80,"domain_name":"tfnsbusydavinciksvewdm5-my-container-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":5000,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/40c2f589-ddc8-4603-acb6-5af46ecdc202
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
