---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"5f38ff86-dba1-414b-b71e-04f002a2c9b2","name":"test-cr-ns-01","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5f38ff86-dba1-414b-b71e-04f002a2c9b2
    method: GET
  response:
    body: '{"id":"5f38ff86-dba1-414b-b71e-04f002a2c9b2","name":"test-cr-ns-01","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5f38ff86-dba1-414b-b71e-04f002a2c9b2
    method: PATCH
  response:
    body: '{"id":"5f38ff86-dba1-414b-b71e-04f002a2c9b2","name":"test-cr-ns-01","environment_variables":{"test":"test"},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","registry_namespace_id":"3c76f602-247e-4fd4-b7ad-5b39aebbcc47","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01e7feqemv","description":"","secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$iqqlEVb/5axjRAtN1Xkq3A$iKVflSe9h9xlB34vEZHGvd0I86Knjh/uxy4lz6DDv4U"}],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5f38ff86-dba1-414b-b71e-04f002a2c9b2
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"description":null,"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2659002a-557f-4e15-8c30-5a3880ec8866
    method: PATCH
  response:
    body: '{"id":"2659002a-557f-4e15-8c30-5a3880ec8866","name":"tf-env-test","environment_variables":{"foo":"bar"},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","registry_namespace_id":"c4866ee2-58aa-469b-b3ca-8433cf461a59","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestiqzj5dqn","description":"","secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$rD+MUqUFZ/MbPMpc+17JJg$Nklw7EbD7rOwGQelfsahsHvbUmLv9PFQqxFRfJBA6AQ"},{"key":"foo_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$npG4wOOkdtUpw9uPnn63ZQ$GDHdGOqp1xNisQwTdsUpnEq/stsQKSoaebMpSvYGFPs"}],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
