---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-eager-murdock","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"50f6abf8-5aff-44de-b874-45dcb69dcbd8","name":"tf-ns-eager-murdock","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/50f6abf8-5aff-44de-b874-45dcb69dcbd8
    method: GET
  response:
    body: '{"id":"50f6abf8-5aff-44de-b874-45dcb69dcbd8","name":"tf-ns-eager-murdock","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"50f6abf8-5aff-44de-b874-45dcb69dcbd8","name":"tf-co-thirsty-pike","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"c015f9d8-6e00-4f26-9d0d-58cac55f3237","name":"tf-co-thirsty-pike","namespace_id":"50f6abf8-5aff-44de-b874-45dcb69dcbd8","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnseagermurdockteh74flo/tf-co-thirsty-pike:latest","max_concurrency":50,"domain_name":"tfnseagermurdockteh74flo-tf-co-thirsty-pike.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c015f9d8-6e00-4f26-9d0d-58cac55f3237
    method: GET
  response:
    body: '{"id":"c015f9d8-6e00-4f26-9d0d-58cac55f3237","name":"tf-co-thirsty-pike","namespace_id":"50f6abf8-5aff-44de-b874-45dcb69dcbd8","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnseagermurdockteh74flo/tf-co-thirsty-pike:latest","max_concurrency":50,"domain_name":"tfnseagermurdockteh74flo-tf-co-thirsty-pike.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons?container_id=c015f9d8-6e00-4f26-9d0d-58cac55f3237&order_by=created_at_asc
    method: GET
  response:
    body: '{"crons":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-for-container-as-a-service-public","description":"test registry
      namespace for container as a service","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"6ce28ae3-b3d6-40f9-8918-ccba76e40607","name":"test-for-container-as-a-service-public","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-container-as-a-service-public","is_public":true,"size":0,"created_at":"2022-03-09T17:36:32.904759315Z","updated_at":"2022-03-09T17:36:32.904759315Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/6ce28ae3-b3d6-40f9-8918-ccba76e40607
    method: GET
  response:
    body: '{"id":"6ce28ae3-b3d6-40f9-8918-ccba76e40607","name":"test-for-container-as-a-service-public","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-container-as-a-service-public","is_public":true,"size":0,"created_at":"2022-03-09T17:36:32.904759Z","updated_at":"2022-03-09T17:36:32.904759Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"028ce79a-691d-435b-aba5-5d4b721280eb","name":"my-container-01","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":"test
      container","registry_image":"rg.fr-par.scw.cloud/test-for-container-as-a-service-public","max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"message":"Registry images should be rg.(fr-par OR nl-ams).scw.cloud/\u003calphanumeric
      - _\u003e/\u003calphanumeric - _\u003e:\u003calphanumeric - _ .\u003e"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
