---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-amazing-ganguly","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"a24d6ac3-49d3-4713-be55-0c957c3a28c9","name":"tf-ns-amazing-ganguly","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a24d6ac3-49d3-4713-be55-0c957c3a28c9
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"a24d6ac3-49d3-4713-be55-0c957c3a28c9","name":"tf-ns-amazing-ganguly","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"a24d6ac3-49d3-4713-be55-0c957c3a28c9","name":"tf-co-strange-hoover","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":"rg.fr-par.scw.cloud/funcscwtfnsamazinggangulywpwy9z06/nginx:test","max_concurrency":null,"protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"59d0884d-85e5-4177-91d8-af122dde5678","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-strange-hoover","namespace_id":"a24d6ac3-49d3-4713-be55-0c957c3a28c9","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsamazinggangulywpwy9z06/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/59d0884d-85e5-4177-91d8-af122dde5678
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"59d0884d-85e5-4177-91d8-af122dde5678","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-strange-hoover","namespace_id":"a24d6ac3-49d3-4713-be55-0c957c3a28c9","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsamazinggangulywpwy9z06/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/59d0884d-85e5-4177-91d8-af122dde5678
    method: PATCH
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"59d0884d-85e5-4177-91d8-af122dde5678","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-strange-hoover","namespace_id":"a24d6ac3-49d3-4713-be55-0c957c3a28c9","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsamazinggangulywpwy9z06/nginx:test","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud.","id":"e5091e19-dc6d-489b-9985-8124c8ae15e2","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2023-01-04T15:14:32Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud.","id":"e5091e19-dc6d-489b-9985-8124c8ae15e2","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=e5091e19-dc6d-489b-9985-8124c8ae15e2&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud.","id":"e5091e19-dc6d-489b-9985-8124c8ae15e2","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"59d0884d-85e5-4177-91d8-af122dde5678"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"container_id":"59d0884d-85e5-4177-91d8-af122dde5678","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"4fa17637-7308-444b-bc66-872a2f620417","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/4fa17637-7308-444b-bc66-872a2f620417
    method: GET
  response:
    body: '{"container_id":"59d0884d-85e5-4177-91d8-af122dde5678","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"4fa17637-7308-444b-bc66-872a2f620417","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=e5091e19-dc6d-489b-9985-8124c8ae15e2&name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsamazinggangulywpwy9z06-tf-co-strange-hoover.functions.fnc.fr-par.scw.cloud.","id":"e5091e19-dc6d-489b-9985-8124c8ae15e2","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"e5091e19-dc6d-489b-9985-8124c8ae15e2"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns1.dom.scw.cloud.","id":"d5bba7ca-6811-4d9a-badb-cd36e6b68e5a","name":"","priority":0,"ttl":600,"type":"NS"},{"comment":null,"data":"ns0.dom.scw.cloud.","id":"4155206d-679d-43e5-80bf-8ec2319a359c","name":"","priority":0,"ttl":600,"type":"NS"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
