---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-elegant-thompson","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"9954f09c-f6b1-4465-a905-a4c693357000","name":"tf-ns-elegant-thompson","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9954f09c-f6b1-4465-a905-a4c693357000
    method: GET
  response:
    body: '{"id":"9954f09c-f6b1-4465-a905-a4c693357000","name":"tf-ns-elegant-thompson","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"9954f09c-f6b1-4465-a905-a4c693357000","name":"tf-co-romantic-stonebraker","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"9efaefbd-a520-4703-bf0b-44d9d802a93f","name":"tf-co-romantic-stonebraker","namespace_id":"9954f09c-f6b1-4465-a905-a4c693357000","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnselegantthompsonifjvgzir/tf-co-romantic-stonebraker:latest","max_concurrency":50,"domain_name":"tfnselegantthompsonifjvgzir-tf-co-romantic-stonebraker.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9efaefbd-a520-4703-bf0b-44d9d802a93f
    method: GET
  response:
    body: '{"id":"9efaefbd-a520-4703-bf0b-44d9d802a93f","name":"tf-co-romantic-stonebraker","namespace_id":"9954f09c-f6b1-4465-a905-a4c693357000","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnselegantthompsonifjvgzir/tf-co-romantic-stonebraker:latest","max_concurrency":50,"domain_name":"tfnselegantthompsonifjvgzir-tf-co-romantic-stonebraker.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":null,"min_scale":1,"max_scale":2,"memory_limit":256,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":80,"protocol":"unknown_protocol","port":5000,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/fc809539-ca85-46c2-9b1b-1bcbd8627dbb
    method: PATCH
  response:
    body: '{"id":"fc809539-ca85-46c2-9b1b-1bcbd8627dbb","name":"my-container-tf","namespace_id":"9954f09c-f6b1-4465-a905-a4c693357000","status":"created","environment_variables":{},"min_scale":1,"max_scale":2,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnselegantthompsonifjvgzir/my-container-tf:latest","max_concurrency":80,"domain_name":"tfnselegantthompsonifjvgzir-my-container-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":5000,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9954f09c-f6b1-4465-a905-a4c693357000
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
