---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-angry-hopper","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"2dbd56fb-debd-4b62-9518-b69f1750c508","name":"tf-ns-angry-hopper","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2dbd56fb-debd-4b62-9518-b69f1750c508
    method: GET
  response:
    body: '{"id":"2dbd56fb-debd-4b62-9518-b69f1750c508","name":"tf-ns-angry-hopper","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"2dbd56fb-debd-4b62-9518-b69f1750c508","name":"tf-co-angry-shtern","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":"rg.fr-par.scw.cloud/funcscwtfnsangryhopperqr4hcjto/alpine:test","max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"d2dff77d-0ba6-471f-8d40-ba98a56181db","name":"tf-co-angry-shtern","namespace_id":"2dbd56fb-debd-4b62-9518-b69f1750c508","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsangryhopperqr4hcjto/alpine:test","max_concurrency":50,"domain_name":"tfnsangryhopperqr4hcjto-tf-co-angry-shtern.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d2dff77d-0ba6-471f-8d40-ba98a56181db
    method: GET
  response:
    body: '{"id":"d2dff77d-0ba6-471f-8d40-ba98a56181db","name":"tf-co-angry-shtern","namespace_id":"2dbd56fb-debd-4b62-9518-b69f1750c508","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsangryhopperqr4hcjto/alpine:test","max_concurrency":50,"domain_name":"tfnsangryhopperqr4hcjto-tf-co-angry-shtern.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d2dff77d-0ba6-471f-8d40-ba98a56181db
    method: PATCH
  response:
    body: '{"id":"d2dff77d-0ba6-471f-8d40-ba98a56181db","name":"tf-co-angry-shtern","namespace_id":"2dbd56fb-debd-4b62-9518-b69f1750c508","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsangryhopperqr4hcjto/alpine:test","max_concurrency":50,"domain_name":"tfnsangryhopperqr4hcjto-tf-co-angry-shtern.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"195.154.71.32.nip.io","container_id":"d2dff77d-0ba6-471f-8d40-ba98a56181db"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"message":"could not validate domain [195.154.71.32.nip.io]"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
