---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-festive-lamport","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"032c8f55-ac0f-4ea7-993d-74653fcae706","name":"tf-ns-festive-lamport","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/032c8f55-ac0f-4ea7-993d-74653fcae706
    method: GET
  response:
    body: '{"id":"032c8f55-ac0f-4ea7-993d-74653fcae706","name":"tf-ns-festive-lamport","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"032c8f55-ac0f-4ea7-993d-74653fcae706","name":"tf-co-trusting-meninsky","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"dedf13cb-8a45-45e4-8ac4-4868daf2ddbd","name":"tf-co-trusting-meninsky","namespace_id":"032c8f55-ac0f-4ea7-993d-74653fcae706","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfestivelamportzevj6pvl/tf-co-trusting-meninsky:latest","max_concurrency":50,"domain_name":"tfnsfestivelamportzevj6pvl-tf-co-trusting-meninsky.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/dedf13cb-8a45-45e4-8ac4-4868daf2ddbd
    method: GET
  response:
    body: '{"id":"dedf13cb-8a45-45e4-8ac4-4868daf2ddbd","name":"tf-co-trusting-meninsky","namespace_id":"032c8f55-ac0f-4ea7-993d-74653fcae706","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfestivelamportzevj6pvl/tf-co-trusting-meninsky:latest","max_concurrency":50,"domain_name":"tfnsfestivelamportzevj6pvl-tf-co-trusting-meninsky.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"container_id":"59a0e269-3216-45b3-9454-7d0c719fb89e","schedule":"5 4
      * * *","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"d8ce5125-495a-4d3f-931f-b2e2e385edc5","container_id":"59a0e269-3216-45b3-9454-7d0c719fb89e","schedule":"5
      4 * * *","args":{"test":"scw"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/d8ce5125-495a-4d3f-931f-b2e2e385edc5
    method: GET
  response:
    body: '{"id":"d8ce5125-495a-4d3f-931f-b2e2e385edc5","container_id":"59a0e269-3216-45b3-9454-7d0c719fb89e","schedule":"5
      4 * * *","args":{"test":"scw"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"59a0e269-3216-45b3-9454-7d0c719fb89e","schedule":"5 4
      1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"5852f865-8d3b-46ad-b5d0-042d70770ff2","container_id":"59a0e269-3216-45b3-9454-7d0c719fb89e","schedule":"5
      4 1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/032c8f55-ac0f-4ea7-993d-74653fcae706
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
