---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-thirsty-goldstine","environment_variables":{},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"2c0a40e9-8a7b-445d-87dc-2eac251b53f2","name":"tf-ns-thirsty-goldstine","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2c0a40e9-8a7b-445d-87dc-2eac251b53f2
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"2c0a40e9-8a7b-445d-87dc-2eac251b53f2","name":"tf-ns-thirsty-goldstine","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"2c0a40e9-8a7b-445d-87dc-2eac251b53f2","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsthirstygoldstinesep4fsn1-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"4b5195b4-ba7c-4e04-8087-a4164a40429e","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"2c0a40e9-8a7b-445d-87dc-2eac251b53f2","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsthirstygoldstinesep4fsn1/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/4b5195b4-ba7c-4e04-8087-a4164a40429e
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsthirstygoldstinesep4fsn1-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"4b5195b4-ba7c-4e04-8087-a4164a40429e","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"2c0a40e9-8a7b-445d-87dc-2eac251b53f2","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsthirstygoldstinesep4fsn1/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"4b5195b4-ba7c-4e04-8087-a4164a40429e","schedule":"5 4
      1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"4b5195b4-ba7c-4e04-8087-a4164a40429e","id":"3ace5295-4bda-4b65-946b-e984f1c5a58b","name":"cron-3ace5295-4bda-4b65-946b-e984f1c5a58b","schedule":"5
      4 1 * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/3ace5295-4bda-4b65-946b-e984f1c5a58b
    method: GET
  response:
    body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"4b5195b4-ba7c-4e04-8087-a4164a40429e","id":"3ace5295-4bda-4b65-946b-e984f1c5a58b","name":"cron-3ace5295-4bda-4b65-946b-e984f1c5a58b","schedule":"5
      4 1 * *","status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"container_id":"4b5195b4-ba7c-4e04-8087-a4164a40429e","schedule":"5 4
      * * 1","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/3ace5295-4bda-4b65-946b-e984f1c5a58b
    method: PATCH
  response:
    body: '{"args":{"test":"scw"},"container_id":"4b5195b4-ba7c-4e04-8087-a4164a40429e","id":"3ace5295-4bda-4b65-946b-e984f1c5a58b","name":"cron-3ace5295-4bda-4b65-946b-e984f1c5a58b","schedule":"5
      4 * * 1","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2c0a40e9-8a7b-445d-87dc-2eac251b53f2
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
