---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-agitated-fermi","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"df6f62c1-7eab-4d0f-91ba-1b2ddeb86aa7","name":"tf-ns-agitated-fermi","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/df6f62c1-7eab-4d0f-91ba-1b2ddeb86aa7
    method: GET
  response:
    body: '{"id":"df6f62c1-7eab-4d0f-91ba-1b2ddeb86aa7","name":"tf-ns-agitated-fermi","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"df6f62c1-7eab-4d0f-91ba-1b2ddeb86aa7","name":"tf-co-elastic-solomon","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"3e1a2009-cb02-4c2d-babd-48af594be194","name":"tf-co-elastic-solomon","namespace_id":"df6f62c1-7eab-4d0f-91ba-1b2ddeb86aa7","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsagitatedfermil4haa0an/tf-co-elastic-solomon:latest","max_concurrency":50,"domain_name":"tfnsagitatedfermil4haa0an-tf-co-elastic-solomon.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3e1a2009-cb02-4c2d-babd-48af594be194
    method: GET
  response:
    body: '{"id":"3e1a2009-cb02-4c2d-babd-48af594be194","name":"tf-co-elastic-solomon","namespace_id":"df6f62c1-7eab-4d0f-91ba-1b2ddeb86aa7","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsagitatedfermil4haa0an/tf-co-elastic-solomon:latest","max_concurrency":50,"domain_name":"tfnsagitatedfermil4haa0an-tf-co-elastic-solomon.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/df6f62c1-7eab-4d0f-91ba-1b2ddeb86aa7
    method: DELETE
  response:
    body: '{"message":"Function was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
