---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-agitated-mcclintock","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"d2abed60-5edf-423b-8418-66369f663b8b","name":"tf-ns-agitated-mcclintock","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d2abed60-5edf-423b-8418-66369f663b8b
    method: GET
  response:
    body: '{"id":"d2abed60-5edf-423b-8418-66369f663b8b","name":"tf-ns-agitated-mcclintock","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"d2abed60-5edf-423b-8418-66369f663b8b","name":"tf-co-vigilant-bardeen","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"47a2b3d1-c40e-4ba3-ba37-a07488f8a027","name":"tf-co-vigilant-bardeen","namespace_id":"d2abed60-5edf-423b-8418-66369f663b8b","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsagitatedmcclintornhoh1ij/tf-co-vigilant-bardeen:latest","max_concurrency":50,"domain_name":"tfnsagitatedmcclintornhoh1ij-tf-co-vigilant-bardeen.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/47a2b3d1-c40e-4ba3-ba37-a07488f8a027
    method: GET
  response:
    body: '{"id":"47a2b3d1-c40e-4ba3-ba37-a07488f8a027","name":"tf-co-vigilant-bardeen","namespace_id":"d2abed60-5edf-423b-8418-66369f663b8b","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsagitatedmcclintornhoh1ij/tf-co-vigilant-bardeen:latest","max_concurrency":50,"domain_name":"tfnsagitatedmcclintornhoh1ij-tf-co-vigilant-bardeen.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons?container_id=47a2b3d1-c40e-4ba3-ba37-a07488f8a027&order_by=created_at_asc
    method: GET
  response:
    body: '{"crons":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-for-cotainer-as-a-service","description":"test registry namespace
      for container as a service","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"6e7bad9d-f6f6-4441-84bd-5d6e3e22455b","name":"test-for-cotainer-as-a-service","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-cotainer-as-a-service","is_public":true,"size":0,"created_at":"2022-03-04T16:06:53.295576147Z","updated_at":"2022-03-04T16:06:53.295576147Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/6e7bad9d-f6f6-4441-84bd-5d6e3e22455b
    method: GET
  response:
    body: '{"id":"6e7bad9d-f6f6-4441-84bd-5d6e3e22455b","name":"test-for-cotainer-as-a-service","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-cotainer-as-a-service","is_public":true,"size":0,"created_at":"2022-03-04T16:06:53.295576Z","updated_at":"2022-03-04T16:06:53.295576Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/27353445-8bb5-4552-8e82-e382d0e3ce72
    method: GET
  response:
    body: '{"message":"Function was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
