---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-hungry-kowalevski","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"aa07dbf1-deb1-45c1-9d9d-ba1c2b0a231a","name":"tf-ns-hungry-kowalevski","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/aa07dbf1-deb1-45c1-9d9d-ba1c2b0a231a
    method: GET
  response:
    body: '{"id":"aa07dbf1-deb1-45c1-9d9d-ba1c2b0a231a","name":"tf-ns-hungry-kowalevski","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"aa07dbf1-deb1-45c1-9d9d-ba1c2b0a231a","name":"tf-co-jolly-meitner","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrykowalevskil8a8ftv4/nginx:test","max_concurrency":null,"protocol":"http1","port":80,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"e160dda6-bfa9-487b-8c2e-31dd1685e562","name":"tf-co-jolly-meitner","namespace_id":"aa07dbf1-deb1-45c1-9d9d-ba1c2b0a231a","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrykowalevskil8a8ftv4/nginx:test","max_concurrency":50,"domain_name":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/e160dda6-bfa9-487b-8c2e-31dd1685e562
    method: GET
  response:
    body: '{"id":"e160dda6-bfa9-487b-8c2e-31dd1685e562","name":"tf-co-jolly-meitner","namespace_id":"aa07dbf1-deb1-45c1-9d9d-ba1c2b0a231a","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrykowalevskil8a8ftv4/nginx:test","max_concurrency":50,"domain_name":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/e160dda6-bfa9-487b-8c2e-31dd1685e562
    method: PATCH
  response:
    body: '{"id":"e160dda6-bfa9-487b-8c2e-31dd1685e562","name":"tf-co-jolly-meitner","namespace_id":"aa07dbf1-deb1-45c1-9d9d-ba1c2b0a231a","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrykowalevskil8a8ftv4/nginx:test","max_concurrency":50,"domain_name":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"71396c39-151b-4dfc-af06-6e48950c2d0e","data":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"container-basic","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-11-16T14:11:50Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"71396c39-151b-4dfc-af06-6e48950c2d0e","data":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=71396c39-151b-4dfc-af06-6e48950c2d0e&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"71396c39-151b-4dfc-af06-6e48950c2d0e","data":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"e160dda6-bfa9-487b-8c2e-31dd1685e562"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"id":"80f1dfcf-fc95-408c-be4b-4bead5d21366","hostname":"container.container-basic.scaleway-terraform.com","container_id":"e160dda6-bfa9-487b-8c2e-31dd1685e562","url":"","status":"pending","error_message":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/80f1dfcf-fc95-408c-be4b-4bead5d21366
    method: GET
  response:
    body: '{"id":"80f1dfcf-fc95-408c-be4b-4bead5d21366","hostname":"container.container-basic.scaleway-terraform.com","container_id":"e160dda6-bfa9-487b-8c2e-31dd1685e562","url":"","status":"pending","error_message":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=71396c39-151b-4dfc-af06-6e48950c2d0e&name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"71396c39-151b-4dfc-af06-6e48950c2d0e","data":"tfnshungrykowalevskil8a8ftv4-tf-co-jolly-meitner.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"71396c39-151b-4dfc-af06-6e48950c2d0e"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"total_count":2,"records":[{"id":"f8b69363-b8e5-4877-9bdf-3cdde48a556e","data":"ns1.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"435ffec7-4b61-431f-9d8c-b34524ffcce7","data":"ns0.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
