---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-10-18T09:21:26.176757Z","description":"","id":"43567cdb-92fc-404f-829f-47de9206ce49","name":"tf_tests_container_trigger_sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-18T09:21:26.176757Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/43567cdb-92fc-404f-829f-47de9206ce49
    method: GET
  response:
    body: '{"created_at":"2023-10-18T09:21:26.176757Z","description":"","id":"43567cdb-92fc-404f-829f-47de9206ce49","name":"tf_tests_container_trigger_sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-18T09:21:26.176757Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-ns-gallant-gauss","environment_variables":{},"project_id":"43567cdb-92fc-404f-829f-47de9206ce49","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"50a9c902-9275-469b-b226-1dbc0d17e12d","name":"tf-ns-gallant-gauss","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"43567cdb-92fc-404f-829f-47de9206ce49","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/50a9c902-9275-469b-b226-1dbc0d17e12d
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"50a9c902-9275-469b-b226-1dbc0d17e12d","name":"tf-ns-gallant-gauss","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"43567cdb-92fc-404f-829f-47de9206ce49","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"43567cdb-92fc-404f-829f-47de9206ce49"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-10-18T09:21:26.413349166Z","project_id":"43567cdb-92fc-404f-829f-47de9206ce49","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-18T09:21:26.413349166Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=43567cdb-92fc-404f-829f-47de9206ce49
    method: GET
  response:
    body: '{"created_at":"2023-10-18T09:21:26.413349Z","project_id":"43567cdb-92fc-404f-829f-47de9206ce49","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-18T09:21:26.413349Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"43567cdb-92fc-404f-829f-47de9206ce49","name":"tf-sqs-credentials-infallible-borg","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"tY7CjsjJZRdC85CFGwzw","created_at":"2023-10-18T09:21:27.602311005Z","id":"32d345a0-3638-45fd-82d8-6c6dbdd6acdf","name":"tf-sqs-credentials-infallible-borg","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"43567cdb-92fc-404f-829f-47de9206ce49","region":"fr-par","secret_checksum":"89db876ac9fc21609f6b15ec88dd4ced86fc33e8","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/32d345a0-3638-45fd-82d8-6c6dbdd6acdf
    method: GET
  response:
    body: '{"access_key":"tY7CjsjJZRdC85CFGwzw","created_at":"2023-10-18T09:21:27.602311Z","id":"32d345a0-3638-45fd-82d8-6c6dbdd6acdf","name":"tf-sqs-credentials-infallible-borg","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"43567cdb-92fc-404f-829f-47de9206ce49","region":"fr-par","secret_checksum":"89db876ac9fc21609f6b15ec88dd4ced86fc33e8","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T092127Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-43567cdb-92fc-404f-829f-47de9206ce49/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>txc3116ad4-fcc9-40bc-a5a1-484777d8f75f</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T092129Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-43567cdb-92fc-404f-829f-47de9206ce49/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>txbe92bc2a-8ac2-4ab4-a577-8fafe55435b7</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=ContentBasedDeduplication&AttributeName.2=ReceiveMessageWaitTimeSeconds&AttributeName.3=VisibilityTimeout&AttributeName.4=MaximumMessageSize&AttributeName.5=MessageRetentionPeriod&AttributeName.6=FifoQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-43567cdb-92fc-404f-829f-47de9206ce49%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - ContentBasedDeduplication
      AttributeName.2:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.3:
      - VisibilityTimeout
      AttributeName.4:
      - MaximumMessageSize
      AttributeName.5:
      - MessageRetentionPeriod
      AttributeName.6:
      - FifoQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-43567cdb-92fc-404f-829f-47de9206ce49/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T092129Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx7913d499-a9e4-4f3f-803e-5bfad8ab106a</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"50a9c902-9275-469b-b226-1dbc0d17e12d","name":"tf-co-angry-pasteur","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsgallantgausschsokvsw-tf-co-angry-pasteur.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"bc03c408-806b-4542-bf75-35408e8bdbf6","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-angry-pasteur","namespace_id":"50a9c902-9275-469b-b226-1dbc0d17e12d","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallantgausschsokvsw/tf-co-angry-pasteur:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/bc03c408-806b-4542-bf75-35408e8bdbf6
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsgallantgausschsokvsw-tf-co-angry-pasteur.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"bc03c408-806b-4542-bf75-35408e8bdbf6","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-angry-pasteur","namespace_id":"50a9c902-9275-469b-b226-1dbc0d17e12d","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallantgausschsokvsw/tf-co-angry-pasteur:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-container-trigger-sqs","description":null,"container_id":"bc03c408-806b-4542-bf75-35408e8bdbf6","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"43567cdb-92fc-404f-829f-47de9206ce49","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"container_id":"bc03c408-806b-4542-bf75-35408e8bdbf6","description":"","error_message":null,"id":"639728c3-12aa-4dcc-b883-19f6d7bee571","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"43567cdb-92fc-404f-829f-47de9206ce49","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/639728c3-12aa-4dcc-b883-19f6d7bee571
    method: GET
  response:
    body: '{"container_id":"bc03c408-806b-4542-bf75-35408e8bdbf6","description":"","error_message":null,"id":"639728c3-12aa-4dcc-b883-19f6d7bee571","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"43567cdb-92fc-404f-829f-47de9206ce49","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-43567cdb-92fc-404f-829f-47de9206ce49%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-43567cdb-92fc-404f-829f-47de9206ce49/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T092145Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx086a996a-f911-46a1-a38a-0bac49e5ae20</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T092145Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>tx460976ae-32f3-413a-abdd-1031ad1b82a9</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/639728c3-12aa-4dcc-b883-19f6d7bee571
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"project_id":"43567cdb-92fc-404f-829f-47de9206ce49"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"43567cdb-92fc-404f-829f-47de9206ce49","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
