---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-pensive-curran","environment_variables":{},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d4aa66b1-c9f9-4fb9-9854-0345cc7895e9","name":"tf-ns-pensive-curran","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d4aa66b1-c9f9-4fb9-9854-0345cc7895e9
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d4aa66b1-c9f9-4fb9-9854-0345cc7895e9","name":"tf-ns-pensive-curran","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"d4aa66b1-c9f9-4fb9-9854-0345cc7895e9","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnspensivecurran6rmxnsdb-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"b71c1f47-4942-4c63-9fd9-2f36339db19a","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"d4aa66b1-c9f9-4fb9-9854-0345cc7895e9","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspensivecurran6rmxnsdb/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b71c1f47-4942-4c63-9fd9-2f36339db19a
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnspensivecurran6rmxnsdb-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"b71c1f47-4942-4c63-9fd9-2f36339db19a","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"d4aa66b1-c9f9-4fb9-9854-0345cc7895e9","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspensivecurran6rmxnsdb/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"b71c1f47-4942-4c63-9fd9-2f36339db19a","schedule":"5 4
      * * *","args":{"test":"scw"},"name":"hello"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{"test":"scw"},"container_id":"b71c1f47-4942-4c63-9fd9-2f36339db19a","id":"c8a998dd-d7dc-4eee-b31c-554aaeb3787a","name":"hello","schedule":"5
      4 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/c8a998dd-d7dc-4eee-b31c-554aaeb3787a
    method: GET
  response:
    body: '{"args":{"test":"scw"},"container_id":"b71c1f47-4942-4c63-9fd9-2f36339db19a","id":"c8a998dd-d7dc-4eee-b31c-554aaeb3787a","name":"hello","schedule":"5
      4 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d4aa66b1-c9f9-4fb9-9854-0345cc7895e9
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
