---
version: 1
interactions:
- request:
    body: '{"name":"test-for-container-as-a-service","description":"test registry
      namespace for container as a service","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"8158f0d2-4df5-40be-b657-19056d345787","name":"test-for-container-as-a-service","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-container-as-a-service","is_public":true,"size":0,"created_at":"2022-03-09T17:35:44.082012968Z","updated_at":"2022-03-09T17:35:44.082012968Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cr-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"test
      container","secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"692bc838-ad8b-41c3-834b-4e40c5b89bbf","name":"test-cr-ns","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"test
      container","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/8158f0d2-4df5-40be-b657-19056d345787
    method: GET
  response:
    body: '{"id":"8158f0d2-4df5-40be-b657-19056d345787","name":"test-for-container-as-a-service","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-container-as-a-service","is_public":true,"size":0,"created_at":"2022-03-09T17:35:44.082013Z","updated_at":"2022-03-09T17:35:44.082013Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/692bc838-ad8b-41c3-834b-4e40c5b89bbf
    method: GET
  response:
    body: '{"id":"692bc838-ad8b-41c3-834b-4e40c5b89bbf","name":"test-cr-ns","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"test
      container","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/692bc838-ad8b-41c3-834b-4e40c5b89bbf
    method: DELETE
  response:
    body: '{"message":"Function was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
