---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-magical-volhard","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"5f8826ba-80e1-431e-9fe9-6436da53e644","name":"tf-ns-magical-volhard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5f8826ba-80e1-431e-9fe9-6436da53e644
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"5f8826ba-80e1-431e-9fe9-6436da53e644","name":"tf-ns-magical-volhard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"5f8826ba-80e1-431e-9fe9-6436da53e644","name":"tf-co-reverent-torvalds","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmagicalvolhardoodzzx07/nginx:test","max_concurrency":null,"protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"b5393f13-0113-4872-95a1-61e5c0c68115","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-reverent-torvalds","namespace_id":"5f8826ba-80e1-431e-9fe9-6436da53e644","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmagicalvolhardoodzzx07/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b5393f13-0113-4872-95a1-61e5c0c68115
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"b5393f13-0113-4872-95a1-61e5c0c68115","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-reverent-torvalds","namespace_id":"5f8826ba-80e1-431e-9fe9-6436da53e644","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmagicalvolhardoodzzx07/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b5393f13-0113-4872-95a1-61e5c0c68115
    method: PATCH
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"b5393f13-0113-4872-95a1-61e5c0c68115","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-reverent-torvalds","namespace_id":"5f8826ba-80e1-431e-9fe9-6436da53e644","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmagicalvolhardoodzzx07/nginx:test","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud.","id":"7c9c4b40-2a2c-4fad-91e5-0c9764404c35","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud.","id":"7c9c4b40-2a2c-4fad-91e5-0c9764404c35","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud.","id":"7c9c4b40-2a2c-4fad-91e5-0c9764404c35","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=7c9c4b40-2a2c-4fad-91e5-0c9764404c35&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud.","id":"7c9c4b40-2a2c-4fad-91e5-0c9764404c35","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2023-07-27T14:15:32Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"b5393f13-0113-4872-95a1-61e5c0c68115"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"container_id":"b5393f13-0113-4872-95a1-61e5c0c68115","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"c5671012-1607-4274-9950-55944ee9e08f","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/c5671012-1607-4274-9950-55944ee9e08f
    method: GET
  response:
    body: '{"container_id":"b5393f13-0113-4872-95a1-61e5c0c68115","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"c5671012-1607-4274-9950-55944ee9e08f","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=7c9c4b40-2a2c-4fad-91e5-0c9764404c35&name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsmagicalvolhardoodzzx07-tf-co-reverent-torvalds.functions.fnc.fr-par.scw.cloud.","id":"7c9c4b40-2a2c-4fad-91e5-0c9764404c35","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"7c9c4b40-2a2c-4fad-91e5-0c9764404c35"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns1.dom.scw.cloud.","id":"17593f66-92fc-41e6-9188-ef658423dac3","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns0.dom.scw.cloud.","id":"ea7c48a3-9611-4f51-9464-c8b964202617","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2023-07-27T14:20:43Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
