---
version: 1
interactions:
- request:
    body: '{"name":"test-for-container-as-a-service3","description":"test registry
      namespace for container as a service","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"43f0f6c7-bb29-4399-ba0b-5dea44fec46b","name":"test-for-container-as-a-service3","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-container-as-a-service3","is_public":true,"size":0,"created_at":"2022-03-11T15:02:35.025357396Z","updated_at":"2022-03-11T15:02:35.025357396Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cr-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"test
      container","secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"6c2c7825-3b21-4419-ab5b-e49b1e35040c","name":"test-cr-ns","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"test
      container","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/43f0f6c7-bb29-4399-ba0b-5dea44fec46b
    method: GET
  response:
    body: '{"id":"43f0f6c7-bb29-4399-ba0b-5dea44fec46b","name":"test-for-container-as-a-service3","description":"test
      registry namespace for container as a service","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-for-container-as-a-service3","is_public":true,"size":0,"created_at":"2022-03-11T15:02:35.025357Z","updated_at":"2022-03-11T15:02:35.025357Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/6c2c7825-3b21-4419-ab5b-e49b1e35040c
    method: GET
  response:
    body: '{"id":"6c2c7825-3b21-4419-ab5b-e49b1e35040c","name":"test-cr-ns","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"test
      container","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"6c2c7825-3b21-4419-ab5b-e49b1e35040c","name":"my-container-02","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"timeout":"600.000000000s","privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/test-for-container-as-a-service3/alpine:test","max_concurrency":80,"domain_name":null,"protocol":"h2c","port":9997,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"d3ab0931-401b-48f6-afd7-e12f8e79d7c3","name":"my-container-02","namespace_id":"6c2c7825-3b21-4419-ab5b-e49b1e35040c","status":"created","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600s","error_message":null,"privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/test-for-container-as-a-service3/alpine:test","max_concurrency":80,"domain_name":"testcrnszunwuukr-my-container-02.functions.fnc.fr-par.scw.cloud","protocol":"h2c","port":9997,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d3ab0931-401b-48f6-afd7-e12f8e79d7c3
    method: GET
  response:
    body: '{"id":"d3ab0931-401b-48f6-afd7-e12f8e79d7c3","name":"my-container-02","namespace_id":"6c2c7825-3b21-4419-ab5b-e49b1e35040c","status":"created","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600s","error_message":null,"privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/test-for-container-as-a-service3/alpine:test","max_concurrency":80,"domain_name":"testcrnszunwuukr-my-container-02.functions.fnc.fr-par.scw.cloud","protocol":"h2c","port":9997,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/6c2c7825-3b21-4419-ab5b-e49b1e35040c
    method: DELETE
  response:
    body: '{"message":"Function was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
