---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-gallant-bhaskara","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c175cd6b-6f03-416b-9dc5-9e32270f822a","name":"tf-ns-gallant-bhaskara","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c175cd6b-6f03-416b-9dc5-9e32270f822a
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c175cd6b-6f03-416b-9dc5-9e32270f822a","name":"tf-ns-gallant-bhaskara","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"c175cd6b-6f03-416b-9dc5-9e32270f822a","name":"tf-co-boring-vaughan","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallantbhaskara0k6wot9g/nginx:test","max_concurrency":null,"protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"c81ba58c-788b-4bf5-8fb4-e81a265c43ba","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-boring-vaughan","namespace_id":"c175cd6b-6f03-416b-9dc5-9e32270f822a","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallantbhaskara0k6wot9g/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c81ba58c-788b-4bf5-8fb4-e81a265c43ba
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"c81ba58c-788b-4bf5-8fb4-e81a265c43ba","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-boring-vaughan","namespace_id":"c175cd6b-6f03-416b-9dc5-9e32270f822a","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallantbhaskara0k6wot9g/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c81ba58c-788b-4bf5-8fb4-e81a265c43ba
    method: PATCH
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"c81ba58c-788b-4bf5-8fb4-e81a265c43ba","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-boring-vaughan","namespace_id":"c175cd6b-6f03-416b-9dc5-9e32270f822a","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallantbhaskara0k6wot9g/nginx:test","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud.","id":"a7734c6c-9088-4fe7-ae2e-260e7508bb72","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2023-03-13T10:55:22Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud.","id":"a7734c6c-9088-4fe7-ae2e-260e7508bb72","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=a7734c6c-9088-4fe7-ae2e-260e7508bb72&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud.","id":"a7734c6c-9088-4fe7-ae2e-260e7508bb72","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"c81ba58c-788b-4bf5-8fb4-e81a265c43ba"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"container_id":"c81ba58c-788b-4bf5-8fb4-e81a265c43ba","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"b131effe-2707-4a2f-8249-a07386bbb39f","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/b131effe-2707-4a2f-8249-a07386bbb39f
    method: GET
  response:
    body: '{"container_id":"c81ba58c-788b-4bf5-8fb4-e81a265c43ba","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"b131effe-2707-4a2f-8249-a07386bbb39f","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=a7734c6c-9088-4fe7-ae2e-260e7508bb72&name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnsgallantbhaskara0k6wot9g-tf-co-boring-vaughan.functions.fnc.fr-par.scw.cloud.","id":"a7734c6c-9088-4fe7-ae2e-260e7508bb72","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"a7734c6c-9088-4fe7-ae2e-260e7508bb72"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns1.dom.scw.cloud.","id":"36a02838-90eb-4198-a50e-19d9ae543bf8","name":"","priority":0,"ttl":600,"type":"NS"},{"comment":null,"data":"ns0.dom.scw.cloud.","id":"f3f53e3b-f685-4376-9381-4779f5c7df1b","name":"","priority":0,"ttl":600,"type":"NS"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
