---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-21T10:04:00.782435Z","description":"","id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-21T10:04:00.782435Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/b6e8341c-ede6-407d-9ef8-25a6f6703d14
    method: GET
  response:
    body: '{"created_at":"2023-12-21T10:04:00.782435Z","description":"","id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-21T10:04:00.782435Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-21T10:04:01.253299252Z","project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-21T10:04:01.253299252Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=b6e8341c-ede6-407d-9ef8-25a6f6703d14
    method: GET
  response:
    body: '{"created_at":"2023-12-21T10:04:01.253299Z","project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-21T10:04:01.253299Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","name":"tf-sqs-credentials-loving-gauss","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"xFi1ENvVaJCLgLfIZvxk","created_at":"2023-12-21T10:04:01.588861789Z","id":"a0cd3c7d-5563-4934-a4e3-5f611962a35b","name":"tf-sqs-credentials-loving-gauss","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","region":"fr-par","secret_checksum":"b7dfcc2d753bbbe27f393b1e2b16a632e2fd5aab","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/a0cd3c7d-5563-4934-a4e3-5f611962a35b
    method: GET
  response:
    body: '{"access_key":"xFi1ENvVaJCLgLfIZvxk","created_at":"2023-12-21T10:04:01.588861Z","id":"a0cd3c7d-5563-4934-a4e3-5f611962a35b","name":"tf-sqs-credentials-loving-gauss","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","region":"fr-par","secret_checksum":"b7dfcc2d753bbbe27f393b1e2b16a632e2fd5aab","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-ns-heuristic-allen","environment_variables":{},"project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"212616ff-63c3-4c32-a96f-56582a7c53e4","name":"tf-ns-heuristic-allen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/212616ff-63c3-4c32-a96f-56582a7c53e4
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"212616ff-63c3-4c32-a96f-56582a7c53e4","name":"tf-ns-heuristic-allen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T100402Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-b6e8341c-ede6-407d-9ef8-25a6f6703d14/TestQueue"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - tx42713e6a-8873-4206-83e6-401fa536d065
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"AttributeNames":["VisibilityTimeout","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-b6e8341c-ede6-407d-9ef8-25a6f6703d14/TestQueue"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T100403Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - tx82f2aae8-819e-49e9-b137-d45b7e81dd36
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"namespace_id":"212616ff-63c3-4c32-a96f-56582a7c53e4","name":"tf-co-zen-matsumoto","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsheuristicallendtmhdmcs-tf-co-zen-matsumoto.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"3b1e4467-ab8d-4e37-a5fc-7d678e0f44f3","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-zen-matsumoto","namespace_id":"212616ff-63c3-4c32-a96f-56582a7c53e4","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicallendtmhdmcs/tf-co-zen-matsumoto:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3b1e4467-ab8d-4e37-a5fc-7d678e0f44f3
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsheuristicallendtmhdmcs-tf-co-zen-matsumoto.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"3b1e4467-ab8d-4e37-a5fc-7d678e0f44f3","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-zen-matsumoto","namespace_id":"212616ff-63c3-4c32-a96f-56582a7c53e4","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicallendtmhdmcs/tf-co-zen-matsumoto:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-container-trigger-sqs","container_id":"3b1e4467-ab8d-4e37-a5fc-7d678e0f44f3","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"container_id":"3b1e4467-ab8d-4e37-a5fc-7d678e0f44f3","description":"","error_message":null,"id":"209e93e8-1cf0-4ecb-b06d-eaf2d5bc88c5","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/209e93e8-1cf0-4ecb-b06d-eaf2d5bc88c5
    method: GET
  response:
    body: '{"container_id":"3b1e4467-ab8d-4e37-a5fc-7d678e0f44f3","description":"","error_message":null,"id":"209e93e8-1cf0-4ecb-b06d-eaf2d5bc88c5","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"QueueName":"TestQueue"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T100442Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"__type":"com.scaleway.sqs#AWS.SimpleQueueService.NonExistentQueue","message":"Queue
      \"TestQueue\" does not exist."}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx1c0c9717-c2eb-4cf6-8929-f327107ce448
    status: 400 Bad Request
    code: 400
[...]
- request:
    body: '{"project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"b6e8341c-ede6-407d-9ef8-25a6f6703d14","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
