---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-awesome-lamport","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"693bd980-0d3f-418d-9044-a8596d26d289","name":"tf-ns-awesome-lamport","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/693bd980-0d3f-418d-9044-a8596d26d289
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"693bd980-0d3f-418d-9044-a8596d26d289","name":"tf-ns-awesome-lamport","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"693bd980-0d3f-418d-9044-a8596d26d289","name":"my-container-with-cron-tf","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsawesomelamportkkjia4eu-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"2a42e095-658d-4a42-b5b4-2bb903587783","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"693bd980-0d3f-418d-9044-a8596d26d289","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsawesomelamportkkjia4eu/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/2a42e095-658d-4a42-b5b4-2bb903587783
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsawesomelamportkkjia4eu-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"2a42e095-658d-4a42-b5b4-2bb903587783","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"693bd980-0d3f-418d-9044-a8596d26d289","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsawesomelamportkkjia4eu/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"2a42e095-658d-4a42-b5b4-2bb903587783","schedule":"5 4
      * * *","args":{"test":"scw"},"name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{"test":"scw"},"container_id":"2a42e095-658d-4a42-b5b4-2bb903587783","id":"733f55ed-0ce3-485f-b045-2857319918c0","name":"cron-733f55ed-0ce3-485f-b045-2857319918c0","schedule":"5
      4 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/733f55ed-0ce3-485f-b045-2857319918c0
    method: GET
  response:
    body: '{"args":{"test":"scw"},"container_id":"2a42e095-658d-4a42-b5b4-2bb903587783","id":"733f55ed-0ce3-485f-b045-2857319918c0","name":"cron-733f55ed-0ce3-485f-b045-2857319918c0","schedule":"5
      4 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/693bd980-0d3f-418d-9044-a8596d26d289
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
