---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-cranky-mendel","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"eb34f136-ba3c-4f18-8105-69527068f5f7","name":"tf-ns-cranky-mendel","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/eb34f136-ba3c-4f18-8105-69527068f5f7
    method: GET
  response:
    body: '{"id":"eb34f136-ba3c-4f18-8105-69527068f5f7","name":"tf-ns-cranky-mendel","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"eb34f136-ba3c-4f18-8105-69527068f5f7","name":"tf-co-heuristic-ellis","environment_variables":{"test":"test"},"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"3d440f3c-6185-4251-9a5e-36ab321cbfdf","name":"tf-co-heuristic-ellis","namespace_id":"eb34f136-ba3c-4f18-8105-69527068f5f7","status":"created","environment_variables":{"test":"test"},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnscrankymendel5zhlclf9/tf-co-heuristic-ellis:latest","max_concurrency":50,"domain_name":"tfnscrankymendel5zhlclf9-tf-co-heuristic-ellis.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tkQiPzYC1z5i3IMlhAJ4kw$0LtvvCGWvpwDHMgM5J4uB9XDvCApg1K+Hnd7MpOhzoA"}],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3d440f3c-6185-4251-9a5e-36ab321cbfdf
    method: GET
  response:
    body: '{"id":"3d440f3c-6185-4251-9a5e-36ab321cbfdf","name":"tf-co-heuristic-ellis","namespace_id":"eb34f136-ba3c-4f18-8105-69527068f5f7","status":"created","environment_variables":{"test":"test"},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnscrankymendel5zhlclf9/tf-co-heuristic-ellis:latest","max_concurrency":50,"domain_name":"tfnscrankymendel5zhlclf9-tf-co-heuristic-ellis.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tkQiPzYC1z5i3IMlhAJ4kw$0LtvvCGWvpwDHMgM5J4uB9XDvCApg1K+Hnd7MpOhzoA"}],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3d440f3c-6185-4251-9a5e-36ab321cbfdf
    method: PATCH
  response:
    body: '{"id":"3d440f3c-6185-4251-9a5e-36ab321cbfdf","name":"tf-co-heuristic-ellis","namespace_id":"eb34f136-ba3c-4f18-8105-69527068f5f7","status":"pending","environment_variables":{"foo":"bar"},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnscrankymendel5zhlclf9/tf-co-heuristic-ellis:latest","max_concurrency":50,"domain_name":"tfnscrankymendel5zhlclf9-tf-co-heuristic-ellis.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tkQiPzYC1z5i3IMlhAJ4kw$0LtvvCGWvpwDHMgM5J4uB9XDvCApg1K+Hnd7MpOhzoA"},{"key":"foo_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$zWPXkdLhbUFdqkKhYrEq2g$DMUHMlKEWgjOouZhzSXBAd/YKymuqIHwjkct3EU0D7Y"}],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/eb34f136-ba3c-4f18-8105-69527068f5f7
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
