---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-mystifying-murdock","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"eebe4792-5017-452a-9ade-b6c9bc6a0ab2","name":"tf-ns-mystifying-murdock","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/eebe4792-5017-452a-9ade-b6c9bc6a0ab2
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"eebe4792-5017-452a-9ade-b6c9bc6a0ab2","name":"tf-ns-mystifying-murdock","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-container-trigger-sqs","protocol":"sqs_sns","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-07-06T09:26:02.585247569Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","name":"test-container-trigger-sqs","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-07-06T09:26:02.585247569Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI
    method: GET
  response:
    body: '{"created_at":"2023-07-06T09:26:02.585247Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","name":"test-container-trigger-sqs","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-07-06T09:26:02.585247Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","name":"tf-cred-focused-elion","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"98d18e62-4a83-473e-8e39-a86b785caa47","name":"tf-cred-focused-elion","namespace_id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"tah21CqGWZAgjDEQSuG7","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"ZzxAjZ5J99Rm3z244v5EJL1LGyad19pX3UlnVTDdvehjGK8zYE0w4L0TdjqTeCfY"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/98d18e62-4a83-473e-8e39-a86b785caa47
    method: GET
  response:
    body: '{"id":"98d18e62-4a83-473e-8e39-a86b785caa47","name":"tf-cred-focused-elion","namespace_id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"tah21CqGWZAgjDEQSuG7","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230706T092605Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx34ed5a64-1577-4e4b-8304-565824b48c7f</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230706T092606Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>txa81c8b90-fb00-4132-85d6-bd3e4c058539</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MessageRetentionPeriod&AttributeName.2=FifoQueue&AttributeName.3=ContentBasedDeduplication&AttributeName.4=ReceiveMessageWaitTimeSeconds&AttributeName.5=VisibilityTimeout&AttributeName.6=MaximumMessageSize&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MessageRetentionPeriod
      AttributeName.2:
      - FifoQueue
      AttributeName.3:
      - ContentBasedDeduplication
      AttributeName.4:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.5:
      - VisibilityTimeout
      AttributeName.6:
      - MaximumMessageSize
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230706T092607Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>txaeacf6ea-c8ef-40d7-9efa-ca292c16d0e8</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"eebe4792-5017-452a-9ade-b6c9bc6a0ab2","name":"tf-co-beautiful-banach","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsmystifyingmurdocwltylenk-tf-co-beautiful-banach.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"c4fba6c7-66f6-4a5f-9842-c819ce7dbe1a","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-beautiful-banach","namespace_id":"eebe4792-5017-452a-9ade-b6c9bc6a0ab2","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmystifyingmurdocwltylenk/tf-co-beautiful-banach:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c4fba6c7-66f6-4a5f-9842-c819ce7dbe1a
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsmystifyingmurdocwltylenk-tf-co-beautiful-banach.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"c4fba6c7-66f6-4a5f-9842-c819ce7dbe1a","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-beautiful-banach","namespace_id":"eebe4792-5017-452a-9ade-b6c9bc6a0ab2","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmystifyingmurdocwltylenk/tf-co-beautiful-banach:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-container-trigger-sqs","description":null,"container_id":"c4fba6c7-66f6-4a5f-9842-c819ce7dbe1a","scw_sqs_config":{"mnq_namespace_id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","queue":"TestQueue","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"container_id":"c4fba6c7-66f6-4a5f-9842-c819ce7dbe1a","description":"","error_message":null,"id":"11c86286-34f9-4126-b83e-1c91b060e3ad","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/11c86286-34f9-4126-b83e-1c91b060e3ad
    method: GET
  response:
    body: '{"container_id":"c4fba6c7-66f6-4a5f-9842-c819ce7dbe1a","description":"","error_message":null,"id":"11c86286-34f9-4126-b83e-1c91b060e3ad","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":"9fcf69e8-c7cd-4f6c-bbf7-1f40872bfffb","mnq_namespace_id":"ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ABFKU2SCJTUFEGXSRCAGLL4VGZAAYNYI3BDYHJXXFMFPUYEFOV2CUNAI/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230706T092621Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>txf8348a3e-e57f-41bc-8892-94dbf3593d02</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230706T092621Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>txe9606f4e-82bf-4108-b486-cdd3cc9f195e</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/11c86286-34f9-4126-b83e-1c91b060e3ad
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
