---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-festive-elbakyan","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"cf25964c-322d-4b57-8e38-18b243207c72","name":"tf-ns-festive-elbakyan","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/cf25964c-322d-4b57-8e38-18b243207c72
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"cf25964c-322d-4b57-8e38-18b243207c72","name":"tf-ns-festive-elbakyan","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"cf25964c-322d-4b57-8e38-18b243207c72","name":"tf-co-practical-hofstadter","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsfestiveelbakyanjtj38qut-tf-co-practical-hofstadter.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"2b2e6464-f39f-44e4-9661-180dff01fe89","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-practical-hofstadter","namespace_id":"cf25964c-322d-4b57-8e38-18b243207c72","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfestiveelbakyanjtj38qut/tf-co-practical-hofstadter:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/2b2e6464-f39f-44e4-9661-180dff01fe89
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsfestiveelbakyanjtj38qut-tf-co-practical-hofstadter.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"2b2e6464-f39f-44e4-9661-180dff01fe89","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-practical-hofstadter","namespace_id":"cf25964c-322d-4b57-8e38-18b243207c72","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfestiveelbakyanjtj38qut/tf-co-practical-hofstadter:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":null,"min_scale":1,"max_scale":2,"memory_limit":256,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":80,"protocol":"unknown_protocol","port":5000,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/07e1d55f-b1f9-4628-ba8f-7a06da331496
    method: PATCH
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsfestiveelbakyanjtj38qut-my-container-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"07e1d55f-b1f9-4628-ba8f-7a06da331496","max_concurrency":80,"max_scale":2,"memory_limit":256,"min_scale":1,"name":"my-container-tf","namespace_id":"cf25964c-322d-4b57-8e38-18b243207c72","port":5000,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfestiveelbakyanjtj38qut/my-container-tf:latest","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/cf25964c-322d-4b57-8e38-18b243207c72
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
