---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-hungry-saha","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"7af93285-501c-449e-bd32-6df7c60dc003","name":"tf-ns-hungry-saha","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/7af93285-501c-449e-bd32-6df7c60dc003
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"7af93285-501c-449e-bd32-6df7c60dc003","name":"tf-ns-hungry-saha","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"7af93285-501c-449e-bd32-6df7c60dc003","name":"tf-co-stupefied-golick","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshungrysaha0m6tpip4-tf-co-stupefied-golick.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"7e3e88a1-bff2-48c6-bc67-05cf69812deb","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-stupefied-golick","namespace_id":"7af93285-501c-449e-bd32-6df7c60dc003","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrysaha0m6tpip4/tf-co-stupefied-golick:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7e3e88a1-bff2-48c6-bc67-05cf69812deb
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshungrysaha0m6tpip4-tf-co-stupefied-golick.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"7e3e88a1-bff2-48c6-bc67-05cf69812deb","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-stupefied-golick","namespace_id":"7af93285-501c-449e-bd32-6df7c60dc003","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrysaha0m6tpip4/tf-co-stupefied-golick:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":"redirected"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7e3e88a1-bff2-48c6-bc67-05cf69812deb
    method: PATCH
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshungrysaha0m6tpip4-tf-co-stupefied-golick.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"redirected","id":"7e3e88a1-bff2-48c6-bc67-05cf69812deb","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-stupefied-golick","namespace_id":"7af93285-501c-449e-bd32-6df7c60dc003","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungrysaha0m6tpip4/tf-co-stupefied-golick:latest","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/7af93285-501c-449e-bd32-6df7c60dc003
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
