---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-reverent-curran","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"f46134d9-cd2f-4b34-a382-0bc29e3a1007","name":"tf-ns-reverent-curran","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f46134d9-cd2f-4b34-a382-0bc29e3a1007
    method: GET
  response:
    body: '{"id":"f46134d9-cd2f-4b34-a382-0bc29e3a1007","name":"tf-ns-reverent-curran","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"f46134d9-cd2f-4b34-a382-0bc29e3a1007","name":"my-container-with-cron-tf","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"478e07a8-b417-4d1c-a2df-59c4ff4f7458","name":"my-container-with-cron-tf","namespace_id":"f46134d9-cd2f-4b34-a382-0bc29e3a1007","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsreverentcurrangyjgsvlb/my-container-with-cron-tf:latest","max_concurrency":50,"domain_name":"tfnsreverentcurrangyjgsvlb-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/478e07a8-b417-4d1c-a2df-59c4ff4f7458
    method: GET
  response:
    body: '{"id":"478e07a8-b417-4d1c-a2df-59c4ff4f7458","name":"my-container-with-cron-tf","namespace_id":"f46134d9-cd2f-4b34-a382-0bc29e3a1007","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsreverentcurrangyjgsvlb/my-container-with-cron-tf:latest","max_concurrency":50,"domain_name":"tfnsreverentcurrangyjgsvlb-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"478e07a8-b417-4d1c-a2df-59c4ff4f7458","schedule":"5 4
      1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"84075fe9-dfc5-405b-a7bb-617f58b46f3e","container_id":"478e07a8-b417-4d1c-a2df-59c4ff4f7458","schedule":"5
      4 1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/84075fe9-dfc5-405b-a7bb-617f58b46f3e
    method: GET
  response:
    body: '{"id":"84075fe9-dfc5-405b-a7bb-617f58b46f3e","container_id":"478e07a8-b417-4d1c-a2df-59c4ff4f7458","schedule":"5
      4 1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"container_id":"478e07a8-b417-4d1c-a2df-59c4ff4f7458","schedule":"5 4
      * * 1","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/84075fe9-dfc5-405b-a7bb-617f58b46f3e
    method: PATCH
  response:
    body: '{"id":"84075fe9-dfc5-405b-a7bb-617f58b46f3e","container_id":"478e07a8-b417-4d1c-a2df-59c4ff4f7458","schedule":"5
      4 * * 1","args":{"test":"scw"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f46134d9-cd2f-4b34-a382-0bc29e3a1007
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
