---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-quizzical-mahavira","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"4aa5506a-ea5a-4924-9b69-eef7ad050209","name":"tf-ns-quizzical-mahavira","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/4aa5506a-ea5a-4924-9b69-eef7ad050209
    method: GET
  response:
    body: '{"id":"4aa5506a-ea5a-4924-9b69-eef7ad050209","name":"tf-ns-quizzical-mahavira","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"4aa5506a-ea5a-4924-9b69-eef7ad050209","name":"my-container-tf","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"00dcfbce-d5ec-45e0-90f6-c598c2d47ad6","name":"my-container-tf","namespace_id":"4aa5506a-ea5a-4924-9b69-eef7ad050209","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsquizzicalmahavir5csqzh0r/my-container-tf:latest","max_concurrency":50,"domain_name":"tfnsquizzicalmahavir5csqzh0r-my-container-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/00dcfbce-d5ec-45e0-90f6-c598c2d47ad6
    method: GET
  response:
    body: '{"id":"00dcfbce-d5ec-45e0-90f6-c598c2d47ad6","name":"my-container-tf","namespace_id":"4aa5506a-ea5a-4924-9b69-eef7ad050209","status":"error","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":"Unable
      to fetch image \"rg.fr-par.scw.cloud/funcscwtfnsquizzicalmahavir5csqzh0r/my-container-tf:latest\":
      failed to resolve image to digest: HEAD https://rg.fr-par.scw.cloud/v2/funcscwtfnsquizzicalmahavir5csqzh0r/my-container-tf/manifests/latest:
      unexpected status code 404 Not Found (HEAD responses have no body, use GET for
      details).","privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsquizzicalmahavir5csqzh0r/my-container-tf:latest","max_concurrency":50,"domain_name":"tfnsquizzicalmahavir5csqzh0r-my-container-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons?container_id=00dcfbce-d5ec-45e0-90f6-c598c2d47ad6&order_by=created_at_asc
    method: GET
  response:
    body: '{"crons":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/4aa5506a-ea5a-4924-9b69-eef7ad050209
    method: DELETE
  response:
    body: '{"message":"Function was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
