---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-02","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"test
      container","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"8cb5e096-a8cf-4494-be5d-de045249ad6d","name":"test-cr-ns-02","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"test
      container","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8cb5e096-a8cf-4494-be5d-de045249ad6d
    method: GET
  response:
    body: '{"id":"8cb5e096-a8cf-4494-be5d-de045249ad6d","name":"test-cr-ns-02","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"test
      container","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"8cb5e096-a8cf-4494-be5d-de045249ad6d","name":"my-container-02","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"timeout":"600.000000000s","privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02uyj6yxdy/nginx:test","max_concurrency":80,"protocol":"h2c","port":80,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"311c35b3-e3ee-47b0-90dd-aab077ac85b4","name":"my-container-02","namespace_id":"8cb5e096-a8cf-4494-be5d-de045249ad6d","status":"created","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600s","error_message":null,"privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02uyj6yxdy/nginx:test","max_concurrency":80,"domain_name":"testcrns02uyj6yxdy-my-container-02.functions.fnc.fr-par.scw.cloud","protocol":"h2c","port":80,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/311c35b3-e3ee-47b0-90dd-aab077ac85b4
    method: GET
  response:
    body: '{"id":"311c35b3-e3ee-47b0-90dd-aab077ac85b4","name":"my-container-02","namespace_id":"8cb5e096-a8cf-4494-be5d-de045249ad6d","status":"created","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600s","error_message":null,"privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02uyj6yxdy/nginx:test","max_concurrency":80,"domain_name":"testcrns02uyj6yxdy-my-container-02.functions.fnc.fr-par.scw.cloud","protocol":"h2c","port":80,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/311c35b3-e3ee-47b0-90dd-aab077ac85b4
    method: PATCH
  response:
    body: '{"id":"311c35b3-e3ee-47b0-90dd-aab077ac85b4","name":"my-container-02","namespace_id":"8cb5e096-a8cf-4494-be5d-de045249ad6d","status":"pending","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600s","error_message":null,"privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02uyj6yxdy/nginx:test","max_concurrency":80,"domain_name":"testcrns02uyj6yxdy-my-container-02.functions.fnc.fr-par.scw.cloud","protocol":"h2c","port":80,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8cb5e096-a8cf-4494-be5d-de045249ad6d
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
