---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-hardcore-feynman","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"8b248cc4-b8e5-4629-8021-0071c4e7f6dd","name":"tf-ns-hardcore-feynman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8b248cc4-b8e5-4629-8021-0071c4e7f6dd
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"8b248cc4-b8e5-4629-8021-0071c4e7f6dd","name":"tf-ns-hardcore-feynman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"8b248cc4-b8e5-4629-8021-0071c4e7f6dd","name":"tf-co-sleepy-saha","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":"rg.fr-par.scw.cloud/funcscwtfnshardcorefeynmanwzauue58/nginx:test","max_concurrency":null,"protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"d450a07b-bf05-4d27-b131-575bebfe3fee","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-sleepy-saha","namespace_id":"8b248cc4-b8e5-4629-8021-0071c4e7f6dd","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshardcorefeynmanwzauue58/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d450a07b-bf05-4d27-b131-575bebfe3fee
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"d450a07b-bf05-4d27-b131-575bebfe3fee","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-sleepy-saha","namespace_id":"8b248cc4-b8e5-4629-8021-0071c4e7f6dd","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshardcorefeynmanwzauue58/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d450a07b-bf05-4d27-b131-575bebfe3fee
    method: PATCH
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"d450a07b-bf05-4d27-b131-575bebfe3fee","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-sleepy-saha","namespace_id":"8b248cc4-b8e5-4629-8021-0071c4e7f6dd","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshardcorefeynmanwzauue58/nginx:test","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud.","id":"b7c31aa2-075e-458d-a45d-162fa3c25bc1","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2023-05-12T13:51:45Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud.","id":"b7c31aa2-075e-458d-a45d-162fa3c25bc1","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=b7c31aa2-075e-458d-a45d-162fa3c25bc1&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud.","id":"b7c31aa2-075e-458d-a45d-162fa3c25bc1","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"d450a07b-bf05-4d27-b131-575bebfe3fee"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"container_id":"d450a07b-bf05-4d27-b131-575bebfe3fee","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"1ce15226-8659-45ac-902c-4252c698d202","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/1ce15226-8659-45ac-902c-4252c698d202
    method: GET
  response:
    body: '{"container_id":"d450a07b-bf05-4d27-b131-575bebfe3fee","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"1ce15226-8659-45ac-902c-4252c698d202","status":"pending","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=b7c31aa2-075e-458d-a45d-162fa3c25bc1&name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"tfnshardcorefeynmanwzauue58-tf-co-sleepy-saha.functions.fnc.fr-par.scw.cloud.","id":"b7c31aa2-075e-458d-a45d-162fa3c25bc1","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"b7c31aa2-075e-458d-a45d-162fa3c25bc1"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns1.dom.scw.cloud.","id":"aa5176e1-a67a-44ed-bf79-1ad8664f4f3e","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns0.dom.scw.cloud.","id":"8afdbca2-cfa4-4c62-930d-68b433dd7fbb","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
