---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:44:59.842774Z","description":"","id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:44:59.842774Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/d31cc58c-371e-4db5-8d04-491cd7c13d49
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:44:59.842774Z","description":"","id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:44:59.842774Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-ns-priceless-shaw","environment_variables":{},"project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"0adad13e-96ea-410a-9a8f-891e52685add","name":"tf-ns-priceless-shaw","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/0adad13e-96ea-410a-9a8f-891e52685add
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"0adad13e-96ea-410a-9a8f-891e52685add","name":"tf-ns-priceless-shaw","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"main","protocol":"sqs_sns","project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:45:00.120791166Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","name":"main","project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T08:45:00.120791166Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:45:00.120791Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","name":"main","project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T08:45:00.120791Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","name":"tf-cred-happy-black","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"d9c40528-a71a-4c25-8fd9-c5dd03a2afb9","name":"tf-cred-happy-black","namespace_id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"2Hx0mSgEGesgXpCGbgnj","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"jTHZH6kJl1dug8pk5gr0NLhC1IRuIDaYr9qWeMKMrpZHKDxlIxrKPD2wgNrGlDqU"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/d9c40528-a71a-4c25-8fd9-c5dd03a2afb9
    method: GET
  response:
    body: '{"id":"d9c40528-a71a-4c25-8fd9-c5dd03a2afb9","name":"tf-cred-happy-black","namespace_id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"2Hx0mSgEGesgXpCGbgnj","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T084501Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx626e1aa1-211b-402d-b755-1cef29dcb030</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T084501Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx9ab42e4a-2677-435f-a483-b3fb70abbb1d</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T084501Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>txb30050db-01e2-4439-8158-fb33947b79fb</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"0adad13e-96ea-410a-9a8f-891e52685add","name":"tf-co-quirky-turing","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnspricelessshawvha6girm-tf-co-quirky-turing.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"fb8094a0-0752-41ba-8c51-7225a79c8433","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-quirky-turing","namespace_id":"0adad13e-96ea-410a-9a8f-891e52685add","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspricelessshawvha6girm/tf-co-quirky-turing:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/fb8094a0-0752-41ba-8c51-7225a79c8433
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnspricelessshawvha6girm-tf-co-quirky-turing.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"fb8094a0-0752-41ba-8c51-7225a79c8433","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-quirky-turing","namespace_id":"0adad13e-96ea-410a-9a8f-891e52685add","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspricelessshawvha6girm/tf-co-quirky-turing:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-container-trigger-sqs","description":null,"container_id":"fb8094a0-0752-41ba-8c51-7225a79c8433","scw_sqs_config":{"mnq_namespace_id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","queue":"TestQueue","mnq_project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"container_id":"fb8094a0-0752-41ba-8c51-7225a79c8433","description":"","error_message":null,"id":"ef14583c-5a6f-4ff5-9794-b583fef1a8d2","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","mnq_project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/ef14583c-5a6f-4ff5-9794-b583fef1a8d2
    method: GET
  response:
    body: '{"container_id":"fb8094a0-0752-41ba-8c51-7225a79c8433","description":"","error_message":null,"id":"ef14583c-5a6f-4ff5-9794-b583fef1a8d2","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5","mnq_project_id":"d31cc58c-371e-4db5-8d04-491cd7c13d49","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ADEIOI4A6NZ32H2FZFLOZFFZ3MZFPH5TTXFEVJZ724667LQ7KLOSBEB5/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T084519Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>txb5343da3-ef38-4171-b0e5-ac79848f6f90</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T084519Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>txbe41766d-3547-4e83-9d0b-ddca07dc4cbc</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/ef14583c-5a6f-4ff5-9794-b583fef1a8d2
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
