---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"063955c0-4970-407a-bfb1-b7579f0fcc5c","name":"test-cr-ns-01","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/063955c0-4970-407a-bfb1-b7579f0fcc5c
    method: GET
  response:
    body: '{"id":"063955c0-4970-407a-bfb1-b7579f0fcc5c","name":"test-cr-ns-01","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/063955c0-4970-407a-bfb1-b7579f0fcc5c
    method: PATCH
  response:
    body: '{"id":"063955c0-4970-407a-bfb1-b7579f0fcc5c","name":"test-cr-ns-01","environment_variables":{"test":"test"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","registry_namespace_id":"2f2b2d8f-7f46-412b-9065-07fc9b1781d6","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01mbzgcjjq","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/063955c0-4970-407a-bfb1-b7579f0fcc5c
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c80e2491-9047-4a6d-84ff-fd57552b6f21
    method: PATCH
  response:
    body: '{"id":"c80e2491-9047-4a6d-84ff-fd57552b6f21","name":"tf-env-test","environment_variables":{"foo":"bar"},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","registry_namespace_id":"42c8a1c7-8039-49dc-9115-175e95f4a405","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestxhud4m0z","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
