---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-cocky-bassi","environment_variables":{},"project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"f2cf3fc5-a12b-45a1-98cb-085e735b1051","name":"tf-ns-cocky-bassi","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f2cf3fc5-a12b-45a1-98cb-085e735b1051
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"f2cf3fc5-a12b-45a1-98cb-085e735b1051","name":"tf-ns-cocky-bassi","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"f2cf3fc5-a12b-45a1-98cb-085e735b1051","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnscockybassixhy7dnjh-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"365d744f-766a-4724-a163-e91ab70f57b1","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"f2cf3fc5-a12b-45a1-98cb-085e735b1051","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnscockybassixhy7dnjh/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/365d744f-766a-4724-a163-e91ab70f57b1
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnscockybassixhy7dnjh-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"365d744f-766a-4724-a163-e91ab70f57b1","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"f2cf3fc5-a12b-45a1-98cb-085e735b1051","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnscockybassixhy7dnjh/my-container-with-cron-tf:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"365d744f-766a-4724-a163-e91ab70f57b1","schedule":"5 4
      * * *","args":{"test":"scw"},"name":"tf-tests-container-cron-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{"test":"scw"},"container_id":"365d744f-766a-4724-a163-e91ab70f57b1","id":"d3cef2ad-0ca3-4048-b0d6-abe0cea0bbea","name":"tf-tests-container-cron-basic","schedule":"5
      4 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/d3cef2ad-0ca3-4048-b0d6-abe0cea0bbea
    method: GET
  response:
    body: '{"args":{"test":"scw"},"container_id":"365d744f-766a-4724-a163-e91ab70f57b1","id":"d3cef2ad-0ca3-4048-b0d6-abe0cea0bbea","name":"tf-tests-container-cron-basic","schedule":"5
      4 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f2cf3fc5-a12b-45a1-98cb-085e735b1051
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
