---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-heuristic-swanson","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"e5ebb920-4ded-478a-847d-0688aa75daf5","name":"tf-ns-heuristic-swanson","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e5ebb920-4ded-478a-847d-0688aa75daf5
    method: GET
  response:
    body: '{"id":"e5ebb920-4ded-478a-847d-0688aa75daf5","name":"tf-ns-heuristic-swanson","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"e5ebb920-4ded-478a-847d-0688aa75daf5","name":"tf-co-objective-panini","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"4a862527-afa1-4e87-aa7a-cd685d0269bf","name":"tf-co-objective-panini","namespace_id":"e5ebb920-4ded-478a-847d-0688aa75daf5","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicswansondqigplsh/tf-co-objective-panini:latest","max_concurrency":50,"domain_name":"tfnsheuristicswansondqigplsh-tf-co-objective-panini.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/4a862527-afa1-4e87-aa7a-cd685d0269bf
    method: GET
  response:
    body: '{"id":"4a862527-afa1-4e87-aa7a-cd685d0269bf","name":"tf-co-objective-panini","namespace_id":"e5ebb920-4ded-478a-847d-0688aa75daf5","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicswansondqigplsh/tf-co-objective-panini:latest","max_concurrency":50,"domain_name":"tfnsheuristicswansondqigplsh-tf-co-objective-panini.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":null,"min_scale":1,"max_scale":2,"memory_limit":256,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":80,"protocol":"unknown_protocol","port":5000,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9b264faf-1d40-4549-90c2-7c6cd430c5d5
    method: PATCH
  response:
    body: '{"id":"9b264faf-1d40-4549-90c2-7c6cd430c5d5","name":"my-container-tf","namespace_id":"e5ebb920-4ded-478a-847d-0688aa75daf5","status":"created","environment_variables":{},"min_scale":1,"max_scale":2,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicswansondqigplsh/my-container-tf:latest","max_concurrency":80,"domain_name":"tfnsheuristicswansondqigplsh-my-container-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":5000,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e5ebb920-4ded-478a-847d-0688aa75daf5
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
