---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-pensive-einstein","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"ebb906da-e621-4e94-add4-a449b0310f83","name":"tf-ns-pensive-einstein","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ebb906da-e621-4e94-add4-a449b0310f83
    method: GET
  response:
    body: '{"id":"ebb906da-e621-4e94-add4-a449b0310f83","name":"tf-ns-pensive-einstein","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"ebb906da-e621-4e94-add4-a449b0310f83","name":"tf-co-boring-joliot","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"d51a1532-4ee0-475b-a256-a51a9a0ecf54","name":"tf-co-boring-joliot","namespace_id":"ebb906da-e621-4e94-add4-a449b0310f83","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspensiveeinsteintrcayby2/tf-co-boring-joliot:latest","max_concurrency":50,"domain_name":"tfnspensiveeinsteintrcayby2-tf-co-boring-joliot.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d51a1532-4ee0-475b-a256-a51a9a0ecf54
    method: GET
  response:
    body: '{"id":"d51a1532-4ee0-475b-a256-a51a9a0ecf54","name":"tf-co-boring-joliot","namespace_id":"ebb906da-e621-4e94-add4-a449b0310f83","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspensiveeinsteintrcayby2/tf-co-boring-joliot:latest","max_concurrency":50,"domain_name":"tfnspensiveeinsteintrcayby2-tf-co-boring-joliot.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"container_id":"6a13c734-2711-464e-bd6c-3bdfe7b7c081","schedule":"5 4
      * * *","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"d62be643-893d-4f04-b72f-f2a30d4b94b4","container_id":"6a13c734-2711-464e-bd6c-3bdfe7b7c081","schedule":"5
      4 * * *","args":{"test":"scw"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/d62be643-893d-4f04-b72f-f2a30d4b94b4
    method: GET
  response:
    body: '{"id":"d62be643-893d-4f04-b72f-f2a30d4b94b4","container_id":"6a13c734-2711-464e-bd6c-3bdfe7b7c081","schedule":"5
      4 * * *","args":{"test":"scw"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"6a13c734-2711-464e-bd6c-3bdfe7b7c081","schedule":"5 4
      1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"d7291ffa-c98f-4a51-9b9d-ab7a6b1111a6","container_id":"6a13c734-2711-464e-bd6c-3bdfe7b7c081","schedule":"5
      4 1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ebb906da-e621-4e94-add4-a449b0310f83
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
