---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-nifty-lichterman","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"db379861-2043-442a-a726-aad5447f7f47","name":"tf-ns-nifty-lichterman","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/db379861-2043-442a-a726-aad5447f7f47
    method: GET
  response:
    body: '{"id":"db379861-2043-442a-a726-aad5447f7f47","name":"tf-ns-nifty-lichterman","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"db379861-2043-442a-a726-aad5447f7f47","name":"my-container-with-cron-tf","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"domain_name":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"81885490-4d3a-4831-bb43-d8a082c44cae","name":"my-container-with-cron-tf","namespace_id":"db379861-2043-442a-a726-aad5447f7f47","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsniftylichtermany5hwrhvh/my-container-with-cron-tf:latest","max_concurrency":50,"domain_name":"tfnsniftylichtermany5hwrhvh-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/81885490-4d3a-4831-bb43-d8a082c44cae
    method: GET
  response:
    body: '{"id":"81885490-4d3a-4831-bb43-d8a082c44cae","name":"my-container-with-cron-tf","namespace_id":"db379861-2043-442a-a726-aad5447f7f47","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"memory_limit":128,"cpu_limit":70,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsniftylichtermany5hwrhvh/my-container-with-cron-tf:latest","max_concurrency":50,"domain_name":"tfnsniftylichtermany5hwrhvh-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"container_id":"81885490-4d3a-4831-bb43-d8a082c44cae","schedule":"5 4
      * * *","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"677a5ef2-0848-4f26-a566-3b906382de5e","container_id":"81885490-4d3a-4831-bb43-d8a082c44cae","schedule":"5
      4 * * *","args":{"test":"scw"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/677a5ef2-0848-4f26-a566-3b906382de5e
    method: GET
  response:
    body: '{"id":"677a5ef2-0848-4f26-a566-3b906382de5e","container_id":"81885490-4d3a-4831-bb43-d8a082c44cae","schedule":"5
      4 * * *","args":{"test":"scw"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/db379861-2043-442a-a726-aad5447f7f47
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
