---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/0324bba1-0e2f-43c8-ace0-4e326daf1875
    method: GET
  response:
    body: '{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:44:34.405368391Z","description":"","frontend_count":0,"id":"ad714057-9834-4774-981b-4ea6a662a655","instances":[],"ip":[{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":"ad714057-9834-4774-981b-4ea6a662a655","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:44:34.405368391Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:44:34.405368Z","description":"","frontend_count":0,"id":"ad714057-9834-4774-981b-4ea6a662a655","instances":[{"created_at":"2023-05-24T15:43:19.268113Z","id":"62f254d7-2b6e-4c84-a8c1-b219c5a792cb","ip_address":"10.68.86.29","region":"fr-par","status":"unknown","updated_at":"2023-05-24T15:44:34.700051Z","zone":"fr-par-1"}],"ip":[{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":"ad714057-9834-4774-981b-4ea6a662a655","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:44:34.405368Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-beautiful-chaum","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-24T15:45:05.231604482Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"d165d459-0f74-4029-bf24-4dae99e6aa56","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:44:34.405368Z","description":"","frontend_count":0,"id":"ad714057-9834-4774-981b-4ea6a662a655","instances":[{"created_at":"2023-05-24T15:43:19.268113Z","id":"62f254d7-2b6e-4c84-a8c1-b219c5a792cb","ip_address":"10.68.86.29","region":"fr-par","status":"pending","updated_at":"2023-05-24T15:45:05.273528416Z","zone":"fr-par-1"}],"ip":[{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":"ad714057-9834-4774-981b-4ea6a662a655","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:44:36.349844Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-beautiful-chaum","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:45:05.231604482Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d165d459-0f74-4029-bf24-4dae99e6aa56
    method: GET
  response:
    body: '{"created_at":"2023-05-24T15:45:05.231604Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"d165d459-0f74-4029-bf24-4dae99e6aa56","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:45:05.231604Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"d165d459-0f74-4029-bf24-4dae99e6aa56","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:44:34.405368Z","description":"","frontend_count":1,"id":"ad7140[...]
[...]
- request:
    body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"d165d459-0f74-4029-bf24-4dae99e6aa56","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/cf05bff5-46a1-44d4-b759-e80fe6ba5df6
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:45:05.231604Z","failover_host":null,"forward_port":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/cf05bff5-46a1-44d4-b759-e80fe6ba5df6/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655/frontends?order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-05-24T15:45:05.231604Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"d165d459-0f74-4029-bf24-4dae99e6aa56","ignore_ssl_server_verify":false,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-beautiful-chaum","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:45:05.231604Z"},"certificate":null,"certificate_ids":[],"created_at":"2023-05-24T15:45:05.947013Z","enable_http3":false,"id":"cf05bff5-46a1-44d4-b759-e80fe6ba5df6","inbound_port":50000,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"t[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655/frontends?name=tf-frontend-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-05-24T15:45:05.231604Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":fals[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad714057-9834-4774-981b-4ea6a662a655
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
