---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5aebd0c3-1ffa-47da-a954-10bcc25c87e5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:40.905521Z","updated_at":"2021-12-08T13:09:40.905521Z","tags":[],"address":"51.15.211.97","reverse":"97-211-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/5aebd0c3-1ffa-47da-a954-10bcc25c87e5
    method: GET
  response:
    body: '{"id":"5aebd0c3-1ffa-47da-a954-10bcc25c87e5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:40.905521Z","updated_at":"2021-12-08T13:09:40.905521Z","tags":[],"address":"51.15.211.97","reverse":"97-211-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/5aebd0c3-1ffa-47da-a954-10bcc25c87e5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"5aebd0c3-1ffa-47da-a954-10bcc25c87e5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
