---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c45e6d39-0318-41a8-b5cd-dd025a1323e1","ip_address":"51.159.207.19","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-19.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c45e6d39-0318-41a8-b5cd-dd025a1323e1
    method: GET
  response:
    body: '{"id":"c45e6d39-0318-41a8-b5cd-dd025a1323e1","ip_address":"51.159.207.19","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-19.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"c45e6d39-0318-41a8-b5cd-dd025a1323e1","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-27T16:22:39.177755217Z","description":"","frontend_count":0,"id":"fd02e0e9-16a8-444b-a0cd-1c5731037af9","instances":[],"ip":[{"id":"c45e6d39-0318-41a8-b5cd-dd025a1323e1","ip_address":"51.159.207.19","lb_id":"fd02e0e9-16a8-444b-a0cd-1c5731037af9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-19.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-27T16:22:39.177755217Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fd02e0e9-16a8-444b-a0cd-1c5731037af9
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-27T16:22:39.177755Z","description":"","frontend_count":0,"id":"fd02e0e9-16a8-444b-a0cd-1c5731037af9","instances":[],"ip":[{"id":"c45e6d39-0318-41a8-b5cd-dd025a1323e1","ip_address":"51.159.207.19","lb_id":"fd02e0e9-16a8-444b-a0cd-1c5731037af9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-19.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-27T16:22:39.177755Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fd02e0e9-16a8-444b-a0cd-1c5731037af9/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-compassionate-lamport","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fd02e0e9-16a8-444b-a0cd-1c5731037af9/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-27T16:23:09.965484470Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"82d945b9-832b-4d67-ac30-f5b450fb22c4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-27T16:22:39.177755Z","description":"","frontend_count":0,"id":"fd02e0e9-16a8-444b-a0cd-1c5731037af9","instances":[{"created_at":"2023-02-27T16:21:36.952919Z","id":"376fe2e5-9a82-47d8-b244-fa1dc3905ccc","ip_address":"10.69.48.9","region":"fr-par","status":"pending","updated_at":"2023-02-27T16:23:10.000498367Z","zone":"fr-par-1"}],"ip":[{"id":"c45e6d39-0318-41a8-b5cd-dd025a1323e1","ip_address":"51.159.207.19","lb_id":"fd02e0e9-16a8-444b-a0cd-1c5731037af9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-19.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-27T16:22:41.300345Z","zone":"fr-par-1"},"name":"tf-lb-bkd-compassionate-lamport","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-27T16:23:09.965484470Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/82d945b9-832b-4d67-ac30-f5b450fb22c4
    method: GET
  response:
    body: '{"created_at":"2023-02-27T16:23:09.965484Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"82d945b9-832b-4d67-ac30-f[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-gifted-meninsky","inbound_port":50000,"backend_id":"82d945b9-832b-4d67-ac30-f5b450fb22c4","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fd02e0e9-16a8-444b-a0cd-1c5731037af9/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-27T16:23:09.965484Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"82d945b9-832b-4d67-ac30-f5b450fb22c4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-27T16:22:39.177755Z","description":"","frontend_count":1,"id":"fd02e0e9-16a8-444b-a0cd-1c5731037af[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/75c1e9de-3537-4923-8b54-d9d71b523629/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-acl-datasource0","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/75c1e9de-3537-4923-8b54-d9d71b523629/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-02-27T16:23:11.177121655Z","description":"","frontend":{"backend":{"created_at":"2023-02-27T16:23:09.965484Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"82d945b9-832b-4d67-ac30-f5b450fb22c4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-27T16:22:39.177755Z","description":"","frontend_count":1,"id":"fd02e0e9-16a8-444b-a0cd-[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/75c1e9de-3537-4923-8b54-d9d71b523629
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-27T16:23:09.965484Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"82d945b9-832b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/75c1e9de-3537-4923-8b54-d9d71b523629/acls?name=tf-acl-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2023-02-27T16:23:11.177122Z","description":"","frontend":{"backend":{"created_at":"2023-02-27T16:23:09.965484Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","f[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/75c1e9de-3537-4923-8b54-d9d71b523629/acls?order_by=created_at_asc
    method: GET
  response:
    body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2023-02-27T16:23:11.177122Z","description":"","frontend":{"backend":{"created_at":"2023-02-27T16:23:09.965484Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fd02e0e9-16a8-444b-a0cd-1c5731037af9?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fd02e0e9-16a8-444b-a0cd-1c5731037af9
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
