---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T22:14:16.944173Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"503bcb5b-bd06-4dfe-aa33-337eb9be0557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T22:14:16.944173Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/503bcb5b-bd06-4dfe-aa33-337eb9be0557
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T22:14:16.944173Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"503bcb5b-bd06-4dfe-aa33-337eb9be0557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T22:14:16.944173Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-strange-antonelli","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T22:14:16.971618Z","dhcp_enabled":false,"id":"8a69e6a6-2dbc-479e-9d63-39c729cc0bc3","name":"tf-pn-strange-antonelli","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T22:14:16.971618Z","id":"392b26ec-d61c-453f-9186-bbe6adf191f6","subnet":"172.16.12.0/22","updated_at":"2023-07-11T22:14:16.971618Z"},{"created_at":"2023-07-11T22:14:16.971618Z","id":"8708bd32-9b3d-4fde-946a-2efdda8c9418","subnet":"fd46:78ab:30b8:ecff::/64","updated_at":"2023-07-11T22:14:16.971618Z"}],"tags":[],"updated_at":"2023-07-11T22:14:16.971618Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8a69e6a6-2dbc-479e-9d63-39c729cc0bc3
    method: GET
  response:
    body: '{"created_at":"2023-07-11T22:14:16.971618Z","dhcp_enabled":false,"id":"8a69e6a6-2dbc-479e-9d63-39c729cc0bc3","name":"tf-pn-strange-antonelli","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T22:14:16.971618Z","id":"392b26ec-d61c-453f-9186-bbe6adf191f6","subnet":"172.16.12.0/22","updated_at":"2023-07-11T22:14:16.971618Z"},{"created_at":"2023-07-11T22:14:16.971618Z","id":"8708bd32-9b3d-4fde-946a-2efdda8c9418","subnet":"fd46:78ab:30b8:ecff::/64","updated_at":"2023-07-11T22:14:16.971618Z"}],"tags":[],"updated_at":"2023-07-11T22:14:16.971618Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"163.172.163.227","created_at":"2023-07-11T22:14:17.583503Z","gateway_id":null,"id":"63febf9a-454d-4540-a25a-134fa2c0f274","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"227-163-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T22:14:17.583503Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/63febf9a-454d-4540-a25a-134fa2c0f274
    method: GET
  response:
    body: '{"address":"163.172.163.227","created_at":"2023-07-11T22:14:17.583503Z","gateway_id":null,"id":"63febf9a-454d-4540-a25a-134fa2c0f274","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"227-163-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T22:14:17.583503Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-vibrant-northcutt","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"63febf9a-454d-4540-a25a-134fa2c0f274","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T22:14:18.087619Z","gateway_networks":[],"id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","ip":{"address":"163.172.163.227","created_at":"2023-07-11T22:14:17.583503Z","gateway_id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","id":"63febf9a-454d-4540-a25a-134fa2c0f274","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"227-163-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T22:14:17.583503Z","zone":"fr-par-1"},"name":"tf-pn-vibrant-northcutt","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-11T22:14:18.087619Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a86b2db4-c9df-4bf1-923f-1869cbbffb31
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T22:14:18.087619Z","gateway_networks":[],"id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","ip":{"address":"163.172.163.227","created_at":"2023-07-11T22:14:17.583503Z","gateway_id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","id":"63febf9a-454d-4540-a25a-134fa2c0f274","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"227-163-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T22:14:17.583503Z","zone":"fr-par-1"},"name":"tf-pn-vibrant-northcutt","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-11T22:14:18.142558Z","upstream_dns_servers":[],"version":"0.5.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","private_network_id":"8a69e6a6-2dbc-479e-9d63-39c729cc0bc3","enable_masquerade":true,"dhcp_id":"503bcb5b-bd06-4dfe-aa33-337eb9be0557","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-07-11T22:14:23.752992Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T22:14:16.944173Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"503bcb5b-bd06-4dfe-aa33-337eb9be0557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T22:14:16.944173Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","id":"06308e83-e5cf-4a26-880f-dce62426c3b3","mac_address":null,"private_network_id":"8a69e6a6-2dbc-479e-9d63-39c729cc0bc3","status":"created","updated_at":"2023-07-11T22:14:23.752992Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/06308e83-e5cf-4a26-880f-dce62426c3b3
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-07-11T22:14:23.752992Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T22:14:16.944173Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"503bcb5b-bd06-4dfe-aa33-337eb9be0557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T22:14:16.944173Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","id":"06308e83-e5cf-4a26-880f-dce62426c3b3","mac_address":"02:00:00:13:5C:44","private_network_id":"8a69e6a6-2dbc-479e-9d63-39c729cc0bc3","status":"ready","updated_at":"2023-07-11T22:14:31.158531Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks?gateway_id=a86b2db4-c9df-4bf1-923f-1869cbbffb31&order_by=created_at_asc&private_network_id=8a69e6a6-2dbc-479e-9d63-39c729cc0bc3&status=unknown
    method: GET
  response:
    body: '{"gateway_networks":[{"address":null,"created_at":"2023-07-11T22:14:23.752992Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T22:14:16.944173Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"503bcb5b-bd06-4dfe-aa33-337eb9be0557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T22:14:16.944173Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"a86b2db4-c9df-4bf1-923f-1869cbbffb31","id":"06308e83-e5cf-4a26-880f-dce62426c3b3","mac_address":"02:00:00:13:5C:44","private_network_id":"8a69e6a6-2dbc-479e-9d63-39c729cc0bc3","status":"ready","updated_at":"2023-07-11T22:14:31.158531Z","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/06308e83-e5cf-4a26-880f-dce62426c3b3?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/06308e83-e5cf-4a26-880f-dce62426c3b3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"06308e83-e5cf-4a26-880f-dce62426c3b3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a86b2db4-c9df-4bf1-923f-1869cbbffb31?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
