---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-data-source-pool","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-20T16:18:14.451890Z","dhcp_enabled":true,"id":"93e92723-a75b-4448-b2bc-b50e21615065","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:18:14.451890Z","id":"2c3aac29-310a-4b44-93d2-e5823a502e65","subnet":"172.16.0.0/22","updated_at":"2023-12-20T16:18:14.451890Z"},{"created_at":"2023-12-20T16:18:14.451890Z","id":"440501db-cf2c-4207-9baa-7f24a4c3e016","subnet":"fd5f:519c:6d46:dddc::/64","updated_at":"2023-12-20T16:18:14.451890Z"}],"tags":[],"updated_at":"2023-12-20T16:18:14.451890Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/93e92723-a75b-4448-b2bc-b50e21615065
    method: GET
  response:
    body: '{"created_at":"2023-12-20T16:18:14.451890Z","dhcp_enabled":true,"id":"93e92723-a75b-4448-b2bc-b50e21615065","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:18:14.451890Z","id":"2c3aac29-310a-4b44-93d2-e5823a502e65","subnet":"172.16.0.0/22","updated_at":"2023-12-20T16:18:14.451890Z"},{"created_at":"2023-12-20T16:18:14.451890Z","id":"440501db-cf2c-4207-9baa-7f24a4c3e016","subnet":"fd5f:519c:6d46:dddc::/64","updated_at":"2023-12-20T16:18:14.451890Z"}],"tags":[],"updated_at":"2023-12-20T16:18:14.451890Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"93e92723-a75b-4448-b2bc-b50e21615065"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://3191d771-7e9d-4b48-acc4-8d9a285afc49.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-20T16:18:16.010472072Z","created_at":"2023-12-20T16:18:16.010472072Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.3191d771-7e9d-4b48-acc4-8d9a285afc49.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"3191d771-7e9d-4b48-acc4-8d9a285afc49","ingress":"none","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"93e92723-a75b-4448-b2bc-b50e21615065","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2023-12-20T16:18:16.038864472Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVTWGhQVkVVeVRWUm5lRTR4YjFoRVZFMTZUVlJKZUU5VVJUSk5WR2Q0VGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"3191d771-7e9d-4b48-acc4-8d9a285afc49","container_runtime":"containerd","created_at":"2023-12-20T16:18:21.470328Z","id":"95436191-41a4-409f-81a8-c4ae302d3b0a","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-12-20T16:18:21.487054013Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/95436191-41a4-409f-81a8-c4ae302d3b0a
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"3191d771-7e9d-4b48-acc4-8d9a285afc49","container_runtime":"containerd","created_at":"2023-12-20T16:18:21.470328Z","id":"95436191-41a4-409f-81a8-c4ae302d3b0a","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-12-20T16:18:21.487054Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49/nodes?order_by=created_at_asc&page=1&pool_id=95436191-41a4-409f-81a8-c4ae302d3b0a&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"3191d771-7e9d-4b48-acc4-8d9a285afc49","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:23:32.194880Z","error_message":null,"id":"a1f82925-da00-4a09-90f3-810024f07a63","name":"scw-tf-cluster-pool-tf-pool-a1f82925da004a0990","pool_id":"95436191-41a4-409f-81a8-c4ae302d3b0a","provider_id":"scaleway://instance/fr-par-1/f24713dd-cc2d-4325-ae46-119337b98523","public_ip_v4":"51.15.128.239","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:26:47.817361Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49
    method: PATCH
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"3191d771-7e9d-4b48-acc4-8d9a285afc49","container_runtime":"containerd","created_at":"2023-12-20T16:18:21.470328Z","id":"95436191-41a4-409f-81a8-c4ae302d3b0a","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-12-20T16:26:47.828695Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49/nodes?order_by=created_at_asc&page=1&pool_id=95436191-41a4-409f-81a8-c4ae302d3b0a&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"3191d771-7e9d-4b48-acc4-8d9a285afc49","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:23:32.194880Z","error_message":null,"id":"a1f82925-da00-4a09-90f3-810024f07a63","name":"scw-tf-cluster-pool-tf-pool-a1f82925da004a0990","pool_id":"95436191-41a4-409f-81a8-c4ae302d3b0a","provider_id":"scaleway://instance/fr-par-1/f24713dd-cc2d-4325-ae46-119337b98523","public_ip_v4":"51.15.128.239","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:27:02.444425Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/95436191-41a4-409f-81a8-c4ae302d3b0a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"95436191-41a4-409f-81a8-c4ae302d3b0a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3191d771-7e9d-4b48-acc4-8d9a285afc49?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
