---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-vpc-resource1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-12T09:58:05.561442Z","id":"10b1fddb-b070-45ec-bdaf-94c518a38e5f","is_default":false,"name":"tf-tests-vpc-resource1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T09:58:05.561442Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/10b1fddb-b070-45ec-bdaf-94c518a38e5f
    method: GET
  response:
    body: '{"created_at":"2024-01-12T09:58:05.561442Z","id":"10b1fddb-b070-45ec-bdaf-94c518a38e5f","is_default":false,"name":"tf-tests-vpc-resource1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T09:58:05.561442Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"my-pn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":"9594b127-a104-46e4-8695-cfb0ac23d1d2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-12T09:58:06.044728Z","dhcp_enabled":true,"id":"40691ce3-2b99-401f-9a93-83fcf9596647","name":"my-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T09:58:06.044728Z","id":"4875c59c-cf60-4f67-8fef-1ba25ffa22a1","subnet":"172.16.96.0/22","updated_at":"2024-01-12T09:58:06.044728Z"},{"created_at":"2024-01-12T09:58:06.044728Z","id":"429df741-a453-45ee-a3f4-c90f2e9ef0fb","subnet":"fd46:78ab:30b8:d4db::/64","updated_at":"2024-01-12T09:58:06.044728Z"}],"tags":[],"updated_at":"2024-01-12T09:58:06.044728Z","vpc_id":"9594b127-a104-46e4-8695-cfb0ac23d1d2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/40691ce3-2b99-401f-9a93-83fcf9596647
    method: GET
  response:
    body: '{"created_at":"2024-01-12T09:58:06.044728Z","dhcp_enabled":true,"id":"40691ce3-2b99-401f-9a93-83fcf9596647","name":"my-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T09:58:06.044728Z","id":"4875c59c-cf60-4f67-8fef-1ba25ffa22a1","subnet":"172.16.96.0/22","updated_at":"2024-01-12T09:58:06.044728Z"},{"created_at":"2024-01-12T09:58:06.044728Z","id":"429df741-a453-45ee-a3f4-c90f2e9ef0fb","subnet":"fd46:78ab:30b8:d4db::/64","updated_at":"2024-01-12T09:58:06.044728Z"}],"tags":[],"updated_at":"2024-01-12T09:58:06.044728Z","vpc_id":"9594b127-a104-46e4-8695-cfb0ac23d1d2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=my-pn&order_by=created_at_asc&vpc_id=10b1fddb-b070-45ec-bdaf-94c518a38e5f
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2024-01-12T09:58:06.155159Z","dhcp_enabled":true,"id":"0e2dc18c-6efe-4433-9470-dd4b737f95ed","name":"my-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T09:58:06.155159Z","id":"578cd053-9b28-4c10-9f96-f110fe6fee52","subnet":"172.16.100.0/22","updated_at":"2024-01-12T09:58:06.155159Z"},{"created_at":"2024-01-12T09:58:06.155159Z","id":"172e3ebc-13dc-4b64-a475-24d9fd60529a","subnet":"fd46:78ab:30b8:8ba1::/64","updated_at":"2024-01-12T09:58:06.155159Z"}],"tags":[],"updated_at":"2024-01-12T09:58:06.155159Z","vpc_id":"10b1fddb-b070-45ec-bdaf-94c518a38e5f"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0e2dc18c-6efe-4433-9470-dd4b737f95ed
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"0e2dc18c-6efe-4433-9470-dd4b737f95ed","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
