---
version: 1
interactions:
- request:
    body: '{"name":"tf-volume-adoring-mahavira","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "1b5f5c6f-df7a-4cb1-bc0c-32ae3c0fbcd2", "name": "tf-volume-adoring-mahavira",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2020-10-16T14:59:01.227563+00:00", "modification_date":
      "2020-10-16T14:59:01.227563+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/volumes/1b5f5c6f-df7a-4cb1-bc0c-32ae3c0fbcd2
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1b5f5c6f-df7a-4cb1-bc0c-32ae3c0fbcd2
    method: GET
  response:
    body: '{"volume": {"id": "1b5f5c6f-df7a-4cb1-bc0c-32ae3c0fbcd2", "name": "tf-volume-adoring-mahavira",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2020-10-16T14:59:01.227563+00:00", "modification_date":
      "2020-10-16T14:59:01.227563+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume-adoring-mahavira
    method: GET
  response:
    body: '{"volumes": [{"id": "1b5f5c6f-df7a-4cb1-bc0c-32ae3c0fbcd2", "name": "tf-volume-adoring-mahavira",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2020-10-16T14:59:01.227563+00:00", "modification_date":
      "2020-10-16T14:59:01.227563+00:00", "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=50&name=tf-volume-adoring-mahavira>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
