---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?is_default=true&order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":22,"vpcs":[{"created_at":"2023-04-04T09:04:28.711230Z","id":"086a5171-f7ab-4667-a231-840a81203f19","is_default":true,"name":"default","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["default"],"updated_at":"2023-04-04T09:04:28.711230Z"},{"created_at":"2023-05-09T08:37:01.731624Z","id":"a01ffb32-93c4-491c-b139-cb28a70c56b4","is_default":false,"name":"tf-test-public-gw","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["vpc-gw","4efd25bb-f204-4720-9999-6a1aa4db27e9"],"updated_at":"2023-05-09T08:37:01.914643Z"},{"created_at":"2023-05-09T09:51:29.845462Z","id":"f46e3d02-efd1-4318-b3a3-bd93ea78fc8a","is_default":false,[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/086a5171-f7ab-4667-a231-840a81203f19
    method: GET
  response:
    body: '{"created_at":"2023-04-04T09:04:28.711230Z","id":"086a5171-f7ab-4667-a231-840a81203f19","is_default":true,"name":"default","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["default"],"updated_at":"2023-04-04T09:04:28.711230Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
