---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-data","description":"","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"6b0cba4d-ecb7-421e-9871-91f6c7f6b67e","name":"test-cr-data","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2022-04-12T09:26:08.996301091Z","updated_at":"2022-04-12T09:26:08.996301091Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/6b0cba4d-ecb7-421e-9871-91f6c7f6b67e
    method: GET
  response:
    body: '{"id":"6b0cba4d-ecb7-421e-9871-91f6c7f6b67e","name":"test-cr-data","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2022-04-12T09:26:08.996301Z","updated_at":"2022-04-12T09:26:08.996301Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[{"id":"6b0cba4d-ecb7-421e-9871-91f6c7f6b67e","name":"test-cr-data","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2022-04-12T09:26:08.996301Z","updated_at":"2022-04-12T09:26:08.996301Z","image_count":0,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/6b0cba4d-ecb7-421e-9871-91f6c7f6b67e
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
