---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-12-18T12:46:03.378119Z","id":"42a964fd-008a-4389-9d1d-1e60f3ed22bc","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-12-18T12:46:03.378119Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/42a964fd-008a-4389-9d1d-1e60f3ed22bc
    method: GET
  response:
    body: '{"created_at":"2023-12-18T12:46:03.378119Z","id":"42a964fd-008a-4389-9d1d-1e60f3ed22bc","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-12-18T12:46:03.378119Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":["172.16.0.0/22"],"vpc_id":"42a964fd-008a-4389-9d1d-1e60f3ed22bc"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T12:46:03.672007Z","dhcp_enabled":true,"id":"6f74ab79-2409-4233-a401-b7877b374a49","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T12:46:03.672007Z","id":"49a10f5a-c23a-4410-8958-f170775c7f2f","subnet":"172.16.0.0/22","updated_at":"2023-12-18T12:46:03.672007Z"},{"created_at":"2023-12-18T12:46:03.672007Z","id":"107c89b2-1bac-4527-962e-74b829800374","subnet":"fd5f:519c:6d46:34f4::/64","updated_at":"2023-12-18T12:46:03.672007Z"}],"tags":[],"updated_at":"2023-12-18T12:46:03.672007Z","vpc_id":"42a964fd-008a-4389-9d1d-1e60f3ed22bc"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6f74ab79-2409-4233-a401-b7877b374a49
    method: GET
  response:
    body: '{"created_at":"2023-12-18T12:46:03.672007Z","dhcp_enabled":true,"id":"6f74ab79-2409-4233-a401-b7877b374a49","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T12:46:03.672007Z","id":"49a10f5a-c23a-4410-8958-f170775c7f2f","subnet":"172.16.0.0/22","updated_at":"2023-12-18T12:46:03.672007Z"},{"created_at":"2023-12-18T12:46:03.672007Z","id":"107c89b2-1bac-4527-962e-74b829800374","subnet":"fd5f:519c:6d46:34f4::/64","updated_at":"2023-12-18T12:46:03.672007Z"}],"tags":[],"updated_at":"2023-12-18T12:46:03.672007Z","vpc_id":"42a964fd-008a-4389-9d1d-1e60f3ed22bc"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ipam-ip-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"6f74ab79-2409-4233-a401-b7877b374a49","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:46:05.393376Z","endpoint":null,"endpoints":[{"id":"8892b635-fdc4-4314-ac84-ebec2028721b","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"6f74ab79-2409-4233-a401-b7877b374a49","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:46:05.393376Z","endpoint":null,"endpoints":[{"id":"8892b635-fdc4-4314-ac84-ebec2028721b","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"6f74ab79-2409-4233-a401-b7877b374a49","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:46:05.393376Z","endpoint":null,"endpoints":[{"id":"8892b635-fdc4-4314-ac84-ebec2028721b","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"6f74ab79-2409-4233-a401-b7877b374a49","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVVW4zZWc3T3YydCs0Wm5laHp5VFk5UU55S0xnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05Nak14Ck1qRTRNVEkwTnpJd1doY05Nek14TWpFMU1USTBOekl3V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2023-12-18T12:46:05.811361Z","id":"4ff1153d-85f1-4f0e-a44e-3ac1bc475ec4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2","mac_address":"02:00:00:15:A9:CF","name":"test-ipam-ip-rdb","type":"rdb_instance"},"source":{"subnet_id":"49a10f5a-c23a-4410-8958-f170775c7f2f"},"tags":["managed","scwdbaas"],"updated_at":"2023-12-18T12:46:48.039822Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2023-12-18T12:46:05.811361Z","id":"4ff1153d-85f1-4f0e-a44e-3ac1bc475ec4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2","mac_address":"02:00:00:15:A9:CF","name":"test-ipam-ip-rdb","type":"rdb_instance"},"source":{"subnet_id":"49a10f5a-c23a-4410-8958-f170775c7f2f"},"tags":["managed","scwdbaas"],"updated_at":"2023-12-18T12:46:48.039822Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"f4d179bd-9d92-4d5b-9dc3-85fe28ad02b2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
