---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"e6a092c9-d220-4221-bfc3-915fcb9c5aea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:52.212333Z","updated_at":"2022-04-27T11:58:52.212333Z","tags":[],"address":"212.47.237.84","reverse":"84-237-47-212.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/e6a092c9-d220-4221-bfc3-915fcb9c5aea
    method: GET
  response:
    body: '{"id":"e6a092c9-d220-4221-bfc3-915fcb9c5aea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:52.212333Z","updated_at":"2022-04-27T11:58:52.212333Z","tags":[],"address":"212.47.237.84","reverse":"84-237-47-212.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/e6a092c9-d220-4221-bfc3-915fcb9c5aea
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"e6a092c9-d220-4221-bfc3-915fcb9c5aea","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
