---
version: 1
interactions:
- request:
    body: '{"name":"app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"9f2c0722-c883-4fef-8d67-dc6c8ea58c0b","name":"app","description":"","created_at":"2022-06-28T12:20:50.276251Z","updated_at":"2022-06-28T12:20:50.276251Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9f2c0722-c883-4fef-8d67-dc6c8ea58c0b
    method: GET
  response:
    body: '{"id":"9f2c0722-c883-4fef-8d67-dc6c8ea58c0b","name":"app","description":"","created_at":"2022-06-28T12:20:50.276251Z","updated_at":"2022-06-28T12:20:50.276251Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"76b92d41-9930-4272-b3f6-14057aedcf60","created_at":"2022-06-28T12:20:50.434430Z","updated_at":"2022-06-28T12:20:50.434430Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9f2c0722-c883-4fef-8d67-dc6c8ea58c0b"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/76b92d41-9930-4272-b3f6-14057aedcf60/principals
    method: PUT
  response:
    body: '{"id":"76b92d41-9930-4272-b3f6-14057aedcf60","created_at":"2022-06-28T12:20:50.434430Z","updated_at":"2022-06-28T12:20:50.434430Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9f2c0722-c883-4fef-8d67-dc6c8ea58c0b"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/76b92d41-9930-4272-b3f6-14057aedcf60
    method: GET
  response:
    body: '{"id":"76b92d41-9930-4272-b3f6-14057aedcf60","created_at":"2022-06-28T12:20:50.434430Z","updated_at":"2022-06-28T12:20:50.434430Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9f2c0722-c883-4fef-8d67-dc6c8ea58c0b"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test_data_source_mix&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"groups":[{"id":"76b92d41-9930-4272-b3f6-14057aedcf60","created_at":"2022-06-28T12:20:50.434430Z","updated_at":"2022-06-28T12:20:50.434430Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9f2c0722-c883-4fef-8d67-dc6c8ea58c0b"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/76b92d41-9930-4272-b3f6-14057aedcf60
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"76b92d41-9930-4272-b3f6-14057aedcf60","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
