---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d6887cbd-919d-4370-ac95-3c75772b50b6","ip_address":"195.154.196.87","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-87.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d6887cbd-919d-4370-ac95-3c75772b50b6
    method: GET
  response:
    body: '{"id":"d6887cbd-919d-4370-ac95-3c75772b50b6","ip_address":"195.154.196.87","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-87.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d6887cbd-919d-4370-ac95-3c75772b50b6","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:38:51.016944186Z","description":"","frontend_count":0,"id":"69f02e94-bd81-400d-9b78-54e2a0df8cea","instances":[],"ip":[{"id":"d6887cbd-919d-4370-ac95-3c75772b50b6","ip_address":"195.154.196.87","lb_id":"69f02e94-bd81-400d-9b78-54e2a0df8cea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-87.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:51.016944186Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69f02e94-bd81-400d-9b78-54e2a0df8cea
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:38:51.016944Z","description":"","frontend_count":0,"id":"69f02e94-bd81-400d-9b78-54e2a0df8cea","instances":[],"ip":[{"id":"d6887cbd-919d-4370-ac95-3c75772b50b6","ip_address":"195.154.196.87","lb_id":"69f02e94-bd81-400d-9b78-54e2a0df8cea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-87.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:51.016944Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69f02e94-bd81-400d-9b78-54e2a0df8cea/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-frosty-kirch","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69f02e94-bd81-400d-9b78-54e2a0df8cea/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:39:21.681233393Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"b13ed9b9-942c-4f83-89ce-5215ffb939d9","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:38:51.016944Z","description":"","frontend_count":0,"id":"69f02e94-bd81-400d-9b78-54e2a0df8cea","instances":[{"created_at":"2023-06-16T09:34:21.232792Z","id":"fb934324-04f5-4965-b2cc-f802016ca9a7","ip_address":"10.64.114.7","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:39:21.712523478Z","zone":"fr-par-1"}],"ip":[{"id":"d6887cbd-919d-4370-ac95-3c75772b50b6","ip_address":"195.154.196.87","lb_id":"69f02e94-bd81-400d-9b78-54e2a0df8cea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-87.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:53.383075Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-frosty-kirch","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:39:21.681233393Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/b13ed9b9-942c-4f83-89ce-5215ffb939d9
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:39:21.681233Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-gallant-dhawan","inbound_port":80,"backend_id":"b13ed9b9-942c-4f83-89ce-5215ffb939d9","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69f02e94-bd81-400d-9b78-54e2a0df8cea/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:39:21.681233Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"b13ed9b9-942c-4f83-89ce-5215ffb939d9","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:38:51.016944Z","description":"","frontend_count":1,"id":"69f02e9[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-magical-moser","inbound_port":80,"backend_id":"b13ed9b9-942c-4f83-89ce-5215ffb939d9","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/3438954d-9986-4816-87a1-e2aa292d97a9
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:39:21.681233Z","failover_host":null,"forward_port":80,[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/3438954d-9986-4816-87a1-e2aa292d97a9/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69f02e94-bd81-400d-9b78-54e2a0df8cea/frontends?name=tf-lb-frt-magical-moser&order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-06-16T09:39:21.681233Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"b13ed9b9-942c-4f83-89ce-5215ffb939d9","ignore_ssl_server_verify":false,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-frosty-kirch","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:39:21.681233Z"},"certificate":null,"certificate_ids":[],"created_at":"2023-06-16T09:39:22.318492Z","enable_http3":false,"id":"3438954d-9986-4816-87a1-e2aa292d97a9","inbound_port":80,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"name":"tf-lb-frt-magical-moser","timeout_client":null,"updated_at":"2023-06-16T09:39:22.720195Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69f02e94-bd81-400d-9b78-54e2a0df8cea?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69f02e94-bd81-400d-9b78-54e2a0df8cea
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
