---
version: 1
interactions:
- request:
    body: '{"name":"tf-volume","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "e5c94951-fe77-4e70-9627-8d9b4ae9883c", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2020-10-19T12:41:45.949571+00:00", "modification_date":
      "2020-10-19T12:41:45.949571+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/e5c94951-fe77-4e70-9627-8d9b4ae9883c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e5c94951-fe77-4e70-9627-8d9b4ae9883c
    method: GET
  response:
    body: '{"volume": {"id": "e5c94951-fe77-4e70-9627-8d9b4ae9883c", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2020-10-19T12:41:45.949571+00:00", "modification_date":
      "2020-10-19T12:41:45.949571+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
    method: GET
  response:
    body: '{"volumes": [{"id": "e5c94951-fe77-4e70-9627-8d9b4ae9883c", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2020-10-19T12:41:45.949571+00:00", "modification_date":
      "2020-10-19T12:41:45.949571+00:00", "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=50&name=tf-volume>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
