---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_datasource_terraform","version":"6.2.6","tags":null,"node_type":"RED1-micro","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"6124632d-c54a-413e-aaed-063f14040505","name":"test_redis_datasource_terraform","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"b5517a81-bf7d-4381-ab2c-02b7cce3d403"}],"tags":[],"node_type":"RED1-micro","created_at":"2022-10-04T15:07:53.433112Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6124632d-c54a-413e-aaed-063f14040505
    method: GET
  response:
    body: '{"id":"6124632d-c54a-413e-aaed-063f14040505","name":"test_redis_datasource_terraform","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"b5517a81-bf7d-4381-ab2c-02b7cce3d403"}],"tags":[],"node_type":"RED1-micro","created_at":"2022-10-04T15:07:53.433112Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters?name=test_redis_datasource_terraform&order_by=created_at_asc
    method: GET
  response:
    body: '{"clusters":[{"id":"6124632d-c54a-413e-aaed-063f14040505","name":"test_redis_datasource_terraform","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":["51.158.127.76"],"id":"b5517a81-bf7d-4381-ab2c-02b7cce3d403"}],"tags":[],"node_type":"RED1-micro","created_at":"2022-10-04T15:07:53.433112Z","updated_at":"2022-10-04T15:09:28.453675Z","tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6124632d-c54a-413e-aaed-063f14040505
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6124632d-c54a-413e-aaed-063f14040505","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
