---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-with-not-default-zone","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2022-12-26T15:11:28.625994Z","gateway_networks":[],"id":"d96210f1-d480-42d8-97b0-ad2eb98c986a","ip":{"address":"51.15.61.68","created_at":"2022-12-26T15:11:28.607910Z","gateway_id":"d96210f1-d480-42d8-97b0-ad2eb98c986a","id":"0c93196b-3fe4-4f00-a5a6-85af543a0663","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"68-61-15-51.instances.scw.cloud","tags":[],"updated_at":"2022-12-26T15:11:28.607910Z","zone":"nl-ams-1"},"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"stopped","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2022-12-26T15:11:28.625994Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/d96210f1-d480-42d8-97b0-ad2eb98c986a
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2022-12-26T15:11:28.625994Z","gateway_networks":[],"id":"d96210f1-d480-42d8-97b0-ad2eb98c986a","ip":{"address":"51.15.61.68","created_at":"2022-12-26T15:11:28.607910Z","gateway_id":"d96210f1-d480-42d8-97b0-ad2eb98c986a","id":"0c93196b-3fe4-4f00-a5a6-85af543a0663","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"68-61-15-51.instances.scw.cloud","tags":[],"updated_at":"2022-12-26T15:11:28.607910Z","zone":"nl-ams-1"},"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"stopped","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2022-12-26T15:11:28.677503Z","upstream_dns_servers":[],"version":"0.2.23","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_up[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/00cb69e6-00dd-40f7-a6c3-2925ce80c2aa
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2022-12-26T15:11:28.847883Z","gateway_networks":[],"id":"00cb69e6-00dd-40f7-a6c3-2925ce80c2aa","ip":{"address":"51.15.198.50","created_at":"2022-12-26T15:11:28.835419Z","gateway_id":"00cb69e6-00dd-40f7-a6c3-2925ce80c2aa","id":"84546e74-f38b-4b96-82e5-2394516a358d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"50-198-15-51.instances.scw.cloud","tags":[],"updated_at":"2022-12-26T15:11:28.835419Z","zone":"fr-par-1"},"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"stopped","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2022-12-26T15:11:28.882117Z","upstream_dns_servers":[],"version":"0.2.23","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways?name=public-gateway-with-not-default-zone&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2022-12-26T15:11:28.625994Z","gateway_networks":[],"id":"d96210f1-d480-42d8-97b0-ad2eb98c986a","ip":{"address":"51.15.61.68","created_at":"2022-12-26T15:11:28.607910Z","gateway_id":"d96210f1-d480-42d8-97b0-ad2eb98c986a","id":"0c93196b-3fe4-4f00-a5a6-85af543a0663","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"68-61-15-51.instances.scw.cloud","tags":[],"updated_at":"2022-12-26T15:11:28.607910Z","zone":"nl-ams-1"},"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2022-12-26T15:11:29.342438Z","upstream_dns_servers":[],"version":"0.2.23","zone":"nl-ams-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2022-12-26T15:11:28.847883Z","gateway_networks":[],"id":"00cb69e6-00dd-40f7-a6c3-2925ce80c2aa","ip":{"address":"51.15.198.50","created_at":"2022-12-26T15:11:28.835419Z","gateway_id":"00cb69e6-00dd-40f7-a6c3-2925ce80c2aa","id":"84546e74-f38b-4b96-82e5-2394516a358d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"50-198-15-51.instances.scw.cloud","tags":[],"updated_at":"2022-12-26T15:11:28.835419Z","zone":"fr-par-1"},"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2022-12-26T15:11:29.474646Z","upstream_dns_servers":[],"version":"0.2.23","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/00cb69e6-00dd-40f7-a6c3-2925ce80c2aa?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/00cb69e6-00dd-40f7-a6c3-2925ce80c2aa
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"00cb69e6-00dd-40f7-a6c3-2925ce80c2aa","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/d96210f1-d480-42d8-97b0-ad2eb98c986a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
