---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-privilege","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_rdb_user","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"9eaa6d4b-8bbf-44c5-bb73-68db49e258a3","name":"test-privilege","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":["terraform-test","scaleway_rdb_user","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-01T15:34:22.353205Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3
    method: GET
  response:
    body: '{"id":"9eaa6d4b-8bbf-44c5-bb73-68db49e258a3","name":"test-privilege","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":["terraform-test","scaleway_rdb_user","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-01T15:34:22.353205Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3
    method: GET
  response:
    body: '{"id":"9eaa6d4b-8bbf-44c5-bb73-68db49e258a3","name":"test-privilege","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.158.128.128","port":10048,"name":null,"id":"69fabcb8-6cb4-498b-ac62-cb1c52be040d","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_user","minimal"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.158.128.128","port":10048,"name":null,"id":"69fabcb8-6cb4-498b-ac62-cb1c52be040d","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-01T15:34:22.353205Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3
    method: PATCH
  response:
    body: '{"id":"9eaa6d4b-8bbf-44c5-bb73-68db49e258a3","name":"test-privilege","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","endpoint":{"i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5RENDQXR5Z0F3SUJBZ0lUZm8yOWJMV3ZVYkQ2MDAzeGlxUXFBMWNpWURBTkJna3Foa2lHOXcwQkFRc0YKQURDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4UlRCREJnTlZCQU1NUEhKM0xUbGxZV0UyWkRSaUxUaGlZbVl0Ck5EUmpOUzFpWWpjekxUWTRaR0kwT1dVeU5UaGhNeTV5WkdJdWJtd3RZVzF6TG5OamR5NWpiRzkxWkRBZUZ3MHkKTVRFeU1ERXhOVE0xTWpWYUZ3MHpNVEV4TWpreE5UTTFNalZhTUlHSE1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3RwpBMVVFQ0F3RlVHRnlhWE14RGpBTUJ[...]
[...]
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/databases
    method: POST
  response:
    body: '{"name":"foo","owner":"","managed":true,"size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/databases?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"name":"foo","owner":"_rdb_superadmin","managed":true,"size":8135535}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"foo","password":"R34lP4sSw#Rd","is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/users
    method: POST
  response:
    body: '{"name":"foo","is_admin":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/users?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"users":[{"name":"foo","is_admin":false}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"database_name":"foo","user_name":"foo","permission":"all"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/privileges
    method: PUT
  response:
    body: '{"permission":"all","database_name":"foo","user_name":"foo"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/privileges?database_name=foo&order_by=user_name_asc&user_name=foo
    method: GET
  response:
    body: '{"privileges":[{"permission":"all","database_name":"foo","user_name":"foo"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/databases/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3/users/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/9eaa6d4b-8bbf-44c5-bb73-68db49e258a3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"9eaa6d4b-8bbf-44c5-bb73-68db49e258a3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
