---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5a1f5c6b-0139-4129-b133-fc56bca740b3","ip_address":"195.154.69.104","lb_id":null,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","reverse":"195-154-69-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5a1f5c6b-0139-4129-b133-fc56bca740b3
    method: GET
  response:
    body: '{"id":"5a1f5c6b-0139-4129-b133-fc56bca740b3","ip_address":"195.154.69.104","lb_id":null,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","reverse":"195-154-69-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf-lb-datasource0","description":"a
      description","ip_id":"5a1f5c6b-0139-4129-b133-fc56bca740b3","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T13:00:54.061178318Z","description":"a
      description","frontend_count":0,"id":"2cf250a7-7ebc-40bc-b7c3-96e577132abf","instances":[],"ip":[{"id":"5a1f5c6b-0139-4129-b133-fc56bca740b3","ip_address":"195.154.69.104","lb_id":"2cf250a7-7ebc-40bc-b7c3-96e577132abf","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","reverse":"195-154-69-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","private_network_count":0,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T13:00:54.061178318Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2cf250a7-7ebc-40bc-b7c3-96e577132abf
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T13:00:54.061178Z","description":"a
      description","frontend_count":0,"id":"2cf250a7-7ebc-40bc-b7c3-96e577132abf","instances":[],"ip":[{"id":"5a1f5c6b-0139-4129-b133-fc56bca740b3","ip_address":"195.154.69.104","lb_id":"2cf250a7-7ebc-40bc-b7c3-96e577132abf","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","reverse":"195-154-69-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","private_network_count":0,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T13:00:54.061178Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2cf250a7-7ebc-40bc-b7c3-96e577132abf/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/lbs?name=tf-lb-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2cf250a7-7ebc-40bc-b7c3-96e577132abf?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2cf250a7-7ebc-40bc-b7c3-96e577132abf
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
