---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"c901a2ae-597d-41e0-aff5-acd98e1fb4c1","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:04.922113Z","updated_at":"2022-04-12T10:09:04.922113Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"725c44ea-121d-483b-a471-d63c2149f35b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:04.908619Z","updated_at":"2022-04-12T10:09:04.908619Z","tags":[],"address":"51.158.116.22","reverse":"22-116-158-51.instances.scw.cloud","gateway_id":"c901a2ae-597d-41e0-aff5-acd98e1fb4c1","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c901a2ae-597d-41e0-aff5-acd98e1fb4c1
    method: GET
  response:
    body: '{"id":"c901a2ae-597d-41e0-aff5-acd98e1fb4c1","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:04.922113Z","updated_at":"2022-04-12T10:09:04.951264Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"725c44ea-121d-483b-a471-d63c2149f35b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:04.908619Z","updated_at":"2022-04-12T10:09:04.908619Z","tags":[],"address":"51.158.116.22","reverse":"22-116-158-51.instances.scw.cloud","gateway_id":"c901a2ae-597d-41e0-aff5-acd98e1fb4c1","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"id":"c901a2ae-597d-41e0-aff5-acd98e1fb4c1","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:04.922113Z","updated_at":"2022-04-12T10:09:05.458345Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"725c44ea-121d-483b-a471-d63c2149f35b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:04.908619Z","updated_at":"2022-04-12T10:09:04.908619Z","tags":[],"address":"51.158.116.22","reverse":"22-116-158-51.instances.scw.cloud","gateway_id":"c901a2ae-597d-41e0-aff5-acd98e1fb4c1","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c901a2ae-597d-41e0-aff5-acd98e1fb4c1?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c901a2ae-597d-41e0-aff5-acd98e1fb4c1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"c901a2ae-597d-41e0-aff5-acd98e1fb4c1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
