---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ds-document_db-instance-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.862646Z","retention":7},"created_at":"2023-10-02T20:08:44.862646Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"bd73cd2c-4cf7-4fdf-978f-8352df27bd3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/bd73cd2c-4cf7-4fdf-978f-8352df27bd3d
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.862646Z","retention":7},"created_at":"2023-10-02T20:08:44.862646Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"bd73cd2c-4cf7-4fdf-978f-8352df27bd3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/bd73cd2c-4cf7-4fdf-978f-8352df27bd3d
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.862646Z","retention":7},"created_at":"2023-10-02T20:08:44.862646Z","endpoint":{"id":"0d09c2ac-7a12-416b-ac87-01098498d3d3","ip":"51.159.26.243","load_balancer":{},"name":null,"port":27345},"endpoints":[{"id":"0d09c2ac-7a12-416b-ac87-01098498d3d3","ip":"51.159.26.243","load_balancer":{},"name":null,"port":27345}],"engine":"FerretDB-1","id":"bd73cd2c-4cf7-4fdf-978f-8352df27bd3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances?name=test-ds-document_db-instance-basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.862646Z","retention":7},"created_at":"2023-10-02T20:08:44.862646Z","endpoint":{"id":"0d09c2ac-7a12-416b-ac87-01098498d3d3","ip":"51.159.26.243","load_balancer":{},"name":null,"port":27345},"endpoints":[{"id":"0d09c2ac-7a12-416b-ac87-01098498d3d3","ip":"51.159.26.243","load_balancer":{},"name":null,"port":27345}],"engine":"FerretDB-1","id":"bd73cd2c-4cf7-4fdf-978f-8352df27bd3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/0d09c2ac-7a12-416b-ac87-01098498d3d3
    method: GET
  response:
    body: '{"id":"0d09c2ac-7a12-416b-ac87-01098498d3d3","ip":"51.159.26.243","load_balancer":{},"name":null,"port":27345}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/bd73cd2c-4cf7-4fdf-978f-8352df27bd3d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"bd73cd2c-4cf7-4fdf-978f-8352df27bd3d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
