---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-15T10:26:14.631956Z","id":"d8eacc8f-4e9d-4ce4-b689-de33ee668030","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.12.0/22","fd46:78ab:30b8:1f4::/64"],"tags":[],"updated_at":"2023-06-15T10:26:14.631956Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d8eacc8f-4e9d-4ce4-b689-de33ee668030
    method: GET
  response:
    body: '{"created_at":"2023-06-15T10:26:14.631956Z","id":"d8eacc8f-4e9d-4ce4-b689-de33ee668030","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.12.0/22","fd46:78ab:30b8:1f4::/64"],"tags":[],"updated_at":"2023-06-15T10:26:14.631956Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2023-06-15T10:26:14.631956Z","id":"d8eacc8f-4e9d-4ce4-b689-de33ee668030","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.12.0/22","fd46:78ab:30b8:1f4::/64"],"tags":[],"updated_at":"2023-06-15T10:26:14.631956Z","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d8eacc8f-4e9d-4ce4-b689-de33ee668030
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"d8eacc8f-4e9d-4ce4-b689-de33ee668030","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
