---
version: 2
interactions:
- request:
    body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-02-19T16:52:54.632380Z","id":"431c4e3b-1920-42a5-9c1b-74328ab04684","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","tags":[],"updated_at":"2024-02-19T16:52:54.632380Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/431c4e3b-1920-42a5-9c1b-74328ab04684
    method: GET
  response:
    body: '{"created_at":"2024-02-19T16:52:54.632380Z","id":"431c4e3b-1920-42a5-9c1b-74328ab04684","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","tags":[],"updated_at":"2024-02-19T16:52:54.632380Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"431c4e3b-1920-42a5-9c1b-74328ab04684"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-19T16:52:54.857540Z","dhcp_enabled":true,"id":"250242a9-6b31-4bb7-9251-0244501aa469","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-19T16:52:54.857540Z","id":"ff9b3f58-6386-4d36-b129-d15893f4a12a","subnet":"172.16.0.0/22","updated_at":"2024-02-19T16:52:54.857540Z"},{"created_at":"2024-02-19T16:52:54.857540Z","id":"174c5668-9de8-469c-b32e-3fc254b19fef","subnet":"fd63:256c:45f7:b644::/64","updated_at":"2024-02-19T16:52:54.857540Z"}],"tags":[],"updated_at":"2024-02-19T16:52:54.857540Z","vpc_id":"431c4e3b-1920-42a5-9c1b-74328ab04684"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/250242a9-6b31-4bb7-9251-0244501aa469
    method: GET
  response:
    body: '{"created_at":"2024-02-19T16:52:54.857540Z","dhcp_enabled":true,"id":"250242a9-6b31-4bb7-9251-0244501aa469","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-19T16:52:54.857540Z","id":"ff9b3f58-6386-4d36-b129-d15893f4a12a","subnet":"172.16.0.0/22","updated_at":"2024-02-19T16:52:54.857540Z"},{"created_at":"2024-02-19T16:52:54.857540Z","id":"174c5668-9de8-469c-b32e-3fc254b19fef","subnet":"fd63:256c:45f7:b644::/64","updated_at":"2024-02-19T16:52:54.857540Z"}],"tags":[],"updated_at":"2024-02-19T16:52:54.857540Z","vpc_id":"431c4e3b-1920-42a5-9c1b-74328ab04684"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-ipam-ip-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"250242a9-6b31-4bb7-9251-0244501aa469","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-19T16:52:55.739028Z","endpoint":null,"endpoints":[{"id":"262db9e4-99d2-47d6-a53b-09111a7c6bf8","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"250242a9-6b31-4bb7-9251-0244501aa469","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"2a378d73-f50b-411b-bba4-1b7aca9bb371","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2a378d73-f50b-411b-bba4-1b7aca9bb371
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-19T16:52:55.739028Z","endpoint":null,"endpoints":[{"id":"262db9e4-99d2-47d6-a53b-09111a7c6bf8","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"250242a9-6b31-4bb7-9251-0244501aa469","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"2a378d73-f50b-411b-bba4-1b7aca9bb371","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2a378d73-f50b-411b-bba4-1b7aca9bb371
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-19T16:52:55.739028Z","endpoint":null,"endpoints":[{"id":"262db9e4-99d2-47d6-a53b-09111a7c6bf8","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"250242a9-6b31-4bb7-9251-0244501aa469","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"2a378d73-f50b-411b-bba4-1b7aca9bb371","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2a378d73-f50b-411b-bba4-1b7aca9bb371/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVS2JpWXI1aGJpZGpuMDlDUWwveTlpSWlGMmFVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalF3Ck1qRTVNVFkxTkRBd1doY05NelF3TWpFMk1UWTFOREF3V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=2a378d73-f50b-411b-bba4-1b7aca9bb371&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2024-02-19T16:52:56.106802Z","id":"5733d293-c580-473b-8c7c-d26ec182110c","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"2a378d73-f50b-411b-bba4-1b7aca9bb371","mac_address":"02:00:00:18:7E:2F","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"ff9b3f58-6386-4d36-b129-d15893f4a12a"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-19T16:53:28.369571Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2024-02-19T16:52:56.106802Z","id":"5733d293-c580-473b-8c7c-d26ec182110c","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"2a378d73-f50b-411b-bba4-1b7aca9bb371","mac_address":"02:00:00:18:7E:2F","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"ff9b3f58-6386-4d36-b129-d15893f4a12a"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-19T16:53:28.369571Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2a378d73-f50b-411b-bba4-1b7aca9bb371
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"2a378d73-f50b-411b-bba4-1b7aca9bb371","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
