---
version: 1
interactions:
- request:
    body: '{"name":"tf-vpc-datasource0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","data_scaleway_vpcs","basic"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-07-18T19:03:10.028589Z","id":"83cbb8ac-fb0b-42ba-8c0e-f368d2dcd074","is_default":false,"name":"tf-vpc-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2023-07-18T19:03:10.028589Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/83cbb8ac-fb0b-42ba-8c0e-f368d2dcd074
    method: GET
  response:
    body: '{"created_at":"2023-07-18T19:03:10.028589Z","id":"83cbb8ac-fb0b-42ba-8c0e-f368d2dcd074","is_default":false,"name":"tf-vpc-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2023-07-18T19:03:10.028589Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&tags=data_scaleway_vpcs&tags=terraform-test
    method: GET
  response:
    body: '{"total_count":5,"vpcs":[{"created_at":"2023-07-18T18:49:57.082355Z","id":"af0da82b-768b-4d17-858c-bc04ebe6847a","is_default":false,"name":"tf-vpc-datasource2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2023-07-18T18:49:57.082355Z"},{"created_at":"2023-07-18T18:49:57.123589Z","id":"e44adf91-b07e-4729-a9fb-bd9f9e57fea9","is_default":false,"name[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":4,"vpcs":[{"created_at":"2023-07-18T18:49:57.082355Z","id":"af0da82b-768b-4d17-858c-bc04ebe6847a","is_default":false,"name":"tf-vpc-datasource2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":0,"vpcs":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
