---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"unknown_type","path":"/","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-03-26T08:11:38.177920Z","description":"","ephemeral_policy":null,"id":"324b271b-b085-4cff-8a70-83939846d12c","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-03-26T08:11:38.177920Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/324b271b-b085-4cff-8a70-83939846d12c
    method: GET
  response:
    body: '{"created_at":"2024-03-26T08:11:38.177920Z","description":"","ephemeral_policy":null,"id":"324b271b-b085-4cff-8a70-83939846d12c","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-03-26T08:11:38.177920Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/324b271b-b085-4cff-8a70-83939846d12c/versions
    method: POST
  response:
    body: '{"created_at":"2024-03-26T08:11:38.415254Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"324b271b-b085-4cff-8a70-83939846d12c","status":"enabled","updated_at":"2024-03-26T08:11:38.415254Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/324b271b-b085-4cff-8a70-83939846d12c/versions/1
    method: GET
  response:
    body: '{"created_at":"2024-03-26T08:11:38.415254Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"324b271b-b085-4cff-8a70-83939846d12c","status":"enabled","updated_at":"2024-03-26T08:11:38.415254Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc&type=unknown_type
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2024-03-26T08:11:38.177920Z","description":"","ephemeral_policy":null,"id":"324b271b-b085-4cff-8a70-83939846d12c","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-03-26T08:11:38.177920Z","version_count":1}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/324b271b-b085-4cff-8a70-83939846d12c/versions/1/access
    method: GET
  response:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"324b271b-b085-4cff-8a70-83939846d12c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/324b271b-b085-4cff-8a70-83939846d12c/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"324b271b-b085-4cff-8a70-83939846d12c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
