---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-3083507381654433909","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-01-19T15:51:24.118092Z","description":"","id":"59094ba9-902a-4e1b-93ba-83b0c3ca163b","name":"test-acc-scaleway-project-3083507381654433909","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-19T15:51:24.118092Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-2452422049967684612","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-19T15:51:24.796631Z","description":"","editable":true,"id":"1e5fdea4-91b2-4ae6-9d1e-8ee14bff5bd5","name":"test-acc-scaleway-iam-app-2452422049967684612","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-19T15:51:24.796631Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-8256619675295806627","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["59094ba9-902a-4e1b-93ba-83b0c3ca163b"]}],"application_id":"1e5fdea4-91b2-4ae6-9d1e-8ee14bff5bd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"1e5fdea4-91b2-4ae6-9d1e-8ee14bff5bd5","created_at":"2023-01-19T15:51:24.881702Z","description":"","editable":true,"id":"0fcb8194-c7b9-4cb1-8026-979cbed0cbd2","name":"test-acc-scaleway-iam-policy-8256619675295806627","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-19T15:51:24.881702Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"1e5fdea4-91b2-4ae6-9d1e-8ee14bff5bd5","expires_at":null,"default_project_id":"59094ba9-902a-4e1b-93ba-83b0c3ca163b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWRJ90G3TFREF9P5ZCH","application_id":"1e5fdea4-91b2-4ae6-9d1e-8ee14bff5bd5","created_at":"2023-01-19T15:51:25.059850Z","creation_ip":"51.159.73.9","default_project_id":"59094ba9-902a-4e1b-93ba-83b0c3ca163b","description":"","editable":true,"expires_at":null,"secret_key":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx","updated_at":"2023-01-19T15:51:25.059850Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20230119T155127Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-object-bucket-6851362417353159991
      X-Amz-Request-Id:
      - tx0bd0974df3cf482db25e4-0063c966ff
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155128Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx5b02811e37bf4bd0b9dbf-0063c96700
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155130Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>59094ba9-902a-4e1b-93ba-83b0c3ca163b:59094ba9-902a-4e1b-93ba-83b0c3ca163b</ID><DisplayName>59094ba9-902a-4e1b-93ba-83b0c3ca163b:59094ba9-902a-4e1b-93ba-83b0c3ca163b</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>59094ba9-902a-4e1b-93ba-83b0c3ca163b:59094ba9-902a-4e1b-93ba-83b0c3ca163b</ID><DisplayName>59094ba9-902a-4e1b-93ba-83b0c3ca163b:59094ba9-902a-4e1b-93ba-83b0c3ca163b</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - txacecb1ef21494bed8dae6-0063c96702
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155132Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txac3468506df0496fba8d5-0063c96704</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txac3468506df0496fba8d5-0063c96704
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155132Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-6851362417353159991</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx5bf0a44ce49b45929d297-0063c96705
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155133Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>txf05164bccb924886ad1fd-0063c96705</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txf05164bccb924886ad1fd-0063c96705
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155133Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx4d0752ee972e4a0a920e0-0063c96705</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx4d0752ee972e4a0a920e0-0063c96705
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155134Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - tx101cb90a6ffb4b628d3be-0063c96706
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T155134Z
    url: https://test-acc-scaleway-object-bucket-6851362417353159991.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist.</Message><RequestId>tx37754e6e9d384b7daeda0-0063c96706</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx37754e6e9d384b7daeda0-0063c96706
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWRJ90G3TFREF9P5ZCH
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/0fcb8194-c7b9-4cb1-8026-979cbed0cbd2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/1e5fdea4-91b2-4ae6-9d1e-8ee14bff5bd5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/59094ba9-902a-4e1b-93ba-83b0c3ca163b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
