---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-ds-document_db-instance-basic-load-balancer","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-10T11:59:28.900740Z","retention":7},"created_at":"2023-10-09T11:59:28.900740Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"588fd595-ed02-4f81-bf97-d3f0ce5fb18a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic-load-balancer","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/588fd595-ed02-4f81-bf97-d3f0ce5fb18a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-10T11:59:28.900740Z","retention":7},"created_at":"2023-10-09T11:59:28.900740Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"588fd595-ed02-4f81-bf97-d3f0ce5fb18a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic-load-balancer","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/588fd595-ed02-4f81-bf97-d3f0ce5fb18a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-10T11:59:28.900740Z","retention":7},"created_at":"2023-10-09T11:59:28.900740Z","endpoint":{"id":"c6af60c2-ea70-482a-bc3e-80164e72dc7e","ip":"51.159.24.190","load_balancer":{},"name":null,"port":12352},"endpoints":[{"id":"c6af60c2-ea70-482a-bc3e-80164e72dc7e","ip":"51.159.24.190","load_balancer":{},"name":null,"port":12352}],"engine":"FerretDB-1","id":"588fd595-ed02-4f81-bf97-d3f0ce5fb18a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic-load-balancer","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances?name=test-ds-document_db-instance-basic-load-balancer&order_by=created_at_asc
    method: GET
  response:
    body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-10T11:59:28.900740Z","retention":7},"created_at":"2023-10-09T11:59:28.900740Z","endpoint":{"id":"c6af60c2-ea70-482a-bc3e-80164e72dc7e","ip":"51.159.24.190","load_balancer":{},"name":null,"port":12352},"endpoints":[{"id":"c6af60c2-ea70-482a-bc3e-80164e72dc7e","ip":"51.159.24.190","load_balancer":{},"name":null,"port":12352}],"engine":"FerretDB-1","id":"588fd595-ed02-4f81-bf97-d3f0ce5fb18a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic-load-balancer","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/c6af60c2-ea70-482a-bc3e-80164e72dc7e
    method: GET
  response:
    body: '{"id":"c6af60c2-ea70-482a-bc3e-80164e72dc7e","ip":"51.159.24.190","load_balancer":{},"name":null,"port":12352}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/588fd595-ed02-4f81-bf97-d3f0ce5fb18a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"588fd595-ed02-4f81-bf97-d3f0ce5fb18a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
