---
version: 1
interactions:
- request:
    body: '{"name":"DataSourceVPC_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-06-01T12:25:51.157556Z","id":"d0f6552e-5a6e-4514-89f0-c98d58ac85dd","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-06-01T12:25:51.157556Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d0f6552e-5a6e-4514-89f0-c98d58ac85dd
    method: GET
  response:
    body: '{"created_at":"2023-06-01T12:25:51.157556Z","id":"d0f6552e-5a6e-4514-89f0-c98d58ac85dd","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-06-01T12:25:51.157556Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=DataSourceVPC_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":1,"vpcs":[{"created_at":"2023-06-01T12:25:51.157556Z","id":"d0f6552e-5a6e-4514-89f0-c98d58ac85dd","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-06-01T12:25:51.157556Z"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d0f6552e-5a6e-4514-89f0-c98d58ac85dd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"vpc","resource_id":"d0f6552e-5a6e-4514-89f0-c98d58ac85dd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
