---
version: 1
interactions:
- request:
    body: '{"project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","name":"test-terraform","engine":"PostgreSQL-11","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"4770e301-e233-4392-aa4a-c0ffde1e0724","name":"test-terraform","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-04-29T12:47:16.979127Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724
    method: GET
  response:
    body: '{"id":"4770e301-e233-4392-aa4a-c0ffde1e0724","name":"test-terraform","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-04-29T12:47:16.979127Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724
    method: GET
  response:
    body: '{"id":"4770e301-e233-4392-aa4a-c0ffde1e0724","name":"test-terraform","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.159.115.195","port":39894,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-04-29T12:47:16.979127Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVT3lsbTF0QmdJaXIycWsyMFRKQXFoV1ZPbitvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDBOemN3WlRNd01TMWxNak16CkxUUXpPVEl0WVdFMFlTMWpNR1ptWkdVeFpUQTNNalF1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFd05ESTVNVEkwT1RJeFdoY05NekV3TkRJM01USTBPVEl4V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"name":"test-terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724/databases
    method: POST
  response:
    body: '{"name":"test-terraform","owner":"_rdb_superadmin","managed":true,"size":7733763}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724/databases?name=test-terraform&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"name":"test-terraform","owner":"_rdb_superadmin","managed":true,"size":7877279}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724/databases?name=&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"name":"rdb","owner":"_rdb_superadmin","managed":true,"size":7877279},{"name":"test-terraform","owner":"_rdb_superadmin","managed":true,"size":7877279}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724/databases/test-terraform
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4770e301-e233-4392-aa4a-c0ffde1e0724
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"4770e301-e233-4392-aa4a-c0ffde1e0724","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
