---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/billing/v2alpha1/invoices?invoice_type=unknown_type&order_by=invoice_number_desc
    method: GET
  response:
    body: '{"invoices":[{"due_date":null,"id":"543fd28f-8a86-4861-ba4f-052f3cb35ad0","invoice_type":"periodic","issued_date":null,"number":0,"start_date":"2022-05-01T00:00:00Z","total_taxed":{"currency_code":"EUR","nanos":450000000,"units":40},"total_untaxed":{"currency_code":"EUR","nanos":450000000,"units":40}},{"due_date":null,"id":"5d798387-5c67-4a99-a99c-e3c352a23308","invoice_type":"periodic","issued_date":null,"number":0,"start_date":"2022-06-01T00:00:00Z","total_taxed":{"currency_code":"EUR","nanos":700000000,"units":81},"total_untaxed":{"currency_code":"EUR","nanos":700000000,"units":81}},{"due_date":null,"id":"ee7c0ea8-e8dd-44c5-8758-6ffc282fc9a7","invoice_type":"periodic","issued_date":null,"number":0,"start_date":"2022-07-01T00:00:00Z","to[...]
[...]
