---
version: 1
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_data_source_basic","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-04-14T11:50:19.889971Z","description":"","id":"16476787-e28d-4fd5-8442-fdbeadf23339","name":"test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-04-14T11:50:19.889971Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/16476787-e28d-4fd5-8442-fdbeadf23339
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-04-14T11:50:19.889971Z","description":"","id":"16476787-e28d-4fd5-8442-fdbeadf23339","name":"test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-04-14T11:50:19.889971Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: '{"groups":[{"application_ids":[],"created_at":"2023-04-14T11:50:19.889971Z","description":"","id":"16476787-e28d-4fd5-8442-fdbeadf23339","name":"test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-04-14T11:50:19.889971Z","user_ids":[]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/16476787-e28d-4fd5-8442-fdbeadf23339
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"16476787-e28d-4fd5-8442-fdbeadf23339","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
