---
version: 1
interactions:
- request:
    body: '{"name":"tf-security-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "d0afe3c4-b3f7-4a67-b607-88028e525e0e", "creation_date":
      "2022-04-12T10:14:58.162071+00:00", "modification_date": "2022-04-12T10:14:58.162071+00:00",
      "name": "tf-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d0afe3c4-b3f7-4a67-b607-88028e525e0e
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d0afe3c4-b3f7-4a67-b607-88028e525e0e
    method: GET
  response:
    body: '{"security_group": {"id": "d0afe3c4-b3f7-4a67-b607-88028e525e0e", "creation_date":
      "2022-04-12T10:14:58.162071+00:00", "modification_date": "2022-04-12T10:14:58.162071+00:00",
      "name": "tf-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-security-group","tags":null,"creation_date":"2022-04-12T10:14:58.162071Z","modification_date":"2022-04-12T10:14:58.162071Z","description":"","enable_default_security":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","organization_default":false,"project_default":false,"servers":[],"stateful":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d0afe3c4-b3f7-4a67-b607-88028e525e0e
    method: PUT
  response:
    body: '{"type": "invalid_request_error", "message": "Validation Error", "fields":
      {"tags": ["expected a list"]}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
