---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-strange-khayyam","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.157902Z","description":"","id":"39049854-59b0-4e48-92b6-bf3483514bc1","name":"tf-project-strange-khayyam","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.157902Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/39049854-59b0-4e48-92b6-bf3483514bc1
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.157902Z","description":"","id":"39049854-59b0-4e48-92b6-bf3483514bc1","name":"tf-project-strange-khayyam","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.157902Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"39049854-59b0-4e48-92b6-bf3483514bc1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.401527922Z","project_id":"39049854-59b0-4e48-92b6-bf3483514bc1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.401527922Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=39049854-59b0-4e48-92b6-bf3483514bc1
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.401527Z","project_id":"39049854-59b0-4e48-92b6-bf3483514bc1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.401527Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"39049854-59b0-4e48-92b6-bf3483514bc1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"39049854-59b0-4e48-92b6-bf3483514bc1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"39049854-59b0-4e48-92b6-bf3483514bc1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"39049854-59b0-4e48-92b6-bf3483514bc1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
