---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
    method: GET
  response:
    body: '{"account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1","created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2023-10-18T09:31:58.897382Z","mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"owner","updated_at":"2023-10-18T09:31:58.891884Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-10-19T07:37:17.010572Z","description":"","editable":true,"id":"b21424bf-b3c6-4ff4-90a7-7d1cd1b5b44c","name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-19T07:37:17.010572Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b21424bf-b3c6-4ff4-90a7-7d1cd1b5b44c
    method: GET
  response:
    body: '{"created_at":"2023-10-19T07:37:17.010572Z","description":"","editable":true,"id":"b21424bf-b3c6-4ff4-90a7-7d1cd1b5b44c","name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-19T07:37:17.010572Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-10-19T07:37:17.191119Z","description":"","id":"0c6d198e-b612-4b36-8034-f423e4faeca4","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-19T07:37:17.191119Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["b21424bf-b3c6-4ff4-90a7-7d1cd1b5b44c"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/0c6d198e-b612-4b36-8034-f423e4faeca4/members
    method: PUT
  response:
    body: '{"application_ids":["b21424bf-b3c6-4ff4-90a7-7d1cd1b5b44c"],"created_at":"2023-10-19T07:37:17.191119Z","description":"","id":"0c6d198e-b612-4b36-8034-f423e4faeca4","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-19T07:37:17.191119Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/0c6d198e-b612-4b36-8034-f423e4faeca4
    method: GET
  response:
    body: '{"application_ids":["b21424bf-b3c6-4ff4-90a7-7d1cd1b5b44c"],"created_at":"2023-10-19T07:37:17.191119Z","description":"","id":"0c6d198e-b612-4b36-8034-f423e4faeca4","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-19T07:37:17.191119Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: '{"groups":[{"application_ids":["b21424bf-b3c6-4ff4-90a7-7d1cd1b5b44c"],"created_at":"2023-10-19T07:37:17.191119Z","description":"","id":"0c6d198e-b612-4b36-8034-f423e4faeca4","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-19T07:37:17.191119Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/0c6d198e-b612-4b36-8034-f423e4faeca4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"0c6d198e-b612-4b36-8034-f423e4faeca4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
