---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/0e3b7619-f1d2-4492-977c-8cb729cc6be3
    method: GET
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:35:02.149630870Z","description":"","frontend_count":0,"id":"08a835d0-a987-4f23-ad71-e8892d12f9ca","instances":[],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"08a835d0-a987-4f23-ad71-e8892d12f9ca","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:35:02.149630870Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08a835d0-a987-4f23-ad71-e8892d12f9ca
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:35:02.149631Z","description":"","frontend_count":0,"id":"08a835d0-a987-4f23-ad71-e8892d12f9ca","instances":[{"created_at":"2023-06-29T13:33:54.654034Z","id":"25d0bf41-ad46-47fd-b2c0-ea7b1b2d297b","ip_address":"10.74.34.61","region":"fr-par","status":"unknown","updated_at":"2023-06-29T13:35:02.381756Z","zone":"fr-par-1"}],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"08a835d0-a987-4f23-ad71-e8892d12f9ca","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:35:02.395711Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08a835d0-a987-4f23-ad71-e8892d12f9ca/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-wonderful-cartwright","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08a835d0-a987-4f23-ad71-e8892d12f9ca/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:35:32.902867354Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:35:02.149631Z","description":"","frontend_count":0,"id":"08a835d0-a987-4f23-ad71-e8892d12f9ca","instances":[{"created_at":"2023-06-29T13:33:54.654034Z","id":"25d0bf41-ad46-47fd-b2c0-ea7b1b2d297b","ip_address":"10.74.34.61","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:35:32.947094335Z","zone":"fr-par-1"}],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"08a835d0-a987-4f23-ad71-e8892d12f9ca","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:35:04.357115Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-wonderful-cartwright","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:35:32.902867354Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d7d44ba1-a37b-48e2-aa6b-e32032e93d5b
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:35:32.902867Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-gallant-kilby","inbound_port":80,"backend_id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08a835d0-a987-4f23-ad71-e8892d12f9ca/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:35:32.902867Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:35:02.149631Z","description":"","frontend_count":1,"id":"08a835d[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-romantic-brattain","inbound_port":80,"backend_id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b4fcfb7e-012f-49e2-a48a-fe1ad1710d78
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:35:32.902867Z","failover_host":null,"forward_port"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b4fcfb7e-012f-49e2-a48a-fe1ad1710d78/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"b4fcfb7e-012f-49e2-a48a-fe1ad1710d78","backend_id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","created_at":"2023-06-29T13:35:34.781165663Z","frontend_id":"b4fcfb7e-012f-49e2-a48a-fe1ad1710d78","id":"579e420d-69ad-49aa-8672-78e7c7794e94","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-29T13:35:34.781165663Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/579e420d-69ad-49aa-8672-78e7c7794e94
    method: GET
  response:
    body: '{"backend_id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","created_at":"2023-06-29T13:35:34.781166Z","frontend_id":"b4fcfb7e-012f-49e2-a48a-fe1ad1710d78","id":"579e420d-69ad-49aa-8672-78e7c7794e94","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-29T13:35:34.781166Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=b4fcfb7e-012f-49e2-a48a-fe1ad1710d78&order_by=created_at_asc
    method: GET
  response:
    body: '{"routes":[{"backend_id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","created_at":"2023-06-29T13:35:34.781166Z","frontend_id":"b4fcfb7e-012f-49e2-a48a-fe1ad1710d78","id":"579e420d-69ad-49aa-8672-78e7c7794e94","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-29T13:35:34.781166Z"},{"backend_id":"d7d44ba1-a37b-48e2-aa6b-e32032e93d5b","created_at":"2023-06-29T13:35:37.814958Z","frontend_id":"b4fcfb7e-012f-49e2-a48a-fe1ad1710d78","id":"e8f186c4-694e-4482-8456-c41b11070af4","match":{"sni":"sni2.scaleway.com"},"updated_at":"2023-06-29T13:35:37.814958Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08a835d0-a987-4f23-ad71-e8892d12f9ca?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08a835d0-a987-4f23-ad71-e8892d12f9ca
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
