---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=monthly
    method: GET
  response:
    body: '{"total_count":14,"offers":[{"id":"f1322af3-53dd-473b-8749-83661fbb73d8","name":"EM-A115X-SSD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"SSD"},{"capacity":1000000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1220 or equivalent","core_count":4,"thread_count":4,"frequency":3100}],"memories":[{"capacity":32000000000,"type":"DDR3","frequency":1600,"is_ecc":true}],"quota_name":"EM_A115X_SSD","price_per_hour":null,"price_per_month":{"currency_code":"EUR","units":29,"nanos":990000000},"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","bd17a2bb-e686-486a-aacf-44fa8ce6e553","bf705b90-1548-4368-98ca-d17dbd8dd860","3422ae02-d6d7-4980-8a00-eb38c262fb41","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","b4816d13-8585-4005-a7c7-54a031dd933b","7c70ff80-dbfa-4e07-be73-1de0e60fe175"],"subscription_period":"monthly","operation_path":"","fee":{"currency_code":"EUR","units":29,"nanos":990000000},"options":[{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":11,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":71,"nanos":500000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":9,"nanos":990000000},"enabled":false,"subscription_period":"monthly","manageable":tru[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=hourly
    method: GET
  response:
    body: '{"total_count":13,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PR[...]
[...]
