---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"700a70ba-b0d1-4102-9a65-d37f8a059e66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T10:14:56.228251Z","updated_at":"2022-03-18T10:14:56.228251Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"a085d7f3-277d-4dae-bbc1-5fc19a51ef27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T10:14:56.207893Z","updated_at":"2022-03-18T10:14:56.207893Z","tags":[],"address":"51.158.108.84","reverse":"84-108-158-51.instances.scw.cloud","gateway_id":"700a70ba-b0d1-4102-9a65-d37f8a059e66","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/700a70ba-b0d1-4102-9a65-d37f8a059e66
    method: GET
  response:
    body: '{"id":"700a70ba-b0d1-4102-9a65-d37f8a059e66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T10:14:56.228251Z","updated_at":"2022-03-18T10:14:56.261406Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"a085d7f3-277d-4dae-bbc1-5fc19a51ef27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T10:14:56.207893Z","updated_at":"2022-03-18T10:14:56.207893Z","tags":[],"address":"51.158.108.84","reverse":"84-108-158-51.instances.scw.cloud","gateway_id":"700a70ba-b0d1-4102-9a65-d37f8a059e66","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"id":"700a70ba-b0d1-4102-9a65-d37f8a059e66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T10:14:56.228251Z","updated_at":"2022-03-18T10:14:57.059943Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"a085d7f3-277d-4dae-bbc1-5fc19a51ef27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T10:14:56.207893Z","updated_at":"2022-03-18T10:14:56.207893Z","tags":[],"address":"51.158.108.84","reverse":"84-108-158-51.instances.scw.cloud","gateway_id":"700a70ba-b0d1-4102-9a65-d37f8a059e66","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/700a70ba-b0d1-4102-9a65-d37f8a059e66?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/700a70ba-b0d1-4102-9a65-d37f8a059e66
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"700a70ba-b0d1-4102-9a65-d37f8a059e66","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
