---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"78151461-5a66-4a5d-b2dc-ee322a7a834d","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2021-05-11T14:36:47.051352Z","updated_at":"2021-05-11T14:36:47.051352Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/78151461-5a66-4a5d-b2dc-ee322a7a834d
    method: GET
  response:
    body: '{"id":"78151461-5a66-4a5d-b2dc-ee322a7a834d","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2021-05-11T14:36:47.051352Z","updated_at":"2021-05-11T14:36:47.051352Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys?name=TestAccScalewayDataSourceAccountSSHKey_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"ssh_keys":[{"id":"78151461-5a66-4a5d-b2dc-ee322a7a834d","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2021-05-11T14:36:47.051352Z","updated_at":"2021-05-11T14:36:47.051352Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/78151461-5a66-4a5d-b2dc-ee322a7a834d
    method: GET
  response:
    body: '{"message":"ssh key not found","resource":"ssh-key","resource_id":"78151461-5a66-4a5d-b2dc-ee322a7a834d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
