---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-3773550326394865817","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-28T17:04:00.541474Z","description":"","id":"4a28cfca-c0ef-434e-9e83-0d0a604c6beb","name":"test-acc-scaleway-project-3773550326394865817","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","updated_at":"2023-11-28T17:04:00.541474Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-2790632603602297838","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-11-28T17:04:00.773511Z","description":"","editable":true,"id":"bbcf198a-4c99-4df8-bf71-57f7cc3dc799","name":"test-acc-scaleway-iam-app-2790632603602297838","nb_api_keys":0,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"updated_at":"2023-11-28T17:04:00.773511Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-2958802459792620445","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["4a28cfca-c0ef-434e-9e83-0d0a604c6beb"]}],"application_id":"bbcf198a-4c99-4df8-bf71-57f7cc3dc799"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"bbcf198a-4c99-4df8-bf71-57f7cc3dc799","created_at":"2023-11-28T17:04:00.868773Z","description":"","editable":true,"id":"3c195890-7969-4066-b5a6-f3859e9dedd0","name":"test-acc-scaleway-iam-policy-2958802459792620445","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"updated_at":"2023-11-28T17:04:00.868773Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"bbcf198a-4c99-4df8-bf71-57f7cc3dc799","default_project_id":"4a28cfca-c0ef-434e-9e83-0d0a604c6beb","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWZGTDJPSH0YM8YJGKE","application_id":"bbcf198a-4c99-4df8-bf71-57f7cc3dc799","created_at":"2023-11-28T17:04:01.181372Z","creation_ip":"90.22.206.134","default_project_id":"4a28cfca-c0ef-434e-9e83-0d0a604c6beb","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-28T17:04:01.181372Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>nl-ams</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - b86017d61d4ad22a838e75e918325b623687c3e84d631bc2b6435970bf12473d
      X-Amz-Date:
      - 20231128T170403Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /test-acc-scaleway-object-bucket-8770625545635947214
      X-Amz-Request-Id:
      - txga4bcce51a6b34e6bb1d3-0065661d83
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg3460ceb4ab40483c94ee-0065661d84
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4a28cfca-c0ef-434e-9e83-0d0a604c6beb:4a28cfca-c0ef-434e-9e83-0d0a604c6beb</DisplayName><ID>4a28cfca-c0ef-434e-9e83-0d0a604c6beb:4a28cfca-c0ef-434e-9e83-0d0a604c6beb</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4a28cfca-c0ef-434e-9e83-0d0a604c6beb:4a28cfca-c0ef-434e-9e83-0d0a604c6beb</ID><DisplayName>4a28cfca-c0ef-434e-9e83-0d0a604c6beb:4a28cfca-c0ef-434e-9e83-0d0a604c6beb</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg85730dc3fbe447ddb365-0065661d84
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object
      Lock configuration does not exist for this bucket</Message><Resource>/test-acc-scaleway-object-bucket-8770625545635947214</Resource><RequestId>txg9e54e55168974fee8feb-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg9e54e55168974fee8feb-0065661d84
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-8770625545635947214</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg4cf5387c98254dd0b885-0065661d84
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><Resource>/test-acc-scaleway-object-bucket-8770625545635947214</Resource><RequestId>txgc995788c93994617bc44-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgc995788c93994617bc44-0065661d84
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration
      does not exist</Message><Resource>/test-acc-scaleway-object-bucket-8770625545635947214</Resource><RequestId>txg074326e0ca3a4e49aa4c-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg074326e0ca3a4e49aa4c-0065661d84
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txgdd6c4182ec6747b29551-0065661d84
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration
      does not exist</Message><Resource>/test-acc-scaleway-object-bucket-8770625545635947214</Resource><RequestId>txg2a54765e430f4936b0c2-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg2a54765e430f4936b0c2-0065661d84
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170405Z
    url: https://test-acc-scaleway-object-bucket-8770625545635947214.s3.nl-ams.scw.cloud/
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - nl-ams
      X-Amz-Request-Id:
      - txg1ab0aa79c93d4cf09874-0065661d85
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZGTDJPSH0YM8YJGKE
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/3c195890-7969-4066-b5a6-f3859e9dedd0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/bbcf198a-4c99-4df8-bf71-57f7cc3dc799
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/4a28cfca-c0ef-434e-9e83-0d0a604c6beb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
