---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5713eae9-7020-49da-8ab5-85de2d3f69c2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:32:50.286377Z","updated_at":"2021-08-04T14:32:50.286377Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/5713eae9-7020-49da-8ab5-85de2d3f69c2
    method: GET
  response:
    body: '{"id":"5713eae9-7020-49da-8ab5-85de2d3f69c2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:32:50.286377Z","updated_at":"2021-08-04T14:32:50.286377Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/5713eae9-7020-49da-8ab5-85de2d3f69c2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"5713eae9-7020-49da-8ab5-85de2d3f69c2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
