---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"1cc4c216-5aec-4761-bb89-0a301629588e","name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2020-09-17T14:12:08.601260Z","updated_at":"2021-03-30T13:29:35.096289Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/1cc4c216-5aec-4761-bb89-0a301629588e
    method: GET
  response:
    body: '{"id":"1cc4c216-5aec-4761-bb89-0a301629588e","name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2020-09-17T14:12:08.601260Z","updated_at":"2021-03-30T13:29:35.096289Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":11,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"empty","bandwidth":1000000000,"commercial_range":"high_cpu","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":384000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high_cpu","price_per_hour":{"currency_code":"EUR","units":0,"nanos":996000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[]},{"id":"3b654f13-34e5-452a-bed8-4f7472d29593","name":"HM-BM1-S","stock":"empty","bandwidth":1000000000,"commercial_range":"high_memory","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200},{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200}],"memories":[{"capacity":192000000000,"type":"DDR4","frequency":2[...]
- request:
    body: '{"offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","tags":[],"install":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"eeaada0a-94e0-49b8-a229-9b3e9aa9977b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2021-03-30T13:29:35.734756974Z","created_at":"2021-03-30T13:29:35.734756974Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/eeaada0a-94e0-49b8-a229-9b3e9aa9977b
    method: GET
  response:
    body: '{"id":"eeaada0a-94e0-49b8-a229-9b3e9aa9977b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2021-03-30T13:29:35.734757Z","created_at":"2021-03-30T13:29:35.734757Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/eeaada0a-94e0-49b8-a229-9b3e9aa9977b
    method: GET
  response:
    body: '{"id":"eeaada0a-94e0-49b8-a229-9b3e9aa9977b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2021-03-30T13:30:18.137749Z","created_at":"2021-03-30T13:29:35.734757Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[{"id":"ce011afa-fb99-455e-8c95-32aa858d2ef2","address":"2001:0bc8:6005:001b:dac4:97ff:fe5b:72a5","reverse":"eeaada0a-94e0-49b8-a229-9b3e9aa9977b.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"d8a46574-bac0-4720-a3dc-e63fd680a07a","address":"51.159.31.183","reverse":"eeaada0a-94e0-49b8-a229-9b3e9aa9977b.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"eeaada0a-94e0-49b8-a229-9b3e9aa9977b.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["1cc4c216-5aec-4761-bb89-0a301629588e"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/eeaada0a-94e0-49b8-a229-9b3e9aa9977b/install
    method: POST
  response:
    body: '{"id":"eeaada0a-94e0-49b8-a229-9b3e9aa9977b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2021-03-30T13:30:1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/7fde3890-9787-488c-ac89-c4e00a4e5f83
    method: GET
  response:
    body: '{"id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","name":"GP-BM1-S","stock":"available","bandwidth":500000000,"commercial_range":"general_purpose","disks":[{"capacity":256000000000,"type":"SSD"},{"capacity":256000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1240v6","core_count":4,"thread_count":8,"frequency":3700}],"memories":[{"capacity":32000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_gp","price_per_hour":{"currency_code":"EUR","units":0,"nanos":159000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers?name=TestAccScalewayDataSourceBaremetalServer_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"message":"unknown service"}'
    headers:
      Content-Type:
      - application/json
    status: 501 Not Implemented
    code: 501
    duration: ""
[...]
