---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/0324bba1-0e2f-43c8-ace0-4e326daf1875
    method: GET
  response:
    body: '{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:43:17.518127926Z","description":"","frontend_count":0,"id":"0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0","instances":[],"ip":[{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":"0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:43:17.518127926Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:43:17.518128Z","description":"","frontend_count":0,"id":"0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0","instances":[{"created_at":"2023-05-24T15:42:09.264103Z","id":"9e6f9b3c-0ffc-4988-aeeb-a96b7072492b","ip_address":"10.76.16.49","region":"fr-par","status":"unknown","updated_at":"2023-05-24T15:43:17.743013Z","zone":"fr-par-1"}],"ip":[{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":"0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:43:17.754188Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-charming-feynman","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-24T15:43:48.344025047Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:43:17.518128Z","description":"","frontend_count":0,"id":"0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0","instances":[{"created_at":"2023-05-24T15:42:09.264103Z","id":"9e6f9b3c-0ffc-4988-aeeb-a96b7072492b","ip_address":"10.76.16.49","region":"fr-par","status":"pending","updated_at":"2023-05-24T15:43:48.386114547Z","zone":"fr-par-1"}],"ip":[{"id":"0324bba1-0e2f-43c8-ace0-4e326daf1875","ip_address":"195.154.69.58","lb_id":"0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:43:19.476031Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-charming-feynman","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:43:48.344025047Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748
    method: GET
  response:
    body: '{"created_at":"2023-05-24T15:43:48.344025Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-angry-swanson","inbound_port":80,"backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:43:48.344025Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:43:17.518128Z","description":"","frontend_count":1,"id":"0dc35c2[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-compassionate-swartz","inbound_port":80,"backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9075ba88-5c5f-48c1-afdf-41aec2c346c2
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:43:48.344025Z","failover_host":null,"forward_po[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9075ba88-5c5f-48c1-afdf-41aec2c346c2/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"9075ba88-5c5f-48c1-afdf-41aec2c346c2","backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","created_at":"2023-05-24T15:43:50.219512369Z","frontend_id":"9075ba88-5c5f-48c1-afdf-41aec2c346c2","id":"9604a89d-587c-47f4-a45e-615536cc6daa","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-05-24T15:43:50.219512369Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/9604a89d-587c-47f4-a45e-615536cc6daa
    method: GET
  response:
    body: '{"backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","created_at":"2023-05-24T15:43:50.219512Z","frontend_id":"9075ba88-5c5f-48c1-afdf-41aec2c346c2","id":"9604a89d-587c-47f4-a45e-615536cc6daa","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-05-24T15:43:50.219512Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"9075ba88-5c5f-48c1-afdf-41aec2c346c2","backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","match":{"host_header":"host.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","created_at":"2023-05-24T15:43:53.350092981Z","frontend_id":"9075ba88-5c5f-48c1-afdf-41aec2c346c2","id":"0e048606-89c8-44d5-8758-f43bc06f9f0b","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-05-24T15:43:53.350092981Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=9075ba88-5c5f-48c1-afdf-41aec2c346c2&order_by=created_at_asc
    method: GET
  response:
    body: '{"routes":[{"backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","created_at":"2023-05-24T15:43:50.219512Z","frontend_id":"9075ba88-5c5f-48c1-afdf-41aec2c346c2","id":"9604a89d-587c-47f4-a45e-615536cc6daa","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-05-24T15:43:50.219512Z"},{"backend_id":"4617ed80-eb7d-4a0c-9c5e-08a2cf5f2748","created_at":"2023-05-24T15:43:53.350093Z","frontend_id":"9075ba88-5c5f-48c1-afdf-41aec2c346c2","id":"0e048606-89c8-44d5-8758-f43bc06f9f0b","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-05-24T15:43:53.350093Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0dc35c25-cdba-45cb-ac6c-b7b4cc37ebe0
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
