---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-727218342066063758","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-28T10:18:22.590243Z","description":"","id":"d773c1d2-b637-4d9d-8fc8-fb982549ef7b","name":"test-acc-scaleway-project-727218342066063758","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-28T10:18:22.590243Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-1209227631200521479","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-28T10:18:24.675920Z","description":"","editable":true,"id":"8a5cb843-42a7-44c9-888f-6daaa91ff938","name":"test-acc-scaleway-iam-app-1209227631200521479","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-28T10:18:24.675920Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-120233564558355588","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["d773c1d2-b637-4d9d-8fc8-fb982549ef7b"]}],"application_id":"8a5cb843-42a7-44c9-888f-6daaa91ff938"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"8a5cb843-42a7-44c9-888f-6daaa91ff938","created_at":"2023-02-28T10:18:24.767665Z","description":"","editable":true,"id":"c1aeb2e9-420f-4664-92c4-c56b8d3c0895","name":"test-acc-scaleway-iam-policy-120233564558355588","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-28T10:18:24.767665Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"8a5cb843-42a7-44c9-888f-6daaa91ff938","expires_at":null,"default_project_id":"d773c1d2-b637-4d9d-8fc8-fb982549ef7b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWGEAY6G0CX33T98H22","application_id":"8a5cb843-42a7-44c9-888f-6daaa91ff938","created_at":"2023-02-28T10:18:24.929165Z","creation_ip":"51.159.73.9","default_project_id":"d773c1d2-b637-4d9d-8fc8-fb982549ef7b","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-28T10:18:24.929165Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20230228T101836Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-object-bucket-1517079309582370846
      X-Amz-Request-Id:
      - tx45e1a318984f4623bae0b-0063fdd4fc
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101837Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx42b10eee01014ed0a592e-0063fdd4fd
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101837Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx16b98d87f07646999574d-0063fdd4fd
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101837Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txead1e04a0b5841dcb819b-0063fdd4fd</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txead1e04a0b5841dcb819b-0063fdd4fd
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101837Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-1517079309582370846</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx4b32b156aecd48329d7a1-0063fdd4fd
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101837Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>tx466419a1a4414f6c8af37-0063fdd4fd</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx466419a1a4414f6c8af37-0063fdd4fd
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101837Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txe8e27283495c45f9aebaa-0063fdd4fd</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txe8e27283495c45f9aebaa-0063fdd4fd
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101838Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - txc3f86c70cf2f4d39bbc50-0063fdd4fe
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230228T101838Z
    url: https://test-acc-scaleway-object-bucket-1517079309582370846.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist.</Message><RequestId>txa0057fabde94434e806bc-0063fdd4fe</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txa0057fabde94434e806bc-0063fdd4fe
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWGEAY6G0CX33T98H22
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/c1aeb2e9-420f-4664-92c4-c56b8d3c0895
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/8a5cb843-42a7-44c9-888f-6daaa91ff938
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/d773c1d2-b637-4d9d-8fc8-fb982549ef7b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
