---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-hungry-liskov","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"b_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "69b4a687-7c72-4d16-812a-7b468b44ea30", "name": "tf-vol-hungry-liskov",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2022-11-15T07:52:24.532187+00:00", "modification_date":
      "2022-11-15T07:52:24.532187+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/69b4a687-7c72-4d16-812a-7b468b44ea30
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/69b4a687-7c72-4d16-812a-7b468b44ea30
    method: GET
  response:
    body: '{"volume": {"id": "69b4a687-7c72-4d16-812a-7b468b44ea30", "name": "tf-vol-hungry-liskov",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2022-11-15T07:52:24.532187+00:00", "modification_date":
      "2022-11-15T07:52:24.532187+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snapshot-ds-basic","volume_id":"69b4a687-7c72-4d16-812a-7b468b44ea30","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "64bd7f4d-a292-4e23-b645-b2fe54395d7b", "name": "tf-snapshot-ds-basic",
      "volume_type": "b_ssd", "creation_date": "2022-11-15T07:52:25.266353+00:00",
      "modification_date": "2022-11-15T07:52:25.266353+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 2000000000, "state":
      "snapshotting", "base_volume": {"id": "69b4a687-7c72-4d16-812a-7b468b44ea30",
      "name": "tf-vol-hungry-liskov"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "2686e277-eb77-4250-bfa0-b455befc43fa", "description":
      "snapshot_64bd7f4d-a292-4e23-b645-b2fe54395d7b", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/64bd7f4d-a292-4e23-b645-b2fe54395d7b",
      "started_at": "2022-11-15T07:52:25.519748+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/64bd7f4d-a292-4e23-b645-b2fe54395d7b
    method: GET
  response:
    body: '{"snapshot": {"id": "64bd7f4d-a292-4e23-b645-b2fe54395d7b", "name": "tf-snapshot-ds-basic",
      "volume_type": "b_ssd", "creation_date": "2022-11-15T07:52:25.266353+00:00",
      "modification_date": "2022-11-15T07:52:25.266353+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 2000000000, "state":
      "snapshotting", "base_volume": {"id": "69b4a687-7c72-4d16-812a-7b468b44ea30",
      "name": "tf-vol-hungry-liskov"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=tf-snapshot-ds-basic
    method: GET
  response:
    body: '{"snapshots": [{"id": "64bd7f4d-a292-4e23-b645-b2fe54395d7b", "name": "tf-snapshot-ds-basic",
      "volume_type": "b_ssd", "creation_date": "2022-11-15T07:52:25.266353+00:00",
      "modification_date": "2022-11-15T07:52:29.168708+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 2000000000, "state":
      "available", "base_volume": {"id": "69b4a687-7c72-4d16-812a-7b468b44ea30", "name":
      "tf-vol-hungry-liskov"}, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=tf-snapshot-ds-basic>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/64bd7f4d-a292-4e23-b645-b2fe54395d7b
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"64bd7f4d-a292-4e23-b645-b2fe54395d7b\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
