---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:25:21.311647Z","description":"","id":"1737c80a-06a0-4295-b29c-cd46252b90ae","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:25:21.311647Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/1737c80a-06a0-4295-b29c-cd46252b90ae
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:25:21.311647Z","description":"","id":"1737c80a-06a0-4295-b29c-cd46252b90ae","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:25:21.311647Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"projects":[{"created_at":"2023-06-21T09:25:21.311647Z","description":"","id":"1737c80a-06a0-4295-b29c-cd46252b90ae","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:25:21.311647Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/1737c80a-06a0-4295-b29c-cd46252b90ae
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"1737c80a-06a0-4295-b29c-cd46252b90ae","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
