---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/03b7f4ba-a6a1-4305-984e-b54fafbf1681
    method: GET
  response:
    body: '{"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","name":"Ubuntu","version":"20.04
      LTS (Focal Fossa)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
    method: GET
  response:
    body: '{"total_count":10,"os":[{"id":"96e5f0f2-d216-4de2-8a15-68730d877885","name":"Ubuntu","version":"22.04
      LTS (Jammy Jellyfish)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":fal[...]
[...]
