---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-privilege","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_rdb_user","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-02-01T13:49:05.231208Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-12","id":"7bd0db2a-fff7-4103-b539-157cee99f105","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-privilege","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","minor_version":"14.6","name":"PostgreSQL-14","version":"14"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","minor_version":"13.9","name":"PostgreSQL-13","version":"13"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-02-01T13:49:05.231208Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-12","id":"7bd0db2a-fff7-4103-b539-157cee99f105","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-privilege","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","minor_version":"14.6","name":"PostgreSQL-14","version":"14"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","minor_version":"13.9","name":"PostgreSQL-13","version":"13"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-02-01T13:49:05.231208Z","endpoint":{"id":"32344735-233d-40f9-949b-4f459074c440","ip":"195.154.70.133","load_balancer":{},"name":null,"port":51472},"endpoints":[{"id":"32344735-233d-40f9-949b-4f459074c440","ip":"195.154.70.133","load_balancer":{},"name":null,"port":51472}],"engine":"PostgreSQL-12","id":"7bd0db2a-fff7-4103-b539-157cee99f105","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-privilege","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","minor_version":"14.6","name":"PostgreSQL-14","version":"14"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","minor_version":"13.9","name":"PostgreSQL-13","version":"13"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-02-01T13:49:05.231208Z","endpoint":{"id":"32344735-233d-40f9-949b-4f459074c440","ip":"195.154.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVT0N2cndoWXc5ODcyaGRJZjNoSURsVGtlZE5Jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDNZbVF3WkdJeVlTMW1abVkzCkxUUXhNRE10WWpVek9TMHhOVGRqWldVNU9XWXhNRFV1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpNd01qQXhNVE0xTURFd1doY05Nek13TVRJNU1UTTFNREV3V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/databases
    method: POST
  response:
    body: '{"managed":true,"name":"foo","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/databases?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"foo","owner":"_rdb_superadmin","size":8160111}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"foo","password":"R34lP4sSw#Rd","is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/users
    method: POST
  response:
    body: '{"is_admin":false,"name":"foo"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/users?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"total_count":1,"users":[{"is_admin":false,"name":"foo"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"database_name":"foo","user_name":"foo","permission":"all"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/privileges
    method: PUT
  response:
    body: '{"database_name":"foo","permission":"all","user_name":"foo"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/privileges?database_name=foo&order_by=user_name_asc&user_name=foo
    method: GET
  response:
    body: '{"privileges":[{"database_name":"foo","permission":"all","user_name":"foo"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/users/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105/databases/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7bd0db2a-fff7-4103-b539-157cee99f105
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"7bd0db2a-fff7-4103-b539-157cee99f105","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
