---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:49:46.126276Z","description":"","id":"ce7c73f1-02f0-4850-8597-7c6aee4af854","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T12:49:46.126276Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/ce7c73f1-02f0-4850-8597-7c6aee4af854
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:49:46.126276Z","description":"","id":"ce7c73f1-02f0-4850-8597-7c6aee4af854","name":"tf_tests_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T12:49:46.126276Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ce7c73f1-02f0-4850-8597-7c6aee4af854"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:49:47.373478Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://ce7c73f1-02f0-4850-8597-7c6aee4af854.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"ce7c73f1-02f0-4850-8597-7c6aee4af854","status":"creating","updated_at":"2023-02-16T12:49:47.373478Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=ce7c73f1-02f0-4850-8597-7c6aee4af854
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:49:47.373478Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://ce7c73f1-02f0-4850-8597-7c6aee4af854.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"ce7c73f1-02f0-4850-8597-7c6aee4af854","status":"creating","updated_at":"2023-02-16T12:49:47.373478Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"ce7c73f1-02f0-4850-8597-7c6aee4af854"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:49:47.373478Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://ce7c73f1-02f0-4850-8597-7c6aee4af854.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"ce7c73f1-02f0-4850-8597-7c6aee4af854","status":"deleting","updated_at":"2023-02-16T12:50:25.074557Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=ce7c73f1-02f0-4850-8597-7c6aee4af854
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"ce7c73f1-02f0-4850-8597-7c6aee4af854","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
