---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-03-20T14:29:22.572692Z","description":"secret description","id":"5c0abd84-a96d-4bfc-9fbf-900e18e48db6","name":"dataSourceSecretVersionBasic","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-20T14:29:22.572692Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/5c0abd84-a96d-4bfc-9fbf-900e18e48db6
    method: GET
  response:
    body: '{"created_at":"2023-03-20T14:29:22.572692Z","description":"secret description","id":"5c0abd84-a96d-4bfc-9fbf-900e18e48db6","name":"dataSourceSecretVersionBasic","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-20T14:29:22.572692Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/5c0abd84-a96d-4bfc-9fbf-900e18e48db6/versions
    method: POST
  response:
    body: '{"created_at":"2023-03-20T14:29:22.750073Z","description":"version1","revision":1,"secret_id":"5c0abd84-a96d-4bfc-9fbf-900e18e48db6","status":"enabled","updated_at":"2023-03-20T14:29:22.750073Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/5c0abd84-a96d-4bfc-9fbf-900e18e48db6/versions/1
    method: GET
  response:
    body: '{"created_at":"2023-03-20T14:29:22.750073Z","description":"version1","revision":1,"secret_id":"5c0abd84-a96d-4bfc-9fbf-900e18e48db6","status":"enabled","updated_at":"2023-03-20T14:29:22.750073Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/5c0abd84-a96d-4bfc-9fbf-900e18e48db6/versions/1/access
    method: GET
  response:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","revision":1,"secret_id":"5c0abd84-a96d-4bfc-9fbf-900e18e48db6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/5c0abd84-a96d-4bfc-9fbf-900e18e48db6/versions/1/destroy
    method: POST
  response:
    body: '{"created_at":"2023-03-20T14:29:22.750073Z","description":"version1","revision":1,"secret_id":"5c0abd84-a96d-4bfc-9fbf-900e18e48db6","status":"destroyed","updated_at":"2023-03-20T14:29:27.520820Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/5c0abd84-a96d-4bfc-9fbf-900e18e48db6/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"5c0abd84-a96d-4bfc-9fbf-900e18e48db6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
