---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-04T13:06:42.150726Z","description":"","id":"ce38e15c-7918-4b64-a829-54d39da691c3","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-03-04T13:06:42.150726Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ce38e15c-7918-4b64-a829-54d39da691c3
    method: GET
  response:
    body: '{"created_at":"2024-03-04T13:06:42.150726Z","description":"","id":"ce38e15c-7918-4b64-a829-54d39da691c3","name":"tf-tests-secret-ds-path","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-03-04T13:06:42.150726Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ce38e15c-7918-4b64-a829-54d39da691c3","name":"test-secret-ds-path","tags":null,"type":"unknown_type","path":"/test-secret-ds-path-path","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-03-04T13:06:42.711473Z","description":"","ephemeral_policy":null,"id":"21df4fde-ff44-4fb5-8594-1feaf86695b3","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"ce38e15c-7918-4b64-a829-54d39da691c3","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-04T13:06:42.711473Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/21df4fde-ff44-4fb5-8594-1feaf86695b3
    method: GET
  response:
    body: '{"created_at":"2024-03-04T13:06:42.711473Z","description":"","ephemeral_policy":null,"id":"21df4fde-ff44-4fb5-8594-1feaf86695b3","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"ce38e15c-7918-4b64-a829-54d39da691c3","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-04T13:06:42.711473Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=ce38e15c-7918-4b64-a829-54d39da691c3
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2024-03-04T13:06:42.711473Z","description":"","ephemeral_policy":null,"id":"21df4fde-ff44-4fb5-8594-1feaf86695b3","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"ce38e15c-7918-4b64-a829-54d39da691c3","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-04T13:06:42.711473Z","version_count":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/21df4fde-ff44-4fb5-8594-1feaf86695b3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"21df4fde-ff44-4fb5-8594-1feaf86695b3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
