---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ds-document_db-database-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:03:14.550817Z","retention":7},"created_at":"2023-09-21T13:03:14.550817Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"d2be859f-37b2-44ed-a4e5-875a72fd8273","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-database-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_database","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d2be859f-37b2-44ed-a4e5-875a72fd8273
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:03:14.550817Z","retention":7},"created_at":"2023-09-21T13:03:14.550817Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"d2be859f-37b2-44ed-a4e5-875a72fd8273","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-database-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_database","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d2be859f-37b2-44ed-a4e5-875a72fd8273
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:03:14.550817Z","retention":7},"created_at":"2023-09-21T13:03:14.550817Z","endpoint":{"id":"d3adb9ea-cc93-4564-8877-11aead62722e","ip":"51.159.75.175","load_balancer":{},"name":null,"port":11664},"endpoints":[{"id":"d3adb9ea-cc93-4564-8877-11aead62722e","ip":"51.159.75.175","load_balancer":{},"name":null,"port":11664}],"engine":"FerretDB-1","id":"d2be859f-37b2-44ed-a4e5-875a72fd8273","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-database-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_database","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-ds-document_db-database-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d2be859f-37b2-44ed-a4e5-875a72fd8273/databases
    method: POST
  response:
    body: '{"managed":true,"name":"test-ds-document_db-database-basic","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d2be859f-37b2-44ed-a4e5-875a72fd8273/databases?name=test-ds-document_db-database-basic&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"test-ds-document_db-database-basic","owner":"_rdb_superadmin","size":8758051}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d2be859f-37b2-44ed-a4e5-875a72fd8273/databases/test-ds-document_db-database-basic
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d2be859f-37b2-44ed-a4e5-875a72fd8273
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"d2be859f-37b2-44ed-a4e5-875a72fd8273","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
