---
version: 1
interactions:
- request:
    body: '{"name":"test_iot_hub_datasource","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"7a6ff254-7ec4-4075-b203-5c8515a966dd","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_iot_hub_datasource","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-05-05T13:03:32.564Z","updated_at":"2022-05-05T13:03:32.564Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/7a6ff254-7ec4-4075-b203-5c8515a966dd
    method: GET
  response:
    body: '{"region":"fr-par","id":"7a6ff254-7ec4-4075-b203-5c8515a966dd","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_iot_hub_datasource","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-05-05T13:03:32.564Z","updated_at":"2022-05-05T13:03:32.564Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs?name=test_iot_hub_datasource&order_by=name_asc
    method: GET
  response:
    body: '{"total_count":1,"hubs":[{"region":"fr-par","id":"7a6ff254-7ec4-4075-b203-5c8515a966dd","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_iot_hub_datasource","status":"ready","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-05-05T13:03:32.564Z","updated_at":"2022-05-05T13:03:32.564Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/7a6ff254-7ec4-4075-b203-5c8515a966dd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"7a6ff254-7ec4-4075-b203-5c8515a966dd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
