---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-03-20T14:08:31.976086Z","description":"","id":"0122b64e-3954-4831-a79e-4eb62dd9c960","name":"dataSourceSecretVersionByNameSecret","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-20T14:08:31.976086Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/0122b64e-3954-4831-a79e-4eb62dd9c960
    method: GET
  response:
    body: '{"created_at":"2023-03-20T14:08:31.976086Z","description":"","id":"0122b64e-3954-4831-a79e-4eb62dd9c960","name":"dataSourceSecretVersionByNameSecret","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-20T14:08:31.976086Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/0122b64e-3954-4831-a79e-4eb62dd9c960/versions
    method: POST
  response:
    body: '{"created_at":"2023-03-20T14:08:32.182226Z","description":"version1","revision":1,"secret_id":"0122b64e-3954-4831-a79e-4eb62dd9c960","status":"enabled","updated_at":"2023-03-20T14:08:32.182226Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/0122b64e-3954-4831-a79e-4eb62dd9c960/versions/1
    method: GET
  response:
    body: '{"created_at":"2023-03-20T14:08:32.182226Z","description":"version1","revision":1,"secret_id":"0122b64e-3954-4831-a79e-4eb62dd9c960","status":"enabled","updated_at":"2023-03-20T14:08:32.182226Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets-by-name/dataSourceSecretVersionByNameSecret/versions/1/access
    method: GET
  response:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","revision":1,"secret_id":"0122b64e-3954-4831-a79e-4eb62dd9c960"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/0122b64e-3954-4831-a79e-4eb62dd9c960/versions/1/destroy
    method: POST
  response:
    body: '{"created_at":"2023-03-20T14:08:32.182226Z","description":"version1","revision":1,"secret_id":"0122b64e-3954-4831-a79e-4eb62dd9c960","status":"destroyed","updated_at":"2023-03-20T14:08:35.158939Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/0122b64e-3954-4831-a79e-4eb62dd9c960/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"0122b64e-3954-4831-a79e-4eb62dd9c960","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
