---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:39:31.131336Z","description":"","id":"b63aaa55-b17b-4e69-b0db-e706a2a5a05d","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:39:31.131336Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/b63aaa55-b17b-4e69-b0db-e706a2a5a05d
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:39:31.131336Z","description":"","id":"b63aaa55-b17b-4e69-b0db-e706a2a5a05d","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:39:31.131336Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"projects":[{"created_at":"2023-07-19T13:39:31.131336Z","description":"","id":"b63aaa55-b17b-4e69-b0db-e706a2a5a05d","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:39:31.131336Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/b63aaa55-b17b-4e69-b0db-e706a2a5a05d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"b63aaa55-b17b-4e69-b0db-e706a2a5a05d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
