---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-12T15:57:51.052081Z","id":"a679bcad-c431-446a-84c2-4fbca7863571","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T15:57:51.052081Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a679bcad-c431-446a-84c2-4fbca7863571
    method: GET
  response:
    body: '{"created_at":"2024-01-12T15:57:51.052081Z","id":"a679bcad-c431-446a-84c2-4fbca7863571","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T15:57:51.052081Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-stupefied-cray","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"a679bcad-c431-446a-84c2-4fbca7863571"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-12T15:57:51.259037Z","dhcp_enabled":true,"id":"8d42e7d2-52a7-47b2-a1a5-fa584f5dcc02","name":"tf-pn-stupefied-cray","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T15:57:51.259037Z","id":"afc56292-ec8b-42b7-b2c1-f279edf3cc05","subnet":"172.16.32.0/22","updated_at":"2024-01-12T15:57:51.259037Z"},{"created_at":"2024-01-12T15:57:51.259037Z","id":"31eff053-dea0-4e77-bfe2-1c892ad762a4","subnet":"fd46:78ab:30b8:776d::/64","updated_at":"2024-01-12T15:57:51.259037Z"}],"tags":[],"updated_at":"2024-01-12T15:57:51.259037Z","vpc_id":"a679bcad-c431-446a-84c2-4fbca7863571"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8d42e7d2-52a7-47b2-a1a5-fa584f5dcc02
    method: GET
  response:
    body: '{"created_at":"2024-01-12T15:57:51.259037Z","dhcp_enabled":true,"id":"8d42e7d2-52a7-47b2-a1a5-fa584f5dcc02","name":"tf-pn-stupefied-cray","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T15:57:51.259037Z","id":"afc56292-ec8b-42b7-b2c1-f279edf3cc05","subnet":"172.16.32.0/22","updated_at":"2024-01-12T15:57:51.259037Z"},{"created_at":"2024-01-12T15:57:51.259037Z","id":"31eff053-dea0-4e77-bfe2-1c892ad762a4","subnet":"fd46:78ab:30b8:776d::/64","updated_at":"2024-01-12T15:57:51.259037Z"}],"tags":[],"updated_at":"2024-01-12T15:57:51.259037Z","vpc_id":"a679bcad-c431-446a-84c2-4fbca7863571"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"8d42e7d2-52a7-47b2-a1a5-fa584f5dcc02"},"is_ipv6":false,"address":"172.16.32.5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-01-12T15:57:51.946172Z","id":"1b669a53-4568-4679-9aff-fbcd360ac35e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"afc56292-ec8b-42b7-b2c1-f279edf3cc05"},"tags":[],"updated_at":"2024-01-12T15:57:51.946172Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/1b669a53-4568-4679-9aff-fbcd360ac35e
    method: GET
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-01-12T15:57:51.946172Z","id":"1b669a53-4568-4679-9aff-fbcd360ac35e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"afc56292-ec8b-42b7-b2c1-f279edf3cc05"},"tags":[],"updated_at":"2024-01-12T15:57:51.946172Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
