---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-26T08:10:59.906727Z","description":"","id":"12bb845f-464f-463e-8d7a-95051d9a08f0","name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-03-26T08:10:59.906727Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/12bb845f-464f-463e-8d7a-95051d9a08f0
    method: GET
  response:
    body: '{"created_at":"2024-03-26T08:10:59.906727Z","description":"","id":"12bb845f-464f-463e-8d7a-95051d9a08f0","name":"tf-tests-secret-ds-path","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","updated_at":"2024-03-26T08:10:59.906727Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"12bb845f-464f-463e-8d7a-95051d9a08f0","name":"test-secret-ds-path","tags":null,"type":"unknown_type","path":"/test-secret-ds-path-path","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-03-26T08:11:00.344741Z","description":"","ephemeral_policy":null,"id":"0a091951-ba40-47d1-82b1-24f8906a195a","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"12bb845f-464f-463e-8d7a-95051d9a08f0","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-26T08:11:00.344741Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0a091951-ba40-47d1-82b1-24f8906a195a
    method: GET
  response:
    body: '{"created_at":"2024-03-26T08:11:00.344741Z","description":"","ephemeral_policy":null,"id":"0a091951-ba40-47d1-82b1-24f8906a195a","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"12bb845f-464f-463e-8d7a-95051d9a08f0","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-26T08:11:00.344741Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=test-secret-ds-path&order_by=name_asc&path=%2Ftest-secret-ds-path-path&project_id=12bb845f-464f-463e-8d7a-95051d9a08f0&type=unknown_type
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2024-03-26T08:11:00.344741Z","description":"","ephemeral_policy":null,"id":"0a091951-ba40-47d1-82b1-24f8906a195a","managed":false,"name":"test-secret-ds-path","path":"/test-secret-ds-path-path","project_id":"12bb845f-464f-463e-8d7a-95051d9a08f0","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-26T08:11:00.344741Z","version_count":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0a091951-ba40-47d1-82b1-24f8906a195a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"0a091951-ba40-47d1-82b1-24f8906a195a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
