---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-ds-iam-ssh-key-basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ
      foobar@example.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2024-03-26T11:00:34.958219Z","disabled":false,"fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)","id":"206b00d4-023e-48ee-89cf-95dab4d5a4d3","name":"tf-test-ds-iam-ssh-key-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ","updated_at":"2024-03-26T11:00:34.958219Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/206b00d4-023e-48ee-89cf-95dab4d5a4d3
    method: GET
  response:
    body: '{"created_at":"2024-03-26T11:00:34.958219Z","disabled":false,"fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)","id":"206b00d4-023e-48ee-89cf-95dab4d5a4d3","name":"tf-test-ds-iam-ssh-key-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ","updated_at":"2024-03-26T11:00:34.958219Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?name=tf-test-ds-iam-ssh-key-basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"ssh_keys":[{"created_at":"2024-03-26T11:00:34.958219Z","disabled":false,"fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)","id":"206b00d4-023e-48ee-89cf-95dab4d5a4d3","name":"tf-test-ds-iam-ssh-key-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ","updated_at":"2024-03-26T11:00:34.958219Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/206b00d4-023e-48ee-89cf-95dab4d5a4d3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key","resource_id":"206b00d4-023e-48ee-89cf-95dab4d5a4d3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
