---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"8702f4cf-02cc-4980-a1cb-04cfae118d0b","ip_address":"51.158.56.175","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-175.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8702f4cf-02cc-4980-a1cb-04cfae118d0b
    method: GET
  response:
    body: '{"id":"8702f4cf-02cc-4980-a1cb-04cfae118d0b","ip_address":"51.158.56.175","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-175.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"8702f4cf-02cc-4980-a1cb-04cfae118d0b","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-24T12:31:27.307159260Z","description":"","frontend_count":0,"id":"6d48d478-6670-42e5-9502-299dbc9c6ac4","instances":[],"ip":[{"id":"8702f4cf-02cc-4980-a1cb-04cfae118d0b","ip_address":"51.158.56.175","lb_id":"6d48d478-6670-42e5-9502-299dbc9c6ac4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-175.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-24T12:31:27.307159260Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6d48d478-6670-42e5-9502-299dbc9c6ac4
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-24T12:31:27.307159Z","description":"","frontend_count":0,"id":"6d48d478-6670-42e5-9502-299dbc9c6ac4","instances":[],"ip":[{"id":"8702f4cf-02cc-4980-a1cb-04cfae118d0b","ip_address":"51.158.56.175","lb_id":"6d48d478-6670-42e5-9502-299dbc9c6ac4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-175.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-24T12:31:27.307159Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6d48d478-6670-42e5-9502-299dbc9c6ac4/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-backend-datasource0","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6d48d478-6670-42e5-9502-299dbc9c6ac4/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-24T12:31:58.005371738Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"9683de2b-9eba-4789-ba68-9e180f40a652","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-24T12:31:27.307159Z","description":"","frontend_count":0,"id":"6d48d478-6670-42e5-9502-299dbc9c6ac4","instances":[{"created_at":"2023-02-24T12:26:29.093723Z","id":"26ab8a6d-11a7-4c7e-b5c3-7d1257cb6323","ip_address":"10.64.206.65","region":"fr-par","status":"pending","updated_at":"2023-02-24T12:31:58.039837572Z","zone":"fr-par-1"}],"ip":[{"id":"8702f4cf-02cc-4980-a1cb-04cfae118d0b","ip_address":"51.158.56.175","lb_id":"6d48d478-6670-42e5-9502-299dbc9c6ac4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-175.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-24T12:31:29.216184Z","zone":"fr-par-1"},"name":"tf-backend-datasource0","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-24T12:31:58.005371738Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/9683de2b-9eba-4789-ba68-9e180f40a652
    method: GET
  response:
    body: '{"created_at":"2023-02-24T12:31:58.005372Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"9683de2b-9eba-4789-ba68-9e[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6d48d478-6670-42e5-9502-299dbc9c6ac4/backends?name=tf-backend-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"backends":[{"created_at":"2023-02-24T12:31:58.005372Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"9683de2b-9eba-4789-ba68-9e180f40a652","ignore_ssl_server_verify":false,"lb":{"backend_count":2,"created_at":"2023-02-24T12:31:27.307159Z","description":"","frontend_count":0,"id":"6d48d478-6670-42e5-9502-299dbc9c6ac[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6d48d478-6670-42e5-9502-299dbc9c6ac4/backends?order_by=created_at_asc
    method: GET
  response:
    body: '{"backends":[{"created_at":"2023-02-24T12:31:58.005372Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_con[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6d48d478-6670-42e5-9502-299dbc9c6ac4?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6d48d478-6670-42e5-9502-299dbc9c6ac4
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
