---
version: 2
interactions:
- request:
    body: '{"name":"test-ds-block-volume-basic","perf_iops":5000,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","from_empty":{"size":10000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"created_at":"2023-11-23T12:57:56.029829Z","id":"fa904779-8a08-4dc3-9ae9-b132bb0b7bd4","last_detached_at":null,"name":"test-ds-block-volume-basic","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:57:56.029829Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/fa904779-8a08-4dc3-9ae9-b132bb0b7bd4
    method: GET
  response:
    body: '{"created_at":"2023-11-23T12:57:56.029829Z","id":"fa904779-8a08-4dc3-9ae9-b132bb0b7bd4","last_detached_at":null,"name":"test-ds-block-volume-basic","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:57:56.113704Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?name=test-ds-block-volume-basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":1,"volumes":[{"created_at":"2023-11-23T12:57:56.029829Z","id":"fa904779-8a08-4dc3-9ae9-b132bb0b7bd4","last_detached_at":null,"name":"test-ds-block-volume-basic","parent_snapshot_id":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2023-11-23T12:57:56.113704Z","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/fa904779-8a08-4dc3-9ae9-b132bb0b7bd4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"volume","resource_id":"fa904779-8a08-4dc3-9ae9-b132bb0b7bd4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/fa904779-8a08-4dc3-9ae9-b132bb0b7bd4
    method: DELETE
  response:
    body: '{"expired_since":"2023-11-23T12:57:58.641038Z","message":"resource has
      expired","resource":"volume","resource_id":"fa904779-8a08-4dc3-9ae9-b132bb0b7bd4","type":"expired"}'
    headers:
      Content-Type:
      - application/json
    status: 410 Gone
    code: 410
[...]
