---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-1542638205472822612","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-01-25T12:33:05.766656Z","description":"","id":"7c2f03e2-2019-49f3-8a14-325ab89834ce","name":"test-acc-scaleway-project-1542638205472822612","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-25T12:33:05.766656Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-7206906408234003113","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-25T12:33:06.767124Z","description":"","editable":true,"id":"010a51fd-4e11-4263-ba76-26b5798f20dd","name":"test-acc-scaleway-iam-app-7206906408234003113","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-25T12:33:06.767124Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-3209305064597808512","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["7c2f03e2-2019-49f3-8a14-325ab89834ce"]}],"application_id":"010a51fd-4e11-4263-ba76-26b5798f20dd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"010a51fd-4e11-4263-ba76-26b5798f20dd","created_at":"2023-01-25T12:33:06.842269Z","description":"","editable":true,"id":"a3daf281-059d-4630-955f-db27c6ab66be","name":"test-acc-scaleway-iam-policy-3209305064597808512","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-25T12:33:06.842269Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"010a51fd-4e11-4263-ba76-26b5798f20dd","expires_at":null,"default_project_id":"7c2f03e2-2019-49f3-8a14-325ab89834ce","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWVYC6JDJ50AGY6Z1KG","application_id":"010a51fd-4e11-4263-ba76-26b5798f20dd","created_at":"2023-01-25T12:33:07.026720Z","creation_ip":"51.159.73.9","default_project_id":"7c2f03e2-2019-49f3-8a14-325ab89834ce","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-01-25T12:33:07.026720Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20230125T123309Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-object-bucket-9071538714705469727
      X-Amz-Request-Id:
      - tx3a5aa44c9ab14c4b94098-0063d12185
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123310Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx57ae529cb1524656bdd2e-0063d12186
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123312Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>7c2f03e2-2019-49f3-8a14-325ab89834ce:7c2f03e2-2019-49f3-8a14-325ab89834ce</ID><DisplayName>7c2f03e2-2019-49f3-8a14-325ab89834ce:7c2f03e2-2019-49f3-8a14-325ab89834ce</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>7c2f03e2-2019-49f3-8a14-325ab89834ce:7c2f03e2-2019-49f3-8a14-325ab89834ce</ID><DisplayName>7c2f03e2-2019-49f3-8a14-325ab89834ce:7c2f03e2-2019-49f3-8a14-325ab89834ce</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - txc6a4b314d94d4c29a67d5-0063d12188
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123312Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>tx67c7d188deac46cb93998-0063d12188</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx67c7d188deac46cb93998-0063d12188
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123313Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-9071538714705469727</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx83e6951abbc34b8489a5f-0063d12189
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123314Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>txff29c03aff6f42cd8ead2-0063d1218a</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txff29c03aff6f42cd8ead2-0063d1218a
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123315Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx49a81db08f8b4cc683487-0063d1218b</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx49a81db08f8b4cc683487-0063d1218b
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123315Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - txe24336e5f8fe4a4fb8dd7-0063d1218b
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230125T123315Z
    url: https://test-acc-scaleway-object-bucket-9071538714705469727.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist.</Message><RequestId>tx0e3343f048fb4630a99f7-0063d1218b</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx0e3343f048fb4630a99f7-0063d1218b
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWVYC6JDJ50AGY6Z1KG
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/a3daf281-059d-4630-955f-db27c6ab66be
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/010a51fd-4e11-4263-ba76-26b5798f20dd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/7c2f03e2-2019-49f3-8a14-325ab89834ce
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
