---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os/03b7f4ba-a6a1-4305-984e-b54fafbf1681
    method: GET
  response:
    body: '{"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","name":"Ubuntu","version":"20.04"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/os?page=1
    method: GET
  response:
    body: '{"total_count":10,"os":[{"id":"82ed3c56-935c-4012-b01f-69070fce1b1d","name":"Ubuntu","version":"21.04"},{"id":"01d6eef6-6b96-47fd-b9f9-3857321abe4f","name":"Ubuntu","version":"18.04 | BigBlueButton 2.3 "},{"id":"e8fc12e5-cfcd-434a-a8b0-d5f5141baf91","name":"Ubuntu","version":"20.10"},{"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","name":"Ubuntu","version":"20.04"},{"id":"3ea52186-1e57-499e-8146-ab38051a5c10","name":"Ubuntu","version":"16.04 | BigBlueButton 2.2"},{"id":"86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","name":"CentOS","version":"8"},{"id":"eef03f45-057b-4192-b95f-c21cae01e959","name":"Debian","version":"9"},{"id":"f2aeab5d-6015-4b7c-b4ed-d76e89093621","name":"Debian","version":"10"},{"id":"d17d6872-0412-45d9-a198-af82c34d3c5c","name":"CentOS","version":"7.2"},{"id":"d859aa89-8b4a-4551-af42-ff7c0c27260a","name":"Ubuntu","version":"18.04_LTS-server"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
