---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-terraform","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:58:35.775036Z","retention":7},"created_at":"2023-10-20T15:58:35.775036Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab57ef3c-d677-49cf-b04c-1651cd3fa9b7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:58:35.775036Z","retention":7},"created_at":"2023-10-20T15:58:35.775036Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab57ef3c-d677-49cf-b04c-1651cd3fa9b7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:58:35.775036Z","retention":7},"created_at":"2023-10-20T15:58:35.775036Z","endpoint":{"id":"6786f88e-ef95-4172-8c17-3585ee888bba","ip":"51.159.26.148","load_balancer":{},"name":null,"port":19015},"endpoints":[{"id":"6786f88e-ef95-4172-8c17-3585ee888bba","ip":"51.159.26.148","load_balancer":{},"name":null,"port":19015}],"engine":"PostgreSQL-15","id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null,"backup_same_region":false,"backup_schedule_start_hour":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab57ef3c-d677-49cf-b04c-1651cd3fa9b7
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:58:35.775036Z","retention":7},"created_at":"2023-10-20T15:58:35.775036Z","endpoint":{"id":"6786f88e-ef95-4172-8c17-3585ee888bba","ip":"51.159.26.148","load_balancer":{},"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab57ef3c-d677-49cf-b04c-1651cd3fa9b7/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVQVpEaXJNdTlTbUdZVGdxajQxMTkwdWZ6Sm9Fd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tmk0eE5EZ3dIaGNOCk1qTXhNREl3TVRVMU9UQTBXaGNOTXpNeE1ERTNNVFUxT1RBMFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
- request:
    body: '{"name":"test-terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab57ef3c-d677-49cf-b04c-1651cd3fa9b7/databases
    method: POST
  response:
    body: '{"managed":true,"name":"test-terraform","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab57ef3c-d677-49cf-b04c-1651cd3fa9b7/databases?name=test-terraform&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"test-terraform","owner":"_rdb_superadmin","size":7631663}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","database_name":"test-terraform","name":"test_backup_datasource","expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"created_at":"2023-10-20T16:01:11.404683Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"881d0a92-40f8-4f40-9e4c-0adbd6558867","instance_id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/881d0a92-40f8-4f40-9e4c-0adbd6558867
    method: GET
  response:
    body: '{"created_at":"2023-10-20T16:01:11.404683Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"881d0a92-40f8-4f40-9e4c-0adbd6558867","instance_id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=ab57ef3c-d677-49cf-b04c-1651cd3fa9b7&name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"database_backups":[{"created_at":"2023-10-20T16:01:11.404683Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"881d0a92-40f8-4f40-9e4c-0adbd6558867","instance_id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1303,"status":"ready","updated_at":"2023-10-20T16:01:13.314022Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"database_backups":[{"created_at":"2023-10-20T16:01:11.404683Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"881d0a92-40f8-4f40-9e4c-0adbd6558867","instance_id":"ab57ef3c-d677-49cf-b04c-1651cd3fa9b7","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1303,"status":"ready","updated_at":"2023-10-20T16:01:13.314022Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/881d0a92-40f8-4f40-9e4c-0adbd6558867
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"database_backup","resource_id":"881d0a92-40f8-4f40-9e4c-0adbd6558867","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab57ef3c-d677-49cf-b04c-1651cd3fa9b7/databases/test-terraform
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
