---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"985bb31c-d6aa-4e74-b9ba-02ff40c54aa8","ip_address":"51.159.27.188","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-188.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/985bb31c-d6aa-4e74-b9ba-02ff40c54aa8
    method: GET
  response:
    body: '{"id":"985bb31c-d6aa-4e74-b9ba-02ff40c54aa8","ip_address":"51.159.27.188","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-188.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"985bb31c-d6aa-4e74-b9ba-02ff40c54aa8","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-23T14:43:05.340664142Z","description":"","frontend_count":0,"id":"cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb","instances":[],"ip":[{"id":"985bb31c-d6aa-4e74-b9ba-02ff40c54aa8","ip_address":"51.159.27.188","lb_id":"cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-188.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-23T14:43:05.340664142Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-23T14:43:05.340664Z","description":"","frontend_count":0,"id":"cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb","instances":[{"created_at":"2023-02-23T14:40:46.936565Z","id":"3811efa8-aa87-498f-ba19-0016937e85cf","ip_address":"10.68.74.49","region":"fr-par","status":"unknown","updated_at":"2023-02-23T14:43:05.587829Z","zone":"fr-par-1"}],"ip":[{"id":"985bb31c-d6aa-4e74-b9ba-02ff40c54aa8","ip_address":"51.159.27.188","lb_id":"cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-188.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-23T14:43:05.606542Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-vigorous-tharp","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-23T14:43:36.103208608Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-23T14:43:05.340664Z","description":"","frontend_count":0,"id":"cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb","instances":[{"created_at":"2023-02-23T14:40:46.936565Z","id":"3811efa8-aa87-498f-ba19-0016937e85cf","ip_address":"10.68.74.49","region":"fr-par","status":"pending","updated_at":"2023-02-23T14:43:36.139863073Z","zone":"fr-par-1"}],"ip":[{"id":"985bb31c-d6aa-4e74-b9ba-02ff40c54aa8","ip_address":"51.159.27.188","lb_id":"cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-188.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-23T14:43:07.365479Z","zone":"fr-par-1"},"name":"tf-lb-bkd-vigorous-tharp","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-23T14:43:36.103208608Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a
    method: GET
  response:
    body: '{"created_at":"2023-02-23T14:43:36.103209Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a5bef1d-cd07-4f0a-b28d-49[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-trusting-cerf","inbound_port":80,"backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-23T14:43:36.103209Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-23T14:43:05.340664Z","description":"","frontend_count":1,"id":"cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5891a3cb-5c25-41d8-b4eb-f2bbea808d4f/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5891a3cb-5c25-41d8-b4eb-f2bbea808d4f
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-23T14:43:36.103209Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a5bef1d-cd07-[...]
[...]
- request:
    body: '{"frontend_id":"5891a3cb-5c25-41d8-b4eb-f2bbea808d4f","backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","created_at":"2023-02-23T14:43:37.399994881Z","frontend_id":"5891a3cb-5c25-41d8-b4eb-f2bbea808d4f","id":"564c5007-4055-40b7-83ce-1864d3218c2b","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-23T14:43:37.399994881Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/564c5007-4055-40b7-83ce-1864d3218c2b
    method: GET
  response:
    body: '{"backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","created_at":"2023-02-23T14:43:37.399995Z","frontend_id":"5891a3cb-5c25-41d8-b4eb-f2bbea808d4f","id":"564c5007-4055-40b7-83ce-1864d3218c2b","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-23T14:43:37.399995Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"5891a3cb-5c25-41d8-b4eb-f2bbea808d4f","backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","match":{"host_header":"host.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","created_at":"2023-02-23T14:43:40.434757069Z","frontend_id":"5891a3cb-5c25-41d8-b4eb-f2bbea808d4f","id":"dc53b35c-8852-4b50-8e39-728b25687a6f","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-23T14:43:40.434757069Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=5891a3cb-5c25-41d8-b4eb-f2bbea808d4f&order_by=created_at_asc
    method: GET
  response:
    body: '{"routes":[{"backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","created_at":"2023-02-23T14:43:37.399995Z","frontend_id":"5891a3cb-5c25-41d8-b4eb-f2bbea808d4f","id":"564c5007-4055-40b7-83ce-1864d3218c2b","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-23T14:43:37.399995Z"},{"backend_id":"3a5bef1d-cd07-4f0a-b28d-493fd9b0cc6a","created_at":"2023-02-23T14:43:40.434757Z","frontend_id":"5891a3cb-5c25-41d8-b4eb-f2bbea808d4f","id":"dc53b35c-8852-4b50-8e39-728b25687a6f","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-23T14:43:40.434757Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cbc3a356-fdcb-4cea-a6fd-7ef35bd0dfcb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
