---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c1833f83-aafb-40e9-b790-eb38052ac20f","ip_address":"51.158.56.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-158-56-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c1833f83-aafb-40e9-b790-eb38052ac20f
    method: GET
  response:
    body: '{"id":"c1833f83-aafb-40e9-b790-eb38052ac20f","ip_address":"51.158.56.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-158-56-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb-cert","description":"","ip_id":"c1833f83-aafb-40e9-b790-eb38052ac20f","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","name":"data-test-lb-cert","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"c1833f83-aafb-40e9-b790-eb38052ac20f","ip_address":"51.158.56.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","reverse":"51-158-56-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T14:59:47.699864214Z","updated_at":"2022-03-28T14:59:47.699864214Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3433ce43-542a-4ba0-b36a-d0ac4dff4c9c
    method: GET
  response:
    body: '{"id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","name":"data-test-lb-cert","description":"","status":"creating","instances":[{"id":"c65f8541-f7d9-455b-ad6a-69a0a7e108e5","status":"unknown","ip_address":"10.68.218.15","created_at":"2022-03-28T14:58:34.291801Z","updated_at":"2022-03-28T14:59:47.881213Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"c1833f83-aafb-40e9-b790-eb38052ac20f","ip_address":"51.158.56.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","reverse":"51-158-56-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T14:59:47.699864Z","updated_at":"2022-03-28T14:59:47.892847Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3433ce43-542a-4ba0-b36a-d0ac4dff4c9c/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"data-test-lb-cert","letsencrypt":{"common_name":"51-158-56-96.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3433ce43-542a-4ba0-b36a-d0ac4dff4c9c/certificates
    method: POST
  response:
    body: '{"id":"87de206d-19a5-4cca-ae4e-dea446af0ab8","type":"letsencryt","status":"pending","common_name":"51-158-56-96.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","name":"data-test-lb-cert","description":"","status":"ready","instances":[{"id":"c65f8541-f7d9-455b-ad6a-69a0a7e108e5","status":"ready","ip_address":"10.68.218.15","created_at":"2022-03-28T14:58:34.291801Z","updated_at":"2022-03-28T14:59:48.112355Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"c1833f83-aafb-40e9-b790-eb38052ac20f","ip_address":"51.158.56.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","reverse":"51-158-56-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T14:59:47.699864Z","updated_at":"2022-03-28T15:00:18.608775407Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"data-test-lb-cert","created_at":"2022-03-28T15:00:18.585238600Z","updated_at":"2022-03-28T15:00:18.585238600Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/87de206d-19a5-4cca-ae4e-dea446af0ab8
    method: GET
  response:
    body: '{"id":"87de206d-19a5-4cca-ae4e-dea446af0ab8","type":"letsencryt","status":"pending","common_name":"51-158-56-96.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"3433ce43-542a-4ba0-b36a-d0ac4df[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3433ce43-542a-4ba0-b36a-d0ac4dff4c9c/certificates?name=data-test-lb-cert&order_by=created_at_asc
    method: GET
  response:
    body: '{"certificates":[{"id":"87de206d-19a5-4cca-ae4e-dea446af0ab8","type":"letsencryt","status":"ready","common_name":"51-158-56-96.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"e304eb8ee57af6f3a1af4023262be83a3ade1000","not_valid_before":"2022-03-28T14:00:40Z","not_valid_after":"2022-06-26T14:00:39Z","lb":{"id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","name":"data-test-lb-cert","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"c1833f83-aafb-40e9-b790-eb38052ac20f","ip_address":"51.158.56.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3433ce43-542a-4ba0-b36a-d0ac4dff4c9c","reverse":"51-158-56-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T14:59:47.699864Z","updated_at":"2022-03-28T15:00:18.608775Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"data-test-lb-cert","created_at":"2022-03-28T15:00:18.585239Z","updated_at":"2022-03-28T15:00:41.294670Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3433ce43-542a-4ba0-b36a-d0ac4dff4c9c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3433ce43-542a-4ba0-b36a-d0ac4dff4c9c
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
